[2020-12-06 11:06] uecasm commented on #7352
No, in the end I decided that gRPC just wasn't ready for production use in C++ and went with a different protocol for that project.

I might have another look at it once they finally implement the callback API; without that you're just fighting the library every step of the way.

[2020-12-06 18:04] Androz2091 commented on #24846
Hello, I'm not sure it's the same error, but I'm getting these errors with Mac Mini m1 Apple Silicon:

![Capture d’écran 2020-12-06 à 19 03 11](https://user-images.githubusercontent.com/42497995/101288243-cfef1700-37f5-11eb-8bc2-5f5343ab36ba.png)
![Capture d’écran 2020-12-06 à 19 03 23](https://user-images.githubusercontent.com/42497995/101288246-d3829e00-37f5-11eb-8f04-dc0701ae6530.png)

Than

[2020-12-06 20:06] Androz2091 commented on #24846
Right, I tested using a Macbook Pro 2019 and same result so I guess that's not related. Marked my comments as off-topic.

[2020-12-06 21:08] tanglebridge commented on #24422
Identical issue with version 1.30.2 compiled from source using cmake. Ubuntu 20.04, gcc 9.5.

[2020-12-07 02:26] emrehe opened #24921 "sync_posix.cc:65 assertion failed: pthread_mutex_lock(mu) == 0"
### What version of gRPC and what language are you using?
gRPC 1.27，python 3.6.5

### What operating system (Linux, Windows,...) and version?
CentOS 7.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.6.5

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there

[2020-12-07 02:47] li-wu commented on #24884
I have the same issue.
* gcc (Debian 10.2.0-16) 10.2.0
* grpc 1.33.1/C++

[2020-12-07 05:17] jtattermusch commented on #24904
Our CI build tests with bazel 2.2 continously and it's passing - can you test with bazel 2.2 and let us know the result?

[2020-12-07 07:31] zenkog commented on #23259
Same problem here.. Help!! need this urgently.

[2020-12-07 09:01] jtattermusch commented on #19233
Is this still reproducible?

[2020-12-07 10:55] hungrybirder opened #24923 "Look forward to publish grpcio wheel for Big Sur (macos 11.0.*)"
HI,
Need wheels for  python3.6|3.7|3.8|3.9 ...

Thank you.

[2020-12-07 11:27] konste commented on #24904
We build with Bazel 3.7.0, but I don't believe it is the difference between Bazel versions which caused the discrepancy. Most probably it is some combination of --incompatible flags which was Ok in 2.2 and not Ok now.
For instance, we normally use `--all_incompatible_changes`, but to get gRPC even start to build we had to add
[code]
I suspect there is one or more incompatible flag we need to turn

[2020-12-07 13:13] kirualex commented on #24366
Ok so after much research, I finally found out that there can be some header conflicts through the `HEADER_MAP` mechanism in Xcode.
I've posted an answer pertaining to this issue here : https://stackoverflow.com/questions/65132661/cocoapods-header-conflict-between-libopus-and-abseil/65182313#65182313

[2020-12-07 13:13] #24366 closed

[2020-12-07 14:09] devjgm commented on #24904
@jtattermusch, I used https://github.com/bazelbuild/bazelisk to downgrade to bazel 2.2.0 and I still see the same build error. It's easy to reproduce following the instructions I included above, so you should be able to reproduce this yourself so you can figure out what's different with your CI setup and what us customers are doing. Thanks.

[code]

[2020-12-07 15:00] jtattermusch commented on #24902
Can you list the exact commands you've run?
Does a vanilla cmake build work for you? (it looks like you've run the build through macports with a ton of options).

See https://github.com/grpc/grpc/blob/master/BUILDING.md#building-with-cmake

[2020-12-07 16:42] markdroth commented on #24724
You're right, we did miss that.

If we actually need an explicit "use system root certs" knob, then it should be a field in `grpc_tls_credentials_options`, as you suggested above.  It does not make sense for it to be an attribute of the provider, because the provider should not have to know or care how the creds are configured; its job is just to provide the certs it was asked to provide, not to c

[2020-12-07 17:26] jiangtaoli2016 commented on #24724
Server can config whether it requires client certificate. Client always requires server certificate. I don't see how adding client equivalence of `grpc_ssl_client_certificate_request_type` could help.

Even server configs `GRPC_SSL_REQUEST_AND_REQUIRE_CLIENT_CERTIFICATE_AND_VERIFY`, server can still use default root or provide its own root.

[2020-12-07 17:29] markdroth commented on #24724
I'm not saying to add `grpc_ssl_client_certificate_request_type` on the client side.  What I'm saying is that on the server side, `grpc_ssl_client_certificate_request_type` already implicitly configures whether or not to use the system root certs.  So we need an equivalent thing on the client side: an option in `grpc_tls_credentials_options` to determine whether to use the system root certs.

[2020-12-07 17:32] markdroth commented on #24724
Oh, wait, I see what you're saying -- even on the server side, `grpc_ssl_client_certificate_request_type` doesn't really help, because we still can't tell the difference between "provide is not going to provide root cert" and "provider has not yet provided root cert", so we don't know whether to block the handshake or fail.

So yeah, I think we need a new option on both the client and server side

[2020-12-07 17:54] jiangtaoli2016 commented on #24724
Security connector needs a clear signal whether it uses default root. It could be internal to gRPC.

From non-xDS API, we do not have ambiguity as Zhen described: for StaticDataCertificateProvider it means empty root cert string, for FileWatcherCertificateProvider it means empty root cert path. Not sure about xDS use case though.

If xDS use case needs such clear signal, we can add to `grpc_tls_cr

[2020-12-07 18:00] tanglebridge commented on #21213
This affects my build as well, and the proposed fix works for me. It is still present in the latest (1.34). My environment:
- g++/gcc 9.3
- ubuntu 20.04
- C++, cmake

The libgrpc++ package that comes with ubuntu 20.04 _does not_ have this issue and works fine. I started developing with that (v1.16.1). Either the code has a different structure, they patched, or they built it differently.

ATM my so

[2020-12-07 18:11] xkszltl opened #24926 "bloaty->libFuzzer is not accessible"
### What version of gRPC and what language are you using?

Latest release tag/master, C/C++.

### What did you do?

`git clone --recursive https://github.com/grpc/grpc.git` is impossible in China because of submodule dependency chain `grpc->bloaty->libfuzzer` uses `googlesource.com`:
https://github.com/google/bloaty/blob/73594cde8c9a52a102c4341c244c833aa61b9c06/.gitmodules#L9

But googlesource.com

[2020-12-07 18:17] markdroth commented on #24724
The signal cannot be internal to gRPC.  It needs to be in `grpc_tls_credentials_options` even for the TlsCreds case, because as @ZhenLian mentioned earlier, the security connector needs to be able to tell the difference between the "I am not asking for a non-system root cert" and the "I have not yet received a root cert" cases.

[2020-12-07 18:28] jiangtaoli2016 commented on #24724
You are right, security connector takes grpc_tls_credentials_options as a parameter in ctor. If we add a bool to tell if it needs default roots, it needs to pass through grpc_tls_credentials_options.

[2020-12-07 19:14] konste commented on #24904
One thing we need to see (from both CI and the customer log) is the console output with `--announce_rc` option set because as I said before I suspect that the difference is not in the Bazel version used, but rather in a set of flags it is invoked with.

[2020-12-07 19:26] veblush commented on #21213
@tanglebridge What made you think `client_channel.cc` ends up being included in both `libgrpc.so` and `libgrpc++.so`? Can you share me with how to build and see those symbols are found in both? `client_channel.cc` should be in `libgrpc.so` only.

[2020-12-07 19:29] devjgm commented on #24904
[code]

[2020-12-07 19:48] tanglebridge commented on #21213
Using ar t to list the contents of the libraries (using grpc v1.27.3):
[code]
So it occurs in libgrpc.a, libgrpc_cronet.a and libgrpc_unsecure.a. In cmake I use find_package() pretty much as shown in examples.
I use an unsecure channel in my setup. Is it possible it pulls in both `libgrpc.a` and `libgrpc_unsecure.a`?

[2020-12-07 19:52] tanglebridge commented on #21213
And I didn't really answer your question I realize: I had the same problem occur as was described by others - not getting past BuildAndStart(), traced it down to the flag check. The fix that checks flag existence works for me.

Ergo: I have the same problem.

[2020-12-07 20:01] tanglebridge commented on #21213
@veblush I just had another realization and a question. My server uses the gRPC mediated client connection locally via domain socket to provide a service over tcp/ip. Both client and server link in the code in question. Since TraceFlag* is static they would operate on the same variable, and hence explain the duplication?

What I don't understand then is why this code worked when I linked dynamical

[2020-12-07 20:16] yashykt commented on #24917
@jtattermusch Do we still use this script?

[2020-12-07 20:39] konste commented on #24904
At this time we are doing binary search on the whole list of `--incompatible` flags trying to find the one which differs between our build and grpc CI and breaks the build for us.

[2020-12-07 20:44] konste commented on #24904
@jtattermusch I got a question for you: I see this file `com_github_grpc_grpc\tools\bazel.rc` and understand that it contains an extensive set of Bazel options necessary to build gRPC. In our case we don't build gRPC in its own workspace, but rather build it as the external repository to our primary workspace. In this scenario the flags from `com_github_grpc_grpc\tools\bazel.rc` are not participat

[2020-12-07 20:58] gitfool commented on #24153
I did a test with `Grpc.Core` version `2.34.0` and it works for `IncludeNativeLibrariesForSelfExtract` too! 😀

[2020-12-07 21:16] jiangtaoli2016 commented on #24918
When you see `Handshake failed`, the channel is not established. The title of this issue is misleading.

I suspect the problem is that you did not generate key/cert correctly. Try to use the client and server test credentials here (https://github.com/grpc/grpc/tree/master/src/core/tsi/test_creds) and see if you still see problems.

[2020-12-07 21:20] sometimescasey commented on #24390
Thanks so much for this thread!

I encountered this error today when deploying a Django app via AWS Elastic Beanstalk. I am not using `firebase-admin` but similar to you, a unknown package from my `requirements.txt` must have been installing an incompatible version of `grpcio` which led to these errors:

[code]

I added the line `grpcio==1.26.0rc1` to `requirements.txt` and kept moving it up until

[2020-12-07 21:27] veblush commented on #21213
@veblush libgrpc variants such as _unsecure are expected to have `client_channel` as well. So those variants should be used mutually exclusively.

Having the client and server should be fine and the same TraceFlags* are going to be used for both client and server. ODR violation usually happens when two libraries which are not designed to be used at once are loaded for some reason. Can you narrow d

[2020-12-07 21:29] mys007 commented on #24918
@jiangtaoli2016 I did see no |Handshake failed" message, there is also no message like that in the detailed logs I've attached. Moreover, the Python version works with the exact same keys/certs.

[2020-12-07 21:37] jiangtaoli2016 commented on #24724
It makes sense to add a method in `grpc_tls_credentials_options` to indicate whether to use default root. We also need to specify what to do if there is a conflict. E.g., if user specifies to use default root, but still passes a root pem or root filename. In that case, we should fail rather than silently using default root.

[2020-12-07 21:40] ZhenLian commented on #24724
Perfect! I will expose a new field in `grpc_tls_credentials_options` then. Thanks a lot for the great discussions here!

[2020-12-07 21:47] jiangtaoli2016 commented on #24918
Once you use SS credentials in gRPC, it won't fallback to insecure credentials. How did you know payload is not encrypted? From TCP dump?

How about for C++ client to C++ server, enable logs in both end and see what going on. You can enable logs via instructions below.
https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

[2020-12-07 22:06] yashykt commented on #24724
Why can't we just use `watch_root_certs()` for this?

For the client (always needs root certs), if the options do not say that we need to watch root certs, then it is a clear signal that we need to use default roots.
For the server (only needs root certs if configured with that certificate request type), if configured to require/request client roots but root certs are not watched, then we use defa

[2020-12-07 22:12] mys007 commented on #24918
I used `server0.key`, `server0.pem`, `ca.pem` and this made no difference.

Yes. I can see the endpoint and the Hello message in plaintext.

These are exactly the logs which I've posted in the issue before.

[2020-12-07 22:14] lidizheng commented on #24390
@sometimescasey Have you tried to install the latest release? If there is an installation issue (like unable to find the binary wheel), please file another issue. We generally recommend to use newer releases.

[2020-12-07 22:23] markdroth commented on #24724
Yash, that existing field basically tells the credentials to ask the cert provider for the root cert.  We need a separate option to tell it to use the system root certs.  Or maybe we can make the existing option an enum instead of a bool.  But either way, we can't just use it as-is.

[2020-12-07 22:24] rustyx commented on #21213
ODR violation happens when the same identifier with external linkage is linked into an application more than once, either statically or dynamically.

It actually happens left and right in the wild with all sorts of libraries and often goes unnoticed, only in case of `libgrpc` it causes an infinite loop in the trace chain. With a bit of defensive coding in that area (see my [earlier post](https://g

[2020-12-07 22:30] tanglebridge commented on #21213
@rustyx Thanks for that, your code snippet works for me too - saved the bacon. I am doing some dissecting of my code to make sure it is all as it should be.
@veblush I made sure to only have static libs available, and those are the ones linked in (using find_package() in cmake). I am trying to turn things off atm and doing some forensics. Knowing what to look for helps a lot!

[2020-12-07 23:51] markdroth commented on #24638
I think this should stay open, since we know that there are still bugs in how both the client and server code *uses* the URI API.

[2020-12-08 00:23] yashykt commented on #24724
If we do not ask the cert provider for root certs, and if we still need root certs, isn't that a sufficient signal to use system root certs?

[2020-12-08 00:56] emrehe commented on #24921
From former discussion thread, I tried to test on gRPC version 1.20, does not resolve this issue.

[2020-12-08 01:14] jiangtaoli2016 commented on #24724
I think @yashykt has a good point. `watch_root_cert()` in `grpc_tls_credentials_options` is a good indicator if the security connector needs to use default root. If `watch_root_cert()` is true, then default root should not be used, otherwise, default root should be used.

It looks that FileWatcherCertificateProvider does not call `set_watch_root_cert()`.

[2020-12-08 01:35] drfloob commented on #24638
Thanks, you're right. The other PR automatically closed it. This work is blocked by #24821.

[2020-12-08 01:57] konste commented on #24904
Another observation: @devjgm and myself are using MSVC for Windows build. What gRPC CI is using?

[2020-12-08 02:29] testerarm commented on #22316
[code]

So i think I am getting the same error: E1207 17:35:49.704812226    1537 call_op_set.h:973]          assertion failed: false

This is from this line: (call->response_reader)->Write(irq, writeOptions , (void*) call); // E1207 17:35:49.704812226    1537 call_op_set.h:973] assertion failed: false

call-> response_reader is type ClientAsyncReaderWriter, I still don't understand what is wrong.

[2020-12-08 05:32] sighingnow opened #24931 "grpc cannot be built using gcc-8.3.1 from manylinux2010 environment"
### What version of gRPC and what language are you using?

master/1.33.1/1.34.0/...

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 8.3.1, from the manylinux2010 docker image

### What did you do?

Build grpc from source

### What did you expect to see?

The build process should be ok.

###

[2020-12-08 05:35] sighingnow commented on #24931
Seems that there are a lot of works for the const cast: #18475, #18572, and even the effort 4 days ago #24841. I'm curious about why it is so hard for grpc to fix such a trivial compliation problem..

[2020-12-08 07:36] gm100861 opened #24932 "cmake should enforce compiler version"
OS:  CentOS Linux release 7.6.1810 (Core)
[code]

cmake params:
[code]

make error:
[code]

[2020-12-08 07:38] gm100861 commented on #24932
/usr/local/src/grpc-framework/third_party/abseil-cpp/absl/random/internal/distribution_test_util.cc:77:66: error: no matching function for call to ‘StrFormat(const char [45], const double&, double, const double&, const double&)’

[2020-12-08 07:52] BillyCraft commented on #24904
I am encountering the same issue using Bazel 3.7.1, is there any way to get this working? I am pretty unfamiliar with C++ build systems like Bazel.

[2020-12-08 09:58] jtattermusch commented on #24917
The scripts are unused, let's delete them: https://github.com/grpc/grpc/pull/24933

[2020-12-08 11:46] ndavydovdev commented on #17659
grpc.aio has the same issue on GKE wth python:3.8 image, has anybody resolved this problem?

[2020-12-08 12:07] pravi opened #24934 "grpc ruby built by debian causes segfault in gitlab"
### What version of gRPC and what language are you using?

1.30.2 ruby

### What operating system (Linux, Windows,...) and version?

Debian GNU/Linux both stable and unstable has this problem.

### What runtime / compiler are you using (e.g. python version or version of gcc)

10.2.1

### What did you do?

If I use the debian provided version ro ruby-grpc package, it caused a segfault in gitlab. mo

[2020-12-08 12:49] jukentpm opened #24935 "Visual Studio build error when upgrading to version 2.34.0: "Strong name signature could not be verified""
### What version of gRPC and what language are you using?
2.34.0  VB.NET

### What operating system (Linux, Windows,...) and version?
Windows Server 2019

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft .NET Framework Version:4.0.30319; ASP.NET Version:4.8.4250.0

### What did you do?
Upgraded via Nuget the packages Grpc.Auth, Grpc.Core, Grpc.Core.Api fr

[2020-12-08 12:58] ruuda commented on #15628
We hit this assertion in production yesterday. GRPC is used as a dependency in Google's official [Python `google-ads` client library](https://github.com/googleads/google-ads-python). The assertion aborted the process, so there was no opportunity for error handling, and our normal Python-based error reporting failed to collect more details because of this. Therefore, unfortunately the only data I h

[2020-12-08 13:03] jwfx commented on #24935
Same problem when trying to run unit tests that include the `Grpc.Core.Api` package at version 2.34.0.

[2020-12-08 14:00] #24917 closed

[2020-12-08 15:59] markdroth opened #24936 "FLAKE: alts_concurrent_connectivity_test on MSAN"
Here's an example of running the test from master 1000x on RBE, in which the test failed 7 times:

https://source.cloud.google.com/results/invocations/52a7b57d-4d42-4cc1-9aaa-e6e06abec997

The failures all seem to be this assertion failure:

[code]

I've only noticed the problem under MSAN, but it doesn't seem to be an MSAN-specific failure; it may just be that it runs slower under MSAN than in de

[2020-12-08 16:07] markdroth commented on #24724
Okay, I see what you're saying.  Yeah, `watch_root_cert()` could work on the client side, because we know we need the root cert there, so if we're not asking the provider for it, we must be using the system root cert.

What about on the server side, since we might not be using any root cert there?  Does the combination of `grpc_ssl_client_certificate_request_type` and `watch_root_cert()` allow con

[2020-12-08 16:08] wireman27 commented on #23796
We faced the exact same issue - multiprocessing with grpc leading to segmentation faults. We were using `1.34.0` in our case but downgrading to `1.30.0` resolved the issue. Haven't tried it with 1.32.0 and 1.33.0 yet.

[2020-12-08 16:09] markdroth commented on #24638
Is this actually different from #24821?  If not, feel free to close this as a duplicate.

[2020-12-08 16:29] konste commented on #24904
I have tried three Bazel flags which may potentially differentiate CI and user configuration:
[code]
but still got the same `undeclared inclusion(s)` error.

[2020-12-08 16:37] jiangtaoli2016 commented on #24724
Mark, Zhen and I looked at the existing default root cert behavior yesterday. It only applies on client side. Server side never uses default root. We can keep the same behavior.

[2020-12-08 16:44] markdroth commented on #24724
Why does server side never use the system root certs?  Don't we want some way to configure that, or do we not think that's something that users will ever need to do?

[2020-12-08 16:56] jiangtaoli2016 commented on #24724
It is not clear if we need server side using system root cert yet.

- Take Google APIs as example, it is one-side TLS, client could use default system root to verify server's cert. But server does not need to verify client cert.
- In many mTLS use cases for workload-to-workload communication, it is likely that the certificates are issued from a private CA (not chained to public roots). Thus server

[2020-12-08 16:59] sanjaypujare commented on #24724
If server needs to use root certs it is the mTLS case (which is TLS + client cert) where server will only accept a trusted client cert and use the client identity (derived from the client cert) in other scenario such as authorization. It doesn't make sense for the server to use system root certs in such a scenario. On the other hand in the TLS case where a client can trust the server based on syst

[2020-12-08 17:49] drfloob commented on #24638
This has become something of a parent issue for the effort, it seems worth keeping. #24701 was the bulk of the implementation, and #24821 is a specific problem blocking support for null bytes in URIs (hopefully the last 🤞 ).

[2020-12-08 18:03] gnossen commented on #23796
Sorry for the delay. This thread got buried in my inbox. @wireman27 @exzhawk @dmjef Can one of you please point me to your code and/or describe how to reproduce this issue?

[2020-12-08 18:29] konste commented on #24904
I see what is going on here, although don't know what is the correct way of fixing it.
[descriptor.upbdefs.c](https://github.com/grpc/grpc/blob/master/src/core/ext/upbdefs-generated/google/protobuf/descriptor.upbdefs.c#L10) does `#include "google/protobuf/descriptor.upbdefs.h"` and probably expects to load `descriptor.upbdefs.h` from the same folder. Unfortunately include folders for the compilati

[2020-12-08 18:48] ZhenLian commented on #24724
Sounds good! It seems we have reached an agreement here? From our discussions, I think right now we are making the default system root a behavior only on the client side, and we will apply it only when `watch_root_certs()` is set to "false". It wouldn't be too bad even if later on server wants to use default system roots as well - the server can specify the system default root locations manually f

[2020-12-08 18:50] lidizheng commented on #17659
@ndavydovdev `grpc.aio` should have `SO_REUSEPORT` on by default, and allows the application to turn it off via server creation options. It's guarded by unit tests. Do you have more details? if so, let's create another issue.

[2020-12-08 18:53] gnossen opened #24937 "//test/core/transport/chttp2:too_many_pings_test Failure"
https://source.cloud.google.com/results/invocations/4590ae7b-7bcd-4ddb-90db-41919cdc9e06/targets

[code]

Assigning to @markdroth as client_channel owner. Feel free to reroute if my impression is wrong.

[2020-12-08 18:54] markdroth commented on #24918
That seems like a serious problem.  Upgrading priority.  I've asked Yash to take a look.

[2020-12-08 18:59] jiangtaoli2016 commented on #24918
cc @ZhenLian @yihuazhang to keep an eye on it.

[2020-12-08 19:24] stanley-cheung commented on #24932
what's your `gcc --version`?

[2020-12-08 20:30] cgurnik commented on #23796
It looks like the default polling strategy changed from `epoll1` in v1.30 to `epollex` in v1.31. Unfortunately epollex doesn't have prefork support so it doesn't work with Celery: `Fork support is only compatible with the epoll1 and poll polling strategies`. We were able to work around this issue by setting `GRPC_POLL_STRATEGY=epoll1` on our Celery workers.

[2020-12-08 22:01] yashykt commented on #24918
I tried reproducing this by adding SSL credentials to the server and the client to the C++ hello world example.

On the server side,
[code]

On the client side,
[code]

With this, SSL handshaking was performed properly and the data was sent in an encrypted manned.

[code]

[2020-12-08 22:12] markdroth commented on #24724
If we discover a case in the future where we want to use the system root cert on the server side, will we have a way to support that?  Would we be able to use the combination of `grpc_ssl_client_certificate_request_type` and `watch_root_cert()` in that case?

[2020-12-08 22:26] jiangtaoli2016 commented on #24724
In the future, if server side needs to enable default system root, we can just make decision based on `watch_root_cert()`. If `watch_root_cert()` is true, then do not use system root. Otherwise, use default root. If the server configures to not require cert, adding system root won't hurt.

[2020-12-08 22:29] markdroth commented on #24724
Okay, then this sounds fine to me.

[2020-12-08 22:31] yashykt commented on #24918
This might be an environment/set-up issue given that we have interop tests to make sure that security works as expected across languages.

I am not familiar with vcpkg or conan unfortunately. We usually recommend using bazel, or alternatively cmake.
@mys007 would it be possible to run this example (with modifications) using bazel instead?

[2020-12-08 22:48] yulin-liang commented on #24869
This has been fixed, see b/174126929

[2020-12-08 22:48] #24869 closed

[2020-12-08 22:57] yashykt commented on #24918
Shooting a bit in the dark based on what I see from the logs -
The only handshaker that is invoked is the http_connect handshaker. The security handshakers are not invoked, which would suggest that that the security handshakers are not added which would suggest that security handshaker is not registered.

In a proper secure build that happens here -
https://github.com/grpc/grpc/blob/997dc017b9170c

[2020-12-09 00:09] davidraleigh opened #24939 "Python grpcio-tools==1.34.0 EXC_BAD_ACCESS (SIGSEGV) with mac 10.15.3"
### What version of gRPC and what language are you using?
pip package:
googleapis-common-protos==1.52.0
grpcio==1.34.0
grpcio-tools==1.34.0
protobuf==3.14.0

### What operating system (Linux, Windows,...) and version?
Mac 10.15.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.7

### What did you do?
Debugging  unit tests from this repo:
https://github

[2020-12-09 00:19] lidizheng commented on #24897
With the version pin removed in https://github.com/grpc/grpc/pull/24911, maybe we should reopen this issue. We still need a solution to avoid the version divergence. Btw, good finding about the root cause of the segfault!

[2020-12-09 00:21] lidizheng commented on #24939
The segfault happends again on `ArenaImpl` class, which is highly similar to https://github.com/grpc/grpc/issues/24897. They should share the same [root cause](https://github.com/grpc/grpc/issues/24897#issuecomment-739034798). I will close this one as duplicated, and let's forward discussion there.

[2020-12-09 00:21] #24939 closed

[2020-12-09 00:26] gnossen commented on #24897
Definitely. This was autoclosed by my PR, even though I struck out the "fixes bit". My bad for not catching it.

[2020-12-09 00:35] gnossen commented on #24939
@davidraleigh As a workaround in the short term, you can uninstall `grpcio-tools` from your runtime environment.

[2020-12-09 02:15] cjhlai opened #24940 "error: no matching function for call to ‘StrFormat(const char [45], const double&, double, const double&, const double&)’ moments.skewness, moments.kurtosis)"
OS:CentOS Linux release 7.7.1908
gcc version: 4.8.5
cmake version 3.19.1
 when i run
mkdir -p cmake/build
cd cmake/build
cmake ../.. -DBUILD_SHARED_LIBS=ON -DgRPC_INSTALL=ON
make -j$(nproc)

it returns errors like these:

[ 47%] Built target absl_random_distributions
[ 47%] Building CXX object third_party/protobuf/CMakeFiles/protoc.dir/__/src/google/protobuf/compiler/main.cc.o
Scanning dependencie

[2020-12-09 04:28] wireman27 commented on #23796
@gnossen Reproducing might be difficult because we use `google-cloud-translate` to translate some text and it's exactly that snippet of the translate request to Google that seems to cause the segmentation fault. (It works fine without the translation snippet).

Important to note here is that we initialise 10 sub-processes with `multiprocess.Process()` and each of these sub-processes are making tra

[2020-12-09 08:00] cjhlai commented on #24940
@nicolasnoble @hassox @timburks @blowmage need your help,tks

[2020-12-09 08:47] nikiladonya opened #24942 "grpc-testing not supports grpc.aio"
### What version of gRPC and what language are you using?
1.33.2

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 20

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?
My servicers use grpc.aio and `context.abort` inside method.
My tests can't check `abort` call cause signature of call `grpc_testing._server.

[2020-12-09 08:53] davidstosik commented on #24881
Thank you, I've been looking for this for half an hour! 🙏🏻

[2020-12-09 10:35] Shikugawa opened #24943 "`startCall()` won't be invoked on re-established TCP connection."
### What version of gRPC and what language are you using?
1.33.0

### What operating system (Linux, Windows,...) and version?
Linux 5.4.0-56-generic #62~18.04.1-Ubuntu SMP Tue Nov 24 10:07:50 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang version 10.0.0
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDi

[2020-12-09 11:25] ndavydovdev commented on #17659
@lidizheng Hello! Sorry, I've already fixed that. Issue was that I'm using envoy to proper balancing, so I set `reuse_port: true` in `envoy.yaml` configuration and now it works as expected.

[2020-12-09 11:47] mys007 commented on #24918
Thank you so much for having looked into the issue! With the official cmake build setup it works (gRPC 1.33), the communication is encrypted. So I was trying to understand why. And it seems to be due to the ordering and/or choice of gRPC libs being linked to. When I remove `grpc++_unsecure.lib`, `grpc_unsecure.lib`, `grpc_cronet.lib` from the list, it works also for conan and vcpkg. But I find it

[2020-12-09 12:51] nvh0412 commented on #24084
@markdroth  and @apolcyn is there any chance to make it happen?

[2020-12-09 14:40] owlas commented on #24677
@VagifMammadaliyev - I introduced another error with `GRPC_PYTHON_BUILD_SYSTEM_RE2=true`

The following works for me:

`GRPC_BUILD_WITH_BORING_SSL_ASM="" GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true GRPC_PYTHON_BUILD_SYSTEM_ZLIB=true`

[2020-12-09 14:52] billblackert commented on #23796
I am able to reproduce it (or something very similar using 1.20.1. I am running uwsgi in master/worker mode and anytime a GRPC request is issued, I get the following segfault:
Thread 8 (Thread 0x7f41ff4c1700 (LWP 7018)):
#0  0x00007f4216f9836b in pthread_rwlock_wrlock () from /usr/lib64/libpthread.so.0
#1  0x00007f41fd8e3a49 in CRYPTO_THREAD_write_lock ()
   from /usr/local/lib64/python3.6/site-pa

[2020-12-09 15:45] #24084 closed

[2020-12-09 16:07] huangqiangxiong opened #24944 "grpc-c++: Support exporting master keys of TLS"
[Wireshark](https://www.wireshark.org) is an open source network protocol
analyzer, which can be used for protocol development, network troubleshooting,
and education. Currently Wireshark can analyze gRPC messages transmitted in plain text (https://gitlab.com/wireshark/wireshark/-/wikis/grpc), but it will be helpful if there is a way to export TLS master keys into a [key log file](https://gitlab.c

[2020-12-09 16:43] jabolopes opened #24945 "const request in experimental async server streaming generated API"
Hi,

The request of a server streaming RPC is not const in the experimental async API. It seems like an API bug. It was probably intended to have "const $Request$* request" in the following lines instead of "$Request$* request", since the request is const in other APIs (e.g., the unary RPC and the server streaming RPC of the sync API.

Affected LOCs:
* https://github.com/grpc/grpc/blob/master/src/

[2020-12-09 17:29] konste commented on #24904
@jtattermusch my previous comment has the theory of why the build is broken on Windows and now I think I see why your CI does not detect it. I have tried the build on Mac and it passes although include folders are listed in the same order. The difference is that Bazel builds on Mac are sandboxed by default and the generated file `execroot\com_github_grpc_grpc\bazel-out\x64_windows-fastbuild\bin\ex

[2020-12-09 18:12] lidizheng commented on #24942
Good finding that the type annotation is incorrect. `grpc.aio.ServicerContext.abort` should only have one mandatory argument `code`, and the other two should be optional (keyword argument). The PR is created as https://github.com/grpc/grpc/pull/24946.

But I'm not sure if that will help grpc-testing. Adding asyncio support for grpc-testing is not on our roadmap yet. Contribution is welcome :)

[2020-12-09 18:12] JustinC92130 commented on #24935
sn.exe is failing the strong-name validation.

[code]

[2020-12-09 18:46] yashykt commented on #24770
There already seems to be a check here for got_message - https://github.com/grpc/grpc/blob/600dd1b86c1c0b4cf4bafd21391f15f4b44b0738/include/grpcpp/impl/codegen/call_op_set.h#L480

Is there a quick test that you can provide for this to help reproduce this?

[2020-12-09 18:52] stanley-cheung commented on #24940
you need gcc version 4.9+. https://grpc.io/docs/

[2020-12-09 19:24] yashykt commented on #15628
@veblush @drfloob Y'all might be interested in this.

[2020-12-09 21:28] mwlang opened #24951 "Lots of warnings about write_flag not being initialized"
### What version of gRPC and what language are you using?
Version: gRPC 1.34.0
Language: Ruby 2.6.6 and 2.7.2

### What operating system (Linux, Windows,...) and version?
macOS 10.15.7

### What runtime / compiler are you using (e.g. python version or version of gcc)
whatever is commonly installed for macOS and homebrew for compiling Ruby native gems.

### What did you do?
Running unit tests in ou

[2020-12-09 22:38] lidizheng opened #24952 "Flake: //src/python/grpcio_tests/tests_py3_only/unit:_simple_stubs_test"
`grpc/core/pull_request/linux/grpc_python_bazel_test`
https://source.cloud.google.com/results/invocations/906a0e28-e4f3-46a9-9d46-c755853f63ef/targets

[code]

[2020-12-10 02:11] cjhlai commented on #24940
Thanks @stanley-cheung ,but when i update gcc  to 8.3.1.it return another  error:
*** Error in `php': munmap_chunk(): invalid pointer: 0x00007ff61ad535d0 ***
======= Backtrace: =========
/usr/lib64/libc.so.6(+0x7f7c4)[0x7ff627e5f7c4]
/usr/local/lib/libprotobuf.so.25(_ZNSt10_HashtableISsSt4pairIKSsN6google8protobuf25FieldDescriptorProto_TypeEESaIS5_ENSt8__detail10_Select1stESt8equal_toISsESt4hashIS

[2020-12-10 02:19] stanley-cheung commented on #24940
I am not sure how `php` is related to this? I thought you just ran `cmake` from the root directory of the repo? How did `php` come into play?

[2020-12-10 03:34] veblush commented on #24904
@konste @devjgm Could you test #24953 to see if it addresses this issue?

[2020-12-10 04:20] konste commented on #24904
I just tested and can confirm that https://github.com/grpc/grpc/pull/24953 fixes Windows build. Woohoo!
@veblush could you maybe add a two lines fix for https://github.com/grpc/grpc/issues/24910 for the full package? ;-)

[2020-12-10 04:32] Shikugawa commented on #24943
This is not bug. Only for my wrong usage of Completion Queue. Thanks.

[2020-12-10 04:32] #24943 closed

[2020-12-10 08:17] aleneum commented on #23488
Is there a more streamlined way than what @veronicagarciavazquez outlines? It's great that it actually works but it could be easier imho. I still think this is has not been solved so far.

[2020-12-10 09:48] JonasVautherin commented on #21974
For the record, I have the exact same undeclared identifiers, when building OpenSSL for iOS (ios64-xcrun) and iOS-Simulator (iossimulator-xcrun), as seen below:

[code]

As suggested by @ksophocleous, I modified `ssl_transport_security.cc` to account for the `no-engine` option, with the following patch:

[code]

_Note: I don't actually set the `no-engine` option, but I presume that the ios64-xcrun

[2020-12-10 10:24] lehmamic commented on #24056
I have this problem as well, it still exists in the newest nightly build version. I used an old version: grpc-protoc_linux_x64-1.26.0-dev which works. The problem is, generated clients are not compatible with that version anymore and need some manual correction in order to compile.

[2020-12-10 13:54] Bklyn commented on #7352
@uecasm I totally agree about the impedance mismatch w/the current gRPC APIs.  Care to comment on what you used instead of gRPC?

[2020-12-10 15:15] markdroth opened #24957 "FLAKE: python_linux_opt_native_py35_native_test_protoc_plugin_beta_python_plugin_test_PythonPluginTest.py35_native.test.protoc_plugin.beta_python_plugin_test.PythonPluginTest"
https://source.cloud.google.com/results/invocations/a8493370-2030-4eb0-b4d6-5ee435b61b3d/targets/github%2Fgrpc%2Frun_tests%2Fpython_linux_opt_native%2Fpy35_native.test.protoc_plugin.beta_python_plugin_test.PythonPluginTest/tests

[code]

[2020-12-10 15:20] Bhanuchander210 opened #24958 "build fails while installing in coral dev board (linux-aarch64)"
Got build error message while trying to install `google-cloud-pubsub` in **Coral developer board**.

### Environment details

[code]
- Python version: 3.7.3
- pip version: 20.3.1
- grpcio-1.34.0

### Build Error

[code]

### similar issues
- [https://github.com/googleapis/python-pubsub/issues/251](https://github.com/googleapis/python-pubsub/issues/251)
- [https://github.com/grpc/grpc/issues/23373]

[2020-12-10 16:39] jiangtaoli2016 commented on #21974
@JonasVautherin Thanks for the patch. I will merge a PR to fix this issue.

[2020-12-10 19:50] qlisc commented on #24770
Thanks @yashykt. I think you are right. The intercepter internal recv message buffer should be null if !got_message. The crash could be related to our implementation or other places. You can close the ticket. We are not able to reproduce the crash right now. I will comment/reopen this ticket if we have a reliable reproduce of the crash in the future.

btw, if !got_message, do you think it's a good

[2020-12-10 20:03] veblush opened #24960 "Adding a test with openssl or variants without TLS v1.3 support"
From the recent regression fixed by #24955, it's necessary to have a test with openssl or variants without TLS v1.3 support. It will be added to Linux primarily because it's quite easy to establish those environment with docker. Libressl could be considered to be added too.

[2020-12-10 20:35] jiangtaoli2016 commented on #24960
Another related issue https://github.com/grpc/grpc/pull/24959

[2020-12-10 20:42] uecasm commented on #7352
Protobuf message queue over a hand-rolled TCP connection.  So not using the actual RPC parts in the end.

[2020-12-10 21:05] matthewstevenson88 commented on #24960
As @jiangtaoli2016 mentioned, it would be useful to also test OpenSSL 1.0 and BoringSSL 1.0, since SSL transport security has a bunch of #ifdef's that single out those older versions.

[2020-12-10 23:17] veblush commented on #24904
Thanks @konste for the test! I'll take a look at your issue.

[2020-12-10 23:19] veblush commented on #23997
Oh this should be fixed with the PR above.

[2020-12-10 23:19] #23997 closed

[2020-12-11 02:12] qnighy commented on #24881
To build native gems by myself, the following patch was useful. https://github.com/Blosc/python-blosc/issues/229#issuecomment-676819560

[2020-12-11 04:17] LearHan opened #24963 "grpc ErrorCode:2 ErrorMessage：Stream remove"
### What version of gRPC and what language are you using?
gRPC_1.26

### What operating system (Linux, Windows,...) and version?

Windows xp sp3
### What runtime / compiler are you using (e.g. python version or version of gcc)
visual studio 2019 && C++

### What did you do?
Two threads mutually exclusive access to the GRPC interface. The first thread can successfully access the GRPC interface.When

[2020-12-11 06:16] zl973320887 commented on #22576
cmake ../ -DgRPC_BUILD_TESTS=OFF **-DABSL_ENABLE_INSTALL=TRUE** -DBUILD_SHARED_LIBS=ON

[2020-12-11 08:03] ksophocleous commented on #21974
great to see this fixed! I'm closing the issue

[2020-12-11 08:03] #21974 closed

[2020-12-11 15:12] Bhanuchander210 commented on #24958
Actually it works with lower version.. 1.29.0

[2020-12-11 15:35] MarineKh opened #24966 "gRPC instalation failed (installing gRPC-C++ podspec)"
**Step 1: Describe your environment**
Xcode version: 12.2
npm version: 6.14.8
node version: v14.15.0
ruby version - 2.6.3p62
Installation method: CocoaPods

**Step 2: Describe the problem**
Steps to reproduce:
Tried install pod inside ios folder but failed when installing gRPC-C++ (1.28.0)

Installing Yoga (1.14.0)
Installing abseil (0.20200225.0)
Installing boost-for-react-native (1.63.0)
Install

[2020-12-11 17:22] xkszltl commented on #24926
@nicolasnoble Any news on this?

[2020-12-11 20:00] #24219 closed

[2020-12-11 23:45] #24894 closed

[2020-12-12 13:59] TheDiveO commented on #21283
Any chance on this? At the moment I need to build aarm64 Docker images requiring grpcio and protobuf on RPi 4B/8G and more than often image caching breaks, so this feels like my ZX81+16KB in slow mode emulating a 4004 using drum storage...

[2020-12-12 16:45] q4559908 opened #24973 "Android examples cannot be build in armeabi-v7a"
If I don't change anything and build directly, it will succeed.

Android Studio Will report a mistake "http_connection_manager.upb.c.o: No such file or directory"

I'm sorry, my English is not very good

[2020-12-12 19:01] vbuzzegoli commented on #23325
I'm currently encountering issues using `grpc` while building my electron app on apple silicon.
Does `grpc` now supports ARM? What options do we have from there?

Running:

node-gyp >=7.1.0
electron-rebuild >=1.12.0
electron-packager >=15.1.0
electron >=11.1.0

as per this documentation: https://www.electronjs.org/blog/apple-silicon

[code]

[2020-12-12 19:06] vbuzzegoli opened #24975 "Apple Silicon support"
I'm currently encountering issues using `grpc` while building my electron app on Apple Silicon.

Is `grpc` available on Apple Silicon? What are the options when running on these platforms?

Running on macOS Big Sur 11.0.1:

grpc 1.24.3
node-gyp >=7.1.0
electron-rebuild >=1.12.0
electron-packager >=15.1.0
electron >=11.1.0

as per this documentation: https://www.electronjs.org/blog/apple-silicon

[

[2020-12-12 22:52] hungptit opened #24976 "Some absl libraries are missing when building and installing grpc using CMake with `ABSL_ENABLE_INSTALL=ON`"
If I build and install grpc locally using CMake with this option `ABSL_ENABLE_INSTALL=ON` then  I won't be able to use gRPC in my projects because the configuration step is failed with below error messages. Everything will be back to normal if I set `ABSL_ENABLE_INSTALL=OFF`.

[code]

[2020-12-13 01:46] Ashtacore commented on #21283
@TheDiveO In my testing I was able to get version 1.32 to compile most of the time (later version just fail outright but I'm on a 2gb pi). However the wheel is small enough that I simply distribute it with my application.

[2020-12-13 05:02] TheDiveO commented on #21283
It actually builds every time on my Ubuntu 20.04 aarm64 on an RPi4B with 8GB, it's just incredibly slow, so not really usable in CI without lots of work on caching infrastructure of intermediate build images.  I would like to avoid checking in wheels, if possible, as this creates a maintenance nightmare, especially with aarm64 and amd64 simultaneously.

[2020-12-13 20:06] xieus commented on #23297
@kitcheung1480 Thanks for sharing. Somehow my tried your SQL query but it doesn't work out..

[2020-12-13 20:06] xieus commented on #23297
@jtattermusch I was wondering if we are getting closer to resolve this issue.

[2020-12-14 03:29] AvramM opened #24977 "Add missing metadata into DLLs"
Many OEM manufacturers require that software shipped with their devices meet certain requirements. One that I'm facing right now is that all DLLs and executables must have complete metadata (in my case, specifically the version number).

Two of the DLLs that I need to ship have missing metadata, specifically:

- `grpc_csharp_ext.x86.dll`
- `grpc_csharp_ext.x64.dll`

Please alter the build scripts

[2020-12-14 03:46] dave-pollock opened #24978 "Segmentation Fault on Windows with Ruby and GRPC 1.34.0"
I am getting a segmentation fault trying to initialise the Google KMS client with grpc v1.34.0. The exception does not occur after downgrading to grpc v1.32.0.

### What version of gRPC and what language are you using?
Ruby grpc (1.34.0 x64-mingw32)

### What operating system (Linux, Windows,...) and version?
Windows 2016

### What runtime / compiler are you using (e.g. python version or version o

[2020-12-14 03:56] kitcheung1480 commented on #23297
for your reference here:

SELECT
	summary.latency50 / 1000 as value,
    DATE_ADD(metadata.created, -8, "HOUR") as date,
    scenario.name as scenario
FROM
	[grpc-testing:performance_released.performance_experiment]
WHERE
	metadata.created >= DATE_ADD(CURRENT_TIMESTAMP(), -13, "WEEK") AND
    (scenario.name = "java_protobuf_unary_ping_pong_secure" OR
     scenario.name = "ruby_protobuf_unary_ping_

[2020-12-14 04:06] km-hussain-in commented on #23336
@jsmouret your solution does not work on 64-bit raspbian

E: The value 'buster-backports' is invalid for APT::Default-Release as such a release is not available in the sources

[2020-12-14 04:54] jsmouret commented on #23336
Can you try an `apt-get update` ?

[2020-12-14 06:32] xieus commented on #23297
Thanks, @kitcheung1480  Here is the screenshot from my side. I adjusted the number of weeks, from -13, to -50, -100. No luck so far

![image](https://user-images.githubusercontent.com/12957223/102047870-ea476880-3d92-11eb-9e31-b141f6088d3e.png)

[2020-12-14 09:06] jtattermusch commented on #23297
We are still working on a new framework to run the OSS benchmarks (in a more stable a maintainable way).
Hopefully we'll have the dashboard populated by the new benchmarks in Q1 2021.
This is the repository to track https://github.com/grpc/test-infra/tree/master/benchmarks

[2020-12-14 09:08] jtattermusch commented on #21283
CC @jtattermusch

[2020-12-14 09:10] jtattermusch commented on #24975
Currently we don't provide support for Apple Silicon (ARM on mac). This is something that might change in the future so please stay tuned.

[2020-12-14 09:10] #24975 closed

[2020-12-14 09:11] jtattermusch commented on #23325
Currently we don't provide support for Apple Silicon (ARM on mac). This is something that might change in the future so please stay tuned.

[2020-12-14 09:49] jtattermusch commented on #24904
I think your analysis makes sense. Thanks for taking the time to investigate.

[2020-12-14 10:04] linnaea commented on #21446
Here's another workaround: try creating a link from /lib64 to /lib before installing libc6-compat, 1.1.19 did this while 1.1.20 onward have separate /lib and /lib64 with ld-linux-x86-64.so.2 in /lib64 and the rest in /lib.

[2020-12-14 10:21] jtattermusch commented on #24904
Simple way of reproducing on linux:
[code]

which confirms the theory presented by @konste here https://github.com/grpc/grpc/issues/24904#issuecomment-741924543

[2020-12-14 11:51] jskeet commented on #24935
@jtattermusch: Could I suggest that this be raised to a p1? I've encountered the same problem in google-cloud-dotnet, and I believe it makes the 2.34.0 a non-starter for us at the moment.

[2020-12-14 12:29] kitcheung1480 commented on #23297
Have you press refresh afterwards?

[2020-12-14 13:30] jtattermusch commented on #24935
I suspect this could have been caused by https://github.com/grpc/grpc/pull/24440.

Maybe this is the problem with strong name missing after building on Linux?
https://github.com/grpc/grpc/blob/b2ca2ba2851cf12c40d25cbd2120956d4d21cc2b/src/csharp/build/common.props#L19

[2020-12-14 13:34] jskeet commented on #24935
Yes, that would definitely do it... that shouldn't be needed any more, as .NET Core has been able to sign on Linux for a while now.

[2020-12-14 13:38] jtattermusch commented on #24935
trying out the fix: https://github.com/grpc/grpc/pull/24980
I'll post link to the adhoc-built nuget packages once available so that they could be tested.

[2020-12-14 19:36] hungptit opened #24984 "The protobuf CMake files is missing for Windows's install"
I use the below Powershell commands to build gRPC on Windows

[code]

The installation process works, however, I could not find the protobuf CMake files in the installed folder
[code]

I have verified that I can see the protobuf CMake files in both macOS and Linux builds and below is the sample output

[code]

[2020-12-14 19:40] lidizheng opened #24986 "[FLAKE] Ruby artifact build times out on macOS"
https://source.cloud.google.com/results/invocations/b92f1166-648a-4347-ac2e-0e3c606dcd25/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[code]

[2020-12-14 20:12] yulin-liang commented on #24966
Do you use gnu-sed? If so, you need to use macos's default SED instead.

[2020-12-14 22:45] robbrit commented on #21963
Going to +1 this one; gRPC is the only thing in our stack that still uses Python 2. Python 2 is dead and gone, they are no longer releasing security updates for it or anything.

Even executing the final built executable doesn't require Python 2 (our production Docker containers don't have it installed), it's just the gRPC build process that seems to want to look for Python 2 headers.

[2020-12-14 22:56] gnossen commented on #21963
I actually think this has been taken care of: https://github.com/grpc/grpc/pull/24407

@robbrit Are you still seeing issues?

[2020-12-15 01:55] essandess commented on #24902
These build commands tickle the issue:
[code]

[2020-12-15 06:34] jtattermusch commented on #24935
@jskeet   the adhoc build of nugets from #24980  is here:
https://storage.cloud.google.com/grpc-testing-kokoro-prod/test_result_public/prod/grpc/core/master/linux/grpc_build_packages/15065/20201214-075255/github/grpc/artifacts/csharp_nugets_windows_dotnetcli.zip
Can you please verify that these packages work for you?

[2020-12-15 08:44] jskeet commented on #24935
@jtattermusch: Yes, those look good to me. I've only done a test of "reproduce that I can make it fail by running tests; change the dependency version; run the same tests successfully" but given the clarity of the error, I think that's enough in this case.

[2020-12-15 11:43] shelmingsong commented on #23340
@bettdouglas @changqing98 @XiaokangLiuCUG @sakthivel-chidambaram

I had the same issue today, and this problem occurs only on the python client, there is nothing wrong with my go client.

This problem stopped when I turned off the network proxy, but I don't know what the underlying cause was.

I don't know if that helps you.

[code]

[2020-12-15 12:22] bettdouglas commented on #23340
@shelmingsong where do you set that?

From what I've observed the last two weeks, if you don't call server.stop(0) somewhere in your program, it seems the connection is not stopped and so the port is still bound to the previous server.

I noted that python server has no way to access the port which the server is running on which causes problems even for logging purposes.

[2020-12-15 14:16] yashykt commented on #24918
The BUILD file is pretty descriptive. What kind of documentation are you looking for?

We cannot return an error from init_unsecure.cc since that is a valid path for insecure builds. We can potentially log a warning though.

[2020-12-15 14:35] robbrit commented on #21963
We're using an older release of gRPC (v1.31.1), it's the newest one that compiles. The latest one (v1.34.0) gives a compile error when we attempt to use it:
[code]
This error doesn't seem terribly useful, let me know if anything else could help.

[2020-12-15 15:00] mys007 commented on #24918
I wish for a document I could refer to when I want to add gRPC to my C++ project and I need to know which lib files I should link to. As this thread shows, it's not trivial.

This is quite unexpected to me, so...

...that would be great!

[2020-12-15 17:03] cpaulik commented on #23796
We have a similar issue.

We are running processes in multiprocessing using google cloud pubsub. The code we are using is very similar to the function `synchronous_pull_with_lease_management` from the [pubsub client examples](https://github.com/googleapis/python-pubsub/blob/master/samples/snippets/subscriber.py#L522)

With all versions above 1.30 we get messages like these:

[code]

and then segme

[2020-12-15 17:22] hungptit opened #25002 "The CMake build process is failed if BUILD_SHARED_LIBS is set to ON (on Mac)"
### What version of gRPC and what language are you using?

C++ build version v1.34.0

### What operating system (Linux, Windows,...) and version?

macos 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELEASE_X86_64 x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)

Configured with: --prefix=/Library/Developer/Comma

[2020-12-15 17:35] gnossen commented on #21963
Yeah, unfortunately all the useful bits are truncated from that error message. I think [`--verbose_failures`](https://docs.bazel.build/versions/master/user-manual.html#flag--verbose_failures) is the flag you'll want to use.

[2020-12-15 19:02] Emil-Hansen opened #25003 "Creating a retry policy using the service config causes"
### What version of gRPC and what language are you using?
1.34.0, python
(Though also tried grpcio 1.33.2 and 1.32.0)

### What operating system (Linux, Windows,...) and version?
Tested on Ubuntu 20.04 (docker), buster (docker) and MacOS 11.1 results were the same in all cases

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8

### What did you do?
Create

[2020-12-15 19:27] konste commented on #24904
@veblush When can we have your fix merged into master?

[2020-12-15 20:26] markdroth opened #25004 "FLAKE: github/grpc/run_tests/csharp_windows_dbg_native_default_coreclr/csharp.Grpc.IntegrationTesting.InteropClientServerTest[default]"
https://source.cloud.google.com/results/invocations/df1f5885-d3ee-4c13-a9cd-8a92690660e1/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_dbg_native_default_coreclr%2Fcsharp.Grpc.IntegrationTesting.InteropClientServerTest/tests

[code]

[2020-12-15 20:29] markdroth opened #25005 "FLAKE: //src/python/grpcio_tests/tests_aio/unit:secure_call_test"
https://source.cloud.google.com/results/invocations/da6c1b8e-46fc-4e44-b54b-e15a41f885f3/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

[code]

[2020-12-15 20:30] gnossen opened #25006 "Add Type Annotations to _runtime_protos.py"
As requested [here](https://github.com/grpc/grpc/pull/24993#discussion_r543626246).

[2020-12-15 23:39] gnossen commented on #23905
[The timeout strikes again!](https://source.cloud.google.com/results/invocations/6c52c1a5-a08e-4271-9631-5a40ed409655/log)

[2020-12-15 23:40] #24897 closed

[2020-12-16 00:43] gnossen commented on #23905
Seeing this [pretty consistently](https://source.cloud.google.com/results/invocations/7040961a-61c9-4972-8b56-cfe8d9b44662/log) now, actually.

[2020-12-16 02:44] MaxBrinegar commented on #21926
Any update on this?

[2020-12-16 13:17] yashykt commented on #24160
@srini100 Is this still relevant?

[2020-12-16 15:27] markdroth commented on #21926
No, there's been no work on this.  It's not likely to get any attention any time soon, since we have so many other higher priority projects.

[2020-12-16 16:54] StingyJack opened #25015 "The C# generated client should use the Interface the service implements.."
### Is your feature request related to a problem? Please describe.
The problem is that I cant properly identify callers to the service. I have to hunt through our codebase as text or guess at the callers when making changes.  Having the client use the service's interface, and not a copy of it, means that all the navigation tools (namely "Find all References" in VS, but others) can locate usages an

[2020-12-16 18:00] srini100 commented on #24160
Not relevant anymore since 1.34 has been released.

[2020-12-16 20:33] gnossen opened #25016 "macos/grpc_build_artifacts Fails During brew update"
[code]

[I've only seen it once so far.](https://source.cloud.google.com/results/invocations/b0eabba6-dbf9-4969-9559-bb3a53078855/log)

[2020-12-16 20:36] gnossen commented on #25016
Also seeing this on the [Ruby MacOS basic tests](https://source.cloud.google.com/results/invocations/8821ba8c-7401-46c7-9ac7-8edc484465f9/log). The tmux brew package could be broken, but I would expect the other  MacOS tests to also be broken in that case. On this PR, I'm only seeing Ruby fail.

[2020-12-16 20:39] gnossen commented on #25016
Two more: ([1](https://source.cloud.google.com/results/invocations/a0a99fd4-5bba-4500-b7d9-e5164251705d/log), [2](https://source.cloud.google.com/results/invocations/d69a3205-fe7c-4107-911b-4917af1d7786/log))

[2020-12-16 20:41] gnossen opened #25017 "PHP MacOS Build Failure"
[code]

https://source.cloud.google.com/results/invocations/20a1e71b-4733-4bde-b123-1ddacd6d2f0d/log

Potentially related to https://github.com/grpc/grpc/issues/25016 ?

[2020-12-16 20:48] yashykt commented on #25016
Assigning to build nurse

[2020-12-16 21:44] stanley-cheung commented on #25017
Hm, so looks like the PHP headers themselves went away, or cannot be found (permission issue)? Is it a new set of MacOS environment? Because this should have worked before right?

[2020-12-16 21:45] gnossen commented on #25017
This is not a new build environment AFAIK. This was just a PR test on the `v1.34.x` branch.

[2020-12-17 01:46] stanley-cheung commented on #25017
Interestingly, this is the only failure in the last 25 builds: https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_php

[2020-12-17 03:04] judywangsg opened #25020 "Global grpc initialization issue"
### What version of gRPC and what language are you using?
grpc 1.21 c++

### What operating system (Linux, Windows,...) and version?
Oracle Linux Server (version 7.5)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 8.2.0

### What did you do?
We're using grpc to communicate between two parties (java on server and c++ on client). On the client application, com

[2020-12-17 04:49] #23816 closed

[2020-12-17 04:49] #24024 closed

[2020-12-17 04:49] #23853 closed

[2020-12-17 04:58] XinLin opened #25021 "grpc_core crashed on tsi_ssl_root_certs_store_create(char const*)"
### What version of gRPC and what language are you using?
gRPC Objective-C v1.31.0

### What operating system (Linux, Windows,...) and version?
iOS 12.X, 13.X and 14.X
iPhone 6 to iPhone 12

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode Version 11.6 (11E708)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific s

[2020-12-17 05:04] XinLin opened #25022 "grpc_core crashed on ERR_error_string_n"
### What version of gRPC and what language are you using?
gRPC Objective-C v1.31.0

### What operating system (Linux, Windows,...) and version?
iOS 12.X, 13.X and 14.X
iPhone 6 to iPhone 12

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode Version 11.6 (11E708)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific s

[2020-12-17 05:12] XinLin commented on #25022
We saw 43 crashes in 7 days.

[2020-12-17 05:12] XinLin commented on #25021
We saw 51 crashes in 7 days.

[2020-12-17 07:53] ZhenLian commented on #25021
Thanks for reporting the problem. Can you please provide some context about these crashes, for example, did the crash happen on the server side or the client side, or both? how did you set up your gRPC applications, especially the SslCredentials? Were you using any self-provided certificates, or system default ones? Did these crashes happen suddenly after running for while, or happen after a gRPC

[2020-12-17 08:16] mfechner commented on #22845
What can we do here?
I really would like to have a newer grpc version rolled out on FreeBSD.

[2020-12-17 09:59] 27149chen commented on #5014
please re-open this issue

[2020-12-17 11:44] asears opened #25024 "Cannot install grpcio on Windows with python 3.8.6 and pip"
### What version of gRPC and what language are you using?
cygrpc for python, latest from pip.

### What operating system (Linux, Windows,...) and version?
Windows 1809 build 17763.1637

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8 64-bit, pip 20.3.3, conda 4.7.11

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2)

[2020-12-17 16:36] haberman commented on #22845
Is there any way of getting a stack trace? That would really help narrow down what is going on here.

Also is there a relatively easy way of reproducing this in a VM?

[2020-12-17 17:33] XinLin commented on #25021
Thanks @ZhenLian for the quick response.

these crashes happened on iOS client side.

we load the pemRootCertificates into memory and pass it to `pemRootCertificates`
[code]

we rolled out the product with v1.31.0 gRPC Objective-C in production environment,
the crash rate is not so high, we could not reproduce them in development environment.

[2020-12-17 18:02] veblush commented on #25016
This looks weird because initializing mac machines at the beginning should make the same result every time. Let's fix the major other bug with #25025 which seems responsible for 90% failure of mac build failure. And then let's revisit this again.

[2020-12-17 18:04] veblush commented on #24904
@konste It's still in review but I expect it to be merged soon.

[2020-12-17 18:08] lidizheng commented on #25024
`cygrpc` is not maintained by us. `cygrpc` is depending on an old gRPC Python `grpcio==1.23.0` as you see. By that time, 3.8 might not be released yet.

[2020-12-17 18:11] lidizheng commented on #25024
If this is blocking you, please file an issue in [`cygrpc`](https://github.com/cuemby/python-cygrpc/issues) repo.

[2020-12-17 18:11] #25024 closed

[2020-12-17 20:59] yashykt opened #25029 "TIMEOUT: artifact build macos csharp ios"
Seen on #24956

https://source.cloud.google.com/results/invocations/109a4765-2911-4be5-80a0-e1d6093381e7/targets

[2020-12-18 05:22] hongnod commented on #22576
I tried without success.

[2020-12-18 05:37] #23773 closed

[2020-12-18 10:22] vlad2010 commented on #23325
Could you please reopen the issue? I think that many people have this question.

[2020-12-18 13:39] Mekk commented on #22238
I ended up with
[code]
added before any grpc include to my code and scriptlety-prepended to generated grpc code.

Seems to work.

[2020-12-18 13:50] Mekk commented on #21838
Let me say that it's just crazy. For „normal human” libgrpc.so etc are `apt install`-ed, or mayhaps compiled by admin from time to time. The idea that using sanitizer in my code should force me to recompile grpc is … well, not really appealing.

Fortunately there exist relatively easy workaround:
[code]
(I add it before any other grpc workaround, and scriptlety-prepend to grpc-generated .cpp files

[2020-12-18 16:17] asears commented on #25024
I see my confusion here.  I think the issue is that cygrpc repo is same name as the internal import.  As I installed this with python / pip there were some import errors.

[code]

First instinct was to pip install it.  Which resulted in this issue.  Might ask that author take down the package, or internal import be changed to reduce confusion.  I've asked the author to bump the verison in case thi

[2020-12-18 19:53] mfechner commented on #22845
I can try to setup an vagrant script using virtualbox with ansible.
If these tools are available on the system you want to test it.

Please let me know if that would be visible, then I try to prepare there something were I can reproduce the problem using gitlab.

If that is visible let me see what I can provide.

[2020-12-18 21:03] haberman commented on #22845
I'm not too familiar with these tools, but it looks like they are all available for Ubuntu. If you can post a repro I will try to see if I can reproduce it.

[2020-12-18 21:38] mfechner commented on #22845
Great, we will prepare something, I will let you know if it is ready.

[2020-12-19 02:14] LeviSchuck commented on #24660
I had this too while following [the guide](https://grpc.io/docs/languages/cpp/quickstart/) for v1.34.0

[2020-12-20 07:14] ThomsonTan opened #25033 "Support wildcard or pattern match for host parameter in grpc::ServerBuilder::RegisterService"
### Is your feature request related to a problem? Please describe.
`grpc::ServerBuilder::RegisterService(host, service_instance)` could register a gRPC service instance only for the given host, which means the registered instance is call only when the gRPC request comes with the given host field (`:authority` in HTTP/2). Currently `host` requires exact string match, see below. It would be very use

[2020-12-20 18:31] dobet opened #25035 "example/cpp/route_guide make failed"
I follow this step do, but make failed
https://www.grpc.io/docs/languages/cpp/basics/

when i make,
route_guide.grpc.pb.h:25:10: fatal error: grpc/impl/codegen/port_platform.h: No such file or directory
   25 | #include <grpc/impl/codegen/port_platform.h>

git tag: 64c6cfc791 (HEAD, tag: v1.34.0)
ubuntu20.04
wsl2

[2020-12-21 13:05] dashsatish opened #25036 "grpcio==1.34.0 fails to install in python:3.8-alpine"
### What version of gRPC and what language are you using?
grpcio==1.34.0

### What operating system (Linux, Windows,...) and version?
alpine linux - 3.12

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.6
pip 20.3.3
pipenv 2018.11.26

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow

[2020-12-21 17:25] markdroth commented on #22521
Another failure:

[code]

[2020-12-21 17:59] XinLin commented on #25022
full crash log attached:
[ERR_error_string_n.txt](https://github.com/grpc/grpc/files/5725762/ERR_error_string_n.txt)

[2020-12-21 18:00] XinLin commented on #25021
full crash log attached:
[tsi_ssl_root_certs_store_create.txt](https://github.com/grpc/grpc/files/5725764/tsi_ssl_root_certs_store_create.txt)

[2020-12-21 19:01] markdroth commented on #24596
Similar problem:

https://source.cloud.google.com/results/invocations/41fdd7cd-5a6a-4a6b-b9b9-0be4f22277ad/targets/github%2Fgrpc%2Frun_tests%2Fpython_macos_opt_gevent%2Fpy27_gevent.test.unit._dynamic_stubs_test.DynamicStubTest/tests

[code]

[2020-12-21 19:12] ZhenLian commented on #25021
@yashykt
Hi Yash, since the user is not able to reproduce this in development environment, any suggestions on how we should proceed? I couldn't see much with only the crash logs, but since this is something related to thread crash(and seems doesn't happen to other wrap languages), I am guessing something is configured wrong in Objective-C? Maybe consult someone more familiar with Objective-C would

[2020-12-21 19:24] XinLin commented on #25021
we are using the bidi stream in this case:
1.  cancel the bidi streaming call when app is about to background;
2. make a new bidi streaming call when app is about to foreground.

[2020-12-21 21:25] alexv-be commented on #23713
I was looking around the web for this behavior. My issue was not that it did not recompile, but I did the following:
1. create grpc service from vs template
2. compile, test all good.
3. remove the Services/GreeterService.cs
4. Recompile -> failure.
5. Put endpoints.MapGrpcService<GreeterService>(); in Startup.cs in comments so it compiles, giving it a chance to regenerate the GreeterService.cs --

[2020-12-21 22:38] fabirydel commented on #8798
Is there any update regarding this issue? I'm using Google Cloud Logging and must absolutely send logs from both the parent and child processes. As it stands, I can't use the `stackdriver` gem because of this issue, has anyone come up with a workaround?

[2020-12-21 22:58] benaranguren commented on #22963
@yashykt @Green7 what is the latest on the attempt to reset the watchdog timer when any data is received.

[2020-12-21 23:05] richseviora commented on #24885
For others affected this issue existed for my non-M1 system as well immediately upon upgrading to MacOS 11.0.1, and the fix above also worked.

[2020-12-22 02:42] jrun commented on #8798
@fabirydel If you're systems have google-fluentd installed, you can configure a [forward source](https://docs.fluentd.org/input/forward) that listens on `127.0.0.1`. The fluent [out_google_cloud](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb) has the details on what the JSON payload should be.

[2020-12-22 03:53] doctorpangloss commented on #24427
Using streams hangs for me too.

[2020-12-22 08:21] SarvagyaVaish commented on #24677
@VagifMammadaliyev you are a hero!

One additional comment - i had to make sure my pip was up to date before the commend in https://github.com/grpc/grpc/issues/24677#issuecomment-729983060 worked for me.

[code]

[2020-12-22 08:22] rebel-pyc opened #25043 "Intermittent C# gRPC client issue: (Status(StatusCode=Unknown, Detail="Stream removed"))"
### What version of gRPC and what language are you using?
C# with gRPC 2.28.1 and Protobuf 3.11.4 (gRPC server is Python at 1.31.0)

### What operating system (Linux, Windows,...) and version?
Server Linux 3.10.0-1160.6.1.el7.x86_64
Client Window 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.3

### What did you do?
Made unary stream call to a Pyth

[2020-12-22 08:45] yuyang199226 commented on #23340
I also has the same prolems.

[code]

but my go client can access ok

[2020-12-22 09:59] essandess commented on #24902
Related: https://github.com/grpc/grpc/issues/25002

[2020-12-22 17:04] markdroth commented on #20845
I just saw this again:

https://source.cloud.google.com/results/invocations/8ee7aaf5-de17-4850-982d-1ee87a753cea/targets/github%2Fgrpc%2Frun_tests%2Fphp7_macos_opt_native%2Fsrc%2Fphp%2Fbin%2Frun_tests.sh/tests

[2020-12-22 17:06] markdroth commented on #23822
Just saw a similar problem:

https://source.cloud.google.com/results/invocations/797afd26-5c22-4779-b35c-30f999306508/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_dbg_native%2Ftools%2Frun_tests%2Fhelper_scripts%2Frun_ruby.sh/tests

[2020-12-22 18:04] adamwolf commented on #24881
We did not have

[code]

and none of the other workarounds were working.

However, we added
[code]
to `.bundler/config` on a whim, and tada!

[2020-12-22 21:00] flunderpero commented on #24677
For me, all it took was a `python -m pip install --upgrade pip` to make it work.

[2020-12-22 23:03] delfick commented on #24252
I have the same problem as above, when I try to connect to my Go grpc server, python gives me a

[code]

If everything is the same but I use python3.8 instead then it works fine

[2020-12-23 09:27] majianwei0705 commented on #14565
IIs there any update about this？

[2020-12-23 12:54] Green7 commented on #22963
I just checked my test app with the latest C# version (2.34.0) and problem still exist. From what I can see (I'm not 100% sure)  there are no code changes in chttp2_transport for solving this problem.
@yashykt please could you say something about it?

[2020-12-23 17:42] mtan429 opened #25048 "Add C++ Documentation for when ServerWriter::Write() returns true / false"
The documentation at https://grpc.github.io/grpc/cpp/classgrpc_1_1_server_writer.html for grpc::ServerWriter::Write() only indicates that it returns a bool. It would be helpful to add clarification on when exactly true or false is returned.

This would help clients who are seeing Write() return false, but want to debug why that's happening.

[2020-12-23 17:53] veblush commented on #25036
Check you try the solution in https://github.com/grpc/grpc/issues/24722 ? If it doesn't work, can you give us the detailed log? You error message doesn't seem to have all.

[2020-12-23 17:54] veblush commented on #25035
@dobet Can you let me know detailed steps you did so that I can reproduce the issue? A list of commands would work for me.

[2020-12-23 18:26] veblush commented on #21213
Although the workaround @rustyx mentioned can solve the case, solving the ODR violation should be the right way in
 the long run because it can have any problem potentially, which could be more subtle and dangerous.

[2020-12-23 18:55] twosigmajab opened #25050 "Trio Support"
[Trio](https://trio.rtfd.io) is the popular Python library for async concurrency and I/O that implements *structured concurrency*. Concurrent programs that do not use structured concurrency are analogous to programs that use `goto` rather than modern control flow structures. (Please read https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/ (by the author of T

[2020-12-23 19:40] lidizheng commented on #25050
Hi, supporting an extra I/O library is a challenging yet rewarding task. We offers support to `asyncio` since it's the official asynchronous I/O library. We currently don't have plans for supporting `Trio`. Contributions are welcomed.

[2020-12-23 19:41] veblush commented on #24884
This is reproducible on the HEAD and it appears that this happens because the custom shutdown callback which is going to call server's shutdown on the its wait-thread which already holds the its mutex. Server's shutdown also tries to get the same mutex and that's why abseil complaint. (This isn't reproducible on Mac, though)

@vjpai Do you think this needs a fix? and is there a way to handle shutd

[2020-12-23 20:31] twosigmajab commented on #25050
Thanks for the quick response, and great to hear you would accept a contribution to add Trio support.

[2020-12-23 20:49] apolcyn opened #25053 "iOS binary size diff failing: TypeError: load_pem_private_key() missing 1 required positional argument: 'backend'"
Example failure: https://source.cloud.google.com/results/invocations/78961fd2-a99c-410e-87ae-2c7d2943ac95/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[code]

[2020-12-23 22:26] veblush commented on #24790
@kirillbobyrev Thanks for the testing. For the linux packages, we don't have control over that, though.

[2020-12-23 22:26] veblush commented on #24790
Closing this since this was fixed on the master branch after switching to Abseil synch.

[2020-12-23 22:26] #24790 closed

[2020-12-23 22:43] veblush commented on #24903
@n-bes Thanks for the proposal. We need more refined API on how to expose metadata. It would be simple GetMetadataAll() returning multi-map or Keys() and Get(key) combo.

@vjpai What do you think?

[2020-12-24 01:29] vjpai commented on #24903
We've had this request in the past but haven't acted on it since it doesn't seem to strongly justify an API. After all, any metadata was added to the ClientContext by the application that is trying to read it. That said, I know that there are layered frameworks where bits and pieces of metadata might get added to the ClientContext in different places that might be owned by different projects/teams

[2020-12-24 05:19] yashykt commented on #24770
experimental::InterceptionHookPoints::POST_RECV_MESSAGE) as well?

I think the original intention behind this was that the interceptors would use the nullptr return value to know that a read operation had failed, and I think that is useful in certain cases.

[2020-12-24 05:19] #24770 closed

[2020-12-24 05:48] yashykt commented on #24918
I believe the BUILD file is an easy way to figure out the proper dependencies for various targets. I think what would be really useful in this case is a doc with instructions on building grpc with vcpkg. I will leave it to the build experts - @nicolasnoble and @veblush to decide whether vcpkg is something we want to add support for. (I suspect this might be one of those things where we need help f

[2020-12-24 05:48] #24918 closed

[2020-12-24 06:48] yashykt commented on #25033
There's also `ServerBuilder::RegisterService(Service* service)` which does not take any address.

If using multiple ports and wanting to distinguish based on the port, I believe using multiple servers in the same process could help achieve the desired result.

[2020-12-24 09:18] yashykt commented on #25021
Hi @XinLin , it's unfortunate that you are seeing this only on prod environments. I understand the difficulty when it comes to prod, but I'll ask anyway - Is it possible to run a debug build, so that the stacktrace is properly populated? Being able to run some of the sanitizers (asan/tsan) might also be useful.

It seems like the crash is originating from the kernel -
[code]

From some previous de

[2020-12-24 09:31] yashykt commented on #25043
You seem to be running into connection timeout issues. gRPC has a default initial connection timeout of 20seconds which can be increased if needed. More information on the connection algorithm can be found here https://grpc.github.io/grpc/core/md_doc_connection-backoff.html

These are the corresponding channel args to be set.
[code]

I would normally assume that 20 seconds is enough for connection

[2020-12-24 09:31] #25043 closed

[2020-12-24 10:26] #24017 closed

[2020-12-24 10:26] #21566 closed

[2020-12-24 10:34] yashykt commented on #22963
I'm sorry for the delay. This item keeps getting pushed back. At this point, it might be better for someone else to jump in on this.

FYI, on reading https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md, the original algorithm does not specify resetting the timeout on receiving bytes as an optimization, so it might be something that needs to be discussed with other languages to

[2020-12-24 10:41] yashykt commented on #25048
https://github.com/grpc/grpc/blob/ae7f520358d7145a7484db693376fdebbd72662d/include/grpcpp/impl/codegen/sync_stream.h#L313

This is already documented at https://grpc.github.io/grpc/cpp/classgrpc_1_1internal_1_1_writer_interface.html

Please feel free to suggest improvements to the documentation as a PR.

[2020-12-24 10:41] #25048 closed

[2020-12-24 12:02] sWozzAres opened #25057 "Blazor: Grpc.Core.RpcException: Status(StatusCode="Cancelled", Detail="No grpc-status found on response.")"
Throwing RpcException on the server always results in

Grpc.Core.RpcException: Status(StatusCode="Cancelled", Detail="No grpc-status found on response.")

being raised in a Blazor client.

### What version of gRPC and what language are you using?

2.34.0
C#

### What operating system (Linux, Windows,...) and version?

Windows 10

### What runtime / compiler are you using (e.g. .NET Core SDK versio

[2020-12-24 16:16] dobet commented on #25035
1. cd grpc/examples/cpp/route_guide
2. protoc -I ../../protos --grpc_out=. --plugin=protoc-gen-grpc=`which grpc_cpp_plugin` ../../protos/route_guide.proto
3. protoc -I ../../protos --cpp_out=. ../../protos/route_guide.proto
4. make

this is make log
[make.log](https://github.com/grpc/grpc/files/5740128/make.log)

[2020-12-24 17:29] ThomsonTan commented on #25033
Yes, run multiple server could work in the scenario. Wondering could multiple server take more resources to run than a single server, like running multiple thread pool and no load load balance between the servers?

[2020-12-24 21:36] doctorpangloss commented on #24056
This is still an issue

[2020-12-24 22:24] virtumonde commented on #22251
I still get the same error. Can someone confirm?

[2020-12-24 23:15] mys007 commented on #24918
Thanks, the log entry will surely be helpful to future users!

[2020-12-25 02:48] virtumonde opened #25058 "gRPC Unity package still doesn't work after 2.26 (Could not load signature of Google.Protobuf.ByteString:get_Span)"
### What version of gRPC and what language are you using?
grpc_unity_package.2.35.0-dev202012021242 + grpc-protoc_macos_x64-1.35.0-dev from [here](https://packages.grpc.io/archive/2020/12/d7b70c3ea25c48ffdae7b8bd3c757594d4fff4b6-2be69c7e-9b25-4273-a7d4-3840da2d6723/index.xml).

### What operating system (Linux, Windows,...) and version?
MacOS Catalina 10.15.6

### What runtime / compiler are you u

[2020-12-25 03:04] virtumonde opened #25059 "Error when compiling gRPC for MacOS in Unity"
### What version of gRPC and what language are you using?

grpc_unity_package.2.26.0-dev and grpc-protoc_macos_x64-1.26.0-dev from [here](https://packages.grpc.io/archive/2019/11/6950e15882f28e43685e948a7e5227bfcef398cd-6d642d6c-a6fc-4897-a612-62b0a3c9026b/index.xml).
### What operating system (Linux, Windows,...) and version?
MacOS Catalina 10.15.6

### What runtime / compiler are you using (e.g.

[2020-12-25 14:38] #23979 closed

[2020-12-25 17:37] RailsCod3rFuture opened #25060 "Unable to install with Ruby 3.0.0"
I attempted to install grpc 1.34.0 with native extensions, but I receive a build error when the gem is installing. Will there be any changes to make this gem compatible with ruby 3.0.0?

[2020-12-26 07:34] fraybabak commented on #21533
I have this problem too. what  should I do. suppose I have flask app that is my main core . I need to have many microservices that connect to my flask app. so I decided to use grpc for handing those needs.

this is my entrypoint. index.py:

[code]

and this is my grpc server :
[code]

[2020-12-26 08:30] sighingnow commented on #21989
Any update? or any workaround?

[2020-12-27 12:47] rgaufman opened #25061 "Mac Big Sur - gem install grpc throws "implicit declaration of function 'write' is invalid in C99""
### What version of gRPC and what language are you using?
gRPC 1.34.0

### What operating system (Linux, Windows,...) and version?

[code]

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?

I am just trying to install the ruby gem

[code]

### What did you expect to see?
I expected the gem to install

### What did you see instea

[2020-12-27 23:08] JamesOldfield commented on #22955
ping!

[2020-12-28 06:42] zhengdehui opened #25062 "LocalSubchannelPool and GlobalSubchannelPool should provide more than one instance of an unique socket address"
Currently, `LocalSubchannelPool` and `GlobalSubchannelPool` are used in client channel making TCP connection to upstream servers. However, only one `Subchannel` instance will be returned by one unique endpoint socket addr (e.g. 192.168.1.2:8080), which means if the client uses a singleton Channel object, all requests of a unique endpoint will go through the same TCP connection.
Usually in the upst

[2020-12-28 17:26] cs145442 commented on #24556
On an Ubuntu machine, you need these modules.

`sudo apt-get  install python-dev`
`sudo apt-get install build-essential`
`python -m pip install -U pip` or `python3 -m pip install -U pip`
`pip3 install --upgrade setuptools`

Works like a charm!

[2020-12-29 03:24] os12 opened #25067 "Server-side async streaming issue: premature RPC closure"
### What version of gRPC and what language are you using?
v1.34.0

### What operating system (Linux, Windows,...) and version?
Linux, Debian 64-bit, 10.7

### What runtime / compiler are you using (e.g. python version or version of gcc)
Stock Debian gcc 8.3.0

### What did you do?
I have a distributed locker service where callers can watch certain keys. Every key modification results in a streamin

[2020-12-29 03:50] os12 commented on #25067
### Analysis
Here is the a lifetime of the RPC object when the issue occurs:
[code]

The only thing the catches my eye is the 5s gap between the the first streaming response and the one that causes the closure. And that is exactly the deadline specified by the client-side code. So, it appears to be enforced by the server-side code.

### Answer
This is the async server-side streaming that I am usin

[2020-12-29 03:50] #25067 closed

[2020-12-29 13:36] craigwatson commented on #25060
I'm also seeing this error, full output is below:

[code]

[2020-12-29 16:54] virtumonde commented on #25059
Removing ```Assets/Plugins/Grpc.Core/runtimes/osx/x86/``` fixes this. It makes sense to remove it from the library as  Apple dropped the 32-bit application support.

[2020-12-29 16:55] virtumonde commented on #25059
Removing Assets/Plugins/Grpc.Core/runtimes/osx/x86/ fixes this. It makes sense to remove it from the library as Apple dropped 32-bit application support.

[2020-12-29 16:56] virtumonde commented on #25059
Removing ```Assets/Plugins/Grpc.Core/runtimes/osx/x86/ fixes this```. It makes sense to remove it from the library as Apple dropped 32-bit application support.

[2020-12-29 16:57] virtumonde commented on #25059
Removing ```Assets/Plugins/Grpc.Core/runtimes/osx/x86/``` fixes this. Please consider removing it from the builds as Apple dropped 32-bit application support.

[2020-12-29 20:02] spanky-medal commented on #24344
Thanks for getting wheel out for 3.9, but it takes ages to build:
[code]

any ideas?

[2020-12-29 20:13] lidizheng commented on #24344
@spanky-medal The gRPC Core (C/C++) contains hundreds of thousands of LOC. It appears the compilation finished within 5 minutes, that's pretty fast compare to several years ago when we can't parallelize the compilation. On the other hand, can you give more detail why you need to build the wheel from scratch? If needed, please open a new issue for the use case.

I would recommend to use the release

[2020-12-29 23:13] mfechner commented on #22845
It seems that the problem is fixed with grpc 1.34.0:
https://reviews.freebsd.org/D27752

I will close the issue, thanks a lot!

[2020-12-29 23:13] #22845 closed

[2020-12-30 09:18] Green7 commented on #22963
As I wrote before: Increasing timer period does not solve the problem. In my application I need to detect disconnected connections as soon as possible. If I increase timer period, the disconnection detection time also will increase  :(

[2020-12-30 21:41] Yuhta opened #25073 "Asynchronous server crashing with "pure virtual method called""
### What version of gRPC and what language are you using?
1.34.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
5.4.0

### What did you do?
[code]

### What did you expect to see?
All 10 requests finish without problem.

### What did you see instead?
The program crashes with
[code]

`valgr

[2020-12-30 23:51] opottone opened #25074 "Ruby client crash (greeter_client.rb)"
### What version of gRPC and what language are you using?

[code]

### What operating system (Linux, Windows,...) and version?

Windows 10 Pro (1909, OS build 18363.1256)

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

I run greeter_client following the instructions in https://www.grpc.io/docs/languages/ruby/quickstart/.

### What d

[2020-12-31 00:37] QuinnBast commented on #22251
Just commenting here to say the same thing. I get the same errors as everyone else here. Downgrading to the [2.26.0](https://packages.grpc.io/archive/2019/11/6950e15882f28e43685e948a7e5227bfcef398cd-6d642d6c-a6fc-4897-a612-62b0a3c9026b/index.xml) version works

[2020-12-31 03:28] opottone commented on #25074
Version 1.32.0 works as expected.

[2020-12-31 07:27] xiaoxiyouran opened #25077 "Error：对‘StrFormat(const char [26], const char [12], int)’ no Matched function std::string s = absl::StrFormat("Welcome to %s, Number %d!", "The Village", 6);"
I am reall confused why abs::StrFormat() display error.
![image](https://user-images.githubusercontent.com/25276073/103399510-62c46c80-4b7c-11eb-9fa4-1a4d7939cff3.png)

source code :
![image](https://user-images.githubusercontent.com/25276073/103399528-7243b580-4b7c-11eb-94f6-7d7f6cf42d7a.png)

and the definition :
![image](https://user-images.githubusercontent.com/25276073/103399550-812a6800-4b7c

[2020-12-31 11:31] ComptonAlvaro opened #25080 "C# Xamarin.Android: grpc_csharp_ext assembly:<unknown assembly> type:<unknown type> member:(null)"
I have a Xamarin Android project, which target is Android 8.0 (Oreo). This application is a gRPC client that will consume the gRPC service that is running in a computer.

I have another client, a simple WPF project which target is Net Core 3.1. This is another client, that runs in the same computer where is my gRPC service.

I have a console application, that runs in the computer and start the gRP

[2020-12-31 17:48] XinLin commented on #25021
@yashykt Could you share your steps to check boringssl versions in the ipa?

[2020-12-31 19:05] #23481 closed

[2021-01-02 16:58] cyberSJ commented on #24319
Pinging to see if there are any progress on this. Thank you.

[2021-01-02 17:49] dabulla opened #25081 "absl_bad_optional_access.lib error: Build and install under windows"
Hi,

two month ago I read about the new setup of protobuf/grpc with cmake fetch content. Very eagerly I tried the new workflow, but I still did not get it to work over the holidays.

Is there an up to date example, where protobuf and grpc can both be used in one cmake, C++ project on windows with the Visual Studio 2019 compiler? I found tutorials where cmake macros have to be written manually. It

[2021-01-02 18:29] yoav-orca opened #25082 "grpcio fails to install on Apple Silicon"
### What version of gRPC and what language are you using?
grpcio-1.34.0

### What operating system (Linux, Windows,...) and version?
macOS big Sur 11.0.1, running on M1 Apple Silicon

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

[code]

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follo

[2021-01-02 22:20] lukemmtt commented on #20500
Still an issue as of Jan 2021, but zummenix's script above works like a charm!

[2021-01-03 12:56] makkarpov commented on #23278
_not stale_

[2021-01-03 15:18] rdcm commented on #22251
+1

[2021-01-03 20:02] doctorpangloss opened #25084 "System.Memory for Unity gRPC is still broken"
I'm reopening #22251 here because it is still broken on the latest master, although fixed in `2.26`.

[2021-01-03 21:36] rdcm commented on #25058
@virtumonde Could you suggest a workaround while 2.35 unity package broken?
I have a .proto file and need to generate a client for unity.

https://packages.grpc.io/archive/2019/12/a02d6b9be81cbadb60eed88b3b44498ba27bcba9-edd81ac6-e3d1-461a-a263-2b06ae913c3f/index.xml

This package does not raise any errors in the unity console, but the generated file is broken.

`protoc -I=./Assets/Protos --csharp

[2021-01-03 21:53] virtumonde commented on #25058
Hi @rdcm. I think you are not compiling using the protoc corresponding to ```grpc_unity_package.2.26.0-dev```. Download the ```protoc``` corresponding to your OS from [here](https://packages.grpc.io/archive/2019/12/a02d6b9be81cbadb60eed88b3b44498ba27bcba9-edd81ac6-e3d1-461a-a263-2b06ae913c3f/index.xml) (one of [these](https://imgur.com/ynouhCi)). I am also using ```2.26``` and after typing ```./pr

[2021-01-04 02:41] rdcm commented on #25058
@virtumonde Yes, you right I did not see the `protoc` in the archive only plugins for different languages. Thanks!

[2021-01-04 10:06] virtumonde commented on #25058
@rdcm Np! Is there a chance you're familiar with grpc-web? I have a problem with settings it up. It think it is related to Envoy.

[2021-01-04 10:14] TheBirdsNest commented on #23796
This is starting to be a huge issue for my team; we make heavy use of grpcio and grpc-google-iam-v1.
Downgrading to grpcio==1.30.0 did not seem to help.

Does anyone have this issue too or a workaround for working with GCP libraries?

[2021-01-04 12:21] rdcm commented on #25058
Nope, for load balancing, I'm going to set up Nginx and I haven't any experience with Envoy.
If it will be interesting for you I can share the config when my application will be done.

[2021-01-04 12:50] Mrsevic commented on #25080
As stated in the description of nuget package starting from the version 2.3.4* you need to add the Grpc.Core.Xamarin projects both in your shared project and in the android project.

Let me know if installing this corresponding package solved the error for you.

[2021-01-04 20:04] virtumonde commented on #25058
That would be great!

[2021-01-05 00:58] spanky-medal commented on #24344
I have no need to build wheel, but it seems to do it anyway, not sure why. First it does this (because I specifically added wheel to my PIP list)
[code]

then

[code]

I upgrade PIP at the very beginning of this process:

[code]

resulting in:

[code]

So I'm not sure why it insists on building wheel here. I put this into `requirements.in`

[code]

which results in the following in `requirements.t

[2021-01-05 02:25] h1z1 commented on #24932
Same error with gcc 4.8.5.  Fine with 4.9.2, 5.3.1 and 7.3.1 (CentOS).  Possibly related -  #24940.

[2021-01-05 06:13] connect2satz commented on #22883
Hi Mark,
     Is this fixed ?

[2021-01-05 06:36] firebook commented on #25062
We meet same problem, hope to have a solution

[2021-01-05 08:58] ComptonAlvaro commented on #25080
Thanks so much, this solve my problem.

BUt in my case I have only add the GRPC.Core.Xamarin to my Xamarin project, it is not needed ti add to the common library that has the code of the client of gRPC and that is used for the xamarin and WPF projects.

Thanks so much.

[2021-01-05 09:01] Mrsevic commented on #25080
You're welcome, good to know about the dependency in the shared project:) Could you please send me a mail I have one question regarding something I have noticed in your code? Thanks

[2021-01-05 09:13] whuyinpeng commented on #24921
I’m running a grpc-based service on Rethat 7.7, the kernel version is 3.10.0-1062, the grpc version is v1.11.0.
My server process which been started about two months ago core dump recently, and the backtrace stack is below (printed by backtrace call):

grpc/src/core/lib/gpr/sync_posix.cc:48                           ———>  assertion failed: pthread_mutex_lock(mu) == 0 
grpc/src/core/lib/iomgr/ev_ep

[2021-01-05 09:47] whuyinpeng commented on #24921
I’m running a grpc-based service on Rethat 7.7, the kernel version is 3.10.0-1062, the grpc version is v1.11.0. My server process which been started about two months ago core dump recently, and the backtrace stack is below (printed by backtrace call):
grpc/src/core/lib/gpr/sync_posix.cc:48                ---------> assertion failed: pthread_mutex_lock(mu) == 0  grpc/src/core/lib/iomgr/ev_epollex_l

[2021-01-05 11:00] Tenzer commented on #25082
I managed to get the grpcio Python package installed on Python 3.9.1 installed via Pyenv on a M1 macOS:
[code]
Native arm64:
[code]

I had to set a few environment variables to get it to work:

[code]
to make the installation process use the libraries I've already got on the system, and then the following to point it at OpenSSL installed via Homebrew:
[code]

[2021-01-05 11:12] ComptonAlvaro commented on #25080
I have sent you an email from my main email account to your gmail account. In any way I can help you, tell me.

Thanks so much.

[2021-01-05 12:12] NichtEuler commented on #25081
Hey @dabulla ,
you need to add `--config Release` to the
`cmake --build . --parallel 6` command.
Thank you for posting this, it worked :)
I was working on this for a few hours, thnaks to the strange documentation for C++ Windows.

[2021-01-05 14:09] dabulla commented on #25081
Thanks for the tip to set the build type! I used `cmake --build . --target install` instead of `cmake --install .` to install grpc system wide.

I also needed to repeat the same steps for protobuf and I used the protobuf version in the `third_party` folder.

For the project itself, there is still a lot of manual work in cmake involved. I oriented on the grpc hello-world example.

Most importantly

[2021-01-05 15:46] ebitgeek commented on #25082
you can use system python3 (/usr/bin/python3)

[code]
## attention
`arch -x86_64` should be used before the command

[2021-01-05 17:39] markdroth opened #25090 "FLAKE: tests.cloud_to_cloud:go:dart_server:timeout_on_sleeping_server:tls"
https://source.cloud.google.com/results/invocations/bfb9b795-d97a-46ad-b6a2-8062395778d4/targets/github%2Fgrpc%2Finterop_test/tests

[code]

[2021-01-05 17:50] markdroth commented on #22766
I still don't know why this was originally being triggered by #22735, but it does not seem to be a problem in #25040, so I think it's no longer an issue.

[2021-01-05 17:50] #22766 closed

[2021-01-05 18:36] gnossen commented on #24921
@emrehe @whuyinpeng Can either of you provide a reproduction case?

[2021-01-05 19:49] yashykt commented on #25033
I don't have proof for this one way or the other. I believe there won't be much of a difference with multiple servers. The best way would be to perform some benchmarks for a definite answer.

[2021-01-05 19:49] #25033 closed

[2021-01-05 19:54] yashykt commented on #25021
@veblush can you help here?

[2021-01-05 20:18] SpaaJ commented on #25080
Hi ComptoAlvaro,

I tried to get your application to work (adding Grpc.Core.Xamarin in the Xamarin project), but I got this error while pressing btnTest!

Status(StatusCode="Unavailable", Detail="failed to connect to all addresses", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1609877117.596478880","description":"Failed to pick subchannel","file":"/var/local/git/grpc/s

[2021-01-05 20:38] stanley-cheung commented on #25053
Looks like this has been failing since Dec 22nd: https://fusion.corp.google.com/projectanalysis/history/KOKORO/prod:grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size

[2021-01-05 20:51] markdroth opened #25095 "TIMEOUT: test/cpp/end2end/client_callback_end2end_test@poller=epollex.test/cpp/end2end/client_callback_end2end_test@poller=epollex"
https://source.cloud.google.com/results/invocations/e1232e07-0c0c-476e-bddb-3cb7b3fcfd9a/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_callback_end2end_test@poller%3Depollex/tests

[2021-01-05 21:55] veblush commented on #25021
@yashykt Since BoringSSL is embedded in gRPC on iOS, I don't think they're using a different version of BoringSSL unless they modified something in the dependency.

@XinLin It's my wild guess but `pemRootCertificates` is still valid when the thread is calling `tsi_ssl_root_certs_store_create`? If the object is deallocated, it could go wrong.

[2021-01-05 22:15] tikekar opened #25096 "sed command fails on prepare_command step on linux machine from grpc podspec"
### What version of gRPC and what language are you using?
1.24.2
Using Swift

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
We are consuming grpc-core via SwiftGRPC within our framework. We are trying to run pod repo push to publish our framework.

### What did you expect to

[2021-01-05 22:18] konste commented on #24904
@veblush We really need your fix! Could you please push it through if at all possible?

Also if you could add a one-line fix I proposed to https://github.com/grpc/grpc/issues/24910 that would be awesome!

[2021-01-05 23:06] veblush commented on #24319
@cyberSJ Sorry for the late response. I just ran your example (thanks!) with the HEAD of gRPC but couldn't reproduce the issue on Debian 5.7 and OSX. (My test project: https://github.com/veblush/grpc/tree/issue-24319)

Can you check whether it's reproducible with the HEAD of gRPC?

[2021-01-05 23:11] veblush commented on #25077
I don't see whether this is relevant to gRPC. Can you file the bug to abseil then?

[2021-01-05 23:11] #25077 closed

[2021-01-05 23:21] lidizheng commented on #25082
@yoav-orca We currently doesn't have ARM64 machines to produce binary wheels, but we are working on a plan.

Back to the build, the failure is not caused by the ASM optimization. Can you check the result of `sysconfig.get_config_var('MACOSX_DEPLOYMENT_TARGET')` on your Mac? It seems returning a number or some sort, which supposed to be a string (or bytes) of targeted macOS version.

[2021-01-05 23:24] veblush commented on #25061
Duplicate of #25060

[2021-01-05 23:24] #25061 closed

[2021-01-05 23:24] markdroth opened #25097 "CONSISTENTLY FAILING: grpc/core/pull_request/macos/grpc_ios_binary_size[default]"
https://source.cloud.google.com/results/invocations/055f42f8-06fa-4f2c-8de9-164677902c32/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[code]

[2021-01-05 23:59] markdroth opened #25098 "TIMEOUT: //src/python/grpcio_tests/tests/unit/_cython:_no_messages_server_completion_queue_per_call_test.python3"
https://source.cloud.google.com/results/invocations/6b1de43f-592a-4949-a033-f3c5121cadf2/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

[code]

[2021-01-06 00:00] veblush commented on #22955
@vjpai Can you take a look at this?

[2021-01-06 00:32] abbotware opened #25099 "Grpc.Tools - Include other language plugins"
### Is your feature request related to a problem? Please describe.
I am attempting to build a C# server and Python Client from the same .proto using Visual Studio.  It would be trivial to use grpc.tools if it included the other language plugins.

### Describe the solution you'd like
I would like a single project with .proto file(s) and I would like to use Grpc.Tools to generate both C# and Python

[2021-01-06 00:58] XinLin commented on #25021
### we did not use the embedded BoringSSL but use OpenSSL 1.1.X

### `pemRootCertificates` is still valid since it is a global shared the configuration in our app.

[2021-01-06 01:05] #25053 closed

[2021-01-06 01:34] whuyinpeng commented on #24921
@gnossen If the information is not enough, you may ignore it. I'm trying to reproduce the assertion failure, thank you.

[2021-01-06 06:29] lidizheng commented on #25098
Didn't show with 1000 runs on master before #24814. This could be a one-time flake. Feel free to re-open if happened again.

[code]

[2021-01-06 06:29] #25098 closed

[2021-01-06 09:02] ComptonAlvaro commented on #25080
@SpaaJ Ensure that you are running the service too.

Also try to check the IP that is used in the service. In the Program.cs file, I have this line:

`Ports = { new ServerPort("192.168.1.33", miPort, ServerCredentials.Insecure) }`

Here I set the IP of the computer where I am running the service. Set the IP that you have in your case. I have tried another options like 0.0.0.0, localhost or 127.0.0

[2021-01-06 10:42] SpaaJ commented on #25080
Exactly!
Your solution is a very good example of setting up gRPC in Xamarin ... and learning Spanish :)
Thank you so much !

[2021-01-06 10:52] ComptonAlvaro commented on #25080
I am glad it is useful for you. Really it is a very early version, my objetive first it was try to connect from mobile to service, and it has many commented code with tests and explanations.

[2021-01-06 16:50] sshbio commented on #24065
Any update/suggestion on this issue?

[2021-01-06 17:41] jiangtaoli2016 commented on #23278
@makkarpov You can use [TlsCredentials](
https://github.com/grpc/grpc/blob/master/include/grpcpp/security/credentials.h#L337), in this CredentialsOptions, you can config your own check per connection. You will need to config GRPC_TLS_SKIP_HOSTNAME_VERIFICATION as option to skip standard hostname check.

Does this address your issue?

[2021-01-06 17:43] makkarpov commented on #23278
Partially, since with this solution I need to reccompile gRPC and can't, for example, use pre-built binaries from repos.

[2021-01-06 17:48] apolcyn opened #25100 "TIMEOUT: tools/run_tests/helper_scripts/run_ruby.sh"
Bottom of the log where this was seen:

[code]

https://source.cloud.google.com/results/invocations/53d646d2-34df-4624-ae67-80a23b3adf24/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basictests_ruby/log

Seen in PR: https://github.com/grpc/grpc/pull/25064

[2021-01-06 17:55] richseviora opened #25101 "C# getting a client-side notification that bidi stream has failed without needing to await responses"
### Is your feature request related to a problem? Please describe.
I'm using a client generated by Grpc.Tools from a `.proto` file.

Right now I don't see an easy way to be notified when a bidirectional stream (via `AsyncDuplexStreamingCall`) has been closed without attempting to read or write to it. If I have a bidi stream open and I send a message to it that results in the stream closing, I firs

[2021-01-06 18:02] ZhenLian commented on #23278
Hi Maxim,
Sorry, I don't get the reason why you can't use this API. This is a normal API in C++, except it is experimental. You don't need to use any pre-built binaries in order to use it.
I will probably note that the API is aiming to solve exactly the same problem you have encountered, but it's still experimental, and subject to change(actually it's very likely to change since we are working on

[2021-01-06 18:05] makkarpov commented on #23278
@ZhenLian, If I understand correctly, `GRPC_TLS_SKIP_HOSTNAME_VERIFICATION` is a compile-time option, so library must be rebuilt when it is changed.

[2021-01-06 18:16] jiangtaoli2016 commented on #23278
@makkarpov Your only option is using an old version of gprc library where TlsCredentials is not available?

If so, you can only disable hostname check.

[2021-01-06 18:19] makkarpov commented on #23278
Nevermind, I misunderstood the docs. It's ok.

[2021-01-06 18:19] #23278 closed

[2021-01-06 18:52] veblush commented on #24903
@vjpai Thanks for that. I guess returning multi-map without `const&` would be more preferable because i) we can use anything for internal bookkeeping and ii) this doesn't require optimization.

[2021-01-06 19:11] thiagoss commented on #25060
This might not be directly related to ruby 3. It is probably some change in default flags for the compilers on newer versions.

Adding `export CFLAGS="$CFLAGS -DHAVE_UNISTD_H"` into my shell works around this one, but the ruby lib itself has implicit function declarations:

[code]

Those should be included in the files that need it.

[2021-01-06 20:20] dabulla commented on #25081
Oh my god, my success in setting up grpc and protobuf correctly was a lie. After deleting the build folder, all the fun has to be done again. This is a horrible mess for c++ devs.

I guess that my custom command does not work. Sadly, I cannot use `protobuf_generate_cpp`, because it seems to be unable to generate the sources in the correct subfolders (-I option). I've got two different proto-files

[2021-01-06 21:42] veblush commented on #25021
@XinLin Thanks for the answer. But it doesn't sound right to me about using openssl 1.1.x instead of boringssl. Because your full log said that it loaded `libboringssl.dylib`

[code]

[2021-01-06 21:43] veblush commented on #24904
@konste I guess this will be merged soon once it gets approval from @jtattermusch who will return from his vacation soon.

[2021-01-06 22:40] veblush commented on #25073
I ran the code with tsan option on linux and got the following error indicating calldata was deleted too early.

[code]

[2021-01-06 22:42] veblush commented on #25073
@yashykt Yash, can you take a brief look at how the code manages the call-data here?

[2021-01-06 22:57] veblush commented on #25035
This is what I run to build the example successfully.

#### Build & install gRPC

[code]

#### Build route_guide

[code]

Can you try this to see whether this is working for you as well?

[2021-01-06 22:59] #24676 closed

[2021-01-06 23:04] veblush commented on #24631
Running `bazel build ...` is not encouraged but this is expected to be fixed now thanks to #24656.

[2021-01-06 23:04] #24631 closed

[2021-01-06 23:39] veblush commented on #24844
@grtxm Can you give me an exact command list that you ran to see the error above? I couldn't reproduce the issue.

[2021-01-06 23:44] veblush commented on #24769
This was fixed by #24774

[2021-01-06 23:44] #24769 closed

[2021-01-07 00:34] XinLin commented on #25021
@veblush YES you are right. We are using libboringssl and on top of that we customized it to make it compatible with OpenSSL 1.1.X.

Everyday we saw ~30 crashes and it blocked us to further roll out gRPC to more iOS users.

[2021-01-07 07:46] Jane-Ding commented on #24556
I am using the google cloud documentai and try to generate the docker image. I also met this issue.  I build the image based on google/cloud-sdk and it succeeded to install this client in docker.

Dockerfile:
FROM google/cloud-sdk
COPY . /app
WORKDIR /app
RUN pip3 install -r requirements.txt
EXPOSE 5000
CMD python ./app.py

requirements.txt
google-cloud-documentai

[2021-01-07 09:20] casperisfine commented on #25060
Interestingly in compile fine for me on Linux, but I have the same issue on OSX

Did work for me as well. Thanks!

For this one I managed to work around by patching the gem with:

[code]

It's dirty, but was enough to unblock me until it is fixed upstream.

[2021-01-07 10:09] appfrilans commented on #20500
Is this related https://fantashit.com/i-am-getting-multiple-command-produce-grpccertificates-bundle-error-in-firestore-when-archiving/ ?

In that case, is the issue solved in a grpc-version but not updated by Firebase? Running `pod outdated` gives me this:

[code]

[2021-01-07 13:33] tanhunggg commented on #23452
pls tell me how to solve the problem. thanks alot

[2021-01-07 15:13] KumaTea opened #25112 "Python build error when building from source under pypy docker image"
### What version of gRPC and what language are you using?
`grpcio` 1.32.0 / Python 3.8.5

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04.1 (aarch64)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.5 (default, Jul 28 2020, 12:59:40) [GCC 9.3.0] on linux

gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

### What did you do?

He

[2021-01-07 15:40] ahernsean opened #25113 "License is missing required information. Copyright owner?"
The Apache license requires that the copyright owner be identified. Quoting from the license file here in the release:

[code]
For this to be valid, the copyright owner needs to be identified and a year provided.

[2021-01-07 16:21] yadavvineet commented on #23583
Hey Guys, any updates over here, This is very important from code re usability, considering all the proto files have to copied and cannot be reused. Problem creeps when proto needs to be updated.

This affects the general physical design and solution structure as well. Please consider..

[2021-01-07 17:36] MHDante commented on #6046
Can this issue be closed thanks to #23240?

[2021-01-07 17:40] #24724 closed

[2021-01-07 18:24] ThanoS-max commented on #25084
Any updates regarding this?

[2021-01-07 18:25] lidizheng commented on #6046
Sure. Thanks for reminding.

[2021-01-07 18:25] #6046 closed

[2021-01-07 18:46] XinLin commented on #25021
[crash_dump (19).txt](https://github.com/grpc/grpc/files/5783397/crash_dump.19.txt)

[2021-01-07 18:47] XinLin commented on #25021
latest crash logs:

Thread 31 Crashed:
0 libsystem_kernel.dylib 0x00000001b47a9d88 __pthread_kill (in c3c67d07-cb8d-36f5-8da3-af9a575d1d6f) + 8
1 libsystem_c.dylib 0x00000001b4615934 abort (in 67a9cf6e-0a27-3506-baa5-361d62d17646) + 100
2 Helix 0x0000000106713154 tsi_ssl_root_certs_store_create(char const*) (in c9d0a0cf-f84f-3391-8d8a-96252c36707a) + 0
3 Helix 0x0000000106714664 ssl_handshaker_res

[2021-01-07 21:24] davido opened #25114 "Bump abseil-cpp to fix building on GCC 11"
Trying to build Bazel on GCC 11 is failing with:

[code]

abseil-cpp probably fixed it in abseil/abseil-cpp@5bf048b
grpc doesn't have this in master yet https://github.com/grpc/grpc/blob/e745f8cb558798f1c8b91baa42d46228a9d4a0c4/bazel/grpc_deps.bzl#L245

See also this Bazel [issue](https://github.com/bazelbuild/bazel/issues/12756).

[2021-01-07 21:55] yulin-liang commented on #25097
#25094 fixed this issue.

[2021-01-07 21:55] #25097 closed

[2021-01-08 00:40] qlisc opened #25116 "build lightweight grpc library with reduced binary size for mobile clients"
### Is your feature request related to a problem? Please describe.
The app size increased by grpc-core library is significant to our mobile client app. Unlike desktop app, mobile client app is sensitive to app binary size. ie Apple store has a hard limit on app size. Bigger size impacts app startup loading time and may cause the app uninstallation. We are wondering if we can have a lightweight grp

[2021-01-08 10:31] appfrilans commented on #20500
Nevermind, seems to be an old answer: https://stackoverflow.com/questions/53406947/xcode-10-ios-firebase-firestore-sdk-multiple-command-produce-grpccertificates

[2021-01-08 11:56] trakevital commented on #24142
For me Uninstalling System.Memory in NugetForUnity plus a bit of "surgical work" did the trick (it changed System.Memory from 4.5.3 to 4.5.2)

[2021-01-08 13:47] jtattermusch commented on #25099
Currently we don't have plans to make codegen plugins for other languages than C# available as part of Grpc.Tools (which is intended to be used in .NET projects).
gRPC python provides their own integration of the codegen (e.g. see the https://pypi.org/project/grpcio-tools/ pip package and the "grpc easy" project).

[2021-01-08 13:47] #25099 closed

[2021-01-08 13:59] jtattermusch commented on #25101
gRPC doesn't actively track the status of bidi RPCs unless you are sending requests / receiving responses. You are right the currently gRPC C# client doesn't allow to "listen" on whether the call has been closed without also awaiting a response (on the server you can use the serverCallContext.CancellationToken to get notified of some events), but I don't think that's a big limitation - in most cas

[2021-01-08 14:03] jtattermusch commented on #25084
gRPC needs to be upgraded to protobuf 3.14.0 (see https://github.com/grpc/grpc/pull/24855) and after that the generated unity package will behave correctly.

[2021-01-08 14:04] jtattermusch commented on #23583
Can you please provide a minimal reproduction, ideally in a form of a github repository with ready-to-run code? It would make it easier for us to reproduce the issue you're experiencing.

[2021-01-08 14:13] jtattermusch commented on #25057
Looks like this issue is not related to Grpc.Core but to grpc-dotnet, so I'm going to transfer it over to that repository.

[2021-01-08 14:30] jtattermusch commented on #24065
Based on your snippets, it looks like you're actually not using Grpc.Core but rather grpc-dotnet. I'll transfer the issue to the correct repository.

[2021-01-08 14:39] jtattermusch commented on #25080
It looks like this piece of documentation describes a solution for the original issue:
https://github.com/grpc/grpc/tree/master/src/csharp/experimental#xamarin

[2021-01-08 14:39] #25080 closed

[2021-01-08 14:48] jtattermusch commented on #25058
Looks like this issue is a duplicate of https://github.com/grpc/grpc/issues/21908

[2021-01-08 15:35] jillemash opened #25118 "Linux brew install failed: "libgrpc.so.13.0.0: undefined reference to `absl::lts_2020_09_23::""
### What version of gRPC and what language are you using?
1.33.2

### What operating system (Linux, Windows,...) and version?
Linux (Ubuntu 20.04.1 LTS)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-9
Called by brew install:
/home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/shims/linux/super/g++-9

### What did you do?
brew install grpc

### What did you

[2021-01-08 15:52] jillemash commented on #25118
Here's the beginning of the trace of brew install grpc:

[code]

[2021-01-08 23:50] apolcyn opened #25124 "grpc_basictests_python Windows - ERROR: Aborting VM command due to timeout of 5400 seconds"
[code]

https://source.cloud.google.com/results/invocations/a1be7d10-d090-409a-a33d-8203b7d2fb73/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_python/log

Seen in https://github.com/grpc/grpc/pull/24979

[2021-01-08 23:52] gnossen commented on #25124
Reassigning to @lidizheng since it looks like it stalled during a Windows asyncio test.

[2021-01-09 02:02] lidizheng commented on #25124
`5400/3=1800`, looks like it is caused by a slow run. We could extend the job timeout.

[2021-01-09 14:50] #24261 closed

[2021-01-09 22:42] GBayliss opened #25125 "grpc::AuthPropertyIterator uses deprecated inheritance of std::iterator"
AuthPropertyIterator inherits from std::iterator.  This has been deprecated in C++ 17 and causes MSVC to require a define to ignore and compile user code (which incidentally doesn't work, a separate problem for MS to resolve).  This means that code intended to work with the grpc lib does not compile on MSVC with STD C++17 selected duet to deprecation warnings which cannot be ignored or otherwise #

[2021-01-10 05:06] Gusabary opened #25126 "generated *_mock.grpc.pb.h doesn't have header guard"
### What version of gRPC and what language are you using?
gRPC version: 1.32.0
language: C++

### What operating system (Linux, Windows,...) and version?
OS: Linux, Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.5.0 (and cmake 3.14.0)

### What did you do?

I added `generate_mock_code=true` to generate mock files for gtest when using `protoc`.

[2021-01-10 07:36] m5440 opened #25127 "Cod."
fe231325fb4971ea7423f37762133feb73db978b #25126

[2021-01-11 00:03] bigc2000 opened #25128 "why #16181 closed ? BoringSSL conflicts with BB Dynamics OpenSSL ？"
why #16181  closed ? BoringSSL conflicts with BB Dynamics OpenSSL ？
Is ANY solution sounds good there?

[2021-01-11 08:27] jtattermusch commented on #24261
Looks like it's coming from here
https://github.com/grpc/grpc/blob/86f93801e5d452cff40d6958d21a8eb211da0654/src/csharp/Grpc.Core/Internal/AsyncCallServer.cs#L197

You would normally see this message if you're trying to send a message (= a streaming response in case of a server-side handler of a bidi streaming call) from a call for which the final response has already been sent. This can happen e.g

[2021-01-11 08:49] Birkenpapier commented on #23488
@veronicagarciavazquez, thank you very much for you indepth tutorial to deploying gRPC on the HL2!
Sadly I have one problem on the HL2. The unitypackage I've created is working flawlessly and fast on the editor but when I create a solution for the HL2 and deploy it I ran into two errors.
The first error comes when I use IP addresses that the server can't be found and failed to pick subchannel. To

[2021-01-11 10:32] jtattermusch commented on #25113
I'm not a lawyer but to my knowledge our source files start with the "Copyright [yyyy] The gRPC Authors" header:

e.g. here "https://github.com/grpc/grpc/blob/0d7e17ff802921a53a409c62dd5eeb66fa0e5c0f/src/csharp/Grpc.Core/Server.cs#L3

so I'm not convinced there's a problem.

[2021-01-11 10:32] jtattermusch commented on #25113
CC @srini100

[2021-01-11 10:34] jtattermusch commented on #25113
CC @thisisnotapril

[2021-01-11 11:24] Caiptain1 commented on #22576
Makes the problem go way, thanks.

[2021-01-11 13:32] ahernsean commented on #25113
I'm not talking about source files. It's great that you have the copyright there. But this bug is about the License file.

[2021-01-11 14:12] appfrilans commented on #20500
The script above works fine, but for automating with fastlane, this workaround wont work. Would super appreciate a real solution here.

[2021-01-11 14:46] jtattermusch commented on #25113
@ahernsean  can you show an example of some other opensource projects under Apache2 where this is being done? I tried to look up a few and all seem to have the same LICENSE file as we do.

e.g.
here: https://github.com/kubernetes/kubernetes/blob/master/LICENSE
https://github.com/tensorflow/tensorflow/blob/master/LICENSE

[2021-01-11 15:07] jtattermusch commented on #23481
You should probably enable extra debug traces to see why exactly the connection was rejected.
https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

I suspect the issue is that you're trying to use SslCredentials with default trust roots and provide a verifyPeerCallback that always returns true to  force establishing the connections even if the TLS connection's server certs won't match the c

[2021-01-11 15:09] ahernsean commented on #25113
1. https://github.com/deedy/Apache-License
2. Android: https://github.com/aosp-mirror/platform_system_core/commit/cbb1011c95e0c25c29e40e203a6a31bccd029da3

The bottom of [this](https://www.apache.org/licenses/LICENSE-2.0.html) gives the official instructions about how to apply the license.

Though now that I look at some major projects like [Swift](https://swift.org/LICENSE.txt) and the [Apache ht

[2021-01-11 15:23] jtattermusch commented on #25015
I'm not sure I understand what exactly you're asking for but:

1. we've had a request to use interfaces in the generated code and it's something we've rejected long time ago (for good reasons): see https://github.com/grpc/grpc/issues/5416 and https://github.com/grpc/grpc/issues/5371

2. the gRPC C# API is stable (and has been for long time) and there is a VERY high bar for doing any non-backward-c

[2021-01-11 15:23] #25015 closed

[2021-01-11 15:29] jtattermusch commented on #25113
My understanding is that the "copyright" line should be in the actual source files (as it already is in our case), but for most open source projects I've seen have the contents of LICENSE file itself unmodified (as in examples both you and I have presented). As said I'm not a lawyer but based on what I've seen I think we should be fine.

[2021-01-11 15:31] ahernsean commented on #25113
Then I leave it up to you guys whether you want to follow the Android route (fill in the [brackets] in the license file) or the Swift route (leave [brackets] unmodified from original license). Feel free to close this ticket if you like.

[2021-01-11 16:06] StingyJack commented on #25015
If you arent sure what someone is asking, is the right thing to do to get clarification or to just tell them to shut up?

The client generated from the proto file is generated without any linkage back to the service it connects to. I'm asking that if the service is implementing an interface (or multiple) that the client have the option of referencing the same interface contracts, so that discoveri

[2021-01-11 16:09] jtattermusch commented on #24902
The `No rule to make target `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/CoreFoundation.framework'` basically means that CoreFoundation.framework is missing on your Mac machine, which is quite odd to me, since it's one of the core libraries on OS X.

[2021-01-11 16:11] jtattermusch commented on #24902
from this command it looks like you're running cmake from repo root which can make it conflict with the existing Makefile (non-cmake) as that one resides in the same directory.
I'd try from the `cmake/build` directory (which is what the documentation suggests).

[2021-01-11 16:17] jtattermusch commented on #25002
I'm able to reproduce this (on Mac) by running:
[code]

Looks like the issue is that building of boringssl (`libcrypto.dylib` specifically) with BUILD_SHARED_LIBS=ON is broken (rather than the build of grpc itself).

[2021-01-11 16:17] jtattermusch commented on #24902
I tried to reproduce this (on MacOS catalina) and was able to reproduce this: https://github.com/grpc/grpc/issues/25002.

[2021-01-11 16:22] #25113 closed

[2021-01-11 20:14] vjpai commented on #24884
This is interesting. AFAIK the actual CV waiting process should be releasing the mutex (since that would block out any further progress in any case) but in general signal handlers can be processed at any thread and if we happen to be in the moment between entering the CV::wait and the time that the mu is released, we could still see this deadlock. Maybe we need to investigate mutex-free shutdown o

[2021-01-11 20:14] vjpai commented on #24884
A workaround is to have the signal handling function do the actual work in a new detached thread.

[2021-01-11 20:25] sometimescasey commented on #24390
@lidizheng hi, sorry for the delay! I tried pinning to `grpcio==1.34.0` per the latest release on your repo but got the same error as before. Any other suggestions, I am happy to try

[2021-01-11 21:10] nicolasnoble commented on #25128
You need to make a custom build of gRPC without BoringSSL in it, really.

[2021-01-11 21:23] #24881 closed

[2021-01-11 21:41] lidizheng commented on #24390
@sometimescasey Can you include the whole installation log and open a new issue?

[2021-01-11 22:41] StevenDas-Tomo commented on #25060
This issue appears to be impacting not only the GRPC Ruby Gem, but also the [grpcio Python package](https://pypi.org/project/grpcio/).

I'm able to consistently repro the following on Mac OS X Catalina (10.15.7) when installing version **1.32.0** of grpcio:

[code]

I'm using the following dependencies:

- `pip`: 20.2.3
- `python`: 3.9.1
- `gcc`:

[code]

Interestingly, I'm hitting no such issue w

[2021-01-11 23:05] apolcyn commented on #25074
I can also repro on an `x64-mingw32` ruby version `2.6.6`, with grpc 1.34.

The issue seems no longer present in grpc 1.35.0.pre1 (the stable release on this branch should be coming in the next ~1-2 weeks).

Can you try with grpc version `1.35.0.pre1` ?

[2021-01-12 05:36] apolcyn commented on #25060
To update, I'm looking at backporting https://github.com/grpc/grpc/pull/25133 to the 1.35.x branch. This should then be fixed in the next 1.35.x release (should happen within the next the next week or two).

Also, https://github.com/grpc/grpc/pull/25070 was merged and is included on the 1.35.x branch, so the 1.35.x gems won't <i>need</i> to be built from source, since the gems will contain pre-com

[2021-01-12 09:43] jogc opened #25136 "Python: a raised exception from grpc followed by a close on the channel causes regular time.sleep() to freeze indefinitely"
Python 3.8.0
Linux 4.9.185-xxxx-std-ipv6-64
grpc 1.25.0

This one has been haunting me for over a year. I have a simple python script monitoring a server process by making regular grpc calls. It simply runs a loop where it creates a new Channel, makes the grpc call, if any exception is raised its taken as a problem with the server process and an alert is produced, regardless it then closes the Cha

[2021-01-12 09:59] vjpai commented on #24884
Note that in general, even for libc, you can't use arbitrary library functions inside signal handlers. For example, Linux only supports the use of certain standard functions: http://manpages.ubuntu.com/manpages/bionic/man7/signal-safety.7.html . You should just assume that all gRPC functions are not async-signal-safe. If we find something that is async-signal-safe, we can document that at some poi

[2021-01-12 13:55] Birkenpapier commented on #23488
I found the location of the problem!

I created the solution always for ARM64 in the build settings in unity.
In order to solve this issue it needs (at least for me) to be build for ARM and then, just like @veronicagarciavazquez said, ARM64 needs to be selected in VS2019. Then the Hololens 2 can connect to the gRPC server.
I also confirmed that gRPC can be build with VS2019 instead of VS2017 in th

[2021-01-12 14:55] jtattermusch commented on #25015
I closed the issue because it didn't seem actionable - I wasn't sure what exact change you were requesting (it would be better if you provided an example and the exact change you're proposing) but from your description I was pretty clear that such change would require changing the public API (and I explained why that's not something we want to do). Currently, the generated code for the client and

[2021-01-12 16:40] tanjuntao opened #25137 "Segmentation fault: 11 in macOS Catalina 10.15.7 using grpcio==1.34.0 and grpcio-tools==1.34.0"
### What version of gRPC and what language are you using?

`grpcio` version: 1.34.0
`grpcio-tools` version: 1.34.0
Python version: 3.8.5

### What operating system (Linux, Windows,...) and version?

macOS Catalina 10.15.7

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Here is a snippet of my project hierarchy:

[code]

My `.proto`

[2021-01-12 18:19] markdroth commented on #7957
#11704 got closed, but the same issue is being tracked in #21386.

[2021-01-12 18:19] yulin-liang commented on #25022
Hi XinLin, do you know how to reproduce it? Btw, can you also provide us gRPC logs? You can get gRPC logs by setting the environment variables `GRPC_TRACE=all` and `GRPC_VERBOSITY=DEBUG`.

[2021-01-12 18:22] markdroth commented on #25062
I think this is a duplicate of #21386.  There is also some related discussion in #7957.

[2021-01-12 18:22] #25062 closed

[2021-01-12 18:23] XinLin commented on #25022
@yulin-liang unfortunately these issues were coming from production we could not reproduce them in debug/development environment, similar with [25021](https://github.com/grpc/grpc/issues/25021).

[2021-01-12 18:28] #20703 closed

[2021-01-12 18:43] yulin-liang commented on #25096
This should be ran in macos's default SED and not gnu-sed

[2021-01-12 19:44] joeldrotleff commented on #20500
Still an issue for me, would really appreciate if this was fixed for real (the workaround didn't work for me)

[2021-01-12 21:31] StingyJack commented on #25015
The client does not have to implement the service's interface, it just needs to reference it. I've taken care to say "used" or "reference" and not "implement" WRT the client side.

Nothing in those links explains to me why its a bad idea to have some way to positively identify clients for a particular service, which is what I'm asking for.

This has been possible with other web service technologie

[2021-01-12 22:04] #22019 closed

[2021-01-12 22:05] #23747 closed

[2021-01-12 22:05] #23933 closed

[2021-01-12 22:05] #24508 closed

[2021-01-12 22:06] #24966 closed

[2021-01-13 01:20] Five9Voice commented on #25020
Experiencing a similar segfault.

Code:
channel = grpc::CreateChannel("localhost", grpc::InsecureChannelCredentials());

Backtrace:
(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
#1  0x00007f067ca82535 in __GI_abort () at abort.c:79
#2  0x00007f06226f5726 in grpc_core::ResolverRegistry::AddDefaultPrefixIfNeeded(char const*) () from /usr/local/mod_grpc.so
#3  0x0

[2021-01-13 04:44] ajaydiya commented on #23259
Is the problem fixed? Having the same issue

[2021-01-13 09:42] jtattermusch commented on #25015
What do you mean by "service's interface"? We don't generate an interface, only an abstract base class (e.g. MathBase class).  And exactly what do you mean by "reference"? As said, I'd be easier if you provided an example of how the exactly the generated code should/could change - you seem to have some idea for a solution in mind.

[2021-01-13 09:57] lieroz opened #25145 "C++ gRPC server implementation spawns uncontrolled number of threads"
### Is your feature request related to a problem? Please describe.
We tried using gRPC in one of our projects, a simple microservice that computes math models and returns result to user. We found out that during its work, service can spawn a lot of threads and most of them are waiting on **gpr_cv_wait**. After further investigation, we understood that it is caused by current ThreadManager implemen

[2021-01-13 11:46] hounaidarekik opened #25146 "difference between protoloader and generated .js files from grpc"
Hi,
I am a beginner in GRPC and nodejs.
For the first time, I use protoloader to load my services from proto. Then, I want to switch to use generated files from grpc: in my case I have: comment_pb.js, So I replace this code with:
[code]

[2021-01-13 17:57] Five9Voice commented on #25020
Hacked workaround:

Code:

grpc_init();
channel = grpc::CreateChannel("localhost:1234", grpc::InsecureChannelCredentials());

[2021-01-13 19:24] Tenzer commented on #25082
I just tried to install the library from the master branch with the fix included, but it still fails out of the box.

Is the version of BoringSSL and zlib referenced in this repository supposed to be working on ARM macOS? If not it might be better to try and detect when running on a ARM Mac (`platform.machine()` can do this) and set the equivalent of the following environment variables automatical

[2021-01-13 19:33] lidizheng commented on #25082
@Tenzer That would be great if you can put up a PR, and you can ensure it works on the target machine (I don't have an Apple M1).

[2021-01-13 21:29] gnossen commented on #25137
Duplicate of https://github.com/grpc/grpc/issues/24897. [1.34.1](https://pypi.org/project/grpcio/1.34.1/) was released earlier today, which should resolve this issue.

[2021-01-13 21:29] #25137 closed

[2021-01-13 21:31] gnossen commented on #25137
I see you added a usage question as well. Try adding the `service` directory to `sys.path` before attempting the import.

[2021-01-13 22:05] gnossen opened #25149 "cloud_to_cloud:java:java_server:large_unary:alts Failure"
[code]

https://source.cloud.google.com/results/invocations/5489b668-8415-4e15-8d68-608623408c05/log

[2021-01-13 22:20] voidzcy commented on #25149
Why is this linked with the python xDS test client change?

[2021-01-13 22:26] voidzcy commented on #25149
Seems to be caused by https://github.com/grpc/grpc-java/pull/7799.

[2021-01-13 22:27] gnossen commented on #25149
@voidzcy That is where the failure was observed. But, since it was a java-only failure, I determined that it was unrelated.

[2021-01-13 23:28] mtan429 commented on #25048
Thank you. The documentation you pointed to says "true on success, false when the stream has been closed."

If I understand correctly, the stream can only close for two reasons: 1) client closes the stream, 2) network error.  Can you add to the documentation how to tell the difference between these two cases, on the server side?

Our use case is that we want to alert only if the second happens, bu

[2021-01-14 01:23] StingyJack commented on #25015
We continue to actively discuss this, yet it still remains closed. The first thing to do to show you are actually willing and receptive to an idea is to reopen the issue. Otherwise it looks like your mind has already been made up before understanding the request.

Generating the abstract base class and totally eschewing the common design by contract artifact for .net - an Interface.is half of the

[2021-01-14 03:23] madaoCN opened #25156 "C++ compression interface support"
### Is your feature request related to a problem? Please describe.

grpc-go support registers the compressor with gRPC by its name as following:

[code]

srouce code at [https://github.com/grpc/grpc-go/blob/master/encoding/encoding.go](https://github.com/grpc/grpc-go/blob/master/encoding/encoding.go)

And the server written by golang customize a compression algorithms，but  the client written by c+

[2021-01-14 03:54] fananchong opened #25157 "HealthCheckResponse only provides the status value"
HealthCheckResponse only provides the status value.

The lack of some custom information from the server can be passed to the client through HealthCheckResponse for load balancing.

For example, load balancing based on weight

[2021-01-14 05:24] achimnol commented on #25082
I got a successful build using @Tenzer 's solution, with addition of CFLAGS and LDFLAGS using `brew --prefix protobuf`, `brew --prefix openssl`, `brew --prefix zlib`, and setting the `GRPC_PYTHON_BUILD_SYSTEM_*` environment variables, with arm64 homebrew and Python 3.9.1 built via pyenv's latest master.

[2021-01-14 05:27] achimnol commented on #23325
See #25082 for the working solution.

[2021-01-14 06:34] geekragavan commented on #13447
Need to Implement RPC with named pipe using vc++/com

[2021-01-14 08:30] koolkhel opened #25160 "SEGV in async gRPC call"
### What version of gRPC and what language are you using?
1.24.x, C++

### What operating system (Linux, Windows,...) and version?
Linux, Yocto Dunfell on Raspberry Pi 4.

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 9.3.0

### What did you do?
I have simple service client running on Yocto. At some point I decided to try compile my app with -fsanitizer=addr

[2021-01-14 08:48] jtattermusch commented on #24935
I just pushed the 2.34.1 Grpc.Core nugets that include the fix.

[2021-01-14 08:48] #24935 closed

[2021-01-14 09:58] jtattermusch commented on #25015
Honestly, the decision not to use interfaces has been made a long time ago and is sufficiently explained in #5416 and #5371 (I posted both links before). Regardless of whether that decision was right or wrong (I don't want to reopen that discussion here), the decision has been made and it's now part of our stable API and I already explained why it's important not to break our current stable API.

[2021-01-14 11:26] vlad2010 commented on #23325
Thank you!  Yes you can install grpcio on M1 mac. All you need to do for is just run python directly under Rozetta using "arch -arch x86_64 python -m pip install gprcio"   command  or enabling the global option "Open using Rozetta" for terminal application.    But anywat at some point you need native ARM support for GRPC

[2021-01-14 15:34] markdroth commented on #25145
Esun and/or Vijay, can you please take a look at this?  What I find particularly interesting is that they continued to have this problem even when switching to the C++ async API, which I didn't think used the ThreadManager at all, so I'm not sure what's going on here.

[2021-01-14 15:35] markdroth commented on #25146
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2021-01-14 15:35] #25146 closed

[2021-01-14 15:38] markdroth commented on #25157
The health check protocol is not intended to provide load balancing information.  If you want to do something like that, you'll need to create your own protocol to do it.

[2021-01-14 15:38] #25157 closed

[2021-01-14 17:52] lieroz commented on #25145
Maybe this will help a bit. As I understood when was browsing source code, in file **src/cpp/server/server_builder.cc:220** in method _BuildAndStart_, there is always one initial completion queue created and then passed to **Server** class, then in its constructor **sync_server_cqs_ != nullptr** check passes and _sync_req_mgrs__ gets initialized with single SyncRequestThreadManager instance and th

[2021-01-14 18:27] markdroth opened #25165 "FLAKE: exe.test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.exe"
https://source.cloud.google.com/results/invocations/5c9b6402-c2b4-452e-ab86-5a46d3050a84/targets/%2F%2Ftest%2Fcpp%2Fclient:destroy_grpclb_channel_with_active_connect_stress_test/tests

[code]

[2021-01-14 19:21] zbordas-kollective opened #25167 "Default SSL credentials don't work on Win32/OsX."
I am trying to build and run the code snippet from [https://grpc.github.io/docs/guides/auth.html](https://grpc.github.io/docs/guides/auth.html)

`// Create a default SSL ChannelCredentials object.
auto channel_creds = grpc::SslCredentials(grpc::SslCredentialsOptions());
// Create a channel using the credentials created in the previous step.
auto channel = grpc::CreateChannel("some.endpoint.com:443

[2021-01-14 20:18] rok-clarifai commented on #23259
Same problem here. I searched the net, I didn't find a solution. I ended up using PHP in a Docker.

[2021-01-15 00:37] yulin-liang commented on #20500
It's really weird, when **building** the project above, `openssl_grpc.framework` creates a new symlink called `Header` which points to `Versions/Current/Headers`

<img width="1706" alt="Screen Shot 2021-01-14 at 2 55 21 PM" src="https://user-images.githubusercontent.com/64815511/104665266-ccb53980-5685-11eb-836a-ac0aec716621.png">

![image](https://user-images.githubusercontent.com/64815511/104665

[2021-01-15 03:10] noahdav opened #25172 "How to implement CertificateProvider"
### What version of gRPC and what language are you using?
1.34.1

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
[INFO] [27] -- The C compiler identification is MSVC 19.0.24234.1
[INFO] [28] -- The CXX compiler identification is MSVC 19.0.24234.1

### What did you do?
We recently upgraded to the

[2021-01-15 05:04] jiangtaoli2016 commented on #25172
@ZhenLian and @markdroth FYI.

[2021-01-15 05:47] YukiNanCC-USYD commented on #23340
Anyone solve this issue?

[2021-01-15 07:40] MartinKosicky commented on #22889
If latency is bigger and the payload is larger, setting initial window size larger can lower the request time significantly.  That is what helped us when we had let's say 15 seconds timeout on whole request, and the destination server was in another continent, and payload was large.  The 64k window size caused the request to take like 60 seconds and more,  decreasing it was like few seconds (1GB e

[2021-01-15 15:57] devjgm commented on #23144
We're seeing these same errors with C++ libraries using grpc and openssl on debian buster, which is causing us to have to disable one of our builds/tests. See https://github.com/googleapis/google-cloud-cpp/issues/4018.

Should we expect that gRPC is _supposed_ to work on Debian buster with OpenSSL? Are we doing something wrong, or is this a gRPC/OpenSSL bug?

[2021-01-15 16:25] murphyj8 commented on #24539
GRPCIO-TOOLS fails to build on macox (Big Sur) with python3.9 and Apple clang version 12.0.0 (clang-1200.0.32.28). It fails to find a binary wheel instead downloading the source code and trying to build it. The error list is gigantic. Any chance you could update the binary wheel to support python3.9?

[2021-01-15 17:00] vjpai commented on #25145
Can you mention your platform? I believe that I've seen a similar concern about this before which was on the Mac but want to know your platform for the most detailed information.

[2021-01-15 17:27] markdroth commented on #25172
@ZhenLian, can you help this user with this?  Seeing what problems they run into will probably help us ensure that we've really thought through the new API.

Thanks!

[2021-01-15 17:32] jiangtaoli2016 commented on #25172
It looks like current design does not allow external users to plug in their own cert provider.

[2021-01-15 17:35] markdroth commented on #25172
Oh, good point.  But to be clear, the *design* does allow for external provider implementations; it's just that the APIs needed to implement an external provider have not yet been implemented.

@noahdav, do you need a custom provider implementation, or can you use the file-watcher provider that we implemented?

@jiangtaoli2016 If the user really needs a custom provider implementation, we should pr

[2021-01-15 18:13] noahdav commented on #25172
@markdroth In our environment which runs on bare metal azure nodes we have a custom PKI infrastructure.  We have internal APIs which we can call to lookup the current cert and also verify cert.  The issue is that the cert rotates quite often so we need a way to update the certificate without tearing down the channel.  Today the certificates are stored in the windows cert store in custom stores.  O

[2021-01-15 18:18] lieroz commented on #25145
It is Centos 7.

[2021-01-15 18:22] lidizheng commented on #24539
@murphyj8 Are you using the latest Apple M1? If so, then you need arm64 binary wheels instead of x86_64 wheels. We currently don't have arm64 machines to build binary wheels, so you will need to use `arch -x86_64` to emulate x86_64 architecture.

If not, please try to manually download and install the `grpcio-tools` wheel (https://pypi.org/project/grpcio-tools/#files).

[2021-01-15 18:22] markdroth commented on #25172
The `FileWatcherCertificateProvider` is here:

https://github.com/grpc/grpc/blob/0533276facb2844634a8d2ba981adefe4992bb4e/include/grpcpp/security/tls_certificate_provider.h#L91

With that, you could have an external process use your internal APIs and dump the resulting certs to disk, and then read them with the file-watcher provider.

The new provider API is specifically designed to *not* be calle

[2021-01-15 18:28] YifeiZhuang commented on #25149
Regression caused by #7799, reverted in #7805 and tests look green.

[2021-01-15 18:53] noahdav commented on #25172
Thanks @markdroth.  We will look at this provider.  We also use an openssl engine to avoid exporting the private key.  Will this file watcher still maintain the same engine: syntax for the private key?

[2021-01-15 19:00] tikekar commented on #25096
* @yulin-liang this is a regression. And was working in both GNU and BSD environments before we updated the version.
* This line **sed -E -i ''** with empty quotes broke it on GNU sed environment. I believe it just needs to follow **sed -E -i'.grpc_back'**  syntax with non empty quotes to support both environments. (Refer to the full command below)

We are running this on our linux based build mac

[2021-01-15 19:12] #25149 closed

[2021-01-15 19:21] stanley-cheung opened #25174 "Segfault in master grpc_distribtests csharp_linux_x64_alpine_dotnetcli"
The prod:grpc/core/master/linux/grpc_distribtests job has been consistently failing since Jan 14th, [dashboard](https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_distribtests).

[code]

[2021-01-15 19:29] markdroth commented on #25172
I don't know the current state of the openssl engine integration.  @jiangtaoli2016 or @ZhenLian, can you advise?

[2021-01-15 19:51] noahdav commented on #25172
Looking more the FileWatcherCertificateProvider is not in the latest release https://github.com/grpc/grpc/releases/tag/v1.34.1.  When can we expect a stable release with this included?

You mentioned that you this is not being called on every connection attempt.  Is this going to improve for authorization too?  We currently use the AuthMetadataProcessor to authorize but this occurs on every reques

[2021-01-15 20:05] jiangtaoli2016 commented on #25172
It has the same syntax on Engine. It would work for OpenSSL Engine automatically. Let me know if it is not the case. @noahdav

[2021-01-15 20:16] markdroth commented on #25172
Ah, sorry; I didn't realize that the file-watcher cert provider wasn't implemented by the time we cut the 1.34 release branch.  But it is already in master, so it will be in 1.35.

The `AuthMetadataProcessor` is not affected by these changes; it will still happen on every request.  That actually has nothing to do with connections or TLS at all; it authorizes individual requests (not connections) b

[2021-01-15 21:41] carlocab opened #25176 "grpc_cli build does not respect CMAKE_INSTALL_RPATH"
### What version of gRPC and what language are you using?
v1.34.1, C++

### What operating system (Linux, Windows,...) and version?
macOS 11.1 on Apple M1

### What runtime / compiler are you using (e.g. python version or version of gcc)
Apple clang version 12.0.0 (clang-1200.0.32.28)

### What did you do?
I am updating Homebrew grpc at https://github.com/Homebrew/homebrew-core/pull/69125. The grp

[2021-01-15 23:00] noahdav commented on #25172
Thanks for the pointers.  I will look at the file based provider.  For our service we have client APIs which were built on the previous implementation.  Our clients have a callback to provide the certs/pem so we can feed them into grpc.  Having to break this may be an issue for us.  Instead building our own provider might simplify this where we do not need to break our client API.  That being said

[2021-01-15 23:45] markdroth commented on #25172
If you want to authorize once per connection based on the client certificate, then that can be done via a certificate verification plugin that runs at connection-establishment time.  The current API for cert verification is fairly primative, but @ZhenLian is currently working on a new design, which will be part of the TLS creds gRFC.

The `AuthMetadataPlugin` is not intended to solve that problem;

[2021-01-15 23:47] dvanmali opened #25177 "No Support Package for macosx-11-arm64"
### What version of gRPC and what language are you using?
1.34.0

### What operating system (Linux, Windows,...) and version?
Mac M1, macOS Big Sur 11.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.9.1

### What did you do?
Unable to download PyPi package 1.34.1 that supports mac m1 hardware. Package is a dependency for GCP auth libraries. Error shown

[2021-01-16 00:23] lidizheng commented on #25177
@dvanmali Sorry, we don't provide arm64 binary wheels yet.

For a quick workaround, you can set following env and compile again:
[code]

For more information: https://github.com/grpc/grpc/issues/25082

[2021-01-16 02:39] dvanmali commented on #25082
Thanks @Tenzer and @achimnol! This worked for me as well.

Note if the following issue occurs after those recommendations:
[code]

Edit version.py line 275 on your system to:
[code]

[2021-01-16 02:40] dvanmali commented on #25177
See: #25082

[2021-01-16 02:40] #25177 closed

[2021-01-16 03:41] veblush commented on #25114
@davido Thanks for bring this issue! Definitely this should be addressed before gcc 11 is officially released. But gRPC only depends on the LTS version of abseil so I think we need to start communicating with the Abseil team.

[2021-01-17 07:09] thaishankar commented on #24035
@markdroth @jtattermusch  If this feature is not actively worked on, I was wondering if I might be able to assist with some of the changes.

I took a quick look at the source code if I followed the call stack correctly, C# Channel create seems to call grpc_channel_create in
https://github.com/grpc/grpc/blob/3d4bb01e1d1942c44c1d8961bdabb400a3af046e/src/core/lib/surface/channel.cc.

[2021-01-17 10:17] xerdink commented on #21949
why close this issue? @na-kubota already posted a bug here?

it indeed is a known bug and affects my build also.

[2021-01-17 11:00] greendev5 opened #25181 "gRPC channel over custom OS level connection"
Hi everyone,

I want to discuss with you some missing functionality of gRPC, which I would like to have and willing to contribute (if it is really missung now). But I am not sure is it compatible with gRPC ideology.

gRPC protocol stack is looks like this now:
1. TCP/UnixDomainSocket - streaming socket
2. TLS - for encryption and host verification
3. HTTP/2, including nice capability to multiplex

[2021-01-17 13:35] esolel opened #25182 "how to compile 32bit grpc c++ on linux red hat 64 bit"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-01-17 15:20] chriswolske commented on #24556
Re-visiting this issue after a few months...

I installed the Debian `build-essentials` meta-package as mentioned above. The packages that were missing for me were g++ and libstdc++

After a couple of other updates (upgrading pip and setuptools) everything worked fine. Thanks for everyone's help ad input.

[2021-01-17 15:20] #24556 closed

[2021-01-17 22:18] StingyJack commented on #25015
Don't exaggerate, this is about one missing piece and one extra keyword in the generated output. Its not a critique of the entire work.

So the bar for entry is to submit working code that accomplishes the task and that considers all of the info for the > 9K issues, the 120 current PR's (and commentary within) that could be approved, and the 15K PR's (and commentary within) that have been approved

[2021-01-18 10:28] jtattermusch commented on #25015
I tried to explain several times that I think making such change is harder than it seems (and I explained what the limitations are) and I have a problem visualizing a solution that would be make sense. Since this is only a nice to have feature, the demand for it doesn't seem high and its priority is low I simply cannot justify spending days thinking about how a perfect solution for this would look

[2021-01-18 12:00] netcorefan1 commented on #13447
I can confirm what stated! It's much faster than Unix Domain Sockets and memory usage is 3 times less for both client and server! I am trying to use this library in [protobuf-net.Grpc](https://github.com/protobuf-net/protobuf-net.Grpc) or [MagicOnion](https://github.com/Cysharp/MagicOnion), but I have no idea on how must be configured and if this is possible at all.
I am wondering why this has not

[2021-01-18 12:40] murphyj8 commented on #24539
@lidizheng Hello, thank you for your response. I have an intel based based so the x86_64 should world. I was unable to use the wheel files directly. And when I follow the instructions in the README about building grpcio-tools from source I get the following error. For the record I'm using python3.9 & I have  built & installed grpc v1.34.

~/grpcClone/grpc/tools/distrib/python/grpcio_tools(64c6cfc7

[2021-01-18 14:15] murphyj8 commented on #24539
hello @lidizheng, I tried to edit the python file make_grpcio_tools.py. There seems to be a few issues with some changes to python3.9 around handling str & byte types. After making a few edits, the build when a bit further but now it's failing again at the step shown below. Again, it appears to be str & byte related. My guess is something has changed in python3.9 with regard to these types being r

[2021-01-18 14:47] murphyj8 commented on #24539
hello @lidizheng, apologies, I appear to be spamming you quite a bit. So, it looks like some changes have been made to python3.9 behind the scenes. An example is with subprocess.check_output (which is used in make_grpcio_tools.py (line 95)). It's now returning bytes according to the python doc (https://docs.python.org/3/library/subprocess.html#subprocess.check_output). And there is a recommendatio

[2021-01-19 03:36] opottone commented on #25074
`1.35.0.pre1 `works fine.

[2021-01-19 04:20] StingyJack commented on #25015
I appreciate you taking the time to articulate. I do read every word and linked issue, so while you may feel this was not productive, your time spent wasn't wasted by me.  I just dont believe the idea that using an interface and making additive only changes would break a client, and thats what I understood after reading all of that. I'll read it again later to make sure.

I also found the correct

[2021-01-19 08:49] PureTryOut opened #25188 "Bazel: declared output 'src/compiler/grpc_python_plugin.bin' was not created by genrule."
I'm trying to get Tensorflow compiling, but am currently stuck on an issue with it's dependency on grpc. I was told to report it here, so here I am.

### What version of gRPC and what language are you using?
1.34.1, C++

### What operating system (Linux, Windows,...) and version?
Alpine Linux edge

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10.2.1

### Wh

[2021-01-19 09:51] chaitan94 commented on #24556
In case it helps anyone, if you're using **alpine** running `apk add g++` fixes this as expected.

[2021-01-19 10:55] jtattermusch commented on #25015
Imagine this scenario:
1. you generate an interface for a service (there's methods for methods in service's .proto files)
2. since the interface is public, the user can decide to implement that interface in their code (e.g in tests). Some users will surely do that.
3. you add a new method to the service (very resonable to do and that's how services evolve) and regenerate .proto files - now the int

[2021-01-19 13:25] igor-davidyuk opened #25189 "I would like to know actual error cause in Python"
### Is your feature request related to a problem? Please describe.
I set up an experiment when a client tries to connect to the server with a rotten cert and gets rejected.
grpc.RpcError that I get looks like this:
`<_InactiveRpcError of RPC that terminated with:
	status = StatusCode.UNAVAILABLE
	details = "failed to connect to all addresses"
	debug_error_string = "{"created":"@1611061781.20347849

[2021-01-19 14:28] StingyJack commented on #25015
From the perspective of use there are three generation options. Client or Server, or Both.

In the case where the client and server are generated at the same time from a proto file, using a common interface should not be a problem.  (I'm guessing this will very likely be the overwhelming majority of usages, is there any telemetry on the generation type decision?

In the case where they are generat

[2021-01-19 15:22] markdroth commented on #25181
The gRPC protocol is designed such that TCP connections are always initiated by the client, not the server.  It doesn't really make sense to have a server initiate connections.

I think the bi-di stream approach you suggest is the right approach to use for the use-case you describe.  I think you should be able to build your own application-level protocol on top of a bi-di stream that allows multip

[2021-01-19 15:22] #25181 closed

[2021-01-19 15:24] markdroth commented on #25182
As mentioned in the issue template (which you didn't even modify in your post above), questions should be posted to StackOverflow or to the grpc.io mailing list, not here.

[2021-01-19 15:24] #25182 closed

[2021-01-19 15:41] markdroth commented on #25189
Duplicate of #22883.

[2021-01-19 15:41] #25189 closed

[2021-01-19 15:59] essandess commented on #24902
Xcode 12.3 does not contain the 10.15 SDK. It contains only the macOS 11 SDK.

Is this a bug in the grpc cmake configuration when using Xcode 12.3?

[code]

[code]

[2021-01-19 18:19] ZhenLian commented on #23144
@devjgm Thanks for bringing up the error! From the original issue page, it seems the issue was solved by using CMake or Bazel? IIUC, these two are the recommended ways to build gRPC(https://github.com/grpc/grpc/blob/master/BUILDING.md#clone-the-repository-including-submodules). Can I know what was the build tool that caused the problem?

About the OpenSSL, if I understand correctly, both the CMake

[2021-01-19 18:58] ZhenLian commented on #25172
Sorry, I was a bit lagged behind the discussions here, and thanks @markdroth and @jiangtaoli2016 for covering this. Yes, I am currently working on the new design that will allow for authorization customization on a per-connection basis. The gRFC is a bit out-of-date, but I will update it once the major API is finalized. @noahdav feel free to let me know if you have any questions/concerns. Thanks!

[2021-01-19 19:01] ZhenLian commented on #24238
I will close this issue, but feel free to reopen if anything else was brought up.

[2021-01-19 19:01] #24238 closed

[2021-01-19 19:15] noahdav commented on #25172
Thanks @ZhenLian and @markdroth.  Is this certificate verification plugin available for us to now or is this something which we need to wait for?  Currently we have been using AuthMetadataPlugin as it was all we had from what we knew.  Unless we were missing something.  If this certificate verification plugin is available we could cardinally make use of it.

@ZhenLian can you please send me a like

[2021-01-19 19:52] yashykt commented on #25073
Yes, from the stack trace the call data on the server side is being freed too early. I think you aren't waiting for the `AsyncNotifyWhenDone` tag before deleting.

Also, please use a general forum like stack overflow for general help with code debugging.

[2021-01-19 19:52] #25073 closed

[2021-01-19 20:02] davido commented on #25114
@veblush New `abseil-cpp` release is here: https://github.com/abseil/abseil-cpp/releases/tag/20200923.3.

[2021-01-19 20:02] ZhenLian commented on #25172
The new certificate verification plugin is based on the current TlsServerAuthorizationCheckConfig(https://github.com/grpc/grpc/blob/e745f8cb558798f1c8b91baa42d46228a9d4a0c4/include/grpcpp/security/tls_credentials_options.h#L103), but the API will be very different to make the plugin composable. This TlsServerAuthorizationCheckConfig will be completely removed once the new comes in, but you probabl

[2021-01-19 20:10] yashykt commented on #25020
Hi,

I am not able to reproduce this. (Note that I'm using the current gRPC head for testing.) Please update your version if needed.

Calling `grpc_init` can be a temporary workaround but that should not be a permanent solution. The right thing to do would be to figure out why grpc_init is not being called.

[2021-01-19 20:18] yashykt commented on #25048
The way that clients close the streams is by sending a RST_STREAM frame. Unfortunately, that is not something that is exposed to the API.

One possible workaround, I can think of is to use a bidirectional stream to send an explicit application message when the client wants to end the stream.

[2021-01-19 20:23] jiangtaoli2016 commented on #25172
IIUC, we just need a certificate provider where there are two APIs called `UpdateIdentityCertificates()` and `UpdateRootCertificates()` to allow applications to call these two functions whenever they want to update certificates. That should be straight-forward.

[2021-01-19 20:30] markdroth commented on #25172
I think it could be useful to have a type of provider that has methods to allow the application to set the certs on an ad-hoc basis without having to actually implement a provider plugin.  This could basically be similar to the static provider, except that (a) it would need to support multiple cert names and (b) it would need to be able to accept new data after instantiation time.  Or you could th

[2021-01-19 20:35] noahdav commented on #25172
@jiangtaoli2016 that sounds pretty straight forward.  I think that would work in our case.

[2021-01-19 21:54] Firefly35 commented on #24438
Any progress on the actions mentioned on october the 22 ?

[2021-01-19 22:16] tas50 opened #25194 "Drop Ruby 2.3 and 2.4 support"
Since each Ruby release takes up 3.7M on disk it would be really great if you could drop support for EOL Ruby versions to shrink the size of this gem. It really adds up in containers or packages that rely on the dep.

[2021-01-19 22:17] tas50 opened #25195 "Don't ship spec / test files in the Ruby gem"
This gem currently ships test files in the rubygem artifact. It would be really helpful to trim these out as most SDK projects do to slim down packages or containers that rely on this dep.

[2021-01-19 22:54] veblush commented on #25114
@davido Yeah, gRPC will get it soon.

[2021-01-19 23:56] Yuhta commented on #25073
So the async done tag will always sent in addition to each operation we put on the completion queue, right?  In other words, we need to keep a refcount of n+1 for each call data, where n is the number of operations we put on completion queue, and the extra one being the async done tag?

[2021-01-20 01:57] smdelacruz opened #25202 "Xamarin iOS: Error while loading assemblies: /Users/runner/.nuget/packages/grpc.core/2.33.0/runtimes/win/native/grpc_csharp_ext.x64.dll"
We want to build our Xamarin iOS using Microsoft Azure Hosted agent with MacOS VM but we are having an error when it tries to load the GRPC assemblies, our Xamarin Android is working well with grpc and grpc core packages but not on Xamarin iOS.
Any help is greatly appreciated.
### What version of gRPC and what language are you using?
c# - grpc 2.33.0

### What operating system (Linux, Windows,...)

[2021-01-20 02:38] iMarkSeven opened #25204 "hello，I can't import the 'reflection' in python"
The file is
`examples/python/helloworld/async_greeter_server_with_reflection.py`

in line 28

[code]
Where should I find this module？

[2021-01-20 03:24] zazeje opened #25205 "pip install tensorflow on aarch64"
i want to install tensorflow 2.4.0 on aarch64 platform
Processing /tensorflow-2.4.0-cp37-cp37m-linux_aarch64.whl
[11:09:13.248]Requirement already satisfied: protobuf>=3.9.2 in /archiconda3/lib/python3.7/site-packages (from tensorflow==2.4.0) (3.14.0)
[11:09:42.014]Requirement already satisfied: wheel>=0.26 in /archiconda3/lib/python3.7/site-packages (from tensorflow==2.4.0) (0.32.1)
[11:09:42.441

[2021-01-20 07:33] panlilu commented on #24846
+1

[2021-01-20 07:57] dabbler0606 commented on #22526
I'm having the same problem. After looking at init_gevent, I found a sentence:

Try adding the import at the top:

[code]

[2021-01-20 08:25] Manu343726 commented on #23311
This is broken for the CMake build in the latest release, the above PR only fixes it for the makefile build

[2021-01-20 08:36] Manu343726 commented on #23311
BTW it would be nice if the minimum protobuf version required is documented somewhere, I checked both this repo and the C++ getting started manual in the official docs and there's no mention about this, it only states "Protobuf 3".

[2021-01-20 12:32] peter-volkov opened #25207 "What is the reason to return an exception?"
https://github.com/grpc/grpc/blob/3f011c2171612edf1a54ca106a1c092e08534d33/src/python/grpcio/grpc/_interceptor.py#L250
What is the reason to return an exception instead of passing it to the caller code?
It would be a more idiomatic, pythonic way.

We have a custom retry interceptor and we were using exception handing over the continuation call
https://github.com/yandex-cloud/python-sdk/pull/13/fil

[2021-01-20 12:32] RyanSiu1995 commented on #25204
Hi @iMarkSeven, did you install the package `grpcio-reflection`?

[2021-01-20 12:40] jskeet opened #25208 "gRPC call hangs on Linux x64 in Azure Functions host"
### What version of gRPC and what language are you using?

gRPC 2.34.1, using .NET Core 3.1.

### What operating system (Linux, Windows,...) and version?

Linux and Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET Core SDK 3.1, with the azure-functions-core-tools-3 version 3.0.3160-1

### What did you do?

- Start an Azure function that uses gRPC to

[2021-01-20 12:40] RyanSiu1995 opened #25209 "Allow user to embed the CallCredentials even in insecure channel"
### Is your feature request related to a problem? Please describe.
I want to raise the awareness on the `CallCredentials` over insecure channel.

The current Kubernetes native way to secure the connection between service mainly delegates to the service mesh. The connection will be encrypted with mTLS so there is no need to embed the SSL cert on the service itself.

This is actually the use case fo

[2021-01-20 12:56] kcarlson opened #25210 "Daily builds seem to have stopped"
### What version of gRPC and what language are you using?
3.14

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
n/a

### What did you do?
Navigated to https://packages.grpc.io/

### What did you expect to see?
Todays daily build

### What did you see instead?
Last daily build was on 2020-12-02

Mak

[2021-01-20 14:08] jtattermusch commented on #24035
No -  that's a codepath that C++ uses, not C#.
See e.g. https://github.com/grpc/grpc/blob/3f011c2171612edf1a54ca106a1c092e08534d33/src/csharp/ext/grpc_csharp_ext.c#L432

[2021-01-20 14:18] jtattermusch commented on #25174
Tracked internally as b/177904713

[2021-01-20 14:53] tiagonapoli opened #25211 "Allow customizing NativeLibrary path in .NET Framework"
### Is your feature request related to a problem? Please describe.
I'm working on a big legacy project which has a strong dependency to a particular nuget project that internally has another dependency that tries to load all `.dll` files inside `/bin`. When it tries to load `grpc_csharp_ext.x86.dll` or `grpc_csharp_ext.x64.dll` it throws `System.BadImageFormatException` (when trying to get the ass

[2021-01-20 15:13] jtattermusch commented on #25209
AFAIK For cases where the security is delegated to the service mesh and you're communicating locally over a trusted channel, you can use LocalCredentials
https://github.com/grpc/grpc/blob/3f011c2171612edf1a54ca106a1c092e08534d33/include/grpc/grpc_security.h#L733

By using LocalCredentials you're basically telling grpc that this connection can be trusted to be able to send CallCredentials over it (

[2021-01-20 15:32] jtattermusch commented on #25174
I looked at the diff between the last working build and the first broken build and found this PR:
https://github.com/grpc/grpc/pull/25140  I'll need to see whether it could have caused the problem.

[2021-01-20 17:05] drfloob commented on #25204
Hello! The "new issue" form clearly asks users not to post questions as github issues. Next time please follow the instructions and use the channels mentioned below to ask questions.

[2021-01-20 17:05] #25204 closed

[2021-01-20 17:22] drfloob commented on #25205
Hi @zazeje. This doesn't look like a gRPC bug. My guess is that you haven't installed a sufficient build environment, and a quick web search for `No such file or directory: 'c++': 'c++'` brings up a few solutions.

In the future, please follow the instructions on the new issue form and use the channels mentioned below to ask questions. For reference, new issues begin with:

[2021-01-20 17:22] #25205 closed

[2021-01-20 17:27] tikekar commented on #25096
Any updates on when this fix will be available?

[2021-01-20 17:34] markdroth commented on #24515
This was done in #24805.

[2021-01-20 17:34] #24515 closed

[2021-01-20 17:35] drfloob commented on #25202
I've assigned @jtattermusch, who knows the C# implementation quite well. I'm not familiar with the C# implementation, but I'm curious if https://github.com/grpc/grpc/tree/master/src/csharp/experimental#xamarin has any answers for you. What jumps out to me specifically is that your build shows grpc core v2.31.0, not 2.34.0 as you mentioned.

[2021-01-20 18:53] drfloob commented on #25210
Thank you for pointing this out. I can confirm our nightly builds have been failing since 12/2. I'll look into the fix, and better monitoring for this problem.

[2021-01-20 19:44] yulin-liang commented on #25096
Sorry I am working on other things, I'll take a look this afternoon.

[2021-01-20 19:49] yulin-liang commented on #20500
It's a bug with Cocoapods, the PR(https://github.com/CocoaPods/CocoaPods/pull/10224) should fix this.

[2021-01-20 19:49] #20500 closed

[2021-01-20 20:23] joeldrotleff commented on #20500
Thanks for figuring this out @yulin-liang! I'm going to try and test with that Cocoapods PR when I have a chance to verify

[2021-01-20 22:10] yulin-liang commented on #25096
@tikekar I just check, the `sed` command with `-i` option is incompatible on BSD and GNU, for in-place updating without backup, `BSD' MUST use -i '' and `GNU` must use -i without empty quotes. Since the podspec is mainly for iOS, we must support `BSD` version, I think you still need to use BSD sed.

[2021-01-20 22:30] markdroth opened #25218 "FLAKE: src/ruby/end2end/call_credentials_timeout_test.rb"
https://source.cloud.google.com/results/invocations/25e56ec2-bc79-4a1b-a7cd-4f6c5a402322/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_opt_native%2Fsrc%2Fruby%2Fend2end%2Fcall_credentials_timeout_test.rb/tests

You need to click through to the invocation log to see the whole output, but here's most of it:

[code]

[2021-01-20 22:34] markdroth opened #25219 "TIMEOUT: csharp_macos_dbg_native_csharp_Grpc_IntegrationTesting_InteropClientServerTest.csharp.Grpc.IntegrationTesting.InteropClientServerTest"
https://source.cloud.google.com/results/invocations/f1710be4-351f-4d6a-89bf-3f3769fd4cda/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_macos_dbg_native%2Fcsharp.Grpc.IntegrationTesting.InteropClientServerTest/tests

The failure is a timeout, but the last log entry suggests that it may actually be a bug:

[code]

[2021-01-20 23:07] stanley-cheung commented on #23259
I was able to install the `grpc` extension via `sudo pecl install grpc` on my Mac laptop with Big Sur 11.1 just now. I did compile PHP 7.4.13 from source, which might have helped.

Versions:
- Big Sur: 11.1
- PHP: 7.4.13
- pecl: 1.10.9
- phpunit: 8.5.13
- grpc.so: 1.35.0
with these I was able to run the unit tests suite fully with no errors.

I also have some other packages installed via `brew`.

[2021-01-21 01:51] RyanSiu1995 commented on #25209
@jtattermusch Thank you for the prompt response.
For the service mesh, the connection to another service will still use the cluster ip for the service.
For example, if we want to connect it to service `my-cool-service`, the caller will use the DNS `my-cool-service` directly.
And the traffic will be directed to the `my-cool-service` with mTLS instead.
Here, the connection is not using neither `loca

[2021-01-21 02:23] smdelacruz commented on #25202
Sorry for the confusion, I was trying different kind of grpc  versions just to see any difference on the error log. Unfortunately, if I use 2.34, I will get 106 more errors about grpc. I searched the new errors and its quite similar to this https://github.com/grpc/grpc/issues/19732 (except I dont use tvOS). Hoping for any feedback.

[2021-01-21 03:55] rfeldman1-chwy opened #25222 "LoadError with Ruby 3.0 and grpc gem"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?
MacOS 10.15.7

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Clean install of ruby 3.0, then install pry, grpc, and grpc-tools gems
[code]

### What did you expect to see?
grpc gem loaded

### What did you see

[2021-01-21 06:07] minkezhang opened #25223 "C#: DllNotFoundException: grpc_csharp_ext when running under Ubuntu / Unity"
### What version of gRPC and what language are you using?

C#, with NuGet

| Package               | Version |
| --------------------- | ------- |
| Google.Protobuf       | 3.14.0  |
| Grpc                  | 2.34.1  |
| Grpc.Core             | 2.34.1  |
| Grpc.Core.Api         | 2.34.1  |
| Grpc.Net.Client       | 2.34.0  |
| Grpc.Tools            | 2.34.1  |
| Google.Protobuf.Tools | 3.14.0  |

[2021-01-21 09:44] GFlisch opened #25225 "How can we specify to use Http2 with an insecure channel and a kestrel backend able to handle Http1AndHttp2 protocol?"
I have a kestrel backend with Rest Apis and gRPC services.
As we offer swagger we have to offer Http1 and for gRPC Http2.
In production everything (even k8s) is working because we have the ingress layer exposing our services with https, negotiation is started and gRPC calls are working well => http2 is used.

On our development pc, we use docker desktop and k8s. The services are not using https bu

[2021-01-21 09:59] jtattermusch commented on #25174
I tracked the problem down to https://github.com/grpc/grpc/pull/25140 and created a revert PR: https://github.com/grpc/grpc/pull/25212. I'll comment more on the internal bug.

[2021-01-21 10:56] Dmitry-Nikishov opened #25226 "CMake build under Apple silicon is failed for 1.35.0"
### What version of gRPC and what language are you using?
1.35.0

### What operating system (Linux, Windows,...) and version?
MacOs BigSur

### What runtime / compiler are you using (e.g. python version or version of gcc)
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++

### What did you do?
Set the only one variable for CMake
CMAKE_OSX_ARCHITECTURES=x86_6

[2021-01-21 12:34] purnaGhanta commented on #21673
is UDS socket support provided for grpc-python3 RPC?
 any reference for UDS socket with python multiprocessing is appreciated.

[2021-01-21 18:19] drfloob commented on #25226
Duplicate of #23325

Currently we don't provide support for Apple Silicon (ARM on mac).

[2021-01-21 18:19] #25226 closed

[2021-01-21 19:22] veblush commented on #23454
Can you test newly added [cmakefile](https://github.com/grpc/grpc/blob/master/examples/cpp/route_guide/CMakeLists.txt) to build it instead of makefile?

[2021-01-21 19:25] veblush commented on #24438
This is resolved by #24270 so you can use it with the latest abseil-cpp release.

[2021-01-21 19:25] #24438 closed

[2021-01-21 19:28] donnadionne opened #25229 "master/linux/grpc_bazel_build is broken"
Error observed:
test/cpp/end2end/context_allocator_end2end_test.cc:226:38: error: unused parameter 'callback_server_context' [-Werror,-Wunused-parameter]
        grpc::CallbackServerContext* callback_server_context) override {
                                     ^
test/cpp/end2end/context_allocator_end2end_test.cc:230:48: error: unused parameter 'generic_callback_server_context' [-Werror,-Wunused

[2021-01-21 23:20] stanley-cheung commented on #24451
For some reason, this is no longer an issue. I am able to run all those php docker images successfully.

[2021-01-21 23:20] #24451 closed

[2021-01-21 23:26] #25114 closed

[2021-01-22 00:01] mingwugmail opened #25235 "cygrpc.cpython-36m-x86_64-linux-gnu.so: undefined symbol: PyFPE_jbuf"
### What version of gRPC and what language are you using?

grpcio (1.35.0)
grpcio-tools (1.35.0)

Python version: 3.6.9 (default, Oct  8 2020, 12:12:24)  [GCC 8.4.0]

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.04.5 LTS
x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
[code]

### What did you expect

[2021-01-22 00:17] gnossen opened #25236 "Flake: cloud_to_cloud:java:go_server:ping_pong:alts"
[code]

https://source.cloud.google.com/results/invocations/c44ed048-298f-4889-937b-90ed180346b5/log

[2021-01-22 01:20] donnadionne opened #25238 "Artifact Build Windows (internal CI) build fails"
T:\src\github\grpc>If "true" == "true" (powershell -File tools\internal_ci\helper_scripts\install_python_interpreters.ps1   || goto :error )
Downloading the Python installer: https://www.python.org/ftp/python/3.8.0/python-3.8.0.exe => C:\tools\python-3.8.0.exe
T:\src\github\grpc\tools\internal_ci\helper_scripts\install_python_interpreters.ps1 : Invalid Python installer: failed
checksum!
    + Cate

[2021-01-22 01:21] donnadionne commented on #25238
Warning: Permanently added 'localhost' (ECDSA) to the list of known hosts.
Warning: Permanently added 'localhost' (ECDSA) to the list of known hosts.
Warning: Permanently added 'localhost' (ECDSA) to the list of known hosts.
[16:36:01] Transferring environment variable script to build VM
[16:36:02] Transferring kokoro_log_reader.py to build VM
[16:36:02] Transferring source code to build VM
[16:36

[2021-01-22 01:56] lidizheng commented on #25238
Just checked the checksum value in [our script](https://github.com/grpc/grpc/blob/master/tools/internal_ci/helper_scripts/install_python_interpreters.ps1#L64) and python.org. The checksum is the same. This issue might be a one-time network issue that the downloaded Python installer is corrupted.

[2021-01-22 03:29] donnadionne commented on #25238
You are right, this is not reproducible! thanks for checking

[2021-01-22 03:29] #25238 closed

[2021-01-22 04:29] minkezhang commented on #25223
Update: The workaround is to

1. unzip Grpc.Core.2.34.1.nupkg
1. cp `runtimes/linux_x64/native/libgrpc_csharp_ext.x64.so` -> `Assets/Plugins/libgrpc_csharp_ext.so`

Looks like gRPC does some DLL path futzing ([code](https://github.com/grpc/grpc/blob/0ebae4e0656fb2e05d8a98b28c58566851e7e1cc/src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs#L1336)), but it's unclear as to why we need to manua

[2021-01-22 07:19] charint0 commented on #23454
@veblush Thanks, I tried it, but couldn't go past the Configuring phase. My command could be wrong or the path:

[code]

[2021-01-22 07:20] zazeje commented on #25205
thanks,i know.but how to install C + + and other tools into Aarch64 development board?

At 2021-01-21 01:22:51, "Adam J Heller" <notifications@github.com> wrote:

Hi @zazeje. This doesn't look like a gRPC bug. My guess is that you haven't installed a sufficient build environment, and a quick web search for No such file or directory: 'c++': 'c++' brings up a few solutions.

In the future, please fo

[2021-01-22 17:33] drfloob commented on #25210
The nightly build is fixed, and I've improved our internal monitoring for this build job. The script did not backfill nightly builds between 12/2 and 1/20, and I noticed the build has been pretty spotty in the past as well (there are only entries for half of Nov 2020). I think we'll live with the missing artifacts for now, and keep a better eye on these build failures going forward. Thanks again.

[2021-01-22 17:33] #25210 closed

[2021-01-22 17:47] veblush commented on #23454
Would you make sure that you have `examples/cpp/cmake/common.cmake` in the repo?

[2021-01-22 18:19] drfloob commented on #25235
I was not able to reproduce this issue in a fresh python virtualenv, I'm guessing it's something specific to your environment. A quick web search for `undefined symbol: PyFPE_jbuf` suggests a handful of potential solutions to investigate, mostly around conflicting packages installed via different python versions.

[2021-01-22 18:19] #25235 closed

[2021-01-22 18:21] gnossen opened #25242 "Failure to Build Go Interop Image"
[code]

https://source.cloud.google.com/results/invocations/ff970a31-a168-4b21-a2e8-0763fc03d77a/log

[2021-01-22 18:25] charint0 commented on #23454
@veblush I cloned v1.34.1 from https://github.com/grpc/grpc and followed these instructions: https://github.com/grpc/grpc/blob/master/BUILDING.md but in folder examples/cpp I only see these folders:
+ compression
+ helloworld
+ keyvaluestore
+ load_balancing
+ metadata
+ route_guide
and the file README.md

[2021-01-22 18:33] veblush commented on #23454
@charint0 I see. Can you test it with the HEAD branch?

[2021-01-22 18:41] Rashika101 commented on #25242
I want to work on this issue. Please assigned me this.

[2021-01-22 19:46] menghanl commented on #25242
@Rashika101 Thanks for offering the help. But I don't think there anything to fix here.

The failure looks like connection problem to me.
`gopkg.in/yaml.v2@v2.2.2: unknown revision v2.2.2`
While https://pkg.go.dev/gopkg.in/yaml.v2@v2.2.2 does exist.

[2021-01-22 20:21] charint0 commented on #23454
@veblush With the HEAD everything worked smooth. I guess for production code It's better to stick to the v1.34.1, isn't it?

[2021-01-22 20:22] minkezhang commented on #24427
I am using [NuGetForUnity](https://github.com/GlitchEnzo/NuGetForUnity) and gRPC 2.34.1; I was able to exit the client normally if the `CancellationToken` is explicitly canceled (e.g. `CancellationTokenSource(10000)`). This seems to indicate if you have a global exception handler, you can add the `Cancel()` invocation to global cleanup.

This doesn't seem like a very neat way to approach the probl

[2021-01-22 20:56] Code-Codex commented on #20375
I am trying to use UDS on windows 10 using C# and I keep on getting IOException at CheckPortsBoundSuccessfully(). I am using the workaroud that is provided in the main message above.

[2021-01-22 21:43] mingwugmail commented on #25235
@drfloob  can you try again with:

[code]

BTW, I found a work-around when the bug happens:
[code]

guess it build locally, to avoid pre-built binary.

[2021-01-22 21:49] tikekar commented on #25096
Wondering why all other components of that command are doing backup and not only this one. Also I am wondering that if this is expected to run only on BSD sed, how do we handle this on our build machines which are not only specific to iOS use case.

[2021-01-23 00:52] stanley-cheung commented on #25017
Haven't seen this for a while. Closing this for now.

[2021-01-23 00:52] #25017 closed

[2021-01-23 00:53] #24940 closed

[2021-01-23 00:57] #17506 closed

[2021-01-23 01:10] stanley-cheung opened #25248 "Master distribtests seems to be incompatible with ruby 2.3"
https://source.cloud.google.com/results/invocations/f4f7d7e6-405e-4916-929d-d1b853d76ae3/targets

[code]

Probably related to #25201

[2021-01-23 05:33] #24401 closed

[2021-01-23 05:33] #24388 closed

[2021-01-23 05:33] #23514 closed

[2021-01-23 06:53] tanjuntao commented on #25137
Thanks for your help, it works!

[2021-01-23 07:43] emrehe commented on #24921
@gnossen reproduce procedures based on my programs, is the error logs and code lines enough for troubleshooting?

[2021-01-23 11:08] loomsen opened #25250 "compiling for php 8.0.1 on latest alpine image throws errors"
### What version of gRPC and what language are you using?
PHP 8.0.1 from the `php:8.0-fpm-alpine` image
grpc version: 1.35.0

### What operating system (Linux, Windows,...) and version?
Alpine Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us

[2021-01-25 01:01] #24374 closed

[2021-01-25 01:01] #24183 closed

[2021-01-25 01:01] #24320 closed

[2021-01-25 02:23] wchargin commented on #24374
This is not stale; the issue still exists.

[2021-01-25 02:25] wchargin commented on #24374
@karthikravis Could you please reopen this?

[2021-01-25 07:08] RyanSiu1995 commented on #25209
Hi community, any update or discussion on this?

[2021-01-25 08:20] yulin-liang commented on #25096
@tikekar I tested locally and we can do backup first and remove all backup files to make it work on both environments. I'll create a PR to fix it later.

[2021-01-25 09:13] jtattermusch commented on #24533
Btw, the `libprotobuf WARNING google/protobuf/compiler/csharp/csharp_enum.cc : error : 73] Duplicate enum value Qux (originally qux) in AliasedEnum` is coming from the protobuf protoc codegen:
https://github.com/protocolbuffers/protobuf/blob/48234f5f012582843bb476ee3afef36cda94cb66/src/google/protobuf/compiler/csharp/csharp_enum.cc#L73

So 1. this issue technically doesn't belong to this repositor

[2021-01-25 09:13] #24533 closed

[2021-01-25 09:19] jtattermusch commented on #24533
Ok, just realized that you're actually providing a .proto file.
The exact location that generates the warning is:
https://github.com/protocolbuffers/protobuf/blob/d16bf914bc5ba569d2b70376051d15f68ce4322d/src/google/protobuf/test_messages_proto3.proto#L83
- basically there are 2 enum values that are named alike.
Since the name of one of them needs to be mangled so that a naming conflict is avoided,

[2021-01-25 09:26] jtattermusch commented on #25209
Reassigning to @yihuazhang  who is the author of the local credentials.
https://github.com/grpc/grpc/pull/16116

@yihuazhang  @jiangtaoli2016  what is our stance on this topic? User's concern seems to be legitimate.

[2021-01-25 13:37] jwfx opened #25252 "c-ares on Windows: DNS resolution failed exception when trying to connect locally via host name"
### What version of gRPC and what language are you using?
C#
gRPC 2.35 packages
### What operating system (Linux, Windows,...) and version?
Windows Server 2012 R2
### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET Core 2.1.0
### What did you do?
Modified sample code here: https://github.com/jwfx/grpc/commit/c0545746bddfacd7ea8a0bb35943c065976fd85b

1. Run the G

[2021-01-25 15:02] jtattermusch commented on #25225
The "new issue" form clearly asks users not to post questions as github issues. Next time please follow the instructions and use the channels mentioned below to ask questions.

[2021-01-25 15:06] jtattermusch commented on #25225
You are saying you can't use Grpc.Net.Client, so are you currently using Grpc.Core?
If so, I don't see how your scenario can not work since Grpc.Core always uses HTTP/2 when creating connections (in fact the grpc.core's http implementation only supports HTTP/2).

Are you looking for an option on the server side or on the client side?

[2021-01-25 15:17] jtattermusch commented on #25202
What seems weird is that the error says it's trying to load `/Users/runner/.nuget/packages/grpc.core/2.33.0/runtimes/win/native/grpc_csharp_ext.x64.dll.` - it should be trying to load  an iOS specific version of that library (why would a windows specific dll be loaded on a MacOS machine that is running iOS simulator?).

[2021-01-25 17:24] GFlisch commented on #25225
Hi indeed, I am using Grpc.Core and only http/2 is possible but I presume that when the service is running with Http1AndHttp2 the http/2 call doesn't seems to be handled correctly.

For the moment I am looking for a client side and after I will do the same from the BE. Will try in this case with package Grpc.AspNetCore.Server.ClientFactory... but not yet there.

[2021-01-25 18:15] gnossen commented on #24921
@emrehe I'm afraid not. The error message you've included is usually indicative of an OS-level issue, but there's not a lot of other information here to rely on.

I don't see a link to a reproduction case in this thread. Am I missing something?

[2021-01-25 19:24] tdhintz opened #25257 ".Net Standard2.1 support."
### What version of gRPC and what language are you using?
Grpc.Tools 2.35.0 installed via NuGet.

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft Visual Studio 2019 with current updates., C#.

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Spe

[2021-01-25 20:09] GFlisch commented on #25225
I have found the issue.

On the .net code I have to add this line of code.

AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true);

from:
https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.0#call-insecure-grpc-services-with-net-core-client

And https://github.com/grpc/grpc-dotnet/issues/505.

[2021-01-25 20:09] #25225 closed

[2021-01-25 21:39] donnadionne opened #25261 "master/linux/grpc_portability failing due to error from build_python.sh"
All errors seem to point to:

VENV_PYTHON=/var/local/git/grpc/py27_native/bin/python2.7

curl https://bootstrap.pypa.io/get-pip.py

/var/local/git/grpc/py27_native/bin/python2.7
% Total % Received % Xferd Average Speed Time Time Time Current
Dload Upload Total Spent Left Speed

0 0 0 0 0 0 0 0 --:--:-- --:--:-- --:--:-- 0
100 1883k 100 1883k 0 0 6848k 0 --:--:-- --:--:-- --:--:-- 6848k
Traceback (

[2021-01-25 22:26] Rantanen opened #25263 "Error reporting through C++ APIs"
### Is your feature request related to a problem? Please describe.
We have gRPC as part of a server that the users may install in their own environment and thus need to configure by themselves. The lack of API-level error reporting makes it difficult to troubleshoot issues and to provide user-readable error messages. This includes both the server (Port in use, TLS certificate error, etc.) and clie

[2021-01-25 22:41] veblush commented on #23454
@charint0 Thanks for the verification. Yeah you'd better stick with the released ones. This change will be available on the next release.

[2021-01-25 23:19] mjsambol commented on #25250
I've got something very similar looking, in different circumstances. Trying to install grpc on debian,
PEAR Version: 1.10.9
PHP Version: 7.4.11
Zend Engine Version: 3.4.0

Ran command:
sudo pecl install grpc

After many minutes of furious building, I got the same results as reported above:

/tmp/pear/temp/grpc/third_party/upb/upb/json_decode.c: In function ‘jsondec_value’:
/tmp/pear/temp/grpc/thir

[2021-01-26 05:40] rahulpr2708 opened #25273 "Core dump in gpr_mu_unlock during long run for server streaming RPC."
### What version of gRPC and what language are you using?
grpc 1.18.0 c++

### What operating system (Linux, Windows,...) and version?
Freebsd 11

### What runtime / compiler are you using (e.g. python version or version of gcc)
LLVM 3.7

### What did you do?

We have a server streaming RPC that is designed to stream response to the clients periodically. On couple of setups, the streaming RPC sudd

[2021-01-26 08:08] fabsenet opened #25274 "Native libraries search path is wrong in GAC scenario"
This may be related to https://github.com/grpc/grpc/issues/18737

### What version of gRPC and what language are you using?
grpc 2.34.1 (client)
C# on .net framework 4.7.2

### What operating system (Linux, Windows,...) and version?
Windows Server 2016

### What runtime / compiler are you using (e.g. python version or version of gcc)
x64

### What did you do?
The legacy app I am working on relies

[2021-01-26 08:21] fabsenet commented on #25274
relates to https://github.com/grpc/grpc/issues/25211

[2021-01-26 08:51] mlocati commented on #25250
A temporary workaround is to set the `CPPFLAGS` environment variable to `-Wno-maybe-uninitialized`.

For example:

[code]

[2021-01-26 08:55] TisonKun commented on #24625
@essandess at the end how do you fix the issue?

[2021-01-26 10:29] mjsambol commented on #25250
The CPPFLAGS workaround did not work for me, I got the same exact error.

[2021-01-26 10:53] mlocati commented on #25250
Yep, you can use both pecl and pickle. By starting a Docker container with `docker run --rm -it php:8.0.1-cli-alpine3.13 sh`:

- using pecl:
[code]
- using pickle:
[code]

[2021-01-26 11:01] essandess commented on #24625
There's a successful build approach in the Portfile in https://github.com/macports/macports-ports/pull/9729.

[2021-01-26 11:11] Younnah commented on #25060
Hi everyone 👋

I have the same issue and I can't seem to fix it at all... (for another ruby version)
OS version : macOS Big Sur version 11.1 (20C69)
Ruby version : `ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin20]`

I try to intall the 1.24.0 version of the grpc gem

I have those errors :
[code]

Does anyone have an idea? Thank you!

[2021-01-26 12:34] RyanSiu1995 commented on #25209
Hi @yihuazhang,
I totally understand the original thought on the implementation with secure channel.
Back in the day, the gRPC itself could force the users to apply the secure channel to send data to eliminate the attack surface.
Nowadays, more and more TLS and security stuff are leveraged to the infrastructure layer. Application itself simply focuses on the business logic.
Instead of changing the

[2021-01-26 13:29] mlocati commented on #25250
And PS: you can now use my [`install-php-extensions`](https://github.com/mlocati/docker-php-extension-installer) script to install grpc 1.35.0 (as well as tons of other PHP extensions), both on Debian-based and Alpine-based PHP docker images.

[2021-01-26 14:56] yihuazhang commented on #25209
Hi @RyanSiu1995,

gRPC C-core and C++ now allow call credentials to be communicated over insecure channels by using insecure credentials (i.e., `grpc_insecure_credentials_create()`), but there is a requirement that those call credentials should not require any transport security in their communications (dictated by security level).

[2021-01-26 16:29] HndsmJohn opened #25275 "Cannot run Python multiprocessing example on within docker container"
### What version of gRPC and what language are you using?

gRPC Version 1.26.0 / Python 3.7.3 (Docker container)
gRPC Version 1.33.1 / Python 3.6.12 (My computer)

### What operating system (Linux, Windows,...) and version?

The container is based on Debian Buster, linux kernel version 5.8.0-38-generic.
My computer runs on Ubuntu 20.04, linux kernel version 5.8.0-38-generic

### What runtime / com

[2021-01-26 18:16] markdroth opened #25276 "FLAKE: grpc/core/pull_request/windows/grpc_build_artifacts[default]"
https://source.cloud.google.com/results/invocations/10001fa5-4e86-4862-a112-b6b6a68b4849/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_build_artifacts/log

[code]

[2021-01-26 18:25] lidizheng commented on #25276
This is the second case that our script downloaded corrupted Python installer recently. I will implement a retry mechanism.

[2021-01-26 18:41] murphyj8 commented on #24539
hello @lidizheng, please see below for the error I'm getting when trying to install the grpcio tools for python. Again, it's python 3.9 with macOS Big Sur and clang version

Apple clang version 12.0.0 (clang-1200.0.32.28)
Target: x86_64-apple-darwin20.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

    ------------------

[2021-01-26 18:48] gnossen commented on #24539
@murphyj8 There's a lot of log spam when a compilation fails. Unfortunately, the section you excerpted doesn't include the relevant clang failure. Can you please include the full error message?

[2021-01-26 19:00] lidizheng commented on #24539
@murphyj8 Can you open up a new issue for the compilation error on macOS (it helps people to find it in future)? Generally, we recommend to use binary wheels instead of compile from scratch which is very sensitive to the environment.

Please update your `pip`, and then download the corresponding wheel (https://pypi.org/project/grpcio/#files). For 3.9 on mac, it should be this one: https://files.py

[2021-01-26 20:38] yashykt commented on #25073
Yes, the tag should be returned, though it seems that https://github.com/grpc/grpc/issues/10136 has not been fixed yet

[2021-01-27 03:21] jazzwsr opened #25280 "Why Linux node-grpc rebuild size so big?"
Electron version: V7.3.3
grpc version: V1.0.0

result: when i use electron-builder build a Linux unpackaged file , the app.asar include grpc so large, compare with build from windows, as is shown in:
![image](https://user-images.githubusercontent.com/8381304/105938035-bb125f80-6091-11eb-8e05-e00ede8a2aee.png)

[2021-01-27 04:51] Thompson-Liu opened #25281 "Running grpc client and server on separate machines failed"
### What version of gRPC and what language are you using?
grpcio==1.34.1
grpcio-tools==1.34.1
python

### What operating system (Linux, Windows,...) and version?
MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6.5

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce th