[2020-08-28 11:42] veronicagarciavazquez commented on #23488
Regarding the versions problem, I could generate a grpc_csharp_ext.dll for x64 that works with the NuGet packages Google.Protobuf (version 3.13.0) and Grpc.Core (version 2.30.0) using MSBuild for Unity (package manager) in Unity. What I did was to clone the version of gprc 1.31.1 and follow the steps in https://github.com/grpc/grpc/blob/v1.31.1/BUILDING.md except for using

cmake .. -G "Visual Stu

[2020-08-28 14:41] AntonQubecinema commented on #20802
@yashykt @lidizheng
Me added [C++ client to the demo](https://github.com/AntonQubecinema/grpc-issue/blob/master/src/Client.cpp)
Both tests passed for C++ client. See the tracing logs attached.
[cpp-client.log](https://github.com/grpc/grpc/files/5142665/cpp-client.log)
[cpp-server.log](https://github.com/grpc/grpc/files/5142666/cpp-server.log)

[2020-08-28 15:01] vielmetti opened #24002 "test and build infrastructure for arm64 support"
### Is your feature request related to a problem? Please describe.

Multiple projects on arm64 are blocked because of lack of arm64 support for `grpc`.

If "gRPC is a modern, open source, high-performance remote procedure call (RPC) framework that can run anywhere", then it should run anywhere including on arm64.

It has been pointed out several times that arm64 support is limited in part
because

[2020-08-28 15:44] zxpan commented on #23985
Any updates? or my observation is wrong

[2020-08-28 16:40] markdroth opened #24005 "TIMEOUT: //test/cpp/end2end:client_callback_end2end_test@poller=epoll1[k8-opt]"
https://source.cloud.google.com/results/invocations/68e14061-7f94-44b9-b0be-bf6fef3aa99a/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_callback_end2end_test@poller%3Depoll1/log

[2020-08-28 17:04] DavitSo opened #24006 "pubsub emulator"
Sorry , it may be incorect place for this.
I'm trying to connect my c++ program to pubsub emulator, but there is some issues.
Is this future supported?

[2020-08-28 17:18] dfawley opened #24007 "Document grpc-status-details-bin"
Moving from https://github.com/grpc/grpc-go/issues/2329 since this is a request for documentation that lives in this repo.

https://github.com/grpc/grpc/pull/12825 by @yang-g attempted to add this to the spec but it was never merged (closed and locked by stale bot).

This field is currently a supported feature of gRPC but its design / behavior is entirely undocumented.  We need a specification for

[2020-08-28 20:17] Talador12 commented on #23979
Hey @ karthikravis

Thank you for picking this up. Any questions? How could I help out?

[2020-08-28 20:19] #22491 closed

[2020-08-28 20:56] #22809 closed

[2020-08-28 21:06] zdenulo commented on #23796
We're using Flask application and Google PubSub emulator and Google Datastore emulator (both communicating via grpc through client libraries) to run tests. With grpcio==1.31.0 we are getting segmentation fault errors but fortunately, with 1.30.0 it works ok. Not sure what could be the issue. We're Python 3.7.5

[2020-08-28 21:19] Jiboxiake opened #24014 "gRPC asynchronous client stuck at cq_.Next() forever"
### What version of gRPC and what language are you using?
1.30.0

### What operating system (Linux, Windows,...) and version?
Linux Ubuntu 18.0.4

### What runtime / compiler are you using (e.g. python version or version of gcc)
7.5.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough

[2020-08-28 23:32] thedanielsun commented on #22430
I am getting this too, it seems to be the same flavor as this issue https://github.com/grpc/grpc/issues/13856

[2020-08-29 02:05] glittershark commented on #19133
Any progress on this? I'm working on a project that needs this, and might want to take a crack at it myself if there hasn't been any work on it internally

[2020-08-29 02:54] riking opened #24017 "[c++ interceptors] Authentication interceptors unable to signal other interceptors not to process the request"
### Is your feature request related to a problem? Please describe.
I am designing a server interceptor to process a settings protobuf passed as metadata by the client. Some of these settings are dangerous to act on, so it should only process authenticated requests.

Because server interceptors cannot `Hijack()` requests, there is no available way for the authentication interceptor to signal an aut

[2020-08-29 03:22] jameOne opened #24018 "Python client hangs on first connection, on Ubuntu Server 18 and Ubuntu Server 20 but not on Ubuntu Server 16."
### What version of gRPC and what language are you using?

gRPC: v1.31.0, Python

### What operating system (Linux, Windows,...) and version?

Ubuntu Server 16.04,
Ubuntu Server 18.04,
Ubuntu Server 20.04,
Windows 10 Enterprise

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609, Python 3.5.2
gcc (Ubuntu 7.5.0-3ubu

[2020-08-30 09:31] 0xa0ax0 opened #24022 "Parameter 'selected_port[out]' not found in the function declaration"
Hi I get this warning in xcode, how do I fix it?
I connected to firebase.

    Parameter 'selected_port[out]' not found in the function declaration

[2020-08-30 09:32] 0xa0ax0 opened #24023 "Parameter 'selected_port[out]' not found in the function declaration"
Hi I get this warning in xcode, how do I fix it?
I connected to firebase.

    Parameter 'selected_port[out]' not found in the function declaration

[2020-08-30 11:10] daicoden opened #24024 "Can't load more than one py_proto_library with import_prefix or strip_import_prefix in the same package."
### What version of gRPC and what language are you using?
Master, Python

### What operating system (Linux, Windows,...) and version?
Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7

### What did you do?

While working on tests for #22800 I saw that when the _virtual_imports strategy prevents you from importing multiple pb2 files from the same pack

[2020-08-30 13:13] yabli commented on #23618
@jtattermusch, I have updated [the repro project https://github.com/yabli/grpcTest1](https://github.com/yabli/grpcTest1) to work with dotnet and simplified the test code that you can easily repro the issue. Can you please take a look? Thanks

Steps to repro:
- dotnet restore GrpcRepro.sln
- dotnet build GrpcRepro.sln
- Tests\UnitTests\bin\Debug\net472\UnitTests.exe

[2020-08-30 17:56] samta commented on #18365
I can observe the same behaviour with 1.18, do we have fix for this issue?

[2020-08-31 08:05] gapro20022 opened #24026 "Building wheel for grpcio (setup.py) . . . takes forever while installing firebase-admin on the Jetson Nano"
I am trying to install firebase-admin on the Jetson Nano which runs on Ubuntu 18.04 LTS. It returned a bunch of errors which didn't even fit an entire scroll of the terminal, but here's what it says after it returned the errors.

`  ERROR: Failed building wheel for grpcio
  Running setup.py clean for grpcio
Failed to build grpcio
DEPRECATION: Could not build wheels for grpcio which do not use PEP

[2020-08-31 08:16] yashykt commented on #18365
@samta, @IzakMarais I am sorry this bug did not receive attention. Can you please try with head?

[2020-08-31 08:21] gapro20022 commented on #24026
Update:
Running setup.py install for grpcio... returned this
`commands.CommandError:

    We could not diagnose your build failure. If you are unable to proceed, please file an issue at http://www.github.com/grpc/grpc with `[Python install]` in the title; please attach the whole log (including everything that may have appeared above the Python backtrace).

    Traceback (most recent call last):

[2020-08-31 11:00] JanFeld commented on #21213
Got the same behaviour on ARMv7 linux kernel 5.8.0-rc5. On Manjaro with 5.7.17-2 everything is fine.

It blocks on `BuildAndStart()` with ~100 % CPU usage.

I'm using gRPC++ 1.30.2

[2020-08-31 16:49] lidizheng commented on #24018
Thank you for the in depth investigation. It does look like a connection issue. To further debug, can I ask you to produce a trace log on your environment? To turn on trace log, please set environment variables `GRPC_VERBOSITY=debug` and `GRPC_TRACE=all` ([read more](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md)).

[2020-08-31 17:14] jameOne commented on #24018
No problem.

Here is the amended version of the client I just ran on my local machine.
[code]

As I mentioned, I added 2 additional request/responses which contribute almost none to the overall execution time.

[2020-08-31 17:16] jameOne commented on #24018
[output.txt](https://github.com/grpc/grpc/files/5151649/output.txt)

[2020-08-31 17:18] jameOne commented on #24018
I cannot paste the output as it exceeds the maximum length allowed. @lidizheng Please let me know if you have trouble accessing the file.

[2020-08-31 17:59] lidizheng commented on #20802
Thank you for providing the trace log for both languages.

For server side, unfortunately, there isn't any interesting log about why the method decided to return a status code 13.

For client side, the only difference I found is the encoded protobuf message:
[code]

So, I checked the encoded message for these two client. There are 2 bytes difference:
[code]

This is definitely something wrong, and

[2020-08-31 18:17] lidizheng opened #24028 "Python builds failed on master"
https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_basictests_python

https://source.cloud.google.com/results/invocations/baba7e4f-6421-4b0c-8cb7-b106b252191d/log

https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_basictests_python

https://source.cloud.google.com/results/invocations/9cd6

[2020-08-31 18:31] lidizheng commented on #20802
@AntonQubecinema Awkwardly, a ProtoBuf maintainer pointed out that the Python client is creating the sub message `TestFailedMsg` https://github.com/AntonQubecinema/grpc-issue/blob/master/client/manual/test_client.py#L24. While C++ client is creating legitimate `TestFailedRequest`.

Why the malformed Python client passes the first unit test is still unclear to me. It could be those two different me

[2020-08-31 18:42] lidizheng commented on #24018
@jameOne It seems the resolver is having trouble with `localhost:50051`.

1. Can you check if `localhost` is set properly in your environment?
2. Can you try a different resolver by setting environment variable `GRPC_DNS_RESOLVER=native`?

[code]

[2020-08-31 18:43] gnossen commented on #24028
Interesting. Whatever changed in `setuptools`, it's causing the [`__wrap_memcpy` hack](https://github.com/grpc/grpc/blob/749024c2c8dd66239adda533c47417f2fe487089/src/core/lib/gpr/wrap_memcpy.cc#L29) to fail:

[code]

[2020-08-31 19:03] jameOne commented on #24018
1. Re: localhost I simply ran `/bin/bash ping localhost` and received:
[code]
There is no latency observed when running the above command.

2. I set the `GRPC_DNS_RESOLVER=native` environment variable (in addition to `export GRPC_VERBOSITY=debug` and `GRPC_TRACE=all`) as suggested and received the following output:

[code]

The response from the client was seemingly instantaneous i.e. it has solve

[2020-08-31 19:19] lidizheng commented on #24018
@apolcyn Can you help to take a look why C-Ares takes more than 1 minute to connect to `localhost`?

[2020-08-31 20:13] gnossen commented on #24028
Potentially related: https://github.com/pypa/setuptools/issues/2232

[2020-08-31 20:45] lidizheng commented on #24028
The discussion seems mainly about the install location. The compilation failure you mentioned is a behavior change in compiler. So, I guess there are still some undiscovered issue.

[2020-08-31 20:56] gnossen commented on #24028
It's about whether we're pulling in `setuptools`' vendored `distutils` or Debian's vendored (and patched) `distutils`. Prior to version 50, we were getting Debian's, whereas now we're getting setuptool's packaged version. Since distutils controls the exact compiler invocation, I think it's likely that difference is significant.

[2020-08-31 21:04] lidizheng commented on #24028
Mentioned in https://github.com/pypa/setuptools/issues/2350 that setting environment variable `SETUPTOOLS_USE_DISTUTILS=stdlib` fixes this problem. TIL that Debian and Ubuntu has patched `distutils`. Let's see how `setuptools` owners decided to fix this issue.

[2020-08-31 21:17] lidizheng commented on #24028
Reopen since the we still need to plan for how to adapt to the new `distutils` changes introduced by `setuptools` 50.0.0+.

[2020-08-31 21:50] gnossen commented on #24028
I was expecting that maybe `-Wl,-wrap,memcpy` didn't get propagated from [setup.py](https://github.com/grpc/grpc/blob/e960034384f08a56155f163685eb863a327e3260/setup.py#L230) down to the compiler invocation, but it's in there:

[code]

So far, the only difference I've found is the use of LTO.

[2020-08-31 21:58] gnossen commented on #24028
Comparison of compilation of single translation unit:

My machine:
[code]

CI:
[code]

[2020-08-31 21:59] yashykt commented on #20802
whoops, this turned out to be a wild-goose chase

[2020-08-31 21:59] #20802 closed

[2020-08-31 22:20] veblush commented on #24028
It's worth mentioning the [PR](https://github.com/grpc/grpc/pull/23385) removing wrap-memory hack. This would be helpful to stay with setuptool 50 in future. Note that it sill has another problem with Windows Python, `TypeError: _commandfile_spawn() got an unexpected keyword argument 'env'`.  ([test](https://source.cloud.google.com/results/invocations/9ab12871-e51e-434f-aaf2-86da78c5f128/targets))

[2020-08-31 22:33] lidizheng commented on #24028
I saw the Windows issue. It could be introduced by the `distutils` behavior change. Pinning to older version solved it.

[2020-08-31 23:22] gnossen commented on #24028
Using `export SETUPTOOLS_USE_DISTUTILS=stdlib` fixes the issue on all platforms, meaning that https://github.com/pypa/setuptools/issues/2232 is indeed the root cause. Unfortunately, this doesn't do a whole lot for us. We could potentially just add `os.environ["SETUPTOOLS_USE_DISTUTILS"] = "stdlib"` to setup.py before we `import setuptools`. That would solve the case where people invoke us as a sub

[2020-08-31 23:48] lidizheng commented on #24028
Good finding! I would doubt anyone trying to import our `setup.py`. In the most extreme definition, the compilation of our library is part of our API contract. But we already doing a bunch of hacky things, like monkey patching distutils, patching multiple compilers. At this moment, I prefer to use the pin-back solution, since the environment variable is marked as "temporary".

[2020-09-01 00:02] gnossen commented on #24028
~I don't think pinning back `setuptools` is sufficient. Right now, if someone on Debian or Ubuntu does `pip install grpcio`, it won't work.~

Just tested the `debian:latest` Docker image with `setuptools` 50.0.0. It worked with no modifications. A Debian user would have to explicitly update their setuptools to hit this problem, so I agree that pinning back in CI should be sufficient for now. If we

[2020-09-01 00:31] apolcyn commented on #24018
The noteworthy thing from the log is:

[code]

I'm guessing that the IPv4 localhost resolution worked instantaneously because it probably read directly from the local `/etc/hosts` file. However, the IPv6 answer was not in /etc/hosts and hence the query to the DNS server. The strange thing is why c-ares was unable to receive and responses from the DNS server that it discovered, though. Likely thing

[2020-09-01 01:05] jameOne commented on #24018
@apolcyn I will certainly attach those items. I am very curious as to what is causing this issue on my system. It does not seem terribly common and is a bit beyond me so thanks to all for helping me troubleshoot. Hopefully it ends up being worth tour time.

FYI I am now away from my computer for a couple days and will post these items when I return. Thanks again.

[2020-09-01 02:10] qtvspa commented on #22508
I'm facing similar issue on macOS
- server: java
- client: python3.7, grpcio-tools==1.31.0

error logs

- E0901 10:09:09.880056268     125 backup_poller.cc:132]       Run client channel backup poller: {"created":"@1598926149.880029397","description":"pollset_work","file":"src/core/lib/iomgr/ev_epollex_linux.cc","file_line":321,"referenced_errors":[{"created":"@1598926149.880027174","description":"

[2020-09-01 06:17] thaishankar opened #24035 "Specify Source Address in Channel Creation"
### Is your feature request related to a problem? Please describe.
Request a way for client side binding to a source address. I have multiple network interfaces on the client side, each with a source address in a different network. The outgoing traffic from the client to the server seems to be going on an arbitrary interface as decided by the Operating System. Would it be possible to add an option

[2020-09-01 07:54] #24006 closed

[2020-09-01 08:40] lidizheng commented on #24028
This plan sounds good. Closing this issue unless there is a need for another patch.

[2020-09-01 08:40] #24028 closed

[2020-09-01 08:42] ahaeber opened #24036 "Image missing in documentation for C++ Completion Queue"
I found a bug in the documentation for Grpc Core at <https://grpc.github.io/grpc/core/md_doc_core_grpc-cq.html>. The image address is incorrect so the image is not displayed. It is currently <https://grpc.github.io/grpc/images/grpc-cq.png>.

Looking at the raw markdown article for that documentation at <https://github.com/grpc/grpc/blob/master/doc/core/grpc-cq.md> I see the image and the address u

[2020-09-01 11:56] chongkong commented on #24028
I think the root cause is that `distutils` is imported before `setuptools` in [commands.py](https://github.com/grpc/grpc/blob/249c26148e44e34bdf150ba8cf2e16c0f6e66151/src/python/grpcio/commands.py#L18), which breaks the monkeypatching behavior of setuptools. (setuptools monkeypatches some distutils methods thus should be [imported before distutils](https://setuptools.readthedocs.io/en/latest/histo

[2020-09-01 12:46] xerdink commented on #24028
I have set `SETUPTOOLS_USE_DISTUTILS=stdlib` but still build fails in `setuptools==50.0`

Now I'm downgrading setuptools.

[2020-09-01 13:41] keikomori opened #24037 "when I install grpcio it crashes when running: "Running setup.py install for grpcio ... \""
### What version of gRPC and what language are you using?
I'm install a version grpcio==1.30.0 - python==3.6.9

### What operating system (Linux, Windows,...) and version?
Lubuntu version 18.04.5

### What runtime / compiler are you using (e.g. python version or version of gcc)
I'm using a python version

### What did you do?
dont
Please provide either 1) A unit test for reproducing the bug or 2)

[2020-09-01 14:46] veronicagarciavazquez commented on #23488
Regarding chacha.obj for ARM64, I have had a look at cMakeLists.txt in cypto project.

There are ASM files for win-x86 and win-86-64 in _grpc\third-party\boringssl-withbazel_. For ARM64 the are files for Linux and iOS (see below) but not for windows...

_grpc\third_party\boringssl-with-bazel\ios-aarch64\crypto\chacha\chacha-armv8.S
_grpc\third_party\boringssl-with-bazel\linux-aarch64\crypto\chacha

[2020-09-01 16:44] Falco20019 commented on #24018
@apolcyn I see a smiliar behavior on Windows 10 Enterprise with C#. So it might be a problem with c-core. The code tested is minimal but using grpclb. The request happens at 17:56:18 and is stalled until 17:56:29 with only timer stuff in between. I put a breakpoint in the DNS server code and it also only received the request after those 10 seconds and responded immediately.

[code]

[test.txt](htt

[2020-09-01 17:21] gnossen commented on #24028
@chongkong Thanks for the suggestion! Giving that a shot [here](https://github.com/grpc/grpc/pull/24031/files).

[2020-09-01 18:24] yashykt opened #24039 "Broken ObjC test testKeepaliveWithV2API with BDP fix #22997"
After #22997 which fixes bdp pings to not be sent unnecessarily, testKeepaliveWithV2API was affected and disabled.

[2020-09-01 18:30] yulin-liang commented on #24039
Looks like the client doesn't receive the close callback in 32s. I'm going to increase the test timeout to see if it works. I'll enable it when it is fixed.

[2020-09-01 20:30] yashykt commented on #23028
https://source.cloud.google.com/results/invocations/6b04a188-545d-4f0a-b7e0-0b670cdcbf02/targets/github%2Fgrpc%2Frun_tests%2Fpython_linux_opt_native%2Fpy27_native.test.unit._exit_test.ExitTest/tests does this help?

[2020-09-01 20:30] #22996 closed

[2020-09-01 20:57] apolcyn commented on #24018
@Falco20019 you're issue also seems strange, however mainly because it's on Windows, I'm not sure it's the same issue that @jameOne is running into.

That said, from the test.txt log:

[code]

The 11 second jump between these two logs:

[code]

is strange.

For one, do you happen to know what is the CPU usage (and number of available cores) during this?

[2020-09-01 21:05] yashykt commented on #17667
The BDP fix PR finally got merged. Waiting on https://github.com/grpc/proposal/pull/203 and then we should be able to deprecate GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS too.

[2020-09-01 21:05] #17667 closed

[2020-09-01 21:12] Falco20019 commented on #24018
@apolcyn If you assume it‘s unrelated, I can also create a separate issue to keep the threads clean if preferred. I will do some more testing tomorrow. It took me some time to even find out why grpclb was not working anymore (missed https://github.com/grpc/proposal/blob/master/A26-grpclb-selection.md) and what ChannelOption keys to set as the ChannelOptions static class has no constants for it. Th

[2020-09-01 21:15] Falco20019 commented on #23852
@YSZhuoyang Sorry, that was my fault. But should be easy to fix. I will give it a look. Only just stumbled over your issue by chance (not related to gRPC team or google, just a contributor).

[2020-09-01 21:25] apolcyn commented on #24018
@Falco20019 opening a different issue for what you're seeing would be helpful, I think. Thanks!

It's definitely interesting that this is reproduceable for you and happens particularly after reboot.

One thing that might be relevant is that the only thing that happens between the 11-second separated logs I mentioned is a call to https://github.com/c-ares/c-ares/blob/abe1ff1ff379e38629d57d7ef7221d4

[2020-09-01 21:43] Falco20019 opened #24042 "Delay on first connection in C# with grpclb and c-ares"
### What version of gRPC and what language are you using?
C# 2.31.0 via NuGET

### What operating system (Linux, Windows,...) and version?
Windows 10 Enterprise 1803

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019 Professional 16.7.0
.NET Core 3.1 / .NET Standard 2.1

### What did you do?
[code]

### What did you expect to see?
The first call b

[2020-09-01 22:29] dgrnd4 opened #24045 "[Python install] using the command: "" docker build --tag=mediapipe . """
Hi there , with the command **docker build --tag=mediapipe .** i'm having this kind of problem using the powershell in windows:

  src/core/lib/iomgr/ev_epollex_linux.cc:977:57: note: an enum with different value name is defined in another translation unit
     typedef enum { WRR_NEW_ROOT, WRR_EMPTIED, WRR_REMOVED } worker_remove_result;

[2020-09-01 22:40] dgrnd4 commented on #24045
if is better, that's a txt with the problem
[errore.txt](https://github.com/grpc/grpc/files/5159134/errore.txt)

[2020-09-01 23:26] YSZhuoyang commented on #23852
No problem @Falco20019 , thanks for your help.

[2020-09-02 01:01] lidizheng commented on #24045
This is likely share the same root cause as https://github.com/grpc/grpc/issues/24028. Can you try to specify `SETUPTOOLS_USE_DISTUTILS=stdlib` environment variable and build again?

[2020-09-02 06:18] rajesh0therascal commented on #24037
Similar problem.

While installing tensorflow on Jetson Nano, It requires grpcio
Failed to build wheel for grpcio
Jetpack Version : 4.3
Ubuntu : 18.04.5 LTS
Python: 3.6.9
grpcio: 1.31.0

Python-dev and setuptools updated to latest versions as on date.

Error description:

<pre><font color="#CC0000">ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c
&apos;import sys, setuptools,

[2020-09-02 06:20] Falco20019 commented on #23852
@YSZhuoyang Can you try to use `AdditionalImportDirs` on `Protobuf` instead of `ProtoRoot`?

Looking into the code again ([Grpc.Tools/GeneratorServices.cs#L71](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Tools/GeneratorServices.cs#L71)) it is not intended to have more than one entry. This was the behavior in C++ already before my change.

The build target composes the `ProtoPath` for

[2020-09-02 06:46] Falco20019 commented on #24042
@apolcyn As promised, here a test shortly after rebooting. The machine was not close to it's limits.

The channel was created on 08:38:34, name resolution started the same second and the resolver returned success on 08:39:04... So round about 30 seconds.

![grafik](https://user-images.githubusercontent.com/940619/91939579-5fb48f00-ecf6-11ea-9638-8a03b71ee581.png)
[test2.txt](https://github.com/grp

[2020-09-02 07:21] YSZhuoyang commented on #23852
Thank you @Falco20019 , your solution worked out very well. Problem solved.

[2020-09-02 07:21] #23852 closed

[2020-09-02 08:21] Falco20019 commented on #24042
@apolcyn I tested it with a colleague in my company. The same behavior with the same delays of 15 - 60 seconds.

[2020-09-02 08:32] apolcyn commented on #24042
Interesting. The unexpectedly long amount of time in what appears to be a non-blocking c-ares DNS lookup initiation is definitely suspicious.

Is it possible for you to use perhaps a debugger to briefly pause the process during those 15 seconds, and dump stack traces of all threads? (Or a wall time profiler may also accomplish roughly the same) Maybe that can show a suspicious mutex wait or blocki

[2020-09-02 08:53] Falco20019 commented on #24042
I assume you need a C++ debugger? Or should I be able to dump the trace as windump with C# / Windows? The native DLL should be included in the managed application, so it might appear. I have the JetBrains Ultimate suite at hand. So dotMemory and dotTrace dumps might help.

I will give it a try.

[2020-09-02 09:00] apolcyn commented on #24042
Something that can see native stack traces would be ideal.

[2020-09-02 09:11] rajesh0therascal commented on #24026
Hi @gapro20022,

Problem is with setuptools. Downgrade it to 49.6.0 and try installing it will work.

[2020-09-02 09:12] rajesh0therascal commented on #24037
Hi @keikomori

Problem is with setuptools. Downgrade it to 49.6.0 and try installing it will work.

[2020-09-02 09:20] dgrnd4 commented on #24045
To specify SETUPTOOLS_USE_DISTUTILS=stdlib environment variable are these the right steps?
- go to computer, right click -> propiety
- advanced field -> environment variable
- i added the variable for the account that i'm using in windows and for the whole system as in the photo
![envirnment variable](https://user-images.githubusercontent.com/69434832/91963555-48819b80-ed0e-11ea-8886-9689424fb136.

[2020-09-02 09:37] dgrnd4 commented on #24045
i did it but still the problem. Below the whole problem showed
[errore.txt](https://github.com/grpc/grpc/files/5161388/errore.txt)

[2020-09-02 10:54] sidikalamini commented on #24037
Facing similar error yesterday while installing tensorflow. Installation of grpcio successful after downgrading setuptools to 47.3.1 from 50.x (latest version)

[2020-09-02 11:05] girirajthara opened #24048 "adding data to context from server intercept_service in python"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2020-09-02 11:38] Falco20019 commented on #24042
I sadly can not see the native stack trace. Is there an easy way to get a `grpc_csharp_ext.x64.dll` with symbols without having to setup the whole build environment? Technically, JetBrains dotTrace would have the capability to also trace native code if symbols are available. So it only notes that 57.5% of the trace have no resolved functions.

![grafik](https://user-images.githubusercontent.com/94

[2020-09-02 15:24] jameOne commented on #24018
@apolcyn, here is the contents of my /etc/resolv.conf:
[code]
Using the `route` command packaged with `net-tools` provided:

[code]

I then ran `sudo tcpdump -i enp39s0 'port 53' &> tcp_dump.txt` and waited about 15 seconds. In a separate pair of terminals I started the python gRPC server and client W/O the flags suggested by @lidizheng and so the client was exhibiting the connection issue during

[2020-09-02 16:17] apolcyn commented on #24042
I believe you can get symbols from the `Grpc.Core.NativeDebug` nuget ? https://github.com/grpc/grpc/issues/15437 for a bit of background

[2020-09-02 16:30] lidizheng commented on #24045
@dgrnd4 You are using Docker. So, setting the Windows environment variable is not sufficient.

Another path is that you can downgrade `setuptools` version to < 50? For example, `44.1.1`.

[2020-09-02 16:36] dgrnd4 commented on #24045
Do you think that now is it fine?

If you read my error , the last sentence says that:
**The command '/bin/sh -c pip3 install tensorflow==1.14.0' returned a non-zero code: 1**

that means something for you?

However downgraded setuptools by the command **pip install setuptools==44.1.1**
Do you think that is fine and i can build it again?

[2020-09-02 21:58] charlielito commented on #24026
I can confirm this, I was having trouble installing grpc in a Jetson Xavier AGX and this solved it

[2020-09-02 23:14] JScon01 commented on #24048
Hi,I need some help. I want to speak with anyone with C++ experience.

[2020-09-03 00:12] #23036 closed

[2020-09-03 05:37] gapro20022 commented on #24026
Thank you very much! I will close this now.

[2020-09-03 05:37] #24026 closed

[2020-09-03 12:36] Falco20019 commented on #24042
Thanks for the hint about `Grpc.Core.NativeDebug`. I was able to create a dump while it was stuck.

![grafik](https://user-images.githubusercontent.com/940619/92110597-40e3f480-edeb-11ea-87ee-cafea46475d4.png)
![grafik](https://user-images.githubusercontent.com/940619/92110571-36c1f600-edeb-11ea-879b-52b686e13683.png)

To me (without knowing too much C++ and c-ares), it looks like it's stuck on re

[2020-09-03 12:52] Falco20019 commented on #24042
I just checked my host files and it was 300 MB, mostly consisting of empty lines and 5 lines of Docker... Would be interesting if Docker messed the file up or if our IT was the culprit. By resetting the hosts file to default, gRPC runs like a charm again!

Thanks for the support @apolcyn!

[2020-09-03 12:52] #24042 closed

[2020-09-03 14:00] xxpniu opened #24056 "Unity 2020.1 Load error!!"
#### grpc-unity package
---

### What version of gRPC and what language are you using?
[code]
### What operating system (Linux, Windows,...) and version?
[code]
### What did you do?

Open unity and Import it, will got error for load dll of
[code]
`I think this issue because of Unity 2020.1 use framework of .net is 4.71.`

[2020-09-03 17:36] nonbob commented on #13447
[StreamJsonRpc](https://github.com/microsoft/vs-streamjsonrpc) is beginning to look like a good interim solution for me.  It includes MessagePackage support (which is not immediately obvious from the name) and has the added bonus (for me) of being .NET Framework compatible (via .NET Standard 2.0).  [MessagePack ain't no ProtoBuf](https://github.com/sidshetye/SerializersCompare#results), but it eat

[2020-09-03 18:03] apolcyn commented on #24042
Good to know, interesting find @Falco20019 !

[2020-09-03 18:58] donnadionne commented on #24048
Could you clarify your question?  Some sample code would help.  Also,  Is this a question in C++ or python?

[2020-09-03 20:30] yashykt commented on #24039
This test does not affect the sending of keepalive pings. Can you share the logs for the test, or maybe help me run the test locally?

[2020-09-03 20:39] yulin-liang commented on #24039
Here's a failure log: https://source.cloud.google.com/results/invocations/c80b152d-8aab-42ba-994a-4b498ab42006/log

When running the test on Xcode locally, I can always get `error code 14`. I don't know why it always fails on Kokoro.

[2020-09-03 20:45] yashykt commented on #24039
I was looking for logs with
GRPC_VERBOSITY=DEBUG and GRPC_TRACE=all env variables so that we can get traces.

[2020-09-03 21:11] yang-g opened #24061 "[FLAKE] test/core/end2end/h2_oauth2_test@keepalive_timeout[darwin-dbg]"
[code]

https://source.cloud.google.com/results/invocations/650019c8-3d74-4fa1-a827-92507ca93fa3/targets

[2020-09-04 02:35] #23604 closed

[2020-09-04 03:19] #21551 closed

[2020-09-04 10:40] yabli commented on #23618
This has been reported 40 days, could anyone please take a look or shed light? am I reporting using the right channel? or it's suggested to report issue like this somewhere else?
much appreciated

[2020-09-04 10:40] yabli commented on #23618
This has been reported 40 days, could anyone please take a look or shed light? am I reporting using the right channel? or it's suggested to report issue like this somewhere else?
much appreciated

[2020-09-04 10:42] yabli commented on #23618
@jtattermusch, bumping the request, thanks a lot

[2020-09-04 13:31] bivald commented on #4221
Looks like for PyPy3 (i.e their 3.6.9 version) grpcio==1.26.0 builds from PyPi, but after that they all fail.

[code]

I'll see if I can get the Pypy 3.7 alpha running and see if that changes anything. I've been using grpcio 1.9.1 on Pypy2 for quite some time successfully. I wish I could take on the work but my c++ skills aren't good enough

[2020-09-04 15:23] marianoarga commented on #23259
Same problem here

[2020-09-04 16:01] ikaccc opened #24065 "Status(StatusCode="Cancelled", Detail="No grpc-status found on response.")"
`
StackTrace:
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at Web.WidgetManagement.HttpAggregator.Services.WidgetService.<<GetAppli

[2020-09-04 16:16] odidev commented on #23373
@nicolasnoble, can you please let me know what infrastructure do you need. Travis-ci is providing Arm64 build machine as well. I can help you in building AArch64 wheel and deploying on pypi.

[2020-09-04 16:48] keikomori commented on #24037
ok I will try.

[2020-09-04 18:47] YanlongLi commented on #23861
Thanks @veblush , we are using the C# library and the information you provided is very helpful. These values are buried in different source code files and have different names with the exposed arg name, which makes it hard to find. Maybe it's better to specify the default values in [group__grpc__arg__keys.html](https://grpc.github.io/grpc/core/group__grpc__arg__keys.html#gad7d9d143858d8f5e138cf704

[2020-09-04 20:14] vrichmond499 opened #24066 "MacOS build with bazel errors"
I am using MacOS Catalina 10.15.6. I cloned the most recent grpc version (commit 7d89dbb311f049b43bda7bbf6f7d7bf1b4c24419) and attempted to build it with bazel via `bazel build //...`. This error was reported:

[code]

[2020-09-06 16:43] TieSKey commented on #18801
I'm suffering from this problem too. I have a non-unity app that uses some Unity3D managed types and thus Unity3D.dll is part of the project.

While we wait for some novel idea on how to approach this, can't you catch that exception and asume it is not a unity app?

Please note that while this thread talks about an unwanted dll load, there are legit reasons to include the Unity3D.dll in a non-unit

[2020-09-06 22:05] #19724 closed

[2020-09-07 10:19] chinvelski commented on #24037
Hi,

Worked for me. Thanks

[2020-09-07 13:24] Alxspb commented on #23764
We have tried everything to hotfix completion queue hang.
[code]

Every N's session still hangs and it cause application to crash by OOM. (too many hanged gRPC sessions).

[2020-09-07 18:31] rhthaakkar commented on #22928
I am also facing same problem. Any solution yet?

[2020-09-08 04:08] huangchong94 opened #24069 "Python gRPC client can't handle HTTP2 GOAWAY frame properly"
### What version of gRPC and what language are you using?

server: Nginx 1.17.8 as load balancer  gRPC python server  grpcio==1.26.0

client: python gRPC grpcio==1.31.0 (1.26.0 also tested)

### What operating system (Linux, Windows,...) and version?
server: linux centos 2.6.32-573.3.1.el6.x86_6

client: macOS 10.14.2

### What runtime / compiler are you using (e.g. python version or version of gc

[2020-09-08 07:15] donnadionne commented on #24066
Please check that you are using the correct bazel to do the build: why does it say //third_party/toolchains/bazel_0.26.0_rbe_windows:toolchain?

THe latest GRPC should build fine with Bazel on MacOS.

[2020-09-08 07:15] #24066 closed

[2020-09-08 08:44] liaozb commented on #24056
Google.Protobuf.dll  import  System.Memory  4.5.2
Grpc.Core.dll   import System.Memory  4.5.3
https://github.com/protocolbuffers/protobuf/blob/master/csharp/src/Google.Protobuf/Google.Protobuf.csproj  change to 4.5.3

[2020-09-08 12:54] phidahl commented on #22576
Did someone get it working? I have the same issue with v1.31.1 on Windows 10 here. There should be a way, since it is mentioned in the build instructions to use "-DBUILD_SHARED_LIBS=ON"

[2020-09-08 13:52] #24037 closed

[2020-09-08 13:55] pm-energid commented on #22576
I tried building it for a little while. It seems that the CMake scripts for building dependencies are also broken when building shared libraries on windows.

[2020-09-08 15:03] MhdAna opened #24071 "How can i have a control over Server Streaming?"
Hi,
I have a scenario which is described with the following:
gRPC Version is : 1.19.0
i am streaming data from server to client by using API IServerStreamWriter.
On the Client side i am trying to read the streamed data by using IAsyncStreamReader :

while (await call.ResponseStream.MoveNext().ConfigureAwait(false))
 {
      ......
 }

Since there are no data streamed from client side, i found that

[2020-09-08 16:50] veblush commented on #22928
I remember that I tried to fix this by #22960. I'm closing this but please feel free to reopen this if it doesn't fix this.

[2020-09-08 16:50] #22928 closed

[2020-09-08 16:54] veblush opened #24073 "Better documentation for default configuration values"
### Is your feature request related to a problem? Please describe.

Default config values don't seem to be well-documented such as `MAX_CONCURRENT_STREAMS` and `GRPC_SUBCHANNEL_RECONNECT_MIN_TIMEOUT_SECONDS`. Therefore users have to search those values from gRPC source-code, which is not easy sometimes because they need to figure out the name of variables or constants. This would be improved by wr

[2020-09-08 16:55] veblush commented on #23861
I'm glad that this helped you and thanks for suggestion about the better documentation. I will follow-up that via #24073.

[2020-09-08 16:55] #23861 closed

[2020-09-08 18:33] #17857 closed

[2020-09-08 18:57] nealrichardson opened #24077 "Can't find re2 on Homebrew"
### What version of gRPC and what language are you using?

1.31.1

### What operating system (Linux, Windows,...) and version?

macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)

Homebrew

### What did you do?

The update of the grpc Homebrew formula today seems to have changed how dependencies are resolved. grpc appears to build from source any dependencies

[2020-09-08 18:58] bartdesmet opened #24078 "-Wdeprecated-copy compile error in call_op_set.h when using clang 10 or above"
### What version of gRPC and what language are you using?

`master`

### What operating system (Linux, Windows,...) and version?

Linux Ubuntu 18.04 kernel 4.19

### What runtime / compiler are you using (e.g. python version or version of gcc)

clang 10

### What did you do?

Compile anything that uses `grpcpp/impl/codegen/call_op_set.h`, e.g. by including `async_generic_service.h`.

### What did

[2020-09-09 04:59] nvh0412 opened #24084 "[Ruby] Add setter for GRPC.logger"
### Is your feature request related to a problem? Please describe.
Inside our system, we're using logger object which is passed from some upstream services, sometime it's instance of Logger ruby module, sometime it's Rails logger and sometime it's logging gem. It leads us to quite hard to inject these logger instance into `GRPC.logger` to get `info logs`

### Describe the solution you'd like
Imple

[2020-09-09 05:50] rhthaakkar commented on #22928
I am getting same issue but with different code. Service executes correctly but this error comes at time of returning the status. Issue described at: https://stackoverflow.com/questions/63789313/grpc-c-addresssanitizer-bad-free

[2020-09-09 09:34] girirajthara commented on #24048
class SignatureValidationInterceptor(grpc.ServerInterceptor):
  def __init__(self):

    def abort(ignored_request, context):
      context.abort(grpc.StatusCode.UNAUTHENTICATED, 'Invalid signature')
    self._abortion = grpc.unary_unary_rpc_method_handler(abort)
  def intercept_service(self, continuation, handler_call_details):
    '''' want to add data to metadata through handler_call_details ""

[2020-09-09 13:39] HuaxuanGAO commented on #23454
Hi, I also face the same issue.
I am using windows subsystem linux.
I solve this by adding helper.cc into the executable in CakeList.txt
See if this works for you.

[code]

[2020-09-09 15:50] gnossen commented on #23724
This looks like a transient connection error to PyPi, the Python package manager. Let's hold off on this until we see it causing more problems.

[2020-09-09 15:52] markdroth commented on #23789
Can you run the client with the following environment variables set and share the log?

GRPC_VERBOSITY=DEBUG
GRPC_TRACE=client_channel_routing

[2020-09-09 15:53] markdroth commented on #23789
Also, please share your code.  We'll need some way to reproduce this problem.

[2020-09-09 15:54] JScon01 commented on #23724
Please stop sending me these Emails!

Jeffrey H. Conz

[2020-09-09 15:55] markdroth commented on #23811
This looks like a duplicate of the same issue you filed in #23498.

[2020-09-09 15:55] #23811 closed

[2020-09-09 15:56] JScon01 commented on #23789
Mark,
I just Emailed you asking for you to stop sending me these Emails.

Jeffrey H. Conz

[2020-09-09 15:58] JScon01 commented on #23811
I am not a Programmer. I’m a Disabled Veteran. Stop!

Jeffrey H. Conz

[2020-09-09 16:04] markdroth commented on #23853
This issue does not include a lot of information, but from the error log, it looks like this is trying to use grpc-python.

[2020-09-09 16:06] markdroth commented on #23914
I think that without seeing a stack trace, this isn't really actionable, so I'm going to close it.  Please let us know when you can provide a stack trace, and we can reopen this (or you can just file a separate issue).

[2020-09-09 16:06] #23914 closed

[2020-09-09 16:07] markdroth commented on #23970
Sounds like this is resolved, then.

[2020-09-09 16:07] #23970 closed

[2020-09-09 16:09] ashf commented on #23789
(Un)fortunately the issued magically resolved itself. So unclear why this occurred and why its stopped being an issue. I'll re-open if I come across it again.

[2020-09-09 16:09] #23789 closed

[2020-09-09 16:10] markdroth commented on #23985
It looks like this is about grpc-go.  Please file this issue in https://github.com/grpc/grpc-go instead of in this repo.

[2020-09-09 16:10] #23985 closed

[2020-09-09 16:18] gnossen commented on #23979
@Talador12 Can you please be a bit more specific? `grpc-gateway` is a separate binary/process from your server. It can be deployed alongside a server of any language, which (I assume) is what's happening in the gist you linked above. We have talked about in-library support for this sort of thing in the past. That way, you wouldn't have to orchestrate a separate gateway process. But that would be a

[2020-09-09 16:19] markdroth commented on #24022
Duplicate of #23997.

[2020-09-09 16:19] #24022 closed

[2020-09-09 16:20] markdroth commented on #24023
Duplicate of #23997.

[2020-09-09 16:20] #24023 closed

[2020-09-09 16:23] markdroth commented on #24035
You didn't say what language this is for, but from the code snippet, I'm guessing it's C#.  Routing accordingly.

[2020-09-09 16:25] gnossen commented on #23986
This sounds like a garbage collection issue. How many requests were you getting and how long were they taking to complete?

[2020-09-09 16:26] markdroth commented on #24036
Ben, this looks like some sort of doxygen problem.  Can you take a look?

[2020-09-09 16:28] markdroth commented on #24071
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-09-09 16:28] #24071 closed

[2020-09-09 16:38] gnossen commented on #24048
You can modify the `handler_call_details` before passing them on to the continuation. [This example](https://github.com/grpc/grpc/blob/7c1dab7297dfe6cc9a72ee95cc83866612db0628/examples/python/interceptors/headers/request_header_validator_interceptor.py#L37) isn't exactly the same, but it should be instructive.

[2020-09-09 16:38] gnossen commented on #24048
If this isn't enough information, feel free to ping the thread.

[2020-09-09 16:38] #24048 closed

[2020-09-09 16:41] gnossen commented on #23853
I don't think that supporting Python on Termux is a high priority, given that we've never heard this request before. In principle though, I don't see why this shouldn't work. If you can use a prebuilt wheel, that would be the easiest route; getting a full build toolchain set up on Termux (which is what you appear to be doing here) is likely to be a pain.

The error here looks odd.

[2020-09-09 16:43] markdroth commented on #23997
This looks like a problem in one of our C++ headers.  See also firebase/firebase-ios-sdk#6340.

[2020-09-09 16:44] gnossen commented on #23853
[code]

Interesting. It looks like the `multiprocessing` module is non-functional on Termux. We don't *need* it to build, but it does speed things up pretty substantially. Given that we apparently can't always expect this import to work, we might want to wrap it in a `try except ImportError` block with a fallback to a single process build.

[2020-09-09 17:04] veblush commented on #22928
@rhthaakkar Thanks for your report and I left my answer on the post. The error message from ASAN doesn't look right to me because it claimed `attempting free on address which was not malloc()-ed` but stacktraces for allocation and destruction in the log are using C++ new and delete.

[2020-09-09 18:38] yashykt commented on #19133
Doesn't look like anyone has come forward to work on this yet.

[2020-09-09 18:46] limburgher commented on #23432
This is blocking some packages in Fedora 33, is this in progress? Still seeing this on 1.32.0 final.

[2020-09-09 19:39] thaishankar commented on #24035
Sorry I didn't add the language earlier! Yes it is C#

[2020-09-09 21:02] yashykt opened #24092 "xds_end2end_test flake"
Another instance of an xds_end2end_test flake on msan build
https://source.cloud.google.com/results/invocations/6191ebe7-d6b2-4685-ad0a-4a8db92ccbed/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Depoll1/log

[2020-09-09 21:05] yashykt opened #24093 "bad_ssl_alpn_test flake on msan build"
https://source.cloud.google.com/results/invocations/6191ebe7-d6b2-4685-ad0a-4a8db92ccbed/targets/%2F%2Ftest%2Fcore%2Fbad_ssl:bad_ssl_alpn_test@poller%3Depoll1/log

seen on #24080

[2020-09-09 21:07] #23574 closed

[2020-09-09 22:20] markdroth opened #24096 "FLAKE: github/grpc/run_tests/csharp_windows_dbg_native_default_coreclr/csharp.Grpc.IntegrationTesting.ExternalDnsWithTracingClientServerTest[default]"
https://source.cloud.google.com/results/invocations/3f6ae5c0-1f9e-4f29-9426-662744f367ad/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_dbg_native_default_coreclr%2Fcsharp.Grpc.IntegrationTesting.ExternalDnsWithTracingClientServerTest/tests

[2020-09-09 22:23] apolcyn commented on #24096
Internal issue with some analysis and history in b/158831490

[2020-09-09 22:44] gnossen opened #24097 "Python Distribtests do not test grpcio-tools package"
See title.

[2020-09-09 22:45] veblush commented on #23819
@abb3r Can you provide more information on your case such as os, compiler version, build tool, so on?

[2020-09-09 22:56] veblush commented on #24077
Because I don't know about how homebrew manages and builds gRPC and re2, I'm not sure but this might be relevant to #24088 which makes gRPC to use system-wide installed re2.

[2020-09-10 00:32] gnossen opened #24100 "Android (internal CI) failure"
[code]

Infra flake? @dapengzhang0

[2020-09-10 01:57] xiangzhai opened #24105 "[MIPS64] Google.Protobuf.Tools cannot determine host OS and CPU"
Hi,

### What version of gRPC and what language are you using?

* v1.28.0 and master
* C#

### What operating system (Linux, Windows,...) and version?

Linux 3.10.84-20.fc21.loongson.3.mips64el

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 4.9.4

### What did you do?

1. dotnet new grpc
2. dotnet build

dotnet SDK for MIPS64:  https://github.com/gsvm/loong

[2020-09-10 03:15] apolcyn commented on #24035
Adding myself since Jan is OOO for the next few weeks.

I could imagine a channel arg to specify a source address causing the grpc/TCP code to bind to it before calling "connect" on a socket. It would probably need to be ported to the different platforms, though.

Looks like Go and Java support this, some relevant conversation in https://github.com/grpc/grpc-java/issues/4900.

cc @markdroth @yang-

[2020-09-10 05:46] vivainio commented on #23167
I have no reproduction available at this time (as it always happened with our large projects). I may provide one at a later date

[2020-09-10 06:55] jvesely opened #24106 "grpcio-1.32 fail to open 'Con.proto'"
### What version of gRPC and what language are you using?
grpcio-1.32.0, grpcio-tools-1.32.0

### What operating system (Linux, Windows,...) and version?
windows server 2019  (10.0.17763)

### What runtime / compiler are you using (e.g. python version or version of gcc)
python-3.6.8 (but also observed on 3.7.9 and 3.8.5)
Linux nad macOS do not see this issue

### What did you do?

import elfi

###

[2020-09-10 08:29] girirajthara commented on #24048
that example shows just checking with the handler , I want to add data. Please can I get an example?

[2020-09-10 08:39] zhungxd opened #24107 "ObjC Tests not working(1.33.0-dev)"
### What version of gRPC and what language are you using?
grpc-objc 1.33.0-dev

### What operating system (Linux, Windows,...) and version?
Mac

### What did you do?
pod install
run objective-c/tests/Tests.xcworkspace

### What did you expect to see?
build success

### What did you see instead?
build failed

grpc/src/core/ext/upb-generated/udpa/annotations/versioning.upb.c:10:10: fatal error: 'upb

[2020-09-10 09:24] aleneum commented on #23488
I managed to get grpc 1.25 working on HoloLens 2. I also tried the most recent version (1.29.1) vcpkg has to offer but unfortunately there is a Protobuf/System.Memory version conflict (#22251) which hasnt been resolved yet, afaik. The referenced issues claims that the last version without that conflict has been 1.26 which -- as I mentioned in my previous comment -- contains a `grpc_csharp_ext.dll`

[2020-09-10 10:28] walkthetalk commented on #21060
what is the current state??

[2020-09-10 13:21] zhungxd opened #24109 "[grpc-objc]Need Expose Cronet quic error message to the application layer."
### Is your feature request related to a problem? Please describe.
*grpc-objc* need Expose Cronet quic error message to the application layer.

### Describe the solution you'd like
*grpc-java* has expose the error like

**org.chromium.net.impl.QuicExceptionImpl Exception in BidirectionalStream: net::ERR_QUIC_PROTOCOL_ERROR, ErrorCode=10, InternalErrorCode=-356, Retryable=false, QuicDetailedErrorCo

[2020-09-10 16:24] soerenwolfers opened #24110 "Better Python support by integrating python-betterproto"
The Python integration of gRPC/protobuf has a lot of obvious flaws
- No `__init__.py` module files get generated
- Output is not importable
  - Import paths break in Python 3 unless you mess with `sys.path`
- Bugs when names clash (e.g. `codecs` package)
- Generated code is not idiomatic
  - Completely unreadable runtime code-generation
  - Much code looks like C++ or Java ported 1:1 to Python
  -

[2020-09-10 16:42] veblush commented on #23432
@limburgher Sorry for the late answer. When I retried this again but it has another error for abseil

[code]

[2020-09-10 17:16] limburgher commented on #23432
Try sudo dnf install abseil-cpp-devel --release=33

[2020-09-10 17:38] yulin-liang commented on #24107
That's really weird, we do generate **#if COCOAPODS==1** statement for `vesioning.upb.c`(https://github.com/grpc/grpc/blob/master/gRPC-Core.podspec#L1746). I couldn't reproduce it. Can you try to clean and rebuild it? If it still doesn't work, can you check if **1.32.0** works?

[2020-09-10 19:03] veblush commented on #23432
`sudo dnf install abseil-cpp-devel --release=33` still doesn't work with the same error, `Error: GPG check FAILED`.

[2020-09-10 19:14] markdroth commented on #24093
I'm guessing that this was ultimately caused by this line at the top of the file:

[code]

Looks like the path name itself was bad somehow.  I have no idea how this might have happened, but since this is a security test, I am assigning to Jiangtao for triage on his team.

[2020-09-10 20:04] harmdewit opened #24116 "Ruby segmentation fault when running example client in Alpine Linux"
### What version of gRPC and what language are you using?

ruby 2.7.1
grpc 1.32.0

### What operating system (Linux, Windows,...) and version?

Alpine Linux 3.12.0 (docker base image: ruby:2.7.1-alpine3.12)

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us

[2020-09-10 21:54] veblush commented on #23432
@limburgher Thanks but it still doesn't work.

[code]

Can you make a series of docker commands to reproduce this problem? It would help reproduce the problem.

[2020-09-10 22:12] gnossen commented on #24106
@jvesely Thanks for the report! I'm working on a fix for this to be added to a patch. For the moment, you can set the `GRPC_PYTHON_DISABLE_DYNAMIC_STUBS` environment variable to `true` to get working with 1.32.0 in the meantime.

[2020-09-10 22:31] veronicagarciavazquez commented on #23488
@aleneum, great that gRPC 1.25 is working on HoloLens 2 with the vcpkg and the unity package!!!! Congratulations!! In my case I couldn't make it run using vcpkg. Thanks! I found that here [https://stackoverflow.com/questions...t-pinvoke-native-dll-with-error-dll-not-found](url)

I have been able to make gRPC (version 1.31.1) run on HoloLens 2 this week directly with gRPC github repository as follo

[2020-09-10 23:40] jiangtaoli2016 commented on #24093
bad_ssl_apln_server builds from test/core/bad_ssl/servers/alpn.c (which has not changed for a long time). The error log does not make sense to me. Do we have a culprit?

[2020-09-11 03:01] zhungxd commented on #24107
1.32.0 works. I will retry.

[2020-09-11 03:35] rocqina opened #24122 "Does gPRC support proto2 with c++?"
And which tag in master supports it?

I make install the latest version of grpc. And the protoc --version is libprotoc 3.13.0.

In fact I hope to keep the  protoc --version is libprotoc 2.x.x becasue I do not want the class is final in xxx.pb.h.

Can we do it in grpc?  If can do it,  which tag in master supports it?

[2020-09-11 04:28] kvinayagamoorthy opened #24123 "Crash observed when calling CompletionQueue::Next in a separate thread"
### What version of gRPC and what language are you using?
       v1.31.0 and C++

### What operating system (Linux, Windows,...) and version?
    Linux - OpenSuSE Leap 15.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
    g++ (SUSE Linux) 7.5.0

### What did you do?
      Modify grpc/examples/cpp/helloworld/greeter_async_client.cc to call CompletitionQueue.Nex

[2020-09-11 07:09] apolcyn commented on #24116
Alpine Linux isn't actively supported or tested with grpc-ruby

So the pre-compiled binary packages (e.g. `grpc-1.32.0-x86_64-linux`, as you have installed) are unlikely to work.

You might have luck by compiling the grpc-ruby gem from source though. To try that, you can run e.g. `gem install grpc --platform ruby`

[2020-09-11 07:09] #24116 closed

[2020-09-11 08:06] kvinayagamoorthy commented on #24123
Looks like something was wrong in my usage. I used greeter_async_client2.cc and it worked fine. Replicating this in my program, everything works fine. Sounds like something was wrong the in the way I had the used context, reply and status.

[2020-09-11 08:06] #24123 closed

[2020-09-11 09:48] harmdewit commented on #24116
Good to know, thanks for pointing in the right direction 🙂.

For reference `gem install grpc --platform ruby` worked for me but it lead to another error in `google-protobuf`:
[code]

Adding a flag as suggested in https://github.com/protocolbuffers/protobuf/pull/7773 seems to fix the issue for me:

[code]

[2020-09-11 14:28] markdroth commented on #24122
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-09-11 14:28] #24122 closed

[2020-09-11 14:42] limburgher commented on #23432
docker run -it --rm fedora:33
(do not use sudo in the container, you're already root)
dnf install dnf-plugins-core make rpm-build -y
rpm -ivh https://fedorapeople.org/~limb/grpc-1.32.0-1.fc34pre1.src.rpm
dnf build-dep /root/rpmbuild/SPECS/grpc.spec -y
rpmbuild -ba /root/rpmbuild/SPECS/grpc.spec

Code build will be in /root/rpmbuild/BUILD/grpc-1.32.0-pre1

[2020-09-11 17:07] yashykt commented on #23773
https://github.com/grpc/grpc/issues/10273#issuecomment-608554503
Quoting @gnossen, "We've actually started encouraging people to use grpcurl. It's well-maintained, has published binaries, and has a pretty complete feature set."

(grpc_cli is not deprecated but it is not the object of active development at the present moment.)

[2020-09-11 19:41] #24106 closed

[2020-09-11 20:58] robbrit opened #24129 "Python client fails when using TLS"
### What version of gRPC and what language are you using?

Python client 1.32.0
Go server v1.29.1

### What operating system (Linux, Windows,...) and version?
Linux: Debian Buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.4
Go 1.13.5

### What did you do?
On the client side, all RPCs using TLS are failing - doesn't matter the target or the endpoi

[2020-09-11 21:10] #23790 closed

[2020-09-11 21:47] tiwariashish86 opened #24130 "UDP client/transport underneath GRPC"
Is it possible to use UDP client underneath GRPC?

[2020-09-11 21:58] markdroth commented on #24130
In principle, yes, although it's tricky to do and requires writing a new transport implementation.  The details can get quite tricky, and it requires messing with our internals; it's not something we allow to be done via public APIs.  We do support QUIC via cronet, but it does have some limitations.

If you want to discuss this further, I suggest you start a thread on the grpc.io mailing list rath

[2020-09-11 21:58] #24130 closed

[2020-09-11 22:45] gnossen commented on #24110
@soerenwolfers I agree with basically all the pain points in your message except for one:

This is no longer true. The `grpcio` library now natively supports `asyncio`.

I think the two biggest impedances are level of effort and backwards compatibility. Addressing all of these issues is something we'd like to get to eventually, but it's not the highest priority item we have. If you (or someone els

[2020-09-12 00:58] SteveCruise commented on #24056
I have this error too!

[2020-09-12 08:28] tpppppub commented on #23312
Hi, @jiangtaoli2016 . Is there any update on this issue?

[2020-09-12 16:58] stefan301 opened #24133 "Windows applications using Microsoft leak detection (_CRTDBG_LEAK_CHECK_DF) report hundreds of leaks"
gRPC version: 1.31.1 installed with vcpkg (compiled with Visual Studio 2017)

Language: C++

OS: Windows 10

Compiler: Visual Studio 2017

I Just enabled the leak check in the Helloworld example (GreeterClient.cpp) by adding this line at the beginning of main to show the problem we are having in our big old legacy application that absolutely has to use this feature to avoid introducing leaks):

[c

[2020-09-12 17:04] markdroth commented on #24133
If this is the same issue as in #23330, let's just track it there -- we don't need two bugs for the same issue.

[2020-09-12 17:04] #24133 closed

[2020-09-12 17:07] markdroth commented on #23330
See also further problem description from @stefan301 in #24133.

I am wondering if the problem here is that the VS memory-leak detector is not smart enough to handle the asynchronous way that gRPC shuts down.  This may be similar to the problem that @sheenaqotj has been looking at internally.

@nicolasnoble, can you please advise on this?  Your knowledge of the Windows side of things may be helpfu

[2020-09-12 17:24] jiangtaoli2016 commented on #23312
sorry, this fall through the cracks. In your case, grpc::SslCredentials() returns nullptr or are blocked?

@rameshpasunoori could you
when you enable logging
[code]
no logs show at all? We have API trace when `grpc_ssl_credentials_create`.

[2020-09-12 18:06] srini100 opened #24134 "Cannot run interop for cpp in 1.32.0"
Looks like the docker build for cxx is broken so not able to find bins/opt/interop_client in the docker image.

$ tools/interop_matrix/run_interop_matrix_tests.py -l cxx --release v1.32.0
PASSED: pull_image_gcr.io/grpc-testing/grpc_interop_cxx:v1.32.0 [time=18.5sec, retries=0:0]

bash: bins/opt/interop_client: No such file or directory
FAILED: cxx__cxx_v1.32.0:cxx:grpc-test:large_unary [ret=127, p

[2020-09-12 19:33] nicolasnoble commented on #23330
I've never liked the Microsoft leak detector precisely for these sorts of reasons. It's fairly pointless for edge cases like that, and clang's LeakSanitizer is much superior. Now I understand that this isn't always possible to use clang as a sanitizer tool, but then that's why there's additional features to free memory before the shutdown.

[2020-09-12 22:18] Talador12 commented on #23979
[code]

This is exactly what I am referring to. As gRPC has grown in popularity and usage, I think an option to run in-library support would be a huge win for many teams. Instead of sidecar, could this gateway be run alongside the gRPC server instance itself? As it would be a `substantial effort`, what is the right way to get this effort started? Even as a "nice to have" stretch goal, this would b

[2020-09-13 01:05] nycdotnet opened #24138 "Experimental API exposed in Message property/.ToString() of RpcException"
### What version of gRPC and what language are you using?
Using .NET/C# and gRPC 2.30.0 and higher (aka gRPC 1.30 and higher)

### What operating system (Linux, Windows,...) and version?
Linux or Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.1

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific s

[2020-09-13 08:12] ncarenton opened #24139 "Error in completion queue next"
### What version of gRPC and what language are you using?
grpc:1.32.0

### What operating system (Linux, Windows,...) and version?
ubuntu:16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.5.6

### What did you do?
Could not reproduce

### What did you expect to see?
No errors

### What did you see instead?

`E0913 05:15:51.161517349   54841 completio

[2020-09-13 09:12] Kuhlemann commented on #20500
I had the same "file not found" problem when archiving my macOS App (just building/running it was no problem). I fixed it with zummenix script above.
But the archive process lead to another error which has to do with BoringSSL-GRPC: "Command SetOwnerAndGroup failed with a nonzero exit code":
![image](https://user-images.githubusercontent.com/47417322/93014483-b1400200-f5b1-11ea-92fe-c76e5f31477a.p

[2020-09-13 21:14] krzysztofsroga opened #24142 "Unity package protobuf version does not match"
Operating System: Linux Manjaro (newest)
Unity version: 2020.1.3f1
gRPC versions affected: 2.27-2.33

I was following [the guide](https://github.com/grpc/grpc/tree/master/src/csharp/experimental):
 - Create new project in Unity
 - Change runtime to .NET 4.x
 - Extract the `grpc_unity_package` into Assets

Unity throws an error:
[code]
At first I tried this with the newest version (2.33). Then I ch

[2020-09-13 23:05] gnossen commented on #23979
The first step would be for the interested party to start a gRFC in https://github.com/grpc/proposal. There, you'd want to get relevant people from all of the languages to chime in on the requirements for the cross-language feature. Then, we'd need to get into per-language details. Finally, we'd need to ensure that support is added across the language matrix, which will entail at least three diffe

[2020-09-14 02:36] zxpan commented on #23985
Thanks for pointing this out.  Filed to grpc-go repo.

[2020-09-14 08:34] KestutisMa opened #24143 "absl compiling error during gRPC C++ build using cmake Fetchcontent"
### What version of gRPC and what language are you using?
v1.32.0

### What operating system (Linux, Windows,...) and version?
Windows 10, Windows SDK version 10.0.18362.0 to target Windows 10.0.17763.

### What did you do?
Adding gRPC to cmake project using *fetchcontent* as described here: https://github.com/grpc/grpc/tree/master/src/cpp#fetchcontent

### What did you expect to see?
Configure st

[2020-09-14 08:57] hijerusalem commented on #24069
hello anybody?

[2020-09-14 09:02] AntonQubecinema commented on #20802
@lidizheng @yashykt thanks for your time, guys! Such a stupid mistake ...

[2020-09-14 09:49] Rodionp13 commented on #21931
Hello @jackopoz . Please tell me whether you stuck with such error:

Scanning dependencies of target gen_hpack_tables
[ 53%] Building CXX object CMakeFiles/gen_hpack_tables.dir/tools/codegen/core/gen_hpack_tables.cc.o
[ 53%] Linking CXX executable gen_hpack_tables.app/gen_hpack_tables
ld: library not found for -lnsl
clang: error: linker command failed with exit code 1 (use -v to see invocation)
ma

[2020-09-14 10:04] KestutisMa commented on #24143
could be related to https://github.com/abseil/abseil-cpp/issues/74

[2020-09-14 10:56] girirajthara opened #24144 "that example shows just checking with the handler"
that example shows just checking with the handler , I want to add data. Please can I get an example?

_Originally posted by @girirajthara in https://github.com/grpc/grpc/issues/24048#issuecomment-690080011_

[2020-09-14 14:48] markdroth commented on #24134
Nico, any idea what might be wrong here?

[2020-09-14 16:14] lidizheng commented on #24139
@ncarenton Ideally, we will need a reproduction case to work on this issue. Can you provide information about: 1. how was this error being triggered?; 2. led to what behavior?; 3. if you upgrade to 1.32, is the problem fixed?

[2020-09-14 17:24] Talador12 commented on #23979
gRFC proposal - https://github.com/grpc/proposal/pull/208

grpc google group discussion - https://groups.google.com/g/grpc-io/c/rEfqlLL9Emw

[2020-09-14 17:35] robcecil commented on #22061
@jtattermusch I tried upgrading my c# solution from

Grpc: 1.20.0
Google Protobuf: 3.7.0

to

Grpc: 2.32.0
Google Protobuf: 3.13.0

And I am running into this exact problem. I tried:

- Making sure my build configuration for all projects is x64, NOT Any CPU.
- Add bindingIndirects like above ^ to my app.config files.

Nothing seems to remove the conflict between Protobuf's reference to a lower ver

[2020-09-14 17:41] markdroth opened #24146 "FLAKE: //test/core/surface:completion_queue_threading_test[darwin-dbg]"
https://source.cloud.google.com/results/invocations/4449c93d-9d2e-4780-912b-f1dd154d9e35/targets/%2F%2Ftest%2Fcore%2Fsurface:completion_queue_threading_test/log

[code]

[2020-09-14 19:19] ananda1066 commented on #22820
Receiving same failure as @markdroth - full log: https://source.cloud.google.com/results/invocations/864ab5aa-a885-43ef-a735-84309f041cef/targets

[code]

[2020-09-14 21:10] menghanl commented on #22820
[code]

Seems to be the same network issue.

https://github.com/golang/go/issues/28194 mentioned retrying in `go get`, but not easy to decide what is worth retrying.

[2020-09-14 21:58] thaishankar commented on #24035
Hi @apolcyn , want to follow up on the status of this and to see if this is a feature you plan on supporting.
This would be very useful for anyone who uses Grpc with C# and also brings it in parity with Java and Go.

[2020-09-14 22:34] chwarr commented on #18100
I can confirm that this is fixed in the Grpc.Core 2.32.0 NuGet package.

[2020-09-15 00:32] #22944 closed

[2020-09-15 00:32] #22943 closed

[2020-09-15 00:33] #23112 closed

[2020-09-15 02:13] cole-myers commented on #24026
After downgrading to setuptools==49.6.0, I still have a very long wheel build and then successive failure when attempting grpcio install, anyone else still experiencing issues installing?

[2020-09-15 05:42] gitfool opened #24153 ".NET 5.0 apps require libc-dev"
### What version of gRPC and what language are you using?
[Grpc v2.24.0](https://www.nuget.org/packages/Grpc/2.24.0) via [Pulumi v2.10.0](https://www.nuget.org/packages/Pulumi/2.10.0) NuGet packages for .NET

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What did you do?
Run `pulumi up`, which uses grpc under the hood.

### What did you expect to see?
Run without er

[2020-09-15 09:40] mfechner commented on #22845
Is there anything we can help?

[2020-09-15 11:41] yabli commented on #23618
@donnadionne , seems Jan has no time look into this, do you know if anyone else possibly can take a look please?

[2020-09-15 20:56] yashykt commented on #24017
Thanks for the suggestion!

One of the reasons why server interceptors do not have Hijack() capability is because we did not have a usecase for it. There were also arguments against it suggesting that giving interceptors the ability to Hijack() is too much power since you could potentially write the entire server in the interceptor with that.

I do feel that there is merit in the Hijack() if it is

[2020-09-15 21:09] pradn commented on #23277
I have a customer that's seeing a very similar UNKNOWN/stream removed issue for a customer using Cloud PubSub's Python library. It's also on GKE, but with grpcio version 1.31.0. We've told the customer to try to catch the error and reset the subscriber; we can possibly get you more detailed logs if the customer is willing.

Their dependencies:

google-api-python-client==1.10.0
google-auth==1.20.1

[2020-09-15 21:41] srini100 opened #24160 "Backport https://github.com/grpc/grpc/pull/24150 to v1.31.x and v1.32.x"
This is a blocker for v1.31.x and v1.32.x patches only.

Backport https://github.com/grpc/grpc/pull/24150 to v1.31.x and v1.32.x when we patch these branches.

Mark this issue resolved when we no longer need to patch these branches, i.e., when 1.34 is released.

[2020-09-15 22:05] yashykt commented on #23124
It hasn't been much of an issue for us, but I do see the benefit of such links. Especially, for example to be able to create bugs specifically for Python or a different wrapped language, but then that would be too many buttons like Srini said.

[2020-09-15 23:07] lidizheng commented on #23277
@pradn For customer issues, can you use internal Bugnizer and assign to the gRPC component? If you think the error is caused by gRPC.

[2020-09-15 23:17] yulin-liang commented on #24109
For android, Cronet always passes a `CronetException` to grpc, so that they can get `quic error message`.([link](https://chromium.googlesource.com/chromium/src/+/lkgr/components/cronet/android/api/src/org/chromium/net/BidirectionalStream.java#203)).
But for iOS, we can only get a net error from Cronet, we don't have any quic info. ([link](https://chromium.googlesource.com/external/github.com/grpc/

[2020-09-15 23:17] #24109 closed

[2020-09-16 09:07] angwangiot commented on #24153
Windows, publish exe by 'generate a single file',  an error occurred, the path can be obtained through 'AppContext.BaseDirectory'
Unhandled exception. System.ArgumentNullException: Value cannot be null. (Parameter 'path1')
   at System.IO.Path.Combine(String path1, String path2)
   at Grpc.Core.Internal.NativeExtension.LoadUnmanagedLibrary()
   at Grpc.Core.Internal.NativeExtension.LoadNativeMetho

[2020-09-16 09:33] sowntharsakthi commented on #21773
Hi,

I managed to resolve this. You need to open the PodFile under your Xcode prroject and do the following...

Remove Firebase/Firestore pods from the PodFile and save the PodFile.
Make sure Xcode is closed.
Open Terminal and cd to your Xcode project directory.
Run 'pod install'
After that you add the fireStore then its worked for me
Add pod 'Firebase/Auth' and pod 'Firebase/Firestore' to your Po

[2020-09-16 22:59] ericmandm opened #24165 "Is there a C++ equivalent of the Java Any.pack() class/method?"
I'm trying to pack another proto (e.t. deviceStatus) into the Status proto but I cannot find 'Any' in the c++ API, nor any examples about how to do this in C++
Thanks

Java Code:
[code]

[2020-09-16 23:50] gnossen commented on #13856
@yashykt @veblush Ping. The folks from github.com/googleapis/googleapis have run into this.

[2020-09-17 01:00] yashykt commented on #13856
We have not focused any performance effort on MacOS, so we wouldn't be able to have concrete data for whether it will have a noticeable effect, but just based on the fear that dynamic initialization might be slower than static initialization, I don't think that matters to us since we mostly care about per-call performance.

[2020-09-17 05:52] FancyXun commented on #23986
@gnossen I simulated 10 requests for grpc server, the whole time is about 9 minutes, the time of each result below

The memory in server was increasing from 258M to 9433 MB. I recorded memory every 2 seconds below

[2020-09-17 08:29] itamarsher opened #24166 "Wasm cross-platform support"
I'm want to compile a C++ library that uses grpc to WASM (Web Assembly) using Emscripten (Upstream) + CMake (3.18.0)
I've managed to compile the grpc library itself after patching (hacking) a little bit of code to prevent grpc from using some features that don't exist (as far as I can tell) in WASM.
Sadly, when I try to load the compiled code in node (12.8.1) I get a pretty ambiguous error:
`faile

[2020-09-17 10:42] wader commented on #23509
`pip install --upgrade pip` fix it for me

[2020-09-17 15:22] cgurnik commented on #23796
@gnossen Is there anything we can provide to help make progress on this issue?

[2020-09-17 15:24] sbc100 commented on #24166
This looks like a pretty fundamental issue, like the wasm file produced by emscripten is not valid.  Lets follow up on emscripten-core/emscripten#12257.

[2020-09-17 17:21] gnossen commented on #24048
@girirajthara Sorry for the delay. Suppose you wanted to add metadata, you could do something like this:

[code]

[2020-09-17 17:22] gnossen commented on #24144
Responded in the original thread. Closing this issue for now.

[2020-09-17 17:22] #24144 closed

[2020-09-17 19:27] markdroth commented on #23597
Same problem seen in //test/core/end2end:h2_proxy_test@disappearing_server@poller=epoll1[k8-dbg].

https://source.cloud.google.com/results/invocations/e4ff875b-9510-4310-a1b6-b4586db4ae0e/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_proxy_test@disappearing_server@poller%3Depoll1/log

[2020-09-17 20:24] yashykt commented on #23374
This is not necessarily a memory leak. gRPC does end up using a lot of space especially at the transport level by default. To enforce limits on this, you could set `ResourceQuota` to a particular size and use that to create the client channel or server.

[2020-09-17 20:24] #23374 closed

[2020-09-17 20:43] yashykt commented on #21947
Looks like this was not automatically closed after the PR was submitted.

[2020-09-17 20:43] #21947 closed

[2020-09-17 20:47] tmccnnll opened #24171 "Aborting bidirectional streaming RPCs leads to issues with _MultiThreadedRendezvous with gRPC 1.32.0"
### What version of gRPC and what language are you using?

`1.32.0` and Python

### What operating system (Linux, Windows,...) and version?

- `macOS Mojave 10.14.6`
- `Linux 5fa39a7f0e3f 4.15.0-1077-aws #81-Ubuntu SMP Wed Jun 24 16:48:15 UTC 2020 x86_64 Linux`

### What runtime / compiler are you using (e.g. python version or version of gcc)

- Python `3.5.9`
- Python `3.6.10`
- Python `3.7.7`
-

[2020-09-17 21:49] yashykt commented on #16149
cc @apolcyn for Ruby and @stanley-cheung for PHP

[2020-09-17 21:52] yashykt commented on #16149
C++ implementation - #24173
Python implementation - #16946
C# implementation - #18448

[2020-09-17 21:54] stanley-cheung opened #24175 "PHP: Implement special_status_message interop test"
https://github.com/grpc/grpc/issues/16149#issuecomment-694518504

[2020-09-17 21:55] jackopoz commented on #21931
yes, I have the similar problems on some files.
after make with verbose, I have compiled this places manually without -lnsl and some other libs

[2020-09-17 22:33] yashykt opened #24176 "Ruby: Implement special_status_message interop test"
Forked from https://github.com/grpc/grpc/issues/16149

[2020-09-17 23:34] veblush commented on #13856
@gnossen What problem did they have? Was it performance-related?

We tried to replace gpr_tls with C++ thread_local completely but couldn't because old version of xcode gRPC supports doesn't work well with C++ thread_local. (#20413)

[2020-09-17 23:56] veblush commented on #21773
Although this was closed a while back, it seems that there is still an issue. Yulin, can you take a look at this?

[2020-09-18 00:17] #16149 closed

[2020-09-18 00:23] veblush commented on #23113
Depending on how to build gRPC;
- `EMBED_OPENSSL=true` for makefile
- `gRPC_SSL_PROVIDER=module` for cmake

[2020-09-18 00:23] #23113 closed

[2020-09-18 00:31] veblush opened #24178 "Mysterious SymInitialize failure when running tests using Bazel RBE on Windows"
### What version of gRPC and what language are you using?

gRPC C++

### What operating system (Linux, Windows,...) and version?

Windows / Bazel-RBE

### What runtime / compiler are you using (e.g. python version or version of gcc)

HEAD

### What did you do?

Running test
- Bazel RBE Windows Debug C/C++
- Bazel RBE Windows Opt C/C++

### What did you expect to see?

Passed

### What did you see

[2020-09-18 01:16] yulin-liang commented on #21773
Sure, I'll take a look at it.

[2020-09-18 01:19] doctorpangloss commented on #22251
It's close, but the command doesn't output a `res` file.

[2020-09-18 03:35] jiapeish commented on #23551
This issue happen again in the ARM environment, I suspect this coredump is more likely to happen in some cpu architecture.

[2020-09-18 05:20] girirajthara commented on #24048
I am getting an error while running your code
grpcio==1.32.0
python:3.7.3
error : (<class 'AttributeError'>, AttributeError("can't set attribute"), <traceback object at 0x7fd48a21fa88>)

[2020-09-18 05:36] girirajthara opened #24179 "I am getting an error while adding metadata to handler_call_details.invocation_metadata in intercept_service"
@gnossen I am getting this error.Can you please help me out

I am getting an error while running your code
grpcio==1.32.0
python:3.7.3
error : (<class 'AttributeError'>, AttributeError("can't set attribute"), <traceback object at 0x7fd48a21fa88>)

_Originally posted by @girirajthara in https://github.com/grpc/grpc/issues/24048#issuecomment-694657454_

[2020-09-18 07:11] #24107 closed

[2020-09-18 07:27] wylazy opened #24181 "C++ async client may hang more then one minute even with 500ms timeout."
I reopened this issue #23341, because this issue can be reproduced on both Centos and Archlinux, and occured on my production environment in last one year. And it hasn't been fixed in grpc-1.32.0.  I modified the example code to make it reproduced easier.

### What version of gRPC and what language are you using?
grpc-1.32.0, C++

### What operating system (Linux, Windows,...) and version?
I tried

[2020-09-18 09:12] zhungxd opened #24182 "[grpc-objc]Need Expose Cronet metric to the application layer."
### Is your feature request related to a problem? Please describe.
*grpc-objc* need Expose Cronet metric to the application layer.

### Describe the solution you'd like
Can Cronet expose metric like in `OnMetricsCollected` in grpc_support/bidirectional_stream_c.h
And *grpc-objc* expose the metric to the application layer.
We want to collect the metric such as `ip_string` 、`connet_time`

@yulin-lia

[2020-09-18 09:13] zhungxd commented on #24182
@yulin-liang

[2020-09-18 09:54] abb3r commented on #23819
I moved to version grpc 1.31 form 1.26
cmake version 1.17.0
gcc version 8.3.1 20191121 (Red Hat 8.3.1-5) (GCC)
To make it clear the build broke of my application against grpc lib but not the grpc build itseltf.

[2020-09-18 10:10] zhungxd opened #24183 "[grpc-objc]Need reduce the lib size"
### Is your feature request related to a problem? Please describe.
After we update the **grpc-objc** from v1.21.4  to v1.32.0. We found the lib size doubled.

### Describe the solution you'd like
Can **grpc-objc** reduce that functions when only the servers use.
**grpc-objc** include source_files
src/core/ext/upb-generated/envoy/*
server_load_reporting
The iOS client never need  such as server_**

[2020-09-18 12:57] markdroth commented on #23933
Another example of a file that should exist not being found during iOS builds:

https://source.cloud.google.com/results/invocations/aaac5129-6497-4d81-aece-1212dc9fb450/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-cfstream-tests/tests

[code]

[2020-09-18 17:38] gnossen commented on #13856
No. It was a build failure on Mac OS of exactly the sort mentioned in the original post here. They're seeing this problem with Bazel on Mac OS when pulling in gRPC Python (which is dynamically linked). It seems that the gcc TLS implementation is being picked instead of the pthread implementation. I've confirmed that switching to the pthread implementation fixes the problem.

[2020-09-18 18:26] yulin-liang commented on #21773
Have you fixed it? If not, have you tried the solution that bongzlive@ mentioned above?

[2020-09-18 20:02] Sshnyari opened #24188 "Grpc.Tools generation doesn't work on Alpine Linux (incompatible protoc & grpc_csharp_plugin binaries)."
### What version of gRPC and what language are you using?
grpc.tools 2.31.0

### What operating system (Linux, Windows,...) and version?
Alpine 3.12 (more precisely the mcr.microsoft.com/dotnet/core/sdk:3.1-alpine image)

### What runtime / compiler are you using (e.g. python version or version of gcc)
netcoreapp 3.1

### What did you do?
When building a dotnet app docker image based on alpine, I

[2020-09-19 06:02] tejaskumark opened #24194 "Bidirectional streaming with python client and go server having issue"
### What version of gRPC and what language are you using?
v1.31

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04 5.4.0-47-generic

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7 and Go 1.15

### What did you do?
- I have created one simple bidirectional streaming RPC, and trying to stream data.
- I have written server in Go 1.1

[2020-09-19 17:25] itamarsher commented on #24166
Updating after getting some help in the Emscripten repo.
Now the server starts running but I get another error.
I intend to continue investigating, so feel free to leave this issue open and I'll update here on my progress.
[code]

[2020-09-20 08:28] PeterJD opened #24195 "ProtosCompiler unable to locate Classes"
Currently using Recode to convert WCF app to grpc all classes etc appear to be converted, a bit like AutoMapper

But the ProtoCompiler errors
BalanceDto" is not defined.

project ContractCore
file contract_core.proto

any ideas what the issue is
Kind regards
Peter

[2020-09-20 09:01] PeterJD commented on #24195
using grpc.AspNetCore

[2020-09-20 11:53] dilipnd opened #24196 "TLS not working in latest tag grpc core 1.32 - C++"
### What version of gRPC and what language are you using?
gRPC core 1.32 tag

### What operating system (Linux, Windows,...) and version?
Centos 8

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++

### Issue: TLS not working. Service API returns after sometime

Server Side code:
       ServerBuilder builder;
        grpc::SslServerCredentialsOptions sslOpts;

[2020-09-20 11:56] dilipnd commented on #24196
The same code when used with grpc core 1.31 works fine.
When 1.32 core is used, it is not working

[2020-09-20 12:15] dilipnd commented on #22304
Could you please share the steps to force using TLS 1.3

[2020-09-20 18:34] #23111 closed

[2020-09-21 01:38] aliaugmenta opened #24197 "Warning after upgrading to 1.32.0: RuntimeWarning: 'grpc_tools.protoc' found in sys.modules after import of package 'grpc_tools'"
### What version of gRPC and what language are you using?
1.32.0

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 20.04 (docker)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.2

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If the

[2020-09-21 02:14] aliaugmenta commented on #24197
@gnossen , is this the same warning you fixed [here](https://github.com/grpc/grpc/commit/0b543de30a9b2305d72fa87774ff0f9d005fd54a)?

[2020-09-21 02:41] jiangtaoli2016 commented on #22304
Currently, gRPC core can support TLS 1.2 and 1.3. There is no API exposed for user to choose yet. @ZhenLian is working expose that API in https://github.com/grpc/proposal/pull/205. It will be available shortly.

[2020-09-21 07:23] dilipnd commented on #24196
### **Server trace:**
D0921 02:49:44.859482050    6364 ev_posix.cc:173]            Using polling engine: epollex
D0921 02:49:44.859717438    6364 lb_policy_registry.cc:40]   registering LB policy factory for "grpclb"
D0921 02:49:44.859734694    6364 lb_policy_registry.cc:40]   registering LB policy factory for "cds_experimental"
D0921 02:49:44.859743246    6364 lb_policy_registry.cc:40]   register

[2020-09-21 19:04] DiegoLelis commented on #24197
Facing same issue.

[2020-09-21 19:05] markdroth opened #24204 "FLAKE: //src/python/grpcio_tests/tests_aio/unit:channel_ready_test"
https://source.cloud.google.com/results/invocations/2fa772e4-369f-4891-a09f-d7ecb7234cdc/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

[code]

[2020-09-22 04:52] Hamza-Q opened #24206 "GRPC-Core Client inconsistency between Windows/Unix when server shuts down during a request"
### What version of gRPC and what language are you using?
Python client/server using gRPC core 1.32.0 and 1.31.0
C++ client/server using gRPC core 1.31.0
Go client/server using gRPC core 1.31.0

### What operating system (Linux, Windows,...) and version?
Verified with Windows 10 Home, WSL Ubuntu

### What runtime / compiler are you using (e.g. python version or version of gcc)
Windows: Python 3.7.

[2020-09-22 09:36] arthur-tacca commented on #22955
This remains a problem.

[2020-09-22 09:47] GlebIgnatevEmlid commented on #24197
+1

[2020-09-22 11:07] nemanja28 commented on #24197
+1

[2020-09-22 12:12] abhijits1234 commented on #24197
+1

[2020-09-22 12:26] iss1995 commented on #24197
+1

[2020-09-22 14:38] alvioshki opened #24209 "gRPC ServerCallContext Deadline received on a server differs from the one sent by a client via CallOptions"
### What version of gRPC and what language are you using?
dotnet 2.32.0

### What operating system (Linux, Windows,...) and version?
macOS Catalina 10.15.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet core 3.1.402

### What did you do?
Set a Deadline on the client call, read the Deadline on the server.

### What did you expect to see?
I expect the Serve

[2020-09-22 19:42] gnossen commented on #24197
Thanks for the reports, everyone! #24216 is up to fix this warning message.

[2020-09-22 22:51] yulin-liang opened #24218 "FAILURE: Bazel RBE Windows Debug C/C++"
`//test/cpp/end2end:client_callback_end2end_test` failed to build.

https://source.cloud.google.com/results/invocations/2ad3b616-c64d-4a53-882a-fd921472359e/targets

[code]

[2020-09-22 23:28] veblush opened #24219 "Improving clang-tidy test"
### Is your feature request related to a problem? Please describe.

gRPC has been using `clang-tidy` as part of CI sanity test. Clang-tidy was upgraded to 6 via #22210 and it turned out that some source files were not diagnosed properly due to the compilation errors. Clang-tidy prior to 7 used to ignore this kind of errors silently and this is why we couldn't notice this problem. In addition to fi

[2020-09-23 00:44] #24197 closed

[2020-09-23 01:19] #23124 closed

[2020-09-23 05:05] #23088 closed

[2020-09-23 05:05] #23084 closed

[2020-09-23 05:05] #23083 closed

[2020-09-23 05:05] #23070 closed

[2020-09-23 05:06] #22710 closed

[2020-09-23 05:06] #22782 closed

[2020-09-23 05:06] #22846 closed

[2020-09-23 05:06] #21471 closed

[2020-09-23 05:06] #22285 closed

[2020-09-23 05:06] #21558 closed

[2020-09-23 05:06] #21356 closed

[2020-09-23 05:06] #22105 closed

[2020-09-23 13:30] akhilsanker commented on #21773
Hi facing the same issue while adding 'pod 'Firebase/Firestore'.
Any working solution?

Thanks

[2020-09-23 17:01] yulin-liang commented on #21773
Have you tried the solution bongzlive@ mentioned above?

- Remove ALL Firebase pods from the PodFile and save the PodFile.
- Make sure Xcode is closed.
- Open Terminal and cd to your Xcode project directory.
- Run 'pod install'
- Add pod 'Firebase/Auth' and pod 'Firebase/Firestore' to your PodFile and save the PodFile.
- Run 'pod install'.

[2020-09-23 23:06] #23249 closed

[2020-09-24 05:37] EliCDavis commented on #23481
I'm having similar issues and currently still trying to resolve, but @amarsgithub have you tried specifying your CAs as specified here: https://github.com/grpc/grpc/issues/22474#issuecomment-630329000

That thread says C# client doesn't try loading any CAs off windows by default

[2020-09-24 06:59] coreyzzp opened #24229 "strange CPU usage when multiple grpc Server instance is used in the same process?"
I have create two grpc grpc server instance by followings code:

[code]

each instance is running in async server mode, while asyncNext() operation is called in different
thread, where the grpc server for 50050 is left for admin which means traffic will be low on that server or thread.

when I perform a stress test, when the thread running 50051 reach 100%,  the thread running 50050 reach 30% whic

[2020-09-24 07:56] GauravTiwarii commented on #18188
Is there any update on this ? as I have observed this issue with the compilation of UWP based project that has reference to GRPC.
As expected the app crashes at runtime, due to these warnings.

**Warning		MCG : warning MCG0007: Unresolved P/Invoke method 'grpc_csharp_ext!grpcsharp_call_cancel' for method 'Grpc.Core.Internal.CallError Grpc.Core.Internal.NativeMethods.DllImportsFromSharedLib.grpcsha

[2020-09-24 11:23] zhangkuo1110 opened #24231 "grpc,1.27.3 sendmessage ,crash"
grpc 1.27.3, client

crash, I donnot know the reason!!! help

# addr2line -f -e ./gent -a 0xc9b256
0x0000000000c9b256
_ZNK6google8protobuf10Reflection30UnsafeArenaSetAllocatedMessageEPNS0_7MessageES3_PKNS0
_15FieldDescriptorE
protobuf/src/google/protobuf/generated_message_reflection.cc:1501
(discriminator 6)

# addr2line -f -e ./agent -a 0xc9ae74
0x0000000000c9ae74
_ZNK6google8protobuf10Reflection

[2020-09-24 11:26] zhangkuo1110 commented on #24231
It is easy to trigger a crash when the client frequently sends data to the server.
The above is the captured stack information.

[2020-09-24 12:57] vivainio commented on #23167
I have a separate nuget package "AssyCheck" that solves this: https://github.com/vivainio/AssyCheck

Closing this as separate fix for grpc is not required, hopefully the bug report still serves as a tip for future googlers.

[2020-09-24 12:57] #23167 closed

[2020-09-24 14:53] StasPerekrestov commented on #21446
There is a little issue with the workaround
[code]
Basically, it makes the container exposed to CVE-2019-14697 with 7.5 score.

[2020-09-24 15:07] Arrefelt opened #24232 "grpc_ares_ev_driver_windows: Overlapped I/O operation is in progress"
### What version of gRPC and what language are you using?
Updated today to dotnet 2.32 in hope to fix this issue, however had the same experience on 2.27.

### What operating system (Linux, Windows,...) and version?
Windows Server 2016  (Azure App Service)

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET 4.7.1

### What did you do?
I'm only using gRPC client

[2020-09-24 16:38] Arrefelt commented on #24232
I tried using GRPC_DNS_RESOLVER=native however the results are pretty much the same so I'm guessing it has nothing to do with ares itself.  But I cannot figure out as to why it cannot resolve dns in my azure environment

[2020-09-24 18:55] nathantfrank opened #24236 "gRPC C# in Unity Client to Remote Server over TLS never connects"
### What version of gRPC and what language are you using?
The server is running go 1.14 with grpc 1.32, TLS is setup with Let's Encrypt and certmagic
The client is running Unity 2018.4 with the unity grpc plugins package found [here](https://packages.grpc.io/archive/2019/11/6950e15882f28e43685e948a7e5227bfcef398cd-6d642d6c-a6fc-4897-a612-62b0a3c9026b/index.xml)

### What operating system (Linux, W

[2020-09-24 19:02] nathantfrank commented on #24236
@rib I noticed in your issue #21633 that it looks like you have TLS working with your setup. Would you mind looking over my issue?

[2020-09-24 19:59] ejona86 opened #24237 "Server does not use graceful GOAWAY on graceful shutdown"
The server seems to have a concept for graceful shutdown, where it sends a GOAWAY and lets RPCs complete. However, it doesn't do the double-GOAWAY suggested by [MAX_CONNECTION_AGE gRFC](https://github.com/grpc/proposal/blob/master/A9-server-side-conn-mgt.md#proposal) and the [HTTP/2 spec](https://httpwg.org/specs/rfc7540.html#GOAWAY):

I'd suggest an implementation that sends a PING immediately af

[2020-09-24 20:20] EliCDavis commented on #21633
@rib I echo your feelings. The DLLs found in their unity package on their build page seems to throw errors as well. I have to manually go through NuGet and grab versions that will work with my unity project. This issue goes across Major version releases of Unity as well.

[2020-09-24 20:23] ejona86 commented on #24237
For reference, C's handling of MAX_CONNECTION_AGE:
https://github.com/grpc/grpc/blob/25518e5b084f375b4f834546dd10a23905c90323/src/core/ext/filters/max_age/max_age_filter.cc#L361-L363

And the non-MAX_INT GOAWAY it triggers:
https://github.com/grpc/grpc/blob/e834d0b34b43745b0839b6205e04cfb1a5924c3a/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L1735-L1737

[2020-09-24 20:23] yashykt commented on #24237
Yes, we already have an internal bug for this b/135458602. It just hasn't reached the top of my priority queue yet. I'll see if I can get it done next quarter.

[2020-09-24 20:26] ejona86 commented on #24237
@yashykt, that looks like a client-side thing whereas this is a server-side thing. If they are the same, then go ahead and cross-link the internal one to reference this one. I would have done so, but a glance made it seem they were different.

[2020-09-24 20:32] yashykt commented on #24237
You are right. It started off as a client-only thing, but as the discussion progressed, it mentions all the things we want to do including the server-side double GOAWAY shutdown as a wanted feature.

[2020-09-24 21:15] rib commented on #21633
@EliCDavis Yeah, never heard any response from a maintainer here so pretty much just decided the Unity support is unmaintained and it would be too much of a liability to depend on in production. I switched to binding in my own plugin written in Rust where I could use https://github.com/hyperium/tonic instead.

Honestly I think I wish they never claimed to support Unity because it led me to waist a

[2020-09-24 21:34] 7hacker opened #24238 "TLS-PSK"
### Is your feature request related to a problem? Please describe.
While using gRPC in resource constrained, isolated environments TLS with pre-shared keys (TLS-PSK) is preferable over TLS with certs. Using a proxy just to solve TLS-PSK can degrade performance.

### Describe the solution you'd like
Extension of the Auth API to support TLS-PSK

### Describe alternatives you've considered
TLS-PSK pr

[2020-09-24 22:10] rib commented on #24236
I don't know if it will help or not but I made this bare minimum Unity project for reproducing my bug here: https://github.com/rib/grpc-unity-deadlock-reproduction. Maybe it will help you to see how I set up TLS in there.

Personally I would be very weary about trying to depend on this project's Unity support, I'm not sure that it's maintained. I wasn't able to get any release of gRPC working reli

[2020-09-25 04:01] YanlongLi commented on #21406
I got the same error on System.Buffers, should package `System.Buffers` be added as a nuget dependency of [Grpc.Core](https://www.nuget.org/packages/Grpc.Core/)
[code]

[2020-09-25 14:45] markdroth opened #24242 "FLAKE: //test/core/iomgr/poller:eventmanager_libuv_test[k8-fastbuild] under TSAN"
https://source.cloud.google.com/results/invocations/1df46528-d886-4efa-a704-179f13e17732/targets/%2F%2Ftest%2Fcore%2Fiomgr%2Fpoller:eventmanager_libuv_test/log

[code]

[2020-09-25 14:46] markdroth opened #24243 "FLAKE: //test/core/transport/chttp2:too_many_pings_test@poller=epoll1[k8-fastbuild] TooManyPings.BdpPingNotSentWithoutReceiveSideActivity"
https://source.cloud.google.com/results/invocations/cc697b66-a4ae-46ec-9917-65a93d9cb646/targets/%2F%2Ftest%2Fcore%2Ftransport%2Fchttp2:too_many_pings_test@poller%3Depoll1/tests

[code]

[2020-09-25 17:48] Armegone opened #24246 "Unable to install gRPC 1.16.0"
I would like to install gRPC on Ubuntu 20.04 because that's the last version compatible with FlatBuffers.

When I run

[code]

I receive the following error:
[code]
Why am I receiving this error ? How can I fix and install it with Cmake?

[2020-09-26 12:15] MichaelHirn commented on #22467
Hey @sjkummer, thanks for this issue and the related one (https://github.com/grpc/grpc/issues/22111) - helped a lot to know that I am not totally crazy, because the same code worked in python but not in node.

But, can you elaborate on the overrides? I'm not sure where they come into play. My code so far looks like this:

[code]

And while that code works in python, it doesn't work in node. So I t

[2020-09-26 19:55] lemusthelroy commented on #21773
So I have this issue...is there any resolution on the horizon?

[2020-09-27 03:34] adamjstewart opened #24248 "ld: library not found for -lssl"
### What version of gRPC and what language are you using?

gRPC 1.32.0, Python

### What operating system (Linux, Windows,...) and version?

macOS 10.15.6

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.8.5, Apple Clang 12.0.0

### What did you do?

I'm trying to install `py-grpcio` using the Spack package manager. I added the latest version, but it fai

[2020-09-27 10:01] yob opened #24249 "undefined symbol: __atomic_exchange_8 on arm (raspberry pi 4)"
This is similar to #20400, however I'm experiencing it on the latest release (1.32) so it seems to still be an issue.

### What version of gRPC and what language are you using?

I'm installing grpc 1.32.0 as a rubygem.

[code]

### What operating system (Linux, Windows,...) and version?

Linux (raspbian), running on a raspberry pi 4.

[code]

### What runtime / compiler are you using (e.g. python

[2020-09-27 12:12] ppageo opened #24250 "Random error writing response for server call"
### What version of gRPC and what language are you using?
1.31.1

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019

### What did you do?
Sometimes, when in the server I'm writing a very large response to a call, the following assert is raised:

GPR_CODEGEN_ASSERT(byte_count_

[2020-09-27 12:18] winternet opened #24251 "sync_posix.cc:55 assertion failed: pthread_mutex_destroy(mu) == 0"
### What version of gRPC and what language are you using?
version: libgrpc++.so.1.30.2
language: C++

### What operating system (Linux, Windows,...) and version?
Arch Linux
Linux 5.7.11-arch1-1 #1 SMP PREEMPT Wed, 29 Jul 2020 21:38:21 +0000 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
usr/bin/c++ -v
Using built-in specs.
COLLECT_GCC=/usr/bin/c

[2020-09-27 14:26] itamarsher commented on #24166
Updating again, I hacked into grpc code again and disabled additional socket features - SO_REUSEADDR, SO_REUSEPORT, and TCP_NODELAY. Now the code runs without errors but Stub->SayHello (using greeter_client.cc) never returns.
I used Wireshark to sniff the loopback device and I didn't see and network activity initiated by the wasm greeter client.
Due to the limited debugging in WASM I'm not sure wh

[2020-09-28 06:52] Sult opened #24252 "grpcioo failing on TLS with ED25519 algorithm"
### What version of gRPC and what language are you using?
grpcio 1.32.0

### What operating system (Linux, Windows,...) and version?
Mac OS Catalina, but also tested on Debian resulting in the same issue

### What runtime / compiler are you using (e.g. python version or version of gcc)
grpcio 1.32.0

### What did you do?
I wrote a simple server that should do a TLS handshake with ED25519 certifica

[2020-09-28 07:17] GauravTiwarii commented on #18188
I am going ahead with the build without the .NET native tool, as sideloading was an option. Will watch out here, for any resolution, so that we don't lose the performance benefits of build with .NET native tool.

[2020-09-28 07:51] lemusthelroy commented on #21773
To give some context to this...I am using a brand new MacBook on Catalina and I am using Xcode 12.0.1. I can build an iOS app with the basic flutter counter app and this displays in the iPhone simulator as expected.  However, I have another app that runs fine on Android on Windows but I can't get past this error on macOS.

This morning I went to the effort of removing anything Firebase related out

[2020-09-28 08:12] lemusthelroy commented on #21773
I have now isolated this issue in my case where I am using flutter. Removing the dependency cloud_firestore, allows me to successfully pod install. However, this dependency is required in my app and every time I add it back in - I get the above error.

[2020-09-28 09:16] lemusthelroy commented on #21773
To add even further context, it turns out the precise command that is failing is git clone https://github.com/CocoaPods/Specs.git, which is hanging up unexpectedly. See https://github.com/flutter/flutter/issues/30185 where they refer to this.

Only way I am going to resolve this is finding a way to pull from this repo without it hanging up. Thought I would post this update as it confirms issue is

[2020-09-28 13:45] tgergo1 commented on #22576
Any updates on this? If it's an abseil issue #23723 might help on it?
I find it hard that to believe that no one could figure this out, there must be some solution.

[2020-09-28 15:12] MichaelHirn commented on #22467
Update, I found the options in the doc (didn't see them before), however it still doesn't connect to the server for me. Pretty much the same code works in Python. This is what it looks now:

[code]

@sjkummer am I missing something?

[2020-09-28 15:20] sjkummer commented on #22467
@MichaelHirn Does the `checkServerIdentity` callback get called? If no, gRPC is unhappy with the provided certs.

Do you use clients certs too, or only server side certificates too? Client cert checks can be disabled in the server by passing false as 2nd parameter:
[code]

[2020-09-28 16:02] MichaelHirn commented on #22467
Thanks for the response @sjkummer. How do I check if `checkServerIdentity` gets called? I previously put a `console.log` in the `checkServerIdentity` callback to debug the call args that get passed in, but I never saw any console output, so not sure if `checkServerIdentity` gets called or not. How do I make sure it gets called?

The thing is that I have no control over the server side. But I know

[2020-09-28 17:07] yashykt commented on #24229
This is not the right place for questions. Please redirect questions to a wider community like stack-overflow.

[2020-09-28 17:07] #24229 closed

[2020-09-28 17:13] yashykt commented on #24231
The stack traces indicate protobuf. I would guess that there is an error in the usage of protobuf in the client code. I would have been able to provide more help if I could read the code, but based on the stack traces that's my best guess.

As a side-note, for general help, please redirect questions towards wider communities like stack-overflow or https://groups.google.com/g/grpc-io

[2020-09-28 17:13] #24231 closed

[2020-09-28 17:23] yashykt commented on #24243
Looks like the test is fragile. I'll try to fix it.

[2020-09-28 17:41] yashykt commented on #24246
Hi, please redirect questions to wider communities like stack-overflow.

[2020-09-28 17:41] #24246 closed

[2020-09-28 18:18] lemusthelroy commented on #21773
-> Installing BoringSSL-GRPC (0.0.7)

     $ /usr/bin/git clone https://github.com/google/boringssl.git /var/folders/5y/kz_7kysj73z8jtb1xzc0skmr0000gp/T/d20200928-1463-1g58de
     --template=
     Cloning into '/var/folders/5y/kz_7kysj73z8jtb1xzc0skmr0000gp/T/d20200928-1463-1g58de'...
     error: RPC failed; curl 18 transfer closed with outstanding read data remaining
     fatal: the remote end hu

[2020-09-28 18:19] lemusthelroy commented on #21773
My current internet connection is 110 Mbps, so no issues there

[2020-09-28 18:22] yashykt commented on #24250
Looks like there is something buggy happening here. Please provide a way to reproduce this error.

[2020-09-28 18:34] yashykt commented on #24251
Without looking into too much detail, this sounds like a lifetime and shutdown issue. From the stack-trace, it looks like the server is being destroyed without it being properly shut down.

[2020-09-28 18:42] yulin-liang commented on #21773
@lemusthelroy Thanks for the information, can you try to remove `ios/Flutter/Flutter.framework`, `ios/Pods`, and `Podfile.lock` before running `pod install`?

[2020-09-28 18:47] lemusthelroy commented on #21773
Same error unfortunately 😭

[2020-09-28 18:48] yashykt commented on #24251
We can further verify this is we can log out the return value from pthread_mutex_destroy. Or, please add log statements around server Shutdown and Wait as proof that those functions were invoked.

I also tried building the project but it seems there are a few missing build dependencies that were not automatically satisfied.

[2020-09-28 18:52] yulin-liang commented on #21773
@lemusthelroy Can you create a simple demo that I can reproduce the issue?

[2020-09-28 19:09] lemusthelroy commented on #21773
For me to get the issue all I have to do is the following:-

1. `flutter create demoApp`
2. Add cloud_firestore as a dependency in pubspec.yaml
3. `flutter run`

[2020-09-28 20:05] yulin-liang commented on #21773
@lemusthelroy I tried to add `cloud_firestore: ^0.12.9+5` in the `pubspec.yaml` and ran `pod install` in `iOS/` directory, I can install it successfully. What's the version of your flutter? Can you also paste your dependencies?
<img width="1087" alt="Screen Shot 2020-09-28 at 1 04 49 PM" src="https://user-images.githubusercontent.com/64815511/94480532-4682ef00-018b-11eb-84cc-36112b4508a7.png">

[2020-09-28 20:10] lemusthelroy commented on #21773
Flutter 1.20.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision fba99f6cf9 (2 weeks ago) • 2020-09-14 15:32:52 -0700
Engine • revision d1bc06f032
Tools • Dart 2.9.2

[2020-09-28 20:12] lemusthelroy commented on #21773
name: boringSSLBug
description: A new Flutter project.

publish_to: 'none'

https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cloud_firestore:

  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutt

[2020-09-28 20:40] yulin-liang commented on #21773
@lemusthelroy It looks like an git internet connection issue, you can take a look at this post, https://stackoverflow.com/questions/38618885/error-rpc-failed-curl-transfer-closed-with-outstanding-read-data-remaining.
I also found a similar [issue](https://github.com/CocoaPods/CocoaPods/issues/9564) in Cocoapods repo. Can you try to increase buffer size? Hope it can work.
[code]

[2020-09-28 20:47] lemusthelroy commented on #21773
Yeah I've seen that suggestion before. Tried it again and still the same issue 😢 I'm pretty new to developing on iOS but had enjoyed Flutter on Windows over the last year, just a shame I can't any of my apps on iOS atm.

[2020-09-29 00:24] aardappel commented on #20594
Not only was this working fine before, it seems to me that being able to implement zero-copy protocols is an important feature for gRPC, so I am not sure why it isn't possible to expose this in the API.

For reference: https://grpc.io/blog/grpc-flatbuffers/ :)

[2020-09-29 00:48] tudor commented on #20594
I don't want to publicly admit to the horrible hacks that we've had to do to actually get this working at Rockset, but it looks like this:

[code]

[2020-09-29 00:50] PeakDing commented on #23546
Do you solved the problem? Can you give me some advise? and the old grpc version you use?

[2020-09-29 06:36] erikrenberg commented on #22576
Perhaps not related to this issue, but I though I should mention that you can use vcpkg (https://github.com/microsoft/vcpkg) to build build grpc 1.31.1 (the latest version vcpkg supports at the time of writing) with VS 16.7. I did that a couple of weeks ago without any issues.

[2020-09-29 06:59] kep-w opened #24260 "grpc python upload files through the reuse channel sometimes service interrupt with no abnormal information"
**What version of gRPC and what language are you using?**
grpcio 1.30.0
python 2.7.18
**What operating system (Linux, Windows,...) and version?**
Linux run with Docker
**What runtime / compiler are you using (e.g. python version or version of gcc)**
gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)
Python2.7.18
**What did you do?**

I write a rpc service for my file systerm. it used for upload a

[2020-09-29 07:35] daveyostcom opened #24261 "need documentation on System.InvalidOperationException: Response stream has already been completed."
I can find no documentation about this error message, beyond just the one sentence, which seems unclearly worded.
This happens on a bidirectional stream at the first write from server to client. By "response stream" I guess it means the reading side of the bidirectional stream. Apparently my code to read from the stream is already and is still running when this happens, but it's not clear why that

[2020-09-29 08:08] lemusthelroy commented on #21773
So on a hunch, I ran 'flutter run' on a hotspot and it worked just fine. For all others that may hit the same issue, I am in the UK and using Virgin Media. I had to log into Virgin Media website, (not to the router), and disable Child Safe.

[2020-09-29 09:05] halachkin opened #24262 "C#: Grpc.Core native libs copying every project build. No project update support."
Grpc.Core nuget causes Visual Studio build projects every time, leaving no update support.

**What version of gRPC and what language are you using?**
C#, Grpc.Core 2.32.0 , net472.

**What operating system (Linux, Windows,...) and version?**
Windows 10

**What runtime / compiler are you using (e.g. python version or version of gcc)**
.net 4.7.2, Visual Studio 2019

**What did you do?**
My C# proje

[2020-09-29 12:19] dcristolovean commented on #23448
+1, got this exact same error today too.
Same versions, gRPC-C++ is used probably by some Firebase pods that I have.

[2020-09-29 12:23] atlemann opened #24266 "net5.0 'publish single file' makes LoadUnmanagedLibrary fail with ArgumentNullException"
### What version of gRPC and what language are you using?
NuGet 2.24.0, C#

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet 5.0 rc-1

### What did you do?
1) Create some app that tries to create a Grpc Channel
2) dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true --self-cont

[2020-09-29 13:25] Wkkkkk commented on #23546
Kind of solved. I was using gRPC1.29.1.
1. find file grpcpp/impl/codegen/completion_queue_impl.h
2. find the following part of code
`
  // List of servers associated with this CQ. Even though this is only used with
  // NDEBUG, instantiate it in all cases since otherwise the size will be
  // inconsistent.
  mutable grpc::internal::Mutex server_list_mutex_;
  std::list<const Server*> server_list_

[2020-09-29 14:07] jorrizza commented on #24252
Same problem here. Tried with both Ruby and Python bindings. Set up a server using Go and an ed25519 certificate. Connecting to that server with both Go and OpenSSL s_client works perfectly. Using the same client certificate with this repository however, causes the handshake to fail.

The server has the following log output when connecting to it from either the Python or Ruby client:

    WARNING:

[2020-09-29 17:01] #23448 closed

[2020-09-29 17:11] yulin-liang commented on #21773
This seems like an internet connection issue and not much we can do. For those who may ran into the same issue, please try to do the following first:
[code]

If it doesn't work for you, you may need to switch to another network or check your network configuration.

[2020-09-29 17:11] #21773 closed

[2020-09-29 17:34] daveyostcom commented on #24261
Back in those days of 64k memory and no Internet and no error documentation, all we got was an int for an error message, then we looked it up in the source code if we could. Funny how it takes time to fully realize what we can do with more resources. Nowadays, how about we get a short URL to the full documentation on the error? Or the IDE could look it up from the exception class, when a standard

[2020-09-29 17:54] lidizheng commented on #24260
@kep-w Can you try to print out the trace log for the gRPC client in Docker? The trace logging can be enabled with setting 2 environment variables `GRPC_VERBOSITY=debug` and `GRPC_TRACE=all` (see [doc](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md)).

Channels should be reused. The client exit must triggered by some error. Two most possible cases (memory leak, file too big)

[2020-09-29 18:32] lidizheng commented on #24252
@jiangtaoli2016 PTAL. Could this be an issue with BoringSSL?

@Sult Can you please try if the issue is reproducible with `v1.31.x`? In `v1.32.0`, we enabled ASM optimization for BoringSSL, which could be the culprit.

[2020-09-29 19:09] pm-energid commented on #22576
I don't think that #23723 alone would help. It seems that the cmake scripts in grpc repository to perform the external project build of abseil aren't working for DLL targets as expected. If you build abseil directly (it builds successfully when built independently) and then provide path to the build, cmake can proceed further from there.

[2020-09-29 19:39] jiangtaoli2016 commented on #24252
It is not clear if it is BoringSSL issue. I would be surprise if it is a BoringSSL issue.

[2020-09-29 20:12] yashykt commented on #20034
@veblush Any update on this? (Pinging since this has been marked as a P1 bug.)

[2020-09-29 20:13] yashykt commented on #23307
Is this still a P1?

[2020-09-29 20:19] markdroth commented on #23307
No, I don't think this is P1.  Moving to P2.

@stanley-cheung, is this fixed now?  Can you try with #23533 and see if this is still happening?

[2020-09-29 20:25] yashykt commented on #19151
@murgatroid99 Any updates on this? Is this still relevant? (This has been marked as a P1.)

I don't have much context here but looking at the error "Failed to bind to port" it seems to me that there is a configuration/environment issue at hand.

[2020-09-29 20:26] yashykt commented on #15628
@apolcyn Any update on this? (Please downgrade to P2 if it is not urgent.)

[2020-09-29 20:27] yashykt commented on #15314
@apolcyn Is this still relevant?

[2020-09-29 20:29] yashykt commented on #7530
@a11r ping. Also, is this a P1?

[2020-09-29 20:30] yashykt commented on #2567
@apolcyn Should this still be open? and, is this a P1?

[2020-09-29 20:44] winternet commented on #24251
Hi @yashykt thanks for having a look into the issue. I made some tests myself and added the error logs around the Wait() and Shutdown() statements with [commit 263ac90](https://github.com/winternet/chord/commit/263ac90457f1c71bc00223502c05901a8f50f543) being

  logger->error("PEER calling server->Wait()");
  server->Wait();
  logger->error("PEER after server->Wait()");

and

  logger->error("PEER

[2020-09-29 20:56] yashykt commented on #24251
Yeah, that proves it.
The server is being destroyed too early. The server object should live beyond all the server operations.

currently it looks like, it is happening on a different thread -
`E0929 22:10:54.584283573 **1067607** sync_posix.cc:55] assertion failed: pthread_mutex_destroy(mu) == 0`

while there are server operations still happening -
`[2020-09-29 22:10:54.584] [chord.peer] [error]

[2020-09-29 20:56] #24251 closed

[2020-09-29 21:08] yashykt commented on #24248
@adamjstewart Please also feel free to jump in and dig through.

[2020-09-29 21:12] yashykt opened #24269 "Basic Tests Python MacOS broken"
This is broken on master currently - https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_python?search_pattern=grpc%2Fcore&project_types=KOKORO&include_inactive_projects=false

[2020-09-29 21:19] gnossen commented on #24269
@lidizheng is working on a fix in https://github.com/grpc/grpc/pull/24267#pullrequestreview-498882848

[2020-09-29 21:19] lidizheng commented on #24248
@adamjstewart  From the log, it looks like that Cython picked the correct `clang++` but `setuptools` picked the system compiler. There are several ways to control which compiler to use in `setuptools`, like [distutils.cfg](https://setuptools.readthedocs.io/en/latest/deprecated/easy_install.html?highlight=--compiler#id27), or `--compiler`.

[2020-09-29 21:27] adamjstewart commented on #24248
Thanks for the suggestion @lidizheng. My understanding for `--compiler` and `distutils.cfg` is that you can only control the type of compiler, not the exact executable that gets used.

Let me try manually injecting all of the compiler flags so that even if it uses the wrong compiler it will still work.

[2020-09-29 21:31] mantasmatelis commented on #24069
I've also been bit by this issue, it's hard to include nginx as a reliable proxy/loadbalancer for gRPC because of it. I think it's an issue for all C-core gRPC implementations.

I've been following https://github.com/grpc/grpc/issues/9884, I think resolving that issue is a requirement for the client to handle GOAWAY frames correctly.

[2020-09-29 21:32] lidizheng commented on #24248
In your env, `/usr/bin/clang++` is set as `SPACK_CXX`. Could this be the reason?

[2020-09-29 21:33] adamjstewart commented on #24248
No, that shouldn't be the issue. The way Spack works is that it sets `CXX` to the compiler wrappers, and then in the compiler wrappers, it calls `SPACK_CXX` (the actual compiler) with additional flags like `-L`, `-I`, and `-Wl,-rpath,`.

I think the bigger issue for me is that parts of the build use `CXX` while other parts of the build use the compiler reported by distutils.

[2020-09-29 21:39] adamjstewart commented on #24248
Okay, manually setting `LIBRARY_PATH` and `CPATH` gets me past the original issue. Now the build crashes with:
[code]
Have you seen anything like this before? The latter warning msg should be easy to fix, but I don't know enough C to fix the former error msg.

[2020-09-29 21:47] lidizheng commented on #24248
There are many build options you could try at: https://github.com/grpc/grpc/blob/master/setup.py#L121.

E.g., you could set `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true` to build gRPC Python with default OpenSSL in system instead of BoringSSL.

Thanks for suggesting fix for `commands.py`. I put up an PR at https://github.com/grpc/grpc/pull/24271.

[2020-09-29 22:06] lidizheng opened #24272 "[Flake] test_total_channels_enforced (SimpleStubsTest)"
https://source.cloud.google.com/results/invocations/0d323e10-569e-437b-9ea2-5a1f67163d68/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

`SimpleStubsTest.test_total_channels_enforced` might time out with Linux Bazel build. Since Linux Bazel is a relatively stable environment, it could indicate a potential bug.

[code]

[2020-09-29 22:21] lidizheng commented on #24269
It seems Kokoro is in a weird state now, see yesterday's OMG/23004.
Besides #24267, there are networking issues and tool failures.

[2020-09-29 23:01] adamjstewart commented on #24248
I'm already using `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true`

[2020-09-30 00:40] M-Sherif opened #24273 "gRPC Client Never Receives Response Headers when Using Grpc.Core.Channel"
### What version of gRPC and what language are you using?
GRPC 2.32.0 and Grpc.Net.Client 2.31.0 NuGet package with C#.

### What operating system (Linux, Windows,...) and version?
Windows 10 20H2.

### What runtime / compiler are you using (e.g. python version or version of gcc)
.Net Core 3.1.

### What did you do?

On the gRPC server, I return response header containing server info once a reques

[2020-09-30 03:09] kep-w commented on #24260
Thanks for your reply.
I configed the environment variables GRPC_VERBOSITY=debug and GRPC_TRACE=all, and the log print in std.out.
But my service was deployed in docker, the information was cleared when the service interupt.
So how to output logs to a file? In this case, I can persist the file by mounting.
I tried adding the configuration information to the initialized channel as follows, but it d

[2020-09-30 07:34] kep-w commented on #24260
Hi, I try to get systerm logs and got this:
kernel: grpc_global_tim[11971]: segfault at 328c220 ip 00007f87be25ce09 sp 00007f87bd1b2c10 error 4 in cygrpc.so[7f87be012000+577000]
abrt-hook-ccpp: Process 1 (python2.7) of user 0 killed by SIGSEGV - ignoring (repeated crash)
abrt-hook-ccpp: Saved core dump of pid 11882 to core.11882 at /app/grpc_test (62062592 bytes)
It is worth noting that this error

[2020-09-30 08:48] jorrizza commented on #24252
Tried with package `1.31.0` from PyPI. That version doesn't even support TLSv1.3, apparently. Allowing TLSv1.2 on the server side results in the same error as above.

I have also built the latest master (b9fe77f2349e1a11835c411f578b37b425e5a544) without the asm optimization and made sure to update all the submodules. This version also results in the same handshake error.

This is strange, as Borin

[2020-09-30 15:16] markdroth opened #24276 ""Basic Tests Python MacOS" failing: AttributeError: module 'enum' has no attribute 'IntFlag'"
https://source.cloud.google.com/results/invocations/902d4082-1598-44c6-9a65-bfc91ded39c3/targets

It's failing the same way for asyncio, gevent, and native.

[code]

[2020-09-30 15:17] markdroth opened #24277 "FLAKE: github/grpc/run_tests/ruby_linux_dbg_native/src/ruby/end2end/grpc_class_init_test.rb[default]"
https://source.cloud.google.com/results/invocations/bfe332cd-4d26-4fae-97a0-d30edd0d6b33/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_dbg_native%2Fsrc%2Fruby%2Fend2end%2Fgrpc_class_init_test.rb/tests

[code]

[2020-09-30 16:55] ayeganov opened #24278 "Add AuthMetadataProcessor support to InsecureServerCredentials"
### Is your feature request related to a problem? Please describe.
My service is running behind an ingress that accepts connections over TLS and forward the traffic within the secured environment to my service. I need to verify the authorization of the service, which the ingress would provide through HTTP headers. Since the service is expecting the HTTP connection I can't find a method to properly

[2020-09-30 16:58] ejona86 commented on #24278
Since client-side call credentials are already being changed (did that work finish?) to be allowed on insecure channels, it seems this API on server-side should also follow suit.

The main alternative to AuthMetadataProcessor would be a server interceptor, but the server interceptor can't fail an RPC with a status to my knowledge. CC @vjpai

[2020-09-30 17:28] lidizheng commented on #24276
Duplicated with https://github.com/grpc/grpc/issues/24269. WIP fix at https://github.com/grpc/grpc/pull/24267.

[2020-09-30 17:37] lidizheng commented on #24252
Thanks for trying out previous version and compiling from HEAD.

@jiangtaoli2016 Can you take a look again? I found ed25519 implemented in BoringSSL, but seems not enabled for gRPC. Do you have more context?

[2020-09-30 17:41] lidizheng commented on #24260
You can examine the core dump, or use gdb to locate the error.

If it is a segfault, then it might be caused because the process is forked during channel creation. To safely use forking, you might need to set an environment variable `GRPC_ENABLE_FORK_SUPPORT=true`.

[2020-09-30 17:49] jiangtaoli2016 commented on #24252
From SSL transport security code, BoringSSL and OpenSSL have no difference.
If there is some feature that only enabled for OpenSSL but not BoringSSL in gRPC, @nicolasnoble may know, since Nicolas wrote the build system.

[2020-09-30 17:59] jiangtaoli2016 commented on #24278
It has not been done on neither side.
This work is blocked by refactoring/removing insecure build target. We had a plan, but has not prioritized this effort yet.

@markdroth @yihuazhang

[2020-09-30 18:00] veblush commented on #20034
Changing the priority back to P2 because I believe this only happens with customized gRPC which happens to have multiple gRPC libraries, which violates ODR issue. Since we fixed the our-own ODR problem a few months ago, this shouldn't be a problem for users which simply rely on gRPC libraries.

[2020-09-30 18:08] ejona86 commented on #24278
@jiangtaoli2016, okay, that makes sense. Do we think allowing AuthMetadataProcessor for insecure channels makes sense given the client-side call creds changes, and it's just a question about priorities/scheduling/etc?

[2020-09-30 18:18] veblush commented on #24249
We added `libatomic` auto-detection to gRPC Python packages only. We might need to evaluate whether it's possible to add this to ruby package. In the meantime, having `bundle config --local build.grpc --with-ldflags="-latomic"` could be effective workaround, thanks!

[2020-09-30 18:22] jiangtaoli2016 commented on #24278
If the call credential security level is NONE, then it could be sent via insecure channels. Trusting networking perimeter is a weaker security argument, than end-to-end transport security with integrity and privacy. Some customers (not us) may want trust network perimeter.

[2020-09-30 18:58] ayeganov commented on #24278
@jiangtaoli2016 Are you saying it is possible to use `AuthMetadataProcessor` with insecure channels now as long as the security level is set to `NONE`?

[2020-09-30 19:02] jiangtaoli2016 commented on #24278
@ayeganov It is not possible today, sorry.

[2020-09-30 19:04] lidizheng commented on #24269
Should be fixed by #24267.

[2020-09-30 19:04] #24269 closed

[2020-09-30 19:11] veblush commented on #13856
@gnossen Thanks! `:grpc` is now okay but `:import_moved_test` isn't.

[2020-09-30 19:13] veblush commented on #13856
I made https://github.com/grpc/grpc/pull/24247 unifying TLS implementation across all platforms but it needs some changes on our supported platforms. It would take some time to bring all stakeholders on the same page.

[2020-09-30 19:13] thaishankar commented on #24035
Hey guys any updates on this? We would like to use GRPC on our platform but we are blocked on the decision as we need this feature

[2020-09-30 19:17] markdroth commented on #24035
I think this is something that we should do, but I don't know that we'll have time to get to it anytime soon.  If someone wants to contribute code to C-core to allow this, we can talk about the best way to implement it.  We might be able to leverage the socket mutator code-path somehow.

[2020-09-30 21:53] timhughes opened #24281 "[python aio] AttributeError: module 'grpc' has no attribute 'aio'"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?
Fedora 32 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?

create file `server.py`
[code]

### What did you expect to see?
the code execute and print out
[code]
### What did you see instead?
I get an impo

[2020-09-30 22:32] timhughes commented on #24281
Also the docs https://grpc.github.io/grpc/python/grpc_asyncio.html for this version still say that the api is experimental but it has been moved out of experimental in this commit 5694b798b0d49c33f5589527cdea2b7e9649e4b8

[2020-09-30 22:37] lidizheng commented on #24281
Good catch. The `aio` module is not exposed as a visible attribute of `grpc`. So, it needs to be imported in this way now:

[code]

I will make a chance to make `grpc.aio.foo` work.

[2020-09-30 23:10] lidizheng commented on #24281
Filed two PR: https://github.com/grpc/grpc/pull/24289 for the import path update, and https://github.com/grpc/grpc/pull/24286 for fixing the document.

Thanks for reporting to GitHub.

[2020-09-30 23:13] timhughes commented on #24281
feel free to close #24284

[2020-09-30 23:47] lidizheng opened #24290 "[Flake] macOS grpc_basictests_python"
Recently, Homebrew frequently fails to fetch a GitHub repo which is essential to its package list udpate: `fatal: unable to access 'https://github.com/Homebrew/homebrew-core/': transfer closed with outstanding read data remaining`.

The update failure will result in downloading out-of-date pacakges, and lead to error like `Error: unknown or unsupported macOS version: :lion`. Also, Homebrew won't b

[2020-10-01 00:28] veblush commented on #23819
@abb3r If this happened to your application, can you make a small reproduction case so that I can build it myself?

[2020-10-01 00:40] veblush commented on #24290
Thanks Lidi to take a look at this strange problem. All of sudden, `grpc_basictests_python` on the master started passing from 14:17 Sep 30. Maybe some other external component made a recent change?

[2020-10-01 00:53] veblush commented on #24143
This was fixed by https://github.com/abseil/abseil-cpp/issues/690 and gRPC will pick the new Abseil version soon by #24270

[2020-10-01 00:53] #24143 closed

[2020-10-01 09:21] damonkey2 commented on #21437
Doesn't look like Ivan is around to respond to the comments on the PR. I've sent an equivalent one without the config settings check (which appears to be unnecessary as best I can tell).

I too cannot add labels, @apolcyn any chance you can take a look? :)

[2020-10-01 09:30] sdd commented on #19151
Over a year onwards and I'm still experiencing this bug. Our solution is to pin the version as 1.23.0, patch tcp_server_custom.cc, and rebuild locally, by having this in our dockerfile:

[code]

[2020-10-01 10:26] jtattermusch commented on #23829
Sorry but I don't understand what erroneous gRPC behavior you're trying to describe. AFAICT, you have a server side stub that prints hash of an object and the logs you provided don't really show anything that would indicate a gRPC problem.

Also I don't see why you're claiming that  "hash should be different in different thread".

[2020-10-01 10:26] #23829 closed

[2020-10-01 12:20] lsylusiyao commented on #23829
Well, several days later I've found out that I misunderstood the meaning of gRPC. gRPC helps call a `function` rather than an `object` remotely, which means I can't create or delete an object directly. Previously I thought if I called to create objects in different thread, , the objects should be different even if later I called the objects' function. Sorry to trouble here.

[2020-10-01 16:52] lidizheng commented on #24290
There were two bugs caused macOS Python tests to fail, one is fixed in https://github.com/grpc/grpc/pull/24267, the other one is this network issue.

Another failed build after https://github.com/grpc/grpc/pull/24267 merged:
https://source.cloud.google.com/results/invocations/c6e8cac8-01e4-4de9-885b-1b870a1abd1a/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_python/log

I guess we can see

[2020-10-01 17:53] ebrevdo commented on #20034
Issues like these were resolved in Reverb by being very careful about what
symbols our .so libraries exposed (among other tricks we had to use):
we generate
and use
<https://github.com/deepmind/reverb/blob/master/reverb/cc/platform/default/build_rules.bzl#L430>
a version_script (lds) file that only exports init symbols.

On Wed, Sep 30, 2020 at 11:00 AM Esun Kim <notifications@github.com> wrote:

[2020-10-01 18:49] yashykt commented on #24261
Posting the logs or atleast the error message would help

[2020-10-01 22:21] daveyostcom commented on #24261
`System.InvalidOperationException: Response stream has already been completed.` (see title :)
My server code was writing before reading. Oops. Because the reading started immediately after the writing and I was lucky, it worked. Until some code reorg must have tweaked the timing. (I fixed it so it starts reading, then awaits the initial writes, then awaits the reading.)

I was thrown by the term `

[2020-10-01 22:45] yashykt commented on #24261
My bad, I didn't see that. Assigning it to @jtattermusch for C#. (Also, pull requests are welcome. )

[2020-10-01 23:04] #24242 closed

[2020-10-02 06:09] stanley-cheung opened #24306 "PHP Distribtest is broken"
Distribtest master dashboard: https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_distribtests

Run that failed: https://fusion.corp.google.com/runanalysis/info/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_distribtests/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_distribtests/KOKORO/9c73d46c-0844-4a4f-af0c-0b689839b456/1601610249616/build%20%2313358/Targe

[2020-10-02 16:56] veblush commented on #24306
Thanks for creating an issue about this breakage. I'm about to roll it back by https://github.com/grpc/grpc/pull/24310.

[2020-10-02 19:40] 7hacker commented on #24238
Hi, any updates on this feature request?

[2020-10-02 20:25] jiangtaoli2016 commented on #24238
We do not have any plan to support TLS-PSK now. We are busy re-designing TLS API to support credential reloading, custom authorization callback, SPIFFE support, and so on.

[2020-10-02 20:44] 7hacker commented on #24238
Thanks for the update. Does the custom authorization callback effort enable us to plug-in a TLS-PSK backend ?

[2020-10-02 21:14] jiangtaoli2016 commented on #24238
@7hacker could you describe more about TLS-PSK backend? It is hard for me to evaluate.

[2020-10-02 22:38] 7hacker commented on #24238
@jiangtaoli2016 sure, just spitballing here since I'm not clear on the custom auth callback on gRPC either.

Essentially can the custom callback defer to our implementation of TLS and we choose to use PSK's for authorization?

[2020-10-02 22:44] jiangtaoli2016 commented on #24238
Please take a look at new API at https://github.com/grpc/proposal/pull/205 and see if it helps your use case.

[2020-10-03 13:56] cyberSJ opened #24319 "When ClientContext::TryCancel() is called right after starting server-side streaming, the ServerContext::IsCancelled() becomes unresponsive even if the keepalive watchdog is fired."
### What version of gRPC and what language are you using?
Tested on 2 different systems.
1.28.2 C++ on one system
1.28.1 C++ on the other system

### What operating system (Linux, Windows,...) and version?
RHEL 6.10 (Santiago) for gRPC 1.28.2
Ubuntu 18.04.1 LTS (bionic) for gRPC 1.28.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++ 4.9.3 for gRPC 1.28.2
g++

[2020-10-03 18:31] stanley-cheung commented on #24306
This should be fixed. The recent `grpc/core/master/linux/grpc_distribtests` runs are all green.

[2020-10-03 18:31] #24306 closed

[2020-10-03 22:00] fnl opened #24320 "Nvidia Xavier aarch64 Python install of grpcio"
I am trying to cmpile grpcio on a Nvidia Xavier device with aarch64 and getting the attached log/error.
As the error recommends posting the log here, if anyone can provide sensible next steps or give me a clear diagnose, I'd appreciate it.
Please find it attached, as the log is rather extensive.

[grpcio_error.txt](https://github.com/grpc/grpc/files/5322351/grpcio_error.txt)

[2020-10-04 01:17] AWSNB commented on #24320
@fn grpcio on aarch64 is working for Graviton2 with Ubuntu 18.04, ubuntu 20.04 and AmazonLinux2 which could hint that something is missing in the build environment you using :
*  what linux distribution you working on ?
* what python packages you already have ? (sudo pip3 list)

[2020-10-04 10:32] chennupushkar commented on #23070
@Psykepro I am also facing the same issue which you have mentioned. Any luck with the solution?

[2020-10-04 17:04] chennupushkar opened #24322 "AttributeError: 'grpc._cython.cygrpc._ServicerContext' object has no attribute 'time_remaining'"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!
I have documented the problem here with the relevant code. https://stackoverflow.com/questions/64192211/how-to-convert-grpc-serverinterceptor-to-grcp-aio-serverinterceptor

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/que

[2020-10-04 19:13] fnl commented on #24320
Thanks for replying - here is the missing info:

Distro: Ubuntu 18.04.5 LTS
Python packages installed: [pip_env.txt](https://github.com/grpc/grpc/files/5324139/pip_env.txt)

So from what you say I gather this *should* work - sunds like this might be trickier than I thought it will be...

[2020-10-04 19:23] AWSNB commented on #24320
the following sequence worked for Graviton2.   Because grpc is being compiled, its important to have *build-essential + python3-pip +  python3-dev + libffi-dev* installed ahead of time

[code]

[2020-10-05 05:45] philipstarkey commented on #22914
This appears to be a duplicate of #9575 (which was locked without a nice resolution). There is not a trivial fix as the current import syntax generated is correct if you are not using the generated files in a python package. The manual change to the import statements documented in this issue description works when the generated files are in a python package, but breaks if they are not!

The discus

[2020-10-05 08:39] kalman5 commented on #21719
I tried to use a precompiled 1.32 grpc, compiled with:

cmake -DBUILD_SHARED_LIBS=ON -DgRPC_INSTALL=ON -DgRPC_BUILD_TESTS=OFF -Dprotobuf_WITH_ZLIB=ON ../..

in a project using abseil-cpp as internal target ( add_subdirectory(abseil-cpp) )

and I get a bad_alloc exception when calling BuildAndStart, I tried to create an abseil library but the .a targets are kinda incomplete, for instance I'm not ev

[2020-10-05 08:52] makkarpov commented on #23278
*not stale*

[2020-10-05 13:37] jtattermusch commented on #24138
What we've done is we added a new `DebugException` field to RpcException, which seems to be a fair incremental change (adding a field to a class is fully backwards compatible). The fact that you are relying on the exact contents of the message exception is unfortunate, because the textual representation of the exception sometimes changes and it's quite natural.

Note that the contents of the `Stat

[2020-10-05 13:37] #24138 closed

[2020-10-05 13:45] jtattermusch commented on #22061
Looks like you're basically facing this:
https://github.com/protocolbuffers/protobuf/issues/7848

Two solutions:
This will be fixed once https://github.com/protocolbuffers/protobuf/pull/7940 is merged. Alternatively, it can be solved without needing to upgrade anything by adding this line to your .csproj:
https://github.com/grpc/grpc/blob/9fac907f806c3a9b9b775b15d8e3cb387c4d7048/test/distrib/cshar

[2020-10-05 13:45] #22061 closed

[2020-10-05 13:53] jtattermusch commented on #24134
@srini100  do you want to finish the C++ 1.32.0 interop matrix or should I do it?

[2020-10-05 14:13] jtattermusch commented on #23618
@yabli  I will give this another shot, hopefully this time I can reproduce.

[2020-10-05 14:33] yabli commented on #23618
Thanks a lot! if you see any problem in the repro, please let me know. I will look into and reply as soon as I can.

[2020-10-05 14:40] jtattermusch commented on #24178
Not sure if that's related, but we do call SymInitialize when trying to install  crash handler on Windows in our tests:

https://github.com/grpc/grpc/blob/c516eb7c09f06766bb4f253fbd2281efa1b865ad/test/core/util/test_config.cc#L182

[2020-10-05 14:40] jtattermusch commented on #24178
@veblush  can you provide a few link to said failures FTR?

[2020-10-05 14:56] lidavidm commented on #23275
It seems this was implemented (experimentally) recently via TlsCredentialsOptions.

[2020-10-05 14:56] #23275 closed

[2020-10-05 15:19] jtattermusch commented on #24232
@apolcyn  can you take a look?

[2020-10-05 15:39] jiangtaoli2016 commented on #23275
@lidavidm Yes, new TLS credentials would support credential reloading.

[2020-10-05 16:08] jtattermusch commented on #24262
Looks like this will be fixed by https://github.com/grpc/grpc/pull/23391.

[2020-10-05 16:10] jtattermusch commented on #24262
Also, this is basically a dupe of https://github.com/grpc/grpc/issues/23622.

[2020-10-05 16:10] #24262 closed

[2020-10-05 16:27] veblush commented on #24178
@jtattermusch Thanks. I added links to the failures to the description.

Abseil uses the same function with the same arguments.
https://github.com/abseil/abseil-cpp/blob/887d0eee6bab35847253181b32e78ff707010ccd/absl/debugging/symbolize_win32.inc#L48

When the abseil debugging symbolizer is used by gRPC, `install_crash_handler` won't be called so they're mutually exclusive. The difference is that A

[2020-10-05 16:36] #24322 closed

[2020-10-05 17:42] chennupushkar opened #24325 "AttributeError: 'grpc._cython.cygrpc._ServicerContext' object has no attribute 'time_remaining when using grpc.aio.ServerInterceptor"
### What version of gRPC and what language are you using?
    grpcio=1.32.0
    grpcio-opentracing==1.1.4

### What operating system (Linux, Windows,...) and version?
    mac OS Mojave version: 10. 14. 3

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7

### What did you do?
prometheus_server_interceptor.py

[code]
Server.py

[code]
### What did you expe

[2020-10-05 18:18] srini100 commented on #24134
@jtattermusch, can you please take care of this in case any other issue pops up?

[2020-10-05 18:55] ronitshrivastava447 opened #24327 "cpr failure in blackbox testing"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to debug the problem,

[2020-10-06 05:30] tejaskumark commented on #24194
Hi Experts, Can someone please help me with this ?

[2020-10-06 06:53] procodr commented on #24266
Same here, the **no single file** publishing output is OK:
`dotnet publish -r win-x64 --self-contained true`
But when running **single file** published output that produced with this command:
`dotnet publish -r win-x64 -p:PublishSingleFile=true --self-contained true`
the error will occure.

Note that publishing with enabling **ReadyToRun compilation** and **Trim unused assemblies** is OK too.

[2020-10-06 09:48] maksatmeredovcusat opened #24331 "Trouble building PHP after "make install" in C-core has been deprecated."
I want to install gRPC to ubuntu 16.04 for PHP. I followed the Google Cloud [documentation](https://cloud.google.com/php/grpc#build-from-source)

When I run this command:
**`sudo make install`**

I am getting this error:

**> Installing via 'make' is no longer supported. Use cmake or bazel instead. Please consult BUILDING.md to get more information**

How can I use `cmake ` or `bazel ` to install?

[2020-10-06 10:58] keter-s opened #24332 "grpc on windows generates warning C4244"
### What version of gRPC and what language are you using?
1.30.2

### What operating system (Linux, Windows,...) and version?
Windows Server 2012R2

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS2017

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enou

[2020-10-06 11:53] mwasowski commented on #13447
This is something I'm interested as well. I am researching migration paths for an old .NET Remoting project and since WCF was my go to for a while and now it is not going to be ported to .NET 5..I need options :) This looks promising.

[2020-10-06 12:10] jtattermusch commented on #24273
Are you using a grpc-dotnet server (ASP.NET core based) or Grpc.Core based server?

Have you tried extra logging by enabling GRPC_VERBOSITY and GRPC_TRACE?
https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

Also the behavior you're describing is quite odd, since we have unit tests that should cover this - it would be best if you could provide a ready-to-run reproduction (ideally as a git

[2020-10-06 13:47] jtattermusch commented on #23622
Should be fixed by #23391.

[2020-10-06 13:47] #23622 closed

[2020-10-06 14:25] jtattermusch opened #24333 "PHP7 distribtest broken on master (failure to pull docker image)"
It's been failing for the past ~ 2days.

Failure link:
https://source.cloud.google.com/results/invocations/9a1eeae4-c3ce-4c50-b0fb-3a33856aaede/targets/github%2Fgrpc/tests;group=tasks;test=distribtest.php7_linux_x64_stretch;row=1

Looks like something is wrong with pulling the php7_stretch_x64 image.

I am able to reproduce locally by running:
[code]

[2020-10-06 14:26] jtattermusch commented on #24333
Likely caused by https://github.com/grpc/grpc/pull/24311/files?

[2020-10-06 14:38] jtattermusch commented on #24333
Not being able to pull the dockerimage seemed odd, so I  have rebuilt the docker image locally and force-pushed it to dockerhub. Let's see if that fixes the issue.

[2020-10-06 15:53] jtattermusch commented on #24333
After I force-pushed the image grpctesting/php7_stretch_x64:8ad39eea13c72af84c0ddd1a265edbce260cf363, the last build is green https://source.cloud.google.com/results/invocations/c9b79568-aa5c-42ba-ad31-6517df9c28a9/targets/github%2Fgrpc/tests

I will wait for a few more green builds before I mark this as fixed.

[2020-10-06 16:55] veblush commented on #24333
This is interesting because @stanley-cheung pushed the new image and the build became green since then for a while but somehow it started to miss it.

[2020-10-06 17:11] jtattermusch commented on #24333
Yeah I agree it's weird. Somehow the existing image went missing or corrupt.

[2020-10-06 18:05] stanley-cheung commented on #24333
Yea this is weird. I did run the `tools/dockerfile/push_testing_images.sh` script to build the image locally and push to docker hub, in fact twice. First time because I forgot to run it and the build failed with this error
[code]

Note that it says "repository does not exist", not "error pulling image configuration: unknown blob". It wouldn't even get to these lines
[code]

After my first run of `

[2020-10-06 19:18] yashykt commented on #19898
seen again - https://source.cloud.google.com/results/invocations/8b0688a2-7197-46c7-b55d-42ee8200a945/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[2020-10-06 19:45] stanley-cheung commented on #24331
As mentioned in that error message itself you posted, have you tried https://github.com/grpc/grpc/blob/master/BUILDING.md#build-from-source?

[2020-10-06 20:07] markdroth commented on #24061
Similar failure seen in //test/core/end2end:h2_full_nosec_test@keepalive_timeout[darwin-dbg].

https://source.cloud.google.com/results/invocations/0b76d9ca-3097-4a4f-9fff-45b4de82ae27/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_full_nosec_test@keepalive_timeout/log

[code]

[2020-10-06 20:40] yulin-liang commented on #24182
No support from Cronet team, so we don't have a plan to implement this feature for now.

[2020-10-06 20:40] #24182 closed

[2020-10-06 20:49] murgatroid99 opened #24339 "I think one of the OpenSSL version checks in ssl_transport_security.cc is incorrect"
This section checks `OPENSSL_API_COMPAT`: https://github.com/grpc/grpc/blob/85337d69c2439eba90a4b8985402c78ef84754b8/src/core/tsi/ssl_transport_security.cc#L165-L171

while right after that there is a different check against `OPENSSL_VERSION_NUMBER`: https://github.com/grpc/grpc/blob/85337d69c2439eba90a4b8985402c78ef84754b8/src/core/tsi/ssl_transport_security.cc#L172

I think the first check is in

[2020-10-06 21:08] markdroth commented on #24339
Jiangtao, please reassign as appropriate within your team.  Thanks!

[2020-10-06 21:56] jiangtaoli2016 commented on #24339
@murgatroid99 Thanks, I agree it should be OPENSSL_VERSION_NUMBER in line 165.  A fix PR shortly.

[2020-10-06 22:15] crwilcox opened #24344 "Publish Python 3.9 Wheel for grpcio."
Python 3.9 has been released, but grpcio is not yet published with a 3.9 wheel.

[2020-10-06 23:30] mattsplats commented on #23373
@nicolasnoble Seems like this would work:
- Add an arm64 build to the existing `.travis.yml` to run on new commits to `master`
- Run [submit.py](https://github.com/grpc/grpc/blob/master/tools/distrib/python/submit.py) with the output wheel

You'd just need to add the twine username and password to the Travis environment variables.

Any objections? There seem to be [a lot of open issues and thumbs

[2020-10-07 04:35] apolcyn commented on #24232
A packet trace on the DNS server port may help to give some insight here.

For example, if you could run the client and sniff all UDP and TCP traffic with source and/or destination port 53, then we could see the which DNS queries are being sent and when, and which DNS responses are being received and when. That may give insight to e.g. possible unavailability of the nearby DNS server.

Also, it lo

[2020-10-07 10:45] Jumziey opened #24351 "Generated mock only mocks Async<>Raw methods which are declared private"
### What version of gRPC and what language are you using?
3.12.4, cpp

### What operating system (Linux, Windows,...) and version?
Arch Linux, Linux 5.18.12

### What runtime / compiler are you using (e.g. python version or version of gcc)
protoc (libprotoc 3.12.4)

### What did you do?
protoc -I "$proto_root" --grpc_out=generate_mock_code=true:"$proto_root" --plugin=protoc-gen-grpc="$(which grpc_

[2020-10-07 12:45] #24134 closed

[2020-10-07 14:19] jtattermusch commented on #24333
All the recent builds are passing. Closing as fixed.

[2020-10-07 14:19] #24333 closed

[2020-10-07 20:43] veblush opened #24359 "Porting tooling python code to Python3"
As Python2 hit EOL, we need to port our tooling script to run on Python3. This can be done by either making code portable on both or supporting it on Python3 only. This needs to be done because all infrastructures are moving forward to support Python3 only. Recent one is Kokoro MacOS/Catalina which installed Python3.8 as a default Python for users. ([log](https://sponge.corp.google.com/target?id=8

[2020-10-07 20:59] gnossen commented on #24359
I actually tried this while working on something else my first month on the team. I gave up after spending about five hours on it. I think this is probably a couple of solid days of effort and it's likely that there will be subsequent clean-up work since there are no compile errors for mistakes and not all workflows are run all the time.

[2020-10-08 06:16] jtattermusch commented on #24331
The instructions how to build PHP from source are here: https://github.com/grpc/grpc/tree/master/src/php#build-from-source. If they don't work for you, please let us know which exact command you've run and what was the result.

[2020-10-08 06:17] jtattermusch commented on #24331
For now, there's no evidence that anything is broken, so I'm going to close and we can reopen if more info is provided.

[2020-10-08 06:21] jtattermusch commented on #24331
Ok, I just realized that the documentation you are following is out of date: https://cloud.google.com/php/grpc#build-from-source

The instructions were updated here https://github.com/grpc/grpc/tree/master/src/php#build-from-source, but the cloud.google.com documentation needs to be updated as well.

Stanley, can you please take care of updating the docs?

[2020-10-08 08:11] kirualex opened #24366 "iOS build : 'absl/base/options.h' file not found"
### What version of gRPC and what language are you using?
1.32.2

### What operating system (Linux, Windows,...) and version?
MacOS (for iOS development)

### What runtime / compiler are you using (e.g. python version or version of gcc)
--

### What did you do?
build for release

### What did you expect to see?
success build

### What did you see instead?
Pods/abseil/absl/base/config.h:66:10: 'abs

[2020-10-08 10:15] MaximGurschi opened #24368 "(c#) Self allocation of Service input dtos"
Hi team,

Is there a way for me to inject some code that would allow me to manage allocation of input dtos myself?

Say the C# service methods look like:
public override Task UniClientStreamServer(**MyDto** request,
            IServerStreamWriter<Response> responseStream,
            ServerCallContext context)

public override async Task Bidi(IAsyncStreamReader<**MyDto**> requestStream,

[2020-10-08 14:00] kapilt opened #24369 "python publish arm64/v8 wheels"
Currently grpcio python packages only have arm v7 wheels, given most server architectures are now using v8, it would be good to publish wheels matching that to avoid the lengthy compilation process for grpc.

[2020-10-08 17:24] veblush commented on #24359
It'd be good if we can make this done this year since PIP keeps saying this ;)

[2020-10-08 21:13] wchargin opened #24374 "grpc_cli should accept responses larger than 4 MiB"
### Is your feature request related to a problem? Please describe.

I use `grpc_cli` to get rough profiling data on RPCs. For instance, I’m
using a Python gRPC client with a Go gRPC server. On the Python side,
the call takes 12.5 seconds. But the same call with `grpc_cli` takes
just 0.7 seconds. This tells me that a lot of time is spent in Python
overhead, even if the exact numbers aren’t precise.

[2020-10-08 21:14] karthikravis opened #24375 "Interop Cloud-to-Prod Tests (internal CI) fails"
https://source.cloud.google.com/results/invocations/68684dd4-c8d4-4615-8506-2ea6c7ad74ac/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

2020-10-08 14:06:56,925 WAITING: ETA 23.9 sec; 106 queued, 12 jobs running, 376 complete, 0 failed (load 12.00) next: cloud_to_prod_auth:dart:default:compute_engine_creds:tls @ 1.00 cpu
2020-10-08 14:06:57,179 /var/local/git/grpc-node/test/i

[2020-10-09 01:06] kep-w commented on #24260
hi, I try the environment variable GRPC_ENABLE_FORK_SUPPORT=true, but got a new error:
ValueError: Cannot invoke RPC on closed channel!

[2020-10-09 13:54] XiaokangLiuCUG commented on #23340
anyone solve this prbolem? I have got the same issue

[2020-10-09 18:20] mattsplats commented on #24369
Duplicates https://github.com/grpc/grpc/issues/23373

[2020-10-09 18:22] mattsplats commented on #23373
@odidev Might want to add arm64 to the title so more people see (and don't duplicate) this ticket: https://github.com/grpc/grpc/issues/24369

[2020-10-09 22:35] codeblooded commented on #24036
Yes, other projects are experiencing problems with relative image paths in markdown: doxygen/doxygen#6783.

[2020-10-09 22:39] codeblooded commented on #24036
I will play with the doxygen config on Monday. If I cannot get it to work, I can open a PR that converts all images to absolute paths while we wait for doxygen to address this issue.

[2020-10-10 05:41] neyugnluan commented on #19172
[path]]MTOUCH: Error MT5201: Native linking failed. Please review the build log and the user flags provided to gcc: -L/[user path MAC OS]/.nuget/packages/grpc.core/2.31.0/build/Xamarin.iOS10/../../native/ios/universal -lgrpc_csharp_ext -force_load /[user path MAC OS]/.nuget/packages/grpc.core/2.31.0/build/Xamarin.iOS10/../../native/ios/universal/libgrpc_csharp_ext.a -L/[user path MAC OS]/.nuget/pa

[2020-10-11 03:07] karthikravis commented on #24375
Hey Michael, would you happen to know about interop_client.js?

[2020-10-11 10:23] tonholis opened #24388 "Running the C++ server example in a Docker container"
Hello there,

Wouldn't be better to use `[::]:<port>` in the example?

https://github.com/grpc/grpc/blob/cead9d99b3dc3c79ca64a762457590f5a80c5459/examples/cpp/helloworld/greeter_server.cc#L52

From API Reference:
_The address to try to bind to the server in URI form. If the scheme name is omitted, "dns:///" is assumed. To bind to any address, please use IPv6 any, i.e., [::]:<port>, which also acce

[2020-10-11 19:55] sahilsharma011 opened #24390 "Pip install failing while running setup.py install for grpcio"
### What version of gRPC and what language are you using?
It is getting installed with my pip requirements. I don't know which package has this as a dependency. Here is my requirements.txt
[code]

### What operating system (Linux, Windows,...) and version?
MacOS Catalina 10.15.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6.12

### What did you do?
R

[2020-10-12 01:51] wylazy commented on #24181
@yashykt help

[2020-10-12 09:05] jtattermusch commented on #13856
Looks like this might have been fixed by this change: https://github.com/grpc/grpc/pull/24247/files#diff-dd49c38c34f9401e10f1921931d6c121R211?

We are now using C++11 TLS on mac, and the problem we were experiencing under bazel was only for GCC_TLS.

[2020-10-12 09:09] #23325 closed

[2020-10-12 09:09] #23339 closed

[2020-10-12 14:37] Armmegon opened #24393 "Documentation example about C++ Asynchronous Streaming RPC"
Hello,

as of version 1.32 there is no example about Async C++ Server handling streams in any form.

There is no example about client/server or bidi streams with C++ async server.

Is it possible to include such example in the docs as my research shows a lot of people searching about that and nobody answers that call?

Thank you.

[2020-10-12 20:09] lidizheng commented on #24281
Fixed by https://github.com/grpc/grpc/pull/24341 and #24289

[2020-10-12 20:09] #24281 closed

[2020-10-12 20:43] ZhenLian commented on #24238
I think the proposed grpc/proposal#205 couldn't support TLS-PSK mode.
@jiangtaoli2016 do we support TLS-PSK in current gRPC stack? If not, supporting it in gRPC would be a non-trivial amount of effort: we need to design the API, pass it down and finally to the appropriate OpenSSL lib.
For now I would suggest to use TLS with certs, or take the alternative to use the proxy.

[2020-10-12 21:07] stanley-cheung commented on #24175
Done in #24234

[2020-10-12 21:07] #24175 closed

[2020-10-12 21:07] stanley-cheung commented on #18916
This should be fixed with #23994 in release 1.33.

[2020-10-12 21:07] #18916 closed

[2020-10-12 21:12] stanley-cheung commented on #23645
This issue is completed. We have achieved the goals of 1. removing testing against PHP 5 in our tests (switched to testing against PHP 7 exclusively) and 2. removing PHP 5 support from the PECL extension.

[2020-10-12 21:15] jiangtaoli2016 commented on #24238
We do not support TLS-PSK in grpc core now. We do support session resumption in gRPC core and wrapped languages.

[2020-10-12 23:08] yashykt commented on #24181
Hi @wylazy, since I've had trouble reproducing the issue locally in the past, it might be worth to try out some things on your environment -

1) Please add keepalive options to the channel and the server. For more information - https://github.com/grpc/grpc/blob/master/doc/keepalive.md. A decent configuration to try would be - GRPC_ARG_KEEPALIVE_TIME_MS to 20 seconds, GRPC_ARG_KEEPALIVE_TIMEOUT_MS

[2020-10-13 05:01] aradyaron opened #24401 "exporting in a Channel style manner to a local file"
I would like, for easy usage, testing, usage, and without any code changes, be able to export data to a local json (or another convention) file, instead to a server. my program will be deployed in a remote computer, and the I need to recieve the data in a file form, as they can't have a server on their side, so I'll and be able to load it in a "lazy manner".

### Is your feature request related to

[2020-10-13 10:46] Dlougach commented on #20208
@jtattermusch Can you please clarify, how is grpc++_test installable with CMake? I don't think that CMake currently installs any headers from `test/`

[2020-10-13 12:19] hannesvoss commented on #24390
It's firebase-admin. I get the same issue on Windows x64 with firebase-admin==4.4.0. Let's wait for a fix 😟

[2020-10-13 12:55] gmcchessney commented on #22555
I'm having the same problem in version 1.32. I'm using c# with .net framework 4.7.1.
The crash seems to be related to the connection being lost to the gRPC server machine. I haven't been able to replicate it with any GRPC_TRACE information yet.

Attached is the stack trace. It's very similar to the one in the original question.

[gRPC Disconnect Crash Stack Trace.txt](https://github.com/grpc/grpc/

[2020-10-13 13:31] Issaaaaaaaaam commented on #23452
hi, @sertoa812  I wanted to know if you could tell me how did you solve your problem I have the exact same issue and I am new to linux. Thanks alot

[2020-10-13 18:00] jtattermusch commented on #23618
I am able to reproduce this with the updated version of https://github.com/yabli/grpcTest1. Not sure about the root cause yet though.

[2020-10-13 18:45] Arrefelt commented on #24232
Thank you for looking into this!

I was actually not able to overcome this issue at all and due to features needing to be published asap I chose to migrate the API to .NET Core where I knew it would work. It now works fine with grpc-dotnet in my case since there is no dependency to grpc_ares_ev_driver_windows.

Because of this I'm also no longer able to reproduce this error and it can be closed if

[2020-10-13 20:01] gnossen opened #24404 "//test/cpp/end2end:async_end2end_test@poller=epoll1 Timeout"
https://source.cloud.google.com/results/invocations/c4af1591-48d6-4acc-ae8e-2bc0c34ba304/log

[2020-10-13 20:02] #22431 closed

[2020-10-13 23:44] #24232 closed

[2020-10-14 02:38] dtyctrl opened #24410 "How to add metadata to nodejs header without using SSL？"
`var channelCredentials = grpc.credentials.createSsl();`
`var credentials = grpc.credentials.createFromMetadataGenerator(generateMetadata);`
 `var client = new services.AsrServiceClient('0.0.0.1:8051', grpc.credentials.combineChannelCredentials(channelCredentials, credentials));`

I have to use SSL add metadata to nodejs header.
How to add metadata to nodejs header without using SSL？

[2020-10-14 09:13] hijerusalem commented on #23514
+1

[2020-10-14 12:18] essandess opened #24412 "Undefined symbols on macOS with -DBUILD_SHARED_LIBS"
**Describe the bug**

I'm trying to update the MacPorts port of `grpc` with a `cmake` build that uses `cmake` and includes shared libraries.

I'm following the instructions **[gRPC C++ - Building from source](https://github.com/grpc/grpc/blob/master/BUILDING.md)**.

This is possibly an upstream issue with abseil. See:
* https://github.com/abseil/abseil-cpp/issues/816

When I pass `-DBUILD_SHARED_L

[2020-10-14 12:21] jtattermusch commented on #23618
After updating the <TargetFramework> to `<TargetFramework>netcoreapp3.0</TargetFramework>`, I can also reproduce the `/var/local/git/grpc/src/core/lib/gpr/sync.cc:105: assertion failed: prior > 0` behavior on linux and macos as well, which will hopefully make fixing easier.

[2020-10-14 17:26] lidizheng commented on #24390
The error is caused by the OPENSSL symbol conflicts with the built-in BoringSSL symbols. You can set `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true` and build again.

But, it seems you just want to install gRPC Python, which should not require building from source. We do provide pre-compiled binary wheels for macOS. It's possible that you are taking a very old version of gRPC Python as dependency. Can you

[2020-10-14 17:27] lidizheng commented on #24390
@hannesvoss Installation errors can be caused by many things. If possible, please try to file another issue.

[2020-10-14 17:29] lidizheng commented on #24369
Duplicated, closing. Please forward discussion to #23373

[2020-10-14 17:29] #24369 closed

[2020-10-14 18:33] JoaoPinheiro commented on #17995
I just ran into this issue as well, either due to a space or the 'ã' character in my name from the windows user folder.

[2020-10-14 19:17] sahilsharma011 commented on #24390
Thank you @lidizheng. As you mentioned this error was due to some dependency installing an older version of grpcio.
I just installed the latest version of grpcio in my virtualenv before running `pip install -r requirements.txt` and everything installed perfectly after that.
I am now closing this issue.

[2020-10-14 19:17] #24390 closed

[2020-10-14 20:07] donnadionne commented on #24410
Please direct general question like this one to https://stackoverflow.com/search?tab=newest&q=grpc%20is%3aquestion

Your answer may already be there or you can post a new question if it's not.

[2020-10-14 20:07] #24410 closed

[2020-10-14 20:20] yulin-liang commented on #24366
Can you try to run `pod install` after removing `Pods/` `project.xcworkspace` and `Podfile.lock`, and see if you find `Pods/abseil/absl/base/options.h`.

[2020-10-14 20:24] veblush commented on #24412
@essandess Thanks for the issue. We're going to be able to fix the problem once Abseil fix this and release a new LTS version.

[2020-10-14 20:36] gitfool commented on #22682
Digging into the details, I see [CodedInputStream.ReadMessage](https://github.com/protocolbuffers/protobuf/blob/fde7cf7358ec7cd69e8db9be4f1fa6a5c431386a/csharp/src/Google.Protobuf/CodedInputStream.cs#L430-L448) calls [ParsingPrimitivesMessages.ReadMessage](https://github.com/protocolbuffers/protobuf/blob/fde7cf7358ec7cd69e8db9be4f1fa6a5c431386a/csharp/src/Google.Protobuf/ParsingPrimitivesMessages.

[2020-10-15 06:29] jheaff1 commented on #20208
I too would very much like the mock_stream.h file available as part of the Cmake install

[2020-10-15 07:56] JinsPeter commented on #21474
Has anybody been able to skip SSL Validation?

[2020-10-15 08:12] mm-fee opened #24421 "Unobserved task exception when server is not reachable"
### What version of gRPC and what language are you using?
Grpc 2.32.0, Google.Protobuf 3.13.0, C# 7.3

### What operating system (Linux, Windows,...) and version?
Windows 10 x64 2004

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core SDK 3.1.403

### What did you do?
I created a new program just consisting of this one class and the proto file below.
[code]

[2020-10-15 09:11] jtattermusch commented on #24368
Please only post bugs / feature requests as github issue (btw the issue template clearly mentions that).

To respond to the question:
In gRPC C#, you have the ability to use custom marshallers (see https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core.Api/Marshaller.cs) and use them to override the serialization /deserialization logic. Of course doing so is a bit advanced topic (and we jus

[2020-10-15 09:11] #24368 closed

[2020-10-15 10:59] togis123 opened #24422 "Infinite loop observed inside grpc_tracer_init() function"
### What version of gRPC and what language are you using?
grpc version 1.32.0 and language C++

### What operating system (Linux, Windows,...) and version?
 Linux R2 4.8.28

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.9.1

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce

[2020-10-15 13:41] MaximGurschi commented on #24368
@jtattermusch Thank you! Can you please confirm if one can mix using the Marshaller for some web methods and standard protobuf for others (within the same service)?

[2020-10-15 14:13] pahjbo opened #24424 "Reflection fails for service with several layer namespaces"
### What version of gRPC and what language are you using?
1.32.0 C++

### What operating system (Linux, Windows,...) and version?
MacOS 10.15.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Apple clang version 12.0.0 (clang-1200.0.32.2)

### What did you do?
Created a service with a multi layered namespace, where the messages and the rpc share a common root nam

[2020-10-15 16:43] jtattermusch commented on #24368
With custom marshaller you pretty much control the entire serialization/deserialization, so it's mostly up to you which behavior decide to implement (but then of course if you implement something that's messy, you only have yourself to blame :-) ) So in general, the answer is yet, but note that this wouldn't give you "plain" http2 request anyway as gRPC will add its framing (e.g. message is prepen

[2020-10-15 17:45] DevNMY opened #24427 "Unity crash-hangs on Play mode exit after gRPC client ends/interrupts/cancels streams."
### What version of gRPC and what language are you using?

2.26.0 (out of the box)
2.34.0-dev daily build 5f8415c6-52f3-4b34-ade8-2acdb0b233d6 (https://packages.grpc.io/archive/2020/10/776cf3bc697e01e8f8386fe29c062603005c0d5e-5f8415c6-52f3-4b34-ade8-2acdb0b233d6/csharp/grpc_unity_package.2.34.0-dev.zip hacked with https://github.com/grpc/grpc/issues/22251#issuecomment-643416851 due to the issue de

[2020-10-15 18:45] lidizheng opened #24429 "[FLAKE] csharp.Grpc.Core.Tests.CompressionTest on Windows"
https://source.cloud.google.com/results/invocations/13a44615-bb28-41bb-b82b-ba7595bd2d44/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_opt_native_default_coreclr%2Fcsharp.Grpc.Core.Tests.CompressionTest/tests

[2020-10-15 22:31] ToucanBran opened #24432 "Import "google/protobuf/wrappers.proto" was not found or had errors. Compiling from gprcio-tools."
### What version of gRPC and what language are you using?
Language: python 3.7.9
Packages: grpcio 1.32.0, grpcio-tools 1.32.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
grpc-tools 1.32.0

### What did you do?
I have the following proto file in my protos directory which looks like this
[c

[2020-10-16 08:27] Mizux opened #24438 "[CMake] not working with the last abseil-cpp release (20200923)"
Currently grpc cmake-config or pkg-config file won't work with the last version of abseil since you depend on target `dynamic_annotation` which has been remove in `20200923`
https://github.com/grpc/grpc/blob/4645da201ae2c7d0b15fe56d86b41354fa4af0ca/CMakeLists.txt#L123

Abseil no longer contains a `dynamic_annotations` library. Users
using a supported build system (Bazel or CMake) are unaffected by

[2020-10-16 08:31] Mizux commented on #24438
Concerning bazel build, it's a pain to figure out that you still use 20200225 since you don't even have a comment specifying which version you are using...
https://github.com/grpc/grpc/blob/4645da201ae2c7d0b15fe56d86b41354fa4af0ca/bazel/grpc_deps.bzl#L239-L248

Please take a look of what we have done for Google OR-Tools:
[code]
note: 20200923.1 is out, the commit shat1 is from github
see: https://

[2020-10-16 09:10] Mizux commented on #24438
to remove also here:
https://github.com/grpc/grpc/blob/4645da201ae2c7d0b15fe56d86b41354fa4af0ca/CMakeLists.txt#L15909-L15916

end of line 15914...

[2020-10-16 10:16] andreea-asavoaei opened #24439 "Limit of RPCs per service"
**What version of gRPC and what language are you using?**
gRPC: 1.31.1 (on Ubuntu 16.04)
Protoc version: 3.12.2 (on Ubuntu 16.04)
Languages: python 3.7.4 (client), C++ (server)
Packages: grpcio 1.31.0, grpcio-tools 1.31.0

**What operating system (Linux, Windows,...) and version?**
Ubuntu 16.04 - for building the server side
Windows 10 (client) - for building and running the client side
Linux ARM3

[2020-10-16 11:13] MaximGurschi commented on #24368
Sorry to drag this on, but i just want to clarify this:

The question is - this stream of bytes that i will receive in the Marshaller instance it will be the original bytes (non https encrypted) with length prefixes as the only injected additional bytes? Nothing more than that?

In any case i think i would want to use the DeserializationContext API of the Marshaller so that i can get at the ReadOn

[2020-10-16 11:58] jtattermusch commented on #24368
Marshaller will receive the bytes as in "Message" from https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md (see `Length-Prefixed-Message → Compressed-Flag Message-Length Message`)

[2020-10-16 11:59] togis123 commented on #24422
Any updates please?

[2020-10-16 12:19] heinemml commented on #21474
sadly no. But to be honest I didn't check for some time now. We are currently sticking with our "old" non-grpc solution where we can work with self-signed certs.

[2020-10-16 14:01] dfluff commented on #22108
I have just been through what feels like the exact same issue.  The documentation now states `git clone -b v1.32.0 https://github.com/grpc/grpc` rather than v1.27.0, but from there the `make grpc_php_plugin` failed and even when I wrongly thought I'd worked around that issue running `route_guide_proto_gen.sh` generated all the files except the `RouteGuide\RouteGuideClient` file.  Since I'm very ne

[2020-10-16 14:46] #24439 closed

[2020-10-16 14:55] andreea-asavoaei commented on #24439
Update: I managed to run the same example on Ubuntu 20.04 so it was confirmed that there's no limit for RPCs in a service. It is probably caused by the cross-compilation process and I will investigate furthermore, but I closed the issue as my question was answered implicitly.

[2020-10-16 16:23] markdroth opened #24442 "FLAKE: tests.cloud_to_cloud:go:dart_server:timeout_on_sleeping_server:tls"
https://source.cloud.google.com/results/invocations/27d018a1-6f16-41b9-99d0-cade385ed927/targets/github%2Fgrpc%2Finterop_test/tests

[code]

[2020-10-16 19:47] stanley-cheung opened #24451 "PHP: test involving fork() hangs"
Run `./src/php/bin/build_all_docker_images.sh php-src fork-support` first, then `./src/php/bin/run_all_docker_images.sh php-src fork-support`. It hangs at

[code]

It seems that we didn't even get to the child process because the script is not printing `child exiting...`. https://github.com/grpc/grpc/blob/master/src/php/docker/fork-support/fork.php#L31

I am pretty sure this does not hang when 1.3

[2020-10-16 20:27] ToucanBran commented on #24432
one other note. If I try to compile using the console:

[code]
It works. However, I'd like to use the protoc.main function from grpc_tools in python code so it can do it at runtime.

[2020-10-16 20:34] gnossen commented on #24432
You're definitely off the beaten path here. What you're missing is [an include path](https://github.com/grpc/grpc/blob/master/tools/distrib/python/grpcio_tools/grpc_tools/protoc.py#L170) that the command line invocation adds for you. We package the well-known protos in the `grpcio-tools` package and automatically add them for you:

[code]

[2020-10-16 20:38] ToucanBran commented on #24432
@gnossen I copied the code directly from https://github.com/grpc/grpc/blob/v1.32.0/examples/python/route_guide/run_codegen.py

Which part am I missing in the protoc.main code?

[2020-10-16 20:41] gnossen commented on #24432
Interesting. I missed that detail. In that case, this is a bug, which you should be able to work around for the moment by adding the directory I mentioned above with `sys.path.append(path)`. I'll make a patch for the fix.

[2020-10-16 22:25] ToucanBran opened #24457 "Have Python grpc load well-known protos when using grpc.protos or grpc.services"
### Is your feature request related to a problem? Please describe.
Yes, this is somewhat related to https://github.com/grpc/grpc/issues/24432 . I have a proto that imports google's wrapper.proto but running the given code:

[code]
with this proto
[code]
I receive an error like this:

[code]
### Describe the solution you'd like
I'd like to be to run code above using with a proto that imports well-k

[2020-10-16 22:36] gnossen opened #24458 "Objective C CallAPIv2Tests testMetadata Flake"
[code]

[2020-10-16 22:52] gitfool commented on #22682
@mikhailshilkov Pulumi should fork this repo and remove the recursion limit in the meantime, otherwise dotnet support is hosed.

[2020-10-16 23:14] larsonmpdx commented on #21902
I'm not using grpc for dll IPC anymore but I had to use this hack with something else and I was reminded of this thread.  This would probably work for grpc: you either call loadlibrary() on yourself to increment your dll's reference count or use the flag GET_MODULE_HANDLE_EX_FLAG_PIN.  Then it doesn't get unloaded until the program exits, and if it crashes then, who cares?

https://blogs.msmvps.co

[2020-10-16 23:32] stanley-cheung commented on #24451
Apparently we can run the `fork-support` docker image just fine, completely and successfully with docker `19.03.8` in two separate machines. So this could be a docker `19.03.12` issue.

[2020-10-17 05:04] procodr commented on #24266
Same bug in **dotnet 5.0 rc-2**

[2020-10-18 00:31] gitfool commented on #24153
This issue is due to breaking change [FrameworkDescription's value is .NET instead of .NET Core](https://docs.microsoft.com/en-us/dotnet/core/compatibility/corefx#frameworkdescriptions-value-is-net-instead-of-net-core) in .NET 5.0. I have a fix but I've [asked for feedback](https://github.com/dotnet/runtime/issues/12124#issuecomment-711090459) to make sure I'm not missing something.

***

@angwang

[2020-10-18 05:49] gitfool commented on #24266
@angwangiot and I are also seeing this. See my comments with some background info in https://github.com/grpc/grpc/issues/24153#issuecomment-711098455.

[2020-10-19 00:14] angwangiot commented on #24153
Judging from the current.NET Core documentation, there may be a need for different processing depending on the version and release parameters.
@gitfool

[2020-10-19 04:02] 1yc opened #24465 "make: "clang: Command not found" when building under UnrealEngine"
### What version of gRPC and what language are you using?
latest version

### What operating system (Linux, Windows,...) and version?
**Windows Subsystem Linux**

### What runtime / compiler are you using (e.g. python version or version of gcc)
terminal

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If

[2020-10-19 06:43] togis123 commented on #24422
Any updates please?

[2020-10-19 07:59] YunSeongKim7 opened #24466 "module error in Python hellowold example async_greeter - AttributeError: module 'grpc' has no attribute 'aio'"
### What version of gRPC and what language are you using?
latest 1.33x version as well as master branch version

### What operating system (Linux, Windows,...) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

Terminal:
windows 10 Powershell

Package:
Python 3.8.3
pip 20.2.4
grpcio==1.32.0
grpcio-tools==1.32.0
asyncio==3.4.3

### What did

[2020-10-19 08:00] #24466 closed

[2020-10-19 08:02] paranblues opened #24467 "module error in Python hellowold example async_greeter - AttributeError: module 'grpc' has no attribute 'aio'"
### What version of gRPC and what language are you using?
latest 1.33x version as well as master branch version

### What operating system (Linux, Windows,...) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

Terminal:
windows 10 Powershell

Package:
Python 3.8.3
pip 20.2.4
grpcio==1.32.0
grpcio-tools==1.32.0
asyncio==3.4.3

### What did

[2020-10-19 08:26] ping-localhost opened #24469 "Odd assertion error since v1.30"
### What version of gRPC and what language are you using?
This bug occurs in v1.30 and up

### What operating system (Linux, Windows,...) and version?
- MacOS Catalina 10.15.7 (local machine running client)
- Ubuntu bionic (when project is deployed using v1.30)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Unrelated.

### What did you do?
I'm having a pretty od

[2020-10-19 09:01] paranblues commented on #24467
@gnossen

[2020-10-19 09:01] paranblues commented on #24467
/lm add, lang/Python

[2020-10-19 10:34] jskeet commented on #24421
I've reproduced this with a simpler piece of code:

[code]

Program.cs:

[code]

Run with `dotnet run -c Release`. Output:

[code]

[2020-10-19 13:16] vivainio commented on #21406
@YanlongLi that wouldn't help. Problems is you don't have direct dependency to grpc and that's why your app.config is missing the binding redirects

[2020-10-19 13:57] jdavidpeter commented on #24422
We have a very similar issue here.

**What version of gRPC and what language are you using?**
Both grpc version 1.32.0 and 1.30.2 and language C++

**What operating system (Linux, Windows,...) and version?**
Red Hat Enterprise Linux Server release 7.9 (Maipo)

**What runtime / compiler are you using (e.g. python version or version of gcc)**
RedHat devtoolset 9, gcc 9.3.1
libstdc++.so.6.0.19

**Wha

[2020-10-19 14:48] djanku opened #24470 "Cannot set custom data to `_ServiceContext` in aio grpc server interceptor"
Hi! Recently I've switched to aio version of grpc and started rewriting our code. I came across a problem with server interceptors: it's impossible to add any kind of information to passed context! We use context for opentracing context e.g. After income metadata is processed we set `span` attribute to context in interceptor handler:
`context.span = span`
But it doesn't work anymore. Even `setattr

[2020-10-19 16:51] timhughes commented on #24467
It looks like you are not using the latest code. The aio code was recently moved out of experimental so things have been moved around a bit. This has been fixed in the latest master branch of grpc. There hasn't been a release yet so you will need to build from master or use your changes for the time being until there is a new release made (will be v1.33.0)

The tests for importing are here that ch

[2020-10-19 16:52] easwars commented on #24442
The test case which failed expects that the server does not respond within the stipulated time. The client is in `Go`, while the server in `dart`. There doesn't seem to be enough information in the logs about why the server did not timeout. Essentially, the client got a successful response and hence the test failed.

[2020-10-19 17:24] lidizheng commented on #24467
There will be a new release (v1.33.0) soon (hopefully, tomorrow). The Async IO module needed to be imported explicitly as `from grpc import aio` before. But as @timhughes mentioned, this behavior was changed in relevant PRs.

[2020-10-19 18:24] yulin-liang commented on #24438
Looks like it's related to abseil-cpp. @veblush, can you help take a look?

[2020-10-19 19:15] devjgm opened #24476 "gRPC package in opensuse/tumbleweed installs broken Abseil"
The latest gRPC 1.32.0 package provided by opensuse/tumbleweed doesn't work and broke the https://github.com/googleapis/google-cloud-cpp build, but I believe it will break anyone who uses gRPC and Abseil. See https://github.com/googleapis/google-cloud-cpp/issues/5277 for more details.

## SUMMARY

The opensuse/tumbleweed Docker image was updated a few days ago. The updated image contains a zypper

[2020-10-19 19:40] markdroth commented on #24339
Looks like this is resolved now.  Please reopen if that's not the case.

[2020-10-19 19:40] #24339 closed

[2020-10-19 19:46] markdroth commented on #24165
This form is for bugs and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-10-19 19:46] #24165 closed

[2020-10-19 19:46] karthikravis commented on #24332
Hey Nico - would you be the right person for this issue?

[2020-10-19 19:47] karthikravis commented on #24327
Not enough information about the issue. Please re-open/refile with more information.

[2020-10-19 19:47] #24327 closed

[2020-10-19 19:48] markdroth commented on #24166
Seems like this is not being actively worked on at the moment, so I'm going to close it.  Feel free to file a new issue if you need something else.

[2020-10-19 19:48] #24166 closed

[2020-10-19 19:48] karthikravis commented on #24325
Hey Richard - can you please take a look? thanks!

[2020-10-19 19:50] markdroth commented on #24179
This form is for reporting bugs and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-10-19 19:50] #24179 closed

[2020-10-19 19:57] markdroth commented on #24206
I suspect the Windows code is failing to explicitly set the gRPC status code when it returns an error, so it's winding up UNKNOWN instead of UNAVAILABLE.  @nicolasnoble, can you please take a look?  Thanks!

[2020-10-19 20:04] jiangtaoli2016 commented on #24196
@markdroth It looks like connection issue, rather security issue. It fails at security handshake, but due to failure to read handshake data from peer.

[code]

[2020-10-19 20:05] gnossen commented on #24457
@ToucanBran Thanks for trying out the feature and putting together the report! 🙂

I've taken care of this problem in https://github.com/grpc/grpc/pull/24478.

[2020-10-19 20:29] #24432 closed

[2020-10-19 21:11] nicolasnoble commented on #24206
@markdroth can you point me at the rough codepath that would do this properly on Unix?

[2020-10-19 21:30] markdroth commented on #24206
I don't know offhand which codepath it is.  But given that the behavior changes based on Linux vs. Windows, it seems like it has to be some Windows-specific code that is not setting the error properly.  Maybe try reproducing the problem with the steps above and enabling a bunch of tracers to see where the status code is coming from on the Linux side?

[2020-10-19 22:24] stanley-cheung commented on #24469
So I suppose this can only be reproduced when PHP is invoked via Nginx? Yes a reproducible test case would be great.

But let me get this straight. Which of the following is your setup?

1. some client makes a request to Nginx, possibly for a .php page, PHP-FPM is dispatched to handle the PHP request. There you create a PHP gRPC client, and makes a connection to a Go gRPC server.

2. a PHP client

[2020-10-19 22:31] stanley-cheung commented on #23307
Closing this as #23533 has been merged and there are no new issues with PHP builds.

[2020-10-19 22:31] #23307 closed

[2020-10-19 22:45] ping-localhost commented on #24469
@stanley-cheung It's the second setup. A PHP client makes a gRPC request to NGINX and which is then rerouted. When using haproxy the same issue occurs, so it really looks to be more a PHP client side issue than a `grpc_pass` issue. 🤔

If this doesn't add enough information, I'll try and build something reproducible tomorrow :)

[2020-10-20 01:46] stanley-cheung commented on #24469
I see. So the set up is

[code]

In that case, does this error happen if you remove Nginx from the picture (just for the sake of understanding the problem a little better?) i.e. what if you connect the PHP gRPC Client directly to a <lang> gRPC server directly?

[2020-10-20 01:50] stanley-cheung commented on #24469
And one more question, where does PHP-FPM come into play? Asking because I see PHP-FPM as the process spitting out that log line error of `ssl_transport_security.cc:473` in the original post. Does this mean that there's another server serving some front-end requests and that server is running PHP-FPM on the side to execute the .php scripts? Just trying to get to your set up as close as possible. I

[2020-10-20 02:30] xv-james-d opened #24486 "Version & other metadata not available on grpc_csharp_ext.*.dll"
### What version of gRPC and what language are you using?
gRPC.Core, 2.32.0, C#

### What operating system (Linux, Windows,...) and version?
Windows

### What did you do?
View metadata of:
grpc.core.2.32.0\runtimes\win\native\grpc_csharp_ext.x64.dll
grpc.core.2.32.0\runtimes\win\native\grpc_csharp_ext.x86.dll
On windows, this shows no version numbers, product name & copyright

Additionally:
grpc.c

[2020-10-20 02:33] xv-james-d commented on #24486
Closing - reopening on another ticket

[2020-10-20 02:33] #24486 closed

[2020-10-20 02:33] jamesdill opened #24487 "Version & other metadata not available on grpc_csharp_ext.*.dll"
### What version of gRPC and what language are you using?
gRPC.Core, 2.32.0, C#

### What operating system (Linux, Windows,...) and version?
Windows

### What did you do?
View metadata of:
grpc.core.2.32.0\runtimes\win\native\grpc_csharp_ext.x64.dll
grpc.core.2.32.0\runtimes\win\native\grpc_csharp_ext.x86.dll
On windows, this shows no version numbers, product name & copyright

Additionally:
grpc.c

[2020-10-20 02:58] DinoStray opened #24488 "We should clean up all global memory while server exit"
We should clean up all global memory while server exit.
for protobuf, do it by google::protobuf::ShutdownProtobufLibrary();
for libevent, do it by libevent_global_shutdown();
for mysql client, do it by  mysql_library_end();

But for grpc, we do nothing.
If we use valgrind check memory leaks, it's too annoying.

[2020-10-20 08:18] ping-localhost commented on #24469
I'll try that and report back @stanley-cheung, but the issue also happens with haproxy, so I'm pretty certain that it's not NGINX, but def. better to test it and be sure. 👍

---

The PHP-FPM error you see if because of me running `symfony serve` to run the client locally. Sorry for the confusion.

[2020-10-20 12:08] jtattermusch commented on #24209
This is not a bug. It has already been answered here: https://stackoverflow.com/questions/64011613/why-does-a-grpc-deadline-received-on-a-server-differs-from-the-one-sent-by-a-cli

[2020-10-20 12:08] #24209 closed

[2020-10-20 12:38] hnutank163 opened #24492 "fd leak in tcp_client_custom.cc-> custom_connect_callback_internal"
**in tcp_client_custom.cc -> custom_connect_callback_internal**
why not call grpc_custom_socket_vtable->close(socket, custom_close_callback) when error is not GRPC_ERROR_NONE

**in tcp_client_custom.cc -> on_alarm**
when the socket connect timeout, in tcp_client_custom.cc-> on_alarm will close the socket

if not close the socket when error happen, fd leak will happen when server not avaliable

[2020-10-20 12:41] hnutank163 commented on #24492
why not call grpc_custom_socket_vtable->close(socket, custom_close_callback) when error is not GRPC_ERROR_NONE

when the socket connect timeout in tcp_client_custom.cc-> on_alarm will close the socket

[2020-10-20 14:21] Capstan opened #24493 "Testing flags: Migrate from gflags to abseil's flags"
Currently there are ~36 uses of [gflags](https://github.com/gflags/gflags) ([docs](https://gflags.github.io/gflags/)) under the `/test` subdirectory. This is to track changing them to use [Abseil Flags](https://github.com/abseil/abseil-cpp/tree/master/absl/flags) ([docs](https://abseil.io/docs/cpp/guides/flags)), which aligns with migrations that have already occurred in the Google monorepo. Absei

[2020-10-20 14:24] Capstan commented on #24493
Mark, I started some work on this and filed this issue to track it, so you can assign it to me.

[2020-10-20 14:43] ping-localhost commented on #24469
@stanley-cheung I've been able to setup a testing repository now, but there I'm not getting any issues even though it should be an exact replication of what I have. After some checking it seems that the freeipa SSL certificates (which NGINX is using) are causing issues, not the actual GRPC server.

This is the certificate I'm currently using (anonymized):
[code]

This is the cert that works whilst

[2020-10-20 14:45] JBaltika commented on #24487
Hi guys,
Our projects has issues with loading native library when running application under IIS like https://github.com/grpc/grpc/issues/19666. I think that is the reason as for failure on IIS with net framework. The worst case its possible to register in GAC. However, without assembly metadata as things are now that it impossible.

[2020-10-20 15:36] JBaltika opened #24495 "Error loading native library when running application under IIS"
**What version of gRPC and what language are you using?**
2.32.0, C#

**What operating system (Linux, Windows,...) and version?**
Windows Sever Core 2016

**What runtime are you using**
Net 4.8

**What did you do?**
I have my application which is running under IIS where I use Grpc Client. When I using it, it fails saying it cannot find the native library

**What did you expect to see?**
Grpc.Core

[2020-10-20 16:00] tswast commented on #24248
We're encountering the same `ld: illegal text reloc in '_ChaCha20_ctr32' to '_OPENSSL_ia32cap_P' for architecture x86_64` error while trying to build the conda package.

Logs:

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=227579&view=logs&jobId=a8dee1cf-d17f-5cb0-b53f-4a93dfdbfb0c&j=a8dee1cf-d17f-5cb0-b53f-4a93dfdbfb0c&t=d9dbf137-9a7f-5666-c60c-9e1b2fc31445

It also ha

[2020-10-20 18:01] nanonyme opened #24498 "Reading of options from env variables is broken in setup.py (e.g. BUILD_WITH_BORING_SSL_ASM)"
### What version of gRPC and what language are you using?
1.32.0

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Noticed that there's no possible value that can be passed through as BUILD_WITH_BORING_SSL_ASM that will disable boringssl https://github.com/grpc/grpc/blob

[2020-10-20 18:08] nanonyme commented on #24498
Note from my point of view it's fine to just always build boringssl asm unless system ssl is requested but YMMV.

[2020-10-20 18:30] gitfool commented on #24495
Any fix should take into account .NET 5.0 single file executables too (See #24266).

[2020-10-20 18:56] gnossen commented on #24498
That's not entirely true:

[code]

So you could do `export BUILD_WITH_BORING_SSL_ASM="`. But that's not a great user experience. We should probably change this so that "false" and "False" both result in disabling this feature.

[2020-10-20 19:35] nanonyme commented on #24498
Ah, that's a good point. I'll use that as workaround in our project instead of patching grpcio. Thanks for the correction. IMHO the bigger problem here is really that GRPC_PYTHON_BUILD_SYSTEM_OPENSSL is not a master switch here. I only spotted this because we started getting boringssl build failures while boringssl should not have been built at all.

[2020-10-20 23:33] Capstan opened #24505 "third_party/address_sorting uses `size_t` before including a header that defines it."
https://github.com/grpc/grpc/blob/9896c641860a70e41b006a982e44f40bb3f41053/third_party/address_sorting/include/address_sorting/address_sorting.h#L50

If `clang-format` reorders headers, this can cause `#include <address_sorting/address_sorting.h>` to float early in the include order and then fail with an error like:

[code]

[2020-10-21 00:08] motive-ray commented on #22069
I want to chip in as I've been scouring the issues for a similar problem I'm having. I was getting the similar error logs as above, importantly a reference to UnityEngine in a web server project that seemed way out of place. I actually that I did have a reference to UnityEngine.dll that was added by the QRCoder library (see https://github.com/codebude/QRCoder/issues/95). Once removing the referenc

[2020-10-21 03:07] gnossen opened #24508 "TIMEOUT: ios-buildtest-example-sample-frameworks"
[code]

https://source.cloud.google.com/results/invocations/5f873265-4efb-4292-995e-5f072cf6952c/log

[2020-10-21 03:08] #24457 closed

[2020-10-21 03:42] stanley-cheung commented on #24469
Would this be reproducible just with a simple client that can be launched with `symfony serve`? Does Nginx have to be run to cause the error to happen?

[2020-10-21 05:24] yashykt opened #24510 "Clean up child policy handler"
Based on an internal thread. Posting discussion -

Yash -

`I was reading some of the lb policy code and came across this assert - https://github.com/grpc/grpc/blob/de90ff64d5001b64104b555e7bb28630fbb7dede/src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc#L230

It seems like there is some underlying assumption that CreateChildPolicy() can not be nullptr? Given that CreateLoadBa