[2018-02-22 09:57] eaglo commented on #9270
thanks, but i was referring to this comment here:

[2018-02-22 12:23] smetj commented on #4629
Super excited this is moving forward! Thanks for the feedback ...
Can't wait starting to use Google cloud pubsub with Gevent + Python!

[2018-02-22 15:33] gwihlidal opened #14492 "Support for specifying a custom ThreadManager implementation"
### What version of gRPC and what language are you using?

1.7.2 - C++

### What operating system (Linux, Windows, …) and version?

 Windows 10 , Ubuntu Linux, and MacOS X (High Sierra)

### What runtime / compiler are you using (e.g. python version or version of gcc)

VS 2017 MSVC, GCC-7, Clang 5

### What did you do?

While profiling Windows performance of gRPC C++ on Windows, constant thread cr

[2018-02-22 16:07] nicolas-chaulet commented on #8528
Same issue here with alpine-node:8, any idea?

[2018-02-22 16:39] genericmoniker commented on #9270
If an `RpcError` happens to be a `_Rendezvous`, it will have a `details` method, so I ended up doing something like:

[code]
I'm open to better guidance, though.

[2018-02-22 18:16] murgatroid99 commented on #14489
The argument to `createSsl` should be a certificate authority file corresponding to the certificates that you are using on the server. Is that what you have there?

[2018-02-22 19:53] AspirinSJL commented on #14220
@mikelehen Thanks for clarifying!

`grpc_channel_destroy()` is not called by the customer explicitly; it's called in gRPC Objective-C when some network error happens.

Sorry for misunderstanding the workaround status! The customer workaround that we thought is for this issue is actually for another issue. Then I think the workaround I proposed can be used if we want a quick fix. Fixing #14292 is a

[2018-02-22 20:00] mehrdada opened #14496 "Python Linux artifact build fails on Kokoro and Jenkins"
Artifact builds have started failing on master and 1.10.x (and on Jenkins).

https://sponge.corp.google.com/invocation?id=ca340df2-5a17-496f-938b-e9169aabfcbd&searchFor=

Starting from my PR (which is a C# only PR and passed Artifact Linux before merge): https://github.com/grpc/grpc/pull/12613

Also the same SHA1 on master has passed the test, which is strange.

[code]

[2018-02-22 20:03] mehrdada commented on #14496
@apolcyn do you think the header shuffling that went on in Core may have caused this?

[2018-02-22 20:23] xelra commented on #11239
I'm using Node on Windows and I'm also trying to install gRPC 1.4.1. It falls back to build, but the build fails. I've installed all the dependencies, but I just can't get it to compile on Windows in Node 9. Installing a newer version 1.9.1 works, because there are precompiled binaries available, but building the newer version with the `--build-from-source` option also fails.

I need 1.4.1, becaus

[2018-02-22 21:15] 0xcaff commented on #3020
For anyone who's looking, there is:

* Polygot: https://github.com/grpc-ecosystem/polyglot
* Built In tool https://github.com/grpc/grpc/blob/master/doc/command_line_tool.md

[2018-02-22 21:20] murgatroid99 commented on #11239
The best solution to that would probably be for firebase-tools to update their dependency to a newer version. Failing that, if you want to build the library on Windows, you will have to delete `%USERPROFILE%\.node-gyp\9.5.0\include\node\openssl`, then run the build again. It is unlikely but possible that this could mess up other builds.

[2018-02-22 21:40] xelra commented on #11239
@murgatroid99 Thanks, that worked. I temporarily removed the openssl directory and the build went through. It would be great if it would compile without this "secret step".

I'm totally ok now, but out of curiosity I'm still wondering where and why I got stuck on trying to compile manually. With YASM.

Thanks a lot.

[2018-02-22 21:58] murgatroid99 commented on #11239
The build script actually echos an instruction to delete that directory on Windows, but unfortunately it does that right before thousands of lines of compilation errors. And I'm not sure what instructions you were following to build on Windows, but I think that there's a good chance that they weren't the instructions for the Node library. I'm not very familiar with them, though, so I'm not sure wh

[2018-02-22 22:22] apolcyn commented on #14496
Further up the log, I'm seeing these errors, which appear to be transient infrastructure flakes:

[code]

for protoc build,

and this for what I think is during the python build:

[code]

[2018-02-22 22:47] sbconsulting opened #14498 "Python client subscribed connectivity_callback occasionally does not receive TRANSIENT_FAILURE"
### What version of gRPC and what language are you using?

Python, gRPC 1.0.4

### What operating system (Linux, Windows, …) and version?

Linux, Ubuntu 14.04

 ### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 2.7.6

### What did you do?

I have a need in my client to monitor the gRPC connection for connectivity issues, and I have attached a connectivity ca

[2018-02-22 23:55] ahmadsherif opened #14499 "Ruby clients raises `run_batch failed somehow` continuously when a server is restarted suddenly"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
gRPC v1.8.3 and/or v1.9.1 for a Ruby client

### What operating system (Linux, Windows, …) and version?
 Linux, `uname -r => 4.14.13-1-ARCH`

### What runtime / compiler are you using (e.g. python version or version of gcc)
 ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux

[2018-02-23 04:42] y-zeng commented on #14447
@abaldeva I've created https://github.com/grpc/grpc/pull/14501 to fix the leak. Could you please also verify the fix with your server. Thanks!

[2018-02-23 05:31] Dhara-Openxcell commented on #14489
Yes, we are using the same certificate authority which is generated by LND. Here is the attachment of the file.
[tls.cert.txt](https://github.com/grpc/grpc/files/1750558/tls.cert.txt)

[2018-02-23 06:29] SotoiGhost opened #14503 "GRPCChannel object is being deallocated after initialization"
### Should this be an issue in the gRPC issue tracker?

Yes.

### What version of gRPC and what language are you using?

Version 1.9.1 - Objective-C.

### What operating system (Linux, Windows, …) and version?

macOS High Sierra version 10.13.3.

### What did you do?

I'm trying to get data from Firebase Cloud Firestore but when I try to make a request to it, it crashes.

### What did you expect t

[2018-02-23 07:29] mehrdada commented on #14496
@matt-kwong Looks like https://github.com/grpc/grpc/pull/14504 has fixed the issue on Kokoro, but Jenkins still faces an infra issue (similar to the older ones we faced that related to caching)

[2018-02-23 07:36] mehrdada commented on #13890
Haven't spotted in a while. Looks like a rare flake. Closing.

[2018-02-23 07:36] #13890 closed

[2018-02-23 08:07] Falco20019 commented on #11646
#12613 got merged, so we will see it in 1.10.x :) So thanks to everyone involved in this, since this is also critical to our enterprise.

[2018-02-23 08:18] mehrdada commented on #14496
@matt-kwong nevermind, the error seems to have gone away on Jenkins too.

[2018-02-23 08:26] Falco20019 commented on #12707
It seems like work on [opentracing-cpp](https://github.com/opentracing/opentracing-cpp) and [opentracing-csharp](https://github.com/opentracing/opentracing-csharp) have finally started :)

[2018-02-23 10:04] sururami commented on #4689
I'm not sure but I thnik in order to communicate TLS, you should correct the word 'grpc' to 'grpcs'...maybe

[2018-02-23 14:50] Falco20019 commented on #12707
#12613 got merged today. I will look into doing the grpc-opentracing implementation for C# when the next release including this version (v1.10.x) is done.

I think, once #9035 is takled, an grpc-opentracing implementation on grpc-core level would be much appreciated. Until then, it's hard since the C++ implementation doesn't have any interceptor functionality AFAIK. OpenTracing itself has a C++ im

[2018-02-23 16:19] jtattermusch commented on #1620
@tylerhartwig   can you publish the instructions for cross-compiling on Android somewhere?  I've heard from other users that successfully compiled the grpc_sharp_ext.so for android (so I'm pretty sure it's possible), but I haven't seen any good documentation with steps to follow (if we had that, we could use it as a starting point for our efforts to support Unity and Xamarin).

In order to be able

[2018-02-23 16:32] jtattermusch commented on #14402
@zaneclaes  thanks for experimenting with the crosscompiling.  I think using a docker image with the right environment to crosscompile for android is a good idea (especially because we are using docker quite extensively for grpc testing already, so if you could provide a well curated Dockerfile, we would be able put tests in place for the work that's done - or even automate the building of grpc_cs

[2018-02-23 16:37] jtattermusch commented on #14402
@zaneclaes some ideas for your docker experiments:
1. can't you just take the  standard docker image for dotnet and just install android native SDK into that image, which would give you both working dotnet and android native SDK.
2. When you are building grpc_csharp_ext.so (just the native library) - you actually don't need dotnet at all. You can have a 2-step build - first step builds the native

[2018-02-23 16:48] jtattermusch commented on #14402
Here's some additional resources on compiling on ARM:

We've actually successfully setup the native library compilation for Node.js and Python. Here are the PRs:
https://github.com/grpc/grpc/pull/11457/files (uses crosscompiler, see the PR for command line arguments to use)
https://github.com/grpc/grpc/pull/11108/files (uses qemu based crosscompiler for ARM).

https://github.com/murgatroid99/grpc/

[2018-02-23 16:56] jacobvosmaer commented on #14499
To add a little context how this affects us (GitLab): since we upgraded our Ruby gRPC clients to 1.8.3 we see that the moment new gRPC server processes get deployed, a large number of clients start throwing GRPC::Unavailable errors with the message `14:Endpoint read failed`. They do not recover if we force them to create a new GRPC client stub; the only thing that works is to restart the client pr

[2018-02-23 17:01] #14496 closed

[2018-02-23 17:04] mehrdada opened #14508 "gRPC Python grpcio source packages are too big to upload to PyPI"
gRPC Python build system generates a source ".tar.gz" package for PyPI by grafting a bunch of goo from submodules and the git tree indiscriminately, making the package size upwards of 100MB, which is the PyPI limit.

I had to manually untar the package and remove a bunch of .git directories to reduce the size to ~25MB, but I still think there is a ton of unnecessary files from `third_party` submod

[2018-02-23 17:24] nathanielmanistaatgoogle commented on #14508
Wow.

[2018-02-23 17:28] dgquintas opened #14509 "New Failure: End2endTest.ChannelState"
- Test: End2endTest.ChannelState
- Poll Strategy: poll
- URL: https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/sanitizer/job/grpc_cpp_tsan/844

[2018-02-23 17:29] dgquintas opened #14510 "New Failure: thread_stress_test --gtest_filter=AsyncClientEnd2endTest.ThreadStress"
- Test: thread_stress_test --gtest_filter=AsyncClientEnd2endTest.ThreadStress
- Poll Strategy: poll
- URL: https://kokoro2.corp.google.com/job/grpc/job/macos/job/master/job/grpc_basictests_dbg/1665

[2018-02-23 17:46] coryan opened #14511 "CMake build problems for v1.10.x"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes.

### What version of gRPC and what language are you using?

v1.10.x / C++.

### What operating system (Linux, Windows, …) and version?

Linux, Ubuntu, 16.04

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

[2018-02-23 18:25] mehrdada commented on #14511
Just verified the existing `Makefile` without `cmake` works fine (`apt-get install -y build-essential libtool shtool pkg-config automake autoconf; make -j 20').

@jtattermusch any idea why `cmake` fails?

[2018-02-23 18:30] adelez opened #14512 "Bazel test flake: end2end:grpclb_end2end_test"
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
+ export GRPC_POLL_STRATEGY=poll-cv
+ shift
+ test/cpp/end2end/grpclb_end2end_test
[==========] Running 15 tests from 4 test cases.
[----------] Global test environment set-up.
[----------] 8 tests from SingleBalancerTest
[ RUN      ] SingleBalancerTest.Vanilla
[       OK ] Sin

[2018-02-23 18:31] mehrdada commented on #14511
For the record, simple `cmake . && make -j 30`, which uses Cmake generate Makefiles seems to work as well (I over-installed dependencies as listed above).

[2018-02-23 18:36] adelez commented on #14512
Another failure from a different test with the same error:
https://source.cloud.google.com/results/invocations/45571f80-62f2-4e33-a601-03975b652456/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_proxy_test@invoke_large_request@poller%3Depoll1/log

[2018-02-23 18:38] adelez commented on #14512
Hi David, I'm assigning it to you for triage. Feel free to reassign when you identify a proper owner.

[2018-02-23 18:40] coryan commented on #14511
Thanks for the quick response.  It does not fail on all compilers, not even with all versions of g++.  Here is my build matrix output:

https://travis-ci.org/coryan/google-cloud-cpp/builds/345275128

g++ on Ubuntu 14.04 is fine (that is 4.8 I believe), g++ on Ubuntu 16.04 (5.x I believe), and Ubuntu 17.10 (7.x as I recall) break.

[2018-02-23 18:41] adelez opened #14513 "Bazel test failure: arena test fails under TSAN and MSAN"
https://source.cloud.google.com/results/invocations/45571f80-62f2-4e33-a601-03975b652456/targets/%2F%2Ftest%2Fcore%2Fgpr:arena_test@poller%3Depoll1/log

[code]

[2018-02-23 20:01] apolcyn opened #14514 "FAILED: bins/opt/h2_full_test connectivity GRPC_POLL_STRATEGY=poll"
https://sponge.corp.google.com/invocation?tab=Build+Log&id=8694fa49-7737-4e57-8ce8-625e2be35780&searchFor=

[code]

[2018-02-23 23:10] AspirinSJL commented on #14220
After discussion, we decided to cancel the call in Objective-C layer when the per-call monitor detects network error. Re-assigned to @muxi .

[2018-02-23 23:13] markdroth commented on #14292
Note that we currently have a bit of a mismatch in the C-core API: we offer a function called `grpc_channel_destroy()`, but the behavior is actually more like `grpc_channel_unref()`.

Ideally, we would like to fix the semantics to be destroy, not unref.  But if we ever close this and decide not to fix it, we should rename the function to reflect its current behavior.

[2018-02-23 23:26] #12697 closed

[2018-02-23 23:28] #12250 closed

[2018-02-23 23:30] stanley-cheung commented on #10301
Closing this issue. The `grpc` extension by default creates persistent connections since `1.6.0` release.

[2018-02-23 23:30] #10301 closed

[2018-02-24 00:40] euroelessar opened #14519 "Please provide read access to CI failure details"
### What did you do?

Made pull request to grpc core.

### What did you expect to see?

Ability to review test failures.

### What did you see instead?

"Details" link for failed CI tests leads to internal Google resource which is inaccessible for external contributors. This requires manually pinging Google employees in order to figure out which tests did fail and in what way which adds artificial

[2018-02-24 01:08] dcow commented on #14369
@muxi any thoughts on this? Should we address this separately from #14387 ?

[2018-02-24 02:20] muxi commented on #14369
Hey sorry I have not had a chance to take a look at this issue. If the root cause of this problem is that NSURL not understanding the zone ids then I think we should address this separately from #14387. Given there's quite a few pending issues with higher priority, it would be great if you can make a PR for this too and I'll be able to help with review.

[2018-02-24 03:13] dcow commented on #14369
No problem! I can certainly do that.

[2018-02-25 08:51] feulf commented on #10062
@jimthematrix thank you so much! This fixed my issue.

I spent 3 days trying to make a Node client communicate via RPC with LND, the Golang implementation of lightning-network.

Can you please explain what is the GRPC_SSL_CIPHER_SUITES and where did you get that string? Thanks!

[2018-02-25 16:17] vinaychandra commented on #12604
This is not completely fixed. Only `SomeNameGrpc` contains the header now. `SomeFile` file still uses
[code]

[2018-02-25 22:37] smflorentino commented on #14273
We are seeing the same thing on Server 2016. Never saw this before 1.8.

[2018-02-26 07:33] ghostwriternr commented on #13117
Hey @nathanielmanistaatgoogle, I'd like to attempt this issue. I'm looking to do GSoC this year under grpc, so I was looking at some P2 bugs that I can try. Do let me know if you feel another issue would be more appropriate though since this would be my first time contributing to grpc. I haven't narrowed down on one of the 4 projects yet, but I have my eyes on one of the first 3 entries in [the id

[2018-02-26 09:55] jskeet opened #14521 "C# codegen relies on "DateTime" meaning "System.DateTime""
If a proto introduces a message type called DateTime, then the generated gRPC code will effectively try to use that in the `deadline` parameter for call signatures. The fix it to manually change `DateTime? deadline = null` to `global::System.DateTime? deadline = null`.

For maximum robustness, I'd recommend removing regular using directives entirely, and qualifying all types used in the generated

[2018-02-26 10:08] jtattermusch commented on #12604
Note: The google/protobuf counterpart relies on https://github.com/google/protobuf/pull/4038 being released.

[2018-02-26 10:50] jtattermusch commented on #14378
@d79ima
They are Windows 7 machines, hardware is standard GCE virtual machines "n1-standard-8" (8 vCPUs, 30 GB memory), CPU platform Intel Haswell.

[2018-02-26 11:08] jtattermusch commented on #14378
@d79ima  I looked at your example again and it looks like I previously confused what was doing.
The numbers for C# I posted are for a "QPS throughput" benchmark (i.e. multiple channnels, multiple RPCs per channel), while your benchmark is basically testing "number of messages per second that can be delivered via a server streaming RPC".

Ad your results:
Scenario 1) difference of 1000MB vs 500MB s

[2018-02-26 12:02] jtattermusch commented on #11646
@893949088  the v1.10.0-pre1 nugets have already been pushed (they have the basic interceptor API that gives you the full power, some convenience code to make things easier is coming soon.) - feel free to test it out.

[2018-02-26 12:18] Falco20019 commented on #11646
Thanks :) Saw it half an hour ago, already started implementing the grpc-opentracing for C#

[2018-02-26 13:13] Dhara-Openxcell commented on #14489
It would be highly appreciable if you can reply back for this issue.

[2018-02-26 15:53] jtattermusch commented on #14088
@dgquintas   who would be the best person to look into this? It's almost certainly a C core issue (seen in multiple languages).

[2018-02-26 15:56] jtattermusch commented on #14273
Is this still happening in v1.9.x and v.1.10.x?

Is there a reproduction I could use?

[2018-02-26 15:59] Disturbing opened #14522 "C# How to Mock generated client base?"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes, related to Csharp grpc. Googled / searched for this, couldnt find anything meaningful.

### What version of gRPC and what language are you using?

gRPC C# 1.8.3

### What operating system (Linux, Windows, …) and version?

Windows 10

### What runtime / compiler are you using (e

[2018-02-26 16:19] krelst opened #14523 "python grpcio 1.9.1: `can't start new thread`"
We are using several google-cloud python clients which have grpcio as sub dependency. A few days ago we upgrade the grpcio package from `1.8.4` to `1.9.1` and started seeing stale processes with the
following error.

[code]

Our setup is the following: we have some pipelines running that are pulling from gcloud pub/sub, processing them and then writing them to gcloud bigtable. These pipelines are

[2018-02-26 17:56] dgquintas commented on #14088
This is very likely fixed by https://github.com/grpc/grpc/pull/13932, which will be part of the 1.10 release.

[2018-02-26 18:51] ghostwriternr commented on #13117
cc @mehrdada @kpayson64 @hsaliak
Tagging you since you are listed on the ideas page as potential mentors. Hope that's okay. Can someone please advice on the above?

[2018-02-26 19:36] mehrdada commented on #14491
Looks like this test have been a flaky one since the dawn of times and closed every time without a fully working resolution. There seems to be some history behind it that @nathanielmanistaatgoogle might know better as he has been on some of the threads below. Since this is the beta API and has not been resolved for 2 years, my suggested resolution would be to kill the test entirely as it is not cl

[2018-02-26 19:41] kpayson64 commented on #13117
@nathanielmanistaatgoogle or @hsaliak are probably your best points of contact for anything GSOC related.

[2018-02-26 21:01] hsaliak commented on #13117
@kpayson64  -  @ghostwriternr wants to tackle some help wanted issues in preparation for gsoc, not do this as part of gsoc itself.

@ghostwriternr
For (1) I think these statements can be safely ignored, but to get rid of them, can you try adding ``--disable_auto_set_flakes`` to your ``run_tests.py`` invocation? We recently added the ability to re-run tests that have been historically been flaky, s

[2018-02-27 01:37] stanley-cheung opened #14534 "PHP: startBatch is taking exceptionally long time"
https://github.com/GoogleCloudPlatform/google-cloud-php/issues/819#issuecomment-368706559

This is a user-reported issue from the `google-cloud-php` repo. Tracking it here

[2018-02-27 01:45] murgatroid99 commented on #14534
That profile is misleading. The `Grpc\Call::startBatch` function includes the call to `grpc_completion_queue_pluck`, which includes all of the time waiting for network events.

[2018-02-27 03:08] dwsupplee commented on #14534
@murgatroid99 Could you please expand on why the fact the profile includes waiting for network events is misleading? Is there any other data I could help provide?

[2018-02-27 05:01] mehrdada commented on #14212
https://grpc-testing.appspot.com/job/gRPC_build_artifacts/platform=linux/1997/console

@matt-kwong the issue has reappeared on Jenkins

[2018-02-27 08:05] mehrdada commented on #14508
Fixed by https://github.com/grpc/grpc/pull/14533, though there might be room for a more fundamental fix

[2018-02-27 08:05] #14508 closed

[2018-02-27 09:44] BusyJay opened #14537 "Is there any general metadata processor support"
Sometimes we need to enable metadata filters for all RPC, to do some version check for example. What I found most relative is `auth_metadata_processor`. However, this requires a `grpc_server_credentials` which can only be created with SSL credentials. SSL credentials can be redundant if the service is only deployed and accessed internally or there is other mechanism to ensure security. So is there

[2018-02-27 10:03] #14521 closed

[2018-02-27 10:12] paulopereiraptc commented on #8682
Hello,
could I also get an early access to grpc-web?
Best regards

[2018-02-27 13:29] coryan commented on #14511
Ping.  Any thoughts?

[2018-02-27 15:23] jtattermusch commented on #14511
@coryan   I think we just need to silence the -Werror=maybe-uninitialized  warning for boringssl compilation.

[2018-02-27 15:25] jskeet opened #14540 "C# RpcException doesn't allow for status, trailers and message to be specified"
I'm trying to create a subclass of RpcException that copies the existing status, trailers and message and adds more information. Unfortunately, there are only three RpcExceptions:

- RpcException(string message)
- RpcException(Status status, Metadata trailers)
- RpcException(Status status)

I'd like a fourth:

- RpcException(string message, Status status, Metadata trailers)

That would allow for m

[2018-02-27 15:39] zaneclaes commented on #14402
Thanks so much @jtattermusch . I'm afraid I'm in a bit over my head, and have (embarrassingly) sunk dozens of hours into this already, but let me describe where I'm at and maybe you can provide a few more tips...

First, the only thing I need is the `libgrpc_csharp_ext.so` file compiled for arm-v7a; so your "step 2" is not needed. I used the `dockcross` open-source project and modified their `andr

[2018-02-27 15:43] zaneclaes commented on #1620
@tylerhartwig I've successfully modified the `Load()` function and gotten all of this working with iOS using a static `.a` file. I just cannot figure out how to get the `libgrpc_csharp_ext.so` file to cross-compile for Android ARM. Per @jtattermusch 's suggestion in my question here https://github.com/grpc/grpc/issues/14402 , I'm pinging you to combine forces on this. I've detailed my efforts thus

[2018-02-27 15:51] ncteisen commented on #14402
Going off a hunch here, but could you try changing that entire line to be:

[code]

[2018-02-27 16:07] jtattermusch commented on #14519
@euroelessar , I fully agree with you. We've been working on this for a while and I believe we are now pretty close to making the test results externally accessible.

[2018-02-27 16:32] coryan commented on #14511
Sure.  Is this something I should expect will happen in v1.10.x or should I wait for v1.11.x?

[2018-02-27 17:05] jtattermusch commented on #14519
@euroelessar, I switched our test results to point to an externally accessible UI. You should now be able to see the test details on all new PR (and on old PRs after re-running the tests).

[2018-02-27 17:44] murgatroid99 commented on #14534
What I mean, more specifically, is that a profile like that does not indicate that `startBatch` is a source of performance problems, because it adds together local run time and network latency. Honestly, though, I don't know what data would be more helpful.

[2018-02-27 17:50] ekhaydarov commented on #4629
is aiohttp a viable alternative?

[2018-02-27 17:54] lita commented on #4629
Same! I am excited to try this out.

[2018-02-27 18:48] murgatroid99 commented on #8528
Can you elaborate? What version of gRPC are you using? Are you seeing the same `dlopen` error?

[2018-02-27 18:52] kpayson64 commented on #14436
ProcessPoolExecutor uses fork() under the hood, which isn't generally supported.  We would like to support this case, so I'll leave this open as a feature request.

[2018-02-27 19:19] jtattermusch commented on #14511
It looks like this warning was already fixed for boringssl: https://boringssl-review.googlesource.com/c/boringssl/+/21724

updating the third_party/boringssl submodule once the fix is available in boringssl's master branch is probably the best way to fix.

[2018-02-27 19:25] mehrdada commented on #14511
To add, if the resolution is updating the boringssl submodule, we should do it on master and ship it in a later release, not on the 1.10.x branch.

[2018-02-27 19:28] nathanielmanistaatgoogle commented on #14498
@kpayson64: does gRPC Core guarantee the kinds of behaviors on which @sbconsulting is wishing to rely? Do you see any holes in the story here?

[2018-02-27 19:30] srini100 commented on #14420
@jiangtaoli2016 Please see if this is feasible. If we decide to do it it should be a cross-lang feature.

[2018-02-27 19:31] jtattermusch commented on #14402
Not sure about how things work on android, but you might need the "m"  from `# LIBS = dl rt m pthread` back for log2 to be available (https://stackoverflow.com/questions/1033898/why-do-you-have-to-link-the-math-library-in-c)

[2018-02-27 19:32] nathanielmanistaatgoogle commented on #14537
@BusyJay: with what language(s) are you working with gRPC? Also have you looked at what are called "interceptors"?

[2018-02-27 20:31] nathanielmanistaatgoogle commented on #8622
[We have now announced that we are dropping support for the Beta API on 2018-07-01.](https://groups.google.com/d/msg/grpc-io/SMwQSF0BAcs/Tqiwi-NHAgAJ)

[2018-02-27 20:36] decebal commented on #14436
since I filled this issue I have come to believe that http://grpclib.readthedocs.io/en/latest/ might be a solution for me as it achieves the same purpose but through another mechanism, the asyncio library.

[2018-02-27 21:04] MrMage commented on #14457
Friendly ping @muxi — do you need other information from me, or should I simply file a pull request?

[2018-02-27 21:04] MrMage commented on #14456
Friendly ping @muxi — do you need other information from me, or should I simply file a pull request?

[2018-02-27 22:19] mehrdada commented on #14006
I'm going to close this as it is not clear the bug is in gRPC as opposed to the application. Please feel free to reopen if additional evidence is available.

[2018-02-27 22:19] #14006 closed

[2018-02-27 22:20] mehrdada commented on #14212
Removing the RELEASE BLOCKER and downgrading to P1 because I am able to fetch the remaining Python packages off of Kokoro but it is a pain. Although if Jenkins is going away soon, further investment may not be justified.

[2018-02-27 22:22] mehrdada commented on #11646
Closing. Fixed by #12613.

If you have related feedback or specific concerns please feel free to file new issues or post on the mailing list depending on their nature.

[2018-02-27 22:22] #11646 closed

[2018-02-27 22:58] euroelessar commented on #14519
great, thanks!

[2018-02-27 23:01] #14519 closed

[2018-02-27 23:12] #4064 closed

[2018-02-27 23:38] dgquintas commented on #13371
Done in #13494

[2018-02-27 23:38] #13371 closed

[2018-02-28 01:00] #14220 closed

[2018-02-28 02:37] srini100 commented on #14523
@krelst is gRPC version the only change? Was it working fine with 1.8.4?

[2018-02-28 03:09] BusyJay commented on #14537
@nathanielmanistaatgoogle Yes, interceptors are exactly what I'm looking for. I'm using pingcap/grpc-rs, which wraps the gRPC c core and is written in rust. If it's supported in the c core, then it's very easy to be supported in the wrapper.

[2018-02-28 06:13] derekmma commented on #11427
@odino I found this roadmap which shows that the support for gRPC proxy is coming in this April
https://trac.nginx.org/nginx/roadmap
There is a issue related to this need under another repo: https://github.com/grpc/grpc.github.io/issues/230

[2018-02-28 08:41] krelst commented on #14523
It is a curious case. The upgrade of the grpc library took place 16/2, but the first time we saw the error was only 24/2. From then on, multiple different pipelines of ours, which all have grpc/google cloud python clients in common, started failing with the same error. Together with the grpcio upgrade, these other libraries got an upgrade:
[code]
However it still looks like it is an issue in grpc

[2018-02-28 10:57] jtattermusch opened #14549 "Memory leak in bins/asan/end2end_test --gtest_filter=End2end/End2endTest.ClientCancelsRequestStream"
Recent failures, seen on epollex and poll-cv
https://sponge.corp.google.com/target?id=3ab62c57-1a98-4723-8690-235b8e337db7&target=github/grpc/cpp_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS
https://sponge.corp.google.com/target?id=ba7703f2-b841-42dd-82ac-2d4f5711e8cd&target=github/grpc/cpp_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS
https://sponge.corp.google.com/target?id=5e90459f

[2018-02-28 11:00] jtattermusch commented on #14549
[code]

[2018-02-28 11:02] jtattermusch commented on #14549
There's actually plenty of leaked objects in the log besides those above. I suspect the shutdown procedure goes wrong.

[2018-02-28 13:48] jtattermusch commented on #14549
[code]

[2018-02-28 14:29] jtattermusch commented on #14471
I am able to reproduce locally with
` tools/run_tests/run_tests.py -l c -c dbg -r 'h2_http_proxy_nosec_test.*shutdown_finishes_calls' -n 100`

Assert at shutdown_finishes_calls.cc:166 is failing with GRPC_STATUS_UNKNOWN (status == 2) and details "Stream removed".

[2018-02-28 14:58] juanjoDiaz commented on #7281
I'm still getting this error.

No matter how I try to build grpc using cmake I always get:
[code]

Any idea or workaround?
Is there any reason why I should skip BoringSSL and just jump to OpenSSL?

[2018-02-28 15:06] zaneclaes commented on #14402
@ncteisen great guess! That gets me further, but indeed, @jtattermusch was correct... the same line ends up erroring, now with: `error: 'log2' was not declared in this scope`. Even after linking to `m`, it appears `log2` is [not part of Android, but there is a workaround](https://stackoverflow.com/questions/11080118/does-android-support-log2). This led me to this flag, which got me past the error:

[2018-02-28 16:06] jtattermusch commented on #14471
Some insight into what's happening:

- everything's going fine and server shutdown is requested and cancellation of all calls is requested https://github.com/grpc/grpc/blob/cab345efe666f03739e2ae7ef11696c486d47716/test/core/end2end/tests/shutdown_finishes_calls.cc#L154

- the backend server shuts down

- in a case where the test passes, the proxy sees an "server read" error (because the backend ha

[2018-02-28 17:00] mehrdada commented on #14537
@BusyJay The first-party high level language APIs available for C#, Python, Go, Java, and Ruby have an explicit interceptor API that let you look into metadata as well as other things.  I don't know about the Rust implementation—but it looks like this is a good feature request for them. The C core has a filter API that operates in Core that's fairly low level by comparison (the language API-level

[2018-02-28 17:06] matt-kwong commented on #14212
I'd like to do use Kokoro exclusively for the next release. Let me know if you're planning on doing the next release or who, so I know who to sync up with to switch to Kokoro.

Also, the way to fix this is to remove the Docker image cache on the Jenkins VM worker, but this breaks the artifacts building process, because our manylinux Dockerfile cannot be built. It currently does a `git clone`, whic

[2018-02-28 17:11] mehrdada commented on #14212
Ok, let's not touch Jenkins for this release and wait for Kokoro to come up.

[2018-02-28 17:51] BusyJay commented on #14537
Interesting. Can you point to the sources where both server side and client side interceptors are supported? As far as I can tell, the C# version only has the interceptors for client side.

[2018-02-28 17:59] mehrdada commented on #14537
This is the C# PR: https://github.com/grpc/grpc/pull/12613/files Python PR: https://github.com/grpc/grpc/pull/13722/files

C# implementation supports both (see the server-side tests here https://github.com/mehrdada/grpc/blob/master/src/csharp/Grpc.Core.Tests/Interceptors/ServerInterceptorTest.cs)

[2018-02-28 18:29] BusyJay commented on #14537
Thank you, it's very helpful!

[2018-02-28 18:42] #14537 closed

[2018-02-28 19:47] haebou commented on #8682
Hello all.
If grpc-web is still being vetted before going public, and you're still whitelisting accounts for early access, could I please get access as well? 2FA enabled.

[2018-03-01 02:48] apolcyn commented on #14477
@duelinmarkers this is a guess: are you able to see if this leak still occurs on the `1.10.pre1` on `pre2` releases?

I am wondering if this was possibly fixed by a PR that made it into the `1.10` branch (https://github.com/grpc/grpc/pull/14501).

If not, do you have any tips to reproduce beyond creating multiple stubs from the same process?
I am trying to reproduce this with the [greeter server](

[2018-03-01 05:59] itisbsg commented on #8718
https://github.com/itisbsg/grpc-push-notif

this is one implementation of push notifications use case with long lived streams.. probably what @vjpai, @ctiller are referring to.

[2018-03-01 07:29] jtattermusch commented on #14471
@yashykt  do you have any insight into what could be happening? This flake has been plaguing us for a long time, so I'd like to finally resolve it.

[2018-03-01 08:34] ghostwriternr commented on #13117
Thanks a ton for the detailed reply, @hsaliak! :smile:

I've added a very minimal PR to use the module-level logger above. It changes little, but thanks to your comment, I can see how the code is structured now. The `disable_auto_set_flakes` was indeed helpful and resolved the bigquery issue.

The [`build_python.sh`](https://github.com/grpc/grpc/blob/master/tools/run_tests/helper_scripts/build_pyt

[2018-03-01 12:59] initialed85 opened #14559 "Segfault with PyPy5.10 on Ubuntu host (gRPC being used in Docker container)"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

I think so, but I'm not certain (as it's related to PyPy).

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOve

[2018-03-01 15:21] gwihlidal commented on #14492
As a follow up, I implemented an async service version so I could explicitly control the threading, and while this is working, and performance has improved significantly, perf is still quite bad overall. It seems like regardless of the async service, grpc spawns (arbitrarily) timing threads which I can't seem to control. I have seen some pretty bad cases like:

4 explicitly spawned threads, 20 imp

[2018-03-01 16:01] jtattermusch commented on #14471
After lots of debugging, I think I have the explanation for what's happening:

1. Under normal circumstances, the server gets shutdown and the pending call is cancelled. GOAWAY and RST_STREAM is sent on the wire, it gets forwarded by the http proxy to the grpc client and the test finishes with success.

2. In the failure case, the server get shutdown correctly and the pending call is cancelled. GO

[2018-03-01 16:26] zaneclaes commented on #14402
For reference I'm following this in the makefile:
[code]
I've started afresh following these instructions. I make it through every step until the last. Based upon these instructions, the command I'm running is:
[code]
And now I get stuck on:
[code]
This *seems* like a simple problem; it sounds like the `usr` includes are not being included properly.  I'm not sure how to fix this correctly though.

[2018-03-01 16:38] vjpai commented on #14492
Thanks for this issue, we've gotten a few requests for this and will be taking it up in the near future, though I can't provide an ETA at the current time.

[2018-03-01 16:40] vjpai commented on #14492
The part about the number of timing threads seems very odd, though. Can you file that as a separate issue so that we can triage it independently of the custom thread pool?

[2018-03-01 17:09] slumbi commented on #9121
It seems I have hit this  https://github.com/grpc/grpc/issues/12975

[2018-03-01 17:57] SotoiGhost commented on #14503
Any progress on this?

[2018-03-01 19:01] yashykt commented on #14471
Nice work Jan! This certainly does seem like the right reason.

[2018-03-01 19:48] muxi commented on #14503
We would love to get a dump of this crash if you can. I do not see a reason [GRPCChannel:dealloc] is invoked inside init function. Does this happen *always*?

[2018-03-01 19:48] zxtwonder commented on #8682
Hi, I am directed here from today's community meeting. Can I get whitelisted for grpc-web?

We would like to evaluate feasibility of using gRPC to replace RESTful APIs from web apps. Thank you!

[2018-03-01 20:16] SotoiGhost commented on #14503
I will try to get the dump because the crash happens but the app doesn't crash, I just get the stack trace on Application Output:

[code]

I think that Firebase handles it somehow internally.

And yes, this always happens. My guess is that `GRPCChannel` object is not being referenced by anything after initialization and that's why it's deallocating.

[2018-03-01 21:44] joaocc opened #14563 "grpcio fails to install as a dependency from pyhelm"
### Should this be an issue in the gRPC issue tracker?
### What version of gRPC and what language are you using?
Python 3.6.4
Trying to install 0.3.post19

### What operating system (Linux, Windows, …) and version?
Darwin HSz-MBP-J 16.7.0 Darwin Kernel Version 16.7.0: Thu Jan 11 22:59:40 PST 2018; root:xnu-3789.73.8~1/RELEASE_X86_64 x86_64

### What runtime / compiler are you using (e.g. python ve

[2018-03-01 21:59] chhsia0 opened #14565 "gRPC Core: Integration with an existing (3rd-party) event loop."
### Should this be an issue in the gRPC issue tracker?

Yes.

### What version of gRPC and what language are you using?

C++, but I'm willing to directly use gRPC core, so a C++ wrapper for this is less of an issue.

### What operating system (Linux, Windows, …) and version?

Linux, but it would be nice if this feature can be supported on Windows as well.

### Description

Currently the gRPC core

[2018-03-01 22:05] chhsia0 commented on #14565
I find that it might be worthy to borrow some ideas from http://sans-io.readthedocs.io/ :)

[2018-03-01 22:34] dgquintas opened #14567 "grpclb_end2end_test --gtest_filter=SingleBalancerTest.InitiallyEmptyServerlist flakes"
eg https://sponge.corp.google.com/target?id=a32bae35-054b-4f5a-aebe-802e9c2023bc&target=github/grpc/cpp_linux_opt_native&searchFor=&show=FAILED&sortBy=STATUS

I'm looking into it.

[2018-03-01 23:55] nathanielmanistaatgoogle opened #14569 "Richer call creation"
I'm currently [reworking the Python code that uses the Core API](https://github.com/grpc/grpc/issues/12531) and having some frustration with call creation.

The story today goes something like:

1. I am ready to invoke my RPC. I have a method, credentials, two batches of operations, and all the other good stuff associated with invoking an RPC.
2. I call `grpc_channel_create_call` to create the cal

[2018-03-02 00:18] kpayson64 commented on #14569
A few things:

1. Calls that haven't had any batches started (successfully) don't need to be cancelled.
2. For unary calls, you should be able to make a single call to ```grpc_call_start_batch```.  If we are doing something else in Python, that is an artifact of the Python usage, rather than a limitation of the c-core.

FWIW, C++ ```assert()```s on ```grpc_call_start_batch``` failure.  This indica

[2018-03-02 02:10] nathanielmanistaatgoogle commented on #14569
Thanks for considering!

1. Good to know!
2. Yes, for unary-unary calls we do make a single call to `grpc_call_start_batch` at RPC invocation time (and this is also the only `grpc_call_start_batch` call for the entire RPC). For other cardinalities of calls we make as many as two calls to `grpc_call_start_batch` at RPC invocation time (and other `grpc_call_start_batch` calls may follow later). But

[2018-03-02 02:21] #14567 closed

[2018-03-02 03:16] coryan commented on #14511
Thanks.  I am closing this bug because we know what the resolution will be.

[2018-03-02 07:25] claywong opened #14573 "pip install DEPENDNECY ERROR on macOS"
Python 2.7.14 :: Anaconda custom (64-bit)
macOS:10.13.3

[code]

[2018-03-02 07:46] HI0T commented on #1620
I successfully compiled this command:
[code]
only first it is necessary to replace in CMakeLists.txt:
[code]
it with
[code]
this should work on windows and linux

[2018-03-02 10:44] IronsDu opened #14575 "Build Error on Windows, Because `_WIN32_WINNT ` not defined."
We can fix this error by this pr:https://github.com/grpc/grpc/pull/14574.
Modify `include/grpc/impl/codegen/port_platform.h`:
move `#include <Windows.h>` before where check `_WIN32_WINNT` macro.

[2018-03-02 10:49] jtattermusch commented on #14402
@zaneclaes   have you seen this comment: https://github.com/grpc/grpc/issues/1620#issuecomment-369847174

[2018-03-02 12:45] jtattermusch commented on #14378
@d79ima, I put together a simple C#  benchmark for one-way streaming throughput and I'm currently getting >30Kmsgs  per second throughput (with very small messages, running the test locally).  I tried with client streaming so far, but I can test server streaming as well. C++ throughput should be strictly better.
Are you using the release build (as in "not Debug") for testing? What numbers are you

[2018-03-02 12:49] joaocc commented on #14563
being addressed here https://github.com/flaper87/pyhelm/issues/9

[2018-03-02 13:18] zaneclaes commented on #1620
Thanks for the tip, @HI0T ! I just tried running that on OSX and, while it succeeded, it generated `.dylib` files as usual. I suspect that the `Makefile` is still detecting `Darwin`, which leads me to believe I could either pursue (1) creating a dockerfile to emulate Linux (2) fiddling with the Makefile to coerce it to link a `.so` using NDK linkers (if that's even possible).

[2018-03-02 14:54] zaneclaes commented on #14402
Success! For future searchers, full instructions follow...

1. Checkout the grpc repo and do the usual `git submodule update --init`
2. Make sure the Android NDK is installed at `$ANDROID_NDK`
3. Modify `./grpc/CMakeLists.txt` to change the `_gRPC_ALLTARGETS_LIBRARIES` in `Unix` to not include `rt` or `pthread`. In my case, it now looks like:
[code]
4. `cd ./grpc`
5. Run:
[code]
5. Run `make grpc_

[2018-03-02 15:18] jtattermusch commented on #1620
@HI0T  I've also been able to successfully build with those instructions, thanks for sharing. Hopefully I'll have some cycles to look into Unity and Xamarin support a bit more (first for Android).

[2018-03-02 15:52] parachutepy commented on #12383
Has there been any resolution on the memory leaks wrt python streaming api? We continue to face this issue with grpcio==1.8.3. Can someone throw some light on this?

A sample repo that we stumbled across when looking for info - https://github.com/d0m3nik/grpc_memleak

[2018-03-02 16:03] levi-rs commented on #14573
This is affecting my team as well.

[2018-03-02 16:08] jtattermusch commented on #14402
@zaneclaes nice work on the blogpost, very useful resources!  One thing I didn't see in the blogpost is a link to the diffs you've made to Grpc.Core (you're mentioning the changes you've done, but a full diff would be very useful - a link to your fork of Grpc.Core on github would be the best).

[2018-03-02 16:16] jtattermusch commented on #14402
To encourage collaboration, I'm making the instructions available in the main repo:
https://github.com/grpc/grpc/pull/14576
Thanks everyone for helping out!

[2018-03-02 16:16] jtattermusch commented on #1620
To encourage collaboration, I'm making the instructions available in the main repo:
https://github.com/grpc/grpc/pull/14576
Thanks everyone for helping out!

[2018-03-02 16:20] d79ima commented on #14378
@jtattermusch With my C# benchmark i am seeing 23K msgs per second using localhost with server doing the streaming.

[2018-03-02 16:28] jtattermusch commented on #14088
Can we get a confirmation that this was fixed?

[2018-03-02 16:35] hhusum commented on #14573
Currently this makes installing TensorFlow 1.6 for macOS through pip fail.

[2018-03-02 16:38] mehrdada commented on #14573
For some reason our build infrastructure did not generate the macOS binary wheels and thus they were not uploaded to PyPI and pip install is trying to compile from source (which should work if you have all the build dependencies installed, but naturally fails otherwise). I am rebuilding macOS packages specifically now to upload to PyPI.

[2018-03-02 16:44] jtattermusch commented on #14402
I guess it's safe to close this issue now (as we have a way to compile now).

[2018-03-02 16:44] #14402 closed

[2018-03-02 17:02] zaneclaes commented on #14402
Thanks @jtattermusch ! You're right, I should do a real fork of the library. There are a few more polish touches I'd like to make to the Core library before posting such a fork; right now, I've got each target compiling separately. The problem is bridging the UnmanagedLibrary to a static library in such a way that doesn't require preprocessor macros, since I wish to compile only one version of the

[2018-03-02 17:03] mehrdada commented on #14573
Should be fixed now. Please retry (ensure pip is not fetching from cache and taking the binary from PyPI).

[2018-03-02 17:08] jtattermusch commented on #14402
@zaneclaes  feel free to share whatever work-in-progress you might have. It would help me to see what pieces I could easily cherrypick into upstream gRPC (my mileage with gRPC c# codebase is pretty good so I'm sure I'd know what cleanup to do ;-) ). If you have two forks currently, that's fine too.

[2018-03-02 17:09] zaneclaes commented on #14402
Okay, will do ASAP! Not sitting in front of the project at the moment.

[2018-03-02 17:10] mehrdada commented on #14563
Probably a dupe of https://github.com/grpc/grpc/issues/14573 and should be fixed now. Please retry (ensure pip is not using previously cached package if it is failing). Let us know if that is fixed for you.

[2018-03-02 17:12] jtattermusch commented on #14402
@zaneclaes  thanks! Btw, preprocessor macros are not necessarily a bad thing  - there's going to be more considerations in play. I'll basically try to think of what would be the best way to define DllImports and native delegates for all the platform we'd want to support (and if it becomes too repetitive, we can use other approaches like codegenerating platform-specific definitions from a template)

[2018-03-02 17:13] mehrdada commented on #14573
@hhusum @levi-rs can y'all retry and let me know if it got fixed for you?

[2018-03-02 17:15] zaneclaes commented on #14402
Very true. More accurately described, the problem is that I'd like to use the Unity preprocessor macros which already come prepackaged for each platform. However, doing so means that we need to either (1) make the Grpc.Core code live in the actual Unity project [*no*] or (2) bridge the defines from Unity into the Grpc.Core DLL's code. I'm not sure if (2) even makes sense, so instead, I was naively

[2018-03-02 17:19] mehrdada commented on #14563
@joaocc I just tried installing on macOS, and it seems like there's a misconception here: `grpc` package is not us at all :-)

This gRPC project is served under `grpcio` PyPI package, not `grpc`.  I see `pip` install ends up fetching `grpcio` too, but it is depending on a very old version of that, and but nevertheless that's not where it is failing. It's failing on `grpc` compilation, which is not

[2018-03-02 17:19] #14563 closed

[2018-03-02 18:10] nathanielmanistaatgoogle commented on #12383
There have definitely been leak fixes since 1.8.3 - do you see any improvement if you work with [`grpcio` 1.10.0](https://pypi.python.org/pypi/grpcio/1.10.0)?

[2018-03-02 19:00] gwihlidal opened #14578 "Large number of timing threads created, regardless of async server threads, low performance"
### What version of gRPC and what language are you using?

v1.7.2 c++

### What operating system (Linux, Windows, …) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

 MSVC 2017

### What did you do?

I implemented an async service so I could explicitly control the threading (to get around dynamic thread pool spawning a large number of thr

[2018-03-02 19:01] gwihlidal commented on #14492
Hi @vjpai - I created another issue for the timing thread problem (which is higher priority than this issue).

https://github.com/grpc/grpc/issues/14578

[2018-03-02 19:28] levi-rs commented on #14573
@mehrdada Works for me! Thank you for the quick turnaround.

[2018-03-02 19:31] yashykt commented on #14565
+ @sreecha

[2018-03-02 19:57] adelez commented on #14241
And this one as well. :)

[2018-03-02 20:01] adelez opened #14580 "bazel test failure: uri_fuzzer_test failed under asan"
https://source.cloud.google.com/results/invocations/64d73663-79a0-4be0-a67c-545146761a49/targets/%2F%2Ftest%2Fcore%2Fclient_channel:uri_fuzzer_test@poller%3Depoll1/log

=================================================================
==18==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 105 byte(s) in 1 object(s) allocated from:
    #0 0x5049e3  (/b/s/w/ir/run/bazel-out/k8-fastbuild/b

[2018-03-02 20:03] llchan commented on #10299
There are several PRs addressing this issue (#13500, #11558, #10923, etc). Is there something fundamental blocking them from being merged? Happy to help if there's anything I can do, just seems redundant to open yet another PR.

[2018-03-02 20:04] adelez opened #14581 "Bazel test failure: fake_resolver_test fails under asan"
https://source.cloud.google.com/results/invocations/64d73663-79a0-4be0-a67c-545146761a49/targets/%2F%2Ftest%2Fcore%2Fclient_channel%2Fresolvers:fake_resolver_test@poller%3Depoll1/log

[2018-03-02 20:10] ahmadsherif commented on #14499
We tried gRPC 1.10 and it seems to fix our issue, so I guess we can close this one. Thanks, guys.

[2018-03-02 20:10] #14499 closed

[2018-03-02 20:22] joaocc commented on #14563
lol. you are right. sorry about the confusion.

[2018-03-02 21:15] nathanielmanistaatgoogle commented on #12383
@parachutepy: my immediate thought is "take gRPC out of the problem". While gRPC and Protocol Buffers are intended for use with one another, they are separable, and in the course of investigating a bug it's definitely worth separating them. You say "the memory used to convert the 2MB protobuf message to python dict is around 500 MB when using the google.protobuf.json_format.MessageToDict" - do you

[2018-03-02 22:09] dpadliya commented on #8682
Hi - @wenbozhu @zinuga Can I please get whitelisted?  I'd like to test out a grpc client.

[2018-03-02 22:10] yang-g commented on #14462
You will have to be more concrete on what is crashing and how. Or you can provide an example code to reproduce the issue. I do not see how a crash can happen as you described as string_ref is essentially a pointer and an integer.

Usually when we saw issues like this before, it is because memory corruption in other places, or maybe reusing a ClientContext or something.

[2018-03-02 22:10] #14462 closed

[2018-03-02 23:34] dcow commented on #14369
@muxi I've started working on this today. It's a little hairier than I initially imagined.

[code]

Is there any case where someone would provide a host address with a scheme? Isn't `https` the only scheme compatible with grpc?

[2018-03-02 23:52] dcow commented on #14369
@jcanizales question for you. You've put a few `TODO`s in the host handling code in grpc obj-c. Since I'm touching this code, is there a vision you had for how it would all work once the todos are addressed? I'm curious if I can address any of that right now.

For example in grpc call:

[code]

I can put logic in the same place easy, but it appears the logic is actually different between grpc call

[2018-03-03 00:33] muxi commented on #14369
We do support a few schemes. See https://github.com/grpc/grpc/blob/master/doc/naming.md

Please ignore that particular TODO. Those few lines should have been deprecated by a very recent change (as you can tell `host` is not being used thereafter). I'll remove that TODO with a PR.

[2018-03-03 10:31] tomgr opened #14587 "Default thread stack size on Mac OS X"
### What version of gRPC and what language are you using?
1.10.0 C++

### What operating system (Linux, Windows, …) and version?
Mac OS X

### Description
On Mac OS X, the default stack size for non-main threads created using pthread_create is fixed at 512KB and cannot be altered by any calls to, for example, setrlimit. This means that threads created by GRPC to handle requests have a relatively s

[2018-03-03 11:09] mohamed-moanis commented on #5693
Since there is no update on this, I can work on it. I was looking for GSoC this year and this looks a good point to start.

I just have a question, should the `grpc::string ServerContext::peer() const ` be updated with new signature to return the the parsed string or that should go into a new method.

[2018-03-03 13:13] hhusum commented on #14573
Works for me as well! Good job.

[2018-03-03 15:33] mspandit commented on #9987
We were seeing this error in our environment but were able to resolve it by unsetting the http_proxy and https_proxy environment variables:
[code]

[2018-03-03 18:37] ghostwriternr commented on #14294
Hey @nathanielmanistaatgoogle, I'd like to pick up this issue. I tried making the appropriate changes today, but I haven't been successful in getting to build them successfully using [`task_runner.py`](https://github.com/grpc/grpc/blob/master/tools/run_tests/task_runner.py).

It's internally using the Dockerfile [`grpc_artifact_python_manylinux_x64`](https://github.com/grpc/grpc/blob/master/tools/

[2018-03-04 09:22] neogeno commented on #10062
@feulf It would seem that the GRPC_SSL_CIPHER_SUITES is an environment variable used by GRPC to determine what cipher suites / encryption algorithms to use when connecting over TLS. It is explained here https://github.com/grpc/grpc/blob/master/doc/environment_variables.md.

LND allows one any one of 4 cipher suites mentioned here https://github.com/lightningnetwork/lnd/blob/master/lnd.go#L77 and s

[2018-03-04 09:44] mohamed-moanis commented on #5693
For example will this be ok:
[code]

[2018-03-04 11:45] pavel-odintsov commented on #5693
Looks great!

On Sun, 4 Mar 2018 at 09:44, Mohamed <notifications@github.com> wrote:

--
Sincerely yours, Pavel Odintsov

[2018-03-04 20:34] joshuasiler commented on #13673
Having these same problems with the install on Ubuntu. File downloads fine with wget, but install fails saying it can't get the file https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.9.1/node-v57-linux-x64-glibc.tar.gz

[2018-03-04 22:26] airtongodoy commented on #14133
Me too! Kaspersky does not allow installation, but it was deactivated and it was successful !!!

[2018-03-05 02:07] pinguo-wangzhong commented on #14573
Works for me ! Cool

[2018-03-05 08:38] ciiiii opened #14592 "How can i do grpc unit test with python"
### What version of gRPC and what language are you using?
 1.10.0, python

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python3.6

### What did you do?
 unit test

### What did you expect to see?
 how to do grpc unit test

### What did you see instead?
code like this
https://github.com/grpc/grpc/blob/1b4be41a7212fa7ab18f73e1f8cebc12ddeffc0f/src/python/grpcio_t

[2018-03-05 09:15] Serapke opened #14593 "build failed on macOS"
build failed after the following commands:

 $ git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc
 $ cd grpc
 $ git submodule update --init
 $ make

with the following errors:

[code]
System:
macOS High Sierra

[2018-03-05 13:20] juanjoDiaz commented on #10168
Having the same issue on C++.

[2018-03-05 13:58] parachutepy commented on #12383
@nathanielmanistaatgoogle We did try to remove gRPC and use an intermediary file to hold the json/dict's, the memory usage comes down drastically(150-200MB). But the time for the file creation operation is around 6 minutes.

Just to add a little background might help : We are trying to process data from a streaming gRPC api in an AWS Lambda fucntion. So  there is time constraint of 5 minutes and m

[2018-03-05 14:56] nathanielmanistaatgoogle opened #14595 "Greater than expected memory use"
This issue continues the discussion started [here](https://github.com/grpc/grpc/issues/12383#issuecomment-369960118).

[2018-03-05 14:59] nathanielmanistaatgoogle commented on #12383
@parachutepy: since your scenario seems to involve greater-than-expected memory use rather than a leak of memory [I've broken it out into a separate issue](https://github.com/grpc/grpc/issues/14595). Let's continue our discussion there.

@d0m3nik: any update from your side? Are you still affected by this issue? Were you able to strip out the Protocol Buffers serialization and deserialization?

[2018-03-05 15:01] nathanielmanistaatgoogle commented on #14595
@parachutepy: are you able to share any code with us? Would you be able to share any data with us? Are you able to make statements such as "the attached two megabytes, when deserialized into a `<my_module_pb2.MyMessage>`, takes up three hundred megabytes in the Python interpreter, but I think it should only take up thirty"?

[2018-03-05 15:57] jtattermusch opened #14596 "tools/run_tests/helper_scripts/run_grpc-node.sh broken on all builds: Error: Cannot find module 'google-protobuf'"
It has been failing for the past few days.

[2018-03-05 15:57] jtattermusch commented on #14596
CC @dgquintas

[2018-03-05 16:10] jtattermusch commented on #14491
@mehrdada  I understand these tests might be hard to fix, but your resolution "let's kill the tests in July" basically means we're going to continue have this flakiness for the next 3 months and for those 3 months we are not going to do anything about them - and that approach is problematic for our flake-fighting effort (especially because this is one of our most common flakes currently).
Let's co

[2018-03-05 16:17] jtattermusch commented on #14491
The data:
over the last month, our biggest offenders were:
(windows) py35.test.unit.beta._face_interface_test.DynamicInvokerFutureInvocationAsynchronousEventServiceTest
(windows) py35.test.unit.beta._face_interface_test.MultiCallableInvokerFutureInvocationAsynchronousEventServiceTest

These two test represent 90% of all our python flakes over the last months. Can they be disabled now? (Disabling o

[2018-03-05 16:21] jtattermusch commented on #14549
@ncteisen   friendly ping.

[2018-03-05 16:23] jtattermusch commented on #14362
Seen on master:
https://sponge.corp.google.com/invocation?id=77c0694f-57ad-494f-8a66-aa3577ec92ad

[2018-03-05 16:24] jtattermusch commented on #14362
@AspirinSJL , we occasionally see this on master and  it can be reproduced locally. Can you take a look?

[2018-03-05 16:44] mehrdada commented on #14491
@jtattermusch I completely agree with you. I think we should kill the tests *now* and the Beta API in July. I apologize if I did not phrase it clearly. My understanding in the Python meeting was that @nathanielmanistaatgoogle was going to disable the tests.

[2018-03-05 16:52] dgquintas commented on #14596
Yes, I notified @nicolasnoble  over the weekend.

[2018-03-05 17:09] xgess commented on #14489
@Dhara-Openxcell i saw similar issues doing this from python, and https://github.com/lightninglabs/lightning-coindesk/issues/2#issuecomment-354727899 pointed me to a fix: adding `GRPC_SSL_CIPHER_SUITES = "HIGH+ECDSA"` to the environment. best of luck.

[2018-03-05 17:12] nathanielmanistaatgoogle commented on #14491
I confirm that I intend to remove the tests any day now.

[2018-03-05 17:16] AspirinSJL commented on #14362
Sure, I'm checking it.

[2018-03-05 17:20] ncteisen commented on #14549
I have set aside tomorrow after the team meeting to dig into this (I am working on slides and gathering data till the meeting most likely)

[2018-03-05 17:49] AspirinSJL commented on #14362
I'm having problem building with asan after upgrading my OS. After ignoring all the make warnings and switching to clang-5.0, I'm still having numerous `undefined reference to `__sanitizer_cov_module_init'` issues. Trying to fix this first.

[2018-03-05 18:02] AspirinSJL commented on #14362
Fixed the asan build issue. Checking the original problem now.

[2018-03-05 18:10] AspirinSJL commented on #12917
Seen again when trying to reproduce #14362 locally using `tools/run_tests/run_tests.py -lc++ -casan -r ".*RpcDeadlineExpires/2" --force_use_pollers epollex -n inf -S`.

[2018-03-05 18:15] #14581 closed

[2018-03-05 18:16] AspirinSJL commented on #14362
@sreecha Actually, when I am trying to reproduce this issue, I find that the test failure is overwhelmed by #12917. The flakiness is around 1/400. Maybe we need to fix that one first?

[2018-03-05 19:03] jtattermusch commented on #14491
@mehrdada  @nathanielmanistaatgoogle  thanks!

[2018-03-05 20:14] SotoiGhost commented on #14503
@muxi I finally could resolve the problem.

My problem was with this [method][1] in this [line][2]. gRPC was not finding the **roots.pem** file, was looking for it inside of **gRPCCertificates.bundle** folder and I added it at the root level of resources, I just created a folder named **gRPCCertificates.bundle** and added roots.pem into it and everything worked as expected.

Due to this, `_channel

[2018-03-05 21:14] muxi commented on #14503
@SotoiGhost Thanks a lot for sharing with us. What you said makes sense. I'll make a PR to fix that..

[2018-03-05 21:56] alertedsnake commented on #9576
re: `construct_service_rpc_handler_from_<your service's name>_servicer` - is this something that's planned?  The 'adder' function is a bit awkward because of how it restricts things like this, and working around it by using wrapping or delegating objects as you suggest is really awkward.

[2018-03-05 23:28] ZhouyihaiDing commented on #5983
I am looking into it.
I haven't find a good place to place the grpc_php_plugin elegantly like other languages.
Eg, if downloading the plugin as php extension, the command may look like `php -d extension=protoc_php_plugin.so xxx.php -I ../protos --php_out=lib --grpc_out=lib ../protos/helloworld.proto`, which the user must create an empty `xxx.php` otherwise php program will hang.

[2018-03-05 23:39] #13285 closed

[2018-03-05 23:44] aamitdb commented on #8767
@mehrdada is there a process to promote these APIs from experimental to stable? I'd like to start using the interceptor API and can deal with the API details changing, but I'd prefer that the overall concept didn't disappear from python. Both the client and server ones are marked as experimental here.

[2018-03-06 00:45] SotoiGhost commented on #14503
@muxi yw

I updated the [test case][1], I added an Xcode project so you can debug your native code running the Xamarin project if you need to test something. Follow this steps to able to debug the gRPC code with Xcode:

1. Clone/Download the test case.
2. Open your favorite Terminal app and go to **externals** folder.
3. Run `make` (make sure you have [`pod`][2] command installed) and wait for the

[2018-03-06 00:46] muxi commented on #14503
Appreciate the help Israel.

[2018-03-06 01:20] ZhouyihaiDing commented on #14534
Hi @dwsupplee ,
I run the same script provided by the upstream issue in my GCE for 100 times with both grpc and rest transport:
`for i in 'seq 1 100'; do php -q write-sub.php; done | tee result`
[code]
I get the result like this:
REST:
[code]
gRPC with protobuf c_extension:
[code]
Both REST and gRPC transport have the same long latency for the initiate RPC. Although fetchAuthToken doesn't take muc

[2018-03-06 05:06] srini100 commented on #14523
This issue could be related to [this](https://github.com/grpc/grpc/issues/14578) where large number of timer threads are getting created in C core which doesn't look normal.

[2018-03-06 08:21] svycka opened #14601 "php randomly fails with Segmentation fault when grpc extension is enabled"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04.4

### What runtime / compiler are you using (e.g. python version or version of gcc)
tested with php7.2 and 7.1

### What did you do?
executing any php script or just `php -m` when grpc enabled random

[2018-03-06 09:26] scinart commented on #10727
#12968 is a duplicate of this issue, and this bug still exists in [v1.9.1](https://github.com/grpc/grpc/releases/tag/v1.9.1)!

[2018-03-06 09:56] hongliping7 opened #14602 "how can I set timeout for each request in asynchronous client?"
Hi,
    I used asynchronous client for gRPC，but I can't set timeout for each request，when I used synchronous client, I can set the timeout through the ClientContext.set_deadline()，but this method does not take effect in  asynchronous client；
   I worried about when the gRPC server crash， then some request will be in the completion queue for ever, however I hope that when the request in the complet

[2018-03-06 09:59] luomavaltteri commented on #10168
Yup, C++ here also. Doesn't throw error if port is already taken when building server.

[2018-03-06 13:36] zaneclaes opened #14603 "Unity: grpc_csharp_ext for Emscripten / WebAssembly"
### What version of gRPC and what language are you using?
 1.8.3 / csharp

### What operating system (Linux, Windows, …) and version?
 OSX, High Sierra (Latest)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 cmake

### Request
Very similar to https://github.com/grpc/grpc/issues/14402 -- I'd also like to compile for emscripten / web assembly for use in a game bu

[2018-03-06 14:27] whiplash86 commented on #14391
@ncteisen any updates on this?

[2018-03-06 15:40] markdroth opened #14604 "Msan C failure"
https://source.cloud.google.com/results/invocations/3ccdbcb7-adab-46c3-b1cd-685e45a5719b/targets

The log shows what looks like an msan failure in the protobuf code, but it's not at all clear which test triggered the failure.  The log information surrounding the failure looks like build output, not test output, so I have no idea what's going on here.

Here's the relevant portion of the log:

[code

[2018-03-06 15:52] njovy commented on #12172
@samskiter Could you highlight which part did you edit to avoid this error?

[2018-03-06 16:02] parachutepy commented on #14595
@nathanielmanistaatgoogle : Unfortunately, will not be able to share code/data. One way out for us(picked up from your earlier statement of storing in file), which kind of helped is, post the streaming return from server, we altered our code to go against only the data that was needed for our application which greatly reduced the memory and time taken to process.

I feel the issue stemmed from the

[2018-03-06 16:18] phlippieb commented on #12172
@njovy I believe @samskiter added quotes ("...") around the parts that start with exclamation marks.

[2018-03-06 16:48] nathanielmanistaatgoogle commented on #14595
Thanks for following up with us. Closing as it sounds like there's nothing remaining that is actionable for us on the gRPC side at this time (but if in the future you see us wasting memory please let us know!).

[2018-03-06 16:48] #14595 closed

[2018-03-06 17:23] nathanielmanistaatgoogle commented on #14592
My preferred means of locally running the unit tests is `./tools/run_tests/run_tests.py --language=python --compiler=all_the_cpythons --newline_on_success` from repository top-level.

[2018-03-06 17:40] jasonchangliu commented on #14477
@apolcyn (I'm working with @duelinmarkers on this) We still see the issue on `1.10.pre1` and `pre2`. I've narrowed it down to an issue when we've specified channel_credentials. So, with a ruby client and java server, we've found that we only observe the user-agent growth issue when using SSL and goes away when SSL is removed, everything else the same. This is why the greeter server and client exam

[2018-03-06 17:55] muxi commented on #12172
@phlippieb Yes that would work but we would really prefer not to do it because it breaks the versioning of those pods. We still prefer to wait for the patch from Cocoapods.

[2018-03-06 18:56] yihuazhang commented on #14604
I was able to reproduce the error in a clean repo by running the following commands.

1) git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc
2) cd grpc
3) git submodule update --init
4) make
5) cd third_party/protobuf
6) ./autogen.sh
7) mkdir -p /var/local/git/grpc/libs/msan/protobuf
(cd third_party/protobuf ; CC="clang" CXX="clang++" LDFLAGS="-fsanitize=memory -DGTEST_HAS

[2018-03-06 19:40] yihuazhang commented on #14604
It seems that some tests executed in MSAN test can be skipped in different PRs, and whether or not those tests will be triggered depend on the files changed in PR. I ran a kokoro test on a test PR (#14608), and it basically skipped all tests in MSAN that were executed in #14400.

[2018-03-06 19:46] matt-kwong commented on #14604
Yes, the build gets skipped altogether because only the README was changed. The MSAN build in your PR fails when building.

I was able to get the build to fail locally on master with `make CONFIG=msan CC=/usr/bin/clang-3.8 CXX=/usr/bin/clang++-3.8`. I'm not sure why this doesn't affect our master builds. Looking into it.

[2018-03-06 19:50] ZhouyihaiDing commented on #14601
I think the kernel version may be related.
Currently [it doesn't work on RHEL6 to install the grpc extension by pecl](https://grpc.io/docs/quickstart/php.html#using-pecl). `042stab127.2` is the latest version of RHEL6 kernel I think.
Can you please install the grpc extension by [built from the source](https://grpc.io/docs/quickstart/php.html#build-from-source-with-grpc-c-core-library) and then che

[2018-03-06 20:06] yihuazhang commented on #14604
Thanks Matt. Do you think https://github.com/google/protobuf/issues/1099 could be related to the issue we are investigating here?

[2018-03-06 20:39] njovy opened #14612 "When gRPC server is not available, an iOS client throws an Internal instead of Unavailable."
### What version of gRPC and what language are you using?
gRPC 1.10.0 and Objective-C

### What did you do?

1. Turn off a grpc server
2. Make a request to that endpoint from an iOS client
3. The client throws an Internal error( code 13).

### What did you expect to see?
 When a server is not available, it should throws an Unavailable (code 14).

### What did you see instead?
 The client throws an

[2018-03-06 20:59] matt-kwong commented on #14604
I don't think they're related. It seems like their issue is related to a compilation issue with not using a proper `libc++` for MSAN. I think we set up ours correctly in https://github.com/grpc/grpc/blob/master/tools/dockerfile/test/cxx_jessie_x64/Dockerfile#L76, or at least we haven't had any issues with it for a while. I tried reproducing the error using https://github.com/grpc/grpc/issues/14604

[2018-03-06 21:09] AswathKiruba commented on #5617
I am still having this issue, even after uninstalling and installing grpcio. Could you please let me know what needs to be done.

[2018-03-06 21:13] nathanielmanistaatgoogle commented on #5617
@AswathKiruba: in the environment in which you're having this trouble, what is the output of `pip freeze`? Within the Python interpreter, what is the output of `dir(grpc)`?

[2018-03-06 21:52] nicolasnoble commented on #14604
Right, okay. This isn't a new problem at all. We've had issues with making protoc run under msan before, and as a result, we decided to not run msan tests that involve any protobuf code.

The rootcause is basically that we try to build protoc with msan options - because we're in msan build - but it just won't work there. The reason is indeed because it requires more tweaks to compile and run prope

[2018-03-06 21:54] nicolasnoble commented on #14604
To further explain what I am talking about:

-) have a script that generates the proper files to be committed into the repository
-) have a sanity test that makes sure that if you regenerate these files, they don't change, so people don't forget to regenerate them
-) commit the generated files into the repository

[2018-03-06 21:58] dgquintas opened #14614 "Data race in client_lb_end2end_test --gtest_filter=ClientLbEnd2endTest.PickFirstBackOffInitialReconnect"
The following should repro:
`./tools/run_tests/run_tests.py -l c++ -c tsan -r PickFirstBackOffInitialReconnect --force_use_pollers=epollex -n inf -a 10 -S`

https://sponge.corp.google.com/target?tab=Test+Cases&sortBy=STATUS&show=ALL&id=9b4bd791-3a08-4753-b6d1-d11daa2364d4&target=github/grpc/cpp_linux_tsan_native&searchFor=

https://sponge.corp.google.com/invocation?tab=Build+Log&id=9b4bd791-3a08-4

[2018-03-06 22:23] nicolasnoble commented on #14604
So double checking your PR, you already did all of the above. I am not sure why protoc is being invoked at all then...

[2018-03-06 22:24] sebbov commented on #14056
What does `GRPC_ENABLE_FORK_SUPPORT` exactly do and what am I losing by disabling it as a work-around to https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4992?

[2018-03-06 22:42] yihuazhang commented on #14604
Do you know what part of grpc build system determines whether protoc is being invoked or not? In other words, what requirements does the PR need to satisfy in order not to trigger the protoc test?

[2018-03-06 23:02] yihuazhang commented on #14604
It seems Makefile contains the information that I am looking for. Let me look more into it.

[2018-03-06 23:07] srini100 commented on #14056
@sebbov GRPC_ENABLE_FORK_SUPPORT was added to support usage where fork is not followed by exec. A pthread_atfork() handler was added to cleanup exiting threads before fork and manage the FDs after fork. This change introduced the deadlock bug which users can run into when doing fork/exec. As a quick workaround, GRPC_ENABLE_FORK_SUPPORT when set to false doesn't invoke this new logic. At this point

[2018-03-07 00:14] srini100 commented on #14489
@Dhara-Openxcell Can you confirm if adding GRPC_SSL_CIPHER_SUITES = "HIGH+ECDSA" to the environment worked?

[2018-03-07 00:17] yihuazhang commented on #14604
In run_tests_matrix.py, it determines the tests that will be executed and it uses filter_tests API to skip the tests that are not supposed to be executed. Since #14400 touches many files, unfortunately none of the tests will skipped (len(relevant_jobs) = len(jobs) at line 538). One of the executed tests is run_tests_c_linux_msan_native (that should be skipped in order to not trigger protoc test) w

[2018-03-07 00:28] matt-kwong commented on #14604
`run_tests_c_linux_msan_native` is a test suite that runs `test/core` tests using Msan. It shouldn't be skipped at all for your PR, since you're changing changes to file in `src/core`. Before the changes in your pull request, `run_tests_c_linux_msan_native` wouldn't build protoc because it wasn't necessary. Something in your PR must've added or changed a core test so that protoc is required.

I th

[2018-03-07 01:47] matt-kwong commented on #14604
After talking with @nicolasnoble, we think the problem is that the changes you added in `build.yaml` add tests that with `language: c++`. This shouldn't add tests to `run_tests_c_linux_msan_native`, but we think that one of the tests you added shares a src with a `language: c` test, so that make thinks it should build protoc.

I tried changing everything you added to `build.yaml` to `language: c`

[2018-03-07 05:06] Dhara-Openxcell commented on #14489
@srini100 yes, i have checked this, but i am getting an error GRPC_SSL_CIPHER_SUITES = "HIGH+ECDSA" NOT DEFINED.

@xgess Thank you for your answer.

[2018-03-07 05:59] dyadaval opened #14619 "gRPCServer fails to parse PROXY header, when needing to get real Client IP"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-03-07 06:46] zhuhao-dev opened #14620 "when i call writeDone() then called Asyncnext() function on ubuntu it crash,what should i do?"
as title describe, on ubuntu system , i used grpc , but when i want to finsh write ,I called writeDone() function, and then called AsyncNext() function to get the tag ,but is crash , log as follow ,
[code]

could any one help me ?

[2018-03-07 06:55] yang-g commented on #14620
I would try to run your binary with some memory checker to understand the problem. From this stack trace, I can only guess that the ClientContext object may have been deleted...

[2018-03-07 07:10] svycka commented on #14601
Compiling from source did not help. The same problem randomly fails with `Segmentation fault`.

[2018-03-07 08:02] ZhouyihaiDing commented on #14601
I'll try to reproduce it.
In the mean time, can you please try to install old version of grpc to find out is this segment fault introduced in 1.9.0 or is it exist before?

[code]
Or download the github master and checkout to v1.8.0, and then build from the source.

Thank you for your help!

[2018-03-07 08:36] svycka commented on #14601
Okay seems like introduced in 1.7.0
tested with those versions:
[code]

[2018-03-07 09:00] CabuxaMapache commented on #13657
@murgatroid99 Same isuue here, here is the output:
![2018-03-07 09_57_21-npm_error](https://user-images.githubusercontent.com/6920291/37082981-52f5248a-21ee-11e8-8651-598906b083b5.png)

[2018-03-07 09:06] CabuxaMapache commented on #13657
@torfhub Did you solve this?

[2018-03-07 11:22] aamitdb opened #14621 "Interceptor API converts blocking calls into using managed call API"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes I believe so. This is a feature request about changing the current interceptor implementation, with an actionable goal.

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing li

[2018-03-07 12:32] mehrdada commented on #14621
We decided to opt for the new behavior because the original design required authors to implement two interceptor functions that have a similar design and is basically a performance optimization. I thought we can always add an interface that lets the user special case blocking if their interceptor supports blocking explicitly, but fall back on the future-based operation if that interface is unspeci

[2018-03-07 12:38] samskiter commented on #12172
@phlippieb is right. You need to add quotes around the relevant parts in both files. after the pod install runs, the lock file will be reverted so this isn't a permanent fix :(

[2018-03-07 12:40] mehrdada commented on #8767
@aamitdb The intent here is to let us have some design flexibility if some minor, but not completely backward-compatible API change (mostly behavior change) occurs for two or three more releases (I don't know about Go and Java, as they have had interceptors for a long time--I'd file an issue requesting stabilization in their respective issue trackers), but it is highly unlikely that they will go a

[2018-03-07 14:26] AswathKiruba commented on #5617
@nathanielmanistaatgoogle: Thanks for your reply. The output of pip freeze is
alabaster==0.7.10
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
asn1crypto==0.22.0
astroid==1.5.3
astropy==2.0.2
Babel==2.5.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bitarray==0.8

[2018-03-07 14:58] nweidmann opened #14622 "exception thrown from stub code results in server crash"
### What version of gRPC and what language are you using?

Master C++

### What operating system (Linux, Windows, …) and version?

 Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

VisualStudio 2015

### What did you do?

stub method throws exception:

throw std::exception("Hello");

### What did you expect to see?

I expected the client application to ge

[2018-03-07 15:06] markdroth commented on #14604
Changing the build targets to language=C instead of C++ is probably fine for the current PR, but we are ultimately going to want to convert those tests to C++ tests using gUnit.  So I think we need to find a structural fix for this as well.

[2018-03-07 15:11] nathanielmanistaatgoogle commented on #5617
@AswathKiruba: are you able to work in a virtual environment? If so, are you able to reproduce the trouble you're having there?

[2018-03-07 15:12] nweidmann opened #14623 "Some release & debug libraries have the same name (VisualStudio / C++)"
### What version of gRPC and what language are you using?

Master C++

### What operating system (Linux, Windows, …) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

 VisualStudio 2015

### What did you do?

Built gRPC (according to https://github.com/grpc/grpc/blob/master/INSTALL.md) using:

1. cmake .. -GNinja -DCMAKE_BUILD_TYPE=Release
2.

[2018-03-07 15:13] yihuazhang commented on #14604
To wrap up the discussion, the problem as @matt-kwong pointed out, is caused by one lib (alts_test_util) in build.yaml uses language: c++ which also depends on other ALTS targets that have language : c. The mix use of different languages triggered the protoc rebuild (I still do not fully understand why it is the case). After changing the lib to use language: c, the problem is resolved. All tests c

[2018-03-07 15:25] AswathKiruba commented on #5617
@nathanielmanistaatgoogle : I am trying the same in my virtual environment. Will keep you posted. Thank you.

[2018-03-07 15:40] markdroth commented on #14604
We will eventually want all of this code converted to C++, even alts_test_util.  This doesn't need to be a blocker for the current PR, but we do still need to find a way to eventually have C++ targets without triggering this msan problem.

[2018-03-07 16:12] yihuazhang commented on #14604
Sorry Mark, I did not see your comments. Yes, I agree we need a structural fix for this problem by finding out the real cause that triggers protoc rebuild.

[2018-03-07 16:32] mtau87 opened #14624 "build error in ubuntu 16.04 64bit"
build failed after the following commands:

$ git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc
$ cd grpc
$ git submodule update --init
$ make

with the following errors:

[MAKE]    Generating cache.mk
[HOSTLD]  Linking /home/ubuntu/grpc/bins/opt/grpc_cpp_plugin
/home/ubuntu/grpc/objs/opt/src/compiler/cpp_plugin.o: In function `ProtoBufMethod::get_output_type_name[abi:cx

[2018-03-07 17:01] miensol commented on #8682
Hi @wenbozhu  @zinuga. Could you please whitelist me too? We're doing lots of small projects and I'm eager to replace some of our RPC over REST APIs with grpc.

[2018-03-07 17:21] vjpai commented on #14622
When you say "stub code", do you mean the method handler in the service? We
do catch exceptions in the C++ sync server and return them with a failed
status, but we cannot return the content of the exception since it might be
private to the server. You are certainly welcome to wrap your method
handler internal code in a catch block if you need to see the exception
content.

So the crash is surprisi

[2018-03-07 17:47] nathanielmanistaatgoogle commented on #9576
@alertedsnake: it's not currently planned... and the whole thought of it may be obviated by the recent introduction of interceptors. I'd suggest checking them out.

[2018-03-07 17:48] nathanielmanistaatgoogle commented on #9576
@mehrdada: is there anything about this issue worth keeping open now that interceptors exist?

[2018-03-07 17:51] jtattermusch commented on #14596
Seems fixed.

[2018-03-07 17:51] #14596 closed

[2018-03-07 17:51] alertedsnake commented on #9576
@nathanielmanistaatgoogle Ah, of course!  That's probably the right way to do it.

[2018-03-07 17:52] mehrdada commented on #9576
I don't have much to add to this except to agree with @nathanielmanistaatgoogle that interceptors introduced a mechanism to add before and after logic for RPCs. We are not currently planning an ability to intercept the add function though. I'm closing this issue.

[2018-03-07 18:40] ZhouyihaiDing commented on #14534
According to the upstream issue, startBatch latency is introduced on the server side, not caused by gRPC.

[2018-03-07 18:42] jtattermusch commented on #14604
Looks like other have better mileage with this problem so I'm unassigning myself. Let me know in case you need me to get involved.

[2018-03-07 18:44] nicolasnoble commented on #14604
The "C" tag is now a complete misnomer. The keyword "language" too. The
intend now is more "class" or "category" instead of "language", and "core"
instead of "C".

Luckily, we will rid ourselves of this and just switch to use bazel.

On Wed, Mar 7, 2018 at 10:43 AM, Jan Tattermusch <notifications@github.com>
wrote:

[2018-03-07 18:57] alertedsnake commented on #9576
Actually, I don't think Interceptors clearly solve this use-case.  Unless I'm missing something (the docs could be a lot better here), there's no way within the interceptor to know your position in the chain of interceptors (thus making the "after" case difficult to do reliably), and I don't see a way to inspect the context from within the interceptor, so you can't actually look at the response co

[2018-03-07 19:03] muxi commented on #12172
An easier way is to remove `Pods/` and `Podfile.lock` before `pod install`

[2018-03-07 20:07] ncteisen commented on #14453
I ran:

`tools/run_tests/run_tests.py -l c -c dbg -r 'combiner_test' -n inf -S -a 20 --force_use_pollers poll`

and got 50 clean runs. Also, is this still showing up on our dashboards? I can't see it, so maybe safe to close?

[2018-03-07 20:12] ncteisen opened #14627 "Bazel failure on MacOS"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
yes

### What version of gRPC and what language are you using?
 HEAD, C++

### What operating system (Linux, Windows, …) and version?
 MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
[code]

### What did you expect

[2018-03-07 20:15] ncteisen opened #14628 "Bazel Failure on Linux"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 yes

### What version of gRPC and what language are you using?
 HEAD, C++

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
`bazel build test/core/avl:avl

[2018-03-07 20:21] dgquintas commented on #14453
50 is not a lot. I routinely go into the thousands or tens of thousands before reproducing a flake. Give it some hours.

BUUUT, http://go/grpc-test-failure-history indicates it hasn't happened since Feb 15, so yeah, closing.

[2018-03-07 20:21] #14453 closed

[2018-03-07 20:27] nicolasnoble commented on #14628
This doesn't seem you are running the build on the cloud - could you try
removing the file tools/bazel.rc and tell me if it help ?

On Wed, Mar 7, 2018 at 12:15 PM, Noah Eisen <notifications@github.com>
wrote:

[2018-03-07 20:30] ncteisen commented on #14628
So I got this:
[code]

So then I did

[code]

And it worked!! Nice quick fix Nico

[2018-03-07 20:40] nicolasnoble commented on #14628
Right - this is a known failure on some versions of Linux if you are using
local builds. Don't commit the change, but this is a separate problem, tied
with Debian. Right now people should rather try the cloud builds instead :)

On Wed, Mar 7, 2018 at 12:30 PM, Noah Eisen <notifications@github.com>
wrote:

[2018-03-07 20:42] mehrdada commented on #9576
@alertedsnake You cannot tell your position within an interceptor, almost entirely by design: it should be a black box to the interceptor where it is, who invokes it, and what the continuation actually invokes, and the interceptor registration process ensures its place in line of interceptors. If you want an interceptor to run first, you should register it as the first interceptor.

I assume you a

[2018-03-07 21:59] ncteisen commented on #14628
Sounds good, thanks for the tips. Closing

[2018-03-07 21:59] #14628 closed

[2018-03-07 22:04] kpayson64 opened #14631 "FAILED: build_artifact.csharp_ext_windows_x86"
https://source.cloud.google.com/results/invocations/17b15027-59e0-4b80-8163-e5a11e4e1549/targets/grpc%2Fwindows%2Fpull_request%2Fgrpc_build_artifacts/log

[code]

[2018-03-07 22:50] prateekr opened #14633 "g_core_codegen_interface can be null in metadata_map destructor"
Version: 1.10.0
Language: C++

Currently metadata_map requires g_core_codegen_interface to be initialized when destructed, which is not guaranteed by the class itself.
https://github.com/grpc/grpc/blob/474c5950686e3962bd339c93d27e369bf64f568f/include/grpcpp/impl/codegen/metadata_map.h#L31-L33

I'm running into this issue from creating a unit test for a grpc server class.  I.e. when I initialize ::

[2018-03-08 00:34] aamitdb commented on #14621
That would work.

I don't understand why using the design from [the opentracing PR](https://raw.githubusercontent.com/rnburn/grpc-opentracing-1/23d3f7984ee6b969f947fcba356418432db6a72d/python/grpc_opentracing/grpcext/_interceptor.py ) can't be updated to avoid having 2 interceptor methods for a `xxx_unary` interceptor while also using blocking semantics for a `__call__`.

The problem as I understa

[2018-03-08 05:27] ky0ncheng commented on #7952
[gmock-1.7.0.zip]
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of gmock-1.7.0.zip or
        gmock-1.7.0.zip.zip, and cannot find gmock-1.7.0.zip

[2018-03-08 07:10] speedplane commented on #14523
Looking through my logs, I see it popped up around February 13, 2018, then went away, and now I am seeing it again. My callstack looks identical to the one posted above. I've now added instrumentation to my code to determine if there are memory leaks or if `threading.active_threads` is growing out of control.

It seems that with every upgrade to grpc there are major reliability issues. It would be

[2018-03-08 07:23] mehrdada commented on #14621
@aamitdb I agree it's probably better to keep the current API and simply invoke the sync underlying method and adapt the result by wrapping it in a future: https://github.com/grpc/grpc/pull/14639
It still requires one additional allocation for the wrapped object but that's pretty minimal compared to using the underlying async API.

[2018-03-08 07:59] krelst commented on #14523
10 days after downgrading from 1.9.1 to 1.8.4 and haven't seen any issues, so we can be quite certain that the upgrade was the cause of the issue.

[2018-03-08 08:22] phlippieb commented on #12172
@muxi Wouldn't that cause every `pod install` to act like a `pod update` though?

[2018-03-08 08:31] gaschler opened #14641 "Build error on Ubuntu 14.04"
Build fails with master on Ubuntu trusty docker image.

[code]

[2018-03-08 09:14] nweidmann commented on #14622
Yes, I mean the method handler in my service.

Regarding the fact that you "cannot" return the content of the exception I partially disagree.
I agree regarding unknown exception types, but you could at least catch std::exception and send it's message back to the client application...

I know that the correct way of doing it would be to handle all exception within the application code, but gRPC sho

[2018-03-08 12:09] phlippieb commented on #12172
You can try to add the quotes to the files using sed. I hacked together the following command which seems to do the right things for my lockfile, but I don't actually use this, so use at your own risk.
[code]
It doesn't work with the builtin MacOS sed; you have to install and use GNU sed. Hence `gsed`.

Or you could just revert to CocoaPods 1.2.1 or earlier:
[code]
But note that those early versio

[2018-03-08 12:15] mehrdada commented on #14523
This is just a shot in the dark, but can you please try passing `GRPC_POLL_STRATEGY=poll` environment variable to the current version of gRPC (v1.10.0) and compare results? One thing that changed since 1.8 and 1.9 is the default polling strategy on gRPC Python Linux binary wheels (used to be `poll`, now it is `epoll1`) which improved things on a bunch of dimensions, but that might be the cause of

[2018-03-08 14:58] AswathKiruba commented on #5617
@nathanielmanistaatgoogle  gRPC is working fine. The issue was with the installation. Thank you for your time.

[2018-03-08 16:57] jtattermusch opened #14643 "Revisit socket shutdown to avoid the need for workaround from #14560."
As per discussion in #14560 (which is fixing test flake #14471) we should revisit the socket shutdown logic on Windows (and potentially for posix sockets as well) - the problem is that with the right timing, when a server goes for graceful shutdown the RST_STREAM and GOAWAY frames (which are successfully written by the server) might get lost in a failed read caused by an attempt to send PING frame

[2018-03-08 16:57] jtattermusch commented on #14643
CC @nicolasnoble

[2018-03-08 16:59] njovy commented on #12172
@phlippieb Thank you for the gsed command! Now I can ``` pod update ```.
[code]

[2018-03-08 19:27] apolcyn opened #14644 "//tests/cpp/naming:resolver_component_tests_runner_invoker broken on ipv6 only"
This should be fixed, as pointed out in https://github.com/grpc/grpc/pull/14610#discussion_r172958790.

[2018-03-08 19:32] apolcyn opened #14645 "FAILED: cmake/build/Debug/h2_full+workarounds_nosec_test.exe filter_call_init_fails"
[code]

https://source.cloud.google.com/results/invocations/aa836db2-c6e4-44e6-a15c-0625c819c11f/targets

seen in https://github.com/grpc/grpc/pull/14610

[2018-03-08 19:42] muxi commented on #14456
Huge apologies; for some reason I did not receive notification email about this issue and the other one. I doubt if can be solved by removing the `#include` directive. This error looks similar to what we were fixing in #12788 and might has something to do with the umbrella header and module map. I'm triggering a CI run and I will be good if that passes. Otherwise I'll take a further look.

[2018-03-08 20:11] muxi commented on #14456
@MrMage the CI failed. Would you mind share the project you are working on? That would make it easier for me to reproduce and find a resolution. Thanks!

[2018-03-08 20:52] muxi commented on #14456
Actually never mind I got a reproduction.

[2018-03-08 21:20] stanley-cheung commented on #14641
Looks like the default docker image has protoc 3.0.0 pre-installed and `make` is skipping building the newer protoc.

[2018-03-08 21:49] ZhouyihaiDing commented on #14641
`GeneratedClassName` is introduced after protobuf 3.5.0.
If you are installing gRPC by built from the source, you can [install the compatible `protoc` under third_party/](https://github.com/grpc/grpc/blob/master/INSTALL.md#protoc) .

[2018-03-08 22:10] dvaldivia commented on #4969
this is funny, it shows I unassigned @soltanmm on this issue, but I dont remember doing that

[2018-03-08 22:20] nathanielmanistaatgoogle commented on #4969
@dvaldivia: GitHub sometimes tells lies. :-(

What actually happened is that you were the first to comment on the issue after @soltanmm left [the gRPC organization](http://github.com/grpc).

[2018-03-09 00:24] yashykt commented on #14643
Thanks for filing the bug Jan!

[2018-03-09 00:32] #14445 closed

[2018-03-09 01:25] nathanielmanistaatgoogle commented on #5014
[Elsewhere a user writes](https://groups.google.com/forum/#!topic/protobuf/HeTwIRb7DCs) _"I am trying to migrate our project to protobuf and find one annoying feature in protobuf_ [...] _codegen. It will automatically rename the field name defined in proto during codgen to fit camel convention."_.

Now it happens to be the case that the content of "[...]" is "c#", but it is the kind of feedback th

[2018-03-09 06:33] vjpai commented on #14620
Hello there. The reason that @yang-g asked if you could run your code through a memory checker (such as valgrind, asan, etc) is that memory corruptions are often non-deterministic on execution and highly-platform-specific. Thus the same code that fails on some platforms may succeed on others. So can you try Yang's suggestion? That would help us a lot in helping to figure this one out.

[2018-03-09 06:55] pflugs30 commented on #6443
@vespertilian I'm having the same problem you describe above.  I'm developing on an x64 Windows laptop.  I'm trying to build a Lambda function that pulls data from a Google Cloud PubSub topic.  I'm using [serverless](https://serverless.com) to build and deploy the Lambda function.

I was able to use the command you wrote to rebuild the gRPC binary in the node_modules folder.  The function also run

[2018-03-09 07:22] jtattermusch commented on #14471
This flake has been mitigated by merging #14560, but we a also filed a tracking issue https://github.com/grpc/grpc/issues/14643 to revisit the socket shutdown problem.

[2018-03-09 07:22] #14471 closed

[2018-03-09 08:17] MrMage commented on #14456
Great! Let me know if you need any more help from me in figuring this out :-)

[2018-03-09 08:48] jtattermusch commented on #12917
I am not seeing this on master anymore (with "opt" configuration). I am seeing  failures under asan instead.
Closing this issue and marking #14362 as P1 instead.

[2018-03-09 08:48] #12917 closed

[2018-03-09 08:50] jtattermusch commented on #14362
Recent failures on master:
https://sponge.corp.google.com/invocation?id=7d34afc2-21ef-4a26-be86-5d20f3b81d90
https://sponge.corp.google.com/invocation?id=e2e774bd-ac0d-4922-9fa2-27e4679e82cd
https://sponge.corp.google.com/invocation?id=77c0694f-57ad-494f-8a66-aa3577ec92ad
https://sponge.corp.google.com/invocation?id=b067b883-94af-4ec4-ad5f-fe92d766ab2d
https://sponge.corp.google.com/invocation?id=

[2018-03-09 08:53] jtattermusch commented on #14362
There seems to be two distinct failures:
First one is `sync.cc:93: void gpr_ref_non_zero(gpr_refcount *): Assertion `prior > 0' failed.`:
[code]

and the other one is a memory leak (or a heap-use-after-free).

[2018-03-09 09:25] jtattermusch commented on #14362
When trying to reproduce locally, all I'm getting is
[code]
not sure if that's because  the 40ms server sleep in the test case is not sufficient or if there's some newly introduce change has made the test more prone to failure.
https://github.com/grpc/grpc/blob/59ea0ae3ebcca0aef5a15c5aa5b4d27b7f3fc9c4/test/cpp/end2end/end2end_test.cc#L1293

[2018-03-09 11:46] vuukle opened #14653 "Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="OS Error")"
### What version of gRPC and what language are you using?
We recently(yesterday) upgraded to 1.10.0 from 1.9.0 and using aspnetcore 2.0 on google app engine fle

### What operating system (Linux, Windows, …) and version?
 Google APP Engine Flex for aspnet core

### What runtime / compiler are you using (e.g. python version or version of gcc)
 aspnetcore

### What did you do?
If possible, provide a

[2018-03-09 11:52] natronq commented on #8682
@wenbozhu @zinuga
Could you please enable me for early access? Thank you in advance.

[2018-03-09 13:20] jtattermusch commented on #14362
One of the leaks seems to be caused by this:
[code]

[2018-03-09 14:23] ghostwriternr opened #14654 "Changes to build_artifact_python.sh not reflected when building artifacts"
gRPC version: 1.11.0.dev0 (Built from source)
OS: Ubuntu 16.04 xenial
Kernel: Kernel: x86_64 Linux 4.4.0-112-generic

This is (probably) more of a question and less of an issue. I made some changes to [`build_artifact_python.sh`](https://github.com/grpc/grpc/blob/master/tools/run_tests/artifacts/build_artifact_python.sh) for adding `grpc_testing` to the artifact build process.
Specifically, I star

[2018-03-09 15:07] jtattermusch commented on #14362
Here's a stacktrace for the `sync.cc:93: void gpr_ref_non_zero(gpr_refcount *): Assertion 'prior > 0' failed. ` issue. (from a local reproduction).

[code]

[2018-03-09 15:11] ncteisen commented on #14362
I was poking into this a few nights ago. As the logs above show, the crash comes from this line:

https://github.com/grpc/grpc/blob/59ea0ae3ebcca0aef5a15c5aa5b4d27b7f3fc9c4/src/core/lib/surface/call.cc#L1230

So it looks like some race condition in which the server thinks it has child calls but doesn't.

[2018-03-09 15:46] jtattermusch commented on #14362
@ncteisen I think there is a child call (there's a proxy in place).  https://github.com/grpc/grpc/blob/59ea0ae3ebcca0aef5a15c5aa5b4d27b7f3fc9c4/test/cpp/end2end/end2end_test.cc#L177  (please doublecheck, you know the code better than I do)

But I agree that there's some kind of race - we're probably hitting some edge case in the parent - child propagation.

[2018-03-09 16:10] markdroth commented on #13458
How exactly do the types of `size_t` and `socklen_t` differ on big-endian platforms?

If the problem here is endianness, don't we need to use `htonl()` and `ntohl()` macros instead of just casting?

[2018-03-09 16:18] sharkman commented on #8682
@wenbozhu @zinuga please whitelist me as well if it is possible

[2018-03-09 16:44] jtattermusch commented on #14362
the last line ` (null) 0x7f79a000d9d0:(nil)   REF 0->1 propagate_cancel`   is pretty odd.   It looks like the refcount object wasn't yet initialized or it was already destroyed. See the end of this comment for explanation why I think the refcount is not fully initialized yet.

A failing test run:
[code]

Interestingly, in one of the successful test run, I saw this log where it looks like the refco

[2018-03-09 16:46] yashykt commented on #13458
The issue over here is to do with different sizes of size_t and socklen_t
on some big endian machines. If we accept the address length in a size_t by
pointing to it with a socklen_t then we are basically filling the wrong
bytes.

On Fri, Mar 9, 2018, 8:10 AM Mark D. Roth <notifications@github.com> wrote:

[2018-03-09 17:15] vjpai commented on #13458
I don't think it sounds like endianness, but rather just operating system
structure sizes. Which is fine and important.

On Fri, Mar 9, 2018, 8:46 AM Yash Tibrewal <notifications@github.com> wrote:

[2018-03-09 17:45] jtattermusch commented on #14362
Ok, I'm now 99% sure that the stream_refcount is getting initialized by another thread concurrently with the refcount being updated.

Thread 160601  calls  grpc_stream_ref_init  but thread 160560 is accessing it before it's fully populated.
[code]

[2018-03-09 18:00] ncteisen commented on #14362
Good point about the proxy... definitely will be child call.

The refcount modification is protected by `child_list_mu`. I bet the initialization code should be taking that lock, but is not

[2018-03-09 18:17] jtattermusch commented on #14362
I think the rootcause is in `grpc_call_create`.

1. While the new call is being initialized, if there's a parent call, the call is published in the parent's call child list (that's part is protected child_list_mu)
https://github.com/grpc/grpc/blob/59ea0ae3ebcca0aef5a15c5aa5b4d27b7f3fc9c4/src/core/lib/surface/call.cc#L381

2. But the call published is actually not fully initialized yet  - the next

[2018-03-09 18:21] jtattermusch commented on #14362
@ncteisen @AspirinSJL  feel free to take over from here. I think I rootcaused the problem correctly but the fix might need some reoganizing of grpc_call_create and I don't understand the performance consequences of that doing that very well - so I'll better leave this to domain experts.

[2018-03-09 18:27] #14447 closed

[2018-03-09 18:34] vjpai commented on #14622
I know your post listed that you're at master, but we do have a try/catch block in master (see https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/method_handler_impl.h#L40),
 which is called from the top function in your stack trace (see https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/method_handler_impl.h#L67 ). It has been this way for more than a month now

[2018-03-09 18:43] ncteisen commented on #14362
I think that analysis is correct. It certainly matches up with the data. I can take a look at this for the rest of the day, but am OOO all next week, so if the fix is not trivial, I will have to pass it off

[2018-03-09 18:43] #14641 closed

[2018-03-09 18:51] pflugs30 commented on #6443
@vespertilian Belay my request for help.  I was using serverless-webpack, and it was a limitation of that tool.

Fortunately, due to the remarkable help of @HyperBrain on [issue #342 of the serverless-webpack repo](https://github.com/serverless-heaven/serverless-webpack/issues/342), I was able to solve my issue when he added support for running custom scripts during the webpack process.  For more

[2018-03-09 18:56] #14270 closed

[2018-03-09 18:58] jtattermusch commented on #14491
Friendly ping to remove the flaky tests (and thanks!)

[2018-03-09 20:27] duelinmarkers commented on #14477
I tracked this down to (1) the fact that we're reusing the same `channel_args` Hash to create each stub and (2) this code that mutates the input `channel_args` each time a new stub is created.

https://github.com/grpc/grpc/blob/59ea0ae3ebcca0aef5a15c5aa5b4d27b7f3fc9c4/src/ruby/lib/grpc/generic/client_stub.rb#L38-L43

I think it would be best for the grpc library to `channel_args.dup` before mutati

[2018-03-09 21:01] richtera commented on #8941
Still having this problem but I am using yarn. Since my dependencies usually get corrupted when using npm install I am not quite sure what to do here.

[2018-03-09 21:41] richtera commented on #8941
I think I found a workaround. I cleared most references to grpc and common-grpc from my yarn lock and had it re-resolve them to be latest. Seems some of the google components pull in older versions and somehow those don't get built correctly. For example @google-cloud/logging-winston.

[2018-03-09 21:59] sreecha commented on #14578
Hi @gwihlidal,
Looks like most of these are not timer thread but '[executor](https://github.com/grpc/grpc/blob/v1.10.0/src/core/lib/iomgr/executor.cc)' threads instead. The max number of threads can be [2x](https://github.com/grpc/grpc/blob/v1.10.0/src/core/lib/iomgr/executor.cc#L94) the number cores and unfortunately its not configurable at the moment.

Broadly speaking, "executor threads" are us

[2018-03-09 23:40] jtattermusch commented on #14549
similar to the memory leaks seen in https://github.com/grpc/grpc/issues/14362

[2018-03-10 01:03] srini100 commented on #14641
@ZhouyihaiDing, if possible, please update the build instructions or add additional notes to the main build instructions page https://github.com/grpc/grpc/blob/master/INSTALL.md . A user who previously built gRPC from source and then upgrades to 1.10 or master will run into this error.

[2018-03-10 01:48] apolcyn commented on #14477
@duelinmarkers thanks for tracking this down. I agree that this API could be made safer by duping the channel args that are passed into it, but I'm not jumping on it just yet since I'm wondering if this kind of thing could break anyone.

However I <i>think</i> that duping the channel args internally is non-breaking, because it looks like the only thing it would prevent is the case when someone <i>

[2018-03-10 01:53] sreecha commented on #14602
Hi @hongliping7 ,

For the example you mentioned, if the server crashes, your write operation from the client also should fail (since the connection is broken, it is detected and that cancels all pending calls on that channel and destroys it). You should receive an event on the completion queue saying your operation failed.

However, if you are doing a read from the client side but the server cras

[2018-03-10 02:42] ZhouyihaiDing commented on #14534
Works above is for pubsub API.
I am working on the Bigtable API startBatch latency.

[2018-03-10 02:45] matt-kwong opened #14663 "Support for C++ MSan"
Currently protoc is required for C++ and we cannot compile it under MSan. We could do something like precompile protoc without MSan to try and get this working.

[2018-03-10 02:46] matt-kwong commented on #14604
Closing this issue, since the PR is merged.

I opened #14663 for supporting MSan C++ which is related to this issue.

[2018-03-10 02:46] #14604 closed

[2018-03-10 03:39] ZhouyihaiDing commented on #14601
Sorry for the delay.

I haven't reproduced this issue so far. I guess it does related to the system but I can't get the environment like your `2.6.32-042stab127.2`. Could you provide more information about it, like `gcc --version`?

After you building from the source, can you please run [cpp helloworld example ](https://grpc.io/docs/quickstart/cpp.html#build-the-example) successfully? If it fails,

[2018-03-10 14:17] vjpai commented on #14633
Thanks for the detailed report.

[2018-03-10 20:40] #14241 closed

[2018-03-10 21:21] mohamed-moanis commented on #13877
I tried to reproduce the problem with master, but instead of server hanging, it works and client got error:
code=8 - message=to-be-sent trailing metadata size exceeds peer limit

[2018-03-11 13:02] andreasp79 commented on #14273
Same here, server has been running grpc 1.8.3 for about a month before the exception happened, never seen it before.

I don't have repro steps but the priority for us is to prevent the entire process going down immediately because of any exception thrown on the grpc threads (even if it's just to do graceful shutdown). Is this possible without manually recompiling grpc?

[2018-03-11 19:58] vjpai opened #14668 "All C++ APIs should have unit tests (not just end2end)"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Looked at the C++ repo

### Wha

[2018-03-11 20:43] parachutepy commented on #14595
Sure will do ....

[2018-03-12 00:07] begoat commented on #6598
I came across the same problem. @thijsw Did you solve it?

[2018-03-12 03:24] Disturbing commented on #14088
This error occurs after 2-3 days of a service running for me. This is the 3rd time I ran into it then googled the issue. No logs to help.

I upgraded to csharp v 1.10.0 across my dev cluster and will let you guys know this week if I have a confirmed issue resolved by end of the week.

Fingers crossed!

[2018-03-12 04:13] dwroy opened #14670 "basic questions about Async server, please solve my confusion"
A c++ beginners confusion -_-!

from the example greeter_async_server.cc  class ServerImpl, I can't found the threads management
but in online service I found grpc used about max core num +  of my linux server dealing 200 qps, as I copy used code from the example, was it the CompletionQueue::Next() will fork a thread to process?, and how to set the limit cores used by grpc.

and is it necessary to

[2018-03-12 06:31] ZurgInq commented on #14088
In my case, the problem resolved

Ruby 2.4.2, grpc 1.9.1

1. start server
2. run any requests - success
3. restart server
4. run any request - always failed with error "GOAWAY received" or "Deadline"

Ruby 2.4.2, grpc 1.10.0

1. start server
2. run any requests - success
3. restart server
4. run any requests - success

[2018-03-12 06:37] muxi commented on #14457
Fixed.

[2018-03-12 06:37] #14457 closed

[2018-03-12 07:30] svycka commented on #14601
you can test it here https://www.dedikuoti.lt/ there is a test server click here:
![image](https://user-images.githubusercontent.com/1270782/37270372-32a8ea44-25d7-11e8-87ee-55c1048bdfc1.png)

this is a demo server
you will have to just install php and grpc like this
[code]

[2018-03-12 07:34] svycka commented on #14601
At the moment I have installed and you can test it here:
[code]
but this is demo server and may be reinstalled soon

[2018-03-12 08:14] svycka commented on #14601
installed from source with your instructions but it still working

[2018-03-12 08:47] typhoonzero opened #14671 "Trying sending bytebuffer directly encounters Stream removed error using docker"
My example program: https://github.com/typhoonzero/grpc_zerocopy_async_example

I was trying to use Bytebuffer to send to gRPC server directly, but client reports "Stream removed" error, this error only occurs when I try to run in a linux docker container.

Steps to reproduce:

Versions:

grpc 1.10
protobuf 3.5

On my mac OSX 10.13.3 (this can run):

[code]

In docker (docker version: 17.12.0-ce)

[2018-03-12 10:45] jtattermusch commented on #14362
FTR, this is the command I've been using for local debugging:
`GRPC_TRACE=stream_refcount GRPC_ABORT_ON_LEAKS=true tools/run_tests/run_tests.py -l c++ -cdbg -r ".*RpcDeadlineExpires" -j 30 -n inf -S` (it takes several minutes to reproduce)

[2018-03-12 10:55] typhoonzero commented on #14671
Closing, this is my bad, should not return `*std::string` as `void*` in gcc.

[2018-03-12 10:55] #14671 closed

[2018-03-12 11:01] jtattermusch opened #14672 "FLAKE: grpclb_end2end_test --gtest_filter=SingleBalancerTest.SecureNaming on MacOS"
Recent occurences on master:

https://sponge.corp.google.com/invocation?id=ac3fb91e-4851-4096-bc3d-91d272166fd9
https://sponge.corp.google.com/invocation?id=1f4c18ea-c2b8-48ec-8735-45620e90513a
https://sponge.corp.google.com/invocation?id=c660b6e1-7e30-4ab4-98ca-fc7b70c04a27

First failure is from Mar 9, it might be worth trying to git bisect to see when it was introduced

From log (it looks like

[2018-03-12 11:06] jtattermusch opened #14673 "FLAKE: bins/dbg/grpclb_end2end_test --gtest_filter=UpdatesTest.UpdateBalancers on MacOS"
Recent failure on master:
https://sponge.corp.google.com/invocation?id=e1e3e592-5a5e-49e7-980e-65c2fa51766b
https://sponge.corp.google.com/invocation?id=6173d9ca-1164-410e-b2eb-992e84d046b7
https://sponge.corp.google.com/invocation?id=724a6614-77ad-4955-84dd-c20224df8481

Logs:
[code]

[code]

[code]

[2018-03-12 11:06] jtattermusch commented on #14673
There is some similarity with https://github.com/grpc/grpc/issues/14672.

[2018-03-12 11:10] jtattermusch commented on #13650
still seeing this on master

[2018-03-12 11:50] #14670 closed

[2018-03-12 11:51] jtattermusch commented on #14234
Still seeing this (and still on the list of our top few flakes).
https://sponge.corp.google.com/invocation?tab=Build+Log&id=f91bec72-924f-4657-a3c2-088f398ccb11

We really ought to fix this somehow, we can't have this failing forever.

@matt-kwong , do you have any ideas how we could reduce the flakiness rate?

[2018-03-12 14:11] sonvirgo commented on #12890
experience same issue MiniDLNA and GmediaRender-Resurect on High Sierra
But I can run multiple instance of gmediarender at same time.

[2018-03-12 14:43] Titanssword commented on #7032
Hi, I am Sword, I read about this on GSOC'18 ideas page, and I think the "Early OK" idea sounds pretty cool. But the I am not sure how to define the OK status and in which situation should return "Early OK". Here just are my thinkings, firstly, "Early OK" should (could?, may?) be different from the real "OK", the client can distinguish them, and then set a trigger at the server side, for example,

[2018-03-12 16:47] AspirinSJL commented on #14362
I'm looking into it. But since I'm new to this part of code, I need to take some time to get familiar with the code first, so please expect the fixing time to be a little longer.

[2018-03-12 17:50] dgquintas commented on #14672
@AspirinSJL can you have a look? It's a mac failure again...

[2018-03-12 17:51] dgquintas commented on #14672
I think @AspirinSJL spent some time last week trying to repro this locally unsuccessfully. In any case, it's mac specific (I did try to repro on linux unsuccessfully) and I don't have a mac :(

[2018-03-12 17:53] dgquintas commented on #14673
@AspirinSJL do you mind having a look as well? It seems all these issues are happening on mac only :/

[2018-03-12 18:08] evanj commented on #13873
I ran into a new variant of this that I haven't seen until we updated to grpc 1.10: occasionally a subprocess will log the following error to stderr, which is problematic since I'm using fork+exec to capture stdout and stderr from a subprocess, and this message pollutes the output. I suspect this is because I am calling `subprocess.Popen` with `close_fds=True`, so before calling `exec()` it attemp

[2018-03-12 18:17] jadekler commented on #14006
Was this happening on ARM (e.g. raspberry pi) / windows?

[2018-03-12 18:18] jadekler commented on #9779
Was this happening on ARM (e.g. raspberry pi) / windows?

[2018-03-12 18:37] adelez commented on #13621
Still not fixed: https://source.cloud.google.com/results/invocations/b2156621-1096-4a14-9342-cc7137c38893/targets

[2018-03-12 19:03] raybotha commented on #4629
Would be great to get https://github.com/grpc/grpc/pull/14561 merged in

[2018-03-12 19:38] kpayson64 opened #14677 "bazel BUILD has a separate build job for each test for each poller type."
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-03-12 20:02] nathanielmanistaatgoogle commented on #7032
@Titanssword: I think you may be overthinking it - check out the "two-by-two matrix" that I described [here](https://groups.google.com/d/msg/grpc-io/vkEsyzeSAoI/Gx01XZjOBwAJ). This issue isn't about changing or expanding the meaning of OK status to anything that it doesn't mean today (the RPC is over and it completed satisfactorily); this issue is just about making it possible for service-side app

[2018-03-12 20:09] nathanielmanistaatgoogle commented on #14654
Simple sanity-check question, but: have you tried changing the script to do the _wrong_ thing? Like crash? If so, does it crash? If it doesn't, does that mean there's some broken link along the line from code that you know is being run to code that you think should be run but isn't? If so... put crashes in every link in the chain and trace how things are getting run in a way that's different than

[2018-03-12 20:18] apolcyn commented on #13621
I think the remaining issue here is related to https://github.com/grpc/grpc/issues/14677.

FTR `bazel test //test/cpp/naming:resolver_component_tests_runner_invoker` now works, but indeed
`bazel test //test/cpp/naming:resolver_component_tests_runner_invoker@poller=<poller>` is still broken.

I'm looking into how this can be fixed with the `@poller=` argument.

[2018-03-12 20:33] apolcyn commented on #9779
@jadekler I originally filed the issue after observing the behavior using the tested linux builds. I'd assume that the same thing occurs on other platforms but I hadn't tried.

[2018-03-12 20:35] jadekler commented on #9779
Thanks @apolcyn

[2018-03-12 20:43] apolcyn commented on #13621
The exact issue that this test has when running under `@poller=<poller>` is that the `=` sign in the `$TEST_SRCDIR` path (caused by `@poller=<poll>) conflicts with the way that flags are parsed in `https://github.com/grpc/grpc/blob/master/test/cpp/naming/resolver_component_tests_runner.sh#L21` (right now, that test is taking the field within the two `=` signs to be the value of each flag, incorrec

[2018-03-12 20:48] AspirinSJL commented on #14673
I'm looking at this one first because I tried it last Friday.

BTW, I just noticed that the command I used last Friday has a typo so the polling engine is not forced to be poll,. Not sure whether this is related to the reproducibility, but we will see...

[2018-03-12 21:49] AspirinSJL commented on #14362
The use-before-init problem can be solved by extending the time that the call creation thread holds the mutex.

The flakiness significantly drops, but still exists for another refcounting issue. It seems that somewhere else we have a use-after-destroy problem. Trying to figure out who is reffing.

[code]

[2018-03-12 21:58] AspirinSJL commented on #14362
Actually, that might still be a use-before-init issue, if we are reffing a new call.

[2018-03-12 22:54] srini100 commented on #14523
@speedplane, have you determined if this is due to memory leak or too many threads?

[2018-03-13 00:09] grunch commented on #14489
@Dhara-Openxcell you should do it like this

[code]

[2018-03-13 01:21] ZhouyihaiDing opened #14682 "grpc_completion_queue_create_for_pluck(NULL) fail"
### What version of gRPC and what language are you using?
 gRPC-v1.10.0

### What operating system (Linux, Windows, …) and version?
 2.6.32-042stab127.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expec

[2018-03-13 01:25] ZhouyihaiDing commented on #14682
The way to access the environment is in the comment at the bottom of https://github.com/grpc/grpc/issues/14601

[2018-03-13 01:25] AspirinSJL commented on #14362
We are reffing something that isn't any existing channel or call, at least. But I don't know what it is.

[code]

[2018-03-13 01:27] yashykt commented on #14682
I just verified on that system that it has a faulty sched_getcpu syscall. It ends up returning a value more than the maximum number of cpus which leads to accessing unintended memory. This seems like a linux kernel issue.

[2018-03-13 01:27] ZhouyihaiDing commented on #14601
Hi @svycka
Thank you for providing the environment. I installed something like python-pip, to help me debug depper.
The segment fault is caused in core part. php extension is calling the API provided from the core.
I have created an issue https://github.com/grpc/grpc/issues/14682 and asked someone more expert in that part to help.

[2018-03-13 02:13] #14456 closed

[2018-03-13 02:25] zhanghaohit commented on #14055
I noticed a fork.h header. does it provide the support for fork?

void grpc_prefork();
void grpc_postfork_parent();
void grpc_postfork_child();

Thanks.

[2018-03-13 05:28] srini100 commented on #14055
That is the intention but first [this bug](https://github.com/grpc/grpc/issues/14258) needs to be fixed to do fork/exec.

@zhanghaohit what is your use case?

[2018-03-13 06:05] zhanghaohit commented on #14055
My use case is:
I have to fork a new process, which will take over the job from the main process. It means, after the forking, the main process will not do anything with grpc.

But after the child process finished its job, it just exists. Then the main process will fork a new child process again.

So I have to fork multiple times from the main process.

Can I achieve this in the current grpc imple

[2018-03-13 08:21] nweidmann commented on #14622
I had a lot lately to do and didn't update for a few weeks...

I updated today and everything works fine !

I have read the discussion thread, and the reason you are not forwarding (application) std::exception messages from within the gRPC framework makes 100% sense!

Thanks a lot for your help.

I will close this case.

Have a nice day,

Nicolas

[2018-03-13 08:21] #14622 closed

[2018-03-13 08:44] itsprdp commented on #13814
+1

[2018-03-13 08:51] tomoat commented on #9591
This is a very similar problem to #7524

[2018-03-13 08:58] jtattermusch commented on #14362
@AspirinSJL  do we have a stacktrace?

[2018-03-13 13:10] aceini commented on #12250
I have the same problem, please explain how to solve it, what system environment variable did you change?

[2018-03-13 13:20] axot commented on #14534
I found pecl-grpc v1.10.0 is much slower than v1.8.5 for the first connection.
(500ms vs 10ms)

[2018-03-13 13:22] jcalvert opened #14685 "Ruby client deadline greatly exceeded with unavailable hosts"
### What version of gRPC and what language are you using?

grpc 1.10/ ruby

### What operating system (Linux, Windows, …) and version?

Linux `Debian 3.16.39-1+deb8u1~bpo70+1 (2017-02-24)`

### What runtime / compiler are you using (e.g. python version or version of gcc)

Ruby 2.4/`gcc version 4.7.2`

### What did you do?

In an application, it was noticed that we would sometimes have requests tha

[2018-03-13 13:51] nathanielmanistaatgoogle commented on #13602
**Important update:** [upstream Python has chosen 2020-01-01](https://github.com/python/peps/commit/3e781ca99a6c282d481b6d9a71d5b7e3a1aef314). I strongly feel that that's the latest date that we should choose.

... and it's now less than twenty-four months away.

[2018-03-13 15:19] dgquintas commented on #14673
The polling engine is always poll on macos

[2018-03-13 16:40] nathanielmanistaatgoogle commented on #14340
@mehrdada or @kpayson64: is this now actionable? It smells now actionable?

[2018-03-13 16:40] AspirinSJL commented on #14362
It's like
[code]

Is there any way to find the code mapped from the addresses? I tried `addr2line`, but got
[code]

[2018-03-13 16:50] nathanielmanistaatgoogle commented on #9264
@adelez, @matt-kwong, @jtattermusch: any status update here? Is this still an open gRPC-wide aspiration?

[2018-03-13 16:51] nathanielmanistaatgoogle commented on #9423
@kpayson64: will the Core API ever distinguish between "no deadline" and "a really long deadline"? I'm not sure that it should bother, but feel free to say that it will?

[2018-03-13 16:52] nathanielmanistaatgoogle commented on #11685
This is part of our long-term project plans but it's not on any near-term road map.

[2018-03-13 16:55] kpayson64 commented on #9423
@nathanielmanistaatgoogle
There are no plans to add such a feature.  Internally, no deadline is just handled as INT64_MAX, so this would require considerable plumbing.

I'm in favor of closing this issue unless there is significant user demand for this functionality.

[2018-03-13 16:56] kpayson64 commented on #14340
I think we can close this issue now.

With the new "background poller" approach, the channels are only ever polled periodically, so we need the sleep in the test indefinitely.

[2018-03-13 16:57] #14340 closed

[2018-03-13 16:58] ZhouyihaiDing commented on #12250
Hi @aceini ,

Can you give us more information about in which environment and how you get the handshake error. An example of how to reproduce it will be the best!

Are you also running it with nginx? If so, you may have the same issue like @ wanderhelen.

Thank you!

[2018-03-13 17:11] ZhouyihaiDing commented on #14534
Hi @axot ,
Can you please provide me more information about how to get the result?
I was tracing the request and got some data. I haven't report the number yet, but in general, the BigTable readRows request latency can be divided into 3 parts:
1. fetch auth token. (50ms for the first connection, 0.1ms for the following rpc. I think it gets the help with cache)
2. send request to the server, backen

[2018-03-13 17:19] nathanielmanistaatgoogle commented on #9423
I agree.

[2018-03-13 17:19] #9423 closed

[2018-03-13 17:34] nathanielmanistaatgoogle commented on #14592
Closing; I'm not sure that there's anything left to say here at the moment. (Our infrastructure is always changing, so the best command with which to run the tests today may not be the same in six months...)

[2018-03-13 17:34] #14592 closed

[2018-03-13 17:43] nathanielmanistaatgoogle commented on #14559
There's a chance that work going on in [issue 12531](https://github.com/grpc/grpc/issues/12531) will alleviate this, but there's also a chance that the problem might be unrelated.

Are you quite certain that you're not able to draft a minimal code sample? I'm slightly concerned about the pickling, but that might also be completely unrelated.

[2018-03-13 17:48] nathanielmanistaatgoogle commented on #14172
Something into which to look that may have consequences for this issue is whether or not Bazel allows the output files generated by a rule to exist or not-exist according to the content of the input files. If not, and I suspect not, fulfilling this issue would erect an obstacle to [building gRPC Python with Bazel](https://github.com/grpc/grpc/issues/8079), which although a long-term goal is someth

[2018-03-13 17:49] yang-g commented on #7032
This looks like it is supported already. @nathanielmanistaatgoogle is adding a test in python and there is a test in C++ https://github.com/grpc/grpc/blob/master/test/cpp/end2end/server_early_return_test.cc.

@Titanssword Sorry for the confusion. Please take on some other ideas!

[2018-03-13 17:49] #7032 closed

[2018-03-13 17:54] nathanielmanistaatgoogle commented on #13746
@kpayson64: any insight or analysis on this?

[2018-03-13 17:59] nathanielmanistaatgoogle commented on #13096
Closing as a duplicate of [issue 11394](https://github.com/grpc/grpc/issues/11394).

[2018-03-13 17:59] #13096 closed

[2018-03-13 18:00] nathanielmanistaatgoogle commented on #11394
Action item from [the duplicate issue](https://github.com/grpc/grpc/issues/13096): we should _test_ port addition failure, not just document it.

[2018-03-13 18:03] nathanielmanistaatgoogle commented on #11415
Closing; [this appears to have been answered satisfactorily](https://github.com/grpc/grpc/issues/11415#issuecomment-307694619).

[2018-03-13 18:03] #11415 closed

[2018-03-13 18:06] nathanielmanistaatgoogle commented on #8232
@kpayson64: please reassess - should this be closed because there is no longer a connectivity polling thread or retitled because it's actually about something else?

[2018-03-13 18:08] kpayson64 commented on #8232
I think this issue can be closed now that we have removed the background polling thread.

[2018-03-13 18:08] #8232 closed

[2018-03-13 18:12] murgatroid99 opened #14692 "Bazel Debug build failure"
https://source.cloud.google.com/results/invocations/fa3c1ad7-de54-4a3e-b267-21f0b3bf4310/targets/grpc%2Fubuntu%2Fpull_request%2Fremote_bazel_tests_dbg/log

Relevant log:

[code]

[2018-03-13 19:01] srini100 commented on #14055
@zhanghaohit,  forking with an active stub will put you in a situation where parent and child will share the same connection. gRPC currently doesn't cleanup FDs in child process. IMO, recreating the stub in child process should work.

[2018-03-13 19:26] kpayson64 opened #14693 "C++ify the vtables introduced in #14599"
All new code should use C++ classes over vtables.

Specifically focus on
[code]

[2018-03-13 19:59] ghostwriternr commented on #14654
I did indeed try breaking the file by removing one of the existing build instructions, but the artifacts were getting created nonetheless (i.e. changes not reflected even in that case). I didn't attempt breaking the entire chain though. I'll definitely give it a shot in the morning!

[2018-03-13 20:37] adelez opened #14695 "Bazel test failure: nanopb:fuzzer_response"
https://source.cloud.google.com/results/invocations/489be99f-f262-4430-9c96-a69c0f0ae514/targets/%2F%2Ftest%2Fcore%2Fnanopb:fuzzer_response@poller%3Depollsig/log

-----------------------------------------------------------------------------
+ export GRPC_POLL_STRATEGY=epollsig
+ shift
+ test/core/nanopb/fuzzer_response --directory=test/core/nanopb/corpus_response
D0313 19:04:38.296359055      18 t

[2018-03-13 20:41] yashykt commented on #13458
As discussed in PR #14464, it is an endianness issue.

@namrata-ibm Can you verify that #14464 solves the issue?

[2018-03-13 20:41] adelez opened #14696 "Bazel test failure: //test/core/security:alts_security_connector_test"
https://source.cloud.google.com/results/invocations/489be99f-f262-4430-9c96-a69c0f0ae514/targets/%2F%2Ftest%2Fcore%2Fsecurity:alts_security_connector_test@poller%3Depoll1/log

+ export GRPC_POLL_STRATEGY=epoll1
+ shift
+ test/core/security/alts_security_connector_test
E0313 19:04:39.423419240      18 alts_security_connector.cc:109] Invalid arguments to grpc_alts_auth_context_from_tsi_peer()
E0313

[2018-03-13 20:46] adelez commented on #14696
Same failure for
//test/core/tsi/alts/handshaker:alts_handshaker_client_test
//test/core/tsi/alts/handshaker/alts_handshaker_service_api_test
//test/core/tsi/alts/handshaker:alts_tsi_handshaker_test
//test/core/tsi/alts/handshaker:alts_tsi_utils_test
//test/core/tsi/alts/handshaker:transport_security_common_api_test

Plus, #14695 may be caused by the same problem.

[2018-03-13 20:53] adelez opened #14697 "Bazel test failure: //test/cpp/client:client_channel_stress_test"
https://source.cloud.google.com/results/invocations/489be99f-f262-4430-9c96-a69c0f0ae514/targets/%2F%2Ftest%2Fcpp%2Fclient:client_channel_stress_test@poller%3Depoll1/log

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
+ export GRPC_POLL_STRATEGY=epoll1
+ shift
+ test/cpp/client/client_channel_stress_test
E0313 19:04:36.6006

[2018-03-13 20:53] adelez commented on #14697
David, can you please triage this bug?

[2018-03-13 20:55] MHDante commented on #8682
@wenbozhu @zinuga I would love to have access as well.

[2018-03-13 20:57] adelez commented on #14697
Other tests with the same failure:
//test/cpp/end2end:grpclb_end2end_test
https://source.cloud.google.com/results/invocations/489be99f-f262-4430-9c96-a69c0f0ae514/targets/%2F%2Ftest%2Fcpp%2Fend2end:grpclb_end2end_test@poller%3Depoll1/log

[2018-03-13 21:03] ZhouyihaiDing commented on #14601
Based on the #14682, it seems that `sched_getcpu` syscall in that system returns a wrong cpu namber, which lead to the segment fault.

[2018-03-13 21:04] adelez opened #14698 "Bazel test failure: //test/cpp/end2end:health_service_end2end_test"
https://source.cloud.google.com/results/invocations/489be99f-f262-4430-9c96-a69c0f0ae514/targets/%2F%2Ftest%2Fcpp%2Fend2end:health_service_end2end_test@poller%3Depoll1/log

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
+ export GRPC_POLL_STRATEGY=epoll1
+ shift
+ test/cpp/end2end/health_service_end2end_test
D0313 19:04:37.

[2018-03-13 21:10] dgquintas commented on #14491
This is accounting for the failure of ~31% of PR tests now: https://performanceedit-dot-grpc-testing.appspot.com/explore?dashboard=5661273836486656&widget=463826361&container=278069897&maximized

[2018-03-13 21:34] jiangtaoli2016 opened #14699 "ALTS tests not hooked up in run_tests.py"
There are several ALTS unit tests (e.g., alts_handshaker_client_test, alts_tsi_handshaker_test, etc.) When we run `./tools/run_tests/run_tests.py -l c -r alts -t -S` , none of these ALTS tests are running. They are not hooked up properly.

[2018-03-13 21:39] yashykt commented on #13650
It's difficult to reproduce this locally. I'll try logging stuff so we get more information.

[2018-03-13 22:02] AspirinSJL commented on #14362
I'm trying to debug in gdb, but the stacktrace in the coredump doesn't match the failure log. The log shows `end2end_test: src/core/lib/gpr/sync.cc:93: void gpr_ref_non_zero(gpr_refcount*): Assertion `prior > 0' failed`, but the stack shows that the abortion is due to `gpr_mu_lock()` [here](https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/sync_posix.cc#L47). Any idea?

[code]

[2018-03-13 22:35] kpayson64 commented on #14362
[code]
You are explicitly telling GDB to switch to another thread (away from the one that just hit the assertion).

The thread you happen to switch to is blocked on a mutex, but isn't relevant to the failure.

[2018-03-13 22:39] muxi opened #14701 "When Cronet is enabled, gRPC should use grpc_cronet_plugin_registry.cc"

[2018-03-13 22:55] srini100 commented on #13746
For in-flight RPCs, gRPC will wait until TCP connection has a time-out. The socket is not killed just because network went down. If user wants the RPC to fail may be this [will help.](https://github.com/grpc/grpc/blob/master/doc/wait-for-ready.md)

[2018-03-13 22:57] adelez commented on #14696
@nicolasnoble @dgquintas , Jiangtao suggested possible bugs on nanopb. Can #14697 be related?

[2018-03-13 22:59] adelez commented on #14697
Jiangtao suggested possible bugs on the nanopb side in #14696. Can this be related? @nicolasnoble

[2018-03-13 23:03] AspirinSJL commented on #14362
Yeah, t 1 is the default thread when I started gdb.

Another coredump shows that the crash may happen in `gpr_cv_wait()`. I'm lost. The common thing between these two stacktrace is that they happen during shutdown.

[code]

[2018-03-13 23:17] jiangtaoli2016 commented on #14697
All the ALTS related test failures are related to nanopb and only happen on bazel. @yihuazhang is looking into it right now.

[2018-03-13 23:49] adelez commented on #14697
These failures only happen on bazel as well.

[2018-03-13 23:52] jiangtaoli2016 commented on #14697
@yihuazhang found the root cause. @dgquintas and @yihuazhang are working on a fix.

[2018-03-14 00:30] AspirinSJL opened #14703 "FLAKE: grpc_tcp_server_ref() refs zero refcount"
[This ref](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/tcp_server_posix.cc#L529) may fail because the prior refcount is 0. Looks like we use the refcount before initializing it.

To reproduce:
Run `GRPC_TRACE=stream_refcount  tools/run_tests/run_tests.py -l c++ -c dbg -r ".*RpcDeadlineExpires" -j 30 -n inf -S` on master. I run it on Linux. The flakiness is around 1/50,000.

The tai

[2018-03-14 00:33] AspirinSJL commented on #14362
@sreecha helped me find out that it's caused by multiple coredumps overwriting the previous ones. After changing the coredump filename pattern, I'm able to find the matching stacktrace now. Thanks Sree!

It turns out to be another refcount issue (in `grpc_tcp_server_ref()`). So I've filed it in #14703.

[2018-03-14 01:10] #14491 closed

[2018-03-14 01:22] ZhouyihaiDing commented on #14682
gRPC 1.6.0 works fine in such system while 1.7.0 start segment fault randomly. They both has this [syscall](https://github.com/grpc/grpc/blob/v1.6.0/src/core/lib/support/cpu_linux.c), is the usage of this number changes starting from 1.7.0?

[2018-03-14 01:31] yashykt commented on #14682
gRPC 1.6.0 was probably not using sched_getcpu as much as in 1.7.0.

[2018-03-14 01:55] axot commented on #14534
@ZhouyihaiDing , I'm testing Spanner in Tokyo region, more details in here
https://github.com/GoogleCloudPlatform/google-cloud-php/issues/819#issuecomment-372876349

And I found different behavior in 1.10.0.
[code]
This communication happens per request, but I can not find same communication in 1.8.5.

[2018-03-14 02:01] yashykt commented on #13846
Not seen recently.

[2018-03-14 02:01] #13846 closed

[2018-03-14 02:02] zhanghaohit commented on #14055
@srini100 Thanks for your reply.

Yes. I did recreate the stub in the child process. In my case, do I need to call grpc_prefork(), grpc_postfork_parent(), grpc_postfork_child() also?

But anyway, no matter I call grpc_*fork_* or not, it will hang there after second fork.

[2018-03-14 02:02] yashykt commented on #13528
Not seen recently.

[2018-03-14 02:02] #13528 closed

[2018-03-14 02:15] matt-kwong opened #14704 "Collect test results from ResultStore"
We'll need to make a ResultStore API call with the invocation ID to get the data and then upload that to BigQuery.

CC @jtattermusch

[2018-03-14 02:15] matt-kwong commented on #14704
CC @adelez @dgquintas

[2018-03-14 03:33] AspirinSJL commented on #14673
I can't reproduce either issue locally.

I think we need to try to reproduce it on kokoro mac machine then.

[2018-03-14 03:33] AspirinSJL commented on #14672
I can't reproduce either issue locally.

I think we need to try to reproduce it on kokoro mac machine then.

[2018-03-14 03:52] srini100 commented on #14055
These functions are called internally by gRPC. You shouldn't call these.

[2018-03-14 06:24] ZhouyihaiDing commented on #14534
Thank you for your help, @axot !

I am running your code in GCE located in asia-northeast1-b with the spanner instance located in the same region. But I removed `APCu` cache part to focus tracing the latency. I already got some data and it doesn't show much difference like bigtable and pubsub, which gRPC initiation time takes 30-80ms for the first RPC and almost 0 for the following. I'll report th

[2018-03-14 07:13] #13621 closed

[2018-03-14 07:37] axot commented on #14534
@ZhouyihaiDing I changed `ApcuAdapter` to `FilesystemAdapter`, it gets similar results without php-fpm.

[code]

[code]

As you can see, with `v1.10.0` `1 Query` took 3-4x times than `v1.8.5`.

This is the total time of TCP session that open and close. So I think it is a normal behavior if using  `Persistent Connection` mode in `php-fpm`. So I guess in `1.10.0` `Persistent Connection` was freed af

[2018-03-14 08:11] zhanghaohit commented on #14055
Oh. ic. but still cannot get it to work by recreating the stub in the child process. It will hang after the second fork.

[2018-03-14 09:41] zhuhao-dev commented on #14620
I am sorry answer so late. I am newer for grpc and linux , I will try your suggest later.  And i found a way to crash on windows ,stack is here
[code]
the biz as follow ,I have connect grpc by stub->asyncxxxx method ,and write data ,then writeDone() , after the finish callback, then reconnect by stub->asyncxxxx( the queue and contect also renewed),  it crash 。 I also think some object memary has p

[2018-03-14 11:10] danfairs commented on #12642
I can confirm I'm seeing this too in Python with grpcio==1.10.0. It's getting trickier to work around now, since the official pubsub libraries are now threaded.

[2018-03-14 13:04] axot commented on #14534
I made a flame-graph for comparison. You can download the original svg format here, may helpful.
[on-cpu-flame-graph.zip](https://github.com/grpc/grpc/files/1811136/on-cpu-flame-graph.zip)

Preview here.
1.8.5
![1 8 5 svg](https://user-images.githubusercontent.com/611054/37403878-91758372-27d3-11e8-9962-23cddba420c4.png)

1.10.0
![1 10 0 svg](https://user-images.githubusercontent.com/611054/374038

[2018-03-14 13:53] jtattermusch commented on #13727
Failures over the last week:
https://sponge.corp.google.com/invocation?id=829bf574-c31e-4dc5-be0c-684e4d6fed50
https://sponge.corp.google.com/invocation?id=fce32a68-312e-46ed-b8c1-ba8a3597a59e

[2018-03-14 15:39] dwsupplee commented on #14534
@ZhouyihaiDing sorry for the delayed response.

When run on GCE I see similar results as you mentioned. However, when I run the script 20 times on my local development machine I see the following (with an already cached auth token):

REST:
[code]

gRPC v1.8.5
[code]

There seems to be a considerable addition to latency on the first gRPC call in this case.  I have traced the code and from what I ca

[2018-03-14 16:26] danfairs commented on #12642
I've also confirmed this is a problem in grpcio==1.8.2 (which is unfortunately the earliest version that core supports)

[2018-03-14 18:56] yashykt opened #14711 "gRPC segfaults in C core on systems with hotplugged CPUs"
gRPC segfaults if run on a linux system with hotplugged CPUs.
**gpr_num_cpu_cores()** on linux uses **sysconf(_SC_NPROCESSORS_CONF)** to determine the number of CPUs but it looks like it does not handle hotplugged CPUs but **sched_getcpu()** which is used in **gpr_cpu_num_cores()** might a return number for a hotplugged CPU if it's being run on one.

This issue did not exist in gRPC 1.6 but was in

[2018-03-14 18:57] yashykt commented on #14711
Initial issue was #14682

[2018-03-14 19:02] yashykt commented on #14682
It definitely looks like a case of CPU hotplugging and sysconf(_SC_NPROCESSORS_CONF) not returning the maximum number of possible CPUs.
Created PR #14712 to fix this issue in gRPC. Manually verified that the fix works on the system. Tracking this separately in #14711. Please use gRPC 1.6 till the pull request gets merged.

[2018-03-14 19:02] #14682 closed

[2018-03-14 21:16] #14711 closed

[2018-03-14 21:17] danfairs commented on #12642
Apologies - I've just noticed that this issue was specifically in the node bindings - I'll open another issue if that makes sense. In other news, I've rewound all the way back to 1.4.0, and I'm not getting the messages. When I have more time, I'll try to establish the exact version in which the problems start to occur.

[2018-03-14 21:50] ZhouyihaiDing opened #14713 "gRPC-PHP persistent channel doesn't work on php-fpm mode since v1.9.0"
Split from the issue #14534

When running spanner API in php-fpm mode, the first RPC still takes long time until getting the response, which seems like the channel is not been cached.

I am running this code under php-fpm mode with 2 php workers on my local desktop, and the spanner region located in us-central:
[code]

The first RPC latency for v1.10.0 is
`1626ms, 1697ms, 1678ms, 1488ms, 1523ms, 1

[2018-03-14 21:52] ZhouyihaiDing commented on #14713
The only changes in the php part are https://github.com/grpc/grpc/pull/14167 and https://github.com/grpc/grpc/pull/14149. I am going to patch this 2 PRs into v1.8.5 to check it is caused by core or php extension.

[2018-03-14 21:59] ZhouyihaiDing commented on #14534
Thanks @axot !
You are right, it seems there are regressions after gRPC-v1.9.0 and I am working on locating where the problem is.
So, to make it clear, in spanner, even in gRPC-v1.8.5, the first RPC(warm up) will take ~1000ms, right? Since the channel is persistent correctly, it saves latency to `289.055ms` later.  Your question is that the current gRPC-PHP has problem with persistent channel, rig

[2018-03-14 22:21] ZhouyihaiDing commented on #14713
Caused with gRPC PHP extension part. With core 1.9.0, persistent channel works well when installing php extension without 2 PRs above.

[2018-03-14 23:05] dbarzdys commented on #8682
Hi @wenbozhu Could I also get an early access?
I have 2FA enabled.

Thanks  :smile:

[2018-03-15 00:44] fizz commented on #8682
I've enabled 2fa and I've filled out the form; could I please have access? Thank you!

[2018-03-15 04:51] ZhouyihaiDing commented on #14713
Hi  @axot
I think [this 3 lines](https://github.com/grpc/grpc/blob/master/src/php/ext/grpc/channel.c#L87) delete the persistent channel at the end of the request, which lead to the unexpected behavior. I am trying to fix it ASAP.

In the mean time, can you please help me to double verify it in your environment by deleting those 3 lines in `src/php/ext/grpc/channel.c` and then [install the grpc fro

[2018-03-15 05:39] axot commented on #14713
@ZhouyihaiDing I'm beginning to verity this patch ;D

[2018-03-15 05:47] initialed85 commented on #14559
@nathanielmanistaatgoogle I've created a gist (link below) that shows the interactions with gRPC (cut and paste from our codebase).

I apologise for the calls out to some of our internal libraries, but hopefully this will give you an idea of how it's implemented.

Some of the exceptions in common.py won't make sense- there's a whole broker system that we've designed that sits on top of it all that

[2018-03-15 05:59] axot commented on #14713
@ZhouyihaiDing Here is the result:

## version
[code]

## without php-fpm
[code]

## with php-fpm
[code]

[2018-03-15 08:02] namrata-ibm commented on #13458
Changes suggested in #14464 resolve the issues on s390x.
Tried running `helloworld` example and also few tests from c module which pass.(tried in gRPC v1.8.3)
Thanks @yashykt  for your help.

[2018-03-15 11:03] forestphoenix opened #14717 "GRPC_ARG_KEEPALIVE_TIME_* on the C++ client does not work when streaming"
### Should this be an issue in the gRPC issue tracker?
 yes

### What version of gRPC and what language are you using?

grpc 1.10 with C++

### What operating system (Linux, Windows, …) and version?

Ubuntu 16.04.3 LTS (Xenial Xerus)

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609

### What did you do?

- I star

[2018-03-15 11:13] forestphoenix commented on #14717
Source code to reproduce the issue can be found here:
https://gist.github.com/forestphoenix/cd9d0ae24cbb5c6218b4299f4df5521b

[2018-03-15 11:36] jtattermusch commented on #14698
@vjpai   any progress here? we need to fix the bazel issues ASAP - the bazel tests are always red on our PRs and that's introducing noise we really don't want to have.

[2018-03-15 11:40] jtattermusch commented on #14696
any progress here? bazel tests are always red on our PR, so this needs to be fixed with high priority.

[2018-03-15 14:27] markdroth commented on #14701
Instead of using a whole different plugin registry, I think we should just use a channel arg to de-select the filters we don't want for cronet.  The channel arg can be checked in the function passed to `grpc_channel_init_register_stage()` for adding the filter.

[2018-03-15 15:33] jiangtaoli2016 commented on #14696
The fix is here https://github.com/grpc/grpc/pull/14716.

[2018-03-15 16:20] ZhouyihaiDing commented on #14713
Thanks @axot

In the upstream issue, the first connection of v1.10.0 takes around 1s which looks strange, because this patch only prevent the channel been deleted at the end of the script. Maybe this 230ms is using the cache of something in the previews RPC, but still need to fetch something from the auth or backend?

And in the php-fpm mode, 10ms seems like it is reuse everything.

It seems remov

[2018-03-15 17:02] muxi commented on #14701
Switching between chttp2 and Cronet happens at build time; that makes me feel more appropriate to use a different plugin registry for Cronet. We can drop the binaries of unused plugins.

If we are going to do that at run time it probably makes more sense to have an extra enum in [`channel_stack_type`](https://github.com/grpc/grpc/blob/dc46c7f565196d6684d5cf6ee81e99b413ba5282/src/core/lib/surface/c

[2018-03-15 17:56] calder opened #14718 "Add StatusCodeName function to the C++ API that returns the string name of a status code"
If this exists, I haven't been able to find it.

[2018-03-15 18:05] vjpai commented on #14718
Hi there. I think this won't make it to the API because we already provide the enumerated value (through the function Status::error_code() ), and the string representation of the status code does not provide additional meaning to the application (unlike the error_message or error_details)

[2018-03-15 18:05] #14718 closed

[2018-03-15 18:43] yang-g commented on #14717
Please try setting GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS to 1 at both client and server.
And set GRPC_ARG_HTTP2_MIN_RECV_PING_INTERVAL_WITHOUT_DATA_MS at server to a value smaller than 10000 and set GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS at client to 10000.

[2018-03-15 18:44] yang-g commented on #14717
Feel free to reopen the issue if you still see problems. Thanks.

[2018-03-15 19:12] markdroth commented on #14701
I don't think it makes sense to have a different channel stack type for each transport.

If the goal here is to avoid building plugins that we don't need for Cronet, then presumably this is not just a plugin registration issue, but actually a build issue.  How is that build integration done?  For example, isn't the client_channel code also unused with Cronet?  If so, how do we avoid building the c

[2018-03-15 19:41] muxi commented on #14701
To avoid building plugins that we don't need for Cronet is the reason that I would like to use a separate plugin registration. I am not going to address that in this issue though. This particular issue is only about using the alternative plugin_registry file for Cronet and unblocks #14615. Making an additional channel arg would unblock #14615 too but diverts from the path of follow-up build integr

[2018-03-15 19:48] markdroth commented on #14701
I see.  So today, we are actually building things we don't need for cronet, and the goal here is to fix that?

How are we going to indicate which plugins should be built for cronet and which should not?

I think @nicolasnoble should weigh in on this proposal.

[2018-03-15 19:57] muxi commented on #14701
Yes

I think the goal here is to resolve the issue in #14615 in a way that would not be reverted when we want to improve the build integration.

Plugins built for cronet are specified by filegroups in `build.yaml`. Some reorganizations there are required (e.g. `client_channel` is not needed for Cronet but `grpc_transport_chttp2_client_secure` transitively depend on it). I'll leave that when we wor

[2018-03-15 20:18] yihuazhang commented on #14696
#14716 has just been merged. @jtattermusch, could you please run bazel tests again to confirm if it works?

[2018-03-15 20:39] ZhouyihaiDing commented on #14682
Thanks @yashykt . This PR solve the `grpc_completion_queue_create_for_pluck` segment fault in php extension.
Is it possibel that `grpc_completion_queue_shutdown(completion_queue);` is having the same issue? Because I noticed that the segment fault still there in php extension unless comment this function too. As well as `grpc_completion_queue_destroy`
Hi @svycka , it is strange that the syscall re

[2018-03-15 20:50] yashykt commented on #14682
@ZhouyihaiDing The PR makes it returns a default value of 0 for when the system has cpu hot-plugging, and so the same issue should not be occurring in other parts. As far as the hosting goes, I'm not sure what they can do to solve this issue. It's more of providing a way to determine the maximum number of hot-plugged CPUs at grpc initialization.

[2018-03-15 20:57] yashykt opened #14721 "Add Capability for Testing for gRPC on big endian systems"
Currently, the gRPC testing infrastructure does not have the capability to run tests on a big endian system. This means that we have no immediate way of knowing whether gRPC is working or not for big endian systems.

After talking to @nicolasnoble about it, it seems that Kokoro does not support integration with big endian systems.

Let's track possible solutions to provide testing on big endian sy

[2018-03-15 21:01] yashykt commented on #13458
Thanks for verifying @namrata-ibm!

[2018-03-15 21:14] ZhouyihaiDing commented on #14682
Maybe `grpc_completion_queue_shutdown` segment fault is caused by other syscall? Can you please help to test this 3 lines together when you have time? Thank you!
[code]

[2018-03-16 00:07] muxi commented on #14593
@Serapke have you installed gRPC in your system before? It feels like an error that your compiler is referring to very old gRPC headers, not the ones that come with the repo you cloned.

[2018-03-16 00:10] matt-kwong commented on #14624
Hi, sorry for the late response. Could you try running `make HAS_SYSTEM_PROTOBUF=false`? You might have an out of date protobuf installed on your system, and the above command will use our protobuf submodule in `third_party/protobuf`.

[2018-03-16 01:37] dgquintas opened #14724 "bins/tsan/grpclb_end2end_test SingleBalancerWithClientLoadReportingTest.Vanilla is flaky under tsan and poll-cv"
This showed up today as a new flake, but turns out to be a very old one, as far back as I can easily go: even at 5b48dc737151464c1d863df6e4318ff3d766ddbc from Jan 20th the test is flaky under tsan and poll-cv:

[code]
Note that it may take a while. In the previous example, it took 1291 runs and about 11 minutes.

[2018-03-16 02:03] axot commented on #14713
Thanks for your nice work @ZhouyihaiDing !

It's wired the patch which fixed `persistent channel` should not boost the first connection from ~1000ms to ~200ms. Without php-fpm `persistent channel` will not work with php itself right?

[2018-03-16 02:44] axot commented on #14713
Some updates here, the `1 Query` of patch vs original are 245.656ms and 500.166ms respectively, but the tcplife is almost at same level 230.41ms and 191.12ms, so I guess there are some overheads.

## patched 1.10.0
[code]

## original 1.10.0
[code]

[2018-03-16 04:43] Disturbing commented on #14522
Hey Guys - this would really be helpful to understand mocking with this library... It's quite a pain not being able to write effective tests when a dependency requires another dependency.  Any help please?

[2018-03-16 05:00] axot commented on #14713
@ZhouyihaiDing I think I may found what caused this difference. In `pecl-grpc`, it seems did not include `-O2` optimization FLAGS, could you confirm this, please?

[2018-03-16 07:05] 0oneo opened #14725 "iOS app idle for a duration of time, like half an hour, GRPC call will timeout"
### What version of gRPC and what language are you using?
1.9.1

### What operating system (Linux, Windows, …) and version?
 iOS latest version

### What did you do?
iOS app idle for like half an hour, then refresh a page to fetch resources from server using grpc, then the fetch will fail, most time the request following the failed operation will success, rare case is all operations is always fail

[2018-03-16 10:59] mastergberry opened #14726 "Cannot compile x86 GRPC 1.8 or 1.10 on Windows 10 Platform"
Hi. I am having issues compiling the new GRPC platform on my local machine. I am going to tag @jtattermusch since he helped me last time and was the one that setup all the Windows CMake stuff a year ago when it was not very well documented yet.

I am using Visual Studios Enterprise 2015. Version 14.0.25431.01 Update 3

I followed the instructions on both the 1.8.x and 1.10.x branches and have been

[2018-03-16 15:42] srini100 commented on #12383
Removing proto serialization/deserialization has no affect. Memory is recovered if the streaming RPC is closed.

[2018-03-16 16:40] adelez commented on #14697
Probably got fixed together by #14716.

[2018-03-16 16:40] #14697 closed

[2018-03-16 16:41] adelez commented on #14698
Looks like fixed by #14716.

[2018-03-16 16:41] #14698 closed

[2018-03-16 16:43] adelez commented on #14696
Master builds are green now! Your fix solved all 40+ failures. Woohoo! Thanks.

[2018-03-16 16:43] #14696 closed

[2018-03-16 16:44] adelez commented on #14695
Fixed!

[2018-03-16 16:44] #14695 closed

[2018-03-16 16:48] vjpai commented on #14152
Fixed by #14221

[2018-03-16 16:48] #14152 closed

[2018-03-16 17:55] ncteisen opened #14729 "Flaky Bazel Dbg Tests"
There are some flaky Bazel tests. This run shows 4 failures, that I am pretty sure are not related to my change:

[code]

https://source.cloud.google.com/results/invocations/773418ff-b2cd-4422-a389-fe5384bce5c0/targets/grpc%2Fubuntu%2Fpull_request%2Fremote_bazel_tests_dbg/log

[2018-03-16 18:09] adelez commented on #14692
This should be fixed on 3/14.

[2018-03-16 18:09] #14692 closed

[2018-03-16 18:13] adelez commented on #14257
https://source.cloud.google.com/results/invocations/4527ecf2-f7b3-434e-9102-b75e1ce1df5c/targets/%2F%2Ftest%2Fcpp%2Fqps:qps_openloop_test@poller%3Depoll1/log

[2018-03-16 18:17] adelez opened #14730 "Bazel test flake: //test/core/end2end:h2_http_proxy_test@hpack_size flakes with dbg build"
https://source.cloud.google.com/results/invocations/583ce710-21f9-487e-aef1-55540d47dd9d/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@hpack_size@poller%3Depollsig/log

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
D0316 15:51:51.310599817      18 test_config.cc:391]         test slowdown factor: sanitizer=1, fixt

[2018-03-16 18:20] adelez commented on #14512
A similar flake in dbg build with end2end_test:
https://source.cloud.google.com/results/invocations/583ce710-21f9-487e-aef1-55540d47dd9d/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depoll1/log

[2018-03-16 18:27] adelez opened #14732 "Bazel test flake: //test/cpp/naming:resolver_component_tests_runner_invoker@poller=poll-cv flakes with dbg"
https://source.cloud.google.com/results/invocations/583ce710-21f9-487e-aef1-55540d47dd9d/targets/%2F%2Ftest%2Fcpp%2Fnaming:resolver_component_tests_runner_invoker@poller%3Dpoll-cv/log

[2018-03-16 18:28] adelez commented on #14240
Another instance with bad_ssl_cert_test
https://source.cloud.google.com/results/invocations/583ce710-21f9-487e-aef1-55540d47dd9d/targets/%2F%2Ftest%2Fcore%2Fbad_ssl:bad_ssl_cert_test@poller%3Depollsig/log

[2018-03-16 18:29] adelez commented on #14729
These are different test failures, not infra bug.
#14240
#14730
#14512
#14732

Closing this bug.

[2018-03-16 18:29] #14729 closed

[2018-03-16 18:38] tmatsuo commented on #14713
@axot Re: cache, I recommend that you use sth like sysv cache (https://github.com/GoogleCloudPlatform/google-cloud-php/issues/819#issuecomment-365461933) because it is super fast. Only caveat is that this only works on *nix systems.

The sysv cache can be shared among processes, so that you can warm up the cache at the server startup once, then all the other processes will benefit from this.

[2018-03-16 21:08] raulAtNines commented on #9575
Ok, I figured out that the restriction here is that imports are generated based on the proto hierarchy, not the output hierarchy. Does it make sense to change the generated import syntax to match the output folder structure instead @ctiller ?

[2018-03-17 01:21] axot commented on #14713
@tmatsuo Thank you for providing a shared memory cache implementation. I'll try this in the next week.

[2018-03-17 15:08] calder commented on #14718
For logging, it's nice to be able to log a `Status::error_code()` in a human readable form rather than requiring a human to open up the gPRC source code to decode every enum value they seee.

[2018-03-17 18:18] vjpai commented on #14718
I totally agree, but that seems like an application/framing issue to me, not a gRPC library API issue.

[2018-03-17 21:38] scottwio commented on #8682
Could I have early access as well?

I have 2FA enabled.

[2018-03-17 22:27] kalman5 commented on #14061
If you think this is an easy task as first contribution to grpc I can take care of this, at least I will try.

[2018-03-18 00:31] protector1990 opened #14740 "Getting '--grpc_out: protoc-gen-grpc: The system cannot find the file specified.' error on win10"
Hi,
I'm trying to install grpc for c++ from source on windows 10, but after building from source and trying to run it I get following error:

`C:\private\grpc\examples\cpp\helloworld>protoc -I ../../protos/ --grpc_out=. --plugin=protoc-gen-grpc=grpc_cpp_plugin ../../protos/helloworld.proto

--grpc_out: protoc-gen-grpc: The system cannot find the file specified.`

I tried following directions from

[2018-03-18 14:41] iiSeymour opened #14741 "grpc-tools arm64 support"
### What version of gRPC and what language are you using?

Node 8, grpc 1.9.1, grpc-toos 1.6.6

### What operating system (Linux, Windows, …) and version?

Ubuntu Linux 4.4.38 aarch64 (arm64 v8).

### What did you do?

Using the following `Dockerfile` and running `docker build .`

[code]

### What did you expect to see?

The package `grpc-tools` installed.

### What did you see instead?

[code]

[2018-03-18 14:54] iiSeymour commented on #14741
Adding debug log: [2018-03-18T14_33_53_596Z-debug.log](https://github.com/grpc/grpc/files/1822780/2018-03-18T14_33_53_596Z-debug.log)

[2018-03-18 22:39] ndeet commented on #12250
Hi,
also had this problem with connecting to Go 1.10 lnd node. I set the env variable. Would be great if those stronger suites are set by default. (grpc version used 1.9.0)
[code]

[2018-03-19 08:34] savagecm opened #14742 "GRPC _cq thread won't exit when there is no ":" between IP and Port(127.0.0.12334 VS 127.0.0.1:2334))."
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 Yes
Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questio

[2018-03-19 13:21] jtattermusch commented on #14726
@mastergberry   does the x86 build work well with VS only build (= not using Ninja)?   We have a continuous test for x86 build on Visual Studio (which is passing consistently), but we are not testing testing with Ninja directly.

[2018-03-19 13:37] siacomuzzi commented on #11427
FYI https://www.nginx.com/blog/nginx-1-13-10-grpc/

[2018-03-19 14:04] forestphoenix commented on #14717
I have added the arguments you suggested, but the both server and client still take 15 minutes to time out.

[2018-03-19 14:10] forestphoenix commented on #14717
@yang-g Given that the problem still exists, can you reopen the issue?

I since you (as contributor) closed the issue, I cannot reopen it.

[2018-03-19 14:33] vjpai commented on #14061
Although we love help from our partners, this issue does not seem like a good first issue. It is too all pervasive.

[2018-03-19 14:36] jtattermusch commented on #13650
After adding the extra logging information in #14700, the response status is `0` - which doesn't correspond to any HTTP status code. To me, this looks a bit like a race condition (seeing response that's not fully set yet?) - but I'm just guessing.
[code]

[2018-03-19 14:38] jtattermusch commented on #14549
Still seeing this on master:
https://sponge.corp.google.com/target?id=823c6039-2ce7-46bd-9cb3-b40aa4438a1a

[2018-03-19 15:15] mastergberry commented on #14726
@jtattermusch Hey, if you mean these steps from the `INSTALL.md` file:

[code]

Then yes I tried using this too and it did not work for me. It was crashing on the same spot as the ninja build was.

[2018-03-19 15:56] mastergberry commented on #14726
Here are the logs from using the Visual Studio build approach:

CMakeError.log: https://gist.github.com/mastergberry/698c426b005a23f57e595c62a1cf7104
CMakeOutput.log: https://gist.github.com/mastergberry/2da412bcc0a474a6124c44cd6ef9b8dc

[2018-03-19 16:06] jtattermusch commented on #14726
@mastergberry   from what you're saying it looks more like the "Performing Test HAVE_STD_REGEX" fails for some reason - which would point to a cmake issue. Which cmake version are you using?

[2018-03-19 16:08] mastergberry commented on #14726
@jtattermusch

[code]

Is there a recommended version of cmake? I would have imagined that the cmake files would have complained earlier on about outdated versions (I thought it checks for this in the Makefiles)

[2018-03-19 16:10] jtattermusch commented on #14726
I also have cmake 3.7.2 (anything >2.8.x should work I believe)

[2018-03-19 16:11] jtattermusch commented on #14726
@mastergberry   if you could do git bisect to see which commit introduced this problem, it would be great.

[2018-03-19 16:18] mastergberry commented on #14726
@jtattermusch I'm not familiar with this command. I looked it up briefly and it looks like I need to

1) type `git bisect start` on the current version
2) type `git bisect bad` on the current version
3) type `git bisect good [hash of working build]`

and then it will do some kind of binary search between the number of commits to find the bad commit by checking out random commits and me building ea

[2018-03-19 16:25] hjmallon opened #14743 "Simplified CMake mode for including as a submodule"
We are currently using protobuf, without gRPC, as a submodule. This works well and we tend to switch off various targets in the cmake project add with `add_subdirectory(protobuf EXCLUDE_FROM_ALL)`.

We want to use gRPC. However, the build system is much more complicated. It looks like some requirements (such as Go) could be avoided with an `ENABLE_TESTING=Off` switch. As far as I can tell Go is on

[2018-03-19 16:28] jtattermusch commented on #14726
@mastergberry   yes, it allows you to find out which commit introduced a suspected breakage (=> you're saying that the build worked for you earlier and then got broken). in a reasonable (logarithmic) number of steps.

[2018-03-19 16:39] mastergberry commented on #14726
@jtattermusch  After all of my testing I realized later on that this command `call "%VS140COMNTOOLS%..\..\VC\vcvarsall.bat" x86` was giving the following output instead of nothing

[code]

The last command i typed was `git bisect good` and I got this output

[code]

[2018-03-19 16:42] mastergberry commented on #14726
Just noting it was not always saying

[code]

Just on some of the older builds when i got far enough in the `git bisect`

[2018-03-19 18:08] jtattermusch commented on #14726
@mastergberry   I think the `The input line is too long.` error is unrelated - it happens when you the vcvarsall.bat is called multiple times and keeps appending to the env variables until they grow too large.

[2018-03-19 18:26] mastergberry commented on #14726
@jtattermusch ok do u need anything else from me atm?

[2018-03-19 18:45] xsorifc28 commented on #8682
Could I get early access please?
I have enabled 2FA on my github account.

[2018-03-19 18:56] L-Lavigne commented on #8682
Hi @wenbozhu and @zinuga, I'd love to get early access as well. Got 2FA. Thanks in advance!

[2018-03-19 19:43] yashykt commented on #13458
Fixed in #14464

[2018-03-19 19:43] #13458 closed

[2018-03-19 19:43] markdroth commented on #13477
Just saw this again:

https://source.cloud.google.com/results/invocations/2fa26d40-c063-4200-947e-d2e845e28bc4/targets/github%2Fgrpc%2Fcpp_macos_dbg_native/tests

[2018-03-19 20:13] Brahmasmi opened #14749 "Update third_party/protobuf to v3.5.2 from v3.5.0"
### Should this be an issue in the gRPC issue tracker?

Yes.

### What version of gRPC and what language are you using?

v1.10.x

### What did you do?

Build gRPC from source. Machine does not have pre-installed protoc.

### What did you expect to see?

Installed third_party/protobuf to be at v3.5.2 (March release).

### What did you see instead?

Installed third_party/protobuf to be at v3.5.0 (De

[2018-03-19 21:07] stephanemoore opened #14752 "GRPCCall declares atomic properties that are not atomic ☢️"
For example, the `oauth2AccessToken` property is declared `atomic` [here](https://github.com/grpc/grpc/blob/989466171296e296867a3009f615a90d46acf28d/src/objective-c/GRPCClient/GRPCCall%2BOAuth2.h#L38) but [its implementation](https://github.com/grpc/grpc/blob/989466171296e296867a3009f615a90d46acf28d/src/objective-c/GRPCClient/GRPCCall%2BOAuth2.m#L39) suggests otherwise.

We should fix any GRPCCall

[2018-03-19 21:07] ZhouyihaiDing commented on #14534
Duplicate of #14713. Close this issue in order to make the progress clear.
By tracing the request, startBatch latency for the first RPC is mostly caused by waiting the network event.
The new issue is that the persistent channel which should be cached to make the following rpc faster, doesn't work. I am working on adding the persistent channel management.

[2018-03-19 21:07] #14534 closed

[2018-03-19 21:22] alertedsnake commented on #9576
I found another issue that makes this impossible: you can't actually access the `context` variable within an interceptor, so there are a lot of things you can't see - HTTP headers, for example.

This is possible with using the `context.add_callback()` method I described, but there's no way within the callback to obtain the `context` either, and so it's also not a useful method for logging informat

[2018-03-19 21:22] ZhouyihaiDing opened #14753 "grpc_completion_queue_shutdown/grpc_completion_queue_destroy segment fault randomly in certain environment"
It is the cause for the #14601. The user provided the way to access their environment in the comment.

### What version of gRPC and what language are you using?
 gRPC-v1.10.0

### What operating system (Linux, Windows, …) and version?
 2.6.32-042stab127.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
If possible, provide a recipe for

[2018-03-19 21:25] ZhouyihaiDing commented on #14601
`grpc_completion_queue_create_for_pluck` segment fault has been solved in #14682.
There is still segment fault in
[code]
Created issue #14753 to track them,

[2018-03-19 21:28] srini100 commented on #14559
@initialed85 , while @nathanielmanistaatgoogle  is out of office for next two weeks, please verify if your issue is related to #14523 .  Either you can downgrade to 1.8.4 or set env variable GRPC_POLL_STRATEGY=poll. Please confirm if this make any difference.

[2018-03-19 21:48] srini100 opened #14754 "Document usage of GRPC_SSL_CIPHER_SUITES"
There are a number of discussion talking about setting GRPC_SSL_CIPHER_SUITES = "HIGH + ECDSA" to resolve some issues. This doesn't seem to be documented anywhere in gRPC projects. Please provide some documentation around this, perhaps in grpc/doc/environment_variables.md. References found here:
https://github.com/lightninglabs/lightning-coindesk/issues/2#issuecomment-354727899
https://github.com/

[2018-03-19 21:59] mehrdada commented on #9576
@alertedsnake the idea is you return a substitute RpcMethodHandler from the intercept_service that has access to context. This way if you're not interested in further interception, you can get out of the invocation path of the RPC. If you are, the interceptor constructs it's own wrapper RpcMethodHandler that does arbitrary things when invoked, and that has access to the full context.

[2018-03-19 22:02] alertedsnake commented on #9576
@mehrdada Do you have an example of this?  Also, according to what you said earlier, this only works for streaming responses, what about unary?

[2018-03-19 22:11] ZhouyihaiDing commented on #14601
Hi @svycka .
I guess there are something strange happening in your environment. I just ssh to your environment, checkout to the version v1.10.0 and find out that building gRPC from the source works well suddenly (100 times `php extension=grpc.so -m` without segment fault).
[code]

[2018-03-20 00:53] srini100 commented on #13319
@Rhysol, I know it's been a while. Do you still see this issue. Can you make your demo code available?

[2018-03-20 01:10] danieltahara opened #14757 "Feature Request: Supporting Stateful Balancer/Pickers"
As an example, we have a picker that prefers newly created connections to old ones. Unfortunately, because the balancer is a singleton, the pickerbuilder also ends up being a singleton:
[code]

As a result, we can't easily maintain per-connection state inside our picker builder, because that state ends up being global.

We worked around this issue by proxying the BalancerBuilder, per:

[code]

How

[2018-03-20 01:11] srini100 commented on #12383
This issue is due to a bug in flow control logic (being fixed in #14747) in C-core because of which memory on receiving side can grow unbounded if the application is consuming the stream slower than it is received on the wire. The memory is freed when RPC terminates.  Due to this issue, you will see a sawtooth like pattern where memory usage grows with each streaming RPC until it terminates.

[2018-03-20 01:22] sreecha commented on #13477
This is most likely the issue I documented here: https://github.com/grpc/grpc/issues/13429#issuecomment-363657093

We need to do a CQ next on the `f->cq`  **after** calling `grpc_server_shutdown_and_notify` .
(In, #14204 which previously fixed this issue, we were calling it *before* `grpc_server_shutdown_and_notify`)

I suggest we pass `f->cq` to `grpc_server_shutdown_and_notify` (instead of passi

[2018-03-20 03:48] initialed85 commented on #14559
@srini100 thanks for the follow-up; we're not seeing "can't start new thread" exceptions anywhere in our logs or stdout/stderr, so I'm not sure if it's related to that one.

I'll change our environment to include GRPC_POLL_STRATEGY=poll and report back, cheers.

[2018-03-20 06:50] Disturbing commented on #14088
CSharp server has been running for 10 days now without issues. My case is closed for the randomness of goaway happening after 2-3 days.

[2018-03-20 07:12] #14088 closed

[2018-03-20 07:25] svycka commented on #14601
installing from pecl 1.10 version did not work but compiling from source
[code]
so far did not crashed.

unfortunaly I did not able to run tests errored with
[code]
`composer install` did not help

[2018-03-20 07:27] initialed85 commented on #14559
@srini100

Just reporting back- I can confirm that with grpc-io==1.10 and the GRPC_POLL_STRATEGY=poll environment variable we're still seeing the segfaults in the Docker host's /var/syslog.

    saetech@saetech-dev-other:~$ docker exec -it ims_backend /bin/bash
    root@saetech-dev-other:/srv/wireless-manager-back-end# env | grep GRPC
    GRPC_POLL_STRATEGY=poll
    root@saetech-dev-other:/srv/wir

[2018-03-20 07:37] jtattermusch opened #14760 "PHP distribtest php_macos_x64 broken on Kokoro"
[code]

https://sponge.corp.google.com/target?id=b7638c1a-fa99-43a4-b95b-ce0a0b26b966&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

I think this is because PHP installation has been installed by a different user. Is there a way for us to workaround this?

Unfortunately, out ability to run ad-hoc experiments is somewhat limited currently, so it might be a bit hard to debug this unless we kn

[2018-03-20 07:50] jtattermusch opened #14761 "PHP distribtest php_linux_x64_jessie broken (on Kokoro)"
https://sponge.corp.google.com/target?id=9251c3a1-83ac-4e7e-ab80-0c3a5a0ede10&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

Most likely broken on Jenkins as well.

[code]

[2018-03-20 07:59] jtattermusch opened #14762 "Several python distribtests broken on Linux (on Kokoro)"
https://sponge.corp.google.com/target?id=9251c3a1-83ac-4e7e-ab80-0c3a5a0ede10&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

Most of them fail with
[code]
which AFAIK is basically an indication that the grpcio installation has fallen back to installing grpcio by compiling it from source - which should not happen and a binary wheel should be used.

I assume the tests are equally broken on Je

[2018-03-20 09:39] jtattermusch commented on #14381
@jboeuf   it looks like that client won't get authenticated (and AuthContext populated) unless "forceClientAuth" is `true`. Is the the expected behavior?

[2018-03-20 09:51] jtattermusch commented on #9264
AFAIK there are no plans for this.  @ncteisen what is the significance of this benchmark?

[2018-03-20 10:50] jtattermusch commented on #13224
Not seen this for almost 2months.

[2018-03-20 10:50] #13224 closed

[2018-03-20 10:52] jtattermusch commented on #13385
Haven't seen this on master for several months.

[2018-03-20 10:52] #13385 closed

[2018-03-20 10:58] jtattermusch commented on #12748
Not seen over the last few months.

[2018-03-20 10:58] #12748 closed

[2018-03-20 11:00] jtattermusch commented on #14128
Not seen since 2018-01-09.

[2018-03-20 11:03] jtattermusch commented on #13572
Not seen on master since 2018-01-15.

[2018-03-20 11:03] #13572 closed

[2018-03-20 11:04] jtattermusch commented on #13765
Not seen since 2018-01-28.

[2018-03-20 11:04] #13765 closed

[2018-03-20 11:04] jtattermusch commented on #13609
@adelez   can this be closed?

[2018-03-20 11:04] jtattermusch commented on #13610
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13611
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13613
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13617
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13618
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13622
@adelez   can this be closed?

[2018-03-20 11:05] jtattermusch commented on #13619
@adelez   can this be closed?

[2018-03-20 11:07] jtattermusch commented on #13133
Not seen in the last few months.

[2018-03-20 11:07] #13133 closed

[2018-03-20 11:08] jtattermusch commented on #14513
@adelez  is this fixed now?

[2018-03-20 11:15] jtattermusch commented on #13973
Not seen since 2018-01-28

[2018-03-20 11:15] #13973 closed

[2018-03-20 11:41] forestphoenix commented on #14717
When I stop doing `Write` calls on the client, the client does time out after 20 seconds.

With `Write` calls, it takes 15 minutes.

Could that be a clue about what is going on here?

[2018-03-20 13:30] Titanssword commented on #9987
I also met this problem today,  I solve this by changing `localhost` in `channel = grpc.insecure_channel('localhost:50051')` to the correct availble IP address.

[2018-03-20 13:57] jtattermusch commented on #13428
Currently seen about once a month
https://sponge.corp.google.com/invocation?id=d6b49b26-ebf6-42f9-941e-e6946c987070

[2018-03-20 14:00] jtattermusch commented on #10049
Not seen in a long time & test also seems removed by  https://github.com/grpc/grpc/pull/14702.

[2018-03-20 14:00] #10049 closed

[2018-03-20 14:03] jtattermusch commented on #14268
Recently seen on master:
(dbg)
https://sponge.corp.google.com/invocation?id=bab47b13-07e8-4c56-a04e-1fdb99f82c22
(tsan)
https://sponge.corp.google.com/invocation?id=3d0c6cbc-f742-4b9e-a925-3409646a712d

[2018-03-20 14:06] jtattermusch commented on #13905
Not seen on master since 2017-12-19

[2018-03-20 14:06] #13905 closed

[2018-03-20 14:24] alertedsnake commented on #9576
I'm trying your method of returning a substitute RpcMethodHandler, based on the code you linked, and there still isn't a way to get the `context._state` and log the error code, since interceptors happen *before* the business logic in the handler code.  The only way you can get that is *after* the call entirely, which means the callback method I described earlier.  Overall I do like this approach b

[2018-03-20 14:34] ncteisen commented on #9264
We are not adding a scenario like this, this issue can be clised

[2018-03-20 14:34] #9264 closed

[2018-03-20 14:58] #13806 closed

[2018-03-20 16:26] PWKad commented on #14489
This worked for me but definitely was not clear until I found this issue.

[2018-03-20 16:45] yang-g commented on #14717
I looked at your source code and it seems you are doing a non-stop sequence of writes. In this case, the write should detect the failure of the connection (rather than the keepalive), and the fact that  Write failed to come back with an error is the key problem here.

[2018-03-20 16:46] yang-g commented on #14717
@yashykt Could you take a look? Thanks.

[2018-03-20 18:28] adelez commented on #14513
No, still happening: https://source.cloud.google.com/results/invocations/9b476e04-d002-4daf-b4e6-67bb9c5b96b1/targets

[2018-03-20 19:11] yashykt commented on #13477
Nice Idea Sree! I was thinking of creating another thread to handle this scenario, but using f->cq instead of f->shutdown_cq will be a much simpler fix. Thanks!

[2018-03-20 20:23] jboeuf commented on #14381
+ @jiangtaoli2016 FYI,

At the core layer, `forceClientAuth=true` translates to `TSI_DONT_REQUEST_CLIENT_CERTIFICATE` at the core `ssl_transport_security.cc` layer. I could see this being changed to `TSI_REQUEST_AND_REQUIRE_CLIENT_CERTIFICATE_BUT_DONT_VERIFY` but I'm afraid that it could break other clients.

These flags are explicit at the core layer where we deprecated the `forceClientAuth` usag

[2018-03-20 21:33] jrbury commented on #8682
Hi @wenbozhu and @zinuga I have filled out the form, have 2FA and am very interested in moving to gRPC from my current websocket setup if you're still accepting early access users!

Thanks!

[2018-03-20 23:45] ZhouyihaiDing commented on #14601
Oh, sorry we split the example into 2 steps. You need to generate the HelloWorldClient and related definition from the proto files first, then run the php script.
You can run `./greeter_proto_gen.sh`, which will generate 2 directories called `GPBMetadata` and `HelloWorld` under that directory, then run `./run_greeter_client.sh`.

[2018-03-21 00:58] mehrdada commented on #9576
@alertedsnake I am OOO for a couple weeks. Will write an example after I come back, but the general pattern is the following:  To intercept the code/details, the idea is to wrap the context *before* passing it to the next `continuation`; that way you can implement your own `set_code`/`set_details`/`abort` calls that keep track of the metadata and then call into the underlying `context`.

[2018-03-21 01:32] nicolasnoble commented on #14741
I'm afraid this isn't something we will be able to provide easily, if at all.

Could you describe your usage case that would entice you to develop on an arm64 machine ?

[2018-03-21 01:52] axot opened #14767 "pecl-gRPC is missing -O2 optimization compile FLAG"
Take a look of https://pecl.php.net/get/grpc-1.10.0.tgz,

## config.m4
[code]

By default `-O0` was used, so it will make `grpc.so` really slow as I mentioned in https://github.com/grpc/grpc/issues/14713#issuecomment-373604085.

[2018-03-21 02:56] euroelessar commented on #14431
@jiangtaoli2016 Hi, can you check if this api proposal does make sense, please? It's heavy influenced by existing server-side golang session ticket API.

1. Add one more private field to `grpc_ssl_server_certificate_config` structure: list of session ticket encryption keys (STEKs).
2. First key in the list is used to encrypt new tickets
3. All keys are used for decrypting old tickets (to support g

[2018-03-21 03:15] biolee opened #14770 "python_out and grpc_out have different path if the proto file path have `.`"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows, …) and version?
 mac 10.13.3 (17D102)

### What runtime / compiler are you using (e.g. python version or version of gcc)
POC repo https://github.com/biolee/grpc-python-bug-poc

[2018-03-21 03:15] biolee opened #14771 "python_out and grpc_out have different path if the proto file path have `.`"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows, …) and version?
 mac 10.13.3 (17D102)

### What runtime / compiler are you using (e.g. python version or version of gcc)
POC repo https://github.com/biolee/grpc-python-bug-poc

[2018-03-21 03:31] taf2 opened #14772 "grpc 1.8.0 not compatible with ruby 2.5"
What version of gRPC and what language are you using?
1.8.0-x86-linux for ruby

What operating system (Linux, Windows, …) and version?
Linux running Arch Linux on kernel 4.14.11

What runtime / compiler are you using (e.g. python version or version of gcc)
ruby 2.5
gcc 7.2.1

What did you do?
Trying to install the gem for ruby 2.5

What did you expect to see?
That grpc works with ruby 2.6

What di

[2018-03-21 03:44] apolcyn commented on #14772
you might want to try a source package, e.g., `gem fetch grpc --platform ruby`, followed by a `gem install <grpc package that was just fetched>`.

ruby 2.6 pre packages probably won't be supported for a while, unless there is a big push for doing so.

[2018-03-21 03:59] taf2 commented on #14772
For me right now it looks like the issue is actually with Bundler... i was able to gem instlal grpc and compile it just fine in ruby 2.6 however, bundler always tries to download the platform specific gems... i'll try from git repo... Thanks!

[2018-03-21 06:54] svycka commented on #14601
I still can't run tests now this error:
[code]
but anyway as I said 1.10 does not work but latest master so far did not crashed so let's assume it will be fixed in 1.11?

[2018-03-21 07:52] jtattermusch opened #14775 "cpp_linux_dbg_native_x64_gcc7.2: AsyncEnd2end/AsyncEnd2endTest.ReconnectChannel consistently timing out in portability suite (poll-cv)"
Consistently failing for cpp_linux_dbg_native_x64_gcc7.2 portability suite,  all failures are for `poll-cv`

https://sponge.corp.google.com/invocation?id=0a8cce9d-34c8-4e6d-bc96-d73b544a864b
https://sponge.corp.google.com/invocation?id=0c3336e8-0f8d-475c-94c6-d591d4aca246
https://sponge.corp.google.com/invocation?id=149ce060-10bf-43d2-8755-8b6901947779

[2018-03-21 08:07] jtattermusch commented on #14775
local reproduction `tools/run_tests/run_tests.py -l c++ --compiler gcc7.2 --use_docker -r ReconnectChannel`

[2018-03-21 09:05] jtattermusch commented on #14549
Still happening on master (seen once every 1-2 days). Bumping to P1. Any luck with root causing?

https://sponge.corp.google.com/invocation?id=88f7e21e-8a5e-49f9-90c6-d966cc83282f
https://sponge.corp.google.com/invocation?id=823c6039-2ce7-46bd-9cb3-b40aa4438a1a
https://sponge.corp.google.com/invocation?id=b7765304-0641-445a-80d8-183f991fe6a7
https://sponge.corp.google.com/invocation?id=5f4d0fc8-8d

[2018-03-21 13:52] Kalmalyzer opened #14777 "Deadlock in AsyncCall when cancelling ongoing RPCs"
I am experimenting with grpc-csharp in Unity, and I am encountering a deadlock during shutdown of my application. This happens with 30% probability when cancelling one particular RPC.

**Related bugs**
https://github.com/grpc/grpc/issues/9202 sounds related to this. I'm not sure -- but I think it is another bug.

**Background**
Some version information:
OS used: Windows 10 64-bit Home
Unity versio

[2018-03-21 14:32] michaelsafyan opened #14778 "channel_ready_future().result() should return the channel, not None"
### What version of gRPC and what language are you using?
The Google internal version (which I believe tracks the latest release here).

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7

### What did you do?

    def NewChannel(self):
        channel_credentials = self._FetchCredentials()

[2018-03-21 15:27] terborg commented on #8682
@wenbozhu @zinuga Could I please have early access? I have 2FA enabled. Thank you!

[2018-03-21 15:39] ProLoDs commented on #14771
https://github.com/grpc/grpc/issues/10790

Similar to this issue?

[2018-03-21 16:38] amitwaisel opened #14779 "Linux network interface disconnection hangs existing/new gRPC requests"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
 v1.9.0

### What operating system (Linux, Windows, …) and version?
 Linux - CentOS amd64, Ubuntu 17.04 amd64

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Ubuntu - gcc v7.2
CentOS - gcc (GCC) 5.3.1 20160406 (Red Hat 5.3.1-6)

### What did you

[2018-03-21 18:26] srini100 commented on #14559
@initialed85 I don't have any other ideas to try. Are you able to get crash stack with symbols?  BTW, Pypy is not supported so it will be hard to spend time on this.

[2018-03-21 18:33] paulb777 commented on #7406
This issue reproduces with the Firestore-Example scheme from the workspace generated by https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Example/Podfile.

You can do an archive build or just a plain build for `Generic iOS Device`.

More discussion and workarounds at https://github.com/firebase/firebase-ios-sdk/issues/898#issuecomment-374440332, GoogleCloudPlatform/ios-docs-sample

[2018-03-21 18:41] ZhouyihaiDing commented on #14601
`protoc: command not found` is the error that protobuf is not installed correctly. If you installed it, you may need to do `export LD_LIBRARY_PATH=/usr/local/lib`, then check `protoc --version` to see if it is installed.
[code]
After you install protoc, I think 1.10 will work well in the environment you provideded.
But you may still need to install gRPC extension by built from the source instead o

[2018-03-21 19:41] dgquintas commented on #14470
Seen again as part of `grpclb_end2end_test --gtest_filter=SingleBalancerTest.FallbackUpdate`: https://sponge.corp.googleusercontent.com/file?invocationId=d19eb125-6c4d-44eb-a80a-15f5fc31a237&targetResultIndex=2&largeText=Test+Log&filename=test.log&contentType=text/plain;+charset%3Dutf-8&format=streamed

[code]

[2018-03-21 20:06] jiangtaoli2016 commented on #12642
We will have a PR on caching the X509_STORE on SSL root certificates (https://github.com/grpc/grpc/pull/14722). SSL default root certificates will be loaded only once. Let's see whether it will resolve.

[2018-03-21 20:38] muxi commented on #7406
Thanks Paul. I'll take a look.

[2018-03-21 21:24] ZhouyihaiDing commented on #14767
Thank you!
Can you also run `tools/buildgen/generate_projects.sh`. It will update config.m4.
Our tests can make sure the new pear package works in different systems.

[2018-03-21 21:58] #14701 closed

[2018-03-21 22:36] initialed85 commented on #14559
@srini100 It's all good, thanks for looking into things for us- completely understand that PyPy isn't supported; I'm happy for you guys to close this issue.

I'll see if I can get a core dump or something, but nothing actually fails in our system and none of the PIDs match any of the PIDs of our processes (which bore the speculation that maybe it was a TID for a GRPC server instance's thread pool)

[2018-03-21 23:06] chwarr opened #14786 "Plans to Authenticode sign NuGet binaries?"
Are there any plans to [Authenticode sign](https://msdn.microsoft.com/en-us/library/windows/desktop/aa380259(v=vs.85).aspx#introduction_to_code_signing) the binaries included in the gRPC C# NuGet packages (and [also the packages themselves](https://github.com/NuGet/Home/wiki/Package-signing))? This would allow consumers of these packages and binaries to determine whether they were tampered with be

[2018-03-22 00:02] srini100 commented on #14559
@initialed85 I am closing this. Keep an eye on #12531 and try it out when it is fixed. grpc_global_tim[xx] does look like timer thread in GRPC C-core implementation (grpc_global_timer). Without symbols for ip/sp addresses we can't see where it crashed.

[2018-03-22 00:02] #14559 closed

[2018-03-22 00:13] srini100 commented on #14717
@yang-g, why should write detect the failure of connection when TCP has not yet timed out (15 mins in this case)? May be the problem is that keepalive logic thinks the bytes are are being sent but they are just being buffered in TCP due to broken connection.

[2018-03-22 00:30] yashykt commented on #14717
I also agree with Yang's observation that the keepalive timer has no affect here since the writes are being done continuously at both the server and the client.

I took a look at the code, and the non-stop writes are probably resetting the keepalive timer each time a write is attempted which is intended afaik. Also, a write might not return an error immediately because the writes are probably gett

[2018-03-22 00:30] kpayson64 opened #14789 "Enable _server_ssl_cert_config_test.py for gevent tests"
This test fails on windows quite frequently for gevent:
https://source.cloud.google.com/results/invocations/19c29021-98ec-4067-ab59-3d9bbb1b3b0b/targets/github%2Fgrpc%2Fpython_windows_opt_gevent/tests
[code]
Note the failure is also seen occasionally with gevent disabled:
https://source.cloud.google.com/results/invocations/19c29021-98ec-4067-ab59-3d9bbb1b3b0b/targets/github%2Fgrpc%2Fpython_windows

[2018-03-22 00:41] dgquintas commented on #14470
Another one: https://sponge.corp.google.com/invocation?tab=Build+Log&id=f6482a18-09a7-44d8-8b97-8541e429299d&searchFor=

[code]

[2018-03-22 00:41] dgquintas commented on #14470
Assigning to Noah as our resident grpc_error expert :)

[2018-03-22 02:24] srini100 commented on #14717
@yashykt, doesn't keepalive logic send a ping when no data frame has been received for GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS duration?

[2018-03-22 02:30] yashykt commented on #14717
@srini100 it would send a ping but if we are already writing then the ping is not really required right? The write buffering over here is causing the issue imo.

[2018-03-22 02:49] srini100 commented on #14717
In my mind the purpose of keepalive feature is to check the health of the connection (RTT, breakage etc.) without relying on lower layers. While we are sending data but not receiving anything, a ping should be sent after some duration to confirm that the connection is still alive. The ping response will confirm that connection is fine. I am assuming that ping is sent with tcp_nodelay option.

[2018-03-22 02:58] dmho418 opened #14791 "Provide bazel BUILD script for objective-c example"
I noticed that there are some objective-c related bazel rules in the codebase (like [here](https://github.com/grpc/grpc/blob/master/grpc.bzl)).
But it seems the objective-c [examples](https://github.com/grpc/grpc/tree/master/examples/objective-c), [documentation](https://github.com/grpc/grpc/blob/master/src/objective-c/README.md) and [source code](https://github.com/grpc/grpc/tree/master/src/objec

[2018-03-22 02:59] yashykt commented on #14717
That should be true. But the ping will only be sent if the timer expires
but if the timer is reset on a write then the ping will not be sent.

On Wed, Mar 21, 2018, 7:49 PM Srini Polavarapu <notifications@github.com>
wrote: