[2021-10-13 15:24] #27470 closed

[2021-10-13 17:43] markdroth opened #27711 "FLAKE: c_windows_dbg_native.cmake/build/Debug/dns_resolver_cooldown_test.exe"
https://source.cloud.google.com/results/invocations/0a7a543c-9d66-471c-9173-5db7903bfdee/targets/github%2Fgrpc%2Frun_tests%2Fc_windows_dbg_native/tests

The test does not seem to have actually failed, but it did exit non-zero for some reason:

[code]

The invocation log shows:

[code]

[2021-10-14 00:30] massood commented on #24556
In case anyone's looking for minimal dependencies, it suffices to install `g++`. No need for the full installation of build-essential or python-dev or python3-devel packages. E.g.:

    sudo apt install g++

[2021-10-14 05:17] sandeepdigicraft commented on #27706
Hey
PECL site is fixed, now you can download DLL files.
![image](https://user-images.githubusercontent.com/92427540/137256169-b9832d85-6fb0-4fe3-acd8-ca518289c57f.png)

[2021-10-14 05:37] GitMOJ commented on #27706
Thank you brother...you bought me ❤️

On Thu, Oct 14, 2021, 10:17 sandeepdigicraft ***@***.***>
wrote:

[2021-10-14 07:58] jsk95 commented on #27366
Found out that it was a problem with one of our custom tasks in publish that was causing headaches with hintpath. Will close the issue.

[2021-10-14 07:58] #27366 closed

[2021-10-14 14:00] limohanlmh opened #27723 "grpc python code style"
About grpc-python code style
I'm following the code examples in grpc/examples/python. I came across the code style as shown in image. The capital style method name made me really confused. Is there any considerations about the naming style of class methods? Thank you
<img width="617" alt="截屏2021-10-14 21 48 44" src="https://user-images.githubusercontent.com/16740997/137332774-c3794f0e-faad-4277-87

[2021-10-14 14:17] lerminou opened #27724 "[grpc-php] Forking thread blocked in FUTEX_WAIT_PRIVATE in PHP when grpc module is activated"
### What version of gRPC and what language are you using?
[grpc-php] 1.41 / php80

### What operating system (Linux, Windows,...) and version?
Linux Redhat 8

### What runtime / compiler are you using (e.g. python version or version of gcc)
I use the Remi RPM
https://rpmfind.net/linux/RPM/remi/enterprise/8/x86_64/php80-php-pecl-grpc-1.41.0-1.el8.remi.x86_64.html

### What did you do?
I try to crea

[2021-10-14 14:50] #27724 closed, assigned to nicolasnoble

[2021-10-14 18:26] kylegallatin opened #27727 "Python gRPC with TLS no longer seems to find the correct credentials by default"
### What version of gRPC and what language are you using?
Python gRPC 1.32.0

### What operating system (Linux, Windows,...) and version?
macOS 11.6 (Big Sur)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.3

### What did you do?

Attempt to establish a secure channel with a remote host using valid SSL certificate.

### What did you expect to see?

A

[2021-10-14 19:48] allenporter commented on #27512
OK, i can give that a try. I have a raspberry pi 4 with a 32-bit os installed on it to get armv7 that I set up to repro this problem on behalf of users.  Compilation is just unbearably slow, so I stuck to just repo with wheels.  I can give this a try, or maybe i can figure out how to get a cross compile going.

I assume grpc is cross compiling wheels when releasing them. Is that a process I can fo

[2021-10-14 20:42] lidizheng commented on #27727
@kylegallatin Can you upgrade to the latest gRPC release v1.41.0 and see if the problem persists?

[2021-10-15 00:52] benjaminp opened #27732 "absl-cpp upgrade required to run tests on newest glibc"
### What version of gRPC and what language are you using?

HEAD

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 11, glibc 2.34

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough

[2021-10-15 09:27] jtattermusch opened #27733 "core end2end "nosec" tests depend on both grpc and grpc_unsecure, which can lead to hangs in grpc_init()"
All targets should depend either on "grpc" or "grpc_unsecure", but not both. Not complying with that can lead to hard-to-debug hangs in grpc_init (e.g. see https://github.com/grpc/grpc/issues/20690 or https://github.com/grpc/grpc/issues/21213), I just encountered that in one of my unrelated PRs (a loop was created in the tracer linked list because  the "glb" tracer from grpclb.cc gets registered t

[2021-10-15 10:14] PiotrZakrzewski commented on #25861
Did not solve it for us.

[2021-10-15 13:59] zhangwenkal opened #27734 "python -m grpc_tools.protoc -I xxxxx. relatively path raise .proto: warning: directory does not exist. Missing input file."
### What version of gRPC and what language are you using?
pthon

### What operating system (Linux, Windows,...) and version?

macOX

### What runtime / compiler are you using (e.g. python version or version of gcc)
python -m grpc_tools.protoc -I

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s

[2021-10-15 14:33] ChameleonRed opened #27735 "context.set_trailing_metadata (hanging grpc async server, lack of documentation, lack of Python typing)"
### What version of gRPC and what language are you using?
1.41

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough infor

[2021-10-15 16:29] mashoodk opened #27737 "Compilation warnings while using protoc which is part of grpc third-party"
### What version of gRPC and what language are you using?
v1.41.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

### What did you do?

We have a proto file which has int32 variables.

Say:

message Info_Response {
...
    optional int32 errorcode =

[2021-10-15 17:41] gitpushdashf commented on #27727
Running into this as well. Pretty sure that it used to work, but now it's broken. Although maybe it was always broken?

Maybe it's actually a certfi bug or something like that? Not sure what grpc depends on.

[2021-10-15 18:07] gitpushdashf commented on #27727
Using certifi, this works fine.

[code]

However, without it, LetsEncrypt certificates are broken even in the Python 3.10 Docker image, so it's not just a OS X thing.

[2021-10-15 18:56] yihuazhang commented on #27727
kylegallatin@, could you please check if grpc/etc/roots.pem contains the Let's Encrypt  DST Root CA X3 certificate? If it does, then it may not work due to [this issue](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/) issue.

[2021-10-15 20:48] kylegallatin commented on #27727
Thanks @gitpushdashf! I hadn't seen that announcement, the Let's Encrypt issue is looking likely. @yihuazhang where would that file be on macOS or centos? Is that the default directory used by Python gRPC to grab certs?

[2021-10-15 20:56] kylegallatin commented on #27727
I do see these in my Python envs, but there is a DST Root CA X3 certificate there.
[code]

[2021-10-15 20:59] kylegallatin commented on #27727
Aha but I can confirm this fails so that must be it!
[code]

[2021-10-15 21:34] gitpushdashf commented on #27727
It looks like v1.41.0 came out 18 days ago and #27619 was merged 9 days ago, so there's no current release that has this fix, if I'm not mistaken.

[2021-10-17 12:53] markns commented on #26137
Hi @lidizheng, is there a timeline for releaseing this, or is there any work around for adding the callbacks? I've just nearly completed a migration from a sync server to aio, but without the add_callback the work is blocked.

[2021-10-18 06:23] amitwaisel commented on #25313
Hi @Teddy22, I've migrated my code to use `grpc-dotnet` which is not based on the `grpc_csharp_ext_x64` library. There is no issue there.

[2021-10-18 16:03] AIElemental opened #27757 "Ability to restart grpc server in python"
### Is your feature request related to a problem? Please describe.
I cannot restart python grpc server, for my unit test scenario.

### Describe the solution you'd like
Ability to start grpc-server in python second time after stop() has completed.

### Describe alternatives you've considered
Change test case, to only check problematic scenario, avoiding server restart.

### Additional context
Cont

[2021-10-18 18:11] Pitson3 commented on #24556
Thank you @massood  and the entire team for your contributions.

[2021-10-18 23:22] drfloob commented on #27734
There isn't enough information here for us to be of much help. If you think there's a bug in gRPC, please provide more details around the specific errors you are seeing, the versions and installation methods used on your system, and if possible, a way for others to reproduce the problem you are seeing. If this is a general question, or you think there's a problem with your own code or your local e

[2021-10-18 23:22] #27734 closed

[2021-10-19 00:51] lidizheng commented on #27735
@ChameleonRed Wow, thanks a lot for the neat reproduction example. I'm able to reproduce the issues and find root cause easily.

The first issue with the doc: https://grpc.github.io/grpc/python/grpc_asyncio.html?highlight=set_trailing_metadata#grpc.aio.ServicerContext.set_trailing_metadata

You are right, we should document how to use raw tuple-over-tuple metdata, sent PR: https://github.com/grpc/

[2021-10-19 02:41] edwardmeng commented on #23772
Downgrading lib6-compat to 1.19 fixed this issue for me. Not sure what is impact though.
`
RUN apk add bash libc6-compat=1.1.19-r11 --update-cache --repository http://dl-cdn.alpinelinux.org/alpine/v3.8/main
`

[2021-10-19 09:24] IIFE opened #27772 "Long lived bidirectional stream closed after laptop goes to sleep"
### What version of gRPC and what language are you using?
1.37.0

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019

### What did you do?
I've got a sync C++ client that opens a long lived bidirectional stream to a sync C++ server. I'm seeing an issue where if I keep my client op

[2021-10-19 16:14] #27772 closed, assigned to nicolasnoble

[2021-10-20 12:28] flavorjones commented on #26391
Please note there hasn't been an official release of rake-compiler-dock with https://github.com/rake-compiler/rake-compiler-dock/pull/54 yet. I'll take the responsibility of submitting a PR to grpc once that's happened.

[2021-10-20 16:13] AIElemental commented on #27757
Thanks, starting new server worked, i'll close this issue then.
Note: you cannot create 2 servers simultaneously, they conflict for port binds. Need to first stop working server, only then create new grpc server object.

[2021-10-20 16:13] #27757 closed

[2021-10-20 19:53] k-s-t-i commented on #27512
Issue also happening running through Bazel on Apple M1.

[2021-10-20 23:17] pcmoritz commented on #25993
I hope a wheel can be provided for gRPC on M1 to make it easy and quick to install :)

This issue should probably be higher priority given how quickly the mac ecosystem is switching to M1.

[2021-10-21 12:23] GlebIgnatevEmlid commented on #20208
+1, it's weird that you have to enable `gRPC_BUILD_TESTS` and build the tests in order to get the headers you need for your own tests.

[2021-10-21 13:01] janm2 opened #27792 "Compilation warning "not all control paths return a value" in TypeToString switch"
### What version of gRPC and what language are you using?
1.41.X
C++

### What operating system (Linux, Windows,...) and version?
Windows 10 x64 (Windows SDK version 10.0.20348.0 to target Windows 10.0.19042.)

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 19.29.30136.0
CMake 3.20.5

### What did you do?
(using x64/VS2015 OpenSSL(1.1.1k) and zlib(v1.2.8))
c

[2021-10-21 13:01] ChameleonRed commented on #27735
I tested code after some suggested changes but it still hangs without error.
Added async to def.
Added await to abort.

[code]

Lead to this error but server hangs client:

[code]

Probably it is third issue which you explaned before?

[2021-10-21 13:13] ChameleonRed commented on #27735
Synchronous server works (not hangs client).

[code]
  Error is reported and client is not hanged.

[code]

[2021-10-21 15:03] yashykt commented on #26175
@ctiller What do you think?

[2021-10-21 16:48] ejona86 commented on #21386
@ajmath, there's also https://github.com/googleapis/gax-java/blob/main/gax-grpc/src/main/java/com/google/api/gax/grpc/ChannelPool.java (ignore the "refreshing" piece of it). Not that if you choose to implement just Channel instead of ManagedChannel, then it becomes even easier.

[2021-10-21 22:41] gnossen opened #27800 "cpp Basic Tests iOS CBF"
[code]

https://fusion.corp.google.com/runanalysis/info/prod:grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_cpp_ios/prod:grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_cpp_ios/KOKORO/d2129bb9-0898-497e-955c-ad56728589d2/1634815705802/build%20%2313086/Targets

First failed run was yesterday at 10:15 AM.

[2021-10-21 22:46] gnossen opened #27801 "Ruby Build Artifacts Linux Linker Failure"
Only seen once so far:

[code]

https://source.cloud.google.com/results/invocations/a7ee2db3-aa79-4e4a-b5e9-f099f6ac0a5e/log

[2021-10-21 22:48] gnossen opened #27802 "Basic Tests Obj C iOS Timeout"
[code]

https://source.cloud.google.com/results/invocations/e7fff792-2f3e-4211-b0e8-3409e49b5bfb/log

[2021-10-21 22:51] lidizheng opened #27803 "[FLAKE] grpc_interop_tocloud node"
[code]

[2021-10-21 22:52] gnossen opened #27804 "nodepurejs interop image CBF"
[code]

https://fusion.corp.google.com/runanalysis/buildlogs/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_tocloud/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_tocloud/KOKORO/1c6d976c-3ed0-4ab8-ac83-cc17206336b1/1634853179675/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_tocloud%20build%20%2320560/Targets

[2021-10-22 12:54] ghost opened #27809 "Setting gRPC_BUILD_TESTS doesn't have an effect on thirdparty test builds with FetchContent"
### What version of gRPC and what language are you using?
v1.41.0, C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04, macOS 11.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.3.0, clang 12.0.5 & Cmake v3.21.1

### To Reproduce
1. Set the following to false:
 `option(abseil-cpp_BUILD_TESTS OFF)`
 `option(gRPC_BUILD_TESTS OFF)`

[2021-10-22 18:20] sfc-gh-ebrossard opened #27810 "Enabling GRPC_ERROR_IS_ABSEIL_STATUS results in a compilation error"
TL;DR: enabling `GRPC_ERROR_IS_ABSEIL_STATUS` results in a compilation error, since `absl::Status::~Status` isn't trivial (https://github.com/abseil/abseil-cpp/blob/master/absl/status/status.h#L790), and `absl::Status` is used in the `error_data` union of `grpc_closure` (https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/closure.h#L75). I'm not clear on whether `GRPC_ERROR_IS_ABSEIL_STATU

[2021-10-25 04:51] lijok opened #27814 "Extra context values for ServicerContext (python)"
If interceptors wish to pass values to the request handlers, through the servicer context, we currently must define a new class, wrapping `grpc.aio.ServicerContext` and extending its properties like so:
[code]

This is a hassle because:
1. everything under the `ExtensibleServicerContext` class in the example is effectively boilerplate, to satisfy the abstractmethod requirements
2. type hinting in

[2021-10-25 08:18] MichaelPeter opened #27815 "C# .NET Framework Cors / AllowOrigins"
Dear Developer Team,

we are hosting an GRPC Service on our client maschines and would like to access it over localhost from our blazor webassembly site in the browser.

Since our Service still uses .NET Framework Libraries we cannot switch to .NET Core/grpc-dotnet and need to stay on .NET Framework/this native library.

Now we would like to access the Service from Our Blazor Webassembly Site dire

[2021-10-25 14:08] EwanValentine opened #27817 "Issue with gRPC channel class missing `request` method"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

`OSx Big Sur 11.5.2`

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.9

### What did you do?

Generated a Python client using `protoc-gen-grpclib_python`, attempted to use the generated client:

[code]

### What did you expect to see?

[2021-10-25 18:01] ctiller opened #27819 "gRPC does not build without a connection to the internet"
### What version of gRPC and what language are you using?

HEAD

### What operating system (Linux, Windows,...) and version?

Mac, recent (work laptop)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Bazel

### What did you do?

Ran `tools/bazel build test/core/slice:slice_test`

### What did you expect to see?

Lots of compilation failures - I'm mid-refactoring

[2021-10-25 18:21] #27800 closed, assigned to dennycd

[2021-10-25 22:58] #27810 closed, assigned to veblush

[2021-10-26 10:41] rochaudhari opened #27825 "gRPC server crashes with multiple clients"
### What version of gRPC and what language are you using?
grpc-1.41.0 C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What did you do?
Running gRPC sync server.
Running test with multiple clients in parallel.
[code]

### What did you expect to see?

server to run fine without throwing any error.

### What did you see instead?
`
E1026 15:41:43.262210239   17356 ev

[2021-10-27 15:10] DanielDagnino opened #27839 "HealthCheck reports SERVING even when it is defined as NOT_SERVING"
I am trying to create a server with two services and a HealthCheck in each one, so I can check them independently and use reflection to know the methods exposed in each one. I have hardcoded one service as NOT_SERVING to test it, however, for some reason, it is not working. I would appreciate some help.

I have created a short script to reproduce this result.

The proto file definition:
[code]

Th

[2021-10-28 00:01] dapengzhang0 opened #27847 "The server does not acknowledge client's SETTINGS until sending response"
As per the HTTP/2 [spec](https://httpwg.org/specs/rfc7540.html#rfc.section.6.5.3) SETTINGS frame should immediately be ack'ed once processed:

However, the server does not acknowledge client SETTINGS until sending response, as in the following log of bidi-streaming call (with Java client, cpp server), SETTINGS with ack=true was never sent from the server:
[code]

cc @yashkt

[2021-10-28 15:05] musicinmybrain opened #27850 "Library name conflict (libgpr.so) with gprbuild"
### What version of gRPC and what language are you using?

1.41.1, or any version

C (core)

### What operating system (Linux, Windows,...) and version?

Fedora Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 11.2.1

### What did you do?

Built grpc using CMake.

### What did you expect to see?

Public shared library names do not conflict with other ma

[2021-10-28 23:01] apolcyn opened #27863 "google default credentials does blocking I/O"
There are a couple of potential issues with the XDS client's [creation](https://github.com/grpc/grpc/blob/c100764c8fa3369fc05c17e81b93d067c221305e/src/core/ext/xds/xds_bootstrap.cc#L62) google default credentials:

a) The XDS client is running within core, and google_default_credentials, being a core surface API, creates its own `ExecCtx`. So we end up stacking ExecCtx instances when we do this, w

[2021-10-29 10:11] FrankLi-nz opened #27871 "Does grpc-server support dynamically support adding/deleting listening addresses?"
When detected a new network port is up, should add the address into the server without affecting other services on other network ports. When detected a network port is down(e.g. disconnected from the hot point due to weak wifi signal), the address should be removed from the server without affecting other services.
Currently,  when detected the above situation, I have to shut down the server, and t

[2021-10-29 18:01] Bklyn commented on #7352
@npuichigo These projects appear quite new, but very promising.  Thanks for the info!

[2021-10-29 18:39] lakamsani opened #27876 "greeter_server killed at startup and executable deleted!"
### What version of gRPC and what language are you using?
compiled latest from master as of this morning using bazel 4.2.0, C++

### What operating system (Linux, Windows,...) and version?
macOS  Big Sur, 11.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Trying to run `greeter_server` using info here:
https://grpc.io/docs/languages

[2021-10-29 19:39] ejona86 opened #27879 "Avoid non-safe pyyaml's yaml.load() in build system"
It was reported to the grpc-security mailing list that gRPC is using unsafe YAML functions. Making this public to ease tracking, as it does not seem to have an actual security impact to us. The function appears to only be involved in the build system such that an attack could just as easily modify a .py file. While not a security issue, we should try and clean this up to ease future audits.

`yaml

[2021-10-29 20:56] stanhu commented on #19724
https://github.com/grpc/grpc/pull/27881 will build the gem with the system OpenSSL library.

[2021-10-30 16:29] qgtim commented on #27727
Can we get a ruby gem cut of 1.41.1 to resolve this https://github.com/grpc/grpc/issues/27653 ?

[2021-10-30 16:31] qgtim commented on #27653
This issue is fixed already in the main branch, but a new gem version (1.41.1) needs to be cut.  Python pip was cut 5 days ago for this: https://github.com/grpc/grpc/issues/27727

[2021-10-30 21:35] dgerding opened #27885 "GreeerBase Does Not Exist, No Suitable Method Found (.proto not parsing?)"
## Problem
I can't combine asp.net core grpc and razor pages without getting the error "GreeterBase" does not exist.

The razor pages, scaffolded identity/authentication, ssl all deploy/work and run on Azure as Linux docker web service. It's only when I try to also have Grpc as part of the project that it falls apart.

No matter what I try it seems the background compile of the .proto file (or som

[2021-10-30 21:35] #27885 closed

[2021-10-31 01:23] lakamsani commented on #27876
Please hold on to this. I suspect some malware scanning software on my company-issued laptop is falsely flagging this executable and deleting it!. Working with our IT security admins to resolve it. I will close after my suspicion is confirmed. thanks.

[2021-10-31 07:49] hiroshi commented on #26664
I'm not sure, but giving more memory (say 8GB instead of default 2GB) to Docker for mac may resolve some of build problem....

[2021-11-01 08:21] afanasevps opened #27888 "asyncserver doesn't start on python3.10: "TypeError: As of 3.10, the *loop* parameter was removed from Lock() since it is no longer necessary""
### What version of gRPC and what language are you using?
 grpcio-1.41.1,  grpcio-1.41.0

### What operating system (Linux, Windows,...) and version?

1. Linux 5.11.0-38-generic # 42~20.04.1-Ubuntu SMP Tue Sep 28 20:41:07 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
2. macOS 11.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.10

### What did you do?
try sta

[2021-11-01 16:23] markdroth opened #27892 "FLAKE: xds_end2end_test UseOriginalDstNotSupported test"
From the test history, it looks like this started flaking on 2021-10-26, and it's failed a whopping 187 times since then.  The earliest failure was:

https://source.cloud.google.com/results/invocations/8ad167c0-a191-439d-8236-225037414002/targets/%2F%2Ftest%2Fcpp%2Fend2end%2Fxds:xds_end2end_test@poller%3Depoll1/tests

[code]

[2021-11-01 17:43] lidizheng commented on #27888
@afanasevps Thanks for reporting this. We fixed this issue in #27635, but it's the released with v1.41.x.

[2021-11-01 17:49] doaaperf opened #27895 "create n servers and n clients and make sure client A go to specfic client X"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-11-01 17:53] doaaperf commented on #27895
I am trying to create number of servers and I found that through passing diff port number using ./tools/run
-test/start....

my issue is how can I tell the test like "bm_fullstack_unary_ping_pong" to go to specific port not any ?

[2021-11-01 18:01] oakad opened #27896 "Disabling root certificate loading should not break TLS"
In some (admittedly rare) cases, application will manage it's own TLS security state, starting with unverified TLS and then upgrading the connection (using a combo of `set_server_authorization_check_config` and `set_certificate_provider`). It may be desirable in such apps to not load any root certs at all, especially considering that root cert loading feature only works on sufficiently Linux-like

[2021-11-01 20:27] donnadionne opened #27901 "PHP MacOS build failure (due to PHP preinstallation failure?)"
[code]

Failure link
https://source.cloud.google.com/results/invocations/8b315adb-8ff8-49b4-ad41-8451a3b31916/log

[2021-11-01 23:12] stanley-cheung commented on #27901
This happens from time to time - it's due to the kokoro mac instances somehow suddenly seem to have lost the standard PHP installation (binary & headers). The problem goes away after a while - potentially some sort of kokoro base-image mismatch. This only happens to Kokoro Mac instances.

If this persists, we probably should log a bug to the Kokoro team.

[2021-11-02 08:23] oakad opened #27907 "TlsChannelCredentialsOptions::set_server_authorization_check_config makes bad use of shared_ptr"
Consider the following:
https://github.com/grpc/grpc/blob/7c7fb9e525b947a35633b972957135fd313ec345/src/cpp/common/tls_credentials_options.cc#L170-L178

shared_ptr is passed into the function. The function grabs the managed pointer out of shared_ptr and stores its value. The shared_ptr is now happily allowed to deallocate the pointed to object and cause a crash (as there are 2 shared_ptrs involved

[2021-11-02 09:46] jtattermusch commented on #27901
CC @dennycd  since he's been seeing a potentially similar problem  (disappearing headers) for objc tests.

[2021-11-02 09:51] yashykt commented on #27892
The reason for the failure is that `WaitForNack()` function in xds_end2end_test expects a failure status for the RPCs that it tries. There are cases where RPCs can succeed even if a resource is NACKed. One case where this happens is when servers NACK a LDS resource but they continue serving requests since they already have a valid LDS resource. This is exactly the case that is causing the flakines

[2021-11-02 09:53] jtattermusch commented on #27901
Note that PHP is pre-installed into the MacOS workers VMs by a script just before the build starts, so it might be that the script just failed to install PHP (which is why php.h might later be missing).

excerpt from the log:
[code]

Indeed, the pre-install script continues if PHP installation fails:
https://github.com/grpc/grpc/blob/7c7fb9e525b947a35633b972957135fd313ec345/tools/internal_ci/helpe

[2021-11-02 09:58] jtattermusch commented on #27901
Also see https://github.com/grpc/grpc/pull/26665/files#diff-75c50f44a9c4cdc19746e18742ff429dfd4615ee16874578e501e4be606dcbcfR146 which adds the `|| true` for PHP installation (but doesn't explain why).

[2021-11-02 11:47] AzadPolat commented on #27876
Anyone you should be restart files with cmd than idk lel

[2021-11-02 12:11] jtattermusch commented on #27879
@gnossen  since this is python related, could you please take a look into this?

CC @lidizheng

[2021-11-02 12:25] jtattermusch commented on #27879
I think we can do this as a followup for @gnossen  python3 migration.

[2021-11-02 14:36] markdroth commented on #27901
This is blocking the 1.42 branch cut.  We need to get this resolved ASAP.  What's the fastest way to fix this?

[2021-11-02 14:47] jtattermusch commented on #27901
Some more insights: From the build history it looks like this has been failing for about 2 days now and wasn't caused by any change in our repository AFAICT.
The exact error the PHP installation was generating has been changing, but it's always a failure to pre-install PHP (followed by a failure to build since php.h is missing).

[2021-11-02 15:07] jtattermusch commented on #27901
One problem I'm seeing in my experiment is
[code]

[2021-11-02 16:30] veblush commented on #27901
Yeah, this is caused by php installation failure.

[code]

I guess this is a problem of using out-dated certificate. [SO](https://apple.stackexchange.com/questions/393481/homebrew-cask-download-failure-ssl-certificate-problem-certificate-has-expired) might be relevant.

[2021-11-02 17:08] lidizheng commented on #27879
I upgraded the YAML invocations for the generate project code path at https://github.com/grpc/grpc/pull/24673

[2021-11-02 22:48] yashykt commented on #27819
@ctiller ping

[2021-11-02 23:00] yashykt commented on #27839
Please forums such as grpcio google group or stack overflow for questions like these so that the wider community might be able to help. I'm gonna go ahead and close this but I'll tag @lidizheng and @gnossen for a post-close answer.

[2021-11-02 23:00] #27839 closed

[2021-11-02 23:06] #27437 closed

[2021-11-02 23:22] yashykt commented on #27871
gRPC doesn't support this at present but I think this might be a nice-to-have feature. I have no idea when this will become a priority though.

[2021-11-02 23:25] lidizheng commented on #27839
@DanielDagnino

The Health Checking service sets health status per service name: https://grpc.github.io/grpc/python/grpc_health_checking.html

[code]

The full service name is proto package name + the service name, you can find it in the generated code ([example](https://github.com/grpc/grpc/blob/master/examples/python/xds/helloworld_pb2_grpc.py#L45)).

[2021-11-03 00:26] drfloob commented on #27825
Is this a crash or a test failure? If it's a crash, please post a log with the stack trace included. Also, what is your test environment's maximum open file descriptor limit? (`ulimit -n`)

[2021-11-03 02:41] vitruvvius commented on #26945
i definitely understand - c++ coroutines are also ugly :) i was referring to the current callback apis. the part i enjoy about coroutines or other approaches to grpc with async support happens to be in the simplicity

[2021-11-03 02:41] vitruvvius commented on #26945
thanks @npuichigo! i'll check it out

[2021-11-03 07:06] DanielDagnino commented on #27839
Thanks! I also asked in StackOverflow. The solution to the problem is in here:
https://stackoverflow.com/questions/69751113/grpc-healthcheck-reports-serving-even-when-it-is-defined-as-not-serving

[2021-11-03 08:05] HolyMiss opened #27922 "Server streaming will fail in a short time after the client network is disconnected"
### Is your feature request related to a problem? Please describe.
I'm using grpc's streaming function. When my client's network is disconnected, such as 10s or more, the server will fail when streaming and  close the connection.
### Describe the solution you'd like
So I think I can increase the time for this connection to close, but there is no related API at present. I want to increase this time

[2021-11-03 10:09] jtattermusch commented on #27879
But the rest still needs to be updated, right?

[2021-11-03 16:45] lidizheng commented on #27879
Yes. Also, if we use newer Python version, the old YAML loading won't work. So, I guess part of this will be resolved by @gnossen 's Python3 migration.

[2021-11-03 19:44] jackwootton opened #27929 "`status.proto` is only packaged for Google APIs, not for gRPC"
### What version of gRPC and what language are you using?
v1.37.0

### What operating system (Linux, Windows,...) and version?
Linux (ArchLinux), rolling build ID

### What runtime / compiler are you using (e.g. python version or version of gcc)
- libprotoc 3.17.3
- go version go1.16.4 linux/amd64

### What did you do?
Handling errors in a gRPC service commonly requires both a `status` message and

[2021-11-03 21:00] gnossen opened #27932 "Artifact Build Mac OS Failure"
[code]

https://source.cloud.google.com/results/invocations/094c5a19-0b34-4b73-bd5c-be08d23cba67/log

[2021-11-03 22:52] CooperBills commented on #20675
We solved this internally by switching away from GRPC's implementation of `cc_grpc_library`. Now, we use `cpp_grpc_library` from `rules_proto_grpc`. See: https://github.com/rules-proto-grpc/rules_proto_grpc

[2021-11-03 22:52] #20675 closed

[2021-11-03 23:11] drfloob commented on #27817
return self.channel.request(self.name, self._cardinality,
AttributeError: 'Channel' object has no attribute 'request'

The error is in `grpclib`, which is a separate project: https://github.com/vmagamedov/grpclib.

[2021-11-03 23:11] #27817 closed

[2021-11-03 23:15] drfloob commented on #27792
Sorry I missed this Issue. That's interesting, I'm not sure what's special about this particular use of `GPR_UNREACHABLE_CODE` that would cause the compiler's confusion. This chunk of code hasn't changed in ~3 years. Do you get any other errors around `GPR_UNREACHABLE_CODE`, or just this one spot? And by any chance have you changed `rpc_service_method.h`?

[2021-11-03 23:39] drfloob commented on #27809
Thanks for flagging this, it does sound fairly annoying. Pinging @jtattermusch in case there's a straightforward solution here.

[2021-11-03 23:53] EwanValentine commented on #27817
Oh! My apologies @drfloob, silly me!

[2021-11-04 00:08] SanjayVas commented on #20675
This feels like it shouldn't be closed just because there's a workaround by using an (unofficial?) set of Bazel rules. This should be fixed in this official grpc repository.

[2021-11-04 00:13] yashykt commented on #27603
It looks like the retry filter ends up orphaning the lb_call_ leading to `RecordEnd()` being invoked which deletes ends up deleting `OpenCensusCallAttemptTracer()` which holds metadata that have been included in the call attempt. The issue is that this can potentially happen before the `send_initial_metadata_` batch is cleared in `CallAttempt`'s dtor

[2021-11-04 08:49] jtattermusch commented on #27901
Fixed by https://github.com/grpc/grpc/pull/27923

[2021-11-04 08:49] #27901 closed

[2021-11-04 10:57] oakad commented on #20675
Moreover, this creates further ambiguities. For example, some people may decide to use `go_proto_library` from rules-go (which supports grpc via a "compiler" attribute), while others will use `go_grpc_library` from `rules_proto_grpc` (hello, fragmentation).

It is really baffling how Google can not establish a decent interoperability between its own projects. Here we are supposed to rely on third

[2021-11-04 11:27] quinn commented on #2567
it looks like its available in all other languages. Would be great to have this for ruby

[2021-11-04 12:48] Askill commented on #20482
What is the status?

[2021-11-04 13:09] Diggsey opened #27940 "Add wheels for musl"
At the moment, installing the `grpcio` python package in alpine takes ~40 minutes, which is absurdly slow even when building from source.

AIUI, python/PyPI has [recently added support](https://discuss.python.org/t/pep-656-platform-tag-for-linux-distributions-using-musl/7165/35) for musl-based binary wheels.

Would it be possible to start publishing musl wheels for the grpcio package to avoid this

[2021-11-04 14:59] Askill opened #27941 "Problem or Bug with Async. Interceptor"
### What version of gRPC and what language are you using?
Using python3.8 and version 1.41.1 of the library

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python3.8

### What did you do?
I used the example code in https://github.com/grpc/grpc/tree/2231c2ba77cf22f3c8c302d91209c1c3f2f0632f/examples

[2021-11-04 21:35] #27892 closed

[2021-11-04 22:28] lidizheng commented on #20482
This is implemented in all 4 categories of RPCs. Here is the unit test for asyncio server-side interceptors: https://github.com/grpc/grpc/blob/master/src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py#L42

Closing this issue.

[2021-11-04 22:28] #20482 closed

[2021-11-05 03:53] FrankLi-nz commented on #27871
Thanks @yashykt

[2021-11-05 03:53] #27871 closed

[2021-11-05 04:54] #24638 closed

[2021-11-05 09:20] Askill commented on #27941
Okay this wasn't a bug, but my fault. I simply used the example not realising that aio uses async functions.

I am using the following interceptor to check if the username and password in the header are correct:

[code]

Note the ```return await continuation(handler_call_details)```, in the original example this is simply a ```return```, but since the continuation function is async we have to add

[2021-11-05 09:20] #27941 closed

[2021-11-05 11:33] jjb commented on #21514
small modification to @casperisfine's recipe, so the hack only runs on macs (adding `if RUBY_PLATFORM =~ /darwin/`):

[code]

[2021-11-05 18:22] lidizheng commented on #27888
Backport merged. This fix is in `v1.42.0rc1`. I will try to propose a patch to `v1.41.x`, but not sure if it will go through.

[2021-11-05 18:22] #27888 closed

[2021-11-05 18:31] veblush commented on #27940
`pypy/manylinux` already added a musllinux support. (https://github.com/pypa/manylinux/issues/1134) We might be able to do this but also I have a concern to have too many artifacts to maintain, though.

[2021-11-05 18:31] veblush commented on #27940
@lidizheng and @gnossen WDTY?

[2021-11-05 18:37] gnossen commented on #27940
This is something we've discussed. It's definitely on the roadmap. It's just a matter of prioritization.

[2021-11-05 18:39] lidizheng commented on #27940
This is on my todo list. It hasn't popped to the front yet...

The concern about too many artifacts is valid. At peak, we upload 123 artifacts. We are slightly better now, at 102.

[2021-11-05 20:13] #27603 closed

[2021-11-05 20:20] yashykt commented on #27895
The tests are made to be run as part of the part of the CI infrastructure, but you can probably modify the tests so as to take a port parameter and use that port.

[2021-11-05 20:20] #27895 closed

[2021-11-05 20:34] doaaperf commented on #27895
how can I pass the the port number to the client? I notice that the port number is always dynamic, even if u start the server with specific port, it doesn't really take it.

[2021-11-05 21:27] dweekly commented on #25755
Hey folks, really would love to have first-class grpc-tools support for M1 macs since we're moving over from Intel-based to M1-based systems for doing our development and lean heavily on a grpc-tools stack for our workflow. I'm pretty sure I'm not the only one in this boat, so pretty please do find a way to support arm64!

[2021-11-05 21:28] nicolasnoble commented on #25755
@dweekly please see https://github.com/actions/virtual-environments/issues/2187

[2021-11-06 03:36] slrom opened #27959 "bad uri.scheme: '127.0.0.1:xxxx' don't know how to resolve (ARMv7 crosscompilation)"
### What version of gRPC and what language are you using?
client 1.28.0-pre3 with c++
server with Golang

### What operating system (Linux, Windows,...) and version?
built On Ubuntu 18.04 LTS
run on Linux M6708-T 3.14.28 armv7

### What runtime / compiler are you using (e.g. python version or version of gcc)
cross-compiler arm-poky-linux-gnueabi-gcc 4.9.1

### What did you do?

[code]

### What di

[2021-11-06 12:38] max-ieremenko opened #27961 "C#: AsyncUnaryCall.ConfigureAwait(bool continueOnCapturedContext) should be added?"
### Is your feature request related to a problem? Please describe.
the async methods generated for csharp returns AsyncUnaryCall which is awaitable.

The use of async/await pattern with AsyncUnaryCall is not obvious and sometime leads to mistakes.
Example in context of WPF main thread application:

[code]

### Describe the solution you'd like

extend AsyncUnaryCall with ConfigureAwait(bool):

[cod

[2021-11-06 15:34] allanger commented on #9316
Any news on this?

[2021-11-06 19:12] sali98 commented on #25489
Great to find this report, we are having the similar crash at `SendVTCP`, and so far it is the top crash issue for Windows application. We are using gRpc 1.38.1.

Below is a typical callstack:

[code]

[2021-11-08 13:42] bpeicher commented on #27653
Hi all - Any idea when the new gem could be published?

[2021-11-08 16:15] yihuazhang commented on #27577
I believe the internal fix has been released. @lco38, could you please try it out?

[2021-11-08 16:34] lco38 commented on #27577
Yes. I confirm that fix is OK for me.

[2021-11-08 16:41] #27577 closed

[2021-11-08 16:46] LucioFranco commented on #9316
If there is interest, I think tonic could be upstreamed. That said, tonic is not based on the regular grpc c stack and differentiates a bit from the more traditional gRPC implementations. I am happy to coordinate/chat with grpc maintainers/owners about this.

[2021-11-08 19:07] ChameleonRed opened #27970 "abort_with_status is not documented in grpc.aio but is in grpc (sync)."
### What version of gRPC and what language are you using?
0.14.1

### What operating system (Linux, Windows,...) and version?
Window 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough info

[2021-11-08 19:09] ChameleonRed commented on #27970
sync: https://grpc.github.io/grpc/python/grpc.html?highlight=abort_with#grpc.ServicerContext.abort_with_status
nothing in async but it is in code: https://grpc.github.io/grpc/python/grpc_asyncio.html#module-contents

[2021-11-08 20:42] dweekly commented on #25755
@nicolasnoble Thanks so much; the linked thread indicates that GitHub is thinking that M1 support in Actions may be available sometime in 2022. https://github.com/actions/virtual-environments/issues/2187#issuecomment-939033228

I can appreciate the team's desire for quality in wanting to incorporate M1 Actions as part of your release flow, but it's also a non-super experience for the buyer of a mo

[2021-11-09 06:56] rochaudhari commented on #27825
@drfloob yes, it was a test issue as you pointed out, number of file descriptors. I was creating clients with different channels and it was hitting a limit. I am closing this issue.

[2021-11-09 06:56] #27825 closed

[2021-11-09 11:39] ChameleonRed opened #27980 "Inconsistet Context.abort() - valid in aio but not in sync version."
### What version of gRPC and what language are you using?
1.41.1

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.9

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough info

[2021-11-09 22:03] ZhenLian commented on #27896
Thanks for opening the issue.

I don't fully understand the reason for using `unverified TLS`. If you don't want the authentication, what's the point of using TLS at the first place? As far as I am concerned, there is no current way in gRPC to start with "unverified TLS" then upgrade later.

Root certs can work on non-Linux systems. On those systems, you need to specify the location for the root c

[2021-11-10 00:58] alicejli opened #27987 "PHP: Emit a more descriptive error when `grpc` logging variables are not initialized/writeable"
### What version of gRPC and what language are you using?
grpc v1.41.0
PHP v7.3.32

### What operating system (Linux, Windows,...) and version?
Linux

### What did you do?
When debugging grpc-related issues in a PHP client library, some common steps include adding the below lines to the `php.ini` file:

[code]

However, if one accidentally forgets to initialize and make the grpc.log file writeable

[2021-11-10 02:19] allenporter commented on #27512
@jtattermusch I could use a couple pointers if you have a moment.

I am trying to set up a development environment to cross compile armv7 python wheels on a faster machine,  then i can try them out on an armv7 machine, adjust compiler flags, and repeat. I see a series of python scripts and docker containers related to building (e.g. what was touched / changed in PR #26279) but am having a little t

[2021-11-10 03:29] oakad commented on #27896
I'm not using "unverified" TLS. I'm using custom `set_server_authorization_check_config` and `set_certificate_provider` option classes. Those work outside of default cert set and should keep working even if nothing is loaded from disk.

[2021-11-10 03:41] oakad commented on #27896
This sort of stuff:
[code]

[2021-11-10 04:53] ZhenLian commented on #27896
I think our certificate provider doesn't support custom implementations. Is it possible to share some of the definition of `detail::MtlsCertificateProviderFactory`? If using `watch_root_certs`, it will needs to supply the root certs when the system needs them, but that's completely implementation details so I am a bit curious how you achieved that.
Is your application still having problems when yo

[2021-11-10 05:01] ZhenLian commented on #27907
Yeah, the `TlsServerAuthorizationCheckConfig` is problematic, and we have some internal users complaining it as well :(
We are under the process of rewriting the whole API. Fortunately, the whole process is almost done, and expected to be landed in 2 weeks(PR: https://github.com/grpc/grpc/pull/25631).
If it is not an urgent task, I suggest you wait until the above PR to be merged. After that, if t

[2021-11-10 06:11] oakad commented on #27896
My provider works as expected.

1. Let's say there are no certs on disk and the "GRPC_NOT_USE_SYSTEM_SSL_ROOTS" is not set - everything works.
2. Let's say there are certs on disk and the "GRPC_NOT_USE_SYSTEM_SSL_ROOTS" is not set - everything still works for me, but the app allocates half a meg of "reachable on exit" heap blocks for the loaded, but unused certs. No big deal.
3. Let's say there ar

[2021-11-10 07:40] knapo opened #27995 ""Segmentation fault" on alpine linux"
### What version of gRPC and what language are you using?
`grpc-1.41.0-x86_64-linux` on ruby 3.0.2

### What operating system (Linux, Windows,...) and version?
Alpine Linux 3.14 (ruby `3.0.2-alpine3.14` docker image)

### What runtime / compiler are you using (e.g. python version or version of gcc)
ruby version

I tried with both `gcompat` and `libc6-compat` alpine packages.

### What did you do?

[2021-11-10 09:12] maroshmka opened #27996 "exceeded max_receive_message_length doesn't log anything (request nor response)"
### What version of gRPC and what language are you using?

language: python
version: grpcio==1.41.1.

### What operating system (Linux, Windows,...) and version?

[code]

in docker

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.9.5.

### What did you do?

1. Setup `max_receive_message_length` to 1B using options.
2. Send normal request (more than 1B)
3

[2021-11-10 14:47] qgtim commented on #27653
It seems the gem does not get as much attention as other languages of this library :(

[2021-11-10 19:40] jackwootton commented on #27929
@veblush I guess it comes down to whether the copy/paste of https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto into https://github.com/grpc/grpc/tree/master/src/proto/grpc/status was intended to be permanent - particularly given the difference in status codes across Google APIs and gRPC.

[code]

As you can see from the code above, `code` is a _signed_ integer, but the co

[2021-11-10 23:36] acmilannesta opened #28003 "Fail to build c-ares"
Try to build grpc based on this protocol on WSL Ubuntu 18.04 using cmake 3.17.0
https://linuxtut.com/en/38dc86be2b55a9228b50/

When I tried to build c-ares using the following command,
[code]
I got the following error:
[code]

[2021-11-11 00:19] apolcyn commented on #27653
The 1.41.1 gem was just pushed

[2021-11-11 00:19] #27653 closed

[2021-11-11 00:34] qgtim commented on #27653
Looks like its working as expected!  Thank you!

[2021-11-11 18:07] gnossen opened #28011 "Python Stdlib Fails to Create Subprocesses when Port Server is instantiated by the same process"
[code]

This issue is currently being worked around by [spinning up the port server before running `run_tests.py`](https://github.com/grpc/grpc/pull/28005), but the ultimate fix will be to upgrade to a version of CPython not affected by this bug. 3.9 has been confirmed to work.

[2021-11-11 21:44] #27735 closed

[2021-11-12 02:25] ccppoo opened #28020 "I think we need template for every example codes (Python)"
This issue is about python examples
I think not only python, but most of other language examples also shares the same issue

### Is your feature request related to a problem? Please describe.

Example codes doesn't share same format or some are missing compiled proto files (  *_pb2_grpc.py files)

These are image of two examples having different file structure

![image](https://user-images.githubu

[2021-11-12 12:46] sobrinho commented on #25755
Looks like 1.42.0.pre1 was released, even include a version for arm64-darwin but it doesn't work yet

[code]

[2021-11-12 12:51] sobrinho commented on #25755
[code]

Although, if I do:

[code]

It does install the correct architecture and then the app works.

[2021-11-12 16:20] markdroth opened #28022 "FLAKE: async_end2end_test AsyncEnd2end/AsyncEnd2endTest.SequentialRpcs/10"
https://source.cloud.google.com/results/invocations/086df548-2260-41e8-b7a5-3e2ec901cee3/targets/%2F%2Ftest%2Fcpp%2Fend2end:async_end2end_test@poller%3Depollex/log

[code]

This failure occurred in a TSAN run, although I don't know if that's related.

[2021-11-12 17:36] apolcyn opened #28025 ""No space left on device" on Windows portability tests"
From the logs:

[code]

Full log https://source.cloud.google.com/results/invocations/433c5f6c-8571-4616-9207-b7cc67a51bb6/log

Seen in https://github.com/grpc/grpc/pull/28016

[2021-11-12 18:01] jtattermusch opened #28026 "Bazel BUILD fails during analysis phase when python2.7 binary is installed, but python2.7-dev is not."
I ran into a situation where I have `python3` and `python3-dev` installed, but I also happen to have legacy `python2.7` installed. Since python2.7 is present by default on many systems, this is a quite common situation.

When I try to run grpc bazel build (even when trying to build just grpc C++), it fails very early with the message below.
I think the issue is that the configurator sees that pyth

[2021-11-12 18:06] gnossen commented on #28026
Yes. Removing Python 2 support from Bazel is planned for this quarter. For the moment, I think you should be able to work around by setting `PYTHON2_BIN_PATH=""`

[2021-11-12 20:43] donnadionne commented on #28003
For the future, please direct general question like this one to  https://stackoverflow.com/search?tab=newest&q=grpc%20is%3aquestion

[2021-11-12 20:43] #28003 closed

[2021-11-13 03:14] TimelifeCzy opened #28031 "Win10 Cmake Error"
OS: WIn10 20H2

Download:
1)
git init
git clone https://github.com/grpc/grpc.git
git submodule update  --init

2)  third_party/
git clone  https://gitclone.com/github.com/abseil/abseil-cpp.git
git clone  https://gitclone.com/github.com/google/benchmark.git
git clone  https://gitclone.com/github.com/google/bloaty.git
git clone https://gitclone.com/github.com/google/boringssl.git
git clone https://g

[2021-11-13 03:16] TimelifeCzy commented on #28031
Parse error. Expected a command name, got unquoted argument with text
"-Wno-null-dereference".
Does not belong to the problem

[2021-11-15 00:28] TimelifeCzy commented on #28031
1. install vcpkg
2. vcpkg install grpc

[2021-11-15 00:28] #28031 closed

[2021-11-15 07:56] armisael opened #28035 "abort() missing 1 required positional argument: 'details'"
### What version of gRPC and what language are you using?

1.38.0 on python

### What operating system (Linux, Windows,...) and version?

`Linux fb455fb6c9ed 5.10.47-linuxkit #1 SMP Sat Jul 3 21:51:47 UTC 2021 x86_64 GNU/Linux`

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.9, with async code.

### What did you do?
Please provide either 1) A unit test

[2021-11-15 08:37] LockLi opened #28037 "epoll_wait was interrupted, leads to pollable_epoll exceeds deadline"
### What version of gRPC and what language are you using?
RPC-1.36.1

### What operating system (Linux, Windows,...) and version?
4.18.0-147.5.1.0.h208.eulerosv2r9.x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-7.3.0

### What did you do?
Constructing signal interruptions

### What did you expect to see?
pollable_epoll() will be finis

[2021-11-15 10:22] leeyiw opened #28039 "gRPC start too many timer thread and cause process hang"
### What version of gRPC and what language are you using?
grpc-1.28.1, C++

### What operating system (Linux, Windows,...) and version?
Linux CentOS 7.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.9.2

### What did you do?
Make some async client request with deadline. The frequence is about 300r/s.

### What did you expect to see?
Only one timer thread

[2021-11-15 14:50] jtattermusch commented on #28026
FTR, I tried setting `PYTHON2_BIN_PATH=""` and it gave me this error:

[code]

[2021-11-15 15:07] Alberto97 commented on #25720
Another quick and dirty way of fixing this for those that do not want to rebuild everything from source would be to cd into the grpc installation path (for me that was ```~/.local/lib/python3.9/site-packages/grpc/_cython```), cd into ```_cython```, make a backup of cygrpc.cpython-39-arm-linux-gnueabihf.so and run the following command:
[code]
That will add a link to libatomic and grpc will not cra

[2021-11-15 16:32] univerio opened #28085 "grpc universal-darwin gem is not universal and does not work on Apple Silicon"
This is related to #24846, which has been closed but the underlying issue still persists.

### What version of gRPC and what language are you using?
1.41.1, Ruby

### What operating system (Linux, Windows,...) and version?
MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby 2.7.2

### What did you do?
Install the `grpc` gem on a native arm64 darwin Ruby (i

[2021-11-15 19:50] hkloudou opened #28093 "read client cert info when use mutual authentication"
### Is your feature request related to a problem? Please describe.
I wana get client cert info(like:commonName),it's useful to manage client role authentication。

### Describe the solution you'd like
internal/transport/handler_server.go line 89

add:
<pre>
	if r.TLS != nil && len(r.TLS.VerifiedChains) > 0 && len(r.TLS.VerifiedChains[0]) > 0 {
		metakv = append(metakv, ":user", r.TLS.VerifiedChains

[2021-11-15 20:12] hkloudou commented on #28093
i found solution:
what about add to golang example

[code]

[2021-11-15 20:16] #28093 closed

[2021-11-15 21:25] lidizheng opened #28102 "[FLAKE] Bazel RBE MSAN C/C++"
test/core/transport/binder/binder_transport_test

https://source.cloud.google.com/results/invocations/00550130-c0b2-4b02-a059-cc772d9e02fd/targets/%2F%2Ftest%2Fcore%2Ftransport%2Fbinder:binder_transport_test/tests

[2021-11-16 10:35] bjosv commented on #17225
@jtattermusch Hi! We need an API like this and I will look into how it can be implemented, to prepare a PR. Since this issue was closed more then a year ago I would like to first check if the conditions have changed. Do you know if there are any new thoughts in this area?

[2021-11-16 17:33] LanDinh commented on #27723
Since the other two issues are closed, I'm jumping in on here: This is not PEP8 compliant, meaning that any file implementing a RPC service (which should be checked by linters since it's hand-written!) will complain about it, e.g.:

[code]

In other words: *this isn't restricted to the generated code*. I'm talking about the files that subclass the generated `GreeterServicer` in order to provide im

[2021-11-17 05:10] apolcyn commented on #28085
can you please try out the `1.42.0.pre1` gem? (1.42.0 isn't out yet, this is a pre-release)

arm support is added in the 1.42.0 branch

[2021-11-17 05:20] univerio commented on #28085
Unfortunately, it doesn't work. The published `arm64-darwin` gem for 1.42.0.pre1 is indeed good and does work:

[code]

the published `universal-darwin` for 1.42.0.pre1 is still not universal and just a x86_64 binary:

[code]

and the way bundler resolves platform-specific gems makes it prefer `universal-darwin` (because, well, it claims to be universal 😅).

**If you pull or stop publishing the `u

[2021-11-17 10:23] jtattermusch commented on #28025
Looks like this is failing 100% builds on master:
(e.g. a recent one: https://source.cloud.google.com/results/invocations/9d06fd76-b74c-4f54-a5ec-1f753d226c36/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_c%2B%2B_windows_dbg_native_x64_cmake_vs2017_buildonly/tests)

[code]

[2021-11-17 13:37] chrisse74 commented on #25125
At least in protobuf a similar way was used to address this warning: https://github.com/protocolbuffers/protobuf/pull/8741

[2021-11-17 15:45] markdroth opened #28116 "nodepurejs cloud-to-prod interop tests failing"
https://source.cloud.google.com/results/invocations/1c418315-59d9-423b-9115-b8d7f0168d3a/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_prod:nodepurejs:gateway_v4:large_unary:tls;row=1

A bunch of tests are failing.  The tests are timing out, with similar error messages.  Here's one example:

[code]

[2021-11-17 17:25] veblush commented on #28039
@leeyiw Would you please make a small sample to reproduce the problem? And I recommend you to use the latest version of gRPC. gRPC timers can spawn many threads if all timer threads are busy running the callback. If your timer callback is blocked, it's possible to have many threads spawned.

[2021-11-17 17:28] veblush commented on #28025
Yeah, I updated the windows image to use 250GB working space instead of 100GB. It's known that certain windows tests such as portability test can consume a lot of space mainly due to a lot of relatively large PDB file per a test.

[2021-11-18 03:52] HuaxinTang commented on #28037
I also found this bug, timeout argument should be updated in do {} while loop when epoll_wait call is interrupted by system. @markdroth @yashykt

[2021-11-18 05:39] driedler commented on #24249
This worked for me:

[code]

[2021-11-18 09:25] tienle commented on #26664
Confirmed! Not sure why......

[2021-11-18 12:57] TimelifeCzy opened #28126 "Go_server SSL & C++_client --> Failed to build"
1) Os: Windows10 ~ vs2019
2) Latest Grpc (git clone)
3) Go Ssl server:
`
	cert, err := tls.X509KeyPair(crtFile, keyFile)
	if err != nil {
		fmt.Println(err.Error())
		return nil
	}
	certPool := x509.NewCertPool()
	if ok := certPool.AppendCertsFromPEM(caBytes); !ok {
		return nil
	}

	return credentials.NewTLS(&tls.Config{
		Certificates: []tls.Certificate{cert},
		ClientAuth:   tls.RequireAndVerif

[2021-11-18 20:54] lugray opened #28135 "Release 1.42.0 on rubygems"
### Is your feature request related to a problem? Please describe.
https://github.com/grpc/grpc/releases/tag/v1.42.0 exists, but hasn't been released at https://rubygems.org/gems/grpc

### Describe the solution you'd like
A new release

### Describe alternatives you've considered
Using the 1.42.0.pre1 release.

### Additional context
1.42.0 is necessary for arm macs.

[2021-11-19 00:06] ZhenLian commented on #17340
We recently saw a similar issue internally, so reopen this.

[2021-11-19 00:07] ZhenLian commented on #17340
CC @yihuazhang @markdroth

[2021-11-19 01:08] mint570 opened #28147 ""default member initializer required" error in building C++ v1.42.0"
### What version of gRPC and what language are you using?
C++ v1.42.0

### What operating system (Linux, Windows,...) and version?
Linux debian buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
bazel version 4.0.0
gcc/g++ version 8.3.0

### What did you do?
Update gRPC version from v1.41.0 to v1.42.0 for existing code.

### What did you expect to see?
No err

[2021-11-19 03:59] mint570 commented on #28147
My bad. The build environment & bazel version are incorrect. I will update this when I clarify the build environment that we had issue with.

[2021-11-19 06:03] obawin commented on #21446
Hi @hazzik,

I tried running the Alpine 3.13 + Grpc 1.36.4 commands above, and it gives the following error:

_........
#6 715.2 /opt/grpc/third_party/boringssl-with-bazel/src/crypto/hrss/asm/poly_rq_mul.S:8456: Error: bad register name `%r8'
#6 715.2 /opt/grpc/third_party/boringssl-with-bazel/src/crypto/hrss/asm/poly_rq_mul.S:8457: Error: bad register name `%r12'
#6 715.2 /opt/grpc/third_party/bo

[2021-11-19 07:49] npd26 opened #28150 "application crash on immediate startup"
Hello,

we are using grpc with c++ windows application. when we start .exe and close it and again start immediately application crash with below error.

[code]

or some time with

`
E1118 17:12:44.787000000 25792 server_chttp2.cc:48] {"created":"@1637251964.787000000","description":"OS Error","file":"C:\project\grpc-1.42.0_build\src\core\lib\iomgr\resolve_address_windows.cc","file_line":93,"os_err

[2021-11-19 10:13] MHDante commented on #27024
Hi @jtattermusch. Sorry to ping, but have you had any time to look at this?

[2021-11-19 14:12] tomes92 opened #28153 "Possible memory leak of grpc_ssl_credentials (grpc_call leak if response stream not consumed by client)"
### What version of gRPC and what language are you using?

gRPC C# v2.42.0

### What operating system (Linux, Windows,...) and version?

Windows 10 Pro 19043 x64

### What did you do?

Disposal of a gRPC client , created with a root certificates string, doesn't seem to free this string in unmanaged memory. The code below repeatedly creates and disposes a gRPC client. No running gRPC service is req

[2021-11-19 16:50] markdroth commented on #28135
The release process isn't finished yet.  We're working on it.

[2021-11-19 16:50] #28135 closed

[2021-11-19 16:51] markdroth commented on #28147
I'll close this for now.  Please file a separte issue when you have the relevant details.

[2021-11-19 16:51] #28147 closed

[2021-11-19 20:44] Banger opened #28158 "Crash on writing to stream"
### What version of gRPC and what language are you using?
grpc 1.41.1, C++17

### What operating system (Linux, Windows,...) and version?
Linux Ubuntu 18.04 and 20.04 (fully updated) on x86

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.3.0
The full build environment environment can be found in the Docker image: `cogment/orchestrator-build-env:v2.0.0`

###

[2021-11-20 15:47] Slids commented on #23667
Friendly ping as this is still reproducible

[2021-11-21 23:39] allenporter commented on #27512
Now since  1.31.0 was not built for python 3.9 it means users are forced to build gprcio from source, so this is getting more dire are folks are dropping python 3.8 support.

[2021-11-21 23:39] allenporter commented on #27512
Really glad to see https://github.com/grpc/grpc/pull/28092 in flight

[2021-11-22 02:34] henriquebremenkanp commented on #25755
@sobrinho I'm new to ruby and I'm not sure if it's the right solution, but maybe you need to add `arm64-darwin-20` to your Gemfile.lock platforms. I think it's what makes bundler to get the `arm64-darwin` instead of the `universal-darwin`. Not sure but maybe worth trying.

Btw, congratulations to the team on the newest [v1.42.0](https://github.com/grpc/grpc/releases/tag/v1.42.0) release!
I just no

[2021-11-22 03:18] LongZaiAiYueLiang opened #28166 "pip install fails with "No such file or directory: 'c++': 'c++'""
**What version of gRPC and what language are you using?**
grpcio-1.33.2 for python

**What operating system (Linux, Windows,...) and version?**
Linux 4.19.36-vhulk1907.1.0.h702.eulerosv2r8.aarch64 aarch64

**What runtime / compiler are you using (e.g. python version or version of gcc)**
Python 3.7

What did you do?
pip37 install grpcio

**What did you expect to see?**
Installed!

**What did you se

[2021-11-22 04:15] leeyiw commented on #28039
It's hard to reproduce this issue with a small sample, because this crash is not happen every time. Is there any changes with timer and timer thread management between 1.28.1 and the latest version?

I'm using `CompletionQueue` for async gRPC response, Is there any particular reason could block the timer callback?

[2021-11-22 05:58] LongZaiAiYueLiang commented on #28166
It has been solved. The solution is
[code]

[2021-11-22 05:58] #28166 closed

[2021-11-22 09:59] TimelifeCzy opened #28167 "About grpc using C++ map<string, string>(Json Serialization )"
**.proto:**
`
message RawData {
  repeated Record Pkg = 1;
}

message Record{
  map<string, string> message = 1;
}
`
**Client c++:**
`
        proto::RawData rawData;
	Json::FastWriter writer;
	Json::Value	Jsontestnode;
	Jsontestnode["platform"] = "windows";
	Jsontestnode["data_type"] = "1";
// 1. Serialization
        string jsonreq = writer.write(Jsontestnode);
// 2. write to Server
        prot

[2021-11-22 10:21] TimelifeCzy commented on #28167
Tried many methods ：
::proto::Record* pkg_re = rawData.add_pkg();
// pkg_re[0].AppendPartialToString(&jsonreq);
auto message = pkg_re[0].message();
message ["type"] = "1"
write to server: It seems to have no effect, server pkg:message nui

[2021-11-22 10:57] steijgeler commented on #28085
I got it to work by manually specifying the platform when installing the grpc gem: `gem install grpc:1.41.0 --platform arm64e`. It does break again when running `bundle update`, but at least it's manageable for now

[2021-11-22 11:35] LuBingtan commented on #11685
Any updates?

[2021-11-22 12:57] Blackclaws opened #28169 "Build Grpc.Core.Api also for netstandard2.1so its usable in Unity"
### Is your feature request related to a problem? Please describe.
I'm trying to use Grpc Web in Unity

### Describe the solution you'd like
Grpc.Core.Api is released also for netstandard2.1

### Describe alternatives you've considered
Building it myself

### Additional context
The issue stems from the fact that while from a specification standpoint netstandard2.1 should be backwards compatible to

[2021-11-22 16:06] univerio commented on #28085
@steijgeler IMO a better workaround is `bundle config set --local force_ruby_platform true`, which allows you to still use bundler.

Personally, I've had to resort to writing a monkeypatch in my Gemfile. Unfortunately, the hack is specific to Bundler 2.1.2, but it shouldn't be too difficult to adapt it to other Bundler versions:

[code]

This is ugly, cursed, and goes against every engineering pri

[2021-11-22 17:45] Blackclaws opened #28170 "C# Server Generator - Add option to declare method abstract virtual instead of providing default implementation"
What language does this apply to?
C#

Describe the problem you are trying to solve.
I want to get a compiler error in case my service definition file is changed in a way that an endpoint is added that is not implemented

Describe the solution you'd like
I'd like an option to pass to protoc that creates the server side stubs with abstract virtual functions instead of virtual functions whose body th

[2021-11-22 18:08] vjpai opened #28173 "Proxy CONNECT header generated can be malformed on bad target specification"
### What version of gRPC and what language are you using?

1.37, Python

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python3

### What did you do?

1. Set up a proxy using the https_proxy environment variable
2. Create a channel to a target that only includes a name, not a port number (so thi

[2021-11-22 19:11] veblush commented on #28025
Fixed now. Closing this.

[2021-11-22 19:11] #28025 closed

[2021-11-23 00:29] lidizheng commented on #27512
I have manually generated gRPC Python wheels for musllinux Aarch64 for Python 3.9 and 3.10. Here are the links:

- [grpcio-1.42.0-cp310-cp310-musllinux_1_1_aarch64.whl](https://storage.googleapis.com/lidiz-random-stuff-bucket/grpc-arm-musl/grpcio-1.42.0-cp310-cp310-musllinux_1_1_aarch64.whl)
- [grpcio-1.42.0-cp39-cp39-musllinux_1_1_aarch64.whl](https://storage.googleapis.com/lidiz-random-stuff-buc

[2021-11-23 00:32] ZhenLian commented on #27907
Now `TlsServerAuthorizationCheckConfig` is fully gone. Would you mind giving it another try?

[2021-11-23 00:39] vjpai commented on #28173
I spoke with @markdroth about this when we observed this problem, and he suggested that I tag @yashykt ; I can't change the assignment, unfortunately.

[2021-11-23 00:40] nicolasnoble commented on #28173
But I can, hah!

[2021-11-23 00:50] ZhenLian commented on #27896
OK I get it. It seems like the problem is, when "GRPC_NOT_USE_SYSTEM_SSL_ROOTS" is set, we shouldn't try to load the default certificates, while in reality that loading code path is somehow triggered.
The verification logic has changed a lot since the last update. Would you mind trying out the latest HEAD of gRPC and see if the problem still exists(or wait for the next gRPC release)?

[2021-11-23 02:59] oakad commented on #27907
As in bumping the grpc version to 1.42?

[2021-11-23 03:02] oakad commented on #27896
As with the other issue, I rather hoped to stick to "numbered" releases. But I will try to do some testing with HEAD.

[2021-11-23 03:18] ccppoo commented on #26368
you could use meta data like a header in response

[2021-11-23 03:25] StephenHodgson opened #28183 "gRPC C# on unity: The iOS library seems unusually large"
### What version of gRPC and what language are you using?
[Artifacts for gRPC Build 846a3b5c-b7da-4709-8136-e1f065b4865b](https://packages.grpc.io/archive/2021/11/78a4d21f9be3ab8b6bc56316f1d41fb681a541ac-846a3b5c-b7da-4709-8136-e1f065b4865b/index.xml)

Unity for GRPC C#
[grpc_unity_package.2.43.0-dev202111221058.zip](https://packages.grpc.io/archive/2021/11/78a4d21f9be3ab8b6bc56316f1d41fb681a541ac

[2021-11-23 06:00] TimelifeCzy commented on #28167
Solve: https://stackoverflow.com/questions/30622258/how-to-use-google-protobuf-map-in-c
	::proto::Record* pkg_re = rawData.add_pkg();
	auto MapMessage = pkg_re->mutable_message();
	(*MapMessage)["platform"] =  "windows";

[2021-11-23 06:00] #28167 closed

[2021-11-23 06:01] TimelifeCzy commented on #28126
I tried some solutions for this problem, but it still doesn't work.

[2021-11-23 06:05] ccppoo opened #28185 "optional client Interceptors for specific methods (and for servers too) - with python example"
### Is your feature request related to a problem? Please describe.

Interceptors concepts for now,

every request from client go through every interceptor added to channel like this

![image](https://user-images.githubusercontent.com/46418312/142969546-85f8d43e-52b1-471a-9bae-f66b5cf070b4.png)

If we need to dispatch methods to specific interceptors,

we should read method name from handlers like

[2021-11-23 06:35] mttkay opened #28186 "1.42.0 not published on rubygems.org"
1.42.0 has been out for a week now, but is not yet published on rubygems.org

* https://github.com/grpc/grpc/releases/tag/v1.42.0
* https://rubygems.org/gems/grpc

Is there a way to align these better so that a release is available for all platforms simultaneously?

[2021-11-23 07:04] oakad opened #28187 "Build failure when building with Bazel on Windows/mingw64"
Version 1.41.1

protoc in general works. By the time the error is manifested in the bigger build, the schema is already compiled (this applies to both cpp and go schema rules - they just work, grpc included).

INFO: Found 1 target...
SUBCOMMAND: # @com_google_protobuf//:descriptor_proto [action 'Generating upb protos for :descriptor_proto', configuration: c642a7b365250f8e375f4ad7533cdc5ff17d35c4cc

[2021-11-23 07:08] elftech commented on #23730
I got the same problem.

[2021-11-23 14:58] Karthik1610 opened #28188 "Random Grpc crashes when cpu is made offline/pinned to a specific process dynamically"
### Grpc Version
1.10.1

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### Issue
gRPC segfaults found when CPU is isolated or made offline dynamically.

I am running a grpc server which supports both synchronous and asynchronous API's. We have a requirement to reserve certain VCPUs for speci

[2021-11-23 16:35] janskto1 opened #28191 "Incorrect Handling of Error When Creating JWT Access Credentials"
### What version of gRPC and what language are you using?
1.38.1, C++

### What operating system (Linux, Windows,...) and version?
CentOS Linux release 7.7.1908

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++ (GCC) 10.2.1 20210130 (Red Hat 10.2.1-11.1.0.1)

### What did you do?
I attempted to create `ServiceAccountJWTAccessCredentials` with invalid private ke

[2021-11-23 18:23] allenporter commented on #27512
We chatted about how the target needed is really `arvm7`.

I did some testing and determined building a wheel from source on armv7 works fine:
- Building from `pip3 install grpcio --no-binary ":all:"` to build from source works fine on armv7
- Building from grpc source project via `python3 ./setup.py bdist_wheel` works fine on armv7

I think a next target is to try to manually reproduce building t

[2021-11-23 18:38] allenporter commented on #27512
Running the task running on an armv7 machine does not work as its expecting to run a cross compile for an x64 machine:
[code]

This makes sense given https://github.com/grpc/grpc/blob/master/tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile says `The dockcross/linux-armv7 image is a x86_64 image with crosscompilation toolchain installed` so I think getting that to work on x86_64 is my b

[2021-11-23 20:51] peterzhu2118 commented on #25877
This looks like it should be fixed in protobuf versions 3.15.8 and higher. Are you still able to repro this?

![](https://user-images.githubusercontent.com/15860699/143114542-0b7a9e67-8f19-4229-b53e-d4b039de9c3b.png)

[2021-11-24 00:52] spikecurtis opened #28199 "[bazel] cc_grpc_library fails with generated files"
### What version of gRPC and what language are you using?
gRPC main @ 888a10d8a6a30ec0acd7c3cbe9656eb2aa6d237f
Language c++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel 4.2.1

### What did you do?

Minimal example at:

https://github.com/spikecurtis/grpc-bazel-generated/tree/e6670b83208f0

[2021-11-24 01:37] ccppoo commented on #28039
does this issue have any relation with thread spwaning when blocking CLI print while running example codes?

[2021-11-24 02:18] ianutin opened #28200 "python install"
ERROR: Command errored out with exit status 1:
   command: 'd:\anaconda\envs\tensorflow\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\yanyuting\\AppData\\Local\\Temp\\pip-install-3cam4p47\\grpcio_f095b862839e45c28fa88194fbf82db3\\setup.py'"'"'; __file__='"'"'C:\\Users\\yanyuting\\AppData\\Local\\Temp\\pip-install-3cam4p47\\grpcio_f095b862839e45c28fa88194fbf82db

[2021-11-24 02:29] allenporter commented on #27512
As we talked about over chat, the plan is now to get cross compiling going and see what's wrong since we want to fix the build system that cross compiled the wheels.

I can see now the problem in  `install_python_for_wheel_crosscompilation.sh` is when running the cross compilation the ./configure step is failing. Here is where configure failures to setup the cross complile target:
[code]

The shel

[2021-11-24 06:39] allenporter commented on #27512
Making progress, I was able to update `install_python_for_wheel_crosscompilation.sh` and have a cross compiled armv7 wheel. I copied a pattern in your other PR for musl linux, with a couple small tweaks.

I had to rename the wheel to something like `grpcio-1.43.0.dev0-cp39-cp39-musllinux_1_0_armv7l.whl` and was able to install it.

However, I still have some tweaks to make as this is the error I g

[2021-11-24 06:55] leeyiw commented on #28039
Nope.

[2021-11-24 07:45] allenporter commented on #26094
I have a locally built wheel with `python3 tools/run_tests/task_runner.py -b python_linux_extra_armv7_cp39-cp39` (though, note, I had to tweak this to get a local build working as discussed in #27512. I've also seen this from the wheels from https://www.piwheels.org/project/grpcio/

[code]

Then example.py:
[code]

Building and running
[code]

[2021-11-24 09:37] bruno- commented on #25877
No, I think this issue was fixed, see the protobuf issue https://github.com/protocolbuffers/protobuf/issues/8455 and the related fix https://github.com/protocolbuffers/protobuf/pull/8461

[2021-11-24 10:41] Karthik1610 commented on #28188
Hi,

I further debugged the issue and found below code which can cause crash during stats increment in gRPC.
It is because of not making vcpus in sequence.

File => src/core/lib/debug/stats.h
[code]
File => src/core/lib/debug/stats.cc
[code]
File => src/core/lib/iomgr/exec_ctx.h
` unsigned starting_cpu_ = gpr_cpu_current_cpu();
`

File => src/core/lib/gpr/cpu_linux.cc
[code]

Thanks,
Karthik

[2021-11-24 11:21] MuhammetDilmac commented on #25877
Yeah, this issue was fixed. Thanks, @bruno-, and @peterzhu2118 :)

[2021-11-24 11:21] #25877 closed

[2021-11-24 17:18] lidizheng commented on #27512
About the renaming part, PyPI provides a tool to detect the content of the wheel, and rename it to the corresponding policy (like manylinux_2_17, or musllinux_1_1). If there is any error in wheel metadata or in binary, this tool should be able to find out.

[code]

Cannot import `cygrpc` means problem with the compiled shared library. If the error persists, I usually unzip the wheel and check the

[2021-11-24 17:22] lidizheng commented on #28200
@ianutin Have you tried to upgrade `pip`: `python3 -m pip install -U pip`

Also, 3.5 has reached EOL, I would recommend to upgrade to a newer Python version, or an older gRPC version: `python3 -m pip install grpcio==v1.41.0`

[2021-11-24 17:30] allenporter commented on #27512
OK -- I had problems finding audithweel for the musl architecture and had to disable it, so that makes sense.  However, i'm having the `cygrpc` problem on both architectures so perhaps i'll focus there first.

This is the same problem in  https://github.com/grpc/grpc/issues/26094 so I included a repro case there.

[2021-11-24 19:42] Blackclaws commented on #28169
No longer applicable, later unity versions work fine with the netstandard 2.0 version.

[2021-11-24 19:42] #28169 closed

[2021-11-24 20:06] ZhenLian commented on #28126
Thanks for bringing up this issue.
It's not clear to me what was wrong on the client side. Were you able to see the logs on the client side? In C++, you can set environment variable GRPC_TRACE=all and GRPC_VERBOSITY=DEBUG, then use a debug build(see https://github.com/grpc/grpc/blob/master/doc/environment_variables.md for more).

[2021-11-24 20:45] yashykt commented on #28173
Is this an old bug?

[2021-11-24 20:46] yashykt commented on #28173
https://github.com/grpc/grpc/pull/26331 should have fixed this if I'm not misreading things.

[2021-11-24 20:50] yashykt commented on #28173
Ah, 1.37. This PR should be available since 1.39. I can backport it if needed.

[2021-11-24 20:51] #28173 closed

[2021-11-24 21:13] ZhenLian commented on #27907
Ah yeah, this is not in 1.42, but should be in the next release version.

[2021-11-25 02:48] simon-anz commented on #23172
I am having same issue - attempting to access google-cloud APIs from python from behind a corporate firewall that does MITM on the SSL (and I don't have any way to update the certs).

[2021-11-25 05:00] allenporter commented on #27512
When looking at the shared libraries on the musllinux arm build:
[code]

I saw similar errors on the non-musl linux build w.r.t. the python relocation errors.

[2021-11-25 05:44] simon-anz commented on #23172
The following program demonstrates the issue for me:

[code]

Without $GRPC_DEFAULT_SSL_ROOTS_FILE_PATH set to point to my certs I get

Handshake failed with fatal error SSL_ERROR_SSL: error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED.
(proxy is MITM SSL)

When that is set to my cacerts.pem file (which contains three PEM format certs, dragged from chrome), I get

Security hand

[2021-11-25 07:57] Dragon1573 commented on #22815
## Programming Language & gRPC version?

Python, gRPC v1.41.1

## Operating System?

Ubuntu 16.04.7 (Xenial) LTS, it's an online virtual device provided by [Lanqiao](https://www.lanqiao.cn/courses/1437/learning).

## Runtime / Compiler Version?

Python 3.5.2

## Steps to reproduce?

[code]

## What did I expect to see?

`pip` downloads the pre-compiled `*.whl` package file for me and install it ve

[2021-11-25 10:28] gertvdijk commented on #22815
Oof. This version of Ubuntu is EoL since end of April 2021 and is only supported through a commercial subscription.

This version of Python is very old [and EoL](https://endoflife.date/python). It's unlikely that software vendors are producing wheels for this version.

Try to upgrade your Python version. I can recommend [pyenv](https://github.com/pyenv/pyenv) to install different Python versions o

[2021-11-25 13:54] TheSaw commented on #21902
Was there any update on this topic in the more recent versions of gRPC? I can confirm that pinning the DLL in memory with GET_MODULE_HANDLE_EX_FLAG_PIN avoid the issue, but if there would be a proper fix on gRPC side, it would be better.

[2021-11-25 15:43] ccoulombe opened #28213 "aio.server hangs forever [build from source]"
### What version of gRPC and what language are you using?
Version: `1.41.1`
Language: `python`

### What operating system (Linux, Windows,...) and version?
Linux, Centos 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.*
GCC 9.3.0
**Built from source**

### What did you do?

[code]

### What did you expect to see?
Server object printed out, such as:
[co

[2021-11-26 01:42] Dragon1573 commented on #22815
Sorry, I can't achieve that ...

Although **Lanqiao** online virtual device does provide us `sudo` authentication without password, any modifications of the V-dev is only available in a single "experiment". If we finish the experiment and terminate the device, all stuff will be erased and rollback to default waiting for other learners to logged in remotely. 😭

I can't sure if **Lanqiao** V-devs in

[2021-11-26 02:11] Dragon1573 commented on #22815
**Lanqiao** Official Team just pay attention to this issue 1 hour ago.Most of the courses are sharing the same environment so switching Python intepreter to a new version may affect all of them. But after 30 minutes tests & evaluations, they finally update to Python v3.8.10 and solve the problem. The installation time of Tensorflow v2.x immediately reduce to around 4 minites (downloading 489.6MB `

[2021-11-27 04:00] HuaxinTang commented on #22551
@rainerillichmann，@vishnu3649m , Could you share the complete unit test case which you found this issue to me? I want to repreduce this issue. thanks.

[2021-11-27 04:06] HuaxinTang commented on #28037
@markdroth, @yashykt, what do you think of the bugfix below? if it is ok, I will create a PR to merge it.
![image](https://user-images.githubusercontent.com/8827861/143667400-1901addc-32a2-4311-a690-d83c49e694f5.png)

[2021-11-27 06:14] midannii commented on #24660
same problem with me on Mac.
I didn't miss all steps. `sudo` didn't help me
here's  my error message

[code]

[2021-11-27 06:44] TimelifeCzy commented on #28126
Vs2019 uses nuget to manage grpc.
How can I configure the debugging mode?

[2021-11-27 06:44] TimelifeCzy commented on #28126
Vs2019 uses nuget to manage grpc.
How can I configure the debugging mode?

[2021-11-27 06:46] TimelifeCzy commented on #28126
How can I provide an error log or view the grpc connection blog?

[2021-11-28 21:36] MrNeocore opened #28214 "grpcio-testing support for server interceptors"
### Is your feature request related to a problem? Please describe.
As far as I can tell, unit testing a gRPC server with its interceptors is not possible.
This leads to 2 separate issues :
- It is not possible to unit test servers which **require** that a specific interceptor exists (e.g. transforming the input query)
- [Possible wrong] It is not possible to unit test the interceptors themselves

[2021-11-29 11:58] jtattermusch commented on #27815
I don't think adding support for custom metadata (headers) in OPTIONS preflight is feasible for the gRPC C-core implementation (and thus it's not feasible for the Grpc.Core C# implementation either).

Given this limitation, I think you'll have to come up with a different solution (one possibility is to create a ASP.NET Core / grpc-dotnet proxy that handles the Cors/AllowOrigin the way you want it

[2021-11-29 11:58] #27815 closed

[2021-11-29 12:09] jtattermusch commented on #27959
Just to double check: so you're saying when crosscompiled with "arm-poky-linux-gnueabi-gcc 4.9.1", the error happens, and when built with "arm-poky-linux-gnueabi-gcc 8.3.0" things work?

Btw, based on the logs, it seems that in the first case,  grpc core detects that epollex polling enging isn't available and uses epoll1 instead.  The other example does detect epollex correctly (is the first case

[2021-11-29 12:11] jtattermusch commented on #27959
One potential tip is to make sure that the cares resolver has been loaded correctly: https://github.com/grpc/grpc/issues/11366#issuecomment-306936152

[2021-11-29 12:21] jtattermusch commented on #27961
FTR this affects both https://github.com/grpc/grpc/blob/fd3bd70939fb4239639fbd26143ec416366e4157/src/csharp/Grpc.Core.Api/AsyncUnaryCall.cs#L98

and

https://github.com/grpc/grpc/blob/fd3bd70939fb4239639fbd26143ec416366e4157/src/csharp/Grpc.Core.Api/AsyncClientStreamingCall.cs#L117

Note that as a workaround you can always use `unaryCall.ResponseAsync.ConfigureAwait(true)` and `clientStreamingCall

[2021-11-29 12:21] jtattermusch commented on #27961
@JamesNK  WDYT?

[2021-11-29 12:46] TomA-R commented on #28186
👍 This would be really good to have

[2021-11-29 13:09] MichaelPeter commented on #27815
Thank you for the response, I will use these channels in future. Just posted it here since it was C# relatef

[2021-11-29 13:35] jtattermusch commented on #27024
So in order to build the Unity package, you need to first build the grpc_csharp_ext library on multiple platforms, and then to put them in the right subdirectory (in form of `input_artifacts/csharp_ext_*`)

Basically, you'll need all the variants listed here:
https://github.com/grpc/grpc/blob/cd9730d2d28626c57431253208f23507d466c825/src/csharp/build_unitypackage.sh#L52
and
here:
https://github.com

[2021-11-29 13:35] #27024 closed

[2021-11-29 16:47] Syed-Esqimo opened #28218 "Grpc.Core.Xamarin System.DllNotFoundException: grpc_csharp_ext assembly:<unknown assembly> type:<unknown type> member:(null)"
### What version of gRPC and what language are you using?

Grpc.Core 2.42.0 and Grpc.Core.Xamarin 2.42.0/C#

### What operating system (Linux, Windows,...) and version?

macOS 11.6 (Big Sur)

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?

Download the [HelloXamarin](https://github.com/grpc/grpc/blob/master/examples/csharp/HelloworldXamarin)

[2021-11-29 16:48] Syed-Esqimo commented on #28218
Repro attached
[HelloworldXamarin.zip](https://github.com/grpc/grpc/files/7619715/HelloworldXamarin.zip)

[2021-11-29 16:50] Syed-Esqimo commented on #28218
VS for Mac info:

[code]

[2021-11-29 18:33] lidizheng commented on #27512
Thanks for the update. I don't know off my head if CPython can be static linked. This (symbol-not-found error) should not happen if the CPython is installed. Because ARMv7 + musllinux is a niche combination, we might want to check if the given CPython on the device is built and installed for ARMv7 + musllinux.

[2021-11-29 20:43] allenporter commented on #27512
I've explicitly installed cython with `apk add cython` and it didn't seem to change the output from ld. I'm not actually sure which file it needs to link against, or how to see why the import is failing at runtime, etc.

To recap, here is the updated `Dockerfile`:
[code]

[code]

The above wheel was built with `python3 tools/run_tests/task_runner.py -b python_linux_extra_armv7_cp39-cp39`

Stepping

[2021-11-29 21:23] vjpai commented on #28173
Ah, thanks for the info! Looks like we were using the same version that previously reported the bug. No need to backport for me as we've already worked around it.

[2021-11-30 05:00] stanhu commented on #28186
@jtattermusch Do you know what's holding the release of this gem? Is https://github.com/grpc/grpc/pull/25992#issuecomment-974474593 related?

[2021-11-30 12:07] StefanYohansson opened #28224 "grpc_cpp_plugin hasn't been updated to support optional fields in proto3"
### What version of gRPC and what language are you using?
compiling grpc master branch

### What operating system (Linux, Windows,...) and version?
Debian burster (docker image)

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Compiled using:
[code]
everything goes well, then in another folder I try to compile `googleapis` with the same commi

[2021-11-30 13:46] StefanYohansson commented on #28224
same for grpc in tag v1.42.0

[2021-11-30 15:13] only-test-linux opened #28226 "undefined reference to absl::lts_20211102::debugging_internal::VDSOSupport::Init()"
ubuntu20.04 QT compilation error, cmake compilation is normal

[2021-11-30 15:30] StefanYohansson commented on #28224
used cmake to compile grpc and now it works

[code]

I read somewhere that make is deprecated so maybe that is the problem.

[2021-11-30 15:30] #28224 closed

[2021-11-30 19:49] drfloob commented on #28218
I've assigned this to @jtattermusch since I don't have Visual Studio available to try to debug this myself (and because he's most knowledgeable about gRPC's C# support). Taking a quick look, I see that your repro configuration has x86_64 android ABI support enabled. I am curious if changing the semicolons to commas would fix this, based on https://developercommunity.visualstudio.com/t/android-proj

[2021-11-30 19:52] drfloob commented on #28226
Are your submodules initialized and up to date? Assigning to @veblush in case further investigation is needed.

[2021-11-30 21:00] JamesNK commented on #27961
I don't know. I'm not an expert in this area.

@stephentoub What is the recommended pattern to add `ConfigureAwait(bool)` to a non-Task type that has been made awaitable by adding `GetAwaiter`?

Proposal:
[code]

Link to `GetAwaiter` on `AsyncUnaryCall<T>`: https://github.com/grpc/grpc/blob/396fdf2991304deda5f840c800f6131d9362e868/src/csharp/Grpc.Core.Api/AsyncUnaryCall.cs#L95-L101

Example of it

[2021-11-30 21:04] stephentoub commented on #27961
The pattern we've followed is that the awaitable thing also exposes a ConfigureAwait method in addition to the GetAwaiter method (with the ConfigureAwait itself returning something that's awaitable), so that you can write:
[code]

[2021-11-30 21:06] yashykt opened #28232 "C++ Windows h2_insecure_test@sdk_authz [FLAKE]"
Seen on #28157
https://source.cloud.google.com/results/invocations/13ae36da-651e-4c8d-af1e-ae211f51f82c/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_insecure_test@sdk_authz/log

[2021-11-30 21:18] apolcyn opened #28233 "cloud_to_prod aspnetcore interop tests failing continuously"
Example failure:

[code]

https://source.cloud.google.com/results/invocations/734675e8-1bcc-4219-8bd7-bed883a9cdb7/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_prod:aspnetcore:default:server_streaming:tls;row=2

This seems to be failing 100% in the most recent handful of runs today, but it has been flaking - passing on and off at least since November 29th. I'm having troubl

[2021-11-30 21:18] apolcyn commented on #28233
cc @JamesNK @jtattermusch

[2021-11-30 21:20] apolcyn commented on #28233
This looks like a duplicate of https://github.com/grpc/grpc-dotnet/issues/1511

[2021-11-30 21:20] #28233 closed

[2021-11-30 21:20] JamesNK commented on #28233
grpc-dotnet issue: https://github.com/grpc/grpc-dotnet/issues/1511

I can't repo when callings the server from my local machine.

I have a PR to add lower-level logs: https://github.com/grpc/grpc-dotnet/pull/1513
@apolcyn Could you approve?

[2021-11-30 21:52] MrNeocore commented on #28214
Seems like the default assignee changed recently, hello @drfloob :D

[2021-12-01 00:00] only-test-linux commented on #28226
The cmake compilation can run normally, but when compiled on QT, absl::lts_20211102 cannot be found

[2021-12-01 00:03] only-test-linux commented on #28226
Submodule initialization refers to: git submodule update --init? If so, I have already initialized

[2021-12-01 00:10] only-test-linux commented on #26209
@gongwk I also encountered this problem, can I teach the solution?

[2021-12-01 00:10] #27706 closed

[2021-12-01 07:33] only-test-linux commented on #28226
QT's pro file increased
QMAKE_CXXFLAGS += `pkg-config --cflags= protobuf grpc`
QMAKE_CXXFLAGS += -std=c++11
QMAKE_LIBS += `pkg-config --libs= protobuf grpc++` -Wl,--no-as-needed -lgrpc++_reflection -Wl,--as-needed -ldl

[2021-12-01 07:33] only-test-linux commented on #28226
Caused by a configuration error on my side

[2021-12-01 07:33] #28226 closed

[2021-12-01 07:38] only-test-linux commented on #18888
QMAKE_CXXFLAGS += pkg-config --cflags= protobuf grpc
QMAKE_CXXFLAGS += -std=c++11
QMAKE_LIBS += pkg-config --libs= protobuf grpc++ -Wl,--no-as-needed -lgrpc++_reflection -Wl,--as-needed -ldl

[2021-12-01 07:39] only-test-linux commented on #26209
QMAKE_CXXFLAGS += pkg-config --cflags= protobuf grpc
QMAKE_CXXFLAGS += -std=c++11
QMAKE_LIBS += pkg-config --libs= protobuf grpc++ -Wl,--no-as-needed -lgrpc++_reflection -Wl,--as-needed -ldl

[2021-12-01 07:47] chenqiuhao1997 commented on #18075
I have met the same problem on python3.8 with newest grpcio 1.42.0.

The root cause of this problem is that `CPython` reinitialize the `GIL` after `pthread_atfork` child handler and before `os.register_at_fork` child handler in the fork child progress.

In grpcio, the fork child handler is registered into `pthread_atfork`, which means the child handler would run without a correct, reinitialized `G

[2021-12-01 10:57] heretic13 opened #28239 "Bad documentation for C++ async methods"
Hi.

I think you have a problem with the documentation.
Take a look at the page.

https://grpc.github.io/grpc/cpp/classgrpc_1_1_server_async_response_writer.html#details

On methods:
void Finish(const W &msg, const ::grpc::Status &status, void *tag);
void FinishWithError(const ::grpc::Status &status, void *tag);

The documentation doesn't tell us anything about the lifetime of the "const W & msg"

[2021-12-01 11:23] heretic13 commented on #28239
Look at this - https://grpc.github.io/grpc/cpp/classgrpc_1_1_server_async_writer.html#a467f70c7460ceb7738fb938b3bf93c85

"gRPC doesn't take ownership or a reference to msg and status, so it is safe to deallocate once WriteAndFinish returns."

I want something similar to be written for the methods of the grpc::ServerAsyncResponseWriter class.

[2021-12-01 11:54] jtattermusch opened #28242 "flaky test: python_macos_opt_asyncio_py38_asyncio_test_aio_unit_server_test_TestServer.py38_asyncio.test_aio.unit.server_test.TestServer"
https://source.cloud.google.com/results/invocations/5a4b8e54-9fe5-4932-a57a-10ee76a1f978/targets/github%2Fgrpc%2Frun_tests%2Fpython_macos_opt_asyncio%2Fpy38_asyncio.test_aio.unit.server_test.TestServer/tests

[2021-12-01 15:11] ivoanjo opened #28244 "grpc Ruby gem fails to install due to using too many parallel jobs while compiling inside container"
### What version of gRPC and what language are you using?
* grpc version: `1.41.1`
* language: `ruby`

### What operating system (Linux, Windows,...) and version?
* Linux (multiple versions)

### What runtime / compiler are you using (e.g. python version or version of gcc)
* Multiple versions

### What did you do?
* Tried to install gem inside a container: `gem install grpc`

### What did you expe

[2021-12-01 17:15] lidizheng commented on #28242
This is the same as b/208447419, should be fixed by https://github.com/grpc/grpc/pull/28229.

[2021-12-01 17:15] #28242 closed

[2021-12-01 18:53] apolcyn commented on #28186
1.42.0 has just been published.

Note that some changes were made between the 1.42.0.pre1 and the 1.42.0 release considering the reports in #25992 (comment) and https://github.com/grpc/grpc/issues/28085:

- The arm64-darwin gem was not published in 1.42.0 (because of the problem mentioned in #25992 (comment))

- The universal-darwin gem was not published, so the x86_64-darwin gem and source code p

[2021-12-01 19:11] apolcyn commented on #28244
PTAL at https://github.com/grpc/grpc/pull/28250, which adds an env var to override this

[2021-12-01 19:54] flavorjones commented on #28085
My M1 just arrived and I'm in the process of setting it up. I will be able to work on the arm64-darwin report over the next day or two.

[2021-12-01 21:02] univerio commented on #28085
Thanks @apolcyn! Since the `universal-darwin` gem is no longer being published, this specific issue can be considered resolved from my perspective, but it sounds like there is still work left to publish a `arm64-darwin` gem (which AFAIU is being tracked elsewhere).

[2021-12-01 21:02] #28085 closed

[2021-12-02 04:07] YongyuG opened #28256 "C++ multi-thread, unequal number of request and response when using ServerAsyncResponseWriter(stream)"
### What version of gRPC and what language are you using?
1.24.0

### What operating system (Linux, Windows,...) and version?
Linux 16.04LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-5.5

### What did you do?
I tried to run a multi-thread async server for  my specific AI-algorithms; however, when number of request and number of response are unequal. I u

[2021-12-02 05:34] #28186 closed

[2021-12-02 17:11] apolcyn opened #28260 "ruby macos artifact build failed: fatal: reference is not a tree: 10b1944581fbbdc216057fd70e89dbbe3d04161e"
[code]

https://source.cloud.google.com/results/invocations/f818901c-4b1f-4db9-9c92-ea6ee48954cf/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[2021-12-02 20:35] Banger commented on #28158
Some new/more information from valgrind. Without trying, we managed to crash while running in valgrind.  Hopefully it can help.
[code]

[2021-12-03 00:13] ZhenLian commented on #28126
I am not entirely sure about VS2019 and nuget. @markdroth, do we have any experts here?

Also a couple of follow-up questions:
1. I see in your code you were trying to use insecure credentials. Did that work? If that works, then we can probably rule out the connection problems, and the credential might be the cause
2. Can we please make sure the credential you use are valid and correct? Often time

[2021-12-03 01:29] TimelifeCzy commented on #28126
Use vcpkg to install grpc.
Using the same .ca .key, golang successfully ssl to the client.
But I don't confirm whether I used it wrong or the code problem.
Hope that grpc can be configured for debugging. If there are problems in the future, I can check the error log first, and if I encounter difficulties, I can provide as detailed information as possible.
Currently I am not sure how vcpkg configur

[2021-12-03 01:32] TimelifeCzy commented on #28126
golang server | C++ client
Belongs to the minority, I can’t find much help

[2021-12-03 03:07] tmasciar opened #28266 "mismatched types absl::lts_2020_09_23::FormatSpec<Args ...> and const char [22]"
### What version of gRPC and what language are you using?
grpc 1.37.1
gcc 10.2 (c++)

### What operating system (Linux, Windows,...) and version?
linux centos 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 10.2

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If t

[2021-12-03 09:07] maroshmka commented on #27996
hey @lidizheng , any progress on this one ? thanks!

[2021-12-03 11:56] MrDeej opened #28270 "INotifyPropertyChanged implementation on IMessage"
### Is your feature request related to a problem? Please describe.
Every time we build an app which uses gRPC, we need to convert from auto-generated IMessage class, to an separate c# class, to provide INotifyPropertyChanged interface.

This is due to "live-updating" the data on the client side, and that we use databinding in the UI to the instances of the converted IMessages.

This meas that for

[2021-12-03 13:32] NivedhaSenthil opened #28271 "grpc-ruby 1.42.0 fails with dyld[]: missing symbol called"
### What version of gRPC and what language are you using?
grpc - 1.42.0
language - ruby

### What operating system (Linux, Windows,...) and version?
MacOS - 12.0.1
MacBook Pro (16-inch, 2019)
Processor 2.6 GHz 6-Core Intel Core i7

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby - 2.7.0, 3.0.0, 3.0.3

### What did you do?
Run acceptance for the spanner ruby c

[2021-12-03 15:39] quartzmo commented on #28271
I am also able to reproduce this:

[code]

[2021-12-03 17:39] lidizheng commented on #27996
gRPC Python doesn't produce per-RPC trace log today. Python is a wrapper layer on top of gRPC Core, where you can find lots of trace log options: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md.

If you want to intercept and log errors in Python, you can use interceptors, here is an example: https://github.com/grpc/grpc/tree/master/examples/python/interceptors/headers

[2021-12-03 17:53] #27961 closed

[2021-12-03 18:02] drfloob commented on #28270
By any chance are you using the native C# implementation? If so, you'll want to file this issue at https://github.com/grpc/grpc-dotnet. If you are using the C-core wrapped implementation in this repo, it was deprecated in May, and no new development is planned for it. https://www.grpc.io/blog/grpc-csharp-future/. So you don't have to worry about changes to it, but you should consider migrating reg

[2021-12-03 18:23] chenwnicole commented on #22904
[This](https://stackoverflow.com/a/61772109) is helpful if anyone comes across the same issue (use `Google::Protobuf::Struct.from_hash`).

[2021-12-03 18:37] drfloob commented on #28256
If you think this is a bug in gRPC itself, I'd like to see a repro that includes client & server code, and eliminates all custom decision logic about how and when to respond to client messages.

However this seems like more of a "why is my code not working" post than a "I've found a bug in gRPC" post. For general questions and troubleshooting, please ask at StackOverflow, with "grpc" tag: https://

[2021-12-03 18:37] #28256 closed

[2021-12-03 19:21] mr-salty commented on #28271
I'm also seeing this:

[code]

[2021-12-03 19:22] mr-salty commented on #28271
(and can confirm downgrading to 1.41 fixes it)

[2021-12-03 19:59] apolcyn commented on #28271
The mac package build was revised in 1.42.0, and this is very likely related: we didn't publish the old `universal-darwin` gem and instead published the `x86_64-darwin` gem as the binary package for mac.

The universal-darwin gem is still present in the 1.42.0 pre-release, though, in https://rubygems.org/gems/grpc/versions/1.42.0.pre1-universal-darwin as another potential workaround.

I'm not able

[2021-12-03 20:19] #28244 closed

[2021-12-03 21:08] quartzmo commented on #28271
Confirming that `1.42.0.pre1 (x86_64-darwin)` reproduces:

[code]

[2021-12-03 21:11] ionroso commented on #24973
I am hitting the same issue on both: "arm64-v8a" and "armeabi-v7a" on Windows.  I am using gRPC version: 1.37.0. Is this issue fixed in the latest release? I feel like not.

When do you plan to provide a fix since it is a blocker for those who want to use gRPC on Android Native on Windows - please take action!

Thank you!

[2021-12-03 21:20] apolcyn commented on #28271
@quartzmo can you please check if `1.42.0.pre1 (universal-darwin)` works? (that's the gem that uses the old build)

[2021-12-03 21:22] quartzmo commented on #28271
Yes, sorry that took a little more effort, but I just confirmed that it works:

[code]

[2021-12-03 21:27] apolcyn commented on #28271
OK, that seems to narrow things down to the new x86_64 package build from https://github.com/grpc/grpc/pull/25794.

cc @flavorjones

[2021-12-03 22:38] tmasciar commented on #28266
you can close this. I was missing CC and CXX pointing to gcc102 location even if the first cmake instruction is showing I am using gcc102

Thanks
Thierry

[2021-12-03 22:38] #28266 closed

[2021-12-04 12:01] max-ieremenko commented on #27961
Thank you!

[2021-12-04 19:22] flavorjones commented on #28271
I'm able to reproduce this with both the spanner and firestore projects. Digging in.

[2021-12-04 21:45] flavorjones commented on #28271
A good explanation of what's happening is in this series of blog posts:

1. [Undefined Symbol on macOS – Eugene Petrenko](https://jonnyzzz.com/blog/2018/05/16/link-error/)
2. [Undefined isOSVersionAtLeast on macOS – Eugene Petrenko](https://jonnyzzz.com/blog/2018/06/05/link-error-2/)
3. [Understanding isOSVersionAtLeast on macOS – Eugene Petrenko](https://jonnyzzz.com/blog/2018/06/13/link-error-3/

[2021-12-05 12:55] owent opened #28281 "Can not compile with usage of deleted function `std::string_view::string_view(nullptr)`"
### What version of gRPC and what language are you using?

Language: C++
gRPC Version: v1.42.0

### What operating system (Linux, Windows,...) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

+ `/MD` with MSVC v143

### What did you do?

Using std c++23. (With `/std:latest` in MSVC)

### What did you expect to see?

Building success.

### Wh

[2021-12-05 16:23] flavorjones commented on #28271
Confirmed, building the gem in a rake-compiler-dock image container that provides `compiler-rt` resolves this symbol and the repros noted above no longer fail on a `dyld` "symbol not found" error.

@apolcyn I'm going to submit a PR today to rake-compiler-dock that will address this; and then the grpc project will need to pull in that change to its RCD container-builder process.

[2021-12-05 21:07] flavorjones commented on #28271
@apolcyn see https://github.com/rake-compiler/rake-compiler-dock/pull/60 for upstream progress.

If you'd like to cherry-pick the fix, here it is: https://github.com/rake-compiler/rake-compiler-dock/pull/60/commits/655f8acae058ac7a17b6b550f7b1bb15f1da0c9d

[2021-12-06 02:57] RyoKawabata0 opened #28283 "Detected memory leaks in c++"
The following declaration in the file generated by grpc (grpc.pb.cc) causes a memory leak.
It seems that google::protobuf::ShutdownProtobufLibrary() does not free the memory allocated by this declaration.
Would you tell me how to release it?

   ` PROTOBUF_ATTRIBUTE_INIT_PRIORITY static ::PROTOBUF_NAMESPACE_ID::internal::AddDescriptorsRunner dynamic_init_dummy_DxpGrpc_2eproto(&descriptor_table_Dxp

[2021-12-06 05:12] RyoKawabata0 commented on #28283
https://stackoverflow.com/questions/70240164/detected-memory-leaks-in-c/70240441#70240441

[2021-12-06 06:48] YongyuG commented on #28256
ok, thanks, will close it

[2021-12-06 06:48] YongyuG commented on #28256
ok thanks

[2021-12-06 17:32] Jack-256 commented on #21931
@posilva But it seem doesn't work out with ssl using the parameters you gave. can you use ssl ?

[2021-12-06 18:08] drfloob commented on #28283
I believe this is a protobuf issue, not specific to gRPC. There was one recent report of Windows CRT flagging false leaks, maybe this is another instance. https://github.com/protocolbuffers/protobuf/pull/9197

[2021-12-06 18:08] #28283 closed

[2021-12-06 18:45] drfloob commented on #28239
The documentation is less than comprehensive in some spots, I agree. We'd be grateful to accept pull requests where deficiencies are found.

For const reference arguments, ownership is explicitly not transferred, and the lifetime of the objects must outlive their use (stating the obvious here, just in case). If you look at the hello world example's `greeter_async_server`, `greeter_async_client` an

[2021-12-06 21:35] Banger commented on #28158
I found out that under some weird conditions we seem to have a `stream->Write` being done after:
[code]
Which causes a crash.

I understand that this does not make sense, but it should still not crash. Either an `std::exception` should be thrown or ideally the `Write` should return `false`.
Also, the reading of the stream should still be possible after the `set_last_message` write. I could not tes

[2021-12-07 06:05] IkshuDM opened #28295 "Grpc client hung during rpc request"
What version of gRPC and what language are you using?
language : C++, version: 1.30.0

What operating system (Linux, Windows,...) and version?
Linux 4.19.81

What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7.16, g++ (Debian 8.3.0-6) 8.3.0

What did you do?
When the client starts up,  2 threads are  started to  monitor the channel connectivity like below. Chan

[2021-12-07 06:26] Jack-256 opened #28296 "gRPC++ doesn't support ssl on iOS ？"
### What version of gRPC and what language are you using?
C++, gRPCv1.41.0

### What operating system (Linux, Windows,...) and version?
macOS Monterey 12.0.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
-- Autoconf target triple: aarch64-apple-ios
-- Using minimum deployment version: 11.0 (SDK version: 15.0)
-- Merging integrated CMake 3.14+ iOS,tvOS,watchOS,m

[2021-12-07 06:35] owent commented on #28281
Codes changed and this issue is expired now.

[2021-12-07 06:35] #28281 closed

[2021-12-07 13:14] MrNeocore commented on #28214
Anyone can confirm the issue has no good workaround ?

[2021-12-07 16:39] Jack-256 commented on #27709
@Kernal-GH Hey, guy, I have the same problem on iOS, have you solved it?

[2021-12-07 18:19] Jack-256 commented on #28296
I run the server both on windows and ios, but have different log,

It seems there isn't certificate provider factory on iOS  which is the reason ?
Does anyone can help, thanks a lot

as follows:

## logs of server on iOS
D1208 02:00:59.650410000 6168129536 ev_posix.cc:172]                   Using polling engine: poll
D1208 02:00:59.652735000 6168129536 dns_resolver.cc:325]               Using nati

[2021-12-07 20:34] Banger commented on #28158
Probably not related to above crash, but here is a crash that happens without any abnormal stream closing from the client:
[code]

I thought that maybe we were closing the stream, then trying to read. But even then it should not crash. An exception maybe, a `false` return yes, but not crash. Similarly if a stream was closed (normally or not) while blocked on a read, it should not crash.

[2021-12-07 21:48] Banger commented on #28158
Another crash similar without abnormal stream closing:
[code]

[2021-12-07 22:58] r-kells commented on #26125
FYI, my current workaround. (It's very slow)

Dockfile Snippet
[code]

[2021-12-08 02:45] ccppoo commented on #28020
example code with *.proto file better to know how method is described

[2021-12-08 03:26] anhtranbk commented on #25082
Add
[code]
worked for me, native compiled, no need to add `arch -x86_64` before pip command

[2021-12-08 08:47] Jack-256 commented on #28296
I found it will be ok if I remove the libgrpc_unsecure, libgrpc++_unsecure.

[2021-12-08 08:48] jtattermusch commented on #26886
The logs being flooded with "file has vanished" messages are a consequence of an unrelated issue if a build times out and should be fixed by https://github.com/grpc/grpc/pull/28259.

[2021-12-08 08:48] #26886 closed

[2021-12-08 08:49] Jack-256 commented on #28296
but is there any other way to solve this problem in code level.

[2021-12-08 08:50] jtattermusch commented on #22209
The logs being flooded with "file has vanished" messages are a consequence of an unrelated issue if a build times out and should be fixed by https://github.com/grpc/grpc/pull/28259.

[2021-12-08 08:50] jtattermusch commented on #20694
FTR as pointed out above, the logs being flooded with "file has vanished" messages are a consequence of an unrelated issue if a build times out and should be fixed by https://github.com/grpc/grpc/pull/28259.

[2021-12-08 08:52] jtattermusch commented on #19422
FTR The logs being flooded with "file has vanished" messages are a consequence of an unrelated issue if a build times out and should be fixed by https://github.com/grpc/grpc/pull/28259.

[2021-12-08 16:27] ledergec commented on #20194
Trying to explain why integrating into an existing event-loop may be interesting from my experience.

In the past two larger projects I have been working on we decided to use the following design:
- we used multiple micro services
- every service was single threaded and driven by an event-loop

Being Single Threaded had two effects:
1. no multi threading bugs
2. it is possible to simulate time

Th

[2021-12-09 08:58] philipag commented on #25862
This is again broken in the latest Prpc.Core 2.42.0 and 2.43.0-pre1 nugets.  libgrpc_csharp_ext.so is once again 107MB!

[2021-12-09 13:25] fainle opened #28323 "python 3.10.1 failed to connect to all addresses"
### What version of gRPC and what language are you using?
grpcio == 1.42.0
grpcio-tools  == 1.42.0
grpclib == 0.4.2

### What operating system (Linux, Windows,...) and version?
ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.10.1

### What did you do?
[code]

### What did you expect to see?
block {
  id: "%]9\201\305_\363%\320\247\265\226\33

[2021-12-09 18:16] lidizheng commented on #28323
It's hard to say what the problem is with the given information. Can you share more about the server-side deployment?

`failed to connect to all addresses` means the resolver has returned several addresses, but none of them can be reached by the client.

[2021-12-10 02:59] fainle commented on #28323
The same code, one address can be one address but not

access.canary.nodes.onflow.org:9000 ok
flow-mainnet.g.alchemy.com:443 fail

Is it related to certification?

[2021-12-10 06:20] daixiang0 opened #28330 "How to use OpenSSL Engine"
### Is your feature request related to a problem? Please describe.
I check the code and add `engine:dynamic:` in the header of key file, but fail. I do not find an example or a doc for it.

### Describe the solution you'd like
Provide an example or doc for it.

### Additional context
Ref #20316

/cc @akshayku as you are the author.

[2021-12-10 09:40] fainle commented on #28323
It has been resolved, and it is related to the certificate.

[2021-12-10 09:40] #28323 closed

[2021-12-10 09:55] JohannesMaier opened #28331 "Exception in greeter client: Grpc.Core.RpcException: 'Status(StatusCode=Cancelled, Detail="CANCELLED")'"
I implemented a mockup where the example c# greeter server code runs embedded as a dll plugin and the original greeter client code runs in VS19.
When trying to get the service connected, i am running in following exception on client side:

`Grpc.Core.RpcException: 'Status(StatusCode=Cancelled, Detail="CANCELLED")'`

with following call stack:

[code]

Only thing i have changed on this client code,

[2021-12-10 14:37] sergeplatonov opened #28335 "gRPC cmake build fails because of protobuf symbols missing"
**What version of gRPC and what language are you using?**
grpc 1.42.0 Language: c++

**What operating system (Linux, Windows, …) and version?**
Linux Ubuntu 20.04.3 LTS

**What runtime / compiler are you using (e.g. python version or version of gcc)**
gcc/g++ with following options:
'-DP4A=ON',
'-DANDROID_ABI={}'.format(arch.arch),
'-DANDROID_STANDALONE_TOOLCHAIN={}'.format(self.ctx.ndk_dir),
'-DA

[2021-12-10 19:56] ionroso commented on #24973
Any updates on this issue?

[2021-12-10 21:20] huaraz opened #28337 "pip install grpcio fails for python3.8 on multiple unix flavours"
I try to install grpcio 1.42 on a unix platform ( Suse SLES11 and cygwin). On both platforms it fails when compiling a.c in None with gcc error.

Markus

$ pip3 install --upgrade grpcio

Collecting grpcio

  Using cached grpcio-1.42.0.tar.gz (21.3 MB)

  Preparing metadata (setup.py) ... done

Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.8/site-packages (from grpcio) (1.14.0

[2021-12-11 19:53] psigen commented on #24665
Has anyone found a workaround for this?

Is the fundamental problem that the interpreter toolchain definition in `rules_python` needs to include a target for a header path as well for native compilation purposes?

[2021-12-12 06:20] muler415 commented on #23955
I have same problem. and was this issue resolved?
Grpc.Core.RpcException: Status(StatusCode="Cancelled", Detail="CANCELLED", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1639285302.562000000","description":"Error received from peer ipv4:192.168.61.10:9007","file":"..\..\..\src\core\lib\surface\call.cc","file_line":1064,"grpc_message":"CANCELLED","grpc_status":1}")
   在

[2021-12-12 10:28] j-koopman opened #28340 "Unable to install grpc using pecl on Ubuntu 20.04"
I'm trying to install gRPC package using pecl on my Ubuntu 20.04 machine with PHP 7.4.3, but I get the following message.

temp/grpc/third_party/upb -I/tmp/pear/temp/grpc/third_party/xxhash -DHAVE_CONFIG_H -std=c++11 -fno-exceptions -fno-rtti -g -O2 -c /tmp/pear/temp/grpc/src/core/ext/xds/xds_api.cc  -fPIC -DPIC -o src/core/ext/xds/.libs/xds_api.o
g++: fatal error: Killed signal terminated program

[2021-12-12 11:03] j-koopman commented on #28340
Please close this issue.

Low memory space on my machine was causing the installation error. Increasing swap space solves the problem.

[2021-12-13 03:46] bestjane opened #28341 "@NielsKSchjoedt see if the PR I added here to update documentation helps you https://github.com/grpc/grpc/pull/25705"
@NielsKSchjoedt see if the PR I added here to update documentation helps you https://github.com/grpc/grpc/pull/25705

_Originally posted by @bbuchalter in https://github.com/grpc/grpc/issues/25419#issuecomment-816398691_

[2021-12-13 03:46] #28341 closed

[2021-12-13 10:52] tara-superapplets opened #28342 "gRPC issue on Centos 7.9"
[ 40%] Built target ssl
[ 53%] Built target crypto
[ 82%] Built target grpc
[ 86%] Built target grpc++
[ 86%] Built target grpc_cpp_plugin
[ 86%] Built target protoc
[ 86%] Running gRPC C++ protocol buffer compiler on src/proto/grpc/reflection/v1alpha/reflection.proto
/bin/sh: /tmp/grpc/cmake/build/third_party/protobuf/protoc-3.18.1.0: Permission denied
make[2]: *** [CMakeFiles/grpc++_reflection.d

[2021-12-13 21:24] dazuma commented on #28271
@apolcyn I'm not sure when the upstream rake-compiler fix is going to be in. Is it possible to release a 1.42.1 (or even a 1.42.0.1) reinstating the universal-darwin build instead?

[2021-12-14 03:37] muler415 commented on #23955
I figured out the root cause is - I did not copy System.Numerics.Vectors.dll to execution folder. That led to failure status. I am wondering why there is no exception thrown out.  if there is exception in detail, that would be great!

[2021-12-14 07:24] #28331 closed

[2021-12-14 21:47] veblush commented on #26478
This is fixed by the recent update of Abseil and https://github.com/grpc/grpc/pull/26463.

[2021-12-14 21:47] #26478 closed

[2021-12-14 23:46] dennycd opened #28357 "grpc_build_artifacts job consistent failing on presubmit but green on master/prod"
Presubmit job started failing since yesterday

<https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts>

with the following ruby gem package error

[code]

[2021-12-14 23:56] pgoodman commented on #23042
I see the following issue that seems related, for gRPC 1.41.0 (fc662b7964384b701af5bd3ce6994d2180080eb4):

[code]

[2021-12-14 23:56] drfloob commented on #28357
Internal dashboard shows it failing for over a week.

[2021-12-15 04:43] IkshuDM commented on #28295
can I please  get help with how to solve above issue

[2021-12-15 06:59] TimelifeCzy commented on #28126
I forgot about this problem recently and tested it again：
1)  ca.crt client.crt client.key convers to .pem
`
openssl x509 -in ca.crt  -out ca.pem
openssl x509 -in client.crt  -out client.pem
openssl rsa -in client.key -out client_key.pem
`
2) SslCredentialsOptions ssl  = {".pem",".pem",".,".pem} --> SslCredentials(ssl) --> CreateChannel("ip:port", SslCredentials(ssl));

Error:
`
E1215 14:53:05.592

[2021-12-15 11:28] yashykt commented on #28295
Can you share your code as a gist maybe?

[2021-12-15 11:43] itay-grudev commented on #25450
https://bugs.ruby-lang.org/issues/18409

[2021-12-15 14:39] jnarowski commented on #28085
Where is `arm64-darwin` progress being tracked? I have a new m1 mac and am pretty blocked at the moment. I am struggling to get the old x64 version of ruby 2.6.6 working, and compiling ruby with the silicon architecture means this grpc gem doesn't work.

Short answer is arm64-darwin should be the answer to all my ailments!

[2021-12-15 16:51] veblush commented on #28357
@apolcyn Would you take a look at this? I'm blocked by too for releasing v1.43.0

[2021-12-15 18:43] flavorjones commented on #28085
See https://github.com/grpc/grpc/issues/28271#issuecomment-986300461 for related information

[2021-12-15 19:09] #25720 closed

[2021-12-15 21:57] anothermh commented on #24846
That doesn't sound correct to me. I have an M1 Mac, I use asdf-vm to manage Ruby, it's compiled natively for arm64, and I have the grpc gem installed and working fine using the instructions that I left earlier in this thread about setting the bundle platform to be `ruby`.

[code]

[code]

and:

[code]

and:

[code]

I also checked `/Users/foo/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/extension

[2021-12-15 22:26] toddtomkinson commented on #21589
The current state of #25586 will NOT allow this, as the SetAuthMetadataProcessor in InsecureServerCredentials still does not allow an AuthMetadataProcessor to be set:

[code]

It appears that the default implementation will only be used by classes that extend SecureServerCredentials.

[2021-12-16 12:50] IkshuDM commented on #28295
Thanks for your response.  I have added the code in the issue log.

[2021-12-16 13:22] IkshuDM opened #28379 "grpc client crash in grpc_completion_queue_next"
What version of gRPC and what language are you using?
language : C++, version: 1.30.0

What operating system (Linux, Windows,...) and version?
Linux 4.19.81

What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7.16, g++ (Debian 8.3.0-6) 8.3.0

What did you do?
Normal cleint server request/response opration

What did you expect to see?
no crash

What did you see i

[2021-12-16 15:48] jnarowski commented on #28271
@flavorjones if I fork this repo and cherry pick your commit, will I be able to build and run GRPC on an m1 mac? Not sure if I need to build any binaries for it, or if just forking and adding that above code would be enough?

[2021-12-16 17:30] flavorjones commented on #28271
@jnarowski I'm not sure if you're asking "how do I create a precompiled native gem for arm64-darwin" or if you're asking "does grpc install on M1".

If you simply want to run grpc on your M1, you can install 1.42.0 and it should compile correctly for you during installation:

[code]

If you're asking "how do I create a precompiled native gem for arm64-darwin" I can provide steps, but it's a little

[2021-12-16 20:13] marekp0 opened #28382 "Cannot force use of only TLS 1.3 ciphers"
### What version of gRPC and what language are you using?

C++ 1.38.1 (also tested on 1.42.0, same results; also tried with both git-submodule-provided boringssl and ubuntu-provided openssl, same results)

### What operating system (Linux, Windows,...) and version?

Linux, Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 9.3.0

### What did you d

[2021-12-16 22:38] jnarowski commented on #28271
I just want this gem to run on my M1 mac. Don't need to precompile a native gem.

I am on `ruby 2.6.6` installed via `rbenv`. I tried installing `1.42.0` and that didn't work for me.

[code]

When I try running something that depends on this gem, I get the following error:

[code]

[2021-12-17 04:40] jairaju opened #28383 "cmake does not seem to install ssl option specific header files to set tls_min and tls_max for TLS version"
**What version of gRPC and what language are you using on what flavour?**
grpc - 1.38.1(also tried with 1.42.0)
cmake version 3.20.5
gcc version 8.3.1
building on Linux/centos 7 for c++ libraries.

**What did you do?**
As per this proposal https://github.com/grpc/proposal/pull/205
setting tls_min and tls_max for TLS version setting was introduced and I wanted to make use of those options to set TL

[2021-12-17 08:02] jonmchan commented on #28271
I'm confirming seeing this issue on the following macos system:

[code]

Error when trying to initiate a gRPC client call:

[code]

Ran it in linux in a docker instance and it worked without issue.

[code]

[2021-12-17 09:40] mgravell commented on #22605
btw, I investigated this, and I'm not convinced it is even a breaking change, either at runtime or build time.

## Runtime

The constraint is burned into the *declaration*, but not the *call site*; in IL terms this is:

[code]

which is fine, but *at the call site*, the value-type vs ref-type of the `T` is burned in *either way*; i.e.

calling a generic method without a constraint, for a ref-type

[2021-12-17 09:44] slrom commented on #27959
Hi @jtattermusch, Thanks for  your response.
Yes, the error happens when crosscompiled with "arm-poky-linux-gnueabi-gcc 4.9.1",ran on OS kernel "linux-3.14". And it works when crosscompiled with "arm-poky-linux-gnueabi-gcc 8.3.0", ran on OS kernel "linux-4.19".

I had tried GRPC_POLL_STRATEGY=epoll1. Made no difference.

And it did not show these message below. Can you tell me how to check if the

[2021-12-17 09:56] mgravell commented on #22605
As a validation, I created a library with:

[code]

and a calling project that consumes this:

[code]

This executes as expected:

[code]

Now, if we remove the generic constraint in the library **without** rebuilding the application, but simply dropping the new library over the top, and re-run it:

[code]

So: no runtime break at all; it *is* (as shown) possible to detect the difference by observ

[2021-12-17 11:10] michaelschmitz commented on #28271
Same issue as @jonmchan also just tried a simple call, can install 1.42.0 without problems, but still fails with the dyld error:
[code]

If the solution is to precompile the gem natively, then I would appreciate your advice @flavorjones.

[2021-12-17 11:28] IkshuDM commented on #28379
Can you please help me know  if there is wny workaround to solve this issue?

[2021-12-17 15:37] FerandoGH opened #28384 "Grpc x VPN - Error 12 UNIMPLEMENTED"
Folks

   I have a little question here... is there any special configuration when grpc is used with VPN? Error 12 is returning (UNIMPLEMENTED The operation is not implemented or is not supported/enabled in this service).  when using http, it reaches the other side but when using grpc returns error 12

 I'm using grpc with axios node.  kubernetes alpine.

thank you very much in advance

[2021-12-18 02:59] flavorjones commented on #28271
@michaelschmitz Yes, what you're describing is the bug reported in this issue. My advice above to the grpc maintainers requires them to update their build environment and ship a new precompiled gem. In the meantime as a workaround you can install the v1.42.0 vanilla ruby gem and compile it upon installation.

@jnarowski Your issue looks different, please open a separate issue? Thanks.

[2021-12-19 15:20] raarts commented on #25289
This isn't fixed yet, did someone communicate with the c-ares people, I could not find a bug report there.

[2021-12-19 21:30] robd003 opened #28386 "Publish macosx-12-arm64 wheel"
### Is your feature request related to a problem? Please describe.
Please release macos arm64 wheels

### Describe the solution you'd like
Please release macos arm64 wheels

### Describe alternatives you've considered
I can build from source, but it's an annoyingly long process to pull in all of the submodules

[2021-12-20 05:46] dixitsatyam commented on #24940
i have gcc 5.4.0 but still i'm getting compilation error.
![image](https://user-images.githubusercontent.com/47394025/146717798-519f44c5-193f-44a6-8bcf-5a6910b91e9e.png)

[2021-12-20 05:53] dixitsatyam commented on #24940
above error is comming for every release after v1.33.2 grpc release.
Following steps i followed to trigger build (example for v1.38.0 release):
git clone -b v1.38.0 https://github.com/grpc/grpc
cd grpc
git submodule update --init
mkdir -p cmake/build
cd cmake/build
cmake3 ../..
make

[2021-12-20 06:35] shubhamxshup commented on #28331
Can you please suggest what code changes you have done... for call cancellation issue

[2021-12-20 09:03] DriveAthelete opened #28387 "[Python][macOS] 3.10 wheel is mislabeled as universal2"
[code]
The following problem: on 3.9 python everything works, but when upgrading to 3.10, the following problem an import error occurs
Are there any solutions?

[2021-12-20 10:14] leonid-shevtsov commented on #24846
Well, by now, `grpc` version 1.42.0 works with M1 Ruby just fine, without tricks. So in any case, it's in the past.

[2021-12-20 10:15] dixitsatyam commented on #24940
@Peterisfar .. i'm also getting same bug , did you find the way to resolve this.

[2021-12-20 17:00] MrNeocore commented on #28214
Don't want to feel pushy, but a little something would be appreciated ^^
Even "No it's not currently possible and no ETA as of now" is fine

[2021-12-20 18:02] lidizheng commented on #28387
According to the error details, it seems you own a Macbook with M1 chip, we currently don't have the machine to build binary wheels for them. This error is not Python version specific. On the other hand, you can try to emulate x86 architecture:

[code]

[2021-12-20 21:19] apolcyn opened #28389 "objc ios flake: clang: error: no such file or directory: 'external/com_google_protobuf/src/google/protobuf/compiler/main.cc'"
[code]

https://source.cloud.google.com/results/invocations/a3bfbad1-843b-4ccc-b886-7c34bd96c55b/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-unittests/tests

seen in https://github.com/grpc/grpc/pull/27883

[2021-12-20 21:23] apolcyn opened #28390 "php7_linux_dbg_native MemoryLeakTest.php failure due to memory leak detection"
Looks like this has been happening recently on master branch. Log snippet example:

[code]

https://source.cloud.google.com/results/invocations/700e1759-8bd5-4d60-a6fc-aa803132d3c0/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_php7_linux_dbg_native/tests

[2021-12-20 21:25] apolcyn opened #28391 "Python tests failing to build: AssertionError: /usr/local/lib/python3.8/distutils/core.py"
[code]

https://source.cloud.google.com/results/invocations/0a04a4f3-939e-4240-9828-29e3348e1926/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_python_linux_opt_asyncio/tests

seen in https://github.com/grpc/grpc/pull/27883

[2021-12-20 22:53] lidizheng commented on #28391
This is also tracked as  b/211487922.

[2021-12-21 07:08] JohannesMaier commented on #28331
I have found the solution for my Problem: On serverside the System.Buffers.dll was missing. After copying it to the server, everything worked fine. Kinda weird that the client runs into an error when the server is missing dependencies.

[2021-12-21 10:57] denrenchen commented on #23238
server_->Shutdown();
cq_->Shutdown();  // Always *after* the associated server's Shutdown()!
// Drain the cq_ that was created
void* ignored_tag;
bool ignored_ok;
while (cq_->Next(&ignored_tag, &ignored_ok)) { }

[2021-12-21 13:38] Hughen opened #28394 "asyncio streaming will be coredump"
### What version of gRPC and what language are you using?
`1.43.0`

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough info

[2021-12-21 17:31] peterhirn commented on #21446
I've been using `mcr.microsoft.com/dotnet/aspnet:6.0.1-bullseye-slim` as suggested by @rmclemente but now found an even slimmer alternative: distroless [CBL-Mariner](https://github.com/microsoft/CBL-Mariner).

The docker tag is not exposed on the official [dockerhub](https://hub.docker.com/_/microsoft-dotnet-aspnet/) page but is listed under [all available tags](https://mcr.microsoft.com/v2/dotnet

[2021-12-21 20:27] #28391 closed

[2021-12-22 00:10] gnossen commented on #28026
@jtattermusch I'm not sure why you're encountering this error. We have several users who have been running in environments without Python 2 for over a year using this env var.

[2021-12-22 05:17] shubhamxshup commented on #28331
@JohannesMaier Not working for me, still trying to resolve this issue.

[2021-12-22 08:35] daixiang0 commented on #28330
@yashykt could you help take a look?

[2021-12-22 14:20] ojroques opened #28402 "OpenSSL and gRPC conflict during key allocation"
### What version of gRPC and what language are you using?
gRPC version: **v1.43.0**
Language: **C++ 17**

### What operating system (Linux, Windows,...) and version?
Operating System: **Ubuntu 20.04.3**

### What runtime / compiler are you using (e.g. python version or version of gcc)
**cmake 3.16.3**, **g++ 9.3.0**

### What did you do?
I'm building an application that uses gRPC and OpenSSL 1.1.1

[2021-12-22 14:53] topsterde opened #28403 "C# ConnectAsync is randomly very slow (native resolver on Windows is slow to resolve non-existent "local" DNS names)."
### What version of gRPC and what language are you using?
2.42.0 C#

### What operating system (Linux, Windows,...) and version?
Windows 10 21H2

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2017 -  2022

### What did you do?
I have created an application that makes one valid connection and several invalid connections (not available host names).
D

[2021-12-22 19:55] dennycd opened #28404 "grpc_basictests_ruby presubmit test flake"
As seen in
* https://source.cloud.google.com/results/invocations/b15af7c6-79f0-4882-ad5e-dd8b31c115d0/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basictests_ruby/log

[code]

[2021-12-22 20:02] dennycd opened #28405 "python distribution test prod failure since yesterday"
* <https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_distribtests_python>

As seen in samples

* <https://source.cloud.google.com/results/invocations/0de9ea3a-acbf-4f1b-9251-029782690da1/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_distribtests_python/log>

[2021-12-22 21:29] lidizheng commented on #28405
I proposed one fix in https://github.com/grpc/grpc/pull/28397, but it has an unwanted side-effect.

[2021-12-23 00:08] lidizheng opened #28409 "[Python][build] undefined reference to __wrap_memcpy"
Previous investigations: https://github.com/grpc/grpc/issues/22645 #24028 b/211487922

Previous fix attempts: #23385 https://github.com/grpc/grpc/pull/28397

#### Why we need this hack?
- The gcc-regression-on-memcpy: https://www.win.tue.nl/~aeb/linux/misc/gcc-semibug.html

#### Why can't we remove the hack?

- https://github.com/grpc/grpc/issues/22645#issuecomment-614910135

#### Why this is a pr

[2021-12-23 00:12] lidizheng commented on #28409
Using `docker.io/grpctesting/python_stretch_default_x64:6d136e8410a6c8bd851b9aa930c5389989739af2`, I'm able to reproduce this error with Python3.7, but the compilation succeed with Python3.8.

Quite strangely, only the compilation inside our "Python distribution test" is failing, but compilation in "Linux artifact building" job is fine. I will look into the differences.

[2021-12-23 01:58] m-yukio opened #28412 "C# Unity on mac: macOS library's suffix replaces .bundle when copying"
### What version of gRPC and what language are you using?
A gRPC from the master branch for Unity.

### What operating system (Linux, Windows,...) and version?
macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Unity 2020.3.23.f1
Target Platform: macOS
Scripting Backend: IL2CPP
Api Compativbility Level: .NET 4.x

### What did you do?
I got an error in the macO

[2021-12-23 07:27] byhang opened #28413 "Segmentation fault occurred, stream service"
https://github.com/grpc/grpc/blob/7d8c9ae890c96abd959aae4e0c3191fa9eb0472b/include/grpcpp/impl/codegen/proto_utils.h#L54

Dear,
I want to wirte a stream service, but segmentation fault occurred when return, Is there any problem with me writing like this?

**.proto**
`rpc func(Request) returns (stream Response) {};`

**.cpp**
[code]

[2021-12-23 15:42] ejona86 commented on #27995
Looking at objdump, this looks to be similar to grpc/grpc-java#8751. It appears __strdup isn't available and the linker doesn't produce a clean error.

[code]

If you read through that issue though, I'd have expected Alpine 3.13 to resolve the problem. Poking at the image, things look right. I suspect the issue is that the grpc_c.so's linker isn't being used and ruby itself is using the musl linke

[2021-12-23 16:35] michaelschmitz commented on #28271
@flavorjones Really appreciate your advice!

For now - because I just needed to solve one operational issue that was blocking a team - I simply wrote my test code and pushed it to an Heroku instance where I could then play with the remote console to fine tune my results, unblock the team and move to the next operational task.

[2021-12-23 18:18] #28409 closed

[2021-12-23 18:22] lidizheng commented on #28405
Fixed by https://github.com/grpc/grpc/pull/28410

[2021-12-23 18:22] #28405 closed

[2021-12-23 18:58] apolcyn opened #28414 "Tentative universal-darwin gems on 1.43.x branch are missing native libraries"
The build on the 1.43.x branch is currently broken such that the shared libraries in universal-darwin packages are missing.

E.g. there are no files like `src/ruby/lib/grpc/3.0/grpc_c.bundle` in the gems.

This is blocking release of 1.43.0 which could otherwise re-instate the universal-darwin target to alleviate https://github.com/grpc/grpc/issues/28271.

cc @dazuma

[2021-12-23 19:26] apolcyn commented on #28414
This is also happening on master branch artifact builds e.g. it's happening on the build from this morning

[2021-12-24 01:24] RyoKawabata0 opened #28429 "Memory leaks happen when reconnecting in gRPC c++"
Windows, visual studio2017, C++, gRPC-1.40.0

The code is based on hello world, and the following process is added.

1. Input "x", the application will be terminated and the Protocol Buffers will be released.
2. Input something other than "x", create a channel and throw a request to the server.

Depending on the number of times enter other than "x", the amount of unreleased memory detected at the

[2021-12-24 10:12] jtattermusch opened #28430 "python-dev distribtests failure"
https://source.cloud.google.com/results/invocations/0b28385d-a717-4465-a749-8ebdae6785e5/targets/github%2Fgrpc%2Fdistribtests/tests

[code]

[2021-12-25 19:40] rodrigoreis opened #28431 "C#: Generate client interface"
As the question in issue [#20373](https://github.com/grpc/grpc/issues/20373) was closed, I saw no other way to follow the evolution than to open another issue.

Do you have any prediction on the adoption of "**default implementation for interfaces**" for the generator evolution?

[2021-12-26 02:11] yashykt commented on #27895
The tests use the function `grpc_pick_unused_port_or_die()` to find an unused port. You would want to replace this with the specific port that you want.

[2021-12-27 07:22] m-yukio opened #28433 "Not compatible with Apple Silicon"
Not compatible with Apple Silicon .
For example, Apple Silicon does not exist in the definition below.

# grpc/src/python/grpcio/grpc_core_dependencies.py:

[code]

# grpc/setup.py:

[code]

Maybe AARCH64 or arm64 or arm64e.

[2021-12-27 07:43] atokarev opened #28434 "Deadline not work properly for client with communication via stream"
### What version of gRPC and what language are you using?
1.26.0

### What operating system (Linux, Windows,...) and version?
Windows 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019

### What did you do?
Sample client\server applications with communication via stream.
1. Deadline configuration on client side (10 sec):
set deadline for context

[2021-12-27 15:17] muhammadbilal20130 commented on #28433
...

[2021-12-28 00:51] teamzz111 commented on #28433
Same here

`
"Error loading native library. Not found in any of the possible locations: /Users/andreslargo/Develop/Chamba/chamba-business/Chamba-Business-Feed/bin/Debug/net6.0/libgrpc_csharp_ext.arm64.dylib,/Users/andreslargo/Develop/Chamba/chamba-business/Chamba-Business-Feed/bin/Debug/net6.0/
`

`
	StackTrace	"   at Grpc.Core.Internal.UnmanagedLibrary.FirstValidLibraryPath(String[] libraryPathAl

[2021-12-28 06:58] m-yukio commented on #28433
I didn't know where to add Apple Silicon support, is it here?

# grpc/bazel/grpc_build_system.bzl

[code]

[2021-12-28 07:04] #28413 closed

[2021-12-28 12:29] pspgit commented on #25522
I'm having same issue, trying to build IL2CPP for MacOs in Unity.

Have someone managed to fix it?

`Building Library/Bee/artifacts/MacStandalonePlayerBuildProgram/4g2s2/GameAssembly.dylib failed with output:
ld: warning: object file (/Applications/Unity/Hub/Editor/2021.2.7f1/Unity.app/Contents/PlaybackEngines/MacStandaloneSupport/baselib.a(Baselib_PlatformConfig_OSX_ih1lw.o)) was built for newer

[2021-12-28 12:36] pspgit commented on #28412
@m-yukio
I'm also having issue, building il2cpp on MacOS.
Full error is here:
https://github.com/grpc/grpc/issues/25522#issuecomment-1002075078

Did you find a way to workaround/fix it?

[2021-12-28 17:23] JMurph2015 commented on #9316
@liufuyang

There are some other internal blockers about how Rust is used in general at Google as far as I understand.  So until that is sorted, committing to a particular implementation of gRPC in Rust is complicated because when it is upstreamed it becomes the gRPC project's responsibility.  A toy example is that the Google-standard linting for Rust might not be finalized, so while they would wa

[2021-12-28 17:54] apolcyn opened #28437 "macos TIMEOUT: cmake/build/test_cpp_client_credentials_test --gtest_filter=CredentialsTest.TlsChannelCredentialsWithAsyncExternalVerifier"
[code]

https://source.cloud.google.com/results/invocations/edfbcb11-fb89-47b8-96fb-e29a5e8f4517/log

seen in https://github.com/grpc/grpc/pull/28415

[2021-12-28 18:05] lidizheng commented on #28430
Fixed by https://github.com/grpc/grpc/issues/28409.

[2021-12-28 18:05] #28430 closed

[2021-12-28 18:16] #28026 closed

[2021-12-28 19:16] doctorpangloss commented on #28271
`abseil-cpp` needs to be patched to resolve these issues easily. Then use `lipo` to merge the two architectures together.

[2021-12-29 00:13] m-yukio commented on #28412
@pspgit
I haven't solved it yet.
Considering security, I think IL2CPP is appropriate instead of mono build, so I am investigating the cause.

[2021-12-29 06:20] apolcyn commented on #13727
Seen on 1.42.x branch in:

https://source.cloud.google.com/results/invocations/1623802c-f643-4779-b951-e1faca3f67d9/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_c_cpp/log

https://source.cloud.google.com/results/invocations/d4efd5ab-a394-49de-88d9-03a642f012c8/targets/%2F%2Ftest%2Fcore%2Fend2end:dualstack_socket_test/log

From PR: https://github.com/grpc/grpc/pull/28438

[2021-12-29 19:30] lidizheng opened #28447 "[FLAKE] tools/buildgen/generate_projects.sh missing _python2"
https://source.cloud.google.com/results/invocations/6665425c-c1b5-40aa-afe4-fff5537a2b12/targets

[2021-12-29 20:38] joaogui1 opened #28449 "Can't install on Apple Silicon"
Hi! I'm trying to install `grpcio` on an Macbook pro (14-inch, Monterey, M1 Max), but I seem to consistently get the following error:
[code]
I have installed Google's JAX, which is a moderately complex package, with no problem, so I don't think the python installation is corrupted.
I have also tried the solutions on stackoverflow that add `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1 GRPC_PYTHON_BUILD_SYSTE

[2021-12-29 21:28] nflux-pyang commented on #27817
How did you solve it, I got the same problem

[2021-12-29 22:05] #28447 closed

[2022-01-01 11:35] jtattermusch commented on #13727
I think we might need to backport https://github.com/grpc/grpc/pull/28343.

[2022-01-01 19:39] MustafaHaddara commented on #25993
FYI [the workaround](https://github.com/grpc/grpc/issues/24677#issuecomment-728721822) described in that thread worked for me:

[code]

[2022-01-02 21:52] ankane commented on #6164
fwiw, it looks like there was a PR for this that was closed as stale without being reviewed: https://github.com/grpc/grpc/pull/24051

In the meantime, you can use:

[code]

[2022-01-03 04:36] benesch commented on #28387
Actually, it is. I similarly am able to install `grpcio` on Python 3.9 but not on Python 3.10, just like the issue reporter.

I agree that you wouldn't _expect_ this to depend on the Python version, and indeed that gives us a clue as to what the problem is. On Python 3.9, `pip install grpcio` builds from source (and succeeds), while on Python 3.10, `pip install grpcio` downloads a precompiled whee

[2022-01-03 08:39] jtattermusch commented on #25862
You seem to be mistaken.

I checked the Grpc.Core 2.42.0 nuget manually:
- the size of the nuget is 14.94MB as reported in https://www.nuget.org/packages/Grpc.Core/2.42.0 (and there seems to be no significant size increase since the previous version).
- the libgrpc_csharp_ext.x64.so is ~ 6MB

[2022-01-03 11:58] jtattermusch commented on #25289
This isn't necessarily a bug in c-ares itself, in fact it might be the grpc code making wrong assumptions about c-ares behavior (which leads to a bug).

[2022-01-03 15:37] ipochi opened #28459 "Hypotheses: Client re-creating connections even after receiving a GOAWAY"
### What version of gRPC and what language are you using?
v1.42.0

### What operating system (Linux, Windows,...) and version?
Linux

As seen and resolved in #19969 I have a feeling that in our setup despite the server sending a GOAWAY, the client is re-creating the connection.

The client in my scenario is Kubernetes API Server and the grpc server is a proxy server (runs as a pod on the control p

[2022-01-03 18:25] SumanthDatta-Kony commented on #27682
Seeing  the similar issue on version1.43.0 . Currently running with python 3.7.9. So basically creating gRPC server with python you will run into this issue.

[2022-01-03 18:58] davissclark commented on #28387
Super annoying.

[2022-01-03 22:41] mwtian commented on #22508
Also seeing the same error, with python 3.7 & grpcio 1.42.0.

[2022-01-04 05:29] srvRoy commented on #27506
I faced the same issue while importing the "google-ads" package. It internally uses `cygrpc.cpython-310-darwin.so`

pip install google-ads
import -> from google.ads.googleads.client import GoogleAdsClient
While building the project i see -

[code]

For reference -

[code]

grpcio version
[code]

I am using M1 chip macbook air.

Any workaround for this issue?

[2022-01-04 06:51] philipag commented on #25862
I don't know how this happened, but I am no longer using this library in this project so I cannot check it.  If I see this again I will report back with more details.

[2022-01-04 09:28] dixitsatyam opened #28463 "error: no matching function for call to ‘StrFormat(const char [22], const char*, char [64], int32_t&, long int&, const char*&, int&)’"
### What version of gRPC and what language are you using?
gRPC version : v1.38.0
Language : C++

### What operating system (Linux, Windows,...) and version?
OS: CentOS Linux 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
compiler : gcc (GCC) 5.4.0

### What did you do?
currently i'm using v1.28.1 gRPC version , but now i want to upgrade to the latest.
So i fol

[2022-01-04 10:22] ojroques commented on #28402
Solved by passing `gRPC_SSL_PROVIDER=package` to CMake when building gRPC from source. This forces gRPC to use pre-installed OpenSSL instead of BoringSSL.

[2022-01-04 10:22] #28402 closed

[2022-01-04 10:35] raarts commented on #25289
I understand, but I was just wondering if someone talked to the c_ares group about respecting STAYOPEN in handle_error.

[2022-01-04 17:57] lidizheng commented on #28387
Thanks for the report. We are using the same build process for macOS wheels right now. And we uses `auditwheel` to make sure we are labelling the wheels correctly. It seems this tagging behavior is changed upstream for 3.10.

We might need some volunteer here to investigate why `setuptools` or `auditwheel` is tagging the wheel as `universal2`.

[2022-01-04 18:05] lidizheng commented on #22508
There are many probable causes for `Bad file descriptor`. We might need a reproduce snippet to investigate. Can someone provide one with the latest gRPC release?

[2022-01-04 18:17] mwtian commented on #22508
So far we have only observed this occasionally in a large cluster. Will try to see if it can be reproduced reliably. One question about `grpc_client_channel_backup_poll_interval_ms`, what is the downside of disabling backup polling, e.g. is it higher tail latency?

[2022-01-04 18:19] lidizheng commented on #22508
CC @yashykt who might have the best knowledge about pollers.

[2022-01-04 18:24] lidizheng commented on #27506
Sorry about this. There seems to be an upstream change to 3.10 tool chain. https://github.com/grpc/grpc/issues/28387

For an immediate solution, Python 3.9 should free of this problem.

[2022-01-04 18:37] ctiller commented on #20049
Disabled tests have not been removed.

[2022-01-04 19:10] benesch commented on #28387
Doesn't auditwheel only work for Linux?

[2022-01-04 19:39] lidizheng commented on #28387
Whoops, yep, I was wrong about the `auditwheel` part. It's intended for manylinux: https://github.com/grpc/grpc/blob/7cfd399dd6f405929da89b3d8124e204b4891513/tools/run_tests/artifacts/artifact_targets.py#L150

[2022-01-04 21:15] yashykt opened #28468 "XdsClient: Multiple watchers on the same resource"
Noticed through flakiness in the recently introduced XdsRbacTest suite.

https://source.cloud.google.com/results/invocations/c4261ea1-e132-49c2-bf67-dd739abf8c9e/targets/%2F%2Ftest%2Fcpp%2Fend2end%2Fxds:xds_end2end_test@poller%3Depoll1/tests

When there are multiple watchers for the same resource on an XdsClient object, cancellation of one of the watchers leads to unsubscription for the resource.

[2022-01-04 22:28] mvollrath opened #28470 "gRPC Python bazel rules collide with Cython bazel rules"
### What version of gRPC and what language are you using?

1.29.0, Python

### What operating system (Linux, Windows,...) and version?

Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.8.10

### What did you do?

Added Cython's rules to my workspace alongside gRPC.

For example, in WORKSPACE:

[code]

And in a BUILD:

[code]

### What did yo

[2022-01-04 22:30] nicolasnoble commented on #28470
This version of grpc is pretty old at this point, is the problem still present in more recent versions of the library?

[2022-01-04 22:39] lidizheng commented on #28470
@mvollrath Technically, gRPC's Cython Bazel  rule is a thin wrap over Cython's. We replaced their BUILD file. You can read the actual code here: https://github.com/grpc/grpc/blob/master/third_party/cython.BUILD

The error:

It sounds like the BUILD file is not replaced properly. Have you tried to run `grpc_python_deps` before other initialization step?

Also, can you try to upgrade gRPC to newer v

[2022-01-04 22:41] lidizheng commented on #28470
Contributions are welcomed! If you can help to resolve the gap between our BUILD file and theirs, I'm happy to review.

[2022-01-04 22:47] mvollrath commented on #28470
Yes, this is the BUILD which is missing targets.

Changing the order creates a different error, because the expected target does not exist:

[code]

I can see that gRPC's Cython dep wrapping has not changed since 1.29.0.

[2022-01-04 22:55] lidizheng commented on #28470
This is a bit tricky. It seems your project need to use Cython's BUILD rule directly, which will be unhappy if the BUILD file is replaced by us. For an immediate solution, maybe the build can proceed with shadowing the Cython dependency. For the long term solution, we do need to resolve the gap.

[2022-01-04 23:35] yashykt commented on #22508
@drfloob @nicolasnoble are the ones who are actively working in this space at the moment and might have the best answer here.

[2022-01-05 09:07] JeroenBos commented on #9538
I got this error even though I was providing certificates on both client and server side, but I used `location="grpc://{host}:{port}"` instead of `grpc+tls://{host}:{port}`.

[2022-01-05 10:25] codeliuer opened #28471 "grpc_error_string segment error"
[code]
The server-side stack prints as above

The client sends a request (heartbeat) to the server every 5s, the server receives it successfully the first time and returns it, the error occurs the second time the heartbeat request is received, and it is bound to happen

Question: What is the cause of this problem and how to solve it off ？

[2022-01-05 10:54] j-manu commented on #26391
@flavorjones raker-compiler-dock 1.2.0 has been released https://github.com/rake-compiler/rake-compiler-dock/issues/58#issuecomment-1005510139

[2022-01-05 16:10] Schramp opened #28472 "Netty/http2_transport block, gRPC python behaves differently from WINE Python vs Linux Python"
Client: Java 1.43.1
Server: WINE + Python3.9 / grpc 1.43.0

Using gRPC in Python3.9 on WINE (https://www.winehq.org/) leads to stalled connection.

While comparing Linux Python vs. Wine Python the noticable difference is that Python seems to stop sending because of a TCP Congestion Window thats filled, whereas the Linux python version continues sending.

Could one of the developers please elaborat

[2022-01-05 16:21] eerhardt opened #28473 "C# - Make IAsyncStreamReader MoveNext CancellationToken parameter optional"
### Is your feature request related to a problem? Please describe.
When calling `IAsyncStreamReader<T>.MoveNext`, the `CancellationToken` parameter is required. This leads to awkward code when the caller doesn't care about cancellation:

[code]

Note that the caller needs to pass `default` into `MoveNext`.

### Describe the solution you'd like
Can we change

https://github.com/grpc/grpc/blob/2e3e3

[2022-01-05 17:40] flavorjones commented on #26391
@j-manu Ack. Focusing on getting Nokogiri precompiled with this version of rake-compiler-dock, then will tackle GRPC next.

[2022-01-05 18:16] Schramp commented on #28472
Also something strange happens in the size of the chunks:

D0105 17:42:26.065000000   212 src/core/ext/transport/chttp2/transport/flow_control.cc:117] 00498AE8[5][svr] |   data sent | trw:                32210 -> 15826, tlw:                       4183474, taw:
             4187458, srw:                32498 -> 16114, slw:                       4187521, saw:                       4187521
D0105 17:4

[2022-01-05 18:47] Allen-Webb commented on #25801
I would like to revisit this PR since we rely on a VSOCK patch for Chrome OS and it would be preferable to have it upstream. I am in the process of setting up a windows development environment so I can make sure the patches do not break GRPC on windows.

Additionally, it might be good to discuss the test environment (maybe through chat or email) to figure out an acceptable solution to the testing

[2022-01-06 05:39] dixitsatyam commented on #28463
@jtattermusch can you please help here.

[2022-01-06 08:52] KiranHighNote commented on #27817
I am also having same issue.. How is that fixed?

[2022-01-06 09:06] ipochi commented on #28459
This was implemented in grpc-go via grpc/grpc-go/issues/4298. Closing the issue.

I think I opened the issue in the wrong repo.

[2022-01-06 09:06] #28459 closed

[2022-01-06 09:44] charlietsai opened #28479 "Python setup.py does not reflect correct protobuf package minimum version"
### What version of gRPC and what language are you using?
Python

grpcio==1.43.0
grpcio-health-checking==1.43.0

protobuf==3.8.0

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6

### What did you do?
I installed:
[code]
and attempted to import `from grpc_health.v1 import health`.

### Wh

[2022-01-06 12:47] zakkra opened #28481 "Import proto file was not found when files added as URL service references in Visual Studio"
Added a couple of proto files through "Manage connected services" in VS 2019 (same issue in VS 2022) by using a URL reference to the files.

This added a Protos folder to my project with 2 proto files inside it.
My csproj file also got updated with this section:

[code]

The valuationcriteria.proto contains:

[code]

The project doesn't build with error:
Import "nullabletypes.proto" was not found

[2022-01-06 13:38] KidA001 commented on #28271
Just for anyone else who is looking for a (temporary) solve, downgrading `grcp` to `1.41.1` in my gemfile fixed my issue. I was trying to use the `google-cloud-firestore` gem and it was failing due to the error listed in this issue.

[2022-01-06 14:03] Schramp commented on #28472
Added more analyses in the group:  https://groups.google.com/g/grpc-io/c/-RzRZ867jy0

So the "dispute" for this API probably is, is WSASend on Overlapped IO allowed to send partially and report the lpNumberOfBytesSent < number of bytes in the buffer.

Anyone got a opinion about that?

[2022-01-06 18:14] lidizheng opened #28483 "[FLAKE] Ruby: GemNotFound: Could not find gem 'facter (~> 2.4)'"
[code]

https://source.cloud.google.com/results/invocations/8ebb54cf-fd93-4170-801c-924d33612fdc/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_build_artifacts/log

[2022-01-06 19:13] sxlijin commented on #16680
My workaround for this (which is not the _best_ since it does change allocation semantics) is to simply return a `std::unique_ptr<grpc::ClientContext>` from a factory function instead of using a macro.

[2022-01-07 06:31] m-yukio opened #28488 "Unity IL2CPP build targeting macOS fails"
Unity IL2CPP build targeting macOS fails.

Error wording output to the Unity Editor console.

[code]

Part of Unity's Editor.log.

[code]

It's a shared library, but I'm trying to import it as a static library.

In src/csharp/Grpc.Core/Internal/NativeExtension.cs, the platform is judged as follows.

[code]

In mono build, it doesn't matter because it is judged during operation, but in IL2CPP build

[2022-01-07 07:11] xtfer commented on #24331
Can confirm that Stanley has not yet updated the Google Cloud docs four months later...

[2022-01-07 11:45] hardikmdev opened #28495 "grpc - v1.43 - segmentation fault on "grpc_socket_mutator_mutate_fd""
For an application, I upgraded grpc libraries from v1.36 to 1.43 via source.
After an upgrade, I started getting a `segmentation fault` with following trace.

[code]

I have verified the connections with sockets, which seems to work fine.

Any pointers or references to Track down the problems here and solutions ?!

Version of gRPC and language :   1.43 (issue occurs post 1.39)  C++
OS : Linux Cent

[2022-01-07 14:31] Schramp commented on #28472
https://www.winehq.org/pipermail/wine-devel/2022-January/204155.html

Wine suggests the better place to fix it is at the gRPC WSASend side

[2022-01-07 19:26] brodock commented on #28271
to anyone who needs to get `grpc` working on their development machines, you can temporarily set bundler `platform` to `ruby` which ignores any OS specific pre-built binary and rebuild directly from source:

[code]

[2022-01-07 19:34] brodock commented on #25755
to anyone who needs to get `grpc-tools` working on their development machines, you can temporarily set bundler platform to ruby which ignores any OS specific pre-built binary and rebuild directly from source:

bundle config set force_ruby_platform true

[2022-01-08 13:39] Schramp commented on #28472
Based on https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsasend

it seems that gRPC should handle the this at the sender side.

For non-overlapped sockets, the last two parameters (lpOverlapped, lpCompletionRoutine) are ignored and WSASend adopts the same blocking semantics as send. Data is copied from the buffer(s) into the transport's buffer. If the socket is **non-block

[2022-01-08 17:06] Schramp commented on #28472
Modified tcp_windows.cc to log the results of WSASend, hypothese confirmed. Only partly written buffer.

D0108 17:02:19.508000000   212 src/core/lib/iomgr/tcp_windows.cc:400] BLOCKING WRITE COMPLETED 00493940 (peer=ipv4:10.1.0.1:55322): 110048 of 1048594

[2022-01-09 12:19] Schramp commented on #28472
Hi @ctiller, it seems this part of the code is your field of expertise.

[2022-01-09 17:33] Schramp commented on #27292
I am concerned the fact that the WSABUF buffers[MAX_WSABUF_COUNT] is allocated on the stack is problematic. Could that explain the error reported by @cfandrich ?

https://github.com/grpc/grpc/blob/ea389c00c2c83e0364c5b1cfb73820c0101daa14/src/core/lib/iomgr/tcp_windows.cc#L248

I have similar concers for the WSASend side.

[2022-01-10 05:34] GammaPi opened #28507 "GRPC build fail for version 1.43.0"
### What version of gRPC and what language are you using?

1.43.0, C++

### What operating system (Linux, Windows,...) and version?

Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 9.3.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not en

[2022-01-10 05:55] GammaPi commented on #28507
The problem seems to caused by a legacy findxxx.cmake I downloaded from the internet.

[2022-01-10 05:55] #28507 closed

[2022-01-10 10:18] ag-303 opened #28509 "symbol not found in flat namespace '_gpr_asprintf'"
### What version of gRPC and what language are you using?
GRPC 1.42.0

### What operating system (Linux, Windows,...) and version?
Mac OS (Monterey) - M1 chip

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]
### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’

[2022-01-10 11:27] nhs000 commented on #25082
This works for me (M1 Air)

[code]

And change the default CC to clang inorder to fix `gcc: error: unrecognized command-line option '-stdlib=libc++'` error
[code]

[2022-01-10 17:39] awall opened #28512 "grpc-tools does not include binaries for arm64 on macOS"
### What version of gRPC and what language are you using?

1.42.0

### What operating system (Linux, Windows,...) and version?

macOS arm64. The new M1s running on "apple silicon".

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

After installing the grpc-tools gem, I attempted to run the `grpc_tools_ruby_protoc` script.

### What did y

[2022-01-10 17:53] awall commented on #28512
It looks like [this issue](https://github.com/grpc/grpc/pull/25992) added support for arm64 on macOS, but the `grpc-tools` gem was forgotten.

[2022-01-10 18:15] GuanLuo opened #28513 "Python GRPC Memory Leak"
### What version of gRPC and what language are you using?
1.43.0 / Python

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
3.8.10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough info

[2022-01-11 00:14] drfloob commented on #28495
This one smells a bit odd. Does it fail that way every time you run it, or occasionally (maybe with other errors)? One hypothesis: `grpc_socket_mutator_mutate_fd` had an API change in 1.39, so I'm wondering if you're building the application against 1.43 headers but linking against an older library. Otherwise, it would help to see a minrepro, and to see how you're building gRPC and the application

[2022-01-11 00:21] drfloob commented on #28481
This sounds like an IDE problem with proto paths, I don't see how gRPC is directly involved. A quick googling revealed some similar-sounding issues, with potential solutions: https://stackoverflow.com/a/59411655/10161

[2022-01-11 00:21] #28481 closed

[2022-01-11 08:32] Schramp opened #28524 "Handle partial transmits in WSASend (Compatibility with WINE)."
### What version of gRPC and what language are you using?

Python 3.9, Latest (For testing)

commit 10b2b50569a2abc7534fbc57692907e09ec306a3 (schramp/master, origin/master, origin/HEAD, master)
Date:   Fri Jan 7 13:04:21 2022 -0800

### What operating system (Linux, Windows,...) and version?

Windows . (WINE emulation on Linux)

### What runtime / compiler are you using (e.g. python version or ver

[2022-01-11 08:48] Schramp commented on #28472
Recreated as bug, closing as this is now a duplicate

[2022-01-11 08:48] #28472 closed

[2022-01-11 10:16] kiskesis commented on #25755
Any updates? Still see that issue
`node-pre-gyp ERR! stack Error: 404 status code downloading tarball https://node-precompiled-binaries.grpc.io/grpc-tools/v1.8.0/darwin-arm64.tar.gz
`

[2022-01-11 10:25] esrrhs opened #28525 "run examples/cpp/route_guide/route_guide_client core"
### What version of gRPC and what language are you using?
v1.42.0  cpp

### What operating system (Linux, Windows,...) and version?
Linux VM-74-112-centos 3.10.107-1-tlinux2_kvm_guest-0049 #1 SMP Tue Jul 30 23:46:29 CST 2019 x86_64 x86_64 x86_64 GNU/Linu

### What runtime / compiler are you using (e.g. python version or version of gcc)
# gcc -v
使用内建 specs。
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/

[2022-01-11 10:27] esrrhs commented on #28525
I see, the reason is load route_guide_db.json fail.

[2022-01-11 10:27] #28525 closed

[2022-01-11 12:29] ag-303 commented on #28509
i tried to take a look at the symbol table of the compiled library. maybe a compile option does not work or missed for arm64?
[compare two symbol tables](https://i.ibb.co/0qMnQnx/Screenshot-2022-01-11-at-13-22-07.png)

[2022-01-11 12:30] #25194 closed

[2022-01-11 15:02] brodock commented on #25755
@kiskesis this is specific to ruby gem, I'm sure other language will also have the problem, but please find/open a different issue

[2022-01-11 15:42] tomes92 commented on #28153
Hi, is there by any chance an update on this?

[2022-01-11 16:49] apolcyn commented on #28483
fixed by https://github.com/grpc/grpc/pull/28522

[2022-01-11 16:49] #28483 closed

[2022-01-11 19:01] hq6 opened #28529 "Request to make ProtoReflectinoDescriptorDatabase part of the gRPC library."
The [ProtoReflectinoDescriptorDatabase](https://github.com/grpc/grpc/blob/master/test/cpp/util/proto_reflection_descriptor_database.cc) seems like a useful tool for CPP clients using server reflection.

Unfortunately, the header does not appear to be part of the standard include paths, and the object file is not included in any of the libraries as far as I can tell. As far as I can tell, the only

[2022-01-11 20:22] pjthepooh opened #28533 "Latency increase starting 1.31.0"
### What version of gRPC and what language are you using?
gRPC version: 1.41.0
language: Python

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.5 (GCC 7.5.0)

### What did you do?
We were on gPRC version 1.29.0 and things worked fine with the p95 latency of the interested endpo

[2022-01-11 23:29] mlankamp commented on #20729
Any updates about this feature?

[2022-01-12 02:58] esrrhs opened #28536 "gcc 4.8.5 build fail"
### What version of gRPC and what language are you using?
v1.42.0

### What operating system (Linux, Windows,...) and version?
[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information

[2022-01-12 09:29] Ronghefeng commented on #28323
How do you solve this problem? I have the same problem @fainle

my code:

[code]
error:
![image](https://user-images.githubusercontent.com/42339196/149104556-96e34dc3-a836-41d6-afc6-dbb6c0876adc.png)

[2022-01-12 11:20] CarlosNano commented on #28296
(Sorry to ask here, I could not find a way to ask privately)
@Jack-256 after seeing your comment:

I'm trying to find a way to run a grpc++ server in iOS. Any advise where I can I find some help to do so?

[2022-01-12 14:02] Jack-256 commented on #28296
@CarlosNano  get the ios.toolchain.cmake in https://github.com/leetal/ios-cmake, download the source code of grpc, and then run the cmake command given at the beginning. you can remove the options for openssl for using the default ssl module

[2022-01-12 14:10] kuntoaji commented on #24846
`grpc` version 1.42.0 works with Ruby 2.7.5 on my M1 Macbook Pro, but it does not work for Ruby version 2.7.1.

[2022-01-12 14:24] kuntoaji commented on #28509
It seems you need to upgrade your Ruby version. I use Ruby 2.7.1 and get same the same error on my M1 Mac. I upgrade Ruby to version 2.7.5 and it works fine now.

[2022-01-12 17:50] drfloob commented on #28536
The build requires gcc 4.9+. See https://github.com/grpc/grpc/blob/master/src/cpp/README.md. Upgrading gcc should fix this problem.

[2022-01-12 19:06] jtattermusch commented on #28533
CC @jtattermusch

[2022-01-12 19:21] drfloob commented on #28529
This may be a tough request. gRPC maintains strong commitments to public API stability, and this utility has had its API signatures change a few times (albeit slightly) in the past few years. The server reflection tutorial has some conflicting recommendations about using this code, so I'm not sure if there's a history here of it being public in the past. @markdroth are you familiar with the server

[2022-01-12 19:41] #28468 closed

[2022-01-12 20:31] psydok opened #28545 "How to add rest api in python using google.api.http?"
How to implement grpc-gateway on rest api in python?

[code]
What should be added here?
[code]

[2022-01-13 00:55] esrrhs commented on #28536
ok, thanks

[2022-01-13 03:15] brianzhang2101 opened #28550 "Error When Returning Pointer to ClientReader"(prior > 0), function RefNonZero, file ref_counted.h""
### What version of gRPC and what language are you using?
GRPC - v1.43.0 and C++

### What operating system (Linux, Windows,...) and version?
macOS Monterey v12.0.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
C++20
Apple clang version 13.0.0 (clang-1300.0.29.3)

### What did you do?
Inside my client file, I have a function to return a pointer with a response

[2022-01-13 05:56] bankbiz commented on #25275
I had a same issue for running [this tutorial](https://github.com/grpc/grpc/tree/master/examples/python/multiprocessing) with Docker way.

I figure out from [this article](https://iximiuz.com/en/posts/multiple-containers-same-port-reverse-proxy/)

`SO_REUSEPORT` option works only if all the sockets reside in the same network stack. And that's obviously not the case for the default Docker approach,

[2022-01-13 07:29] rochaudhari opened #28551 "Stream is closed for idle connection"
I have bidirectional streaming rpc between server and client. If data is not exchanged over the stream, after certain time, on the server, it seems that stream is disconnected or stream-Read() returns false.

Currently I am not using keepalive flags for the channel on server and client.
There is a flag:
GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS
: This channel argument if set to 1 (0 : false; 1 : tru

[2022-01-13 07:52] Falco20019 commented on #20729
@mlankamp I did give https://github.com/protocolbuffers/protobuf/issues/6632 another visit today to see, if we are getting warnings (now with nullability being the default in the templates for .NET 6). I'm also patiently waiting for this to happen at some point. But until the aforementioned issue on the ProtoBuf repo is not addressed, there is nothing that we can do support it on the `Grpc.Tools`

[2022-01-13 07:53] allenporter commented on #27512
I was able to get an armv7 alpine wheel built for home assistant  (codified here  https://github.com/allenporter/wheels-grpc)

However, that wheel doesn't work on a plain Alpine install either and fails with the same error as the wheel built from grpc source. I think the hole assistant is building python from source and may be patching it in some way.
However my immediate user need is solved for t

[2022-01-13 09:43] ag-303 commented on #28509
it worked. thank you @kuntoaji

[2022-01-13 11:20] CarlosNano commented on #28296
@Jack-256 thanks for the help.

Yeah, I'm finding some problems with ssl, how can use the default ssl module?

Thanks

[2022-01-13 14:07] CarlosNano commented on #21931
It doesn't seem to work for me either:

[code]

[2022-01-13 18:32] drfloob commented on #28545
The "new issue" form asks users not to post questions as Github issues. Please follow the instructions and use the channels mentioned below to ask questions. For reference, here is the default message that appears when you create a new issue:

[2022-01-13 18:32] #28545 closed

[2022-01-13 19:01] drfloob commented on #28550
Can you try building and running it under ASAN? My first instinct is to look for objects that have different lifetimes, such as maybe `stub_` here, or the helper function's local variables.

[2022-01-13 22:11] paulb777 opened #28555 "The gRPC CocoaPods uncached installation can take several minutes"
### What version of gRPC and what language are you using?
1.28.2 Swift

### What operating system (Linux, Windows,...) and version?
Apple

### What runtime / compiler are you using (e.g. python version or version of gcc)
n/a

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informatio

[2022-01-14 00:03] spikecurtis opened #28557 "Python TSI_DATA_CORRUPTED after Popen()"
### What version of gRPC and what language are you using?
Python 3.8.10
grpcio 1.43.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.10 (default, Nov 26 2021, 20:14:08)
[GCC 9.3.0] on linux

### What did you do?
When I use a gRPC client to make rpc calls immediately after a call

[2022-01-14 13:50] CarlosNano commented on #28296
Thanks @Jack-256

[2022-01-14 17:12] spikecurtis commented on #28557
This comment on a previous issue also mentions TSI_DATA_CORRUPTED, multi-processing, and Python FYI https://github.com/grpc/grpc/issues/23144#issuecomment-645552821

[2022-01-14 18:02] drfloob commented on #28524
Thanks for the investigation, and apologies for the lack of responses. You are working in an area that requires a cross-section of expertise that nobody on the team has at the moment ... we don't build or test gRPC in WINE. I see that you called out a few issues in your PR, we'd be happy to review it when you think it's ready if there are no ill effects on Windows. Otherwise, I'd recommend using L

[2022-01-14 18:04] lidizheng commented on #28557
The existing fork support document didn't mention that "Fork support is only compatible with the epoll1 and poll polling strategies", so the application needs to specify `GRPC_POLL_STRATEGY=poll`.

On the other hand, if possible, consider use the after-fork pattern, that only create gRPC objects after the fork of processes. Richard has done a great example about this: https://github.com/grpc/grpc/

[2022-01-14 18:12] spikecurtis commented on #28557
I see the log `Using polling engine: epollex` in my tests.  Are you saying this is incompatible with fork support?

If so, then why oh why is that only logged at info level?

[2022-01-14 19:56] gabriel-viviani commented on #28387
I'm running on the same problem from using mac air m1 and I've tried multiple python versions, including isolating python with miniconda.
Although when I try to use older versions (3.9.9) to install grpcio I only can see:
![image](https://user-images.githubusercontent.com/19916771/149577131-80ee6d79-723f-4cae-bf9c-32ded07d905f.png)

[2022-01-14 20:11] lidizheng commented on #28387
The log suggests that pyenv picked Python 3.10.1.

[2022-01-14 20:46] rushilsrivastava commented on #26620
Would love to see this as well, following #28092

[2022-01-14 22:46] amitsaha commented on #28387
I am happy to do the investigation i will post some notes when i get started.

[2022-01-15 11:11] Schramp commented on #28524
Thanks @drfloob, I am happy to improve the PR. But I don't want to invest time, if there is no willingness from the community to read and comment on the direction of the PR.

I would first discuss with "someone" on what I think is a bug that is made visible by using WINE, may actually be a bug that also exists in Windows but is rarer there.

I suspect actual multiple bugs, this PR addresses only t

[2022-01-15 15:06] babugeet opened #28586 "Server side streaming server is not responding to muliple clients"
I have created a server side streaming grpc server.
im using grpcurl to open multiple client connection to this server. But the response is coming to the first connection grpcurl connection.
The second and third connection is getting established but the output is not streaming from the server

My requirement:
-> to notify multiple clients when a file in the server is modified.
-> im trying to cat

[2022-01-16 03:02] amitsaha commented on #28387
@lidizheng if you could point me to the instructions to build and tag the wheel and hence investigate it on M1, i might be able to give you the information you are looking for.

[2022-01-16 07:28] causimmi opened #28588 "I meet some troubles when build the tags/v1.3.2"
the protobuf is 3.2.0，and grpc is 1.3.2 I don’t know how to fix it

[2022-01-16 07:31] causimmi commented on #28588
I use the command as follows:
[code]

[2022-01-16 10:05] lukelove commented on #28271
thank you @brodock 🙏

[2022-01-16 18:18] lucianokrebs commented on #28271
@brodock's suggestion did not work for me. Instead, what did the trick for me was adding this into my `Gemfile`:

[code]

Considerations:
- I'm only using it for development.
- `ruby -e 'puts Gem::Platform.local'` returns `x86_64-darwin-20` for me
- I'm not using an M1 MacBook pro

[2022-01-17 02:43] zhucan commented on #22846
Next steps is?

[2022-01-17 06:19] daixiang0 commented on #28330
@lidizheng could you help take a look?

[2022-01-17 06:44] dixitsatyam commented on #28463
this is resolved when i upgrade my gcc version to 9.3.0

[2022-01-17 06:44] #28463 closed

[2022-01-17 10:04] Sapana-Khemkar opened #28591 "gRPC Ruby build failed"
### What version of gRPC and what language are you using?
gRPC version v1.42.0
Language Ruby

### What operating system (Linux, Windows,...) and version?
NAME="Red Hat Enterprise Linux"
VERSION="8.5 (Ootpa)"

### What runtime / compiler are you using (e.g. python version or version of gcc)
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [powerpc64le-linux]
Bundler version 2.3.5
gcc version 8.5.0 2

[2022-01-17 10:32] Janneman84 opened #28592 "Warning: umbrella header for module 'grpc' does not include header... (x6)"
For my iOS app I'm using this package through !ProtoCompiler-gRPCPlugin, currently at 1.43.0. For the last couple of versions Xcode's been showing a few warnings regarding umbrella headers. Everything seems to function fine though. Any way to get rid of these warnings?

<img width="422" alt="Schermafbeelding 2022-01-14 om 14 12 38" src="https://user-images.githubusercontent.com/9085167/149752822-0

[2022-01-17 23:43] arkadijs opened #28595 "SRV is resolved but LB policy `received update with 0 addresses`"
### What version of gRPC and what language are you using?

gRPC 1.43.0 via `grpcio` Python library.

### What operating system (Linux, Windows,...) and version?

Arch Linux and macOS 12.1 on client; Linux on server.

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.10.1.

### What did you do?

The client is basically:
[code]

### What did you expect to se

[2022-01-18 00:26] lovinrain opened #28596 "Confusion about performance documentation"
Hi folks, I will appreciate if you can help me understand how performance load test configuration template was generated.

According to your doc,
https://github.com/grpc/grpc/tree/master/tools/run_tests/performance#generating-configuration-templates

The template `loadtest_template_basic_all_languages.yaml` wad created from `*_example_loadtest.yaml`

[code]

But in the same doc, https://github.com

[2022-01-18 05:22] allenporter commented on #27512
The bdist_wheel version is different.

Working grpc:
[code]

Broken grpc:
[code]

[2022-01-18 08:30] mrt181 opened #28597 "C# protoc plugin: deprecated option in proto definitions should add Obsolete attribute to generated c# code"
### Is your feature request related to a problem? Please describe.
Adding the `Obsolete` attribute to an rpc method that is overriden warns that the base method is non-obselete:
`Obsolete member 'SomeService.SomeMethod(SomeRequest, ServerCallContext)' overrides non-obsolete member 'SomeService.SomeServiceBase.SomeMethod(SomeRequest, ServerCallContext)' [SomeService]csharp(CS0809)`

The proto defin

[2022-01-18 11:06] jtattermusch commented on #25740
I think this is something we can consider.

My main concern is that we must make it clear that RpcException.InnerException is only a mechanism to help with debugging, and the authoritative info about the RPC results is always the `Status` (along with the StatusCode). The InnerException can never traverse from the remote peer (as gRPC protocol has no way of serializing the exception objects and it

[2022-01-18 16:30] ctiller opened #28600 "cfstream tests do not work locally with bazel"
### What version of gRPC and what language are you using?

head

### What operating system (Linux, Windows,...) and version?

Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)

core

### What did you do?
Run: `tools/bazel test test/cpp/end2end:cfstream_test`

### What did you expect to see?
Tests pass

### What did you see instead?
Tests fail:
[code]

We should

[2022-01-18 17:16] spikecurtis commented on #28557
I want to emphasize that I'm not forking a child process that does anything with gRPC.  It's Popen() to call another binary tool on the system, so the after-fork pattern doesn't apply.

[2022-01-18 17:39] drfloob commented on #28588
grpc v1.3.2 is five years old. Support is generally provided for the past 2 releases. Please upgrade to a more recent release if possible, v1.43 or v1.42.

[2022-01-18 17:39] #28588 closed

[2022-01-18 17:42] drfloob commented on #28600
Wow, that's fun. Let's not run tests as root, huh? By any chance are any of your test cache or source folders owned by root?

[2022-01-18 17:53] lidizheng commented on #28557
Probably, there are some fork handlers logic without setting GRPC_ENABLE_FORK_SUPPORT=False. I will take a closer look.

[2022-01-18 17:59] jtattermusch commented on #28600
These tests are tricky. AFAIK they need to mess with network settings (to test some cfstream behavior when a network goes down, which is important on mobile), which is why they require root.

I think the best way to test is to use the kokoro ephemeral build as described here: https://github.com/grpc/grpc/pull/28598#issuecomment-1015517739

[2022-01-18 18:24] lidizheng commented on #28387
@amitsaha All Python wheels are built by this script for Linux/macOS: https://github.com/grpc/grpc/blob/master/tools/run_tests/helper_scripts/build_python.sh

(Sorry for its messiness)

[2022-01-18 18:27] lidizheng commented on #28330
cc @drfloob

[2022-01-18 19:01] martinstenhoff opened #28603 "csharp 2.43.0 clients get RST_STREAM error code 2 when talking to a 2.41.1 server"
When we upgraded some of our services to use Grpc.Core version 2.43.0 nuget package from 2.42.0 they can no longer talk to services using Grpc.Core version 2.41.1.

### What version of gRPC and what language are you using?
2.43.0 in client and 2.41.1 server both using C#

### What operating system (Linux, Windows,...) and version?
Windows 10 (but we see the same issue in our kubernetes cluster usi

[2022-01-18 19:22] gnossen commented on #28513
Thank you for the reproduction case! I will try to reproduce and get back to you with the results.

[2022-01-18 19:52] lidizheng commented on #28479
A version bump PR is drafted at https://github.com/grpc/grpc/pull/28604. Should fix this problem. Thanks for reporting.

[2022-01-18 19:58] lidizheng commented on #27814
Thanks for the rationales. We currently don't have resources to pursuit this aspect. If you have a clear vision about what the API should be, probably, you may write an gRFC at https://github.com/grpc/proposal.

[2022-01-18 20:14] konste opened #28605 "gRPC doc does not specify how to produce grpc++ library"
### What version of gRPC and what language are you using?

1.43 C++

### What operating system (Linux, Windows,...) and version?

Windows, Linux

### What did you do?

[gRPC documentation](https://github.com/grpc/grpc/blob/master/BUILDING.md#building-with-bazel-recommended) claims that
[code]
builds everything, but from what I could see the library `grpc++`  is not produced.

### Anything else we

[2022-01-18 21:28] #28340 closed

[2022-01-18 21:32] #28479 closed

[2022-01-19 00:00] lidizheng commented on #28557
We might need a volunteer to look into this... This is likely a Python issue, in some place, we failed to remove fork handler when the ENV var is not present. The culprit should be in this file: https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi#L31

[2022-01-19 00:21] spikecurtis commented on #28557
@lidizheng the changes you made to the fork-support doc don't address the situation I'm writing about, which is fork followed immediately by exec, which is ordinarily safe even in multi-threaded code.

[2022-01-19 00:41] lidizheng commented on #28557
Yes, I'm aware of that. Fork-exec should not break. Do you have a minimum reproduction snippet for this issue?

[2022-01-19 06:34] alikinir commented on #27995
Hi,
Unfortunately LD_PRELOAD=/lib/libgcompat.so.0 possibly fixing this issue, but causing the system to fail to start. Any chance you can prioritize the fix? We are really stuck because of that.
Thanks in advance.

[2022-01-19 07:45] SaneBow commented on #28387
Encountered the same error here with Python 3.10 on Macbook M1.
Quick solution for users is to force pip to build the wheel: `pip install --no-binary :all: grpcio --ignore-installed`

[2022-01-19 14:18] heavelock opened #28613 "grpcio: Exception that happens during iterating requests is not properly communicated to users"
This bug report is about grpcio.

### What version of gRPC and what language are you using?
1.43, python, grpcio 1.43.0 (also tested on 1.41 and 1.42)

### What operating system (Linux, Windows,...) and version?
OSx,

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.9

### What did you do?
A Streaming - Unary service requires an iterable to be passed to it

[2022-01-19 14:32] yashykt commented on #28605
I'm not sure I understand. What's your motive?
Did you try depending on the `grpc++` target and it didn't work?

[2022-01-19 14:34] yashykt commented on #28603
It should still work. @jtattermusch PTAL

[2022-01-19 14:41] yashykt commented on #28595
@apolcyn @markdroth PTAL

[2022-01-19 14:45] yashykt commented on #28586
This form is not meant for questions. Please prefer grpc-io google group or stack overflow for questions.

[2022-01-19 14:45] #28586 closed

[2022-01-19 14:47] yashykt commented on #28555
It looks like you want https://github.com/grpc/grpc-swift instead.

[2022-01-19 14:51] paulb777 commented on #28555
There's not a choice to use grpc-swift with Firestore.

[2022-01-19 14:52] yashykt commented on #28551
what is meaning of "no calls in flight" ?
It means that there are no RPCs on the channel at the time when the ping would have been sent normally. Since there is already a bidrectional streaming RPC on the channel, this would not matter to you.

It does seem like you are facing idle timeouts in which case enabling keepalive should help. https://github.com/grpc/proposal/blob/master/A8-client-side-ke

[2022-01-19 14:52] #28551 closed

[2022-01-19 15:15] konste commented on #28605
The project which uses gRPC is not built by Bazel and cannot directly depend on grpc++ target. I work on upgrading four years old version of gRPC used in that project with the new one. For that I need to generate new binary artifacts for all platforms, and it seems Bazel build produces everything but gRPC++ library.

[2022-01-19 16:18] markdroth commented on #28595
gRPC uses SRV records only when using the `grpclb` LB policy.  For reference, see:
- [gRFC A5: Load Balancing and DNS](https://github.com/grpc/proposal/blob/master/A5-grpclb-in-dns.md)
- [gRFC A24: Load Balancing Policy Configuration](https://github.com/grpc/proposal/blob/master/A24-lb-policy-config.md)
- [gRFC A26: gRPCLB Selection](https://github.com/grpc/proposal/blob/master/A26-grpclb-selectio

[2022-01-19 16:18] #28595 closed

[2022-01-19 16:35] paulosjca commented on #28596
The relationship between templates and examples is cyclic. It is a closed loop.

When we started developing, we wrote examples. Then we generated the templates from the example (using `loadtest_template.py`). Then (since we have `loadtest_config.py` to generate configurations from a template) we generated the examples again. That helped us catch inconsistencies in our original examples. We then wr

[2022-01-19 16:51] yashykt commented on #28605
I wonder if CMake is a better match for your needs in that case since you are not using bazel.

[2022-01-19 17:25] konste commented on #28605
We may be forced to use CMake after all despite our desire to move towards Bazel.
But Bazel is the primary (recommended by the docs) build system for gRPC. Could somebody please shed some light on WHY Bazel build produces everything BUT grpc++ library?

[2022-01-19 17:29] lidizheng commented on #28613
This might be one of the issues complicated by multi-threading. The consumer of the iterator might not be on the same thread as the caller.

[2022-01-19 19:06] JamesNK opened #28619 "[C#] Update Grpc.Core target from 4.5 to 4.6.2"
Grpc.Core targets .NET Framework 4.5.

Visual Studio 2022 no longer supports developing net45 targets - https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers

net462 is the oldest .NET Framework target that is still supported - https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework

Consider updating Grpc.Core (and all other packages and projects) to n

[2022-01-19 20:53] arkadijs commented on #28595
Would you consider a PR that adds SRV records functionality to `pick_first` and `round_robin` without legacy of `grpclb`?

My use case is to talk to _true_ gRPC peers (implementations) on unpredictable ports directly. No proxy-style load-balancer.

... unfortunately, [no Python support](https://github.com/grpc/grpc/issues/11685) for that?

Perhaps a clearly unusable combination of options could be

[2022-01-19 21:36] arkadijs commented on #28595
Also, I tried `grpclb` and it doesn't work due to expecting `/grpc.lb.v1.LoadBalancer/BalanceLoad` on the endpoint, obviously.

[2022-01-19 21:44] markdroth commented on #28595
I don't think that would be the right way to do this.  The problem isn't in the LB policies; they are already using the list of backend addresses returned by the resolver, which is exactly what they're supposed to be doing.  The problem is that the only purpose of the SRV-processing code in the DNS resolver is to support `grpclb` balancer addresses, so the DNS resolver does not return those addres

[2022-01-19 21:45] markdroth commented on #28595
Yeah, I would not have expected that to work.  The `grpclb` policy is expecting the SRV records to point to the balancers it needs to talk to, not to the backend servers directly.

[2022-01-19 22:23] arkadijs commented on #28595
I haven't been able to find applied or reference documentation on using SRV records. Only [high-level overview](https://grpc.io/blog/grpc-load-balancing/), [another](https://majidfn.com/blog/grpc-load-balancing/), and [Readme](https://github.com/grpc/grpc/blob/master/doc/load-balancing.md). So I looked on random posts via Google, then into [header file](https://github.com/grpc/grpc/blob/v1.42.x/in

[2022-01-19 22:52] apolcyn commented on #28591
Building from the github repo via rake explicitly is not officially supported, as this is only intended for internal testing and development.

Please install grpc via one of the gems hosted on ruby gems.

[2022-01-19 22:52] #28591 closed

[2022-01-20 04:56] lanlin opened #28621 "could the php gRPC extension can be smaller?"
![image](https://user-images.githubusercontent.com/3468024/150275136-9133fef9-3c08-45a2-9fac-3b40f89851a6.png)

140.4Mb, it's a really big size for an extension, that makes Alpine a fatty, and my wallet cries...

[2022-01-20 07:27] red-chen opened #28625 "linking failed: undefined symbol: gpr_inf_future"
### What version of gRPC and what language are you using?
1.31.1
C++

### What operating system (Linux, Windows,...) and version?
Linux CentOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 651

### What did you do?
I was building my application, but encountered the following error：

[code]

[2022-01-20 07:41] #28625 closed

[2022-01-20 08:44] zhucan opened #28626 "Is there plan to support rdma?"

[2022-01-20 08:58] houshijie-2020 commented on #23341
how to fix this bug

[2022-01-20 09:14] erikaxel opened #28627 "Support pre-built binaries for Ruby 3.1"
### Is your feature request related to a problem? Please describe.
It seems grpc does not support pre-built binaries for Ruby 3.1. This causes the gem-folder to balloon to almost 1gb. Locally in development this is not a huge issue, but it causes issues for CI and for the images created for deployment.

### Describe the solution you'd like
Add pre-built binaries for Ruby 3.1

### Describe alternat

[2022-01-20 09:15] alkasm commented on #25209
Popping this back up for discussion as I believe this still isn't available in the Python implementation. Want to also acknowledge that grpc-go does allow `PerRPCCredentials` to _optionally_ require a secure channel: https://pkg.go.dev/google.golang.org/grpc@v1.43.0/credentials#PerRPCCredentials

[2022-01-20 11:05] jtattermusch commented on #26675
Seems like the issue is long gone (original reported in July 2021). Closing.

[2022-01-20 11:05] #26675 closed

[2022-01-20 11:07] #15314 closed

[2022-01-20 11:12] jtattermusch commented on #15628
The problem I originally reported was happening for the legacy benchmarking framework.
I checked the results for the new GKE-based OSS benchmarking framework and all the ruby benchmarking scenarios we're running seem stable (I checked runs for the past month).

[2022-01-20 11:12] #15628 closed

[2022-01-20 11:28] abrausch opened #28631 "1.43.1 seems to use universal gem on mac arm"
### What version of gRPC and what language are you using?
1.42.0
1.43.1
ruby

### What operating system (Linux, Windows,...) and version?
mac (arm64)

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
gem install grpc -v "1.42.0"
gem install grpc -v "1.43.1"

Installing the newest version of grpc

### What did you expect to see?
Using it in rub

[2022-01-20 13:44] proga7med opened #28633 "Is verify peer callback supported in C++"
I can't find any way to handle peer callback. Is verify peer callback supported in C++ ?

[2022-01-20 16:10] treehaqr commented on #12975
I'm hitting this issue as well and I'm using Async API. If this isn't something that's supported please remove it from your guide https://grpc.io/docs/guides/performance/

[2022-01-20 22:17] xim opened #28642 "Allow tuning thread parameters for callback API server and client"
I'd like to be able to tune thread paramemters in GRPC. Specifically the thread count and stack size when using the callback API.

### Is your feature request related to a problem? Please describe.
When running on an embedded system, or for whatever the use case, I feel users should be allowed to choose these parameters, if for no other reason than for verifying the performance tradeoffs.

### Des

[2022-01-21 00:12] jasonbeach opened #28645 "Support CPack in cmake build"
### Is your feature request related to a problem? Please describe.
I'm trying to build grpc in a docker container (ubuntu 18.04) using the builder pattern i.e. build in a disposable container then copy the build products and install them in a slimmed down version of the image that doesn't have all the build dependencies that aren't needed for runtime.  This issue: https://github.com/grpc/grpc/issu

[2022-01-21 00:53] yashykt commented on #28605
The bazel team might have a better answer here. https://github.com/bazelbuild/bazel/issues/1920 and https://github.com/bazelbuild/bazel/issues/492 offer some hacks that might work.

[2022-01-21 02:27] rushilsrivastava commented on #26620
For anyone waiting on #28092, I published some prebuilt docker images available here: https://github.com/rushilsrivastava/python-grpcio-alpine-docker