[2018-12-11 12:05] brandonDu commented on #17093
This hava cause some import error, when I use the grpc-python in production with multithread spiders. Sometimes, the grpc client can not connect the grpc server. Thus, the crawl spider failed.

[2018-12-11 13:50] bimawa commented on #14173
@davidben @muxi @AVVS
Guys thanks for your advice, I tried to reproduce the same error but after the update all of dependence source codes and manipulation with code in sources I compiled it successfully for x86-64 and for arm64 too.
So my worked podfile below:
[code]
And also updated all repos in my forks. Pls. check it, and correct. Maybe can we do something with it for support tvos in swift-gRP

[2018-12-11 15:47] davewalkexpel commented on #17379
@ericgribkoff It's funny, I was going to write a toy app for you to use but then I too saw the fix they put in. I just updated my deps and it's working correctly now, only two connections opened. Thanks for your help!

[2018-12-11 17:05] UsmannK commented on #17339
@apolcyn any updates?

[2018-12-11 18:34] muxi commented on #14173
@bimawa Thanks! Will do.

[2018-12-11 18:42] lidizheng commented on #17409
@vincent-grosbois @jakethedev The `v1.17.1rc1` is released. The checksum mismatch is fixed in this patch. Can you check if the fix works for you? If so, please close this issue. Thank you again for reporting this bug ;)

[2018-12-11 18:50] lidizheng commented on #13978
Python 3.4 is eliminated from our test automations, no longer serve as default Python 3 version, but still able to build/test with `run_tests.py`. The new default version is Python 3.7. I think this issue is resolved. If any more test cases is still rely on Python3.4, please reopen this issue.

[2018-12-11 18:50] #13978 closed

[2018-12-11 19:00] markdroth opened #17462 "FLAKE: c_macos_dbg_native bins/dbg/h2_full+trace_nosec_test streaming_error_response GRPC_POLL_STRATEGY=poll"
https://source.cloud.google.com/results/invocations/671db3c8-d951-4109-8ac9-6497f8761d66/targets/github%2Fgrpc%2Fc_macos_dbg_native/tests

Relevant lines from the log:

[code]

[2018-12-11 19:04] markdroth opened #17463 "FLAKE: c_windows_dbg_native cmake/build/Debug/h2_http_proxy_nosec_test.exe hpack_size"
https://source.cloud.google.com/results/invocations/9dfe7b93-1225-4e7f-ab1e-daa28dda44f4/targets/github%2Fgrpc%2Fc_windows_dbg_native/tests;group=c_windows_dbg_native;test=cmake%2Fbuild%2FDebug%2Fh2_http_proxy_nosec_test.exe%20hpack_size;row=1

Also seen for non-nosec version:

https://source.cloud.google.com/results/invocations/9dfe7b93-1225-4e7f-ab1e-daa28dda44f4/targets/github%2Fgrpc%2Fc_window

[2018-12-11 19:23] jakethedev commented on #17409
Looks good on my end, bad wheel error is no more :)

[code]

[2018-12-11 19:23] #17409 closed

[2018-12-11 21:19] ice1000 commented on #17043
Ping

[2018-12-11 23:43] JimHume commented on #16570
I'm experiencing the same type of exception when attempting to use the auth context:
[code]

[2018-12-12 00:57] lidizheng commented on #17380
Fixed by #17432

[2018-12-12 00:57] #17380 closed

[2018-12-12 05:19] maxw opened #17469 "Cross-compiling grpc using the supplied Makefile results in duplicate symbols in libgrpc.a and libgrpc++.a"
### What version of gRPC and what language are you using?
 v1.17.0

### What operating system (Linux, Windows, …) and version?
 macOS High Sierra (17.5.0), cross-compiling for arm64 / iOS 12

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Apple LLVM version 9.1.0 (clang-902.0.39.1)

### What did you do?
Cross-compiling works just fine, however, the current Makef

[2018-12-12 05:29] apolcyn commented on #17339
@yashykt is https://github.com/grpc/grpc/pull/15698 related?

[2018-12-12 08:25] minddrive opened #17471 "C/C++ build failure on SuSE 12"
### What version of gRPC and what language are you using?
 1.16.1

### What operating system (Linux, Windows, …) and version?
 SuSE 12 Enterprise

### What runtime / compiler are you using (e.g. python version or version of gcc)
 GCC 7.3.0 ( / GCC 4.8.5)

### What did you do?
 Someone hard to fully detail here, as our build process currently uses CMake to manage all the steps, but the basic case i

[2018-12-12 08:59] swuecho opened #17472 "grpc_cli compile error in Mac after v1.16"
### What version of gRPC and what language are you using?

master

### What operating system (Linux, Windows, …) and version?

Mac

### where does the bug appear?

I am able to compile the grpc_cli in v1.15.0, but can not in v1.16.0 and v.1.17.0

I guess the bug is introduced in https://github.com/grpc/grpc/commit/3fe2c98877f376cc0c8d7da61d6e63eca83f4bec#r31647692

PS: probably it is doable to cre

[2018-12-12 11:53] graywolf-at-work commented on #15314
Seems to work correctly when using `GRPC::Core::TimeConsts.from_relative_time`.

[2018-12-12 14:33] thedrow commented on #4221
Ok I'm getting somewhere using the Docker build feature.

[code]

[2018-12-12 15:58] ericgribkoff commented on #4221
@thedrow Thanks for working on this! The last error in particular is worrisome, but also quite believable. It looks like it's taken quite a bit of work to get the tests building this far. Could you provide instructions for reproducing this test run with PyPy and/or a pointer to your branch with the necessary changes to get the tests with PyPy running?

Edit: I see you just found the cause of the c

[2018-12-12 16:02] thedrow commented on #4221
I'll create a PR with some working environments soon.
It shouldn't be merged since the build system is somehow broken when you run the tests with PyPy.

[2018-12-12 16:04] ericgribkoff commented on #4221
Sounds good, thanks! Would also be interested in hearing the result of patching #17444 into your local build and seeing if that particular PyPy error is resolved

[2018-12-12 16:46] thedrow commented on #4221
Yes. #17444 indeed resolves that crash and that test suite passes.

[2018-12-12 16:48] mhaidrygoog opened #17473 "gRPC/C++ : OnDone callback not getting invoked on Reactor for certain RPCs"
### What version of gRPC and what language are you using?
 HEAD

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Bazel

### What did you do?
 Ran streaming benchmarks on Callback client
### What did you expect to see?
 Successful completion of benchmarks with resulting latency numbers

### What di

[2018-12-12 18:27] cybertron opened #17478 "Python tooz tests fail with "Deadline Exceeded" on grpcio>=1.16.0"
### What version of gRPC and what language are you using?
gRPC 1.16.0 and up
Python

### What operating system (Linux, Windows, …) and version?
Linux - both Fedora 27 and Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7, 3.5, 3.6

### What did you do?
Run the tooz (https://github.com/openstack/tooz) tests for etcd: tox -e py36-etcd3

### Wh

[2018-12-12 18:35] srini100 commented on #17472
@apolcyn, can you please check if this is due to change in ruby generator?

[2018-12-12 18:42] apolcyn commented on #17472
[this comment and reply](https://github.com/grpc/grpc/commit/3fe2c98877f376cc0c8d7da61d6e63eca83f4bec#r31647692) in the ruby generator PR likely explain.

@swuecho can you confirm that you are seeing the issue described in https://github.com/grpc/grpc/commit/3fe2c98877f376cc0c8d7da61d6e63eca83f4bec#r31647692?

[2018-12-12 18:44] lidizheng commented on #17478
Error is reproducible with Python 2.7. Thank you for reporting!
[code]

[2018-12-12 18:49] srini100 commented on #17445
@moriarty, release branch cut happens 2 weeks before the release so a commit has to be in the master branch at the time of branch cut. See [release schedule](https://github.com/grpc/grpc/blob/master/doc/grpc_release_schedule.md)

Unfortunately, this commit cannot be cherrypicked into 1.17.1 patch as 1.17.1 RC was released a week ago which is promoted to final version without any more changes. The

[2018-12-12 20:00] cybertron commented on #17478
I should also note that at some point we will be excluding the problematic versions from tooz's requirements.txt so the reproducer might need to remove the cap from requirements.txt.

https://review.openstack.org/#/c/624508

[2018-12-12 20:15] maxw commented on #17469
I had a stray -all_load flag in my build which was causing the duplicate symbol error. Closing.

[2018-12-12 20:15] #17469 closed

[2018-12-12 20:57] markdroth commented on #16032
The problem that originally triggered the ubsan failure should be fixed by #17474.

Next steps:
- Revert #14432.
- Revert Noah's work-around from #15980.

Longer term:
- Consider whether we can revert #14888.

[2018-12-12 21:01] markdroth commented on #16032
Also, we'll need to address the TODO being added in #17291.

[2018-12-12 23:04] markdroth opened #17486 "TIMEOUT: cpp_linux_opt_native bins/opt/thread_stress_test --gtest_filter=End2endTest/2.ThreadStress GRPC_POLL_STRATEGY=poll"
https://source.cloud.google.com/results/invocations/8a002fee-1fa5-4ad8-a28d-f2694d7b43c5/targets/github%2Fgrpc%2Fcpp_linux_opt_native/tests

[code]

[2018-12-12 23:14] markdroth commented on #16032
I've reverted #14432 in #17482.  I'm going to let that bake for a few days to make sure that there are no new fuzzer failures reported before I start reverting the other workarounds.

[2018-12-12 23:43] markdroth commented on #16032
After discussion with @soheilhy, I'm not going to revert #14888, since that's now needed to support the non-polymorphic case.

[2018-12-13 01:36] muxi commented on #17365
Closed as the reason is identified in #8333.

[2018-12-13 01:36] #17365 closed

[2018-12-13 01:37] #17289 closed

[2018-12-13 01:54] moriarty commented on #17445
@srini100 thanks for the update. I appreciate the link to the release schedule, but does a broken build not have anyway of getting a hot-fix or patch made? I guess working with the latest release of bazel isn't a release criteria?

@nicolasnoble
If it could be back-ported to any released branch or tag that would be greatly appreciated.

To provide more information why this would be useful
-----
Ob

[2018-12-13 02:06] muxi commented on #16757
Closing for no activity.

[2018-12-13 02:06] #16757 closed

[2018-12-13 02:07] muxi commented on #16668
Closing for no activity.

[2018-12-13 02:07] #16668 closed

[2018-12-13 03:13] apolcyn opened #17492 "Objc test build failure"
Lots of "foo has no symbols" in the log.

https://source.cloud.google.com/results/invocations/b5470a12-06dd-49a5-aebe-408ee4edc842/targets/github%2Fgrpc%2Fobjc_macos_opt_native/log

[code]

seen on PR: https://github.com/grpc/grpc/pull/17470

[2018-12-13 03:20] apolcyn opened #17493 "Bazel RBE: end2end:end2end_test@poller=poll-cv, tests passed but timeout reported"
https://source.cloud.google.com/results/invocations/f8a7db7b-925e-4596-b5ea-75f2b4f2b20b/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Dpoll-cv/tests

noticed on PR: https://github.com/grpc/grpc/pull/17470

at the bottom of the log:

[code]

[2018-12-13 04:05] swuecho commented on #17472
I followed the step in https://github.com/grpc/grpc/blob/master/doc/command_line_tool.md
I double check the protobuff submodule, the version is 3.6.1. but the protobuf is not compiled probably, because I installed an old version of protobuf already. anyway, this seems not a real problem. sorry for the trouble.

[2018-12-13 04:05] #17472 closed

[2018-12-13 04:13] ericgribkoff commented on #15411
Using this as a catch-all for gevent disabled tests, which as of https://github.com/grpc/grpc/pull/17466 include the `ExitTests`.

[2018-12-13 07:53] JamesXiao commented on #15423
yes, it works now, with
GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS set to 1
and
GRPC_ARG_HTTP2_MAX_PINGS_WITHOUT_DATA set to 0

[2018-12-13 12:58] shahidash commented on #17453
Absolutely!

[2018-12-13 13:06] re-polm commented on #16839
I've fixed this by disabling the Bitcode option on the target. If you set it on it requires every static library to have it on, which includes grpc.

[2018-12-13 13:20] Chakrygin opened #17496 "gRPC Client - RpcException is thrown much later than the deadline (under high load, C#)"
### What version of gRPC and what language are you using?
C#, 1.17.0

### What operating system (Linux, Windows, …) and version?
Windows Server 2016 standard
Windows 10 (locally)

### What runtime / compiler are you using (e.g. python version or version of gcc)
.net core 2.1, hosted in iis

### What did you do?
We have two services (asp.net core 2.1) interacting through gRPC (v 1.17.0).

The clien

[2018-12-13 16:40] Chakrygin opened #17497 "Collecting response time metrics including sending over the network in .NET"
Hi!

Is it possible to collect a response time metric of the gRPC methods (on the server side), taking into account the time of sending the response to the client over the network? (For .NET, gRPC version 1.17.0)

We’re using interceptors and it looks like this:

[code]

But in this case, the timer stops before sending a response to the client, so this metric is not entirely correct.

Is there ano

[2018-12-13 17:05] fbernaly commented on #16839
@re-polm: were you able to archive your app? what architectures are you using?

[2018-12-13 17:42] muxi commented on #17492
I did not find a "foo has no symbol" reference in the link provided. The failure looks like a duplicate of #16497

[2018-12-13 17:42] #17492 closed

[2018-12-13 19:00] AspirinSJL commented on #17339
#17311 is doing the right thing, I think.

[2018-12-13 21:48] apolcyn opened #17501 "Test failure: MSAN C - bins/msan/secure_endpoint_test GRPC_POLL_STRATEGY=poll-cv"
[code]

https://source.cloud.google.com/results/invocations/2e8301d8-befe-474e-b547-d030a5885397/targets/github%2Fgrpc%2Fc_linux_msan_native_x64_clang7.0/tests

seen on PR: https://github.com/grpc/grpc/pull/17495

[2018-12-14 10:43] th0br0 opened #17506 "C++: Build failure with 1.17.1 and bazel"
### What version of gRPC and what language are you using?
1.17.1, C++

### What operating system (Linux, Windows, …) and version?
 Bazel

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (GCC) 8.2.1 20181011 (Red Hat 8.2.1-4)

### What did you do?
- setup grpc via bazel 0.20
- define `cc_grpc_library` rules

### What did you expect to see?
- Build completes

##

[2018-12-14 11:13] th0br0 commented on #17506
This repros on 1.16.* as well; the error doesn't occur on 1.15.

[2018-12-14 16:37] jiangtaoli2016 commented on #12146
@cauthu This should be fixed. Let me know if problem still exists. Thanks for patience.

[2018-12-14 16:44] cauthu commented on #12146
Ah cool, thanks Jiangtao.

On Fri, Dec 14, 2018, 8:37 AM Jiangtao Li <notifications@github.com wrote:

[2018-12-14 17:48] MartinRichards23 commented on #17451
We'd really need ARM64 as well for our UWP projects.

[2018-12-14 17:54] clehene opened #17507 "1.17.1 not published in NuGet repo"
### What version of gRPC and what language are you using?
 1.17.1

### What operating system (Linux, Windows, …) and version?
 Mac

`error NU1102: Unable to find package Grpc with version (>= 1.17.1)`
As of now the latest version is 1.17.0 https://www.nuget.org/packages/Grpc/

[2018-12-14 19:30] lidizheng commented on #17507
CC @dfawley

[2018-12-14 19:40] lidizheng commented on #17507
@clehene gRPC Go implementation is maintained in https://github.com/grpc/grpc-go. I presume open up an issue there might be more affective.

[2018-12-14 20:13] nicolasnoble commented on #17507
@lidizheng this is about the C# release :-)

[2018-12-14 23:48] jeffpeiyt commented on #17002
Following build from source instructions from https://github.com/grpc/grpc/tree/master/src/python/grpcio below, which generate a 1.17.0 version still have the make failure on OS X Mojave 10.14.2 with eithe py27 or py36.

I also tried `REQUIRE_CUSTOM_LIBRARIES_opt=1 GRPC_PYTHON_BUILD_WITH_CYTHON=1 pip install .` too but does not work.

What is the right command to build from source now?

[code]

Er

[2018-12-15 00:40] srini100 commented on #17445
@moriarty, v1.17.2 is tagged with this fix. Hope this helps.

[2018-12-15 00:40] #17445 closed

[2018-12-15 01:55] chenbaggio opened #17514 "after fork how can execute grpc_init again in forked process"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows, …) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead?

[2018-12-15 02:55] ericgribkoff commented on #17514
We will need some additional information to answer this, including the answers to the questions in the issue template posted above.

In particular, what gRPC language(s) are you using and is this on the client or server side?

[2018-12-15 03:00] ericgribkoff opened #17515 "Tracking issue for Python/Cython deallocation changes"
This is an umbrella issue for remaining questions about gRPC Python's handling of deallocation. Many of these (#15756, #17093, #17214, #17258) will be resolved by PR https://github.com/grpc/grpc/pull/17444, but on the Cython server side there's still some remaining machinery (a backup completion queue) that's intended to be used for shutting down the core server when the Cython object is garbage c

[2018-12-15 03:29] maxweisel opened #17516 "CompletionQueue destructor terminates process with: pure virtual method called - terminate called without an active exception"
### What version of gRPC and what language are you using?
v1.15.1

### What operating system (Linux, Windows, …) and version?
Alpine Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GNU 6.4.0 / gcc

### What did you do?
I'm creating a Channel, ClientContext, CompletionQueue, Stream, to do async bidirectional reads / writes on. Upon receiving `grpc::Completio

[2018-12-15 03:38] jianlirong commented on #15334
@ericgribkoff ,

First of all, I am new to gRPC. So, maybe my question is sort of naive.

I am wondering whether the plan you mentioned above was accomplished:

_Our current plan is to support fork() for gRPC clients with the following semantics: it will be valid for a process to fork() with active channels and on-going RPCs. The parent process will be able to continue using these channels and RPC

[2018-12-15 05:40] chenbaggio commented on #17514
What version of gRPC and what language are you using?
1.4.x

What operating system (Linux, Windows, …) and version?
linux centos 7

What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 4.8.5 20150623 (Red Hat 4.8.5-36

[2018-12-15 05:50] chenbaggio commented on #17514
What version of gRPC and what language are you using?
1.14.2

[2018-12-15 07:07] moriarty commented on #17445
Perfect thanks!

[2018-12-15 18:47] clehene opened #17518 "dotnet crash with System.InvalidOperationException at at Grpc.Core.Server.ShutdownInternalAsync"
### What version of gRPC and what language are you using?

 1.17.0

### What operating system (Linux, Windows, …) and version?

OSX

### What runtime / compiler are you using (e.g. python version or version of gcc)

maven -> dotnet

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

This reproduces randomly, but r

[2018-12-16 14:27] zxfishhack opened #17520 "C++ needs a way to get service name and method name for logging purpose"
### What version of gRPC and what language are you using?
 1.17.2 c++

### What operating system (Linux, Windows, …) and version?
 CentOS 7.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 4.8.5

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to

[2018-12-16 22:03] JMurph2015 commented on #9316
Any progress on getting an official port?

[2018-12-16 23:09] ChrisCates commented on #9316
@JMurph2015, didn't really hear anything from the Google team... I'm open to working on it, as a lot of it is just trivial parsing of `.proto` files to interact with via TCP/HTTP. However, going back and forth with the Google team to ensure everything is Google compliant and not getting paid for it doesn't give me an incentive to work on it... If there was some sort of reward bounty for completing

[2018-12-17 13:12] jtattermusch commented on #17451
@deinok can you provide more details about the conventions you have in mind?

You're right that we currently don't provide the shared libraries for ARM (mostly because it complicates our package build process and we currently don't have a good way to test on arm), which platforms exactly are you interested in using?

[2018-12-17 13:17] MartinRichards23 commented on #17451
We want to use GRPC in our UWP (Microsoft store app), currently we can't because we need to target ARM and ARM64 as well as x64 and x86.

[2018-12-17 13:43] deinok commented on #17451
Okey, commonly in C#, native libraries (.so, .dll and .dylib) aka C Libraries. Are stored in /runtimes/<RID>/native/*.{so,dll,dylib}. This way when you publish your App for a specific RID, just the correct libraries are also published, reducing size.
Actualy, for example for linux you have in /runtimes/linux/native/(x64 and x86) meaning that if a computer is x64 it will also contain the native lib

[2018-12-17 13:50] deinok commented on #17451
@jtattermusch
I don't have too much information about the structure of this project, but in some personal projects i'm working on, I use mix of clang with some tactics to cross-compile.
If you give a bit of information I think that I could generate a version ready for cross-compilation (without testing)

But anyways, I don't understand the usage of native libraries (C,C++) when the project at firs

[2018-12-17 16:09] jtattermusch commented on #16938
The performace_profile jobs are now green on master.
From the history it looks like the problem was fixed by merging https://github.com/grpc/grpc/pull/17474.

[2018-12-17 16:09] #16938 closed

[2018-12-17 16:24] jtattermusch commented on #13098
As pointed out in #17437 the 64bit windows protoc is actually needed in some cases. Closing.

[2018-12-17 16:24] #13098 closed

[2018-12-17 16:48] ericgribkoff commented on #17514
In gRPC v1.14.2, there is no support for fork. In v1.15.0, Python client-side fork support was added. There is no action required from the client other than setting the environment variable `GRPC_ENABLE_FORK_SUPPORT=1`.

[2018-12-17 17:56] vjpai commented on #17448
I am concerned that this is a broader issue that is only exposed by inproc_transport (and even then only rarely) since things happen instantaneously there. Namely: the grpc_stream structure associated with a call lives at the end of the call and is part of the call's arena, but there is no call_ref invoked at the initiation of a stream (which would then have to get unreffed at the destruction of a

[2018-12-17 18:59] yang-g opened #17526 "Node build failure breaking interop tests"
[code]

[2018-12-17 19:18] ericgribkoff commented on #15308
Looking only at Python changes, the following PRs were merged just before the first occurrence of this flake:

1. https://github.com/grpc/grpc/pull/15132 - Keep Core memory inside cygrpc.Channel objects
1. https://github.com/grpc/grpc/pull/15254 - Add grpc.Channel.close()
1. https://github.com/grpc/grpc/pull/15229 - Remove CleanupThread

I can't find any changes on the server side that are suspect

[2018-12-17 21:08] murgatroid99 commented on #17526
This looks like the same error that was reported in nodejs/nan#832.

[2018-12-17 22:31] RahulMitra commented on #17073
@ncteisen Just wanted to follow up again on this

[2018-12-18 06:12] jtattermusch commented on #17526
This is breaking 100% of builds on master. Please fix ASAP.
https://source.cloud.google.com/results/invocations/886aeebe-25b8-49a9-a5b4-aa0928160dfb/targets/github%2Fgrpc%2Finterop_docker_build/tests

[2018-12-18 06:14] jtattermusch commented on #17507
The package has been pushed yesterday. Sorry for the delay.

[2018-12-18 06:14] #17507 closed

[2018-12-18 06:21] jtattermusch opened #17538 "Windows opt builds not reporting status on windows"
The opt windows build often doesn't come back with result. On master many builds don't finish or fail.

We expected the revert https://github.com/grpc/grpc/pull/17488 to fix this but it doesn't seem to be the case.

[2018-12-18 07:49] nicolasnoble commented on #17526
There is quite nothing we can fix on our side. The issue linked to the nodejs repository is the culprit, and has broken quite a few other packages in the process, not just grpc. We can only wait for a new release from the nodejs team that'll fix it.

[2018-12-18 08:06] nicolasnoble commented on #17538
I actually suspect that the introduction of the logging made the existing problem worse.

[2018-12-18 10:32] jtattermusch opened #17540 "Linux x86 build is broken at boringssl's HEAD"
Build started failing  with this build (Dec 12)
https://source.cloud.google.com/results/invocations/fd79da6f-fe57-4048-bf90-cd321088f4e0/targets/github%2Fgrpc%2Faggregate_tests/tests

[code]

[2018-12-18 10:37] jtattermusch commented on #17540
@agl looks like this is due to recent hrss changes in boringssl's head:
https://github.com/google/boringssl/commits/master

[2018-12-18 11:32] jtattermusch commented on #17538
Update: I checked the history of windows/grpc_basictests_opt  job and it turns out the pipeline was blocked by a job that got stuck for multiple days (so the failing test runs are actually from Dec 09). I killed the stuck job and I expect the windows_opt test to start passing now.

[2018-12-18 11:33] #17538 closed

[2018-12-18 16:03] nicolasnoble commented on #17540
CPUs without SSE should be considered an abomination IMHO. We should enable SSE instruction set in our 32 bits builds. This will prevent grpc to run on... *check notes* [Pentium II](https://en.wikipedia.org/wiki/Pentium_II) CPUs and earlier, that got released 21 years ago.

[2018-12-18 16:06] nicolasnoble commented on #17540
`-march=pentium3 - msse` should do the trick.

[2018-12-18 16:54] agl commented on #17540
Thanks for the notice! Fast feedback is really valuable.

Using `gcc -m32 -Q --help=target` shows that SSE is enabled by default in GCC 8.2.1 on my development machine, but on an older machine with GCC 7.3.0, it isn't. So while gRPC is probably well advised to enable SSE (and maybe SSE2†) for 32-bit builds, BoringSSL should still build without it. [33714](https://boringssl-review.googlesource.com/

[2018-12-18 17:05] davidben commented on #17540
I'm not positive, but I think some of our 32-bit assembly might even assume SSE2 at this point.

[2018-12-18 17:21] vjpai opened #17541 "Make rvalue versions of C++ streaming write operations"
### What version of gRPC and what language are you using?

 Master, c++

### What operating system (Linux, Windows, …) and version?
 N/a

### What runtime / compiler are you using (e.g. python version or version of gcc)

 N/a
### What did you do?
Wrote code

### What did you expect to see?

rvalue versions of write operations. These can allow greater efficiency since the application is explicitly

[2018-12-18 17:33] nicolasnoble commented on #17540
Yeah, I'm fine requiring pentium 4 as our minimum arch too in order to enable sse2.

[2018-12-18 19:03] ericgribkoff commented on #17093
The fix for this (#17444) is now merged and will be available in the next release. The next nightly build at https://packages.grpc.io/ (installable via pip) will also include the fix. I'll close this issue for now.

@dcoles If any issues remain, please comment here and we will reopen. Thanks.

[2018-12-18 19:03] #17093 closed

[2018-12-18 19:08] ericgribkoff commented on #15756
The fix for this (#17444) is now merged and will be available in the next release.

[2018-12-18 19:08] #15756 closed

[2018-12-18 19:08] ericgribkoff commented on #17214
The fix for this (#17444) is now merged and will be available in the next release.

[2018-12-18 19:08] #17214 closed

[2018-12-18 19:08] ericgribkoff commented on #17258
Fixed by #17444

[2018-12-18 19:08] #17258 closed

[2018-12-18 20:13] vjpai opened #17545 "C++: Proper server shutdown on callback API"
### What version of gRPC and what language are you using?

Master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

 N/A

### What did you do?

Shutdown the server using the callback API

### What did you expect to see?

Don't actually shutdown until all existing callbacks have invoked Finish()

[2018-12-18 21:22] murgatroid99 commented on #17526
The PR to fix that has now been merged and published, so this should be fixed, possibly delayed by some stale caches.

[2018-12-18 21:37] Pr0b commented on #15288
Why is this closed? I experience same issue like OP

[2018-12-18 21:44] nicolasnoble commented on #17526
I can see tests passing again. Closing this one.

[2018-12-18 21:44] #17526 closed

[2018-12-18 22:10] markdroth commented on #17463
Seen on Bazel RBE Opt C/C++ as well:

https://source.cloud.google.com/results/invocations/3a54f5a3-e999-40fd-9c20-9d16d8ef4962/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_nosec_test@hpack_size@poller%3Depoll1/log

[2018-12-18 22:13] markdroth opened #17550 "grpc_ios_binary_size failure"
https://source.cloud.google.com/results/invocations/5d617f9e-2f20-4801-b2f5-4239c3357e76/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

Relevant portion of the log:

[code]

[2018-12-18 22:47] yashykt opened #17553 "py37_native.test.reflection._reflection_servicer_test.ReflectionServicerTest failure"
Failed at #17544

[code]

https://source.cloud.google.com/results/invocations/3c511522-cde5-48fe-b316-224c641331d6/targets/github%2Fgrpc%2Fpython_macos_opt_native/tests

[2018-12-18 22:55] nicolasnoble commented on #15288
First, this is a fairly old issue. Second, the node repository moved over to https://github.com/grpc/grpc-node. Third, the original issue was fixed. Any other problem you can see will be a different one, unrelated to the original issue. If you have problems installing grpc-node, please open new github issues in the [correct repository](https://github.com/grpc/grpc-node) using the issue template so

[2018-12-19 13:06] jtattermusch commented on #17540
The build is green again. Thanks for quick fix!
https://source.cloud.google.com/results/invocations/0b7ad326-7615-4078-9ae3-e229f0781183/targets

[2018-12-19 13:06] #17540 closed

[2018-12-19 13:17] jtattermusch commented on #17451
@deinok  do you want to create a PR to fix the layout of `/runtimes/` directory with native libraries?

ad native/managed implementations: this topic has be reiterated many times already. We currently use the native library to avoid needing to rewrite and maintain all of gRPC's logic (with all its current and future features, some of which are highly non-trivial) in 10 languages.

[2018-12-19 14:59] M1ke commented on #12597
Had the same issue building this in the `webdevops/php-apache-dev:7.0` docker container. Adding `apt-get install zlib1g-dev` to the Dockerfile solved it.

[2018-12-19 16:14] ericgribkoff commented on #17553
Same failure as https://github.com/grpc/grpc/issues/15308, although this is the first time seeing it with Python 3.

[2018-12-19 16:14] jtattermusch opened #17556 "linux portability test suite: libuv C tests failing on master"
https://source.cloud.google.com/results/invocations/e0efabb3-ce1e-475f-8d8a-374244884d1c/targets/github%2Fgrpc%2Fc_linux_dbg_uv/log

e.g.
[code]

[2018-12-19 16:14] ericgribkoff commented on #15308
This is happening more frequently now that #17444 is merged. Bumped priority and working on this today.

[2018-12-19 16:18] jtattermusch commented on #17556
The assertion failure is: `E1218 21:48:34.890854423   16425 channelz_registry.cc:112]   assertion failed: uuid <= uuid_generator_`

Local repro:
[code]

[2018-12-19 16:20] jtattermusch commented on #17556
https://github.com/grpc/grpc/blob/8cd1c0e379dda453ad544dcde529c97265179f1b/src/core/lib/channel/channelz_registry.cc#L112

[2018-12-19 17:19] jtattermusch commented on #17556
@yashykt   can you take a quick look while Noah is OOO?

[2018-12-19 18:30] ericgribkoff commented on #17514
Marking this closed. @chenbaggio if you have a specific question feel free to respond here.

[2018-12-19 18:30] #17514 closed

[2018-12-19 21:15] yashykt commented on #17556
My plate is full with higher priority stuff at the moment. Maybe, I'll be able to give it some time.

[2018-12-19 22:54] AspirinSJL opened #17561 "grpc_ios_binary_size timeout"
https://source.cloud.google.com/results/invocations/04689852-45b4-423d-8c1f-23bde1d4cdc2/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[code]

[2018-12-19 23:15] ncteisen commented on #17556
I poked around with some extra logging in the repro. This happens when the ChannelRegistry is shutdown then recreated, then an element unregisters itself.

I do not know why this would happen only on UV platform...

[2018-12-19 23:17] ncteisen commented on #17556
also, this assertion has no reason to be a hard error. The registry is "just looking" at the elements. It does not need to do validation or cleanup, that is handled in the elements lifetime contracts themselves. So if this issue is blocking, the assert could be removed (or logged)

That being said, it would be good to understand why this is happening

[2018-12-20 00:39] apolcyn commented on #13012
@topillar do you know if this issue exists with the latest grpc/protobuf versions (on the 1.17 branch)?

[2018-12-20 00:49] apolcyn commented on #12979
was this fixed by https://github.com/grpc/grpc/pull/16832?

[2018-12-20 06:14] vertextao opened #17563 "grpc v1.17.2 exception on windows"
### What version of gRPC and what language are you using?

C++11

### What operating system (Linux, Windows, …) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

visual studio 2015.

[code]

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

Just normally cal

[2018-12-20 06:22] g-easy opened #17564 "protobuf dependency: The value 'REPOSITORY_NAME' has been removed in favor of 'repository_name()'"
### What version of gRPC and what language are you using?

commit a0c7ec851e099a625230b369f5de0f616ca9def7
and C++

### What operating system (Linux, Windows, …) and version?

Linux

### What did you do?

[code]

This is with bazel version 0.21.0

Version 0.20.0 didn't have this issue.

Also, protobuf has since switched to repository_name(), but when I try to update the dependency, I run into a di

[2018-12-20 06:31] morris-stock commented on #12979
Sorry, but the environment has been lost. And I cannot even build `grpc` from source. No time to test or verify it.

[2018-12-20 12:21] jtattermusch commented on #17518
It's not clear to me what it is you were trying to accomplish. Looks like you were trying to use maven to use the gRPC C# tests (which is something that we never tested and is not supported).
If you are gRPC C# contributor and you need to run gRPC C# tests, please use run_tests.py script to run them (see https://github.com/grpc/grpc/tree/master/tools/run_tests). If you are gRPC C# user, you don't

[2018-12-20 12:21] #17518 closed

[2018-12-20 12:56] jtattermusch commented on #17201
I re-ran the query and the `streaming_from_client` scenarios don't seem to be flaky anymore:
here is the stats over last 7 days:
https://docs.google.com/spreadsheets/d/1SW3k4ROoHFRfZNvtyPI5urrmBoaxlzjqXKbhMJ6mmR4/edit#gid=1239259815

[2018-12-20 12:56] #17201 closed

[2018-12-20 15:37] nickpro commented on #6046
any news on this issue?

[2018-12-20 16:40] markdroth opened #17568 "py27_native.test.unit._metadata_code_details_test.MetadataCodeDetailsTest segfaults on macos"
https://source.cloud.google.com/results/invocations/e0199b9c-876b-4b4a-a76f-6800b39d3f5e/targets/github%2Fgrpc%2Fpython_macos_opt_native/tests

[code]

[2018-12-20 16:47] ericgribkoff commented on #17568
Probably the same issue as in https://github.com/grpc/grpc/issues/15308; investigating.

[2018-12-20 18:08] #16032 closed

[2018-12-20 18:32] ericgribkoff commented on #6046
This is back on our radar but no concrete timeline yet. Will update here when we have any progress to report.

[2018-12-20 19:03] ericgribkoff commented on #15334
@jianlirong The plan mentioned above was accomplished for gRPC Python clients in https://github.com/grpc/grpc/pull/16264. The PR description provides details about how that works, copied here:

If you are planning to use core APIs directly, the contract for core's fork support is that the child process must destroy all of its inherited gRPC objects, triggering a complete grpc library shutdown. Cor

[2018-12-20 19:47] therc opened #17569 "Support multiple server completion queues in Python"
### What version of gRPC and what language are you using?
 1.17, Python

### What did you do?
Tried to find a way to create multiple completion queues in the same server process. Right now, there's a hard limit on concurrent RPCs. Once that's hit, new RPCs fail. But not all RPCs are the same: sometimes you want to set different limits for different services or have some special requests (e.g. live

[2018-12-20 20:45] meawoppl opened #17572 "grpc version in Python"
There is no (obvious) way to determine the installed python version of grpc programmatically.

### What version of gRPC and what language are you using?

Lol

### What operating system (Linux, Windows, …) and version?

Windows/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try b

[2018-12-20 20:52] alexkarim commented on #3042
Hi @nathanielmanistaatgoogle I've ran into this problem, specifically with an integer value and key that contained an uppercase letter. What's the status of this issue and are there any blockers?

[2018-12-20 21:32] #16821 closed

[2018-12-21 02:50] topillar commented on #13012
Sorry, I didn't test it any more.

[2018-12-21 10:13] jtattermusch commented on #16759
Fixed by #17407.

[2018-12-21 10:13] #16759 closed

[2018-12-21 14:08] vertextao commented on #17563
## Update for vs debugging call stack

[code]

[2018-12-21 16:08] dsazonoff opened #17576 "Error compiling cpp helloworld example"
### What version of gRPC and what language are you using?
 Latest master, or v1.16.1 or bae61a0f43db262d6170c53c0b77db04b0113ad1

### What operating system (Linux, Windows, …) and version?
 Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 2017

### What did you do?
[code]
Now I'm trying to compile `HelloWorld-SuperBuild.sln` in debug or rele

[2018-12-21 16:09] re-polm commented on #16839
arm64

[2018-12-21 21:42] gnossen commented on #17572
@meawoppl As of right now, we do not offer a public API for the version string. If you're willing to peek behind the curtain, you can use the following method to get access to it:

[code]

That's obviously not a long term solution for anyone. I'm working on a PR now to make this info available via `grpc.__version__`. If you don't mind my asking, what is your use case for this functionality?

[2018-12-21 22:31] bimargulies-google opened #17581 "Not obvious how to apply the plugin in gradle 5"
Using gradle 5.0 and plugin 0.8.7, I'm not seeing what combination of buildScript and plugins will avoid:

Plugin [id: 'protobuf', version: '0.8.7'] was not found in any of the following sources:

- Gradle Core Plugins (not a core plugin, please see https://docs.gradle.org/5.0/userguide/standard_plugins.html for available core plugins)
- Plugin Repositories (could not resolve plugin artifact 'prot

[2018-12-21 22:41] bimargulies-google commented on #17581
I put this in the wrong project.

[2018-12-21 22:41] #17581 closed

[2018-12-22 00:05] meawoppl commented on #17572
We are seen performance impact on different versions and upgradsin our stack, and trying to track the variables that go into that.  Python packaging is pretty messy, so being able to capture or report the version string is valuable.

  We also want to have a optional call to chnanel.close() that only came in with release 1.12.0 or so, then send a warning about older versions, calling out the versi

[2018-12-22 00:41] yashykt opened #17584 "h2_sockpair_1byte_nosec_test@cancel_after_invoke Bazel RBE Opt C/C++ failure"
//test/core/end2end:h2_sockpair_1byte_nosec_test@cancel_after_invoke@poller=poll-cv failure

[code]
Seen on #17536

[2018-12-22 03:37] vertextao commented on #17563
I've created a pull request for this issue, but I can't add any reviewer to this PR. And also, I've signed my Github account(email) to CLA, but It's remaining fails during the PR checks.

[2018-12-22 05:01] ericgribkoff commented on #15308
https://github.com/grpc/grpc/pull/17579 seems to have mitigated or fixed the seg faults in our tests. 10 consecutive green builds on master for grpc_basictests_multilang; will keep monitoring.

#17579 is basically a band-aid over the bug(s) in how we handle Python/Cython deallocation, by ensuring we explicitly close channels/servers in our tests; still working on a fix for the underlying issue, bu

[2018-12-22 05:08] ericgribkoff commented on #15537
The examples are already using channel.close(), and now the tests are as well. Marking this fixed.

[2018-12-22 05:08] #15537 closed

[2018-12-22 05:30] ericgribkoff commented on #16290
Marking this closed. Our tests are now using `channel.close()`, and there do not appear to be any remaining seg fault issues with operations on a closed channel (rather, we seem to have remaining issues with garbage collection on channels that have *not* been closed, but that is a separate issue and under investigation elsewhere.

[2018-12-22 05:30] #16290 closed

[2018-12-22 21:31] PawelWitak opened #17587 "iOS (Unity support) marshaling delegates not supported for IL2Cpp"
Currently I am trying to use Google Text-to-Speech with Nuget packages which are using for gRPC.
I see the experimental support for iOS, but when I try to use that library I am encountering "IL2CPP doesn't support marshalling delegates". How to resolve that issue?

[2018-12-23 04:06] jianpingjwang opened #17588 "grpc python support protobuf2.6?"
With this command:
`python -m grpc_tools.protoc --proto_path=.  --python_out=. --grpc_python_out=. helloworld.proto
`
I can get helloworld_pb2.py and helloworld_pb2_grpc.py, which can be imported with python protobuf 3.6.

If the version of python protobuf is 2.6, there seems to be import errors:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "helloworld_pb2.py",

[2018-12-23 07:20] Darksweat opened #17589 "build //helloworld fail by bazel ,OS: MacOs, no such package '@boringssl//'"
<!--
My os is MacOS 10.14
I want to build helloworld by bazel, here is the command:
`bazel build //examples:greeter_client`
but it occurs fail, here is log.
[code]

[2018-12-24 00:44] jianlirong commented on #15334
Got it. Thanks for the reply, @ericgribkoff .

Lirong

[2018-12-24 05:35] boyaziqi commented on #16058
I get the same mistake. when file hit limit, no response to client. Here is the error message.
[code]

[2018-12-24 12:04] #17588 closed

[2018-12-24 12:04] jianpingjwang commented on #17588
Fix this problem..

[2018-12-25 08:57] kkm000 commented on #17458
Possibly related: https://github.com/grpc/grpc/issues/8451.

[2018-12-25 21:36] samotarnik opened #17592 "Python 2.6 support -- question"
Apologies for bringing this up again, there's already an [existing issue on this topic](https://github.com/grpc/grpc/issues/757) but since I'm not a project collaborator I can't ask the follow-up there.

It's simply not clear to me whether Python 2.6 support was dropped because no one found the time to do the work 4 years ago or because it got an absolute and categoric "no" from project maintainer

[2018-12-26 10:00] mljack commented on #16636
Found the same issue with grpc-1.15.0 in docker environment, but it works fine in its Ubuntu 16.04 host environment. In a docker environment, client never connected to server, but WaitForConnected() always returns true no matter whether the server is up or down. Both client and server use 127.0.0.1 inside the docker.

[2018-12-26 11:01] nathanielmanistaatgoogle commented on #17592
The question received an absolute and categoric "no". That "no" is even more emphatic today. We will not accept 2.6-compatibility-adding pulls request because we do not accept changes that we cannot test, and we cannot test Python 2.6 without running Python 2.6, and running Python 2.6 in 2018 (or 2019!) is irresponsible on a pretty fundamental level (2.6 hasn't gotten security patches in _how long

[2018-12-26 11:01] #17592 closed

[2018-12-26 16:44] #17576 closed

[2018-12-26 17:34] leishman opened #17594 "Support for Ruby 2.6"
### What version of gRPC and what language are you using?
 grpc 1.17.1 with Ruby 2.6

### What operating system (Linux, Windows, …) and version?
 MacOSX

### What did you do?
`gem install grpc -v 1.17.1`

### What did you expect to see?
A successful grpc gem installation

### What did you see instead?
[code]

### Anything else we should know about your project / environment?
Basically this is a re

[2018-12-26 18:18] Valentin-Miroshnichenko opened #17595 "Python When I try to generate files for protobuf I get error ModuleNotFoundError"
When I try to generate files with the command

`(venv) C:\Users\Valentin\PycharmProjects\protoactor-python\tests\remote\grpc_wrapper>python -m grpc_tools.protoc -I./ --python_out=. --grpc_python_out=. service.proto`

I get error.

[code]
How can I fix it? I truing reinstall protobuf but it don’t help me.

[code]

P.S. I use conda, I truing use

`conda install protobuf`

but it don’t help me too.

[2018-12-26 18:52] lidizheng commented on #17595
Can you see the generated files under `C:\Users\Valentin\PycharmProjects\protoactor-python\tests\remote\grpc_wrapper` directory? The directory references mismatch might cause this problem.

[2018-12-26 19:00] rmstar opened #17596 "C# grpc_interop_toprod test timeout (cloud_to_prod:csharpcoreclr:gateway_v4:server_streaming)"
https://source.cloud.google.com/results/invocations/718b5402-1d24-4a7e-931e-36b3f2dd4644/log

[code]

[2018-12-26 20:00] Valentin-Miroshnichenko commented on #17595
![2018-12-26_19-25-36](https://user-images.githubusercontent.com/10279529/50455901-fb0e3200-0961-11e9-929f-15312ec87560.png)
Yes, Pycharm show it.

[2018-12-26 22:58] lidizheng commented on #17595
Hi @Valentin-Miroshnichenko , I am not able to reproduce your case, can you provide a minimal way of reproducing the bug? Also, I have seen editors behave incorrectly with generated code,  a restart of editor might fix it.

[2018-12-27 09:14] Valentin-Miroshnichenko commented on #17595
I have found a solution. Use "from . import" in _pb2_grpc.py for example from . import service_pb2 as service__pb2

https://github.com/grpc/grpc/issues/9575

[2018-12-27 10:09] Chakrygin commented on #17496
It seems that this behavior is not related to the gRPC. The same effect is reproduced with HttpClient.

Thanks!

[2018-12-27 10:09] #17496 closed

[2018-12-27 11:02] nathanielmanistaatgoogle commented on #3042
@alexkarim: I don't think there are any blockers; I think it's just not prioritized at the moment. It would take some (a day's worth?) thought and care and work, and I think everyone's just working on higher-priority things.

[2018-12-27 19:09] lidizheng commented on #17595
According to comments in #9575

If you can change your generation command to
[code]
Then the generated code will work for Python 3.

Ad-hoc patch to generated file generally may impair the maintainability for the code base, you may consider update the generation command.

[2018-12-27 19:11] ericgribkoff commented on #17569
Could you provide more details on what you are trying to accomplish?

As for the "hard limit on concurrent RPCs", [`grpc.create_server`](https://grpc.io/grpc/python/grpc.html#create-server) has a `maximum_concurrent_rpcs` parameter that defaults to `None`, indicating no limit on the number of concurrent RPCs. The thread pool provided to the server  limits the maximum number of RPCs that are proces

[2018-12-27 22:41] ericgribkoff commented on #15308
This hasn't recurred on master since #17579. I'll wait a bit more before closing this issue, but downgrading it to a P2. The underlying bug investigation is tracked by the newly reopened https://github.com/grpc/grpc/issues/11804.

[2018-12-28 06:26] arturgspb opened #17601 "Python - Support send structured error details"
Hi! I think it's maybe like this:

[code]

Unfortunately, the required functionality or not, or the documentation is not clear enough for our team. =(

Thanks in advance for your help.

### What version of gRPC and what language are you using?

Python
grpcio==1.17.1

### What operating system (Linux, Windows, …) and version?

MacOS Sierra

### What runtime / compiler are you using (e.g. python ver

[2018-12-28 08:02] lidizheng commented on #17601
Hi Artur, the new API has been implemented in the dev version by PR https://github.com/grpc/grpc/pull/17481, and will be available in next release. There is a related issue https://github.com/grpc/grpc/issues/16366 requesting the rich status error details. Examples and documentation will be added soon.

Here is a short snippet demonstrate the usage of the new rich status API `abort_with_status`:
[

[2018-12-28 08:25] #17601 closed, assigned to lidizheng

[2018-12-28 09:42] EkremH commented on #15363
I'm also very interested in a Conan package for GRPC, need this for my current project.

[2018-12-28 10:22] samanta-amit opened #17602 "grpc_cpp_plugin missing"
### What version of gRPC and what language are you using?

Latest version

### What operating system (Linux, Windows, …) and version?

Linux

### What did you do?

Tried to run the cpp helloworld example.

### What did you expect to see?

Expected make to complete successfully.

### What did you see instead?

make can not find the grpc_cpp_plugin

  ~/git/grpc/examples/cpp

 DEPENDENCY ERROR

You

[2018-12-28 15:42] apolcyn commented on #17594
Ack. both the google-protobuf and grpc binary package builds need to update to also build for ruby 2.6.

Workaround for the time being is to build from source.

E.g., on ruby 2.6

[code]

will fetch and build `google-protobuf` (3.6.1 currently) and `grpc` (1.17.1 currently) gems from source.... which will then allow these packages to be used o ruby 2.6

[2018-12-28 16:05] ericgribkoff commented on #17602
As described in our [C++ Quickstart](https://grpc.io/docs/quickstart/cpp.html#prerequisites), you need to [build and install gRPC](https://github.com/grpc/grpc/blob/master/src/cpp/README.md#make) and Protobuf to run the example code. The error you are seeing is because the necessary gRPC and protobuf libraries are not yet installed.

[2018-12-28 16:05] #17602 closed

[2018-12-28 20:30] apolcyn opened #17604 "Drop support for ruby 2.0 and 2.1"
Tentatively planning to drop support for 2.0 and 2.1 after or as a part of https://github.com/grpc/grpc/issues/17594

Ruby 2.0 and 2.1 have been officially unsupported for some time now.

The plan for dropping support here would involve:
  1) stop producing ruby-2.0 and ruby-2.1 compatible binary grpc packages, i.e., the only possibly way to use grpc on ruby 2.0 and ruby 2.1 will be to build from

[2018-12-28 20:36] dazuma commented on #17604
I would consider dropping 2.2 as well. It is also officially unsupported by ruby-core. This would bring grpc in line with our support policy for the client libraries.

[2018-12-28 23:30] therc commented on #17569
I'm trying to prevent overloaded servers from
1. running out of memory
1. getting killed while still processing requests

`maximum_concurrent_rpcs` takes care of the first.  Under heavy load, queued up RPCs might actually fail, in a way, e.g. if the deadline is exceeded because of excessive backlog.

When running the server under Kubernetes, you can use two different kinds of health checks:
1. rea

[2018-12-28 23:39] apolcyn commented on #17594
@breisig working on it. Note this will probably need to come with a drop of binary package support for ruby 2.0 and 2.1 - (#17604)

[2018-12-29 04:40] ericgribkoff commented on #17569
Thanks for the detailed explanation. That seems like a very reasonable use case and one that we should support.

From a look over our code, it appears that the necessary machinery to support multiple completion queues is already present in our Cython layer, wrapped around gRPC's core API. The Python layer (`_server.py`) will need to be modified to actually instantiate multiple queues, and we will

[2018-12-29 20:57] nicolasnoble commented on #17422
No, it's not a blocker.

[2018-12-30 19:40] samanta-amit commented on #17602
Thanks for the information. However, I have followed those instructions, but still I am getting that error.

[2019-01-01 12:47] jtattermusch commented on #15599
The kokoro workers have been switched to Macos High Sierra images and the problem seems to have gone away (based on analysis of test results of the last 10 days of test runs on master).
There are a few test cases that occasionally fail on macos, but that set is much more well-defined than the pattern of various C tests randomly failing we used to see before. I'll close this issue as resolved.

[2019-01-01 12:47] #15599 closed

[2019-01-02 07:59] jtattermusch commented on #17596
This seems to be a random test flake.

[2019-01-02 08:30] PawelWitak commented on #17587
Can anyone help me?

[2019-01-02 09:59] ErCollao commented on #17594
Any news on when ruby 2.6 will be supported?

[2019-01-02 13:19] jtattermusch commented on #15363
@EkremH  looks like you should be able to use the community-provided  conan package here:
https://github.com/inexorgame/conan-grpc/blob/testing/1.17.2/conanfile.py

I haven't tried the package myself but it seems like others have been using it.
@Croydon  is there any way to see the usage statistics for the conan package you created? If it is used successfully by users and it works for them, we'd b

[2019-01-02 13:52] badc0re commented on #16636
Any chance of this getting fixed soon, or any other way to check it?

[2019-01-02 17:10] gnossen commented on #17572
https://github.com/grpc/grpc/pull/17580 was merged to master. You can now simply

[code]

This functionality will be included in 1.18 very soon.

[2019-01-02 17:10] #17572 closed

[2019-01-02 18:49] jtattermusch commented on #17463
Still failing on windows (failing 24% of dbg builds and 12% of opt builds), currently our top test flake.

Recent occurrences:
https://source.cloud.google.com/results/invocations/caca685a-23c7-4bda-9165-62bdc7d3b98b
https://source.cloud.google.com/results/invocations/8f8c1552-7693-4ae5-a44c-e6d3e02186fd
https://source.cloud.google.com/results/invocations/fb2b6986-aaef-4e35-91e5-905ed9733737
https:

[2019-01-02 18:54] jtattermusch commented on #17463
First occurrence I found is from Dec 06 (both for opt and dbg, so this is very likely a regression)
dbg: https://source.cloud.google.com/results/invocations/6f0e4f2d-6672-4af5-bed2-3be01f55ede1
opt: https://source.cloud.google.com/results/invocations/873d667a-424d-4dbb-8ce0-0bbaec58b03b

[2019-01-02 19:18] jtattermusch commented on #17463
I looked at the merge history and here's some potential offenders:
https://github.com/grpc/grpc/pull/17395
https://github.com/grpc/grpc/pull/17401
https://github.com/grpc/grpc/pull/17343

@markdroth   @soheilhy  can you take a look?

[2019-01-02 19:56] jtattermusch commented on #16856
I'm not sure if we wan't to fragment the installation to support both values of `gRPC_BUILD_CODEGEN` (it adds extra complexity). What is the motivation for building with gRPC_BUILD_CODEGEN=OFF?

[2019-01-02 20:02] sagamusix commented on #16856
From what I remember, without `gRPC_BUILD_CODEGEN=OFF`, various targets don't (or didn't at the time this was reported) compile when cross-compiling e.g. for iOS arm64 on Darwin x64.

[2019-01-02 20:09] jtattermusch commented on #17497
I'm not sure how useful it is to measure the time until the response gets sent out by the server to the client (what does it mean exactly? Until all the bytes are sent to the write() syscall?). This metric also doesn't tell you much about how quickly the client actually gets the response. It seems you should just measure on the client (start stopwatch before sending the request and stop after rece

[2019-01-02 20:09] #17497 closed

[2019-01-02 20:45] jtattermusch commented on #17458
Does ".NET Core SDK (recent enough to support C# 7.3) with <LangVersion>latest</LangVersion> in the project file." imply that this is specific to C# 7.3 or have you observed for other C# versions as well?

[2019-01-02 22:00] jtattermusch commented on #17463
@soheilhy  I bisected this down to a PR authored by you, please take a look.
[code]
tools/run_tests/run_tests.py -l c -c dbg -r 'h2_http_proxy_nosec_test.*hpack_size' -n 15
[code]

[2019-01-02 22:30] kkm000 commented on #17458
@jtattermusch, the C# language version is only important to enable the `async Main`, that requires language spec version 7.1, while the default is 7.0. This only affects a compiler flag (akin to `-std=c++17` to gcc), while the compiler is tied to/comes with the SDK. But I'd bet it's not the compiler issue.

@jskeet, could you please check if sockets are leaked when the error occurs? That was what

[2019-01-02 22:35] jskeet commented on #17458
@kkm000: I'll look tomorrow. Do you have a preferred way of checking for socket leakage?

(I'd previously had `GC.WaitForPendingFinalizers()` in the code, but I *think* it didn't change how often the exception occurred. Will check that too.)

[2019-01-02 23:49] soheilhy commented on #17463
Sorry about the issue, let's revert this. I'm just back, and will try to upload a new version with a fix. My guess is that it's because of relaxed atomics, which has a different implementation on windows.

[2019-01-03 01:44] apolcyn commented on #17594
Update: in one edge case, grpc actually appears to be broken by a ruby-2.6.0 behavior change. Filed https://bugs.ruby-lang.org/issues/15499 against ruby-lang

That bug affects scripts that look like this:

[code]

or

[code]

...when the blocking operations in those scripts are interrupted, the `rb_thread_call_without_gvl` "signal handler" unblocking funcs, on ruby 2.6.0, aren't getting invoked, a

[2019-01-03 01:59] kkm000 commented on #17458
AFAICR, quoting the two-years-younger myself,

So the socket was not closed in a call to `client.ShutdownAsync().Wait()`, and netstat listed it as CONNECTED. I do not remember if the Wait call on it blocked forever, or rather simply returned without closing the socket--I think the latter had been the case, but I am wobbling. I'm certain I used netstat.

Oh, I wish I could remember all the fine poi

[2019-01-03 02:50] Jesse1205 opened #17616 "grpc C# server crash"
### What version of gRPC and what language are you using?
 c#

### What operating system (Linux, Windows, …) and version?
 1.8.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
 install from nuget

### What did you do?
 use the request / response mode

### What did you expect to see?

### What did you see instead?
 server crash like this

Make sure you include in

[2019-01-03 03:31] moonspirit commented on #17516
any update on this? i got the similar problem with v.1.17.x

simple code:
#include <iostream>
#include <unistd.h>
#include <grpcpp/grpcpp.h>
#include <grpcpp/alarm.h>
#include <grpc/support/log.h>
#include <grpc/support/time.h>
#include <thread>
#include "helloworld.grpc.pb.h"

using namespace grpc;

std::unique_ptr<Server> server;
std::unique_ptr<CompletionQueue> cq;

int main() {

  std::string

[2019-01-03 06:31] madhusameena opened #17618 "Is there any way to get the signal strength between server and client ?"
When we try to send and receive the data from server to client
I am interested to show the signal strength between them.
Assume both Server and Client are connected to some WiFi hotspot.

[2019-01-03 08:41] bitlkoskela commented on #14653
We're also still seeing this occur daily on GKE and .Net Core 2.1. Is [src/core/lib/iomgr/resolve_address_posix.cc](https://github.com/grpc/grpc/blob/9bc6cd1a72b0493f7786c6458d26d621a10befb0/src/core/lib/iomgr/resolve_address_posix.cc#L108) the only place where the status message `OS Error` can be generated? So is this DNS-related? Is there any way to extract more information about the error?

[2019-01-03 10:07] jskeet commented on #17458
Just reran my tests:

- No warning or error logs
- No leaked sockets, as far as I can tell. (Over the course of the whole test, netstat showed a single socket for the process)

[2019-01-03 15:20] jtattermusch opened #17619 "All macos tests failing on master: Error installing bundler"
[code]

https://source.cloud.google.com/results/invocations/e06080fd-81c0-48db-87f8-023aa3ca00a8/log

Same for all other macos jobs as this problem is in the prepare script:
https://github.com/grpc/grpc/blob/8f5bda6de95f8948ab97084f2bbad6c6f5aec606/tools/internal_ci/helper_scripts/prepare_build_macos_rc#L45

[2019-01-03 17:00] apolcyn commented on #17619
The `bundler` ruby gem just released version https://rubygems.org/gems/bundler/versions/2.0.0 .... which drops support for ruby < 2.3 and rubygems < 3.0.0. I think these artifact builders need to be updated

[2019-01-03 17:21] apolcyn commented on #17619
Pinning bundler to 1.17.3 in these problematic places, in https://github.com/grpc/grpc/pull/17607

[2019-01-03 18:10] #17145 closed

[2019-01-03 18:48] PawelWitak commented on #17587
I have managed to find the same issue on Unity forum, so maybe this [link](https://forum.unity.com/threads/grpc-call-interceptors-are-not-supported-on-il2cpp.585583) will allow someone to understand the problem.

[2019-01-03 19:07] dankegel opened #17620 "grpc fails to compile if previous version installed;"
### What version of gRPC and what language are you using?

v1.17.1, c/c++; the previously installed version is v1.15.1.

### What operating system (Linux, Windows, …) and version?

Linux (ubuntu 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 7.3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and incl

[2019-01-03 22:05] lidizheng opened #17622 "Bazel for gRPC Python development"
Bazel has been around with gRPC for a while, and the gRPC Python has adopted Bazel last summer. It's time to see what is missing to use Bazel for gRPC Python development builds.

Let's recap how to test with Bazel:
[code]

Currently, here are the pending features for Bazel:
* Test with Python 3 (Bazel & Python 3 integration is really hard to get it right)
* Enable all the test cases
* **REQUESTED*

[2019-01-03 22:40] #17594 closed

[2019-01-03 22:56] apolcyn commented on #17594
Should be fixed by #17607

Packages will now have pre-compiled binaries on ruby 2.6, so `gem install grpc` on ruby 2.6 should just work (note the issue described above that affects signal handling though, which looks like it will be fixed upstream).

An official release with 2.6 support will be in 1.18, in about two weeks, with 1.18 pre-releases in the next few days. The [nightly](https://packages

[2019-01-03 23:00] yashykt opened #17625 "Interop Cloud to Prod Tests Failing - cannot lock ref 'refs/heads/jenkins-docker': reference already exists"
Seen on #17609

[code]

https://source.cloud.google.com/results/invocations/071213b3-bd97-4460-947f-197fdc6737bd/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

Might be a transient thing caused by another issue.

[2019-01-03 23:20] apolcyn commented on #17619
fixed by #17607

[2019-01-03 23:20] #17619 closed

[2019-01-04 07:52] NicoleRobin opened #17631 "when http_proxy's value is empty, i got an error"
https://github.com/grpc/grpc/blob/a9aec34d08e207400a2303d48ecc079a51709d88/src/core/ext/filters/client_channel/http_proxy.cc#L58
![image](https://user-images.githubusercontent.com/10753813/50678035-cd974780-1037-11e9-834f-25a4e0a16d36.png)

after i execute unset http_proxy, i fixed the error,but i think set empty value to http_proxy is equal to unset http_proxy,am i wrong?
Thank you for reply

[2019-01-04 08:07] cq-z opened #17632 "docker php7.3 Segmentation fault (core dumped)"
dockerfile

[code]

[code]

[2019-01-04 09:00] jtattermusch commented on #17563
The fix #17586 is going to be in the upcoming v1.18.0 release https://github.com/grpc/grpc/blob/master/doc/grpc_release_schedule.md

[2019-01-04 09:00] #17563 closed

[2019-01-04 09:05] jtattermusch opened #17633 "ruby interop build failing all linux interop tests on master"
This issue remains after fixing https://github.com/grpc/grpc/issues/17619.

https://source.cloud.google.com/results/invocations/f822450f-75f0-4f3f-a3ea-c7f9b0f9c47d/targets/github%2Fgrpc%2Finterop_docker_build/tests
https://source.cloud.google.com/results/invocations/d6055fdd-a0a6-4695-a27b-bd8ef7224671/targets/github%2Fgrpc%2Finterop_docker_build/tests

[code]

[2019-01-04 10:22] maxwell130631 opened #17636 "Cross Compiling helloworld: gRPCTargets.cmake missing"
### What version of gRPC and what language are you using?
 1.17.1,  eedcd2a7817

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
for compiling on raspberry:
gcc version 6.3.0 20170516 (Raspbian 6.3.0-18+rpi1+deb9u1)
for cross compiling:
 gcc-linaro-6.4.1-2018.05-x86_64_arm-linux-gnueabihf

### What

[2019-01-04 12:48] HaoLiuHust opened #17637 "How to archive grpc libs into a shared library?"
I have compile grpc to static library, now I want warpper some function into a shared library. For user who use my so, I don't want to ship many grpc library with it, but now, if I do not ship gprc related .a library, there will be a lot of undefined reference error when use this so to do other things. How could I do this?

[2019-01-04 14:32] #17633 closed

[2019-01-04 14:56] jtattermusch commented on #17616
Sorry, but this report contains no useful information I could use for debugging (it basically says "I used gRPC and it crashed"). Without further details I can only close.

[2019-01-04 14:56] #17616 closed

[2019-01-04 15:00] jtattermusch opened #17638 "Build at boringssl's head is broken"
https://source.cloud.google.com/results/invocations/db8ea5c2-c249-49a7-99cf-6c03ce2b6f18/targets

[code]

[2019-01-04 15:01] jtattermusch commented on #17638
Is boringssl now requiring pkgconfig to build?

[2019-01-04 15:08] jtattermusch commented on #17638
It looks like that the problem was introduced here: https://github.com/google/boringssl/compare/3c79ba815..5f85f2a061d5eeee330e3a1789ffd4da014b5b5d, but none of those two commits look very suspicious.

[2019-01-04 16:05] davidben commented on #17638
Oops, sorry about that. I assumed that Linux systems always had pkg-config and that `find_package(PkgConfig REQUIRED)` only meant the `PkgConfig` CMake package was available, not that pkg-config itself was there. Seems both of those were false. I'll see about fixing that.

[2019-01-04 16:09] davidben commented on #17638
(Except Adam beat me to it. :-) https://boringssl-review.googlesource.com/c/boringssl/+/34124 )

[2019-01-04 16:42] soheilhy commented on #17463
With Jan's help, I can finally reproduce the issue on a cloud VM. The problem is a real race AFAICT. I think it's fixable, and hopefully I can send an alternative commit soon.

[2019-01-04 18:03] sanjaypujare commented on #17463
@soheilhy how soon will you be sending your alternative commit? I am wondering if this should be added to the upcoming 1.18.x release or not? If everyone agrees we don't need to rush this into 1.18.x I would like to remove the priority/P1 label

[2019-01-04 18:06] soheilhy commented on #17463
@sanjaypujare I have a working patch and will mail in an hour, but most folks are OOO. This is not urgent, so we don't need to get the fix in the release. Sounds good to remove P1 lablel.

I believe the revert (#17612) would be in the release. We probably need to backport the revert to all releases that have my buggy commit. Thanks!

[2019-01-04 18:16] sanjaypujare commented on #17463
Yes, #17612 is slated to be in 1.18.x . I don't know what the process is for doing patches of old releases. If you can easily tell which older releases have the buggy commit, could you post the list here? Also removing the P1 label...

[2019-01-04 18:21] #17595 closed

[2019-01-04 18:22] soheilhy commented on #17463
I just checked and I don't see any tag containing the buggy pull request:
[code]

So, I think we should be all set if it's in 1.18.x. Then the PR also doesn't need to be included in the release notes.

[2019-01-04 22:00] yashykt commented on #17618
You can potentially use another utility to check the signal strength and send that as data as part of the RPC, but gRPC itself does not provide a way to check the signal strength.

[2019-01-04 22:00] #17618 closed

[2019-01-04 22:01] yashykt commented on #17631
Currently, an empty value of http_proxy is not equal to unset, but we can change that.

[2019-01-04 23:16] maxw commented on #17516
Still having the issue on our end :S

[2019-01-05 02:16] mehrdada commented on #17622
Can we merge the Bazel BUILD files for tests into a single file? I believe that's how we did it internally as well. The way it's done now makes it hard to use for people wanting to import it to monorepos (with things like copybara, etc).

[2019-01-05 02:33] lidizheng commented on #17622
@mehrdada Sounds good! Added to the description.

[2019-01-05 13:13] kkm000 commented on #17458
@jskeet, thanks for checking.

I played with the code a bit. I repro the exception, but the reproduction is very inconsistent; once I got the exception reported on iteration 20, then in the hundreds, then not at all. I reduced the wait, added/removed WaitForPendingFinalizers(), but this does not seem to affect it much.

Interesting, I cannot compare the behavior against what I originally reported.

[2019-01-05 13:16] kkm000 commented on #17458
Huh, and
[code]
prints
[code]
Weird.

[2019-01-05 20:31] azat commented on #14844
Maybe it will be better to use [`define`](https://stackoverflow.com/a/7040400/328260)?

[2019-01-05 22:48] azat commented on #14844
And FWIW:

[`make`](https://savannah.gnu.org/bugs/?18396) installs `RLIMIT_STACK` to `RLIM64_INFINITY` and because of this new threads will be created with default limit (2mb for `x86_64`, according to `pthread_create`(2)) instead of inheriting limit from the parent (which will be 8mb), and since after this [patch](https://lkml.org/lkml/2017/11/1/1040) linux limits length for argv to 25% of the st

[2019-01-06 02:10] Croydon commented on #15363
Bintray logs downloads, but this is in no way representative for real interest in a grpc Conan recipe, since
  * it is right now only within the repository of Inexor and not [conan-center](https://bintray.com/conan/conan-center) or @bincrafters, so it has very little exposure and discoverability
    * since you have shown interest in Conan support I don't like to move it to bincrafters (even thoug

[2019-01-06 03:04] Croydon commented on #17438
Hi @Siron777!
Since you are using grpc via Conan may I ask which recipe you are using?

Also for the case you didn't see it yet: #15363

[2019-01-06 19:50] jeryini commented on #17452
I was also quite surprised when I saw that sleep call in the example. Please do implement the Wait method.

[2019-01-07 02:11] NicoleRobin commented on #17631
ok, thanks

[2019-01-07 07:51] unrstuart opened #17645 "grpc 1.17.2 won't build with bazel-0.21.0"
grpc 1.17.2
Linux amd64

you can't just run bazel build -c opt :all, you have to specify an additional flag (which one shouldn't have to do, and which will break in future bazel releases)

[code]

Passing an additional flag seems to solve the problem.

[code]

[2019-01-07 10:34] jtattermusch commented on #17463
After reverting (https://github.com/grpc/grpc/pull/17612) the issue seems gone, this issue can be closed.

[2019-01-07 10:34] #17463 closed

[2019-01-07 13:33] jaaant opened #17646 "Channel gets stuck on duplicates in root certificate list"
### What version of gRPC and what language are you using?
 1.17.1, C++

### What operating system (Linux, Windows, …) and version?
 Windows 10, Windows 8

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio Professional 2017, version 15.6.2

### What did you do?
 We read certificates from Windows root certificate store and used them as root certificates

[2019-01-07 16:46] ericgribkoff commented on #17569
Quick update: I've added implementing this feature to my todo list for this quarter (community contributions are always welcomed as well :))

As far as the API goes, @lidizheng suggested adding an optional "annotation"/member to the servicer that, when present, provides a service-specific `futures.ThreadPoolExecutor` to gRPC Python for handling that service's RPCs. Whether each such servicer gets

[2019-01-07 17:33] yihuazhang commented on #17646
Thanks @jaaant for reporting the issue.

1) When you say "duplicates", does it mean those certificates have the same content or different contents but for the same CA? In both cases, if all "duplicate" certificates are valid, I do not think there will be a problem. But, the problem happens when one of them is invalid (e.g., expired), and that's the one used for validation.

2) gRPC also ships its

[2019-01-07 18:52] yihuazhang commented on #17646
Let me take back my argument on #1. In `ssl_transport_security.cc`, it uses `X509_STORE_add_cert` to add each root certificate to the cert store, and if there is any duplication in contents,  `x509_store_load_certs` will return an error. So I assume in your use case, all duplicates will have the same contents.

[2019-01-07 19:48] allevato opened #17649 "Bazel build is broken on macOS"
### What version of gRPC and what language are you using?

Clone from master.

### What operating system (Linux, Windows, …) and version?

macOS 10.13.6

### What runtime / compiler are you using (e.g. python version or version of gcc)

Xcode 10.1

### What did you do?

In the workspace directory, run `bazel build :all`.

### What did you expect to see?

Successful build.

### What did you see ins

[2019-01-07 23:30] apolcyn commented on #17594
grpc `1.18.0.pre1` was published today, which will load pre-compiled library on ruby 2.6. However, at the moment, note that you'll need to install the `google-protobuf` gem from source when using ruby 2.6

[2019-01-08 02:01] panjxgithub opened #17657 "Thread grpc_global_timer has high cpu usage"
### What version of gRPC and what language are you using?
 v1.11.0 ,   C/C++

const char* grpc_version_string(void) { return "6.0.0"; }

### What operating system (Linux, Windows, …) and version?
 linux, ppc e500v2   32bit cpu

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 4.9.3

### What did you do?
ONLY call grpc_init

### What did you see instead?
CPU  h

[2019-01-08 08:53] Siron777 commented on #15363
At the request of Croydon (from the issue #17438), the recipe we are using in my company is the following one:

`from conans import ConanFile, CMake, tools
import os,sys;

class gRPCConan(ConanFile):
    name = "gRPC"
    version = "1.16.0"
    license = "MIT"
    url = "https://grpc.io/"
    description = "gRPC"
    settings = "os", "compiler", "build_type", "arch"
    options =   {

[2019-01-08 09:19] Croydon commented on #15363
@Siron777 Thanks for sharing!

@Bincrafters don't have a grpc recipe. I'm part of Bincrafters, but we will go with the strategy that we want to bring it to a mature state at the [Inexor repository](https://github.com/inexorgame/conan-grpc) and then we would like to see official support upstream 😄

Please consider contributing [to the recipe](https://github.com/inexorgame/conan-grpc)

[2019-01-08 10:55] zhanp opened #17659 "Python gRPC SO_REUSEPORT doesn't work with gevent"
### What version of gRPC and what language are you using?

grpcio==1.17.1 & grpcio-tools==1.17.1 with python 2.7.5

### What operating system (Linux, Windows, …) and version?

CentOS 7 Linux 3.10.0-862.el7.x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)

python 2.7.5

[GCC 4.8.5 20150623 (Red Hat 4.8.5-36)] on linux2

### What did you do?

I tried to run a

[2019-01-08 16:59] P-tan opened #17661 "Grpc.Tools causes a build error when .proto file name contains dot"
### What version of gRPC and what language are you using?

Grpc 1.17.1
Grpc.Core 1.17.1
Grpc.Tools 1.17.1

Language: C#

### What operating system (Linux, Windows, …) and version?

Windows 10 Pro 1803 64bit

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET Core SDK 2.1.502

### What did you do?

I tried to build .proto  which file name contains dot(e.g. hello

[2019-01-08 17:11] jtattermusch commented on #15610
This issue seem to be the root cause:
https://github.com/moby/moby/issues/38491

Also see internal bug (b/109797594)

[2019-01-08 17:21] jtattermusch commented on #17661
CC @kkm000

[2019-01-08 18:48] yihuazhang commented on #17646
Could you please try #17664, and see if the problem goes away?

[2019-01-08 19:18] jtattermusch commented on #17422
I think the PR that @nicolasnoble  mentions here https://github.com/grpc/grpc/issues/17422#issuecomment-444934090 is https://github.com/grpc/grpc/pull/17385

[2019-01-08 19:52] #16928 closed

[2019-01-08 20:00] billfeng327 commented on #17422
Is it somehow related to this issue? [#6694](https://github.com/bazelbuild/bazel/issues/6694)

[2019-01-08 23:53] rodaine commented on #17414
Sorry for the delay in response! Can't say if it's documented somewhere, but we use requests extensively with gevent. In any case, you can reproduce this with any of the 4 packages listed at the end of the issue.

[2019-01-09 01:09] ejona86 commented on #16210
:-/ Keepalive should not have been exposed to users without this... This would have been a blocker for exposing the feature.

[2019-01-09 01:09] ejona86 opened #17667 "c-core seems to send aggressive keepalive PING even when not enabled"
The problem was reported for a Python client talking to a Java server: grpc/grpc-java#5188 . The Java server was killing the connection to the client with too_many_pings. The initial comment and the gist at https://github.com/grpc/grpc-java/issues/5188#issuecomment-450033544 are pretty useful.

In short, I don't see any configuration on client-side to enable keepalive (the user linked to the code)

[2019-01-09 05:08] kkm000 commented on #17661
Reproduced. Thanks for the report!

[2019-01-09 07:43] strongman1995 opened #17669 "C++:async client-streaming assertion failed: GRPC_CALL_OK == g_core_codegen_interface->grpc_call_start_batch"
### What version of gRPC and what language are you using?

  C++ with gRPC 1.17.0
### What operating system (Linux, Windows, …) and version?
  Ubuntu14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
  gcc (Ubuntu 4.8.4-2ubuntu1~14.04.4) 4.8.4

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code sni

[2019-01-09 08:40] jaaant commented on #17646
That does seem to fix the problem.

[2019-01-09 09:46] #15610 closed

[2019-01-09 10:05] strongman1995 commented on #17669
I have no idea how to code a correct async client-streaming client... could someone give a runnable simple example how to use ClientAsyncWriter.

[2019-01-09 10:37] strongman1995 commented on #17669
I strongly recommend adding three kinds of streaming mechanism with asynchronization to example

[2019-01-09 12:52] fenos opened #17670 "Dedicated Slack channel"
Hi there!

I was wondering why there isn't a dedicated **Slack Team** where, the community and gRPC members could speak and troubleshoot gRPC all together in real-time or near.

A good list of channel for the start could be:

- General
- Announcements

- gRPC C++
- gRPC Java
- gRPC Python
- gRPC NodeJS
- gRPC {any other language}

- gRPC-Web

- protocol buffer
- protobuf.js
- protobuf {any languag

[2019-01-09 15:04] nlopezgi commented on #17422
These RBE builds are running using an old toolchain config that is not compatible with Bazel 0.20.0 (note the error points out that `@com_github_bazelbuild_bazeltoolchains//configs/ubuntu16_04_clang/1.1/**bazel_0.16.1**/default:toolchain` was used).
You need to update to the latest pin of the bazel-toolchains repo (https://releases.bazel.build/bazel-toolchains.html) and use the recommended toolcha

[2019-01-09 16:46] unrstuart commented on #17645
seems like it

On Tue, Jan 8, 2019 at 6:29 PM Jan Tattermusch <notifications@github.com>
wrote:

[2019-01-09 17:37] Falco20019 opened #17672 "Grpc.Tools doesn't support same filename in different folders"
### What version of gRPC and what language are you using?
Grpc.Tools 1.17.1

### What operating system (Linux, Windows, …) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
C# MSBuild

### What did you do?
One project with two protos having the same filename but in different folders.

[code]

### What did you expect to see?
The code should c

[2019-01-09 18:25] jtattermusch opened #17674 "All macos tests failing on master: rvm problem"
https://source.cloud.google.com/results/invocations/1db967ff-0b48-496a-97a4-e963886f4fb6/log

[code]

this seems to be related to the rvm setup here:
https://github.com/grpc/grpc/blob/3a59faf632427f26bc8dceed46c1fe748fd7df3c/tools/internal_ci/helper_scripts/prepare_build_macos_rc#L41

[2019-01-09 18:30] jtattermusch commented on #17638
This seem fixed now. thanks!

[2019-01-09 18:30] #17638 closed

[2019-01-09 18:34] jtattermusch commented on #17625
AFAIK this is caused by  multiple docker image builds running in parallel and they race when trying to create the `jenkins-docker` ref.
https://github.com/grpc/grpc/blob/97453a3d81185c76cc870e732af3c72438e620f0/tools/run_tests/dockerize/build_interop_image.sh#L94

I think `git branch -f jenkins-docker` is there to silence the warning that we are in detached mode (and thus shorten the logs).

I thi

[2019-01-09 18:36] muxi commented on #17657
It's would be surprising that this just started to happen recently? Have you been using this version for a long time?

[2019-01-09 18:36] apolcyn commented on #17674
strangely, this is only happening on master, but `pull_request` jobs look green. Looking so far like a homebrew issue similar to https://github.com/Homebrew/brew/issues/4261

[2019-01-09 18:36] #17646 closed

[2019-01-09 18:45] jtattermusch commented on #17556
Friendly ping. This is still failing 100% runs of portability suite.

[2019-01-09 18:46] muxi commented on #17637
I'm not expert in this but I think there are two ways to do this. Either you need to statically link grpc into your .so, or the user needs to install grpc (and your .so dynamically links to grpc which I assume you already have it).

[2019-01-09 18:49] #17631 closed

[2019-01-09 19:00] billfeng327 commented on #17422
[#17678](https://github.com/grpc/grpc/pull/17678) created, local bazel manual build did not prompt the same error but prompted some other unrelated error. I believe it resolved the toolchains correctly.

[2019-01-09 19:31] jtattermusch commented on #17645
#17590 was merged, I thinks we can close now.

[2019-01-09 19:31] #17645 closed

[2019-01-09 21:30] guantaol opened #17680 "Test flake: h2_sockpair_1byte_test@max_message_length@poller=poll-cv"
https://source.cloud.google.com/results/invocations/1941929c-f199-448b-97d4-c93dd6ba2d03/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_sockpair_1byte_test@max_message_length@poller%3Dpoll-cv/log

In `Bazel RBE Opt C/C++`:

[code]

[2019-01-09 21:31] guantaol opened #17681 "Test flake: channelz_service_test@poller=epoll1"
https://source.cloud.google.com/results/invocations/7377d0a5-0290-4ad8-8145-826a552aa2af/targets/%2F%2Ftest%2Fcpp%2Fend2end:channelz_service_test@poller%3Depoll1/log

In `Bazel RBE TSAN C/C++`:

[code]

[2019-01-09 22:20] yashykt commented on #17667
I'm unclear too. If keepalive is disabled, the client would not be sending keepalive pings

[2019-01-09 22:31] ejona86 commented on #17667
I just noticed, the pings are exactly 5 seconds apart:
[code]

[2019-01-10 01:42] HaoLiuHust commented on #17637
I have static link grpc into my .so, however, there are many undefined reference error when use this so alone. After some search, it seems static library can only be static linked to a execuable file, is that right?

[2019-01-10 02:01] muxi commented on #17637
From your description

I don't think you have statically linked the grpc archive. I have not done it before but from a brief search pages like [this](https://stackoverflow.com/questions/14889941/link-a-static-library-to-a-shared-one-during-build) suggest that linking static library to a shared library is possible.

[2019-01-10 10:20] jtattermusch commented on #17564
This is where protobuf has switched from `REPOSITORY_NAME` to `repository_name()`: https://github.com/protocolbuffers/protobuf/pull/4650

[2019-01-10 13:34] jtattermusch commented on #17674
Looks like #17682 have helped, test are now green on master. Thanks!

[2019-01-10 13:34] #17674 closed

[2019-01-10 13:49] spl0i7 opened #17685 "Python : error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED."
### What version of gRPC and what language are you using?
 1.17.1

### What operating system (Linux, Windows, …) and version?
 Linux (Debian Buster)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.2

### What did you do?
I am trying to write Grpc client in python for a Grpc server written in go. My client code looks like

[code]
but for some reasons it

[2019-01-10 16:35] ronnylt commented on #13724
Is there any workaround for this?  As commented, all services are generated in the base output folder.

[2019-01-10 16:38] Falco20019 commented on #13724
Sadly none that I know off :( we still have to make sure ourselves that no one in any of our teams uses the same name

[2019-01-10 17:40] ronnylt commented on #13724
I wonder how they generate googleapis, see for example https://github.com/googleapis/google-cloud-dotnet/tree/master/apis/Google.Cloud.Bigtable.V2

[2019-01-10 19:58] ericgribkoff commented on #17659
Thanks for reporting this. It appears that our gevent code does not respect/set `SO_REUSEPORT`, as seen [here](https://github.com/grpc/grpc/blob/a554f44579b52a61891b19e3d77b23adc5e6a336/src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi#L243). I don't think the fact that `multiprocessing` is involved makes any difference: I modified your example code to `gevent.spawn` two gRPC servers in t

[2019-01-10 22:17] yang-g commented on #17669
This is working as intended.
You need to wait for the tag of the first Write to come back before issuing the next Write.

https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/async_stream.h#L112

[2019-01-10 22:17] #17669 closed

[2019-01-10 23:03] Falco20019 commented on #13724
@ronnylt This should be generated using [GAPIC](https://github.com/googleapis/gapic-generator/blob/master/README.md). Also based on protoc but using a separate generator plugin.

[2019-01-10 23:08] #13412 closed

[2019-01-11 01:55] HaoLiuHust commented on #17637
@muxi I have tried this, but many mult-definition error occured

[2019-01-11 02:06] apolcyn commented on #17436
https://github.com/grpc/grpc/pull/17688 in progress FYI - I think this suggestion works well, but making one simplifying tweak to skip the `ares_timeout` calls.

[2019-01-11 02:59] spl0i7 commented on #17685
Go has better error reporting mechanism, tells exactly what's wrong but python's error response is bit cryptic and difficult to understand.

[2019-01-11 03:20] Chaz6Chez commented on #15334
PHP can use dl() to introduce grpc extension, which will be called after fork

[2019-01-11 03:49] jiangtaoli2016 commented on #17685
@srini100 Can someone in your team reproduce the error first? The error message is a generic handshake error indicating certificate is not correct. It is hard to tell without reproducing.

[2019-01-11 07:12] jrayga opened #17694 "Pre-built binaries not found for grpc@1.7.2 and node@10.15.0"
### What version of gRPC and what language are you using? ( grpc@1.7.2 )

### What operating system (Linux, Windows, …) and version? ( Ubuntu 18.04 )

### Anything else we should know about your project / environment? ( Angular 5 Project with Firebase )

I got this error when running npm install in my project.

node-pre-gyp ERR! Tried to download(403): https://storage.googleapis.com/grpc-precompil

[2019-01-11 08:10] #17564 closed

[2019-01-11 08:19] jtattermusch commented on #17422
Fixed by #17678 and #17684

[2019-01-11 08:19] #17422 closed

[2019-01-11 10:15] robertmu opened #17695 "gRPC C++ Client Side Fork Support"
Do we have plans to do the following work?
1.  Support fork in ev_epollex_linux.cc like ev_epoll1_linux.cc?
2. make GRPC_POSIX_FORK_ALLOW_PTHREAD_ATFORK configurable when compiling c++ client?

[2019-01-11 18:33] murgatroid99 commented on #17694
That version of `grpc` is quite old, and does not support Node 10. You will have to use either a newer version of `grpc` or an older version of Node. Alternatively, you may want to try using `@grpc/grpc-js` if you only need a client. It is an alternative implementation of gRPC with the same API.

[2019-01-11 19:35] angoenka commented on #17667
Thanks for looking into it.
Let me know if more information is needed.

[2019-01-11 20:46] yashykt commented on #17667
@angoenka Can you please provide the entire log on the client side?

[2019-01-11 21:06] yashykt commented on #12977
Couldn't spend time on it the past year. Assigning to @apolcyn who has been been working on related stuff

[2019-01-11 21:16] apolcyn commented on #12977
It sounds like the client's host where this is happening has IPv6 enabled, e.g. it sounds like they have routability for the resolved IPv6 addresses which were problematic, but just that there are somehow problems with IPv6 connectivity the environment? Can we confirm that's the case? If it is, then just disabling IPv6 on that machine, if possible, is tempting. <i>In general</i>, (though it's poss

[2019-01-12 10:27] panjxgithub opened #17702 "interned_slice_ref assert log"
OS: linux 32bit
CPU:  arm
VERSION: 1.11.0
GRPC: client

when device startup , the assert happened.  the call stack  only has abort(), and the log is:
**E0108 13:14:15.918191360    7865 slice_intern.cc:76]         assertion failed: gpr_atm_no_barrier_fetch_add(&s->refcnt, 1) > 0**

I don't use the API directly.
GPRAPI grpc_slice grpc_slice_intern(grpc_slice slice);
GPRAPI grpc_slice grpc_slice_ref(

[2019-01-12 10:36] panjxgithub commented on #17657
Our team got the root cause.
When use grpc_core::ExecCtx->Now() to get the system time.  kernel use the soft-float， not the hard-float.
Add compile option,   -mabi=spe -mspe -mfloat-gprs=double -te500v2

[2019-01-12 10:36] #17657 closed

[2019-01-12 13:06] sergeant-wizard opened #17703 "BuildPackageProtos exits with code zero on failure"
### What version of gRPC and what language are you using?

1.17.1 python

### What operating system (Linux, Windows, …) and version?

Linux, ubuntu 16.04.1

### What runtime / compiler are you using (e.g. python version or version of gcc)

python 2.7.12, python 3.5.5

### What did you do?

[code]

[code]

output

[code]

exit code *0*

### What did you expect to see?

non-zero exit code

### What

[2019-01-12 17:46] spl0i7 commented on #17685
I figured out the problem, I was using [Certstrap](https://github.com/square/certstrap) to generate the certificate but looked over a fine detail, turns out that for self signed certificate issuer DN must match its subject [rfc5280](DN.http://tools.ietf.org/html/rfc5280#section-3.2). So I did exactly that and everything worked. Weird how go client worked without it though.

[2019-01-13 06:26] yulia-d opened #17704 "[.NET Core, Windows] gRPC server shutdown blocks if child process was spawned"
Running gRPC C# 1.17.1 under .NET Core on Windows.
One process starts a gRPC server and then spawns a child process. After having exchanged a few gRPC calls with yet another process it needs to close, but is unable to close the server gracefully - ShutdownAsync task never completes until the child process is killed, though in our use case that child process needs to stay up.

I understand that gRP

[2019-01-13 07:08] chakradarraju-strings commented on #15106
I'm affected by same problem, grpc doesn't resolve service in kubernetes.
Is this expected?

[2019-01-13 10:17] chakradarraju-strings opened #17705 "gRPC name resolution of kubernetes service failing in python client"
### What version of gRPC and what language are you using?
 gRPC version: 1.17.1
Python

### What operating system (Linux, Windows, …) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python3.6.7

### What did you do?
start a kubernetes grpc service
stub = ExampleStub(grpc.insecure_channel('k8s-service-name:port'))
stub.Call(message)

### What did you

[2019-01-13 11:57] gavinlinasd commented on #14145
I have the same issue for this. Especially when I need to depend on an external dependency @com_google_api to enable RESTful api for my grpc service.

[2019-01-13 15:52] prestonvanloon commented on #17472
I am having this same problem on linux. How was this resolved?

[2019-01-13 16:01] prestonvanloon opened #17706 "Cannot build grpc_cli"
### What version of gRPC and what language are you using?
 Master

### What operating system (Linux, Windows, …) and version?
 Linux - Ubuntu 18

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
Python 2.7.15rc1

### What did you do?
Followed the directions here: https://github.com/grpc/grpc/blob/master/doc/command_line_too

[2019-01-14 04:06] g-easy commented on #17564
Thanks! Top-of-tree grpc builds for me now.

[2019-01-14 04:54] madscientist42 commented on #10727
1) Not everything uses CMake (some use Autotools...to many's dismay)
2) Straight-up makefiles do _**NOT**_ work worth jack on cross-compilation.

I'd rather you'd do this "right" in the first place.  I can't get your CMake config files you generate to properly pick the right cross-compilation (You do **NOT** honor all the all of the needed things from a tools file or I'd have my problem fixed alre

[2019-01-14 15:58] moonspirit commented on #14899
I din't see much difference for my own c++ async benchmark code between grpc v.18 and v.1.6. roughly 13w/s qps for one thread stream ping-pong and 45w/s for 4 threads.

But the diagram show java performs much better than c++ which was really confusing.

[2019-01-14 16:49] madscientist42 commented on #17670
One wonders why they don't use a Gitter in the same manner.  It's available and up for them and would be tied to issues, commits, etc. from the project.

[2019-01-14 16:52] madscientist42 commented on #10727
(As an aside, the CMake Config mode package finders are broken quite horribly for **_ANY_** cross-compilation contexts...  You **_DO NOT_** go and presume ${CMAKE_CURRENT_LIST_FILE} is your path for everything...)

[2019-01-14 17:10] madscientist42 opened #17708 "gRPCTargets.cmake and gRPCTargets-noconfig.cmake are broken for cross compilation."
### What version of gRPC and what language are you using?

1.16.0  C++

### What operating system (Linux, Windows, …) and version?

Linux, Poky 2.5 (Sumo), Kernel version 4.9, aarch64

### What runtime / compiler are you using (e.g. python version or version of gcc)

GCC (7.3)

### What did you do?

Cross-compile a follow-on package dependent on gRPC that uses CMake to build with.   Cross-compilat

[2019-01-14 17:25] gnossen commented on #17705
Hi, @chakradarraju-strings. Could you please try setting the following environment variables within your client environment and post the results?

[code]

[2019-01-14 17:33] ericgribkoff commented on #17705
Duplicate of https://github.com/grpc/grpc/issues/15106, let's move discussion to that open issue

[2019-01-14 17:33] #17705 closed

[2019-01-14 17:35] ericgribkoff commented on #15106
@chakradarraju-strings Can you post details on how you're configuring and deploying your gRPC server on kubernetes?  There is a quickstart at https://cloud.google.com/endpoints/docs/grpc/get-started-kubernetes-engine, so comparing how your backend is setup to the instructions there may prove useful

[2019-01-14 18:07] #17625 closed

[2019-01-14 18:55] JohnVillalovos opened #17711 "Unable to pip install grpcio"
### What version of gRPC and what language are you using?
grpc = 1.17.1
python = 2.7.5

### What operating system (Linux, Windows, …) and version?
Oracle Linux Server 7.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7.5

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpfu

[2019-01-14 20:03] gnossen commented on #17711
I was able to reproduce with a centos 7.5 docker image. Try installing cython with `pip install cython` It appears as though we have a poor error message here. I'm looking into that.

[2019-01-14 20:07] JohnVillalovos commented on #17711
Sweet, it didn't fail after I re-ran the build with 'cython' installed.

Is there a way to mark 'cython' as a build dependency in the Python package? So pip knows to install it first.

[2019-01-14 21:14] gnossen commented on #17711
We actually do that depending on your build configuration.

After some investigation, I think the real issue here is an outdated version of setuptools. It looks like the yum `python-pip` package for centos 7.5 is installing setuptools `0.9.8`. I'm seeing some weird behavior out of this version when instantiating [`distutil.core.Extension`](https://docs.python.org/3/distutils/apiref.html#distutils.

[2019-01-14 21:47] bbarenblat opened #17713 "Evaluate supported operating systems for pthread_t cast safety"
[log_posix.cc currently defines `gettid`](https://github.com/grpc/grpc/blob/75b8b1e2c6a1e27167e288c858c35b389215d75a/src/core/lib/gpr/log_posix.cc#L33) as

[code]

[Per POSIX.1-2017](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/pthread.h.html), `pthread_self` returns `pthread_t`, so this is a cast from `pthread_t` to `intptr_t`.

It would be nice to know that this cast is safe. POSIX a

[2019-01-15 00:46] angoenka commented on #17667
@yashykt
Logs for one of the failing channel https://gist.github.com/angoenka/d3c56312323934557f2b9849789ff69a

[2019-01-15 01:01] yashykt commented on #17667
@angoenka That looks like the server side logs. Please share the client side logs. Please note that GRPC_TRACE environment variable would need to be set appropriately.
GRPC_TRACE=api,http,client_channel,channel should be enough

[2019-01-15 02:18] srini100 commented on #17685
@spl0i7, thanks for figuring this out. Opened an [issue](https://github.com/grpc/grpc-go/issues/2566) in gRPC-Go repo. Closing this.

[2019-01-15 02:18] #17685 closed

[2019-01-15 03:03] maxw commented on #17516
No luck hunting this bug down. Any ideas? Would love some insight.

[2019-01-15 05:16] madhusameena opened #17714 "CMake with C++ and iOS compatible"
Hi I am trying to build grpc based application
We have common logic in C++ (Using CMake)
And Swift based application for native iOS

While building grpc based libraries (CMake based) on mac which is compatible with mobile iOS (we use tool chain for this) - It is not able to find protoc and grpc installed applications

any clue how to build C++ CMake application with gRPC which should be compatible

[2019-01-15 08:51] 987410 opened #17716 ""Could not auto-detect platform"
Hi, Lemonn,

I followed your step, but got the error below. what 's wrong with that? THX a lot

                from src/core/lib/gpr/alloc.cc:19:
include/grpc/impl/codegen/port_platform.h:357:2: error: #error "Could not auto-detect platform"
 #error "Could not auto-detect platform"
  ^
include/grpc/impl/codegen/port_platform.h:392:2: error: #warning "GPR_PLATFORM_STRING not auto-detected" [-Werro

[2019-01-15 09:02] isengrim613 commented on #17353
This is no longer reproduced in 1.17.1.
However, I suspect that it COULD be a bug in my code that is causing this. (eg, not awaiting for the continuation task before catching/checking for the status)

[2019-01-15 09:05] chakradarraju-strings commented on #15106
Sorry, the cause was that the service was in a different kubernetes namespace. So name resolution failed. This got fixed after I moved the gRPC service into same namespace.

[2019-01-15 22:15] jlaws commented on #14173
@bimawa have you submitted individual PR's to fix each of those dependencies you listed?

Getting grpc working for tvos is also blocking [Firebase on tvos](https://github.com/firebase/firebase-ios-sdk/issues/10)

[2019-01-16 00:01] bimawa commented on #14173
@jlaws No, I haven’t. I found correct commits in my forks for each dependency and did some micro fixes and GRPC start to work for tvos. But Maintainers have to take my research result and I hope they be do work for support tvos.
because I haven’t some access to BoringSSL, and other nuance did’t give to me do PR..
Right @muxi ;) ?

[2019-01-16 00:10] AspirinSJL opened #17729 "All macos tests failing due to package installation failure"
https://source.cloud.google.com/results/invocations/9163b9b8-ec15-469a-84f5-2c574ec32165/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_objc_dbg/log

[code]

[2019-01-16 06:48] bimawa commented on #14173
@muxi I do some PR's. But...
Where can I save 'https://raw.githubusercontent.com/bimawa/boringssl/feature/supportTVOS/BoringSSL-GRPC.podspec'
file for our grpc library?

And I don't sure about Apple lib  apple/swift-protobuf#833 so I wanna help to do it correctly.

[2019-01-16 07:21] AngryLemonn commented on #17716
Hi,

The makefile for the las current version of GRPC says this:

When I wrote the issue and post the steps, I made a mistake with one flag. Change the step of `export GRPC_CROSS_COMPILATION=true` with `export GRPC_CROSS_COMPILE=true` and try again with a fresh grpc.

Regards,
J. A.

[2019-01-16 17:18] srini100 commented on #17637
Please post details on the steps you are following and the error log.

[2019-01-16 17:33] muxi commented on #17714
Did you install protoc? And how is cmake configured to use protoc? I feel using cmake with protoc is not much different from using any utilities installed in your system.

[2019-01-16 17:40] muxi commented on #14173
Thanks for the PRs.

file for our grpc library?

The podspec that gets uploaded is in [src/objective-c](https://github.com/grpc/grpc/tree/master/src/objective-c), but in gRPC it is generated from a template: [template/src/objective-c/BoringSSL-GRPC.podspec.template](https://github.com/grpc/grpc/blob/master/templates/src/objective-c/BoringSSL-GRPC.podspec.template).

[2019-01-16 18:21] apolcyn commented on #17706
Do you have an older version of `protoc` already installed on your system? The latest `grpc_ruby_plugin` (the piece of the build that's failing here) needs protoc 3.6 or later.

[2019-01-16 18:21] lidizheng commented on #17703
This behavior is introduced by https://github.com/soltanmm/grpc/commit/ebf81e7a0540a01079ac03661426cd3771664de7#diff-32f55eef2dbde5450848d136fa65ba7b. I agree with you that if the command exit with non-zero code, it should raise a exception.

[2019-01-16 20:23] gnossen commented on #15106
@sreddybr3 @NathofGod Name resolution is the likely candidate. Can you `kubectl exec` into the container running the grpc client and ensure you can resolve the server name with `nslookup` or `dig`? This may require installing a package within the container.

[2019-01-16 22:50] PawelWitak commented on #17587
Yep, it cannot be just static as static method cannot access instance fields. There is need to refactor more code, not only that one function. Hopefully @jsmouret your answer would be impuls for author to fix it.

[2019-01-17 00:03] bimawa commented on #14173
@muxi in my BoringSSL podspec 'prepare_commmand' has different body script. I think it's very important. Because I spent a lot of hours to find this worked version. How can we check it? Just I haven't skilled enough to check this body.
And second question, how can I compile templates for check it?

[2019-01-17 03:36] prestonvanloon commented on #17706
Yes.
[code]

[2019-01-17 03:44] prestonvanloon commented on #17706
I upgraded to 3.6.1 and I still have the same issue.

[2019-01-17 06:18] strongman1995 commented on #17589
I have the same problem. When fetching @boringssl, the build always failed.
the error information is shown below:
no such package '@boringssl//': java.io.IOException: thread interrupted and referenced by '//external:libssl'

[2019-01-17 08:42] BalrogMithrandir opened #17743 "how to load multi root certs on server？"
### What version of gRPC and what language are you using?
 the latest version download at 2019.01.15

### What operating system (Linux, Windows, …) and version?
linux  ubuntu 1404

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc (Ubuntu 4.8.4-2ubuntu1~14.04.4) 4.8.4
Python 2.7.6

### What did you do?
I'am using the examples/cpp/helloworld/ to run a grpc serve

[2019-01-17 13:41] graywolf-at-work opened #17744 "Cannot use grpc 1.18.0 under ruby 2.6.0"
### What version of gRPC and what language are you using?

1.18.0 and ruby

### What operating system (Linux, Windows, …) and version?

linux 4.20.2

### What runtime / compiler are you using (e.g. python version or version of gcc)

ruby 2.6.0

### What did you do?

Clone `davissp14/etcdv3-ruby`, `bundle install` and `bundle exec rspec`.

[code]

### What did you expect to see?

For it to work.

#

[2019-01-17 15:40] jtattermusch commented on #17729
@apolcyn  this seems to be another problem around ruby and rvm

I think the culprit is
[code]

It is possible that rvm suddenly started trying to install python3?

[2019-01-17 15:49] jtattermusch commented on #17729
Looks like the problem happens when performing `rvm install 2.5.0`

Here is verbose output from rvm commands:
https://sponge.corp.google.com/invocation?tab=Build+Log&id=f8b32223-44f3-4df0-b7af-3863bbb8329b&searchFor=

[2019-01-17 16:37] jtattermusch commented on #17729
Would it make sense to installing ruby on MacOS using homebrew directly?  It looks like RVM is an annoying piece of software that's been causing lot of trouble.
https://www.ruby-lang.org/en/documentation/installation/#homebrew

[2019-01-17 16:59] sanjaypujare commented on #17744
@apolcyn or @graywolf-at-work please adjust the priority as appropriate (currently P1)

[2019-01-17 17:08] gbulfon opened #17748 "Gem for illumos"
### What version of gRPC and what language are you using?
1.18.0 - Ruby

### What operating system (Linux, Windows, …) and version?
 XStreamOS / illumos (OpenSolaris - Solaris 11)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 4.7

### What did you do?
I could build all the grpc component from source, install everything in a proto area for packaging and pub

[2019-01-17 17:12] sanjaypujare commented on #17748
@apolcyn @gbulfon pls adjust priority as needed

[2019-01-17 18:35] apolcyn commented on #17744
`Failure/Error: require 'google/protobuf'`

This is an issue in the `google-protobuf` gem, rather than with `grpc`.

cc @TeBoring - `google-protobuf` needs to release a package with a pre-compiled extension that will load on ruby 2.6

@graywolf-at-work  The workaround before then would be to build `google-protobuf` from source - i.e., install the `google-protobuf` gem targetting "platform == ruby"

[2019-01-17 18:35] #17744 closed

[2019-01-17 18:41] apolcyn commented on #17748
@gbulfon do you mean that you would like new `gem install grpc` commands to use your system libraries? E.g., use the system openssl rather than boringssl? Or that you would like the re-use build artifacts from previous `gem install grpc`s on the same system? The former is doable but the latter likely isn't possible.

[2019-01-17 18:53] gbulfon commented on #17748
Hi, forme I think.
I mantain the XStreamOS distribution packages, so I already prepared all the required ones, including grpc as system libraries.
Once I gem install grpc with "--use-system-libraries", it sill tries to build some third party stuff.
For example, I already built and installed c-ares, but still it's trying to build it internally : I had to bring my own ares_config.h from my userland

[2019-01-17 18:57] gbulfon commented on #17748
Or alternatively, build my own gem in the grpc component source tree, now that I have the "gmake install" done, but containing references to my own system libs.

[2019-01-17 19:20] panjxgithub opened #17749 "grpc error unref exception"
OS: linux 32bit
CPU: arm
VERSION: 1.11.0
GRPC: client

When receive  TWO  HTTP2  HEADERS packet,  like this
![image](https://user-images.githubusercontent.com/46445566/51342405-cc9df580-1ace-11e9-95f2-284855294ff3.png)

then memory used after free.

call stack is:
(gdb) p pstContext->stStatus.status_details
$3 = {
  refcount = 0xdecbbcc8,
  data = {
    refcounted = {
      bytes = 0xdecbbce8 "unk

[2019-01-17 19:48] veatcha commented on #15623
@markdroth - related to this comment above, is the retry functionality still in this same state where if we're looking for that, we should roll our own?  I looked through the release notes back to through June, and didn't see any reference to it...

Thanks...

[2019-01-17 21:21] markdroth commented on #15623
Yeah, no changes on the status of the retry code.  I'm hoping we can get back to it toward the end of this year, but we'll see what happens.

[2019-01-17 21:38] muxi commented on #14173
`prepare_command` section is also in the template ([here](https://github.com/grpc/grpc/blob/master/templates/src/objective-c/BoringSSL-GRPC.podspec.template#L153)). You can overwrite it.

Files are generated from templates with `$ tools/buildgen/generate_projects.sh`. I just ran it once for you in the PR you made.

[2019-01-18 00:01] apolcyn commented on #17729
Error from within rvm: `Requirements installation failed with status: 1.`

not sure how yet this is happening yet

[code]

[2019-01-18 00:37] vjpai opened #17754 "Server request matcher: improve dynamism by forming calls dynamically always"
### What version of gRPC and what language are you using?

 C++, master

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

 N/A

### What did you do?

Implemented an API above core

### What did you expect to see?

Easy and dynamic request registration at the server.

### What did you see instead?

Re

[2019-01-18 02:30] peter-edge commented on #14145
What is going on with this? This has been around for a year

[2019-01-18 07:24] vjpai opened #17758 "C++ callback API: Be more conservative in request registration"
### What version of gRPC and what language are you using?
head, c++

### What operating system (Linux, Windows, …) and version?
 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)
 N/A

### What did you do?
Started a callback service with a large number of methods after #17686 merges

### What did you expect to see?
 A small number of requests pre-registered per

[2019-01-18 08:20] #17729 closed

[2019-01-18 08:33] chwarr opened #17759 "Add public object UserData to C# ServerCallContext"
In the C# implementation, consider adding a `public object UserData { get; set; }` property/field/method to `ServerCallContext`.

Such a field could be used to [thread state between collaborating interceptors and calls](https://github.com/grpc/grpc/issues/15757#issuecomment-445053226) cheaper and more nicely bracketed than `AsyncLocal<T>`. [PR #17733, "Make C# ServerCallContext implementation agno

[2019-01-18 08:53] jtattermusch commented on #17759
Would it make sense to provide something more type-safe? I'm thinking a bag of values accessed by their type, something like this:
[code]

[2019-01-18 14:56] jskeet opened #17761 "Cancelling a stream via a cancellation token can lead to incorrect results"
### What version of gRPC and what language are you using?

1.17.1, C#

### What operating system (Linux, Windows, …) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET Core SDK 2.1.402

### What did you do?

Create a small but non-empty table in a Spanner database, then run the code below, providing the project ID, Spanner instance ID, Sp

[2019-01-18 15:00] godsarmy opened #17762 "py files placed in wrong path by grpcio-tools when parent path has '.'"
### What version of gRPC and what language are you using?

python 1.18.0

### What operating system (Linux, Windows, …) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

python 2.7.10

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

I am trying to create pyt

[2019-01-18 18:20] gnossen commented on #17762
Looks like a duplicate of https://github.com/grpc/grpc/issues/10790. Moving discussion to that thread

[2019-01-18 18:20] #17762 closed

[2019-01-18 18:34] gnossen commented on #10790
@acozzette @nathanielmanistaatgoogle Any update on this issue?

[2019-01-18 19:48] chwarr commented on #17759
I like the `.Get<MyTypedUserDataStorage>()` proposal. This also solves the problem of how to avoid stepping on another interceptor stack's toes: they need to use different types. This may end up with some wrapper types just for distinguishing purposes, but that seems like an OK compromise to avoid implementing `UserData.Get<MyType>("my name")`

[2019-01-18 21:15] dsafreno opened #17767 "What does this assert mean?"
Maybe I'm just incompetent at Google'ing but I can't figure out what it means that I'm failing this assert...

It happens rarely, but crashes our application when it does happen. Basically, just creating a stub and then trying to call a stream method.

Assert:
https://github.com/grpc/grpc/blob/2cd1dcfd51a9d2b1a7d58bb20432ba4a0a69f992/src/cpp/client/channel_cc.cc#L159

Our usage:
[code]

Our servic

[2019-01-18 21:22] yang-g commented on #17767
If it is easy for you, you can print the return value of the `grpc_call_start_batch` call, which may give you a better idea.

Most of the issues I saw are related to API mis-use, for example you cannot do a stream `Write` before the previous `Write` is done, or similarly for `Read`. Since you are using metadata, it could also be that your metadata key contains illegal characters etc.

[2019-01-18 23:45] apolcyn opened #17769 "Node tests failing in interop_sanity_test.sh"
[code]

https://source.cloud.google.com/results/invocations/c96c938c-e454-48d8-a210-4a551042ce9c/targets/github%2Fgrpc%2Fgrpc-node_linux_dbg_native/tests

From the fusion dashboard, this seems to be happening on all multilang-linux PR test jobs since around 3pm today

[2019-01-19 00:09] apolcyn commented on #17706
Sorry not sure exactly how, but I suspect the problem is very likely that you are still comping the `grpc_ruby_plugin` with an old protobuf library.

[2019-01-19 01:12] yashykt commented on #17667
These look like BDP pings

[2019-01-19 10:05] toanju commented on #14844
I added another proposal to solve this in #17763

[2019-01-19 14:59] prestonvanloon commented on #17706
Is there a precompiled binary I can download for grpc_cli?

My system has protoc 3.6.1 and I followed the steps in my original issue description so I'm not sure how I could be using an old protobuf library.

[2019-01-19 15:28] hanabi1224 opened #17773 "Use DateTimeOffset? instead of DateTime? for call deadline"
### What version of gRPC and what language are you using?
 C#

### What operating system (Linux, Windows, …) and version?
 Win10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?
 I hope genera

[2019-01-20 21:54] chwarr commented on #17759
If we can settle on a design, it looks like I'll have time to contribute the implementation.

I think the public interface is just:

[code]

[2019-01-21 07:42] navono commented on #16449
@Noctunus I had the same problem and I don't get your solution, can you explain more? thanks.

[2019-01-21 10:55] gbulfon commented on #17748
Hi, could you help me how to achieve "use all available system libraries" on "gem install grpc"?

[2019-01-21 11:19] jtattermusch commented on #17759
@jskeet  @apolcyn  do you have opinions on the proposed API design?

@JamesNK @JunTaoLuo would this new API be useful for Grpc.AspNetCore.Server?

[2019-01-21 15:25] jtattermusch opened #17779 "grpc-node linux tests are consistently failing on master"
https://source.cloud.google.com/results/invocations/e2b2536c-60f2-4757-9170-bb7aff916805/targets

First failure on Jan 18, 100% runs failing since then https://source.cloud.google.com/results/invocations/db5863a8-a057-4dd4-820f-7a7a116b192b/targets

[2019-01-21 15:31] jtattermusch opened #17780 "Build at boringssl's head is broken"
First failing build:
https://source.cloud.google.com/results/invocations/d14ae492-8f7a-475b-9b16-c1b73fbe2c0a/log

[code]

[2019-01-21 15:52] dpsenner commented on #17759
@chwarr if the public interface is the one mentioned in your comment, doesn't it make sense to let it be a getter and a setter of the type `IServiceProvider` instead, wouldn't it? I.e. something along the lines of:

[code]

There already exists a good implementation for `IServiceProvider` and I do not see a reason that justifies reinventing that wheel.

[2019-01-21 15:58] jskeet commented on #17759
I don't know enough about the use case to be of much help, but if this is meant to provide arbitrary context information, the `Get<>` approach works for me.

[2019-01-21 17:31] jtattermusch commented on #17761
First results:

I am able to reproduce a variant of this issue:
1. once the RPC start, server quickly sends all its responses and status to the client.
2. a while later (one the call has actually finished on the serverside), the client request cancellation of the call (regardless of via responseStream.MoveNext(cancellationToken) or via call.Cancel()).

this seems to mess with the way C-core delive

[2019-01-21 22:39] chwarr commented on #17759
@dpsenner, I tried to come up with a way to make just a mutable `IServiceProvider` work, but I can't. The fundamental problem is that `IServiceProvider` doesn't provide any way to add new types to the UserData.

I see the need to be able to compose multiple sets of collaborating interceptors. For example, a service consumes an authN + authZ set developed by team A, an instrumentation set developed

[2019-01-21 22:57] JamesNK commented on #17759
To be honest I'm still learning gRPC's capabilities and uses of your API. I'm not sure. Ask me in a couple of weeks 😄

[2019-01-21 23:08] JamesNK commented on #17759
From https://github.com/grpc/grpc/issues/15757#issuecomment-445053226

I don't think @chwarr's needs will be important for AspNetCore.Server. If I understand interceptors correctly from [here](https://github.com/grpc/proposal/blob/master/L12-csharp-interceptors.md) then they sound similar to ASP.NET Core middleware.

In AspNetCore.Server it should be simple enough to have middleware that puts stat

[2019-01-21 23:23] perezd opened #17781 "cannot make grpc_cli"
### What version of gRPC and what language are you using?

Attempted with tag v1.18.0

### What operating system (Linux, Windows, …) and version?
uname -a:
[code]
### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc -v:
[code]

### What did you do?

git clone, submodule init, make -sj8 grpc_cli

### What did you expect to see?

/bins/opt/grpc_cli built

### What d

[2019-01-22 00:19] perezd commented on #17781
This seems related, maybe need a version bump? https://github.com/c-ares/c-ares/issues/210

[2019-01-22 01:00] perezd commented on #17781
Current workaround:
[code]

[2019-01-22 03:19] yashykt opened #17783 "TSAN flake bins/tsan/h2_proxy_nosec_test filter_status_code GRPC_POLL_STRATEGY=epoll1"
[code]

[2019-01-22 03:44] chwarr commented on #17759
@JamesNK, yes.

[2019-01-22 04:11] JamesNK commented on #17759
In that case I'd just go with `IDictionary<object, object> UserData { get; set; }`, with the getter lazily allocating the dictionary the first time `UserData` is accessed if it is null. That keeps the feature pay-for-play.

When it comes to a bag of data, dictionaries are hard to beat 😄

[2019-01-22 04:40] michihenning opened #17786 "Segfault in gpr_mpscq_pop_and_check_end"
I have a trivial client and server using streams. There are two streams between client and server, one for sending data to the server, and one for reading data from the server. The client sends 88-byte messages repeatedly. The server echoes those message back on the other stream.

All this works fine, for millions or billions of messages. Eventually, the client dumps core with the stack trace belo

[2019-01-22 08:14] jtattermusch commented on #17761
@jskeet  can you confirm that replacing `await streamingCall.ResponseHeadersAsync` by `await Task.Delay(3000)` also reproduces the same issue? (which would support the theory described above, as waiting for response headers probably waits long enough so that all the responses are delivered to the client before MoveNext() starts which then creates the problem)?

[2019-01-22 10:12] jskeet commented on #17761
Confirmed - yes, that shows the same result.

[2019-01-22 10:49] gbulfon commented on #17748
I've seen many "HAS_SYSTEM..." variables in the Makefile building the third_party libs.
I'm trying to pass these to "gem install" so that it will reach gmake, but I can't do it.
Here I'm trying it directly as call env:

[code]
but they're also inside the bundle config file as:

`BUNDLE_BUILD__GRPC: "--use-system-libraries HAS_PKG_CONFIG=true HAS_SYSTEM_CARES=true HAS_SYSTEM_ZLIB=true"`

Any idea h

[2019-01-22 14:21] JunTaoLuo commented on #17759
Right, I believe I mentioned in passing that the interceptors in GRPC world is middleware in ASP.NET Core world, and we have the `HttpContext.Items` API to achieve the objective.

[2019-01-22 17:58] yashykt commented on #17749
@hcaseyal want to have a go at this?

[2019-01-22 19:36] #17703 closed

[2019-01-22 22:23] davidben opened #17791 "BoringSSL UBSan suppressions no longer necessary?"
https://github.com/grpc/grpc/blob/10fa27866035afec60d4d28323a2dc2dcf70785c/test/core/util/ubsan_suppressions.txt has a bunch of BoringSSL suppressions.

Have you all checked if they're still necessary? There isn't even a function named `ssl_copy_key_material`. We cleared a lot of the alignment silliness a long while ago, along with [working around](https://boringssl-review.googlesource.com/12928)

[2019-01-23 08:40] jtattermusch opened #17794 "Flake in VM preparation: Could not get lock /var/lib/dpkg/lock-frontend"
[code]
https://source.cloud.google.com/results/invocations/acda7a2c-1c53-48c8-9a4c-0295c0ab5fea/log

[2019-01-23 15:43] jtattermusch commented on #17493
@billfeng327  links to a few more recent occurrences would be useful.
e.g. https://source.cloud.google.com/results/invocations/064156b6-799c-4e83-bf67-b82e572d9aaf is the most recent occurrence.
- are there any obvious patterns?
- does it reproduce with a manual RBE run?

It is also worth noting that this is failing about 15% of RBE dbg builds, and it's our most common flake on RBE.

Btw, in the h

[2019-01-23 15:49] jtattermusch opened #17795 "Bazel RBE: flaky //test/cpp/end2end/end2end_test@poller=epoll1: "resource_quota.cc assertion failed: amount > 0""
Similar to https://github.com/grpc/grpc/issues/17493, but this one is for epoll1 and actually fails with assertion failures.

https://source.cloud.google.com/results/invocations/4674c508-6537-4efd-95cd-7d60c8348341

[code]

[2019-01-23 15:55] jtattermusch commented on #17795
Another occurrence: https://source.cloud.google.com/results/invocations/dd8c94dd-0a60-4946-80f5-185ced5ec475/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depoll1/log

It looks like this particular flake doesn't happen very often.

[2019-01-23 16:00] jtattermusch commented on #17335
Two more recent occurrences:
https://source.cloud.google.com/results/invocations/1c14b942-a745-4984-8253-467588b52335/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depoll1/log
https://source.cloud.google.com/results/invocations/e60993db-47d9-4d85-b8ea-28c8fa93c80c/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depoll1/log

[code]

similar problem seen for `SecureEnd2end/SecureEn

[2019-01-23 16:08] jtattermusch commented on #17584
The failure link is:
https://source.cloud.google.com/results/invocations/4bb82cef-0d38-484b-ae88-ee3ba0a2a3e0/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_sockpair_1byte_nosec_test@cancel_after_invoke@poller%3Dpoll-cv/log

[code]

[2019-01-23 16:11] jtattermusch commented on #17584
Recent failures:
https://source.cloud.google.com/results/invocations/e8fe34af-9af2-44b8-ab2a-81e9fd5fa246
https://source.cloud.google.com/results/invocations/140bfe80-b7b2-45cb-910f-9d9c2662839d
https://source.cloud.google.com/results/invocations/c69c7647-147e-4583-8aed-7c6a9b6d3a26
https://source.cloud.google.com/results/invocations/e0e920b3-304c-46f0-b3b3-1d89f31819ea
https://source.cloud.google

[2019-01-23 16:19] jtattermusch commented on #17371
Recent occurrences:
https://source.cloud.google.com/results/invocations/bb1904f4-35e9-42de-8f69-88d8018a8da7/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_sockpair_1byte_nosec_test@max_message_length@poller%3Dpoll-cv/log
https://source.cloud.google.com/results/invocations/dd1fefc6-aa87-42bc-adfe-bad71c8b8403/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_sockpair_1byte_nosec_test@max_message_length@poller%3Dpoll

[2019-01-23 16:37] jtattermusch commented on #17493
I was looking at the test data and I have a theory:
- poll-cv poller is known to be much slower than other pollers, so tests with poll-cv generally run longer
- even for run where all tests passed, the target `//test/cpp/end2end:end2end_test@poller=poll-cv` takes ~440s to run
- for failed targets the timeout seems to be after ~450 secs

Is the test timeout for this particular target just set too l

[2019-01-23 16:44] jtattermusch commented on #17584
manual repro:
`bazel --bazelrc=tools/remote_build/manual.bazelrc test --config=opt --runs_per_test=500 //test/core/end2end:h2_sockpair_1byte_nosec_test@cancel_after_invoke@poller=poll-cv`

[2019-01-23 18:58] billfeng327 commented on #17493
Recent occurrences:

https://source.cloud.google.com/results/invocations/23a7880e-27a3-4883-b51c-be24f1beba57
https://source.cloud.google.com/results/invocations/dcfd6a3a-a535-4b82-b530-14f86b6ac8fc
https://source.cloud.google.com/results/invocations/816350e7-35e2-4a1d-887c-eab6265c54e9

all of which have poller poll-cv

[2019-01-23 20:53] apolcyn commented on #17493
From that, it looks like the timeout is after the individual test cases finish, likely due to extra time taken before `grpc_shutdown` at the end of main

[2019-01-23 23:59] blowmage opened #17799 "Ruby client hangs on Windows"
### What version of gRPC and what language are you using?

* grpc-1.18.0-x64-ming32 gem (Tested 1.18.0 through to 1.8.0, the behavior is likely consistent on earlier versions.)

### What operating system (Linux, Windows, …) and version?

* Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

* ruby 2.5, 2.4, 2.3 (all 64bit)

### What did you do? What did y

[2019-01-24 00:54] apolcyn opened #17800 "Ruby test flake: ClientStub #client_streamer via a call operation sends metadata to the server ok when running start_call first"
[code]

https://source.cloud.google.com/results/invocations/f46bb68f-671f-4f8a-b89f-417ea5d13fd6/targets/github%2Fgrpc%2Fruby_macos_opt_native/tests

seen on PR: https://github.com/grpc/grpc/pull/17688

[2019-01-24 01:00] apolcyn opened #17801 "Test flake: //test/core/end2end:h2_http_proxy_nosec_test@bad_ping@poller=poll-cv"
[code]

https://source.cloud.google.com/results/invocations/4019698c-ddc2-4753-b8a8-27dd65f1c598/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_nosec_test@bad_ping@poller%3Dpoll-cv/log

noticed on PR: https://github.com/grpc/grpc/pull/17688

[2019-01-24 01:04] apolcyn opened #17802 "php_macos_dbg_native timeout"
[code]

https://source.cloud.google.com/results/invocations/131458c8-b9ba-4224-a628-a4489178f9ed/targets/github%2Fgrpc%2Fphp_macos_dbg_native/log

seen on PR: https://github.com/grpc/grpc/pull/17790

[2019-01-24 03:00] carl-mastrangelo opened #17805 "Clarify health check state"
In the current [health check](https://github.com/grpc/grpc/blob/master/doc/health-checking.md), it says that servers should declare an overall health using the empty string ```''``` service.  However, it isn't specified what the default state should be, either serving or not serving.  This came up as a question in https://github.com/grpc/grpc-java/pull/5274   where the Java implementation was modi

[2019-01-24 03:19] bvinodkumar2008 commented on #16227
Hello,
Even we were interested in this feature from the security standpoint. Any plans to enable this in near future? Also, any idea, if this is available in the grpc-go stack already?

Regards,
Vinod

[2019-01-24 07:06] GauthamBanasandra opened #17807 "SEGFAULT in greeter_client"
### What version of gRPC and what language are you using?
gRPC version  v1.13.0
Language : C++

### What operating system and version?
 macOS Sierra 10.12.6

### What runtime / compiler are you using
 clang
Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin16.7.0
Thread model: posix

### What did you do?
 Built and executed greeter_client.

### What did you see instead?
 SEGFA

[2019-01-24 08:48] jtattermusch commented on #17493
I found where the 450sec timeout is coming from:
- the test size is set to "medium" (which is the default)
- the canonical bazel command shows argument (`--test_timeout=300,450,1200,3600` in https://source.cloud.google.com/results/invocations/064156b6-799c-4e83-bf67-b82e572d9aaf/details)

The timeouts are being set in the `tools/internal_ci` shell scripts that execute RBE runs.

[2019-01-24 14:31] dpsenner commented on #17759
@chwarr  I think you're unaware of an [essential piece](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.servicecollection?view=aspnetcore-2.2). Last but most of all, `IServiceProvider` integrates very well because concrete implementations for IoC and DI build upon that interface. That makes `IServiceProvider` a good candidate

Generally speaking, there's no nee

[2019-01-24 14:43] dpsenner commented on #17759
@JamesNK .. not if the interface provides access to types that can be anything that is a type. :smile:

[2019-01-24 15:47] markdroth commented on #17805
I think the right behavior is that the empty string should be set to SERVING by default, but no other services should be automatically set to SERVING until the application explicitly does so.  I think this reflects the expected use cases:

- There are environments (like what we do internally) where health checking is enabled by default using "" as the service name.  In those environments, applicat

[2019-01-24 17:58] #17805 closed

[2019-01-24 21:51] murgatroid99 commented on #17779
Currently this looks like a bug in one version of Node itself that we are testing on. We are looking into a fix.

[2019-01-24 22:19] Oihso opened #17812 "PHP: Installation compile error (using PECL, CentOS 7.6.1810)"
### What version of gRPC and what language are you using?

- PHP gRPC 1.18.0

### What operating system (Linux, Windows, …) and version?

- CentOS Linux release 7.6.1810 (Core)

### What runtime / compiler are you using (e.g. python version or version of gcc)

- gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)

### What did you do?

1. I tried to install gRPC 1.18.0, got a compilation error
2. Updated

[2019-01-25 02:20] hcaseyal commented on #17749
@yashykt I may have time in a week or so

[2019-01-25 02:21] blowmage commented on #17799
@apolcyn Can you take a look at this?

[2019-01-25 03:09] panjxgithub commented on #17749
we use grpc_slice_unref  two times.
function grpc_slice_unref   can be more stronger.  ^_^

[2019-01-25 03:09] #17749 closed

[2019-01-25 04:32] GauthamBanasandra commented on #17807
The greeter_client works with the above CMakeLists.txt works fine for Linux. It doesn't SEGFAULT. This is so far seen on macOS.

[2019-01-25 06:32] navneetkryadav opened #17813 "Call to grpc::InsecureChannelCredentials() is getting stuck"
Language: C++
Platform:Linux

I am trying create channel between client and server here using client code as below;
NewConnection::NewConnection() {
                // Some code here
std::shared_ptr<Channel> serverChannel = grpc::CreateChannel(serverAddress, grpc::InsecureChannelCredentials());
}

Problem Statement:
Client process is stuck with following stack trace;
Thread 1 (Thread 0x7f86264158a

[2019-01-25 09:03] jtattermusch commented on #17779
Tests seems green starting from this build:
https://source.cloud.google.com/results/invocations/06adafc9-c026-4dd4-8c03-50434e786e11/targets

[2019-01-25 09:05] #17779 closed

[2019-01-25 09:07] jtattermusch opened #17814 "grpc_basictests_objc_dbg: failing consistently on master"
Last 3 builds have failed:
https://source.cloud.google.com/results/invocations/9cb769ad-5fd2-4105-8668-b22520239e14/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/2895a303-3938-43cd-b299-333e3bd2605a/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/df9af48f-319d-4995-a3c0-76440c681bcf/ta

[2019-01-25 10:21] jtattermusch commented on #17794
Seen again, maybe not so rare afterall.

[2019-01-25 18:06] yashykt commented on #17794
I'm seeing this quite often too. Is this just increased load in testing?

[2019-01-25 18:13] yashykt commented on #17794
could we maybe add a retry loop over there after a sleep?

[2019-01-25 18:25] billfeng327 commented on #17794
PR [17815](https://github.com/grpc/grpc/pull/17815) submitted

[2019-01-25 19:49] ryangreen commented on #17587
I am running into the same problem when using CloudSpeech.v1 from nuget with the grpc unity library.  Works on android and desktop but fails on iOS since iOS forces 64bit. Could really use some guidance @ncteisen  as supporting iOS essential to our work.

[2019-01-25 21:33] yashykt commented on #17667
(I'm also going to add some tracing so that in the future we will know for sure if a ping is a keepalive ping or not. It should also help here)

[2019-01-25 21:43] #17783 closed

[2019-01-25 22:23] yashykt opened #17819 "new ASAN issues in client_channel code"
I am seeing this failure

[code]

on running gRPC Core tests with ASAN on. I can consistently reproduce it with -
tools/run_tests/run_tests.py -lc --regex "h2_full" -ninf -casan

There isn't much information here, but I'm guessing it's not safe to access some elements of the batch at this point.

[2019-01-25 23:13] apolcyn commented on #17493
just saw this again in https://source.cloud.google.com/results/invocations/eb2702c0-907a-4edd-8e10-5d89231ab4f2/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Dpoll-cv/log

PR: https://github.com/grpc/grpc/pull/17818

[2019-01-25 23:35] yashykt commented on #17819
This happens when client_channel tracer is enabled

[2019-01-25 23:50] toc007 commented on #17632
After some investigation, it looks like php breaks after installing and running ```docker-php-ext-enable protobuf```.
This problem looks like it is linked to https://github.com/protocolbuffers/protobuf/issues/5459.
The Dockerfile below has both GRPC and protobuf installed such that php will not segfault.
[code]

[2019-01-26 00:32] ryangreen commented on #17587
I then had to rebuild Grpc.Core from source for the csharp branch and copy the result into the plugins/Android folder

[2019-01-26 00:33] ryangreen commented on #17587
I also had to replace Newtonsoft.Json with code built to support IL2cpp backends... there's an asset available here: https://assetstore.unity.com/packages/tools/input-management/json-net-for-unity-11347

[2019-01-26 00:35] ryangreen commented on #17587
and then I added all the dll's i'm including in the ios build to a link.xml file in my plugins folder...

[code]

[2019-01-26 02:15] bimawa commented on #14173
Ok, guys, @muxi merged it into master. Until Release you have to use

[code]

and for swift-grpc:

[code]

After release, we will merge this podspecs too.

[2019-01-26 07:39] JamesNK commented on #17759
An `IServiceProvider` is not mutable. Its intended design is to be setup on application startup and then used for the lifetime of the app. The provider created from `ServiceCollection` does IL gen to resolve types as quickly as possible. Creating a new `ServiceCollection` and then getting a service provider from it for every request would have very bad performance.

Now you could introduce the con

[2019-01-26 15:54] rohansingh commented on #17649
I ran into similar issues, even after following `BUILDING.md`. In my case, I was using Command Line Tools for Xcode instead of a full Xcode installation. I found that `make` was successful but `bazel build :all` worked.

The issues were resolved once I installed Xcode, used `xcode-select` to switch to that installation, and ran `bazel clean --expunge`.

[2019-01-27 05:44] otterMikeAG commented on #17729
I'm having a similar issue
Michaels-MacBook-Pro-2:~ mi$ brew install python3
Warning: python 3.7.2_1 is already installed, it's just not linked
You can use `brew link python` to link this version.
MacBook-Pro-2:~ mi$ brew link python 3.7.2_1
Error: No such keg: /usr/local/Cellar/3.7.2_1
MacBook-Pro-2:~ mi$ rm '/usr/local/bin/2to3'
MacBook-Pro-2:~ mi$ brew link python 3.7.2_1
Error: No such keg: /u

[2019-01-27 11:50] hpg-mheck commented on #17694
NOTE: This issue can come up while trying to work with Hyperledger Fabric Composer.  Using nvm to drop back to 8.15.0 resolves this issue as of 27JAN2019.

[2019-01-28 03:51] chenbaggio opened #17827 "set GRPC_POLL_STRATEGY = legacy may cause crash"
### What version of gRPC and what language are you using?
 1.18

### What operating system (Linux, Windows, …) and version?
centos 7.2

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version 4.8.5
### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

1. set GRPC_POLL_STRATEGY=l

[2019-01-28 04:10] gaoshun opened #17828 "[Python install] compile grpcio with buildroot for armv7"
### What version of gRPC and what language are you using?
 *grpcio-1.18.0  python*

### What operating system (Linux, Windows, …) and version?
 *linux for armv7*

### What runtime / compiler are you using (e.g. python version or version of gcc)
 *python 2.7.13*
 *arm-linux-gnueabihf-gcc 7.2.1 20171011*

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specifi

[2019-01-28 04:18] charliesneath opened #17829 "[Python install] "Failed building wheel for grpcio" when installing on Raspberry Pi Zero W"
### What version of gRPC and what language are you using?

The dependency included when `firebase-admin`.

### What operating system (Linux, Windows, …) and version?
Raspbian GNU/Linux 9 (stretch)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include

[2019-01-28 06:48] cq-z commented on #17632
@toc007 thank you！

[2019-01-28 06:48] #17632 closed

[2019-01-28 11:20] BalrogMithrandir commented on #17743
@lidizheng hi, can anybody give me some suggestions?

[2019-01-28 13:36] jtattermusch opened #17831 "Python build broken on MacOS workers"
https://source.cloud.google.com/results/invocations/bdff7795-ad08-4dcc-8fad-7b18704c3146/targets/github%2Fgrpc%2Faggregate_tests/tests

Failing 100% of builds starting from https://source.cloud.google.com/results/invocations/1587abd7-6d54-46d3-b35d-86cd38ac3690/targets/github%2Fgrpc%2Faggregate_tests/tests

[code]

[2019-01-28 14:06] jtattermusch commented on #17493
Should be closed by #17820 .

[2019-01-28 14:06] #17493 closed

[2019-01-28 14:38] jtattermusch commented on #17831
python artifact build for python 3.4 and 3.5 is also broken:
https://source.cloud.google.com/results/invocations/58e48a4b-f844-423d-b4a3-f41f85736511/targets/github%2Fgrpc/tests;passed=true;group=tasks;test=build_artifact.python_macos_x64_python3.4;row=7

[code]

[2019-01-28 14:47] jtattermusch commented on #17831
I created https://github.com/grpc/grpc/pull/17833 to see if it fixes the problem with artifact build.

[2019-01-28 17:36] muxi commented on #17814
I'll hold off #17816 since the builds seems to be green again; probably a Kokoro regression. Will continue keep an eye on it though.

[2019-01-28 18:39] Eric-Arellano commented on #17829
We reproduce this with the Pants project https://github.com/pantsbuild/pants at https://travis-ci.org/pantsbuild/pants/jobs/485442293#L292. The failure only happens for us on our OSX Python 2 shard, not our OSX Python 3 shard. Both attempt to build the GRPCIO wheel.

[2019-01-28 18:55] PawelWitak commented on #17587
I have checked that above fix works like a charm (so far I checked only on iOS simulator but I suppose on the real device also should work). So in my opinion this is additional prove to put the fix in main repository.

[2019-01-28 19:08] lidizheng commented on #17743
@yang-g  @jiangtaoli2016 Can you please take a look?

[2019-01-28 19:18] yashykt commented on #17819
We also get segfaults on Basic Tests C Linux [dbg].. #17817 seemed to make these fail more deterministically..

Relevant log files -
https://source.cloud.google.com/results/invocations/356a5d1e-a9de-4c61-803f-d33036d86b36/targets/github%2Fgrpc%2Fc_linux_dbg_native/log
https://source.cloud.google.com/results/invocations/c98c362c-64e5-4254-9d3f-8a054f7b1941/targets/github%2Fgrpc%2Fc_linux_asan_nativ

[2019-01-28 19:19] jiangtaoli2016 commented on #17743
I am confused about what you try to achieve.

If your server cert is self-signed or signed by your own CA, you can just config your grpc client with `sslOps.per_root_certs = server_ca_root`
Why you want to combine your own CA root cert with the system roots?

[2019-01-28 20:05] Noctunus commented on #16449
Hey @navono - sure. So the problem for me was, that I simply made a loop over all existing proto files, generated the .cc/.h files into one single folder and tried to compile it.
That alone is already the problem as the names of the proto-files (and therefore the resulting .cc/.h files are *not* unique) resulting in missing files as they overwrite each other.
So my solution was just to take the wh

[2019-01-28 20:13] markdroth commented on #17819
I can reliably reproduce this by running the following:

[code]

I tried modifying `grpc_transport_stream_op_batch_string()` to log the address of the send_initial_metadata batch instead of logging its contents, so that it looks something like this:

[code]

What I'm seeing is that the `op->payload->send_initial_metadata.send_initial_metadata` is being set to a different location between the time

[2019-01-28 20:37] JamesNK opened #17840 "Stream removed error with C# client and Kestrel server"
I am getting an error - "Status(StatusCode=Unknown, Detail="Stream removed")" - from the C# client when calling a gRPC service hosted in Kestrel. The error happens after thousands of gRPC requests but it is consistent.

Attached are Wireshark logs. You can see that the error happens after the server sends a "WINDOW_UPDATE" message to the client and then the client resets the stream. This is consis

[2019-01-28 20:41] JamesNK commented on #17840
Discussion with Kestrel devs - https://github.com/aspnet/AspNetCore/issues/6974

We think it is an issue with the client.

[2019-01-28 21:53] #17831 closed

[2019-01-28 22:03] gnossen commented on #17829
This appears to be related to a breaking change in setuptools: https://github.com/pypa/setuptools/issues/1653

[2019-01-28 22:47] yashykt commented on #17819
Found it.

What was happening was grpc_chttp2_stream->byte_counter was using the same memory address as the send_initial_metadata pointer in a subchannel batch. So, when the byte_counter was being incremented, so was the pointer. This meant that when we tried to print out the send_initial_metadata after it was modified, we were getting a corrupt address.

The root reason for this was that we align

[2019-01-28 22:52] lidizheng opened #17844 "Redundant gRPC Python Protobuf Message Descriptor with Bazel + Python 3"
This issue is quite challenging to reproduce. Firstly, Bazel doesn't support Python 3, but this buggy behavior only appear in Python 3. Secondly, the gRPC Bazel scripts are wrote for Python 2 only before #17644, which results in installing "enum34" and "concurrent" in Python 3 and generating `AttributeError`s. Thirdly, the behavior seems only appear when the client and server both possess a copy o

[2019-01-28 23:47] arjunroy opened #17845 "handshake_client_ssl test failing"
### What version of gRPC and what language are you using?
 CORE_VERSION=7.0.0-dev

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
1) git clone git@github.com:grpc/grpc.git
2) git submodule update --init
3) python tools/run_tests/run_tests.py -l c -r handshake_client_ssl

[2019-01-29 00:21] gnossen commented on #17829
Setuptools `40.7.1` pulls in [this fix](https://github.com/pypa/setuptools/commit/9150b6b7272130f11a71190905e6bd3db31afd81). Upgrading to it should correct the issue.

@charliesneath Can you confirm that this resolves the issue for you?

[2019-01-29 01:00] navono commented on #16449
Thank you for your reply @Noctunus .

After the last comment, I found the solution about the relative way. It's a subtle problem as said in [issue 2005](https://github.com/protocolbuffers/protobuf/issues/2005).

[2019-01-29 02:23] yashykt opened #17846 "Bazel RBE Asan C/C++ broken"
Seeing errors of the form

[code]

Sample log files from different pull requests -
https://source.cloud.google.com/results/invocations/f085bf47-8977-431e-9f95-4fef2c8f8301/targets
https://source.cloud.google.com/results/invocations/93a85600-029e-4538-b3fa-3b8ebac9b3f3/targets

[2019-01-29 02:29] yashykt opened #17847 "Basic Tests Multi-language Linux run_tests_php7_linux_opt_native and run_tests_php7_linux_dbg_native"
Errors of the form

[code]

Sample log files from different PRs-
https://source.cloud.google.com/results/invocations/a0b55eec-07ec-4c07-835f-733fe9d21119/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basictests_multilang/log
https://source.cloud.google.com/results/invocations/9f9b8f02-170d-4505-9992-cc9d88f68369/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basictests_multilang/log

[2019-01-29 04:53] charliesneath commented on #17829
@gnossen Can confirm that this fixed the issue. I was able to successfully run `sudo pip install firebase-admin` after updating setuptools with `python -m pip install --upgrade setuptools`. Thank you!

[2019-01-29 05:42] vishnuvntcr commented on #13501
Kindly provide some suggestions or solution for the above SSL connection issue with grpc using ruby

[2019-01-29 05:52] maxw commented on #17516
@moonspirit were you able to find a fix?

[2019-01-29 06:02] yashykt opened #17850 "Bazel Basic Tests for Python (Local) failure //src/python/grpcio_tests/tests/qps:basic_benchmark_test"
Seen on #17806.. The result store shows that it has been failing since #17644 got introduced.

Log https://source.cloud.google.com/results/invocations/1d758624-905d-41ed-bb09-8b2a6df16938/targets

[2019-01-29 06:18] yashykt opened #17851 "objc_macos_opt_native Failure"
Seen on #17806

[code]

It seems to not be able to file. Not sure what changed for our infra to have so many issues in such a short time.

https://source.cloud.google.com/results/invocations/f25f4d45-bdef-4f59-a98f-d670f4e5e550/targets/github%2Fgrpc%2Fobjc_macos_opt_native/tests

[2019-01-29 08:02] jtattermusch commented on #17850
Confirmed that this is failing on master in 100% runs.
https://source.cloud.google.com/results/invocations/cf079d0a-3c67-4f95-b279-942590c1d428/log

[2019-01-29 08:14] jtattermusch commented on #17814
Last 5 runs have failed again:
https://source.cloud.google.com/results/invocations/1e891c3e-76be-476d-9e70-0f15670ea980/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/5ee2a127-f3cc-43fc-8316-3b7633d76c37/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/231b7225-f4d2-4bd9-9d80-5bac58b6c55

[2019-01-29 08:17] jtattermusch opened #17853 "macos interop_to_prod tests failing on master (argument --on_gce: ignored explicit argument 'false')"
https://source.cloud.google.com/results/invocations/b476f25f-7fb0-4eee-b81c-b83acba67d51/targets

Looks like it's failing since https://github.com/grpc/grpc/pull/17213 was merged.

[2019-01-29 08:19] jtattermusch commented on #17853
[code]

[2019-01-29 08:54] jtattermusch commented on #17847
I think this was fixed by https://github.com/grpc/grpc/pull/17852 (the original PR failed to update the docker images before merging).

[2019-01-29 08:55] #17847 closed, assigned to ZhouyihaiDing

[2019-01-29 09:02] jtattermusch commented on #17846
This will likely be fixed by #17815

[2019-01-29 09:05] ZhiqinYang commented on #16210
I wonder why not set atomic.StoreUint32(&t.resetPingStrikes, 1) in HandleStreams,  except handlePing!
I saw atomic.StoreUint32(&t.resetPingStrikes, 1) this call in Write function ?
when I Concurrent invocations grpc client  with keepalive , I saw many  http2: Framer 0xc000319180: read GOAWAY len=22 LastStreamID=13 ErrCode=ENHANCE_YOUR_CALM Debug="too_many_pings"

[2019-01-29 09:08] jtattermusch commented on #17794
Should be fixed by #17836.

[2019-01-29 09:35] jtattermusch commented on #17846
Seems fixed.

[2019-01-29 09:35] #17846 closed

[2019-01-29 11:00] jtattermusch opened #17855 "Bazel RBE flake: //test/cpp/qps:qps_json_driver_test_cpp_protobuf_sync_streaming_qps_unconstrained_1mps_insecure MemorySanitizer: use-of-uninitialized-value"
https://source.cloud.google.com/results/invocations/87f4fd0a-f7c0-4d7e-b780-eac384709e45/targets/%2F%2Ftest%2Fcpp%2Fqps:qps_json_driver_test_cpp_protobuf_sync_streaming_qps_unconstrained_1mps_insecure@poller%3Depoll1/log

[code]

[2019-01-29 11:02] jtattermusch opened #17856 "Bazel RBE flake: //test/core/end2end:h2_http_proxy_test@bad_ping@poller=poll-cv"
[code]

https://source.cloud.google.com/results/invocations/6a93f904-ef02-4412-8b70-affa6063c03e/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@bad_ping@poller%3Dpoll-cv/log

[2019-01-29 11:37] moonspirit commented on #17516
DON'T use Server or CompletionQueue as global/static variables

Max Weisel <notifications@github.com> 于2019年1月29日周二 下午1:52写道：

--
Best Regards,
yuexuan

[2019-01-29 12:20] BalrogMithrandir commented on #17743
@jiangtaoli2016 hi, thank you for reply first. Maybe I didn't make myself clear, let me give a example about my question:  I have a server and two clients--client A and client B. Client A and B have different root CA, so the server need to load two root CA certificates, my question is that how to load these two root CA on the server?  Look forward to your reply!

[2019-01-29 16:09] jiangtaoli2016 commented on #17743
You should be able to combine two root CA certificates into one file. Could you show us the combined root pem file?

You can take the following as an example
https://github.com/grpc/grpc/blob/master/etc/roots.pem

Each certificate is separated with
-----BEGIN CERTIFICATE-----
....
-----END CERTIFICATE-----

[2019-01-29 16:29] muxi commented on #17814
CFStream failure is identified and also fixed in #17816.

[2019-01-29 17:12] dfawley commented on #16210
@ZhiqinYang this issue is for a C core bug, not Go.  If you think there is a problem with the go implementation, please file an issue there (https://github.com/grpc/grpc-go/issues/new).  Thanks!

[2019-01-29 17:38] markdroth opened #17857 "remove grpc_channel_ping() from C-core API"
This function is not used outside of tests, so there's no reason it needs to be in the C-core API.

[2019-01-29 17:44] a11r commented on #12655
This needs to be assigned to someone who can actually work on it.

[2019-01-29 17:47] a11r commented on #13980
gRPC Does not guarantee message delivery. A send completion just indicates that the client should feel free to send more messages. This should not be read as "the message was delivered."

[2019-01-29 17:47] #13980 closed

[2019-01-29 17:51] vjpai commented on #15141
Dropping this from P1 to P2 because incorporating libcxxabi has proved problematic, we're still able to workaround this issue, and there's not anyone with the cycles to work on it at the current time.

[2019-01-29 17:52] vjpai commented on #16403
@lidizheng @ericgribkoff @gnossen : does the Python team still need something like this?

[2019-01-29 17:55] vjpai commented on #9407
Dropping to P2 since there is no known customer demand at the current time.

[2019-01-29 17:55] #17850 closed

[2019-01-29 18:07] yashykt commented on #17850
Thanks for quickly taking care of it

[2019-01-29 18:51] apolcyn commented on #17853
opened fix in https://github.com/grpc/grpc/pull/17860

[2019-01-29 20:01] JamesNK commented on #17840
gRPC logging: [log.zip](https://github.com/grpc/grpc/files/2809445/log.zip)

Vebosity: DEBUG
Trace: ALL

Search for "Stream removed" for the area where the problem occurred.

[2019-01-29 20:02] JamesNK commented on #17840
[code]

[2019-01-29 21:43] AspirinSJL opened #17864 "Add grpc_core::Map<> to replace the AVL"
As mentioned here https://github.com/grpc/grpc/pull/17513#pullrequestreview-187052786, we should try using "std::map<> in C-core by overriding the allocator, similarly to what we do for grpc_core::UniquePtr<> (i.e., create a new file src/core/lib/gprpp/map.h defining grpc_core::Map<>)".

Currently, we are using an AVL tree as an implementation of a map for the subchannel pool interface.

This is n

[2019-01-29 21:43] AspirinSJL commented on #17864
cc @ncteisen

[2019-01-29 22:01] pfreixes opened #17866 "Likely race condition in uv iomgr implementation"
Seems that the TCP custom server explicitly differentiates the listen step - which basically is used to provide a new port that should be listening eventually - and the start step of the server by itself that is expected to start listening the ports that were provided - which will provide the accept callback that must be used when new connections arrive at the system.

Right now the `iomgr` implem

[2019-01-29 22:21] murgatroid99 commented on #17866
I believe this race is resolved by the second part of [the check in `accept_new_socket`](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/tcp_uv.cc#L246) that checks for the presence of `uv_socket->accept_socket`. That `accept_socket` field is set in [`uv_socket_accept`](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/tcp_uv.cc#L287), the same function that sets the `accept_

[2019-01-30 00:16] mhaidrygoog opened #17870 "Allow unary call to take byte buffer request"
Modify codegen to take byte buffers as requests for the async and callback unary request methods

[2019-01-30 01:27] apolcyn opened #17871 "cfstream-tests failed"
[code]

https://source.cloud.google.com/results/invocations/f8220ee5-b334-4532-8119-31b2f9e92207/targets/github%2Fgrpc%2Fobjc_macos_opt_native/tests

and https://source.cloud.google.com/results/invocations/01a529ea-d4e4-4591-a00a-57189e9178b1/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests

noticed in PR: https://github.com/grpc/grpc/pull/17860

[2019-01-30 01:27] #17853 closed, assigned to apolcyn

[2019-01-30 01:46] muxi commented on #17871
Actually it's not. Reopening.

[2019-01-30 01:47] muxi commented on #17851
This looks like a duplicate of #17814. We'll see if it gets fixed by #17816

[2019-01-30 07:35] BalrogMithrandir commented on #17743
@jiangtaoli2016 Thank you, it works.  It didn't work before because i use two root ca with the same CN, now. Thank you!

[2019-01-30 07:35] #17743 closed

[2019-01-30 12:33] pitrou opened #17876 "cmake build ignores CARES_ROOT_DIR"
`cmake/cares.cmake` contains the following:
[code]

So even if you define CARES_ROOT_DIR, it still requires you to have checked out the c-ares vendored submodule...

[2019-01-30 16:08] mksully22 opened #17877 "on ppc64le Alpine Linux "make test fails" with unsupported relocation type 43"
### What version of gRPC and what language are you using?
1.18.0

### What operating system (Linux, Windows, …) and version?
 Linux Alpine (edge) on ppc64le

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc-8.2.0
musl-1.1.20
php7-7.2.14

### What did you do?
After making modules/grpc.so without error using:
  ./configure --prefix=/usr --with-php-config=php-con

[2019-01-30 17:57] #17829 closed

[2019-01-30 18:49] ericgribkoff commented on #17828
From the compile log, the command executed [here](https://github.com/gaoshun/errorlog/blob/master/make.log#L1836) is "false", which indicates the linker or some other command isn't being produced correctly by your buildtool.

I hadn't heard of buildroot (https://buildroot.org/downloads/manual/manual.html#_infrastructure_for_python_packages) prior to this question, and I don't think anyone on gRPC

[2019-01-30 18:49] #17828 closed

[2019-01-30 18:59] apolcyn opened #17882 "run-grpc-node tests failed to build"
The build stopped with a syntax error:

[code]

https://source.cloud.google.com/results/invocations/31055898-a488-4720-9913-05431b3724ff/targets/github%2Fgrpc%2Fgrpc-node_macos_dbg_native/tests

[2019-01-30 20:04] JunTaoLuo opened #17884 "Grpc.Tools: Change the casing of msbuild property ProtoBuf to Protobuf"
### What version of gRPC and what language are you using?
 1.18.0 with C#

### What operating system (Linux, Windows, …) and version?
 Windows 10 but this change is platform agnostic

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET Core 3.0 preview 1 though this shouldn't matter either

### What did you do?
Inspected the MSBuild targets/items/properties in G

[2019-01-30 20:45] vjpai commented on #17870
@sreecha points out that this would be useful for responses coming from the server as well. Since the same motivation applies to a server that wants to send the same preserialized data multiple times.

[2019-01-30 21:19] #17871 closed

[2019-01-30 22:16] vjpai commented on #17870
WRT the latter issue, @ncteisen had made progress on it (raw request or raw response without raw to both) but we left it aside since it seemed like an API explosion. But that said, the API is already pretty exploded and it may be worth reviving #15805

[2019-01-31 00:35] JamesNK commented on #17840
Opps, I got the related link wrong. It is to this long standing issue - https://github.com/grpc/grpc/issues/15623

[2019-01-31 01:25] JamesNK opened #17886 "Add build number to dev NuGet packages"
The gRPC build makes a preview NuGet packages available - https://packages.grpc.io/archive/2019/01/ab18421ba2a55ab522c867471e694c0362fe6695-ceee4ff5-048b-4ece-8e41-db8e8675333b/index.xml

Right now the packages always have the same ID. This can cause issues for developers who want to use preview packages because NuGet will cache the contents based on the ID. If someone wants to use the newer versi

[2019-01-31 07:11] prankkelkar commented on #15996
Any updates? @rohitsakala

[2019-01-31 07:46] apolcyn commented on #15996
sorry there, this feels like a potential memory bug somewhere between the grpc and protobuf libraries. On the mentioned platform, how reliably does this reproduce? E.g.., is it flakey, or does the exception ever change to a different one?

[2019-01-31 08:44] rohitsakala commented on #15996
Hi @apolcyn , it is always reproducible in the mentioned platform.

[2019-01-31 14:52] jtattermusch commented on #17335
a TSAN failure:
https://source.cloud.google.com/results/invocations/8ab3d2ec-848e-49ef-979a-c02f68b42926/targets/github%2Fgrpc%2Fcpp_linux_tsan_native_x64_clang7.0/tests

[code]

[2019-01-31 16:59] kkm000 commented on #17884
Roger.

[2019-01-31 17:06] kkm000 commented on #17884
@jtattermusch, wondering if GitHub will let you change the Assignee field to me; if it does, could you please do? More efficient than mirroring like https://github.com/kkm000/grpc/issues/3

[2019-01-31 17:11] jtattermusch commented on #17884
@kkm000  unfortunately github won't let me assign to you as you're not member of the grpc org.

[2019-01-31 17:16] markdroth opened #17891 "don't use rand(3) in C-core"
`rand(3)` is not thread-safe, but we're using in several places in C-core.

It's not clear what the alternative is, since `rand_r(3)` may not be portable enough.

Note that the code in src/core/lib/backoff/backoff.cc does have a custom random number generator implementation, but I don't know whether it works for data types other than `double`.

[2019-01-31 17:17] kkm000 commented on #17884
@jtattermusch I see, thanks. No biggie.

[2019-01-31 19:21] nicolasnoble commented on #17891
`rand(3)` isn't threadsafe, in the sense it won't be reproducible with a given seen. But otherwise, it shouldn't corrupt things. If we don't care about the reproducibility of things, then it should be fine.

Worst-case scenario however, if this is because TSAN complains, I can re-license my [personal rand code](https://github.com/grumpycoders/uC-sdk/blob/master/libc/src/rand.c). It technically wor

[2019-01-31 22:40] andypost commented on #17877
It fails on s390x as well, probably byte order effect cos both Little-endian

[2019-01-31 23:31] nicolasnoble commented on #17891
Yeah, I just tried running the prng from backoff.cc, and it is deemed suspicious by [dieharder](https://webhome.phy.duke.edu/~rgb/General/dieharder.php) :-)

[code]

[2019-02-01 02:13] calebatwd opened #17898 "Grpc.Tools build target precludes Rider inspection on generated files"
### What version of gRPC and what language are you using?
Grpc.Tools 1.18.0

### What operating system (Linux, Windows, …) and version?
 MacOs Mojave and Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 C# MSBuild on netstandard1.5 and netstandard2.1
`dotnet build`

### What did you do?
Opened the csharp sample solution for helloworld loaded in **Rider

[2019-02-01 06:12] atappz opened #17900 "npm install grpc fail"
@FundManApp cron]# npm install grpc

node-pre-gyp WARN Using request for node-pre-gyp https download
gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/10.15.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/FundMgmnt/cron/node_modules/grpc/.node-gyp"
gyp WARN install got an error, rolling back install
gyp WARN install got an er

[2019-02-01 07:04] g-easy commented on #14145
The `_messages_cc_only` workaround works for messages but not for services. I'm trying to build a `cc_grpc_library` for `@com_google_googleapis//google/devtools/cloudtrace/v2:trace_proto` to get [TraceService](https://github.com/googleapis/googleapis/blob/acb5253cd11cd43cab93eb153d6e48ba0fa5303d/google/devtools/cloudtrace/v2/tracing.proto#L37).

[2019-02-01 08:49] prankkelkar commented on #15996
Even i am facing the same issue on rhel 7.6 s390x. It is working on ubuntu Distro.

[2019-02-01 08:53] rohitsakala commented on #15996
Hi @prankkelkar , was it working on Ubuntu s390x ?

[2019-02-01 09:14] apolcyn commented on #15996
Anyone able to do a short script that involves just a `require` of that  `googleapis-common-protos-types-1.0.1/lib/google/rpc/status_pb.rb` file, and that alone?

If we can do that, and hit the same bug, then this could be narrowed down to a platform-specific bug with protobuf

[2019-02-01 10:35] navneetkryadav commented on #17813
Closing this as it is resolved, problem found with max file descriptor.

[2019-02-01 10:35] #17813 closed

[2019-02-01 16:21] vjpai commented on #17335
Seeing this again at https://source.cloud.google.com/results/invocations/9f90aab4-2223-4ef7-86a6-136bdbcc52c0/targets/github%2Fgrpc%2Fcpp_linux_tsan_native_x64_clang7.0/tests

[2019-02-01 16:55] jtattermusch commented on #16464
The fix is available starting from v1.17.1 release (https://github.com/grpc/grpc/pull/17378).
Can you confirm that this was fixed?

[2019-02-01 16:55] #16464 closed

[2019-02-01 18:06] jtattermusch commented on #17761
After some investigation, I have a lead what could be the problem.
It looks like that under the circumstances described above, C-core reports a problem with the read via setting the arg `success` to false (which is an unusual scenario). In C# code, we happen to treat that as a null message (thus ending the stream and expecting the call statusCode will be non-ok), but in this call the status' statu

[2019-02-01 18:22] lidizheng opened #17902 "[Flaky] grpc_ios_binary_size Timeout"
The core error log:
[code]

Full error log can be found here: https://source.cloud.google.com/results/invocations/255b1d27-a2fc-45c8-9508-2aaef7082c7a/log

30 most recent builds failed 29 times, but succeed once so I marked it as flaky: https://fusion.corp.google.com/projectanalysis/current/KOKORO/prod:grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size

[2019-02-01 19:42] jtattermusch commented on #17902
Dup of #17561, hopefully fixed by https://github.com/grpc/grpc/pull/17890.

[2019-02-01 19:42] #17902 closed

[2019-02-01 22:58] wuyuanyi135 commented on #17035
try `LD=arm-linux-gnueabihf/bin/gcc LDXX=arm-linux-gnueabihf/bin/g++`

[2019-02-02 00:56] wuyuanyi135 opened #17910 "cross compile make all does not build protoc plugins"
### What version of gRPC and what language are you using?
 grpc-cpp v1.18.0

### What operating system (Linux, Windows, …) and version?
 Ubuntu 18.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 aarch64-linux-gnu-gcc 7.4

### What did you do?
Assume the build machine has protoc and grpc installed in the default location (/usr/local/), and the cross version of

[2019-02-02 01:37] arjunroy opened #17911 "*san failure in subchannel: call stack destruction is after channel stack destrcution"
### What version of gRPC and what language are you using?
 Latest

### What operating system (Linux, Windows, …) and version?
PR test flow

### What runtime / compiler are you using (e.g. python version or version of gcc)
N/A

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

https://source.cloud.google.com/resul

[2019-02-02 02:00] apolcyn opened #17913 "MSAN failure: //test/cpp/end2end:grpclb_end2end_test@poller=poll"
[code]

https://source.cloud.google.com/results/invocations/e6da9147-60ad-4fb3-b754-27f888b17bb7/targets/%2F%2Ftest%2Fcpp%2Fend2end:grpclb_end2end_test@poller%3Dpoll/log

[2019-02-02 02:01] apolcyn opened #17914 "RBE failure: //test/cpp/end2end:end2end_test@poller=poll abort"
[code]

https://source.cloud.google.com/results/invocations/4486a5ce-3cde-414e-8462-dade83389c25/targets;collapsed=/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Dpoll/log

[2019-02-02 02:05] apolcyn commented on #17794
Have to reopen, just noticed several instances of this today in https://github.com/grpc/grpc/pull/17894
https://source.cloud.google.com/results/invocations/8739c921-7932-495e-b3cb-c9f398364358/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_c_ubsan/log

https://source.cloud.google.com/results/invocations/f2edac9a-4d3a-4b45-a797-ac4df84fa962/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basic

[2019-02-02 03:05] mehrdada opened #17915 "grpc::Alarm doesn't allow reuse without leaking memory"
`grpc::Alarm` increments the reference count of the `CompletionQueue` passed on each call to `Set`, but only unrefs it in the destructor at most once. The documentation for the class does not explicitly say that it's not reusable, and looking at the code it seems like the intent was for it to be reusable just fine, as the internal C-core object is recreated every time and the one-time-setting cons

[2019-02-02 03:05] mehrdada commented on #17915
cc @vjpai

[2019-02-02 19:18] kkm000 commented on #17898
Thanks for the workaround! I've never heard about Rider, but I'll check your pointers. Would you be able to check a nightly build of the Tools package, when available, against this problem?

[2019-02-03 02:00] TsuyoshiUshio opened #17919 "dotnet app example fails when you use GitBash with Unhandled Exception"
### What version of gRPC and what language are you using?

 C#

### What operating system (Linux, Windows, …) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

dotnet --version
2.1.503

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you ex

[2019-02-03 03:01] rmstar opened #17920 "Test flake: //test/core/end2end:h2_http_proxy_nosec_test@cancel_after_round_trip@poller=poll-cv"
[code]
https://source.cloud.google.com/results/invocations/c204d203-0ed7-435b-b248-354acf2f19d4/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_nosec_test@cancel_after_round_trip@poller%3Dpoll-cv/log

Noticed on PR: #17842

[2019-02-03 04:15] alishir commented on #9549
I have the same issue. Before installing grpc I have been installed to version of protobuf, one version via `apt` and other from source, I tried to remove `apt` installed version but many packages depends on that, so I didn't uninstall the `apt` version. Then I uninstalled the version that installed from source and grpc installed successfully.

[2019-02-03 15:18] yifanes opened #17922 "run grpc php test filed"
php client code:
`        $call = $client->PingPong();

        for ($i = 1; $i < 3; $i++) {
            $request = new \Go\Micro\Srv\Yifanes\Com\Ping();
            $msg = $i;
            $request->setStroke($msg);
            echo sprintf("send msg: %s", $msg);
            $call->write($request);
        }
        $call->writesDone();

        while ($replay = $call->read()) {
            var_du

[2019-02-04 15:52] jtattermusch commented on #17886
I see how this is a problem, but fixing might trickier that it looks like - the version number in C# is generated from repository-wide version https://github.com/grpc/grpc/blob/872ca1f8a51ff41e2f3972d0d64b0e34461d639e/build.yaml#L17 in some interesting ways. I'll take a look though.

[2019-02-04 23:38] grapemix commented on #17414
I used gevent + requests a lot too with no problems.

[2019-02-04 23:47] NathanBockrath commented on #17799
Hi all,

I'm new here, and my estimator is broken; any idea on the time frame for this issue to be addressed?
I see that apoclyn has 874 issues on the plate and I don't know if that means 1 year, 5 years or never.
I've my own management overlords asking for estimates, and "I don't know" is getting me the unfunny looks.

[2019-02-05 00:12] blowmage commented on #17799
@JustinBeckwith @dazuma Can you guys help this issue get some internal attention?

[2019-02-05 06:22] rmstar opened #17927 "Python flake: //src/python/grpcio_tests/tests/unit:_abort_test"
[code]
https://source.cloud.google.com/results/invocations/be75aace-e7dc-4792-ac51-caa33b9f3457/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

Seen on PR: #17895

[2019-02-05 17:41] vjpai commented on #17915
Great point, it is implicit in our API right now that this should only be set once; I should add a comment or make it resettable.

[2019-02-05 17:44] a11r commented on #9779
Alex - can you please try reproducing and assign to me if this needs attention.

If not reproducible/relevant any more please close.

[2019-02-05 17:47] a11r commented on #8801
Fixed by #11495

[2019-02-05 17:47] #8801 closed

[2019-02-05 17:55] yashykt commented on #16494
Giving this attention, I am going to write a test for this that would fail currently

[2019-02-05 18:02] vjpai commented on #16564
We have discussed dealing with reserved words in .proto files but don't have a specific plan. I would suggest that the path of least resistance (and probably quickest speed) is to change your .proto

[2019-02-05 18:04] vjpai commented on #16675
@nicolasnoble : has this been updated/fixed? I think so, but wanted to confirm.

[2019-02-05 18:05] vjpai commented on #16591
This is WAI. CQ shutdown doesn't force  existing alarms to cancel, just like it doesn't force existing RPCs to cancel. You'll need to cancel your alarms if that's what you want. Otherwise, just wait out the alarms as you drain the CQ.

[2019-02-05 18:05] #16591 closed

[2019-02-05 18:18] vjpai commented on #16775
@ncteisen : Noah, I think that you have touched the nanopb BUILD stuff recently, correct? Do you have a solution here?

[2019-02-05 18:20] #17767 closed

[2019-02-05 18:21] AspirinSJL commented on #17767
@dsafreno Feel free to reopen this issue if you have further question.

[2019-02-05 18:31] vjpai commented on #16804
If you want to set options to protobuf configure, we pass along an environment variable called PROTOBUF_CONFIG_OPTS from the Makefile

[2019-02-05 18:31] #16804 closed

[2019-02-05 18:31] a11r commented on #17716
Please reopen if there is anything pending.

[2019-02-05 18:31] #17716 closed

[2019-02-05 18:32] a11r commented on #17780
Is this still an issue ?

[2019-02-05 18:34] a11r commented on #17791
@hcaseyal Can you please do a quick check to see if UBSan suppression is still needed ?

[2019-02-05 18:37] vjpai commented on #16891
I agree with @yang-g . @vivek-avi , would you be willing to contribute a PR to specialize a timepoint for the clock of your choice?

[2019-02-05 18:49] jtattermusch commented on #17780
The builds seems passing https://fusion.corp.google.com/projectanalysis/current/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_build_boringssl_at_head

[2019-02-05 18:49] #17780 closed

[2019-02-05 19:31] yashykt commented on #17284
More information is needed here on what the motive here is.

[2019-02-05 19:34] yashykt commented on #17292
Yes TryCancel() from the client should do the job. That is the right way to cancel a stream.

[2019-02-05 19:34] #17292 closed

[2019-02-05 19:46] ericgribkoff commented on #17695
No current plans to add this; we aren't opposed to it, but epoll1 is the default in our python distribution and seems sufficient for current use. For locally compiled versions of gRPC, you can choose epoll1 via the [`GRPC_POLL_STRATEGY`](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md) environment variable.

No, we do not support fork() without exec() for C++ clients. C++ doe

[2019-02-05 19:46] #17695 closed

[2019-02-05 19:48] yashykt commented on #17366
I am neither for or against this. Seems to me that a simple enum to string function would also do the job.

[2019-02-05 20:59] ericgribkoff commented on #17927
I just merged https://github.com/grpc/grpc/pull/17929 which *might* fix this, but I suspect there's some other issue at hand. Will monitor to see if the test continues to be flaky.

[2019-02-05 21:01] hcaseyal commented on #17791
@a11r We are looking at the test results in #17930. Will update back when tests are finished running.

[2019-02-05 21:14] srini100 commented on #12295
In theory, the timing of connection aging can line up in such a way that all backends drop connections almost at the same time causing increased latency spikes on clients even in a steady-state system. This would not be the case with periodic DNS refresh.

Both solutions (periodic DNS refresh and max connection age) have pros and cons. Are there are any users who have run into practical issues wit

[2019-02-05 21:20] ncteisen commented on #16775
This fix was all in TensorFlow's build system. See here: https://github.com/tensorflow/tensorflow/commit/80ac0c26cc16ffa1804c1092e298dee021f64b36

[2019-02-05 21:43] vjpai commented on #17473
Confirmed that this is a client-side issue

[2019-02-05 21:45] mehrdada commented on #17915
Thanks. We got bitten by this and found it with some ASAN investigation. As a matter of feedback, making it resettable would be ideal (at least with the precondition that the previous tag had been drained) and seems feasible looking at the code, as it makes for a better API from a usability perspective (right now I have to wrap it with `std::unique_ptr` and recreate the instance every time.)

[2019-02-05 22:09] yashykt commented on #17438
You are calling Finish() too early. Please refer to the documentation here for the correct order for calling it.
https://github.com/grpc/grpc/blob/5e50a89502a22f6c10f59259151bd0d0362c4b55/include/grpcpp/impl/codegen/async_stream.h#L79

[2019-02-05 22:09] #17438 closed

[2019-02-05 22:11] yashykt commented on #17431
Please close this if it was fixed.

[2019-02-05 23:16] hcaseyal commented on #17791
@a11r It appears from #17930 that these suppressions are no longer necessary. @davidben , thanks for pointing this out.

[2019-02-05 23:31] nicolasnoble commented on #17791
Suppressions for BoringSSL have been removed.

[2019-02-05 23:31] #17791 closed

[2019-02-05 23:32] apolcyn commented on #17799
Sorry, looking to address this for the next 1.19 release

[2019-02-05 23:37] apolcyn commented on #9779
Sorry, this issue should really be titled: "C-core doesn't support incoming data frames with padding"

I don't think support has since been added, but will check

[2019-02-05 23:42] NathanBockrath commented on #17799
OK, Thank you.  What is the time-frame for that release?

[2019-02-05 23:46] apolcyn commented on #17799
I'd have to guess about 3 weeks out

[2019-02-05 23:50] NathanBockrath commented on #17799
OK.

Thanks again!

From: EXTERN apolcyn <notifications@github.com>
Sent: Tuesday, February 05, 2019 5:47 PM
To: grpc/grpc <grpc@noreply.github.com>
Cc: Nathan Bockrath <Nathan.Bockrath@fresenius-kabi.com>; Manual <manual@noreply.github.com>
Subject: Re: [grpc/grpc] Ruby client hangs on Windows (#17799)

I'd have to guess about 3 weeks out

—
You are receiving this because you are subscribed to th

[2019-02-05 23:51] yashykt commented on #17369
Pull requests are welcome :)

[2019-02-06 00:00] yashykt commented on #17520
What you want can be achieved with the interception API.

[2019-02-06 00:01] #17520 closed

[2019-02-06 00:08] jeffd commented on #17516
The issue is still present without the use of global or static variables. I don’t think the issue should be closed.

[2019-02-06 00:10] yashykt opened #17935 "Untested compression channel arguments"
GRPC_COMPRESSION_CHANNEL_DEFAULT_LEVEL and GRPC_COMPRESSION_CHANNEL_ENABLED_ALGORITHMS_BITSET are untested channel arguments.

We should have tests for this if we consider this to be a working feature.

[2019-02-06 00:11] yashykt commented on #17935
#17372 is the reason why this was noticed

[2019-02-06 00:14] yashykt commented on #17372
A pull request would be welcome next time :)

[2019-02-06 00:50] itn3000 commented on #17919
maybe it's not grpc problem.
As you say, `System.ReadKey` is always failed when running on mintty directly.
I used `winpty dotnet [args]` for workaround.

[2019-02-06 00:58] yang-g commented on #17516
Does anyone have a correct, working reproduction?

[2019-02-06 01:06] davidben commented on #17791
Glad to hear it!

Relatedly, these suppressions are probably bugs in your leak checker environment somewhere, so you should at least change the comment. They're freed by thread-local destructors. I've seen reports of leak checkers mess this up before, but never managed to reproduce it.
https://github.com/grpc/grpc/blob/master/test/core/util/lsan_suppressions.txt
(We've run BoringSSL against LSan f

[2019-02-06 01:39] jsharpconv opened #17938 "Abort in grpc_mdelem_unref"
### What version of gRPC and what language are you using?

grpc-1.12

### What operating system (Linux, Windows, …) and version?
Gentoo Linux, kernel 4.7.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 6.4.0

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did

[2019-02-06 02:21] mailravi02 commented on #17284
In our application we will specify the source interface for each GRPC connection and the expectation is that the GRPC connection will use the VRF and source IP of that interface. To achieve this we need an option in GRPC to set vrf/namespace and source IP.

This feature will be useful in case the destination GRPC server IP is resolved through multiple interface.  User configures a source interface

[2019-02-06 03:15] yashykt commented on #16494
I was wrong :D
The chttp2 transport has checks to not return the op GRPC_OP_RECV_CLOSE_ON_SERVER till the underlying stream is unavailable for both reading and writing.

This means that on the server side we will get back the CompletionOp when -
1) a RST_STREAM (cancel) renders the stream closed for both reading and writing
2) The server sends the status which would be the end of the RPC

Well, th

[2019-02-06 03:15] #16494 closed

[2019-02-06 03:57] yashykt commented on #17284
@markdroth to comment on whether we want to provide the option for clients to specify source address as a channel argument.

[2019-02-06 05:09] apolcyn commented on #9779
This is still reproduceable, and would technically be a gap in C-core's following of the h2 spec.
But at the same time:
1) I'm not aware of any users that have actually ran into this in the wild (I'm not sure if/what h2 implementations send padding, grpc doesn't)
2) C-core fails fast. E.g. contrarily, Go accepted padding but didn't account for it in flow control to grant back to the sender

Lowere

[2019-02-06 08:33] monkey-brains opened #17940 "Generated Protocol buffer files"
### What version of gRPC and what language are you using?
 Name: grpcio
Version: 1.18.0
Summary: HTTP/2-based RPC framework
Home-page: https://grpc.io
Author: The gRPC Authors
Author-email: grpc-io@googlegroups.com
License: Apache License 2.0
Location: /Users/prashunjaveri/anaconda2/lib/python2.7/site-packages
Requires: enum34, futures, six
Required-by: grpcio-tools, grpc-google-pubsub-v1, grpc-go

[2019-02-06 09:28] jtattermusch commented on #17794
Likely fixed by switching to "grpc-performance-kokoro-v4"  image that has auto-updates disabled. See https://github.com/grpc/grpc/pull/17928

[2019-02-06 10:03] jtattermusch commented on #17335
This has been failing 75% of C++ TSAN builds on master for the past week.

[2019-02-06 10:04] jtattermusch commented on #17335
Recent logs:

https://source.cloud.google.com/results/invocations/8a86aa55-0733-42fa-89a7-2f866ceb3ace
https://source.cloud.google.com/results/invocations/ff7b1446-1b41-4987-9cc6-f5bce8d1aee8
https://source.cloud.google.com/results/invocations/c1e7e93e-4701-4ebe-9541-0f5a2df12d9e
https://source.cloud.google.com/results/invocations/8ac52660-2757-49a5-9200-e12dcb420431

[2019-02-06 10:06] jtattermusch commented on #17335
The problem seems to have been introduced around 2019-01-30.

[2019-02-06 10:10] #17940 closed

[2019-02-06 10:12] jtattermusch commented on #17335
Potential offender: https://github.com/grpc/grpc/pull/17879.

[2019-02-06 10:16] jtattermusch commented on #17814
This has been failing consistently for the past 12 days.

[2019-02-06 12:53] jtattermusch commented on #17840
@JamesNK  I tried running BenchmarkClient and BenchmarkServer  to reproduce, but after following instructions from https://github.com/aspnet/AspNetCore/issues/6974#issue-402508405, I got a build error:
[code]
I assume this might be because the PR with benchmarks might be slightly out of date. Is it possible to get it to a buildable state?

[2019-02-06 13:38] jozefizso opened #17942 "InsecureServerCredentials->SetAuthMetadataProcessor() will crash the app"
### What version of gRPC and what language are you using?
 grpc v1.14.1, C++

### What operating system (Linux, Windows, …) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 MSVC

### What did you do?
We want to use our own `AuthMetadataProcessor` class in a gRPC server which uses insecure server credentials.

### What did you expect to se

[2019-02-06 15:10] markdroth commented on #17284
This use-case seems very reasonable.

I'd like input from @ejona86 and @dfawley on this.  Do Java and Go support this?  If so, what does the API look like?

[2019-02-06 15:33] #16199 closed

[2019-02-06 15:35] #16954 closed

[2019-02-06 15:36] ncteisen commented on #16775
Closing for now, let me know by commenting if following similar steps to the ones taken for TensorFlow does not help and I will re open

[2019-02-06 15:36] #16775 closed

[2019-02-06 15:41] ncteisen commented on #15988
This is completed

[2019-02-06 15:42] ncteisen commented on #15764
Redirected to @vjpai in case you continue the work for unbalanced raw API.

[2019-02-06 15:42] ncteisen commented on #15340
This is completed

[2019-02-06 15:42] #15340 closed

[2019-02-06 15:43] #15081 closed

[2019-02-06 15:43] #14085 closed

[2019-02-06 15:45] #11094 closed

[2019-02-06 15:46] ncteisen commented on #1666
Duplicate of #14932

[2019-02-06 15:46] #1666 closed

[2019-02-06 16:14] jtattermusch commented on #17840
@JamesNK  sorry for the confusion, I realized I can use https://github.com/grpc/grpc-dotnet/pull/67 and I'm able to build and reproduce with that code.

[2019-02-06 17:15] jtattermusch commented on #17840
So far I was able to confirm that this happens on both linux and windows.

[2019-02-06 17:27] dfawley commented on #17284
There is no way to specify this specifically in Go, but you can inject your own custom dialer which could accomplish it.

[2019-02-06 17:49] gnossen commented on #17203
@GuillaumeCisco There was recently [an issue fixed in gRPC core involving local trust anchors](https://github.com/grpc/grpc/pull/17868). Can you check if this resolves your issue? It's too recent to be in a release, but you can grab a daily build from [here](https://packages.grpc.io/archive/2019/02/9aee1731c92c8e7c880703fc948557c70bb4fc47-f4551647-92d1-49fd-ac63-40af2f440f2c/index.xml).

[2019-02-06 17:51] vjpai opened #17946 "ASAN heap use after free in client_channel_stress_test"
### What version of gRPC and what language are you using?

Head, c++

### What operating system (Linux, Windows, …) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Bazel rbe asan test

### What did you do?

Created PR #17933, unrelated

### What did you expect to see?

 Tests pass

### What did you see instead?

Heap use after free: https://s

[2019-02-06 17:51] muxi commented on #17814
Thanks for the notice. Making changes in process.

[2019-02-06 17:53] #17915 closed

[2019-02-06 17:57] sanjaypujare commented on #17284
In grpc-jave there is something called LocalSocketPicker. See https://github.com/grpc/grpc-java/issues/4917

[2019-02-06 18:21] #16540 closed

[2019-02-06 18:25] apolcyn commented on #17942
I believe setting an `SetAuthMetadataProcessor()` is not supported on insecure credentials for security reasons.

[2019-02-06 18:29] apolcyn commented on #17942
see this groups chat for some background: https://groups.google.com/forum/#!topic/grpc-io/ifL63H0kN48... I think the assertion hit here is not something we want to remove

[2019-02-06 18:29] #17942 closed

[2019-02-06 18:31] apolcyn commented on #17938
What language are you using? (E.g. C++, python, C#, etc. ?)

Also, `grpc-1.12` is quite old - do you know if this still happens when upgrading to a more recent version? The latest release is 1.18

[2019-02-06 18:39] apolcyn commented on #17919
Ok, given the exception message surfaced, this doesn't look like an issue within grpc, so closing. Thanks for the update

[2019-02-06 18:39] #17919 closed

[2019-02-06 18:43] apolcyn commented on #17900
[code]

At a glance, this problem here seems outside of the scope of grpc-node

[2019-02-06 18:47] apolcyn commented on #17827
Did you also see a log message: `No event engine could be initialized from legacy` ?

Current posix polling engines include `epollex`, `epoll1`, `poll-cv`, and `poll`. Did `legacy` ever work at some point in the past?

[2019-02-06 18:49] ncteisen commented on #17231
#17949

[2019-02-06 18:53] jsharpconv commented on #17938
C++
1.12 is what I'm using for the moment because otherwise I'm getting trapped in some dependency circles with protobuf.  If I try to build 1.18, I get errors about ruby:

src/compiler/ruby_generator.cc: In function ‘grpc::string grpc_ruby_generator::GetServices(const FileDescriptor*)’:
src/compiler/ruby_generator.cc:165:25: error: ‘const class google::protobuf::FileOptions’ has no member named ‘

[2019-02-06 18:54] apolcyn commented on #17911
pasting the sponge log while it's accessible:

[code]

[2019-02-06 18:57] AspirinSJL commented on #17911
Looks similar with https://github.com/grpc/grpc/issues/17335. I will debug it today.

[2019-02-06 19:05] jtattermusch commented on #17840
See analysis of what's going on (and fix) in https://github.com/grpc/grpc/pull/17950.

[2019-02-06 19:06] ncteisen commented on #8624
I cannot reproduce this. See a test I added in #17951, which passes as is

[2019-02-06 19:07] murgatroid99 commented on #17900
If you are running this in docker, it might help to run `npm install grpc --unsafe-perm`.

[2019-02-06 19:13] jtattermusch commented on #17840
A bit more explanation about what happens in this scenario:
- gRPC fails to parse the WINDOW_UPDATE
- it sends a RST_STREAM for all outstanding calls on that connection
- that ends up in "Stream removed".

Btw, it doesn't seem that this "Stream removed" problem would be related to https://github.com/grpc/grpc/issues/15623 as suggested above.

[2019-02-06 19:15] ZhouyihaiDing commented on #17812
`cc1: error: unrecognized command line option '-Wno-parentheses-equality' [-Werror]`
The issue is similar to https://github.com/grpc/grpc/issues/10233

Does the `pecl install` works for gRPC before 1.18.0(like 1.2.0) with your current gcc version? Thanks for the help.

[2019-02-06 19:16] mfrischknecht commented on #16464
Please excuse me for the long delay. I had a chance to re-try the issue with the repository I linked (using GRPC version 1.18.0). I can confirm that on my machine, `Proxy.exe` (the queued version) never outgrows 25 MiB on a single RPC call, while 100 concurrent calls let it oscillate from around 800 to 900 MiB according to the Windows Task Manager.

Thanks @jtattermusch for looking into this! By t

[2019-02-06 19:26] ZhouyihaiDing commented on #17922
Hi. Is PingPong() a bidi-streaming RPC? Can you please provide the proto information you are using?

[2019-02-06 19:46] #17372 closed

[2019-02-06 19:57] jtattermusch commented on #16464
@mfrischknecht  thanks for verifying the fix!    Ideally we'd implement resource quota functionality under windows (currently only available on unix), but we currently have no plans to do that. Contributions are welcome though!

Another idea would be to make https://github.com/grpc/grpc/blob/e5eb3f80198398669e5b8f8af7b779e47e135adf/src/core/lib/iomgr/tcp_windows.cc#L241 configurable using https://

[2019-02-06 21:15] mhaidrygoog commented on #17225
I think this may be achieved by implementing a grpc_socket_mutator and set the appropriate option in the mutate callback.
@apolcyn Could you please confirm?

[2019-02-06 22:44] mhaidrygoog commented on #17236
Closing duplicate issue

[2019-02-06 22:44] #17236 closed

[2019-02-06 23:17] mhaidrygoog commented on #16998
Issue resolved

[2019-02-06 23:17] #16998 closed

[2019-02-06 23:18] #17231 closed

[2019-02-06 23:19] ncteisen commented on #8624
Closing for now, please leave a comment if you can repro and we will re open

[2019-02-06 23:20] mhaidrygoog commented on #17035
Response provided. Please re-open if still a issue

[2019-02-06 23:20] #17035 closed

[2019-02-06 23:29] mhaidrygoog commented on #17164
@guantaol  is working on a single execctx solution to handle this issue

[2019-02-06 23:35] mhaidrygoog commented on #17094
Could you please provide more details regarding how did you build the grpc workspace and how did you install the openssl library?

[2019-02-07 00:50] mhaidrygoog commented on #17122
This looks like a legitimate concern. We should be throwing an error instead of directly unlinking the previous socket. Upgrading this to a enhancement

[2019-02-07 01:54] davidfowl commented on #17886
Please, this is making things a bit rough right now.

[2019-02-07 05:29] AspirinSJL commented on #17335
Somehow the channel stack is destroyed before the call stack destruction.. Will investigate more tomorrow.

[2019-02-07 07:50] maettu-this opened #17961 "Missing good enough C++ platform portability and cross compilation instructions"
### What version of gRPC and what language are you using?
Latest version
C++

### What operating system (Linux, Windows, …) and version?
Build = Windows 10 x64
Target = Segger embOS on Cortex-M3/M4 based MCUs

### What runtime / compiler are you using (e.g. python version or version of gcc)
IAR ARM

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific an

[2019-02-07 08:28] maettu-this opened #17962 "Missing description of minimal system requirements"
### What version of gRPC and what language are you using?
None so far, yet evaluating.

### What operating system (Linux, Windows, …) and version?
Build = Windows 10 x64
Target = Segger embOS on Cortex-M3/M4 based MCUs

### What runtime / compiler are you using (e.g. python version or version of gcc)
IAR ARM

### What did you do?
If possible, provide a recipe for reproducing the error. Try being s

[2019-02-07 08:44] nicolasnoble commented on #17962
There no bare metal support.

[2019-02-07 08:47] nicolasnoble commented on #17961
That's not a supported platform. Only windows or posix environnements are supported.

[2019-02-07 10:21] GuillaumeCisco commented on #17203
Thank you @gnossen for this tip.
Very surprisingly, installing this new version of grpcio led me to a lot of new errors.
I got this one `pure Go resolver`: https://medium.com/@Alibaba_Cloud/hyperledger-fabric-deployment-on-alibaba-cloud-environment-sigsegv-problem-analysis-and-solutions-9a708313f1a4
which I still do not know how to solve except with the ugly `GODEBUG=netdns=go+1`. And very weirdly

[2019-02-07 11:43] #17840 closed

[2019-02-07 14:55] zhangxianyou commented on #17922
yes

[code]

[2019-02-07 15:01] yifanes commented on #17922
yes

[code]

[2019-02-07 15:39] kwasimensah opened #17963 "Workspace setup makes it hard to depend on GRPC"
This is essentially the same as https://github.com/grpc/grpc/issues/11630. I'm trying update https://github.com/bazelbuild/bazel to not have it's own local copy of GRPC, but I need to setup all the binds in https://github.com/grpc/grpc/blob/007b721f8045ceef4ebf418a2935ab772fbe3708/bazel/grpc_deps.bzl for that to work.

Bind is not recommended (https://github.com/bazelbuild/bazel/issues/1952), not

[2019-02-07 15:43] kwasimensah commented on #17963
ok, not completely the same as #11630 as they wanted a full copy in third_party. But don't think I can make protobuf's WORKSPACE file depend on grpc_deps.bzl. I could copy and paste that into their repo that opens up version inconsistencies.

[2019-02-07 16:55] kwasimensah opened #17966 "Add sha256 to http_archive rules"
The http_archive rules in https://github.com/grpc/grpc/blob/007b721f8045ceef4ebf418a2935ab772fbe3708/bazel/grpc_deps.bzl don't specify the sha256 attribute.

This is not recommend for released projects (https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/http.bzl#L210). It's a security risk and also makes bazel's remote fetching less efficient.

[2019-02-07 17:08] ZhouyihaiDing commented on #17922
That's strange. The php code seems fine to me.
Can you please try replacing the client with other language like python see if it can get the correct result, so we can locate the issue is caused by the PHP client for sure?
Thank you for the help!

[2019-02-07 18:23] muxi opened #17968 "gRPC ObjC new API does not report initial metadata immediately"
The gRPC Objective-C's new API is using the old API, but the old API does not proactively report reception of initial metadata, so the new API must depend on a successful read_message to trigger itself checking initial metadata being published, then push it to the user. This is counter intuitive and should be fixed.

[2019-02-07 18:23] vjpai commented on #17335
This is causing a crash on an OPT test seen on #17965

[2019-02-07 18:44] benjaminp opened #17969 "provide a public api to convert a StatusCode to a string"
There should be a way to obtain a symbolic string representation of `grpc::StatusCode`. `grpc_status_code_string` exists, but it's not provided in a public header.

[2019-02-07 19:22] yashykt commented on #17946
another one https://source.cloud.google.com/results/invocations/892ce746-06cd-45d4-b15a-3e6d6bc83aa0/targets/%2F%2Ftest%2Fcpp%2Fclient:client_channel_stress_test@poller%3Depoll1/log

[2019-02-07 21:01] AspirinSJL commented on #17335
I think the recent tsan/msan failure is different from the original test failure this issue was created for. But  most of the discussion here is already about the new failure.

So, please open a new issue about the original failure if that happens again.

[2019-02-07 21:22] AspirinSJL commented on #17335
Duplicate of https://github.com/grpc/grpc/issues/17911

[2019-02-07 21:22] #17335 closed

[2019-02-07 22:00] AspirinSJL commented on #17946
Maybe related to https://github.com/grpc/grpc/issues/17911 given that the use causing crash is to destroy the subchannel call. But the difference is that what this one frees is the channel arg instead of the channel stack.

[2019-02-07 23:33] JamesNK opened #17976 "Consider updating System.Interactive.Async to 3.2"
Grpc.Core is referencing System.Interactive.Async 3.1.1. It was released in 2016.

Consider updating to System.Interactive.Async 3.2.0.

https://www.nuget.org/packages/System.Interactive.Async