[2018-08-29 21:12] vjpai opened #16501 "C++ Create a streaming callback-based API for client-side RPCs"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

A callback-based API for streaming RPCs

### What did you see instead?

A callback-based API for

[2018-08-29 21:13] vjpai opened #16502 "C++: Create a code generator for client-side RPCs using the callback-based API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

A protobuf-based code generator for the C++ callback-based API on the client-side

### What did y

[2018-08-29 21:14] vjpai opened #16503 "C++: Create a server-side callback-based API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

A callback-based API for server RPCs

### What did you see instead?

A callback-based API for cli

[2018-08-29 21:16] vjpai opened #16504 "Implement libuv-based EventManager"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

An iomgr implementation for Mac and Linux platforms that can support the callback-based API by us

[2018-08-29 21:17] vjpai opened #16505 "Create a Windows iomgr suitable for the callback-based API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

A Windows iomgr suitable for running the callback-based API

### What did you see instead?

Not s

[2018-08-29 21:18] vjpai opened #16506 "end2end tests for the callback-based API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

A well-tested callback-based API

### What did you see instead?

Preliminary testing only

### An

[2018-08-29 21:19] vjpai opened #16508 "Performance benchmarks for the C++ callback-based API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used the gRPC C++ API

### What did you expect to see?

Performance benchmarks for this API, comparable to the other APIs and language bindings

### What

[2018-08-29 22:59] dgquintas commented on #16123
Of course, this doesn't repro locally... ran 1000 times with bazel locally. I'm trying to address some issues I'm having with executing this remotely, but yes, I'm having a look.

It's indeed very strange that it's trying to connect to that port, which indeed doesn't correspond to any server. [The test code is very straightforward, ](https://github.com/grpc/grpc/blob/5ee9b5e7b547d0a82c84cc3767236a

[2018-08-29 23:28] dgquintas commented on #16123
A possible scenario I can't currently verify because I can't execute tests remotely:

ServerData instances are too slow to be created [here](https://github.com/grpc/grpc/blob/5ee9b5e7b547d0a82c84cc3767236ace8d5cd469/test/cpp/end2end/client_lb_end2end_test.cc#L138), and the test then reads stale (or racy) values [here](https://github.com/grpc/grpc/blob/5ee9b5e7b547d0a82c84cc3767236ace8d5cd469/test/

[2018-08-30 04:45] jtattermusch commented on #16471
Changing to P1 as said tests are failing with 100% rate on master.

[2018-08-30 07:48] jtattermusch commented on #16123
@dgquintas  looks like both happen on the same (main) thread so no synchronization should be needed?

[2018-08-30 07:57] mfrischknecht commented on #16464
@jtattermusch: Thank you for the update!

Out of interest: do you know what the "correct" behavior would be (w.r.t the flow control)? From the API I assumed almost no data to get buffered. Would the memory usage per RPC call normally still be in the megabytes range? If so, we'd have to consider that while designing our protocols (i.e. maybe route multiple subscriptions through a single RPC call).

[2018-08-30 10:53] MirzaMerdovic opened #16514 "Auto-Generated C# Code has wrong namespace casing that breaks the build"
### What version of gRPC and what language are you using?
 Grpc and GrpcTools 1.14.1 (_I tried 1.14; 1.13.1 and 1.13 result is the same_)

### What operating system (Linux, Windows, …) and version?
 Windows 10 Enterprise 64-bit (10.0, Build 14393)

### What runtime / compiler are you using (e.g . python version or version of gcc)
 C# .NET Standard 2.0

### What did you do?
I wrote an example that

[2018-08-30 11:16] jtattermusch commented on #16514
This issue actually belongs to https://github.com/protocolbuffers/protobuf repository

[2018-08-30 11:31] jtattermusch commented on #16514
Indeed,
https://github.com/MirzaMerdovic/protogeneration-issue/blob/2ece89b638690e4f53ef4303de25baea4d06608d/protogen/ContractBeta/ContractBeta.g.cs#L36

should point to

https://github.com/MirzaMerdovic/protogeneration-issue/blob/2ece89b638690e4f53ef4303de25baea4d06608d/protogen/ContractAlpha/ContractAlpha.g.cs#L15

My guess is that this is happening because the filename is `ContractAlpha.proto',

[2018-08-30 11:40] jtattermusch commented on #16464
@mfrischknecht
The amount of data to be buffered would depend on the HTTP/2 flow control window size (which will increase for a reliable connection with high throughput) - it's hard to say what the "right" size of buffer is, but 500MB definitely sounds like way too much.  I'll perform some more experiments and get back to you.

[2018-08-30 11:52] MirzaMerdovic commented on #16514
@jtattermusch I tried your suggestion and it works.
Thanks for the help! and sorry for the mess I made by posting this to a wrong place.

[2018-08-30 12:26] jtattermusch commented on #16514
@MirzaMerdovic thanks for filing, it's an interesting corner case.

[2018-08-30 12:26] #16514 closed

[2018-08-30 13:51] tab1293 opened #16515 "Intermittent Python gRPC client issue: StatusCode.UNAVAILABLE OS Error: Error received from peer"
### What version of gRPC and what language are you using?
Python with gRPC 1.14.1 and Protobuf 3.6.1 (gRPC server is Golang at 1.14.0)

### What operating system (Linux, Windows, …) and version?
 Linux 2.6.32-573.el6.x86_64 (CentOS 6.7)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 2.7.12

### What did you do?
Made a unary request call to a Golang gRPC

[2018-08-30 14:52] johanbrandhorst commented on #16515
I think generally `StatusCode.UNAVAILABLE` can be considered a retry-able error per the definition: https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto#L172

[2018-08-30 15:30] tab1293 commented on #16515
The server is running in GKE and the cluster is behind Google Load Balancer. Thanks for that link, I will add retry logic for `StatusCode.UNAVAILABLE`. I was unsure if this was already done internally or not.

[2018-08-30 18:57] #15588 closed

[2018-08-30 20:09] thekev63 commented on #15856
I think you might have meant python -m pip install grpcio --ignore-installed

[2018-08-30 20:24] jtattermusch opened #16519 "interop_to_prod tests are being not being run (but appear green)"
Since https://github.com/grpc/grpc/pull/16183 being merged,
the interop tests are not being run due to an error in run_interop_tests.py script.
Two causes:
- error in cloud_to_prod_jobspec leads to the run_interop_tests.py script terminating after the docker images are built (but no tests are run).
- for historical reasons (Jenkins), run_interop_tests.py return exitcode 0 even if the build fails (

[2018-08-30 20:29] sreecha opened #16520 "grpc fuzz tests for ip parsing APIs"
Create fuzz tests for the following APIs..
[code]

[2018-08-30 20:47] mehrdada commented on #16403
friendly ping

[2018-08-30 21:06] mhaidrygoog commented on #16417
Issue has been address with pull #15813

[2018-08-30 21:06] #16417 closed

[2018-08-30 21:26] carl-mastrangelo commented on #16519
At some point we should consider rewriting some of our tooling in Go.  It's pretty fast to compile and run, And has better error handling support.

[2018-08-30 21:31] jtattermusch commented on #16519
@carl-mastrangelo  I think this is not about language choice, it's about our testing scripts became pretty complex over time and also not having tests for testing scripts. Realistically, the way forward is simplification and throwing away everything that's not 100% necessary. We don't want to be in the business of building our custom testing solutions.

[2018-08-30 21:36] carl-mastrangelo commented on #16519
@jtattermusch Agreed.  I was suggesting trying out on some of the smaller scripts, since I think it would make our testing code more stable.

It has been a long time, but the Python scripting had trouble with subprocesses and hanging.

[2018-08-30 22:26] dgquintas commented on #16123
Something I'm seeing in all the local failures (where tests are still run remotely) is:
[code]
In that case, we see that the test is trying to fire up a server at port `53740` but the address was already in use, so no server is actually started. Following client lines are all like

```I0830 22:04:45.004143549      28 subchannel.cc:668]          Connect failed: {"created":"@1535666685.004105858","d

[2018-08-30 22:29] dgquintas commented on #16123
I don't think we want to tweak the tests to handle failures to start servers (it's not clear to me how we'd do that... that warning doesn't propagate high enough I think): the whole point of the port server is to guarantee the ports are available.

[2018-08-31 05:52] adelez commented on #16123
So essentially it's a dup of #14240. I'm ok with closing this bug if that's the case.

[2018-08-31 06:01] jtattermusch commented on #16519
Fixed by merging #16521 to v1.15.x and upmerging to master.

[2018-08-31 06:01] #16519 closed

[2018-08-31 06:34] jtattermusch commented on #16519
interop_to_prod tests on master are running again:
https://source.cloud.google.com/results/invocations/77908fbd-0117-41af-b7c0-6464fcd19f83/targets/github%2Fgrpc/tests

[2018-08-31 06:42] jtattermusch opened #16529 "timer_list_test is failing consistently on linux 32bit"
portability suite on master is failing at 100% rate:
https://source.cloud.google.com/results/invocations/0d539548-9ee0-4fc4-b239-b20d928fc46e/targets/github%2Fgrpc%2Fc_linux_dbg_native_x86_default/tests

Started failing after https://github.com/grpc/grpc/pull/16170 was merged.

[code]

[2018-08-31 06:43] jtattermusch commented on #16529
@hcaseyal, this was introduced by your PR, please fix.

[2018-08-31 06:47] adelez opened #16530 "Bazel test flake: end2end:end2end_test@poller=epollsig fails with segmentation fault"
https://source.cloud.google.com/results/invocations/19295669-066f-4042-b5df-f8133f446b4c/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depollsig/log

[2018-08-31 07:32] jtattermusch commented on #16482
Dupe of #16123.

[2018-08-31 07:32] #16482 closed

[2018-08-31 07:44] jtattermusch commented on #16123
@dgquintas  I don't see the failure you mentioned in any of the runs mentioned here: https://github.com/grpc/grpc/issues/16123#issuecomment-416834261  (and in my manually spawned runs, which actually seem to be failing with much lower rate than on Kokoro and not always in PickFirstManyUpdates).

Why I don't think this is just a dup of #14240 (it's most likely a contributing factor, but not the ful

[2018-08-31 13:54] zhaozhongyu opened #16531 "How can I connect electron grpc client to nodejs grpc server?"
### What version of gRPC and what language are you using?
 grpc: 1.14.1
nodejs: 10.6.0
electron: 1.8.4

### What operating system (Linux, Windows, …) and version?
 windows 7 sp1

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
I h

[2018-08-31 14:48] bond- commented on #6111
@muxi and @srini100 FYI, I have tested this fix in 1.15.0-pre1 and it works.

[2018-08-31 14:58] nicolasnoble commented on #16531
It should work, but you're not really providing nearly enough information. Can you share reproduction code? Logs? What have you attempted to solve the issue yourself?

[2018-08-31 15:08] phemmer commented on #7945
Oh, and for this:

This is the purpose of the `proxy-revalidate` header. https://tools.ietf.org/html/rfc7234#section-5.2.2.7
This would allow the response to be cached locally on the client, but not by an intermediary (shared) proxy.

[2018-08-31 16:13] muroon commented on #15013
@fbernaly

I also had a similar error, but it was solved in the following way.

In Xcode
1) Build Phases > Link Binary With Libraries > +
2) Search "libz"
3) Choose libz.1.2.xx.tbd (ex libz.1.2.11.tbd)
4) Push Add Button

[2018-08-31 16:25] hcaseyal commented on #16529
@jtattermusch, is it still failing? This should have been addressed by #15813 which was merged two days ago.
Also, why do we not have the linux 32bit test running when PRs are created on github? My PR submitted all green.

[2018-08-31 16:45] muxi commented on #6111
Thanks for confirming that, @bond-.

[2018-08-31 17:09] AspirinSJL opened #16532 "grpc_interop_tocloud failed to build dart due to closed connection"
https://source.cloud.google.com/results/invocations/150572fc-91b8-4908-8eeb-63ea678cd0ab/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[code]

[2018-08-31 17:19] evildour opened #16533 "Add equality testing support to C# ChannelOption"
### What version of gRPC and what language are you using?
C# - 1.14.1

### What did you do?
Tried to compare two `ChannelOption` instances to see if they had the same type and underlying value.

### What did you expect to see?
`Equals` and `GetHashCode` overrides defined on `ChannelOption`

### What did you see instead?
No support for comparing channel options. Testing manually is awkward because

[2018-08-31 17:44] vjpai commented on #16491
I'm not sure that this is a dup of the other issue, as the other issue seems to see far fewer failures than we're seeing now pretty consistently since the new tests were added. Additionally, the new failures seem to be much more widespread than even just ASAN.

[2018-08-31 18:02] vjpai commented on #15410
The comment from @snaury is an accurate description of the issue. This work shouldn't be done in the base constructor since the element is not yet an element of the derived type. Bumping to P1 since this is undefined behavior (and to answer your question above @markdroth : that's the issue with UB, it sometimes behaves as you want it to)

[2018-08-31 19:58] lucifercr07 opened #16538 "Couldn't find any implementation related to hellostreamingworld.proto C++"
### What did you do?
I am trying to run a c++ client with proto similar to hellostreamingworld.proto, I am streaming from the server but unable to keep client connection alive after one response from server. Wanted to have some example which will guide how to implement it.

### What did you expect to see?
 Implemetation of hellostreamingworld.proto

[2018-08-31 21:18] AspirinSJL commented on #15808
Oh I see.

After closer look, the issue in my PR looks like some random network failure.

[code]

[2018-08-31 23:33] yashykt commented on #16471
Adding some keywords for easy searching -
//test/cpp/qps:qps_json_driver_test_cpp_generic_async_streaming_qps_1channel_1MBmsg_insecure@poller=epollex
qps_json_driver_test

[2018-09-01 05:29] vjpai opened #16540 "Deprecate OWNERS for tools/run_tests/performance"
### What version of gRPC and what language are you using?

N/A

### What operating system (Linux, Windows, …) and version?

 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Read the justification for `tools/run_tests/performance/OWNERS`

### What did you expect to see?

A justification

### What did you see instead?

[code]

This e

[2018-09-01 09:46] jtattermusch commented on #16529
It's green now, thanks for checking.

Why we are not running 32bit tests on PRs:
No good answer here. Running tests on PRs is a tradeoff between better signal and add added latency (and more consumed resources). Right now we run the portability suite on PR with --build_only mode - so we verify that things still build in 32bit, but we don't run the tests. (the full of all the tests in all configura

[2018-09-01 09:46] #16529 closed

[2018-09-01 11:04] rojer opened #16542 "Unused parameter in C++ generated code"
### What version of gRPC and what language are you using?

master

### What operating system (Linux, Windows, …) and version?

linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

clang 6.0.0

### What did you do?

define a streaming method, try compiling C++ code with `-Wextra`

### What did you expect to see?

code compiles

### What did you see instead?

[co

[2018-09-01 11:39] jtattermusch commented on #13939
Looks like we need the same fix as here: https://github.com/grpc/grpc/pull/13713/files

[2018-09-01 18:46] lucifercr07 opened #16545 "Client timeout c++"
### What version of gRPC and what language are you using?
 C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 g++

### What did you do?
I have a grpc c++ client which is listening for a stream of responses from server, I want it to listen forever for the responses, or before shutting down

[2018-09-01 18:59] lucifercr07 commented on #3954
I have this code but the client automatically closes. Can you please help?
ClientContext context;
// Connection timeout in seconds
unsigned int client_connection_timeout = 5000;
// Set timeout for API
std::chrono::system_clock::time_point deadline = std::chrono::system_clock::now() + std::chrono::seconds(client_connection_timeout);

context.set_deadline(deadline);
std::unique_ptr<ClientReader> rea

[2018-09-02 10:41] juriem opened #16546 "An error occurred while installing grpc (1.11.0)"
### What version of gRPC and what language are you using?
 1.11.0

### What operating system (Linux, Windows, …) and version?
 FreeBSD 11.2 p2

### What runtime / compiler are you using (e.g. python version or version of gcc)
GNU Make 4.2.1

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
gem install grpc -v '1.

[2018-09-02 16:01] max-tet opened #16547 "Allow servers to accept unknown client certificates"
For a peer2peer application, I need servers to require client authentication via certificate (chain) but accept them even if they are unknown.

Instead the server would save the root certificate (via `context.auth_context()` in order to recognize when the same client comes back later. This would be implemented as part of the application.

For this to work, it should be possible to create server cr

[2018-09-02 16:15] nicolasnoble commented on #16547
All of the code is there to support all this in the core, but may not have been exposed to the API of the language you're interested in. Which are they?

[2018-09-02 16:16] nicolasnoble commented on #16546
Please provide us with the full output of the gem install command.

[2018-09-02 20:15] etiennebch commented on #16366
Hello, I think I have encountered the issue if I understand your problem correctly. The service was written in Go and the client in Python. [Here is a post I did on Medium](https://medium.com/kuranda-labs-engineering/gracefully-handling-grpc-errors-in-a-go-server-python-client-setup-9805a5464692) to explain how to work around the issue. You should be able to leverage the function `trailing_metadat

[2018-09-03 02:45] zhaozhongyu commented on #16531
my proto file is like this
[code]

and my server.js
[code]

in my electron index.js i start a client try to connect server, client is written in different project with server and i install by `npm install grpc --save --runtime=electron --target=1.8.4`. it looks like this:
[code]

Then i startup server, and 10 seconds later i start client, it throw a error said `Error: 14 UNAVAILABLE: Connect Faile

[2018-09-03 02:53] zhaozhongyu commented on #16531
I got it, in electron client, i should use the address '127.0.0.1:50051' instead of '0.0.0.0:50051', there is something wrong in connecting '0.0.0.0:50051'.

[2018-09-03 03:14] jtattermusch commented on #10759
@flowbehappy   what version of openssl are you using? (it needs to be pre-installed, as the script uses  `-DgRPC_SSL_PROVIDER=package`  setting). What version of Mac OS X?

[2018-09-03 03:16] jtattermusch commented on #10759
@wneo003   @thefastman  it's unclear which "same issue" you are talking about - there's more things being talked about here (please file a new issue if this is not about "cmake installation doesn't generate targets file"

[2018-09-03 04:25] #16531 closed

[2018-09-03 04:43] nicolasnoble commented on #16531
0.0.0.0 isn't a valid address to connect to to begin with.

[2018-09-03 06:59] rojer commented on #16542
hm. i don't see any added _complexity_, per se - just throw a bunch of `(void) arg1;` at the end.
it will increase the size, sure, but not complexity.
since this particular is in the generated header, it effectively prevents use of `-Wunused-parameter` on the entire project (if it only applied to c code i could've isolated it by applying only to generated sources).
so please, if you don't plan to

[2018-09-03 07:36] max-tet commented on #16547
Mainly Python. Perhaps later Java.

[2018-09-03 09:11] david-martyn-ford commented on #14653
@jtattermusch We are still experiencing the same issue when running version `v1.14.1`. I'll try setup an app to reproduce it and provide more information like number of times it errors

[2018-09-03 09:42] antoineChammas commented on #15856
yes, that's correct, sorry for the typo

[2018-09-03 17:47] MOZGIII opened #16548 "Add JavaScript examples with protobuf.js"
Hi, please add JavaScript usage examples with protobuf.js.

I'm mostly interested in static codegen with TypeScript - to have typed rpc and message definitions.
I have this implemented currently as a hack for gRPC version 1.10.1, but I want to upgrade. Having typed definitions helps a lot, so I don't want to throw that away.

This is *grpc-node* specific, however since examples live in this repo,

[2018-09-03 21:03] JackOfMostTrades opened #16549 "Eagerly type check channel args in Python"
Minor thing, but the wrong argument type to options in python's grpc.[in]secure_channel causes a segfault (which was more difficult to debug than a python exception's stack trace would have been ;) ).

### What version of gRPC and what language are you using?
1.14.2, Python

### What operating system (Linux, Windows, …) and version?
Linux, Ubuntu 18

### What runtime / compiler are you using (e.g.

[2018-09-03 23:29] VladimirAkopyan commented on #8636
any updates on this? we develop UWP apps and it's key for us to know whether we can use grpc for our next project

[2018-09-04 01:47] hcaseyal commented on #16484
I had a similar timeout issue in grpc_interop_tocloud:
https://source.cloud.google.com/results/invocations/9d9dc476-4abe-455d-a2e6-b4eb42661add/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

2018-09-03 12:48:05,571 TIMEOUT: build_docker_node [pid=11057, time=1800.7sec]
2018-09-03 12:48:05,571 FAILED: Failed to build interop docker images.
stty: standard input: Inappropriate

[2018-09-04 02:44] mojinxun opened #16550 "CSharp Client throw Exception: Received RST_STREAM with error code 2"
### What version of gRPC and what language are you using?

version: 1.14.1
language: csharp(dotnetcore 2.1)

### What operating system (Linux, Windows, …) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

dotnetcore 2.1

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if

[2018-09-04 05:36] nicolasnoble commented on #8636
Did you see Jan's latest comment and tried it out?

[2018-09-04 06:37] sandersaares commented on #14900
@NicolasDorier here is an example for the "abc" authority. For multiple authority strings, I just add multiple server blocks.

[code]

[2018-09-04 07:23] sj1703 opened #16551 "Rendezvous of RPC that terminated with (StatusCode.UNAVAILABLE, Trying to connect an http1.x server)>"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows, …) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead?

[2018-09-04 08:30] jtattermusch commented on #16547
FYI a similar request exists for C#: https://github.com/grpc/grpc/issues/14381

[2018-09-04 08:54] NicolasDorier commented on #14900
Ah so you need different port for each :/

[2018-09-04 11:31] 0xf10413 commented on #9526
I got almost the same stacktrace as @bc-lee.

In test/core/handshake/client_ssl.cc, SSL_load_error_strings() is called on a secondary thread. At the same time, in the main thread,  src/core/tsi/ssl_transport_security.cc calls this function too.
They're sharing global variables, and calling them twice might cause a random segfault.

Basically, you end with the same stacktrace if you do this :
[code

[2018-09-04 11:51] htuch commented on #9526
@ncteisen it's relevant as long as we want to preserve the ability to have gRPC as an ALPN negotiated protocol. This is pretty useful in network proxies that want to switch behavior early, prior to HTTP/2 session establishment. My original use case doesn't exist any more, but this does come up from time-to-time in discussions as a capability that some folks are after. I think if we were to do this

[2018-09-04 11:52] htuch commented on #9526
@0xf10413 doing SSL full init once on main thread seems right, thanks for chasing this down.

[2018-09-04 15:49] nicolasnoble commented on #6976
The main reason is that grpc should by default allow opening the same TCP socket multiple times from different processes, effectively doing the same thing, in a simpler manner.

[2018-09-04 15:59] jtattermusch opened #16555 "ruby package build on linux is flaky: build_package.ruby_package"
Kokoro job `grpc/core/master/linux/grpc_build_packages`:
https://source.cloud.google.com/results/invocations/4b8eaa5e-a2e5-4938-87f6-ee2224ec8406/targets/github%2Fgrpc/tests
https://source.cloud.google.com/results/invocations/8cbc3596-0d9e-4f35-bfee-8b1e9f6838d4/targets/github%2Fgrpc/tests
https://source.cloud.google.com/results/invocations/e37036aa-2e7c-4555-9444-ce540eb42d3d/targets/github%2Fgrp

[2018-09-04 16:27] jtattermusch commented on #16555
For build_packages build  https://source.cloud.google.com/results/invocations/4b8eaa5e-a2e5-4938-87f6-ee2224ec8406/details I looked up the corresponding build_artifacts build:

https://source.cloud.google.com/results/invocations/6874bd94-d89d-415c-8a7a-fd8a41f0c3ee/details (the artifacts are here:
https://pantheon.corp.google.com/storage/browser/grpc-testing-kokoro-prod/test_result_public/prod/grp

[2018-09-04 16:47] jtattermusch commented on #16555
Filed internal b/113865501

[2018-09-04 19:45] yfinkelstein opened #16557 "Limit the max number of executor threads based on ENV variable"
### What version of gRPC and what language are you using?
A new feature request

### What operating system (Linux, Windows, …) and version?
All

### What runtime / compiler are you using (e.g. python version or version of gcc)
All

### What did you do?
Under high IO load, GPRC spawns executor threads up to max which is computed to be ```2*sched_getcpu()``` on linux.

### What did you expect to see

[2018-09-04 21:25] marcosfelt opened #16559 "Cannot start server and client in virtual environment"
### What version of gRPC and what language are you using?
Python with gRPC ver 1.14.2

### What operating system (Linux, Windows, …) and version?
 Mac OS 10.13.6 (High Sierra)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python version

### What did you do?
I am trying to run the helloworld example. I used pipenv to install  grpcio, grpcio-tools and googleapi

[2018-09-04 21:55] murgatroid99 commented on #16484
I'm not really sure what needs to change here. The test log just shows docker and git operations, and then the job times out.

[2018-09-04 22:01] murgatroid99 commented on #16484
OK, the second log has the tests running, but I can't tell why it's slow.

[2018-09-04 22:15] ncteisen commented on #16471
Due to the heavy weight nature of treating QPS benchmarks as unit tests, we exclude running these under ASAN and TSAN.

See [here](https://github.com/grpc/grpc/blob/ceecf80283e6ca184df587f76ed053f1f5295b7f/test/cpp/qps/gen_build_yaml.py#L105).

I think we should also exclude these for Bazel builds

[2018-09-04 22:18] ncteisen commented on #16471
@billfeng327, can you take over from here and disable ASAN and TSAN for QPS test?

[2018-09-04 23:29] nicolasnoble commented on #16559
@mehrdada isn't this the anaconda issue ?

[2018-09-05 00:10] tvalentyn commented on #9450
See https://github.com/protocolbuffers/protobuf/issues/1491 for a discussion of this issue.

[2018-09-05 00:11] tvalentyn commented on #9575
See https://github.com/protocolbuffers/protobuf/issues/1491 for a discussion of this issue.

[2018-09-05 00:11] tvalentyn commented on #11041
See https://github.com/protocolbuffers/protobuf/issues/1491 for a discussion of this issue.

[2018-09-05 01:13] #14461 closed

[2018-09-05 08:06] hanyaqian opened #16563 "how to use AsyncQpsServerTest?"
how to use AsyncQpsServerTest defined in [code](https://github.com/grpc/grpc/blob/618a3f561d4a93f263cca23abad086ed8f4d5e86/test/cpp/qps/server_async.cc)
@hassox @timburks @tenderlove @proppy

thanks

[2018-09-05 08:10] sandersaares commented on #14900
No, you can have multiple server blocks use the same port.

[2018-09-05 08:24] Christophernt opened #16564 "c++ namespace enum keyword compiling error"
### What version of gRPC and what language are you using?
gRPC 1.14.2 c++

### What operating system (Linux, Windows, …) and version?
Windows 7 sp1

### What runtime / compiler are you using (e.g. python version or version of gcc)
visual studio 2015 update3

### What did you do?
syntax = "proto3";
package common.enum;
option java_multiple_files = false;
option java_package = "com.my.proto.common";

[2018-09-05 09:33] NicolasDorier commented on #14900
This is awesome, thanks a lot.

[2018-09-05 14:06] ils-sapnaj opened #16565 "Getting Pre-built binaries not found for grpc@0.14.1 and node@8.11.4"
I am getting following error during npm install  on my windows 10 system.

  native_metrics.cpp
  GCBinder.cpp
  LoopChecker.cpp
  RUsageMeter.cpp
..\src\GCBinder.cpp(47): warning C4996: 'Nan::MakeCallback': was declared deprecated [D:\XXXXXXX\node_modules\@newrelic\native-metrics\build\native_metrics.vcxproj]
  D:\XXXXXXX\node_modules\nan\nan.h(979): note: see declaration of 'Nan::MakeCallback'

[2018-09-05 14:08] ils-sapnaj commented on #13673
@arifsami03 This is not working, still same errors.

[2018-09-05 15:13] nicolasnoble commented on #16565
gRPC 0.14.1 is a horribly old version, and it didn't support node 8 at the time. Either downgrade node to 6 or even 4, or upgrade grpc to a much recent version.

[2018-09-05 15:13] #16565 closed

[2018-09-05 16:36] nicolasnoble commented on #16565
Also, you're using the "gcloud" package, which is deprecated. See https://www.npmjs.com/package/gcloud for migration options.

[2018-09-05 18:50] yashykt opened #16566 "MacOS Test Flakebins/dbg/h2_compress_nosec_test ping GRPC_POLL_STRATEGY=poll"
[code]

seen on #16562

keywords
h2_compress_nosec_test ping

[2018-09-05 18:58] yashykt commented on #16473
Saw a similar bug in //test/core/end2end:h2_http_proxy_test@simple_request@poller=poll-cv
at #16562

[2018-09-05 19:10] #13751 closed

[2018-09-05 21:06] AspirinSJL commented on #16473
Duplicate of https://github.com/grpc/grpc/issues/15410

[2018-09-05 21:06] #16473 closed

[2018-09-05 22:24] #13939 closed, assigned to jtattermusch

[2018-09-05 22:33] mqingli opened #16569 "got duplicate symbols errors when build with libgrpc_cronet.a and libgrpc++_cronet.a"
### What version of gRPC and what language are you using?
 v1.11.0 C++

### What operating system (Linux, Windows, …) and version?
 MACOS Darwin Kernel Version 17.7.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc Apple LLVM version 9.1.0 (clang-902.0.39.2)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and

[2018-09-05 23:00] sheldonneuberger commented on #16569
This looks like a similar issue to these:  https://github.com/grpc/grpc/pull/11247 and https://github.com/grpc/grpc/pull/11097

[2018-09-06 01:26] jlao opened #16570 "ObjectDisposedException when accessing ServerCallContext.Peer"
### What version of gRPC and what language are you using?
 Language is C#. Using Grpc 1.14.2.

### What operating system (Linux, Windows, …) and version?
 Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET Framework 4.6.2

### What did you do?
We have an interceptor that logs some information about all requests. Notably, we log Method, Host, Peer, and

[2018-09-06 11:05] antony-99 commented on #16244
The NuGet package System.Interactive.Async 3.1.1 referenced by Grpc.Core contains System.Interactive.Async.dll of different versions for net45 (3.0.1000.0) and net46 (3.0.3000.0).

Provided that there are only net45 and netstandard1.5 versions of Grpc.Core.dll in the package, new projects targeting net46 will reference Grpc.Core.dll for net45 (referencing System.Interactive.Async.dll 3.0.1000.0) a

[2018-09-06 12:40] coryan opened #16571 "Use Windows trust store by default."
This is a feature request, not a bug.  On Windows application developers must set an environment variable, or install `roots.pem` in a well-known directory to use TLS/SSL.  This was fixed for Linux on #16083 and it is being fixed on macOS on #16246.  This issue is a request to do a similar thing for Windows.

[2018-09-06 12:48] lucifercr07 commented on #16545
The client connection closed was from the server side. No issues in GRPC code 👍

[2018-09-06 12:48] #16545 closed

[2018-09-06 12:55] zpeleg commented on #10700
Has anyone got grpc to work in a terminal executable on Android? We are trying to do that and getting linker failure because our executable is trying to use the system's protobuf instead of the statically compiled one (or vice versa, not sure).

We have posted more details on [SO](https://stackoverflow.com/questions/52203862/building-an-android-executable-grpc-server-that-uses-protocol-buffers-wit

[2018-09-06 15:30] nathanielmanistaatgoogle opened #16572 "Adhere to logging best practices... after figuring them out"
Our use of `logging` **must**

* not emit garbage "No handlers could be found" messages to any output, ever
* be suitably configurable by applications

. It probably *should*

* be easy enough for us to maintain without asking "what's with [these `basicConfig` calls](https://github.com/grpc/grpc/pull/16378)?"
* adhere to Python community-wide best practices ([what even are those?](https://bugs.pyt

[2018-09-06 16:40] jhollowayj commented on #9549
@jayeye, @mehrdada, Was there a new issue added to track that new issue?

[2018-09-06 20:32] markdroth commented on #15410
Sure, but shouldn't ubsan be deterministic in detecting the problem?  What we're seeing here is that ubsan running from bazel detects the problem but ubsan running from make does not.

In any case, I didn't realize that this was undefined when doing it from the ctor of the base class.  I'll have to think about the right way to fix it.

[2018-09-07 15:06] kskalski commented on #16244
I'm compiling a library project with target framework netstandard2.0 and reference to Grpc.Core Version=1.14.2. When I started using 'async' features the compiled dll started referencing System.Interactive.Async 3.0.3000.0, while at the same time referencing version 3.0.1000.0 through Grpc.Core dependency.

Is there a way to force the project to use specific (3.0.1000.0) version? Unfortunately I n

[2018-09-07 15:45] mehrdada commented on #16551
You are probably connecting to an HTTP1 server or proxy that is not responding in HTTP2. I don't know how to further help with the information provided, so I am closing the issue.

[2018-09-07 15:45] #16551 closed

[2018-09-07 18:29] markdroth commented on #14268
Just saw this again:

https://source.cloud.google.com/results/invocations/14ef60a1-c573-4002-9fdf-e52cf3772716/targets/github%2Fgrpc%2Fc_macos_dbg_native/tests

[2018-09-07 18:34] markdroth opened #16577 "grpc_interop_tocloud and grpc_interop_toprod failed due to dart version mismatch"
https://source.cloud.google.com/results/invocations/4bd2b567-914c-463b-aad5-31ecfa485a39/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[code]

[2018-09-07 19:20] hiranya911 opened #16578 "grpcio installation fails on Pypy"
Moved from https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5902

### What version of gRPC and what language are you using?

Python (Pypy)

 ### What operating system (Linux, Windows, …) and version?

Linux

### What did you do?

Installing google-cloud-firestore or google-api-core, which has a dependency on grpcio.

### What did you see instead?

[code]

[2018-09-07 19:21] hiranya911 commented on #16578
I believe this is the Pypy runtime that gets invoked in this case:

[code]

[2018-09-07 21:05] jtattermusch opened #16579 "interop tests: build_docker_go is flaky"
https://source.cloud.google.com/results/invocations/942035d0-084c-4f06-a171-42832b08411c/log
https://source.cloud.google.com/results/invocations/92e3285f-c348-4361-95dd-9b95bc42e846/log
https://source.cloud.google.com/results/invocations/af044fb5-5026-4182-9306-72f997e06610/targets

[code]

### What version of gRPC and what language are you using?

### What operating system (Linux, Windows, …) and

[2018-09-07 21:06] jtattermusch commented on #16579
@menghanl  is this an error downloading the dependencies or something else?

[2018-09-07 21:09] jtattermusch opened #16580 "interop tests: build_docker_dart is broken on master"
Failing 100% of builds

e.g.  https://source.cloud.google.com/results/invocations/ccb57624-7fbe-479f-bd8a-1c072bce12fb/log

[code]

[2018-09-07 21:10] jtattermusch commented on #16580
@mit-mit   can you please take a look? This is failing in 100% of cases, so we should fix ASAP.

[2018-09-07 21:11] jtattermusch commented on #16580
Looks like we need to update the dart base image? `The current Dart SDK version is 2.0.0-dev.67.0.
Because interop requires SDK version >=2.0.0 <3.0.0, version solving failed.`

[2018-09-07 21:30] mit-mit commented on #16580
Yes, definitely looks like this was caused by https://github.com/grpc/grpc-dart/pull/117 and we need toi make sure the docker image is using a Dart 2.0 stable build, and not an old dev build,.

[2018-09-07 21:43] menghanl commented on #16579
Yes, looks like a connection problem to me.
[code]

Did this happen a lot?

[2018-09-07 21:52] mit-mit commented on #16580
cc @kevmoo, any idea why we are getting a docker image with an old dev build on it? It looks like we are using latest: https://github.com/grpc/grpc/blob/master/templates/tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile.template

[2018-09-07 23:06] kevmoo commented on #16580
No idea. Seems here the day things were pushed for docker was the same day as gold - https://hub.docker.com/r/google/dart/tags/

Sadly, I can't run docker on my machine to investigate...

[2018-09-07 23:46] jtattermusch commented on #15557
not seen in a while

[2018-09-07 23:46] #15557 closed

[2018-09-07 23:55] jtattermusch commented on #16471
Seems fixed by #16568.

[2018-09-07 23:55] #16471 closed

[2018-09-08 00:03] jtattermusch commented on #16579
my guesstimate is like 2-5% rate?

[2018-09-08 00:22] jtattermusch opened #16583 "new flake: bins/tsan/bad_server_response_test (data race in receiving_initial_metadata_ready)"
Failing on both kokoro and foundry:

Kokoro builds:
https://source.cloud.google.com/results/invocations/b92673db-186a-4edf-8183-2f986af20413/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

https://source.cloud.google.com/results/invocations/7e754ede-a243-4d6e-ae30-b5841693ef0b

Foundry:
https://source.cloud.google.com/results/invocations/8e881680-1485-4ab1-842b-8d05a8c27767/targets

[2018-09-08 00:29] jtattermusch commented on #16583
@yashykt  this started

around this build:
https://sponge.corp.google.com/target?id=b7ea212d-d47f-43e8-b33e-7fe71168755f&target=grpc/core/master/linux/bazel_rbe/remote_bazel_tests_tsan
timing and nature of the change seems to be  highly correlated with your PR https://github.com/grpc/grpc/pull/16418.

[2018-09-08 00:30] jtattermusch commented on #16583
Setting as P1 as this is failing 50% of foundry tsan builds (and some tsan builds on kokoro).

[2018-09-08 00:30] jtattermusch commented on #16583
@yfen FYI

[2018-09-08 00:43] jtattermusch opened #16584 "bazel test flake: memory leak in opt //test/cpp/end2end:end2end_test SecureEnd2end/SecureEnd2endTest.CompositeCallCreds/0"
Failing 17% of builds in grpc/core/master/linux/bazel_rbe/remote_bazel_tests_opt

https://source.cloud.google.com/results/invocations/5b44287c-5219-4bc4-82bd-544214188224/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Dpoll/log
https://source.cloud.google.com/results/invocations/ff6bc4ba-2ccf-43d2-8190-c30d38c60567/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depollsig/log
http

[2018-09-08 00:44] jtattermusch commented on #16584
CC @yfen

[2018-09-08 01:27] jtattermusch commented on #16577
Dupe of https://github.com/grpc/grpc/issues/16580 (already fixed).

[2018-09-08 01:27] #16577 closed

[2018-09-08 01:33] jtattermusch opened #16585 "bazel test flake: //test/core/client_channel/resolvers:dns_resolver_cooldown_test"
Failing ~7% of builds, mostly grpc/core/master/linux/bazel_rbe/remote_bazel_tests_tsan.

The culprit is `dns_resolver_cooldown_test.cc:75] assertion failed: now - last_resolution_time >= kMinResolutionPeriodForCheckMs`

https://source.cloud.google.com/results/invocations/3bb2bc0f-2e1f-4e31-9b16-7742ee9c5b52/targets/%2F%2Ftest%2Fcore%2Fclient_channel%2Fresolvers:dns_resolver_cooldown_test@poller%3D

[2018-09-08 01:34] jtattermusch commented on #16585
https://github.com/grpc/grpc/blob/bbc9a203c97e2b6a73991345fdc18e87d6466237/test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc#L75

[2018-09-08 01:35] jtattermusch commented on #16585
@billfeng327   this should be relatively easy to reproduce with bazel on your workstation (once you setup your local bazelrc to spawn foundry builds), can you take a look?

[2018-09-08 01:54] omidnavy commented on #6976
@pratapdd there is no need of fixing this while (as you also mentioned) clustering job should handle by other tools like kubernetes.

[2018-09-08 02:00] jtattermusch commented on #16123
Based on historical data it looks like vast majority of occurrences is happening for `GRPC_POLL_STRATEGY=poll-cv` (i.e. for `//test/cpp/end2end:client_lb_end2end_test@poller=poll-cv`)

[2018-09-08 13:36] cluster10537 opened #16586 "Python pip source install issue on Onion Omega 2 (580MHz MIPS-based Linux platform)"
### What version of gRPC and what language are you using?
 gRPC version 1.14.2
Language Python 3.6.2

### What operating system (Linux, Windows, …) and version?
  LEDE (Linux Embedded Development Environment) Linux operating system, a distribution based on OpenWRT

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 3.6.2

### What did you do?
I tried to insta

[2018-09-08 19:06] AspirinSJL opened #16587 "Ruby test failure about status code"
To be honest, I'm not sure how to read this failure log.. But this test failure happens on my PR(https://github.com/grpc/grpc/pull/16575) that should only affect the behavior of this line in test (https://github.com/grpc/grpc/blob/bbc9a203c97e2b6a73991345fdc18e87d6466237/test/cpp/end2end/client_lb_end2end_test.cc#L574). So I think there is something wrong with the Ruby test itself.

https://source

[2018-09-08 19:08] AspirinSJL commented on #15752
Seen in end2end:client_lb_end2end_test@poller=epollsig

[2018-09-08 20:12] a14n commented on #16580
Perhaps a caching issue because after a `docker pull google/dart:latest` I have:

[code]

[2018-09-09 01:51] chenkrun commented on #15970
@sreecha Sorry, I haven't replied this information for such a long time.Yes, I try grpcio: 1.13.0, and this problem didn't happen again. I have a question, is 1.10.0 version use tcp short connection, and 1.13.0 use long connection?

[2018-09-09 13:43] saadin opened #16588 "Upgrading from 1.9.0 causes rpc client to freeze on calls after some random time"
### What version of gRPC and what language are you using?
 grpc 1.14.2
python 2.7.14

### What operating system (Linux, Windows, …) and version?
 Linux Debian Jessie (Linux d58d80d47c87 4.9.0-0.bpo.4-amd64 #1 SMP Debian 4.9.51-1~bpo8+1 (2017-10-17) x86_64 GNU/Linux)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python 2.7.14

### What did you do?
Upgraded from

[2018-09-09 14:40] jtattermusch commented on #16580
@a14n   yes, you're right, it's "caching" in the sense that in our tests, we build the base docker image for dart only once and then keep reusing it. So it's "dart:latest" is basically "latest" by the time the image was last build (which was a while ago).

Nevertheless, the problem was already fixed (#16581)

[2018-09-09 15:09] jtattermusch opened #16589 "All foundry tests red: upload_rb_results.py failing"
Seems to be happening for all foundry tests on master

https://source.cloud.google.com/results/invocations/85785cf1-8281-4e6e-abe1-389f8d122cfb/log
https://source.cloud.google.com/results/invocations/0966f827-f71f-424e-bba3-25694b5a7bef/log

[code]

[2018-09-09 15:10] jtattermusch commented on #16589
CC @adelez

[2018-09-09 15:17] jtattermusch commented on #16589
The corresponding bazel links logs have no useful information:
https://source.cloud.google.com/results/invocations/d256d2c7-57b1-4527-ac41-944fe3fa2066/targets

the only interesting things I can see in the kokoro logs is
[code]
It also looks like the tests have run and the kokoro jobs only fails after that, so I'm not sure if this is a problem with uploading test results on the bazel side (which w

[2018-09-09 15:40] mehrdada commented on #16588
Can you try testing it under GRPC_POLL_STRATEGY=poll environment variable?
The default polling engine for Python on Linux changed from poll to epoll1,
so if you cannot reproduce it under a new version of gRPC with that environment
explicitly forcing `poll`, that could isolate the problem quite a bit.

On Sun, Sep 9, 2018 at 6:43 AM Sadegh Sadrzadeh <notifications@github.com>
wrote:

[2018-09-09 15:43] jtattermusch commented on #16589
Filed internal b/114625469

[2018-09-09 15:43] mehrdada commented on #16588
@sreecha can you please take a look? Looks like `epoll` might have an issue here.

[2018-09-09 15:46] mehrdada commented on #16586
Do you have `python-dev` and a sufficiently new C++ compiler installed on your system? There are no binaries available for your system so you are going to need build-from-source dependencies installed.

[2018-09-09 16:02] jtattermusch opened #16590 "Some tests on foundry get stuck and run for 1hr (until the test times out)"
For tsan and asan builds on foundry, I keep seeing jobs that ran for 1 hour (avg duration is <30 mins for TSAN and ~15min for asan). 1h is also the timeout for the entire job.

TSAN examples:
 https://source.cloud.google.com/results/invocations/1aa5ba31-fc87-4e63-8888-ea6a3b33e6c7/log
https://source.cloud.google.com/results/invocations/00cea1e5-43a0-4aad-a610-ceb8d15058b7/log

ASAN examples:
https

[2018-09-09 16:02] jtattermusch commented on #16590
CC @dgquintas   @adelez

[2018-09-09 16:41] Anomander opened #16591 "Completion queue shutdown doesn't cancel pending alarms"
### What version of gRPC and what language are you using?
1.13, 1.14
C++

### What operating system (Linux, Windows, …) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 8.2

### What did you do?
[code]
### What did you expect to see?
I would expect it the fail the assert on `ok`, or at least return immediately.

### What did you see instead?

[2018-09-09 16:46] jtattermusch opened #16592 "TSAN C++ flake: data race in call_start_batch"
Happening in several test cases:
bins/tsan/client_channel_stress_test
bins/tsan/server_request_call_test --gtest_filter=ServerRequestCallTest.ShortDeadlineDoesNotCauseOkayFalse
bins/tsan/streaming_throughput_test --gtest_filter=End2endTest.StreamingThroughput

basically it says:

`SUMMARY: ThreadSanitizer: data race /var/local/git/grpc/src/core/lib/surface/call.cc:1670:28 in call_start_batch(grpc_

[2018-09-10 08:45] saadin commented on #16588
@mehrdada I set ```GRPC_POLL_STRATEGY=poll``` and now I'm observing a strange behaviour
First of all, as with epoll, my module starts spamming these logs with increasing speed (And that's when the strange behaviours start to appear, same as epoll):

Here's a log of the strange behaviour:
[fail_and_successful_rpc_call_with_poll.log](https://github.com/grpc/grpc/files/2365830/fail_and_successful_rpc

[2018-09-10 14:46] mit-mit commented on #16580
@jtattermusch but isn't the test now pinned to Dart 2.0, and thus we wouldn't get test coverage when we push our next Dart stable build?

[2018-09-10 14:54] jtattermusch commented on #16580
@mit-mit  you're right it is pinned, but at least it's obvious. It was de-facto pinned even before (by snapshotting dart:latest) but it wasn't obvious - making that explicit at least makes this more comprehensible. We can update the dart version being tested anytime we want.

[2018-09-10 14:57] cluster10537 commented on #16586
When tried to install `python-dev` on onion omega 2+ using the command `opkg install python-dev`, it says
`package python-dev already included in package python-base`
I do not know about the new C++ compiler though. Should all these packages and compiler be installed on onion omega 2+ to build from source dependencies or should I use a different host machine to do that.
Please guide me through thi

[2018-09-10 15:20] mit-mit commented on #16580
Is that similar to what you do for other languages? For Dart tests in general we always try to have them be based on the latest SDK stable release.

[2018-09-10 15:30] nicolasnoble commented on #16586
All in all, there's not enough information on this bug to tell us exactly what failed...

[2018-09-10 15:35] jtattermusch commented on #16580
@mit-mit  yes, we do exactly the same thing for other languages. The approach you are suggesting is actually difficult to achieve with the way our testing infrastructure is setup (and we also want to be consistent with the way other languages are tested). Looks like for now we will need to update to the latest version of dart manually.

[2018-09-10 15:40] cluster10537 commented on #16586
I do not have any idea on how to source build the dependencies and what all packages and compilers it takes to do so. I would like to give it a try though, with some help and learning.

So as of now is there no other way to install grpcio (gRPC) on the omega 2+???

[2018-09-10 15:49] mehrdada commented on #16586
@cluster10537 Have you tried running `pip install grpcio` after installing a relatively modern C++ compiler? If that fails, you may want to try "From Source" instructions on this page: https://github.com/grpc/grpc/tree/master/src/python/grpcio

[2018-09-10 15:59] cluster10537 commented on #16586
No i have not tried it yet. It might take some time to do so as I have encountered some other issues with omega 2+. Will try to resolve them as soon as possible and update the results. Will also refer "From Source" until then. Thank you!!

[2018-09-10 16:04] mehrdada commented on #16586
Sounds good, please report back what you find. I strongly encourage exhausting your luck with `pip install` before trying the git route.

[2018-09-10 17:33] menghanl commented on #16579
Wild guess: could this be caused by rate limiting?

[2018-09-10 17:43] mit-mit commented on #16580
Got it, thanks

[2018-09-10 18:57] yashykt commented on #16583
should be fixed by https://github.com/grpc/grpc/pull/16594

[2018-09-10 18:59] yashykt commented on #15889
The proposal is merged and the pull request is out for review https://github.com/grpc/grpc/pull/16419

[2018-09-10 20:10] tudor commented on #9035
Is there an update on this? I (and presumably many more people interested in the OpenTracing ecosystem) are looking forward to this (and client interceptors as well).

[2018-09-10 22:04] dwanderton commented on #16350
No change was made afaik. The difference was no error, and now the error
occurs.

On Wed, Sep 5, 2018 at 4:20 PM Nathaniel Manista <notifications@github.com>
wrote:

--
David Anderton-Yang

[2018-09-10 22:16] nathanielmanistaatgoogle commented on #16350
Huh. Interesting.

With what version of the Python interpreter are you seeing the problem? On what version of what platform? With what version of gRPC Python?

[2018-09-11 06:42] saadin commented on #16588
An update, restarting the client also solves the issue, same as epoll
But since what I observed is very similar with poll and epoll, the issue might not be related to epoll.

[2018-09-11 06:56] 0xf10413 commented on #9526
I took another look at the code because I could not manage to make it work, and I think I understood.

I was compiling with openssl (not the included boringssl) and the big Makefile. First, there's the init called twice in two threads that was mentioned above.

Then, there's a missing openssl call to init ECDH parameters. A block of code such as [this one](https://github.com/grpc/grpc/blob/v1.10.1

[2018-09-11 08:33] tomaskracka commented on #16350
+1

[2018-09-11 08:37] nathanielmanistaatgoogle commented on #16350
@tomaskracka: on what version of what platform are you seeing the problem, and with what version of what Python interpreter and what version of gRPC Python?

[2018-09-11 08:51] tomaskracka commented on #16350
@nathanielmanistaatgoogle here's what I've got with pip freeze:
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
enum34==1.1.6
futures==3.2.0
google-api-core==1.3.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud-monitoring==0.30.1
google-cloud-pubsub==0.37.2
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.14.2
httplib2==0.11.3
id

[2018-09-11 11:31] Lee-1991 opened #16602 "How can I send parameter 'token' to my server in Object-C"
How to post `token` parameter to my server?

[2018-09-11 11:47] arturgontijo commented on #15334
Using:
Ubuntu 16.04
python 3.6.5
grpcio 1.14.2
grpcio-tools 1.14.1

I'm unable to use os.fork() and subprocess.Popen().
Got `tcp_server_posix.cc:210] Failed accept4: Invalid argument`.

But if I use threading.Thread() that calls subprocess.run() it works!

[2018-09-11 12:35] jjlehtinen commented on #16012
Personally went with
[code]

for now as a workaround.

[2018-09-11 16:31] #15410 closed

[2018-09-11 18:10] dfawley opened #16604 "grpc-go interop tests use old Go versions"
Go 1.11 has recently been released; the interop tests should be updated to use newer versions.  Go 1.7 and 1.8 will be unsupported by grpc-go in about a month.

[2018-09-11 18:25] #16583 closed, assigned to yashykt

[2018-09-11 20:44] jtattermusch commented on #16589
Resolved internally.

[2018-09-11 20:44] #16589 closed

[2018-09-11 22:13] vjpai opened #16607 "Support exception safety in callback API"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?
Used callback API

### What did you expect to see?
 Exception safety: an exception in the callback should fail the RPC (as in the sync API), not crash th

[2018-09-11 22:56] #15158 closed

[2018-09-12 03:39] euroelessar commented on #11685
@srini100 Hi, what are the required steps for adding this API?
Does it require separate proposal steps or can I send pull request to grpc-core ~now and we will iterate in it?

[2018-09-12 05:31] adelez commented on #15410
Mark, the ubsan from make may be a much older version.

[2018-09-12 06:46] lucifercr07 commented on #10013
Can you please point out the examples?

[2018-09-12 14:34] lidavidm opened #16612 "Kerberos support?"
### What version of gRPC and what language are you using?

gRPC 1.10.1 (though we could use a later version), C++

### What operating system (Linux, Windows, …) and version?

Linux/Debian

### What did you do?

We have a `grpc_call_credentials` implementation of Kerberos authentication - it's pretty simple, just uses GSSAPI and adds a metadata field/HTTP header. We'd like to clean this up and upst

[2018-09-12 14:55] markdroth commented on #15410
I don't think so.  I've installed clang-6 on my desktop machine.

[2018-09-12 15:42] nicolasnoble commented on #16612
Since this would be new cross language api, this would need a GRFC first, but otherwise, why not.

[2018-09-12 16:49] markdroth commented on #11685
As @srini100 mentioned above, we do have work going on now to make our current internal resolver API public, but that is part of a larger project and will probably take at least a couple of quarters.  However, I think we could provide a Python resolver API without having to wait for those changes.  We could do this in two steps:

1. Define a C-core surface API for resolver plugins.  This is differ

[2018-09-12 17:58] g-easy commented on #14145
This is still a bug. What can I do to help get this fixed?

I tried pursuing this in https://github.com/protocolbuffers/protobuf/pull/4508 but was told to file an issue with gRPC.

[2018-09-12 17:58] SophisticaSean commented on #16555
I can't get any ruby code generated on alpine linux because of this issue, there's no executables in the grpc-tools gem for linux...

What's the ETA on a fix?

[2018-09-12 18:01] g-easy commented on #14145
Easy repro:

[code]

[2018-09-12 18:06] muxi commented on #16602
Can you elaborate what `token` are you referring to? If it is the OAuth2 token, it should be in the HTTP2 header's 'authorization' field.

[2018-09-12 18:15] apolcyn commented on #16555
@SophisticaSean how do you mean that there are no executables in the grpc-tools gem for linux? I don't see that this is the case.

E.g., gem unpack on the latest `grpc-tools-1.14.2.gem` and `grpc-tools-1.15.0.gem` packages shows, among other things:

[code]

[2018-09-12 18:30] SophisticaSean commented on #16555
@apolcyn so while some sort of reference shows up for those items they are not executable.

I get this error when I try to use those files:
[code]

[2018-09-12 18:36] apolcyn commented on #16555
@SophisticaSean is what you're seeing a regression? That is, did this used to work for you on your platform with older versions of the `grpc-tools` package, but now it doesn't?

It it is a regression, I'm wondering what version introduced the regression. If it's not a regression, then I suspect this never worked, and that the problem lies in how we some up with the expected directory name of the p

[2018-09-12 18:50] SophisticaSean commented on #16555
@apolcyn This is the first time I've tried to generate protobuf for ruby on linux. The gem works great on OSX. I went back to gem 1.10.0 and it still doesn't work.

I rand `ldd` against it and it said:
[code]

so i installed `apk add libc6-compat` and now I'm getting a seg fault:
[code]

[2018-09-12 18:59] apolcyn commented on #16555
@SophisticaSean not sure about the root cause, but I think this problem is specific to Alpine linux

[2018-09-12 19:05] SophisticaSean commented on #16555
@apolcyn Yeah it seems alpine specific. I got this working on the latest docker image of Ubuntu 18.04. Would be awesome if we could get it working on Alpine, but I can make do for now.

[2018-09-12 20:02] zhyon404 opened #16615 "python grpc, using context.is_active() stop service ongoing operation"
### What version of gRPC and what language are you using?
gRPC 1.14.2, python

### What did you do?
Golang grpc has a mechanism for cancel and moving on.[link](https://blog.golang.org/go-concurrency-patterns-timing-out-and) When the client disconnects, the server cancels the ongoing operation and returns. Does python grpc has the same operation? I have observed that is_active can be used to determ

[2018-09-12 20:15] jtattermusch commented on #16312
We occasionally see more occurrences of this:
https://source.cloud.google.com/results/invocations/e6224def-81e4-460f-acc5-d1f50bfdb2a8/targets/github%2Fgrpc/tests
https://source.cloud.google.com/results/invocations/00c80133-2819-426a-bf31-1e8fbcd60ef5/targets/github%2Fgrpc/tests

[2018-09-12 21:42] euroelessar commented on #11685
@markdroth Thanks for the elaborate answer. I've linked the pull request for grpc-core part and would welcome any feedback.

[2018-09-12 23:34] jtattermusch opened #16619 "memory leak in grpclb.cc: gpr_dump output not freed."
the output of gpr_dump need to be freed with  `gpr_free()`

https://github.com/grpc/grpc/blob/20345b21bb00c626ef346c26dbb3903c96c21c52/src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc#L858

[2018-09-12 23:37] jtattermusch commented on #16619
Also probably worth mentioning that gpr_free needs to be called in grpc_dump_slice's doc comment.

[2018-09-13 01:04] calder opened #16621 "TSAN data race in grpc::ProtoServerReflection::ListService"
### What version of gRPC and what language are you using?

gRPC C++ v1.13.0 (5d57a8d09a7f7202ba8eaa56b3b88a5da05ad057).

### What operating system (Linux, Windows, …) and version?

* **OS:** Ubuntu 16.04.5
* **Linux kernel:** 4.4.0-134-generic

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

[code]

### What did you do?
1. Build a service under TSAN with

[2018-09-13 06:40] apolcyn commented on #16555
@SophisticaSean just to note, unfortunately `grpc-tools` support for Alpine will be a low priority

[2018-09-13 06:45] zhyon404 commented on #16615
find add_callback, thx

[2018-09-13 06:45] #16615 closed

[2018-09-13 08:17] Falco20019 commented on #16397
Just wanted to add as a notice, that by default, .NET Core 1.0/1.1 runtimes are not installed with VS2017 anymore. We ran into this when trying to use the examples a month ago before Jan updated them. So I would also propose to have examples always targeting latest runtime and tests oldest supported.

[2018-09-13 09:32] cluster10537 commented on #16586
I factory reset my omega 2+ and did a fresh start. I installed C & C++ compilers on the onion omega 2+ following this guide https://onion.io/2bt-compiling-c-and-cpp-applications-on-omega/ and successfully ran C and C++ programs on omega 2+ to verify the installation as described in the above guide.

But however I am hit with the same installation error this time too.
[code]
The pip packages instal

[2018-09-13 11:57] AtosNicoS commented on #8636
It looks like Grpc is now working properly with UWP. If I find any issues, I will report. @jtattermusch thank you very much for the support and updates!

[2018-09-13 12:43] mfrischknecht commented on #16464
@jtattermusch: Did you have any luck with your flow control experiments? If not, do you perhaps see any way that could be used to easily apply "back pressure" in some other way?

Thanks again for your efforts! 😃

[2018-09-13 15:59] jtattermusch commented on #14240
Looks like I've rootcaused the problem (see #16620), the test result data from last night seem to confirm this, so closing.

[2018-09-13 15:59] #14240 closed

[2018-09-13 16:03] jtattermusch commented on #16123
Data seem to indicate that this was fixed by #16620.

[2018-09-13 16:03] #16123 closed

[2018-09-13 16:23] mihail911 opened #16623 "TypeError: Expected bytes, NoneType found"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows, …) and version?
 `macOS High Sierra 10.13.2`

### What runtime / compiler are you using (e.g. python version or version of gcc)
 `Python: 3.5.5`

### What did you do?
Here is the relevant code:
[code]

### What did you expect to see?
 A valid request being made

### What did you see instead

[2018-09-13 16:26] mehrdada commented on #16586
Please try `pip install -v -v -v`

[2018-09-13 16:30] mehrdada commented on #16623
Have you tried reading the contents of the file on a separate line, printing it to ensure it was read correctly, and only then pass it as `private_key` argument? We have had tricky type issues between bytes and str because of different Python versions, but in this example something seems to be `None`, which is a bit different.

[2018-09-13 17:10] srini100 commented on #16588
@saadin, can you please try the latest release 1.15.0. No reason to think this issue is fixed but give it a try. Also, can you try explicitly closing the channel using channel.close() on the client.

[2018-09-13 17:27] srini100 commented on #16350
@dwanderton, if you are building from source, can you please try https://github.com/grpc/grpc/pull/16378. If not, you can use nightly builds from https://packages.grpc.io

[2018-09-13 17:50] #16397 closed

[2018-09-13 17:54] yashykt commented on #16385
Done as of #16419

[2018-09-13 17:54] #16385 closed

[2018-09-13 17:55] yashykt commented on #16146
Done as of #16418

[2018-09-13 17:55] #16146 closed

[2018-09-13 17:56] yashykt commented on #16313
Should be done after #16384

[2018-09-13 17:58] yashykt commented on #15889
#16419 was merged.

[2018-09-13 18:09] dwanderton commented on #16350
Yes We are using grpc as a package dependency of google api package so
unfortunately no real control. :(

On Thu, Sep 13, 2018 at 1:28 PM Srini Polavarapu <notifications@github.com>
wrote:

--
David Anderton-Yang

[2018-09-13 18:28] mehrdada commented on #16350
@dwanderton I suspect you should still be able to force install a gRPC package after installing google api package with `pip install` to test. Please try:

[code]

after installing googleapi package.

[2018-09-13 20:00] jtattermusch commented on #16592
@ncteisen  who would be the best person to look into that?

[2018-09-13 20:12] jtattermusch commented on #16476
Last occurrence seen on master on 2018-09-04, let's see if this happens again
https://source.cloud.google.com/results/invocations/f4103274-0ec1-4bfe-b331-2bfe91925fe2

[2018-09-13 20:18] jtattermusch commented on #16483
There's only one occurence on master on 2018-08-06. Let's see if it happens again
https://source.cloud.google.com/results/invocations/bca1f903-54e8-49f9-b15f-98fa2c509860

[2018-09-13 20:29] jtattermusch commented on #15861
This one is likely to have been solved by closing https://github.com/grpc/grpc/issues/14240, but since the test log doesn't have yet GRPC_VERBOSITY set to debug (introduced later) it's hard to tell for sure.

[2018-09-13 20:29] #15861 closed

[2018-09-13 20:30] jtattermusch commented on #15752
Likely resolved by closing https://github.com/grpc/grpc/issues/14240.

[2018-09-13 20:30] #15752 closed

[2018-09-13 20:33] jtattermusch commented on #14730
Likely to have been solved by closing https://github.com/grpc/grpc/issues/14240

[2018-09-13 20:33] #14730 closed

[2018-09-13 20:33] jtattermusch commented on #13611
Likely to have been resolved by closing https://github.com/grpc/grpc/issues/14240.

[2018-09-13 20:33] #13611 closed

[2018-09-13 20:34] jtattermusch commented on #16430
Likely to have been resolved by closing https://github.com/grpc/grpc/issues/14240.

[2018-09-13 20:34] #16430 closed

[2018-09-13 21:01] srini100 commented on #14812
@ncteisen, any conclusion on this? Should this be assigned to @markdroth to look into?

[2018-09-13 21:20] ncteisen commented on #14812
Ahh sorry to have dropped this, it slipped my mind. I can still be the contact, but I need input from mark. I will set up a meeting.

[2018-09-14 01:29] jtattermusch opened #16630 "Remove "g stands for" word from User Agent string."
Example of User-Agent strings for all C-core based languages:
[code]

The g-stands-for word (glamorous, gloriosa, ...) is redundant (it's just a codeword for the version number and has no internal logic to help with easy version ID) and is taking up network bandwidth and memory. (On the wire it actually gets HPACK-compressed away but still needs to be sent at least once for a new connection). Let'

[2018-09-14 01:30] mehrdada commented on #16630
![sad](https://user-images.githubusercontent.com/900411/45524405-1d998800-b783-11e8-81a0-c59e093aa25a.gif)

[2018-09-14 01:31] jtattermusch commented on #16630
CC @a11r , @ejona86, @dfawley, @hsaliak , @markdroth, @ncteisen what do you think?

[2018-09-14 06:12] mihail911 commented on #16623
Thanks for your prompt response @mehrdada. Yes I include the following lines:
[code]
right before calling:
[code]
The printed output is:
[code]
and I still get the error:
[code]

[2018-09-14 06:29] wataori commented on #13859
Any updates? I think I'm also in same trouble. `grpc_cli` skips enum values. I use macOS High Sierra(10.13.6) and gRPC 1.14.2.

[code]

[code]

[2018-09-14 07:54] rainer-ibm commented on #16313
Thanks for documenting this :-)

[2018-09-14 13:12] #16205 closed

[2018-09-14 13:13] #16059 closed

[2018-09-14 13:40] jtattermusch commented on #16584
https://source.cloud.google.com/results/invocations/44bd0370-9f96-4654-8416-bde50e7cf668/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test@poller%3Depoll1/log

[2018-09-14 13:44] jtattermusch commented on #16230
`assertion failed: port >= 0 && port < 65536` was fixed by https://github.com/grpc/grpc/pull/16489

[2018-09-14 13:44] #16230 closed

[2018-09-14 13:52] jtattermusch commented on #16003
Previous instances don't have GRPC_VERBOSITY=debug set on them, so there's no useful logs.
This instance is more recent and provides more detail:

https://source.cloud.google.com/results/invocations/3e9a5bab-4068-4aa8-85e3-85cf38e9c012/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_fakesec_test@keepalive_timeout@poller%3Dpoll/log

[code]

[2018-09-14 13:54] jtattermusch commented on #16003
The suspicious part to me is `"os_error":"Connection refused","syscall":"connect","target_address":"ipv4:127.0.0.1:0"`   looks like the target port shouldn't be 0?

[2018-09-14 14:03] jtattermusch commented on #15610
What exactly the socket option that this test requests?

[2018-09-14 14:18] jtattermusch commented on #15897
Last failure on master is from 2018-08-11. Also, all known instances have happened before GRPC_VERBOSITY=debug was set for foundry test, so we don't have any useful data to diagnose.

[2018-09-14 14:18] #15897 closed

[2018-09-14 14:34] ejona86 commented on #16630
A 10 byte optimization per-connection is so very small there's little sense discussing it. The same applies to the in-memory argument since HPACK will make the allocation per-connection.

That said, I was against adding it to the user-agent string originally because it is just noise that makes parsing user-agent information harder for no gain.

[2018-09-14 14:53] FranGM commented on #15889
Thank you! Is this expected to be a part of 1.15 or will it need to wait for 1.16 to be released?

[2018-09-14 14:58] jtattermusch opened #16632 "suspicious error log: subchannel_list.h:535:31: runtime error: downcast of address"
We keep seeing this on foundry test `//test/core/end2end:h2_http_proxy_test@bad_ping@poller=poll-cv` (and possibly on other test cases)

https://source.cloud.google.com/results/invocations/e858b6e2-214a-49f7-837f-90cbea0d15b7/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@bad_ping@poller%3Dpoll-cv/log

[code]

[2018-09-14 15:08] markdroth commented on #16630
FWIW, I'm ambivalent.  I'm not opposed to removing it if that's the consensus, but I also don't see a compelling argument here for removing it.  My default would probably be to just leave it here, since doing nothing is the easiest path forward. :)

[2018-09-14 15:27] jtattermusch commented on #16312
Likely root cause is:
https://github.com/fsprojects/Paket/issues/3177#issuecomment-385254086 which leads to
https://bugzilla.xamarin.com/show_bug.cgi?id=57516

[2018-09-14 15:30] ncteisen commented on #16630
I am in favor of removing it

On Fri, Sep 14, 2018, 8:09 AM Mark D. Roth <notifications@github.com> wrote:

[2018-09-14 15:42] nicolasnoble commented on #16630
I'm with @markdroth.

[2018-09-14 15:44] dfawley commented on #16630
+1 for removing; it has no function and it presumably takes about the same effort to update it for one release as it would to remove it forever.

[2018-09-14 15:45] ncteisen commented on #16630
For your consideration: #16634

[2018-09-14 15:46] nicolasnoble commented on #16630
@dfawley actually, no, it takes zero effort, because it's an automated process with the rest of the normal release process.

[2018-09-14 15:47] hsaliak commented on #16630
Sadly, my vote is to remove so it does not show up in logs. I would still encourage the convention to update what g stands for in every release.

[2018-09-14 15:49] ncteisen commented on #16630
FWIW, while we are talking about user agent, I would like to stop unconditionally surfacing it to server apps, as it causes an allocation in the RPC hotpath. Added a knob to disable in #16558, would like to flip the default...

[2018-09-14 15:56] dgquintas commented on #16632
This looks very similar to #15410

[2018-09-14 15:59] markdroth commented on #16632
Yes, it's the same issue.  It was fixed in #16599.

[2018-09-14 15:59] #16632 closed

[2018-09-14 16:36] jtattermusch commented on #16604
@dfawley  feel free to update docker tag to version you'd like to test with.

https://github.com/grpc/grpc/blob/1b6c3a01cf292159cd4208e8fbe64f84c8b90a8b/templates/tools/dockerfile/interoptest/grpc_interop_go/Dockerfile.template#L17
and then run `tools/buildgen/generate_project.sh`

[2018-09-14 16:38] dfawley commented on #16604
As the maintainer of this, would you mind making the changes?

[2018-09-14 17:37] FranGM commented on #15889
Cheers, that gives us an idea of the timeline. We'll see if we can give the nightlies a go in the meantime :)

[2018-09-14 19:12] #16312 closed

[2018-09-14 19:41] pavanpalaksha opened #16636 "gRPC WaitForConnected always return true"
I have grpc server and grpc client solution running as 2 separate services. If the client comes up first, it tries to connect to grpc server and if server is not up, it suppose to wait. I thought WaitForConnected is defined for this purpose. It looks like it's not working correctly.

My Code:

    if (!channel->WaitForConnected(gpr_time_add(
              gpr_now(GPR_CLOCK_REALTIME),

[2018-09-14 20:07] apolcyn commented on #16585
Noticed the same failure in a non-bazel TSAN test suite: https://source.cloud.google.com/results/invocations/a409e9a7-f4af-4a3d-b63f-0b9238776733/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

on PR https://github.com/grpc/grpc/pull/16628

[2018-09-14 23:07] fbernaly commented on #15013
@gedw99: https://packages.grpc.io/archive/2018/09/07eecd8421314d62e8df33b14a33203864f91bee-fd8f1312-9873-4354-8a5d-613a05b12336/index.xml

[2018-09-15 11:16] saadin commented on #16588
Upgrading to 1.15.0 didn't help but **using with statement for creating channel solved the issue**.

(I'd written this code when grpc was at 1.3.0 and up to 1.9.0 we could upgrade without any problem.
Now that @srini100 mentioned closing channel, I noticed release notes of 1.13.0 about having to explicitly closing channel.)
Thanks a lot everyone.

[2018-09-15 17:04] mehrdada commented on #16630
@hsaliak I think if we are going to get rid of it, we should just fix the API to return "gRPC", mark it deprecated, and get done with updating it as well, as naming controversies cannot arise if we have one name.

[2018-09-15 17:40] vjpai commented on #16630
Let the record show that I LBTM'ed the PR creating this abomination.

[2018-09-16 00:34] vjpai commented on #16630
Quick, tell me what version 1.4 was called without looking it up. You can't, can you? I can do this for all the Android versions, but not for more than a few versions of grpc. We laugh for 5 minutes about our names, but they're really not that memorable.

[2018-09-16 02:49] mehrdada commented on #16630
@hsaliak I agree with @vjpai and I think straddling between "g stands for something every time" and "g stands for gRPC" loosens our marketing stance and people default on the common (incorrect) wisdom of "g = google". Since I think few people ever grokked g changes every time in the community, despite my interest in having cuteness like that, I have to say we should double down on g stands for gRP

[2018-09-16 03:27] hsaliak commented on #16630
If the plan is to fix g stands for "grpc" going forward then that's fine.
It's simple.

I personally don't agree that this is a gimmick or not that this is
something forgetful. It's something fun that our project does -- there is
nothing wrong in us having fun with it.

However I do concede that the bikeshedding is not worth it and we should
take the chance to end the argument once and for all. So

[2018-09-16 06:46] vjpai commented on #16630
Thanks, @hsaliak . And I think it would still be awesome to make a new "g" name each time and announce it in our release notes, but more as a curiosity than anything else. I'm still waiting on gaoRPC for @yang-g .

[2018-09-17 12:05] vadimskipin commented on #16557
I really think it is a BUG actually. You are absolutely right there should be configurable limit for number of threads. But code needs to be fixed to not spawn so many threads at first.

I ran into this issue as well after grpc upgrade from 1.1.4 (no additional grpc_executor threads) to 1.12.0 (112 dummy threads on my 56-core box).

As I can understand it is something related to the usage of grpc_

[2018-09-17 14:39] vadimskipin commented on #16557
It would be really nice if somebody would describe the ideas behind these commits:
https://github.com/grpc/grpc/commit/8ef68a570faebde6c79b80b3922a121f0540f342
https://github.com/grpc/grpc/commit/7a82afde1e1705168e482bbbc427b1ee5840bee3

[2018-09-17 17:41] andygikling commented on #10013
Bump,

@vjpai What examples are you talking about?  The latest grpc tag 1.15 does not provide a c++ async bidi example.  #8934 is the only good example I've seen but it's not done.

[2018-09-17 17:56] #16592 closed

[2018-09-17 19:38] #16623 closed

[2018-09-17 19:39] mehrdada commented on #16623
@mihail911 Please try the last nightly build tomorrow from https://packages.grpc.io and confirm that #16640 has fixed the issue. Thanks

[2018-09-17 19:41] mehrdada commented on #4473
It's not clear what the concrete steps are that are in our hands and improve the situation and I have not encountered this myself recently. No user issues either. Bazel support is also out. Closing.

[2018-09-17 19:41] #4473 closed

[2018-09-17 19:48] mehrdada commented on #16559
@marcosfelt Are you using Anaconda to install Python? If true, while we don't officially test on Anaconda, users have reported similar issues and apparently it was resolved by trying `conda install grpcio` instead of `pip install grpcio`

[2018-09-17 22:18] srini100 commented on #15334
Marking this issues closed. To summarize, release 1.15.0 now  has client side fork() support for gRPC-Python. See [release notes](https://github.com/grpc/grpc/releases) for details. Use case mentioned in https://github.com/grpc/grpc/issues/13873 is now supported.

 @bo0rsh201, note that this is only for gRPC-Python. The fix does not apply to PHP extension.

[2018-09-17 22:19] #15334 closed

[2018-09-17 23:14] mehrdada opened #16643 "Surface exceptions in Cython code"
gRPC Python consists of a bunch of logic written in Cython that calls into gRPC Core. The Cython code is not marked as `except *` thereby ignoring exceptions that happen when manipulating Python objects. To be clear, these are often exceptions that happen due to incorrect type or invalid input values not errors from C core. This matter is exacerbated due to Python being a dynamically typed languag

[2018-09-18 00:01] muxi commented on #15657
I did some experiments and got a breakdown of the time consumption on each item.

Preparing tests (~16 min)
* Downloading Cocoapods repo (~7.5 min)
* Building protobuf and `grpc_objective_c_plugin` (~5.5 min)
* Downloading nanopb from github (~3 min)

Tests (~17 min) - for each item below, the most amount of time is spent in building
* CronetUnitTests (~0.5 min)
* CronetEnd2EndTests (~2 min)
* Cro

[2018-09-18 03:13] jtattermusch commented on #16585
See again on non-TSAN https://source.cloud.google.com/results/invocations/c5b30f68-f72c-4473-bbf5-8cb00815a3db/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

[2018-09-18 13:53] marcosfelt commented on #16559
Okay, I will give it a try. I sorted the issue out by switching to the
default python version (instead of anaconda).

On Mon, Sep 17, 2018 at 3:49 PM Mehrdad Afshari <notifications@github.com>
wrote:

[2018-09-18 16:16] NathofGod commented on #15106
I'm having what I think is the same issue here. I have a REST API that is exposed and calls a gRPC service that isn't exposed. Locally all works and I just can't get it to find the server when running in Kubernetes!!

[2018-09-18 16:32] #16559 closed

[2018-09-18 18:09] #16607 closed

[2018-09-18 20:47] yashykt commented on #15871
This should have been solved by #16419

[2018-09-18 20:47] #15871 closed

[2018-09-18 20:47] yashykt commented on #15889
Marking this closed

[2018-09-18 20:47] #15889 closed

[2018-09-18 21:26] yashykt commented on #16313
Merged #16384

[2018-09-18 21:26] #16313 closed

[2018-09-19 03:46] TaylorChen opened #16652 "compile error on archlinux"
when i clone the latest grpc soure code and compiled , i got the following errors：

[code]

gcc version gcc (GCC) 8.2.1 20180831

[2018-09-19 03:57] #16652 closed

[2018-09-19 12:30] JiangFeng07 commented on #14573
work for me ,thanks

[2018-09-19 14:10] mihail911 commented on #16623
Seems good to me. Thanks for the response -- feel free to close to the issue!

[2018-09-19 17:17] muxi commented on #16602
Closed for no activity.

[2018-09-19 17:17] #16602 closed

[2018-09-19 17:28] ncteisen commented on #16591
The completion queue must always be drained after calling shutdown, so I think your snippet works as intended

[2018-09-19 17:29] ncteisen commented on #16591
Closing for now. Please reopen if I misunderstood

[2018-09-19 17:32] ncteisen commented on #16564
I don't think there is a way to make this work for C++ since enum is a keyword... Is it possible to change the proto file?

[2018-09-19 17:32] ncteisen commented on #16563
Take  look at https://github.com/grpc/grpc/tree/master/tools/run_tests#performance-benchmarks-run_performance_testspy

[2018-09-19 17:32] #16563 closed

[2018-09-19 17:35] ncteisen commented on #16550
Please add more details (code snippets, repro instructions, etc etc) and reopen

[2018-09-19 17:35] #16550 closed

[2018-09-19 17:39] ncteisen commented on #16538
There is no C++ impl for helloworld streaming.

Check out the route guide example: https://github.com/grpc/grpc/tree/master/examples/cpp/route_guide

[2018-09-19 17:47] muxi commented on #16569
gRPC+Cronet is not officially released. Particularly, Cronet does not support pure C++ until very recently; they can only be used with ObjC for now. Please use the version without Cronet. I'm gonna add some comment to avoid further confusion on this.

[2018-09-19 17:48] #16569 closed

[2018-09-19 18:36] Anomander commented on #16591
@ncteisen can you elaborate on the draining part?
The snippet is calling `Next()` to drain the queue, but it blocks until the alarm fires instead of returning immediately.
So, if the alarm was to fire in a day, the process would block for a day after the shutdown.

[2018-09-19 18:50] Anomander commented on #16591
To clarify, current behavior requires all alarms to be tracked by the application, so that they can be cancelled manually alongside the server shutdown. Otherwise, clean shutdown is impossible.

Reopening to get confirmation that this is intended.

[2018-09-19 20:13] Anomander opened #16656 "Completion queue draining blocks until all pending alarms fire."
Re-creating [#16591](https://github.com/grpc/grpc/issues/16591) as I found no way to reopen it.

Current behavior requires all alarms to be tracked by the application, so that they can be cancelled manually alongside the server shutdown. Otherwise, clean shutdown is impossible, or may take a long time.

I'm looking for confirmation that it is intended behavior.

### What version of gRPC and what l

[2018-09-19 22:02] ncteisen commented on #16656
I have reopened the original, will close this as duplicate of #16591

[2018-09-19 22:02] #16656 closed

[2018-09-19 22:03] ncteisen commented on #16591
Ahh, I see the problem. Sorry, I did not understand at first. I will look into this

[2018-09-20 05:16] lkluo opened #16662 "_Rendezvous of RPC that terminated with: status = StatusCode.UNAVAILABLE details = "Trying to connect an http1.x server""
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows, …) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead?

[2018-09-20 06:47] lkluo commented on #16662
Thanks for promoted reply.

Here are problems:
1. I launch the server via docker as shown below, which seems ok:
<img width="986" alt="screen shot 2018-09-20 at 14 35 13" src="https://user-images.githubusercontent.com/26020832/45800388-61404480-bce3-11e8-8314-33d836f6bab1.png">
2. I query the server which was also ok. The error occurred when I give an input (here a string) and it returned:
<img wi

[2018-09-20 06:50] lkluo commented on #16662
@medinandres: The query function is here [https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/serving/query.py](url)

[2018-09-20 07:02] nicolasnoble commented on #16548
grpc-node only supports two things:

-) static codegen in Javascript using protoc, [demonstrated here](https://github.com/grpc/grpc/tree/master/examples/node/static_codegen).
-) dynamic (runtime loading that is) codegen using protobufjs, [demonstrated here](https://github.com/grpc/grpc/tree/master/examples/node/dynamic_codegen).

Beside these two usage cases, we don't have typescript static codege

[2018-09-20 07:02] #16548 closed

[2018-09-20 07:04] nicolasnoble commented on #16548
Also, on the discussion of protobufjs static codegen support, I'd invite you to chime in into https://github.com/grpc/grpc-node/issues/528.

[2018-09-20 08:05] lkluo commented on #16662
I finally figure it out by modifying port number.

[2018-09-20 08:05] #16662 closed

[2018-09-20 10:36] JamesXiao commented on #15423
Hi @jtattermusch :
I tried this setting about keep alive, but the connection still get closed after idle for like 30 minutes (should not happen if the keep alive ping have bean properly set), and the disconnect event on channel is not triggered, I can only detect the disconnection till a new request is fired.

What I encountered is very similar to this thread:
https://groups.google.com/forum/#!top

[2018-09-20 15:11] lucifercr07 opened #16664 "Makefile fails linking with `prefix` variable"
### What version of gRPC and what language are you using?
 1.12.1, C++

### What operating system (Linux, Windows, …) and version?
 Centos

### What did you do?
make command to build grpc

### What did you expect to see?
 successful make

### What did you see instead?
 make failed since user doesnot has permission to access /usr/local/include or any root directory. Is there any way to pass file pa

[2018-09-20 16:29] lucifercr07 commented on #16664
@nicolasnoble Thanks a lot. 👍

[2018-09-20 17:59] hcaseyal opened #16665 "Data race in //test/cpp/end2end:client_lb_end2end_test@poller=poll"
<img width="1533" alt="screen shot 2018-09-20 at 10 59 15 am" src="https://user-images.githubusercontent.com/8952658/45837474-46120c80-bcc4-11e8-8794-6c4c017d2014.png">

[2018-09-20 20:04] klase73 commented on #15375
Same error here -- which lib was missing, please?

[2018-09-20 23:20] vjpai opened #16666 "C++ callback API: Make generic stub interface look like codegen stub interface"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Noticed that generic_stub uses `stub->experimental().UnaryCall(...)` to start a call but codegen stub uses `stub->experimental_async()->CallName(...)` (e

[2018-09-21 00:53] zhaohuang2016 opened #16668 "RPC connection problem"
For iOS applications, after the application is placed for a period of time, the data is not available through GRPC. After several tens of seconds, the data can be obtained. Is the PRC disconnected? What parameters should be set to stay connected?
Setting the following code didn't work.
[GRPCCall setKeepaliveWithInterval:30000 timeout:150000 forHost:[UCUserDataManager shareInstance].grpc];

[2018-09-21 02:51] AgainstWind opened #16669 "python: helloworld demo can not run"
### What version of gRPC and what language are you using?
 Python 2.7.5

### What operating system (Linux, Windows, …) and version?
 CentOS Linux release 7.5.1804 (Core)
kernel: 3.10.0-862.9.1.el7.x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)
  Python 2.7.5

### What did you do?
[code]

### What did you expect to see?

### What did you see instead?
[code

[2018-09-21 03:10] nicolasnoble commented on #16669
Well, as the error message says, you have a environment variable called `http_proxy`. Either unset it, or set it up to a valid value, such as `http://4.38.51.70:3128`, if you really need to use this proxy.

[2018-09-21 11:18] prateek2408 commented on #15461
whats the resolution, even I am facing the same issue

[2018-09-21 13:02] dshylov commented on #15461
@prateek2408
It's still wasn't merged
https://github.com/grpc/grpc/pull/12656

[2018-09-21 13:35] lucifercr07 opened #16670 "GRPC .so's dynamic link failing C++"
### What version of gRPC and what language are you using?
 1.12, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu

### What did you do?
I have `libgrpc++.so  libgrpc++_reflection.so  libgrpc.so  libprotobuf-lite.so`, I was trying to create a greeting_client binary using dynamic linking. I have header files inside third-party/include, I am not able to create binary.

### What

[2018-09-21 13:38] lucifercr07 commented on #16538
@ncteisen have checked the route_guide example. There is no async implemetation as there is for hello.proto

[2018-09-21 16:00] ncteisen commented on #16538
Ahh I see, you would like to see async streaming example. In that case the best guide will be our QPS driver benchmarking application.

Take a look at the async streaming server: https://github.com/grpc/grpc/blob/master/test/cpp/qps/server_async.cc#L305

and the async streaming client: https://github.com/grpc/grpc/blob/master/test/cpp/qps/client_async.cc#L336

[2018-09-21 18:36] lucifercr07 commented on #16664
@nicolasnoble Using prefix variable doesnot create so's linking properly.
Example:
`make install`
Output: `ldd libgrpc++_reflection.so.1.12.1`
`	linux-vdso.so.1 =>  (0x00007ffcc2371000)
	libgrpc.so.6 => /usr/local/lib/libgrpc.so.6 (0x00007fc01b026000)
	libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007fc01aca4000)
	libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007fc01a

[2018-09-21 18:52] nicolasnoble commented on #16664
The .so linking is a facility provided by the tool `ldconfig`. It's not something the Makefile does, nor something that should. Please take the appropriate steps to configure your system accordingly.

[2018-09-21 19:11] lucifercr07 commented on #16664
@nicolasnoble should I run ldconfig after running? I tried export LD_LIBRARY_PATH, but still the libgrpc.so.1 link is not found.
Can you please guide?

[2018-09-21 20:14] muxi opened #16672 "Test flake: bins/opt/resolve_address_using_native_resolver_test --resolver=native GRPC_POLL_STRATEGY=poll"
Sample: https://source.cloud.google.com/results/invocations/aeb7e1e2-04f0-4521-beb9-bb2264e6ebb0/targets

[2018-09-21 20:16] nicolasnoble commented on #16664
As I said, when you do `make install` on the system in the normal location, your system's `ldconfig` tool will find the libraries and link them appropriately. You simply need to learn and use this tool accordingly with your environment.

Please read the following documentation to learn about how this works:
http://man7.org/linux/man-pages/man8/ldconfig.8.html

[2018-09-21 20:24] cuteworld opened #16673 "Build failed on MacOS 10.13.6"
### What operating system (Linux, Windows, …) and version?
 Macos

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
I use it
 $ brew install autoconf automake libtool pkg-config
$ git clone --recursive -b v1.15.0 https://github.com/grpc/grpc.git
$ cd grpc
$ make

make a error:
[MAKE] Generating cache.mk
[AR] Creating /Users/apple/grpc/libs/opt

[2018-09-21 20:29] cuteworld commented on #16673
my libtool version is libtool (GNU libtool) 2.4.6

[2018-09-21 21:07] pcj commented on #11698
Did this ever get solved?  Still seeing this `bundle install` of `grpc 0.9.4`

[2018-09-21 21:21] apolcyn commented on #11698
`grpc 0.9.4` is very old, @pcj can you try a more recent version? Latest is `1.15.0`

[2018-09-21 21:21] nicolasnoble commented on #11698
@pcj I'm sorry, what ? grpc 0.9.4 ? We didn't have c-ares there at the time, so I doubt you're seeing this exact issue. I'd usually ask you to please open a new issue describing your issue, but I can already tell you that we won't support this extremely old version.

[2018-09-21 21:24] #16673 closed, assigned to nobody

[2018-09-21 22:08] pcj commented on #11698
Sorry that was super-dumb.  1.15.0 installs cleanly.  I'd close this issue.

[2018-09-21 23:01] kapilsh opened #16675 "GRPC C++ Build Fails for gcc 8.2"
### What version of gRPC and what language are you using?

1.15.0  and C++

### What operating system (Linux, Windows, …) and version?

Linux - CentOS 7

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 8.2

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

[code]

### What d

[2018-09-21 23:07] nicolasnoble commented on #16675
First, this is on boringssl, not on us. Second, you're trying to build everything, including the tests, which is the default with cmake. Please change your cmake settings to only build the main library.

[2018-09-21 23:27] nicolasnoble commented on #16675
And in all cases, the *test* code might not be compatible with all compilers, while the main library code is. As I said, if you disable compiling the tests, it'll work.

[2018-09-21 23:27] kapilsh commented on #16675
yes - my bad `1.15.0`

[2018-09-21 23:39] kapilsh commented on #16675
gotcha - will do. Thanks!

Just a heads up that `master` of `boringssl` builds successfully (with tests) in `gcc 8.1` and `8.2`. so the issue is probably fixed in a later hash.

[2018-09-21 23:48] nicolasnoble commented on #16675
We're trying to stick on the same released versions of boringssl as the chromium project.

[2018-09-22 05:39] #16669 closed

[2018-09-22 13:44] cuteworld commented on #16673
Thank u!I understand.but Grpc website did not introduce how to use Xcode tools to building gRPC.
I don't know how to do it.I hope you can tell me.

[2018-09-22 14:26] tonicsoft opened #16680 "Unable to return a grpc::ClientContext from a function."
### What version of gRPC and what language are you using?
 1.15, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 7.3.0

### What did you do?
try to return a ClientContext from a function, to avoid repetitive code on every call:
[code]

### What did you expect to see?
 ClientContext

[2018-09-23 02:51] Kwoth commented on #15623
@ricardopieper Thank you so much. That was my issue too.

[2018-09-23 07:03] kumarmo2 opened #16682 "Grpc csharp client Can't connect to Grpc server running on docker for windows"
### What version of gRPC and what language are you using?
 Grpc version is 1.14.1 and language is csharp

### What operating system (Linux, Windows, …) and version?
 Windows 10 Pro

### What runtime / compiler are you using (e.g. python version or version of gcc)
 dotnet 2.1.402

### What did you do?
 I made a simple Grpc Server and client and ran them directly on localhost. The client is able to

[2018-09-23 12:25] cuteworld opened #16683 "Thank u!I understand.but Grpc website did not introduce how to use Xcode tools to building gRPC."
I don't know how to do it.I hope you can tell me.

_Originally posted by @cuteworld in https://github.com/grpc/grpc/issues/16673#issuecomment-423745228_

[2018-09-23 17:44] jkub opened #16684 "request_response argument-count mismatch between server.rb and client_stub.rb"
It seems "metadata" became a named_argument in client_stub.rb, but server.rb is still passing it as a positional argument on line 170. "metadata" needs to get passed as a named argument.

[code]

### What version of gRPC and what language are you using?
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]
grpc v1.13.1  (befc7220cadb963755de86763a04ab6f9dc14200)

### What operating system (Linu

[2018-09-23 19:54] apolcyn commented on #16684
From the git blame, `metadata` has been a keyword argument in `client_stub.rb` for the last two years (since around the GA release), so there doesn't seem to be any recent breakage here, and I don't think there's a problem here.

When you call:

[code]

What does the second "empty string" param that you are passing correspond to? Also did this ever work, and do you know at what grpc version this w

[2018-09-23 20:14] jim5359 commented on #12597
Using PHP 7.2 on Ubuntu 18.04 I had to install zlib dev this way:
`sudo apt-get install zlib1g-dev`

[2018-09-23 20:17] jim5359 commented on #12597
It would be nice to add zlib1g-dev to the documentation for Ubuntu installation.  The documentation only covers this for CentOS/RHEL 7

[2018-09-23 21:16] jtattermusch commented on #16670
what compiler did you use & what build system (make, cmake, ..) ? What were the exact commands you ran, were you following any of our tutorials?

[2018-09-24 05:18] cearny commented on #15757
Yeah, either a copy constructor on the ServerCallContext or some sort of "view bag"-like functionality on it would help a lot not just with schlepping the service provider around, but possibly other things like user identity, etc.

Would you accept a PR for this (and by this I'm referring to the copy constructor as it's super-trivial and the least intrusive of the two options, plus it's not going

[2018-09-24 06:43] jkub commented on #16684
@apolcyn thank you for the quick response. You are correct. I'm sorry for the distraction.

When I made the above change, I got a much more informative error, which led me to believe I had made forward progress. I realized then that my stub request was malformed, and I fixed it. It had simply not occurred to me that the malformed request was the root cause of the previous exception as well.

After

[2018-09-24 06:43] #16684 closed

[2018-09-24 06:58] dpsenner commented on #15757
We chose to inject the service provider in the metadata headers because:

1. we prefix the service provider header key with a prefix that should never fly in from a request
1. we would have to clean up the trailers if we did inject the service provider there, creating yet another point of failure
1. if request headers are not present, we create them on the fly

This work around gets the job done f

[2018-09-24 06:59] lucifercr07 commented on #16538
@ncteisen Thanks for pointing out!!!

[2018-09-24 06:59] #16538 closed

[2018-09-24 07:48] ravibpatel opened #16686 "Unable to install using PECL on CentOS 7.5.1804"
### What version of gRPC and what language are you using?
1.15.0 and PHP 7.2.10

### What operating system (Linux, Windows, …) and version?
Linux - CentOS 7.5.1804

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3.1

### What did you do?
Tried installing it using PECL.

[code]

### Anything else we should know about your project / environment?

Also tried i

[2018-09-24 08:52] cearny commented on #15757
@dpsenner as I see it, looking at the `ServerCallContext` sources, there is no way to be sure that `RequestHeaders` is null or not -- and I see no way of setting it if it is, as it's getter-only. Am I missing something?

The "trailers" thing is precisely the same hack that works that you made, only since the trailers are instantiated by default, they're never null and what we're using is something

[2018-09-24 10:31] #16664 closed

[2018-09-24 12:09] ravibpatel commented on #16686
For others having this issue follow below steps to install in successfully on CentOS 7.

- Install latest version of gcc by using following commands.

[code]
- Now build it from source by following guide on [official page](https://cloud.google.com/php/grpc).

[2018-09-24 12:09] #16686 closed

[2018-09-24 15:19] lidalei commented on #16559
@marcosfelt Try this https://github.com/grpc/grpc/issues/15510#issuecomment-404459720

[2018-09-24 15:44] ykameshrao commented on #14899
Whats the status on this?

[2018-09-24 16:36] muxi commented on #16532
[Similar problem](https://source.cloud.google.com/results/invocations/279b6613-8640-4706-ae59-5786fc8ac512/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log):
[code]

[2018-09-24 16:44] srini100 commented on #16683
Does this help? https://github.com/grpc/grpc/tree/master/examples/objective-c/helloworld

[2018-09-24 16:46] muxi commented on #16683
A more complete version is [here](https://grpc.io/docs/quickstart/objective-c.html).

[2018-09-24 16:50] muxi opened #16687 "Bazel tests consistently fail on v1.15.x"
Consistent failure on all bazel tests on `v1.15.x` branch for multiple reasons

A sample reason:
[code]

[2018-09-24 17:10] marcoippolito opened #16688 "in make phase (C++) : third_party/cares/cares/ares_init.c error . all warnings being treated as errors"
Hi,

I 'm my Ubuntu 18.04.1 LTS I'm just trying to install and build gRPC, but in the "make" step there, as you can see, there is an error:

    third_party/cares/cares/ares_init.c: In function ‘ares_dup’:
    third_party/cares/cares/ares_init.c:301:17: error: argument to ‘sizeof’ in ‘strncpy’ call is the same
    expression as the source; did you mean to use the size of the destination? [-Werror=

[2018-09-24 17:12] muxi opened #16689 "Pull requests on v1.15.x branch unable to be merged"
There are a few problems actually
* **The required `Bazel Build Basic` test is unable to get report (test succeeded though)**
* A lot of bazel builds consistently failing
* Interop tests seems to consistently failing

Ref PR: #16676, #16677, #16678

@nicolasnoble

[2018-09-24 20:41] dgquintas commented on #16619
grpc_dump_slice mentions it simply wraps gpr_dump, which mentions the need to free its result. Even though it's one level removed, I don't think it's necessary to repeat the semantics of gpr_dump in grpc_dump_slice (and doing so may be a bad idea: if the semantics change, there'd be two places where the comment would need updating, something the compiler wouldn't warm about).

[2018-09-24 21:18] srini100 commented on #16234
@JamesXiao, @huaiweicheng, Can you provide minimal repro code example? I don't see this issue. If you take the simple [routeguide](https://github.com/grpc/grpc/tree/master/examples/python/route_guide) example, the client waits for server response after finishing its stream. To simulate your scenario, just put some arbitrary about of sleep on the server side before it starts responding. Client wait

[2018-09-24 22:22] AspirinSJL opened #16692 "node compile issue due to ClientHttp2StreamMock"
https://source.cloud.google.com/results/invocations/38d0fdf3-0f01-437f-9094-2acd8d425873/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

Please decrease priority if appropriate.

[code]

[2018-09-24 23:00] murgatroid99 commented on #16692
`ClientHttp2Stream` is part of the Node HTTP/2 module. It looks like they added a method, and that broke our mock class. That is impacting us here because we are building our test code as part of our normal build process.

[2018-09-24 23:18] sohale commented on #8172
How was this issue resolved and closed? I don't get it. I have the same problem.

[2018-09-24 23:28] tizzo233 commented on #8172
actually the best method to resolve your issues is to use vcpkg. you can google it. its a ms tool that's similar to linux apt-get or linuxbrew based on macos homebrew,

[2018-09-24 23:30] nicolasnoble commented on #16683
I'm fairly certain they weren't asking about Objective-C, but about C++.

[2018-09-24 23:35] #16619 closed

[2018-09-24 23:44] muxi commented on #16683
Ahh that was forwarded from #16673.

There's no doc in this case. As a very high level description of the process, if you used Xcode before, you may create a workspace and add your project to it. Then you can add another xcodeproj to the workspace, which builds all gRPC files and produce a static library (.a). Once that works, you can use this new project as dependency in your project.

[2018-09-24 23:57] muxi commented on #16689
No longer P1 since the affected PRs are force merged (thanks @nicolasnoble :)

[2018-09-25 00:01] nicolasnoble commented on #16683
Or, more generally speaking, sorry, but we're not going to start training people on how to use development tools. I'll direct you to guides such as http://railsapps.github.io/xcode-command-line-tools.html or https://www.embarcadero.com/starthere/berlin/mobdevsetup/ios/en/installing_the_xcode_command_line_tools_on_a_mac.html

[2018-09-25 01:27] jtattermusch commented on #16689
Seems solved? This is likely due to recent renaming of the test name. We updated the github configuration on master, we might have needed to update on v1.15.x branch too.

Reassigning to @nicolasnoble  as I don't have the access rights to change the settings anyway.

[2018-09-25 01:28] #16689 closed

[2018-09-25 02:00] jtattermusch commented on #16532
@muxi  the problem you've mentioned is a different thing - it was resolved by https://github.com/grpc/grpc/pull/16581

[2018-09-25 02:33] morris-stock commented on #12979
@lucifercr07 As you see in my first post, I just make a symbol link to work around it...

[2018-09-25 06:34] rafalkasa commented on #14436
Do you know when you planning to add support for `futures.ProcessPoolExecutor` for gRPC python server?
The python limitation related to GIL (global interpreter lock) is always the issue. Before I started use gRPC server I have good experience with gunicorn where it was possible to start the server with multiprocessing workers https://gunicorn.org/

[2018-09-25 16:34] GuillaumeLachaud commented on #12780
I can reproduce this on App Engine NodeJS flexible environment. Since I added google-cloud/datastore dependency, I can no longer run my app.

[2018-09-25 16:40] srini100 commented on #16546
I don't see any actionable info here. OP should try with newer release and provide full output of installation failure. Closing since no update.

[2018-09-25 16:40] #16546 closed

[2018-09-25 16:56] murgatroid99 commented on #16692
OK, I don't know what's happening here. I can't figure out how to reproduce this failure on my local machine.

[2018-09-25 17:02] jtattermusch commented on #16687
I think we'd need to backport https://github.com/grpc/grpc/pull/16466/files

[2018-09-25 17:04] jtattermusch commented on #16687
And this one? https://github.com/grpc/grpc/pull/16498/files

[2018-09-25 17:45] nicolasnoble commented on #12780
@GuillaumeLachaud: please do not bump issues that have been closed for almost a year, and create a new one instead. Also, the nodejs repository has been moved away from this one, so it's no longer relevant to post here. New location is at https://github.com/grpc/grpc-node/

[2018-09-25 18:57] srini100 commented on #14436
@rafalkasa, there is no immediate plan to support fork on the server side. This is low priority for us. The first step here would be to support pre-forking (possibly revive https://github.com/grpc/grpc/issues/13536).

[2018-09-25 19:39] dpsenner commented on #15757
Now I get your idea of the copy ctor. That could work. I rather thought of replacing `ServerCallContext` with `IServiceProvider` and let the grpc internals look up the original `ServerCallContext` by invocation of `serviceProvider.GetRequiredService<ServerCallContext>()` . A developer could wrap the service provider without even having to know about the `ServerCallContext` existence.

A wrapping i

[2018-09-25 20:53] mohit-chawla commented on #16001
[PYTHON]   @ericgribkoff , I have ran into a use case where i am using a gRPC for a server side CPU bound task (and need to use python multi processing as there isn't an option in pure Python). Can you please suggest a solution here as i see no support for server side for fork ?

I am facing `grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INTERNAL, Received RST_STR

[2018-09-25 20:55] kriticism commented on #16001
@ericgribkoff , @evanj  : I'm facing the same issue as @mohit-chawla

[2018-09-26 01:59] yifeikong commented on #11014
Maybe you should change it both from the server and client

[2018-09-26 06:09] samuela commented on #8079
Any update on this line of work?

[2018-09-26 13:01] benhansen-io opened #16705 "Copy constructor of grpc::CompletionQueue is invalid"
CompletionQueue appears to have the default copy constructor which naively copies the internal pointer.  This causes multiple CompletionQueue objects to share the same internal pointer which will be destroyed by the first one that calls its destructor. See https://github.com/grpc/grpc/blob/8bf52535d1008a3f38e70d1387846f0e942761b5/include/grpcpp/impl/codegen/completion_queue.h#L111

The copy constr

[2018-09-26 17:53] #16683 closed

[2018-09-26 21:17] shotahino commented on #15671
@Antezedens Is it possible for `libfaketime` to advance time of a running process? I assume that we need to make the server think it's been up for more than 25 days, but I'm unable to reproduce the issue using `libfaketime`

[2018-09-27 00:49] mehrdada commented on #16403
less friendly ping

[2018-09-27 02:06] dev-assassin commented on #14133
I got the same error. But I don't use Anti-Virus app.
and then where do i have to save `https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.8.4/node-v59-win32-x64-unknown.tar.gz` this file?

[2018-09-27 04:13] cearny commented on #15757
That would work neatly, yes.

Though I've had a discussion on this topic with a colleague and the end result of that was that we both agreed this would tie "out-of-the-box" gRPC to Microsoft's own DI container way too much, making it an intrusive change. The point being that some people use Autofac, Ninject, etc.

Until we'll have something like per-scope metadata separated from headers and traile

[2018-09-27 08:15] nicolasnoble commented on #14133
Please don't bump old, resolved issues with new problems, and file new issues instead with your specific problem description over at https://github.com/grpc/grpc-node/

[2018-09-27 11:12] biaken opened #16718 "TypeError: expected bytes, str found"
### What version of gRPC and what language are you using?
 grpcio, and grcpio-tools version: 1.15.0
python

### What operating system (Linux, Windows, …) and version?
Problem encountered both in Centos 7.5 & Python 3.6.5 (Docker setup) as well as; MacOS High Sierra 10.13.6 & python: 3.6.2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python 3.6

### What did y

[2018-09-27 13:10] mmoehring commented on #14101
The use case is clients on remote locations behind heavily NATted or downright unreliable connections, like clients which can only connect seldom through mobile wifi hotspots.

[2018-09-27 15:54] hunnain opened #16720 "Proxy is running but browser not connect with grpc Server"
Hi i have created envoy proxy. **Proxy is running on port 8080** when ever i call port from browser so its show me error **code 12** but cant show any message actually browser are not connecting with grpc server.**grpc server was running on port 9090** i have also given in envoy.yaml file but its not working
I am using reactjs so here my code to connect with grpc proxy which will connect me to grp

[2018-09-27 16:04] yang-g opened #16721 "[FLAKE] grpclb_end2end_test SingleBalancerTest.FallbackUpdate tsan failure"
https://source.cloud.google.com/results/invocations/59f293c8-8e89-4a74-bdc7-d33f8aa990f6/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_cpp_tsan/log

2018-09-26 22:35:08,951 FAILED: bins/tsan/grpclb_end2end_test --gtest_filter=SingleBalancerTest.FallbackUpdate  GRPC_POLL_STRATEGY=poll

[2018-09-27 16:08] yang-g opened #16722 "[FLAKE] node health check tests fail under macos"
https://source.cloud.google.com/results/invocations/ea18c56d-68d9-451b-a446-220fc35bb905/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_opt/log

[2018-09-27 16:42] nicolasnoble commented on #13908
Please open a new issue for your specific problems, instead of bumping unrelated, old, and resolved issues.

[2018-09-27 17:59] mohanbright opened #16723 "How to send the NSDATA in byte chunks form using the grpc streaming in objective c??"
I am facing the problem data sending the byte form over the grpc using the GRXBufferedPipe or GRXWriter. If i am sending the data in the form of NSData the sever show the the file but its corrupted.
Sever is in Golang and it recieve the empty bytes.
Any help is appreciated

Thanks

[2018-09-27 19:59] stanley-cheung commented on #16720
This is an issue for grpc/grpc-web

[2018-09-27 19:59] #16720 closed

[2018-09-28 06:26] manuurdevang opened #16730 "GRPC error with ubuntu 12.04"
This is my system architecture
![screenshot from 2018-09-27 13-52-52](https://user-images.githubusercontent.com/756181/46132791-a4a72f80-c25c-11e8-9cd9-a24757e2c5f1.png)

This is bug I am facing
![screenshot from 2018-09-27 13-51-14](https://user-images.githubusercontent.com/756181/46132721-7b869f00-c25c-11e8-99e3-cbb9926f1add.png)

Thanks Manohar M R

_Originally posted by @manuurdevang in https:

[2018-09-28 07:39] #16670 closed

[2018-09-28 12:40] bochecha opened #16732 "Please add the license file to the Python tarballs"
I'm packaging python-grpcio for Fedora.

One of the packaging guidelines requests that all packages come with a file containing the full text of their license.

I see you already have a `LICENSE` file in the repository. Could it be added to the Python tarballs with future releases ?

[2018-09-28 21:05] apolcyn commented on #16730
@manuurdevang the strange thing that pops out here is that you seem to be using the one of the pre-compiled `x86_64` grpc packages on what looks like a 32 bit architecture.

I'm wondering how the `x86_64` grpc package was downloaded here in the first place. Normally, the package manager should be fetch the 32-bit pre-compiled grpc package when it recognizes that it's installing for a 32-bit platfo

[2018-09-29 16:44] mingwugmail opened #16739 "compile error: ‘dynamic_init_dummy_src_2fproto_2fgrpc_2fcore_2fstats_2eproto’ defined but not used [-Werror=unused-variable]"
### What version of gRPC and what language are you using?

git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc

c++

### What operating system (Linux, Windows, …) and version?

 Ubuntu 16.04.5 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version 5.5.0 20171010 (Ubuntu 5.5.0-12ubuntu1~16.04)

### What did you do?
If possible, p

[2018-09-30 17:30] srini100 commented on #8079
@ghostwriternr, is this [document](https://github.com/grpc/grpc/blob/master/summerofcode/2018/naresh.md) up to date with the current state of your project?

[2018-10-01 04:36] ghostwriternr commented on #8079
@samuela e1210f7 introduced most of the changes needed to build the 'grpcio' package, but I haven't been able to add all the tests in place right now yet. I have added some changes to #16335 today, which if merged, should cover a good majority of them. This project is still a WIP and is yet to cover gRPC testing, health checking, reflection and tools. Bazel still has a lot of issues with Python 2

[2018-10-01 06:34] ShengliangD opened #16741 "There is no gRPCTargets.cmake generated"
### What version of gRPC and what language are you using?
 v1.15.0, C++

### What operating system (Linux, Windows, …) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 2015 Win64

### What did you do?
After building and installing grpc, I tried to configure another project using cmake which uses grpc.

### What did you expect to see?

[2018-10-01 07:06] ShengliangD commented on #16741
Well, I faked this file using [this](https://github.com/matrix-io/protocol-buffers/blob/master/cmake/FindGRPC.cmake), and now it seems to be working...

[2018-10-01 09:29] lucifercr07 opened #16744 "[GRPC/ssl] Pass ssl cert path to channel"
### What version of gRPC and what language are you using?
 1.12, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Was trying to pass ssl cert path, I can't use export **GRPC_DEFAULT_SSL_ROOTS_FILE_PATH**,  and also read of ca.crt. Is there any option to directly pas

[2018-10-01 10:30] jtattermusch commented on #16682
I'm going to close this and will reopen if we establish that gRPC is actually the culprit (and not just docker configuration).

[2018-10-01 10:30] #16682 closed

[2018-10-01 13:50] dpsenner commented on #15757
It's great news that you are considering this addition as a team!

If portability and interopability is a concern, then grpc could come with it's own dependency
 injection interface. All that interface has to define is a method signature `object GetService(Type t)`. It is straight forward to implement adapters from [microsoft DI, ninject, autofac] to grpc di. I however have to insist that it is a

[2018-10-01 14:27] david-martyn-ford commented on #14653
@mioyingluffy Unfortunately not, we've added more advanced healthchecks to detect when the issue appears and restarts the container which resolves it for a day or two - far from ideal.

I'm not entirely sold it's actually related to gRPC but actually to the ASP.NET docker image we are using (`microsoft/aspnetcore:2.0`). We've recently added RabbitMQ into our service which also drops at the same ti

[2018-10-01 15:39] cearny commented on #15757
Hm, the thing is that I don't really want to see gRPC as "just a sort of ASP.NET Core", convenient as that might be. I feel like it should focus on what it does specifically and provide extension endpoints where more is required of it. This may be because I'm coming to it from an Express.js mindset. Just to put my thoughts into context.

By the way, I've taken a look at maybe adding a service prov

[2018-10-01 18:45] samuela commented on #8079
@ghostwriternr Ah yes... I pulled out quite a bit of hair this summer over blaze's python 2 vs 3 issues. My understanding is that @brandjon has been working on this: https://github.com/bazelbuild/bazel/issues/3871

[2018-10-01 19:35] rnburn opened #16749 "Running a simple client-server in the same process triggers an error with TSAN"
### What version of gRPC and what language are you using?

grpc 1.10.0 / C++

### What operating system (Linux, Windows, …) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

g++ (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0

### What did you do?

Running a client-server in the same processes triggers a TSAN error.

I attached a minimal project with a Do

[2018-10-02 09:34] dpsenner commented on #15757
I like the idea that grpc allows injecting arbitrary data into the methods that process requests and allowing the interceptors to manipulate that arbitrary data. After all that is what dependency injection is about.

This solution is similar to what we hacked with the custom meta data header. It is just bad to abuse request headers for details that matter only to the server side implementation and

[2018-10-02 14:03] phlippieb opened #16757 "[Swift] Unrecognized enum values result in a runtime crash"
### What version of gRPC and what language are you using?

Excerpt from `Podfile.lock` (our name redacted):

[code]

The gRPC code is used in our Swift 4.0 codebase in Xcode 10 (from generated Objective C code).

### What operating system (Linux, Windows, …) and version?

MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Cases o

[2018-10-02 16:13] ejona86 opened #16759 "Interop clients should not override authority by default, for proper SNI testing"
You have to specify `GRPC_SSL_TARGET_NAME_OVERRIDE_ARG` to get SNI. That's dangerous as it may prevent server operators from presenting correct certificates, as is the case for `grpc-test.sandbox.gogole.com`.

Reproduction case:

[code]

I did confirm with wireshark that SNI is used with the override and not used without.

[2018-10-02 16:15] ejona86 commented on #16759
As part of this issue, I expect all the interop tests hitting `grpc-test.sandbox.gogole.com` to _not_ use `--server_host_override`. That should be verified cross-language.

[2018-10-02 21:20] ejona86 commented on #16759
@jiangtaoli2016, the first time I ran it had the override and worked. The second time it didn't have the override and it failed. I showed that _I can't_ remove the override because otherwise it fails because SNI is missing. But also, I didn't make the first command line, it came from what is used for interop testing: https://github.com/grpc/grpc/blob/2d05737/tools/interop_matrix/testcases/python__

[2018-10-03 08:08] mabatak1 commented on #8649
npm install react-native  firebase@4.6.2 --save

[2018-10-03 14:41] ikishchenko opened #16771 "Bazel build crashes because python workspace is broken"
### What version of gRPC and what language are you using?
Language: `C++`
 Bug found in `master` and in `1.15.x` branches.
 Last working version (without bug): `1.14.x` branch.

### What operating system (Linux, Windows, …) and version?
 Windows 7 Professional SP1

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Bazel: 0.16.1
 Python: 2.7.13

### What did you do?

[2018-10-03 14:46] mehrdada commented on #16732
@bochecha I am curious what your update plan would be for Fedora packages? gRPC has a 6-week release cycle and we are somewhat hesitant of actively having lots of old versions lying around on slow update schedules and think if we don't manage that might ruin the UX more than availability in package managers, so that requires careful thought.

[2018-10-03 15:07] mehrdada commented on #16771
@ghostwriternr can you take a look?

[2018-10-03 15:57] bochecha commented on #16732
@mehrdada is there any guarantee of stability between gRPC upgrades?

If it doesn't break apps using it, then we could very well upgrade the package in Fedora whenever you release something. :slightly_smiling_face:

[2018-10-03 16:14] jiangtaoli2016 commented on #16759
It looks like server_host_override ("foo.test.google.fr") is used as default for interop test. This is the intended behavior for testing, since our interop server does not have "googleapi.com" certificate.

For c++ interop client, the default server_host_override is here
https://github.com/grpc/grpc/blob/master/test/cpp/interop/client.cc#L41

[2018-10-03 16:26] yashykt opened #16772 "grpc_interop_toprod build timeout"
https://source.cloud.google.com/results/invocations/6d143416-0590-4738-8f90-46ba33774f5a/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

[code]

[2018-10-03 16:43] mehrdada commented on #16759
We pass channel args directly to core. The Python layer does not know anything about them. We don't even provide string constants.

[2018-10-03 16:49] ejona86 commented on #16759
It does seem that foo.test.google.fr is the default override for C++, which is broken. The [spec](https://github.com/grpc/grpc/blob/v1.15.0/doc/interop-test-descriptions.md) is clear:

The server host to claim to be connecting to, for use in TLS and HTTP/2 :authority header. If unspecified, the value of --server_host will be used

And "the value of server_host will be used" is really just another

[2018-10-03 17:11] muxi commented on #16723
That is weird. `GRXBufferedPipe` should be able to take `NSData`. Are you using `ProtoRPC`? If you are using that, it expects you to pass a protobuf message rather than `NSData`. That's one possible way I can think of to make the data corrupted.

[2018-10-03 17:38] apolcyn commented on #16741
Does [this example](https://github.com/grpc/grpc/tree/master/examples/cpp/helloworld/cmake_externalproject) help on this end?

[2018-10-03 17:42] apolcyn commented on #16739
Re: `git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc`

Can you please share the specific git commit or release tag that was used here?

[2018-10-03 17:48] bochecha commented on #16732
In Fedora we usually aren't shy about updating things, even in stable release.

We're trying not to break apps though, so if a future gRPC release was incompatible with the previous ones, we might decide not to upgrade any more in released Fedoras. (but obviously we would update in next Fedoras)

In any case, if you're trying not to break API, this is probably going to be just fine. :)

[2018-10-03 18:01] muxi commented on #16668
It sounds like the connection was broken and was in backoff mode, and resumed after the backoff period. You can [turn on the logging](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md) to confirm if that is what happened

[2018-10-03 18:09] mehrdada commented on #16718
related to https://github.com/grpc/grpc/issues/16643

[2018-10-03 21:57] dwanderton commented on #16350
Hi @mehrdada,

Now a new error as below:

[code]

[2018-10-03 23:06] ravil23 opened #16775 "Bazel build for C++ failed on external dependency based on gRPC v1.15.1"
### What version of gRPC and what language are you using?
 gRPC 1.15.1 (C++)

### What operating system (Linux, Windows, …) and version?
 OS X

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel 0.17.2
Apple LLVM version 10.0.0 (clang-1000.10.44.2)
Target: x86_64-apple-darwin17.7.0
Thread model: posix

### What did you do?
If possible, provide a recipe for repr

[2018-10-03 23:47] ravil23 opened #16776 "Bazel linking for C++ failed on external dependency based on gRPC v1.13.1"
### What version of gRPC and what language are you using?
 gRPC 1.13.1 (C++)

### What operating system (Linux, Windows, …) and version?
 OS X

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel 0.17.2
Apple LLVM version 10.0.0 (clang-1000.10.44.2)
Target: x86_64-apple-darwin17.7.0
Thread model: posix

### What did you do?
If possible, provide a recipe for repr

[2018-10-03 23:55] nicolasnoble commented on #16776
That's unfortunate... but I have no idea what's going on there. Our Bazel CI works fine otherwise.

Also, to be fair, I have never seen this error before.

[2018-10-04 03:47] jiangtaoli2016 commented on #16775
@yihuazhang could you please take a look?

[2018-10-04 10:13] jtattermusch commented on #16741
You can only install gRPC if all the dependencies are set to gRPC_*_PROVIDER=package (i.e. they are preinstalled), if you use dependencies from submodules, installation will be disabled automatically (as there is no way to make that work with cmake).

Examples:
https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_cmake.bat
and
https://github.com/grpc/grpc/blob/04b78efb45ad931

[2018-10-04 10:13] #16741 closed

[2018-10-04 10:57] jtattermusch commented on #15610
FTR The test was marked as manual here:
https://github.com/grpc/grpc/pull/15716/files#diff-b081353917051bb7d44e58fd9e95e4fdR230

[2018-10-04 12:07] F483 opened #16779 "Case of filed names not preserved."
I created an isolated example project [here](https://github.com/F483/grpc-inconsistency).

**Source proto**

[code]

**Compiled code:**

[code]

[2018-10-04 13:31] CharlotteDunois commented on #12017
@ZhouyihaiDing Any updates on this?

[2018-10-04 16:02] jiangtaoli2016 commented on #16759
+ @apolcyn @jtattermusch interop folks

@ejona86 Let's decouple of SNI from grpc interop tests. In grpc interops (c++, python, php at least). I have not checked Java/Go interop tests. Interop client will by default use foo.test.google.fr for hostname override and **always** override targetname. There is no way to not override. In other words, if you don't want override, you have to manually set ss

[2018-10-04 16:06] jiangtaoli2016 commented on #16759
by the way, I agree
https://github.com/grpc/grpc/blob/v1.15.0/doc/interop-test-descriptions.md should be updated with regarding to server_host_override.

[2018-10-04 16:34] yihuazhang commented on #16775
@ravil23

The error is caused by nanopb library not being correctly linked into gRPC.

@dgquintas, I noticed you made several nanopb-related changes (e.g., https://github.com/grpc/grpc/pull/15595), and do you have any insights on this?

[2018-10-04 18:33] F483 commented on #16779
I linked the entire test project, the command is listed in package.json, its the same as provided in the example code.

I also noticed that `map<string, string> details = 2; ` compiles to `detailsMap: Array<[string, string]>`.

The whole point of an API is to have clearly defined names to access services. Having the library changing the names you provide is clearly a bug.

I have lots of existing

[2018-10-04 18:52] otana opened #16786 "Get response message for a rpc call that ends in a non-OK status code using c# client."
### What version of gRPC and what language are you using?
python server [v1.9.1](https://github.com/grpc/grpc/tree/v1.9.1)
c++ client [v1.2.5](https://github.com/grpc/grpc/tree/v1.2.5)
c# client [v1.5.0](https://github.com/grpc/grpc/tree/v1.15.0)

### What operating system (Linux, Windows, …) and version?
python server: aws ec2 Ubuntu 16.04.2 LTS
c++ client: Windows 7-10
c# client: Windows 10

###

[2018-10-04 19:13] yashykt commented on #16680
why do you want to do something like this? We explicitly disallow copy and assign for clientcontext

[2018-10-04 19:18] srini100 commented on #16515
This could very well be due to intermittent network connectivity issue. gRPC watches the channel state (default is every 5 secs) and reconnects if the connection breaks. You can try to increase the check frequency by setting `GRPC_CLIENT_CHANNEL_BACKUP_POLL_INTERVAL_MS` to a lower value, say, 100 ms and see if this solves your issue.  More info [here](https://github.com/grpc/grpc/blob/da8c26f302bc

[2018-10-04 19:31] nicolasnoble commented on #16779
I'd like to insist on what @murgatroid99 is saying: this isn't really anything that gRPC has any control on, which is the reason I'm going to close this issue. We just happen to showcase how to use protobuf in our code and examples because it's another Google product, but it's not mandatory, You can in fact send plain json and bypass the whole serialization layer if you wish, or you can use anothe

[2018-10-04 19:31] #16779 closed

[2018-10-04 20:18] nicolasnoble commented on #16749
This report is fishy. In your reproduction case, you're building your example code with tsan, but you're not building gRPC itself with tsan. So you're getting tsan reports from code that's not instrumented with tsan to begin with.

You can build gRPC with tsan by doing `make CONFIG=tsan`.

[2018-10-04 22:39] muxi commented on #16757
@thomasvl - I feel this is something related to the protobuf codegen. Could you comment a bit?

[2018-10-04 22:53] thomasvl commented on #16757
@muxi sorry, I don't know the grpc code, can you point me at something a can look at specifically to understand what this is referring too?

[2018-10-04 23:13] muxi commented on #16757
@thomasvl - Thanks for the prompt response. The code block referred above was not grpc code, but some client code manipulating with the generated ObjC proto message objects. Particularly, it seems they are experiencing issue with `GPBUnrecognizedEnumeratorValue` when putting it in a switch statement in Swift.

[2018-10-05 00:20] plaisted commented on #15139
I'd love to see a native grpc implementation for netcore. With the recent large performance improvements in netcore/sockets a native c# implementation should be able to match Java/Netty unless I'm missing something. Thanks for getting some momentum behind this @mkosieradzki

[2018-10-05 01:17] thomasvl commented on #16757
When you say things were working, what changed?  Is this a result of using the exact same code built changing Xcode versions (and hence Swift tools)?  Even if you are still set to using Swift 4 (and not 4.2), there could be changes on the Swift side of things.  The bridging of enums from ObjC (or even just C) to Swift has always been somewhat fragile since ObjC/C have open enums and Swift doesn't.

[2018-10-05 05:38] CharlotteDunois commented on #12017
I run a bot on a ReactPHP event loop, and I want to integrate calls to different Google APIs (such as Dialogflow) into it. Unfortunately due to the blocking behaviour of grpc this is not possible, as the event loop needs to tick to allow sending heartbeats and react to I/O.

[2018-10-05 06:36] davidfowl commented on #15139
We're adding trailers to our http/2 implementation to make this possible https://github.com/aspnet/KestrelHttpServer/pull/2982

[2018-10-05 07:43] phlippieb commented on #16757
@thomasvl Thanks for checking it out.

- What changed between the working and non-working cases was simply the way the switch statement was written. In the working case, not all switch cases were handled explicitly; instead, some were caught by `default`. In the non-working one, all are handled explicitly. But from a Swift syntax point of view, they are equivalent, because the `default` case only

[2018-10-05 07:45] jtattermusch opened #16790 "several json_run_localhost tests failing on TSAN"
Failing in 100% of builds starting from this build:

https://source.cloud.google.com/results/invocations/bdf696c6-a11f-48d3-9739-82575e55b789/targets/github%2Fgrpc%2Fcpp_linux_tsan_native_x64_clang7.0/log

likely root cause is `security_connector.cc:162:28 in grpc_security_connector_set_interested_parties(grpc_security_connector*, grpc_pollset_set*)`

[code]

tsan data race warning:
[code]

[2018-10-05 07:47] jtattermusch commented on #16790
The first failing builds has this diff:
https://github.com/grpc/grpc/compare/95dc4f1b8dfe30c7b983147690f483e0894687fd...9f332fafbeddc6c377698bd6ef3651c73beb8a16

TSAN complains about data race `security_connector.cc:162:28 in grpc_security_connector_set_interested_parties(grpc_security_connector*, grpc_pollset_set*)`, so I'm 99% sure that the culprit is https://github.com/grpc/grpc/pull/16695

[2018-10-05 08:04] #16533 closed

[2018-10-05 08:04] jtattermusch commented on #16533
this will be in the upcoming v1.16.0 release

[2018-10-05 13:52] thomasvl commented on #16757
Just make two messages that are identical with an enum filed in each (MessageV1, MessageV2), in the second one, add another value to the enum.  Then you can create a message with V2 (using the new values also), and serialize it, and decode it as V1.

[2018-10-05 13:55] haikalpribadi commented on #10646
Just ran into this problem. I realise that this issue has been open for more than a year now. Any plans on fixing it, @grpc team?

[2018-10-05 16:34] ejona86 commented on #16759
That is unacceptable. SNI is necessary for normal operation. It isn't really an "optional" feature in today's web. Users should normally only need to set the "target" string to configure their machine to point at a particular server; forcing them to propagate a second string to properly configure TLS is a usability issue.

To me, the interop tests are part of this discussion since they are suppose

[2018-10-05 16:35] ejona86 commented on #16759
https://github.com/grpc/grpc/blob/v1.15.0/doc/interop-test-descriptions.md should be updated with regarding to server_host_override.

I didn't mention anywhere that the document should be updated. What update do you think is appropriate?

[2018-10-05 16:55] jiangtaoli2016 commented on #16759
In Java interop test TestServiceClient.java, if --server_host_override is not set, it won't use "foo.test.google.fr" as default. We'd better make interop consistent in all languages before update the interop-test-descriptions-md.

[2018-10-05 17:03] ejona86 commented on #16759
Yes, which is what interop-test-descriptions.md says to do... In that case Java does not provide any override, which will compute the string to use for SNI based on the hostname/target string.

I had asked "What update do you think is appropriate?" and I still don't see you mention what change you thought may need to be made.

No. That's the tail wagging the dog. If there are any issues the .md sh

[2018-10-05 17:09] jiangtaoli2016 commented on #16759
PS: PHP have same the behavior as Python and C++ on interop test wrt server_host_override.

I am less concerned about interop test. I want to make sure we are align on SNI on non-testing environment. Let's chat about it.

[2018-10-05 17:37] rnburn commented on #16749
I don't know whether this is a valid race condition or not, but it's common to build like this against an unsanitized version of grpc; lots of users aren't going to want build and install a separate version of grpc for tsan.

If it's a false positive, could you add attributes around the functions so that tsan doesn't complain?

[2018-10-05 18:12] yihuazhang commented on #16790
The problematic PR was reverted, and I think the issue can be closed.

[2018-10-05 18:12] #16790 closed

[2018-10-05 18:40] jiangtaoli2016 commented on #16759
I am not sure what usability you prefer. Could you clarify?

IMO, there are three separate issues
1. In grpc wrapped languages, hostname/authority is automatically plumbed for server name check and port is stripped. Most use case does **not** require SNI. If user wants to connects to 'prod.abc.com', but server only has a certificate on 'test.bcd.com', client can use SNI to configure 'test.bcd.com'

[2018-10-05 19:56] jtattermusch opened #16796 "flaky test: iOS Binary Size Diff"
https://source.cloud.google.com/results/invocations/215ee82f-9f69-4ee2-a135-9f04413e2481/log

Error: `fatal: unable to access 'https://github.com/google/boringssl.git/': Could not resolve host: github.com`

[code]

[2018-10-05 20:02] muxi commented on #16796
Seems like name resolution is not working properly in Kokoro

[2018-10-05 20:06] #14381 closed

[2018-10-06 08:50] mtzfactory opened #16798 "gRPC-C++ time.h fails to complie: fatal error: 'chrono' file not found"
Hi,

I'm building a react-native app that use Firebase (5.9.0), that depends on gRPC-cpp.
When I try to build the project if fails becasue the file __chrono.h__ cannot be found:

[code]

### What version of gRPC and what language are you using?
 Objective-C (iOS)

Using gRPC (1.14.0)
Using gRPC-C++ (0.0.3)
Using gRPC-Core (1.14.0)
Using gRPC-ProtoRPC (1.14.0)
Using gRPC-RxLibrary (1.14.0)

### Wha

[2018-10-06 13:15] nicolasnoble commented on #16798
This file is part of the compiler's suite, so if you don't have it, it means something is wrong with your system.

[2018-10-06 16:00] lucifercr07 opened #16799 "GRPC C++ fails to compile"
### What version of gRPC and what language are you using?
 1.12.1

### What operating system (Linux, Windows, …) and version?
 Ubuntu16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 6.4.0

### What did you do?
Passing C and CXX compiler to MakeFile along with --sysroot flag.
I tried passing C and CXX compiler and --sysroot as:
`make CC=${CMAKE_C_COMPILE

[2018-10-06 17:55] tonicsoft commented on #16680
A new client context must be created for every call. If any customisation
is required (for example, setting a timeout) the creation code becomes
duplicated in many places and should be factored out to a factory method.

I understand why copy is disallowed, however, I see no reason it shouldn't
be moved to facilitate it to be returned from said factory method.

On Thu, 4 Oct 2018, 22:14 Yash Tibrew

[2018-10-07 02:45] Croydon commented on #11068
@nicolasnoble Friendly ping 😄

Since this doesn't seem to be complex, could this please be moved forward?

[2018-10-07 18:32] wilhuff commented on #16798
The issue here is that with Xcode's header map enabled, gRPC's time.h is found when sources do a `#include <time.h>`. In this case the translation unit is Objective-C, not C++, so the standard C++ headers aren't available and the build fails.

[2018-10-08 03:30] wangyun commented on #16439
any fix?

[2018-10-08 04:16] xyhGit opened #16802 "Fail to create multiple tcp connections by create multiple channels."
### What version of gRPC and what language are you using?
 gRPC 1.13.1/C++

### What operating system (Linux, Windows, …) and version?
 CentOS Linux release 7.2.1511

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 4.8.5 20150623

### What did you do?
We want to increase the throughput of RPC calls by increasing the number of channels, so we construct

[2018-10-08 06:50] lucifercr07 commented on #16799
Was able to have a workaround by removing `-Werror` from MakeFile line 330

[2018-10-08 06:50] #16799 closed

[2018-10-08 07:02] lucifercr07 opened #16804 "Grpc C++ compile fails to pass sysroot flag to protobuf config"
### What version of gRPC and what language are you using?
 1.12, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 6.4.0

### What did you do?
make CC=${CMAKE_C_COMPILER} CXX=${CMAKE_CXX_COMPILER} CFLAGS='--sysroot=${CMAKE_SYSROOT}' CXXFLAGS='--sysroot=${CMAKE_SYSROOT}'

cc1: error:

[2018-10-08 07:37] ikishchenko commented on #16771
@mehrdada, @ghostwriternr any progress?

[2018-10-08 08:05] ghostwriternr commented on #16771
Hey @ikishchenko,

This issue doesn't seem to be Bazel or gRPC related. I couldn't reproduce this issue myself, but searching around for this error hints that this might be showing up due to a misformatted/corrupt Python egg that might be existing on your machine. Did you have any luck trying to uninstall and reinstall 'httplib2' (which seems to be the source of the error here)? [There is a SO thr

[2018-10-08 15:00] plaisted commented on #15139
Awesome, looks like it should be pretty straightforward to get grpc into Kestrel after 2.2.

I starting looking at System.Net.Http for a gRPC client implementation over the weekend. Unfortunately their http2 implementation is quite far behind Kestrel, request bodies aren't even planned to be supported until netcore 3.0. The http2 is also built to work through HttpClient which doesn't appear to hav

[2018-10-08 15:13] davidfowl commented on #15139
cc @geoffkizer

[2018-10-08 15:17] jtattermusch commented on #15139
Hi everyone, please share links to prototypes here, being able to see each other's code is super important for speeding up the progress, especially in this early phase.

[2018-10-08 15:47] waseemabd commented on #15507
i have the same problem,
i try     npm install firebase --force
and the problem solved

[2018-10-08 15:55] nicolasnoble commented on #15507
The node-pre-gyp issue was fixed a while ago, and everything has been published with the fix in. Closing this one.

[2018-10-08 15:55] #15507 closed

[2018-10-08 18:58] guantaol opened #16808 "cloud_to_cloud:dart:dart_server failed with "OS Error: Connection refused""
https://source.cloud.google.com/results/invocations/4d8e9cae-5f3d-47fd-b47a-2bdefb11d21a/log

[code]

[2018-10-08 20:27] lihalite commented on #16612
This now has an GRFC: https://github.com/grpc/proposal/pull/101

[2018-10-09 12:08] arturgontijo opened #16815 ".proto to .json"
### What version of gRPC and what language are you using?
 1.14.2 (Python)

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 3.6.5

### What did you do?
I'm trying to "parse" the .proto and generate a .json.

### What did you expect to see?
 Something like pbjs does (but in Python).

[2018-10-09 13:18] wangyun commented on #16439
I found the reason, I should build and install grpc first. it's not install by default.

[2018-10-09 15:25] jtattermusch opened #16817 "objc tests broken on master"
Failing 100% of builds

Examples:
https://source.cloud.google.com/results/invocations/663383c3-983d-4dbb-8464-f2dfbc89f54e/targets
https://source.cloud.google.com/results/invocations/9f639d6d-e9e5-471a-a3ed-03b597100800/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/3d28384f-c0ae-4d8c-b7be-fe50843b5058/targets/github%2Fgrpc%2Fobjc_macos_dbg_

[2018-10-09 15:32] jtattermusch opened #16818 "many cloud to prod interop tests failing on master"
Failing in 100% of cases, first failing build is:
https://source.cloud.google.com/results/invocations/2e1317a7-74b2-4362-a8f2-5b6a2ecb16e2/targets/github%2Fgrpc/tests

Log snippets from failures:
[code]

[code]

[code]

[2018-10-09 15:34] jtattermusch commented on #16818
CC @nicolasnoble  @billfeng327

looks like grpc_interop_matrix is failing too, likely due to the same problem
https://source.cloud.google.com/results/invocations/14084483-8e23-49d9-8e80-86a7c13a0012/targets/github%2Fgrpc/tests

[2018-10-09 15:35] jtattermusch commented on #16818
@yang-g , can you take a look? Perhaps something wrong with the prod backend?

[2018-10-09 15:37] jtattermusch commented on #16817
This might actually be related to https://github.com/grpc/grpc/issues/16818 - IIRC the objc test are using the prod backend for interop tests to perform testing (that itself is less than ideal and should be fixed, but it is what it is).

[2018-10-09 15:38] jtattermusch commented on #16818
CC @srini100

[2018-10-09 15:41] yang-g commented on #16818
The backends seem fine. Note a lot of tests actually pass talking to the same backends.

Some of the failing tests complain about a payload type, maybe it is something out of sync.

[2018-10-09 16:03] yang-g commented on #16818
Nothing is obvious when checking the code on both sides.

[2018-10-09 18:32] mehrdada commented on #16815
I am not aware of a tool off the top of my head, but I recommend filing an issue on the google/protobuf issue tracker, as it is going to be more appropriately addressed there.

[2018-10-09 18:32] #16815 closed

[2018-10-09 22:01] muxi commented on #16818
I investigated a bit into the ObjC interop failure (#16817) and the reason for that was the [response payload](https://github.com/grpc/grpc/blob/master/src/proto/grpc/testing/messages.proto#L39) is corrupted. It is getting bytes `0a0e0801 120a0000 00000000 00000000`, which caused proto parsing to fail. I wonder if there is a recent change in the proto being used by the interop test server that cau

[2018-10-09 22:39] kerrick-lyft opened #16820 "grpc_cli crashes when no process is listening on the target port"
### What version of gRPC and what language are you using?
Latest master (520a4a297d76b6ab71d2b1724c30e57ccb7b5c2d), language independent.

### What operating system (Linux, Windows, …) and version?
Ubuntu 16.04.

    $ uname -a
    Linux kerrick-dev 4.4.0-134-generic #160-Ubuntu SMP Wed Aug 15 14:58:00 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python

[2018-10-09 23:49] muxi commented on #16817
Confirmed it's a duplicate of #16818 and the root cause is found. Closing.

[2018-10-09 23:49] #16817 closed

[2018-10-09 23:52] yang-g commented on #16818
So muxi and I found out someone accidentally pushed a custom built backend server with uncompatible proto, which likely caused the problem here.

He is trying to do a clean up and I think latest around 9pm today the change should be propagated and the test should start passing again.

[2018-10-10 02:33] sibinlu opened #16821 "error `framework not found openssl` after update to GRPC 1.15.1 & BoringSSL 0.0.2"
### What version of gRPC and what language are you using?
 Objective-C Swift3
GRPC 1.15.1
BoringSSL 0.0.2

### What operating system (Linux, Windows, …) and version?
 Xcode 10.0

### What did you do?
I use cocoapod to install a sdk (TokenSdk) which depends on GRPC. everything is all right before 1.15.1 release. After GRPC update to 1.15.1, an error
 `ld: framework not found openssl`
will be throw

[2018-10-10 03:23] xurun2018 opened #16822 "python2 cannnot worked , error is 'No handlers could be found for logger "grpc._common"'"
### What version of gRPC and what language are you using?
language: python2.7.15
grpcio                          1.15.0
grpcio-tools                    1.15.0

### What operating system (Linux, Windows, …) and version?
 Win10

### What runtime / compiler are you using (e.g. python version or version of gcc)

`python -m grpc_tools.protoc -I. --python_out=. --grpc_python_out=. ./earth/proto/earth.pr

[2018-10-10 04:35] xurun2018 commented on #16822
My python3 installed grpcio==1.15.0 and grpcio-tools==1.15.0 . Why p2 compile the proto cannot worked, the p3 successfully interpret the file which p2 complied?

[2018-10-10 06:12] mtzfactory commented on #16798
Hi,

Thanks for your comments, is there any solution? do you know how can I specify to Xcode that gRPC's should be compiled with C++?

[2018-10-10 06:21] wilhuff commented on #16798
The problem isn't that gRPC is being mis-compiled. The problem is that react-native's `RCTConvert+UIBackgroundFetchResult.m` (and Objective-C file) is finding gRPC's time.h when it should be finding the system time.h.

A work-around for the moment would be to disable the header map in your project (as I mentioned in the other issue you filed).

[2018-10-10 14:47] dwanderton commented on #16350
Just built the google sentiment example from github. Run into the same exact issues as detailed above, and from applying the fix you suggested.

https://github.com/GoogleCloudPlatform/python-docs-samples.git

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/language/sentiment

[2018-10-10 16:13] yang-g commented on #16818
The backend seems to be killed as usual but not restarted somehow.

[2018-10-10 16:16] yang-g commented on #16818
Re-assigning to @billfeng327 as I am no longer in the group of controling the backend.

[2018-10-10 17:28] petard commented on #16821
I have the same issue

[2018-10-10 17:36] muxi commented on #16723
@mohanbright - Any follow up?

[2018-10-10 17:51] muxi commented on #16821
@sibinlu @petard - what are the names of the pods that you are using? The reason was likely those pods you used were using BoringSSL that gRPC depended on, but they did not explicitly specify the dependency in their podspec. We recently renamed the BoringSSL lib to avoid conflict with other openssl libraries, which can cause issue in this case.

[2018-10-10 19:02] petard commented on #16821
From my pod file:
[code]
and the `googleapis` is defined in this [podspec for GCP](https://raw.githubusercontent.com/GoogleCloudPlatform/ios-docs-samples/master/speech/Swift/Speech-gRPC-Streaming/googleapis.podspec)

Locking the pod `pod 'BoringSSL-GRPC', '0.0.1'` works for me too.

[2018-10-10 20:54] muxi commented on #16821
@petard - thanks. And can you tell us which line did you fail on? I tried building `googleapis`; it seems building ok on my side.

[2018-10-10 20:59] sibinlu commented on #16821
@muxi Im using this sdk. https://github.com/tokenio/sdk-objc
I tried to add `ss.dependency "BoringSSL-GRPC"` explicitly in sdk's Podspec but it don't work.
Building will not throw the error. Only archiving with xcode will have this issue.

[2018-10-10 21:05] muxi commented on #16821
@sibinlu - Sorry I actually meant archiving was ok on my side. Let me try your sdk.

[2018-10-10 22:02] muxi commented on #16821
@sibinlu - I also passed archiving tokensdk. I wonder if you have any `#include <openssl/...>` header in your project?

[2018-10-10 23:02] srini100 commented on #16822
Can you share your proto file?

[2018-10-10 23:41] ejona86 commented on #16759
SNI != testing. In fact, our usage is the only time I've seen SNI necessary for testing. The _client_ generally doesn't know if it needs to use SNI. Also, it may not need to use SNI today, but needs to use SNI tomorrow as the _server_ infrastructure changes. It is wrong to require the client to do additional configuration to enable SNI.

I'd agree that "most service _deployments_" do not require S

[2018-10-11 00:08] edigaryev commented on #11195
Works for me when rebuilding gRPC package on Ubuntu 18.04 (bionic).

[2018-10-11 01:38] gcarling commented on #15017
I'm having this issue only when I try to connect to a remote server. If I run a server locally and connect via localhost it works fine. However, if I ngrok my local port and try to connect to that, it doesn't work. Same if I deploy the server - I get this error 14 unavailable. My guess is its caused by the extra handshake TCP goes through since it's no longer on loopback.

[2018-10-11 07:19] xurun2018 commented on #16822
earth_pb2.py

`# Generated by the protocol buffer compiler.  DO NOT EDIT!
# source: earth/proto/earth.proto

import sys
_b=sys.version_info[0]<3 and (lambda x:x) or (lambda x:x.encode('latin1'))
from google.protobuf.internal import enum_type_wrapper
from google.protobuf import descriptor as _descriptor
from google.protobuf import message as _message
from google.protobuf import reflection as _refle

[2018-10-11 16:32] jtattermusch commented on #15139
My Update:
I spent some time prototyping, mostly to get more familiar with ASP.NET core APIs and code.
- I created a prototype that attempts to map ASP.NET core request handlers to gRPC code-generated server-side stubs. If that's successful, one would be able to take an existing gRPC service implementation in C# and use the same code on ASP.NET core server.  (currently I have a very rough attempt

[2018-10-11 16:53] davidfowl commented on #15139
SWEET 😄 this is great progress, I'll take a look!

[2018-10-11 18:48] mehrdada commented on #14970
We have heard in person reports that some users would appreciate smaller wheel sizes, so we should consider stripping the production binaries.

[2018-10-11 19:01] sibinlu commented on #16821
Hey @muxi , we don't have any `#include <openssl/...>` header in my project.

The good news is that you remind me to check the xcode project file and I find that there is a setting `-framework openssl` in **Other Linker Flag**. After I update them to openssl_grpc, the archiving works.

My theory is that if you have worked with earlier version boringSSL, your project will explicitly have the openss

[2018-10-11 19:11] muxi commented on #16821
That makes sense. Thanks for the idea @sibinlu. By `update them to openssl_grpc`, did you do it manually in Xcode or did you regenerate using Cocoapods?

[2018-10-11 19:14] sibinlu commented on #16821
I did it manually.

[2018-10-11 19:50] fbernaly opened #16839 "Unity C#: Xcode reports libgrpc_csharp_ext.a does not contain bitcode"
### What version of gRPC and what language are you using?
I am using the experimental plugin for Unity  in C#. I followed the instruction [here](https://github.com/grpc/grpc/tree/master/src/csharp/experimental)

After exporting my Unity project to Xcode and compiling the exported project I am getting this error:

`
/../Libraries/Plugins/Grpc.Core/runtimes/ios/libgrpc_csharp_ext.a(grpc_csharp_ext.o

[2018-10-11 20:16] petard commented on #16821
@sibinlu Awesome, changing the framework name `openssl_grpc` fixed it for me too. Great find!

[2018-10-11 23:03] zpencer opened #16845 "binlog filter should be open sourced"
There's not any technical reason why the filter can not be used in OSS.

For context: https://github.com/grpc/proposal/blob/master/A16-binary-logging.md

[2018-10-11 23:35] lidizheng commented on #16350
Hi @dwanderton,
I tried on Linux, macOS, Docker, gRPC 1.14.2/1.15 and various Python 2.7 subversions. I failed to reproduce the error you mentioned.

Can you give more detail about the environment for reproducing? Like package versions, OS, even the method of authentication for Google Cloud.

[2018-10-11 23:53] apolcyn opened #16846 "SEGV in Node async_test.js"
[code]

Noticed on linux and mac tests, on unrelated PR: https://github.com/grpc/grpc/pull/16841

https://source.cloud.google.com/results/invocations/032edbf1-8fc5-493c-8efd-1f1fb8558963/targets/github%2Fgrpc%2Fgrpc-node_macos_opt_native/tests

https://source.cloud.google.com/results/invocations/c71ab6d7-c206-43df-9673-85eb7ac62714/targets

https://source.cloud.google.com/results/invocations/90a4a

[2018-10-12 06:13] mlda065 commented on #16739
I'm getting the same issue with tag `v1.3.2`.

I did

[code]

As per [these instructions](https://github.com/p4lang/PI).

[2018-10-12 06:40] Troncek opened #16847 "Backoff settings in C# missing?"
Are settings for grpc.min_reconnect_backoff_ms, grpc.max_reconnect_backoff_ms and grpc.initial_reconnect_backoff_ms missing in C# gRPC code base or am I just not finding them?

I would like to change the default settings (way too long max backoff) without having to calculate the deadline myself and set it via CallOptions for each call I make.

Is it possible?

[2018-10-12 06:54] Troncek commented on #16847
Never mind. You can just create a ChannelOption with the setting needed from grpc_types.h.

[code]

[2018-10-12 06:54] #16847 closed

[2018-10-12 08:58] bassofil commented on #15653
According to https://bugs.chromium.org/p/chromium/issues/detail?id=770771#c7 the issue here seems to be that class `grpc::Service` does not explicitly delete the copy constructor.

[2018-10-12 09:06] bassofil commented on #15653
@sreecha I think it is better to reopen the issue, that should be simply solved by adding
[code]
to `::grpc::Service` class.
According to https://stackoverflow.com/questions/33376021/deleted-constructor-inheritance nothing should be added to inheriting auto-generated classes.

[2018-10-12 09:17] jtattermusch opened #16849 "missing bazel BUILD file: test/core/debug/stats_test.cc"
https://github.com/grpc/grpc/blob/8ae3285323e126938bf46401ad09b9a17d3f1852/build.yaml#L5433

no BUILD file here:
https://github.com/grpc/grpc/tree/master/test/core/debug

[2018-10-12 10:22] jtattermusch opened #16850 "bm_* tests are not being run on bazel/foundry"
The `bm_*` tests  are running on kokoro but they are not being run on foundry.

List of test cases being run on kokoro:
https://source.cloud.google.com/results/invocations/e2ed4007-17f2-471c-8bd7-eb4b06d7b94c/targets/github%2Fgrpc%2Fcpp_linux_dbg_native/tests;query=bm_
[code]

The BUILD file with cc_binary files exists, but we are still not running those on Foundry (there's probably a set of rules

[2018-10-12 12:15] jtattermusch opened #16852 "missing bazel BUILD file: test/core/memory_usage/memory_usage_test.cc"
https://github.com/grpc/grpc/blob/8ae3285323e126938bf46401ad09b9a17d3f1852/build.yaml#L3125

but no BUILD file here:
https://github.com/grpc/grpc/tree/bb44ca2c21a18fa48223228c73fa208e13eac44f/test/core/memory_usage

[2018-10-12 12:36] jtattermusch opened #16853 ""interop_test" C++ test not being run on bazel/foundry"
Defined here: https://github.com/grpc/grpc/blob/8ae3285323e126938bf46401ad09b9a17d3f1852/build.yaml#L4940

While being run on kokoro here:
https://source.cloud.google.com/results/invocations/e2ed4007-17f2-471c-8bd7-eb4b06d7b94c/targets/github%2Fgrpc%2Fcpp_linux_dbg_native/tests;query=interop_test

there is no definition for that test in BUILD file:
https://github.com/grpc/grpc/blob/bb44ca2c21a18fa

[2018-10-12 12:36] jtattermusch commented on #16853
CC @billfeng327

[2018-10-12 14:13] nathan-prat opened #16855 "[grcp++] using non-blocking AuthMetadataProcessor is still starting a thread pool"
### What version of gRPC and what language are you using?
1.15.0

### What operating system (Linux, Windows, …) and version?
Linux, Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 c++

###

I'm using a custom AuthMetadataProcessor.
When I it set as non-blocking(by overriding IsBlocking and returning false), AuthMetadataProcessorAyncWrapper is still

[2018-10-12 14:30] sagamusix opened #16856 "install step fails with `gRPC_BUILD_CODEGEN=OFF`"
When `gRPC_BUILD_CODEGEN=OFF` , gRPC still tries to install some targets that are not built, for example grpc++_error_details, grpcc_reflection and grpcpp_channelz.

The respective blocks in CMakeLists.txt should probably start with `if (gRPC_INSTALL AND gRPC_BUILD_CODEGEN)` rather than just `if (gRPC_INSTALL)`.

[2018-10-12 17:16] mhaidrygoog opened #16861 "Seeing continuous failures in grpc Multilang and Mac OS Basic tests"
Continuous failures in MacOS (Opt, Debug) tests and Multilang tests.

Failures observed since 10 Oct

Error log :
[code]

[2018-10-12 17:30] mhaidrygoog commented on #16861
Error logs where the issue first occured -
https://source.cloud.google.com/results/invocations/44e43e3a-1000-499d-8a55-05aacb8c20b7/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_opt/log

https://source.cloud.google.com/results/invocations/467171c1-96b4-4a0d-86b4-6afa81e03ff8/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_basictests_dbg/log

https://source.cloud.google.com/results/invocations

[2018-10-12 18:53] fbernaly commented on #16839
@jtattermusch could you enabled bitcode for `libgrpc_csharp_ext.a` for iOS?

[2018-10-12 20:55] jk78346 opened #16865 "How to assign address for add_insecure_port() and insecure_channel() for python example"
I'm a beginer of grpc.
I had tried python/helloworld example with server and client both on local host, works fine.
Now I have two machines. In my setting, I have my PC and server connected via TCP protocol.
Not sure what the address should be given.
I try:

    with grpc.insecure_channel('192.168.5.20:50051') as channel: #client side

and

    server.add_insecure_port('[::]:50051') #server side

[2018-10-12 21:21] nicolasnoble commented on #16865
If you're getting something like "permission denied", that's not necessarily something within gRPC's source code. But if you were to share the exact error code or message you're getting, that'd be much more useful, since with this current report, we can't really tell what's going on.

[2018-10-12 21:28] jk78346 commented on #16865
After checking the IP address, I find out I misunderstand the IPs of each side. I simply place the clent's address on it's own side, not the server IP address. Here is something I originally not understand about TCP. So should not be an issue related to gprc. fixed it, thanks.

[2018-10-12 21:32] #16865 closed

[2018-10-12 23:12] mehrdada opened #16870 "Make --compiler=python3.7 available for run_tests.py"
`run_tests.py` currently does not support the latest Python 3 (3.7)

[2018-10-13 00:57] coryan opened #16872 "GCE detection on windows crashes with multiple processes."
### What version of gRPC and what language are you using?

1.14.1 with C++, but the problem is present on `master`

### What operating system (Linux, Windows, …) and version?

 Windows.

### What runtime / compiler are you using (e.g. python version or version of gcc)

MSVC 2017.

### What did you do?

This is hard to reproduce. You need to run two (or more) gRPC clients more or less at the same t

[2018-10-14 01:31] h4x3rotab commented on #9987
@iZhangZheng You saved my day!

[2018-10-14 01:48] bharatbiswal commented on #16798
@wilhuff I disabled the "Use Header Maps", still i am getting the error.
I am using Xcode: 9.4.1
react-native-cli: 2.0.1
react-native: 0.57.1

![screen shot 2018-10-14 at 7 11 01 am](https://user-images.githubusercontent.com/1182376/46911691-4464fd00-cf81-11e8-9d3a-d0ff9dada43e.png)

[2018-10-14 20:15] nathanielmanistaatgoogle commented on #16350
@dwanderton: are you still talking about a problem related to logging? If not, perhaps conversation on this new topic should take place in a new issue?

[2018-10-14 20:16] dwanderton commented on #16350
Switched to Watson from Google Cloud, more $$ less pain it seems...

but fyi, @lidizheng I was using virtualenv on mac OS 10.13.6 and authenticating to google cloud using the environment var credential json as in the google cloud tutorial.

[2018-10-14 20:18] dwanderton commented on #16350
@nathanielmanistaatgoogle sure I think I'm off this thread for now, thanks for everyones effort. I believe the issue is the same, the proposed resolution spawned a new issue for me as I detailed above.

As for now I think practically I need to find a solution by switching api. thanks again to all.

[2018-10-14 23:35] var-const opened #16875 "C++: assertion failure when destroying a `ByteBuffer` after `CompletionQueue`"
### What version of gRPC and what language are you using?

 1.14.2, C++.

### What operating system (Linux, Windows, …) and version?

Running iPhone 8 emulator from MacOS 10.13.6.

### What runtime / compiler are you using (e.g. python version or version of gcc)

XCode Version 9.4.1

### Additional details

In the configuration I am running, pthreads are used (the implementation of `gpr_tls_set` i

[2018-10-15 03:05] michihenning opened #16876 "Assertion failure with C++ in perform_stream_op_locked"
Opening this bug report after discussion on the grpc.io group:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/grpc-io/y4xE4C18c2c/Kjc2fXKyBQAJ

grpc compiled from source, latest commit: d8020cb6daa87f1a3bb3b0c299bc081c4a3de1e8
Ubuntu 16.04 with gcc 7.3.0, with --std=c++17 -g

Stack trace for crash: https://www.dropbox.com/s/n2494rjnhj0hq56/stack-trace.txt?dl=0

Tsan outp

[2018-10-15 03:31] var-const opened #16877 "C++: Asan reports "heap use after free" when a `ClientAsyncReaderWriter` is destroyed after `ClientContext`"
### What version of gRPC and what language are you using?

 1.14.2, C++.

### What operating system (Linux, Windows, …) and version?

Running iPhone 8 emulator from MacOS 10.13.6.

### What runtime / compiler are you using (e.g. python version or version of gcc)

XCode Version 9.4.1

### Summary

(using `GenericClientAsyncReaderWriter` for the sake of demonstration, but it's likely that any of the

[2018-10-15 05:50] kkboy1 opened #16878 "unable to make gprc -> error: ‘INT64_MAX’ was not declared in this scope"
### What version of gRPC and what language are you using?

 Release v1.15.1
### What operating system (Linux, Windows, …) and version?
 Linux Debian 7.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc (Debian 4.7.2-5) 4.7.2

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

[2018-10-15 06:12] jtattermusch commented on #16846
This is failing 100% of macos tests on master.

[code]

https://source.cloud.google.com/results/invocations/168867fb-2050-4976-b432-a1cdde789c0c/log
https://source.cloud.google.com/results/invocations/7ae5a45e-244a-4716-9845-9f04fb335ef8/log
https://source.cloud.google.com/results/invocations/14cd7ae5-2e5c-46bf-95f4-4be97cacdfa0/log

[2018-10-15 10:19] jtattermusch opened #16879 "macos interop_to_prod tests failing on master"
Failing on all build starting from
https://source.cloud.google.com/results/invocations/f393279c-9735-4c50-89dd-bcef1757a4fc/targets/github%2Fgrpc/tests

[code]

This started with merging https://github.com/grpc/grpc/pull/16841 - looks like the interop client is trying to grab the compute engine credentials (by reaching out to the GCE metadata server), which makes no sense on macos workers as they

[2018-10-15 11:17] jtattermusch opened #16881 ""*_nosec" end2end tests are not being run on foundry"
List of missing tests in the foundry runs
[code]

while on kokoro there are these tests:
https://source.cloud.google.com/results/invocations/a86610dc-f214-499d-aa5d-7e7e2aa3bdb3/targets/github%2Fgrpc%2Fc_linux_dbg_native/tests;query=_nosec

Likely root cause is that https://github.com/grpc/grpc/blob/d0cb61eada9d270b9043ec866b55c88617d362be/test/core/end2end/generate_tests.bzl   is missing a group

[2018-10-15 11:18] jtattermusch commented on #16881
@billfeng327 as you have experience with the generated bazel tests, can you please take a look and fix?

[2018-10-15 12:53] jtattermusch commented on #16850
@ncteisen sg, please add a bazel rule for those tests then.

[2018-10-15 13:07] jtattermusch commented on #16818
grpc_interop_tocloud and grpc_interop_toprod test seem fixed.

[2018-10-15 13:07] #16818 closed

[2018-10-15 13:41] ncteisen commented on #16850
Just changed the binary rules to test rules. Except for trickle, we don't want that one running as a unit test because it takes too long, and has its own dedicated job

[2018-10-15 13:41] ncteisen commented on #16850
#16882

[2018-10-15 17:07] mehrdada commented on #16549
@lidizheng fixed this in #16864. @JackOfMostTrades Can you try tomorrow's nightlies and let us know if the issue is satisfactorily addressed? I'm closing this issue now, but feel free to ping with feedback.

[2018-10-15 17:07] #16549 closed

[2018-10-15 19:58] ncteisen opened #16890 "Windows Python Gevent ChannelTest Times out with Channelz"
Investigate slowdown for windows python gevent with concurrent channel creation.

Noticed for #16819

[2018-10-15 20:41] murgatroid99 commented on #16846
I have been able to reproduce this crash on my dev machine. It only happens on Node 10.12. So far I don't know what the cause is.

[2018-10-15 21:20] vivek-avi opened #16891 "Support steady_clock for deadlines in grpc C++ client library"
### What version of gRPC and what language are you using?
1.14.1
C++ Client
Go server

### What operating system (Linux, Windows, …) and version?
Linux Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4

### What did you do?
Using grpc Unary RPC from C++ client to Go server running on a different VM with deadlin

[2018-10-15 21:45] yang-g commented on #16891
Not saying this should not be supported, but it should be pretty easy to add a `grpc::TimePoint` specialization for `steady_clock` in the application code to make it work.

[2018-10-15 22:39] murgatroid99 commented on #16846
Update: the function that is segfaulting is `v8::Value::IsNativeError()`. The segfault happens whether or not the value is an error. Because this only happens one one specific version of Node, I believe this is a bug in Node itself. I will keep investigating.

[2018-10-16 02:37] #16870 closed

[2018-10-16 04:01] lidizheng opened #16894 "Improve gRPC Python Documentation Generator"
A better gRPC documentation generator is needed, or we can improve the existing one.
Requirements:
* Only documenting public method and necessary method (eg. construction)
* Remove the documentation of deprecated interfaces (eg. Beta API)
* (Possibly) Improve the UX of the documentation website
* (Possibly) Adding gRPC Reflection / gRPC Health Check

[2018-10-16 06:11] AtosNicoS opened #16895 "c# cancellationToken ignored on a simple call"
### What version of gRPC and what language are you using?
 1.15.0

### What operating system (Linux, Windows, …) and version?
 Windows 10 (Server)
Android (Xamarin Forms) (Client)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 2017

### What did you do?
I try to cancel a simple rpc call from the client side, when the server disconnected/is unavail

[2018-10-16 06:55] jtattermusch commented on #16861
Dupe of https://github.com/grpc/grpc/issues/16846

[2018-10-16 06:55] #16861 closed

[2018-10-16 07:12] mehrdada commented on #16894
Related: https://github.com/grpc/grpc/issues/13340 https://github.com/grpc/grpc/issues/14829

[2018-10-16 08:47] jtattermusch commented on #16464
@mfrischknecht   unfortunately I don't have conclusive results - one way to limit buffer usage (if that's the culprit) would be to use resource_quota  object, but that's currently not exposed in the C# API
(https://github.com/grpc/grpc/blob/f7f7a04501f77f63ebffbee35f1b879bfd90792d/include/grpc/grpc.h#L464)

[2018-10-16 09:00] jtattermusch opened #16896 "Bazel TSAN failing: race in client_channel"
Seeing elevated flakiness rate in last 5 builds:
Examples:
https://source.cloud.google.com/results/invocations/b60e2847-ee02-40fc-80c4-94274a83077f/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_lb_end2end_test@poller%3Dpoll-cv/log
https://source.cloud.google.com/results/invocations/f941831a-a8e2-4109-ad49-0f942d54be77/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_lb_end2end_test@poller%3Depollex/log
https

[2018-10-16 09:02] jtattermusch commented on #16896
I wasn't able to map the failure to any recently merged PR.
@mhaidrygoog   can you take a look?

[2018-10-16 09:20] jtattermusch opened #16897 ""node_purejs_*" benchmark scenarios are broken"
To make it easier to debug perf worker problems and to run ad-hoc jobs I've setup a benchmark job that only runs on a single VM (as opposed to the regular multi-VM scenario).
https://fusion.corp.google.com/projectanalysis/current/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_e2e_performance_singlevm

It seems that the node_purejs_to_node scenarios are consistently broken and because this job u

[2018-10-16 16:49] murgatroid99 commented on #16897
Those messages are just informational. And besides, if the server weren't working, then the node_to_node tests wouldn't be working either.

[2018-10-16 17:17] muxi commented on #16798
The problem is interesting since grpc c++ podspec specifically [disabled](https://github.com/grpc/grpc/blob/master/gRPC-C%2B%2B.podspec#L64) header map. I tried with a simple project that does `#include <time.h>` and I did not experience the compiler errors as you. I wonder if any special configuration in your project is triggering this problem.

@bharatbiswal would you be able to provide a minimu

[2018-10-16 17:22] muxi commented on #16798
And my guess is that we likely can identify what the root cause is during the process of constructing a minimum reproduction.

[2018-10-16 18:26] yashykt opened #16899 "Corrupt Memory Bug in qps_json_driver"
Issue is reproduced in #16889

[2018-10-16 18:29] yashykt commented on #16899
I tried messing around with this. It seems like either the memory is not getting initialized or it's getting corrupted

[2018-10-16 20:30] lidizheng opened #16900 "Fix Python3.6/3.7 Docker Environment Testing Initialization Failure"
Related Issues: #13978 #16870
Related PR: #16893

If the testing environment have both Python2 and Python 3.6/3.7, then the `run_tests.py` can go through without problems. Since @mehrdada mentioned in this [comment](https://github.com/grpc/grpc/pull/16893#issuecomment-430081837), I start to look into the Docker Environment Testing. After hours of investigating, I found things is not that straightf

[2018-10-17 01:50] vw-insti commented on #7658
I am looking for the same too.

[2018-10-17 01:52] vw-insti commented on #7658
Basically how to read the asynch stream reply(multiple messages on a single request but asynch) on client side using the completion queue.

[2018-10-17 04:14] #16846 closed

[2018-10-17 06:03] mehrdada commented on #15616
Not seen in a while. Closing

[2018-10-17 06:03] #15616 closed

[2018-10-17 06:04] mehrdada commented on #14829
Closing in favor of #16894.

[2018-10-17 06:04] #14829 closed

[2018-10-17 06:33] jtattermusch commented on #16839
@fbernaly  please note that pull requests with contributions are always welcome.

[2018-10-17 07:04] SteveDunn commented on #7945
Are we any closer to getting this for C#?

[2018-10-17 11:10] vgarciavazquez opened #16909 "Unity: HoloLens and gRPC C#: "System.AppDomain" doesn't exist in target framework"
I was trying to develop an application in HoloLens using Unity but it does not work. I followed the steps detailed in https://github.com/grpc/grpc/tree/master/src/csharp/experimental to use gRPC in Unity (grpc_unity_package.1.17.0-dev.zip). The application works in Unity Editor (version 2018.2.8f1). However, when I build the application in Unity to generate the Visual Studio Solution for HoloLens

[2018-10-17 11:51] vgarciavazquez commented on #16909
In Unity, the SDK for the Universal Windows Platform selected was 10.0.16299.0

[2018-10-17 12:35] arnaud-lb commented on #12017
Same here, we are using ReactPHP extensively, mainly to consume HTTP APIs. We need to consume some gRPC services as well, which led us to the need to call gRPC services asynchronously.

We have been using [these changes](https://github.com/arnaud-lb/grpc/pull/1/files) successfully in produce for more than a year, without major issues.

[2018-10-17 13:09] arnaud-lb commented on #12017
@ZhouyihaiDing thanks for your comments, I replied.

[2018-10-17 16:55] #16723 closed

[2018-10-17 19:06] res-z commented on #15507
Still get the error when trying to install

[2018-10-17 21:56] bhagatyj commented on #16329
How does the server code implemented for this example ? Would be helpful if an example of that is posted as well.

[2018-10-17 23:18] nicolasnoble commented on #15507
Please stop bumping an old, resolved bug, and open new ones instead, with the full description of your issues so we can try helping your specific case.

[2018-10-17 23:28] bakkiraju opened #16918 "grpc cross compile process to get static lib has issues for QNX OS"
### What version of gRPC and what language are you using?
Latest top of the tree , c++

### What operating system (Linux, Windows, …) and version?
 Ubuntu Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 qcc

### What did you do?
Figured out from documentation and discussions here that cmake was the best option for cross compiling and created the file qnx_t

[2018-10-17 23:43] jeffreybrowning commented on #13873
v1.15.0 solves this -- updating this ticket to save other three or four clicks

[2018-10-18 00:06] rosun82 opened #16920 "Python grpc server.start() do not complain about port already in use"
### What version of gRPC and what language are you using?

1.8

### What operating system (Linux, Windows, …) and version?

Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

When a port is already in use, server.start(

[2018-10-18 01:46] michihenning commented on #16876
I'm also seeing failures where the grpc runtime live-locks. My client writer thread gets stuck in a Write(), and no more messages flow. While in this state, some thread that's internal to grpc ends up spinning and consumes 100% CPU.

[2018-10-18 09:15] jtattermusch opened #16922 "Error pulling docker image while testing"
Probably an occasional flake.

[code]

https://source.cloud.google.com/results/invocations/bd8d9363-63fc-44d3-bef0-d25c07debdee/targets/github%2Fgrpc%2Faggregate_tests/tests

[2018-10-18 09:16] #16604 closed

[2018-10-18 09:43] wojciechrak opened #16923 "Grpc.Core nuget package causes linux and osx libs to be copied to output"
### What version of gRPC and what language are you using?
 Grpc.Core.1.7.1 nuget package, C#

### What operating system (Linux, Windows, …) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET 4.7

### What did you do?
Add Grpc.Core nuget package to project, build.

### What did you expect to see?
 Required dll's are copied to output dir

[2018-10-18 11:58] AtosNicoS commented on #16895
I noticed the same behavior on a streaming request (client sends a message and receives a stream).

[2018-10-18 12:02] AtosNicoS commented on #16909
With urhosharp we were able to use grpc on the hololense. You might want to try that out.

[2018-10-18 16:32] dfawley opened #16928 "Backward compatibility test matrix will not work for new grpc-go releases as of December 4th"
Filing this as a follow-up from #16908, which addressed this issue in the ongoing interop tests.

The backward compatibility scripts assume all versions of grpc-go should be tested with Go 1.7 and 1.8.  However, the 1.7 release of grpc-go will no longer support these versions of Go.  We need a way to build and test docker images using arbitrary combinations of Go version & grpc-go version.

[2018-10-18 17:24] andre-laskawy opened #16929 "Arm support for windows (e.g. windows iot core on a raspberry pi 3b+)"
After weeks of digging through the grpc code and its submodules, i finally made it to crosscompile the grpc_csharp_ext for ARM architectures on a windos based system (For example if you want to run grpc on a raspery pi with windows iot core).

To finally make it work i still had to add the following to the charp code:

Inside the PlatformApis.cs i had to add a method to check for a arm architectur

[2018-10-18 18:01] remram44 commented on #13873
Thanks on behalf of all of us watching this ticket, that was closed back in May basically as "wontfix".

[2018-10-18 18:03] hsaliak commented on #16876
@yashykt could you please help take a look. /cc @vjpai @a11r

[2018-10-18 18:18] #16357 closed

[2018-10-18 18:32] yashykt commented on #16876
My plate is full for the next few days. Assigning it to @sheenaqotj

[2018-10-18 21:13] spirasean commented on #16682
I found that this code only works if I use an interactive session and keep the stdin open, so for docker run you need to add the -it, eg. docker run --rm -p 5000:5000 -it -d greeter-service:1.0, in docker-compose you would add tty: true and std_open: true. To test if this is the case add a Console.WriteLine("Grpc Server stopped"); after shutdown.WaitOne(); If it stops then that means the server is

[2018-10-18 21:50] lidizheng commented on #16900
Currently, I found that if the `cygrpc` is built inside of the Docker volumn (specified by -v) then it runs fine, but if the artifact is built upon the Docker filesystem  it will through the "undefined symbol" error.

So, I tried to dig into the two binaries to see what is different between them
[code]

I checked their linkage to system lib are identical (using `ldd`).
But their symbol usage is di

[2018-10-18 21:53] a11r commented on #16876
I took a brief look at the test code and it looks like the test client is ignoring Read() and write() errors and continues to Read(0/Write() more. This will lead to undefined behavir as there is a requirement that once a Read or Write fails, subsequent attempts to Read or Write should not be made.

[2018-10-19 00:51] wneo003 opened #16934 "[third_party/protobuf/configure] Error 127"
### What version of gRPC and what language are you using?
1.15.0

### What operating system (Linux, Windows, …) and version?
 Mac OS X

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Terminal

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
Following the instruction from https

[2018-10-19 01:16] lidizheng commented on #16900
Left clues
* Due to `pyenv` install logic, Python was built every time, so possibly the old version OpenSSL getting in at this time.
* Continue to inspect the difference between two Docker file systems
* Try to overriding the OpenSSL reference

[2018-10-19 02:43] nicolasnoble commented on #16934
Please follow the build instructions for MacOS as specified in https://github.com/grpc/grpc/blob/master/BUILDING.md.

[2018-10-19 02:43] #16934 closed

[2018-10-19 02:59] wneo003 commented on #16439
Hi there, are you able to build and install grpc first by cmake? Because I am facing issue with that as well

[2018-10-19 03:01] wneo003 commented on #16934
Hi there

I did follow the instruction over here as well, however i still face the same problem when I am trying to make.

[2018-10-19 09:31] wangyun commented on #16439
@wneo003 please refer to this：
https://github.com/grpc/grpc/issues/13841
and this
https://github.com/grpc/grpc/issues/12384

basicly， you need to build and install your own openssl, zlib library... firstly, not using the submodule version. After that, do cmake to build grpc.

[2018-10-19 11:39] jtattermusch opened #16938 "performance_profile jobs on master: bm_call_create benchmark is failing"
[code]

e.g. in
https://source.cloud.google.com/results/invocations/8076c9d5-2d61-4f9a-acc3-5825af6d0dc6/log
and
https://source.cloud.google.com/results/invocations/d27093c2-49c1-4981-bff0-ad783f43eaf6/log

[2018-10-19 11:57] vmax commented on #10646
@murgatroid99
There's [`grpc/grpc-node`](https://github.com/grpc/grpc-node) repo, in which the issue is fixed yet it seems the plugin for node codegen is still vendored [in this repo](https://github.com/grpc/grpc/blob/master/src/compiler/node_generator.cc). How do I best approach using the fixed version?

[2018-10-19 13:29] dunyakirkali opened #16939 "Objective-C: Cancelling a GRPCCall crashes the app on applicationDidEnterBackground"
### What version of gRPC and what language are you using?

Using gRPC 1.14.1 in Objective-C

### What operating system (Linux, Windows, …) and version?

iOS 11.4, 11.3, 11.2, 12.1, 10.3

### What runtime / compiler are you using (e.g. python version or version of gcc)

Apple LLVM version 10.0.0 (clang-1000.11.45.5)
Target: x86_64-apple-darwin18.0.0
Thread model: posix
InstalledDir: /Applications/X

[2018-10-19 17:00] apolcyn opened #16941 "Mac test failure: bins/opt/h2_full+workarounds_nosec_test resource_quota_server"
[code]

https://source.cloud.google.com/results/invocations/b007c8ac-af39-44d5-b7fd-03653e85492f/targets/github%2Fgrpc%2Fc_macos_opt_native/tests

Seen on PR: https://github.com/grpc/grpc/pull/16917

[2018-10-19 19:29] #16019 closed

[2018-10-19 19:29] ncteisen commented on #15986
Channelz is enabled by default

[2018-10-19 19:29] #15986 closed

[2018-10-19 20:59] apolcyn opened #16947 "Bazel test failure: //test/cpp/server/load_reporter:lb_load_reporter_test@poller=poll-cv"
[code]

https://source.cloud.google.com/results/invocations/08a199d2-defa-48af-9e1d-f8d3eec0eb99/targets/%2F%2Ftest%2Fcpp%2Fserver%2Fload_reporter:lb_load_reporter_test@poller%3Dpoll-cv/tests

seen in PR: https://github.com/grpc/grpc/pull/16917

[2018-10-19 21:08] apolcyn opened #16949 "Bazel test failure: ClientLbEnd2endTest.PickFirstReconnectWithoutNewResolverResultStartsFromTopOfList"
[code]

https://source.cloud.google.com/results/invocations/3ccd973f-72f8-45fe-81bd-a67744baedd5/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_lb_end2end_test@poller%3Dpoll-cv/log

seen on PR: https://github.com/grpc/grpc/pull/16913

[2018-10-19 22:36] lidizheng commented on #16102
@nicolasnoble I fixed the server-side encoding problem.

But found client-side problem can't be reproduced. I'm using code from master branch. The exception of RPCError is as expected. I am using a Python client receiving an "utf-8" encoded error message from a node server.

PS. Exception log of Python2/3
[code]
[code]

[2018-10-20 03:22] #16899 closed, assigned to yashykt, vjpai

[2018-10-20 13:29] hacst commented on #12295
After having read this thread and some of the linked issues I'm still not sure I understand why observing the DNS TTL for refresh would be a bad thing. From what I can tell it would just work. Be it scaling up or down, k8s or outside of it. I think its properties would fit the principle of least surprise. I cannot imagine many selecting a DNS based round-robin load balancing approach would be surp

[2018-10-20 14:25] cristiano-c opened #16951 "Cannot download grpc precompiled binaries"
grpc@1.10.1
macOS 10.14

Running following npm command:

`npm install -g composer-cli`

I expect to see a successful installation, but I get some errors, the first of those is:

[code]

Trying to download requested binaries directly I get:

[code]

[2018-10-21 06:42] nicolasnoble commented on #16951
gRPC version 1.10.1 didn't have NodeJS 10 support at the time. Please either upgrade to a more recent version of gRPC, or downgrade nodejs to 8.

[2018-10-21 06:42] #16951 closed

[2018-10-22 04:33] rahulpr2708 opened #16954 "Debug APIs for getting connection parameters"
### What version of gRPC and what language are you using?
 1.3.0, C++

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 clang 3.7

### What did you do?
We run a grpc server on our device. Currently for debugging any grpc performance related issues, we are using the grpc traces. These give a very go

[2018-10-22 05:39] gchihiha opened #16955 "How to successfully build GRPC"
### What version of gRPC and what language are you using?
language: Cpp
gRPC version: v1.15.1

### What operating system (Linux, Windows, …) and version?
 windows10 enterprise ltsb 10.0.14393

### What runtime / compiler are you using (e.g. python version or version of gcc)
python:3.7
vs2017 IDE & vs2015 Tool set

### What did you do?
**build protobuf   and install in D:\project\grpc-1.15.1\third_

[2018-10-22 06:04] jtattermusch commented on #16923
What kind of project are you using? A "Classic" .csproj   or dotnet SDK projects?

You're right that this is because Grpc.Core.targets file (https://github.com/grpc/grpc/blob/340bffa55560f02944dd81413aa764081a60f329/src/csharp/Grpc.Core/build/net45/Grpc.Core.targets#L4), but this is working as intended. The idea is that when you build a legacy .csproj project, the resulting build should be portabl

[2018-10-22 06:04] #16923 closed

[2018-10-22 06:04] jtattermusch commented on #16923
What kind of project are you using? A "Classic" .csproj   or dotnet SDK projects?

You're right that this is because Grpc.Core.targets file (https://github.com/grpc/grpc/blob/340bffa55560f02944dd81413aa764081a60f329/src/csharp/Grpc.Core/build/net45/Grpc.Core.targets#L4), but this is working as intended. The idea is that when you build a legacy .csproj project, the resulting build should be portabl

[2018-10-22 06:13] jtattermusch commented on #16929
@andre-laskawy   if you have code to contribute, please create a PR, copy pasting the code that you want added into an issue so that someone else needs to take that code a create a PR from what you copy pasted is waste of everyone's time.

Also, I'm afraid for windows ARM support we'd need some way to test this, before we claim that your snippet is useful. Do you have a document describing how to

[2018-10-22 08:44] vmax opened #16956 "node_generator does not use upstream sources"
### What version of gRPC and what language are you using?

`340bffa55560f02944dd81413aa764081a60f329`

### What operating system (Linux, Windows, …) and version?

macOS 10.14

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?
Updated `node_generator.cc` in [grpc/grpc-node](https://github.com/grpc/grpc-node) repo

### What did you expect

[2018-10-22 11:20] jtattermusch commented on #16929
Can you please post the entire howto for crosscompiling on ARM? Also for code changes, please create a PR.

[2018-10-22 14:50] markdroth commented on #12295
Personally, I tend to agree that the max-connection-age approach is a fairly ugly solution to the problem of forcing re-resolution.  However, I'm not sure that everyone on the team agrees with that.

I think the main argument against using TTLs is that we want consistent client behavior across languages, but while we would be able to access the TTL information in C-core, we have no reasonable mech

[2018-10-22 18:33] spellanser commented on #16515
Hi!
I've tried it - same error.

[2018-10-22 19:13] supperpiccle commented on #13447
Using Windows named pipes would be very helpful for me.

[2018-10-22 19:14] a11r commented on #16876
The best way to fix the test is for the client-side sender to just Finish() the RPC when it sees a failing Write(). It can then start a new RPC and resume Write() calls on it.

If the application has long-lived session semantics, it would need to add enough data to each message to make resumption across RPCs possible.

Thanks

[2018-10-22 19:29] elado commented on #10786
This state requires the containing project to match the same `grpc` version in the generated code (that is usually a different node module).

The solution would be to not require `grpc` on the host project, and expose `grpc` from the generated code.

`new UsersClient('path', UsersClient.grpc.credentials.createInsecure())`

this will guarantee usage of the version the client expects.

[2018-10-22 22:39] hacst commented on #12295
I see. Technically DNS TTL could be retrieved in any language by using a custom resolver (e.g. using something like miekg/dns in go or netty DNSResolver in Java. The latter would also get rid of the broken built-in DNS caching behaviour of the JVM...). That's basically what using c-ares in C-core amounts to. Whether that's a "reasonable" thing to do everywhere is of course debatable.

In any case

[2018-10-22 22:47] billfeng327 commented on #16881
resolved by PR [16965](https://github.com/grpc/grpc/pull/16965)

[2018-10-22 22:47] #16881 closed

[2018-10-22 22:51] yihuazhang opened #16967 "Use a fake handshaker server in ALTS unit tests"
In the current ALTS unit tests, it validates API interactions rather than behavior, which is undesired. So, instead of checking the fine details of the state interactions, we need to create a fake handshaker service implementation and pointed the tests at it. By doing that, we are able to test the overall handshaker behavior in an end-to-end manner.

[2018-10-22 22:55] yihuazhang opened #16968 "Convert ALTS handshaker client code from C to C++"
As titled. The change will be similar to `Grpclb::BalancerCallState`.

[2018-10-23 00:19] mehrdada opened #16970 "Upgrade pip to 18.1 (or later)"
Currently we pin `pip` to 10.0.1 but newer versions are available. We should upgrade our tests to pin on a newer pip.

[2018-10-23 00:29] srini100 commented on #16515
@spellanser, what is your setup like? Is it possible to give us a minimal repro where this can be seen consistently without breaking the connection?

[2018-10-23 02:01] #16955 closed

[2018-10-23 05:08] michihenning commented on #16876
What the code does when a write fails is irrelevant for this because no write() ever fails. When I run the code, it runs without ever encountering an error. But thread sanitizer complains about race conditions. This is with both gRPC and the test code compiled with g++-7 and thread sanitizer. There should not be any race conditions reported at all, and I suspect that these race conditions relate t

[2018-10-23 07:17] jtattermusch opened #16972 ""inproc_nosec_test" not being run on Foundry"
Being run on kokoro here:
https://source.cloud.google.com/results/invocations/834c3089-7f6b-4b42-a4f8-c55098008cb3/targets/github%2Fgrpc%2Fc_linux_dbg_native/tests;query=inproc_nosec

but not being run on foundry:
https://source.cloud.google.com/results/invocations/82b58c44-6e8d-411c-8df6-f93fc6839959/artifacts/

[2018-10-23 08:37] vjpai commented on #16972
It's probably for the best; inproc_nosec_test and inproc_nosec fixtures never made any sense but we just left them there because of the path of least resistance. The right thing to do, imo, is to remove inproc_nosec... from both sides unless we ever develop a definition of inproc that is insecure (our current belief is that inproc is inherently secure)

[2018-10-23 08:56] jtattermusch commented on #16972
@vjpai  can you remove inproc_nosec_test and inproc_nosec then? (this will also close this issue).

[2018-10-23 09:16] vjpai commented on #16972
Sounds good, I'll let you know when it's done.

[2018-10-23 09:31] michaelmaguire commented on #15363
Is there a reason we don't use:

[code]

instead of manually hard-coding the list of libraries?

When I use that against v1.15.1 it finds:

which looks equivalent and seems far less brittle

[2018-10-23 11:24] lucifercr07 opened #16973 "Unable to catch exceptions in case of bad ssl cert"
### What version of gRPC and what language are you using?
 1.12, C++

### What operating system (Linux, Windows, …) and version?
Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 5.4.0

### What did you do?
Provided a bad ssl cert to grpc channel

### What did you expect to see?
Channel close with error after ssl bad cert error

### What did you s

[2018-10-23 11:53] Croydon commented on #15363
`tools.collect_libs(self)` is only useful when the order of the linking doesn't matter. When someone could help me with that then I will happily complete this https://github.com/inexorgame/conan-grpc/blob/88908f9d7c99e074233f3c5b6f74e12dc3c450da/conanfile.py#L127

[2018-10-23 13:24] lucifercr07 opened #16974 "Unable to re-establish connection after network disconnect"
### What version of gRPC and what language are you using?
 1.12, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 5.4.0

### What did you do?
After grpc connection established for streaming channel, Disconnected the network connection and re-established again, the server was able to