[2018-01-23 16:05] markdroth opened #14138 "TIMEOUT: json_run_localhost:cpp_generic_async_streaming_qps_one_server_core_insecure GRPC_POLL_STRATEGY=epollex"
https://sponge.corp.google.com/target?id=23a4f856-3a80-4936-9397-9d910d1b95d9&target=github/grpc/cpp_linux_dbg_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2018-01-23 16:09] markdroth opened #14139 "cloud_to_cloud:go:ruby_server:timeout_on_sleeping_server"
https://sponge.corp.google.com/target?id=c9798eec-1a8a-4b36-8100-f196678ffad1&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

[code]

[2018-01-23 16:30] sammy-tam commented on #14088
I downgraded back to 1.7.3. and it doesn't seem to have this problem

[2018-01-23 16:45] jtattermusch commented on #14066
I can reproduce on a VM (requires epollex)
tools/run_tests/run_tests.py -l c -c dbg -r completion_queue_threading_test -n 200 --force_use_pollers epollex

it can be reproduced with e.g `completion_queue_threading_test.cc:218] test_threading: 1 producers, 10 consumers` scenario: the producer thread seems to finish successfully, but some of the consumer threads occasionally get stuck waiting in cq_n

[2018-01-23 16:46] drigz commented on #12381
It appears that `proto_library` makes `cc_grpc_library` behave (slightly) like `cc_proto_library`. It's not clear to me why it duplicates the functionality of `cc_proto_library`.

[2018-01-23 17:14] jtattermusch commented on #14066
I can reproduce also with test_threading: 1 producers, 2 consumers.
All the 10000 ops finalized by the producer are actually consumed correctly by the consumers (sum(events_triggered) = 10000), but the next cq_next call might never return.

[2018-01-23 17:39] mwiegant opened #14141 "grpc.core issue, when upgrading from 1.7.0 to 1.8.3"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes, we have a stacktrace of an error from the grpc.core library.

### What version of gRPC and what language are you using?

We were previously using version 1.7.0 of gRPC.core, our error now is from using version 1.8.3 of gRPC.core.

### What operating system (Linux, Windows, …) a

[2018-01-23 17:39] #13673 closed

[2018-01-23 17:41] muxi commented on #12172
@sidhdarth no so for. Tracking issue is https://github.com/CocoaPods/CocoaPods/issues/7302

[2018-01-23 18:02] coryan commented on #14108
Never mind, this was Cloud Bigtable specific.

[2018-01-23 18:02] #14108 closed

[2018-01-23 18:03] muxi commented on #14036
I see your point here. Using C++ codegen and gRPC C++ library on iOS is one thing that we are working. We do not have any plan on writing ObjC wrapper on top of that right now, but once that is finished and you think this feature will be helpful contribution is always welcome.

[2018-01-23 18:14] drigz opened #14143 "Bazel: cc_grpc_library doesn't work when used from the workspace root"
### What version of gRPC and what language are you using?

20e7074e4101b4fdbae1764caa952301b38957c4

### What operating system (Linux, Windows, …) and version?

Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 4.8.4, bazel 0.9.0

### What did you do?

Build a service contained at the workspace root:

[code]

### What did you expect to see?

Build

[2018-01-23 18:15] drigz opened #14144 "Bazel: cc_grpc_library doesn't work when used in an external workspace"
### What version of gRPC and what language are you using?

20e7074e4101b4fdbae1764caa952301b38957c4

### What operating system (Linux, Windows, …) and version?

Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 4.8.4, bazel 0.9.0

### What did you do?

Build examples when using gRPC as an external repository:

[code]

### What did you expect to se

[2018-01-23 18:30] drigz opened #14145 "Bazel: cc_grpc_library can't depend on a cc_proto_library"
### What version of gRPC and what language are you using?

20e7074e4101b4fdbae1764caa952301b38957c4

### What operating system (Linux, Windows, …) and version?

Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 4.8.4, bazel 0.9.0

### What did you do?

Build a service depending on a cc_proto_library:

[code]

### What did you expect to see?

Build

[2018-01-23 18:56] apolcyn commented on #14043
Unfortunately I think this needs a tweak to application-level code to work.
For example, the [greeter_server.rb](https://github.com/grpc/grpc/blob/master/examples/ruby/greeter_server.rb) should handle SIGINT gracefully after this tweak:

[code]

If the server process needs to exit gracefully upon a SIGINT, then I think there needs to be some application-level handling of the `SIGINT` signal. The g

[2018-01-23 19:42] adelez commented on #13715
Hi, Yash and Vijay, could you please take a look at the following areas based on @markdroth 's doc on test ownership?
Yash: bad_client (I think this is mostly bazel ready, just need to make sure no individual tests got left out), C89 build
Vijay: end-to-end (I think this is also enabled for bazel mostly, except fuzzers? But please audit the coverage.)

[2018-01-24 00:48] vjpai opened #14152 "Add shared_from_this analog to RefCountedPtr"
### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

Core

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Needed a way to count a new reference to an object already owned by a RefCountedPtr from that objec

[2018-01-24 01:12] y-zeng opened #14153 "TIMEOUT: qps_json_driver:inproc_cpp_protobuf_async_streaming_qps_unconstrained_10mps_insecure GRPC_POLL_STRATEGY=epollex"
https://sponge.corp.google.com/target?id=c3eca77d-1337-465b-975e-2810da6bec5f&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS
[code]

[2018-01-24 09:57] lclutz opened #14163 "gRPC claims to work with Ruby >= 2.0.0 but it does not."
I tried using gRPC version 1.8.3 with Ruby version 2.0.0 (gem version 2.4.8). According to the information on rubygems gRPC should be compatible with Ruby versions >= 2.0.0 (https://rubygems.org/gems/grpc/).

### What did you do?

I ran `gem install grpc`.

### What did you expect to see?

I expected the gem to install without error.

### What did you see instead?

[code]

[2018-01-24 10:02] subhayu89 commented on #13327
Is there any update?In the issue #14040 also I am using multiple threads ...and call gets blocked and immediate core dump in arch64 linux while the same code runs fine in x86 arch..

[2018-01-24 11:03] whiplash86 commented on #12442
@jtattermusch Can I get any sort of reaction on this? The build is basically broken for months now and it's really hindering our productivity.

[2018-01-24 11:08] s4x commented on #7406
@muxi have same problem. Build is ok, but archive is not.

Errors:
<img width="717" alt="2018-01-24 13 56 54" src="https://user-images.githubusercontent.com/16644890/35328885-e49552c6-010e-11e8-9690-69f1e9ca25e9.png">

Starts with this line, and disappear when it is removed (magic):
<img width="725" alt="2018-01-24 13 57 04" src="https://user-images.githubusercontent.com/16644890/35328904-f9968c4e

[2018-01-24 11:45] DrQwertySilence commented on #8682
I Can Has ~~Cheezburger~~ early access please?
Thanks in advance.

[2018-01-24 11:46] t00n commented on #13327
@nathanielmanistaatgoogle I managed to reduce the code to this
[code]
It needs authentication to access the PubSub and to push entities in the Datastore. If I remove any of those 2, it does not segfault anymore.

Write operations in the Datastore are required.

You need a PubSub subscription containing ~100k unacked messages. I tried with 1000 and 10000 and it did not segfault.
You need an (empty)

[2018-01-24 12:33] lumpidu commented on #8398
@ericgribkoff : we are interested and just have to prepare a gist/repository for it

[2018-01-24 13:15] vikasvashisht commented on #14119
Thanks Jan.

I have one more issue where I can use some help and its probably fixed in a later version but I can use the help in identifying the patch that addresses this issue.
https://github.com/grpc/grpc/issues/14014

I will appreciate if someone can comment on this.

From: Jan Tattermusch <notifications@github.com>
Reply-To: grpc/grpc <reply@reply.github.com>
Date: Tuesday, January 23, 2018 at

[2018-01-24 13:33] jtattermusch commented on #14141
I'd try cleaning and rebuilding your project from scratch.
the `grpcsharp_batch_context_reset` function was added to the native library grpc_csharp_ext.dll  in v1.8.x as it seems that you still have and old version of the dll in your output directory.
Otherwise, I'm pretty sure the function is there as our continuous tests work and no one else had this problem so far (if the issue was real, gRPC C

[2018-01-24 15:21] xyyDDD commented on #7406
I used Cocoapods to  add Grpc in my Object-C project,when I run the project ,the project is normal,grpc can work also. But when I archive the project, it finds errors like blew.
<img width="359" alt="e53b2c19-581c-43b9-b845-5acce3eb6e27" src="https://user-images.githubusercontent.com/32646843/35340129-4c60228e-015d-11e8-8b65-e1bba47291ff.png">

[2018-01-24 15:21] jackyko1991 commented on #11768
@toulouse could you please explain further which cmakefile do you add the target linked library to solve the problem?

[2018-01-24 15:27] ngriffiths commented on #8398
I worked with @lumpidu to build gRPC C++ for Android. Here is a script that clones, patches where necessary for Android and builds most of gRPC, together with the patches:

https://gist.github.com/ngriffiths/0125eb574354e40fe6f12de1ce2f4713

**Caveat:** This is very hacky. My understanding of gRPC and building C++ code is very limited. My sole focus at the time I wrote it was producing the binarie

[2018-01-24 16:03] jtattermusch commented on #14066
I have a good confidence I understand what's going on:

Thread 1. completion_queue_shutdown (invoked concurrently with the producers and consumers) invokes
pollset_shutdown (specific for epollex), which sets  `pollset->shutdown_closure`:
https://github.com/grpc/grpc/blob/0868da366233eb576115e2f14c0312a3080d2b85/src/core/lib/iomgr/ev_epollex_linux.cc#L737, then does pollset_kick_all to wake up ever

[2018-01-24 16:55] tcwalther commented on #13327
I've just run into this issue myself. It does seem to be a multithreading issue. This happens to me when enqueuing too many futures in PubSub.

Running the script in GDB shows that *lots* of new threads start and quit. Here's the last few lines before the crash:

[code]

[2018-01-24 16:58] avinassh commented on #4543
yes!

[2018-01-24 17:39] muxi commented on #7406
I'll take a look

[2018-01-24 17:57] AspirinSJL opened #14165 "TIMEOUT: src/php/bin/run_tests.sh Handshake failed with fatal error routines:OPENSSL_internal:WRONG_VERSION_NUMBER."
https://sponge.corp.google.com/target?id=066dbe4a-6b74-434f-92e5-21477e816380&target=github/grpc/php_linux_opt_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2018-01-24 18:00] apolcyn commented on #14163
grpc does work with ruby 2.0.0, but the application needs to pin dependencies on its own.

Here is an example of that: https://github.com/grpc/grpc/blob/master/test/distrib/ruby/distribtest.gemspec

The problem here is just that grpc doesn't pin it's dependency on `jwt`.... and so `gem install grpc` attempts to grab the latest available version of `jwt` and then fails.

[2018-01-24 18:00] #14163 closed

[2018-01-24 18:35] ZhouyihaiDing commented on #14165
I haven't reproduced it running the same tests many time. Is it possible related to this issue? [#9538](https://github.com/grpc/grpc/issues/9538)

[2018-01-24 19:27] yashykt commented on #13715
bad_client and C89 build are fine. They have BUILD files

[2018-01-24 19:38] jtattermusch commented on #14066
@sreecha  what would be the best approach for synchronizing access to  pollset->shutdown_closure.  I could either use atomics or lock with mutex (but I'm not sure which mutext is the right one ;-) )

[2018-01-24 19:40] yang-g commented on #14153
duplicate of #14045

[2018-01-24 19:40] #14153 closed

[2018-01-24 19:44] yang-g opened #14168 "TIMEOUT json_run_localhost:cpp_protobuf_async_streaming_from_client_qps_unconstrained_secure GRPC_POLL_STRATEGY=epollex"
2018-01-24 17:52:47,972 D0124 17:50:39.153540589   18156 ev_posix.cc:128]            Using polling engine: epollex
D0124 17:50:39.153633181   18156 dns_resolver.cc:294]        Using native dns resolver
D0124 17:50:39.155468907   18156 ev_posix.cc:128]            Using polling engine: epollex
D0124 17:50:39.155490824   18156 dns_resolver.cc:294]        Using native dns resolver
D0124 17:50:39.15832

[2018-01-24 20:26] AspirinSJL commented on #14165
Looks similar. Although #9538 is a test failure other than timeout.

[2018-01-24 20:29] adelez commented on #13715
Sometimes not all tests are included in the BUILD files. Please go over the BUILD files in detail to double check.

[2018-01-24 20:34] AspirinSJL commented on #13812
Fixed via #13911.

[2018-01-24 21:19] mehrdada commented on #13429
Failure: json_run_localhost:cpp_protobuf_async_unary_qps_unconstrained_2waysharedcq_insecure

https://sponge.corp.google.com/target?id=f5192b51-10fe-484b-91f2-743d20d3fc75&target=github/grpc/aggregate_tests&searchFor=&show=ALL&sortBy=STATUS

[2018-01-24 21:31] therc commented on #8363
Any comments on load reporting for servers? If Google does not plan to open source the message definitions for server<->LB communications, let alone a GSLB clone, perhaps `load_balancer.proto` should mention that. I understand that the original messages might be too tied to the minutiae of Borg or other Google internal infrastructure.

Right now the comment for `load_balance_token` is confusing or

[2018-01-24 23:09] ZhouyihaiDing commented on #14165
It can only be reproduced on gLinux Debian. Will it related to something like openssl version?
I get the log here: https://gist.github.com/ZhouyihaiDing/3bb88ed29a5e73d7af916efdcf77a4d3

[2018-01-24 23:10] fengli79 opened #14172 "gRPC Python Protoc Plug-In should not generate nearly-empty _pb2_grpc.py files for message-only .proto files"
If a proto file given to the gRPC python codegen doesn't contains any service, an empty py file is generated.

It only contains:
[code]

Suggest to remove it.

[2018-01-24 23:27] ejona86 commented on #8363
CC @zhangkun83, for the `load_balance_token` comment in `load_balancer.proto`.

[2018-01-25 00:15] jayantkolhe commented on #13873
Reopening based on these comments. We might not support fork completely, but lets investigate this further to see if we have a solution...

[2018-01-25 00:27] AspirinSJL commented on #8363
@therc We plan to open source the server-side load reporting *soon*.

[2018-01-25 01:20] mehrdada commented on #13873
Related: https://github.com/grpc/grpc/issues/14055

[2018-01-25 02:02] variantf opened #14173 "Can we add support for tvos?"
seems like we don't have set  tvos.development_target in all podspecs.

[2018-01-25 02:02] variantf commented on #14173
third-party/protobuf has already support tvos now

[2018-01-25 02:32] bigquant commented on #14111
OS: ubuntu 16.04
python: 3.5.2

[code]

and it shows errors

[code]

[2018-01-25 02:48] muxi commented on #7406
I am still not able to reproduce this issue. Used `src/objective-c/examples/SwiftSample` (after some Swift-3 conversion in #12280). If you can isolate a project for this issue that would be very helpful.

[2018-01-25 02:50] nathanielmanistaatgoogle commented on #14111
I think I know why this is happening and it's a limitation (likely introduced with the intention that it would be a "guard rail" safety feature) in [Protocol Buffers](https://github.com/google/protobuf). Refile this issue [over there](https://github.com/google/protobuf/issues) and link it back here; I'm curious to see what they make of it.

[2018-01-25 02:50] #14111 closed

[2018-01-25 02:52] 0oneo commented on #13942
it seems that 1.8.0 has fix the crash

[2018-01-25 02:52] #13942 closed

[2018-01-25 04:36] yang-g opened #14174 "GRPC_POLL_STRATEGY=poll bins/opt/end2end_test --gtest_filter=ProxyEnd2end/ProxyEnd2endTest.EchoDeadline/1"
Could not reproduce locally.

[code]

[2018-01-25 05:26] nsksaisaravana commented on #8649
I am also getting the same error when try to install **npm install firebase**.

Please check this screen shot.

![image](https://user-images.githubusercontent.com/17681573/35372132-631ff79e-01ec-11e8-987f-a4d2bebf1f51.png)

[2018-01-25 07:31] #14119 closed

[2018-01-25 07:49] jtattermusch commented on #14021
@jskeet   the v1.9.0-pre2 packages have been pushed.

[2018-01-25 07:54] jtattermusch commented on #9521
I've pushed v1.9.0-pre2 nugets with #13927 in, feel free to test it.

[2018-01-25 09:04] lclutz commented on #14163
@apolcyn  You are right. Thank you very much for your help.

[2018-01-25 09:32] adamyi commented on #8682
Hi @wenbozhu
Can I please have early access as well? Thanks a lot!

[2018-01-25 11:35] yang-padawan opened #14175 "HTTP2: sending multiple subsequent HTTP2 'HEADERS' frames causes crash on gRPC server"
#### Should this be an issue in the gRPC issue tracker?
Yes.

#### What version of gRPC and what language are you using?
 Python, gRPC 1.8.4

#### What operating system (Linux, Windows, …) and version?
 CentOS release 6.6 (Final)
Linux 2.6.32-504.30.3.el6.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux

#### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 2.7.11,

[2018-01-25 13:30] wangming1993 commented on #13285
+1

[2018-01-25 14:12] yang-padawan opened #14176 "gRPC/HTTP2: malformed RPCs get processed on server when certain parameter combinations are used"
#### Should this be an issue in the gRPC issue tracker?
Yes.

#### What version of gRPC and what language are you using?
 Python, gRPC 1.8.4

#### What operating system (Linux, Windows, …) and version?
 CentOS release 6.6 (Final)
Linux 2.6.32-504.30.3.el6.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux

#### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 2.7.11,

[2018-01-25 15:10] jtattermusch commented on #14066
It seems I was wrong. Access to pollset->shutdown_closure seems to be synchronized correctly. The real rootcause:
In when the shutdown is finished in `pollset_maybe_finish_shutdown`,   `pollset->shutdown_closure` is set back to nullptr.
https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/ev_epollex_linux.cc#L564

That can still result in a never-to-wake up poll in `pollset_work` because of

[2018-01-25 15:15] jtattermusch commented on #14014
@vjpai   any suggestions here?

[2018-01-25 15:32] jtattermusch commented on #12442
@whiplash86 , which version of grpc are you using for your experiments? there's been some improvements in the recent versions (my guess is you might be hitting a problem fixed here: https://github.com/grpc/grpc/pull/12411, and the fix is available starting from v1.7.0)

Can you try with `v1.9.0-pre2` ? We now have a continuous test that verifies that run_distrib_test.bat works and that test is pas

[2018-01-25 15:32] #12442 closed

[2018-01-25 17:19] camicase82 commented on #8649
@nsksaisaravana your problem is related to a miss configuration, the error shows that you lack the python configuration, fix that by installing and configuring env vars for python make sure that you can access the python byn from the shell and try again.

In my case I was still stuck with the same download error, first the install complains about downloading the file, which I can do from browser,

[2018-01-25 17:35] sashabaranov commented on #13960
@phacops I'm also passing root CA (generated from certstrap) and still getting

[code]

Basically I do:

[code]

[2018-01-25 18:10] yang-g commented on #13962
@YuleiXiao
Yes. Probing the health check service can be a way to check the connection but it is a bit heavy weight, as it does not only check the connection is alive but also check whether the server is actively serving the rpcs and it also requires a grpc client.

Assuming you are using C++ API, there are other ways you can monitor the connectivity. You may want to use the C++ channel state API e

[2018-01-25 18:25] ZhouyihaiDing commented on #13556
Done.

[2018-01-25 18:25] #13556 closed

[2018-01-25 19:23] vjpai opened #14181 "Internalize gpr items that are not used by wrapped languages"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

 Yes

### What version of gRPC and what language are you using?

Master

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Looked at `include/gpr/support`

##

[2018-01-25 19:51] hsaliak commented on #14175
@ncteisen would you be able to look into this please?
/cc @kpayson64 in case this is python related, but that's unlikely.

[2018-01-25 20:12] apolcyn opened #14182 "FAILURE cpp mac opt: bins/opt/grpclb_end2end_test --gtest_filter=SingleBalancerTest.InitiallyEmptyServerlist GRPC_POLL_STRATEGY=poll"
https://sponge.corp.google.com/target?id=6e6e8116-6179-4300-a4d3-eacf774e5ad6&target=github/grpc/cpp_macos_opt_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2018-01-25 20:41] hsaliak commented on #14175
@yang-padawan are you able to provide steps to reproduce this?
If preferred you can email me at hsaliak at google dot com too.

[2018-01-25 20:43] kpayson64 commented on #14175
@yashykt Could the bad-client framework you are working on help reproduce this issue?

[2018-01-25 21:05] yashykt commented on #14175
Yes, as discussed, we should be able to reproduce this using the bad-client
framework.

On Thu, Jan 25, 2018 at 12:43 PM, kpayson64 <notifications@github.com>
wrote:

[2018-01-25 21:50] anthraxx commented on #13908
@apolcyn can you please just push a 1.8.x one with ruby 2.5? this is really a blocker

[2018-01-25 21:58] dpratt commented on #14097
I'm seeing the same thing with a python client - the logs are continually spammed with

[code]

Note the target address of 'ipv4:10.1.111.13:8000' - this is the old IP address of one of my pods, and even after about 30 minutes of retry, it does not re-resolve the DNS entry.

[2018-01-25 23:35] ericgribkoff opened #14187 "Hello World C++ client "hangs" with invalid hostname"
If you modify the gRPC "Hello World" `greeter_client.cc` client to point to a non-existent hostname and then run it, the user experience is that gRPC "hangs". Turning on `GRPC_VERBOSITY=DEBUG`, we see that the DNS resolver is in the expected backoff state and continues to retry (for a long time, maybe forever?) but the blocking stub's `SayHello` method does not return. From the discussion on #1362

[2018-01-25 23:40] markdroth commented on #13627
Abhishek has agreed that a name resolution failure should immediately terminate RPCs with wait_for_ready=true.  I'll need to update the C-core code accordingly.

I'm pretty swamped at the moment and can't give an ETA on this yet, but I will get to it at some point.

[2018-01-25 23:42] markdroth commented on #14187
Duplicate of #13627.

[2018-01-25 23:42] #14187 closed

[2018-01-26 00:10] adelez commented on #13607
Friendly ping?

[2018-01-26 00:19] adelez commented on #13606
I think this is the same as #13607

[2018-01-26 00:19] #13606 closed

[2018-01-26 00:24] adelez opened #14188 "Broken bazel test: //test/core/client_channel:lb_policies_test"
https://source.cloud.google.com/results/invocations/4fcdc1cb-4e7d-4b65-80a1-50c62a821266/targets

https://source.cloud.google.com/results/invocations/4fcdc1cb-4e7d-4b65-80a1-50c62a821266/targets/%2F%2Ftest%2Fcore%2Fclient_channel:lb_policies_test@poller%3Depoll1/log

[2018-01-26 00:34] adelez commented on #13612
Same for httpscli_test: https://source.cloud.google.com/results/invocations/c3767c7d-eed3-4a25-a457-79565be22d7a/targets

[2018-01-26 01:17] ctiller commented on #14175
Please consider adding an example of this to the fuzzing corpora

[2018-01-26 01:31] apolcyn commented on #13908
I’d like to publish the ruby gem with 2.5 support soon but with the actual 1.9 release scheduled mid next week the plan is to wait. There shouldn’t be any incompatibilities with 1.9 release but the build system was somewhat changed to add 2.5 support so backporting it as a patch release is not ideal

[2018-01-26 02:40] jiangtaoli2016 opened #14194 "ssl_transport_security_test failure on system openssl library"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes.

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/quest

[2018-01-26 02:43] longXboy opened #14195 "grpclb server-side load reporting"
Is there any plan to move keepalive  mechanism to grpc load balance layer?Also the ping frame will carry more informations such as weight、server cpu load...In this way,the load balance can dynamiclly kick off unhealthy server node or tune the weight.

https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md

[2018-01-26 03:52] dothan009 commented on #11718
Update: This issue disappear in version 1.8.1. I think it was fixed.

[2018-01-26 03:52] #11718 closed

[2018-01-26 07:52] #13854 closed

[2018-01-26 07:54] mbarnathan commented on #12455
This appears to be causing RPCs to time out when running Google APIs from within celery tasks (I'm using -P eventlet, but other values appear to suffer the same issue as well). Downgrading to grpcio==1.4.0 works; no later version appears to.

[2018-01-26 08:03] #14066 closed

[2018-01-26 08:03] #14141 closed

[2018-01-26 09:24] jtattermusch commented on #14045
According to my experiments, this might have the same rootcause as https://github.com/grpc/grpc/issues/14066 and thus might be fixed by https://github.com/grpc/grpc/pull/14177.

[2018-01-26 10:06] jtattermusch commented on #14045
I was able to reproduce on a VM and after #14066, I am not able to reproduce anymore (after ~3000 runs).
Seems fixed.

[2018-01-26 10:06] #14045 closed

[2018-01-26 11:20] jtattermusch commented on #13477
More insight:
- after the test finishes successfully, the server shutdown is request, but the completion fails to be delivered within 5 secs:
https://github.com/grpc/grpc/blob/75c190ddd39db674744c387580c1f85b14c4509b/test/core/end2end/h2_ssl_cert_test.cc#L276
- there is 1 listener attached to the server. I think destroying of the listener is requested, but `listener_destroy_done` is never invoked,

[2018-01-26 12:07] jtattermusch commented on #13477
-  `grpc_tcp_server_shutdown_listeners` is invoked, but `tcp_server_shutdown_complete` never gets invoked (which would normally invoke listener_destroy_done).

[2018-01-26 13:07] WeitesFeld commented on #1620
I would really like to see Xamarin support in the near future, or at least a (short) readme/guide to compile the core and grpc_ext for the specific plattforms (iOS, Android).
I didn't find any useful tips on how to other then here and https://github.com/grpc/grpc/issues/11686

[2018-01-26 17:26] remram44 commented on #12455
I am affected as well, I'm not using any Google APIs. It seems that a lot of packages trigger grpcio to explode when forking. 1.4.0 doesn't seem to work reliably.

Please, "don't use fork or multiprocessing" can't be an acceptable answer. Can we at least get a reopen here to show that you care? Should we open a new issue and link to this?

[2018-01-26 17:31] katbusch commented on #12455
@remram44 I think this is now being tracked at the newly reopened https://github.com/grpc/grpc/issues/13873

[2018-01-26 17:39] remram44 commented on #13873
I am running into this without any gRPC code in the subprocess, without any Google APIs in either process. I am using a ton of scipy/ML packages so this might be hard to pinpoint, but the issue is definitely not limited to people using gRPC across fork.

[2018-01-26 18:22] yashykt commented on #13477
@jtattermusch I did some digging yesterday. It turns out that the handshaker code keeps a reference to the listener. If the deadline for the subchannel connection expires while a handshake is in progress, the tcp listener doesn't get unref'd immediately.

I tried setting the deadline for the shutdown_cq next operation to 120 seconds, and it doesn't seem to fail anymore, which makes me think that a

[2018-01-26 18:22] whiplash86 commented on #12442
@jtattermusch
I was working on `v1.8.4` or `v1.8.x` before, as well as `master`. With `v1.9.0-pre2` it works now. I'm only getting tons of warnings from wire_format_lite.h:

[code]

[2018-01-26 18:56] yashykt commented on #13477
I think I've got a better fix. Just before shutdown, the server can perform another cq_next for a short duration (say 100ms). With this cq_next, the server should be able to clean up the ref taken up by the handshaker, and the shutdown should progress cleanly.

[2018-01-26 18:57] hsaliak commented on #8622
@nathanielmanistaatgoogle can we target killing this off for 1.10?

[2018-01-26 19:16] nicolasnoble commented on #14175
By the way, I don't think sending the duplicated header is actually valid HTTP2. The behavior in the future will be to return a 400 error on these cases.

[2018-01-26 20:18] yang-padawan commented on #14175
[RFC](https://tools.ietf.org/html/rfc7540) does allow the response to consist of two subsequent header frames and I did not find any restrictions (in the RFC, there is a few [here](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md)) that should be applied to trailing headers, but duplicated headers (when both frames are identical) should probably not be valid, as it is basically openi

[2018-01-26 20:42] dgquintas commented on #14097
Hello everyone. This was a known issue at that point in time (~Dec 2017). In a very timely way, I have [a two day old pull request that fixes this very issue](https://github.com/grpc/grpc/pull/14170). It's still in review and needs a small follow up set of changes with an ETA of next week. Unfortunately, these changes won't make it to the imminent 1.9 release, but will definitely be available in 1

[2018-01-26 20:45] ejona86 commented on #14097
@dgquintas, this was a regression, right? What was the last version of grpc to be working?

[2018-01-26 20:58] dgquintas commented on #14097
The behavior changed after 1.7, meaning 1.7 highly likely wouldn't have this issue.

[2018-01-26 23:06] nathanielmanistaatgoogle commented on #8622
@hsaliak: @kpayson64 is working on this slowly in between more pressing tasks. The current state is that we'd like to assist some of our early adopters/complex use-case users in migrating to the final API before declaring the Beta API formally deprecated.

Of course it's been _informally_ deprecated for a long time...

[2018-01-27 00:31] dgquintas opened #14207 "Consider what to do in LB policies upon GOAWAY"
After #13932, subchannels don't go into `GRPC_CHANNEL_SHUTDOWN` anymore. Therefore, LB policies only see subchannels going into `GRPC_CHANNEL_TRANSIENT_FAILURE` no matter the circumstance. In particular, there's no way to distinguish between a [GOAWAY](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#goaway-frame) and other (retriable) types of failure.

A possibility is to reintrodu

[2018-01-27 00:52] mattolson commented on #10058
I ran into the same problem today install the gem (version 1.7.3) on a Debian container that did not have the `pkg-config` package installed. The error message was:
[code]

[2018-01-27 01:49] ericgribkoff commented on #12665
gRPC C++ should work fine on Android (see https://github.com/grpc/grpc/pull/14193). Are you still having this issue with up-to-date versions of the assistant sdk and gRPC? From the information you've provided it sounds like the issue is more likely with the assistant sdk rather than something specific to gRPC.

@nicolasnoble Feel free to reassign this issue to me (I somehow lost my privileges to a

[2018-01-27 01:52] ericgribkoff commented on #8398
@lumpidu @ngriffiths That's great, thank you for sharing that! I also went through the process of getting the build working with CMake (which I believe is the current recommended native build method in Android Studio, and has some pretty nice integration with Android Studio and gradle) in https://github.com/grpc/grpc/pull/14193

[2018-01-27 01:57] mehrdada opened #14209 "Test failure: h2_proxy_nosec_test max_message_length GRPC_POLL_STRATEGY=epollex"
Test failed on 1.9.x branch at 1.9.x-pre3 tag version bump

https://sponge.corp.google.com/target?id=47e08081-58be-43e5-8e97-15441bcc2b39&target=github/grpc/aggregate_tests&searchFor=&show=ALL&sortBy=STATUS

[2018-01-27 03:13] srini100 commented on #12455
Confirming that fork() related issues are now being tracked in reopened [#13873](https://github.com/grpc/grpc/issues/13873). Please post  there.

[2018-01-27 03:16] #14044 closed

[2018-01-27 05:37] hsaliak commented on #8622
Do we know for sure of people using the beta API? What will happen if we just kill it?

[2018-01-27 07:06] rurounijones commented on #14043
Ahoi apolcyn. Thanks for looking into this.

I agree completely that it is not the GRPC server's responsibility to trap the sigint itself and that that should be handled by the application.

The example you showed above seems like a lot of boilerplate to ask application writers to have to write (Although I confirmed that it does work).

The server does appear to have a stop method so I tried using

[2018-01-27 13:54] vahid-sohrabloo commented on #8682
@wenbozhu @zinuga Could I receive early access as well please?
Already enabled 2FA. Thanks in advance.  :smile:

[2018-01-27 19:48] mehrdada opened #14212 "Jenkins artifact build is broken due to a docker issue on Linux workers"
We have been unable to run artifact builds on Jenkins to make a release since last evening.

https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_build_artifacts/1784/platform=linux/console

[2018-01-27 19:50] mehrdada commented on #14212
This part of the log might be relevant

[code]

[2018-01-27 23:35] kpayson64 commented on #8622
We will break a litany of projects internally.

[2018-01-28 02:52] grapemix commented on #2262
In ubuntu 16.04, I have problem from multiple libprotobuf version too, but uninstalling old libprotobuf may not be a good idea.
Here is what I tried because I heard about removing old libprotobuf is "the solution":
`sudo apt-get remove libprotobuf9v5 libprotobuf-lite9v5`

I got:
[code]
I got hesitate because removing old libprotobuf might solve my problem but it will create more problems. Still, I

[2018-01-28 03:32] nsksaisaravana commented on #8649
@camicase82  Thanks,  I faced a similar problem. For me, the problem seemed to be my antivirus (Kaspersky). Once I disabled it, I was able to install firebase.

[2018-01-28 10:28] HideDev commented on #11686
@jtattermusch maybe [CppSharp](https://github.com/mono/CppSharp) can help?

[2018-01-28 11:11] AAverin commented on #13673
Still got the same set of errors for 1.8.4
[code]

[2018-01-28 11:14] waldandrade commented on #13673
Please, check your network. An easy test to access the "Material
Guidelines" web site and see if images and videos are been charged.

Em 28 de jan de 2018 8:11 AM, "Anton Averin" <notifications@github.com>
escreveu:

[2018-01-28 11:15] AAverin commented on #13673
No issues with the network
<img width="1136" alt="screen shot 2018-01-28 at 12 14 45" src="https://user-images.githubusercontent.com/1481332/35481494-defbdc7c-0424-11e8-92b9-d7864452cb41.png">

[2018-01-28 11:24] waldandrade commented on #13673
Try to access the link of the download on the browser.

Please give us your npm version too.

Em 28 de jan de 2018 8:15 AM, "Anton Averin" <notifications@github.com>
escreveu:

[2018-01-28 11:28] AAverin commented on #13673
`npm -v` gives me 5.6.0
Links downloads in the browser with no issues

[2018-01-28 14:21] waldandrade commented on #13673
Npm version is 4.6.1 to me.

1 - Ensure that you are executing terminal in adm mode (If your project
folder are in protected path).
2 - Try to install npm 4.6.x.
3 - Try to delete node_modules folder and type npm install again.

They are 3 actions that made this work to me in other moments.

Can you try this?

2018-01-28 8:28 GMT-03:00 Anton Averin <notifications@github.com>:

--
*Waldney Souza de

[2018-01-28 15:07] AAverin commented on #13673
Clean node installation doesn't resolve the issue

[2018-01-28 15:28] AAverin commented on #13673
Some extra logging:
[code]

[2018-01-28 16:58] GeoGeo8686 commented on #8649
@camicase82 Yep, same here. It was my antivirus, Kasperky.  I disabled it and boom.

[2018-01-29 04:38] manigandham commented on #13227
We're seeing this too, it's not just the number of exceptions but the fact that exceptions cause an entire stack trace to be dumped which is very expensive. If it was just garbage collection then it wouldn't really be an issue, especially with empty catch blocks.

A single app is showing about 400 exceptions/sec while only using the datastore API (which is only used once on startup):

![image](htt

[2018-01-29 05:30] stanley-cheung commented on #11632
This should be fixed in 1.8.5

[2018-01-29 05:30] #11632 closed

[2018-01-29 07:55] MitchDart commented on #11043
I am having this issue in C# dotnet core. If a channel idles for long I get this exception.

[2018-01-29 08:05] Horusiath opened #14213 "Generate C# gRPC services as interfaces"
Current state of C# gRPC services code generation builds proto contracts as abstract classes to be extended by the end user. Same thing concerns client code generation.

[code]

However it seems, that more natural way of working with code-based contract representation in C# is via interface implementation - this is also reasonable choice, as C# base class generated by proto.exe doesn't contain any

[2018-01-29 08:29] jtattermusch commented on #13227
@manigandham   this has been fixed and there are 1.9.0-pre2 prerelease nugets that contain the fix. Would you mind verifying that the problems you were seeing are gone?

[2018-01-29 08:37] jtattermusch commented on #14213
@Horusiath  we actually used to generate interfaces, but deliberately changed to abstract classes, because interfaces aren't backward compatible when new methods are added - and that's one of the most common changes we anticipate with .proto service definitions (the problem with interfaces is that they don't allow providing default implementation, so regenerating a .proto file with new service met

[2018-01-29 08:37] #14213 closed

[2018-01-29 08:43] jtattermusch commented on #14212
CC @jtattermusch

[2018-01-29 08:51] jtattermusch commented on #13477
I'm not seeing this after #14204.

[2018-01-29 09:27] yuuhhe commented on #12506
unfortunately repeated on C# version, nether 1.7.3 nor 1.8.3
any help？

[2018-01-29 09:49] jtattermusch commented on #12442
@whiplash86 , that warning you're getting seems to be protobuf specific, consider filing an issue with https://github.com/google/protobuf/

[2018-01-29 10:18] jtattermusch commented on #1620
@WeitesFeld  we'll be happy to include such readmes once building on those platforms works reliably and the resulting libraries are tested to work well. Otherwise, such readme files could confuse users into thinking that we support something that's not fully supported yet. That said, contributions are more than welcome (both in providing a high-quality documentation and improving the Xamarin suppo

[2018-01-29 10:38] jtattermusch opened #14214 "Test flake: chttp2_settings_timeout_test --gtest_filter=SettingsTimeout.Basic"
Flaky on TSAN with epoll1. Failing about 12% of builds.

We see an increased flakiness starting from ~Jan 17, but I didn't see a clear link between the flake and a single PR (and similar flakes have been seen in the past, just much less common).

https://sponge.corp.google.com/invocation?id=da55d59b-3f7e-42bf-8cbc-8c47c8a507c8
https://sponge.corp.google.com/invocation?id=5f69c2e2-2488-44d1-b5a6-03

[2018-01-29 10:39] jtattermusch commented on #14214
CC @dgquintas

[2018-01-29 10:41] jtattermusch commented on #14214
It's a data race according to TSAN.
[code]

[2018-01-29 10:55] akbars38 commented on #8682
Could I have early access as well?

I have 2FA enabled.

Thanks in advance!

[2018-01-29 10:55] jtattermusch commented on #13445
Still happening, currently failing around 10% of builds.

Recent ASAN failures (happening on epoll1, epollex, epollsig)
https://sponge.corp.google.com/invocation?id=f7ee6170-f1c6-4116-81d5-962a6c854b2a
https://sponge.corp.google.com/invocation?id=2016ec16-c4ef-4485-b2b4-f2766323d672
https://sponge.corp.google.com/invocation?id=f1dc0c30-e0f7-49dc-b974-04eafeb6f027
https://sponge.corp.google.com/inv

[2018-01-29 11:01] jtattermusch commented on #13445
All ASAN failures complain about heap-use-after-free
[code]

[2018-01-29 11:04] jtattermusch commented on #13445
TSAN failures complain about the same problem `ThreadSanitizer: data race /var/local/git/grpc/test/core/util/passthru_endpoint.cc:85:3 in me_write(grpc_endpoint*, grpc_slice_buffer*, grpc_closure*)`

[code]

[2018-01-29 11:10] jtattermusch commented on #13445
The `bm_fullstack_streaming_ping_pong` flavor of the test is flaky for the same reason (e.g. https://sponge.corp.google.com/target?id=f1dc0c30-e0f7-49dc-b974-04eafeb6f027&target=github/grpc/cpp_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS)

[2018-01-29 11:47] yuuhhe commented on #12506
other info：client open multi channels connect to server（same ip/port）

[2018-01-29 12:02] jtattermusch commented on #13429
More data:
- only happening with `epollex`
- test is timing out (and the preset timeout is actually too high - 1200 or 3600sec).

TSAN:
https://sponge.corp.google.com/invocation?id=7bddf59f-9c48-4a72-93f2-1dcb232e8404

ASAN:
https://sponge.corp.google.com/invocation?id=57c3dff8-b7ab-4d9e-af02-9f56ea93620d

dbg:
https://sponge.corp.google.com/invocation?id=404c1aa9-2355-485d-ac19-74fa1c6f4536

opt:

[2018-01-29 12:21] jtattermusch commented on #13148
Based on analysis of historical data, the failure seems to fixed by https://github.com/grpc/grpc/pull/14177 (no occurrences after the PR was merged).

[2018-01-29 12:21] #13148 closed

[2018-01-29 12:24] jtattermusch commented on #11188
Not seen since Jan 9, closing the issue.

[2018-01-29 12:24] #11188 closed

[2018-01-29 14:26] jtattermusch commented on #13429
I'm able to reproduce on a VM with
`tools/run_tests/run_tests.py -l c++ -c opt -r 'bm_fullstack_streaming_pump.*SockPair' -n 50 --force_use_pollers epollex` (given enough runs).

The test gets stuck in https://github.com/grpc/grpc/blob/123547c9625c56fdf5cb4ddd1df55ae0c785fa60/test/cpp/microbenchmarks/fullstack_fixtures.h#L211 (I'm not yet sure why).

[2018-01-29 15:21] Adiqq commented on #10759
Try https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_cmake.sh ,

https://github.com/grpc/grpc/pull/12469

[2018-01-29 17:02] jiangtaoli2016 opened #14216 "Support encrypted PEM private keys in gRPC c core"
In current gRPC c core implementation of SSL transport security, we can only pass unencrypted SSL key. SSL keys are often passphrase encrypted.

We'd like to expose an option in gRPC for supporting encrypted SSL private key.

[2018-01-29 17:16] whiplash86 commented on #12442
Just for completeness: Has already been opened:
[https://github.com/google/protobuf/issues/3947](url)

[2018-01-29 17:51] dgquintas commented on #13429
@ncteisen given all this info, do you think it'd be possible to tackle this issue soon? It's responsible for 16% of non-green PRs.

[2018-01-29 17:52] dgquintas commented on #14214
Seems to have been failing on and off for a while: https://screenshot.googleplex.com/kQUODhaQKhc

[2018-01-29 17:56] dgquintas commented on #14214
@yang-g could you have a quick look?

[2018-01-29 18:36] ncteisen commented on #13429
@sreecha is going to take a look and see if his #14217 will fix this. If not, I will dive in. I need to update my machine to enable epollex and then I will start digging

[2018-01-29 18:42] vjpai opened #14219 "Deprecate direct use of gpr_malloc/gpr_free in core"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

Core

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Want to put C++ objects in core struct

[2018-01-29 19:09] #12590 closed

[2018-01-29 19:22] mehrdada commented on #14212
looping @nicolasnoble in to have more eyes at this blocking issue

[2018-01-29 19:26] matt-kwong commented on #14212
I'm working on the issue now, and I'll update when I have a successful rebuild.

[2018-01-29 19:26] mehrdada commented on #14212
Thanks @matt-kwong

[2018-01-29 20:46] muxi opened #14220 "Channel shutdown should trigger pending calls to fail immediately instead of taking a few minutes"
When calling grpc_channel_destroy() on a channel and the channel state becomes SHUTDOWN, all calls that are still pending on this channel should fail.

This is currently not the case, reproduced by [Guggyco/firebase-network-bug-reproduce](https://www.google.com/url?q=https://github.com/Guggyco/firebase-network-bug-reproduce&sa=D&usg=AFQjCNE_2GB2dO-KDKxvks8ekfnADaDFWQ).

Debugging shows that the ca

[2018-01-29 21:06] matt-kwong commented on #14212
https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_build_artifacts/1799/ shows the Linux build is now successful.

CC @kpayson64

[2018-01-29 21:23] kpayson64 opened #14223 "Return HTTP 400 on receiving multiple header frames"
Return HTTP status 400 when more than 1 header gets sent from the client side

In #14191 the segfault issue was mitigated, but it would be good to solve this problem in the transport.

We should also add repeated HTTP header frames as part of our corpus.

[2018-01-29 22:49] kpayson64 commented on #14175
A patch release 1.8.6 has been pushed that should fix this issue.  Feel free to re-open if it doesn't fix your test case.

[2018-01-29 22:51] #14175 closed

[2018-01-29 23:28] sreecha commented on #13429
Issue #14217 does not seem to fix this. However, the tests also fail for `poll` polling engine.
Note that the test is disabled for `poll` and `poll-cv` (Just to reduce the number of polling engines this runs on; no other particular reason for disabling).

So I had to modify `build.yaml` to enable the tests for `poll` engine.

Like Jan mentioned earlier, this is stuck in server shutdown path. The t

[2018-01-30 00:43] yashykt opened #14226 "httpscli_test fails on bazel"
This follows from #13612

httpscli_test fails with bazel for multiple reasons -

1. The gRPC root path that the test file expects is different depending on whether it is run using tools/run_tests/run_tests.py or bazel test.

2. tools/run_tests/run_tests.py sets an environment variable GRPC_DEFAULT_SSL_ROOTS_FILE_PATH_ENV_VAR to gRPC root + "/src/core/tsi/test_creds/ca.pem" which is not done by baz

[2018-01-30 01:24] nddipiazza opened #14227 "attempt to send Request to a bi-directional stream results in `Grpc.Core.RpcException: Status(StatusCode=Unknown, Detail="Stream removed")`"
### What version of gRPC and what language are you using?

Server Side runs on Java

[code]

Client runs on C#:

Stubs C# library project:

[code]

Client C# Console project:

[code]

### What operating system (Linux, Windows, …) and version?
Ubuntu 17.x - Linux x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
 `protoc 3.5.1 , .NET 4.6.1`

### What did you do?

[2018-01-30 01:49] mehrdada commented on #13327
I just talked to the core team about this and they believe the refcount logic has been vastly revamped recently and they have strong suspicions that this bug is likely fixed in 1.9.0 release. I just pushed the 1.9.0rc3 to PyPI, so please let us know if you are still seeing it in that RC.

[2018-01-30 02:20] nddipiazza commented on #14227
issue was versions

can't use grpc 1.6.1 on server side with grpc 1.8 on c# side. causes this error.

[2018-01-30 02:20] #14227 closed

[2018-01-30 02:36] ZedYu commented on #8328
Any progress for this? We are using go as the server, and Android and iOS as clients. I've found out that the go server and Android clients supports Keepalive, Is there a plan for keepalve on iOS?

[2018-01-30 03:08] #14226 closed

[2018-01-30 03:57] yuuhhe commented on #12506
@dgquintas

[2018-01-30 04:31] subhayu89 commented on #13327
Is the same done for C++ also?

[2018-01-30 05:10] mehrdada commented on #13327
@subhayu89 Yes, the changes are in C core and that layer is shared across languages.

[2018-01-30 06:39] ianrussel commented on #12096
I also encounter this with nodejs v 8.*.*. Hoping for Any updates so that no need to downgrade npm.

[2018-01-30 08:19] krelst commented on #13327
Hi @mehrdada, I tried to use the `grpcio==1.9.0rc3` package but am still seeing the same segmentation fault. Our script is run inside a docker debian jessie container, on gcloud kubernetes engine, with the following python environment:
[code]
In our script we both pull and push from/to pub/sub, write to bigtable and bigquery. So we have multiple different gcloud clients running at the same time, w

[2018-01-30 10:32] subhayu89 commented on #13327
I0130 16:00:54.914150633   21085 ev_epoll1_linux.cc:114]     grpc epoll fd: 6
D0130 16:00:54.914242217   21085 ev_posix.cc:128]            Using polling engine: epoll1
D0130 16:00:54.914360617   21085 dns_resolver.cc:294]        Using native dns resolver
Segmentation fault (core dumped)

Still facing the same issue with v1.9.0 rc3 as well

[2018-01-30 10:35] subhayu89 commented on #13327
I0130 16:00:54.914150633   21085 ev_epoll1_linux.cc:114]     grpc epoll fd: 6
D0130 16:00:54.914242217   21085 ev_posix.cc:128]            Using polling engine: epoll1
D0130 16:00:54.914360617   21085 dns_resolver.cc:294]        Using native dns resolver
Segmentation fault (core dumped)

Still facing the same issue

[2018-01-30 11:11] ibvrubleg commented on #13447
Do you have any estimations when it will be implemented?

[2018-01-30 11:34] jtattermusch commented on #13445
This is our top flake (failing > 16% of builds). Any updates?

[2018-01-30 12:15] jtattermusch commented on #11676
This is still happening, currently it's failing 6% of all multilang tests (= our top flake for wrapped languages).

- only happening for py27
- happening both for dbg and opt, but more common for opt

Recent failures:
opt:
https://sponge.corp.google.com/invocation?id=428b248c-c976-4182-87d2-4325b0b5f406
https://sponge.corp.google.com/invocation?id=c9cbadbd-f834-4403-bef7-5b8b4b56d538
https://spong

[2018-01-30 12:15] jtattermusch commented on #11676
@kpayson64, can you take a look?

[2018-01-30 12:23] ademcan commented on #7038
Hi guys, any update on using gRPC in RN? thanks.

[2018-01-30 12:23] jtattermusch opened #14234 "tools/run_tests/helper_scripts/run_grpc-node.sh is flaky on both macos and linux"
Currently failing 6% of our macos dbg builds and flaking on linux too.

Recent mac failures (all dbg):
https://sponge.corp.google.com/invocation?id=24ec39a3-3f1c-46fa-bfc3-8b44e80dee81
https://sponge.corp.google.com/invocation?id=12cb3013-c824-43bc-aa18-c2d83e348568
https://sponge.corp.google.com/invocation?id=2e8305e9-47a0-4fc1-9238-82371b99b901

Recent linux failures (all dbg):
https://sponge.co

[2018-01-30 12:32] jtattermusch commented on #14234
It seems to boil down to occasional failures when downloading packages
On Mac:
[code]

On Linux:
[code]

[2018-01-30 12:33] jtattermusch commented on #14234
@murgatroid99 , what can we do to increase build robustness?

[2018-01-30 13:28] jtattermusch commented on #13445
How I understand this:

The write is trying to update the statistics:
https://github.com/grpc/grpc/blob/e6cf0aeff4979e5ff2501e7fe5e2fdf926350452/test/core/util/passthru_endpoint.cc#L85

But they have been deleted as part of the InProcessCHTTP2 instance (destructor has been called).
https://github.com/grpc/grpc/blob/e6cf0aeff4979e5ff2501e7fe5e2fdf926350452/test/cpp/microbenchmarks/fullstack_fixture

[2018-01-30 14:39] hexfusion commented on #8682
@wenbozhu I am interested in early access, please advise. 2FA is enabled, thank you.

[2018-01-30 16:34] jtattermusch commented on #13445
Looks like just making sure that the `grpc_passthru_endpoint_stats stats_` won't get deleted before passthru endpoint's me_destroy should be enough to prevent the race. I'll see what I can do.

[2018-01-30 16:46] vjpai commented on #13445
Ok, I haven't had a chance to look at it yet but was going to take a shot today. If you take it over that's great

[2018-01-30 18:22] sreecha commented on #13429
I looked at this some more.. Don't have the root cause yet but the server is stuck in shutdown because it is waiting for the channel to be destroyed.

The server shutdown method (i.e https://github.com/grpc/grpc/blob/v1.8.6/src/core/lib/surface/server.cc#L1202)
  - Kills pending work: https://github.com/grpc/grpc/blob/v1.8.6/src/core/lib/surface/server.cc#L1247 (which just fails any pending calls)

[2018-01-30 18:59] mehrdada commented on #13327
Thanks, I have managed to create a new pubsub and datastore setup and repro this issue.

[2018-01-30 19:40] wenbozhu commented on #7038
@ademcan  Please have a look at https://github.com/grpc/grpc-web  (which shares the same API as grpc-node).

grpc-web uses google-closure, which is also used by Firebase/firestore web-sdk. We have recently submitted a patch to RN and believe any closure based libraries should be able to run from RN. So, please give it a try and let us know if you manage to get grpc-web clients work from RN.

[2018-01-30 19:40] #7038 closed

[2018-01-30 20:55] muxi commented on #8328
Update is implemented in core. We'll try land the APIs in 1.10 or 1.11

[2018-01-30 21:26] jtattermusch commented on #14214
Fixed by #14233.

[2018-01-30 21:26] #14214 closed

[2018-01-30 21:38] #13569 closed

[2018-01-30 21:54] jtattermusch commented on #10092
The failure details is interesting:
`test/cpp/end2end/end2end_test.cc:1337: Failure
Expected: (response.param().request_deadline() - sent_deadline.tv_sec) <= (1), actual: 2 vs 1`

According to the comment: "1 second error is allowed". 2 seconds seems close enough.
https://github.com/grpc/grpc/blob/9233201cc34e478e2a4d290c53bcf782a3864676/test/cpp/end2end/end2end_test.cc#L1337

[code]

[code]

[2018-01-30 22:16] jtattermusch commented on #10092
Ok, I've confirmed my suspicion. The 2 seconds difference can happen  when we are close to the boundary of the next second  (tv_nsec is close the 1 billion).

So this seems to be just a badly designed test (the request_deadline in the response should have bigger precision than just seconds).

From my local runs with added logging:
[code]

[code]

[2018-01-30 23:16] adelez opened #14240 "Flaky bazel test: "Address already in use" error, happening to various tests."
https://source.cloud.google.com/results/invocations/f9642869-da7c-433c-81b0-569e151c6352/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_load_reporting_test@invoke_large_request/log

[code]

[2018-01-30 23:30] adelez opened #14241 "Broken bazel test: //test/cpp/codegen:run_golden_file_test"
https://source.cloud.google.com/results/invocations/f9642869-da7c-433c-81b0-569e151c6352/targets/%2F%2Ftest%2Fcpp%2Fcodegen:run_golden_file_test/log

@apolcyn , feel free to reassign. :)

[2018-01-30 23:44] adelez commented on #13620
resolver_component_tests_runner is a grpc_sh_binary. But grpc_sh_binary was strangely defined as sh_test https://github.com/grpc/grpc/blob/69d3e0984da394d1ea06edbe26de76d124c6eaf3/bazel/grpc_build_system.bzl#L160

Either don't make it an sh_test or create a flag for skipping it.

[2018-01-30 23:46] adelez commented on #13621
The latest error is https://source.cloud.google.com/results/invocations/f9642869-da7c-433c-81b0-569e151c6352/targets/%2F%2Ftest%2Fcpp%2Fnaming:resolver_component_tests_runner_invoker@poller%3Depoll1/log
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
+ export GRPC_POLL_STRATEGY=epoll1
+ shift
+ test/cpp/naming/resolver_compo

[2018-01-30 23:48] adelez commented on #13621
Same with resolver_component_tests_runner_invoker_unsecure:
https://source.cloud.google.com/results/invocations/f9642869-da7c-433c-81b0-569e151c6352/targets/%2F%2Ftest%2Fcpp%2Fnaming:resolver_component_tests_runner_invoker_unsecure@poller%3Depoll1/log

[2018-01-30 23:53] mehrdada commented on #13327
[code]

So far I have managed to eliminate the dependency on pubsub and replacing it with a thread pool. Does anyone happen to know if there's an older version of gRPC which they can't reproduce this on?

[2018-01-31 00:01] adelez commented on #13620
This a grpc_sh_binary but grpc_sh_binary is strangely defined as sh_test: https://github.com/grpc/grpc/blob/69d3e0984da394d1ea06edbe26de76d124c6eaf3/bazel/grpc_build_system.bzl#L161

Should be something else.

[2018-01-31 00:05] #13623 closed

[2018-01-31 00:28] adelez opened #14243 "Bazel test failure: //test/cpp/util:grpc_tool_test"
https://source.cloud.google.com/results/invocations/f9642869-da7c-433c-81b0-569e151c6352/targets/%2F%2Ftest%2Fcpp%2Futil:grpc_tool_test@poller%3Depoll1/log

test/cpp/util/grpc_tool_test.cc:719: Failure
Death test: GrpcToolMainLib( ArraySize(argv), argv, TestCliCredentials(), std::bind(PrintStream, &output_stream, std::placeholders::_1))
    Result: failed to die.
 Error msg:
[  DEATH   ] D0130 22:

[2018-01-31 00:46] adelez opened #14245 "Flakes: some tests in //test/core/end2end:h2_http_proxy_test and //test/core/end2end:h2_load_reporting_test flake under tsan"
Saw the flakes in bazel build but since it's a flake, it doesn't seem to have to do with bazel:
https://source.cloud.google.com/results/invocations/4d2bba78-fa0b-4dca-9cc8-04dcd09b3630/targets

Both failures are caused by
D0130 23:51:40.988844514      20 test_config.cc:388]         test slowdown factor: sanitizer=5, fixture=1, poller=1, total=5
E0130 23:51:47.719952182      20 cq_verifier.cc:273]

[2018-01-31 02:38] yashykt commented on #11745
Fixed in #14112

[2018-01-31 02:38] #11745 closed

[2018-01-31 04:19] kgreenek opened #14246 "Ruby implementation polls streaming RPC endpoints"
### What version of gRPC and what language are you using?
Client: Ruby
Server: Python
gRPC 1.7.0

### What operating system (Linux, Windows, …) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
N/A

### What did you do?
When using the Ruby client to open a connection to an RPC endpoint with a streaming reply, the connection appears to be polled.

[2018-01-31 04:21] subhayu89 commented on #13327
Yes with v1.6.0, v.1.7.1,v1.8.4 also crashes for C++

[2018-01-31 04:30] mehrdada commented on #13327
Do you have a C++ repro?! That would be really helpful!

[2018-01-31 05:30] yuuhhe commented on #12506
I got the same exception:"Call dropped by load balancing policy"

[2018-01-31 05:39] dgquintas commented on #12506
Note that that error messaged changed a while ago (see [this comment](https://github.com/grpc/grpc/issues/12506#issuecomment-335846052) in this same thread). It's very surprising that it happens with 1.8.x.

[2018-01-31 07:52] subhayu89 commented on #13327
I0130 16:00:54.914150633 21085 ev_epoll1_linux.cc:114] grpc epoll fd: 6
D0130 16:00:54.914242217 21085 ev_posix.cc:128] Using polling engine: epoll1
D0130 16:00:54.914360617 21085 dns_resolver.cc:294] Using native dns resolver

[2018-01-31 07:53] subhayu89 commented on #13327
for java and go is it not reproducible?

[2018-01-31 07:55] #10092 closed

[2018-01-31 08:08] adematte commented on #12506
Haven’t since that error since upgrading to 1.8.0.
@yuuhhe sorry if I state the obvious but it might be a good idea to check that you are indeed using this version and that a previous one didn’t get shipped in your code through an external lib, dependency lock file or whatever.

On 31 Jan 2018, at 06:39, David G. Quintas <notifications@github.com<mailto:notifications@github.com>> wrote:

Note that

[2018-01-31 10:00] wakenmeng opened #14247 "Python example code bug."
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 Yes, it's a simple bug in the example code.
Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grp

[2018-01-31 11:48] hongxixi opened #14248 "grpc client broken due to segment fault when call grpc::Channel::~Channel"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 yes

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questi

[2018-01-31 12:10] jtattermusch opened #14249 "end2end_test --gtest_filter=ProxyEnd2end/ProxyEnd2endTest.HugeResponse flaky on TSAN (data race)"
e.g. https://sponge.corp.google.com/target?id=a4ecc5e2-6a3c-40f0-857f-51d7dc3bed4d&target=github/grpc/cpp_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

seems to be a data race between `grpc_shutdown()`    and ` dns_start_resolving_locked()`

[code]

[2018-01-31 12:14] jtattermusch commented on #13999
Still happening. Recent failures:
https://sponge.corp.google.com/invocation?id=24ec39a3-3f1c-46fa-bfc3-8b44e80dee81
https://sponge.corp.google.com/invocation?id=1b46c6f8-8bc1-4821-a015-6590b3d51ea2
https://sponge.corp.google.com/invocation?id=1ead8030-9089-4d31-a642-78312ac52d97
https://sponge.corp.google.com/invocation?id=02d8454d-d77b-4d32-8668-1f373b971ed6

[2018-01-31 12:16] jtattermusch commented on #13999
[code]

[2018-01-31 12:18] jtattermusch commented on #13999
Assertion here:
https://github.com/grpc/grpc/blob/306503861733e0210e25d4bb31907914f9d5b24e/test/core/end2end/tests/resource_quota_server.cc#L258

status code 2 corresponds to GRPC_STATUS_UNKNOWN.

[2018-01-31 13:07] mehrdada commented on #13327
@subhayu89 I am confused--I think you are talking about the other issue you filed? I don't think it's the same issue at all. Let's keep the discussions in this thread centered on the original post's issue.
Java and Go are implemented in stacks written in their own language. They are completely separate implementations, unlike Python.

[2018-01-31 13:11] subhayu89 commented on #13327
ok lets keep discussions separate but refcount issue I am getting with c++ also @mehrdada ...and since you referenced it to this issue i replied...anyways lets not discuss on this issue apart from python..thanks for your reply anyways

[2018-01-31 13:18] mehrdada commented on #13327
@subhayu89 Sorry for the confusion. To be clear, if there is a C++ bug with the same symptom (segfault in client_auth_filter.cc), please do bring it up it here.

[2018-01-31 17:23] AspirinSJL commented on #14220
So when WiFi network disconnects on iOS, we call `grpc_channel_destroy()`, which calls `start_transport_op()` with a `disconnect_with_error`.

The expectation is that we reach https://github.com/grpc/grpc/blob/master/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L1761 and eventually `end_all_the_calls()`.

But we never go through that path. Instead, `start_transport_op()` in the clie

[2018-01-31 17:35] therc commented on #8363
@AspirinSJL that's great, thanks. Looking forward to it.

[2018-01-31 17:51] shinzui opened #14251 "OCaml Support"
Hi,

This is a feature request so I didn't follow the issue template since the questions were not applicable. I am wondering if an OCaml binding is on the roadmap.

[2018-01-31 18:02] #13620 closed

[2018-01-31 18:25] yang-g opened #14252 "GRPC_ARG_HTTP2_STREAM_LOOKAHEAD_BYTES is not honored"
The same applies to GRPC_ARG_HTTP2_MAX_FRAME_SIZE. Setting these to customize flowcontrol seems to be a no-op.

It looks like when bdp is enabled even for the initial settings we start a periodic update in flow control module which will just choose its own value.

Ideally there should be a test for this.

[2018-01-31 19:29] adelez commented on #13621
After fixing the path issue to resolver_component_tests_runner, I landed at the same error as described in the original post: "dig: command not found"

[2018-01-31 19:32] adelez commented on #13621
@apolcyn , could you please take a look at this issue? Thanks!

[2018-01-31 19:55] adelez opened #14257 "Bazel test failure: //test/cpp/qps:qps_openloop_test fails with tsan and dbg"
https://source.cloud.google.com/results/invocations/58e439f3-e691-4754-9ca2-24afb80fdae8/targets/%2F%2Ftest%2Fcpp%2Fqps:qps_openloop_test@poller%3Depoll1/log

[2018-01-31 20:12] cauthu opened #14258 "use of dynamic_ssl_server_credentials and forking can result in deadlocks"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
1.8.4 python

### What operating system (Linux, Windows, …) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 2.7

### What did you do?
we have python servers that use `dynamic_ssl_server_credentials` [1] and do some forki

[2018-01-31 21:47] muxi commented on #13960
@jboeuf - It looks like the [per-call override of hostname](https://github.com/grpc/grpc/blob/32b9bddb27f9ac8aeb57b83ab7d7f7cd5946b564/src/core/lib/surface/channel.cc#L269) is not taken into consideration in TLS. The overridden hostname seems only [depends on `GRPC_SSL_TARGET_NAME_OVERRIDE_ARG`](https://github.com/grpc/grpc/blob/32b9bddb27f9ac8aeb57b83ab7d7f7cd5946b564/src/core/lib/security/creden

[2018-01-31 22:02] markdroth commented on #14220
@AspirinSJL, you're right, it does seem a bit weird that we don't wind up propagating the `disconnect_with_error` transport op down to each subchannel.  However, I don't think it would be safe to change the client_channel code to propagate that transport op down to all subchannels.  And even without us doing that, I think this bug should not be occurring anyway.

Keep in mind that we share subchan

[2018-01-31 22:05] hsaliak commented on #14251
@shinzui at this point we do not have language bindings for OCaml. It is also not in the roadmap.

[2018-01-31 22:24] #14251 closed

[2018-01-31 22:27] cgwy commented on #12579
@iros
@douglaseck

What versions of Google Cloud Sdk are you using ?

Would "gcloud components update" solve this issue?

[2018-01-31 22:31] mradmila opened #14260 "gRPC client caches connection through LB after version 1.8, so LB happens"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 Yes.

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/quest

[2018-01-31 22:38] dcow commented on #13997
I'll test this soon.

[2018-01-31 22:38] vjpai opened #14261 "Implement SerializationTraits<protobuf::Message> for ByteBuffer rather than grpc_byte_buffer"
### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Tried to directly use SerializationTraits

### What did you expect to see?

A direct serializer betw

[2018-01-31 23:18] dcow commented on #13960
FWIW for anyone who isn't using gRPC solely on the public internet or fully configured "site", we depend on the ability to specify hostname. Really, we depend on being able to use TLS to meet our own requirements and specifications. It's not really a "test only" feature despite gRPC having such an opinion. It's simply an extra step the client can use to increase confidence in a remote server's ide

[2018-01-31 23:21] cgwy commented on #12579
@douglaseck
Also, the current app.yaml would not work.

Listing grpcio in requirements.txt would not let dev_appserver accept it, because grpc is a [built-in bundled library](https://cloud.google.com/appengine/docs/standard/python/tools/using-libraries-python-27) with C-extension for python27 runtime.

See [this doc](https://cloud.google.com/appengine/docs/standard/python/tools/using-libraries-pyt

[2018-01-31 23:38] #13445 closed

[2018-01-31 23:52] dcow commented on #13960
@phacops I was able to use a certificate with the same subject and issuer; the CA and leaf certificates are even signed with the same key (so subjectPublicKeyInfo, authorityKeyId and subjectKeyId are the same, too). OpenSSL has no trouble verifying leaf certificates of that nature. Generally, it's okay for CAs to _self-issue_ certificates that can be used for TLS and there is no requirement that s

[2018-02-01 00:39] adelez commented on #13607
Hi David, could you please triage and assign this bug to a proper owner? Thanks!

[2018-02-01 01:21] markdroth commented on #14260
Are you using a secure channel?  If so, I suspect that what you're seeing here is the effect of #12767.  Prior to that PR, we were (incorrectly) failing to share subchannels to the same backend between channels when a security connector is in place.  Now, we do share the subchannels, which is what we were always supposed to do.

Note that subchannel sharing only occurs when the subchannels are for

[2018-02-01 01:21] #14260 closed

[2018-02-01 01:29] mradmila commented on #14260
I am using an insecure channel. Yes, the address of the LB and the port are exactly the same every time, but I guess I could provide some meaningless identifier for the request. Wouldn't that do the opposite, create the subchannel every time? Then the burden is on client to create some pool?

I guess the meta-question is: how does one get proper server side load-balancing? I was going through defa

[2018-02-01 01:32] mradmila commented on #14260
Server is doing the heavy-lifting, of course... client is lightweight.

[2018-02-01 02:03] helpceo opened #14267 "make: *** [src/core/lib/compression/message_compress.lo] Error 1(安装grpc扩展报错)"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-02-01 03:00] alex-the-man commented on #8763
We see this issue on mips64 as well.

[2018-02-01 04:56] apolcyn commented on #13621
Ack, looking into this again after being OOO earlier this week. There are two missing external deps causing the test to fail, one is `dig`, and the other is the `twisted` python package (and it's dependencies). Looking into a way to express this via bazel and/or adjust the environment of these test runs to make those dependencies available.

[2018-02-01 05:18] jboeuf commented on #13960
@muxi The host is checked for each call:
https://github.com/grpc/grpc/blob/32b9bddb27f9ac8aeb57b83ab7d7f7cd5946b564/src/core/lib/security/transport/security_connector.cc#L876

@jiangtaoli2016 FYI.

[2018-02-01 06:32] vjpai commented on #14261
I'm going to add this as part of "De-wrapping of C++" because the machinery for doing this will fall into place naturally (I think) as C++ is de-wrapped.

[2018-02-01 06:53] noor07 commented on #8649
Thanx thanx thanx, i disabled it and it worked...

[2018-02-01 07:35] yang-g opened #14268 "[FLAKE] bins/opt/resolve_address_test GRPC_POLL_STRATEGY=poll"
[code]

[2018-02-01 07:36] yang-g commented on #14268
This is under mac os: https://sponge.corp.google.com/target?id=229a0588-7e39-4a3e-ae5c-7c764af9be45&target=grpc/macos/pull_request/grpc_basictests_opt&searchFor=&show=FAILED&sortBy=STATUS

[2018-02-01 07:41] mradmila commented on #14260
Hey Mark, I left some notes on GitHub. Can you please comment/offer some guidance? Perhaps an example on what other people do in this situation?

Thanks,

Marko

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark D. Roth <notifications@github.com>
Sent: Wednesday, January 31, 2018 5:21:24 PM
To: grpc/grpc
Cc: Marko Radmilac; Author
Subject: Re: [grpc/grpc] gRPC

[2018-02-01 07:49] 0oneo opened #14269 "crashed on channel_stack.cc:177"
### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?
 objective-c

### What operating system (Linux, Windows, …) and version?
 iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang

### What did you do?
Test GRPC stablity online

### What did you expect to see?
 not crash

### What did you see

[2018-02-01 08:31] 0oneo opened #14270 "crashed on sync.cc line 88"
### Should this be an issue in the gRPC issue tracker?

YES

### What version of gRPC and what language are you using?
GRPC: 1.8.4
language: Objective-C

### What operating system (Linux, Windows, …) and version?
iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang

### What did you do?
test GRPC online to profile the statbility

### What did you expect to s

[2018-02-01 08:48] zz85 commented on #8117
seems like `call.on('cancelled', callback)` works

[2018-02-01 09:26] jtattermusch commented on #14073
I'll close this as it's for v1.8.x branch and we are not seeing it for upstream/master (where we want to focus our efforts).

[2018-02-01 09:26] #14073 closed

[2018-02-01 09:30] jtattermusch commented on #13999
same problem for these test cases too:
`bins/opt/h2_census_nosec_test resource_quota_server`
`bins/opt/h2_load_reporting_test resource_quota_server`
`bins/opt/h2_full+workarounds_test resource_quota_server`
`bins/opt/h2_full_test resource_quota_server`

[2018-02-01 09:31] jtattermusch commented on #13999
After fixing other flakes, this is now pretty high up our priority list.

[2018-02-01 09:33] jtattermusch commented on #11676
@kpayson64, any progress here?

[2018-02-01 09:34] jtattermusch commented on #14234
@murgatroid99  is this on your radar?

[2018-02-01 09:38] jtattermusch commented on #14249
I saw similar data race here:
https://sponge.corp.google.com/invocation?tab=Build+Log&id=b1006b6a-d934-4bc8-987d-c38c25ed7a02&searchFor=

[2018-02-01 09:44] jtattermusch commented on #11116
This only seems to be happening for  UnimplementedRpc test now.

Recent failures:
https://sponge.corp.google.com/invocation?id=e4a158f4-b3a0-4cee-acb0-5aadee5dd0c0
https://sponge.corp.google.com/invocation?id=6fb60be8-f1de-4a28-86cb-90dffb91f92d
https://sponge.corp.google.com/invocation?id=70dde604-c77c-4f66-8c64-e085b5cc5f1f
https://sponge.corp.google.com/invocation?id=0236fd0b-8071-472e-8646-96a

[2018-02-01 09:46] jtattermusch commented on #11116
The key message is here: `async_end2end_test(98597,0x700000187000) malloc: *** error for object 0x7f829a80df30: double free
*** set a breakpoint in malloc_error_break to debug`

[code]

[2018-02-01 09:47] jtattermusch commented on #11116
Other failures say this:
[code]

[2018-02-01 09:50] jtattermusch commented on #11116
@AspirinSJL   it looks like this has to do with subchannel statuses and connectivity - do you wanna take a look?

[2018-02-01 09:54] jtattermusch commented on #13429
Thanks for the updates, @sreecha. Btw, after fixing other stuff, this is now our most frequent flake, so it would be beautiful if we could fix this.

[2018-02-01 09:57] jtattermusch commented on #14249
After fixing other stuff, this is now higher in our priority list.

[2018-02-01 11:01] oujiwei opened #14271 "Can make default/initial Window Size configurable ?"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 yes
Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questio

[2018-02-01 11:48] jtattermusch commented on #13999
I can repro on my macbook with `GRPC_TRACE=api GRPC_VERBOSITY=debug tools/run_tests/run_tests.py -l c -c dbg -r 'h2_census_test resource_quota_server' -n 100 -j 8`

[2018-02-01 13:21] danmatthews commented on #4027
@jorgeolivero sorry to message you almost 2 years on, but how did you solve it? I'm having a similar issue over here https://github.com/invertase/react-native-firebase/issues/758#issuecomment-362078291.

[2018-02-01 14:55] tainguyennc commented on #14014
We moved to 1.9.0-pre1 release and the problem goes away

[2018-02-01 15:10] shinzui commented on #14251
@hsaliak Are you aware of any 3rd party implementation? I tried to google but couldn't find anything.

[2018-02-01 15:20] markdroth commented on #14260
If you're using an insecure channel, then #12767 wouldn't have had any effect.  But in that case, subchannel sharing should have been working all along, so I'm not sure why you saw any behavior change in 1.8.  But in any case, the behavior you're seeing now is the intended behavior, and using channel args to disable sharing should work around it.

Yes, that will cause each channel to create its ow

[2018-02-01 15:34] ncteisen commented on #13999
I have set aside some time today to work on this

[2018-02-01 15:34] ncteisen commented on #13429
I have set aside some time today to work on this

[2018-02-01 16:43] jtattermusch commented on #14174
Duplicate of https://github.com/grpc/grpc/issues/10092 (which is already fixed)

[2018-02-01 16:43] #14174 closed

[2018-02-01 16:48] jtattermusch commented on #13691
I think this is a duplicate of https://github.com/grpc/grpc/issues/13445 (already closed).

[2018-02-01 16:48] #13691 closed

[2018-02-01 16:50] jtattermusch commented on #13427
I think this is the same as https://github.com/grpc/grpc/issues/14045.

[2018-02-01 16:50] #13427 closed

[2018-02-01 16:50] jtattermusch commented on #13317
Same as https://github.com/grpc/grpc/issues/14045.

[2018-02-01 16:50] #13317 closed

[2018-02-01 16:52] jtattermusch commented on #13651
Not enough info available, closing.

[2018-02-01 16:52] #13651 closed

[2018-02-01 16:56] jtattermusch commented on #13430
Duplicate of https://github.com/grpc/grpc/issues/14045 (already closed).

[2018-02-01 16:56] #13430 closed

[2018-02-01 17:00] jtattermusch commented on #13126
I don't think we are seeing the microbenchmark_diff  problem any more, and the segfault on master can probably be caused by issue https://github.com/grpc/grpc/issues/13445 (already fixed).

[2018-02-01 17:00] #13126 closed

[2018-02-01 17:00] yang-g commented on #14249
Is it still failing after #14263?

[2018-02-01 17:06] jtattermusch commented on #12740
I checked the historical data and we don't seems to be seeing ruby test timeouts in the last month.

[2018-02-01 17:06] #12740 closed

[2018-02-01 17:12] jtattermusch commented on #13224
Only seeing occasional timeouts with poll-cv
https://sponge.corp.google.com/invocation?id=70f47c1c-f86d-4e18-8307-759479672c9c
https://sponge.corp.google.com/invocation?id=6d61b006-c76c-4ce0-b258-e5d9ad40e21c

[2018-02-01 17:14] dgquintas commented on #11116
The double-free log is begging for a run under asan. Unfortunately I can't take a look as I don't have a mac, but definitely asan is the way to go.
In the second case, something is trying to transition a subchannel out of SHUTDOWN, which is illegal. A gdb coredump and a "bt" would indicate who.

[2018-02-01 17:16] jtattermusch commented on #13424
https://sponge.corp.google.com/invocation?id=cc270bcf-4878-406e-9558-dc1c17ce3852

[2018-02-01 17:16] jtattermusch commented on #13424
Not enough data here, closing.

[2018-02-01 17:16] #13424 closed

[2018-02-01 17:17] jtattermusch commented on #13441
https://sponge.corp.google.com/invocation?id=cc270bcf-4878-406e-9558-dc1c17ce3852

[2018-02-01 17:18] jtattermusch commented on #13546
same as #13441.

[2018-02-01 17:18] #13546 closed

[2018-02-01 17:21] jtattermusch commented on #13600
Not seen since Dec 15.

[2018-02-01 17:21] #13600 closed

[2018-02-01 17:23] jtattermusch commented on #13337
bins/tsan/grpclb_end2end_test --gtest_filter=SingleBalancerWithClientLoadReportingTest.Vanilla GRPC_POLL_STRATEGY=epollex

[2018-02-01 17:24] jtattermusch commented on #13337
Not seen since Dec 15.

[2018-02-01 17:24] #13337 closed

[2018-02-01 17:26] jtattermusch commented on #13664
Based on historical data, this haven't been since Dec 12.

[2018-02-01 17:26] #13664 closed

[2018-02-01 17:27] jtattermusch commented on #14165
similar to https://github.com/grpc/grpc/issues/9538.

[2018-02-01 17:30] jtattermusch commented on #14168
I suspect this could have been fixed by https://github.com/grpc/grpc/pull/14177.

[2018-02-01 17:31] jtattermusch commented on #14168
Haven't seen any occurences after #14177 was merged, closing.

[2018-02-01 17:31] #14168 closed

[2018-02-01 17:32] murgatroid99 commented on #14234
This looks like a network failure when downloading external resources that are required for the tests. There is only so much we can do about failures like that. And it's difficult to programmatically distinguish between that and a compilation failure, so I don't know if we want to just blindly retry.

[2018-02-01 17:33] jtattermusch commented on #14249
Last failure I see on master is from `2018-01-31 06:26:44.000 UTC`

[2018-02-01 17:36] jtattermusch commented on #13867
@dgquintas   is this fixed?

[2018-02-01 17:38] yang-g commented on #14249
I think I merged the PR around 10-11pm last night. Let's wait to see whether there is any more failure before closing this.

[2018-02-01 17:41] jtattermusch commented on #14234
I understand this issue is pain to deal with, but currently the flakiness is a bit too high and we should figure out something.
Is there a way we can isolate the "prepare" commands (that download and install the prerequisites) from the actual build of our code and only retry the first group?

[2018-02-01 17:41] ndglover opened #14273 "System.AccessViolationException - Grpc.Core.Internal.GrpcThreadPool.RunHandlerLoop"
### What version of gRPC and what language are you using?
1.8.0 C#

### What operating system (Linux, Windows, …) and version?
 Windows Server 2012 R2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 4.6.1

###
2 different servers had the following error in the log file after which the process crashed immediately.

[code]

Looking in the event viewer at the same

[2018-02-01 17:42] dgquintas commented on #13867
It hasn't happened since Jan 10th, closing.

[2018-02-01 17:42] #13867 closed

[2018-02-01 18:28] AspirinSJL commented on #11116
Looking.

[2018-02-01 19:32] aamitdb commented on #12531
Hey, this is an example of the type of issue I'd like to have resolved by this ticket.

1. Start a gRPC server e.g. https://github.com/grpc/grpc/blob/master/examples/python/route_guide/route_guide_server.py#L29
2. Spawn a daemon thread that is calling the server
[code]
3. Run it in a loop
[code]

Observer a variety of errors e.g.
1. `Exception in thread Thread-2 (most likely raised during interpre

[2018-02-01 19:45] hsaliak commented on #14251
@shinzui I tried googling as well before answering you earlier, but unfortunately I could not find anything. What's your use case? It may be worth asking about this in our grpc-io mailing list - https://groups.google.com/forum/#!topic/grpc-io/WvleL0gTeIA

[2018-02-01 19:59] mradmila commented on #14260
Thanks for your prompt replies. Perhaps it's worth-while popping back one level. My actual app, naturally, is not helloworld, but it exhibits the same behavior. I open a channel to the server pool for each request (which is perhaps silly), through LB (L4 or L7), which is a simple VIP from the client's perspective. Whether I use Python or C# did not seem to matter, unless I explicitly shutdown the

[2018-02-01 20:10] markdroth commented on #14260
Correct.  An individual RPC, whether unary or streaming, will always be to a single server.

[2018-02-01 20:35] blowmage opened #14277 "Ruby Gem 1.8.6 broken on Ruby 2.1 (OS X)"
### What version of gRPC and what language are you using?

Ruby grpc gem 1.8.6

### What operating system (Linux, Windows, …) and version?

OS X

### What runtime / compiler are you using (e.g. python version or version of gcc)

Ruby 2.1

### What did you do?

Requiring the gem on Ruby 2.1 produces the following error:

`LoadError: cannot load such file -- grpc/grpc_c`

The gem `grpc-1.8.6-univers

[2018-02-01 20:35] blowmage commented on #14277
cc @geigerj

[2018-02-01 20:38] geigerj commented on #14277
@apolcyn Could you take a look?

[2018-02-01 20:40] #14243 closed

[2018-02-01 20:41] AspirinSJL commented on #11116
I just pulled master to my mac and ran `tools/run_tests/run_tests.py -l c++ -r "AsyncEnd2end/AsyncEnd2endTest.UnimplementedRpc" -n inf -S -c dbg`. It has passed 23000+ runs without any failure.

@jtattermusch Any suggestion about reproducing it?

[2018-02-01 20:45] geigerj commented on #14277
cc @jbolinger

[2018-02-01 20:55] dgquintas commented on #11116
I'd suggest using antagonist, about 4 or 6 for a laptop.

On Thu, 1 Feb 2018, 12:41 Juanli Shen, <notifications@github.com> wrote:

[2018-02-01 21:04] apolcyn commented on #14277
this is caused by https://github.com/grpc/grpc/pull/13930/files#diff-aef7b9afe0f7f86545849c31559d1f1bL50, which updates master and 1.9.x to build against ruby 2.1.6 instead of ruby 2.1.5 (which was a bad idea, since it breaks the mac package builds on old branches which share the same build environment, with ruby 2.16 instead of ruby 2.1.5 available).

WIP on reverting that change and updating mac

[2018-02-01 21:23] shinzui commented on #14251
We're moving to GRPC for our microservices and I'm concerned that would make it impossible to write a microservice in OCaml. We're mostly a node shop and we're exploring Go, but there are some domains where I would like to use OCaml for.

[2018-02-01 21:47] mradmila commented on #14260
Sorry, another really quick question: there is no code today in grpc client that will say something like: "there are already 100 **concurrent** channels pounding on the same underlying connection/subchannel, let me pump in a few more subchannels and internally load-balance"?

[2018-02-01 21:51] markdroth commented on #14260
No, there is no such functionality today.  We've had some discussions about possibly supporting something like that in the context of avoiding HTTP/2 `MAX_CONCURRENT_STREAMS` limits (see #11704), but we have not yet agreed on anything.

[2018-02-01 22:46] jjlin opened #14280 "`core_stats.h` is getting installed under `$(prefix)/src/cpp/util`"
I just built gRPC 1.8.6 (upgrading from 1.6.0), and it seems a new `core_stats.h` file is getting installed under `$(prefix)/src/cpp/util`, which `rpmbuild` is flagging as an "Installed (but unpackaged) file(s)".

Of course, I could adjust my spec file to handle this, but I suspect this location wasn't intentional, and that the file should actually go somewhere under `$(prefix)/include/grpc`? If n

[2018-02-01 22:47] vjpai commented on #14280
This is being addressed in a PR #14124

[2018-02-01 22:47] #14280 closed

[2018-02-01 23:19] adelez commented on #14188
Friendly ping?

[2018-02-01 23:43] meawoppl commented on #12531
Python `__del__` handlers are a mess, at the very least there should a call which allows the caller to close out connections/threads/etc left by the grpc backend.  I discovered this because our CI check for tests that leave dangling threads.  Simpy opening a insecure channel, and waiting for it to become live is enough to leave threads dangling.

[2018-02-02 00:00] dgquintas commented on #14188
This test will probably be removed. It has been disabled for about a year: https://github.com/grpc/grpc/pull/14284

[2018-02-02 02:00] stephanemoore opened #14288 "+[GRPCHost resetAllHostSettings] synchronizes on a global variable that it changes within the mutex ⚠️"
+[GRPCHost resetAllHostSettings] synchronizes on a global variable that it changes within the mutex. I don't know what the desired concurrency semantics are but I doubt that the current implementation provides anything desirable.

Source Location:
https://github.com/grpc/grpc/blob/c47b3f5/src/objective-c/GRPCClient/private/GRPCHost.m#L37

Original Commit:
https://github.com/grpc/grpc/commit/454432

[2018-02-02 02:19] yashykt commented on #13607
I took a look. The current bazel rule is outdated and does not make sense. It just runs a server. The actual test is bad_ssl_cert_test which does not have a rule, and adding a rule for that does not seem possible without changing the test.

The way this test is written, they start a server as a separate process, and then run the test. For this to work as a test, we would need the ability to add a

[2018-02-02 02:43] apolcyn commented on #14277
1.8.7 was just pushed, which has the fix for this

[2018-02-02 02:43] #14277 closed

[2018-02-02 02:50] nathanielmanistaatgoogle commented on #14251
@shinzui: the magic of open source (and an open and unencumbered protocol) means that we can't stop you from implementing gRPC for OCaml. In terms of getting gRPC OCaml put onto our roadmap: we think that an implementation's passing [our interop tests](https://github.com/grpc/grpc/blob/a16919e1f0032cf3722f7d21bbd37594e9/doc/interop-test-descriptions.md) is a good point at which to consider integra

[2018-02-02 02:51] nathanielmanistaatgoogle commented on #14251
Oh, and my heart will always belong to SML/NJ.

[2018-02-02 03:41] vadimi commented on #11646
hi @mehrdada, is `1.9.1` still the plan?

[2018-02-02 04:06] AspirinSJL commented on #14220
I see. I can understand the expected behavior now.

@muxi Which version is the bug reporter using? The subchannel file they are using looks quite different from the one on our master.

[2018-02-02 04:15] AspirinSJL commented on #11116
Burned some CPU cycles for 10000+ runs with `-a 6` and 27000+ runs with `-a 10`; still can't reproduce.

[2018-02-02 04:16] AspirinSJL commented on #11116
I will check the double-free bug instead.

[2018-02-02 05:51] nathanielmanistaatgoogle commented on #14251
That's more of a guarantee than I meant to indicate. Let's say that when an implementation passes the interop tests that's when we _start_ the conversation about how to get the implementation incorporated into the project.

[2018-02-02 10:46] rainerschoe opened #14290 "Certain rpc names cause compiler errors "... cannot be overloaded". Especially ones ending with "Raw""
### Should this be an issue in the gRPC issue tracker?

I think so, as I searched the internet for similar issues (found none), read the manual multiple times and it works perfectly with slightly different RPC names. Only certain RPC names cause the problem.

### What version of gRPC and what language are you using?

libprotoc 3.5.0
libgrpc++.so.1.8.4 commit 77ec6c94ad58bedfdf8f28682914e9893e318be

[2018-02-02 10:55] jtattermusch commented on #11116
Actually, I also had trouble reproducing locally (so far no luck). I don't have idea except:
- Sometimes, a flake only shows up if other tests are running in parallel (while when trying to reproduce, you usually only run a single specific test). That of course makes things harder to reproduce, as you spend most of the CPU time running other tests and not the one you are interested it.
- Another op

[2018-02-02 14:07] vjpai commented on #14290
The C++ code generator auto-generates RPC variants with the suffix Raw for any rpc name. So you could currently have Foo and BarRaw but not Foo and FooRaw.

That said, I'm not going to close this issue as we either need to document this or do something about it in the future.

[2018-02-02 14:42] jtattermusch opened #14291 "All objc builds are broken on kokoro"
Started failing last night, 100% failure rate since than:
First failing builds:
https://kokoro2.corp.google.com/job/grpc/job/macos/job/master/job/grpc_basictests_dbg/1390/
https://kokoro2.corp.google.com/job/grpc/job/macos/job/master/job/grpc_basictests_opt/1386/

https://sponge.corp.google.com/invocation?id=8c1f3ea6-03d9-4f69-8f81-ab9a9dc1a616&searchFor=

Not sure if it's infrastructure problem o

[2018-02-02 14:43] jtattermusch commented on #14291
@dgquintas  @muxi

[2018-02-02 14:47] jtattermusch commented on #14291
Please check if it could be this PR https://github.com/grpc/grpc/pull/14285.

[2018-02-02 14:50] markdroth opened #14292 "client_channel should cancel all calls when channel is shut down"
As discussed in #14220 (see [this comment](https://github.com/grpc/grpc/issues/14220#issuecomment-362086001)), if a subchannel is in use by two different channels and one of those channels shuts down, the subchannel should not actually be shut down.  However, in this case, even though we don't want to cancel all of the calls on the subchannel, we do want to cancel the calls that are from the chann

[2018-02-02 14:52] markdroth commented on #14220
I think there may be a problem in the case where there are two channels open to the same server and only one of them shuts down.  I've described that situation (and a possible but not ideal fix) in #14292.

I'm not sure this is actually what's happening in this case, because even if there was a second channel open to the same server, I would expect both of them to be destroyed at the same time by

[2018-02-02 15:30] trivigy commented on #8682
@wenbozhu @zinuga I would also appreciate early access. Thank you!

[2018-02-02 16:10] JonasVautherin commented on #8398
@ericgribkoff @muxi I don't know if it is relevant or not, but using the CMakeLists.txt patch in #14193 and setting `third_party/boringssl` to `56d5d7085dd1beea9af220678091fc51e4b50d3e`, I managed to build for iOS using the following cmake arguments (and [this iOS toolchain](https://github.com/leetal/ios-cmake)):

I understand that some people want to use CocoaPods, but in my situation, I prefer b

[2018-02-02 16:31] vjpai opened #14293 "C++: Provide better API for ResourceQuota"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

Master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Used `ResourceQuota`

### What

[2018-02-02 16:51] treuherz opened #14294 "grpc_testing on PyPI"
The repo contains some methods for faking out channels in src/python/grpcio_testing, but these don't appear to be published anywhere despite having been commited several months ago. Are there any plans to make these easier for third parties to use without having to copy all the code into our own projects? Some documentation and examples of their use would also be really helpful. Like a lot of the

[2018-02-02 17:04] dgquintas commented on #14291
#14285 can't be the cause: it's a protected method that's only used in the same file it's defined.

[2018-02-02 17:27] blowmage commented on #14277
Confirming that we have a successful build on OS X with Ruby 2.1 using grpc gem version 1.8.7. Thanks all!

[2018-02-02 17:34] dgquintas commented on #13727
I just saw this again: https://sponge.corp.google.com/target?id=dd02c306-1de7-4d52-ad7b-b6446b39c454&target=github/grpc/c_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[2018-02-02 17:37] dgquintas commented on #14043
I've just notice this issue as part of a PR's tests: https://sponge.corp.google.com/target?id=3378d5d3-55e0-43a7-9c03-170207fb4a73&target=github/grpc/ruby_linux_opt_native&searchFor=&show=FAILED&sortBy=STATUS

Apologies for the internal link (those will be publicly available soon). Reproduced below:
[code]

[2018-02-02 17:37] muxi commented on #8398
Thanks a lot Jonas. We will put cmake after Cocoapods, but I'll definitely give a try.

[2018-02-02 17:41] #9764 closed

[2018-02-02 17:42] #14188 closed

[2018-02-02 17:45] dgquintas commented on #13727
Managed to repro after ~5 min via `./tools/run_tests/run_tests.py -l c -c opt -r dualstack_socket_test -a 20 -n inf -S --force_use_pollers=poll`

[2018-02-02 18:14] kpayson64 commented on #13327
Here are some valgrind outputs:

[code]

[2018-02-02 18:50] adelez commented on #13607
Thank you for looking! Adding the binary as data dependency should work.

[2018-02-02 19:12] matt-kwong commented on #14291
It looks like it might be a clang error:
[code]
Let me check if the MacOS image has been updated.

[2018-02-02 19:18] muxi commented on #14291
FYI I created [a verbose run](https://sponge.corp.google.com/invocation?tab=Build+Log&id=bf774a96-e383-4956-93f8-b3295216a2cd&searchFor=) earlier today to troubleshoot and it turns out for some reason the tag `-fobjc-weak` was added into the build command; it is not there on my local build.

Checked with apolcyn that Ruby was not modified last night. tools/internal_ci did not seem to be changed to

[2018-02-02 19:24] srini100 commented on #14270
@0oneo please post your steps to reproduce this crash.

[2018-02-02 19:55] matt-kwong commented on #14291
It looks like the image was updated last night, but rolled back this morning. Waiting on a build to see if this fixes the problem.

[2018-02-02 21:14] mehrdada commented on #14294
Thanks for the feedback. We intend to publish that at some point. We just haven't gotten to integrate it in our package build system, but we will try to prioritize it and get it done. I can't promise a timeline at this point though.

[2018-02-02 21:21] mehrdada commented on #14294
To add, if the community is super-excited about this, we would love to accept a PR to the artifact build process. I believe around here is where one should start looking to change: https://github.com/grpc/grpc/blob/master/tools/run_tests/artifacts/build_artifact_python.sh

(Basically need to look into how grpcio_reflection and grpcio_health_checking packages are built and follow the pattern in the

[2018-02-02 21:32] ncteisen commented on #13999
Oh, I just realized what's going on here, fix coming after I grab lunch

[2018-02-03 00:54] samskiter commented on #12172
Ok for my own sanity, the workaround involves editing TWO files. Podfile.lock AND Pods/Manifest.lock

The edits should look like this in both:

[code]

This is a dupe or in some way related to https://github.com/CocoaPods/CocoaPods/issues/6980 https://github.com/CocoaPods/CocoaPods/issues/6925 and https://github.com/CocoaPods/CocoaPods/issues/6955 (so I can find my way back to this issue)

[2018-02-03 01:01] matt-kwong commented on #14291
I tried testing on v1.9.x and ObjC passes: https://kokoro2.corp.google.com/job/grpc/job/macos/job/pull_request/job/grpc_basictests_dbg/2559/. I don't see MacOS tests failing in the PRs merged last night, so perhaps a combination of them causes the issue?

[2018-02-03 01:20] apolcyn commented on #14246
I can't understand the problem from the description here.

For the behavior you're seeing, what exactly is meant by <i>polling</i> and the connection being <i>rapidly opened and closed</i>. Are you observing multiple TCP connections getting opened and closed when attempting one streaming call?

Closing as I can't investigate this further. Feel free to reopen if more defails can be provided?

[2018-02-03 01:27] apolcyn commented on #14043
To be clear, the failure shown in that test log above has the same failure but a different cause as the one in the OP of this issue.

@rurounijones, as to your comments, I agree that my first suggestion is a lot of boiler plate. Perhaps grpc can provide a convenience utility to something along those lines though.

I can't think of any good way to allow doing:

[code]

but we might be able to provi

[2018-02-03 01:28] kgreenek commented on #14246
Yes, multiple TCP connections are opened and closed when attempting one streaming call. The client opens the connection, receives one reply, closes it, and then reopens it.

I would expect it to open the connection, receive a series of replies, and then only close the connection when the client or server closes it.

I don't see how I can reopen this issue on GitHub. Is there a button to "reopen"?

[2018-02-03 01:32] apolcyn commented on #14246
Repoened. Can you please show the log traces which indicate that multiple TCP connections are opened and closed?

[2018-02-03 01:45] kgreenek commented on #14246
Happy to. How do I get the log traces you need?

I haven't actually sniffed the network to see if the actual connections are being opened and closed, but in my server, I am seeing the context.is_active() flag get set to false, which isn't (supposed to be) set until the connection is closed.

If it helps, here is a python server code snippet that produced the logs in the issue description:
[code]

[2018-02-03 02:00] apolcyn commented on #14246
One way to check is tcpdump. Running locally, you could run something like `tcpdump -i lo 'port <server port>', and then watch the tcpdump logs to see if you can see connections being created and closed (indicated by syn and fin packets).

[2018-02-03 02:05] kgreenek commented on #14246
Thanks. I'll paste those here sometime next week. I don't have access to the Ruby client right now.

[2018-02-03 20:23] muxi commented on #14291
I created #14302 and #14303 to pinpoint which was the cause. #14302 reverts master to the state before 6:18PM Feb 1; #14303 reverts changes in `tools/internal_ci` to the state in v1.9.x. We'll see which one(s) fail.

[2018-02-03 20:57] teganburns opened #14304 "Request for updated src/cpp/README.md"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
yes

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questio

[2018-02-04 02:56] srini100 commented on #14304
As a new user I was able to build fine but I followed instructions at https://github.com/grpc/grpc/blob/master/INSTALL.md
Not sure if it makes any difference but I see that instructions at https://github.com/grpc/grpc/blob/master/src/cpp/README.md don't have these steps:
 $ [sudo] apt-get install libgflags-dev libgtest-dev
 $ [sudo] apt-get install clang libc++-dev

[2018-02-04 19:45] muxi commented on #14291
#14302 still failing and #14303 passed. Looks like something is breaking in CI script...

[2018-02-04 20:39] muxi commented on #13960
@jboeuf - I see that makes sense. Thank you! That code is not executed for now, so something else is wrong I think.

@dgquintas - From my debug run, [`maybe_prepend_client_auth_filter`](https://github.com/grpc/grpc/blob/785dda80dc1115df5af903b6fe9a15db90ea33b1/src/core/lib/surface/init_secure.cc#L39) is registered [here](https://github.com/grpc/grpc/blob/785dda80dc1115df5af903b6fe9a15db90ea33b1/sr

[2018-02-05 02:25] 0oneo commented on #14270
@srini100 the crash happens on low rate on our production. On my dev machine, I have never came to this crash

[2018-02-05 02:25] 0oneo commented on #14270
@srini100 the crash happens on low rate on our production. On my dev machine, I have never came to this crash

[2018-02-05 04:00] biolee commented on #8682
Could I have early access as well?

I have 2FA enabled.

Thanks in advance!

[2018-02-05 09:14] shell909090 commented on #8682
@wenbozhu
    May I have early access? I have 2FA enabled.
    Thx.

[2018-02-05 10:01] benitogf commented on #8682
@wenbozhu @zinuga can I have early access? 2FA is enabled, thank you!

[2018-02-05 12:10] AngryLemonn opened #14309 "Lagged RPC after server restart"
### Should this be an issue in the gRPC issue tracker?
 Maybe

### What version of gRPC and what language are you using?
 Current master branch (1.9.x)

### What operating system (Linux, Windows, …) and version?
 Debian Jessie (8.8)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 g++ (4.9.2)

### What did you do?
**The scenario is as follows:** One client doing

[2018-02-05 12:41] jtattermusch opened #14310 "AddressSanitizer: heap-use-after-free /var/local/git/grpc/src/core/lib/gpr/mpscq.cc:49:44 in gpr_mpscq_pop_and_check_end(gpr_mpscq*, bool*)"
This happened  in test `bins/asan/bm_fullstack_unary_ping_pong --benchmark_filter=BM_UnaryPingPong<MinInProcessCHTTP2, NoOpMutator, NoOpMutator>/134217728/0$ GRPC_POLL_STRATEGY=epollsig`, but it is distinct problem
from https://github.com/grpc/grpc/issues/13445.

https://sponge.corp.google.com/target?id=bf81276d-fab2-434d-9799-075896a062b0&target=github/grpc/cpp_linux_asan_native&searchFor=&show=A

[2018-02-05 12:43] jtattermusch commented on #14310
Seems to be a race between destroying a chttp2 transport and popping from mpscq

[2018-02-05 12:44] jtattermusch commented on #13445
Note: failures in `bm_fullstack_unary_ping_pong` has been seen since the fix, but it's not the original problem and it's much less frequent. Filed as  https://github.com/grpc/grpc/issues/14310.

[2018-02-05 12:50] jtattermusch commented on #13727
Not sure if we should redesign the test somehow or just increase the deadline for expect_ok = false even further.

[2018-02-05 12:58] jtattermusch commented on #12505
No action here for several months, the problem is probably outdated. Closing.

[2018-02-05 12:58] #12505 closed

[2018-02-05 13:01] jtattermusch opened #14311 "pylint_code.sh is flaky"
Pylint is currently breaking about 4% of master builds.

The problem is one of the prepare steps  (preparation of the virtualenv?) seems to be flaky:

Recent occurrences on master:
https://sponge.corp.google.com/target?id=1d1386fc-6bf7-4889-b30e-5da7d92e25ba&target=github/grpc/sanity_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS
https://sponge.corp.google.com/target?id=a0de0804-7a5f-492d-8

[2018-02-05 13:01] jtattermusch commented on #14311
[code]

[2018-02-05 13:02] jtattermusch commented on #14311
[code]

[2018-02-05 13:03] jtattermusch commented on #14311
All issues seem be basically be flakiness when downloading the prerequisites, we should think of a way not to require any such preparation when running pylint_code.sh

[2018-02-05 14:17] AngryLemonn commented on #14216
This can be done adding something like this to the SSL context:

[code]

In some cases, the passphrase comes from a derived salt. For that reason, you must give an opportunity to the GRPC user to set the passphrase via callback.

Regards,
J. A.

[2018-02-05 14:53] jtattermusch commented on #13945
Related to https://github.com/grpc/grpc/issues/13945.

[2018-02-05 15:24] jtattermusch commented on #14249
No failures seen since `2018-01-31 06:26:44.000 UTC`, closing. And thanks for the fix!

[2018-02-05 15:24] #14249 closed

[2018-02-05 15:36] jtattermusch commented on #11676
@mehrdada , could you take a look?

[2018-02-05 16:06] kpayson64 commented on #11676
@jtattermusch
Sorry, I've been looking at #13327 last week.  Maybe @mehrdada can take a look.

[2018-02-05 16:34] mehrdada commented on #11676
Sure, will take a look

[2018-02-05 17:09] #13999 closed

[2018-02-05 17:21] jtattermusch commented on #14291
Current situation: many of the objc examples are now building fine, but for the `objc-tests` target, I see this compilation error:
``
write-file /Users/kbuilder/Library/Developer/Xcode/DerivedData/Tests-giodclofueabqfanadigbvvvjndw/Build/Intermediates/Pods.build/Test-iphonesimulator/gRPC-RxLibrary.build/gRPC-RxLibrary-own-target-headers.hmap
Volumes/BuildData/tmpfs/src/github/grpc/workspace_objc_m

[2018-02-05 17:25] jtattermusch commented on #14291
https://github.com/grpc/grpc/blob/b1f5d59b4fb567cdcc6786122d7bfcbd698f9af0/src/objective-c/RxLibrary/GRXConcurrentWriteable.m#L70

[2018-02-05 17:59] jtattermusch commented on #14291
Hopefully fixed by https://github.com/grpc/grpc/pull/14314

[2018-02-05 18:12] dgquintas commented on #13727
well, increasing the deadline is faster, let's give that a try.

[2018-02-05 18:16] dgquintas commented on #13960
The way to get to that function is from [here](https://github.com/grpc/grpc/blob/b1f5d59b4fb567cdcc6786122d7bfcbd698f9af0/src/core/lib/surface/init.cc#L144), which is always invoked always, as part of the init. However, there are two implementations of it, one if [init_secure.cc](https://github.com/grpc/grpc/blob/b1f5d59b4fb567cdcc6786122d7bfcbd698f9af0/src/core/lib/surface/init_secure.cc#L69) and

[2018-02-05 18:31] #14311 closed

[2018-02-05 18:58] muxi commented on #13960
Sorry I just found I was not clear and caused confusion.

The function `grpc_register_security_filters()` in `init_secure.cc` was indeed always invoked by `grpc_init()`. However inside this function, it calls [`grpc_channel_init_register_stage`](https://github.com/grpc/grpc/blob/785dda80dc1115df5af903b6fe9a15db90ea33b1/src/core/lib/surface/init_secure.cc#L70) which only **registers** `maybe_prepen

[2018-02-05 19:01] jtattermusch commented on #14165
@ZhouyihaiDing   is there a way how to reproduce this in C/C++ (outside of PHP)?

[2018-02-05 19:21] jtattermusch commented on #13848
Also timing out for  `py35.test.unit.beta._face_interface_test.DynamicInvokerFutureInvocationAsynchronousEventServiceTest`

Recent occurences
https://sponge.corp.google.com/invocation?id=002148f9-c84b-4104-b634-507341378e40
https://sponge.corp.google.com/invocation?id=ffd4bdfc-2c7b-427d-9c63-0d14a3ad775d
https://sponge.corp.google.com/invocation?id=ee2890bf-af8d-48d2-9ed5-fb55b07ee838
https://spon

[2018-02-05 19:27] jtattermusch opened #14317 "Windows Python artifact build broken"
Not linked to a specific change, suddenly all windows artifact build are broken. I suspect some python package got updated on pip, which broke the build?

https://sponge.corp.google.com/invocation?tab=Build+Log&id=410d9145-8fbb-4439-baad-ae01f460eb0e&searchFor=

[2018-02-05 19:28] mehrdada commented on #14317
On Kokoro? We had a problem with Jenkins that @matt-kwong fixed recently

[2018-02-05 19:28] jtattermusch commented on #14317
[code]

[2018-02-05 19:28] jtattermusch commented on #14317
@mehrdada , yes, on Kokoro.

[2018-02-05 19:29] jtattermusch commented on #14317
It started failing about 1 day ago

[2018-02-05 19:33] adelez opened #14319 "Run full fuzzer tests in bazel"
Run full fuzzer tests in bazel. @nicolasnoble @dgquintas

[2018-02-05 19:40] jtattermusch commented on #14317
It looks like all the Python 64bit artifacts are broken, all the 32bit work.
https://sponge.corp.google.com/target?showTestCases=FAILURE&showTestCases=PASSED&showTestCases=&id=410d9145-8fbb-4439-baad-ae01f460eb0e&searchFor=&show=ALL&tab=Test+Cases&target=github%2Fgrpc&view=FLAT&sortMethodsBy=STATUS&showRuns=SHOW_ALL_RUNS

[2018-02-05 19:48] jtattermusch commented on #14317
https://pypi.python.org/pypi/setuptools/38.5.0  was released yesterday.

[2018-02-05 19:52] mehrdada commented on #14317
That matches the symptoms on Jenkins last week.  I wonder how @matt-kwong managed to fix it?

[2018-02-05 19:57] matt-kwong commented on #14317
I don't think this is similar to the issue I fixed last week. Last week's issue was a specific Jenkins VM failing builds (I never figured out why), so I disabled it and let other VMs handle the Windows artifact jobs. I think this looks more like a pip dependency being upgraded and breaking our builds, which has happened multiple times in the past. Pinning it might fix the issue.

[2018-02-05 20:54] jtattermusch commented on #14317
Fixed by #14320

[2018-02-05 20:54] #14317 closed

[2018-02-05 21:13] dgquintas commented on #13960
I see. The logic of that function is quite simple. It saves the function pointer for later use in [`grpc_channel_init_create_stack`](https://github.com/grpc/grpc/blob/b1f5d59b4fb567cdcc6786122d7bfcbd698f9af0/src/core/lib/surface/channel_init.cc#L101). I don't see any way it wouldn't be invoked. Would it be possible to ensure that `grpc_channel_init_create_stack` is also getting invoked? That shoul

[2018-02-05 22:02] dvaldivia commented on #13536
This is still happening on `grpc-python 1.8.4`

[2018-02-05 22:28] adelez commented on #13715
#14316 and #14326

[2018-02-05 22:49] yashykt commented on #13607
Update: using it as a data dependency worked. I didn't expect data dependencies to allow cc_binary

[2018-02-05 23:08] dvaldivia commented on #13873
A workaround for those in need might be to downgrade to `grpcio==1.4.0` , however it'd be nice if this is fixed in newer versions as well

[2018-02-05 23:20] dvaldivia commented on #13873
I found another work around with `grpcio==1.8.1` you can set the flag `GRPC_ENABLE_FORK_SUPPORT` to `true` and it will work

[2018-02-05 23:23] remram44 commented on #13873
Oh my god what is this nonsense

Where is this documented?

Does the environment variable work with other versions or only `1.8.1`?

[2018-02-05 23:25] wenbozhu commented on #8682
Thanks for all the interests.

If you have tried grpc-web, please help fill this [short survey](https://docs.google.com/forms/d/15Yh6ZPT5djjC0GfEr3GMjw7A3C1lUsbdhH08oDVdw3U/edit). We are very close to making the repo public ... and finally close this sign-up thread ;)

[2018-02-05 23:47] teganburns commented on #14304
@srini100
- That's a good thing to point out and should probably be updated as well.
- You shouldn't need those packages unless you're running tests too, but I can't confirm that.
- I'm building on a different platform than you and don't have the same package manager ( pacman ).

[2018-02-05 23:56] #14247 closed

[2018-02-06 01:17] srini100 commented on #14304
@teganburns Not sure if this is relevant to your case, I run into build errors if pkg-config is not installed. That is also not mentioned in the build instructions. Without pkg-config, I get these errors:

Compiling src/core/tsi/ssl_transport_security.cc
src/core/tsi/ssl_transport_security.cc: In function ‘tsi_result tsi_create_ssl_client_handshaker_factory(const tsi_ssl_pem_key_cert_pair*, const

[2018-02-06 01:32] ZhouyihaiDing commented on #14165
Okay, I'll try to reproduce it with C++.
It may caused by macro or initiate value difference between different systems, although I haven't verify it. Otherwise it's strange it works fine in ubuntu 16,17 but failed in debian 4.9.65.

[2018-02-06 01:35] kpayson64 commented on #13327
We've cut a patch release for 1.9.1 containing the fix.  Please reopen if the issue is not resolved.

[2018-02-06 01:35] #13327 closed

[2018-02-06 02:33] matt-kwong commented on #14291
Fixed by #14314 or #14324. Last ObjC test suite passed for both dbg and opt in master.

[2018-02-06 02:33] #14291 closed

[2018-02-06 02:36] sreecha commented on #14055
Reassigning to @kpayson64 .

[2018-02-06 03:03] srini100 commented on #14270
@0oneo Fix for #13327 is in 1.9.x. If you can, please try this version. After some mileage, fix may be backported to 1.8.x.

[2018-02-06 03:13] Thaina commented on #14109
Using firestore from google cloud dotnet and got this error too. Using it on aws lambda that is serverless might be related

[2018-02-06 05:31] flowbehappy commented on #10759
Hi!
I'm using mac and want to compile grpc with cmake.
I tried run https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_cmake.sh  with L20-L22 lines commented out. But failed on command `make -j4 install` (https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_cmake.sh#L57).

error logs:

[code]

[2018-02-06 05:47] zefyrr commented on #9493
Would it be possible to leverage cronet on the cpp side for this?

[2018-02-06 06:24] Thaina commented on #14088
Using firestore from GoogleCloudDotnet and got this error too

Using it on serverless aws lambda might be related

[2018-02-06 08:18] zyf0330 commented on #10786
Is there any schedule to fix this?

[2018-02-06 10:19] jtattermusch opened #14332 "Excessive portion of total test runtime is spent running poll-cv (42% or total time)"
Tracking issue for reduction of total test runtime.

I did an analysis of all our upstream/master tests runs over last 72 hours (aggregating duration of individual test runs)
[code]

Because poll-cv tests are slower than other pollers, it turns out we are spending 42% of time running poll-cv tests, which seems like we aren't using the resources efficiently.
If we reduce/optimize the poll-cv tests,

[2018-02-06 10:21] jtattermusch commented on #14332
@markdroth   @nicolasnoble  @dgquintas  @sreecha , how useful are the poll-cv tests? We can make an additional breakdown, but first I wanted to check that we really need those tests.

CC @matt-kwong

[2018-02-06 11:14] Maijied commented on #8495
Just downgrade your Node.js version .
And try to use node-v6.9.0 version.

[2018-02-06 11:43] flowbehappy commented on #10759
Fixed it after upgrade my openssl to 1.0.2n.

[2018-02-06 12:11] Maijied commented on #11239
uninstall previous node.js and
download load node version 8.4.0
Install and run .Hopefully the problem will be solve.

[2018-02-06 12:51] IljaDaderko opened #14333 "BoringSSL -fobjc-weak is not supported on the current deployment target"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

I believe so

### What version of gRPC and what language are you using?
Updated my ios project cocoapods that seem to rely on `gRPC`, these were updated to:

[code]

### What operating system (Linux, Windows, …) and version?
macOS High Sierra

### What runtime / compiler are you usi

[2018-02-06 14:14] armand1m commented on #10502
I'm having this same issue on Windows 10 x64 machine with VS2017 and VS2015 using GRPC v1.4.0

[2018-02-06 14:14] armand1m commented on #10502
Tried almost everything, even used Dependency Walker to verify if there are implicit or forwarded dependencies missing, and my system showed a lot of them but I have noones to compare to

[2018-02-06 14:36] rurounijones commented on #14043
Ahoi apolcyn.

I just realised that I screwed up one of my examples. I meant to type:

   s = GRPC::RpcServer.new
   ...
   begin
     s.start
   rescue SystemExit, Interrupt
     s.stop
  end

Basically go with your idea of letting the server itself manage its shutdown but have the application be responsible for triggering it. It looks like this is already sorta half-implemented in http://www.rub

[2018-02-06 14:43] jtattermusch commented on #10502
@armand1m   first of all, I'd recommend trying with a newer version of gRPC than 1.4.x (we now have v1.9.0)
If that still doesn't work, I'd recommend trying to install https://www.microsoft.com/en-us/download/details.aspx?id=48145 (it shouldn't be necessary, but it's worth trying).  If none of that helps, I can't really help without more details, as the nugets seems to work fine for many Win 10 us

[2018-02-06 15:34] jtattermusch commented on #11646
This definitely shouldn't go into 1.9.1, but should wait for the next minor release 1.10.x . 1.9.0 is already out without interceptor support and patch releases are not the right place to add bigger features like this (+ there would be lot of overhead upmerging bigger changes like this to the master branch and then dealing with potential fixes for issues that are found out later - if any).

[2018-02-06 16:37] jtattermusch opened #14334 "run_ruby.sh failed with assertion in completion_queue.cc"
https://sponge.corp.google.com/target?id=c4e4a9b8-306e-4490-827f-75c8cb9c405f&target=github/grpc/ruby_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

`E0206 16:06:53.913985328   12893 completion_queue.cc:487]    assertion failed: cqd->completed_head.next == (uintptr_t)&cqd->completed_head`

[code]

[2018-02-06 16:42] jtattermusch commented on #13429
Any progress here?

[2018-02-06 16:44] jtattermusch commented on #11116
https://sponge.corp.google.com/invocation?id=c4be75e2-1774-4249-947b-c11d9c1940b9

[2018-02-06 16:58] sreecha commented on #13429
I looked at it some more last evening ..no update yet. I'll send an update by EOD

[2018-02-06 17:57] dgquintas commented on #14332
They are quite useful. Given how different poll-cv is from all the other pollers (it's much slower), it has surfaced many issues in the past.

[2018-02-06 18:30] jtattermusch commented on #14332
Ok, then we'll probably need to take a look into making them more efficient or do a bit less (e.g. fewer iterations in loops etc.) to compensate for them being so slow. If there are some obvious candidates for optimization, please let me know.

[2018-02-06 18:42] AspirinSJL commented on #11116
Hmm.. I still can't reproduce it locally on my mac, for neither bug. The only issue I see is that it times out for once.

How frequent are those failures?

[2018-02-06 18:54] theckwolf commented on #14248
I have also run into an issue similar to this in 1.8.x and 1.9.x. With 1.8.x and newer a change was done with channels which caused this issue. If needed I can show the files and the change that broke this.

[2018-02-06 19:02] y-zeng commented on #14248
@theckwolf It'd be great if we can have more information about this issue.

[2018-02-06 20:12] dvaldivia commented on #13873
@remram44 I tried `1.8.2` and `1.9.0` without success, also it seems like this problem only happens on `macOS` not on `Linux`

[2018-02-06 22:11] mehrdada commented on #11676
For future reference, to summarize the issue, some of those invocations are general python infra failures, and at least one of the Sponge logs affects Python3.4, so it is not just 2.7. Looks like the `UNAVAILABLE` errors that we used to see that went away by disabling `so_reuseport`:

[code]

[2018-02-06 23:38] meawoppl opened #14338 "Channel creation/destruction may leave dangling thread."
### What version of gRPC and what language are you using?
- Python==3.5.2
- grpcio==1.8.4
- grpcio-tools==1.8.4

### What operating system (Linux, Windows, …) and version?
 - Linux Ubuntu 16.04
 - Windows 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
 - Python==3.5.2

### What did you do?

Here is an example of a minimal function call we wrote
[code]
And here

[2018-02-06 23:54] meawoppl commented on #14338
Possibly also #6666

[2018-02-07 00:20] mehrdada opened #14340 "Remove extra sleep in ReconnectTest after polling hack is resolved"
This issue tracks a work item to revert https://github.com/grpc/grpc/pull/14339 when the polling thread hack to track channel connectivity is removed and proper retry mechanisms are in place

[2018-02-07 00:33] mehrdada commented on #14001
@subhayu89 Can you try and see if `v1.9.1` tag has this issue? https://github.com/grpc/grpc/pull/14315 may have already fixed this.

[2018-02-07 00:34] mehrdada commented on #14040
This might be already fixed by https://github.com/grpc/grpc/pull/14315  I'll close it. Please reopen if seen again.

[2018-02-07 00:34] #14040 closed

[2018-02-07 01:09] #11676 closed

[2018-02-07 01:36] SebastianThiebaud commented on #8155
Hello. I believe this isn't happening then?

[2018-02-07 01:58] muxi commented on #13960
Thanks @dgquintas. After more tests it seems that `grpc_channel_init_create_stack` calls `maybe_prepend_client_auth_filter` when I connect to host `grpc-test.sandbox.googleapis.com`. If I connect to a server with IP address, `maybe_prepend_client_auth_filter` is not called.

[2018-02-07 02:02] ZhouyihaiDing commented on #13412
Thanks! Discussed offline.
Currently there are some issues enabling `GRPC_ENABLE_FORK_SUPPORT` on macOS and the work for solving it is in progress.. I tested it on Sierra 10.13.3 and the script still hangs.
It's hard to find a place to further delay the call to `grpc_init()` than `RINIT` unless involving API changes as `2b` describes. When `GRPC_ENABLE_FORK_SUPPORT` is finished, this issue may be

[2018-02-07 02:02] muxi commented on #8155
That is correct. Contribution is welcomed.

[2018-02-07 03:42] ChristianYeah opened #14347 "unable to call grpc method with php-swoole"
grpc protobuf and protoc are the latest version
using centos7 in docker
php7.0 swoole 2.0
Im running the example code of grpc server in ```example/node/dynamic_codegen```, and trying to call the grpc method in swoole
[code]
ISSUE: it's able to call the grpc when swoole server is being brought up, while it's unable to call the grpc method when swoole http server is listening the request

this could

[2018-02-07 03:42] mehrdada commented on #14269
Can you please try v1.9.1 and see if you can reproduce anything like this. I suspect all of these issues are related to #13327.

[2018-02-07 04:24] #14347 closed

[2018-02-07 04:55] sreecha commented on #13429
I found the root cause for the issue.

TLDR; Server shutdown does a write that **sometimes** does not complete and needs some thread to do a cq-next() to complete the write. This thread is single threaded and the thread is blocked in the server shutdown call and no other thread is doing a cq-next.

The fix may look trivial but it is not. The problem is a bit more subtle. Here are more details of t

[2018-02-07 05:00] avinassh commented on #4543
@muxi @hsaliak can I send a PR on that page? I guess it can be put under `Related Guides` in siderbar

[2018-02-07 05:57] adelez commented on #13607
It's now failing with https://source.cloud.google.com/results/invocations/de9624c7-15ba-4216-8e18-ba8d44247728/targets/%2F%2Ftest%2Fcore%2Fbad_ssl:bad_ssl_cert_test/log

[2018-02-07 06:07] sandersaares opened #14350 "CPU core maxed out by grpc_csharp_ext.x86.dll!_grpcsharp_version_string"
### Should this be an issue in the gRPC issue tracker?
 Yes

### What version of gRPC and what language are you using?
 C# 1.7.1

Possibly older version, as this software has been deployed for some time now. The gRPC DLL files carry a date of October 31 2017.

### What operating system (Linux, Windows, …) and version?
 Windows 10 v1709

### What runtime / compiler are you using (e.g. python versio

[2018-02-07 06:08] dgquintas commented on #13429
Sree you are THE BOSS!

On Tue, 6 Feb 2018, 20:55 Sree Kuchibhotla, <notifications@github.com>
wrote:

[2018-02-07 06:21] 0oneo commented on #14269
OK，I will give it a try, later will post the production result

[2018-02-07 07:54] jtattermusch commented on #11116
Not very frequent: once every 40 builds perhaps?

you can use this bigquery to find out yourself:
[code]

[2018-02-07 07:57] jtattermusch commented on #11116
But considering the error message is almost always the same, there's definitely something wrong with either our code or test.

[2018-02-07 08:04] sreecha commented on #13429
Fix here: https://github.com/grpc/grpc/pull/14351

[2018-02-07 08:13] jtattermusch commented on #14350
Thanks for reporting. Is there a way I can reproduce? (looks like you can't reproduce locally).
- how often does it happen?
- any other info that would help me reproduce? (spending so much time in grpcsharp_version_string does sound odd indeed).

[2018-02-07 08:14] jtattermusch commented on #14350
https://github.com/grpc/grpc/blob/fb369d95677b85995071e8255230c8bd7e291216/src/csharp/ext/grpc_csharp_ext.c#L1117

[2018-02-07 08:16] sandersaares commented on #14350
This is the only instance it has occurred so far. The three processes are still running and eating CPU - if there is anything I can do to provide more info I am happy to troubleshoot and analyze the system further.

[2018-02-07 08:22] jtattermusch commented on #14350
Also, grpcsharp_version_string is actually never invoked in Grpc C#  (and GetCoreVersionString is only an internal function which is even more weird). Could you attach a debugger to the running process and get as much info as you can from it?

[2018-02-07 08:29] sandersaares commented on #14350
There is a process memory dump linked in the OP that you should be able to open with a debugger. I was not able to divine any useful information out of there myself with some quick probing around, though.

Are the symbol files for grpc_csharp_ext.x86.dll available somewhere? I suspect the function Process Monitor references there is just the name of the closes exported function in memory and it is

[2018-02-07 08:35] jtattermusch commented on #14350
I can probably find the .pdb file for you if you provide me with your version of grpc_csharp_ext.dll (exact file size or checksum)

[2018-02-07 08:38] sandersaares commented on #14350
Filename grpc_csharp_ext.x86.dll, size 1367552 bytes, date October 31 2017, sha1 b496dd1a560eb3097994747ea94969b75e8dfce9

[2018-02-07 10:13] jtattermusch commented on #11043
@MitchDart can you  provide more details about the issue you are seeing? (the usual info: platform, gRPC version, any other additional that would help reproducing etc.)

[2018-02-07 10:20] jtattermusch commented on #11043
@MitchDart I think the problem was resolved by https://github.com/grpc/grpc/pull/11021 (available in v1.3.5+). Are you seeing evidence that contradicts that?

[2018-02-07 10:36] MitchDart commented on #11043
@jtattermusch It has been a rough few days but I believe this is because of my current setup. I am using Grpc 1.8.3 in C#. I am using Kubernetes pods to host all my clients and servers in a microservice architecture. I believe the problem is because each kubernetes service has multiple pods meaning that the dns remains the same but the IP address changes continuously. So these idle channels simply

[2018-02-07 10:48] jtattermusch commented on #11043
ShutdownAsync taking that long can be an indication of some objects (calls, channels, ... ) not being cleaned up properly).
have you tried GRPC_VERBOSITY=debug and GRPC_TRACE=....    from https://github.com/grpc/grpc/blob/master/doc/environment_variables.md?

[2018-02-07 10:54] MitchDart commented on #11043
Thanks @jtattermusch, I will check that out and let you know. Just two quick questions maybe you can help me with.

1) Unary async calls are just awaited and stream calls are disposed with "using". Is there anything else I need to do to clean up the calls naturally? I can't seem to find anything in the samples.

2) Do you think setting up channels on a per scope basis is better than long lived cha

[2018-02-07 11:15] jtattermusch commented on #11043
1.  the native objects held by client-side call objects will be cleaned up when status is received from server and you have no pending operations on the call.  What Dispose() does is that it cancels the call if it hasn't finished yet, which results in status from server being delivered soon afterward (and the call is cleaned up).
With streaming calls you should always finish reading the response s

[2018-02-07 13:06] tuber commented on #6435
npm -v
3.5.2
node -v
v4.2.6
cat /etc/issue
Ubuntu 16.04.2 LTS \n \l

/home/tb/tbdown/grpc/examples/node/dynamic_codegen# node greeter_server.js
fs.js:808
  return binding.readdir(pathModule._makeLong(path));
                 ^

Error: ENOENT: no such file or directory, scandir '/home/tb/tbdown/grpc/examples/node/node_modules/grpc/src/node/extension_binary'

[2018-02-07 15:35] jtattermusch opened #14354 "New flake: grpclb_end2end_test --gtest_filter=UpdatesTest.ReresolveDeadBackend"
Failing on linux opt.
Most likely introduced recently, let's track it down.

https://sponge.corp.google.com/invocation?id=880fd426-9165-47f3-9997-9b5a5e47c0a4
https://sponge.corp.google.com/invocation?id=c7a1d491-9b17-4dbe-a8ca-b72463aff084
https://sponge.corp.google.com/invocation?id=c7a1d491-9b17-4dbe-a8ca-b72463aff084
https://sponge.corp.google.com/invocation?id=908aa634-ff89-455d-8f4a-feece4fd

[2018-02-07 15:41] jtattermusch commented on #14354
Easily reproduced with `tools/run_tests/run_tests.py -l c++ -c opt -r 'UpdatesTest.ReresolveDeadBackend' -n 100`

[2018-02-07 15:42] smetj commented on #4629
hi @kpayson64 & devs,
I understand this issue is difficult or doesn't get any priority but would you pls communicate any concrete progress on this?
The issue is open for +2 years. It's totally fine if this doesn't get solved/delivered but if that's the case can we pls close this issue so ppl can move on to an alternative?

[2018-02-07 16:05] jtattermusch commented on #14354
@AspirinSJL , it looks like the culprit is
https://github.com/grpc/grpc/pull/13671.

[2018-02-07 16:07] jtattermusch commented on #14354
Ah, apparently - the test was actually added in that PR:
https://github.com/grpc/grpc/pull/13671/files#diff-9c7f9543d2e67573f1e8a091c8f52b46R1093

Please fix ASAP or revert.

[2018-02-07 16:10] jtattermusch commented on #14354
[code]

[2018-02-07 16:50] AspirinSJL commented on #14354
I'll try to fix it in 1 hour. If I can't fix it, I will revert it.

[2018-02-07 16:55] jtattermusch commented on #14354
@AspirinSJL  thanks!

[2018-02-07 17:56] AspirinSJL commented on #14354
Reverting..

[2018-02-07 18:44] dgquintas opened #14357 "Write a test for the issue fixed in #14315"
See comments in https://github.com/grpc/grpc/pull/14315 for details and possible ideas.

[2018-02-07 18:44] zhshr commented on #8682
Can I have early access? I filled the form and have 2FA enabled weeks ago but no changes. THanks.

[2018-02-07 18:54] dgquintas commented on #14357
@kpayson64 assigning to you because you may have ideas on how to design this test. Feel free to reassign.

[2018-02-07 20:57] Spintronic commented on #11646
Interceptor support is critical to our enterprise. Any progress on this is much appreciated.

[2018-02-07 22:12] sreecha opened #14362 "Flake: ASAN memory leak for ProxyEnd2end/ProxyEnd2endTest.RpcDeadlineExpires test"
ProxyEnd2end/ProxyEnd2endTest.RpcDeadlineExpires/2 test sometimes fails with the following ASAN failure.

Repro:  Do the following at grpc root:

tools/run_tests/run_tests.py -lc++ -casan -r ".*RpcDeadlineExpires/2" --force_use_pollers epollex -n inf -S

After a few minutes (somtimes takes as many as 3000 runs or so, it fails with the following ASAN failure)

[code]

[2018-02-07 22:16] srini100 opened #14363 "INSTALL.md should include pkg-config as a required tool for building on Linux"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes

### What version of gRPC and what language are you using?
 1.9.x

### What operating system (Linux, Windows, …) and version?
Debian 4.9.65

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 6.3.0
GNU Make 4.1

### What did you do?

Bu

[2018-02-07 22:31] awsaunier commented on #14133
I also disabled Kaspersky and it solved the problem.

[2018-02-07 23:32] yang-g commented on #13429
Approved the fix. I think it is fair to say the user of async server should keep polling the ServerCqs until the server is shut down. And thus the real applications should not have this problem.

[2018-02-07 23:36] #13429 closed

[2018-02-07 23:40] sreecha commented on #13429
@yang-g , yes.. you are right - we are technically not violating our contract and this is not a "bug" in grpc code. However, I am thinking it might help if we exposed a  `ShutdownAsync()` API at C++ level. This way, user can pass their own completion queue (which can be one of the server completion queues) and even a single thread can coordinate the shutdown.

[2018-02-08 00:13] mastahyeti commented on #11451
We just ran into this on another production server, where the CA bundle had two identical certificates with different line lengths. The workaround in our code is pretty terrible:

[code]

[2018-02-08 00:19] AspirinSJL commented on #14354
After the backend is shut down, we keep sending RPCs until the re-resolution is finished. The first RPCs will fail because there are no working backend. Right after the client receives a serverlist from the new balancer, the next RPC can reach the server, but may trigger this check because the RPC is somehow cancelled. I don't know why this RPC can be cancelled but it already arrives at the server

[2018-02-08 00:49] muxi commented on #14333
Please let us know Xcode and Cocoapods versions you are using.

[2018-02-08 01:19] srini100 commented on #4543
I will take care of that and will also link it from grpc-contrib. Thanks for the reminder!

[2018-02-08 05:36] subhayu89 commented on #14001
Hi,
This was happening in Arm arch and not x86..however some changes in our code fixes the issue and we donot see the grpc crash anymore...
Mainly problem was with thread management in arm vs x86 which was causing crash...
So this bug can be closed..

[2018-02-08 05:41] mehrdada commented on #14001
Great to see this resolved. Thanks for letting us know. I suspect the root cause was similar across ARM and x86 (incorrect reference count management leading to memory corruption and eventually crash). Please ping this issue or another one if you encountered this after 1.9.1. Thanks!

[2018-02-08 05:52] IljaDaderko commented on #14333
Issue solved, error was caused by Cocoapods/Xcodeproj, latest update fixes it

[2018-02-08 05:52] #14333 closed

[2018-02-08 06:17] flyfy1 commented on #13908
It has been 13 days.. any update on this issue? I was trying to install `google-cloud` for ruby v2.5 but was blocked cuz of grpc..

[2018-02-08 06:43] apolcyn commented on #13908
Currently we are trying to first resolve an issue with the package build changes for ruby 2.5 support that would cause a breakage for at least some projects: https://github.com/google/protobuf/issues/4210. The potential breakage affects a small edge case but I'd like to see if we can fix it before releasing.

[2018-02-08 07:41] subhayu89 commented on #14001
Main thread ---> T1---->T2
now when T1 exits T2 is crashing...

[2018-02-08 08:20] dcow opened #14369 "obj-c: exception when using link-local IPv6 address"
`NSURL` does not understand _scope-id_ so `GRPCConnectivityMonitor` raises on line 126 since the host is null (the parameter is marked nonnull but the argument is never checked, too): https://github.com/grpc/grpc/blob/951cf484905d226bdb27087c0368cdfafff8d4e3/src/objective-c/GRPCClient/private/GRPCConnectivityMonitor.m#L124-L128

I've verified this is an issue only with the objective-c layer and th

[2018-02-08 09:36] kimkit opened #14370 "grpc php extension hangs when shutdown"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-02-08 11:00] dcow opened #14371 "TLS: IPv6 link-local with zone-id fails peer host verification"
I found this blurb in RFC6125

   converted to the "network byte order" octet string representation
   [IP] [IPv6].  For IP Version 4, as specified in RFC 791, the octet
   string will contain exactly four octets.  For IP Version 6, as
   specified in RFC 2460, the octet string will contain exactly sixteen
   octets.  This octet string is then compared against subjectAltName
   values of type iPAd

[2018-02-08 14:27] aajtodd commented on #9316
Found what appears to be another work in progress.

https://github.com/tower-rs/tower-grpc/

I would assume the pingcap version, which wraps grpc core, would be the easiest to officially maintain but I haven't weighed the pros and cons of each library.

[2018-02-08 15:22] ghowen opened #14372 "Compiler warning: Variable 'host_slice' may be uninitialized when used here"
### What version of gRPC and what language are you using?
 gRPC 1.9.0 (happened also with versions prior to that like 1.8.6)
 Language: Swift 4

### What operating system (Linux, Windows, …) and version?
 MacOS High Sierra

### What runtime / compiler are you using (e.g. python version or version of gcc)
 XCode 9.2

### What did you do?
Compile project with FirebaseFirestore pod (Google)

### What

[2018-02-08 15:53] scriptfans commented on #13908
+1 for this.

[2018-02-08 16:13] Prateek0601 opened #14373 "How to add user defined modules to Path (C++)"
#I am using C++ Programming language.

#Windows 10 1709 (build 16299.192).

#GCC(g++)4.8.0.

#I want to use my own Modules to my Program so how could i add that library to sublime text 3.I tried to add the path to the 'Environment variables'but still shows error'.
![check](https://user-images.githubusercontent.com/33068264/35983855-e466169c-0ca7-11e8-9d12-86ca62df7347.png)

[2018-02-08 17:16] #14097 closed

[2018-02-08 19:27] yashykt opened #14375 "Heap Use-After-Free issue in chttp2 reported by fuzzer"
[code]

[2018-02-08 19:40] adelez commented on #13621
Any updates?

[2018-02-08 19:40] d79ima opened #14378 "gRPC C++ throughput much worse on Windows than on Linux (for empty msgs in a single server streaming RPC)"
I am using gRPC version 1.8.3 C++ build on Linux and Windows and comparing the throughput between the two platforms.

2 server machines, 12 core Intel Xeon CPU, 96 GB RAM
Windows Server 2008 R2 64-bit and Ubuntu 17.04 Desktop 64-bit.
VC++ 2017 compiler on Windows, GCC 6.3.0 2017 on Linux
10Gbps Mellanox Ethernet adapter

My benchmark app is testing a very simple client/server scenario with 1 RPC c

[2018-02-08 19:48] srini100 opened #14380 "Redundant and incomplete build instructions in grpc/src/cpp/README.md"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes
### What version of gRPC and what language are you using?
1.9.x

### What operating system (Linux, Windows, …) and version?
N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)
 N/A

### What did you do?
Build gRPC C++ on Linux

### What did you

[2018-02-08 19:53] yashykt commented on #14375
The issue is that -
1) A timer is being set with a callback to &t->retry_initiate_ping_locked in maybe_initiate_ping. [source](https://github.com/grpc/grpc/blob/100e0a78ebc1ecfaefb57c5105506b3091d4b86c/src/core/ext/transport/chttp2/transport/writing.cc#L91)
2) A ref on transport is not being taken when we initialize the timer.
3) This means that if the timer fires after the transport is destroyed

[2018-02-08 19:54] yashykt commented on #14375
To fix this, #14739 takes a ref before initializing the timer and unrefs it at the end of the function retry_initiate_ping_locked

[2018-02-08 21:01] #14354 closed

[2018-02-08 21:53] ornatwork opened #14381 "C#: Expose API for grpc_ssl_client_certificate_request_type"
I have a C# gRpc version 1.8.3 server and a client working over TLS using mutual authentication by creating my own certificates. I now wanted to make sure the client is certified with a specific certificate. I can find the IP address in `ServerCallContext.Peer`, but I'm unable to find the certificate information in the context.

I'm also surprised to see the `ServerCallContext.AuthContext.IsPeerAu

[2018-02-08 21:54] AspirinSJL opened #14382 "grpclb can't finish resolution update if the old LB call is still working"
To reproduce, remove the following lines from `TEST_F(UpdatesTest, UpdateBalancers)`.

[code]

A sample log:
[code]

The current test can pass because `NotifyDoneWithServerlists()` will finish the LB call, and grpclb will start a retry timer after receiving the status from the LB call. But the expectation is that even if the update happens when the LB channel is READY and we have an on-going LB ca

[2018-02-08 22:04] jcanizales commented on #4027
@muxi

[2018-02-08 22:16] arjunyel commented on #8682
@wenbozhu I have 2fa enabled, I would love access so I can start a project with it ASAP :)

[2018-02-08 22:18] #13607 closed

[2018-02-08 22:23] #14375 closed

[2018-02-08 23:12] AspirinSJL commented on #14382
The underlying problem is that we won't be notified of the LB channel update completion. Because pick_first will only discard the currently working subchannel list when the pending one is READY, the LB channel will remain READY during the update. Because the LB channel state doesn't change, the glb_policy doesn't know when to restart the LB call.

[2018-02-08 23:51] AspirinSJL commented on #14382
We need a way to be notified about the update completion.

- Since the LB channel state is unchanged, we should use some finer condition, e.g., the subchannel_list is changed. But I haven't found any clean way to do so.
- An alternative is to start a retry timer after starting the update. But we don't know how long the update needs. The restarting may happens too early and we still connect to the

[2018-02-09 00:07] ornatwork commented on #14381
I found out that I was using `false `for `forceClientAuth`, after I set it `true `the information is available.

`SslServerCredentials(IEnumerable<KeyCertificatePair> keyCertificatePairs, string rootCertificates, bool forceClientAuth)`;

However when it's false and I try to connect with a client that is not using a certificate that client can not connect to the server.  It looks like the flag just

[2018-02-09 01:21] muxi opened #14385 "Make stream compression usable"
This issue is to track progress of stream compression.

[2018-02-09 02:53] vjpai commented on #14181
Done! grpc/proposal#56 and resultant PRs

[2018-02-09 02:53] #14181 closed

[2018-02-09 05:15] #14363 closed

[2018-02-09 08:32] dcow commented on #14369
There is literature on handling zone-ids in URIs: https://tools.ietf.org/html/rfc6874. Even if apple's URL class did support them, the grpc code still passes the original address (which would need to be url encoded %25) down to lower layers which are not expecting % to be an escape character.

[2018-02-09 16:25] ncteisen opened #14388 "TSAN failure in AsyncEnd2end/AsyncEnd2endTest.ShutdownThenWait/15 GRPC_POLL_STRATEGY=poll"
Happens about 1% of the time

https://sponge.corp.google.com/target?id=b5cedbcc-ebd1-4f2b-abfd-b9911e6aee91&target=github/grpc/cpp_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

https://sponge.corp.google.com/target?id=51ef4728-3f82-47c0-bcaf-1c065c0e06cd&target=github/grpc/cpp_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

Test code that overrides poll_funtion is racing with pollset_w

[2018-02-09 16:34] paulb777 opened #14390 "Latest version of CocoaPods/Xcodeproj exposes gRPC warnings"
https://github.com/CocoaPods/Xcodeproj/commit/f356891db634b68710b5c78611b84c14371acd7a turned on the Xcode settings CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS and CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF by default.  This causes the following gRPC build warnings:

    - WARN  | [Firebase/Firestore] xcodebuild:  gRPC-RxLibrary/src/objective-c/RxLibrary/GRXConcurrentWriteable.m:70:12: warning: block imp

[2018-02-09 16:59] vjpai commented on #14388
Ok, the underlying issue is that we shouldn't be able to change `grpc_poll_function` while gRPC is active. The `async_end2end_test` assumed that it could do this at test SetUp and TearDown because there were not supposed to be other things lingering at those times. However, along the way, we introduced a timer thread. In this case, the timer thread hadn't yet finished polling at the time that the

[2018-02-09 17:08] whiplash86 opened #14391 "Build instructions don't work on ARM, HelloWorld example segfaults"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes

### What version of gRPC and what language are you using?
 1.9.1
C++

### What operating system (Linux, Windows, …) and version?
 Linux tegra-ubuntu 4.4.38 aarch64 ARM

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 5.4.0

### What did you

[2018-02-09 17:19] ncteisen opened #14392 "Switch to C++ style casts"
C style casts are error prone. Now that the codebase is C++, we should prevent anyone from adding new c style casts, and attempt to switch all existing casts to C++ style.

Clang-tidy can do about half of this work.

[2018-02-09 17:20] muxi commented on #13960
When we connect to a server with IP address, only a channel is created but not a subchannel, while `maybe_prepend_client_auth_filter` is registered to `GRPC_CLIENT_SUBCHANNEL`. That looks like why the prepend function never got called.

[2018-02-09 17:26] #13818 closed

[2018-02-09 17:26] yang-g commented on #14388
@vjpai, do you remember what we are trying to test with the overridden polling function?

[2018-02-09 18:47] vjpai commented on #14388
Nope, no idea. Let's kill it. The only thing that we need is a test somewhere that AsyncNext with timeout of 0 doesn't actually block.

While we're at it, do we have any justification for testing spin on the Verifier at all? The effect is to make AsyncNext have timeout of 0, but not sure why we would want that.

[2018-02-09 20:32] muxi commented on #14390
Paul, these warnings have all been fixed (#14314, #14042). Expect them be gone in the next minor version release.

[2018-02-09 20:32] #14390 closed

[2018-02-09 21:13] dcow commented on #13960
That explanation would align with my experience.

[2018-02-09 21:14] dgquintas commented on #13960
How can anything happen if no subchannel (the actual physical connection)
is created?

On 9 February 2018 at 09:20, Muxi Yan <notifications@github.com> wrote:

[2018-02-09 22:13] #14388 closed

[2018-02-09 22:29] vjpai commented on #14388
Here was the original motivation, in a comment from Craig on one of my PRs.

"Removing the assert makes this a much weaker test... The original test provided guarantees that we never blocked calling code, which is important for many use cases (imagine a UI thread that wants to do some grpc work)... Overriding that here means that we're no longer providing such a guarantee."

That said, note that p

[2018-02-09 22:31] davidraleigh commented on #9538
Using `pip3 install grpcio-tools==1.9.0` and `pip3 install grpcio==1.9.0` on both client and server and seeing the error:
[code]

When I run `openssl s_client -connect google.com:443 -tls1_2` ([serverfault suggestion](https://serverfault.com/a/638692/390998)) on both client and server I get back the expected print out of certificates that confirms TLS 1.2 is available on both.

Is there a grpc ver

[2018-02-09 22:40] nathanielmanistaatgoogle commented on #9538
@davidraleigh: does that mean you have a deterministic reproduction case? Are you able to share it? How reduced can you make it?

[2018-02-09 22:54] yang-g commented on #11960
Write should send out the data. If you are sure your server does not receive any and want to verify, you can set environment variable GRPC_TRACE=tcp GRPC_VERBOSITY=DEBUG at the client side and watch data being written out after a write.

[2018-02-09 23:09] davidraleigh commented on #9538
@nathanielmanistaatgoogle I'm wondering if my creation of certificates for testing is the problem. My guess is that this isn't an error in the library except that maybe the exception message is misleading. I'll throw a test case together.

[2018-02-09 23:56] jbicha commented on #11195
@dankegel instead of unsetting LDFLAGS, try

`export DEB_LDFLAGS_MAINT_STRIP = -Wl,-Bsymbolic-functions`

[2018-02-10 00:27] AspirinSJL commented on #14220
This bug is very easy to reproduce by hand. By checking the refcount log, I see that the last pending ref of the subchannel is for `state_watcher`. And I've verified that the unref doesn't happen because the callback watching the connectivity state is never invoked. This seems to make sense, because the user is expecting to destroy the whole channel top-down. The user watches the network connectiv

[2018-02-10 02:01] 893949088 opened #14399 "Suggestion: optimize servercalls(C#)"
I think the servercalls Is it possible to be open. let me to custom to defind request middleware like asp.net mvc.

[2018-02-10 02:03] #14334 closed

[2018-02-10 08:00] begoat commented on #7038
@wenbozhu Hi, I tried grpc-web today. But unfortunately  errors occurred  when send request.
The error log is cannot resolve http module from node_module/grpc-web-client/dist/transports/nodeHttp.js. The version of grpc-web-client is 0.5.0 which is uploaded 3 days ago.

I try to install http nom package, but another error shows that the node_modules/http/package.json was successfully found but this

[2018-02-11 03:41] #14380 closed

[2018-02-11 15:40] zxtwonder commented on #8639
It looks like the referenced proposal has been dropped. Is there any progress on this feature? Thanks.

[2018-02-11 15:56] zaneclaes opened #14402 "Compiling grpc_csharp_ext for Android .so file (for use in Unity)"
### Should this be an issue in the gRPC issue tracker?
 No; probably not a bug, just can't figure it out.

### What version of gRPC and what language are you using?
1.8.3, C# w/ .NET 4.6 and Unity 2017.3.0p4

### What operating system (Linux, Windows, …) and version?
 OSX High Sierra 10.13.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
`arm-linux-androideabi-g

[2018-02-12 02:30] dbousamra opened #14403 "Statically linking against GRPC (with cmake)"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-02-12 08:03] yelcat commented on #9107
+1

[2018-02-12 12:55] HideDev commented on #1620
@jtattermusch what else is left to complete this task? may need help?

[2018-02-12 18:57] murgatroid99 commented on #8639
There has been no progress, and it is likely that if something like this ever happens, it won't be in this form.

[2018-02-12 18:57] #8639 closed

[2018-02-12 21:42] tewrisFront commented on #8512
I got same error

[2018-02-12 21:47] murgatroid99 commented on #8512
When you say that you got the same error, do you specifically mean that you are getting the deprecation warning failure when compiling `byte_buffer.cc`? If so, what version of gRPC are you installing? And if not, please open a different issue with the failure you are seeing.

[2018-02-12 21:56] tewrisFront commented on #8512
![error](https://user-images.githubusercontent.com/29981973/36121882-dbb47da6-1047-11e8-80d5-fea89825cf3b.png)
Please check

[2018-02-12 21:57] tewrisFront commented on #8512
do you have good way to fix this issue?

[2018-02-12 22:00] murgatroid99 commented on #8512
If you look at the log before the compilation step, you should see a message that looks like `node-pre-gyp ERR! Pre-built binaries not found for grpc@<version>...`. What version number do you see there?

[2018-02-12 22:03] tewrisFront commented on #8512
node-pre-gyp@0.6.28

[2018-02-12 22:09] murgatroid99 commented on #8512
I'm asking for the version of grpc that you're trying to install.

[2018-02-12 22:12] tewrisFront commented on #8512
grpc@0.14.1

[2018-02-12 22:31] murgatroid99 commented on #8512
That is a very old version of gRPC, and it may simply not work anymore, especially with newer versions of Node. You should upgrade to a newer version.

[2018-02-12 22:36] tewrisFront commented on #8512
I updated node v9.4.0.
but I got same error

[2018-02-12 22:37] tewrisFront commented on #8512
![screen shot 2018-02-12 at 11 36 52 pm](https://user-images.githubusercontent.com/29981973/36123630-a25247d6-104d-11e8-884f-57ec0f08a26d.png)

[2018-02-12 23:03] #14370 closed

[2018-02-12 23:18] coryan opened #14408 "Client freezes with round_robin load balancing"
### Should this be an issue in the gRPC issue tracker?

Yes.

### What version of gRPC and what language are you using?

v1.9.x / C++

### What operating system (Linux, Windows, …) and version?

Linux, Debian, kernel 4.9.0

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Please find a program to reproduce the issue attached.  Basical

[2018-02-12 23:50] murgatroid99 commented on #8512
I meant that you should upgrade to a newer version of gRPC, not a newer version of Node.

[2018-02-13 00:21] mehrdada commented on #7261
I stumbled upon this old issue while searching for another issue. The code base has changed quite a bit since this was filed and I don't have immediate access to the ARM environment you mentioned to try and repro. Please let me know if you can see it on the current 1.9.x or master branch heads. Otherwise, if you are unable to repro or we don't hear back, I think closing this issue makes sense (in

[2018-02-13 01:00] murgatroid99 commented on #8512
I meant that you should upgrade to a newer version of gRPC.

[2018-02-13 01:13] apolcyn commented on #13621
After some successful experimentation, my plan to get this test to run under bazel is:

1) Create a new category of "test-only" bazel dependencies (we need to add a bunch of 3rd-party bazel dependencies in order for this test to work, but we will not want all of those dependencies every time a consumer of grpc calls `grpc_deps()` to load grpc's build/run dependencies)

2) Create `new_http_archive`

[2018-02-13 15:09] rocketpork opened #14414 "TSI_INTERNAL_ERROR with openssl 1.1.0g"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
 1.9.1 for C++

### What operating system (Linux, Windows, …) and version?
Ubuntu 16.04 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.8.5

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specifi

[2018-02-13 20:09] apolcyn commented on #13908
`1.9.1` packages were just pushed, which now support ruby 2.5

FTR though, google/protobuf#4210 wasn't fully resolved and there is a known edge case that this release breaks: code that was previously checking, directly or indirectly, the health of all `grpc_c.so` binaries as observed by `ldd` in the `x86_64-linux` platform-specific gem.

[2018-02-13 20:09] #13908 closed

[2018-02-13 20:37] trchakra commented on #3428
I found same issue since today 13th Feb morning .
Commit or PR for the branch we are using happened 1 month ago and after that build was successful.

[2018-02-13 20:58] mestar99 opened #14418 "Deadlock when calling GoogleDefaultCredentials during dlopen'd shared object initialization"
### What version of gRPC and what language are you using?
 v1.9.1 in C++

### What operating system (Linux, Windows, …) and version?
 Linux - Centos 7.4.1708

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Shared object is being dlopen'd by main thread. The shared object has a constructor function which will call grpc::GoogleDefaultCr

[2018-02-13 21:58] stanley-cheung commented on #7038
@begoat The `grpc-web-client` npm package was not owned by us, but rather from the Improbable implementation of the gRPC-web protocol. For error specific to that package, please contact the owners. Thanks.

[2018-02-13 22:28] hsaliak commented on #14378
@jtattermusch @chwarr is this something you folks might be able to dig into?

[2018-02-13 22:32] vjpai opened #14419 "Inproc transport: pass byte stream rather than copy in message_transfer_locked"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

 master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Looked at inproc transport cod

[2018-02-13 23:23] mwisniewski0 opened #14420 "Using TLS raw public keys for authentication"
### What version of gRPC and what language are you using?

I'm using gRPC 1.9.1 on Python3

### What operating system (Linux, Windows, …) and version?

Cross-platform project developed on Windows 10 and Ubuntu 14.04 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.6.4

### What did you do?

My application requires connecting to domain-less gRPC serve

[2018-02-13 23:45] sreecha opened #14421 "epollex: When an fd is orphaned but not closed, remove it from all epoll sets"
Issue:
In epollex, when an fd is orphaned but not closed (i.e `fd_orpan()` is called with a non-null `release_fd` parameter and `already_closed` is `false`) , then we currently do not remove the fd from underlying epollsets.

This will result in spurious wakeups (i.e whenever that fd becomes readable/writable, some polling thread will wakeup, and since the `epoll_event` struct points to a `grpc_fd

[2018-02-14 00:10] mwisniewski0 commented on #2691
@parmeshthee Try using the subjectAltName instead of CN - it worked for me with an IP address (in Python, but the code that verifies the domain is in the C++ core regardless).

For reference, see https://github.com/grpc/grpc/blob/master/src/core/tsi/ssl_transport_security.cc, function `tsi_ssl_peer_matches_name()`. It explains step by step how the domain name is verified.

[2018-02-14 00:52] begoat commented on #7038
@stanley-cheung Ok, thank u:)

[2018-02-14 01:52] evbarnett commented on #9493
+1 for UDP- but it would also be great if there are open protocol abstractions in case the user wants to use *any* protocol; the user would just provide the implementation themselves. (I'd like to use raw sockets!)

[2018-02-14 06:57] euroelessar opened #14425 "Support session tickets on client, RFC 5077"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-02-14 14:21] AnthonyLimo commented on #8512
Running the nom update command will help?

[2018-02-14 16:11] clusby commented on #14088
I see the same thing - Python 2.7, grpc 1.9.1

I see the issue while using pytest for unit tests (multiple restarts of the server)

[2018-02-14 16:35] nathanielmanistaatgoogle commented on #14338
I also believe that this is linked to [issue 12531](https://github.com/grpc/grpc/issues/12531); let's reassess after that issue is closed.

[2018-02-14 16:55] markdroth commented on #14195
The client-side keepalive mechanism is completely disjoint from grpclb.  The former is primarily about maintaining the health of the HTTP/2 connection between the client and the server, and since it's specific to that individual HTTP/2 connection, it can't really be used to communicate with the grpclb balancer, which uses a separate HTTP/2 connection.

That having been said, if your goal is to com

[2018-02-14 17:12] leighmcculloch commented on #9113
AppEngine still does not have support for GRPC servers.

[2018-02-14 18:33] jiangtaoli2016 commented on #14414
Do you have a stack trace on the error?

[2018-02-14 22:14] euroelessar opened #14431 "Support session tickets on server, RFC 5077"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2018-02-14 22:59] markdroth commented on #14408
@dgquintas, could this be related to your recent RR changes?

[2018-02-15 00:49] mrpatel15 commented on #11239
node-pre-gyp ERR! Tried to download(403): https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.4.1/node-v59-darwin-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@1.4.1 and node@9.0.0 (node-v59 ABI) (falling back to source compile with node-gyp)
  CC(target) Release/obj.target/grpc/src/core/lib/surface/init.o
  CC(target) Release/obj.target/grpc/src/core/lib/cha

[2018-02-15 01:02] nathanielmanistaatgoogle commented on #14431
@jboeuf: what do you make of this?

[2018-02-15 01:03] dgquintas commented on #14408
My changes didn't make it to 1.9.x

[2018-02-15 01:04] dgquintas commented on #14408
@coryan , any chance you'd be able to try with the version at HEAD? If not, the 1.10 branch will be created soon, as well as release candidate packages. There have been a number of changes around this part of the code recently.

[2018-02-15 01:06] euroelessar commented on #14431
It's worth to mention that tls ticket support is missing in grpc-core altogether, not just in python.

[2018-02-15 01:07] jboeuf commented on #14431
Assigning to @jiangtaoli2016 the new gRPC security lead.

My 2 cents is that yes, it absolutely makes sense to support TLS resumption. It's just a matter of priority.

[2018-02-15 01:07] ncteisen commented on #14418
What is your use case for dlopen-ing a lib that calls GoogleDefaultCredentials?

[2018-02-15 01:07] jboeuf commented on #14431
@euroelessar Yes, of course, TLS support is in core.

[2018-02-15 01:09] ncteisen commented on #14399
Feel free to put in a PR for this feature. IF it is big enough, you should create a gRFC for it

[2018-02-15 01:10] ncteisen commented on #14391
@jtattermusch can we set up ARM compilation on our VMs to repro this?

[2018-02-15 01:12] ncteisen commented on #14373
This does not seem related to gRPC.... closing.

[2018-02-15 01:12] #14373 closed

[2018-02-15 01:35] mestar99 commented on #14418
The library contains a logging stream static global variable which gets initialized when the shared object is loaded. The stream establishes the connection to Stackdriver Logging API during its constructor using the GoogleDefaultCredentials so it's ready to use after.

We were able to get around it by changing the static global variable into a static local variable inside of a getter function and

[2018-02-15 01:38] euroelessar commented on #14431
@jboeuf Does it make sense to add list of steks into `grpc_ssl_server_certificate_config` and pass it as one more argument to `tsi_create_ssl_server_handshaker_factory_ex`?
After that grpc-core can use `SSL_CTX_set_tlsext_ticket_key_cb` to control logic for encrypting/decrypting tickets (boringssl supports only single key by default).

[2018-02-15 01:51] mehrdada commented on #14420
@jboeuf Please evaluate the feasibility of this.

[2018-02-15 05:19] danilolopesabreu commented on #12096
Hi, any change?

[2018-02-15 07:54] ZurgInq commented on #14088
I see the same thing - Ruby 2.4.2, grpc 1.8.0

[2018-02-15 08:05] Thaina commented on #14088
I had discussion with the team and it seem GOAWAY was an error that could be thrown when we try to spam API to the limit of short period

[2018-02-15 08:27] rocketpork commented on #14414
I retried it also with OpenSSL 1.1.0f, 1.1.0d -> always got the same error
Attached you'll find a grpc trace .. let me know, whether that is sufficient.
Thanks ..
[grpc-trace.txt](https://github.com/grpc/grpc/files/1726815/grpc-trace.txt)

[2018-02-15 08:42] namrata-ibm commented on #13458
@mehrdada, Found the root cause of this failure. The issue is happening [here](https://github.com/grpc/grpc/blob/781fd6f6ea03645a520cd5c675da67ab61f87e4b/src/core/lib/iomgr/tcp_server_utils_posix_common.c#L185) while casting `sockname_temp.len` value.
I could see #11390 already addressing this issue. Could you please have a look at the PR and help in resolving this?

[2018-02-15 13:59] decebal opened #14436 "gRPC Python Server Library incompatibility with future.ProcessPoolExecutor"
### What version of gRPC and what language are you using?
 grpc 1.9.1 , python 3.6.0

### What operating system (Linux, Windows, …) and version?
 under docker with phusion/baseimage , also tried on debian jessie and Kali Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python 3.6.0

### What did you do?
The issue is really similar to : https://github.com/gr

[2018-02-15 14:28] coryan commented on #14408
@dgquintas I included a tarball with a small (small-ish?) program so you can test it at HEAD or any other version:

[grpc-freeze-standalone.tar.gz](https://github.com/grpc/grpc/files/1718031/grpc-freeze-standalone.tar.gz)

It seems to be fixed at 22f363981a32953f9eee9291a6b46a499df08080 .  It would be good to hear what PR / commit fixed this, and if there is a specific test for it.

[2018-02-15 16:01] mehrdada commented on #13458
So you think the issue is https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/resolve_address.h#L30 should have been `socklen_t` instead of `size_t`? The PR has gone stale so we can't just merge that one.

@yashykt, I'm handing this over to you: can you please help to see what the implications of such change would be?

[2018-02-15 17:24] chwarr commented on #14378
@Lalo, who's been looking into related issues on Windows.

[2018-02-15 19:14] murgatroid99 commented on #11239
You are trying to install gRPC 1.4.1, which is relatively old, and does not work on Node 9. You can solve that by upgrading to a newer version of gRPC.

[2018-02-15 19:19] hsaliak commented on #14058
@jboeuf @jiangtaoli2016 this was brought up in the community meeting today, could you please take a look and let us know what more we can do here to improve performance.

[2018-02-15 22:10] lalo commented on #14378
I'll take a look.

[2018-02-15 22:23] hsaliak commented on #14378
@lalo @chwarr thanks a lot!

[2018-02-15 23:07] lalo commented on #14378
@d79ima can you explain why scenario 1 is measured in megabytes per second and scenario 2 is measured in messeges per second? From a quick look to your code, the scenario 1 sets a tcp_read_chunk_size of 2 megabytes and in your scenario 2 the chunk size is 0 bytes? Is this correct?

[2018-02-16 00:46] muxi opened #14445 "TIMEOUT: build_artifact.python_macos_x64_python3.6 on Mac"
Happened in http://sponge/a5cc7c2d-c6af-4f91-a0e8-7d9708cbe79c

[2018-02-16 01:20] d79ima commented on #14378
@lalo yes that is correct. In scenario 2 i am sending a small message chunk size zero, so the bytes field is empty, just to see what the throughput for lots of small messages might be.

[2018-02-16 05:48] dgquintas commented on #14408
Thanks a lot @coryan , that's a wonderful bug report. Good to hear also that it seems fixed. I'll play with your code and bisect to find where it was fixed. My money is at or around https://github.com/grpc/grpc/pull/14170.

By the way, in your server.cc file, on line 69, you have:
[code]
I'm guessing you meant to write:
[code]
Otherwise, you only use the first port passed in as arg. Is this a typo

[2018-02-16 06:33] Tagar opened #14446 "Unicode support in Python 2?"
A debug log from Apache Zeppelin python "interpreter" when code has an unicode character [1].
It seems grpc does't support unicode data in Python 2?
Related Zeppelin jira to investigate it on Zeppelin side -
https://issues.apache.org/jira/browse/ZEPPELIN-3239

Apache Zeppelin has recently switched to use grpc -> ipython so there might be something isn't good there?

Exception happens in grpc/_serv

[2018-02-16 11:48] lluma commented on #8649
Same issue and disable Kasperky, then it's solved. Thx a lot!!

[2018-02-16 14:00] cloudspinner commented on #8682
@wenbozhu Could I have early access? Thanks in advance.

[2018-02-16 15:31] whiplash86 commented on #14391
Hey,

I also wonder if there's some sort of performance issue with the ARM platform. I've tried transmitting 16 MByte of random data split into 2 kByte chunks from one node to another and measuring the total time the client takes to complete the RPC call. Between two Windows PCs (i7, 3.6 GHz) it takes around 150 ms corresponding to 109 MB/s whereas between a Jetson TX2 as a server and one of the W

[2018-02-16 16:43] coryan commented on #14408
Well that is embarrassing.  Yes, should have been `argv[i]`.  Which allowed me to narrow this further.  The problem only shows up (even in v1.9.x) if one of the endpoints listed in the client does not exist.

#14170 sounds like a good candidate indeed.  And I see you have modified the tests, presumably to reproduce the issue.  I am going to close this, thanks for the quick turnaround.

I have upda

[2018-02-16 16:43] #14408 closed

[2018-02-16 18:17] abaldeva opened #14447 "grpc 1.9.0 memory leak when enabling max idle filter"
### What version of gRPC and what language are you using?
1.9.0-C++

### What operating system (Linux, Windows, …) and version?
Windows, Linux

### What did you do?
Set GRPC_ARG_MAX_CONNECTION_IDLE_MS to 2 minutes

### What did you expect to see?
Option to work as expected without causing a memory leak.

### What did you see instead?
 Huge memory leak observed. Log attached.
### Anything else we s

[2018-02-16 19:57] r3h0 commented on #12814
If more people are having issues with this, here's the full command I put into my MSBuild configuration as a pre-build step:

`$(NuGetPackageRoot)/grpc.tools/1.9.0/tools/linux_x64/protoc            -I'$(NuGetPackageRoot)/google.protobuf.tools/3.5.1/tools/google/protobuf'           --proto_path='$(NuGetPackageRoot)/google.protobuf.tools/3.5.1/tools'           --proto_path='$(ProjectDir)/Grpc'

[2018-02-16 20:25] drew-moore commented on #8682
@wenbozhu @zinuga I too have 2fa enabled and would love to have early access! Our team is actively putting together POC's for bringing gRPC to the frontend and we're very curious what this will look like.

[2018-02-16 21:09] dgquintas opened #14453 "New Failure: combiner_test"
- Test: combiner_test
- Poll Strategy: poll
- URL: https://kokoro2.corp.google.com/job/grpc/job/macos/job/master/job/grpc_basictests_opt/1569

https://sponge.corp.google.com/target?id=f6f32a33-8e58-44f2-9885-4262931e401c&target=github/grpc/c_macos_opt_native&searchFor=&show=FAILED&sortBy=STATUS
[code]

[2018-02-16 21:10] dgquintas commented on #14453
Assigned to @ncteisen at semi-random, feel free to assign. Note that the issue seems to be happening on mac, so I haven't been able to repro.

It also looks like memory corruption, so an asan run would probably be useful.

CC @markdroth

[2018-02-16 21:28] photex opened #14454 "Unable to build with bazel - Ubuntu 17.10 - Clang"
### What version of gRPC and what language are you using?

1.9.1, c++
master, c++

### What operating system (Linux, Windows, …) and version?

Ubuntu 17.10

### What runtime / compiler are you using (e.g. python version or version of gcc)

clang

### What did you do?

bazel build //:grpc++

### What did you expect to see?
 A successful build.

### What did you see instead?

com_github_cares_cares/

[2018-02-16 21:46] photex commented on #14454
I just found: https://github.com/bazelbuild/bazel/issues/4572 and https://github.com/bazelbuild/bazel/issues/3977

If I use `export CC=gcc` and build then things work as expected.

[2018-02-16 21:46] #14454 closed

[2018-02-17 00:59] ncteisen commented on #14453
Tried to repro on my mac, but got 500 clean runs with no fails

[2018-02-17 01:14] davidraleigh commented on #9538
Hey @nathanielmanistaatgoogle I have a test case. Again, I don't know if this is just user error.

I made a branch of grpc to change the route_guide example so that the server adds a secure port using `add_secure_port` instead of `add_insecure_port`. You can see the changes here https://github.com/EchoParkLabs/grpc/commit/5c060584260633235959dfedbcb45992d2aabcc0

[code]

Then use the following Doc

[2018-02-17 02:36] davidraleigh commented on #9538
I find that the same error occurs if I use key and chain created with `letsencrypt-auto`

[2018-02-17 04:39] dgquintas commented on #14453
Have you tried with antagonist and many more times? Ie, using -n inf

On Fri, 16 Feb 2018, 17:00 Noah Eisen, <notifications@github.com> wrote:

[2018-02-18 19:07] andreykulik commented on #9873
For everyone who end-up here wondering why bazel rule for gRPC cc does not work: use
https://github.com/pubref/rules_protobuf for the win.

[2018-02-18 21:41] davidraleigh commented on #9538
And just for proof that the certificates aren't the problem here's an example of the same exact certificate working with Java:

[code]

To test the above:
[code]

From second terminal:
``bash
sudo docker exec -it test-container /bin/bash -c "./build/install/examples/bin/route-guide-client"
[code]

[2018-02-19 06:02] namrata-ibm commented on #13458
@mehrdada , yup, changing to `socklen_t` works on s390x(big endian).
@yashykt , could you please help with this?

[2018-02-19 10:56] jtattermusch commented on #14399
External contributions are definitely welcome (including those that improve performance, of course), so feel free to contribute. In the meantime, I will close this issue as it is not clear what is the optimization you're suggesting.

[2018-02-19 10:56] #14399 closed

[2018-02-19 14:06] MrMage opened #14456 "Cannot import `grpc` module in Swift files when using CocoaPods"
I am trying to use gRPC-Core 1.9.1 in a vanilla macOS Swift project with CocoaPods.

The pod module compiles just fine, but when I add `import grpc` to one of my Swift files, I get the following error:

    <module-includes>:8:9: note: in file included from <module-includes>:8:
    #import "Headers/support/log.h"
            ^
    /Users/daniel/Library/Developer/Xcode/DerivedData/grpc-import-test-

[2018-02-19 14:12] MrMage opened #14457 "gRPC CocoaPod runs `sed` on its own backup files"
At the very end of https://github.com/grpc/grpc/blob/master/gRPC-Core.podspec there is a line

    find src/core/ -type f -exec sed -E -i'.back' 's;#include "third_party/nanopb/(.*)";#include <nanopb/\\1>;g' {} \\\;

when using this project as a development Pod (i.e. local, with a `:path =>` argument), each invocation of `pod install` after the first causes all the `*.back` files to be edited agai

[2018-02-19 20:07] simophin commented on #6292
I have similar question. Why not websockets? It's HTTP compliant and has wider support.

[2018-02-19 20:40] eaglo commented on #9270
Was the above question ever answered?

[2018-02-19 21:47] kpayson64 commented on #14446
I can confirm that Python 2 gRPC doesn't accept unicode characters.  The Python gRPC API accepts the ```string``` type, which in Python 2 is equivalent to the ```byte``` type.  Applications should do any encoding if they are using unicode characters.

[2018-02-19 23:53] stephenplusplus commented on #13928
This issue was moved to https://github.com/grpc/grpc-node/issues/187.

[2018-02-20 10:05] jtattermusch commented on #14391
@ncteisen  I think the best we can do is to add ARM cross-compilation to our portability suite (can you provide the cmdline for that?). We currently don't have access to an actual ARM machine in our test platform.

[2018-02-20 10:16] jtattermusch commented on #14378
In our "official benchmarks" (http://performance-dot-grpc-testing.appspot.com/explore?dashboard=5652536396611584) I actually see around 76Kmessages per sec for unary and 140K sec per sec for streaming between two 8core windows machines when using C# server and client (C# is slower than C++) - so doublechecking what your benchmark is doing might be useful.

[2018-02-20 11:16] eHattori commented on #9575
Hello, I pass by this problem with python 3 and need edit the generated python files , this is my structure:

- my_app
--gen_py
--protos
Makefile

the command in the Makefile that execute it's:

python -m grpc_tools.protoc -I ./myapp/protos --python_out=./myapp/gen_py --grpc_python_out=./myapp/gen_py ./myapp/protos/*.proto

Someone can help me
tks

[2018-02-20 14:39] d79ima commented on #14378
My benchmark is just really trivial. All it's doing is sending one message in a loop on the server side and receiving that message in a loop on the client side. I don't know what i can be doing better to reach the kind of numbers you report seeing in your official benchmarks. Perhaps you could look at my samples that I attached and tell me what I am doing wrong? Also, still doesn't explain why i a

[2018-02-20 14:42] lawrence-iviani commented on #14088
Hi There,
same here: Python  (Anaconda) 3.6.3, grpcio 1.8.3.
I have some 3 services running with the same grpc server, and there are several testcases in 3 Unit Tests.
Every unittest start a server (at class setup) and stop at class tear down. This is repeated 3 times (one per UT).
This happen since I have added a new test, the first test case fail for this reason:
<_Rendezvous of RPC that termina

[2018-02-20 14:53] d79ima commented on #14378
Also, would it be possible for you to share with me more details about your two 8core windows machines?
I am interested in the following:

1) Operating system version
2) Exact model and speed of network adapter cards
3) Any specific performance tuning options that were selected for the network adapters and any registry settings that were modified beyond the defaults

[2018-02-20 15:14] arnolddrita commented on #4027
I am also having this problem and I would really need a solution for this.
<img width="1155" alt="screen shot 2018-02-20 at 4 13 15 pm" src="https://user-images.githubusercontent.com/18261031/36431887-11ce1b38-1659-11e8-8858-5fe69b44cf47.png">

[2018-02-20 15:15] jskeet opened #14461 "C# "Exception occurred in metadata credentials plugin" error is still hard to use"
gRPC Version: 1.9.0

I'm a maintainer of the Google Cloud Client Libraries. Every so often, we see issues (or Stack Overflow questions) where an error of "Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Getting metadata from plugin failed with error: Exception occurred in metadata credentials plugin.") is thrown.

If the user has logging turned on, more information is available - bu

[2018-02-20 17:26] fronneburg opened #14462 "Client Side C++ exception in ClientContext destructor."
If the ClientContext object's "recv_initial_metadata_" member has entries in its "map_", the ClientContext destructor crashes when trying to free the pair of string_ref's in the map.

[2018-02-20 18:08] danmatthews commented on #4027
@arnolddrita can you post your `Podfile` please?

[2018-02-20 18:47] markdroth commented on #9884
Note that, as per recent changes to the retry design, we need to be able to differentiate between these two cases:

- The bytes were never sent on the wire.
- The bytes were sent on the wire but the server told us (either via a GOAWAY or a REFUSED_STREAM) that the stream was not processed.

[2018-02-20 19:18] yashykt commented on #13458
socklen_t might not be supported on all systems. Creating PR #14464 to verify if it works on all supported platforms.

[2018-02-20 19:35] markdroth opened #14467 "allow gRPC-level proxies to support retries"
Currently, a gRPC-level proxy written in C++ (or even directly against C-core) cannot easily support retries, because when it gets a trailers-only response from the backend, it will generate separate send_initial_metadata and send_trailing_metadata ops to return the result to the client.

The proxy code can do some extra work, such as implementing their own delay after seeing initial metadata in o

[2018-02-20 21:40] raulAtNines commented on #9575
I'm also running into this issue, and the solution by @dgn and @jclinto1 does not work for me.

With the folder structure:
[code]
Running
```python -m grpc_tools.protoc -I ./grpc_protos/ --python_out=. --grpc_python_out=. ./grpc_protos/controller.proto```
from root, does not generate python 3 proper module syntax.
`import controller_pb2 as controller__pb2`

@dgn This is similar to your original qu

[2018-02-20 21:50] #14372 closed

[2018-02-20 21:59] srini100 commented on #14269
Please reopen if #13327 doesn't fix this issue.

[2018-02-20 21:59] #14269 closed

[2018-02-20 22:18] aamitdb commented on #11804
The specific segfaults we hit ended up being a python issue. When a daemon thread wakes up while main thread is past _PyGILState_Fini and tries to reaccquire the gil (what the completion queue threads do), it was possible to segfault because `autoInterpreterState` was NULL. This issue exists in the 2.7 branch with the general daemon thread shutdown patch (from https://bugs.python.org/issue1856) ba

[2018-02-21 00:46] gwilym commented on #13412
How would the grpc extension like being loaded after the fork with `dl`? The reason I bring that up is because for CLI use-cases where `dl` is still available this could be a potential workaround until forking is supported. `dl` is not available in FPM but, IMHO, `pcntl_fork` shouldn't be used from within FPM anyway.

This script works on PHP 7 macOS with the extension present on the system but no

[2018-02-21 01:55] AspirinSJL commented on #14220
After closer investigating, I think there is something like circular dependency between connected_subchannel and subchannel_call, if we want to shut down the channel and the calls in a top-down style.

Since the user is using 1.8.4 version (although this bug also happens in 1.9.x), let's look[ the file in that version](https://github.com/grpc/grpc/blob/v1.8.4/src/core/ext/filters/client_channel/su

[2018-02-21 02:24] srini100 commented on #14220
Hypothetically, if there is a separate channel refcnt to a subchannel, would it tell us that subchannel is not in use any more when that count hits zero and hence all calls on that subchannel can be destroyed?

I am not clear on the workaround here. Users need to also cancel the calls?

[2018-02-21 02:41] AspirinSJL commented on #14220
We currently have separate counts for external (strong) refs and internal (weak) refs. But we planned to remove this kind of refcounting, because it's complicated and the only use case is for subchannel.

When the users detect some network failure, they will destroy the channel hoping that the calls will also be cancelled. But actually the calls are not being cancelled, probably because of the ref

[2018-02-21 06:42] tmthrgd commented on #8682
@wenbozhu I hate to add even more noise to this issue, but I'd love early access if it's still open. (2fa is active).

[2018-02-21 10:55] jtattermusch opened #14470 "C TSAN flake: bins/tsan/h2_proxy_test max_message_length GRPC_POLL_STRATEGY=epoll1"
The flake is pretty rare, but since it's a TSAN flake, the error log might tell us enough to fix.
Seems to only be happening with `epoll1`.

https://sponge.corp.google.com/target?id=b2bef36f-848e-4d8f-af70-04adee3e9e55&target=github/grpc/c_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2018-02-21 10:56] jtattermusch commented on #14470
[code]

[2018-02-21 10:57] jtattermusch commented on #14470
@ncteisen  do you wanna take a quick look at the log?

[2018-02-21 11:14] jtattermusch commented on #13650
Recent occurences:
https://sponge.corp.google.com/invocation?id=5f6206f5-37e6-4e40-b8e8-b935f34b416f
https://sponge.corp.google.com/invocation?id=b3676043-0a72-415c-920b-c354563f8eb1
https://sponge.corp.google.com/invocation?id=72bfb84a-c961-4eae-9ba0-9b2655cff5dd

[2018-02-21 11:26] jtattermusch commented on #13845
Not seen since Dec 19.

[2018-02-21 11:26] #13845 closed

[2018-02-21 11:31] jtattermusch opened #14471 "flake: h2_http_proxy_nosec_test.exe shutdown_finishes_calls (also with h2_http_proxy_test.exe)"
Currently our top windows flake.

Recent failures (both opt and dbg)
https://sponge.corp.google.com/invocation?id=b25f2870-793b-4c35-8efc-55e7ccfc3cd9
https://sponge.corp.google.com/invocation?id=700f9885-6094-49eb-a653-a8ab6dc9ce6e
https://sponge.corp.google.com/invocation?id=6482be2b-8ac5-4df2-9d99-4337438c9dec
https://sponge.corp.google.com/invocation?id=0c9cec20-0647-49ed-aea0-622241d1c118
htt

[2018-02-21 11:35] jtattermusch commented on #14471
[code]

[code]

[code]

[code]

[code]

[2018-02-21 12:45] slumbi commented on #9121
@murgatroid99  I have tried setting BUFFER_HINT for `write `method, but now messages are never sent.
Do I need sg else apart from call.end() ?

[2018-02-21 13:26] zaneclaes commented on #14402
Thank you for triaging, @ncteisen and @jtattermusch . I would very much appreciate any recommendations or direction you might provide in attempts to successfully bring GRPC to Unity game development.

At the recommendation of a friend, I have attempted to use [DockCross](**https://github.com/dockcross/dockcross**) to compile the C# plugin for the Android arm architecture, but quickly ran into the

[2018-02-21 14:11] jtattermusch commented on #14128
Seen here: https://sponge.corp.google.com/target?id=c4a6163c-127d-4da4-a8ec-2770a03a2b3b&target=github/grpc/c_windows_opt_native&searchFor=&show=ALL&sortBy=STATUS

[2018-02-21 14:23] jtattermusch commented on #14209
Similar to https://github.com/grpc/grpc/issues/14470

[2018-02-21 14:26] jtattermusch commented on #13441
Not seen since 2018-01-11.

[2018-02-21 14:28] jtattermusch commented on #13224
https://sponge.corp.google.com/invocation?id=ef83fb96-734a-4c13-be91-21dc9da53f9e

[2018-02-21 14:30] jtattermusch commented on #13652
Not seen since 2017-12-21.

[2018-02-21 14:30] #13652 closed

[2018-02-21 14:34] jtattermusch commented on #13149
Likely same rootcause as https://github.com/grpc/grpc/issues/14471 (which is much more common).

[2018-02-21 14:34] #13149 closed

[2018-02-21 14:35] jtattermusch commented on #13695
Not seen since 2017-12-07.

[2018-02-21 14:35] #13695 closed

[2018-02-21 14:36] jtattermusch commented on #13766
Not seen since 2018-01-02

[2018-02-21 14:36] #13766 closed

[2018-02-21 14:39] jtattermusch commented on #12510
Not seen since 2018-01-23.

[2018-02-21 14:39] #12510 closed

[2018-02-21 14:41] jtattermusch commented on #13626
Not seen since 2017-12-15

[2018-02-21 14:41] #13626 closed

[2018-02-21 15:23] tylerhartwig commented on #1620
I have successfully cross-compiled for Android, but could not successfully drop it into place and get the library loaded up with Xamarin. The remaining part doesn't seem too difficult though, just need to figure out how to properly transfer the library to device, the branch from @yashton should be helpful with that as well.

@jtattermusch could you provide guidance on how to proceed if I wanted to

[2018-02-21 15:39] markdroth commented on #14220
@AspirinSJL, yes, I am suggesting that we have a test for this case.  Otherwise, we have no way to prove that any potential fix actually works or that we don't break that fix with subsequent changes in the future.

I don't think it's feasible to have the iOS code cancel all of the calls, because it does now have a list of all of the calls.  We don't currently keep a list of all calls on a channel

[2018-02-21 15:50] andre-laskawy commented on #1620
@tylerhartwig you can use path sniffing: create a folder lib inside the android project. under the lib folder you create a folder depending on your target compilation e.g. And inside this folder you paste you grpc so file:
For example:
"lib\armeabi\libgrpc_csharp_ext_mobile.so"
or "lib\armeabi-v7a\libgrpc_csharp_ext_mobile.so"
or "lib\x86\libgrpc_csharp_ext_mobile.so"

dont forget to make copy alw

[2018-02-21 16:03] tylerhartwig commented on #1620
@AndreLaskawy I miscommunicated some, I was able to get the binaries on the device with that method, however, gRPC looks for the library in a different path than where the libraries end up on the device.

I wouldn't mind sharing the binary I have, however it's only for armeabi. If I get some time tonight I may be able to outline the steps I took to compile them as well.

[2018-02-21 18:10] murgatroid99 commented on #9121
The BUFFER_HINT flag means that the message shouldn't be sent yet. If you want the message to be sent, you have to either end the call or write a message without the BUFFER_HINT flag.

[2018-02-21 18:14] srini100 commented on #14220
The bug here is that when grpc_channel_destroy() is called, the user is expecting all pending calls on that channel to return immediately. I think @AspirinSJL is suggesting the user to explicitly cancel calls along with destroying the channel. This mean the user has to keep track of calls on that channel. Just to be clear, the calls do return eventually after a long delay. The user is expecting th

[2018-02-21 18:24] ctiller commented on #9121
(Note: BUFFER_HINT will *eventually* send once buffers are sufficiently
large... I think this defaults to 64kb)

On Wed, Feb 21, 2018 at 10:10 AM Michael Lumish <notifications@github.com>
wrote:

[2018-02-21 18:33] markdroth commented on #14220
Ah, okay, so the original description of this bug is wrong?  @muxi said that the RECV_STATUS_ON_CLIENT op was never returned, but it sounds like you're now saying that it is actually returned; the issue is actually that it's not being returned *immediately*, which is what's being asked for here.  Is that right?

If so, then I think this will require fixing #14292.

[2018-02-21 18:37] markdroth commented on #14292
Another approach would be to stick with the two-level ref scheme for subchannels (which we had been planning to eliminate), where each call on the subchannel will hold a weak ref to the subchannel instead of a strong ref.  That would avoid the performance issue of trying to keep a list of calls on the channel.

The down-side of this approach is that it would break the case where a call is pending

[2018-02-21 18:50] slumbi commented on #9121
Hmm, weird. My client receives everything nicely without the BUFFER_HINT  flag, but when the flag is set, no messages arrive to the client . Even after calling `end()` on the server. I am sending several dozen megabytes in ~20k messages..

[2018-02-21 19:08] nathanielmanistaatgoogle commented on #14446
I'm not yet clear on what is the story of this issue. What system or subsystem is it that is directly using gRPC Python, what specifically is meant by "unicode characters", and how are these unicode characters being passed to gRPC Python? The "Exception iterating responses: 'ascii' codec can't encode character u'\u2013' in position 91: ordinal not in range(128)" part of your report looks really, r

[2018-02-21 19:16] Tagar commented on #14446
It was fixed on client side in PR https://github.com/apache/zeppelin/pull/2810
with one simple change in line

https://github.com/apache/zeppelin/blob/a791fad5970905edd07bdb8afcc00497fb3540f5/python/src/main/resources/grpc/python/ipython_server.py#L53

by adding `.encode('utf-8')`

Thanks.

[2018-02-21 19:24] #14446 closed

[2018-02-21 19:26] nathanielmanistaatgoogle commented on #14446
@Tagar: thank you for following up!

[2018-02-21 20:29] muxi commented on #14220
Sorry I was wrong on this. It seems the op returns after a long (a few minutes) delay.

From its description I think #14292 is the right direction.

[2018-02-21 20:38] markdroth commented on #13612
Still seeing this, for both make and bazel.  Most recent occurrence:

https://sponge.corp.google.com/target?id=da0dbefb-b84d-4828-b5ae-a766ec7cce68&target=github/grpc/c_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS

[2018-02-21 20:42] markdroth opened #14475 "cloud_to_cloud:go:java_server:timeout_on_sleeping_server flake"
https://sponge.corp.google.com/target?id=7d5f0b98-875c-4d6d-abc8-da9cd377b397&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

Output:

[code]

[2018-02-21 20:56] martin-xia commented on #13873
I had the same issue, i had to downgrade to 1.8.1 and set the flag @dvaldivia put

[2018-02-21 21:43] AspirinSJL commented on #14220
Actually the workaround is not too bad to me. In iOS layer, we have two kinds of network monitor: a single channel-level monitor; some per-call monitors. The channel-level monitor will destroy all the channels upon network error. The workaround I mentioned above is a one-line change in the call-level monitor, which cancels the call upon network error.

But I definitely agree that this workaround i

[2018-02-21 22:29] duelinmarkers opened #14477 "Ruby user-agent grows longer with each new stub instantiated"
### What version of gRPC and what language are you using?

grpc-ruby/1.9.1

### What operating system (Linux, Windows, …) and version?

Linux 3.16.0-5-amd64 Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]

### What did you do?

We have a Ruby gRPC clie

[2018-02-22 03:04] codesuki commented on #4629
@kpayson64 I saw in your repo that you are still working on this. Thanks! Does it seem to work?

[2018-02-22 03:18] kpayson64 commented on #4629
@smetj
@codesuki
Sorry about the delay.  There were a few high priority issues the popped up that I needed to address, and I was on vacation for a week so this got pushed back a bit.

This is very much at the top of my stack right now.  I'm currently tackling some lingering test failures, but the bulk of this seems to be working.

[2018-02-22 03:23] codesuki commented on #4629
Sounds great! Thanks :) I hope we can get our gRPC working with locust soon.

[2018-02-22 03:47] mikelehen commented on #14220
FYI- In case there's any confusion, the customer is not calling grpc_channel_destroy() or "using some other workaround" as far as I know.

The repro project linked in the issue description is an iOS app using the Firebase iOS SDK for Cloud Firestore (which uses grpc internally).  I work on the SDK, and all we we do is initiate a streaming RPC request to the backend. The user-facing issue is that u

[2018-02-22 07:40] phlippieb commented on #12172
@muxi

I know it's ugly, but would it work if the pods were renamed to something like `AAA-ProtoCompiler`?

[2018-02-22 07:44] Dhara-Openxcell opened #14488 "Error in connecting grpc"

[2018-02-22 07:50] Dhara-Openxcell opened #14489 "Error in connecting GRPC"
We are getting this error connecting with grpc using node package grpc in mac.

**E0222 13:11:14.727365000 140736589050816 ssl_transport_security.cc:190] ssl_info_callback: error occured.

E0222 13:11:14.727629000 140736589050816 ssl_transport_security.cc:979] Handshake failed with fatal error SSL_ERROR_SSL: error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure.**

We have 3 ln

[2018-02-22 07:51] #14488 closed

[2018-02-22 08:48] jtattermusch commented on #13848
`GenericInvokerFutureInvocationAsynchronousEventServiceTest` specifically hasn't failed in a while (based on historical data), closing the issue.

[2018-02-22 08:48] #13848 closed

[2018-02-22 09:02] jtattermusch opened #14491 "TIMEOUT: py35.test.unit.beta._face_interface_test.DynamicInvokerFutureInvocationAsynchronousEventServiceTest"
Timing out on windows (at around 1% rate). Currently the only python flake we're regularly seeing so it's really worth fixing.

The `py35.test.unit.beta._face_interface_test.MultiCallableInvokerFutureInvocationAsynchronousEventServiceTest` is also flaky - I assume the rootcause is the same.

Recent failures of DynamicInvokerFutureInvocationAsynchronousEventServiceTest (mostly failing on dbg)
https

[2018-02-22 09:02] jtattermusch commented on #14491
@mehrdada, can you take a look?

[2018-02-22 09:03] timfeirg commented on #9270
see https://github.com/grpc/grpc/issues/9270#issuecomment-270991114 @eaglo ?

[2018-02-22 09:34] MrMage commented on #10332
In case anyone else encounters this, I was able to fix it by running `git submodule update --init` in the main `grpc` directory.