[2021-01-27 06:56] MrPointerDev commented on #25280
What's inside them?
and What's the output of `ls -lh` ?

[2021-01-27 09:28] murphyj8 commented on #24539
@lidizheng @gnossen I'll open up a new issue & apologies for the spam. I appreciate it's a lot to wade through.

[2021-01-27 09:43] murphyj8 opened #25282 "Install failure for grpcio python tool kit on MacOS 11 with python 3.9"
Hello @lidizheng, @gnossen

I'm having trouble installing grpc for python since my OS upgraded to MacOS 11 with python 3.9. When following the instructions on the website

pip3 install grpcio

the command does not find the binary wheel, downloads the source and tries to build it. The error message is huge. Please refer to the attached file.

When I try to manually install the binary wheel suggeste

[2021-01-27 09:54] Younnah commented on #25060
Hi @casperisfine

Sorry for the inconvenience, I'm a ruby coder but I'm not an expert, is it possible to explain to me the procedure to follow to patch the gem? (just how to create & apply the patch)

Thank you!

[2021-01-27 10:02] casperisfine commented on #25060
It's quite tricky, I had to extract the `.gem` content, patch it and then rebuild.

Given that you are on Ruby 2.5 you should be able to use the precompiled gem, so I wouldn't recommend going this route.

Check your `bundle platform`, I suppose your Gemfile must be configured in a way that doesn't want to use the `universal-darwin` platform gems: https://rubygems.org/gems/grpc/versions/1.24.0-univ

[2021-01-27 10:14] Younnah commented on #25060
Thank you for your quick reply!

I have this for `bundle platform` :
[code]

I don't know if it's useful, but here is what I have for `gem env`:
[code]

Do you have any idea what I could do to fix this problem? Thank you!

[2021-01-27 10:27] casperisfine commented on #25060
Try: `bundle lock --add-platform=x86_64-darwin20`

[2021-01-27 10:33] Younnah commented on #25060
Thank you so much, it worked !! 🎉

[2021-01-27 15:34] tikekar commented on #25096
That will be great! Thanks!

On Mon, Jan 25, 2021 at 12:20 AM yulin liang <notifications@github.com>
wrote:

[2021-01-27 15:46] devjgm commented on #24904
Ping. Any update on this issue?

[2021-01-27 16:24] skyloik commented on #24904
how to declare a variable in HTML 😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂

On Wed, Jan 27, 2021, 15:47 Greg Miller <notifications@github.com> wrote:

[2021-01-27 19:14] veblush commented on #24904
@konste @devjgm This can be closed as the PR got merged.

[2021-01-27 19:14] #24904 closed

[2021-01-27 22:08] magmajia-pki commented on #19816
@jtattermusch Great! Thanks!

[2021-01-27 22:47] tikekar commented on #25096
@yulin-liang thanks for fixing this. Will this be available in next library version update?

[2021-01-27 22:49] yulin-liang commented on #25096
Yes, it will be in the next version.

[2021-01-27 22:50] #25096 closed

[2021-01-27 23:35] asbhat10 opened #25284 "Client Connect is invoked from gRPC Internal Thread in Linux"
In Mac OS, the gRPC connect happens from the same thread which calls the RPC API.
But in Linux, I observed that it uses gRPC internal thread to connect and doesn't use the thread which invoked the RPC.

Is there a way to disable the gRPC internal thread, so gRPC can use caller thread to connect to the gRPC server?

[2021-01-28 01:06] minglunli opened #25285 "[C#] grpc_csharp_ext.x86.dll and grpc_csharp_ext.x64.dll not copied to output in netstandard2.0"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This request is specifically for the Grpc.Core package on nuget: https://www.nuget.org/packages/Grpc.Core/2.35.0

We recently transitioned to netstandard2.0 and encountered errors because grpc_csharp_ext.x86.dll and grpc_csharp_ext.x64.dll

[2021-01-28 13:58] ptrkrlsrd opened #25287 "The Python grpcio generator can create classes with reserved keywords"
### What version of gRPC and what language are you using?
* gRPC Version 1.35.0

### What operating system (Linux, Windows,...) and version?
* Tested on both Linux and Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
* Python 3.8.5

### What did you do?
I created a protobuf file with a message with two fields: `from` and `to`. Then I implemented the server

[2021-01-28 15:06] jtattermusch opened #25288 "Tests that load "main" from a shared library don't work on ARM64 (under bazel)"
Tests known to be impacted:
- fuzzer tests (that import "main" from fuzzer_corpus_test.cc). https://github.com/grpc/grpc/blob/73978ad0471832932517876da9d38a14b8f1d9a6/test/core/util/fuzzer_corpus_test.cc#L157
- `//test/cpp/end2end:end2end_test` (where main is in the end2end_test_lib)

Problem:
- When the test binary starts,  _start function is first invoked and it invokes [__libc_start_main](https

[2021-01-28 15:09] jtattermusch commented on #25288
@nicolasnoble  @gnossen  @veblush  feel free to chime in - this is the issue I mentioned in our syncup. It's quite interesting IMHO.

Btw the problem can be worked around by using `--dynamic_mode=off` bazel flag to force the library with main to be linked statically but doing that in turn breaks other tests.

[2021-01-28 15:24] jtattermusch opened #25289 "ARM64: //test/cpp/naming:resolver_component_tests_runner_invoker_unsecure@poller=epollex test is failing"
Repro (run on linux aarch64 machine)

`tools/bazel test --config=dbg --cache_test_results=no  --test_output=streamed //test/cpp/naming:resolver_component_tests_runner_invoker_unsecure@poller=epollex`

resolver_component_tests_runner_invoker (without _unsecure is broken in the same way).
All the other pollers are also failing.

[code]

[2021-01-28 15:25] jtattermusch commented on #25289
@apolcyn  any ideas what could be wrong?

[2021-01-28 19:01] apolcyn commented on #25289
Looks like we failed the sockets open/close loop got an EBADF error.

This is suspicious because it would suggest a socket use-after-close bug, which is exactly the kind of bug that this test is trying to hit.

Any complete trace logs? Or way to repro?

[2021-01-28 19:02] asbhat10 commented on #25284
Mac is running version 1.34 whereas the linux machine is running 1.15.
Was the behavior modified in between these versions?

[2021-01-28 20:10] jtattermusch commented on #25257
I don't understand why Protobuf_ProjectSupported wouldn't be set to true (as you say).
https://github.com/grpc/grpc/blob/86f93801e5d452cff40d6958d21a8eb211da0654/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets#L6

[2021-01-28 20:11] tdhintz commented on #25257
My change appears to work but the project isn't far enough to be clear that it would be all that is needed.  I was hoping someone experienced would know best.

[2021-01-28 20:13] jtattermusch commented on #25289
I can provide you with access to an ARM64 machine where reproducing is easy (just by running the bazel command). Let's sync up offiline.

[2021-01-28 20:18] jtattermusch commented on #25257
If would help if you could at least provide a diff of what changes you've made (like this it's unclear what exactly you changed where and how).

Btw, having the repro at hand would also be helpful.

[2021-01-28 21:06] justinwride commented on #24390
What finally fixed the issue for me was adding what you recommended along with `GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1`.

I'm using a new Apple Silicon M1 MacBook and added these two lines to my **~/.zshrc** file that finally worked:
`export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1
export GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1`

[2021-01-28 21:15] stanley-cheung commented on #25250
Will look into this. Funny how 8.0.1 wasn't listed as a release yet in the PHP [site](https://www.php.net/releases/index.php) itself. Or maybe they stop updating that.

[2021-01-28 21:24] dfederm commented on #25285
It looks like the problem here is that build logic is not transitive across project references.

So if Proj1 depends on Proj2 depends on Grpc.Core, Proj1 does *not* import Gprc.Core.targets.

The reason this works when both projects use .NET Framework is the Proj2 would import Grpc.Core.target which adds Content items. Content items *are* transitive for projects, so Proj1 does *not* import Grpc.Co

[2021-01-28 21:27] mlocati commented on #25250
I think it's an issue with the gcc version that comes with Alpine Linux 3.13. With other distros there isn't any issue

[2021-01-28 23:27] amanand commented on #25273
Following issue was fixed by @yashykt and reviewed by @rmstar

 https://github.com/grpc/grpc/pull/20139
In the backtrace that we are seeing, the error lengths  (as you can see below) seem to be weird and probably incorrect and i think that the above mentioned fix, should help in fixing this issue. Following is an excerpt of the tcp variable in frame 4 from crash:

$1 = {base = {vtable = 0x85e415c

[2021-01-29 01:14] menghanl commented on #25261
Is there any way to bypass this? The check "Portability Tests Linux [Build Only] (internal CI)" is failing due to this, and it's **required**. So this is blocking the PRs.

Maybe this should be p1 not p2?

[2021-01-29 02:01] siriuslan commented on #25167
Is this [commit ](https://github.com/grpc/grpc/commit/c48e39d5c2007dee0508d7052f6ec58011b84b7a)fixing your problem? Try 1.35.0 release

[2021-01-29 05:08] jiangtaoli2016 commented on #25167
@nicolasnoble where is default root.pem installed in the system for Mac and windows?

[2021-01-29 06:24] zbordas-kollective commented on #25167
I am not sure about Mac but on Windows you need to go through the specific API. You need to open the "ROOT" certificate store and I assume the first certificate will be the "root" one.
[example](https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-certenumcertificatesinstore)

[2021-01-29 09:39] jtattermusch commented on #25257
That's a very suspicious change and It's likely wrong. It says to use the netstandard1.3 assembly, which seems correct since that is what' being built and included in the Grpc.Tools package: https://github.com/grpc/grpc/blob/f6f75a6ff86715a28ca55c3facfb729e8dfb5ea8/src/csharp/Grpc.Tools/Grpc.Tools.csproj#L6
By your change you're pointing it to an assembly that never ever existed and that's wrong.

[2021-01-29 09:48] jtattermusch commented on #25285
The `Grpc.Core.targets` file is only needed when running on .NET Framework ("netXYZ" targets).
.NET Core support the concept of native libraries automatically so it doesn't require any special handling for them to get copied.
- if your project is targeting the legacy .NET Framework, you should be using the net45 target and everything should work.
- if your project is targeting the .NET Core framew

[2021-01-29 10:40] jtattermusch commented on #20375
Looks like that's an unwanted side effect of https://github.com/grpc/grpc/issues/18100.
The gRPC C# support for UDS sockets should be revisited to make sure it works.

[2021-01-29 12:08] jtattermusch commented on #25208
Looks like I can reproduce.

I ran `GRPC_VERBOSITY=debug func start` to get extra logs and this is the output:
[code]

[2021-01-29 12:14] Code-Codex commented on #20375
It would be very helpful to get UDS working. Can this issue be opened again?

[2021-01-29 12:27] jtattermusch commented on #25208
The `System.EntryPointNotFoundException: Unable to find an entry point named '?' in shared library 'grpc_csharp_ext.x64'`  message is puzzling me

https://github.com/grpc/grpc/blob/86f93801e5d452cff40d6958d21a8eb211da0654/src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs#L95

[2021-01-29 12:56] jtattermusch commented on #25223
Nuget packages haven't been designed to be used with Unity and https://github.com/GlitchEnzo/NuGetForUnity sounds like a neat tool, but it doesn't seem like it's officially supported neither by Unity or nuget. I suspect NuGetForUnity simply doesn't correctly handle nugets that come with native libraries and that's why the workaround of copying the native library (libgrpc_csharp_ext) is required.

[2021-01-29 12:56] #25223 closed

[2021-01-29 13:14] jtattermusch commented on #25252
Reassigning to @apolcyn  as this seems to be c-ares related.

[2021-01-29 13:17] jtattermusch commented on #25252
@jwfx  just to verify this is a c-ares related problem, can you run your the example with
`GRPC_DNS_RESOLVER=native` (disables c-ares) and come back with the result?
https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

[2021-01-29 14:04] jwfx commented on #25252
@jtattermusch
I tested that and the native resolver does not have this issue. See last paragraph in my initial issue.

[2021-01-29 15:07] dfederm commented on #25285
@jtattermusch You're right about netcore due to the runtimes dir, although that does require a publish, which is reasonably.

In that case my suggestion is simply to move /build to /buildTransitive.

Here's a simple repro

In Library\Library.csproj:
[code]

In ConsoleApp\ConsoleApp.csproj:
[code]

Upon building ConsoleApp, you will see that the native binaries are not present in the output folder.

[2021-01-29 15:42] BusyJay opened #25301 "multiple definition link time error on some upb symbols"
### What version of gRPC and what language are you using?
1.35.0 and Rust, the project is at https://github.com/tikv/grpc-rs

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang version 7.0.1-8+deb10u2 (tags/RELEASE_701/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

[2021-01-29 16:35] ReubenJ commented on #25084
FYI this appears to be fixed. Tested in a 2019.4 project using [today's build](https://packages.grpc.io/archive/2021/01/f6f75a6ff86715a28ca55c3facfb729e8dfb5ea8-0dbab2dd-56cd-468b-b26b-6ec4f9ca2003/index.xml).

[2021-01-29 16:53] XinLin opened #25302 "assert fails when enable gzip for grpc with cronet"
### What version of gRPC and what language are you using?
gRPC Objective-C v1.31.0

### What operating system (Linux, Windows,...) and version?
iOS 12.X, 13.X and 14.X
iPhone 6 to iPhone 12

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode Version 11.6 (11E708)

### What did you do?
enable gzip for grpc with cronet, see following assert fails:

[code]

* thre

[2021-01-29 16:57] XinLin commented on #25302
@yulin-liang any idea about how to enable gzip for grpc call(client call) with cronet?

[2021-01-29 17:50] ZhenLian commented on #25167
From the error message, it seems on Windows, the client is not able to read the root certificate from the default root path. Would you be able to manually read the certificate byte data from that "specific API", and then put it into grpc client? You can set the root certificates from grpc::SslCredentialsOptions on the client side as well.

[2021-01-29 17:56] jiangtaoli2016 commented on #25167
@zackgalbreath did you install grpc to your system? That is `grpc/etc/roots.pem` will be installed to `/usr/share/grpc/roots.pem`.

If `/usr/share/grpc/roots.pem` does not exist, it is a good signal that you did not install it.

[2021-01-29 18:20] menghanl commented on #25261
This was fixed by #25277 and #25260. I will cherry pick the fix into my backport PRs.

[2021-01-29 19:00] gnossen commented on #25288
Not an ARM expert, but I find two things odd.

1. I'd expect an address within the global offset table, not `0x0`.
2. Why did the compiler generate four instructions to move a quadword 0 to the register instead of a single `mov x1, #0x0`? It usually does this when moving a single word, right?

I tried to reproduce myself, but I don't have access to an aarch64 machine and it's much harder than expe

[2021-01-29 19:30] BusyJay commented on #25301
Since upb and grpc library both include identical source:

https://github.com/grpc/grpc/blob/257d0045ab958eb767a3591c88e9d0c2bdf4b916/CMakeLists.txt#L1612-L1617

https://github.com/grpc/grpc/blob/257d0045ab958eb767a3591c88e9d0c2bdf4b916/CMakeLists.txt#L1695-L1701

https://github.com/grpc/grpc/blob/257d0045ab958eb767a3591c88e9d0c2bdf4b916/CMakeLists.txt#L3795-L3808

When linking them together there

[2021-01-29 20:16] lidizheng opened #25308 "ASAN failed on re2 with odr-violation"
This issue wasn't revealed until https://github.com/grpc/grpc/pull/25272 add `re2` to Bazel.

[code]

[2021-01-29 22:35] tobq opened #25311 "GRPC cmake build failing: definition of dllimport data not allowed"
Building the target `grpc++` results in:
[code]

I got this error last week, and I ended up reckoning my repository in a new folder, however, this problem has come back in the new folder - no idea what it could be, seems like something in the environment if it only affects the specific folder (even after deleting the cmake-build-outputdir).

It's complaining about a dllimport - that's actually a d

[2021-01-30 01:41] veblush commented on #25301
@BusyJay Thanks for the report. Yeah it looks wrong to me.

[2021-01-30 01:54] stanley-cheung commented on #25248
Fixed by #25299

[2021-01-30 01:54] #25248 closed

[2021-01-30 01:55] stanley-cheung commented on #25174
This is fixed by the revert.

[2021-01-30 01:55] #25174 closed

[2021-01-30 09:10] sandan commented on #24073
It would help to document:
- which configuration values apply to server and clients.
- precedence or resolution rules for configuration values that can be set on client/server
- default values
- whether the config value is implemented or effectively ignored. I understand that currently, some configurations (like the [cpp retry configurations aren't yet implemented](https://groups.google.com/g/grpc

[2021-01-30 10:30] dustinmoris commented on #21446
BUMP!

This issue has been open for more than a year now. The [only fix](https://github.com/grpc/grpc/issues/21446#issuecomment-572305508) opens up [critical security vulnerabilities](https://github.com/grpc/grpc/issues/21446#issuecomment-698396812). Is there a chance to get a proper fix any time soon?

[2021-01-30 11:44] elibendavid commented on #21446
I happened to bump into this issue, and since there was no way around it, had to solve it.
The solution is a slight overkill, but it worked.
What I did was basically build the entire grpc library right on alpine.
Its a long process but quite simple:

-  clone the repo+tag you want use - for me it was https://github.com/grpc/grpc/releases/tag/v1.33.2
-  build using` cmake` as described here [https:

[2021-01-30 17:50] amitwaisel opened #25313 "C# native memory leak/explosion"
### What version of gRPC and what language are you using?
gRPC 2.34.1 and gRPC 2.27.0 for C# (upgraded from 2.27.0 to 2.34.1 when issue was encountered, but it didn't help)

### What operating system (Linux, Windows,...) and version?
Windows Server 2019 version 1809

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet core 3.1

### What did you do?
Running a C#

[2021-01-30 19:37] zbordas-kollective commented on #25167
@ZhenLian, I appreciate you looking into this issue. Yes, I can definitely read the root certificate on the application level or I can even generate a certificate on the fly. I see that there are experimental features in the latest version that allow me to plug in my own certificate provider but I simply did not have enough time to look into it yet.

[2021-01-30 23:45] obawin commented on #21446
thanks for the instructions @elibendavid !  wondering if you could help clarify the file copy/replacement part?  after the success cmake, these files containing "libgrpc_csharp_ext" are present in the grpc/ directory:

_./cmake/build/libgrpc_csharp_ext.so.14.0.0
./cmake/build/libgrpc_csharp_ext.so.14
./cmake/build/libgrpc_csharp_ext.so
./src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.C

[2021-01-31 04:36] eli-bendavid-kaltura commented on #21446
@obawin This is highly dependant on your installation of .net runtime as well as your app installation.
In my case it was - copy it to the exact location reported by the original error.

[2021-01-31 04:37] elibendavid commented on #21446
@obawin This is highly dependant on your installation of .net runtime as well as your app installation.
In my case it was - copy it to the exact location reported by the original error.

[2021-01-31 06:56] obawin commented on #21446
Got it!  Big thank-you @elibendavid!  I dug around our development/deployment setup, and found that since we build/deploy a self-contained app, the updated libgrpc_csharp_ext.so.14.0.0 had to be renamed and overwrite the file that gets automatically pulled down in the Docker publish folder.

Hopefully the issue gets an official fix in a future update as it's a bit clumsy, but having this solution

[2021-01-31 21:18] patrickdepinguin commented on #21551
See also following patch in Buildroot that allows specifying the path to a host version of grpc_cpp_plugin, for cross-compilation.
https://git.busybox.net/buildroot/tree/package/grpc/0001-target-build-using-host-plugin.patch

[2021-01-31 22:20] guthom commented on #24002
Any news on this? it could be really helpfull for some of my projects if there would be a way to enable arm64 builds!

Best Guthom

[2021-02-01 05:19] eli-bendavid-kaltura commented on #21446
Happy to help :- )

[2021-02-01 05:20] elibendavid commented on #21446
Happy to help :- )

[2021-02-01 07:51] jtattermusch commented on #24002
I'm not really sure what the answer should be here.

The gRPC team realizes that the importance of ARM64 is growing and we are actually making steps towards supporting it. As expressed before, the main challenge is setting up the test infrastructure and integrating it with the tests we currently have. gRPC is not a small project and its testing infrastructure is quite complicated and there are man

[2021-02-01 14:27] klausmyrseth opened #25315 "[python] gRPC server async, missing parts to make it work"
From looking at the grpc-tools protoc I cant find a way of compiling an async server/client, I can run the server through grpc.aio.server but the service I cant register asynchronously.

I am sure I can handcode this from scratch but I was hoping to use the code generation for this, up to now I have to use the sync variant but since all our other code is async its starting to get tedious ;)

My pr

[2021-02-01 15:05] ashleystendel commented on #24325
Hi! Is there any update on this issue?

[2021-02-01 15:42] #25084 closed

[2021-02-01 17:13] gnossen commented on #24325
Reassigning to @lidizheng since this seems to be an `asyncio` issue.

[2021-02-01 17:29] XinLin commented on #25021
I checked the call stack on the main thread, seems the user was trying to force quit the app, some static variables in grpc core were deallocated but still be accessed after. @veblush @yashykt @yulin-liang

2 libsystem_c.dylib 0x00000001b45f67b8 __cxa_finalize_ranges (in 67a9cf6e-0a27-3506-baa5-361d62d17646) + 384
3 libsystem_c.dylib 0x00000001b45f6ac8 exit (in 67a9cf6e-0a27-3506-baa5-361d62d17646

[2021-02-01 18:15] jrmlhermitte commented on #23796
We have had this issue too and this thread was helpful for us. We have a workaround, so I thought I would provide details, in hopes it may help.

What did it was to set `GRPC_POLL_STRATEGY=epoll1` on our workers that use multiprocessing with `fork` on linux based images.
We have been gradually getting rid of using `fork` in general (as it was the cause for many other issues).
This happened on work

[2021-02-01 18:31] yulin-liang commented on #25302
Here's how we enable gzip in grpc-objc:
[code]

Does it only happen in v1.31.0, do you know how to reproduce it?

[2021-02-01 18:46] lidizheng commented on #25315
The asyncio API works with normal generated code. This feature was implemented to ensure a smoother migration process. Where do you think we should include this info to prevent future confusion?

Link to the guide to create stub and servicer: https://grpc.io/docs/languages/python/basics/#generating-client-and-server-code
Link to HelloWorld that uses the generated code: https://github.com/grpc/grpc

[2021-02-01 18:47] XinLin commented on #25302
for grpc with HTTP/2, there was no issue to set the compressionAlgorithm;
for grpc with Cronet, it always threw the above exception.

I have not tried other versions yet since we are sticking to v1.31.0.

[2021-02-01 18:53] lidizheng commented on #23373
We still want this.

[2021-02-01 19:18] klausmyrseth commented on #25315
This is exactly what i was looking for. Perhaps switch the default examples and so on with these as 2.x is end of life ;)

there you saved my day so i can use my normal apis without a ton of hassle 😀

[2021-02-01 19:26] #25315 closed

[2021-02-01 19:39] yashykt commented on #25273
Hi @amanand, Yes this does seem like a stacktrace resulting from the bug fixed by #20139

I took a look at the file and other than the fixes made in #20139, the refcounting seems to be fine with GRPC_CLOSURE_SCHED. To be safe, I would highly recommend using the latest release instead.

[2021-02-01 19:57] amanand commented on #25273
Thanks Yash for confirmation and recommendation. I will check internally on how quickly we can move to latest stack.

[2021-02-02 04:17] mehrdadn commented on #21269
I don't believe this is resolved.

[2021-02-02 06:48] choopm commented on #23340
@YukiNanCC-USYD @bettdouglas
You are probably failing the hostname verification, see this: https://github.com/grpc/grpc/issues/5697#issuecomment-230198556
You can also dig into it using these environment vars:
[code]

[2021-02-02 10:07] dawidd6 commented on #25118
It is now fixed:
https://github.com/Homebrew/linuxbrew-core/pull/22197

[2021-02-02 11:34] shubear commented on #23606
I am facing the same issue on 2.35 and unable to build for grpc with ios and tvos. Tried to build with ENABLE_BITCODE set to false for both Unity-iPhone and UnityFramework, however the build continues to fail. Any suggestions on how I could work around this ?

[2021-02-02 11:58] patrickdepinguin opened #25322 "Allow building grpc_cpp_plugin only to aid cross-compilation"
### Is your feature request related to a problem? Please describe.
To cross-compile grpc, you need a native version of grpc_cpp_plugin. This tool is expected to be found in PATH.
To build such native grpc_cpp_plugin, the simple approach is to build the entire native grpc, but this builds too much, and has a lot of external dependencies, e.g. on a native version of libabseil-cpp, re2, etc.

### Des

[2021-02-02 16:15] shubear commented on #23606
I dug a little deeper and tried both the provided experimental build (without bitcode) and a custom build (with bitcode.)
In both scenarios I ended up with the following error
`Undefined symbols for architecture arm64:
  "_deflateInit2_", referenced from:
      zlib_compress(grpc_slice_buffer*, grpc_slice_buffer*, int) in libgrpc.a(message_compress.o)
      grpc_stream_compression_context_create_g

[2021-02-02 17:16] #25301 closed

[2021-02-02 17:36] murphyj8 commented on #25282
hello @lidizheng @gnossen,

I updated my macOSx today and was forced to fix my python installation again. I'm not sure what I did differently to the last time but grpc tools for python installed with a hitch (downloaded & installed the binary wheel). I'm assuming when I did the previous upgrade I did something odd with the python3.9 interpreter.  Thank you for taking the time to look into this pro

[2021-02-02 17:36] #25282 closed

[2021-02-02 18:53] drfloob commented on #21269
I think your best bet is to build with `bazel build --copt='-fcolor-diagnostics' :my_target`. It's unfortunately not trivial to set compiler flags globally for all targets from _within_ BUILD files. The cygrpc build depends on many other grpc core library targets, and there's no great way to pass `copt`s down through the dependency tree in bazel. Your suggestion to modify the `pyx_library ` is ind

[2021-02-02 18:53] #21269 closed

[2021-02-02 20:04] yulin-liang commented on #25302
Is it a streaming call and reproducible? Can you provide your code snippet?

[2021-02-02 20:41] XinLin commented on #25302
yes, it is a streaming call and reproducible.

let grpcCallOptions = GRPCMutableCallOptions()
            grpcCallOptions.initialMetadata = self.callOptions?.customHeaders
            grpcCallOptions.retryEnabled = false
            grpcCallOptions.compressionAlgorithm = .compressGzip
            if transportID == .GRPCTransportCronetID {
                // Cronet will handle the cert pinning and

[2021-02-02 20:44] 0x0badc0de opened #25327 "Sync generator call from async server can lead to freeze"
### What version of gRPC and what language are you using?
Python, 1.35.0

### What operating system (Linux, Windows,...) and version?
Debian Buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.7

### What did you do?
Execute sync servicer in async server, it hanged.

Server:
[code]

Client:
[code]

### What did you expect to see?
Server should be ab

[2021-02-02 21:18] wslab commented on #24556
What worked for me is upgrading pip. Upgraded pip simply downloaded the prebuilt package instead of building it from `.tar.gz`.

[2021-02-02 21:33] mehrdadn commented on #21269
@drfloob No, that isn't our best bet. This isn't about `-fcolor-diagnostics`. It's about passing extra flags to `cc_binary`, intentionally solely to the compilation target. That's why I didn't ask how to do this globally. We ended up [having to add a `**cc_kwargs` argument](/ray-project/ray/blob/0998d69968608012ca6cdd1ee166961df1aa0f0b/BUILD.bazel#L1664) just to work around this limitation.

[2021-02-02 23:40] drfloob commented on #21269
I see. So the request here isn't limited to `copts` either, as the issue states. You want pyx_library to support the addition of arbitrary arguments to the resulting cc_binary targets. That does seem useful, though gRPC's pyx_library is considered internal, not supported for 3rd party use. We should update the docs to clarify that point.

@gnossen any argument against accepting a patch for this? T

[2021-02-02 23:48] gnossen commented on #21269
Definitely. Contributions are welcome. I see you have several patches in your linked repo.

I'm also interested in your use case. Are you using our `pyx_library` rule directly? Or do you need this argument to somehow modify the gRPC Python library?

[2021-02-03 00:05] mehrdadn commented on #21269
Yeah, we only needed `copts` at the time. The need for other arguments arose later. We are using it [directly](https://github.com/ray-project/ray/blob/0998d69968608012ca6cdd1ee166961df1aa0f0b/BUILD.bazel#L1664). That said, now I'm thinking maybe it's not appropriate to make the change in gRPC after all? I don't recall what the implications at the time, but it's possible I might have simply missed

[2021-02-03 00:26] gnossen commented on #21269
AFAIK, the Cython repo has the only version of this rule that seems intended for external consumption. The others arose out of necessity/expedience. But I can't vouch for it, since I've never used it myself.

[2021-02-03 03:21] shubear commented on #23606
I managed to get it running by adding `libz.tbd` as a library on UnityFramework. The steps to build with unity ios should be added to the experimental readme.
I figured it out from: https://github.com/Cysharp/MagicOnion#ios-build-with-grpc

[2021-02-03 06:50] yogihardi commented on #24645
Hi @murgatroid99 ,

is there any good news for this one?

[2021-02-03 07:06] upgiveup opened #25331 "Insecure encryption algorithms in the pem"
Hi, the grpc/_cython/_credentials/roots.pem in the grpc uses the Insecure encryption algorithms, sha1WithRSAEncryption; could you change it with secure encryption algorithms such as sha256? Thank you very much.

[2021-02-03 09:33] MrMage commented on #23626
This is still an issue with gRPC 1.35; the `grpc.so` PHP extension has grown to 105 MB by now.

FYI, I have also been suffering from slow compilation. I am now using the following command to tremendously speed up the compilation process, which instructs `make` to use more than one processor:

`MAKEFLAGS="-j $(nproc)" sudo -E pecl install grpc`

I am also looking into stripping the binary during co

[2021-02-03 11:07] MrMage commented on #23626
Update: I have not found a way to pass `CFLAGS` without `-g` or `LDFLAGS` with `-s -w` to the gRPC compilation steps, so I am now resorting to stripping the binary after build now.

[2021-02-03 14:20] dylanmorroll opened #25334 "_MultiThreadedRendezvous is a subclass of grpc.RpcError"
### What version of gRPC and what language are you using?
1.31.0

### What operating system (Linux, Windows,...) and version?
Linux Debian Buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?
We have an authentication interceptor that deals with some responses. In there, we have some code akin to the following:
[code]

When debu

[2021-02-03 16:58] jiangtaoli2016 commented on #25331
roots.pem comes from Mozilla published [roots](https://hg.mozilla.org/mozilla-central/raw-file/tip/security/nss/lib/ckfw/builtins/certdata.txt).

Which entry uses sha1WithRSAEncryption?

[2021-02-03 17:10] cabello commented on #24846
@nilleb thank you for your instructions, I wouldn't be able to investigate this it without them.

In my case I am using asdf so the destination was slightly different:
[code]

I had to make sure my project, and the clones of protobuf and grpc were matching the version by checking out the correct tags.

In my case I wasn't able to compile protobuf:

[code]

I did proceed and copy the generated prot

[2021-02-03 17:20] cabello commented on #24846
If I do a `bundle pristine` install after updating these dependencies, I get the following:

[code]

I was expecting something like `Installing nokogiri 1.11.1 (arm64-darwin)`.

Then I run `ruby -rgrpc -e"puts 'OK'"`

[code]

Note the wrong architecture message for the `grpc_c.bundle`.

[2021-02-03 17:48] cabello commented on #24846
I got one step closer by following https://github.com/protocolbuffers/protobuf/issues/8199

A bundle pristine install just works, then when running rspec I get the following:

[code]

Even though I am using the arm64 architecture now. 🤔

[2021-02-03 18:31] yashykt commented on #25273
No problem!

[2021-02-03 18:31] #25273 closed

[2021-02-03 18:39] lidizheng commented on #25334
Thanks for filing this issue, the structure of classes for invoking-side does confuse people. What you observed is right, `_MultiThreadedRendezvous` (see [code](https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_channel.py#L630)) is implementing 3 interfaces `grpc.Future`, `grpc.Call`, and `grpc.RpcError`. And, when an error occurs, gRPC Python raises the "Rendezvous" object as `grpc

[2021-02-03 18:41] lidizheng commented on #25287
This keyword conflict is unfortunate, but existed in many languages. I would suggest to ask the question in https://github.com/protocolbuffers/protobuf/issues to see how ProtoBuf Python users solve this issue.

[2021-02-03 18:41] #25287 closed

[2021-02-03 18:44] apolcyn commented on #25281
From that error, it looks like the TCP connection is failing to establish. This could be due to a number of reasons, for example because the server address does not correctly locate what address the server is bound to, a firewall, etc.

For debugging purposes, it might help to first see if you can establish a simple TCP connection to the server, from the client's machine, but without using gRPC on

[2021-02-03 18:47] pcj opened #25337 "Bazel: unnecessary dependency of python grpc protoc plugin with rules_swift?"
Given the following setup for a workspace wanting to use just grpc+python:

[code]

[code]

It would be ideal not to have to bring this in:

[code]

[2021-02-03 18:58] apolcyn commented on #25263
The clients-side aspects of this request probably fit into https://github.com/grpc/grpc/issues/22883

[2021-02-03 19:04] lidizheng commented on #25275
Have you checked if the [`SO_REUSEPORT`](https://man7.org/linux/man-pages/man7/socket.7.html) feature is enabled in the network stack within the Docker container? The `multiprocessing` example requires the OS to allow sharing a TCP port across processes.

[2021-02-03 19:24] clayg opened #25339 "ERROR:asyncio:Task exception was never retrieved in _consume_request_iterator"
### What version of gRPC and what language are you using?

'1.35.0'
Python

### What operating system (Linux, Windows,...) and version?
Linux - Ubuntu 20.04.1 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.5

### What did you do?
I was trying to debug my server, when I noticed my client cleanup was not graceful.  It seems when a Stream->Unary requ

[2021-02-03 19:25] yulin-liang commented on #25302
I can not reproduce it, does crash happen for all of your streaming call with Cronet? What about unary call?

[2021-02-03 19:44] XinLin commented on #25302
we did not try the unary call since we did not have one yet.
Cronet version is 78.0.3904.84, and also crashes on 87.0.4280.60.

[2021-02-03 19:46] XinLin commented on #25302
crashed on `GPR_DEBUG_ASSERT(backing_buffer_.count > 0);`

[2021-02-03 20:03] yulin-liang commented on #25302
Can you help provide the grpc log by setting environment variables `GRPC_TRACE=all` and `GRPC_VERBOSITY=DEBUG`(`Product` -> `Scheme` -> `Edit Scheme` -> `Run` -> `Environment Variables`).

[2021-02-03 20:31] XinLin commented on #25302
[grpc_cronet_streaming_call_logs_2_3_2021.txt](https://github.com/grpc/grpc/files/5921282/grpc_cronet_streaming_call_logs_2_3_2021.txt)

attached is the full console logs, thanks @yulin-liang

[2021-02-03 20:49] XinLin commented on #25302
I think I knew the reason, the request message was a empty message and it had no data after serialization;
After I sent a message with some data in it, then it worked fine. @yulin-liang

[2021-02-03 20:54] yulin-liang commented on #25302
That's great, I'll close the issue, let me know if you have any other problem.

[2021-02-03 20:54] #25302 closed

[2021-02-03 22:52] markdroth opened #25341 "TIMEOUT: //test/cpp/end2end:client_interceptors_end2end_test@poller=poll[k8-opt]"
https://source.cloud.google.com/results/invocations/de88deac-6320-4ca0-a810-3421b3ffcb55/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_interceptors_end2end_test@poller%3Dpoll/log

Looks like it timed out during shutdown.

[2021-02-03 23:46] giggiu16 commented on #21474
Hello, any update on this? Just tried with v1.35.x branch, and the problem reported by @heinemml still persists.

The behaviour I would like to implement is creating a secure TLS channel without checking for hostname inside the certificate (gRPC client&servers run in a local subnet but still need encryption to talk each other. There's no need to generate a certificate for each server, also because

[2021-02-03 23:59] chainmasterx10 commented on #23398
@vjpai Friendly ping :-)

[2021-02-04 00:52] XinLin commented on #25302
it would be great if grpc cronet could support gzip even the message body was empty, so we do not need to add empty payload check for each call.

[2021-02-04 02:44] JinsPeter commented on #21474
Hi,
There is a way to do something similar in C#  DotNET.
Use gRPC argument keys GRPC_SSL_TARGET_NAME_OVERRIDE to configure the
target name used by the certificate you use. Keys can be set up at the time
of channel instantiation as a ChannelOption using ChannelOptions parameter.

https://grpc.github.io/grpc/core/group__grpc__arg__keys.html#ga218bf55b665134a11baf07ada5980825

On Thu, 4 Feb, 2021, 5

[2021-02-04 02:47] vjpai commented on #25341
I think I know what's going on here if it's during server shutdown. I'll send a PR soon that should also affect this.

[2021-02-04 06:59] shubear opened #25349 "Unity tvOS support for C#"
### Is your feature request related to a problem? Please describe.
gRPC csharp doesn't have support for tvOS with Unity

### Describe the solution you'd like
Add support for tvOS with Unity in csharp

### Describe alternatives you've considered
N/A

### Additional context
I have attached a patch (renamed as txt) for the changes. I have successfully built and used this on tvOS and Unity.

[tvOS_sup

[2021-02-04 12:05] justin-wilxite opened #25350 "grpc_php_plugin cannot be built as in quick start/tutorial for PHP"
Tried following the tutorial for PHP: https://grpc.io/docs/languages/php/basics/

`$ cd grpc && git submodule update --init`
`$ make grpc_php_plugin`
`make: *** No rule to make target 'grpc_php_plugin'.  Stop.`

I am ultimately trying to compile my own prototype file. I tried this:
`protoc --php_out=. --grpc_out=. test.proto`

But this does not generate the client stub classes that I need. So I cl

[2021-02-04 14:16] benammann commented on #25350
Just had the same issue. Using an older version works for me:

[code]

[2021-02-04 16:45] justin-wilxite commented on #25350
Thank you! That version worked for me too

[2021-02-04 17:18] XinLin opened #25352 "[grpc objc over cronet] support gzip for client messages including messages with content size = 0"
### Is your feature request related to a problem? Please describe.
grpc objc over http2 support gzip all request messages even messages with content size = 0;
but grpc objc over cronet will crash when enable gzip for client messages with content size = 0.

see issue [25302](https://github.com/grpc/grpc/issues/25302)

### Describe the solution you'd like
grpc objc over cronet should have the simila

[2021-02-04 17:22] PiotrZakrzewski opened #25353 "Reopening issues-13327 (seg fault - multithreading scenario)"
Short desc: seg fault while using grpc within google-cloud-logging when running with multiple threads (python3.8).
### What version of gRPC and what language are you using?
protobuf==3.14.0
google-api-core==1.25.1
google-auth==1.25.0
google-cloud-core==1.5.0
google-cloud-logging==2.2.0
googleapis-common-protos==1.52.0

### What operating system (Linux, Windows,...) and version?
Dockerized Ubuntu 2

[2021-02-04 22:43] apolcyn opened #25356 "ModuleNotFoundError in grpc_python_bazel_test"
There are multiple ModuleNotFoundError exceptions in the run from https://source.cloud.google.com/results/invocations/9fadca25-a2c8-4a18-a19d-19772c4fc5fc/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

For example:

[code]

Seen in PR: https://github.com/grpc/grpc/pull/25347

[2021-02-04 22:47] lidizheng commented on #25356
This should be fixed by https://github.com/grpc/grpc/pull/25355

[2021-02-04 23:09] gnossen commented on #25353
@PiotrZakrzewski What version of the `grpcio` wheel were you using? Can you please provide a core dump?

[2021-02-04 23:26] gnossen commented on #25353
Also, could you please use [one of our nightly builds](https://packages.grpc.io/archive/2021/02/4dc84aea46396cde21d13813efcf8ca3b2fda692-0cfa9cb0-c8c8-45f0-b055-48770e1c386c/python/grpcio/grpcio-1.36.0.dev0-cp38-cp38-manylinux2014_x86_64.whl) when generating the core dump? Our nightly builds are unstripped, which will help us to interpret the output.

[2021-02-05 00:14] stanley-cheung commented on #25350
We probably should update the docs. You can build it with bazel now:

[code]

[2021-02-05 04:24] cameronbraid opened #25359 "FATAL ERROR: HandleScope::HandleScope Entering the V8 API without proper locking in place"
### What version of gRPC and what language are you using?

grpc from npm 1.24.4
node 12.18.2 (and same issue in v14)

### What operating system (Linux, Windows,...) and version?
Linux  5.8.0-41-generic #46~20.04.1-Ubuntu SMP Mon Jan 18 17:52:23 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
the one that npm provides

### W

[2021-02-05 07:11] donnadionne opened #25360 "build issue: master/linux/grpc_interop_tocloud and master/linux/grpc_interop_toprod"
Both due to similar errors like:

Downloading install script: https://dot.net/v1/dotnet-install.sh => /var/local/git/grpc-dotnet/build/obj/dotnet-install.sh
dotnet-install: Note that the intended use of this script is for Continuous Integration (CI) scenarios, where:
dotnet-install: - The SDK needs to be installed without user interaction and without admin rights.
dotnet-install: - The SDK install

[2021-02-05 08:08] jtattermusch commented on #25288
@gnossen  full `objdump -D` (for b64_encode_fuzzer binary) is here:
https://paste.c-net.org/SmokeySprayed

[2021-02-05 15:08] dylanmorroll commented on #25334
Thanks for linking the proposal, it sounds interesting :)

Glad to hear I wasn't just completely missing something there!

[2021-02-05 16:57] clementperon opened #25362 "Setup.py libatomic checker doesn't take --root param into account"
Compiling the python package with Yocto create an error because aarch64-poky-linux-g++ is not found when running check_linker_need_libatomic().

This is due to the function take the correct CXX compiler but don't take into account the --root sysroot filesystem.

https://github.com/grpc/grpc/blob/master/setup.py#L175

[2021-02-05 17:59] #25334 closed

[2021-02-05 18:18] RonanMcCarthy opened #25364 "Multi-thread support for python asyncio gRPC clients"
This issue was created at the request of @lidizheng on [a stackoverflow post](https://stackoverflow.com/questions/65945944/multi-thread-support-for-python-asyncio-grpc-clients).

### What version of gRPC and what language are you using?

* Python version: `3.8.6`
* grpcio version: `1.35.0`

### What operating system (Linux, Windows,...) and version?

Issue observed on multiple macOS versions as we

[2021-02-05 19:53] bruno- commented on #25222
If it helps anything: running the above steps works on Linux (same grpc version, same ruby version as above).
Btw. I can also reproduce the problem on a mac.

[2021-02-05 20:30] lidizheng opened #25368 "[FLAKE] DynamicStubTest timeout under gevent macOS"
https://source.cloud.google.com/results/invocations/6f22ddc7-5586-46e3-9f46-be1e39d72488/log

The DynamicStubTest is skipped but unable to gracefully close the interpretor, leads to timeout.

[2021-02-05 20:34] lidizheng opened #25369 "[FLAKE] RBE pulling image timeout"
[code]

https://source.cloud.google.com/results/invocations/8e2118a6-f136-43a6-b40f-dea5a0cc5891/log

This error is on the very top of the log, needs to download the full log to see it.

[2021-02-05 21:26] lidizheng opened #25370 "[Flake] Basic Tests C# Linux build"
toplevel_run_tests_invocations_run_tests_csharp_linux_opt_native_default_coreclr.run_tests_csharp_linux_opt_native_default_coreclr

https://source.cloud.google.com/results/invocations/ce9e553e-f5b5-4d9b-b337-ba0526a62100/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_csharp_linux_opt_native_default_coreclr/tests

[2021-02-06 06:55] yasushi-saito opened #25371 "C++ client has an undocumented limitation on the length of error messages"
I have a Go GRPC server (1.35) talking to a C++ client (1.34).

When the server responds with an error whose binary-encoded size exceeds 8000 bytes,  the client sees an error: code=INTERNAL, message="Received RST_STREAM with error code 2", instead of the error code/message that the server application actually sent.

This problem doesn't happen with the Go client nor grpc-web client.

Can we either

[2021-02-06 08:00] mkschulze commented on #24786
Hello @a11r, we @Humans-of-Julia/graknclient-team are considering to implement gRPC in Julia  and it would be great to get some guidance from you. What would be the preferred way to get into conversation with you?
We are active on [discord here](https://discord.gg/C5h9D4j) to chat, or via e.mail or better here?

We currently wonder if this would be good approach:

- using [Clang.jl](https://github

[2021-02-07 06:20] #24110 closed

[2021-02-07 11:26] mikhailshilkov commented on #24633
Shall I come here and leave a "we still need this" comment every 30 days? 🤔

[2021-02-07 17:00] ykhsu opened #25372 "Take 2: a stream is terminated unexpectedly in a Python client"
### What version of gRPC and what language are you using?
Python 3.8 gRPC 1.25 and 1.18 in CentOS 7, gRPC 1.35 and 1.18 in Windows 10

### What operating system (Linux, Windows,...) and version?
Linux CentOS 7
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8 and 2.7.16 on Linux CentOS 7
Python 3.8.6 (64-bit) and 2.7.16 on Windows 10

### What

[2021-02-08 06:37] jtattermusch commented on #25370
I only saw this fail once and builds over last several days are passing.

[2021-02-08 06:37] #25370 closed

[2021-02-08 06:52] jtattermusch commented on #25322
Our cmake build has many targets. You should only build the ones you're interested in. the grpc_cpp_plugin target only has dependencies on what's really needed (and the build finishes much faster than building the entire grpc).
[code]

Btw, building all the codegen plugins and building just grpc_cpp_plugin doesn't really make a difference since each codegen plugin is just one extra .cc file. gRPC_

[2021-02-08 06:52] #25322 closed

[2021-02-08 10:48] jtattermusch commented on #25285
The buildTransitive is only supported in nuget5.0+
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2021-02-08 11:59] jakubednarek opened #25373 "Worker thread hangs if response is not properly formed"
### What version of gRPC and what language are you using?
ruby, versions: 1.35, 1.26

### What operating system (Linux, Windows,...) and version?
Linux, MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
ruby 2.5.8p224 (2020-03-31 revision 67882) [x86_64-darwin19]

### What did you do?
I returned non-serializable response from the request handler:
[code]
While

[2021-02-08 14:07] dfederm commented on #25285
Yea, the .net5 sdk. Where projects can still target .net framework. .net 5 ask just means you're sdk style and using Visual Studio 16.8+

[2021-02-08 14:14] dfederm commented on #25285
Er sorry that's Nuget 5.0, not .net sdk 5.0. the versions don't align, and Nuget 5.0 is pretty old at this point.

[2021-02-08 15:30] jtattermusch commented on #25311
we advise against building gRPC C++ on windows as a DLL - you'll likely be much better off if you just built gRPC statically.
See updated documentation here: https://github.com/grpc/grpc/pull/25300.

[2021-02-08 15:30] #25311 closed

[2021-02-08 18:21] ZhenLian commented on #25167
Sounds good! I will close this for now, but feel free to reopen it if you have anything else that you want to bring up :)

[2021-02-08 18:21] #25167 closed

[2021-02-08 19:14] moserware commented on #22975
I made an attempt at adding support in https://github.com/grpc/grpc/pull/25374

The basic idea is that you'd do have something like this in your `.csproj`:

[code]

[2021-02-08 20:00] patrickdepinguin commented on #25322
The problem with this approach is that the 'cmake' step will still check all dependencies, even those not needed for grpc_cpp_plugin. At that step, cmake is not aware that you are only building grpc_cpp_plugin.

So you get errors like:
[code]

Of these, only the C-ares error is an 'error', the others are 'warnings'. One can get around that by adapting the command, but then, in addition to above wa

[2021-02-08 20:33] yashykt commented on #25371
I think the setting you are running into is https://github.com/grpc/grpc/blob/c8c80fd9988fb5e508ae2f6b39e7901c2054d4f6/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L63

To modify it, for C++, you can add the following channel argument on the client side -
https://github.com/grpc/grpc/blob/c8c80fd9988fb5e508ae2f6b39e7901c2054d4f6/include/grpc/impl/codegen/grpc_types.h#L293

[2021-02-08 20:33] #25371 closed

[2021-02-08 20:37] gnossen commented on #25372
Just to confirm, your RPC is client-side unary and server side streaming, yes?

We're going to need a little more information to figure out what's going on in the native code layer. Can you please capture a run of your application with the premature closure with a couple of environment variables set? `GRPC_TRACE=all` and `GRPC_VERBOSITY=DEBUG` should give you a textwall we can sift through to hope

[2021-02-08 20:51] yashykt commented on #25263
Hi, Thank you for the interest in improving gRPC Core.

Have you looked at AuthContext? https://github.com/grpc/grpc/blob/c8c80fd9988fb5e508ae2f6b39e7901c2054d4f6/include/grpcpp/impl/codegen/security/auth_context.h#L65 This might be part of what you want over here.

It's not clear to me why gpr_set_log_function does not fit the bill here. The log function knows the severity level of the log and it

[2021-02-08 20:51] gnossen commented on #25372
Quoting from [this log](https://gist.github.com/ykhsu/b0c558940c481abdfc5b821e1486f9d4#file-subscription_grpc_debug_all_1_18_0-log) from the previous issue:

[code]

The native code layer seems to have received a trailer with a `grpc-status` of 0 (OK). So, if this is a purely client-side problem, then it's quite a low level one and would theoretically affect the C++ stack as well.

[2021-02-08 21:00] bajohn commented on #24677
I had a similar issue, my specific case being `google-cloud-bigquery` being unable to install `grpcio` using pipenv on Big Sur.

A quick fix that worked for me was running
[code]
Afterwards, clang errors were no longer thrown and I was able to install via pipenv. Not sure if this fix applies to the original issue but hope it helps!

[2021-02-08 21:20] bajohn commented on #24677
Hi all, I had a similar issue, my specific case being `google-cloud-bigquery` being unable to install `grpcio` using pipenv on Big Sur.

A quick fix that worked for me was running the following command in terminal:
[code]
Afterwards, clang errors were no longer thrown and I was able to install `grpcio` and `google-cloud-bigquery` via pipenv. Not sure if this fix applies to the original issue but h

[2021-02-08 21:34] gnossen commented on #25372
In regard to the patch you mentioned existing in your codebase, here is an annotated version of the (canonical) code snippet that was modified. The cyclotomic complexity here is pretty staggering, so the annotation is almost mandatory to understand what's going on here:

[code]

Your change to that snippet was:

[code]

So, looking back at the annotation, the logic is now "Get another request from

[2021-02-08 22:41] yulin-liang commented on #25352
<img width="1011" alt="Screen Shot 2021-02-08 at 2 19 15 PM" src="https://user-images.githubusercontent.com/64815511/107290284-1beb5180-6a1b-11eb-990e-7827e3bcc9f1.png">
I can reproduce the issue in **v1.31.0**, but it has already been fixed in **v1.35.0**, you can try the latest version.

[2021-02-08 22:41] #25352 closed

[2021-02-08 22:48] yashykt commented on #25359
Opened https://github.com/grpc/grpc-node/issues/1686 for the grpc node repo

[2021-02-08 22:48] #25359 closed

[2021-02-09 00:01] yashykt commented on #25284
gRPC's threading architecture is moving to an architecture where most of the work will be done by internal threads. For more information https://github.com/grpc/proposal/pull/182/files

[2021-02-09 00:01] #25284 closed

[2021-02-09 00:03] #25261 closed

[2021-02-09 01:45] ykhsu commented on #25372
First, the server implements gNMI and the subscribe RPC is defined in https://github.com/openconfig/gnmi/blob/master/proto/gnmi/gnmi.proto. The client executes its subscribe RPC as a stream.

I can't comment intelligently with the hack but hundreds of automated tests by our users running daily for years did not complain :-)
Since taking logs from the server is not simple, let me attach a log from

[2021-02-09 01:57] amanand commented on #18365
I am observing same issue in grpc 1.18. I have a server application that hosts Streaming RPCs, in my case i dont see one of the fd (TCP socket, with one of the grpc client) in the grpc pollset, but i continue to see the fd in CLOSE state in my application for more than few days now. Is there any chance of failure in closing the socket after removing it from pollset in the grpc stack? Possibly a mi

[2021-02-09 02:01] ykhsu commented on #25372
First, the server implements gNMI and the subscribe RPC is defined in https://github.com/openconfig/gnmi/blob/master/proto/gnmi/gnmi.proto. The client executes its subscribe RPC as a stream.

I can't comment intelligently with the hack but hundreds of automated tests by our users running daily for years did not complain :-)
Since taking logs from the server is not simple, let me attach a log from

[2021-02-09 10:44] jtattermusch commented on #25322
The error messages you posted only seem to indicate that you haven't restored the git submodule before trying to build
After running `git submodule update --init`, you should be able to build just the grpc_cpp_plugin just fine. The absl / cares / other depedencies  won't actually be built, you just need to have the submodules restored so that you don't end up with a malformed cmake build - and thi

[2021-02-09 11:23] patrickdepinguin commented on #25322
My context is about building grpc with Buildroot [1]. Buildroot will build a package and all its dependencies, and downloads of each package is done separately. When building grpc, it will not actually use the submodules inside of grpc, but rather has arranged building all required dependencies up front, e.g. libabseil-cpp, re2, etc.
Today, Buildroot will also build a native version of grpc (host-

[2021-02-09 11:34] jtattermusch commented on #25322
What you're doing sounds like quite a narrow use case. But we simply cannot provide a cmake option for every possible scenario in the world. Introducing a new cmake option isn't for free and requires careful design and maintenance.

[2021-02-09 14:01] PiotrZakrzewski commented on #25353
grpcio-1.35.0

[2021-02-09 15:05] Rantanen commented on #25263
Is the `gpr_set_log_function` callback guaranteed to execute in the context of the thread that made the original gRPC API call/request that resulted in the failure?

The combination of these two might be what we'll need. I know the `gpr_set_log_function` alone hasn't always been the most useful and I've ended up needing to debug into the OpenSSL/BoringSSL implementation to figure out cert issues f

[2021-02-09 15:05] #25263 closed

[2021-02-09 16:26] patrickdepinguin commented on #25322
I understand your reluctance on adding new options.
I can only share my point of view when cross-compiling grpc and needing the native grpc_cpp_plugin. I don't think this is such a rare scenario, but it's true that cross-compilation is more rare than native compilation.
Thanks anyway for your support.

For reference, I am pasting my simplified patch below. Basically I am making all parts of CMakeL

[2021-02-09 17:09] michaelaelise opened #25386 "grpcio build error in docker apline arm"
Hello,
During the build of grpcio I get the following error
`#53 3655.1   src/core/lib/gpr/time_posix.cc:77:13: error: 'SYS_clock_gettime' was not declared in this scope; did you mean 'SYS_clock_gettime64'?
#53 3655.1      77 |     syscall(SYS_clock_gettime, clockid_for_gpr_clock[clock_type], &now);
#53 3655.1         |             ^~~~~~~~~~~~~~~~~
#53 3655.1         |             SYS_clock_getti

[2021-02-09 19:47] gnossen commented on #25372
Since this has tripped others using bidirectional streams up in the past -- your request iterator isn't terminating prematurely, is it? All I see in your snippet is `filter`. When the request iterator terminates, the stream will close.

Also, is your code base open source? If so, can you link to it so I can take a look at the usage?

[2021-02-09 20:19] michaelaelise commented on #25386
Here is more from around the error

#12 4226.4   cc1plus: warning: command-line option '-std=gnu99' is valid for C/ObjC but not for C++
#12 4226.4   src/core/lib/gpr/time_posix.cc: In function 'gpr_timespec now_impl(gpr_clock_type)':
#12 4226.4   src/core/lib/gpr/time_posix.cc:77:13: error: 'SYS_clock_gettime' was not declared in this scope; did you mean 'SYS_clock_gettime64'?
#12 4226.4      77 |

[2021-02-09 21:19] mattnworb opened #25390 "support for Snappy message compression or other alternatives to gzip/deflate in grpc-core?"
Is support for Snappy or similar algorithms planned for message compression/decompression in grpc-core? We have a use case for sending messages that range in size from 200-500kb to a grpc-core server (specifically https://github.com/tensorflow/serving).

When sending messages to this server from a client using grpc-java, we can customize the compression algorithm via the [`Compressor`](https://git

[2021-02-09 23:11] lidizheng opened #25392 "[FLAKE] macOS tests failed with go_sdk download failure"
[code]

https://source.cloud.google.com/results/invocations/8dd7309c-e556-45b7-b89e-3d59dd6a0122/targets

[2021-02-09 23:33] michaelaelise commented on #25386
How come on pypi (https://pypi.org/project/grpcio/#files) the wheels for armv7 stop at python 3.6?

[2021-02-10 07:46] hotrush commented on #25250
Getting the same issue with `php:7.4-cli-alpine`

[code]

[2021-02-10 09:45] moooeeeep commented on #22645
I can reproduce the error on Ubuntu 18.04 LTS.

I was trying to install tensorflow in a virtual environment via pip, which fails after encountering above described error.

[2021-02-10 11:13] jimmbelll opened #25400 "grpc.aio.ServicerContext.peer() raises UnicodeDecodeError (seems like it's trying to decode garbage)"
### What version of gRPC and what language are you using?
1.34.1   grpc.__version__

### What operating system (Linux, Windows,...) and version?
system='Windows',
node='...', release='10',
version='10.0.19041',
machine='AMD64',
processor='AMD64 Family 21 Model 1 Stepping 2, AuthenticAMD'

via python platform.uname()

### What runtime / compiler are you using (e.g. python version or version of gcc)

[2021-02-10 13:16] michaelaelise commented on #25386
So I found in the source for time_posix.cc:
`#if defined(GPR_BACKWARDS_COMPATIBILITY_MODE) && defined(__linux__)
    /* avoid ABI problems by invoking syscalls directly */
    syscall(SYS_clock_gettime, clockid_for_gpr_clock[clock_type], &now);
#else
    clock_gettime(clockid_for_gpr_clock[clock_type], &now);
#endif
    return gpr_from_timespec(now, clock_type);`

And in the setup.py in the grpcio

[2021-02-10 13:20] ykhsu commented on #25372
Unfortunately, our code is not open sourced and bit complicated. But, in this case, our API only supports a subscription with a single _filter_ which is an protobuf message encoded according to the given data model entity. So the iterator only yields a single message and it is roughly defined as:
[code]
In the simple test I did, the encoded message yielded by _encode_subscriberequest_(), as shown

[2021-02-10 13:40] michaelaelise commented on #25386
Oh, looks as if someone else had a similar issue: https://github.com/termux/termux-packages/issues/5162

[2021-02-10 16:00] michaelaelise commented on #25386
Success.
`GRPC_PYTHON_DISABLE_LIBC_COMPATIBILITY=1 pip install ....`
It built and is working.
@veblush Is that environment variable documented anywhere?
Building and running in python alpine arm images has always posed issues with grpcio.
Setting this variable does seem to be the fix!

[2021-02-10 16:00] #25386 closed

[2021-02-10 18:43] gnossen commented on #25372
@ykhsu If your request iterator only yields a single element then that's exactly the problem. You'll need to keep the iterator open in order to keep the stream open. Something like this:

[code]

Or, to make something that resembles your snippet above a little more:

[code]

Warning: Untested code. But it should get the message across.

I apologize if I've misunderstood you, but it seems like ther

[2021-02-10 19:13] aderk opened #25408 "grpc/examples/protos/helloworld.proto uses Reply instead of Response"
grpc/examples/protos/helloworld.proto uses Reply instead of Response

This is in violation of the [API design](https://cloud.google.com/apis/design/naming_convention#method_names), whereby method names _SHOULD_ use `Response` rather than `Reply`.

[2021-02-10 21:38] yashykt commented on #25263
No, that would be hard to do.

These logs are not meant to be parsed programmatically. They are meant for human eyes. @veblush for more information on how this would change.

[2021-02-10 22:57] pyssling commented on #21838
@Mekk good idea this. I took it one-step further, I removed this code from the port_platform.h header file on my system - I think I'll file a packaging bug and try to get this removed from packages of the grpc headers. If grpc isn't built with ASAN there's no point in shipping this in a header.

[2021-02-10 23:17] pyssling commented on #21838
@veblush I think this would be best to fix by stripping the headers for non-asan builds of grpc of these ifdefs - the same goes for non-debug builds of grpc and the NDEBUG ifdefs - breaking ABI compatibility of library users creates a lot of extra work.

[2021-02-11 00:03] yashNaN opened #25411 "Expose Memory Usage Metrics"
### Is your feature request related to a problem? Please describe.
It is currently impossible to get memory usage metrics from grpc. Sometimes grpc hits its internal memory limit and cancels calls with `ENHANCE_YOUR_CALM`. If the application code knows the grpc memory usage then it can adapt to these memory limits and modify its behavior.

Furthermore it would be nice to be able to build dashboard

[2021-02-11 06:18] jtattermusch commented on #23373
Closing as a duplicate of https://github.com/grpc/grpc/issues/21283

[2021-02-11 06:18] #23373 closed

[2021-02-11 06:27] jtattermusch commented on #21283
For protobuf, I experimented with crosscompiling an aarch64 wheel and ended up with something that works: https://github.com/protocolbuffers/protobuf/pull/8280

I think the same dockcross-based technique could be utilized for crosscompiling grpc python wheels, but there is one additional challenge - the dockcross manylinux2014 image currently has a crosscompilation toolchain that is too old and wo

[2021-02-11 06:34] jtattermusch commented on #24630
That seems odd, for how long has it been stuck? Note that building grpc python from sources can take a while.
Also, if you can reproduce this consistently, it would be nice if you could investigate where exactly the build is stuck (get a stacktrace etc.) - it seems unlikely that the build would just get stuck forever.

[2021-02-11 06:51] jtattermusch commented on #24630
I tried on aarch64 ubuntu18.04 and I was able to compile without issues (python3.8 and python3.8-dev installed) - the install takes a few minutes though because it needs to build a lot of C/C++ code.
[code]

[2021-02-11 06:51] #24630 closed

[2021-02-11 13:06] premist commented on #24846
I was able to follow @nilleb's instruction with some tweaks. Notably:

- Added `-arm arm64` to ARCH_FLAGS on [extconf.rb](https://github.com/premist/grpc/blob/premist/fork-init/src/ruby/ext/grpc/extconf.rb#L49).
- Forced native extension complication by setting [`bundle config set force_ruby_platform true`](https://github.com/premist/grpc/blob/f3458a6ea769b20e6230af55abba8039cf86006a/.github/workf

[2021-02-11 13:57] #25058 closed

[2021-02-11 14:01] jtattermusch commented on #25285
FTR this old issue https://github.com/grpc/grpc/issues/11279 seems related.

[2021-02-11 14:48] rhenwood-arm commented on #21283
Hi all, I've spent a bit of time on the dockcross manylinux2014 and the gcc version (as well as glibc) is restricted by the spec. I briefly commented on the restrictions (and my interpretation of the flexibility) here:
https://github.com/dockcross/dockcross/issues/443#issuecomment-718022479

Which versions of the tool chain does grpc require?

[2021-02-11 14:59] jimmbelll commented on #25400
Should have said, "... neither python's pdb nor trace lets me peer into peer."

[2021-02-11 16:00] geoffreyblake commented on #21283
@rhenwood-arm , the default GCC version used in the pypa/manylinux2014_aarch64 container is version 9.  But it is a special version that Centos/Redhat have built to be compatible on with that distributions system libraries (pkg devtoolset-9).  For dockcross, since it uses crosstool-ng to build a cross-compiler, I think we are stuck with the older versions as backporting newer GCC's to work with ol

[2021-02-11 16:23] jtattermusch commented on #21283
@rhenwood-arm  @geoffreyblake  I was able to experimentally crosscompile the grpc python wheel with an older version of dockcross/manylinux2014-aarch64  (which still has the gcc 4.9.4 - before it was downgraded) and according to auditwheel results it seems that the resulting .so libraries were compliant with manylinux2014.  I'll still need to doublecheck but it seemed that the exact gcc version do

[2021-02-11 17:05] mkschulze commented on #24786
@markdroth how could we ideally get in touch with @a11r ? We would like to further discuss things.

[2021-02-11 17:27] markdroth commented on #24786
I've sent him a message internally asking him to get back to you.

[2021-02-11 17:50] veblush commented on #25408
Thank you for bringing up this issue. It looks a valid claim but it might be challenging to make this change, though. All gRPC languages share this [proto](https://github.com/grpc/grpc-proto/blob/0020624375a8ee4c7dd9b3e513e443b90bc28990/grpc/examples/helloworld.proto#L35) so I need to check this with other language owners first.

[2021-02-11 18:18] veblush commented on #25411
@yash620 This is something we cannot do practically because it's not easy to track all memory consumption of gRPC. Therefore you might need to consider using low-level functions to measure the system resource. e.g. monitoring the memory usage of the server process.

@donnadionne PTAL (since you're an owner of resource-quota.)

[2021-02-11 18:33] yash620 commented on #25411
The server is oftentimes an object in the application program. So it would be hard to distinguish memory usage between the application program and the sever if we are only monitoring system metrics. If all memory consumption can't be exposed then exposing whatever is accounted for in `resource_quota` would be helpful as well.

I did try raising the max memory usage of the server to be larger than

[2021-02-11 20:10] markdroth opened #25422 "FLAKE: //src/python/grpcio_tests/tests/unit:_metadata_flags_test.python3"
https://source.cloud.google.com/results/invocations/be383297-d474-4c24-9e0d-b23504c0c4c7/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

[code]

[2021-02-11 20:14] markdroth opened #25423 "FLAKE: ruby_linux_dbg_native_src/ruby/end2end/forking_client_test_rb.src/ruby/end2end/forking_client_test.rb"
https://source.cloud.google.com/results/invocations/1a06576d-b9a5-4ea7-8945-92516324bf49/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_dbg_native%2Fsrc%2Fruby%2Fend2end%2Fforking_client_test.rb/tests

[code]

[2021-02-11 20:52] lidizheng opened #25424 "[FLAKE] CSharp distribution test failed with package download failure"
[code]

https://fusion2.corp.google.com/invocations/4ba9588e-5a35-4a22-8ae7-c8e3a815d8d5/targets/github%2Fgrpc;config=default/tests

[2021-02-11 20:55] lidizheng commented on #25424
According to the build history, this build job has been broken for a few days since 01/20/2021: https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fexperimental%2Fgrpc_distribtests_multiplatform

CC @jtattermusch can you please take a look to see what this download failure originated, and if it is fixable?

[2021-02-11 21:26] markdroth opened #25425 "FLAKE: grpc/core/pull_request/macos/grpc_ios_binary_size[default]"
https://source.cloud.google.com/results/invocations/95daa3e7-80cb-4463-9c23-8db59289ee64/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[code]

[2021-02-11 21:50] lidizheng commented on #25424
CC the build nurse @drfloob

[2021-02-11 21:59] sunilambar opened #25426 "OpenSSL capi"

[2021-02-12 01:58] ykhsu commented on #25372
@gnossen Thanks for your suggestion! It sounds right and I'll confirm once I get the time to deal with this.

[2021-02-12 02:15] apolcyn commented on #25242
Another interop build failure this time with:

[code]

[2021-02-12 03:57] apolcyn opened #25431 "Failure: iOS Binary Size Diff - TypeError: '>=' not supported between instances of 'KeyError' and 'int'"
[code]

Seen in https://github.com/grpc/grpc/pull/25406

[2021-02-12 04:05] apolcyn opened #25432 "Bazel Macos Dbg flake - ERROR: java.io.IOException: Error getting access token for service account: 400 Bad Request"
log snippet:

[code]

from https://source.cloud.google.com/results/invocations/3a072063-25e8-4fb6-9fa1-e895f2b9f08e/log (bazel macos dbg)

seen in PR: https://github.com/grpc/grpc/pull/25398

[2021-02-12 05:53] stanley-cheung commented on #25424
b/178903415

[2021-02-12 10:51] jtattermusch commented on #24498
Note that the way the option values are read from env variables in setup.py is broken in general:

if you assign `XYZ=False` or `XYZ=false` or `XYZ=0` that's still evaluated as `True` and the corresponding option gets enabled, which is very counterintuitive.
https://github.com/grpc/grpc/blob/711d1d7fe2da56896957e00fea12c84b6d1fa1e1/setup.py#L109-L169

[2021-02-12 11:13] nanonyme commented on #24498
Using ast.literal_eval is an option. Note, I cannot work on this due to CLA limitation. I haven't had time to clear it with employer. If anyone else has time, feel free.

[2021-02-12 13:55] essandess opened #25434 "Cmake build of Apache Arrow fails using grpc's Findre2.cmake with "add_library cannot create imported target "RE2::re2" because another target with the same name already exists.""
The `grpc` cmake file [Findre2.cmake](https://github.com/grpc/grpc/blob/master/cmake/modules/Findre2.cmake) causes this cmake error when building downstream libraries that use both `grpc` and `re2`, specifically Apache [arrow](https://github.com/apache/arrow).

Error:
[code]

Related:
* http://mail-archives.apache.org/mod_mbox/arrow-dev/202009.mbox/%3C6ECB7D60-844F-410D-8840-24F2CE261752@yahoo.com

[2021-02-12 14:23] #25424 closed

[2021-02-12 14:24] jtattermusch commented on #25424
The backport PR is here: https://github.com/grpc/grpc/pull/25433

[2021-02-12 16:59] apolcyn opened #25435 "linux build artifacts timeout - ERROR: Aborting VM command due to timeout of 7200 seconds"
Bottom of the log:

[code]

https://source.cloud.google.com/results/invocations/8cbb1be3-1919-4237-a4fd-3c1b43a67e01/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_build_artifacts/log

Seen in unrelated PR: https://github.com/grpc/grpc/pull/25406

[2021-02-12 17:05] apolcyn opened #25436 "Macos Bazel opt build failue: src/cpp/server/server_cc.cc:765:31: error: unused parameter 'ok'"
Error is:

[code]

Full log: https://source.cloud.google.com/results/invocations/8cbb1be3-1919-4237-a4fd-3c1b43a67e01/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_build_artifacts/log

Seen in unrelated PR: https://github.com/grpc/grpc/pull/25406

Seems related to https://github.com/grpc/grpc/commit/9cceb28b2e5dcabd92a54d84ac0e3d546aa9680f#diff-afab775337cea1e27d51243874ffb2e89d8c9fac8adce2577

[2021-02-12 17:15] drfloob commented on #25424
Thanks for escalating it, Lidi. I wasn't aware this was a release blocker. For reference, we've had a bug filed for this internally since 1/29 b/178903415.

[2021-02-12 17:58] #25285 closed

[2021-02-12 18:11] drfloob commented on #25090
Friendly reping, @easwars, on two more recent failures this week.

[2021-02-12 19:01] davinci26 commented on #24904
@veblush is this part of the 1.35 release can't find it in the logs?

[2021-02-12 19:11] doublecc161 commented on #25082
Setting the environment variables as recommended by @Tenzer works perfectly for me, too! Thank you! I used it to install stable_baselines3 on my Apple Silicon M1 🙂

I simply set the environment variables first:

[code]
Then installed the `grpcio` package with:
[code]
At the time of writing this installs and works with `grpcio-1.35.0`

@lidizheng @Tenzer Since it seems like this problem is not yet

[2021-02-12 21:14] stanley-cheung commented on #25436
#25438

[2021-02-12 22:57] emkornfield commented on #24498
I can provide a patch, I wrote this code originally.

[2021-02-13 00:51] apolcyn commented on #25436
https://github.com/grpc/grpc/pull/25438 should fix this

[2021-02-13 00:51] #25436 closed

[2021-02-13 01:01] aidanwolter3 opened #25445 "gpr_log sets errno to EINVAL on Fuchsia"
### What version of gRPC and what language are you using?

Version: https://github.com/grpc/grpc/tree/4ac9c6f755463a2321f84b0cb2d631e1828faedb
Language: C++

### What operating system (Linux, Windows,...) and version?

Fuchsia (latest)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Compiling as part of Chromium from third_party/grpc/src.

### What did you do?

[2021-02-13 01:50] aidanwolter3 opened #25446 "DNS resolution fails on Fuchsia due to C-ARES"
DNS resolution is failing, because it is attempting to use C-ARES instead of the native resolver. We should disable C-ARES until we have a better solution. Internal context: b/159043106.

[2021-02-13 01:54] aidanwolter3 commented on #25446
The change needed is:

[code]

[2021-02-13 14:05] cabello commented on #24846
Hi @premist , thank you for looking into that as well as suggesting the PR to maintainers.

I tried following your steps, it also required a `xcode-select --install` in order to run xcrun, my resulting file still crashed for some unknown reason: `zsh: killed     bundle exec rspec`.

I downloaded the file from Github actions after checking your [changes](https://github.com/premist/grpc/pull/1) and

[2021-02-13 19:44] e-heller opened #25449 "memory leak in python AIO stream-stream RPCs when using an interceptor"
### What version of gRPC and what language are you using?
Language: python
gRPC:  `grpcio==1.35.0`

### What operating system (Linux, Windows,...) and version?
Linux (Fedora 32)

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.7

### What did you do?

In the `aio` implementation, I have observed that long-lived stream-stream RPCs leak memory -- but **on

[2021-02-14 01:16] bruno- opened #25450 "Segfault when running ruby 3.0.0 with jemalloc"
### What version of gRPC and what language are you using?

Ruby 3.0.0, `grpc` gem version `1.35.0`

### What operating system (Linux, Windows,...) and version?

Linux Ubuntu 20.04, output from `/proc/version` is:

`Linux version 5.4.0-51-generic (buildd@lcy01-amd64-020) (gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)) #56-Ubuntu SMP Mon Oct 5 14:28:49 UTC 2020`

### What runtime / compiler are you usi

[2021-02-14 10:32] AaronDewes opened #25451 "Python wheels should allow boringssl ASM optimizations on aarch64"
Having boringSSL optimized for arm64 on linux would be great. I've created a PR https://github.com/grpc/grpc/pull/25162, but I didn't complete it because I'm not comfortable giving my full address on a CLA, and it probably wouldn't be valid anyway as I'm udner 18, which I probably would have to be in Germany where I live.

[2021-02-14 11:06] 4br3mm0rd commented on #25350
It could be nice if it was added to the compiled releases of protoc as well :)

[2021-02-14 11:55] bruno- commented on #25450
I discovered "another" variation to the setup that works: if `jemalloc` is added to `LD_PRELOAD` things work just fine (no segfault). To make it work, follow the steps to reproduce (with latest jemalloc version `5.2.1`), then run grpc server and client with the following commands:

[code]

To my understanding `LD_PRELOAD` modification should not be necessary if ruby is compiled with `--with-jemall

[2021-02-14 19:11] amitwaisel commented on #25313
Further investigation reveals this issue is triggered by massive session disconnection:
1. Each session keeps a server-side stream open during the entire lifespan of the session. The server uses this stream to send messages to the client. The stream is established by calling an RPC function: `rpc InitializeServerToClientStream(InitMessage) returns (stream ServerRequest) {}`
2. The RPC function rem

[2021-02-14 21:18] cobbben commented on #24958
So did the following env / library details work to install google-cloud-pubsub on the coral dev board? @Bhanuchander210

Python version: 3.7.3
pip version: 20.3.1
grpcio: 1.29.0

What version of setuptools did you use?

[2021-02-15 00:44] ykhsu commented on #25372
@gnossen You're right. I played with your suggestion and was able to keep subscription up for hours! Thank you very much.

[2021-02-15 08:07] Bhanuchander210 commented on #24958
@cobbben

setuptools: **51.0.0**

(It may be useful ) I have added the wheel file and all libraries list...

google drive link for wheel file : [grpcio-1.29.0-cp37-cp37m-linux_aarch64.whl](https://drive.google.com/file/d/1wE7kK25OxfbzoVDRD3yPf6N9yRKKc29t/view?usp=sharing)

Libraries list:
[code]

[2021-02-15 08:21] jtattermusch commented on #25451
Hello, great to see opensource contributions and such a young age.
I recreated you PR: https://github.com/grpc/grpc/pull/25453

[2021-02-15 08:33] pPanda-beta commented on #25112
Same happens while I tried building it in pypy docker image
```pypy:3.7-7.3.3```

[2021-02-15 09:35] jtattermusch commented on #24904
If you're talking about https://github.com/grpc/grpc/pull/24953/commits/24c698f9fa8940446cbc4dd4876cc2070c39e01f, it was merged on Jan 16 and it doesn't seem to be part any of the 1.35.x release tags.  It will be in the upcoming 1.36.x release though.

[2021-02-15 16:41] michaelmaguire commented on #15363
I still don't see this recipe in https://github.com/conan-io/conan-center-index -- in the end did it ever make it?

[2021-02-15 17:16] clehner opened #25454 "Python build errors on Linux ppc64"
### What version of gRPC and what language are you using?
`master` (dc605b8bc7928b7b180d3dc466fc20d013ddcd2d) (but also occurs when installing from pip). Python.

### What operating system (Linux, Windows,...) and version?
Debian bullseye/sid
[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]
[code]

### What did you do?
[code]

### What did you expect

[2021-02-16 00:29] #25372 closed

[2021-02-16 08:26] jtattermusch commented on #25432
Interesting, this looks like a one-off auth issue. Have we seen it just once or there's multiple occurences?

[2021-02-16 08:29] jtattermusch commented on #25432
The only recent occurrence I found on master is https://source.cloud.google.com/results/invocations/1f2d6666-a48e-4788-b8bc-034a44a95480/log (so this issue seems quite rare).

[2021-02-16 12:58] Antonboom commented on #23978
+1

[2021-02-16 13:12] amitwaisel commented on #25313
Following my last comment, I've reproduced the issue while sampling the process using PerfView, tracking CPU, .NET Alloc, ETW .NET Alloc, .NET SampAlloc, other .NET runtime events, and all native `VirtualAlloc` calls.
When inspecting the `.NET Virtual Alloc Stacks` view, we can see the following:
![image](https://user-images.githubusercontent.com/21170412/108066399-f5a36280-7067-11eb-9607-294ca5ce

[2021-02-16 18:28] #25451 closed

[2021-02-16 18:50] #25356 closed

[2021-02-16 20:36] lidizheng opened #25458 "[FLAKE] C# build package failed on v1.36.x"
[code]

https://fusion2.corp.google.com/invocations/63b7be2c-6801-4ad8-991e-a179df1d9431/targets/grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_build_packages;config=default/log

With https://github.com/grpc/grpc/pull/25433, the artifact build passes the dependency pulling stage but failed with above message.

[2021-02-17 02:46] gakees opened #25476 "I would like a way to reuse my *.proto files in a Nuget package (like Grpc.Tools)"
I am looking to expose protobuf definitions that I have created in a Nuget package which also has shared components that use the definitions as part of C# interfaces for common messaging scenarios.

Furthermore, I would like for consumers of my Nuget package to be able to reference the *.proto files I include in the package the same way that Grpc.Tool works using the /build/native/include/google/p

[2021-02-17 08:46] jskeet commented on #25208
I've now reproduced this on Windows, which should make it easier for the gRPC team to diagnose. Here's a zip file with everything:

[GrpcHang.zip](https://github.com/grpc/grpc/files/5994372/GrpcHang.zip)

The three projects are:

- GrpcLibrary: a class library targeting netstandard2.0 which just makes a garbage RPC to exercise gRPC
- ConsoleApp: a console app targeting multiple frameworks which ha

[2021-02-17 16:26] jtattermusch commented on #25208
i've played a bit more with the azure functions repro and at this point I'm pretty sure this issue is an unwanted side effect of https://github.com/grpc/grpc/pull/24744

I tried with Grpc.Core 2.33.1 (just before https://github.com/grpc/grpc/pull/24744 was added) and got a different error (and it didn't hang).
[code]

Basically, it seems that inside the azure functions docker, the grpc_csharp_ext

[2021-02-17 17:50] #24937 closed

[2021-02-17 19:20] gnossen opened #25478 "Python Ignores content-type Additions"
*Copied from https://stackoverflow.com/questions/66179134/content-type-not-being-set-properly*

I am working on implementing the gRPC generated code for the flatbuffers library, and I've noticed that the python gRPC library doesn't use the user set `content-type`. According to the documentation the user can [set whatever type they want](https://github.com/grpc/grpc/blob/v1.35.0/doc/PROTOCOL-HTTP2.

[2021-02-17 20:35] k4anubhav commented on #24556
i am using centos this one works for me

[2021-02-18 05:03] thebadgateway opened #25487 "Is it possible to install the version below?"
I use your grpc to build mac program. For this I use the workflows GitHub. But after version 1.3.2 my program doesn't work on mac. I want to install again version 1.3.2 but have no idea how to do it.
Please tell me how to install it?
I used to use _brew install grpc_ command.

[2021-02-18 07:19] shaan1337 opened #25488 "AsyncDuplexStreamingCall hang/deadlock on net48 on linux"
### What version of gRPC and what language are you using?
Grpc.Core 2.35.0 (latest)
Grpc.Tools 2.35.0 (latest)
Google.Protobuf 3.14.0 (latest)
C# (net48)

### What operating system (Linux, Windows,...) and version?
Linux (Ubuntu 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
mono 6.12.0.107

### What did you do?
Please see https://github.com/shaan1337/asy

[2021-02-18 11:09] mastergberry opened #25489 "Crash with from grpc/ares driver on Windows"
### What version of gRPC and what language are you using?

gRPC 1.35.0 for C++

### What operating system (Linux, Windows,...) and version?

Windows x64

### What runtime / compiler are you using (e.g. python version or version of gcc)

Visual Studio 2019

### What did you do?

Wrote some C++ gRPC code that is working for 99.9% of users but not this specific user.

### What did you expect to see?

[2021-02-18 12:51] jtattermusch commented on #25458
I suspect the problem is that in the previous stage (build_artifacts, but I don't have a link for that build) the artifact build has failed (for multiple languages actually) and that why the package build is missing the .so files to build the nuget  package.

[2021-02-18 18:35] resistor commented on #25288
The address is supposed to get resolved by either the static or dynamic linker - the compiler doesn't know the address of main at compile time. Materializing an arbitrary constant takes four instructions in AArch64, so the compiler inserts the four instructions but leaves the immediate value empty. The linker is supposed to patch the immediate values to contain the proper address.

@jtattermusch I

[2021-02-18 19:56] mustiikhalil commented on #25478
Thanks! well, after more research I found out that all the languages except (Go) ignores the suffix that should've been appended into the `content-type` header. So I would believe the issue is actually in the core lib, that actually removes custom types. Libs I tried, Python, JS, Swift. I mentioned this issue on the [grpc group](https://groups.google.com/g/grpc-io/c/brknamAjXfI/m/9acQv1GFAgAJ?pli=

[2021-02-18 20:51] resistor commented on #25288
@jtattermusch Also, can you confirm what environment you're seeing this in? I'm looking at the relevant CRT files in the environments I know about, and it doesn't match what's in your binary.

[2021-02-18 21:45] #24243 closed

[2021-02-18 21:45] #24584 closed

[2021-02-18 21:47] yashykt commented on #24181
Closing due to inactivity. Please feel free to re-open if the issue persists

[2021-02-18 21:47] #24181 closed

[2021-02-19 00:08] taricky216 opened #25503 "grpcpp/impl/codegen/method_handler_impl.h not installed in gRPC_INSTALL_INCLUDEDIR"
### What version of gRPC and what language are you using?
gRPC ver => 1.35.0
Language => C++14

### What operating system (Linux, Windows,...) and version?
Linux => 4.18.0-15-generic #16~18.04.1-Ubuntu SMP Thu Feb 7 14:06:04 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang 6.0.0-1ubuntu2

### What did you do?
Please pr

[2021-02-19 02:38] lidizheng commented on #25458
The link to build_artifacts [sponge/8df99f11-f530-46b5-89ff-61669f0292b5](http://sponge/8df99f11-f530-46b5-89ff-61669f0292b5).

In a new build [sponge/6749ca03-c4a9-4c18-ac53-8ed306ae54f7](http://sponge/6749ca03-c4a9-4c18-ac53-8ed306ae54f7), the Linux C# build passes but other builds failed. Since this is not a reproducible error, I guess I will re-run the builds to see if any thing breaks again.

[2021-02-19 02:38] #25458 closed

[2021-02-19 04:38] anotherStart commented on #24973
i had meet same problem on windows. this error is not occurred on linux.

it seems path name length problem of "arm-linux-androideabi-ar" on windows.
arm64-v8a is ok but armeabi-v7a is not work.
i did test with arm-linux-androideabi-ar on windows 10

And i tried patch wsLongPaths from this issue and it seems long path issue solved but another error ocurred then failed on windows.
https://github.co

[2021-02-19 07:28] megabyde commented on #25112
For me the problem was due to older GLIBC version which I was able to fix with the following patch:

[code]

[2021-02-19 08:51] kotori2 opened #25504 "[FR] Provide ability to modify raw response body in Interceptor"
### Is your feature request related to a problem? Please describe.
I'm trying to add custom encryption to gRPC calls in C++ client.

### Describe the solution you'd like
I saw there are APIs like `ByteBuffer* GetSerializedSendMessage()` so I can encrypt request body before request, but there is no such API for response body.
I want to hook and decrypt response body at `PRE_RECV_MESSAGE` so that I

[2021-02-19 09:24] stanley-cheung opened #25505 "Ruby xDS interop test circuit_breaking broke recently"
[code]

Looks like the `metadata` [argument](https://github.com/grpc/grpc/blob/master/src/ruby/pb/test/xds_client.rb#L117) in the `XdsUpdateClientConfigureService::Configure()` RPC can be null.

[2021-02-19 11:07] jtattermusch commented on #25208
Seems fixed by https://github.com/grpc/grpc/pull/25490

[2021-02-19 11:07] #25208 closed

[2021-02-19 11:09] jtattermusch commented on #25211
GRPC_CSHARP_EXT_OVERRIDE_LOCATION env variable can now be set to force location of the native library to load. See https://github.com/grpc/grpc/pull/25490

[2021-02-19 11:09] #25211 closed

[2021-02-19 11:12] jtattermusch commented on #25274
As a workaround, you can now explicitly set the location of native library with `GRPC_CSHARP_EXT_OVERRIDE_LOCATION` env variable. See https://github.com/grpc/grpc/pull/25490
With that this issue can be closed since installing Grpc.Core in GAC is not the intended use (we only support Grpc.Core being used an a "standard way" - i.e. as a nuget package)

[2021-02-19 11:12] #25274 closed

[2021-02-19 12:49] jtattermusch commented on #25112
@KumaTea  are you building under a docker container? sometimes the issue could be that the environment is setup incorrectly (e.g. $HOME is empty,  the uid corresponds to a nonexistent user etc.), which can then result into  `None` being prepended to the path (for the command it looks like it tries to build under user's tmp directory or sth in that sense),
but I'm not so sure this is the actual pro

[2021-02-19 12:50] jtattermusch commented on #25112
Are you sure you were experiencing exactly the same issue as describe above?

[2021-02-19 12:50] jtattermusch commented on #25112
Did you also get the compiler crash?

[2021-02-19 12:54] jtattermusch commented on #25288
It's a static disassembly of the binaries as built by bazel.

[2021-02-19 12:58] jtattermusch commented on #25288
It's ubuntu 18.04.5 LTS aarch64 (and it's actually a AWS EC2 Graviton2 VM)

[2021-02-19 13:47] jtattermusch commented on #25288
I also tested the bazel build with clang-10 and got the same error as originally reported (still cannot load "main")

[2021-02-19 13:59] jtattermusch commented on #25288
Interestingly, when I tried the same repro command, but forced using gcc/g++, the problem went away (and I'm now able to run the binary just fine and the "main" function gets called correctly.

`CC=gcc CXX=g++ tools/bazel test --config=dbg //test/core/slice:b64_encode_fuzzer`

objdump -D   of the _start entry point (after built with GCC)
[code]

my gcc version:
[code]

So it looks like this is eit

[2021-02-19 18:01] resistor commented on #25288
I actually think it's likely to be a linker bug, or a mismatch between your libc's expectations and your linker's. Can you tell if clang is using lld on your system?

[2021-02-19 18:03] resistor commented on #25288
I guess a clang bug isn't out of the question either - clang 6.0 is from March 2018.

[2021-02-19 18:37] rowillia commented on #24897
I'm investigating a similar issue - https://github.com/protocolbuffers/protobuf/issues/8291 - I'm guessing similar issues will arise if you also import Tensorflow.

Internally we've worked around this by _not_ statically linking `libprotobuf` into the python protobuf library and having both libprotobuf & my internal project load the system `libprotobuf`.  The version shipped on pypi has `libprotob

[2021-02-19 19:05] gnossen commented on #24897
To clarify, you think that `grpcio-tools` would be responsible for a symbol clash now, even after the merge of https://github.com/grpc/grpc/pull/24992? Or do you mean that most Python applications using `grpcio` also use `protobuf` and that some nontrivial subset of those use `tensorflow` as well and may experience a symbol clash as a result of interactions solely between `protobuf` and `tensorflo

[2021-02-19 19:31] jonso4 commented on #13236
@jtattermusch has the new serialization API been exposed on the gRPC yet? I am trying to figure out how to use a method like `PayloadAsReadOnlySequence` in the deserializer, but can't figure out where to add it.

[2021-02-19 19:49] coryan opened #25508 "gRPC cannot compile the protos in googleapis/gooogleapis"
### What version of gRPC and what language are you using?

1.35.0, C++

### What operating system (Linux, Windows,...) and version?

Linux, Ubuntu:20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

g++, GCC-9:

[code]

### What did you do?

This was motivated by customers reporting a bug (GoogleCloudPlatform/cpp-samples#113).  Download and build gRPC using th

[2021-02-19 19:49] coryan commented on #25508
Thanks to @mpietras for documenting the steps necessary to reproduce this problem.

[2021-02-19 20:07] karthikravis commented on #25503
@taricky216 : what does it mean "which is not installed to the include dir."?
grpc++/impl/codegen/method_handler_impl.h reroutes to grpcpp/impl/codegen/method_handler_impl.h is working as intended. What is the problem here?

[2021-02-19 21:11] pcj opened #25509 "Excessive warnings from bazel build of com_github_grpc_grpc"
Our CI build contains thousands of lines similar to:

[code]

Using bazel 4.0.0 with:

[code]

Any suggested remediation to get rid of these?

[2021-02-19 23:53] apolcyn opened #25513 "Flake: build_artifact.csharp_ext_macos_x64"
Main error seems to be:

[code]

https://source.cloud.google.com/results/invocations/5cfdf142-b5e0-4e43-bd06-fec610de42d6/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

Seen in https://github.com/grpc/grpc/pull/25507

[2021-02-20 02:41] rowillia commented on #24897
Thanks so much for the reply!

Right, this seems to be a general problem that occurs when using multiple libraries that have a dependency on protobuf.  This is probably more of a thread for the protobuf repo (or even a general pypa issue) but excited to see I'm not alone in facing these issues 😄 .

I agree, it's a nightmare 😆 .  Actually, this thread made me experiment more w/ delocate and it actu

[2021-02-20 02:59] gnossen commented on #24897
`delocate` looks like a very interesting project. I wasn't aware that it existed. Unfortunately, bundling a shared object library with your Python package only makes sense when you assume that your library is the only one included in the applications that's depends on that particular shared object library. Which is exactly the assumption that's broken by the case we're talking about here.

The onl

[2021-02-20 06:11] KumaTea commented on #25112
Hi.

I'm not sure if I was using a container, but likely I was.

I just tried to build `grpcio` on `aarch64` again, **not** in docker or other container, with root privilege. This time there's no `Segmentation fault`, but both `1.32.0` and latest `1.35.0` failed.

`1.32.0` (full log:
[grpcio1320.log](https://github.com/grpc/grpc/files/6014228/grpcio1320.log), `KeyboardInterrupt` after error) shows

[2021-02-20 18:53] beandrad commented on #15880
Hi! this seems to have been implemented in [PR 19329](https://github.com/grpc/grpc/pull/19329); would it be possible to get that merged?

[2021-02-20 19:42] odashi commented on #22811
Any updates on this? The @daicoden 's solution would work, but is very weird as we are required to manage every transitive proto dependencies by hand.

[2021-02-20 20:10] daicoden commented on #22811
For what it's worth, here's my solution. My heuristic is each proto file directory exposes one python lib. All proto files in a directory for python must be included in the lib. Any change to proto files does cause a full build/test of any python dependencies, but you can manage this by breaking into new directories, and the the proto compilation dependency graph is still honored.

[code]

and tes

[2021-02-20 22:16] gnossen commented on #25353
Friendly ping. There's not much we can do without more information.

[2021-02-21 05:56] sandeepgd commented on #25160
I ran into a `SIGSEGV` as well in `ClientAsyncResponseReaderFactory::Create`, but with a different stack trace.
GRPC version: 1.30.1, C++
Compiler: gcc version 7.5.0

[code]

[2021-02-21 07:21] mattip commented on #4221
Some of the cython support for async generators is missing in PyPy, see [issue 3403](https://foss.heptapod.net/pypy/pypy/-/issues/3403).

[2021-02-21 09:13] MhdAna opened #25516 "Is it Possible to use only one gRPC Channel for 2 Pair Client/Server"
I have a use case that force me to use 2 Pair Client/Server, for some illustration :
I have 2 processes which each of two are playing Client / Server Role, for this reason I have to create 2 Pair Client/Server.
My Question to minimize the overhead of creating 2 Channel to achieve this communication, do we have any possibility to use only one Channel?

Note  : Dual streaming wouldn't help, since in

[2021-02-21 12:19] konalegi commented on #24846
I compiled the grpc manually and replaced it inside gems, but still getting some strange error.
My steps:
in project
[code]
it completes fine
and then compile manually grpc.
[code]
But still getting the following error.
[code]
The same error I get if I download from github actions.
Do you have any ideas about what could be wrong?

[2021-02-21 18:14] PiotrZakrzewski commented on #25353
Sorry! once we turned off GRPC we could once again get gcp logging working, which made it less urgent. I will try to provide the dump in the coming week!

[2021-02-21 19:53] rlerdorf opened #25518 "Bazel build doesn't build libgpr"
gRPC 1.35.0/Debian bullseye/sid/gcc (Debian 10.2.1-6) 10.2.1 20210110

`bazel build :all`

I was expecting this to build _libgpr.a_ and _libgpr.so_ since this library is built if you use the cmake build chain and upstream things depend on libgpr.
Instead this builds _libgpr_base.a_ and _libgpr_base.so_ with the same symbols, but this means that things like the gRPC PHP extension which explicitly l

[2021-02-22 09:03] jtattermusch commented on #25518
I think the fact that bazel build is mostly intended for bazel-based is kind of clear.
Besides bazel, we do support cmake build system (https://github.com/grpc/grpc/tree/master/src/cpp#cmake) and in fact the documentation says "cmake is your best option if you cannot use bazel". With cmake, you can build libgpr, libgrpc and other "public" targets quite easily, so I don't see the need for our bazel

[2021-02-22 09:07] jtattermusch commented on #25518
I looked at the sources and the difference between gpr and gpr_base is nonexistent and on github we would probably just get rid of gpr_base and just have a gpr library (this would be quite easy to change). The issue is that there are many references to gpr_base in the internal codebase and this is something that would need to be updated first.

[2021-02-22 09:07] #25518 closed

[2021-02-22 10:41] DavenAaron opened #25520 "gRPC cannot compile"
[ 97%] Building CXX object CMakeFiles/grpc++.dir/src/cpp/client/client_context.cc.o
[ 97%] Building CXX object CMakeFiles/grpc++.dir/src/cpp/client/create_channel.cc.o
[ 97%] Linking CXX executable gen_hpack_tables
[ 97%] Linking C shared library libgrpc_csharp_ext.so
libgrpc.so.14.0.0: undefined reference to `inflateInit2_'
libgrpc.so.14.0.0: undefined reference to `inflate'
libgrpc.so.14.0.0: un

[2021-02-22 10:42] jtattermusch commented on #25288
I was able to reproduce the same behavior with clang 10 as well.

[2021-02-22 10:42] DavenAaron commented on #25520
git clone --depth 1 -b v1.34.x https://github.com/grpc/grpc.git /var/local/git/grpc
cd /var/local/git/grpc
git submodule update --init --recursive

# protobuf
cd /var/local/git/grpc/third_party/protobuf
./autogen.sh
./configure
make -j$(nproc)
sudo make install
sudo ldconfig
make clean

# grpc
cd /var/local/git/grpc
mkdir -p cmake/build
cd cmake/build
cmake ../.. -DBUILD_SHARED_LIBS=ON -DgRPC_INST

[2021-02-22 12:26] freezy commented on #21908
Correct me if I'm wrong, but every time Unity (or GRPC, or Protobuf, for that matter) bumps `System.Memory` we will have the same problem over and over, no?

Wouldn't be bundling the deps with ILMerge/ILRepack like @discodonut described be a much more stable solution? If so, having it in CI instead of everybody having to figure it out for itself would be awesome! :)

[2021-02-22 12:34] jtattermusch commented on #25288
I ran a few tests with interesting findings:

- `tools/bazel test --config=opt //test/core/slice:b64_encode_fuzzer`  (uses clang and  gold linker via `-fuse-ld=/usr/bin/ld.gold`):     FAILS
- `CC=gcc CXX=g++ tools/bazel test --config=opt //test/core/slice:b64_encode_fuzzer`  (uses gold linker via `-fuse-ld=gold`):  PASSES
- `tools/bazel test --config=opt --linkopt="-fuse-ld=/usr/bin/ld.lld-10" //t

[2021-02-22 13:05] jtattermusch commented on #25112
How about the `/tmp/ccrjBXGh.s: Assembler messages:
  /tmp/ccrjBXGh.s: Fatal error: can't close python_build/temp.linux-aarch64-3.8/src/python/grpcio/grpc/_cython/cygrpc.o: No space left on device` problem that's in one of the logs?

Sorry this still looks that there problem you're seeing is not grpc related.

[2021-02-22 13:07] rdcm opened #25522 "gRPC IL2CPP build failed on MacOS Unity"
### What version of gRPC and what language are you using?

C#, Unity Package `grpc_unity_package.2.37.0-dev202102201311.zip`
https://packages.grpc.io/archive/2021/02/cac3cebe1aad171e185030f67fdbfb87875d5ac3-2cdbff8a-20a0-466b-bd14-4af027a26d5b/index.xml

### What operating system (Linux, Windows,...) and version?

MacOs Big Sur 11.2.1

### What runtime / compiler are you using (e.g. python version

[2021-02-22 13:17] rdcm commented on #25522
UPD: No Errors while playing in editor. And the same error for a build from the editor.

Build settings:
![image](https://user-images.githubusercontent.com/11910763/108713471-567be080-7529-11eb-8de6-079b54eba1bc.png)

[2021-02-22 13:17] jtattermusch commented on #25112
So far it looks like this is failing for other reasons (e.g. your disk is full etc.). I can reopen once there's more evidence that there is an actual problem in grpc.

[2021-02-22 14:08] schleumer commented on #25250
Same on:

PHP 7.4.9 (cli) (built: Oct 26 2020 15:17:14) ( NTS )
Ubuntu 20.10

[code]

[2021-02-22 14:23] rlerdorf commented on #25518
Ok, no problem. I'll switch to cmake. But, I don't really agree that the build docs make it clear that bazel is only intended for other bazel-based projects. At https://github.com/grpc/grpc/blob/master/BUILDING.md#building-with-bazel-recommended it says:
 `"Bazel is the primary build system for gRPC C++ and if you're comfortable with using bazel, we can certainly recommend it. Using bazel will giv

[2021-02-22 17:36] veblush commented on #25454
From the error message, boringssl failed to detect the cpu. It appears that your machine is ppc64 from the output of uname. Can you give more information of your machine? Boringssl supports little-endian ppc64. ([ref](https://github.com/google/boringssl/blob/1a7456ac15c231f8581cb5bb09fa12571640a25d/include/openssl/base.h#L99))

[2021-02-22 17:43] veblush commented on #25450
@bruno- I don't know much about the ruby option to use jemalloc. I guess it can happen when ruby uses jemalloc and gRPC uses a default system malloc (gRPC has a native so file) and gRPC happens to deallocate a buffer allocated by ruby (and vice versa). The workaound using `LD_PRELOAD` might be able to explain why it solved the issue.

@apolcyn WDTY?

[2021-02-22 17:45] #25446 closed

[2021-02-22 17:53] veblush commented on #25445
That's interesting. I think we cannot assume `errno` is intact after any C function is called because any C function can alter its value. Therefore, `errno` needs to be stored to a local variable for the future reference. @aidanwolter3 Can you please make a PR for this?

[2021-02-22 18:06] veblush commented on #25386
@michaelaelise Can you try to install `linux-headers` in advance? (ref: https://github.com/grpc/grpc/issues/21918)

[2021-02-22 18:36] michaelaelise commented on #25386
@veblush In my original post is the following and it does contain linux-headers,

`The dockerfile contains the following that install the apk prior to the python requirements being installed.
RUN set -ex \ && if [[ uname -m == 'x86_64' ]]; then apk add --no-cache --virtual .build-deps cmake curl g++ gcc jpeg-dev libffi-dev libjpeg make musl-dev postgresql-dev python3-dev tzdata zlib zlib-dev opens

[2021-02-22 19:10] adityajaltade commented on #20594
@vjpai @yashykt Any update on this?
This really needs to be fixed in a clean way. Please take a look at https://github.com/google/flatbuffers/pull/6338 which may be checked-in to flatbuffers. The latest comments there mention similar concerns.
Today the grpc+flatbuffers integration is very fragile and in most cases it is not possible to mix and match (even reasonably) the versions of grpc and flat

[2021-02-22 19:27] aardappel commented on #20594
I pinged someone internally again, let's see.

[2021-02-22 21:59] veblush commented on #25386
@michaelaelise I guess this was introduced by the recent musl change. (presumably this [commit](http://git.musl-libc.org/cgit/musl/commit/?id=2cae9f59da6106b4545da85b33d1e206a1e4c1e7)). Let me try to fix this without the flag.

[2021-02-22 23:12] taricky216 commented on #25503
@karthikravis If I build grpc 1.35.0 from source, I do not have `grpcpp/impl/codegen/method_handler_impl.h` in the include directory.
`https://github.com/grpc/grpc/blob/master/CMakeLists.txt#L2789-L2980` does not contain `grpcpp/impl/codegen/method_handler_impl.h` in the foreach.

[2021-02-22 23:36] bruno- commented on #25450
Thank you for the response. Yea, there are two workarounds to this issue:

- Using `LD_PRELOAD`
- Using older jemalloc `3.6.0`

The only conclusion I draw is that it's possible to make it work...

[2021-02-23 03:00] madaoCN commented on #25156
Hi, Is there any plan to support this feature? @markdroth

[2021-02-23 15:27] markdroth commented on #25156
Unfortunately, we probably won't get to this any time soon, since we have too many other higher priorities at the moment.

[2021-02-23 16:51] rdcm commented on #25522
1) Ok, for MacOS I switched from IL2CPP to Mono scripting backend, and the project successfully compiling and running on a mac.

`BuildTarget.StandaloneOSX` -> `BuildTarget.iOS`

2) For IOS I choose the IL2CPP backend and get a successful build. But while IOS build deploying to iPhone via XCode I get linker errors:
[code]

Note: For XCode, I set `Enable Bitcode` to `No` in build settings.

Explana

[2021-02-23 17:27] rdcm commented on #25522
And my final solution, adding post call to my "MacOsBuilder" class from here:

https://github.com/Cysharp/MagicOnion/blob/e240b80a9fe84608d2525f8848982671b0931c38/samples/ChatApp/ChatApp.Unity/Assets/Editor/BuildeIos.cs

thanks, https://github.com/grpc/grpc/issues/23606

@karthikravis Look like a very tricky way for up and running gRPC for unity, do you have any plans for describing a correct buil

[2021-02-23 17:29] rdcm commented on #23606
@shubear Thanks a lot!

Look like I have something similar:
https://github.com/grpc/grpc/issues/25522

[2021-02-23 17:42] ikstewa opened #25533 "Support loading system root certificates for Win32/OSX"
### Is your feature request related to a problem? Please describe.
When connecting to a TLS enabled GRPC endpoint the system root certificates are loaded on Linux/Android. When running on Win32/OSX the cert needs to be provided.

Related issue: https://github.com/grpc/grpc/issues/25167

### Describe the solution you'd like
Similar to the grpc impl for java/c# the client should load the trusted cer

[2021-02-23 19:44] shreethatte opened #25535 "Python Install"
### What version of gRPC and what language are you using?
grpcio 1.11.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.9.1

### What did you do?
ran "pip install grpcio==1.11.0" from powershell comand line ( tried as admin and regular same result)

### What did you expect to see?
Ex

[2021-02-23 19:46] lidizheng commented on #25535
You are using Python 3.9. When we ship gRPC Python 1.11, the Python 3.9 isn't released yet. Please consider upgrade to latest version.

[2021-02-24 00:17] XinLin opened #25539 "[grpc objc over cronet] wrong error returns when pass wrong oauth2AccessToken"
### What version of gRPC and what language are you using?
gRPC Objective-C v1.31.0

### What operating system (Linux, Windows,...) and version?
iOS 12.X, 13.X and 14.X
iPhone 6 to iPhone 12

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode Version 12.4

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for

[2021-02-24 00:19] XinLin commented on #25539
@yulin-liang could you help to check this issue? grpc objc over http2 could return the correct error message with grpc status code 16, but grpc over cronet return grpc status code 14.

[2021-02-24 01:57] mbyio opened #25540 "We should have full control over the reconnect exponential backoff behavior"
### Is your feature request related to a problem? Please describe.

We use `grpcio` `1.35.0` in Python `3.7.7` on Macs and Linux.

At my company, we have a longstanding bug where a server will randomly lose its GRPC connection to an upstream server and then take a long time to reconnect. I had some time to look into it today. I experimented with the keepalive settings, but then I found the reconne

[2021-02-24 06:58] madaoCN commented on #25156
Thanks for answering  @markdroth

[2021-02-24 07:01] BusyJay commented on #24932
Note the default compiler on CentOS 7 is still 4.8, it would make life easier to keep compatible with older version.

[2021-02-24 08:56] jtattermusch commented on #13236
It's been available for more than a year now, see the PR for details: https://github.com/grpc/grpc/pull/23485 (it also demonstrates the PayloadAsReadOnlySequence usage).

C# doesn't support the `optimize_for = SPEED` since there isn't any speed / generated codesize tradeoff. The "default" version of generated code is optimized well enough.

[2021-02-24 12:15] jtattermusch commented on #25350
Note that https://github.com/grpc/grpc/tree/master/src/php#grpc_php_plugin-protoc-plugin also need updating.

[2021-02-24 13:11] sayanthkoroth opened #25543 "GRPC installation hangs PHP 7.3"
I am trying to install grpc with php 7.3

OS : Ubuntu 18.04
PHP : 7.3

The installation stuck after sometime

RK=1 -c /tmp/pear/temp/grpc/src/core/ext/xds/xds_client.cc  -fPIC -DPIC -o src/core/ext/xds/.libs/xds_client.o

Instllation hangs in the above line

[2021-02-24 14:39] moserware commented on #22975
The [latest (3.15+) releases](https://github.com/protocolbuffers/protobuf/releases) of `protoc` no longer require this `--experimental_allow_proto3_optional` flag which might reduce (and ultimately eliminate) the need for this feature. Although `Grpc.Tools` currently ships with protoc 3.12.3, you can specify an alternate location via an environment variable and/or an MSBUILD variable.

For example

[2021-02-24 14:53] jtattermusch opened #25545 "FLAKE in windows build prepare step: chocolatey installation of NASM occasionally fails"
https://source.cloud.google.com/results/invocations/fae6257c-f5d0-4884-a50f-fe306e5625e6/log

the installation error
[code]

The build afterward fails with
https://source.cloud.google.com/results/invocations/fae6257c-f5d0-4884-a50f-fe306e5625e6/targets/github%2Fgrpc/tests
[code]
[code]

[2021-02-24 15:20] jtattermusch commented on #22975
The latest Grpc.Tools now has protoc 3.14.0 (see https://github.com/grpc/grpc/pull/25131) and in the next release we'll very likely have protoc 3.15.2 (once we update our third_party/protobuf).

[2021-02-24 17:51] mattnworb commented on #25156
@markdroth would you and the team be open to PRs on this topic or https://github.com/grpc/grpc/issues/25390 (adding Snappy support)?

[2021-02-25 09:10] JanSkalicky commented on #13447
I would like to have possibility to use GRPC over named pipes in C#. Did you consider implementing it?

[2021-02-25 09:43] lhusker commented on #24932
I've managed to compile it on RHEL7(CentOS7) with Devtoolset 8 (GCC 8.2.1) from https://www.softwarecollections.org/en/scls/rhscl/devtoolset-8/
Using:
  cmake -DgRPC_INSTALL=ON \
        -DgRPC_BUILD_TESTS=OFF \
        -DCMAKE_INSTALL_PREFIX=/my/path/to/grpc \
        ../..
make -j2 # (for my spec. system)

[2021-02-25 12:49] pitrou opened #25556 "[C++] Please consider adding version macros"
### Is your feature request related to a problem? Please describe.

gRPC-C++ currently doesn't seem to expose macros for the version number being compiled against.
gRPC-C++ also seems to remove or modify APIs without any deprecation warning.
This makes life frustrating when third-party code uses such a removed or modified API.
See example at Apache Arrow:
https://github.com/apache/arrow/pull/9569/

[2021-02-25 13:20] pitrou commented on #25556
(to be fair, the APIs i'm talking about are experimental. Still, it would be nice to have version macros)

[2021-02-25 15:26] clarkzinzow commented on #23398
Pinging here as a user very interested in the callback API for [Ray](https://github.com/ray-project/ray), where we have already implemented a callback layer on top of the completion queue API for unary RPCs and are looking to extend it to streaming RPCs. Instead of continuing to add to this callback layer, using a native reactor-based callback API would be a huge win.

[2021-02-25 15:27] chalin commented on #25350
This is reporting a problem with grpc.io docs, for which there is the following issue: https://github.com/grpc/grpc.io/issues/664.

@jtattermusch @stanley-cheung - can you close this issue? We'll track it's resolution at https://github.com/grpc/grpc.io/issues/664.

[2021-02-25 15:28] clarkzinzow commented on #16504
What's the current status of this? It looks like that PR was closed.

[2021-02-25 16:44] musicinmybrain opened #25559 "Python bindings should support external abseil"
### Is your feature request related to a problem? Please describe.
Core and C++ libraries support system / external abseil via `gRPC_ABSL_PROVIDER`. Python bindings `grpcio` have environment variables to use system / external copies of most library dependencies (example: `GRPC_PYTHON_BUILD_SYSTEM_RE2`). However, the bundled abseil is always used.

### Describe the solution you'd like
A configurati

[2021-02-25 17:15] vjpai commented on #23398
Thanks for the interest. Most of my effort recently has been on #25169 and some related PRs (#25401, #25541). Now that those are done, I would call the callback API ready for use; the code is quite stable (though #25541 likely won't be merged until next week, its race has only been seen by one sync server user). This bug is just related to the inproc transport, but the TCP transport is fine (which

[2021-02-25 17:15] vjpai commented on #23398
#25169 enables the callback API without epollbg . This is now ready for all platforms with all pollers.

[2021-02-25 17:51] clarkzinzow commented on #23398
@vjpai I'm very, very excited to hear that! Are there any notable limitations or performance concerns compared to the CQ API that I should be aware of before porting our gRPC layer to the callback API?

[2021-02-25 18:40] drfloob commented on #16504
This specific work is discontinued, but there are other efforts working to support the Callback API. I see you've already found this other thread, but for anyone else who lands here looking for updates, #25169 recently enabled the C++ Callback API for all platforms.

[2021-02-25 18:40] #16504 closed

[2021-02-25 19:26] aaliddell opened #25562 "Missing dependency on //:google_api_upbdefs leads to undefined reference google_protobuf_descriptor_proto_upbdefinit"
### What version of gRPC and what language are you using?

1.36.0

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Bazel's CI image `gcr.io/bazel-public/ubuntu1804-java11`

### What did you do?

When linking against `//:grpc` via a Rust lib, there is a missing symbol `google_protobuf_descriptor_p

[2021-02-25 19:31] rowillia commented on #24897
@gnossen Thanks so much for your links and pointers!  I've learned more than I ever wanted to about mach-o binaries than I ever wanted to 😆 .  https://github.com/protocolbuffers/protobuf/pull/8346 implements these same ideas for protobuf.

[2021-02-25 19:36] vjpai commented on #23398
Sorry that we haven't done any substantial performance benchmarking at the current time on this, especially by comparison to the CQ-based API since the CQ-based API's performance is essentially bound by usage (e.g., 1 CQ shared or separate CQs per thread, with different threads associated to different channels; the former avoids stranding while the latter provides improved locality and reduced con

[2021-02-25 19:43] aaliddell commented on #25562
Relevant commit appears to be: 24c698f9fa8940446cbc4dd4876cc2070c39e01f

This moved the dependency for the descriptor to a target `@upb//:descriptor_upb_proto` via the bind `upb_lib_descriptor`, however that library does not expose the `google_protobuf_descriptor_proto_upbdefinit` symbol, since it contains only `descriptor.upb.c` and not the required `descriptor.upbdefs.c`.

[code]

[2021-02-25 19:51] ahaeber commented on #23398
@vjpai thanks for your effort to support Callback API! Do you have any pointers to where to start to use it with C++? In particular interested in using it as a client. <https://github.com/grpc/grpc/blob/master/test/cpp/end2end/client_callback_end2end_test.cc> is so far the most helpful I've found, but being part of a test suite makes it a bit more difficult to follow it.

[2021-02-26 09:32] jtattermusch commented on #25350
Fixed by #25544 and https://github.com/grpc/grpc.io/pull/684.

[2021-02-26 09:32] #25350 closed

[2021-02-26 14:13] jrlindell commented on #24677
did not work for the new Mac M1 chip, but was able to download grpc with https://github.com/grpc/grpc/issues/24677#issuecomment-741814641

[2021-02-26 15:43] mkschulze commented on #24786
Hi @markdroth & @a11r
we made the following packages work again:
[HTTP/2](https://github.com/tanmaykm/HTTP2.jl)
[HPack](https://github.com/tanmaykm/HTTP2.jl)

That was required for [gRPC.jl](https://github.com/tanmaykm/gRPC.jl) to work again.
It works now, but we don't know in which state it is yet.
Also, one of our team members has owner permissions to these repos now, and we would like to make t

[2021-02-26 23:52] jgallucci32 opened #25579 "Offline installer needed due to GitHub rate limiting issues"
### Is your feature request related to a problem? Please describe.
The rate limiting on GitHub requests has been causing problems lately trying to download and install gRPC using the methods available in the documentation. All of the native packages (Ubuntu, Debian) are either out of date or not available. Running a `git clone` or `go get` can now take hours to get the gRPC code due to the rate li

[2021-02-27 02:11] danieldjewell commented on #24628
I just ran into a related issue I think --

[code]

Strangely, it appears that Bazel is importing Pip v9?! (Or is that just the version of "Piptool"? I'll have to investigate.

```/.cache/bazel/_bazel_root/de9aa8b706e7ed29aab6297d1046aa79/external/io_bazel_rules_python/tools/piptool.par/pypi__pip_9_0_3/pip/basecommand.py```

[2021-02-27 02:51] KHAuckland2021 opened #25581 "gRPC server hosted and running in a Windows Service (NET Framework 4.6)"
Package Grpc.Core V2.36.0
Package Grpc.Core.Api V2.36.0

Project: Windows Service, .NET Framework 4.7.2

I have hosted a gRPC server within a Windows Service (NET Framework 4.6).
When the Windows Service starts up (OnStart()), it also starts the gRPC server, without any errors.
When I send a message to the gRPC server however, the client reports an exception:

GPIB SendCommand exception:
[code]

I

[2021-02-27 05:53] #22975 closed

[2021-02-27 06:02] jtattermusch commented on #25288
https://github.com/grpc/grpc/pull/25517 has been merged as a workaround.

[2021-02-27 07:06] mkschulze opened #25582 "Julia implementation using LibCURL"
### Is your feature request related to a problem? Please describe.
There is no production ready native Julia implementation of gRPC yet.

### Describe the solution you'd like
In order to have a higher chance of a stable Julia native gRPC implementation, it would be helpful to have support for [LibCURL](https://curl.se/libcurl/) as the HTTP/2 layer in gRPC.
[LibCURL.jl](https://github.com/JuliaWeb/

[2021-02-27 08:56] kiwidoggie opened #25583 "C++ service.server is nullptr causing crashes on the server"
### What version of gRPC and what language are you using?
1.36.x compiled from source

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04.5 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang version 6.0.1 (compiled from source)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for

[2021-02-27 11:37] pPanda-beta commented on #25112
Sorry for late reply.

@jtattermusch Please solve the first problem mentioned here :

[code]

Clearly the directory resolution is broken here.
### This line is toxic :
`gcc -pthread -DNDEBUG -O2 -fPIC -I/opt/pypy/include -c /tmp/tmpozib8837/a.c -o None/tmp/tmpozib8837/a.o`

### How to reproduce?
`docker run -it pypy:3.7-7.3.3 pip install grpcio==1.35.0`

[2021-02-28 11:20] xiedeacc opened #25584 "cc_grpc_library cannot find imported proto file"
### What version of gRPC and what language are you using?
git tag: v1.36.0
c++

### What operating system (Linux, Windows,...) and version?
ubuntu20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc: 9.3

### What did you do?
my project has many proto file for a more clear structure, under this situation cc_grpc_library  coundn't find dependency proto file

[2021-02-28 19:00] Dyfox100 opened #25585 "Double field is causing errors with other proto fields."
### What version of gRPC and what language are you using?
Python3 with grpc installed in the grpcio-tools module. I'm using python 3.7 and version 1.36.0 of grpcio-tools. When grpcio-tools is installed, it also installs version 1.36.0 of the grpcio module and version 3.15.3 of the protobuf module. I was originally using version 1.24.0 of grpcio-tools and grpcio, and upgraded to try a different ver

[2021-02-28 19:34] Dyfox100 commented on #25585
Closing issue as restarting docker desktop seems to have fixed this error. Unsure why, but it works now.

[2021-02-28 19:34] #25585 closed

[2021-02-28 20:42] chausner commented on #15363
Apparently not. Would also love to see this in ConanCenter, ideally kept up to date by the maintainers. Until then https://github.com/inexorgame/conan-grpc looks to be a great alternative.

[2021-03-01 11:08] pPanda-beta commented on #25112
@jtattermusch Please reopen it.

[2021-03-01 15:29] jtattermusch commented on #25112
I was able to reproduce by running:
[code]

It looks like that this bug has nothing to do with aarch64 (as it can be reproduced on intel).
Looks like it is related to pypy? I'm actually not sure to which extent pypy is supported.

Assigning back to @lidizheng

[2021-03-01 16:04] pPanda-beta commented on #25112
@jtattermusch
Can you please point me to the cmake build scrips and any other python based build scripts?
I believe some extremely CPython specific variable is fetched and used in a f-string, which produces in correct root dir : `None/tmp/tmpozib8837/a.o`
(Probably missing a None-check)

[2021-03-01 16:52] M0n7y5 opened #25587 "Unresolved symbols when using static compilation (grpc installed via vcpkg)"
### What version of gRPC and what language are you using?
**1.33.1** via vcpkg

### What operating system (Linux, Windows,...) and version?
**Windows 20H2**

### What runtime / compiler are you using (e.g. python version or version of gcc)
**MSVC 64Bit v142**

### What did you do?
I just tried statically compile this cpp example
https://github.com/grpc/grpc/blob/master/examples/cpp/helloworld/gree

[2021-03-01 18:10] jtattermusch commented on #25112
The entry point for everything is https://github.com/grpc/grpc/blob/master/setup.py and https://github.com/grpc/grpc/blob/master/tools/distrib/python/grpcio_tools/setup.py

[2021-03-01 18:25] #25426 closed

[2021-03-01 18:29] karthikravis commented on #25516
For questions, please use stackoverflow with the grpc tag.

[2021-03-01 18:29] #25516 closed

[2021-03-01 18:40] gnossen commented on #25540
Reassigning to Yash since this question is really about Core.

[2021-03-01 18:51] karthikravis commented on #25520
I tried the instructions here verbatim and I could build gRPC as well as the helloworld example using cmake - https://grpc.io/docs/languages/cpp/quickstart/

@DavenAaron : Can you please try this out?

[2021-03-02 06:31] jtattermusch opened #25594 "flaky test: python wait_for_ready_test.TestWaitForReady"
https://source.cloud.google.com/results/invocations/a874fe23-2715-4e31-8b5d-2e6bc88e31cf/targets

[code]

[2021-03-02 10:58] jtattermusch commented on #25581
From the log it looks like that the call was successfully invoked
and the server-side handler actually started, but then it threw an exception for some reason. The exception was then caught by the server-side grpc logic and the error "Exception was thrown by handler." was reported back to the client.
That seems to indicate that the RPC invocation actually makes it all the way to the server-side ha

[2021-03-02 11:18] jtattermusch commented on #25587
Hi, please note that according to our documentations, the vcpkg packages are not officially supported (see https://github.com/grpc/grpc/tree/master/src/cpp#packaging-systems). From your report it's unclear whether there's a problem with the vcpkg package (which we don't maintain directly and you'd have to file an issue on the vcpkg repo, see the docs link) or if there's a different problem.

Also

[2021-03-02 12:31] kiwidoggie commented on #25583
Update: This is a regression, I built 1.35.0 instead of 1.36.0 and it works 100% fine.

[2021-03-02 14:02] thomasbalsloev commented on #25450
I got the exact same problem.
Using ruby 2.7.1 on Ubuntu 20.04 with latest grpc gems.

Workaround with LD_PRELOAD works for me.

[2021-03-02 15:10] amasciotta opened #25596 "Lots of warnings during x64 compilation using Ninja + Visual Studio v16.8.6 under Windows"
### What version of gRPC and what language are you using?
gRPC v1.36.0, C++ language

### What operating system (Linux, Windows,...) and version?
Windows 10 Pro 20H2

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ninja as build system + MSVC 19.28.29337 for x64 (Visual Studio Professional v16.8.6)

### What did you do?
I'm compiling gRPC from sources using the f

[2021-03-02 17:34] kpedro88 opened #25597 "ClientReactor should have virtual destructor"
### What version of gRPC and what language are you using?

1.35.0, C++

### What operating system (Linux, Windows,...) and version?

RHEL 7

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 9.3.0 (C++17)

### What did you do?

Compiled some existing code (previously using grpc 1.28.1).

### What did you expect to see?

No warnings.

### What did you see instea

[2021-03-02 18:57] lidizheng commented on #25136
@jogc Can you please try to use the latest gRPC Python to see if the issue still exists?

[2021-03-02 19:23] ianks commented on #8798
We are running into this as well. Really painful.

[2021-03-02 21:48] pavlexander opened #25598 "Unreasonably large storage space required for published solution with grpc.core reference"
(originally wrongly created a ticket in https://github.com/grpc/grpc-dotnet/issues/1217)

### What version of gRPC and what language are you using?
`C#` in `.Net 5`. I am using `Google.Cloud.TextToSpeech.V1` v`2.1.0`, which depends on `Grpc.Core 2.31 < 3`

### What operating system (Linux, Windows,...) and version?
  **- OS:** `Windows Pro Version 10.0.19042 Build 19042` **(building on `Windows` f

[2021-03-03 03:55] M0n7y5 commented on #25587
Basically what i did is install needed packages using vcpkg and then copy and pasted helloword example. Dynamic linking is working without problems. I am not using CMake.

[2021-03-03 03:59] M0n7y5 commented on #25587
I can make some repo with that code i you want.

[2021-03-03 05:08] #25597 closed

[2021-03-03 09:39] jairaju commented on #25020
I am seeing similar to what @judywangsg is seeing with shared object library in a client process

env:
grpc 1.28.1 c++
gcc 8.3.1

I am trying to integrate the client code with Dialgoflow CX v3beta1
my code flow is like this

create resources required --
     context = new grpc::ClientContext();
     cq = new grpc::CompletionQueue();
     request = new StreamingDetectIntentRequest();
     response

[2021-03-03 12:12] NielsKSchjoedt commented on #24846
+1

[2021-03-03 13:58] NielsKSchjoedt commented on #24846
@konalegi looks like you did not install v `1.36.0` of `grpc` and once you have done that you need to overwrite the `grpc_c.bundle` at `gems/grpc-1.36.0-universal-darwin/src/ruby/lib/grpc/2.7/grpc_c.bundle` (note the `-universal-darwin` part). Then it worked for me :-)

[2021-03-03 18:41] apolcyn opened #25604 "Drop support for 32-bit macos ruby builds"
This tracks dropping support for 32-bit macos ruby builds, which haven't been needed on macos for a while. cc @nicolasnoble

[2021-03-03 21:00] shangwu-google opened #25608 "A Mock-up Test for ClientContext"
### A Mock-up Test for ClientContext.
We have ServerContextTestSpouse for ServerContext, but no corresponding one exists for ClientContext. This situation makes the unit test for ClientContext hard, especially the ones involving those private members. We should fix it by adding one.

Even ClientContextTestSpouse is a nature choice for the mock-up class, we chose to name it as ClientContextTestPeer

[2021-03-03 21:02] shangwu-google commented on #25608
@markdroth Please assign the ticket back to me. Thanks.

[2021-03-04 05:44] lowmanisbusy opened #25612 "As we konw，use proto generate code would be always include "pb2"，but what does the "2" mean？"
As we konw，use proto to generate code would be always include "pb2"，but what does the "2" mean？I use "proto3".

./
├── client.py
├── helloworld_pb2_grpc.py
├── helloworld_pb2.py
├── helloworld.proto
├── Pipfile
├── Pipfile.lock
└── server.py

[2021-03-04 08:53] jtattermusch opened #25614 "FLAKE: tasks.distribtest.cpp_windows_x86_cmake is flaky (times out occasionally)."
[code]

https://source.cloud.google.com/results/invocations/168c92a0-9edd-465f-9676-13bda095c54b/targets/github%2Fgrpc/tests

[2021-03-04 12:36] weltling commented on #23205
Looks like there's no SONAME change happening in general. For example, `_ZN9grpc_impl13ServerBuilderD1Ev` has disappeared in 1.31.x. But then, the `grpc_impl` namespace has been sequentially removed in the follow up versions. Still it's the same SONAME, while a breach is introduced at least in every minor version of `libgrpc++`. That's an issue that makes sequential upgrades with side-by-side grpc

[2021-03-04 14:44] jtattermusch commented on #25598
Grpc.Core being quite big in size is a known problem, and unfortunately since we have the grpc_csharp_ext native dependency, our options are pretty limited here.

We actually made some improvements recently (e.g. https://github.com/grpc/grpc/pull/24380 or https://github.com/grpc/grpc/pull/24378) but we need to accept that Grpc.Core will always be of non-trivial size.
In the future we would like to

[2021-03-04 14:50] markdroth commented on #25612
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2021-03-04 14:50] #25612 closed

[2021-03-04 14:52] xiedeacc commented on #25584
I have fixed this problem, right way I have pushed to https://github.com/xiedeacc/cc_grpc_library_reproduce.git

[2021-03-04 14:52] #25584 closed

[2021-03-04 14:53] markdroth commented on #25614
I assume you meant to self-assign this, since it seems like an infrastructure problem.

[2021-03-04 16:34] anlsh opened #25616 "TLS 1.0 mentioned in client hello packets"
I've been having some trouble making connections from C-core clients to an asp.net core server (you can read about that [here](https://stackoverflow.com/questions/66478939/https-grpc-connections-from-c-core-clients-to-net-core-server-tls-handshake-fa) for more info), but the gist is that the TLS handshake is failing and I used wireshark to inspect some packets.

In wireshark, I noticed that the cl

[2021-03-04 17:41] veblush commented on #24884
Closing this since calling gRPC functions in the signal handler is discouraged.

[2021-03-04 17:51] veblush commented on #23205
One thing I want to add here is that gRPC++ doesn't guarantee ABI compatibility. (It keeps API compatibility, though) Hence, having gRPC++ as a pre-built package isn't a good idea in general.

[2021-03-04 18:18] veblush commented on #25596
@amasciotta Thank you for the issue but we generally fix the warnings issue since we cannot remove them entirely on all compilers but having tons of them might be caused by single code which we can do. Can you attach a full log having warnings so that we can take a look at?

[2021-03-04 19:46] weltling commented on #23205
Thanks for the check. Yeah, the API compat is fine, and for the ABI there are two POVs. If it is about just a consuming project and especially a one that is distributed as a source or that links statically - yeah, the API compatibility in GRPC is good enough. However, if it's about third party binary artifacts consuming shared DSO, downstream and similar use cases where possibly side-by-side versi

[2021-03-04 20:34] #25503 closed

[2021-03-04 21:12] AdrianBunk commented on #23205
The original problem is actually a slightly different variant of that:
Debian (and Ubuntu) ship a shared DSO of gRPC++ that is used by several package in the distribution.
Side-by-side versions can be a bonus, the bigger point here is having proper handling of ABI changes by controlled transitions to new soname versions instead of random breakages.

[2021-03-04 21:52] weltling commented on #23205
Thanks for bringing this up. Of course, the side-by-side thing is just a subset of "keeping ABI in sync". Just as it is told officially "no ABI garantee", i thought at least suggesting a cut at a minor version might be a start. In the initial example, the breach happens between some minor versions, I'd guess ABI within the same minor version is usually more or less stable anyway. But having always

[2021-03-04 23:08] anlsh commented on #25616
I think there's a

[2021-03-04 23:22] ZhenLian opened #25626 "Security related telemetry support in gRPC"
It would be great if we can have a standard way in gRPC to gather telemetry metrics based on the authentication/authorization results. For example, it would be great if we can have:
1. counters for authentication success/failure
2. counters for authorization success/failure
3. other auditing information for authorization, such as peer identity name, etc

[2021-03-04 23:37] sanjaypujare commented on #25626
What are the use-cases for this? Also does it pose a security risk to expose security related metrics (e.g. authz failures) without additional guards?

[2021-03-05 00:22] jiangtaoli2016 commented on #25616
@anlsh You have an unfinished sentence. We need some reproduction of error before we can debug.

[2021-03-05 02:28] danielywong commented on #25626
+1.  I also believe it is a useful feature for gRPC to (1) standardize metrics collection internally and (2) provide basic counters especially those applications have no access to.

For security, metrics such as authentication failures and unauthorized access attempts are currently not visible to the applications.  For example, these metrics can provide very useful security signals for mission cri

[2021-03-05 04:14] #25505 closed

[2021-03-05 09:18] amasciotta commented on #25596
Here you are! The log has been produced by piping to file the output of the following commands:

[code]

[log.txt](https://github.com/grpc/grpc/files/6089444/log.txt)

[2021-03-05 12:30] andreaestrada commented on #25082
I tried doing many of the above, and unfortunately all failed for me. Ended up getting it to work by following the steps here (but for grpcio) https://stackoverflow.com/questions/65564673/how-do-i-import-pandas-on-apple-m1-chip. Posting in case it's helpful to anyone in the future.

[2021-03-05 15:39] pavlexander commented on #25598
Since the situation with the core package is known then I guess there is no reason keeping this thread alive.. I think the topic is more important now than never, with `blazor` in place. We could build applications now, using C#! Reuse the C# code of existing libraries to build web applications.

`Blazor Desktop` is already available in .Net 6 Preview. Imagine publishing your applications that wou

[2021-03-05 15:39] #25598 closed

[2021-03-05 15:49] anlsh commented on #25616
Oh, I thought I deleted that pretty quickly. Guess you were on at just the right time :D

I have a repro, but I no longer suspect that this is a c-core bug. When running the same asp.net core server on linux, it accepts a client hello with the following TLS header just fine
[code]

I suspect that some SSL configuration on asp.net core for/or on windows is to blame. Closing

[2021-03-05 15:49] #25616 closed

[2021-03-05 16:43] musicinmybrain opened #25635 "Should install pkgconfig files under gRPC_INSTALL_LIBDIR"
### What version of gRPC and what language are you using?

1.36.1, C/C++/Python (packaging for Fedora Linux)

### What operating system (Linux, Windows,...) and version?

Fedora Linux 35/Rawhide and 34

### What runtime / compiler are you using (e.g. python version or version of gcc)

python 3.9.2 and gcc 11.0.0, but it is irrelevant

### What did you do?

Build and install the package using CMake

[2021-03-05 17:21] sanjaypujare commented on #25626
No specific risk in mind. Just wondering about an attacker getting a hold of the metrics.

[2021-03-05 17:29] davidben commented on #25616
The TLS 1.0 in there is the record later version, which is a vestigial unused version number. We set it to TLS 1.0 in the initial ClientHello because, at least in the early days of TLS 1.1 and 1.2, that was the correct value for compatibility with some old servers. Since it's entirely irrelevant anyway, there doesn't seem much point in revisiting this.

See the definition of legacy_record_version

[2021-03-05 17:38] jiangtaoli2016 commented on #25616
Thanks @davidben for confirming! I found similarly discussion online as well.

[2021-03-05 17:46] andrekoehler opened #25636 "[Windows] Server does not throw an exception if it binds to a port that is already in use"
### What version of gRPC and what language are you using?
C#, gRPC NuGet package v2.36.1

### What operating system (Linux, Windows,...) and version?
Microsoft Windows [Version 10.0.19042.844]

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET 4.8

### What did you do?
[code]

### What did you expect to see?
The method "Server.Start" should throw an IOException

[2021-03-05 18:19] markdroth commented on #25626
This problem is actually not specific to security.  gRPC does not have any general-purpose mechanism for exporting *any* metrics in OSS.  If we had such a mechanism, we could use it for security and anything else, but it's not clear what such a mechanism would look like in the OSS world.

[2021-03-05 18:54] anlsh commented on #25616
Thanks for the confirmation.

@jiangtaoli2016 tangentially related question, do you know how to force GRPC to use TLS 1.2, ie disable TLS 1.3 (I believe this is relevant for getting my clients to connect to the windows aspnetcore server).

I found [this page](https://www.openssl.org/docs/man1.1.1/man3/SSL_CONF_cmd.html) and figured adding the line

    MaxProtocol = TLSv1.2

to `/etc/ssl/openssl.c

[2021-03-05 23:19] andrekoehler commented on #25636
I found out the C# Socket class also allows to bind to a port that is already in use, but only when IPv4 and IPv6 are both enabled for a single socket with SetSocketOption(SocketOptionLevel.IPv6, SocketOptionName.IPv6Only, false). If SocketOptionName.ReuseAddress is false, I can only bind once to a port that is already in use by another process. If ReuseAddress is true I can bind as many times as

[2021-03-06 03:13] davidben commented on #25616
BoringSSL does not parse a global config file like that, no. I expect there are gRPC APIs for controlling this.

That said, enabling TLS 1.3 should be backwards-compatible. You'll still be able to connect to TLS 1.2 servers. If you're having troubles connecting to some TLS 1.2 server with 1.3 enabled, that's a defect in the server. What evidence do you have that it's related to TLS 1.3?

Your link

[2021-03-06 14:37] Walkramis commented on #23488
Thank you @veronicagarciavazquez for the amazing explanation! I have now also managed to build it, but I am having similar problems as @Birkenpapier . I am getting  an error saying that the server cannot be found and failed to pick subchannel. @Birkenpapier I tried to do what you did but without success. Would you mind giving a litte bit deeper explanation? It is working in unity, android, other c

[2021-03-06 17:37] vgarciavazquez commented on #23488
Just in case, my settings in Unity were as follows:

Unity (version Unity 2019.3.15f1 (64-bit))
Projects -- New -- Project Name: XX -- 3D
File -- Build Settings:
- Add Open Scenes
- Universal Windows Platform -- Switch Platform
- Target device -- HoloLens
- Architecture -- ARM64
- Development Build enabled
- Script Debugging enabled
- Press Player Settings (settings for Universal Windows Platform)

[2021-03-07 05:20] anirban1513 opened #25644 "_InactiveRpcError of RPC that terminated"
I was working with Biostar Device and G-sdk in it and found this error. What might be the solution??

E0307 05:10:36.624904979    4386 ssl_transport_security.cc:1378] Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER.
Cannot connect to the device: <_InactiveRpcError of RPC that terminated with:
        status = StatusCode.UNAVAILABLE

[2021-03-07 07:34] Birkenpapier commented on #23488
Of course. I will try to explain it deeper:

The server and one client are written in Python 3.8.5. The server is receiving messages from the Python client and then wating for a message from the HoloLens client to send the message.
My HoloLens client is based on this example here: https://shadabambat1.medium.com/basic-client-server-communication-using-unity-grpc-f4a3c2cf819c

This are my deploying

[2021-03-08 10:04] Walkramis commented on #23488
Thank you both for spending time to help! As you both pointed out I had made the mistake of forgetting to add the correct capabilities... But now it's working so thanks once again since I probably would have spent another couple of days fault tracing before I would have remembered to look at the capabilities :)

[2021-03-08 14:44] Bharat1981 opened #25646 "Issue while compiling adding new proto files in grpc"
I am trying to add the  3rd party proto file but while compiling getting linking errors. While i using the sample program given those are working fine. I am using CMakeList.txt given for one of the sample program.
CMakeFiles/hw_grpc_proto.dir/build.make:71: warning: overriding recipe for target 'speech-to-text.pb.h'
CMakeFiles/hw_grpc_proto.dir/build.make:65: warning: ignoring old recipe for targe

[2021-03-08 15:39] markdroth commented on #25644
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2021-03-08 15:39] #25644 closed

[2021-03-08 16:38] anlsh commented on #25616
It's not relevant anymore, I don't believe that TLS 1.3 was an issue: I recompiled GRPC on a version from last year before TLS 1.3 was enabled, used wireshark to confirm that traffic was going over TLS 1.2, and was able to reproduce the problematic behavior in my server (not the TLS version mixing in the packets to be clear, the `no common application protocol` error).

I'm still not totally what

[2021-03-08 18:28] coryan commented on #25508
Ping. It has been two weeks, any thoughts?

[2021-03-08 18:53] karthikravis commented on #25508
Esun - can you please take a look when you get a chance? Thanks!

[2021-03-08 23:28] gnossen opened #25650 "Basic Tests C++ iOS Build Failure"
I think [this is probably an infrastructural flake](https://source.cloud.google.com/results/invocations/b91878e1-e088-45f1-9f8b-cb55dd1de987/log):

[code]

[2021-03-08 23:29] gnossen commented on #25423
https://source.cloud.google.com/results/invocations/9f341a56-ac5a-4228-95ed-5008aed908fa/log

[2021-03-09 01:25] gnossen opened #25652 "Dart Interop Test Dependency Failure"
[code]

https://source.cloud.google.com/results/invocations/09d73c51-868c-4764-94ee-be9d67052989/log
https://source.cloud.google.com/results/invocations/acf47daa-a296-49f2-b767-7147460e916d/log

[2021-03-09 01:26] gnossen commented on #25652
@stanley-cheung It looks like you dealt with something similar [here](https://github.com/grpc/grpc/pull/25305). Do you know who should be assigned to this?

[2021-03-09 01:55] stanley-cheung commented on #25652
@iinozemtsev can you take a look please?

[2021-03-09 06:04] yashykt commented on #25540
I'm not sure what the issue here is..
`GRPC_ARG_INITIAL_RECONNECT_BACKOFF_MS` i.e. "grpc.initial_reconnect_backoff_ms" corresponds to INITIAL_BACKOFF from the algorithm.
The other configurable args are -
`GRPC_ARG_MIN_RECONNECT_BACKOFF_MS` "grpc.min_reconnect_backoff_ms" corresponds to MIN_CONNECT_TIMEOUT
`GRPC_ARG_MAX_RECONNECT_BACKOFF_MS` "grpc.max_reconnect_backoff_ms" corresponds to MAX_BACKOF

[2021-03-09 06:04] #25540 closed

[2021-03-09 09:06] Falco20019 opened #25654 "c-ares with grpclb is broken since C# 2.36"
### What version of gRPC and what language are you using?
gRPC C# 2.36

### What operating system (Linux, Windows,...) and version?
Windows 10 v1909

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.1.12

### What did you do?
We use c-ares with grpclb as workaround for the missing name resolution feature in C# (see #19874 and #11879).
We plan to switch

[2021-03-09 14:15] tdhintz opened #25658 "Documentation for plain SSL using C#?"
I want to create a TLS connection to a service with no authentication and I can't find an example.

           ` Channel = new Channel("localhost:443", new SslCredentials());`

Results in:

[code]

[2021-03-09 14:39] #25652 closed

[2021-03-09 15:16] tdhintz commented on #25658
https://github.com/grpc/grpc/issues/8978

[2021-03-09 18:42] jtattermusch commented on #25654
@apolcyn  can you take a look?

[2021-03-09 19:32] apolcyn commented on #25654
Nothing conclusive, but one PR that could have been related to this is https://github.com/grpc/grpc/pull/25105

[2021-03-09 20:28] markdroth opened #25660 "INTEROP FAILURE: tests.build_docker_http2"
https://source.cloud.google.com/results/invocations/91f15974-ea61-49c2-bda9-94cd9db41245/targets/github%2Fgrpc%2Finterop_docker_build/tests

[code]

[2021-03-09 20:33] Falco20019 commented on #25654
@apolcyn If it would help, feel free to tell me what other trace endpoints to add to `GRPC_TRACE` and I will gladly supply you with the according logs.

[2021-03-09 21:24] gnossen opened #25662 "Ruby Segfaults in Test"
[code]

https://source.cloud.google.com/results/invocations/33c2b58e-4dc9-4443-aa98-aa26cc7f2dc3/log

[2021-03-09 21:27] gnossen opened #25663 "//src/python/grpcio_tests/tests_aio/unit:secure_call_test Test Failure"
It's not actually clear from [the test log](https://source.cloud.google.com/results/invocations/c4e8759f-1bcc-470e-b770-15df71f9767e/log) what failed. This could be a test runner problem or a Python interpreter shutdown problem.

[2021-03-09 21:27] stanley-cheung commented on #25662
@apolcyn Should we have @HannahShiSFB look into this?

[2021-03-09 22:19] danielywong commented on #25626
Thanks, Mark and Sanjay.  "general-purpose mechanism for any metrics" definitely sounds like the way to go for long term.
 Meanwhile, do you have any suggest for gRPC to provide applications visibility on authentication and authorization failures specifically?  Callback function?  Syslog option?  (yeah, I can see callback causing threading/blocking issue and syslog has privacy concerns)

[2021-03-09 22:26] markdroth commented on #25626
The only way we have to export this information today is in the RPC status error messages.  We could do a better job at that, as per #22883.  But even once that's fixed, it won't really help if what you're after is programmatic access to detailed metrics.

I'm sorry we don't have a solution to offer you here.

[2021-03-09 22:34] danielywong commented on #25626
Thanks again, Mark.  I totally understand this is a priority call.

Just to make sure I understand your reply ... even when #22883 got fixed, only client applications will get the improved status error while the server applications still have no knowledge of the rejected accesses, right?

[2021-03-09 22:37] jiangtaoli2016 commented on #25626
OSS gRPC is a library. It is hard to provide generic logging. At best, it can provide some audit pluggin.
Take Istio example, there is [stackdriver plugin](https://istio.io/latest/docs/reference/config/proxy_extensions/stackdriver/) for auditing log. It is optional and only works for GCP.

@markdroth We may consider add such optional audit plugin in the future similar to Envoy/Istio.

[2021-03-09 22:58] markdroth commented on #25626
@danielywong Correct, the RPC statuses are only for the client, not for the server.

@srini100 We should consider this use-case as we invest more in observability architecture.

[2021-03-10 10:11] #24498 closed

[2021-03-10 11:00] NielsKSchjoedt opened #25669 "Failed to build gem native extension using bundler: No rule to make target .../src/ruby/ext/grpc/objs/opt/third_party/zlib/adler32.o, needed by .../src/ruby/ext/grpc/libs/opt/libz.a"
### What version of gRPC and what language are you using?
ruby 2.7.2: 1.37.0.dev

(gem: 'grpc', github: 'grpc/grpc')

### What operating system (Linux, Windows,...) and version?
OSx Bigsur 11.2.3 on M1 arm64

### What runtime / compiler are you using (e.g. python version or version of gcc)

Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/

[2021-03-10 13:15] Muratcol opened #25671 "PHP Plugin installation Error"
Hello!

I'm trying to follow instructions from this [link](https://github.com/grpc/grpc/tree/master/src/php#build-from-source). I cloned gRPC v1.36.2 and after several hours I'm stuck at the `grpc_php_plugin` installation. So started searching for a solution, I found a similar problem in GitHub issue. And the solution was this:

[code]

I followed the steps and I installed `grpc_php_plugin`

But w

[2021-03-10 17:50] drfloob commented on #25671
Hi @Muratcol. Unfortunately this isn't the right forum for your question. The "new issue" form asks users not to post questions as github issues, so please follow the instructions and use the channels mentioned below to ask questions.

[2021-03-10 17:50] #25671 closed

[2021-03-10 17:54] drfloob commented on #25669
Thanks for the repro instructions, that's helpful! I'm not terribly familiar with our Ruby install, @apolcyn can you take a look at this one?

[2021-03-10 17:58] apolcyn commented on #25669
My guess is the zlib git submodule (and probably also all other git submodules of grpc/grpc), weren't cloned while cloning https://github.com/grpc/grpc.git.

This would mean that `third_party/zlib` and other submodule directories wouldn't existing under the cloned grpc repo - that could cause something like this.

[2021-03-10 18:32] apolcyn commented on #25654
I think https://github.com/grpc/grpc/pull/25672 should fix this

[2021-03-10 18:46] dfawley commented on #25626
Channelz?  This seems like something that could fit in there.

[2021-03-10 18:47] apolcyn opened #25674 "c-ares read callback should check ARES_GETSOCK_READABLE on the socket"
Noticed this while looking at https://github.com/grpc/grpc/issues/25654.

The c-ares [read loop](https://github.com/grpc/grpc/blob/8d95aad50cffbb5742406a5124f5ba79ab60f280/src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc#L358) currently assumes that a read-notified socket will continue to be of interest to the c-ares library so long it still contains readable data. Whil

[2021-03-10 18:56] lidizheng opened #25675 "[Flake] py38_gevent.test.unit._dynamic_stubs_test.DynamicStubTest"
[code]

https://source.cloud.google.com/results/invocations/ce4f9f1e-7fe1-4ebd-8ebf-3a65b3f96283/targets/github%2Fgrpc%2Frun_tests%2Fpython_macos_opt_gevent%2Fpy38_gevent.test.unit._dynamic_stubs_test.DynamicStubTest/tests

[2021-03-10 19:36] Falco20019 commented on #25654
Just let me know when there is a nightly build to check and I will give you feedback

[2021-03-10 20:14] vharron commented on #21773
This is hard to believe. I root caused this issue to a wired ethernet adapter I was using. wifi and two other wired ethernet adapters worked.

Note that ethernet adapter seemed to work fine otherwise. The git clone worked fine from the command line, the issue only surfaced when ruby Process.spawn executed it!

[2021-03-10 20:40] yashykt commented on #25020
@jairaju Please verify whether the issue persists at head

[2021-03-10 21:51] markdroth commented on #25626
It is possible that we could expose some of the channel-level metrics on channelz.  But I don't think we'd want to do that for call-level data, so this would cover (e.g.) mTLS handshake results but not call-level authz policy results.

Also, depending on the use-case, channelz may not be as easy to get the data out to other systems as something like OpenTelemetry.  I think we'll have to see how th

[2021-03-10 21:56] snehix opened #25677 "how to set TCP_USER_TIMEOUT from GRPC C++ ?"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-03-10 21:56] dfawley commented on #25626
Agreed.  The three things listed in the initial comment are all pretty different things.  The last one isn't even a metric, per se.

I also wanted to mention: in Go and Java, some of these things may be feasible for the user to extract themselves right now by using a custom transport/channel creds plugin.

cc @ejona86

[2021-03-10 22:03] ejona86 commented on #25626
1) In Java and Go, authz failures could be counted by the application via an interceptor since the authz code is an interceptor itself.
2) In Java, authn failures could be counted by the application by implementing a TrustManager that delegates to their real TrustManager, maybe using the Advanced TLS APIs. In Go, authn failures may be harder; it looks like you may need to use InsecureSkipVerify al

[2021-03-10 22:17] tdhintz commented on #25257
I'm abandoning the project.

[2021-03-10 23:14] apolcyn opened #25679 "Failed: build_docker_http2"
Bottom of the log:

[code]

Seen in: https://github.com/grpc/grpc/pull/25672

[2021-03-10 23:34] NielsKSchjoedt commented on #25669
@apolcyn hmm, then question is, will that get resolved when you release the gem next time or is it going to be the same thing? Apparently adding the installing the gem from the GitHub master using bundler is not supported...

[2021-03-11 00:26] apolcyn commented on #25654
https://github.com/grpc/grpc/pull/25672 was just merged, so I want to say it should be in the next nightly packages

[2021-03-11 00:28] apolcyn commented on #25669
The published packages include all necessary source files, so it's not an issue there.

For pulling directly from github, you might need something like `:submodules => true`

[2021-03-11 00:43] #25677 closed

[2021-03-11 00:44] alexhcheng opened #25682 "[C#] server sending responseheader in unary call not received by the client until the whole response is returned"
### What version of gRPC and what language are you using?
2.26

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet 3.1

### What did you do?
Client
1. makes a unary request to the server.
2. call await response.ResponseHeaderAsync
3. call await response.ResponseAsync

Server
1. call await Write

[2021-03-11 02:08] jairaju commented on #25020
@yashykt . I am unable to compile c++ code with the head as it asks for Bazel build which i have not done so far.
I wanted to share our environment with bit more details

In our paltform we support multiple client engines that interact with google servers(ex: dialogflow CX)
each such engine is loaded with a shared object that links grpc code individually but they all run under the same process and

[2021-03-11 02:48] Frankie0701 commented on #25020
Hi @yashykt ,

I am team member of @judywangsg , we recently upgraded to v1.36.x, the issue still happens.

`#1  <signal handler called>`
`#2  0x00007ffff093b3d7 in raise () from /usr/lib64/libc.so.6`
`#3  0x00007ffff093cac8 in abort () from /usr/lib64/libc.so.6`
`#4  0x00007fffb958e385 in grpc_core::ResolverRegistry::AddDefaultPrefixIfNeeded(char const*) () from /opt/tbricks/persistence/a6cda586-

[2021-03-11 03:14] Frankie0701 opened #25685 "gRPC threads hang after ClientReaderWriter calls Finish()"
### What version of gRPC and what language are you using?
grpc 1.36 c++

### What operating system (Linux, Windows,...) and version?
Oracle Linux Server (version 7.5)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 8.2.0

### What did you do?
We're using grpc to communicate between two parties (java on server and c++ on client). On the client application, com

[2021-03-11 04:22] davisduong opened #25686 "Custom status return with ServerContext TryCancel"
I am currently using TryCancel to stop a reader thread I have on a grpc server but it returns a default status (GRPC_STATUS_CANCELLED, "Cancelled on the server side").

Is there anyway to send a custom status to the client?

Im doing this in C++

[2021-03-11 04:29] yashykt commented on #25020
I'll do a bit of an explanation on how we expect `grpc_init` to be called normally.

gRPC C++'s classes like `grpc::ChannelCredentials` derive from `grpc::GrpcLibraryCodegen`
https://github.com/grpc/grpc/blob/0937cb1249129a84159c639c59f49a451157edf7/include/grpcpp/security/credentials.h#L69

And within the constructor of `grpc::GrpcLibraryCodegen` we invoke `g_glip->init()` https://github.com/grpc

[2021-03-11 05:47] jairaju commented on #25020
@yashykt the document here says grpc_init() should be called before calling any other functions, so i am calling it in every shared object in the process.

please see below

https://grpc.github.io/grpc/core/grpc_8h.html#a573aed8e200997856a227c7eb798a185

====snippet==========
Initialize the grpc library.

After it's called, a matching invocation to grpc_shutdown() is expected.

It is not safe to c

[2021-03-11 05:57] Falco20019 commented on #25654
It seems that https://packages.grpc.io/ is not really daily/nightly anymore. There are gaps of up to 20 days in the timestamps although there were new commits on master in the gapped time.

Is there an ETA for when the next one should be build? I would expect around `2021-03-11T06:00:00-0800`? I will give it a look in 7 hours.

[2021-03-11 07:21] YuFengxin229 opened #25688 "assert in check_ssl_ctx_x509_method when using TlsCredentialsOptions to reload server certificate"
### What version of gRPC and what language are you using?
C++: 1.31.1

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### What did you do?
I want to reload server credentical through TlsCredentialsOptions.

[code]

The reload interface:
[code]
### What did you expect to see?
Server certificat

[2021-03-11 08:32] NielsKSchjoedt commented on #25669
@apolcyn 🎉 the `submodules: true` on the gem definition (`gem 'grpc', github: 'grpc/grpc', submodules: true`) did the trick! Now finally it works! I was not aware of that functionality with bundler 🤯. Thanks again! I think you can close issue. Maybe add a comment in the README on checking out edge from Github.

[2021-03-11 11:59] Falco20019 commented on #25210
@drfloob I wanted to have a nightly build for #25654 and saw that it's still pretty spotty. Only 2 out of 10 days in March generated builds, but there were also new commits every day (besides March 7th). Even on those days, I would have expected to be a build for the same commit, like to be seen with `2021-02-28` and `2021-03-01`. So you might want to reopen this and have another look. I can also

[2021-03-11 14:17] Falco20019 commented on #25654
I just tried it with the nightly build `2.37.0-dev202103111258` and it seems to fix the problem. Thanks for the quick support.

[2021-03-11 14:18] j0hnsmith commented on #23098
Since this ranks on google... the keepalive params (and all the other) are listed on https://github.com/grpc/grpc/blob/v1.36.x/include/grpc/impl/codegen/grpc_types.h

Pass options into the channel as an array, eg

[code]

[2021-03-11 17:24] drfloob commented on #25682
It might be worth seeing if you could reproduce this with a more recent gRPC version. v2.26 was released in 2019. Some of the [ResponseHeaderAsync tests](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core.Tests/ResponseHeadersTest.cs#L65-L81) might be informative for you here as well, they exercise this behavior. I'm not sure we're looking at a bug here, this might be a better question

[2021-03-11 17:38] drfloob commented on #25686
Hi @davisduong. The "new issue" form clearly asks users not to post questions as github issues. This falls under the category of "general questions". Next time please follow the instructions and use the channels mentioned below to ask questions. The issue template states:

[2021-03-11 17:38] #25686 closed

[2021-03-11 18:28] veblush commented on #24960
I'm trying to understand what's needed specifically to prevent the previous bug. I like to know **what test** could've run on **what environment**. Is there any existing unit test to run for this purpose? Also if we managed to run some test for this, if client and server are using the same OpenSSL 1.0 which doesn't support TLS1.3, would it run into the error? Does it need an environment where the

[2021-03-11 18:48] matthewstevenson88 commented on #24960
Thanks for looking into this Esun! The specific failure that was fixed by #24995 would have definitely been caught by an interop test where e.g. the client is using LibreSSL and the server is using a newer OpenSSL version. Here, client/server should be interchangeable, it would have been caught if the client was using the new OpenSSL version and the server was using LibreSSL, I think.

If the clie

[2021-03-11 19:20] drfloob commented on #25210
Thanks @Falco20019, it is a known problem. Our nightly artifact builds have been timing out due to gRPC's growth in the past few months. I'll see about increasing the build timeouts as a stopgap measure, but we'll need to find a more sustainable solution. Apologies for the inconvenience.

[2021-03-11 23:09] markdroth commented on #25679
Duplicate of #25660.

[2021-03-11 23:09] #25679 closed

[2021-03-12 01:18] bbuchalter opened #25698 "make: *** No rule to make target /src/ruby/ext/grpc/objs/opt/third_party/zlib/adler32.o"
### What version of gRPC and what language are you using?
gRPC version: `HEAD`
Language: Ruby

### What operating system (Linux, Windows,...) and version?
macOS 11.2.1 (w/ Apple Silicon)

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Created a [simple Ruby gem](https://github.com/bbuchalter/test-grpc/blob/main/Gemfile#L8) that had a

[2021-03-12 03:14] veblush commented on #25508
https://github.com/grpc/grpc/pull/25538 is in progress to address this.

[2021-03-12 03:22] Frankie0701 commented on #25020
@yashykt I followed BUILDING.md, and choose cmake to build grpc v1.36.
I changed the **grpc/CMakeList.txt** to add these flags, as it's mandatory for our application to run in the engine.
`set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} ${_gRPC_C_CXX_FLAGS} -D_GLIBCXX_USE_CXX11_ABI=0 -fPIC")`
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} ${_gRPC_C_CXX_FLAGS} -D_GLIBCXX_USE_CXX11_ABI=0 -fPIC")`
and it's build with

[2021-03-12 07:47] MadhavanPillai commented on #24390
Facing the same errors while trying to install grpcio on MacOSx.
Already set .
export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1
export GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1

[2021-03-12 12:17] andrekoehler opened #25703 "Client takes two minutes to connect to local host when target is System.Net.Dns.GetHostName()"
### What version of gRPC and what language are you using?
v2.36.1 C#

### What operating system (Linux, Windows,...) and version?
Microsoft Windows [Version 10.0.19042.844]

### What runtime / compiler are you using (e.g. python version or version of gcc)
Tested with .NET Core 2.1, .NET Core 3.1 and .NET 5.0

### What did you do?
Download example from https://github.com/grpc/grpc/tree/master/examp

[2021-03-12 12:57] andrekoehler commented on #25703
This issue occurs on 2 out of 3 of my computers. All of them run Windows 10 v20H2. The computers with the issue have Windows 10 Pro, the laptop where it works has Windows 10 Home.

[2021-03-12 13:19] andrekoehler commented on #25703
This seems to be a DNS timeout. gRPC seems to use a default timeout of 120 seconds: https://github.com/grpc/grpc/blob/d2df99a53da0fd17a75f3ff67ad2ff0f20641dbb/include/grpc/impl/codegen/grpc_types.h#L406-L412

If I change the "grpc.dns_ares_query_timeout" channel option to 2000 (milliseconds), the client only needs two seconds to connect:

[code]

[2021-03-12 16:19] jogc commented on #25136
@lidizheng Just tried with 1.36.1 and it's indeed working as it should now. Out of curiosity, what fixed this? Can't find anything obvious in the changelog.

[2021-03-12 16:19] #25136 closed

[2021-03-12 16:53] andrekoehler commented on #25703
Here is the full log created with a debug build of gRPC:
[log.txt](https://github.com/grpc/grpc/files/6131581/log.txt)

[2021-03-12 17:36] drfloob commented on #25703
Sounds like you found the culprit: nslookup shows you have DNS resolution problems on your network irrespective of gRPC, and gRPC's DNS resolution timeout matches the delay you're seeing. Offhand, I wonder if using the machine's IP address instead of hostname would help your situation. Regardless, this doesn't look like a gRPC bug, and we do try to maintain this space as a place to report bugs and

[2021-03-12 17:36] #25703 closed

[2021-03-12 17:39] andrekoehler commented on #25703
More testing: I changed by DNS servers from my router's DNS server to Google Public DNS servers (8.8.8.8). Now I get a proper "DNS resolution failed for service: Ryzen3950X:30051" for all my computers. So it seems like gRPC is simply not able to resolve Windows host names without a DNS server even though Windows can do it automatically.

[2021-03-12 17:42] drfloob commented on #25698
This looks like a duplicate of https://github.com/grpc/grpc/issues/25669#issuecomment-796563819. Please check to be sure you're initializing the submodules.

[2021-03-12 17:42] #25698 closed

[2021-03-12 18:01] drfloob commented on #25688
@ZhenLian could you take a look at this?

[2021-03-12 19:42] drfloob commented on #25685
Looks like this is duplicate of https://github.com/grpc/grpc/issues/25020, where you and your teammate are also discussing this and related init/shutdown problems. I'll close this in favor of the other.

It might be worthwhile to see if you can create a minimal reproducible example to showcase this problem. Do I understand correctly that you upgraded gRPC _with no other code changes_ on your end,

[2021-03-12 20:24] bbuchalter commented on #25669
After pulling submodules, this was no longer an issue for me.

[2021-03-12 21:51] GMNGeoffrey opened #25709 "Flakey builds due to unmirrored envoy_api dep"
My project https://github.com/google/iree/ has an integration with TensorFlow and therefore must build parts of TF as part of that integration. As part of our build that does so, we've recently been noticing flakiness fetching the `envoy_api` http_archive. Now setting aside the fact that it's absolutely terrifying to me that our compiler somehow depends on whatever envoyproxy/data-plane-api is, I

[2021-03-13 01:22] drfloob commented on #25709
Thanks for pointing this out! This should be fixed with #25710

[2021-03-13 01:31] GMNGeoffrey commented on #25709
Awesome, thanks!

[2021-03-13 01:37] ZhenLian commented on #25688
Hi, thanks for bringing up the issue. It seems you are using the old version of the certificate reloading API. We redesigned and reimplemented the whole API for that, and the new API is in the latest grpc version. Can you please update to the new version and see if that meets your needs? Please let me know if you have any questions. Thank you so much!
For the design of the new API, feel free to ch

[2021-03-13 03:04] x-yuri opened #25711 "Prebuilt gems doesn't work under Alpine Linux"
### What version of gRPC and what language are you using?
1.36.0, Ruby

### What operating system (Linux, Windows,...) and version?
Alpine Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby 2.7.2

### What did you do?
`a.sh`:

[code]

[code]

### What did you expect to see?
No errors

### What did you see instead?
Errors

### Workaround
[code]

[2021-03-13 03:33] essandess commented on #25434
Here are suggested fixes to this issue at the Apache Arrow jira: https://issues.apache.org/jira/browse/ARROW-11888?focusedCommentId=17300689&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-17300689

[code]

[2021-03-14 11:13] thiensubs commented on #25222
Same error with me here:

[code]

[2021-03-14 15:32] githubkusi commented on #24249
The libatomic detection for python does not work for me on Raspberry with Raspian Bullseye. It did previously work on Buster

    $ python3
    Python 3.9.1+ (default, Feb  8 2021, 22:09:01)
    [GCC 10.2.1 20210110] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home

[2021-03-14 16:39] evanj opened #25713 "Document client keepalive as being potentially dangerous"
It is very easy to screw up gRPC's client keepalive feature. Any disagreement between the client and server results in RPCs failing at unpredictable intervals with `code=Unknown desc=transport is closing`. [GRPC-go's own README calls this](https://github.com/grpc/grpc-go/blob/master/README.md) "hard to debug". Due to this, you must be extremely careful at how you order deploys when you change this

[2021-03-15 02:40] YuFengxin229 commented on #25688
Hi @ZhenLian , thanks a lot for your reply.
Is it possible to fix this issue based on v1.31.1?
Because upgrading the version will take much more effort for us, we just upgraded to this version recently.
Could do you please help to check if my code is correct? What should I do to fix this issue based on v1.31.1?
Thanks a lot again.

[2021-03-15 06:06] Frankie0701 commented on #25685
Hi @drfloob ,
#25020 and this one are not the same issue, that happens during init, and both versions have this issue. While for this ticket, grpc shutdown is fine in v1.21. But now it doesn't, we can see grpc threads hang. This is a new issue due to grpc upgrade.

yes, there is no code change after the upgrade, so we are expecting shutdown works as what is was.
Since our application is not a stan

[2021-03-15 07:03] emisty opened #25715 "how could I use auth policy in istio gateway or traefik, I want to use grpc http2 for the ios app"
when my ios app request the grpc server, and my app user needs to auth their identity first, so I use jwt auth for my server. but in my inner network, （like service mesh）request doesn't want jwt auth. http2 is high-efficiency but grpc seems don't friendly to auth in a service mesh

[2021-03-15 07:11] emisty commented on #25715
when my ios app request the grpc server,  and my app user needs to auth their identity first, so I use jwt auth for my server. but in my inner network, （like service mesh）request doesn't want jwt auth. http2 is high-efficiency but grpc seems don't  friendly to auth in a service mesh

[2021-03-15 16:42] dexterduck commented on #24325
I'd also be interested in a resolution to this. For some reason `grpc.aio.ServicerContext` doesn't inherit from `grpc.aio.RpcContext` while `grpc.ServicerContext` does inherit from `grpc.RpcContext`. Is there some complexity in the Cython implementation preventing this right now?

[2021-03-15 18:37] drfloob commented on #25715
Hi @emisty. The "new issue" form asks users not to post questions as Github issues. Please follow the instructions and use the channels mentioned below to ask questions. For reference, here is the default message that appears when you create a new issue:

[2021-03-15 18:37] #25715 closed

[2021-03-15 18:42] drfloob commented on #25711
Duplicate of https://github.com/grpc/grpc/issues/24116. Alpine Linux isn't actively supported or tested with grpc-ruby.

CC @apolcyn

[2021-03-15 18:42] #25711 closed

[2021-03-15 20:04] lidizheng commented on #24325
Created #25719 to add this method to the async ServicerContext. Sorry for not solving this issue quicker, I was quite busy with other features lately, and this one fell off my radar.

[2021-03-15 20:10] yashykt commented on #25713
Thanks for the detailed write-up and feedback!

Some quick comments -

https://github.com/grpc/grpc/blob/master/doc/keepalive.md is only meant for Core and not for Java and Go, but I do agree that the documentation can be improved.

@dfawley to verify Go's implementation

The rationale for this is documented at https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md#rationale. Als

[2021-03-15 20:19] dfawley commented on #25713
We implement keepalive scaling in Go:

https://github.com/grpc/grpc-go/blob/21976fa3e38a266811384409bc8b25437cc1ff1d/clientconn.go#L1121

[2021-03-15 20:25] githubkusi opened #25720 "undefined symbol: __atomic_exchange_8 on Raspberry Pi"
### What version of gRPC and what language are you using?
1.36.1

### What operating system (Linux, Windows,...) and version?
Raspian Bullseye on Raspberry Pi 4

### What runtime / compiler are you using (e.g. python version or version of gcc)

    $ gcc --version
    gcc (Raspbian 10.2.1-6+rpi1) 10.2.1 20210110

    $ python --version
    Python 3.9.1+

    $ cython --version
    Cython version 0

[2021-03-15 20:54] evanj commented on #25713
Oh thanks! I must have missed the Go implementation, sorry about that (now that I see it: I'm not sure how? I thought I searched the code for `"too_many_pings"` which should have turned that up!

I will admit my familiarity is "inside data center" applications, so this is a bit outside my area of expertise to understand how WAN client application may need to use this. However, it seems to me that

[2021-03-15 21:07] #24325 closed

[2021-03-15 21:12] ejona86 commented on #25713
It definitely seems Go should improve the error message. That would go a long way.

@evanj, this is news to me. Could you provide a reference to that?

Doubtful. Java can enable keepalive, but can't configure it in many situations so it is left with potentially 2 hour time.

Last I saw, Go's keepalive implementation was not all that great for noticing a broken connection, because it uses the same

[2021-03-15 21:13] #25709 closed

[2021-03-15 22:34] dfawley commented on #25713
I believe this would be improved with the fix to https://github.com/grpc/grpc-go/issues/4163.  A user has submitted a PR to address it, but they haven't updated the PR in a long time, unfortunately.  (Our stale bot would have closed it already, but it's not working correctly right now.)

https://golang.org/pkg/net/#Dialer says:

    // KeepAlive specifies the interval between keep-alive
    // pro

[2021-03-15 22:49] ejona86 commented on #25713
:-/ We want keepalive on, but with the OS default. The documentation changed in https://github.com/golang/go/commit/cbf90b0028265a6195257e31a03aae42d402dd64 and the default-on behavior was in https://github.com/golang/go/commit/5bd7e9c54f946eec95d32762e7e9e1222504bfc1. This is quite disappointing, and may be enough for us to argue with go team to improve the keepalive configuration. I mean, I'm ha

[2021-03-15 23:20] evanj opened #25722 "Client keepalive stops sending pings after 2 attempts"
### What version of gRPC and what language are you using?

Python 1.36.1

### What operating system (Linux, Windows,...) and version?

Linux Debian 10.8

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7.3

### What did you do?

1. Configure client keepalives with a very short time `('grpc.keepalive_time_ms', 500)`.
2. Make an RPC to a server that hangs

[2021-03-16 00:04] yashykt commented on #25722
Hi, This is an artifact of how Core deals with communication with certain proxies which restrict how often pings can be sent by clients. This resulted in this channel arg `GRPC_ARG_HTTP2_MAX_PINGS_WITHOUT_DATA`
  "grpc.http2.max_pings_without_data" which controls how many pings can be sent without any data/header frame.

We intend to deprecate this channel arg as soon as we can fix this behavior,

[2021-03-16 01:27] #25722 closed

[2021-03-16 01:40] zengxio opened #25724 "Compilation failure: centos7 + gcc 5.4.0 + protobuf 3.15 + grpc latest"
![image](https://user-images.githubusercontent.com/26474304/111243183-94a58500-863b-11eb-90fe-2a2ae651b38c.png)

[2021-03-16 01:48] drfloob commented on #25685
@veblush We had shutdown race condition issues that were fixed in the past, you might have some other insights here.

@yashykt pinging for visibility, if you discover anything in the other thread that could help here too.

How interesting. I don't see anything obviously wrong with your example code here. If it is a gRPC problem, it might be worth trying to replicate this behavior in your environme

[2021-03-16 04:07] yashykt commented on #25020
My understanding is that you are using C++, and if so, you shouldn't need to call grpc_init()/grpc_shutdown(). The C++ classes are responsible for calling grpc_init/grpc_shutdown.

[2021-03-16 06:00] srunze opened #25725 "PHP client环境无法通过？"
需要使用PHP client
按照步骤安装依赖
$ git clone https://github.com/grpc/grpc
$ cd grpc
$ git submodule update --init
$ make grpc_php_plugin //出错提示 make: *** No rule to make target 'grpc_php_plugin'.  Stop.
grpc包里没有bins/opt目录没有看到相关plugins，这个make grpc_php_plugin的作用是什么呢？

或者
$ make
$ make install //出错提示 Installing via 'make' is no longer supported. Use cmake or bazel instead.

[2021-03-16 06:23] Alyona-E commented on #22555
@apolcyn
I`m able to reproduce this issue by toggling VPN state (on/off). We`re using grpc 1.28.
[grpc_assert_trace.txt](https://github.com/grpc/grpc/files/6146552/grpc_assert_trace.txt)

The issue doesn`t reproduce with the patch provided by @okravets.

[2021-03-16 07:42] daniol commented on #21406
I had the same error but on on the gRPC client.
I have a gRPC client written as a C# DLL (.NET Framework 4.8). I call the DLL methods from a UI program.
Copying the "System.Runtime.CompilerServices.Unsafe.dll" to the output directory did not work. I solved the problem by adding the "System.Runtime.CompilerServices.Unsafe.dll" to the references of the main project (VS: Add reference -> Assemblies -

[2021-03-16 08:01] IMelker commented on #21636
I have the same question.
@slavabulgakov Did you manage to implement it this way?

[2021-03-16 08:27] sanmiguel2019 opened #25727 "Php: Canceled desc = context canceled"
Hello,

I am trying to set up GRPC/PHP to comunicate with [Tinode](https://github.com/tinode) messenger. It works, but the problem is that I only get 1 message from the server and then connection closes.

After each request I see this error on the server:

`E2021/03/15 10:23:35 grpc: recv sxNwJc_UgJ0 rpc error: code = Canceled desc = context canceled`

What I am doing wrong? Is there something wro

[2021-03-16 09:03] jtattermusch commented on #25660
Fixed by https://github.com/grpc/grpc/pull/25707

[2021-03-16 09:03] #25660 closed

[2021-03-16 09:23] jairaju commented on #25020
I have some news about this, If it benefits anybody, it is worth to mention here.
I was looking through other tickets similar to #21471 and found that when somebody has my kind of environment with multiple shared object under the same process, it is good to keep a single copy of all the grpc libraries.

I build each individual library such as grpcpp_channelz, grpc++, grpc and gpr that were require

[2021-03-16 09:45] githubkusi commented on #25720
As an ugly workaround, the setup.py can be forced to always include libatomic (worked for my case, but is not a solution of course)

    diff --git a/setup.py b/setup.py
    index edbafe7654..fa6b937904 100644
    --- a/setup.py
    +++ b/setup.py
    @@ -169,6 +169,7 @@ ENABLE_DOCUMENTATION_BUILD = os.environ.get(

    def check_linker_need_libatomic():
    +    return True
         """Test if li

[2021-03-16 12:31] evanj commented on #25722
Thanks for the rapid response! I think this is even more argument that client keepalive in gRPC needs to be documented as dangerous and/or very complicated to configure. This was absolutely NOT clear to me on my first read of the linked document, especially since it says "The above two channel arguments should be sufficient for most users". That is *not* true if you actually need keepalive to do i

[2021-03-16 13:01] evanj commented on #25713
Interesting. It turns out that the C implementation will currently only send 2 keep alive pings. This is apparently a known issue due to "communication with certain proxies which restrict how often pings can be sent by clients" ... which is exactly the problem, from *gRPC itself*, as I discovered (see https://github.com/grpc/grpc/issues/25722).

This again suggests all these keepalive options at l

[2021-03-16 17:32] yashykt commented on #25722
Thanks for the suggestion! Created https://github.com/grpc/grpc/pull/25730 to update the document

[2021-03-16 17:34] yashykt commented on #25713
Thanks for the feedback, @evanj ! #25730 updates the doc

[2021-03-16 17:42] muzammil360 commented on #24026
I was trying to install yolov5 on xavier NX. I was about to downgrade when installation completed successfully on its own. Using
docker `nvcr.io/nvidia/l4t-pytorch:r32.5.0-pth1.7-py3` on `r32.5.1`

[2021-03-16 17:52] dfawley commented on #25713
I don't understand this.

If the problem is "certain proxies which restrict how often pings can be sent by clients", then what do you intend to change when you say "We intend to deprecate this channel arg as soon as we can fix this behavior"?  What behavior will you fix?

[2021-03-16 18:31] yashykt commented on #25713
The idea is that we could either convince the folks working on said proxies to not have such restrictions or Core could do things similar to how Go operates right now where it sends a window update frame before it sends a BDP ping.

[2021-03-16 18:31] #23205 closed

[2021-03-16 22:42] apolcyn opened #25737 "build_docker_aspnetcore failure"
Bottom of the log:

[code]

https://source.cloud.google.com/results/invocations/9c13291d-8aea-4d7b-ae02-fdc58d6fd063/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

Seen in PR: https://github.com/grpc/grpc/pull/25726

[2021-03-16 22:48] ZhenLian commented on #25688
If it is a requirement to stay at version v1.31.1, it's better to not rely on that API.  That old APIs are experimental, and we haven't done thorough tests for them, so it's very hard to tell whether something wrong with the gRPC code itself, or the usage of that API. The new API looks very different than the old ones, so unless you can be sure that a newer version of gRPC is never needed, I highl

[2021-03-16 23:51] ejona86 commented on #25713
I'll note that the proxy that didn't reset the ping counter based on time (the source for the 'max 2' code in C core) does reset the ping counter periodically now (because that code caused lots of non-gRPC connections to get killed).

[2021-03-17 05:58] YuFengxin229 commented on #25688
Hi @ZhenLian, Thanks.
We tried to upgrade grpc to v1.35.0 which support the new API. But I still got similar crash.

[code]

Below is my code based on new API.
[code]
Does this API has any limitation about the certificate format?
Below is my certificate path.
[code]

[2021-03-17 07:18] geoffcline commented on #25713
Is anyone working on a PR to address this in the docs yet?

[2021-03-17 08:19] mgravell opened #25740 "[C#] suggest populating `.InnerException` on `RpcException`"
Currently, underlying exceptions behind `RpcException` are exposed in a non-idiomatic way, via the optional `.Status.DebugException`. This is very unusual, and means:

- no standard logging etc tooling will know to look for it
- most developers won't find it

Proposal: automatically populate `.InnerException` (the optional, expected API), when possible. This should be as simple as:

[code]

(I'm h

[2021-03-17 10:15] jtattermusch commented on #24531
This can be considered fixed due to https://github.com/grpc/grpc/pull/24766 and https://github.com/grpc/grpc/pull/24378

[2021-03-17 10:15] #24531 closed

[2021-03-17 10:25] jtattermusch commented on #25654
Looks like this is fixed by #25672.

[2021-03-17 10:25] #25654 closed

[2021-03-17 13:00] MatheoDumont opened #25742 "Core dumped with grpc::InsecureServerCredentials()"
### What version of gRPC and what language are you using?
CPP grpc version = 1.36.1

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++ 7.5

### What did you do?
I've run this elsewhere to test and it works, but, in a bigger project to start the rpc server i get a core dumped with this main

[2021-03-17 17:42] ZhenLian commented on #25688
No, the PEM format should be fine. It seems the server failed to load the certs at the construction time. We have test covering this: https://github.com/grpc/grpc/blob/master/test/cpp/server/credentials_test.cc.
Can you please manually copy-and-paste the test credentials used by the above tests(in https://github.com/grpc/grpc/tree/master/src/core/tsi/test_creds), to see if it could work with the t

[2021-03-17 17:53] apolcyn commented on #22555
Thank you all for the great info! I've merged the mentioned patch as #25726

[2021-03-17 19:04] #25425 closed

[2021-03-17 20:40] apolcyn opened #25748 "C# build flake: failure to fetch dotnet SDK on Windows"
Log snippet:

[code]

From https://source.cloud.google.com/results/invocations/d1bd4a27-7c25-4dba-9cdc-aa16010a9f72/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_csharp/log

Seen in https://github.com/grpc/grpc/pull/25108

[2021-03-17 20:41] apolcyn commented on #25669
Thanks for confirming -- to summarize, the solution here is to make sure that submodules are pulled down along with the grpc repo, when fetching sources from github

[2021-03-17 20:41] #25669 closed

[2021-03-17 20:43] apolcyn opened #25749 "Python windows build flake: "rsync error: some files/attrs were not transferred""
Bottom of the log:

[code]

https://source.cloud.google.com/results/invocations/dc45fb8d-c1a9-4175-bd3e-592a6f9f55f3/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_python/log

Seen in https://github.com/grpc/grpc/pull/25108

[2021-03-17 20:45] apolcyn opened #25750 "Windows build flake: "Failed to connect to github.com port 443: Timed ou"t -- for multiple submodules"

[2021-03-17 20:46] apolcyn opened #25751 "Windows build flake: "Failed to connect to github.com port 443: Timed out" for multiple submodules"
[code]

https://source.cloud.google.com/results/invocations/0bfbf35a-fc67-4be9-b521-cfde6182f2c5/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_portability_build_only/log

Seen in https://github.com/grpc/grpc/pull/25108

[2021-03-17 21:15] hungptit opened #25752 "gRPCTargets.cmake and gRPCTargets-noconfig.cmake files are missing when intalling grpc using CMake FetchContent in Linux"
### What version of gRPC and what language are you using?

The mater branch of grpc.

### What operating system (Linux, Windows,...) and version?

Linux CentOS 7 kernel 3.10.0-1127.19.1.el7.x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)

clang (clang version 13.0.0 (https://github.com/llvm/llvm-project.git 14da287e18846ea86e45b421dc47f78ecc5aa7cb))

### W

[2021-03-17 21:49] hungptit commented on #25752
I also see the same issue in macOS and Windows

**Windows**

[code]

**macOS**
ls lib/cmake/grpc/
gRPCConfig.cmake        gRPCConfigVersion.cmake modules
[code]
param (
    [Parameter(Mandatory=$true)][ValidateSet('Release', 'Debug')]$config
)

& 'C:\Program Files\CMake\bin\cmake.exe' -G "Visual Studio 14 2015" -A x64 $grpc_path -DCMAKE_INSTALL_PREFIX="$PWD"
& 'C:\Program Files\CMake\bin\cmake.exe

[2021-03-17 21:52] lidizheng commented on #25724
Can you provide the gRPC version you are using? And update the submodules?

[code]

[2021-03-17 21:57] kibblewhite commented on #23340
Hello, Same here, experiencing the same issue on PHP. My client bombs out with:
ERROR: 14, Empty update

Following the trace and looking up the errors I'm receiving are the same/matches those who are experiencing the same in this thread also.

[2021-03-18 02:08] zengxio commented on #25724
v1.36.3

[2021-03-18 02:09] zengxio commented on #25724
这个命令是更新第三方库的。已经执行过。

[2021-03-18 03:13] veblush commented on #25685
One thing that looks really strange to me is

[code]

How come it use both `absl::lts_2020_02_25` and `absl::lts_2020_09_23`? It should one of them exclusively.

[2021-03-18 04:02] Frankie0701 commented on #25685
Good catch, we learned that the system which our application runs on is also using absl, looks like that should be the root cause. Thanks for the help!

[2021-03-18 07:47] HppZ commented on #18188
any update?

[2021-03-18 09:00] bouk opened #25755 "grpc-tools build missing for arm64 macOS"
It's not possible to use grpc-tools on M1 macs right now, because there's no binary distribution of the Ruby gRPC compiler being shipped. Something will have to be done on the internal artifact build side to make this happen.

[2021-03-18 09:29] jtattermusch commented on #25755
we currently don't provide support for the arm64 M1 macs, since we have no hardware to test on. For now, you need to use rosetta emulation to run on the new arm64 macs.
We might add this support at some point, but there is no ETA.

[2021-03-18 11:04] jtattermusch commented on #19898
Seems state now.

[2021-03-18 11:04] #19898 closed

[2021-03-18 11:06] vishnu3649m commented on #22551
Hi! I encountered the same issue when unit testing my service like so:

[code]

The segfault occurs at the exact same place reported by @rainerillichmann because of this in `include/grpcpp/impl/codegen/metadata_map.h` line 84:
[code]
When `MetadataMap` is destroyed, it is attempting to access the global instance `g_core_codegen_interface` which is only initialized when a server is built and starte

[2021-03-18 11:09] jtattermusch commented on #24654
Closing as things are working as intended.  `tools/buildgen/generate_projects.sh` only needs to be run by contributors (you don't need it to build from source) and if you're contributing to grpc, running `git submodule update --init` doesn't seem like much to ask ;-).

[2021-03-18 11:09] #24654 closed

[2021-03-18 11:11] jtattermusch commented on #25360
Seems basically a dupe of https://github.com/grpc/grpc/issues/25737 (and you don't provide a failure link so it's impossible to inspect more in detail).

[2021-03-18 11:11] #25360 closed

[2021-03-18 11:29] jtattermusch commented on #25579
I don't think it's standard for opensource projects to provide full bundle archive that includes all the dependencies. We do provide bundle with gRPC's code (that's generated automatically for every release).
We actually do provide packages for most languages that do have a standard package-manager solution (e.g. C#, python, Java, ruby, ..) and for those you don't need to touch github at all.

For

[2021-03-18 11:29] #25579 closed

[2021-03-18 11:34] bouk commented on #25755
@jtattermusch I made a PR so the x86_64 binary gets picked up at least: https://github.com/grpc/grpc/pull/25756

[2021-03-18 11:38] jtattermusch commented on #23686
This is now possible by using https://github.com/grpc/grpc/pull/25374

[2021-03-18 11:38] #23686 closed

[2021-03-18 11:39] jtattermusch commented on #24698
I'm closing this since there seems to be no progress on this. If someone wants to address this in the future, we can reopen.

[2021-03-18 11:39] #24698 closed

[2021-03-18 11:46] jtattermusch commented on #23583
This PR https://github.com/grpc/grpc/pull/22869 has revamped the way files outside of project path are handled as part of another fix.
Since there is no reproduction, I'm going to assume that this problem is fixed by that PR (see that's PR thread where it mentions "ProtoRoot")

[2021-03-18 11:46] #23583 closed

[2021-03-18 13:41] YuFengxin229 commented on #25688
I notice that there is no certificate chain in all these test credentials, and my server certificate is a certificate chain including an Intermediate CA cert and a root CA cert. Have you ever tested with a certificate chain?

[2021-03-18 14:25] AdamCraven commented on #24677
In the end on the Mac I went with tf-nightly (https://www.tensorflow.org/install). grpcio 1.32.0 bundled with tensorflow 2.4.1 is hard to get working on Big Sur.

[2021-03-18 15:54] ZhenLian commented on #25688
We didn't treat a single cert and a certificate chain differently - we pass them down to OpenSSL and uses OpenSSL to load these certs. There are currently no tests covering this, but adding them is easy. After removing your intermediate certs, does the issue go away?
BTW, can you please turn on the full log mode by turning on `GRPC_TRACE=all , GRPC_VERBOSITY=debug`? That might help debug as well.

[2021-03-18 19:15] veblush commented on #22551
@vishnu3649m Thank you for the detailed information. I think your change would be dangerous by having memory_leak  so initializing `g_core_codegen_interface` would be the right way to address it. Can you cherry-pick #25759 to see if it's actually working for you?

[2021-03-18 19:21] veblush commented on #24960
@matthewstevenson88 Thank you for detailed information! I briefly checked the current test harness and it doesn't seem easy to add new tests like that. (One of difficulty is that our interop test is using bazel build which supports boringssl only) So one of the simplest solution is adding portability test using old version of openssl (e.g. 1.0) and running unittests and e2e tests you mentioned. Do

[2021-03-18 20:07] matthewstevenson88 commented on #24960
Yes, that would be super helpful! Thanks Esun! Once that's done, let me know and, if needed, I can add variants of the unit tests and e2e tests to make sure we're getting good coverage of the codepaths that depend on the OpenSSL version.

Also, if the interop tests in my previous comment are not feasible, is it possible to add a portability test using LibreSSL (the most recent version)?

I don't k