[2020-03-18 20:00] #22408 closed

[2020-03-18 20:05] gnossen opened #22409 "Basic Tests C# MacOS Timeout (Aborting VM command due to timeout of 3600 seconds)"
https://source.cloud.google.com/results/invocations/04b83495-3198-4f75-8e64-fb7c9852c98f/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_csharp/log

[2020-03-18 20:07] gnossen commented on #22341
[Very similar failure in //test/core/end2end:h2_census_test@request_with_payload[darwin-dbg].](https://source.cloud.google.com/results/invocations/6e92a410-3452-4cf5-9bd6-9c00b463535d/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_census_test@request_with_payload/log)

[2020-03-18 20:30] lidizheng opened #22411 "[FLAKE] test/core/iomgr/tcp_server_posix_test.test/core/iomgr/tcp_server_posix_test"
Bazel C/C++ Opt MacOS
[code]
https://source.cloud.google.com/results/invocations/2e44eac7-811a-45b2-9550-a7a6019f6926/targets/%2F%2Ftest%2Fcore%2Fiomgr:tcp_server_posix_test/tests

[2020-03-18 22:25] gnossen commented on #18430
I'm seeing this on the `1.28` branch. @muxi Is this something I should be worried about?

[2020-03-18 22:26] muxi commented on #18430
Could you paste the link?

[2020-03-18 22:28] gnossen commented on #18430
https://source.cloud.google.com/results/invocations/7da1c587-87c8-40e4-86f1-c0b586e8a7b8/log

Sorry about that.

Relevant line is

[code]

Similar to what @apolcyn posted above.

[2020-03-18 22:37] muxi commented on #18430
I don't think it is something to block the release. Very likely to be another infra craziness I need to deal with.

[2020-03-19 05:47] xiaoxiaoxiao-s commented on #19430
这个问题是什么原因造成的，有解决方案了吗？

[2020-03-19 08:19] sumsarj commented on #22318
From my investigation of the completion_queue, it does FIFO push/pull operations to the queue. So is perhaps the unfairness on a deeper level, say the reading/writing of a socket? Where writing on a socket can get priority over reading from another?

[2020-03-19 08:32] sumsarj commented on #22318
I may also add that I use NEXT completion_type and the ordinary Next() operation on the completion_queue.

[2020-03-19 08:44] stanley-cheung commented on #21321
Update: we were working on a PR #21832 that may fix this issue. But the fix is quite involved and the C core team is expressing concern about one API we suggest to introduce. Due to the complexity of understanding the fix in details, there's a delay. Fork() also complicates things a little bit - it's unclear at this point whether the original fork() support (which was first introduced in Python) h

[2020-03-19 10:07] teiserse commented on #20831
I have the same issue here with grpcio==1.27.2

[2020-03-19 10:29] ahtik commented on #20831
@teiserse @freebiesoft Both 1.26.0rc1 and 1.27.2 work fine.
Make sure you have python 3.8 64-bit/amd64 installed.

The following works:
[code]

[2020-03-19 10:43] teiserse commented on #20831
[code]

[2020-03-19 10:52] ahtik commented on #20831
@teiserse What do you get from `python -VV` ?

[2020-03-19 10:54] teiserse commented on #20831
[code]

[2020-03-19 11:12] ahtik commented on #20831
@teiserse I can only think of trying `pip install --no-cache-dir grpcio==1.27.2` and then out of ideas... For me it downloads `grpcio-1.27.2-cp38-cp38-win_amd64.whl`.

[2020-03-19 14:19] sachabarber opened #22417 "Grpc.tools not working"
So I cloned the repo today, and tried the C# examples HelloWorld. It worked fine. So I then modified the HelloWorld.proto, did a clean and rebuild, and the GpcTools failed to generate any new C# output files, and both the Client/Server projects failed.

This issue is reported here : https://github.com/grpc/grpc/issues/18625

I don't know that was closed I could repeat this straight away on Windows

[2020-03-19 16:09] BusyJay opened #22418 "Any plan to support opencensus in grpc c core?"
### Is your feature request related to a problem? Please describe.
There is a census.h in c library that allow user to set a census_context to a call. But there is no way to construct a census_context. And as far as I can see, opencensus are mainly maintained in the cpp land. Do you have any plan to support opencensus inside the grpc c core?

### Describe the solution you'd like
Support opencensus

[2020-03-19 16:50] veblush opened #22419 "Update C++ Build Documentation"
It appears that our build documentation needs an update to be more explicit and straightforward. Although gRPC build with both cmake and bazel works, those might be challenging not to make mistakes here and there, which could be frustrating.

### Cmake
Since a make build is being deprecated, we need to have a detailed section for installing gRPC with cmake. gRPC supports various ways to be consume

[2020-03-19 17:47] lidizheng commented on #20831
@teiserse Can you try to install the wheel directly? The link is https://files.pythonhosted.org/packages/01/4e/40a0e2f4cd32f5af47898406d6063262a31630e513ce31720fd6e31da6cd/grpcio-1.27.2-cp27-cp27m-win_amd64.whl.
[code]

[2020-03-19 18:00] ahtik commented on #20831
@lidizheng @teiserse The link above is possibly for Python 2.7, for 3.8 try with ```pip install -U grpcio-1.27.2-cp38-cp38-win_amd64.whl``` from https://files.pythonhosted.org/packages/6b/f4/6c803eae7dbcebf2ae47d36759eb2942f448eeb8b24f4be5a94a21e85360/grpcio-1.27.2-cp38-cp38-win_amd64.whl :)

[2020-03-19 19:57] MhdAna opened #22422 "Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Name resolution failure)"
I start to use Grpc framework to achieve some communication between Client/Server but i got this Exception :

Grpc.Core.RpcException: 'Status(StatusCode=Unavailable, Detail="Name resolution failure)'

**As i understand the client is not able to connect to the server for some reason.**

**Can anybody give me any Idea what is going wrong? why i am not able to connect to Server?**

### What version o

[2020-03-19 21:53] #22302 closed

[2020-03-19 21:53] #20532 closed

[2020-03-20 06:11] apolcyn opened #22428 "FLAKE: macos //test/core/end2end:h2_http_proxy_test@ping"
[code]

https://source.cloud.google.com/results/invocations/558a5cb0-feca-44c1-aa33-a416de511564/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@ping/log

seen in PR: https://github.com/grpc/grpc/pull/22410

[2020-03-20 06:20] #22391 closed

[2020-03-20 11:13] DaniGuardiola commented on #6722
Stumbled upon this issue in the Python library while trying to use secp256k1. Tried to switch to P-256 (prime256v1) and it still doesn't work. We're pretty much stuck. Help? :)

[2020-03-20 11:44] ksophocleous commented on #21974
@markdroth probably Jan didn't get notified due to the missing @ mention

[2020-03-20 12:50] adarshraj87 commented on #21773
@AbScott1985 did you managed to find a solution for it ?

[2020-03-20 13:41] stevenwjy opened #22430 "Error when executing bazel build py_grpc_library in MacOS"
### What version of gRPC and what language are you using?
- gRPC v1.27.3
- Python

### What operating system (Linux, Windows,...) and version?
- MacOS 10.15.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
- Bazel 2.2.0

### What did you do?

I tried compiling from `.proto` to the Python version with `py_grpc_library`, but some errors occurred in the process. Fo

[2020-03-20 14:02] JoeStaines opened #22431 "Crash when parameters to grpc_python_plugin are empty"
Sorry for not providing a patch, but haven't yet been approved for contributing. Current implementation of `Split` in `python_generator_helpers` can increment an end iterator leading to a crash.

https://github.com/grpc/grpc/blob/master/src/compiler/python_generator_helpers.h#L142

This should check that the current iterator is less than end (or `!=`) and not `<=`. And `std::find` can  return an e

[2020-03-20 14:12] markdroth commented on #21974
He got notified because I assigned this issue to him.

Jan, can you please respond to the user here?  Thanks!

[2020-03-20 14:26] AbScott1985 commented on #21773
Yes there was a block on my internet so I tried a vpn and it worked so went on the my network and took off the security on my network

Sent from my iPhone

[2020-03-20 14:31] adarshraj87 commented on #21773
Thanks, @AbScott1985 I just figured it out by switching the network, not sure what was issue with network probably something to do with pandemic traffic.

[2020-03-20 14:35] AbScott1985 commented on #21773
I was so annoyed I had changed a lot of my settings and messed around with it so much for it to not be an issue with the app was so angry but at least it is sorted now and I will be checking that first from now on lol glad its sorted x

[2020-03-20 15:02] minhdtb commented on #19983
I got the same issue. How to resolve it?

[2020-03-20 15:21] briceio commented on #19983
After looooong hours I find the solution, not perfect but I guess the only one. Seems like the dependency isn't injected at the right place in the compiled macOS binary.

Once the binary is generated:
- Right click on it with the Finder and select "Display the content of the package"
- Navigate to Contents/Plugins

Here you'll see that **grpc_csharp_ext.bundle** is in the **x86_64** subfolder (Con

[2020-03-20 17:00] sayedihashimi opened #22433 "Build error for asp.net core project consuming a gRPC service on macOS"
When building an asp.net core web app that consumes a gRPC service on macOS you will get the build error below

[code]

This is due to a minor error in the targets file at https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets.

I will send a PR to fix this in a few in.

[2020-03-20 17:14] #22261 closed

[2020-03-20 19:42] Stankye commented on #20831
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]

Ran:

grpcio-1.27.2-cp38-cp38-win_amd64.whl is not a supported wheel on this platform.

And

Collecting grpcio==1.27.2
  Could not find a version that satisfies the requirement grpcio==1.27.2 (from versions: )
No matching distribution found for grpcio==1.27.2

Any other ideas?

[2020-03-20 19:58] ahtik commented on #20831
@Stankye It gets a bit out of scope for the grpc issue tracker, related to the overall package management. It's not clear if this venv was created from scratch, might be worth also trying with `python -m pip install grpcio==1.27.2` to ensure it's the correct `pip`.
Alternatively just experiment with a fresh venv
[code]

[2020-03-20 20:36] pmuetschard opened #22436 "gRPC Build Failure: missing @upb_bazel_version//:bazel_version.bzl"
### What version of gRPC and what language are you using?
1.27.3, any

### What operating system (Linux, Windows,...) and version?
Any.

### What runtime / compiler are you using (e.g. python version or version of gcc)
Any.

### What did you do?
1. Create a new directory, containing the following `WORKSPACE` file:
[code]
2. Run `bazel build @com_github_grpc_grpc//:all`

### What did you expect to

[2020-03-20 20:50] pmuetschard commented on #22436
FYI, this is issue goes all the way back to version 23. With version 22, I can do:
[code]
[code]

[2020-03-21 02:43] #19363 closed

[2020-03-21 10:11] Thalhammer opened #22438 "Client crash when compiled with asan and call unsuccessful"
### What version of gRPC and what language are you using?
Grpc v1.27.3
libprotoc 3.11.4
C++14

### What operating system (Linux, Windows,...) and version?
No LSB modules are available.
Distributor ID:	elementary
Description:	elementary OS 5.1.2 Hera
Release:	5.1.2
Codename:	hera

### What runtime / compiler are you using (e.g. python version or version of gcc)
Gcc version 9.2.1 20191102 (Ubuntu 9.

[2020-03-21 21:36] Badr-essa opened #22439 "Emulator is opened but not linked to my appcode ."
21:56	Emulator: emulator: WARNING: EmulatorService.cpp:448: Cannot find certfile: C:\Users\badr\.android\emulator-grpc.cer security will be disabled.

21:56	Emulator: Started GRPC server at 127.0.0.1:8554

[2020-03-21 22:43] #20219 closed

[2020-03-22 01:28] MhdAna commented on #22422
The issue is resolved, host name was wrong.

[2020-03-22 01:28] #22422 closed

[2020-03-22 05:04] clu-osi commented on #21908
Same issue with the grpc_unity_package.2.29.0-dev and Unity 2019.3.5f1

[2020-03-22 15:34] sshoster opened #22442 "python client get OPENSSL_internal:SSLV3_ALERT_HANDSHAKE_FAILURE"
### What version of gRPC and what language are you using?
grpcio==1.27.2
python
### What operating system (Linux, Windows,...) and version?
x86_64 x86_64 x86_64 GNU/Linux
and windows 10 pro

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6.8
[root@examples]# pip freeze
certifi==2019.11.28
chardet==3.0.4
grpcio==1.27.2
idna==2.8
oauthlib==3.0.2
protobuf==

[2020-03-22 18:15] rdconnelly commented on #11498
@jiangtaoli2016 any update?

[2020-03-22 18:47] #19331 closed

[2020-03-22 22:38] IIFE commented on #22243
@jtattermusch

[This class](https://grpc.github.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html) in Java allows clients to specify server config.

[This one in go](https://github.com/grpc/grpc-go/blob/master/service_config.go) also seems to allow the same.

No clear example available in C# (core) to do the same.

[2020-03-23 04:39] jiangtaoli2016 commented on #9219
fixed at https://github.com/grpc/grpc/pull/22332

[2020-03-23 04:39] #9219 closed

[2020-03-23 05:21] jiangtaoli2016 commented on #11498
Fixing it.

[2020-03-23 05:42] jiangtaoli2016 commented on #11498
https://github.com/grpc/grpc/pull/22443
Sorry for delay.

[2020-03-23 07:28] MhdAna opened #22445 "Server streaming with Callback after each streamed message"
I need to know if it is possible to stream (Server --> client), in which after each streamed message i am able to release the resources before the next message streamed.
So i need something like a callback action that i can use it to release the resources of old streamed message.

Thanks for any Advice or Suggestion.

[2020-03-23 07:58] Codes-Breaker opened #22447 "Unity3D: Is it possible to use main thread function in a Service"
When I defined a service on the Unity side, I wrote the method in Task but i can't use functions from UnityEngine since Unity is not thread-safe. Is there a good way to get around this?

[2020-03-23 10:13] #19612 closed

[2020-03-23 14:51] glupo opened #22448 "Missing interceptor changes to metadata for streaming requests(Ruby)"
### What version of gRPC and what language are you using?
Lang: Ruby
Version: reproduces on 1.27 and master

### What operating system (Linux, Windows,...) and version?
MacOs

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Tried to modify client streaming request metadata by interceptor while calling `client_streamer` on ClientStub with `req

[2020-03-23 15:19] jtattermusch commented on #22354
@gnossen in the general case, the C# stack traces should NOT be propagated in the error response because it's a security risk. Optionally, one can use the status.proto which allows returning the error in a standardized format, but there is no such thing as automatically sending the exception's stacktrace in the "details" string.

[2020-03-23 16:30] aaronhudon commented on #21240
I have found this behavior even if you omit step 1.  Simply try to connect to a service that is not running.  Then start up the service minutes/hours later.  The client takes a long time to connect.

Any advice is most appreciated

[2020-03-23 17:31] markdroth opened #22454 "ASAN failures in SSL-related tests"
https://source.cloud.google.com/results/invocations/ed10fe5c-bd90-42b9-8f7c-d900f51a1f90/targets

A huge number of core end2end tests seem to be failing under ASAN.  Is this the result of some recent change to the SSL code?

[2020-03-23 17:53] ZhenLian commented on #22454
I  will take a look right now. Thanks for pointing it out!

[2020-03-23 18:22] ZhenLian commented on #22454
It looks like the explicit reason for this error is [here](https://github.com/grpc/grpc/blob/master/src/core/lib/security/credentials/ssl/ssl_credentials.cc#L234), which is due to the failing of [this line](https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/string.cc#L45). It looks like the failure is due to some changes in test certificates.
Hi @jiangtaoli2016 , could you please take a loo

[2020-03-23 18:41] jiangtaoli2016 commented on #22454
Fix here https://github.com/grpc/grpc/pull/22456

[2020-03-23 19:37] lidizheng opened #22458 "[FLAKE] Basic Tests Python MacOS Timeout"
https://source.cloud.google.com/results/invocations/08a5bce3-261a-4e73-ad67-540c219025f5/targets

Time limit 3600 seconds is not sufficient to compile gRPC Python for 3 times in a slow Kokoro Mac VM. Since none of the gRPC Python version has special compilation flags, we should be able to compile-once-then-reuse.

[2020-03-23 20:13] #19162 closed

[2020-03-23 21:17] markdroth commented on #22454
Thanks for fixing!

[2020-03-23 21:17] #22454 closed

[2020-03-23 21:50] lidizheng commented on #22442
@sshoster There might be some issue in the credential setup, can you post your Java client and grpcurl command as well?

@jiangtaoli2016 Do you have more insight about SSLV3_ALERT_HANDSHAKE_FAILURE? I could not find it in our codebase.

[2020-03-23 22:04] jiangtaoli2016 commented on #22442
It looks like the server side does not set correct cipher suites.

gRPC client side sets the following cipher suites.
"ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384"

Make sure ngnix controller also sets at least one of the supported suites.

[2020-03-24 02:15] upday7 commented on #7945
any updates？

[2020-03-24 04:55] chinadragon0515 opened #22462 "C# client throws StatusCode=Unknown Detail="Stream removed""
I created a simple grpc service with guide from https://docs.microsoft.com/en-us/aspnet/core/grpc/aspnetcore?view=aspnetcore-3.1&tabs=visual-studio

Then I write a client with .NET core to call the service, it works well.
The code looks like this,

            var channel = GrpcChannel.ForAddress("https://localhost:5001");
            var client = new Greeter.GreeterClient(channel);
            va

[2020-03-24 07:19] mnff commented on #21716
your suggestion is useful to me, thank you very much!

[2020-03-24 07:21] mnff commented on #21716
@lidizheng your suggestion is useful to me, thank you very much!

[2020-03-24 07:22] mnff commented on #21716
@yashykt https://groups.google.com/g/grpc-io is 404

[2020-03-24 08:01] mnff opened #22463 "How to use coroutines in grpc-python server"
I want the request to execute in a coroutine in grpc-python server，what is the usual plan？gevent or others？

[2020-03-24 09:28] #20216 closed

[2020-03-24 11:26] MSayib commented on #21730
@MrEmanuel what about using NPM?
Im always getting that error if "any project that has firebase" inside it
or even when i want to install firebase globally, it always triggered to be installed but always error, i wish i know what happened inside it or whats wrong with my npm (i occurs too with yarn actually)

[2020-03-24 15:22] dfawley commented on #7945
No updates.  This is very low on any priority list (note the "P3" label) as it's seen as a nice-to-have at this time.

[2020-03-24 15:33] yashykt commented on #22191
It seems to be passing now. I didn't make any change.
I don't see any gRPC/protobuf change either

[2020-03-24 15:33] #22191 closed

[2020-03-24 15:56] chalin commented on #22294
Actually, I was wrong about the location of the files. https://github.com/grpc/grpc/tree/gh-pages only hosts the API reference docs. I believe that the main site content still comes from https://github.com/grpc/grpc.github.io. I'm not sure how this will need to be handled. Maybe someone needs to temporarily un-archive the grpc.github.io repo first before I can make any changes. @jtattermusch @nico

[2020-03-24 16:09] ctclements commented on #22462
Wow, I am really glad you posted this.  I am seeing this exact same issue, same packages and versions as you.  I spent all day yesterday trying to figure out what was going on without any luck.

[2020-03-24 16:41] albertoalmagro opened #22464 "Support Ruby 2.7.0"
### Is your feature request related to a problem? Please describe.
Ruby 2.7.0 was released 2019-12-25, however `grpc` still enforces ruby versions `< 2.7.dev`

**Steps to reproduce:**
1. On a terminal, run `$ bundle`. The following output appears:
[code]

### Describe the solution you'd like
Support Ruby 2.7.0

Thank you!

[2020-03-24 17:02] muxi opened #22466 "//test/cpp/end2end:nonblocking_test fails"
The test fails on Mac in #22423 for an unknown reason and @vjpai is looking into it.

[2020-03-24 17:39] sjkummer opened #22467 "When passing a trusted root cert to createSsl() the expiration date should be ignored"
### What version of gRPC and what language are you using?
1.24.2 node

### What operating system (Linux, Windows,...) and version?
macOS

### What did you do?
I got a GRPC client which is establishing a secure connection to a GRPC server. There is only a server side certificate used.
In the development / staging environment, a self-signed localhost certificate is used. To get this this setup (incl

[2020-03-24 17:43] andygikling commented on #18188
It's insane to me that Microsoft has locked the above thread.

Will someone fix this issue.  How in the world can Microsoft say that GRPC is an alternative to WCF if it cannot be submitted to the Windows Store in a UWP application.

Everyone knows Microsoft is to blame here.  Their quality control of their products is getting worse every year.

@tommcdon What is the status here?  We lost ya bud.

[2020-03-24 18:05] chalin commented on #22294
@srini100 - to you have admin access to https://github.com/grpc/grpc.github.io? It needs to be temporarily unarchived. cc @thisisnotapril

[2020-03-24 18:10] lidizheng commented on #22463
As @yashykt mentioned https://github.com/grpc/grpc/issues/21716#issuecomment-597898429, GitHub is not the best place for questions. Please consider post questions on StackOverflow with "grpc" tag.

We are working on gRPC AsyncIO stack, and it is currently experimental. Here is the [design proposal](https://github.com/grpc/proposal/pull/155). We will update the documentation (https://grpc.github.io

[2020-03-24 18:50] srini100 commented on #22294
@chalin, just unarchived. Let me know when you are done.

[2020-03-24 19:26] chalin commented on #22294
See https://github.com/grpc/grpc.github.io/pull/858, which adds an "obsolete!" banner to every page.

Why I opted for a banner:

- **GitHub pages doesn't support redirect patterns**, which is what we'd need because we're rendering the old doc site content obsolete, but not the API pages.
  - We could just drop all doc pages, and add a warning to the old homepage, but then folks with old doc page l

[2020-03-24 21:23] ZhenLian commented on #20161
@mehrdada
The issues mentioned above have all been fixed. Please let me know if you have any further concerns/suggestions, and feel free to close this issue. Thanks again for bringing up this issue :-)

[2020-03-24 21:27] #22294 closed

[2020-03-24 21:30] chalin commented on #22294
From https://github.com/grpc/grpc.github.io/pull/858#issuecomment-603513596, you'll note that I went ahead and merged the PR since, IMHO, it is better to have a banner than to leave readers uninformed about the obsolete status of the doc pages. If this solution isn't seen as acceptable, then I can submit followup PRs. Feel free to open issues over grpc.github.io. Thanks!

[2020-03-24 22:01] saintnoah commented on #22316
Hi, if completion queue Next() method did not receive any event when server send notification. And with "export GRPC_TRACE=api,call_error, export GRPC_VERBOSITY=debug" all turned on, still no log showing at all.
Is there any other way to check any event available in the queue?

[2020-03-24 22:22] lidizheng commented on #22458
Another occurrence https://source.cloud.google.com/results/invocations/28ef2a95-41a2-4867-881d-9ca00d745ad8/log

[2020-03-24 23:24] tchrikch commented on #22462
same issue here - I can reproduce it going back to 2.23 on Grpc packages in .Net Framework.

[2020-03-25 02:56] stephanecharette commented on #20303
Would be nice to have this API better documented in the .h file.  Ran into an issue where gRPC is used as part of a dynamic .dll plugin in a much larger system.  Call to `grpc_shutdown()` when a plugin was unloaded was causing a problem (segfault).  Switched to `grpc_shutdown_blocking()` while attempting to debug the issue, and the segfault does not reproduce.  Didn't debug into the gRPC code itse

[2020-03-25 03:33] jmcoreymv commented on #21283
I have the same desire for an Aarch64 wheel.  I’m cross compiling with qemu for a Cortex A53 target and it takes over a half hour just for the grpcio package.

[2020-03-25 03:44] #16380 closed

[2020-03-25 03:44] stephanecharette commented on #21902
That's worrisome.  I'm in the same boat.  A plugin (.dll on Windows, .so on Mac) I'm working on uses gRPC.  The host application (beyond our control) loads and unloads the plugin multiple times for different things.  I've solved some of the crashes on cleanup by replacing `grpc_shutdown()` with `grpc_shutdown_blocking()`, but I'm worried about that statement.

[2020-03-25 06:54] #22463 closed

[2020-03-25 06:58] mnff commented on #22463
@lidizheng I will wait the release, and post questions on StackOverflow next time, thank you!

[2020-03-25 06:59] mnff commented on #22463
@lidizheng I will attention the release, and post questions on StackOverflow next time, thank you!

[2020-03-25 10:06] Martin20 opened #22472 "when I call a function inside grpc_server, grpc_client gives timeout."
### What version of gRPC and what language are you using?

I use the grpc inside Cyber RT with C++ programming.

### What operating system (Linux, Windows,...) and version?
ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
I use bazel.

### What did you do?
I sent a message from grpc_client to grpc_server. I want to use the message so that it calls a f

[2020-03-25 10:07] chinadragon0515 commented on #19875
I met the exactly same issue, I have added the certificate into trust store.
If I use dotnet client, the certificate can be trusted and validate passed.
But if I use th .Net framework client (Grpc.Core.Channel), the certificate always has the issue.

[2020-03-25 13:10] chinadragon0515 opened #22474 "C# client does not trust server certificate based on windows trust store"
I have a GRPC server, its certificate has been added to windows Third-Party Root Certification Authories.

When I created the client with .NET core like "GrpcChannel.ForAddress", there is no issue, the request succeed and server certificate is validated based on windows trust store.

But when I create the client with .NET framework like "new Channel", I always got the error as below and from trace

[2020-03-25 13:16] chinadragon0515 commented on #22462
I found the issue is my GRPC server is enabled with default development certificate, and it requires SSL.
I write code like below, it resolves the issue, but I met a new issue that server certificate is not trusted even I have added server certificate into windows trust store. I opened a new issue for this.
var secureChanel = new SslCredentials();
Channel channel = new Channel("host:5001", secureC

[2020-03-25 13:16] #22462 closed

[2020-03-25 15:10] #20310 closed

[2020-03-25 15:37] #11498 closed

[2020-03-25 17:19] markdroth commented on #22472
Can you show the code you're using?  It's hard to diagnose this problem without seeing that.

When you get a DEADLINE_EXCEEDED status from an RPC, that means that the call did not complete faster than the call's deadline.  If the server needs more time to respond, you can try increasing the deadline that you set on the call on the client side.

[2020-03-25 17:20] lidizheng commented on #19761
We still want this

[2020-03-25 18:38] piperun opened #22476 "[C#] Omnisharp complains it can't find "Server" as a namespace or type"
I'm trying to setup the server part of grpc, but Omnisharp keeps on complaining that `Grpc.Core` does not contain a type/namespace called "Server", even though in the API the `Grpc.Core.Server` class does exist.

I've setup my own class that is inherited from the abstract class generated by vscode I've imported:
[code]
My csproj file looks as follows:
[code]

I'm struggling to understand what the

[2020-03-25 19:14] piperun commented on #22476
My apologies, I somehow seemed to have missed that I didn't have `Grpc.Core` in my csproj file.

[2020-03-25 19:14] #22476 closed

[2020-03-25 19:25] markdroth commented on #15245
Just saw this again:

https://source.cloud.google.com/results/invocations/4b6b14f8-9ada-43c2-80b1-b6a3dbc2d8a1/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_grpc-node_macos_opt_native/tests

[2020-03-25 20:21] stanley-cheung commented on #22273
Fixed

[2020-03-25 20:21] #22273 closed

[2020-03-25 21:17] Martin20 commented on #22472
Thank you for your fast reply.

Actually, I want to receive a message via grpc from mochine1 to machine2 and then publish in machine2. When I send it by grpc, I received it without any problem in machine2. However, when I want to publish it in machine2, I receive the timeout in the client. If you look at the server code, there is a line (calling function line which is "os_interface->sendCarStatus(

[2020-03-25 21:26] markdroth commented on #22472
What does `os_interface->sendCarStatus()` actually do?  How long does it take to run?  I suggest that you try logging the time both before and after that call to see how long it takes.

You can also try increasing the deadline to something much longer than 1 second to see if that helps.

[2020-03-25 21:28] wbuck opened #22479 "Access Violation On Application Exit"
### What version of gRPC and what language are you using?
Grpc version        : 1.26.0
Protobuf version : 3.11.2
Language            : C++17

### What operating system (Linux, Windows,...) and version?
Windows 10 Enterprise
Version 1909
Build 18363.720

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio Professional 16.5.1
MSVC++ Compiler Version 19.25.

[2020-03-25 21:41] markdroth commented on #22479
Jan, can you help decipher this Windows error message?  Thanks!

[2020-03-25 21:54] wbuck commented on #22479
I forgot to mention. I see this `Access Violation` about 30% of the time after `main` returns.

[2020-03-26 01:14] TheCactusBlue opened #22485 "gRPC + IL2CPP for Unity fails to build"
### What version of gRPC and what language are you using?
C# on Unity with IL2CPP, Tried with both gRPC for Unity 2.29 and 2.26.

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
IL2CPP with .NET 4.0 compatibility, version 2019.3.6f1.

### What did you do?
1. Create new project with the above s

[2020-03-26 01:58] wbuck commented on #22479
OK I believe I've found what was causing the issue.

In my original post I said:

 "I've tried adding calls to both `grpc_init( )` and `grpc_shutdown( )` even though the client examples don't contain either calls. But adding those had no effect."

This was true, but after re-reading the documentation for `grpc_shutdown( )` i noticed this (emphasis mine):

"The last call to `grpc_shutdown` will ini

[2020-03-26 03:27] ejona86 commented on #20384
This was fixed by grpc/grpc-java#6207

[2020-03-26 03:27] #20384 closed

[2020-03-26 03:39] TheCactusBlue commented on #22485
I tried adding these three functions to the grpc_csharp_ext_dummy_stubs.c:
[code]
which results in this:
[code]

[2020-03-26 03:39] zengzhengrong commented on #20972
I test use consul dns，but it failed connect
[code]
error message:
[code]
I use dig command , it can resolve web.service.consul

[2020-03-26 03:57] TheCactusBlue commented on #22485
After further debugging and looking into issue #19262, I found the crash had to do with
[code]
returning null at `GetUnityRuntimePlatform`.

[2020-03-26 06:23] Kaali commented on #20026
I have also experienced deadlock on channel close recently, but haven't gotten any traces out of it as it happens in a container which doesn't have shell access.

The setup where it happens is a very antipattern type of a gRPC system. Where a client is polling a server for messages with a bidi stream RPC, and closes the channel after every poll.

When the deadlock happens the loop is something lik

[2020-03-26 09:12] smibe commented on #13447
Anyone working on this already?
If yes, can I help?
If not, can someone give me some basic directions where to start and what has to be done. Would also really like to use gRPC on a local computer using named pipes.

[2020-03-26 14:39] markdroth commented on #22479
It should not be necessary to call `grpc_init()` or `grpc_shutdown()` directly.  Those are not public APIs and should not be used by applications.

@vjpai or @yang-g, do either of you have any idea why this was happening without the calls to `grpc_init()` and `grpc_shutdown()`?  I don't see anything obviously wrong with the code.

[2020-03-26 15:40] TheCactusBlue commented on #22485
Ok, I came up with a really hacky solution, that (kinda) worked.
1. Download both the gRPC source repository and the unity package.
2. Unzip the unity package into `/Plugins`.
3. Delete the contents of the `Grpc.Core`, and `Grpc.Core.Api`, excluding `runtimes`.
4. Copy in the source for the `Grpc.Core`, and `Grpc.Core.Api`.
5. Add the three functions from above into the dummy.
6. Comment out the m

[2020-03-26 16:25] appfrilans commented on #20500
Any fix for this?

[2020-03-26 16:49] gnossen commented on #20026
@Kaali Any chance you have a deterministic reproduction case you can share?

[2020-03-26 17:14] hunterlxt opened #22489 "Bug: race condition between threads updating handshakers"
### What version of gRPC and what language are you using?
core: v1.26.0
language: Rust

### What operating system (Linux, Windows,...) and version?
Linux

### What did you do?
grpc-rs has supported `bind_with_fetcher`, so we can use `grpc_ssl_server_credentials_create_options_using_config_fetcher` to reloading certs without shutdown server. [Related PR](https://github.com/tikv/grpc-rs/commit/9a641

[2020-03-26 20:59] adamjstewart opened #22491 "[Python install] ld: library not found for -latomic"
### What version of gRPC and what language are you using?

gRPC 1.27.2, Python

### What operating system (Linux, Windows,...) and version?

macOS 10.15.3

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7.6, Clang 11.0.3

### What did you do?

Building from source, using `python setup.py build && python setup.py install` with the following environment v

[2020-03-26 21:04] adamjstewart commented on #22491
Looking further at the code, I think I just need to install libatomic on my system:
[code]

[2020-03-26 21:22] #21707 closed

[2020-03-26 21:50] adamjstewart commented on #22491
Okay, digging deeper, one does not simply install libatomic. I would either have to install LLVM or GCC from scratch to get libatomic. If I remove the `-latomic` flag, the build seems to succeed, so I think the issue is with `check_linker_need_libatomic`.

[2020-03-26 22:17] dirkbaum opened #22492 "Can't load grpc.core 2.0.0.0"
OS:  Windows 10

Language: C# 8.0

Environment:  .Net Core 3.0 Console app calling a method in a .Net Standard 2.0 dll which makes a gRPC call

IDE:  Visual Studio 2019 16.5

Problem:
System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'Grpc.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=d754f35622e28bad'. The system cannot find the file specified

[2020-03-26 22:50] ejona86 opened #22494 "C++ compression example doesn't use compression"
I recorded the compression example with wireshark. I had the C++ compression_client communicate with the C++ compression_server. I see `grpc-encoding` in the request and response headers. However the request and response message is uncompressed.

Changing the name from `"world"` to `"world"` repeated 1600 times (I wanted 8k in my test...) changes the behavior where it starts compressing in both di

[2020-03-27 05:41] Kaali commented on #20026
I'll try to make one today. But so far it is not deterministic.

[2020-03-27 07:26] Kaali commented on #20026
So far I haven't been able to make a reproducable case for this, still working on it. I did get a possibly unrelated new error while running the same code that gets eventually stuck on a Linux cluster, on a macOS:

[code]

this is with the same process I listed above. There is no threads created by the application itself.

[2020-03-27 07:30] chrisse74 opened #22496 "Update c-ares to 1.16.0"
Could you please update c-ares to 1.16.0.

We had a problem with sporadic stalls (6 seconds) tracing back to [this](https://github.com/c-ares/c-ares/issues/285) c-ares issue which is solved in 1.16.0.

PS: We use a workaround at the moment, by using the native resolver and "options single-request" in resolv.conf as suggested in [DNS NSS improvement](https://udrepper.livejournal.com/) by Ulrich Dre

[2020-03-27 07:31] Kaali commented on #20026
Just verified that the thread count increases all the time when running a tight loop like that.

[2020-03-27 08:11] appfrilans commented on #20500
Cannot get the workaround to work. Anyone having a script for this?

[2020-03-27 08:59] zummenix commented on #20500
No automatic script to run it on CI. I've thrown together a script to run manually. It finds broken frameworks and patches them in the loop. I run it after starting archiving in xcode, after successful build hit `Ctrl+C` to stop it. Not pretty, but...

[code]

Change paths in find commands for your project. And remove lines related to patching grpc.framework if you don't have it.

[2020-03-27 09:24] S-UP commented on #20972
I am facing a similar issue. I can use Python 3.x and Google Translate API just fine. But the following error occurs when running the script via CRON (in an otherwise tested setup).

[code]

Details are posted here: https://stackoverflow.com/questions/60811596/error-503-dns-resolution-failed-in-google-translate-api-but-only-when-executing

[2020-03-27 10:12] zegerius commented on #22123
@yashykt any info or leads that we can solve this ourselves?

[2020-03-27 14:15] markdroth commented on #22494
Which compression example are you looking at?

[2020-03-27 17:39] apolcyn commented on #22496
It is probably a good idea to try do an upgrade in any case, but for this specific problem, are you sure that you are hitting the c-ares bug described in https://github.com/c-ares/c-ares/issues/285, and not something else?

I ask because grpc library doesn't use `ares_getaddrinfo`, and instead uses the `ares_gethostbyname` API. And when doing this, the A and AAAA records are queried in separate, p

[2020-03-27 18:31] ejona86 commented on #22494
https://github.com/grpc/grpc/tree/master/examples/cpp/compression . The Bazel target names were examples/cpp:compression_client and :compression_server.

[2020-03-27 18:55] lidizheng commented on #22123
@zegerius @hackedd I tried the script with Python 3.7 and  grpcio 1.27.2. I can see the DRS (physical memory) increased to around 1MB, and then stopped there. It doesn't look like a memory leak to me.

The increased 1MB memory could be used by Python interpreter or the 10 threads spawned by the gRPC server.

[2020-03-27 20:07] Thalhammer commented on #22445
I might understand your issue wrong but if you use an async version you get an tag delivered once the message is sent. If you use a sync server you should be able to clean up the message once Write returns.

[2020-03-27 20:22] chrisse74 commented on #22496
Thanks for the quick reply @apolcyn !
Maybe you are right and we pinned it on the wrong issue, i will check our backtrace, when i am in the office again...
Fact is that the stall always occurred when the non-existing AAAA record returned first, never when the A record returned first. Using the same gRPC version (1.24.2) and only exchanging c-ares we could not re-produce the stalls anymore. But the

[2020-03-27 21:46] MhdAna commented on #22445
Hi,
Thanks for your answer, i think you have understood what i need.
You Said i should use a sync server to clean up the message once Write returns to the Server, it is a new Information for me that there are two different Server implementation **Sync** and **Async** , could you please show me how can i implement such a **Sync Server**

Thanks a lot in advance.

[2020-03-27 21:52] #22466 closed

[2020-03-27 22:04] yang-g commented on #20278
@yann-yy I think what you meant to say is `SO_REUSEPORT` rather than `SO_REUSEADDR`?

If your environment does not have a way to provide a unused port for you, you can disable the `SO_REUSEPORT` via a server side channel argument.

For example, in C++, you can do the following to disable it:

[code]

[2020-03-27 22:04] #20278 closed

[2020-03-27 23:53] Thalhammer commented on #22445
@MhdAna
https://grpc.io/docs/tutorials/async/helloasync-cpp/#async-server

[2020-03-28 09:36] SarielTang opened #22505 "A strange crash"
![image](https://user-images.githubusercontent.com/12050371/77820067-86084a00-711a-11ea-9c75-f0e133e63b44.png)
The crash information is shown above.

[2020-03-28 11:36] #7927 closed

[2020-03-28 13:07] hdnn opened #22506 "Ssl Credentials memory leaks"
### What version of gRPC and what language are you using?
1.23

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
msbuild

### What did you do?
[code]
If I uncomment `grpc::InsecureServerCredentials()` but still call `CreateServerSslCredentials` - Memory Dump output will be almost clear(it still

[2020-03-28 15:14] hdnn commented on #22506
![1](https://user-images.githubusercontent.com/8512124/77826350-e352ca00-711f-11ea-973d-835d7e1b51c8.png)
![2](https://user-images.githubusercontent.com/8512124/77826352-e483f700-711f-11ea-8b76-98775e4d0b44.png)
![3](https://user-images.githubusercontent.com/8512124/77826353-e483f700-711f-11ea-9d6d-7cada088f74c.png)
![4](https://user-images.githubusercontent.com/8512124/77826354-e51c8d80-711f-11ea

[2020-03-28 19:36] #20220 closed

[2020-03-28 23:36] #18525 closed

[2020-03-29 00:36] #20307 closed

[2020-03-29 01:36] #20309 closed

[2020-03-29 03:37] yann-yy commented on #20278
This works for me, thanks a lot.

[2020-03-29 14:34] ne1llee opened #22508 "Run client channel backup poller"
### What version of gRPC and what language are you using?
python2.7 grpcio==1.27.2

### What operating system (Linux, Windows,...) and version?
centos 7.5

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Python USES multiple threads to access the golang server.

### What did you expect to see?

### What did you see instead?

E0329 22:23:15.19

[2020-03-29 20:16] #20330 closed

[2020-03-30 07:04] CurtisFu opened #22510 "Server is stuck in CompletionQueue::Next when multiple server streaming request are sent from client"
### What version of gRPC and what language are you using?
https://github.com/grpc/grpc/archive/b54a5b338637f92bfcf4b0bc05e0f57a5fd8fadd.tar.gz
The nearest tag is v1.27.0-pre1 and I'm using C++.

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang8.0

### What did you do?
I have one service

[2020-03-30 07:05] ramarkandasamy opened #22511 "Need a way to specify source address in GRPC C++ channel creation"
Hi Team,

    We are using gRPC channel for gobgp communication. From our gobgp client, we are establishing channel to gobgp server.  It is using default global ip for establishing grpc connection.
We would like to use specific source ip for establishing connection as we have multiple interfaces/ip addresses.

Is there any way to specify source ip address in gRPC channel creation?
Please advise.

[2020-03-30 07:29] ksophocleous commented on #21974
we worked around the issue by patching `ssl_transport_security.cc`. Renamed `OPENSSL_IS_BORINGSSL` to `OPENSSL_NO_ENGINE`.

`OPENSSL_NO_ENGINE` is defined by openssl include files when it is compiled with `no-engine`.

You will need to check for both in your case

[2020-03-30 08:16] ansarizafar commented on #19126
Is this true? I am thinking about using Asp.met core Grpc with Flutter but If the above statement is true then I will go back to Rest apis of graphql.

[2020-03-30 08:59] jtattermusch opened #22512 "Dart client with grpc-dotnet server: some interop test cases are flaky"
Affected test cases:
[code]

A few recent failures:
https://source.cloud.google.com/results/invocations/7caa00ca-fcd9-4dcf-82f2-7b0cd4e60293/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:dart:aspnetcore_server:cancel_after_begin:tls;row=1
https://source.cloud.google.com/results/invocations/7892334e-d125-468a-9b74-c1ecea19669f
https://source.cloud.google.com/results/inv

[2020-03-30 09:01] jtattermusch commented on #22367
dupe of https://github.com/grpc/grpc/issues/22512

[2020-03-30 09:01] #22367 closed

[2020-03-30 09:01] jtattermusch commented on #22162
Dupe of https://github.com/grpc/grpc/issues/22512

[2020-03-30 09:01] #22162 closed

[2020-03-30 09:02] jtattermusch commented on #22512
@mit-mit  @sigurdm can you take a look?

The error message looks similar to https://github.com/grpc/grpc/issues/21755

[2020-03-30 09:04] jtattermusch commented on #22512
It should be possible to reproduce with `tools/run_tests/run_interop_tests.py -l dart -s aspnetcore --use_docker` (after a few attempts)

[2020-03-30 09:23] SarielTang commented on #22505
We have promotion from 3 to 5 o'clock, so the crashes are concentrated in this period.

[2020-03-30 09:38] jtattermusch commented on #22433
Fixed in #22434. Thanks fore reporting this!

[2020-03-30 09:38] #22433 closed

[2020-03-30 10:09] jtattermusch commented on #18801
Let's keep open.

[2020-03-30 10:29] jtattermusch commented on #21974
The question is whether we want to support openssl build with `no-engine`. This is a question for security folks.

The `OPENSSL_IS_BORINGSSL` part is closely related to https://github.com/grpc/grpc/pull/20316 by @akshayku

CC @yihuazhang @jiangtaoli2016

(Btw, I don't see why this issue would be windows-specific).

[2020-03-30 10:30] jtattermusch commented on #21974
@yihuazhang / @jiangtaoli2016  can one of you follow up on this one?

[2020-03-30 12:27] andreladocruz opened #22514 "PHP Composer PSR-4 Warnings"
Posting here as we cannot open the issue at https://github.com/grpc/grpc-php/issues/new.

Deprecation Notice: Class Grpc\Gcp\AffinityConfig located in ./vendor/google/grpc-gcp/src/generated/Grpc/Gcp/AffinityConfig.php does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0. in phar:///usr/local/bin/composer/src/Composer/Autoload/ClassMapGenerator.php:201
Depr

[2020-03-30 13:57] chrisse74 commented on #22496
If you search the following log for "on_hostbyname_done_locked" you see that the first call returns "status is not ARES_SUCCESS" on 2019-12-10 14:54:26.521402 and we get the second response only after waiting until 2019-12-10 14:54:32.517068
Am I missing something?

[code]

[2020-03-30 14:02] derekperkins commented on #19126
@ansarizafar No, that is completely untrue. This issue is about using http/3 with gRPC. gRPC is about defining an api contract - the underlying network transport is separate from that.

[2020-03-30 14:57] yihuazhang commented on #22506
Thanks for reporting the issue. From gRPC debug trace, it is unclear which part of sslcredentials have the claimed memory leaks. Could you please be more specific?

[2020-03-30 15:07] hdnn commented on #22506
But I also attached allocation callstack and source code... How I can be more specific?

In my example `auto ssl_creds` is `std::shared_ptr<grpc::ServerCredentials>`. If I just create this object(using `grpc::InsecureServerCredentials()`), I won't have that type memory leak. If I use this object in `grpc::ServerBuilder::AddListeningPort` function, I will give described leaks

[2020-03-30 15:14] yihuazhang commented on #22506
How did you define `CreateServerSslCredentials()`? I could not find it in the gRPC repo. Can you use `SslServerCredentials()` and see if the problem is still around?

[2020-03-30 15:20] hdnn commented on #22506
CreateServerSslCredentials() is my own function. Sorry, that I skipped it.
It just loading certificates from files, filling `grpc::SslServerCredentialsOptions` struct and creating `std::shared_ptr<grpc::ServerCredentials>`:
[code]

[2020-03-30 15:33] jtattermusch commented on #22512
I'm able to reproduce locally with `DOCKERHUB_ORGANIZATION=grpctesting tools/run_tests/run_interop_tests.py -l dart -s aspnetcore --use_docker` very reliably.

[2020-03-30 15:51] ksophocleous commented on #21974
It should be noted that the reason we do this is because the wiki page mentions it.

https://wiki.openssl.org/index.php/Compilation_and_Installation

[2020-03-30 17:25] IIFE opened #22515 "DNS resolution failure with nested virtualization"
### What version of gRPC and what language are you using?
gRPC 1.27.1
C++ Client
C# Server

### What operating system (Linux, Windows,...) and version?
Windows Server 2016 64-bit for server
Windows 8 32-bit for client

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2015

### What did you do?
I have a nested virtualization setup. My server is running

[2020-03-30 20:03] nplusp commented on #22448
@apolcyn hey, me too wants to understand this.
Can you please share some information with us?

[2020-03-30 22:58] #22494 closed

[2020-03-31 01:00] chinadragon0515 commented on #22474
@jtattermusch  do we have any workaround of this? thanks

[2020-03-31 03:20] jiangtaoli2016 commented on #22474
@chinadragon0515 Is server CA listed in https://github.com/grpc/grpc/blob/master/etc/roots.pem?
Only gRPC on Linux supports loading system root stores. For rest of platforms (MacOS and Windows), either use grpc built-in roots or client specifies which CA roots to trust.

[2020-03-31 09:50] chrisse74 commented on #22496
Unfortunately the upgrade to c-ares 1.16.0 did not resolve the issue with our DNS stalls. We just got another stall with our patched version. :(

[2020-03-31 09:54] chrisse74 commented on #22496
@apoclyn I suppose there is no way to force gRPC to do these calls in sequence instead of parallel?

[2020-03-31 10:28] pkbehera commented on #22004
can @markdroth or someone look at this once place? Thank you!

[2020-03-31 12:47] julianoes commented on #22338
@dapengzhang0 any update when this might be fixed? Or should I try to patch this myself? Thanks.

[2020-03-31 13:41] #6891 closed

[2020-03-31 14:35] markdroth opened #22521 "FLAKE: github/grpc/run_tests/objc_macos_opt_native/mac-test-basictests[default]"
https://source.cloud.google.com/results/invocations/ad79ffd2-eddc-4977-9d5b-46b2b534ca99/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fmac-test-basictests/tests

Looks like there were 4 test failures here:

[code]

[code]

[code]

[code]

[2020-03-31 14:37] markdroth opened #22522 "build_docker_node failure"
https://source.cloud.google.com/results/invocations/87aaac90-6141-41b0-944c-d3dd296b30af/targets/github%2Fgrpc%2Finterop_docker_build/tests

[code]

[2020-03-31 14:50] markdroth opened #22523 "FLAKE: grpc/core/pull_request/linux/grpc_android[default]"
https://source.cloud.google.com/results/invocations/e7d3f410-95f7-423f-a081-13058025b917/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_android/log

[code]

[2020-03-31 15:08] lemkepf commented on #21867
@vivainio I'm seeing the same thing. Version Grpc.Core 2.27.0 is also affected. The .net Core libraries don't seem to have this issue.

[2020-03-31 16:23] nicolasnoble commented on #22338
@veblush: looks like we need to update our abseil dependency?

[2020-03-31 16:29] bitomaxsp commented on #21838
Hi. We kind of blocked by this issue. Is there any progress here?
Was it fixed?

[2020-03-31 17:21] apolcyn commented on #22496
Correct, there's not

[2020-03-31 17:58] aurelienrb commented on #21838
Hello,
I have something to propose that I tested with success locally. The idea it to cause a linker error if you try to link with a gRPC lib that was not built with same options than yours (for the settings that matters, i.e. that can cause ODR violation). Its totally transparent for the client code.
What do you think about this approach? Would you like me to submit a PR for comments?

[2020-03-31 22:41] #20381 closed

[2020-03-31 23:33] konradreiche opened #22526 "Unexpected timeouts in gevent environment"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?
I defined a simple gRPC interface with a Go service implementing the server and a Python service invoking the gRPC calls. I defined a timeout on the call

[2020-03-31 23:44] tumusudheer opened #22527 "Memory leaks in Synchronous server helloworld example"
### What version of gRPC and what language are you using?
grpc version 1.20 and C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

### What did you do?
Running `valgrind --leak-check=full --show-leak-kinds=all ./greeter_server`
cpp example hello wor

[2020-04-01 01:21] frank-xlj opened #22530 "build failure for the generated c++ code when a service contains over 500 rpc methods"
### What version of gRPC and what language are you using?
1.17.2-9, c++

### What operating system (Linux, Windows,...) and version?
Windows10

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 2017 with c++17 support

### What did you do?
Define a service which contains over 500 rpc methods (non-streaming methods) in proto file, the generated grpc.pb.h contains

[2020-04-01 02:26] hunterlxt commented on #22489
ping, any progress? @markdroth @yihuazhang

[2020-04-01 04:35] obi1kenobi commented on #19496
I believe this is still being actively worked on, and shouldn't be closed.

[2020-04-01 07:37] bitomaxsp commented on #21838
I think linker error is better then debugging ODR violation :)
It would be nice to have PR submitted for the comments.

[2020-04-01 09:40] IIFE commented on #22515
I have been able to replicate the issue in a much simpler scenario.

If I just have the server running and connect to it using a C++ client from the same machine, but instead of using `localhost` or the localhost IP I use the actual machine name, then I get the same error.

Not sure if this is similar to the issue mentioned [here](https://github.com/grpc/grpc/issues/18290#issuecomment-480770740).

[2020-04-01 10:09] Genteure commented on #17995
As a workaround:
You can [change where the `global‑packages` is located](https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders), link or move files to a path that doesn't contain non-english alphabet (e.g. `D:\nuget_packages\packages\`)

I would like this to get fixed though.

related:
- https://github.com/grpc/grpc/issues/14740 - First result in my

[2020-04-01 11:15] DinoStray commented on #17222
(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007f7589455801 in __GI_abort () at abort.c:79
#2  0x00007f7589e48957 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#3  0x00007f7589e4eae6 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#4  0x00007f7589e4eb21 in std::terminate() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#5  0x00007f758

[2020-04-01 11:25] DinoStray commented on #22021
I wonder the grpc C++ lib not support bi-di stream async server by now, so the developer afraid of offer more comprehensive example.

[2020-04-01 11:48] IIFE commented on #22515
Additionally, the above only happens if I set my virtual box network adapter to `NAT`. Setting it to `Bridged Adapter` doesn't cause the issue.

[2020-04-01 13:38] cg-adam opened #22534 "Latest Unity Build Bitcode Disabled"
### What version of gRPC and what language are you using?
GRPC Unity 2.29.0

### What operating system (Linux, Windows,...) and version?
MacOS 10.14.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Unity 2019.2.17f1

### What did you do?
Built unity project using latest GRPC version (2.29.0)

### What did you expect to see?
Generated XCode project would build wi

[2020-04-01 15:38] yihuazhang commented on #22489
@hunterlxt, Sorry for the late response. I will take a look by the end of this week.

[2020-04-01 19:11] chalin commented on #22419
It might also be good to update the **example** build instructions too, so that readers know how to use either `cmake` (or `bazel`, if that would make sense) for those. /cc @srini100 @lucperkins

[2020-04-01 21:29] apolcyn commented on #18892
Seen again:

[code]

https://source.cloud.google.com/results/invocations/47ec9690-c4cc-4f8d-88b3-c4883cbc000b/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

[2020-04-02 00:18] Tanhe opened #22543 "Cannot connect to aspnetcore 3.1 grpc service from client"
### What version of gRPC and what language are you using?
C#, net48, Grpc.Core 2.27
C#, netcoreapp3.1, Grpc.AspnetCore 2.24

### What operating system (Linux, Windows,...) and version?
Window 10

### What did you do?
Given the template example service created by `dotnet new grpc` I am unable to connect to this service using the C# Grpc.Core 2.27 library.

### What did you expect to see?
Successful

[2020-04-02 00:43] stanley-cheung commented on #22505
@SarielTang Can you share how we can reproduce this issue please? Is there an xcode project you can share?

[2020-04-02 03:31] pavanbadugu opened #22545 "incompatable code for flatbuffer flatc"
### flatc code generation is not compatible with grpc facing lot of issues
needed to use flatbuffers instead of protobuffers in grpc service

[2020-04-02 03:48] nicolasnoble commented on #22545
This is improperly filled. Please open a new issue with a proper description of what's going on, including code samples or a test project for us to look at.

[2020-04-02 03:48] #22545 closed

[2020-04-02 04:18] asingh16 opened #22546 "1.28.0 _simple_stubs raising a syntax error"
### What version of gRPC and what language are you using?

1.28.0

### What operating system (Linux, Windows,...) and version?

linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.5.8

### What did you do?

I originally imported exceptions from google.cloud. This eventually triggers the following import statement:

[code]
### What did you expect to se

[2020-04-02 06:05] osma commented on #22546
Encountered the same issue. The problem seems to be the f-string syntax, which requires Python 3.5.

[2020-04-02 06:46] gnossen opened #22548 "Python 3.5 Presubmit Tests"
https://github.com/grpc/grpc/issues/22546 came about due to a lack of Python 3.5 presubmit tests. We need to pay down this debt.

We are apparently [currently only testing 3.6 and 3.7 in CI](https://github.com/grpc/grpc/blob/f930b0bdcc5ede9d9d07770980eb68c2b0df8258/tools/run_tests/run_tests.py#L871).

[2020-04-02 06:49] gnossen commented on #22546
@asingh16 @osma Thank you for the reports! There will be a patch out for this very soon.

[2020-04-02 07:33] jvanenckevort commented on #22546
This is kinda big. Google cloud build only has python 2.7 and 3.5 in it's pre-cached cloud builders. A lot of google-cloud packages rely on grpcio in the background.

[2020-04-02 07:44] gnossen commented on #22546
The 1.28.0 release has been deleted. We will follow up with a patched `1.28.1` release shortly.

[2020-04-02 07:56] jvanenckevort commented on #22546
Thanks for the fast response, everything is working now with `1.28.0` being deleted.

[2020-04-02 08:02] 769344359 commented on #22089
https://github.com/grpc/grpc/blob/6dde2f43f70e10759bff06e09207d48f66beff36/doc/core/grpc-polling-engines.md#other-polling-engine-implementations-poll-and-windows-polling-engine

may be it do not support in max
try poiling-engine

[2020-04-02 08:03] cocoa-maemae commented on #22546
The python's grammar of f string supports after python3.6, so it seems like it didn't work in python3.5 environment.
I just downgraded grpcio to 1.27 and it worked fine.

[2020-04-02 09:03] hunterlxt commented on #22489
Thanks, and I have tested grpc-python (as the only language exporting the feature) doesnt encounter this problem because it bind only one completion queue and looks like it doesnt support adjust number like grpc-c++ or grpc-rs.

[2020-04-02 10:08] rainerillichmann opened #22551 "C++ v1.19.0 and v1.28.0 Segfault at MetadataMap::destroy() when trying to unit test"
### What version of gRPC and what language are you using?
Currently using v1.19.0 but also tried in v1.28.0

### What operating system (Linux, Windows,...) and version?
CentOS Linux release 7.7.1908

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3.1

### What did you do?
Trying to unit test grpc functions in gtest

[code]

### What did you expect to see?
n

[2020-04-02 10:13] NicolasPA commented on #22546
I was impacted using Google PubSub Python library relying on `grpcio` with Python 3.5 at least between 2:30 and 7:30 UTC.

Since then everything is working as before, thank you!

Here's the error to help people who will search on it:
[code]

[2020-04-02 12:14] sumsarj commented on #22510
is the sever continuously writing to the client over the streams? I have had similar issues with the server serving only one stream but not the other, however I used only one completion_queue. I initially thought that the pop/push of the completion queue was unfair somehow, but didnt find anything suggesting that in the source code. So maybe my issue is the same as yours.
In my case, I had async b

[2020-04-02 14:05] sigurdm commented on #22512
I tried locally ~10 times without being able to reproduce:
[code]
Not sure what the log-error means, but it looks like the tests pass.
This is with grpc, grpc-dart and grpc dotnet all at todays master

[2020-04-02 15:10] CurtisFu commented on #22510
Yes, the server continuously writes responses to the client.
In your case, did you call ServerAsyncWriter::Finish() when the stream1's 100k messages were sent?
If so, I think I also observe the same thing. My server has to call Finish() for the first streaming(A1) and after that, client starts to receive responses(A2).

[2020-04-02 16:19] asingh16 commented on #22546
Thanks for the quick turnaround, everything is working now!

[2020-04-02 16:33] s1lver opened #22554 "PHP: pecl install error"
### What version of gRPC and what language are you using?
gRPC 1.27
gRPC 1.28RC2
gRPC 1.28.0

PHP 7.2.8

### What operating system (Linux, Windows,...) and version?
RHEL 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.8.5

I use command
`sudo pecl install grpc-1.27.0.tgz`
and
`sudo pecl install grpc-1.28.0RC2.tgz`
and
`sudo pecl install grpc-1.28.0.tgz`

[2020-04-02 16:54] okravets opened #22555 "Sporadic crashes in grpc_core::GrpcPolledFdWindows::SendVUDP"
### What version of gRPC and what language are you using?
1.27.1

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 16.4.5

### What did you do?
Application sporadically crashing

### What did you expect to see?
Not crashing

### What did you see instead?
Stack point to thread which calls run_

[2020-04-02 17:03] okravets commented on #22555
I could further troubleshoot it, but app is Windows service and it is tough to gather logs.
Any advise what should settings should I set for GRPC_TRACE to get more info to troubleshoot it?

[2020-04-02 17:08] okravets opened #22556 "Help for troubleshooting gRPC - Windows service"
Hi ! I am working on Windows Service which is using gRPC and service is sporadically crashing. Is it possible to setup troubleshooting and redirect gRPC logs into a defined file?

[2020-04-02 17:24] apolcyn commented on #22555
Running under `GRPC_TRACE=api,client_channel_routing,cares_resolver,cares_address_sorting` may give some insight

[2020-04-02 17:35] jtattermusch commented on #22512
@sigurdm  that's odd, because I can reproduce pretty consistently.
Would the trick that fixed similar error on the dart server in https://github.com/grpc/grpc-dart/pull/274/files help fix the client part?

[2020-04-02 17:48] muxi commented on #20686
Fixed by #22327

[2020-04-02 17:48] #20686 closed

[2020-04-02 18:18] tumusudheer commented on #22527
Hi,
Just checking for any help regarding this.

[2020-04-02 19:05] gnossen commented on #22546
[Announcement of the deletion.](https://groups.google.com/g/grpc-io/c/XxVY9yF26F0)

[2020-04-02 19:06] #22546 closed

[2020-04-02 19:42] nicolasnoble commented on #22527
I suspect the shutdown method is wrong here, but @yashykt should be the authority of how it's supposed to happen.

[2020-04-03 06:10] sumsarj commented on #22510
Yes I did.

Yeah sounds very much alike

[2020-04-03 07:20] nfelt opened #22570 "FR: grpc_cli: support for local credentials"
This is a feature request that the `grpc_cli` tool add an option to use [`LocalCredentials`](https://github.com/grpc/grpc/blob/0362df725f1ed9db3cb3e50456e2ad59cb4a1c1b/include/grpcpp/security/credentials.h#L130-L133).  As described in the [python `local_channel_credentials()` API](https://github.com/grpc/grpc/blob/a687274c74b7055a081ec5e1a9fad6f324ae89ef/src/python/grpcio/grpc/__init__.py#L1776),

[2020-04-03 07:21] sigurdm commented on #22512
Hmm - that's hard to say without further debugging.
I'll try to poke a bit more at it today, and look if something like that could be the reason.

[2020-04-03 08:48] niejar commented on #21436
Hello, any estimation for getting correction? This bug is impacting in our real product environment and we need to get correction (decent one) for it. Thank you.

[2020-04-03 08:50] spxcds commented on #20034
I got the same issue in grpc1.20.0.

[2020-04-03 09:22] jcampbell05 opened #22571 "protobuf_generate_grpc_cpp step in cmake doesn't build protobuf file"
### What version of gRPC and what language are you using?

1.25.0

### What operating system (Linux, Windows,...) and version?

MacOS Catalina

### What runtime / compiler are you using (e.g. python version or version of gcc)

Clang 11.0.3

### What did you do?

I use `protobuf_generate_grpc_cpp` in my CMakeList.txt file to trigger generating the protobuf file. But it does nothing.

### What did y

[2020-04-03 11:02] raboof opened #22574 "cmake gRPC_BUILD_TESTS build failing"
On current master (46838d1a0446356f2b9ca69052dc2d29afcfd82e), `cmake -DgRPC_BUILD_TESTS=ON && make` fails for me with:

[code]

What would be the direction to resolve this? I guess options are:
* change cxx03_test.c to skip the test when C++11 is detected instead of failing
* change the cmake configuration to skip cxx03_test.c when C++11 is used
* ...?

Which would you prefer?

[2020-04-03 13:17] sigurdm commented on #22512
Looking at the corresponding location of the stacktrace in the current sdk (https://github.com/dart-lang/sdk/blob/master/sdk/lib/_internal/vm/bin/socket_patch.dart#L1981) this should not be able to happen. (We have just checked that _raw is not null.
That check has been in the sdk for 9 moths: https://github.com/dart-lang/sdk/commit/f664a808500c09dcdcc14765a262a8eaf646892a
Fixing https://github.co

[2020-04-03 13:24] sigurdm commented on #22512
I'm OOO next week. So will not be able to get to the bottom of this before that. But updating the dart sdk used for the tests *might* be enough to fix this.

[2020-04-03 14:18] hongnod opened #22576 "Windows shared build failed"
### What version of gRPC and what language are you using?
v1.28.x C++
### What operating system (Linux, Windows,...) and version?
Windows10 1909

### What runtime / compiler are you using (e.g. python version or version of gcc)
vs2019 16.5.1/16.5.2
### What did you do?
 Try to build and install gRPC
 1、Static build  with： cmake ..\.. -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX =A/B/C

[2020-04-03 14:23] markdroth opened #22577 "TIMEOUT: cpp_macos_dbg_native.bins/dbg/boringssl_crypto_test --gtest_filter=BNTest.PrimeChecking GRPC_POLL_STRATEGY=poll"
https://source.cloud.google.com/results/invocations/29c0fade-869a-42b9-b6b4-bdb6d3ef81d0/targets/github%2Fgrpc%2Frun_tests%2Fcpp_macos_dbg_native/tests

[2020-04-03 15:35] raboof commented on #10273
Is the published build created with cmake or bazel? I guess we'd want to:
* move the code out of `test`
* (assuming a cmake build) introducing a separate flag for it instead of putting it under `gRPC_BUILD_TESTS`
* (assuming a cmake build) making sure it gets installed as part of the cmake install phase just like the plugins

?

[2020-04-03 16:07] tumusudheer commented on #22527
Tried with both valgrdin 3.13 and valgrind 3.15 on Ubuntu 18.04  with gcc. Kindly let me know how to fix the shutdown code if the memory leaks are occurring due to shutdown code.

[2020-04-03 16:58] raboof commented on #22574
Hm, of course `third_party/benchmark` is not in this repo ;), and their `test/CMakeLists.txt` does seem to have some logic to treat this test specially.

I didn't really look closer, but 'just blindly' updating the benchmark submodule *seems* to do the trick. Perhaps it's as simple as that?

[2020-04-03 17:05] gnossen commented on #10273
We've actually started encouraging people to use [`grpcurl`](https://github.com/fullstorydev/grpcurl). It's well-maintained, has [published binaries](https://github.com/fullstorydev/grpcurl/releases/tag/v1.5.0), and has a pretty complete feature set.

[2020-04-03 17:08] raboof commented on #10273
Makes sense, I'll put my energy there then ;) :+1:

[2020-04-03 17:19] gnossen commented on #10273
Going ahead and closing this issue as obsolete. If anyone has a compelling argument for it, feel free to revive the thread.

[2020-04-03 17:19] #10273 closed

[2020-04-03 17:27] xkortex opened #22579 "python -m grpcio_tools.protoc behaves counter to how it seemingly should behave"
Heart of the matter: https://github.com/grpc/grpc/blob/master/tools/distrib/python/grpcio_tools/grpc_tools/protoc.py#L34-L36

Kinda related to #8753 but it seems like it hasn't really resolved.

### What version of gRPC and what language are you using?
python3.6.9, python3.7.7

### What operating system (Linux, Windows,...) and version?
tested on ubuntu 18, mac sierra

### What runtime / compiler

[2020-04-03 17:35] yashykt commented on #13447
@nicolasnoble, I know you are overloaded, but would you be able to give some direction on what needs to be done here?

[2020-04-03 18:46] somethingnew2-0 opened #22581 "grpcio-1.28.1 fails to install for manylinux1_compatible"
### What version of gRPC and what language are you using?
grpcio-1.28.1 Python

### What operating system (Linux, Windows,...) and version?
Linux Alpine

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s

[2020-04-03 18:52] gnossen commented on #22581
@somethingnew2-0 This is intended. See [the announcement](https://groups.google.com/g/grpc-io/c/VdoTPMT5WwU) from December. In order to take advantage of newer features in the gRPC C extension, we've dropped support for `manylinux1` starting with the 1.28 release and have moved to `manylinux2010` instead.

CC @veblush

[2020-04-03 19:28] somethingnew2-0 commented on #22581
@gnossen that announcement is a 404 for me, but thanks for the information and the quick response!

I'll use the `manylinux2010` artifact for now, but we'll probably be moving from alpine to distroless for our docker image soon which is based on Debian10.

Thanks again @veblush and @gnossen!

[2020-04-03 19:28] #22581 closed

[2020-04-03 20:08] veblush commented on #22581
This [link](https://groups.google.com/d/msg/grpc-io/VdoTPMT5WwU/fMmXxFiBAwAJ) would work.

[2020-04-03 20:30] veblush commented on #22581
FYI, gRPC python can be built from a source package, too. This can be done by installing prerequisite packages before installing grpcio on the same alpine docker image.

[code]

[2020-04-03 21:13] apolcyn commented on #18892
[code]

https://source.cloud.google.com/results/invocations/9d5f40b9-c05d-4321-9d15-6abee6ae0388/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

[2020-04-03 21:47] tylandercasper commented on #21633
Did you ever have any luck resolving this? I'm trying to get Text to speech to work in Unity it completely hangs the editor :(

[2020-04-03 21:58] sreejit-a commented on #12570
We figured out the issue eventually - We were incorrectlly referring netstandard version of the grpc dlls and not .Net Framework ones - so GetAssemblyPath()  in NativeExtension.cs was returning the actual file path rather than the EscapedCodeBase path.

[2020-04-03 22:56] stanley-cheung commented on #22554
@s1lver Thanks for the report. Does this work prior to 1.27.0?

[2020-04-03 23:09] rib commented on #21633
Unfortunately not, I basically gave up :(

I've tried multiple version of Unity, I've tried multiple versions of these C# bindings and I've tried multiple async/await integrations for Unity and haven't been able to find a combination that works - I actually don't currently understand how anyone is apparently using these bindings since I really couldn't find any version where the editor wouldn't ha

[2020-04-03 23:30] Mohanedy98 commented on #21773
This fixed the problem for me
in the project directory using terminal
[code]

[2020-04-04 03:51] Lola150716 commented on #22554
GTI

[2020-04-04 03:58] Lola150716 commented on #22554
Duplicate of #`

[2020-04-04 03:59] Lola150716 commented on #22554
Duplicate of # #21773

[2020-04-04 04:14] stanley-cheung commented on #22554
Hm, doesn't look like this is a duplicate of #21773.

[2020-04-04 04:18] RaymondReddington opened #22587 "can grpc allow .proto file importing remote proto definition?"
can grpc allow .proto file importing remote proto definition?
grpc definition is always service only definition, and different service may share message structure.
store same message definition in different grpc deinition files will make it hard to change , update or fix message definition.

[2020-04-04 18:49] #22316 closed

[2020-04-05 03:03] foreverchaos opened #22590 "grpc-python get reflected services"
hello,
I want to request a feature for grpc-python, like grpc_cli in go
Given a service endpoint: 1.2.3.4:50001, return the all services list and rpc api under these services
is there an existing api for above in grpc-python?

[2020-04-05 09:40] s1lver commented on #22554
I didn't check

[2020-04-05 10:36] IIFE commented on #22262
@veblush @nicolasnoble Will this issue be looked into at all please? It's been a month without any input from anyone?

[2020-04-05 10:54] sshoster commented on #22442
Hi @jiangtaoli2016
we change both client and server side with the following ciphers and all failed.
**1.)** ECDHE-ECDSA-AES256-GCM-SHA384,ECDHE-RSA-AES256-GCM-SHA384

**2.)** ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:E

[2020-04-05 14:31] sshoster commented on #22442
update:
When we change ngnix configuration from
` ssl_ecdh_curve secp384r1;`
to
` ssl_ecdh_curve auto;`
Client connection works !!

Can you tell if grpcio supports : secp384r1 ?

if no when will be supported ?

[2020-04-05 19:32] #20427 closed

[2020-04-05 23:21] jiangtaoli2016 commented on #22442
@sshoster You are right. I just realized that P256 curve was [hardcoded](https://github.com/grpc/grpc/blob/master/src/core/tsi/ssl_transport_security.cc#L798) :(

Let me create a gRPC issue to support 384-bit curves.

[2020-04-05 23:23] yihuazhang commented on #22489
I agree that it's indeed a problem. As you mentioned, we need to use a lock in server's security connector to synchronize the updates to `server_handshaker_factory_ `. We already applied the similar mechanism in [TLS](https://github.com/grpc/grpc/blob/c97492faf01b3d2d19c39fc7f81edc3a90d74ef8/src/core/lib/security/security_connector/tls/tls_security_connector.cc#L580). I will prepare for a PR to fi

[2020-04-05 23:26] jiangtaoli2016 opened #22591 "Support ECC secp384r1 in gRPC Core and wrapped langages"
So far P256 curve is [hardcoded](https://github.com/grpc/grpc/blob/master/src/core/tsi/ssl_transport_security.cc#L798) in ssl_transport_security.cc. Customer request to support 384-bit curves.

[2020-04-05 23:26] jiangtaoli2016 commented on #22442
https://github.com/grpc/grpc/issues/22591 created to keep track. We will fix in Q2.

[2020-04-05 23:44] barisucar4041 commented on #22515
Xvde

[2020-04-06 05:37] s1lver commented on #22554
I check 1.25 and 1.26 version - same error

[2020-04-06 06:13] jtattermusch commented on #20205
Makefile support is now deprecated. Please use cmake.

[2020-04-06 06:13] #20205 closed

[2020-04-06 06:48] chrisse74 commented on #22496
Okay, thanks for the information.
Whats the best way to proceed?
Close this issue and file a feature request to get something like resolv.conf's 'options single-request' in grpc?

[2020-04-06 11:26] sshoster commented on #22442
that's great news thank you @jiangtaoli2016 waiting for that fix :-)

[2020-04-06 13:38] VasilchukVV commented on #22485
Please fix this bug. This is not a minor priority. Or indicate the dates when there will be a fix. We use only IL2CPP. The release of our project has been postponed for this reason. I look forward to it. Thanks

[2020-04-06 13:43] VasilchukVV commented on #22485
It may be possible to post a temporary build with a hacker fix?

[2020-04-06 14:32] dulek opened #22592 "Python grpcio 1.28.1 not installable on CentOS 8"
### What version of gRPC and what language are you using?
1.28.1

### What operating system (Linux, Windows,...) and version?
Linux CentOS 8, latest centos:8 container.

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6, gcc-8.3.1-4.5.el8.x86_64

### What did you do?
Occurs when this Dockerfile installs grpcio: https://github.com/openstack/kuryr-kubernete

[2020-04-06 14:38] prometheanfire commented on #22592
What's the gcc build log say?  Knowing that it exits(1) doesn't help too much by itself.

[2020-04-06 14:40] dulek commented on #22592
Ha, good question. Isn't this the root error?

[code]

Let me see if I'm not missing a dep…

[2020-04-06 14:45] prometheanfire commented on #22592
ya, that looks right, skipped over it in my reading :D

[2020-04-06 14:50] dulek commented on #22592
Okay, looks like adding `gcc-c++` package actually helped. Very well, we can fix this in kuryr-kubernetes now.

[2020-04-06 14:50] #22592 closed

[2020-04-06 16:28] steveoh commented on #12570
@sreejit-a we as in the google package owner of the grpc? So this will be fixed when you push an update?

[2020-04-06 18:11] #20342 closed

[2020-04-06 18:11] #20438 closed

[2020-04-06 21:28] #20449 closed

[2020-04-06 21:28] #20450 closed

[2020-04-06 21:28] #20444 closed

[2020-04-06 21:28] #20445 closed

[2020-04-06 22:53] lidizheng commented on #22590
Please see your thread in grpc-io group: https://groups.google.com/g/grpc-io/c/SS9pkHMiLK4/m/r8XM1mqfBQAJ

We handle questions in Google groups and StackOverflow.

[2020-04-06 22:58] #22590 closed

[2020-04-07 00:33] #19802 closed

[2020-04-07 01:48] bastova opened #22598 "Custom audience for C++ jwt credentials"
### Is your feature request related to a problem? Please describe.
Currently the method that creates CallCredentials with a jwt token doesn't accept audience parameter.
ServiceAccountJWTAccessCredentials(
    const grpc::string& json_key,
    long token_lifetime_seconds = grpc::kMaxAuthTokenLifetimeSecs)

it creates an audience that is not compatible with the default Cloud Endpoints audience of th

[2020-04-07 02:26] yashykt commented on #21870
I don't see a failure since 23rd March. Closing this. (Probably fixed by https://github.com/grpc/grpc/pull/22420 )

[2020-04-07 02:26] #21870 closed

[2020-04-07 02:38] SarielTang commented on #22505
Sorry, we also happen occasionally, I don't know how to reproduce.

[2020-04-07 09:54] frank-xlj commented on #22530
No comments?

[2020-04-07 12:42] coryan commented on #19224
Please keep this open.  This continues to be a problem:

* The ABI changes unexpectedly and contrary to common practice for OSS libraries.
* The documentation does not describe this problem, nor does it describe that only Bazel is expected to work with the sanitizers (which would be less than ideal, but at least upfront about the deviation from common practices).

[2020-04-07 13:03] fengshaoxie opened #22601 "How to take the initiative Server Call the active Client Function"
### What version of gRPC and what language are you using?
grpc-1.27.x  C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.4

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version 7.5.0
### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there

[2020-04-07 14:51] jtattermusch commented on #19547
The file seems out of date indeed
https://github.com/grpc/grpc/blob/master/.gitmodules

[2020-04-07 15:20] MatthewT123 opened #22603 "Surprisingly high memory usage in async helloworld C++ example"
### What version of gRPC and what language are you using?
C++ v1.25.0

### What operating system (Linux, Windows,...) and version?
Linux, ubuntu-18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 7.4.0

### What did you do?
Ran the greeter async client and server example with the three minimal edits detailed below in [greeter_diffs.txt](https://git

[2020-04-07 15:33] mgravell opened #22605 "C# remove the class constraint on TRequest / TResponse"
The API currently has a fundamental constraint against value-types, with:

[code]

scattered throughout lots of the call APIs. This is fine for the Google protobuf implementation which is always classes, but I've seen repeated calls for support for value-types - both [from protobuf-net.Grpc users](https://github.com/protobuf-net/protobuf-net.Grpc/issues/27), and [separately (F#, etc)](https://stac

[2020-04-07 17:43] #20472 closed

[2020-04-07 17:45] lidizheng commented on #18620
Still wanted.

[2020-04-07 17:53] muxi commented on #20258
not stale

[2020-04-07 18:04] tglanz commented on #21989
having exactly the same issue, same versions, much simpler .proto

[2020-04-07 18:20] markdroth opened #22606 "FLAKE: //test/core/end2end:h2_compress_test@payload[darwin-opt]"
https://source.cloud.google.com/results/invocations/8d475b8f-48f2-43a4-a14f-e185e8d60f65/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_compress_test@payload/log

[code]

[2020-04-07 18:22] gmishkin commented on #20332
Loathe to add a “me too” but I subscribed to this a while back because I’m having the same issue. And I just got a notification and was excited but it was the stale bot so I thought I’d chime in!

[2020-04-07 18:25] markdroth opened #22607 "FLAKE: nodepurejs interop failures"
https://source.cloud.google.com/results/invocations/7b08fe77-8ccd-4869-b9e3-b04c99e59830/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_prod:nodepurejs:default:server_streaming:tls;row=3

It looks like several tests are failing due to calls terminating with status CANCELLED.

[2020-04-07 18:32] hdnn opened #22608 "OpenSSL cleanup"
### What version of gRPC and what language are you using?
1.23.0

### What did you do?
My application use gRPC(with secured channel) and another library(UA-AnsiC) that also use OpenSSL.
When gRPC client make first request to server, it call `init_openssl()` function from `ssl_transport_security.cc`  that call `CRYPTO_set_id_callback()` OpenSSL function.
On application `shutdown` step, **gRPC exit

[2020-04-07 20:01] xkortex commented on #22579
Huh, so actually this does what I expected to to now:
[code]

I seem to remember this path structure/ protoc syntax not working a year ago, like it generated the wrong relative import path. Maybe I'm misremembering or had some minor yet significant difference.

Either way, it seems like both `-I.` and `-Ifoolib/protobuf` should work the same. Why does the latter break?

[2020-04-07 22:31] bdhess opened #22613 "Spurious error messages running tests that use gRPC client with Bazel"
### What version of gRPC and what language are you using?
C++; commit `78ace4cd5dfcc1f2eced44d22d752f103f377e7b` built with Bazel

### What operating system (Linux, Windows,...) and version?
CentOS Linux release 7.7.1908 (Core)
This is a GCE VM.

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)

### What did you do?
Used

[2020-04-08 02:36] yashykt opened #22614 "chttp2 doesn't respect maximum window size for flow control"
I ran into this while debugging https://github.com/grpc/grpc/pull/22575.

By changing the max_recv_size hint to the max possible size, chttp2 ends up clamping the flow control window to UINT32_MAX instead of (2^31 - 1). This difference means that we end up advertising the total available flow control window to a size larger than (2^31 - 1) which is illegal.

Note that we still clamp the individual

[2020-04-08 02:39] yashykt commented on #22614
To recreate this, we simply need to provide a max_size hint of ~static_cast<size_t>(0) in the Next call of the message_decompress filter

[2020-04-08 02:57] canghwan commented on #22251
https://issuetracker.unity3d.com/issues/could-not-load-file-or-assembly-error-when-assembly-dependency-is-in-another-folder?_ga=2.195835948.1013030992.1586163171-425932875.1567394600

I not sure it clearly solve a bug.
I gather all of dll in same folder then error message disappeared.
platform build testing in progress, but editor is clearly fine.

[2020-04-08 03:58] TheCactusBlue commented on #22485
@VasilchukVV Try this out, which is the patch I've made following the above steps.
https://drive.google.com/file/d/1aay2q5mGVMbhqCR6i2eb4jC2OKu4V90X/view?usp=sharing

[2020-04-08 04:15] milunski opened #22616 "[Python Install] Cryptic error when trying to install grpcio."
### What version of gRPC and what language are you using?
Looks like `1.28.1`. Using Python.
[error_log.txt](https://github.com/grpc/grpc/files/4448138/error_log.txt)

### What operating system (Linux, Windows,...) and version?
NAME="Pop!_OS"
VERSION="19.04"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Pop!_OS 19.04"
VERSION_ID="19.04"
HOME_URL="https://system76.com/pop"
SUPPORT_URL="http://support.syste

[2020-04-08 04:18] whalesalad commented on #18150
@ChazZeromus that change combined with increasing the heft of my buildbox (using AWS Codebuild which uses Docker under the hood) has dramatically improved my performance. Thank you immensely for the tip!

[2020-04-08 06:42] lidizheng commented on #22616
It seems you are trying to compile `grpcio` from source. Can yo upgrade your `pip` to `>19.0.0` and try again?

[2020-04-08 08:59] cerberusv2px opened #22617 "Server in python and client in nodejs"
### What version of gRPC and what language are you using?
Latest version. Server: python and Client: NodeJS

### What operating system (Linux, Windows,...) and version?
MacOS Catalina 10.15.1 (19B88)

### What runtime / compiler are you using (e.g. python version or version of gcc)
3.6

### What did you do?
Made server in python and client in NodeJS with simple RPC. I used `stub.Generate(...,...)`

[2020-04-08 10:33] mgravell commented on #22605
@JamesNK [and here for the grpc-dotnet impact](https://github.com/mgravell/grpc-dotnet/commit/076e4f64359b142f3c535e623a6dc93d71113f52) - not including the actual `TRequest
: class`/`TResponse : class` removals, which are dependent on the API change here first, but hypothetically *the changes in this message* could be applied in advance separately

[2020-04-08 10:37] mgravell commented on #22605
(obviously if I were to put together PRs for either of these, I would add tests actually showing it being used with value-types, but that is secondary to checking that folks are interested in the API change)

[2020-04-08 12:42] #20437 closed

[2020-04-08 13:33] milunski commented on #22616
This did it! Thank you!

[2020-04-08 13:33] #22616 closed

[2020-04-08 14:03] Norman0406 commented on #20409
This ticket is still relevant, any updates on the progress?

[2020-04-08 14:26] markdroth opened #22618 "grpc_basictests_csharp build failure due to .NET SDK version mismatch (failed to download dotnet SDK)"
https://source.cloud.google.com/results/invocations/f569c62a-9296-4a2b-aee5-180a9253e1ab/targets

Seeing a bunch of errors like this one:

[code]

[2020-04-08 14:28] jtattermusch commented on #19172
Let's keep this open.

[2020-04-08 14:43] jtattermusch commented on #20375
Let's keep open.

[2020-04-08 15:30] jtattermusch commented on #22618
Looks like this is a one-off failure where the prepare script failed to download the newer version of dotnet SDK.

[code]

[2020-04-08 16:56] wicharypawel commented on #17672
I am working on load balancing feature for grpc dotnet, this one take me almost a day because I have to integrate with envoy api which has 25+ duplicating files (I have written small program to count if for me) out of 344 files. I am trying to apply workaround however it is painful.

@jtattermusch or @Falco20019 could you tell me if this can be pullrequested? Without digging into code it seams sim

[2020-04-08 17:50] jtattermusch commented on #17672
@wicharypawel I would love to have this fixed but I don't have the cycles. Feel free to help out.

[2020-04-08 17:54] jtattermusch commented on #22512
I updated the dart SDK in the interop test to 2.7. Let's see if that helps.

[2020-04-08 18:18] markdroth commented on #16003
Seen again in //test/core/end2end:h2_local_ipv4_test@keepalive_timeout[darwin-opt]:

https://source.cloud.google.com/results/invocations/787d9d6a-ffca-4279-a08f-8c84bd82c032/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_local_ipv4_test@keepalive_timeout/log

[code]

[2020-04-08 18:23] markdroth opened #22623 "FLAKE: tests.cloud_to_prod_auth:nodepurejs:default:jwt_token_creds:tls and tests.cloud_to_prod_auth:nodepurejs:gateway_v4:jwt_token_creds:tls"
https://source.cloud.google.com/results/invocations/158e584e-4df0-44ce-98b5-febac07d4de7/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_prod_auth:nodepurejs:default:jwt_token_creds:tls;row=1

Both tests failing with similar errors:

[code]

[2020-04-08 19:24] tumusudheer commented on #22527
Hi,
Just checking for any assistance. Thank you.

[2020-04-08 19:40] wicharypawel commented on #17672
What about a solution? 💃

[code]

[2020-04-08 19:48] alpire opened #22624 "Deadlock in grpc_postfork_child"
### What version of gRPC and what language are you using?

Using gRPC with python with the following versions:
grpcio==1.27.2
grpcio-tools==1.27.2
protobuf==3.11.3

### What operating system (Linux, Windows,...) and version?
Code is running in a docker container on top of a MacOS host.

Container Image: python:3.7.2-slim-stretch
Container Kernel: Linux 86c156b973bf 4.19.76-linuxkit #1 SMP Thu Oct

[2020-04-08 20:01] lidizheng commented on #22624
@alpire Can you set env `GRPC_ENABLE_FORK_SUPPORT=0` and run your example again to see if the fork support is the culprit?

[2020-04-08 20:19] alpire commented on #22624
@lidizheng: Just started a new experiment with `GRPC_ENABLE_FORK_SUPPORT=0`. I'll have to run it for at least a few days to conclude that the bug does not trigger given the race is pretty tight.

Looking at `fork_posix.cc`, it does look like this particular deadlock would not happen with `GRPC_ENABLE_FORK_SUPPORT=0` given that `grpc_postfork_child` is skipped. I'm not sure if disabling fork suppor

[2020-04-08 20:36] lidizheng commented on #22624
Forking on the server-side is an unsolved problem. We don't currently support forking the server process while the server is running. If the application needs to be ran in parallel, the application can pre-fork before any gRPC server started.

I might be wrong, I though `Popen` does fork+exec for us? Can you give more detail about the "pre-exec function"?

If you are only using fork+exec, it is fi

[2020-04-08 20:48] yashykt commented on #22527
Hi, this seems to be working normally. gRPC has some global data structures that are allocated once and never released. We are basically depending on them being cleaned up automatically on process shutdown.

[2020-04-08 20:48] #22527 closed

[2020-04-08 22:24] gnossen commented on #22607
It appears that this is a partly a problem with changes to the GFE.

[2020-04-09 00:49] KeithMoyer commented on #20396
This bug is still present in gRPC 1.28.1 with Bazel 3.0.0

[2020-04-09 01:42] #14685 closed

[2020-04-09 05:03] Falco20019 commented on #17672
This is still blocked by https://github.com/grpc/grpc/issues/13724 which I created almost 2.5 years ago.

I got some more knowledge about the build system in the last yet and will look into creating a Pull Request based on @wicharypawel‘s approach later today. I will give it a flag to enable as this is not the default behavior and not backed by the plugin.

[2020-04-09 08:47] wicharypawel commented on #17672
@Falco20019 if you prepare a sample public repository with your case I can try to do some MSBuild magic to make it happend.

Something simple, I assume there would be two projects and sample helloworld.proto files. Just to quickly reproduce.

[2020-04-09 08:52] Falco20019 commented on #17672
No problem, I just go the clean way and finally bring `base_namespace` to the `grpc_csharp_plugin`. Just created the PR for it: #22627 :)

I will add another PR for adding support to Grpc.Tools right now.

[2020-04-09 08:55] Falco20019 commented on #13724
I implemented it now by using the same logic as was used for the `csharp_generator` in `protoc`. I tested it locally for all paths and it seems to work like a charm. I even added the returned error message as the current version only returns `false` without setting the `error` variable.

As second step, I prepare another PR for the Grpc.Tools adjustment.

[2020-04-09 09:07] ak800i commented on #16118
+1 to this.
Have any plans formed to work on this, since?

[2020-04-09 09:31] jtattermusch commented on #20556
It is up to date now.

[2020-04-09 09:31] #20556 closed

[2020-04-09 10:44] wicharypawel commented on #17672
@Falco20019, I have created PR with update to Grpc.Tools documentation, with proposed solution, mainly for those people who are looking for solution today. When your PR will be merged I would ask you to update documentation.

[2020-04-09 13:50] Falco20019 commented on #17672
@wicharypawel Great! This will help users until Grpc.Tool is finally able to support it fully. In #22630, I already updated the documentation. It was a bit of work necessary to get the namespace resolution into MSBuild, but I tried it out locally with different use cases and it seems to work.

Would love to see other also try out the PR and also check the updated documentation as I'm not a native

[2020-04-09 14:40] pawelpetruch opened #22632 "C#: Running in Debian Buster docker container fails with "Grpc.Core.Internal.UnmanagedLibrary Attempting to load native library "/app/libgrpc_csharp_ext.x86.so""
### What version of gRPC and what language are you using?
C#

### What operating system (Linux, Windows,...) and version?
Docker, Debian 3.1-buster-slim-arm32v7 running on Raspberry Pi 3.

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.1

### What did you do?
I was trying to build a docker image to use it on arm32v7 (RPi).
This build without specifyin

[2020-04-09 16:44] alpire commented on #22624
This is helpful to know. Does this apply to fork+exec as well? (i.e is fork+exec supported on the server side, assuming `GRPC_ENABLE_FORK_SUPPORT=0`?)

Popen does indeed fork+exec, but it accepts a callback function as an argument called `preexec_fn`. The callback is called from the child process before exec, and is known to cause issues in multithreaded applications, so I don't expect gRPC to han

[2020-04-09 17:25] lidizheng commented on #22624
We don't have tests for fork+exec with fork-support-off and server-running. If it works, please consider contribute a test case for it.

To my knowledge, gRPC Python doesn't seem to handle `preexec_fn`. TIL.

[2020-04-09 18:27] maettu-this commented on #17961
Hey guys, (or hey stale bot), just because you don't find time to get this fixed, it doesn't mean it no longer applies!

[2020-04-09 19:30] yashykt commented on #21627
seen again on #22615
Setting priority to P2

[2020-04-09 19:31] #22614 closed

[2020-04-10 01:03] stanley-cheung commented on #22554
@s1lver So we did some research on this. Turns out - the minimum requirement for `gcc` has been recently set to 4.9+. See https://grpc.io/about/. The bump of requirement from 4.8 to 4.9 happened at PR #21671, which is picked up by the PHP extension by version 1.27.0 and after.

But when we test the install with gcc 4.9, in RHEL 7, with PHP 7.2, we ran into another error, but almost the same we fou

[2020-04-10 04:02] frankang commented on #9538
got the same error when using grpc behind a https proxy.

[2020-04-10 08:25] HassanHashemi opened #22637 "Provide a way to customize generated classes in dotnet Grpc.Tools"
### Is it a feature request?
Yes, However not sure if it's technically possible (because we just delegate the call to `protoc` command line tool to generate the code).

we are in the process of migrating a CQRS over rest API based app to GRPC.
today our API actions look like this: `FooController`

    public async Task<IActionResult> CreateFoo(CreateFooCommand command)
    {
        var result = a

[2020-04-10 14:46] VasilchukVV commented on #22485
thanks a lot! I will test

[2020-04-10 16:40] srajagopalan-fliptrx commented on #18210
I am running the multiprocessing example , but on the server logs, I see that same process id is being printed. This means that different processes are not being used ?

[2020-04-11 02:42] gnossen commented on #18210
@srajagopalan-fliptrx That would make sense if you're running on a single core machine. Regardless, I think that's a separate from this issue. Would you create a new issue with more detail?

[2020-04-11 03:43] bocon13 commented on #21436
Hi everyone, I submitted a PR that fixes this issue: https://github.com/grpc/grpc/pull/22626

I've tested it in my environment and the client (golang in my case) no longer hangs. Please let me know if you have any feedback.

Thanks!

[2020-04-11 04:58] DrRibosome commented on #18075
is there any update on whether this affects cpython 3.8?

[2020-04-11 14:28] srajagopalan-fliptrx opened #22644 "Python multiprocessing example shows that same process is handling the incoming requests"
### What version of gRPC and what language are you using?
grpc version : 1.28.1 on  Python 3.7.4

### What operating system (Linux, Windows,...) and version?
macOS Mojave , version 10.14.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.4

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to f

[2020-04-11 19:57] #18638 closed

[2020-04-11 21:52] dmars1972 opened #22645 "Can't install using pip on ubuntu 19.04"
### What version of gRPC and what language are you using?
1.28.x, pip3 (although I have the same issue with 2.7)

### What operating system (Linux, Windows,...) and version?
Ubuntu 19.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 8.3

### What did you do?
git clone -b v1.28.x https://github.com/grpc/grpc
cd grpc
git submodule update --init
GRPC_PYTHON_BU

[2020-04-12 04:22] rizsotto opened #22646 "`librt.so` is in the link library list when linking static"
### What version of gRPC and what language are you using?

v1.28.1

### What operating system (Linux, Windows,...) and version?

Linux (Fedora 31)

### What runtime / compiler are you using (e.g. python version or version of gcc)

c++ (GCC) 9.3.1 20200317 (Red Hat 9.3.1-1)

### What did you do?

1. My project include gRPC with `git submodule`.
2. The project's main CMake uses
[code]
3. The source

[2020-04-12 06:58] Noemata commented on #18789
This particular issue has been resolved.  The others that remain have workarounds that are described elsewhere.

[2020-04-12 06:58] #18789 closed

[2020-04-12 07:06] Noemata commented on #20344
Because reflection is used to resolve assemblies in parts of the grpc DLL loader code, IL2CPP will not generate correct code for assembly name resolution.  Fixes for this have been described elsewhere.  Filter with UWP to see the workaround code.

[2020-04-12 07:29] mehrdada commented on #20161
Looks like it's fixed now, thanks! Will reopen if I discovered an issue with it.

[2020-04-12 07:29] #20161 closed

[2020-04-12 07:36] amitwaisel commented on #19215
Hi @jtattermusch I missed your last comment
I think it happens all the time under the circumstances described (the server is loaded during the connection initialization process from the client side). My code already bypasses this issue (triggers multiple calls to “flush the buffers” on connection) so I cannot know for sure if it still happens on latest versions. I encountered it only on Android cl

[2020-04-12 08:58] henribru commented on #15243
Any progress on this?

[2020-04-12 12:23] coryan commented on #16571
This remains a problem.

[2020-04-12 13:00] dyseo commented on #20038
i have sams issue here, this issue already closed? i didn't see any hint

[2020-04-12 13:22] thedrow commented on #4221
HPy is now in progress.
Maybe we can try to use it to support PyPy?

[2020-04-13 01:42] yihuazhang commented on #22489
Mailed out https://github.com/grpc/grpc/pull/22647 for a review

[2020-04-13 14:51] njbrake commented on #21931
@jackopoz Would you be able to post your final cmake config for this? I am also trying to cross compile grpc for ios from source, and after implementing the fixes suggested in this thread, I'm still running into other issues, including but not limited to:

`ld: library not found for -lnsl`

Thanks!

[2020-04-13 15:46] jtattermusch commented on #22632
The Grpc.Core nuget doesn't provide a pre-built version of libgrpc_csharp_ext.x64.so for ARM processors (only for intel - feel free to look at the native libraries provided by default by inspecting the contents of the nuget), so what you're trying to do is not supported.

[2020-04-13 15:46] #22632 closed

[2020-04-13 16:20] jtattermusch commented on #18947
We only support bazel 1.0+

[2020-04-13 16:20] #18947 closed

[2020-04-13 16:35] lidizheng commented on #22644
This should be solved by https://github.com/grpc/grpc/pull/22643.

[2020-04-13 16:44] lidizheng commented on #15243
As I read the issue comments, this issue seems like a feature request for adding type annotations to generated code. This is on the road map of the AsyncIO stack https://github.com/grpc/proposal/pull/155.

[2020-04-13 16:48] anon17 commented on #20134
I believe during deserialization happens an exception due to a missing dll, but it gets discarded and instead of it an RpcException is delivered to the caller. That said, RpcException has no constructor that accepts inner exception. Such loss of the source exception complicates diagnostic.

[2020-04-13 17:00] anon17 commented on #20134
[The deserialization exception is lost here](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/Internal/AsyncCallBase.cs#L349)

[2020-04-13 17:01] #19254 closed

[2020-04-13 17:02] #19252 closed

[2020-04-13 17:02] #19256 closed

[2020-04-13 17:02] gnossen commented on #19340
Still wanted.

[2020-04-13 17:05] gnossen commented on #19524
Still wanted.

[2020-04-13 17:13] pawelpetruch commented on #22632
My post doesn't mention libgrpc_csharp_ext.**x64**.so but  libgrpc_csharp_ext.**x86**.so.

How could I use the grpc library in this container then? Would I need to build it manually?

[2020-04-13 17:13] anon17 commented on #20134
If RpcException delivered the source deserialization exception to the caller as [inner exception](https://docs.microsoft.com/en-us/dotnet/api/system.exception.innerexception), it would be self-explanatory to the caller.

[2020-04-13 17:45] gnossen commented on #22644
@srajagopalan-fliptrx To confirm, since I'm not actually seeing logs for the failure to bind with `SO_REUSEPORT` (does this log include `stderr`?), how did you install `grpcio`? Did you use pip? If so, take a look at [the comments in the example](https://github.com/grpc/grpc/blob/b25682427c748cc4cc71bded16334010c6d1cafc/examples/python/multiprocessing/server.py#L70). As @lidizheng pointed out abov

[2020-04-13 18:58] #20374 closed

[2020-04-13 19:32] gnossen commented on #22645
Relevant linker error:

[code]

CC @nicolasnoble @veblush

[2020-04-13 19:39] gnossen opened #22650 "Go Cloud-to-Cloud ALTS Interop Failure"
https://source.cloud.google.com/results/invocations/f2311cc4-c5db-4af3-90f8-709165d7ddf3/log

[code]

[2020-04-13 19:39] #18210 closed

[2020-04-13 20:51] mlhere commented on #20831
I had the same issue with "Python 3.7.5" and upgrading pip resolved the issue.
pip3 install --upgrade pip

[2020-04-13 21:58] #20545 closed

[2020-04-13 23:14] KeithMoyer opened #22653 "Bazel build fails with incompatible_load_cc_rules_from_bzl"
### What version of gRPC and what language are you using?
HEAD (b25682427c)

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel 3.0.0

### What did you do?
`bazel build --incompatible_load_cc_rules_from_bzl //:grpc`

### What did you expect to see?
Successful build

### What did you see instead?

[2020-04-14 00:58] #18708 closed

[2020-04-14 00:58] #18755 closed

[2020-04-14 00:58] #18802 closed

[2020-04-14 00:58] #19159 closed

[2020-04-14 00:58] #19191 closed

[2020-04-14 00:58] #19399 closed

[2020-04-14 00:58] #19152 closed

[2020-04-14 03:59] #20550 closed

[2020-04-14 07:08] #20203 closed

[2020-04-14 16:01] dmitigr commented on #22646
The root of problem is in Abseil's (absl) absl/base/CMakeLists.txt:
[code]
This will always prefer a shared library.

[2020-04-14 16:42] ak800i commented on #16118
@jtattermusch I would like to implement the API integration for this feature. Would you be so kind as to give me some code pointers. I would be especially glad for a previous pull request which added C# API integration for some other feature. I am sorry if this is not the proper forum for this discussion. I have also posed the same question over at google groups: [https://groups.google.com/forum/#

[2020-04-14 18:44] markdroth commented on #22650
Seeing similar failures in these two tests:

tests.cloud_to_cloud:c++:go_server:client_streaming:alts
tests.cloud_to_cloud:go:go_server:status_code_and_message:alts

https://source.cloud.google.com/results/invocations/66ebde47-da6c-47b7-bec0-5cb4b5494987/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:c%2B%2B:go_server:client_streaming:alts;row=1

[2020-04-14 18:59] #20355 closed

[2020-04-14 18:59] #20379 closed

[2020-04-14 18:59] #20296 closed

[2020-04-14 18:59] #18989 closed

[2020-04-14 18:59] #20557 closed

[2020-04-14 18:59] #19801 closed

[2020-04-14 18:59] #19004 closed

[2020-04-14 18:59] #19864 closed

[2020-04-14 18:59] #19186 closed

[2020-04-14 18:59] #18709 closed

[2020-04-14 18:59] #19273 closed

[2020-04-14 18:59] #17453 closed

[2020-04-14 18:59] #19805 closed

[2020-04-14 18:59] #19717 closed

[2020-04-14 18:59] #20292 closed

[2020-04-14 19:11] sujiths commented on #19962
Thanks @yashykt.

[2020-04-14 19:18] menghanl commented on #22650
cc @cesarghali

[2020-04-15 02:33] Martin20 commented on #22472
When I call it inside the server-side, the server function is never called. Therefore, there is a timed out on the client-side.

[2020-04-15 07:18] jtattermusch commented on #21627
Fixed by https://github.com/grpc/grpc/pull/22657

[2020-04-15 07:18] #21627 closed

[2020-04-15 14:23] stevenwjy commented on #22430
Hi, sorry, does anyone else encounter this issue? Or perhaps this only happens in my laptop? It seems that this problem still occurs even after I update my grpc to v1.28.1 and bazel to v3.0.0.

Also, it looks like the some of the dependencies still use python 2?

[2020-04-15 14:53] sumsarj commented on #22510
Hi again,
Any progress to the problem so far?

I have found one solution which might work for your case as well:

The solution is to have one thread working on a new separate completion queue of type DEFAULT_POLLING that is not used to serve any client connections. That means that this thread will be fully dedicated to grpc's IO work.

Then I can have the other completion queues which actually are

[2020-04-15 15:29] jtattermusch commented on #22650
This is a high impact flake (see flakiness dashboard screenshot), please fix ASAP.
![image](https://user-images.githubusercontent.com/9939684/79355927-999b1980-7f3e-11ea-9a63-8d5566133dae.png)

[2020-04-15 15:43] markdroth commented on #22472
I don't see how the presence of the server function can cause a timeout if the server function is never getting called.

I suspect that there's some bug either in your application or in your debugging.  But without seeing detailed logs showing the time before and after the server function, I don't think there's anything we can do to help.

Good luck!

[2020-04-15 15:43] #22472 closed

[2020-04-15 16:03] vjpai commented on #22472
Use std::chrono for setting deadlines on the ClientContext, not gpr_timespec . The latter may build for reasons, but isn't actually part of the c++ api and shouldn't be used by user code.

[2020-04-15 16:44] menghanl commented on #22650
The revert PR (https://github.com/grpc/grpc-go/pull/3528) has been merged, is this still happening?

[2020-04-15 18:09] #20571 closed

[2020-04-15 20:02] #19947 closed

[2020-04-15 22:46] thisisnotapril commented on #22294
lgtm!

[2020-04-15 23:10] yashykt commented on #11344
Thanks for digging this up, Vijay! Should be fixed by https://github.com/grpc/grpc/pull/22668

[2020-04-15 23:20] #20492 closed

[2020-04-15 23:20] #20491 closed

[2020-04-15 23:20] #20459 closed

[2020-04-15 23:20] #20098 closed

[2020-04-15 23:20] #18836 closed

[2020-04-15 23:20] #20281 closed

[2020-04-15 23:20] #20241 closed

[2020-04-16 02:24] xijiz commented on #22581
It works. Thank you!!

[2020-04-16 04:52] Paxa opened #22680 "Proto comments in reflection"
What do you think about adding code comments to reflection message for documentation purpose?

Then it will be possible to build documentation like this https://github.com/pseudomuto/protoc-gen-doc dynamically from server, and combine with UI like this https://github.com/gusaul/grpcox#demo

It can be like openapi for grpc

May be can make comments more structured, something like javadoc, can separ

[2020-04-16 09:05] electrofelix opened #22681 "NO_PROXY handling doesn't support CIDR addresses"
# What version of gRPC and what language are you using?

1.27.1 python

### What operating system (Linux, Windows,...) and version?

Debian 10 (python:3.7-slim)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7

### What did you do?

Spun up a container in a local k8s development environment with NO_PROXY set to include the local CIDR range for the clus

[2020-04-16 11:07] mikhailshilkov opened #22682 "C#: getting RecursionLimitExceeded with no way to configure"
### What version of gRPC and what language are you using?

C#, 2.24

[code]

### What operating system (Linux, Windows,...) and version?

macOS Catalina 10.15.3

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET Core 3.1

### What did you do?

I'm sending a message with high level of recursion in it (a map containing a map containing a map etc.)

[code]

### W

[2020-04-16 11:09] mikhailshilkov commented on #20134
I agree it's quite bad that the inner exception is lost. I got bitten by this `Failed to deserialize response message` while my actual exception was a much more descriptive `Google.Protobuf.InvalidProtocolBufferException: Protocol message had too many levels of nesting.  May be malicious.  Use CodedInputStream.SetRecursionLimit() to increase the depth limit.`. See https://github.com/grpc/grpc/issu

[2020-04-16 13:25] jtattermusch commented on #22632
thanks for the correction - but it's the same situation. Yes, if you want it to run it on ARM, you'd need to build grpc_sharp_ext..so manually for your platform.

[2020-04-16 13:27] jtattermusch commented on #22650
@menghanl  you can check on go/grpc-flaky yourself.

[2020-04-16 15:34] markdroth opened #22683 "FLAKE: tests.build_docker_pythonasyncio"
https://source.cloud.google.com/results/invocations/4c66db74-7085-47e6-a9ee-0047f8e8996e/targets/github%2Fgrpc%2Finterop_docker_build/tests;group=tests;test=build_docker_pythonasyncio;row=1

[code]

[2020-04-16 17:06] gnossen commented on #22683
This is an infra failure, either on PyPI's end or on Kokoro's. Let's wait until we see other instances of this.

[2020-04-16 17:38] menghanl commented on #22650
"Interop tests: failures over last 24 hours" doesn't show me any data.
But "Interop tests: failures over last week" shows the failures have recovered.

I think the failure has been fixed. (I don't have permission to close this issue.)

[2020-04-16 18:50] pawelpetruch opened #22685 "undefined symbol: __atomic_exchange_8 when building grpc_csharp_ext on raspberry pi"
### What version of gRPC and what language are you using?
1.28.1 and C#

### What operating system (Linux, Windows,...) and version?
Raspbian, Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
To build a native library: Raspbian 8.3.0-6+rpi1

### What did you do?
Client is being initialized in a different part of the code. Runs okay on AMD.

[code]

After `va

[2020-04-16 19:37] chalin commented on #22294
Thanks for confirming April!

[2020-04-16 19:39] chalin commented on #22294
@srini100 - FYI, I've just (re-)archived the site now that we have the banners up and that April has LGTM'd.

[2020-04-16 20:25] nicolasnoble commented on #22685
There are several layers of information missing here.

But most importantly: did you download the x86 package hoping it'd work on an ARM architecture?

[2020-04-16 20:30] pawelpetruch commented on #22685
@nicolasnoble As mentioned above - libgrpc_csharp_ext.x86.so was built on RPi.

I used this script:
https://github.com/erikest/libgrpc_csharp_ext/blob/master/compile_csharp_ext.sh

[2020-04-16 20:43] nicolasnoble commented on #22685
Oh, the script is renaming it to x86, whatever the platform, I see.

In this case, if you've built on the same platform you're trying to run, this is a problem with your environment. `__atomic_fetch_add_8` is a function provided by the compiler, and used by the compiler to generate atomic code. If your compiler generates this code, and your system libraries don't provide it, it means you've got di

[2020-04-16 21:38] nicolasnoble commented on #22645
The `_wrap_memcpy symbol` comes from the compilation trick that's fairly wildly used in lots of places that helps producing binaries that work around the nasty glibc "memcpy" symbol deprecation. [Protobuf uses it](https://github.com/protocolbuffers/protobuf/blob/master/ruby/ext/google/protobuf_c/wrap_memcpy.c), [grpc uses it](https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/wrap_memcpy.cc

[2020-04-16 22:16] yashykt opened #22691 "Failure: build_docker_dart"
https://source.cloud.google.com/results/invocations/eddfb3fd-16f0-4da6-a736-00687eaa9319/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

seen on #22575

[2020-04-16 22:18] yashykt opened #22692 "Timeout on Basic Tests Python MacOS"
seen on #22575
https://source.cloud.google.com/results/invocations/b483ebfa-26ad-4ff0-b722-b50e7c238fa6/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_python/log

[2020-04-16 22:27] yashykt opened #22693 "Cronet transport : Fail writes when end of stream is received"
The original bug report https://github.com/grpc/grpc/issues/14812 was for chttp2
https://github.com/grpc/grpc/issues/20409 is for inproc

https://github.com/grpc/grpc/pull/22668 provides the fix for inproc and also adds a test for it.

Muxi, can you check if this needs to be fixed for cronet too.

[2020-04-16 22:28] gnossen commented on #22645
@dmars1972 I tried to reproduce on 19.04, but that version went EOL January 23rd. I was unable to reproduce on 19.10.

@neilengineer Can you provide any details about the environment you're running in? Distro? Python version? Compiler version?

[2020-04-16 22:31] muxi commented on #22693
I believe this has been taken care of in #22693.

[2020-04-16 22:31] #22693 closed

[2020-04-16 23:01] neilengineer commented on #22645
Ubuntu 19.10
gcc (Ubuntu 9.2.1-9ubuntu2) 9.2.1 20191008
Python 3.7.5

I ran following cmd, but failed at building grpcio

`pip install tensorflow`

[2020-04-16 23:05] neilengineer commented on #22645
[Update]
I did a distro upgrade to Ubuntu 19.10, now it passed building.

I ran following cmd, but failed at building grpcio

`pip install tensorflow`

[2020-04-16 23:06] gnossen commented on #22645
@dmars1972 Can you try upgrading to 19.10 and seeing if that resolves the issue?

[2020-04-17 03:10] siddhuthota opened #22698 "Do HTTP keepalive pings work for synchronous server and client application?"
### What version of gRPC and what language are you using?
v1.19.1, C++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
We have synchronous client and synchronous server applications. In our case, client streams data and server listens most of the time. Client closes connectio

[2020-04-17 04:03] codingninja-95 commented on #22511
You can explore void SetSocketMutator(grpc_socket_mutator* mutator) API of ChannelArguments class, which is passed as an arg to CreateCustomChannel. you can change the socket interface with setsockopt

[2020-04-17 05:16] combinatorial opened #22699 "nullptr exception calling grpc_ssl_check_call_host"
### What version of gRPC and what language are you using?
1.28.0 + Obj-C

### What operating system (Linux, Windows,...) and version?
iOS 13.4.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
macOS 10.15.4 + Xcode 11.4.1

### What did you do?
Making a gRPC service request. The same code works robustly with 1.27.0 and all prior versions.

### What did you expect

[2020-04-17 06:49] jtattermusch commented on #22685
Btw, possibly unrelated, but we have a distribtest that checks that crosscompilation for raspberry pi works, so you might also try that https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_raspberry_pi.sh.

Please also note that runing gRPC C# on raspberry pi isn't officially supported (so you might run into other issues).

[2020-04-17 08:03] mgravell commented on #22605
Any early thoughts on where this ranks? something on a scale between "no way, never, not going to happen" thru "hmm, interesting, maybe at the next major" all the way up to "hell yeah, let's do this"? @jtattermusch maybe?

[2020-04-17 08:42] kitattyor commented on #22267
Did you mean to link to another repo? This has just one rpc function in the service

[code]

[2020-04-17 09:54] mpahic opened #22700 "Unable to install on my armbian"
### What version of gRPC and what language are you using?
 grpcio-1.28.1

### What operating system (Linux, Windows,...) and version?
Armbian 5.4.31-sunxi
VERSION=20.02.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
pip 20.0.2 from env/lib/python3.7/site-packages/pip (python 3.7)

### What did you do?
I am basically trying to install package firebase-admin, bu

[2020-04-17 10:21] kitattyor commented on #22267
If anyone stumbles upon this.. follow [this](https://stackoverflow.com/a/42098399/)

Also can use enums or create subclasses of CallData to deal with multiple requests.

[2020-04-17 11:00] YeDongaidiiqu opened #22702 "php serializeToJsonString bug"
### What version of gRPC and what language are you using?
grpc: 1.26.0
php:  v3.3.16

### What operating system (Linux, Windows,...) and version?
Linux master1 4.15.0-74-generic #84-Ubuntu SMP Thu Dec 19 08:06:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### What did you do?
Please provide either 1) A unit test f

[2020-04-17 12:31] jasonheffner commented on #22645
I experienced the same issue but using the official 19.04 Docker image. I was pinning tensorflow 'pip install xgboost==0.90.0' as we haven't updated our models yet. I tried reverting to 18.04 and got a segmentation fault, which is probably an issue for the LTS. I then tried 19.10 and got a successful install.

[2020-04-17 13:57] Donis- commented on #22605
+1 Would be really beneficial.

[2020-04-17 14:22] aswitahidayat commented on #20831
upgrade work on ubuntu 18.10

[2020-04-17 17:17] gnossen commented on #22645
Since this issue only seems to be happening on an EOL Ubuntu release for which we are unable to reproduce, I'm going ahead and closing. If anyone is able to reproduce on other, in-support releases, feel free to revive the thread.

[2020-04-17 17:17] #22645 closed

[2020-04-17 17:24] alpire commented on #22624
I haven't seen any deadlocks after running my example with `GRPC_ENABLE_FORK_SUPPORT=0` for a while. So the fork support seems to be the culprit.

[2020-04-17 18:33] lidizheng commented on #22624
Nice to hear that!

[2020-04-17 18:33] #22692 closed

[2020-04-17 20:50] gnossen commented on #22700
@mpahic It looks like the relevant linker error is just above where you started the error message in the issue. Could you please add your full error log?

[2020-04-17 21:33] TheNumberDevil commented on #59
Guys is this issue still valid, Can I look in to it

[2020-04-17 21:45] #16630 closed

[2020-04-17 23:52] siddhuthota commented on #19767
Any update here on https://github.com/grpc/grpc/issues/19767?

[2020-04-18 05:39] chrisse74 commented on #19767
No, this is still unresolved.I tried to fix it locally, but there are many backtrace hops between the pollset work and the sychronous server implementation. So in the end i got stuck with my limited grpc knowledge.-- Christian Maurer6173 OberperfussAm 18.04.20, 01:53 schrieb Sidhartha Thota <notifications@github.com>:

  Any update here on #19767?
  —You are receiving this because you were mention

[2020-04-18 18:52] #19240 closed

[2020-04-18 18:52] #20580 closed

[2020-04-18 19:52] #20276 closed

[2020-04-18 23:52] #19590 closed

[2020-04-18 23:52] #19598 closed

[2020-04-18 23:52] #19660 closed

[2020-04-18 23:52] #12035 closed

[2020-04-18 23:52] #13181 closed

[2020-04-18 23:52] #18847 closed

[2020-04-18 23:52] #19605 closed

[2020-04-18 23:52] #17589 closed

[2020-04-19 00:52] #19751 closed

[2020-04-19 00:52] #19669 closed

[2020-04-19 00:52] #19457 closed

[2020-04-19 00:52] #19402 closed

[2020-04-19 01:52] #19199 closed

[2020-04-19 01:52] #19096 closed

[2020-04-19 01:52] #18800 closed

[2020-04-19 01:52] #18794 closed

[2020-04-19 01:52] #18626 closed

[2020-04-19 01:52] #18523 closed

[2020-04-19 01:52] #16480 closed

[2020-04-19 01:52] #16570 closed

[2020-04-19 01:52] #15843 closed

[2020-04-19 01:52] #16280 closed

[2020-04-19 01:52] #15769 closed

[2020-04-19 01:52] #15572 closed

[2020-04-19 01:52] #13712 closed

[2020-04-19 01:52] #11601 closed

[2020-04-19 01:52] #9576 closed

[2020-04-19 01:52] #6894 closed

[2020-04-19 01:52] #6903 closed

[2020-04-19 01:52] #9450 closed

[2020-04-19 01:52] #9475 closed

[2020-04-19 06:13] #20601 closed

[2020-04-19 16:32] DustinJSilk commented on #21773
Connecting to my VPN solved it, too. Weird.

[2020-04-20 01:05] htuch opened #22709 "TSAN race in signal handling on evsig_base"
This occurred in Envoy CI (https://dev.azure.com/cncf/envoy/_build/results?buildId=37351&view=logs&j=5eb754ee-449a-545e-2b62-07fe525d7cbc&t=1110550d-5f5f-55a9-69fd-d02adf65e59a) with gRPC sourced from https://github.com/grpc/grpc/archive/d8f4928fa779f6005a7fe55a176bdb373b0f910f.tar.gz (1.25ish).

The following TSAN report was produced:

[code]

[2020-04-20 05:05] hunterlxt opened #22710 "Coredump: when enable TLS and connect frequently"
### What version of gRPC and what language are you using?
core: v1.26.0
language: Rust

### What operating system (Linux, Windows,...) and version?
Linux

### What did you do?
In #22647 , I tested more cases and find some coredump issue.
Here is my test step:
1. create a server using cred fetcher, in my fetcher, just read the cert path everytime and return to update `server_handshaker_factory_`. L

[2020-04-20 06:38] snehix opened #22711 "Transport Stream from Call Data hack can result in unaligned operations."
### What version of gRPC and what language are you using?

v1.28.1
C++

### What operating system (Linux, Windows,...) and version?

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?
Built grpc for host (x86) by following the instructions in https://grpc.io/docs/quickstart/cpp/.
Built grpc for target (arm) , build failed at 70%

[2020-04-20 09:33] 9ee1 commented on #19816
I can confirm this problem is still happening with `Grpc.Tools.2.27.0`. I am seeing similar behavior as everyone else. If I specify a custom intermediary output directory for my project in the project file, it errors out.

[code]

[code]

[2020-04-20 17:21] gnossen commented on #20752
This has already been resolved.

[2020-04-20 17:21] #20752 closed

[2020-04-20 17:43] gnossen commented on #20682
Not stale.

[2020-04-20 20:01] siddhuthota commented on #22698
https://github.com/yashykt and https://github.com/vjpai

Can you please check this issue once?

[2020-04-20 22:04] rizsotto commented on #22646
abseil/abseil-cpp#665 is a fix for this. Which is on their master branch now.

[2020-04-20 23:02] ice-github commented on #21908
I've checked grpc_unity_package.2.26.0-dev+Unity 2019.3.9f1 works.
https://packages.grpc.io/archive/2019/12/a02d6b9be81cbadb60eed88b3b44498ba27bcba9-edd81ac6-e3d1-461a-a263-2b06ae913c3f/index.xml

[2020-04-21 03:18] JamesNK opened #22721 "Implementation question: What should happen when a unary call sets a response and non-OK status?"
What response should be returned from a unary call on the server when a status is set and a message is returned? For example:

[code]

Today C# Grpc.Core (and grpc-dotnet) returns the serialized message AND grpc-status/grpc-message in the response trailers. Clients interpret the response as a failure. This passes all interop tests.

I couldn't find anywhere that explicitly said what to do in this

[2020-04-21 03:19] #22721 closed

[2020-04-21 03:19] JamesNK opened #22722 "Implementation question: What should happen when a unary call sets a response and non-OK status?"
What response should be returned from a unary call on the server when a status is set and a message is returned? For example:

[code]

Today C# Grpc.Core (and grpc-dotnet) returns the serialized message AND grpc-status/grpc-message in the response trailers. Clients interpret the response as a failure. This passes all interop tests.

I couldn't find anywhere that explicitly said what to do in this

[2020-04-21 07:05] jtattermusch commented on #22512
The last occurrence of this flake is https://source.cloud.google.com/results/invocations/0293e59e-e6fa-4caf-98aa-153048a06b56 (just before this PR got merged). We haven't seen the flake since.
Closing this issue.

@sigurdm  thanks for help!

[2020-04-21 07:05] #22512 closed

[2020-04-21 07:08] sigurdm commented on #22512
Sure - and thanks for yours!

[2020-04-21 07:24] moubctez opened #22723 "TimepointHR2Timespec is implemented incorrectly"
### What version of gRPC and what language are you using?
1.28.1

### What operating system (Linux, Windows,...) and version?
NetBSD 9, macOS 10.15

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang 10.0.0 + libc++ 10.0.0

### What did you do?
Set `ClientContext` deadline like this:
[code]

### What did you expect to see?
The deadline is respected when sending

[2020-04-21 07:32] jtattermusch commented on #22650
Yes, the last week's overview seems to indicate this has been fixed:
![image](https://user-images.githubusercontent.com/9939684/79838264-038a4780-83b3-11ea-8a70-ff3eb185533c.png)

[2020-04-21 07:32] #22650 closed

[2020-04-21 09:10] hedayat commented on #22266
Hi! While you can use a CompletionQueue for multiple connections, but I'm not sure you are allowed to use a single CompletionQueue on multiple threads simultaneously. And if it is possible, you should expect to receive ANY tag on ANY thread. And #18232 has not said anything about multiple threads.

You can have a single thread using a single CompletionQueue to handle multiple connections. Or, have

[2020-04-21 12:27] durkmurder opened #22724 "C++ async client code extremely slow"
### What version of gRPC and what language are you using?
v.1.28.1

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.5.0

### What did you do?
Tried using callback API with reactors from `Stub::experimental_async()`. Comparing to sync unary call performance is extremely poor. Seems like

[2020-04-21 15:02] markdroth commented on #59
This is still valid, but it probably doesn't make sense to tackle this now, since I want to make some significant changes to the filter API before we do this.

[2020-04-21 16:27] #22249 closed

[2020-04-21 17:15] siddhuthota commented on #19767
Hoping this information will be helpful in your debugging.

This is what I observed in my test setup (I am using v1.19.1), the increase in file descriptors are happening due to connection failure between client and server and client channel reconnects to the server. In this process, two new inodes are being created (1 eventpoll and 1 eventfd) for every reconnection. Once the inode limit of 1024 is

[2020-04-21 18:28] lidizheng opened #22725 "[FLAKE] Bazel C/C++ Dbg MacOS test/cpp/client/credentials_test"
https://source.cloud.google.com/results/invocations/779ee44d-fb24-45df-8030-3d2640ff1d19/targets/%2F%2Ftest%2Fcpp%2Fclient:credentials_test/tests

[2020-04-21 18:29] lidizheng opened #22726 "[FLAKE] Bazel RBE UBSAN C/C++ json_run_localhost_cpp_protobuf_sync_unary_ping_pong_insecure"
test/cpp/qps/json_run_localhost_cpp_protobuf_sync_unary_ping_pong_insecure@poller=epoll1.test/cpp/qps/json_run_localhost_cpp_protobuf_sync_unary_ping_pong_insecure@poller=epoll1

https://source.cloud.google.com/results/invocations/021106d4-8525-455b-aee6-55b69e7e32bd/targets/%2F%2Ftest%2Fcpp%2Fqps:json_run_localhost_cpp_protobuf_sync_unary_ping_pong_insecure@poller%3Depoll1/tests

[2020-04-21 18:38] nicolasnoble commented on #22711
We can't really test on ARM due to the lack of widespread arm testing infrastructure. In your case, what would be more relevant is a stacktrace of the crash, not an strace. If you can build in debug and run it through `gdb` to provide a stacktrace, we could see where we're doing a bad cast.

[2020-04-21 18:38] vjpai commented on #22723
We probably won't address this ourselves since I think we haven't used it in years but this would be a #goodfirstissue for any contributor. I'd gladly review it.

[2020-04-21 18:45] nicolasnoble commented on #22711
By the way, the pattern for this sort of error is something along these lines, which is totally invalid:

[code]

[2020-04-21 19:22] itsursujit opened #22727 "Cannot connect to server using SSL via PHP Client"
I created key<==>crt pair usiing openssl

[code]
On gRPC Server, I'm using go.
The server is running fine with the key files. And I can connect gRPC server using GRPCUI using insecure mode..

To test thhe client, I copied the crt file to php client and tried to send request to server as follow:
[code]
But I'm getting following error:
`failed to connect to all addresses`

Here i'm using gRPC 1.27 a

[2020-04-21 19:59] yashykt commented on #22724
The callback API needs the event manager poller to work properly. Basically, background threads which poll the fds. This is not available yet and hence the slow processing speed.

[2020-04-21 19:59] #22724 closed

[2020-04-21 20:30] snehix commented on #22711
Please see the stack trace logs and dmesg logs below.

dmesg
--------
[  549.517291] Alignment trap: not handling instruction f4430a1f at [<002e3b24>]
[  549.517316] Unhandled fault: alignment exception (0x811) at 0x022f9d2c
[  549.517328] pgd = a961c000
[  549.517338] [022f9d2c] *pgd=a94f6831, *pte=9228a75f, *ppte=9228ac7f
root@imx6slevk-student2:~/protobuf/debug#

stack trace
------------

Progr

[2020-04-21 20:49] JamesNK opened #22728 "C#: Add helper methods to Metadata for fetching values"
Metadata is a collection of name/value Entry instances. Typically metadata will contain one entry for a name, but it is possible for there to be multiple entries with the same name.

Today there is no easy way to get a value from Metadata. Developers often write code that looks like this:

[code]

This is inefficient (uses LINQ, allocations `IEnumerable`, maybe allocates a closure over the delegat

[2020-04-21 21:08] nicolasnoble commented on #22711
This line, maybe? It looks indeed bad.

https://github.com/grpc/grpc/blob/master/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L636

[2020-04-21 21:09] nicolasnoble commented on #22711
No, that's not it. Let's see if I can trace back a bit...

[2020-04-21 21:11] #11344 closed

[2020-04-21 21:11] #20409 closed

[2020-04-21 21:12] yashykt commented on #20409
@Norman0406 This should be fixed now. Please try again

[2020-04-21 21:12] nicolasnoble commented on #22711
I see, it's somewhere around that constructor. That's a big vague however...

[2020-04-21 21:13] snehix commented on #22711
Please see https://community.nxp.com/thread/266293
I am building with -mno-unaligned-access option.
Will update you shortly.

[2020-04-21 21:14] nicolasnoble commented on #22711
Oh. https://github.com/grpc/grpc/blob/v1.28.1/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L717

That's totally invalid.

[2020-04-21 21:17] nicolasnoble commented on #22711
https://github.com/grpc/grpc/blob/v1.28.1/src/core/lib/channel/connected_channel.cc#L94

That's really the issue, and not the first time it has bitten us.

[2020-04-21 21:38] nicolasnoble commented on #22711
Ultimately, the compiler is the one responsible for knowing what sort of alignment it wants for any single object. Right now, this code is relying on the `sizeof(call_data)` to find its stream, which could end up resulting in an aligned memory access depending on the architecture.

Note that using `sizeof()` hacks to fiddle pointers isn't C++-safe.

Most likely problem is that the constructor of t

[2020-04-21 21:38] snehix commented on #22711
Using the compiler option "-mno-unaligned-access" , solves the problem.
As you have pointed some possibly buggy code, do i expect a patched version soon ?

root@imx6slevk-student2:~/protobuf/4# ./greeter_server &
[1] 778
root@imx6slevk-student2:~/protobuf/4# Server listening on 0.0.0.0:50051

root@imx6slevk-student2:~/protobuf/4# ./greeter_client
Greeter received: Hello world
root@imx6slevk-studen

[2020-04-21 21:40] nicolasnoble commented on #22711
Could you attach the generated binary for the server in the case it's crashing? I would like to verify the generated code to validate a theory.

[2020-04-21 21:58] snehix commented on #22711
Do you need the debug version ? The size is big.
Do you need greeter_client or greeter_server ?

[2020-04-21 22:10] nicolasnoble commented on #22711
Just the server, and yes, the debug version. You can zip it to attach it here, that's fine.

[2020-04-21 22:27] snehix commented on #22711
[server.tar.gz.1.gz](https://github.com/grpc/grpc/files/4512873/server.tar.gz.1.gz)

[2020-04-21 22:28] snehix commented on #22711
[server.tar.gz.2.gz](https://github.com/grpc/grpc/files/4512879/server.tar.gz.2.gz)

[2020-04-21 22:28] yashykt commented on #22711
Hey @snehix, would it be possible for you to try out https://github.com/grpc/grpc/pull/22730 and see if it solves the issue for you?

[2020-04-21 22:28] snehix commented on #22711
[server.tar.gz.3.gz](https://github.com/grpc/grpc/files/4512880/server.tar.gz.3.gz)

[2020-04-21 22:30] snehix commented on #22711
gunzip *
cat server.tar.gz.1 server.tar.gz.2 server.tar.gz.3 > server.tar.gz
tar xzf server.tar.gz
md5sum greeter_server
af8973cf2df848c030f5d14d2d76eedc

[2020-04-21 23:34] snehix commented on #22711
with the patch and not using "-mno-unaligned-access" , the problem is solved too.

There are some other build system problem I am listing, it will be nice if those are resolved in the next version
1. need to set explicitly set(CMAKE_SYSTEM_PROCESSOR arm)
in third_party/boringssl-with-bazel/CMakeLists.txt
2. at 70% build fails because it tries to execute grpc_cpp_plugin, protoc of the target versio

[2020-04-21 23:39] yoniamir commented on #19675
There should be a lean distribution for production environment. Currently the gem takes up 38.01MB which is incredibly excessive.

[2020-04-21 23:53] yoniamir commented on #19675
this is a real issue. the gem size is really excessive.

[2020-04-21 23:53] yoniamir commented on #19675
This is a real issue. Total gem size is quite excessive.

[2020-04-22 04:32] stanley-cheung commented on #22727
Not clear what the problem is from the error message, but I was thinking: does your certificate match your actual hostname? In addition to the `credentials` key, which you supplied correctly, you may have to supply the `grpc.ssl_target_name_override` key and provide the hostname that you are trying to connect to.

[2020-04-22 08:49] itsursujit commented on #22727
How would I put above keys: `grpc.ssl_target_name_override` and the `grpc.default_authority` in PHP as the PHP Client has following parameters

`new Client($host, $options, $channel = null)`

[2020-04-22 09:07] julianoes commented on #22338
@veblush @nicolasnoble any chance abseil could get updated?

[2020-04-22 09:28] sheeeng commented on #21446
@hazzik, thank you for your workaround! It works.

[2020-04-22 09:40] DerekTBrown opened #22733 "`init_grpc_aio()` causes sync calls to hang"
## Context
- I am in the process of developing a Python server handler using the experimental [gRPC aio library](https://grpc.github.io/grpc/python/grpc_asyncio.html).
- My service relies on etcd, and so I make use of the [`etcd3`](https://pypi.org/project/etcd3/) Python library, which internally uses a synchronous `gRPC` client to communicate with etcd.
- I observed that after `init_grpc_aio` is

[2020-04-22 11:19] #22685 closed

[2020-04-22 15:43] Science-and-Motion-Sports commented on #22061
@jtattermusch This issue still occurs with the NuGet package Grpc.HealthCheck Version 2.28.1.

The conflicting dependency graphs look as follows:
Grpc.HealthCheck (2.28.1) --> Google.Protobuf (3.11.2) --> System.Memory **(4.5.2)**
BUT ALSO:
Grpc.HealthCheck (2.28.1) --> Grpc.Core.Api (2.28.1) --> System.Memory **(4.5.3)**

[2020-04-22 16:06] Science-and-Motion-Sports commented on #22061
Here is a workaround. Add the following lines to your app.config file:
[code]

[2020-04-22 16:06] jtattermusch commented on #22605
I think this is definitely something we can consider in the next major version but removing the constraint is a breaking change AFAIK so we can't really do it unless it's critically important (https://github.com/grpc/grpc/blob/master/doc/versioning.md).

It would actually be nice to start collecting ideas for API improvements for the next major version - such list would come in handy if we are at

[2020-04-22 16:23] jtattermusch commented on #22728
We always wanted to add support for getting a value by metadata key (see 35b24e530cc9cd4a26ef005b5ed580f07ba21370) but never got to it.

If you want to contribute the implementation, I'll be happy to review.

Some thoughts about the API:
- one option is using the indexer (which takes a string and returns Metadata.Entry)
- perhaps `GetValue` throwing when there's multiple values seems like a bit of

[2020-04-22 16:57] andrekoehler opened #22736 "NuGet package Grpc.HealthCheck Version 2.28.1 does not compile .NET 4.5 lib with #define GRPC_SUPPORT_WATCH"
https://github.com/grpc/grpc/blob/v1.28.1/src/csharp/Grpc.HealthCheck/HealthServiceImpl.cs#L134

Decompiler output of
[code]

I noticed this because I upgraded the Grpc.HealthCheck package in my .NET 4.5 hoping that I would get the implementation of the Watch method, but my client still returned error code UNIMPLEMENTED when calling the watch method.

[2020-04-22 17:12] lidizheng commented on #22733
Can you try your application again with our daily build?
[code]

This is a known issue that enable AsyncIO support makes synchronous gRPC call hang. It should be solved recently.

[2020-04-22 18:58] stanley-cheung commented on #22702
This is a protobuf issue. Please log an issue to the repo https://github.com/protocolbuffers/protobuf/.

[2020-04-22 18:58] #22702 closed

[2020-04-22 19:04] #21969 closed

[2020-04-22 19:30] #19307 closed

[2020-04-22 19:30] #19895 closed

[2020-04-22 19:30] #20639 closed

[2020-04-22 19:30] #16013 closed

[2020-04-22 19:30] #20636 closed

[2020-04-22 19:30] #19375 closed

[2020-04-22 19:30] #17352 closed

[2020-04-22 19:30] mitar commented on #6046
I do not think it is stale, but it is in development, based on comment above?

[2020-04-22 19:51] Yannic commented on #19171
/bump

[2020-04-22 20:14] lidizheng commented on #20806
Fixed by https://github.com/grpc/grpc/pull/22311

[2020-04-22 20:14] #20806 closed

[2020-04-22 21:04] davidstone opened #22741 "`std::memory_order` is not implicitly convertible to int in C++20"
In C++20, `std::memory_order` is an enum class, not an enum, which removes implicit conversions. However, in https://github.com/grpc/grpc/blob/master/src/core/lib/gprpp/atomic.h#L30-L37, the library assumes there is an implicit conversion available so that it can use it as the values of its enumerators. The gRPC header fails to compile under C++20 mode. The most straightforward solution is to add

[2020-04-22 22:36] JamesNK commented on #22728
There is the concept of "known headers" (e.g. content-type, length, etc) and special code generation that optimizes getting and setting values for them.

[2020-04-23 01:05] #21436 closed

[2020-04-23 01:08] kevinyaoxm commented on #21962
I was having the same issue and later I found out I accidentally deleted the cmake folder which contains those .cmake files

[2020-04-23 01:37] stanley-cheung commented on #22727
Those would be part of the `$options` parameter:

[code]

[2020-04-23 02:56] #20684 closed

[2020-04-23 03:39] mpahic commented on #22700
Here you go: [https://gist.github.com/mpahic/d2a10e11563d607d9cf34f5254fb4eea](url)

[2020-04-23 08:54] AtosNicoS opened #22750 "System.InvalidOperationException: Shutdown has already been called"
### What version of gRPC and what language are you using?

Tested:
* 2.28.1 c# 7.3, Protobuf 3.11.4
* 1.20.0 c# 7.3, Protobuf 3.7.0

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019

### What did you do?
I will update the following information, whenever I have new information or

[2020-04-23 10:44] Kozzers commented on #19172
I would say this is still relevant, I experience similar errors while trying to run the xamarin demo included.

[2020-04-23 13:53] hdnn commented on #22506
So, after some time I found, that most part of this leaks can be resolved by manual cleaning OpenSSL data:
[code]
And all the rest leaks come with initializations(raw memory allocations) of next variables: `g_plugin_factory_list` (and you had closed merge request about it https://github.com/grpc/grpc/pull/13847 ), `g_default_client_callbacks`, `g_shutting_down_cv` and `g_glip` variables that never

[2020-04-23 17:24] lidizheng opened #22753 "[Aio] Compatibility test with ASGI applications"
Try to see if gRPC AsyncIO stack works with ASGI servers. Originated from https://github.com/public/sonora/pull/32

[2020-04-23 20:17] edeca commented on #22123
I have a similar issue with the Datastore client library, which was also noticed because Kubernetes was evicting pods.

A simple test that fetches 1 key uses an extra ~1MiB per request when the process RSS is measured, but Python's mprof shows no increase.

[code]

I have created a gist with the [PoC code](https://gist.github.com/edeca/3ac5e52908626a2d621bf6e7473f9230). I can't be certain this rel

[2020-04-23 21:31] rwestphal commented on #14565
Apparently not. Unfortunately it seems resolving this issue is a very low priority to the grpc team.

[2020-04-23 21:37] markdroth opened #22760 "TIMEOUT: python_macos_opt_native_py36_native_test_unit__metadata_flags_test_MetadataFlagsTest.py36_native.test.unit._metadata_flags_test.MetadataFlagsTest"
https://source.cloud.google.com/results/invocations/ed4b146d-d229-46e4-9fd7-5f1c271d9e2c/targets/github%2Fgrpc%2Frun_tests%2Fpython_macos_opt_native%2Fpy36_native.test.unit._metadata_flags_test.MetadataFlagsTest/tests

[2020-04-23 22:14] markdroth commented on #22760
Seeing the same thing for py27.

[2020-04-24 03:49] malkia commented on #22005
I'm hitting the same issue, strangely grpc_csharp_ext .dll is not loaded (or at least the IDE debugger's Modules view does not show it). Not sure if it's related though. I use gRPC for test automation, and use xUnit there, though have a standalone too.

[2020-04-24 06:10] kgreed commented on #21406
I solved this issue by copying dlls from my development machine. I am wondering if the problem is to do with [ [this question](https://stackoverflow.com/questions/61402207/why-does-azure-devops-change-the-date-on-dlls-downloaded-from-nuget)

[2020-04-24 11:54] edeca commented on #22123
I have started a [StackOverflow question here](https://stackoverflow.com/q/61396879/3004249) about my specific problem. Because I can't guarantee this relates to grpc I kept it separate from this issue. However, it contains more information.

[2020-04-24 12:18] #20546 closed

[2020-04-24 14:05] IkshuDM opened #22765 "grpc client completion queue not shutting down"
### What version of gRPC and what language are you using?
1.16.1

### What operating system (Linux, Windows,...) and version?
LINUX

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

My code performs the following:

1)Create grpc channel

2)start monitoring completion queue in a different thread

3)Issue shutdown on completion queue

After executing step 3, I e

[2020-04-24 14:55] markdroth opened #22766 "FLAKE: //test/core/surface:concurrent_connectivity_test[x64_windows-fastbuild]"
https://source.cloud.google.com/results/invocations/b961825f-afc2-4cb6-ab6b-8cb77b978d9a/targets/%2F%2Ftest%2Fcore%2Fsurface:concurrent_connectivity_test/log

[code]

[2020-04-24 17:47] #22711 closed

[2020-04-24 19:52] IkshuDM commented on #22765
In order to get channel state notification, a tag was being added to the queue and that use to always post some events. so the cq->next() never returned false. I fixed this issue by achieving same functionality by already existing APIs. So closing the bug.

[2020-04-24 19:52] #22765 closed

[2020-04-24 21:33] edeca commented on #22123
After some debugging, I found that my problem with `datastore.Client` potentially disappeared when setting the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable. So far I have only tested this locally, but have left a larger application running overnight in Google Kubernetes Engine.

Details including valgrind traces are available in [this datastore ticket](https://github.com/googleapis/python-data

[2020-04-24 21:46] muxi opened #22775 "tools/bazel reports error on Mac"
`tools/bazel` script reports the following error when running `tools/bazel build @com_google_protobuf//:protoc`:
[code]

Sample build log: https://source.cloud.google.com/results/invocations/2854f73d-d668-4eea-a44f-d48e1e5b8336/log

[2020-04-24 23:42] WesleyBatista opened #22779 "Servname not supported for ai_socktype"
### What version of gRPC and what language are you using?

**version**: google.golang.org/grpc v1.29.1
**language**: Go lang

### What operating system (Linux, Windows, …) and version?

Kubuntu 18.04

___

Not exactly a bug, but an answer for the closed issue https://github.com/grpc/grpc/issues/15835

In my case it happened by wrongly formatting the `address` of param of `net.Listen`.

	lis, err :

[2020-04-24 23:42] #22779 closed

[2020-04-25 05:33] djc commented on #19126
I am working on HTTP/3 support within hyper based on quinn-h3.

[2020-04-25 06:12] appuyaragal12 opened #22781 "--grpc_out: protoc-gen-grpc: Plugin killed by signal 6."
I have created new project and installing below pod
 pod 'googleapis', :path => '.'

But i am getting below error

[!] /bin/bash -c
set -e
Pods/!ProtoCompiler/protoc         --plugin=protoc-gen-grpc=Pods/!ProtoCompiler-gRPCPlugin/grpc_objective_c_plugin         --objc_out=.         --grpc_out=.         -I .         -I Pods/!ProtoCompiler         google/*/*.proto google/*/*/*/*.proto

google/cloud/

[2020-04-25 07:11] obawin commented on #21446
Thank-you @hazzik!  Workaround worked on for dotnet core 3.1 and alpine 3.11.

However, I'm not sure if it's related to the workaround, but wondering if anyone knows why and/or has encontered problems with Google.Cloud.Storage.V1 versioning when using the workaround?

In my dotnet core 3.1 project, I am referencing and using Google.Cloud.Storage.V1 2.5.  It builds fine and I can build a dotnet cor

[2020-04-25 07:21] jskeet commented on #21446
TL;DR: You should update to Google.Cloud.Storage.V1 version 3.0.0-beta03. The "beta-ness" is in terms of possible API changes coming up, but it should absolutely be as bug-free as 2.5.0.

Google.Cloud.Storage.V1 version 2.5.0 depends on Google.Api.Gax.Rest version 2.10.0. The GAX 2.x line used the "old" style of `IAsyncEnumerable<T>` (from System.Interactive.Async), which conflicts with the "new"

[2020-04-25 09:54] edeca commented on #22123
Potentially related: https://github.com/grpc/grpc/issues/22603

[2020-04-25 11:23] hedayat opened #22782 "C++ Async APIs should receive 'const void *' tags rather than 'void *'"
In my code, I use const objects as tags, but since current API receives 'void *' tags, I should cast away constness; which is not nice. As GRPC doesn't actually even reference the tag, it seems reasonable that it receives `const void *` tags rather than 'void *'

[2020-04-25 22:38] kalman5 opened #22783 "Asan report"
### What version of gRPC and what language are you using?

GRPC 1.28

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang 11

### What did you do?
Run a unit test with sanitizer enabled
-fsanitize=address -fsanitize-address-use-after-scope -fsanitize=undefined

### What did you expect to see?
No

[2020-04-26 00:19] DerekTBrown commented on #22733
That did the trick.  Thanks @lidizheng .

[2020-04-26 00:19] #22733 closed

[2020-04-26 02:43] ye commented on #18150
@danielfaust No clue. I am still sticking around with 3.7 for now as most the dependent pip packages are still working against 3.7 (would probably work on 3.8 but I didn't get time to check.)

[2020-04-26 04:13] samuela commented on #8079
Bump

[2020-04-26 09:43] #19619 closed

[2020-04-26 21:43] #20689 closed

[2020-04-26 22:43] #20624 closed

[2020-04-26 22:43] #9403 closed

[2020-04-27 03:08] tywtyw opened #22790 "Get grpc error in tensorflow Java API."
### What version of gRPC and what language are you using?
JAVA

### What operating system (Linux, Windows,...) and version?
MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to debug t

[2020-04-27 05:33] hcoona commented on #9110
We are still wanting this feature, so keep it open now.

[2020-04-27 06:17] Mengjianhua-c opened #22791 "Python request message to define map type parameter"
I defined a request message structure for a service is:

[code]

The data used when constructing the request client to pass parameters is:
`    params = {
        "business": {
            "Hello": {
                "records": [
                    {
                        "origin_id": 20,
                        "message_id": 20
                    }
                ]
            }
        }

[2020-04-27 09:39] rvcarlig opened #22792 "ObjC example not working"
Hello, I tried updating the proto files in my project and I noticed that the application no longer compiles. Upon further inspection, I tried the steps from https://grpc.io/docs/tutorials/basic/objective-c/#protoc and the samples are also not compiling.

### What version of gRPC and what language are you using?
I'm using the latest version of gRPC(1.28.1) for ObjC

### What operating system (Linux

[2020-04-27 10:39] jtattermusch commented on #22005
Can you provide a minimal snippet/project that reproduces the problem?

[2020-04-27 10:43] jtattermusch commented on #22005
I can imagine that when some internal error happens (from the report it's not obvious which one exactly), the message fails to be read (internally the payload is "null"), which then causes problems deserializing the payload (which should always be non-null). I'd need to know more to be able to tell what's going wrong. A minimal reproduction would be the best.

[2020-04-27 10:49] jtattermusch commented on #22005
Also, does this happen with a unary call or a streaming call?
Unary call response is handler here:
https://github.com/grpc/grpc/blob/54749bf49c409a3a0a6a3efc73330e78bbb729d9/src/csharp/Grpc.Core/Internal/AsyncCall.cs#L547
Streaming call response here:
https://github.com/grpc/grpc/blob/54749bf49c409a3a0a6a3efc73330e78bbb729d9/src/csharp/Grpc.Core/Internal/AsyncCallBase.cs#L336

[2020-04-27 12:33] jtattermusch commented on #22775
To explain the weird error message: I think what happends is that the download of bazel binary fails (and curl stores a HTML document with an error instead) and after that we try to execute that file (which contains garbage).

https://github.com/grpc/grpc/blob/ce93ed85bfb70f3c3357402929dd318427bad628/tools/bazel#L66

[2020-04-27 14:13] jtattermusch commented on #21406
@JamesNK  could this be the same problem for which you have proposed a fix in different context (for protobuf)?

https://github.com/protocolbuffers/protobuf/pull/5888/files#diff-11e9fec2abed5e691748c15066e71c04R49
[code]
Do you know what's the underlying issue for this being necessary?

[2020-04-27 14:15] jtattermusch commented on #21406
@darcome  @kgreed  we might have an idea for how to fix this, but I cannot reproduce the problem - can you provide a minimal reproduction which can be used to verify a potential fix?

[2020-04-27 15:06] vjpai opened #22796 "pylint_code.sh sanity check failing for several hours"
### What version of gRPC and what language are you using?

master, core

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Sent a PR for testing, got failure on pylint_code.sh .  (My PR had no Python code in it)

### What did you expect to see?

Passing sanity tests

###

[2020-04-27 16:07] deanljohnson opened #22797 "Thread safety of multiple ServerAsyncWriter::Write calls with shared CQ"
I'm getting ThreadSanitizer warnings about data races with how I am using gRPC with async streaming RPCs. I assume I'm using gRPC incorrectly somehow but I am not sure how.

My setup has one thread processing the completion queue (repeatedly calling Next). I then have multiple threads running that may call `ServerAsyncWriter::Write` on different `ServerAsyncWriter` instances without synchronizing

[2020-04-27 16:47] deanorderly commented on #7931
I am confused reading https://github.com/grpc/grpc-java/blob/master/README.md which says you can swap in the transport.  I am trying to swap in webpieces http client and I am trying to swap in http webpieces server as well.  With that, we are probably going to do http2 and may do 'some' http1.1 but not supporting streaming in http1.1.

Is there a good document for java swapping in transports?

[2020-04-27 17:23] gnossen commented on #22796
Looks like we were pinning the version of our linter, but not the versions of the transitive dependencies. [Astroid pushed a new version 8 hours ago](https://pypi.org/project/astroid/2.4.0/), which appears to be giving a false linter error. https://github.com/grpc/grpc/pull/22798 should resolve.

[2020-04-27 17:38] lidizheng commented on #22791
ProtoBuf message is not Python `Dict`. The conversion can be found at https://googleapis.dev/python/protobuf/latest/google/protobuf/json_format.html. GitHub is the platform for issue tracking, please ask questions in StackOverflow.

[2020-04-27 17:38] #22791 closed

[2020-04-27 17:56] obawin commented on #21446
Thank-you @jskeet!  I updated to Google.Cloud.Storage.V1 3.0.0-beta03, and it worked like a charm!  Will keep an eye out on the the GA release.

[2020-04-27 18:18] gnossen commented on #13856
This appears to still be a problem in certain cases. Repro (on Mac):

[code]

This results in the same linker error as above.

CC @vjpai

[2020-04-27 18:35] #22796 closed

[2020-04-27 21:07] muxi commented on #20751
This was fixed by CFRunLoop iomgr

[2020-04-27 21:07] #20751 closed

[2020-04-28 05:54] #22775 closed

[2020-04-28 08:40] DaddyWesker opened #22803 "InsecureChannelCredentials stuck on call"
### What version of gRPC and what language are you using?
1.28.1 grpc, c++

### What operating system (Linux, Windows,...) and version?
Linux mint 19.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.5.0

### What did you do?
Installed protobuf 3.11.2, grpc 1.28.1 release, tried to launch simple code

[code]

### What did you expect to see?
ready to use cre

[2020-04-28 10:14] DaddyWesker commented on #22803
This one helped me https://github.com/grpc/grpc/issues/21280#issuecomment-558164977

[2020-04-28 10:14] #22803 closed

[2020-04-28 10:19] code-pug opened #22804 "Native libraries (grpc_csharp_ext.*.dll) not copied to output directory when using Grpc.Core with .NET Standard library"
Apologies if this is a by design or as expected, but I'm seeing some unexpected behaviour.

I'm using the gRPC libraries in an app with plugins. The server is actually implemented in one of the plugins, which is a .NET Standard library.

The problem I'm having is that it seems that the native libraries are not copied to any bin directory. If they are copied manually, everything works as expected.

[2020-04-28 10:47] amdm01 opened #22805 "Crashing after gRPC channel destruction."
### What version of gRPC and what language are you using?
gRPC version: 1.27.3
language: C++

### What operating system (Linux, Windows,...) and version?
Windows 7 SP1

### What runtime / compiler are you using (e.g. python version or version of gcc)

MSVC x64 version 1925

### What did you do?

I create a gRPC channel:

[code]

### What did you expect to see?

Program terminates normally.

### Wh

[2020-04-28 11:14] #22727 closed

[2020-04-28 12:54] jtattermusch commented on #20871
Hopefully this was addressed by the recent cmake improvements effort (and the ongoing grpc.io improvements).

[2020-04-28 12:54] #20871 closed

[2020-04-28 13:33] jtattermusch commented on #22682
The configuration doesn't really belong to the channel options, but we should think about how to make (de)serialization more configurable (we should go through this exercise when integrating the new protobuf C# parser from https://github.com/protocolbuffers/protobuf/pull/7351).

@JamesNK  any thoughts?

[2020-04-28 15:36] jtattermusch commented on #21238
Closing as duplicate of #17672.

[2020-04-28 15:36] #21238 closed

[2020-04-28 16:41] jtattermusch commented on #17672
@wicharypawel  @Falco20019 @kkm000   because Pawel's `%(RelativeDir)` trick seems to work (more discussion on what's the best variable metadata to use in #22627), it seems that we could potentially use this trick by default, by adding it to here:
https://github.com/grpc/grpc/blob/9c850ff692e5cf3523ff66775857a490a24dad8c/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets#L30
(that

[2020-04-28 16:46] ido-namely opened #22807 "csharp grpc plugin generates Grpc.cs file in root of output path"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Event though protoc for csharp support several options for how to generate files [compile options](https://developers.google.com/protocol-buffers/docs/reference/csharp-generated#compiler_options), they are not respected by grpc plugin.
Spec

[2020-04-28 16:54] jtattermusch commented on #22807
This is basically a duplicate of https://github.com/grpc/grpc/issues/13724 and https://github.com/grpc/grpc/issues/17672

[2020-04-28 16:54] #22807 closed

[2020-04-28 18:36] Falco20019 commented on #17672
This does sadly not work if the file is not in the same drive as in my case. See the edit here: https://github.com/grpc/grpc/issues/17672#issuecomment-611329718

[2020-04-28 19:57] daicoden opened #22809 "Can't load more than one py_proto_library with import_prefix or strip_import_prefix in the same package."
### What version of gRPC and what language are you using?
Master, Python

### What operating system (Linux, Windows,...) and version?
Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7

### What did you do?

While working on tests for #22800 I saw that when the _virtual_imports strategy prevents you from importing multiple pb2 files from the same pack

[2020-04-28 20:16] JamesNK commented on #22682
Configuration either needs to happen at runtime on channel - that would require a way to pass the configuration from the channel into the marshaller - or put it on <Proto> element and have it baked into code generation.

[2020-04-28 20:22] daicoden commented on #22809
cc @gnossen

[2020-04-28 22:34] awbraunstein opened #22811 "py_proto_library doesn't work with proto imports"
### What version of gRPC and what language are you using?
1.28.1

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel, python 3

### What did you do?
I have two protos: `a.proto` and `b.proto` where `a.proto` imports `b.proto`, a python file that imports a.proto and a BUILD file with the followin

[2020-04-29 01:56] JamesNK commented on #21406
Looks like an assembly binding issue.

You should add a redirect to your config file and see whether that fixes it.

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

[2020-04-29 03:05] Mengjianhua-c commented on #22791
Thanks, I solved it after referring to the documentation. I will ask questions on StackOverflow later

[2020-04-29 06:03] #22728 closed

[2020-04-29 07:25] jtattermusch commented on #17672
Even if `%(RelativeDir)` doesn't work for paths on a different drive (= out-of project files), `%(Directory)` or `%(Link)` still might. Can you test that?

[2020-04-29 07:37] jtattermusch commented on #17672
@Falco20019  I think there has to be a way around this. For .proto files inside the project directory, we seem to already have a working solution (`%(RelativeDir)`) but for all files from outside of the project directory, there must be SOME unique virtual path under which Visual Studio displays them in the project explorer, so I think it should be possible to come up with some rule e.g.:
-  if `%(

[2020-04-29 10:06] koliyo opened #22815 "pip grpcio install is (still) very slow"
### What version of gRPC and what language are you using?
Python, grpc==1.28.1

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6.9

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there

[2020-04-29 11:19] xkszltl opened #22816 "Missing path to ares.h"
Got `fatal error C1083: Cannot open include file: 'ares.h': No such file or directory` on Windows.
c-ares was found correctly during config (also built by us and installed to Program Files (x86)):
[code]

Clean error log attached:
[code]

Same script worked a few months ago.

### What version of gRPC and what language are you using?

Latest release tag (1.28.1 currently)

### What operating system

[2020-04-29 11:51] jtattermusch commented on #17672
I've looked at https://github.com/grpc/grpc/pull/22630 and it seems too fragile and complicated for what we want to do.
We should investigate:
- the MSBuild way of solving (as discussed in my previous comment this https://github.com/grpc/grpc/issues/17672#issuecomment-621039153)
- one potential approach would be to use similar trick as the one we used for disambiguating the `.protodep` files (whic

[2020-04-29 12:12] Falco20019 commented on #17672
@jtattermusch Sounds like a great idea to me and would be a lot less fragile. And it would also solve the long path problem. So I would be fine with investigating that route as default.

I‘m currently out of office for the rest of the week. If no one else is looking into it, I might be able to look into it on the weekend or next week.

[2020-04-29 13:50] j-schultz commented on #22816
Same issue on Linux and macOS, it works with c-ares 1.15 but after upgrading to c-ares 1.16 it fails. Maybe something changed in their CMake output?

[2020-04-29 14:13] jtattermusch commented on #19816
Can someone provide a minimal example project that reproduces the problem? i.e. the csproj, the .proto files and all the other files needed and upload e.g. a github repository. Without it, it's hard to see what are all the options being used and how they affect the warning.
(it's not clear if the problem only happens in intermediate path is overriden, if the .proto file contains some services etc.

[2020-04-29 14:22] jtattermusch commented on #13856
Context:
AFAIK the bazel build on mac is still broken if you use GCC thread-locals in a header, which has been worked around by Vijay by switching from using GCC thread-locals to pthread thread locals for our C++ builds (I think in https://github.com/grpc/grpc/pull/13929). For python we've never adjusted the build, which is why it's failing.

[2020-04-29 14:49] jtattermusch commented on #19816
Btw, if you're just getting the warning but everything else works normally, things are likely working as expected.
You can also silence the warning, as described here:
https://github.com/grpc/grpc/blob/master/src/csharp/BUILD-INTEGRATION.md#i-am-getting-a-warning-about-a-missing-expected-file

Unless there's a proof that things are behaving differently than they should (as described in the docs li

[2020-04-29 15:07] PetruRitivoiu commented on #19816
Here's an example. Ignore the 2 errors, they happen because i did not commit the certificates. Everything works as expected. The warnings don't have any impact on project.

https://github.com/PetruRitivoiu/grpc-unary-basic

[2020-04-29 16:24] ericxiao251 commented on #17453
@gnossen I don't mind contributing @alexykot 's example back to gRPC, if I have his permissions. I recently stumbled upon it his example and it was great to follow!

[2020-04-29 17:17] markdroth opened #22820 "build_docker_go failure"
https://source.cloud.google.com/results/invocations/7fe6b96e-db94-4a17-b2f2-0770f796d8bb/targets/github%2Fgrpc%2Finterop_docker_build/tests

[code]

[2020-04-29 18:11] gnossen commented on #22603
@nicolasnoble Are you actively working on this? It looks like this could be related to a memory leak in Python.

[2020-04-29 19:52] #20754 closed

[2020-04-29 19:52] #20590 closed

[2020-04-29 19:52] #20762 closed

[2020-04-29 19:52] #20393 closed

[2020-04-29 19:52] #20788 closed

[2020-04-29 19:52] #20747 closed

[2020-04-29 20:39] menghanl commented on #22820
This doesn't seem like persistent error, the not-found packages still exist (https://godoc.org/google.golang.org/protobuf/types/descriptorpb), and the interop tests in some new PRs are green.

[2020-04-29 21:42] daicoden commented on #22811
FWIW - I ran into this too and tried to fix it, but there is no way for a_py_proto to figure out that there is a rule named b_py_proto. The best you can do with an aspect is see that a_proto has a dependency on b_proto, and perhaps by naming convention arrive at b_py_proto. But note: when you build :test, b_py_pb2 is not part of the graph, and will not be built.

I think maybe this is why bazel's

[2020-04-29 22:34] lidizheng opened #22824 "[Aio] Preprocess the categorization of method handlers"
Originated https://github.com/grpc/grpc/pull/22812.

AsyncIO server supports many method handler types, like normal function, generator, normal-function-returns-generator, async generator, coroutine, coroutine function. It should boost the server performance, if we preprocess the type check instead of checking them every time.

Also, the `inspect` module is written in Python, so the improvement sh

[2020-04-30 02:41] avalon1610 opened #22826 "Do not install channelz when gRPC_USE_PROTO_LITE"
#21011 fixed issue that we should not compile channelz when use gRPC_USE_PROTO_LITE, but not for install.
when gRPC_INSTALL is ON, we got:
`install TARGETS given target "grpcpp_channelz" which does not exist.`

So we need add `AND NOT gRPC_USE_PROTO_LITE` to install part too.

[2020-04-30 07:56] policeme opened #22829 "can't install grpc in ubuntu"
### What version of gRPC and what language are you using?
latest

### What operating system (Linux, Windows,...) and version?
ubuntu

### What runtime / compiler are you using (e.g. python version or version of gcc)
python

### What did you do?
can't install success, when I run this command, it appeared this error
[code]
[code]

[2020-04-30 10:38] mehrdadn commented on #20820
Hi, has the quoting issue been fixed?

[2020-04-30 11:56] jtattermusch commented on #20637
@kkm000  any ideas?

[2020-04-30 12:22] jtattermusch commented on #20637
@sudsy  I cloned the repo you provided and I'm also seeing the "ConsoleApp1" phantom folder with a cross. Nevertheless
- building the solution still works just fine
- the "phantom folder" can easily be removed by setting `Link` attribute on your Protobuf item: `<Protobuf Include="ConsoleApp1/Protos.proto" Link="Protos.proto" ProtoRoot=".." />`

The structure of the projects and protos in your exam

[2020-04-30 12:22] #20637 closed

[2020-04-30 12:47] jtattermusch commented on #20515
I can actually reproduce this issue with VS2019 by getting a clean checkout of the helloworld example in a "classic" csproj:

1 get a clean checkout of https://github.com/grpc/grpc/tree/master/examples/csharp/HelloworldLegacyCsproj
2. open https://github.com/grpc/grpc/blob/master/examples/csharp/HelloworldLegacyCsproj/Greeter.sln in VS2019
3. click "Build solution", I get the error `Google.Protobu

[2020-04-30 12:51] jtattermusch commented on #20515
Btw, the actual error message is coming from here: https://github.com/grpc/grpc/blob/b179868110bc9f771aec1c2f44951f1e9c713ac4/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets#L53

[2020-04-30 12:58] jtattermusch commented on #22417
I did exactly what you described and I wasn't able to reproduce. (I have VS2019 and Win10)

[2020-04-30 13:08] #22417 closed

[2020-04-30 14:22] anwald commented on #22815
I hit the same issue and noticed that pip was downloading the source and building instead of getting the pre-built wheel. It looks like all the pre-built wheels should be found: https://pypi.org/project/grpcio/1.28.1/#files  This is not the case. I changed version to 1.27.2 and it found the wheel just fine. So this is possibly a bug in PyPi indexes? The release of grpc==1.28.1 was 27 days ago.

[2020-04-30 15:28] NeethJose opened #22832 "Cross compilation for Win ARM64 doesnt happen in one cmake command run. It takes 2 runs."
### What version of gRPC and what language are you using?
1.29.0-dev

### What operating system (Linux, Windows,...) and version?
Windows 10 on x64 based PC

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.2
C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Tools/MSVC/14.25.28610/
Cmake 3.17 + Ninja

### What did you do?
Trying to cross

[2020-04-30 17:08] lidizheng commented on #22815
Please upgrade pip. We upgrade our binary wheel to `manylinux2010` which requires pip > 19.0.0.

[2020-05-01 00:32] sreejit-a commented on #20251
We were facing issue too for one of our application - the exact stack trace was

The type initializer for 'Grpc.Core.Internal.PlatformApis' threw an exception. --->
System.TypeInitializationException: The type initializer for 'Grpc.Core.Internal.PlatformApis' threw an exception. --->
System.IO.FileLoadException: Could not load file or assembly 'UnityEngine' or one of its dependencies. An argument

[2020-05-01 10:57] edvher commented on #20251
hi sreejit,
how did you solve the problem?

[2020-05-01 11:10] edvher commented on #20251
@sreejit-a

hi @sreejit-a
how did you solve the problem?

[2020-05-01 13:04] p4654545 opened #22839 "Clarification needed for correct use of ClientContext::TryCancel()"
After reading through discussions on Google Groups grpc.io and many open/closed issues here regarding ClientContext::TryCancel() and Finish(), it's still not clear to me how to cancel an RPC call from the client side.

Without cancellation, the sequence would be to read messages until "ok=false" for a Read() operation, then Finish() to get the server status and finally release the any resources as

[2020-05-01 15:01] gertvdijk commented on #22815
I also noticed this a while ago when testing grpcio 1.27 releases and learned it the hard way. Wanted to leave some archeology trails here for whoever is interested. :)

* This was changed intentionally via #20282 initially (surfaced in 1.27.0)
* Then reverted for 1.27.1 in #21924
* Re-enabled via #21780 (surfaced in 1.28.0).

[2020-05-01 15:53] sreejit-a commented on #20251
We fixed by changing the assembly resolve delegate to not throw an exception and return a null type.

[2020-05-01 18:12] yashykt commented on #20817
seems outdated

[2020-05-01 18:12] #20817 closed

[2020-05-01 18:17] yashykt commented on #7931
@deanorderly grpc-java is covered in a different repository, but overall, please redirect questions to https://groups.google.com/forum/#!forum/grpc-io

[2020-05-01 18:23] yashykt commented on #20832
Taking a brief look at this again, the experimental callback service would need the event manager poller to be working but we don't have that yet, so I guess this is expected.

[2020-05-01 18:23] #20832 closed

[2020-05-01 19:19] AustinSchuhBRT commented on #22436
You are missing:

[code]

[2020-05-01 19:37] lidizheng commented on #22815
Thanks for gathering the links @gertvdijk. Closing this issue.

[2020-05-01 19:37] #22815 closed

[2020-05-01 19:44] deanorderly commented on #7931
ah, ok, thanks @yashykt

[2020-05-02 06:29] mfechner opened #22845 "grpc 1.28.1 shows Assertion failed: (t->alloc == a), function upb_check_alloc, file /wrkdirs/usr/ports/devel/grpc/work/grpc-1.28.1/third_party/upb/upb/table.c, line 22. (grpc 1.22 works)"
I'm the port maintainer for Gitlab in FreeBSD and we try to upgrade grpc from 1.22 (which works) to 1.28.1 (which fails).
The upgrade of grpc seems to be necessary as the used rubygem grpc version 1.27 seems to require a newer gRPC and does not work with gRPC 1.22 anymore.

### What version of gRPC and what language are you using?
We currently test gRPC 1.28.1 together with rubygem grpc version 1.

[2020-05-02 13:15] gwnet opened #22846 "add RDMA as one transport layer inside gRPC"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

###

[2020-05-02 13:19] gwnet opened #22847 "can we add gRPC over TCP not HTTP2, TCP is has less protocal overhead. windows WCF support both TCP and HTTP2"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

###

[2020-05-02 17:58] gkiran292 opened #22849 "pip install grpc is throwing error"
### What version of gRPC and what language are you using?
gRPC==0.3-19
language ==python

### What operating system (Linux, Windows,...) and version?
Mac OS (venv environment)

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reprod

[2020-05-02 19:06] rgrishigajra commented on #22849
The issue seems to be fixed when installing grpcio instead of grpc, which was a different package altogether. I suppose we don't need the pip package grpc ?

[2020-05-02 21:04] #20833 closed

[2020-05-03 01:50] 9ee1 commented on #19816
My [comment ](https://github.com/grpc/grpc/issues/19816#issuecomment-616429373 )has an example of the build failing.

If the comment right above this one I am writing now with the example repository is insufficient, please let us know and I will be happy to create a test project and upload it for you.

[2020-05-03 02:04] #20851 closed

[2020-05-03 08:05] codeMingo opened #22850 "php fpm, grpc api timeout for a few minutes when php file replacement does not interrupt the program"
### What version of gRPC and what language are you using?
1.28

### What operating system (Linux, Windows,...) and version?
linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
phpex

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to d

[2020-05-03 10:27] #20814 closed

[2020-05-03 20:55] tweenietomatoes commented on #9538
same

[2020-05-04 09:59] #20823 closed

[2020-05-04 11:37] maninp commented on #22781
I'm also having the same issue after running "pod update".
Before pod update

after pod update

Please help me to resolve this.

[2020-05-04 12:00] jtattermusch commented on #19816
I've looked at https://github.com/PetruRitivoiu/grpc-unary-basic example and found what the problem was:

The  original project specifies this (not the slash at the end of OutputDir), which generates a warning
 `<Protobuf Include="proto\sqrt.proto" OutputDir="%(RelativePath)models/"  />`

When you specify this (no trailing slash in Output path), the warning goes away.
 `<Protobuf Include="proto\sq

[2020-05-04 12:07] jtattermusch commented on #19816
@9ee1  I also looked at your comment and the IntermediateOutputPath and OutputPath you are using have 2 problems
- you need to get rid of the trailing slash
- you need to use backslashes `\` in the paths instead of `/' (MSBuild uses backslashes for the paths it generates).

With these two fixes, the problem goes away.

[2020-05-04 12:07] #19816 closed

[2020-05-04 12:14] plucked commented on #22485
Your Fix is not working for me. I created a new empty project with Unity 2019.3.11f1 on Linux. Dragged in your files and set the player config to .net 4 and IL2CPP

Link to the project: https://drive.google.com/file/d/1dBf-12drlhrbDRblozc5TENO2d-yjTYP/view?usp=sharing

Building the player results in the following error

[code]

[2020-05-04 12:29] jtattermusch commented on #22243
AFAIK You can use service config in C# by setting the `grpc.service_config` channel argument
https://github.com/grpc/grpc/blob/c333aac06033369a6f6d66b5b6b31a0b56dfb4cd/include/grpc/impl/codegen/grpc_types.h#L296

In C# you can specify the argument as a `ChannelOption` when creating a channel https://github.com/grpc/grpc/blob/c333aac06033369a6f6d66b5b6b31a0b56dfb4cd/src/csharp/Grpc.Core/ChannelOpti

[2020-05-04 12:29] #22243 closed

[2020-05-04 12:31] IIFE commented on #22243
Set it to what exactly, a JSON string, a comma separate string, etc?

This needs documenting.

[2020-05-04 12:36] jtattermusch commented on #22243
https://github.com/grpc/grpc/blob/c333aac06033369a6f6d66b5b6b31a0b56dfb4cd/include/grpc/impl/codegen/grpc_types.h#L296 I posted before says:
`/** Service config data in JSON form.
    This value will be ignored if the name resolver returns a service config. */`

[2020-05-04 14:08] chrisrossi opened #22851 "Memory Leak in Python"
The following Python script illustrates the issue:

[code]

[2020-05-04 17:26] jeromv commented on #19816
I actually have exactly the same problem. It gives a warning that the some expected protoc outputs were not generated. And then later my build fails because it needs these generated classes. I had them compiled to a folder "generated" changed that to OutputDir="%(RelativePath)generated" In Visual Studio all works fine

[2020-05-04 17:43] dschnabel commented on #20939
To prevent this issue from getting closed, I'm going to repeat my question: Are there any plans to extend the proxy support to include HTTPS proxies?

[2020-05-04 18:22] lidizheng commented on #22123
@edeca Thanks for providing the reproduction example. I can reproduce the error, and performed some digging. Here is the Python object diff before the 100 iterations (from 30 MiB to 140 MiB):

[code]

The sum of size of increased Python object cannot account for the 100 MiB increase. There could be a leak in the C extension.

[2020-05-04 18:48] lidizheng commented on #17515
Recently, there are couple memory leaks reported for gRPC Python. This issue might be a good tracker.

https://github.com/grpc/grpc/issues/22851
https://github.com/grpc/grpc/issues/22123

[2020-05-04 19:14] lidizheng commented on #22123
Using similar mechanism, I found the simple `insecure_channel` of gRPC Python might leak if the `close` method is not invoked. The leak rate is much slower though (10000 iters for 100 MiB). Using credentials consumes more memory in each iteration which amplifies this bug.

For the DataStore library, their objects are freed but not explicitly closing the gRPC Channel. This issue has troubled us two

[2020-05-04 20:40] TheCactusBlue commented on #22485
@plucked I see the issue here - check step 8 of my post - as I said, it was a hacky solution: replace `DllImportsFromSharedLib()` with `DllImportsFromStaticLib()`. I'm a backend engineer, and while I understand parts of Unity, I don't know the best way to get the platform for IL2CPP. If you have a better solution, please notify me about how to go about it.

[2020-05-04 21:33] TheCactusBlue commented on #22485
I made a PR for this: https://github.com/grpc/grpc/pull/22856

[2020-05-04 22:29] #20793 closed

[2020-05-04 22:29] #20872 closed

[2020-05-04 22:56] merctom commented on #18929
Still a problem with protobuf 3.11.4, and grpc 1.28.1.

[code]
[code]

Additionally, using the repro steps from the original post, your makefile is now broken on 1.28.0 (https://github.com/grpc/grpc/archive/v1.28.0.tar.gz):
`make: *** No rule to make target '/home/ubuntu/grpc-1.28.0/objs/opt/third_party/abseil-cpp/absl/base/dynamic_annotations.o', needed by '/home/ubuntu/grpc-1.28.0/libs/opt/libgr

[2020-05-04 23:47] AlekzanderDee commented on #19954
any luck?

[2020-05-04 23:50] 9ee1 commented on #19816
Thanks @jtattermusch - Your suggestions solved my problem.

[2020-05-05 00:06] markdroth commented on #22556
I'm not sure how this got filed without a default assignee.

For user questions, please ask on the grpc.io mailing list.

[2020-05-05 00:06] #22556 closed

[2020-05-05 00:12] markdroth commented on #22511
I'm not sure how this got filed without a default assignee, but that's why it slipped through our triage process.

The socket mutator approach should work for this.  If you have further questions about this, please ask on the grpc.io mailing list.

[2020-05-05 00:12] #22511 closed

[2020-05-05 00:17] markdroth commented on #22331
I don't know why this issue didn't get assigned to the default assignee, but that's why it slipped through our triage process.

Unfortunately, we don't have a list of all POSIX APIs that would need to be supported for gRPC.  However, the code is OSS, so you can look for yourself. :)

Good luck!

[2020-05-05 00:17] #22331 closed

[2020-05-05 00:21] markdroth commented on #22219
I'm not sure why this issue didn't get assigned to the default assignee, but that's why no one noticed it until now.

You could use the existing wrappers that ship with the protobuf library:

https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.proto

If you have further questions, please ask on the grpc.io mailing list.  Thanks!

[2020-05-05 00:21] #22219 closed

[2020-05-05 00:27] gabroo opened #22861 "libgrpc.so.9 exists but is not found at runtime"
### What version of gRPC and what language are you using?

gRPC v1.28.1 with C++17

### What operating system (Linux, Windows,...) and version?

Vagrant VM with the ubuntu/bionic64 box

### What runtime / compiler are you using (e.g. python version or version of gcc)

GNU 7.5.0

### What did you do?

1.  Installed gRPC in the provision step of Vagrant file with the following code, using cmake v3.1

[2020-05-05 00:31] markdroth commented on #22861
This looks like a problem with your system setup.  You are installing the library into a location where your system is not looking for them.

If you need more help with this, I suggest posting on the grpc.io mailing list.

Good luck!

[2020-05-05 00:31] #22861 closed

[2020-05-05 02:25] aagarwalincontact opened #22862 "C# client and Server- Possible Memory Leak"
### What version of gRPC and what language are you using?
C# client and server
Google.Protobuf 3.11.4
Grpc 2.24.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

.Net Framework 4.7.2

### What did you do?
A server app that implements Service which has one RPC getdata that takes a simple requ

[2020-05-05 05:50] #18689 closed

[2020-05-05 06:45] yashykt commented on #22200
That is right. 0.0.0.0 and :: are wildcard addresses and gRPC treats them the same. So you do not need to provide both of them.

Also, 127.0.0.1 and ::1 are localhost addresses and treated different from the previous two. There doesn't seem to be an action item here.

[2020-05-05 06:45] #22200 closed

[2020-05-05 06:47] yashykt commented on #22185
should be fixed by #22655

[2020-05-05 06:47] #22185 closed

[2020-05-05 06:52] yashykt commented on #22141
Hi, sorry for the late response. Please provide steps to reproduce this issue.

[2020-05-05 12:17] vivainio commented on #22804
Easiest workaround is probably to add PackageReference to Grpc.Core in some package that will be outputting to the final output path

[2020-05-05 12:19] vivainio commented on #21867
Would this get more traction if I provided a PR implementing SkipGrpcNativeLibsCopy toggle?

[2020-05-05 15:18] jtattermusch commented on #22492
This is impossible to debug without you providing a minimal project that reproduces the problem (e.g. as a git repository).
There's likely something wrong with your setup, otherwise this kind of problem would have been much more widely reported (because you're basically unable to build).

[2020-05-05 15:18] hobbitlzy opened #22872 "How to monitor the time of sending message?"
I am trying to figure out the relationship between the message size and the transmission time. So I need to know the time of sending a message from client device to server device. My program is python. Does anyone know how can I record the elapsed time of sending a message?

I have tried to use the time.time() to record the elapsed time. But the problem is I am not sure where should I put this sen

[2020-05-05 15:36] jtattermusch commented on #22157
I agree that this is inconsistent and just `dotnet run` would have been simpler, but currently the `dotnet exec RouteGuideServer.dll` is required because when running the client/server, you actually need to be in the output directory (hence the `cd RouteGuideServer/bin/Debug/netcoreapp2.1`), otherwise it won't find route_guide_db.json - exactly as you reported.

[2020-05-05 15:37] jtattermusch commented on #22157
This should be fixed at some point, but it's not urgent because the example works the way it is.

[2020-05-05 17:16] nicolasnoble commented on #21732
This originally was assigned as a "Ruby" issue, but I feel this isn't specific to Ruby. This requires investigation. Maybe @apolcyn could give it a go too just to make sure this isn't Ruby specific?

[2020-05-05 17:18] markdroth commented on #21949
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at
- StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc
For questions that specifically need to be answered by gRPC team members, please ask/look for answers at
- grpc.io mailing list: https://groups.google.

[2020-05-05 17:18] #21949 closed

[2020-05-05 17:19] nicolasnoble commented on #21719
Ping on this one. It can be alienating for users.

[2020-05-05 17:24] nicolasnoble commented on #21717
I feel this is an API usage issue, but I'm not 100% certain what the contracts here are.

[2020-05-05 17:26] markdroth commented on #21947
This looks like something we should fix.  Reassigning to Yash as the owner of the HTTP/2 transport code.

[2020-05-05 17:33] nicolasnoble commented on #21700
It could also technically be a race condition somewhere, but...

[2020-05-05 17:35] yashykt commented on #21227
The corresponding case was closed.

For others, gRPC has a few channel args to be able to vary connection backoff values - GRPC_ARG_MIN_RECONNECT_BACKOFF_MS, GRPC_ARG_MAX_RECONNECT_BACKOFF_MS and GRPC_ARG_INITIAL_RECONNECT_BACKOFF_MS. These can be changed for faster re-connection attempts.

[2020-05-05 17:35] #21227 closed

[2020-05-05 17:35] nicolasnoble commented on #20396
This issue is for https://github.com/bazelbuild/bazel/issues/7157

[2020-05-05 17:36] nicolasnoble commented on #21697
Is it still happening?

[2020-05-05 17:37] markdroth commented on #20378
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2020-05-05 17:37] #20378 closed

[2020-05-05 17:39] markdroth commented on #20377
Closing this pending reproduction information from the user.

[2020-05-05 17:39] #20377 closed

[2020-05-05 17:40] markdroth commented on #20375
Jan, are you actively working on implementing this?  If not, let's close this and add a help-wanted label.

[2020-05-05 17:41] markdroth commented on #20352
Closing this pending more information from the user.

[2020-05-05 17:41] #20352 closed

[2020-05-05 17:42] markdroth commented on #20344
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2020-05-05 17:42] #20344 closed

[2020-05-05 17:44] markdroth commented on #20332
Duplicate of #13856.

[2020-05-05 17:44] #20332 closed

[2020-05-05 17:46] nicolasnoble commented on #21693
Still happening?

[2020-05-05 17:47] nicolasnoble commented on #21687
Is it still an issue?

[2020-05-05 17:48] yashykt commented on #21200
Hi, from the description, there doesn't seem to be an obvious actionable bug to the gRPC repo. For questions in general, please redirect them to a wider community like stack-overflow. Thanks!

Please re-open if I'm mistaken.

[2020-05-05 17:48] markdroth commented on #20319
I believe this was fixed by #22801.

[2020-05-05 17:48] #20319 closed

[2020-05-05 17:49] nicolasnoble commented on #21685
Still a known flake?

[2020-05-05 17:50] nicolasnoble commented on #21675
I'm fairly certain this was resolved.

[2020-05-05 17:50] #21675 closed

[2020-05-05 17:50] markdroth commented on #20300
This hasn't received any response from the user in a long time, so closing as stale.

[2020-05-05 17:50] #20300 closed

[2020-05-05 17:52] markdroth commented on #20289
No response from user, assuming stale.

[2020-05-05 17:52] #20289 closed

[2020-05-05 17:53] veblush commented on #22396
Can you try to pass ` -D CMAKE_CXX_FLAGS=-latomic` to the cmake argument?

[2020-05-05 17:53] markdroth commented on #20279
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2020-05-05 17:53] #20279 closed

[2020-05-05 17:54] veblush commented on #22392
Closed this since its fix was merged.

[2020-05-05 17:54] #22392 closed

[2020-05-05 17:57] yashykt commented on #21139
Hi, This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at
StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-05-05 17:57] #21139 closed

[2020-05-05 17:57] markdroth commented on #20212
This is still something we should do if we can, especially since opencensus will be useful for proxyless service mesh deployments.

@srini100, we should see if we can find some resources to devote to this.

[2020-05-05 17:58] markdroth commented on #20199
Closing this since no one has come forward to work on it.  If someone wants to volunteer, we can reopen.

[2020-05-05 17:58] #20199 closed

[2020-05-05 17:59] yashykt commented on #21081
Sounds like a protobuf feature request that is being tracked accordingly

[2020-05-05 17:59] #21081 closed

[2020-05-05 18:00] markdroth commented on #20198
Reassigning to Donna, who is the owner of the resource quota code.

[2020-05-05 18:00] muxi commented on #21687
Probably. I'll leave it open

[2020-05-05 18:02] yashykt commented on #21050
Closing this down since reporter has not responded in quite some time. Please feel free to re-open if the bug persists.

[2020-05-05 18:02] #21050 closed

[2020-05-05 18:03] veblush commented on #22381
@jiangtaoli2016 Thank you for your effort and can you close this if all necessary changes got merged already?

[2020-05-05 18:08] markdroth commented on #12295
I don't think we ever reached a resolution on this.  This should stay open until we decide once and for all how we actually want to deal with this.

[2020-05-05 18:09] markdroth commented on #20146
I think this is a duplicate of #12295.

[2020-05-05 18:09] #20146 closed

[2020-05-05 18:10] veblush commented on #22361
Closed this issue since I confirmed that the link is working now.

![Screenshot from 2020-05-05 11-09-06](https://user-images.githubusercontent.com/2793282/81100182-f5631d80-8ec0-11ea-91ab-057aeaee8d24.png)

[2020-05-05 18:10] #22361 closed

[2020-05-05 18:10] yashykt commented on #21018
Closing this down since reporter has not responded in quite some time. Please feel free to re-open if the bug persists.

Also, from a brief look, I couldn't tell that it is a grpc issue. For general questions and troubleshooting, please ask/look for answers at
StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRP

[2020-05-05 18:10] #21018 closed

[2020-05-05 18:12] muxi commented on #21437
@apolcyn - were you able to take a look on this, Alex?

[2020-05-05 18:13] apolcyn commented on #12554
friendly ping @jiangtaoli2016 if you have time to take a look?

[2020-05-05 18:15] apolcyn commented on #12560
@markdroth is this still relevant?

[2020-05-05 18:15] stanley-cheung commented on #22850
@codeMingo Can you provide more information on this? What does "php file replacement does not interrupt the program" mean?

[2020-05-05 18:16] #22554 closed

[2020-05-05 18:16] veblush commented on #22352
I think you need to keep the compiler and the compiler option consistent across gRPC and all dependent libraries. I close this because it's not directly a gRPC issue but please feel free to reopen if you think it's relevant.

[2020-05-05 18:16] #22352 closed

[2020-05-05 18:19] apolcyn commented on #12570
@jtattermusch have you been able to look into this?

[2020-05-05 18:19] stanley-cheung commented on #22514
I believe this is the same as https://github.com/GoogleCloudPlatform/grpc-gcp-php/issues/35

[2020-05-05 18:19] #22514 closed

[2020-05-05 18:25] apolcyn commented on #13501
To investigate this, please provide a repro that can be easily ran, e.g. in the form of a script

[2020-05-05 18:29] markdroth commented on #19997
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com