[2021-07-27 12:32] evanj commented on #26754
The complete log for 7 requests with `GRPC_TRACE=round_robin GRPC_VERBOSITY=info` is below. The first fails, as intended. The server is started immediately after.  The next 4 requests fail fast. The 6th and 7th requests "succeed" with a FAILED_PRECONDITION returned from the server (I'm reusing a server I used to test bugs with really long errors).

Repeating this with pick_first only fails the fir

[2021-07-27 16:06] oakad commented on #20675
This is broken and broken badly.

The ticket must be reopened and addressed.

Of all languages, C++ appears to get the worst treatment by GRPC team. :-)

[2021-07-27 16:18] oakad opened #26796 "[Bazel] cc_grpc_library rule should not repeat the --proto-path argument unnecessarily when virtual_imports are enabled"
Related to #20675

Consider a common case whereupon a certain service contains many methods and each method has its own message types (the message types having embedded types and so on). The messages and additional types are each defined in their own proto files (so there are many proto files in the package). Some manipulation of include path is present in the proto rule.

`cc_grpc_library` will e

[2021-07-27 16:38] oakad opened #26797 "[Bazel] Broken format line in cc_grpc_library"
As following:
[code]
Indeed: https://github.com/grpc/grpc/blob/d19802d42c0f5bef6c375756bba9a941be9c2a7a/bazel/generate_cc.bzl#L44

[2021-07-27 16:39] oakad commented on #26797
Sorry, my bad. It's ok there.

[2021-07-27 16:39] #26797 closed

[2021-07-27 17:55] smolkaj commented on #20675
+1. This is a frustrating source of tech debt in some of the projects I'm working on and a fix would be highly appreciated.

[2021-07-27 23:16] drfloob commented on #26796
Sounds like a valid cleanup to me. There are a handful of custom bazel rules that reimplement the `--proto_path` aggregation, duplicated logic for each language it seems. In these scripts, changing the file lists to file sets might help solve it. I think this cleanup would be a good candidate for community contribution, so I've marked it as such.

@oakad do you have a minrepro for this?

Here are

[2021-07-27 23:40] #25995 closed

[2021-07-27 23:40] #25674 closed

[2021-07-27 23:40] #25917 closed

[2021-07-28 02:06] fabiorosadev commented on #23713
Hi guys...
I don't know if is the same problem that you have here... but I've found this topic when I started develop my first gRPC tutorial  from Microsoft Website: https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-5.0&tabs=visual-studio-code

And I had the same problem: It won't generate the client code....

After some research, I tried install this packages

[2021-07-28 04:45] oakad commented on #26796
I have created several related tests.
In the repo https://github.com/oakad/grpc-26796:

[code]

Observe:

More fun with paths:
[code]
Works.
Now,
[code]
Breaks badly, unhappily.

[2021-07-28 11:54] ashleystendel opened #26805 "Async Interceptors - cannot reuse already awaited coroutine in _proxy_writes_as_request_iterator"
### What version of gRPC and what language are you using?
1.38.1

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.9

### What did you do?
Hi !

We are using custom Async Interceptors for Bidirectional Client Streaming.
The interceptors essentially wrap the request and response gener

[2021-07-28 13:59] tudor-turcu commented on #21474
Any news about this issue?
We are using Grpc.Core .NET package, version="2.38.1", on .NET Framework 4.5-4.7 (Windows), and we have to offer the user the option to ignore certificate validation errors (mainly for self signed certificates), without having to install the server certificate on the client computer.
We don't have currently the option to upgrade to .NET Core and to the new Grpc .NET libr

[2021-07-28 15:18] rnwhitehead opened #26808 "v1.38.0 broken submodules reference"
Cloning v1.38.0 with the following command:
[code]

Was working until just now.
Now it fails with:

[code]

It looks as if the submodule tag referenced has been deleted.

Same with v1.39.0

[2021-07-28 15:19] jedimasterjonny opened #26809 "Protobuf Submodule Reference Broken"
### What version of gRPC and what language are you using?
`1.38.0`

### What operating system (Linux, Windows,...) and version?
N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)
N/A

### What did you do?
Cloned the GRPC repo recursively using

[code]

### What did you expect to see?
A successful checkout

### What did you see instead?
[code]

Also, navigating t

[2021-07-28 15:21] typetetris commented on #26809
Also hitting this problem, seems like [protobuf](https://github.com/google/protobuf.git) is now something else?

[2021-07-28 15:28] jedimasterjonny commented on #26809
Looks like this is the new home of protobuf: https://github.com/protocolbuffers/protobuf

[2021-07-28 15:30] typetetris commented on #26809
That is really unfortunate.

If this repos stays renamed, building an old version of grpc will be not pleasant ...

[2021-07-28 15:51] rnwhitehead commented on #26809
I'm using the zip file now rather than git to fetch the source - and it's actually much faster to fetch it.

[2021-07-28 15:59] typetetris commented on #26809
Just downloaded [grpc-1.33.2.zip](https://codeload.github.com/grpc/grpc/zip/refs/tags/v1.33.2) and it didn't contain files in `third_party/protobuf`. Am I missing something?

[2021-07-28 16:05] rnwhitehead commented on #26808
Also, trying to use the sources.zip / sources.tar.gz file didn't work -  CMake complains of missing makefiles.

[2021-07-28 16:07] rnwhitehead commented on #26809
Sorry, I spoke too soon. I couldn't get the canned sources to build, either.
Richard

________________________________
From: Eric Wolf ***@***.***>
Sent: 28 July 2021 16:59
To: grpc/grpc ***@***.***>
Cc: Whitehead, Richard ***@***.***>; Comment ***@***.***>
Subject: Re: [grpc/grpc] Protobuf Submodule Reference Broken (#26809)

[External Email]

That is really unfortunate.
If this repos stays renam

[2021-07-28 16:20] IlianIliev commented on #26123
I have opened a ticket there -> https://bugs.python.org/msg398400
Let's see if they can help in any way. And thank you for your help to look at this issue )

[2021-07-28 16:39] drfloob commented on #26808
Duplicate of https://github.com/grpc/grpc/pull/26811, which tracks the fix as well. A protobuf repository change broke many open source tools.

[2021-07-28 16:39] #26808 closed

[2021-07-28 16:40] drfloob commented on #26809
Duplicate of https://github.com/grpc/grpc/pull/26811, which tracks the fix as well. A protobuf repository change broke many open source tools.

[2021-07-28 16:40] #26809 closed

[2021-07-28 17:20] cjcobb23 commented on #26809
https://github.com/ripple/rippled is also affected by this. Why is the issue closed? Is the fix merged?

[2021-07-28 19:15] drfloob commented on #26809
This is closed as a duplicate. There were a few reports discussing the gRPC-specific problem, and it's easier to keep track of one (see #26811 ). The protobuf team is working on solving the root cause.

[2021-07-28 20:16] tamird opened #26816 "BUILD.gn file is broken"
[code]

The proximate cause is the dependency on absl, which is expressed in `BUILD.gn` as e.g. `":absl/functional:bind_front"` which is nonsensical because that directive tells GN to look for absl in that same file, but I'd be willing to bet there are other problems lurking beneath that one.

[2021-07-28 20:59] tamird commented on #26816
After some manual tweaking (`s|:absl|//third_party/abseil-cpp/absl|g`):
[code]

I now get this:
[code]

so this is the same problem with upb that I originally reported with abseil. What is upb? Dunno, off to investigate.

[2021-07-28 22:08] veblush commented on #26816
Thank you for the report. We don't maintain `BUILD.gn` so it's possible to get broken over time. This is mainly maintained by Fuchsia folks with https://github.com/grpc/grpc/pull/18443 so we don't have knowledge on this to fix this. If you can make the PR to fix this, I'll be able to review it. One thing to be aware is that you may want to change `templates/BUILD.gn.template` which will overwrite

[2021-07-28 22:44] JamesNK opened #26819 "[C#] Grpc.Tools 2.39.0-pre1 error"
Client app setup to use Grpc.Tools version 2.39.0-pre1 errors when compiled.

csproj:

[code]

Proto: (I don't think this matters)
[code]

Error:

![image](https://user-images.githubusercontent.com/303201/127405675-d84fcb7c-4794-4eef-b140-8e7a1b33e3be.png)

Changing Grpc.Tools to `2.38.0` fixes the problem

@apolcyn @jtattermusch

[2021-07-28 22:45] tamird commented on #26816
I work on Fuchsia, and we do not maintain this file. My suggestion is to delete it. Chromium already has their own BUILD.gn to work around the fact that this is broken.

https://source.chromium.org/chromium/chromium/src/+/main:third_party/grpc/BUILD.gn;drc=b25b8336293f93dea6f21045c4da68bff6ee19fa

[2021-07-28 22:46] JamesNK commented on #26819
Reproducible from the command line:

![image](https://user-images.githubusercontent.com/303201/127405856-e8c4337d-2fcc-44fe-b495-2b9d496b04da.png)

[2021-07-28 23:19] veblush commented on #26816
@tamird Oh I see. That'd be a solution, too.

@ctiller Craig, would you pull Fuchsia folks who are interested in this issue? We can either fix it or delete it.

[2021-07-29 04:50] ctiller commented on #26816
I'd say delete it. I talked a bit with folks when #18443 was put together, and the plan was always to put together a test to ensure it kept working.

Since that did not happen I'd say let's garbage collect it.

[2021-07-29 04:53] ctiller commented on #26816
#26822

[2021-07-29 04:59] ctiller commented on #26594
Right now I'm just opening the issue... no plan to do it yet.

[2021-07-29 08:29] Babwenbiber opened #26823 "[PHP] Unable to initialize module"
### What version of gRPC and what language are you using?
v1.39.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04.2 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

### What did you do?
Follow the php installation guide of this [this repo](https://github.com/grpc/grpc/tree/master/src/php):
[co

[2021-07-29 10:15] tamird commented on #26816
Thanks!

[2021-07-29 10:15] #26816 closed

[2021-07-29 16:24] drfloob commented on #26796
@oakad thanks. The t1 build uses `strip_import_prefix`, so the broken build is related to #20675 if I understand correctly. This issue is for a cleanup of redundant protoc arguments, let's please keep the matters separate.

I see that nobody from the team has responded to #20675, apologies for that. I'll try to find out why, and see what can be done.

[2021-07-29 16:31] yinzara commented on #26125
Bump.  Still relevant

[2021-07-29 17:06] gnossen opened #26827 "Set Yapf BLANK_LINES_BETWEEN_TOP_LEVEL_IMPORTS_AND_VARIABLES to 2"
See [this PR](https://github.com/google/yapf/pull/854) for more information on the setting. Originally requested in [this review comment](https://github.com/grpc/grpc/pull/26769#discussion_r678725608).

[2021-07-29 17:58] oakad commented on #26796
Yes, it will be great if #20675 could be reopened.

From the look of it, simply upgrading the rule to use up to date api (depsets + `args.add_all(uniquify = True)`) will solve the present problem. Surprisingly enough, it will also solve the #20675 problem. However, in my superficial testing, it will break for the "simple" case, because it's actually not clear how to decide on the correct output di

[2021-07-29 19:46] need2buy commented on #26094
with latest 1.39 still hit same error. Hope you can help

Python 3.9.2 (default, Mar 22 2021, 07:09:13)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3.9/site-packages/grpc/__init__.py", line 23, in <module>
    from grpc._cython import cygrpc as _cygrpc
Im

[2021-07-29 22:10] lidizheng opened #26830 "[Clean up] remove "grpc.enable_retries" in the Python example"
Related https://github.com/grpc/grpc/pull/26829

Retry should be enabled by default in `v1.40.0` https://github.com/grpc/grpc/pull/26766.

This issue serves as a reminder for myself to remove the usage of the "grpc.enable_retries" channel argument once `v1.40.0` is released.

[2021-07-29 22:30] drfloob commented on #20675
Apologies that nobody from the gRPC team has addressed this, it's been almost 2 years. As I understand it, in discussions past, this has been a troublesome problem to fix correctly without breaking things for some established users. (See https://github.com/grpc/grpc/pull/26826#issuecomment-889477022 for some commentary on a PR for @CoopeyB 's patch). I've reached out for help on this from the baze

[2021-07-29 22:42] lidizheng commented on #26094
CC @jtattermusch

@need2buy Can you share the result for installing with our pre-built binary wheels? For example, this one `grpcio-1.39.0-cp39-cp39-linux_armv7l.whl`, [link](https://pypi.org/project/grpcio/#copy-hash-modal-4a41207d-43b0-474b-844b-34cfad513aa9).

The import error means the C extension is not loaded.

[2021-07-29 23:07] smolkaj commented on #20675
Thanks so much for looking into this, @drfloob. :)

[2021-07-29 23:21] diegosaul402 commented on #26257
Having this same issue trying to run any example of `google-ads` under Rails. Already tried to add the "workaround" on my `~/.zshrc` but the problem persists.
[code]
`ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-darwin20]`
`Rails 6.1.4`
[code]

[2021-07-30 02:57] panzhongxian opened #26832 "Lack of condition flow in compression_cookbook_outgoing.png"
The folloing flowchart lacks the condition "NO default level for channel". (The second element to last of the last comlumn)
Should it point to "Msg will be sent uncompressed"?

Image path: [/doc/images/compression_cookbook_outgoing.png](https://github.com/grpc/grpc/blob/master/doc/images/compression_cookbook_outgoing.png)

The same happened to the bottom left condition diamond shape (lack of YES f

[2021-07-30 03:25] LockLi opened #26833 "[Compile] How to config compile options to make abseil-cpp to be .a instead of .so"
#Version#
gRPC-1.36.1

#Compile#
Follow is my compile steps:
PATH="$PROTOBUF_BIN_PATH:$PATH"
mkdir -p cmake/build
cd cmake/build
cmake -DBUILD_SHARED_LIBS=ON -DgRPC_BUILD_TESTS=OFF -DgRPC_INSTALL=ON gRPC_BUILD_CSHARP_EXT=OFF -DgRPC_SSL_PROVIDER=package -DgRPC_ZLIB_PROVIDER=package \
              -DgRPC_PROTOBUF_PROVIDER=package -DProtobuf_INCLUDE_DIR=$PROTOBUF_INCLUDE_PATH -DProtobuf_LIBRARY=$PRO

[2021-07-30 06:34] Dsqds opened #26835 "is there any method to let server close the connection when client hasn't sent stream-request for a long time"
is there any method to let server close the connection when client hasn't sent stream-request for a long time

[2021-07-30 09:35] chirupan commented on #23172
Hi, I'm facing a similar issue when try to use SSL certificates in my C++ client and server applications along with SAN(subject alternative names).There is no issue if donot use the SAN feature for the certificate generations.

GRPC Version - 1.37.0-dev
openssl version - 1.1.1

Steps to reproduce :-

Generate CA root, server and client keys/certificates for mutual SSL authentication using the step

[2021-07-30 15:29] need2buy commented on #26094
@lidizheng

My test is below

pip3 install grpcio-1.39.0-cp39-cp39-linux_armv7l.whl
Processing ./grpcio-1.39.0-cp39-cp39-linux_armv7l.whl
Requirement already satisfied: six>=1.5.2 in /usr/lib/python3.9/site-packages (from grpcio==1.39.0) (1.15.0)
Installing collected packages: grpcio
Successfully installed grpcio-1.39.0
WARNING: You are using pip version 21.0.1; however, version 21.2.1 is availabl

[2021-07-30 16:40] drfloob commented on #26835
The "new issue" form asks users not to post questions as Github issues. Please follow the instructions and use the channels mentioned below to ask questions. For reference, here is the default message that appears when you create a new issue:

[2021-07-30 16:40] #26835 closed

[2021-07-30 16:41] drfloob commented on #26833
The "new issue" form asks users not to post questions as Github issues. Please follow the instructions and use the channels mentioned below to ask questions. For reference, here is the default message that appears when you create a new issue:

[2021-07-30 16:41] #26833 closed

[2021-07-30 18:20] markdroth opened #26842 "FLAKE: ios-test-interoptests testGlobalInterceptor"
https://source.cloud.google.com/results/invocations/d44291bd-1754-47aa-8c45-5623eb6e00fd/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-interoptests/tests

[code]

[2021-07-30 18:25] HannahShiSFB commented on #26257
great! Thanks for the update

[2021-07-30 18:26] markdroth opened #26843 "FLAKE: c_macos_opt_native.cmake/build/fork_test"
Lidi, even though this is a problem in core, I'm assigning this to you, since I believe python is the only language that depends on fork support.

https://source.cloud.google.com/results/invocations/8fa5ae2d-97cd-4d30-9880-dd4d8373a80f/targets/github%2Fgrpc%2Frun_tests%2Fc_macos_opt_native/tests

[code]

[2021-07-30 18:55] lidizheng commented on #26843
Assigning to @ericgribkoff who lead the Python fork support effort.

[2021-07-30 21:10] stanley-cheung commented on #26823
If you are on Ubuntu, the easiest way to install php grpc extension is via `pecl install grpc`.  Is there a specific reason you need to compile from source?

From the error it looks like the PHP header files being used for compiling the extension is different from your actual `php` runtime. How do you install other pecl extension? You probably should figure out your environment first.

[2021-07-30 21:38] veblush commented on #26122
FYI, I'm revisiting this issue and coming up with a way to install abseil along with gRPC when installing it from modules.

[2021-07-30 22:27] thomasdziedzic-census commented on #26257
I can still reproduce this issue:

[code]

Using the following gem versions
[code]

Using this ruby:
[code]

Using macos `11.5.1 (20G80)`

I even tried to match your ruby version and it's still crashing:
[code]

[2021-07-31 18:27] antibarbie commented on #21474
@georghinkel same problem here, that library is our small-step-by-step-migration-path out of the doomed WCF technology, so we just CANNOT use .NET Core.

[2021-08-01 15:38] Babwenbiber commented on #26823
This did the same for me. But yes, it is significantly faster ;D
However, what did the trick for me was to upgrade from php7.4 to php8.0

[2021-08-01 15:38] #26823 closed

[2021-08-02 06:01] lambertsbennett opened #26856 "Python helloworld example greeter_client.py fails with grpc code 14"
### What version of gRPC and what language are you using?
gRPC 1.39.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.8

### What did you do?
Clone repository, run greeter_server.py, run greeter_client.py.

### What did you expect to see?
Response from greeter_server.py  "Hello, yo

[2021-08-02 09:46] xhochy opened #26857 "Cross-compiled gRPC is missing binaries for the target"
This is a follow-up issue to the PR https://github.com/grpc/grpc/pull/26148 that introduced the problem. I could just send a PR that reverts it but that reintroduces the problem again that led to that PR. I sadly don't know the intention of their PR as we have been cross-compiling gRPC successfully since at least 1.32.

### What version of gRPC and what language are you using?

1.39

### What oper

[2021-08-02 13:01] ctiller commented on #26781
Have you looked at grpcs generic API?

[2021-08-02 14:56] bitspradp opened #26858 "`no_proxy` with an empty string causes grpcio to wildcard everything"
### What version of gRPC and what language are you using?
`Version` : 1.39.0
`Language`: Python

### What operating system (Linux, Windows,...) and version?
`OS`: Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
`Runtime`: Python 3.8.11

### What did you do?
`Steps to reproduce`:

1. We were running google cloud monitioring apis which were using `grpcio` lib

[2021-08-02 22:42] gnossen opened #26863 "build_artifact.php_pecl_package_linux_x64 timeout"
https://source.cloud.google.com/results/invocations/7cb8d7d3-079b-4169-b92f-cb958ab0f10e/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_build_artifacts/log

[code]

[2021-08-03 02:30] JonsKou commented on #25949
this happen again on v1.39 ref https://grpc.io/docs/languages/cpp/quickstart/#install-grpc

[2021-08-03 05:46] staticdev commented on #23328
@lidizheng sorry, I had to unassign myself.. backlog too huge on my side these days =(

[2021-08-03 08:01] calvin2021y commented on #26120
not work even configure with:
[code]

[2021-08-03 12:47] lambertsbennett commented on #26856
This seems to be something to do with Windows. I can put the server code into a Docker container and it works fine.

[2021-08-03 16:12] #26707 closed

[2021-08-03 17:52] musicinmybrain commented on #26756
I see `xds-protos` 0.0.11 is released to PyPI with corresponding sources in this repository, so I am closing this issue. Thanks!

[2021-08-03 17:52] #26756 closed

[2021-08-03 18:00] lidizheng commented on #26756
@musicinmybrain If you got a second, can you share your use case for the `xds-protos` package?

[2021-08-03 19:34] musicinmybrain commented on #26756
Sure! I am maintaining the `grpc` package in Fedora Linux, including the Python bindings. Since `grpc` 1.39.0, `xds-protos` is a dependency for the new `grpcio-admin` and `grpcio-csds` Python packages, so I package it too.

Since `xds-protos` has its own version number and release schedule, it’s packaged separately from `grpc`, but I do build it from the ultimate sources in this repo and relevant

[2021-08-03 19:43] lidizheng commented on #26756
Thanks. Good to learn.

[2021-08-04 08:42] bobbymlp commented on #26805
+1

It appears that this issue is fixed by recent changes in this commit: https://github.com/grpc/grpc/commit/dbec97eb0a7860c2a85b28e0c23dc431a3282357

Is it possible to prioritise the release of this. The bug here is causing me some serious issues

[2021-08-04 12:23] GlebIgnatevEmlid commented on #25562
Still present in 1.37.0#3 on Windows.

[2021-08-05 02:58] vallbuy opened #26882 "fatal error: linux/unistd.h: No such file or directory"
pecl install grpc

docker
FROM php:7.3-fpm-alpine

/tmp/pear/temp/grpc/third_party/abseil-cpp/absl/base/internal/direct_mmap.h:36:10: fatal error: linux/unistd.h: No such file or directory
   36 | #include <linux/unistd.h>
      |          ^~~~~~~~~~~~~~~~
compilation terminated.
make: *** [Makefile:1456: third_party/abseil-cpp/absl/base/internal/low_level_alloc.lo] Error 1
ERROR: `make' failed

[2021-08-05 11:53] oakad commented on #20675
In the meantime, I think the following approach does work (this is a slightly simplified version of the original rule, but does the necessary job):
[code]

[2021-08-05 14:52] yashykt opened #26885 "Bazel RBE Windows Debug C/C++ qps_json_driver_test_cpp_protobuf_sync_streaming_from_server_qps_unconstrained_insecure failed to BUILD"
[code]

https://source.cloud.google.com/results/invocations/de89a8d4-43b0-465c-afb9-ca730cf5a36b/log

[2021-08-05 14:55] yashykt opened #26886 "Basic Tests Python Windows "file has vanished""
https://source.cloud.google.com/results/invocations/b8b72acf-3c14-421d-b046-3979c54defc4/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_python/log

This is probably due to a timeout

[2021-08-05 15:39] yashykt commented on #26885
Another occurrence - https://source.cloud.google.com/results/invocations/e7a25d48-5155-44e8-9bd8-5244937000cd/log

[2021-08-05 16:50] lidizheng commented on #23277
@brianlieg Can you create a reproduce case? Each case might have quite different causes. The "Stream Removed" is likely to be caused by network issues, e.g., stream removed by the middle proxies. The "deadline exceed" can be caused by system network setups, proxies, backends.

[2021-08-05 16:50] lidizheng commented on #23277
We recommend to upgrade to the latest release before further debugging.

[2021-08-05 16:57] brianlieg commented on #23277
@lidizheng thank you for your feedback can you confirm the version of the latest and for which libraries?

[2021-08-05 17:03] mqsoh commented on #12295
The Go client has [this resolver](https://pkg.go.dev/google.golang.org/grpc/resolver) thing. You can import the package and Register a resolver builder or whatever. The client automatically picks it up, so I guess it's a global.

My coworker hacked something together to watch endpoints in the Kubernetes API and we have perfect load balancing when pods go in an out of service. I got here trying to

[2021-08-05 17:06] lidizheng commented on #23277
The latest gRPC Python release is https://github.com/grpc/grpc/releases/tag/v1.39.0. You can install it as `grpcio==1.39.0`.

[2021-08-05 17:14] ejona86 commented on #12295
@mqsoh, please file a separate issue. This issue is about when a name resolver refreshes itself (when polling is necessary). You want a custom name resolver API in Node.js. Your request is more similar to https://github.com/grpc/grpc/issues/11879 and https://github.com/grpc/grpc/issues/11685

[2021-08-05 17:21] mqsoh commented on #12295
I'm not reporting an issue. I was trying to help by pointing out that a different client already has a solution to OP's issue.

The issues you linked me to seem to be other clients that, along with the Node.js client, also lack features developed for the Go client.

[2021-08-05 17:24] ChameleonRed opened #26887 "If I use asyncio.wait_for(channel.channel_ready(), 2.0) program not quits (need double Ctrl+C) and exit with error."
### What version of gRPC and what language are you using?
1.39

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.9.6

### What did you do?

[code]

[code]

1. Run.
2. Try to hit `await asyncio.wait_for(channel.channel_ready(), 2.0)` which cause error.
3. Try to stop program with "Ctrl+

[2021-08-05 17:25] ChameleonRed commented on #26887
Server is not need for test but if you wish to play here is code:

[code]

[2021-08-05 17:55] ejona86 commented on #12295
@mqsoh, oh, okay. Yes, many custom resolvers wouldn't have the problem discussed here as many naming systems have watch APIs. When available in your language and it makes sense for your deployment, such a custom/pluggable name resolver would be the preferred solution. And there is (slow) progress on allowing custom name resolvers in more languages. I don't think there is much argument there.

I th

[2021-08-05 17:57] lidizheng commented on #26887
I simplified the reproduce snippet, but yet to find a similar behavior on macOS or Linux. This behavior difference might be caused by the heterogenous design of CTRL+C on Windows. On Linux, the KeyboardInterrupt will always be populated to the main thread, so I saw a consistent behavior. But on Windows, it seems the KeyboardInterrupt is being sent to one of our background thread.

I'm not sure wha

[2021-08-05 18:27] ChameleonRed commented on #26887
I will try to check it on Linux (I have not Apple)... and try to check it with console not PyCharm - maybe today or tomorrow (it is end of my day today).

I tested many combinations and I can not find good workaround.
Problem is that `channel.get_state()` is not forcing connection same with `wait_for_state_change`. `channel.get_state()` is also not async I think problem can be here `self._channel.

[2021-08-05 18:38] lidizheng commented on #26887
The method `get_state(try_to_connect=True)` tells gRPC to initiate the connection, but it doesn't block until it is READY. What you observed is right. The `channel_ready()` method on the other hand does initiate the connection and block until READY.

For details in the 2s delay, you can check https://github.com/grpc/grpc/blob/master/doc/environment_variables.md to print more verbose log, e.g., set

[2021-08-05 18:40] ChameleonRed commented on #26887
On Windows terminal (powershell - no matter) it exists after one/two Ctrl+C so it is unstable. Now time for Linux.

[2021-08-05 18:41] veblush commented on #26857
@xhochy Our of curiosity, why do you use `install` for building packages? I guess it might be for getting built artifacts. Is there an alternative way for getting those?

@UVV-gh Could you explain how installing cross-compiled protoc was a problem for your case?

[2021-08-05 18:50] ChameleonRed commented on #26887
On Linux Ubuntu Python 3.9.4 (not 3.8.6):

[code]

[2021-08-05 18:53] ChameleonRed commented on #26887
Windows use different loop - so problem is on the Windows only I think so `ProactorEventLoop`. That is different OS and probably `self._channel.check_connectivity_state(try_to_connect)` not works in Windows but is very rough idea without facts to confirm.

[code]

[2021-08-05 18:55] ChameleonRed commented on #26887
I wait on your response tomorrow if you can answer.

[2021-08-05 19:07] lidizheng commented on #26887
Sorry, I don't know how `ProactorEventLoop` affects tcp connect. If you are interested, can you help to find out?

[2021-08-05 19:07] UVV-gh commented on #26857
It seems like @xhochy has a different use case, he actually uses cross-compiled gRPC plugins on the target. Yocto-based generated SDK is used on the _host_ for cross-compilation for the target. SDK consists of two sysroots, one for the target and one for the host, the latter would contain gRPC plugins, which would have to be searched manually and substituted to CMake.

[2021-08-05 23:01] apolcyn commented on #26819
Looks like this is a regression caused by https://github.com/grpc/grpc/pull/26162

I've opened https://github.com/grpc/grpc/pull/26896 on master and https://github.com/grpc/grpc/pull/26897 and https://github.com/grpc/grpc/pull/26898 to backport the fix to the previous and upcoming release branches.

[2021-08-06 06:37] stanley-cheung commented on #26882
@HannahShiSFB Can you please take a look?

[2021-08-06 08:25] ChameleonRed commented on #26887
If you do not know how Windows asyncio works you can not solve problem and implement GRPC so you should pass error to other expert. It looks only that `self._channel.check_connectivity_state(try_to_connect)` not works which is C++ code. For me it is too deep to analyses this code since I need to know deep GRPC to solve this problem.

Please pass error to other expert.

[2021-08-06 10:17] clementperon commented on #26857
There is a pull request to have a proper cross compilation support between gRPC libs and gRPC binaries:
https://github.com/grpc/grpc/pull/22498

I add it to my Yocto and I have now a proper SDK and a proper cross compilation.

[2021-08-06 10:18] ChameleonRed commented on #26887
I found that code which lead to error but I can not understand it since it not my project and not understand Python/C++ binding.

[code]

[channel_connectivity.cc](https://github.com/grpc/grpc/blob/ca945a58e9ccff69df9815bdb657c4b32e2e6b37/src/core/ext/filters/client_channel/channel_connectivity.cc)

[2021-08-06 16:59] apolcyn opened #26924 "grpc_basictests_php macos timeout after 3600 seconds"
Looks like this set of tests hit a timeout while fetching dependencies:

Bottom of the log

[code]

https://source.cloud.google.com/results/invocations/e9fb4a43-e76d-4ce7-b459-d2e3f809121a/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_php/log from PR: https://github.com/grpc/grpc/pull/26896

[2021-08-06 17:05] apolcyn opened #26926 "Basic tests python windows timeout after all tests passed"
Glancing at the log, this appears to have hit a timeout when doing some post-test cleanup

Bottom of the log:

[code]

https://source.cloud.google.com/results/invocations/93989b94-ed82-473c-a2df-57775253c26a/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_python/log

seen in https://github.com/grpc/grpc/pull/26896

[2021-08-06 17:06] #26819 closed

[2021-08-06 17:10] lidizheng commented on #26887
I meant the Proactor behavior difference than the SelectorEventLoop, on handling the CTRL+C. From what I read and know, the Windows CTRL+C is not the same as Linux-based, and it has caused issues with asyncio in the past: https://bugs.python.org/issue32661 https://bugs.python.org/issue23057.

In this case, the first CTRL+C closes event loop successfully, but require a second CTRL+C to force exit t

[2021-08-06 17:10] adeal commented on #22878
The best documentation I've found is at:

https://github.com/grpc/grpc/blob/master/src/csharp/BUILD-INTEGRATION.md.

[2021-08-06 19:27] xhochy commented on #26857
I'm a bit confused about this question. For CMake-based workflows `cmake … && make install` is the normal way to build and install artefacts. Can you maybe rephrase this?

[2021-08-06 19:29] xhochy commented on #26857
@UVV-gh would it work in your case if there was a special flag that disabled the installation of the plugins instead of fully removing it from the CMake setup? I would expect the default output of a cross-compiled run to be equal to the non-cross compiled one. The consumers (on the target) of gRPC should in the end not be able to differentiate them.

[2021-08-06 20:32] HannahShiSFB commented on #26257
could you please try compiling grpc from the source? There are some libs need to be updated too.

[2021-08-06 22:04] markdroth opened #26933 "FLAKE: core end2end retry_per_attempt_recv_timeout"
https://source.cloud.google.com/results/invocations/f01360c6-b295-4ed0-a14d-4febbb7a71d6/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_tls_test@retry_per_attempt_recv_timeout/log

[code]

Looks like this has also failued a few times on master over the last month or so.

[2021-08-06 22:11] travellingprog commented on #18689
I was able to install grpc 1.20.3 using gcc 9.3.0 and Node 12.22.4. I'm running Linux Mint 20.2, which is built on top of Ubuntu 20.04

[2021-08-07 03:34] UVV-gh commented on #26857
@xhochy yes, I'm open to any solution, for example something like `gRPC_BUILD_CROSS_SDK` would work for me

[2021-08-07 07:01] mingqiangyin opened #26934 "function JsonStrongToMessage(...) generate free double-free in protobuf"

[2021-08-07 07:17] mingqiangyin commented on #26934
#0  raise (sig=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x0000007f9ad874a4 in dcos_ms_sig_handler2 () from /usr/local/lib/dji/dcos/libdcos_ms.so
#2  <signal handler called>
#3  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#4  0x0000007f9a9478b4 in __GI_abort () at abort.c:79
#5  0x0000007f9a98065c in __libc_message (action=action@entry=do_abort, fmt=fmt@entry=0x7f9a

[2021-08-09 00:54] vitruvvius opened #26943 "BAD_ACCESS Crashing gRPC on Any Request"
### What version of gRPC and what language are you using?
Latest

### What operating system (Linux, Windows,...) and version?
MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to

[2021-08-09 07:14] vitruvvius opened #26945 "Coroutines"
### Is your feature request related to a problem? Please describe.

As coroutines / async functions become mainstream across every language, it would make a lot of sense for grpc to transition to coroutines and/or expose an async api on completion queues to open the opportunity to define our own co_routine implantation

### Describe the solution you'd like

### Describe alternatives you've conside

[2021-08-09 07:25] BaseMax opened #26946 "Error: E0809 07:14:29.020590258 18615 tcp_server_posix.cc:216] Failed accept4: Too many open files"
### What version of gRPC and what language are you using?

latest, C++

### What operating system (Linux, Windows,...) and version?

**Linux**, Arch-base (Linux workstation 5.10.42-1)

### What runtime / compiler are you using (e.g. python version or version of gcc)

g++ (GCC) 11.1.0

### What did you do?

[code]

Run the server:
[code]

And run `wrk`:

[code]

### What did you expect to see?

Abi

[2021-08-09 13:13] ChameleonRed commented on #26887
It will be nice if you check back library to check why this not works with asyncio on Windows.

Whatever I think that problem really is that some functions are no `async` but should be because they force client to connect.

It is not good that first call have 2.0s overhead at first call and next calls takes about 0.001s.

[code]

`get_state` is blocking not async.

[2021-08-09 15:41] mosdav opened #26947 "C++ callback service `OnDone` called twice and app crahsed"
### What version of gRPC and what language are you using?
1.39.0, C++

### What operating system (Linux, Windows,...) and version?
Windows, OS Version:                10.0.19043 N/A Build 19043

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27045 for x64

### What did you do?
Can't disclose my source, will tr

[2021-08-09 22:34] mosdav commented on #26947
My bad, seems calling `Finish` while there is an `Write` in the air is a big no no

[2021-08-09 22:34] #26947 closed

[2021-08-10 06:55] yashykt commented on #26672
I believe this got fixed with https://github.com/grpc/grpc/pull/26925

[2021-08-10 06:55] #26672 closed

[2021-08-10 14:08] n3yron commented on #23190
I have Python 2.7. Fixed via:
pip uninstall rsa
pip install -v rsa==4.0
As the last version with Python 2.7 support was Python-RSA 4.0.
https://stuvel.eu/python-rsa-doc/installation.html

[2021-08-10 18:10] HannahShiSFB commented on #26882
Please run
`apk add linux-headers`
to install the missing header files

[2021-08-11 09:09] AlexMihalev commented on #22680
Yep, in contradiction with GraphQL or OpenAPI where documentation plays a significant role, GRPC looks like don't bother about documentation so much.

[2021-08-11 09:24] dennycd opened #26968 "Enable flow control API on GPRCUnaryProtoCall for server streaming calls"
### Is your feature request related to a problem? Please describe.

GPRCUnaryProtoCall at the moment does not expose API for manually receiving new message. For users who want to enable flow control and using GPRCUnaryProtoCall for server streaming call, it is impossible to do so at the moment.

### Describe the solution you'd like

See #26969 for more details

Adding  receiveMessage(s) API on GRP

[2021-08-11 14:40] wanjuntham opened #26971 "Unable to install grpcio on Alpine Linux distro"
### What version of gRPC and what language are you using?
Python

### What operating system (Linux, Windows,...) and version?
Alpine Linux, 3.14

### What runtime / compiler are you using (e.g. python version or version of gcc)
grpcio v1.39.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not

[2021-08-11 20:45] apolcyn opened #26986 "'grpc/compression.h' file not found in objc_macos_opt_native_ios-test-cronettests"
Noticed on the 1.39.x branch in PR: https://github.com/grpc/grpc/pull/26903

https://source.cloud.google.com/results/invocations/68c99e98-9f29-4afc-9e97-29b76b46f7bd/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-cronettests/tests

snippet:

[code]

[2021-08-11 23:07] drfloob commented on #20675
Quick update: Moving the protoc output directory seems the most promising. I'll need to run some experiments to make sure it merges smoothly internally here at Google. It's worth noting that changing the locations of intermediate files might have repercussions for anyone who was relying on them, but given that `*import_prefix` support is currently broken, this seems fairly low risk. I was also con

[2021-08-12 02:20] wanjuntham commented on #26971
Did some check, it is a duplicate of #24556 , closing this issue

[2021-08-12 02:20] #26971 closed

[2021-08-12 02:21] oakad commented on #20675
I'd say, this whole virtual_includes deal is dubious to start with. Other proto related rules don't use it, it just complicates things unnecessarily.

[2021-08-12 03:18] wangkang opened #26989 "Server examples can't run on macOS 11.5.1"
Port 50051 may be reserved by macOS 11.5.1, so some examples can't start to listen 50051 port.

$ ./greeter_async_server

E0812 10:28:22.418700000 4449791488 server_chttp2.cc:49]               {"created":"@1628735302.418600000","description":"No address added out of total 1 resolved","file":"/Users/wangkang/Projects/Workspace/cxx/grpc/src/core/ext/transport/chttp2/server/chttp2_server.cc","file_li

[2021-08-12 04:50] wanjuntham commented on #26971
In case it helps anyone, as of grpcio 1.39.0 and python 3.9.6

If you are using alpine linux, please install `linux-headers` and `build-base` before running `pip install grpcio`.

[code]

[2021-08-12 06:45] kylerqws commented on #25250
I have a similar problem, but with a different message error. Installing zlib-dev linux-headers packages helped.

[2021-08-12 09:46] antibarbie commented on #21474
We worked this around this using a lame pre-connexion with bouncycastle, recovering the server's certificate and CN, adding the CN into the expected name, and the cert into the trusted roots of our GRPC Client...   One callback missing, and this is just hell !

[2021-08-12 10:32] paolo2299 commented on #26664
I'm not sure what's changed, but this is suddenly resolved for me (all the same steps as the OP, installs successfully with Docker For Mac Version 3.5.2 (3.5.2.18) and also with Version 3.6.0 (3.6.0.5487))

[2021-08-12 10:35] negram opened #26994 "Retry routine causes use-after-free segfault in PHP extension"
### What version of gRPC and what language are you using?
1.39.0, PHP

### What operating system (Linux, Windows,...) and version?
Linux, MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Reproducible on both clang and gcc, php 7.4 and 8.0

### What did you do?

gRPC Has a cool feature - it can re-try requests on a particular set of response-codes.
It looks l

[2021-08-12 10:37] negram commented on #26994
grpc trace log: [tmp.log](https://github.com/grpc/grpc/files/6974758/tmp.log)

[2021-08-12 12:04] jtattermusch commented on #26557
By passing the argument "Visual Studio 14 2015" to cmake, you're telling cmake to generate projects for Visual Studio 2015. So if you only have a newer version of VS, you need update that argument to match your VS version (and have a new-enough version of cmake that supports your VS version).

[2021-08-12 12:11] StingyJack commented on #26557
@jtattermusch I was just trying to run the build and tests to make sure the bugfix PR linked to this was sound. I don't see where I've specified any VS version.

[2021-08-12 12:57] bk-one commented on #26664
can't confirm. It's still broken for me if I build from scratch without the explicit `platform linux/amd64` change.

[2021-08-12 14:47] oakad commented on #20675
@drfloob Sorry to disappoint, but your solution is not good. My solution above is not good either.

In the actual production repo I'm trying to compile, the issue remains:

The files are there, but the include paths are still wrong.

[2021-08-12 14:57] oakad commented on #20675
I already provided a reproduction under #26796 (there are 2 issues covered in the repro). Unfortunately, I could not capture the exact breakage happening in the biggish proto repo (which is otherwise good - I'm using it with rules-go without issues).

I can tinker a bit more.

PR is probably not an option - we are all bound to our corporate overlords, contributor's agreement will be a mess.

[2021-08-12 15:08] oakad commented on #20675
Actually, my repro does triggers it.

Consider https://github.com/oakad/grpc-26796 :

Breaks as reported above.

[2021-08-12 17:13] jtattermusch commented on #26650
Currently the build is passing AFAICT. This was likely a problem with the artifact build step timing out, which made the build_packages step also fail.
In the future, we'd need https://github.com/grpc/grpc/issues/26549 to make these kinds of issues easier to rootcause.

[2021-08-12 17:13] #26650 closed

[2021-08-12 17:14] jtattermusch commented on #26651
Currently the build is passing AFAICT. This was likely a problem with the artifact build step timing out, which made the build_packages step also fail.
In the future, we'd need https://github.com/grpc/grpc/issues/26549 to make these kinds of issues easier to rootcause.

[2021-08-12 17:14] #26651 closed

[2021-08-12 17:42] drfloob commented on #20675
@oakad thanks, I've been able to reproduce the problem you show in `t2`. I think something like your solution posted above would work, I appreciate you putting that together. Unfortunately without you signing the CLA, we now won't be able to use anything like it. If you'd reconsider filing a PR, that would be appreciated.

[2021-08-12 22:39] stanley-cheung commented on #26994
@HannahShiSFB Can you take a look at this issue please?

[2021-08-13 03:40] oakad commented on #20675
My solution has a different problem. It sort of works in a simple case, but messes up the includes. Include paths must be further processed to accommodate for stripped/added prefixes.

The unfortunate fact of life is that Bazel Java api and rules are way more sophisticated than what we've got in starlark. For example, `cc_proto_library` is implemented in Java and works very well, but replicating t

[2021-08-13 04:29] vitruvvius opened #27008 "Precompiled Library"
### Is your feature request related to a problem? Please describe.
It's quite cumbersome to have to rebuild the grpc library for new machines - it would make a lot more sense to have a public grpc static library for every new version

### Describe the solution you'd like
online archive of grpc static libraries for each version

### Describe alternatives you've considered

### Additional context

[2021-08-13 12:18] AkhilRaja commented on #22040
How do I strip the debug symbols? Is there a documentation you can point me to or an already stripped version I could use please ?

[2021-08-13 13:40] DmitrijDN commented on #25145
Are there any new regarding it? We also face this issue :(

[2021-08-13 15:24] oakad commented on #20675
Starlark or not, but the below simplification of the rule does appears to work for all my corner cases (not claiming it to be 100% correct, but it's more correct than anything I tried to date):
[code]

[2021-08-13 23:53] lidizheng commented on #26137
We still want this.

[2021-08-14 01:27] lidizheng commented on #25364
I'm able to reproduce this error. I found the `BlockingIOError ` log appears in Python 3.9 for unary-unary but not 3.7, but both passes. But multi-threading with multiple loops doesn't work stream-stream.

CC @dpcollins-google

[2021-08-14 10:41] panzhongxian opened #27013 "Census context doesn't behave as expected."
Hi, @yashykt @markdroth

### What version of gRPC and what language are you using?

C++

### What operating system (Linux, Windows,...) and version?

Linux

### What did you do?

In greeter_client demo, I add some `GRP_DEBUG` info in my repository based on commit 56c18f99b3c020bd48e6ea88176d6bcb1d7c7ef4. [Here](https://github.com/panzhongxian/grpc)

1. Add **census context** to ClientContext
2. Ca

[2021-08-14 23:10] coryan opened #27017 "CMake flag to disable `gen_percent_encoding_tables` and similar tools"
### Is your feature request related to a problem? Please describe.

Building gRPC with CMake on Windows generates (possibly false positive) anti-virus warnings, e.g.:

https://www.virustotal.com/gui/file/16cdaabee73df523ddb91fd4f3a10cf967c9ed4445c423cfec5ae13c8a9dfd36/detection

This causes unnecessary friction when trying to use gRPC in those platforms.

### Describe the solution you'd like

Thes

[2021-08-16 08:16] jtattermusch commented on #26070
We don't recommend using extra options (such as "base_namespace") when using an automatic integration of codegen into the build. But if you really want to set that option, you can use the "AdditionalProtocArguments" attribute (see "https://github.com/grpc/grpc/blob/master/src/csharp/BUILD-INTEGRATION.md).

Btw, it seems that you are misunderstanding what the "base_namespace" option does - it does

[2021-08-16 08:16] #26070 closed

[2021-08-16 08:18] jtattermusch commented on #26094
for repro, it would be the easiest if you included a `Dockerfile` that reproduces the problem - that way it's easy to repro and experiment with it, and we would also be sure that everyone's running into the same issue.

[2021-08-16 08:33] duanbing commented on #22071
hi,  @jiangtaoli2016 @georghinkel, Can you help to take a look at this question?

[2021-08-16 08:44] #24628 closed

[2021-08-16 08:52] jtattermusch commented on #25774
Since https://github.com/grpc/grpc/blob/master/src/csharp/experimental/build_native_ext_for_ios.sh is already available and seems to work, using CMake for the iOS artifacts build is really just a nice-to-have.
Also, since Grpc.Core will be deprecated next year (see https://grpc.io/blog/grpc-csharp-future/), there's probably no point in working on this feature now.

[2021-08-16 08:52] #25774 closed

[2021-08-16 09:05] jtattermusch commented on #26551
Lowercasing of metadata keys is consistent with http/2 protocol which requires all the headers to be converted to lowercase.
AFAIK this is the same behavior that other gRPC implementations use.

[2021-08-16 10:16] OBess opened #27020 "Build fail with ServerBuilder"
My code:
[code]

My cmake (first):
[code]

My cmake (second):
[code]

I have a problem with ServerBuilder and with including libs. When make attempt to build project without including ServerBuilder (just comment line) my build is successful, but when i include ServerBuilder i get a lot of undefines. What I need to do or which lib I have to inlcude.

[2021-08-16 11:29] #27020 closed

[2021-08-16 11:36] mit-mit commented on #26652
I think this was resolved?, @mraleph

[2021-08-16 11:37] mit-mit commented on #26595
cc @mraleph

[2021-08-16 12:42] mraleph commented on #26595
This is fixed now. (Can't mark it as fixed myself though)

[2021-08-16 12:42] mraleph commented on #26652
This is fixed now (Can't mark it as fixed myself though)

[2021-08-16 15:23] StingyJack commented on #26551
@jtattermusch  - Converting them to lowercase for transmit is OK. However, not letting me access the value by the key that I just used when adding the value is a bug.

Please see PR linked to this (also assigned to you).

[2021-08-16 15:54] SeptoDog opened #27023 "Can't start grpc server when IPv6 is disabled"
I am currently working on a project where I have to use a node-grpc module to start a grpc server.
The only problem is that there is no ipv6 support in the environment and grpc seems to not like it: every time I start even a simple greeter server from the examples I get the following error:

ERR sfu[2470]: E0816 07:13:38.758980463    2466 server_chttp2.cc:40]        {"created":"@1629098018.7589471

[2021-08-16 16:04] MHDante opened #27024 "Can't build .unitypackage outside of kokoro"
Hi. Perhaps I'm a bit out of my depth, but I'm unable to build the .unitypackage from a cloned repo.

I'm looking to do this so I can make archived .unitypackages for each minor and patch version.
Currently, they're only being automatically made for the main branch nightlies which can be a bit of a hit and miss
with regards to stability. My intention is to set up an NPM server (Unity uses NPM to d

[2021-08-16 16:31] veblush commented on #27008
@vitruvvius Thank you for the proposal and do you have an idea on how to achieve it? for example; reference OSS libraries doing this well?

[2021-08-16 16:42] veblush commented on #26989
Thank you for the report. I think this can happen because 50051 port can be used already for any reason. And it doesn't seem feasible to pick the new port which no one took already. So we might need to have a way to override this by providing a new option such as `--port`.

[2021-08-16 19:40] yashykt commented on #27013
If the issue that you are seeing is that a different context is actually used internally, then that is working as intended. Please take a look at https://github.com/grpc/proposal/pull/254.

In short, in the new world which has retries, each call attempt creates a new child span based on the parent span.

[2021-08-16 20:45] adam-azarchs commented on #24665
One problem with that solution is that it perpetuates the problems inherent `bind`.

Another more serious problem is that it still won't work if, as in for example my case, the system does not have a version of python installed that matches the version from your toolchain.  For example our python toolchains are configured for python 3.8, so `local_config_python` fails with a message like
[code]

[2021-08-16 21:03] ZhenLian commented on #22071
@duanbing I left some comments. Let's just iterate on that SO question, since this is a closed issue.

[2021-08-16 21:27] mattnworb commented on #26460
To add a small data point here, we have a use case in Java where the existing pluggable compressor support has been very helpful for easily adding internal (within the company) support for Snappy as a less-expensive alternative to gzip, to the point where if it were to be removed we would miss it.

[2021-08-16 21:59] bshaffer opened #27028 "Bug: error "We expect a missing _needs_stub attribute from older versions of setuptools""
### What version of gRPC and what language are you using?
I have tested using `master`, `v1.38.0`, and `v1.36.1` of this repo.

### What operating system (Linux, Windows,...) and version?
I have tried both Linux (`Debian GNU/Linux rodete`) and Mac OSX (`11.5.1`)

### What runtime / compiler are you using (e.g. python version or version of gcc)
python `3.9.2` (Linux) and python `3.9.6` (Mac OSX)

#

[2021-08-16 22:13] ejona86 commented on #26460
@mattnworb, I have no plans to "strand" use cases like yours. If we removed the API, we'd work with others to figure out other options, whether that is built-in support for Snappy or a migration to something like Zstd or something else. I am happy to hear it was used for actual compression. That said, I still have hope that one day "full-stream compression" (aka, HTTP-standard compression, so stre

[2021-08-16 22:55] bshaffer commented on #27028
**UPDATE**: I believe I may have gotten this to work with the following commands:

[code]

I am not sure which of these fixed it, or why, but it seems to be working now.

[2021-08-16 23:00] AlexJMohr commented on #25861
Also having this issue with `google-ads==13.0.0`, `grpc==1.39.0`, `eventlet==0.31.1`, python 3.8.10 (monkey patched eventlet)

Here is a reproducible example with a flask server: https://github.com/AlexJMohr/grpc-sigsegv

Seems to happen while there are simultaneous flask requests creating a `GoogleAdsClient` at the same time

[2021-08-17 02:12] panzhongxian commented on #27013
@yashykt Excuse me. Thanks for the referrence to the proposal. But the doc said:

[code]

They have different trace ID, which seems not a parent-child relationship.

Won't the census context outside propagate to the server?

[2021-08-17 08:35] LockLi opened #27034 "Cross compile: compile arm gRPC on x86_64 host failed because of grpc_cpp_plugin not executable"
### What version of gRPC and what language are you using?
gRPC-1.36.1

### What operating system (Linux, Windows,...) and version?
Linux x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-7.3.3
cmake-3.18.3

### What did you do?
cross compile arm grpc on x86_64 host.
I have provided executable protoc and grpc_cpp_plugin，which were compiled on x86_64 host,

[2021-08-17 08:37] tfcace opened #27035 "Interceptors - gRPC Streaming server swallows exceptions"
### What version of gRPC and what language are you using?
gRPC 1.39.0

### What operating system (Linux, Windows,...) and version?
Linux, macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.5

### What did you do?
Trying to use Server interceptors to catch and send logs to an external logging sink. Ideally with metadata information
which is available

[2021-08-17 09:15] dennycd commented on #26968
merged and closing

[2021-08-17 15:13] lidizheng commented on #26595
Marking as fixed. @mraleph Can you help to link the fixing PR?

[2021-08-17 15:13] #26595 closed

[2021-08-17 16:07] mraleph commented on #26595
Was fixed by https://github.com/grpc/grpc-dart/pull/513

[2021-08-17 18:39] veblush commented on #27034
Could you try to use the existing cross compilation test [script](https://github.com/grpc/grpc/blob/4dff0ee48a91452b5cb23ea8202661b30ff70d11/test/distrib/cpp/run_distrib_test_cmake_aarch64_cross.sh)?

[2021-08-17 19:07] yashykt commented on #26934
I'm not sure what the question is but looking at the stacktrace, looks like something for the protobuf repo

[2021-08-17 19:07] #26934 closed

[2021-08-17 19:22] yashykt commented on #26943
I am not a MacOS user myself and I haven't run into this issue otherwise. We mostly recommend Xcode on MacOS and I think that's what our infrastructure uses as well.

[2021-08-17 19:24] yashykt commented on #26943
@nicolasnoble @veblush Do y'all know more about this?

[2021-08-17 19:25] yashykt commented on #26945
gRPC C++ is moving to the world of callback APIs. Please take a look at https://github.com/grpc/proposal/blob/master/L67-cpp-callback-api.md

[2021-08-17 19:25] #26945 closed

[2021-08-17 19:30] yashykt commented on #26946
@ctiller thoughts?

[2021-08-17 19:31] qlisc opened #27046 "gRPC failed to process compressed response in cronet transport channel"
### What version of gRPC and what language are you using?
v1.33.2 C++

### What operating system (Linux, Windows,...) and version?
IOS, Android ( we use same c++ code in both IOS and Android)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc Apple clang version 12.0.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Speci

[2021-08-17 19:34] #26882 closed

[2021-08-17 20:08] thomasdziedzic-census commented on #26257
I added

[code]

to my Gemfile and it didn't crash!

[2021-08-17 20:37] veblush commented on #27046
@qlisc Can you try to use the latest version of gRPC (1.39 or later)? You might hit the bug (e.g. https://github.com/grpc/grpc/issues/25352) fixed already.

[2021-08-17 23:56] qlisc commented on #27046
Hi @veblush, I built and tested with v1.39 gRPC-c++ library. The error is same. This should be different from https://github.com/grpc/grpc/issues/25352. #25352 is related to request compression (client to server direction). This issue is related to response compression (server to client direction).

[2021-08-18 00:13] HannahShiSFB commented on #26994
Investigation report:
In gRPC, 6 ops are needed to complete a unary call:

OP_SEND_INITIAL_METADATA
OP_SEND_MESSAGE
OP_SEND_CLOSE_FROM_CLIENT
OP_RECV_MESSAGE
OP_RECV_STATUS_ON_CLIENT
OP_RECV_INITIAL_METADATA

In PHP, those ops are send in two batches, 3 sends in the first batch (UnaryCall.start), then 3 receives in the second batch (UnaryCall.wait), ops data are freed on completion of each batch.

[2021-08-18 07:10] Faebs23 commented on #23955
Hi,
have you fixed this problem? I have the same issue. When i run my server as a console application everything works fine. But when I host my server as a windows service I got the follwing exception when I send a client request.

[code]

[2021-08-18 20:15] Mokto commented on #4221
Install doesn't work on 1.39.0, even though it kind of worked on 1.26.0

[2021-08-18 22:29] z3ke1r commented on #26856
Any chance this has something to do with the Anaconda distribution of Python that the machine is using? I just tried this in a venv with just plain Python 3.7.6 distro and it worked.

[2021-08-19 02:09] qlisc commented on #27046
Hi @veblush,

In addition, we found gzip compressed response works if we use ssl/http2 channel.

For the compressed response data (e.g, response with content-encoding=gzip header), do you know where the received data are decompressed in grpc-cronet transport stack? e.g. in grpc or cronet stack? Here is one of our findings during investigation. From the [grpc http2 transport source code](https://gi

[2021-08-19 11:14] SeptoDog commented on #27023
Thanks for accepting this problem for investigation.
Could you please tell when any updates could be expected?
Thanks.

[2021-08-19 12:16] jtattermusch opened #27062 "Windows C# test crashes with "assertion failed: queue.Pop() == nullptr""
Spotted as a flake on a PR test.

https://source.cloud.google.com/results/invocations/db6997a6-4650-43de-bc64-8d290edb4123/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_opt_native%2Fcsharp.Grpc.Core.Tests.ContextualMarshallerTest/tests

[code]

[2021-08-19 18:56] drfloob opened #27064 "grpc/core/pull_request/macos/grpc_build_artifacts build failure: `sh: /Users/kbuilder/.rvm/bin/echo: No such file or directory`"
Seen here: https://source.cloud.google.com/results/invocations/fffe136f-48ac-4c89-ac61-3c94d32b894b/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[code]

[2021-08-19 22:23] Tratcher opened #27065 "Grpc.Core server rejects gRPC requests forwarded with YARP with "Missing header""
---
**Issue moved from microsoft/reverse-proxy#1191**
- Please respond to @mzabsky.

---

_From @mzabsky on Wednesday, August 18, 2021 4:43:54 PM_

### Describe the bug
I have an insecure C# Grpc.Core server and want to forward requests to it via an YARP reverse proxy. The proxy receives the request and then the subsequent HTTP request to the gRPC server fails with an exception:

      System.Net.

[2021-08-19 22:23] Tratcher commented on #27065
---
**Issue moved from microsoft/reverse-proxy#1191**
- Please respond to @Tratcher.

---

_From @Tratcher on Wednesday, August 18, 2021 5:04:00 PM_

Next steps:
- Get a network capture (Wireshark) between YARP and the destination to see the wire format for the request and if one of these request headers really is missing.
- Getting the debug level logs from YARP would also be useful. https://docs

[2021-08-19 22:23] Tratcher commented on #27065
---
**Issue moved from microsoft/reverse-proxy#1191**
- Please respond to @mzabsky.

---

_From @mzabsky on Thursday, August 19, 2021 7:14:39 AM_

[Trace logs for the proxy host](https://gist.github.com/mzabsky/b5f3b06a230a7eeb644cbf5dc33c5ce4)
[Wireshark capture for the destination port](https://github.com/microsoft/reverse-proxy/files/7012457/yarp-grpc-1191.pcapng.gz)

The headers:
![image](http

[2021-08-19 22:23] Tratcher commented on #27065
---
**Issue moved from microsoft/reverse-proxy#1191**
- Please respond to @Tratcher.

---

_From @Tratcher on Thursday, August 19, 2021 4:22:08 PM_

Thanks. The Wireshark and the YARP logs are consistent which implies a compat issue at the destination. @JamesNK who's a good person to follow up on the gRPC server end of this?

[2021-08-19 22:23] Tratcher commented on #27065
---
**Issue moved from microsoft/reverse-proxy#1191**
- Please respond to @JamesNK.

---

_From @JamesNK on Thursday, August 19, 2021 7:35:38 PM_

Create an issue at https://github.com/grpc/grpc

[2021-08-19 23:30] timmydo opened #27066 "C# RpcException has very verbose exception.Message property"
### Is your feature request related to a problem? Please describe.
I'm always frustrated when I catch a generic exception which is actually a RpcException and print ex.Message. It fills up my console with 100 lines of stack trace

### Describe the solution you'd like
I'd like to just see the error message without the stack trace.

### Describe alternatives you've considered
Catching RpcException s

[2021-08-20 07:35] mzabsky commented on #27065
I followed up a bit more and did a [Wireshark capture of a direct call without forwarding](https://github.com/microsoft/reverse-proxy/files/7019776/direct-grpc-1191.pcapng.gz). Here are the headers:

![image](https://user-images.githubusercontent.com/1764281/130195563-4ad52787-8b34-42ec-b722-2a155158367e.png)

The only header missing in the forwarded request posted above appears to be "te: trailer

[2021-08-22 15:48] ZhenLian commented on #26048
I think the bug is fixed by disabling the test.

[2021-08-22 15:48] #26048 closed

[2021-08-22 23:58] jbemmel commented on #24628
Perhaps Bazel should be updated to refer to /usr/bin/python3 (since python2 isn't supported anyway)?

[2021-08-23 02:33] ZZG5220 opened #27077 "error"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-08-23 08:52] inaryart commented on #21633
The same happened in my C++ project, the client is normal when the exe exits, and the client is deadlocked when the dll exits.
call stack:
[code]

grpc version: 1.38.0

[2021-08-23 09:05] inaryart opened #27086 "exit process deadlock when client project as dll"
### What version of gRPC and what language are you using?
c++ grpc 1.38.0

### What operating system (Linux, Windows,...) and version?
windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 latest vs2019

### What did you do?
-  client project as exe
    - exit the process normally

-  client project as dll(**bug**)
    - exit process deadlock

### What did you

[2021-08-23 15:28] equippedmandingo opened #27089 "Multi-threaded async GRPC server with multiple completion queues BLOCKS concurrent requests"
### What version of gRPC and what language are you using?
1.35

### What operating system (Linux, Windows,...) and version?
Both

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.4

### What did you do?
I took greeter_async_server & greeter_async_client examples and added multi-threading with a completion queue for each thread. Then added a sleep while proces

[2021-08-23 22:02] HannahShiSFB commented on #26333
This is for an environment has mixed use of glibc malloc and jemalloc, as a result the standard allocation APIs (e.g. malloc, free, etc.) point to glibc malloc functions but the non-standard ones (e.g. mallocx, sdallocx, etc.) point to jemalloc functions.

google/boringssl pushed https://boringssl-review.googlesource.com/c/boringssl/+/48885 to fix this issue.

[2021-08-23 22:02] HannahShiSFB commented on #25450
This is for an environment has mixed use of glibc malloc and jemalloc, as a result the standard allocation APIs (e.g. malloc, free, etc.) point to glibc malloc functions but the non-standard ones (e.g. mallocx, sdallocx, etc.) point to jemalloc functions.

google/boringssl pushed https://boringssl-review.googlesource.com/c/boringssl/+/48885 to fix this issue.

[2021-08-23 22:31] dperetz1 commented on #7945
please reopen, I think it's a major & relevant enhancement to the protocol

[2021-08-24 00:42] kwan-research opened #27092 "DNS resolution fails on iOS due to ipv6 issues"
The call to `getaddrinfo` https://github.com/grpc/grpc/blob/cc9c8c06d9a9583846b7d95ae0201d07bd809824/src/core/lib/iomgr/resolve_address_posix.cc#L83 hangs for 30 seconds, then fails with `EAI_NONAME` on iOS when ipv6 DNS is not available.

This is causing problems with the iOS version of Firebase Firestore https://github.com/firebase/firebase-ios-sdk/issues/8503 which can take a few minutes to est

[2021-08-24 02:33] GUESSO commented on #24123
Yeah, I also modify greeter_async_client2.cc to my program which uses multi-thread to call cq.Next, same crash happened.

[2021-08-24 03:34] donnadionne commented on #27077
For the future, please direct general question like this one to  https://stackoverflow.com/search?tab=newest&q=grpc%20is%3aquestion

Your answer may already be there or you can post a new question if it is not.

[2021-08-24 03:34] #27077 closed

[2021-08-24 05:01] stanhu opened #27095 "gRPC Ruby client crashes with illegal instruction on older AMD processors"
### What version of gRPC and what language are you using?

gRPC v1.38.0

### What operating system (Linux, Windows,...) and version?

Debian Linux (buster)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Ruby 2.7 with native gem

### What did you do?

A number of GitLab users (https://gitlab.com/gitlab-org/gitlab/-/issues/339138) have reported since we upgraded

[2021-08-24 06:12] stanhu commented on #27095
These new flags originated in cdc442876b8d9d9dd748fac2ad1580b0338fe11d and the definition came in https://github.com/grpc/grpc/pull/23357. Dropping the `-msse4` flag did the trick:

[code]

[code]

Can we override `ABSL_RANDOM_HWAES_FLAGS`?

/cc: @veblush

[2021-08-24 06:28] stanhu commented on #27095
https://github.com/grpc/grpc/pull/23357#issue-441805248 mentions:

https://github.com/abseil/abseil-cpp/issues/643#issuecomment-602643378 says this is true for `-maes`, but I'm not sure that's true for `-msse4.1`.

[2021-08-24 08:15] luochen52 opened #27097 "any io_uring supporting in plan？"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

###

[2021-08-24 09:01] llarsson commented on #7945
During my PhD studies, my co-authors and I addressed this using open source components we built. We extended the protobuf compiler to emit a reverse proxy in Golang, and then used gRPC Interceptors to both cache responses **and** estimate TTLs for responses. The latter is of course optional, if you want to, for instance, set a TTL yourself.

The publication is available for free here: https://arxi

[2021-08-24 12:31] davehorton opened #27098 "Invoking dialogflow agent in non-global region fails with auth error"
### What version of gRPC and what language are you using?
grpc 1.39.1 with C++

### What operating system (Linux, Windows,...) and version?
Debian 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 8.3.0

### What did you do?
I have created a dialogflow agent in europe-west1 that I would like to invoke via grpc using the C++ SDK.  I have previously successful

[2021-08-24 13:29] mleutner opened #27099 "Grpc.Tools: Customize path to gRPC codegen plugin via Environment Variable"
### Is your feature request related to a problem? Please describe.
Provide an environment variable to specify a custom path to gRPC plugin executable (gRPC_PluginFullPath) for csharp. While there is a environment variable and configuration capabilities for protoc (via export PROTOBUF_PROTOC=</path/to/protoc>, there is non comprehensive way for RPC_Plugin (e.g. /path/to/grpc_csharp_plugin).
This FR

[2021-08-24 14:33] markdroth commented on #26760
Another failure of the same test:

[code]

[2021-08-24 14:56] #27097 closed

[2021-08-24 16:09] cfredri4 opened #27103 "[C++] Allow interceptor to modify serialized send and recv message"
### Is your feature request related to a problem? Please describe.
I have the need to (separately, in addition to TLS transport) encrypt the payload sent between a gRPC client and server. Using grpc-java it is trivial to use an interceptor to modify the marshaller/serializer of the request to first marshall/serialize and then encrypt the bytes (or decrypt the bytes and then unmarshal/deserialize t

[2021-08-24 16:21] markdroth commented on #27103
Yash and Esun, I'm not sure how feasible it is for us to provide a way to do this via the interceptor API.  Is there a reasonable alternative for this use case, such as maybe providing custom `SerializationTraits`?

[2021-08-24 16:58] yashykt commented on #27103
This is interesting. Some quick comments -
The `ByteBuffer` returned by `GetSerializedSendMessage` is modifiable so I believe that should satisfy the needs on the send side.
On the receive side, there is `GetRecvMessage`, but the message has already been deserialized at that point.

[2021-08-24 17:13] yashykt commented on #27103
One way I can think of to achieve this without using the interception API is to use the generic async API with ByteBuffer. That way the application is completely responsible for serialization and deserialization.

[2021-08-24 17:22] yashykt commented on #27103
On the interception API side, if we want to do this, I think we can do this by changing deserialization to only be done in a lazy manner and then provide a `GetSerializedRecvMessage()` method to modify the serialized recv message.

[2021-08-24 17:40] yashykt commented on #27103
I think that might be the cleanest way to do this. (Provide a custom `SerializationTraits` for that message type.)
This is also what tensorflow is doing - https://github.com/tensorflow/tensorflow/blob/86fb36271f9068f84ddcecae74fe0b7df9ce83ee/tensorflow/core/distributed_runtime/rpc/grpc_worker_service_impl.h#L33

[2021-08-24 17:42] yashykt commented on #27103
@cfredri4 Do you think that satisfies your purpose?

[2021-08-24 18:13] cfredri4 commented on #27103
Thanks for the suggestions! I did not know about custom `SerializationTraits`; it sounds like that could work but it would unfortunately be a bit... cumbersome. This would be used with a lot (hundreds) of different message types/clients, and so hence the desire to have one single interceptor that could be added everywhere.

But that `GetSerializedSendMessage` returns a modifiable `ByteBuffer` solv

[2021-08-24 22:10] #27028 closed

[2021-08-25 04:41] wangkang commented on #26989
I think add `--port` option is a good enough solution, Thanks

[2021-08-25 06:50] stanhu commented on #27095
It looks like the `random` library isn't even being used at the moment (#26476), so we can just drop these flags entirely? I see other issues:

1. https://github.com/grpc/grpc/pull/26479 also seeks to get rid of the hardware-specific `randen_hwaes.cc`.
1. https://github.com/grpc/grpc/issues/26478

[2021-08-26 07:31] wangweilica opened #27142 "Panic! This is a bug!"
### What version of gRPC and what language are you using?
io.grpc 1.23.0

### What operating system (Linux, Windows,...) and version?
Red Hat 4.8.5-28

### What runtime / compiler are you using (e.g. python version or version of gcc)
jdk1.8

### What did you do?
 we import the dependency of grpc-netty-1.23.0

### What did you expect to see?

### What did you see instead?

Make sure you include inf

[2021-08-26 15:06] #27142 closed, assigned to markdroth

[2021-08-26 17:19] K-bhuvan opened #27150 "grpc._channel._InactiveRpcError: _InactiveRpcError of RPC that terminated with: status = StatusCode.INTERNAL"
This is a gRPC service & client python program. After running the client script it throwing this error. I am pretty new to using APIs/ gRPC in particular. It would be great if I get to know what might be the problem. Installed gRPC library & few supporting libraries too.

Even though the server is running correctly, the communication through gRPC is terminating with the INTERNAL error status code.

[2021-08-26 17:23] K-bhuvan opened #27151 "Converting tensorflow.python.framework.ops.EagerTensor to : bytes, unicode"
gRPC was expecting a byte format value. The query request is not liking the tensor type into the gRPC. I am pretty new to gRPC/APIs.

    Traceback (most recent call last):
      File "basic_grpc_example.py", line 120, in <module>
        request = client.PrimalRequest(
    TypeError: <tf.Tensor: shape=(1, 512), dtype=int32, numpy=
    array([[  101,  1053,  2015,  2966,  2373,  1997,  4 has type

[2021-08-27 06:20] zhangbaoheng opened #27163 "Does the V1.38.1 PHP extension compile successfully on Centos6 ？"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-08-27 07:46] AJR-Dev0015 opened #27164 "sysrepo-gnxi"
Hello

I would just like to ask.

I been checking "sysrepo-gnxi" https://github.com/YohanPipereau/sysrepo-gnxi for some time now.

I am not sure how or where is the part that gNMI communicates or connect to sysrepo.

Can you point out in the code or file name of the code so that I can check.

Thank you very much

[2021-08-27 15:13] #27163 closed, assigned to markdroth

[2021-08-27 15:14] #27164 closed, assigned to markdroth

[2021-08-28 00:47] JamesNK opened #27174 "[C#] Grpc.Tools 2.40.0-pre1 error"
This issue - https://github.com/grpc/grpc/issues/26819 - is back in 2.40-pre1.

I think Grpc.Tools needs some kind of automated testing.

[2021-08-28 02:46] lucacome commented on #25454
Sorry for the noise/confusion. That error message was actually about `linux/s390x`, I was able to successfully build for `linux/ppc64le`.

Seems like boringssl doesn't support `linux/s390x`, should I opened another ticket in this repo about it?

[2021-08-28 03:38] dystopiandev commented on #22263
Bump.

Any news on this?

[2021-08-28 03:41] nicolasnoble commented on #22263
Our stance on native ARM64 (which, if we were to publish binaries for, would be targeting Linux) hasn't changed much, although ARM machines might be added in the future.

M1 is a completely different problematic however, and would require a different solution. It's not appropriate to conflate ARM64 (Linux) and M1 (MacOS).

[2021-08-28 21:04] isax5 commented on #19172
This is still not working !!

[2021-08-29 00:46] ayeganov commented on #24278
This is still relevant, and needs to be addressed.

[2021-08-29 03:29] StingyJack commented on #26557
@jtattermusch  - Thanks, I switched that out for `Visual Studio 16 2019` and it looks like it worked, but wow it takes a long time. This issue probably serves as enough documentation to help someone having the same problem considering the error message text is searchable.

[code]
When you have a minute, if you dont mind approving (and merging) the PR that makes the header handling totally complian

[2021-08-29 09:43] Hazhir007 opened #27176 "how to do the same for client.cc with c++?"
Can you please run this under these environment variables:

`GRPC_VERBOSITY=DEBUG`
`GRPC_TRACE=cares_resolver,cares_address_sorting`

and share the output? That will print some useful extra debug info.

_Originally posted by @apolcyn in https://github.com/grpc/grpc/issues/23273#issuecomment-648347127_

[2021-08-29 10:48] bjornbouetsmith commented on #24687
Could we have an update on this?

[2021-08-29 16:03] vjpai commented on #26016
Marking this never stale as a community service, since there have been numerous requests for this in various forms over the years.

[2021-08-29 22:39] mbeards commented on #19956
Please keep this issue open.

[2021-08-30 06:37] jtattermusch commented on #27174
Good catch. Looks like https://github.com/grpc/grpc/pull/26896 was merged after the v1.40.x branch was cut.

We do have some test coverage for Grpc.Tools (e.g. here: https://github.com/grpc/grpc/blob/master/test/distrib/csharp/run_distrib_test_dotnetcli.sh, building DistribTestDotNet.csproj also includes Grpc.Tools codegen)
I'm going to investigate a bit why these tests didn't catch the problem.

[2021-08-30 07:24] jtattermusch commented on #27174
Ok so I think the reason the distribtests didn't catch the problem is that they do include a codegen with Grpc.Tools, but it's only a simple one and it doesn't include any custom grpc_csharp_plugin options, so the for loop that's impacted by the bug never gets to run:

https://github.com/grpc/grpc/pull/26896/files#diff-a84435c6492be9bfe4fe4663d238de49ffc1caeb462a601f690c2fc0bd049920R49
https://git

[2021-08-30 08:25] n-bes commented on #24903
This is still relevant

[2021-08-30 10:13] dgurns commented on #26125
Any update on this?

[2021-08-30 12:56] jtattermusch commented on #22263
Grpc.Tools has had ARM64 codegen support on **Linux** for a while now. See https://grpc.io/blog/grpc-on-arm64/

We don't have plans for Apple M1 yet, but this issue is about ARM64 on linux, not on mac - so debates about ARM64 on Mac don't belong here.

[2021-08-30 15:06] markdroth commented on #27176
If you're asking how to set environment variables, I suggest you consult your shell manual.

This isn't a gRPC problem, so I'm closing this.

[2021-08-30 15:06] #27176 closed

[2021-08-30 17:57] #27098 closed

[2021-08-30 21:25] stanley-cheung commented on #26994
We are also debugging this for another issue that ends up possibly the same issue as here. We had a gdb trace:

[code]

[2021-08-31 01:13] boanerges317 commented on #20418
Hi all, I am again looking into this issue. I am currently on v1.38.0 and it looks like the issue is solved. I am not able to reproduce the same. If this is fixed, do any of you know the PR that solved it?

[2021-08-31 07:08] jtattermusch commented on #26489
CC @nicolasnoble

[2021-08-31 11:33] Kiddinglife opened #27198 "Unkown frame type error with grpc c++"
I recently suffered from unknown frame type error with grpc c++.
I dived into the grpc implementations and found that the decoding of frame type looks quite doggy.
How it makes sure there are >= sizeof(uint32_t) 4 bytes in the slice before casting to uint32_t with consideration that the underlying http/2 is byte-based protocol instead of packetization-based ?
https://github.com/grpc/grpc/blob/f2f6

[2021-08-31 14:03] chris-gillatt commented on #23190
`pip uninstall -y rsa`  to avoid the prompt if you're automating this in a Dockerfile etc.

[2021-08-31 14:04] anon17 commented on #24421
I had to run it several times before it fails
[code]

[2021-08-31 14:41] anon17 commented on #24421
To make the test run faster connect to 0.0.0.0

[2021-08-31 14:44] zisha commented on #23172
Hi, did anyone find a solution to this?

I'm having the same issue, getting the Cannot check peer: missing selected ALPN property error.
Thanks

[2021-08-31 14:51] TobixDS opened #27199 "tcp_windows.cc: memset of grpc_tcp damages std::string"
### What version of gRPC and what language are you using?
1.34.1, 1.39.1

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 2019

### What did you do?
I am calling ServerContext::peer()

### What did you expect to see?
Correct peer information

### What did you see instead?
Invalid strings,

[2021-08-31 15:07] #26943 closed

[2021-08-31 15:43] chirupan commented on #23172
Hi,  I solved the above issue by including SAN(Subject alternate Names)  while generating the certificates.
Hope the below certificates help you

[certificates.zip](https://github.com/grpc/grpc/files/7085147/certificates.zip)

[2021-08-31 15:52] zisha commented on #23172
Thanks for your response.
I am getting this error while trying to access the google ads API using the python client libraries from behind a corporate firewall so I dont think I can make use of these certificates.

[2021-08-31 18:45] raphox opened #27204 "GRPC::PermissionDenied without reason"
### What version of gRPC and what language are you using?
1.38.0

### What operating system (Linux, Windows,...) and version?
Debian GNU/Linux 10 (buster)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby

### What did you do?

[code]

[code]

### What did you expect to see?
[code]

### What did you see instead?

[code]

### Anything else we should know about

[2021-08-31 21:24] carlito387 commented on #23330
Hi @ctiller, I see that you assigned yourself this issue last May.
The previous comment was made last year. Are there any updates with this issue, please?

[2021-08-31 21:59] ctiller commented on #23330
Hey... we had a team member move on and I inherited some bugs.
We've got some work in progress that ought to make much of this *able* to be addressed, but it's likely at least 6-12 months out.
That said, I don't actually consider memory reachable from globals are leaked, and neither do more modern leak checkers, so I'd encourage you to have a look and see if you can rely on something more modern t

[2021-08-31 22:01] ctiller commented on #27198
it's casting the byte being read to a uint32

[2021-08-31 22:16] Kiddinglife commented on #27198
maybe I did not make my question understood by you. For example, you receive 2 bytes data. Then you cast to uint32. And after doing the 16bit shifting, you are actually holding the significant 16bits that are probably junk data.

[2021-08-31 22:24] ctiller commented on #27198
I think you're misreading this code, but I agree it's not reading one full length header and then parsing, instead it's doing so incrementally.

On the line in question we cast the byte read to a uint32_t and shift it 16bits left into place... the other parts of the uint32_t are empty.
Then we check if there are more bytes... if not, we save where we are and return. When we start parsing again we'

[2021-08-31 22:52] ctiller commented on #27017
Reassigning. I'm going to occasionally eliminate the need for these tools, but that opportunistic work shouldn't be counted upon to solve this problem. We likely do need a way to disable generation of these tools, and of our dependencies tests, as part of our cmake story.

[2021-08-31 23:01] Kiddinglife commented on #27198
Hey why is the size of frame size field? Is it 4bytes long or 3 bytes long?

[2021-08-31 23:14] JamesNK commented on #19126
FYI I've started a proposal for gRPC over HTTP/3: https://github.com/grpc/proposal/pull/256

Please keep any comments there constructive 😄

Thumbs up reactions = good
Commenting that you want this or "+1" = noise

[2021-08-31 23:35] ctiller commented on #27198
gRPC on HTTP2 is here: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

The part you're looking at right now is straight up HTTP2 parsing though, and is a three byte length.

I'm going to be limited in time explaining all of the code though, and you probably want a solution to your problem more, so can you give some more details on the problem you're seeing?

[2021-09-01 00:13] Kiddinglife commented on #27198
**so can you give some more details on the problem you're seeing?**
below is error log
[code]

[2021-09-01 00:24] Kiddinglife commented on #27198
also do you consider the endian issue when you have 3 bytes filled up in an unit32_t ?

[2021-09-01 00:32] ctiller commented on #27198
Endianess: yes.
Frame type 20 means there's an ASCII space character there, which seems suspect. Any chance you're accidentally connecting to a http1.x service?

[2021-09-01 00:40] Kiddinglife commented on #27198
**Any chance you're accidentally connecting to a http1.x service?**
server and client both uses grpc-cpp library.
It was observed that Unknown frame type either doesn't show up at all or shows up after the connectivity state has been put into SHUTDOWN. di this mean something to you ?

[2021-09-01 00:52] Kiddinglife commented on #27198
also is it possible the decoding got corrupted after the state switched to shutdown ? usually when the state changed to shutdown, the procedure should discard the received data and also reset all the internal states and buffer. another issue is how the grpc keeps the boundary of the stale grpc instance and the newly created one. In the implementation of tcp /quic/sctp, there is a flag used to dete

[2021-09-01 01:00] Kiddinglife commented on #27198
btw, I also got the error that showed me a huge frame size, dramatically larger than the default size 65535. So my guess work is, for example, when it is changed to shutdown state, somehow grpc procedure still parses the received stale data. but the parsing states were reset to initial states. so it starts to parse the stale data from beginning, which causes the wrong frame types or size.

[code]

[2021-09-01 01:09] Kiddinglife commented on #27198
I ma happy to provide you more details/logs. I have tons of logs. so let me know what exactly infos/logs you need that can help you debug the issue.

[2021-09-01 01:22] Kiddinglife commented on #27198
also do you guys tested error cases with the underlying http2 transport ? those two layers can have inconsistent states that could cause some issues.

[2021-09-01 05:27] #27198 closed

[2021-09-01 06:40] Rishantkr commented on #25973
I got a small fixed for this error. I have switched from latest version to previous version of nuget package using for this.

[2021-09-01 06:40] #25973 closed

[2021-09-01 10:40] jtattermusch opened #27211 "build_artifact.csharp_ext_macos_ios is flaky"
https://source.cloud.google.com/results/invocations/50a18936-aa4c-4816-8b10-b9fe6c181feb/targets/github%2Fgrpc/tests
https://source.cloud.google.com/results/invocations/855640dc-a97b-4601-ba3b-f00f294cc4a1/targets/github%2Fgrpc/tests

The flakiness makes the artifact - build packages - distribtests chain unstable  (because with missing artifacts, C# packages fail to build, which in turn fails C# d

[2021-09-01 10:40] jtattermusch commented on #27211
CC @gnossen

[2021-09-01 11:11] jtattermusch commented on #27017
I haven't found "gen_percent_encoding_tables" anywhere in the repo.

There are some C-core codegen things in https://github.com/grpc/grpc/tree/master/tools/codegen/core but honestly I don't understand how they can trigger an antivirus warning.

[2021-09-01 12:29] coryan commented on #27017
https://github.com/grpc/grpc/blob/v1.38.x/tools/codegen/core/gen_percent_encoding_tables.cc

apparently no longer there.

Me neither. But they do (or did).

[2021-09-01 13:07] ctiller commented on #27017
I removed the gen_percent_encoding_tables tool. I'm figuring generally we
could remove anything in tools/core/codegen from the cmake build though:
those tools are for developers of gRPC, and I think trying to support them
in cmake is probably a thing we don't need to do.

On Wed, Sep 1, 2021, 5:29 AM coryan ***@***.***> wrote:

[2021-09-01 13:28] AustinEscobedo commented on #23955
Running into the same issue as well. Any resolution/troubleshooting information?
Status(StatusCode="Cancelled", Detail="Cancelled", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1630433128.330000000","description":"Error received from peer ipv6:[::1]:8061","file":"..\..\..\src\core\lib\surface\call.cc","file_line":1070,"grpc_message":"Cancelled","grpc_status":1}")

[2021-09-01 14:28] #26994 closed

[2021-09-01 15:22] gaurav36 opened #27213 "grpc python client authentication throwing SSL_ERROR_SSL: error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
I am building one grpc based application with secure authentication, is there any issue with grpc python client or i am missing anything ? because on documentation it don't see much things.

My environment is following:

[code]

I am always getting SSL_ERROR_SSL: CERTIFICATE_VERIFY_FAILED

[code]

my proto file is:

[code]

server code is:

[code]

and client code is:

[code]

I used following ope

[2021-09-01 19:22] akshayjshah opened #27219 "On Windows, automatically check NRPT for proxy configuration"
### Is your feature request related to a problem? Please describe.
In Windows environments, it's common for operations and infrastructure teams to configure proxy settings at the host level using the [Name Resolution Policy Table, or NRPT](https://docs.microsoft.com/en-us/windows/security/identity-protection/vpn/vpn-name-resolution#name-resolution-policy-table-nrpt). gRPC's C core doesn't support

[2021-09-01 21:52] davidben commented on #25450
So, while we did merge a BoringSSL change, looking at this some more, I don't think the change was right. This environment is just broken, due to a bug somewhere in the rbenv/ruby-build/ruby chain. Specifically, `--with-jemalloc` does not actually use jemalloc!

The flag does result in a reference `libjemalloc.so`, but it orders `libjemalloc.so` *after* `libc.so`. That is why you're, as you say, g

[2021-09-02 01:37] #27013 closed

[2021-09-02 12:31] YangHuiFor opened #27231 "PHP#GRPC Failed to receive large data, Prompt Stream removed"
I use Swoole as the GRPC server.  I requested the Swoole server using the GRPC extension。
If I request less than 200 items of data can return normally。If an exception occurs when I request more than 200 items of data, throw。
[code]
My environment is following:
[code]
I have no problem using the Swoole client to call the Swoole server。 How can I handle it?

[2021-09-02 17:45] leonid-shevtsov commented on #24846
This issue cannot be considered _resolved_ by installing Ruby with `arch -x86_64` - it is but merely sidestepped.

The current state of events is: as long as you need the `grpc` gem, you are stuck with x86 Ruby. Which doesn't sound too bad, but for installing many native gems (like `pg`) you need to obtain x86 dependencies and configure build scripts to use them. And then help your teammates do th

[2021-09-02 19:00] clayg commented on #25339
It seems to me that https://github.com/grpc/grpc/pull/26706 actually made this problem worse, instead of "just" leaking the task now we're "silently" hiding the server error from the client by canceling it's request.

[code]

Without debug logging turned on you *only* see a traceback raised during atexit
[code]

I'll try to dust off https://github.com/grpc/grpc/pull/25351

[2021-09-02 20:14] #26842 closed

[2021-09-02 20:28] gaurav36 commented on #27213
Issue got fixed there was some problem with my certificate.

[2021-09-02 20:28] #27213 closed

[2021-09-02 22:55] #23144 closed

[2021-09-03 02:56] MaoJianwei commented on #20418
![image](https://user-images.githubusercontent.com/12800168/131943711-06c43b20-3ab9-4993-b189-65147dd6a43a.png)

This problem is existing, golang grpc 1.40.0

[2021-09-03 02:57] MaoJianwei commented on #20418
the Recv-Q is increasing until 4097, then it will report "accept4: too many open files"

[2021-09-03 08:12] pitrou commented on #25556
Just a comment to avoid autoclose, since this isn't fixed.

[2021-09-03 10:23] AqlaSolutions opened #27244 "Failed to deserialize response message on latest VS 2022 Preview"
### What version of gRPC and what language are you using?
gRPC 2.39.1, C#, VS 2022 17.0.0 Preview 3.1

### What operating system (Linux, Windows,...) and version?
Windows 10 19043.1165

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS with msbuild, project targets .net core 3.1

### What did you do?
I switched from VS 2019 to VS 2022 on our existing project.
I c

[2021-09-03 12:11] kucint commented on #20134
I get the same error when running gRPC app from within VS2022 preview. If I switch to VS2019, the issue disappears.

[2021-09-03 12:33] #26724 closed

[2021-09-03 12:59] jtattermusch commented on #27017
Can you check that the antivirus still triggers warnings even after `gen_percent_encoding_tables` was removed? If not, we can close the issue.

[2021-09-03 13:08] jtattermusch commented on #27017
Btw, it looks like the only remaining item is "gen_" tool in our cmake is `gen_hpack_tables` https://github.com/grpc/grpc/blob/4a267667b73ce961438cdaf398f9d70a51ad7155/build_handwritten.yaml#L33,
but if we removed it from build_handwritten.yaml, it would also disappear from the cmake build, and cmake is currently the only way to build it (it's not available in bazel BUILD or in Makefile). So we wo

[2021-09-03 13:13] coryan commented on #27017
Oh sorry, I should have mentioned that I was filing this on behalf of some other folks.  But I will ask them.

[2021-09-03 14:33] coryan commented on #27017
FWIW, I compiled it myself and it was clean:

https://www.virustotal.com/gui/file/6c2fc34a079e1978c2cfde6548dfae97ac9f9c864c83241d77ff688d02c22ff6/detection

[2021-09-03 15:07] AqlaSolutions commented on #20134
@kucint I created a separate issue about VS2022 https://github.com/grpc/grpc/issues/27244

[2021-09-03 17:12] Stevecaboose commented on #20134
@kucint I am also having this issue in vs2022 but not in 2019

[2021-09-03 17:13] Stevecaboose commented on #27244
I am able to reproduce this in vs2022 running .net5 and also .net6
Inner exception is swallowed at some point

[2021-09-03 17:59] moriarty commented on #20675
The username tag here was incorrect, @CooperBills probably didn't get this msg

[2021-09-03 20:40] georgeps21 commented on #26743
I am also hitting this. Is there any update or a known workaround?

[2021-09-06 14:36] davidjward30 commented on #27244
I can reproduce this too using the ASP.NET Core template grpc sample (GreeterService). An additional observation is that if you use VS2022 but start the server on the commandline then it works fine.

[2021-09-06 16:44] alexykot commented on #17453
Oh, I didn't realize this is still not solved and my solution is actually workable.
I'll move the examples from my archive to gRPC asap.

[2021-09-06 19:59] davidjward30 commented on #27244
Bug reported in VS2022:

https://developercommunity.visualstudio.com/t/unable-to-debug-grpc-server-code-with-preview-3/1503691

Workaround is to disable Hot CSS Reload.

[2021-09-07 04:47] lambertsbennett commented on #26856
This could be. I am using Anaconda. In the end I just started packaging my grpc apps in Docker containers, which works fine and is relatively painless.

[2021-09-07 04:47] #26856 closed

[2021-09-07 06:04] #24758 closed

[2021-09-07 06:04] #25787 closed

[2021-09-07 06:04] #26229 closed

[2021-09-07 07:54] ZZG5220 opened #27263 "Install GRPC must be based on protobuf3?"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-09-07 07:54] #27017 closed

[2021-09-07 09:03] liusy58 opened #27266 "HelloWorld example error"
hi, sir, I have set up grpc successfully, but when I try to run the example, I got the following error:

[code]

In fact, I have apt install libssl-dev and openssl.

[2021-09-07 16:41] drfloob commented on #27266
What version of cmake are you using? There is a similar error reported a year ago, indicating that updating to a newer `cmake` version solved their problem. Please try that first. Additionally, if you're building from git source, please be sure you have pulled the latest gRPC updates and have initialized and updated all submodules.

[2021-09-07 16:41] #27263 closed

[2021-09-07 20:21] Lordnibbler opened #27273 "Release 1.40.0 does not appear on pypi"
I see https://github.com/grpc/grpc/releases/tag/v1.40.0 was released yesterday, but on pypi I only see up to 1.40.0rc1: https://pypi.org/project/grpcio/#history

[2021-09-07 21:19] drfloob commented on #27273
CC @gnossen. The release tag has been created, but I don't believe the python artifacts have been pushed yet. Barring any build issues, I expect this'll be done soon.

[2021-09-07 22:02] HannahShiSFB commented on #27231
swoole have fixed it.
FYI: https://github.com/swoole/swoole-src/pull/4394
https://github.com/hyperf/hyperf/issues/4006#issuecomment-914167667

[2021-09-07 22:08] gnossen commented on #27273
[Artifacts pushed.](https://pypi.org/project/grpcio/1.40.0/)

[2021-09-07 22:08] #27273 closed

[2021-09-08 02:15] liusy58 commented on #27266
I see. I forgot to set up some submodules

[2021-09-08 02:15] #27266 closed

[2021-09-08 02:15] liusy58 commented on #27266
thx al lot!!

[2021-09-08 06:21] #26610 closed

[2021-09-08 07:22] Nakilon commented on #26655
It's compiling for already an hour. I even had a trip to grocery store. Twice.

[2021-09-08 08:59] BusyJay opened #27282 "no clear error report on message size exceeds limit in streaming call"
### What version of gRPC and what language are you using?
1.36.0

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
c++ version

### What did you do?
Update grpc route guide example by changing the second route note to have a long (about 80) message and add channel arguments to limit the message size

[2021-09-08 13:30] Manelmc opened #27284 "Cryptic error when installing 1.40.0 in a Python 2.7 environment"
### What version of gRPC and what language are you using?
grpcio 1.40.0
Python

### What operating system (Linux, Windows,...) and version?
Linux version 4.20.11-1.el7.elrepo.x86_64 (mockbuild@Build64R7)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)
Python 2.7.5
pip 21.0

### What did you do?
Install package t

[2021-09-08 15:49] syslogic commented on #24940
Also experiencing a similar issue (the error message brought me here). And how PHP is related is because PECL modules are being built against `php-devel` (as the documentation for Cloud Logging reads: `pecl install grpc
`). I'm on CentOS 8.x with GCC 4.8.5 and get the following stacktrace:

[code]

[2021-09-08 15:55] drfloob commented on #27284
Python2.7 is no longer supported. See https://github.com/grpc/grpc/pull/26691 for the removal. CC @lidizheng

[2021-09-08 15:56] drfloob commented on #27284
Sorry, I missed this bit

I had thought that was done already. Reopening for @lidizheng to look at.

[2021-09-08 19:02] fotos opened #27288 "Missing published Ruby gems for versions >= 1.39.0"
### What version of gRPC and what language are you using?

`1.40.0` / Ruby 💎

### What operating system (Linux, Windows,...) and version?

MacOS 11.5.2 (20G95)

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Want to upgrade to the latest released `grpc` version.

There have been a couple of releases (e.g.[`v1.40.0`](https://github.c

[2021-09-08 19:03] dennycd commented on #26421
issue fixed via PR https://github.com/grpc/grpc/pull/26931

[2021-09-08 19:03] #26421 closed

[2021-09-08 23:34] veblush commented on #24687
We don't have bandwidth to write this example. Could you help on this? or Flatbufer's gRPC [integration](https://github.com/google/flatbuffers/blob/master/include/flatbuffers/grpc.h) might be useful as a practical example using the custom serializer.

[2021-09-08 23:37] veblush commented on #25454
@lucacome If you want to build gRPC Python for linux/390x and boringssl is the only problem, you may try building it with OpenSSL instead of BoringSSL setting `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true` environment variable.

[2021-09-09 01:42] Kiddinglife opened #27292 "[BUG] WSAEFAULT"
### Problem ###
Brieftly to say, the erorr is `overlapped  WSARecv call in gRPC that fails with a WSAEFAULT error`.

### What version of gRPC and what language are you using?
1.37.1

### What operating system (Linux, Windows,...) and version?
windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python3.9 and VS2019 compiler

### What did you do?
Run an samp

[2021-09-09 05:45] #27231 closed

[2021-09-09 07:52] #26061 closed

[2021-09-09 13:11] #27244 closed

[2021-09-09 16:41] apolcyn commented on #27288
Both 1.39.0 and 1.40.0 have just been pushed. Sorry for the delay.

[2021-09-09 16:41] #27288 closed

[2021-09-09 16:59] drfloob commented on #27282
This is a small oversight in the example code, really. I'd be happy to accept a patch if you'd like to fix it! The returned Status's error_message contains the status you're looking for.

Diff (modulo some channel args and message size changes):

[code]

Output:

[code]

[2021-09-09 16:59] #27282 closed

[2021-09-09 18:11] yashykt commented on #10577
seen again https://source.cloud.google.com/results/invocations/f94b00f4-0e3b-406c-96f1-e10b3c81f562/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_linux_dbg_native%2Fcsharp.Grpc.IntegrationTesting.SslCredentialsTest/tests

[2021-09-09 18:32] fotos commented on #27288
Thanks @apolcyn! 🙌

[2021-09-09 21:54] vinnnyr commented on #21283
Has there been some sort of pause on building these wheels? It seems like the last arm wheels were published with version `1.38.0`

[2021-09-09 23:20] yashykt opened #27299 "Basic Tests Python Windows Timeout"
[code]

https://source.cloud.google.com/results/invocations/10900a08-303f-4599-ac18-3d43fe7aa87b/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_python/log

The test seems to be timing out

[2021-09-10 00:11] dariusgrassi commented on #4221
Hi, I want to add that pypy:3.7-7.3 and grpcio==1.26.0 works for me, but I'm seeing the same dependency issue when trying to download grpcio-tools. For testing purposes:
[code]
triggers an error for me. Does anyone know a fix for this?

[2021-09-10 05:47] dennycd commented on #24458
This one should be safe to ignore, as it is a transient error when hitting our prod sandbox "grpc-test.sandbox.googleapis.com" with service unavailable error. Likely the server is down at the time.   If our prod sandbox is down, rest of other iOS interop tests would all fail either way.   Haven't observe any new sample reports since a year ago.

[2021-09-10 05:47] #24458 closed

[2021-09-10 06:48] #26968 closed

[2021-09-10 07:03] mickours commented on #24603
I've experience the same issue  with an async generator function not directly in the RPC method (Variant A) throwing the same error.

I finally make works by calling the external function async generator in a loop. If I take the previous example here is a working version:
[code]

[2021-09-10 08:19] jtattermusch commented on #10577
Very likely,  this has been already addressed in b/198765101 (The test failure reported is from Sep 3, and the fix was merged on Sep 7)

[2021-09-10 08:19] #10577 closed

[2021-09-10 08:44] jtattermusch commented on #21283
Not really, we still provide aarch64 wheels. The only thing that changed is that for 1.39.0 and 1.40.0 release, the wheels are now "manylinux_2_24" - this change was necessary to fix a bug - see https://github.com/grpc/grpc/pull/26430

https://pypi.org/project/grpcio/1.39.0/#files

In the future, we will likely be providing manylinux_2_17 / manylinux2014 wheels for aarch64 again, since it seems we

[2021-09-10 12:06] Frame25 opened #27304 "Response compiles incorrectly, keys of object contain \u0000 (unicode like chars)"
### What version of gRPC and what language are you using?
We use gRPC version "1.24.11". Backend is on Scala (2.7.5) and Backend for Frontend on NodeJS (14.16.0);
Libraries:
"grpc": "1.24.11",
"@grpc/proto-loader": "0.6.4",
"google-protobuf": "3.13.0",
"protobufjs": "6.11.2",

### What did you do?
We have a service proto:
[code]

In NodeJS backend we define resource with grpc library like this:
[c

[2021-09-10 13:59] vinnnyr opened #27305 "aarch64 pip wheel not found for version 1.39.0"
### What version of gRPC and what language are you using?
Attempting to install `1.39.0`

### What operating system (Linux, Windows,...) and version?
Ubuntu Docker Image, on an aarch64 machine

[code]
[code]
### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]
[code]

### What did you do?
In a fresh ubuntu docker container, running on an `aarch64` machine, I att

[2021-09-10 14:13] hrw commented on #21283
On https://snapshots.linaro.org/ldcg/python-cache/grpcio/ you may find 1.39.0 wheels for aarch64. They are "linux_aarch64" because at that time we did not run "auditwheel repair" on dependencies.

No warranty, may eat your kitten, etc.

[2021-09-10 15:26] drfloob commented on #27305
I think the problem might be that your OS and pip versions are too old. The [requirements](https://github.com/pypa/manylinux) for manylinux_2_24 are:

* pip >= 20.3 -- you have pip==20.0.2
* Ubuntu >= 21.04 -- you have 20.04.3
* CPython 3.8.10 -- you're good here.

CC @jtattermusch

[2021-09-10 16:29] syslogic commented on #26413
CentOS 7 is the problem ...while CentOS 8 kernel is built with a later version of `gcc`.

[2021-09-10 16:41] dennycd opened #27306 "FLAKE: InteropTestsLocalSSL testHijackingInterceptor timeout"
https://source.cloud.google.com/results/invocations/4aaf38b6-978c-4a03-ae27-5ec9221ec0ba/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_objc_ios/log

Fri Sep 10 00:15:54 PDT 2021 - /Volumes/BuildData/tmpfs/src/github/grpc/workspace_objc_macos_opt_native/src/objective-c/tests/InteropTests/InteropTests.m:1717: error: -[InteropTestsLocalSSL testHijackingInterceptor] : Asynchronous wait

[2021-09-11 06:04] chrisjune commented on #25082
Just simply export and install through pip package installer

export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1
export GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1

pip install grpcio

[2021-09-11 07:24] Kiddinglife opened #27320 "Can x64 csharp client communicate with x86 cpp server ? Thx."
I got the [EFAULT](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsarecv) error with grpc csharp client built with 64bits talking with grpc cpp server built with 32bits. I am wondering if both of the sides must be built with same bits either x86 or x64 in order to comunicate well ? Thank you.

[2021-09-12 04:34] wanggujin opened #27324 "unlock of unowned mutex"
I build the master branch in vs2019.
but when i run the example cpp/route_guide/route_guide_callback_server.cc  and cpp/route_guide/route_guide_callback_client.cc.
it is failed in RouteChat() function in server side.
the failed message is: unlock of unowned mutex.

Does anyone know why ?

[2021-09-12 06:46] speedplane commented on #24026
For anyone seeing this more recently, you grpcio [1.40.0 was recently released on Sep 7, 2021](https://pypi.org/project/grpcio/#history), and this issue came up again for me. Adding the following to my requirements file locked in the earlier version:

[code]

[2021-09-13 02:25] #27320 closed

[2021-09-13 09:33] LockLi commented on #27034
The script can slove my problem of cross compiling. Thank you so much!

[2021-09-13 16:22] drfloob commented on #27324
I can't reproduce this on linux or mac, and don't have a Windows machine handy at the moment to test it on. Have you modified the route_guide code at all? If not, we'll need to know more about your environment to determine if there's a bug here. Stack traces would help as well.

[2021-09-13 16:41] drfloob commented on #27292
Hi @Kiddinglife. Following up, did you determine there was no bug here?

[2021-09-13 17:30] lidizheng commented on #27284
@Manelmc The error is generated via the compilation steps, any error could happen due to different environment.

I would recommend to use our compiled binary wheels instead:

[code]

[2021-09-13 20:05] #27306 closed

[2021-09-13 20:39] kova98 commented on #20134
@AqlaSolutions the workaround posted there seems to do the trick. Thanks.

[2021-09-13 21:14] AntonPetrov83 commented on #21633
@rib for me the problem was solved when I passed `Channel.ShutdownToken` as a cancellationToken of a streaming method.
Can you try to use `Channel.ShutdownToken` in your call to `OpenTestStream()`?

[2021-09-13 21:19] lidizheng commented on #24603
@mickours Can you open a new issue with your environment details and a reproduce snippet? Also, we just released v1.40.0 last week, can you double check if the problem persist in the latest version?

[2021-09-14 01:15] nidhi-doshi opened #27340 "[Python+gevent] Python client gets stuck while reading from grpc stream under load"
### What version of gRPC and what language are you using?
grpc version  `1.35.0`. Client is in python and server is in golang.

### What operating system (Linux, Windows,...) and version?
Running in docker with Ubuntu 21.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Client is using python with gevent:
[code]

Server is in Golang
`google.golang.org/grpc v1.35

[2021-09-14 01:43] Kiddinglife commented on #27292
I am now testing it with 1.40.0 I can see there is bug fix I. That version regarding to windsock.

[2021-09-14 04:33] #21592 closed

[2021-09-14 05:40] jbms commented on #26473
This problem also occurs with xcode 11.3 with `-std=c++17`.

[2021-09-14 07:51] mickours commented on #24603
In the end I think that this is not an issue of grpc: yielding from a generator is not the same as returning a generator.

So, what is missing here is just a good example so I've made a PR to add it: #27343

[2021-09-14 18:24] dennycd commented on #25431
turns ont this is already fixed via https://github.com/grpc/grpc/pull/25743

[2021-09-14 18:24] #25431 closed

[2021-09-14 19:18] dennycd commented on #26139
not seeing new report for this one since April, also re-tested locally with 1000+ runs and this flake no longer observable. Closing the issue.

[2021-09-14 19:18] #26139 closed

[2021-09-14 19:48] sobrinho commented on #25755
@jtattermusch what do you need to test it?

I'm sure the community can help, I have a M1 and I could help if you provide the instructions :)

[2021-09-14 20:32] theeverindian opened #27348 "Address Sanitizer throws error in GRPC ClientContext destructor"
Hi Team,

I followed https://grpc.io/blog/deadlines/ to introduce rpc request deadline on my gRPC client using the below code
[code]
but I'm facing the below address sanitizer error
[code]

This is only happening when I use the below debug option flags otherwise it is working fine. Can you please help me resolve this problem.
[code]

Environment: Linux , Bazel, cpp 11

[2021-09-14 23:00] Kiddinglife commented on #27292
Not working.

[2021-09-15 04:51] codingrhythm opened #27350 "Codegen outputs ::grpc::protobuf::MessageLite in the generated gRPC code"
### What version of gRPC and what language are you using?
1.40.0 grpc c++

### What operating system (Linux, Windows,...) and version?
Linux alpine:3.10

### What runtime / compiler are you using (e.g. python version or version of GCC)
GCC

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not en

[2021-09-15 05:13] codingrhythm commented on #27350
I think I had miss match header here. all good.

[2021-09-15 05:13] #27350 closed

[2021-09-15 05:42] sriedel commented on #25450
To add to the history of this issue, in case it helps pinning down the change that introduced the segfaults: We've been running ruby with jemalloc compiled in with grpc 1.28.0 without any problems on Ubuntu 20.04. The segfaults started when updating to 1.29.0 or beyond.

[2021-09-15 05:48] davidben commented on #25450
@sriedel Can you run the gdb and lldb tests above with your Ruby build? From what I can tell, this particular build configuration isn't actually using jemalloc, merely linking it in *after* the libc malloc. If it were actually using jemalloc, this crash wouldn't occur.

[2021-09-15 08:05] jtattermusch commented on #25755
Thanks, but it's not about running a one-time test and be done with it. We need continous testing to be able to ensure things won't break in the future. So we need mac M1s integrated with our internal testing platform and that's far from trivial.

[2021-09-15 09:26] jtattermusch commented on #26391
would https://github.com/grpc/grpc/pull/25992 solve this? (without requiring to have ARM64 mac hardware)

[2021-09-15 09:35] jtattermusch commented on #26664
I'm a bit confused. Is this about building arm64 grpc linux gems or x86_64 linux grpc gems?

if this is about building arm64 linux gems, we do have an issue filed for that: https://github.com/grpc/grpc/issues/26391 (and last time I checked it was blocked on rake-compiler-dock not supporting arm64 darwin)

If this is about building x86_64 gems, that seems unnecessary since we already publish precom

[2021-09-15 09:40] jtattermusch commented on #25755
related https://github.com/grpc/grpc/issues/26391

[2021-09-15 09:58] andy88566y commented on #24846
@anothermh again, thanks for your detailed instructions.

I have same situation with @olavloite. The instructions did not work for me with Ruby 2.7.1. It did work with Ruby 2.7.2.

[2021-09-15 10:37] bk-one commented on #26664
@jtattermusch I do not want to build `x86_64` gems, no. I want to use whatever Docker decides is the best architectur for my Apple Silicon. I need to explicitly pass a platform to have the gem build, and I don't want to pass a platform.

[2021-09-15 11:14] jtattermusch commented on #26664
ok, so you're basically saying you want to be able to build arm64 linux ruby gems. That's currently not supported, but it's tracked by https://github.com/grpc/grpc/issues/26391.  IIUC, Docker has nothing to do with this and this issue is basically a duplicate of that issue.

Closing this issue as dupe of https://github.com/grpc/grpc/issues/26391.

[2021-09-15 11:14] #26664 closed

[2021-09-15 22:40] nicolasnoble commented on #27292
Do you have the exact line of code from the logs or trace that triggered the WSAEFAULT?

[2021-09-15 22:50] xutongqing commented on #20134
when I use vs2022 .net 6.0-rc , I get the same error

[2021-09-15 23:39] yashykt commented on #27292
@nicolasnoble please correct me if I'm wrong -
[code]

We are only checking for `WSAEWOULDBLOCK` since that's the only case we would want to try an asynchronous read. For all other cases, the `on_read` callback should be able to deal with them.

[code]
I'm not sure about this but it doesn't seem to be used anyway, so it should be safe to use NULL. #27361

[code]
That does seem to be the case. @nic

[2021-09-15 23:40] yashykt commented on #27292
(Closed by mistake by clicking on `Close with comment` instead of `Comment`)

[2021-09-16 00:03] nicolasnoble commented on #27292
What I'm really asking is for a log extract so I can see more specifically what's going on here. I have no idea what line of code in our codebase can emit the "overlapped WSARecv call in gRPC that fails with a WSAEFAULT error" message for instance. So before actually committing to investigate further, I'd like to make sure we have enough context and data, which we don't.

[2021-09-16 06:39] jsk95 opened #27366 "Getting "Files has invalid value" using `msbuild /t:Publish`"
### What version of gRPC and what language are you using?
Grpc.Core 2.37.0. C#.

### What operating system (Linux, Windows,...) and version?
Windows Version 10.0.19042 Build 19042

### What runtime / compiler are you using
Runtime: .NET Framework 4.8
Build: .NET SDK 5/Microsoft (R) Build Engine version 16.11.0+0538acc04 for .NET Framework

### What did you do?
Ran "msbuild.exe" "project.csproj" /t

[2021-09-16 11:27] Kiddinglife commented on #27292
Hey @nico  I am now also very confused about the error. you got efault error and then stream removed and disconnected. Nothing special I would say so. As I said, I am doubting if there is a buffer slice overwrite/corruption due to the potential race condition in iocp and background threads. So I am now doing the experiment with only using the first `wsarecv` to see if it works. Also it will be hel

[2021-09-16 12:59] Kiddinglife commented on #27292
also this piece of code:
[code]
I also doubt this piece of codes,
when `tcp->read_slices->count == MAX_WSABUF_COUNT` and `tcp->read_slices->length < DEFAULT_TARGET_READ_SIZE / 2`, does this piece of code have potentials to cause memory overwrite if some other pieces of code assume the `tcp->read_slices->length` must >= `DEFAULT_TARGET_READ_SIZE ` ?

[2021-09-16 21:07] yashykt commented on #27292
Hi @Kiddinglife, @nicolasnoble said, if you can provide logs/traces that show the error that would be very helpful.

[2021-09-16 22:38] sobrinho commented on #25755
Maybe having instructions on how to compile from source would at least unblock to use grpc locally, until we have a definitive solution.

[2021-09-16 23:21] nicolasnoble commented on #25755
Also related: https://github.com/actions/virtual-environments/issues/2187

On Thu, Sep 16, 2021 at 3:38 PM Gabriel Sobrinho ***@***.***>
wrote:

[2021-09-17 03:24] JamesNK opened #27379 "[C#] Add cancellation token to AuthInterceptorContext"
`AuthInterceptorContext` should probably have a cancellation token on it so any logic in the auth interceptor can respond to call cancellation, exceeded deadline or dispose.

[2021-09-17 03:32] JamesNK commented on #20134
This issue is caused by VS2022 preview 3. It is fixed in VS2022 preview 4.

See https://developercommunity.visualstudio.com/t/Unable-to-Debug-grpc-server-code-with-pr/1503691 for more info.

[2021-09-17 04:44] pablodz commented on #26125
Still relevant

[2021-09-17 06:06] 549064368 opened #27380 "ios中obejctive-c中https，是怎么请求"
NSString *certsPath = [[NSBundle mainBundle] pathForResource:@"music.maoobei.com" ofType:@"pem"];
    NSString *contentInUTF8 = [NSString stringWithContentsOfFile:certsPath
                                                           encoding:NSUTF8StringEncoding
                                                              error:nil];
    [GRPCCall setTLSPEMRootCerts:contentInUTF8 forHost:HostAddre

[2021-09-17 10:10] jtattermusch commented on #25755
The way the grpc-tools gem is built by our CI is here:
https://github.com/grpc/grpc/blob/master/tools/run_tests/artifacts/build_package_ruby.sh

basically, you need to first build the protoc binaries and grpc_ruby_plugin for all supported platforms (this step is quite unrelated to the ruby build process, since you just need the binaries), then you put the binaries in the right location where gem b

[2021-09-17 10:43] jtattermusch commented on #27305
I will close this as the aarch64 wheels definitely are there (but as noted, they are manylinux_2_24):
https://pypi.org/project/grpcio/1.39.0/#files

I think https://github.com/grpc/grpc/issues/27305#issuecomment-916990591 is right about why you are unable to install the wheels.

[2021-09-17 10:43] #27305 closed

[2021-09-17 10:46] #20134 closed

[2021-09-17 17:35] wu-hui opened #27387 "gRPC-C++ cocoapod 1.40.0 seems broken"
### What version of gRPC and what language are you using?
gRPC-C++ cocoapod 1.40.0

### What operating system (Linux, Windows,...) and version?
macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.9
cc Apple clang version 12.0.5 (clang-1205.0.22.11)

### What did you do?
1. Create a xcode project `MyApp`.
2. Create `Podfile` as below
[code]
3. Run `po

[2021-09-17 18:47] wu-hui commented on #27387
The issue starts to happen with `1.39.0` while `1.38.0` works, FYI.

[2021-09-17 19:19] warent commented on #25949
I'm getting this error too. Maybe we can consider re-opening this issue, it took me ages to find it 😩

[2021-09-17 19:25] warent commented on #25949
Looks like it might be related to this https://github.com/abseil/abseil-cpp/issues/703 ?

[2021-09-17 23:20] nroose commented on #23772
I don't get how this is a solution. The problem is that it doesn't work on alpine. Using debian is not a solution to getting it working on alpine. Is it that GRPC has decided to not support alpine?

[2021-09-17 23:25] nroose commented on #23772
Though this seem to work: https://dustri.org/b/error-loading-shared-library-ld-linux-x86-64so2-on-alpine-linux.html. Not sure if there's something that can be done by grpc or alpine.

[2021-09-18 05:01] RelyanceRachel commented on #23340
I have the same problem.
I have one javascript grpc server with python grpc client packed into docker. It runs on several machines. Only one machine saw this connection issue.

[2021-09-18 06:24] gittripley opened #27396 "grpc "Failed to connect to all addresses""
### What version of gRPC and what language are you using?
I have JavaScript gPRC server  @grpc/grpc-js@1.3.7 and Python client 1.40.0

### What operating system (Linux, Windows,...) and version?
Docker Ubuntu 20, both server and client are in the same docker.

I deployed to several machines. One of them consistent fail, while other works.

### What runtime / compiler are you using (e.g. python ver

[2021-09-18 08:06] ming535 opened #27397 "pollset_set_unref nested loop"
### What version of gRPC and what language are you using?
grpc 1.26 c++

### What operating system (Linux, Windows,...) and version?
linux 3.10.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.8.5

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not eno

[2021-09-18 16:24] #25219 closed

[2021-09-18 17:32] #26551 closed

[2021-09-18 18:01] declark1 opened #27399 "Python multiprocessing server example uses single process on macOS"
### What version of gRPC and what language are you using?
python grpcio 1.39.0

### What operating system (Linux, Windows,...) and version?
macOS Big Sur 11.4

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.3

### What did you do?
Ran python multiprocessing example using 8 processes on macOS. Client requests only run on a single process, despite openin

[2021-09-19 02:09] #26336 closed

[2021-09-19 02:09] #26185 closed

[2021-09-19 02:09] #26422 closed

[2021-09-19 02:09] #25998 closed

[2021-09-19 02:37] tas50 commented on #25195
Still a problem

[2021-09-20 07:22] Faebs23 commented on #23955
Found my problem. Wrong version of System.Buffers DLL. I used an assembly binding in the app.config which bound the wrong version.

[2021-09-20 10:03] dennycd commented on #27387
thanks for reporting this wu-hui, this looks like might be a mismatched boringssl version that is being used. Can you do a clean pod install (rm -Rf Pods Podfile.lock) and paste your installed pod dependency versions, it should looks sth like this

[code]

[2021-09-20 12:47] sriedel commented on #25450
Sorry, I don't have the necessary time at my disposal at the moment.

My comments intent was mainly to help identify which change introduced the issue at hand, if that is helpful finding the cause.
We are using several other gems with C extensions and none of the other gems seem to trigger segfaults, so whatever the issue is, it does seem to be grpc specific.

I can confirm that running with an MR

[2021-09-20 12:51] Gandem opened #27407 "Socket leak in custom IO manager client (python/gevent)"
### What version of gRPC and what language are you using?

Language: Python
gRPC version: `1.40.0`

### What operating system (Linux, Windows,...) and version?

Operation System: Linux
Version: `Ubuntu 20.04.3 LTS`

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python version: `Python 3.8.10`

### What did you do?

The test is done with the latest version of bo

[2021-09-20 13:14] joewreschnig opened #27409 "grpc.aio.ServicerContext.abort doesn't set the context's status code"
### What version of gRPC and what language are you using?
Python, 1.40.

### What operating system (Linux, Windows,...) and version?
Linux 4.9.0.

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.9 with explicit asyncio use.

### What did you do?
[code]

(In "real code", the `abort` is in the servicer and the `code()` is in an interceptor.)

### What did y

[2021-09-20 13:54] wu-hui commented on #27387
Did a clean install with 1.39.0, problem remains.

[code]

[2021-09-20 15:50] AustinEscobedo commented on #23955
Thanks for the info, can confirm this fixed our issue as well.

[2021-09-20 16:01] RelyanceRachel commented on #23340
Finally, I got mine to work. I started the JavaScript grpc server and send the request right away from client. It looks like the server has not started yet. So I added some sleep time before sending out the request. Everything works.

[2021-09-20 18:46] wu-hui commented on #27387
Update:

doing
1. pod cache clean --all
2. rm -rf Pods/
3. rm Podfile.lock
4. pod install

Fixed the problem. Somehow some hooks failed to run when upgrade to 1.39.

[2021-09-20 18:57] dennycd commented on #27387
Linking to some prior issue related to this one
https://github.com/grpc/grpc/issues/18886

tl;dr is that the pre-install hook in BoringSSL-GRPC pod failed for some reason on user's machine when upgrading to BoringSSL-GRPC 0.0.19. It rewrites header include path to point to <openssl_grpc/ instead of <opensll. in order to avoid conflict w/ openssl in system installs.   On script failure, all subsequ

[2021-09-20 19:03] dennycd opened #27413 "Mark cocoapod install failure if pre-install hook fails at openssl header path rewrite"
There are a few user reported issue related to openssl header not being found
* https://github.com/grpc/grpc/issues/27387
* https://github.com/grpc/grpc/issues/18886

These are caused by some of our [pre-install hooks](https://github.com/grpc/grpc/blob/master/src/objective-c/BoringSSL-GRPC.podspec#L716-L717) failed to modify/rewrite openssl header paths. Currently on such failure, the installation

[2021-09-20 19:04] dennycd commented on #27387
resolve this one with follow up internal cleanup in #27413

[2021-09-20 19:04] #27387 closed

[2021-09-20 20:21] cfandrich commented on #27292
Hi @yashykt,
The error we see in the logs is the following:

[2021-9-20 14:4:43.597] GRPCPlugin(Runtime) [3016] INFO: OP[message_decompress:185D1400]:  CANCEL:{"created":"@1632164683.597000000","description":"Error in HTTP transport completing operation","file":"E:\GDK-VLT\Runtime\core\GDK\Externals\gRPC_1_40_0\src\core\ext\transport\chttp2\transport\chttp2_transport.cc","file_line":1236,"referenc

[2021-09-21 04:55] uncelvel commented on #20418
I'm using grpc for clients for backup object base services.
- This open about 50-100 thread(socket) with 4MiB/object/thread(socket) per second
This is still unresponsive after opening too many files => Stop services.

But it's not usually or any special env, 1-2 days/time  sometime 3 days

[2021-09-21 12:41] swapster commented on #27304
`µ\u0002\u0000\u0000\u0000\u0000\u0000\u0000` looks like a bytes representation, so it can be casted to number (to `BigInt` as it is an `int64` or to `String`) with `Buffer`. For example:
[code]

[2021-09-21 13:47] vinoski opened #27425 "Create signed releases"
It would be helpful if a GPG key were used to sign releases so that release tarballs can be verified.

The process for doing this is straightforward; [this page on the Debian wiki](https://wiki.debian.org/Creating%20signed%20GitHub%20releases) provides an example of how to do it.

[2021-09-21 17:24] matejnevlud commented on #25993
+ 1

[2021-09-21 18:11] clayg opened #27427 "src/python/grpcio_tests/tests/unit/ doesn't work with pytest"
I get an error when trying to run tests with pytest, I get an error in `src/python/grpcio_tests/tests/unit/test_common.py`:

[code]

The issue seems to be pytest is expecting module level test_* methods to tests instead of helpers:

[code]

Is there a different preferred method for running tests?

[2021-09-21 21:59] lidizheng opened #27430 "Merge channels in the gRPC Python xDS interop client"
Related https://github.com/grpc/grpc/pull/27416.

In an offline discussion with @menghanl, we found that the gRPC Python xDS interop client may create multiple channels to perform the RPC distribution test (one for each type of RPC). This is different than cpp/java/golang, and blocks the Python client to run the affinity tests (the affinity test asserts the channelz states).

https://github.com/gr

[2021-09-21 22:14] lidizheng commented on #27430
Maybe @menghanl will have more context about the priority.

[2021-09-21 22:26] menghanl commented on #27430
I think this is not a super high priority, maybe low p2.
This only affects the python affinity test. And since ringhash logic is the same as in C++, it is already covered by some tests.

[2021-09-21 22:28] gnossen commented on #27430
Sounds good. I'll plan this as an OKR for next quarter.

[2021-09-21 22:50] ewang commented on #24470
I think this is also the case in the non-AIO version. I think the lack of a way of attaching custom objects to the context object really limits the utility of the Python server interceptors. I've also implemented gRPC server interceptors in Go and there one has the built in context lib to attach additional data to the context.

Any plans to support this capability?

[2021-09-22 06:39] AntonRechkov opened #27437 "Failed to compile GRPC under SLES11: pthread_setname_np is missing"
GRPC 1.39.1 failed to compile under SLES11 because pthread_setname_np was introduced in glibc 2.12.

Glibc version used in SLES11 is libc 2.11.3
    bash-3.2$ getconf GNU_LIBC_VERSION
    glibc 2.11.3

### What version of gRPC and what language are you using?
1.39.1 / C++

### What operating system (Linux, Windows,...) and version?
Linux, SLES11

### What runtime / compiler are you using (e.g. pyt

[2021-09-22 13:23] joaoggnogueira opened #27440 "[Python install] Build Failure"
System: Windows 10
Python 2.7.3

Running setup.py install for grpcio ... error
    ERROR: Command errored out with exit status 1:
     command: 'c:\python27\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'c:\\users\\joaog\\appdata\\local\\temp\\pip-install-xenxc7\\grpcio\\setup.py'"'"'; __file__='"'"'c:\\users\\joaog\\appdata\\local\\temp\\pip-install-xenxc7\\grpcio\\setup.

[2021-09-22 16:34] dennycd commented on #21564
closing this ticket as no-op

[2021-09-22 16:34] #21564 closed

[2021-09-22 19:58] #20258 closed

[2021-09-23 03:18] explorercpp opened #27451 "gRPC c++. prepared binary data. avoiding protobuf serialization."
### Is your feature request related to a problem? Please describe.

in gRPC c++ examples there are few use cases for greeter. On my laptop with 1GB network, 16GB RAM 4CPU, OS redhat 8,  it is averaging 3K req/s without encryption to send and receive simple built in hello world message. I was considering options to speed it up in any possible way:
-replace string in proto file to bytes
-change to m

[2021-09-23 08:39] JeneferSuresh opened #27455 "InactiveRpcError - Python"
I have my server in Windows - I try to open a channel with [::]:<port number>
   I could also see it to be Listening - once the server is up.

I have my client running in Linux
   I tries to connect to grpc.insecure_channel(<IP of WIndows>:<same port number>)

   It shows InactiveRpcError.

   I tried to allow the IP and port in iptables also. Still the same.
   Should I check anything? Or am I mi

[2021-09-23 13:55] mgravell commented on #25740
@jtattermusch this come up again here: https://github.com/protobuf-net/protobuf-net.Grpc/issues/196 - would a PR be considered here?

[2021-09-23 15:58] Lehnart opened #27458 "fatal error: absl/synchronization/mutex.h: No such file or directory"
### What version of gRPC and what language are you using?
1.40

### What operating system (Linux, Windows,...) and version?
Windows WSL with Ubuntu 20.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 10.3.0

### What did you do?
Following the C++ Quick start guide from the gRPC website, setting up variables as suggested by the tutorial.
My CMake version is

[2021-09-23 17:29] #27380 closed

[2021-09-23 17:33] yashykt commented on #27396
From the description, I'm suspecting a setup issue rather than a gRPC issue, but if you have a reproduction that proves that it has nothing to do with your specific setup, we'll take a look.

[2021-09-23 17:35] yashykt commented on #27397
1.26 is pretty old. Please try it again with the latest release/ HEAD.

[2021-09-23 18:10] yashykt commented on #27292
https://github.com/grpc/grpc/pull/27457 might be related

[2021-09-23 23:53] rmclemente commented on #21446
I've changed from alpine to bullseye-slim, .Net 5, and everything is working fine now: Firestore and Pub/Sub.
If Alpine is not a prerequisite, this can be an easy "solution".

[2021-09-24 03:23] gittripley commented on #27396
@yashykt
Thanks for the response. Finally, I figured out. I have a subprocess to start the JavaScript GRPC server and then make a client call right after it. Most of machine works, but one machine throw the error above. It turns out that when client connect to server before the server is ready. Later, I changed the code to wait a few second before sending the request to server, or keep checking wh

[2021-09-24 05:55] #27455 closed

[2021-09-24 07:50] Ipicky22 commented on #23340
I had the same problem, and I solved it.
I try to do a grpc server / client and kafka poducer / consumer, in Python.
I trigger this error because I call my grpc client before my grpc server.

`
python                    3.9.7
`
`
grpcio                    1.40.0
`
`
grpcio-tools              1.40.0
`

Client.py :
[code]

Server.py :
[code]

Main.py :
[code]

I hope this post helps you.

[2021-09-24 08:08] ming535 commented on #27397
Is there any known PR that is related to this issue?

[2021-09-24 08:26] r-a-c opened #27469 "Compilation problem at src/core/lib/gpr/log_linux.cc"
Platform Cloudlinux 7 (redhat 7 derived)
gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2) (scl devtoolset)

Then:

[code]

I have tried 1.41, 1.38, 1.36 and 1.34 getting errors like these:

1.38
[code]

1.36
[code]

1.34
[code]

[2021-09-24 09:20] sifmelcara opened #27470 "Bazel does not build Android APK anymore after #27410"
Hi Jan,

I noticed that after #27410 I cannot use bazel to build Android APK on my workstation anymore (but the build is fine in kokoro CI for some reason)

APK build instruction: https://github.com/grpc/grpc/tree/master/examples/android/binder/java/io/grpc/binder/cpp

The error message I got
[code]

Seems like the tools is trying to find `ijar.exe` however there is only `ijar` in that directory.

[2021-09-24 09:21] sifmelcara commented on #27470
cc @napathome

[2021-09-24 10:24] vlad2010 commented on #26155
@drfloob   Could you please give more info on what is the status of Apple Silicon support? I see that ARM64 support was announced for Linux  https://grpc.io/blog/grpc-on-arm64/

[2021-09-24 11:11] Lehnart commented on #27458
It seems that the include directories from third_party are not copied to the install directory.  Do I miss a cmake option during the grpc installation ?

[2021-09-24 15:30] robertsben commented on #26620
It looks like musllinux support is now available, as of https://github.com/pypa/auditwheel/issues/327. Is there any intention for grpc to publish musllinux binary wheels now?

[2021-09-24 16:28] drfloob commented on #26155
Without a reliable continuous integration platform for M1, we're a bit blocked. We're watching and weighing a handful of options, essentially waiting for something workable to become available to us. Until then, unfortunately we can't commit to support.

[2021-09-24 16:58] lidizheng commented on #26620
Good to learn PyPA has added the musl wheel support. I think we should publish the musllinux wheels. https://www.python.org/dev/peps/pep-0656/

[2021-09-24 20:24] yashykt commented on #27440
I see
[code]

[2021-09-24 20:27] #27440 closed

[2021-09-24 20:29] joaoggnogueira commented on #27440
Yeah, the vcpython27 doesn't have support anymore on the Windows 10. So, it's officially dead.

[2021-09-25 03:50] inaryart opened #27480 "Support routing path call"
### Is your feature request related to a problem? Please describe.
I am using nginx to implement the proxy，I need to make grpc automatically call different services based on the URL path

- grpc protobuf
[code]
- nginx config
[code]

- at this time, I need `sayhello_v1` to call `/hello.interface/v1`, and `SayHello_v2` to call `/hello.interface/v2`,

### Describe the solution you'd like
any solutio

[2021-09-25 07:34] Peterisfar commented on #24940
my gcc version is 4.9.3, the bug still have

[2021-09-25 12:10] alexykot commented on #17453
Created PR #27481  to relocate my examples into the upstream.

[2021-09-26 01:44] explorercpp commented on #27451
I made the generic version work. Your examples in genericend2endtest are misleading. Please add default generic async example.
Async performance is very strange. Protobuf lite implementation of greeterclient->greeter_server is faster then sending prepared binary data using GenericStub.
when sending data not localhost, performance drops twice with 0.01ms network latency.

[2021-09-26 01:44] #27451 closed

[2021-09-26 02:04] inaryart commented on #27480
https://github.com/grpc/grpc-dotnet/issues/110#issuecomment-465349311

may make grpc unstable

[2021-09-26 02:04] #27480 closed

[2021-09-26 19:15] #25195 closed

[2021-09-26 19:15] #26513 closed

[2021-09-26 19:33] ctiller commented on #26536
Should this be reopened (and I think it should), let's be careful to add a
new version number for the generator that varies independently to the grpc
version number: we don't tweak the generator every release, and making it
generate different values will unnecessarily add rebuild steps to some
build systems.

On Sun, Sep 26, 2021, 12:16 PM stale[bot] ***@***.***> wrote:

[2021-09-26 19:51] tas50 commented on #25195
Bad bot

[2021-09-27 16:38] vkhristenko opened #27487 "absl headers missing after install"
### What version of gRPC and what language are you using?
v1.40.0 c++

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04.03 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.3.0

### What did you do?

followed the doc to install https://grpc.io/docs/languages/cpp/quickstart/#build-and-install-grpc-and-protocol-buffers
specified non

[2021-09-27 19:33] spowers225 commented on #21474
Any updates to this?

[2021-09-27 20:57] crwilcox commented on #27284
@lidizheng I would suggest adding `python_requires` in in setup.py it will prevent this for future users. The workaround above should work to unblock folks, but adding python_requires will help pip do the right thing.

For example https://github.com/googleapis/python-firestore/blob/main/setup.py#L89

[2021-09-27 21:18] lidizheng commented on #27284
@crwilcox Thanks, this is very helpful! I didn't know `setuptool` has this option. The PR is up at https://github.com/grpc/grpc/pull/27495. We might also need a bit more change to the distribution tests, and yank the version without `python_requires` to improve 2.7 and 3.5 users experience.

[2021-09-27 22:15] #27413 closed

[2021-09-27 23:37] veblush commented on #27487
@vkhristenko Could you write what you actually ran to install gRPC? I just tested it using gRPC 1.40 and the Debian docker image and it worked.

[2021-09-28 05:04] sifmelcara commented on #27470
Oh.. actually the CI image is still using old version of Bazel. It also fails after I update it

[2021-09-28 06:09] georghinkel commented on #21474
Sadly no, as I said earlier, encryption got deprioritized on our end since we have a separate, dedicated network. Furthermore, we extended the zeroconf handshake that we use to identify servers to additionally include the entire server certificate, if present. In addition, we use a target name override. With all of that in place, it works, but the chances that every server we come across implement

[2021-09-28 07:56] sifmelcara commented on #27470
Tried updating rbe config and bazel toolchains to HEAD and updating bazelrc for potentially missing `--java_runtime_version` `--tool_java_runtime_version` and `--extra_toolchains` arguments but no success

[2021-09-28 08:39] vkhristenko commented on #27487
[code]

I expect to have absl headers somewhere in `$DIR/grpc-install/include`

[2021-09-28 09:23] tudor-turcu commented on #21474
Unfortunately the bug was closed by a .. bot, even if it's still valid.. :( It seems that Google has abandoned those that still must use .NET Framework instead of .NET Core.

[2021-09-28 09:37] vkhristenko commented on #27487
adding `-DABSL_ENABLE_INSTALL=ON` to cmake cmd causes things to install properly. please close if non-issue...

[2021-09-28 09:46] vkhristenko commented on #27487
seems like adding `-DABSL_ENABLE_INSTALL=ON` to cmake cmd above installs the headers, cmake stuff for absl. Then in my project during the cfg step, i saw the same problem as here:  #24976 and this one is solved by adding find_package(absl CONFIG REQUIRED) in my prj.. as described in that issue...

[2021-09-28 12:30] leonardder opened #27501 "C#: Consider exposing optional fields as nullable"
### Is your feature request related to a problem? Please describe.
The way optional fields are implemented in C# is slightly hacky. For Strings, the underlying private field can be null, but the public property raises an exception upon null assignments. For non nullable (value type) fields, the underlying magic is even more scary.

### Describe the solution you'd like
Consider implementing optiona

[2021-09-28 13:04] codami opened #27502 "Grpc.Tools signals libprotobuf warnings as errors"
### What version of gRPC and what language are you using?
C#
Google.Protobuf: 3.18.0
Grpc.AspNetCore: 2.39.0
Grpc.Tools: 2.40.0

### What operating system (Linux, Windows,...) and version?
Linux & Windows

### What did you do?
I was building a .NET Class Library (gRPC Server side code) out of a proto file, using "dotnet build" and the _Protobuf_CoreCompile task failed after a couple of errors like

[2021-09-28 14:26] rlarss opened #27503 "GLIBCXX_3.4.29 not found in v1.41.0"
### What version of gRPC and what language are you using?
1.41.0 | Python3.9

### What operating system (Linux, Windows,...) and version?
Docker image Debian bullseye-slim on a Raspberry Pi 4.

### What runtime / compiler are you using (e.g. python version or version of gcc)
python3.9, gcc=4:10.2.1-1

### What did you do?
[code]

### What did you expect to see?
Expected GLIBCXX_3.4.29 to be found.

[2021-09-28 15:54] jjb commented on #21514
@casperisfine You are a Scholar and a Gentleperson.

[2021-09-28 17:40] aaltat opened #27506 "grpcio or grpcio-tools does not anymore compile with Apple M1 chip on 1.40.1 but works on 1.40.0"
### What version of gRPC and what language are you using?
Both 1.40.1 and 1.40.0

### What operating system (Linux, Windows,...) and version?
Apple maxOS Big Sur 11.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.0rc2

### What did you do?
When I compile protobuf with 1.40.1  I get error
[code]
If I use 1.40.0, protobuf is compiled without errors

#

[2021-09-28 17:49] Simoyd commented on #24940
for other people who find this issue on google:
v1.33.2 compiles fine with gcc 4.8.5
v1.34.0 causes the `no matching function call` error outlined above

I myself need to support older platforms so 1.33.2 for me it is!

[2021-09-28 22:47] Zeleksonob commented on #22862
having the same problem here too.

.net 4.8
grpc.core 2.40.0

it seems it's happing when a message contains bytes field send array , lets say of 300 message causes the server process memory to be a least 2gb , when using 1500 message with bytes filed in them the memory jumps up to 20gb and crushes the process

[2021-09-28 23:19] #27008 closed

[2021-09-29 04:10] allenporter opened #27512 "Unable to run grpcio wheel on alpine"
### What version of gRPC and what language are you using?
`1.41.0` in python

### What operating system (Linux, Windows,...) and version?
`arm32v7/alpine:3.12`

### What runtime / compiler are you using (e.g. python version or version of gcc)
`Python 3.8.10`

### What did you do?

Given an example `Dockerfile` like this:

[code]

Note that this also has problems finding the shared library without

[2021-09-29 05:15] florian-sattler commented on #26137
@lidizheng Are there any news on this? I've read the PR and it seems to be - apart from the tests - not very complex.

[2021-09-29 09:13] firebook commented on #19655
@yashykt any update?

[2021-09-29 16:28] cfandrich commented on #27292
@yashykt - That looked promising but we were still able to reproduce the WSAEFAULT error on the overlapped WSARecv call even after removing the memset call (for #27457).

[2021-09-29 20:36] lidizheng opened #27520 "[Python] support set_authority API"
Many cloud provided load balancers demands the client to set the `:authority` HTTP/2 header to apply host-based routing. This functionality currently is only available at channel-level for gRPC Python (setting a [channel arg](https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/grpc_types.h#L248)). However, the per-RPC API is available in [C++](https://grpc.github.io/grpc/cpp/classgr

[2021-09-30 05:56] comius commented on #27470
Bazel 4.2.1 works with older rbe config and toolchains (updating to HEAD would break it for sure).
The flags you mention only work with Bazel 5.0.0 (HEAD, release will happen in couple of months). Using those flags on Bazel 4.2.1 is a noop or even broken.

[2021-09-30 06:25] zhengdehui commented on #19655
This bug is still existing in the latest C++ code of grpc-core, which is impacting all libraries basing on grpc-core, not only C#.

The cause is that:
current design is using `grpc_chttp2_transport.outbuf` to send the payload of all streams in the transport. The logic of flushing data into `grpc_chttp2_transport.outbuf` is in `grpc/src/core/ext/transport/chttp2/transport/writing.cc`

[code]
When `

[2021-09-30 06:36] comius commented on #27470
I was able to reproduce easily.

- rbe_windows gets added as an execution platform (for local builds)
- java_tools_prebuilt selects a windows binary on that execution plaform
- fails because the binary doesn't exist

Workaround:
Comment out rbe_windows from WORKSPACE file.
[code]

Dumps:
[code]

[2021-09-30 06:38] comius commented on #27470
At the moment I don't have time to inspect RBE configuration for windows and how to make a proper fix.
cc @katre, who might be able to know how to fix this out of top of his head

[2021-09-30 06:45] #27199 closed

[2021-09-30 06:46] TobixDS commented on #27199
Duplicate of #27457

[2021-09-30 06:58] jojotaro123 commented on #22088
how to slove it?

[2021-09-30 11:36] matthewford commented on #8798
bump

[2021-09-30 12:09] katre commented on #27470
Unfortunately I don't. It's unclear to me who owns this anymore. Possibly @ifoox can redirect?

[2021-09-30 15:53] prj opened #27532 "After Letesencrypt expiry, SSL validation fails, even though the certificate is fully valid and validates everywhere else."
### What version of gRPC and what language are you using?
2.41.0 C#

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.1 LTS

### What did you do?
Any client request to a server secured with Letsencrypt fails.

### What did you see instead?
[code]

### Anything else we should know ab

[2021-09-30 16:07] prj commented on #27532
Switching to grpc-dotnet-client immediately fixes the issue, doing this now as my entire ecosystem went down in production...

[2021-09-30 16:09] jlisee commented on #27532
Our testing shows that latest version of [grpc/grpc `etc/roots.pem`](https://github.com/grpc/grpc/blob/master/etc/roots.pem) as of 253d7076fc19c7380b3f58b598eaca1b076bec74 does not work. When we use `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH` environment variable to replace it with the system certificate bundle we are able to get our Python gRPC based clients working.

To replicate the fix on an Ubuntu/Deb

[2021-09-30 16:16] DeanBrunt commented on #27532
If you're in control of the servers here, requested Let's Encrypt cert with ISRG Root X1 as the preferred chain may fix this issue.

[2021-09-30 16:20] prj commented on #27532
I'm glad I'm not alone. I am in control of the server but I had no idea what is wrong, already pushed an update with replaced library to 500+ clients because the whole service was down.

Although I don't understand why switching the client library fixed it? Is it because the client contains also the wrong roots.pem?

[2021-09-30 16:21] DeanBrunt commented on #27532
I think the other client uses the system certs which should trust the D3 cross-signed LE cert

[2021-09-30 16:24] alex-torok commented on #27532
Bisecting the roots.pem file revealed that removing the following cert fixed the issue for us.

[code]

[2021-09-30 16:25] nickbabkin commented on #27532
The fix is to remove the following certificate:
# SHA1 Fingerprint: da:c9:02:4f:54:d8:f6:df:94:93:5f:b1:73:26:38:ca:6a:d7:7c:13

From the roots.pem

[2021-09-30 16:26] DeanBrunt commented on #27532
Yep that's the cert that has now expired and is still in the chain for LE certs due to a cross-signing agreeement

[2021-09-30 16:26] prj commented on #27532
Yes I think it's purely .net HTTPClient based so it is indeed using the system cert...
I did re-request the certs with certbot, but I didn't try to ask for the ISRG Root X1 as the preferred cert.

This needs a fix from GRPC side, this is totally not cool though.

[2021-09-30 16:29] nickbabkin commented on #27532
Here's a PR with fix:
https://github.com/grpc/grpc/pull/27533/files

[2021-09-30 16:33] DeanBrunt commented on #27532
Whilst that fixes the immediate issue, does this highlight a possible issue with the way the TLS client is performing chain building?

My understanding of the LE certificate arrangement was that there should still be a trusted chain it can find back to ISRG X1

[2021-09-30 16:36] prj commented on #27532
Does not work if doing it on server. The client is still screwed.

[2021-09-30 16:38] sidewinder12s commented on #27532
Could this be related to the OpenSSL note here? grpc appears to use boringssl, but they note quite a few libraries have similar issues.

https://community.letsencrypt.org/t/openssl-client-compatibility-changes-for-let-s-encrypt-certificates/143816

[2021-09-30 16:40] DeanBrunt commented on #27532
This is what I was musing around in my comment above.
If boringssl has a similar flaw to what was causing that issue with OpenSSL, it could be linked.

[2021-09-30 16:42] prj commented on #27532
Any way to work arount the issue on the Windows client? All my clients are Windows...
Also, @DeanBrunt, could you elaborate how to get the preferred ISRG cert?
``--preferred-chain "ISRG Root X1"`` does not work with ``certbot renew``

[2021-09-30 16:45] DeanBrunt commented on #27532
I'd expect what you stipulate to work as that matches the CN of the cert that wants targeting as the preferred chain.

Your other workaround is to get a non LE cert from another provider that does not have the same trust chain (e.g: from Sectigo, for example)/

[2021-09-30 17:00] prj commented on #27532
I think only way is to get a paid certificate or manually compile windows version of library and re-distribute to all clients.
The grpc-dotnet does not support proxies so service still broken for half the clients.

Working now on disabling SSL, I can't do anything else right now realistically until I get the a paid cert...

[2021-09-30 17:19] prj commented on #27532
Found a workaround:
Embed the .pem file in your app, apply the fix by @nickbabkin and then create the SSLCredentials using that file. That way the current library version can still be used, and you don't to set a system-specific path to the root certs...

[2021-09-30 17:30] Ttxman commented on #27532
Another workaround if you need to use GRPC and/or GRPC.core dotnet libraries you can build the root CA from system CAs. It fixed it for us, Have fun deploying :/
[code]

[2021-09-30 17:38] prj commented on #27532
But if system has the da:c9:02:4f:54:d8:f6:df:94:93:5f:b1:73:26:38:ca:6a:d7:7c:13 certificate in the store for some reason it will still blow up no?
Or does it purge the expired certs automatically?

[2021-09-30 17:41] jonathanbp commented on #27532
Yes. I have the the cert in my Windows cert store and I can only get it to work by filtering it out before exporting.

[2021-09-30 17:44] jonathanbp commented on #27532
Doing this for testing;

[code]

[2021-09-30 17:45] prj commented on #27532
That should do it.

[2021-09-30 17:48] jonathanbp commented on #27532
True - just wanted to test whether it actually worked since the raw export did not work in my case.

[2021-09-30 18:03] jonathanbp commented on #27532
Actually, wouldn't it be better to simply filter out all invalid/expired certificates?

[2021-09-30 18:05] Ttxman commented on #27532
Just the merge without filtering worked for us windows and Ubuntu 20.04 LTS. It could probably be update and/or domain thing..

[2021-09-30 18:14] prj commented on #27532
It seems that grpc-dotnet does not support proxies. And on many ISP's there are forced proxies so you get some sort of error about connection downgrade...
grpc-core does not have this issue.

[2021-09-30 18:33] beeman commented on #27532
FWIW: I was able to bring our systems back to life by re-generating the certs using the following command, then restarting the hosts:

[code]

[2021-09-30 18:40] lidizheng commented on #26598
The `GRPC_TLS_SKIP_ALL_SERVER_VERIFICATION` is only accessible from gRPC-Core today. But due to limited engineering resourses, we might need help for exporting this field into Python wrapping layer, and adding test cases.

[2021-09-30 18:43] gnossen commented on #27399
@dectl I'm assuming you're talking about [this example](https://github.com/grpc/grpc/tree/master/examples/python/multiprocessing). Can you please provide any more details you have on this issue? Do you have logs from your run?

This example is dependent on the SO_REUSEPORT socket option, which admittedly, I have never tested on Mac OS. [Apple documentation](https://developer.apple.com/library/arch

[2021-09-30 18:44] #27396 closed

[2021-09-30 18:46] lidizheng commented on #26517
Based on the trace log, this CPU consumption is happening in the Python space.

@scottgasch Can we get the pending coroutines in AsyncIO? Also, can you try to minimize the reproduction snippet (stripping the business logic, add proto definitions, add client calls)?

[2021-09-30 18:47] gnossen commented on #27340
The gRPC Python gevent implementation is somewhat orphaned at the moment. The tests are known to be flaky and the original author has left the team. There is an active effort to reimplement gevent support in gRPC Python that should be finished in the next few weeks. We will revisit this issue once this effort has been completed.

[2021-09-30 18:49] gnossen commented on #27299
[code]

The test is seemingly timing out during a cleanup step.

[2021-09-30 18:50] gnossen commented on #27299
Regardless, this issue has not been seen in over a week. Going ahead and closing out for now.

[2021-09-30 18:50] #27299 closed

[2021-09-30 18:51] DeanBrunt commented on #27532
The `--preferred-chain "ISRG Root X1"` piece is the critical bit here should anyone need to adjust this.

[2021-09-30 18:51] gnossen commented on #27151
I'm taking the heart emoji as a sign that the issue has been resolved and closing the issue.

[2021-09-30 18:51] #27151 closed

[2021-09-30 18:53] gnossen commented on #26926
Going ahead and closing since there haven't been any occurrences in the past week.

[2021-09-30 18:53] #26926 closed

[2021-09-30 18:54] lidizheng commented on #26634
This might be a fork support problem -> https://github.com/grpc/grpc/blob/master/doc/fork_support.md.

We recommend using the pre-fork pattern, the application forks before creating gRPC objects. This is due to complexity of managing locks, sockets in C extension in the time of forking. You can refer to this example if multiple workers are required: https://github.com/grpc/grpc/tree/master/example

[2021-09-30 18:54] #26634 closed

[2021-09-30 18:56] lidizheng commented on #26611
This flake is still occurs in the past week, and it happens on different Python version. Related bug b/192479876.

[2021-09-30 18:57] gnossen commented on #26886
Closing out since this has not been seen in over a week.

[2021-09-30 19:00] lidizheng commented on #26649
This looks like a one time failure. The resolution result looks like the MetadataFlagTest. Merging with https://github.com/grpc/grpc/issues/26611.

[2021-09-30 19:00] #26649 closed

[2021-09-30 19:01] lidizheng commented on #26728
This is part of the MetadataFlagTest. Merging with #26611.

[2021-09-30 19:01] #26728 closed

[2021-09-30 19:01] gnossen commented on #26858
Reassinging to Yash since he was the last to touch [the relevant file](https://github.com/grpc/grpc/blob/master/src/core/ext/filters/client_channel/http_proxy.cc).

[2021-09-30 19:03] lidizheng commented on #26805
Can someone help to provide a reproduce snippet? This can greatly help the debugging process.

[2021-09-30 19:14] scottgasch commented on #26517
Hi there.  Thanks for your reply and for looking at this.  I just tried to
repro and it seems to have "fixed itself".  What changed?  Well, my version
of python for one.  I'm now using Python 3.7.12.  None of the code nor the
grpc libraries have changed though.

On Thu, Sep 30, 2021 at 11:47 AM Lidi Zheng ***@***.***>
wrote:

[2021-09-30 19:22] lidizheng commented on #26517
Thanks for the quick response. I will close this issue for now. If this problem is recurring, feel free to comment or re-open it.

[2021-09-30 19:22] #26517 closed

[2021-09-30 19:24] bergsieker commented on #27470
@coevre, is this something you have any insight into?

@sifmelcara Can you clarify what OS you are building on? It sounds like you are building on Windows locally, but the remote workers are Linux?

[2021-09-30 19:25] bergsieker commented on #27470
Note that, in general, older versions of bazel-toolchains should still work with newer versions of Bazel.

[2021-09-30 19:43] prj commented on #27532
Unfortunately it works only with "certonly" so it means updating all the scripts if they use "renew".

[2021-09-30 20:07] yashykt commented on #26858
What's the reason for calling this a bug in gRPC rather than a bug in the application?
It seems weird to leave a leading comma or a trailing comma in the NO_PROXY string.

[2021-09-30 20:28] yashykt commented on #27437
Given that SLES11 has reached EOL, I don't think it makes sense for gRPC to go out of the way to add support for it.

That being said, please feel free to send a PR if you have a workaround in mind.

[2021-09-30 20:37] mac9416 commented on #27532
If someone knows TLS well enough to write an issue, sounds like boringssl might need one: https://bugs.chromium.org/p/boringssl/issues/list

[2021-09-30 20:40] gnossen commented on #27427
We do not use PyTest as a test runner. Instead, you'll want to install each module individually and then run `setup.py test` from the `src/python/grpcio_tests` directory. [This script](https://github.com/grpc/grpc/blob/master/tools/distrib/install_all_python_modules.sh) will help you get into a state where you can easily run tests.

Alternatively, we use Bazel as a test runner to get a full increm

[2021-09-30 20:41] gnossen commented on #27427
Going ahead and closing this issue since interoperability with pytest is a non-goal. Please feel free to open another issue if you have questions about how to work with the tooling in the repo to, e.g. run tests, incrementally build.

[2021-09-30 20:41] #27427 closed

[2021-09-30 21:10] a11r commented on #27532
Thanks for reporting the issue and the discussion. Yihua is looking into this issue.

[2021-09-30 21:13] yihuazhang commented on #27532
I mailed out https://github.com/grpc/grpc/pull/27539 that updates the root certs used in gRPC, which I think will fix the issue here.

[2021-09-30 21:21] aapeliv commented on #27532
We fixed this in our client by just hardcoding the ISRG roots in our package: https://github.com/Couchers-org/couchers/pull/2034/files

[2021-09-30 21:32] yashykt commented on #27437
looks like @nicolasnoble has a quick fix for this

[2021-09-30 21:37] nicolasnoble commented on #27437
Note that whole #27540 will make this one go away, this is only best effort from us to maintain code on outdated environments. This one was a simple oversight, but it's difficult to guarantee everything else will work.

[2021-09-30 22:16] nnutter commented on #27532
I just want to call out the `--preferred-chain "ISRG Root X1"` fix worked for us and is supported in `cert-manager` as part of the `Issuer` and `ClusterIssuer` resources; see [release notes](https://cert-manager.io/docs/release-notes/release-notes-1.0/#preferred-chain).  Also, one can install the `kubectl` [cert-manger](https://cert-manager.io/docs/usage/kubectl-plugin/) plugin in order to trigger

[2021-09-30 23:05] gnossen opened #27542 "Remove `flaky=True` from gevent tests"
https://github.com/grpc/grpc/pull/27507 introduced a `gevent` Bazel test suite with `flaky=True` set since these tests are notoriously flaky. After the stack has been reimplemented, we should ensure that the tests are now deterministic and then remove this flag as well as remove `unittest.skipIf(running_under_gevent())` from as many tests as possible.

[2021-09-30 23:23] gnossen opened #27543 "Remove py2and3_test Rule"
Once Python 2 testing is no longer needed, the `py2and3_test` Bazel rule should be removed.

[2021-10-01 02:14] sifmelcara commented on #27470
I'm googler and I build it on my workstation. The issue is also reproducible with [this docker file](https://github.com/grpc/grpc/blob/master/tools/dockerfile/test/binder_transport_apk/Dockerfile) (after replacing `ENV BAZEL_VERSION 3.7.1` with `ENV BAZEL_VERSION 4.2.1`), and I think the docker image is based on Ubuntu 16.04

[2021-10-01 07:56] AntonRechkov commented on #27437
Thanks for addressing this. We don't have issue with GRPC on 1.26.0, and while trying to update to 1.39.0 we run into pthread compiling problem.

[2021-10-01 09:46] kskalski commented on #27532
Confirmed that this fixes Windows C# client for me.

Are there any other workarounds, e.g. ENV variables that could be set on a machine (might be easier than updating the app binary)?

Also, isn't this the proper approach of getting certs that the library itself should use? I mean for the future, is it by design that client library hardcodes the set of root certs as static file and any expirations

[2021-10-01 10:16] prj commented on #27532
The problem is that grpc core is C based and that does not have access to OS level certificate stores.
This functionality here is provided by .NET.

They did everything correctly by either bundling the roots OR giving the user an option to specify their own roots.
However, there is a SSL component that is broken somewhere in the library, which causes the certificate validation to fail without manu

[2021-10-01 14:49] seaguest opened #27548 "pod install failed for examples/objective-c/helloworld"
### What version of gRPC and what language are you using?
objective-c, I tried to run the objective-c grpc example, however pod install failed.

### What operating system (Linux, Windows,...) and version?
macOS big sur.

### What runtime / compiler are you using (e.g. python version or version of gcc)
pod install

### What did you do?

[code]

### What did you expect to see?
[code]

### What did y

[2021-10-01 14:55] sidewinder12s commented on #27532
For Python at least, looks like boringssl is embedded as the SSL lib, which has this bug that was fairly well documented with a bunch of other ssl libs (OpenSSL) but not boring.

https://github.com/grpc/grpc/blob/9978223a26dbb0cfa51881090929ff88ff430351/setup.py#L70

https://bugs.chromium.org/p/boringssl/issues/detail?id=439&sort=-modified

[2021-10-01 15:24] ianonavy opened #27549 "GRPC_DEFAULT_SSL_ROOTS_FILE_PATH not respected for Python"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to debug the problem,

[2021-10-01 16:05] jstewmon commented on #27549
@ianonavy I'm not sure why reading the file yourself would make a difference, but we were able to resolve the LetsEncrypt issue setting `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH=/etc/ssl/certs/ca-certificates.crt` with grpc 1.30.0 and python 3.8.5 on Debian buster, BUT we had to exclude the expired DST cert first:

[code]

You may have found a separate issue, but I thought this was worth mentioning.

[2021-10-01 16:46] lidizheng commented on #27549
@yihuazhang  Can you help to take a look at the creds setup issue?

[2021-10-01 18:11] yihuazhang commented on #27532
@prj, Can I ask what crypto library did you use (e.g., openSSL or boringSSL). If you use OpenSSL > 1.0.2, it should automatically handle it (i.e., stop validation when confronting an expired CA root) assuming you have ISRG Root X1 root in the trust store (https://www.openssl.org/blog/blog/2021/09/13/LetsEncryptRootCertExpire/).

[2021-10-01 19:59] iwctwbai opened #27552 "unix connect compared to using Python socket.socket is so slow"
### What version of gRPC and what language are you using?
1.41.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-77-generic x86_64)

### What runtime / compiler are you using (e.g. python version or version of gcc)
python3.9

### What did you expect to see?

unix connect compared to using Python socket.socket  is so slow

Python socket.socket takes

[2021-10-01 20:12] brapaport commented on #25082
Can you be more explicit with exactly which variables you set, and with which values?

[2021-10-01 20:24] Tenzer commented on #25082
See the first comment on this issue: https://github.com/grpc/grpc/issues/25082#issuecomment-754565768.

[2021-10-01 20:34] brapaport commented on #25082
I have tried with this (in fish shell)

[code]

But I still cannot install grpcio 1.41.0 (as a dep  firebase-admin)
Python 3.9.7

[2021-10-01 20:48] yihuazhang commented on #27549
I am confused why `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH` does not work for you. gRPC python calls C-core SSL credential API ([here](https://github.com/grpc/grpc/blob/b9a69481c20ac16da8603cf0097beedcb26f1c55/src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi#L156)), and in C-core, it respects the logic of reading from `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH` (https://github.com/grpc/grpc/blob/master/

[2021-10-01 20:51] brapaport commented on #25082
I was able to resolve this error via
[code]

[2021-10-01 21:13] prj commented on #27532
I use the Grpc.Core NuGet package with .NET Core 3.1.
No idea what is used internally as the security provider. If you look at my debug log, it says OpenSSL.

[2021-10-01 22:01] ianonavy commented on #27549
Alright so using the python [helloworld example client and server](https://github.com/grpc/grpc/tree/8c885f754a03235221a9515cec3e24b22a6a0899/examples/python/helloworld), I was able to consistently reproduce with the latest Debian, Python and grpcio using a self-signed cert. This time instead of trying to use the system chain, I just try to pass the cert through `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH`.

[2021-10-02 07:33] Zelldon commented on #27532
We had the same issue yesterday.

It seems that the grpc .net lib loads depending on the os different certs and it seem to load an invalid root cert.

We found the following workaround

Set the environment variable: GRPC_DEFAULT_SSL_ROOTS_FILE_PATH
The lib need to know where there root certificate is located, example in arch linux it is: /etc/ssl/certs/
When i did it locally the name of the certif

[2021-10-02 07:55] seaguest commented on #27548
it was a network issue, the original issue was connection to "chromium.googlesource.com" timeout, then I used a proxy, I got this reset by peer problem, Then I have to download the full project on a server which can access that site, and I update the Podfile to:
[code]

finally it works.

[2021-10-02 07:55] #27548 closed

[2021-10-02 08:58] prj commented on #27532
1. gprc .net lib is not loading different certs, it's loading the certs that are bundled inside the library unless you specify otherwise.
2. The problem is not with any specific certificate or anything being invalid. The problem is that in the SSL chain of grpc library somewhere is a bug that does not respect cert expiry and switching properly.

Literally nothing you said in the comment is correct

[2021-10-02 09:02] prj commented on #27532
Just to update as well - this issue is stems from inside the C core library, it is not language specific.
People have the issue with C#, python and other bindings that link to the compiled library.

In my case it's grpc_csharp_ext.x86.dll, but as I understand it that's just C# bindings to the C library that is statically linked inside.

[2021-10-02 15:19] jamesward opened #27565 "health.proto Should be in a Proto Jar on Maven Central"
All of the health check instructions I can find indicate that the [https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto](health.proto) should be copy & pasted into a project.  I'd rather pull it in as a dependency but I can't find it in any of the published proto jars on Maven Central.

[2021-10-03 20:40] Spejik commented on #25125
Sorry for commenting here, but any update on this? I've recently also encountered this problem, and the typedef fix seems to work pretty good, so if the security team could test it, to see if there are no issues? Thanks

[2021-10-04 01:19] bostikforever commented on #25449
Potential fix here: https://github.com/grpc/grpc/pull/27571

[2021-10-04 02:25] krishna116 commented on #17995
When I run protoc, even I do not using the argument "--plugin=<key=value>",
the error exist too, please see follow picture for detial.
![protoc-error](https://user-images.githubusercontent.com/41564221/135784467-529639d2-97db-418a-8faa-a2121f081ed5.png)

[2021-10-04 06:10] Falco20019 commented on #17995
@krishna116 The root cause is https://github.com/protocolbuffers/protobuf/issues/7474 which needs to be solved on protoc.

[2021-10-04 09:26] alsyia commented on #27532
So my understanding is that it is currently not possible to use grpc against a service serving the long version of Let's Encrypt trust chain without setting the env var to point to the system store. The system store itself must not contain the expired certificate.

Am I correct? If yes, I'm not sure I understand why the issue doesn't have maximum priority, since it makes the project unusable witho

[2021-10-04 09:58] prj commented on #27532
If you have the X3 cert in the local store it still won't work. You need to either filter it or supply your own cert list to the client.

As for priority, probably nobody really cares. The people who maintain these projects are often not those who use them in production. Or they are just volunteers. That said the problem is most likely not actually in grpc core itself, it's somewhere upstream in o

[2021-10-04 10:21] alsyia commented on #27532
Yup, because BoringSSL default behaviour is not short-circuit. Ticket is here: https://bugs.chromium.org/p/boringssl/issues/detail?id=439&sort=-modified

[2021-10-04 13:19] Mebus opened #27574 "Problem: Entry point not found when using grpc from MinGW"
Hallo,

I am trying to build and run the C++ `greeter_server.exe` from examples from release tag v1.35.0 which I build with MinGW and this package:

https://packages.msys2.org/package/mingw-w64-x86_64-grpc

[
![entrypoint](https://user-images.githubusercontent.com/271557/135858225-9a973ae5-bc0f-4d9a-a502-ea1cd448e515.png)
](url)

Unfortunately if I try to run the exe, it just quits. If I run it wi

[2021-10-04 15:36] lco38 opened #27577 "Access to Google speech API regional endpoint failed in C++"
### What version of gRPC and what language are you using?

grpc 1.41.0 with C++

### What operating system (Linux, Windows,...) and version?

Linux Debian 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version 8.3.0

### What did you do?

I use this sample code [transcribe.cc](https://github.com/GoogleCloudPlatform/cpp-samples/blob/main/speech/api/transc

[2021-10-04 15:40] markdroth commented on #27324
Closing this due to lack of response from the poster.

[2021-10-04 15:40] #27324 closed

[2021-10-04 15:48] markdroth commented on #27565
This sounds like a java issue.  I suggest you file this bug in the grpc/grpc-java repo.

[2021-10-04 15:48] #27565 closed

[2021-10-04 16:18] yihuazhang commented on #27577
lco@, the issue should be fixed in https://github.com/grpc/grpc/pull/27155. We had a similar use case internally that uses google speech API regional endpoints, and the solution worked for them. Could you please double check if you indeed use the version 1.41.0 or configure the regional endpoint correctly?

[2021-10-04 16:49] yy4040 commented on #22485
I solved the issue by adding these three functions to grpc_csharp_ext_dummy_stubs.c.

[code]

[2021-10-04 17:37] yihuazhang commented on #27532
I think there are following ways to resolve the issue:

1. Filter out DST Root CA X3 from the trust store (and make sure ISRG Root X1 exists in the trust store), and set the env var - `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH ` with its file path. gRPC team also updated its own root store to remove DST Root CA X3 cert (https://github.com/grpc/grpc/pull/27539). This approach is suggested in OpenSSL (https:

[2021-10-04 19:27] yashykt commented on #27292
@nicolasnoble is driving this

[2021-10-04 20:47] sali98 commented on #22555
Hey @apolcyn, we are currently using grpc 1.38.1, which has contains the [25690](https://github.com/grpc/grpc/pull/25690), but we are still seeing the crash at **grpc_core::GrpcPolledFdWindows::SendVTCP**.

So far, it is one of the popular crashes for our customers, but we cannot reproduce it at office.
The callstack is as below:
`

     [Inline Frame] grpc_core::GrpcPolledFdWindows::SendV(grpc_co

[2021-10-04 22:59] gnossen opened #27585 "get.rvm.io Failing Consistently"
[code]

This is currently affecting the [Artifact Build MacOS](https://source.cloud.google.com/results/invocations/127383bd-a21b-4803-91d5-b112e65422fa/targets) and [Basic Test Ruby MacOS](https://source.cloud.google.com/results/invocations/19a925da-1fb3-499d-9a62-0a44c2209a1b/targets) jobs.

@stanley-cheung Please route if you are no longer the appropriate contact for this.

[2021-10-04 23:29] drfloob commented on #27585
This is being fixed in https://github.com/grpc/grpc/pull/27538

[2021-10-04 23:37] gnossen commented on #27585
@drfloob Shouldn't the issue be left open until the fix is merged?

[2021-10-04 23:38] gnossen commented on #27585
Including the string "Fixes #27585" in either the PR description or in a commit message will automatically close this issue when the fix PR is merged.

[2021-10-04 23:48] drfloob commented on #27585
Sure, that works too.

[2021-10-05 00:28] #27585 closed

[2021-10-05 02:26] baxford commented on #27532
I have found a temporary fix for this, as follows:
- download the roots.pem file from here https://github.com/grpc/grpc/blob/master/etc/roots.pem
- add the downloaded roots.pem to your project
- set environment variable GRPC_DEFAULT_SSL_ROOTS_FILE_PATH to point to the downloaded roots.pem
- We are running in AWS lambda (python), so are using the following: GRPC_DEFAULT_SSL_ROOTS_FILE_PATH=/var/tas

[2021-10-05 03:44] kgreav commented on #27532
Just confirming this worked for me:

`certbot run --preferred-chain 'ISRG Root X1'`

[2021-10-05 05:03] sifmelcara commented on #27470
@bergsieker any update?

You tried to cc @coevre but that does not seems to be a valid GitHub username

[2021-10-05 05:18] maheshwari-mayank commented on #27458
It is because of missing absl header files after installation. #27487

[2021-10-05 07:15] ynahum opened #27596 "moving to new grpc version crash at grpc::internal::BlockingUnaryCallImpl<>::BlockingUnaryCallImpl()"
Hi,

**What version of gRPC and what language are you using?**

gRPC version v1.38.0-pre1
Language: C++

**What operating system (Linux, Windows,...) and version?**

Ubuntu 18.04.5 LTSh

**What runtime / compiler are you using (e.g. python version or version of gcc)**

g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
BTW, also fails when building with ICC (intel compiler)

**What did you do?**

I was tryin

[2021-10-05 08:34] neopaf opened #27597 "grpc_cli coredump when parsing reply"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)

Not sure, which was used when compiling tool inside that rpm.

### What did you do?

[code]

### What did you expect to see?

To get `out.bin` file, which would have "Hello world" st

[2021-10-05 08:50] AlexeyDmitriev commented on #27532
@yihuazhang can you please comment when #27539 will be released to pypi?

[2021-10-05 09:33] lco38 commented on #27577
In [log](https://github.com/grpc/grpc/files/7279340/eu-speech.googleapis.com.log) you can see I use version 1.41.0. I put trace in jwt_credentials.cc where I checked your commit :
`gpr_log(GPR_DEBUG, "service_url = %s (%s)\n", cached_.service_url.c_str(), context.service_url);`
The result :
`D1004 16:39:29.140999776   24664 jwt_credentials.cc:101]     service_url = https://eu-speech.googleapis.com

[2021-10-05 10:35] #27095 closed

[2021-10-05 11:13] Mebus commented on #27574
I could solve this by updating my entire MSYS2 😄

Mebus

[2021-10-05 11:13] #27574 closed

[2021-10-05 11:27] jtattermusch commented on #26391
linux-aarch64 support has been added to rake-compiler-dock in https://github.com/rake-compiler/rake-compiler-dock/pull/54

[2021-10-05 14:19] yihuazhang commented on #27532
Per https://github.com/grpc/grpc/releases schedule, the next release (pre-release) will happen in a week or so. I will also try cherry-picking #27539 into v.1.41.0 later this week.

[2021-10-05 15:10] ayeganov opened #27601 "100% reproducible TSI_DATA_CORRUPTED Error"
### What version of gRPC and what language are you using?
gRPC Version 1.32.0 using C++ std 17

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04. LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-10.3.0-1ubuntu1~20.04

### What did you do?
I am using the asynchrouns API with completion queues. I have a bidirectional server which is e

[2021-10-05 16:15] markdroth opened #27603 "FLAKE: //test/cpp/ext/filters/census:grpc_opencensus_plugin_test TSAN failure"
https://source.cloud.google.com/results/invocations/b6ce1de9-3edd-4891-af23-0461ea7997d9/targets/%2F%2Ftest%2Fcpp%2Fext%2Ffilters%2Fcensus:grpc_opencensus_plugin_test@poller%3Dpoll/log

[code]

[2021-10-05 16:28] veblush commented on #27596
@ynahum Could you give us a small reproducible code so that we can take a look at? Also a crash call-stack looks a bit off to me because it contains `sync_posix.cc` but gRPC already started using `sync_abseil.cc` on Linux so there might be some misconfiguration on your build setup.

[2021-10-05 17:03] veblush opened #27604 "Boringssl build error"
Boringssl build error when building gRPC by cmake on gcc:11 docker image.

[code]

[2021-10-05 17:03] veblush commented on #27604
Boringssl appears to fix this issue by https://github.com/google/boringssl/commit/0768d42c283dcf077520c8fc9ad952309950fa48

[2021-10-05 17:07] veblush commented on #27487
@vkhristenko Oh it turned out that you need to use gRPC v1.41.0 or later to use the automatic abseil installation. If you want to use the older versions, you may want to install abseil independently.

[2021-10-05 17:08] veblush commented on #27458
It turned out that you need to use gRPC v1.41.0 or later to use the automatic abseil installation. If you want to use the older versions, you may want to install abseil independently.

[2021-10-05 17:44] veblush commented on #27469
@r-a-c This error looks like https://github.com/abseil/abseil-cpp/issues/795 which happened when using gcc 4.8 which is the same version that RHEL 7 has. I suspect that you might use a built-in gcc instead of gcc from devtoolset.

[2021-10-05 17:45] veblush commented on #27348
@ranjithcheguri Would you share the full buildable source so that I can run it myself?

[2021-10-05 18:57] markdroth opened #27607 "Ruby tests failing with "Could not download rvm-installer, please report to https://github.com/rvm/rvm/issues""
I'm seeing this consistently in all Ruby tests.  Here are a couple of examples:

https://source.cloud.google.com/results/invocations/d4fe3fe2-1117-4e77-897a-317f8f92beb8/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

https://source.cloud.google.com/results/invocations/f4372f7a-8a42-42b3-91c4-4a557096a755/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_ruby/log

[2021-10-05 19:08] drfloob commented on #27607
Fixed by https://github.com/grpc/grpc/pull/27538 as of last night. Both of those errors are from Oct 1

[2021-10-05 19:08] #27607 closed

[2021-10-05 21:22] ynahum commented on #27596
Hi @veblush,

Thanks for you immediate response. will try to minimize the build as possible and reproduce the problem.
currently using cmake version 3.18.4 BTW.

Thanks,
Yair

[2021-10-06 09:45] apavlyuc commented on #23270
I have very similar bt on version 1.35.
Is there any chance, that not all occurrences of this bug where fixed?

#0  0x00007fba50043277 in raise () from /lib64/libc.so.6
#1  0x00007fba50044968 in abort () from /lib64/libc.so.6
#2  0x00007fba50085d37 in __libc_message () from /lib64/libc.so.6
#3  0x00007fba5008e499 in _int_free () from /lib64/libc.so.6
#4  0x00007fba53c976ca in gpr_free () from /lib

[2021-10-06 09:58] ynahum commented on #27596
Hi,

found that the grpc version wasn't the expected (1.17).
Managed to clean the files in /usr/local/ <lib/bin/include/share> location by reversing the make install output (rm each file and reinstall).

After that, changed the way the generated protobuf files are generated to be as in helloworld cmake, and also used the ../cmake/common there to find packages.

BTW, before that it looked for "Sane

[2021-10-06 11:28] oakad opened #27623 "Make ClientContext Arena aware"
C++ GRPC client requires a new instance of `ClientContext` for each and every request. Yet, `ClientContext` is not a cheap object by any measure, it has plenty of fields, some with complex allocation behavior.

The above sort of implies, that it is very desirable to make `ClientContext` Arena aware with the view to improve allocation efficiency of C++ GRPC clients.

[2021-10-06 14:29] ynahum commented on #27596
Hi,
it seems that with intel compiler the rpc calls are executed correctly. will continue debug with GNU toolchain version.
Thanks

[2021-10-06 15:22] #27596 closed

[2021-10-06 23:22] yashykt commented on #27397
I'm not sure but running from HEAD would be a good thing anyway just to cover all bases. Also, is there a way to reproduce this?

[2021-10-07 11:55] serverwentdown opened #27633 "Python 3.9: DeprecationWarning asyncio loop argument"
### What version of gRPC and what language are you using?

grpcio 1.41.0, Python

### What operating system (Linux, Windows,...) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.9

### What did you do?

Use the `aio` API.

### What did you expect to see?

No `DeprecationWarning`

### What did you see instead?

[code]

Now that Python

[2021-10-07 18:01] ravenspree opened #27637 "Packaged GRPC service JAR doesn't support deprecated valueOf method for the enum."
The simple GET API works in local machine but not in the cloud when deployed as an app because the valueOf method does not exist in the generated java classes for enums generated from proto.

In cloud, we use the native binary out of the packaged jar. Is there a way to include the deprecated method into the exported jar?

stack trace as below.

[code]

[2021-10-07 20:15] dennycd opened #27640 "build breaks in interop_test"
Seem from #27563 for a number of typescript build errors

* https://source.cloud.google.com/results/invocations/86c91527-4b77-4245-860c-8bc26028bfa2/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log
* https://source.cloud.google.com/results/invocations/c54398e4-0229-432c-8fd9-575e598fe5ad/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log
* https://source.clou

[2021-10-07 21:00] gnossen opened #27641 "Basic Tests PHP MacOS Failure"
[code]

https://source.cloud.google.com/results/invocations/4790e7e3-7bba-4fb5-89ac-072357c2370a/log

The last few lines may actually be coming from Kokoro, not from our test. This might be related to the recent issues we've seen with Kokoro losing connection to the test VM and so might not be related to PHP at all.

[2021-10-07 23:03] dennycd commented on #27640
reported from grpc-node side  via https://github.com/grpc/grpc-node/issues/1928

[2021-10-08 10:44] qgtim opened #27653 "Ruby Gem LetsEncrypt Root Certificate Error"
### What version of gRPC and what language are you using?
ruby gem 1.41.0

### What operating system (Linux, Windows,...) and version?
linux
x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)
ruby with grpc gem

### What did you do?
Using GRPC v1.41.0 to connect to a Let'sEncyrpt cetified hostname fails

### What did you expect to see?
GRPC to function as nor

[2021-10-08 11:33] adnan360 opened #27654 "[gRPC Python] "Building wheel for grpcio" fails on OpenBSD"
### What version of gRPC and what language are you using?

Python 3.7. Tried to install gRPC 1.38.0 and latest. Both failed.

### What operating system (Linux, Windows,...) and version?

OpenBSD 6.9

### What runtime / compiler are you using (e.g. python version or version of gcc)

Tried with both `gcc` and `clang` with Python 3.7.

[code]

### What did you do?

Here are the steps I followed:

A.

[2021-10-08 11:39] jtattermusch commented on #27501
This is an enhancement request for protobuf, not gRPC (and so it doesn't belong here). Consider filing an issue at https://github.com/protocolbuffers/protobuf/issues.

[2021-10-08 11:39] #27501 closed

[2021-10-08 12:42] jtattermusch commented on #27366
Re-reading the questions, it seems that you might not be actually trying to build Grpc.Core from the source (but it's also a bit unclear what is it you're trying to do - would you mind clarifying it?).

[2021-10-08 15:45] flokasper opened #27655 "Impossible to use tls with python client"
We setup a simple server and a ALB with the following helm chart:
[code]

A grpcurl works perfectly:
[code]

But the python client doesn't go through:
[code]

With
[code]

We found this trace:
[code]

We didn't find how to setup tls with the python client.

Version:
python 3.7
grpc 1.41

[2021-10-08 15:46] lidizheng opened #27656 "[Interop Matrix] Add v1.40.x images"
As title.

Currently, our interop matrix on master branch doesn't test against v1.40.x wrapper languages.

(Assigning to the release manager of v1.40.x.)

[2021-10-08 18:20] kptkin commented on #24037
For me it helped to upgrade `pip` as well!

[2021-10-09 14:14] LeiZhang-Hunter opened #27667 "sending_queue is full."
About grpc c++ client.
 sending_queue is full.
How would you solve this problem?

[2021-10-09 16:34] Shielsy opened #27668 "Problems building grpc for Linux and Android (please reopen)"
I've been using gRPC for many years and it's always been tricky building it for Linux and Android . It's never built for me straight 'out of the box'.  I've cloned the latest master just to test a small Linux application I have written. My cmake command specifies just two flags, gRPC_INSTALL=ON and a CMAKE_INSTALL_PREFIX with the install location. This fails with:

**gRPC_INSTALL will be forced to

[2021-10-10 05:12] kkoudev opened #27671 "[ObjC] Support for gRPC code generation if use protoc's "use_package_as_prefix" option."
### Is your feature request related to a problem? Please describe.

The grpc generation code is not supported using "use_package_as_prefix" option class names when the code generation for  protocol buffers of objective-c with using option "use_package_as_prefix".

### Describe the solution you'd like

Please add the option "use_package_as_prefix" to grpc_objective_c_plugin as well.
This option has

[2021-10-11 01:30] kakyoism opened #27673 "Crash in TkInter-based python service"
### What version of gRPC and what language are you using?

[code]

### What operating system (Linux, Windows,...) and version?

- macOS Big Sur 11.6

### What runtime / compiler are you using (e.g. python version or version of gcc)

- Python 3.9.5

### What did you do?

## Problem

I have a simple Python script using TkInter that works under commandline mode, but crashes when the service method ge

[2021-10-11 04:25] coeuvre commented on #27470
The linked PR fixes this by removing `register_*` calls mentioned in https://github.com/grpc/grpc/issues/27470#issuecomment-930852784 since they are registered via `--extra_toolchains` and `--extra_execution_platforms` in `windows.bazelrc`.

[2021-10-11 06:40] adnan360 commented on #27654
Thanks for pointing that out. I just realized there is also `egcc` available in OpenBSD which is installed with `gcc` package that provides gcc8:

[code]

Result is pretty much the same. Here is the output for gcc8 build:
[gcc8-grpcio.log](https://github.com/grpc/grpc/files/7319332/gcc8-grpcio.log)

I also tried to [build from source](https://github.com/grpc/grpc/tree/master/src/python/grpcio#inst

[2021-10-11 10:58] IkshuDM opened #27676 "Grpc WaitForStateChange API hung and did not timeout"
### What version of gRPC and what language are you using?
language : C++,  version: 1.30.0

### What operating system (Linux, Windows,...) and version?
Linux 4.19.81

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7.16, gcc (Debian 8.3.0-6) 8.3.0

### What did you do?

I call WaitForStateChange from 2 threads, I hope it is ok to call from 2 threads as it

[2021-10-11 13:35] bitspradp commented on #26858
I would say the issue is more of handling a zero length string rather than a leading/trailing comma. The behavior in this case is too much of an issue. I would say it would be nice if we could throw a warning pointing to this rather and remove it from the list. What do you think?

[2021-10-11 14:24] #27676 closed

[2021-10-11 15:42] lidizheng commented on #27655
In the trace, I found `HTTP/1.1`, gRPC only speaks HTTP/2. This is likely caused by configuration issues in gateway or proxy. For TLS in gRPC, you can find our guide here: https://grpc.io/docs/guides/auth/. The guide includes Python snippets to setup TLS in clients and servers.

[2021-10-11 16:01] dennycd commented on #27640
fixed

[2021-10-11 17:54] IkshuDM commented on #27676
Thanks a lot for your response. wait_for_ready information is helpful, can you please poing me to an example how to set this for an RPC. What happens when the request is queued and the channel is not ready? will the application be blocked by till channel is ready?

[2021-10-11 18:38] markdroth commented on #27676
If you're using the synchronous API, then yes, the application will block until the RPC completes.  If you're using the async API, then the RPC will simply not complete until the channel connects and the RPC is sent.

You don't actually have to do anything special to get the channel to connect.  The channel will connect automatically when you send the first RPC.  If you really want to force it to

[2021-10-11 19:21] IkshuDM commented on #27676
WaitForStateChange is called by 2 threads and the hung issue mentioned above is not reproducible. The issue happened only  once.

[2021-10-11 21:15] josiahlaivins opened #27682 "module 'grpc' has no attribute 'experimental'"
### What version of gRPC and what language are you using?
Name: grpcio
Version: 1.41.0

Python 3.9.5 (default, Jun  4 2021, 12:28:51)
[GCC 7.5.0] :: Anaconda, Inc. on linux

### What operating system (Linux, Windows,...) and version?
Ubuntu 1804 running container continuumio/miniconda3

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.9.5 (default, Jun  4

[2021-10-12 00:51] ashithasantosh commented on #27549
I ran examples from
https://github.com/grpc/grpc/tree/master/examples/python/auth (already uses ssl creds)
Updated `customized_auth_client.py` to use `grpc.ssl_channel_credential()`, in order to retrieve root certificate from specified path.
Set the environment variable
`export GRPC_DEFAULT_SSL_ROOTS_FILE_PATH=credentials/root.crt`
And it worked for me.
Also tried feeding an incorrect path, and it

[2021-10-12 02:10] LeiZhang-Hunter commented on #27667
thank you

[2021-10-12 04:55] pvnghia123 opened #27685 "how to use grpc framework and build static framework from grpc source"
In my IOS project, I don't use cocoapods and carthage, is there any way to use grpc framework and build static framework from grpc source.

[2021-10-12 16:10] sophia0898 opened #27689 "#27688"
#27688

__Originally posted by @sophia0898 in https://github.com/grpc/grpc/issues/27324#issuecomment-941154184__

[2021-10-12 17:02] veblush commented on #27668
@Shielsy Could you double-check whether you get the submodules as well? It should support installation with your option. Please read the [doc](https://grpc.io/docs/languages/cpp/quickstart/) on how to install it using cmake.

[2021-10-12 19:49] veblush commented on #27668
@Shielsy Oops sorry I accidentally clicked the wrong button. Oh You use the old version of cmake. If you can update it to 3.13 or later, you don't need to do install submodules independently. Otherwise, you have to do it manually.

[2021-10-13 06:56] GitMOJ opened #27706 "I need grpc dll file for php, they say not available although it was there but recently I don't know what happened and it is disappeared from PECL site"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2021-10-13 07:51] GitMOJ commented on #27706
Please share the solution if you make it

On Wed, Oct 13, 2021, 12:47 sandeepdigicraft ***@***.***>
wrote:

[2021-10-13 08:48] cyanosp commented on #26094
#27512 related?

[2021-10-13 09:12] pawelzgorecki opened #27707 "Unity HoloLens2: Windows Store support ("unsupported APIs" when trying to publish to Windows Store)"
### Is your feature request related to a problem? Please describe.
When publishing, Windows Store complains about unsupported APIs:

- ConvertThreadToFiber in kernel32.dll, used in grpc_csharp_ext.dll
- CreateFiber in kernel32.dll, used in grpc_csharp_ext.dll

### Describe the solution you'd like
Remove the use of these APIs or provide guidance on how to achieve Windows Store conformance.

### Add

[2021-10-13 11:50] Kernal-GH opened #27709 "Mac c++ grpc tls connect falied"
The server uses grpc 1.40.x version and uses tls self-signed certificate
Windows client uses grpc1.40.x and C++ development to open tls to connect to the server normally, but the Mac system uses the same version and turns on tls verification and the connection fails. The error shows: Cannot connect to all addresses, error_message_ = "failed to connect to all addresses"
Print the description of con