[2022-09-06 19:46] markdroth commented on #30827
I doubt we're really going to be able to help you with this, since we don't support DLLs under Windows.  But @ctiller might know some quick way to help with this.

[2022-09-06 19:56] veblush commented on #30850
First of all, please use the latest version of gRPC since we kept fixing and improving the build issue. And you can use [script](https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_cmake.sh) as a reference to build an example using cmake.

[2022-09-07 08:29] tonydnewell commented on #22878
Document changes (https://github.com/grpc/grpc/pull/30405) have now been merged into master

[2022-09-07 12:20] ctiller commented on #30827
Sorry, I don't know of any quick path, and I wouldn't have a chance to iterate on this for at least a month.

[2022-09-07 12:20] #30827 closed

[2022-09-07 13:25] ashu-ciena commented on #10136
This is not the case, we are running a microservice architecture and we can stop/start a service at our will. Everytime we shut down the CQ, we will see this leak. We have to completely restart the process running the grpc server otherwise.

[2022-09-07 17:57] alangenfeld commented on #30843
caught a hang that is similar to one i got on `1.48.0` before it was yanked  (https://github.com/grpc/grpc/issues/30446)

process sample: https://gist.github.com/alangenfeld/2af02ec96e637994ac43f8dec97c52a0

[2022-09-07 18:29] melhindi commented on #26120
@julius-ziegler there is no need to install grpc explicitly.
However, you have to register/discover the binaries that are built by FetchContent.
I found it helpful to have a look at the CMake configuration example that is provided with the examples: https://github.com/grpc/grpc/blob/master/examples/cpp/cmake/common.cmake
Especially, this line is important: https://github.com/grpc/grpc/blob/98a9254

[2022-09-07 20:09] drfloob commented on #30843
@alangenfeld  @alaeddine-13 do either of you have a minimal reproducible example for this?

@alangenfeld thanks for the log. Are there any particular tests in dagster that reproduce this?

[2022-09-07 21:23] ctiller commented on #28429
Hi - we've taken the general stance that statically allocated things don't constitute a memory leak and we'll likely continue to take that stance: it's unlikely we'll ever promise to clean up 100% of statically rooted objects.

That said, for `CoreConfiguration` specifically we can probably offer a `grpc_config_reset()` or similar. Safety guarantees are a little messy to write, but would go someth

[2022-09-07 21:50] alangenfeld commented on #30843
No consistent repro unfortunately. I happen to catch the process sample above doing
`pytest python_modules/dagit/dagit_tests/test_subscriptions.py::test_event_log_subscription_chunked --count 100` on python `3.10.5` but trying again it doesn't fire.

In the dagster CI test suite the problem manifested as random tests hanging sporadically. No clear pattern or specific test that failed consistently.

[2022-09-07 22:34] drfloob commented on #30848
I'd be a bit surprised if that's true. `CallbackWithStatusTag` is arena-allocated, and its owned memory is freed as part of arena destruction. But std::string's character data is almost certainly on the heap, so the string destructor must be called in any case.I imagine leak detectors would have found this already if it weren't being freed. To test your non-destruction hypothesis in your environme

[2022-09-08 05:57] cjwebb commented on #30723
Another person here that upgraded Python versions to make it work 👋
My setup seems to consistently fail on Python 3.10.4 for some reason. Just commenting in case this turns out to be useful to someone.

[code]

[2022-09-08 06:45] h-vetinari commented on #30492
Conda-forge has installable packages of grpcio on ppc, e.g.
[code]

We don't have native hardware either (but can run tests in emulation). Please let us know on the [feedstock](https://github.com/conda-forge/grpc-cpp-feedstock) if anything isn't working!

(Note that grpc sits pretty low in the stack, and conda-forge continuously rebuilds its ecosystem for updates to ABI-relevant packages like abse

[2022-09-08 16:07] tkrause opened #30898 "Python: Additional channel metadata / Proxy auth digest"
### Is your feature request related to a problem? Please describe.
We have a Python gRPC client that is used to communicate with some of our backend gRPC services. However, one of our large customers has a corporate proxy that requires `digest authentication`.

Currently the Python client does not support any of the following which could allow this to work:

- Metadata at the channel level (i.e se

[2022-09-08 23:37] tkrause commented on #30898
After some digging into the C++ source, we've come up with a work around in the meantime.

However, this does not seem to be an officially supported option as it is not mentioned anywhere. It only seems to be referenced in [http_connect_handshaker.h](https://github.com/grpc/grpc/blob/063c36cb46733c13d2ce8116b6af482c9bd832d6/src/core/lib/transport/http_connect_handshaker.h#L33), [http_connect_hands

[2022-09-09 01:14] drfloob commented on #30792
I can't speak to the exact behaviors here, it may depend on your specific usage. As I recommended above, pprof may be enlightening for you, and you may be able to control some of the unbounded growth by setting limits using the `ResourceQuota` API and possibly by tuning `GRPC_ARG_MAX_CONCURRENT_STREAMS`.

[2022-09-09 02:42] KartikAiyer commented on #23312
@jiangtaoli2016 Was this issue ever fixed. I'm seeing the same problem with grpc 1.43.0 running on Ubuntu 20.04 (installed as a debian package). The client application is a CLI application and does link to shared libraries for UVW, grpc, spdlog and a shared library that provides the credentials. Although there are some paths that run the client cal in a separate thread, I restricted a local loopba

[2022-09-09 09:25] hitesh-kumain commented on #30848
I would like to contribute on resolving this issue!

[2022-09-09 10:44] 984958198 opened #30908 "linux v1.39.0 error return without exception set"
Linux rbtnode1 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
grpcio-1.39.0
python2.7

Here is my part of the code that throws an exception in the third step
This code is normal under window
I couldn't upgrade Python for a variety of reasons
[code]

[code]

[2022-09-09 15:42] drfloob commented on #30843
@alangenfeld  The failure wasn't reproduced in 1000 runs of that test with grpcio==1.48.1, python 3.10. To be sure, are you certain that v1.48.1 was installed? (`pip freeze | grep grpcio`)

[2022-09-09 18:13] Sush-Dew commented on #22723
@moubctez Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 18:14] Sush-Dew commented on #22387
@gnossen Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 20:26] gnossen commented on #30303
[I'm working on adding this support at the moment](https://github.com/grpc/grpc/pull/30818). Sorry for the wait there. We're working on automation to make this process speedier in the future given that Python releases are now once a year.

Oddly, I don't seem to be running into the compilation error referenced:

[code]

I would expect this to be resolved by a fix in Cython, but I have not updated

[2022-09-09 20:34] KartikAiyer commented on #23312
p.s: The exact same client code when cross compiled and deployed on an ARM based embedded linux system, does not show the problem. i.e the credentials are created and the channel is created.

[2022-09-09 21:30] KartikAiyer commented on #23312
Here is a stack trace when I used the debugger to break into the hang.

[code]

[2022-09-09 21:54] gnossen opened #30927 "Support 3.11 on aarch64"
The latest version of dockcross aarch64 does not yet support Python 3.11, blocking us from creating these artifacts. Once they _do_ support it, we should start producing these artifacts. This image has not been updated on dockerhub for a year, so it's possible that this may require more than just waiting for a new release. I've raised [the issue here](https://github.com/dockcross/dockcross/issues/

[2022-09-10 00:16] KartikAiyer commented on #23312
Okay so my issue is related to [this ticket](https://github.com/grpc/grpc/issues/20757). I was able to fix it by carefully examining my dependent libraries and avoid relinking to grpc.

[2022-09-10 06:15] toppk commented on #30303
This is the fix in cython  https://github.com/cython/cython/pull/4584  It seems likely to be only fixed in the 3.x version of cython. I am encountering this in 3.11.0rc1, so I am surprised you are not.

[2022-09-10 13:18] johnnyshields opened #30933 "Ruby 1.49.0.pre1 - grpc getting gRPC dynamic C core load error on x64-mingw-ucrt"
@apolcyn I've found a critical issue with grpc Ruby [1.49.0.pre1](https://rubygems.org/gems/grpc/versions/1.49.0.pre1) on a clean install of Windows / Ruby 3.1 x64-mingw-ucrt. The symptom is the error `Couldn't find or load gRPC's dynamic C core (LoadError)` when loading the gem.

I've found that renaming `grpc_c.64-ucrt.ruby` to `grpc_c.64-msvcrt.ruby` fixes the issue. Note that the `-ucrt` gem c

[2022-09-10 16:46] johnnyshields commented on #30933
@apolcyn fix is here: https://github.com/grpc/grpc/pull/30934

[2022-09-10 18:43] hitesh-kumain commented on #30613
can you please assign this to me ?

[2022-09-12 04:19] brightsparc commented on #28513
Hi, just wondered if this issue had been resolved in a more recent release @gnossen ?

[2022-09-12 14:12] hedayat opened #30939 "Re-add stream compression feature"
### Is your feature request related to a problem? Please describe.
I was using stream-gzip compression with older versions of grpc. However, it seems to be removed without any [specific reason](https://github.com/grpc/grpc/pull/28223#issue-1066872038). I wonder why reducing such a feature is desired, as currently (AFAIK) there is no other way to enable compression on streaming RPCs.

### Describe

[2022-09-12 14:39] gillmylady opened #30940 "How to set custom attribute to asyncio service context"
### What version of gRPC and what language are you using?
grpc 1.47.0, python

### What operating system (Linux, Windows,...) and version?
linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7 & 3.10

### What did you do?
At service side I have an interceptor which puts a custom attribute to `context` and store some objects for later usage. This works

[2022-09-12 22:24] danielfromCL opened #30947 "BUG: unable to install gRPC 1.48 with Ruby 3.1.2"
### What version of gRPC and what language are you using?
Ruby 3.1.2
gRPC 1.48.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What did you do?
Tried to run bundle install on a project that had been upgraded from Ruby 3.0.3 to 3.1.2 on a new clean Ruby installation, however the installation fails when installing grpc, showing the errors that are described on the gem_

[2022-09-13 00:17] #30803 closed

[2022-09-13 14:52] alangenfeld commented on #30843
yep
[code]

I did a 1000 iteration run while i was in this venv and managed to get another hang.
py-spy dump output: https://gist.github.com/alangenfeld/f38f27f9e31eb34c12374b55f3f775c4
osx process sample: https://gist.github.com/alangenfeld/5eceeaf6a36137371a69d45337e9179d

[2022-09-13 17:02] gnossen commented on #30303
Well, as long as the artifacts build properly against 3.11, I suppose we're fine. 3.11 will be supported in 1.49.0, which is going out in the next couple of days.

[2022-09-13 17:02] #30303 closed

[2022-09-13 19:43] veblush commented on #30799
Would you elaborate on how you noticed there was a memory leak? Seeing an increase on memory consumption doesn't necessary means that there is a leak. If you can use a memory leak detector and it reports some leaks, it would be useful.

[2022-09-13 19:44] veblush commented on #30799
Duplicate of https://github.com/grpc/grpc/issues/30792

[2022-09-13 19:44] #30799 closed

[2022-09-13 19:49] veblush commented on #30524
I cannot find the error in the log above?

[2022-09-13 19:52] #29909 closed

[2022-09-13 19:57] veblush commented on #30369
At this point, we don't want to do this because each language has its own recommended way to generate the code and we're not sure its benefit exceeds the cost of making the release process complicated.

[2022-09-13 21:24] ovidiupl opened #30965 "Build failure with a gRPC + Go + Python project"
### What version of gRPC and what language are you using?

- Bazel build with `rules_proto_grpc-4.2.0`
- Golang on the server
- Python on the client

### What operating system (Linux, Windows,...) and version?

- Ubuntu Linux 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

- Go 1.19.1
- Bazel 5.3.0

### What did you do?

I followed the instructions at http

[2022-09-13 23:47] ovidiupl commented on #30965
I also filed https://github.com/bazelbuild/rules_go/issues/3292 with `bazelbuild/rules_go`. I think both projects have their part in this situation - the Go Bazel rules should figure out a different strategy for toolchain version unification (or for multiple toolchain versions, whatever is more appropriate), and other Bazel rules that depend on Go internally should not choose on the `WORKSPACE` us

[2022-09-14 00:11] anuraaga commented on #30369
The language-specific guides can help when writing an app that uses gRPC but they are not very helpful in a polyglot scenario. An example is when developing an external API for customers with gRPC - to make it easier for the customers you need to publish in many different languages, but requiring a Python, Ruby, etc environment for each language to generate for a team that maintains their logic on

[2022-09-14 00:37] agrieser-healthie opened #30976 "Undefined symbol `_ruby_abi_version` regression with Xcode 13 -> 14"
### What version of gRPC and what language are you using?
grpc: 1.48.0
language: ruby 2.7.6

### What operating system (Linux, Windows,...) and version?
MacOS 12.6
Apple M1 chip

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode 14

### What did you do?
`gem install grpc -v 1.48.0`

### What did you expect to see?
Successfully install

### What did you see ins

[2022-09-14 06:11] RobertFromBerlin commented on #26094
Had the exact same issue. Turns out the cygrpc module had the wrong filename so Python was not able to find it (CPython has some specific name requierements).
Python was linux_arm-linux-gnueabihf but the name of the module was cygrpc.cpython-38-arm-linux-gnueabi.so (note the missing hf). Once I renamed it to cygrpc.cpython-38-arm-linux-gnueabihf.so all worked as expected.

[2022-09-14 09:27] gdubicki commented on #30372
Same here with Python 3.10 on a Mac with M1 (if it matters):

[code]

[2022-09-14 14:04] mgravell opened #30979 "Signficant unnecessary but avoidable allocations when TCP trace enabled at ignored log-level"
There are multiple code-paths that follow the pattern:

[code]

where `grpc_dump_slice` builds a nul-terminated string of the fragment; this applies to most network read/write; useful for debugging.

However! If the log-level is low (meaning: less logging - for example ERROR only), but the trace is enabled: this performs a **LOT** of unnecessary CPU and memory overhead, including allocating/releas

[2022-09-14 14:15] mgravell commented on #30979
darn; I've just realised that I've tagged this wrong - I think I should have selected "core"; my bad - can someone fix?

[2022-09-14 17:16] technicalpickles commented on #30976
That constant was added in https://github.com/grpc/grpc/pull/28976 . Is there a way to make this conditional on the ruby version if it's only required for Ruby 3.2+?

[2022-09-14 17:43] AMontagu opened #30984 "Exception not retrieved: grpc._cython.cygrpc.ExecuteBatchError: Failed "execute_batch"
### What version of gRPC and what language are you using?
Python 3.8
grpcio 1.48.1

### What operating system (Linux, Windows,...) and version?
Linux in docker. Debian slim buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to re

[2022-09-14 19:04] octaviansima commented on #29828
@ZhenLian

The string is null terminated. Confirmed that by printing and inspecting the last byte as well

[2022-09-14 22:50] temawi commented on #29552
It's been a while without a response, so closing. If more information is provided the bug can be reopened.

[2022-09-14 22:51] #29552 closed

[2022-09-15 01:32] Kewei-Lu commented on #23681
@maganaluis Hi, did you find the root cause of such the problem? I am facing a similar issue. Thanks!

[2022-09-15 08:06] AMontagu commented on #30984
Hello
I test tested to raise an Exception in my business logic:

[code]

But the error is correctly handled. So it should come from an other issue. Following the traceback I discovered that I was wrong about the place of the exception. The error appear on the context.write in my exception handling.
I adeed more debug to understand what kind of exception it is and on the state of the context.

[cod

[2022-09-15 08:54] darkdragon-001 opened #30998 "CompletionQueue only works on Read() operations after no more `Write()` are scheduled"
Assume the following gRPC service

[code]
For the server, I use a simple synchronous server:
<details>

[code]

</details>

For the client I use an asynchronous implementation using a `CompletionQueue`:
<details>

[code]

</details>

ServerOutput:
[code]

Observed ClientOutput:
[code]

Expected ClientOutput:
[code]

When I schedule both `Read()` and `Write()` into a `CompletionQueue`, the first `R

[2022-09-15 17:01] technicalpickles commented on #30976
@ethankhall found a workaround for this:

[code]

cc @ngan @noizwaves

[2022-09-16 05:14] CareF opened #31011 "Fail to build grpcio_reflection when using grpc as bazel external dependence"
### What version of gRPC and what language are you using?
 gRPC 1.48.0
Python

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.10
gcc 9.4.0

### What did you do?
A minimal demonstration.
[code]

running
[code]
shows
[code]

### What did you expect to see?
I'm trying to use grpc_re

[2022-09-16 06:57] CareF commented on #31011
It seems to be related with https://github.com/grpc/grpc/pull/23633 not really fixing the issue. The file seems to be generated in
[code]
where there is double `external/com_github_grpc_grpc/`

[2022-09-16 07:28] CareF commented on #31011
[code]
This may fix the issue but I suppose it's probably not the supposed way of doing it.

[2022-09-16 08:29] mehrdada opened #31012 "Move `grpc_insecure_*_credentials_create` declarations to `grpc/grpc.h`"
Right now the `grpc_insecure_credentials_create` and `grpc_insecure_server_credentials_create` declarations are in `grpc_security.h`.  However, they are critical in doing pretty any work in grpc without utilizing secure credentials.  That would mean the users will have to include both headers even if they are relying only on insecure gRPC.  It would make sense to move the insecure credentials to `

[2022-09-16 09:57] MartinNowak commented on #26548
Made a fix for this -> #30832

[2022-09-16 12:59] gjasny opened #31014 "Memory leak in NativeClientChannelDNSResolver::StartRequest"
### What version of gRPC and what language are you using?
C++
* happens with 1.48 and 1.49.0
* does not happen with 1.47

### What operating system (Linux, Windows,...) and version?
Ubuntu 22.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang 14 / C++20

### What did you do?
I'm using gRPC to communicate with a server. Om shutdown the ASAN leak checker repo

[2022-09-16 13:02] jackreid07 commented on #30182
Does anyone have a viable solution for this?

[2022-09-16 13:03] gjasny commented on #31014
If I revert 4d15e256cec8d15b939a5fe34a1b891d3f8f8edb from #29903 the leak is gone.

[2022-09-16 15:37] drfloob commented on #31012
None of the examples in [examples/cpp/](https://github.com/grpc/grpc/tree/868b7d82a78333f040e5fad91800c98f858fd6b1/examples/cpp) have to include that header. I'm not sure why you have the impression that it's always required, but it is not.

[2022-09-16 19:20] markdroth commented on #31014
Thanks for reporting this!  I think https://github.com/grpc/grpc/pull/31017 should fix it.

[2022-09-16 19:30] mehrdada commented on #31012
I'm sorry, I thought `lang/core` tag makes it clear enough--not sure if this has anything to do with C++ examples.  This is related to C core API for wrapped languages and such. In particular, this example should compile fine without including grpc_security header:

[code]

but makes the C compiler warn about undeclared function `grpc_insecure_server_credentials_create`.

[2022-09-16 20:52] zsimic opened #31020 "`descriptor.proto` is missing from python grpcio 1.49.0"
### What version of gRPC and what language are you using?

Python grpcio 1.49.0

### What operating system (Linux, Windows,...) and version?

Macos M1 12.6 (bug seems platform agnostic, can be observed in released source tarball as well)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.9 (bug also seems python version agnostic)

### What did you do?

`pi

[2022-09-16 20:53] palladius commented on #25082
Folks, I'm still having the issue and I believe this should be open until:
* everyone has a working release, OR
* there's an easy local fix.

[2022-09-16 21:55] nahk-ivanov commented on #28663
+1

Doing it through Buf as well, trying to generalize the build of client/server SDKs for different languages, and gRPC C# plugin is giving me troubles. 😞 Would be more versatile if it was solved in the generator plugin, rather than collateral build tools.

[2022-09-16 22:03] hjm-aws commented on #19734
Hello, how do I set, for example, `grpc.server_handshake_timeout_ms`?

[2022-09-16 22:04] #31014 closed

[2022-09-16 22:31] gnossen commented on #31020
CC @yashykt i believe this is related to https://github.com/grpc/grpc/pull/30377. `well_known_type_protos` does not include everything that `well_known_protos` did.

[2022-09-16 22:33] gnossen commented on #31020
@zsimic I'd recommend that you start running a test for your project that pulls in our prereleases. (run `pip install --pre grpcio-tools`). This will help us catch this sort of thing before final releases in the future.

[2022-09-16 22:48] zsimic commented on #31020
Will you yank 1.49.0? This is not from a particular project of mine, this breaks all projects that do this in one of their protos:

[code]

[2022-09-16 22:54] gnossen commented on #31020
So far, this is the only complaint we've heard. While we'll certainly work on releasing a 1.49.1 patch soon with the fix, I'd like to understand the impact better before making the decision to yank.

Can you be more specific? Which projects? Can you provide any links?

[2022-09-16 22:59] zsimic commented on #31020
It's internal projects, sorry I'm not super familiar with grpc per se, just investigated a large set of similar build failures.

You can find such repos on github for example I'm guessing: https://github.com/search?q=google%2Fprotobuf%2Fdescriptor.proto+extension%3Aproto&type=Code&ref=advsearch&l=&l= (the subset of repos that use python grpcio with such an import should be failing right now, if th

[2022-09-16 23:01] gnossen commented on #31020
Absolutely. And that will be part of the fix. But we can't predict every use case that our users will have for the code. That's why we publish pre-releases. The more tests we have running the better.

[2022-09-16 23:03] lidizheng commented on #19734
@hjm-aws The gRPC repo has an example for setting channel arguments: https://github.com/grpc/grpc/blob/master/examples/python/helloworld/async_greeter_client_with_options.py

[2022-09-16 23:07] zsimic commented on #31020
Agreed.

I don't know any python projects that do this import in one of their protos off the top of my head (and can't tell github search to show only subset of "mostly python" repos), but my guess is this will impact such projects.

Not sure how many that is, I'm debating whether to wait for fix, or to recommend pinning to affected repos (internally).

[2022-09-16 23:18] gnossen commented on #31020
The patch will not be until Monday, 19 September at the earliest. In the meantime, I will keep an eye on GitHub issues. If enough users run into this issue before the patch goes out, I will yank 1.49.0.

[2022-09-17 00:00] drfloob commented on #30843
@alangenfeld Sorry for the delay. We still don't have a concise test that reproduces the failure, I'm looking into it. To be sure, are you using the `poll` poller? If not, please try running the test with the environment variable `GRPC_POLL_STRATEGY=poll` enabled.

[2022-09-17 01:02] hjm-aws commented on #19734
Thanks Lidi. The example is on the client side, and I was wondering about setting server side args.

I already figured out that I could use `ServerBuilder::AddChannelArgument()`, but frankly speaking it was not the easiest journey I took to find out something.

[2022-09-17 01:49] lidizheng commented on #19734
The server object accepts an `options` argument, which accepts the same data structure as the client-side, see doc: https://grpc.github.io/grpc/python/grpc_asyncio.html#grpc.aio.server.

[2022-09-17 06:57] seanamos commented on #24188
There was originally a workaround for this using: https://github.com/sgerrand/alpine-pkg-glibc
You have to use `v2.34-r0`, not the latest version which has its own problems.

That still seems to get the csharp grpc plugin working on alpine `linux/amd64`.
There is currently no off the shelf workaround for alpine `linux/arm64`. Some people have been doing their own builds of https://github.com/sgerr

[2022-09-18 07:43] marcosatti opened #31043 "Asyncio task exception upon unhandled ExecuteBatchError exception"
### What version of gRPC and what language are you using?

gRPC Python 1.49.0

### What operating system (Linux, Windows,...) and version?

Docker image: python:3.10-alpine

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.10.7

### What did you do?

Exception being raised internally within the servicer method handler due to satellite-like internet connec

[2022-09-18 14:10] astanimirov commented on #30976
@technicalpickles I have the same issue and it is blocking me to do my work. The provided workaround is not working for me as well. Could we give this issue a higher priority as the project cannot build and I do not know what to do?

[2022-09-18 17:59] AMontagu opened #31044 "Update from 1.48.1 to 1.49.0 generate 'NoneType' object has no attribute 'message_types_by_name'"
### What version of gRPC and what language are you using?
grpcio 1.49.0
Python 3.8
protobuf 4.21.6 (seem the issue come from passing form protobuf 3.20.1 to 4.21.6 -> not done manually by me. Seem the requirements of grpcio changed)

### What operating system (Linux, Windows,...) and version?
Debian -> Python 3.8 docker image

### What runtime / compiler are you using (e.g. python version or versi

[2022-09-18 18:11] nikola-sh opened #31045 "gRPC library is not deinitialized after stream read operations"
### What version of gRPC and what language are you using?
https://github.com/grpc/grpc/commit/9d047f88f5762b9353b8f2b5b161f37ff6134fe1
C++

### What operating system (Linux, Windows,...) and version?
Windows 10
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 2022
gcc 11.2.0

### What did you do?
I noticed that my gRPC client application crashes sometimes

[2022-09-19 06:50] amchii commented on #25082
Yes, it's still need to set env vars explicitly to install grpcio for me:
[code]
python version: 3.9.13
grpcio version: 1.49.0

[2022-09-19 18:24] gnossen commented on #31020
Thanks, everyone who added their reaction to this issue. I have yanked 'grpcio' 1.49.0 and all ancillary packages from PyPi. 1.49.1 will likely be published tomorrow.

To everyone who was affected by this issue, _please_ consider adding a test to your CI where you pull in our release candidates. This will help us perform our final releases with less disruption in the future. Feel free to contact m

[2022-09-19 20:06] justin-parus opened #31055 "C++ wrapper on windows not respecting rpc deadlines"
### What version of gRPC and what language are you using?
v1.31.1

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 19.00.23506

### What did you do?
Passed a deadline to grpc runtime in our application. This application runs thousands of instances, and in some cases faces network disconnect.

[2022-09-19 20:28] #30933 closed

[2022-09-19 20:33] stanley-cheung commented on #28390
@dennycd Can you maybe have @HannahShiSFB look into this please? Thanks.

[2022-09-20 04:18] kyujin-cho commented on #26257
<img width="1957" alt="Screen Shot 2022-09-20 at 1 18 01 PM" src="https://user-images.githubusercontent.com/2904494/191166453-e427d86d-7978-4f87-a8e0-bc692fdd26b0.png">

2022-09-20 13:13:16.184 INFO ai.backend.manager.server [19093] Backend.AI Manager 22.09.0b6
2022-09-20 13:13:16.184 INFO ai.backend.manager.server [19093] runtime: Python 3.10.7 (env: /Users/kyujin/Projects/lablup/backend.ai/dist/

[2022-09-20 08:24] serge30 opened #31064 "xds-protos: Regenerate with protoc >= 3.19.0"
Hello,

I'm trying to use `xds-protos` packet with `protobuf==4.21.6` and get Python error on import anything from this package. As I can see from error message, it suggests to regenerate Python code with `protoc >= 3.19.0`

Can we have a new version of `xds-protos` package please?

--
Thanks,
Serhii

### What version of gRPC and what language are you using?

[code]

### What operating system (Lin

[2022-09-20 19:39] yashykt commented on #31055
I notice that the version you are using is v1.31 which is a bit old at this point. Please try using the latest release.
If the issue still persists, please ping/ create a new issue with steps to reproduce the issue.

[2022-09-20 19:39] #31055 closed

[2022-09-20 19:42] yashykt commented on #31045
`grpc_is_initialized` is not part of the public API for gRPC C++. It is a gRPC Core API which is only meant to be used internally by the gRPC wrapped languages. At this point, it is considered something akin to an implementation detail.

[2022-09-20 19:42] #31045 closed

[2022-09-20 19:44] veblush commented on #19224
It looks okay to close this.

[2022-09-20 19:44] #19224 closed

[2022-09-20 19:49] yashykt commented on #30979
Looks like you pretty much have the code ready :) Contributions are welcome

[2022-09-20 19:50] veblush commented on #16989
It's an really old. When I tried to build this with gRPC 1.47.1, it worked. So I think we can call this is fixed?

[2022-09-20 19:53] #22783 closed

[2022-09-20 19:55] veblush commented on #22826
This was fixed by https://github.com/grpc/grpc/pull/25772

[2022-09-20 19:55] #22826 closed

[2022-09-20 19:56] #23423 closed

[2022-09-20 20:07] coryan commented on #16989
I think we can, thanks for checking.

[2022-09-20 20:07] #16989 closed

[2022-09-20 20:15] drfloob commented on #30848
I don't have access to an environment I can test this in, there's not much I can do here. If you'd like to move this forward, please feel free to produce a minrepro that proves the leak (and that the destructor is not being called).

[2022-09-20 20:21] solofeed commented on #30976
Same issue with
- ruby 2.7.6p219 (2022-04-12 revision c9c2245c0a) [arm64-darwin21]
- google-protobuf-3.21.6
- grpc-1.48.0

[2022-09-20 20:28] solofeed commented on #30976
Log

[code]

[2022-09-21 00:04] #19547 closed

[2022-09-21 00:15] #31020 closed

[2022-09-21 02:54] fananchong opened #31080 "After "Failed accept4: Too many open files file", gRPC cannot continue to work after the socket file handle is released"
When gRPC error log : message=Failed accept4: Too many open files file=/tmp1/grpc/src/core/lib/iomgr/tcp_server_posix.cc:216 ,
after a while, file handle is released , but the process can new tcp connect request, but stream event lost

[2022-09-21 09:01] yc1037642433 opened #31081 "Is there a way that the ClientInterceptor of C++ can modify method name"

[2022-09-21 09:53] astanimirov commented on #30976
I had the same issue but with Ruby 3.0.4. After trying everything else, I fixed it by reinstalling Ruby:

[code]

[2022-09-21 11:26] nikola-sh commented on #31045
@yashykt , grpc_is_initialized was used only to highlight the problem.
The problem is

C/C++ runtime deinitializes itself after main and alive GRPC threads crash.

[2022-09-21 13:24] silverwingbug opened #31082 "High CPU usage is found"
### What version of gRPC and what language are you using?
Grpc: 1.47.0
Python: 3.8.8

### What operating system (Linux, Windows,...) and version?
We met this issue on ESXi 7.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python: 3.8.8

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to rep

[2022-09-21 17:34] drfloob commented on #30581
Sorry it took me a while to get time to research this. It doesn't appear as if the peer name is used in any critical way within gRPC (it is parsed, but used primarily for logging and naming things), so it seems fine to change this behavior. If you'd like to submit a PR that makes the change, we can try integrating it and see if anything breaks.

[2022-09-21 18:01] drfloob commented on #28357
This is stale.

[2022-09-21 18:01] #28357 closed

[2022-09-21 18:03] drfloob commented on #28188
Closing this, no user reply in 3 months.

[2022-09-21 18:03] #28188 closed

[2022-09-21 18:35] drfloob commented on #31012
I see, my mistake. I think that would be a generally acceptable cleanup. We would likely break some folks if we just removed the file, and even though we don't provide any explicit stability guarantees for the C-core API, I'd suggest at least a mailing list announcement, possibly a gRFC. We could instead roll the functionality into grpc.h, and make grpc_security.h a stub of a header that just `#in

[2022-09-21 18:50] markdroth commented on #31012
I think we can just move the declarations for the insecure creds functions from grpc_security.h to grpc.h without making any other changes.  That should not be a breaking change, since grpc_security.h already includes grpc.h, so it should not require a gRFC.

[2022-09-21 18:54] drfloob commented on #18111
@temawi   I'm guessing this is stale, as we've just gone through a fixit sprint, but I'll let you evaluate and decide.

[2022-09-21 19:08] drfloob commented on #22508
@tgpfeiffer @moveingsun those are separate issues. For python multiprocessing, you need to enable fork support and use the `poll` poller, otherwise you can expect occasional (non-deterministic) hangs on fork since threads will not be shut down pre-fork otherwise.

It's been 9 months without a repro for the original issue, and no comment back about the retry feature, so this is mostly non-actionabl

[2022-09-21 19:08] #22508 closed

[2022-09-21 20:03] ldbrandi commented on #30723
The latest version that I could install properly was `1.46.3` on Python 3.10.6 and Mac M1. The problem is the package that I need to install depends on the `1.48.1`, it's dbt-bigquery adapter. Any news on this?

[2022-09-21 20:42] temawi commented on #18111
I went through a bunch of the most recent failures for this target and this error did not appear. I believe this one is stale and I'll close it.

[2022-09-21 22:33] cookiefission opened #31092 "grpc.aio.ClientCallDetails method attribute typed as str but is bytes"
### What version of gRPC and what language are you using?

Python 1.48.1

### What operating system (Linux, Windows,...) and version?

macOS 12.2.1 + ubuntu 20.0

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.8, 3.9, 3.10

### What did you do?

Retrieved the `client_call_details.method` value in a grpc.aio client interceptor

[code]

### What did you e

[2022-09-22 02:57] mankhakb opened #31095 "[c++] channel.WaitForConnected assertion failed while trying for mTLS connection"
**Using gRPC with C++ Language
Linux version - Linux 4.19.81-OpenNetworkLinux #1 SMP Mon Jun 20 01:56:19 UTC 2022 x86_64 GNU/Linux
Python 2.7.16
gcc (Debian 8.3.0-6) 8.3.0**

**gRPC secure communication:
Created a custom channel and populated SslCredentials with ca cert, client cert and client key. Below assertion is observed once channel.WaitForConnected is called.**

I0913 17:07:25.303815824   1

[2022-09-22 08:25] artificial-jk commented on #28747
sorry for pinging
This is a pretty small fix, when is it planned to be integrated?

[2022-09-22 08:41] HHDSG commented on #20418
@boanerges317 The use case is problematic, the previously opened handle should be closed.

[2022-09-22 13:28] dominik-air opened #31097 "Code is not generated completely with grpcio-tools version 1.49.1"
### What version of gRPC and what language are you using?
- grpc 1.49.1
- Python

### What operating system (Linux, Windows,...) and version?
I've tried it on:
- macOS Monterey 12.6
- Alpine Linux 3.16
Both yield the same results.

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.5

### What did you do?
Please provide either 1) A unit test for reproduci

[2022-09-22 13:47] mgravell commented on #30979
@yashykt ^^^

[2022-09-22 15:06] mtwebster commented on #30428
I can also reproduce this using the python grpc example greeter_server.py:

[code]
![image](https://user-images.githubusercontent.com/262776/191783007-e1a6ec58-a676-4101-8368-466fcccc0fcf.png)

[code]

Is this the new normal?  Looking at commits here I guess this came about when epoll1 was dropped.

[2022-09-22 17:02] gnossen commented on #31097
This is working as intended. 1.49.1 pulls in pulls in a breaking change in the Python Protobuf generated code. You'll notice that `grpcio-tools` now has a dependency on `protobuf>=4.21.6,<5.0dev` whereas `1.47.0`'s range was `protobuf>=3.12.0, < 4.0dev`.

Please reopen this issue if you have issues running the new generated code with `protobuf>=4.21.6`.

[2022-09-22 17:02] #31097 closed

[2022-09-22 21:50] gnossen commented on #31044
This seems like it's probably the same as [this](https://github.com/protocolbuffers/protobuf/issues/10075#issuecomment-1205784577). Can you please confirm that you're not loading the `fake_app_pb2` module into the same process multiple times?

[2022-09-22 23:22] WayneYe commented on #30723
@ldbrandi  +1

### What version of gRPC and what language are you using?
grpcio 1.49.1

### What operating system (Linux, Windows,...) and version?
MacOS 12.6 Monteray M1 version

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.6

### What did you do?
"pip install -U grpcio"

### What did you expect to see?
Successful installation

### What did you see

[2022-09-23 08:06] eaglexiang commented on #19126
I have a plan to deploy gRPC on QUIC with Go.

`grpc-go` supports DialerOptions with client option [WithDialer](https://github.com/net-bridge/netbridge-client/blob/2d124647564c36007d840db6a83855c6ba79dbc1/vendor/google.golang.org/grpc/dialoptions.go#L380).

[code]

`grpc-go` supports custom Listener with server Method [Serve](https://github.com/net-bridge/netbridge-server/blob/7b0f2c8553f63b3ad848

[2022-09-23 08:12] eaglexiang commented on #19126
There is my usecase:

* [ServerSide](https://github.com/net-bridge/netbridge-server/blob/7b0f2c8553f63b3ad8480254c3a79d76f6316eef/grpc/grpc.go#L83)
* [ClientSide](https://github.com/net-bridge/netbridge-client/blob/2d124647564c36007d840db6a83855c6ba79dbc1/grpc/init.go#L36)

[2022-09-23 13:40] ehagerty commented on #30064
forgive my question, but would it be appropriate/safe to always set GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true and GRPC_PYTHON_BUILD_SYSTEM_ZLIB=true in my development python environments?

[2022-09-23 15:10] larspaulsen commented on #19126
Hi

[2022-09-23 18:30] snorrwe commented on #31044
I have the same issue. Also using Poetry.
 Version 1.48.1 works as expected, using 1.49 results in
 ` AttributeError: 'NoneType' object has no attribute 'message_types_by_name''`

[2022-09-23 18:33] carlwiedemann opened #31112 "Changelog needs updating"
The changelog has not been updated since 2015. Is it possible to backfill updates that have occurred since then?

[2022-09-23 19:51] gnossen commented on #31064
Thanks for reporting this. We should have a fix for it out soon.

[2022-09-23 20:05] ctiller commented on #31012
I think moving this to grpc.h is the wrong approach: we likely want to move them to grpc_insecure.h or the like so that we can visibility restrict it.

Let's actually make a gRFC for this and solve it properly.

[2022-09-23 20:30] ctiller commented on #31012
(note that moving to grpc.h makes these functions more available and thus harder to clamp down later)

[2022-09-23 20:31] markdroth commented on #31012
That's a good point.  I'm fine with moving them to grpc_insecure.h.

Actually, let's make it grpc_insecure_creds.h, since that's in keeping with the goal of eventually moving every creds type to its own target.

[2022-09-23 20:34] ctiller commented on #31012
+1 to grpc_insecure_creds.h

[2022-09-24 01:42] hclonej opened #31116 "Memory leak problem"
### What version of gRPC and what language are you using?
1.48 (also checked in the lastest version).

### What operating system (Linux, Windows,...) and version?
Windows10 pro 21H2.

### What runtime / compiler are you using (e.g. python version or version of gcc)
vc++ 2019 v16.9. (x64 build)

### What did you do?
Debuging program with Dr.Memory.

### What did you expect to see?
No memory leak.

[2022-09-24 03:30] zhanghuajieHIT opened #31117 "When malloc return NULL, the program crash"
### What version of gRPC and what language are you using?
v1.27.3

### What operating system (Linux, Windows,...) and version?
aarch64

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3.0

### What did you do?

### What did you expect to see?
My program won't crash

### What did you see instead?
linux-vdso.so.1(__kernel_rt_sigreturn+0) [0xffff8c2b97c0]
/usr/

[2022-09-24 03:32] zhanghuajieHIT commented on #31117
In https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/alloc.cc, When the program malloc return NULL,  it will abort. Is this justified

[2022-09-24 03:34] TBBle commented on #19126
If I'm reading grpc-go's `Serve` code correctly, that example is demonstrating HTTP/2 over QUIC. See `func (s *Server) handleRawConn` which calls `func (s *Server) newHTTP2Transport`.

So this seems like the worst-of-both-worlds, since HTTP/2 won't be able to take advantage of QUIC in any way.

[2022-09-24 04:52] bytes-lost commented on #19655
any update?

[2022-09-24 17:21] eaglexiang commented on #19126
Maybe someone just need:

UDP transmission, usermode congestion control with QUIC.

Simple RPC development with gRPC.

This couple did help me save much time from coding :)

[2022-09-25 02:23] ulises-castro commented on #30064
That worked for me as well, thank you so much.

[2022-09-25 09:35] ceritium commented on #29489
Hi, if you still have the problem, try adding the  `x86_64-linux` platform with `bundle lock --add-platform x86_64-linux`

[2022-09-25 17:20] stanhu commented on #22681
https://github.com/grpc/grpc/pull/31119 seems to work for me.

[2022-09-25 22:16] s77rt commented on #29892
a duplicate of #28811
the docs are outdated. Just install perl extension and it should work.

[2022-09-26 00:24] AmSoMad commented on #19126
My guess is that next year September 2023 there will be a new "QUICG" standard that combines UDP and Grpc.
So this problem will be solved. And my comment will be a post foretelling a great future.

We can use HTTP2 & 3!! this QUICG !

1. Enable HTTP3 by default in all browsers
2. Enable HTTP3 for all server developers live service
3. blah blah blah...

[2022-09-26 02:12] TBBle commented on #19126
We have a [gRPC over HTTP/3 proposal](https://github.com/grpc/proposal/blob/master/G2-http3-protocol.md) and [example implementation](https://github.com/grpc/grpc-dotnet) already, 2 years before September 2023.

Is there a reason not to start prototyping this proposal in other language stacks that have HTTP/3 support, compared to reimplementing HTTP/3-level features in a direct gRPC-QUIC binding?

[2022-09-26 07:08] lidezhu opened #31122 "gRPC crash when TLS enabled"
### What version of gRPC and what language are you using?
grpc 1.44.0 C++
openssl 1.1.1o

### What operating system (Linux, Windows,...) and version?
CentOS 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang 13.0.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If

[2022-09-26 07:13] backni opened #31123 "Crash on client when server shut down"
### What version of gRPC and what language are you using?
grpc : 1.48.1
language : C++

### What operating system (Linux, Windows,...) and version?
Windows 10, Version 20H2(OS Build 19042.1889)

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 2017, cl 19.16.27048

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific s

[2022-09-27 00:54] ngan commented on #30976
Just to follow up, the [workaround](https://github.com/grpc/grpc/issues/30976#issuecomment-1248372286) didn’t work for us and we ended up downgrading grpc to 1.470

[2022-09-27 02:02] deepalakshmic opened #31130 "grpcio installation fails on M1 MAC"
**What version of gRPC and what language are you using?**
GRPC 1.49.1
Python version: 3.9.5

**What operating system (Linux, Windows,...) and version?**
MAC OS :
Chip: Apple M1 pro
Darwin 192-168-1-103.tpgi.com.au 21.0.1 Darwin Kernel Version 21.0.1: Tue Sep 14 20:56:24 PDT 2021; root:xnu-8019.30.61~4/RELEASE_ARM64_T6000 arm64

**What runtime / compiler are you using (e.g. python version or versio

[2022-09-27 06:02] danielfromCL commented on #30947
UPDATE: after trying to install it with version 1.49.1 (which could possibly fix the error), the error still happens 😔

[2022-09-27 08:50] skflex commented on #30976
Having same issue.

[2022-09-27 13:18] tonydnewell commented on #30746
Fix submitted in PR https://github.com/grpc/grpc/pull/31133

There was ambiguity in references to `%(Source)` metadata on some items. These are now qualified to remove the ambiguity. This is what was causing the problems when there was a '@' in the path to the proto files.

Also fix the printing of the warning for 'no known outputs' - it was using the wrong item list so no file names where output.

[2022-09-27 18:46] yashykt commented on #31080
closing in favor of existing issue https://github.com/grpc/grpc/issues/20418

[2022-09-27 18:46] #31080 closed

[2022-09-27 19:19] drfloob commented on #31117
Looks like your system is OOMing, and gRPC cannot allocate. On Linux, the process may be killed by the OOM killer regardless, so aborting is probably appropriate. There could theoretically be more graceful handling when the system is out of memory, some attempts to shed unused memory in gRPC and try again, but that gets pretty complicated and error-prone. I think crashing is the right behavior.

C

[2022-09-27 19:19] #31117 closed

[2022-09-27 19:37] veblush commented on #24014
It's a bit old and would you try this with the latest version of gRPC?

[2022-09-27 19:38] veblush commented on #24332
We're not trying to remove warnings in all platforms & compilers but PRs to address this specific warning is welcome.

[2022-09-27 19:38] #24332 closed

[2022-09-27 19:39] veblush commented on #24351
Would you elaborate the issue? I don't see the problem here clearly.

[2022-09-27 19:46] yashykt commented on #31123
Closing in favor of https://github.com/grpc/grpc/issues/29185

[2022-09-27 19:46] #31123 closed

[2022-09-27 19:46] markdroth commented on #31116
Esun, can you take a look?  I suspect this problem will have gone away with your recent change to move us to `absl::Status`.

[2022-09-27 19:46] yashykt commented on #29185
@ctiller There is another reproduction provided in https://github.com/grpc/grpc/issues/31123

[2022-09-27 19:48] yashykt commented on #31122
Please provide a way to reproduce this and re-open/create a new issue

[2022-09-27 19:48] #31122 closed

[2022-09-27 19:51] veblush commented on #31081
PLEASE DO NOT POST A QUESTION HERE. This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2022-09-27 19:51] #31081 closed

[2022-09-27 19:51] yashykt commented on #31112
I'm not sure what 'changelog' you are referring to here

[2022-09-27 19:51] markdroth commented on #31082
AJ, this looks like a timer problem.  Can you please take a look?  Thanks!

[2022-09-27 19:52] yashykt commented on #31112
Are you by chance referring to https://github.com/grpc/grpc/blob/master/src/ruby/CHANGELOG.md?

[2022-09-27 19:53] veblush commented on #24963
This doesn't have enough information to investigate. If this is still the case with the latest version of gRPC, please feel free to reopen it.

[2022-09-27 19:53] #24963 closed

[2022-09-27 19:55] HannahShiSFB commented on #28390
The issue log was from last Dec, and can't be reproduced. Could we get some new logs? @stanley-cheung @apolcyn

[2022-09-27 19:55] #25125 closed

[2022-09-27 19:59] veblush commented on #25562
I believe this should be fixed by the way to handle upb in Bazel BUILD. Please feel free to reopen it if it's not fixed yet.

[2022-09-27 19:59] #25562 closed

[2022-09-27 20:48] drfloob commented on #31095
@ZhenLian I think you're most familiar with the mTLS implementations, please take a look.

@mankhakb the gRPC version distributed with Debian 8 is quite outdated, we do not support it. If possible, please try your application with the latest release and see if the problem still occurs.

[2022-09-27 21:00] carlwiedemann commented on #31112
Yes, for Ruby. Sorry for not clarifying.

I’m asking because naming breaking changes more explicit might have prevented this problem on Ruby 2.7.X https://github.com/grpc/grpc/issues/30976

[2022-09-27 22:16] xuyatian commented on #31055
I have the same problem. The deadline is set to infinity:
    auto deadline =
        grpc::g_core_codegen_interface->gpr_inf_future(GPR_CLOCK_REALTIME);
https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/completion_queue.h

[2022-09-27 23:19] justin-parus commented on #31055
@xuyatian are you using keepalives?

[2022-09-28 00:05] xuyatian commented on #31055
@justin-parus No, I did not. Does it work for you?

[2022-09-28 00:32] yashykt commented on #16585
Closing since we decided not to use github for test flakes

[2022-09-28 00:32] #16585 closed

[2022-09-28 00:34] yashykt commented on #17556
Closing since we decided not to have these on github

[2022-09-28 00:34] #17556 closed

[2022-09-28 00:40] apolcyn commented on #10403
At a glance, I think this may have been fixed by https://github.com/grpc/grpc/pull/10361

[2022-09-28 00:41] #10403 closed

[2022-09-28 00:44] yashykt commented on #21014
Closing since we decided not to have these on github

[2022-09-28 00:44] #21014 closed

[2022-09-28 00:56] #29098 closed

[2022-09-28 00:56] #28600 closed

[2022-09-28 00:56] #28533 closed

[2022-09-28 00:56] #28116 closed

[2022-09-28 00:56] #27711 closed

[2022-09-28 00:56] #27399 closed

[2022-09-28 00:56] #26924 closed

[2022-09-28 00:56] #26385 closed

[2022-09-28 00:56] #25423 closed

[2022-09-28 00:56] #25341 closed

[2022-09-28 00:56] #25218 closed

[2022-09-28 00:56] #24957 closed

[2022-09-28 00:56] #24936 closed

[2022-09-28 00:56] #24442 closed

[2022-09-28 00:56] #24277 closed

[2022-09-28 00:56] #24218 closed

[2022-09-28 00:56] #24093 closed

[2022-09-28 00:56] #24005 closed

[2022-09-28 00:56] #23822 closed

[2022-09-28 00:56] #23730 closed

[2022-09-28 00:56] #23724 closed

[2022-09-28 00:56] #23269 closed

[2022-09-28 00:56] #23055 closed

[2022-09-28 00:56] #23047 closed

[2022-09-28 00:56] #22820 closed

[2022-09-28 00:56] #22683 closed

[2022-09-28 00:56] #22623 closed

[2022-09-28 00:56] #22523 closed

[2022-09-28 00:56] #21858 closed

[2022-09-28 00:56] #20845 closed

[2022-09-28 00:56] #16134 closed

[2022-09-28 00:56] #9538 closed

[2022-09-28 00:57] #25095 closed

[2022-09-28 00:57] #25090 closed

[2022-09-28 00:58] yashykt commented on #21687
Closing since we decided not to have these on github

[2022-09-28 00:58] #21687 closed

[2022-09-28 01:03] yashykt commented on #23508
Closing since we decided not to track test flakes on github

[2022-09-28 01:03] #23508 closed

[2022-09-28 01:05] yashykt commented on #23551
Please re-open with a repro/more details if this issue still persists.

[2022-09-28 01:05] #23551 closed

[2022-09-28 01:05] #24561 closed

[2022-09-28 01:06] yashykt commented on #25229
Closing since we decided not to track test flakes on github

[2022-09-28 01:06] #25229 closed

[2022-09-28 01:07] yashykt commented on #25520
Sounds like there is nothing else to be done here

[2022-09-28 01:07] #25520 closed

[2022-09-28 01:08] yashykt commented on #26843
Closing since we decided not to track test flakes on github

[2022-09-28 01:08] #26843 closed

[2022-09-28 01:08] yashykt commented on #26734
Closing since we decided not to track test flakes on github

[2022-09-28 01:08] #26734 closed

[2022-09-28 01:12] yashykt commented on #25369
Closing since we decided not to track test flakes on github

[2022-09-28 01:12] #25369 closed

[2022-09-28 01:12] yashykt commented on #28404
Closing since we decided not to track test flakes on github

[2022-09-28 01:16] yashykt commented on #25289
Closing since we decided not to track test flakes on github

[2022-09-28 01:16] #25289 closed

[2022-09-28 01:19] #24249 closed

[2022-09-28 01:24] HHDSG commented on #31080
Is there a time to resolve this issue? The grpc version I am using is 1.36.1 and I have the same problem

[2022-09-28 02:18] justin-parus commented on #31055
I see that enabling keepalives schedules another closure, that might help... but I haven't been able to confirm since this issue only reproduces for me at scale.

It looks like the deadline also gets passed to the channel call https://github.com/grpc/grpc/blob/f69c64b2704350f261483429c5e39ac72dd90bbd/src/core/lib/surface/channel.cc#L311
but that clearly isn't working.

[2022-09-28 02:22] yashykt commented on #26045
It's been more than 30 days since "disposition/requires reporter action" was added. Please feel to re-open/create a new issue if the issue persists.

[2022-09-28 02:22] #26045 closed

[2022-09-28 02:30] yashykt commented on #25876
It's been more than 30 days since "disposition/requires reporter action" was added. Please feel to re-open/create a new issue if the issue persists.

[2022-09-28 02:30] #25876 closed

[2022-09-28 02:33] yashykt commented on #22264
It's been more than 30 days since "disposition/requires reporter action" was added. Please feel to re-open/create a new issue if the issue persists.

[2022-09-28 02:33] #22264 closed

[2022-09-28 02:43] #30299 closed

[2022-09-28 02:43] #30244 closed

[2022-09-28 02:43] #30218 closed

[2022-09-28 02:43] #30116 closed

[2022-09-28 02:44] #29983 closed

[2022-09-28 02:44] #29570 closed

[2022-09-28 02:44] #28875 closed

[2022-09-28 02:44] #28379 closed

[2022-09-28 02:44] #28150 closed

[2022-09-28 02:44] #28037 closed

[2022-09-28 02:44] #27348 closed

[2022-09-28 02:44] #25160 closed

[2022-09-28 02:44] #24319 closed

[2022-09-28 02:44] #21737 closed

[2022-09-28 08:01] HegdeRama commented on #29489
Facing the same issue with  version: `1.49.1` as well, its been more than 60 mins, still its downloading.

[2022-09-28 09:45] tonydnewell commented on #8451
@jtattermusch can close - the fix is in release v1.46.5

[2022-09-28 09:47] tonydnewell commented on #28153
@jtattermusch can close - the fix is in release v1.46.5

[2022-09-28 10:03] tducret commented on #31130
Hi @deepalakshmic !
I encountered the same problem. [This comment](https://github.com/grpc/grpc/issues/30723#issuecomment-1231809453) helped me fix the issue.
In your case, I would try :
[code]

[2022-09-28 10:29] tonydnewell commented on #22110
@amitwaisel Is this still an issue? I'm not able to reproduce it. If it is still an issue are you able to give some for details (see comment above).

[2022-09-28 10:49] mtwebster commented on #31082
Maybe related to https://github.com/grpc/grpc/issues/30428 -  polling as of 1.45+ is 2ms instead of 200ms.

In light of https://github.com/protocolbuffers/protobuf/security/advisories/GHSA-8gq9-2x98-w8hf this becomes more urgent because the recommended versions there are unusable currently.

[2022-09-28 11:09] silverwingbug commented on #31082
Hi Expert,

I0907 13:38:45.644774936 1362626 timer_generic.cc:683] TIMER CHECK SKIP: now=1666 min_timer=2667
I0907 13:38:45.644780100 1362626 timer_manager.cc:189] sleep for a 1001 milliseconds
I0907 13:38:45.644788837 1362626 timer_manager.cc:205] wait ended: was_timed:1 kicked:0

From the timestamp, we could see the timer should  wake up 1001 ms later, but actually it wake up 10us later.
May I a

[2022-09-28 11:27] j-seixas commented on #30976
Same issue with M1 Pro Apple Silicon (arm64) but on ruby 3.1.0 . Uninstalling and installing again didnt solve

[2022-09-28 18:32] larspaulsen commented on #19126
TBBle, I agree lets not try to reinvent the already proven wheel.

[2022-09-28 19:02] amirsalaar commented on #31130
this worked fine for me on 3.9.12

[2022-09-29 04:27] silverwingbug commented on #31082
We tried to downgrade to 1.43.0, still found the CPU usage increase quickly:

275933  275821  grpc_global_tim                                         275821  275806  275806  262299  UX      WAIT    UFUTEX  0-3      27.595116  /usr/lib/vmware/netopa/bin/nsx-sha-python /usr/lib/vmware/netopa/bin/agent.py
275948  275821  nsx-sha                                                 275821  275806  275806

[2022-09-29 08:54] tonydnewell commented on #24188
As a workaround - once https://github.com/grpc/grpc/issues/27099 is released (it has been merged) you will be able to use the GRPC_PROTOC_PLUGIN environment variable to point to your own plugin that is built to work on alpine.

[2022-09-29 19:05] saranshkataria commented on #30723
upgrading python version worked for me. Tested 3.10.6 and 3.9.14 and both worked fine.

[2022-09-29 19:06] saranshkataria commented on #31130
upgrading python version worked for me. Tested 3.10.6 and 3.9.14 and both worked fine.

[2022-09-29 21:29] aidanwolter3 commented on #25445
This is still something that we want, because otherwise we cannot enable tracing on Fuchsia devices. I am sorry I did not see the reply last February. Commenting here to re-open.

[2022-09-30 07:07] StefanoBettega opened #31181 "Building C++ 1.49.1 does not create grpc++*.lib files"
### What version of gRPC and what language are you using?
I'm using 1.49.1, C++

### What operating system (Linux, Windows,...) and version?
Windows 10 21H2

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019 with 2015 toolchain

### What did you do?
From VS2019 developer command prompt
cmake .. -G "Visual Studio 14 2015 Win64"
cmake --build . --co

[2022-09-30 10:30] kakaemma commented on #25082
How can I buy you a cup of coffee? you really saved me

[2022-09-30 10:36] lripoche opened #31182 "grpc_extra_deps disallows to define a version of go toolchain"
### What version of gRPC and what language are you using?
gRPC version : `1.49.1`
Go version : `1.18`

### What operating system (Linux, Windows,...) and version?
Ubuntu 22.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Go version : `1.18`
Bazel : `5.3.0`

### What did you do?

Consider following WORKSPACE file :
[code]

I want to define my own version of the

[2022-09-30 11:42] silverwingbug commented on #31082
Hi Experts,
Two questions about the expire time calculation logics:

why the seconds would minus 1 here?
https://github.com/grpc/grpc/blob/master/src/core/lib/gprpp/time.cc#L58
process_epoch_seconds = now.tv_sec - 1;

When would g_process_epoch_seconds be updated for a second time?
https://github.com/grpc/grpc/blob/master/src/core/lib/gprpp/time.cc#L77
gpr_timespec StartTime() {
int64_t sec = g_pr

[2022-09-30 13:29] #28153 closed

[2022-09-30 13:30] #8451 closed

[2022-09-30 13:30] #30817 closed, assigned to jtattermusch

[2022-09-30 13:54] StefanoBettega commented on #31181
I think the problem is related to Visual Studio required version.
We are still using VS 2015 toolchain for our project, while library requires at least VS 2017 as compiler.
So this is mostly a our issue.
Thanks for your support.

[2022-09-30 13:54] #31181 closed

[2022-09-30 16:06] paulocoutinhox opened #31185 "How to use without the server?"
Hi,

How to use without the server?

I want transfer the data to grpc thought a string, array of bytes, or something like this, like you receive from grpc server, but i will put it manually.

I need communicate from my mobile app without the server, so i will send from mobile a string or bytes, receive on cxx side, send/inject into grpc and grpc will work like it receive from grpc server.

How can

[2022-09-30 17:05] drfloob commented on #31185
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2022-09-30 17:05] #31185 closed

[2022-09-30 17:18] veblush commented on #25445
@aidanwolter3 Would you check if this issue still exists on the HEAD branch? and would you put the right link there? (it's using the master branch so its pointer wasn't fixed to the right place)

[2022-09-30 22:13] #31116 closed

[2022-10-01 08:34] silverwingbug opened #31203 "Question about how to set the condtion's clock type as CLOCK_MONOTONIC"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

We download the grpcio package, and use it in our python daemon for the GRPC related feature, and in the test, we found after the service stub is created, two timer threads would be spawned. From the strace result, we also found the condition used to control the timer interval is set with FUTEX_CLOCK_REALT

[2022-10-01 12:05] non1ckname commented on #30976
Downgrading grpc to 1.470 was the fix for me too!
Thanks

[2022-10-01 20:16] darkn3rd opened #31206 "grpc.io Not Core version not updated since v1.48.1"
### What version of gRPC and what language are you using?

[code]

### What operating system (Linux, Windows,...) and version?

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

[code]

### What did you expect to see?

The server would work and produce a Traceback.

### What did you see instead?

[code]

### Anything else we sh

[2022-10-01 20:25] gnossen commented on #31206
Yup. This is a docs bug. The latest release of grpc is compatible with protobuf 4.X and the generated code on the 1.49.x branch is only protobuf 4.X compatible.

Please try cloning with `-b v1.49.1` instead of `-b v1.49.1`

[2022-10-03 09:50] tonydnewell commented on #29331
@benfranklin79 I'm just checking on the status of this issue. Is this still a problem? You said that you managed to get it working on another box unrestricted by zscaler.

[2022-10-03 11:21] benfranklin79 commented on #29331
@tonydnewell Yes still a problem. Further investigation by another developer in the same company revealed a similar problem running the same code on a Macbook. We are starting wonder if it's still a problem to do with Zscaler. We are currently speculating that even though the Zscaler rules were switched off when we tested that it is still interferring with the traffic in some way.

[2022-10-03 12:27] tonydnewell commented on #29331
@benfranklin79 Is this discussion relevant? Fourth comment suggests configuring an SSL exception in Zscaler.
https://community.zscaler.com/t/using-zscaler-with-http-2/12291/3

[2022-10-03 13:33] serge30 commented on #31064
@gnossen Thank you for the fix!

Will be new xds-protos 0.0.12 pushed to the PyPi repository? I see only 0.0.11 version there:

https://pypi.org/project/xds-protos/

[2022-10-03 13:45] tonydnewell commented on #29480
@qifzhou Is this still a problem?
Are you able to give more details - e.g. version of IIS, version of .NET

[2022-10-03 17:26] tony-clarke-amdocs commented on #19126
@eaglexiang Your github repositories are private, so cannot see your [ServerSide](https://github.com/net-bridge/netbridge-server/blob/7b0f2c8553f63b3ad8480254c3a79d76f6316eef/grpc/grpc.go#L83)
[ClientSide](https://github.com/net-bridge/netbridge-client/blob/2d124647564c36007d840db6a83855c6ba79dbc1/grpc/init.go#L36). Can you share something publicly?

[2022-10-03 18:12] javierdev-pro18 opened #31215 "gRPC Ruby 1.48.0 Not Working on MACBOOK PRO M1 PRO ARM ARCHITECTURE"
### What version of gRPC and what language are you using?
1.48.0
### What operating system (Linux, Windows,...) and version?
Apple M1 pro
MacOS monterrey
### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby installation

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If

[2022-10-04 03:41] kovan opened #31227 "UnboundLocalError: local variable 'raw_response' referenced before assignment"
### What version of gRPC and what language are you using?

1.49.0, Python

### What operating system (Linux, Windows,...) and version?

Linux on WSL

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.10.6

### What did you do?

I have no idea.

### What did you expect to see?

I am just going to leave the stack trace.
My code is failing and maybe it has so

[2022-10-04 09:49] yashykt commented on #29520
You seem to be printing the size of the proto message. How protobuf chooses to serialize the data is something that's upto protobuf and not really something gRPC has control over. gRPC when sending the message over the wire with HTTP2 will add some framing bytes, but that doesn't seem to be what you are asking.

[2022-10-04 09:49] #29520 closed

[2022-10-04 09:55] #31203 closed

[2022-10-04 09:55] #30547 closed

[2022-10-04 09:55] #29892 closed

[2022-10-04 09:55] #29640 closed

[2022-10-04 12:14] lesnek commented on #31227
We encounter the same issue when we use graceful termination of the container.

[Here](https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/aio/_call.py#L341) in _call.py it is excepted so the raw_response was never assigned.

We didn't encounter bigger as it is at the end of termination but it could be dangerous.

Can we ask for some default value of raw_response or better exception ha

[2022-10-04 13:08] knuteriksen commented on #25082
I ran into the same problem today with the following specs:

python version: 3.10.6
grpcio version: 1.49.1
os: mac os monterey 12.6 (M1 PRO)

Solved it by uninstalling, cleaning the conda and pip cache and then reinstalling grpcio again:

[code]

[2022-10-04 13:21] tonydnewell commented on #23390
Created PR https://github.com/grpc/grpc/pull/31232 to do what was suggested in https://github.com/grpc/grpc/issues/23390#issuecomment-1216479019

[2022-10-04 14:11] xenophin commented on #30182
Same issue - any solution.  I am on Python 3.9.12 and M1

[2022-10-04 18:04] XuanWang-Amos commented on #28747
Thanks for bring this to attention and detailed steps to reproduce the issue, just created PR for to fix this.

[2022-10-04 18:14] gnossen commented on #30282
Based on the PR, this sounds like an issue with name resolution in your environment. Can you please confirm?

[2022-10-04 18:18] gnossen commented on #30182
This boils down to not having the right system packages / configuration to build the artifact from source (which is currently required on M1 when not using Rosetta). [This PR](https://github.com/grpc/grpc/pull/30316) adds instructions on how to do this.

[2022-10-04 18:18] #30182 closed

[2022-10-04 18:19] gnossen commented on #30185
@yashykt Can you please confirm the behavior in core?

[2022-10-04 18:28] gnossen commented on #30400
I think this is actually correct, though the terminology is a bit technical here. The word Iterator here is referring to [this CPython protocol](https://docs.python.org/3/c-api/iter.html), which requires only a single method: `__next__`, which `list` does not implement and is therefore not an Iterator:

[code]

Agreed that we should make this a bit clearer in the documentation though.

[2022-10-04 18:28] #30400 closed

[2022-10-04 18:29] gnossen commented on #30445
I believe this should be resolved now that we publish Python 3.11 artifacts.

[2022-10-04 18:29] #30445 closed

[2022-10-04 18:30] bobhancockg commented on #30445
I will try it tomorrow.

Bob Hancock | Google Ads API DevRel | ***@***.*** | 646-727-0741

On Tue, Oct 4, 2022 at 2:29 PM Richard Belleville ***@***.***>
wrote:

[2022-10-04 18:36] gnossen commented on #30478
[The argument you're using here is `migration_thread_pool`](https://grpc.github.io/grpc/python/grpc_asyncio.html?highlight=aio%20server#create-server). This is only used by the asyncio server for handlers that are _not_ asyncio. If your handlers are all asyncio , then you're correct that there should be no effect, because _asyncio runs on only a single thread_.

To increase performance, you'll lik

[2022-10-04 18:36] #30478 closed

[2022-10-04 18:40] gnossen commented on #30592
[code]

This looks a lot like the channel destructor was called. Can you share any code that might shed light on what's going on here?

[2022-10-04 18:43] gnossen commented on #30651
@andrewsg Can you please share reproduction instructions? Which repo should I pull? Should I just run `nox > py.test --quiet tests/system`?

[2022-10-04 18:45] gnossen commented on #30898
@markdroth Thoughts on the above?

[2022-10-04 18:47] andrewsg commented on #30651
@gnossen Thanks for your response. In order to unblock our system tests we've pinned to a stable version. I'll produce fresh repro instructions that get around this.

[2022-10-04 18:48] gnossen commented on #30908
A couple of thoughts:
- This seems to be Python 2. This is no longer supported.
- `_RPCState`, `channel._channel`, and `_handle_event` are all public APIs. Are you actually using these directly? If so, that is not supported. If not, can you please provide a reproduction that only uses public APIs?

[2022-10-04 18:50] gnossen commented on #30940
Have you tried [contextvars](https://docs.python.org/3/library/contextvars.html#asyncio-support)?

[2022-10-04 19:05] markdroth commented on #30898
I would not be opposed to exposing the `GRPC_ARG_HTTP_CONNECT_SERVER` and `GRPC_ARG_HTTP_CONNECT_HEADERS` channel args.  Note that this would be a bit of a blunt hammer in that it would set the behavior for all connections for a given channel, rather than being able to set it dynamically based on the address; the latter could be done via a proxy mapper, but that's not a public API, and I'd rather

[2022-10-04 19:06] andrewsg commented on #30651
@gnossen This bug still repros against ==1.49.0rc1 but no longer repros against the most recent version. If you'd still like to investigate, I've created a branch grpcio-repro on the python-storage repo. Repro steps:

Configure Google Cloud authentication with a cloud project. I personally use a service account key with GOOGLE_APPLICATION_CREDENTIALS env variable set, as per https://developers.goo

[2022-10-04 20:20] renevall commented on #31044
@gnossen can you clarify what does this mean? If I have a single process(say a django app) and a _pb2 file, I can't import it elsewhere?

Would this trigger if I have a messages and an events packages(where events imports messages), then my code imports both events and messages to build the event. Would this trigger what you are mentioning?

[2022-10-04 20:29] gnossen commented on #31044
The simplest example would be copying a pb2 file to two different directories and importing both of them into the same process. A simple way to check this is running `dir()`. Alternatively, add some code in the _pb2.py file to figure out which 2 files are importing it.

[2022-10-05 09:37] AMontagu commented on #31044
Hello @gnossen

Sorry I didn't see your response 13 days ago.

To answer your question I think I am not importing it twice in the same process as I launch a single test file.
But indeed the import is declared multiple time in different tests file and once dynamically for the server running.

I actually do an import like:
[code]
in the tests.

So the questions is: How I am supposed to run my tests

[2022-10-05 11:42] romanek-adam-b2c2 opened #31240 "gRPC crash in a forked process (python)"
### What version of gRPC and what language are you using?
gRPC v1.48.0
Python

### What operating system (Linux, Windows,...) and version?
macOS 12.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.5

### What did you do?
Use gRPC client in a forked process, like in a Celery worker when Celery runs in "prefork" pool mode. A gRPC call must fail for the

[2022-10-05 12:38] bobhancockg commented on #30445
It works with 3.11.0rc2!

[2022-10-05 13:07] kanevbg opened #31241 "[grpc-php] Forking thread blocked in FUTEX_WAIT_PRIVATE in PHP when grpc module is activated, enable form support by default"
By default grpc.enable_fork_support is 0.

If PHP has fork support enabled, it's better to use default of 1. Because it's bad UX for the developer to get a problem than do R&D in order to acknowledge that enabling grpc broke forking and you have to manually enable support for that.
#27724

[2022-10-05 17:10] sdimovv opened #31247 "grpcio-tools does not generate message objects"
I might be missing something so feel free to correct me and close this if this is an expected behaviour with the newer versions of grpcio-tools.

### What version of gRPC and what language are you using?
Python, grpcio-tools==1.49.1, grpcio==1.49.1

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
p

[2022-10-05 17:21] gnossen commented on #31247
Duplicate of https://github.com/grpc/grpc/issues/31097.

This is working as intended. 1.49.1 pulls in a breaking change in the Python Protobuf generated code. You'll notice that `grpcio-tools` now has a dependency on `protobuf>=4.21.6,<5.0dev` whereas `1.47.0`'s range was `protobuf>=3.12.0, < 4.0dev`.

Please reopen this issue if you have any problems running the new generated code with `protobuf>

[2022-10-05 17:21] #31247 closed

[2022-10-05 17:36] gnossen commented on #31044
You should be able to do do this so long as the `_pb2.py` file is imported from the same module path, which should be the case if there is only one `_pb2.py` file and there is nothing odd with your `sys.path`. This is the normal case for Python module loading and it's idempotent. For example,

[code]

will only actually run the module-level code for `helloworld_pb2` once. However, if you have

[co

[2022-10-05 18:10] AMontagu commented on #31044
I confirm you that all the import are from the same module path:

![Capture d’écran de 2022-10-05 20-09-58](https://user-images.githubusercontent.com/11883225/194131610-de57bdf1-fbcc-4513-bdc8-0e29c0fd6a03.png)

[2022-10-05 18:24] gnossen commented on #31044
I'd suggest that you add some code to the `_pb2.py` file to log a stack trace to figure out why the module-level code is being run twice then. The usage of `importlib` sounds like it's quite likely the culprit.

[2022-10-05 21:41] sdimovv commented on #31247
I see. Thanks.

Could you please provide me with a tutorial on how to create a simple client-server application with the new workflow?

[2022-10-05 21:46] gnossen commented on #31247
The workflow should be the same. Please see [the greeter example](https://github.com/grpc/grpc/blob/master/examples/python/helloworld/greeter_client.py).

[2022-10-05 21:57] sdimovv commented on #31247
If I understand correctly, the messages are now generated as `helloworld_pb2.pyi` but I do not get such a file when I generate with the following command:

[code]

[2022-10-05 22:00] gnossen commented on #31247
Ah, I see the confusion here. The issue isn't that message objects aren't getting generated, it's that _type information_ is now split out into a separate file.

The `.pyi` files only include type information. You'll need to use [the `--pyi_out` flag](https://github.com/grpc/grpc/blob/8cffd1044ea2e19760942347b54068decd45118a/examples/python/Makefile#L71) (same value as `--python_out`). I'll make s

[2022-10-05 22:04] sdimovv commented on #31247
Ah that makes sense.

Thanks.

[2022-10-05 23:20] Korolen commented on #25082
I couldn't get anything working, with the environment variables still leaving me with

[code]

when trying to `import grpc`.

`conda install -c conda-forge grpc` gave me

[code]

Installing the binary wheel from the latest artifact at https://github.com/pietrodn/grpcio-mac-arm-build/actions by downloading it and

[code]

worked a treat. Thank you so much!! <3

[2022-10-06 07:40] jrgoulet commented on #25082
Confirming python 3.10.6 works on Monterey 12.5 with no env vars set. 3.9 did not seem to work for me with any of the incantations above.

[2022-10-06 15:36] rutsky commented on #30613
Perhaps setting `Authorization` header through `--metadata` would work?

[code]

[2022-10-06 16:19] kovan commented on #31227
I updated to version 0.49.1 of Python gRPC package, and same thing happens.

Looks like it happens when an operation is in some kind of waiting or pending state and it gets cancelled.
This is a guess only, not a final diagnosis.

[2022-10-06 18:45] apolcyn commented on #22816
Considering that this has been fixed, I'll close the issue.

I can't point to *the* fix myself right now, but there have been significant changes affecting the c-ares build since this was filed - for example https://github.com/grpc/grpc/pull/28671https://github.com/grpc/grpc/pull/28671

[2022-10-06 18:45] #22816 closed

[2022-10-06 19:06] sneamonitakis commented on #30976
Unfortunately, this is not a viable solution as another dependency is relying on 1.48.0

Has anyone had any luck?

[2022-10-06 19:28] eregon commented on #30976
https://github.com/grpc/grpc/pull/31151 fixes this (not merged yet).

[2022-10-07 07:25] wqh17101 commented on #30015
@lidizheng What do you think of this problem

[2022-10-07 15:48] aaron-michaux commented on #25562
@veblush , for those stuck on older versions (I'm on 1.46.3), what is the principled work around?

[2022-10-07 18:00] veblush commented on #25562
@aaron-michaux As suggested by the author of this issue, you can try adding both the //:google_api_upb and //:google_api_upbdefs targets to the grpc target. I'm not sure it will solve it but it's worth try.

[2022-10-08 03:36] smolkaj opened #31296 "mock_stream.h is not externally visible when using Bazel"
### What version of gRPC and what language are you using?
v1.49.1, C++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
LLVM / gcc with Bazel

### What did you do?
Depend on the target `@com_github_grpc_grpc//:grpc++_test` in my `BUILD.bazel` file, see screenshot.

### What did you expect to see?
F

[2022-10-08 03:37] smolkaj commented on #31296
@jonathan-dilorenzo for visibility

[2022-10-08 07:33] stanhu commented on #24249
Yes, it does. To be clear, this works on Debian `buster` (as well as other platforms):

[code]

Note that Debian `bullseye` [changed the default linker flags to use `--as-needed`](https://github.com/ruby/ruby/pull/4627#issuecomment-875062260). As [explained in this Wiki page](https://wiki.gentoo.org/wiki/Project:Quality_Assurance/As-needed):

If you attempt to use `--with-ldflags=-latomic` with Ru

[2022-10-08 09:35] jinyunshaobing opened #31297 "ModuleNotFoundError in python"
I generated 'xx_pb2_grpc.py' and 'xx_pb2.py'.
`ModuleNotFoundError: No module named 'xx_pb2' happened in xx_pb2_grpc.py`
I tried to change `import xx_pb2 as xx__pb2` to `from . import xx_pb2 as xx__pb2` but it didn't solve this problem.
Can anyone help me? thx!

[2022-10-08 09:37] #31297 closed

[2022-10-09 16:57] MohammadArik commented on #24884
Running a sort of infinite while loop seems like a very inefficient. The task can be easily achieved by conditional variables. Here is my more efficient approach...
[code]

[2022-10-10 00:50] deepalakshmic commented on #31130
Thanks for the recommendation. Uninstalling pyenv and re-installing worked for me.

[2022-10-10 00:51] #31130 closed

[2022-10-10 00:52] deepalakshmic commented on #31130
Following the recommendation in the comment helped me. I uninstalled the pyenv and re-installed and it fixed the issue,

[2022-10-10 04:57] Anmol92verma commented on #31215
Same problem here! Do we have any update on this ?

[2022-10-10 08:06] anonymum404 opened #31302 "grpcio 1.46.3 failed to build on arm64 centos7"
### What version of gRPC and what language are you using?
    grpcio==1.46.3
    python==3.6.4

### What operating system (Linux, Windows,...) and version?
`arm64v8/centos:centos7.9.2009` from docker harbor

### What runtime / compiler are you using (e.g. python version or version of gcc)
    Python 3.6.4 (default, Oct 10 2022, 05:58:03)
    [GCC 4.8.5 20150623 (Red Hat 4.8.5-44)] on linux

### Wh

[2022-10-10 11:59] javierdev-pro18 commented on #31215
@apolcyn please can you give us any update on this!

[2022-10-10 19:41] Mekk commented on #21838
Not sure who can reopen (I can't).

I still use workaround described above.

[2022-10-11 04:05] gmadanreddy opened #31313 "Supporting PEM passphrase in grpc core."
Supporting PEM passphrase in grpc core is something worth doing. But it is not high priority for us and we do not have resource. We could either have interns to implement, or feel free to implement yourself and contribute.

_Originally posted by @jiangtaoli2016 in https://github.com/grpc/grpc/issues/14216#issuecomment-386646208_

[2022-10-11 04:07] gmadanreddy commented on #31313
Any update on supporting the pem passphrase in grpc c core?

[2022-10-11 07:27] ctiller commented on #29107
It would probably be good to do this as something that doesn't require a
socket mutator: that interface isn't actually public nor supported - and
we'll probably eagerly break it soon. I expect being able to specify a
channel arg to select the outgoing interface would be a huge boon to many
folks though, so let's get that standardized.

On Tue, Mar 29, 2022 at 3:27 PM Richard Belleville ***@***.***

[2022-10-11 08:28] IgorV-fp commented on #28831
Hi,

the issue described here: https://github.com/grpc/grpc/issues/28831

Shortly, on any platform where clang is used as compiler - add address sanitizer feature use in debug mode.

Then run clent/server example or any code which send/receive  protobuf messages and crash will be appear.

As for our company, I disable clang sanitizer feature for our shared library which build with grpc (we use grp

[2022-10-11 11:53] tomersh26 commented on #30979
Is there any chance you can port this fix also to Grpc.Core package where this issue was found?
The impact of these traces is significant, and the fix is pretty simple and has a very low risk.
Here is a simple benchmark test that we ran, comparing WCF vs Grpc.Core, by running 19 different queries sequentially, with a parallelism of 50 users (which is fairly low based on the size of the cluster and

[2022-10-11 13:45] #30692 closed

[2022-10-11 14:05] jtattermusch commented on #29237
While I agree with the sentiment that property getters should not throw, I don't quite understand how you'd get from handling RpcException to an exception being raised while reading the metadata.
- When reading the metadata entries from RpcException.Trailers (or from anywhere else), you need to consult  `metadataEntry.IsBinary` ([here](https://github.com/grpc/grpc-dotnet/blob/ad67dc8d27eb2738f4a7c

[2022-10-11 14:05] #29237 closed

[2022-10-11 14:07] #29086 closed

[2022-10-11 14:08] #28870 closed

[2022-10-11 14:18] jtattermusch commented on #25953
Based on https://github.com/grpc/grpc/issues/28403#issuecomment-1216366570, the slow resolution of netbios names might something that's windows-related, not really a problem with gRPC itself.

Since you mentioned that using FQDN solves the problem (and that seems to be the workaround in case of https://github.com/grpc/grpc/issues/28403) as well, I'd say let's use that workaround.

We'd need to kno

[2022-10-11 14:21] jtattermusch commented on #25252
@tonydnewell  can you please take a look?  (also note that it looks somewhat similar to https://github.com/grpc/grpc/issues/25953).

[2022-10-11 14:24] jtattermusch commented on #23390
Should be fixed by https://github.com/grpc/grpc/pull/31232. It will be in the next patch release of 2.46.x

[2022-10-11 14:24] #23390 closed

[2022-10-11 14:27] jtattermusch commented on #24035
Since Grpc.Core is now in maintenance mode (see https://groups.google.com/g/grpc-io/c/OTj5mb1qzb0), I don't see a point in adding this functionality now. If this is something that will be needed in grpc-dotnet, we can open an issue there (the API for creating a channel is different in grpc-dotnet and this issue is specific to Grpc.Core).

[2022-10-11 14:27] #24035 closed

[2022-10-11 14:29] jtattermusch commented on #23001
@tonydnewell  can you please take a look and suggest the best next steps here?

[2022-10-11 14:29] #22878 closed

[2022-10-11 14:32] jtattermusch commented on #17761
https://github.com/grpc/grpc/pull/30523 added a test that verifies that this issue has indeed been fixed (and it looks like it's been fixed starting from ~2.31.0 release)

[2022-10-11 14:32] #17761 closed

[2022-10-11 14:36] jtattermusch commented on #27066
@tonydnewell  can you please take a look?

[2022-10-11 14:37] jtattermusch commented on #26443
@tonydnewell  can you please take a look?

[2022-10-11 17:53] anshuman-goel opened #31316 "clang-analyzer-core.StackAddressEscape in third_party/grpc/src/src/cpp/client/channel_cc.cc"
The bug was initially filed in chromium ([1360555](https://bugs.chromium.org/p/chromium/issues/detail?id=1360555)). It was directed to create a bug here:

File: [third_party/grpc/src/src/cpp/client/channel_cc.cc](https://source.chromium.org/chromium/chromium/src/+/main:third_party/grpc/src/src/cpp/client/channel_cc.cc;l=84?q=third_party%2Fgrpc%2Fsrc%2Fsrc%2Fcpp%2Fclient%2Fchannel_cc.cc&ss=chromium

[2022-10-11 17:56] veblush commented on #31182
Richard, would you take a look at this?

[2022-10-11 18:34] veblush commented on #30428
Yeah this could be caused by dropping `epollex` happened in the past but it's not clear whether it actually introduced 17% overhead on the client (surprisingly your perf data showed that server load decreased) Anyway we're going to revamp this system by introducing this new [EventEngine](https://github.com/grpc/proposal/search?q=Event+Engine&type=issues). In the meantime, would you check whether t

[2022-10-11 18:35] veblush commented on #29984
I guess https://github.com/grpc/grpc/issues/30118 fixed ths issue.

[2022-10-11 18:35] #29984 closed

[2022-10-11 19:42] yashykt commented on #31082
Echoing Esun's comment from the other issue -
[code]
We are not yet sure if the two issues are related, but it is worth a shot.

[2022-10-11 19:53] veblush commented on #29843
@dconeybe Isn't the case where an instance enclosing gRPC objects is statically created?

[2022-10-11 19:54] yashykt commented on #29836
This is working as expected. Even if the server API does not request for RPCs, the transport will still buffer the requests. One way to put a limit to how much gRPC would buffer is to set memory limits via ResourceQuota.

[2022-10-11 19:54] #29836 closed

[2022-10-11 19:57] yashykt commented on #28831
That is surprising. We do run our tests with sanitizers enabled too and we haven't seen this.
Again, please feel free to send a pull request for this.

[2022-10-11 19:59] yashykt commented on #28831
Without understanding how this crash/asan error is being produced, we wouldn't be able to put out a fix ourselves.

[2022-10-11 19:59] #28831 closed

[2022-10-11 20:33] mtwebster commented on #30428
Interesting - 200ms with or without on 1.44.0:

[code]

[code]

So I guess some regression from the actual epollex removal?

[2022-10-11 22:52] orzel commented on #24884
[code]

Hi @MohammadArik, thanks for your input.

I'm not familiar with those conditional variables. But according to [cppreference](https://en.cppreference.com/w/cpp/thread/condition_variable), you should also acquire a mutex in `handle_signal` before modifying the variable. Which makes sense, your mutex was used in only one place, quite useless, isn't it ?

So i have this now, and it kinda seems

[2022-10-12 02:28] anonymum404 commented on #31302
Can't reproduce

[2022-10-12 02:28] #31302 closed

[2022-10-12 05:08] MohammadArik commented on #24884
It's actually not necessary as the could have be done without mutex. There is no scope of data-race. Using the mutex just to use condition_variable as the wait method requires a unique_lock. So not required...

[2022-10-12 07:27] tawrelkate commented on #31215
Have the same problem. Any updates here?
----
1.49.0 and 1.48.0 versions
MacOS monterrey

[2022-10-12 07:28] Anmol92verma commented on #31215
worked for me with xcode 13.0 on monterey!

[2022-10-12 08:38] zhenomansh commented on #29854
@jtattermusch, finally I have managed to collect the info from production :)

        public ClientSideStatus GetReceivedStatusOnClient()
        {
            StatusCode statusCode = StatusCode.Unknown;
            int detailsLengthInt = -123;
            try
            {
                statusCode = Native.grpcsharp_batch_context_recv_status_on_client_status(this);

                UIntPtr deta

[2022-10-12 11:14] tonydnewell commented on #29854
@zhenomansh thank you. Is there any chance you could modify the code for `GetReceivedStatusOnClient` to give a few more details in the exception message? Things that would be useful are:
- Int64 value of detailsPtr , e.g. `detailsPtr.toInt64()` - so can check it isn't zero or some other strange value etc
- value of `detailsPtr.Size` - so we know if it is 4 (32 bit) or 8 (64 bit)
- hex string of du

[2022-10-12 11:28] qing666888 commented on #29696
I also have the same problem with the x86 version of grpc v1.49.0
![1665574050445](https://user-images.githubusercontent.com/5969529/195331056-a911f815-87f1-4e8e-96bc-a1751d00a83a.png)

[2022-10-12 11:47] serge30 opened #31328 "xds-protos 0.0.12 is not published to pypi.org"
gRPC Team,

Recently #31064 has been fixed and new 0.0.12 version introduced. But I see only 0.0.11 on https://pypi.org/project/xds-protos/

Will be new `xds-protos` 0.0.12 pushed to the PyPi repository?

[2022-10-12 18:02] vmilea opened #31334 "Undefined behavior in BoringSSL-GRPC"
### What version of gRPC and what language are you using?

gRPC-Core 1.49, Objective-C

### What operating system (Linux, Windows,...) and version?

iOS 15

### What runtime / compiler are you using (e.g. python version or version of gcc)

Apple clang version 14.0.0 (clang-1400.0.29.102)

### What did you do?

Tried using GRPC with Clang's Undefined Behavior Sanitizer enabled.

### What did you ex

[2022-10-12 18:40] tonydnewell commented on #25953
Nothing obvious from the provided logs.

Theory which I need to test, and for which I might not have enough information to confirm:
- c-ares does not do NetBIOS lookups - only DNS lookups
- simple name being looked up not in DNS (but fqdn is)
- c-ares treats a lookup failure as a temporary failure and gets into a permanent retry loop

[2022-10-12 19:03] mortie opened #31336 "Shouldn't the pkg-config file list re2 and cares as dependencies?"
The pkg-config files generated by the build script (grpc.pc, grpc++.pc) don't list re2 and libcares as dependencies, even though they are. The pkg-config files only add `-lre2` and `-lcares` to LDFLAGS through `Libs`. On systems where libre2 and libcares happen to be in the default library search path, this happens to work, but on systems where they're anywhere else, it breaks.

### What version o

[2022-10-12 19:25] allyn-psyonix commented on #29237
It happens during serialization, in our case for logging purposes. When the exception is serialized this property is read and the exception is thrown. This happens during logging, so it's outside the normal exception handling scopes, which is why it's so dangerous.

Personally I would consider this a big enough risk that it should be addressed. It risks occurring outside normal exception handling

[2022-10-12 23:48] ziyi-yang8 commented on #31215
1.49.1 and 1.48.0 are not working.  @apolcyn any updates?

[2022-10-13 09:55] tonydnewell commented on #29854
@zhenomansh I've created a draft PR with additional debug info in `GetReceivedStatusOnClient()`
https://github.com/grpc/grpc/pull/31343

[code]

[2022-10-13 12:15] Danliran opened #31344 "SIGSEGV (null pointer dereference) when create channel with TLS on ARM server"
### What version of gRPC and what language are you using?

1.36.1
### What operating system (Linux, Windows,...) and version?
linux
ARM server

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3.0

### What did you do?

we occur  Segmentation fault when we used grpc c++ with TLS.  I used  RPC call to send some messge to another server, at begining it work fin

[2022-10-13 12:47] orzel commented on #24884
Oh, you think ? That's because `shutdown_required` can only be modified in one place, and only once, anyway ?

[2022-10-13 12:58] tonydnewell commented on #25252
@jwfx @jtattermusch
I can reproduce this on my local Windows machine. However I think this is not a gRPC problem - it is a problem in a badly configured environment.

Basically the c-ares resolver only does DNS lookups. It does not do netbios lookups. If you want netbios lookups then use the native resolver.

To fix the environment for c-ares:
 - add the host information to the DNS server
 - or ad

[2022-10-13 13:13] tonydnewell commented on #25953
@roitenen1981  I can confirm the theory in my comment above with the same tests I did for https://github.com/grpc/grpc/issues/25252

However I do not know if this is what you are seeing. I would need to know more about you environment. Are the netbios names also in DNS? Do the hanging machines ever connect? Are you able to provide longer log files that covers the hang and successful connection?

[2022-10-13 14:06] slinkydeveloper commented on #30565
Same here, I'm working on a gRPC server implementation at the moment that it's supposed to interoperate with grpc-web as well, and I would like to have a formalized grpc-web spec I can follow. I also see there is some movement in this space, as people at Buf are already working on something like that: https://connect.build/docs/protocol

[2022-10-13 15:12] vjpai commented on #24884
I haven't responded to this thread despite being tagged since I'm not in gRPC anymore, but I feel strongly about data races so I wanted to put this out there.  The suggestion about dropping the mutex is not correct because the resulting code snippet has a race on it between the write of `shutdown_required` in your `handle_signal` code, and the read in the CV predicate (even though that has a lock)

[2022-10-13 15:18] vjpai commented on #24884
And, to clarify that I'm not just in the doom and gloom business, you can solve some of this using `atomic`. In most systems, `atomic<bool>` is mutex-free (I've never seen any to the contrary) and you can `static_assert` that in your code so that any system to the contrary will fail to build. Or if you're on C++20, you can `wait` on an `atomic_flag` which is always mutex-free (that class exists in

[2022-10-13 16:26] jwfx commented on #25252
I understand your point and I agree that Microsoft has more than one questionable default configuration and behavior, but I doubt there will be much movement on that end...

I think being able to connect to your own machine name should just work out of the box, without having to change Windows default settings. The machine could even be completely without network and it should _just_ work.

If c-a

[2022-10-13 17:45] gnossen commented on #31328
Duplicate of https://github.com/grpc/grpc/issues/31064

[2022-10-13 17:53] tonydnewell commented on #25252
If all that you want to do is talk to the local machine then "localhost" will work.

If you want other machines to talk to this machine then DNS needs to be configured correctly.

I can't see the scenario where you want to talk the the local machine by its name but no one else can talk to the machine by its name (because its not in DNS) but you don't want to use "localhost".

I agree c-ares _could

[2022-10-14 02:58] mkzpd opened #31354 "Failure to build gRPC to static link library on macOS"
### What version of gRPC and what language are you using?

v1.22.x
### What operating system (Linux, Windows,...) and version?

macOS Monterey version 12.6
### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
details is below link:
[https://stackoverflow.com/questions/74056316/how-to-build-grpc-to-static-link-library-on-macos](url)

### Wha

[2022-10-14 05:36] MohammadArik commented on #24884
Yes the atomic var. with wait is better. I missed it. Thanks @vjpai

[2022-10-14 06:38] asthamohta opened #31355 "Application stuck due to infinite loop in library"
### What version of gRPC and what language are you using?
1.47.0

### What operating system (Linux, Windows,...) and version?
macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informati

[2022-10-14 11:06] AshfaqurIntel opened #31356 "Update zlib version to 1.2.13 to mitigate CVE-2022-37434"
### Is your feature request related to a problem? Please describe.
grpcio 1.49.1 contains zlib v1.2.12 which contains CVE-2022-37434

### Describe the solution you'd like
To mitigate update zlib to[ v1.2.13](https://github.com/madler/zlib/releases/tag/v1.2.13)

[2022-10-14 11:13] mlappo commented on #31356
Should be as easy as updating one submodule...

[2022-10-14 12:49] jtattermusch commented on #25252
@apolcyn  would be the right person to answer that.

[2022-10-14 14:19] tonydnewell commented on #25252
Summary for clarification

Problem:
Using the default c-ares resolver on Windows does not resolve names that are netbios names and not in DNS. E.g. the local machine name is not resolved unless it is also specified in DNS (or local hosts file).

Note - this is not C# specific

Workarounds:
- use the native resolver
- add the name to DNS
- add the name to the local hosts file
- use "localhost"

Pos

[2022-10-14 15:04] springile opened #31360 "Calling TryCancel of SrverContext causes Segment fault"
### What version of gRPC and what language are you using?
1.47

### What operating system (Linux, Windows,...) and version?
CentOS 7.9

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informati

[2022-10-14 16:54] gnossen commented on #31355
Can you please provide some more information on how to reproduce the issue? The `_common.wait` function is used pervasively throughout the stack. As you can see, the condition waited on is pluggable. Without knowing the condition that is never evaluating to `True`, we can't really come to any conclusions here.

[2022-10-14 20:51] joshuagruenstein commented on #14101
I'm expressing interest for this as well for the purpose of firewall-punching.  I know many teams that use VPNs to get around this that would greatly appreciate this as a far simpler alternative.

[2022-10-14 23:30] gitpushdashf commented on #27512
Also running into this on Apple M1. x86_64 musllinux grpcio wheels were working great for me, but on M1 there's no wheel.

[2022-10-15 04:24] rromanchuk commented on #31215
Went  backwards until I could compile, ended up at `gem 'grpc', '1.47.0'`

[2022-10-15 04:46] yongfook commented on #31215
Can confirm this also worked for me 👍

[2022-10-15 16:20] teabuff commented on #31182
I am also curious what is the best practices here when meet such a conflicts (use go_register_toolchains multiple times). https://github.com/bazelbuild/rules_go/issues/2761 mentioned a workaround that use go_download_sdk and unset version in go_register_toolchains. However, that still requires remove the version of go_register_toolchains in grpc/bazel/grpc_extra_deps.bzl.

For now, I simply create

[2022-10-15 22:07] SamuelMarks commented on #30272
@gnossen Technically mine was 3 days earlier and on 3.11.0b3 not 3.11.0b4. But yes, they are duplicates… his of mine.

[2022-10-16 11:27] lixin-wei commented on #29836
@yashykt Thank your for your reply but ResourceQuota can't solve my problem. See this disucssion: https://groups.google.com/g/grpc-io/c/9GpwvQiB9uk/m/Hn-o3-5oAQAJ

So if I understand correctly, it's a problem for ResourceQuota now? Do you know who is responsible for this feature? Would you please help me to ping him and make ResourceQuota able to track this memory? Thanks.

[2022-10-17 07:07] zhenomansh commented on #29854
@tonydnewell
here it is:

statusCode=Unknown,
detailsLength=14,
detailsPtrInt=210233972,
detailsMessage=0x18 B4 9B 0A 38 2F FF 07 40 4D 5C 00 90 4D

[2022-10-17 08:12] HaiKonofanDesu opened #31377 "gRPC with HoloLens 2"
Hey there,

I want to use grpc for a HoloLens app I'm currently developing. Sadly HoloLens 2 throws a lot of errors when I try to run it there

All tutorials like https://github.com/grpc/grpc/issues/20344#issuecomment-561559557 or https://github.com/grpc/grpc/issues/23488#issuecomment-690766560 say I need to build grpc_csharp_ext. which I can't find probably because of the split to grpc-dotnet. So

[2022-10-17 09:00] jtattermusch commented on #31377
@tonydnewell

[2022-10-17 09:56] hellofinch opened #31378 "Why not support RDMA?"
I use [Ray](https://github.com/ray-project/ray), a unified framework for scaling AI and Python applications, in an HPC cluster. Ray is based on gRPC. The cluster I used has InfiniBand which has low latency and high bandwidth. I try to use IPoIB(Internet Protocol over InfiniBand). But in this way, I can not make full use of IB's bandwidth.
I want to optimize Ray on an HPC cluster with InfiniBand. R

[2022-10-17 10:27] tonydnewell commented on #29854
@zhenomansh thank you for the update.

The data does look totally random - not UTF-8 or ASCII. This might be because memory is being re-used after freeing or some other memory corruption.  I'll continue to look at the grpc core code to see if there is anything obvious, but without being able to easily reproduce the problem it is going to be difficult to diagnose.

Does your application have any ot

[2022-10-17 10:40] zhenomansh commented on #29854
@tonydnewell, I tried to test the data and the Encoding.GetString method works fine with data examples above, however it doesn't look like a text.
So, may be, the problem is in pointers?

The app is quite big, but it doesn't use unmanaged code at all. I has several links to external dlls, however, they all work for many years and no memory problems have been met so far.

The bug is happening on di

[2022-10-17 13:10] tonydnewell commented on #31377
@HaiKonofanDesu C# on Grpc.Core is currently in maintenance mode: https://grpc.io/blog/grpc-csharp-future/ thus the support for Unity (which was always experimental) has stopped.

You can find the old Grpc.Core implementation in the v1.46.x branch: https://github.com/grpc/grpc/tree/v1.46.x/src/csharp
and information for building Unity: https://github.com/grpc/grpc/tree/v1.46.x/src/csharp/experimen

[2022-10-17 15:11] jtattermusch commented on #29854
The fix will be accepted as soon as we have a reasonable fix and once we have a better understanding of what's actually going on. The problem with the current "fix" is that it simply add some extra handling where in theory we should never see  a problem - and blindly accepting a fix that gets rid of a suspiciously odd situation by papering over it IMHO isn't a very good strategy.  We need to under

[2022-10-17 23:50] elementljarredc commented on #25082
Would it be fair to say that this issue is not resolved? Should there be another one opened, or this one perhaps? We've got OSS users that encounter this problem somewhat regularly

[2022-10-18 00:00] #31378 closed

[2022-10-18 00:00] #31377 closed

[2022-10-18 00:16] connorsoohoo1 commented on #23072
Any update here? I'm also running into this

[2022-10-18 06:47] HaiKonofanDesu commented on #31377
@tonydnewell I installed Ninja as needed to run

But I get this error when I try it with the 1.46 branch. Any ideas?
[code]

[2022-10-18 07:09] zhenomansh commented on #29854
@jtattermusch, I believe there are two different problems.

One is, probably, related to the native source code, or other low-level part (driver, Windows etc.)
However we see the problem quite rare, and in general it doesn't affect the reliability of communication, as any communication could become unstable due to wiring/signal reasons.

The second one, is the critical mistake in this Grpc.Core.In

[2022-10-18 09:19] tonydnewell commented on #29854
@zhenomansh I understand your frustration. I will revisit my fix to add the missing resource clean up but that won't be this week. Also not being able reproduce the problem makes it difficult for me to test any fix.

We do need to get a better understanding of what is happening. Are you able to describe in high level terms how your application uses gRPC and the environment it is running it? Anythi

[2022-10-18 09:29] AshfaqurIntel commented on #31356
Related PR https://github.com/grpc/grpc/pull/31357
However its stuck because of no labels...

[2022-10-18 10:15] tonydnewell commented on #25252
I've created a PR to update the documentation for the resolvers
https://github.com/grpc/grpc/pull/31385

[2022-10-18 10:36] zhenomansh commented on #29854
@tonydnewell, sure :)

Our solution is about collecting telemetry on ore mining sites, underground, around a world.
gRPC is used as the only low-level transport, wrapped by our high-level code.
We have plenty of calls to microservices from different client apps which are desktop apps or on-board apps on underground equipment (trucks, loaders etc.). All Windows-based (.Net Framework 4.7).
We never

[2022-10-18 17:13] #30387 closed

[2022-10-18 19:37] yashykt commented on #31360
Please re-open or create a new issue with a reproduction for this. (Can't do much without one)

[2022-10-18 19:37] #31360 closed

[2022-10-18 21:19] connorsoohoo1 commented on #23072
For any future viewers, I found a workaround to the static 2 second client startup time by changing the IP address from `localhost` to `127.0.0.1`. Don't really know why removing the DNS lookup shaves this 2 seconds, but hope this can unblock folks in the future

[2022-10-19 05:46] asthamohta commented on #31355
We are actually directly using iterator functionality in python which causes the issue.
When running a long running update function in Google Spanner, called using this function:
https://github.com/googleapis/python-spanner/blob/main/google/cloud/spanner_v1/database.py#L487
Code is stuck on this line: https://github.com/googleapis/python-spanner/blob/main/google/cloud/spanner_v1/snapshot.py#L62

T

[2022-10-19 05:56] drfloob commented on #31356
Thank you for this, I've left comments on the PR.

[2022-10-19 10:35] HaiKonofanDesu commented on #31377
Thanks for the reply. I got to the point where I can now build my grpc.sln and get a  grpc_csharp_ext.dll but I don't understand how I can generate a new Grpc.Corde.dll

[2022-10-19 11:01] eladmaimoni opened #31398 "GRPC Completion Queue documentation lacks documentation on ordering"
As described on my [SO question](https://stackoverflow.com/questions/73957435/why-grpc-client-side-cancellation-only-works-when-both-client-and-server-run-on) and in this [blog post](https://www.gresearch.co.uk/blog/article/lessons-learnt-from-writing-asynchronous-streaming-grpc-services-in-c/) there can be situations where the completion tags that are dequeued from `grpc::CompletionQueue` are not

[2022-10-19 11:20] miklelappo commented on #31356
@drfloob, I updated the PR. The only thing I couldn't make for now is sync to Google cloud... not sure if I have correct permissions for this

[2022-10-19 16:45] rockspore commented on #18111
This test has been failing for about a week again with the same error log. For example: https://source.cloud.google.com/results/invocations/6a70fbad-1029-4fad-b80a-f930ab46f5f2/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_alts/log

[2022-10-19 17:02] rockspore opened #31401 "[FLAKE] Portability Tests Windows failure"
https://source.cloud.google.com/results/invocations/0f2f153b-5444-445a-a8ba-6e6eae384cda/targets;collapsed=/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_portability_build_only/log

Sample log:
[code]

[2022-10-19 17:15] chanchn commented on #29706
seeing this issue as well, but starting at `v1.48.0`

[2022-10-19 17:37] drfloob commented on #20193
I believe the main limitation here was the range of bazel versions that gRPC supports. We supported 3.x until recently, so a handful of bazel features, including repo_mapping, were not available to us. We now only support bazel 4.x and above (see https://github.com/grpc/grpc/blob/master/doc/bazel_support.md), so this might be feasible.

Reassigning to @veblush

[2022-10-19 17:38] drfloob commented on #27792
Closing this since no updates have been given in about a year.

[2022-10-19 17:38] #27792 closed

[2022-10-19 17:43] drfloob commented on #25176
@veblush @jtattermusch I believe this cmake issue is related to #25176. If so, feel free to deduplicate the issues.

[2022-10-19 17:47] carlocab commented on #25176
Thanks for having a look, but I think we've managed to resolve/work around this issue on our side since then.

[2022-10-19 17:47] #25176 closed

[2022-10-19 17:55] drfloob commented on #29696
Based on the screenshots provided, I believe this is a duplicate of https://github.com/grpc/grpc/issues/29979, regarding a visual studio bug with certain non-English locales. It seems the fix was incomplete, since it landed in the 1.47.x versions and later. The visual studio build configuration likely needs to be modified to build with `/utf-8`. If anyone would like to experiment and propose a fix

[2022-10-19 18:15] #30581 closed

[2022-10-19 19:21] drfloob commented on #20049
Regarding the iomgr issue, the lifetime contract isn't terribly clear. We could fix that, but this code is being deleted.

Regarding EventEngine, we have discussed two main options:
1. EventEngines will be kept alive until all timers and run-closures are executed or cancelled, or
1. It will be invalid usage and undefined behavior if an engine has pending timers/closures exist at time of engine des

[2022-10-19 19:57] weyus commented on #30976
This also fails for me on a M2 chip (which makes sense).

The lines from the bugfix above are present in the `extconf.rb` file for v. 1.48.0, here: https://github.com/grpc/grpc/blob/d2054ec6c6e8abcecf0e24b0b4ee75035d80c3cc/src/ruby/ext/grpc/extconf.rb#L114-L117

so not sure that that is the fix.

[2022-10-19 21:12] apolcyn commented on #29706
@ctiller it looks like https://github.com/grpc/grpc/pull/28204 starting logging an error on these kinds of unexpected content-type headers. From what I can tell, we weren't logging an error before.

@ctiller what do you think about lowering that to INFO? I want to say that right now, any error generated by GFE will have such content-type and result in this log.

[2022-10-19 21:12] apolcyn commented on #29706
cc @yashykt

[2022-10-19 21:36] springile commented on #31360
@yashykt ,

This is the simple unit test.

TEST(ServerContextTest, TryCancelTest) {
    grpc::ServerContext mock_context;

    mock_context.TryCancel();
}

[2022-10-19 21:41] springile opened #31403 "TryCancel crashes with segment fault."
### What version of gRPC and what language are you using?

1.47
### What operating system (Linux, Windows,...) and version?

CenOS 7.9
### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 7.3
### What did you do?

TEST(ServerContextTest, TryCancelTest) {
    grpc::ServerContext mock_context;

    mock_context.TryCancel();
}

### What did you expect to see?
it shou

[2022-10-20 08:42] tonydnewell commented on #25252
@jtattermusch I suggest we close this with no fix planned as the documentation has now been updated for NetBIOS support:
https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

[2022-10-20 08:49] tonydnewell commented on #25953
@roitenen1981 NetBIOS support is now documented: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

@jtattermusch shall we close this or wait for more feedback?

[2022-10-20 08:56] skrypnik-dzencode opened #31408 "bazel-bin/external/com_google_protobuf/protoc: No such file or directory"
The third step (run `./greeter_proto_gen.sh`) of the guide https://grpc.io/docs/languages/php/quickstart/ fails with error
`./greeter_proto_gen.sh: line 25: bazel-bin/external/com_google_protobuf/protoc: No such file or directory`

gRPC v1.50.0

OS Ubuntu
- VERSION="21.04 (Hirsute Hippo)"

[2022-10-20 09:11] skrypnik-dzencode commented on #31408
Ok, we can separately install protobuf-compiler and protobuf-compiler-grpc, then we can change greeter_proto_gen.sh file like this:
`PROTOC=protoc`
`PLUGIN=protoc-gen-grpc=/usr/bin/grpc_php_plugin`
And after that, we still failed on the same third step by running `./greeter_proto_gen.sh`: `--grpc_out: helloworld.proto: unsupported options: generate_server`

[2022-10-20 09:12] tonydnewell commented on #19954
We have updated the documentation on NetBIOS and DNS and the use of _ares_ or _native_ DNS resolvers:
https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

This may or may not have helped with this problem, but as the original poster no longer has a GitHub account we can't find out more.

@jtattermusch should we close as the original user has been deleted from GitHub?

[2022-10-20 09:37] tonydnewell commented on #26443
@mayankiitg is this still a problem? Have you managed to get any more logs as per https://github.com/grpc/grpc/issues/26443#issuecomment-1066599155 ?

[2022-10-20 12:00] edvard-bjarnason commented on #25082
Of course the issue should be open, it is not fixed. I don't understand the trend on GitHub to close issues before a fix has been created, it is not like the issue goes away just by marking the issue closed:( Now it is almost 2 years since the issue was created and nobody cares enough about this to actually do the work needed to fix it. It is really frustrating that an important package like this

[2022-10-20 12:47] #19954 closed

[2022-10-20 12:48] #25953 closed

[2022-10-20 12:48] jtattermusch commented on #25953
We can reopen if there are some new updates.

[2022-10-20 12:48] #25252 closed

[2022-10-20 13:34] springile commented on #31403
![image](https://user-images.githubusercontent.com/50204931/196963082-198704b2-8200-491b-9a7b-5e337b45e361.png)
It's the callback.

[2022-10-20 14:05] edvard-bjarnason commented on #25082
Just to follow up on my previous comment, it turned out I could not use version 1.46.3. Anyway I managed to install version grpcio version 1.50.0. My pyenv was pulling in libraries for macOS 12.4 and after I updated pyenv and reinstalled python versions 3.10.6 (which pyenv builds from source) I could install grpcio version 1.50.0.

Here are the commands I used:
brew upgrade pyenv
pyenv uninstall 3

[2022-10-20 15:53] asadakbar commented on #31215
I was able to fix this by reinstalling Xcode 13. Upgrading to 14 is what caused this issue for me.

[2022-10-20 17:51] weyus commented on #30976
This also fails for me on a M2 chip (which makes sense).

The lines from the bugfix above are present in the extconf.rb file for v. 1.48.0, here:

[grpc/src/ruby/ext/grpc/extconf.rb](https://github.com/grpc/grpc/blob/d2054ec6c6e8abcecf0e24b0b4ee75035d80c3cc/src/ruby/ext/grpc/extconf.rb#L114-L117)

Lines 114 to 117 in [d2054ec](https://github.com/grpc/grpc/commit/d2054ec6c6e8abcecf0e24b0b4ee75035d8

[2022-10-20 19:58] rara73 commented on #30947
I had the same issue when I switched to rbenv.

My config: ruby 3.1.2, grpc 1.49 or 1.48, mac M1 macOS Monterey

**Quick fix until grpc comes with a fix on a new version: use grpc 1.47 (works for me):**

`gem 'grpc', '1.47.0'`

[2022-10-20 21:01] MLHafizur opened #31416 "grpc_status:13, grpc_message:"inference.GRPCInferenceService/ModelInfer: INTERNAL: Panic! This is a bug!"
I have deployed a custom MLServing on KServe ModelMesh serving engine. Sending prediction request from command line and python grpc script was working as expected and giving preditions.

gRPC cmd line:

`./grpcurl -plaintext -proto mlserver/dataplane/dataplane.proto -d '{ "model_name": "muc-en-aa-predictor-grpc", "inputs": [{ "name": "full_text", "shape": [2], "datatype": "BYTES", "contents": { "b

[2022-10-20 21:53] monfresh commented on #31215
As others have said, your best options right now are to either revert to version 1.47.0 of `grpc`, or revert to version 13.4 of the command line tools.

The issue with the latest version of `grpc` is a known issue with version 14 of the Apple Command Line Tools. You can check which version you have by running `brew config`. The good news is that this issue was fixed in the Ruby GitHub repo on Octo

[2022-10-21 00:00] #31416 closed

[2022-10-21 00:00] #30848 closed

[2022-10-21 00:00] #30524 closed

[2022-10-21 02:49] mkzpd commented on #31354
This problem solve is at [https://github.com/android/ndk/issues/1789](url)

[2022-10-21 08:02] jonnydee opened #31421 "What impact does the Mozilla Public License mentioned in "LICENSE" have?"
We want to use gRPC in our .NET projects but we stumbled over the Mozilla Public License included in the `LICENSE` file. Now we are not sure if this license is also applicable to when we depend in the gRPC libraries needed for creating client/server applications.

Can you please explain why the license is there and under what conditions it applies?

[2022-10-21 16:16] zjp99 commented on #27089
Has the problem been solved？I also met in thread

[2022-10-21 17:44] Ambassador4ik commented on #25082
Yeah it is absolutely true, I spent like 2 hours trying to install it without venv, nothing really helps...

[2022-10-21 23:05] #31356 closed

[2022-10-21 23:35] zizhong opened #31427 "grpc_message":"No module named 'concurrent.futures.thread'""
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?
[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Using a gRPC python client to call stub endpoint.
And got this gRPC error
[code]

I can find the module installed
[code]

### What did you expect to see?
N

[2022-10-21 23:41] gnossen commented on #31427
Would you care to share your server-side code?

[2022-10-22 05:26] zizhong commented on #31427
Actually figured out the issue.

Previously I upgraded python from 3.7 to 3.8, `concurrent.futures.thread` becomes a standard library.
The grpc server I'm working with does file lock stuff preventing itself from being updated and still running with 3.7.
After restarting the server, the issue went away.

[2022-10-22 05:26] #31427 closed

[2022-10-22 07:33] pietrodn commented on #25082
Hello, since Google is doing nothing about this, I decided to set up a periodic GitHub Actions workflow to provide **daily builds of Apple Silicon wheels for Mac**. It will automatically cut a new release the day a new `grpcio` version is released on PyPI.

In the releases page of this repo you can find and download the wheels for Python 3.8, 3.9, 3.10, 3.11.
(Use at your own risk, these are not t

[2022-10-22 07:36] pietrodn commented on #29262
I decided to set up a periodic GitHub Actions workflow to provide **daily builds of Apple Silicon wheels for Mac**. It will automatically cut a new release the day a new `grpcio` version is released on PyPI.

In the releases page of this repo you can find and download the wheels for Python 3.8, 3.9, 3.10, 3.11.
(Use at your own risk, these are not tested.)
https://github.com/pietrodn/grpcio-mac-ar

[2022-10-22 07:36] pietrodn commented on #28512
I decided to set up a periodic GitHub Actions workflow to provide **daily builds of Apple Silicon wheels for Mac**. It will automatically cut a new release the day a new `grpcio` version is released on PyPI.

In the releases page of this repo you can find and download the wheels for Python 3.8, 3.9, 3.10, 3.11.
(Use at your own risk, these are not tested.)
https://github.com/pietrodn/grpcio-mac-ar

[2022-10-22 07:36] pietrodn commented on #25993
I decided to set up a periodic GitHub Actions workflow to provide **daily builds of Apple Silicon wheels for Mac**. It will automatically cut a new release the day a new `grpcio` version is released on PyPI.

In the releases page of this repo you can find and download the wheels for Python 3.8, 3.9, 3.10, 3.11.
(Use at your own risk, these are not tested.)
https://github.com/pietrodn/grpcio-mac-ar

[2022-10-22 08:04] brtknr commented on #29262
Thanks @pietrodn! This is awesome! Will have to look at stack overflow for how to install wheels from GitHub release

[2022-10-22 09:26] pietrodn commented on #29262
@brtknr something simple like `pip install https://github.com/pietrodn/grpcio-mac-arm-build/releases/download/1.50.0/grpcio-1.50.0-cp310-cp310-macosx_11_0_arm64.whl` should do. :-)

[2022-10-24 07:39] HaiKonofanDesu commented on #23488
@veronicagarciavazquez I followed your solution but still have some problems, maybe you can help!

0) "git submodule update --init" had some problems with Google/Re2 where I need to manually install it into the right folder then everything worked

1) If I have my Grpc.Core Folder in my Assets Folder Unity does.. ignore it? At least it says it can't find Grpc.Core then. If I move it into my scripts

[2022-10-24 08:19] jsofri opened #31437 "absl undefined symbol after linking to static libraries"
### What version of gRPC and what language are you using?
gRPC 1.50.0
C++

### What operating system (Linux, Windows,...) and version?
ubuntu20 (Linux)

### What runtime / compiler are you using (e.g. python version or version of gcc)
GNU 9.4.0

### What did you do?
1. built gRPC from source
[code]
2. using protoc, made auto-generated protobuf and grpc source files
3. using cmake, made a shared ob

[2022-10-24 10:18] christophe-calmejane opened #31438 "Crash in RunInterceptor when servicing 2 requests at the same time"
### What version of gRPC and what language are you using?
c++ v1.41.0 (from vcpkg)

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 17.3.5

### What did you do?
I managed to write a minimal client/server example that causes a crash in the client code in RunInterceptor, here are the files:
*

[2022-10-24 11:37] hankhng commented on #30947
Having the exact same issue. Getting this error message:

`An error occurred while installing grpc (1.50.0), and Bundler cannot continue.`

Moving down to grpc 1.47 for now works.

[2022-10-24 17:59] Yun-Kim opened #31441 "Python 3.11 Unary cancellation and exceptions in pytest-asyncio are resulting in segmentation faults"
### What version of gRPC and what language are you using?
Using `grpcio==1.42.0` and `grpcio==1.49.0` with Python 3.11.

### What operating system (Linux, Windows,...) and version?
Seeing the error on both MacOS and Linux.

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.11. (Specifically Python 3.11.0rc2)

### What did you do?
I've attached a gist that s

[2022-10-24 18:11] rlubke opened #31442 "Issue with async client interceptor registration on grpc.aio.Channel - missing interception calls"
### What version of gRPC and what language are you using?
 1.50.0 (using asyncio APIs)

### What operating system (Linux, Windows,...) and version?
macOS Monterey (12.6)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.1

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce

[2022-10-25 05:38] #31437 closed

[2022-10-25 07:39] jsofri opened #31449 "C++ v1.50 undefined reference for grpc core symbols"
### What version of gRPC and what language are you using?
v1.50
c++

### What operating system (Linux, Windows,...) and version?
ubuntu20

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.4
cmake version 3.22.3

### What did you do?
1. build gRPC successfully
[code]
2. build my C++ gRPC client executable with cmake (see CMakeLists.txt files)

### What did you

[2022-10-25 08:00] jsofri commented on #31437
wrong FindGRPC usage

[2022-10-25 15:09] jsofri commented on #31449
update: tried local install to `/opt/grpc` and get the same error, also when I add -L/opt/grpc/lib

[2022-10-25 16:04] monfresh commented on #31215
Update: What I thought was a bug in Ruby 3.1.3 was actually a bug in grpc that was hidden. The recent change in Ruby 3.1.3 was necessary, and it uncovered a bug in grpc that is fixed in this PR: https://github.com/grpc/grpc/pull/31151

I confirmed this fix by building the grpc gem locally with the changes in that PR, and I am able to install it fine with the current Ruby 3.1.3 branch. In fact, I c

[2022-10-25 16:06] jsofri commented on #31449
update: similar failure when building as the https://grpc.io/docs/languages/cpp/quickstart/ suggests
[code]

[2022-10-25 16:31] eduardojunio commented on #30976
@weyus that's because the bugfix is **removing** these lines (not adding them).

[2022-10-25 18:28] weyus commented on #30976
@eduardojunio Oh geez. Sorry. 🤦

[2022-10-25 19:37] yashykt commented on #31449
This is weird. We've got interop tests running on our branches to make sure that we don't have such errors.

Does your build work with bazel?

[2022-10-25 19:41] markdroth commented on #31403
If you haven't actually started a call on the `ServerContext`, then doing a `TryCancel()` is not expected to work.  I don't think this is actually a bug; it's just not a correct use of the API.

[2022-10-25 19:41] #31403 closed

[2022-10-25 19:54] markdroth commented on #31438
Without seeing the actual crash you're running into (i.e., the stack trace), it's hard to say for sure what's going on here.  But from looking at your code, there seems to be a fairly clear bug in it.  In the client's `main()` function, you are starting a streaming call with the `observer` object, but you have no guarantee that `observer` won't go out of scope before that call is actually complete

[2022-10-25 20:06] jzabroski opened #31458 "Remove dead Grpc.Tools MSBuild target"
The target `_Protobuf_Compile_BeforeCsCompile` is not [referenced anywhere](https://github.com/grpc/grpc/search?q=_Protobuf_Compile_BeforeCsCompile), and has a 5 year old todo from "kkm", and does _nothing_:

https://github.com/grpc/grpc/blame/ab3d62ae8fc024867b4db85122cebfab56532871/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets#L110-L116

[2022-10-25 20:13] altro3 opened #31459 "Add ability to stop generate annotation `@javax.annotation.Generated` or move to `@jakarta.annotation.Generated`"
I think it's time to switch to a modern library, because modern frameworks have switched to jakarta packages . Now we have to constantly include javax.annotation to compile the generated GRPC classes. It's not critical, of course, but it's clearly inconvenient.

[2022-10-25 20:31] jzabroski commented on #29161
I think this is still a problem, or some variation of it is still a problem.  I occasionally get annoying errors that protodep "file is in use by another process", when the only things touching protodep files are apparently https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets

I think the actual issue happens whenever you glob a bunch of .pro

[2022-10-25 20:46] jzabroski commented on #29161
I believe this problem may be solvable using RemoveDuplicates "list operator" in MSBuild https://github.com/dotnet/msbuild/blob/main/src/Tasks/ListOperators/RemoveDuplicates.cs

Alternatively, ProtoReadDependencies MSBuild task can be amended to prevent duplicates in the first place. However, I am not really clear on what the purpose of cached protodep files are. I tried to find an explanation som

[2022-10-25 21:11] hjm-aws opened #31460 "RAM usage increase in 1.50.0 compared to 1.49.1"
I have two docker images, one built with grpcio 1.50.0 and the other with 1.49.1. Otherwise they are the same.

We ran these two images on two identical machines, and we see the image with 1.50.0 would use 21.GB more RAM.

Once we downgrade the version from 1.50.0 to 1.49.1, then the two machines will use the same amount of RAM.

Is this known?

[2022-10-26 00:00] #31460 closed

[2022-10-26 06:57] jsofri commented on #31449
no, my build is with CMake.
I ran the c++ command that fails cmake
[code]
and when I manually added `libgpr.a` location I got a less errors, however I don't think this is the proper way to fix that issue - based on grpc CMakeLists.txt file, all the symbols the linker complains about should be part of libgrpc++.a

[2022-10-26 07:39] christophe-calmejane commented on #31438
This example is merely the minimal I came up with that exposes the same bug I've with a fully running program I cannot share. My full program doesn't go out of scope as it's still running and doing other stuff while waiting for server response. My complete code do has synchronization with OnDone, and waits for completion. The crash has the exact same call stack, but I'm modify the sample to clearl

[2022-10-26 08:24] tonydnewell commented on #29161
@jzabroski Do you have an example that reproduces the problem? At least a directory layout, the proto files and which ones are imported by others?

[2022-10-26 10:15] liiujinfu commented on #29134
you can add `RUN ln -s /lib/ld-musl-x86_64.so.1 /lib/ld-linux-x86-64.so.2`
ld-musl-x86_64.so.1 is compatible with ld-linux-x86-64.so.2.

[2022-10-26 10:16] liiujinfu commented on #21446
you can add `RUN ln -s /lib/ld-musl-x86_64.so.1 /lib/ld-linux-x86-64.so.2`
ld-musl-x86_64.so.1 is compatible with ld-linux-x86-64.so.2.

[2022-10-26 10:46] BusyJay opened #31465 "transparent retry can cause regression with buffer_hint"
### What version of gRPC and what language are you using?
1.46.5 and Rust. But language should not matter.

### What operating system (Linux, Windows,...) and version?
Linux.

### What runtime / compiler are you using (e.g. python version or version of gcc)
grpc-rs / Rust

### What did you do?
Recently I'm working on updating grpc c core to 1.46.5 for https://github.com/tikv/grpc-rs. I find that o

[2022-10-26 10:48] jzabroski commented on #29161
I'm working on something reproducible but it doesn't happen every build. The particular .proto files are under IP restrictions where if I were to share them, a zero cure time service cancelation would trigger in the contract.

[2022-10-26 12:12] ben-xD opened #31466 "Python: Client connecting to gRPC server takes 20 seconds (IPv6 fallback to IPv4)"
When connecting using a network that doesn't support IPv6, (but both client and server support IPv6, and a `AAAA` record exists for that server), I've seen a 20 second delay in connecting. I believe gRPC is attempting IPv6 but fails, and then backs off for **19 seconds**, and then fails again, then tries IPv4, which then works immediately. ~~Sometimes, it doesn't connect at all.~~

When using the

[2022-10-26 12:13] jtattermusch commented on #31458
CC @tonydnewell

[2022-10-26 12:46] tonydnewell commented on #29161
@jzabroski The contents of the proto files shouldn't be important - just some files with minimal viable contents should be ok. I'm interested in the location of the files (relative to each other and the project) and dependencies on each other.

[2022-10-26 13:31] jqueuniet commented on #23235
Ran into this issue today using python3-grpcio 1.30.2-3 on Debian Buster. In case anyone wonders, only the server/client certs need to be P256 curves, my P521 root and intermediate certificate authorities worked as is.

[2022-10-26 13:51] jzabroski commented on #29161
I'll get you a repro either today or tomorrow (Eastern Standard Time here). Have to first wrap up some basic tests today and make progress on the project.

But, as an observation, I can see @macrogreg also has a Common.proto file in his sample that is _likely_ imported using v3 proto syntax.  This is my first ever gRPC project, so I dont know when v3 proto syntax was introduced, but it seems like

[2022-10-26 14:01] gnossen commented on #31466
@yashykt Any insight into this behavior?

[2022-10-26 14:19] jzabroski commented on #31458
Also note it does not show up in GitHub VSCode web editor search as used anywhere (since sometimes github.com search can be misleading):

![image](https://user-images.githubusercontent.com/447485/198051386-96bea9f0-1e27-45ef-9091-54c089ee70ac.png)

[2022-10-26 15:01] markdroth commented on #31438
Can you share the actual crash you're seeing, with stack trace?  That might help us see what's going on here.

[2022-10-26 15:14] christophe-calmejane commented on #31438
I quickly added a 5 seconds sleep in ~Observer (I don't have the time now to import my full synchronization code) to show it's now going out of scope.

Here is the crash I have by just compiling and running the server and client files I provided.
![image](https://user-images.githubusercontent.com/23314088/198065425-82ff43a8-f3b3-4030-a54e-cf551e7c4a8b.png)

[2022-10-26 16:24] markdroth commented on #31438
Yash, this looks like it has something to do with the interceptor API.  Can you please take a look?  Thanks!

[2022-10-26 19:57] maxkuangsy commented on #25082
I found out that setuptools-65.5.0 seems not able to install the latest grpcio-2.10.0, so I choose to install grpcio2.9.0 and then it works.

[2022-10-27 08:32] tonydnewell commented on #31458
My only hesitance in removing it is that the target may referenced in some third-party project. Unlikely but unknown. It is not causing a problem being there.

[2022-10-27 12:08] PATAPOsha opened #31476 "Failed to install grpcio using pip in Mac M1"
### What version of gRPC and what language are you using?
Tried versions from `grpcio==1.46.5` to latest `grpcio==1.50.0`

### What operating system (Linux, Windows,...) and version?
MacBook Pro M1
Darwin pata-mac 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:37 PDT 2022; root:xnu-8020.121.3~4/RELEASE_ARM64_T6000 arm64

### What runtime / compiler are you using (e.g. python version or vers

[2022-10-27 12:10] sudarshaana commented on #31476
Facing the same problem issue.

[2022-10-27 12:34] MohammadArik opened #31477 "CMake can't find c-ares in some projects"
### What version of gRPC and what language are you using?
I am using latest grpc for C++

### What operating system (Linux, Windows,...) and version?
Linux- Ubuntu 22.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
c++

### What did you do?
I use cmake for my drogon app as that is default for that. It all worked fine but when I gRPC, the problem started. As bo

[2022-10-27 13:32] PATAPOsha commented on #31476
running this worked for me:
`CFLAGS="-I /opt/homebrew/opt/openssl/include" LDFLAGS="-L /opt/homebrew/opt/openssl/lib" GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1 GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1 pip install grpcio`
But only in new virtualenv created from scratch. Nothing worked for my existing virtualenv.

`GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=true GRPC_PYTHON_BUILD_SYSTEM_ZLIB=true pip install grpcio` - didn't

[2022-10-27 13:32] #31476 closed

[2022-10-27 14:55] estolfo opened #31478 "Experimental Interceptor API"
Hi all, the Interceptor API is [marked as experimental](https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/generic/interceptors.rb#L24)

We make use of it in order to instrument the grpc gem in the Elastic APM agent and we can only say our instrumentation is experimental as long as the Interceptor API is experimental.
This API [was added 5 years ago](https://github.com/grpc/grpc/commit/eec

[2022-10-27 19:45] rlubke opened #31483 "Consider having separate timeout for wait_for_ready independent of RPC timeout"
### Is your feature request related to a problem? Please describe.
I have a long lived bidirectional stream that ideally should have no timeout.   However, similarly, I don't want an indefinite wait_for_ready either.

### Describe the solution you'd like
Ideally a timeout that can be applied to the wait_for_ready functionality that is independent of the RPC timeout.

[2022-10-27 21:11] Marcus10110 commented on #23072
On Windows, all connections to localhost will first attempt to connect via IPv6, and then after a ~2 second timeout, will fall back to IPv4. Specifying the IPv4 address directly skips the timeout.

[2022-10-27 21:38] CaptainCplus opened #31484 "Too Much Hashtags."
I Inform There Is A Small Issue, I Have Been Looking And There Is Too Many Hashtags To Comprehend.

Cheers!
CaptainCplus.

[2022-10-27 22:08] #31484 closed

[2022-10-27 22:13] nahk-ivanov commented on #25210
Seems like builds stopped again, the last build I see there now is from `2022-09-27`. Bump the timeout yet again?

[2022-10-27 23:46] Luke20000429 opened #31488 "client meta_data elements of type grpc::string_ref end without '\0'"
### What version of gRPC and what language are you using?
cpp-grpc - 1.50.0

### What operating system (Linux, Windows,...) and version?

Linux Ubuntu 18.04 - 4.15.0-193-generic

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

### What did you do?

I try to extract an element from client metadata on server side in GlobalCal

[2022-10-28 00:00] #24351 closed

[2022-10-28 00:00] #24014 closed

[2022-10-28 01:49] MohammadArik commented on #31477
@veblush @markdroth any updates?

[2022-10-28 02:01] johnbywater commented on #21737
Thanks for your thoughtful consideration of this. I really appreciate it.

[2022-10-28 09:37] mattip commented on #4221
The dual-code path is [used by pyzmq](https://github.com/zeromq/pyzmq/tree/main/zmq/backend). It might be worthwhile to try this out for the [aio code](https://github.com/grpc/grpc/tree/master/src/python/grpcio/grpc/_cython/_cygrpc/aio) since this module is the one not supported by PyPy.

[2022-10-28 11:16] sk- opened #31492 "Missing wheels for MacOS 10 and Python 3.10"
### What version of gRPC and what language are you using?
1.5.0
Python 3.10.8

### What operating system (Linux, Windows,...) and version?
Mac OS 10.15.4

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
[code]

### What did you expect to see?
The package should be installed right away, just like it did for version 1.49.1

### What did you see

[2022-10-29 00:00] #23764 closed

[2022-10-29 00:00] #19767 closed

[2022-10-29 00:20] eugeneo commented on #31488
I am confirming that I have reproduced the issue and actively looking into it.

[2022-10-29 01:55] fallwith opened #31497 "Unable to apply gzip compression when using the 'grpc' Ruby gem"
### What version of gRPC and what language are you using?
Ruby gem [grpc](https://rubygems.org/gems/grpc) v1.50.0.

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby v3.1.2p20

### What did you do?
**reproduction gist:** [https://gist.github.com/fallwith/b0971d024f0ed671655cc40967f0c850](

[2022-10-29 09:37] CaptainCplus commented on #31497
Is It Ok If You Can Help Me Be Popular.

[2022-10-29 11:50] jzabroski commented on #31458
They can fix it on their side. MSBuild validates the build file so if they depend on a target that does not exist, it will be self explanatory

[2022-10-29 13:31] orian12173 opened #31498 "Console app"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to debug the problem,

[2022-10-30 12:54] wrkntwrkn commented on #29672
Also getting these.

` <PropertyGroup>
        <TargetFramework>net7.0</TargetFramework>
        <LangVersion>preview</LangVersion>
        <Nullable>enable</Nullable>
        <ImplicitUsings>enable</ImplicitUsings>
    </PropertyGroup>`

Version: `7.0.100-rc.1.22431.12`

For now went with:
`<PropertyGroup>
        <NoWarn>CS8981</NoWarn>
    </PropertyGroup>`

[2022-10-30 17:49] jsofri commented on #31449
update: I can solve all undefined references if I explicitly listing almost all libraries in `$GRPC_ROOT/lib` but this I see that the examples CMake files are much cleaner and contain only 3 libraries (c++reflection, c++ and protobuf)

[2022-10-30 20:17] tzehetner commented on #21902
I also had problems with access violations when unloading my DLL. I could fix it by doing the following:

1. Destroy all grpc objects / channels.
2. Wait in a loop with a 10ms sleep until `grpc_is_initialized()` returns false.
3. Unload the DLL.

Some observations:
- Grpc seems to shut down the library automatically if the last channel is destroyed.
- I initially tried to call `grpc_shutdown()` or

[2022-10-31 00:57] jkrahn3 commented on #26724
@kzu Can you point me to any help on how I would use this metadata to prevent the content files from making it into my package? We are making an internal package that has GRPC.Core as a dependency. For now, the only way I'm able to not have the grpc_csharp_ext.dll files get included in our package is to add `-Exclude "**/grpc_chsarp*.dll"` to our nuget pack call. I would prefer to have this in a .

[2022-10-31 07:34] kml-mudgal commented on #21213
I am facing this issue on release  1.24.3
On which release this issue is fixed .

[2022-10-31 12:38] Amit011121 opened #31506 "grpc: received message larger than max (9014796 vs. 4194304)"
Help me with this -
grpc: received message larger than max (9014796 vs. 4194304).

--
iOS swift: which property should i use to set the (X * 1024 * 1024) message size.

Thanks

[2022-10-31 12:47] tonydnewell commented on #30746
Reproduced without gRPC or protobuf - opened an issue with MSBuild - https://github.com/dotnet/msbuild/issues/8104

[2022-10-31 19:08] jsofri opened #31509 "memory leak in grpc.server"
### What version of gRPC and what language are you using?
1.50.0

### What operating system (Linux, Windows,...) and version?
ubuntu20

### What runtime / compiler are you using (e.g. python version or version of gcc)
python3.9

### What did you do?
[code]

### What did you expect to see?
same amount of memory used for process (with `top` command)

### What did you see instead?
memory keep going u

[2022-11-01 00:23] ZhenLian commented on #31354
@mkzpd Just to make sure, is the problem solved?

[2022-11-01 07:03] guoxiangzhou opened #31515 "grpc client ctrl+c terminate, lead to memory leak on grpc async server"
### What version of gRPC and what language are you using?
grpc 1.47.1/1.50.1, c++

### What operating system (Linux, Windows,...) and version?
Linux and Macos

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to foll

[2022-11-01 10:03] mkzpd commented on #31354
@ZhenLian  Yes.

[2022-11-01 10:04] #31354 closed

[2022-11-01 10:21] connor-bugler commented on #23311
Bump, getting this error with baze on ubuntu as well

[2022-11-01 10:49] Eagle3386 opened #31516 "Fix C#'s `XMLDoc` generation via `GenerateDocCommentBodyImpl` inside `csharp_generator.cc`"
As kindly pointed out by @JamesNK over at grpc/grpc-dotnet#1928 as well as in @jtattermusch's comment:
https://github.com/grpc/grpc/blob/1b9ab1825104cc5d05b16529293caffb5f57975e/src/compiler/csharp_generator.cc#L41-L45
C#'s `XMLDoc` generation is done via the C# compiler.

Since the latter made the aforementioned comment about 7 years ago, the "massaged version" seems a bit "dusty" & I'd like to a

[2022-11-01 12:43] PisaJan commented on #30976
I have been trying this workaround and it helped, I just needed to run it in the following sequence, so the grpc installation runs on clean environment I guess.

[code]

[2022-11-01 13:17] technicalpickles commented on #30976
Are there any configuration options for grpc to pass in these flags? If so, we'd be able to do something like this locally to make sure it always installs with the flag:

[code]

I haven't found a way to set environment variables this way though.

[2022-11-01 18:51] drfloob commented on #31459
This is not the gRPC-java issue tracker, if that's what you're looking for. The gRPC-core repository doesn't rely on java annotations. Some of our third-party dependencies may, but those are not under our control.

[2022-11-01 18:51] #31459 closed

[2022-11-01 19:34] markdroth commented on #31506
You can set the [`GRPC_ARG_MAX_RECEIVE_MESSAGE_LENGTH` channel arg](https://github.com/grpc/grpc/blob/b8108132915d4db9ed3c1b9ecd7d31bb794fe06b/include/grpc/impl/codegen/grpc_types.h#L153) to set this value.

[2022-11-01 19:34] #31506 closed

[2022-11-01 19:37] #31498 closed

[2022-11-01 19:40] veblush commented on #31465
I reassigned this issue to Mark who worked on #28943. @BusyJay would you elaborate a bit more like what test is doing and what numbers you got with the old version of gRPC and 1.46.5?

[2022-11-01 19:41] veblush commented on #31401
You would file the bug internally? We track flaky bugs using buganizer.

[2022-11-01 19:41] #31401 closed

[2022-11-01 19:46] yashykt commented on #31477
It's not exactly clear what you are trying to do here. Can you provide a reproduction please?

[2022-11-01 19:58] #31488 closed

[2022-11-01 20:02] markdroth commented on #31465
It looks like the retry code at that point in history wasn't properly passing along the send_message flags, so `GRPC_WRITE_BUFFER_HINT` wasn't being propagated.  However, it looks like that problem was subsequently fixed in #29987.  If the problem is being caused by `GRPC_WRITE_BUFFER_HINT` not being propagated, then upgrading to gRPC 1.48 or newer should fix it.

[2022-11-01 20:49] patrickfreed commented on #21386
@dfawley [mentioned](https://github.com/grpc/grpc-go/issues/4862#issuecomment-942725634) there was an effort to create a cross-language design for this functionality, are there any updates on that?

[2022-11-01 21:22] dfawley commented on #21386
@patrickfreed We do have a design proposal that was mostly agreed upon internally, but the effort to implement it was deprioritized since our primary use case no longer required it.  Long-term it is still something we'd like to do.  @ejona86 @markdroth what do you think about the priority of this vs. our other projects in the next few months?  Should I write up a gRFC for the design even if we don

[2022-11-01 22:52] stanhu commented on #30976
Related upstream Ruby bug report: https://bugs.ruby-lang.org/issues/19005

[2022-11-02 04:15] BusyJay commented on #31465
I rerun the test `env GRPC_POLL_STRATEGY=epoll1 python tools/run_tests/run_performance_tests.py -l rust -r rust_protobuf_async_streaming_from_client_unconstrained` on a 8 core Linux VM:

Version | Enable retry | Disable retry | Regression
------------|--------------|----|----
v1.46.5 | 203209.3 | 1345224.6 | 84.9%

[2022-11-02 04:29] stanhu commented on #30976
As mentioned in the Ruby issue, there are several possible workarounds until Ruby releases the patched versions for this:

1. Recompile Ruby with `DLDFLAGS="-Wl,-undefined,dynamic_lookup"` set in the enviornment. `RbConfig::CONFIG['DLDFLAGS']` should show these flags:

[code]

2. With `gem install`:

[code]

3. Set `bundle config`:

[code]

### Explanation

As I mentioned in the Ruby bug report, X

[2022-11-02 06:03] MarkProminic opened #31522 "Unable to install grpc v1.50.0 on OmniOS/Solaris"
### What version of gRPC and what language are you using?
grpc -- 1.50.0

[code]

### What operating system (Linux, Windows,...) and version?
[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Specific Steps:

[code]

### What did you expect to see?

Successful installation

### What did you see instead?

[code]

### Anything else

[2022-11-02 09:50] eitkin-nvidia commented on #31509
Adding more information after debugging the issue on grpc **1.39.0**:

Environment
--------------
* **OS:** Ubuntu 20.04
* **Architecture:** aarch64
* **gRPC version:** grpcio-1.39.0
* **Python version:** Python 3.8.10

POC
---
[code]
Changing the sleep interval doesn't change the results at all so it isn't some timing issue for Python's garbage collection.

Observations
---------------
After roug

[2022-11-02 10:53] sandros06 commented on #29116
Hey @liuzhenLz
Do you find a solution ?

[2022-11-02 11:38] SuitespaceDev opened #31526 "Ansiblize gRPC"
### Is your feature request related to a problem? Please describe.
Given that the following are all deeply inter-dependent and even sensitive to minor version compatibility:
- protobuff
- protoc
- gRPC
- gRPC language runtimes
- stub generators and
- testers

Installation can be rather cumbersome and small mistakes can cause compilation/runtime errors which force debugging the installation itself.

[2022-11-02 12:22] MohammadArik commented on #31477
@yashykt My issue is fixed now. Thanks

[2022-11-02 12:22] #31477 closed

[2022-11-02 16:02] dywalsh-arista commented on #21589
Curious to know if there has been any updates on this? Thanks

[2022-11-02 18:42] MohammadArik commented on #30059
@yashykt is it possible somehow to copy the compiled files and make a shell-script to distribute them according to their place?
That would be platform basis but will be very fast...

[2022-11-03 00:02] gnossen commented on #31492
Thanks for the report! It looks like this was an unintentional effect of a build executor upgrade. I'm working on a fix [here](https://github.com/grpc/grpc/pull/31536).

[2022-11-03 00:43] pragbatra-mendel commented on #30723
Same issue with grpcio 1.50 on M1 mac.

[2022-11-03 08:47] NoWait126 commented on #21726
try this command in the grpc code repository ` git submodule update --init` ,
then try your `cmake` command  again

[2022-11-03 08:50] TengCheng commented on #30723
grpcio 1.50
M1 mac
python3.9
`CFLAGS="-I/Library/Developer/CommandLineTools/usr/include/c++/v1 -I/opt/homebrew/opt/openssl/include" LDFLAGS="-L/opt/homebrew/opt/openssl/lib" pip3 install grpcio`
It works

[2022-11-03 11:39] ss-torres opened #31538 "Encounter errors when building the grpc"
PLEASE DO NOT POST A QUESTION HERE.
This form is for bug reports and feature requests ONLY!

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com

[2022-11-03 12:56] Warchant commented on #21213
@kml-mudgal 1.26.x but not 1.26.0

[2022-11-03 15:29] ejona86 commented on #21386
gRFC without implementation resources doesn't seem all that helpful. Maybe just externalize the internal doc (copy the contents to your personal account and share it)? That lets people determine if the solution would help them, gives them an idea of the work involved, and would be a guide for any would-be contributors that want to step up.

[2022-11-03 16:28] markdroth commented on #21386
Didn't we say that the internal design we had been evaluating wasn't going to work in the xDS case?  If so, I don't think we'd actually want to pursue that anyway.

[2022-11-03 16:35] patrickfreed commented on #21386
Either one would be super helpful and much appreciated.

I think this feature is still very useful for the L4 load balancer case (#7957).

[2022-11-03 16:46] markdroth commented on #21386
I do understand that, but we don't want to have to support two mechanisms for the same thing.  Ultimately, we will need a mechanism that solves this problem for the xDS case, so if we introduce this mechanism now for the L4 case and then need to introduce a separate mechanism later for the xDS case, then we're stuck supporting two mechanisms for the same thing.  I would prefer not to introduce a m

[2022-11-03 21:40] caseyduquettesc commented on #30723
You can try installing Xcode. I've seen using that over the default command line tools fix issues like this for some people.

[2022-11-04 00:00] #31538 closed

[2022-11-04 00:00] #30940 closed

[2022-11-04 00:00] #30908 closed

[2022-11-04 00:00] #30592 closed

[2022-11-04 00:00] #30282 closed

[2022-11-04 00:22] schwern opened #31551 "Messages with leading underscores are not generated correctly."
### What version of gRPC and what language are you using?

grpc 1.50.0
Ruby 3.1.2p20

### What operating system (Linux, Windows,...) and version?

MacOS 12.6

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

I have messages with leading underscores.

Here's an example proto file.

[code]

I generated the Ruby code...

[code]

And trie

[2022-11-04 02:50] xjxu-09 opened #31553 "IsCancelled of ServerContext cannot return"
### What version of gRPC and what language are you using?
1.41.0

### What operating system (Linux, Windows,...) and version?
linux centos 6.5

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc：9.4.0
cmake：3.18.3
glibc：2.12

### What did you do?
I changed the system time of my computer.

### What did you expect to see?
IsCancelled can return normally.

### What

[2022-11-04 03:02] link89 commented on #14101
I am wondering is there any other RPC framework that provide such feature if gRPC is not viable now?

[2022-11-04 03:29] r4ve1 commented on #14101
Maybe json-rpc? I'm currently using this in my project (Golang), and all it needs is an established connection (`net.Conn`)

[2022-11-04 05:48] 1e100 commented on #27213
And what was the problem? I'm running into the same issue.

[2022-11-04 06:30] qing666888 commented on #29696
![image](https://user-images.githubusercontent.com/5969529/199906470-fc31cad2-1fd3-4a80-a8cf-82a26fa71a89.png)
no version 1.42.0，v1.41.0 is fine in my case

[2022-11-04 06:54] frozenice commented on #14101
You can take a look at [RSocket](https://rsocket.io/). I'm using this in some projects (Kotlin, Go, JS). Here is a quick overview from my experience:

- There is client/server connection-wise (who connects to whom), but both can request and respond equally (just register callbacks on connect/listen)
- Transport via TCP or WebSockets
- Different [interaction models](https://rsocket.io/about/motivat

[2022-11-04 11:22] talhakabakus commented on #30723
I'm on Python 3.10.6 but did not work for me.

p.s. I'm using macOS Ventura 13.0 & M2 chip.

[2022-11-04 16:09] gibsondan commented on #30843
Hello, I work with @alangenfeld  - do we have any reason to believe that this was fixed in 1.49 or 1.50? If so, we could do some tests to see.

[2022-11-04 17:38] vgarciavazquez commented on #23488
Great the error was removed with Unity 2020/2019. Sorry, I do not know why it cannot reach your address and I cannot test it with a HoloLens right now... :-(

Maybe one option is to try to create a x64 application with Unity to test if you can receive the data on another computer (not on Hololens) sent by your laptop.

[2022-11-04 19:14] subox commented on #20208
Are there any plans to add exporting `mock_stream.h` without using of `gRPC_BUILD_TESTS`? Compiling with unnecessary `gRPC_BUILD_TESTS` increases the build time multiple times.

[2022-11-07 06:39] illukin commented on #25995
gRPC 1.49.1
Nothing has changed. Is it possible to implement the proposed solution? It looks rational.

[2022-11-07 08:54] k-takeuchi220 opened #31566 "About Unity Support"
I am considering using grpc with Unity.
It seems that "grpc_unity_package.xxxx-xxxxxxx.zip" has not been created since the following build.
Will Unity be supported in the future?

https://packages.grpc.io/archive/2022/04/67538122780f8a081c774b66884289335c290cbe-f15a2c1c-582b-4c51-acf2-ab6d711d2c59/index.xml

[2022-11-07 11:55] SnowWindSaveYou commented on #23488
follow the step but not found such a dll

[2022-11-07 15:23] zifter commented on #24252
@mumbleskates
I have [asked about that behavior](https://bugs.chromium.org/p/boringssl/issues/detail?id=530) in boringssl project and received answer:
[code]
So, the best choice, as for me, it's try to use open ssl library (as mentioned above) or **change crypto algo of you proxy**.

[2022-11-07 16:21] jecknig opened #31570 "Unhandled ExecuteBatchError leaves gRPC AsyncIO API in a permanently degraded state"
### What version of gRPC and what language are you using?

grpcio version 1.47.0
Python version 3.8.10

### What operating system (Linux, Windows,...) and version?

Docker image: python:3.8-slim-bullseye

### What runtime / compiler are you using (e.g. python version or version of gcc)

Docker container is running on Google Kubernetes Engine, Version 1.22.15-gke.100, in zone europe-west4-a.

### W

[2022-11-07 16:27] jtattermusch commented on #31516
CC @tonydnewell

[2022-11-07 17:56] drfloob commented on #31566
C# development was frozen a while ago, please see https://grpc.io/blog/grpc-csharp-future/ for details. I'll defer to @jtattermusch on plans to release any more packages within the maintenance window, but I expect any subsequent packages would be comprised of bug fixes.

[2022-11-07 23:10] gibsondan commented on #30843
I did some testing and unfortunately we're still seeing persistent hangs on 1.50.0 that aren't present on 1.47.2 .

[2022-11-08 00:00] #31566 closed

[2022-11-08 03:45] veblush commented on #25556
New macros are added by https://github.com/grpc/grpc/pull/31033 and the next release will have them.

[2022-11-08 03:45] #25556 closed

[2022-11-08 06:00] glu0516 opened #31579 "Grpc for ARM Server, Fatal Python error: Segmentation fault"
# Environment:
Python  2.7.18
grpcio ==1.30.0
grpcio-tools==1.30.0

## ERROR:
Fatal Python error: Segmentation fault
Thread 0x0000fffe178bf1e0 <grpc_global_tim> (most recent call first):
File "py2/lib64/python2.7/site-packages/gevent-1.2.2-py2.7-linux-aarch64.egg/gevent/_threading.py", line 152 in wait
File "/py2/lib64/python2.7/site-packages/gevent-1.2.2-py2.7-linux-aarch64.egg/gevent/_threading.

[2022-11-08 07:46] pitrou commented on #25556
Thanks a lot for this @veblush !

[2022-11-08 09:18] HaiKonofanDesu commented on #23488
Thanks for the tip! I moved the server to a different PC and it worked! Seems like the Company Firewall does not allow any device outside the company internet to connect to the PC so that is probably the problem.

Unity Support also said that my code works for them on Unity 2021 with the newest version but does not work for me. Maybe this Info helps someone as they are at least working on it?

@Sn

[2022-11-08 09:40] tonydnewell commented on #29161
@jzabroski just a ping to see if there is an update

[2022-11-08 09:40] sanghunka commented on #25082
@pietrodn Thanks 👍👍

[2022-11-08 14:30] jzabroski commented on #29161
I will work on providing a repro today. Thanks for the ping!

[2022-11-08 15:46] ak-em1603 opened #31581 ""grpc_message":"Stream removed","grpc_status":2"
I am running a python grpc server and using envoy to connect to it through client. The envoy is deployed in GKE. I am attaching the envoy deployment yaml.

[code]

I have a python grpc server which recieves a proto message and publishes it to a topic in pub/sub. My python grpc server is deployed on GKE and  looks like this:-

[code]
My grpc python client runs on local and looks like this:-
[code]

[2022-11-08 20:00] yashykt commented on #31438
Adding a 5 second sleep in ~Observer will not help. Your context object is declared on the stack in the Observer constructor, and it is going out of scope.

As per the documentation for `ClientContext` -
[code]

I suggest using an AddressSanitizer to detect such issues.

[2022-11-08 20:00] #31438 closed

[2022-11-08 20:43] yashykt commented on #31095
@ZhenLian ping

[2022-11-08 20:43] yashykt commented on #30838
@jtattermusch ping

[2022-11-08 20:50] drfloob commented on #31526
This is out of scope for the project. There are quite a few distributions and packages that are maintained by external parties, and we don't support them. It partially comes down to our team's bandwidth to maintain these packages, and the platform expertise in a lot of these situations. Sometimes these packages go against our suggested guidelines - for example, even the testing the debian packages

[2022-11-08 20:50] #31526 closed

[2022-11-08 20:52] sandan commented on #22999
@markdroth Do you have a recommendation on which gRPC version to upgrade to?

[2022-11-08 20:59] markdroth commented on #22999
I would suggest trying the most recent version.  That way, if there's still a problem, we'll be better able to reproduce and debug it.

[2022-11-08 21:20] yashykt commented on #31466
Without more verbose logging, my suspicion is that the initial connection attempt itself is taking 20 seconds.

[2022-11-08 21:43] apolcyn commented on #31466
If both IPv4 and IPv6 are resolved, and the IPv6 addresses are locally routable, then the client will prefer IPv6  because grpc's default DNS resolver follows RFC 6724.

Ideally, if the IPv6 addresses are not reachable, then the local kernel shouldn't have route table entries for them, otherwise they'll always act as black holes.

If that's not changeable, then another knob could be to set the sys

[2022-11-08 22:00] markdroth commented on #31466
In general, the subchannel connection backoff delays (the ones that you're seeing the log messages for) should not be relevant here, because those delays kick in only after the connection attempt has failed.  As soon as the connection attempt fails, the pick_first LB policy (the default) moves on to the next address in the list and tries to connect to that.  So by the time you see that log message

[2022-11-08 22:19] lporras commented on #28509
I'm using `grpc (1.43.1)` and I have ruby 2.6.6 installed using asdf, and every time I run a ruby command like `rake db:create` I'm getting this error:

[code]

[2022-11-09 08:59] christophe-calmejane commented on #31438
Hi, thanks for the heads up, I confirm it does solve the issue.

Just a few remarks if it can help:
* asan didn't catch anything
* most of the async tutorials create the ClientContext on the stack (although it doesn't go out of scope, it is misleading)
* would be nice to have a small note in the tutorials about the way to correctly use the ClientContext as we have to guess how to use it (there is

[2022-11-09 10:06] KlemensE opened #31589 "Failed parsing HTTP/2 calling .net server from python client"
### What version of gRPC and what language are you using?
Python
grpcio==1.50.0
grpcio-tools==1.50.0
protobuf==4.21.9

.NET 7
GRPC.AspNetCore 2.49.0
Grpc.Net.Client 2.49.0
Grpc.Tools 2.50.0
Microsoft.AspNetCore.Grpc.JsonTranscoding 7.0.0

### What operating system (Linux, Windows,...) and version?
Windows 11 22H2 22621.674

### What runtime / compiler are you using (e.g. python version or version

[2022-11-09 12:50] ak-em1603 commented on #31581
Adding few more details that I came across during debugging. In https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_channel.py, the `_handle_event() `method throws error for batch operation `cygrpc.ReceiveStatusOnClientOperation(_EMPTY_FLAGS)`.

<img width="789" alt="Screenshot 2022-11-09 at 6 16 19 PM" src="https://user-images.githubusercontent.com/101722789/200834116-71cc6764-8d0d-4

[2022-11-09 13:14] Hallot commented on #31356
Would it please be possible to create a new release with this fix?
It is not part of the latest 1.50.1.

Thank you.

[2022-11-09 13:37] agoodwin opened #31590 "A Types_ property (with a trailing underscore) is generated in C# for a message with a types field"
### What version of gRPC and what language are you using?
C# with the following NuGet packages:
* Google.Protobuf 3.21.9
* Grpc.Tools 2.50.0

### What operating system (Linux, Windows,...) and version?
Windows 10 Enterprise 21H2 19044.2130

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 17.3.6, dotnet 6.0.402

### What did you do?
I have created a m

[2022-11-09 15:02] ak-em1603 commented on #31581
@yashykt @gnossen Any updates on this? We are kind of blocked due to this. A quick resolution is appreciated.

[2022-11-09 15:37] allenporter commented on #30428
Some additional prior investigations into this:
- https://github.com/googleapis/python-pubsub/issues/728
- https://github.com/home-assistant/core/issues/66983
- https://github.com/home-assistant/core/issues/72886

When i was previously playing with changing the polling strategy I got inconsistent results when changing to `epoll1` but then also observed that it did not solve the issue.

[2022-11-09 17:13] vpekarek commented on #29672
Hi.
Updating `Grpc.AspNetCore` to version 2.49.0 help me with this problem.

[2022-11-09 17:41] jzabroski commented on #29161
I have not been able to reproduce. It may be a build break due to MSBuild's FastUpToDateCheck.  In either case, I think I am right about the root cause.

One thing I see consistently in the build logs is:

[code]

The URL redirects to https://github.com/dotnet/project-system/blob/main/docs/up-to-date-check.md .

So, I suspect the issue is actually a mix of MSBuild doing a bad up to date check and

[2022-11-09 21:42] subox opened #31598 "include/grpcpp/test/mock_stream.h is not installed without gRPC_BUILD_TESTS"
Hi,

Version:
`v1.50.0 & C++`

`include/grpcpp/test/mock_stream.h` is very useful for mocking. This header file is not installed by default. The only way to install it is to use: `gRPC_BUILD_TESTS`, which should be only set for building gRPC tests, not to install `mock_stream.h`.

Most people don't need gRPC tests binaries, which `gRPC_BUILD_TESTS` enables to build.

Using `gRPC_BUILD_TESTS` incre

[2022-11-10 00:00] #29480 closed

[2022-11-10 00:00] #29331 closed

[2022-11-10 07:25] kushagra-arta commented on #24048
@gnossen
[code]

This does not seem to work. Facing the same issue as @girirajthara. Any workarounds?

[2022-11-11 00:00] #22110 closed

[2022-11-11 07:26] cwhsu1984 commented on #27099
yesterday I upgrade my project from net6 to net7 and getting this error when doing `dotnet test`
my image is `dotnet/sdk:7.0.100-alpine3.16-amd64`

the command that gets error
[code]

the error shows
[code]

Is this due to the same reason?

[2022-11-11 10:50] ak-em1603 commented on #31581
The issue seems to be with reading trailing metadata. When I run the same setup on local **without ingress** i.e  `grpc_client => envoy => grpc_server`, I recieve the trailing metadata
[code]
But when the setup is `gprc_client => gce ingress => envoy => grpc_server`, the trailing metadata is not recieved. What might be the reason for same?

[2022-11-11 10:52] tonydnewell commented on #27099
@cwhsu1984 This looks the same as https://github.com/grpc/grpc/issues/24188 - see that issue for workarounds

The issue you've commented on _here_ enables a workaround by letting you to set the GRPC_PROTOC_PLUGIN environment variable to point to your own protoc plugin that has been built to work on Alpine. Again - see https://github.com/grpc/grpc/issues/24188

[2022-11-11 11:26] cwhsu1984 commented on #27099
I try belows but failed for the same reason, any suggestion?

use script
[code]

use before_script
[code]

[2022-11-11 11:49] tonydnewell commented on #27099
@cwhsu1984 Make sure you have Grpc.Tools version 2.50.0 or later
Also you may want to set PROTOBUF_PROTOC to point to the protoc executable (see https://github.com/grpc/grpc/issues/27099#issue-978102476)

[2022-11-11 14:27] serge30 commented on #31064
@gnossen, any updates on this?

[2022-11-11 16:32] cwhsu1984 commented on #27099
@tonydnewell after doing what you told me, my unit tests work now, thanks!

To sum up,
- upgrade Grpc.Tools 2.50.0
- export PROTOBUF_PROTOC and GRPC_PROTOC_PLUGIN

belows are modified script that works for me
[code]

[2022-11-12 00:01] SuitespaceDev commented on #31526
This conclusion is erroneous. A wide variety of current, past and future issues are addressed by this recommendation. The medium-term and long-term reality is one of freeing up vast quantities of the team's bandwidth.

Per scope; perhaps though that is quite a stretch. Ansible itself is out of scope, certainly. Targeting a particular technology vs another is a reasonable concern. However, with Ans

[2022-11-12 00:08] SuitespaceDev commented on #31526
Alternatively, come up with a more sane versioning strategy and build process.

[2022-11-12 15:17] techdragon commented on #25082
@pietrodn the issues appear to also affect the `grpcio-tools` package can you add that to your build example (and the repo where you've got working builds)

[2022-11-12 15:17] techdragon commented on #29262
@pietrodn the issues appear to also affect the grpcio-tools package can you add that to your build example (and the repo where you've got working builds)

[2022-11-12 22:24] pietrodn commented on #29262
@techdragon ✅  Done! https://github.com/pietrodn/grpcio-mac-arm-build/releases/tag/1.50.0

[2022-11-13 07:38] pietrodn commented on #25082
@techdragon ✅  Done! https://github.com/pietrodn/grpcio-mac-arm-build/releases

[2022-11-13 07:46] gpshead commented on #31240
This is not a gRPC bug.

The only _reliable_ solution is to not use `os.fork()` on macOS. Period.

If a process has _any_ threads running at the time the fork system call happened, on any platform, all bets are off. The Python runtime is not async-signal-safe (an never will be - that is impossible) so you cannot execute any Python code after fork from a process that had threads. Difficult to debug

[2022-11-13 08:02] lovesuper commented on #30723
The same story

[2022-11-13 12:03] ondrejkorol commented on #29843
Any news, please? This is still the issue for iOS 14.

[2022-11-13 19:59] InfiniteLife opened #31639 "C++ undefined reference to `grpc::g_core_codegen_interface'"
### What version of gRPC and what language are you using?
1.50, C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 22.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 11.3.0  cmake version 3.22.1 libprotoc 3.19.4

### What did you do?
[code]

(also tried to install to /usr)

made a meson script:

[code]
and then
[code]
### What did you

[2022-11-14 03:43] trapezoid commented on #25522
To run the macOS Standalone build, open "grpc_csharp_ext_dummy_stubs.c" in the Unity inspector and enable it for macOS Standalone build.

[2022-11-14 06:58] InfiniteLife commented on #31639
Seems like linking directly to the build folder against `-lgrpc++_reflection -lgrpc -lgrpc++ -labsl_synchronization` helped, and errors went away.

here was last error before linking absl:

[code]

[2022-11-14 08:12] sbricklayer commented on #28949
@tigeryang19 : Sorry for the late answer, I missed your post. I did not find an actual workaround, but we were able to replace the singletons in our application with scoped instances and this works without problems.

[2022-11-14 09:21] jtattermusch commented on #30746
The fix https://github.com/grpc/grpc/pull/31527 should be in the next Grpc.Tools release.

[2022-11-14 09:21] #30746 closed

[2022-11-14 13:37] Pascal1986 opened #31640 "Stream removed, when server stream takes more then 60 seconds in very specific scenario"
### What version of gRPC and what language are you using?
gRPC.Core 2.0.0.0 net standard 2.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Client within local network
Server in Azure with private IP connected to our local network using an internal Network hub.

### What did you do?
A stream

[2022-11-14 14:10] agoodwin commented on #31590
Hi @tonydnewell, thanks for looking into it and finding where that logic was.

I did check that repo, but apparently got it wrong and decided the logic wasn't in there. But knowing now that it is, for reference here's where the change was first introduced as afix: https://github.com/protocolbuffers/protobuf/issues/8810

Given this isn't a gRPC issue at all, I'll close this issue. I will enquire on

[2022-11-14 14:10] #31590 closed

[2022-11-14 14:30] eshikafe opened #31641 "TypeError: Couldn't build proto file into descriptor pool: duplicate file name"
### What version of gRPC and what language are you using?
[code]
### What operating system (Linux, Windows,...) and version?
[code]
### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
I am using the following command template to compile the .proto files in my `build.rs` file located here: https://github.com/eshikafe/bess-rs/blob/master/bui

[2022-11-14 14:32] eshikafe commented on #31641
The same problem is reported here: https://github.com/protocolbuffers/protobuf/issues/10158

[2022-11-14 15:05] eshikafe commented on #31641
Interestingly, when I downgrade the pip python packages, it gives me the expected result.

[code]

[2022-11-14 18:17] ben-xD commented on #31466
Thanks for your responses. It's interesting to read (and read again 😅). Looks like it will come in handy in the future.

I agree, in our case, the network (OpenVPN) sets `AAAA` record for services running on devices which don't support IPv6. It looks like there isn't really a way to disable these `AAAA` records. Another temporary workaround is to disable IPv6 on client machines.

Instead of adjust

[2022-11-14 18:17] #31466 closed

[2022-11-14 18:56] ejona86 opened #31644 "python: interop server image not build correctly"
As seen at https://source.cloud.google.com/results/invocations/d9401d96-b2cb-4587-a171-81965b544af1 (grpc_interop_tocloud):

[code]

[2022-11-14 18:59] ejona86 opened #31645 "python: No cross-language tests for pythonasyncio_server"
As noticed when looking at https://source.cloud.google.com/results/invocations/d9401d96-b2cb-4587-a171-81965b544af1 (grpc_interop_tocloud), pythonasyncio_server has no clients other than the [`http2`](https://github.com/grpc/grpc/blob/master/doc/http2-interop-test-descriptions.md) client hitting it.

See also #31644

[2022-11-14 19:05] gnossen commented on #31641
@eshikafe Thanks for the report. We'll look into this with the Protobuf team.

[2022-11-14 19:27] gnossen commented on #31644
@XuanWang-Amos This seems like it should be relatively simple and is probably a good way to get acquainted with the interop test framework. Would you mind taking a look?

[2022-11-14 19:33] ejona86 opened #31647 "Custom http2 interop client is not failing when server is not running"
grpc_interop_tocloud is passing. Yay! Except a server has been failing to start (#31644)... Maybe no tests are hitting it? No, the [http2 interop client](https://github.com/grpc/grpc/blob/master/doc/http2-interop-test-descriptions.md) is running against it. But no other clients are (#31645). So apparently the http2 interop client is broken, and succeeding even though no server is running.

https:/

[2022-11-14 19:52] ben-xD commented on #31466
Sorry, I should've said 🤓: there shouldn't be AAAA records for the service if IPv6 isn't supported by the service.

I only face this issue for developer machines, which use IPv6, requesting a service that doesn't support IPv6. All the production machines have IPv6 disabled.

I can and have done `a)` for my personal machine (OpenVPN allows you to set "IPv4 only" in it's advanced settings). However,

[2022-11-15 01:28] jzabroski commented on #29161
So, I was able to reproduce the issue locally (using large solution, not small repro), and the actual behavior astounded me.  MSBuild is building this particular project 3 times - one build is for the rebuild, another build is for designtimebuild.  I captured a binlog, so I just need to investigate further to figure out what is happening.

But here is the human readable log - it may raise some awa

[2022-11-15 01:31] jzabroski commented on #29161
@tonydnewell Got it.  Here is the issue: https://github.com/dotnet/project-system/blob/main/docs/design-time-builds.md#:~:text=Design%2Dtime%20builds%20are%20special%20builds%20that%20are%20launched%20by%20the%20project%20system%20to%20gather%20just%20enough%20information%20to%20populate%20the%20language%20service%20and%20other%20project%20services%2C%20such%20as%20the%20Dependencies%20node.

The

[2022-11-15 01:39] jzabroski commented on #29161
The workaround (which does not work if you have a CI build server with dirty/incremental checkouts and rebuild target instead of build target) is to build the 'bottom most' project in your dependency hierarchy that contains proto files by itself.  Or at least, that seems to be the workaround (in case anyone else finds this awful race condition problem)

[2022-11-15 10:51] eddyashton opened #31657 "Python/Core: Parsing error on client since v1.44.0, `UNAUTHENTICATED` error converted to `UNKNOWN, Stream closed`"
## Summary

There may be a bunch of red herrings in here, but I want to give as much details as possible in case any of it turns out to be relevant:

- We have our own network stack on the server, and we're using Python `grpcio` on the client
- We have a `StartTx` RPC, that we expect to return `401 Unauthenticated` errors for some calls, and we test that in our CI
- We recently added an AMD build

[2022-11-15 14:42] jzabroski commented on #29161
BTW, this would also explain the errors "Some protoc outputs were not generated" for other users. I bet the missing outputs were either deleted or generated in design time mode.

[2022-11-15 15:07] tonydnewell commented on #29161
@jzabroski thank you for your input. It's on my list to look at.

[2022-11-15 15:12] jzabroski commented on #29161
I logged a bug with the project-system team, but if you read their docs closely, they may close it as a wont-fix since the docs imply that custom targets should be aware of designtimebuild bleeding into build.  I personally think both sides (project-system and Grpc.Tools) are buggy. Fixing both would be ideal.  The project-system fix is to not execute the same project concurrently, twice. Put anot

[2022-11-15 17:52] XuanWang-Amos commented on #31644
Able to reproduce using this command:
`tools/run_tests/run_interop_tests.py -l python -s pythonasyncio --use_docker --http2_interop --internal_ci -t -j 8`

Looks like some issue with our docker set up.

[2022-11-15 18:53] yashykt commented on #31657
Thanks for raising this issue!

[2022-11-15 19:09] yashykt commented on #31657
Tagging @ctiller for promises related changes

[2022-11-15 19:40] yashykt commented on #31657
I've got a suspicion as to what's happening here, but I need to add a repro test case for this first, which is some non-trivial work that I need to time for. I'll try to do it in this week or the coming one

[2022-11-15 19:45] yashykt commented on #31639
The team doesn't have expertise with meson, but it seems like you've figured it out?

[2022-11-15 19:45] #31639 closed

[2022-11-15 19:50] yashykt commented on #31581
Just took a look at this, as @ak-em1603 observed, I do not see trailing metadata being received in the original logs

[2022-11-15 19:56] gnossen commented on #31581
@ak-em1603 Can you please provide some more details on the "GCE ingress" in your stack? This seems to be the relevant detail since removing it resolves the issue.

[2022-11-15 20:12] yashykt commented on #31344
The code provided is not enough to reproduce this, nor does it provide enough information to help us reproduce this on our own. My initial gut instinct is that there is an API usage issue over here, but I don't have anything more to go on.

[2022-11-15 20:12] #31344 closed

[2022-11-15 20:14] yashykt commented on #30979
@jtattermusch would be able to help you with that

[2022-11-15 20:26] yashykt commented on #30709
I took a look at the code, and it looks like just as you've noticed `watch_identity_key_cert_pairs()` needs to be invoked and optionally `set_identity_cert_name()`

[2022-11-15 20:26] #30709 closed

[2022-11-15 20:31] ctiller commented on #30425
Without a reproduction this is very hard to pin down... any chance of re-running with ASAN (since I suspect a use-after-free or similar *somewhere*)

[2022-11-15 20:36] yashykt commented on #31647
This needs to go on buganizer as per policy but tagging @gnossen

[2022-11-15 20:38] yashykt commented on #31640
@jtattermusch can you do the initial triage and if it is a Core issue, can you re-assign?

[2022-11-15 20:47] veblush commented on #30428
It looks like it was caused by epollex removal. We're working to introduce a better model there so I'm closing this. Please feel free to reopen this if needed.

[2022-11-15 20:47] #30428 closed

[2022-11-15 20:49] veblush commented on #31449
@jsofri If you can provide a small repro to reproduce your issue, it would be helpful for us to investigate. Cmake can go wrong in many ways.

[2022-11-15 22:19] gnossen commented on #31645
I will try to look into this in the next week or two.

[2022-11-15 22:27] gnossen commented on #30723
I believe the issues being reported in this thread are caused by toolchain issues. The ultimate fix is going to be publishing native M1 artifacts so that you don't have to have a developer toolchain installed. In the meantime, if you are still having issues building from source, I would recommend using Rosetta in x86 compatibility mode.

I suspect that the users reporting that changing Python vers

[2022-11-15 22:29] gnossen commented on #31240
@gpshead gave a great explanation. I don't think there's much we can do here.

[2022-11-15 22:29] #31240 closed

[2022-11-16 02:43] allenporter commented on #30428
Hi @veblush,  Thanks for the update. Do you have somewhere I can track progress or a rough expectation for a release being targeted? I'd like to be able to give an update or set expectations to some upset end users. Not sure if this a long term effort or short term change.

[2022-11-16 06:15] kzu commented on #26724
I'd advise dropping the (super old) .nuspec and switch to full MSBuild for packing (even directly from your .csproj). For that, there's no match to [NuGetizer](https://github.com/devlooped/nugetizer) (shameless plug)

[2022-11-16 08:05] ak-em1603 commented on #31581
[code]
This is the yaml config for ingress. This ingress when deployed has following components:-  TLS, Load balancer, Target proxies, Forwarding rules, Backend services.

[2022-11-16 10:14] eshikafe commented on #31641
Thanks @gnossen . A fix for this issue has been provided here: https://github.com/protocolbuffers/protobuf/issues/10158
Will this be included in grpc?

[2022-11-16 11:08] fbjorn commented on #27506
does anyone know similar command for poetry? (or better to say what parameters should I use)

[2022-11-16 17:40] giejay commented on #23172
@simon-anz Did you ever solve it? I'm having the exact same issue with my corporate proxy.

[2022-11-16 18:01] #31644 closed

[2022-11-17 00:07] shireresident commented on #23172
I got around this by bypassing the proxy for the needed google URLs. We had that option in our Corporate settings.

[2022-11-17 09:58] monachi commented on #29935
same in ruby gem, aarch64 is much larger

[2022-11-17 11:48] Danliran commented on #31344
Hi  yashykt, which API usage issue?

[2022-11-17 14:48] ondrejkorol commented on #29500
Any news, please? This crash is still present for iOS 14, App Store builds (using Firestore).
@dconeybe , @dennycd

[code]

[2022-11-17 18:21] gnossen commented on #29935
@jtattermusch Given that this is an issue with the arm64 build, does this fall in your domain or in ours?

[2022-11-18 02:34] va7ish opened #31695 "Add support for queuing arbitrary tags to completion queues"
### Is your feature request related to a problem? Please describe.
gRPC library threading model assumes that asynchronous handling of events and gRPC related work is handled through completion queues requiring dedicated application threads to process such events. Such worker threads also sometimes need to receive other notifications that are not generated by the gRPC traffic. The only mechanisms p

[2022-11-18 08:50] va7ish opened #31696 "Add support for associating completion queues with event FDs"
### Is your feature request related to a problem? Please describe.
Currently gRPC threading model is such that asynchronous handling of gRPC events/work requires dedicated worker threads. Works/events are delivered using completion queues. Such completion queues only support polling (deadline timeout <= now) or waiting ; i.e. with a deadline greater than zero (future). A single worker thread can't

[2022-11-18 09:21] JoacimWall opened #31698 "GRPC .net 7 and Azure app service not working"
In this video for .Net 7 and GRPC
https://www.youtube.com/watch?v=et_2NBk4N4Y
the say that GRPC should work on azure linux app service.

I have implemented following this guide with no success. https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/gRPC/use_gRPC_with_dotnet.md

this is my program.cs
`var builder = WebApplication.CreateBuilder(args);

    builder.WebHost.ConfigureKestrel

[2022-11-18 15:36] abax1 commented on #28387
Any updates on the fix to support apple silicon?  This is still not working for me.

[2022-11-18 16:17] pietrodn commented on #28387
@abax1 there is no fix to support Apple Silicon AFAIK. If you're interested I made [this unofficial repo](https://github.com/pietrodn/grpcio-mac-arm-build) with Apple Silicon builds (look in Releases)

[2022-11-18 18:01] veblush commented on #31696
I added AJ here because it sounds like this is going to be resolved once we have an EventEngine API landed. AJ, would you share your thought on this issue?

[2022-11-18 18:14] drfloob commented on #31696
Thanks @veblush .

@va7ish we are preparing a public API that will give users the ability to control all aspects of polling, event handling, and thread management. It's called the [EventEngine](https://github.com/grpc/proposal/blob/ef3750466557545445714173ef07df5cdd4cf06a/L82-core-event-engine.md). Our team is hard at work writing the initial default implementations for all platforms, and integrat

[2022-11-18 18:14] #31696 closed

[2022-11-18 18:22] drfloob commented on #31695
This sounds very closely related to the issue you posted in #31696, and it will also be solved by the EventEngine project, which gives the application full ability to control threading and polling behaviors. This is a valid request, and I'm glad you're interested! Closing as a duplicate.

[2022-11-18 18:22] #31695 closed

[2022-11-18 19:30] va7ish commented on #31696
Thank you @veblush and @drfloob. The EventEngine approach looks very promising!

[2022-11-18 21:29] XuanWang-Amos opened #31703 "Create a base class for SegregatedCall and IntegratedCall"
Create a base class for `cygrpc.SegregatedCall` and `cygrpc.IntegratedCall`.

These two classes have the `operate` and `cancel` methods in common, create a base class can help creating cleaner type hints.

[2022-11-18 21:34] XuanWang-Amos opened #31704 "Refactor internal data structure callbacks_and_connectivities"
`callbacks_and_connectivities` is a member of internal class `_ChannelConnectivityState`, currently it have a type of `List[Sequence[Union[
        Callable[[grpc.ChannelConnectivity], None], Optional[grpc.ChannelConnectivity]]]]` which can be simplified to `List[Tuple[Callable[[grpc.ChannelConnectivity], None], Optional[grpc.ChannelConnectivity]]]`.

This requires some changes to how we deal with

[2022-11-18 22:44] XuanWang-Amos opened #31706 "Update pytype version"
Currently we're using [2019.11.27 version](https://github.com/grpc/grpc/blob/master/tools/distrib/check_pytype.sh#L17), we want to update it to match the version used in g3.

Current version of pytype also have lots of `pyi-error` which we have to manually disable, ideally we should be able to remove those `pytype: disable=pyi-error` lines too after update.

[2022-11-19 00:00] #31082 closed

[2022-11-19 02:09] lmcdasi opened #31711 "How do I troubleshoot an intermitent "Exception deserializing request!" from python grpc ?"
I'm running a load test between a java grpc client & a python grpc server. And sometimes I'm seeing on the java side in an onError stream callback "Exception deserializing request!"

I found that this error comes from grpc: _server.py

Any way that I can get more from python ? Thank you.

[2022-11-19 04:01] fananchong opened #31712 "tcpdump determines that a message is received, but stream read is not responding"
gdb prints this stream object ：
[code]

[2022-11-19 04:03] fananchong commented on #31712
and i noticed ： stream_.read_ops_.saved_status_ = false

[2022-11-19 10:26] Japan50079 opened #31714 "C++"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough information to debug the problem,

[2022-11-19 10:27] Japan50079 commented on #31714
Okay

[2022-11-19 10:34] Japan50079 opened #31715 "Hi, which python version should we install exactly? Can you post a link for that version?"
Hi, which python version should we install exactly? Can you post a link for that version?

__最初由 @Recklessxq 在 https://github.com/KSCHdsc/BlackCap-Grabber/issues/20 发布__

[2022-11-19 10:44] Japan50079 opened #31716 "Morning"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

###

[2022-11-19 16:44] #31714 closed

[2022-11-20 00:00] #31711 closed

[2022-11-20 06:45] achimnol commented on #31240
I think the correct direction is that grpcio should NOT create any implicit background threads until the user actually calls any resource-initialization API *after* forking.

How could we track such implicit threads in grpcio, in a holistic view?

[2022-11-20 07:11] jsofri commented on #31449
the fix here was to explicitly list the required libraries in the specific order that allow compilation. I guess the CMake repo here assumes gRPC build with shared library.
in case this will be helpfull, here is the relevant section in `cmake/FindGRPC.cmake` I used
[code]

and in the file that uses this script:
[code]

[2022-11-20 07:11] #31449 closed

[2022-11-20 08:03] gpshead commented on #31240
Examine your process and see what started the threads, from https://github.com/python/cpython/issues/77906 it sounds like Apple system APIs themselves are starting background threads. Was grpc even involved at all?

While it is polite for libraries to not start threads without an explicit "okay, go" API call, this applies to all transitive dependencies of your application. If you understand and ma

[2022-11-20 08:59] anton3332 opened #31719 "C++ helloworld greeter_server too slow"
Hello.
I'm working with C++ examples helloworld, behchmarking it using ghz.
Server responds only about 13k requests per second.
It's not enought, how can I achieve move performance out of servers, thank you.

[2022-11-20 09:24] crdo0923 opened #31720 "C++ calendar"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

###

[2022-11-21 08:31] Schramp commented on #28524
Closed in  #28432

[2022-11-21 09:23] tonydnewell commented on #31698
I think this is gRPC dotnet (https://github.com/grpc/grpc-dotnet) not this legacy C# gRPC library.  You may want to ask the question here: https://github.com/grpc/grpc-dotnet/issues

[2022-11-21 15:15] jtattermusch commented on #30979
It seems that to get the fix available in Grpc.Core (which is in maintenance mode btw), it would be enough to simply backport the fix (https://github.com/grpc/grpc/pull/31098) to the v1.46.x branch (which is the LTS branch for Grpc C# 2.46.x).
So once https://github.com/grpc/grpc/pull/31098 is merged, I'd be happy to accept a backport PR.

[2022-11-21 15:20] jtattermusch commented on #30838
CC @veblush this might have to do with your recent PR.

[2022-11-21 17:10] #31716 closed

[2022-11-21 17:36] XuanWang-Amos opened #31725 "Refactor `_end_unary_response_blocking` function in `_channel.py`"
Currently this function returns two completely different response based on input, we should separate it into two functions.

[2022-11-21 20:59] springile commented on #31403
Hi Markdroth

What should be called before TryCancel is called ?

Thanks.

[2022-11-21 21:06] springile opened #31729 "TryCancel crashes with segment fault"
### What version of gRPC and what language are you using?
1.47

### What operating system (Linux, Windows,...) and version?
CewntOS 7.9

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc7.3

### What did you do?

TEST(ServerContextTest, TryCancelTest) {
grpc::ServerContext mock_context;

mock_context.TryCancel();
}

### What did you expect to see?
it should run

[2022-11-21 21:07] springile commented on #31729
As answered last time,

![image](https://user-images.githubusercontent.com/50204931/203158326-434fc966-f815-4a45-833b-4762068bef0d.png)

[2022-11-21 21:07] springile commented on #31729
What should be called before TryCancel is called ?

Thanks.

[2022-11-22 00:06] ylifigma opened #31733 "See goaway errors in Ruby client when enabling max_connection_age_ms from server side"
### What version of gRPC and what language are you using?
grpc v1.46.2, also happens in v1.51.0 (latest version).

### What operating system (Linux, Windows,...) and version?
M1 osx

### What runtime / compiler are you using (e.g. python version or version of gcc)
ruby 2.7.6

### What did you do?
We are seeing goaway errors in Ruby clients when enabling `max_connection_age_ms` to rebalance the con

[2022-11-22 03:22] gnossen commented on #31715
Our supported CPython version range is 3.7 through 3.11, inclusive. The current supported range is available [on our pypi page.](https://pypi.org/project/grpcio)

[2022-11-22 03:22] #31715 closed

[2022-11-22 12:53] arthur-tacca commented on #8442
Just a quick note that there is a surprisingly simple workaround for this issue.

Rather than: having a thread for pumping and handling gRPC completion queue, and somehow inserting your own custom events into the completion queue..

You could instead have two threads for processing:

* completion queue thread: just pumps messages off of the completion queue and immediately puts them onto a thread-

[2022-11-22 13:36] rigma opened #31737 "Unable to install grpcio 1.51.0 for Python on Mac OS Apple M1"
### What version of gRPC and what language are you using?

grpcio==1.51.0
grpcio-tools=1.51.0

### What operating system (Linux, Windows,...) and version?

Mac OS Ventura (Apple M1) 13.0.1

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.11.0 / 3.10.8 / 3.9.15

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specif

[2022-11-22 14:39] gnossen commented on #31737
Can you please upload the full logs? The line that has all of the information is somewhere in the clang invocations.

[2022-11-22 14:49] atrbgithub commented on #31737
This seemed to fix it for me:

[code]

[2022-11-22 15:01] ashu-ciena opened #31738 "gRPC server thread gets stuck after creating an Alarm object"
### What version of gRPC and what language are you using?
grpc 1.42, C++

### What operating system (Linux, Windows,...) and version?
Linux 5168 5.10.147-oneos-standard #1 SMP PREEMPT Mon Nov 21 04:26:32 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44.0.3)

### What did you do?

[2022-11-22 15:10] ashu-ciena commented on #31738
@yashykt Would you please take a look ?

[2022-11-22 15:29] piiq commented on #31737
Just to confirm that this is happening on arm based macs.
Pinning the grpcio version to <1.51.0 can be a temporary workaround for projects that use grpcio as a dependency

[2022-11-22 15:30] gnossen commented on #31737
[code]

I think @atrbgithub 's suggestion was correct. The issue here is definitely a lack of openssl installed.

To the folks experiencing this issue, is this actually a case where things were working fine on 1.50 and they are now not working well on 1.51? I was under the impression that boringssl did not function on M1.