[2015-08-05 15:27] ctiller opened #2802 "Disable 'Visual Studio 2013 build'"
It gives us no useful data

[2015-08-05 15:50] ctiller opened #2804 "Disable Mac Python Jenkins runs"
If we're not planning on shipping this soon, let's reduce the noise in Jenkins for everybody.

[2015-08-05 16:48] jcanizales commented on #2786
CC: @louiscryan

[2015-08-05 16:51] jcanizales opened #2805 "Use port server for ObjC tests"
Per #2788. The env variable `GRPC_TEST_PORT_SERVER` has the port server address. An HTTP GET to `/get` on that server returns a free port number in the body.

[2015-08-05 17:02] ctiller commented on #2805
grpc_pick_unused_port_or_die() does the right thing when running with
run_tests.py.

On Wed, Aug 5, 2015 at 9:51 AM Jorge Canizales <notifications@github.com>
wrote:

[2015-08-05 17:02] #2742 closed

[2015-08-05 17:06] jcanizales commented on #2805
Thanks for the tip. I can't start the server from the test code, though (the tests run in the iPhone simulator), so this is tricky.

[2015-08-05 17:17] jcanizales commented on #2795
Seems resolved now... I'll reopen if I see it again.

[2015-08-05 17:17] #2795 closed

[2015-08-05 17:29] jcanizales opened #2807 "iPhone simulator unable to boot on Jenkins Mac machine"
[Tests are failing](https://grpc-testing.appspot.com/job/gRPC_master_unstable/config=opt,language=objc,platform=macos/1190/console) with:

`xcodebuild[10509:78312023]  iPhoneSimulator: Timed out waiting 120 seconds for simulator to boot, current state is 1.`

Apparently [`xcodebuild` won't start the simulator if run via ssh](http://stackoverflow.com/questions/25380365/timeout-when-running-xcodebui

[2015-08-05 17:36] jcanizales commented on #2807
Step 4 of [this tutorial](http://pivotallabs.com/ios-ci-jenkins/) seems to be what we need.

[2015-08-05 18:40] #2730 closed

[2015-08-05 19:36] nathanielmanistaatgoogle commented on #2804
This turned out to be a non-coding meatspace work item and is now done. Thanks for the conversation @nicolasnoble and @ctiller.

[2015-08-05 19:36] #2804 closed

[2015-08-05 20:02] #1988 closed

[2015-08-05 20:02] #2659 closed

[2015-08-05 20:16] ctiller commented on #2534
In fact, it does already.

[2015-08-05 20:16] #2534 closed

[2015-08-05 20:55] soltanmm commented on #282
I don't believe Cython was an overreach, is an overreach, or will be an overreach. The current reasoning is that we know Cython will effectively fix the vast majority of Python 2->3 compatibility issues (the rest being small syntactic changes throughout the Python code). We know this because it was demonstrated earlier in #2243. Whether or not the rest of the team bites on Cython is partially depe

[2015-08-05 21:26] zayoo commented on #2786
Chrome 44: Trailer causes ERR_SPDY_PROTOCOL_ERROR. JavaScript gRPC call currently requires removing the trailer.
Firefox 39: Works fine without problem.
Opera 31: Trailer causes some strange problem that is not investigated yet. JavaScript gRPC call currently requires removing the trailer.

Other browsers are not tested yet, but only browsers supporting HTTP/2 can potentially support JavaScript gR

[2015-08-05 23:01] #2764 closed

[2015-08-05 23:02] a11r commented on #1798
This is mostly done I am just waiting on Python to finish their changes. Reassigning to @nathanielmanistaatgoogle .

[2015-08-05 23:05] a11r commented on #1416
The spec is done, and I have addedd a C++ interop test in #2808. This issue will be closed once I file corresponding issues against other languages to implement this interop test.

[2015-08-05 23:23] nathanielmanistaatgoogle commented on #1798
Nothing remains here beyond what's already being tracked in #2634; closing as duplicate.

[2015-08-05 23:23] #1798 closed

[2015-08-05 23:37] ctiller opened #2814 "Straw Poll: grpc_call and protobuf serialization ordering"
We're finalizing some census/core interactions, and I want to check if it's conceivable that wrapping code could be factored such that the following statement is true:
"grpc_call is created before serialization of protocol buffers is begun for unary calls"

me - C++
- [x] this is true now
- [ ] this could be true with work
- [ ] this is incompatible with my API

@tbetbetbe - Ruby
- [ ] this is tru

[2015-08-05 23:46] nathanielmanistaatgoogle commented on #2039
Retitled - I'm not aware of this happening with asynchronous (Future-returning) calls, only blocking calls.

[2015-08-06 06:23] jtattermusch opened #2817 "Expose channel_arg "grpc.compression_level" in core."
I think most wrapped languages will want to only expose compression_level enumeration (and not compression_algorithm) in the public API (otherwise things get unnecessarily complicated). This works fine until the point when user wants to set compression for a server/channel - which is done by a channel argument. Currently core only exposes channel argument "grpc.compression_algorithm", which is som

[2015-08-06 06:49] ctiller commented on #2817
We will get to this, but there's no chance of a sensible implementation before beta, and I'm not keen to expose a broken implementation as our only api.

[2015-08-06 07:10] jtattermusch commented on #2817
Ok, does that mean I need to come up with a workaround for now (and remove that workaround from the API once the right channel argument is available)? Probably yes.

Btw, it looks like C++ currently exposes  API to set compression level (or compression algorithm) for ClientContext and ServerContext  but is doesn't really look like the values set there are actually used anywhere. Does that mean we

[2015-08-06 16:33] ctiller opened #2820 "C# opt fails to build on linux Jenkins"
[code]

[2015-08-06 16:39] #2747 closed

[2015-08-06 16:40] #2518 closed

[2015-08-06 16:40] #2692 closed

[2015-08-06 16:55] #2381 closed

[2015-08-06 16:56] a11r commented on #537
There is is no good answer here. Servers listen on specific ports, and sometimes servers listen on specific ports but only on specific addresses. To cover the most general case, we need to take an addr parameter, but conceptually, this is telling the server what to listen on, and calling that an addr would be worse than calling that a port. We could name it grpc_server_add_[secure_]http2_addr_and_

[2015-08-06 17:32] jcanizales commented on #2433
I have a design that's non-breaking, so this might happen after Beta.

[2015-08-06 17:33] vjpai commented on #2444
This issue should be fixed "once and for all" when PR #2771 is merged. At that point, the C and C++ code will fully support gcc-4.4 running on Redhat 6. That said, you still need to get gflags, gtest, and protobuf following the instructions above, not using yum.

[2015-08-06 17:43] vjpai commented on #946
I believe that the initial reported bug is now working. Issue #957 was addressed in the code, but further tests are necessary and have been pushed to GA. I recommend closing this issue and reopening a new issue with the problem reported by @mikepb as I don't think that they are the same codepath at all.

Is everyone ok with that?

[2015-08-06 17:47] vjpai commented on #2235
Hello there,
Thanks for the issue. We'll fix this. Do you, by any chance, have any code that triggers this bug? If so, we can incorporate it into our test; otherwise, we'll write our own.
Thanks!

[2015-08-06 17:49] ctiller commented on #2452
I think this has been addressed. Please re-open if it's still a problem.

[2015-08-06 17:49] #2452 closed

[2015-08-06 17:50] ctiller commented on #2618
Fixed by #2813

[2015-08-06 17:50] #2618 closed

[2015-08-06 17:53] ctiller commented on #2015
This can be done (perhaps a little more awkwardly) after beta.

[2015-08-06 17:55] ctiller commented on #488
Current API's suffice for the public API surface. Cleanup is still needed internally.

[2015-08-06 18:13] larsonmpdx commented on #2595
this was fixed by setting /D "_USE_32BIT_TIME_T" in the c++ build command line of the hello world project, see:

https://groups.google.com/d/msg/grpc-io/nomFgnVbuFo/Xk9Qsy2SBwAJ

I feel kinda dumb.  todo: see if this affects any of the tests on windows (I can't get to this till september.  would be a useful exercise for a googler).  anyway, closing

[2015-08-06 18:13] #2595 closed

[2015-08-06 18:19] ctiller commented on #485
We generate libgrpc++_unsecure for this.

[2015-08-06 18:19] #485 closed

[2015-08-06 18:19] #487 closed

[2015-08-06 18:20] ctiller commented on #1809
Naming needs a release note.

[2015-08-06 18:24] jtattermusch opened #2822 "C# implement timeout_on_sleeping_server interop test"

[2015-08-06 18:25] ctiller commented on #1944
Moving out of beta milestone, but this is still a huge priority and we'll need it very early in the GA cycle.

[2015-08-06 18:28] endobson commented on #2235
I don't think I ever had code for this, I just was reading the the source to debug another issue and noticed this.

[2015-08-06 18:32] ctiller commented on #1793
Reassigning: @a11r is taking over the care and feeding of this document.

[2015-08-06 18:32] #2429 closed

[2015-08-06 18:37] vjpai commented on #1323
I haven't gotten any additional information to address this issue, so I'd like to close this issue. Please feel free to reopen if you want to add any information for debugging. Thanks!

[2015-08-06 18:37] #1323 closed

[2015-08-06 18:42] mikepb commented on #946
Sounds great. I found that using the gRPC client to connect to a `http://` server that does not implement gRPC reliably triggers the bug.

[2015-08-06 19:34] ctiller opened #2824 "Clean up channel interface in C++"
- delete ChannelInterface, expose only Channel - a concrete class
- make RegisterMethod, CreateCall and PerformOpsOnCall implementation private and accessible only to stubs

[2015-08-06 19:36] ctiller opened #2825 "Merge auth_property_iterator.h and auth_context.h"
Using one without the other doesn't make sense

[2015-08-06 19:46] ctiller opened #2827 "Rearrange C++ headers"
Move into impl/:
- async_unary_call.h

Move into support/:
- time.h
- slice.h
- config.h
- config_protobuf.h
- byte_buffer.h
- status_code_enum.h
- status.h
- fixed_size_thread_pool.h
- dynamic_thread_pool.h
- thread_pool_interface.h
- channel_arguments.h

Move into generic/:
- async_generic_service.h
- generic_stub.h

[2015-08-06 19:47] ctiller opened #2828 "Add README.md to include/grpc++/impl"
Stating that it's not a stable API

[2015-08-06 20:15] ctiller commented on #2458
No API change needed. #2829 gets the debug story marginally better. Will address sometime in the GA time-frame.

[2015-08-06 21:04] ctiller commented on #1002
Documentation only PR.

[2015-08-06 21:04] ctiller commented on #599
Documentation only PR.

[2015-08-06 22:01] #486 closed

[2015-08-06 23:13] jboeuf opened #2832 "JWT Verifier: Implement hard-coded URL mapping between issuer URL and key URL."

[2015-08-06 23:13] jboeuf opened #2833 "JWT Verifier: Implement caching for public keys and tokens"

[2015-08-06 23:14] jboeuf opened #2834 "JWT Verifier: Implement token caching"

[2015-08-07 00:57] jboeuf opened #2836 "master leaks"
[code]

[2015-08-07 01:35] #2836 closed

[2015-08-07 03:23] jtattermusch commented on #2439
Interop tests are passing

[2015-08-07 03:23] #2439 closed

[2015-08-07 03:31] jcanizales commented on #2314
Fixed in PR #2758.

[2015-08-07 03:31] #2314 closed

[2015-08-07 05:24] #599 closed

[2015-08-07 12:28] xinqianli opened #2839 "For Obj-C client, how to enable method calls from multiple services to share a underlying http channel?"
For C# client code, method calls from multiple services can share a underlying http channel, as following:
var channel = new Channel("localhost:50051", credentials);
var client = new Greeter.GreeterClient(channel,
        new StubConfiguration(OAuth2InterceptorFactory.Create(credential)));

But in Obj-C client code, it seems not working:
static NSString * const kHostAddress = @"http://localhost:50

[2015-08-07 17:19] hongweiwang commented on #2688
#2549 My zookeeper test under asan did not fail, but in the terminal it showed iomgr objects leaks.

[2015-08-07 17:21] #2507 closed

[2015-08-07 17:44] jcanizales commented on #2089
Let's also track in this issue implementing a way to let people assign credentials to a `ProtoService` object once and not having to worry about them anymore.

[2015-08-07 18:44] jcanizales commented on #2690
I was able to replicate it! :) Currently debugging it.

[2015-08-07 18:54] jcanizales commented on #2690
Stack trace and exception.
<img width="1440" alt="screen shot 2015-08-07 at 11 49 44 am" src="https://cloud.githubusercontent.com/assets/5120183/9143331/818218fc-3cfa-11e5-81bb-6038ef121194.png">

It seems the problem wasn't that `_enumerator` became `nil` (which would have just ended the loop). Rather than there's a race and, because object reads and writes aren't atomic in ARC, two happened conc

[2015-08-07 19:05] vjpai commented on #2287
Just confirmed that this is still a thing.

[2015-08-07 19:34] jcanizales commented on #2690
Notes:
* `ImmediateWriter->_writeable` was set to `nil` before its `startWithWriteable` returned from `writeUntilPausedOrStopped`.
* `ImmediateWriter->_state` was set to garbage after being set to `Started`.
* The while loop in `writeUntilPausedOrStopped` went through one iteration successfully, setting `value` to the `AUTHRequest` object. It's possible that a race between reading and setting `_st

[2015-08-07 21:19] jcanizales commented on #2690
Ok, (8) implies `finishWithError:` was called on the `GRPCCall`, which notably sets `_requestsWriter` to `nil` _after_ setting its state to `Finished`. Per `GRPCCall-writeValue:`, this could have been called from the completion queue thread when the first write failed.

[2015-08-07 21:53] jcanizales commented on #2690
The two alternative solutions are to make writers thread-safe (guaranteeing that state modifications take immediate effect _if_ they're made on the same thread that executed the writeable method / that started the writer), or to serialize all `GRPCCall`'s messages to its writer.

[2015-08-07 22:43] soltanmm commented on #2611
@nathanielmanistaatgoogle Now that I look at this a little more closely, I'm kinda confused: why are we raising an expiration error here?

[2015-08-07 22:55] hsaliak opened #2849 "Set up and host gRPC API docs for beta in gh-pages branch for C#"

[2015-08-07 22:55] hsaliak opened #2850 "Set up and host gRPC API docs for beta in gh-pages branch for Node"

[2015-08-07 22:56] hsaliak opened #2851 "Set up and host gRPC API docs for beta in gh-pages branch for Python"

[2015-08-07 22:58] hsaliak opened #2852 "Set up and host gRPC API docs for beta in gh-pages branch for PHP"

[2015-08-07 22:58] hsaliak opened #2853 "Set up and host gRPC API docs for beta in gh-pages branch for ObjC"

[2015-08-07 22:59] hsaliak opened #2854 "Publish gRPC API docs for Ruby"

[2015-08-07 23:02] soltanmm commented on #2851
Already addressed by #2657 and #2697.

[2015-08-07 23:02] #2851 closed

[2015-08-07 23:08] hsaliak opened #2855 "Review Beta API Docs in gh-pages branch"
- Tracking issue to review Beta API docs.
- Provide any styling/css changes

Checklist
- [x] #2851
- [ ] #2853
- [ ] #2852
- [ ] #2850
- [ ] #2572
- [ ] #2573

[2015-08-07 23:11] soltanmm commented on #2351
(... Does Travis overwrite log files after builds are restarted?)

[2015-08-08 00:12] soltanmm commented on #2509
(taking this until after it's been wrapped, then will pass back to @nathanielmanistaatgoogle)

[2015-08-08 00:48] soltanmm commented on #2636
(taking this to change the wrapper to allow the string arg passed to `grpc_channel_create_call ` to be `NULL`, then will pass back to @nathanielmanistaatgoogle)

[2015-08-08 00:49] soltanmm commented on #2181
(removing Python from the labels as we have another more specific issue #2564)

[2015-08-08 00:53] soltanmm commented on #2010
@haberman Would it be reasonable to enforce in the `protoc` Python plugin behavior that requires the package, if specified, to be the same as the paths along which the `.proto` files exist?

[2015-08-08 00:57] soltanmm commented on #2578
(taking this as the necessary interface isn't exposed to Python yet, will pass back to @nathanielmanistaatgoogle after it's been exposed)

[2015-08-08 00:59] soltanmm commented on #1616
(taking this as it isn't yet exposed to Python; will pass back to @nathanielmanistaatgoogle after it's been exposed)

[2015-08-08 01:19] vjpai opened #2857 "tsan-reported race in connectivity state code"
WARNING: ThreadSanitizer: data race (pid=11978)
  Write of size 4 at 0x7d540000fe18 by main thread (mutexes: write M1425):
    #0 grpc_connectivity_state_set_with_scheduler /var/local/git/grpc/src/core/transport/connectivity_state.c:123 (chttp2_fullstack_with_poll_cancel_after_invoke_unsecure_test+0x000000117646)
    #1 grpc_connectivity_state_set /var/local/git/grpc/src/core/transport/connectivit

[2015-08-08 02:13] vjpai opened #2858 "Test required for all GRPC_CALL_ERROR cases"
There should be a test that all GRPC_CALL_ERROR cases are, in fact, triggered when expected. At the current time, this only exists for INVALID_FLAGS.

[2015-08-08 02:15] #946 closed

[2015-08-08 02:16] vjpai opened #2859 "Bad response in iOS binding on gpr_mu_lock"
This bug was originally reported by @mikepb and has been separated from issue #946 .

I have also run into this issue using the iOS binding. The bug is reproducible on the latest master after attempting multiple connections to the RPC server within 30 seconds.

#2  0x000000019411eb18 in abort ()
#3  0x000000010016db94 in gpr_mu_lock at /Users/mikepb/Developer/M2Demo/Pods/gRPC/src/core/support/sync

[2015-08-08 02:17] vjpai commented on #2859
@mikepb also added: "I found that using the gRPC client to connect to a http:// server that does not implement gRPC reliably triggers the bug."

[2015-08-08 06:36] jcanizales commented on #2839
This should definitely not be the case :) The Obj-C client caches and reuses connections to the same host automatically. Are you actually seeing multiple channels being opened, or is it just that we should clarify it in the documentation?

[2015-08-08 16:18] ctiller commented on #2859
Most likely use-after-free fwiw.

On Fri, Aug 7, 2015, 4:17 PM Vijay Pai <notifications@github.com> wrote:

[2015-08-08 17:34] kianooshm commented on #2452
Thanks ctiller. I've completely restructured that software so no bidirectional connection between components anymore, and this problem didn't happen with unidirectional GRPC. I will reopen the bug if anything similar happened.

[2015-08-09 04:22] jcanizales opened #2865 "GRPCCall must set its state to Started when the call starts."

[2015-08-09 06:25] #2690 closed

[2015-08-09 08:16] jtattermusch commented on #2849
#2867

[2015-08-09 08:33] jtattermusch commented on #2820
This is nuget package download failing. Tests didn't even start running. Removing from beta.

[2015-08-09 18:58] jcanizales opened #2868 "Delete unused GRPCCall->_callAlreadyInvoked ivar"

[2015-08-09 19:01] jcanizales opened #2869 "Support parsing response protos outside the main thread"
At least a non-breaking design is needed before Beta.

[2015-08-09 19:03] jcanizales opened #2870 "The sample OAuth2 app isn't passing the certs from the bundle to the C library"

[2015-08-09 21:08] haberman commented on #2010
I don't think the Python generator could enforce this unless all generators did, and I think it's too late to try enforcing any kind of rule like this.

[2015-08-10 04:51] jtattermusch commented on #905
@degloff what version of visual studio are you using?

[2015-08-10 04:57] degloff commented on #905
Hi, I use VS 2013 update 5.

[2015-08-10 05:08] jtattermusch commented on #905
Ah, so when you said you installed VS 2013, it was on a different machine than where you develop and you were just trying to run the resulting app?

[2015-08-10 05:25] jtattermusch commented on #2784
Hi, can you attach the code you are running?

[2015-08-10 05:33] jtattermusch commented on #2784
Btw, the channel definitely is thread safe. Ideally, your app should be using just one channel to talk to a given server and you should be making all your calls using that channel.
You can also have multiple clients (for different services) use the same channel (if the server servers all those services of course).

Every channel creates it's own TCP connection, so based on what you describe it loo

[2015-08-10 05:37] jtattermusch commented on #2802
@nicolasnoble I will try to look at it tmrw.

[2015-08-10 07:53] degloff commented on #905
yes exactly, so eventually also the VS redistributable would do the job. I am not sure though because I did not test that.

[2015-08-10 16:05] #2741 closed

[2015-08-10 16:14] jcanizales commented on #2870
Fixed by PR #2871.

[2015-08-10 16:14] #2870 closed

[2015-08-10 17:12] #2290 closed

[2015-08-10 17:28] #2575 closed

[2015-08-10 17:29] #2514 closed

[2015-08-10 22:06] #2825 closed

[2015-08-10 22:06] #2339 closed

[2015-08-10 23:43] anthmgoogle opened #2881 "C Jwt Access Credentials should cache JWTs"
The JWT Access Credentials should temporarily cache JWTs. Suggested algorithm:
- Hash JWTs using Audience as key.
- Also store the timestamp of last use with each JWT.
- On access clear any JWT unused for more than 1 hour.

[2015-08-11 00:37] #2235 closed

[2015-08-11 01:04] soltanmm commented on #2855
Is this meant to be a meta-issue tracking several other issues, or is it meant to be for the *review* of the finished work addressing the linked issues?

[2015-08-11 03:17] xinqianli commented on #2839
Thanks @jcanizales . We tested it again and got the expected result that reuses the same connections. Sorry we didn't find why we saw multiple channels for the same host last week.

[2015-08-11 03:17] #2839 closed

[2015-08-11 07:21] zhenghub opened #2884 "cannot find -lgrpc and -lgpr"
I did as https://github.com/grpc/grpc/tree/master/src/python/README.md:
 1. $ make shared_c static_c
 2. $ tools/run_tests/build_python.sh

Then I meet two problems during the 2nd step:

/usr/bin/ld: cannot find -lgpr

I copied libgpr.so libgpr.so.0 libgrpc.so libgrpc.so.0 libgrpc_unsecure.so and libgrpc_unsecure.so.0 under libs/opt which may be generated by step 1 to /usr/libs to fix this problem

[2015-08-11 11:15] tbetbetbe commented on #2517
This is already possible:
- server handlers already have access to metadata that is sent to them
- stubs can add arbitrary metadata
- if the code in the server handler makes a request via a stub, the application writer can already propagate the values in the incoming to the outgoing

Will mark as closed for now, please re-open if there is more to this issue

[2015-08-11 11:16] tbetbetbe commented on #2563
This is a duplicate of #2181

[2015-08-11 11:16] #2563 closed

[2015-08-11 11:32] tbetbetbe commented on #2212
The failure is 'Deadline Exceeded' meaning that the test is running an rpc against a server and the server is failing to respond in reasonable time.  This specific test whose description states 'should receive metadata if a deadline is specified' deliberately sets a deadline to confirm that metadata
is still received even when the deadline is set.

I will leave this open, but plan no further actio

[2015-08-11 11:57] tbetbetbe commented on #2614
I'd like this issue and similar ones to get feedback from our internal ruby API reviewers.
- The API as is already idiomatic for ruby/node/php/python etc.
- The default insecure sentinel object being proposed in a idiom from other programming languages

[2015-08-11 12:23] tbetbetbe commented on #2220
@dhermes - just to clarify for @jayantkolhe
- so far, we have been aiming for a one-line installer focusing on a non-system install of grpc
- the thrust of this issue is that since we can't know whether a user wants a system install or otherwise, our installation instructions should not actually favor the non-system install as it currently does
- i.e we should always have two steps rather than one

[2015-08-11 14:16] dhermes commented on #2220
Also `linux-brew` is essentially unknown by Linux users.

[2015-08-11 14:34] #2520 closed

[2015-08-11 16:52] #2546 closed

[2015-08-11 17:00] #2523 closed

[2015-08-11 17:43] murgatroid99 commented on #2517
That stuff is not sufficient. This is referring to the core API exposed in #2750, and also maybe somehow related to the API exposed in [census.h](https://github.com/grpc/grpc/blob/master/include/grpc/census.h).

[2015-08-11 18:02] #1002 closed

[2015-08-11 18:03] ctiller commented on #2517
Plumbing up #2750 is sufficient.

On Tue, Aug 11, 2015, 7:44 AM Michael Lumish <notifications@github.com>
wrote:

[2015-08-11 19:41] yang-g commented on #1791
#2806 defines the spec.

[2015-08-11 20:42] #1590 closed

[2015-08-11 20:59] nathanielmanistaatgoogle commented on #2010
Despite being the individual who opened this issue... I'm not actually sure that there's a problem here. I certainly am not aware of a Beta-required need being tracked here. Do you agree @tbetbetbe?

[2015-08-11 22:47] #1632 closed

[2015-08-11 23:53] tbetbetbe commented on #2086
I'm have removed this from Beta and am closing this: @jayantkolhe
- the failure 'assertion failed: pthread_mutex' is indicative of a core issue
- this happened on a much older version of the core and so in practice is non-reproducible

[2015-08-11 23:53] #2086 closed

[2015-08-12 00:01] #2638 closed

[2015-08-12 00:24] soltanmm commented on #2884
This is a documentation bug. Those particular instructions are stale to the tune of... several months.

[2015-08-12 00:30] soltanmm commented on #2716
Seems fairly clear. Closin'.

[2015-08-12 00:30] #2716 closed

[2015-08-12 02:08] zhenghub commented on #2884
Thanks, this helps and I don't need to copy the generated libs to /usr/lib.
But still meet the 13 errors: "/usr/lib/libgrpc.so.0: undefined symbol: GENERAL_NAME_free".

grpc_interop/_insecure_interop_test.py:34: in <module>
    from grpc.early_adopter import implementations
../../../python2.7_virtual_environment/local/lib/python2.7/site-packages/grpc/early_adopter/implementations.py:34: in <module

[2015-08-12 02:26] soltanmm commented on #2884
Have you ensured that the system libs you copied are removed? Do you have the right version of OpenSSL installed (>`1.0.2d`)? Barring that, did you `git submodule update --init` before running `make`? Did you change where the files were located since building Python? Have you tried, from a fresh repository clone, to repeat the steps?

[2015-08-12 03:52] jtattermusch commented on #1997
https://github.com/grpc/grpc/pull/2895

[2015-08-12 03:54] jtattermusch commented on #1239
@jayantkolhe  I don't think this is needed for beta. Mac is not our primary platform, we have higher priorities. This can be fixed later without breaking the API.

[2015-08-12 03:58] jtattermusch commented on #2434
#2895

[2015-08-12 06:16] zhenghub commented on #2884
OK, I redo all the steps from a fresh repository finally succeed. Maybe the key is "git submodule update --init". It always failed because of network problem to execute "git submodule..." while this time succeed.
Thanks!!

[2015-08-12 09:23] soltanmm opened #2896 "Python out-of-project-tree README.md is stale"
This [README.md](https://github.com/grpc/grpc/tree/master/src/python/README.md) file is stale. However, it's not clear to me why we'd want to have it, given that we're distributing `README.rst` files via the PyPI projects and the `README.md` never appears among those files.

Do we want to keep this file and update it, if only to give people browsing GitHub something to look at?

cc @nathanielmanis

[2015-08-12 09:24] soltanmm commented on #2884
You're welcome!

(Moved documentation issue to #2896)

[2015-08-12 09:24] #2884 closed

[2015-08-12 14:56] vjpai commented on #2859
Right, and I expect that the problem is actually occurring in core even though it's exposed here in Objective C.

[2015-08-12 14:58] vjpai opened #2898 "Fix test/cpp for compliance with MSVC 2010"
Use this issue to track compatibility.
For now, the obvious issues are use of std::unique_lock , std::mutex , and std::lock_guard . We should instead use the grpc:: versions of these in test just as they are used in src

[2015-08-12 15:02] nathanielmanistaatgoogle commented on #2896
I'd like to avoid having the file at all but I think we put it there at release time as part of an all-wrapped-languages decision to have installation instructions there. It may be time to reconsider?

[2015-08-12 16:22] ctiller opened #2899 "Remove gpr_cancelable"
We don't use it, and likely don't want to support it.

[2015-08-12 16:35] #2640 closed

[2015-08-12 18:14] #2752 closed

[2015-08-12 19:40] murgatroid99 commented on #2752
The newly published 0.10.1 package should fix this.

[2015-08-12 20:12] murgatroid99 opened #2904 "Fix deprecation warnings in Node extension"
The Node library currently uses functions that were deprecated in the most recent compatible release of nan. We should stop using those functions to minimize the warnings our users see.

[2015-08-12 20:14] murgatroid99 opened #2906 "Update Node to the new version of nan"
Version 3.0 of nan was recently released, and it has a completely different namespace structure than the previous version. It also looks like it has some useful additions.

[2015-08-12 21:31] #1997 closed

[2015-08-12 21:40] nicolasnoble commented on #2807
That should be now in. Please verify and close if that's the case.

[2015-08-12 21:50] #2849 closed

[2015-08-12 22:13] murgatroid99 commented on #2850
Should I wait until the API is completely finalized before I do this?

[2015-08-12 22:20] jtattermusch opened #2911 "Make sure the way we construct URI used for JWT access token is consistent across languages."
# STATUS: don't implement the functionality yet, needs more thought.

We should have a unified way authUri (the Audience field) for JWT access token is created from channel target:

-- remove optional "dns:///" prefix
-- remove optional ":number" port suffix
-- add "https://" prefix
-- add fully qualified service name

Please follow reference implementation in Node:
https://github.com/grpc/grpc/pu

[2015-08-12 22:23] jtattermusch commented on #2911
@jboeuf  for C++  and to bless this approach.

@nathanielmanistaatgoogle , @stanley-cheung, @tbetbetbe for their languages.

[2015-08-12 22:23] jtattermusch commented on #2911
@ejona86  FYI

[2015-08-12 22:24] jtattermusch commented on #2911
For Node this was implemented by #2901

[2015-08-12 22:27] jtattermusch commented on #2911
@iamqizhao (Go) FYI

[2015-08-12 22:39] ejona86 commented on #2911
Shouldn't we only remove the port number if it is 443?

[2015-08-12 22:39] ctiller commented on #2911
Let's make this part of core, to centralize how this gets implemented a
little. Zookeeper targets (for example) will likely have a different
algorithm than is presented here.

On Wed, Aug 12, 2015, 12:27 PM Jan Tattermusch <notifications@github.com>
wrote:

[2015-08-12 23:04] jtattermusch commented on #2911
@ctiller, zookeeper is not going to be used for google APIs which is what we mostly care about for now, right?
What you're saying is worth considering, but implementing at least this basic approach with makes sure that user will be able to access google apis without problems sounds like a good idea to me.

[2015-08-12 23:10] ctiller commented on #2911
The approach is unmaintainable for the same reasons as we introduced code
to supply the default host to calls... any work in this direction is going
to need to be ripped out and replaced in short order. dns:/// really is
just one way that targets are named with grpc (and may not even end up
being the most common way) - cementing it as the only way within our
wrapped languages seems like a losing m

[2015-08-12 23:30] jboeuf commented on #2911
I think that we should have a short meeting on the issue early next week. I'll schedule something.

[2015-08-12 23:36] #2517 closed

[2015-08-12 23:56] #2444 closed

[2015-08-12 23:58] jtattermusch commented on #2911
Ok, looks like this is a much bigger issue than I originally thought. Thanks for the pushback guys and let's try to figure out what exactly the behavior around auth_uri should be in the meeting next week.

[2015-08-13 00:12] jcanizales commented on #2807
A run [~1h after your message](https://grpc-testing.appspot.com/job/gRPC_master_unstable/config=opt,language=objc,platform=macos/lastBuild/) didn't get it right :( Maybe wait till the next?

[2015-08-13 00:19] #2484 closed

[2015-08-13 00:31] #2512 closed

[2015-08-13 01:07] nicolasnoble commented on #2807
After some more digging, it seems you have to go with the full 9 yards of running Xcode once, building a dummy iOS app once, and running it once, before everything's set up to run it automatically from the command line. Done that now. Let's see what will happen for the next build.

[2015-08-13 01:14] cjdrake commented on #2444
Thanks, guys :)

[2015-08-13 03:47] jcanizales opened #2913 "Test that KVO can be used on call.responseHeaders"

[2015-08-13 04:13] jcanizales commented on #2865
@jayantkolhe  This is just a bug; there's no API change involved.

[2015-08-13 04:18] jcanizales commented on #2805
@jayantkolhe This is a nice-to-have for our testing infrastructure. Not needed for Beta.

[2015-08-13 04:21] nicolasnoble commented on #2807
https://grpc-testing.appspot.com/job/gRPC_master_unstable/1361/config=opt,language=objc,platform=macos/console

This seems to be actually running the simulator now.

[2015-08-13 04:47] jcanizales commented on #2807
The log of the failure is similar to the one in [these](http://stackoverflow.com/questions/29208662/xcode-server-ci-bot-test-session-exited-1) [two](http://stackoverflow.com/questions/31475102/xcode-unit-tests-test-session-exited-1-without-checking-in/) StackOverflow questions. There are two suggested solutions:

* [create a plist file in ~/Library/LaunchAgents, and have that user continuously log

[2015-08-13 04:53] jcanizales commented on #2807
From [these intructions](http://pivotallabs.com/ios-ci-jenkins/), there should be a `org.jenkins-ci` file in a `LaunchDaemons/` directory, which is what we'd have to move to `LaunchAgents/`.

[2015-08-13 04:56] jcanizales commented on #2642
@jayantkolhe This has no effect on the API surface; there's no reason for it to be Beta.

[2015-08-13 04:57] jcanizales commented on #2853
I think this is a duplicate of #2582.

[2015-08-13 04:59] jcanizales commented on #2547
@jayantkolhe  This is low priority for iOS, and it won't be breaking for the API if we decide to expose it.

[2015-08-13 05:03] jcanizales commented on #2524
@jayantkolhe When we let the developer add its user agent to be sent along with ours, it'll be a non-breaking change to the API.

[2015-08-13 05:19] jcanizales commented on #2433
@jayantkolhe As clarified in the last meeting, the default of the C library is to not compress anything, so the current status is secure.

Compression is very important for mobile use cases, though, so we'll definitely let the user specify a compression algorithm per host, and whether to disable compression per proto message (or binary message in the case of the raw gRPC library). None of those tw

[2015-08-13 05:31] jcanizales commented on #2114
@jayantkolhe This is a non-breaking addition to the API (just adding a `timeout` property to the `GRPCCall` class). It's very low priority for mobile use cases (during the library review the decision was made to not even document its existence, because it leads to people unknowingly setting timeouts that are too low for the cell networks of developing countries).

Because other non-API-breaking is

[2015-08-13 05:33] jcanizales commented on #2119
This is blocked on issue #2807.

[2015-08-13 05:36] jcanizales commented on #2094
@jayantkolhe This won't break client applications; it'll just make life easier to the developers who decide to use it.

[2015-08-13 05:44] jcanizales commented on #2089
@jayantkolhe I have this almost ready ([diff here](https://github.com/grpc/grpc/compare/master...jcanizales:ease-async-access-tokens?expand=1)), but it ended up being exclusively additive to the API, not breaking. So it can be finished and merged after Beta.

[2015-08-13 05:51] jcanizales commented on #2120
@jayantkolhe Making this work externally isn't required for Beta. It depends on a Bazel BUILD file being publicly available for OpenSSL, which is a can of worms.

[2015-08-13 05:58] jcanizales commented on #2913
Note: [KVO Compliance](https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/KeyValueObserving/Articles/KVOCompliance.html) in case they don't.

[2015-08-13 13:51] nickdul commented on #2505
The issue still reproduced in `Grpc 0.6.1` package (installed via NuGet).
The only way to make it working - switch solution platform to x86.

[2015-08-13 14:05] nickdul commented on #905
Getting `BadImageFormatException` exception trying to run program built against AnyCPU platform:
[code]

Configuration:
`Grpc 0.6.1` (installed via NuGet)
Visual Studio 2013 Update 5
Windows 8.1 Pro 64-bit
(VS2013 redistributable were installed as well)

__The only way to make it working - switch solution platform to x86.__

[2015-08-13 15:46] murgatroid99 commented on #2642
This could change the surface. We can pass NULL as the default host, but we also should have a way to set a different host on a per-call basis.

[2015-08-13 16:44] nathanielmanistaatgoogle opened #2916 "Conceptual mismatch on service-side message reading"
At this time the grpc._adapter._intermediary_low API for service-side reads is "always be reading, and when a read comes back empty that indicates the invocation-side having finished its writes". That API interferes with the "only read when the application has granted allowance to read" semantics of how we're doing flow control at the links layer, and I'm resolving it for now by introducing capaci

[2015-08-13 17:09] jcanizales commented on #2642
Well that's a different feature request; you can't do it today either. It's pretty rare to want to do it from a mobile device though (I've asked and only heard of a use case inside proxies, and without details), so I'm positive we can do it additively if we decide to.

[2015-08-13 17:16] #2496 closed

[2015-08-13 17:51] nicolasnoble commented on #1912
A bunch of the tests have been flagged now to be Posix only.

[2015-08-13 17:51] #1912 closed

[2015-08-13 18:10] soltanmm commented on #2916
This will be nice-er-ish once the adapter-of-adapter-of-adapter layers are squashed together.

[2015-08-13 18:18] yang-g commented on #2674
This seems to be a duplicate of #483.
The fix is to return UNIMPLEMENTED.

[2015-08-13 18:18] #2674 closed

[2015-08-13 18:28] yang-g commented on #1200
Can we still reproduce the issue now? I am not sure whether it has been fixed or not.

[2015-08-13 19:36] mzhaom opened #2923 "bazel BUILD is missing dependency to zlib"
[code]

[2015-08-13 20:08] jayantkolhe commented on #2582
Closing as dupe of #2853

[2015-08-13 20:08] #2582 closed

[2015-08-13 20:16] #2511 closed

[2015-08-13 20:18] jayantkolhe commented on #1329
dupe of #2537

[2015-08-13 20:18] #1329 closed

[2015-08-13 20:43] yang-g commented on #877
For interop protos, some wrapped languages have their own copies of files with proto2 syntax since the proto3 support is not there yet. I will file separate issues to resolve some of those.

[2015-08-13 20:56] yang-g opened #2927 "Use proto files under test/proto for C# interop tests"
This will need to wait until C# supports proto3. The C# local copy should be removed then.

[2015-08-13 20:57] #1791 closed

[2015-08-13 21:16] #2899 closed

[2015-08-13 21:49] soltanmm opened #2929 "Symlinks in the repository to share `*.proto`s"
Specifically to address concerns first raised in #526.

Yay, nay, reasons for, reasons against? Questions raised?

[2015-08-13 21:51] nathanielmanistaatgoogle commented on #2929
Yay. Alternative means to accomplish the same task would be... duplicated resources in source control? Or convoluted make/other-build-tool rules to create copies at build-time?

[2015-08-13 21:56] murgatroid99 commented on #2929
[This StackOverflow question](http://stackoverflow.com/questions/11662868/what-happens-when-i-clone-a-repository-with-symlinks-on-windows) indicates that symlinks do not download as such on Windows.

[2015-08-13 22:00] nicolasnoble commented on #2929
Yes, please do not use symlinks.

[2015-08-13 22:01] nicolasnoble commented on #2929
Also, I'd rather have the proto files in src/proto for instance.

[2015-08-13 22:12] nicolasnoble commented on #1799
Technically done in #2612, but re-assigning to @ctiller for double-checking if everything was covered, and potentially doing the same with the channel state API (or not).

[2015-08-13 22:12] vjpai opened #2930 "Check if channel connectivity APIs need extra reserved argument"
... a separate issue to complete the work that was hinted at in comments in #2612

[2015-08-13 22:13] vjpai commented on #1799
Oops! I just created a new issue to see about doing this for channel
connectivity. I will close that up as a dupe.

On Thu, Aug 13, 2015 at 3:12 PM Nicolas Noble <notifications@github.com>
wrote:

[2015-08-13 22:13] vjpai commented on #2930
This is a duplicate of the latest comment on #1799 . Closing as duplicate.

[2015-08-13 22:13] #2930 closed

[2015-08-13 22:15] jboeuf commented on #1799
Assigning myself to take care of grpc_security.h.

[2015-08-13 22:30] #483 closed

[2015-08-13 22:36] #877 closed

[2015-08-13 23:07] soltanmm commented on #2929
If we put everything in a centralized location, we'd need to have build tool support *anyway* for languages that require in-tree and directory-structured `.proto` files (e.g. Python). At that point, what's keeping us from using solutions akin to e.g. [this](http://stackoverflow.com/a/16754068/1467466) on Windows?

[2015-08-13 23:22] nicolasnoble commented on #2929
What's preventing us is indeed custom git stuff. The problem is that we are a public repository, and we can't force everyone who's going to clone from us to tweak / mangle their git installation.

[2015-08-13 23:34] soltanmm commented on #2929
Works for me.

[2015-08-13 23:34] #2929 closed

[2015-08-14 02:10] jcanizales commented on #2869
@jayantkolhe I have a design and this won't be involve an API change; it'll be the default behavior as expected.

[2015-08-14 02:11] jcanizales commented on #2431
@murgatroid99 The Blaze work and the design for https://github.com/grpc/grpc/issues/2869 took my whole day; I didn't have time to test this :(

[2015-08-14 02:19] dgquintas opened #2936 "src/cpp/server/server.cc fails to compile under gcc 4.4"
[code]

[2015-08-14 02:20] dgquintas commented on #2936
@vjpai FYI given your recent dealings in these matter

[2015-08-14 02:29] maxhawkins commented on #1200
I believe this has been fixed. I recompiled last June and the steps I took
to trigger the bug before (closing mid-stream) no longer triggered the bug.
On Fri, Aug 14, 2015 at 01:29 Yang Gao <notifications@github.com> wrote:

[2015-08-14 03:00] vjpai commented on #2936
Ok. More motivation for getting Jenkins in for gcc 4.4

On Thu, Aug 13, 2015, 7:20 PM David G. Quintas <notifications@github.com>
wrote:

[2015-08-14 16:19] #2510 closed

[2015-08-14 16:49] vjpai commented on #2936
I'll take this back from Yang. I've got an instance open with this setup, so I can test it quickly.

[2015-08-14 16:49] vjpai commented on #2936
Got it. emplace_back template on gcc4.4 doesn't like interacting with our nullptr anonymous class.
I'll send in a PR shortly.

[2015-08-14 16:50] vjpai commented on #2936
Ironically, this would have been fine if it weren't for my comment on Yang's PR.

[2015-08-14 16:52] ctiller commented on #2936
Is it time to kill nullptr?

On Fri, Aug 14, 2015, 6:50 AM Vijay Pai <notifications@github.com> wrote:

[2015-08-14 16:58] vjpai commented on #2936
"Delenda est Carthago" ? I'm just worried about throwing out the baby with the bathwater. Getting this into Jenkins would make sure that we don't merge without building it there, and that would have spotted this error. Let's evaluate.

[2015-08-14 17:09] murgatroid99 commented on #2859
Possibly related: I consistently get a different failure when I run my Node tests:

[code]

[2015-08-14 17:11] stanley-cheung opened #2940 "Node: Object #<Server> has no method 'listen'"
Was trying to run

`nodejs interop/interop_server.js --port=7074 --use_tls=true`

Got this error

[code]

[2015-08-14 18:48] murgatroid99 opened #2946 "Make sure the Node server doesn't lock up when shutting down"
When the Node server shuts down, it waits for all calls to finish. If some calls are still pending and don't have a timeout, the shutdown may never finish.

[2015-08-14 18:50] soltanmm commented on #2946
Is this behavior something all languages should have?

[2015-08-14 18:52] murgatroid99 commented on #2946
I think that we should try to make sure that when we shut down a server, it finishes shutting down.

[2015-08-14 19:47] ctiller commented on #2936
Yeah, just worried about increasingly complicated workarounds when we could
just not use nullptr.

On Fri, Aug 14, 2015, 6:58 AM Vijay Pai <notifications@github.com> wrote:

[2015-08-14 20:08] #2940 closed

[2015-08-14 21:57] nicolasnoble commented on #2537
They now all compile. They may not all work, but they all compile.

[2015-08-14 21:57] #2537 closed

[2015-08-14 22:13] nathanielmanistaatgoogle commented on #2946
@soltanmm: Python servers will have two shutdown methods, one for "graceful" shutdown (stop accepting new RPCs but complete those already being serviced) and one for immediate shutdown. Both methods will be idempotent, meaning that a server owner can indicate graceful shutdown, wait five minutes, decide to be done with waiting, and immediately shut down the server.

[2015-08-14 22:18] #2181 closed

[2015-08-14 22:55] soltanmm commented on #2946
@nathanielmanistaatgoogle A'ight.

[2015-08-15 00:23] nicolasnoble commented on #1453
This should no longer happen now.

[2015-08-15 00:23] #1453 closed

[2015-08-15 19:57] #2923 closed

[2015-08-17 02:27] andrewpollock opened #2950 "FTBFS (32-bit): overflow in implicit constant conversion"
This is a reproduction of the bug report at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=795766

In an ideal world, correpondence including 795766-forwarded@bugs.debian.org would keep our bug tracking system in the loop.

Builds of grpc for 32-bit architectures (i386 and powerpc so far) have
been failing:

[code]

[2015-08-17 16:52] #2516 closed

[2015-08-17 17:06] nathanielmanistaatgoogle opened #2952 "Implement grpc._links.service._Kernel.immediate_stop"
Right now it's a TODO blocked on "after merge of rewritten lower layers". In that case, now might be the time to rewrite the lower layers? Chat with me if this starts looking like significant work.

[2015-08-17 17:17] nathanielmanistaatgoogle opened #2953 "RPC methods should appear on "dir" of a generated stub"
Currently the way we use a "dynamic" stub, programmers can't check the presence of an RPC method as an attribute on the stub; they have to simply trust that it's there.

It might be nice to support showing the RPC methods on a stub as attributes.

[2015-08-17 17:31] muisaja7 commented on #2952
Its ok

[2015-08-17 19:07] murgatroid99 commented on #2231
PHP is a little tricky, because of the Autoconf->Automake->make build process that is more complicated than the other languages. There is an autoconf macro for `pkg-config`, but if `pkg-config` is not present in the system, autoconf will just fail. Alternatively, we can use the same build-time `pkg-config` detection we use with the other languages, but the multiple levels of code transformation ma

[2015-08-17 19:38] tbetbetbe commented on #2532
The logging and minitest dependencies ought to removed; the linked PRs do this.

GRPC Ruby will install its interop_client as an example binary and it does depend on googleauth, so that dependency is required.

[2015-08-17 19:40] #1200 closed

[2015-08-17 19:45] murgatroid99 opened #2957 "Tolerate grpc.status.INTERNAL in node tests"
I just saw #2685 appear as a Node flake.

[2015-08-17 19:58] murgatroid99 commented on #2532
Can you make `googleauth` a developer dependency, so that users can choose whether to install it?

[2015-08-17 21:04] nathanielmanistaatgoogle opened #2959 "Flesh out the base layer test suite"
Currently the base interface test suite (grpc_test.framework.interfaces.base) is little more than a smoke test and nowhere near as comprehensive as I'd like it to be. After Beta would be a good time to try to complete it.

[2015-08-17 23:02] simonrussell commented on #2532
Thanks for those pull requests -- I'm not familiar enough with the project and its motivations to really do the work myself at this point.  However, I think I'd have to say that if interop_client is just an example binary, then perhaps it doesn't belong in the gem at all?

[2015-08-18 00:39] nathanielmanistaatgoogle opened #2967 "How often are the interop tests run from scratch?"
@soltanmm and I were just alerted by @ejona86 to a problem in the Python Dockerfile - we had forgotten to update a path following a big source reorganization a few weeks ago.

How often are the Dockerfiles used in interop testing, and the Docker images rebuilt from scratch? We had thought this was something that happened every day, at least, but our Dockerfile has been broken for at least the last

[2015-08-18 01:24] ejona86 commented on #2967
I do see that build 671 has the failure in the logs:
[code]

You can see at the end it moves on to the next image (go). The build overall was considered a success. It seems we may not be error-handling appropriately, or at least making it obvious when an error occurs.

[2015-08-18 01:26] ejona86 commented on #2967
Also, I did check, the latest interop results showed passing with Python, even though we know it wasn't able to build the docker image.

[2015-08-18 16:23] ctiller commented on #2950
Hey Anthony,

It looks like a test-only compilation failure. I'm getting a test
environment set up here, and hope to make the fixes shortly.

Craig

On Sun, Aug 16, 2015 at 7:27 PM Andrew Pollock <notifications@github.com>
wrote:

[2015-08-18 17:07] dgquintas commented on #1795
Related PRs: #2586, #2931, #2135 (main one), #2073.

[2015-08-18 17:07] #1795 closed

[2015-08-18 17:09] ctiller commented on #467
@nathanielmanistaatgoogle - can you provide an example that causes this crash?
(we can probably shift it from @jboeuf's plate then)

[2015-08-18 17:33] dgquintas commented on #2859
@mikepb, were you hitting the bug when connecting to a non-gRPC http server using an iOS client?

[2015-08-18 17:35] mikepb commented on #2859
Yes, I hit the bug after repeat connections to a non-gRPC `http://` server. Unfortunately, I am no longer working on that project and do not have access to the app to reproduce the bug.

[2015-08-18 17:36] dgquintas commented on #2859
Thanks @mikepb :)

[2015-08-18 17:49] dgquintas opened #2974 "Call to grpc_server_destroy will nulled server instance"
In src/node/ext/server.cc:162, `this->wrapped_server` is made NULL. However, `grpc_server_destroy` is called upon it on line 123 (there's also a naming inconsistency regarding the use of "this->"), most likely resulting in the crash reported at https://github.com/grpc/grpc/issues/2859#issuecomment-131183232

[2015-08-18 17:49] dgquintas commented on #2859
@murgatroid99 , about that failure, I've filed #2974

[2015-08-18 18:49] nathanielmanistaatgoogle commented on #467
Back in February when I reported this issue I was able to make the core crash by providing "this bytestring is not a legitimate private key" as the data of a private key and "this bytestring is not a legitimate certificate chain" as the data of a certificate chain. Reattempting today I am no longer able to reproduce a crash of the core and I see "Handshaker factory creation failed with TSI_INVALID

[2015-08-18 19:59] #2828 closed

[2015-08-18 20:05] donnadionne opened #2980 "ruby interop test (cloud to prod) failing in load_prod_cert"
+ gcloud compute --project stoked-keyword-656 ssh --zone asia-east1-a grpc-docker-testclients --command 'sudo docker run grpc/ruby bin/bash -l -c '\''SSL_CERT_FILE=/cacerts/roots.pem ruby /var/local/git/grpc/src/ruby/bin/interop/interop_client.rb --use_tls --server_port=443 --server_host=grpc-test.sandbox.google.com --server_host_override=grpc-test.sandbox.google.com --test_case=large_unary'\'''
W

[2015-08-18 22:11] bdunlay commented on #2752
Noticed that the published package does indeed contain these fixes but the [0.10.1 grpc development release](https://github.com/grpc/grpc/compare/release-0_10_1...release-0_10) is behind.

[2015-08-18 22:39] murgatroid99 commented on #2752
That's because that is a tag, and has not been modified since it was published. The tag corresponding to that node release is release-0_10_1-node-0.10.1.

[2015-08-18 23:24] #2957 closed

[2015-08-18 23:46] soltanmm commented on #2967
It turns out that we've just not yet moved Python's interop tests to Jenkins to be automagically tested and whatnot. That'll happen... at some point.

[2015-08-19 12:36] diogojc commented on #2784
Hi.

Thanks for clearing up the channel thread safety.

Yes, the server doesn't deallocate memory properly after a channel is created a service consumed and the channel closed in the client. If I use channel as a singleton no memory leak occurs.

[2015-08-19 17:42] #2579 closed

[2015-08-19 17:43] #2904 closed

[2015-08-19 19:36] ctiller opened #2994 "Re-enable qps_test TSAN runs"

[2015-08-19 20:46] murgatroid99 opened #2996 "Create Metadata class in Node to make behavior more intuitive"
Specifically, down-casing metadata keys and validating content when values are added should make the behavior more predictable and easier to debug.

[2015-08-19 21:13] tbetbetbe commented on #2532
@simonrussell: do you have an example of best practice for example binaries like this? I know of other multi-gem repos - perhaps that's what should be done here.  I would feel more confident about that if it's clear that it's an established practice.

[2015-08-19 22:06] tbetbetbe commented on #2980
This should have been fixed by #2982, submitted earlier today.
@donnadionne  can you confirm that this is resolved and close the bug if it is ?

[2015-08-19 22:26] tbetbetbe commented on #2220
@dhermes - we're updating the docs to reflect that we now have a installable debian package.
For now, on other linux distros, the advice is to install from source, other installers are tracked in other PRs. e.g, #1209

Just checking,
- once #2990 is done and a follow-up to clear up other references to linuxbrew from the docs, do you agree that this issue is resolved ?

[2015-08-19 22:28] dhermes commented on #2220
That's great. And the debian installer doesn't install any libs for dynamic languages right? (e.g. Python, Ruby, Node, PHP) It's just the core? If yes, I suppose we can close this.

[2015-08-19 22:54] tbetbetbe commented on #2212
@jayantkolhe - removing from Beta

[2015-08-19 22:57] tbetbetbe commented on #945
Moved from Beta to GA - there's already a coverage report for the Ruby code.

The work to produce a combined coverage report needs the tools defined #970, which is on the GA milestone

[2015-08-19 23:50] tbetbetbe commented on #2220
#2990 is submitted, so this can be closed

[2015-08-19 23:50] #2220 closed

[2015-08-20 00:09] dhermes commented on #2220
:+1: Yay!

[2015-08-20 00:14] jboeuf opened #3003 "Possible bug in server-side secure transport setup"
In case of an error, we're using the wrapped_endpoint here:
https://github.com/grpc/grpc/blob/master/src/core/security/server_secure_chttp2.c#L149

Which at this point, is already destroyed by:
https://github.com/grpc/grpc/blob/master/src/core/security/secure_transport_setup.c#L74

Am I missing something?

[2015-08-20 00:18] soltanmm opened #3004 "What's the story behind `grpc_unregister_all_plugins`?"
As far as I can tell it has no definition in our source tree.

[2015-08-20 00:40] tbetbetbe commented on #2854
@hsaliak: this actually happens automatically, e.g,  http://www.rubydoc.info/gems/grpc/0.10.0.

Since that's happens after Beta (once beta deb package and gem are published,  can we remove the Beta milestone from this ?  I think this should be tracked amongst the launch issues, once they are added.

[2015-08-20 04:27] ctiller commented on #3004
And there's a PR out to remove it :)

On Wed, Aug 19, 2015, 5:18 PM Masood Malekghassemi <notifications@github.com>
wrote:

[2015-08-20 04:34] soltanmm commented on #3004
I totally missed that (#2978).

[2015-08-20 04:34] #3004 closed

[2015-08-20 04:49] #2199 closed

[2015-08-20 05:32] stanley-cheung commented on #1920
This is no longer reproducible.

[2015-08-20 05:32] #1920 closed

[2015-08-20 13:43] newsoft opened #3009 ""udp_server_test" fails consistently on 32-bit Ubuntu 12.04"
Debug log:
[code]

Offending code:
[code]

Could you confirm/reproduce?

[2015-08-20 15:38] #2641 closed

[2015-08-20 20:47] ctiller opened #3014 "Reject invalid metadata keys"
Accept only [a-z0-9\-]+

[2015-08-20 21:15] hsaliak commented on #2854
Sounds good - this does not need to be done before beta. I'll leave the beta milestone on this issue because it will help us ensure this gets done when the beta gem is published.

[2015-08-20 21:23] murgatroid99 opened #3016 "Metadata validation/key transformation in wrapping languages"
Languages wrapping the C core should do the following:

 - Verify that keys ending with '-bin' have binary value types and keys not ending in '-bin' have string value types **and/or** that keys not ending in '-bin' have values that are in the restricted character set of printable ASCII characters + space. This check can be done after the core indicates that there was an error with the metadata.

[2015-08-20 21:37] ejona86 commented on #2967
Python is being tested with Jenkins, but with the old infrastructure. The old infrastructure does not detect when building the Docker image fails, and ends up just using the previously-built image.

[2015-08-20 22:22] yang-g commented on #2827
async_unary_call.h contains user-facing types. It should stay in the current place?
If we put status.h and channel_arguments.h in support/, then what about stub_options.h, auth_context.h and credentials?

[2015-08-20 22:57] #2576 closed

[2015-08-21 09:59] mwitkow opened #3020 "grpc CLI client"
`protoc` currently allows you to encode a textual message into a protobuf using the `--encode` function, and similarly `decode`. All of that by referencing the protobuf's package and message name.

For rapid development it would be great to be able to call a GRPC service by pointing a `grpc` tool at a directory of `.proto` files, specify the full path to the Service and then it would automatically

[2015-08-21 15:42] jtattermusch opened #3022 "C#: !grpc_pollset_has_workers(da->pollset) test flake"
I see C# test fail in run_tests.py when number of runs is sufficiently high (~200?).

Root cause it this assertion failing:
E8/20/2015 9:09:11 PM 140026360354560 src/core/iomgr/pollset_multipoller_with_epoll.c:102: assertion failed: !grpc_pollset_has_workers(da->pollset)

Stacktrace:

  at <unknown> <0xffffffff>
  at (wrapper managed-to-native) Grpc.Core.Internal.CompletionQueueSafeHandle.grpcshar

[2015-08-21 15:52] #2822 closed

[2015-08-21 16:49] yang-g commented on #3020
This is essentially a dup of #1805.
We have a command line tool which only takes serialized binary proto files and I would like to extend it to take text form protos. It currently supports unary rpc only (or a one-ping-one-pong stream) since it is not quite clear to me how to handle user instructed streaming now.

The code is in https://github.com/grpc/grpc/blob/master/test/cpp/util/grpc_cli.cc an

[2015-08-21 17:26] murgatroid99 commented on #944
I'm going to move this to GA. It has external dependencies and is unlikely to be doable before Beta is due.

[2015-08-21 17:27] ctiller commented on #944
This is totally GA work (for all wrapped languages).

On Fri, Aug 21, 2015 at 10:26 AM Michael Lumish <notifications@github.com>
wrote:

[2015-08-21 20:05] stanley-cheung commented on #377
Dupe of #1483 now

[2015-08-21 20:05] #377 closed

[2015-08-21 20:57] #1121 closed

[2015-08-21 23:16] #2434 closed

[2015-08-24 09:02] mwitkow-io commented on #3020
@yang-g thanks for pointing me at that.

Yes, server reflection Google-style would be awesome. However, we could get some useful stuff before that with relying on manual pointing to a pool of `.proto` files.

As for user instructed streaming, how about modelling it after unix pipes? For textual protos you know when they start and end because you've got `< >` markes. Same for JSON with `{ }` for st

[2015-08-24 15:07] ctiller commented on #3016
Please make sure there's a bug per-language and someone assigned.

[2015-08-24 15:07] ctiller commented on #2911
Taking this one today.

[2015-08-24 15:07] ctiller commented on #2857
Believe this is fixed.

[2015-08-24 15:07] #2857 closed

[2015-08-24 15:09] ctiller commented on #2950
This is fixed at head. Still needs to be backported to release 0.10.1

[2015-08-24 15:13] ctiller commented on #467
Removing beta milestone on @nathanielmanistaatgoogle's recommendation.

[2015-08-24 15:46] vjpai commented on #2936
Fixed by #2939

[2015-08-24 15:46] #2936 closed

[2015-08-24 15:48] vjpai commented on #2898
Update that this still has not been tested, with a particular focus on #2915 .

[2015-08-24 16:22] #1423 closed

[2015-08-24 16:54] vjpai opened #3031 "Eliminate threadpool from public API"
The current threadpool is not the best possible threadpool choice for performance. At some point this should be fixed. In the meanwhile, eliminate the threadpool API and support only dynamic-sized thread pool.

[2015-08-24 17:12] jasonkuhrt opened #3033 "Node Installation error on Linux 4.0.9-boot2docker"
[code]

I am investigating this issue and will report back any useful details I find along the way. Any help about why this is failing would be appreciated. A colleague was able to build the image on Ubuntu just fine so its mostly likely related to the VM shipped with docker toolkit.

[2015-08-24 17:14] pires commented on #3033
I'm facing a similar issue.

[code]

[2015-08-24 17:15] pires commented on #3033
The same `Dockerfile` builds successfully on Ubuntu 14.04.

[2015-08-24 17:24] jasonkuhrt commented on #3033
Reducing the problem space further, here is the result of using https://hub.docker.com/r/grpc/node/~/dockerfile/

[code]

[2015-08-24 18:04] #2980 closed

[2015-08-24 18:05] donnadionne commented on #2980
fixed as of aug 24 2015 test results

[2015-08-24 19:23] tbetbetbe commented on #2010
I agree, I think we can close this.

[2015-08-24 19:23] #2010 closed

[2015-08-24 19:28] nathanielmanistaatgoogle commented on #3016
I think I said this in conversation last week, but just to repeat in writing: Python doesn't plan to do any data-massaging. We'll pass what we get from applications to the core, which will either accept it or not, and we'll communicate any error back to the application.

Shout at me if we're wrong about that? I have an aversion to magic data massaging, and I don't think I'm yet aware of the use ca

[2015-08-24 19:42] tbetbetbe commented on #1981
PTAL: @jayantkolhe, @hsaliak cannot reproduce locally after 20 iterations, removing Beta label

[2015-08-24 19:43] murgatroid99 opened #3041 "src/core/iomgr/udp_server.c fails to build in XCode"
When I `pod install` in src/objective-c/tests and then try to build the tests in the resulting `xcworkspace`, the build fails with an error that says "/Users/mlumish/grpc/src/core/iomgr/udp_server.c:240:39: Use of undeclared identifier '`IPV6_RECVPKTINFO`'"

However, if I build the C core from the command line with `make`, there is no such error

[2015-08-24 19:45] a11r commented on #537
Marjking this closed. Please reopen if  further discussion is needed.

[2015-08-24 19:45] #537 closed

[2015-08-24 19:47] tbetbetbe commented on #2311
PTAL: @jayantkolhe, @hsaliak cannot reproduce locally after 20 iterations, removing Beta label

Note, I'm also aware that there were other issues related to the failure 'assertion failed: ctx->mdtab_free == 0' that actually got resolved, so I'd prefer to close this completely.

[2015-08-24 19:47] #2311 closed

[2015-08-24 20:16] nathanielmanistaatgoogle commented on #2342
Closing - Travis was some time ago and I'm not tracking any current Python flakiness in Jenkins.

[2015-08-24 20:16] #2342 closed

[2015-08-24 20:19] nathanielmanistaatgoogle commented on #2039
I believe that this defect is specific to the alpha code will be resolved this week as the beta code goes live. All the tests of the beta code that we currently have check for this problem and do not find it.

[2015-08-24 20:20] nathanielmanistaatgoogle commented on #2002
This defect is specific to the alpha code and will be resolved this week as the beta code goes live.

[2015-08-24 20:22] nathanielmanistaatgoogle commented on #1746
Closing - this report is months old and I'm not currently tracking any Python test flakiness. It may simply have been starvation of the test environment?

[2015-08-24 20:22] #1746 closed

[2015-08-24 20:37] #2228 closed

[2015-08-24 21:25] nathanielmanistaatgoogle opened #3042 "Error reporting: invalid metadata"
When we accept invalid metadata from an application and pass it to the core, the core gives us an error. It would be helpful of us to scan over the metadata, determine what was invalid about it, and raise into the application an exception with informative detailed text about the metadata invalidity.

[2015-08-24 21:26] nathanielmanistaatgoogle commented on #3016
After meatspace discussion our Python sub-bug is #3042.

(Dropping the Python label from this bug.)

[2015-08-24 21:40] #3031 closed

[2015-08-24 22:45] #2824 closed

[2015-08-24 23:38] #2827 closed

[2015-08-24 23:57] jayantkolhe commented on #2231
moving to GA

[2015-08-25 00:09] jayantkolhe commented on #3016
Dropping ObjC Label as it is covered by #2761

[2015-08-25 00:37] jtattermusch commented on #2763
Having this interface actually allows us to differentiate the way writes are done on server side vs on the client side and allows us to fine-tune the API in the future in a non-breaking manner if needed.
I don't think there's any real usability problem with once extra level interface inheritance.

[2015-08-25 00:37] jtattermusch commented on #2763
We can reconsider this for GA, but I think the current API is just fine.

[2015-08-25 00:59] murgatroid99 commented on #2740
This test case is not in the list of the ones that need to be implemented before beta. So, I am removing the beta milestone from this issue.

[2015-08-25 01:01] murgatroid99 commented on #2110
The other languages just validate that the string content consists of allowable characters, or lets the C core do it for them. That's all I'm going to do here. In the future, we can broaden the set of allowed characters by doing this conversion.

[2015-08-25 04:33] simonrussell commented on #2532
Hi there, sorry for the delay in replying.  I've been searching around, but I can't really give you any examples.  To me, it seems like the sort of thing that shouldn't actually be in the gem at all -- it should mainly be production code.  Examples etc feel like they should be a repository or something I can clone and fiddle around with.  This might not match with the goals of the project though.

[2015-08-25 13:38] pires commented on #3033
I guess the issue here is using gRPC built from source with version 0.10.1 of the npm module. Building it from source as well and removing `grpc` from `package.json` dependencies seems to fix this.

[code]

[2015-08-25 15:40] jayantkolhe commented on #2002
Marking fixed

[2015-08-25 15:40] #2002 closed

[2015-08-25 18:20] nathanielmanistaatgoogle commented on #2611
This is a subset of #2634; closing as a duplicate.

[2015-08-25 18:20] #2611 closed

[2015-08-25 18:53] jtattermusch commented on #2784
Ok, so after doing some profiling, it looks like that the gpr_slice that does allocated by in win_notify_on_read (tcp_windows.c:195) gets leaked when the connection to a client gets dropped.
Only one slice gets leaked per connection, which explains why the scenario that is using one channel for many call looks like no memory is leaked.
[code]

[2015-08-25 18:55] ctiller opened #3061 "Segfault in qps_test on mac"
https://grpc-testing.appspot.com/job/gRPC_master/config=opt,language=c++,platform=macos/lastBuild/console

[2015-08-25 20:14] a11r commented on #1793
The specification of the design is now done. Implementation is still pending and will be a blocker for GA. Switching the milestone from Beta to GA.

[2015-08-25 20:32] #2784 closed

[2015-08-25 20:38] nathanielmanistaatgoogle opened #3064 "Afford a means of cancelling an in-progress watch_connectivity_state"
Right now if `watch_connectivity_state` has been called and a thread is blocked in a `completion_queue_next` call on the associated completion queue, there's no way for other code in the system to indicate a loss of interest in the channel connectivity state and free up the blocked thread. Please create a nonblocking means of indicating loss of interest of channel connectivity?

At the moment I in

[2015-08-25 20:49] nathanielmanistaatgoogle commented on #2002
I wouldn't call this fixed today but I will call it subsumed by #2634, so consider it "resolved as duplicate". :-)

[2015-08-25 21:08] #2913 closed

[2015-08-25 21:26] nathanielmanistaatgoogle opened #3069 "Python tests should run in parallel"
[I want it all, I want it all, I want it all, and I want it sometime after Beta.](https://www.youtube.com/watch?v=lYFGTf3M3Sc)

The [load_tests protocol](https://docs.python.org/2/library/unittest.html#load-tests-protocol) is part of the Python standard library; using it shouldn't be a liability for us the way it is today.

[2015-08-25 22:56] mcheshkov opened #3071 "Exception safety and C++"
Now, if C++ service implementation throw an exception it ends up in `double free or corruption` with following stacktrace:

[code]

Message is pretty meaningless and took me some time to figure where the problem in my code was.
I think it may be the `grpc_byte_buffer_destroy` in `Server::CallData::~CallData`. Or `DynamicThreadPool::DynamicThread::ThreadFunc` is not marking self as dead.

So, I thi

[2015-08-25 22:59] #3014 closed

[2015-08-26 00:31] jtattermusch commented on #2673
I haven't seen this for a while and I am unable to reproduce when running tests locally.

[2015-08-26 00:31] #2673 closed

[2015-08-26 00:57] murgatroid99 commented on #3041
This issue has been sufficiently worked around for Beta, but only by preventing that line from being compiled in the iOS build. Which means that it will have to be fixed before that file will actually work on iOS.

[2015-08-26 01:50] jtattermusch commented on #3022
@ctiller  any ideas here?

[2015-08-26 06:10] juxingzhutou opened #3076 "iOS throws error and sometimes crash when enter background and go back foreground then send request"
As we know, on iOS, after app enter background a few minutes,  it will stop work. Then if I make it go back to foreground and send a request to server, app will throws a error which code is GRPCErrorCodeUnavailable(14, == GRPC_STATUS_UNAVAILABLE) and sometime it will crash because 'gpr_mu_lock' assert fail.

Thank you for any help.

[2015-08-26 19:03] dustinboswell commented on #2600
I still sometimes get this behavior: on Linux w/ c++, I get " on_writable failed during connect" sometimes (sometimes not).  But the hello world client always takes 8 seconds (about) for the request/reply to finish.

Sniffing the data going across that port, I see "write error to stdout" being sent by the client (strange) on that port.

Maybe this is a different issue, not sure.

[2015-08-26 21:23] #2946 closed

[2015-08-27 00:24] jtattermusch opened #3087 "Provide a debian package for grpc_csharp_ext."
Because C# has no support for building native extensions (unlike other wrapped languages) and the native code interop works differently in C#, the native extension for C# needs to be shipped as a debian package.

The layout of the `grpc_csharp_ext` package is simple:
-- the package only needs to contain libgrpc_csharp_ext.so shared library (C#/mono process will load it dynamically and invoke the f

[2015-08-27 02:13] tbetbetbe commented on #2950
This was fixed in #2985, and include in release 0.10.2

[2015-08-27 02:13] #2950 closed

[2015-08-27 03:00] cjdrake opened #3091 "GCC 4.4.7 compile error in src/cpp/util/string_ref.cc"
This is on a CentOS 6.7 machine

    # gcc --version
    gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-16)
    Copyright (C) 2010 Free Software Foundation, Inc.
    This is free software; see the source for copying conditions.  There is NO
    warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

    # make
    [MAKE]    Generating cache.mk
    [CXX]     Compiling src/cpp/util/str

[2015-08-27 05:27] #3091 closed

[2015-08-27 15:33] juxingzhutou commented on #3076
I fix this issue by clean cached channels when app will enter foreground. But I think this maybe a bug about channel management when app enter background and need be fixed.

[2015-08-27 16:24] jayantkolhe commented on #1794
Done

[2015-08-27 16:24] #1794 closed

[2015-08-27 16:29] jayantkolhe commented on #2039
Obsolete

[2015-08-27 16:29] #2039 closed

[2015-08-27 16:33] #2509 closed

[2015-08-27 16:33] soltanmm commented on #969
(note that these tests are all still based on the alpha API)

[2015-08-27 16:48] jtattermusch opened #3098 "C# sometimes attempts to start batches on completion queue that's already shutting down."
Stacktrace:

  at <unknown> <0xffffffff>
  at (wrapper managed-to-native) Grpc.Core.Internal.CallSafeHandle.grpcsharp_call_start_serverside (Grpc.Core.Internal.CallSafeHandle,Grpc.Core.Internal.BatchContextSafeHandle) <0xffffffff>
  at Grpc.Core.Internal.CallSafeHandle.StartServerSide (Grpc.Core.Internal.ReceivedCloseOnServerHandler) <0x0014f>
  at Grpc.Core.Internal.AsyncCallServer`2.ServerSideCa

[2015-08-27 17:01] nathanielmanistaatgoogle commented on #2527
What's the status on this? #163 has this as a possible prerequisite but I'm going to go ahead on it without whatever happens here.

[2015-08-27 17:20] jboeuf commented on #2527
Thanks. You have the core support that you need for this (as well as #163).

[2015-08-27 18:02] dhermes commented on #662
https://packages.debian.org/unstable/libgrpc-dev
http://http.us.debian.org/debian/pool/main/g/grpc/libgrpc-dev_0.10.0-1_amd64.deb

[2015-08-27 18:03] nathanielmanistaatgoogle commented on #2527
We do? Oh, I see it now - it appears to have landed in the core in 5029b30d1ce8509a4 on 21 July. Should this issue still be open? Is it simply tracking the exposure of the option in the wrapped languages?

[2015-08-27 18:34] jboeuf commented on #2527
Correct.

[2015-08-27 18:37] #2378 closed

[2015-08-27 18:37] #2409 closed

[2015-08-27 18:37] #2719 closed

[2015-08-27 18:44] nathanielmanistaatgoogle commented on #2527
I've added the python label to this issue because this work is still outstanding for Python. I see the wrapped languages, c, and API BREAKAGE labels on this issue as well - can those be removed if they aren't tracking active work? Are there wrapping languages other than Python that have yet to do this?

[2015-08-27 19:36] jboeuf commented on #2527
@tbetbetbe looks like ruby still needs to be upgraded. Any other languages? @murgatroid99 may know as well.

[2015-08-28 02:12] stanley-cheung commented on #1483
Documented in #3026

[2015-08-28 02:12] #1483 closed

[2015-08-28 04:06] #3009 closed

[2015-08-28 04:50] jtattermusch commented on #3016
"lowercase alphanumeric characters and hyphen" - does that mean no underscore allowed? just checking.

[2015-08-28 04:54] ctiller commented on #3016
We added underscore as a late change - to avoid changing node's unit tests
:)

On Thu, Aug 27, 2015 at 9:50 PM Jan Tattermusch <notifications@github.com>
wrote:

[2015-08-28 05:02] andrewpollock opened #3120 "fling_stream_test fails on 32-bit architectures"
Please see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797137 for the full context, but in a nutshell it looks like the fling_stream_test test fails on 32-bit architectures, as it prevented the 32-bit builds completing successfully.

https://buildd.debian.org/status/package.php?p=grpc&suite=sid shows all the architectures it failed on.

[2015-08-28 05:23] andrewpollock commented on #3087
I have something that is ready, I'll send a PR shortly. Just something I noticed in the build output that may be fixable in a future release:

[code]

[2015-08-28 06:24] Hibbert-pku opened #3122 "grpc/src/compiler/csharp_generator.h error"
Hello,
  1. When I install grpc, there is an error:

    ./src/compiler/csharp_generator.h:42:43: fatal error: google/protobuf/stubs/strutil.h: No such file or directory

 I check the .h files under google/protobuf/stubs/, and there is only a .h file called 'stl_util.h'. I use ubuntu 12.04

  2. By the way, should googler write code like "using namespace std;" in "grpc/src/compiler/csharp_generato

[2015-08-28 15:51] murgatroid99 commented on #3016
Ironically, I removed the underscores from those tests as part of my change to resolve this issue in Node.

[2015-08-28 16:06] nathanielmanistaatgoogle commented on #3016
The Force is in balance: I replaced spaces in my test metadata keys with underscores. :-)

[2015-08-28 16:16] jtattermusch opened #3127 "default location for ssl_credentials is no good for windows."
grpc_ssl_credentials_create()  checks the "/usr/share/grpc/roots.pem" path as well known path for root certs. That's no use on Windows.

[2015-08-28 16:42] nathanielmanistaatgoogle opened #3129 "Python tests shouldn't spam the log"
It's great that we're testing how one part of the system under test behaves when another part of the system under test encounters a staged failure, but we should clean up our act by not allowing the test log to be spammed full of exception tracebacks.

[2015-08-28 16:48] oije2333 commented on #3122
I receive same error on ubuntu 14.04.

[2015-08-28 17:28] jtattermusch commented on #3122
Most likely, you have an older version of protobufs installed.

Make sure pkg-config doesn't report protobuf being installed.

$ pkg-config --modversion protobuf

You may need to get rid of these files:
/usr/lib/pkgconfig/protobuf-lite.pc
/usr/lib/pkgconfig/protobuf.pc

[2015-08-28 17:32] a11r commented on #899
A hello wprld example using the async API was added in https://github.com/grpc/grpc-common/pull/278.

[2015-08-28 17:32] #899 closed

[2015-08-28 18:19] yang-g commented on #3122
Seems to be from #2863

[2015-08-28 18:27] jayantkolhe commented on #2247
Tackle post beta

[2015-08-28 18:28] jayantkolhe commented on #2059
post beta

[2015-08-28 18:29] jayantkolhe commented on #1799
Fixed with #2947

[2015-08-28 18:29] #1799 closed

[2015-08-28 18:39] #2996 closed

[2015-08-28 20:01] #3122 closed

[2015-08-28 20:14] ejona86 opened #3136 "When checking content-type, ignore anything following semicolon"
Content types in the spec are in the form application/grpc+encoding. Most implementations are likely just ignoring anything after the '+', but we should also ignore things after a semicolon since mime-types can include additional parameters (e.g., "text/plain; charset=us-ascii").

The Java issue for this is grpc/grpc-java#360.

[2015-08-28 20:33] a11r commented on #1416
MOving this issue to GA milestone since the spec is done.

[2015-08-28 20:54] jtattermusch opened #3138 "Resolve the Credential vs Credentials confusion in C# auth API"
Perhaps renaming native credentials (grpc_credentials) to ChannelCredential would be sufficient to address this.

[2015-08-28 21:08] jboeuf commented on #3127
Can you provide me with the install path for windows?

On Fri, Aug 28, 2015 at 9:16 AM, Jan Tattermusch <notifications@github.com>
wrote:

[2015-08-28 21:46] yang-g opened #3141 "Links in example/ docs are wrong"
Some links under examples/ docs are wrong. I guess as a result of the migration from grpc-common.

Part of #3139 fixes the C++ links.

[2015-08-28 22:13] yang-g commented on #3141
@ejona86 @iamqizhao you may want to check too~

[2015-08-29 00:58] soltanmm commented on #3129
I think that's just a py.test thing. Assign to me?

[2015-08-29 01:13] dustinboswell opened #3145 "greeter_client.cc doesn't compile"
Tried to compile the latest hello world example:

[code]

[2015-08-29 01:15] soltanmm commented on #2952
Fixed by #3126.

[2015-08-29 01:15] #2952 closed

[2015-08-30 00:17] nathanielmanistaatgoogle commented on #3129
I don't think so; I think it's that we use a logging_pool._LoggingPool for the pool in which we run simulated application code, and when that simulated application code throws an exception, it gets logged. I think what I have in mind for this is another kind of pool on which you can do things like setting expectations of what exceptions tasks run within it are allowed to throw and asking it what e

[2015-08-30 14:33] kolmodin opened #3148 "Compilation fails on Mac, linking error, undefined symbols"
My setup has previously been able to build grpc, now I've synced to 68e63c7fc7f9cef30053e56de149b43685451199 and can no longer compile.

[code]

[2015-08-31 00:03] ctiller commented on #3145
Now that the examples are in this repo, want to make sure run_tests.py at least builds them (maybe runs them) too?

[2015-08-31 00:26] yang-g commented on #3145
I agree.

#3139 fixes this btw.
On Aug 30, 2015 5:03 PM, "Craig Tiller" <notifications@github.com> wrote:

[2015-08-31 06:57] jboeuf commented on #3127
As we discussed. Let's include etc/roots.pem in the NuGet and instruct our windows users to set the env var to it.

[2015-08-31 07:50] garygogo opened #3151 "can grpc work while using c++ as a server and java as a client?"
I used "grpc/examples/cpp/route_guide" as a server and "grpc-java/examples/src/main/java/io/grpc/examples/routeguide" as a client,  port is 50051;
I got error as follow:

com.google.common.util.concurrent.UncheckedExecutionException: io.grpc.StatusRuntimeException: UNIMPLEMENTED
at io.grpc.stub.Calls.getUnchecked(Calls.java:117)
at io.grpc.stub.Calls.blockingUnaryCall(Calls.java:129)
at io.grpc.ex

[2015-08-31 08:36] yang-g commented on #3151
It seems the java and c++ protos are using different package names, which
may cause the problem.
For a quick workaround, you can try to use the same string as package name
in
https://github.com/grpc/grpc-java/blob/master/examples/src/main/proto/route_guide.proto
and
https://github.com/grpc/grpc/blob/master/examples/protos/route_guide.proto
to see whether that works.

On Mon, Aug 31, 2015 at 12:50

[2015-08-31 13:44] tbetbetbe opened #3154 "Error reporting: invalid metadata"
When we accept invalid metadata from an application and pass it to the core, the core gives us an error. It would be helpful of us to scan over the metadata, determine what was invalid about it, and raise into the application an exception with informative detailed text about the metadata invalidity.

Similar to #3042, the way ruby addresses #3016

[2015-08-31 13:45] tbetbetbe commented on #3016
Same for ruby: #3154, dropping ruby from this issue

[2015-08-31 13:51] tbetbetbe commented on #662
FYI: the package is now part of debian-testing: https://packages.debian.org/testing/libgrpc-dev which is much more stable.

Please note that if you download the .deb file directly and attempt to use it on non-testing system, there is s significant risk of a failure occurring due to incorrect dependencies

[2015-08-31 16:09] jcanizales opened #3156 "Setting a "-bin" request header with non-NSData value must throw, and vice versa"
And leave the -bin suffix there.

[2015-08-31 16:11] jcanizales opened #3157 "Response headers must parse as NSData if -bin, NSString otherwise."
And leave the -bin suffix there.

[2015-08-31 16:19] dhermes commented on #662
Which dependencies are also in `testing`? `libgrpc0` seems to be the only one that `libgrpc-dev` depends on.

[2015-08-31 16:24] stanley-cheung commented on #1582
Looks like this has been fixed by #3144. The PHP math_client test has been run successfully against the ruby math_server

[2015-08-31 16:24] #1582 closed

[2015-08-31 17:27] #162 closed

[2015-08-31 17:27] #2614 closed

[2015-08-31 17:38] tbetbetbe opened #3159 "Debian package build currently disables tests"
From #662

As of last week, this was still an issue, as @andrewpollock can confirm

 Tagging it with Beta as there will be some lag after we cut the beta branch before we build the package, so hopefully we can get this fixed in time to build the beta debian package.

[2015-08-31 18:05] tbetbetbe commented on #2532
There are [examples](https://github.com/grpc/grpc/tree/master/examples/ruby) that are not packaged as part of the gem.  However, the interop server and client are a bit different.  They are proof that the implementation conforms to the [gRPC specifcation](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) and its [conformance tests](https://github.com/grpc/grpc/blob/master/doc/interop

[2015-08-31 18:11] tbetbetbe commented on #662
The risk is related to mismatches between [libgrpc0's dependencies](https://packages.debian.org/unstable/main/libgrpc0) and the target system.

[2015-08-31 18:12] nathanielmanistaatgoogle commented on #163
This was fixed in 9e4d0610ea5e2bb3.

[2015-08-31 18:12] #163 closed

[2015-08-31 18:13] nathanielmanistaatgoogle commented on #2527
This was fixed for Python in 9e4d0610ea5e2bb3; removing the Python label from this issue.

[2015-08-31 18:13] nathanielmanistaatgoogle commented on #2616
This was fixed in 9e4d0610ea5e2bb3.

[2015-08-31 18:13] #2616 closed

[2015-08-31 18:13] nathanielmanistaatgoogle commented on #2636
This was fixed in 9e4d0610ea5e2bb3.

[2015-08-31 18:13] #2636 closed

[2015-08-31 18:24] yang-g opened #3161 "Use the same package name in example protos across repos"
route_guide.proto in grpc grpc-java and grpc-go has different package names.
We should use "routeguide" for all of them, as java does it now.

Six copies of the proto file need to be changed in this repo, one in grpc-go (a separate issue will be created).

See:
https://github.com/grpc/grpc/blob/master/examples/protos/route_guide.proto
https://github.com/grpc/grpc-java/blob/master/examples/src/main

[2015-08-31 18:26] hsaliak commented on #2855
This is meant to review finished work. So The checklist is for the owner of the bug to tick after a review.

[2015-08-31 18:28] yang-g commented on #3151
https://github.com/grpc/grpc/issues/3161 and https://github.com/grpc/grpc-go/issues/321 are created to use the same package name everywhere. Back to your question, all languages should be able to interop with all others. Thanks for reporting the issue.

[2015-08-31 18:54] dhermes commented on #662
So we're still at a point where real users on real machines should not / can not install via `apt-get`?

Which dependencies pose a problem? Is `dep: libssl1.0.0 (>= 1.0.2~beta3)` one of them? (I thought the upstream SSL issue was resolved with the NPN / ALPN support.)

[2015-08-31 20:12] larsonmpdx commented on #3145
a vs project for both cpp examples would be very handy.  now that it's in this repo it could be generated by template

[2015-08-31 20:54] tbetbetbe commented on #797
Closing this as it was fixed

[2015-08-31 20:54] #797 closed

[2015-08-31 20:55] yang-g commented on #3161
@stanley-cheung Could you change php accordingly? Feel free to re-use 356850981ed857288792b7b8daa2d454da3fc626

[2015-08-31 21:12] yang-g commented on #3161
@tbetbetbe Could you change the generated ruby files and readme under ruby?

[2015-08-31 21:18] yang-g commented on #3161
@nathanielmanistaatgoogle Could you check whether python needs a fix?

[2015-08-31 21:22] #2693 closed

[2015-08-31 21:38] andrewpollock commented on #662
Grpc won't transition into testing if all of its dependencies aren't also
installable in testing.
On 1 Sep 2015 4:54 am, "Danny Hermes" <notifications@github.com> wrote:

[2015-08-31 21:40] dhermes commented on #662
@andrewpollock I'm interpreting that as "it can't have any dependencies in stable (or in unstable)". Is that not correct?

[2015-08-31 21:45] nicolasnoble commented on #662
I would argue that real users on real machines are widely using testing or even unstable versions of Debian. I'll just take some time for the package to trickle down into stable. But as of right now, a lot of people can use it using apt-get.

[2015-08-31 22:24] #2852 closed

[2015-08-31 22:33] #2850 closed

[2015-08-31 22:56] #3141 closed

[2015-08-31 23:07] #3161 closed

[2015-08-31 23:15] kolmodin commented on #3148
https://github.com/grpc/grpc/commits/master/src/cpp/util/string_ref.cc

Issue introduced by 47ec9a40ade6cf5b205b035b1142e0cc539c4f70.

[2015-08-31 23:20] nicolasnoble commented on #3148
That's pretty odd. Would you care sharing more details about your mac ? Which version of XCode more specifically. `clang++ --version` should do.

[2015-09-01 01:12] Synno commented on #3148
I am getting the same issue, with this error when running make, I have also use a Mac:

Undefined symbols for architecture x86_64:
  "std::__1::basic_ostream<char, std::__1::char_traits<char> >& std::__1::operator<<<char, std::__1::char_traits<char>, std::__1::allocator<char> >(std::__1::basic_ostream<char, std::__1::char_traits<char> >&, std::__1::basic_string<char, std::__1::char_traits<char>, s

[2015-09-01 01:13] ctiller commented on #3148
I get it on my Mac also. Will investigate tomorrow.

On Mon, Aug 31, 2015, 6:13 PM Sean Han <notifications@github.com> wrote:

[2015-09-01 02:18] larsonmpdx commented on #1952
I recompiled today with the newest everything - doesn't happen anymore

[2015-09-01 02:18] #1952 closed

[2015-09-01 02:46] garygogo commented on #3151
yeah, it works,thank you very much.

[2015-09-01 02:48] #3151 closed

[2015-09-01 04:06] jtattermusch commented on #3098
@ctiller - I think the correct behavior for C core would be to return grpc_call_error if you try to call grpc_call_start_batch with a completion queue that is shutting down. Would that be possible?

[2015-09-01 04:25] jtattermusch commented on #1734
after #1731, this can't really happen anymore.

[2015-09-01 04:25] #1734 closed

[2015-09-01 04:27] jtattermusch commented on #1812
I haven't seen this for a while. Looks like this was fixed by one of the recent changes in AsyncCall.

[2015-09-01 04:27] #1812 closed

[2015-09-01 04:34] ctiller commented on #3098
I don't think so... not without an extra (highly contended) lock that we'd
be very unwilling to add.

On Mon, Aug 31, 2015 at 9:06 PM Jan Tattermusch <notifications@github.com>
wrote:

[2015-09-01 05:21] sipdar commented on #3076
i have  same problem  How to clean cached channels when app will enter foreground.?

[2015-09-01 08:36] juxingzhutou commented on #3076
First, add a method to Class `GRPCChannel` to clean the cached channels

In file 'GRPCChannel.m'

[code]

Then call this method in appdelegate

[code]

[2015-09-01 17:10] jcanizales commented on #2431
Solved by #3175

[2015-09-01 17:10] #2431 closed

[2015-09-01 17:32] kolmodin commented on #3148
[code]

[2015-09-01 18:05] dhermes commented on #662
Where's the data for that assertion?

Also, it's still unclear if "all of its dependencies aren't also installable in testing" means that it can't have any stable dependencies.

[2015-09-01 18:15] tbetbetbe commented on #2161
@jayantkolhe, @hsaliak:  removing from Beta label, as this could not be reproduced

[2015-09-01 18:20] dhermes commented on #662
Cool! I didn't know popcon existed!

[2015-09-01 18:28] dhermes commented on #2480
I don't think I'll ever have the throughput to deal with this. Though I'd suggest using https://docs.python.org/2/library/ast.html instead of trying to deal with the syntax tree in C++.

[2015-09-01 18:39] nathanielmanistaatgoogle commented on #2480
Maybe. A reasonable short-term action would be to just de-duplicate inside the code generator's C++ for loops. The right long-term solution might be to gather all the required imports, filter out the ones that are of the generated module itself, and then have all the other ones at the top of the generated module. Perhaps sometime in the next few months...

[2015-09-01 18:41] soltanmm commented on #969
The beta API's equivalent tests appear to be passing just fine. Closing as fixed against beta and won't-fix against alpha.

[2015-09-01 18:41] #969 closed

[2015-09-01 18:41] dhermes commented on #2480
Indeed, perhaps in the next few months...

[2015-09-01 18:55] yang-g commented on #3148
I am able to reproduce it.

[2015-09-01 19:23] kolmodin opened #3182 "Life of grpc_op values"
I'd like to get a little bit more clear documentation on who owns the values in `grpc_op`, where it's not already stated.

`recv_initial_metadata`, for example, states that the caller owns the array, while the ownership of the elements stays with the `call` object. Great.

What about `grpc_byte_buffer *   send_message`? It looks like `grpc_call_start_batch` does not call `grpc_byte_buffer_copy`. I

[2015-09-01 20:06] yang-g commented on #3148
Fixed by #3185

[2015-09-01 20:06] #3148 closed

[2015-09-01 20:09] jtattermusch commented on #3138
this probably won't be an issue if we introduce the C core auth metadata plugin.

[2015-09-01 22:21] larsonmpdx commented on #2671
2nd data point: I just ran into this bug on vs12 (std::chrono vs _USE_32BIT_TIME_T) with git code from yesterday .  removing _USE_32BIT_TIME_T from grpc libraries and my application made everything work, no other changes required.

[2015-09-01 23:03] jtattermusch opened #3189 "on_writable failed during connect"
Some of the C# tests (e.g Grpc.Grpc.Core.Tests.Grpc.Core.Tests.ClientServerTest.ClientStreamingCall) started to be sluggish recently and despite the trivial logic, they often take > 10s per test case.

It seems that writing messages (several bytes each) takes very long time and I see this error message. C core is obviously retrying some action.

E9/1/2015 3:55:59 PM 139973010306816 src/core/iomgr/

[2015-09-01 23:04] jtattermusch commented on #3189
@nicolasnoble , does this ring a bell?

[2015-09-01 23:25] jtattermusch commented on #3127
https://github.com/grpc/grpc/pull/3165

[2015-09-01 23:25] #3127 closed

[2015-09-01 23:29] #2802 closed

[2015-09-02 17:03] yang-g commented on #3022
I am able to reproduce.

[2015-09-02 18:07] jtattermusch opened #3199 "C# extension debian package lintian warnings"
#3121 added a deb package for C# native extension.

After building the package, I get these lintian warnings:

W: libgrpc0-cil: package-name-doesnt-match-sonames libgrpc-csharp-ext0

The problem is I can't really change the libgrpc_csharp_ext name at this point (C# code depends on it nontrivially). Would renaming the package to libgrpc_csharp_ext be an option?

W: libgrpc0-cil: non-dev-pkg-with-sh

[2015-09-02 18:32] murgatroid99 opened #3200 "Un-hardcode the AUTH_USER in Node interop tests"
The tests are a little brittle as they are currently written.

[2015-09-02 19:25] dustinboswell commented on #3145
Thanks guys, latest code from master compiles now.

[2015-09-02 19:25] #3145 closed

[2015-09-02 19:31] nathanielmanistaatgoogle opened #3202 "Split links.Ticket.Termination.LOCAL FAILURE into at least two values"
Currently it means both "local application has a programming defect" and "local application has done something that the server considered erroneous". "Don't call the local application's functions any more" is fine for the former but not for the latter, so I've had to disable it. It might be nice to have it back.

[2015-09-02 19:37] dustinboswell opened #3203 "1 to 8 second added latency in basic rpc call"
[Moved this issue over from grpc/grcp-common. Compiled the latest grpc code from master.]

When running the greeter_client -> greeter_server example, it often takes the client multiple seconds to complete the rpc.  I've run it dozens of times, sometimes it takes an extra 1 second, sometimes 4, or even 8 seconds, and sometimes it finishes right away.

Below is the trace output for when it took 4 se

[2015-09-02 19:39] dustinboswell commented on #3203
Here's a relevant snippet from the greeter_server

First, the server starts up:
[code]

Then a gap in time (in this case 3 seconds, from a different run).  And finally reads the request:

[code]

[2015-09-02 19:48] ctiller commented on #3203
*Annotating what I think is happening:*

*Here we've got a new RPC and decide to connect*

D0902 12:15:41.903289676   56050 connectivity_state.c:91]    CONWATCH:
subchannel: from IDLE [cur=IDLE]
D0902 12:15:41.903297903   56050 connectivity_state.c:115]   SET:
subchannel: IDLE --> CONNECTING [state_change]
D0902 12:15:41.903491529   56050 connectivity_state.c:115]   SET:
pick_first: IDLE --> CONNE

[2015-09-02 19:53] dustinboswell commented on #3203
Running on Ubuntu FYI:

Linux 3.13.0-54-generic #91-Ubuntu SMP Tue May 26 19:15:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

The machine is mostly idle, and I've reproduced this on 2 different machines of the same type.

[2015-09-02 20:20] stanley-cheung opened #3206 "PHP: Metadata validation/key transformation"
Languages wrapping the C core should do the following:

 - Verify that keys ending with '-bin' have binary value types and keys not ending in '-bin' have string value types **and/or** that keys not ending in '-bin' have values that are in the restricted character set of printable ASCII characters + space. This check can be done after the core indicates that there was an error with the metadata.

[2015-09-02 20:26] stanley-cheung commented on #1062
As we are approaching Beta, this should have been working for a while now.

[2015-09-02 20:26] #1062 closed

[2015-09-02 21:49] #2580 closed

[2015-09-02 21:59] dgquintas opened #3210 "new googletest dependency in third_party not properly integrated in build process"
In particular, we use -I to include third_party/googletest/include and link with -lgtest, but we don't point to the libraries generated by third_party/googletest/ with -L. Therefore the system googletest libs are picked up and that has started creating conflicts. See below:

[code]

[2015-09-02 22:02] ctiller commented on #3210
So I don't think this is right. We 'link' with gtest-all.cc to pick those
up. Last time I saw this bug was because there was no std::ostream&
operator<<(std::ostream&, string_ref) defined; it looks like this one's
failing because there's nothing defined for grpc_arg_type?

On Wed, Sep 2, 2015 at 2:59 PM David G. Quintas <notifications@github.com>
wrote:

[2015-09-02 22:22] dgquintas commented on #3210
True. Interesting it's started failing now. This is at current HEAD on master branch.

[2015-09-02 23:25] dgquintas commented on #3210
Heh turns out ccache's cache was corrupted... a ccache -C seems to have solved the issue.

[2015-09-02 23:25] #3210 closed

[2015-09-03 00:45] andrewpollock commented on #3199
Thanks for bringing this to my attention. I'm not sure how I overlooked the Lintian warnings.

I'll send a PR to address the symlink being in the wrong package. The naming of the package, I'm going to have to take some guidance on from Debian folks who actually know something about packaging Mono-related stuff.

[2015-09-03 00:50] jtattermusch commented on #3199
Btw, I believe the next release is going to be version 0.11.0-1, so we might need to update the changelog.

[2015-09-03 00:51] andrewpollock commented on #3199
the debian/sid branch is a snapshot of main, so I think we'll be okay to release what's there. Or I can refresh the debian/sid branch to 0.11.0-1 and release that.

I'm in #debian-cli on OFTC if you want to hang out in there to find out answers about SONAMEs vs package names.

[2015-09-03 01:15] andrewpollock commented on #662
Let me try and think of another way to word this...

Okay, the grpc binary packages have a set of dependencies. These are mostly calculated automatically at build time. For additional explicit dependencies, they're normally unversioned unless there's a particular reason to declare an explicit version (and that will then impact on installability based on which distributions that explicit versioned

[2015-09-03 01:19] andrewpollock commented on #662
And just to update this bug on the current state of things, we have:

C bindings in unstable and testing, and backported to stable (i.e. in jessie-backports)
C# bindings in progress

Once I've backported 0.10.2 to jessie I'll be focusing my attention on updating the protobuf package so that the C++ bindings can be packaged.

[2015-09-03 01:59] andrewpollock commented on #3087
I had a lengthy chat in #debian-cli today, and I think the way I've prepared the packaging so far is completely wrong :-)

http://pkg-mono.alioth.debian.org/cli-policy/ch-packaging.html covers how such packages should be made. I've been told that libglib2.0-cil is a good example to crib from.

[2015-09-03 09:14] michaelvlaar commented on #2505
Is there any progress on x64?

[2015-09-03 11:49] jcanizales commented on #2853
Notes:
* Use [appledoc](http://gentlebytes.com/appledoc/)'s style for formatting the comments.
* [Currently deployed docs](http://cocoadocs.org/docsets/gRPC/0.6.0/).
* [How to preview changes](http://cocoadocs.org/readme/#previewing-my-library-in-cocoadocs).

[2015-09-03 12:54] zj8487 opened #3223 "dose the GRPC/C++ work on IOS/ANDRIOD mobile system? and how to?"

[2015-09-03 15:41] #2110 closed

[2015-09-03 15:41] #2760 closed

[2015-09-03 15:41] #2761 closed

[2015-09-03 15:41] #3156 closed

[2015-09-03 16:19] #3157 closed

[2015-09-03 16:26] mugurm commented on #2599
Please open issues for the site in the grpc.github.io repository.

[2015-09-03 17:03] #2502 closed

[2015-09-03 17:46] #2107 closed

[2015-09-03 18:23] nathanielmanistaatgoogle commented on #3203
(Applied C++ label based on response in https://github.com/grpc/grpc-common/issues/277.)

[2015-09-03 21:27] tbetbetbe commented on #2527
FYI: This was fixed for Ruby in #162.  AFAICT every wrapped language supports this now

[2015-09-03 21:28] tbetbetbe commented on #2527
Closing: Please re-open if there wrapped-languages with servers that don't have this

[2015-09-03 21:28] #2527 closed

[2015-09-03 22:00] dgquintas opened #3240 "h2_ssl_proxy_call_creds_test flaky"
Running h2_ssl_proxy_call_creds_test under asan for ~50 iterations surfaces different types of flakes (possibly related):

https://gist.github.com/dgquintas/8a00ff51d0062fa2907b

https://gist.github.com/dgquintas/dd41cf72d298f9154052

This at HEAD on both master and release-0.11

[2015-09-04 01:24] ejona86 opened #3250 "Support using client and server with existing FDs"
When communicating with a child process, it can be really useful to setup the unix domain socket before forking(). It would be nice for C core to support providing existing FDs.

I understand that this was already planned. I'm aware of some users who would be eagerly awaiting the feature.

[2015-09-04 06:19] skyshaw opened #3252 "question about g_current_thread_worker"
I only see `g_current_thread_worker` in 2 places, one is https://github.com/grpc/grpc/blob/master/src/core/iomgr/pollset_posix.c#L57, another is https://github.com/grpc/grpc/blob/master/src/core/iomgr/pollset_posix.c#L102. So, It seems `gpr_tls_get(&g_current_thread_worker)` will always be zero since it's not assigned anywhere.
Isn't `gpr_tls_get(&g_current_thread_worker) != (gpr_intptr)specific_w

[2015-09-04 06:56] jayantkolhe commented on #2727
any update?

[2015-09-04 06:57] jayantkolhe commented on #2634
anything missing here?

[2015-09-04 06:58] jayantkolhe commented on #2573
This was about putting a nicer css for all generated docs..

[2015-09-04 06:58] jayantkolhe commented on #1679
any updates

[2015-09-04 14:35] allspace opened #3254 "compile error using gcc5.2 in mingw"
Got the following compile error (workaround is to remove "-Werror" from Makefile)

[C]       Compiling src/core/support/string_win32.c
src/core/support/string_win32.c: In function 'gpr_tchar_to_char':
src/core/support/string_win32.c:103:10: error: implicit declaration of function 'gpr_strdup' [-Werror=implicit-function-declaration]
   return gpr_strdup(input);
          ^
src/core/support/string_w

[2015-09-04 15:19] nathanielmanistaatgoogle commented on #2634
The important parts of this are fixed as of 1d750d6ca2d878385e4a.

I think we would still have a problem if there's a serialization or deserialization error for protocol buffer objects, but that's deferrable.

[2015-09-04 18:24] iam-johntan opened #3259 "Calling a service from another service in NodeJS crashes with segmentation fault"
Hello,

I'm currently writing a NodeJS grpc service that calls into another grpc service.  The call to the other service results in a crash - a segmentation fault.  I'm assuming this is supposed to work.

I can reproduce this in the example code using the math_server and stock_server found here:
https://github.com/grpc/grpc/tree/release-0_10/src/node/examples

I modified mathDiv in math_server.js,

[2015-09-04 19:23] tbetbetbe commented on #2727
@jayantkolhe
I'm removing the beta milestone and pushing this to GA
- this flake still occurs (so the bug should not be closed) but this is more about the test than the behaviour being tested

Details
- the affected test was originally single-threaded
- it was updated to be multi-threaded in response changes in the core server.
- somehow the synchronization around the threading is not correct; e.g

[2015-09-04 19:31] nathanielmanistaatgoogle commented on #844
This is fixed (through status code conformance) as of 1d750d6ca2d878385e. Status code conformance is as good as we're going to get; I don't think we'll ever serialize stack traces and propagate them through the details string or anything. That wouldn't be crazy; it just doesn't seem generally applicable.

[2015-09-04 19:31] #844 closed

[2015-09-04 19:35] tbetbetbe commented on #1679
@jayantkolhe: removing the beta milestone

Rationale:

- since this was reported, there have been significant changes to how shut down works as multiple wrapped layers have had and fixed shut down issues.  E.g, #2946, #2720, and most recently for ruby,  #3144.

- it's not practical to include automated tests for rails itself in the grpc ruby test suite; the ruby test suite has enough tests that al

[2015-09-04 19:40] tbetbetbe commented on #3016
@jayantkolhe: Removing the Beta milestone.

Rationale:
In call cases, this behaviour does not require a surface API change, and if not present in the beta release can be rolled-out as a point upgrade

[2015-09-04 20:13] jtattermusch opened #3262 "C# JWT access token creds do not support the per-rpc creds use case"
After recent change of interop test spec, this makes per_rpc_creds interop test unimplementable in C# (per_rpc_creds was using service account credential, now it's using JWT access token).

Introducing the C core metadata plugin API should solve this problem.

[2015-09-04 21:58] tbetbetbe commented on #662
Closing this issue - the necessary work has been completed:

- There is an installable package for [debian stable](https://packages.debian.org/search?keywords=grpc&searchon=names&section=all&suite=jessie-backports)
- The install instructions for users have been updated to reflect this #3246
- C# bindings are a separate issue tracked at #3087

Please feel free to re-open if there omissions; it's al

[2015-09-04 22:02] nathanielmanistaatgoogle commented on #828
This is resolved as of 1d750d6ca2d878385e4a13a.

[2015-09-04 22:02] #828 closed

[2015-09-04 22:05] jtattermusch commented on #1990
#3207

[2015-09-04 22:05] #1990 closed

[2015-09-04 22:07] nathanielmanistaatgoogle commented on #529
I'm not so sure about this any more - in the last few weeks I've started to think that maybe the right thing to do if a serving server is garbage collected is just cancel all its RPCs and shut it down cleanly. Retitling this issue.

@soltanmm have you any feelings one way or the other?

[2015-09-04 23:17] gillwang commented on #3250
Thanks for the post.

It would be really helpful to our project if this feature is supported in both C++ and Java.

[2015-09-05 17:04] ctiller opened #3271 "Make a "built with grpc" badge"
Because who wouldn't want to display that on their project page

[2015-09-05 17:06] ctiller commented on #529
Just shutting down seems like the most predictable thing to do.

[2015-09-05 18:49] nicolasnoble commented on #3271
Templates / designs: https://github.com/pixel-cookers/built-with-badges

[2015-09-07 09:40] amitkg29 opened #3273 "Registering callbacks on connect / disconnect success or failures"
Hello,

I am interested to know if it is possible to register callbacks which gets invoked on connect/disconnect success/failure?

I think that it could be done easily but i could not find any existing mechanism (looking at grpc_server structure)  as i do not want to duplicate the code.

Thanks

[2015-09-07 22:28] swingfield opened #3274 "Hitting problem with Windows greeter_async_client code"
Hi there,

I'm trying out the C++ client and server code on Windows. But I'm getting an access violation when running the client code.

Quick rundown of what I've got and how I got there, in case I've missed something:

I have helloworld server & client projects in VS2013. I used info from the README.MD at

https://github.com/grpc/grpc/tree/master/vsprojects

and some additional hints from

https:

[2015-09-08 08:26] nickdul opened #3276 "Please upgrade NuGet package for gRPC with new version"
current version (0.6.1) of gRPC available via NuGet is not compatible with Google Protocol Buffers C# 3.0.0-alpha4

gRPC 0.6.1 generates non-compiled service stub:
the trouble in ``Marshaller`` variable -  ``ParseFrom`` method is part of ``Parser`` property of message rather then message one:
[code]

[2015-09-08 16:34] nathanielmanistaatgoogle commented on #1616
This was completed in 41abb052b8ed180ca14b9ff1.

[2015-09-08 16:34] #1616 closed

[2015-09-08 17:17] larsonmpdx commented on #3274
I haven't used the async stuff on windows but this could be a missing "D "_USE_32BIT_TIME_T"

see #2595

[2015-09-08 17:35] nathanielmanistaatgoogle commented on #2578
This is complete as of 41abb052b8ed180ca14b9ff1427a215.

[2015-09-08 17:35] #2578 closed

[2015-09-08 19:53] jtattermusch opened #3282 "on_writable failed during connect"
I keep seeing this message(s) in C# tests when they time out.

E9/8/2015 12:36:53 PM 140105302578944 src/core/iomgr/tcp_client_posix.c:174: on_writable failed during connect
E9/8/2015 12:37:13 PM 140105302578944 src/core/iomgr/tcp_client_posix.c:174: on_writable failed during connect
E9/8/2015 12:37:33 PM 140105302578944 src/core/iomgr/tcp_client_posix.c:174: on_writable failed during connect
E9/8

[2015-09-08 19:55] jtattermusch commented on #3189
Duplicate of #3282.

[2015-09-08 19:55] #3189 closed

[2015-09-08 20:10] tbetbetbe opened #3283 "Tracking issue: publish the beta debian package (tag: 0.11.0)"

[2015-09-08 20:10] tbetbetbe commented on #3283
@hsaliak, @a11r, @jayantkolhe PTAL

[2015-09-08 20:33] iam-johntan opened #3284 "NodeJS unit tests crash with a segmentation fault on Mac OS X"
Randomly fails with a segmentation fault in either end-to-end and interop tests.

Here's a sample run:

[code]

**Relevant info:**
Installed using homebrew as per instructions here:  https://github.com/grpc/grpc/tree/master/src/node
Mac OS X 10.10.5 (14F27) - Yosemite
[code]
[code]
May be related to issue #3259.

[2015-09-08 20:44] #3022 closed

[2015-09-08 21:54] swingfield commented on #3274
You're a genius!  :) Thanks, that was it exactly.  Client/Server working great now.  Thanks again for your help.

[2015-09-08 21:54] #3274 closed

[2015-09-08 22:03] jcanizales commented on #2759
This was fixed by PR #2914

[2015-09-08 22:03] #2759 closed

[2015-09-08 22:05] dgquintas opened #3286 "heap-use-after-free for End2endTest.BlockingAuthMetadataProcessorFailure"
See https://gist.github.com/dgquintas/af23f2f9bcb9adbdfac6 (from https://grpc-testing.appspot.com/job/gRPC_pull_requests/2962/config=asan,language=c++,platform=linux/consoleFull)

[2015-09-08 23:46] jtattermusch opened #3289 "Leftover debug messages make C# output messy."
Basically all C# tests now print some debugging garbage. We should silence those.

D9/8/2015 4:36:58 PM 108345464 c:\users\jtattermusch\github\grpc\src\core\iomgr\tcp_client_windows.c:80: on_alarm: 056F6E60
D9/8/2015 4:36:58 PM 108345464 c:\users\jtattermusch\github\grpc\src\core\iomgr\tcp_client_windows.c:99: on_connect: 056F6E60

[2015-09-08 23:49] jtattermusch opened #3290 "ReadFile overlapped error: An operation was attempted on something that is not a socket"
Virtually all C# tests finish with this message:
E9/8/2015 4:36:58 PM 108345464 c:\users\jtattermusch\github\grpc\src\core\iomgr\tcp_windows.c:150: ReadFile overlapped error: An operation was attempted on something that is not a socket.

The tests actually pass, but the error should finish with connection reset error (that has been silenced in the past) rather than this error. IIRC, in the past th

[2015-09-09 00:43] jboeuf commented on #3240
I cannot repro this one on master. I ran:
[code]

[2015-09-09 00:48] dgquintas commented on #3240
-c tsan

[2015-09-09 01:02] jboeuf commented on #3240
Same thing:
[code]

[2015-09-09 01:07] dgquintas commented on #3240
hmm maybe leave it running with -S -n inf -a 100 ?

That will: stop upon failure (-S), run continuously (-n inf) and make your machine feel the pain the jenkins' workers feel (-a 100).

[2015-09-09 01:11] jboeuf commented on #3240
Actually the trace linked on this one looks very similar to #3286 for which
I just issued a fix (#3291). Let me know if you agree and we can probably
close it.

On Tue, Sep 8, 2015 at 6:07 PM, David G. Quintas <notifications@github.com>
wrote:

[2015-09-09 01:12] dgquintas commented on #3240
Ah, very likely. I think it's fine to close.

[2015-09-09 01:12] #3240 closed

[2015-09-09 03:07] jboeuf opened #3296 "end2end_test sometimes leaks the server-side secure transport object."
Here's how to reproduce:

[code]

The main leak is here:
[code]

[2015-09-09 03:08] jboeuf commented on #3296
@ctiller may want to have a look as well. Adding @dgquintas as well since he's been tracking these kind of issues.

[2015-09-09 08:55] FlyTengteng opened #3299 "grpc objective-c client crash"
These days I have used the RouteGruide example of grpc objective-c. If i shutdown the server every 2 minutes, the client will crash, and the crashed point is

sync_posix.c:53] assertion failed: ret == 0

Anyone have met this situation? How to fix this bug?

[2015-09-09 09:37] FlyTengteng commented on #2859
i also met this bug. if I shutdown the RouteGuide demo server every 2 minutes, the client side will crashed.

[2015-09-09 12:48] ivannaranjo opened #3300 "The NuGet package 'grpc.native.csharp_ext' contains invalid characters."
When using this package from an Asp.Net app and trying to publish the app the DNU tool fails with the error message:
"The package ID 'grpc.native.csharp_ext' contains invalid characters."
And indeed according to the NuGet spec the character '_' is not valid in a package ID. Suggest removing the _ext portion, grpc.native.csharp is already descriptive enough.

[2015-09-09 13:27] tbetbetbe commented on #3283
FYI: this has not been uploaded yet.
- the documentation that we added is causing errors in the lintian step used to confirm that the deb package is valid.  @andrewpollock is taking a look to see if we can do something to link the docs the src they come from.

[2015-09-09 15:29] nickdul commented on #3276
in addition cannot build ``RoutGuideServer`` example because it references on non-existing NuGet package:
https://github.com/grpc/grpc/blob/master/examples/csharp/route_guide/RouteGuideServer/packages.config

[2015-09-09 16:06] jtattermusch commented on #3290
In helloworld example, I am also seeing this message (but the example finishes successfully):
E9/9/2015 9:04:00 AM 88670368 c:\users\jtattermusch\github\grpc\src\core\iomgr\t
cp_windows.c:150: ReadFile overlapped error: The I/O operation has been aborted
because of either a thread exit or an application request.

[2015-09-09 16:51] ctiller opened #3302 "CHTTP2 does too much work under its lock"
Reduce the work done in the CHTTP2 global lock to simply adding new work, and if nobody is executing work, then performing it also.

This will require a mechanism to stop work when a completion queue time slice completes, or we may end up with one thread spinning reading or writing and starving it of reaping its completions.

[2015-09-09 16:52] ctiller opened #3303 "Eliminate background_callback_executor"
This is a remnant of the past, and does not scale. Eliminate it in favor of workqueues sharded by actual work load.

[2015-09-09 17:17] murgatroid99 opened #3306 "The current pkg-config file generation does not work on Mac"
We use `echo -e` in the Makefile to write the multiline `.pc` files. But Mac `echo` does not seem to have that syntax, so every `.pc` file on Mac starts with `-e`.

[2015-09-09 17:19] jtattermusch commented on #3276
The gRPC C# beta nuget packages have been pushed a few hours ago. Official announcement & docs are coming soon.

[2015-09-09 17:19] #3276 closed

[2015-09-09 17:22] jtattermusch commented on #3300
Thanks for reporting this! I will try to get this fixed in the next release. Alternatively, a minor 0.7.1 release could be done.

[2015-09-09 17:39] murgatroid99 commented on #3306
Actually, it looks like this was fixed some time since 0.10, except for the new `grpc_zookeeper.pc` file.

[2015-09-10 03:25] andrewpollock commented on #3120
@tbetbetbe can you assign this to someone?

[2015-09-10 12:43] diogojc opened #3312 "gRPC C# Tools 0.7.0 nuget does not include protoc"
The protoc executable seems to be missing in the [0.7.0 grpc c# tools nuget](https://www.nuget.org/api/v2/package/Grpc.Tools/0.7.0).

[2015-09-10 15:13] tbetbetbe opened #3313 "Remove reference docs from master"
- [ ] add make rules for building the docs
  - this allows the docs to be regenerated at tags/releases (versioning)
   - enables the creation of grpc-xxx-docs debian packages
- [x] remove the reference docs on master; the generated docs will no longer need to be checked in, and so we should only have them on the gh-pages branch which github publishes

[2015-09-10 15:26] tbetbetbe commented on #3283
@hsaliak, @a11r, @jayantkolhe FYI

Ok, the debian package is published; this issue is open until it reaches jessie-backports

Stage reached:
- [x] [debian-sid](https://packages.debian.org/source/sid/grpc)
- [ ] debian-testing (ETA 11/20/2015)
- [ ] jessie-backports (ETA 11/21/2015)

[2015-09-10 15:32] tbetbetbe commented on #3283
For the record, the issue with docs was resolved by removing them from the sid branch; the current plan is to remove them from the main and release branches as well and replace with a build rule. (cf #3313)

[2015-09-10 16:40] jtattermusch commented on #3312
protoc.exe is now part of the Google.Protobuf  package - which is where it is actually belongs. We used to ship protoc.exe with Grpc.Tools as a temporary measure before Google.Protobuf was officially released.

This has been reflected in updated version of route guide example https://github.com/grpc/grpc/tree/master/examples/csharp/route_guide (but we haven't published that howto on grpc.io yet).

[2015-09-10 16:40] #3312 closed

[2015-09-10 16:42] jtattermusch commented on #3313
Note that C# docs is generated on Windows with sandcastle tool. Thus, having a make rule to regenerate  for C# is unrealistic.

[2015-09-10 16:58] jtattermusch commented on #3283
Hopefully, the ETA 11/20/2015 is wrong :-)

Also, it is worth noting that grpc C core debian package won't be useful until protobuf-3.0.0-beta1 gets released as a debian package and grpc protoc plugins will be released as a debian package as well.

[2015-09-10 18:25] dustinboswell commented on #3203
Let me know if there is more info I can provide, or if there's a newer version of the codebase I should try this on.

[2015-09-10 20:01] TassoKarkanisADSK opened #3319 "Very slow to start RPC's on Mac OS with grpc-0.11.0"
I have a Mac Pro with 8 cores and 16 hyperthreads running Mac OS 10.10.5.  I compiled grpc-0.11.0 with make following the instructions.  I then compiled the greeter C++ example in examples/cpp/helloworld and started the server.  I ran the client (on the same machine) repeatedly with the following output:
    $ time ./greeter_client
    Greeter received: Hello world

    real	0m2.468s
    user	0m0.

[2015-09-10 20:41] dhermes commented on #662
FYI, when adding jessie-backports to my machine, after `apt-get update` I got a warning that isn't great to see:

[code]

[2015-09-10 21:47] nathanielmanistaatgoogle opened #3321 "Unpin protobuf dependency"
Currently our protobuf dependency is pinned to 3.0.0a3, because if we say ">=3.0.0a3" we stand a chance of getting 3.0.0-alpha-1.

[2015-09-11 07:15] #2600 closed

[2015-09-11 09:57] sipdar opened #3326 "Update Xcode GM and Protobuf (3.0.0-alpha-4.1) I got some Error."
<img width="757" alt="2015-09-11 5 55 12" src="https://cloud.githubusercontent.com/assets/1386469/9812202/49a08ae8-58ae-11e5-8f91-ce0ede1ba089.png">

<img width="912" alt="2015-09-11 5 45 25" src="https://cloud.githubusercontent.com/assets/1386469/9812230/7229c5c4-58ae-11e5-815f-d69cc4dfce38.png">

[2015-09-11 14:06] i5ting opened #3327 "mac npm install grpc error"
[code]

[2015-09-11 14:08] i5ting commented on #3327
but i can compile from source ....

[code]

[2015-09-11 14:21] jclardy commented on #3326
Same here, it looks like the protobuf library was updated and changed the names of things. I tried specifying 3.0.0-alpha-3 but now I am having issues running protoc.

[2015-09-11 14:46] i5ting commented on #3327
[code]

[2015-09-11 14:47] i5ting commented on #3327
it only can't install with npm,maybe

    CXXFLAGS=-I<custom location>/include LDFLAGS=-L<custom location>/lib npm install [grpc]

[2015-09-11 14:52] i5ting commented on #3327
but, it can't be sucesss

CXXFLAGS=-I/usr/local/include LDFLAGS=-L/usr/local/lib npm install grpc

[2015-09-11 15:13] i5ting commented on #3327
my mac os is 10.9.5

[2015-09-11 15:14] i5ting commented on #3327
binding.gyp

[code]

[2015-09-11 15:53] i5ting commented on #3327
➜  node git:(master) ✗ node-gyp rebuild
gyp info it worked if it ends with ok
gyp info using node-gyp@3.0.1
gyp info using node@0.10.38 | darwin | x64
gyp info spawn python
gyp info spawn args [ '/Users/sang/.nvm/v0.10.38/lib/node_modules/node-gyp/gyp/gyp_main.py',
gyp info spawn args   'binding.gyp',
gyp info spawn args   '-f',
gyp info spawn args   'make',
gyp info spawn args   '-I',
gyp info sp

[2015-09-11 15:57] murgatroid99 commented on #3327
The problem here is that you are installing version 0.10.1 of the Node library and you are installing the C core library from master. Those are incompatible. I would suggest installing the C core using homebrew, or from the branch release_0.10 in the git repository, or from the source dump in the [0.10.2 release](https://github.com/grpc/grpc/releases/tag/release-0_10_2) on GitHub. Alternatively, y

[2015-09-11 19:51] nathanielmanistaatgoogle commented on #2611
@soltanmm after a month of thinking about it it's probably that there's a `KeyError` inside the `rear.RearLink` which means that no `BackToFrontTicket` ever reaches the `FrontLink` and so from the `FrontLink`'s point of view the RPC times out.

Glad that none of that matters for Beta. :-)

[2015-09-11 20:06] #2127 closed

[2015-09-11 21:47] #3289 closed

[2015-09-11 21:55] jtattermusch commented on #2069
Should this be enabled now or this issue is not relevant anymore?

[2015-09-11 21:56] jtattermusch commented on #2011
I believe this is no longer relevant.

[2015-09-11 21:56] #2011 closed

[2015-09-11 21:59] jtattermusch commented on #130
@ctiller , should we polish this for GA or did we effectively got stuck with this forever because we made the API stable?

[2015-09-11 22:23] jtattermusch opened #3332 "RPCs are sometimes very slow on Linux"
RPC done by Helloworld sometimes does strange pauses.

To reproduce:
1. run GreeterServer, you will get message that it is listening (verified by netstat).
2. run GreeterClient. It sometimes finishes the RPC instantly but often times it takes 10s or more before I receive the call completion (the RPC is trivial, should return immediately).

I see similar behavior in routeguide example as well, some

[2015-09-11 22:30] nicolasnoble commented on #130
"win32" is the commonly accepted suffix for anything using the modern (post Windows 3.1) Windows API. It IS in fact the name of the Windows API. Compiling in 64 bits means you have to define both _WIN32 and _WIN64 for it to work.

[2015-09-11 22:30] nicolasnoble commented on #3332
I'd say this is a duplicate of #3319 ?

[2015-09-11 22:33] yang-g commented on #3332
#3203 may be related as well.

[2015-09-12 09:32] Zerqkboo opened #3336 "grpc cpp 0_11_0 create stub error with msvc 2013 with preprocessor definition _USE_32BIT_TIME_T"
I build my grpc 0_11_0 with default settings under `/vsprojects`, and get all the cpp libs. When I used it in my project with very simple rpc server and client, I found that `NewStub` will be created without any error messages, but afterwards I called a rpc method, the program crashed. I tested again without the preprocesser definition `_USE_32BIT_TIME_T` in all `/vsprojects`, then everything is o

[2015-09-12 17:55] ctiller commented on #3332
Looked into this a little on Friday. Still CNR locally but its high on my
list presently.

On Fri, Sep 11, 2015, 3:33 PM Yang Gao <notifications@github.com> wrote:

[2015-09-14 12:46] amitkg29 commented on #3273
My current thoughts are:

a) extend the grpc_server structure to have connect_cb and disconnect_cb callbacks.
b) Allow the client/server to fill in those callback pointers.
c) Invoke these callbacks, say for server, invoke it when an incoming connection is received.

[2015-09-14 15:37] ctiller commented on #3273
We're thinking about this, but don't have a firm design yet. Our current
thinking is that we want to avoid callbacks and funnel these events through
the completion queue, in a similar style to request_call. This would give
us some good signal inside the library that applications are not keeping up
with incoming connections (allowing us to throttle work).

On Mon, Sep 14, 2015, 5:46 AM amitkg29 <no

[2015-09-14 17:15] amitkg29 commented on #3273
Thanks Craig for looking into it.

One subsequent question to this is - The reason to have connect callback was to provide the user-id string to the other side.

For example: a Network Configuration client sends NETCONF-CLIENT as User-Id string to Server. Server should see this in connect request and can take a specific action.

If we do connect callback via completion queue, Can the use-case i de

[2015-09-14 19:15] ctiller commented on #3273
There probably won't be a surfaced api for directly reading bytes from
wire... Such a thing would be incredibly brittle. If there's a custom
handshake that needs to happen then it probably needs to be handled within
the library similarly to how we do the ssl integration.

On Mon, Sep 14, 2015, 10:16 AM amitkg29 <notifications@github.com> wrote:

[2015-09-15 04:02] amitkg29 commented on #3273
Thanks craig again.

Well, We do not want to read bytes from Wire directly.
Perhaps there could be a header like "User-Agent" used by httpcli which greeter_client can set and could be received by greeter_server.

I thought this header could be available in service callback arguments (mostly in request). I was looking at Channel structure which has key/value pairs But i believe these are Local chan

[2015-09-15 04:03] jboeuf opened #3342 "Add maximum lifetime check for JWTs in JWT verification library (if not already done)."

[2015-09-15 10:41] aantelov87 opened #3343 "npm install grpc is fail....."
grpc 0.11.0 is not found in npm

[2015-09-15 15:52] murgatroid99 commented on #3343
Until we publish it, you can install it from `src/node` in your local copy of this git repository.

[2015-09-15 18:35] murgatroid99 commented on #2906
It looks like this will also be required to get the library working on Node 4.0

[2015-09-15 21:04] #2763 closed

[2015-09-16 12:15] Zerqkboo opened #3346 "AsyncNext with zero time block sometimes makes program crash (cpp)"
I called rpc in client with async method very similar with codes in https://github.com/grpc/grpc/blob/release-0_11_0/examples/cpp/helloworld/greeter_async_client.cc#L90 . The differences are as follows:
[code]
Here I called the `AsyncNext` method with zero time block, and repeats it in a outer loop. Sometimes it will make program crash. When I debug it in vs2013 on win10, the error seems to be nul

[2015-09-16 16:35] jtattermusch opened #3347 ""Secure transport setup failed with error 2" when running C# interop tests."
I see some strange logs when running ping_pong and client_streaming interop tests. The interop test eventually passes, but hangs at shutdown (on one of the threads in the thread pool, I don't receive the stutdown event from completion queue).

GRPC_TRACE=surface SSL_CERT_FILE=$HOME/github/grpc/etc/roots.pem mono Grpc.IntegrationTesting.Client.exe --use_tls --server_port=443 --server_host=grpc-test

[2015-09-16 16:44] jtattermusch opened #3348 "Failed to free 0 iomgr objects before shutdown deadline."
Getting message about failing to free 0 objects seems odd.

$ GRPC_TRACE=surface SSL_CERT_FILE=$HOME/github/grpc/etc/roots.pem mono Grpc.IntegrationTesting.Client.exe --use_tls --server_port=443 --server_host=grpc-test.sandbox.google.com --server_host_override=grpc-test.sandbox.google.com --test_case=large_unary
grpc-test.sandbox.google.com
443
running large_unary
D9/16/2015 9:41:57 AM 13983294850

[2015-09-16 17:58] ctiller commented on #3203
I'm still unable to reproduce this (but working on it).

In the meantime, could you patch in #3350, and run with `GRPC_TRACE=tcp`

[2015-09-16 17:59] ctiller commented on #3332
I'm still unable to reproduce this (but working on it).

In the meantime, could you patch in #3350, and run with `GRPC_TRACE=tcp`

[2015-09-16 17:59] ctiller commented on #3319
I'm still unable to reproduce this (but working on it).

In the meantime, could you patch in #3350, and run with `GRPC_TRACE=tcp`

[2015-09-16 17:59] ctiller commented on #3319
(also: seems like a duplicate of #3319)

[2015-09-16 18:01] ctiller commented on #3203
(client and server traces from the same run would be great here)

[2015-09-16 18:09] jtattermusch opened #3353 "C++ doesn't support empty_stream interop test?"
https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md#empty_stream

E0916 18:06:40.158205877   13299 client.cc:152]              Unsupported test case empty_stream. Valid options are all|empty_unary|large_unary|large_compressed_unary|client_streaming|server_streaming|server_compressed_streaming|half_duplex|ping_pong|cancel_after_begin|cancel_after_first_response|timeout_on_slee

[2015-09-16 18:10] jtattermusch commented on #3353
Feel free to reassign.

[2015-09-17 00:05] #3203 closed

[2015-09-17 00:08] ctiller commented on #3332
Should be fixed

[2015-09-17 00:08] #3332 closed

[2015-09-17 00:08] ctiller commented on #3319
Should be fixed

[2015-09-17 00:08] #3319 closed

[2015-09-17 00:08] ctiller commented on #3203
Let me know if this still shows up

[2015-09-17 00:19] dustinboswell commented on #3203
Seems to have fixed it -- Thanks!

[2015-09-17 00:44] jtattermusch opened #3357 "C++ interop tests use --enable_ssl argument instead of --use_tls."
"enable_ssl" arg is unknown to the spec.
https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md

As I refactor interop testing setup, fixing the call sites should become easier.

[2015-09-17 01:33] philips opened #3358 "grpc.io: add fork me on github links to docs"
One thing that has been really successful for us on https://coreos.com/docs is to add a "fork me on github link" so people can hack on the docs really quickly. For example see this page: https://coreos.com/os/docs/latest/booting-on-google-compute-engine.html

I would like to do something similar for grpc.io because it took me quite some time to figure out where the source was for http://www.grpc.i

[2015-09-17 02:10] brennan-si opened #3360 "OpenSSL: error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol"
I'm wanting to see about developing a plain JS version the grpc protocol without all the binary dependencies (they are not compatible, difficult to install, and give segfault / bus errors on OS X intermittently).

I'm trying to connect to a grpc server through HTTP2 directly.  I have tried a few methods:

Every time I get the error:

[code]

I have tried with `openssl s_client -connect`, `wget htt

[2015-09-17 04:31] #3138 closed

[2015-09-17 05:21] #3346 closed

[2015-09-17 14:50] ohad7 opened #3361 "ClientReaderWriter constructor blocks forever"
I'm using ClientReaderWriter and it is working well as long as the server is available on the first call to the constructor. If the server or network is down the call will is blocking and will never return (If the server comes back is sometimes returns, sometimes it doesn't).

I tried using ClientAsyncReaderWriter (which returns immediately) but there's no example so I'm shooting in the dark a lit

[2015-09-17 16:17] TassoKarkanisADSK commented on #3319
I cherry-picked your change 7a5149 into the branch release-0_11 and can confirm that the problem is fixed.  Thanks a lot!

[2015-09-17 20:13] jclardy opened #3363 "ObjC: Error when using a certificate chain that's not the default one"
I am trying to connect to our secure domain using the Objective-C library but I can't find any way to specify my own client TLS certificates. Is this supported already? I can't find anything for it.

I see that roots.pem is loaded from the grpc bundle and I tried just appending my certs to that file but it didn't seem to work, and either way I would have to redo this on every machine the code is b

[2015-09-17 20:42] jcanizales opened #3364 "gpr_mu_lock assertion when trying to make RPCs from iOS"
Something between commits fb956aa878bddc7a55f2baea760d3c90a7822be5 (worked) and 64b357ce8ffac125c21981dfdb795502562a263a (broken) broke iOS.

Stack trace (I can get line numbers and local variables values if needed):
<img width="1440" alt="screen shot 2015-09-17 at 1 24 44 pm" src="https://cloud.githubusercontent.com/assets/5120183/9945293/3fe70daa-5d41-11e5-8107-8b9cc842ad50.png">

[2015-09-17 20:49] jcanizales commented on #3364
Commit 705a49a81270794ea04a93a2d6e0afb53f27d0f7 was good too.

[2015-09-17 22:25] ctiller opened #3368 "Swallow Content-Type when sent from server --> client"
Currently we hand this up to the application, but since it's really "protocol stuff" it should be consumed in the core library.

[2015-09-17 23:03] yang-g commented on #3364
I saw this too at 9ed4be48955e3b65b0540f70060b7191d8c1eef1.

On Thu, Sep 17, 2015 at 1:49 PM, Jorge Canizales <notifications@github.com>
wrote:

[2015-09-17 23:21] jcanizales opened #3369 "The port server of the tests isn't starting on a Mac"
Trying to run the tests fails after building:

[code]

Same with other languages like C++

[2015-09-17 23:48] yang-g commented on #3364
stack trace

[code]

[2015-09-17 23:53] jcanizales commented on #3364
Mine is only happening for SSL: cleartext works fine.

[2015-09-18 00:00] jcanizales opened #3371 "Build samples as part of automatic testing (WAS: Ensure samples work after being moved from grpc-common)"
- [x] hellow world
- [x] route guide
- [x] auth sample
- [x] sample under `src/objective-c`
- [x] Swift sample (under `src/objective-c`)
- [ ] Build them as part of the automatic tests.
- [x] Point `/examples/README.md` > Objective-C to hellow world instead of route guide

[2015-09-18 00:00] jcanizales commented on #3371
https://github.com/grpc/grpc.github.io/pull/73 is blocked on this.

[2015-09-18 00:07] nicolasnoble commented on #3368
I think this also broke the C++ tests: in test/cpp/end2end/async_end2end_test.cc:

`EXPECT_EQ(static_cast<size_t>(2), server_initial_metadata.size());`

Needs to become 3. I guess this test needs to go ?

[2015-09-18 00:14] #3368 closed

[2015-09-18 00:21] jcanizales commented on #2513
One of the projects using the library has already found a use for this, so it'll be exposed somewhere that makes sense.

[2015-09-18 00:47] jcanizales commented on #3364
The crash doesn't happen if `GRPC_OP_SEND_INITIAL_METADATA` isn't passed to `grpc_call_start_batch`.

[2015-09-18 00:49] jcanizales commented on #3364
@jboeuf, might this be related to the recent auth plugin work? This client doesn't use it, but "only after send_metadata is called over SSL" sounds pretty close to that area of the code.

[2015-09-18 01:28] ctiller commented on #3369
Can you attach portlog.txt from the root of the repo? At least the end of
it.

On Thu, Sep 17, 2015, 4:21 PM Jorge Canizales <notifications@github.com>
wrote:

[2015-09-18 02:48] jcanizales commented on #3369
[code]
lol
Let me install it. Good to know about portlog.txt!

[2015-09-18 04:35] jboeuf commented on #3364
The auth plugin work has not been merged yet to master (#3176). @ctiller has been adding locks to fix a memory leak lately in the security code (see https://github.com/grpc/grpc/commit/131f6edafa1a281604fffc24019dcb99134eec9f). Could that be related?

[2015-09-18 05:15] jtattermusch opened #3375 "Provide way to obtain machine default roots.pem on Windows"
As of now, roots.pem is shipped with the NuGet package (see #3127), but to be able to use  new SslCredentials() (parameterless version), one needs to set and environment variable, which is not ideal.

Investigate if we can provide machine default roots  through SslCredentials().

[2015-09-18 05:26] jcanizales commented on #3369
Yup, that was it! Thanks for the pointer!

[2015-09-18 05:26] #3369 closed

[2015-09-18 07:08] yang-g commented on #3364
I now think our issues may not be the same one. The one I had were about
channel connectivity checker timed out but did not remove the pollset
registered with the channel fast enough. Then when a channel state change
comes, it will try to hold the pollset which may be gone with the
completion queue. The issue could have been in existence all the time. Any
way, I might create a new issue.

On Thu,

[2015-09-18 07:33] xtaci opened #3376 "Need the whole library be go get-able from github.com"
In Mainland China we CANNOT access google.golang.org/grpc and related golang.org/x/net/context without VPN. It's so painful for building automatic process.

[2015-09-18 07:39] johnnyluo586 commented on #3376
I often encounter this problem, very upset, it is strongly recommended that stored in github.com

[2015-09-18 08:29] yang-g opened #3377 "pollset reference as interested party after the owning cq is destroyed"
Stack trace in #3364.

It seems in channel_connectivity.c in the case of timeout, alarm is triggered and it only alters the phase. Deleting the interested party could happen later when finished_completion is called. If a cq is created and  used to check the status, and then deleted, its pollset may still be registered with channel. And trying to touch that pollset generates an error.

[2015-09-18 11:55] echoma opened #3379 "how can I use libev with grpc together"
My applications is heavily using libev, how can I adapter grpc to work with libev?

[2015-09-18 18:37] carl-mastrangelo opened #3382 "Idea: Factor latency into compression decision"
If the latency of connection is low, it may not make sense to compress messages, even if the user asked us to.  For example, it would be possible to keep a running average of the latency, and a running average of compression (and possibly decompression) time, and decide if it would be overall faster to not compress a message.

This is a performance optimization and more of an idea at this stage.

[2015-09-18 18:40] carl-mastrangelo opened #3383 "Idea: Factor decompression ratio for output buffer allocation"
When decompressing a message, the output  buffer could be intelligently sized based on previous messages.  If a good output size is known in advance, it could save buffer allocations.  This is of course assuming that the compressed message is not being treated as a bytestream and the size of the buffer is not important.

This is a performance optimization and more of an idea at this stage. This is

[2015-09-18 18:44] carl-mastrangelo opened #3384 "Support alternate compression methods"
The Snappy compression library is designed for optimizing compression and decompression speed over size ratio.  This is not part of part of the gRPC spec, but would likely be desired by a lot of people internally and possibly people externally.

There should be a way to link in other, optional libraries into gRPC and have them self register additional compression and decompression methods.

[2015-09-18 18:48] carl-mastrangelo opened #3385 "Keep track of latency and throughput benchmarks in regards to compression"
In order to check to see if optimizations actually provide the expected gain, there needs to be reliable and regular benchmarks.   Specifically, different compression and decompression techniques could speed up gRPC.  To evaluate these thoroughly, accurate benchmarks and their data is needed.

This may exist already today, in which case feel free to close this issue.

[2015-09-18 19:11] jcanizales commented on #3364
I've confirmed that this bug was introduced by PR #3338.

[2015-09-18 19:41] jcanizales commented on #3364
Specifically, by commit 131f6edafa1a281604fffc24019dcb99134eec9f.

[2015-09-18 22:55] jcanizales commented on #3363
Hi,

if I'm understanding your use case correctly, this isn't currently supported in the ObjC library. But let's double check: you're trying to make a gRPC connection from a Mac (*not* iOS) to another server, right?

[2015-09-18 22:58] jclardy commented on #3363
Sorry I wasn't clear, I am building an iOS app and am trying to specify the TLS certificate inside that app.

[2015-09-18 23:03] jcanizales commented on #3363
No worries! And the certificate you're trying to use identifies the server (your secure domain), right? *Not* the client app, correct?

[2015-09-18 23:04] jclardy commented on #3363
Yes that is correct

[2015-09-18 23:11] annismckenzie commented on #2275
Same here. Got a whole lot of notices and constants disappearing.

I'm using PHP's (well, Symfony2's) built-in web server for now.

`Notice: Use of undefined constant OP_SEND_INITIAL_METADATA - assumed 'OP_SEND_INITIAL_METADATA'`.

[2015-09-18 23:13] jcanizales commented on #3363
Ok then, we're on the same page now :)

This should have worked, even if it's not an ideal solution... Is your cert on PEM format? What did the library output in the logs console when trying to connect? What's the result if you replace the whole contents of the file with your cert?

The ideal solution would be to use [this method](https://github.com/grpc/grpc/blob/master/src/objective-c/tests/Inte

[2015-09-18 23:15] carl-mastrangelo commented on #3383
Side note: this optimization isn't necessary in the case of using Snappy, since the output size is part of the coded stream.

[2015-09-18 23:30] stanley-cheung commented on #2275
It seems to be a lot more stable on Linux than on Mac. We are still working on this.

[2015-09-19 00:38] soltanmm commented on #3358
grpc.io is *currently* a private repository for the GRPC group.

@LisaFC Thoughts?

[2015-09-19 00:40] soltanmm commented on #3360
How are you running the GRPC server (what implementing language, any particular example, etc.)?

[2015-09-19 00:48] soltanmm commented on #3376
This issue was moved to grpc/grpc-go#350

[2015-09-19 00:48] #3376 closed

[2015-09-19 01:02] brennan-si commented on #3360
It's a custom server.  I was reading that there are some options to pass in CERT info.  That was not happening and might be part of the problem.  If so, it can simply be an issue of hooking up the certs.  I haven't verified this yet.  It is a server written in node 0.10.40.  I was just launching the server using `node server.js`.  The server seems to work with the grpc client connecting to it, but

[2015-09-19 11:54] LisaFC commented on #3358
It's currently private while we put the initial docset together (including all the Jekyll infrastructure, Javascript, etc.) but my personal preference is to open it up for  general user pull requests as soon as possible so we can do things like the fork/edit button you suggested, probably after our next major update. I don't actually own the repo so can't change it myself yet...

[2015-09-19 17:15] dhermes commented on #662
I can't re-open for some reason.

I finally got around to running `sudo apt-get install libgrpc-dev` and got another scary message

[code]

then when trying to installing the beta (`0.11.0b0`) library it failed:
https://gist.github.com/dhermes/bec8ab731349c175f7d1

/cc @nathanielmanistaatgoogle

[2015-09-19 23:21] ohad7 opened #3390 "GPR_ASSERT(op->context) fails in client_auth_filter"
Hi there
We're experiencing a SIGABRT in auth_start_transport_op (client_auth_filter.c) - I'm assuming that the following assertion is being called and for some reason op->context is null :

GPR_ASSERT(op->context)

This is the stack trace. the high level call is made to CompletionQueue::AsyncNextInternal

libsystem_kernel.dylib 0x000000019ae0f140 __pthread_kill + 4
libsystem_c.dylib 0x000000019ad

[2015-09-20 04:25] hhzzk opened #3391 "undefined symbol: grpc_google_iam_credentials_create"
Hi, when import the *_pb2.py which generated by run_codegen.sh, I got following ImportError:

[code]

and the platform is ubuntu 14.04.
Any feedback will be appreciated.

[2015-09-20 08:57] soltanmm commented on #3391
Do you have an old system install of libgrpc?

[2015-09-20 22:06] ohad7 commented on #3390
Hi again
The issue is reproducible when sending a lot of requests, then shutting down the server and restarting it after some time (1 minute). The client will then fail on the assertion.

Here's an example of the stack when it fails, note that op is all NULLs, and that cancel_with_status is GRPC_STATUS_CANCELED:

![image](https://cloud.githubusercontent.com/assets/9012046/9983167/351b1520-5ffc-11e

[2015-09-21 02:48] hhzzk commented on #3391
I don't know whether I have an outdated system install of libgrpc, but I install grpc many times with different methods, and the issue still exists.
I want to know how to remove grpc compeletly?
thanks...

[2015-09-21 12:16] randooom commented on #1953
Removing the "_USE_32BIT_TIME_T" Pre-proccessor flag from all grpc libraries resolved some strange crashes with deadlines (e.g. references pointing to wrong locations).

Adding "_USE_32BIT_TIME_T" to own projects might also work.

[2015-09-21 13:32] jclardy commented on #3363
I'm using the library via cocoapods, it seems that there are updates in the repo that aren't in the cocoapods version (Also I can't access the private headers from my app.)

But when I replaced the roots.pem with my cert I got this error:
[code]

Is there some server configuration that is needed to make this work? I also noticed differences in the files on the repo from the 0.6 version on cocoapod

[2015-09-21 16:17] nathanielmanistaatgoogle commented on #3391
Removal might depend on how you installed libgrpc in the first place. What problems are you having with uninstallation? Do you have "libgrpc" files under /usr/local/lib, and if so, is uninstalling gRPC more than just a matter of removing those files?

[2015-09-21 17:04] jboeuf commented on #3390
Thanks for the bug report. I'm very busy today but I'll try to have a look. Tomorrow latest.

[2015-09-21 18:05] proteneer opened #3395 "csharp_names.h not found"
When running make:

[code]

Running on OSX Yosemite, 0.11 Beta release. Is there a way to disable the C# wrappers in the mean time?

[2015-09-21 18:22] #3395 closed

[2015-09-21 19:04] soltanmm commented on #3391
A good place to start to handle all possible installs on the command-line is

[code]

(you might need to `sudo updatedb` before that)

Determine the prefixes from there, e.g. you might see:

[code]

The local prefix would mean you probably installed from source (or other manual non-packager means) at some point. Those will need to be removed manually. This includes headers under the prefix, e.g.:

[2015-09-21 20:13] #3353 closed

[2015-09-22 00:06] ctiller opened #3402 "Customer reported 10-20 second stall destroying a Python stub"

[2015-09-22 04:49] jboeuf commented on #3390
Hopefully, the fix will make it in time for 0.11.1. Your fix was right but I generalized it a bit more. Thanks!

[2015-09-22 13:43] nathanielmanistaatgoogle commented on #3402
I am excited to learn more details about this - will they appear here or in another conversation?

[2015-09-22 15:28] #3377 closed

[2015-09-22 16:52] jcanizales commented on #3363
Oh, I see. Yes, I'm close to sending the next release to Cocoapods (the last one with breaking changes :) ), so please clone (or submodule) this repo and tell Cocoapods to use it instead of v0.6 (and to use Protobuf version "3.0.0-alpha-4.1"). To do that, add the following lines to your Podfile:

[code]

This way we won't be debugging old code.

[2015-09-22 16:55] jclardy commented on #3363
I actually am working on doing that now, but now I am getting a crash on a mutex lock. I built and installed the grpc-objc plugin from source as the one I installed via homebrew seemed to compile the old version.

[2015-09-22 16:58] jcanizales commented on #3363
Ah, yes! Sorry, that's Issue https://github.com/grpc/grpc/issues/3364. If you checkout the repo before commit https://github.com/grpc/grpc/commit/131f6edafa1a281604fffc24019dcb99134eec9f it doesn't happen.

[2015-09-22 17:02] jcanizales opened #3408 "Update Homebrew's ObjC plugin"
CC: @tbetbetbe

Alternatively, make Cocoapods compile it and forget Homebrew.

[2015-09-22 19:05] nathanielmanistaatgoogle opened #3410 "Type-check when serializing protocol buffer objects"
Explicit type-checks are generally only warranted in Python when the effects of a type defect only manifest far from the point of the mistake. Proto serialization is such a case: if one passes a message of the wrong type to be serialized and sent across the wire, it serializes just fine, and it's only far across the network at the other side of the RPC that on deserialization the mistake is detect

[2015-09-22 19:26] mdering opened #3411 "Issue with Timeouts windows C++ client, linux python server"
I have a MSVC 2013 client written in c++ talking to a linux python server. The connection seems to work, the server gets the information, can display it, i verify that it's the same, etc. The server then replies with other information back to the client, which the client can properly display. In between those two steps though, the client reliably outputs

which is strange because like I said, the

[2015-09-22 19:39] ejona86 commented on #527
The comment you describe in test.proto isn't present in test/proto/test.proto. In general, doc/interop-test-descriptions.md should be the source of truth. However, I'm also aware that changes to the document have not been receiving the review and agreement that they need; we need more process for changes to it. Generally only "important" tests and server features required for those tests are likel

[2015-09-22 20:41] emmenlau opened #3416 "grpc++.h not installed, should it be?"
I tried to compile the newest greeter_client.cc with grpc 0_11_0 release, but it fails, due to a missing header. I can see the header in the sources, but its not installed:
[code]

[2015-09-22 20:58] proteneer opened #3420 "recovering from EOF errors?"
Whats it the correct way for Go clients to recover EOF errors?

eg:

 http2Client.notifyError got notified that the client transport was broken EOF.

This error happens when the server/service is restarted, but upon restarting the client doesn't recognize this and all subsequent connections hang.

[2015-09-22 21:01] jclardy commented on #3363
[code]
	creds, err := credentials.NewClientTLSFromFile("***certname***.cert", "***domain_name***")
	if err != nil {
		log.Fatalf("> failed to create transport authenticator: %s", err)
	}

	conn, err := grpc.Dial(routerEndpoint, grpc.WithTransportCredentials(creds))
[code]

[2015-09-22 21:06] proteneer commented on #3420
This should be moved to grpc-go I guess, closing.

[2015-09-22 21:06] #3420 closed

[2015-09-22 21:50] EliSchleifer opened #3421 "ObjC - Create synchronous methods for service calls"
While the APM/callback model is super-duper-awesome there are times when it makes sense to make a sequence of serial calls to a service without creating a chained function behemoth.

It would be great to have synchronous versions of the service methods generated. Perhaps this would be done with a flag or always by default depending on code bloat.

[2015-09-22 21:54] jcanizales commented on #3421
I'm not too worried about bloat, because that comes mostly from proto message fields, which are usually >> N(service methods).

[2015-09-22 22:01] jcanizales commented on #3363
It _might_ be that this `.cert` file can't replace the default `certs.pem` file...

Hey @jboeuf, do you know if a `.cert` file with an x509 cert can work as a substitute of the `certs.pem` file we use by default? Or are they completely different things?

[2015-09-22 22:36] #3364 closed

[2015-09-23 00:22] nicolasnoble commented on #3290
This one is fixed.

[2015-09-23 00:22] #3290 closed

[2015-09-23 00:23] nicolasnoble commented on #3347
If this is fixed by #3354, can we close this one ?

[2015-09-23 00:46] yang-g commented on #3411
Maybe a duplicate of #3290
On Sep 22, 2015 3:27 PM, "Nathaniel Manista" <notifications@github.com>
wrote:

[2015-09-23 01:46] mdering commented on #3411
I'm not sure, I'm getting a different error. I thought it might be a time issue but I added the time preprocessor directive to my project to no avail, and removed it from the library as well, which also didn't fix my problem. Either way it times out in 20 seconds and then outputs good output.

[2015-09-23 06:21] ejona86 opened #3427 "Ruby interop server uses 100% CPU"
As seen on GCE instances grpc-docker-server-* and locally with `docker run -it grpc/ruby`.

[2015-09-23 15:02] jtattermusch commented on #3347
Interop tests have been partially fixed by #3354 and partially by other changes. Fine to close this one.

[2015-09-23 15:02] #3347 closed

[2015-09-23 15:17] nathanielmanistaatgoogle commented on #526
As of this moment, `test.proto` can be found in `test/proto/` as well as:
* `src/csharp/Grpc.IntegrationTesting/proto/`
* `src/node/interop/`
* `src/objective-c/examples/RemoteTestClient/`
* `src/objective-c/generated_libraries/RemoteTestClient/`
* `src/php/tests/interop/`

. Reopening.

[2015-09-23 15:32] jtattermusch opened #3428 "Jenkins: git checkout fails with "reference is not a tree" error."
We've been seeing this problem for quite a while now, so I am adding a tracking issue for it.

Symptoms:
Generally, this happens when you have an open pull request and force-push the underlying branch (e.g. after you have consolidated/changed the history with `git rebase`). After that, github pull request builder will pick up the change to that branch and start a new build on jenkins. All configur

[2015-09-23 15:34] jtattermusch commented on #3428
FYI @nicolasnoble

[2015-09-23 15:52] murgatroid99 commented on #3428
I have also seen this issue just from pushing multiple commits within a short time.

[2015-09-23 15:55] nathanielmanistaatgoogle commented on #527
I agree both with your points in the large and with the observation that the particular out-of-date specification called out in this issue has long since been resolved.

[2015-09-23 15:55] #527 closed

[2015-09-23 16:02] jtattermusch commented on #3428
Also, it looks like the parent job in matrix-project checks out the right revision (I think it's the right one) without problems:
[code]

The child job (one of the cells in the matrix) tries to check out a wrong revision:
[code]

Parent job:
https://grpc-testing.appspot.com/job/gRPC_pull_requests/3235/console

Child job:
https://grpc-testing.appspot.com/job/gRPC_pull_requests/3235/config=dbg,langu

[2015-09-23 16:15] jtattermusch commented on #3428
Several folks seeing the same issue: https://github.com/janinko/ghprb/issues/148

[2015-09-23 16:23] Andyccs opened #3430 "Cannot build repo from source. GPR_ASSERT(h->count) in histogram.c:215:17"
I tried to build this project from source in MAC OS using `make` command. I get the following error:

[code]

I do not understand anything about this project, but it turns out that if I remove this line or I change it to `h->count != 0`, the build will continue without any error.

I attach the log for your reference:

[code]

[2015-09-23 16:28] stanley-cheung opened #3431 "release-0_11: Make install gives error"
[code]

[2015-09-23 16:30] stanley-cheung commented on #2275
Closing this as the gRPC PHP extension is stable to be run behind either Apache or Nginx/PHP-FPM on Linux (Debian at least). Will log a separate issue for the Mac issue we were seeing.

[2015-09-23 16:39] #3431 closed

[2015-09-23 16:51] mdering commented on #3411
I did more digging, including trying a local python client for my server and a local c++ client for my server, I believe I have therefore eliminated the server as the culprit,  meaning this likely stems from a problem with MSVC 2013. Since a valid reply is being received, but only parsed once the process has timed out, the communication seems like its missing some final disconnect step. Can anyone

[2015-09-23 18:59] jtattermusch commented on #3428
@nicolasnoble  perhaps we could experiment with some possible fixes using "the other" jenkins setup you brought up.

[2015-09-23 20:18] ejona86 commented on #527
The text for UnaryCall and the related server-side features has remained effectively unchanged since October 1st, 2014 (albeit, in the internal-only document at that time).

[2015-09-23 20:26] nathanielmanistaatgoogle commented on #527
True, but it wasn't authoritative (or even discoverable) at the time this issue was filed; it now is. :-) At the time this issue was filed the comments in the .proto were the most authoritative-appearing documentation of the test and did not match the implementation.

[2015-09-23 20:28] anubhavnidhi commented on #3395
Hi,
I am facing the same problem. I see the file in thirdparty/protobuf/src/google/protobuf/compiler/csharp/ . So what did you do to fix this problem?

[2015-09-23 20:31] proteneer commented on #3395
you need to install protocol buffers from source (and its headers).

[2015-09-23 20:37] proteneer opened #3436 "Exception Handling Guideline?"
I have a python server and a Go client. When my python service code raises an exception, the exception isn't bubbled up. It simply fails the RPC call on the Go side with a cryptic message such as Error Detected: rpc error: code = 2 desc = "". The desc field is blank (ideally it'd be populated with an exception message).

How is everyone dealing with this? I'm open to creative ideas, etc.

[2015-09-23 21:10] vjpai commented on #3252
I think that you're right; it does seem like those two lines of code are vestiges now and are not actually used. I'll send in a PR to address this.

[2015-09-23 21:17] #658 closed

[2015-09-23 21:20] #782 closed

[2015-09-23 21:22] ejona86 commented on #527
We'll need to agree to disagree. The document was always authoritative and it was one of 3 files in the team's interop testing folder, which was the team-designated place for such items. I had also presented about its existence at multiple of our team meetings. Before that document, there was no "large_unary" or any other interop test. I also consistently got links to it added to other docs that w

[2015-09-23 21:42] nathanielmanistaatgoogle commented on #527
I apologize. I misread the situation in February; thank you for this discussion now.

[2015-09-23 21:43] vjpai commented on #3252
After discussion with @ctiller , it was decided that this variable will indeed be set in the near future and that will soon become no longer vestigial. The point is to do nothing rather than kick oneself to wakeup.

[2015-09-23 21:43] #3252 closed

[2015-09-23 22:02] ctiller opened #3441 "Output contents of portlog.txt if we can't start port server"
https://grpc-testing.appspot.com/job/gRPC_pull_requests/3247/config=dbg,language=c,platform=linux/console

Currently it gives no useful information as to why

[2015-09-23 22:42] dgquintas opened #3443 "Make src/core/client_config/uri_parser.c more RFC compliant"

[2015-09-23 23:13] EliSchleifer opened #3447 "ObjC - Error returned from gRPC library should be more easily consumed"
We should have an easier accessor to handle gRPC errors of NSError domain ios.grpc

Current errors look like this
Error Domain=io.grpc Code=13 "Internal error encountered." UserInfo=....

We could add a category method to NSError -> error.grpc_code that's typed as the NSEnum, so one gets switch autocompletion etc.

[2015-09-23 23:14] jcanizales opened #3448 "Add NSError.grpc_code typed as GRPCErrorCode"
So that people writing error handling code can `switch` and get autocompletion + names instead of numbers.

[2015-09-23 23:15] jcanizales commented on #3448
CC @elischleifer FYI

[2015-09-23 23:17] jcanizales opened #3449 "If an RPC fails without error message, a generic one based on the status code should be used"
I got this as a feature request to make RPC failures less confusing in the ObjC library. But it's generally useful for all client libraries.

[2015-09-23 23:18] jcanizales commented on #3449
CC @elischleifer

[2015-09-23 23:19] jcanizales commented on #3447
Dupe of #3448

[2015-09-23 23:19] #3447 closed

[2015-09-23 23:27] murgatroid99 commented on #526
I would like to note that at least in my case, I have a copy of those protos in `src/node` because I only distribute files from that directory. If we wanted to avoid that duplication, I would have to either

 - Put my `package.json` and `binding.gyp` in the root directory and distribute files relative to that
 - or remove the interop tests from the test suite I distribute
 - or make everyone else

[2015-09-24 00:51] philips commented on #3358
@LisaFC @soltanmm What is the next step here? I think it would really help increase a sense of community around the docs.

[2015-09-24 04:09] nathanielmanistaatgoogle commented on #3436
I'm not sure whether or not @iamqizhao thinks that anything else should be done on the client side, but on the Python side you're right that *something* could probably be put in the description field. I doubt that it would be anything directly derived from the particular application raised by the exception, but it could be something bland such as "the server-side application failed".

[2015-09-24 04:27] nathanielmanistaatgoogle commented on #526
@murgatroid99: understood. I'm not sure there's an immediately available solution to this, or even a plausible one other than "wait long enough and Bazel will meet this need".

[2015-09-24 05:19] hhzzk commented on #3391
Thanks for everyone's replay.
Finally I use docker img to replace manually install.

[2015-09-24 13:35] proteneer commented on #3436
It looks like for Go servers, https://github.com/grpc/grpc-go/issues/92 , one can simply do:

[code]

I'm simply looking for a similar convention for the Python server

[2015-09-24 13:45] martin-pc opened #3455 "Cannot build repo from source."
When I follow the standard steps:
git clone https://github.com/grpc/grpc.git
cd grpc
git submodule update --init
make

I get the following message:
#####################################################################
In file included from src/core/transport/chttp2/frame_data.c:41:0:
src/core/transport/chttp2/frame_data.c: In function ‘grpc_chttp2_data_parser_parse’:
src/core/transport/chttp2/fram

[2015-09-24 14:06] LisaFC commented on #3358
I'll talk to the other people with access to the repo.  We're currently working on a big-ish update on a branch to go with the next release, and I would suggest making the repo visible for users to send doc PRs after that.

[2015-09-24 14:13] ctiller commented on #3455
That'll work... The code is fine. We recently upped our warning levels and
I think we are going through a bit of a shake out with different compilers.
This one I fixed as part of another change and so it should be right at
head soon. Which compiler and version are you using so we can prioritize it
for our CI servers?

On Thu, Sep 24, 2015, 6:45 AM martin-pc <notifications@github.com> wrote:

[2015-09-24 14:17] nathanielmanistaatgoogle commented on #3436
Hang on, the situation is not yet clear to me: is it that your service-side code is raising an exception that gRPC is catching and you'd like there to be a non-empty details string seen on the client, or is it that your service-side code is *handling* an exception, and you'd like to set the value of the details string yourself?

The latter is only possible with the Beta API - are you by any chance

[2015-09-24 14:19] nathanielmanistaatgoogle commented on #3391
Glad to hear that you're moving forward - feel free to contact us again if you encounter other obstacles.

[2015-09-24 14:19] #3391 closed

[2015-09-24 14:21] proteneer commented on #3436
My service-side code, written in python, is raising an exception. The gRPC server is currently catching it, but it

[code]

[2015-09-24 14:28] proteneer commented on #3436
and on the Go side:
[code]

[2015-09-24 14:33] nathanielmanistaatgoogle commented on #3436
Thanks for the clarification. What I will probably implement will be that the Go side would see the text "the service-side application failed" rather than the text "some Foo Error". You're right, of course, that having the text be completely empty is not as helpful as providing a message would be.

[2015-09-24 14:39] proteneer commented on #3436
So how does one send over "some Foo Error" to the client side?

One option is to set the value of the desc string itself, which may be an overloaded to its original intent (eg. to simply diagnose transport errors and nothing else).

Another option is to define the services themselves to return optional error messages as well, eg:

[code]

Is that how you guys are doing it?

[2015-09-24 14:53] nathanielmanistaatgoogle commented on #3436
Instead of
[code]
have you tried something like
[code]
?

We are not doing anything at all like adding optional error messages to RPC method definitions.

[2015-09-24 14:59] martin-pc commented on #3455
gcc --version
gcc (Ubuntu 4.8.1-2ubuntu1~12.04) 4.8.1

Same problem with gcc 4.6

The last checkin to grpc seem to be:
git log

commit ee56eb60c8aa0e36ac33b00fbd4e70a61412d2e4
Merge: e5515d4 d09cce1
Author: Craig Tiller <ctiller@google.com>
Date:   Wed Sep 23 16:22:43 2015 -0700

    Merge pull request #3444 from dgquintas/lb_policies_test

    Improvements to lb_policies_test's rebirth testcase.

[2015-09-24 15:01] ctiller opened #3457 "zookeeper test should be responsible for bringing up the zookeeper server"
In order to keep this test hermetic we should have the zookeeper_test binary spawn and shutdown the zookeeper server, instead of relying on it being pre-existing in the environment.

[2015-09-24 15:02] ctiller commented on #3457
Re-enable zookeeper test once this is done. It's disabled with #3456.

[2015-09-24 15:04] martin-pc commented on #3455
Okay, now I get a new error when I run the make command:

[HOSTCXX] Compiling src/compiler/cpp_plugin.cc
[HOSTLD]  Linking /home/martin/grpc/bins/opt/grpc_cpp_plugin
[HOSTCXX] Compiling src/compiler/csharp_plugin.cc
[HOSTLD]  Linking /home/martin/grpc/bins/opt/grpc_csharp_plugin
/home/martin/grpc/libs/opt/libgrpc_plugin_support.a(csharp_generator.o): In function `GetMethodRequestParamMaybe':
/home

[2015-09-24 15:32] proteneer commented on #3436
That works! I was confused by Go's context.Background() and the Python context argument. It seems those two are unrelated.

[2015-09-24 15:32] #3436 closed

[2015-09-24 15:48] nathanielmanistaatgoogle commented on #1687
The desired test coverage was added in 0c6177674a0474757ffdee37.

[2015-09-24 15:48] #1687 closed

[2015-09-24 15:52] nathanielmanistaatgoogle commented on #2321
Is this an active issue? And if the scope of this issue is only "support gRPC Python on MacOS", should it be deduplicated?

[2015-09-24 17:01] lesv commented on #2321
I'd certainly like to see gRPC Python on MacOS.  @jgeewax may wish to comment.

[2015-09-24 17:03] tbetbetbe opened #3461 "Publish the gRPC beta package for python"

[2015-09-24 17:03] tbetbetbe opened #3462 "Publish the gRPC beta package for node.js"

[2015-09-24 17:04] tbetbetbe opened #3463 "Publish the gRPC beta package for C#"

[2015-09-24 17:05] tbetbetbe opened #3464 "Publish the gRPC beta package for PHP"

[2015-09-24 17:05] tbetbetbe opened #3465 "Publish the gRPC beta package for ruby"

[2015-09-24 17:10] tbetbetbe opened #3466 "Publish the gRPC beta package on homebrew"
Tracks progress of grpc/homebrew-grpc#55

[2015-09-24 18:00] jtattermusch commented on #3463
Beta package (0.11.0)
https://www.nuget.org/packages/Grpc/0.7.0

Point release package (0.11.1)
https://www.nuget.org/packages/Grpc/0.7.1

Work on debian package for C# is in progress.

[2015-09-24 18:13] murgatroid99 commented on #3462
The package has been published.

[2015-09-24 18:13] #3462 closed

[2015-09-24 19:32] nathanielmanistaatgoogle commented on #3461
Done. :-)

[2015-09-24 19:32] #3461 closed

[2015-09-24 19:33] tbetbetbe commented on #3465
Gem pushed: https://rubygems.org/gems/grpc

[2015-09-24 19:33] #3465 closed

[2015-09-24 19:48] nkibler opened #3472 "ObjC - Add factory method to ProtoService generated classes"
Currently, the only way to create a new instance of a ProtoService class is to use:

    - (instancetype)initWithHost:(NSString *)host NS_DESIGNATED_INITIALIZER;

I have a wrapper class that initializes a ProtoService ivar as part of its own init sequence. The only way for me to mock the ProtoService (for unit testing) is to create an abstract factory class that exposes a factory method to create

[2015-09-24 19:53] nathanielmanistaatgoogle opened #3473 "docgen.py fails with "error: invalid command 'build_data'""
When I
[code]
I get
[code]
. Is this expected? Can you reproduce? Have I missed something simple and trivial?

[2015-09-24 20:11] #3441 closed

[2015-09-24 22:55] mdering commented on #3411
turns out this was a firewall issue on my network. An extremely awful one.

[2015-09-24 22:55] #3411 closed

[2015-09-24 22:57] stanley-cheung commented on #3464
* grpc repo helloworld and route guide code examples and readme have been updated with latest beta API changes
 * grpc.io website PHP route guide tutorial has been updated
 * Packagist have been updated: https://packagist.org/packages/grpc/grpc#dev-release-0_11
 * Pecl have been updated: https://pecl.php.net/package/gRPC/0.6.0

[2015-09-24 22:57] #3464 closed

[2015-09-25 05:12] AshutoshNasikkar opened #3482 "gRPC client does not unblock when server becomes unreachable"
A process has a main thread writing to gRPC while gRPC thread is blocked for socket activity as it's using completion queue API, cq.Next. While reading / writing messages or in idle state if the server becomes unreachable either via server going down or traffic getting non-routable (interface down) the gRPC thread remains blocked for a very long time in cq.Next. The main thread tries to close the

[2015-09-25 14:40] ctiller commented on #3482
Is this for a streaming or a unary request?

[2015-09-25 14:41] ctiller commented on #3416
It should be. It's corrected in an upcoming 0.11.1 release (and in the 0.11 branch).

[2015-09-25 14:41] #3416 closed

[2015-09-25 15:33] jclardy commented on #3363
@jcanizales Do you have an estimate on when the cocoapods version will be updated (Just a general guess is fine, next few weeks or longer?) And will that be with version 0.11? Or an earlier one?

[2015-09-25 16:08] #3303 closed

[2015-09-25 16:16] jboeuf commented on #3363
Sorry I dropped the ball on this one...

@jcanizales Indeed, an X509 PEM (which is text/base64 as opposed to DER which is binary) encoded cert can be used as a substitute for our roots.pem. roots.pem is just a list of PEM encoded certs.

@jclardy It looks like (90% sure) your issue does not come from the cert but from your server TLS implementation that does not support ALPN or NPN (needed for an

[2015-09-25 17:29] jcanizales commented on #3363
@jclardy I'm actually submitting v. 0.11 to the Cocoapods main repo either today or early next week :)

[2015-09-25 17:32] jcanizales commented on #3363
@jboeuf They have a go client that's connecting successfully, so the fingers point at something wrong in the client.

[2015-09-25 17:35] jboeuf commented on #3363
Maybe the go client does not enforce ALPN...

    Julien.

On Fri, Sep 25, 2015 at 10:32 AM, Jorge Canizales <notifications@github.com>
wrote:

[2015-09-25 17:44] jcanizales commented on #3363
But then this would show up on our interop tests, and e.g. the C client and Ruby client (which wraps C, like the Objective-C one) are currently communicating successfully with a Go server.

[2015-09-25 17:49] jboeuf commented on #3363
Is the server our Go server?

On Fri, Sep 25, 2015 at 10:44 AM, Jorge Canizales <notifications@github.com>
wrote:

[2015-09-25 17:51] jcanizales commented on #3363
@jclardy can you find out how's your server being configured exactly?

[2015-09-25 19:28] jclardy commented on #3363
@jcanizales @jboeuf it is the Go one, do the interop tests include tls connections? We had a working unsecured connection before moving to TLS.

[2015-09-25 20:47] soltanmm commented on #3473
I can't replicate the issue.

Frankly, the `build_data` command shouldn't even be seen by *anything* in that script. As far as I know, only `grpcio_test` has anything semi-special to do with the `build_data` step. On what machine did you hit this issue?

[2015-09-25 20:54] yang-g opened #3490 "cli_call_test is flaky"

[2015-09-25 21:01] jboeuf commented on #3363
Interesting. I'm pretty sure they do. @yang-g will know for sure:
Yang, do we have end-to-end test with TLS from a C-based client to a Go server?

[2015-09-25 21:06] nathanielmanistaatgoogle commented on #3473
A brand-spanking-new next-to-nothing-custom-configured Ubuntu 14.04 workstation.

Thanks for attempting to replicate it; since you haven't been able to I'll see if I can get more details on it, and if I'm able to reliably reproduce it we can pick a time to pair debug it when we're both at our desks.

[2015-09-25 21:07] nathanielmanistaatgoogle commented on #3473
I suspect that with both of us looking at the same screen the resolution will be that you'll notice something happening and say "oh that - that's user error; don't do that". :-)

[2015-09-25 21:10] yang-g commented on #3363
We have interop tests with tls between all c-based clients to go server.

On Fri, Sep 25, 2015 at 2:01 PM, jboeuf <notifications@github.com> wrote:

[2015-09-25 21:18] jcanizales commented on #3363
Except the Objective-C one :) because the infrastructure is completely different. But it still releases the Go server from suspicion.

@jclardy At this point I can just think of further tests to make, to investigate further:
* What's the error in the logs if you *don't* replace the default roots.pem with your certificate?
* And if you *append* your certificate to the end of it?
* And if you do the

[2015-09-25 21:23] jboeuf commented on #3363
@jclardy Also, with the current failure, can you put a breakpoint in ssl_check_peer (in security_connector.c) and give me the values in the peer?

[2015-09-25 21:24] murgatroid99 opened #3491 "Unhelpful error message when using a metadata plugin credential"
When I make a credential object using `grpc_metadata_credentials_create_from_plugin` and then use it to make a channel, and then make a call on that channel, I get the status message "Failed to create security connector." I didn't know what that meant at first; it would help to have something there that indicates that I needed an SSL or similar credential.

[2015-09-25 21:27] jboeuf commented on #3363
@jcanizales When these logs are written, the certificate chaining check should have already passed (unless if there's a bug in our code).

[2015-09-25 21:32] jcanizales commented on #3363
Yeah, if he can't connect to `grpc-test.sandbox.google.com` with the default certs, then we have proof the problem is unrelated to his using a different cert, and we can try and debug there.

[2015-09-25 21:40] jcanizales commented on #2119
We're currently trying to have them on Travis. [They're failing there](https://travis-ci.org/nicolasnoble/grpc/builds/82222666), so I need to debug what's going on.

[2015-09-25 21:51] nkibler opened #3492 "ObjC - Add better documentation to run tests"
Currently, there is no documentation that describes how to run tests for the ObjC library.

The README should highlight the important bits from the main gRPC install document, plus any ObjC custom stuff, to get the tests running. This is what the process was for me:

1. Install Xcode command-line tools by running: `sudo xcode-select --install`
2. Install [MacPorts](https://www.macports.org/install

[2015-09-25 21:51] jcanizales commented on #2513
To leave this on the record: This feature is specially important for mobiles, due to our wanting people not to use timeouts. If the server becomes unreachable, the user should be warned in the UI even if the C layer keeps trying.

[2015-09-25 23:23] #2276 closed

[2015-09-26 02:37] jcanizales opened #3496 "Objective-C library broken"
[code]

Stack trace and local variables:
<img width="1412" alt="screen shot 2015-09-25 at 7 34 13 pm" src="https://cloud.githubusercontent.com/assets/5120183/10115445/9d98ba80-63bc-11e5-9e68-bdd65dba9ddf.png">

[2015-09-26 02:38] jcanizales commented on #3496
CC: @nkibler

[2015-09-26 02:48] jcanizales commented on #3496
It happens in the master branch, and not in release-0_11 (as of today), meaning the bug was introduced after commit e5515d4.

[2015-09-26 04:21] nicolasnoble commented on #3496
This is very likely to be caused by #3423.

[2015-09-26 06:34] AshutoshNasikkar commented on #3482
The communication between server and client is on a need basis with a configurable keepalive (15secs default). So it's not a continuous streaming of messages. That would be unary request.

[2015-09-26 11:02] martin-pc opened #3498 "Cannot build repo from source (c,c++)"
I need to get grpc up and running for c and c++, but cannot build repo from source.
In all the combination I try out of protobuf and grpc,  I get errors and compile failure!
I use gcc (Ubuntu 4.8.1-2ubuntu1~12.04) 4.8.1 (Same problem with gcc 4.6)
The current error i get stuck at is:

[code]

I have attempted the following versions of protobuf
- Protobuf  (commit 0e5686a70768a289782eb1e1aa86646e56

[2015-09-26 11:03] #3455 closed

[2015-09-26 14:21] tbetbetbe commented on #3466
This is completed

[2015-09-26 14:21] #3466 closed

[2015-09-26 14:24] tbetbetbe commented on #3463
The [C# deb](https://github.com/grpc/grpc/releases/download/release-0_11_0/libgrpc-csharp-ext0_0.11.0.0-1_amd64.deb) is available

[2015-09-26 14:24] #3463 closed

[2015-09-26 14:39] tbetbetbe commented on #1210
Closing this, it's resolved
- we will be maintaining gRPC in our own homebrew tap
- [taps](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/brew-tap.md) are a formal way of providing homebrew packages, and are easier for us to maintain than having the brew in the main homebrew repo
- because of the lack of predictability around protobuf releases (the key gRPC dependency), the ta

[2015-09-26 14:39] #1210 closed

[2015-09-26 14:42] tbetbetbe commented on #3283
This is completed
[libgrpc-dev in jessie-backports](https://packages.debian.org/jessie-backports/libgrpc-dev)

[2015-09-26 14:42] #3283 closed

[2015-09-26 14:58] tbetbetbe commented on #662
That is related to the early warning about jessie backports
That's the thing that really needs investigating

At the moment, we're not able to reproduce this, and it'd be useful to have more details about your machine's set-up to help diagnose the problem

[2015-09-26 15:00] tbetbetbe commented on #662
Can you try this again ? It's likely that were trying to install the beta python package against the alpha debian package.  That should no longer be the case.

[2015-09-27 13:38] Andyccs commented on #3430
This problem not happen on branch `release-0_11`. Most probably it has been fixed in the latest branch.

[2015-09-28 03:31] killme2008 commented on #3430
Any update?
I have the same problem on mac osx with ruby example `bundle install`.

[code]

[2015-09-28 14:44] ctiller opened #3499 "Server paths in grpc_filter.c are untested"

[2015-09-28 14:46] ctiller opened #3500 "grpc_census_call_set_context, grpc_census_call_get_context are untested"
Especially if census is enabled

[2015-09-28 14:48] ctiller opened #3501 "grpc_channel_stack_from_top_element is not tested"

[2015-09-28 14:48] ctiller opened #3502 "grpc_call_element_send_cancel is not tested"

[2015-09-28 14:50] ctiller opened #3503 "Handling of content-type: application/grpc+XXX is untested"
see http_server_filter.c in server_filter()

[2015-09-28 14:51] ctiller opened #3504 "host: to authority: translation is untested"
see http_server_filter.c in server_filter()

[2015-09-28 14:52] ctiller opened #3505 "Failure path for hs_on_recv is untested"
None of this code runs:

[code]

[2015-09-28 14:53] ctiller opened #3506 "grpc_lb_policy_factory_unref is never called"

[2015-09-28 14:53] ctiller opened #3507 "grpc_lb_policy_registry_shutdown is never called"

[2015-09-28 14:54] ctiller opened #3508 "No test for grpc_lb_policy_create creating an unknown policy"

[2015-09-28 14:54] ctiller opened #3509 "grpc_resolver_channel_saw_error is not called"

[2015-09-28 14:55] ctiller opened #3510 "No tests for invalid uri's in resolver_registry.c"

[2015-09-28 14:57] ctiller opened #3511 "GRPC_CHANNEL_FATAL_FAILURE case is never selected in pick_first.c pf_connectivity_changed()"

[2015-09-28 14:57] ctiller opened #3512 "rr_exit_idle is not tested"

[2015-09-28 14:58] ctiller opened #3513 "GRPC_CHANNEL_FATAL_FAILURE is not tested in round_robin.c rr_connectivity_changed"

[2015-09-28 14:58] ctiller opened #3514 "dns_channel_saw_error is not called"

[2015-09-28 14:59] ctiller opened #3515 "Invalid ipv4, ipv6, unix uri's not tested in sockaddr_resolver"

[2015-09-28 15:00] ctiller opened #3516 "grpc_compression_level_for_algorithm not tested"

[2015-09-28 15:00] ctiller opened #3517 "grpc_compression_options_enable_algorithm not tested"

[2015-09-28 15:00] ctiller opened #3518 "grpc_compression_algorithm_for_level not tested"

[2015-09-28 15:01] ctiller opened #3519 "No tests for failure cases in message_compress.c"

[2015-09-28 15:02] ctiller opened #3520 "httpcli_security_connector.c is untested"

[2015-09-28 15:02] ctiller opened #3521 "Continued header lines are not tested in httpcli/parser.c"

[2015-09-28 15:03] ctiller opened #3522 "Leaked object reporting is not tested in iomgr.c"

[2015-09-28 15:04] ctiller opened #3523 "In pollset_multipoller_with_epoll.c, delayed add during pollset shutdown is untested"

[2015-09-28 15:05] ctiller opened #3524 "multipoll_with_epoll_pollset_del_fd is untested"

[2015-09-28 15:05] ctiller opened #3525 "multipoll_with_poll_pollset_del_fd is untested"

[2015-09-28 15:06] ctiller opened #3526 "grpc_sockaddr_set_port is untested"

[2015-09-28 15:08] ctiller opened #3527 "udp_server.c contains unix domain socket code"

[2015-09-28 15:08] ctiller opened #3528 "grpc_udp_server_write is untested"

[2015-09-28 15:09] ctiller opened #3529 "wakeup_fd_pipe.c is untested on Linux"

[2015-09-28 15:10] ctiller opened #3530 "grpc_get_well_known_google_credentials_file_path is untested"

[2015-09-28 15:11] ctiller opened #3531 "google_default_credentials.c has very low test coverage"

[2015-09-28 15:11] ctiller opened #3532 "grpc_jwt_verifier_status_to_string is untested"

[2015-09-28 15:12] ctiller opened #3533 "evp_md_from_alg is mostly untested"

[2015-09-28 15:13] ctiller opened #3534 "gpr_cpu_current_cpu is untested"

[2015-09-28 15:20] ctiller opened #3535 "gpr_thd_options_set_detached is untested"

[2015-09-28 15:20] ctiller opened #3536 "gpr_thd_options_is_joinable is untested"

[2015-09-28 15:21] ctiller opened #3537 "grpc_byte_buffer_copy is untested"

[2015-09-28 15:22] ctiller opened #3538 "chttp2_transport ping code is untested"

[2015-09-28 15:24] ctiller opened #3539 "ssl_error_string is untested"

[2015-09-28 15:24] ctiller opened #3540 "log_ssl_error_stack is untested"

[2015-09-28 15:25] ctiller opened #3541 "tsi_result_to_string is untested"

[2015-09-28 16:16] tbetbetbe commented on #1782
The test in the bug report has been deleted in #3494

[2015-09-28 16:16] #1782 closed

[2015-09-28 16:19] tbetbetbe commented on #2161
Closing this:
- It has not been reproduced
- There have been significant changes to both the c-core and the ruby-wrapping w.r.t to server shutdown
so its unlikely that it's possible to reproduce this

[2015-09-28 16:19] #2161 closed

[2015-09-28 16:20] tbetbetbe commented on #2430
This has been fixed with the release [0.11.0](https://rubygems.org/gems/grpc)

[2015-09-28 16:20] #2430 closed

[2015-09-28 16:21] tbetbetbe commented on #2854
This has been done now that [grpc 0.11.0](http://www.rubydoc.info/gems/grpc/0.11.0)

[2015-09-28 16:21] #2854 closed

[2015-09-28 16:25] tbetbetbe commented on #2532
Closing this:

The resolution is that we've removed the dependencies, but instead choose to include the interop_server and interop_client as binaries delivered with the gRPC gem.  They are high-level tests that provide a system-level verification check

[2015-09-28 16:25] #2532 closed

[2015-09-28 16:54] #3490 closed

[2015-09-28 18:17] dhermes commented on #662
RE: My (laptop) machine's set-up, it's running Ubuntu 14.04 and it's a standard Lenovo PC (nothing fancy other than upgraded RAM). The warnings happened on both my desktop and laptop (identical OS and settings).

I can bring my laptop in to see you guys if you like?

----

Yeah I talked to @nathanielmanistaatgoogle after posting this and he told me that `0.11.0b0` would only work with the core stu

[2015-09-28 18:29] yang-g opened #3545 "h2_ssl_proxy_cancel_after_client_done_test is flaky"
D0928 09:45:01.107459335  713621 test_config.c:92]           test slowdown: machine=1.000000 build=1.000000 total=1.000000
I0928 09:45:01.108120881  713621 cancel_after_client_done.c:56] test_cancel_after_accept_and_writes_closed/chttp2/simple_ssl_fullstack
D0928 09:45:01.220469663  713628 proxy.c:159]                ref 0x7f9a58c92430: on_p2s_recv_initial_metadata 1 -> 2
D0928 09:45:01.220510284

[2015-09-28 21:53] #3496 closed

[2015-09-28 22:36] jtattermusch opened #3553 "Move grpc/test/cpp/qps/qpstest.proto to a shared location"
qpstest.proto will be used for other languages than just cpp, it should move to a common location (grpc/test/proto) before people start depending on it.

[2015-09-28 23:35] murgatroid99 commented on #2906
This was fixed by #3365

[2015-09-28 23:35] #2906 closed

[2015-09-29 03:16] philips commented on #3358
@LisaFC OK, when is that release going to happen so I can check back in?

[2015-09-29 14:12] annismckenzie commented on #2275
I need to reopen this one. Our team's been trying to get the PHP extension to work reliably and consistently for the better part of last week – without any luck. Sometimes, after a fresh start of Apache it works for 1 or 2 calls and then it doesn't with the message in the log: `Notice: Use of undefined constant OP_SEND_INITIAL_METADATA - assumed 'OP_SEND_INITIAL_METADATA'`. I've been able to put t

[2015-09-29 16:40] vjpai opened #3559 "Introduce non-blocking polls before blocking annotations"
It may be beneficial to introduce non-blocking (0 timeout) polls before the blocking annotations introduced by PR #3476 , in case the overhead of a real annotation system is quite high.

[2015-09-29 17:23] vjpai opened #3561 "qps testing: use affinity to guarantee # of cores used in Linux"
Support the ability to set affinity to certain core sets before kicking off the test so that we can truly report qps/core rather than just the proxy of qps/threads that we currently use

[2015-09-29 18:30] jcanizales commented on #3041
@rjshade: Apparently https://github.com/grpc/grpc/commit/a294487e37a8aeb47859423ee2fb6aec18cdae13 wasn't enough to get `IPV6_RECVPKTINFO` on iOS or OSX. Do you know what would be missing? [This forum comment](https://trac.macports.org/ticket/31614#comment:3) mentions some includes after the `#define`; maybe it's that? (It also uses a different RFC number, but I've confirmed that just changing it d

[2015-09-29 18:40] #3472 closed

[2015-09-29 18:45] nkibler opened #3564 "Objective-C Library broken from sync_posix.c"
#3496 brought this up, but it broke in a different location from testing. This is happening during normal usage of the gRPC library. See attached screenshot for info, I can provide more context if necessary.
![screen shot 2015-09-29 at 10 59 48 am](https://cloud.githubusercontent.com/assets/14352762/10174600/79f9d9d4-669f-11e5-8de1-a189b5fb2cad.png)

[2015-09-29 19:22] jcanizales commented on #3564
Looks like https://github.com/grpc/grpc/issues/3364 resurrected?

[2015-09-29 19:33] nkibler commented on #3564
I should mention this is building from google3. If this is indeed #3364, were the fixes ever applied to google3?

[2015-09-29 19:43] nkibler commented on #3564
Not reproducible on GitHub.

[2015-09-29 19:43] #3564 closed

[2015-09-29 20:22] rjshade commented on #3041
@jcanizales I'm not sure, I remember that stumbling across the incantation in a294487e37a8aeb47859423ee2fb6aec18cdae13 took a bit of digging. Do you have an OSX environment to test this on (I don't have one handy)?

This looks like a plausible fix:
https://code.google.com/p/tunnelblick/source/browse/trunk/third_party/openvpn/openvpn-2.3-alpha1/patches/002-socket.c-IPV6_RECVPKTINFO.diff?r=2058

[2015-09-29 20:46] jcanizales opened #3566 "Run ObjC tests on OS X"
Apparently they'd catch C core problems that the Jenkins OS X tests aren't catching?

It makes sense to have them for ObjC anyway, as we're declaring we support OS X.

[2015-09-29 20:50] jcanizales commented on #3041
In theory our Jenkins tests for the C library on Mac OS *should* catch this. But I also have an OS X environment to test if that doesn't work.

[2015-09-29 23:19] chrisgummer opened #3569 "Objective-C: Incorrect case for generated import statements"
When using protoc to generate service proto, the generated import statements have incorrect case. Regular messages have the correct case when generated.

For example:

    #import "google/protobuf/any.proto"

results in:

    #import "Google/protobuf/any.pbobjc.h"

when we expect:

    #import "google/protobuf/Any.pbobjc.h"

[2015-09-29 23:27] sreecha commented on #3430
Issue should fixed now.

[2015-09-30 00:11] stanley-cheung commented on #2275
Working on this.

[2015-09-30 12:48] nickdul commented on #2505
are there any news about x64 support?

i was tried to build `grpc_csharp_ext.dll` for x64 manually but now my C# gRPC server fails with the following error:
[code]

[2015-09-30 13:51] ctiller opened #3572 "C#: tests.Grpc.Core.Tests flake"
https://grpc-testing.appspot.com/job/gRPC_master/config=dbg,language=csharp,platform=linux/7727/console

[2015-09-30 13:55] ctiller commented on #2287
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=dbg,language=c++,platform=linux/console

[2015-09-30 13:57] ctiller opened #3573 "h2_oauth2_cancel_after_accept_test fails"
D0930 12:48:23.329913006   21480 test_config.c:135]          test slowdown: machine=1.000000 build=1.000000 total=1.000000
I0930 12:48:23.330086261   21480 cancel_after_accept.c:56]   cancel_after_accept/chttp2/simple_ssl_with_oauth2_fullstack
E0930 12:48:23.342039668   21480 tcp_client_posix.c:169]     socket error: connection refused
D0930 12:48:23.385436328   21480 server.c:398]               f

[2015-09-30 13:58] ctiller opened #3574 "h2_oauth2_cancel_after_client_done_test fails"
D0930 12:48:23.392587747   21488 test_config.c:135]          test slowdown: machine=1.000000 build=1.000000 total=1.000000
I0930 12:48:23.392773869   21488 cancel_after_client_done.c:56] test_cancel_after_accept_and_writes_closed/chttp2/simple_ssl_with_oauth2_fullstack
E0930 12:48:23.393659965   21488 tcp_client_posix.c:169]     socket error: connection refused
D0930 12:48:23.417965500   21488 ser

[2015-09-30 13:59] ctiller opened #3575 "h2_oauth2_cancel_after_invoke_test fails"
D0930 12:48:23.453585827   21503 test_config.c:135]          test slowdown: machine=1.000000 build=1.000000 total=1.000000
I0930 12:48:23.453781870   21503 cancel_after_invoke.c:57]   test_cancel_after_invoke/chttp2/simple_ssl_with_oauth2_fullstack/cancel
E0930 12:48:23.457522615   21503 tcp_client_posix.c:169]     socket error: connection refused
I0930 12:48:23.587286635   21503 cancel_after_invo

[2015-09-30 14:00] ctiller opened #3576 "server_crash_test TSAN failure"
D0930 12:49:42.938114926   14057 test_config.c:135]          test slowdown: machine=1.000000 build=10.000000 total=10.000000
[==========] Running 2 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 2 tests from CrashTest
[ RUN      ] CrashTest.ResponseStream
E0930 12:49:42.951320253   14057 tcp_client_posix.c:169]     socket error: connection refused
D0930 12:49:48.

[2015-09-30 14:03] ctiller opened #3577 "tests.py.test fails"
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=opt,language=python,platform=macos/consoleFull

[2015-09-30 14:05] ctiller commented on #2287
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=opt,language=c++,platform=linux/console

[2015-09-30 14:06] ctiller opened #3578 "tests.bins/asan/end2end_test fails"
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=asan,language=c++,platform=linux/console

[2015-09-30 14:07] ctiller commented on #2287
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=gcov,language=c++,platform=linux/console

[2015-09-30 14:08] ctiller opened #3579 "thread_stress_test fails"
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=opt,language=c++,platform=macos/console

[2015-09-30 14:09] ctiller opened #3580 "All C++ interop tests fail"
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=opt,language=c++,platform=interop/console

[2015-09-30 14:15] ctiller opened #3581 "Support re-running flaky tests for interop tests"

[2015-09-30 15:01] annismckenzie commented on #2275
:dancers:

[2015-09-30 16:57] jtattermusch commented on #3580
Looks like this is a failure of the pre #3373 way of running interop tests, so it's not worth fixing.

[2015-09-30 16:57] #3580 closed

[2015-09-30 17:02] jtattermusch commented on #3572
The correct link seems to be
https://grpc-testing.appspot.com/job/gRPC_master/7727/config=opt,language=csharp,platform=linux/console

[2015-09-30 17:04] jtattermusch commented on #3572
Stacktrace:

  at <unknown> <0xffffffff>
  at (wrapper managed-to-native) Grpc.Core.Internal.CompletionQueueSafeHandle.grpcsharp_completion_queue_destroy (intptr) <0xffffffff>
  at Grpc.Core.Internal.CompletionQueueSafeHandle.ReleaseHandle () <0x00013>
  at System.Runtime.InteropServices.SafeHandle.RunRelease () <0x00107>
  at System.Runtime.InteropServices.SafeHandle.Dispose (bool) <0x00035>
  at

[2015-09-30 20:58] vjpai opened #3585 "Python failure under dbg, linux at commit 191b79c"
Skipping 14,909 KB.. Full Log
/grpc/python2.7_virtual_environment/local/lib/python2.7/site-packages/grpc/framework/foundation/stream_util.py", line 117, in _spin
    sink.consume(value)
  File "/var/local/git/grpc/python2.7_virtual_environment/local/lib/python2.7/site-packages/grpc_test/framework/interfaces/face/_stock_service.py", line 70, in consume
    stock_reply_consumer.consume(stock_reply_f

[2015-09-30 23:04] jcanizales opened #3587 "Produce good error messages when connecting to an HTTP server via TLS"
and vice versa.

The current error message is "on_writable failed during connect", which is a bit of a disgrace :)

[2015-09-30 23:08] #944 closed

[2015-09-30 23:11] murgatroid99 commented on #2974
I'm pretty sure this was fixed in #2993.

[2015-09-30 23:11] #2974 closed

[2015-09-30 23:12] wq19901103wq opened #3588 "php-grpc exit timeout [php]"
Have you ever noticed this situation, if you use php-grpc , then when you exit, it will about last 5 seconds (both in console and brower). Both in the example helloword.php  and unit test. If send many requests, it response fast each time, but when scipt end, if will last many seconds. I try die() exit() set_timelimit() and all kinds of method, but not work.I guess its reason is the Call, not dest

[2015-09-30 23:31] murgatroid99 commented on #3259
[This mailing list post](https://groups.google.com/forum/#!topic/grpc-io/6eBjSxsgQxM) about the same problem seems to indicate that newer version of the Node library did not have this problem.

[2015-09-30 23:31] #3259 closed

[2015-09-30 23:32] murgatroid99 commented on #3284
Do you still see this problem under version 0.11?

[2015-10-01 00:27] soltanmm commented on #3585
I'm pretty sure this is just Jenkins tripping over itself. We've added a lot of tests recently and if Jenkins is loaded they're going to take more time than `run_tests` allows us. Parallelism introduced in #3548 will make this better, but given just how many tests we've been added we might just want to increase the amount of time Python is allowed in `run_tests`...

[2015-10-01 02:42] JohanSJA opened #3590 "Ruby health checker failed on overall check"
It is mentioned in the doc (https://github.com/grpc/grpc/blob/master/doc/health-checking.md) that

However, the Ruby checker (https://github.com/grpc/grpc/blob/master/src/ruby/pb/grpc/health/checker.rb#L50) will fails the empty check.

[2015-10-01 08:00] nickdul opened #3591 "Failed to launch C# gRPC with x64 arch on Windows"
the underlying issue is that latest Grpc NuGet package (`0.7.1`) is shipped without 64-bit version of `grpc_csharp_ext.dll`
not sure why - maybe due to this reason: https://github.com/grpc/grpc/issues/1082#issuecomment-84752606

i was tried to compile `grpc_csharp_ext.dll` for x64 arch manually
and everything is working fine for my x64 C# gRPC **Client**

unfortunately my very simple x64 C# gRPC *

[2015-10-01 13:53] iam-johntan commented on #3284
From the release-0_11 branch, the tests all pass now.

From the homebrew installation, health_check/health.js appears to be missing so the tests won't run.  I assume they would pass if the module was there since the package is built from the release-0_11 branch?  Thanks!

[code]

[2015-10-01 13:53] iam-johntan commented on #3284
Closing since the release-0_11 branch appears to be ok.

[2015-10-01 13:53] #3284 closed

[2015-10-01 16:52] ctiller opened #3592 "Remove exec_ctx from grpc_endpoint_destroy."
This will need some lower level refactoring, but makes it possible to wrap an endpoint in a `std::unique_ptr` in C++.

[2015-10-01 17:17] yang-g opened #3593 "Unreachable code causes xcode warnings"
We should survey and maybe wrap the unreachable code to silence the warning.