[2022-04-05 21:05] yashykt commented on #29300
After running your example, I noticed that the client does receive and respond to the pings, but the server does not read anything. Turns out that the CQ driver thread in your example goes into a loop where it sleeps for 5 seconds, writes a message, gets a notification for the write completion and then sleeps again.. It doesn't seem to be getting the opportunity to read.

I would suggest separatin

[2022-04-05 21:05] #29300 closed

[2022-04-05 21:22] stanley-cheung commented on #29233
@HannahShiSFB Can you please take a look?

[2022-04-05 21:54] gsar commented on #28627
running it the same issue as well, hoping this has the attention of the maintainers.

[2022-04-05 22:04] gsar commented on #29097
looks like a gem is now available for 1.45, though 1.45.1 is out but not available in rubygems. also the 1.45 gem doesn't include a binary build, so it takes literally an hour to install and results in huge disk space consumption. :(

[2022-04-05 22:50] HannahShiSFB commented on #29233
Sure

[2022-04-05 23:58] whithajess commented on #28627
This issue has us considering removing a google integration in our app because of the speed to build issue.

[2022-04-06 00:10] cirdes commented on #28627
The fix will be merged soon with https://github.com/grpc/grpc/pull/29000 . But it's the second major ruby releases that I have to wait months to upgrade because of grpc and every Google Cloud gem that I use depends on grpc.
@whithajess , I'm wandering the same.

[2022-04-06 01:31] rburns1293 commented on #14109
The behavior isn't completely surprising. The server is likely rejecting a client request made during a server shutdown. This is so the client and server can shutdown gracefully. A GOAWAY isn't the most transparent error from this older version, however using Grpc.Core from the head and running the test below (which recreates the case of making a request to a server shutting down) results in an er

[2022-04-06 03:42] shuimu13 commented on #29300
@yashykt

Thanks for your advice. I have tried as follows:

**(1) When I remove the sleep time, I can actually see the client ping every 10 seconds.**
root@c1d141b2db7e:/data# ./client
I0406 03:36:18.524983093     581 ev_epoll1_linux.cc:121]     grpc epoll fd: 3
D0406 03:36:18.525089879     581 ev_posix.cc:172]            Using polling engine: epoll1
D0406 03:36:18.525122632     581 lb_policy_regi

[2022-04-06 05:28] yashykt commented on #29300
As I said previously, on the server side, if you use a dedicated thread that drives the completion queue and use a separate thread for performing work such as sleep, it should solve your immediate problem. You shouldn't need to continuously send data.

I would also recommend trying out the callback API which might make the implementation simpler and easier to understand.

[2022-04-06 06:46] jaaant commented on #14109
Getting an error at the client when the server is shut down is not at all surprising, and it's not even difficult to handle once you know that's the cause.

What's worrying is that this is specifically an Internal error, which according to the documentation "Means some invariants expected by underlying System has been broken. If you see one of these errors, Something is very broken." It looks like

[2022-04-06 10:29] parthea commented on #29227
Fixed in https://github.com/googleapis/google-auth-library-python/pull/1007

[2022-04-06 10:29] #29227 closed

[2022-04-06 10:30] j05070415 commented on #29227
谢谢，您的邮件我已收到！

[2022-04-06 11:26] jtattermusch commented on #27211
Closing this in favor of internal b/228296745

[2022-04-06 11:28] #27211 closed

[2022-04-06 11:28] jtattermusch commented on #25513
Closing this in favor of internal b/228296745 (we're going to track flakiness in buganizer going forward).

[2022-04-06 11:28] #25513 closed

[2022-04-06 11:32] jtattermusch commented on #24096
This only failed once in the last 3 months.
 https://source.cloud.google.com/results/invocations/c7821df8-12ab-4555-9ceb-fbdac4d4b47c

I'm going to close.

If we ever have to reopen, let's fine an internal bug (we're going to track flakiness in buganizer going forward).

[2022-04-06 11:32] #24096 closed

[2022-04-06 11:35] jtattermusch commented on #23919
This only happended once in the last 3 months (https://source.cloud.google.com/results/invocations/5ea8c1f7-e08c-4969-be6c-510bbb21db7a/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_opt_native%2Fcsharp.mono.Grpc.IntegrationTesting.MetadataCredentialsTest/tests), so I'm going to close.

If we ever have to reopen, let's file a buganizer bug instead (we're going to track test flakiness in bugani

[2022-04-06 11:35] #23919 closed

[2022-04-06 11:44] jtattermusch commented on #12238
Closing in favor of b/228296470 (we're going to track test flakiness in buganizer going forward).

[2022-04-06 11:44] #12238 closed

[2022-04-06 11:46] jtattermusch commented on #25432
Since this flake seems rare, I'm going to close. If we are ever to reopen this, let's file an internal bug instead (we're going to track test flakiness in buganizer going forward).

[2022-04-06 11:46] #25432 closed

[2022-04-06 11:48] jtattermusch commented on #25614
Our cmake builds have been sped-up a lot since this was filed (use of ccache, ninja for windows builds) and it's unclear how frequent this issue originally was, so I'm going to close for now.
If we're to ever reopen, let's file an internal bug instead (we're going to track test flakiness in buganizer going forward).

[2022-04-06 11:48] #25614 closed

[2022-04-06 12:02] #28627 closed

[2022-04-06 12:10] ChameleonRed opened #29329 "Unable to pip install grpcio>=1.45.0 on linux."
### What version of gRPC and what language are you using?
Python

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Not using.

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informati

[2022-04-06 12:36] jtattermusch commented on #14109
Can you try whether you're still getting the Internal error with the newest version of gRPC? The handling of the error when a server being shut down closes the connection on you might have improved since the time the issue has been filed (the issue is quite old).
Looking at the [status code](https://github.com/grpc/grpc/blob/master/doc/statuscodes.md) documentation though, I still don't think occa

[2022-04-06 12:36] #14109 closed

[2022-04-06 13:49] benfranklin79 opened #29331 "Cannot check peer: missing selected ALPN property in Grpc Core client"
### What version of gRPC and what language are you using?

Grpc Core 2.41.0

### What operating system (Linux, Windows,...) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

netcoreapp3.1

### What did you do?

See description in https://github.com/googleapis/google-cloud-dotnet/issues/8315 for what I ran. I ran a version of this in a simp

[2022-04-06 17:45] veblush commented on #29193
Sure! I'm going to upgrade upb.

[2022-04-06 18:27] veblush commented on #29078
No it doesn't.

[2022-04-06 18:27] #29078 closed

[2022-04-06 18:28] BAMSHK commented on #29078
谢谢了-希望你们快乐

[2022-04-06 19:35] gnossen commented on #29329
`1.45.0` has been yanked due to issues causing segfaults. Is there a reason why you're explicitly trying to pull in `grpcio>=1.45.0`?

[2022-04-06 22:34] Mezzle commented on #29329
1.45.1 has been released, but this isn't showing in pypi yet.

https://github.com/djtimca/hagooglewifi/issues/66

[2022-04-06 23:19] lidizheng opened #29338 "ProtoBuf at HEAD test failed to built with gRPC Python on Alpine"
[code]

[2022-04-07 00:41] rburns1293 commented on #23618
For 2.37.0 I get:
[code]

For 2.38.0 and 2.39.1:
[code]

At 2.40.0 the issue seems resolves and the test passes consistently.

[2022-04-07 01:51] razvan-sc commented on #24850
Hey team, arrived here from @schmidt-sebastian's comment on crashes on launch on iOS 14.x and iPad OS 14.x devices

[2022-04-07 04:48] arpitbandil commented on #27506
`pip install --no-binary :all: grpcio --ignore-installed` worked for me too, thanks @aaltat

[2022-04-07 05:48] stanley-cheung commented on #29052
This is a protobuf issue. Please log an issue to https://github.com/protocolbuffers/protobuf

[2022-04-07 05:48] #29052 closed

[2022-04-07 05:48] #28811 closed

[2022-04-07 05:50] #26559 closed

[2022-04-07 05:51] #26085 closed

[2022-04-07 07:51] jtattermusch commented on #23618
@rburns1293  thanks for the confirmation. I'll close the bug as "fixed" (in 2.40.0)

[2022-04-07 07:51] #23618 closed

[2022-04-07 11:05] jaaant commented on #14109
Sorry, I haven't worked with gRPC for a long time now and don't have any of the libraries ready for testing. The reproduction code I provided earlier is still available if someone else want to take a look.

In case I wasn't clear, I'm not really worried about an unclear error message in a situation where we don't know the exact cause of failure. But both the [reference documentation](https://grpc.

[2022-04-07 14:22] subbota-a commented on #12975
I ran accros the issue using Async API in 1.44 version.
1.45 works well.

[2022-04-07 17:28] #29193 closed

[2022-04-07 22:31] markdroth commented on #28984
Also done for weighted_target and xds_cluster_manager in #29313.

Still need this for RLS.

[2022-04-07 23:10] alancleary commented on #29329
I'm having the same issue. In my case I told setuptools to use `grpcio-tools>=1.39,<2` and it chose `1.45.0` for the `grpcio` dependency. This appears to be a pip bug (pypa/pip#8262) that's triggered by the fact that the yanked `1.45.0` release is the only non-prerelease choice.

[2022-04-08 02:44] wuxibin89 commented on #25364
@lidizheng Multithread asyncio client works fine, but the message is very annoying. Is there any work on this?

[2022-04-08 03:46] taka-oyama commented on #28621
[Stripping it](https://linux.die.net/man/1/strip) will reduce the size to ~7MB.

[2022-04-08 07:57] myatsuphyo commented on #29100
Thank you @JamesHageman  Your solution works with ruby 2.6.8 and macOS Monterey version 12.2.1. After running `bundle config set force_ruby_platform true`, it was necessary to run `bundle install` again for me.

[2022-04-08 10:30] lanlin commented on #28621
<img width="550" alt="image" src="https://user-images.githubusercontent.com/3468024/162418228-bf70cfcf-08c9-41e7-a4f5-742414952e2c.png">
@taka-oyama it's pretty cool! thx

[2022-04-08 13:53] TomaszBorczyk commented on #27682
@VadeveSi
I run into the same issue when I tried to use generated files form python quickstart (the HelloWorld example).
Files commited to grpc repo contain generated files that do not contain this experimental piece of code (https://github.com/grpc/grpc/blob/master/examples/python/helloworld/helloworld_pb2_grpc.py)
Files generated using `grpc_tools.protoc` in version `libprotoc 3.19.4` generate e

[2022-04-08 15:13] LordReaver opened #29356 "Google protobuf files not included on PHP install"
### What version of gRPC and what language are you using?
gRPC 1.4.5.0 with PHP

### What operating system (Linux, Windows,...) and version?
Windows 10 Version 21H2 (Build 19044.1586)
Docker Desktop 4.6.1 (on Hyper-V without WSL 2, running linux containers)

### What runtime / compiler are you using (e.g. python version or version of gcc)
protoc with grpc_php_plugin

### What did you do?
I was try

[2022-04-08 15:53] LordReaver commented on #29356
What a bummer, after a whole day of analysing, researching and testing I have now found out I was just blind... Protocolbuffers for PHP clearly say:

Known Issues:
- Missing native support for well known types.

case closed -.-

[2022-04-08 15:53] #29356 closed

[2022-04-08 18:44] lidizheng commented on #25364
@wuxibin89 We do want to improve the UX of the API. Can you help to create a new issue to describe the problem you are seeing?

[2022-04-08 20:31] yashykt commented on #25020
Is this still an issue?

[2022-04-08 22:21] RODevVro opened #29361 "[Question] Visual Studio 2022 solution gRPC projects regeneration on each compilation without changes"
Hello,

As advised on your page, before opening this ticket, I opened a topic on the Google.io group but to this day, I still have no answer. So I open this ticket in order to find a solution or tracks to solve the problem.

We set the Link & RootPath on our protos to be accessible from other assemblies but it puts out this warning message.

https://github.com/grpc/grpc-dotnet/issues/1653
https://

[2022-04-09 00:00] dwcullop commented on #28429
Since upgrading to 1.44, I've seen an increase in memory leaks as well.  There seems to be a bunch of statically declared objects that don't clean themselves up upon shutdown.  I'm hoping there is just some cleanup function that I'm not calling.

My leak detection tool is reporting 66 memory leaks for a total of 8,040 bytes.  All of them are related to GRPC, and most of them were creating when I s

[2022-04-09 19:53] orzel commented on #24884
For the record, here is what I do, and it works with recent grpc (1.43.0).
[code]

[2022-04-10 04:11] xiedeacc commented on #10136
is this issue still exists?

[2022-04-10 06:34] wuleistarrocks opened #29366 "How can i get the grpc include dir in my CMakelists.txt"
How can i get the grpc include dir in my CMakelists.txt? gRPC_INCLUDE_DIRS seems useless!

[2022-04-10 06:47] donnadionne commented on #24850
The original issue was about GrpcLibraryInitializer as seen in the trace; this can be resolved by construct a channel or a server, which seems to have been resolved.

The new crash, is this still a GRPC issue?

[2022-04-10 06:52] donnadionne commented on #26388
Is this still happening with the latest version of GRPC?

[2022-04-10 15:49] noam-bionicstork commented on #21446
I still get this problem in alpine3.14 and grpc 2.41.0. switching to debian image fix it

[2022-04-11 03:05] Su-yj opened #29368 "ModuleNotFoundError: No module named 'grpc_reflection.v1alpha.proto_reflection_descriptor_database'"
### What version of gRPC and what language are you using?
language: python
grpcio: 1.45.0
grpcio-reflection: 1.45.0

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.4

### What did you do?
I follow the [gRPC Python Server Reflection](https://github.com/grpc/grpc/blob/master/doc/python/

[2022-04-11 03:24] jdix531 commented on #25364
I hit this as well, and the code is in a library I'm consuming so the workaround isn't as helpful as one might hope. I might try to implement it for them in the meantime.

[2022-04-11 09:52] wuxibin89 commented on #25364
@lidizheng My problem is very much like @RonanMcCarthy  describe above. I'm using grpc-python to build a small distributed system. Each node is an actor with two RPC threads:
- server thread: an grpc asyncio server receiving message from other nodes simultaneously.
- client thread: multiple grpc asyncio clients sending message to other nodes simultaneously.

When running, grpc works fine and messa

[2022-04-11 14:33] benfranklin79 commented on #29331
Hi @jtattermusch , any idea when this will get looked at?

[2022-04-11 16:19] lidizheng commented on #29368
@Su-yj We haven't released the reflection client feature for gRPC Python yet (not in https://github.com/grpc/grpc/releases). It was targeting v1.45.x, but got reverted due to a protobuf compatibility issue. It will be released in v1.46.x in a few weeks.

[2022-04-11 17:00] Allen-Webb opened #29370 "grpc cmake will build grpc_plugin_support even if BUILD_CODEGEN is OFF"
On ChromeOS we rely on cross compilation which runs into issues because we do not install protoc or libprotoc for cross compiled targets. Consequently, we need a way to disable plugin compilation for cross compiled targets.

This would typically be `BUILD_CODEGEN`. However, `grpc_plugin_support` is defined outside of conditionals, so libprotoc is always required. I have worked around the issue in

[2022-04-11 18:18] lidizheng opened #29371 "[Flake] prod:grpc/core/master/windows/grpc_portability CMake VS2015"
https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_portability

[code]

It's failing since last Thursday. The breakage time point was similar to the Python builds, so I thought fixing the Python issue would fix it too. However, it looks like a separate issue.

One possible culprit is the upb update PR: https://github.com/grpc/grpc/pull/29333 (m

[2022-04-11 22:49] #29308 closed

[2022-04-11 22:51] yashykt commented on #23597
Closing in favor of b/169689583

[2022-04-11 22:51] #23597 closed

[2022-04-12 02:21] ILikeIneine commented on #23667
Still reproducible :(

[2022-04-12 05:14] manuganji commented on #27506
`pip install --no-binary :all: grpcio==1.44 grpcio-status==1.44 --ignore-installed` didn't work for me.

[2022-04-12 16:53] yashykt commented on #28935
Please take a look at https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md for help on logging and tracing. I'll also note that the epollex polling engine has been deleted at head. The default engine is epoll1 currently.

[2022-04-12 16:53] #28935 closed

[2022-04-12 16:58] yashykt commented on #28823
It isn't clear what you are trying to do here. Please take a look at https://github.com/grpc/grpc/blob/master/src/cpp/README.md for building instructions.

[2022-04-12 16:58] #28823 closed

[2022-04-12 19:42] yashykt commented on #29370
Can you send a pull request for this please?

[2022-04-12 19:43] yashykt commented on #29370
On a quick discussion with the team, this change looks good but we are not sure if this is going to break other usecases.

[2022-04-12 19:45] yashykt commented on #29366
Can you give some more details as to what you are trying to accomplish please?

[2022-04-12 19:58] nicolasnoble commented on #29142
I'm not sure they are supposed to be? I can see the appeal tho.

[2022-04-12 22:14] sethfri commented on #28749
Hey @dennycd, I hope all is well! I wanted to check in with a few questions:

* Is the team still on track to deliver this for Q2?
* Will this include XCFramework support for all of `gRPC`, `gRPC-Core`, `gRPC-RxLibrary`, `BoringSSL-GRPC`?

For `BoringSSL-GRPC`, I don't see a public repo for the fork, so I'm not able to open a separate issue. It also appears as though gRPC uses `abseil`, so I've op

[2022-04-13 00:05] lidizheng commented on #29371
Mitigated by https://github.com/grpc/grpc/pull/29380

[2022-04-13 00:05] #29371 closed

[2022-04-13 07:35] twisteroidambassador opened #29388 "Unbounded memory usage increase when running on older kernels only?"
### What version of gRPC and what language are you using?
v1.43.2 C++

### What operating system (Linux, Windows,...) and version?
`nvidia/cuda:10.2-base-ubuntu18.04` docker image, running on a CentOS 7 host (kernel `3.10.0-1062.9.1.el7.x86_64`)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

### What did you do?
We implem

[2022-04-13 10:57] TomaszBorczyk opened #29390 "grpc_tools.protoc generates python3 incompatible imports in *_pb2_grpc.py files"
### What version of gRPC and what language are you using?
`libprotoc 3.19.4` for compiling

### What did you do?
Folder structure:
[code]
[code]

run in project root `$ python -m grpc_tools.protoc --proto_path=. --python_out=generated --grpc_python_out=generated test.proto`

### What did you expect to see?
In generated file `test_pb2_grpc.py` I expect there is an import `from . import test_pb2 as

[2022-04-13 11:23] TomaszBorczyk commented on #29390
Here is workaround script that replaces imports if anyone is interested
project strucutre:
[code]

[code]
run it using `python ./fix_imports/fix_imports`

[2022-04-13 11:24] TCBroad commented on #21446
What are we meant to do when the google API we depend on uses Grpc.Core, even when updated to the latest version? The package was released in December 2021 so well into the maintenance period. It also uses the Gax package so can the legacy part be removed somehow?

![image](https://user-images.githubusercontent.com/1906419/163169752-ef1a7254-0ab1-4c63-9e64-ea34261d396d.png)

[2022-04-13 11:27] jskeet commented on #21446
@TCBroad: We're currently working (right now!) on a new version of GAX that will depend on Grpc.Net.Client by default, with an option of using Grpc.Core to continue supporting .NET Framework users.

I'm hoping that the GA version of GAX v4 (and a re-release of all client libraries) will happen some time in early/mid-May.

[2022-04-13 12:05] TomaszBorczyk commented on #29390
Related to https://github.com/grpc/grpc/issues/9575

[2022-04-13 12:29] TCBroad commented on #21446
@jskeet Thanks for the update - I'll check back in a month or so and hopefully update them then. I've managed to get a build working using the bullseye-slim image mentioned in this thread, but alpine would be preferable.

[2022-04-13 16:07] xxsong5 opened #29391 "envoy: upstream connect error or disconnect/reset before headers. reset reason: protocol error"
I use grpc-web at webpage, and golang based backend as grpc-server,  then envoy told me  **protocol error**,  any suggestions?

[2022-04-13 16:13] jtattermusch commented on #29331
CC @gnossen @lidizheng

[2022-04-13 17:48] #28984 closed

[2022-04-13 23:21] yashykt commented on #29391
There aren't enough details here to help answer. Either way, please prefer forums such as the grpc-io google group or stack overflow. If you believe this is a bug, please open a bug type issue with a reproduction. @stanley-cheung

[2022-04-13 23:21] #29391 closed

[2022-04-13 23:24] yashykt commented on #29388
The epollex polling engine has been deleted and epoll1 is now the default. Could you please verify this on head?

[2022-04-13 23:56] HannahShiSFB commented on #29233
This is caused by https://github.com/grpc/grpc/pull/25586 which removed insecure channel.

Regardless whether Spanner connects to emulator or production server, gax-php always create a CredentialsWrapper (https://github.com/googleapis/gax-php/blob/v1.12.0/src/GapicClientTrait.php#L434) and add it to callstack (https://github.com/googleapis/gax-php/blob/v1.12.0/src/GapicClientTrait.php#L610).
When

[2022-04-14 00:01] yashykt commented on #29388
I will also note that the ResourceQuota does not take into account writes at present. So, unfinished might also be a reason for the increase especially given that this is a server streaming RPC.

[2022-04-14 00:05] HannahShiSFB commented on #29233
@dennycd  @stanley-cheung I want to propose an easy fix of Spanner, but I can't fork https://github.com/googleapis/google-cloud-php and create a PR there. Could you help me with it? Thanks

[2022-04-14 06:12] touseefmurtaza commented on #24846
Thanks it works for me.

[2022-04-14 15:15] HannahShiSFB commented on #29233
Sure. I tried to fork the repo, but got a page said "No more forks can be created."

[2022-04-14 19:29] emkornfield commented on #25556
@ctiller @nicolasnoble any thoughts on this?

[2022-04-14 19:46] reeseann commented on #25082
Adding onto @pietrodn's solution above: when installing grcpio from the source tarball, make sure to `pip uninstall` any existing grcpio versions first, otherwise pip may skip the build stage.

Your output for `pip install` should include:

[code]

[2022-04-14 21:29] HannahShiSFB commented on #29233
sorry for the confusing. It works now. I will create a PR right now

[2022-04-14 22:13] #29080 closed

[2022-04-14 22:31] veblush commented on #28875
Usually this would be a symptom of the ODR ([link](https://github.com/grpc/grpc/issues/24422#issuecomment-843326936)) would you show how to build it (preferably a build script) if possible.

[2022-04-14 22:31] veblush commented on #29247
Usually this would be a symptom of the ODR ([link](https://github.com/grpc/grpc/issues/24422#issuecomment-843326936)) would you show how to build it (preferably a build script) if possible.

[2022-04-15 02:55] twisteroidambassador commented on #29388
Tested commit 5850cba2957cc894477e735a74aa6c246b499ff4. Running on Debian 11, memory usage is ~320MiB after 5 minutes, ~350MiB after 18 hours. On CentOS 7, it's 1.1 GiB (!!!) after 5 minutes, ~1.4GiB after 2 hours, ~1.5GiB after 14 hours.

[2022-04-15 13:48] mwtian commented on #29329
Is there a plan to release grpcio 1.45.2 on pypi?

[2022-04-15 17:35] okravets opened #29413 "how to call c++ service call method from test"
Hey !
I have some service implementation.
grpc::Status ServiceImpl::PushData(grpc::ServerContext* context, const lkh::PushDataRequest* request, lkh::PushDataResponse* response)
{
  if (context->auth_context()->GetPeerIdentity()[0].data() == "token") // crashing here
  {
     // authorized
  }
}

I would like to call method from test.
Unfortunately, I have no idea how to set into context auth info.

[2022-04-15 21:19] alokpr opened #29417 "Multiple build warnings reported by gcc-9"
### What version of gRPC and what language are you using?
1.45.2 C++

### What operating system (Linux, Windows,...) and version?
Linux Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-9

### What did you do?
CC=gcc-9 bazel build //...

### What did you expect to see?
No build warnings

### What did you see instead?

[code]

### Anything else we s

[2022-04-16 08:17] aaliddell commented on #24665
Not stale

[2022-04-16 13:46] mandicLuka commented on #28974
same here.
@doctorpangloss I would really appreciate if you could share your solution

[2022-04-16 13:54] MrNeocore commented on #28214
I think this issue deserves to remain open because as far as I know, it references a real issue affecting every gRPC Python user - despite having lower quality workarounds available.

[2022-04-16 15:37] markdroth commented on #21589
Sorry, I somehow missed that last comment.

Now that #25586 has been merged, I agree that we should change insecure creds to allow specifying an AuthMetadataProcessor.

Zhen, can you please take a look at this?  Thanks!

[2022-04-17 12:25] xutao123777 opened #29427 "PHP call golang grpc + protobuf"
E0417 20:22:40.853071913   43722 http_proxy.cc:77]           cannot parse value of 'http_proxy' env var. Error: INVALID_ARGUMENT: Could not parse 'scheme' from uri '127.0.0.1:38457'. Scheme must begin with an alpha character [A-Za-z].

[2022-04-17 12:42] #29427 closed

[2022-04-17 12:42] xutao123777 commented on #29427
已经发现错误

[2022-04-17 13:41] Skywuuuu commented on #27506
@manuganji I also encountered this problem

[2022-04-17 17:55] doctorpangloss commented on #28974
You can view the changes here - https://github.com/hiddenswitch/grpc

At a high level, abseil is monkey patched in my revisions to correctly use the OSX architecture, but nowadays abseil has the appropriate fixes. Then, I build the two architectures separately and lipo the final library. Then I patch in the right meta file. It would be way more challenging to modify all of this stuff and grpc isn'

[2022-04-18 09:24] sheinbergon commented on #29310
@gnossen is there a planned release version for the python bindings?

[2022-04-18 11:51] PierrickVoulet commented on #29233
@HannahShiSFB Could you provide the link to this PR?

[2022-04-18 15:23] lidizheng commented on #26556
We added `isort` but we also want `pylint` and `pytype`.

[2022-04-18 16:14] sshishov commented on #29329
Yes, the question is even more generic. Why we are not publishing released version like `1.45.1` and `1.45.2` on PyPi?
The latest available version `1.44.0` has a lot of distracting warnings which we would like to fix:
[code]

[2022-04-18 18:49] johnnyshields commented on #29097
[Release v1.46.0-pre1](https://github.com/grpc/grpc/releases/tag/v1.46.0-pre1) also missing a gem @lidizheng

[2022-04-18 18:58] lidizheng commented on #29097
Sorry about the delay of uploading.

CC Ruby owners @apolcyn @murgatroid99 @stanley-cheung @nicolasnoble

[2022-04-18 19:07] gsar commented on #29097
thanks for adjusting the priority on this @lidizheng! ruby packaging seems lower down the priority list for this project, which is concerning for us, since grpc is a dependency for most things related to Google Cloud and blocks timely deployments when there are security updates and such.

increasing the ruby build availability to `release blocker` status would be great. thanks to all who work on t

[2022-04-18 19:32] n-bes commented on #24278
Any news?

[2022-04-18 19:33] n-bes commented on #24903
Any news?

[2022-04-18 20:43] Nakilon commented on #26655
bump, I guess

[2022-04-18 21:25] ash2k commented on #26703
I still need this.

[2022-04-19 00:23] #26571 closed

[2022-04-19 00:23] #26431 closed

[2022-04-19 00:23] #26491 closed

[2022-04-19 02:59] #28126 closed

[2022-04-19 08:43] tongtongdi opened #29439 "Cross-compiling for QNX-710 failing with aarch64-unknown-nto-qnx7.1.0-ld: unknown architecture of input file `CMakeFiles/crypto.dir/linux-aarch64/crypto/chacha/chacha-armv8.S.o' is incompatible with aarch64 output"
### What version of gRPC and what language are you using?
Using gRPC:1.46.0-dev
Langeuage:c++

### What operating system (Linux, Windows,...) and version?
Target platform: QNX-710 64Bit(aarch64)
Host platform: Ubuntu 20.04(x86_64)
### What runtime / compiler are you using (e.g. python version or version of gcc)
Cross-compiler QCC 8.3.0 (gcc_ntoaarch64le)

### What did you do?
Please provide either

[2022-04-19 09:40] tongtongdi commented on #29439
i add "-DOPENSSL_CRYPTO_LIBRARY=$QNX_TARGET/aarch64le/usr/lib/libcrypto.a" , this problem is solved.
but the new error is :
`In file included from /data/cross_com/micar_os_alphatrion_qnx_ws/src/cockpit/core/platform/external/grpc/include/grpc/support/port_platform.h:22,
                 from /data/cross_com/micar_os_alphatrion_qnx_ws/src/cockpit/core/platform/external/grpc/src/core/lib/gpr/atm.cc:

[2022-04-19 11:25] jtattermusch commented on #26489
I think this can be closed since I recently removed all the places where choco is used to install something (see linked PRs).
(one "choco uninstall" is remaining, but uninstalling shouldn't be flaky).

See https://github.com/grpc/grpc/search?q=choco

[2022-04-19 11:25] #26489 closed

[2022-04-19 12:23] enumag commented on #29233
I'm getting the same error against firestore emulator as well. Is there any workaround I can use?

[2022-04-19 12:38] enumag commented on #29233
Based on https://github.com/googleapis/google-cloud-php/issues/3911#issuecomment-1099226534 it seems the workaround is to downgrade grpc. It did solve the problem for me.

[2022-04-19 14:01] RODevVro commented on #29361
Hi, do you have any information regarding this issue? Did you reproduce with the sample?

[2022-04-19 16:42] akshayjshah commented on #27219
I think that this is still relevant.

[2022-04-19 16:55] jzcq89 opened #29441 "Is there a way to statically link in those submodule libraries in libgrpc.a"
For the version of grpc (1.38) we are using, there are a bunch of submodule libraries like libabsl*.a,  libgpr.a, libupb.a, libaddress_sorting.a etc...
We are trying to create a static linked libgrpc.a and have all needed submodule libraries in it.
Is there an easy way to do it? Like some sort of hidden flag?

Looks like by default, none of the needed submodule libraries are in the libgrpc.a.

Tha

[2022-04-19 17:18] gnossen opened #29442 "xDS Interop Client Spec: Consider Cancelling In-Flight RPCs When Configuration Changes"
Originally suggested [here](https://github.com/grpc/grpc/pull/29423#discussion_r852476747).

When xDS interop clients receive a [`Configure`](https://github.com/grpc/grpc/blob/8e0da602a8c1e09666a65de18b93c9ea10669d2d/src/proto/grpc/testing/test.proto#L101) RPC that removes an entry from the list of methods, there are likely many in-flight RPCs for the method being disabled. While they will all fin

[2022-04-19 17:20] HannahShiSFB commented on #29233
Thx for waiting. It's https://github.com/googleapis/google-cloud-php/pull/5224

[2022-04-19 18:31] saiprabhur commented on #23232
any fix found for the issue [sreejit-a](https://github.com/sreejit-a)

[2022-04-19 19:44] nicolasnoble commented on #29439
Sorry, but we are very unlikely to be able to help directly on this one. QNX isn't even listed in our list of supported platforms: https://github.com/grpc/grpc/blob/master/src/cpp/README.md#supported-platforms

I won't close this one in case somebody else from the community has an answer for you, but we don't have the knowledge to help directly.

[2022-04-19 19:48] yashykt commented on #29388
Could I ask you to collect some memory profiles (for example, with the google heap profiler tool) to see where the memory increase is coming from?

[2022-04-19 19:50] yashykt commented on #28800
Should this be on buganizer?

[2022-04-19 19:53] nicolasnoble commented on #29417
Thank you for the report and associated pull request. I'll say this tho: it's virtually impossible to guarantee that out code compiles on all compilers and all platforms without warnings. We have a few tests where we are running `-Werror` on a selected set of compilers and platforms, but in general, I would recommend *not* building third party code with this option. Compiling your own code with it

[2022-04-19 20:01] alokpr commented on #29417
Agreed - it is possible to disable -Werror for third-party libs except when the warning is in a header file.

We are upgrading from v1.38 to v1.45. We could build version 1.38 without any warnings. Sure there is no guarantee but we can certainly hope to at least build Google libraries warning free with mainstream compilers like gcc and clang.

[2022-04-19 20:17] bdhess commented on #28764
Ah sorry, yes, to be clear, the segfault is somewhere within the call to `grpc::GoogleDefaultCredentials()`.

It looks to be fixed again at head but is repro-able at v1.44.0.

Wdym by stack trace -- setting the value of `GRPC_TRACE` to something and capturing stderr?  Or is there some other way of building/instrumenting.  Ftr, we are building with Bazel.

[2022-04-19 20:19] ejona86 commented on #29442
For the Authz stuff, this shouldn't be a problem except if RPCs are delayed an exceptionally long time.

This would help, but it requires multithreading and care to implement correctly and I feel like we're tossing good money after bad in continuing to patch up the current xds interop client design.

The issue described here is only an issue because of the current design and piecemeal nature of us

[2022-04-19 20:22] drfloob commented on #29441
The issue tracker is for bugs and feature requests, not general questions such as this one. Please consider reaching out on Stackoverflow or the gRPC mailing list instead. You'll want to list your build environment (bazel or cmake, likely), and your current build command.

[2022-04-19 20:22] #29441 closed

[2022-04-20 08:08] kzhui125 opened #29451 "Grpc.Core.Api nuget package add .net 5/6 support"
### What version of gRPC and what language are you using?

dotnet core

### What operating system (Linux, Windows,...) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

.net 6

### What did you do?

I have a C++ cli dll reference .net 6 dll library. And the .net 6 library references Grpc.AspNetCore(which use Grpc.Core.Api).

Because C++ cli d

[2022-04-20 10:05] jtattermusch commented on #29451
AFAIK the netstandard 2.x targeted DLLs should be importable by any project that targets net5.0/6.0.

I'm not very familiar with C++/CLI projects, but IIUC the limitation is that the C++/CLI project itself can't target netstandard2.x, not that its dependencies also need to be net5.0/net6.0 (which makes no sense, since netstandard2.x is a strict subset of net5.0).

Closing as there doesn't seem to

[2022-04-20 11:26] kzhui125 commented on #29451
@jtattermusch yeah you are not familiar with C++/CLI projects.

the limitation is that not only the C++/CLI project itself can't target netstandard2.x, but also its dependencies also need to be net5.0/net6.0

This is a  problem with Grpc.Core.Api package. because the package don't give .NET 5/6 target dlls.

[2022-04-20 11:36] kzhui125 commented on #29451
I also don't know why Microsoft not support the pattern "C++/CLI project reference .NET 6 dll which reference .NET Standard 2+ dll".

But this is the fact now, can you reopen this issue @jtattermusch  ?

[2022-04-20 13:08] 0inp commented on #25861
Hi !
I just wanted to update this issue as we are experiencing this problem
We are trying to publish a pubsub message with the `google-cloud-pubsub` lib that depends on `grpc`
Here are the dependencies involved :
[code]
We are using the latest version of `google-cloud-pubsub` and `grpc`.

We usecase is that we are calling an endpoint of an app flask that is meant to publish a pubsub message that s

[2022-04-20 13:22] jtattermusch commented on #29366
I think the "use gRPC from a cmake project" use case is pretty well documented here: https://github.com/grpc/grpc/tree/master/src/cpp#cmake (which also links to full examples of how include gRPC).

Since this issue doesn't provide any detail about what's wrong with the documentation and there's no clear indication that there's a bug/issue somewhere, I'm going to close.

[2022-04-20 13:22] #29366 closed

[2022-04-20 13:29] jtattermusch commented on #29370
This seems like a fair request (as long as we verify that doing this doesn't break any tests).
Can you please create a PR with the change? (note that the CMakeLists.txt is generated from https://github.com/grpc/grpc/blob/master/templates/CMakeLists.txt.template)

[2022-04-20 13:31] Allen-Webb commented on #29370
Sure I will get a pull request uploaded.

[2022-04-20 17:19] patrickbadleyupstart commented on #29100
While this workaround does seem to work, are their plans to fix this in the near future?  Uninstalling, changing a config, and reinstalling isn't ideal especially for larger teams.

[2022-04-20 21:11] illeatmyhat opened #29459 "grpcio-tools.protoc python import paths should be relative to a specified root directory"
`grpcio-tools==1.44.0`
Given the generated directory structure, where `baz.proto` imports `bar.proto`
[code]
According to https://github.com/grpc/grpc/issues/9575#issuecomment-293934506, what we have is currently
`import bar_pb2 as bar__pb2`
but what we want is
`import foo.bar_pb2 as bar__pb2` or `from foo import bar_pb2 as bar__pb2`
the solution is to place the proto files into a subdirectory `pr

[2022-04-21 03:03] #29439 closed

[2022-04-21 13:07] jtattermusch commented on #29331
FTR The error basically says that the `ssl_alpn_selected_protocol` property is missing:
https://github.com/grpc/grpc/blob/93d47104daa789046b1d79db23faf52747450f58/src/core/tsi/ssl_transport_security.h#L44
https://github.com/grpc/grpc/blob/659a02aba06f5ef7f0d1eab8da64bcce60d85f30/src/core/lib/security/security_connector/ssl_utils.cc#L135

@yihuazhang  as the code was last modified here: https://git

[2022-04-21 13:25] jtattermusch commented on #29331
At this point it's unclear whether this is actually a problem in gRPC. It could simply be that ZScaler basically does MITM (since it terminates the TLS connection and has a proxy connect to the actual backend) which then leads to TLS/ALPN issues with grpc.
It would be worth checking if your ZScaler setup actually support HTTP/2 with TLS and gRPC with TLS.

Conversations [here](https://github.com/g

[2022-04-21 17:28] jtattermusch commented on #29331
@benfranklin79  can you share some details on what's the origin of the CA roots file you used for `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH`? Is that a CA roots file provided by the admins of your ZScaler instance?

[2022-04-21 20:11] drfloob commented on #28755
Hello! gRPC team member here. Adding SO_PEERCRED metadata for custom authorization sounds useful. I had some chats about this with our security folks, and had a few other chats with the team around how we could support this going forward with some low-level changes we're going to be making soon (the EventEngine API). Altogether, consensus is it's likely safe to add the feature, and we don't necess

[2022-04-21 23:33] liuzhen2008 opened #29479 "Could we please add a c++ streaming example?"
### Is your feature request related to a problem? Please describe.
I am looking over the cpp examples, i see unary call examples, however I don't see any streaming examples.

### Describe the solution you'd like
I see there exists a proto file for hellostreamingworld.proto, but I am not seeing how it can be used in c++

### Describe alternatives you've considered
I tried looking into python exampl

[2022-04-22 03:14] qifzhou opened #29480 "Create GRPC channel stuck while App Domain unload"
### What version of gRPC and what language are you using?
Grpc.Core Version="2.30.0"

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### What did you do?
This is something I spot in our prod, that there's a IIS config change while process start, triggering a app domain unload, while I think

[2022-04-22 09:57] wqh17101 opened #29481 "zlib's CVE-2018-25032 in gprcio"
### What version of gRPC and what language are you using?
grpcio 1.44.0

### What operating system (Linux, Windows,...) and version?

Linux
### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.10

### What did you do?

install grpcio by `pip install`

### What did you expect to see?
pip install grpcio will not install a zlib component with CVES.

### What did

[2022-04-22 10:02] jtattermusch commented on #29451
Reopened, but note that we never tested Grpc.AspNetCore and Grpc.Net.Client with C++/CLI (at least AFAIK), so there's no guarantee things will work even if we made this change.
In fact, I'd suggest that you take Grpc.Core.Api sources from the our release branch, try to patch it with the the net5.0 target, and use the locally-built Grpc.Core.Api nuget to test whether things would actually work with

[2022-04-22 11:00] riZZZhik commented on #27506
`pip install --no-binary :all: grpcio --ignore-installed` worked for me too, thanks @aaltat ❤️

[2022-04-22 11:35] TalhaNaeem1 commented on #22815
@przemekpastuszka [przemekpastuszka](https://github.com/przemekpastuszka)
How did you resolve this?

@przemekpastuszka

[2022-04-22 11:38] kzhui125 commented on #29451
@jtattermusch It seem to be a  Windows bug:

https://github.com/dotnet/runtime/issues/68261#event-6472857410

But I think .netstandard is obsolete, and net 5/6(latest .net) target support is necessary.

Thanks very much for your support.

[2022-04-22 12:50] jtattermusch commented on #29451
What makes you think netstandard is obsolete?

[2022-04-22 13:28] kzhui125 commented on #29451
Since No new versions of .NET Standard and .NET framework will be released. The word should be "old technology" instead of obsolete (sorry for my vocabulary).

And Microsoft recommends go straight to .NET 6, or multi-target .NET Standard 2.0 and .NET 5+. I think .net Standard is for share code with .NET framework, not for latest features and speed.

for example:

- nuget Google.Protobuf latest sup

[2022-04-22 15:56] benfranklin79 commented on #29331
@jtattermusch Thanks for the response on this. Next week I will discuss this with our secops team and see what they say.

[2022-04-22 20:13] lidizheng opened #29487 "[Flake] Ruby macOS build failure"
https://fusion2.corp.google.com/invocations/5a0a83fe-7e90-4d80-9b94-2947bbd930f2/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_build_artifacts;config=default/log

[code]

[2022-04-22 21:08] lidizheng commented on #29481
cc @veblush This might require a zlib upgrade for all wrapper languages.

[2022-04-23 00:31] adrianimboden commented on #10136
Yes, it is still an issue. I also have to disable leak checking for most tests because of this now.

Sadly, as I understand it, from a user point it is unavoidable: You have to call context.AsyncNotifyWhenDone before the request starts. If it never starts it is also not safe to delete the tag myself as it sometimes seems to get delivered anyway?

Disabling leak checking in those tests seems to be

[2022-04-24 02:19] zchn commented on #28755
Thanks for the response. As an intermediate milestone, I think even exposing some way for gRPC users to intercept the communication, get the socketfd and populate more information in the context themselves would be useful. That way, similar to [how people does it in gRPC-go](https://groups.google.com/g/grpc-io/c/FeQV7NXpeqA), gRPC users can call [getsockopt](https://man7.org/linux/man-pages/man2/g

[2022-04-24 04:35] liuzhen2008 commented on #29479
Actually im very dumb. The route_guide cpp example has all the 4 types of rpc.

[2022-04-24 04:35] #29479 closed

[2022-04-24 04:37] ctiller commented on #29479
There's a lot of stuff and even we forget what's there from time to time.

[2022-04-24 08:52] ts-ingka commented on #25082
+1 with this issue on Macbook Pro 12.2.1 version. Tried every possible "fix" suggested here, the only thing that finally worked was installing it via conda rather than pypy

[2022-04-24 16:30] gertvdijk commented on #22815
@TalhaNaeem1 Please scroll up to read [my earlier comment](https://github.com/grpc/grpc/issues/22815#issuecomment-650184078); you're using an alternative Python-Docker distribution (Alpine) for which no grpcio wheels are published. (But even if there were, your version is pinned to a version predating the standard described below.)

You can see it [here on PyPI](https://pypi.org/project/grpcio/1.4

[2022-04-24 22:57] liuzhen2008 commented on #29479
Hi @ctiller. So the example in route_guide is synchronous call. Should I leave this open to ask for an async streaming example?

[2022-04-25 03:29] wqh17101 commented on #29481
For this is a `High severity` CVE, i hope you can fix it as soon as possible.

[2022-04-25 06:15] rohitmual commented on #27506
pip install --no-binary :all: grpcio --ignore-installed Worked. Thank you.

[2022-04-25 07:12] TalhaNaeem1 commented on #23509
pip install --upgrade pip did not fix it for me on python:3.8.9-alpine3.12 base image. @gnossen

[2022-04-25 07:56] RODevVro commented on #29361
Fixed https://github.com/grpc/grpc-dotnet/issues/1703

[2022-04-25 07:56] #29361 closed

[2022-04-25 10:10] wader commented on #23509
@TalhaNaeem1 If i remember correctly the cause of the slowness for me was that the grpc package somehow could not use any "wheel" variant of the package forced it to build from source. I think what variant can be used depends on pip version, package version and what OS/distribution you use. Maybe this helps https://stackoverflow.com/questions/37793046/how-does-pip-decide-which-many-linux-wheel-to-

[2022-04-25 12:11] equivalent opened #29489 "gem install grpc:1.45.0 takes lot of time to complete"
### What version of gRPC and what language are you using?

Ruby 3.1.1

`gem install grpc:1.45.0`

### What operating system (Linux, Windows,...) and version?

* M1 osx (no issue - all fine)
* AWS hosted Ubuntu 20.04 VM with 4GB Ram & SSD. => takes lot of time to finish install
* Docker image `FROM 3.1.1`  => takes lot of time to finish gem install

### What runtime / compiler are you using (e.g. p

[2022-04-25 12:17] equivalent commented on #29489
in our Docker build we kind of speed it up by doing :

[code]

....so this will cache up the layer of grpc gem install for next docker build BUT doesn't solve the core issue that it takes a lot of time on fresh docker build

[2022-04-25 14:51] seyedmmousavi commented on #26209
doesn't works. is there any missing character?

[2022-04-25 14:52] RonquilloAeon commented on #28387
For anyone using nox, this worked: `session.install("--no-binary", ":all:", "grpcio", "--ignore-installed")`

[2022-04-25 14:52] seyedmmousavi commented on #26209
how it solved?

[2022-04-25 16:22] CosbyBs86 opened #29490 "GRPC .net client slower then GRPC core in .NET 5.0 framework"
Hello all
 I'm facing a very weird behavior. I'm using GRPC .net client package (version 2.45.0) on .NET framework 5 as a very stupid client for a grpc server written in Golang. The client -> server communication is in streaming. With GRPC core package the client/server communication run about 15000 operations per second. With GRPC .net client package the communication is about 1200 ops/s.

Please

[2022-04-25 16:32] drfloob commented on #29490
Hi @CosbyBs86. It sounds like you have general questions about a different project, gRPC .Net is not related to gRPC core. Please see their repo, and follow their policies for asking general questions.

CC @jtattermusch.

[2022-04-25 16:32] #29490 closed

[2022-04-26 03:59] TalhaNaeem1 commented on #22815
Well. Thank you @gertvdijk :)

[2022-04-26 05:15] aeroith commented on #25082
I was also not able to fix this problem. The installation would be successful but importing grpc would fail (shown below)

[code]
However, installing from conda would be just fine, so I checked their instructions. I was missing some build flags via imports. The following export statements worked for me, and hope they would be helpful for you as well. [Taken from here.](https://github.com/conda-for

[2022-04-26 08:39] chaoyebugao commented on #19172
Let's keep this open

[2022-04-26 09:49] Ronghefeng commented on #28323
My problem is solved, change 'insecure_channel' to 'secure_channel', and add credentials with grpc.ssl_channel_credentials()

[code]

[2022-04-26 10:54] TalhaNaeem1 commented on #23509
Thank you

On Mon, Apr 25, 2022 at 3:10 PM Mattias Wadman ***@***.***>
wrote:

[2022-04-26 17:30] lidizheng opened #29499 "Golang toolchain support for Bazel RBE"
https://source.cloud.google.com/results/invocations/37980687-ec1d-4f39-a88e-b225d4cd6e35/targets/%2F%2Ftest%2Fcpp%2Finterop:xds_interop_server/log

[code]

[2022-04-26 18:07] chyzzqo2 commented on #29329
@lidizheng or @gnossen Any updates on the release status for the python packages? Are there outstanding issues blocking the latest versions from getting releases or is it just a CI issue? Basically should we be avoiding building and using all 1.45.x versions?

[2022-04-26 18:17] #28437 closed

[2022-04-26 19:00] yashykt commented on #29388
Some additional notes -
Assuming that ResourceQuota is working correctly here and the buffered writes are an issue, we would suspect the HTTP layer as the major suspect point where the bytes are being buffered. (There would also be some buffering in the tcp layer and on the socket which you can tune.)

The default way that writes work in gRPC C++ is that, the API can accept more writes as soon as

[2022-04-26 19:42] veblush commented on #29481
Thanks for the report. Yeah, I'm going to upgrade it to the 1.2.12.

[2022-04-26 19:42] donnadionne commented on #24404
async_end2end_test has been health as of lately

[2022-04-26 19:42] #24404 closed

[2022-04-26 19:42] yashykt commented on #28874
Can you please provide your repro code as a gist maybe, so that we can more easily reproduce it on our end?

Head's up - If this is platform-specific (arch64 yocto linux), we might not be able to help immediately.

[2022-04-26 19:43] yashykt commented on #28874
Also, please make sure that this does not reproduce on head. (might have been fixed since v1.30)

[2022-04-26 19:45] donnadionne commented on #22411
test has been health as of lately: https://source.cloud.google.com/results/invocations/3c362125-bc72-48ca-bbf4-f48902a6a017/targets;query=tcp

[2022-04-26 19:45] #22411 closed

[2022-04-26 19:47] donnadionne commented on #28102
healthy as of lately: https://source.cloud.google.com/results/invocations/c670bf03-5d69-4c60-a54c-9065cd01d4f7/targets;query=binder_transport

[2022-04-26 19:47] #28102 closed

[2022-04-26 19:51] yashykt commented on #28831
I'm not sure I understand the fix. Can you send a pull request for this please and we can discuss this there futher?

[2022-04-26 19:56] donnadionne commented on #25583
Can this be tested against the latest grpc version and see if it's still an issue?

[2022-04-27 03:55] hughhan1 commented on #28387
Does anyone happen to know what the fix would be if using `pipenv` with a `Pipfile`? I don't explicitly depend on `grpcio`, but I have many dependencies that need `grpcio` in the dependency graph.

I tried the following, but with no success.
[code]

[2022-04-27 04:20] kiwidoggie commented on #25583
I will have to give it a try at another time. You can close this issue for now.

[2022-04-27 05:00] syed-mohsin commented on #8798
bump :)

[2022-04-27 05:35] Tenzer commented on #28387
With `pipenv` (and Poetry) you can launch a shell in the virtual environment with `pipenv shell` and then run the manual `pip` commands to work around this issue. The tools won't try to install the package again if the installed version matches what it expects.

[2022-04-27 07:10] AlexApriamashvili opened #29500 "iOS 14.x | crash in grpc::SslCredentials(grpc::SslCredentialsOptions const&)"
### What version of gRPC and what language are you using?
`1.42.0`, `C++`

### What operating system (Linux, Windows,...) and version?
iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Apple clang version 13.1.6 (clang-1316.0.21.2.3)

### What did you do?
The `libgRPC-C++` and `libgRPC-Core` libraries are used to accommodate network communication between mobile

[2022-04-27 10:59] loskutov opened #29501 "GRPC server leaks memory"
### What version of gRPC and what language are you using?
1.44.0, python

### What operating system (Linux, Windows,...) and version?
Ubuntu Focal

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.10

### What did you do?
https://gist.github.com/loskutov/a7b2415a32164932697d77896863e55b
`make repro`

### What did you expect to see?
Some small amount of m

[2022-04-27 11:01] loskutov commented on #29501
Not really sure whether it's python-specific, though.

[2022-04-27 12:09] jtattermusch commented on #29490
Note that the official performance benchmarks (https://grpc.io/docs/guides/benchmarking/, https://grafana-dot-grpc-testing.appspot.com/) now has comparison of Grpc.Core with grpc-dotnet. You can use that for the reference.

[2022-04-27 12:11] b-rohit opened #29502 "Security handshake failed: {"description":"Handshake read failed"}"
### What version of gRPC and what language are you using?
@grpc/grpc-js - 1.5.10

### What operating system (Linux, Windows,...) and version?
- server running in a docker container on azure cloud

### What did you do?
I have created a grpc server with SSL. It is a test server, where I use self signed certificates for server. The connection between server and client works fine. But when I enabled t

[2022-04-27 13:18] jtattermusch commented on #29451
We might add the net5/net6 target once Grpc.Core.Api is moved over to grpc-dotnet (https://github.com/grpc/grpc-dotnet/pull/1651).
Until then, we'd like to prevent any churn that's not absolutely necessary.

[2022-04-27 16:13] ZhenLian commented on #21589
Yeah, this looks reasonable, and it seems we just need to replace the original `SetAuthMetadataProcessor` code with the code in https://github.com/grpc/grpc/blob/master/src/cpp/server/secure_server_credentials.cc#L101-L104.
I will be OOO until next week. @toddtomkinson , interested in submitting a PR to quickly fix this:)?

[2022-04-27 17:05] markdroth commented on #21589
I think we probably want to just eliminate `SecureServerCredentials` completely and instead move its functionality directly into `ServerCredentials`, so that there is no difference between insecure creds and other creds types.

[2022-04-27 19:44] #27814 closed

[2022-04-27 19:44] #26589 closed

[2022-04-27 19:44] #26173 closed

[2022-04-27 19:44] #26752 closed

[2022-04-27 19:44] #26765 closed

[2022-04-27 19:44] #26594 closed

[2022-04-27 19:44] #26827 closed

[2022-04-27 19:44] #26830 closed

[2022-04-27 19:44] #26460 closed

[2022-04-27 19:44] #26781 closed

[2022-04-27 19:44] #26832 closed

[2022-04-27 19:44] #27064 closed

[2022-04-27 19:44] #27103 closed

[2022-04-27 19:44] #24687 closed

[2022-04-27 19:44] #26536 closed

[2022-04-27 19:44] #27092 closed

[2022-04-27 19:44] #27150 closed

[2022-04-27 19:44] #27425 closed

[2022-04-27 19:44] #27656 closed

[2022-04-27 19:44] #27623 closed

[2022-04-27 19:44] #27655 closed

[2022-04-27 19:44] #27671 closed

[2022-04-27 19:44] #27685 closed

[2022-04-27 19:44] #27819 closed

[2022-04-27 19:44] #27723 closed

[2022-04-27 19:44] #27922 closed

[2022-04-27 19:44] #27879 closed

[2022-04-27 19:56] macrogreg opened #29504 "Add support for the semantic error model (aka `Status.Details`) in the .NET client."
The [semantic gRPC error model](https://cloud.google.com/apis/design/errors#error_model) is not supported by the .NET client ([docs](https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/error-handling#grpc-richer-error-model)).

As a result, it is not possible to correctly process application error messages that rely on error status `details` for appropriate client processi

[2022-04-28 02:12] ysk24ok opened #29506 "Why the question template contains a warning saying DO NOT POST A QUESTION?"
https://github.com/grpc/grpc/blob/d2ff2bb75e6a3f14a30a021e4576fc35ae68d85f/.github/ISSUE_TEMPLATE/question.md

Maybe you want to delete this remark?

[2022-04-28 02:16] nmtoan91 opened #29507 "Error on webgl build on unity: undefined symbol: gprsharp_convert_clock_type"
When I build webgl from unity I got hundreds of errors like this:

Library\Bee\artifacts\WebGL\build\debug_WebGL_wasm\build.js: undefined symbol: gprsharp_convert_clock_type (referenced by top-level compiled C/C++ code)
UnityEngine.GUIUtility:ProcessEvent (int,intptr,bool&)
Library\Bee\artifacts\WebGL\build\debug_WebGL_wasm\build.js: undefined symbol: gprsharp_free (referenced by top-level compile

[2022-04-28 02:17] nicolasnoble commented on #29506
No, that's the intended comment. The rest of the file describes that this isn't the proper venue to ask questions, but rather the mailing list. Do not ask questions here.

[2022-04-28 02:17] #29506 closed

[2022-04-28 02:23] ysk24ok opened #29508 "What is the best way for server to achieve high performance with Python asyncio API?"
My ideas are:

- Multithreading using [migration_thread_pool](https://grpc.github.io/grpc/python/grpc_asyncio.html#create-server). Each thread has its own event loop and coroutines can be executed in different threads and it could utilize all CPUs. But coroutines must be thread-safe as coroutines executed in different threads can access the same data.
- Multiprocessing. Each process has its main t

[2022-04-28 02:25] #29508 closed

[2022-04-28 05:44] #28170 closed

[2022-04-28 05:44] #28185 closed

[2022-04-28 05:44] #28200 closed

[2022-04-28 05:44] #27996 closed

[2022-04-28 05:44] #27709 closed

[2022-04-28 05:44] #28020 closed

[2022-04-28 05:44] #28342 closed

[2022-04-28 05:44] #28383 closed

[2022-04-28 05:44] #28384 closed

[2022-04-28 05:44] #28386 closed

[2022-04-28 05:44] #28431 closed

[2022-04-28 05:44] #28471 closed

[2022-04-28 06:25] tensmyo opened #29510 "gRPC C++ Compile on wsl2 docker environment"
Environment:
- Windows 11 Pro + WSL2(Ubuntu20.04) + Docker
- 32GB memory DDR4

Build gRPC in docker

Get Error:
`[ 76%] Building CXX object CMakeFiles/grpc_unsecure.dir/src/core/lib/surface/call_details.cc.o
c++: fatal error: Killed signal terminated program cc1plus`

VM memory usage: from 5GB -> 16.28GB  and fatal out
Do compile gRPC really need so many memory?
Can we do something smart way to co

[2022-04-28 06:41] asabourin commented on #29489
We're also experiencing the same issue, with `bundle` now taking more than 30 minutes to complete in Linux-based CI containers after upgrading from grpc 1.41 to 1.45 following upgrade of Ruby 3 to 3.1 (so not sure exactly whether ruby or grpc is the cause)

Inspecting the resulting container image we found the newer ones includes more than 1GB worth of source files in the installed gem folders (in

[2022-04-28 09:07] benfranklin79 commented on #29331
@jtattermusch the CA roots file is provided by the admins of the Zscaler instance

[2022-04-28 09:09] benfranklin79 commented on #29331
@jtattermusch I've confirmed with the admins that Zscaler does support HTTP2 and does MITM the traffic

[2022-04-28 09:13] benfranklin79 commented on #29331
@jtattermusch Zscaler admins have confirmed that what I'm using for GRPC_DEFAULT_SSL_ROOTS_FILE_PATH is the CA roots file

[2022-04-28 09:17] benfranklin79 commented on #29331
@jtattermusch For details on origin of roots file:

![ca_root](https://user-images.githubusercontent.com/3197935/165720239-1615c1c6-13cb-4822-a11b-275bc7fdcf9b.png)

[2022-04-28 09:39] jtattermusch commented on #29331
@benfranklin79  thanks for the update. As posted above, conversations [here](https://github.com/grpc/grpc/issues/23172#issuecomment-909355285) might indicate that you may need to fine tune the certificates you're using (have you tried that?).
Also, did you verify that Zscaler supports ALPN?

[2022-04-28 10:27] benfranklin79 commented on #29331
@jtattermusch fine tunning the certificate is something the admin team seems reluctant to do right now, but we did find the following line in the debug logs:

[code]

I can't send the whole debug file over because there might be sensitive info in there but this is currently making Zscaler admins think that the cert file is not being picked up which is baffling because I've definitely setup `GRPC_D

[2022-04-28 10:29] wolegeyun opened #29511 "compile grpc with protoc 3.9.1"
### What version of gRPC and what language are you using?
1.46.0-dev

### What operating system (Linux, Windows,...) and version?
ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough infor

[2022-04-28 11:25] benfranklin79 commented on #29331
@jtattermusch yes ALPN is supported

[2022-04-28 11:29] IIFE opened #29512 "HealthCheckRequest does not work in version 1.44.0 - Returns "could not parse request""
### What version of gRPC and what language are you using?
1.44.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2019

### What did you do?
I am enabling the default health check service by calling `EnableDefaultHealthCheckService(true);`.

I am generating the health proto using

[2022-04-28 19:24] zkkxu commented on #28836
ANY PROGRESS ABOUT LZ4 SUPPORT?

[2022-04-28 20:04] dennycd commented on #28749
Hey @sethfri, YES ! that is still the case for us.

We will have 3 stages for this, roughly matching the dependency graph in our current Cocoapod target settings

* iOS/ObjC:  [gRPC-ProtoRPC](https://github.com/grpc/grpc/blob/master/gRPC-ProtoRPC.podspec), [gRPC-RxLibrary](https://github.com/grpc/grpc/blob/master/gRPC-RxLibrary.podspec),  [gRPC](https://github.com/grpc/grpc/blob/master/gRPC.podspe

[2022-04-28 20:06] dennycd commented on #28749
Hey @sethfri, YES ! that is still the case for us.

We will have 3 stages for this, roughly matching the dependency graph in our current Cocoapod target settings

* iOS/ObjC:  [gRPC-ProtoRPC](https://github.com/grpc/grpc/blob/master/gRPC-ProtoRPC.podspec), [gRPC-RxLibrary](https://github.com/grpc/grpc/blob/master/gRPC-RxLibrary.podspec),  [gRPC](https://github.com/grpc/grpc/blob/master/gRPC.podspe

[2022-04-29 00:29] Rossco8 opened #29517 "Unable to install grpcio on pypy:3.9 base image"
### What version of gRPC and what language are you using?
1.44.0

### What operating system (Linux, Windows,...) and version?
debian base image pypy:3.9-slim-bullseye

### What runtime / compiler are you using (e.g. python version or version of gcc)
 pypy:3.9

### What did you do?
Unable to install grpcio (a dependency of google-auth)
[code]

### What did you see instead?
Warnings and errors are t

[2022-04-29 01:56] nrowegt commented on #29489
I ran into this today as well. Ruby 3.1.2, grpc 1.45.0. The issue of a long install is also present on the following versions:
`1.43.1`
`1.42.0`

This is with a local build, intel MBP 2019. I didn't try any versions prior to 1.42.0. Each time I killed it at 5 minutes in, I didn't wait to see how long the final build took.

[2022-04-29 08:04] jtattermusch commented on #29331
@benfranklin79 that log line doesn't necessarily indicate a problem, since C# can create the "default" credentials via grpc_ssl_credentials_create() with the default null args and then C-core should pick up the "default" roots.pem, but you've overridden it via "GRPC_DEFAULT_SSL_ROOTS_FILE_PATH", so you should still end up with the roots. pem you configured.

How exactly did you setup the GRPC_DEFA

[2022-04-29 08:10] jtattermusch commented on #29331
@ZhenLian  can you please provide some insight on what could be wrong when the "ssl_alpn_selected_protocol" property is missing after a handshake? `Cannot check peer: missing selected ALPN property.","file":"..\..\..\src\core\lib\security\security_connector\ssl_utils.cc","file_line":162}`.
Could it be that the custom roots.pem is misconfigured?
It may be that the error produced just isn't helpful

[2022-04-29 08:52] jtattermusch commented on #19513
@JamesNK  is this still relevant? Given that Grpc.Core is in maintenance mode we definitely won't do this for Grpc.Core. If this is still relevant for grpc-dotnet, we can move this issue there?
My opinions is that we don't really need this and we can close (but we can reopen and move if you want).

[2022-04-29 08:52] #19513 closed

[2022-04-29 08:56] jtattermusch commented on #19954
This issues seems to be more connected to C-core than the C# layer, so I'm adding the label accordingly (to avoid closing the issue as part of the cleanup following the move of gRPC C# to maintenance branch).

[2022-04-29 09:21] jtattermusch commented on #22750
I think we can classify this as "works as intended".
- Looks like you have an active call and you explicitly shutdown all the channels in your application (including the channel on which you started the call) and then expect the in-flight call to continue to work normally (Btw doing so actually prints a warning).
The correct usage pattern is to only shutdown the channel once all the calls on that

[2022-04-29 09:21] #22750 closed

[2022-04-29 09:26] jtattermusch commented on #25905
Closing since we haven't heard back from the user.

[2022-04-29 09:26] #25905 closed

[2022-04-29 09:32] jtattermusch commented on #25953
@roitenen1981  can you also provide an example of the names you're trying to resolve (and ideally include the entire code snipped that creates the channel with a given target address).

[2022-04-29 09:53] jtattermusch commented on #29451
Grpc.Core.Api has been moved to grpc-dotnet (and it's been deleted from grpc/grpc's master branch) so I'm going to transfer this issue there.

[2022-04-29 09:57] jtattermusch commented on #28619
This has been done as part of https://github.com/grpc/grpc-dotnet/pull/1651.

Ad client libraries: future versions for client libraries (4.0+) will also target net462, so this shouldn't be a problem.

[2022-04-29 09:57] #28619 closed

[2022-04-29 10:55] marcosatti opened #29518 "Asyncio exception handler called on client after server cancelling stream-stream RPC due to internal exception"
### What version of gRPC and what language are you using?
gRPC 1.45.0, Python

### What operating system (Linux, Windows,...) and version?
Windows 11

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.4

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s

[2022-04-29 11:05] CedricKassen opened #29519 "use @grpc/grpc-js instead of grpc in compiler/node_generator.cc"
### What's the problem

Using the `grpc_node_plugin` for protoc makes it impossible to fully migrate from the deprecated `grpc` npm package to `@grpc/grpc-js`, since the generated code still has `grpc` as a dependency.

### Suggestion

As far as I can say, this problem should be fixed by just updating this line https://github.com/grpc/grpc/blob/53e382729fb964896ce8f47c7f1cc520642241e9/src/compiler

[2022-04-29 11:26] karol-bisztyga opened #29520 "Messages' sizes are not consistent with docs what leads to errors"
### What version of gRPC and what language are you using?

C++
grpc v1.39.1

### What operating system (Linux, Windows,...) and version?

I spotted similar behavior on 2 types of OS
Linux ubuntu 20.04/mac os 12.3.1

### What runtime / compiler are you using (e.g. python version or version of GCC)

[code]
On linux
[code]

### What did you do?

Here is a repo+branch I use for the tests: https://gith

[2022-04-29 19:12] juliays opened #29530 "infrequent requests slow response"
We have an application that expects fairly infrequent incoming calls - about 4 every minute. But each call would invoke about 150 gRPC calls in parallel to the gRPC server. When we ran load testing, we found that the system works much better when there are about 20 - 40 calls per minute. But when there is only 4 calls per minute, response time could go as high as 15-20 seconds. Is there any parame

[2022-04-29 20:34] lidizheng opened #29532 "[Python] Resolve PyLint complaint abstract-method"
See https://stackoverflow.com/questions/39256350/pylint-cannot-handle-abstract-subclasses-of-abstract-base-classes.

And https://github.com/grpc/grpc/pull/29476/files#r861993926.

This issue tracks cleaning up all the `disable=abstract-method` comments in our repo.

[2022-04-30 02:11] mpalmer commented on #28631
Is there anything that I can do to help this issue towards resolution?  This issue is quite important for us, at least, as it makes installation of our code (which depends on `grpc`) an annoyingly fiddly task on an arm64 Mac, as the user has to install `grpc` manually from source, and then install our gem on top -- which is a pretty bad UX.

The interim fix -- pending support for adding arm64 into

[2022-04-30 03:09] ioquatix opened #29540 "HTTP semantics specify "trailer" header SHOULD be sent in response when trailers are expected."
It is not clear to be how the gRPC HTTP/2 specification should be interpreted and I believe it can be clarified which would be useful for client and server implementors.

https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

I believe it's expected the client should include `te: trailers` in the request. This appears to be suggested in the linked doc.

What's not clear, is how the respon

[2022-04-30 10:02] marcosatti commented on #29518
I figured out this workaround in the meantime for anyone else:

[code]

RPC exits as expected and resources are cleaned up.

Seems like `_consume_iterator_request()` should be doing something similar perhaps (wait for an iterator value or wait for a RPC status event and act accordingly)?

[2022-04-30 13:30] buehler commented on #26743
Just now experiencing the same error. I just want to build one file of a particular git submodule and I don't want to add _all_ of the protos. I tried to add more include directories since I have not found a way to specify multiple additional directories. When adding more than one argument, it is escaped and therefore rendered useless.

[2022-04-30 15:29] sableangle commented on #28974
Hello guys,

I build a binary for the Apple Silicon Mac with native Unity Editor such as Unity 2021.2 2021.3.

You can get the binary on my Google Drive.
[https://drive.google.com/file/d/1wuJsiP-sxpD_4T_COzpRUjUwWDY0S-pJ/view?usp=sharing](url)

And put the files into your Unity Project following the screenshot. (Including the .meta files)
![image](https://i.imgur.com/tDrcT7J.png)

P.S. I'm not a e

[2022-04-30 16:05] doctorpangloss commented on #28974
This doesn't work, because `grpc` doesn't look for the binary in that directory.

[2022-04-30 16:48] sableangle commented on #28974
It works, actually.
You need to also setup the plugin import correctly, so on my post I metion .meta is also require to import to the Unity Project too.

If the ARM64 binary plugin is set likes the following screenshot, your Unity should works!
The platform setting of a binary plugin should be set to correct CPU, then everything work great.
That is because, Unity doesn't search a binary by the fol

[2022-04-30 17:09] doctorpangloss commented on #28974
Try issuing the command `file Assets/Plugins/Grpc.Core/runtimes/osx/x64/grpc_csharp_ext.bundle` from your project directory, then paste the output here.

[2022-04-30 17:10] doctorpangloss commented on #28974
It doesn't do either of these things.

[2022-04-30 19:25] sableangle commented on #28974
Command:
`file /Users/miki/Plugins/Grpc.Core/runtimes/osx/x64/grpc_csharp_ext.bundle`
Result:
`/Users/miki/Plugins/Grpc.Core/runtimes/osx/x64/grpc_csharp_ext.bundle: Mach-O 64-bit dynamically linked shared library x86_64
`

Command:
`file /Users/miki/Plugins/Grpc.Core/runtimes/osx/arm64/grpc_csharp_ext.bundle`
Result:
`/Users/miki/Plugins/Grpc.Core/runtimes/osx/arm64/grpc_csharp_ext.bundle: Mach-O

[2022-04-30 19:32] sableangle commented on #28974
I'm not an expert about make and CMake, so I just build the binary following the repo's guide and I don't know how to make a Universal binary which contains both x86_64 and arm64 arches.

I try the build.gradle script which you shared, but always got compile errors, so I try another solution.

If you could kindly shared the universal(contains x86_64 and arm64) grpc_csharp_ext.bundle file, that wil

[2022-04-30 19:40] doctorpangloss commented on #28974
I'm not sure what you are observing. I understand you built a binary that has the right architecture. I think people are welcome to try, and just like I did, they'll observe that following your instructions does not work.

[2022-05-01 03:47] sableangle commented on #28974
Which version Unity are you using?
I'm not sure does Unity complete the Apple Silicon plugin import option before 2021.3 or not, since 2021.3 is LTS version I only do testing on 2021.3.

One other note, the ARM64 arch binary should import to your Unity before the Project is opened by Unity, or we should restart the Unity Editor after import the ARM64 binary.

That's because, Unity will try to load

[2022-05-01 07:57] jarl-haggerty opened #29550 "ThreadSanitizer reports data race in route guide example"
### What version of gRPC and what language are you using?
C++, v1.44.0

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang version 10.0.0-4ubuntu1
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

### What did you do?
I followed the instructions here, https://

[2022-05-01 16:28] doctorpangloss commented on #28974
I don't really have the bandwidth to litigate this, but I think if you have a resolution you should PR it.

[2022-05-01 21:11] mwtian opened #29551 "Unexpected memory usage growth after upgrading from 1.43.0 to 1.45.2, possibly related to xds"
### What version of gRPC and what language are you using?
gRPC 1.45.2, C++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough info

[2022-05-02 00:39] hyeokyoon-chang opened #29552 "When communicating 2 gRPC in keepAliveTime, 1 gRPC does not work"
### What version of gRPC and what language are you using?
gRPC ver: 1.37.0
language: JAVA

### What operating system (Linux, Windows,...) and version?
Linux ubuntu 18.04

### What did you do?
I have defined two gRPC messages in the proto file as follows.

[code]

and, Also, the keepAliveTime of the gRPC channel was defined as 1 minute.

Speaking of the background first, the client is always alive

[2022-05-02 04:22] mwtian commented on #29551
Actually with gRPC 1.43 the memory usage is also unusually high, although smaller in magnitude compared to 1.45.2. The heap allocation profile has a different gRPC stack. Will investigate this further from the application's side.

[2022-05-02 04:22] #29551 closed

[2022-05-02 08:19] mandicLuka commented on #28974
I was having a problem on Linux and following this [issue post](https://github.com/grpc/grpc/issues/22485#issuecomment-604502885) I have solved the problem. At the end I had to add grpc_csharp_ext_dummy_stubs.c as noted in this [post](https://github.com/grpc/grpc/issues/22485#issuecomment-933666885)

[2022-05-02 17:05] donnadionne commented on #29540
Craig, Can you help to provide clarification here and maybe you know some history here.

[2022-05-02 17:24] markdroth commented on #29530
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2022-05-02 17:26] markdroth commented on #29510
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2022-05-02 17:26] #29510 closed

[2022-05-02 17:42] donnadionne commented on #29511
There is not enough info here to conclude this is a GRPC issue.

[2022-05-02 17:42] #29511 closed

[2022-05-02 17:55] juliays commented on #29530
This should be considered either a bug or a feature request - why is it that when there is a few request per minute or one request every 10 seconds get processed slower than if there are 100 request per second? Keepalive doesn’t come into play here.

[2022-05-02 17:56] donnadionne commented on #29520
Asking the question to Craig

[2022-05-02 18:00] donnadionne commented on #29502
There is not enough information here to understand what is causing the handshake failure; try adding debugs/traces to your server code to see where the error may be coming from

[2022-05-02 18:00] #29502 closed

[2022-05-02 18:15] markdroth commented on #29530
It's not clear to me from the small amount of information that you provided that this is actually a bug.  Most of the problems we see like this are actually incorrect use of our API (e.g., creating a new channel for each RPC instead of creating a single channel and reusing it for all RPCs), which is why I suggested that you take this to a forum like stackoverflow or the mailing list.

If you are c

[2022-05-02 20:15] jna3 commented on #24660
i encountered similar issue today, /third_party/zlib/.cmake_install.cmake was the issue. Every instance of INSTALL DESTINATION is not using the CMAKE_INSTALL_PREFIX that it's supposed to.

[2022-05-02 22:17] ctiller commented on #29530
(drive-by comment with no offer to pick this up)

We diagnosed a similar problem in a different RPC system some years ago - low QPS servers were slower than high QPS servers. It ended up being the machine going into one of its sleep states (slowing down the CPU to conserve energy).

Does your performance go up if you spin up a few side threads doing `while (true) {}`?

[2022-05-02 23:11] oliverhamilton7915 opened #29557 "UDS support for Python"
### Is your feature request related to a problem? Please describe.
I would like to be able to bind my Python grpc server to a unix domain socket. Currently, the python grpc library only supports binding to a `(host, port)` tuple (formatted as `host:port`) through using `server.add_insecure_port(...)`.

### Describe the solution you'd like
I would like to be able to pass something like `unix:///tmp

[2022-05-03 00:00] dennycd commented on #29500
Thanks for reporting the bug, @AlexApriamashvili . This looks like a dereferencing crash on [g_glip](https://github.com/grpc/grpc/blob/b92f8857569bd78ddd071e883db5edc94ecd594b/include/grpcpp/impl/codegen/grpc_library.h#L48) during app launch.  Are you able to tell whether this is a regression from gRPC v1.42.0 or is the issue also being observed in your app before gRPC v1.42.0 ? Thanks

[2022-05-03 00:09] dennycd commented on #29500
I assume this means your team has seem this crash prior to gRPC v1.42.0 ? ;  )

[2022-05-03 02:11] juliays commented on #29530
Thank you for your response. How did u check server CPU? I was running a test case on my Mac. I can’t tell real difference for CPU or memory usage in both cases. We are not talking about large quantities of data - in one case, I have 4 users spawn off randomly between 1-5 seconds. In another case, I have 20 users spawn off on the same 1-5 seconds interval. Once started, each thread would create th

[2022-05-03 04:20] marcosatti opened #29560 "Application hangs during shutdown sequence after error connecting to server"
### What version of gRPC and what language are you using?
gRPC 1.45.0, Python

### What operating system (Linux, Windows,...) and version?
Tested on Windows 11, Ubuntu 22.04 Jammy

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.4

### What did you do? / What did you see instead?
The application hangs upon cleanup and shutdown.

In this snippet, the `c

[2022-05-03 12:56] AMontagu opened #29561 "Python: async context.read block to infinite after some times"
### What version of gRPC and what language are you using?
Python 3.8
grpcio 1.45.0
grpcio-tools 1.45.0

### What operating system (Linux, Windows,...) and version?
Debian - Docker: python:3.8-slim-buster

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?

I use gRPC in one of my µService as an event protocol. So I have a client that

[2022-05-03 13:14] beersheba commented on #24973
@ionroso I succeeded to build and run [this example](https://github.com/grpc/grpc/tree/master/examples/android/helloworld) on armeabi-v7a using Mac.

1. Cloned repo recursively: `git clone --recursive https://github.com/grpc/grpc`
2. Updated Gradle Versions in Project Structure
![image](https://user-images.githubusercontent.com/13087114/166457718-0f71184e-0d5f-43fc-90bc-34278f71e75f.png)
3. Added

[2022-05-03 14:40] markdroth commented on #29530
It would probably help a lot to post the relevant portion of your code.

[2022-05-03 14:56] benfranklin79 commented on #29331
I set the variable in windows via `Environment Variables` dialog box.

[2022-05-03 14:59] benfranklin79 commented on #29331
Not sure how useful this is going to be since I'm using this library via the library: https://github.com/googleapis/google-cloud-dotnet

[2022-05-03 14:59] jtattermusch commented on #28488
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 14:59] #28488 closed

[2022-05-03 15:00] #28218 closed

[2022-05-03 15:01] jtattermusch commented on #26095
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:02] #25522 closed

[2022-05-03 15:02] jtattermusch commented on #24427
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:02] #24427 closed

[2022-05-03 15:03] jtattermusch commented on #24236
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:03] #24236 closed

[2022-05-03 15:03] jtattermusch commented on #24056
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:03] #24056 closed

[2022-05-03 15:03] jtattermusch commented on #23606
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:03] #23606 closed

[2022-05-03 15:04] #22485 closed

[2022-05-03 15:04] jtattermusch commented on #21734
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:04] #21734 closed

[2022-05-03 15:05] jtattermusch commented on #21633
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:05] #21633 closed

[2022-05-03 15:05] #19172 closed

[2022-05-03 15:05] jtattermusch commented on #17318
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:05] #17318 closed

[2022-05-03 15:05] jtattermusch commented on #25202
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:05] #25202 closed

[2022-05-03 15:07] jtattermusch commented on #28974
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:07] #28974 closed

[2022-05-03 15:07] jtattermusch commented on #28183
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:07] #28183 closed

[2022-05-03 15:09] jtattermusch commented on #28412
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:09] #28412 closed

[2022-05-03 15:10] jtattermusch commented on #29116
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:10] #29116 closed

[2022-05-03 15:10] jtattermusch commented on #26195
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-03 15:10] #26195 closed

[2022-05-03 15:13] juliays commented on #29530
Here is my server code, which doesn't do much of anything other than logging the incoming request.
===========================================================================
        public override Task<TimeSeriesResponse> UpdateTimeSeries(TimeSeriesRequest request, ServerCallContext context)
        {
            _logger.LogInformation(" received incoming request {0}", request);
            retu

[2022-05-03 15:14] jtattermusch commented on #24553
Are you trying gRPC C# on Unity (which is no longer supported) or just gRPC C++ on Unity (I'm not sure if that was ever supported or if anyone has ever tried that)?

See [recent update on gRPC C#](https://groups.google.com/g/grpc-io/c/OTj5mb1qzb0/m/-M81UQipAQAJ) for more info.

[2022-05-03 15:21] markdroth commented on #29530
Okay.  In that case, @jtattermusch, can you take a look?

[2022-05-03 20:37] musicinmybrain opened #29567 "Segfault in client_lb_end2end_test due to absl::string_view(nullptr)"
### What version of gRPC and what language are you using?

I am working on updating Fedora Linux’s `grpc` package to 1.46.0—currently using `v1.46.0-pre2`. The problem is in gRPC Core.

### What operating system (Linux, Windows,...) and version?

Fedora Linux Rawhide (development version).

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you

[2022-05-04 00:36] kipply opened #29570 ""No thread quota available" when only very few threads are running"
### What version of gRPC and what language are you using?
C++ 17 (also tried 14), gRPC pinned at https://github.com/grpc/grpc/commit/dc78581af30da834b7b95572f109bf6c708686e0

### What operating system (Linux, Windows,...) and version?
`5.8.0-1035-gcp` (tpu v4 vm)

### What runtime / compiler are you using (e.g. python version or version of gcc)
bazel 5.1.1

### What did you do?
I think a fairly st

[2022-05-04 02:50] AlexApriamashvili commented on #29500
Hey @dennycd!
Thank you for following up on this issue!

First, let me confirm that the incident was happening before we made the decision to move towards gRPC v1.42.0.

And I have some more updates regarding this incident, so let me put some learnings that we've got since this issue was opened:
* The crash appears only on MDM provisioned devices. Moreover, only when the application was installed

[2022-05-04 06:42] feher-melos opened #29571 "The helloworld greeter_server.exe crashes on Windows VS2017 Release"
### What version of gRPC and what language are you using?
v1.45.2 (same observed with v.1.46.0-pre2)
C++

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2017, MSVC 14.1

### What did you do?
I just build gRPC and run the helloworld's greeter_server.exe:
Build and install gRPC:
[

[2022-05-04 10:49] michalletavka opened #29572 "Library attempts to install when built by cmake as submodule"
Logic is not good in https://github.com/grpc/grpc/blob/master/CMakeLists.txt line 54
`if(NOT CMAKE_SOURCE_DIR STREQUAL CMAKE_CURRENT_SOURCE_DIR)`

should be extra brackets for the STREQUAL
`if(NOT (CMAKE_SOURCE_DIR STREQUAL CMAKE_CURRENT_SOURCE_DIR))`

[2022-05-04 11:30] #29572 closed

[2022-05-04 18:07] abarberenaCPDS commented on #29228
Hi @gnossen 👋

I can't make it work for Raspberry PI 3B+ either. I am trying to run the Google PubSub QuickStart but no luck

Where can I find a supported Linux distros matrix or similar?

Does this library work for Centos aarch64?

[code]

This is my installation log file:
[log.txt](https://github.com/grpc/grpc/files/8624950/log.txt)

[2022-05-04 19:44] amanand opened #29576 "Difference in the grpc status structure in grpc-c vs definition in status.proto"
### What version of gRPC and what language are you using?
1.31

### What operating system (Linux, Windows,...) and version?
Linux, Freebsd

### What runtime / compiler are you using (e.g. python version or version of gcc)
llvm 3.0

### Problem statement
There are few differences in the definition of status between grpc-c and other language bindings.
In case of other bindings as seen in the status.

[2022-05-04 23:21] #28982 closed

[2022-05-04 23:45] tensmyo commented on #29510
Thank you @markdroth will do some research

[2022-05-04 23:48] danielwangksu commented on #25752
Sorry may I ask if this is by design how do we use cmake to to find grpc package. For my gPRCConfig.cmake it is still including gRPCTargets.cmake file, which is missing.

[2022-05-05 07:04] pietrodn commented on #28387
The problem is still present with 1.46.0, as another incorrectly labeled wheel was released on PyPI (`grpcio-1.46.0-cp310-cp310-macosx_10_10_universal2.whl`)

[2022-05-05 09:56] firebook opened #29583 "Request failed and ResourceTimer report timeout when restart XDS server"
### What version of gRPC and what language are you using?
node {
  user_agent_name: "gRPC C-core linux"
  user_agent_version: "C-core 23.0.0"
  client_features: "envoy.lb.does_not_support_overprovisioning"
  5: "gRPC C-core linux 23.0.0"
}

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### W

[2022-05-05 14:05] chrishiste commented on #25082
I lost a full day on this. Here's how I managed to make it work.

If you install python while running in arm mode it won't work. I've tried many Python versions with conda, pipenv, venv, Poetry.

You need to compile Python in x86_64 mode.
[code]
I use asdf but it should work with pyenv and similar tools.

I hope this helps.

[2022-05-05 14:49] vvenka57 opened #29584 "Upgrading to grpc 1.45.0 from 1.40.1 causes too much time for the server to start"
### What version of gRPC and what language are you using?
Upgraded to 1.45.0 from 1.40.1.
Java/Kotlin

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
We upgraded our grpc version from 1.40.1 to 1.45.0

### What did you expect to see?
Our server starts in approximately 2 minut

[2022-05-05 15:01] AamirRizwan opened #29585 "Python gRPC asynchronous bidirectional client doesn't wait for server"
I'm making a birectional call to a gRPC server. Python gRPC client doesn't wait for the server response and exits prematurely. Java gRPC client works as expected and I receive the response. I reproduced the issue using official example code: [Client code](https://github.com/grpc/grpc/blob/master/examples/python/route_guide/route_guide_client.py), [Server code](https://github.com/grpc/grpc/blob/mas

[2022-05-05 16:43] AlexJMohr opened #29586 "assertion failed: g_current_activity_ == nullptr"
### What version of gRPC and what language are you using?
Python
grpcio==1.46.0 (debug build)

### What operating system (Linux, Windows,...) and version?
Arch Linux kernel 5.17.5-arch1-1

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.2, 3.8.13
gcc 11.2.0
binutils 2.38
glibc 2.35

### What did you do?

Running a Flask server with eventlet monkey patc

[2022-05-05 17:17] lidizheng commented on #29586
@AlexJMohr Sorry that gRPC Python does not provide support for `eventlet`, we do support AsyncIO and `gevent`.

[2022-05-05 18:33] bdhess commented on #28764
Ok, I think the issue here is the default SSL certs not being loadable on those platforms (and the stderr output from grpc not being super visible in our tests).

tdbhacks and I are going to follow up separately.

[2022-05-05 18:33] #28764 closed

[2022-05-05 18:48] oliverhamilton7915 commented on #29557
This still doesnt work for me. I am trying to same line as @sebastianhillig-db did above. Anything look wrong from the DEBUG logs?
`D0505 18:47:12.082779699   27510 lb_policy_registry.cc:42]   registering LB policy factory for "grpclb"
D0505 18:47:12.082813678   27510 lb_policy_registry.cc:42]   registering LB policy factory for "priority_experimental"
D0505 18:47:12.082824161   27510 lb_policy_re

[2022-05-05 22:02] lidizheng commented on #29557
@oliverhamilton7915 PTAL at https://github.com/grpc/grpc/pull/29592 and https://github.com/grpc/grpc/blob/master/doc/naming.md. I created an example using UDS as the address for client/server and normal/asyncio API. I guess the problem you see above is whether the process has access to `/tmp` directory. Feel free to try out the example code, see if it works in your environment.

[2022-05-05 22:38] dennycd commented on #29233
Closing the issue as it is fixed from cloud / spanner side.

[2022-05-05 22:38] #29233 closed

[2022-05-06 00:39] juliays commented on #29530
Hi, we figured out the issue is with the client implementation - if we change the call to grpc server method to async, the performance bottleneck is gone.

This call is where the change is

Parallel.ForEach(requests, await r =>
               list.Add(async ((TestClient)client).UpdateTimeSeriesAsync(r))
            );

[2022-05-06 00:39] #29530 closed

[2022-05-06 02:26] harishks commented on #23681
@maganaluis Was `dex-grpc` the service name or the app-port combination based key? I am running into a similar issue. Thanks!

[2022-05-06 02:51] maganaluis commented on #23681
This was when accessing the service internally within the cluster

[2022-05-06 07:59] firebook commented on #29583
I think it can be fixed by checking nonce when delete resources not seen in update.

[code]

We should check request nonce, when it is empty, means it is first request when connect or reconnect to xds server. We don't need to delete resources.

[2022-05-06 15:40] oliverhamilton7915 commented on #29557
Interesting. Importing and running that example works. I now can see the error is because of the `gevent` monkey patching in my environment. For example, pasting the following at the following after the imports in `/examples/python/uds/async_greeter_server.py` should allow you reproduce my error:
[code]
Is it possible for you all to fix the gevent patching on your end?

[2022-05-06 15:59] oliverhamilton7915 commented on #29557
Separately, [this post](https://stackoverflow.com/questions/51006950/scaling-issues-using-gevent-and-grpc) seems to indicate that the gevent patching degrades grpc python's performance. Can you confirm?

[2022-05-06 16:35] lidizheng commented on #29557
Can you upgrade to the latest `grpcio` release and try again? We refactored our gevent integration in v1.45.x.

I might not have cycles to produce the benchmark number.

[2022-05-06 17:49] markdroth commented on #29583
Looks like you're running this with gRPC 1.45.  Can you try this with gRPC 1.46?  I think #29144 should address this problem, but that PR was merged after the 1.45 release.

[2022-05-06 17:56] markdroth commented on #29583
Hmm, looking at this log further, there may be another bug here related to the timer start and the request queuing.  But I suspect that https://github.com/grpc/grpc/pull/29144 would avoid the problem to begin with, because it would not trigger the LDS resource deletions to begin with.

I'll take a look at the timer logic to see what makes sense here.

[2022-05-06 18:13] vvenka57 commented on #29584
@markdroth Can you please help with this?

[2022-05-06 18:43] markdroth commented on #29584
If you're using grpc-java, please file this issue in the grpc/grpc-java repo.  Thanks!

[2022-05-06 18:43] #29584 closed

[2022-05-06 18:47] markdroth commented on #29583
I think #29604 should fix the underlying timer problem, although I don't currently have a good way to write a test for it.  Please try it out and see if it works for you (although as I said earlier, I think the particular scenario you're seeing will not occur with #29144).

[2022-05-06 21:59] veblush opened #29608 "gRPC Cmake dependency management using add_subdirectory"
gRPC by default uses `module` provide for cmake dependencies such as protobuf and abseil and it eventually calls `add_subdirectory` to include those dependencies. This approach has been working until protobuf started adding abseil to their dependencies. Now the dependency tree of gRPC looks like

[code]

So abseil is used by both grpc and protobuf. When they're using their dependencies and `module

[2022-05-08 01:01] onelxj opened #29611 "Add cc_grpc_library for route_guide at examples/protos"
### What version of gRPC and what language are you using?
1.45.0
bazel/C++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
bazel 5.1.1

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enoug

[2022-05-08 10:14] xturtle commented on #23797
Hi, here is some workaround under RHEL8 on s390x:

# yum install openssl openssl-devel
# GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1 pip3 install grpcio

the main concept is using system OpenSSL lib (s390x workable) instead of the boringssl included in grpcio package.

enjoy it.

[2022-05-08 17:18] StephenHodgson commented on #28183
Personally I think that's a terrible decision your team made in this issue. There are a large amount of developers that probably utilize or want to utilize this.

Nothing with doing is easy.

[2022-05-09 01:58] bipashant commented on #29489
took around 30 mins to get completed  🤷

[2022-05-09 02:52] Enna1 commented on #22438
Hi, it seems thar I encounter the same issue. Has you solved this @Thalhammer, Thanks!

[2022-05-09 07:02] ebraraktas opened #29615 "Client-side streaming early OK fails with StatusCode.CANCELLED from python client"
### What version of gRPC and what language are you using?

Python 3.8.12 - gRPC 1.44.0

### What operating system (Linux, Windows,...) and version?

MacOS 11.4

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.8.12

### What did you do?
I implemented simple client-side streaming endpoint using `tonic-rs` (Unofficial gRPC implementation in Rust). It may re

[2022-05-09 07:19] DS-Serafin opened #29617 "protoc grpc plugin generates invalid c++ code because of name colisions"
What version of protobuf and what language are you using?
Version: v3.129.2.
Language: C++

What operating system (Linux, Windows, ...) and version?
Ubuntu 20.04

What runtime / compiler are you using (e.g., python version or gcc version)
clang 12 with stdlibc++ (gcc-11)

What did you do?
create a proto service definition with service Service

What did you expect to see
Generated code compiles

Wh

[2022-05-09 08:49] mroach commented on #29489
The `metadata` for the binary gem is disallowing Ruby 3.1. I suspect this causes bundler to ignore the binary gem and go for installation from source. Is there any reason gRPC can't be built for Ruby 3.1? I don't see an open issue referencing Ruby 3.1 build problems.

[code]

[2022-05-09 10:39] manuelfedele commented on #28747
Can this be related to the memory leak of the pubsub library?

[2022-05-09 15:57] oliverhamilton7915 commented on #29557
I upgraded the `grpcio` package version to 1.46.0 and it is still unable to bind to the unix sockets. I included the imports + patching from above, and when I started up the server using `python async_greeter_server.py`, I failed to see the expected logging:
`Server listening on: unix:helloworld.sock`
`Server listening on: unix:///tmp/helloworld.sock`
I dont believe the refactored gevent integrati

[2022-05-09 16:55] gnossen commented on #29228
@abarberenaCPDS Thanks for the build log. This seems to be the actual error:

[code]

A little further up we see:

[code]

Just to make sure, do you have a C++ compiler installed?

[2022-05-09 18:34] fahhem commented on #23760
No, we moved on from this. We did find the solution was possible in c++ so it was only a matter of exposing more functionality

[2022-05-09 19:40] lidizheng commented on #29557
Thanks for checking the asyncio implementation with gevent. Can you also check if the standard gRPC Python example with gevent works in your case?

[2022-05-09 21:46] LeviLong01 commented on #29100
The steps listed do not work for me. Bundler is on latest version as well.

[2022-05-10 00:08] #29557 closed

[2022-05-10 03:29] abarberenaCPDS commented on #29228
Hey @gnossen, thx for getting back!

I got to say that part of the problem was that I was using a mediocre Microcenter MicroSD card, so, after upgrading to a 64GB Sandisk Gold, I was able to install both the compiler and the library.

Now, my I was back on my Google pub/sub QuickStart tutorial, I am getting the following error:

[code]

Then, after the first line

[code]

I execute the following c

[2022-05-10 06:53] MutualismPtyLtd commented on #24390
This solved my issue, thank you.

[2022-05-10 15:43] AMontagu commented on #29561
The bug happen again at 2am UTC between on monday morning.

The log are way too verbose. I pushed a new trace with:
[code]
instead of `all`. If you some better to advice me do not hesitate.

The last successfull read message log (between too before read print): https://pastebin.com/jcNZAUQH

First 1100 line after the last before read message: https://pastebin.com/f9pq6KFR

Only the first 16 line a

[2022-05-10 17:46] amanand commented on #29576
gentle reminder on this one.. @yashykt any clues about this one?

[2022-05-10 18:04] veblush commented on #29481
Fixed by https://github.com/grpc/grpc/pull/29531

[2022-05-10 18:04] #29481 closed

[2022-05-10 19:39] yashykt commented on #29617
We believe there are going to be keywords. We might look into warnings when certain keywords are used in 'protos'

[2022-05-10 19:43] nicolasnoble commented on #29617
I'm tempted to flag this as "not a bug": every language will have a list of reserved keywords. Given the nature of protobuf and its plugins, it's going to be difficult to create a full list. You only stumbled upon a reserved keyword.

[2022-05-10 19:49] yashykt commented on #29576
Note that gRPC Core is not public API, and it's not intended for public consumption.

[2022-05-10 19:50] nicolasnoble commented on #29576
@amanand: what are you trying to achieve exactly? It's not immediately clear to us here.

[2022-05-10 19:52] yashykt commented on #29571
Could you please provide crash logs and stack traces please?

[2022-05-10 19:59] benfranklin79 commented on #29331
@ZhenLian @jtattermusch any progress on this? I think an answer to this would be useful

[2022-05-10 21:38] ZhenLian commented on #21589
Yeah, I agree. There seems to be some clean up work for `ServerCredentials` as well, and we might want to do that as well.

[2022-05-10 22:48] markdroth commented on #29583
I'm going to go ahead and merge https://github.com/grpc/grpc/pull/29604, which will close this, on the assumption that it will fix the problem.  If you're still having issues, please post an update, and I can reopen this if needed.

[2022-05-10 22:48] #29583 closed

[2022-05-10 23:16] ZhenLian commented on #29331
Sorry for the delay. I am just back from vacation.
ALPN missing is considered as a severe failing: if the ALPN fails, the handshake would be considered not successful, and the connection would fail.
I would suggest to check your OpenSSL/BoringSSL versions used on both the client and the server, to make sure they both support ALPN.

[2022-05-10 23:20] ZhenLian commented on #29331
Or could it be cloud-dot-net is building against a OpenSSL/BoringSSL  version that doesn't support ALPN?

[2022-05-11 01:55] Lu-Gru opened #29640 "shared library and global states"
Hello,
The problem is that grpc crashes in fallowing situation:

1. executable contains grpc server - static linking to grpc
2. library (dll) contains grpc services - static linking to grpc

Executable load dll via `QPluginLoader` that provides services.
In this use case grpc is initialized twice, once in main executable and second time in dll.

To work around this problem I had to pass `grpc::g_c

[2022-05-11 07:45] AamirRizwan commented on #29585
The output is correct for the official example. Sorry for the confusion. Closing the issue.

[2022-05-11 07:45] #29585 closed

[2022-05-11 09:49] eliminyro opened #29643 "etcd3 and python: UNAUTHENTICATED: Established channel does not have a sufficient security level to transfer call credential"
### What version of gRPC and what language are you using?
grpc v1.45.0+

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.10

### What did you do?
Update grpc from 1.44.0 to 1.45.0 (also 1.46.0) and run it against etcd v3 server with authentication enabled using python-etcd3 module

[2022-05-11 11:57] Mosseridan commented on #23760
@fahhem Is you're solution open-source?
Do you have any good resources you can point me to?
Thanks.

[2022-05-11 13:04] benfranklin79 commented on #29331
This I doubt because we have been able to run an application using the cloud-dot-net library in an instance not using Zscaler.

[2022-05-11 13:27] mroach commented on #29489
This is listed as fixed in version 1.46.0 thanks to https://github.com/grpc/grpc/pull/29000

Now we just have to wait for that version to appear on rubygems.org

[2022-05-11 15:09] amanand commented on #29576
hey @nicolasnoble - In order to comply our gribi implementation with the [specification](https://github.com/openconfig/gribi/blob/2aaba323cde619765adcb25aae1855b962a4f667/v1/proto/service/gribi.proto#L312) , we need to populate error details as any.proto encoded binary data in the status.details and send over to the client.
Due to internal dependencies, we had to use grpc-c as well as the core API

[2022-05-11 16:03] ajatkj commented on #28387
If you're using poetry with python3.10 on M1, you can (replace grpcio-tools with whichever package you're trying to install)
1. remove the dependency using `poetry remove grpcio-tools`
2. run `poetry run pip install --no-binary :all: grpcio-tools --ignore-installed
3. run `poetry add --lock grpcio-tools` to update the lock file

Step 2 will build the dependency from source. This is the only option

[2022-05-11 18:14] zbentley opened #29650 ""protoc" does not recognize `--pyi_out` when invoked via `grpc_tools.protoc.main`"
### What version of gRPC and what language are you using?

[code]

### What operating system (Linux, Windows,...) and version?

MacOS 12, Intel

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7.13 via pyenv

### What did you do?

Attempted to compile a `.proto` file with `grpc_tools.protoc.main`, while supplying the `--pyi_out` flag.

### What did you e

[2022-05-11 18:58] lidizheng commented on #29586
@AlexJMohr Supporting an asynchronous library is not an easy task for gRPC Python. The socket, timer, threading are managed by gRPC Core (C/C++), and the Python is the wrapper layer. To support a flavor of Python asynchronous library, we might need to plumb through the asynchronous-ness vertically across all stacks. For example, we need to make a TCP read in C/C++ play well in eventlet context, ma

[2022-05-11 19:14] kloczek opened #29651 "1.46.1: build fails with `gRPC_BUILD_TESTS=OFF`"
Look slike it it part of the C++ inteface.
[code]
cmake setup
[code]

[2022-05-11 19:26] lidizheng commented on #28906
Closing this issue, thanks for the ping.

[2022-05-11 19:26] #28906 closed

[2022-05-11 19:30] kloczek opened #29652 "1.46.1: `gRPC` is not LTO ready (and other compile time warnings)"
I'm still not able to vuild grpc because https://github.com/grpc/grpc/issues/29651 so I've made a test to check compile time warnings.
Here are summary stats:
[code]
Because that build issue it may be more that kind of warnings.
In case of LTO warnings someone needs to meke a decision which one routines declarations are right. Those in header files or in .c/.cpp files.

[2022-05-11 19:30] kloczek commented on #29652
Here is extracter stdrr with warnings
[code]

[2022-05-11 19:39] kloczek opened #29653 "RFE: please switch from third_party/googletest and third_party/googletest/googlemock ro use system installed gmock and gtest"
grpc is not call small projest and IMO building test suite binaries using third_party/googletest and third_party/googletest/googlemock subpojests is waste of time.
IMO it would be better to use `find_package(gtet)` and `find_package(gmock)` and build all test suite against system installed gmock/gtest API/ABI.

[2022-05-11 23:14] Livius90 opened #29659 "C# .NET Framework (WinHttpHandler) client vs. Python3 server, unsupported protocol issue"
### What version of gRPC and what language are you using?
python3-grpcio 1.46.0, Grpc.Net.Client 2.45.0 in C# .NET Framework 4.7.2

### What operating system (Linux, Windows,...) and version?
Windows 10 21H2

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.10

### What did you do?
I implemented a simple gRPC client in C# .NET Framework  4.7.2 (WinHttpHa

[2022-05-12 00:52] fahhem commented on #23760
We didn't implement anything, so nothing to open source, sorry. No particular resources either

[2022-05-12 01:02] tarlano commented on #23760
Hi Fahrzin

Please can we reopen the issue and then you can expose the functionality using your c++?

Thank you so much
Anthony
________________________________
From: Fahrzin Hemmati ***@***.***>
Sent: Wednesday, May 11, 2022 4:53:09 PM
To: grpc/grpc ***@***.***>
Cc: Tony Tarlano ***@***.***>; Manual ***@***.***>
Subject: Re: [grpc/grpc] Python support for channels from file descriptors (#23760)

[2022-05-12 01:48] badarahmed commented on #27506
`pip install --no-binary :all: grpcio --ignore-installed` did not work for me. It kept throwing error regarding `cygrpc.cpython-39-darwin.so`

Installing via conda worked.
[code]

[2022-05-12 03:28] johnnyshields commented on #29097
@lidizheng we're missing rubygems packages for 1.46.1 and 1.46.0 as well. Is this something that can be looked at with priority?

[2022-05-12 06:48] mroach commented on #29097
It'd be great to get 1.46 released since that provides prebuilt binaries for Ruby 3.1. Having to build gRPC from source is killing our build times and Docker image sizes. :pray:

[2022-05-12 07:28] fahhem commented on #23760
I don't have the ability to close or re-open issues, nor do I have any C++ or Python code that's not already in grpc. If you need this, please open a new issue and ping actual grpc developers, not me

[2022-05-12 10:23] haines commented on #28631
Worth noting that @mpalmer's suggested interim fix is exactly what the google-protobuf gem (which also does not have a working darwin-arm64 native gem yet) has done since v3.19 (https://rubygems.org/gems/google-protobuf/versions), so it seems sensible!

[2022-05-12 16:19] waxxmaster commented on #29586
@lidizheng thanks, no problem, i just updated to the latest version of gRPC on our production servers, i will create a new issue if it i got this error again with the new version, i've contributed to this ticket because it is probably related.

[2022-05-12 17:14] nicolasnoble commented on #29652
It looks like a good chunk of those are on upb. It might be a good first step to get it to clean up. I'd suggest filing a bug there first to clear a portion of those warnings: https://github.com/protocolbuffers/upb

[2022-05-12 17:17] apolcyn commented on #29097
1.46.2 was just released with prebuilt binaries for ruby 3.1

[2022-05-12 17:18] kloczek commented on #29652
Just checked grpc build dependencies and I don't see upb on that list.
I'm not sure what exactly is wrong in this case so for me it would be a bit hard to do that.

[2022-05-12 17:20] nicolasnoble commented on #29652
We're using a code drop for upb, but it comes from third party still. Also we have its generated code into the repository. We wouldn't manually touch it, it needs to be fixed upstream in the upb codegen.

This for instance:

[code]

[2022-05-12 17:22] nicolasnoble commented on #29653
I'm not sure there's a lot of gain here to be honest.

[2022-05-12 17:39] johnnyshields commented on #29097
@apolcyn can you double-check the builds for mingw? When I try to install them on Windows using Ruby 3.1 my machine is trying to build from source. Mingw gem size is at ~3.5 MB which seems significantly smaller than the linux and darwin builds ~12 MB, so possibly missing the binaries?

[2022-05-12 17:56] johnnyshields commented on #29097
Huh strange... when I install as `gem install --local grpc-1.46.2-x64-mingw32.gem` it works fine. `gem install grpc` tries to build from source. Possibly not detecting platform correctly?

[2022-05-12 18:18] nicolasnoble commented on #29097
FWIW, the platform detection is done by `gem` itself, and it's a fairly undocumented and obscure process.

[2022-05-12 18:24] johnnyshields commented on #29097
OK, I think I found the issue:

[code]

Notice the `ucrt` in the latter. This is plausible as to why it wouldn't be picking up the `x64-mingw32` binary. Seems to be related to this in Ruby Windows Installer: https://github.com/ruby/setup-ruby/issues/193.

Nokogiri is providing an `x64-mingw-ucrt` build. Will raise a ticket for GRPC to do the same.
https://rubygems.org/gems/nokogiri/versions/1.13.6

[2022-05-12 18:25] kloczek commented on #29653
All distributios proviodes already ftest/gmock as shared libraries.

[2022-05-12 18:30] johnnyshields opened #29666 "Ruby: Support x64-mingw-ucrt platform"
Ruby Windows Installer is now releasing its platform as `x64-mingw-ucrt`. Refer to https://github.com/ruby/setup-ruby/issues/193

Compare Ruby 3.0 vs. 3.1 on Windows:

[code]

Currently, when running `gem install grpc` on Ruby 3.1 x64-mingw-ucrt, `gem` fails to recognize the platform, it attempts to do a native build, and fails (at least on my machine.) I'd like to request that grpc support the `x

[2022-05-12 18:31] johnnyshields commented on #29097
Ok, raised https://github.com/grpc/grpc/issues/29666

[2022-05-12 18:35] oakad opened #29667 "[C++] Custom certificate verifier should not depend on presence of root certs"
TL;DR; I propose to make `grpc_tls_certificate_verifier` object, if set by user, an one and only authority on certificate validity. No messing with root cert/crl sets. Just the output of `grpc_tls_certificate_verifier::Verify` to decide.

This was to some extent discussed before, but the issue still applies, despite the refactoring of TLS code.

Consider a system such as OSX/IOS/Windows and to som

[2022-05-12 19:19] nicolasnoble commented on #29653
Sure, but complexifing the (already complex) build for little to no gain isn't necessarily worth it. I'd wager that the time to build the tests themselves dwarfs the time to build gtest / gmock.

Plus the headers / namespaces aren't the same, so the *source code* of the tests would need to be complexified too.

[2022-05-12 19:23] nicolasnoble commented on #29097
Yup, thanks for the investigation.

[2022-05-12 19:43] kloczek commented on #29653
As gmoc/gtest are separated projest maintainiing thar part 100% outsise grpc woud refuce ,am/mour maintainance. If you are using CI each time even gainig few deconds may produce huge sabinfs not only i tine but vosts of electricity. Simplification of interracion with gmoc/gtest definitelly would allow save some man/hour resources.

[2022-05-12 19:47] apolcyn commented on #29666
Thanks for filing. I'm putting a help wanted label on this since unfortunately I don't think I'll have time to look into this myself within the next couple of releases.

[2022-05-12 19:56] nicolasnoble commented on #29666
Might be worth also checking if rake-compiler-dock simply supports it out of the box, and if not, file something there too.

[2022-05-12 21:15] gnossen commented on #29517
Looks like this is the actual error:

[code]

It looks like the [PyPy team is aware of an incompatibility between Cython and PyPy](https://foss.heptapod.net/pypy/pypy/-/issues/3280) but haven't acted on it.

Fixing this is going to require more than just the gRPC team.

[2022-05-12 21:17] gnossen commented on #29517
[Related](https://github.com/grpc/grpc/issues/4221)

[2022-05-12 23:54] ysk24ok opened #29671 "`grpc.aio.server.wait_for_termination()` returns False when timeout occurs"
### What version of gRPC and what language are you using?

- Python 3.10.2
- grpcio 1.46.1

### What operating system (Linux, Windows,...) and version?

macOS Big Sur 11.6.1

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?

Ran the following script to see what the sync/async servers returns when it times out.

[code]

### What did you expect

[2022-05-13 00:36] JamesNK opened #29672 "Grpc.Tools: Warnings from generated code in .NET 7"
.NET 7 is adding a build warning for type names with all lowercase characters. This is impacting code generated from Grpc.Tools which aliases namespaces with all lowercase characters, e.g. pb, pbc, grpc, etc

Log output:

Options are to either:
- Update code generation to alias using pascal case. There is no chance these names are ever used by C# and break generated code. However, there is a chanc

[2022-05-13 03:31] julienlavergne opened #29673 "CMAKE_INSTALL_RPATH is not respected during gRPC install of protoc"
### What version of gRPC and what language are you using?
gRPC v1.45.2, C++

### What operating system (Linux, Windows,...) and version?
Linux RedHat/CentOS 7 and 6

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 12.1, GCC 11.3, GCC 10.3

### What did you do?
Entire command I use following, running in build folder. Note the `CMAKE_INSTALL_RPATH`.
[code]

then

[2022-05-13 05:59] zkkxu commented on #28836
@markdroth  can you assgin this feature to me? I have already implement lz4 compression for grpc

[2022-05-13 07:06] xiongzubiao commented on #28755
+1 for this feature. Hope this issue won't be quietly closed like the previous one: https://github.com/grpc/grpc/issues/15511. I would love to contribute, but not really sure where to start with. Some pointers would be appreciated.

[2022-05-13 07:28] Rossco8 commented on #29517
I suppose I'm the only person in the world trying to use grpcio on pypy if the issue has been around for that long

[2022-05-13 10:08] waxxmaster opened #29675 "activity.h:154] assertion failed: g_current_activity_ == nullptr"
### What version of gRPC and what language are you using?

gRPC => 1.45.0 installed via pecl

composer package :

"grpc/grpc": "^1.42"

### What operating system (Linux, Windows,...) and version?

Debian GNU/Linux 11 (bullseye)

### What runtime / compiler are you using (e.g. python version or version of gcc)

PHP Version => 7.4.22

phpinfo dump :

grpc support => enabled
grpc module version => 1.

[2022-05-13 10:44] haines commented on #29100
This is fixed in v1.46.2 🎉

[2022-05-13 10:45] haines commented on #29489
v1.46.2 is now on RubyGems with the fix 🎉

[2022-05-13 11:33] ebraraktas commented on #29615
@gnossen Thank you for your answer. I will attach it to [the issue I opened in tonic-rs repo](https://github.com/hyperium/tonic/issues/992). However, how can we explain that a go client works with same `tonic-rs` server while python one doesn't? ([see my message on tonic-rs issue about the details](https://github.com/hyperium/tonic/issues/992#issuecomment-1116668866)).

[2022-05-13 12:26] Closius opened #29677 "A custom field of protobuf message"
### Is your feature request related to a problem? Please describe.
An ability to have a custom field of protobuf message. For example: I want to send numpy array via gRPC. This is not a good idea because this array might be very big.

### Describe the solution you'd like
The idea is to dump numpy array into file and put a link to this file into the field of protobuf message. On the client side the

[2022-05-13 13:26] mtnpke opened #29679 "[aio] Not awaiting an asynchronous call silently ignores all errors"
### What version of gRPC and what language are you using?
Python grpc 1.46.0

### What operating system (Linux, Windows,...) and version?
Windows 10 build 19044.1645 (21H2)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.10.3 amd64

### What did you do?
I am writing integration test cases for my gRPC C++ server project in Python using pytest and asyncio.

[2022-05-13 13:50] egorpugin opened #29680 "macos+homebrew gcc missing __has_feature()"
grpc 1.46.1
macos aarch64
gcc11 from homebrew
https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/port_platform.h#L241=

Build error - gcc has no `__has_feature` thing.

Error
[code]

[2022-05-13 14:17] prnvbn opened #29682 "Being able to open a secure channel in python without any client side certificates"
### Is your feature request related to a problem? Please describe.
It seems like there is no way to open a secure channel without a client side cert. This is particularly annoying when your server is configured for server side TLS only and does not even request a certificate. What it makes it further a pain is that other gRPC implementations like Go allow for this.

In Go you can do the following

[2022-05-13 15:15] osantana commented on #25082
Just for reference...

If you need to install `grpcio` through `poetry` you need to force the installation of the source package. And to make the compilation work you need to set up the following envvars before `poetry install`:

[code]

or directly with `poetry install`:

[code]

The content of `pyproject.toml` will need the following session:

[code]

[2022-05-13 15:40] johnnyshields commented on #29666
Rough PR raised here: https://github.com/grpc/grpc/pull/29684

[2022-05-13 17:18] nicolasnoble commented on #29677
What you're requesting isn't a grpc change, but a protobuf change. The proper avenue for this discussion is at https://github.com/protocolbuffers/protobuf

[2022-05-13 17:18] #29677 closed

[2022-05-13 17:31] egorpugin commented on #29680
iOS ifdef ends on line 240. Line 241 is for common `__APPLE__`.

[2022-05-13 17:36] egorpugin commented on #29680
Agreed. Motivation is understandable.

[2022-05-13 18:25] nicolasnoble commented on #29666
Cool, yep. I can ping some protobuf people, but I can't accept it directly myself.

[2022-05-13 22:53] ben9923 commented on #29329
`1.46.0/1.46.1` are available on PyPI :)

(Another issue that may be closed now @lidizheng )

[2022-05-13 23:41] lidizheng commented on #29329
@ben9923 Thanks for the ping.

Closing this PR as v1.46.x releases are coming out. Apology that we had to yank `v1.45.0` a month ago.

[2022-05-13 23:41] #29329 closed

[2022-05-14 20:16] devkapilbansal commented on #29679
Hi @mtnpke I want to look into this

[2022-05-15 01:34] joshfriend commented on #28387
Poetry has added support for `installer.no-binary`: https://github.com/python-poetry/poetry/pull/5609

[2022-05-15 08:59] fredrikaverpil commented on #28387
That's in Poetry 1.2, slated for release candidate in a few weeks.

You'll have to use Poetry from the main branch of you want to use the feature now. Example pipx installation:

[code]

[2022-05-15 09:16] Livius90 commented on #29659
I found that grpc-dotnet require a [Windows 10 Build 19622 or later](https://docs.microsoft.com/en-us/aspnet/core/grpc/netstandard?view=aspnetcore-6.0#net-framework) which is available only from Windows Insider. So this is the reason why not work on Windows 10 21H2 for me. Only the [gRPC C# core-library](https://grpc.io/docs/languages/csharp/quickstart/) works well on current Windows 10 21H2 build

[2022-05-15 09:16] #29659 closed

[2022-05-15 15:18] JasonkayZK opened #29695 "[Bug] Could not find a package configuration file provided by "absl""
### What version of gRPC and what language are you using?

gRPC version: v1.46.1
language: C++

### What operating system (Linux, Windows,...) and version?

MacOS Monterey(M1 Pro)

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version:
[code]

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to fo

[2022-05-16 06:19] lsh235 opened #29696 "grpc 1.43.1 server error : benign_reclaimer"
`static void post_benign_reclaimer(grpc_chttp2_transport* t) {
  if (!t->benign_reclaimer_registered) {
    t->benign_reclaimer_registered = true;
    GRPC_CHTTP2_REF_TRANSPORT(t, "benign_reclaimer");
    t->memory_owner.PostReclaimer(
        grpc_core::ReclamationPass::kBenign,
        [t](absl::optional<grpc_core::ReclamationSweep> sweep) {
          if (sweep.has_value()) {
            GRPC_CL

[2022-05-16 08:27] jtattermusch commented on #24421
This was fixed by https://github.com/grpc/grpc/pull/29582. The fix will be in the 2.46.2+ patch release (which will be released soon).

[2022-05-16 08:27] #24421 closed

[2022-05-16 08:49] egor43 commented on #28747
Sorry, maybe I didn't quite understand the question. In this case, the "pubsub" library is not used. At least in my example. I think the leak is not related to this library.

[2022-05-16 11:40] AMontagu commented on #29561
We restarted our development pods this week end for a maintenance action so the bug didn't happen. I will provide more information next time it happen. Next monday with luck.

[2022-05-16 15:52] dvv47 commented on #29167
Share your email, i can send you my archive with working grpc and all deps

[2022-05-16 16:01] Piyush-Chaudhary commented on #29100
Finally running below resolves

1. `arch -arm64e gem install nokogiri -v '1.13.6' --platform=ruby -- --use-system-libraries`
2. `bundle`

[2022-05-16 16:59] scfwilson commented on #29167
I've made changes on my profile so you can now see it. Thank you.

[2022-05-16 18:22] dvv47 commented on #29167
Patch file - https://drive.google.com/file/d/1-6VnBZzZMr7ocsUy6y5EW2d_e_gm3eM2/view?usp=sharing

[2022-05-16 22:37] veblush opened #29703 "gRPC static variables"
### Is your feature request related to a problem? Please describe.

gRPC objects are not safe to be used in static variables.

### Describe the solution you'd like

It should work.

### Describe alternatives you've considered

From the [repro](https://gist.github.com/coryan/17deb8fa31bdae76d177057cb1278757) which defines gRPC objects indirectly in a static variable, I can see the crash like this

[2022-05-16 22:50] GuanLuo commented on #28513
Is there any update on the issue?

[2022-05-16 23:13] drfloob opened #29704 "CI failure: C# Basic Tests Windows, "An attempt was made to load a program with an incorrect format.""
https://source.cloud.google.com/results/invocations/a727b62c-d65e-46de-9a2f-f3b327f1e49f/targets

I saw this repeatedly today.

[code]

[2022-05-16 23:16] drfloob commented on #29704
Will be handled elsewhere.

[2022-05-16 23:16] #29704 closed

[2022-05-17 02:44] NivedhaSenthil opened #29706 "Regression with grpc 1.46.2 for unimplemented error"
### What version of gRPC and what language are you using?
gRPC 1.46.2
ruby 3.0.3

### What operating system (Linux, Windows,...) and version?
Linux and Mac

### What did you do?
Ran a test for pubsub client library that check for Error message `UnimplementedError` when a wrong domain is given.

### What did you expect to see?
Expected the test to run fine and assert on the `UnimplementedError`

##

[2022-05-17 05:40] eliminyro commented on #29643
Thanks for getting back to me, Richard.

Could you let me know, how can I check if the library uses the security channel?
Additionally, did grpcio version 1.44.0 require it as well or is it a new feature?
The version of grpcio is the only thing that changed in my setup. I used python-etcd3 version 0.12.0 in both instances (with 1.44.0 and 1.45.0+).

[2022-05-17 10:14] Loschcode commented on #29027
Hey guys, is this ongoing?

[2022-05-17 12:54] Schramp commented on #28524
Just to know I still check once in a while

[2022-05-17 14:02] jtattermusch commented on #29331
This bug is for gRPC C# 2.41.0 and so it's based on C-core from the v1.41.x release branch and has boringssl embedded. So I think it's clear that the client does support ALPN. Whether the Zscaler proxy does really support ALPN or not (or if there's some other problem with Zscaler) I'm not sure. Can you tell us under which circumstances C-core would report the "missing selected ALPN property" error

[2022-05-17 15:58] aateeque commented on #29672
Weirdly I am getting this error in a net6.0 project; I've got:

csproj:
[code]

global.json:
[code]

[code]

Adding a `<NoWarn>8981</NoWarn>` gets rid of it; but I wanted to flag that this is happening in net6.0 (which I don't get why! don't even have net7-previews installed on my machine as you can see)

[2022-05-17 16:26] gnossen commented on #29643
No, this should always have been a requirement. [`grpc.insecure_channel`](https://grpc.github.io/grpc/python/grpc.html#grpc.insecure_channel) will create an insecure channel and [`grpc.secure_channel`](https://grpc.github.io/grpc/python/grpc.html#grpc.secure_channel) will create a secure channel. You'll want to check to see which of these two functions is being used.

If `secure_channel` is indeed

[2022-05-17 18:48] drfloob commented on #29696
Are you running an unmodified version of the greeter example? Without seeing the application code that generates this crash, it's tough to determine if this is a gRPC bug or not.

[2022-05-17 19:35] veblush commented on #29695
Would you try the steps [here](https://grpc.io/docs/languages/cpp/quickstart/)? and please let us know the exact command you ran if this doesn't solve your problem.

[2022-05-17 19:36] veblush commented on #29651
Would you share the exact steps you ran with us?

[2022-05-17 19:38] veblush commented on #29570
Would you share the minimal repro with us?

[2022-05-17 19:44] yashykt commented on #29576
Sorry, that is not something we support right now. The HTTP2 wire protocol does not support that out of the box. As an alternative, you could add it as a binary metadata in trailing metadata.

[2022-05-17 19:45] #29576 closed

[2022-05-17 19:49] yashykt commented on #29185
From @nicolasnoble, this might be an ordering problem during shutdown where the ReclaimerQueue gets destroyed before it should.

[2022-05-17 19:52] kloczek commented on #29651
- download source tar ball https://github.com/grpc/grpc/archive/refs/tags/v1.46.2.tar.gz
- unpack
- start cmake with (fragment of my spec file)
[code]
- start build

BTW it would be way better instead use some `gRPC_INSTALL_<foo>` params variables provided by standard GNUInstallDirs https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html. This would allow dramatically reduce amount of cmake

[2022-05-17 22:00] JamesNK commented on #29672
That's odd. Do you get warnings when building in VS only? Are you using a preview?

The warning is part of C# 11, which perhaps you're using because of `<LangVersion>latest</LangVersion>`, but I don't understand how C# 11 is available without a new SDK. Changing it to `<LangVersion>10</LangVersion>` might fix it.

[2022-05-17 23:17] markdroth commented on #20049
Reassigning to AJ to look at this as part of the EventEngine migration.

[2022-05-17 23:35] AlexJMohr commented on #29586
@lidizheng I gave gevent a try and it also crashes with assertion failed in the same way. I updated the repro example here: https://github.com/AlexJMohr/grpc-sigsegv

[2022-05-18 00:20] lsh235 commented on #29696
Yes, I'm using an unmodified code.
I used the code in "examples/cpp/helloworld" as instructed here in "https://grpc.io/docs/languages/cpp/quickstart/".

I will let you know if I need to let you know more information.
It's my first time asking a question on git hub, so please understand if I'm clumsy.
I hope you have a nice day.

[2022-05-18 00:22] lsh235 commented on #29696
I pressed the wrong thing.

[2022-05-18 00:23] lsh235 commented on #29696
I pressed the wrong thing.

[2022-05-18 01:47] JasonkayZK commented on #29695
I tried install abseil manually, and problem solved. Thanks! ❤️

[2022-05-18 01:47] #29695 closed

[2022-05-18 07:55] Litchilitchy opened #29718 "Python gRPC client could not connect to server with a proxy through gateway"
### What version of gRPC and what language are you using?
grpcio 1.44.0 installed by pip

### What operating system (Linux, Windows,...) and version?
Linux, kernal 5.16

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6

### What did you do?
I start a gRPC server by `add_insecure_port('[::]:8980')` and use gRPC client with `grpc.insecure_channel("localhos

[2022-05-18 15:50] amanand commented on #29576
![Screen Shot 2022-05-18 at 11 12 05 AM](https://user-images.githubusercontent.com/9928244/169075824-ed7529e3-d244-43b5-9260-acac599d0117.png)
Thanks Yash for the information. I need to insert the status details as i had mentioned earlier, so if we can do it by inserting trailing metadata, that should be fine as well. I have couple of questions on how to implement it:
1. what should be the key for

[2022-05-18 18:41] declark1 commented on #28747
Any update on this? I'm pretty sure this is what is causing memory leak issues for us as well.

[2022-05-18 18:49] yashykt commented on #29576
Yes, it won't be available as part of the status, but as part of the trailing metadata. The key name should have a "-bin" suffix.

AddTrailingMetadata("status-details-bin", "-bin"+ ModifyRpcErrorDetails.SerializeAsString());

The suffix would be part of the key and not the value.

Refer https://github.com/grpc/grpc/blob/4976933e6b09706ccc542b7c9c7221cd6c50bd32/include/grpcpp/impl/codegen/server_co

[2022-05-18 19:15] yashykt commented on #29142
Your atomics usage is wrong. I replaced the weak atomic semantics with stronger load and store semantics, and the data race went away.

Overall, it is illegal to Set an alarm again before the previous trigger completes. Once the tag returns successfully, we can trigger it again.

[2022-05-18 19:15] #29142 closed

[2022-05-18 19:36] rburns1293 commented on #23390
[code]

I tried starting up and shutting down servers repeatedly but couldn't recreate the issue on ```2.29.0``` or ```2.30.0```.  This is for ```netcoreapp3.1``` and ```.net48``` on windows 10.  @mgravell I know it's been a while but do you still have a copy of your repo to verify you still see the issue? Apart from something wrong in my test, I wonder if a windows update might have resolved this

[2022-05-19 00:20] AmSoMad commented on #19126
Is this issue still going on?

[2022-05-19 00:33] yashykt commented on #9884
done in https://github.com/grpc/grpc/pull/28668

[2022-05-19 00:33] #9884 closed

[2022-05-19 00:36] yashykt commented on #28330
Closing since there hasn't been a response from the user.

[2022-05-19 00:36] #28330 closed

[2022-05-19 00:38] #28834 closed, assigned to ZhenLian

[2022-05-19 00:58] daixiang0 commented on #28330
Sorry for slow reply, I will try, thanks!

[2022-05-19 02:19] OverCookkk opened #29729 "build grpc third_party boringssl-with-bazel error?"
Compiling third_party/boringssl-with-bazel/err_data.c   has a error

third_party/boringssl-with-bazel/err_data.c:22: error: expected ‘)’ before ‘==’ token

err_data.c  code as below
#define OPENSSL_STATIC_ASSERT(cond, msg) static_assert(cond, msg)
OPENSSL_STATIC_ASSERT(ERR_LIB_NONE == 1, "library value changed");
OPENSSL_STATIC_ASSERT(ERR_LIB_SYS == 2, "library value changed");

my compiler versio

[2022-05-19 05:26] zs-dima commented on #19126
+1

[2022-05-19 06:25] hterik commented on #25801
Android has a similar requirement and patch, seem like it is based on the Chrome OS patch.
https://android.googlesource.com/platform/external/grpc-grpc/+/a0d43cf1a94bc5443ee8ee2499490f6af4da6272

[2022-05-19 07:51] #29672 closed

[2022-05-19 09:12] AMontagu commented on #29561
Happen again between two day ago and now.

Here is the log with the new trace (12,8MB)
https://we.tl/t-HekvUMMp1V

When I send new stream 0 logs are printed so the stream is closed but I do not know where to look in this logs to see when or why the stream close.

I just had the go to disable the listing service of the µservice that use the stream to avoid polluting log with tester request instead

[2022-05-19 12:44] chenhengqi commented on #5649
@ctiller  Hello, is there any updates on the docs ?

I have one minor question: Can grpc::Channel be shared between multiple threads in C++ ?
[code]

[2022-05-19 13:05] benfranklin79 commented on #29331
@ZhenLian you have any thoughts on this?

[2022-05-19 14:57] ctiller commented on #5649
It's safe to share a channel between multiple stubs on multiple threads, yes.

[2022-05-19 17:02] aateeque commented on #29672
@JamesNK nope - `<LangVersion>10.0</LangVersion>` did not fix it; I got around it with a `<NoWarn>8981</NoWarn>` though

However quite curious how c#11 feature is causing break on a machine without 11 or net7? Where's a better place to open this issue? Happy to help bottom this out

[2022-05-19 17:06] aateeque commented on #29672
Is it weirdly possible that this is shipped with Visual Studio? I have got:

[code]

[2022-05-19 17:08] aateeque commented on #29672
Actually ignore that; just tried running a `dotnet build` on the sln & it fails similarly with:

[code]

[2022-05-19 19:19] kloczek commented on #29651
Gentle ping .. 😃  Is it anything else what I can do to help fix that?
Was it possible to reproduce that? 🤔

[2022-05-19 19:31] aaron-michaux opened #29737 "Cannot use cmake to build Release"
### What version of gRPC and what language are you using?
Tried both
TAG=v1.45.2
TAG=v1.39.1

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.4.0
cmake version 3.23.1

### What did you do?

[code]

### What did you expect to see?

cmake should finish

### What did you see instea

[2022-05-20 01:27] chenhengqi commented on #5649
Thanks.

[2022-05-20 09:51] oakad commented on #29667
I have rearranged the initialisation flow as following - I think it makes more sense in cases where are no root certs readily available anywhere on the system and custom verifier will be present.

[code]

[2022-05-20 13:55] botsman commented on #29586
I started to encounter similar problem.
I noticed that it was working fine with grpcio==1.44.0, but the errors started to appear at least on 1.46.1

I am using python 3.10 with gunicorn and uvicorn workers.

Unfortunately, I can not provide a reproducible example, because in my case the error appear from time to time.

[2022-05-20 14:55] amanand commented on #29576
@yashykt  thanks for the prompt response. Much appreciated.

[2022-05-20 16:26] lidizheng commented on #29586
@AlexJMohr @botsman Hi, I think you might encountered the same issue related to forking. To learn more about gRPC's fork-support, see [doc](https://github.com/grpc/grpc/blob/master/doc/fork_support.md). Gunicorn forks the worker processes, and if the application creates gRPC objects at global scope, there is a chance of triggering it. Solutions:

1. Defer the gRPC objects' creation till the fork i

[2022-05-20 22:42] veblush opened #29753 "Removing Visual Studio 2015"
Per new C++ support policy, Support for Visual Studio 2015 is going to be dropped. So let's remove it.

[2022-05-20 22:42] veblush commented on #29753
@jtattermusch Jan, would you update Windows RBE to use Visual Studio 2017?

[2022-05-21 02:09] tomvetere commented on #27654
@noiseless I'm having the exact same error message when trying to build something else. I did install the abseil-cpp port but this didn't resolve the issue. Would I need to do anything else? Sorry for my lack of knowledge.

[2022-05-21 03:59] JoshYuJump commented on #25082
Same issue here

[2022-05-22 15:52] danielleiszen opened #29761 "Grpc.Tools handles paths differently than other protoc generators"
This is a followup of [this issue](https://github.com/dotnet/aspnetcore/issues/17059). The C# specific details can be found there.

Environment

OS: Windows 11
IDE: Visual Studio 2020 (64 bit) 17.2.1

Generators:
libprotoc 3.19.4
Grpc.Tools 2.45.0

Problem

When a .proto file is compiled, Grpc.Tools requires the import paths to be relative to the project root folder. If the .proto file is in a fol

[2022-05-23 07:00] yonatanbk commented on #20833
I an having the exact same issue

[2022-05-23 10:35] LiChengZiMu commented on #26437
I encounter the same problem,  do you solve it? Thanks

[2022-05-23 12:13] jtattermusch commented on #25313
Given that the original reporter has migrated their workload to `grpc-dotnet` (which is now the recommended implementation to use anyway) and that has resolved the issue, it is unlikely we'd make more progress here, since the issue may be specific to the original reporter's workload params (which seem to be quite extreme, e.g. > 30K open streaming RPCs per server), so I'm going to close this issue

[2022-05-23 12:25] AMontagu commented on #29561
I have a repetitive behavior. The last working read is at 2 am on the morning. I am going to follow what happen at this time.

I also have some error log that are more present after this last read (the `Failed call creation:` part)

I looked in old log and it seem to be the root issue:
[code]

[2022-05-23 12:44] jtattermusch commented on #22110
@rburns1293  is seems that using a pair of test credentials for self-signed cert would be sufficient here.
E.g. you can use the test credentials from here:
https://github.com/grpc/grpc/blob/53d69cc581c5b7305708587f4f1939278477c28a/src/csharp/Grpc.IntegrationTesting/TestCredentials.cs#L63
and here
https://github.com/grpc/grpc/blob/53d69cc581c5b7305708587f4f1939278477c28a/src/csharp/Grpc.Integration

[2022-05-23 15:25] markdroth commented on #26437
Transparent retries were implemented in gRPC 1.45, so if the RPC is retriable, that should happen automatically if you upgrade to that version.

[2022-05-23 16:55] AMontagu commented on #29561
I was able to reproduce this bug. I will work on it next week. Great chance it's a deadlock issue. Will Close this issue after I validated it has nothing to do with grpc itself.

[2022-05-23 20:56] gnossen commented on #29650
It looks like this capability was added in [protobuf `3.20.0`](https://github.com/protocolbuffers/protobuf/releases/tag/v3.20.0), which we have not yet pulled into a released gRPC version. We're currently working through some incompatibilities with this version. It should be included in either `1.47.0` within the next couple of weeks. If not, it will make it into the following release.

[2022-05-23 20:57] gnossen commented on #29650
In the meantime, you can directly download the `protoc` binary from the protobuf release indicated to separately generate your `pyi` files.

[2022-05-23 22:30] veblush commented on #18365
Recreating a channel every time is not recommended in general. It may cache established connections internally so it could explain why fd seems to keep increasing. So please reuse the channel if possible. If you think it's still relevant, please feel free to reopen this.

[2022-05-23 22:30] #18365 closed

[2022-05-23 22:32] #20034 closed

[2022-05-23 22:34] veblush commented on #21282
@jtattermusch Jan, is this still relevant? Is it happening on the gRPC CI?

[2022-05-23 22:35] #22479 closed

[2022-05-23 22:36] veblush commented on #22510
gRPC recently removed the epollex while making epoll1 a default poller on Linux so I think this indirectly solved this issue. Please feel free to reopen this if required.

[2022-05-23 22:36] #22510 closed

[2022-05-23 22:37] veblush commented on #22726
Closing (obsolete)

[2022-05-23 22:37] #22726 closed

[2022-05-23 22:41] veblush commented on #22783
I suspect that this is because ClientContext is not initialized yet so I need a small repro or your code snippet around ClientContext initialization.

[2022-05-23 22:42] veblush commented on #22805
Yesh it seems to be a duplicate of https://github.com/grpc/grpc/issues/22479.

[2022-05-23 22:42] #22805 closed

[2022-05-23 22:46] veblush commented on #23204
@ctiller Craig, are you looking at this issue? It's a bit late but we need to fix either way; changing the document or not owning the given callback.

[2022-05-23 22:49] veblush commented on #23231
I don't think gRPC behaves differently based on the proto messages. Serialization & Deserialization are done by protobuf so I guess this is more likely protobuf doing differently depending on the protobuf definition.

[2022-05-23 22:49] #23231 closed

[2022-05-23 22:49] #23454 closed

[2022-05-23 23:00] veblush commented on #23546
I don't think there is something gRPC team can do for this. Please reopen this or make PR.

[2022-05-23 23:00] #23546 closed

[2022-05-23 23:04] veblush commented on #23647
From the error message, it looks like abseil has an issue on that platform. Would you file a bug on https://github.com/abseil/abseil-cpp instead?

[2022-05-23 23:04] #23647 closed

[2022-05-23 23:05] veblush commented on #23701
Closing (obsolete)

[2022-05-23 23:05] #23701 closed

[2022-05-23 23:05] veblush commented on #23708
Closing (obsolete)

[2022-05-23 23:05] #23708 closed

[2022-05-23 23:07] veblush commented on #23640
This isn't reproducible. I tried to verify this on v1.46.x branch by running

$ bazel run --config asan examples/cpp/helloworld:greeter_server
$ bazel run --config asan examples/cpp/helloworld:greeter_server

and it just ran without asan warnings. So it's could be either fixed or a false alarm of ASAN.

[2022-05-23 23:07] #23640 closed

[2022-05-23 23:07] #28874 closed

[2022-05-23 23:08] #23920 closed

[2022-05-23 23:09] veblush commented on #24146
Closing (obsolete)

[2022-05-23 23:09] #24146 closed

[2022-05-23 23:10] #24412 closed

[2022-05-23 23:12] veblush commented on #24476
This was fixed so closing this.

[2022-05-23 23:12] #24476 closed

[2022-05-23 23:12] veblush commented on #24537
Closing (obsolete)

[2022-05-23 23:12] #24537 closed

[2022-05-23 23:15] veblush commented on #24660
Would you give us all command you ran when encountering this problem because we cannot reproduce this problem on MacOS. I'm closing this issue first but please feel free to reopen it if required.

[2022-05-23 23:15] #24660 closed

[2022-05-23 23:15] veblush commented on #24747
Closing (obsolete)

[2022-05-23 23:15] #24747 closed

[2022-05-23 23:17] veblush commented on #24759
I'm closing this but please feel free to reopen it if required. If you think there is something gRPC needs, give us a small repro and memory footprint you measured as you increased the number of threads.

[2022-05-23 23:17] #24759 closed

[2022-05-23 23:17] #24804 closed

[2022-05-23 23:18] #24844 closed

[2022-05-23 23:18] #25035 closed

[2022-05-23 23:19] veblush commented on #25160
Would you provide a small repro?

[2022-05-23 23:23] veblush commented on #25596
I think this may be fixed because most of warnings came from upb which has been upgraded since then.

[2022-05-23 23:23] #25596 closed

[2022-05-23 23:24] veblush commented on #25635
Could you make a PR?

[2022-05-23 23:25] #25952 closed

[2022-05-23 23:35] veblush opened #29767 "Plugable Compression"
Currently gRPC C++ supports built-in compression algorithms. As more compelling algorithms to come, gRPC needs to accommodate those but it's not a good idea to add those to builtin one because it will increase footprints and dependency. Rather, we can devise a pluggable compression system so that users can register their own ones in advance. This is already available on gRPC Java and Go so we can

[2022-05-23 23:36] veblush commented on #28836
Closing in favor of https://github.com/grpc/grpc/issues/29767.

[2022-05-23 23:36] #28836 closed

[2022-05-23 23:40] veblush commented on #28674
You may want to file the bug since it's coming from https://github.com/protocolbuffers/upb but you need to use gcc 5 or later (as of today 6 or later) since we dropped gcc 4.x support.

[2022-05-23 23:40] #28674 closed

[2022-05-23 23:41] veblush commented on #28382
@[zhenlian](https://github.com/zhenlian) Would you take a look at this?

[2022-05-23 23:42] veblush commented on #28379
Would you give us a small repro so that we can take a look at this?

[2022-05-23 23:45] veblush commented on #28150
This could be caused by the listening port occupied by the application which just exited. Would you try to run `examples/cpp/helloworld` example to see this is reproducible with this simple example?

[2022-05-23 23:47] veblush commented on #28037
@HuaxinTang Please proceed with creating a PR.

[2022-05-23 23:47] veblush commented on #28022
Closing (obsolete)

[2022-05-23 23:47] #28022 closed

[2022-05-23 23:48] #27469 closed

[2022-05-23 23:54] veblush commented on #27062
Jan, is this still the case?

[2022-05-23 23:54] #27034 closed

[2022-05-23 23:56] veblush commented on #26417
Closing (obsolete)

[2022-05-23 23:56] #26417 closed

[2022-05-23 23:56] #26163 closed

[2022-05-23 23:58] veblush commented on #26151
Closing this because it's not safe to create gRPC objects before main.

[2022-05-23 23:58] #26151 closed

[2022-05-23 23:59] veblush commented on #26045
@soumik0108 Do you still need this?

[2022-05-24 00:35] drfloob commented on #28755
Quick update: there's no consensus yet on the best API to use for this, and the low-level I/O code is still expected to change in 2022, so any low-level modifications there would be temporary. If anyone wants to dig in and solve this regardless, I think we'd welcome the contribution, but the team has fairly limit resources to help out.

[2022-05-24 02:11] district10 commented on #23647
I have a abseil-cpp patch for building on QNX: https://gist.github.com/district10/9937754bdcdd5321a56430f491088de9

[2022-05-24 07:03] jtattermusch commented on #29753
Sure, I'll look into that.

[2022-05-24 07:08] jtattermusch commented on #29753
FTR, the windows RBE docker image setup is here:
https://github.com/grpc/grpc/tree/master/third_party/toolchains

The docker file is here:
https://github.com/grpc/grpc/blob/master/third_party/toolchains/rbe_win2019/Dockerfile

We'd want to upgrade it with newer version of visual studio, but likely also a new version of python (right now it has python2.7), and perhaps other stuff.

CC @nicolasnoble

[2022-05-24 07:36] elftech commented on #29767
Awesome! Looking forward to this feature.

I have personally added some new compression algorithms to my local  grpc repository  successfully before.  But the developing process turned to be, unexpectedly, a bit of annoying due to  grpc's split of raw source data,  which may take more handling when the streaming compression interface is not friendly enough.

Moreover, would you add more default su

[2022-05-24 07:44] tonydnewell commented on #24545
This isn't a gRPC issue. There is a bug in the way the example to reproduce the problem starts child processes.
When redirecting stdout or stderr, StartInfo must have UseShellExecute=false.
See https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.redirectstandardoutput?view=netcore-3.1
When this is set correctly then the example runs without a problem.

[2022-05-24 07:53] jtattermusch commented on #24545
@tonydnewell  thanks for the investigation.
I'm going to close this now since this isn't a bug in gRPC.

Out of interest: IIUC the doc says *You must set [UseShellExecute](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.useshellexecute?view=netcore-3.1) to false if you want to set [RedirectStandardOutput](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostic

[2022-05-24 07:53] #24545 closed

[2022-05-24 08:04] tonydnewell commented on #24545
The example starts 10 child processes in the server all with redirects.  My investigation showed that the number of child processes made a difference: 5 or less no delay, > 5 then each one added about 1 second to the delay.  As exceptions were being swallowed/ignored by the example and the processes weren't being started correctly I didn't investigate further - possibly some internal .NET exceptio

[2022-05-24 09:26] rainerschoe commented on #18365
Hi @veblush
Thanks for your input, We are well aware that recreating channels is not performant, however we are doing it at low frequencies as a "watchdog" to self-test the server. i.e. to test if new gRPC connections can still be established.

Right now we are observing sporadic FD-leaks with this "watchdog" enabled. I am still working on isolating the problem in our application to verify if this

[2022-05-24 10:59] luxuguang-leo opened #29769 "grpc/examples/android/helloworld build failed on macOS 12.1"
### What version of gRPC and what language are you using?
v1.46.3 android NDK C++

### What operating system (Linux, Windows,...) and version?
macOS 12.1

### What runtime / compiler are you using (e.g. python version or version of gcc)

cmake version 3.20.3

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/P

[2022-05-24 11:00] luxuguang-leo commented on #29769
I have check but no clue for this issue :(

[2022-05-24 11:15] jtattermusch commented on #21282
Based on the historical data, there don't seem to be anys failure in the last 100 days.

[2022-05-24 11:15] #21282 closed

[2022-05-24 18:09] lidizheng commented on #29487
This is tracked internally as b/230080881. @apolcyn fixed it via https://github.com/grpc/grpc/pull/28666 and https://github.com/grpc/grpc/pull/29304.

[2022-05-24 18:09] #29487 closed

[2022-05-24 19:57] yashykt commented on #29729
From @veblush - We've got continuous integration tests running with gcc 6.3. Please provide more information about the environment/commands used.

[2022-05-24 19:58] yashykt commented on #29667
@ZhenLian ping

[2022-05-24 22:34] nicolasnoble commented on #29737
The error snippet you're showing is a red herring, it's just showing that one of the things cmake was trying to check for wasn't present, which is irrelevant. The actual problem is with the combination of options you're asking to build with.

Here, building with

`-DgRPC_BUILD_TESTS=OFF -DgRPC_INSTALL=ON -DCMAKE_BUILD_TYPE=Release`

works properly on an ubuntu 20.04 docker image with only the pack

[2022-05-24 22:34] #29737 closed

[2022-05-24 22:55] aaron-michaux commented on #29737
Just needed to add `-DgRPC_BUILD_TESTS=OFF` to build in release mode. May be worth editing the cmakelists to catch that, and/or updating the documentation.

[2022-05-25 07:20] libratiger commented on #19126
I just wonder what is the main tech challenge to for this feature in the core gRPC?

[2022-05-25 09:17] andrekoehler commented on #25636
Thanks for your effort. My use case was not to bind to the same port multiple times but only to detect if the port is already in use. We use a hard-coded port by default and if this does not work (because on some machines Windows blocks it with svchost) we use a random available port and communicate it to the clients in the local network via DNS-SD.

[2022-05-25 14:09] #25636 closed

[2022-05-25 14:23] larspaulsen commented on #19126
I see Cronet already supports QUIC but I am not familiar with what else perhaps is missing.

@ejona86 Are you or would you be able to point to someone who can provide an overview of the architectural changes needed for Core gRPC to support HTTP/3. This is so all the deriving language implementations can provide wrappers for the core implementation and do not need to create their own implementation

[2022-05-25 14:25] waxxmaster commented on #29675
Any news on this ? Any way to prevent this kind of error ?

[2022-05-25 16:16] veblush opened #29782 "Address_sorting_test fails on MacOS/Monterey"
After migrating to new Monterey MacOS test infra, `//test/cpp/naming:address_sorting_test` started failing with `TestUsesDestinationWithHigherPrecedenceWithV4CompatAndLocalhostAddress` and `TestStableSortV4CompatAndSiteLocalAddresses`. The error message is

[code]

You can find the full log [here](https://source.cloud.google.com/results/invocations/cb0d5af6-6ae7-493d-97e0-21808e4ff7d8/targets).

[2022-05-25 21:02] ejona86 commented on #19126
Are you actively interested in contributing the work? Most of the problem is actually doing the work and maintaining it. I don't think there's much necessary from an architectural perspective, at least at this point.

Not true for Java, Go, .Net, Node.JS. The wrapper languages probably benefit little from QUIC because performance gains are probably in the noise: Python, Ruby, PHP. Obj C could bene

[2022-05-26 08:08] luxuguang-leo commented on #29769
I have the same issue on Debian environment( 4.19.117.bsk.2-amd64 #dirty SMP Debian 4.19.117.bsk.2-15-g3f4a1a35c98b-dirty Mon Jul  x86_64 GNU/Linux)
[code]

[2022-05-26 08:27] luxuguang-leo commented on #29769
@veblush Could you help to take some time to look at this issue?

[2022-05-26 10:23] tamerkadan1988 commented on #28387
am having the same issue over here :
https://github.com/googleapis/python-bigquery/issues/1262

[2022-05-26 16:29] lidizheng commented on #29671
@ysk24ok Thanks for reporting this. Based on the implementation between sync stack and asyncio stack, we did find that the definition the return value -- "A bool indicates if the operation times out" is contradictory. The sync stack's `True` represents a time-out being fired makes more sense. Fix filed as #29795.

[2022-05-26 17:00] lidizheng opened #29796 "[Aio] Add test cases for process exit scnarios"
Related https://github.com/grpc/grpc/issues/29560. In current AsyncIO API tests, we lack the ability to detect hangs during the process exit phase. This issue tracks the progress of implementing such mechanism.

[2022-05-26 17:08] lidizheng commented on #29560
@marcosatti Strangely, we have a unit test similar to this one https://github.com/grpc/grpc/blob/master/src/python/grpcio_tests/tests_aio/unit/channel_ready_test.py#L62. It seems this is not a issue of "AsyncIO", because there is no pending tasks (here is the only pending task):

[code]

Thanks for the resolution, it helps me to locate the problem is actually the missing of channel close. Fix post

[2022-05-26 18:25] gnossen commented on #29718
@yashykt Can you please take a look?

[2022-05-26 19:02] lidizheng commented on #29682
The same issue is reported on StackOverflow: https://stackoverflow.com/questions/72230151/how-to-open-a-secure-channel-in-python-grpc-client-without-a-client-ssl-certific

There are a few decent answers there, I will close this issue for now. If there are still unanswered parts, feel free to comment or reopen.

CC @gnossen

[2022-05-26 19:02] #29682 closed

[2022-05-26 19:04] #23028 closed

[2022-05-26 19:04] #23263 closed

[2022-05-26 19:06] #15243 closed

[2022-05-26 19:07] #19158 closed

[2022-05-26 19:07] #19734 closed

[2022-05-26 19:09] #19881 closed

[2022-05-26 19:09] lidizheng commented on #20479
Merge with https://github.com/grpc/grpc/issues/29041

[2022-05-26 19:09] #20479 closed

[2022-05-26 19:11] #21431 closed

[2022-05-26 19:11] #21673 closed

[2022-05-26 19:12] lidizheng commented on #21673
UDS socket support is working for gRPC Python. We have an example demonstrates how to use UDS with gRPC Python: https://github.com/grpc/grpc/tree/master/examples/python/uds

[2022-05-26 19:13] lidizheng commented on #22382
This is fixed.

[2022-05-26 19:13] #22382 closed

[2022-05-26 19:13] #22824 closed

[2022-05-26 19:19] lidizheng commented on #28613
We will need a reproduce snippet to work on this issue, closing the issue for now. If there are more updates, feel free to reopen.

[2022-05-26 19:19] #28613 closed

[2022-05-26 19:21] lidizheng commented on #17515
Haven't seen this issue in a long time. Closing.

[2022-05-26 19:21] #17515 closed

[2022-05-26 19:23] lidizheng commented on #20078
Haven't seen this issue in a long time, closing.

[2022-05-26 19:23] #20078 closed

[2022-05-26 19:23] #20132 closed

[2022-05-26 19:24] #21015 closed

[2022-05-26 19:24] #22180 closed

[2022-05-26 19:25] #22199 closed

[2022-05-26 19:25] #22244 closed

[2022-05-26 19:26] lidizheng commented on #22399
Haven't seen this in a long time. Closing. Might be fixed by https://github.com/grpc/grpc/pull/23007.

[2022-05-26 19:26] #22399 closed

[2022-05-26 23:27] ZhenLian commented on #28934
Thanks for bringing up the issue!
I overall agree it could be better if we support such features in gRPC, but this is not controlled by us: gRPC simply reads the PEM file in string and pass it to the OpenSSL library. I am not sure if OpenSSL supports this though; if not, this is probably going to be a request to the OpenSSL community; if it does, then we can add that support to gRPC as well.

[2022-05-26 23:40] ZhenLian commented on #29331
ALPN is a mechanism for client and server to agree upon a right transport protocol. The reason why we need ALPN is that different clients want different protocols(HTTP vs. HTTP2), and different servers may support different protocols. So the client will embed an ALPN info in the extension of ClientHello info, and the server will choose one and return the current protocol in the ServerHello info.
T

[2022-05-26 23:54] ZhenLian commented on #28382
Yeah, IIRC, the API for TLS version selection was exposed to core, but no added for C++. We can definitely add it to the current Tls*Credentials API.
The reason why https://github.com/grpc/proposal/pull/205 hasn't been merged was that we want to first make it stable and remove the "experimental" tag. That is also associated with some other ongoing internal work, so it takes time. I will probably f

[2022-05-27 01:13] ZhenLian commented on #29667
Thanks for bringing up the issue. Please see my comments below.

Yes, I agree this can be improved with the current API, and someone raised a similar concern in an internal platform. We can definitely change the API to not require a fake root certs if "set_verify_server_certs" is false. Currently gRPC security team doesn't have bandwidth to work on this, but let's keep this open until this can be

[2022-05-27 01:14] ZhenLian commented on #29667
For the code diff change, would you mind turning into a PR? It's a bit hard to follow right now...

[2022-05-27 01:33] oakad commented on #28934
I do believe OpenSSL can do just fine with plain DER. It simply requires skipping the various `i2d_*` steps, which is a good thing.

All the native platform APIs (be it OSX, Windows or Android Java) require plain DER as input (this is related to the other issue of platform specific verification).

[2022-05-27 01:49] oakad commented on #29667
I will turn it into PR - my patch fixes the "set_verify_server_certs is false" issue as it is.

The more general issue is indeed security. I'm coming from the position, that certificate validation should rely on the platform mandated method of doing so. Right now, the gRPC approach of loading a pemball is only compatible with Linux and BSD, and totally incompatible with everything else (unless use

[2022-05-27 01:58] larspaulsen commented on #19126
Eric, is it possible you could accept the invitation I send you a while back through LinkedIn, so we can take a short out-of-band discussion of what you envision this work would consist of?

----------------

With reference to the following, now supposedly outdated, architectural diagram:

https://grpc.io/blog/grpc-stacks/

then if I understand your answer correctly then when Cronet added support

[2022-05-27 02:32] nqf opened #29809 "How to set the maximum number of working threads on the server?"
https://github.com/grpc/grpc/blob/master/examples/cpp/helloworld/greeter_callback_server.cc

[2022-05-27 02:52] oakad commented on #29667
Pr created as #29810

[2022-05-27 07:17] m-yukio opened #29815 "Build script for gRPC C# core-library for Apple M1"
I created a script for macOS by referring to the script for iOS.

src/csharp/experimental/build_native_ext_for_macos.sh

[code]

[2022-05-27 09:00] m-yukio opened #29817 "How to avoid Unity IL2CPP build errors on macOS"
For macOS, the linker will fail if the static library does not exist.

The following code is the problem.

[code]

Modify this as follows:

[code]

I know it's wasteful because I don't want to change the code in gRPC.Core, and even if I have a static library, I can't avoid the error.

I need to change the name specified in DllImport from __Internal to a static library name.

[code]

After all, I'l

[2022-05-27 09:00] jtattermusch commented on #29815
Thanks for sharing the script.
Since this is not a bug, I'm going to close.
Also note that grpc C# is now in maintenance mode and grpc-dotnet is now the recommended implementation to use
(and since it doesn't have native components, it would work on M1 out of the box).

[2022-05-27 09:00] #29815 closed

[2022-05-27 09:03] jtattermusch commented on #29817
I'm going to close issue this since we're not going to pursuit Unity/Xamarin support in `Grpc.Core` anymore.
- The `Grpc.Core` implementation is now in maintenance mode and we're only going to focus on critical and security fixes.
- Supporting Unity/Xamarin simply presents too much maintenance overhead and it's also difficult to test with the test infrastructure available to us
- The Unity/Xamarin

[2022-05-27 09:03] #29817 closed

[2022-05-27 11:28] jtattermusch commented on #25337
FYI @gnossen @dennycd

[2022-05-27 15:46] ejona86 opened #29818 "Support grpc-web natively cross-language"
This is a feature request to track having native support for [grpc-web](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md) in each language (so also Java and Go). There may be short-cuts available, for this. For example, IE support (using base64) may not be necessary (initially, or ever).

I don't see an existing issue for this but it has been discussed many places in passing. I'm split

[2022-05-27 17:53] #29671 closed

[2022-05-27 18:49] musicinmybrain commented on #25635
I think I wasn’t able to run `tools/buildgen/generate_projects.sh` for one reason or another when I opened this, but it looks like I’m able to now. Sure, I’ll open a PR.

[2022-05-27 20:58] octaviansima opened #29828 "Segmentation fault when using stub created from SSL channel credentials"
### What version of gRPC and what language are you using?

C++, error found in gRPC 1.45.0 and 1.46.3.

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc/g++ version 11.1.0 (Ubuntu 11.1.0-1ubuntu1~18.04.1)

### What did you do?

I created a channel as follows, according to the tutorial:

[2022-05-27 22:03] timmotw commented on #24017
@yashykt thank you for the information. I think that there are more positives in enabling `Hijack()` rather than preventing it based on the argument:

Documentation could provide some good practices but from there on the responsibility lies with every developer who decides to go for it. As a developer can opt to write a 3000 line procedure, in the same way a developer can decide to write an entire

[2022-05-27 22:46] #29560 closed

[2022-05-29 14:27] lixin-wei opened #29836 "gRPC server keeps parsing new request even if I don't request one, causing huge memory usage."
### What version of gRPC and what language are you using?
gRPC v1.46.3, language: C++

### What operating system (Linux, Windows,...) and version?
Linux, centOS 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang11

### What did you do?

I have an async server and an async client. The server won't request any requests after starting. The client will send a lo

[2022-05-30 05:16] lixin-wei commented on #29836
@veblush Would you please have a look at this issue?

[2022-05-30 13:16] tonydnewell commented on #28153
I think the memory leak is in the use of bidirectional streaming rather than SSL credentials.
Testing with a simple non-streaming call does not show a memory leak. Also if you drain the responses (or at least attempt to) then there does not appear to be a memory leak. See the code below.

If you just do this (the original code):

[code]

then subchannels are created that are never cleaned up prope

[2022-05-30 13:44] yehormasalitin commented on #28387
Any updates on this issue?
Thank you

[2022-05-30 14:37] wojiushixiaobai commented on #24677
thk. @owlas
- [x] Loongarch64 work

[2022-05-30 16:17] AMontagu commented on #29561
Actually I thought I was reproducing the bug but in fact not. I slow down the rate of sending message in development to have better visibility on what was going on but this action messed up with my script that check is the stream is awake.
So my stream was not dead just slow to send the message because the queue was not empty.

Another message next week or before maybe.

[2022-05-30 16:25] pietrodn commented on #28387
This is a breaking issue for paying Google Cloud customers, and I guess many more developers using the libraries that depend on gRPC. It prevents developers working on Apple Silicon machines to install their dependencies correctly and get a working development environment.

An immediate action to alleviate the pain would be to "yank" the corrupted M1 wheel on PyPI, and avoid uploading it in future

[2022-05-30 17:33] AlexJMohr commented on #29586
Tried again with those environment variables and it still crashes the gunicorn worker processes. Also crashes the Flask dev server.

[2022-05-31 02:04] lsh235 opened #29837 "windows32 version build error"
### What version of gRPC and what language are you using?
1.46.3 / win32 / c++
1.36.4 / win32 / c++

### What operating system (Linux, Windows,...) and version?
Windows10

### What runtime / compiler are you using (e.g. python version or version of gcc)
cmake 3.23.1
visual studio 2017
 - sdk 10.0.17134.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Speci

[2022-05-31 02:16] lsh235 commented on #29837
Occurs in all versions of grpc 1.36.4 and later.

[2022-05-31 12:49] rebel2019 opened #29838 "grpc stuck at epoll_wait () from /lib64/libc.so.6"
![image](https://user-images.githubusercontent.com/53045945/171176956-85c1518c-f996-4073-908c-ca1f6ad0fc46.png)

[2022-05-31 17:02] josephdrake-stahls commented on #25950
I have been tinkering with a workaround because of a separate issue (poor code coverage exclusion) where I tried to get the files to contain a ".g.cs" extension so that I can globally exclude the ".g.cs" files from code coverage.

In general, the MSBuild targets can be extended (read hacked) to correct the expected outputs:
[code]

HOWEVER a bigger problem was found.  The grpc csharp plguin does n

[2022-05-31 17:12] lidizheng commented on #29586
In this case, it means we will need to go for solution No.1, defer the gRPC object creations. You may find this example useful: https://github.com/grpc/grpc/tree/master/examples/python/multiprocessing.

For Gunicorn, it loads the module before forking, so if there are any gRPC object (client or server) created in module initialization phase, it will likely to crash during the fork. For more backgr

[2022-05-31 19:32] dconeybe opened #29843 "Intermittent crash at grpc::GrpcLibraryCodegen::GrpcLibraryCodegen(bool) in grpc_library.h:45"
### What version of gRPC and what language are you using?
1.28.0 and 1.44.0

### What operating system (Linux, Windows,...) and version?
iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode 13.3, 13.4 (possibly others)

### What did you do?
Issue is intermittent; no concrete steps to reproduce.
One of the classes in Firestore has a `grpc::CompletionQueue grp

[2022-05-31 19:53] veblush commented on #29769
Would you compare your scenario to the existing gRPC test on Android? https://github.com/grpc/grpc/blob/master/tools/internal_ci/linux/grpc_android.sh Since this has been running well, I don't know why that error came from.

[2022-05-31 19:53] yashykt commented on #29838
There isnt enough information for us to help or debug here. Please provide a repro for this.

[2022-05-31 19:53] #29838 closed

[2022-05-31 19:58] yashykt commented on #29837
Turns out we don't have CI testing for this.
@nicolasnoble will do a brief attempt, but no promises :)

[2022-05-31 21:44] davideasaf commented on #29262
While @pietrodn is 💯 % right and I can't wait to get a pre-built binary for arm64 arch -- the workaround for those looking for one:

[code]

My team and I use Poetry and I first have to create the env and manually do this command every time, however, it is a workaround that allows our Py310 interpreter to build from source and have a functioning local interpreter as expected.

Just in case it wasn

[2022-05-31 22:56] noblige commented on #28387
I'm seeing the same. Is there a solution?

[2022-05-31 23:00] genericmoniker opened #29848 "_watch_connectivity_state uses an incorrect error message"
### Is your feature request related to a problem? Please describe.

My application makes many calls via gRPC. Sometimes in my logs I see stack traces like this:

[code]
This tells me that I have a problem, but isn't very helpful in narrowing down where it is since the stack trace is entirely grpcio and standard library threading.

### Describe the solution you'd like

It would help narrow down the

[2022-05-31 23:24] gnossen commented on #29848
I agree that this error message isn't great. In fact, even the "Cannot invoke RPC" message seems to be wrong. Unless I'm mistaken, it looks like this code path is only reachable from [`Channel.subscribe`](https://grpc.github.io/grpc/python/_modules/grpc.html#Channel.subscribe). I think the error message should probably be something more like "Unable to monitor channel state: channel closed". That'

[2022-05-31 23:24] #29782 closed

[2022-06-01 03:32] lixin-wei commented on #29836
@veblush Hi! Thank you for your reply! The server's memory was increasing linearly. From 0 to 10GB in 2 minutes. And the memory dump was done at the peak time of the server before OOM.

There is only 1 client who will send 1000000 requests, but before OOM only a subset of these requests are sent.

https://github.com/lixin-wei/grpc/blob/8021abbdb6e867fe9be81c49c01fd033b3380135/examples/cpp/hellowor

[2022-06-01 05:35] ajatkj commented on #28387
@noblige [this stackoverflow answer](https://stackoverflow.com/a/39429110) might give you some insight into what's going on.

[2022-06-01 08:52] zhenomansh opened #29854 "Grpc.Core.Internal.AsyncCall<>.UnaryCall hangs (malformed call status?)"
**Ver 1.45** (1.46 code is the same)
The symptom is hanging in Grpc.Core.Internal.AsyncCall<>.**UnaryCall** on return unaryResponseTcs.Task.GetAwaiter().GetResult(); line.

The stack trace example is:

It is happening periodically, the problem how I think is in the next code in of the UnaryCall method:

[code]

Without that line, in case of HandleUnaryResponse error, unaryResponseTcs will never ge

[2022-06-01 17:03] nicolasnoble commented on #25556
@markdroth / @veblush do we want this? And if yes, we'd need a proper policy for those numbers.

[2022-06-01 17:29] hsaliak opened #29856 "Tsan error in grpc_init() / grpc_shutdown()"
### What version of gRPC and what language are you using?
grpc-1.33.2

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
C++

### What did you do?

Wrote a unit test (gtest)
[code]

Ran it the following way
[code]

### What did you expect to see?
No tsan errors

### What did you see instead?
[code]

[2022-06-01 17:57] markdroth commented on #25556
I don't have a strong opinion on this.  I'm not necessarily sure how generally useful this would be, since the only APIs where we make breaking changes are experimental APIs, and ideally most users of those APIs will just change their code as they upgrade gRPC.  But on the other hand, I can imagine there being cases where it's useful for application code to be able to build and work with multiple

[2022-06-01 19:17] yashykt commented on #29856
Hey Kailash! Yeah, the stack trace doesn't seem to match with what we have now. I'd recommend upgrading too. Also, side-nit, `grpc_init()` and `grpc_shutdown()` aren't public API :)

[2022-06-01 19:17] #29856 closed

[2022-06-02 05:33] tinsakki commented on #27506
this worked for me as well

[2022-06-02 06:04] lsh235 commented on #29837
Please. I want to use the latest version of WIN32 GRPC, but it's hard because I can't. ㅜㅜ..

[2022-06-02 06:38] shouichi opened #29864 "Support library for tests?"
### Is your feature request related to a problem? Please describe.

There's no support library for writing grpc tests (for servers and interceptors).

### Describe the solution you'd like

Adding a support library for writing tests. Specifically,

- a grpc service(s) for interceptor tests
- helper method to start server e.g., https://github.com/grpc/grpc/blob/afedfb110b34c42ac7882014e8b1f85969e90d

[2022-06-02 12:09] xiedeacc opened #29865 "how to distinguish WriteDone and AsyncNotifyWhenDone called?"
client WriteDone and AsyncNotifyWhenDone all will caused Next function returned a false ok, so how to distinguish it, pass different tags is ugly, for my process logic in a same class

[2022-06-02 13:02] tonydnewell commented on #8451
I can confirm that the socket leak can still be reproduced in the Route Guide example by breaking out of the loop in the _ListFeatures()_ method before reading all the responses from the server.

I can also confirm that explicitly cancelling the call does mean that the socket is closed correctly - **however** there still needs to be one _MoveNext()_ call after the cancellation.  Without the _MoveN

[2022-06-02 14:39] markdroth commented on #29865
You should definitely pass different tags for different completions.  That's the intended way to tell which event is completed when the completion is delivered from the completion queue.

Many operations can complete with ok=false (e.g., a read or write operation can complete with ok=false if the connection is broken), so you can't use that to tell which operation was completed.

[2022-06-02 14:39] #29865 closed

[2022-06-02 15:25] rainerschoe commented on #22955
Hi, we had quite some problems with deadlines expiring early after systemclock adjustments, when using the chrono `set_deadline` overload with `systemclock`

Now we are looking into using the workaround/hack proposed by @DamienBuhl-EH here.
A reliable and officially supported version would be great :)

Is there any news on this after all those years?

[2022-06-02 15:39] libill opened #29866 "grpc will support kotlin multiplatform mobile?"
I want to use grpc in kotlin multiplatform mobile. grpc will support kotlin multiplatform mobile?

[2022-06-02 16:59] botsman commented on #29586
I did not test proposed solutions, but pinned grpcio version for now: `grpcio==1.44.0`
Perhaps I will test those later

[2022-06-02 20:15] ZhenLian commented on #28934
I see. It looks like we are using `PEM_read_bio_X509_AUX` to read the certificates, which presumes the certs to be in PEM format. To support DER, we probably need something like `d2i_X509_bio `, as I found in https://stackoverflow.com/questions/54167785/openssl-cannot-read-der-formatted-certificate.

I agree this is a nice feature to have in gRPC, but it's probably going to take a while as the gRP

[2022-06-02 22:09] rainerschoe commented on #22955
It might be as simple as implementing a `Timepoint` specialization with an `std::steady_clock` constructor. However I am unsure how to convert `std::steady_clock` to `gpr_timespec`. Do they have same Epoch?

[2022-06-02 22:15] pprindeville opened #29881 "C++ examples doesn't describe how to recast Message derived class"
I couldn't find a way to easily file a bug against the examples for C++ so I figured I'd ask a question.

Let's say I'm subscribed to a channel that's sending me an asynchronous stream of messages (events in this case), and further assume that it can be one of many types of different messages.  None of the examples (at least not for C++) describe how to re-type an `Any` into the appropriate object

[2022-06-02 22:26] ctiller commented on #22955
The `Timepoint` specialization is all that's needed, but changes to APIs that we're gonna support forever need formal processes.
My understanding is that gpr_timespec with the monotonic clock should have the same epoch as steady_clock.

[2022-06-02 23:13] genericmoniker commented on #29848
Just knowing that the message is misleading is helpful.

The race would be that `channel.close` is called followed by `channel.subscribe` on the closed channel? I've got some locking in place intended to prevent that, but that suggests I should dig into that more deeply.

[2022-06-02 23:21] gnossen commented on #29848
Yes. I believe this is what's happening in your code. If not, then there is some other bug in the gRPC stack to track down besides this misleading error message.

For the moment, I'm going to co-opt this bug to track fixing this error message. If you have reason to believe that the error is not caused by the race I described above, please open a separate issue with more information and I will trac

[2022-06-03 01:46] xiedeacc commented on #29865
can add a function to server context to distinguish?

[2022-06-03 07:01] zhenomansh commented on #29854
@jtattermusch, @hassox, @beccasaurus, @timburks, could you please fix the issue asap? :)
It is critical in terms of nature of the bug - it hangs threads.
I already tested the fix on production, and it behaves as expected.

[2022-06-03 08:53] zhenomansh commented on #29854
The causing the exception message:

Inner exception: Grpc.Core.RpcException: Status(StatusCode="Unknown", Detail="???????????????", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1654243388.286000000","description":"Error received from peer ipv4:10.50.231.12:951","file":"..\..\..\src\core\lib\surface\call.cc","file_line":906,"grpc_message":"Stream removed","grpc_status":

[2022-06-03 14:19] revanthvs5 opened #29892 "which version grpc will be compatible with protobuf 3.19.4"
Please share the latest version compatibility for grpc and protobuf.

Already installed protobuf: 3.19.4 for server language go

For client side installed:
grpc: 1.30.0
client language: php
OS: Ubuntu 18.04

Tried with multiple version(grpc and php package version) but no luck
List:
1.42.0
1.38.0

Getting below error:
Class 'Grpc\ChannelCredentials' not found

Tried \Grpc\ChannelCredentials also,

[2022-06-03 20:37] lidizheng commented on #23290
Closing the bug for now. The fixes were in, and we improved the close logic of channel in recent releases. Feel free to reopen if the issue still exist for latest releases.

[2022-06-03 20:37] #23290 closed

[2022-06-03 20:39] #23384 closed

[2022-06-03 20:39] #23459 closed

[2022-06-03 20:40] #23513 closed

[2022-06-03 20:41] #23584 closed

[2022-06-03 20:41] #23605 closed

[2022-06-03 20:43] #23934 closed

[2022-06-03 20:43] #23946 closed

[2022-06-03 20:54] #24204 closed

[2022-06-03 20:56] #24260 closed

[2022-06-03 20:56] #24290 closed

[2022-06-03 20:56] #24596 closed

[2022-06-03 20:56] #24753 closed

[2022-06-03 20:57] #25005 closed

[2022-06-03 20:58] #25112 closed

[2022-06-03 20:58] #25124 closed

[2022-06-03 21:02] lidizheng commented on #25275
@bankbiz

For new issues, please consider open a new GitHub Issue for better track-ability. The network setting highly depends on your use case. In general, to load-balance gRPC traffic in a production environment, you will need to use more powerful mechanisms than SO_REUSEPORT which is L4-only.

[2022-06-03 21:02] #25275 closed

[2022-06-03 21:02] #25276 closed

[2022-06-03 21:02] #25281 closed

[2022-06-03 21:04] #25422 closed

[2022-06-03 21:05] #25449 closed

[2022-06-03 21:05] #25535 closed

[2022-06-03 21:05] #25594 closed

[2022-06-03 21:05] #25783 closed

[2022-06-03 21:07] #26217 closed

[2022-06-03 21:09] #26611 closed

[2022-06-03 21:09] lidizheng commented on #26620
It's released since v1.44.x.

[2022-06-03 21:09] #26620 closed

[2022-06-03 21:10] #26805 closed

[2022-06-03 21:13] lidizheng commented on #27409
This issue should be fixed already, see https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi#L187. Feel free to reopen if that's not the case.

[2022-06-03 21:13] #27409 closed

[2022-06-03 21:14] #28337 closed

[2022-06-03 21:15] #28798 closed

[2022-06-03 21:16] #28832 closed

[2022-06-03 21:16] #28867 closed

[2022-06-03 21:19] #29338 closed

[2022-06-03 21:19] #29499 closed

[2022-06-03 21:57] #29848 closed

[2022-06-03 22:18] 0xtyls commented on #27089
Any news for this bug? Facing a similar issue here. When I use only one cq for all the threads, my mac's cpu usage can reach 100%. But when I add multiple cq, say each thread has a cq, cpu usage can only reach like 50%. The tasks take more time to finish.

[2022-06-03 22:55] pprindeville commented on #29881
Closest I could figure out is:

[code]

but is there a more efficient way?

[2022-06-04 02:41] hsaliak commented on #29856
Chased it down to a data race in abseil, same as that discussed in: https://github.com/google/sanitizers/issues/953
The grpc codebase already disables report_atomic_race, however, vendoring it in our own monorepo exposed the issue.

[2022-06-04 08:08] kkm000 commented on #8451
@tonydnewell, I'm just thinking aloud; not sure at all that this is doable. The `CancellationTokenSource` supports a callback, immediately invoked upon a call to `.Cancel` of it's "token" (internally, token source and token are a single entity, and the source itself and the token are logical interfaces on it, designed with a separation of concerns in mind). Can we somehow hack into this mechanism

[2022-06-04 09:49] emm26 commented on #28509
I am facing the same issue on:
- ruby 2.3.8p459 (2018-10-18 revision 65136) [-darwin21]
- grpc (1.35.0)
- macOS Monterey
- M1 pro chip

[2022-06-04 13:10] friendbaby opened #29909 "The helloworld greeter_server.exe crashes on Windows VS2017 Release"
### What version of gRPC and what language are you using?
v1.45.2
v1.46.3
C++

### What operating system (Linux, Windows,...) and version?
Windows 10 21H2

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS2017

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s n

[2022-06-04 13:11] friendbaby commented on #29909
![image](https://user-images.githubusercontent.com/8756512/172000526-fb50974d-a9b4-4880-8690-de86e3abadff.png)

[2022-06-04 13:12] friendbaby commented on #29909
![image](https://user-images.githubusercontent.com/8756512/172000543-dd829b83-80c5-4c17-b1bb-d2d89a6ba664.png)

[2022-06-04 13:12] friendbaby commented on #29909
![image](https://user-images.githubusercontent.com/8756512/172000587-7461ed70-bf07-41e8-b38c-90386f200b91.png)

[2022-06-04 15:34] luxuguang-leo commented on #29769
Thanks, any guide for setting up docker environment? I can build docker image on x86 linux environment. Thanks.

[2022-06-05 13:06] kuntoaji commented on #28509
As an alternative, you can use docker. In my case, all my projects with the old version of Ruby and Grpc were successfully installed on M1 Mac pro with docker.

[2022-06-06 04:45] xiedeacc opened #29912 "does use arena to allocate memery still has benefit when use jemalloc?"
as title, I think use arena may not so outstanding for memery and performance when use jemalloc

[2022-06-06 07:45] xiedeacc opened #29913 "does AsyncNotifyWhenDone's tag always be ahead of other tag?"
does AsyncNotifyWhenDone's tag always be ahead of reader/writer's tag?(ie. ServerAsyncReaderWriter), or grpc doens't have such gurrantee?

[2022-06-06 08:04] xiedeacc opened #29914 "what's ServerAsyncReaderWriter::Read behaviour when client network fail down suddenly ?"
when client network fail down, I guess ServerAsyncReaderWriter::Read's tag will never returned by grpc::CompletionQueue::Next. otherwise, grpc::CompletionQueue::Next will return grpc::ServerContextBase::AsyncNotifyWhenDone's tag, Am I right? so server must call AsyncNotifyWhenDone before rpc start if server need handle clients connection errors.

[2022-06-06 08:13] xiedeacc opened #29915 "what's ServerAsyncReaderWriter::Read behaviour when client network fail down suddenly?"
when client network fail down, I guess ServerAsyncReaderWriter::Read's tag will never returned by grpc::CompletionQueue::Next. grpc::ServerContextBase::AsyncNotifyWhenDone's tag will be returned by grpc::CompletionQueue::Next install, Am I right? so server must call AsyncNotifyWhenDone before rpc start if server need handle clients connection errors.

[2022-06-06 08:13] #29914 closed

[2022-06-06 09:59] tonydnewell commented on #8451
@kkm000 I've investigated moving the cleanup logic to a cancellation callback but it appears the callback is invoked too early in the cancellation process - the exception is never thrown (MoveNext succeeds) and the socket still leaks.

[2022-06-06 15:37] markdroth commented on #29912
The main reason for the arena is to improve performance by avoiding multiple `malloc()` calls for each RPC, since each `malloc()` call could potentially need to acquire a lock internally, and that lock increases latency.  Historically, this has proven to be a performance win.

It is possible that with modern allocators like jemalloc that each call to `malloc()` is less likely to require acquiring

[2022-06-06 21:20] kkm000 commented on #8451
Thanks for checking @tonydnewell! Too bad my wild idea didn't work out... :(

[2022-06-07 05:24] lazcamus commented on #25082
I ran into this (again) today so I came back to check out the bug.

@gnossen can you provide guidance on when a fix will make it into a release so `pip` users will no longer encounter this?

[2022-06-07 05:28] junyeongchoi-29cm commented on #25082
If you have any trouble about installing `python 3.x under 3.9 version`, please check this article
https://chrisjune-13837.medium.com/how-to-install-python-3-x-on-apple-m1-9e77ff94266a

[2022-06-07 06:44] jonyscathe opened #29930 "grpc_tools.protoc has inconsistent descriptor_set_out depending on locale LANG setting"
### What version of gRPC and what language are you using?
grpcio-tools==1.46.3

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04.4 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.10.4

### What did you do?
Ran following in two separate environments (one virtualenv, one docker devcontainer).
Eventually tracked down that the imp

[2022-06-07 07:25] jtattermusch commented on #27062
I checked the failure history and could not find any recent instances (in the last 3 months).

[2022-06-07 07:25] #27062 closed

[2022-06-07 07:56] Greendomisi opened #29931 "PROTOBUF_NAMESPACE_OPEN"
### What version of gRPC and what language are you using?
1.46.3
### What operating system (Linux, Windows,...) and version?
Ubuntu 16.04
### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC

### What did you do?
Commented out the lines:
#include <google/protobuf/port_def.inc>
#if PROTOBUF_VERSION < 3019000
#error This file was generated by a newer version of proto

[2022-06-07 08:15] jtattermusch commented on #28153
Related: https://github.com/grpc/grpc/issues/8451#issuecomment-1147943234

[2022-06-07 08:25] xiedeacc commented on #29915
next will return ServerAsyncReaderWriter::Read's tag with a false ok

[2022-06-07 08:31] jtattermusch commented on #8451
@tonydnewell  The fact that call.MoveNext() is still required after requesting call cancellation (regardless whether it's through cancellationToken or call.Dispose()) seems odd to me. It would be good to investigate a bit more why that is the case - and subsequently fix it.
For calls that don't get cancelled, there is little we can do about not requiring the MoveNext() calls - this is simply a sid

[2022-06-07 09:25] jhlgns opened #29932 "Please provide protoc --csharp_out=grpc:<...> command for manual invocation"
### Is your feature request related to a problem? Please describe.
It would be very helpful if there was a way to compile gRPC from command line without the `<ItemGroup>`-Stuff.
This does not work with my approach of generating proto-files with a code-first approach since the ItemGroup/Protobuf stuff is evalutated before the proto file was generated.

### Describe the solution you'd like
`protoc -

[2022-06-07 09:50] jtattermusch commented on #29932
You don't have to use the `Grpc.Tools` build integration with gRPC C#.
If directly invoking `protoc` (and `grpc_csharp_plugin`) from the command line is what you want, you can certainly do that (many projects do).
See documentation for the protocol buffer compiler (protoc) and example of how "manual" invocation can look like:
https://github.com/grpc/grpc/blob/v1.46.x/src/csharp/generate_proto_csha