[2017-10-15 00:12] topillar opened #13012 "branch v1.6.x build failed."
Windows7
VS2017 +SDK8.1
GRPC branch v1.6.x

[ninja_log.txt](https://github.com/grpc/grpc/files/1385089/ninja_log.txt)

[537/1904] Generating ../../../third_p.../compiler/js/well_known_types_embed.cc
ninja: build stopped: subcommand failed.

[2017-10-15 00:32] topillar commented on #13012
a bug of protobuf 3.40

[2017-10-15 12:59] atisman89 commented on #11616
Same error here. Any solution or workaround?

[2017-10-15 16:24] ravikamaraj commented on #12506
Services run behind AWS ELB, and idle connections are closed upon idle timeout.

The issue last as long as the node service is restarted.

Sure, I will run sometime this week, and post the results

I was not able to reproduce the issue. I will run more test this week.

[2017-10-15 20:08] Syed-Umair commented on #12985
Nice thanks for your effort, I hope will be fixing it soon

[2017-10-16 02:08] greenfrog82 commented on #12947
Hi, mehrdada.
Thank you for your answer.
I've resolved this problem. This problem doesn't appear any more.
I don't know exactly reason about this problem. But I guess that it is just network problem as you said.
Thank you for your answer again.
Have a good day!

[2017-10-16 02:09] #12947 closed

[2017-10-16 02:26] rfyiamcool opened #13015 "question: h2_http_proxy hpack_size test is flaky under epoll1 ?"
Please see question, Thank U
[code]

[2017-10-16 02:26] #13015 closed

[2017-10-16 02:57] apolcyn commented on #12510
perhaps related (logs also show streams stalled on flow control, followed by test timeout):

There was a `TIMEOUT: json_run_localhost:cpp_protobuf_sync_streaming_from_server_qps_unconstrained_secure_low_thread_count` in https://sponge.corp.google.com/invocation?tab=Kokoro&id=ac20dbee-f63c-4bf2-94eb-ca0bf6e17f67&searchFor=.

[2017-10-16 09:22] kamesh-a commented on #12985
Hello,

Can we please add support for upcoming electron version 1.8. Electron releases every upgrade to chrome. How we can for upcoming versions in future.

Or is there any things can be done to try rebuilding from our end.

[2017-10-16 13:16] jtattermusch commented on #12669
The refactoring in #12950 has helped with h2_ssl_cert_test timing  and json_run_localhost "streaming_from_server" is being worked on in https://github.com/grpc/grpc/issues/12510, so I'm going to close this umbrella issue (and possibly file more concrete issues for other tests that are taking too long).

[2017-10-16 13:16] #12669 closed

[2017-10-16 15:49] vjpai commented on #12730
I'm going to close this since the related lines of code in the in-process transport no longer exist.

[2017-10-16 15:49] #12730 closed

[2017-10-16 15:52] vjpai commented on #12409
Hi, didn't respond for a while but wanted to make it clear: the reader struct itself controls the completion of the operations that got triggered by the Finish call. The struct must live past the CompletionQueue::Next call that reveals that the Finish tag completed. That is the problematic API use here.

[2017-10-16 15:52] #12409 closed

[2017-10-16 15:53] vjpai opened #13019 "Document/debug C++ common API usage mistakes"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?

Master, C++

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

 N/A

### What did you do?

Misused the API

### What did

[2017-10-16 15:58] vjpai commented on #13019
Common pitfalls and possible solutions/ways to give guidance (please feel free to add comments with more):

1. Multiple outstanding Read or Write on the same stream
    - Add debugging asserts on operation invocation
1. Expecting a result to be available on an async unary or streaming RPC without having called CQ::Next
    - ???
1. Allowing an RPC object to be destructed before all CompletionQueue

[2017-10-16 16:49] jtattermusch commented on #12931
Likely an overflow bug on 32-bit.   Please refer to https://github.com/grpc/grpc/pull/11866/files

[2017-10-16 16:50] jtattermusch commented on #12931
32bit ubsan would help with this.

[2017-10-16 16:51] ctiller opened #13020 "Add a 32-bit UBSAN build"
Should help to flag bad code in 32-bit builds (like #12931)

[2017-10-16 17:25] murgatroid99 commented on #12985
Thank you for your patience. I have uploaded electron 1.7 binaries for grpc@1.6.6. You should be able to install it now.

I will try to add support for new versions of Electron in a more timely manner in the future.

[2017-10-16 17:45] vjpai commented on #12972
Yes, this was a typo. Looks like it was never tested either.

[2017-10-16 17:54] vjpai commented on #12975
I tried this at master and was not able to reproduce it.

[2017-10-16 17:56] vjpai commented on #12317
Variant of #12472. Closing this in favor of that since that's the tracking bug for the feature.

[2017-10-16 17:56] #12317 closed

[2017-10-16 17:57] vjpai commented on #12300
Merging this into #13019

[2017-10-16 17:58] #12300 closed

[2017-10-16 18:24] Syed-Umair commented on #12985
Thank you so much for your work @murgatroid99

[2017-10-16 18:29] ZhouyihaiDing opened #13024 "Performance benchmark failed"
https://grpc-testing.appspot.com/view/Performance/job/gRPC_performance_experiment/4551/console
Lots of scenarios are having the error since last Friday:
[code]
I think its the adding field "spawn_local_worker_count" in the PR #12987 and #13014 may fix it.

[2017-10-16 18:30] #12985 closed

[2017-10-16 19:17] markdroth commented on #11406
Is there anything actionable here, or can this issue be closed?

[2017-10-16 19:20] markdroth commented on #8696
I think this is a duplicate of #12867.

[2017-10-16 19:20] #8696 closed

[2017-10-16 19:26] markdroth commented on #11896
The fix mentioned above was first released in 1.6, so it's not expected to work in 1.4.

I think we should call this fixed until/unless we have a report of it not working in 1.6.

[2017-10-16 19:26] #11896 closed

[2017-10-16 19:34] markdroth commented on #7957
Note that item (2) is being tracked in #11704.

[2017-10-16 19:38] markdroth commented on #12897
I suspect that this is related to #9646 and/or #12867.

[2017-10-16 19:42] markdroth commented on #12897
Actually, I take back what I said -- I don't think those issues are relevant.

I don't think `wait_for_ready` is relevant in this case; that affects behavior when an initial connection attempt fails, but in this case we are not even getting to try a connection, because the resolver is not returning any results.

It is actually intentional behavior that the resolver does not return any results for

[2017-10-16 21:24] adelez commented on #12994
This is a dup of https://github.com/grpc/grpc-go/issues/1572.

[2017-10-16 21:25] adelez commented on #12994
This should be fixed. But please reopen the Go bug if it's still an issue.

[2017-10-16 22:05] nathanielmanistaatgoogle commented on #8079
@jackwootton: I _think_ Bazel will be getting its own `py_proto_library`? Or if it does, one provided by [google/protobuf](https://github.com/google/protobuf) will be the official one? And there is no current recommended way to use gRPC Python with Bazel; while we're excited about fixing this issue, serious work on our part addressing it has not yet even begun. (Of course we're happy to hear about

[2017-10-17 02:13] jpamorgan commented on #6443
@murgatroid99 any luck on this yet?  I am trying to get Google Firestore running on lambda, but it craps out with this grpc issue.

[2017-10-17 02:26] jwpowell055 commented on #12122
Any movement on this topic? It'd be great to be able to use Bazel to build a project that uses gRPC without extra workarounds to get gRPC to build.

[2017-10-17 06:12] BusyJay commented on #12975
Updated to master, and reproduce it successfully. The commit I tried is 6bf5f833efe2cb9e2ecc14358dd9699cd5d05263. I also created a branch [here](https://github.com/BusyJay/grpc/tree/test-buffer-hint) with my modification to produce the bug.

My development environment:

[code]

[2017-10-17 07:12] jtattermusch opened #13035 "bins/tsan/bm_fullstack_trickle takes >75mins on C++ TSAN"
[code]
Based on historical data it seems that all recent runs took >4500 sec.

https://sponge.corp.google.com/target?showTestCases=ERROR&showTestCases=FAILURE&showTestCases=PASSED&showTestCases&id=2a24d6ce-4590-467e-ba57-c1e538a5e149&searchFor&show=ALL&tab=Test+Cases&target=github/grpc/c%2B%2B_linux_tsan_native&view=FLAT&sortMethodsBy=DURATION&showRuns=SHOW_ALL_RUNS

[2017-10-17 07:14] jtattermusch commented on #13035
@ncteisen  What can we do about reducing the runtime?

[2017-10-17 07:17] jtattermusch commented on #13035
For ASAN, the runtime is >1000sec,   for dbt/opt it is around >700sec.

[2017-10-17 07:32] jtattermusch commented on #13035
This is causing our PR tests builds to take >2hrs instead of 1hr (where we are trying to cap them), so I'm going to mark this as as P1.

[2017-10-17 07:53] snehlatamohite commented on #12694
@mehrdada - google/benchmark#449 and my issue is same. W should use updated benchmark code in grpc in order to fix the issue.

[2017-10-17 08:15] jtattermusch commented on #12931
I suspect the problem could be somewhere in the newly introduced `timespec_to_atm_round_down` or `timespec_to_atm_round_up`
https://github.com/grpc/grpc/pull/11866/files#diff-0a6e3bd2b76ed96aadeb9f399e171158R122

[2017-10-17 11:09] snehlatamohite commented on #12694
I have started validating  GRPC build on PPC64le using google/benchmark  submodule to  v1.2 . I could able to build GRPC successfully with google/benchmark  v1.2 .  version. Now will run test suits as well.

[2017-10-17 14:38] markdroth commented on #9646
I'm not quite clear on which two callbacks are racing each other here.  I gather from the original description that one of them was `on_lb_policy_state_changed()`, although I don't know which other one was the issue.

However, since this issue was filed, the client_channel code has been changed to use a combiner lock, and `on_lb_policy_state_changed()` is now running in the combiner (renamed to `o

[2017-10-17 15:22] ncteisen commented on #13035
#13028 should speed them up. If they are still a problem after that goes in we could discuss not running them since they get automatically run by the bm_trickle job

[2017-10-17 16:04] jtattermusch commented on #13035
I checked the test results on that PR, and it still seems that even after splitting, there's still a `bins/asan/bm_fullstack_trickle: GRPC_POLL_STRATEGY=epoll1` run that takes 17 mins on ASAN (no improvement).
At the same time, I see the split-up runs of `bm_fullstack_trickle` (e.g. `bins/opt/bm_fullstack_trickle:BM_PumpUnbalancedUnary_Trickle/1/16M/64M GRPC_POLL_STRATEGY=epoll1`)  so maybe the PR

[2017-10-17 16:12] ZhouyihaiDing commented on #13024
Solved

[2017-10-17 16:12] #13024 closed

[2017-10-17 16:50] yang-g opened #13040 "[FLAKE] grpclb_end2end_test --gtest_filter=SingleBalancerTest.BackendsRestart"
bins/dbg/grpclb_end2end_test --gtest_filter=SingleBalancerTest.BackendsRestart  GRPC_POLL_STRATEGY=epoll1

017-10-17 01:41:48,049 I1017 01:41:47.631306667   11641 ev_epoll1_linux.cc:93]      grpc epoll fd: 3
D1017 01:41:47.631402244   11641 ev_posix.cc:138]            Using polling engine: epoll1
D1017 01:41:47.631442004   11641 dns_resolver.cc:306]        Using native dns resolver
D1017 01:41:47.

[2017-10-17 17:25] Saurman commented on #8615
@fabware did u manage to solve this?

[2017-10-17 17:39] murgatroid99 commented on #12978
I don't know what might be causing this. The same test script is passing in the grpc-node test jobs. @matt-kwong is there maybe something different about the environment where the tests are running?

[2017-10-17 17:59] stanley-cheung commented on #12951
@ZhouyihaiDing Can you see if you can reproduce this?

[2017-10-17 18:13] vjpai commented on #12975
I am able to repro the issue after all. I made a mistake in my last repro attempt. Reopening.

[2017-10-17 18:13] #12931 closed

[2017-10-17 18:18] jtattermusch commented on #10763
@matt-kwong  has enabled retries for pull request runs, so we are not seeing this on PRs (or seeing fairly rarely), but problem persists on master.

[2017-10-17 18:56] ncteisen commented on #13035
#13041 should do the trick

[2017-10-17 19:25] matt-kwong commented on #12978
The image used by VMs to run grpc-node tests on grpc/grpc and grpc/grpc-node should be the same.

[2017-10-17 19:40] matt-kwong opened #13044 "Python Alpine build broken"
Broken by #13021
https://sponge.corp.google.com/target?id=f383a075-a883-4171-908c-993e40b5808b&target=github/grpc/aggregate_tests&searchFor=&show=FAILED&sortBy=STATUS
[code]
CC @nathanielmanistaatgoogle @kpayson64

[2017-10-17 21:05] murgatroid99 commented on #12978
Is the test that's failing here running under docker? I don't think that's the case for the tests running directly from the grpc-node repo.

[2017-10-17 21:07] matt-kwong commented on #12978
Yes, it's running under Docker.

[2017-10-17 21:14] murgatroid99 commented on #12978
It looks like the issue here is related to a bug with updating npm under Docker: npm/npm#16807. I'll try to use one of the workarounds from that thread.

[2017-10-17 22:08] dfawley commented on #7945
Should this be added as a gRFC in the [proposal repo](https://github.com/grpc/proposal)?

[2017-10-17 23:20] #12978 closed

[2017-10-18 02:49] fabware commented on #8615
Yes, comment the headers works with the following scripts (replace FlashService with your own generated directory). Haven't touch it for months, don't if it still works.

[code]

[2017-10-18 08:19] seanchann commented on #8682
@wenbozhu @zinuga Please add early access to grpc-web.
Thanks

[2017-10-18 11:15] jclinto1 commented on #9575
Yes this worked, so in essence you have to put your proto files in a sub directory and then adjust the protoc command to point to the other paths to be at the parent, then the module is created as expected.  I did find I had to change some imports based on the gPRC examples.

[2017-10-18 12:07] snehlatamohite commented on #12694
I could able to validate C,C++,node,ruby & sanity tests successfully with benchmark version 1.2.0.

[2017-10-18 12:33] fhoek commented on #12815
I can confirm this problem also exists in communication we tried with Google.Cloud.PubSub.V1 nuget package which uses Grpc.Core version 1.6.1. I've tried adding the environment variable **http_proxy** but with no success (got it from [here](https://github.com/grpc/grpc/issues/9989)).

This is a big issue for us since we designed our solution around a few google cloud services like Pub/Sub and we c

[2017-10-18 13:13] Xzya commented on #8615
The above script + the following line fixed it for me (GAPIAnnotationsRoot instead of AnnotationsRoot):
`sed -i '' -e 's/    \[registry addExtensions:\[GAPIAnnotationsRoot extensionRegistry\]\];/\/\/     \[registry addExtensions:\[GAPIAnnotationsRoot extensionRegistry\]\]; \/\/ automatically comment by grpc gen.sh/g' FlashService/*.*`

[2017-10-18 13:16] OLGKAD commented on #2262
Hey @siddharthab, thanks for sharing this. I'm experiencing a very similar problem right now. How do you make sure that the system default protobuf packages have been removed?  For me "protoc --version" produces "libprotoc [new version]", but I'm not sure if it's a good enough indicator that the old version has been deleted.

[2017-10-18 15:11] siddharthab commented on #2262
I believe something like ldconfig can help you figure out which directories have protobuf library installed and in which order they are considered.

[2017-10-18 15:56] GuillaumeCisco opened #13049 "grpc + electron = Error: package.json does not exist at /package.json"
### What version of gRPC and what language are you using?
 tried 1.6.6 and 1.8.0-dev (master)

### What operating system (Linux, Windows, …) and version?
 linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 node 8.4.0, python 2.17.13

### What did you do?
simply
`import grpc from 'grpc'` in code.
Code run on electron app with two package.json config.

### What

[2017-10-18 16:05] boumarc1 opened #13050 "Python Grpc client service method does not return when called from httpd on Windows"
### What version of gRPC and what language are you using?
Python gRPC client executed from wsgi module of Apache httpd
I tested grpcio packages from 1.1.0, to 1.4.4 inclusively

### What operating system (Linux, Windows, …) and version?
Windows server 2012

### What runtime / compiler are you using (e.g. python version or version of gcc)
Tested grpcio packages from 1.1.0, to 1.4.4 inclusively on p

[2017-10-18 18:03] murgatroid99 commented on #13049
This seems like it might be a bug in electron. The `__dirname` variable is explicitly documented as referring to the full path of the directory containing the current module file.

Are you actually running this in the node 8.4.0 runtime? Is python involved here at all? What version of electron are you using?

[2017-10-18 18:23] Mr-Grieves commented on #10759
I am having trouble cmake-ing the cpp helloworld example on windows, because of this issue. Cmake Configure step fails with:
[code]

I am using Protobuf 3.4.1 and gRPC 1.6.2.
Based on the conversation above I have tried rebuilding gRPC with gRPC_INSTALL=FALSE, but it has no effect.

Any suggestions?

[2017-10-18 18:48] Mr-Grieves commented on #12442
I am also experiencing the same issue. Using Protobuf 3.4.1, gRPC 1.6.2.

It seems that it is an issue with setting the gRPC/Protobuf targets. In addition to the above mentioned error, I am also experiencing issue [#10759](https://github.com/grpc/grpc/issues/10759). I suspect they are related...

[2017-10-18 20:06] jleni commented on #12992
@mehrdada kpayson64 Are you already working on this or a PR would be useful?

[2017-10-18 20:22] kpayson64 commented on #12992
I'm not investigating this at the moment, but if you had a PR for a fix that would be great!

[2017-10-18 20:29] mehrdada commented on #12992
@jleni  I played with it a bit and it is not clear what, or if, we are doing something wrong, so I gave up, since it does not seem like a blocking issue for users (is it?). At the moment, the root cause might be an issue with `pip`. A PR would be appreciated for sure if you know the root cause (or a workaround in our packaging that makes the symptom go away). Meanwhile, you may want to file a bug

[2017-10-18 23:07] apolcyn opened #13054 "Docker image for node interop tests failed to build"
What looks like the relevant parts of the log:

[code]

....

[code]

https://sponge.corp.google.com/target?id=8e953673-5e18-4ebf-ba9c-56e1a9beb07b&target=grpc%2Fubuntu%2Fpull_request%2Fgrpc_interop_tocloud&searchFor=

[2017-10-19 02:00] FDUdannychen commented on #12506
Can I temporarily disable the loading balancing feature of gRPC? I have a RoundRobin [Polly](https://github.com/app-vnext/polly) policy so the LB is not a key feature to me. Or can I downgrade gRPC to a specific version to avoid this issue? Which version should I use? Thanks.

[2017-10-19 02:05] qingling128 commented on #12506
Same here. Any potential workaround?

[2017-10-19 05:54] mehrdada commented on #13050
I'm not familiar with Apache `mod_wsgi`. Does it fork the process by any chance? If so, interplay of gRPC and fork is a tricky domain and there are known issues.

[2017-10-19 06:04] JimmyMow commented on #7038
any update or examples of success for gRPC in react native?

[2017-10-19 06:26] PiotrSikora opened #13061 "Incorrect behavior with unacknowledged SETTINGS_INITIAL_WINDOW_SIZE."
gRPC assumes that `SETTINGS_INITIAL_WINDOW_SIZE` is respected by the peer before receiving `SETTINGS ACK` and doesn't send necessary `WINDOW_UPDATE` frames.

This wasn't an issue in the past, when the initial `SETTINGS_INITIAL_WINDOW_SIZE` was set to the default value (65535 bytes), but that changes with #12677, and can lead to a deadlock.

cc @ctiller @fengli79 @louiscryan

[2017-10-19 06:27] PiotrSikora opened #13062 "Send HTTP/2 SETTINGS_TIMEOUT."
It would be helpful to debug misbehaving clients, proxies & servers if gRPC closed connection with a  `SETTINGS_TIMEOUT` error if it didn't receive `SETTINGS ACK` frame in a reasonable amount of time (see: #13061).

This is especially important for the initial `SETTINGS` frame, where misbehaving clients might completely ignore `SETTINGS` frame which arrived upon successful connection, but before c

[2017-10-19 08:08] GuillaumeCisco commented on #13049
Yes I think it is a bug in electron or something in my webpack config.
For electron, I have a special webpack config where I see:
[code]
I have seen this issue: https://github.com/webpack/webpack/issues/1599.
Do not really know if it's related.
I copy/pasted the webpack config from a bootstrap config for running electron.

Any thoughts?

[2017-10-19 08:59] GuillaumeCisco commented on #13049
Ok just found interesting things, I disabled the `dll` part of my webpack config, and the `__dirname` changed to where my webpack file is located.
The dll webpack config for the record:
[code]

So If I disable it and now set the
[code]

I get the correct `__dirname` => `node_modules/grpc/src/node/src`

So I don't have the same error in the code from `grpc_extension.js`:
[code]
For the record here

[2017-10-19 12:12] wjywbs commented on #13019
Hello Vijay, can I use a shared completion queue to send async rpc calls in multiple threads? There will also be one more thread that loops cq.Next().

[2017-10-19 13:29] igor-yamshchykov commented on #8941
@vasiliyb
`npm rebuild grpc` helped in my case, had same issue within docker

[2017-10-19 14:20] markdroth commented on #12506
Until someone can provide me trace logs of this problem with #12878 patched in, I don't have enough information to understand what's triggering the problem, so I can't provide a work-around.

From earlier in this issue, it seems that people are not having this problem with gRPC 1.4.x, only with 1.6.x, so you can try downgrading to that until we get this resolved.

[2017-10-19 14:38] boumarc1 commented on #13050
The mod_wsgi module runs in httpd process on Windows.  The "daemon" mode is not available.   So in our case, whenever the call is made from the Grpc Client, the server is blocked.

http://modwsgi.readthedocs.io/en/develop/user-guides/processes-and-threading.html

[2017-10-19 15:05] subk commented on #12506
example project to easily reproduce this in nodejs : https://github.com/subk/grpc-issue-12506
It looks like reusing the same host/port on each test run will always trigger the "load balacing policy" error at some point.
If the server binds on a random port on each run, everything is fine.

My 2 cts

[2017-10-19 17:06] GuillaumeCisco commented on #13049
Ok just figured out what is going on.
It's all about webpack and externals for backend node application.
This issue helped me a lot: https://github.com/chentsulin/electron-react-boilerplate/issues/1#issuecomment-107224692

The problem is that `grpc` dependency needed to be in my externals for webpack to work with, and __dirname being correct.

Got back to
[code]
And it worked great!

The only prob

[2017-10-19 17:12] markbarks commented on #9377
I'm also seeing this log appear for handled exceptions:

[code]

Is there any way to supress this log line?

[2017-10-19 17:19] vjpai commented on #13019
Yes, the CQ is absolutely thread safe! If you use multi-threaded CQ from an async client, I strongly suggest you use the Prepare... form of the stub interface that was implemented in #12269 .This requires 2 calls to start an async RPC, but it helps to prevent a race (or alternatively, resolves a workaround that requires locking). I will add this to the list.

[2017-10-19 17:19] mehrdada commented on #13050
Can you please give us a minimal test case that reproduces the problem?

[2017-10-19 17:40] GuillaumeCisco commented on #13049
Ok, as far as I understand, I need to build the binary myself as described here:
https://github.com/grpc/grpc/issues/10458
and here https://electron.atom.io/docs/tutorial/using-native-node-modules/

Si I've setup:
[code]

This is what I get:
[code]

Looks like now a grpc  issue again xD
What am I missing?

[2017-10-19 17:51] GuillaumeCisco commented on #13049
Ok just succeeded to build the right binary in the right folder, just exported all the variables:
[code]

[2017-10-19 18:03] zackangelo commented on #11632
@stanley-cheung This is a major issue for us.

If we don't have a long-term fix in sight, would it be possible to get an official patch that supports disabling TLS behavior altogether?

[2017-10-19 18:36] boumarc1 commented on #13050
I can't paste the company source code here so I rewrote it.  It is almost the simplest case possible based on the documentation sample.  I believe the fastidious part is to setup and configure Apache, mod_wsgi and make it call the client code.  When the server requests the grpc client (list_devices in this case), it never returns.  The server code doesn't matter because it is not invoked.

[code]

[2017-10-19 19:01] relwell opened #13071 "Node GRPC dependency painfully large"
### What version of gRPC and what language are you using?
 3.4.0

### What operating system (Linux, Windows, …) and version?
 Linux and OS X

### What runtime / compiler are you using (e.g. python version or version of gcc)
 grpc_tools

### What did you do?
Added GRPC as a dependency in NodeJS

### What did you expect to see?
 A reasonably-sized dependency

### What did you see instead?
 `node_mod

[2017-10-19 19:12] apolcyn opened #13073 "run-grpc-node.sh failure with "undefined symbol: grpc_fork_support_init""
from the log:

[code]

https://sponge.corp.google.com/target?id=aafc3df2-1de0-4b96-80b6-b1d51120d66e&target=github/grpc/grpc-node_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-10-19 19:19] kpayson64 commented on #13073
```grpc@1.8.0-dev``` it looks like this is against master, has there been an upmerge from 1.7?

[2017-10-19 19:22] ctiller commented on #13062
Effectively we'll need a timer in chttp2_transport that's armed whenever we send settings, cancelled when we get the ack, and fails the connection when it expires.

Care will need to be given to ensure that we don't start sending the next settings until the timer callback is actually made.

[2017-10-19 19:23] ctiller commented on #13061
I don't think this is a bug.

No acknowledgement is needed on the send path for settings changes (otherwise the protocol is impossible to implement).

[2017-10-19 19:23] #13061 closed

[2017-10-19 19:54] mehrdada commented on #13050
Thanks. This is great. I'll try setting up a Windows machine to try and reproduce. Can you point me to an Apache httpd/mod_wgsi setup tutorial on Windows you suggest I follow to get to a close configuration to what you have?

[2017-10-19 20:31] boumarc1 commented on #13050
In fact, I wasn't involved on the web server setup, but I'll try to get what I could.  I worked on the Grpc service which works pretty well when the client reaches it.

[2017-10-19 21:30] vjpai commented on #13044
I can pick this up

[2017-10-19 21:54] qingling128 commented on #12506
Thanks a lot! I tried @subk's suggestion and modified our test mocks to use a different port every time. Now we no longer get this error.

The potential impact of this issue is still a bit concerning though. We'll stay tuned for a fix while developing with this workaround.

[2017-10-19 22:14] adelez opened #13075 "FLAKE: portability test failed with "Bad Locked Domain Request""
{"error":{"errors":[{"domain":"global","reason":"badLockedDomainRequest","message":"Bad Locked Domain Request","debugInfo":"Error extracting locked domain from query string\ncom.google.api.server.core.Fault: ImmutableErrorDefinition{base=BAD_LOCKED_DOMAIN_REQUEST, category=USER_ERROR, cause=null, debugInfo=Error extracting locked domain from query string, domain=global, extendedHelp=null, httpHead

[2017-10-19 23:11] PiotrSikora commented on #13061
Thinking about it a bit more, I think you're right, since the `WINDOW_UPDATE` following unacknowledged `SETTINGS_INITIAL_WINDOW_SIZE` could put the total over the limit after `SETTINGS_INITIAL_WINDOW_SIZE` gets updated on the receiving side.

Nevertheless, this could lead to a weird deadlock or pause, but the particular case that I'm worried about will be fixed by https://github.com/grpc/grpc/issu

[2017-10-20 04:45] yang-g opened #13079 "Windows h2_proxy_test.exe & h2_proxy_nosec_test.exe failing (100% cases)"
https://sponge.corp.google.com/target?id=8176946b-0c65-41e6-bb71-b9551aa8edcd&target=github/grpc/c_windows_opt_native&searchFor=&show=FAILED&sortBy=STATUS

Multiple test cases failing with high probability (close to 100%)
[code]

[code]

[2017-10-20 04:51] yang-g opened #13080 "bins/asan/client_lb_end2end_test --gtest_filter=ClientLbEnd2endTest.RoundRobinReresolve GRPC_POLL_STRATEGY=epollex"
I1019 23:59:46.318312072   26063 client_lb_end2end_test.cc:195] server startup complete
test/cpp/end2end/client_lb_end2end_test.cc:169: Failure
Value of: status.ok()
  Actual: false
Expected: true
test/cpp/end2end/client_lb_end2end_test.cc:170: Failure
      Expected: response.message()
      Which is: ""
To be equal to: kRequestMessage_
      Which is: "Live long and prosper."
[  FAILED  ] Client

[2017-10-20 04:52] yang-g opened #13081 "FAILED: bins/opt/grpclb_test GRPC_POLL_STRATEGY=epollex"
I1020 00:02:15.341895184   29321 grpclb_test.cc:647]         Server[127.0.0.1:21945] shutting down
I1020 00:02:15.341950384   29325 grpclb_test.cc:334]         Server[127.0.0.1:21945] being torn down
I1020 00:02:15.342145633   29321 grpclb_test.cc:665]         Server[127.0.0.1:21945] bye bye
I1020 00:02:15.342156932   29321 grpclb_test.cc:647]         Server[127.0.0.1:6682] shutting down
I1020 00:

[2017-10-20 06:17] wuweiplus commented on #12330
Here is a new issue, `restarting the balancer` leads the grpc timer thread to enter a infinite loop (100% reproductive).

### What version of gRPC and what language are you using?
 gRPC version: v1.6.0
 language: C++

### What operating system (Linux, Windows, …) and version?
 CentOS 6.5

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 4.8.2
 Environment vari

[2017-10-20 06:18] ccl0326 commented on #9688
@kpayson64
You'r right. I will open a new issue for it.

[2017-10-20 08:29] GuillaumeCisco commented on #13049
Ok last and hope least. There one last issue...
When running my webpack config for launching the electron app, nothing is launched...
Everything seems to work correctly, I have no errors, but the app is not launched...
Like `grpc` is blocking the electron app.
I have no trace, no error.

Anybody have been in this case before?
Sorry for digressing a lot in this issue. But I think it will be helpful

[2017-10-20 11:32] DJWalker42 commented on #10942
Same issue when building on OpenSuse 13.2 following the install from source instructions.

I think this might be confusion between the version numbers of 'libgrpc' and 'libgrpc++' which are different, in my case:
[code]
As you can see 'libgrpc' has a major version of 4 whereas 'libgrpc++' has major version of 1.

In the (current) Makefile template [here](https://github.com/grpc/grpc/blob/master/te

[2017-10-20 13:03] DJWalker42 commented on #10942
After rereading @jeffmendoza's comment I noticed that the debian build has the extra soft link `libgrpc++.so.1 -> libgrpc++.so.3` which makes the library lookup work and looks like a patch. So I checked my OpenSuse 13.2 build and found similar double indirections:
[code]
These extra links are missing from the Scientific Linux build hence why it fails to find the shared libraries. Though why those

[2017-10-20 14:06] GuillaumeCisco commented on #13049
Ok just found why.
I launched my electron app like:
[code]

If an error occurred before the `did-finish-load` event has complete, the window was never showed.
Simply passing `show` parameter from `false` to `true` helped me see the app, and detect that I did not copy my `grpc_node.node` in another folder that was needed for the electron app to run.

I succeeded all this debug thanks to chrome and

[2017-10-20 14:06] #13049 closed

[2017-10-20 14:14] randomshinichi commented on #1165
@LiranLast Hi, we've also found the need for a python-grpc package for Debian. I was just wondering if you managed to roll your own and host it on a PPA somewhere?

[2017-10-20 17:41] bfetscher commented on #12988
Longshot feature request: it would be great if the pre and post-compression sizes were available so they could be logged for analysis.

[2017-10-20 17:47] murgatroid99 commented on #13049
I would like to note that with the variables you mentioned exporting, you can actually omit the last one (`export npm_config_build_from_source=true`). If you do, it will attempt to install the precompiled `grpc_node.node` that we distribute.

[2017-10-20 18:39] matt-kwong opened #13085 "MacOS grpc-node fails to generate .xml logs"
https://sponge.corp.google.com/target?id=16e080b6-dc77-4703-9378-833fda02f9ea&target=github/grpc/grpc-node_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]
It looks like `merge_kokoro_logs.js` is failing, but the it's still showing up as a target on Sponge, so I'm not sure what the issue is here.

[2017-10-20 19:06] markdroth commented on #12506
I've asked David to look into trying to reproduce this locally so that we can try to figure out what's causing the problem.

[2017-10-20 19:25] murgatroid99 commented on #13071
We are addressing this in the next release, 1.7.0. Prerelease packages for that will be published soon.

[2017-10-20 19:41] murgatroid99 commented on #13085
I notice that that test log also shows that at least one test run crashed due to #12932. I suspect that resulted in an invalid XML file.

[2017-10-20 19:49] mehrdada commented on #13050
Is there a way for you to set `GPRC_TRACE=all GPRC_VERBOSITY=debug` environment variables for the process hosting gRPC to get some trace information?

[2017-10-20 19:56] mehrdada commented on #13050
Nevermind... I did some fancy grepping to extract the info :)

[2017-10-20 22:13] JakaBac opened #13088 "Windows gRPC C core memory leak"
### Should this be an issue in the gRPC issue tracker?
Yes, I believe so

### What version of gRPC and what language are you using?
C++ master branch and also v1.6.x (current https://grpc.io/release)

### What operating system (Linux, Windows, …) and version?
Windows 10 version 1709 OS Build 16299.19

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC 2017 (15.4

[2017-10-20 23:00] apolcyn opened #13089 "FAILURE: json_run_localhost:cpp_generic_async_streaming_qps_unconstrained_10mps_secure_low_thread_count GRPC_POLL_STRATEGY=poll-cv"
Looks possibly similar to https://github.com/grpc/grpc/issues/12111, but under this different scenario

[code]

https://sponge.corp.google.com/target?id=990e48a3-8784-4173-a40d-0f334b7f259d&target=github/grpc/c%2B%2B_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS, ran off of PR: https://github.com/grpc/grpc/pull/13031

[2017-10-20 23:15] apolcyn commented on #12913
slightly different error log seen in

(with `E1017 17:59:32.843141097   27813 resource_quota_server.c:258] Unexpected status code: 2` being logged here)

[code]

https://sponge.corp.google.com/target?id=b2801c29-f027-471b-a783-8124e981c539&target=github/grpc/c_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2017-10-20 23:29] apolcyn opened #13090 "FAILURE: bins/tsan/h2_http_proxy_nosec_test stream_compression_ping_pong_streaming GRPC_POLL_STRATEGY=epoll1"
[code]

https://sponge.corp.google.com/target?id=b2801c29-f027-471b-a783-8124e981c539&target=github/grpc/c_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

seen on PR: https://github.com/grpc/grpc/pull/13031

[2017-10-20 23:43] apolcyn opened #13091 "FAILURE: cmake/build/Debug/h2_proxy_test.exe"
[code]

https://sponge.corp.google.com/target?id=5303f474-1c25-487d-81c6-5f801a863693&target=github/grpc/c_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

seen in PR: https://github.com/grpc/grpc/pull/13031, this is currently failing on windows master (e.g. on this kokoro windows master test run: https://sponge.corp.google.com/invocation?id=90dedf46-ac15-4f51-93d8-42766aa3d461&searchFor=)

[2017-10-21 00:10] vjpai commented on #13019
Cc: @slash-lib @jeady (soliciting opinions)

[2017-10-21 00:40] #12853 closed

[2017-10-21 01:32] jamesTheKid opened #13095 "ld: framework not found GRPCClient ,"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 Yes

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questi

[2017-10-21 08:10] LiranLast commented on #1165
@randomshinichi We have decided to settle on pip install for the last few months and provide the customer with a bash file for installation.

We are unhappy with installing a Python product on the customer's servers and are seriously considering porting this product to a native, compiled language.

[2017-10-21 12:27] ravikamaraj commented on #12506
@markdroth
Please find trace logs for patch #12878 with 1.6.1
[code]

[2017-10-21 18:22] nathanielmanistaatgoogle opened #13096 "Document and test failing to bind a port on a server"
I believe that what will happen is that `grpc.Server.add_insecure_port` and `grpc.Server.add_secure_port` return `0` when they fail, but [we don't currently document this](https://github.com/grpc/grpc/blob/c563b583cb9b7fecc33971581368796d2df4759d/src/python/grpcio/grpc/__init__.py#L950-L983) and I don't recall our having a test for it.

[2017-10-21 18:24] nathanielmanistaatgoogle commented on #13096
(gRPC Python should probably raise an exception when failing to bind a port?)

[2017-10-21 18:38] mehrdada commented on #13096
I think that is the Python behavior indeed, which is curiously different from C++ ServerBuilder, where the actual binding gets deferred to server initialization, therefore, the integer output argument that gets filled only gets written to later in the server creation step and not immediately after AddPort.

[2017-10-22 02:53] kkm000 commented on #10699
This is an interesting topic. The biggest problem with NuGet native packages is that they are... well, big. I have a build script that patches CMakeFile (the recent going back and forth with gRPC_INSTALL did not cut it for packaging, unfortunately), runs CMake, builds and packages things for our internal use, even adding .props and  .targets and a XAML property sheet so that proto files become a f

[2017-10-22 03:08] kkm000 opened #13098 "No need to package 64-bit protoc and C# codegen for Windows"
~~Minor packaging issue: no point in keeping 64-bit protoc.exe and the C# codegen plugin in the Grps.Tools NuGet packages. There is no 64-bit Windows in the world that would be incapable of running 32-bit executables (in fact, many programs are 32-bit only; Visual Studio and Firefox are just two examples).~~

**NOTE** (2018-12-07):
The issue is now invalid. There *is* a variant of Windows distribu

[2017-10-22 08:45] r3h0 commented on #12814
@FDUdannychen I was able to get around this by adding both Google.Protobuf.Tools and Grpc.Tools with NuGet, then including `$(NuGetPackageRoot)\Google.Protobuf.Tools.3.4.0\tools` in the protoc.exe build step.

It's still a bit of a hack, but at least it doesn't require manually copying any files over.

[2017-10-22 10:24] PowerInside commented on #12536
Reopen this issue? Because the boringssl submodule needs to be updated and the npm module version bumped for the issue to be completely resolved, right? grpc 1.6.6 for Node.js still has this issue.

Related PR: https://github.com/grpc/grpc/pull/12922

[2017-10-22 16:58] tg123 commented on #9377
ugly fix within my logger

[code]

[2017-10-23 02:07] luchunminglu opened #13102 "“An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full” after long run when server down"
os: win server 2012
grpc version:1.6.1
.net framework:4.5

I run the following code for about two days . In this test, i doesn't start the server, after two days, every application on the machine can't establish outgoing tcp connect.
every time you want to build a new outgoing socket, a errors like this throwed.
“An operation on a socket could not be performed because the system lacked sufficient

[2017-10-23 02:25] kkm000 commented on #4805
Xref: #10699 #13098

I'll look into this again.

Another issue I noticed was standard protobuf includes (.proto files in the protobuf/include directory) were not packaged, only the compiler itself.

[2017-10-23 02:30] luchunminglu commented on #13102
[code]

[2017-10-23 07:42] bradennapier commented on #11435
this sucks....,. you broke my entire app with this bs... there is no way to use any google products with any serverless products now... how do i make these work? ??????????

i dont give two shits about anything but node but this does not work on node either so.... uhh... .yeah......

[code]

[2017-10-23 08:57] bradennapier commented on #6443
The build for the next version appears to resolve this

https://storage.googleapis.com/firebase-admin-node/firebase-admin-5.4.3-rc0.tgz

[2017-10-23 09:37] NanXiao commented on #12897
@apolcyn @murgatroid99 @markdroth Is there any update on this issue? Thanks!

[2017-10-23 10:15] shaunakpp opened #13103 "[Ruby] Reporting a Segmentation fault in grpc when querying Google Cloud Datastore"
gRPC version: grpc-1.6.6-x86_64-linux

Operating System: Ubuntu 14.04 LTS
 Compiler: gcc

I was running queries to Google Cloud Datastore via Background processing.
I was using Sidekiq for background processing

Here's the stack trace for the exception raised:

[code]

[2017-10-23 14:10] markdroth commented on #12897
I'm the right person to fix this, but it may be a couple of weeks before I have time to look at it.  I'll update the bug when I do.

[2017-10-23 17:07] apolcyn commented on #13103
From the trace here, it looks like this is happening during unmarshalling of a protobuf message. But it also looks like this was using an older version of the `google-protobuf` gem, at `google-protobuf-3.2.0.2-x86_64-linux`.

There have been some bug fixes for the `google-protobuf` gem since that version was released. Are you able to see if upgrading to the latest version of `google-protobuf` fixe

[2017-10-23 18:30] slash-lib commented on #13019
Looks good - except 5: isn't the protobuf serialized serially (!) before Write returns?

[2017-10-23 18:43] boumarc1 commented on #13050
Our setup is using DJango with mod_wsgi on Apache httpd.  It is based on the django documentation:
https://docs.djangoproject.com/en/1.11/howto/deployment/wsgi/modwsgi

In case it helps, I detailed the version we're using
Python 2.7.13
Apache Httpd 2.4.27
mod_wsgi 4.5.17
django 1.11.2

[2017-10-23 19:26] ctiller commented on #13019
Currently true but we might want to make it less true (serialized before write completes) and push serialization down our stack... The advantage being we can get better cache coherency and we don't need to hold the entire serialized message in memory at once.

[2017-10-23 20:07] slash-lib commented on #13019
I see your point, but it means IMO the API is incorrect: Write should take a const*, not a const& - it's a common idiom that const& does not need to outlive the function call.

[2017-10-23 21:44] #12310 closed

[2017-10-23 21:45] #12614 closed

[2017-10-23 21:50] ncteisen commented on #13035
On opt/dbg/asan, the runtime is down to a few minutes. Tsan still shows certain cases taking 20 or 30 minutes. Maybe we disable benchmarks from running under TSAN?

[2017-10-23 22:37] NanXiao commented on #12897
@markdroth Got it, thanks!

[2017-10-24 01:26] ZhouyihaiDing commented on #12904
Do we need to add "upload bigquery" and "build failed" checking for every PR? @jtattermusch
This issue happened 2 times again after I posted this issue. Each time it took several days before someone discover it.
Or do we run patch_scenario_results_schema.py before running the benchmark?
The latest data in the dashboard is run on Oct, 18th.

[2017-10-24 02:21] luchunminglu commented on #13088
the grpc server and client i write in .net consumes 10mb more momery every day

[2017-10-24 03:04] y-zeng opened #13115 "TIMEOUT: bins/opt/thread_stress_test --gtest_filter=AsyncClientEnd2endTest/3.ThreadStress GRPC_POLL_STRATEGY=epollex"
[code]

[2017-10-24 03:12] y-zeng commented on #13089
Seen again in the following scenarios:
[code]
[code]

[2017-10-24 07:54] jtattermusch commented on #13088
@JakaBac thanks for the detailed analysis. We'll look into that!

[2017-10-24 09:04] slide333333 opened #13117 "Use custom logger instead of root logger"
Hi,
as far as I can see all logging is done using the root logger instead of defining a custom logger. This makes it difficult to configure the logging for larger applications.

[2017-10-24 09:29] jtattermusch commented on #12904
I think having a way to check if a PR will break uploading to bigquery would be pretty useful.
Do you have any suggestions how would such "sanity" test look like?

I think running patch_scenario_results_schema.py automatically (and blindly) is too much of a risk that we'll end up with a very messy (or broken) schema. Having a check that the schema is up to date so that we find out before merging w

[2017-10-24 09:40] jtattermusch commented on #13035
@ncteisen if we don't need to run bm_fullstack_trickle under TSAN, we could definitely disable them. But I'm not the right person to decide if disabling if we need them under TSAN or not (I don't have much insight into what those tests are doing).

[2017-10-24 10:13] shaunakpp commented on #13103
Yes, that worked! @apolcyn Thank you so much for such a quick response!

[2017-10-24 11:35] jtattermusch commented on #12977
@dgquintas feel free to reassign.

[2017-10-24 13:04] jtattermusch commented on #13098
@kkm000, you're right thanks for filing this. We might get rid of the win64 binary at some point, but because it's not really blocking for anyone, the priority of this issue is pretty low.

[2017-10-24 13:30] DJWalker42 opened #13120 "[Scientific Linux] build error: flow_control.c missing limits.h include?"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes (but it's minor)

### What version of gRPC and what language are you using?
 version: 1.6.x
lang: C/C++

### What operating system (Linux, Windows, …) and version?
 Scientific Linux 7.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc versi

[2017-10-24 15:26] ncteisen commented on #13035
The tests are mostly duplicated logic of other tests anyway. They just have a mocked out bottom layer that 'trickles' bytes through instead of lets them all flow. This has actually caught some bugs under asan and dbg, but I don't think tsan has been that useful.

I will put a PR to disable, and get @ctiller approval as the final vote here.

[2017-10-24 15:28] dgquintas opened #13122 "json_run_localhost:cpp_protobuf_sync_streaming_from_server_qps_unconstrained_secure_low_thread_count timeout (on ASAN and TSAN)"
[code]

[2017-10-24 15:34] dgquintas opened #13124 "bins/opt/h2_http_proxy_test resource_quota_server assertion failure"

[2017-10-24 15:45] dgquintas opened #13125 "bins/tsan/concurrent_connectivity_test"
Note that it's a TSAN failure, under `epollex`, which is not the same as other issues for the same test described in #11383

[2017-10-24 16:39] dgquintas opened #13126 "Multiple failures in grpc/ubuntu/pull_request/grpc_microbenchmark_diff for BM_StreamingPingPongWithCoalescingApi"
The generated log is huge (~400 MB). The best way to parse it is by grepping the file from its CNS location (which can be found on [the test results page](https://sponge.corp.google.com/target?id=a7113efa-c14b-42d7-b499-f84060276406&target=grpc%2Fubuntu%2Fpull_request%2Fgrpc_microbenchmark_diff&searchFor=)): `$ fileutil cat .../build.log | grep FAILED`. It results in:

[code]

[2017-10-24 17:20] dgquintas opened #13128 "Investigate LB policies behavior under epollex"
It seems epollex doesn't get along with the current LB code (see #13080 and #13081).

In particular, for #13080:
There are 3 subchannels, one per server. When the servers are killed as part of the test, it's expected that the subchannel connectivity callback are invoked. However, with epollex (or poll, which exhibits the same behavior), only one callback out of the three seems to be invoked. This

[2017-10-24 17:23] dgquintas opened #13129 "cloud_to_cloud:node:python_server:large_unary timeout"
https://sponge.corp.google.com/target?id=03fbaf7f-f1d7-4e71-acf4-5595107a947c&target=grpc/ubuntu/pull_request/grpc_interop_tocloud&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-10-24 17:24] dgquintas opened #13130 "cloud_to_cloud:node:ruby_server:large_unary timeout"
https://sponge.corp.google.com/target?id=03fbaf7f-f1d7-4e71-acf4-5595107a947c&target=grpc/ubuntu/pull_request/grpc_interop_tocloud&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-10-24 17:27] dgquintas opened #13131 "bins/dbg/status_conversion_test assertion failure (timeout)"
https://sponge.corp.google.com/target?id=1d1769b4-ef51-4fb6-a09d-b6b45ca3cb1b&target=github/grpc/c_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-10-24 17:44] markdroth opened #13132 "bins/dbg/dualstack_socket_test GRPC_POLL_STRATEGY=poll"
https://sponge.corp.google.com/target?id=916ace07-4b07-449c-83fa-eff663f152ca&target=github/grpc/c_linux_dbg_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-10-24 18:13] AspirinSJL opened #13133 "timeout error: json_run_localhost:cpp_protobuf_async_streaming_from_server_qps_unconstrained_secure GRPC_POLL_STRATEGY=epollsig"
https://sponge.corp.google.com/target?id=73e2455a-238a-4911-90e2-dcae5f88a340&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-10-24 18:21] AspirinSJL commented on #13122
Similar issue for `json_run_localhost:cpp_protobuf_sync_streaming_from_server_ping_pong_secure GRPC_POLL_STRATEGY=poll`.

[code]

[2017-10-24 18:25] ctiller commented on #13126
I have an attempted fix in my pr list, I suspect it needs another round or
two of iteration

On Tue, Oct 24, 2017, 9:39 AM David G. Quintas <notifications@github.com>
wrote:

[2017-10-24 18:33] y-zeng commented on #13124
Also seen under asan.

[2017-10-24 18:41] y-zeng opened #13134 "objc-tests build failure"
[code]

[2017-10-24 18:59] tamaskaroly commented on #11686
I really loved if I could use gRPC on an ARM-based embedded Linux! Could you point me to any documentation about how to cross-compile the C core? Thanks.

[2017-10-24 19:19] #8545 closed

[2017-10-24 19:22] jamesgua opened #13136 "Fail to compile on Mac OS x"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
 Yes, it fail to compile
Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stack

[2017-10-24 20:54] spinorx commented on #10700
I got it to build with NDK.  See:  https://github.com/grpc/grpc/pull/13011 .  When run on device I get UNAVAILABLE (14) status code.

I am motivated to make it work on android with NDK since I want to share C++ common model between iOS and Android.  Any pointers to help debug this will be appreciated :)

[2017-10-24 21:24] JakaBac commented on #13088
The patch also fixes csharp memory leak on Windows (also uses `grpc_tcp_create`). I built the csharp debug bits and tested with/without the patch and confirmed behaviour using native heap profiling in VS.
This probably affects all gRPC servers on Windows which use the C low level OS abstraction library.

[2017-10-24 22:15] dgquintas commented on #13081
Duplicate of #13128

[2017-10-24 22:15] #13081 closed

[2017-10-24 22:15] dgquintas commented on #13080
Duplicate of #13128

[2017-10-24 22:15] #13080 closed

[2017-10-24 22:39] kkm000 commented on #13088
Thanks! 'fraid I am seeing the leak too (64-bit windows C++ server, gRPC built off the tag v1.6.6).

[2017-10-24 22:54] #13134 closed

[2017-10-25 07:28] JakaBac commented on #13088
I believe that everything that is based on C core starting with v1.3.0 is affected (did not test, just had a quick look)

[2017-10-25 11:53] jtattermusch commented on #11686
@tamaskaroly  sorry, we currently don't have any official docs for how to crosscompile C-core.

C# support for ARM is currently not on our roadmap, but in order to make it work, you'd only need to crosscompile libgrpc_csharp_ext.so  for your platform. You can try either with our Makefile (`make grpc_csharp_ext`) or by using cmake (the C# extension is one of the easier targets to build).
Feel free

[2017-10-25 15:57] markdroth commented on #12830
I take back what I said about; I think this is actually a separate issue from #12867.

We definitely cannot eliminate the deadline for handshaking.  There needs to be one, or else there is the possibility of DoS attacks by clients establishing many TCP connections and then never sending any subsequent packets.  However, I am open to the possibility of setting the deadline for this to some other va

[2017-10-25 15:59] markdroth commented on #12830
Actually, further thought: This may not be a DoS attack issue, since this is the client side, not the server side.  I need to check where we set this deadline on the server side, but that's a separate issue.

Still, I do think a deadline on the client side is also valuable, although as I said above, it may make sense to set it to something unrelated to the reconnection backoff value.

[2017-10-25 16:09] alanctgardner commented on #12830
To provide an example of how I'm thinking about backoff, look at [gax-go](https://github.com/googleapis/gax-go/blob/master/call_option.go#L83-L95) - the backoff retrier:
- issues the call (which may have an associated timeout)
- the call returns an error
- the backoff retrier starts the backoff window
- the retrier makes another call after the backoff window has elapsed

By contrast this code:
- S

[2017-10-25 16:25] dfawley commented on #12830
FWIW, Go uses a 20 second minimum timeout for client-side connection establishment, and goes up from there as the backoff grows.  I am not familiar with the history/rationale of that implementation.

Relevant code:
https://github.com/grpc/grpc-go/blob/5856538706dc3abc44dd5ba1a8bb19a0dfb1ab25/clientconn.go#L918

[2017-10-25 16:36] ZhouyihaiDing commented on #12886
I get log like this:
Starting test 'ChannelTest::testWatchConnectivityState'.
[code]
Current status is IDLE(0).
For watch connectivity state test, grpc_channel_watch_connectivity_state find that `CONWATCH: 0x3cd7280 client_channel: from CONNECTING [cur=IDLE] notify=0x3cd65c0` then the event get from `cq_end_op_for_pluck` is `event.type=OP_COMPLETE` while `event.success=false`.
Is `event.success=fa

[2017-10-25 17:35] markdroth commented on #12830
Doug, the connection backoff spec for establishing a TCP connection is here:

https://github.com/grpc/grpc/blob/master/doc/connection-backoff.md

The question in this particular bug is what deadline to use for whatever handshaking has to be done after the TCP connection has been established.

[2017-10-25 18:18] alanctgardner commented on #12830
Reading that pseudocode made it clearer to me how this parameter is intended to work - you set a deadline for the connection to succeed, and if it times out you immediately retry. In other failure modes you may end up sleeping for some time during the backoff, but in the timeout case the timeout pulls double duty as the backoff time. There is no way to have a timeout longer than the backoff interv

[2017-10-25 18:31] dfawley commented on #12830
I think the spec isn't clear.  Apparently Go's interpretation of it was that "TryConnect" _included_ the TLS and HTTP/2 handshaking steps as well, while it sounds like you're saying C is only counting the TCP handshake.

[2017-10-25 18:39] jamesgua commented on #13136
Solved by compiling protocol buffer from source, on Mac I had an previous installed descriptor.pb.h from protobuf which doesn't have method mentioned above.

[2017-10-25 18:39] #13136 closed

[2017-10-25 19:14] adelez commented on #12941
This looks like the same failure I reported in #12932.

[2017-10-25 19:14] #12941 closed

[2017-10-25 19:16] adelez opened #13142 "objc_macos_dbg_native failed to build on Mac"
/Volumes/BuildData/tmpfs/src/github/grpc/workspace_objc_macos_dbg_native/src/core/ext/transport/chttp2/transport/flow_control.cc:168:44: error: implicit conversion loses integer precision: 'int64_t' (aka 'long long') to 'const uint32_t' (aka 'const unsigned int') [-Werror,-Wshorten-64-to-32]
  const uint32_t target_announced_window = target_window();
[code]

[2017-10-25 19:18] adelez commented on #13142
The other built failure in the same run:
PhaseScriptExecution [CP]\ Check\ Pods\ Manifest.lock /Users/kbuilder/Library/Developer/Xcode/DerivedData/Sample-grxnrfbqheccwbceveswiaozemit/Build/Intermediates/Sample.build/Debug-iphonesimulator/Sample.build/Script-41F7486D8F66994B0BFB84AF.sh
    /bin/sh -c /Users/kbuilder/Library/Developer/Xcode/DerivedData/Sample-grxnrfbqheccwbceveswiaozemit/Build/Inter

[2017-10-25 19:19] muxi commented on #13142
Fixed by #13094

[2017-10-25 19:19] #13142 closed

[2017-10-25 20:15] ejona86 commented on #12830
Java teams' understanding of TryConnect is that it includes TLS and HTTP/2. Note that otherwise you would need another timeout in place (which we'd all agree there is no such other timeout defined). Using the deadline from TryConnect allows you to get the auto-increasing timeout that allows connecting in pathological conditions. But I will note that the proper timeout handling [is not implemented

[2017-10-25 20:47] rolyatwilson commented on #12566
I am seeing a similar build error on macOS for `use of undeclared identifier 'INT_MAX'`:

`[C]       Compiling src/core/ext/transport/chttp2/transport/flow_control.c
src/core/ext/transport/chttp2/transport/flow_control.c:486:49: error: use of undeclared identifier 'INT_MAX'
          GPR_MAX((int32_t)GPR_CLAMP(bw_dbl, 0, INT_MAX) / 1000, bdp), 16384,

[2017-10-25 21:16] murgatroid99 commented on #13129
This is probably related to #13130. This failure has also been seen with a Node client and a C++ server: https://sponge.corp.google.com/target?id=96b2d46f-48bb-4125-a231-2cec4e5a69c3&target=grpc/ubuntu/pull_request/grpc_interop_tocloud&searchFor=&show=ALL&sortBy=STATUS

[2017-10-25 21:47] zerola commented on #13120
I have the same issue with CentOS:7.

[2017-10-26 00:32] dgquintas opened #13148 "thread_stress_test --gtest_filter=AsyncClientEnd2endTest.ThreadStress newly flaky (TIMEOUT)"
From new flakes report:
[code]

https://sponge.corp.google.com/target?id=4b44af1a-8055-41af-847c-e61a031796dc&target=grpc/ubuntu/master/grpc_basictests_c_cpp_dbg&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-10-26 00:34] dgquintas opened #13149 "h2_sockpair_test.exe shutdown_finishes_calls newly flakes on windows"
From new flakes report:
[code]

https://sponge.corp.google.com/target?id=8176946b-0c65-41e6-bb71-b9551aa8edcd&target=grpc/windows/master/grpc_basictests&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-10-26 06:48] shaunakpp commented on #13103
Hi @apolcyn, I'm sorry to re-open this, but even after updating the necessary gems I'm still getting this error, although now it occurs less frequently than before. I've listed the gems installed which use grpc in my system.
[code]

[2017-10-26 09:26] kedare commented on #5014
I confirm this would be a big plus.
Personally libraries or framework not enforcing PEP8 naming convention are a no-go.
For now I suppose the workaround would be to write a wrapper around around each generated code.

[2017-10-26 10:22] jtattermusch commented on #13124
This is also happening for other pollers:
[code]

Currently it's failing 100% of master builds (dbg and opt).

[2017-10-26 10:35] jtattermusch commented on #12918
Seems fixes. I will file an issue for remaining failing windows tests.

[2017-10-26 10:35] #12918 closed

[2017-10-26 10:39] jtattermusch commented on #13131
Also failing on Windows with the same error:
[code]
https://sponge.corp.google.com/target?id=d74eadfa-b4ad-450e-ad6c-1af8ec0007f0&target=github/grpc/c_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-10-26 10:39] jtattermusch commented on #13131
Seems failing in 100% cases.

[2017-10-26 10:42] jtattermusch commented on #12960
Dupe of https://github.com/grpc/grpc/issues/13131.

[2017-10-26 10:42] #12960 closed

[2017-10-26 10:55] jtattermusch commented on #11383
Seeing this less often now, dropping the P1 label.

[2017-10-26 10:58] jtattermusch commented on #11383
Looks like this might have been fixed by https://github.com/grpc/grpc/pull/13031.

[2017-10-26 11:05] jtattermusch opened #13150 "Multiple python tests on Windows timing out (in 100% cases)"
https://sponge.corp.google.com/target?id=3e5a052a-9fb2-46e9-be2f-6425d19036f9&target=github/grpc/python_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

These test cases are Timing out in 100% cases
[code]

[2017-10-26 11:38] jtattermusch opened #13151 "Node: merge_kokoro_logs.js: Cannot read property 'testsuites' of null"
I saw this in recent builds, not sure how significant it is.
[code]

[2017-10-26 11:48] #11383 closed

[2017-10-26 12:01] jtattermusch commented on #13079
~10 tests failing 100% of time -> escalating to P0.

[2017-10-26 12:01] jtattermusch commented on #13079
@dgquintas, who's the right person to fix?

[2017-10-26 12:02] jtattermusch commented on #13131
failing in 100% cases both on Mac and Windows -> raising to P0

[2017-10-26 12:05] jtattermusch commented on #13124
Multiple tests failing 100% of cases in both dbg and opt -> raising to P0.

[2017-10-26 12:13] markbarks commented on #9377
@tg123 How did you set this logger? I have my own implementation of `Grpc.Core.Logging.ILogger` that I have set using `GrpcEnvironment.SetLogger(new GrpcNLogger());`, however this is still bypassed by the `RpcException` line:

First line is gRPC logging via my GrpcNLogger, second is the RpcException.
[code]

[2017-10-26 12:24] jtattermusch commented on #11213
Seems fixed (https://github.com/grpc/grpc/pull/13094)

[2017-10-26 12:24] #11213 closed

[2017-10-26 12:37] jtattermusch opened #13152 "Interop tests build fails: "TIMEOUT: build_docker_XXX""
Looks like downloading from dockerhub might be getting stuck for some reason.
[code]

[2017-10-26 12:55] jtattermusch commented on #12510
Only seeing this occasionally now, removing P0 label.

[2017-10-26 14:06] jtattermusch opened #13155 "Some instances of stats_test take >20mins on ASAN"
stats_test are taking very long time under ASAN and also have high CPU load.
We need to reduce our total test runtime and I suspect we can spend the resources we have more usefully.
(See https://github.com/grpc/grpc/issues/11690)

[code]

[2017-10-26 14:07] jtattermusch commented on #13155
CC @dgquintas

[2017-10-26 14:19] jtattermusch commented on #13155
stats_test also takes ~10mins on dbg & opt.

[2017-10-26 14:28] jtattermusch commented on #12510
The test is still timing out on TSAN with high rate.
`json_run_localhost:cpp_protobuf_sync_streaming_from_server_qps_unconstrained_insecure_low_thread_count`
e.g. https://sponge.corp.google.com/invocation?id=b85e9765-1a03-4839-9335-b109753f3ce3&searchFor=

[2017-10-26 14:35] r3h0 commented on #8682
@wenbozhu @zinuga could I please get early access to grpc-web? Thanks!

[2017-10-26 14:43] markdroth commented on #12830
I agree that the spec for this is not entirely clear.  We will at some point in the future write a new spec for all aspects of client channel behavior, including reconnection backoff, connectivity state semantics, and resolver and LB policy behavior.  But for now, let's do the best we can with what we've got.

C-core does actually include TLS handshaking in the connection attempt.  It does *not* c

[2017-10-26 14:51] ctiller commented on #12830
Hoping we end up somewhere like:
- next retry attempt is the initial deadline
- we guarantee not to time out for at least 20 seconds after any progress
towards connecting is made

On Thu, Oct 26, 2017, 7:44 AM Mark D. Roth <notifications@github.com> wrote:

[2017-10-26 15:30] ncteisen commented on #13131
I assume this is an interaction between the timer overhaul (#12677) and grpc_http2_error_to_grpc_status, which depends on grpc_exec_ctx_now. I'll take a look now

[2017-10-26 15:43] markdroth commented on #12830
We can probably do that as a future optimization.  Right now, let's focus on fixing our existing broken behavior.

[2017-10-26 16:45] thassss commented on #12081
I was able to get rid of the warnings in my project by putting this post install script in my Podfile.

[code]

[2017-10-26 16:52] #13088 closed

[2017-10-26 17:25] muxi commented on #12566
Could you let me know which version of gRPC are you using? Our CI currently shows OK and we have switched to .cc for this file in master so this error is a bit strange for us to see.

[2017-10-26 17:34] murgatroid99 commented on #13151
I think this is the same as #13085

[2017-10-26 17:34] #13151 closed

[2017-10-26 17:38] dgquintas commented on #13148
Likely related, now it's `End2endTest/3.ThreadStress` timing out.

 https://sponge.corp.googleusercontent.com/file?invocationId=cc564688-aaf4-4b3d-9cd9-416737ae1914&targetResultIndex=0&largeText=Test+Log&filename=test.log&contentType=text/plain&format=streamed

[code]

[2017-10-26 17:40] dgquintas opened #13160 "h2_ssl_proxy_test cancel_after_round_trip times out under epollex"
https://sponge.corp.google.com/target?id=7e76d0ad-cddb-46eb-9ca4-5154d4a62067&target=grpc/ubuntu/sanitizer/grpc_c_ubsan&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-10-26 18:08] ctiller commented on #12830
I mention it because not moving the timeout is broken behavior if we're
making progress, and the implementation ought to be trivial:

Expose a grpc_millis for the last activity to each component (this is also
helpful a gpr_atm). Store now blindly to it whenever we make progress.

At connection start time, start a timer with our initial guess. When it
expires check if now >= 20+last activity, if it

[2017-10-26 18:23] nathanielmanistaatgoogle commented on #5014
@kedare: can you tell us more about your use case? Is the issue purely cosmetic, or are there non-cosmetic consequences of the current behavior? A big part of the desire to avoid name-massaging is that service and method names as given in `.proto` files are application-specified strings, and we try very hard to keep application-specified values unmolested and sacrosanct. Also are you working only

[2017-10-26 18:30] ashrithr commented on #13120
Same issue on CentOS 7. I had to add `#include <limits.h>` to make it work.

[2017-10-26 18:40] dfawley commented on #12830
This assumes that activity is an indication of making progress, and I don't believe that's necessarily true, because we are running user handshaking code for at least one phase of this.  I think it would be more appropriate to set a deadline on the full connection establishment so that if the handshaking is confused and can't properly complete (but still generates traffic), it will still eventuall

[2017-10-26 18:42] dgquintas commented on #12830
@markdroth , regarding "we should let it continue until either it finishes or 20 seconds have elapsed, at which point we immediately make the next attempt.", that's not the way the spec currently describes the behavior. I presume you are suggesting the following:

[code]

That is to say, we only backoff upon **explicit failures**, not _timeouts_.

@markdroth does this describe your intent?

[2017-10-26 19:02] muxi commented on #12081
Thanks @thassss. It is a good local fix for someone who really want to get rid of this warning and do not mind hacking their Podfile. The PR by @paulb777 above will resolve this problem from inside Cocoapods.

[2017-10-26 19:58] markdroth commented on #12830
No, I did not mean that we should differentiate between explicit failures and timeouts; that difference should be irrelevant to the backoff calculation.  I think the pseudo-code in the spec is fine as-is.

What I mean is that, because the deadline for the current connection attempt may be longer than the backoff, if the current attempt fails after taking longer than the backoff amount, we should r

[2017-10-26 20:15] markdroth commented on #12830
Doug, I'm not actually worried about that case, because if the handshaking code is actively talking but not making progress, there's no reason to think that it will behave any differently on the next attempt.  So in principle, I agree with Craig that it should be preferable to defer the timeout if we are making progress.

That having been said, I would prefer not to make this change now, for two r

[2017-10-26 20:46] boumarc1 commented on #13050
When looking at the NotWorking log, it looks like the service is freezing when using the CompletionQueue, which is part of the Windows I/O Completion Ports API.  Both Grpc and Httpd implementation create a CompletionQueue from that API, using all threads available.  It is possible that the issue happens because the wsgi_mod is in the httpd process, so httpd and our Grpc client are both creating a

[2017-10-26 20:57] ctiller opened #13162 "Remove the ability to disable tests from run_tests, grpc_cc_test"
Instead, substitute a 'disable_until' flag, that takes a date.

Semantics: test will stay disabled until that date.
After that date a new PR will need to be submitted to re-disable it.

Add a linter to ensure a maximum bound on disable dates (suggest 2 weeks).

[2017-10-26 21:07] ZhouyihaiDing commented on #12886
Is the grpc_completion_queue_pluck behavior changes? I have a branch which updated on September 25th (a1fbca0fa5e3c896a8f250aa1e1ffe2fedeec3a3) and this test works.

[2017-10-26 21:41] ctiller commented on #12830
Sounds good. A small nuance I think was missed and worth noting: the
timestamp should be updated when progress is made. This is different to
receiving or sending bytes: I'd lean towards only updating on state
transition boundaries, and possibly not even all of them. Such a scheme
would (I believe) be robust against the failure case Doug is concerned with
also.

On Thu, Oct 26, 2017, 1:15 PM Mark D

[2017-10-26 21:47] vlindhol opened #13163 "grpc-node: Client hangs when trying to connect to unresponsive server"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Yes, it looks like a bug.

### What version of gRPC and what language are you using?

v1.6.6 (also tested on 1.6.7)

### What operating system (Linux, Windows, …) and version?

OSX 10.12.6 and a Docker container (linux version unknown).

### What runtime / compiler are you using (e.

[2017-10-26 21:55] ctiller commented on #13162
Additional nuance: disabled tests should still run on master

[2017-10-26 21:59] markdroth commented on #12830
Ah, I see -- so instead of updating the timestamp when we send or receive bytes, we would instead update it when (e.g.) an individual handshaker completes.  That makes sense.

Anyway, I've added this to my doc, so we can consider this further when we get a chance to look at this in more detail.

[2017-10-26 22:17] murgatroid99 commented on #13163
gRPC has per-call deadline functionality that should be used to prevent this problem. An optional options object can be passed to grpc request functions before the callback (or as the last argument for requests that don't use callbacks). One of these options is `deadline`, which should be set to a `Date` object indicating at what time the call should be considered to have timed out.

[2017-10-26 23:32] nicolasnoble commented on #13050
So, the way I think it's supposed to work is that each Completion Port has its own threadpool, and the value we specify on the creation is the one that is attached specifically for that Completion Port. These threads are created by the kernel, for the purpose of this Completion Port, and will only be used by the kernel to, well, execute the operations you're asking. Then it's possible to max out t

[2017-10-27 01:46] kkm000 commented on #10546
Probable Xref: #10453

[2017-10-27 02:11] kkm000 commented on #10453
@mck0225: Item 1 is certainly a bug, thanks! Can you please elaborate on the second one?

[2017-10-27 02:54] kkm000 commented on #10546
This is certainly the same error as #10453. The leaked allocations are Unicode strings for environment variables GRPC_VERBOSITY and GRPC_TRACE, queried by gRPC. 14 and 10 characters respectively, plus one for the null terminator, two bytes per character = respective 30 and 22.

[2017-10-27 07:23] lukaszspaczynski commented on #12566
1.6.7

[2017-10-27 08:05] jtattermusch commented on #12355
Support has been added in #12822.

[2017-10-27 08:05] #12355 closed

[2017-10-27 08:08] #12906 closed

[2017-10-27 08:29] jtattermusch commented on #11949
@Zeks  do you want to react to my comments?

[2017-10-27 08:32] luchunminglu commented on #13088
Still have memory leak in 1.7.0 both in client and server

[2017-10-27 08:54] Zeks commented on #11949
I am not sure what I can add. We are seeing two differing behaviours despite me following instructions from github letter by letter.  Maybe some obvious step is omitted that I dont follow because I don't usually use cmake for anything.

Also, if there is anything the build definitely needs it's that "build MTd, MDd" at the same time.

[2017-10-27 10:03] kedare commented on #5014
We have a platform with may different environments (C#, Go and Python mostly), and each language stay strictly to its naming convention.
So I would prefer when using Grpc having on the C#/Go side MyMethod binding to the python's my_method, and I suppose this could be done transparently without much issues.

It's purely cosmetic but I think it's important for each language to stick with its own sta

[2017-10-27 12:39] vlindhol commented on #13163
I see. Does grpc do something different when it comes to unreachable hosts? I mean, the usual pattern for network libraries is to immediately return an EUNREACHABLE error if the host is, well, unreachable. Does grpc do something like autoretrying, if `localhost2` would happen to suddenly come online?

Also note that if I'm trying to connect to `localhost` without a server running, grpc does return

[2017-10-27 13:36] jtattermusch commented on #13088
@luchunminglu, a fix for another leak https://github.com/grpc/grpc/pull/13169 will be in 1.7.1, would that resolve the problem you are seeing? If not, please file an issue with details about what you're experiencing.

[2017-10-27 14:09] yoni386 opened #13171 "grpc c++ / go async"
Hello,

How grpc async is compared in c++ and go? how scalable grpc is in c++?
 Can you add or explain how async call is mapped to os thread? currently I use go to connect to hounders / thousands  machines via grpc is it possible in c++ if yes then will it better or worse?
Mixing the server / client with grpc different languages is recommended?  for example grpc (c++) and clients will written in g

[2017-10-27 16:13] tyler-sommer commented on #8682
What exactly would be lost if the `grpc-web` repo was made public? Just disable issues except by maintainers or contributors if you're worried about noise. It doesn't make sense IMO to keep it pseudo-private except for anyone who asks for access-- might as well just let people see it.

[2017-10-27 16:24] ncteisen commented on #12566
Can you confirm that this was fixed by #13165?

[2017-10-27 16:24] #13120 closed

[2017-10-27 16:27] dgquintas opened #13172 "py34.test.unit.beta._face_interface_test.GenericInvokerFutureInvocationAsynchronousEventServiceTest new flake (timeout)"
[code]
https://sponge.corp.google.com/target?id=9c549450-d511-4779-8fdb-e9096c26b76b&target=grpc/macos/master/grpc_basictests_opt&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-10-27 16:50] muxi commented on #12566
@ncteisen Noah I think I will need to push a patch release to Cocoapods before any third party user can see the change reflected. Thank you for the fix!

[2017-10-27 17:15] murgatroid99 commented on #13163
And unreachable host in the context you're describing is what gRPC considers to be a DNS name that has not yet resolved. So, gRPC will auto-retry DNS resolution. I think you will get different results if you enter a specific non-existent IP address. A reachable host with no running server will reject the connection, which is a clear failure.

[2017-10-27 17:18] ncteisen opened #13175 ""CONFIG=counters make" doesn't work on MacOS"
Repro: `CONFIG=counters make` (from MacOS)

Error:

[code]

[2017-10-27 17:48] chrisalexander55 commented on #8528
Unfortunately, I am also experiencing this issue with a recent version of Alpine leveraged by official Node.js image: node:8.7.0-alpine. So I don't believe the fix is either live or resolving. Here is the stack I see when building my Docker image:

`[nodemon] starting `node dist/server.js`
module.js:653
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: Error loa

[2017-10-27 20:21] #13131 closed

[2017-10-27 20:36] wenbozhu commented on #8682
@tyler-sommer

I guess we do owe an explanation on this. grpc-web was initially developed for google's own projects and as a result, the development work all happens internally (still today). We are yet to go through the process to open-source the code base (inc. tests, inter-op, docs), and we are actively working on finishing the process (asap).

The purpose of the whitelist (aka early-access) wa

[2017-10-27 20:41] tyler-sommer commented on #8682
@wenbozhu Good to know, thanks for the insight! I know I'm looking forward to getting my hands on grpc-web. Looks like many others are too, so I'm glad that it seems the ball is still rolling toward a public release.

[2017-10-27 20:44] hsaliak commented on #8682
@tyler-sommer it is - we want to get this out as soon as possible and do as much development as we can on this in the open. As @wenbozhu mentioned, we have some process to go through and at the same time, take the opportunity to collect some indepth feedback from early adopters to make the project better

[2017-10-27 21:36] kpayson64 opened #13178 "cpp_protobuf_async_client_unary_1channel_64wide_128Breq_8MBresp_secure_low_thread_count failing consistently (on TSAN)"
[code]
https://sponge.corp.google.com/target?id=75a30064-0059-492e-a28f-c1d509694abc&target=grpc/ubuntu/pull_request/grpc_cpp_tsan&searchFor=&show=ALL&sortBy=STATUS

I suspect #13084 might be at fault.

[2017-10-28 00:01] mehrdada commented on #12694
`google/benchmark` submodule is updated on `master`. Closing this issue.

[2017-10-28 00:01] #12694 closed

[2017-10-28 00:42] kkm000 commented on #13088
@luchunminglu: Could you please do the following test? Set environment variables `GRPC_VERBOSITY` and `GRPC_TRACE` to an empty value (empty value for each won't change the behavior) and then see if you still have the leak you are mentioning in your last comment? The memory leak that @jtattermusch mentions happens only when either of these environment variables does not exist. If setting the variab

[2017-10-28 19:43] JakaBac commented on #13088
@luchunminglu,@kkm000  with the patch for this issue and PR #13169 pulled into v1.6.7 I don't see any obvious leaks when running a C++ server and a C++/C# client.

[2017-10-28 20:13] capone212 opened #13181 "Request for Public Key Pinning and TOFU support"
### What version of gRPC and what language are you using?
 C++ gRPC v1.6.6

### What operating system (Linux, Windows, …) and version?
Linux, Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 MSVC, GCC

Current C++ grpc API does not allow to implement public key / certificate pinning on client side.
OpenSSL has **SSL_CTX_set_verify**  which can be used to

[2017-10-28 20:16] nathanielmanistaatgoogle commented on #5014
@kedare: thank you for the very full answer. I think it's unlikely that we'll implement this ourselves, but thanks to what you've written it's likely that we'd accept a pull request from a contributor implementing it.

[2017-10-29 04:55] drausin commented on #8682
@wenbozhu, thank for the update. I'd also like early access, if still possible. Thanks!

[2017-10-29 13:05] tamaskaroly commented on #11686
I managed to compile grpc_csharp_ext using cmake! All I needed to do was
1) "source" your cross-compile environment (I was using the linaro toolchain)
2) mkdir build in the grpc repo root
3) cd build
4) cmake .. -DCMAKE_TOOLCHAIN_FILE= -Dprotobuf_BUILD_TESTS=Off -DgRPC_INSTALL=Off -DCMAKE_CROSSCOMPILING=1 -DRUN_HAVE_POSIX_REGEX=0
5) cd ..
6) make grpc_csharp_ext

@jtattermusch What is the strategy

[2017-10-30 02:29] onesea opened #13182 "java 9 not supported?"
/root/grpc-kotlin-hello/proto/src/main/java/io/grpc/examples/helloworld/GreeterGrpc.java:23: error: cannot find symbol
@javax.annotation.Generated(
                 ^
  symbol:   class Generated
  location: package javax.annotation
1 error

FAILURE: Build failed with an exception.

[2017-10-30 09:49] shindoknight opened #13183 "can't build the example"
I am studying gRPC.!
I am building the example Helloworld for C++ by command make in dir /grpc/examples/cpp/helloworld by it error:
DEPENDENCY ERROR

You don't have the grpc c++ protobuf plugin installed in your path.
Please install grpc. You can find it here:

   https://github.com/grpc/grpc

Here is what I get when trying to detect if you have the plugin:

which grpc_cpp_plugin
Makefile:104: rec

[2017-10-30 10:46] mushtaq commented on #9494
It will be really nice if grpc-java supports Reactive-Streams SPI. Is this being considered for a future release?

[2017-10-30 11:01] jtattermusch commented on #11686
@tamaskaroly  thanks for the input! Very useful to have a proof of concept on ARM.

AFAIR the names of the files (`grpc_csharp_ext.x86.so`) are based on what native nuget packages require (with the right subdir + filename, the native libraries are copied to the output directory when building automatically on newer platforms. On older platforms we have a msbuild .targets file that does that instead

[2017-10-30 11:02] #10453 closed

[2017-10-30 11:02] #10546 closed

[2017-10-30 11:49] jtattermusch commented on #13155
We'd need to address this to have some progress with https://github.com/grpc/grpc/issues/11690.

[2017-10-30 11:53] jtattermusch opened #13184 "grpc_microbenchmark_diff jobs take ~100mins for each run."
Test suites taking that long is incompatible with seeing PR tests results within a reasonable timeframe (#11690).

What can we do to reduce the runtime for microbenchmarks (e.g. so they take <1hr)?

[2017-10-30 14:15] markdroth opened #13186 "cloud_to_cloud:node:python_server:large_unary and cloud_to_cloud:node:ruby_server:large_unary timeouts"
https://sponge.corp.google.com/target?id=fd6e1380-681f-444e-ba90-631ddc1909a9&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

The logs don't say anything even remotely interesting for either test -- just "Timeout".

[2017-10-30 14:31] jtattermusch commented on #13122
https://sponge.corp.google.com/target?id=ec677a2c-c0cd-48c8-8117-afa0f5e04eb8&target=github/grpc/c%2B%2B_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2017-10-30 15:01] jtattermusch opened #13187 "Remaining repos under grpc org need to be switched to Apache 2.0"
These repos are still on BSD, it would be good to switch everything to Apache2.0 for consistency.

https://github.com/grpc/grpc-contrib
https://github.com/grpc/homebrew-grpc
https://github.com/grpc/grpc-haskell  (this repo is contributed by third party)
https://github.com/grpc/grpc-proto

[2017-10-30 15:02] jtattermusch commented on #13187
@mehrdada, can you take a look please?

CC @hsaliak @varuntalwar

[2017-10-30 15:53] jtattermusch commented on #12886
- This has been failing 100% of runs on both linux and mac.
- The issue is 3 weeks old and we haven't made much progress, what can we do to address this as soon as possible?

Increasing priority to P0.
CC @dgquintas, @ctiller who can take a look into this? @ZhouyihaiDing would probably use some help.

[2017-10-30 15:56] jtattermusch commented on #13124
Any updates here? It seems to be happening in almost all test runs.

[2017-10-30 15:59] jtattermusch commented on #13079
Any updates here? It's failing in 100% runs.

[2017-10-30 16:03] jtattermusch commented on #13152
Seems fixed (probably by https://github.com/grpc/grpc/pull/13157).

[2017-10-30 16:13] mehrdada commented on #13187
These are the PRs. For some reason I can't assign or request reviews for some of them, so I just list them here and leave setting the assignee to someone else:
https://github.com/grpc/grpc-contrib/pull/3
https://github.com/grpc/homebrew-grpc/pull/107
https://github.com/grpc/grpc-haskell/pull/19
https://github.com/grpc/grpc-proto/pull/5

[2017-10-30 16:22] jtattermusch commented on #13187
@mehrdada  thanks a lot!

[2017-10-30 16:45] sreecha commented on #13124
Looking into this today. Will update EOD

[2017-10-30 17:15] ZhouyihaiDing commented on #12886
I think this is caused by #12677 .

[2017-10-30 17:22] ctiller commented on #12886
Can I get some steps on how to setup a VM and build PHP and run the tests in such a way that I can get gdb to break within C core?

[2017-10-30 17:28] ZhouyihaiDing commented on #12886
To install php, `sudo apt-get install php7.0 php7.0-dev php-pear phpunit`
To run the test,
`php -d extension=grpc.so -d max_execution_time=300 /usr/local/bin/phpunit -v --debug src/php/tests/unit_tests --filter ChannelTest::testWatchConnectivityState`

[2017-10-30 18:02] jtattermusch commented on #12886
it was posted before, but a similar issue is happening for Node too:
https://sponge.corp.google.com/target?id=d60fbd71-e36d-4b01-a855-95cab2197550&target=github/grpc/grpc-node_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS
[code]

[2017-10-30 18:17] mehrdada commented on #12826
@nathanielmanistaatgoogle Can you please make the call on which path we should go forward *in Python* considering the answer to #12824?  I think the path to least disruption is explicitly allowing `None` for non-OK status codes in documentation and making sure it works as expected, so I am leaning towards that a bit, but I leave it to you.

[2017-10-30 20:08] ZhouyihaiDing commented on #12886
The php test is:
[code]
where inside it, the code related to c
[code]
Log is printed in previews comment.

[2017-10-30 20:44] dgquintas commented on #13079
I talked to @nicolasnoble about this last week. We are lacking Windows expertise for fixing this. We talked about ways to improve this, but nothing short term enough to deal with the failing tests.

On the other hand, I don't think this is a Windows-specific issue. @yashykt and @sreecha have agreed to look into it.

[2017-10-30 20:52] sreecha commented on #13079
I won't be able to look into this in the next 2 days (since I already have a p0 on my plate).

[2017-10-30 21:02] yashykt commented on #13079
I'll take this on.

[2017-10-30 21:17] adelez commented on #13186
Assigning to Node team since both failures involve the Node client.
Can it also output more helpful information?

[2017-10-30 21:19] Jflima92 commented on #8528
Having the same problem as @chrisalexander55 here using [PM2](https://hub.docker.com/r/keymetrics/pm2/) with node:alpine.

[2017-10-30 21:32] murgatroid99 commented on #13186
The core trace output is probably the best bet. If the client docker images were run with the "api" trace variable set, that might help.

[2017-10-30 21:46] y-zeng opened #13191 "Data race: bins/tsan/bm_fullstack_trickle --benchmark_filter=BM_PumpStreamServerToClient_Trickle$ --benchmark_min_time=0 GRPC_POLL_STRATEGY=epollex"
[code]

[2017-10-30 22:42] mehrdada commented on #13050
In light of what @nicolasnoble documented above, I'd like to point out that having two "event managers" in the same process (*e.g.* gRPC + `gevent`) is not yet supported by gRPC Python and this situation categorically falls under the same sort of issues. We are actively thinking about at least some of these scenarios, like `gevent` that I mentioned, but have not yet decided on a path forward.

[2017-10-30 23:05] abaldeva opened #13193 "[php] Minimum version of protobuf required is 3.4.0"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes. See https://groups.google.com/forum/#!topic/grpc-io/XRWm7xiwgtE

### What version of gRPC and what language are you using?
1.7.x and C++ (The code generator has support for php too)

### What operating system (Linux, Windows, …) and version?
Linux/Windows

Protobuf in 3.4.0 vers

[2017-10-30 23:15] vjpai commented on #12917
ASAN version of this seen at https://sponge.corp.google.com/target?id=df98106c-9c52-420f-91c5465c3aaaf531&target=github/grpc/c%2B%2B_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS (PR #13082)

[2017-10-30 23:16] #13191 closed

[2017-10-31 01:02] kkm000 commented on #13088
@JakaBac: Thanks for checking. So let's assume this was it!

[2017-10-31 01:10] cbornet commented on #9494
See https://github.com/salesforce/grpc-java-contrib/tree/master/rxgrpc for RxJava2 generator plugin with flow control enabled.

[2017-10-31 01:22] kkm000 commented on #4805
@jtattermusch: I am going to rework and extend the Grpc.Tools package seriously. My goal is to make the .proto files part of the build process, and I think I can do it for all platforms. I am limiting the scope now to C# only; we can do C++ tooling next (not libraries yet), and maybe other .NET languages besides C# too (via a proto-only .dll assembly compiled with C#) if there is interest, The big

[2017-10-31 03:12] mehrdada commented on #13187
Closing this issue as the final open PR can be tracked there anyway: https://github.com/grpc/grpc-contrib/pull/3

[2017-10-31 03:12] #13187 closed

[2017-10-31 15:21] akhi3030 commented on #11417
Hi,  I too am interested in this feature.  Are there any plans on adding this in the near term?

[2017-10-31 15:48] davidkel commented on #12642
Is there any outlook for this issue ?

[2017-10-31 16:54] paulb777 opened #13194 "Make install time dependency on at least CocoaPods 1.2.0"
Add s.cocoapods_version = '>= 1.2.0' to podspec files.

This will catch invalid configurations at install time instead of build time.

gRPC depends on the fix for CocoaPods/CocoaPods#6024 that was introduced in 1.2.0.

More details at https://github.com/firebase/firebase-ios-sdk/issues/417 and https://stackoverflow.com/questions/47026758/firebase-firestore-could-not-build-module-nanopb

[2017-10-31 18:05] stanley-cheung commented on #13193
#12820

[2017-10-31 19:34] boumarc1 commented on #13050
Thank for your support.

@nicolasnoble I agree with you about our problematic threading model.  When I first made the the C++ gRPC Service, I didn't expect the gRPC client (the Python request handlers) would be in the Apache httpd process.  Even then, I didn't expect gRPC client request could interfere with Apache server.  If mod_wsgi could be run in daemon mode, this would not be an issue, but Wi

[2017-10-31 19:45] #13035 closed

[2017-10-31 20:31] yashykt opened #13200 "grpc_tcp_client_connect function type mismatch"
api_fuzzer.c expects grpc_tcp_client_connect to have arguments
(grpc_exec_ctx*, grpc_closure*, grpc_endpoint**, grpc_pollset_set*, grpc_channel_args const*, grpc_resolved_address const*, gpr_timespec)

but instead should have

(grpc_exec_ctx *, grpc_closure *, grpc_endpoint **, grpc_pollset_set *, const grpc_channel_args *, const grpc_resolved_address *, grpc_millis)

[2017-10-31 23:40] sgreenstein opened #13202 "Problem building with Bazel on Windows: "Cannot open include file ares_config.h""
### What version of gRPC and what language are you using?
v1.6.4, C++

### What operating system (Linux, Windows, …) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel 0.6.1 build system
Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24215.1 (cl.exe)

### What did you do?
`bazel build //<target that depends on grpc>`

### What di

[2017-11-01 02:48] yashykt commented on #13079
The history from commits show that these tests have been failing for other fixtures too like h2_ssl_proxy_test and h2_http_proxy_nosec_test.

I tried running these locally on a Windows VM and these pass, which makes me think that the timeout for these tests is too low for Windows.

[2017-11-01 02:55] sreecha commented on #13124
I have been looking at this today. I am able to get a local repro; This fails in all polling engines and pretty much all fixtures (except a few that do not use http2 transport).  Haven't been able to root case it yet.
Actively investigating..

[2017-11-01 11:01] jtattermusch commented on #13079
I did some extra analysis on the test result data:

Tests that are *timing out* (the timeout is 5mins, which should really be high enough), both for Release and Debug:
[code]

Tests that are failing (after ~15secs), both Release and Debug:
[code]

Useful bigquery that shows all the recent failures and timeouts:
[code]

[2017-11-01 14:53] jtattermusch commented on #13079
I am able to reproduce locally. From tracing logs, it looks like that the `cq_verify_empty` here: https://github.com/grpc/grpc/blob/49e2ce3b78b21909b625c61d088d0c94b04a75fc/test/core/end2end/tests/graceful_server_shutdown.c#L150 doesn't return after 1 second as it should, but instead waits for the whole 10s until the client call times out (it has timeout of 10s) - at which point the unexpected tag

[2017-11-01 15:02] erikperttu commented on #8682
Was checking the /grpc/grpc-experiments/ thread but could not see any updates, I guess I was monitoring the wrong thread. Is it possible for me to get an invite as well @wenbozhu ? Thanks in advance!

[2017-11-01 16:22] benwulfe commented on #12977
Is there an update I can bring back to the user?  Do you think we can add this option?

[2017-11-01 16:26] ejona86 opened #13212 "Support IDLE_TIMEOUT (client-side)"
[IDLE_TIMEOUT](https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md) is defined as a way for clients to drop unused connections after inactivity. This is generally useful, but is particularly valuable on mobile as it can be substantially more battery efficient than enabling keepalive on the channel.

I recently came to the understanding that this is not implemented in C-c

[2017-11-01 16:29] abaldeva commented on #13193
The referenced bug is asking to upgrade check to 3.4.0. What I am suggesting is to guard the code changes such that grpc continues to work with versions below 3.4.0.

If this is not the path you want to take, please provide clear guidelines on compatibility between grpc and protobuf or call out the broken compatibility in release notes. In general, it'd be nice to not have to update protobuf unnec

[2017-11-01 17:04] vjpai commented on #13122
At the current time with #13069, all the remaining streaming_from_server failures are in the sync API. The sync API currently doesn't follow the same shutdown policy as the async API; that will be my next extension to the PR.

[2017-11-01 17:05] vjpai commented on #13184
Bouncing this to @ncteisen

[2017-11-01 17:06] vjpai commented on #13178
@kpayson64 - is this bug fixed now?

[2017-11-01 17:07] vjpai commented on #13171
Hi there! Can I suggest that a general usage question like this would be better suited for the grpc-io mailing list than for Github issues? I'd prefer to answer it over there.

[2017-11-01 17:07] #13171 closed

[2017-11-01 17:16] vjpai commented on #13148
So this is for both sync and async thread_stress clients with the inproc async service, under epollex.  The surprising thing for me in this is that the inproc test in this case literally has no ports so I don't know how epollex would factor in (unless it's the lack of FDs that is the issue)

[2017-11-01 17:23] #6425 closed

[2017-11-01 17:25] dgquintas opened #13214 "bins/opt/h2_proxy_nosec_test invoke_large_request GRPC_POLL_STRATEGY=epollex TIMEOUTs"
https://sponge.corp.google.com/target?id=3c1c5f2f-e764-436b-bd2b-1be2172b0a2a&target=github/grpc/c_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-01 17:25] ncteisen commented on #13184
This one is a balance between time per run and variance per run. We currently run the tests 20 times to eliminate noise from CPU shift. We could try tuning that down, but the output (which is already noisy some days, would get noisier)

[2017-11-01 17:32] vjpai commented on #13044
We reverted this and I don't think it was ever added back; the original PR author ( @iancoolidge ) had mentioned a plan to do that. Closing.

[2017-11-01 17:32] #13044 closed

[2017-11-01 17:32] dgquintas commented on #12548
This issue hasn't been referenced in a while, closing.

[2017-11-01 17:32] #12548 closed

[2017-11-01 17:36] dgquintas commented on #12977
@yashykt , given that you've been firing up windows VMs, do you feel comfortable giving this a shot?

[2017-11-01 17:37] iancoolidge commented on #13044
https://github.com/grpc/grpc/pull/13138
I'm not sure how reviewers are added or whatever.

[2017-11-01 17:44] nathanielmanistaatgoogle commented on #13117
This may just be a matter of my not being up-to-speed with current best practices about logging - can you recommend an article, guide, or some other documentation I should read on the matter? Also happy to review a pull request for this.

[2017-11-01 17:45] nathanielmanistaatgoogle commented on #12455
@kpayson64: are we sufficiently satisfied with the improvements in 1.7.0-and-later that we should close this issue with the resolution "1.6.x was what it was"?

[2017-11-01 17:45] ejona86 commented on #13182
This is a duplicate of grpc/grpc-java#3633.

[2017-11-01 17:45] #13182 closed

[2017-11-01 17:47] dgquintas opened #13217 "generic_end2end_test --gtest_filter=GenericEnd2endTest.SequentialUnaryRpcs"
https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/master/job/grpc_basictests_c_cpp_opt/62
as well as https://sponge.corp.google.com/target?id=d92e1768-9315-4d0f-b813-4f83de3ee82d&target=grpc/ubuntu/pull_request/grpc_basictests_cpp_opt&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-01 17:47] kpayson64 commented on #12455
Yes, lets close this.  Client libraries should have been updated to 1.7 as well.

[2017-11-01 17:47] #12455 closed

[2017-11-01 17:53] nathanielmanistaatgoogle commented on #13044
@vjpai: so should this issue remain open until the "it [is] added back"? Does this issue describe a currently-active problem that we intend to resolve?

[2017-11-01 18:22] dgquintas opened #13219 "cmake/build/Debug/grpc_completion_queue_test.exe TIMEOUT"
https://sponge.corp.google.com/target?id=935a7eea-db02-4795-9a09-747af66528cd&target=github/grpc/c_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-11-01 18:25] dgquintas opened #13220 "cloud_to_cloud:node:c++_server:large_unary TIMEOUT"
https://sponge.corp.google.com/target?id=e033ec9e-0591-4462-98e2-29037fc2690a&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

[2017-11-01 18:26] dgquintas commented on #13178
I've just seen it again in https://github.com/grpc/grpc/pull/1320, so probably not: https://sponge.corp.google.com/target?id=f147dbb5-5775-4265-bd2c-918d36d1e7f7&target=github/grpc/c%2B%2B_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2017-11-01 18:51] skyostil opened #13221 "MurmurHash does an unaligned read"
### What version of gRPC and what language are you using?
v1.6.7, C++

### What operating system (Linux, Windows, …) and version?
Android 8.0 (arm32)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Android clang version 5.0.300080 from android-ndk-r15c-linux-x86_64.

### What did you do?
Built a small hello world server application.

### What did you expect to se

[2017-11-01 18:56] ctiller commented on #12886
Does the php command listed also build grpc?

On Mon, Oct 30, 2017 at 1:08 PM Zhouyihai Ding <notifications@github.com>
wrote:

[2017-11-01 19:35] ctiller commented on #12886
It's probably better to post comments inline in the comment thread so they can be seen.

I'm still having problems:
[code]

[2017-11-01 19:38] skyostil commented on #13221
The fix is to add a cast to the memcpy:

    memcpy(&k1, (const uint8_t*)(blocks + i), sizeof(uint32_t));

I can put together a pull request tomorrow.

[2017-11-01 19:43] vjpai commented on #13148
This has now shown up for  `bins/asan/thread_stress_test --gtest_filter=AsyncClientEnd2endTest/2.ThreadStress GRPC_POLL_STRATEGY=epollex`

Note that this is no longer an inproc-transport-specific issue, but it remains an epollex-specific issue.

https://sponge.corp.google.com/target?id=f5051b2b-ccf3-469f-af25-65f7fa4de9e4&target=github/grpc/c%2B%2B_linux_asan_native&searchFor=&show=ALL&sortBy=STAT

[2017-11-01 20:12] vjpai commented on #13148
I have generated one debug failure for `AsyncClientEnd2endTest/3.ThreadStress`

There are 4 threads at the hang

1: The main test thread that wants to do a thread join

[code]

Thread 2: An executor thread

[code]

Thread 3: A timer thread

[code]

Thread 4: A server thread stuck in `epoll_wait`

[code]
and many more levels below this

[2017-11-01 20:18] vjpai commented on #13148
The fact that thread 1 is doing a join indicates from the code that CQ Shutdown has already been invoked.

[2017-11-01 20:37] jtattermusch commented on #13079
My unproven theory:
https://github.com/grpc/grpc/blob/master/src/core/lib/surface/completion_queue.cc#L949 is the place where cq_next should exit in case the deadline is hit and there's still no new event. But inside https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/exec_ctx.cc#L141,  `exec_ctx->now_is_valid` is `true` and  exec_ctx->now contains the timestamp when cq_next has started an

[2017-11-01 20:38] vbalazs commented on #12189
`ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-darwin17]`
gRPC gem version: `1.7.1`
Mac OS 10.13.1

Seems fixed, I can't see the error above.

[2017-11-01 20:43] dgquintas opened #13222 "New Flake: json_run_localhost:cpp_generic_async_streaming_qps_1channel_1MBmsg_insecure"
- Test: json_run_localhost:cpp_generic_async_streaming_qps_1channel_1MBmsg_insecure
- Poll Strategy: epollex
- URL: https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/master/job/grpc_basictests_c_cpp_dbg/57

[2017-11-01 20:43] dgquintas opened #13223 "New Flake: h2_proxy_test payload"
- Test: h2_proxy_test payload
- Poll Strategy: epollex
- URL: https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/master/job/grpc_basictests_c_cpp_opt/64

[2017-11-01 20:43] dgquintas opened #13224 "New Flake: AsyncEnd2endTest.ReconnectChannel"
- Test: AsyncEnd2endTest.ReconnectChannel
- Poll Strategy: epoll1
- URL: https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/master/job/grpc_basictests_c_cpp_dbg/56

[2017-11-01 20:43] dgquintas opened #13225 "New Flake: json_run_localhost:cpp_generic_async_streaming_qps_unconstrained_2waysharedcq_insecure_low_thread_count"
- Test: json_run_localhost:cpp_generic_async_streaming_qps_unconstrained_2waysharedcq_insecure_low_thread_count
- Poll Strategy: epollex
- URL: https://kokoro2.corp.google.com/job/grpc/job/ubuntu/job/sanitizer/job/grpc_cpp_tsan/33

[2017-11-01 20:57] soiferj opened #13227 "Performance issues caused by expensive exceptions thrown in RunConnectivityWatcherAsync"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?

Create new issues for bugs and feature requests. An issue needs to be actionable. General gRPC discussions and usage questions belong to:
- [grpc.io mailing list](https://groups.google.com/forum/#!forum/grpc-io)
- [StackOverflow, with `grpc` tag](http://stackoverflow.com/questions/t

[2017-11-01 21:14] katbusch commented on #12455
I just upgraded to 1.7 and am still seeing an issue with multiprocessing.  It works on 1.4

[2017-11-01 21:18] kpayson64 commented on #12455
@katbusch
Can you share a broken example?  Arbitrary forking behavior isn't supported, and maybe there is a way to restructure things to get around the issue.

[2017-11-01 21:22] katbusch commented on #12455
Will take me a moment to test an example minimal enough to post but the general idea is

[code]

[2017-11-01 21:29] ZhouyihaiDing commented on #12886
Sorry, I'll update the guides for php in grpc.io. It install php7 by default now.
You can try
`sudo apt-get install -y php php-dev phpunit php-pear unzip zlib1g-dev`
php command only build php extension using grpc. I think you need to build grpc C core first.

[2017-11-01 21:37] kpayson64 commented on #12455
I just quickly created the following modification on 1.7 helloworld example:

[code]

Output:
[code]

Which seems to be working as expected.
One thing to be careful to avoid is creating channels before forking.  Hopefully we will have support for that in the future, but it is currently unsupported.

[2017-11-01 21:52] abaldeva commented on #12255
Hi,

I updated today to 1.7.x. Unfortunately, this issue is still present and much worst. After enabling the  GRPC_ARG_MAX_CONNECTION_IDLE_MS, the server barely runs for few seconds before crashing.

If the resources can't be cleaned up properly, it is a blocker for prod usage of grpc. For such a critical bug to hang on for so long, I am not sure if you are not able to reproduce or I have somethin

[2017-11-01 21:53] jtattermusch commented on #13079
I can confirm that an ugly hack of updating exec_ctx->now every time  grpc_exec_ctx_now() is inspected fixes at least a subset some of the issues we are seeing.
@ctiller, any tips where we should add `grpc_exec_ctx_invalidate_now` for a proper fix?

[2017-11-01 22:04] ctiller commented on #13079
Wherever we block for a significant amount of time.

One clever way of finding this: ctrl+c when the application is sleeping,
and ensure that we've got an invalidate after that.

On Wed, Nov 1, 2017 at 2:53 PM Jan Tattermusch <notifications@github.com>
wrote:

[2017-11-01 22:21] thisisnotapril commented on #12255
@y-zeng can you see the update here from Arpit and advise? thanks!

[2017-11-01 22:37] nathanielmanistaatgoogle commented on #12824
@a11r: what's the basis of the convention? Is there any particular reasoning behind it? Any motivation for it other than history? How severe are the penalties for violating it? Have you had a chat with @dfawley about why his customer wants it, and for what they might use it?

[2017-11-01 22:47] hsaliak commented on #12255
@abaldeva a working repro would definitely help move things along. Would you have something handy?

[2017-11-01 22:49] nathanielmanistaatgoogle commented on #12826
I'm hesitant to rush to make a call, actually. So far there's at least a little bit of risk of permanent harm with each of the options considered, and the cost of doing nothing isn't too high. The `return my_message_module_pb2.MyMessage()` in

[code]

is cosmetically unattractive, but that's it. Is there some reason to rush ahead on this?

[2017-11-01 22:55] mehrdada commented on #12826
There was at least one case where the user wants to return a result from an interceptor, not the handler, and there was no generic way to figure out what the type of the correct type to return from the handler was in the interceptor to construct an empty object out of. That is the prime motivator for moving this forward.

[2017-11-01 23:05] dgquintas commented on #13040
This is a known issue, to be fixed by https://github.com/grpc/grpc/pull/12829.

[2017-11-01 23:22] nathanielmanistaatgoogle commented on #12826
D'oh! Thanks for the reminder.

[2017-11-01 23:26] amitsaha commented on #12826
Yes +1 @mehrdada i think interceptors would definitely need this functionality to be available.

[2017-11-02 00:09] ncteisen commented on #12459
Is this still reproducible? I cannot seem to repro it  right now

[2017-11-02 00:13] kpayson64 opened #13230 "Python v1.0.x interop matrix failure"
[code]

[2017-11-02 00:39] mehrdada commented on #12992
I think I have narrowed down it to:

- `grpcio_reflection` package uses `grpcio-tools` to compile the `reflection.proto` file to `pb2` when the package is built from source (same for `grpcio_health_checking`). [I am not sure if this is how we build the package in our CI system, but had we wanted to build it from source individually, it would have worked that way.]
- `grpcio_reflection` package has

[2017-11-02 00:50] yashykt commented on #13079
I was able to reproduce the problem with 8vcpus instead of 1. And this issue was seen with both 64 bit and 32 bit builds.

It seems that GPR_CLOCK_MONOTONIC time is being compared to GPR_CLOCK_REALTIME time. This might be the cause.

@ctiller, are we following a standard as to when use what?

[2017-11-02 00:54] sreecha commented on #13079
We should not be doing this comparison without making both clocktypes the same.
Can you point to the code that is doing this ?

[2017-11-02 01:40] dgquintas commented on #12459
Let's close, it doesn't seem to have recurred in a while.

[2017-11-02 01:40] #12459 closed

[2017-11-02 01:40] yashykt commented on #13079
https://github.com/grpc/grpc/blob/66b740a8c60df59d7c82c8f7e122369ee86d62c1/src/core/lib/surface/completion_queue.cc#L950
Here, for example, we are comparing deadline which might be in realtime to exec_ctx_now which is monotonic.

[2017-11-02 01:47] yashykt commented on #13079
This code also makes the assumption that grpc_pollset_work calls grpc_invalidate_now so that grpc_exec_ctx_now, but that's not always true.

https://github.com/grpc/grpc/blob/66b740a8c60df59d7c82c8f7e122369ee86d62c1/src/core/lib/iomgr/pollset_windows.cc#L162

This path for example does not call invalidate_now. It is instead called in grpc_iocp_work which is not always called.

[2017-11-02 02:15] yashykt commented on #13079
https://github.com/grpc/grpc/pull/13234

This PR for example places an invalidate_now at the end of the cq_next loop. Doing this makes all the failing tests succeed atleast locally (on a windows VM)

Also, the reason why it is happening only on proxy related tests is probably because proxy introduces another thread which causes one of the threads to take the path in grpc_pollset_work that does not

[2017-11-02 03:32] dgquintas commented on #13079
Great stuff, thanks Yash for looking into this and seemingly root causing
it so quickly.

On 1 Nov 2017 19:16, "Yash Tibrewal" <notifications@github.com> wrote:

[2017-11-02 07:21] azyobuzin opened #13236 "Too many full GCs when receive big responses"
I found that a lot of full GCs are run when the client receives big responses (about 100KB).

Here is an example code: https://gist.github.com/azyobuzin/7fee0a968a8780fc56b7e8a829c60d9b#file-grpcmemorytest-cs

In the example, the client will receive 100KB responses every 0.1 seconds.

I ran the code, profiling with [CLR Profiler](http://clrprofiler.codeplex.com/). Then I found that full(gen 2) GCs

[2017-11-02 08:15] qiaohaijun commented on #12122
+1
I have the same issue when building tensorflow_serving 1.3.0

[2017-11-02 08:37] jtattermusch commented on #13236
You're right, this is happening because for each message sent, we serialize in a byte[] and then let the buffer to be garbage collected (for large objects, they are always taken from the large object generation which requires FullGC to garbage collect). Same thing happens for deserialization.
There's definitely room for improvement here. Using ArrayPool is one of the options, but at the same time,

[2017-11-02 10:56] boss651 commented on #7880
Any updates with support .Net 4.0?

[2017-11-02 11:24] azyobuzin commented on #13236
I first thought that it would work if I replace `byte[]` with `ArraySegment` or something `IDisposable` which returns the buffer when `Dispose`.

As to the native layer, I think it is OK if we pass a larger array than required in the native layer, and ArrayPool will return a larger array than we specify.

As to marshallers, I thought of the below code, but **existing deserializers will slow down**

[2017-11-02 14:50] jtattermusch opened #13238 "Many bins/dbg/bm_fullstack_streaming_ping_pong test timing out (Linux C++ dbg)"
There is ~20 test cases that are failing
https://sponge.corp.google.com/target?id=6069d645-7db5-4cc5-9e88-655ae0d057f5&target=github/grpc/c%2B%2B_linux_dbg_native&searchFor=&show=ALL&sortBy=STATUS

Seems like it started happening after merging https://github.com/grpc/grpc/pull/13053 (on the PR the C++ debug tests seem to be passing, I think suspect it is because they got skipped after reaching 1hr

[2017-11-02 14:51] jtattermusch commented on #13238
I'm seeing this for 100% runs so far.

[2017-11-02 15:21] sreecha commented on #13124
Update from investigation on 11/1/2017:

Took @ctiller's help in debugging this. Made progress but still haven't fully root caused it. I do not have a clear understanding of what is going on but here are some details:

The test fails because the client receives `GRPC_STATUS_UNKNOWN` from the server which is unexpected.

The reason server is sending that status is because:
Server transport's read f

[2017-11-02 15:22] katbusch commented on #12455
I upgraded all my packages instead of just grpcio and it seems to be working now on 1.7 with the use-case I described!  Thanks for your help.

[2017-11-02 16:37] jtattermusch commented on #13184
I get that, but there's of course no way we can make all test results available in <90 (or 60 mins which is our more aggressive goal) if one of the test suites takes longer than that.
Sharding the job into two might also not be a good idea as we already have so many different jobs for each PR.

How many cores are the microbenchmarks utilizing?

[2017-11-02 16:39] ctiller commented on #13184
All of them. (the microbenchmarks themselves are ~single threaded, and we
run num_cores concurrently)

On Thu, Nov 2, 2017 at 9:37 AM Jan Tattermusch <notifications@github.com>
wrote:

[2017-11-02 16:40] ctiller commented on #13184
If you give them more cores, they will go faster.

I've also had some thoughts about curating what we run per-PR. It might be
time to tackle this soon :)

On Thu, Nov 2, 2017 at 9:39 AM Craig Tiller <ctiller@google.com> wrote:

[2017-11-02 18:11] xinzhg commented on #6292
Can someone post the link?

[2017-11-02 19:14] adelez commented on #13230
Docker image:
https://pantheon.corp.google.com/gcr/images/grpc-testing/GLOBAL/grpc_interop_python@sha256:8fcc7e1b075392274374034a0d0f4b75be8559e05b0a67a581492b2105a63b72/details/info?project=grpc-testing

Docker command to run the image:
docker run -i --rm=true -e PYTHONPATH=/var/local/git/grpc/src/python/gens -e LD_LIBRARY_PATH=/var/local/git/grpc/libs/opt -w /var/local/git/grpc --net=host --name

[2017-11-02 19:43] adamdaugherty opened #13241 "npm install fails"
I have been trying unsuccessfully to install the node grpc library on CentOS Linux release 7.4.1708 (Core), using node v8.9.0 and npm v5.5.1. Attempting to `npm install grpc` so results in:

[code]

To attempt to resolve the problem, I've tried both pre-installing `node-pre-gyp` manually, to ensure that it was available in `node_modules/.bin`, and ensuring that npm was finding it by making a scrip

[2017-11-02 19:45] yashykt opened #13242 "tools/run_tests/helper_scripts/run_node.sh Failure"
Fails on master with

[code]

[2017-11-02 19:48] yashykt commented on #13242
Not sure if it is related but tools\run_tests\helper_scripts\run_node.bat  fails too with
[code]

[2017-11-02 19:51] yashykt commented on #13130
Also saw a timeout with cloud_to_cloud:node:csharp_server:large_unary
[code]

[2017-11-02 19:55] #13079 closed

[2017-11-02 20:11] mattolson commented on #10786
We are affected by this bug as well. We have two modules that both require grpc. I was able to work around this by upgrading to npm 5.5.1 which performs deduping of modules that share the same version. Migrating to yarn should have the same effect.

[2017-11-02 20:13] murgatroid99 commented on #13241
This is bizarre. The package `node-pre-gyp` is bundled with grpc specifically to avoid the first problem you're encountering. The download failure indicates to me that something else is going wrong, though. You mention that you can download the file manually, which means that the failure is not network related, so it must be somehow caused by your local machine. Unfortunately, it's not outputting

[2017-11-02 20:18] renning22 commented on #12122
Hi @nicolasnoble, I can work on this.
Make Bazel build not rely on git submodules, and use the identical version of dependencies listed [here](https://github.com/grpc/grpc/blob/master/tools/run_tests/sanity/check_submodules.sh). Please assign this bug to me.

[2017-11-02 20:59] civersen commented on #12951
Same here:
`PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/lib/php/extensions/no-debug-non-zts-20160303/grpc.so' - /usr/local/lib/php/extensions/no-debug-non-zts-20160303/grpc.so: undefined symbol: __gxx_personality_v0 in Unknown on line 0`

[2017-11-02 21:31] ZhouyihaiDing commented on #12951
I haven't reproduced this on ubuntu 14/17 nor php 5/7. it may caused by something else other than platform/OS and the php version.
Can you give us more information about how to reproduce it?

[2017-11-02 21:43] adamdaugherty commented on #13241
The `sh: node-pre-gyp: command not found` makes me suspect that you're right in that the problem is on the `node-pre-gyp` side.

After noodling with it a bit, I was able to get `grpc` to successfully install (I think, anyway - I haven't actually tested anything with it yet, but it's not falling over in an obvious way anymore). **It is a hacky, terrible long-term solution for a variety of reasons t

[2017-11-02 21:52] murgatroid99 commented on #13241
That is the expected behavior. Have you tried having that script there without having your own explicit dependency on `node-pre-gyp`? I suspect that that script is running the copy of `node-pre-gyp` bundled with grpc anyway. It seems bizarre that that script would work, but the nearly identical install script wouldn't work. That makes me think that npm is doing something weird during the installat

[2017-11-02 22:25] adamdaugherty commented on #13241
My mistake, I thought the `sh: ...` line was being emitted by `node-pre-gyp`, not npm. After testing with a local dummy library with a busted post-install script, I see that that's normal output for npm under that condition. The output is different with a broken script in the current module's scripts, which is why I was confused.

If the `node-pre-gyp` dependency is removed and `npm run screaming`

[2017-11-02 23:00] ZhouyihaiDing commented on #12951
Can you offer me more information about how to reproduce it?
Are you install the grpc.so using pecl? If so, you can try compile the gRPC PHP extension manualy as "[https://github.com/grpc/grpc/tree/master/src/php#build-from-source](https://github.com/grpc/grpc/tree/master/src/php)".

[2017-11-02 23:03] derolf opened #13245 "Allow passing service name to client stubs for dynamic mapping"
Currently, all client stubs statically include the service name, e.g. the c++ stubs generated by protoc.

It would be a simple change to allow passing a service name to a stub.

This way, gRPC would enable pseudo-polymorphism, dynamic capabilities and dependency injection.

[2017-11-02 23:25] vjpai commented on #6292
Hi there, [our about page](https://grpc.io/about/) has a link to [a talk that @zinuga and I did](https://www.slideshare.net/VarunTalwar4/grpc-design-and-implementation) , which gives information explaining why gRPC is designed largely to support the HTTP/2 protocol and Protobuf serialization format.

[2017-11-02 23:51] civersen commented on #12951
Thanks for your help ZhouyihaiDing, I did install using pecl but after I manually compiled it - it works! If it helps at all, I noticed running code using "php -d extension=grpc.so [...]" did work before manually building it.

[2017-11-03 01:50] kkm000 commented on #13236
Just to think of, I am using this baby when processing realtime audio, where had the same problem (not with gRPC): https://github.com/Microsoft/Microsoft.IO.RecyclableMemoryStream. It seems very efficient in avoiding the large GCs. But it has a stream interface, not an array.

[2017-11-03 02:33] dgquintas opened #13247 "json_run_localhost:cpp_protobuf_sync_streaming_from_server_qps_unconstrained_secure_low_thread_count GRPC_POLL_STRATEGY=epollsig TIMEOUT"
https://sponge.corp.google.com/target?id=42fcad55-17a6-4f75-8044-c34b7ddfda5d&target=github/grpc/c%2B%2B_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-03 02:38] dgquintas commented on #13125
Also for poll: https://sponge.corp.google.com/target?id=8ac6ad86-ac1e-40ef-b838-d0f37370fcfb&target=github/grpc/c_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2017-11-03 04:36] chrisalexander55 opened #13248 "[Node.js] gRPC Map<string, string> Results in Empty Object"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes

### What version of gRPC and what language are you using?
 "grpc": "^1.6.6",

### What operating system (Linux, Windows, …) and version?
 OSX, Sierra

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc
Configured with: --prefix=/Library/Develo

[2017-11-03 07:13] suhacen opened #13249 "Error "[libprotobuf ERROR google/protobuf/descriptor_database.cc:58] File already exists in database: google/protobuf/descriptor.proto" when I cross compile helloworld"
I add grpc and protobuf to my yocto project, they are compiled fine, and I also add the helloworld demo under examples/cpp/ to the yotcto build, but when I run  greeter_server and greeter_client on my board,  there is an error:

`
[libprotobuf ERROR google/protobuf/descriptor_database.cc:58] File already exists in database: google/protobuf/descriptor.proto
[libprotobuf FATAL google/protobuf/descri

[2017-11-03 10:51] jtattermusch commented on #13150
Looks like this was fixed by https://github.com/grpc/grpc/pull/13234.

[2017-11-03 10:51] #13150 closed

[2017-11-03 11:45] moander commented on #10786
`yarn upgrade` in project folder did the trick for me :)

<pre>
TypeError: Channel's second argument must be a ChannelCredentials
    at ServiceClient.Client (node_modules\grpc\src\node\src\client.js:472:19)
    at new ServiceClient (node_modules\grpc\src\node\src\client.js:881:12)
    at node_modules\@google-cloud\pubsub\src\connection-pool.js:401:19
    at node_modules\@google-cloud\pubsub\src\c

[2017-11-03 12:20] truongdo opened #13250 "memory is not free properly in streaming mode if we don't read all data sent from clients"
### What version of gRPC and what language are you using?
I'm using the 1.6.x branch and C++ server and python client.

### What operating system (Linux, Windows, …) and version?
 Linux

### What did you do?
1. Start C++ server that accepts streaming request from client.
2. Normally, we will run `while (stream->Read(&data))` until it finishes, but in situations where
we close the connection before

[2017-11-03 12:23] jtattermusch commented on #13219
CC @jtattermusch

[2017-11-03 12:50] jtattermusch commented on #13219
happening in ~50% of runs.

[2017-11-03 14:02] dgquintas opened #13253 "cloud_to_cloud:node:... very flaky (TIMEOUT)"
https://sponge.corp.google.com/target?id=80ee7ec6-5b64-4ed8-9704-e376ac09e159&target=github/grpc&searchFor=&show=ALL&sortBy=STATUS

For example:
[code]

[2017-11-03 14:04] dgquintas commented on #13148
Seen again: https://sponge.corp.google.com/target?id=e3b85e05-33f0-44ef-ab60-279efc0033c0&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[2017-11-03 14:55] dgquintas commented on #12867
@muxi now that #13121 has been merged, can you please verify that it fixes this issue? Reopening until then.

[2017-11-03 15:21] jtattermusch commented on #13219
I analyzed in a debugger, and it's pretty similar to what we've been seeing in https://github.com/grpc/grpc/issues/12394.

The test hangs in (only for cq_polling_type=GRPC_CQ_NON_POLLING)
https://github.com/grpc/grpc/blob/ef68fe7239a89095f1eaa89c1dd28b2b7be2a3c7/test/core/surface/completion_queue_test.c#L117
(basically call cq_next on empty completion queue and timeout immediately)

https://github

[2017-11-03 16:18] jtattermusch commented on #13219
Ok, I think I found the problem:

In
https://github.com/grpc/grpc/blob/ef68fe7239a89095f1eaa89c1dd28b2b7be2a3c7/src/core/lib/surface/completion_queue.cc#L950, exec_ctx->now_is_valid is false, so grpc_exec_ctx_now needs to refresh the timestamp here:
https://github.com/grpc/grpc/blob/ef68fe7239a89095f1eaa89c1dd28b2b7be2a3c7/src/core/lib/surface/completion_queue.cc#L890

it's done using `timespec_to

[2017-11-03 16:50] jtattermusch commented on #13219
Btw, I think the issue exists on linux too, but we are not seeing it as the granularity of timestamp increments is much finer than on Windows (so we need to get really unlucky to hit the condition in the test).

[2017-11-03 17:19] adelez commented on #13253
This dashboard shows how severe the issue is: https://performanceedit-dot-grpc-testing.appspot.com/explore?dashboard=5711255578869760: Node client is the most flaky one.

[2017-11-03 18:22] ZhouyihaiDing commented on #12951
I think is the missing dependency if you download 1.6.0 version using pecl.
https://github.com/grpc/grpc/blob/v1.6.0/config.m4#L15 should add -fno-exceptions -fno-rtti

[2017-11-03 19:26] ZhouyihaiDing commented on #13193
Adding a guard to php_generator_helpers.h needs update everytime when protobuf changes API, and can be complicate later to handle different protobuf version.
We can add a table provides the information about the compatibility version between the grpc and protobuf in readme file for now.

[2017-11-03 21:18] nicolasnoble commented on #13248
Updated formatting.

[2017-11-03 21:58] yashykt commented on #13150
It's always great to hear that multiple bugs were squashed by a fix :)

[2017-11-03 22:27] chrisalexander55 commented on #13248
This is a cryptic response. What do you mean by updated formatting?

On Fri, Nov 3, 2017 at 5:18 PM Nicolas Noble <notifications@github.com>
wrote:

[2017-11-03 23:33] kopiro opened #13258 "Compatibility with Raspberry PI Zero"
Hi,
it seems that the compatibility for the RPI zero is broken.

After some researches, it seems that the broken file is the precompiled download binary (/root/grpc/src/node/extension_binary/node-v57-linux-arm/grpc_node.node).

The problem is:
"illegal hardware instruction"

[code]

---

I launched a compilation using `./node_modules/.bin/node-pre-gyp install --build-from-source`, but I think that

[2017-11-04 00:20] truongdo commented on #13250
Solved by calling `context->TryCancel();` to stop client from sending data to server then followed by `while (stream->Read(&data));`. But I think the server should free the memory without the need of the while loop

[2017-11-04 01:07] ZhouyihaiDing commented on #12229
@stanley-cheung
Is it better to create a directory for helloworld example? Making it consistence with route-guide example.

[2017-11-04 02:20] pengzai123 commented on #12948
update  v1.6.7 fix the bug

[2017-11-04 02:20] #12948 closed

[2017-11-04 08:08] kopiro commented on #13258
UPDATE: I recompiled all night long and replacing the `grpc_node.node` with the compiled, and it works!

[code]

[2017-11-04 08:24] sreecha commented on #13124
I root caused the issue (with help from @ctiller)

Note: I deleted my previous comment because I was way off (and the comment made some incorrect/misleading assumptions :)).

__Some background info:__
- Server's chttp2 transport code calls resource quota functions periodically i.e `post_benign_reclaimer` and `post_destructive_reclaimer` both of which call `grpc_resource_user_post_reclaimer`.

`grp

[2017-11-04 15:44] jtattermusch commented on #13184
As a side note, once we get more quota for our project, we could switch the microbenchmarks to 64core machines (currently we use 32core machines).

[2017-11-04 15:53] dzbarsky opened #13260 "Segfault caused by 1.7 upgrade"
### What version of gRPC and what language are you using?

1.7 python

### What operating system (Linux, Windows, …) and version?

Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

2.7

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

Tried to upgrade to grpc 1.7 in

[2017-11-04 15:57] jtattermusch commented on #13124
@sreecha  great job rootcausing the issue, this looks like a tough one!

[2017-11-04 16:00] dzbarsky commented on #11751
Ping? This was a breaking change after 1.2 and makes it harder to use grpc client in the same application with other libraries that talk to outside world such as boto (http://boto3.readthedocs.io/en/latest/index.html)

[2017-11-04 18:20] muxi commented on #12867
Verified the behavior is correct. Thanks for the fix!

[2017-11-04 18:22] muxi commented on #12867
Note that #12392 from the same thread still exists

[2017-11-04 18:22] #12867 closed

[2017-11-05 01:28] Wasdns commented on #12377
Hi, @topillar I have tried your solution but it still did not work. I think one possible solution is to download the old release that does not have this submodule.

[2017-11-05 09:26] Wasdns commented on #12377
This issue could be resolved by using ss-qt5 to bypass the firewall.

[2017-11-06 04:53] achidlow commented on #9688
I'm still seeing this on 1.7.0. Bad thread is using 100% CPU even after stopping serving traffic. Running `strace` on that particular thread shows the same output as comzyh was getting [here](https://github.com/grpc/grpc/issues/9688#issuecomment-289194383).

[2017-11-06 07:50] Falco20019 commented on #11879
Cross referencing question about GRPCLB https://groups.google.com/forum/?pli=1#!topic/grpc-io/D8YYlDh6l-o

[2017-11-06 07:56] AspirinSJL commented on #13221
Assigning to @skyostil because he/she already has a solution.

[2017-11-06 07:56] dllhlx opened #13262 "Can grpc support host or ip whitelist"
As desc as title, can grpc support host or ip whitelist to filter out some incoming requests.

[2017-11-06 11:06] main commented on #8682
@wenbozhu @zinuga Please give me early access to grpc-web.

[2017-11-06 12:22] stephenplusplus opened #13263 "Segmentation Fault in node:8.6.0-alpine Docker - grpc?"
_From @glenpike on November 6, 2017 10:19_

Thanks for stopping by to let us know something could be better!

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened: https://github.com/GoogleCloudPlatform/google-cloud-node/issues
  - Search StackOverflow: http://stackoverflow.com/questions/tagged/google-cloud-platform+node.js

[2017-11-06 13:56] jtattermusch commented on #13217
@yang-g  this has been open 5 days ago and there's no update since then.

[2017-11-06 14:19] jtattermusch opened #13266 "tools\run_tests\helper_scripts\run_node.bat fails on Windows (100% of runs)"
https://sponge.corp.google.com/target?id=4e9d4782-5caa-40b7-8bf6-413873b829fc&target=github/grpc/node_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-11-06 14:39] jtattermusch commented on #13253
A bit more analysis shows that the node client is behind virtually all cloud_to_cloud interop test failures in the last days. Most failures are `large_unary`, followed by `client_streaming`.
[code]

the query
[code]

[2017-11-06 14:43] jtattermusch commented on #10763
as our failing cloud_to_cloud tests are covered by https://github.com/grpc/grpc/issues/13253, renaming this issue to only include **cloud to prod** tests.

Here's a list of recent to_prod failures:
[code]

[2017-11-06 14:57] jtattermusch commented on #13148
this is happening less often than our other P0 issues, decreasing to P1.

[2017-11-06 15:04] jtattermusch commented on #13238
This got fixed by the reverting https://github.com/grpc/grpc/pull/13243.

[2017-11-06 15:04] #13238 closed

[2017-11-06 15:10] jtattermusch commented on #13220
Dupe of https://github.com/grpc/grpc/issues/13253

[2017-11-06 15:10] #13220 closed

[2017-11-06 15:10] jtattermusch commented on #13129
Dupe of https://github.com/grpc/grpc/issues/13253.

[2017-11-06 15:10] #13129 closed

[2017-11-06 15:11] jtattermusch commented on #13130
Dupe of https://github.com/grpc/grpc/issues/13253

[2017-11-06 15:11] #13130 closed

[2017-11-06 15:11] jtattermusch commented on #13186
Dupe of https://github.com/grpc/grpc/issues/13253.

[2017-11-06 15:11] #13186 closed

[2017-11-06 15:13] jtattermusch commented on #13091
I think this is the same as https://github.com/grpc/grpc/issues/13079 (already fixed).

[2017-11-06 15:13] #13091 closed

[2017-11-06 15:15] jtattermusch commented on #12576
Looks like dupe of #10763.

[2017-11-06 15:15] #12576 closed

[2017-11-06 15:15] jtattermusch commented on #12618
Dupe of #10763.

[2017-11-06 15:15] #12618 closed

[2017-11-06 15:16] jtattermusch commented on #12568
Dupe of #10763

[2017-11-06 15:16] #12568 closed

[2017-11-06 15:17] jtattermusch commented on #12575
Dupe of #10763.

[2017-11-06 15:17] #12575 closed

[2017-11-06 15:18] jtattermusch commented on #12490
Not seeing this on last master runs.

[2017-11-06 15:19] jtattermusch commented on #12605
Dupe of #10763.

[2017-11-06 15:19] #12605 closed

[2017-11-06 15:19] jtattermusch commented on #12518
Dupe of #10763

[2017-11-06 15:19] #12518 closed

[2017-11-06 15:20] jtattermusch commented on #12072
Dupe of #10763

[2017-11-06 15:20] #12072 closed

[2017-11-06 15:21] jtattermusch commented on #12071
Dupe of #10763

[2017-11-06 15:21] #12071 closed

[2017-11-06 15:21] jtattermusch commented on #12067
Dupe of #10763

[2017-11-06 15:21] #12067 closed

[2017-11-06 15:21] jtattermusch commented on #12029
Dupe of #10763

[2017-11-06 15:21] #12029 closed

[2017-11-06 15:21] jtattermusch commented on #12030
Dupe of #10763

[2017-11-06 15:21] #12030 closed

[2017-11-06 15:47] jtattermusch commented on #13266
Also failing in 100% runs on Linux and Mac (possibly for different reasons).
https://sponge.corp.google.com/target?id=5bf9549a-5822-447c-9732-652d9a15c840&target=github/grpc/grpc-node_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

node: ../deps/uv/src/unix/core.c:250: uv__finish_close: Assertion `handle->flags & UV_CLOSING' failed.

[2017-11-06 15:58] jtattermusch commented on #12886
Btw, I took a look at the PHP test and the source codes and it looks like in this particular case it should be pretty easy to come up with a C-only repro:

This is the PHP test:
https://github.com/grpc/grpc/blob/e5bca395f9bd9e6c017db3fd318ec608b5289341/src/php/tests/unit_tests/ChannelTest.php#L80
This is the implementation of Channel.watchConnectivityState (written in C actually)
https://github.co

[2017-11-06 16:32] ThatsAMorais commented on #12263
I am also seeing this issue, currently when building a python3.6-alpine docker image where I pip install it as a dependency of google-cloud-logging.

the error output from my end: https://gist.github.com/ThatsAMorais/39e44ea050e23d066c26f2eb86f8c7cc

[2017-11-06 16:36] nathanielmanistaatgoogle commented on #11751
@nicolasnoble, @ctiller: what are your thoughts on this?

[2017-11-06 16:39] jtattermusch commented on #12886
@ZhouyihaiDing   actually, looking at what testWatchConnectivityState() is doing, it looks like it's not correct (I might be missing something):
1. it creates a channel (which will start with GRPC_CONNECTIVITY_IDLE
2. it wait a second for state change **from** GRPC_CONNECTIVITY_CONNECTING to something else  - which should never happen as the channel is lazy and won't start connecting until you sta

[2017-11-06 17:13] ZhouyihaiDing commented on #12886
@jtattermusch To my understand, it just want to test whether it works or not.
The test pretend the former states is 1(GRPC_CONNECTIVITY_CONNECTING) while the current states is 0(GRPC_CONNECTIVITY_IDLE).
[code]
When last_state = 1 but current states = 0,
[code]
`event.success = true` before but now `event.success = false`.

[2017-11-06 17:28] yang-g commented on #13217
Looking

[2017-11-06 17:36] jtattermusch commented on #12886
@ZhouyihaiDing  I think I get what's happening - looks like the test sets a very short timeout of 1ms and that doesn't play well with recent C core's timing changes.

[2017-11-06 18:03] ncteisen opened #13269 "Flake: ClientLbEnd2endTest.RoundRobinReresolve GRPC_POLL_STRATEGY=poll"
[code]

[2017-11-06 18:05] ncteisen opened #13270 "Flake: H2SslCert/H2SslCertTest.SimpleRequestBody/12 GRPC_POLL_STRATEGY=poll"
[code]

[2017-11-06 18:07] connor4312 commented on #12506
This happened for us in grpc 1.6.6 (in Node). We had issues with the remote grpc service, which were recovered, but one of our servers got stuck in some kind of bad state and continue to throw this error for several hours until the client instance was manually restarted. Other clients were able to contact the grpc service without issues during this time.

[2017-11-06 18:24] ZhouyihaiDing commented on #12886
Set it to around 250ms can the test can pass in my PC without flaky.
$microseconds = 250000;
`gpr_timespec time = gpr_time_from_micros(microseconds, GPR_TIMESPAN);`

[2017-11-06 18:26] jtattermusch commented on #12886
I think this magic number could have to do with the fact that passing GPR_TIMESPAN as a "timeout" to C-core might be currently broken (according to @ctiller).

[2017-11-06 18:32] dgquintas commented on #10142
No failures since 2017-09-18. Closing.

[2017-11-06 18:32] #10142 closed

[2017-11-06 18:38] dgquintas commented on #13269
This will be fixed by https://github.com/grpc/grpc/pull/12427, which I'll merge today.

[2017-11-06 18:43] dgquintas opened #13272 "Ruby crash in tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh"
https://sponge.corp.google.com/target?id=f88957bc-24f3-4ea6-9ce1-d33d7238cd29&target=github/grpc/ruby_linux_opt_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-11-06 18:46] dgquintas opened #13273 "grpc/ubuntu/pull_request/grpc_interop_tocloud fails due to build_docker_node"
https://sponge.corp.google.com/target?id=f485ec3f-00e8-4493-86d8-df72d86296d5&target=grpc%2Fubuntu%2Fpull_request%2Fgrpc_interop_tocloud&searchFor=

[code]

[2017-11-06 18:49] dgquintas commented on #13040
Fixed by #12427

[2017-11-06 18:49] dgquintas commented on #13269
Fixed by #12427

[2017-11-06 18:49] #13269 closed

[2017-11-06 18:52] jtattermusch opened #13275 "Passing GPR_TIMESPAN as a timeout to C core doesn't work anymore."
We ran into that in https://github.com/grpc/grpc/issues/12886.

Passing GPR_TIMESPAN to C core with a semantics of "timeout" has worked in the past, and it seems it stopped working after https://github.com/grpc/grpc/pull/12677.

Not urgent, but might be worth fixing in the future.

[2017-11-06 18:52] jtattermusch commented on #13275
CC @ctiller  @ZhouyihaiDing

[2017-11-06 19:01] Carmageddon commented on #8682
Please give me early access as well @zinuga @wenbozhu

[2017-11-06 19:06] abaldeva opened #13276 "[C++] grpc crashes when using encrypted key"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
1.7.x/C++

### What operating system (Linux, Windows, …) and version?
Tested on Windows 10.

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 2015, OpenSSL - 1.0.1-h

### What did you do?
Create a server with security credentials. Used cert.pem

[2017-11-06 19:15] murgatroid99 commented on #13273
This failure is a git clone that ended with "The remote end hung up unexpectedly". I don't think there's anything I can do about that.

[2017-11-06 20:25] ZhouyihaiDing commented on #11996
Dupe of #10763

[2017-11-06 20:25] #11996 closed

[2017-11-06 20:25] ZhouyihaiDing commented on #11995
Dupe of #10763

[2017-11-06 20:25] #11995 closed

[2017-11-06 21:32] ZhouyihaiDing commented on #12714
I think you are missing grpc_php_plugin file.

If you build grpc from source, `grpc_php_plugin` is installed as part of it under `grpc/bins/opt/`.
If you only want `grpc_php_plugin`, you can clone grpc repo and then
[code]

[2017-11-06 22:04] adelez opened #13278 "Fail to build c# interop test docker image"
https://sponge.corp.google.com/target?id=cecb8edb-1282-4f8a-a82a-33feb17cf208&target=grpc%2Fubuntu%2Fmaster%2Fgrpc_interop_toprod&searchFor=

"Unable to load the service index for source https://api.nuget.org/v3/index.json"

[2017-11-06 22:05] adelez commented on #13278
@matt-kwong

[2017-11-06 22:23] adelez opened #13280 "C# test cleanup: use the same docker template for csharp and csharpcoreclr"
Historically, we created two C# Docker templates for testing if we didn't have dependency on coreclr when it was brand new. Now we are using it for building both versions, we can remove one of the templates.

This is a low priority issue.

[2017-11-06 22:54] nicolasnoble commented on #13258
We'd need a bit more data. I could try on one of my Raspberry Pi Zero, but since you've already have the platform, it might be easier to grab that information from you instead.

Could you give me the result of `readelf -e grpc_node.node` on your Pi 0 ? The file you managed to compile that is. We're currently cross-compiling that package, and this is a bit finicky to get right.

[2017-11-06 23:06] adelez commented on #10763
Dashboard: https://performanceedit-dot-grpc-testing.appspot.com/explore?dashboard=5711255578869760.
You can see the failing ones in upper right corner.
One suggestion was to retry in the client sides for this non-hermetic environment. An easier way to achieve this is simply set allow_flakes to true for cloud-to-prod tests, instead of changing all test clients.

[2017-11-06 23:14] hsaliak opened #13283 "Surface more information via metadata for gRPC Errors"
Please answer these questions before submitting your issue.

### Should this be an issue in the gRPC issue tracker?
Yes

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
Currently, an error string is returned when there is a gRPC error, which is not very useful for debugging.
### What did you expect to see?
More

[2017-11-07 00:27] idcmp opened #13285 "gprc_php_plugin - Incorrect handling for google.protobuf.Empty"
* libprotoc 3.4.0 (built from master)
* grpc_php_plugin (built from master, using protobuf built above)

My example proto, living in `/project/example.proto`:

[code]

Then run (season -I's and plugin path to taste):

[code]

Generates ExampleClient.php:

[code]

This should be `\Google\Protobuf\GPBEmpty`, shouldn't it?

[2017-11-07 00:44] yang-g commented on #13217
Looks like only failing at poll-cv. After a closer look it seems the poller fails to see the client fd is readable after the server sends something back to client. Still looking.

[2017-11-07 01:25] ZhouyihaiDing commented on #13285
I think `\Google\Protobuf\Empty` is supposed to be the right output here, and it's because that Empty hasn't been reserved in protoc v3.4.0.
@stanley-cheung , can this explain it?

[2017-11-07 01:33] david9991 commented on #11868
Upgraded to latest version, the issue seems gone.

[2017-11-07 01:48] matt-kwong commented on #11690
CPU cores quota increased by 3000. Queue times should be further reduced.

[2017-11-07 02:03] ZhouyihaiDing commented on #13285
#12611

[2017-11-07 07:11] #12886 closed

[2017-11-07 07:20] #13219 closed

[2017-11-07 07:28] ilovezfs opened #13291 "Current stable version?"
Based on https://github.com/grpc/grpc/releases and https://github.com/grpc/grpc/releases/latest I cannot tell if 1.7.0 or 1.7.1 is the current stable version.

Which version should be in Homebrew's stable spec? Thanks!

[2017-11-07 09:46] WandyLau commented on #12642
Hi,
I have a look at the source code.  As the log suggests, the root cause may come from boringssl.
And I found an improper logic here in ssl_transport_security.c in function
X509_STORE_add_cert. ==> X509_OBJECT_retrieve_match ==> x509_object_cmp, where may be the issue. The code is as below:

        for (i = idx; i < sk_X509_OBJECT_num(h); i++) {
    588        obj = sk_X509_OBJECT_value(h, i);

[2017-11-07 09:54] marcelcorso opened #13292 "php: grpc 1.7.0 release not on packagist"
The 1.7.0 release is missing from https://packagist.org/packages/grpc/grpc.

We ran into this issue when we upgraded the go and java implementations but could not update the php one.

I noticed that on pecl https://pecl.php.net/package/gRPC 1.7.0 is still a release candidate. Maybe we just got confused what version we could use by just looking at the releases page on github.

[2017-11-07 13:04] tfrench commented on #11041
Hi. I was wondering if there is an update on this? Thanks.

[2017-11-07 14:18] jtattermusch commented on #13278
I think it was a transient issue (looks like https://api.nuget.org/v3/index.json wasn't available, now it works).
In following builds the C# builds has passed without a problem:
https://sponge.corp.google.com/invocation?tab=Kokoro&id=c30e26f0-801e-48e9-aa86-3423d2f2bfc2&searchFor=
https://sponge.corp.google.com/invocation?id=d23213e0-f566-4570-b0cd-3675df77b24a&searchFor=

[2017-11-07 14:18] #13278 closed

[2017-11-07 15:05] #13184 closed

[2017-11-07 16:24] soiferj commented on #13227
Has anyone else experienced this issue?

[2017-11-07 16:55] jtattermusch commented on #13227
The line you are mentioning should throw 1 exception per second per channel.
https://github.com/grpc/grpc/blob/4cd04b3cd0833e97fc6a65ede8653961a0cf52a3/src/csharp/Grpc.Core/Channel.cs#L312

That doesn't really sound something that should result in a significant performance penalty.

Btw, the RunConnectivityWatcherAsync() method is mean as a temporary workaround for  https://github.com/GoogleCloudP

[2017-11-07 17:14] sreecha commented on #13125
There are about 5 different TSAN failures exposed by this test - all of them may or may not have the same root cause. I have a fix for one of the failures (https://github.com/grpc/grpc/pull/13294)

Will triage the rest and reassign to folks.

[2017-11-07 18:19] #13280 closed

[2017-11-07 18:27] ZhouyihaiDing commented on #13193
I'll update the compatibility in README alone with the solution to the issue #12481.

[2017-11-07 18:30] murgatroid99 commented on #10092
Seen again: https://sponge.corp.google.com/target?id=97778a11-1762-41a8-a73a-d99d4b2e701e&target=grpc/ubuntu/pull_request/grpc_basictests_cpp_opt&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-07 18:47] soiferj commented on #13227
In our case, this means ~1000 exceptions / second per server. In addition to everything else going on, it seems like that can cause a pretty significant hit.

Is there an ETA for removing RunConnectivityWatcherAsync?

[2017-11-07 19:05] bennuttall commented on #10890
Update: piwheels now hosted at hostedpi.com - see https://www.piwheels.hostedpi.com/simple/grpcio/

[2017-11-07 19:05] jtattermusch commented on #13266
Please note that the issue still exists after merging https://github.com/grpc/grpc/pull/13145.

[2017-11-07 19:11] yang-g commented on #13217
The immediate reason of the test failure is that the client cq is not polling all the time. It causes the backup poller to poll for the client, which happens every 5 seconds by default. What then triggers the failure is that the backup poller uses a 0 timeout for pollset_work and the poll-cv poller fires up a thread to call poll, yet hits the timeout before the poll returns and thus it may never g

[2017-11-07 19:22] sigmonsays opened #13295 "grpc_cli reflection does not work with proto import public"
### What version of gRPC and what language are you using?
 v1.7.x, specifically v1.7.1-4-g5cf4b44

### What operating system (Linux, Windows, …) and version?
 linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
latest  go-grpc server
grpc_cli on client

### What did you do?
make a grpc_cli call to a TestApi with imports

[code]

However if I make the call with

[2017-11-07 19:31] yang-g opened #13298 "poll-cv may not get events if repeatedly called with short timeout"
context: #13217

If poll-cv's pollset_work is called with 0 timeout for example, the polling code does not seem to wait for a poll to return (in the polling thread) before returning 0. As a result, it does not see the events received from the poll call.

[2017-11-07 19:31] yang-g commented on #13217
Filed #13298 for the poll cv issue.

[2017-11-07 19:31] ncteisen opened #13299 "Flake: SingleBalancerTest.BackendsRestart GRPC_POLL_STRATEGY=epollex"
[Kokoro](https://sponge.corp.google.com/target?id=ef801e25-a3cc-4cb3-99b4-7e757fd88c11&target=github/grpc/c%2B%2B_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS)

[code]

[2017-11-07 19:56] ZhouyihaiDing commented on #12250
Can you please help me provide more information about how to reproduce it? For the "Handshake read failed", since I haven't reproduce it, I am not sure setting "grpc.initial_reconnect_backoff_ms" will help or not.

I add credential files under src/php/tests/data/ca.pem to the helloworld example with go-server and php-client.  And it works well using the grpc-1.4.1 and grpc-1.4.6 installed by pecl.

[2017-11-07 20:12] ejona86 commented on #13295
CC @yang-g

[2017-11-07 20:55] bkw commented on #13263
Probable dupe: grpc/grpc-node#81 and PR grpc/grpc-node#82

[2017-11-07 20:59] dgquintas commented on #13040
It seems it's not fixed :/ Having a look...

[2017-11-07 21:04] #13217 closed

[2017-11-07 21:07] dklempner commented on #13295
Assuming the issue is in fact as stated (that import public doesn't work) the issue here is probably in the go implementation of the reflection service.

[2017-11-07 21:26] fengli79 commented on #13285
I don't think we should make a copy. Instead, we should be able to reuse the protobuf PHP naming convention.
https://github.com/google/protobuf/blob/a632f0dbac406227fad0951262f3b6160eaabebe/src/google/protobuf/compiler/php/php_generator.cc#L110

@teboring
@pherl

[2017-11-07 22:22] ZhouyihaiDing commented on #13285
It there an API to check reserved variable names in plugin?
It seems [php_generate.cc](https://github.com/google/protobuf/blob/a632f0dbac406227fad0951262f3b6160eaabebe/src/google/protobuf/compiler/php/php_generator.cc#L52) in protobuf repo is also copying an array of it.

[2017-11-07 22:41] TeBoring commented on #13285
Currently, there is no public API to tell the correct php proto message name.
I can add a util method to do that in google/protobuf/compiler/php/php_helper.h.
Does that work for grpc?

[2017-11-07 22:42] TeBoring commented on #13285
One concern is: does grpc link any protobuf library now?

[2017-11-07 23:43] ZhouyihaiDing commented on #13285
I think plugin link to the protobuf @TeBoring :
[code]

[2017-11-07 23:56] apolcyn commented on #13103
@shaunakpp are you able to describe an example of the messages in these queries, the exact data strore APIs being called, and the pattern of how they are called? Ideally, do you have example code to reproduce?

[2017-11-08 00:11] #13128 closed

[2017-11-08 00:22] yashykt opened #13302 "Artifact Build Linux Fails"
I can see the failure at https://github.com/grpc/grpc/pull/13145
Sponge Link to Failure  [https://sponge.corp.google.com/target?id=5dc86063-8fde-48a0-a114-34a2827741e8&target=grpc/ubuntu/pull_request/grpc_build_artifacts&searchFor=&show=ALL&sortBy=STATUS](url)

Build artifacts broken
build_artifact.csharp_ext_linux_x86
build_artifact.csharp_ext_linux_x64
build_artifact.php_pecl_package_linux_x64

[2017-11-08 00:38] dgquintas commented on #12830
Fixed by https://github.com/grpc/grpc/pull/13121

[2017-11-08 00:38] #12830 closed

[2017-11-08 01:48] WandyLau commented on #12642
As I read the source code, the error originate from the function **X509_STORE_add_cert**, I will try to debug this. But I am new to the grpc development. If anyone know how to debug it, please give me some advice.

[2017-11-08 02:23] ZhouyihaiDing commented on #13193
I haven't finished updating README yet. I listed [the version relationship in my branch](https://github.com/ZhouyihaiDing/grpc/blob/update_readme_draft/src/php/README.md#protobuf-compiler).

[2017-11-08 05:31] #13050 closed

[2017-11-08 06:36] suhacen commented on #13249
don't know why, but when I remove "-lgrpc++_reflection" from the demo Makefile, it works.

[2017-11-08 09:39] RevoKey commented on #12422
I run these commands
[code]

then make in examples/cpp/helloworld

result:
[code]

[2017-11-08 10:36] magick93 opened #13305 ""grpc_message":"Did not read entire message""
### Should this be an issue in the gRPC issue tracker?

Yes

### What version of gRPC and what language are you using?
 I have tried with 1.7.2 and 1.6.1

### What operating system (Linux, Windows, …) and version?
Ubuntu 17.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Have tried with Python 2.7.14 and Python 3.6.3

### What did you do?

Tried to call a sim

[2017-11-08 17:56] dgquintas commented on #13299
Duplicate of #13040

[2017-11-08 17:57] dgquintas commented on #13040
Actually, fixed, although there's a related one in #13299

[2017-11-08 17:57] #13040 closed

[2017-11-08 17:57] dgquintas commented on #13299
No, this is a different one. Reopening.

[2017-11-08 17:58] dgquintas commented on #12330
The issue seems resolved, closing.

[2017-11-08 17:58] #12330 closed

[2017-11-08 17:58] #10981 closed

[2017-11-08 17:59] dgquintas commented on #13299
FWIW, this is a known issue that should soon be fixed by #12829

[2017-11-08 18:13] yang-g commented on #13305
The error means the C++ server tries to parse the message but did not see a legitimate end of the message (by checking `ConsumedEntireMessage` after parsing). Your trace seems like you have a 22B proto request and the trace seems fine. Is it possible that the client and server are not using the same proto file?

[2017-11-08 19:38] ncteisen opened #13309 "Sync UBSAN internal and external"
Internal UBSAN is stricter than the one we run on PRs. See #13303.

We should fix this.

[2017-11-08 20:03] yashykt commented on #13200
Fixed as part of #13147

[2017-11-08 20:03] #13200 closed

[2017-11-08 20:04] yashykt commented on #12787
should be fixed as of #12648

[2017-11-08 20:04] #12787 closed

[2017-11-08 20:08] yashykt commented on #12977
not sure how I missed this. I can take this on, but will not be able to work on this anytime soon.

[2017-11-08 20:13] vjpai commented on #13019
I should add something about "expecting any kind of progress on RPCs, even for write-related activities without a CQ Next somewhere" as well as "expecting writes to complete without a matching read on the other side of the stream"; both are common mistakes since for certain message sizes and transports, writes can be completed by buffering into flow-control, but that's not always possible.

[2017-11-08 21:08] ZhouyihaiDing commented on #13285
Seems in protobuf v3.4.0, there are only [3 reserved names](https://github.com/google/protobuf/blob/v3.4.0/src/google/protobuf/compiler/php/php_generator.cc#L52).
Copy the step processing the class name from it and create a short term solution in PR #13312

There will be new API in [protobuf v3.5.0](https://github.com/google/protobuf/pull/3850). Thanks @TeBoring . We will use it when grpc start us

[2017-11-08 21:23] ZhouyihaiDing commented on #13302
The link above is not working. Here is the failure from a random PR:
https://sponge.corp.google.com/target?id=43bddd79-67d2-4077-80a7-1cf335d1e2ce&target=grpc/ubuntu/pull_request/grpc_build_artifacts&searchFor=&show=ALL&sortBy=STATUS

[2017-11-08 21:28] magick93 commented on #13305
Agh! Thats exactly it!

[2017-11-08 21:58] nathanielmanistaatgoogle commented on #13250
From "Normally, we will run `while (stream->Read(&data))` until it finishes, but in situations where
we close the connection before that by `return Status::OK;`" I believe that this is an example of (currently unsupported) ["early OK" semantics](https://github.com/grpc/grpc/issues/7032).

Closing, since this seems otherwise resolved.

[2017-11-08 21:58] #13250 closed

[2017-11-08 23:04] apolcyn commented on #13291
1.7.1 and 1.7.2 are patch releases only for the C# and Ruby grpc libraries, which contain bug fixes (and one ruby dependency update) for only C# and Ruby.

For all other grpc C-based languages (the libraries that live in this repo), I believe 1.7.0 is the latest stable version (note that the the 1.7.x branch on this repo is at version 1.7.2 only for the latest ruby release).

[2017-11-08 23:47] nathanielmanistaatgoogle commented on #11041
No update - it's very much fallen off my radar for now and isn't an active priority. (It may have been fixed - are you able to confirm that it's an active issue in gRPC Python 1.7.0 and later?)

That's not to say that it shouldn't be a priority - how severely are you affected? Can you share with us details about your use case and what you have to do to work around the behavior?

[2017-11-08 23:54] dgquintas opened #13316 "TIMEOUT json_run_localhost:cpp_protobuf_async_unary_qps_unconstrained_insecure GRPC_POLL_STRATEGY=epollex"
https://sponge.corp.google.com/target?id=3921201e-9c14-4a88-81ad-6bee54a038bb&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-08 23:55] dgquintas commented on #13148
Also under poll https://sponge.corp.google.com/target?id=7a2d747f-d4c3-4e0e-84f7-b288c0a2e372&target=github/grpc/c%2B%2B_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-09 00:02] dgquintas commented on #13115
Duplicate of #13148

[2017-11-09 00:02] #13115 closed

[2017-11-09 01:06] murgatroid99 commented on #12913
Same failure seen with `bins/opt/h2_fakesec_test resource_quota_server GRPC_POLL_STRATEGY=poll` at https://sponge.corp.google.com/target?id=ef35da33-0c44-4999-af0d-b3cdff16960a&target=grpc/ubuntu/pull_request/grpc_basictests_c_opt&searchFor=&show=ALL&sortBy=STATUS

[2017-11-09 01:10] murgatroid99 opened #13317 "qps_json_driver timeout"
https://sponge.corp.google.com/target?id=ee25caf7-2336-4357-a46a-243e261282fc&target=grpc/ubuntu/pull_request/grpc_basictests_cpp_opt&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-09 01:38] apolcyn commented on #13103
@shaunakpp are you certain that `google-protobuf` is actually getting used here?

`google-cloud-datastore-1.1.0` has a dependency on `google-protobuf ~> 3.2.0`, which as far as I can tell prevents it from using `google-protobuf` version 3.4.1.1, even though it may be installed.

I was able to reproduce the stack trace posted here with both `google-protobuf (3.4.1.1 x86_64-linux, 3.2.0.2 x86_64-lin

[2017-11-09 04:17] ZhouyihaiDing commented on #13302
[code]
Docker file in grpctesting/grpc_artifact_linux_x86_ is removed by #13145

[2017-11-09 04:22] ZhouyihaiDing commented on #12229
I'll grpc.io alone with #13193 #12481

[2017-11-09 05:16] #13291 closed

[2017-11-09 05:18] apolcyn commented on #13103
* update to above comment, wanted to see if you are able to run google-protobuf version 3.4 with the datastore... I don't think this is possible but just checking

[2017-11-09 06:08] iwaseyusuke opened #13318 "Escape argument/attribute name collides Python reserved keyword"
Version of gRPC and language: protoc and Python plugin
[code]

OS: Linux Ubuntu 16.04 LTS

Runtime and compiler:
[code]

I'm trying to send a message from gRPC client written in Python and the message is like:
[code]

The gRPC server is written in Go, `global` and `as` does not collides the reserved keywords, but on Python, these variable name clash with reserved keywords.
Then, I couldn't create

[2017-11-09 06:26] shaunakpp commented on #13103
Hi @apolcyn, I did try to update `google-protobuf` but couldn't. And I also did some backtracking to find out why `google-protobuf` was locked to `3.2.02`, so it seems that `google-cloud-datastore 1.1.0` has a dependency of `google-gax 0.8.0` which locks `google-protobuf` to versions  ( ~> 3.2)[https://github.com/googleapis/gax-ruby/blob/master/google-gax.gemspec].

[2017-11-09 06:32] Rhysol opened #13319 "grpc memory leak and connection problem"
My grpc version is  1.7.2 And running my program on centos7.
Here is my demo code: https://github.com/Rhysol/GrpcDemo
1. First ,I send 100k requests to my grpc server. Then I saw my server use almost 22% memory and did not release these memory before client disconnect. And I am sure these request has been responsed. After that I continue send the request  100k every time and did not disconnect fro

[2017-11-09 06:48] mitar opened #13321 "Cannot return a non-standard GRPC status in Python"
### What version of gRPC and what language are you using?

Python:

grpcio==1.6.0
grpcio-tools==1.6.0

### What operating system (Linux, Windows, …) and version?

Mac OS X, 10.10.5.

### What runtime / compiler are you using (e.g. python version or version of gcc)

See above.

### What did you do?

In router guide example code, I wanted to return a non-standard status:

[code]

### What did you ex

[2017-11-09 06:51] luchunminglu commented on #13319
the memory leak may be fixed in 1.7.1. I test this version already one week, it works fine.

[2017-11-09 06:59] apolcyn commented on #13103
Indeed, I'm interested to see if that `google-gax`'s protobuf dependency can be bumped to the latest version.

[2017-11-09 07:07] Rhysol commented on #13319
@luchunminglu But the grpc on github is 1.6 version,how could you get 1.7.1 version?

[2017-11-09 07:10] Rhysol commented on #13319
@luchunminglu I download from https://github.com/grpc/grpc recently. I don't sure if it's 1.7.1.

[2017-11-09 07:56] Rhysol commented on #13319
@luchunminglu I test it on version 1.7.2, it has the same promble

[2017-11-09 08:47] Rhysol commented on #13319
I just test the c++ greeter_async_client2 and greeter_async_server. it has the same promble.

[2017-11-09 09:01] tfrench commented on #11041
Thanks for the no update. :)

It's still happening with 1.7.0.

Exactly the same as described above. We're working to make our framework py2/py3 compatible. Currently, we manually edit the files (of which there are only a few), as described above. It works, but clearly it isn't ideal.

[2017-11-09 09:17] zsojma opened #13323 "Override use of `http_proxy` env. variable"
Hello, we have an dotnet core application which has two clients, one for HTTP requests and other for gRPC. We need to proxy requests from both clients where each of protocols (HTTP vs. HTTP/2) needs to go through different proxy (we are using linkerd proxy as a service mesh and it is not able to process two different protocols on the same port). We are using C# gRPC v. 1.6.1 in docker container ba

[2017-11-09 10:55] blowmage commented on #13103
We are working on upgrades right now, and expect to release within a week.

[2017-11-09 12:56] jtattermusch commented on #13302
Yes, we should the artifact dockerfiles back, they were probably removed by mistake.
tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
tools/dockerfile/grpc_artifact_linux_x86/Dockerfile

[2017-11-09 16:13] #13302 closed

[2017-11-09 17:19] edgartanaka opened #13327 "Segmentation fault in python google cloud libraries"
Please answer these questions before submitting your issue.

### What version of gRPC and what language are you using?
I'm using Python. We are using several python gcloud libs:
google-api-core==0.1.1
google-auth==1.1.1
google-cloud==0.29.0
google-cloud-bigquery==0.27.0
google-cloud-bigtable==0.28.1
google-cloud-core==0.27.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error

[2017-11-09 17:29] murgatroid99 opened #13328 "Flake: grpclb_end2end_test SingleBalancerWithClientLoadReportingTest.Vanilla GRPC_POLL_STRATEGY=poll"
https://sponge.corp.google.com/target?id=c9587ad5-3258-4b70-891f-74bc463d2e4b&target=grpc/ubuntu/pull_request/grpc_cpp_tsan&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-09 17:31] #13242 closed

[2017-11-09 17:59] mehrdada commented on #13321
This is intentional. All other statuses are mapped to `UNKNOWN`. The canonical way to signal other custom statuses to the client is by using the status proto in the metadata. I discussed this with @ejona86 as well and this behavior is consistent with the Java implementation, so ideally, Go should map arbitrary statuses to `UNKNOWN` (cc: @dfawley).

[2017-11-09 18:03] vjpai commented on #13148
The poll failure is different.... That seems to be the sync server failing because it has actually run out of threads that it can allocate.

[2017-11-09 18:20] yang-g opened #13330 "thread_stress_test flaky (Linux dbg and opt)"
[code]

[2017-11-09 18:20] yang-g commented on #13148
I have seen the mac sync server issue and created #13330 for it.

[2017-11-09 18:41] dgquintas opened #13333 "grpclb should not create RR policy with fallback addresses on resolver update before we have started picking"
See https://github.com/grpc/grpc/pull/13306 (in particular, [this comment](https://github.com/grpc/grpc/pull/13306/files#discussion_r150033359)) for details and previous attempts.

This depends on  #12829

[2017-11-09 19:34] sreecha opened #13334 "concurrent_connectivity_test tsan failure: heap_use_after_free"
To reproduce:

[code]

Note that there is more than one Tsan failures exposed by this thread and they have slightly different call-stacks. But for many of them, the top part of the call-stacks are similar.
**NOTE: Sometimes you find a tsan failure in resource-quota . That is a separate bug**

Also, note that depending on the order in which the operations happen, this is either tagged as `heap-use-

[2017-11-09 19:41] sreecha commented on #13334
Mark, I tried investigating this a bit but I feel you know this code much better and can probably identify what is going on.

The issue is caused due to the fact that `grpc_error` object passed to  `pf_connectivity_changed_locked`
is actually stored in the state tracker (which is destroyed when the channel gets destroyed)

I tried hard to see if this is a case of simple GRPC_ERROR_REF() case but i

[2017-11-09 19:42] sreecha commented on #13334
Tagging @dgquintas since he knows this code as well.

[2017-11-09 19:43] sreecha commented on #13334
Marking it P1 - since I feel this may be a legitimate issue (I mean..something that exposes a minor design bug - instead of a simple code bug)

[2017-11-09 20:22] mehrdada commented on #13318
This issue should be resolved in Protocol Buffers compiler first and based on their resolution, we can go ahead and make a corresponding fix to gRPC Python protobuf plugins if needed. If you could please file a bug on `google/protobuf` repo and ping us here when that gets resolved that would be great. Thanks!

[2017-11-09 20:32] mehrdada commented on #13318
(I am closing this issue at this point, as I am not sure there is anything on gRPC side to be done if `protobuf` makes a fix on its side, but feel free to ping us to reopen if the underlying cause was fixed on `protobuf` and there was still changes needed on gRPC Python plugin side.)

[2017-11-09 20:32] #13318 closed

[2017-11-09 20:47] markdroth commented on #13333
As I mentioned in #13306, I think we can go ahead and fix this immediately.  I don't think it's necessary to wait for #12829.

[2017-11-09 21:09] l33ds commented on #11581
Hey guys, could you help me realized how and where was this resolved?
I'm using GRPC 1.6.0 in my project and I get a similar error (attached).
I can see that zconf.h is being changed into zconf.h.including in the build process.
Do I need to update my GRPC? Why does it only happen to some people?
Thanks!!!

FAILED: /usr/bin/c++   -DGOOGLE_PROTOBUF_CMAKE_BUILD -DHAVE_CONFIG_H=1 -DHAVE_PTHREAD -DHAVE

[2017-11-09 21:09] l33ds commented on #11581
Hey guys, could you help me realized how and where was this resolved?
I'm using GRPC 1.6.0 in my project and I get a similar error (attached).
I can see that zconf.h is being changed into zconf.h.including in the build process.
Do I need to update my GRPC? Why does it only happen to some people?
Thanks!!!

FAILED: /usr/bin/c++   -DGOOGLE_PROTOBUF_CMAKE_BUILD -DHAVE_CONFIG_H=1 -DHAVE_PTHREAD -DHAVE

[2017-11-09 21:38] dgquintas opened #13337 "grpclb_end2end_test --gtest_filter=SingleBalancerWithClientLoadReportingTest.Vanilla Flaky"
This has happened, so far, only under epollex:

https://sponge.corp.google.com/target?id=a48fdbb3-0a8b-43f4-99de-4434ea682f4d&target=github/grpc/c%2B%2B_linux_dbg_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-09 21:41] nathanielmanistaatgoogle commented on #13318
I think this is more of a [Protocol Buffers](https://github.com/google/protobuf) question than a gRPC question.

@xfxyjwf, @anandolee: any thoughts?

[2017-11-09 21:48] nathanielmanistaatgoogle commented on #13327
Are you able to isolate the problem any further? Are you able to reproduce the issue in a narrower space of time (than one hour) and narrower circumstances (fewer libraries involved)?

[2017-11-09 21:57] yang-g opened #13338 "Node fails to generate from template"
2017-11-09 01:31:39,884 START: /var/local/git/grpc-node/packages/grpc-native-core/package.json
2017-11-09 01:31:39,886 START: /var/local/git/grpc-node/packages/grpc-native-core/binding.gyp
2017-11-09 01:31:39,888 WAITING: 0 queued, 2 jobs running, 0 complete, 0 failed (load 2.00)
2017-11-09 01:31:40,308 Traceback (most recent call last):
  File "tools/buildgen/mako_renderer.py", line 187, in <modu

[2017-11-09 22:57] nathanielmanistaatgoogle opened #13340 "grpcio-* documentation not available at https://grpc.io/grpc/python/*"
I don't think we're yet serving anywhere the documentation of our `grpc_<more stuff>` packages.

[2017-11-09 22:58] mehrdada commented on #13340
Good point. I will take care of this.

[2017-11-09 23:09] mitar commented on #13321
Ah, this is really sad. Because now we have to handle values at two places: we have to check status of the call and status in metadata. This is error prone. It would be really great if there could be a custom status. Or, maybe, there could be three values: status, custom value, and details. And one of status fields would be "OTHER" and then you could set custom value to a value you want.

[2017-11-09 23:12] ejona86 commented on #13321
status.proto has the three pieces: https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto

But you must always choose a canonical code, so that things that aren't aware of your special code (e.g., retries) can function. The canonical code is purposefully broad, as it allows wide strokes in error handling when you don't understand the specifics of a particular service.

[2017-11-09 23:37] mitar commented on #13321
I do not see a way to pass/set `message` to status in Python?

[2017-11-09 23:41] zamber commented on #12031
@kdhee09 is this still reproducing for you?

[2017-11-09 23:42] nathanielmanistaatgoogle commented on #11041
So... we have [a test of the code generator](https://github.com/grpc/grpc/blob/master/src/python/grpcio_tests/tests/protoc_plugin/_split_definitions_test.py) that runs in both Python 2 and Python 3 with the same generated code, and that test passes, so I'd like to be able to say that there's an easy way through this obstacle. What's the difference between what the test tests and your case? Is it j

[2017-11-10 05:57] magick93 commented on #13305
I closed this issue too early. Unfortunately this was not the issue.

I have doubled checked several times. And have even checked protos in c++ project and python project using Beyond Compare - they are identical.

[2017-11-10 06:05] achidlow commented on #9688
@kpayson64 this is definitely still happening in 1.7.0 ^

[2017-11-10 08:19] jtattermusch commented on #13227
Currently there's no clear ETA for removing RunConnectivityWatcherAsync. While I agree this is less than ideal, I still don't think 1000exceptions/s that need to be garbage collected represent a significant overhead.
What I think would help: can you try disabling RunConnectivityWatcherAsync for channels and see if you see significant perf. improvements in your setup? (I suspect you won't).

I curr

[2017-11-10 08:40] treedom commented on #13305
I have the same promble and for sure the proto file is same with vimdiff. But get the same Error Message : "rpc error: code = Internal desc = Did not read entire message " :(

[2017-11-10 08:57] IDIHTD opened #13345 "enum type not serializing"
i work with c# ,i want to replace wfc with grpc ,and i wote an demo,there is an questioin,the enum type not serializing,it bother me,code like this:
helloRequest.SingleMaHuiEntity = new MaHuiMessage()
            {
                Ma1 = "ma1",
                Ma2 = 32,
                Single2Enum = MaHuiMessage.Types.ma2Enum.Ma2Item1,

                SingleEnum = MaHuiMessage.Types.ma1Enum.Ma1Ite

[2017-11-10 11:21] jtattermusch opened #13347 "Perf benchmarks broken after node removal (invalid choice: "node")"
[code]

Probably as a side effect of https://github.com/grpc/grpc/pull/13145.

[2017-11-10 11:22] jtattermusch commented on #13347
CC @murgatroid99
CC @ZhouyihaiDing

[2017-11-10 11:44] jtattermusch commented on #13124
I am actually still seeing this on upstream/master after #13259 has been merged.
Based on the data, it looks like it *has been fixed* on `opt` configuration,
but it's *still happening* at the same rate for `dbg`.

E.g.
https://sponge.corp.google.com/target?id=02948f4d-d731-40eb-a9fa-8918f8c8ce16&target=github/grpc/c_linux_dbg_native&searchFor=&show=ALL&sortBy=STATUS
https://sponge.corp.google.com/

[2017-11-10 15:59] aajtodd commented on #9316
There is also this implementation which wraps grpc core

https://github.com/pingcap/grpc-rs

[2017-11-10 16:11] #13347 closed

[2017-11-10 16:52] kirillgroshkov commented on #8860
same issue when running on AWS! Any idea how to do `npm rebuild`?

[2017-11-10 17:24] sreecha commented on #13124
Hmm..looks like this is now happening only on `h2_http_proxy` fixture :(..  I will take a look.

[2017-11-10 17:43] yang-g commented on #13305
If possible, having the debug log (with GRPC_TRACE) at the server side to make sure the server receives the data as the client sends them would be helpful. If that is the case, the issue is from protobuf side.

A minimal example to reproduce this issue would be great too.

@treedom what is the client gRPC language you used?

[2017-11-10 18:06] dgquintas commented on #12668
Ping. This has been happening (about 13% of the time). The latest instance:
https://sponge.corp.google.com/target?id=7077001e-a89c-46f6-992b-335dbd14a1e0&target=github/grpc/python_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 18:14] dgquintas opened #13350 "Leak in bins/asan/grpclb_end2end_test --gtest_filter=SingleBalancerWithClientLoadReportingTest.Drop GRPC_POLL_STRATEGY=epoll1"
Happened in https://sponge.corp.google.com/target?id=7487d93b-3f20-4bc5-be69-8dfb7000f8ef&target=github/grpc/c%2B%2B_linux_asan_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-10 19:19] adelez opened #13351 "Data race detected in bins/tsan/secure_endpoint_test GRPC_POLL_STRATEGY=epollsig"
https://sponge.corp.google.com/target?id=c6c99ffc-dd92-4851-8842-810fa17025c8&target=github/grpc/c_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[2017-11-10 19:20] nathanielmanistaatgoogle commented on #12668
@jtattermusch, @dgquintas: what can we do to discriminate between the test hanging and the test simply being starved of resources by the test infrastructure? If we give it less time to run, does it still mostly pass but time out more often? If we give it more time to run, does it still mostly pass but time out less often? If we give it uncontested, dedicated computational resources, does it always

[2017-11-10 19:20] adelez commented on #13351
Hi Vijay, feel free to reassign if you are not the best owner.

[2017-11-10 19:26] adelez opened #13352 "Flake: cmake/build/Release/concurrent_connectivity_test.exe times out"
[code]

https://sponge.corp.google.com/target?id=6e3c6569-a4a5-44a0-a35c-0030fda857f8&target=github/grpc/c_windows_opt_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 19:31] adelez opened #13353 "Unexpected end of input in tools/run_tests/helper_scripts/run_grpc-node.sh"
SyntaxError: /var/local/git/grpc-node/packages/grpc-native-core/package.json: Unexpected end of input

https://sponge.corp.google.com/target?id=18279676-46a4-4256-9f8f-6f18d4afdab9&target=github/grpc/grpc-node_linux_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

https://sponge.corp.google.com/target?id=18279676-46a4-4256-9f8f-6f18d4afdab9&target=github/grpc/grpc-node_linux_opt_native&searchFor=&

[2017-11-10 19:41] dgquintas commented on #13247
Duplicate of #13122

[2017-11-10 19:41] #13247 closed

[2017-11-10 19:42] dgquintas commented on #13122
This continues to fail consistently. Has there been any progress?

[2017-11-10 19:44] dgquintas commented on #12917
Duplicate of #11008

[2017-11-10 19:51] dgquintas commented on #11008
@yang-g I just saw this happen again: https://sponge.corp.google.com/target?id=df7c2033-080e-48e7-9b5f-69dc08b2b01b&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

There seems to have been an uptick today: https://screenshot.googleplex.com/Rg8eeYskSdP

[2017-11-10 19:54] dgquintas commented on #13330
Seen again: https://sponge.corp.google.com/target?id=15cc1ab7-bc2c-46be-a909-e874af69638f&target=github/grpc/c%2B%2B_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

@vjpai any idea how we could deal with this?

[2017-11-10 19:55] dgquintas commented on #13155
In fact, they timeout: https://sponge.corp.google.com/target?id=15cc1ab7-bc2c-46be-a909-e874af69638f&target=github/grpc/c%2B%2B_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 19:56] dgquintas commented on #13253
Ping. This happens consistently.

[2017-11-10 20:41] magick93 commented on #13305
This is the server trace - it doesnt show much:

[code]

[2017-11-10 21:28] dgquintas commented on #13149
@jtattermusch , do you think you could take a quick look?

[2017-11-10 21:29] dgquintas commented on #13149
Latest instance: https://sponge.corp.google.com/target?id=e6c208dc-de47-401c-907c-4ceb3702cfa1&target=github/grpc/c_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 21:30] ohade opened #13355 "Question: Is there a plan to support qos in grpc?"
I previously worked with a system similar to grpc - DDS from rti - and one of their strongest features - for me - is QOS, when a client disconnect for some reason and reconnect he gets the message he missed.
You can control the window of message he lost and other features around that.
Is it something that grpc supports now? or thinking about supporting in the future?
Thanks

[2017-11-10 21:31] mtl1979 commented on #11581
@l33ds It should not happen to people who have installed zlib development package as that includes both zlib.h and zconf.h files. It might happen if those two files end up from two incompatible versions of zlib.

[2017-11-10 21:36] dgquintas commented on #11008
And again: https://sponge.corp.google.com/target?id=6b86713e-5543-4e87-9b40-5213b01578a5&target=github/grpc/c%2B%2B_linux_opt_native&searchFor=&show=ALL&sortBy=STATUS

[2017-11-10 21:40] dgquintas commented on #13330
Again: https://sponge.corp.google.com/target?id=96b4507d-db04-4f5f-b150-4284dd51ba57&target=github/grpc/c%2B%2B_macos_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 21:41] #13334 closed

[2017-11-10 21:44] dgquintas commented on #13330
It seems to be happening consistently now: https://sponge.corp.google.com/target?id=3a35381a-015b-4a11-92e3-7f0b590b6a82&target=github/grpc/c%2B%2B_macos_opt_native&searchFor=&show=FAILED&sortBy=STATUS

[2017-11-10 22:14] #9380 closed

[2017-11-10 22:14] #9994 closed

[2017-11-10 22:14] #10734 closed

[2017-11-10 22:14] #10878 closed

[2017-11-10 22:14] #10894 closed

[2017-11-10 22:14] #11109 closed

[2017-11-10 22:14] #11179 closed

[2017-11-10 22:14] #11205 closed

[2017-11-10 22:14] #11206 closed

[2017-11-10 22:14] #11209 closed

[2017-11-10 22:14] #11214 closed

[2017-11-10 22:14] #11219 closed

[2017-11-10 22:14] #11701 closed

[2017-11-10 22:14] #11746 closed

[2017-11-10 22:14] #12070 closed

[2017-11-10 22:14] #12110 closed

[2017-11-10 22:14] #12111 closed

[2017-11-10 22:14] #12262 closed

[2017-11-10 22:14] #12271 closed

[2017-11-10 22:14] #12337 closed

[2017-11-10 22:14] #12407 closed

[2017-11-10 22:14] #12446 closed

[2017-11-10 22:14] #12461 closed

[2017-11-10 22:14] #12594 closed

[2017-11-10 22:17] #9037 closed

[2017-11-10 22:17] #10643 closed

[2017-11-10 22:17] #11055 closed

[2017-11-10 22:17] #11325 closed

[2017-11-10 22:17] #11428 closed

[2017-11-10 22:17] #11666 closed

[2017-11-10 22:17] #12307 closed

[2017-11-10 22:17] #12336 closed

[2017-11-10 22:17] #12528 closed

[2017-11-10 22:17] #12567 closed

[2017-11-10 22:17] #12578 closed

[2017-11-10 22:17] #12599 closed

[2017-11-10 22:17] #12629 closed

[2017-11-10 22:17] #12687 closed

[2017-11-10 22:17] #12722 closed

[2017-11-10 22:17] #12724 closed

[2017-11-10 22:17] #12725 closed

[2017-11-10 22:17] #12741 closed

[2017-11-10 22:17] #12754 closed

[2017-11-10 22:17] #12761 closed

[2017-11-10 22:17] #12916 closed

[2017-11-10 22:17] #12952 closed

[2017-11-10 22:17] #12957 closed

[2017-11-10 22:19] dgquintas commented on #13266
Fixed by https://github.com/grpc/grpc-node/pull/86

[2017-11-10 22:19] #13266 closed

[2017-11-10 22:20] #13273 closed

[2017-11-10 22:24] #12959 closed

[2017-11-10 22:24] #12961 closed

[2017-11-10 22:24] #12963 closed

[2017-11-10 22:24] #12964 closed

[2017-11-10 22:24] #12993 closed

[2017-11-10 22:24] #12995 closed

[2017-11-10 22:24] #12996 closed

[2017-11-10 22:26] #9633 closed

[2017-11-10 22:26] #9624 closed

[2017-11-10 22:26] #9564 closed

[2017-11-10 22:26] #10169 closed

[2017-11-10 22:26] #10539 closed

[2017-11-10 22:26] #11943 closed

[2017-11-10 22:47] yang-g commented on #13305
You may also need to set `GRPC_VERBOSITY=DEBUG` to show the other debug logs like the client side...

[2017-11-10 22:56] yang-g commented on #11008
Note I think the newly failing issue is not the same as the original one, which uses poll and results in a segfault. The new one is a RPC which should fail succeeding with epoll1 and inproc transport.

[2017-11-10 23:02] magick93 commented on #13305
Ok. I have added the output to https://gist.github.com/magick93/f7481e118627f00908c25780174fbe79

[2017-11-10 23:18] yang-g commented on #13305
Sorry but it looks truncated to me...
If too much output is a problem, maybe just use GRPC_TRACE=api,http,tcp
rather than all. Thanks.

On Fri, Nov 10, 2017 at 3:02 PM, magick93 <notifications@github.com> wrote:

[2017-11-10 23:45] magick93 commented on #13305
With `GRPC_TRACE=api,http,tcp`

[code]

[2017-11-11 03:34] lizan opened #13360 "JWT with nbf = 0 considered as BAD_FORMAT"
More context: https://github.com/cloudendpoints/esp/issues/308

The [JWT verifier](https://github.com/grpc/grpc/blob/master/src/core/lib/security/credentials/jwt/jwt_verifier.cc#L270) considers 0 as invalid value, but some JWT issuer (Keycloak) include nbf=0 as claims.

[2017-11-11 12:44] hellofake opened #13361 "Can I using grpc in Broswer and using JavaScript（client） calls java function （server）？"

[2017-11-11 13:09] iwaseyusuke commented on #13318
Thank you for your reply!
Sure, I will search if there is the similar issue on protobuf side and create a new one if needed.

[2017-11-12 16:27] kopiro commented on #13258
This is the compiled one:

[code]

[2017-11-12 23:09] magick93 commented on #13305
Hi @yang-g - any help deciphering the above would be greatly appreciated.

[2017-11-12 23:49] magick93 opened #13362 "Python generator - Tried to insert into file that doesn't exist."
### Should this be an issue in the gRPC issue tracker?

I assume so - but surely the owners of this issue tracker can answer that better than I can.

### What version of gRPC and what language are you using?
 I have tried with the following versions:

[NOT WORKING] - 1.6.1 - See https://github.com/hughestech/docker-protobuf/blob/1.6.1/Dockerfile#L4
[NOT WORKING] - 1.6.6 - https://github.com/hughes

[2017-11-13 07:19] jtattermusch commented on #12668
@nathanielmanistaatgoogle, not sure what the test is doing, but for python being out of resources is quite a long shot.

With our current setup, only 2 suites (the `-j 2`) can run at the same time (suite = e.g. "python dbg" or "csharp opt"...), while most wrapped languages have pretty lightweight tests. C and C++ tests (which are the heavyweight ones) are running on a completely different VM so th

[2017-11-13 07:22] jtattermusch commented on #12668
And I'm pretty sure increasing timeout won't help:
The average runtime of the test is between 35-40sec when passing, while the instances that timeout are getting terminated at 300sec.

Here's the bigquery to check that yourself:
[code]

[2017-11-13 10:41] BusyJay commented on #9538
Is this issue fixed by any commit? I can't find any clues here.

[2017-11-13 12:33] jtattermusch commented on #13155
Ok, here's a summary of problems:
1. some instances on ASAN take way too long ~1500sec.
2. some instances on dbg/opt on linux take too long   (~700sec for dbg and ~200sec for opt).
3. some instances can timeout on mac, but based on historical data it's not very common.

The query:
[code]

[2017-11-13 12:54] jtattermusch commented on #13155
More insights:
Things are slow for some shards only (HistogramTest.IncHistogram/2 HistogramTest.IncHistogram/4 HistogramTest.IncHistogram/5 and HistogramTest.IncHistogram/7),
which corresponds to these stats:
GRPC_STATS_HISTOGRAM_TCP_WRITE_SIZE,
GRPC_STATS_HISTOGRAM_TCP_READ_SIZE,
GRPC_STATS_HISTOGRAM_TCP_READ_OFFER
GRPC_STATS_HISTOGRAM_HTTP2_SEND_MESSAGE_SIZE

[2017-11-13 13:27] jtattermusch commented on #13155
I think I know what's going on: for some params, the nvalues is way too high:

For IncHistogram/1 (which is quick enough), the max nvalues is 1000.
[code]

Meanwhile, for IncHistogram/2 (which is very slow), the nvalue is much much higher for some threads (>1million).

[code]

[2017-11-13 13:35] jtattermusch commented on #13155
To be honest, I don't understand the logic behind  `cur_bucket`, `expected_bucket` and how things get assigned to testing threads (and there's no comments explaining the idea of what we want to test), but I have a feeling that the code does something odd.
https://github.com/grpc/grpc/blob/54e8f37e537794c2d814c1604c1282125f64f093/test/core/debug/stats_test.cc#L113

@ctiller, you're the original aut

[2017-11-13 14:27] jtattermusch commented on #13352
I am still seeing this on Windows (both Debug and Release).
There are other concurrent_connnectivity_test failures on other platforms that might be related  but not necessarily the same: https://github.com/grpc/grpc/issues/13125

[2017-11-13 14:32] jtattermusch commented on #13330
Still happening for `bins/opt/thread_stress_test --gtest_filter=AsyncClientEnd2endTest/0.ThreadStress GRPC_POLL_STRATEGY=poll` on Mac.

[2017-11-13 14:34] jtattermusch commented on #13330
Bumping to P1.   @vjpai  do you have cycles to actively investigate this or should be reassign?

[2017-11-13 14:39] jtattermusch commented on #13149
Last instance is for `h2_http_proxy_test.exe shutdown_finishes_calls` which I think has been fixed already.

[2017-11-13 14:41] jtattermusch commented on #13149
I checked historical data and last occurence of
`cmake/build/Release/h2_http_proxy_test.exe shutdown_finishes_calls` has been a while ago. Closing.

[2017-11-13 17:12] dgquintas commented on #12149
This is [still happening](https://sponge.corp.google.com/target?id=60437782-b0d7-412e-8f72-e18ade4432d1&target=grpc/macos/master/grpc_basictests_opt&searchFor=&show=FAILED&sortBy=STATUS) for about 16% of runs.

@muxi any idea what the cause is and how to tackle it?

[2017-11-13 18:42] dgquintas commented on #9538
@BusyJay are you still seeing the issue? It was closed for lack of updates in a while.

[2017-11-13 19:26] claudefalbriard opened #13369 "Install of grpcio with Python throws "Unknown target CPU" message at s390x platform"
**System Information**
. OS Platform and Distribution: s390x SuSE SLES 12 SP2
. grpcio package installed via pip3
. Python version: 2.7 and 3.4

**Error Message**
When doing a build / install of the grpcio package under the IBM system z platform (architecture s390x) on Linux SuSE SLES 12, I get the following error message at the make step:

[code]
Is there a solution available through the OpenSSL

[2017-11-13 20:49] hsaliak commented on #13369
At this moment, s390x is an unsupported platform. However, this issue seems to be from the `setup.py` pulling in a boringssl dependency. Assuming that there is a system openssl in place, you might be able to patch `setup.py` to use that.

It would be nice to actually have setup.py support the option of using the system openssl if preferred. The `Makefile` in core already supports this (ie, it trie

[2017-11-13 20:52] nicolasnoble commented on #13369
That one's going to be a bummer. While the Makefile is able to detect if you have a system OpenSSL that works properly and will try to use it, the python build system isn't going for this and will always try to use the embedded SSL provided, as @hsaliak mentioned.

[2017-11-13 20:58] mehrdada commented on #13362
Do you see the issue if you use the officially supported method for compiling `.proto` files into `_pb2`s for gRPC Python with `grpcio-tools` package (cf. https://grpc.io/docs/tutorials/basic/python.html; the example command line "```python -m grpc_tools.protoc -I../../protos --python_out=. --grpc_python_out=. ../../protos/route_guide.proto```")

[2017-11-13 21:35] dgquintas opened #13371 "C++-ize backoff code"

[2017-11-13 21:35] magick93 commented on #13362
No, when I try that I get `Unknown flag: -m` and nothing is generated.

[2017-11-13 21:44] mehrdada commented on #13362
That's interesting! `python` seems to have a `-m` flag everywhere. Is your `python` executable wrapped or something?

[2017-11-13 21:55] yang-g commented on #13305
Some things do not add up here:
In the client trace your serialized proto seems to be the following bytes:
0a 06 45 55 52 55 53 44 18 b0 ae 8f a5 05 20 b0 d2 b7 b5 05 28 01

In the server trace your serialized proto does not seem to be the same one:
0a 06 45 55 52 55 53 44 28 01

[2017-11-13 22:40] magick93 commented on #13305
To clarify, you are saying the .proto files are different? That was my first thought too. But am 100% sure the protos used on server and client are they same.

[2017-11-13 23:50] yang-g commented on #13305
So when you try to send a proto message, it is serialized to some binary form before put on the wire. What I was saying is the binary form does not match between the two traces. This may be simply because your client is sending two different proto messages in the two runs.

Maybe you can try logging the client and server trace for the *same* RPC?

A sample proto message that exhibits the problem a

[2017-11-14 02:11] dgquintas commented on #12506
Can anyone please confirm is this is still an issue at current head? The code has gone through significant changes lately.

[2017-11-14 03:38] beckjin opened #13378 "Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Endpoint read failed")"
The service does not automatically connect, free after a period of time, the first call will appear the following error, next to normal.

The program is based on.Net Framework, The Grpc.Core version is 1.4.1.

[code]

[2017-11-14 05:20] beckjin commented on #13378
The document says I can try again. Isn't this supposed to be implemented internally in grpc.core?

![image](https://user-images.githubusercontent.com/7261408/32764004-33f4e556-c93e-11e7-8f26-cd2e6b0eee23.png)

[2017-11-14 08:18] jtattermusch opened #13379 "FAILED: build_docker_java and build_docker_javaokhttp on master"
Currently breaks all interop test runs.
https://sponge.corp.google.com/target?id=1dd80ec3-66c9-4f8f-b2e9-ef1aa4f77d72&target=grpc%2Fubuntu%2Fpull_request%2Fgrpc_interop_toprod&searchFor=

https://sponge.corp.google.com/target?id=1dd80ec3-66c9-4f8f-b2e9-ef1aa4f77d72&target=grpc%2Fubuntu%2Fpull_request%2Fgrpc_interop_toprod&searchFor=

[code]

[2017-11-14 08:22] WandyLau opened #13380 "how to enable the log from the c/c++ lib"
I got an issue which needs log from the c/c++ log. I googled a lot and have no idea about how to enable the log.
Please help me with that.

[2017-11-14 08:23] #13155 closed

[2017-11-14 09:03] jtattermusch commented on #13178
This is happening in 100% runs right now, raising to P0.

https://sponge.corp.google.com/target?id=6e70eac1-3e87-438c-aabf-5b58461d05e3&target=github/grpc/c%2B%2B_linux_tsan_native&searchFor=&show=ALL&sortBy=STATUS

[code]

[2017-11-14 09:04] jtattermusch commented on #13178
@kpayson64, will you be able to actively investigate this? If not, please reassign ASAP.

CC @dgquintas

[2017-11-14 09:36] jtattermusch opened #13381 "bins/tsan/client_lb_end2end_test --gtest_filter=ClientLbEnd2endTest.RoundRobinReresolve flaking in 50% runs"
https://sponge.corp.google.com/invocation?id=6e70eac1-3e87-438c-aabf-5b58461d05e3&searchFor=

[code]

[2017-11-14 11:46] jeesyn opened #13382 "nodejs link in readme is invalid"
As title, link: https://github.com/grpc/grpc/blob/master/src/node is invalid now.

[2017-11-14 14:51] slayeriq commented on #12506
@dgquintas still having this issue just downgraded from 1.7.0 to 1.4.0 this fixed the issue for me

[2017-11-14 15:42] markdroth commented on #12506
@dgquintas, the only significant change lately was #12878, and the last comment from @ravikamaraj above shows that there is still a bug with that PR (although I think the PR did change a bit between when he ran that test and when it was merged, so I suppose anything's possible).

If the problem is still occurring at head, I would be interested to see if #12829 fixes it.

[2017-11-14 15:45] usebaz opened #13383 "Not compiled grpc on solaris"
### What version of gRPC and what language are you using?

`npm i grpc@1.7.1`

### What operating system (Linux, Windows, …) and version?

`SunOS hostname 5.11 11.3 i86pc i386 i86pc Solaris`

### What runtime / compiler are you using (e.g. python version or version of gcc)

`gcc version 4.8.2 (GCC)`

### What did you do?

Try install grpc v1.7.1 in mys dev system/

### What did you expect to see?

[2017-11-14 15:55] adematte commented on #12506
This still occurs in 1.7.1

[2017-11-14 16:46] dgquintas commented on #13381
This has been a known issue for a while. I have a fix, but a better one is to have https://github.com/grpc/grpc/pull/12829 merged. @AspirinSJL how far are we from merging it?

[2017-11-14 16:50] cauthu opened #13384 "deprecate old C-core API for creating server credentials"
PR #12644 introduced new API for creating server credentials. this issue is to track deprecation of the old API as discussed in that PR (https://github.com/grpc/grpc/pull/12644#issuecomment-339404267). the two functions to deprecate:
* `grpc_ssl_server_credentials_create()`
* `grpc_ssl_server_credentials_create_ex()`

cc @justinburke @jboeuf @markdroth

[2017-11-14 16:53] dgquintas opened #13385 "cmake/build/Debug/h2_fakesec_test.exe call_creds fails"
https://sponge.corp.google.com/target?id=b9d9b7fe-e116-4043-afde-1f148c01afcd&target=github/grpc/c_windows_dbg_native&searchFor=&show=FAILED&sortBy=STATUS

[code]

[2017-11-14 16:54] dgquintas commented on #13253
Ping. Any update?

[2017-11-14 16:55] #13333 closed

[2017-11-14 17:12] dgquintas commented on #12506
@adematte would you have a way to reproduce it? Or some logs obtained as described [above](https://github.com/grpc/grpc/issues/12506#issuecomment-335529022)? Thanks!

[2017-11-14 17:24] AspirinSJL commented on #13381
I just had an approval for my fix. So I guess today I can merge it.

[2017-11-14 17:32] dgquintas commented on #12506
@ravikamaraj thanks for the logs! What I can see in them is that the pick first policy goes into TRANSIENT_FAILURE right away, due to:
[code]
This is surprising. It'd happen, for example, if the servers aren't accessible. It may be a silly question, but were there healthy, accessible servers at those ip:ports?

[2017-11-14 17:41] connor4312 commented on #12506
Assuming the root cause is the same in both places, in our case the servers were accessible and healthy, and able to be contacted by other grpc clients (most of which used the Go grpc implementation)

[2017-11-14 18:01] dgquintas commented on #12506
@subk Thanks for the repro example! After talking to @murgatroid99 (from grpc node), it seems the failure may not be due to grpc itself, but rather to the way the testing is done: by repeatedly bringing up and down the server on the same port (also the use of `forceShutdown` on it), it seems the scheduling of events behind the scenes results in trying to start a server on a port that's still being

[2017-11-14 18:09] dgquintas commented on #12506
@connor4312 , any chance of getting the client logs (with environment variables described [here](https://github.com/grpc/grpc/issues/12506#issuecomment-335529022) set) when the issue happens?

[2017-11-14 19:37] vjpai commented on #13330
Since we are allergic to exceptions, I propose that we stop using std::thread in the C++ library. We should be using gpr_thread so that we can at least clean it up and return resources_exhausted.

[2017-11-14 19:38] vjpai commented on #13148
Has this issue arisen since #12648? It is silent for 5 days. I'll check with @dgquintas

[2017-11-14 21:48] vjpai commented on #13148
Not seen since #12648, afaict

[2017-11-14 21:49] vjpai commented on #13316
Not seen in several days, likely solved by #12648

[2017-11-14 21:49] #13316 closed

[2017-11-14 22:34] ericgribkoff commented on #13379
Is this still happening? It looks like a (possibly transient) network/auth failure, and as best I can tell gradle is working fine on recent PRs.

[2017-11-14 23:28] juanitobebe commented on #9481
Is the grpc server able to resolve requests when this problem happens?

One of our gRPC servers is logging something similar very often and it ceases serving requests:
[code]

[2017-11-15 00:02] AspirinSJL opened #13393 "grpc/ubuntu/pull_request/grpc_interop_tocloud Error: Invalid value for global._client_implementation: undefined."
https://sponge.corp.google.com/target?id=322fc9bc-983a-4ed5-a3d3-6ffdf7bb20f7&target=grpc/ubuntu/pull_request/grpc_interop_tocloud&searchFor=&show=ALL&sortBy=STATUS

There are many errors about `Error: Invalid value for global._client_implementation: undefined.`

A sample:

[code]

[2017-11-15 00:57] stanley-cheung commented on #13292
1.7.0 is released on PECL, sorry for the delay

[2017-11-15 00:57] #13292 closed

[2017-11-15 00:58] stanley-cheung commented on #12951
The extension version 1.7.0 is released on PECL, sorry for the delay

[2017-11-15 00:58] #12951 closed

[2017-11-15 02:14] ZhouyihaiDing commented on #12951
Thank you! If there is no error in this package, I can help you to do the
release later after you share the account with me.
One question is about grpc-1.6.0. This one lacks dependencies for sure, do
we need to swap this one with some version like 1.6.1?
Best,
Ding

On Tue, Nov 14, 2017 at 4:58 PM, Stanley Cheung <notifications@github.com>
wrote: