[2019-10-10 02:29] amtagrwl opened #20550 "Error 12 in hello_world cpp example"
### What version of gRPC and what language are you using?
Server: 1.24.1
Client: 1.19.1
### What operating system (Linux, Windows,...) and version?
Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 5.4.0

### What did you do?
Was facing issues using TF-Serving with my C++ code to perform inference on a trained model. Both, the C++ code and TF-Servi

[2019-10-10 02:34] AspirinSJL commented on #20550
@nanahpang Do you have time on this bug?

[2019-10-10 02:42] amtagrwl commented on #20550
I'm not sure if I understand what you mean.

The attached log files were collected with GRPC_TRACE="all" and GRPC_VERBOSITY="debug"

[2019-10-10 03:20] khteh commented on #20501
Found out that this happens when there are orphaned `dotnet` processes running in the background. `killall dotnet` and it disappears!

[2019-10-10 06:46] jtattermusch commented on #20547
dupe of https://github.com/grpc/grpc/issues/20519

[2019-10-10 06:46] #20547 closed

[2019-10-10 09:44] hefesto84 opened #20553 "IL2CPP crashes randomly when using ConcurrentDictionary"
### What version of gRPC and what language are you using?
1.16 for c#

### What operating system (Linux, Windows,...) and version?
Android / iOS (any version)

### What runtime / compiler are you using (e.g. python version or version of gcc)
il2cpp

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did y

[2019-10-10 09:55] klmr commented on #20154
@nicolasnoble Could you point me to the commit(s) that fixes this? I’m locally dependent on a copy that branches off from v1.22.0, and I’m unable to find the fix in the commits that happened between 3 Sept and your message.

[2019-10-10 11:00] jtattermusch commented on #20519
After a lot of investigation I think I now have a proof this is actually due to a compiler bug: https://github.com/grpc/grpc/pull/20554/files

[2019-10-10 12:36] coryan opened #20556 "https://grpc.io/release is out of date."
The instructions to build gRPC suggest picking up the latest release number from that site, it is pointing to v1.20.0, the latest release is v1.24.1.

[2019-10-10 13:50] thesoftwarejedi opened #20557 "Upgrade protobuf submodule version"
### Problem
When building my C# project, an old version of protoc.exe is used.

### Solution
Update submodule to newer version of protobuf https://github.com/grpc/grpc/blob/master/.gitmodules#L11

### Alternatives
Repointing the protoc path to the one inside Google.Protobuf.Tools

### Additional context
A lot of recent work was done on the C# code gen in the latest protoc and this should be pulled

[2019-10-10 14:57] sab24 opened #20559 "Macos does not link with gpr_getenv"
### What version of gRPC and what language are you using?
Latest release, grpc-1.24.1

### What operating system (Linux, Windows,...) and version?
Macos 10.13.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
Apple LLVM version 10.0.0 (clang-1000.11.45.5)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Develope

[2019-10-10 17:18] AspirinSJL commented on #19801
Ping.

[2019-10-10 17:20] AspirinSJL commented on #19051
Seems transient. Closing.

[2019-10-10 17:20] #19051 closed

[2019-10-10 17:25] #19908 closed

[2019-10-10 17:41] tseaver opened #20562 "Python: '_Rendezvous.__next__' blocks forever."
### What version of gRPC and what language are you using?
Python: `grpcio 1.24.0`

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 2.7, 3.5, 3.6, 3.7

### What did you do?

See: https://github.com/googleapis/google-cloud-python/issues/7817

[`google.api_core.bidi.BidiRpc.recv`](https:

[2019-10-10 18:26] clehene opened #20563 "Latest releases (1.23.x, 1.24.x) missing from NuGet. Invalid 2.x versions show up"
None of these can be found in NuGet

[2019-10-10 18:35] clehene commented on #20563
Also there are 2.x versions that seem to overlap wit grpc-dotnet versions.
This is highly confusing. Dependency updates are suggested for 2.x releases and after upgrade we're seeing
[code]

[2019-10-10 18:36] clehene commented on #20563
![image](https://user-images.githubusercontent.com/101597/66596663-29a47480-eb52-11e9-91fa-685b6bace5af.png)

[2019-10-10 18:42] clehene commented on #20563
![image](https://user-images.githubusercontent.com/101597/66597039-f9110a80-eb52-11e9-923d-68d48f30dedf.png)

[2019-10-10 21:13] KyleFromKitware commented on #12424
As far as I can tell, the source files are indeed being compiled with `-DPROTOBUF_USE_DLLS`. However, I am seeing the following, which may or may not be related:

[code]

[2019-10-10 21:13] bruno-kakele commented on #16058
For me, it seems that the server crashes. See:

[https://groups.google.com/forum/#!topic/grpc-io/e6cFEJth2vY](https://groups.google.com/forum/#!topic/grpc-io/e6cFEJth2vY)

[2019-10-10 21:30] clehene commented on #20563
Is caused by https://github.com/protocolbuffers/protobuf/issues/6749

[2019-10-10 21:35] yashykt commented on #20502
Hope's looking into this

[2019-10-11 00:22] #19871 closed

[2019-10-11 02:34] NickClark opened #20571 "Fix `Server.addService` type inference to reduce priority of second argument"
### What version of gRPC and what language are you using?
grpc 1.24.0 on NodeJS

### What operating system (Linux, Windows,...) and version?
macOS 10.13.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
NodeJS 10.15.0

### What did you do?
Create basic server in Typescript.

### What did you expect to see?
In dev, type the following line:
`Server.addService(servi

[2019-10-11 05:06] NickClark commented on #20571
Hmm... it's actually worse than I thought. While that change would be helpful, for some reason the inferred type is that of the service definition, not the implementation. I'm using https://github.com/improbable-eng/ts-protoc-gen to generate the types (which I don't think is affecting the wrong inference since it's just using the types provided from this lib)

[2019-10-11 05:14] theopencompany commented on #20511
+1 the same at my side

git_repository(
  name = "grpc",
  remote = "https://github.com/grpc/grpc",
  tag = "v1.24.2",
  init_submodules = True
)
load("@grpc//bazel:grpc_deps.bzl", "grpc_deps")
grpc_deps()

[2019-10-11 05:26] jtattermusch commented on #20563
Starting from "1.23", gRPC C# made a major version bump and became v2.23.0
The background and the rationale for that decision is described here: https://github.com/grpc/proposal/blob/master/L57-csharp-new-major-version.md

[2019-10-11 05:26] #20563 closed

[2019-10-11 05:32] clehene commented on #20563
@jtattermusch ok, but why close when the last two releases are still missing from NuGet?

[2019-10-11 05:57] jtattermusch commented on #20563
They are not missing. v2.23 and v2.24 are the C# nugets that correspond to the 1.23 and 1.24 branches in this repository. There are several languages that live in this repository and we only have one release process (we release packages for all languages in this repository at the same time) so C# 2.23 is actually part of the 1.23.x release train.

Additional context is here:
https://groups.google.

[2019-10-11 06:28] clehene commented on #20563
@jtattermusch perhaps I'm missing something, then.

The additional context mentions:

In grpc i see:

* 1.24.0
* 1.24.1
* 1.24.2

Can you point to the corresponding 2.24.x releases in NuGet?

[2019-10-11 06:42] jtattermusch commented on #20563
Ah, I didn't realize you were asking about the 2.24.1 and 2.24.2 patch releases specifically - these hasn't been published for C# yet. I'll check if those patches have anything that's relevant to C# (it might not) and push the nugets if needed. Until then you can use 2.24.0 version from nuget (which does exist https://www.nuget.org/packages/Grpc.Core/2.24.0)

[2019-10-11 06:57] lrouter opened #20574 "Is there a need to recreate a new stream by gprc stream client side ?"
There is a grpc stream server and client. the client dials to server through gprc bidirectional stream.
I have encountered a problem. The server is running on a kunbeness docker.

After upgrading  kubeness server once, the client always get a EOF error when trying to send a request to stream server. I found that the tcp connection is alive. Why ?

Do I need to recreate a new strean by calling "New

[2019-10-11 10:43] #10727 closed

[2019-10-11 13:54] jtattermusch commented on #18975
I think this was fixed

[2019-10-11 13:54] #18975 closed

[2019-10-11 15:10] jtattermusch commented on #19210
Closing until there's more details what's needed and whether it's feasible.

[2019-10-11 15:10] #19210 closed

[2019-10-11 15:34] hdnn opened #20578 "gRPCTargets.cmake have invalid target properties"
### What version of gRPC and what language are you using?
1.23.0

### What operating system (Linux, Windows,...) and version?
Windows 10 Pro

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSBuilder

### What did you do?
I compile gRPC, with generating _gRPCTargets.cmake_ file(all dependences is "package")

### What did you expect to see?
In gRPCTargets.cmake:
_s

[2019-10-11 17:36] #20425 closed

[2019-10-11 17:37] AspirinSJL commented on #20425
Looks green today.

[2019-10-11 17:41] AspirinSJL commented on #16210
This will be an OKR for this quarter.

[2019-10-11 17:54] hcaseyal commented on #20502
This should be fixed now

[2019-10-11 17:54] #20502 closed

[2019-10-11 18:21] AspirinSJL commented on #20034
From my understanding after offline discussion with @veblush , this linking issue happens when gRPC is used as a library in an unexpected way.

Reassigning to @veblush .

[2019-10-11 19:38] AspirinSJL commented on #20298
Fixed by #20497

[2019-10-11 19:38] #20298 closed

[2019-10-11 19:57] srini100 opened #20580 "Improve debugging messages when C++ APIs are misused"
We keep seeing users stumble with API usage, especially Async C++ APIs. It would be great to improve the debug messages to clearly indicate when an API is misused such as calling a write after WritesDone or have one outstanding write at a time.

[2019-10-11 21:14] AspirinSJL commented on #20574
Looks like you are using Go. Please re-post in https://github.com/grpc/grpc-go. Thanks!

[2019-10-11 21:14] #20574 closed

[2019-10-11 21:35] AspirinSJL commented on #20226
@sandlerben The round_robin implementation is thread safe. The reason that you are seeing all the requests going to the same server is that connection to server needs time. In details, when you start connecting to 10 severs, the connection attempts are in parallel. When the first server is connected, we will have a ready server pool of size 1. So all your requests go to that server. When more serv

[2019-10-11 21:35] #20226 closed

[2019-10-11 21:36] AspirinSJL commented on #20226
@dsethi Please open a separate issue for proper tracking. Thanks!

[2019-10-11 21:45] mhaidrygoog commented on #17969
Not sure, what the issue is. error_message() and error_details() are both available as part of the Status class
https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/status.h

[2019-10-11 21:45] #17969 closed

[2019-10-11 23:48] lidizheng commented on #20493
@vizero1 If you are using emulator to compile `grpcio`, it does take forever (much more than half an hour). We do provide compiled wheels for for armv7, another place to find `grpcio` arm wheels are https://www.piwheels.org/project/grpcio/.

Can you take a look at the resources above, if your problem still unresolved, can you provide more information about your setup? e.g. is it armv6 or armv7?

[2019-10-12 01:43] Allkoman opened #20581 "PHP: Received message larger than max"
### What version of gRPC and what language are you using?
php 7.2.21

### What operating system (Linux, Windows,...) and version?
mac os and ubuntu

### What runtime / compiler are you using (e.g. python version or version of gcc)
Apple clang version 11.0.0 (clang-1100.0.33.8)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippet

[2019-10-12 01:44] Allkoman commented on #20581
the grpc version is 1.22.0

[2019-10-12 02:29] markdchurchill commented on #19210
This will not be feasible. Blazor sits on top of the browser/wasm - it will run into the same issues as a hypothetical native JS implementation, and would have to use a proxy.

[2019-10-12 03:49] stanley-cheung commented on #20581
Can you provide more information about what you mean by "received message larger than max"? Can you provide some steps to reproduce?

[2019-10-12 05:01] benjaminp commented on #17969
The goal is turn a value of the `StatusCode` enum into a string. This task is not directly related to the `Status` class and its associated error messages.

As noted in the OP, I essentially want a public version of `grpc_status_code_to_string`.

[2019-10-12 07:42] jiayunwei opened #20583 "blocking_resolve_address_impl memory leak"
I meet a memory leak,  how to fix it?

==6069== 214 bytes in 1 blocks are definitely lost in loss record 1,781 of 2,175
==6069==    at 0x4C2FB0F: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==6069==    by 0x6C47640: __libc_alloc_buffer_allocate (alloc_buffer_allocate.c:26)
==6069==    by 0x6CF1097: alloc_buffer_allocate (alloc_buffer.h:143)
==6069==    by 0x6CF1097: __resolv_co

[2019-10-12 08:16] jiayunwei commented on #20583
I  doubt it in the file:/src/core/lib/iomgr/resolve_address_posix.cc
typedef struct {
  char* name;
  char* default_port;
  grpc_closure* on_done;
  grpc_resolved_addresses** addrs_out;
  grpc_closure request_closure;
  void* arg;
} request;

/* Callback to be passed to grpc Executor to asynch-ify
 * grpc_blocking_resolve_address */
static void do_request_thread(void* rp, grpc_error* error) {
  re

[2019-10-12 11:48] sab24 commented on #20559
Older grpc version had to be removed from /usr/local/lib, then it compiled just fine. Adding a make uninstall would prevent these errors.

[2019-10-12 11:48] #20559 closed

[2019-10-12 13:45] #20189 closed

[2019-10-12 16:11] paulb777 commented on #20500
I did a bit more investigation and found that Xcode uses at least two different sets of symbolic links when doing Catalyst archives and that seems to cause a problem with the `header_mappings_dir` or `header_dir` attributes in the [BoringSSL podspec](https://github.com/CocoaPods/Specs/blob/master/Specs/0/8/a/BoringSSL/10.0.6/BoringSSL.podspec.json#L25).

[2019-10-12 19:39] paulb777 commented on #20500
I made an smaller repro case at https://github.com/paulb777/CatalystArchiveGRPC

- git clone git@github.com:paulb777/CatalystArchiveGRPC.git
- cd CatalystArchiveGRPC
- open CatalystArchiveGRPC.xcworkspace
- Choose MyMac scheme
- Product -> Archive

See the build failure

[2019-10-13 13:23] nuri-engin commented on #20534
I got similar error for installing `grpc@1.24.0` during `npm install --save firebase`.
I just upgrade NodeJS version from v8* to latest v10 and problem solved.

[2019-10-13 14:47] chenrui333 opened #20587 "grpc 1.24.2 compilation issue"
### What version of gRPC and what language are you using?

1.24.2

### What operating system (Linux, Windows,...) and version?

macOS: 10.14.6-x86_64

### What runtime / compiler are you using (e.g. python version or version of gcc)

Clang: 11.0 build 1100
python3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

[2019-10-13 21:15] #17851 closed

[2019-10-14 01:23] sandlerben commented on #20226
@AspirinSJL is there any way to have the connections open when the application starts or just before requests are made?

[2019-10-14 06:26] rspworks opened #20590 "Need Connection information in ServerContext"
Problem Description:

Currently there is not way to find connection information at grpc server side.
For example if I have multiple listener ports for same service, there is not way in RPC implementation on which port request has received.
If we get these information in ServerConext then we can decide different operations based on which port it received.

Expected Solution:

There should be someth

[2019-10-14 07:05] jtattermusch commented on #20515
Looks like this is impacting Grpc.Tools as well: https://github.com/protocolbuffers/protobuf/issues/6740#issuecomment-539180466

[2019-10-14 07:24] jtattermusch commented on #20578
CC @zackgalbreath

[2019-10-14 07:26] jtattermusch commented on #20578
When you say "As result it is impossible to build project that use gRPC, because 'libprotoc.lib' not found.", can you include the exact steps you've made an and the corresponding error log?
(we do have a distrib tests on for windows installation and it's passing, so you just might be doing something wrong).

[2019-10-14 09:52] hdnn commented on #20578
1) Create conan package by using this recipe: **https://github.com/inexorgame/conan-grpc/tree/stable/1.23.0**
2) in CMakeList.txt:
`set (LIB_DEPS
  protobuf::libprotobuf
  gRPC::grpc++
)
target_link_libraries(${PROJECT_NAME} PUBLIC ${LIB_DEPS})`
3) Generate Visual Studio solution: `>cmake %Self% -G %GeneratorName% -DFC_OUTPUT_DIR="%OutputDir%" -DCMAKE_CONFIGURATION_TYPES=%BuildType%`
4) Open Solut

[2019-10-14 11:34] #16449 closed

[2019-10-14 13:59] vizero1 commented on #20493
@lidizheng The last few days  I tried to do a minimalistic setup to test grpcio.
I am trying to build it now for an i.MX8M dev board (without qemu or any other simulation). It is armv8. If I try to build it directly on the board it compiles it from source instead of using a compiled wheel and that takes really long.
Your link only provides wheels for armv6 or armv7 embedded boards.
Are there any c

[2019-10-14 15:37] sab24 commented on #20587
same as #20392 , download upb and put it in third_party directory.

[2019-10-14 15:42] sab24 opened #20594 "Expose grpc_byte_buffer so that Flatbuffers can be used again"
Flatbuffers uses grpc_byte_buffer to write its data, but this is no longer exposed when grpc started using grpc::ByteBuffer.

### Describe the solution you'd like
A clear and concise description of what you want to happen.
Add a public method to access this grpc_byte_buffer, which is a private variable of grpc::ByteBuffer.

### Describe alternatives you've considered
Patching the code with pr #176

[2019-10-14 15:46] muxi commented on #20500
Thanks Paul. We don't have a mac with Catalina for debug right now and I'm working on getting one. Will check back.

[2019-10-14 16:17] KyleFromKitware commented on #18271
I built this with the same command as you but added a `-DBUILD_SHARED_LIBS=ON` argument to the initial `cmake` invocation. This generated .so files as well as `gRPCConfig.cmake`.

[2019-10-14 16:51] AspirinSJL commented on #20587
Please reopen if you feel this is different from https://github.com/grpc/grpc/issues/20392.

[2019-10-14 16:51] #20587 closed

[2019-10-14 17:02] AspirinSJL commented on #20226
Nope, we don't have any way to make sure all the servers are connected before requests are made. In principle, only the connectivity of the whole channel is visible to users.The load balancing part should be transparent.

[2019-10-14 17:45] lidizheng commented on #20493
@vizero1 Unfortunately, we are not pre-compiling for armv8 right now. This issue can be used as an feature request.

On the other hand, the armv6 and armv7 are theoretically compatible with armv8. The reason your device didn't pick up those wheels are because you are using 3.6, and since https://www.piwheels.org/project/grpcio/ is meant for Raspberry Pi they don't build for 3.6. I would suggest gi

[2019-10-14 18:15] anand-raju commented on #15623
@markdroth :  Is this work finished?
I was running some tests with Grpc.Core v2.23.0 C# library. The stream removed exception would happen when the client uses a channel with a stream that isn't usable anymore. I noticed that just retrying using the same channel resulted in a successful gRPC call. So it looks like the library has in-built reconnect logic but not retry. Although I couldn't trace th

[2019-10-14 18:18] veblush commented on #20034
@vlasenkoalexey Thank you for the steps on how to reproduce it. But it seems I cannot do it and test result is

[code]

I expected it would crash but it didn't.

[2019-10-14 18:22] muxi commented on #20276
From the gRPC log it shows the TCP connection to `172.217.7.138:443` was attempted and timed out after 30s. If that is a correct IP address hosting your service, I would suspect it's something in the network that's blocking the connection. Do you have any corporate proxy/firewall in the middle?

[2019-10-14 18:44] vlasenkoalexey commented on #20034
This is because in order to mitigate this issue for tensorflow-io @yongtang has moved all ops using grpc under one library, see https://github.com/tensorflow/io/pull/545.

In order to repro grpc issue, sync to the commit before that like git checkout 954ee240ee6d2c9823bae9cd927ceceafb7edd37 and rebuild.
I just confirmed that I can repro issue this way.
And thanks for looking into this.

[2019-10-14 20:07] muxi commented on #20500
Reproduced the problem. Looking for the problem

[2019-10-14 21:27] AspirinSJL commented on #13212
I though this is solved by https://github.com/grpc/grpc/pull/19727? Please reopen if not.

[2019-10-14 21:27] #13212 closed

[2019-10-14 21:39] #15604 closed

[2019-10-14 21:44] #17043 closed

[2019-10-14 21:51] AspirinSJL commented on #18848
Sorry for late response. I suggest trying newer version to see if this still exists.

[2019-10-14 21:53] #19053 closed

[2019-10-14 21:54] AspirinSJL commented on #19286
Please reopen if it still exists.

[2019-10-14 21:54] #19286 closed

[2019-10-14 21:58] AspirinSJL commented on #19554
I remember that I fixed a similar issue. Closing for now since it hasn't occurred for 4 months.

[2019-10-14 21:58] #19554 closed

[2019-10-14 22:11] #19577 closed

[2019-10-14 22:26] ericgribkoff commented on #5649
Despite @ncteisen's endorsement, I think this is best left for someone who now or at some point has understood C++'s thread safety semantics :)

[2019-10-14 22:28] muxi commented on #17589
@AspirinSJL - I believe it's related to C++ on macOS; please assign accordingly.

[2019-10-14 23:05] muxi commented on #20500
I observed the difference between build and archive: `openssl_grpc.framework` generated during build has the symbolic link `openssl_grpc.framework -> openssl_grpc.framework/Versions/Current/Headers`, while archive dose not create this symbolic link. If I manually use command line to create this symbolic link before `openssl_grpc.framework` finishes archiving, the archive process becomes successful

[2019-10-14 23:09] paulb777 commented on #20500
@muxi It does look like an Xcode issue.  It still would be interesting to understand what is different between `openssl_grpc.framework` and the frameworks that successfully archive for Catalyst.

[2019-10-14 23:34] #18692 closed

[2019-10-14 23:38] muxi commented on #20500
That is good point. Checked the other frameworks in the same artifact directory for archive. `nanopb.framework` has the Headers symbolic link while `grpc.framework` does not (but it turned out ok, probably because in your sample project there's no external dependency onto it). There might be some sort of switch. Still confusing.

[2019-10-14 23:43] #19464 closed

[2019-10-14 23:44] gnossen commented on #19464
Fixed by https://github.com/grpc/grpc/pull/19481

[2019-10-15 03:44] ml232528 opened #20600 "Calls c++ callback API cause crash"
### What version of gRPC and what language are you using?
grpc V1.24.2

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
vs2019 c++

### What did you do?
test C++ callback API
pro:
`
syntax = "proto3";
package helloworld;

service Greeter {
  rpc SayHello (HelloRequest) returns (stream  HelloRe

[2019-10-15 03:51] AspirinSJL commented on #20600
The callback API is not available yet. Please refer to https://github.com/grpc/grpc/issues/7352.

[2019-10-15 03:51] #20600 closed

[2019-10-15 03:55] AspirinSJL opened #20601 "Doc: make it more explicit that callback API is not ready yet"
I noticed several issues opened because the users think callback APIs are ready.

For example:
https://github.com/grpc/grpc/issues/20600
https://github.com/grpc/grpc/issues/19577

[2019-10-15 06:19] inewlife commented on #19895
![image](https://user-images.githubusercontent.com/13137254/66805107-bf773f80-ef56-11e9-8da1-6f709ba890cc.png)
this is my log , the red is timeout

[2019-10-15 06:21] inewlife commented on #19895
what's the  wait ended mean, every time out ,I find the same log

[2019-10-15 06:27] inewlife commented on #19895
I1015 14:12:26.343857000 4609435072 init.cc:164]                       grpc_init(void)
I1015 14:12:26.343877000 4609435072 completion_queue.cc:504]           grpc_completion_queue_create_internal(completion_type=0, polling_type=0)
I1015 14:12:26.343883000 4609435072 completion_queue.cc:504]           grpc_completion_queue_create_internal(completion_type=0, polling_type=0)
I1015 14:12:26.343896000

[2019-10-15 07:00] Croydon commented on #15363
Still work in progress.

I'm still maintaining the (unstable) grpc recipe and will eventually push it in the [Conan Center Index](https://github.com/conan-io/conan-center-index/)

[2019-10-15 07:20] jtattermusch commented on #18822
As you're realized, the "message" field is only the standard exception message and it's not passed to from the server to the client. This is working as intended (as the status code and status details are the only pieces that are supposed to be passed to the client), but we could probably improve the documentation or RpcException to make that clearer.
https://github.com/grpc/grpc/blob/master/src/cs

[2019-10-15 07:40] jtattermusch commented on #19124
Let me explain:
- the Grpc.Tools package is mostly meant for C# projects and as such only includes the grpc_csharp_plugin and the msbuild integration for the C# projects. (at some point we might add C++ project support, but it's not a priority and there's no ETA)
- there's no official nuget package for gRPC C++ (in fact the nuget support for C++ projects has always been poorly supported and docume

[2019-10-15 07:40] #19124 closed

[2019-10-15 07:42] jtattermusch commented on #19124
Btw, the https://www.nuget.org/packages/grpc.cpp/ is not an official gRPC packages (it was created by one of the contributors) and it's way out of date. You should not use it.

[2019-10-15 08:34] LockLi commented on #20154
same problem while complie.
it looks like json_util.h in third_party can't be included.

[2019-10-15 08:51] Anorionil opened #20604 "Cannot install grpcio under windows"
### What version of gRPC and what language are you using?
The latest version and Python.

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.0 (tried both 32bit and 64 bits version)

### What did you do?
Ran pip.exe install grpcio in cmd as an admin.

### What did you expect to see?
A

[2019-10-15 09:56] huturen commented on #20534
@nuri-engin I got this error on NodeJS version **v10.16.0**.

Maybe it's a bug with `grpc@1.24.0`.

[2019-10-15 10:52] SmirnovM91 commented on #20534
any updates?

[2019-10-15 14:23] markdroth commented on #15623
No, the retry functionality in C-core is not yet complete.  Unfortunately, we don't yet have an ETA for it, since we've been pulled off onto some other priorities.

[2019-10-15 14:49] #20524 closed

[2019-10-15 15:06] chrisse74 commented on #16542
This should be closed, as it is already fixed at the master branch...

[2019-10-15 15:11] jtattermusch commented on #12379
I'm not 100% sure but it could be for one of these reasons:
- historic reasons and we never revisited this
- unlike protobuf which only generates the protobuf messages C++ code (`.pb.h`, `.ph.cc`, gRPC also generates its own stubs via protoc plugins `.grpc.h`  and `grpc.cc`, which is something that protobuf doesn't support of of the box - mostly because protobuf doesn't know anything about gRPC).

[2019-10-15 15:18] jtattermusch commented on #20578
@hdnn can you reproduce using cmake only, without using conan? (we don't officially conan, so it's not clear to me if this is a problem in our cmake build or in the conan recipe).

[2019-10-15 15:19] #18271 closed

[2019-10-15 16:03] #16542 closed

[2019-10-15 16:04] vjpai commented on #20531
Closing as duplicate of #20366

[2019-10-15 16:04] #20531 closed

[2019-10-15 16:25] markdroth commented on #3064
As we move away from CQ-based APIs and toward an EventManager-style API, we will probably want to reevaluate the current connectivity-watching APIs anyway.  As part of that change, we can consider adding a mechanism to allow cancellation of a watch.

The move to EventManager will probably not be complete until sometime in Q1 at the earliest, so let's look at this again after that happens.

[2019-10-15 16:28] ctiller commented on #3064
Is there any documentation on these API changes available?
What is the transition strategy?

On Tue, Oct 15, 2019 at 9:26 AM Mark D. Roth <notifications@github.com>
wrote:

[2019-10-15 17:19] lidizheng commented on #20604
@Anorionil Unfortunately, we are not pre-compiling for 3.8 yet. If you can use Python 3.6 or 3.7, the problem should go away. https://pypi.org/project/grpcio/#files

I'm not recommending investigate the compilation of `grpcio` on Windows, because it is not easy to get it right.

[2019-10-15 17:38] Anorionil commented on #20604
Okay thank you, I will try using 3.7

Maybe you could update the documentation "Supported Python Versions: Python >= 3.5" with a note about this?

Kind regards

[2019-10-15 17:38] #20604 closed

[2019-10-15 19:12] vjpai commented on #20519
Did this start failing 7 days ago or had we seen failures before then?

[2019-10-15 19:19] jtattermusch commented on #20519
@vjpai  we started getting the failure ~7days ago but that's mostly because that's when I enabled the testsuite The first build where the build finishes and the test actually runs is https://source.cloud.google.com/results/invocations/b39d6f2a-c02d-4ae1-b794-92bc6210fbf7/targets.  (after merging https://github.com/grpc/grpc/pull/20507)

[2019-10-15 19:52] jtattermusch commented on #20519
The compiler version I can reproduce with is
[code]

[2019-10-15 20:02] markdroth commented on #3064
We don't yet have a concrete plan as to how the C-core API will change.  We'll put together a proposal for that once we have migrated to EventManager-based polling in OSS.

The general approach we're taking is this:
1. Build an EventManager for OSS based on libuv.
2. Provide an EventManager-based polling engine in OSS.
3. Get the performance of EventManager-based polling in OSS to an acceptable le

[2019-10-15 20:08] markdroth opened #20609 "FLAKE: many Windows tests: assertion failed: grpc_server_add_insecure_http2_port"
https://source.cloud.google.com/results/invocations/f3b97664-dace-49cd-a3ab-5b89b4110564/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_proxy_nosec_test@ping_pong_streaming/log

[code]

[2019-10-15 20:16] markdroth commented on #20541
I'm pretty sure this is fixed in #20606.

[2019-10-15 20:16] #20541 closed

[2019-10-15 21:10] lidizheng commented on #19895
The error code is `StatusCode.DEADLINE_EXCEEDED` in the log, is this the same bug you experienced when you file the issue? Based on the log, the name resolution is succeed, the channel is entering `READY` state.

If you 100% sure the server logic is correct. That might indicate something else is wrong in the network setting, can you give more information about how the load balancing is done? Can y

[2019-10-15 21:48] coryan commented on #20392
@jtattermusch you probably know this, but `upb` lacks an `install` target (I just created protocolbuffers/upb#215), I think that breaking #19384

[2019-10-15 22:19] scrossuk opened #20613 "InlinedVector ignores element type alignment for inline storage"
### What version of gRPC and what language are you using?

1.24, stack trace was entirely gRPC code so no relevant language to state

### What operating system (Linux, Windows,...) and version?

iOS 13

### What runtime / compiler are you using (e.g. python version or version of gcc)

Xcode 11.1

### What did you do?

Running gRPC inside unit tests on an iOS simulator, with UBSan enabled.

### Wha

[2019-10-15 23:00] lidizheng opened #20615 "Release 3.8 Wheels for gRPC Python"
Ideally, release for Linux, macOS and Windows. Highly depends on if our Kokoro image support 3.8 for macOS and Windows.

[2019-10-16 00:04] lidizheng commented on #20001
@pfreixes  Let me attempt to summarize your comment first, correct me if I miss something. There are essentially two issues here:
1. Returning `awaitable` breaks the function signature of client-side interceptors;
2. Proposing a cancellation implementation through exception.

### Returning `awaitable`

#### Should we make `grpc.aio.Call` a wrapper of scheduled task?

As I commented in https://gith

[2019-10-16 00:08] vjpai commented on #7352
Since this particular issue is effectively about the iomgr, I'm reassigning to @guantaol

[2019-10-16 00:52] inewlife commented on #19895
How can I log server side?

[2019-10-16 00:53] inewlife commented on #19895
this is my test code
`"""The Python implementation of the GRPC helloworld.Greeter client."""

from __future__ import print_function
import logging

import grpc
import time

import helloworld_pb2
import helloworld_pb2_grpc
from random import choice

def run():
    # NOTE(gRPC Python Team): .close() is possible on a channel and should be
    # used in circumstances in which the with statement does n

[2019-10-16 00:56] inewlife commented on #19895
this is my test code
`"""The Python implementation of the GRPC helloworld.Greeter client."""

from __future__ import print_function
import logging

import grpc
import time

import helloworld_pb2
import helloworld_pb2_grpc
from random import choice

def run():
    # NOTE(gRPC Python Team): .close() is possible on a channel and should be
    # used in circumstances in which the with statement does n

[2019-10-16 01:01] lidizheng commented on #19895
As I mentioned in my last comment, this might be a network issue. From the test code, it seems you are sending huge amount of data per message.

If you are using C++, Python, Ruby, C# as server, you can start the server with the same set of environment variables, you should see logs print out. If you are using Golang or Java, please refer to their repo for detailed trace log.

[2019-10-16 01:22] inewlife commented on #19895
my server use Golang ,and I use the environment variables `-e GRPC_GO_LOG_VERBOSITY_LEVEL=99   -e GRPC_GO_LOG_SEVERITY_LEVEL=info`,
No debug log

[2019-10-16 02:21] inewlife commented on #19895
the server log
`WARNING: 2019/10/16 02:18:58 transport: http2Server.HandleStreams failed to read frame: read tcp 10.21.2.23:5000->172.17.46.12:55326: read: connection reset by peer`
the client log
![image](https://user-images.githubusercontent.com/13137254/66882909-b3df5380-effe-11e9-933f-c4e8480c25af.png)

[2019-10-16 02:26] inewlife commented on #19895
I find every time appear this bug,  print `I1016 10:18:49.057036000 123145519779840 timer_manager.cc:204]         wait ended: was_timed:1 kicked:0`

[2019-10-16 02:28] inewlife commented on #19895
When client write or read data,the `timer_manager.cc:204` appear will lead to the bug

[2019-10-16 07:14] sandlerben commented on #20226
That makes sense. Do you think there any good ways to support this use-case, though? I imagine it is shared by other users (it's a pain shared by others at my company).

[2019-10-16 07:54] equinox1993 commented on #19375
Sorry I'm busy working on some other stuff right now. Feel free to take it if you like to work on this :)

[2019-10-16 10:03] pkit opened #20619 "regression #17002 reintroduced"
### What version of gRPC and what language are you using?

see #17002

### What operating system (Linux, Windows,...) and version?

see #17002

### What runtime / compiler are you using (e.g. python version or version of gcc)

see #17002

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

see #17002

### What did

[2019-10-16 11:20] #20519 closed

[2019-10-16 11:30] jtattermusch commented on #20519
I filed issue for the compiler bug here: https://developercommunity.visualstudio.com/content/problem/779761/optimizer-bug-in-c-leads-to-incorrect-behavior-at.html

[2019-10-16 11:37] Science-and-Motion-Sports opened #20620 "Generate C# gRPC services as interfaces with C# 8 default interface implementations"
Please read #14213
gRPC services deliberately compile to abstract base classes instead of interfaces, because classes implementing these interfaces do not compile anymore when new methods are added to the interface but not to the class.
However, C# 8 added "Default Interface Methods", which should solve these issues. This new feature should be opt-in with a new command-line argument to protoc.exe

[2019-10-16 11:43] mdenissov commented on #20534
I got similar error for npm install --save firebase
Linux 4.4.0-101-generic
node v11.12.0
npm  v6.7.0

[2019-10-16 12:25] jtattermusch commented on #15534
I'm going to close this as it seems to be basically about gcc8.1 support and accoding to https://github.com/grpc/grpc/issues/16675, that's already fixed (you should use a newer version than gRPC C# 1.12 though)

[2019-10-16 12:25] #15534 closed

[2019-10-16 12:29] jtattermusch commented on #20436
@rmstam @guantaol  Friendly ping. This has a high failure rate on Bazel RBE Windows tests and it also seems that something is wrong with our timer_manager code on windows (see my analysis above).

[2019-10-16 12:37] andrden commented on #17352
In my experience (gRPC server in Java, android, iOS and gRPC-web clients) the cause of client-server incompatibility during the last year was another library used for securing gRPC: io.netty:netty-tcnative-boringssl-static, not gRPC itself

[2019-10-16 12:43] Katsukiniwa commented on #20534
I got same error when tried `npm install`
My local enviroment is
 - macOS Mojave version 10.14.6
 - node v10.16.0
 - npm v6.12.0
Who know how to solve this error ???

[2019-10-16 12:45] jtattermusch commented on #20392
@coryan  you're right. For now we decided to just do a code dump and add upb sources as a subdirectory as a repository (upb won't have an install target in the nearest future not it has stable ABI for now).

@veblush  will look into fixing the problem (by adding upb to our repo).

[2019-10-16 13:54] MichalStrehovsky commented on #18188
Another user just reached out to the .NET Native team and I now have an app that I can run locally. This is now a grpc bug.

The app is hitting an exception at this stack:

[code]

The problem is this code in grpc:

https://github.com/grpc/grpc/blob/2780136fcf9bd268aaddea74b115fbc2faa97c61/src/csharp/Grpc.Core/Internal/NativeExtension.cs#L85-L93

GetAssemblyPath is trying to get a path to an assem

[2019-10-16 14:05] scriptPilot commented on #20534
Same issue on my side while installing latest Firebase ...

[2019-10-16 15:05] ejona86 commented on #20546
This may be as easy as changing the ``

[2019-10-16 15:42] KyleFromKitware commented on #14840
From the [libtool documentation](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html):

It might not be as simple as just setting `VERSION` to `${PACKAGE_VERSION}`. We might need to maintain a separate library version variable for this purpose.

[2019-10-16 16:48] hcaseyal commented on #19880
This is still flaking on master

[2019-10-16 17:14] AspirinSJL commented on #20226
What's the reason to have this feature? I assume you want perfect balancing among your backend servers. If that's the case, will you allow RPCs to be issued if any previously connected backend fails?

[2019-10-16 17:14] AspirinSJL commented on #20226
cc @markdroth

[2019-10-16 17:17] markdroth commented on #20226
To say this another way, I think it would be very bad for reliability to have the client not send any RPCs until all of the backends are up, beacuse that would mean that a single backend being down would cause all RPCs to fail.  I don't think this feature request is a good idea.

[2019-10-16 17:30] sandlerben commented on #20226
I agree with you, I wouldn't want to wait for "all" back-ends (how can the client even know the number of back-ends). I guess there's really no way around it because all the requests should be sent the moment any connection is made. I think the best solution, if any, is a way to have the `grpc` client exposes functionality to try to make connections. That can be called explicitly before requests a

[2019-10-16 17:34] markdroth commented on #20226
We already have an API for asking a channel to connect before you send an RPC on it.  It's part of the channel state API.  @lidizheng or @gnossen can probably point you at the right API to use for that in Python.

[2019-10-16 17:38] sandlerben commented on #20226
Fantastic that's exactly what I need. Looking forward to turning that on.

[2019-10-16 17:40] lidizheng commented on #20226
@sandlerben I think the API you are looking for is [`grpc.channel_ready_future`](https://grpc.github.io/grpc/python/grpc.html#channel-ready-future).

[2019-10-16 18:02] markdroth opened #20624 "FLAKE: github/grpc/run_tests/grpc-node_macos_dbg_native/tools/run_tests/helper_scripts/run_grpc-node.sh[default]"
https://source.cloud.google.com/results/invocations/976e0c37-65bf-4c20-a03b-bac6f1518893/log

It's not obvious from the log what the problem actually is.

[2019-10-16 18:21] sandlerben commented on #20226
Perfect, that worked!

[2019-10-16 18:26] markdroth opened #20625 "Windows flake: SecureEnd2end/SecureEnd2endTest.NonBlockingAuthMetadataPluginFailure/1"
https://source.cloud.google.com/results/invocations/4bfb4dff-1963-4328-8ca5-82be1815a7dd/targets/%2F%2Ftest%2Fcpp%2Fend2end:end2end_test/tests

One of the errors is another one of those "SEH exception with code 0xc0000005 thrown in TearDown()" errors.

[2019-10-16 19:44] zackgalbreath commented on #15587
I was unable to reproduce this problem.

I attempted to do by applying the following diff to [run_distrib_test_cmake.sh](https://github.com/grpc/grpc/blob/72475f48a00898c0a2ef62e651f6a24cd07de712/test/distrib/cpp/run_distrib_test_cmake.sh):

[code]

I ran this modified test script in the [cpp_jessie_x64 Docker container](https://github.com/grpc/grpc/blob/72475f48a00898c0a2ef62e651f6a24cd07de712/to

[2019-10-16 19:50] lidizheng commented on #20615
Link one user issue asking for Windows wheels: https://github.com/grpc/grpc/issues/20604

[2019-10-16 20:17] jmagman opened #20631 "pod `use_modular_headers!` does not work with BoringSSL-GRPC as a library"
### What version of gRPC and what language are you using?
Embedded into Xcode project via CocoaPods:
[code]

### What operating system (Linux, Windows,...) and version?
ProductName:	Mac OS X
ProductVersion:	10.14.6
BuildVersion:	18G87

### What did you do?
Create a Podfile with `use_modular_headers!` in conjunction with `pod 'BoringSSL-GRPC'` (I noticed this working with Firebase).
[code]

### Wha

[2019-10-16 20:43] jmagman commented on #20631
Evidently custom module map files for static libraries is not supported by CocoaPods.
https://github.com/CocoaPods/CocoaPods/issues/9023

[2019-10-16 20:47] AspirinSJL commented on #20613
If this patch solves the bug you saw, please open a PR. Thanks!

[2019-10-16 21:00] noahdav opened #20633 "Build Error: Waring level 4 and Warning treated as error fails to compile"
After running the protoc.exe which was built from source using the Ninja build instructions at https://github.com/grpc/grpc/blob/master/BUILDING.md the generated files are unable to compile with visual studio 2017 compiler when setting Warning level to 4 (/W4) and well as Treat warning as error (/WX) option enabled.

### What version of gRPC and what language are you using?
I am using master from

[2019-10-16 21:00] noahdav commented on #20633
https://github.com/grpc/grpc/issues/10725 looks similar but never resolved

[2019-10-16 21:06] yashykt commented on #18685
I have a full plate right now. Reassigning this

[2019-10-16 21:11] yashykt commented on #8932
gRPC does have keepalives. https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md and https://github.com/grpc/proposal/blob/master/A9-server-side-conn-mgt.md will provide some useful information on how to configure this.

[2019-10-16 21:11] #8932 closed

[2019-10-16 21:18] yashykt commented on #19895
Sorry for the super late reply. I missed the earlier ping. This doc provides more info on keepalives in core - https://github.com/grpc/grpc/blob/master/doc/keepalive.md

[2019-10-16 21:42] lidizheng commented on #20619
@pkit Sorry we don't have enough bandwidth to fully trace down this issue right now. But I have one work around for you. Can you try to compile `grpcio` with `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1` env?

If you can help digging into this problem, it would be very helpful :)

[2019-10-16 21:44] jmagman commented on #20631
I guess you can close this if you want.  It doesn't look like grpc can do anything to make this work, other than removing the custom module map.

[2019-10-16 23:42] Rantanen commented on #18848
On it. Took a while to build the reproduction setup.

I've just done a sanity check to verify that my setup still reproduces this with 1.21.

I'm currently compiling 1.24.2 to check that one. If the issue still exists there, I should be able to also verify #20376. I'll try to report back tomorrow.

[2019-10-16 23:51] AspirinSJL commented on #18848
Thanks!

[2019-10-16 23:59] Rantanen commented on #18848
The build was fast enough that I got it tested before heading off.

This still reproduces on 1.24.2. I did make one change to the code base by adding the `created` flag to the thread constructor in thread_manager.cc:

[code]

If I understood #20376 correctly, then that `abort()` should have triggered if the issue would be fixed by #20376. The server froze in the "won't accept new requests" -state

[2019-10-17 00:16] apolcyn commented on #20186
Sorry, I'm not sure that will work. Note that SRV records are used only to bootstrap "grpclb" load balancing in grpc.

It is <i>possible</i>, though, to publish a DNS A or AAAA record with such a list of IP addresses, and round robin over them (I believe that is what you're aiming for in this last comment?)

[2019-10-17 00:50] gnossen opened #20636 "Document the behavior of grpc_channel_create_call when host is NULL"
Support for a `NULL`  value for `host` was added in https://github.com/grpc/grpc/issues/2635 and is used by the Python bindings. The behavior of this function when of a value of `NULL` is supplied should be documented in [`grpc.h`](https://github.com/grpc/grpc/blob/dcff8b78ec8c99e8dbbb10967ff86240ec91d2f1/include/grpc/grpc.h#L217).

[2019-10-17 01:26] guantaol commented on #20436
@jtattermusch In my check, Windows SleepConditionVariableCS also suffers from the spurious wakeup issue: https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-sleepconditionvariablecs#remarks. If I understand timer_manager.cc correctly, there is no predicate to exclude the spurious wakeup. So it looks that the assumption on g_wakeups is incorrect (it does not count the spurious w

[2019-10-17 02:31] Allkoman commented on #20581
![image](https://user-images.githubusercontent.com/9135356/66973006-2583d400-f0c9-11e9-8c8a-d1c8d06b668b.png)

[2019-10-17 02:35] Allkoman commented on #20581
I use php grpc-1.22.0  as the client to receive data from the server, which is a golang micro-server,
e.g. when I send a 'id' list(a large list) from the client to get data from server,  the exception will show up like the photo, I think there may be some optional value In the package [https://packagist.org/packages/grpc/grpc](url)  to solve this problem? but I can not find one.

[2019-10-17 03:12] EliteTechnicalCare commented on #20500
Pardon my ignorance but is there a way a workout could be detailed step by step. I would greatly appreciate it, I don't know enough about symbolic links to mess with it in terminal.

[2019-10-17 03:31] sudsy opened #20637 "Grpc.Tools: using ProtoRoot property messes up Visual Studio"
### What version of gRPC and what language are you using?
GRPC.Tools 2.24
using Build Integration specified at `https://github.com/grpc/grpc/blob/master/src/csharp/BUILD-INTEGRATION.md` and #13207

### What operating system (Linux, Windows,...) and version?

Windows 10 Pro 18362.356

### What runtime / compiler are you using (e.g. python version or version of gcc)

GRPC.Tools integrated compiler

[2019-10-17 06:11] jtattermusch commented on #20436
@guantaol  I might be wrong, but IMHO the problem is not actually spurious wake-up.
A spurious wakeup would mean that we from time to time (= rarely enough) wake up spuriously and if nothing happened, we would go to sleep. In this case what we're observing in the test is that we wake up one time quantum too soon and because of a combination how timestamp rounding works and what arg we pass to the

[2019-10-17 06:16] #18822 closed

[2019-10-17 06:19] jiayunwei commented on #20583
I want to know is this a bug?

[2019-10-17 06:22] apolcyn commented on #20583
To check , is this running under valgrind? Do you have an idea of to reproduce?

[2019-10-17 06:38] #20366 closed

[2019-10-17 08:05] amitwaisel commented on #18753
I experience consistent crash when running a VSTest.
Platform: dotnet core 3.0 on win-x64 (either from Visual Studio or using the `dotnet.exe vstest` command line tool)
gRPC: Version `2.24.0`
Crash exception: `Security check failure or stack buffer overrun - code c0000409 (!!! second chance !!!)
`
I attached windbg to `dotnet.exe vstest` process (with `.childdbg 1` option as each test runs in its

[2019-10-17 08:33] amitwaisel commented on #18753
I can send the memory dump over a secure channel if necessary (contains sensitive data).

A bit more analysis to help speed things up:
1. Function `grpc_slice grpc_slice_buffer_take_first(grpc_slice_buffer* sb)` from `src\core\lib\slice\slice_buffer.cc` wasn't changed for the past 2 years - probably not the function to blame
2. **Function `grpc_error* SliceBufferByteStream::Pull(grpc_slice* slice)

[2019-10-17 11:23] pfreixes commented on #20001
Hi @lidizheng let me answer to you the different open questions

I think that we are on the same page, the `grpc.aio.Call` will wrapper the scheduled task for providing its own interface, like the `cancel` one, that will use the under the hood the interfaces provided by the `Task`, for example:

[code]

Note the usage of the `self._call.set_exception` method that is the API provided by the task.

[2019-10-17 14:14] markdroth opened #20639 "FLAKE: //test/core/end2end:h2_http_proxy_test@invoke_large_request[x64_windows-fastbuild]"
https://source.cloud.google.com/results/invocations/31bb79a4-b8d2-469f-b6bd-1a7f5fe637b0/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@invoke_large_request/log

[code]

[2019-10-17 14:42] jtattermusch commented on #20494
Ok, I found the reason why the sockpair tests are broken on MacOS when building with bazel.

It's because use_cfstream=True in
https://github.com/grpc/grpc/blob/a0ad4081cbea0f3e524d4fc51c6a5c7dbbf3d6dc/BUILD#L954

and when  GRPC_CFSTREAM is defined, it disables GRPC_POSIX_SOCKET (which in turn breaks sockpair tests because `grpc_iomgr_create_endpoint_pair` will become undefined)
https://github.com

[2019-10-17 15:23] asraa opened #20640 "Direct-leak in gpr_malloc"
Hi, I'm taking a look at a fuzz bug that Envoy's fuzzers reported. It seems as though there's a memory leak in some grpc code. Our fuzzers are hosted on OSS-Fuzz, the details are here (https://oss-fuzz.com/testcase-detail/5702532346675200).

The fuzzers generated a `target_uri` of:
```target_uri: "ipv6:[::]:698]:\'xcalc$&!!!%n`xcalc`%p"```
And `channel_credentials` of:
[code]
The Channel credentia

[2019-10-17 15:52] michael-mansour commented on #20500
Same I am a bit lost a step by step instructions would be greatly appreciated!
Thanks

[2019-10-17 15:55] muxi commented on #20500
This is what I did:
* Archive the project in Xcode. It fails with error "openssl_grpc/xxx.h file not found".
* In the issue navigator, find the particular error, right click, click "Reveal in Log"
* In the build log that's showing the error, there's a parentheses with words `loaded from '/Users/xxx/Library/Developer/Xcode/DerivedData/....'`. Copy the full path and append it with `openssl_grpc.fram

[2019-10-17 18:15] ikarelin opened #20661 "Cannot install BoringSSL-GRPC pod"
Trying to build my project on Mac.
I have a BoringSSL-GRPC as a dependency of one of my pods.
So I'm trying to run:
`$ pod install`
And it takes forever with:
`Installing BoringSSL-GRPC (0.0.2)`
(Already spent 2-3 hours trying to build my project).

[2019-10-17 18:56] KyleFromKitware commented on #15855
`gRPCTargets.cmake` is not installed because the various libraries are being built in "module" mode rather than "package" mode. This forces `gRPC_INSTALL` to `OFF`. I am writing up a pull request to clarify this.

[2019-10-17 21:08] lidizheng commented on #20001
@pfreixes

In current implementation, it raises `self` when RPC encounters error. And the `self` object has `code()` and `details()` method on its interface. WDYT about this alternative?

For me, I generally like to be cautious about introducing new interface. Especially exceptions, we are using one exception type that covers all situation right now. I felt like stronger rationale needed to break

[2019-10-17 21:22] lidizheng opened #20667 "[AIO] Support SO_REUSEPORT for AsyncIO Server"
As title.

[2019-10-17 21:25] lidizheng opened #20668 "[AIO] Stop Semantic for AsyncIO Server"
As title.

[2019-10-17 21:35] lidizheng opened #20669 "[AIO] Make CallbackWrapper the wrapper for functors in client-side"
As title.

[2019-10-17 22:59] lidizheng commented on #20562
If we try to expose it in open source API, it would like the new streaming API we are planning for AsyncIO stack: https://github.com/lidizheng/proposal/blob/grpc-python-async-api/L58-python-async-api.md#new-streaming-api.

Currently, we don't have enough bandwidth to perform similar scale changes. I will label this issue as feature request for now.

[2019-10-18 02:13] inewlife commented on #19895
Thanks reply ,do you have any idea to find the block timeout reason

[2019-10-18 05:38] rmstar commented on #20494
@jtattermusch it looks like this patch fixes the issue:
[code]

[2019-10-18 08:07] dzhamshed opened #20671 "Hit error connect ETIMEDOUT 104.28.22.74:443"
### Problem description
node-pre-gyp cannot connect to the server to download package.

### Reproduction steps
npm install grpc.

### Environment
 - MacOS Mojave 10.14.6
 - Node 10.16.3
 - npm 6.9.0
 - gRPC@1.23.3

### Additional context
Here's the log:
[code]

[2019-10-18 09:09] HndsmJohn opened #20672 "Undefined reference to grpc_server_add_secure_http2_port"
### What version of gRPC and what language are you using?
1.25.0-dev, in C++

### What operating system (Linux, Windows,...) and version?
Linux ubuntu 16.04 (kernel version : 4.15.0-65-generic)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 5.4.0

### What did you do?
I tried to create a secure server based on the code provided by [this issue (#9593)

[2019-10-18 09:57] kinex commented on #18188
I implemented quick & dirty fixes locally following @MichalStrehovsky 's tips and got it almost working. I can build and run my app in release mode successfully, but WACK tests fail still.

I made changes on top of the branch 1.22.x to avoid breaking other 3rd party packages that depend on that version in my app. Summary of the changes I made (remember these are quick&dirty changes to get it worki

[2019-10-18 11:11] jiayunwei commented on #20583
yes, while using domain name, I met this bug.   you can review the above code, I think that c ode is not free r->addrs_out.

[2019-10-18 12:49] vizero1 commented on #20493
@lidizheng thanks for the answer.
Then this ticket can be closed if there are no precompiled wheels for armv8.

[2019-10-18 12:49] #20493 closed

[2019-10-18 14:34] jtattermusch commented on #19307
@tanveerhamidpolyvista1  have you managed to resolve the problem?

[2019-10-18 15:38] #20392 closed

[2019-10-18 15:49] jtattermusch commented on #14840
@KyleFromKitware
I think this is only about setting the major version (="current" in libtool terminology) to mark breaking changes.
We already do this in our Makefiles:
https://github.com/grpc/grpc/blob/64fa171b8ba4b1ef0bf8f7163156c6a3b97ccece/templates/Makefile.template#L427
(if you try building grpc with make you'll see that libgrpc.so.X gets a version suffix and libgrpc++.so.Y also gets a versi

[2019-10-18 16:58] jtattermusch commented on #20494
There's many places like that and I don't think it's a good idea to change all occurences of `#ifdef GRPC_POSIX_SOCKET` to `#if defined(GRPC_POSIX_SOCKET) || defined(GRPC_CFSTREAM)`.
It it fine to just enable GRPC_POSIX_SOCKET whenever GRPC_CFSTREAM is on?

[2019-10-18 17:18] muxi commented on #20631
Yea unfortunately the modular headers do not work for gRPC, not only for BoringSSL-GRPC podspec but for all gRPC pods due to the difference in include styles. We purposely use the non-modular header approach to accommodate gRPC project's include style. Not ideal but it's non-trivial to change that for now. I don't think we will invest in that any time soon.

[2019-10-18 17:18] #20631 closed

[2019-10-18 18:23] JonathanMcDevitt commented on #20005
Hi @jtattermusch,

We've done some testing and the fix addresses our crash. Thanks a lot!

~Jon

[2019-10-18 19:13] gnossen commented on #20667
Should this be "*Support* SO_REUSEPORT in AsyncIO Server"? We don't necessarily want it on by default, right?

[2019-10-18 19:46] lidizheng commented on #20667
@gnossen Title renamed as suggested.

[2019-10-18 20:33] CooperBills opened #20675 "C++ GRPC targets fail to build with import_prefix or strip_import_prefix in Bazel"
GRPC Bazel targets (`cc_grpc_library`) fail to build when `proto_library` sources contain `import_prefix` and/or `strip_import_prefix` options.

### What version of gRPC and what language are you using?
1.24.2 (latest master)

### What operating system (Linux, Windows,...) and version?
Ubuntu Linux 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang 6.0 w

[2019-10-18 20:49] markdroth opened #20677 "FLAKE: "unknown file SEH exception with code 0xc0000005 thrown in TearDown()" failure on Windows"
https://source.cloud.google.com/results/invocations/804a4860-c905-46c2-8797-4ce1d4156699/targets/%2F%2Ftest%2Fcore%2Ftransport%2Fchttp2:settings_timeout_test/tests

Yet another instance of the Windows "SEH exception" failure:

[code]

[2019-10-18 20:51] markdroth opened #20678 "TSAN FLAKE: //test/cpp/thread_manager:thread_manager_test@poller=epoll1[k8-fastbuild]"
https://source.cloud.google.com/results/invocations/268f930c-9a2b-4b34-9738-ef4939c0a096/targets/%2F%2Ftest%2Fcpp%2Fthread_manager:thread_manager_test@poller%3Depoll1/log

[code]

[2019-10-18 23:23] nick-owens-eero opened #20682 "setup.py build does not respect -j (--parallel) flag"
### What version of gRPC and what language are you using?
grpc 1.19.0

### What operating system (Linux, Windows,...) and version?
yocto linux 2.7/warrior

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7.2 / gcc 8.3.0

### What did you do?
python setup.py build -j 24

### What did you expect to see?
extension source compiles in parallel

### What did yo

[2019-10-19 00:13] lidizheng opened #20684 "[AIO] Avoid memcpy in conversion of socket address"
As title.

[2019-10-19 00:30] lidizheng commented on #20669
This issue should also propagate debugging information into the callback, so if the callback failed, our framework can log something that is helpful for debugging.

[2019-10-19 00:44] gsantopaolo opened #20685 "gRPC C# on WPF (.Net Core) project does not compile"
### What version of gRPC and what language are you using?
gRPC 2.23.2  C#

### What operating system (Linux, Windows,...) and version?
Windows 1903 OS Build 18362.418

### What runtime / compiler are you using (e.g. python version or version of gcc)
.Net Core 3.0

### What did you do?
Try to move the gRPC client code (and logic) of any of the grPC samples (https://github.com/grpc/grpc-dotnet/tree/

[2019-10-19 02:17] yashykt opened #20686 "Basic Tests ObjC MacOS failure"
[code]

[2019-10-19 11:58] mgravell opened #20688 "csharp : proposal to make new GetBufferWriter() API feature-testable"
v2.24.0 added the [new `GetBufferWriter()` API](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core.Api/SerializationContext.cs) onto `SerializationContext`. However, [not all implementations yet implement this](https://github.com/grpc/grpc-dotnet/issues/609).

This presents an issue to marshaller implementations, because this API is not feature-testable, except by catching the `NotImple

[2019-10-19 13:11] pkit commented on #20619
@lidizheng somehow missed this one.
Will do and report. Thanks

[2019-10-19 17:11] lidizheng opened #20689 "[AIO] Reduce GIL protected area in IO manager"
This work affects both `gevent` and `asyncio`.

[2019-10-20 11:31] psylambda opened #20690 "CPP: Method TraceFlagList::Add(TraceFlag* flag) of trace.cc makes its chained list loop to itself"
### What version of gRPC and what language are you using?
c++ 3.10.0-862.11.6.el7.x86_64

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (GCC) 8.3.0

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
In bazel

[2019-10-20 23:05] JamesNK commented on #20688
I think returning null from the virtual method is the simplest solution.

[2019-10-21 05:55] rspworks commented on #20590
Is there any other way  i can get received port information on server side ?

[2019-10-21 08:03] thefringeninja commented on #20501
I noticed this happened to me when I had my ide open and I upgrading my version of the tools.

[2019-10-21 08:23] ppLorins opened #20692 "possible memory leak in async c++ client."
### What version of gRPC and what language are you using?
grpc 1.21.x     c++

### What operating system (Linux, Windows,...) and version?
Windows 10pro 1903

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24215.1 for x86

### What did you do?
I build a broadcasting model where A is the proxy server(asynchrono

[2019-10-21 09:47] jtattermusch opened #20694 "FLAKE: MacOS C++ test " ERROR: Aborting VM command due to timeout of 7200 seconds""
https://source.cloud.google.com/results/invocations/2c2b423e-7a8d-4bad-8618-c0b2da93b676/log

The VM times out.
A few more notes:
- 7200 seconds is way too long for a PR test (long test latency -> bad developer experiences).
- a ton of "file has vanished" error obscure the real problem (possibly this is a kokoro issue?).

[code]

[2019-10-21 10:03] jtattermusch opened #20695 "//test/cpp/end2end:xds_end2end_test is flaky on UBSAN"
Saw failures in many recent builds on master.

https://source.cloud.google.com/results/invocations/e4cf8b14-1404-4fd2-a5fc-9d544f9decf3/targets
https://source.cloud.google.com/results/invocations/5831efb6-8e7f-43ca-b183-9ee7daf3c131/targets

The "Unevaluated target" might actually be a timeout problem.

[2019-10-21 10:04] jtattermusch commented on #20695
This is happening for more than 50% of UBSAN builds on master. Suggest raising to P1.

[2019-10-21 10:13] jtattermusch commented on #20695
Suspect PRs merged around the time when the flakiness rate increased
https://github.com/grpc/grpc/pull/20526
https://github.com/grpc/grpc/pull/20542

[2019-10-21 11:09] kskalski commented on #14101
@BuBuMan FYI, I updated code and added working project with simple tunnel server S and A/B example client/server ready to check and try. The C# (forwarded) client code is a bit limited, for this part I use Java version, which has more features, but doesn't have a full working example yet.

[2019-10-21 11:49] LoicBovo opened #20696 "C# .Net Framework client not connecting .Net Core server"
### What version of gRPC and what language are you using?
Language C#
Grpc 2.23

### What operating system (Linux, Windows,...) and version?
Windows 10 Enterprise - 1903

### What runtime / compiler are you using (e.g. python version or version of gcc)
C# .Net Core 3.0 for the server
C# .Net Framework 4.7.2 / 4.8 for the client

### What did you do?
If possible, provide a recipe for reproducing th

[2019-10-21 14:25] #20037 closed

[2019-10-21 17:30] #19975 closed

[2019-10-21 17:31] BuBuMan commented on #14101
@kskalski Thanks for the notification. Unfortunately, I decided to use a custom RPC solution since gRPC has quite a few missing features for my use case. I figured adding those missing features to gRPC would take more time and work than just writing a custom solution that meets my exact needs.

[2019-10-21 17:36] markdroth opened #20703 "FLAKE: objc_macos_opt_native_ios-test-cronettests.ios-test-cronettests"
https://source.cloud.google.com/results/invocations/0e886c27-5e04-4cf4-857d-b39d11a5d663/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-cronettests/tests

[code]

[2019-10-21 17:57] markdroth commented on #20695
How do we tell whether the "unevaluated target" is a timeout?  I'm not sure how to debug this, given that there are no logs from the test.

[2019-10-21 19:16] apolcyn commented on #19880
Haven't yet had time to take a look but plan to in the next couple of days

[2019-10-21 19:23] markdroth opened #20711 "FLAKE: xds_end2end_test tests failing with "Deadline Exceeded" on MacOS"
https://source.cloud.google.com/results/invocations/0ee1d04d-b584-4087-850f-b9526bef1430/targets/github%2Fgrpc%2Frun_tests%2Fcpp_macos_dbg_native/tests

[code]

[2019-10-21 19:25] markdroth opened #20712 "FLAKE: XdsTest/ClientLoadReportingTest.Vanilla/FakeResolverWithLoadReporting"
https://source.cloud.google.com/results/invocations/28b7dd65-0375-4c2e-ad52-d376f0cde0aa/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Depoll1/tests;group=XdsTest%2FClientLoadReportingTest;test=Vanilla%2FFakeResolverWithLoadReporting;row=1

[code]

[code]

[code]

[2019-10-21 19:26] paulmil1 opened #20713 "binaries..."
Spent sh*tloads of time pulling the code and compiling this crap
at the end of it, i was greeted with some grpc_cli  exit status 1 bs

Why cant i just download the f**king grpc_cli tool?

[2019-10-21 20:08] yashykt commented on #20695
[code]

This is the last log I see. Do we have a timeout of 5 minutes on the test? In that case, should we simply increase it?

[2019-10-21 20:10] yashykt commented on #20695
Nevermind, on the other logs, I saw this -
[code]

[2019-10-21 23:43] grpc-google-owners commented on #20713
Abusive language. Locking and blocking.

[2019-10-21 23:43] #20713 closed

[2019-10-22 00:11] lidizheng opened #20723 "Upgrade the Python in Bazel Docker Image to 3.6+"
Currently, the Docker image we are using for all Bazel tests is `grpctesting/bazel_400859c7360e244a6d8f2dffd1e3cfd56ae9cfd4`. Its Python version is `3.5.2` which is lower than minimal requirement of gRPC Async Stack (3.6).

The tricky thing is that the image is originated from [oss-fuzz](https://github.com/google/oss-fuzz/blob/master/projects/grpc/Dockerfile). Hope this can happen soon.

Blocking:

[2019-10-22 01:44] #11594 closed

[2019-10-22 04:16] JamesNK opened #20729 "Support nullable type references in Grpc.Tools"
C# 8 adds nullable type references - https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references

Grpc.Tools should be updated to support adding nullable type metadata to generated messages and services. It could be added as an option that is passed to the protoc compiler. MSBuild integration could then detect whether Grpc.Tools is being used in a project with nullable reference types enabl

[2019-10-22 04:17] LaxmiAhirwar opened #20730 "How to read async server side streaming using c++"
Hi everybody,

I am trying to implement asynchronous server side streaming using C++.  but I am not able to find any good example for the same. i am having hard time with reading stream asynchronously.

This is my client code -----
class GreeterClient
{
public:
    GreeterClient(std::shared_ptr<Channel> channel)
        : stub_(MultiGreeter::NewStub(channel))
    {}
    void SayHello(const std::st

[2019-10-22 06:41] jtattermusch commented on #11768
In the future, we will only be providing cmake as a way for users to build (and Makefile will only be used internally if at all). Closing.

[2019-10-22 06:41] #11768 closed

[2019-10-22 07:33] wanglzh commented on #19959
we have a strict performance situation where two processes complete a RPC within 20 us, so if grpc support shared memory as a transport, that will be good, thanks for your answer !

[2019-10-22 07:49] jtattermusch commented on #20688
Good point. I'm undecided between returning "null" and adding a new "Is supported" property.
- agreed that returning null is the simplest solution
- we've relatively recently introduced "deserializationContext.PayloadAsReadOnlySequence()" method which could also be detectable, but returning null doesn't work here because  1. it's a struct 2. it might change the semantics. So maybe for better consi

[2019-10-22 08:02] kinex commented on #18188
I was able to fix the remaining issues with these additional changes:

1. I removed wsock32 from _templates/CMakeLists.txt.template_ and from _CMakeLists.txt_:
[code]
I noticed also the component _third_party/cares_ is referencing wsock32 but changing it was not required.

2. Store rejects the app if a x86 package contains x64 binaries. Nuget package should be configured so that only the required

[2019-10-22 08:48] jtattermusch commented on #19619
[code]

https://source.cloud.google.com/results/invocations/3e468247-6f07-4189-9dac-56f438fd3abd/targets/github%2Fgrpc%2Frun_tests%2Fcpp_macos_opt_native/tests

[2019-10-22 08:51] #17876 closed

[2019-10-22 09:01] jtattermusch commented on #20501
Can this be closed then?

[2019-10-22 09:13] mgravell commented on #20688
another thing in favor of an "is supported" property is that a caller can check it *earlier*, and in particular **before** `SetPayloadLength`, where-as by definition `GetBufferWriter()` must happen *after* `SetPayloadLength`. So ... if it turns out that the answer is "no", you might have been forced down a sub-optimal path for your serializer.

(that said, if you have done the work to compute the

[2019-10-22 09:14] khteh commented on #20501
What's the reason to close it?

[2019-10-22 09:16] jtattermusch commented on #20501
According to https://github.com/grpc/grpc/issues/20501#issuecomment-544397682 it doesn't look like it's a grpc issue.

[2019-10-22 09:20] khteh commented on #20501
Then where does "error MSB4062" belong to? Who is supposed to fix the "error"?

[2019-10-22 09:23] jtattermusch commented on #11594
You can get a statically link monolith two ways:
1. use bazel
2. use cmake with the right options so that everything is linked statically.

[2019-10-22 09:56] jtattermusch commented on #20695
@markdroth  Normally timeouts are reported timeouts, but in this particular case there seems to be some problem (could be because some of our tests are misconfigured), I don't know it's a timeout for sure, but I made a guess based on seeing similar situation in the past and I though that this insight might help investigating.

How to debug: Seems that the best bet is to try starting the RBE test m

[2019-10-22 10:17] jtattermusch commented on #20695
I ran the with the above command with --runs_per_test=10
and got this result (unfortunately I didn't see the exact same error, but I ran into some other failure).
https://source.cloud.google.com/results/invocations/5e07f89d-50ef-4969-a1aa-5e7c61be0ec6/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Depollex;shard=1;run=10/tests

[2019-10-22 10:53] thefringeninja commented on #20501
dotnet/cli#9458

This is a consequence of these optimizations. I don't think there is much you can do other than kill any dotnet processes that are hanging around. The canonical way to do this is `dotnet build-server shutdown`.

[2019-10-22 12:06] jtattermusch commented on #20695
Looks like the xds_end2end_test is by far the slowest bazel test we have:
Here's the avg runtime in seconds for the longest tests over the last few days.

[code]

[2019-10-22 14:06] tvvignesh commented on #19126
Hi guys. Any ideas on how this can be taken forward? Also, I was wondering - Now that http/3 is solving most of the problems with the transport layer which existed before, will there be any significant performance difference when doing REST over http/3 vs GRPC over http/3 (if and when implemented)?

[2019-10-22 14:38] KyleFromKitware opened #20734 "Style issues in CMake code"
I have noticed the following style issues in gRPC's CMake code:

1. There is often a space between `if`/`endif` and the first parenthesis. This is not recommended for CMake style.
2. The `if()` condition is often repeated in the `endif()` block. This has not been needed for a long time and is not recommended.
3. Indentation is inconsistent. Some lines are indented with 2 spaces, some with 4. 2 is

[2019-10-22 15:30] HunterLarco commented on #9110
Is there a current roadmap for this feature?

[2019-10-22 16:10] yang-g commented on #20730
The best example we can might be client_async.cc under test/cpp/qps

There are several issues in your code
1. you will need to call reader->StartCall after your PrepareAsyncSayHello
2. Every time after you issue the tag, you need to call cq.Next and wait for the tag to get back before you can issue another api call. Thus you need to insert cq.Nexts to right after StartCall, after Read.

[2019-10-22 16:10] #20730 closed

[2019-10-22 17:00] yang-g commented on #20692
Do you have a memory profile or something to show what is being used?

I think there is an error in https://gist.github.com/ppLorins/942874631457a7f982411ea0f2b60048#file-proxy_adventurer-cc-L238 as well, since at this point the server call data may have already been destroyed.

[2019-10-22 17:02] yang-g commented on #20690
I think it is a mistake to depend on both grpc++ and grpc++_unsecure as currently they are kind of duplicates rather than one layering on top of each other. See the TODO in BUILD line 120.

[2019-10-22 17:02] #20690 closed

[2019-10-22 17:07] yang-g commented on #20672
I think more information is needed. From what you described, I cannot see why you are seeing the linker error.

[2019-10-22 17:21] muxi commented on #20661
`BoringSSL-GRPC` pod is now 0.0.4. Something is not right in your project. We would need more information on your project to provide any further help I think.

[2019-10-22 17:23] gnossen commented on #20723
Do we know the origin of this image or who owns it? Perhaps `docker history` would be enlightening?

[2019-10-22 17:42] AspirinSJL commented on #19959
If my understanding is correct, you have two processes on the same machine that are communicating with each other. So you want to use shared memory as a transport to optimize performance.

We don't currently support this though, sorry. But proposal and implementation is welcome if you want to contribute.

[2019-10-22 17:42] AspirinSJL commented on #19959
Please reopen if you have further question. Thanks!

[2019-10-22 17:42] #19959 closed

[2019-10-22 17:56] lidizheng commented on #20723
I can only see @yang-g 's signature on the image.

@jtattermusch Hi Jan, do we know if we are using this Bazel image for fuzzing test? If we can switch the base image, 3.6 installation will be easier.

[2019-10-22 17:58] ppLorins commented on #20692
I did the experiment again and got some snapshots, visual studio cannot export the result as excels or something, so there is only snapshots...

This is the memory gain after did sending 40k requests to the serverA:
![image](https://user-images.githubusercontent.com/5534049/67314956-30f75500-f538-11e9-9c78-e1da07917688.png)

This is the memory gain details in vs diagnostic tool which is informativ

[2019-10-22 18:03] ppLorins commented on #20692
Forget the grpc_1.8.x_svr.... , it's actually 1.21.x.

[2019-10-22 18:28] yang-g commented on #20692
I am not sure there is a problem here.
I can imagine this is caused by some memory allocator implementation details like holding the released memory in a pool rather than returning back to the system.
Also grpc may have some global cache of commonly used strings etc which may be the source of last picture. (Note it is from registering a call on a channel).

A better way to test the memory usage mi

[2019-10-22 18:34] ppLorins commented on #20692
I'll try it later.

[2019-10-22 21:15] yashykt commented on #20624
Another instance - https://source.cloud.google.com/results/invocations/9cd0c773-0894-4a31-80ba-e8ca143b30f9/targets

[2019-10-22 21:21] gnossen opened #20741 "Improve Python Server-Side Streaming Performance"
Improve performance of server streaming on the client side by moving all operations to a single Python thread.

CC @yashykt

[2019-10-22 21:43] ejona86 commented on #9403
@nicolasnoble, since the `//test/cpp/util:grpc_cli` target exists, is there anything else necessary to do for this issue?

[2019-10-23 01:04] guantaol commented on #20436
I have an explanation for the extra wakeup on Windows, and it is related to how gpr_now(GPR_CLOCK_REALTIME) is implemented on Windows: https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/time_windows.cc#L52. Since _ftime_s() only gives us the current time in a granularity of millisecond, and gpr_cv_wait() will call gpr_now(GPR_CLOCK_REALTIME) twice on Windows when calculating the relative de

[2019-10-23 01:29] P4-WCZ opened #20747 "AttributeError: 'module' object has no attribute 'ConnectivityState'"
Hello,someone.
I‘m using Linux ubuntu16.04,which python version is 3.5.When i run example/helloworld/greet_server.py in pycharm,it raises an error:’
![image](https://user-images.githubusercontent.com/55369151/67348432-86068b80-f577-11e9-8c1e-78b2889d7115.png)
Thanks someone for helping me.

[2019-10-23 03:20] chsitter commented on #7945
Would this approach also work for streaming responses?

I'm thinking along the lines of streams emitting deltas to the previous responses and hence requiring some form of conflation mechanism.

[2019-10-23 03:28] #20501 closed

[2019-10-23 05:54] jtattermusch opened #20751 "Flake: ios-test-interoptests"
[code]

https://source.cloud.google.com/results/invocations/d3ba99f7-50af-4e87-a659-2787b8a836c4/log

[2019-10-23 06:13] jtattermusch commented on #20436
Thanks for the analysis. Yes, this definitely has to do with the windows timing code and the millisecond-only precision. But there's still seems to be a problem - there is not only "one or two " extra wakeups (which would be "fine"), when you add a log message to the test, you regularly get g_wakeups being a rather large number - I regularly get wakeup >200. (which means that the timer code just k

[2019-10-23 06:22] gnossen opened #20752 "Instrument Tests with SingleThreadedUnaryStreamMultiCallable"
The existing unit test suite should be instrumented to test both the original multi-threaded unary-stream code path and the single-threaded version introduced in https://github.com/grpc/grpc/pull/20753.

[2019-10-23 07:51] wanglzh commented on #19959
It's exactly what you understand ! Do you have a plan to add such feature ?

[2019-10-23 08:07] xqzhang2015 opened #20754 "abort because of "non-virtual thunk to grpc::Channel::PerformOpsOnCall(...) channel_cc.cc:130""
#19736 # What version of gRPC and what language are you using?
gRPC version: 1.14.0
language: C++

### What operating system (Linux, Windows,...) and version?

[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
I failed to reproduce the issue in dev env. It only happened 2 times in stg env.

I'm using gRPC to develop a C++version

[2019-10-23 08:26] thibault-martinez commented on #20042
Having the exact same issue, any news on this ?

[2019-10-23 08:42] jtattermusch opened #20755 "grpc/core/master/macos/grpc_bazel_cpp_ios_tests is broken on master"
It started failing with this build
https://source.cloud.google.com/results/invocations/fb6a1d5b-aaa0-45b6-a97b-6b15913c853a/log

[code]

This is right after https://github.com/grpc/grpc/pull/20606 (which I think introduces a test that's not compatible with the grpc_bazel_cpp_ios_tests?)

[2019-10-23 09:05] vjpai commented on #20754
This assertion indicates an API misuse of some kind. I have a PR in flight to provide some additional info on this log, but the most common triggers for this are to have multiple writes outstanding at the same time, or to have some object dead when it needs to be alive (e.g., ClientContext needs to be alive for the entire duration of the RPC). Can you provide any additional information about your

[2019-10-23 09:21] Thalhammer opened #20757 "C++ Server Stuck in TraceFlagList:Set during startup"
### What version of gRPC and what language are you using?
1.24.3
C++

### What operating system (Linux, Windows,...) and version?
Linux <host> 5.3.0+ #1 SMP Wed Oct 2 16:58:18 CEST 2019 x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)

### What did you do?
Build an existing project ag

[2019-10-23 09:37] LaxmiAhirwar commented on #20730
I tried to do it what u said. but I am still getting the same error.

This is my updated client code---
class GreeterClient
{
public:
    enum Type {
        CONNECT = 1,
        READ = 2,
        FINISH = 3
      };
    GreeterClient();
    GreeterClient(std::shared_ptr<Channel> channel)
        : stub_(MultiGreeter::NewStub(channel))
    {
        grpc_thread_.reset(
                    new std:

[2019-10-23 11:37] xqzhang2015 commented on #20754
@vjpai Thanks for your quick reply.

I know the 1-outstanding-write rule but not 100% sure if my code complies with the rule.

For this etcd c++ client, I use state-machine to loop keep lease alive and handling all kinds of exceptions, including network issues, which is a little complicated. Let me review it first.

Is it possible that the issue fixed in 1.14.1 will cause such aborting(or crash)?

[2019-10-23 11:38] jtattermusch opened #20759 "//test/cpp/end2end:xds_end2end_test is way to slow"
This is very likely the root cause of #20163 and #20695.

The current runtime of the test under TSAN is around ~2200 sec. That's not a reasonable test duration at all (it's bottle neck for our test latencies both on CI and when running tests manually) and as a side effect we're hitting some test infrastructure corner cases that are masking the underlying problem (e.g. #20695)

The evolution of the

[2019-10-23 11:47] CodingBeagle opened #20760 "GRPC.Tools: Including proto files including all recursive sub-directories"
Hey @kkm000 ,

From the following documentation page: [GRPC.Tools Build Integration](https://github.com/grpc/grpc/blob/master/src/csharp/BUILD-INTEGRATION.md)

It states that in order to build proto files in your project, you simply add this to your .csproj:
`  <ItemGroup>
   <Protobuf Include="**/*.proto" />
   </ItemGroup>`

However, for the structure of my project this does not seem to work. Fr

[2019-10-23 11:59] jtattermusch commented on #20759
I was able to confirm that https://github.com/grpc/grpc/pull/20476 has almost doubled the runtime for some of our RBE jobs on kokoro (e.g. UBSAN).

[2019-10-23 12:18] #20760 closed

[2019-10-23 12:20] CodingBeagle commented on #20760
Fixed this issue.

The working directory (root) for protoc is the project root directory. I had to change this to "Protos", which can be done using the **ProtoRoot** metadata attribute, like so:
'  <ItemGroup>
    <Protobuf Include="**/*.proto" ProtoRoot="Protos" />
  </ItemGroup>'

[2019-10-23 12:40] jtattermusch commented on #20494
@rmstar friendly ping - It it fine to just enable GRPC_POSIX_SOCKET whenever GRPC_CFSTREAM is on? (see my last question)

[2019-10-23 16:30] hcaseyal commented on #20590
@rspworks There is no alternative at the moment and no ETA for this feature request.

If you'd like to contribute this feature, please follow the instructions at https://github.com/grpc/proposal to submit a proposal first.

[2019-10-23 17:17] lidizheng commented on #18210
@asgoel @hungrybirder SO_REUSEPORT support should be shipped by default now. We are shipping `manylinux2010` and 3.8 in latest `v1.24.3`. If the pip version is `> 19.0`, then it will automatically pick the `manylinux2010` wheel.

[2019-10-23 17:21] gnossen commented on #20747
This sort of error generally indicates a packaging problem, e.g. a mismatch between Python interpreter version and wheel version. Can you please supply more information about the exact gRPC wheel that you installed?

[2019-10-23 17:22] AspirinSJL commented on #19959
Sorry, it's not on our plan. But community contribution is welcomed.

[2019-10-23 17:27] lidizheng commented on #6046
AsyncIO support is under development. If you want to check the progress, please see https://github.com/grpc/grpc/projects/16. Most importantly, we are looking for contributors :)

[2019-10-23 17:34] #20723 closed

[2019-10-23 17:49] gnossen commented on #18210
I don't think we can declare victory quite yet. Manylinux2010 supports it, but we still have to include it in our wheel. I've manually verified that this is not yet working:

[code]

[code]
This is probably going to require some changes to [`port_platform.h`](https://github.com/grpc/grpc/blob/618a3f561d4a93f263cca23abad086ed8f4d5e86/include/grpc/impl/codegen/port_platform.h).

[2019-10-23 18:15] rmstar commented on #20494
Enabling both GRPC_POSIX_SOCKET and GRPC_CFSTREAM is not allowed as the assumption is that exactly one socket type is enabled. See https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/port.h#L208-L212.

The iomgr implementation is chosen based on the socket type. If GRPC_POSIX_SOCKET is defined, we also [define GRPC_POSXI_SOCKET_IOMGR](https://github.com/grpc/grpc/blob/master/src/core/lib/i

[2019-10-23 18:20] rmstar commented on #20436
This is correct. Please see internal bug 68708872 for possible consequences of timer thread spinning.

[2019-10-23 19:05] gnossen opened #20762 "Decouple receipt of metadata from consumption of iterator in SingleThreadedRendezvous"
See https://github.com/grpc/grpc/pull/20753#discussion_r338195653.

At least one response must be consumed before initial metadata becomes ready for consumption in the current implementation of `_SingleThreadedRendezvous`. It should be possible to read the initial metadata without consuming *any* messages from the iterator.

[2019-10-23 19:10] gnossen opened #20763 "Drive Receipt of RPC Properties from the calling thread in _SingleThreadedRendezvous"
See https://github.com/grpc/grpc/pull/20753#discussion_r338194354

Currently, calling, e.g. `call.trailing_metadata()` will not make any progress toward actually *receiving* `trailing_metadata`. Instead, it is expected that these attribute methods will be called from a thread separate from the one that *is* making progress.

An alternate option is for the caller to donate its thread to driving the

[2019-10-23 20:51] pfreixes commented on #19762
This PR https://github.com/grpc/grpc/pull/20598 already merged done by @lidizheng provides support for the minimal asynchronous server. So I would say this issue is no longer blocked and can be started.

[2019-10-23 22:05] yashykt commented on #20757
I have two comments here -
1) As described in #20690, depending on grpc++ and grpc++_unsecure is likely to cause many other such issues. If this is the only issue that is being caused, then I am not AGAINST adding this as a paper fix. An important thing to realize is that we will not have tests against this so there is NO guarantee that this will not break in the future.
2) Users are encouraged to

[2019-10-23 22:06] yashykt commented on #20757
Also, cc-ing @yang-g as the original commentor

[2019-10-23 22:17] #20640 closed

[2019-10-23 22:18] gnossen commented on #18111
Spotted again in the wild: https://source.cloud.google.com/results/invocations/c2359a46-d3d2-49a1-a5e8-9bdd5a24767b/log

[2019-10-23 22:19] #20741 closed

[2019-10-23 22:24] yang-g commented on #20757
I am against having cover-up changes to work around a problem that not fully understood. If you have a way to reproduce your issue, we can take a look at why it is experiencing the problem.

[2019-10-23 23:26] lidizheng commented on #11685
This feature is still on-demand.

[2019-10-23 23:46] gallmerci opened #20773 "Build error for py_grpc_library bazel target on windows"
### What version of gRPC and what language are you using?
Recent commit 018580fb89fa66bfb724d3d0e51aea1aa6474ca1
Python

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7.3
Visual Studio Build Tools 2019
Bazel 1.1.0

### What did you do?

1. Create a rpc service in a service.proto file a

[2019-10-24 00:08] gnossen commented on #20773
Thank you for such a detailed write-up!

Regarding the first failure you mentioned, that is certainly a typo. Good catch! If you'd like to submit a PR with that change, we'd be more than happy to accept it. Otherwise, I'll get to it in the not-too-distant future.

CC @apolcyn for what looks like an `address_sorting` Windows Bazel issue.

[2019-10-24 00:47] apolcyn commented on #20773
I agree that https://github.com/grpc/grpc/issues/15333 seems related. Just a guess, but can `--dynamic_mode=off` fix your build?

cc @nicolasnoble

[2019-10-24 01:16] hungrybirder commented on #18210
I test it on centos7 and it still doesn't work for me.
`grpcio==1.24.3
pip 19.3.1
`

[2019-10-24 01:19] gallmerci commented on #20773
Unfortunately not.

[2019-10-24 01:22] bohemianRey commented on #20393
Hello, I have the same problem. Do you find a solution? Many thanks!

[2019-10-24 02:33] AspirinSJL commented on #20694
This is a dup of https://github.com/grpc/grpc/issues/19422?

[2019-10-24 05:54] gronlund013 commented on #20393
I don't have a good solution, was hoping for the community since I really wan't to know what happened.

Anyway, I setup a new virtual machine from scratch (thinking I did everything the same way but not sure) and I got it to work.

Maybe grpc is not mature enough at this point since people are getting random results

[2019-10-24 06:06] bohemianRey commented on #20393
thanks.
Actually, I tried many things and finally work. I don't know which step is working for the final result...

1. I noticed that, git clone -- recursively grpc does not download all the third_parties. one library: bloaty failed. So I manually git clone the bloaty in the grpc's third_party dir. dont forget to `make && make install` bloaty
2.I use `make clean` before I make the grpc at grpc roo

[2019-10-24 06:52] Thalhammer commented on #20757
While trying to build a minimal example that reproduces the problem, I found the error I had in my case.
I have a situation where I have multiple libraries which all use parts of grpc(or grpc++ which in turn uses grpc). Looks like for whatever reason one of the project build files picked grpc as a static lib while all the others had it linked dynamically. After making sure they all use the either

[2019-10-24 06:54] jtattermusch commented on #20759
I skimmed through the test logs and saw these logs (notice the big differences in timestamps - sometimes 5mins!)
[code]

[code]

[code]

All are from this log:
https://source.cloud.google.com/results/invocations/38cec024-3389-4810-9552-0937a0c610be/log

[2019-10-24 07:09] #17561 closed

[2019-10-24 07:11] jtattermusch opened #20777 "Bazel RBE: Remote connection/protocol failed with: execution failed java.io.IOException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 59999888533ns"
https://source.cloud.google.com/results/invocations/82e81e33-0ce1-4dc4-a579-98f714da5f0e/log
https://source.cloud.google.com/results/invocations/82e81e33-0ce1-4dc4-a579-98f714da5f0e/log

[code]

[2019-10-24 07:29] jtattermusch commented on #18126
Even though this is not that common, it's by far the top C# test flake: https://testgrid.corp.google.com/Basic%20Tests#Basic%20Tests%20CSharp%20Linux&width=5

[2019-10-24 07:31] jtattermusch commented on #19422
dup of https://github.com/grpc/grpc/issues/20694.

[2019-10-24 07:31] #19422 closed

[2019-10-24 07:45] #20755 closed

[2019-10-24 08:21] rhineswimmer opened #20779 "rad studio build error"
### What version of gRPC and what language are you using?
v1.24.3

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
c++ RadStudio  bcc64 v5.0.2  + ilink64 v6.90 +Ninja

### What did you do?
I tried to build grpc using cmake. Firstly, I've completed everything from http://docwiki.embarcadero.com

[2019-10-24 10:03] zhangpengchen commented on #17672
As the issue was opened almost a year now, I don't expect it will be fixed soon, I will go for a workdaround

`  <ItemGroup>
    <Protobuf Include="..\protos\dir1\bar.proto" OutputDir="$(Protobuf_OutputPath)dir1" GrpcServices="Server"/>
    <Protobuf Include="..\protos\dir2\bar.proto" OutputDir="$(Protobuf_OutputPath)dir2" GrpcServices="Server"/>
  </ItemGroup>`

[2019-10-24 10:06] Falco20019 commented on #17672
We have to do that too... but it’s annoying if you have dozens of projects and a dozen people doing it manually.

[2019-10-24 10:54] gronlund013 commented on #20393
Thank you very much, I will keep this in mind because I have assigned a developer to setup a virtual machine for development that can be copied to the rest of the team.

[2019-10-24 12:00] clearday4 opened #20781 "Unary Sync Callback API crach"
### What version of gRPC and what language are you using?
gRPC version v.1.21.1
Language: C++

### What operating system (Linux, Windows,...) and version?
Ubuntu Linux 4.15.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-28)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific

[2019-10-24 13:01] Falco20019 opened #20782 "[C#] The native method "grpcsharp_slice_buffer_create" does not exist"
### What version of gRPC and what language are you using?
2.23.1 & 2.24.0

### What operating system (Linux, Windows,...) and version?
Windows 10 v1803

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSBuild VS 2019 (16.3.5)

### What did you do?
I tried to have a library targeting the minimum version possible (2.23.1) and an application overwriting the target to

[2019-10-24 14:46] markdroth commented on #9110
We need to finish the service config error handling work and then enable the TXT lookups by default.  Hopefully, we'll be able to do this over the next couple of quarters.

[2019-10-24 15:15] Yannic commented on #19171
I was about to open an issue for this. Let me see if I can get together an initial configuration :).

//cc @philwo

[2019-10-24 16:31] jtattermusch commented on #20494
@rmstar  I understand, but it also means that we'll need to do some hygiene in terms of our usage of #ifdef GRPC_POSIX_SOCKET  in tests - there's many occurrences and I'm not sure what's the intention there (it depends whether each particular test is meant to work with cfstream or not).

[2019-10-24 16:38] jtattermusch commented on #20723
I know that fuzzing is being run for us in an external project (so there might be a good reason for inheriting the docker image from oss-fuzz, but I don't remember the details.

[2019-10-24 16:52] jtattermusch commented on #20696
Please include some logs and/or code examples - otherwise we cannot help.

And yes, you're right that Grpc.Core client should be able to connect to grpc-dotnet server (many others have tested that and we do have continuous tests for that and they're passing - so it's more likely that you've missed something).

have you tried https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspne

[2019-10-24 16:53] jtattermusch commented on #20696
Closing for now, I can reopen if there's more input.

[2019-10-24 16:53] #20696 closed

[2019-10-24 16:55] Ku6ep opened #20786 "Can't build plugin, get error"
### What version of gRPC and what language are you using?

Swift 5.1, 3.1.0

### What operating system (Linux, Windows,...) and version?

Mac
### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc
### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
make
### What did you expect to see?

[2019-10-24 17:30] #14840 closed

[2019-10-24 18:15] rmstar opened #20788 "xds_end2end_test_on_ios segfault in UsesXdsResolver/BasicTest::Vanilla/0"
`bazel test //test/cpp/end2end:xds_end2end_test_on_ios` fails with error:
[code]

[2019-10-24 21:58] markdroth opened #20792 "FLAKE: //test/cpp/end2end:xds_end2end_test@poller=epollex[k8-opt] UsesXdsResolver/LocalityMapTest.UpdateMap/0"
https://source.cloud.google.com/results/invocations/3c353373-6396-40e1-8951-2a0487197c77/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Depollex/tests

[code]

[2019-10-24 22:00] yashykt opened #20793 "Interop Cloud to Prod dart:gateway_v4:timeout_on_sleeping_server:tls"
[code]

https://source.cloud.google.com/results/invocations/30e133f2-0e6a-4c51-96f5-20201a28a2e0/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

Seen on #20724

[2019-10-24 22:39] #16872 closed

[2019-10-25 02:44] b00f commented on #18689
Change Makefile to not treat warning as error:
`sed -i 's/-Werror/ /g' Makefile`

Look [here](https://github.com/grpc/grpc/issues/18349) for more info

[2019-10-25 02:52] b00f commented on #18349
CMake is a tools in C++ world that anyone loves to hate it. ;)

[2019-10-25 03:01] P4-WCZ commented on #20747
Hello gnossen,  I git grpc from GitHub on Ubuntu16. I can run _python greet_server.py_ successfully in _/example/python/helloworld/_. However when i put grpc/src/python/grpcio/grpc module(have install grpcio and grpcio-tools sucessfully) and greet_server.py into pycharm and run the file,it raises error.I think some files is missing or others?
![aa](https://user-images.githubusercontent.com/5536915

[2019-10-25 06:05] tmartin-gh opened #20797 "C++ ServerWriter<>->Write() always returns false"
My use case is to have a client connect to a server with an "rpc ... returns (stream ...)" where the server will forever call writer->Write() every few seconds with updates until the client disconnects.

### What version of gRPC and what language are you using?
v1.24.3

### What operating system (Linux, Windows,...) and version?
Linux ubuntu-18.04

### What runtime / compiler are you using (e.g. p

[2019-10-25 08:22] jtattermusch commented on #20729
Also see https://github.com/protocolbuffers/protobuf/issues/6632

[2019-10-25 08:40] #12379 closed

[2019-10-25 08:42] #15930 closed

[2019-10-25 08:45] jtattermusch commented on #16922
Transient issue

[2019-10-25 08:45] #16922 closed

[2019-10-25 08:46] jtattermusch commented on #18701
Fixed by https://github.com/grpc/grpc/pull/20662

[2019-10-25 08:46] #18701 closed

[2019-10-25 08:47] clearday4 commented on #20781
Solved the problem.
If RPC call error occurred, the context was reused.
Remove the context reuse code and it works.

[2019-10-25 08:47] #20781 closed

[2019-10-25 10:48] Falco20019 commented on #20782
I assume the problem is PreserveNewest. 2.23.1 is newer than 2.24.1

But the .so and .dylib files would also be newer and were replaced by the same target.

[2019-10-25 14:42] AntonQubecinema opened #20802 "gRPC throws "Did not read entire message" for unknown reason"
# What version of gRPC and what language are you using?
`v1.24.3`, C++, Python

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 18.04, x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]
[code]

### What did you do?
We use gRPC in our product (thank you for it). Our testers reported a bug that one of the APIs didn't work.

### Wha

[2019-10-25 17:03] gnossen commented on #20747
How are you installing the `grpcio` package? From source, or with pip. In the latter case, please provide the install logs. [There are many different files it could be](https://pypi.org/project/grpcio/1.24.3/#files), even knowing that it's 1.24.3.

[2019-10-25 17:03] gnossen commented on #20747
Also, in the future, please use the issue template. Much of this information is asked for in the template. Also, please prefer text to screenshots where possible.

[2019-10-25 17:49] KyleFromKitware commented on #17636
That's why `gRPCTargets.cmake` isn't being generated. In order for that file to be generated, the third-party dependencies have to be in `package` mode, where they already exist on the system rather than being built by gRPC.

[2019-10-25 17:56] lidizheng opened #20806 "[AIO] Improve the initialization of AsyncIO mode"
Currently, the `grpc.aio.init_grpc_aio` initializes C-Core, but not Python side. We found an issue in https://github.com/grpc/grpc/pull/20771 that `init_grpc_aio` doesn't check if the Python thread has event loop or not, so it will fail on newly created threads. This issue tracks that bug, and expects to improve the initialization to be more comprehensive and stable.

[2019-10-25 18:33] yashykt commented on #20797
A Write returning false indicates that the stream has been closed. If you collect detailed logs, you would see the reason as to why the stream was closed. As an alternative, you could check the status details on the client side too.

[2019-10-25 20:38] tmartin-gh commented on #20797
In the process of sanitizing my code to provide an executable snippet, I found it was a (very very stupid) bug in my code.  I confirm this feature is working as expected - Write() returns true while the client is still connected and returns false once it disconnects.

[2019-10-25 20:38] #20797 closed

[2019-10-25 21:14] markdroth commented on #20678
Also seeing a similar failure in client_lb_end2end_test:

https://source.cloud.google.com/results/invocations/f58e2c32-8df5-4206-a774-4f1aa5578765/targets/%2F%2Ftest%2Fcpp%2Fend2end:client_lb_end2end_test@poller%3Dpoll/log

[code]

[2019-10-25 21:24] KyleFromKitware commented on #14839
This will involve writing a [find-module](https://cmake.org/cmake/help/latest/manual/cmake-developer.7.html#find-modules) for c-ares. I am working on this now.

[2019-10-25 21:52] hcaseyal opened #20814 "Bazel RBE: Tool Failed (Build Event Service upload expired)"
Test result says: "Invocation: Tool failed"

https://source.cloud.google.com/results/invocations/a81e8818-d488-4d14-be7a-0bc76c83bf09/targets

[2019-10-25 21:54] hcaseyal commented on #19437
Happened again
https://source.cloud.google.com/results/invocations/f2127060-5f99-45b1-9e51-b22591564367/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[2019-10-25 22:20] lidizheng opened #20816 "[FLAKE] macOS grpc_basictests_c_cpp Build script failed with exit code: 1"
https://source.cloud.google.com/results/invocations/64f4d179-085f-43b0-b4e6-52648495ccd1/targets;collapsed=/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_c_cpp/log

[2019-10-25 22:21] lidizheng opened #20817 "[FLAKE] Windows portability test timeout"
https://source.cloud.google.com/results/invocations/e47b5335-af79-4615-80c9-e22b49d7fb98/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_c%2B%2B_windows_dbg_native_x64_cmake_vs2017_buildonly/tests

[2019-10-25 22:22] #19762 closed

[2019-10-25 23:16] lidizheng opened #20818 "[AIO] Aio Channel hangs forever when calling a not-existing server"
Found in: https://github.com/grpc/grpc/pull/20805
Test case added in https://github.com/grpc/grpc/pull/20805

[2019-10-25 23:30] stanley-cheung commented on #19437
An attempt to fix in #20819

[2019-10-26 00:24] mehrdadn opened #20820 "Windows Bazel build broken?"
Hi there, there seem to be 2 bugs in `grpc/python_configure.bzl`:

1. Quoting: The [line](/grpc/grpc/blob/b531a04dc29e0bb4e84dc072baf191cc8ba4cd4d/third_party/py/python_configure.bzl#L193)

        cmd = '%s - %s' % (python_bin, print_lib)

    doesn't handle spaces in paths, which are typical on Windows.
    I believe the correct line should have quotes around the command:

        cmd = '"%s" -

[2019-10-26 03:13] stanley-cheung commented on #20581
You can try setting this channel args:

[code]

[2019-10-26 03:28] stanley-cheung commented on #19374
Newer releases have been added just fine for PHP since then

[code]

Probably not worth it to go back this far back.

[2019-10-26 03:28] #19374 closed

[2019-10-26 04:32] nicmcd commented on #8079
I'm not seeing very much consistency across languages. In C++, you define a proto_library, then pass that as a dependency to cc_grpc_library. In the linked Python example, you define a proto_library, then create a py_proto_library, then create a py_grpc_library. Furthermore, the py_grpc_library requires a "srcs" attribute of which it is taking the name of the proto_library and in deps it takes the

[2019-10-26 07:02] JamesNK opened #20823 "Make Empty in gRPC calls from .NET client an optional argument"
Today you have to include Empty when making gRPC calls with a codegened client:

[code]

In codegen you could detect when Empty is the argument and make it [optional](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/named-and-optional-arguments). Passing it in could then be skipped, in which case codegen would handle creating it in the method. The final result i

[2019-10-26 07:33] Allkoman commented on #20581
thx, it works ! where can I see this document ?

[2019-10-26 07:33] Allkoman commented on #20581
i open it just for where to see the doc ...

[2019-10-26 21:30] Aimeelynnramirez commented on #20534
I had the same problem but I just downgraded and it worked. 🤷

[#8495](https://github.com/grpc/grpc/issues/8495)

[2019-10-27 08:50] omerzamir commented on #19430
Any resolves ?

[2019-10-27 09:00] omerzamir commented on #19151
Any resolves ?

[2019-10-27 11:16] OryanOmer commented on #19151
Is someone found a solution which not related to enable ipv6?

[2019-10-27 14:54] luqman27180 opened #20827 "make error for php gRPC"
[root@localhost grpc]# make
[MAKE]    Generating cache.mk
[MAKE]    Building protobuf
checking whether to enable maintainer-specific portions of Makefiles... yes
configure: error: cannot find install-sh, install.sh, or shtool in "." "./.." "./../.."
make: *** [/var/www/html/grpc/libs/opt/protobuf/libprotobuf.a] Error 1

[2019-10-27 14:59] HunterLarco opened #20828 "GRPC's build system is incompatible with external dependencies"
### What version of gRPC and what language are you using?
1.24.3

### What operating system (Linux, Windows,...) and version?
Linux — Ubuntu 18.04.3 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc-6 (Ubuntu 6.5.0-2ubuntu1~18.04) 6.5.0 20181026

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include cod

[2019-10-27 18:23] #18893 closed

[2019-10-28 05:24] crudexec commented on #20534
same issue on my end and its failing on my heroku build.

[2019-10-28 09:31] timurgen opened #20831 "[Python] pip install grpcio fails on Python 3.8 - Windows 10"
### What version of gRPC and what language are you using?
1.24.3, Python

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8 (both 32 and 64 bit)

### What did you do?
run pip install grpcio

### What did you expect to see?
Installing collected packages: grpcio
Successfully installed g

[2019-10-28 09:42] hdnn opened #20832 "Server inherited from ExperimentalCallbackService not responce"
### What version of gRPC and what language are you using?
1.23.0

### What operating system (Linux, Windows,...) and version?
Windows 10 x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSBuilder (VS2017)

### What did you do?
1) Get helloword.proto from example and replace **service Greeter** to this:
[code]
2) Generate source files
3) Client code:

[code]

4

[2019-10-28 10:47] amitwaisel commented on #18753
This issue continuously happens when an empty response message is returned from the server - either the `message` is really empty (aka `message Empty { }`), or all fields contain default values.
Changing values to non-default bypasses this `abort()` crash.

[2019-10-28 12:19] bvachon opened #20833 "Dns resolution fails on Windows"
### What version of gRPC and what language are you using?

2.24.0
C#

### What operating system (Linux, Windows,...) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

.Net Core 2.2

### What did you do?

Dns resolution simply fails, on some machines. The domain name points to a load balancer on GCP. It's an SSL endpoint on port 443.

### W

[2019-10-28 13:11] zyboy2000 opened #20834 "how to assignment a decimal64 data type;?"
Generate code automatically such as ,   how i  set float value= -0.7 ? decimal->set_digits(???);
decimal->set_precision(???) ,thanks!

inline void Decimal64::set_digits(::google::protobuf::int64 value) {

  digits_ = value;
  // @@protoc_insertion_point(field_set:gnmi.Decimal64.digits)
}

inline void Decimal64::set_precision(::google::protobuf::uint32 value) {

  precision_ = value;
  // @@protoc_

[2019-10-28 14:46] KyleFromKitware commented on #10727
@jtattermusch Since this has been fixed by #20211, can it be moved to the "Done" category?

[2019-10-28 15:44] rhineswimmer commented on #20779
SOLVED!!!
Needed to say that I was wrong about symbols, they are really absent in the static library. Moreover, the size of grpc.lib, grpc_cronet.lib, grpc_cpp_unsecure.lib and libprotobuf.lib was suspiciously small: from 1Kb to 198Kb.  As it turned out, the rule for linkage in rules.ninja was wrong:
rule CXX_STATIC_LIBRARY_LINKER__grpc
  command = cmd.exe /C "$PRE_LINK && tlib64 /p2048 $LINK_FLAG

[2019-10-28 15:51] ppLorins commented on #20692
@yang-g

I've tried both the methods, here are the result:

#### Method1

 I gave a large flow to the server, and the memory usage is like this:

![image](https://user-images.githubusercontent.com/5534049/67693687-13653800-f9dd-11e9-98e5-acdde0ecd336.png)

4.9MB (before receiving large flow requests)
187.7MB(peak)
17.4MB(after memory stable)

#### Method2
I continuously give a moderate traffic flo

[2019-10-28 17:02] lidizheng commented on #20615
Another user issue asking for Windows 3.8 wheel: https://github.com/grpc/grpc/issues/20831

[2019-10-28 17:03] gnossen commented on #20511
@djwenren 's contribution fixes this.

[2019-10-28 17:03] #20511 closed

[2019-10-28 17:06] lidizheng commented on #20831
@timurgen The 3.8 just released last week, our CI image didn't fully support 3.8 yet. We are releasing 3.8 pre-compiled wheels for Linux, but for Windows we are working on it. For compilation errors, due to different setup of individual machines, it would be more efficient for you to dig into it.

Feel free to ping -> https://github.com/grpc/grpc/issues/20615

[2019-10-28 17:08] lidizheng commented on #20615
@jtattermusch @nicolasnoble How can we install 3.8 on Kokoro images for macOS, Windows (and ARM)?

[2019-10-28 20:07] vjpai commented on #20678
Fixed by #20808

[2019-10-28 20:07] #20678 closed

[2019-10-28 20:08] yashykt commented on #20802
Esun, can you take a look?

[2019-10-28 20:10] yashykt commented on #20816
This seems like one of the many 'File has vanished' bugs

[2019-10-28 20:11] yashykt commented on #20816
dup of #20694

[2019-10-28 20:11] #20816 closed

[2019-10-28 20:12] yashykt commented on #20817
Jan, can you take a look please?

[2019-10-28 20:24] yashykt commented on #20832
Hope, can you take a look please?

[2019-10-28 20:39] #20763 closed

[2019-10-28 20:42] pfreixes opened #20843 "[AIO] Add type checking into the CI"
Since `grpc.experimental.Aio` has started to use extensively python types for the Python modules, we should add a new CI step - as we already have for `yapf` and `pylint` for checking the Python types added as annotations.

Considering that Google is already using a type checker called `pytype` [1] for the sake of consistency we will use that tool.

## Output

- The CI has a new step that is execu

[2019-10-28 20:57] pfreixes opened #20844 "[AIO] Support for interceptors for the unary-unary call at the client-side"
We will be adding support for interceptors for the client-side and for the unary call, in the same way, that is already implemented for the synchronous client.

We must take into account that the interceptors should be, theoretically, executed as part of the RPC task.

One initial design of the API that the interceptors should meet has been drafted in the ongoing gRFC [1]

## Output

- We have the

[2019-10-28 21:22] lidizheng commented on #19495
Let's merge this with #19494.

[2019-10-28 21:22] #19495 closed

[2019-10-28 21:27] gnossen commented on #8079
@vlasenkoalexey Sorry for the long pause. I just got around to pulling down your repro and messing around with it. The good news is that it's working on master of gRPC, probably due to https://github.com/grpc/grpc/pull/20150. The only changes I made were:

 - Updating your gRPC dependency to master
 - Deleting `//tensorflow_io/bigquery:storage_py_pb2` and `//tensorflow_io/bigquery:storage_py_pb2_g

[2019-10-28 21:45] gnossen opened #20845 "PHP MacOS Interceptor Test Flake"
[code]

https://source.cloud.google.com/results/invocations/4875df59-bc5c-4915-ab99-13486c5e523f/log

[2019-10-28 22:03] stanley-cheung commented on #20827
Not a grpc specific issue. You are probably missing some dependencies like `automake`, `autoconf` or `libtool`.

[2019-10-28 22:03] #20827 closed

[2019-10-28 23:06] #18615 closed

[2019-10-29 00:18] nanahpang opened #20848 "test/cpp/qps:json_run_localhost tests hang if Read(&client_status) after WritesDone()"
### What version of gRPC and what language are you using?
C++

### What operating system (Linux, Windows,...) and version?

Linux
### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

Didn't comment line 495 in test/cpp/qps/driver.cc,

[2019-10-29 00:18] nanahpang commented on #20848
This issue is found in #20809

[2019-10-29 00:40] lidizheng commented on #19955
After a closer look, it looks like the application thread is deadlock calling `asyncio_pollset_vtable.poll` which currently is an empty function (`pass`). The flow goes like Python -> Cython -> `cq.next()` -> C-Core -> Cython (pollset_poll) -> Python (asyncio).

However, the execution permission is never handed back to the event loop. The shortest path here to fix it is find out a way to make the

[2019-10-29 00:53] lidizheng opened #20850 "[Python] Ensure there is only one copy of _LOGGER in Cython"
In #20805, @gnossen raised a valid point that we are not fully investigated what the logger is logging in Cython runtime, and we should ensure there is only one copy of the logger instead of several of them scattered around Cython codes.

[2019-10-29 00:54] gnossen opened #20851 "Warnings when using py_proto_library"
[code]

[Potentially related.](https://github.com/protocolbuffers/protobuf/issues/6049)

[2019-10-29 00:55] gnossen commented on #8079
@nicmcd

### Inconsistency Between C++ and Python Bazel Rules
In this case, C++ is the odd one out. Take a look at [Go](https://github.com/bazelbuild/rules_go/blob/01c7b1ba59c7a1819f1003cf58400cb3d4f7d22e/tests/legacy/examples/proto/grpc/BUILD.bazel) and [Java](https://github.com/grpc/grpc-java/blob/024a46bd11120e706f2ee8fb10d1cbefc9be9b5a/examples/BUILD.bazel). This pattern is how proto codegen a

[2019-10-29 01:13] lidizheng opened #20852 "[AIO] Refactor the base test case class to simplify the code"
Existing base test case class requires each test case to do similar thing, and the `setUp` and `tearDown` doesn't work.

Ideally, run the test function in AsyncIO event loop should be default behavior.

Originated from #20805 by @gnossen .

[2019-10-29 02:20] wanglzh commented on #19959
Well, thanks for your answer !

[2019-10-29 05:39] hdnn commented on #20832
Reproduced with 1.25.0-pre1

[2019-10-29 06:03] #19437 closed

[2019-10-29 07:24] jtattermusch commented on #10727
@KyleFromKitware  moved.

[2019-10-29 07:32] jtattermusch commented on #20848
@nanahpang  Thanks for filing the issue but please reassign. The code is owned by the C-core team so I'm not the right person to debug.

[2019-10-29 07:34] jtattermusch commented on #20848
@nanahpang  FYI github can make nice links like this: https://github.com/grpc/grpc/blob/0856e267efdf9b3d06367641c9e5dc6290502b9f/test/cpp/qps/driver.cc#L495

[2019-10-29 09:26] jtattermusch commented on #20814
The status is "Tool Failed (Build Event Service upload expired)",
which is confirmed by the excerpt of the sponge log:
https://sponge.corp.google.com/target?id=ebe92e41-f969-4018-873e-00ee3972e8ae&target=grpc%2Fcore%2Fpull_request%2Flinux%2Fbazel_rbe%2Fgrpc_bazel_rbe_msan&searchFor=

[code]

[2019-10-29 09:30] jtattermusch commented on #20814
internal issue b/143515898

[2019-10-29 10:06] naphta commented on #20615
Also wondering when the macOS wheel is due

[2019-10-29 11:34] naphta commented on #5014
Using black formatter on all my projects has also slowed down my adoption of gRPC inside of Python. I tend to reach for Golang these days when gRPC is involved just because of simplicity. I'd love to cleanly use Python for a lot of those jobs.

[2019-10-29 13:14] manzaltu opened #20855 "Local credentials fail on Windows (win_get_fd always returns -1)"
### What version of gRPC and what language are you using?
v1.24.3 (Bug exists also on master), C++

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS 2017

### What did you do?
I used grpc_impl::experimental::LocalCredentails and LocalServerCredentials in a client and a server I wrote for Win

[2019-10-29 14:09] amitwaisel commented on #18753
@jtattermusch @srini100
Another C#-native crash has been discovered - `Access violation - code c0000005 (first chance)`:
[code]

Happens on a C# server and client, running in the same process, under dotnet core 3.0 on Windows 10 x64.

The native call stack is:
[code]

The managed call stack is:
[code]

As before - I can send the memory dump over a secure channel if necessary (contains sensitive da

[2019-10-29 14:36] Juniortheone opened #20858 "SSL handshake failed due to WRONG_VERSION_NUMBER"
What version of gRPC and Python version are you using:
gRPC - grpcio (1.24.1)
Python - 2.7

What operating system:
Linux 16.04
What did you do?

I turned up logging by setting the environment variables to
`GRPC_VERBOSITY=DEBUG and GRPC_TRACE=all`

What did you expect to see?
I expected to see a successful connection

What did you see instead?
[code]

[2019-10-29 14:42] jtattermusch commented on #20615
That's quite problematic: kokoro doesn't provide updates to testing images anymore. That means we either need to maintain an image ourselves (complicated for windows, extremely complicated on macos). Or we just need to install whatever we need in the prepare script before we start building.

E.g. if you only need to install this for the artifact build:
https://github.com/grpc/grpc/blob/456f08a0647

[2019-10-29 15:06] jtattermusch commented on #20817
Not much to see there, looks like the build has just gotten stuck
[code]

[2019-10-29 15:16] nanahpang commented on #20848
I thought it is related this line of the qps_worker:
https://github.com/grpc/grpc/blob/f8bf05bceec8bf36525aa2ee92c04a8226bcef60/test/cpp/qps/qps_worker.cc#L218

And then jump to client_callback.cc or client_async.cc

Do you mean the clietn_callback.cc and client_async.cc do not owned by you? @jtattermusch

[2019-10-29 17:24] mihalios opened #20861 "Channel state doesn't update upon server disconnection"
### What version of gRPC and what language are you using?
2.24.0
C# .NET CORE 2.2

### What operating system (Linux, Windows,...) and version?
Linux (version not known at the moment)

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
I have a service deployed in Kubernetes that exposes a gRPC server in Envoy.
Another service is acting as the gR

[2019-10-29 22:32] yashykt commented on #20861
I'll assign this to @jtattermusch for further questioning, but I have an initial question on whether there is an active stream or keepalive pings enabled on the server. If there isn't any traffic active between the two endpoints, a client might not realize that the channel is down.

[2019-10-29 22:37] lidizheng opened #20863 "ChannelzRegistry::InternalUnregister invoked after deallocation with gevent"
Original issue: https://github.com/grpc/grpc/issues/20299
Temporary fix: https://github.com/grpc/grpc/pull/20399 https://github.com/grpc/grpc/pull/20874

There is certain ref-counting or deallocation scheduling issue happening here, which causing the `InternalUnregister` to be invoked after the global `ChannelzRegistry` is deallocated. This tracks the investigation over that behavior.

@markdroth

[2019-10-29 22:46] lidizheng commented on #20299
This issue falls off my radar, I will try to drive it forward.

[2019-10-29 23:00] mihalios commented on #20861
Thanks @yashykt. What you’re saying is accurate, once the stream is closed there’s no traffic between the two endpoints.

So I’d like to stress the fact that the behaviour differs between debugging locally and running on K8s. That’s what made me open this issue.

[2019-10-30 00:20] rmstar commented on #20494
@jtattermusch Yes, I believe some hygiene around usage of `#ifdef GRPC_POSIX_SOCKET` is required.
In many cases, we actually want  something like`#ifdef POSIX_SOCKET_EV` or  `#ifdef POSIX_SOCKET_TCP`, which are defined even when CFStream is enabled.
I took at stab at fixing ifdefs in Core and C++ tests: https://github.com/grpc/grpc/pull/20864. WDYT?

[2019-10-30 03:28] tony84727 commented on #20042
Does this help? https://github.com/grpc/grpc/pull/20586#issuecomment-546182904

[2019-10-30 05:58] yorkie commented on #19473
Do we have any PR to merge this fix? I occurred this problem when trying to integrate GRPC on openwrt.

[2019-10-30 09:18] mihalios commented on #20861
Thinking more about this, it might be the case that the Client Idle timeout is different on the Kubernetes than on my Windows machine.

One way to overcome the issue would be to set it in-code to a known value, 1 second would satisfy my requirement. However, from what I can tell client_idle_timeout_ms is not an available Channel Option in the C# implementation (https://github.com/grpc/grpc/blob/ma

[2019-10-30 11:05] CeramicDingo commented on #20831
I'm having the same issue with Windows 10 / Python 3.8

[2019-10-30 11:47] krasi-georgiev commented on #10528
Just spend some time to figure this out and it is supported via the `GetConfigForClient`

relevant discussion:
https://github.com/golang/go/issues/16066

[2019-10-30 15:49] salamanders commented on #18689
Found this bug after running into the same issue.

Should we be using the sed workaround, or switching away from make?
(which is easiest? the instructions to install Bazel look like a lot of steps)

[2019-10-30 16:10] pfreixes opened #20868 "[AIO] Make the API more verbose for helping the developer"
Right now the `Aio` package runs in a kind of quiet mode that does not provide any kind of information to the developer, which in the future won't help them for debugging the usage of the API.

We must log the key pieces of the `Aio` module using the logging library for emitting useful information for the user.

One of the use cases to be considered will be this one [1] where user knows nothing of

[2019-10-30 16:30] pfreixes opened #20869 "[AIO] Avoid the usage of sleep when timeouts are being tested"
Current tests for checking if a timed out RPC raises the proper error makes usage of the `sleep` call in the server handler, this technique is no longer needed since the server and the client belongs to the same process and uses the same Asyncio event loop.

[2019-10-30 17:44] #20834 closed

[2019-10-30 17:48] stanley-cheung commented on #20858
We need more information to proceed. How is your server set up? What's the client code? What kind of environment - running in a VM? local machine? docker?  Anything that can help us reproduce this issue will be appreciated.

[2019-10-30 18:36] yashykt commented on #20786
Is this https://github.com/grpc/grpc-swift/issues what you are looking for?

[2019-10-30 18:36] #20786 closed

[2019-10-30 18:37] yashykt commented on #20779
Glad that you got it working :)

[2019-10-30 18:37] #20779 closed

[2019-10-30 18:41] yashykt opened #20871 "Better documentation for building gRPC"
gRPC probably needs better documentation for building given the number of questions we have seen around it.

[2019-10-30 18:41] yashykt commented on #20757
Created https://github.com/grpc/grpc/issues/20871

[2019-10-30 18:41] #20757 closed

[2019-10-30 19:15] gnossen commented on #20820
Fix for this: https://github.com/grpc/grpc/pull/20774

[2019-10-30 19:29] lidizheng commented on #20863
It seems the first `InternalUnregister` destroys `kTopLevelChannel`, the second `InternalUnregister` destroys `kSubchannel` which happen after the `ChannelzRegistry::Shutdown` and triggered the SIGSEGV.

[code]

[2019-10-30 20:43] lidizheng commented on #19208
Fixed by #20452

[2019-10-30 20:43] #19208 closed

[2019-10-30 20:43] gnossen opened #20872 "build_docker_node failure"
[code]

Basic Tests Node MacOS: https://source.cloud.google.com/results/invocations/b54b2738-a23e-4c9a-87c3-b8371dbd24e1/log
Interop Cloud-to-Cloud Tests: https://source.cloud.google.com/results/invocations/059bb8f8-66c1-4f67-b6f6-1bce99cbbc4f/log
Interop Cloud-to-Prod Tests: https://source.cloud.google.com/results/invocations/059bb8f8-66c1-4f67-b6f6-1bce99cbbc4f/log
Basic Tests Node Linux: https:

[2019-10-30 21:04] lidizheng commented on #5014
To people we are watching this issue, unfortunately, the gRPC Python team doesn't have enough bandwidth to solve this issue, and we believe this should be done.

So, we're asking for helping hands for this issue, the change is limited in one cpp file [python_generator.cc](https://github.com/grpc/grpc/blob/master/src/compiler/python_generator.cc). Thanks ahead :)

[2019-10-30 21:41] naphta commented on #5014
Happy to give it a whirl; how would I go about testing / generating a new proto file or would it be a case of building grpc_tools from scratch for each change I make?

[2019-10-30 21:49] griffinator76 commented on #20615
Note that the installation steps listed in the package documentation e.g. here: https://github.com/googleapis/google-cloud-python/tree/master/container say to install **Python >= 3.5**

If the user installs the apparently compatible Python 3.8 based on these instructions they will be unable to complete the pip install step to install the package, as the installation fails with grpcio errors as des

[2019-10-30 22:27] lidizheng commented on #5014
@naphta Currently, yes. The easiest way to compile is using our tooling script

[code]

Feel free to change those parameters, or build for different Python version. As for testing, we don't have testing for PEP8 compliance (unfortunately), but all of our tests will use generated file for the newly compiled version.

[code]

or you can run specific test case without re-build:

[code]

[2019-10-30 23:07] lidizheng commented on #20863
The difference in the shutdown procedure might due to the `ExecCtx`, I'm not sure about the rationale of having two threads competing the deallocation work, but this might fall into the recent effort from @yashykt to improve closure scheduling.
[code]

[2019-10-30 23:54] LostVector commented on #20034
Having the same issue. We are currently testing grpc inside a dynamically loaded module.  When we load a new revision of our plugin, we encounter the same assertion causing everything to crash.

[2019-10-31 00:47] wudiX opened #20876 "A hotspot function "sched_getcpu" in ARM server when running c++ benchmarking code."
### What version of gRPC and what language are you using?
v1.25.0-pre1

### What operating system (Linux, Windows,...) and version?
linux 4.19.36 (arm64)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3.0

### What did you do?
I run the benchmarking code following guide in 'tools/run_tests/performance/README.md'. A c++ server 'qps_worker' is ran on a ARM s

[2019-10-31 02:25] b00f commented on #18689
Using sed is just a workaround. Better use CMake or Bazel. which people love to hate them!

[2019-10-31 04:53] Juniortheone commented on #20858
I'm running in Vagrant
Below is the section that involves the client and server
[issue.txt](https://github.com/grpc/grpc/files/3792202/issue.txt)
Thank you.

[2019-10-31 06:57] MikeK-10 opened #20879 "Cannot install GRPC - exit status 1"
### What version of gRPC and what language are you using?
no GRPC as yet :(
Python 3.8
PIP 19.3.1

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

[2019-10-31 08:24] paulburlumi commented on #20377
### Problem
After some lengthy investigation we have determined the cause of the SIGSEGV crash on Android. It is related to thread-local storage (TLS). The v1.24.0 gRPC library is [configured to use GPR_GCC_TLS on Android](https://github.com/grpc/grpc/blob/v1.24.0/include/grpc/impl/codegen/port_platform.h#L148). What we were seeing was that [ExecCtx::Get()](https://github.com/grpc/grpc/blob/v1.24.

[2019-10-31 09:43] anbali commented on #20858
I`ve got the same problem :(

[2019-10-31 10:19] jtattermusch commented on #20848
@jtattermusch  I do not own any of the C / C++ code. They are owned by C-core team. I am only involved because I know about the testing infrastructure and I have setup the OSS benchmarks in the past (but I do not own the benchmarking C++ code itself).

[2019-10-31 14:27] jtattermusch opened #20880 "grpc/core/master/macos/grpc_bazel_cpp_ios_tests is broken on master (need to switch to bazel 1.0)"
This was actually broken by https://github.com/grpc/grpc/pull/20732 (which I'm sorry about),
but it's because bazel ios cpp tests are the only remaining tests that are on older bazel version (everything else has been switched to bazel 1.0).

We need to figure out how to bring grpc_bazel_cpp_ios_tests to bazel 1.0 (after which bazel should be backward compatible, so it will be end of our issues hop

[2019-10-31 14:45] chriszwang commented on #18625
@kkm000 Any update on the fix you mentioned on Aug. 30?  It is been few months and it is frustrating you have to copy the file after each clean.

[2019-10-31 15:17] rhineswimmer commented on #20779
No problem! RadStudio compiler and linker are really specific, I had to make changes in two dozen of files to make it work. Anyone who still have to use  ugly-buggy-crappy toolset by Embarcadero feel free to ask any questions :)

[2019-10-31 16:20] nanahpang commented on #20848
@jtattermusch I see, sorry that I misunderstood this part.

[2019-10-31 18:11] ptsneves commented on #14101
@kskalski Where can i find the code you describe. Thanks in advance.

[2019-10-31 18:51] muxi commented on #20661
Closing since we are not hearing response. We can reopen if necessary.

[2019-10-31 18:51] #20661 closed

[2019-10-31 18:51] slavabulgakov opened #20883 "Two consistently calls causes error - Received RST_STREAM with error code 2"
### What version of gRPC and what language are you using?
gRPC: 1.24.2
I use Objective-C gRPC library from Swift 5.0 code

Server was written on grpc-go v1.19.0

### What operating system (Linux, Windows,...) and version?
iOS 12.2

### What did you do?
I have a class which conforms to `GRPCProtoResponseHandler` protocol and it has a method `foo` which creates two services and calls one method from

[2019-10-31 19:03] muxi opened #20884 "Java cloud-to-cloud compression tests failing"
Sample case: https://source.cloud.google.com/results/invocations/371fa7e2-b35d-4895-a2a8-93da03e475e2/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:java:aspnetcore_server:server_compressed_streaming:tls;row=1
[code]

[2019-10-31 21:31] tudor opened #20887 "Using address sanitizer (ASAN) changes the definition of gpr_mu"
### What version of gRPC and what language are you using?

1.24.2, C++

### What operating system (Linux, Windows,...) and version?

Linux x86-64, Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 7.4

### What did you do?

I'm trying to build my own code with `-fsanitize=address` *without also building GRPC with ASAN*. (GRPC is not built in-tree;

[2019-10-31 21:41] tudor commented on #20887
One possible avenue for a fix would be to define `GRPC_ASAN_ENABLED` if **GRPC itself** was compiled with ASAN, and then persist it in some `features.h`-style file.

[2019-10-31 22:05] mostrows2 commented on #19208
Any chance of crossporting to a 1.25 release? (Personally I'm still affected by this until public python repos have a fixed version.)

[2019-10-31 22:14] mehrdadn commented on #20820
Thanks, that addresses the `bin_key_path` issue. The quoting issues also need to be fixed.

I just discovered a new quoting problem and added it to the initial post.

[2019-10-31 22:17] ejona86 commented on #20884
Java's not changed this recently. Seems likely aspnetcore change. https://github.com/grpc/grpc-dotnet/pull/629 looks related fits the time period.

@JamesNK is there any potential funny business going on with compression with the new change? Are you certain you "finished" the gzip stream? It looks like you read the output before disposing the stream. Flush is not normally enough with gzip, because

[2019-10-31 22:23] ejona86 commented on #20884
Yeah, it seems Dispose finishes the gzip stream:
https://referencesource.microsoft.com/#system/sys/System/IO/compression/DeflateStream.cs,596

[2019-10-31 22:32] JamesNK commented on #20884
Looking now

[2019-10-31 22:41] aaubry commented on #18753
We are also experiencing this problem in some of our services. Thanks to @amitwaisel 's analysis, we figured out that the crashes that we observed happened when the service is returning an empty (all fields set to the default value) response. But we performed additional tests in that and other services and were unable to observe crashes even when the responses were empty.

We are unable to revert

[2019-10-31 23:09] gnossen commented on #20879
I'm able to reproduce on 1.19.0+. The problem appears in all from-source builds, which Python 3.8 just happens to be until https://github.com/grpc/grpc/issues/20615 is resolved.

[2019-10-31 23:14] srini100 commented on #18753
/cc @apolcyn, @hcaseyal, have you seen a similar crash with CAres in Core?

@amitwaisel, @aaubry, would you be able to bisect to a particular commit or version where this issue was introduced.

[2019-10-31 23:20] ejona86 opened #20889 "C core should verify gzipped messages are correctly terminated"
.Gzip has a footer containing an adler32 (think CRC32). grpc-dotnet recently introduced a bug where this was missing (https://github.com/grpc/grpc/issues/20884). However, the C++ client did not fail. The gzip decoder should have failed noticing the checksum was missing/invalid.

(https://github.com/grpc/grpc-go/issues/3135 is the equivalent of this issue for Go.)

[2019-10-31 23:21] ejona86 commented on #20884
I've created https://github.com/grpc/grpc-go/issues/3135 and https://github.com/grpc/grpc/issues/20889 since it seems more implementations should have noticed and had the client see a failure.

[2019-10-31 23:30] ejona86 commented on #20884
dotnet has merged a fix and I've triggered a test run.

[2019-10-31 23:33] gnossen opened #20890 "cloud_to_cloud:dart:aspnetcore_server:cancel_after_begin:tls Failure"
[code]

https://source.cloud.google.com/results/invocations/fa6d701d-3e6a-4b44-bbe8-2de107ff08aa/log

[2019-10-31 23:34] gnossen commented on #20820
@mehrdadn PRs welcomed. :)

[2019-10-31 23:38] mehrdadn commented on #20820
@gnossen I would, but unfortunately it comes with a fair bit more baggage than I'd like to carry for now.

[2019-10-31 23:48] sheenaqotj commented on #20890
@sigurdm is the best person to look at this, but I'm not sure how to tag him.

[2019-10-31 23:51] ejona86 commented on #20884
https://source.cloud.google.com/results/invocations/2fb7ac6d-6988-4f3d-b761-0d495008fd0a/targets passed, so this is confirmed fixed by https://github.com/grpc/grpc-dotnet/pull/637 .

[2019-10-31 23:51] #20884 closed

[2019-10-31 23:52] ejona86 commented on #20884
Thank you @JamesNK for the fast turnaround!

[2019-11-01 00:19] hcaseyal commented on #20887
@tudor gRPC does not officially support the use case you're describing. There shouldn't be a downside to building gRPC with asan since gRPC is committed to fixing any asan issues. Is there a particular reason you don't want to build gRPC itself with asan in this case?

[2019-11-01 00:20] gnossen commented on #20879
Downgrading to P3 since this only affects from-source Windows builds, which should be a tiny minority of users.

Since we're able to generate binaries from the git repo as part of CI, the Windows build process clearly works. The problem is either:
 - Some dependency is missing on default Windows installs
 - Some file is being left out of the `.tar.gz` source builds we're packaging

If anyone would

[2019-11-01 00:21] hcaseyal commented on #18753
@veblush since they are the current build cop

[2019-11-01 00:21] gnossen commented on #20879
@MikeK-10 For the moment, switching to Python 3.7 should be a good option for you. We should have Python 3.8 binaries publishing in the near future.

[2019-11-01 00:39] lidizheng opened #20894 "[Aio] Docstring linting"
Related https://github.com/grpc/grpc/pull/20824

We want to follow the [Google style guide](http://google.github.io/styleguide/pyguide.html#384-classes) when we are writing docstrings. This will be a blocker for graduating from experimental folder. And I should find a way to automate the docstring check.

[code]

[2019-11-01 00:46] tudor commented on #20887
In our case, gRPC is *not* built in-tree (like a Bazel build would do).

For us, gRPC is just another shared library that's installed on the system. We do builds in Docker, and we have a "base image" that's based on Ubuntu 18.04 + a bunch of other libraries that we build from source, including gRPC; we rebuild this base image weekly or whenever we update the version of some dependent library.

Thi

[2019-11-01 03:05] kskalski commented on #14101
@ptsneves
https://github.com/kskalski/snippets/tree/master/GrpcTunnel/

[2019-11-01 03:57] jiayunwei commented on #20583
what is the current progress? help me to confirm the issue. Thank you!

[2019-11-01 03:57] jiayunwei commented on #20583
what is the current progress? help me to confirm the issue. Thank you!

[2019-11-01 04:40] blingdaag opened #20895 "SSL Handshake fails with multiple machines and certificate signed by Intermediate CA"
### What version of gRPC and what language are you using?
gRPC version 2.23.0
C#

### What operating system (Linux, Windows,...) and version?
Windows Server 2016

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet core 2.2.3

### What did you do?
Machine1 - Server
Machine2 - Client
RootCA->IntermediateCA->SslCertificate (both client and server)

-RootCA and In

[2019-11-01 07:34] gallmerci commented on #20773
Any idea how to debug this further? Seems to be bazel related because building everything with cmake is successful.

[2019-11-01 08:52] #20734 closed

[2019-11-01 13:44] space88man opened #20896 "Streaming request in python : when reconnecting always one request object is not sent"
### What version of gRPC and what language are you using?
1.24.3 Python

### What operating system (Linux, Windows,...) and version?
Linux , Fedora 31,

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.7.4

### What did you do?
1. Create bidirectional streaming proto based on HelloWorld
2. Run server
3. Run client: generate a request every five seconds. Pr

[2019-11-01 13:45] space88man commented on #20896
Proto file:
[code]

[2019-11-01 13:46] space88man commented on #20896
Server:
[code]

[2019-11-01 13:48] space88man commented on #20896
Client:
[code]

[2019-11-01 13:51] space88man commented on #20896
Sample session:
[code]

[2019-11-01 14:15] jewilmeer opened #20897 "[ruby] Can't provide list of interrupt strings with frozen_string_literals enabled"
### What version of gRPC and what language are you using?
1.24

### What operating system (Linux, Windows,...) and version?
Linux & osX

### What runtime / compiler are you using (e.g. python version or version of gcc)

Ruby 2.6

### What did you do?
[code]

### What did you expect to see?

A running server, that would terminate without segmentation faults when receiving on the provided interrupt

[2019-11-01 19:00] ola-rozenfeld commented on #20042
Yes, it does, thank you!

[2019-11-01 19:59] ola-rozenfeld commented on #20042
Although, using the grpc_extra_deps leads to a different problem with Bazel 1.0's switch to incompatible_load_proto_rules_from_bzl (https://github.com/bazelbuild/bazel/issues/8922)
I narrowed the problem down to:

[code]

Not sure yet why, but this causes simple `proto_library` rules to stop building.

[2019-11-01 20:01] wackywendell commented on #15880
As an update, I have updated my "minimal working example" to use `pipenv` and updated the dependencies, and the issue appears unchanged for these versions:

[code]

[2019-11-01 20:09] ola-rozenfeld commented on #20042
Another thing: not sure why, but I need to load the `bazel_skylib` repository separately:

[code]

Ideally, this would be part of `grpc_deps`, right?

[2019-11-01 21:18] muxi commented on #20883
The error message does indicate that a RST_STREAM from the server was received, maybe unexpectedly in your context. I don't see an indication of bug in gRPC ObjC library. For gRPC messages, the server always respond 200 status code, even with an error. gRPC status code is sent over to the client in the HTTP/2 trailer. I think the main issue here is why the server issued an RST_STREAM.

[2019-11-01 21:33] gallmerci commented on #20773
I tried now to add `linkopts = ["-DEFAULTLIB:ws2_32.lib"]` to [address_sorting.bzl](https://github.com/grpc/grpc/blob/ab7e5e8dec5ab3cda56fca9f9c25eb7cbeb2a017/third_party/address_sorting/address_sorting.bzl#L31) to fix the unresolved symbols errors.

Now, I get different errors:
[code]

There are different unresolved symbols error with each new build. Somehow difficult to get the root cause for th

[2019-11-02 03:01] qingtiandalaoye opened #20909 "grpc/third_party/boringssl/crypto/fipsmodule/rand/urandom_test.cc:179:23: error: 'PTRACE_O_EXITKILL' was not declared in this scope"
### What version of gRPC and what language are you using?

v1.21.3
### What operating system (Linux, Windows,...) and version?

Linux
### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc 9
### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

compile

[2019-11-02 10:35] ptsneves commented on #14101
@kskalski  This unfortunately will not work because underneath there would to be a server grpc class in an hypothetical device. This makes it a no go given the limitation of Android grpc of making a server. The concept of tunnel also feels a bit contrived.

I thought a bit about the topic and i think the tunnel is a wrong approach. I think the correct approach is to decouple the transport server/c

[2019-11-02 10:59] kskalski commented on #14101
@ptsneves
I think the concepts of "server" and "client" are embedded fairly deep into gRPC's abstractions and approach. However they don't seem to be very limiting and can basically be considered more as "initiator" and "receiver" of communication *channel*, since after channel is initiated you can exchange messages freely and in any direction (using steaming rpc). One could imagine an extension o

[2019-11-02 11:35] ptsneves commented on #14101
@kskalski Thanks for the thorough answer, my apologies for keeping dragging the subject. Comments inline:

Given my android server limitation I am starting to think this may be the only way forward for me. I see one problem though: If i invert the semantics with the bidirectional abstraction, will i not need to initialize all the possible calls that my server might be interested in? If so, what ab

[2019-11-02 13:53] qingtiandalaoye opened #20911 "Does anyone compile grpc C++ with dockerfile(https://hub.docker.com/r/grpc/cxx/dockerfile) success?"
### What version of gRPC and what language are you using?

1.21.3 version , current master version
### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

boringssl always compile error

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snipp

[2019-11-02 13:55] qingtiandalaoye opened #20912 "How could I pass the boringssl compile in C++ grpc?(there is no issue tab in boringssl github)"
### What version of gRPC and what language are you using?

1.21.3
### What operating system (Linux, Windows,...) and version?

Linux
### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc9

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?
pass the gr

[2019-11-02 14:29] damonchen opened #20913 "Import grpc:No module named coros"
### What version of gRPC and what language are you using?

python: grpc 0.3.19
gevent 1.3.6

### What operating system (Linux, Windows,...) and version?

Mac OS

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 2.7.15 (default, Sep 18 2018, 20:16:18)
[GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.2)] on darwin

### What did you do?
If possible, prov

[2019-11-02 14:54] damien-lloyd opened #20914 "Can't build C++ helloworld example"
### What version of gRPC and what language are you using?

C++; latest version of gRPC

### What operating system (Linux, Windows,...) and version?
Linux (64-bit)

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++

### What did you do?
[code]

### What did you expect to see?
I expected a clean build so I can run the server/client

### What did you see instead?
[

[2019-11-03 04:47] kskalski commented on #14101
@ptsneves you didn't describe your use-case, but from what you say I suppose you just need a way for cloud server to initiate messages to your android app (e.g. notifications?). This is precisely what bidi streams solve and it's actually quite simple to do it with them - you just open streaming connection and then server will send messages on its stream, client will respond to them. I wouldn't wor

[2019-11-03 09:44] ptsneves commented on #14101
@kskalski  The use case may be a bit complex but here it goes.

I work in embedded devices. Currently I have website where users are able to remotely control an embedded device through this website. The device has it's functionalities available through a grpc server. Be aware that the grpc server is not the device itself. So the website connects to this grpc server and is able to request actions o

[2019-11-03 16:43] yurivict opened #20915 "Update 1.22.0 -> 1.24.3 breaks projects depending on grpc"
For example, TensorFlow is now failing: http://beefy6.nyi.freebsd.org/data/120amd64-default/516377/logs/errors/py36-tensorflow-1.14.0_2.log

Also: you obviously changed something significant in the interface and didn't bump the SONAME of the shared library.

[2019-11-03 16:56] vjpai commented on #20915
@karthikravis The logs indicate something related to build-switching (and probably an IWYU issue as well)

[2019-11-03 18:15] IcyEagle opened #20917 "Support Unity/webGL platform"
Hi there!

I'm so glad to hear gRPC is available for Unity projects as well. It works like a charm on mobiles and macOS!

I wonder if it's possible to use the library if I would want to publish my project into web (webGL platform). I suppose it would be necessary to pass gRPC traffic via websocket connections. Anyway, as far as I see the platform isn't supported yet. Do you plan to implement it or

[2019-11-04 03:52] kskalski commented on #14101
Your case can be easily handled by streaming call from android app to the website, this issue is probably not the place to discuss details, but in general I wouldn't worry too much, gRPC is well suited for keeping long-running streaming connections open.

[2019-11-04 06:06] slavabulgakov commented on #20883
@muxi Could you explain what means RST_STREAM? What cases does server should send RST_STREAM ordinarily? I need that information to speak with backend developers to define and point servers side bug.

[2019-11-04 11:42] sigurdm commented on #20890
This seems very mysterious.
Does this happen consistently or it is a flaky situation?

[2019-11-04 12:08] jtattermusch commented on #20823
I'm not sure in how many cases this would be useful (I'm not sure how many services actually have methods with Empty request in practice).

To clarify: the proposed signature  of e.g. DivAsync
https://github.com/grpc/grpc/blob/40955d2cb4d8f73a4c87df0052921eb28c090277/src/csharp/Grpc.Examples/MathGrpc.cs#L184
would change to
[code]

(adding `request = null`)?

Potential problems:
- generally reques

[2019-11-04 12:20] jtattermusch commented on #20861
@mihalios  I'd recommend trying to send keepalives on your connection.
A hint how to setup keepalive in C# (you basically set one or more of the keepalive related channel options).
https://stackoverflow.com/questions/45257255/set-keepalive-for-grpc-in-c-sharp-client

[2019-11-04 12:24] jtattermusch commented on #20688
grpc-dotnet now supports the  GetBufferWriter() API too  (https://github.com/grpc/grpc-dotnet/issues/609 is fixed). Is there still desire for making the API feature-testable even though both implementations support it now?

[2019-11-04 12:35] fishpenguin opened #20920 "[QUESTION] How to make grpc transport and serialize datas faster?"
I change my data type from repeated int64 to bytes in .proto files, but it is still cost much more time than thrift in transport and serialize time, almost 3 times slower.
What can I do to improve my transporting and serializing performance?

[2019-11-04 12:38] mihalios commented on #20861
Thanks @jtattermusch , I can give that a shot.

Although, looking at the source the option you mentioned doesn't look like it's available https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/ChannelOptions.cs

[2019-11-04 12:58] jtattermusch commented on #20861
Just use the string name of the channel arg. The lack of a defined string constant is not a problem.
https://github.com/grpc/grpc/blob/40955d2cb4d8f73a4c87df0052921eb28c090277/include/grpc/impl/codegen/grpc_types.h#L227

[2019-11-04 13:24] jtattermusch commented on #20912
I understood that you have trouble building grpc with some boringssl build error, but you specified no details and no error messages that could be used to debug.  Closing as not actionable.

[2019-11-04 13:24] #20912 closed

[2019-11-04 13:26] jtattermusch commented on #20911
What is the output of the failed build?

[2019-11-04 13:27] jtattermusch commented on #20911
Btw the dockerfile is pinned at gRPC 1.10.x version of gRPC (which is very old).

[2019-11-04 13:32] qingtiandalaoye commented on #20911
but it is the offical grpc/cxx, isn't it?

the error log :

third_party/boringssl/crypto/CMakeFiles/urandom_test.dir/fipsmodule/rand/urandom_test.cc.o
In file included from /root/grpc/third_party/boringssl/third_party/googletest/include/gtest/gtest.h:375,
from /root/grpc/third_party/boringssl/crypto/fipsmodule/rand/urandom_test.cc:15:
/root/grpc/third_party/boringssl/crypto/fipsmodule/rand/urandom

[2019-11-04 13:48] jtattermusch commented on #20911
@qingtiandalaoye  images from that repo are no longer being updated so it might be they are just broken (sorry, we are working on a better solution). I advise against using them. See https://github.com/grpc/grpc-docker-library/pull/71.

[2019-11-04 13:48] #20911 closed

[2019-11-04 14:04] qingtiandalaoye commented on #20911
sorry, could you please explain me to use what ?
https://github.com/grpc/grpc-docker-library/pull/71   is just a message:
"Add info that images in this repo are out of date "

[2019-11-04 14:30] #18459 closed

[2019-11-04 15:06] jtattermusch commented on #20890
According to the test results, this is just a flake.

https://source.cloud.google.com/results/invocations/da8fb91e-5216-475f-bb79-9c22d1b00d18/targets/github%2Fgrpc%2Finterop_test/tests
https://source.cloud.google.com/results/invocations/f96aedd7-c8ff-4e87-be17-6ed15c5fd3e9/targets/github%2Fgrpc%2Finterop_test/tests

job history is here: https://fusion.corp.google.com/projectanalysis/summary/KOKOR

[2019-11-04 16:12] sashabaranov commented on #8131
So… It here some final solution with example code? I've just tried GRXWriter with paused state and GRXBufferedPipe — both did not work out. [Docs](https://grpc.io/docs/tutorials/basic/objective-c/) are also obscure.

[2019-11-04 16:22] muxi commented on #20883
It's the `RST_STREAM` frame in [HTTP/2](https://tools.ietf.org/html/rfc7540#page-36) that gRPC uses. Usually it means the server decides that a call (stream) is terminated on the server side due to some error. See some of the details [here](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#user-content-http2-transport-mapping).

[2019-11-04 16:29] ejona86 commented on #20889
In https://github.com/grpc/grpc-go/issues/3135#issuecomment-549432661 we discovered that Go had the compression tests disabled. Looking at other languages, it seems most of them have disabled compression tests in one way or another. C++ has them enabled, so there still seems the implementation is not verifying the gzip trailer. But it also appears we need to enable compression tests on more implem

[2019-11-04 18:26] #20880 closed

[2019-11-04 18:32] lidizheng opened #20921 "[FLAKE] ios-test-interoptests"
Basic Tests ObjC iOS

https://source.cloud.google.com/results/invocations/7aece7cf-eb3a-4232-9777-7f62a1237597/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-test-interoptests/tests
[code]

[2019-11-04 18:33] lidizheng opened #20922 "[FLAKE] Bazel RBE Windows Opt C/C++"
test/core/end2end/h2_full+workarounds_test@retry_streaming_succeeds_before_replay_finished.exe
[code]
https://source.cloud.google.com/results/invocations/6ce0bca5-d6af-4004-bb21-f9800af194a9/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_full%2Bworkarounds_test@retry_streaming_succeeds_before_replay_finished/tests

[2019-11-04 18:44] lidizheng opened #20923 "[FLAKE] Basic Tests C/C++ MacOS"
Test timeout after 7200s.
https://source.cloud.google.com/results/invocations/90b68e1b-9b9c-4d29-aa71-ec8e64dfaf39/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_c_cpp/log

[2019-11-04 18:45] nicolasnoble commented on #20914
It looks like you didn't build and install grpc. Please do that first.

[2019-11-04 18:46] sheenaqotj commented on #20914
Please try Nico's suggestion.

[2019-11-04 18:46] #20914 closed

[2019-11-04 18:51] nicolasnoble commented on #20917
What you're asking is in fact very complex.

The browser doesn't have what it takes to talk "gRPC" out, because of its lack of the appropriate network APIs. We have [gRPC-Web](https://github.com/grpc/grpc-web) which is a reduced version of the protocol and features that can work on the browser, but also requires a specific server as a gateway to an actual gRPC server.

Which also means that the fu

[2019-11-04 19:01] gnossen commented on #20913
Unfortunately, I think you've installed the wrong module. Our module is named `grpcio`, not `grpc`. See https://github.com/pypa/pypi-support/issues/3.

[2019-11-04 19:01] #20913 closed

[2019-11-04 19:02] sheenaqotj commented on #20239
virtual void SubscribeCurrentLineChange（::grpc::ServerContext* context, const MsgNull* request, ::grpc::ServerWriter* response, ::grpc::experimental::ServerCallbackRpcController* controller）

is what it would look like if you were doing a unary call (changing soon, BTW).

For that, you need to take out the "stream" in your proto file, so change to:
RPC SubscribeCurrentLineChange (MsgNull) returns

[2019-11-04 19:02] #20239 closed

[2019-11-04 19:13] yurivict commented on #20915
Any easy way to unbreak the TensorFlow build now?

[2019-11-04 19:13] gnossen commented on #16279
Closing the loop. The user here appears to have been installing `grpc` in addition to `grpcio`. This problem is actually attributable to https://github.com/pypa/pypi-support/issues/3

[2019-11-04 19:16] nicolasnoble commented on #20915
As @vjpai said, this looks like you're not including some headers properly. You can't rely on transitive inclusion; that's not proper behavior. The issue here is that the code was relying on transitive inclusion from generated code. The solution usually is to properly include the headers for the classes you're using in your code.

The more interesting part here is that I'm not sure which version o

[2019-11-04 19:17] sheenaqotj commented on #20923
Esun suggested assigning to Jan since he configured a timeout in tools/internal_ci/macos/grpc_basictests_c_cpp.cfg

[2019-11-04 19:18] nicolasnoble commented on #20915
I take it back, it's still there in TensorFlow:

https://github.com/rockchip-linux/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/eager/grpc_eager_service.h#L30-L36

This code is invalid. You can't forward declare classes from a third party project.

[2019-11-04 19:19] nicolasnoble commented on #20915
I just checked, I've personally fixed this in TensorFlow's code back in February. They need to export that to github somehow.

[2019-11-04 19:20] vjpai commented on #20915
@jhseu it looks like there's some outdated code at oss-head in TF that's failing after a gRPC upgrade. Any thoughts?

[2019-11-04 19:22] vjpai commented on #20915
Cc @jing-dong

[2019-11-04 19:30] yurivict commented on #20915
@nicolasnoble Do you have a URL with the patch? At this point I'm mostly interested in fixing the port that is broken. Perhaps I can apply the same patch?

[2019-11-04 20:46] IcyEagle commented on #20917
@nicolasnoble thank you for the answer! I'll take a look at gRPC-Web and try to find out what I can do for it.

[2019-11-04 20:46] #20917 closed

[2019-11-04 21:43] nicolasnoble commented on #20915
The patch is in the private Google repository. It hasn't been made public yet, which is why we're trying to address this with the Tensorflow people. I'll have to let them disclose it.

The gist is that TensorFlow used to forward declare our API, which isn't proper. I've cleaned the headers to remove all of these forward declares, and include the corresponding headers instead.

[2019-11-04 21:45] #20299 closed

[2019-11-04 22:50] #19790 closed

[2019-11-04 23:38] lidizheng commented on #20863
It is fixed by Make sure Core aware of gevent Cython objects #20891

[2019-11-04 23:38] #20863 closed

[2019-11-05 00:35] hcaseyal commented on #20887
@nicolasnoble

[2019-11-05 04:39] apolcyn opened #20928 "XdsTest/DropTest.Update/FakeResolver WARNING: ThreadSanitizer: use of an invalid mutex"
Seen in run of `test/cpp/end2end/xds_end2end_test@poller=epollex.test/cpp/end2end/xds_end2end_test@poller=epollex`

in https://source.cloud.google.com/results/invocations/d69e7cd6-98bc-4589-b21d-ccbcf180a83a/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Depollex/tests
in PR: https://github.com/grpc/grpc/pull/20596

from the log:

[code]

[2019-11-05 07:10] jtattermusch commented on #20509
According to https://testgrid.corp.google.com/End2end%20OSS%20Benchmarks#Linux%20single-VM%20end2end%20benchmarks&width=20 this seems relatively stable now.

[2019-11-05 07:10] #20509 closed

[2019-11-05 07:46] jtattermusch commented on #15628
@apolcyn   we need to fix this. The ruby benchmarks have been failing with very high failure rate for >1 year. Here's an overview that should help:

SingleVM benchmarks (they make things much easier to debug and test)
https://testgrid.corp.google.com/End2end%20OSS%20Benchmarks#Linux%20single-VM%20end2end%20benchmarks&width=20

MultiVM benchmarks:
https://testgrid.corp.google.com/End2end%20OSS%20Be

[2019-11-05 08:46] jtattermusch commented on #20914
Instructions are here: https://github.com/grpc/grpc/tree/master/src/cpp#to-start-using-grpc-c

[2019-11-05 08:48] rienafairefr opened #20931 "grpc with gevent"
I think this is the same thing as #4629,

### What version of gRPC and what language are you using?
grpc came through the firestore client
`google-cloud-firestore==1.5.0`
`grpcio==1.24.3`

### What operating system (Linux, Windows,...) and version?
Linux, inside a Docker container

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.5

### What did you do?
I

[2019-11-05 09:28] yorickvP commented on #19133
My current solution: https://gist.github.com/yorickvP/8d523a4df2b10c5812fa7789e82b7c1b. I suppose providing an actual python API for the External TCP Listener stuff would help a lot in making this less ugly.

[2019-11-05 10:15] yyf1986 opened #20932 "How to look at compression"
I refer with https://github.com/grpc/grpc/tree/master/examples/python/compression,and my server is running ok.but how to look compression and no compression?

[2019-11-05 10:32] metellius commented on #18347
I believe this bug is hitting me. I am writing a grpc gateway that forwards messages using the generic server/client API, and when the server receives a bidir streaming RPC with no fields in its protobuf message, then the bytebuffer for the received message will be of 0 bytes, and attempting to forward this message by writing a 0-bytes message through an inproc transport fails with an assert:
[cod

[2019-11-05 11:10] Graham-Beer commented on #20831
Also having the same issue

[code]

[2019-11-05 15:29] #17516 closed

[2019-11-05 17:47] jtattermusch commented on #20922
The actual log is in the "Target log" tab:

[code]

[2019-11-05 18:37] gnossen commented on #20931
@rienafairefr Do you have a reproduction case?

[2019-11-05 18:46] gnossen commented on #20932
@yyf1986 Can you please clarify what you mean? Are you looking for a method to determine whether a given message is compressed or not on the server side?

[2019-11-05 18:48] gnossen commented on #20920
@fishpenguin What languages are you using on the client and server?

[2019-11-05 19:33] lidizheng commented on #20858
@Juniortheone This is a certificate related issue that maybe the cert setup is not entirely correct.
`Handshake failed...OPENSSL_internal:WRONG_VERSION_NUMBER`

Can you give more information about how you generate your certificate?

[2019-11-05 19:54] dschnabel opened #20939 "HTTPS proxy support"
### Is your feature request related to a problem? Please describe.
While there is proxy support for GRPC, only HTTP proxies are currently supported. I cannot use GRPC if I'm behind an HTTPS proxy (require SSL handshake).

If I try I get this error message:
[code]

### Describe the solution you'd like
Would be nice to extend the proxy support to include HTTPS proxies. Are there any plans to do so?

[2019-11-05 19:54] lidizheng opened #20940 "[Aio] Use typing.Protocol to describe Async API interfaces"
`typing.Protocol` is a great feature added in 3.8. It allows Python applications to define proper interfaces without overhead and metaclass sophistication.

* It enforces typing and reduces runtime mistake;
* It can be opt-in for 3.8+ users;

Assigning myself as a placeholder.

[2019-11-05 19:57] rienafairefr commented on #20931
I've put a case [in this gist](https://gist.github.com/rienafairefr/aba4011dade7a1421c4c2ca1f5971a1d) which seems to minimally reproduce the problem :-)

[2019-11-05 20:47] gnossen commented on #20931
The fix is actually pretty simple. You're going to want to [run this function](https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/experimental/gevent.py#L19) when you initialize your server process. I've verified that I can reproduce the hang in your gist without that line and that requests flow just fine with it.

Feel free to reopen if you have any further problems.

[2019-11-05 20:47] #20931 closed

[2019-11-05 21:16] yashykt opened #20943 "Add a test for when GetSystemRootCerts fails and has an error"
Refer #20735

[2019-11-05 22:16] lidizheng commented on #20001
@pfreixes Should we close this issue? What would be the closing criteria?

[2019-11-05 22:50] lidizheng commented on #20283
Fixed by https://github.com/grpc/grpc/pull/20673

[2019-11-05 22:50] #20283 closed

[2019-11-05 22:51] lidizheng commented on #20117
Fixed by https://github.com/grpc/grpc/pull/20771

[2019-11-05 22:51] #20117 closed

[2019-11-05 23:28] #20668 closed

[2019-11-06 01:32] guantaol commented on #20436
I totally agree that the excessive wakeups of timer manager will lead to performance regression, however, do we have a measurement of how often this will happen and the real impact of these extra wakeups in a Windows application? I would like to fix this issue, but I do not think the fix should happen in timer_manager for two reasons:

1. Unless we change the implementation of time APIs on Windows

[2019-11-06 01:47] yyf1986 commented on #20932
Yes, I'm not sure if it's compressed on the server side

[2019-11-06 04:03] spencerpomme opened #20953 "cc1plus: all warnings being treated as errors when compiling"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead

[2019-11-06 04:03] #20953 closed

[2019-11-06 07:01] wenerme commented on #20154
got the same error for 1.25.0

[code]

[code]

[2019-11-06 08:33] burk opened #20954 "[Question] Using the Python gRPC client from a ThreadPoolExecutor"
Hey!

Python question:

I'm trying to speed up some existing code which does a lot of gRPC calls. I tried submitting these calls to a ThreadPoolExecutor since they are mostly IO, but I didn't get any speedup compared to the synchronous code. I also tried making a new channel or a new stub in each thread, but that did not help.

I've used the `stub.Method.future(...)` before and it works well but i

[2019-11-06 09:08] pfreixes commented on #20001
I didn't think about what would mean move an issue from `Done` to `Close`.

Maybe for now we can say that if an issue has not been reverted in the following days we could consider it as close? For example 1 week?

[2019-11-06 09:29] wenerme commented on #20154
after using the newest protobuf，problem solved

[2019-11-06 09:54] sathuhareesh commented on #19235
@mehrdada Can you tell me what happens when a channel connection times out (Basically after default channel timeout set on server side.) Will all the active RPC calls fail? How does this even work. I have been doing research regarding this from last 4 days but no help.

[2019-11-06 14:25] knodel12 opened #20955 "Pub/Sub deadlocks processing"
We've recently encountered an issue where our background server to process incoming pub/sub messages stops processing them after some time running.  The only way to get to the server to response again is to reset the process.

The setup we have is a list of System.Threading.Timers that trigger a pull against the Pub/Sub subscriber process.  The timer fires, stops, processes what's available in the

[2019-11-06 15:03] jtattermusch commented on #20436
@guantaol

so there's two problems:
- we have a test that's been highly flaky on master for a while and that's distracting all the collaborators and negatively affecting developer velocity. That test needs to be fixed one way or another ASAP (both the code and the test is owned by C core team, so you guys need to fix it).

- the reason why the test fails seems to be fairly well understood now and

[2019-11-06 15:14] emreoktem commented on #20500
@muxi, I tried this couple of times but didn't help :(

[2019-11-06 15:21] jtattermusch commented on #20436
I created https://github.com/grpc/grpc/pull/20956 to silence the flake.

[2019-11-06 16:17] muxi commented on #20500
hmm... I was doing it with @paulb777's reproduction project; maybe it's different in yours? @emreoktem, could you share which step did you find not working?

I guess maybe I'll need to try with another project for further investigation.

[2019-11-06 17:09] smflorentino commented on #20352
I finally had some time to get back to root causing this.

This happens rarely, and in production only, but I think I found the trigger.

As soon as I call `await this.server.ShutdownAsync()`, native memory uses grows for several minutes until the system runs out of memory and the process crashes. I will say, we have clients still attempting to call the server *after* `ShutdownAsync` was called (t

[2019-11-06 17:31] tweej commented on #18929
Still a problem on 1.25.0.

[2019-11-06 18:20] lidizheng commented on #20954
The server side is using `ThreadPoolExecutor`. It gives you speed up for I/O in your application logic, but not in gRPC logic. The implementation of gRPC has a poller thread, which handles majority of the I/O in gRPC space. It might be the bottleneck for what you are observing.

If you are using unary calls, I would recommend to perform calls directly instead of using futures. We optimized that co

[2019-11-06 18:26] #20782 closed

[2019-11-06 18:35] gnossen commented on #20920
@fishpenguin Can you please provide any more details about your setup? Any code samples or particular functions that you think are slow?

[2019-11-06 18:44] gnossen commented on #20932
If you're looking for a manual check, you can simply count bytes on the wire. We have a unit test doing that [here](https://github.com/grpc/grpc/blob/ae6b1c9d38deb32fa8c94e8cd49bda957cc914d3/src/python/grpcio_tests/tests/unit/_compression_test.py#L191). You can use a tool like `iftop` to get this information manually.

If you're looking for a server-side API for this, there currently isn't one. Wh

[2019-11-06 19:01] lidizheng commented on #20001
By `Close`, I mean `Done` or completed. Okay.

[2019-11-06 21:01] #16336 closed

[2019-11-06 21:07] gimmi opened #20960 "Implement Dispose semantic"
Hi,

I have a RPC method that has unary request and streaming response. The response is intended to be an infinite flow of data that will be kept open until the client closes it.

The client is a C# application that consume the message like this:

[code]

the problem is that when the client dispose che `streamingCall`, nothing happen on the server side, and this is likely related to this [TODO](ht

[2019-11-06 22:52] gnossen commented on #20896
@space88man Thanks for the detailed write-up. The behavior is exactly as you've described. But this is actually working as intended.

A message being pulled from the request iterator does not necessarily guarantee that it will be observed by the server. One of the guarantees of gRPC is that all messages in a given RPC will be sent to the *same* server. In a situation where the connection is severe

[2019-11-06 22:57] AlekzanderDee commented on #19954
@apolcyn did you manage to get any progress on that?

We see the same error in Python when gRPC client is pointed to the AWS network loadbalncer, and we pull on of the server instances out of the group:
[code]

[2019-11-07 01:07] #18864 closed

[2019-11-07 01:33] barcharcraz commented on #20879
that particular error appears to come from "commands.py" testing if the compiler is OK with mutliple -std options by running "cc"

"cc" is not going to be the correct compiler on windows (and actually it's not the correct compiler in ANY situation where you're not using the "system" compiler or where cc is not a symlink)

Even after removing that though things still won't compile on windows, due t

[2019-11-07 03:53] christopheryang90 opened #20964 "Install gRPC Python on linuxkit"
**What version of gRPC and what language are you using?**
grpcio-1.25 (trying to install)
pip 19.3.1

**What operating system (Linux, Windows,...) and version?**
Linux a64864bb776d 4.9.184-linuxkit #1 SMP Tue Jul 2 22:58:16 UTC 2019 aarch64 GNU/Linux

**What runtime / compiler are you using (e.g. python version or version of gcc)**
python2.7.11

**What did you do?**
[code]

[2019-11-07 04:10] lidizheng commented on #20964
You are using `linuxkit` which might not be `manylinux` compatible, so you can't get pre-compiled wheels from PyPA. I would suggest you either digging into the compilation process, or use other container image.

[2019-11-07 04:49] christopheryang90 commented on #20964
gotcha, regarding compiling grpc myself, could you give me some search keywords that I could start with? I am not familiar with how to install packages without using managers like Pip.
Thanks!

[2019-11-07 08:05] space88man commented on #20896
@gnossen Thanks for the wonderfully educational explanation! I am closing this as a result.

[2019-11-07 08:05] #20896 closed

[2019-11-07 08:46] HuaxuanGAO opened #20967 "Serving tensorflow model with grpc"
Hi there. I am trying to serve a tensorflow model with grpc.
I learnt that "For CPU-bound tasks, the GIL makes multi-threading in Python useless" in
issue #18535
I follow the example here to create multiprocessing server: https://github.com/grpc/grpc/tree/master/examples/python/multiprocessing

However, each process stuck in the line between print(1) and print(2).
I feel like this is related to tf

[2019-11-07 09:51] burk commented on #20954
It seems it was my use/understanding of the ThreadPoolExecutor that was a bit flawed. The test above actually works fine when I run it now. I had a previous version where I opened the ThreadPoolExecutor in a context, and I didn't consider that it would wait for the results of the threads when exiting the context...

Thanks for the tips about `yappi`! It might help me with similar issues in the fut

[2019-11-07 09:52] #20954 closed

[2019-11-07 12:37] slavabulgakov commented on #20883
@muxi We defined the issue - it is located inside backend. When a grpc response is going from Ambassador to Nginx with error message `upstream sent frame for closed stream 1 while reading response header from upstream ` a grpc client receive an error which described above. Therefore I close that issue. Thank you a lot!

[2019-11-07 12:37] #20883 closed

[2019-11-07 13:48] jtattermusch commented on #20677
I checked a bunch of recent occurrences of the `//test/core/transport/chttp2:settings_timeout_test` test and here are the findings:

- it only happens on windows opt build
- this is one of the top windows RBE flakes, at 14% flakiness rate (so should be addressed ASAP)

All the occurrences I've seen have this error message:
[code]

[2019-11-07 13:49] jtattermusch commented on #20677
This doesn't look like an infrastructure flake and should be fixed by C-core team, so assigning to buildcop to triage further.

[2019-11-07 13:50] jtattermusch commented on #20677
Recent occurrences:
https://source.cloud.google.com/results/invocations/f231fcfd-5c01-4837-b20c-73b9fe87355a/targets/%2F%2Ftest%2Fcore%2Ftransport%2Fchttp2:settings_timeout_test/log
https://source.cloud.google.com/results/invocations/6ae88c1d-ecbc-427a-a60c-8b01bba8001d/targets/%2F%2Ftest%2Fcore%2Ftransport%2Fchttp2:settings_timeout_test/log
https://source.cloud.google.com/results/invocations/4c5d

[2019-11-07 13:53] jtattermusch commented on #20677
This is trivial to reproduce with a manual run on a windows machine:

`bazel --bazelrc=tools/remote_build/windows.bazelrc test --config=windows_opt //test/core/transport/chttp2:settings_timeout_test  --runs_per_test=10`

[2019-11-07 14:04] jtattermusch commented on #20609
The rootcause seems to be `Error","file":"src/core/lib/iomgr/tcp_server_windows.cc","file_line":201,"os_error":"An attempt was made to access a socket in a way forbidden by its access permissions.\r\n","syscall":"bind","wsa_error":10013`

[2019-11-07 14:05] jtattermusch commented on #20609
Other occurrences:
https://source.cloud.google.com/results/invocations/de08fc92-3aaa-4397-8d67-f0e399c1fd57/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_proxy_nosec_test@simple_request/log
https://source.cloud.google.com/results/invocations/2f3c586b-f47a-4280-a9f0-c47611240dba/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_proxy_nosec_test@idempotent_request/log
https://source.cloud.google.com/results/invocatio

[2019-11-07 14:21] jtattermusch opened #20971 "FLAKE: //test/cpp/naming:cancel_ares_query_test[x64_windows-fastbuild]"
Currently our second most common flake on Windows RBE (flakiness rate 8%)

Recent occurrences
https://source.cloud.google.com/results/invocations/c0fe8c4f-e3b0-4d41-92b8-a87919854cc8/targets/%2F%2Ftest%2Fcpp%2Fnaming:cancel_ares_query_test/tests
https://source.cloud.google.com/results/invocations/0e51efd5-d114-45a2-a2a8-abb38cea54b1/targets/%2F%2Ftest%2Fcpp%2Fnaming:cancel_ares_query_test/tests
ht

[2019-11-07 14:24] jtattermusch commented on #20971
Looks like the test got GRPC_STATUS_DEADLINE_EXCEEDED instead of the expected GRPC_STATUS_UNAVAILABLE.

[2019-11-07 14:26] jossef opened #20972 "host named "dns" causes DNS error"
Stack  <kbd>python3.7</kbd> <kbd>grpcio==1.23.0</kbd>

When connecting to a target hostname `dns` I'm always getting a DNS error, **even though the DNS resolution is valid.**

[code]

Fails with
[code]

[code]

----

to reproduce, add this to your `/etc/hosts` file and run any python client-server simple example but connect via `dns` hostname

[code]

[2019-11-07 14:34] jtattermusch commented on #20971
Manual repro
`~/bazel-1.0.0-windows-x86_64.exe --bazelrc=tools/remote_build/windows.bazelrc test --config=windows_opt //test/cpp/naming:cancel_ares_query_test  --runs_per_test=50`

[2019-11-07 15:24] aaubry commented on #18753
@srini100 I don't really know to do that. If you provide guidance on how to do it, I can try do it.
In a related note, I have encountered the same problem in a client application, that is sending an empty (`Google.Protobuf.WellKnownTypes.Empty`) request. It appears that it is the same error.

[2019-11-07 16:02] jtattermusch commented on #20971
btw, it looks like that just increasing the 10ms timeout to e.g. 100ms here fixes flake (according to my experiments)
https://github.com/grpc/grpc/blob/cc43fd64ab97e45fcdd38759dd8d9eb273823b9e/test/cpp/naming/cancel_ares_query_test.cc#L317

Note that windows timer has relatively low resolution.

[2019-11-07 16:09] muxi commented on #20883
Thanks for the update @slavabulgakov

[2019-11-07 16:38] jtattermusch commented on #18879
I tried running your demo but it contains client only code. Can you also provide the server code so that I can actually run the reproduction?

[2019-11-07 17:05] jtattermusch commented on #19845
I suggest running  the client with extra logging, that might tell you what's wrong:
`GRPC_VERBOSITY=debug GRPC_TRACE=handshaker dotnet run -f netcoreapp2.1 GreeterClient.csproj`

[2019-11-07 17:07] jtattermusch commented on #19845
The most interesting log I'm getting is:
[code]

[2019-11-07 17:15] jtattermusch commented on #20134
@raulpereztangelo  is this still a problem in the latest release?

[2019-11-07 17:21] jtattermusch commented on #19845
CC @yihuazhang can you confirm that this the right behavior for the VerifyPeerCallback?

[2019-11-07 17:22] gnossen commented on #20879
No, the Windows [build uses `setup.py`](https://github.com/grpc/grpc/blob/master/tools/run_tests/artifacts/build_artifact_python.bat). It seems there's just some difference in state/configuration between our CI build and a default Windows set-up. You can invoke that build with `task_runner.py` [like so](https://github.com/grpc/grpc/blob/master/tools/internal_ci/windows/grpc_build_artifacts.bat#L31

[2019-11-07 17:43] gnossen commented on #20972
CC @apolcyn

[2019-11-07 17:50] gnossen commented on #20967
This doesn't appear to be a self-contained reproduction case that I can run. The indicated problematic lines appear to have two major things happening:

[code]
Can you please determine which of these two is hanging and/or provide a self-contained reproduction case?

[2019-11-07 18:09] jdpedrie opened #20974 "[php] Log debug info to file rather than stderr"
When using the grpc PHP extension with Apache or nginx and the `GRPC_VERBOSITY` and `GRPC_TRACE` environment variables turned up, it can be difficult to obtain debugging output from stderr. As PHP is invoked not directly by the user but by the web server, this information is often not easy to see or find. Some web server and PHP configurations will pipe stderr to the server logfile, and some will

[2019-11-07 18:12] raulpereztangelo commented on #20134
We updated two weeks ago and have no issues with that build, can't know the exact release we're using right now. If it helps I can come back to you tomorrow.

[2019-11-07 18:25] guantaol commented on #20436
Thanks for the fix! We discussed this within the c-core team, and we agree that #20956 is probably the best solution we could achieve at the moment.

[2019-11-07 18:48] lidizheng commented on #20964
I'm not an expert on the minimal image area. I assume you can start by installing linker and compiler `gcc` / `g++` for your image. After that, try to see what the `pip` installation is asking for. You can always use `pip install --no-binary -U grpcio` to explicitly compile the `grpcio` package.

[2019-11-07 22:43] barcharcraz commented on #20879
I got it working on windows after changing the cc thing and also remembering to checkout the submodules btw.

[2019-11-08 01:42] makefriend8 opened #20983 "windows vs2017 cmake: Windows, Using Ninja build error"
### What version of gRPC and what language are you using?
1.24.3

### What operating system (Linux, Windows,...) and version?
windows 10.0.18362.418

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27034 for x64
cmake version 3.15.3
This is perl 5, version 26, subversion 3 (v5.26.3) built for MSWin32-x64-multi-

[2019-11-08 01:43] muxi commented on #8131
First, I apologize that this issue stayed idle for such a long time. In the mean time, gRPC API has evolved and RxLibrary has been deprecated for users, preferring a new interface (see [example usages](https://github.com/grpc/grpc/tree/master/examples/objective-c)). While the deprecated API still works, we do recommend users to use the new interface. However, if you are still interested in using R

[2019-11-08 02:27] Juniortheone commented on #20858
@lidizheng I used this command to generate the certificate
`openssl req \
       -newkey rsa:2048 -nodes -keyout domain.key \
       -x509 -days 365 -out domain.crt`

[2019-11-08 02:51] wuyuntao commented on #18879
The demo contains an [etcd](https://etcd.io/) client. You can reproduce by connecting to an etcd server.

[2019-11-08 06:48] #20436 closed

[2019-11-08 07:11] jtattermusch commented on #20983
The problem you're seeing was fixed in https://github.com/grpc/grpc/pull/20304 (available in v1.25.0 release)
I think you'll need to upgrade golang to 1.13.x

On v1.24.x branch you might be able to build using yasm (we upgraded boringssl to a version that requires nasm in v1.25.x)

For some context, see https://github.com/grpc/grpc/pull/20100#issuecomment-532573303 and followups.

[2019-11-08 07:11] #20983 closed

[2019-11-08 08:16] jtattermusch commented on #20960
The snippet is from ClientReponseStream.cs https://github.com/grpc/grpc/blob/0e7188ccbb139a45e0795ba2d10375e4d6672104/src/csharp/Grpc.Core/Internal/ClientResponseStream.cs#L68, but that only for disposing the `call.ResponseStream` object, not the call itself.
Calling call.Dispose() actually cancels the inflight call (unless it has already terminated).

If you still believe there's a problem, pleas

[2019-11-08 08:16] #20960 closed

[2019-11-08 08:43] jtattermusch commented on #20895
Reassigning to @yihuazhang  as this is SSL handshake related and it's not C# specific.

I would help if you could provide the exact commands you ran to generate the certificates.
(and also a snippet of code that reproduces the problem).

[2019-11-08 08:52] damien-lloyd commented on #20914
@nicolasnoble @sheenaqotj @jtattermusch Hello you three! I have followed the instructions prior to creating this issue. Thus, gRPC and thirdparty/protocol_buffers were installed through `make` which I then proceeded to install through `sudo make install`. Despite a second attempt, this linking issue still persists. The main issue seems to be with `/usr/bin/ld: helloworld.pb.o: undefined reference

[2019-11-08 09:09] apolcyn commented on #20971
Thanks for the data.

Some notes:

I think this is likely the same bug as https://github.com/grpc/grpc/issues/19880, which I'm seeing as  reproducable at a rate of maybe 3% when ran under `dbg`

A sample failure `cares_resolver` trace log looks like this:

[code]

The only thing weird here I see (and which I seem to see in all of these failures) is the time diff between:

[code]

and

[code]

...

[2019-11-08 17:08] leonbloy commented on #20879
Also happening with 1.25  (Windows 7, 64 bits, Python 3.8)

BTW: I guess the message `Check the logs for full command output.`
refers to `C:\Users\h\AppData\Local\Temp\pip-record-sqsciy62\install-record.txt` ?
If so, the parent directory seems to be deleted by the (failed) installation script... kinda ironic, at least, no?

[code]

[2019-11-08 19:16] apolcyn commented on #20971
A log-timestamp binary search for where the time is coming from shows that 10s of milliseconds are coming from a call to `SplitHostPort`, when ran under `dbg` mode. This likely still points to raising the timeout as the right fix.

[code]

[2019-11-08 19:38] #20669 closed

[2019-11-08 19:57] blingdaag commented on #20895
I do have a question that may give some idea as to what happening.

Since I'm using self-signed certificates, is it possible to use them across
machines workout sharing the certificate authority? Meaning, machine 1
creates it's own CA and SSL certificates and machine 2 does the same.

Will this work or do they have to have a common CA that is used for signing
each certificate (client and server ce

[2019-11-08 20:52] pfreixes commented on #20001
From I can see the board has its own `Done` state which does not match with the state of the issue :), so yes let's close it once the issue is put as done on the board. If gets reverted we will always have the chance of reopening the issue.

[2019-11-08 20:52] #20001 closed

[2019-11-08 21:31] songohannyc opened #20985 "Question: Python GRPC client, is there a way to create multiple connections with in the same channel?"
This is for Python implementation. grpc version 1.25.0

Currently, we are using grpc.insecure_channel() to create a channel. From my understanding, a single channel creates a single connection to a single server, am I correct?

We are hitting istio-proxy max_requests limit of 1024 and just wondering what is the best way to create connection pools for a channel.

I have a hard time locating documen

[2019-11-08 22:07] lidizheng commented on #20858
The generation looks fine. Can you investigate more to confirm if this is specific to Python? E.g. try to use these certs with Golang client or C++ client?

[2019-11-08 22:09] yashykt opened #20986 "TSAN race in handshakers"
[code]

[2019-11-09 01:21] codeitlikemiley opened #20989 "Question: Do u have example on implementing this on laravel?"
I wanna know how i can implement this on laravel , php popular framework
but i never seen anyone on the web when i google it...

Anyone can point me to the right directions?

[2019-11-09 03:01] stanley-cheung commented on #20989
There isn't really anything special about integrating gRPC with Laravel. You have to install the `grpc` extension, and require the `grpc/grpc` composer package. The rest is using our `protoc` code generator plugin to turn your `.proto` service into stub classes that you can then import into your project. The gist of it are all documented in our [main PHP page](https://github.com/grpc/grpc/tree/mas

[2019-11-09 03:01] #20989 closed

[2019-11-09 17:06] hscspring opened #20992 "How to define an uncertain type?"
Like the title, I have a dict as input, the keys are strings, but values are not certain. for example,
some like
[code]

some other may like
[code]

I want to define a prop, like:

message Input {
    map<string, ?(here use what)> props = 1;
}

[2019-11-10 15:02] simPod opened #20994 "gRPC PHP extension prevents pcntl_waitpid() to return PID"
### What version of gRPC and what language are you using?

PHP 7.3, grpc 1.25

### What operating system (Linux, Windows,...) and version?

macOS Catalina

### What runtime / compiler are you using (e.g. python version or version of gcc)

php

### What did you do?

[code]

### What did you expect to see?

echoed `unset child 0`

### What did you see instead?

The script loops infinitelly as `pcntl

[2019-11-10 18:01] linghudaxiao opened #20995 "Bazel could not find grpc++.h"
### What version of gRPC and what language are you using?
name = "com_github_grpc_grpc"
remote = "https://github.com/grpc/grpc"
commit = "bd0aa9a600a13cc988c6ebfd12deab8d1abcf171"

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
bazel 1.0.1

### What did you do?
Wrote a small grpc test appli

[2019-11-11 03:47] HuaxuanGAO commented on #20967
Thanks for the reply, yes the example cannot reproduce the error, because the FaceRecognitionServer class is too long to post here.
I have find a way to do the multiprocessing with tensorflow correctly. It appears that if we use tf.Session in the main function, then the model will only be loaded into one cpu core. So I created one session for each core. The code below works fine.

[code]

[2019-11-11 03:47] #20967 closed

[2019-11-11 08:04] #20920 closed

[2019-11-11 08:45] LostVector commented on #20034
I believe I managed to work around the issue in my own project by explicitly called grpc_init and grpc_shutdown.  After reading through the code, it seems many samples implicitly initialize grpc, so you wouldn't necessarily know to do this.  The comments also say calling those functions is required, so it's puzzling that example code doesn't seem to do it.

[2019-11-11 10:20] jtattermusch commented on #19473
Workaround for this issue:
It looks like `grpcpp_channelz` library is already protected by `if(gRPC_BUILD_CODEGEN)`, so if you disable gRPC_BUILD_CODEGEN, you should be able to build with gRPC_USE_PROTO_LITE enabled?

https://github.com/grpc/grpc/blob/af1eaa0d058cdd319a975c2afeaf6383bdec2753/CMakeLists.txt#L4834

[2019-11-11 10:56] jtattermusch commented on #20914
@damien-lloyd  I'd recommend using cmake instead of make (the long term plan is for make installation support to be removed in favor of cmake).

Here are some examples for cmake: https://github.com/grpc/grpc/tree/master/src/cpp#cmake

Btw the installation scripts here:
https://github.com/grpc/grpc/tree/master/test/distrib/cpp are being continously tested (and they are passing), so perhaps you can

[2019-11-11 11:01] metripurari opened #20998 "Ruby GRPC client hangs indefinitely."
I have written grpc client in Ruby where it connects with the java grpc server.

Client code is
[code]
It send the request to the java server and processed correctly in server side without any error in around 48 minutes.

But some how the response won't reach to the client side and client hang for indefinitely and never completed. There is no error.

All the service taking lesser time are running

[2019-11-11 11:12] aosyatnik commented on #18188
Hi, I guess we had some similar problems. That's our solution structure:
![project structure](https://user-images.githubusercontent.com/8158404/68582681-9fff0400-047b-11ea-851f-7542afbf7c32.png)

UWP that uses .Net Standard 2.0. (which has GRPC).

Everything was good unless we started building package for appcenter.ms. We wanted to send an install package to the customer and it was crashing somewh

[2019-11-11 12:31] HarmonyAngel commented on #20909
also meet this problem

[2019-11-11 13:44] Malwy opened #20999 "Installation on Windows 10"
### What version of gRPC and what language are you using? lastest

### What operating system (Linux, Windows,...) and version? Windows 10 Server

### What runtime / compiler are you using (e.g. python version or version of gcc) python

### What did you do?
Tried to install it from pip install command
If possible, provide a recipe for reproducing the error. Try being specific and include code snipp

[2019-11-11 14:21] knodel12 commented on #20955
We recorded some perfmon information as well.  When these dumps were taken, nearly all processes dropped down in CPU significantly, again indicating some type of deadlock.  At approximately 4:31 PM, you can see the processor drop to nothing.  Shortly after that time the dump stacks above were taken.

[PubSubPerfData_hangissue.xlsx](https://github.com/grpc/grpc/files/3831703/PubSubPerfData_hangissu

[2019-11-11 15:58] arashbahreini commented on #20604
Having the same issue, my version is 3.8 !!!

[2019-11-11 16:41] jtattermusch commented on #11068
This actually might not be necessary, see the comment here: https://github.com/grpc/grpc/pull/20976#issuecomment-552509998

[2019-11-11 16:51] nicolasnoble commented on #20995
This header name has been deprecated because XCode doesn't like non-ascii characters. If using the Makefile this header still exists, but for Bazel, one needs to use the new one called `grpcpp/grpcpp.h`

[2019-11-11 17:14] zackgalbreath commented on #19472
I was not able to reproduce the linker errors described in this issue. However, building gRPC with `gRPC_USE_PROTO_LITE` did cause compile errors for me:

[code]

This issue is addressed in #21011

[2019-11-11 17:41] linghudaxiao commented on #20995
Hi nicolasnoble

 I also tried grpcpp/grcpp.h

It has the same problem.

Thanks a lot.

[2019-11-11 17:56] jtattermusch commented on #18879
I'm running your example and as far as I can tell, after each call, there is an invocation of  `cancellationTokenRegistration.Dispose();`, so I'm actually not sure if there an actual leak https://github.com/grpc/grpc/blob/af1eaa0d058cdd319a975c2afeaf6383bdec2753/src/csharp/Grpc.Core/Internal/AsyncCall.cs#L416

Btw, I upgraded your repro to Grpc.Core 2.25.0 (the latest release).

[2019-11-11 18:30] gnossen commented on #20999
Closing as duplicate of https://github.com/grpc/grpc/issues/20879

[2019-11-11 18:30] #20999 closed

[2019-11-11 20:34] lidizheng commented on #20985
There are several questions need to be answered here.

Underlying our Python wrapper, the Channel object uses C-Core's Channel which will reuse existing connections. E.g. if you create 100 channel object to the same destination with same options, there will be only 1 outstanding TCP connection.

I'm not sure about the definition of max_requests limit here. By "requests", does it mean connections o

[2019-11-11 21:30] stanley-cheung commented on #20994
Fork support was not by default enabled. You need to add the following lines to your php.ini file.

[code]

See #18539

[2019-11-11 21:30] #20994 closed

[2019-11-11 21:34] simPod commented on #20994
@stanley-cheung thanks, I'll try to set it.

Isn't there any way to notify the consumer of this extension, that ext-pnctl gets broken by it? I installed the extension as it was required by some 3rd party project but had no idea it can break function of another extension. Took some time to discover this extension was the cause...

[2019-11-11 22:37] apolcyn commented on #15981
Same assertion failure seen again in https://source.cloud.google.com/results/invocations/6f0a0564-c5c0-4661-95dd-4daa98c7798d/targets/%2F%2Ftest%2Fcore%2Fend2end:connection_refused_test@poller%3Depoll1/log

[code]

Seen in https://github.com/grpc/grpc/pull/20929

[2019-11-11 22:45] apolcyn opened #21013 "MSAN failure: use after free in qps_json_driver_test_cpp_protobuf_sync_streaming_qps_unconstrained_10mps_insecure"
[code]

test log: https://source.cloud.google.com/results/invocations/951346b3-32ba-4cb1-a057-399200155b78/targets/%2F%2Ftest%2Fcpp%2Fqps:qps_json_driver_test_cpp_protobuf_sync_streaming_qps_unconstrained_10mps_insecure@poller%3Dpoll/log

Seen in PR: https://github.com/grpc/grpc/pull/20929

[2019-11-11 22:51] apolcyn opened #21014 "assertion failed: driver_join_status == 0 json_run_localhost_cpp_protobuf_async_streaming_qps_unconstrained_1mps_insecure"
[code]

https://source.cloud.google.com/results/invocations/fcc7d555-8b85-4f26-9311-a36649363f60/targets/%2F%2Ftest%2Fcpp%2Fqps:json_run_localhost_cpp_protobuf_async_streaming_qps_unconstrained_1mps_insecure@poller%3Depoll1/log

Seen in PR: https://github.com/grpc/grpc/pull/20929

[2019-11-11 22:54] yashykt opened #21015 "Flake - py37_native.test.interop._insecure_intraop_test.InsecureIntraopTest"
[code]

seen on #20963

[2019-11-11 22:56] yashykt commented on #20686
Another instance with different test sets - https://source.cloud.google.com/results/invocations/61e764c7-6310-445f-8e18-5cb1a71ddfe6/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fmac-test-basictests/tests