[2017-01-04 09:29] granthobbs opened #9233 "Unable to write to response stream"
Hi,

Could you tell me why I am unable to write to the response stream from an event?

See below, the line //This works is working fine for multiple writes, but the one at the bottom //This doesn't fails with a halfclose error. It successfully writes once but then fails on subsequent attempts.

Thanks

Grant

` public override async Task PlaceOrder(TtGrpcProto.Order request, IServerStreamWriter<Tt

[2017-01-04 12:39] qxd666666 commented on #9232
i use gdb to get more information.
when the first call destroy(in ~ClientContext)grpc_call_stack_destroy

[2017-01-04 12:45] qxd666666 commented on #9232
i use gdb to get more information.
when the first call destroy(in ~ClientContext)
it call grpc_call_stack_destroy to release the resource.
and the size of stack(stack->count;) is two . one elem is belong to the second call.
when it call destroy_call_elem to destroy the elem belong to the second call,  it will abort.
because the second call stream is still in  GRPC_CHTTP2_LIST_WAITING_FOR_CONCURREN

[2017-01-04 15:13] neuecc opened #9235 "Can't receive detail message when server's codepage is different and message is Japanese in C#"
If gRPC's Server returns error code and `Status.Detail` include language specific character(e.g. `あいうえお` in Japanese)
gRPC's Client can't decode detail message(the result is null).
This problem happens on each server and client have different codepage.
for example Server's CodePage is 437(default of GCP's Windows Server) and Client's CodePage is 932(default of Japanese Windows)

This occurs from `

[2017-01-04 17:22] ctiller commented on #9232
I'm trying to put together a test to reproduce this, and it doesn't seem to be triggering for me.

Which version of gRPC are you using?

[2017-01-04 17:37] ctiller commented on #9231
I'm surprised we still have tooling laying around for vs2010, it's highly unlikely that we'll build there at this point (we piled our chips heavily into C99 for C core, and pre-2013 msvc's don't play well there).

[2017-01-04 17:39] ctiller commented on #9235
Which version of gRPC are you using?

[2017-01-04 17:45] aardappel commented on #9231
Then maybe delete the 2010 related build files, to not give the impression that they're supported :)

[2017-01-04 17:49] ctiller commented on #9231
https://github.com/grpc/grpc/pull/9238

On Wed, Jan 4, 2017 at 9:45 AM Wouter van Oortmerssen <
notifications@github.com> wrote:

[2017-01-04 18:16] jozefizso opened #9239 "Remove VC Runtime dependency from Zlib Native Nuget package"
The Zlib Native Nuget package (`grpc.dependencies.zlib.redist`) is compiled with DLL version of the VC++ runtime library. For Visual Studio 2015 (platform v140) it requires the VC++ Runtime 2015 to be installed on end user machine, or manual distribution of vcruntime140.dll and ucrtbase.dll and some other DLL files.

Can you update this package to use staticaly linked runtime?

PS: The OpenSSL nug

[2017-01-04 18:28] aardappel commented on #9231
Now made sure to clone --recursive, building with 2015, but SSL still doesn't find its own headers:

`c:\dev\grpc\third_party\boringssl\crypto\asn1\tasn_enc.c(57): fatal error C1083: Cannot open include file: 'openssl/asn1.h': No such file or directory [C:\dev\grpc\vsprojec ts\vcxproj\boringssl\boringssl.vcxproj]`

[2017-01-04 18:31] aardappel commented on #9231
Opening the boringssl project in VS to try and fix the issue causes:

[code]

[2017-01-04 19:14] jhspaybar commented on #8394
@murgatroid99 Is this still not designed and seeking input?  I saw a couple days ago someone sent out a link to this https://github.com/malijs/mali which is a separate project and provides middleware support.

Would it be appropriate still to contribute a design and then start work on an implementation for NodeJS, or is there work being done at Google or elsewhere we'd be conflicting with?

[2017-01-04 20:47] apolcyn commented on #8989
seen again in https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/9984/testReport/junit/(root)/tests/cloud_to_cloud_ruby_node_server_timeout_on_sleeping_server/

[2017-01-04 20:49] apolcyn commented on #8989
also seen in https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/10279/testReport/(root)/tests/cloud_to_cloud_ruby_node_server_timeout_on_sleeping_server/

[2017-01-04 20:51] #9188 closed

[2017-01-04 21:32] murgatroid99 commented on #9216
I don't think this problem is caused by any JavaScript code. In that link, you can see that the default CA is loaded unconditionally when the gRPC module is initialized. By the time you get to the point of trying to create a connection, the C core already has the CA data in memory.

[2017-01-04 21:51] wtanaka commented on #7555
@soltanmm a python 2.7 for macos 10.9 would be useful, since python 2.7 is what's default on macos 10.9

[2017-01-04 23:14] murgatroid99 opened #9241 "Objective C build failing with linker error"
https://grpc-testing.appspot.com/job/gRPC_master_macos/1103/testReport/junit/(root)/objc_macos_dbg/objc_tests/

[2017-01-04 23:54] michaelcurry commented on #8074
Looking 👀  for an update on this issue.  Is there a timeline for this issue being worked on or pull request merged?

[2017-01-05 01:46] qxd666666 commented on #9232
i used version 1.0.2.
you may try more times. restart the client more time with the server alive.
it was not triggered everytime.

now, i have got more information.
if i call one time. it enter function "grpc_call_stack_init" with call_stack(the para) are 0x6e0d20 and 0x7f9d20003b68.
it will still enter function grpc_call_stack_destroy two times. with call_stack 0x6e0d20 and 0x7f9d20003b68.

but,

[2017-01-05 01:50] neuecc commented on #9235
sorry, I've using `Grpc.Core 1.0.1`.

[2017-01-05 02:54] JosephusYang commented on #6443
I ran into the same problem and used a [docker image](https://github.com/lambci/docker-lambda) to install npm module, and it works now (at least for cloud storage), hope this workaround help someone with this problem

[2017-01-05 03:21] muxi commented on #9227
Should be fixed. Wait for a few days to close.

[2017-01-05 03:58] ajagnanan commented on #6443
Thats what i had to do also. Add a `package.json` file in a folder, then run ```
docker run --rm -it -v "$PWD":/worker -w /worker node:4.2 npm i --production --silent``` in that folder. You should see a node_modules folder when its finished with the dependencies.

[2017-01-05 05:09] ryanchou1991 commented on #8093
+1 Yeah. Could anyone provide some solutions or best practices on running multiple servers? I have met the same case which was required to run multiple server instances to serve increase scale client–requests?

[2017-01-05 06:09] Kenblair1226 commented on #8495
Confirmed issue still exists with node 7.2 and 7.3.
Node 6.9 works fine.

[2017-01-05 08:02] Dustskyfield commented on #9210
OK, I have resolved it by referring another case.
And, I have another doubt about it.  The server would check the subject_alt_name IP address and I must add IP during producing certificate files.  I hope to know whether the subject_alt_name IP must be checked when handshake ? could I use a default cert file for all hosts ?

thanks

[2017-01-05 08:21] yang-g commented on #9210
I guess you can use a name in your server cert, say foo.com and then connect to the server ip with the ssl target name override set to foo.com (see above comment for api).

I do not think you can disable name checking entirely.

[2017-01-05 09:49] xiangwangfeng commented on #9222
I use aspect to hook all handlers，so problem sovled

[2017-01-05 09:49] #9222 closed

[2017-01-05 10:13] rolandhawk commented on #8682
@wenbozhu please add me to whitelist. Thank you very much.

[2017-01-05 11:08] qxd666666 commented on #9232
i add more debug log in the code.and it print as here:
the first call:
DSF|Aync callService controller:[0x30000235f1c8]
DSF-GRPC| grpc_call_stack_init context is 0x6dbb28 , call_stack is 0x6dbcf0, count is 2
DSF-GRPC| cc_start_transport_stream_op elem is 0x6dbd38, elem->call_data is 0x6dbf90
DSF-GRPC| cc_start_transport_stream_op elem is 0x6dbd38, elem->call_data is 0x6dbf90

the second call:
DSF|

[2017-01-05 11:17] arthur-tacca commented on #8682
@wenbozhu Could I please be added too? I would be happy to test it. Many thanks.

[2017-01-05 11:17] qxd666666 commented on #9232
i used version 1.0.1.
you may try more times. restart the client more time with the server alive.
it was not triggered everytime.

now, i have got more information.
if i call one time. it enter function "grpc_call_stack_init" with call_stack(the para) are 0x6e0d20 and 0x7f9d20003b68.
it will still enter function grpc_call_stack_destroy two times. with call_stack 0x6e0d20 and 0x7f9d20003b68.

but,

[2017-01-05 12:41] sulliwane opened #9248 "Why directly passing an array in the call.request work? [Node.js]"
Here is my .proto:
[code]
and in JS client, these two **different** requests, but still are received the same by the server:
[code]
Why directly passing an array ```[ ]``` instead of a ```{ arrayPropName: [ ] }``` works?

Is that related to some magic in protobuf.js ? I find it very suprising, even inconsistent...

Thank you ! :-)

[2017-01-05 14:08] igorpeshansky commented on #9033
Hi. Has this been released? If not, is there an ETA? Thanks.

[2017-01-05 14:24] Azert-Mark opened #9249 "C# Invalid Hostname hangs"
Hi,

Sorry if this has been posted previously, I've had a search and can't find anything obviously similar.

I was writing a GRPC client using the C# libraries and noticed that an invalid Port number throws an RpcException of status Unavailable which is great. I then assumed that an invalid hostname would do the same, but it doesn't. Instead what it does is hangs indefinitely with no exception bei

[2017-01-05 14:49] ctiller opened #9250 "Fetch failure from Git trying to start tests"
https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/8244/console
https://grpc-testing.appspot.com/job/gRPC_pull_requests_tsan_c/1002/console

[code]

[2017-01-05 16:26] dzenanz commented on #8729
The same error happens in Windows when using `ninja` as generator with VS2015 compiler. Option `gRPC_INSTALL` needs to be enabled for this error to appear. Otherwise gRPC libs are not copied to install location, only zlib and protobuf.

[2017-01-05 17:50] #8477 closed

[2017-01-05 18:16] murgatroid99 commented on #9248
This is actually a consequence of how gRPC passes inputs to Protobuf.js. gRPC calls the message constructor, which normally turns the JavaScript object you expect to work into a Protobuf.js message. But that constructor can also accept the members of that object as arguments, which is what you're seeing here. This behavior is not guaranteed to work.

[2017-01-05 18:49] nathanielmanistaatgoogle commented on #6120
As of today I am still able to reproduce this issue... more or less as described. After
[code]
I see three processes each consuming around 100% CPU:
[code]
.

So still an issue... but not a priority for now.

[2017-01-05 19:43] ctiller opened #9254 "Implement an intrusive lock-free stack"
Our current lock free stack implementation requires pre-allocation of the backing data-structure. This leads to very large memory usage for common use cases, since we need to be conservative in our requests and allocate towards the maximum memory usage *in case the server is high qps*.

Alternatively, we could implement an intrusive stack, with a node type that looks like gpr_mpscq_node, and for w

[2017-01-05 19:45] ctiller opened #9255 "Eliminate large allocations by server"
We currently allocate many megabytes per server CQ. Find an alternative data structure than the current lock free stack to hold pending requests: it should have the property that memory used scales with number of pending requests.

[2017-01-05 19:51] ctiller opened #9256 "Add a low watermark on request queue event to servers"
Something like:

[code]

Such a notification would allow wrapped languages to dynamically scale the number of outstanding requests they enqueue to the offered load against a server.

[2017-01-05 19:52] ctiller opened #9257 "Dynamically scale outstanding requests for C++ sync servers"
Using mechanism proposed in #9256

[2017-01-05 19:56] ctiller opened #9258 "Implement in-process transport"

[2017-01-05 19:57] nathanielmanistaatgoogle commented on #9124
Seen twice in the last two days for `gRPC_master_asanitizer_cpp`:

* [553](https://grpc-testing.appspot.com/job/gRPC_master_asanitizer_cpp/553/testReport/junit/(root)/c++_linux_asan/bins_asan_hybrid_end2end_test___gtest_filter_HybridEnd2endTest_AsyncRequestStreamResponseStream_AsyncDupService__GRPC_POLL_STRATEGY_poll/)
* [556](https://grpc-testing.appspot.com/job/gRPC_master_asanitizer_cpp/556/tes

[2017-01-05 19:58] ctiller opened #9259 "Implement ReadUntil"

[2017-01-05 20:03] anilmaddala opened #9260 "Unable to build grpc for c++"
I am following the instuctions from [grpc/cpp](https://github.com/grpc/grpc/tree/master/src/cpp) build grpc on my local machine.

I am getting the following error:
`In file included from ./src/compiler/config.h:37:0,
                 from ./src/compiler/csharp_generator.h:37,
                 from src/compiler/csharp_generator.cc:39:
include/grpc++/impl/codegen/config_protobuf.h:38:42: fatal error

[2017-01-05 20:13] ncteisen commented on #9260
Have you installed protobuf onto your system? Just running `git submodule update --init`
Try doing this
[code]

[2017-01-05 20:38] matt-kwong commented on #9250
I changed Jenkins to retry pulling from GitHub up to 3 times when there's an error like this. I'd like to see this failure again to see if Jenkins handles it well with the new setting.

[2017-01-05 20:42] ctiller opened #9261 "Remove grpc_init from the critical path for synchronous C++ servers"
We've talked about ideas re: forcing OSS to call some grpc::Init() function or having some static initialization. Either would be acceptable here.

[2017-01-05 20:44] ctiller opened #9262 "Make grpc_completion_queue lock free"
This is a grouping issue to close out once grpc_completion_queue can be implemented without taking any locks. We'll likely want to open smaller issues for each piece of this work.

The reason for this work is to eliminate contention for the C++ synchronous API.

[2017-01-05 20:44] nathanielmanistaatgoogle commented on #9124
Seen in `gRPC_master_linux`:

* [1005](https://grpc-testing.appspot.com/job/gRPC_master_linux/1005/testReport/junit/(root)/c++_linux_dbg/bins_dbg_hybrid_end2end_test___gtest_filter_HybridEnd2endTest_GenericEchoAsyncRequestStream_AsyncDupService__GRPC_POLL_STRATEGY_poll/)
* [1012](https://grpc-testing.appspot.com/job/gRPC_master_linux/1012/testReport/junit/(root)/c++_linux_opt/bins_opt_hybrid_end2e

[2017-01-05 20:46] ctiller opened #9263 "Eliminate hybrid server API performance hit"
I expect this will be a longer term effort, since we don't have a clue on how to do this yet.

We'd like there to be no performance hit from running a hybrid (mixed sync/async) server. Currently we get a large hit due to shared completion queues causing a complete polling island collapse.

[2017-01-05 20:51] ctiller opened #9264 "Implement closed-streaming benchmark"
Send a stream of some small number of messages (1 or 2 or 3), and then wait for the same number of responses. The time for the request is the time of the entire stream.

- [ ] C++
- [ ] Java
- [ ] Go
- [ ] Python
- [ ] C#
- [ ] Node
- [ ] Ruby

[2017-01-05 20:52] nathanielmanistaatgoogle commented on #9150
Seen again in `gRPC_master_linux`:

* [1006](https://grpc-testing.appspot.com/job/gRPC_master_linux/1006/testReport/junit/(root)/c++_linux_dbg/bins_dbg_json_run_localhost___scenarios_json____scenarios______name____cpp_protobuf_async_client_sync_server_streaming_qps_unconstrained_secure____warmup_seconds___0___benchmark_seconds___1___num_servers___1___server_config_____async_server_threads___0___co

[2017-01-05 20:57] ctiller opened #9266 "Add a WriteAndFinish to C++ streaming API's"
Gives a direct hint to the transport that this is the last message in a stream, which can be used to merge OS writes.

[2017-01-05 20:58] ctiller opened #9267 "Remove CQ freelist"
This is likely unnecessary at this point: it used to be used to reuse eventfds, but since we don't use them with epoll (our high performance point), we should probably eliminate this potential cause of contention.

[2017-01-05 20:59] ctiller commented on #7440
done right?

[2017-01-05 21:01] nathanielmanistaatgoogle commented on #9227
Agreed that this appears fixed as of [`gRPC_master_macos` build 1103](https://grpc-testing.appspot.com/job/gRPC_master_macos/1103/).

[2017-01-05 21:04] nathanielmanistaatgoogle commented on #9134
[In build 1091 the timeout is reported in `testSuccessfulStreamStream`](https://grpc-testing.appspot.com/job/gRPC_master_macos/1091/testReport/junit/(root)/python_macos_opt/py27_test_unit__metadata_code_details_test_MetadataCodeDetailsTest/).

[2017-01-05 21:04] ctiller commented on #9121
Currently there's going to be one write syscall per send, and that's going end up being the bottleneck (though there may be others above the transport layer - especially in the node/c interface).

We do have a buffering option in C (GRPC_WRITE_BUFFER_HINT): I'm not sure if it's exposed from Node.

[2017-01-05 21:10] nathanielmanistaatgoogle commented on #9226
Failures in [build 1091](https://grpc-testing.appspot.com/job/gRPC_master_macos/1091/testReport/junit/(root)/python_macos_opt/py27_test_unit__thread_cleanup_test_CleanupThreadTest/), [build 1092](https://grpc-testing.appspot.com/job/gRPC_master_macos/1092/testReport/junit/(root)/python_macos_opt/py27_test_unit__thread_cleanup_test_CleanupThreadTest/), and [build 1112](https://grpc-testing.appspot.

[2017-01-05 21:12] nathanielmanistaatgoogle commented on #9040
Seen again in builds [1104](https://grpc-testing.appspot.com/job/gRPC_master_macos/1104/testReport/junit/(root)/c_macos_dbg/bins_dbg_dualstack_socket_test/) and [1111](https://grpc-testing.appspot.com/job/gRPC_master_macos/1111/testReport/junit/(root)/c_macos_dbg/bins_dbg_dualstack_socket_test/).

[2017-01-05 21:15] nathanielmanistaatgoogle commented on #8629
Seen again in [`gRPC_master_macos` build 1111](https://grpc-testing.appspot.com/job/gRPC_master_macos/1111/testReport/junit/(root)/python_macos_dbg/py27_test_unit__rpc_test_RPCTest/).

[2017-01-05 21:18] nathanielmanistaatgoogle commented on #9124
... and in [`gRPC_master_tsan_cpp` build 536](https://grpc-testing.appspot.com/job/gRPC_master_tsan_cpp/536/testReport/junit/(root)/c++_linux_tsan/bins_tsan_hybrid_end2end_test___gtest_filter_HybridEnd2endTest_GenericEchoAsyncRequestStream_AsyncDupService__GRPC_POLL_STRATEGY_epoll/).

[2017-01-05 21:22] nathanielmanistaatgoogle commented on #9186
Seen in [build 1126](https://grpc-testing.appspot.com/job/gRPC_master_windows/1126/testReport/junit/(root)/c_windows_dbg/vsprojects_Debug_connection_refused_test_exe/).

[2017-01-05 21:23] sreecha commented on #7440
not for poll engine.. that is a bit more complicated :)

[2017-01-05 21:24] nathanielmanistaatgoogle commented on #9088
Seen in `gRPC_master_windows` builds:

* [1117](https://grpc-testing.appspot.com/job/gRPC_master_windows/1117/testReport/junit/(root)/c_windows_opt/vsprojects_Release_h2_http_proxy_test_exe_connectivity/)
* [1124](https://grpc-testing.appspot.com/job/gRPC_master_windows/1124/testReport/junit/(root)/c_windows_opt/vsprojects_Release_h2_http_proxy_test_exe_connectivity/)
* [1129](https://grpc-testing

[2017-01-05 21:25] nathanielmanistaatgoogle commented on #9153
Seen in [`gRPC_master_windows` build 1120](https://grpc-testing.appspot.com/job/gRPC_master_windows/1120/testReport/junit/(root)/c_windows_opt/vsprojects_Release_h2_http_proxy_nosec_test_exe_connectivity/).

[2017-01-05 21:28] nathanielmanistaatgoogle commented on #8989
Seen in `gRPC_interop_master` builds

* [10097](https://grpc-testing.appspot.com/job/gRPC_interop_master/10097/)
* [10107](https://grpc-testing.appspot.com/job/gRPC_interop_master/10107/)
* [10108](https://grpc-testing.appspot.com/job/gRPC_interop_master/10108/testReport/)
* [10111](https://grpc-testing.appspot.com/job/gRPC_interop_master/10111/)

[2017-01-05 21:35] ctiller commented on #7440
I think this bug was mostly about epoll?

[2017-01-05 22:38] dzenanz commented on #9013
Absence of a currently working CMake build system makes it hard to write cross-platform software based on gRPC.

Linux has a working makefile. Windows build is a nightmare. @plasticbox's version helped. The VSSolution unfortunately uses nuget, requiring manual restore of packages each time my project's solution is regenerated by CMake (which is frequent).

And a lot of ignored pull requests signal

[2017-01-06 00:58] jboeuf commented on #9211
Hello.

You can use the `:path` metadata indeed if you want to distinguish between services/methods. It is trusted by virtue of the fact that it is protected on the channel by TLS and is used on the server side to dispatch the call to the right handler.

Cheers!

[2017-01-06 01:22] adelez commented on #9226
Assigned myself since the proper owner is listed.

[2017-01-06 01:38] adelez commented on #8153
This seems to be fixed by the refactoring of Jenkins tests.

[2017-01-06 01:40] adelez commented on #8129
Obsolete. All *-san tests are green now.

[2017-01-06 01:40] #8129 closed

[2017-01-06 01:45] #7639 closed

[2017-01-06 01:51] adelez commented on #6120
Sorry for the delay. I'll start looking tomorrow.

[2017-01-06 02:36] sulliwane commented on #9248
I see. if this is how Protobuf.js works then...I admit it was a bit destabilizing. Thanks

[2017-01-06 02:36] #9248 closed

[2017-01-06 04:45] nathanielmanistaatgoogle commented on #6120
@adelez: well, do take note of the `P3` label, so feel free to let "tomorrow" slide into ["when the sleeper wakes"](https://en.wikipedia.org/wiki/The_Sleeper_Awakes). 😛

[2017-01-06 08:04] anilmaddala commented on #9260
@ncteisen Thank you. yes that worked.

For anyone running into missing gmock-1.7.0.zip please refer to [https://github.com/grpc/grpc/issues/7952](url)

[2017-01-06 09:34] ZachBray commented on #8682
@wenbozhu please can you add me too? Thank you.

[2017-01-06 10:07] #9260 closed

[2017-01-06 10:28] timfeirg opened #9270 "python grpc: confusion with grpc._channel._Rendezvous"
I have a golang server and a python client, communicating using grpc, when the remote server returns an error, a `grpc._channel._Rendezvous` will raise on the python end.

Should I capture this exception? I mean, it's prefixed with underscore, and the exception class resides in `grpc._channel`, which in the python world means it's not meant to be used by clients.

Also, I noticed this has somethin

[2017-01-06 10:33] tonicbupt commented on #9270
same problem, used to be `AbortionError`, now it's `_Rendezvous`.
the error was that `err` returned by golang server

[2017-01-06 17:10] #8585 closed

[2017-01-06 17:13] ctiller commented on #8989
I have some error handling cleanup work in #9111 that I'd like to land before starting to address this.

[2017-01-06 17:13] ctiller commented on #9254
Doesn't work out: ABA.

[2017-01-06 17:13] #9254 closed

[2017-01-06 19:32] #7305 closed

[2017-01-06 19:52] ericgribkoff commented on #8481
These are now implemented in Java and enabled in `run_interop_tests.py`.

[2017-01-06 19:52] #8481 closed

[2017-01-06 19:57] kpayson64 commented on #9270
The exception API changed between the beta and GA API.

In the GA API, clients should catch ```grpc.RpcError```s.  ```_Rendezvous``` is the underlying internal type, and is subject to change so you should avoid catching this type directly.

[2017-01-06 22:43] soltanmm-google commented on #9099
The last several instances of this failure (I'unno the entire history) appear to be on `grpc-canary-interop2`...

[2017-01-06 22:58] PotterDai commented on #8682
@wenbozhu  Add me pls. Thank you!

[2017-01-07 05:14] tonicbupt commented on #9270
🙀 so exceptions like `AbortionError` are replaced by `grpc.RpcError` ... got ...

[2017-01-07 05:17] tonicbupt commented on #9270
but as I see, `NoStubError` and `AbortionError` has no inherited relationship with `RpcError` ... does this mean that in GA API, only `RpcError` will be raised and no more exceptions in `framework/interfaces/face/face.py` will be raised?

[2017-01-07 17:44] NGNeer commented on #9211
Yay! Thank you Julien so much for confirming!

[2017-01-07 17:44] #9211 closed

[2017-01-09 00:42] imysak commented on #8682
@wenbozhu can you add me too? Thank you.

[2017-01-09 01:20] SamuelCox opened #9277 "Are there plans to bring gRPC to .NET Core?"
From what I've looked up on google, currently gRPC isn't compatible with .net core. Are there plans to bring it over? Would be a great addition.

[2017-01-09 02:08] kpayson64 commented on #9270
Correct.  The old exception types are not part of the GA API.

[2017-01-09 02:49] apolcyn commented on #9277
yes the 1.0.1 release supports .net core - it has a `netstandard1.5` target. It also supports the previously supported .NET 4.5. (see https://www.nuget.org/packages/Grpc.Core/)

[2017-01-09 02:49] #9277 closed

[2017-01-09 04:23] timfeirg commented on #9270
closing this issue now, however I think it's best to reflect this conclusion somewhere in the documents.

[2017-01-09 04:23] #9270 closed

[2017-01-09 06:03] tbillington opened #9278 "Setting php namespace in proto fails"
Setting the option `php.namespace` in proto files fails with `Option "php_package" unknown`. The option is described in the repo [here](https://github.com/stanley-cheung/Protobuf-PHP#generating-php-classes). I'm using protoc-gen-php to generate the proto files.

I have tried these as the name of the option, all of them get similar error messages though.
- `php.namespace`
- `php_namespace`
- `names

[2017-01-09 07:14] sulliwane commented on #9216
I believe it is due to a slow DNS resolution at my work office. I can't reproduce the delay with server running on local machine. I'm closing for now, and will reopen if I can reproduce on local machine.

[2017-01-09 07:14] #9216 closed

[2017-01-09 07:17] sulliwane commented on #9170
@murgatroid99 Any advice on this one? (best way to acknowledge the stream request is successful / opened) thanks

[2017-01-09 08:52] xiangwangfeng opened #9279 "A simpler way to add class prefix for ObjC class which generated by protoc？"
If we need to add class prefix for ObjC class which generated by protoc，we should add a option like option objc_class_prefix = "NTES"   in .proto file. However we should do the same things when we have many many .proto files. Isn't simpler that we add a option in podspec to generate class with prefix。

Two reasons：
1.It seems only ObjC client care about prefix staff . Other clients and servers don

[2017-01-09 09:50] jtattermusch commented on #9084
Are you trying to build gRPC C core or C++? Building C core with MSVC2015 is fully supported (and also gets continuously tested). Building C++ is trickier (mostly because of the gRPC dependencies like protobuf and boringssl rather than gRPC itself), but we are working on improving the situation.

[2017-01-09 09:55] jtattermusch commented on #9197
There are no restrictions on the gRPC C# side in terms of what application type you have to use. If you cannot run console applications as a windows service, use some other application type (which you can).

[2017-01-09 09:55] #9197 closed

[2017-01-09 09:56] jtattermusch commented on #9197
Please reopen if you still have issues.

[2017-01-09 10:09] dreamyzhang opened #9280 "How to receive multiple data streams in a thread at the same time?"
as follows,  h1, h2 can block each other.  how to parallel execution？

service test{
	rpc hello1() returns (stream string){}
	rpc hello2() returns (stream string){}
}
def  h1(stub):
	hs = stub.hello1()
	for h in hs:
	   print(h)
def h2(stub):
	hs = stub.hello2()
	for h in hs:
	   print(h)

gevent.joinall( [ gevent.spawn(h1, stub), gevent.spawn(h2, stub)]

[2017-01-09 10:19] allquixotic commented on #9084
@jtattermusch Personally I'm using C++, so I built (past tense, yes, using the aforementioned josefizso/grpc-windows repo) grpc++.

First I ran "build_clone.bat". Then I had to do the following:

Find -> Replace (I use Notepad++) all *.vcxproj files in the grpc distribution (recursively) as follows:

`<TreatWarningAsError>true</TreatWarningAsError>` with `<TreatWarningAsError>false</TreatWarningAs

[2017-01-09 16:19] jcanizales commented on #7406
@muxi can you reproduce that?

[2017-01-09 16:41] murgatroid99 commented on #9170
You could use the `"metadata"` event that client streams emit. This is automatically sent when the server sends the first response message, but you can also manually send it from the server with `stream.sendMetadata(metadataObject)`.

[2017-01-09 17:09] peterrosell commented on #8682
I'm also interested in this. Can you add me? Thank you.

[2017-01-09 17:14] tmatsuo opened #9281 "PHP: Fails to compile when trying to compiling manually with `phpize`"
Background: My goal here is to create a pre-compiled debian package for our [PHP runtime](https://github.com/googlecloudplatform/php-docker).

On our debian jessie based runtime, it fails to compile with the following commands:

[code]

[2017-01-09 18:56] tmatsuo commented on #9281
When I apply the following patch to the downloaded source code, it succeeds to compile:

[code]

Maybe I can just add this patch before calling phpize for now, but does it make sense to apply it to `templates/config.m4.template`?

[2017-01-09 19:25] stephenplusplus opened #9283 "@google-cloud/speech Segmentation fault"
_From @pepperkick on January 8, 2017 3:40_

#### Environment details

  - OS: Windows Bash Ubuntu 16.04
  - Node.js version:  7.4.0
  - npm version: 4.0.5
  - google-cloud-node version: @google-cloud/speech 0.5.0

#### Steps to reproduce

[code]

Error I get when I speak
[code]

_Copied from original issue: GoogleCloudPlatform/google-cloud-node#1907_

[2017-01-09 19:25] stephenplusplus commented on #9283
@jgeewax any idea who can help with this, someone from the Speech team maybe?

[2017-01-09 19:25] stephenplusplus commented on #9283
_From @jgeewax on January 9, 2017 17:25_

I think this is a gRPC fault, right?

[2017-01-09 19:25] stephenplusplus commented on #9283
Could be! @murgatroid99 should we move this issue over to grpc?

[2017-01-09 19:25] stephenplusplus commented on #9283
_From @murgatroid99 on January 9, 2017 18:26_

Yes, this would be good to move to gRPC. It does look like a gRPC problem. The "Function not implemented" bit makes me suspect that this is an issue with trying to use the epoll API on Windows Bash Ubuntu.

[2017-01-09 19:32] ctiller commented on #9283
Looks like we need better platform detection for when to use epoll.
Any information on which grpc library was used here?

On Mon, Jan 9, 2017 at 11:25 AM Stephen Sawchuk <notifications@github.com>
wrote:

[2017-01-09 21:35] murgatroid99 commented on #9283
I would bet on Node gRPC version 1.0.1, just because that's been out for a while. And it's running on Node 7, which means they probably compiled on that system, because we don't have Node 7 precompiled binaries yet.

[2017-01-09 21:51] ctiller commented on #9283
So to get a fix in flight, I'll need:
- version of gRPC (I can believe 1.0.1, but need confirmation: pre-1.0 is
likely broken and the fix will be to update)
- a debug log (run with GRPC_VERBOSITY=DEBUG set in the environment) --
there's a line saying 'Using polling engine: ' that I need to see

On Mon, Jan 9, 2017 at 1:35 PM Michael Lumish <notifications@github.com>
wrote:

[2017-01-09 22:28] NGNeer commented on #6948
In a related matter, the C# example of RouteGuideClient can be downright misleading. It does a Wait() on the tasks returned by the asynchronous methods, thereby blocking on them. This can be catastrophic if the code is brought into a multi-threaded Windows application and executed on the UI thread.

[2017-01-09 23:54] drobertduke commented on #9189
@murgatroid99

[2017-01-10 00:04] murgatroid99 commented on #9189
`grpc_tools_node_protoc` just runs the base `protoc` with the gRPC plugin. So this is actually a bug with protobuf (https://github.com/google.protobuf).

[2017-01-10 00:29] ncteisen opened #9287 "Cloud to Prod Auth Interop Tests are Failing"
The cloud_to_prod_auth tests have been failing for a few days now. See https://grpc-testing.appspot.com/job/gRPC_interop_master/10220/#showFailuresLink.

[2017-01-10 00:47] murgatroid99 opened #9288 "The Node server's addService method should do some argument validation"
Currently, `server.addService` will accept just about anything, up to and including `undefined` as a value for the `service` argument without complaint. It should fail if the argument does not have the expected type.

[2017-01-10 01:47] sulliwane commented on #9170
This mechanism fits perfectly my needs. Thanks!

[2017-01-10 01:47] #9170 closed

[2017-01-10 01:59] qiuxd opened #9289 "grpc core down while the request destroy and it was still in wait_concurrent list"
the sence is:
i use concurrent limited in the server as:
void UpdateArguments(::grpc::ChannelArguments* args)
{
    args->SetInt(GRPC_ARG_MAX_CONCURRENT_STREAMS, 1);
}
to limit the server link with max concurrent 1.
my service will not reply, so only one request will be accepted.
and the second request will queue in GRPC_CHTTP2_LIST_WAITING_FOR_CONCURRENCY list .

if the second request is timeout

[2017-01-10 02:48] stanley-cheung commented on #9281
The last time I tried, if we apply your patch, then `pecl install grpc` will fail. For some reason, `pecl download grpc` and then install the `.tgz` file does things slightly differently than doing `pecl install grpc` straight up.

There may be another config line in `config.m4` that we have missed.

[2017-01-10 02:51] stanley-cheung commented on #9017
Sorry this is a confusing time period where we are switching between proto implementation

Current state: v1.0.1 is released. It uses the DrSlump fork. It only works for proto2 files.

Future (hopefully not long) state: v1.1 is going to be released (hopefully) soon. That is going to use the official google/protobuf proto3 implementation. That is what you will find on the `master` (but unreleased)

[2017-01-10 02:55] stanley-cheung commented on #9151
Is this still an issue? It seems to be occasionally green now, like this: https://grpc-testing.appspot.com/job/gRPC_master_macos/1162/

[2017-01-10 03:06] matt-kwong commented on #9151
I created this issue as per the BUILDPONY rules to keep track of how frequent an issue is. I do not think the issue is common and it might have been a flake for that one day it happened twice, but I'll keep this issue open for a little while longer to see if it happens again.

[2017-01-10 03:57] muxi commented on #7406
I am going to take a look later today

[2017-01-10 08:06] amitwaisel commented on #8673
@jtattermusch Seems like the decryption errors happen when a large number of gRPC streams are active between the server and multiple clients.
Each one of the following errors (`TSI_INTERNAL_ERROR` and `TSI_DATA_CORRUPTED`) cause the connection to be dropped:

As for the encryption, `SslCredentials` are used. The server uses the CA certificate + server's certificate + server private key, and the cl

[2017-01-10 09:29] joa commented on #8682
@wenbozhu Kindly add me as well please. Thank you.

[2017-01-10 09:36] muxi commented on #7406
Tried using `src/objective-c/examples/Sample`, with a self-written Swift podspec as `SwiftRPC` and ProtoRPC as `BaseRPC`. Unable to reproduce this issue with this setting though; archive is normal.

[2017-01-10 10:01] jcanizales commented on #7406
Maybe `ProtoRPC` has some config that needs to be manually set in a user-made `BaseRPC`, though.

[2017-01-10 13:29] bch007 commented on #4351
this is awesome work! big thanks ! :)

[2017-01-10 17:12] rogerza opened #9292 "Receive Metadata from Go Client"
I have a Go client and a Python server. When I send metadata from the client to the server, the metadata is not present on the server side

Client:
	md := metadata.Pairs("foo", "val")
	ctx := metadata.NewContext(context.Background(), md)
        client.MyCall(ctx, &message)

Server:
       context.invocation_metadata()   # all I get from this is (('user-agent', 'grpc-go/1.0'),)

Is there a way to

[2017-01-10 17:32] maehld commented on #8682
@wenbozhu I'm currently evaluating gRPC and would like to take a look at the grpc-web repository. Thanks.

[2017-01-10 17:44] matt-kwong commented on #9287
This was an issue that was happening on grpc-canary-interop2 and was caused by me recreating the VM on Friday to resolve some other interop flake. It should be fixed now, but I'll leave this issue open so others can see why their interop pull request test was failing.

[2017-01-10 18:06] jeffomatic commented on #8682
@wenbozhu Could I please be added to the whitelist? Thanks.

[2017-01-10 19:33] Hronom commented on #8718
Yea, also interested about push notification mechanic with gRPC

[2017-01-10 20:17] jcanizales commented on #8131
@muxi, can you take a look?

[2017-01-10 20:39] ncteisen opened #9293 "gRPC Master Linux has Been Failing"
sanity_linux_opt.tools/buildgen/generate_projects.sh has been failing on Master Linux for a few days now. See [here](https://grpc-testing.appspot.com/job/gRPC_master_linux/) The failure was introduced when now files were added to the Doxygen files. The PR was #9273.

#9285 did not fix this issue. It turns out that running generate_projects.sh has different effects if you run on MacOS vs Linux. It

[2017-01-10 20:48] ericgribkoff commented on #9293
It might be the use of `glob`, which seems to return an unsorted result: https://github.com/grpc/grpc/blob/master/templates/tools/doxygen/Doxyfile.include#L798

[2017-01-10 20:49] ctiller commented on #9293
Fix incoming

On Tue, Jan 10, 2017 at 12:48 PM Eric Gribkoff <notifications@github.com>
wrote:

[2017-01-10 20:52] ctiller commented on #8718
Usually best to create a long-lived stream from client -> server to receive
notifications on. The server does writes whenever there's new stuff, and
the client keeps reading.

On Tue, Jan 10, 2017 at 11:33 AM Eugene <notifications@github.com> wrote:

[2017-01-10 21:32] denislins opened #9296 "Ruby 2.4 support"
Ruby 2.4.0 was released last December 25th, and among many changes, it unifies both `Fixnum` and `Bignum` into `Integer`.

Unfortunately, the C extension relies on the fixnum symbol, which was apparently removed, even though the Ruby class still exists, only deprecated.

When I start a grpc server using Ruby 2.4.0, I get this error:

[code]

Are there plans to support this version of ruby in the s

[2017-01-10 21:49] #9029 closed

[2017-01-10 22:24] nathanielmanistaatgoogle commented on #9280
[gRPC Python is not currently compatible with gevent](https://github.com/grpc/grpc/issues/4629). If it's just parallel RPCs that you want to make, what about calls like `stub.hello1.future()` and `stub.hello2.future()`?

(Closing this as a duplicate of [issue 4629](https://github.com/grpc/grpc/issues/4629).)

[2017-01-10 22:24] #9280 closed

[2017-01-10 23:10] ncteisen opened #9300 "Eliminate Race Condition in Negative HTTP2 Clients"
All four negative http2 clients (python, c++, java, go), have a potential race condition in the GOAWAY test. There is a situation in which the client sends out the second UnaryRequest before the server can send the GOAWAY. This could cause flakiness.

We should have the client wait for verification that a GOAWAY was seen before sending the second request.

[2017-01-10 23:11] ncteisen commented on #9300
cc @ericgribkoff @makdharma

[2017-01-10 23:14] apolcyn commented on #9296
@denislins the next release at v1.1 along with the updated protobuf dependency to 3.2, is planned to run on ruby 2.4.0.

[2017-01-10 23:24] #9293 closed

[2017-01-10 23:35] menghanl commented on #9292
What you did seems correct.
Can you provide a small test to reproduce?

[2017-01-10 23:49] #9227 closed

[2017-01-11 00:12] ctiller opened #9304 "cacheable_unary is not listed in interop_client C++ help text for FLAGS_test_case"

[2017-01-11 00:35] ctiller opened #9305 "Run interop test suites with ASAN, MSAN, TSAN"
Current C++ interop client/server implementation quality is *terrible*, and a lot of the bad could be caught much earlier if we ran sanitizers more frequently on this code.

[2017-01-11 02:50] dreamyzhang commented on #9280
it is like the following.  In the main.py,  How should I use stub.hello1.future() and stub.hello2.future()?

test.proto
service test{
	rpc hello1(args) returns (stream string){}
	rpc hello2(args) returns (stream string){}
}

main.py
authMetaPlug =  MyAuthPlugin()
callCredentials = grpc.metadata_call_credentials(authMetaPlug, None)
creds = grpc.ssl_channel_credentials(None, None, None)
channel_cred

[2017-01-11 02:55] rogerza commented on #9292
well, this may actually be a local application issue. I made a basic test repo and when I run the python server and GO client, the metadata is there, as expected. I will keep testing.

https://github.com/rogerza/grpc_hello

[2017-01-11 03:15] dreamyzhang commented on #9280
AttributeError: '_UnaryStreamMultiCallable' object has no attribute 'future'
do as you say, throw a exception.

[2017-01-11 03:45] sreecha opened #9306 "Do better write-coalescing for WINDOW_UPDATE writes"
When running grpc streaming benchmarks, I noticed that the grpc client is almost doing one tcp `write` per `WINDOW_UPDATE` frame (in some cases it gets coalesced with other writes but I noticed that in most of the cases it doesnt).

This can be observed by turning the `flowctl`, `http` and 'tcp` traces and on DEBUG builds
i.e
[code]

[2017-01-11 04:52] nathanielmanistaatgoogle commented on #9280
Ah, I didn't notice that your RPC methods are response-streaming, not response-unary. In that case there is no `.future` attribute. In that case `h1` and `h2` are iterator objects that block when asked to emit their next value and we don't have a mechanism for asynchronously registering interest in when that happens.

Consume them in different threads?

[2017-01-11 12:22] jtattermusch opened #9309 "Python unit.beta._not_found_test.NotFoundTest.test_future_stream_unary_not_found test is flaky"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1799/testReport/junit/(root)/python_linux_opt/py27_test_unit_beta__not_found_test_NotFoundTest/

[code]

[2017-01-11 12:29] jtattermusch commented on #6072
Fixed in #9307.

[2017-01-11 12:29] #6072 closed

[2017-01-11 12:29] jtattermusch commented on #6073
Fixed in #9307.

[2017-01-11 12:29] #6073 closed

[2017-01-11 12:30] jtattermusch commented on #8774
Fixed in #9307.

[2017-01-11 12:30] #8774 closed

[2017-01-11 12:32] jtattermusch commented on #6136
Fixed in #9307.

[2017-01-11 12:32] #6136 closed

[2017-01-11 15:18] marsbroshok commented on #8682
@wenbozhu Could you kindly give me access to grpc-web please? Thanks!

[2017-01-11 16:41] stephenplusplus opened #9311 "Cannot install on Windows machine - npm errors"
_From @jonair on January 11, 2017 16:35_

Hi there

#### Environment details

  - OS: Windows 8.1 Pro
  - Node.js version:
  - npm version:
  - google-cloud-node version: ? won't install

#### Steps to reproduce

  1. npm install google-cloud --save

Get the errors shown in attached log and a very full DOS window:

node-pre-gyp ERR! Tried to download(404): https://storage.googleapis.com/grpc-pr
ec

[2017-01-11 16:41] stephenplusplus commented on #9311
_From @jonair on January 11, 2017 16:35_

[npm-debug.log.txt](https://github.com/GoogleCloudPlatform/google-cloud-node/files/699436/npm-debug.log.txt)

[2017-01-11 17:07] justbill2020 opened #9312 "error on grpc install"
Hi Guys, doing an npm install. during the install and I got this message. Is this OK?
node-pre-gyp ERR! Tried to download(404): https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.0.1/node-v48-linux-arm.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@1.0.1 and node@6.9.4 (node-v48 ABI) (falling back to source compile with node-gyp)

it seems like this happens durin

[2017-01-11 17:28] chrisbaume opened #9313 "Gmock links for protobuf have moved"
gRPC depends on protobuf v3.0.0. In protobuf's autogen.sh it downloads gmock, but the links in v3.0.0 are broken.

The solution is to apply this patch in third_party/protobuf after updating the submodules:
https://github.com/google/protobuf/commit/bba446bbf2ac7b0b9923d4eb07d5acd0665a8cf0.patch

Alternatively, add something to the README to make sure gmock is installed first.

[2017-01-11 17:47] murgatroid99 commented on #9311
We don't yet have precompiled binaries for Node 7. I expect that those will be released very soon, then this should work again.

[2017-01-11 18:17] wenbozhu commented on #8682
DONE

[2017-01-11 18:21] alileza commented on #8093
@akamos didn't sure if this fix your problem or not, but i'm using `nginx stream` module. it's automatically reconnect to another server in the upstream whenever connection broken, and it works well for me. i wrote blog post of how i implement it here http://alileza.xyz/grpc-load-balancing-using-nginx/

[2017-01-11 18:37] adelez commented on #9304
cacheable_unary is only supported on gateway_v4 and cloud_gateway_v4. We can either add this when we use these two prod gateways for master and PR interop tests or just add it to a new category such as _EXPERIMENTAL_TEST_CASES = ['cacheable_unary']

[2017-01-11 19:03] kkimdev opened #9316 "Rust language port."
Rust is very close to C++ in terms of machine abstraction and has a straightforward C ffi, so shouldn't be too hard to support Rust.  What's gRPC team's stance on this?  Would you take Rust port contribution?

[2017-01-11 19:21] jonair commented on #9311
So is there no solution for me to use google cloud? Can I move to a version of Node that will allow this project to continue and not just stop?

[2017-01-11 19:27] murgatroid99 commented on #9312
When you say "the install *of* electron", do you mean that you are trying to install electron itself, or that you are trying to install some library to use with electron?

If you're trying to install something to use with electron, we don't have precompiled binaries for ARM. We also don't yet support electron, and when we do, you will have to follow [electron's instructions for installing native n

[2017-01-11 19:29] jonair commented on #9311
COOL - I've gone to node 6.9.4 and all is installed - thank you!

[2017-01-11 21:35] AA33 opened #9320 "Document that grpc.Channels provided by gRPC Python are thread-safe and that stubs provided by gRPC Python are thread-safe when used with thread-safe grpc.Channels"
We are using Go for our gRPC server and Python for the clients. Can a client stub created at startup be safely shared across threads/processes?

[2017-01-11 22:04] #9287 closed

[2017-01-11 23:11] #8074 closed

[2017-01-12 00:53] rmhrisk commented on #8682
@wenbozhu could you please give me access as well.

[2017-01-12 01:50] #7827 closed

[2017-01-12 02:31] ryanchou1991 commented on #8093
@alileza could nginx be the load-balancer for the gRPC servers ?

[2017-01-12 02:51] alileza commented on #8093
@ryanchou1991 it seems so, using at least version 1.9.0 along with `ngx_stream_core_module`

[2017-01-12 03:01] danbenedicto commented on #8682
@wenbozhu Could you please add me too? Thank you!

[2017-01-12 03:03] ryanchou1991 commented on #8093
@alileza cool, Thanks for your solution. I have searched for a long time. The nghttp2 could support gRPC. I have no idea nginx could also be the load-balancer for gRPC-servers with the module you mention above.

[2017-01-12 03:43] muxi commented on #7406
Just tried a user-made one and result is the same :)

[2017-01-12 04:10] muxi commented on #7406
@k7 We probably need some more information on your problem. Could you provide a link to the project with problem or any code available?

[2017-01-12 05:31] dreamyzhang commented on #9280
yeah， I use multithreading for every data streams now, and  using a connection. it is no  problem?

[2017-01-12 06:25] nathanielmanistaatgoogle commented on #9280
Multiple RPCs sharing a single connection? That is in fact exactly the intended use of gRPC.

[2017-01-12 06:32] lyuxuan commented on #9150
#8770

[2017-01-12 06:39] dreamyzhang commented on #9280
yeah，  I using the stub   like a global variable for multithreading .   I think I don't care about the lock, grpc will care this?

[2017-01-12 07:49] leodesigner commented on #1035
I was trying to build Tensorflow under FreeBSD.
Got the same error regarding:
`
if (0 != setsockopt(fd, IPPROTO_IP, IP_PKTINFO, &get_local_ip,
`

[2017-01-12 08:26] amitwaisel commented on #8673
As far as I can tell, this issue happens because of some race condition in OpenSSL library, which is used only on Windows (issue #9085 describes the linkage spaghetti). gRPC uses version 1.0.2d which is over 1.5 years old, and might not support multithreading well (for example, I found a bug in memory release inside crypto/err.c, which is not well-thread-protected in version 1.0.2d).
After some ma

[2017-01-12 10:45] pilt commented on #8682
@wenbozhu Dito. ;)

[2017-01-12 12:35] lyuxuan commented on #9124
also for epoll
#8816

[2017-01-12 12:50] #8536 closed

[2017-01-12 16:00] #9142 closed

[2017-01-12 17:35] bellaj commented on #7236
Thanks @skymapHans very much. that was exactly my problem, in the beginning i suspected a file corruption but when i read your answer I've remembered that I've omitted the "node_modules/*
" from the .dockerignore file.

[2017-01-12 17:39] nathanielmanistaatgoogle commented on #9280
[Boo to global variables](https://google.github.io/styleguide/pyguide.html#Global_variables) but yes, the `grpc.Channel` objects created by gRPC Python are internally synchronized and thus safe for lock-free use from concurrent threads.

[2017-01-12 18:35] apolcyn commented on #9200
@aaron-lim though there's no API for examining the client cert in the server app's code, SSL/TLS client auth is supported.

This can be done by creating the proper `GRPC::Core::Credentials` object and passing it to your client stub's constructor.

http://www.grpc.io/docs/guides/auth.html gives some example usage of the `GRPC::Core::Credentials` object for server auth.

For client auth, e.g. you co

[2017-01-12 19:17] apolcyn commented on #9235
@neuecc just for the Metadata workaround, is the problem here of not being able to access trailers only for blocking unary calls? Just as mentioned in #8042, the trailers are available on the call object, which is accessible on all calls besides blocking-unary.

[2017-01-12 19:27] apolcyn commented on #9124
seen again in https://github.com/grpc/grpc/pull/9322

[2017-01-12 19:28] apolcyn commented on #9150
seen again in https://github.com/grpc/grpc/pull/9322

[2017-01-12 20:12] michaelcurry commented on #8074
Thanks @thinkerou  & @stanley-cheung

rebuilt and tested on my local and we are about to push this to prod.  Looks like everything is working as intended.

[2017-01-12 20:29] #9281 closed

[2017-01-12 20:42] stanley-cheung commented on #8670
@nicolasnoble FYI, running `make` on a stock Ubuntu 16.10 instance fails when compiling boringssl.

[code]

I tried a couple newer commits on the boringssl commits and it didn't help as we seem to be set on a particular branch 2661.

[2017-01-12 20:43] nicolasnoble commented on #8670
Can we check if upgrading our boringssl version fixes this ?

[2017-01-12 21:03] stanley-cheung commented on #8670
Moving boringssl to this commit: ea2d217b9bc6c0bbbe8ded19b35584532c955ba0 seem to work

[2017-01-13 02:20] apolcyn commented on #8989
seen again in https://github.com/grpc/grpc/pull/9322

[2017-01-13 04:56] apolcyn commented on #9182
seen again: https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1858/testReport/junit/(root)/python_linux_dbg/py27_test_protoc_plugin_beta_python_plugin_test_PythonPluginTest/

[2017-01-13 05:34] tbillington commented on #9316
https://github.com/stepancheg/grpc-rust already works (for the most part).

[2017-01-13 06:02] muxi commented on #8131
@jcanizales - @gfxcc's analysis seems to be right. `GRPCCall`'s state seems to be overwritten when `SEND_MESSAGE` op is complete. I am thinking of a solution to always add a `GRXBufferedPipe` between `GRPCCall` and requestWriter.  It acts as a message-to-be-sent queue for `GRPCCall` when a `SEND_MESSAGE` is still pending complete. What do you think?

[2017-01-13 06:22] kkimdev commented on #9316
Yes so I was using that, but to my understanding it barely implements basic stuff.  For example there is no metadata support.  And since we don't have much resource to maintain it, it will be more beneficial to rely on gRPC core lib so that we can get all the updates for free.

[2017-01-13 07:18] jtattermusch commented on #9192
CC @jtattermusch

[2017-01-13 07:21] jtattermusch commented on #9309
Seen again: https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/1817/

[2017-01-13 11:31] traceon commented on #8682
@wenbozhu add me too, please. Thank you!

[2017-01-13 11:43] jcanizales commented on #8131
The problem with adding a BufferedPipe in between is that it drops the control flow information that the server is telling the client. Say I want to write a long stream of big bytes chunks: Right now, the server will automatically control when are further writes allowed. With a BufferedPipe in between, the writer would dump everything into the pipe, wasting memory and sometimes leading to an OOM s

[2017-01-13 13:35] danamajid commented on #6976
+1

[2017-01-13 14:54] ctiller opened #9344 "All C++ performance runs failing"
Looks like we have trouble uploading to bigquery:

[code]

[2017-01-13 14:55] ctiller commented on #9344
@sreecha may be able to help

[2017-01-13 16:03] widmogrod commented on #8682
@wenbozhu could you please give me access as well

[2017-01-13 20:00] apolcyn commented on #8997
seen again in PR  https://github.com/grpc/grpc/pull/8304
log in https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/8458/console

[2017-01-13 21:49] apolcyn commented on #9046
failures on poll, epoll, and legacy seen in https://grpc-testing.appspot.com/job/gRPC_pull_requests_tsan_cpp/1226/#showFailuresLink

from PR: https://github.com/grpc/grpc/pull/8304

[2017-01-13 21:54] apolcyn commented on #9092
seen again in https://github.com/grpc/grpc/pull/8304, against `v1.0.x`

log in: https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/10576/consoleFull

[2017-01-13 22:31] apolcyn opened #9347 "check_nano_output.sh diff failure on v1.0.x"
seen from PR: https://github.com/grpc/grpc/pull/8304 against `v1.0.x`

log in https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1894/testReport/junit/(root)/sanity_linux_dbg/tools_distrib_check_nanopb_output_sh/
and
https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1894/testReport/junit/(root)/sanity_linux_opt/tools_distrib_check_nanopb_output_sh/

relevant error looks like

[2017-01-13 22:37] apolcyn opened #9349 "test failure on 'GRPCClientTests testMetadata]'"
seen in PR: https://github.com/grpc/grpc/pull/8304 against `v1.0.x`

log in: https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/1859/testReport/junit/(root)/objc_macos_dbg/objc_tests/

error message:
[code]

[2017-01-13 23:13] #6138 closed

[2017-01-14 00:07] muxi commented on #8131
A more sophisticated state control sounds great. I think there is a way to wrap the states so that it is as instinctive to user as pausing and hide all the foresights inside.

[2017-01-14 01:29] ychen11 commented on #6976
@murgatroid99 How is this issue now? It's been already 2017 Q1.
I saw that PR #8125 was merged?

[2017-01-14 23:04] c4milo commented on #8682
@zinuga, @wenbozhu I'm also interested in looking into grpc-web! Thanks!

[2017-01-15 02:35] huangyingqiu commented on #8943
@ncteisen Thanks,But It don't help me and report another error on my macOS10.12!

[2017-01-15 04:14] kcchenkd opened #9353 "Run node application with grpc on linux ARM processor"
This is more like question than issue. Since I could not find the answer from stack overflow, so hoping to find the answer from here.

Node: 6.9.1
grpc: 1.0.1

I could not find the grpc precompiled binary extension for node (grpc_node.node) for arm processor.

Is it one exist for ARM processor? If it does, please point me the link to download it.

If not, can you please provide instruction to buil

[2017-01-15 05:42] xiang90 commented on #8682
I am interested in grpc-web.

[2017-01-15 05:43] arbesfeld commented on #8682
Me too, please

[2017-01-16 10:44] jtattermusch commented on #8318
Duplicate issue exists. Closing.

[2017-01-16 10:44] #8318 closed

[2017-01-16 10:46] jtattermusch opened #9354 "Ruby artifact build is broken on Linux (x64)"
https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_build_artifacts/2586/architecture=x64,language=ruby,platform=linux/

[2017-01-16 10:49] jtattermusch opened #9355 "Python Windows x64 artifact build is broken"
https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_build_artifacts/2586/

[2017-01-16 10:50] jtattermusch opened #9356 "Protoc artifact build on Windows is broken"
https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_build_artifacts/2586/

[2017-01-16 10:50] arthur-tacca commented on #8296
Maybe this makes sense in a wider context (upcoming load balancing features, or for clients of stateful servers). But it does not make sense in our narrow context ☺️ At the moment, every time we make a request we have to check the return code and retry (once) if the error is "service unavailable". Perhaps there could be a way to label a channel as being OK to reconnect over (so long as the disconn

[2017-01-16 11:35] hir3npatel commented on #9223
This WSGI config for apache seems to get around the issue:

WSGIApplicationGroup %{GLOBAL}

[2017-01-16 12:13] dehypnosis commented on #8339
same issue..

[2017-01-17 05:39] bensigelman commented on #8767
@nathanielmanistaatgoogle this has come up a bunch of times now w.r.t. OpenTracing... another example (one of many, some of which are not on github): https://github.com/grpc-ecosystem/grpc-opentracing/issues/11#issuecomment-272371195

I mean, from http://www.grpc.io/about/ itself:

It doesn't seem like the "tracing" part is pluggable at all right now, which is a problem as I keep on recommending G

[2017-01-17 05:40] bensigelman commented on #8767
Also, I propose we rename this issue so I don't have to file another one about Javascript et al: `s/GRPC python/all supported GRPC languages/`

[2017-01-17 06:27] simonhorlick commented on #8682
I'm also interested in grpc-web. Could you please add me?

[2017-01-17 08:34] neuecc commented on #9235
@apolcyn Yes, trailers can be taken from the call object.
However, it is not possible to take a call object from outside the scope, for example, if you want to implement common processing in all methods.
Normally, we will take such exception and do common processing, in that case we should get the necessary information from Exception.
For example, `WebException` can take a response body to get err

[2017-01-17 09:02] chenjin3 opened #9359 "Add example on how to use JWT credentials with Node.js"
Update http://www.grpc.io/docs/guides/auth.html
https://github.com/grpc/grpc.github.io/blob/master/docs/guides/auth.md to contain an example how to use JWT credentials.

[2017-01-17 09:19] sulliwane opened #9360 "Python thread throwing exception when passed a stream as arg"
If I create the stream object and then pass it to the thread, it will throw:
[code]
the error:
[code]
If I create the stream in the thread, then no problem:
[code]
@nathanielmanistaatgoogle Any idea why it's not possible to start the thread with the stream already created as an argument?
thanks!

[2017-01-17 13:26] mjkim commented on #8682
Could you please give me access grpc-web?

[2017-01-17 14:36] nathanielmanistaatgoogle commented on #9360
@sulliwane: what your code doesn't show but what I'd really like to know is what's happening in your first thread after launching the second thread. If your stub and channel go out of scope and are garbage-collected they will cancel all in-flight RPCs outstanding on them. Could that be the cause of the `StatusCode.CANCELLED` status that you are observing?

[2017-01-17 14:45] caseylucas commented on #8682
can you add me please?

[2017-01-17 16:15] rjshade opened #9363 "memory_profile_test flaky on Linux"
$ git clone https://github.com/grpc/grpc.git
$ cd grpc
$ git submodule update --init
$ ./tools/run_tests/run_tests.py --language c --config dbg --regex "memory_profile_test"  --runs_per_test 100

Approximately 10% of test runs fail (with TCP connection refused, see logs below).

D0117 11:13:55.779366510    8434 ev_posix.c:105]             Using polling engine: poll-cv
D0117 11:13:55.781495143    8

[2017-01-17 16:20] rjshade commented on #9363
Adding a sleep(1) between starting the server subprocess, and starting the client subprocess seems to fix it, but there may be a better fix than simply waiting for a second.

With the following patch, 100% of test runs pass:
$ ./tools/run_tests/run_tests.py --language c --config dbg --regex "memory_profile_test"  --runs_per_test 100
PASSED: make [time=1.4sec; retries=0:0]detected port server runni

[2017-01-17 16:24] ctiller commented on #9363
Suspect the write fix is to add GRPC_INITIAL_METADATA_WAIT_FOR_READY_EXPLICITLY_SET to the initial metadata op flags for requests sent from the client (to force waiting for the server to start).

[2017-01-17 18:21] ajardan opened #9365 "Error during installation on CentOS 6"
Hi guys!

I encountered a issue I cannot solve, so I am asking for help.

[code]

Here is the installed gcc version:
[code]

Is it even possible ? I tried to find requirements for gcc version, but didn't find any.

[2017-01-17 18:47] hsaliak commented on #8670
@nicolasnoble @stanley-cheung have we verified the fix, if not this might qualify as a release blocker?

[2017-01-17 18:52] stanley-cheung commented on #8670
So the fix #9340 is currently under review. @jboeuf is looking into an MSAN issue

[2017-01-17 19:44] apolcyn commented on #8551
Looking at recent failures reports and logs from `performance_master` and `performance_experiment` jobs, it looks like these are now passing.

(looked at jobs in https://grpc-testing.appspot.com/job/gRPC_performance_master/ and https://grpc-testing.appspot.com/job/gRPC_performance_experiment/)

I think this has been fixed, closing for now.

[2017-01-17 19:44] #8551 closed

[2017-01-17 19:49] apolcyn commented on #6525
on top of the findings here, this looks like a dup of https://github.com/grpc/grpc/issues/7727 (in that `gem install` isn't fetching pre-compiled binaries).

The fix for #7727 also appeared to be an update to rubygems - closing as this looks to be fixed.

[2017-01-17 19:49] #6525 closed

[2017-01-17 19:53] apolcyn commented on #8404
Removing this from the 1.1 milestone as it appears to be fixed on the master branch. The repro here only occurs on `v1.0.x`.

[2017-01-17 19:58] apolcyn commented on #8349
Removing this from 1.1 milestone as this is no longer seen on the master branch.

(error that appeared to be causing it was https://github.com/grpc/grpc/issues/8404)

Leaving open though, this is an issue on `v1.0.x`.

[2017-01-17 20:08] apolcyn commented on #8918
Just for clarity adding this to 1.1 release pre-reqs.

At least for ruby package builds though, this is fixed by #8957.

[2017-01-17 20:37] #9363 closed

[2017-01-17 20:49] nathanielmanistaatgoogle commented on #9320
Yes.

Retitling issue to reflect that we should make this clear in gRPC Python's documentation.

[2017-01-17 20:57] nathanielmanistaatgoogle commented on #9223
Are you able to share with us sample code that reproduces the issue?

[2017-01-17 22:21] jboeuf commented on #8670
Note that I'm at an offsite today and tomorrow. It's going to be hard for
me to resolve the msan issue during that time.

On Tue, Jan 17, 2017 at 10:53 AM, Stanley Cheung <notifications@github.com>
wrote:

[2017-01-17 22:58] murgatroid99 commented on #8083
I mentioned this in an email: I don't know what changes in 1.0.1 could have caused a change in this behavior. Since this bug appears to no longer be occurring, I will close this issue.

[2017-01-17 22:58] #8083 closed

[2017-01-17 23:56] nathanielmanistaatgoogle commented on #262
This has been done in [pull request 9276](https://github.com/grpc/grpc/pull/9276).

[2017-01-17 23:56] #262 closed

[2017-01-18 00:57] luckystar513 commented on #8682
@zinuga could I get read permission to grpc-web?

[2017-01-18 03:29] stanley-cheung commented on #9215
I actually can't quite reproduce this on Mac or Linux.

[2017-01-18 03:42] neuecc opened #9377 "gRPC Server logs an error when the client is canceled in streaming on C#"
Grpc's logger will show an exception if the client cancels during streaming and the server successfully handles it.

Environment:Windows, C#, Grpc.Core 1.0.1
repro code of use sample's route_guide.proto

[code]

Console log is here.

[code]

This error is come from SendStatusFromServerAsync. https://github.com/grpc/grpc/blob/44e907af0/src/csharp/Grpc.Core/Internal/ServerCallHandler.cs#L156
This ca

[2017-01-18 04:53] sulliwane commented on #9360
So basically I have a class **GrpcClient** that wraps the grpc stub methods, and all of its streaming methods will first get the stream, and then delegate the ```for elem in stream``` loop into a thread, using ```add_worker(stream)```:
[code]
I don't think that my stub is going out of scope as it is attached to the grpcClient instance (which is living in the main thread).

But I will try to come u

[2017-01-18 05:06] sulliwane opened #9378 "Python, convert proto message class to a dict"
Hello,
as I understand, the proto messages are represented using a Class in Python. **I'd like to convert these objects to a dict**.
I tried
[code]
Do I have to build the dict object manually?
Many thanks

[2017-01-18 05:33] wenbozhu commented on #8682
DONE

[2017-01-18 08:12] muxi opened #9379 "Bazel test failed"
Test failures in https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1972/console
Failed the following tests:
[code]

[2017-01-18 08:15] muxi opened #9380 "TIMEOUT: py27.test.unit._rpc_test.RPCTest.testCancelledUnaryRequestUnaryResponse"
Timeout in this test: https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1972/console
[code]

[2017-01-18 08:20] sulliwane commented on #9378
https://github.com/kaporzhu/protobuf-to-dict

[2017-01-18 08:20] #9378 closed

[2017-01-18 08:20] sulliwane commented on #9378
https://github.com/kaporzhu/protobuf-to-dict

[2017-01-18 08:21] muxi opened #9381 "Multiple Failures of Fetching Submodules"
Test failures in https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1972/console
[code]
[code]

[2017-01-18 08:38] jtattermusch commented on #8042
FTR @neuecc would like to have this feature.

[2017-01-18 10:45] neuecc commented on #9202
Te issue I think is `await GrpcEnvironment.ShutdownChannelsAsync();` wait Streaming and user's can't handle its behavior. It would be very nice if there are another method to terminate channel immediately, like `GrpcEnvironment.TerminateChannels();` may be?

[2017-01-18 14:59] neuecc commented on #8042
@jtattermusch

I've commented why RpcException. https://github.com/grpc/grpc/issues/9235#issuecomment-273052274
Current gRPC can not put Japanese in Status.Detail, so as a workaround, we are going to put a message on Trailers instead.
This is a common process to all calls.

Ideally I would like to implement such an implementation.

[code]

Here is a class probably we will make.

[code]

However, i

[2017-01-18 15:07] neuecc commented on #8932
I am having a similar problem and I am planning to take a heartbeat approach in the same way.
I'm making room based games, and in the waiting lobby etc, I want to leave users who have been disconnected.

[2017-01-18 15:37] mbrucher commented on #8729
Can someone from the core team have a look at this? I think we all followed the tutorial from the website (we have to build the library by hand), but it fails for no obvious reason.
Wrong CMake version/bad CMake usage? GCC version (I can't see why it would be a gcc version error)? bad dependencies?

[2017-01-18 16:16] #8918 closed

[2017-01-18 16:43] ctiller commented on #9316
If someone wanted to step up and raise a rust implementation to our quality
bar (the bulk of the work will be in getting testing integrated, and
interop test suites implemented), I suspect we'd gladly pull the wrapper
into the main repository and assume maintenance responsibility.

I suspect it'll take at least a couple of quarters of full time work for
someone to get to a place where that integra

[2017-01-18 18:06] adelez opened #9385 "python_macos_opt.py34.test.unit._cython._channel_test.ChannelTest fails"
python_macos_opt.py34.test.unit._cython._channel_test.ChannelTest (from grpc.python_macos_opt)

Failing for the past 1 build (Since Failed#1932 )
Took 24 sec.
Error Message

Failure
Standard Output

++ dirname /jenkins/workspace/gRPC_pull_requests_macos/workspace_python_macos_opt/tools/run_tests/helper_scripts/run_python.sh
+ cd /jenkins/workspace/gRPC_pull_requests_macos/workspace_python_macos_op

[2017-01-18 18:10] adelez opened #9386 "Some Bazel Full Build & Tests fail because specified size is too big"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_Bazel_full/431/console

//test/core/bad_ssl:bad_ssl_alpn_server                                  FAILED in 0.6s
  /root/.cache/bazel/_bazel_root/d2dc70c3d9da3fab488ba0dcbbd35051/execroot/grpc/bazel-out/local-fastbuild/testlogs/test/core/bad_ssl/bad_ssl_alpn_server/test.log
//test/core/bad_ssl:bad_ssl_cert_server

[2017-01-18 18:11] #9229 closed

[2017-01-18 18:18] nathanielmanistaatgoogle commented on #8062
This seems to be low-priority; punting. We can always raise the priority later if someone steps forward as being affected by a defect here.

[2017-01-18 18:20] carl-mastrangelo commented on #9235
This should have been fixed by https://github.com/grpc/grpc/issues/4672  which handles unicode characters properly. I believe Java and Go already handle this properly.

[2017-01-18 18:25] nathanielmanistaatgoogle commented on #9360
What happens in "The main loop" after "myClient.getStream()"? Is that where your main thread runs out of things to do?

[2017-01-18 18:34] nathanielmanistaatgoogle commented on #8722
Given that [pull request 8745](https://github.com/grpc/grpc/pull/8745) was integrated into `master` on 9 December 2016 we believe that this issue will be fixed in release `1.1.0`. Please verify when the first `1.1.0` release candidate becomes available, which should be... in the next seven days?

[2017-01-18 18:37] nathanielmanistaatgoogle commented on #8695
@kpayson64: how do we determine whether or not this is still happening? Is there a test drafted somewhere that demonstrates it (or verifies that it no longer happens)? If it is still happening; please assign a priority and decide whether or not this should be punted from `1.1` to a later milestone.

[2017-01-18 18:40] nathanielmanistaatgoogle commented on #8629
Punting from `1.1`; this fire just isn't burning hot enough.

Also removing the `BUILDPONY` label; this isn't actually about currently failing tests but rather is about investigating in the future making a potential modification to our tests and then observing whether and how they then begin to fail.

[2017-01-18 18:41] nathanielmanistaatgoogle commented on #8622
Remilestoning; a more realistic target for this issue is "six months after the resolution of [issue 8621](https://github.com/grpc/grpc/issues/8621)".

[2017-01-18 18:50] kkimdev commented on #9316
Thanks.  Btw, I tried Rust bind-generator https://github.com/servo/rust-bindgen .  It worked well with `grpc.h`, but it had a few issues with `grpc++.h`.

[code]

1. Dealing with `decltype`, this is a known issue https://github.com/servo/rust-bindgen/issues/381
2. A few classes weren't generated that prevents compiling, e.g. `std::basic_string`, I don't know why yet.

@emilio FYI

[2017-01-18 19:00] nathanielmanistaatgoogle commented on #8616
The fact that gRPC Python accepts `futures.ThreadPoolExecutor` objects from applications may make this hard; we should sit down at some point and talk over how we might solve it.

[2017-01-18 19:02] nathanielmanistaatgoogle commented on #8232
Deferring; there may be something here that we can improve but this doesn't seem high-enough priority to target to `1.1.0`.

[2017-01-18 19:04] nathanielmanistaatgoogle commented on #7971
We'd like this to happen soon but it's not critical that it be included in `1.1.0`.

[2017-01-18 19:12] adelez opened #9387 "tests.cloud_to_cloud:go:python_server:timeout_on_sleeping_server fails for insecure channel"
https://grpc-testing.appspot.com/job/gRPC_interop_insecure/2/testReport/junit/(root)/tests/cloud_to_cloud_go_python_server_timeout_on_sleeping_server/

Error Message

Failure
Standard Output

2017/01/18 18:56:12 &{0xc8200a0a00}.Recv() = _, rpc error: code = 1 desc = stream terminated by RST_STREAM with error code: 8, want error code 4
exit status 1

For an insecure channel, the server shouldn't re

[2017-01-18 19:13] nathanielmanistaatgoogle commented on #7949
This has gone too long unanswered; closing.

[2017-01-18 19:13] #7949 closed

[2017-01-18 19:16] nathanielmanistaatgoogle commented on #7888
@adelez, @matt-kwong, @ncteisen: if this issue were current one of you would have complained to me about it some time in the last two months, right? Can this be closed or has it silently been a problem still for the last two months? If it's still open, let's make an assessment of its priority and a reassessment of its milestone.

[2017-01-18 19:22] adelez commented on #7888
I was just gonna update: I found that this only happens to machines labeled "interop", not the "interopnew" ones. @jtattermusch, @matt-kwong , do you know any missing settings may cause this issue? Assigning to myself.

[2017-01-18 19:23] nathanielmanistaatgoogle commented on #7767
Punting from `1.1.0`; this could use a prioritization and possibly a work estimation. @soltanmm-google: any opinions on this?

[2017-01-18 19:24] nathanielmanistaatgoogle commented on #7712
This is an entirely team-only concern that doesn't reach users at all; punting from the `1.1` release milestone which was only ever aspirational anyway.

[2017-01-18 19:25] nathanielmanistaatgoogle commented on #7632
Punting; this would be nice to do at some point but there's no need for it to happen in `1.1.0`.

[2017-01-18 19:29] nathanielmanistaatgoogle commented on #7456
Punting; the resolution of this issue will be ultimately tied up with the resolution of the work item for the protocol buffers maintainers to release a "`protobuf-tools`" Python package of their own exposing a Python API to vanilla `protoc`.

[2017-01-18 19:32] nathanielmanistaatgoogle commented on #8616
Marking as a duplicate of [issue 7052](https://github.com/grpc/grpc/issues/7052).

[2017-01-18 19:35] nathanielmanistaatgoogle commented on #7052
See also [issue 8616](https://github.com/grpc/grpc/issues/8616) (particularly ["The fact that gRPC Python accepts `futures.ThreadPoolExecutor objects` from applications may make this hard; we should sit down at some point and talk over how we might solve it."](https://github.com/grpc/grpc/issues/8616#issuecomment-273567713)) and [issue 8603](https://github.com/grpc/grpc/issues/8603).

Punting from

[2017-01-18 19:36] #8616 closed

[2017-01-18 19:37] nathanielmanistaatgoogle commented on #6953
This would be nice to do at some point but it's just not on anyone's mind for `1.1.0`; punting.

[2017-01-18 19:39] nathanielmanistaatgoogle commented on #6891
Punting from `1.1.0`; this will be nice to have whenever we can have it. For the moment this issue is still blocked on [issue 7032](https://github.com/grpc/grpc/issues/7032) and this issue will be trivial to address after the fix of [issue 7032](https://github.com/grpc/grpc/issues/7032).

[2017-01-18 19:41] ctiller commented on #7709
Fixed.

[2017-01-18 19:41] #7709 closed

[2017-01-18 19:42] nathanielmanistaatgoogle commented on #6793
Punting; this will be nice to do at some point but it's not necessary for `1.1.0`.

[2017-01-18 19:42] ctiller commented on #7709
With #8630

[2017-01-18 19:42] ctiller commented on #4672
Fixed for wrapped languages in #8630

[2017-01-18 19:42] #4672 closed

[2017-01-18 19:43] nathanielmanistaatgoogle commented on #6770
Punting; there's no reason to block the `1.1.0` release for this.

[2017-01-18 19:46] nathanielmanistaatgoogle commented on #6619
Punting; I don't see any reason to block `1.1.0` on resolving this.

This seems like it could also use reassessment. @zj8487, are you still seeing this leak? Are you still able to reproduce it with the most-recently-released `grpcio`?

[2017-01-18 19:51] nathanielmanistaatgoogle commented on #8722
Closing; apparently our current development practice is to represent "fixed in source but not yet released" with the closed issue state rather than some combination of labels on an open issue. I think we should change this practice but will conform to it until after I've persuaded the rest of the team and effected a practice change. 😄

@gguuss: it remains the case that this issue is fixed-in-sourc

[2017-01-18 19:51] #8722 closed

[2017-01-18 19:52] nathanielmanistaatgoogle commented on #9360
Punting; there's nothing here that should hold up the release of `1.1.0`.

[2017-01-18 19:56] nathanielmanistaatgoogle commented on #8003
@vjpai, @nicolasnoble: does [this test result](https://grpc-testing.appspot.com/job/gRPC_master_windows/1290/) ([dbg](https://grpc-testing.appspot.com/job/gRPC_master_windows/1290/testReport/(root)/python_windows_dbg/), [opt](https://grpc-testing.appspot.com/job/gRPC_master_windows/1290/testReport/(root)/python_windows_opt/)) indicate that this issue has been resolved?

[2017-01-18 19:58] nathanielmanistaatgoogle commented on #8383
This is a team-only team-internal issue; I don't see any reason for it to block the `1.1.0` release. Punting (please correct me if there's something I'm missing!).

[2017-01-18 19:58] nathanielmanistaatgoogle commented on #8383
@jtattermusch, @kpayson64: please assess a priority for this issue?

[2017-01-18 20:00] nathanielmanistaatgoogle commented on #7888
@adelez: thanks much.

Since this is a team-internal matter concerning our own test infrastructure I see no reason for it to be assigned to the `1.1.0` release; punting.

[2017-01-18 20:01] nathanielmanistaatgoogle commented on #7888
(This could use a priority if someone wants to assess one.)

[2017-01-18 20:02] nathanielmanistaatgoogle commented on #5300
This will be nice to do at some point but there's no reason for it to hold up the `1.1.0` release; punting.

[2017-01-18 20:02] kpayson64 commented on #8383
I'm not sure what the desired outcome is, if we want to test against Python3.4, then we need Python3.4 installed.  Is this issue suggesting that we test against an arbitrary python 3 version, whatever happens to be on the system?

[2017-01-18 20:03] nathanielmanistaatgoogle commented on #5226
Punting; I don't see anything here that needs to be addressed before `1.1.0` is released.

[2017-01-18 20:10] nathanielmanistaatgoogle commented on #3042
After [issue 8814](https://github.com/grpc/grpc/issues/8814) and [pull request 8995](https://github.com/grpc/grpc/pull/8995) what's left here is the debugging enhancement request "be more helpful to applications that make mistakes". A good thing to do, but not a priority and not something that has to be in any particular release.

[2017-01-18 20:11] nathanielmanistaatgoogle commented on #2515
Punting; this is still a thing to be done at some point but there's no release to block `1.1.0` for it.

[2017-01-18 20:12] nathanielmanistaatgoogle commented on #2565
Punting; this is coming but not in the `1.1.0` timeframe (and that is okay).

[2017-01-18 20:33] vjpai commented on #8003
Fixed.

[2017-01-18 20:33] #8003 closed

[2017-01-18 21:11] nathanielmanistaatgoogle commented on #8695
Thanks; punting.

[2017-01-18 21:19] ctiller commented on #8538
This is going to take some investigation. It's unclear whether we'll need the retry work (slated to begin soon) to resolve it. Let's not pause the 1.1 release.

If it turns out we can fix it easily in that release branch, let's do that, otherwise let's target 1.2.

[2017-01-18 21:49] adelez commented on #9387
As more runs were executed, it turns out this failure randomly happen to other servers Csharp server and Ruby server. But the interesting part is that in all failures, the client is always Go. For all results, go to https://grpc-testing.appspot.com/job/gRPC_interop_insecure/.

[2017-01-18 21:56] nathanielmanistaatgoogle commented on #8132
Closing; this has gone long enough without a response.

[2017-01-18 21:56] #8132 closed

[2017-01-18 23:53] emilio commented on #9316
Yeah, C++ usually requires a bit more effort than throwing bindgen at it, because of the complexity of the language and some corners that libclang doesn't handle gracefully.

I'm happy to try reproducing this when I find the time to hack on bindgen, will file an upstream issue so I don't forget about it.

[2017-01-19 00:13] gguuss commented on #8722
@nathanielmanistaatgoogle Thanks for the heads up, I'll try and check it again once the new version releases.

[2017-01-19 00:15] tbillington commented on #9316
Tagging @stepancheg to make sure they're aware of this issue.

[2017-01-19 00:19] y-zeng opened #9394 "Sanity test failed"
The following tests are failing:
[aggregate_tests.run_tests_sanity_linux_opt](https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1995/testReport/junit/(root)/aggregate_tests/run_tests_sanity_linux_opt/)
[aggregate_tests.run_tests_sanity_linux_dbg](https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/1995/testReport/junit/(root)/aggregate_tests/run_tests_sanity_linux_dbg/)

The

[2017-01-19 00:24] y-zeng commented on #9088
Seen again:
https://grpc-testing.appspot.com/job/gRPC_pr_win/1974/

[2017-01-19 00:47] kkimdev commented on #9316
Note: `perl -pi -e 'BEGIN{undef $/;} s/^pub(\n |.)*?decltype.*?;$//mg' generated.rs` to filter out leaked `decltype`.

[2017-01-19 00:49] adelez commented on #9386
Closing this bug as it's told we should ignore the failures for now.

[2017-01-19 00:49] #9386 closed

[2017-01-19 02:07] sreecha opened #9395 "Document rpc-deadlines"
- How to set deadlines on client? What are recommended timeout values?How to use it? What API to use?
- How do I specify the deadline?
- What happens when deadline is reached and how do I handle such exception/error? What Exception to I catch?
- How should I cancel in-progress tasks when deadline is reached?

[2017-01-19 08:06] zj8487 commented on #6619
@nathanielmanistaatgoogle yes i can, but i can only schedule the test at the bottom of the month!

[2017-01-19 08:52] #9192 closed

[2017-01-19 09:11] mastergberry opened #9396 "SSL Linker error with node.js"
Having similar issues to #9329 and #9281 with node.js and 1.0.1 for SSL usage.

When trying to use the package from npm the following error is presented

`node: symbol lookup error: /path/to/node_modules/grpc/src/node/extension_binary/grpc_node.node: undefined symbol: SSL_CTX_set_alpn_select_cb`

I tried to compile grpc from scratch using the documentation found here: https://github.com/grpc/grpc/

[2017-01-19 11:24] mastergberry commented on #9396
If it is any help the environment we are running is Centos 7.2 x64.

[2017-01-19 12:27] public commented on #8682
@zinuga @wenbozhu Can I have access to grpc-web please?

[2017-01-19 16:13] apolcyn commented on #9124
seen again in #9373
https://grpc-testing.appspot.com/job/gRPC_pull_requests_asan_cpp/1337/

[2017-01-19 16:15] #9354 closed

[2017-01-19 16:30] jtattermusch opened #9398 "c_macos_dbg.bins/dbg/h2_compress_nosec_test resource_quota_server is flaky"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/1985/#showFailuresLink

[code]

[2017-01-19 16:36] jtattermusch opened #9399 "TIMEOUT: qps_json_driver.cpp_protobuf_sync_unary_qps_unconstrained_secure_500kib_resource_quota"
https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/8581/consoleFull

[2017-01-19 16:39] jtattermusch commented on #9398
Actually, seeing this failing (almost) always now.

[2017-01-19 16:39] jtattermusch commented on #9399
Might be related to https://github.com/grpc/grpc/issues/9398 (and perhaps not a flake).

[2017-01-19 17:09] mastergberry commented on #9396
[code]

[2017-01-19 17:21] jtattermusch opened #9401 "C++ grpc codegen: services with no methods generate code that doesn't compile under Visual Studio"
Example: NoRpcService in echo.proto has no methods and generates C++ code (from  echo.grpc.pb.cc)

[code]

Under Visual Studio, that emits compiler error:
[code]

[2017-01-19 17:22] jtattermusch commented on #9401
@yang-g  any suggestions?

[2017-01-19 17:23] ctiller commented on #9401
Drop a NULL at the end of the array (in all cases)?

On Thu, Jan 19, 2017 at 9:22 AM Jan Tattermusch <notifications@github.com>
wrote:

[2017-01-19 17:26] ctiller opened #9402 "Flame graph reports for sweeps are empty"
https://grpc-testing.appspot.com/view/Pull%20requests/job/gRPC_performance_sweep/133/flame_graphs_HTML_Report/

Each svg is just an empty file

[2017-01-19 17:37] kerinin opened #9403 "Implement bazel rule for `grpc_cli`"
It would be helpful to be able to build the gRPC CLI with Bazel, and to be able to refer to as an external dependency in other Bazel projects.

[2017-01-19 17:43] apolcyn commented on #9402
one of the benchmark clients seems to run out of memory while collecting perf events on about every run.

#9391

probably could increase allowed memory for the perf workers or decrease sampling.

[2017-01-19 17:43] jtattermusch commented on #9401
@ctiller  so obvious, thanks for the nudge ;-)

[2017-01-19 18:31] #9356 closed

[2017-01-19 18:40] mastergberry commented on #9396
After compiling openssl to the latest version myself and trying to link it instead of the default installation i found out that it is literally not even linked properly in the .node file as shown below

[code]

[2017-01-19 18:52] yang-g commented on #9401
Either that or we can stop generating that array at all :)

[2017-01-19 19:29] vjpai opened #9407 "NextMessageSize on C++ streaming API should return correct value"
Currently, NextMessageSize is a conservative value of max_message_size but should return the actual next message size on the wire.

Cc: @shaladdle

[2017-01-19 19:54] chrisgillis opened #9409 "Status Message not present for Code 14 grpc error"
@stanley-cheung

Every few days we seem to be getting a large number of GRPC Status Code 14 errors and we're trying to diagnose why and we think we've found a bug.

Breaking at line 78 of src/php/lib/Grpc/UnaryCall.php, and inspecting the $status variable you can see the values from our debugger in the attachment. The message isn't set - it just says code: 14 and details is an empty string.

<img

[2017-01-19 20:15] muxi commented on #9379
Right I forgot the merge rules said to ignore this... :)

[2017-01-19 20:15] #9379 closed

[2017-01-19 21:32] murgatroid99 commented on #9396
Node gRPC doesn't link with SSL explicitly. Instead, it uses the SSL symbols that the Node binary exports. The specific error message you're seeing indicates that gRPC was compiled assuming that ALPN functionality is available in the SSL implementation that it's using.

What version of Node are you using?

[2017-01-19 22:07] #8772 closed

[2017-01-19 22:14] nathanielmanistaatgoogle commented on #9360
@ctiller, @dgquintas: look at the way the issue reporter is seeing status code `grpc.StatusCode.CANCELLED` and status details string "`Cancelled`". I _suspect_ that what's happening is the user is allowing the `grpc.Channel` object to be garbage-collected while the RPC is active and that's causing `grpc_channel_destroy` to be called while there is still a live RPC. Please confirm that in the case

[2017-01-19 22:25] acoroian commented on #8057
How was this solved? im getting this with version 1.0.2 objcective c  with 1.0.5 on go server

[2017-01-19 23:19] nathanielmanistaatgoogle commented on #7971
Actually it already _was_ documented; I just misread the documentation. But [pull request 9410](https://github.com/grpc/grpc/pull/9410) contains a fix for a separate doc error and tweaks for this issue.

[2017-01-20 00:22] acoroian commented on #8433
It is still happening to me with gRPC 1.0.2

[2017-01-20 00:37] nathanielmanistaatgoogle commented on #7971
Fixed by [pull request 9410](https://github.com/grpc/grpc/pull/9410).

[2017-01-20 00:37] #7971 closed

[2017-01-20 02:51] korovkin opened #9412 "grpc::ChannelCredentials without GOOGLE_APPLICATION_CREDENTIALS"
is it possible to construct `grpc::ChannelCredentials` by providing the JSON filename directly?
instead of using the `GOOGLE_APPLICATION_CREDENTIALS` env variable ?

the relevant code i am using now, which requires the eng variable from above:

[code]

[2017-01-20 04:33] soltanmm-google commented on #9309
@nathanielmanistaatgoogle I'm still seeing this at master head:

[code]

[2017-01-20 05:21] gfernandessc commented on #8483
Was this closed because there was a fix? time_remaining() is still part of the API and this is still broken on 1.0.4.

[2017-01-20 05:34] jayantkolhe commented on #8483
what error do you get if you use time_remaining()?

[2017-01-20 05:37] gfernandessc commented on #8483
The same one:

[code]

(This is reproduced by accessing context.time_remaining() on the helloworld example.)

[2017-01-20 05:52] nathanielmanistaatgoogle commented on #9309
Bummer. I'll take another look.

[2017-01-20 07:34] mastergberry commented on #9396
6.9.1

[2017-01-20 07:50] codesuki commented on #8682
If possible I would like to have access, too. To test it.

[2017-01-20 08:00] wenbozhu commented on #8682
DONE

[2017-01-20 08:25] muxi commented on #8433
Hi @acoroian, could you please paste your error message here and confirm which versions of client/server are you using please? I am unable to reproduce this problem right now.

[2017-01-20 14:46] mastergberry commented on #9396
I was trying to recompile node this morning with the SSL libs but I seem to be failing to do so. I was trying to use:

`./configure --shared-openssl --shared-openssl-includes=/usr/local/include/openssl --shared-openssl-libpath=/usr/local/lib64`

No luck though, kept getting compilation errors below:

[code]

Below is the existing links in the binary of node that is currently installed using the ol

[2017-01-20 16:33] Martin-Pitt commented on #9312
You should have an Electron setup configured to handle native node_modules, e.g. with https://github.com/electron/electron-rebuild

I personally use a simplified version of the https://github.com/BZCoding/SkelEktron boilerplate.

I'll be testing this with GRPC myself soon, but right now that's the most I can contribute/help with.

[2017-01-20 16:51] Martin-Pitt opened #9418 "Node.js install per documentation fails with latest node"
TL;DR: v1.0.0 doesn't compile on Node v7 as it's missing third_party source files. Following quickstart instructions results in confused Node.js users. Recommend updating docs.

---

I'm using Node v7.4.0 / macOS 10.11.6 and tried to follow the guide to get started on GRPC w/ Node.
( http://www.grpc.io/docs/quickstart/node.html )

(Logs amended for some brevity and privacy)
I encountered the follo

[2017-01-20 18:28] acoroian commented on #8433
@muxi the certificate i was using was bad so it ended up giving me that a SSL Version error when trying to connect. We used a different ssl certificate and made it work.

[2017-01-20 19:45] nathanielmanistaatgoogle commented on #8483
I'm having a hard time reading this issue's history. @ctiller: is there a record of why it got the `to close` label? @hsaliak: is there a record of why it was closed?

I am working on a fix...

[2017-01-20 19:47] nathanielmanistaatgoogle commented on #8483
([... and this bug likely wouldn't have happened if our coverage story were better...](https://github.com/grpc/grpc/issues/6894))

[2017-01-20 20:04] hsaliak commented on #8483
Yes - this was marked as `` to close `` during our semi-regular bug scrub where we triage all issues. However, I think this particular issue was a false positive, especially due to the existence of the workaround.
We expected a few false positives when we did the scrub and unfortunately this is an important issue that we tagged wrong.

As an aside: This is a clear indicator for us to focus on impr

[2017-01-20 20:06] hsaliak commented on #6894
Re-marking this as P1. Having good coverage is critical, especially for the implementation in dynamic languages.

[2017-01-20 20:15] nathanielmanistaatgoogle commented on #9309
@soltanmm-google: at bd827887ffbb57a95990130f585913b13f44a5b7 this passed for me with `./tools/run_tests/run_tests.py --language=python --newline_on_success --regex=_not_found_test --runs_per_test=1000 --jobs=200`. Would you happen to have a means of reproducing a failure?

[2017-01-20 21:41] jboeuf commented on #9412
haha, small world :).

OK, here's how you do it:
[code]
Note that this API doesn't take the json file but the json content extracted from the file.

[2017-01-20 23:30] nathanielmanistaatgoogle opened #9423 "How to make grpc._server._Context.time_remaining return None when an RPC was invoked with no deadline?"
According to its spec `time_remaining` can return `None` but the core only ever passes _really really long_ deadlines; it doesn't formally specify how to identify that an RPC has no deadline.

[2017-01-20 23:39] nathanielmanistaatgoogle opened #9424 "Improve cygrpc.Timespec"
It would benefit from `__repr__` and `__richcmp__`.

[2017-01-20 23:50] #8670 closed

[2017-01-20 23:59] korovkin commented on #9412
awesome, thank you my friend!

On Fri, Jan 20, 2017 at 1:41 PM, jboeuf <notifications@github.com> wrote:

--
Best Regards,
H

[2017-01-21 00:04] korovkin opened #9427 "grpc:: ... ::StreamingRecognizeRequest example"
I am currently making successful calls to the google cloud speech recognized with:
google::cloud::speech::v1beta1::*

i have two questions about the objects that i am allocating and thread safety:

1. in order to make the calls, i am currently allocating these objects:

[code]
as i understand ChannelCredentials can be re-used between sessions? of is the right life cycle for the other objects? can

[2017-01-21 00:34] muxi commented on #8433
@acoroian OK thanks for letting us know.

[2017-01-21 02:00] nathanielmanistaatgoogle commented on #8483
Following the integration of [pull request 9420](https://github.com/grpc/grpc/pull/9420) all that's left to do here is replace the smoke test with a real test.

[2017-01-21 07:44] timotheecour opened #9431 "build broken on linuxbrew"
Anyone care to help on https://github.com/grpc/homebrew-grpc/issues/94 ?

grpc on linuxbrew has been broken on linux for months:

This is the latest:
https://github.com/grpc/homebrew-grpc/issues/94#issuecomment-273184580

Help would be much appreciated!

[2017-01-21 07:59] nevi-me commented on #8682
@wenbozhu May I please also have read-only access to grpc-web?

[2017-01-21 20:29] kkimdev commented on #9316
@ctiller One question:  We can use `grpc.h` or `grpc++.h` interface (assuming we manage to get our bind-generator work with `grpc++.h`).  Do you have any insight on which route would be better?  If using `grpc++.h` can substantially reduce the work and ongoing maintanace work, I think we should consider that instead of using `grpc.h`.

[2017-01-22 01:09] iheanyi commented on #8682
@wenbozhu Could I have access to `grpc-web` to test as well? I just got `grpc` working with [Electron](https://electron.atom.io), would love to see what's going on with `grpc-web`.

[2017-01-22 01:21] Wang-Kai opened #9433 "I met ' undefined: metadata.Join 'while cross compiling"
Common` go build `
OK

`GOOS=linux GOARCH=amd64 go build`

[code]

How can i solve this bug .

[2017-01-22 07:47] yancl opened #9434 "[Ruby] raise more info when error happens"
Hi, Recently we saw some exceptions in our log when using grpc ruby, but the reason why it is failed
is ignored, just `call#run_batch failed somehow`, will you please expose the event string of `ev`?

Thanks.

[code]

[2017-01-22 12:26] muxi opened #9435 "py34.test.unit._compression_test.CompressionTest Failed"
Failure appears in test: https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2114/console
[code]

[2017-01-22 21:19] mastergberry opened #9436 "OpenSSL too old and outdated"
Hey. Been trying to get grpc to build for Windows and using some scripts and such found here: https://github.com/jozefizso/grpc-windows was able to do so successfully. Problem is that the NuGet packages that grpc and this system are using an old outdated openssl library which is not working with some other parts of the system we are trying to use it with.

This is all C++ based by the way.

Is the

[2017-01-22 22:07] mastergberry commented on #9436
Ok i see there were some updates recently to https://github.com/grpc/grpc/blob/master/INSTALL.md and that there are some new steps for building on windows.

I am having issues though with the following log:

[code]

[2017-01-22 22:14] mastergberry commented on #9436
Tagging @jtattermusch since he wrote the latest documentation on the windows building.

[2017-01-22 23:08] mastergberry commented on #9436
Seemed to have gotten the files to build using the mingw approach...got my dll's and now i can't get visual studios to read them properly :(

Total windows noob in terms of development. Think someone can lend me a hand and explain to me what things i need to include in the includes/linkers to get this new grpc to work? Most importantly will this new grpc have a newer version of openssl versus the

[2017-01-23 06:40] mastergberry commented on #9396
So in the end i got this to work. Finally did manage to get it to all rebuild with ssl properly. Weird that it doesn't have a ssl reference in the ldd pastes though

[2017-01-23 08:04] jtattermusch commented on #9436
The error
[code]
looks more like an issue with your setup rather than a problem with our buildfiles (do you really have VS2015 installed on your machine?)

To respond to the general question:
Our windows build is definitely suboptimal right now and there is several issues with it (even though I think you particular issue is a red herring) and we are working towards fixing that.
Currently it looks

[2017-01-23 08:10] muxi opened #9437 "yapf_code.sh failing"
Failed in test https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2123/consoleFull
and Linux master

[2017-01-23 08:13] muxi opened #9438 "HybridEnd2endTest.AsyncRequestStreamResponseStream_AsyncDupService Failing"
Failed in test https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2041/consoleFull

[code]

[2017-01-23 08:44] mastergberry commented on #9436
I definitely have VS2015 installed on my machine. I'm not sure if all of the PATH variables and such are setup properly though. I feel that is an environmental variable issue more than anything and I just don't know which ones I need to get set/fixed.

I also have both the Windows SDK for 8.1 and 10 installed on my machine as well. They are both in Program Files.

The overall issue we are having i

[2017-01-23 08:56] jtattermusch commented on #9436
have you run
`call "%VS140COMNTOOLS%..\..\VC\vcvarsall.bat" x64`  as suggested in the howto?  does  cl and msbuild work from the same command shell after running that dommand?

[2017-01-23 08:59] jtattermusch commented on #9436
@mastergberry  I think our long-term plan is to move windows build to boringssl to make windows build consistent with build on linux (and other operating systems). Would such solution work well for you (it should)?
Btw, the current cmake build in upstream/master already utilizes boringssl

[2017-01-23 09:08] mastergberry commented on #9436
Yes I had run the batch script above already. It gave me no output though.

At the moment I am modifying my Visual Studios installation to include the Windows SDK since I guess when I originally installed it the support was not built in. I installed the SDK myself from the Microsoft website which I guess was not completely integrated properly. I needed the SDK for something else. Hoping that after

[2017-01-23 09:39] mastergberry commented on #9436
Ok now the command above for `ninja` worked properly. I am trying to run the build now completely.

Should state in the documentation that the Windows SDK needs to be installed via Visual Studios's installer to avoid any conflicting environment problems.

[2017-01-23 09:42] mastergberry commented on #9436
Failed to build with a nasm.exe error:

[code]

[2017-01-23 09:44] mastergberry commented on #9436
Note: I installed nasm.exe myself using a direct download from http://www.nasm.us/pub/nasm/releasebuilds/2.12.02/win64/

[2017-01-23 09:52] mastergberry commented on #9436
The first time I had downloaded the zip, this time i did it with the installer and fixed my system PATH variables just to make sure there were no issues. Ran the build again and got some different errors this time i guess. The part of the build number wise changed at least.

[code]

[2017-01-23 10:20] sulliwane opened #9439 "Python Illegal wire type for field Message.Field .PeopleRequest.ages: 2 (0 expected))"
Hello,
here is my proto:
[code]
and here is my call:
[code]
This simple grpc call throws an error about the type of the field **ages**. I really can't see where is the problem...That's a simple list of integers isn't it? Why it seems to recognize it as a list of strings/bytes (wire type 2) ?

Many thanks for you help!

[2017-01-23 10:43] jtattermusch opened #9440 "boringssl: Compiling with OPENSSL_NO_ASM harms throughput of secure connections significantly"
Filing for the record.

It seems that currently, we are compiling boringssl with -DOPENSSL_NO_ASM, so for some crypto functions, more efficient assembler implementations won't be used. More investigation is needed to evaluate if this actually represents a performance penalty (is asm useful for the ciphers we are using?)

[2017-01-23 11:39] jskeet opened #9441 "Check C# code compatibility with netstandard2.0"
While netstandard1.4 was runnable from .NET 4.6.1, netstandard1.5 targeted 4.6.2. Now netstandard2.0 is targeting the .NET 4.6.1 API surface again, which I suspect means *some* APIs from netstandard1.5 may be missing in netstandard2.0. Unfortunately, netstandard1.5 is what gRPC targets :(

It looks like there are only two parts of netstandard1.5 we need: `AssemblyInfo.Location`, and `System.Runtim

[2017-01-23 12:03] mmdmeeran commented on #3813
Could you elaborate how the issue has been solved.?

[2017-01-23 12:26] jtattermusch commented on #3813
@mmdmeeran  The solution is to create the temporary file to store the output outside of your workspace The port server's output file is created by tempfile.mkstemp(). Look at the source and make sure it generates a tempfile outside of your workspace (in our case, it goes to C:\Temp).

[2017-01-23 14:06] MatthiasWeiser opened #9442 "Mixing Grpc and Rx leads to an error - Is IServerStreamWriter forced to be used in one thread only?"
I am trying to expose an observable via a GRPC stream.
my simplified code looks like this:

[code]

[2017-01-23 14:10] MatthiasWeiser commented on #9442
I am using the current Nuget version for the Grpc side (1.0.1).

[2017-01-23 14:14] jjblum opened #9443 "need method to update deadline"
I am attempting to test a basic bidirectional ping-pong stream, where each request has its own deadline. I am working with the node.js API. Currently, you specify the deadline at the time of ClientDuplexStream construction. After this amount of time has passed after construction, the entire ping-pong rpc shuts down. If there was a method to update the deadline, you could do this at every ping writ

[2017-01-23 14:30] mjhoffman65 commented on #7555
Just saw this error because I was running python 3.6 (`from python:3` in Dockerfile), so it was trying to build from source. Changing to python 3.5 fixes the issue (`from python:3.5`), so it can find the wheel.

[2017-01-23 15:07] public commented on #9113
@tbillington What about those of us who aren't writing services or clients in Go?

[2017-01-23 15:12] public commented on #1790
Is there anywhere we can contribute to or observe the development of the implementation?

[2017-01-23 15:14] public commented on #1807
Is this essentially a variant of a Unary Stream RPC which returns bytes to the IO layer instead of protobufs?

[2017-01-23 15:19] vanthome commented on #9196
This is a really pressing point, can you given an ETA for this?

[2017-01-23 16:39] dgquintas commented on #9048
It seems we haven't seen this in a while. @murgatroid99 can you verify and close if appropriate?

[2017-01-23 16:39] #9048 closed

[2017-01-23 16:40] dgquintas commented on #9049
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:40] #9049 closed

[2017-01-23 16:40] dgquintas commented on #9050
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:40] #9050 closed

[2017-01-23 16:41] dgquintas commented on #9081
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:41] #9081 closed

[2017-01-23 16:42] dgquintas commented on #9082
It seems we haven't seen this in a while. @jtattermusch was it fixed somehow?

[2017-01-23 16:42] dgquintas commented on #9086
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:42] #9086 closed

[2017-01-23 16:45] dgquintas commented on #9092
What's the status of this? Last occurrence was 10 days ago. @nathanielmanistaatgoogle @soltanmm closing ok?

[2017-01-23 16:46] dgquintas commented on #9123
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:46] #9123 closed

[2017-01-23 16:50] dgquintas commented on #9134
Hasn't happened in a while. ok to close?

[2017-01-23 16:52] dgquintas commented on #9381
This seems to have been a github flake. Closing.

[2017-01-23 16:52] #9381 closed

[2017-01-23 16:52] dgquintas commented on #9344
Seems fixed. Closing.

[2017-01-23 16:52] #9344 closed

[2017-01-23 16:57] dgquintas commented on #9250
Seems to have helped, issue doesn't seem to have recurred. Closing.

[2017-01-23 16:57] #9250 closed

[2017-01-23 16:58] dgquintas commented on #9204
It seems we haven't seen this in a while. Closing.

[2017-01-23 16:59] dgquintas commented on #9380
Ping. Any leads?

[2017-01-23 16:59] dgquintas commented on #9150
Ping. @vjpai any leads on this issue?

[2017-01-23 17:00] dgquintas commented on #9124
Ping. Any ideas?

[2017-01-23 17:08] soltanmm-google commented on #9092
I never managed to replicate it locally and still have no idea what caused it in the first place.

/me closes ***ironically*** ironically
(if it's double ironic then is it still badly-behaved-hipster? can irony cancel out? or, like gravity, it's just additively obnoxious)

[2017-01-23 17:08] #9092 closed

[2017-01-23 17:19] kpayson64 opened #9445 "Create Python 3.6 Wheels"
Python 3.6 Release is now official, we should start packaging wheels that support it.

[2017-01-23 17:20] kpayson64 commented on #7555
@mjhoffman65
Looks like Python 3.6 is officially released,
I've created #9445, hopefully I can get support in for the next release.

[2017-01-23 17:35] dgquintas commented on #9437
@nathanielmanistaatgoogle is there a way to quickly fix this? Or disable this check: it's making jenkins fail at master.

[2017-01-23 17:53] nathanielmanistaatgoogle commented on #9437
Discussed with @dgquintas in meatspace but here in writing for everyone else: I think the timeline relevant to this was

* [pull request 8842](https://github.com/grpc/grpc/pull/8842) branched off of `master`
* [`yapf`](https://github.com/grpc/grpc/pull/9276) introduced on `master`
* [pull request 8842](https://github.com/grpc/grpc/pull/8842) integrated into `master`

. If so, then did `yapf` fail

[2017-01-23 19:04] murgatroid99 commented on #9443
We do not support per-request/response deadlines. The deadline is set and sent to the server only at the beginning of a stream. For what you're trying to do, you would need to implement it yourself in JavaScript. For example, you could set a timeout that would cancel the call (and do whatever else you want to do when your deadline expires), then remove it whenever you get a response and re-create

[2017-01-23 19:12] murgatroid99 commented on #9434
That `ev` variable has type `grpc_event`, which is defined in [grpc_types.h](https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/grpc_types.h). It only contains the completion type, the success/failure boolean, and the tag. There is no "event string". In this case, success is `false`, the completion type must be `GRPC_OP_COMPLETE`, and the tag is the same as the `tag` argument to th

[2017-01-23 19:13] stephenplusplus commented on #8954
Thank you for accepting this change! It looks like the work has been merged in #9101-- is a new release including this expected by any certain time?

[2017-01-23 19:27] murgatroid99 commented on #9418
If you were trying to follow the quickstart, you skipped a step. It says to run `npm install` in the subdirectory `grpc/examples/node/dynamic_codegen`. That should install from npm instead of the local copy. If you want to build the local copy from source, you need to run `git submodule update --init` before running `npm install`.

[2017-01-23 20:05] dgquintas commented on #9150
Seen again in #9446

[2017-01-23 20:07] dgquintas commented on #9124
Seen again in #9428

[2017-01-23 20:08] macnibblet commented on #5226
This happens for files without hyphens to

[code]

[2017-01-23 20:26] Martin-Pitt commented on #9418
Oh yeah. That doesn't seem intuitive. Download source and examples, to checkout a very specific version and then to download another copy from somewhere else?

Why not host the examples in separate repos?

[2017-01-23 20:42] macnibblet opened #9450 "Problems with one generated module importing another generated module"

[2017-01-23 20:47] macnibblet commented on #9450
I just noticed the reason for this, the plugin does not handle empty services. If you remove the service it works fine.

[2017-01-23 20:47] nathanielmanistaatgoogle commented on #9450
That's strange. With what version of `grpcio` and `grpcio-tools` are you working?

[2017-01-23 20:48] nathanielmanistaatgoogle commented on #9450
Ahh! I should have seen that.

[2017-01-23 20:51] macnibblet commented on #9450
It's still not working tho, I'm not sure if what I have done is bad practice but I have a common.proto that has a bunch of messages & enums that I re-use in my Requests/Responses. But i'm getting an error that it cannot import `common_pb2` and for some reason, it's also importing it ten times.

[code]

the file `common_pb2.py` is in the same folder ?

[2017-01-23 20:59] nathanielmanistaatgoogle commented on #9450
I think you're seeing multiple imports because [pull request 9100](https://github.com/grpc/grpc/pull/9100) has not yet been included in a release (it will be included in our upcoming `1.1.0`).

As to the `ImportError` that you're seeing (it is an `ImportError`, right?): how certain are you that your `PYTHONPATH` includes the directories in which your generated code resides? If you were to write a

[2017-01-23 21:03] nathanielmanistaatgoogle opened #9451 "grpc_python_plugin should generate valid code even for empty services"
I'm not sure that this is something we want to _promise_ or guarantee in our API, but it would be _a kindness to our users_ to generate valid Python code even when the user's `.proto` input to `protoc` contains an empty `Service`.

See [this report](https://github.com/grpc/grpc/issues/9450#issue-202645111) from a real user having been in this situation.

[2017-01-23 21:05] macnibblet commented on #9450
I have installed the generate code into my python path by using setuptools and ` setup.py` in my protobuf repository. So it's import the initial files, but subsequent imports fails because it's trying to import the other files as a module and not a file in the same directory.

I would expect to see `from . import common_pb2 as common__pb2`

It's also very possible i'm doing something really stupid

[2017-01-23 21:05] nathanielmanistaatgoogle commented on #9450
I've filed "it would be a kindness to our developer-users if valid code were produced even when the input `.proto` file contains empty services" as [issue 9451](https://github.com/grpc/grpc/issues/9451).

[2017-01-23 21:13] macnibblet commented on #9450
Thanks

[2017-01-23 22:37] #9068 closed

[2017-01-23 22:44] tbillington commented on #9113
@public Sorry mate, I've only got experience with go appengine, no idea about the others! I assume they have some way in their standard libraries to make raw sockets, maybe try starting there?

Good luck :)

[2017-01-23 23:42] nathanielmanistaatgoogle commented on #9450
One of the things `grpc_python_plugin` does is delegate to `protoc` for how one generated Python module should import another generated Python module. Maybe `protoc` has a defect in the way that it generates these imports? Or maybe `grpc_python_plugin` has a bug in the way that it tells `protoc` to create imports.

We have tests that cover what we think are a few different likely ways of writing `

[2017-01-24 00:59] samiur commented on #8682
@wenbozhu would love access to grpc-web also!

[2017-01-24 01:11] sulliwane commented on #9439
And here is the auto-generated python code:
[code]

[2017-01-24 08:47] jtattermusch commented on #9082
@dgquintas    I don't think there was any fix, perhaps this was a side effect of some change in C core? Not sure.

[2017-01-24 12:04] KindDragon commented on #8259
Can be close when you switched to protobuf 3.2

[2017-01-24 13:08] cyberflohr commented on #7834
+1 would be great to see this soon :-)

[2017-01-24 14:20] josselin-c opened #9455 "Ruby: add example for connection termination detection from server handler"
Using Ruby, I'm trying to implement a service that returns an infinite stream of events `Watch() Stream`.
Looking at the documentation I wasn't able to understand how I can detect that a client connection is closed from my handler. I need this to release resources/threads so they don't grow forever.

I attached to this issue an example code where I start a thread for each call to Watch(). I would

[2017-01-24 14:48] blodan commented on #1035
I too ended up in the same place with IP_PKTINFO being undeclared trying to build Tensorflow on FreeBSD

@jevonearth you didn't manage to get this compiled? :)

[2017-01-24 15:21] dgquintas commented on #9082
ok, closing for now.

[2017-01-24 15:24] macnibblet commented on #9450
Heya,

I'm not sure what the best way to do this is but I created a repo with a test case with reproducing case
https://github.com/macnibblet/grpc-bug-9450

[2017-01-24 16:25] blodan commented on #1035
If anyone else is stumbling on this issue, all you have to do is to remove the define of GPR_HAVE_IP_PKTINFO in include/grpc/impl/codegen/port_platform.h as freebsd does not have it.

It compiles fine after that.

[2017-01-24 16:46] dgquintas commented on #9437
@nathanielmanistaatgoogle it seems things have gone back to normal after the rollback of #8842 was picked up. Closing this for now.

[2017-01-24 16:49] murgatroid99 commented on #7834
@jboeuf Do we have this in core?

[2017-01-24 16:51] dgquintas commented on #9012
Hasn't happened in a while, closing

[2017-01-24 16:51] #9012 closed

[2017-01-24 16:51] dgquintas commented on #9036
Hasn't happened in a while and the link contentes are gone. Closing

[2017-01-24 16:51] #9036 closed

[2017-01-24 16:53] dgquintas commented on #9040
When reporting a bug, please include at least the relevant text in the issue itself: Jenkins links expire after a while (there's a way to make them stay, but for the complete log, I'd recommend using gist.github.com).

[2017-01-24 16:55] No9 commented on #1035
Thanks @blodan I just ran into this too
Are you going to PR this?

[2017-01-24 16:56] dgquintas commented on #9133
Problem seems to be gone. Closing.

[2017-01-24 16:56] #9133 closed

[2017-01-24 16:58] dgquintas commented on #9151
@matt-kwong has it recurred?

[2017-01-24 17:23] matt-kwong commented on #9151
Doesn't look like it has. Closing the issue since it doesn't happen frequently and it seems to be out of our control.

[2017-01-24 17:46] dgquintas commented on #9185
Seen again in #9453. @jtattermusch any ideas?

[2017-01-24 17:47] dgquintas commented on #9398
Seen again in #9453

[2017-01-24 17:51] dgquintas commented on #8996
Seen again in #9453

[2017-01-24 17:56] jboeuf commented on #7834
Yes we do through the `auth_context`. @jtattermusch and I are going to work on the server-side auth APIs for wrapped languages this quarter.

[2017-01-24 17:56] dgquintas commented on #1790
There's been a recent update to  https://github.com/grpc/grpc/blob/master/doc/load-balancing.md

In addition, Q4 2016 saw _a lot_ of bug fixes and improvements to https://github.com/grpc/grpc/blob/master/src/core/ext/lb_policy/grpclb/grpclb.c

The https://github.com/grpc/grpc/blob/master/src/core/ext/lb_policy/grpclb directory is where all the action related to gRPCLB happens.

[2017-01-24 17:57] dgquintas commented on #9412
Thanks @jboeuf !

so many cow pics...

[2017-01-24 17:57] #9412 closed

[2017-01-24 18:04] sackio commented on #7834
thanks @jboeuf and @murgatroid99 -- eager to implement something that would use this in node.js asap -- and would be happy to contribute the resulting source as an example in your documentation when it's ready

[2017-01-24 18:09] teodor-pripoae commented on #6705
Hi,

Any update on this issue ?

[2017-01-24 18:09] nathanielmanistaatgoogle commented on #9439
I don't think that `print(people_request) // Ok, no error when building the people_request object` is sufficient to demonstrate that your `people_request` message is legitimately constructed. You write that "the error is [...] not when building the protobuf `people_request` object", but for performance reasons Python Protocol Buffers don't do any validation on construction, only when they are seri

[2017-01-24 18:25] juanpmarin-infocorp commented on #8682
@wenbozhu Could I have access to grpc-web ?
Thanks !

[2017-01-24 18:39] ncteisen commented on #8296
This problem boils down to the c core, aka I can reproduce it with the other wrapped languages.

[2017-01-24 18:40] wenbozhu commented on #8682
DONE

@iheanyi  I am new to Eletron .. does the client run as a chrome app?

[2017-01-24 18:48] ncteisen commented on #8296
However, there is probably no small fix for this at the moment. Without doing periodic health checks, there is no way for the client to know that its connection with the original server is no longer good. It needs that first failure to go through the process of remaking the connection.

Good news is that this will be fix once retry support is integrated in to the c core. That is an ongoing project

[2017-01-24 19:14] ojmakke opened #9459 "Linking error for v1.0.0 and libprotoc 3.1.0"
Hello,

I successfully installed"protoc", and I am using libprotoc 3.1.0

I followed the instructions to install grpc v1.0.0. I get the following linker error (using gcc 4.9.2 on Debian Jessie)

_[HOSTLD]  Linking /grpc/bins/opt/grpc_cpp_plugin
/grpc/objs/opt/src/compiler/cpp_plugin.o: In function `std::vector<int, std::allocator<int> >::push_back(int const&)':
/usr/include/c++/4.9/bits/stl_vector

[2017-01-24 19:44] ncteisen commented on #9459
How did you install protoc? Have you installed the protobuf lib onto your system as well? That would look something like
[code]

[2017-01-24 20:20] ojmakke commented on #9459
I installed protoc using the instructions [here](https://github.com/google/protobuf/tree/master/src) at a separate time.

By the way, the autogen.sh file has curl to the link https://googlemock.googlecode.com/files/gmock-1.7.0.zip , so it won't work. This file does not exist (Error 404).

[2017-01-24 20:55] kpayson64 commented on #9150
Seen again:
https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2175/

[2017-01-24 21:12] murgatroid99 commented on #9196
As soon as #9004 works, the following release with use Protobuf.js 6 instead of Protobuf.js 5.

[2017-01-24 21:24] kevin-wright opened #9461 "Memory leak in Python client when calling Channel.subscribe()"
There appears to be a memory leak when using the grpcio Python client and calling Channel.subscribe().  The leak is pretty small (roughly 5MB to 6MB per hour), but it does add up over time.

I'm seeing this when using Python 2.7 on Ubuntu 14.04 (64-bit).  I see the same behavior in grpcio versions 1.0.0 and 1.0.4.

This issue is easy to reproduce using the Python "helloworld" example, with a few s

[2017-01-24 21:43] vjpai commented on #9150
@sreecha do you have any insights here? It is a sync server issue, afaict.

[2017-01-24 21:52] sreecha commented on #9150
If I remember correctly, this only happens with poll-cv

[2017-01-24 22:44] dgquintas commented on #9150
@sreecha has graciously volunteered to adjust the test so that when poll-cv is used, fewer number of cqs are created: the current value seems to be too large for poll-cv (and its underlying threads) to handle within reasonable time bounds.

[2017-01-24 22:45] vjpai commented on #7052
Hi there, could I suggest something tighter than "Someday"? This is a bug, not a feature request, and it can lead to deadlock if a service implementation is particularly perverse. That said, I'm not familiar enough with futures to understand the impact of the previous comment. I'd be glad to have a discussion on this.

[2017-01-24 23:11] mehrdada commented on #8229
I tried and failed to reproduce the bug on Python 2.7.10 on macOS Sierra 10.12.2 (using virtual environments). It outputs UNAVAILABLE right away in both cases. What's the OS/python/gRPC versions you use?

[2017-01-24 23:29] murgatroid99 opened #9462 "TIMEOUT: cpp_protobuf_async_streaming_qps_unconstrained_secure_500kib_resource_quota"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2185/

[2017-01-25 00:05] ojmakke commented on #9459
Alright, I think I found the issue.
If you already have protoc installed, its seems that the build will know that and not include any of the header files, and several namespaces will be missing, all of which are in the "third_party/protobuf".

After I "make uninstall"ed my protoc in thirdparty, and attempted to build everything together, I managed to go through the build successfully.

I hope this

[2017-01-25 01:00] sulliwane commented on #9439
Ok, I didn't know there was no check when building the object. So indeed my reasoning isn't correct.

When serializing this object:
[code]
here is the console output of your test code:
[code]
After what, the same error is thrown when calling the grpc method:
[code]

Should I post this issue on the protocol buffers github's page?

Many thanks for your help!

[2017-01-25 01:48] nathanielmanistaatgoogle commented on #9439
I'd like to see more of your code. Where is(are) the `Service` portion(s) of your `.proto` file? How are you constructing your `stub`?

[2017-01-25 02:43] ncteisen commented on #9459
Great, glad you go it working! Going to close this.

[2017-01-25 03:16] #9459 closed

[2017-01-25 04:47] nathanielmanistaatgoogle commented on #261
[Pull request 9276](https://github.com/grpc/grpc/pull/9276) may be illustrative for this in so far as it demonstrates running a tool over the codebase and passing or failing sanity testing based on its result.

[2017-01-25 06:20] sulliwane commented on #9439
Of course, here is the whole code:
[code]
Stub construction:
[code]
The main logic:
[code]

[2017-01-25 10:19] MatthiasWeiser commented on #9233
I have had similar issues. I think that the responseStream is tied to the Task 'PlaceOrder'.
For my personal code usage it is best to use the Bufferblock from the Dataflow TPL as a sync mechanism at it allows async queue processing fitting to the gRPC style.

[2017-01-25 10:19] holgerkoser commented on #8682
@wenbozhu Is it possible to get read access to grpc-web?
Thanks!

[2017-01-25 13:24] jjblum commented on #9443
I implemented something as you suggested. Works well enough, but the ClientDuplexStream emits an error on the cancel() call. Specifically, inside _emitStatusIfDone() if the grpc status is not just OK. What is the purpose behind emitting an error after a cancel? Is there a way to cancel the rpc without emitting and handling that error?

[2017-01-25 13:32] croachrose commented on #8229
Linux 4.2.0-19
Python 2.7.10
gRPC 1.0.0

[2017-01-25 14:07] granthobbs commented on #9233
Cool thanks

[2017-01-25 15:19] orjanbruland commented on #8682
@wenbozhu would it be possible to get read access to grpc-web? Thanks!

[2017-01-25 16:24] iheanyi commented on #8682
@wenbozhu Yes it does, at least it runs using V8 to my knowledge. It's pretty dope. But it uses Node.js under the hood when it comes to the gRPC client, which I find to be promising. I am not sure how it'd work with things being redistributed as an application.

[2017-01-25 16:34] nevi-me commented on #8682
@iheanyi re. redistribution; it should work properly as it does on a server. The main thing to consider is disconnect/reconnects as a server will typically be expected to be online all the time, while a desktop app might go offline for a while. This mainly affects streaming endpoints which when `onError` is called.

[2017-01-25 16:39] iheanyi commented on #8682
@nevi-me Solid point to consider. I'm working on a proof of concept application [here ](https://github.com/iheanyi/go-electron-grpc) of this entire integration (Go +gRPC + Electron). Your mentioning of streaming makes me want to see if I can tweak this example to be a chatroom example because I think that it would be a good proof of concept for demonstrating "streaming" of between the client and s

[2017-01-25 17:52] kpayson64 commented on #9439
I don't believe protobuf supports direct assignment of repeated fields in the constructor.
See https://developers.google.com/protocol-buffers/docs/reference/python-generated#repeated-fields .

[2017-01-25 18:30] nevi-me commented on #8682
@iheanyi just looked at your project, the stuff to really test is streaming, especially bi-directional. Unary calls are sort of a "given" at this point as they're the easier of the 2.

I'm using gRPC on connecting microservices together at work, Mostly between Node.js and Apache Spark (I find PySpark better that ScalaPB). On personal projects I've got client/server instances in Java, Node.js and P

[2017-01-25 18:36] ankoh commented on #8682
@wenbozhu I would also love to take a look at how you are going to implement grpc-web.

[2017-01-25 18:53] #9394 closed

[2017-01-25 20:53] murgatroid99 commented on #9311
We have now released a new version. You should now be able to use grpc@1.1.0-pre1 with Windows and Node 7.

[2017-01-25 20:55] murgatroid99 commented on #9030
That PR has been merged, and the Node artifact build works.

[2017-01-25 20:55] #9030 closed

[2017-01-25 20:56] murgatroid99 commented on #8954
grpc@1.1.0-pre1 has been published and it includes that change, so this should now be fixed.

[2017-01-25 20:56] #8954 closed

[2017-01-25 21:44] hsaliak commented on #9283
@stephenplusplus have you got a chance to provide the information requested by Craig?

[2017-01-25 21:44] #4131 closed

[2017-01-25 21:45] stephenplusplus commented on #9283
This issue was actually reported by @pepperkick originally.

[2017-01-25 21:47] hsaliak commented on #6156
@paulshapiro is this still an issue you are running into?

[2017-01-26 00:53] jimbojetlag commented on #8682
@wenbozhu would you please add me to grpc-web too.

[2017-01-26 00:59] stanley-cheung opened #9469 "PHP: protobuf 3.2 generates code into different directories, need to update generated code tests"
protobuf 3.2 differs from 3.1 for PHP in that now message classes are generated according to PSR-4 so classes are placed into directory based on their package names. See google/protobuf#2435

The gRPC PHP generated code tests (Math and interop) assumed differently when protobuf was at version 3.1.0 so we need to update those tests accordingly.

[2017-01-26 04:32] dgquintas commented on #9007
Duplicate of #9150

[2017-01-26 04:32] #9007 closed

[2017-01-26 05:13] jboeuf commented on #7834
Thanks Ben. I'm not quite ready for this effort just yet (probably in Feb
though). When the time comes, we'll probably get back to you so that you
can be one of our first guinea pigs :).

On Tue, Jan 24, 2017 at 10:04 AM, Ben Sack <notifications@github.com> wrote:

[2017-01-26 06:06] tejasmanohar commented on #8682
@wenbozhu Could I have access to grpc-web? We've been using GRPC in production for almost a year across Go, Python, and Node, and I'd love to take a look, provide feedback, etc.

[2017-01-26 08:19] jtattermusch commented on #9442
Hi, I responded to the issue here: http://stackoverflow.com/questions/41807693/grpc-use-rx-observable/41869217

*With the gRPC streaming API, you are only allowed to write one item at a time. If you start another WriteAsync() operation before the previous one finishes, you'll get an exception. You also need to finish all your writes before returning from the method handler (the Feed method in this

[2017-01-26 08:19] #9442 closed

[2017-01-26 08:40] jtattermusch commented on #8042
I am not opposed to reconsidering adding the trailers to RpcException,
but  the existence of #9235 is a poor reason to do so (there might be others). The right thing is to fix #9235 (I have a fix ready, but it depends on other work to be merged). Fixing #9235 is actually simpler than the workarounds you are suggesting (see the fix in https://github.com/grpc/grpc/pull/9390).

[2017-01-26 09:26] MatthiasWeiser commented on #9442
I will write a RouteGuideServer implementation which leverages the TPL data flow [BufferBlock](https://msdn.microsoft.com/de-de/library/hh160414(v=vs.110).aspx).
I think that this is the best way for synchronizing gRPC streams inside a server.

[2017-01-26 10:04] jtattermusch commented on #9442
@MatthiasWeiser  you also might wanna look at Jon's implementation of write buffering here:
https://github.com/googleapis/gax-dotnet/pull/117

[2017-01-26 10:08] jtattermusch commented on #9185
Not really, it looks like I am getting the status Unavailable (instead of Unknown) from C core. Not sure if there's a bug or there's just too much load on the test worker from time to time.

[2017-01-26 10:21] #9396 closed

[2017-01-26 10:21] mastergberry commented on #9436
Any updates as to why the nasm command is failing for my system?

[2017-01-26 10:31] jtattermusch commented on #9436
Have you tried yasm?  Both https://github.com/grpc/grpc/blob/master/INSTALL.md and boringssl's documentation https://github.com/google/boringssl/blob/master/BUILDING.md state that you should use yasm.

[2017-01-26 12:58] mastergberry commented on #9436
I don't even know how i got nasm onto my system but i switched to yasm now.

Getting a different error, i checked the paths and they both just lead to an openssl directory and don't seem to include actual file contents unless it looks recursively

[code]

[2017-01-26 14:30] jtattermusch commented on #9436
IMHO the executable name should be yasm, not vsyasm?

[2017-01-26 15:50] jtattermusch commented on #9202
@neuecc , the way things work currently is that on the client side, one needs to finish or cancel all calls before attempting to shutdown a channel (I can see how that can be limiting in some use cases, on the other hand, it's not unreasonable to expect user code to know what's happening with client calls at any given time).

If you need to shutdown your application unexpectedly, the way you can d

[2017-01-26 15:58] mastergberry commented on #9436
@jtattermusch so I tried using the visual studios installation which is why it was vsyasm but that did not seem to work. The default yasm seemed to have worked and I finally got everything to build. Thanks :)

Now my next issue is I am getting back a `Error 2 lame client channel` from the system. Do you know why it's returning the `lame client channel` when using default SSL? Once again no issues

[2017-01-26 16:34] jtattermusch commented on #9202
Also, the call to `channel.ConnectAsync()` is not necessary in your code. The channel connects automatically once an RPC is started (and that's the recommended way to connect the channel).

[2017-01-26 16:53] jtattermusch commented on #9249
So the program doesn't actually hang, it just keeps retrying to resolve the invalid hostname repeatedly.

after setting the environment variable `GRPC_VERBOSITY=DEBUG` and enabling logging in gRPC C#
`GrpcEnvironment.SetLogger(new Grpc.Core.Logging.ConsoleLogger());`, you can see this output:

[code]

Your code for detecting if it's possible to connect to the host seems reasonable (the code itself

[2017-01-26 16:59] jtattermusch commented on #9084
I've made several improvements to our CMake build and it should now be possible to build gRPC C++ with CMake (both Ninja and Visual Studio 2015 should work). Some of the changes still might be in one of my open pull requests.

See instructions here:
https://github.com/grpc/grpc/blob/master/INSTALL.md

Can you please try the instructions and verify if you can achieve your goals now?

[2017-01-26 17:05] jtattermusch commented on #9239
Is this affecting you when using C++ or C#?
Btw, I am currently working on improving our CMake building capabilities on Windows, which might eventually deprecate the current Windows build (generated VS projects + nugets for openssl and zlib) completely.

[2017-01-26 17:07] mastergberry commented on #9436
Ok i got the logger stuff to work...it seems like it's not generating something in one of the Windows files properly.

[code]

Notice how it's trying to use a linux path.

[2017-01-26 17:17] jtattermusch commented on #9436
You need to set
GRPC_DEFAULT_SSL_ROOTS_FILE_PATH to point to the location of roots.pem
(see https://github.com/grpc/grpc/blob/master/doc/environment_variables.md)

There's no reasonable standard path for roots.pem on Windows, so you need to set the env variable yourself.

[2017-01-26 17:27] dgquintas commented on #9249
No, the number of retries is not configurable. The knobs we currently have are for the backoff retry timer (initial delay, multiplier, etc) but those are not yet exposed through channel args.

I do find it surprising that the retry deadline is not increasing with every failure. Which version of core is this on?

[2017-01-26 17:30] jtattermusch commented on #9249
Should it ever time-out? It doesn't seem that is happening (unless the total timeout is very high).

[2017-01-26 17:34] dgquintas commented on #9249
No, it doesn't time out on its own. For as long as the call is alive, it'll continue to retry.

[2017-01-26 17:34] makdharma opened #9473 "Flaky aggregate_tests.run_tests_c_macos_dbg"
Here is the log from jenkins: https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2154/testReport/junit/(root)/aggregate_tests/run_tests_c_macos_dbg/

Error Message

Failure
Standard Output

ED: bins/dbg/h2_uds_test no_op [time=0.0sec; retries=0:0]
START: bins/dbg/h2_uds_test payload
PASSED: bins/dbg/h2_uds_test hpack_size [time=6.9sec; retries=0:0]
START: bins/dbg/h2_uds_test ping
PASSE

[2017-01-26 17:37] makdharma commented on #8989
Seen again in #9458

[2017-01-26 17:37] dgquintas commented on #9150
This is happen very often now, polluting the Jenkins results. @sreecha do you have an idea of the ETA for a fix or mitigation?

[2017-01-26 17:40] donalmacc commented on #9084
Hi Jan,

Thanks for the improvements. Unfortunately, we've moved on and are using Apache thrift now.

We may revisit in the future.

[2017-01-26 17:40] sreecha commented on #9150
I am actively looking at this. Ill have an update by EOD today (and if this isn't resolved by tomorrow, I'll disable the test - but continue investigating the issue)

[2017-01-26 17:40] dgquintas commented on #9226
Happened again recently: https://grpc-testing.appspot.com/job/gRPC_master_macos/1348/testReport/junit/(root)/python_macos_dbg/py27_test_unit__thread_cleanup_test_CleanupThreadTest/

@kpayson64 any ideas? Seems to be a timeout issue (by a few tens of seconds).

[2017-01-26 17:42] dgquintas commented on #9150
Sounds good, thank you!

On Thu, Jan 26, 2017 at 9:40 AM, Sree Kuchibhotla <notifications@github.com>
wrote:

[2017-01-26 18:23] makdharma opened #9474 "Newly added http2_badserver_interop tests fail, but Jenkins task still passes"
I added two more tests with PR #9458 . The console output of the gRPC_interop_pull_requests task [here](https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/10867/console) shows a problem with docker images. But Jenkins task still passes.

So two issues -
1. What is the problem with Docker images?
2. Why is the interop task not failing?

[2017-01-26 18:32] ericgribkoff opened #9475 "gRPC proto files should be in a central repository"
Many proto files for gRPC are duplicated across [`grpc/grpc`](https://github.com/grpc/grpc), [`grpc/grpc-go`](https://github.com/grpc/grpc-go), and [`grpc/grpc-java`](https://github.com/grpc/grpc-java). For example:

- [reflection.proto in gRPC](https://github.com/grpc/grpc/blob/master/src/proto/grpc/reflection/v1alpha/reflection.proto)
- [reflection.proto in gRPC-Go](https://github.com/grpc/grpc-

[2017-01-26 18:39] allquixotic commented on #9084
I'll test it for you in lieu of donalmacc, if you like, @jtattermusch.

I use grpc++ on 64-bit Windows 10 every day, originally compiled using VS2015. I'd be glad to test your changes and provide feedback!

Look for my response here by the end of the week.

Regards

[2017-01-26 19:03] mastergberry commented on #9436
Gotcha. Well that is resolved now too and this is all setup and working. I would adjust the documentation to state that the Windows SDK needs to be installed through Visual Studios (not downloaded separately) and that this stuff should be ran through a developer console on MSVS as well.

Thanks for all the help.

[2017-01-26 19:05] murgatroid99 commented on #8826
The npm module grpc@1.1.0-pre1 should now work on electron. Make sure that you follow the instructions in the electron docs for [installing native modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/). You should be able to omit the line `export npm_config_build_from_source=true` to install the precompiled binary file for electron.

[2017-01-26 19:08] murgatroid99 commented on #8609
This failure is no longer occurring.

[2017-01-26 19:08] #8609 closed

[2017-01-26 19:11] murgatroid99 commented on #8319
The npm module grpc@1.1.0-pre1 should now work on electron. Make sure that you follow the instructions in the electron docs for [installing native modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/). You should be able to omit the line `export npm_config_build_from_source=true` to install the precompiled binary file for electron.

It may be that you will no longer see this p

[2017-01-26 19:11] murgatroid99 commented on #8260
The npm module grpc@1.1.0-pre1 should now work on electron. Make sure that you follow the instructions in the electron docs for [installing native modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/). You should be able to omit the line `export npm_config_build_from_source=true` to install the precompiled binary file for electron.

[2017-01-26 19:11] murgatroid99 commented on #8166
The npm module grpc@1.1.0-pre1 should now work on electron. Make sure that you follow the instructions in the electron docs for [installing native modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/). You should be able to omit the line `export npm_config_build_from_source=true` to install the precompiled binary file for electron.

[2017-01-26 19:13] murgatroid99 commented on #7903
We have published grpc@1.1.0-pre1 to npm, and that includes change #8981. It should now work on Centos 6. If anyone could verify this, that would be very helpful.

[2017-01-26 19:15] murgatroid99 commented on #7345
I'm just going to close this. We can reopen if we get the log information or a reproduction with a more recent version of the library.

[2017-01-26 19:15] #7345 closed

[2017-01-26 19:19] murgatroid99 commented on #8649
We have published grpc@1.1.0-pre1 to npm, and it includes Node 7 support.

[2017-01-26 19:19] murgatroid99 commented on #9312
The npm module grpc@1.1.0-pre1 should now work on electron. Make sure that you follow the instructions in the electron docs for [installing native modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/). You should be able to omit the line `export npm_config_build_from_source=true` to install the precompiled binary file for electron.

[2017-01-26 19:22] amit777 commented on #7903
Funny timing. We just moved most of our servers to Centos7, but I was able to successfully do npm install grpc@1.1.0-pre1 on the remaining Centos6 box.   I also did a quick require('gprc') test and that worked too.  Thanks!

[2017-01-26 21:13] Azert-Mark commented on #9249
Hi @jtattermusch, thanks for getting back. I knew someone would point out not running it in an async context, this is due to this code running in a synchronous Castle Windsor installer, it doesn't have an async version unfortunately.

@dgquintas this is on the latest core currently available on Nuget, 1.0.1 at time of writing.

I guess my question is, should this try indefinitely and if it should,

[2017-01-26 23:51] nicolasnoble commented on #9474
The only thing I am wondering is that error here: "cannot enable tty mode on non tty input". Care to disable the -t option ?

[2017-01-27 08:41] pepperkick commented on #9283
Hello,

I downgraded to Node 6 to fix this issue for app (I was not aware of this issue page until I got tagged, sorry).

Anyway,

I got Node 7.4 again today and installed @google-cloud/speech with this command

`npm install @google-cloud/speech  --loglevel info`

Not sure if you want this but here is the npmlog
[npmlog.txt](https://github.com/grpc/grpc/files/734699/npmlog.txt)

**gRPC v1.0.1** wa

[2017-01-27 08:45] jtattermusch opened #9481 "DNS resolver in C core never gives up resolving a nonexistent hostname"
Context #9249

When a non-existent hostname is used for a channel and an RPC is started, the behavior seems less than ideal:

-- the DNS resolver keeps retrying to resolve the name forever and never gives up
-- the backoff times are not increasing if there are multiple retries (always 1s)
-- the behavior cannot be configured in any way while the default behavior doesn't seem very reasonable.

[cod

[2017-01-27 08:47] jtattermusch commented on #9249
I created the issue https://github.com/grpc/grpc/issues/9481 to look more into DNS resolver behavior.
Closing this issue.

[2017-01-27 08:48] #9249 closed

[2017-01-27 09:02] jtattermusch commented on #9475
For the C core repo, having some proto files in a submodule might be complicated from the point of view of different build systems (they might expect proto files in specific locations in our repo and it's easier to build proto files that are directly checked into the main repo). One solution that might work for C core repo:
- add all the shared protos to grpc/grpc-proto
- have copies of shared pro

[2017-01-27 11:36] muxi commented on #9473
Known issue as #9398, @vjpai is looking on it

[2017-01-27 11:36] #9473 closed

[2017-01-27 12:46] joelharkes commented on #9311
It still can't find the pre compiled libraries and downloads them:

[code]

node 7.4
npm 4.0.5

package.json:

[code]

[2017-01-27 13:03] akamos opened #9483 "Backoff/retrying in client"
Hi,
I try to figure out how to use the backoff/retrying/load balancing mechanism correctly. I have a for loop with one request and would like to shutdown one of  two servers while the loop is running. So it should switch to the another server. This also work, but only after one request fails. Why grpc doesn't retry the request? Only after one request fails, the next is successfully already on anot

[2017-01-27 14:29] tuxagon opened #9484 "NuGet Package Dependency Problem"
I'm encountering an interesting issue and it could be due to lack of experience, but I am creating a NuGet package that has a dependency on `Grpc.Core`. Everything works fine in the project that will be turned into a NuGet package; however, any other project that uses my package has the binaries from `Grpc.Core`'s NuGet `runtimes` folder installed at the project's root. I don't want the binaries i

[2017-01-27 16:25] ncteisen commented on #9483
The backoff you have set only applies when the channel is initially connecting to the server. In the case where you knock off one of the servers, the connection is still there. The client must attempt (and fail) to send a message to the shutdown server before realizing that it should reconnect to the second, healthy server.

The good news is that gRPC retries is an ongoing project, so that functio

[2017-01-27 17:55] murgatroid99 commented on #9311
I notice that even though you updated your dependency on grpc to 1.1.0-pre1, npm is still installing 1.0.1 as the sub-dependency for `@google-cloud/common`. Until they update their dependency and/or we publish 1.1.0, I'm not sure how to force a package to use a different version of a library as a sub-dependency.

[2017-01-27 18:29] wenbozhu commented on #8682
DONE

[2017-01-27 21:02] akamos commented on #9483
In our project we would really want to use grpc, and exactly the retries are a thing that we require. Please give me a hint in which files is already work done or we it should be implemented.  We would like to participate actively in the project.

[2017-01-28 00:00] ncteisen commented on #9483
This is a major project and we are still in the design phase. Within two weeks we will publish a gRFC in https://github.com/grpc/proposal that describes our design and allows people to comment. The implementation will start after that.

For now I would suggest writing your own retry logic above our code. That is what several groups have done to use retries before we implement it

[2017-01-28 12:12] Disturbing opened #9493 "Unreliable Socket Communication (UDP)"
Requesting support for unreliable packets. This use case goes for most real time games and think it would greatly benefit the www.unity3d.community.  Example implementation use case is the standard interpolation/extropolation requirements for FPS: https://developer.valvesoftware.com/wiki/Source_Multiplayer_Networking

I've been looking at the repro for a while, and would love to help make this fea

[2017-01-28 13:09] sulliwane commented on #9439
@kpayson64 appending to the list instead of assigning throws the same error:
[code]

@nathanielmanistaatgoogle Out of the two .py generated (**grpcClient_pb2** and **grpcClient_pb2_grpc**), I just use one: **grpcClient_pb2** to generate the stub, and build the objects. The other file ending with **_grpc** -> **grpcClient_pb2_grpc** seems broken, with many duplicated imports at the beginning of the

[2017-01-28 13:34] sulliwane commented on #9439
just resintalled all the packages with python 3.5, same error :-(

[2017-01-28 14:24] Aneurin commented on #9084
@jtattermusch Thanks for this - I was able to build (with VS 2015 on Windows 10 x64) using the CMake instructions without modification, and link the results painlessly into a minimal Qt application.

[2017-01-28 15:59] IvanSafonov commented on #8682
@wenbozhu could you please add me too? Thanks!

[2017-01-28 17:41] cbornet opened #9494 "Reactive streams"
Are there any plans to support [reactive streams](http://www.reactive-streams.org/) to get non-blocking back-pressure ?

[2017-01-28 19:28] jozefizso commented on #9239
Libraries distributed with C# does not need the VC++ 2015 Runtime (AFAIK).

This is affecting only gRPC v1.0 C++ libraries for Windows and only the **zlib** dependency.

[2017-01-28 23:59] Aneurin commented on #7298
I'm seeing the same assertion failure as this in more or less the same circumstances (the only obvious difference is that I'm on Windows). It looks like the handshake code was extensively refactored in 963be3727033668049a4de9f9ce1b507239e93f6 - is it possible this issue was inadvertently reintroduced?

I'd like to try a checkout from before that change to see if it works, but I've only been able t

[2017-01-29 06:30] sulliwane commented on #9439
**Short story:** My server was written in node.js, and:
[code]
solved the problem for me.

**Long story:** It appears that whatever the server my client was connecting to (I had a local and a remote node.js server running for the test) in both case my client would throw. That's why I looked for an error in the client code, and not on the server side.

Finally I reimplemented the server side in pyt

[2017-01-29 06:30] #9439 closed

[2017-01-29 06:34] ctiller commented on #9494
Which language are you interested in?

On Sat, Jan 28, 2017, 9:42 AM Christophe Bornet <notifications@github.com>
wrote:

[2017-01-29 09:24] cbornet commented on #9494
I'm interested in java and python. Do you mean that it can be supported by languages individually ? I thought it would need protocol adaptations first.

[2017-01-29 10:47] Aneurin commented on #7131
(I previously posted this against #7298 by mistake. Sorry for the confusion)

I'm seeing the same assertion failure as this in more or less the same circumstances (the only obvious difference is that I'm on Windows). It looks like the handshake code was extensively refactored in 963be3727033668049a4de9f9ce1b507239e93f6 - is it possible this issue was inadvertently reintroduced?

I'd like to try a

[2017-01-29 15:56] akshendra opened #9496 "unhandledRejection on when server is overloaded when using google pubsub"
I am using [google-cloud-node](https://github.com/GoogleCloudPlatform/google-cloud-node)'s PubSub module which is using grpc. It starts off well but after some time I see errors like below.

[code]

I have an event handler on the subscription for errors, but it seems the error does not propagate to it

[2017-01-29 16:39] yancl commented on #9434
Yes, I got it, thank you @murgatroid99. but will you give some advise on how to diagnose it according to the exception? thank you:)

[2017-01-29 18:12] ctiller commented on #9494
Reactive streams are really just sugar on APIs that we already have in
place. I don't expect any protocol work would be necessary. It's not
possible to write gRPC code without support for backpressure.

On Sun, Jan 29, 2017, 1:24 AM Christophe Bornet <notifications@github.com>
wrote:

[2017-01-29 21:11] cbornet commented on #9494
But reactive streams expect some cooperation between subscribers and publishers where the subscriber indicates to the publisher how many work unit it has available. So there must be some signaling protocol from the subscriber to the publisher. Maybe it's already possible with gRPC (I don't know the internal very much) but all the stream back pressure implementations I've seen so far are based on b

[2017-01-29 21:54] ctiller commented on #9494
So as far as I know all gRPC implementations have a finite buffer length
for messages on a stream which provides the backpressure you're looking for.

On Sun, Jan 29, 2017, 1:12 PM Christophe Bornet <notifications@github.com>
wrote:

[2017-01-29 22:23] cbornet commented on #9494
Yes. That's the usual way when doing "push" stream. When the bounded queue if full (when the publisher is faster than the subscriber), you either drop new attempts to write to the queue or block the publisher.
But this has some drawbacks when doing fully non-blocking async architectures (the first being that you block, the second that you may deadlock, ...). That's what reactive streams try to imp

[2017-01-30 04:25] muxi opened #9497 "java:jwt_token_creds failing"
cloud_to_prod_auth:default:java:jwt_token_creds failed in https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/10969/consoleFull

[code]

[2017-01-30 04:57] jenevaL commented on #3360
Same error appears when I try to connect with neo4j.
This is my code:

var express = require ('express');
var path = require('path');
var logger = require('morgan');
var bodyParser = require('body-parser');
var neo4j =  require('neo4j-driver').v1;

var app = express();

//View Engine
app.set('views', path.join(__dirname, 'views'));
app.set('view engine', 'ejs');

app.use(logger('dev'));
app.use(bo

[2017-01-30 08:35] muxi commented on #9437
It seems that this failure is coming again. See master failed at
https://grpc-testing.appspot.com/job/gRPC_master_linux/1285/consoleFull

[2017-01-30 08:47] KanybekMomukeyev commented on #8057
@YioMidd Same here, go 1.7.1 and swift 3, what is the solution???

[2017-01-30 08:49] muxi opened #9499 "Multiple qps timeouts/failures"
In https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/8839/consoleFull

Failed tests include:
ruby_protobuf_sync_streaming_qps_unconstrained
ruby_protobuf_sync_unary_qps_unconstrained
ruby_protobuf_unary_ping_pong
node_protobuf_async_unary_qps_unconstrained
node_protobuf_unary_ping_pong
csharp_generic_async_streaming_ping_pong
csharp_protobuf_async_streaming_ping_pong
csharp_proto

[2017-01-30 12:40] Arun-KumarH opened #9500 "pbjs 6v - grpc client end point creation issue"
We are having issues creating the protobuf services using below grpc version.

prtobufjs : 6.6.1
grpc: 1.1.0-pre1

Below is the code snippet (we create the builder definition dynamically loading the prot files) then we load grpc objects:
[code]

When we try to create client endpoint from instance and method name:
const conn = new this.$service(host, credentials);

We get error "TypeError: this.$se

[2017-01-30 14:24] FunkySayu opened #9501 "Unable to build the Pypi package in bazel"
I am trying to use the [`rules_pypi`](https://github.com/gengo/rules_pypi/) bazel rules to include the Python grpc package into my bazel project. After several attempts, it looks like that during the compilation time, `pip` is unable to access the gcc's libraries at link time, making it impossible to compile Python grpc module.

Here is a minimal WORKSPACE file (other are irrelevant, you just have

[2017-01-30 17:22] ctiller opened #9504 "ObjC tests flaking with '502 Bad Gateway'"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2241/testReport/junit/(root)/objc_macos_dbg/objc_tests/

[code]

[2017-01-30 17:50] murgatroid99 commented on #9496
This looks like an issue with how google-cloud-node is propagating errors. I suggest posting an issue on that repo.

[2017-01-30 18:43] dgquintas commented on #9124
@vjpai this test is preventing most builds from being green. Are you actively looking or should this be reassigned?

[2017-01-30 19:34] jstruzik opened #9509 "Controlling PHP-ext log verbosity"
Following the [install instructions](https://github.com/grpc/grpc/tree/master/src/php#quick-install) for the GRPC PHP-ext via Pecl, on Linux environments with a glibc < 2.17 I get the following info log:

[code]

Default log verbosity should have been changed to `ERROR` in > 1.0.0 according to https://github.com/grpc/grpc/pull/7438. Setting the `GRPC_VERBOSITY` environment variable doesn't seem to

[2017-01-30 19:47] murgatroid99 commented on #9443
That error is emitted whenever a call terminates without completing successfully. Cancelling a call causes that.

If a call is cancelled, that error will be emitted. But keep in mind that a very similar error would be emitted to the same event handlers if the call's deadline is exceeded instead.

[2017-01-30 20:13] sztomi opened #9510 "Extremely high memory usage in 1.1.0-pre with moderately sized messages"
I'm creating a benchmark of RPC libraries where a client and server are created in the same process and the performance of message passing is measured in each iteration. Creating the server and client happens once per benchmark, i.e. not per iteration.

One of the benchmarks uses cached large blobs of increasing sizes from 4k up to 32M. Using **grpc 1.1.0-pre** with the protobuf it references as a

[2017-01-30 20:20] ctiller commented on #9510
Am I right in my understanding that the benchmark consists of a single
threaded client that's repeatedly making blocking requests to a server to
retrieve some buffer?

On Mon, Jan 30, 2017 at 12:13 PM Tamás Szelei <notifications@github.com>
wrote:

[2017-01-30 20:23] sztomi commented on #9510
Yes (at least that was my intention, but I'm really new to grpc).

[2017-01-30 23:35] dgquintas commented on #9499
Seen again #9508

[2017-01-30 23:35] dgquintas commented on #9497
Seen again #9508

[2017-01-31 01:20] ramirezd42 opened #9517 "synchronous service functions in NodeJS"
Sorry if this has been discussed already, but is there a means of calling service functions in a synchronous way as there is in other languages? If so, I can't find it documented anywhere.

I KNOW this is an uncommon use case in node. But a library i'm trying to write has a need for it.

Something like the following:

[code]

[2017-01-31 01:26] murgatroid99 commented on #9517
No, you cannot call gRPC service methods in a synchronous manner. They are fundamentally asynchronous. You may be able to force an apparently synchronous control flow with a library like [deasync](https://www.npmjs.com/package/deasync), but I would strongly recommend trying first to express what you want to do in an asnyc manner.

[2017-01-31 01:29] mehrdada commented on #8229
I am unable to reproduce the problem. I installed the exact ubuntu/python version (15.10) and unable to reproduce on gRPC 1.0.0 (or the latest version on pip).

[2017-01-31 01:42] murgatroid99 commented on #9311
grpc@1.1.0 has now been published to npm, so I believe that `@google-cloud/common` should now pick it up automatically. This should work now. If it doesn't please reopen the issue.

[2017-01-31 01:42] #9311 closed

[2017-01-31 01:43] murgatroid99 commented on #9283
grpc@1.1.0 has been published to npm, and it includes some significant low-level changes. Can you update your dependencies and see if this problem is still present?

[2017-01-31 01:47] murgatroid99 commented on #8805
Precompiled binaries for Node 7 on all platforms, including Windows, are now available with grpc@1.1.0. This exact error should no longer occur with that version.

[2017-01-31 01:47] #8805 closed

[2017-01-31 01:49] #8166 closed

[2017-01-31 01:50] #7903 closed

[2017-01-31 01:58] #8649 closed

[2017-01-31 02:00] murgatroid99 commented on #6976
The next step is getting grpc/proposal#8 accepted and implemented.

[2017-01-31 03:30] ramirezd42 commented on #9517
Yeah, as a general rule I agree. For the record deasync, did the trick!

Closing this.

[2017-01-31 03:30] #9517 closed

[2017-01-31 06:40] pepperkick commented on #9283
@murgatroid99 same issue with grpc@1.1.0 too.

[2017-01-31 07:06] Arun-KumarH commented on #9196
We tried with grpc 1.1.0-pre1 version but it still seems to be using pbjs 5.0v - https://github.com/grpc/grpc/issues/9500 Could you please let us know when this will be available ?

[2017-01-31 09:09] vjpai commented on #9124
Consider reassigning if this is needed urgently as I realistically won't be looking at this for at least a few days.

[2017-01-31 10:26] #8927 closed

[2017-01-31 10:33] dskdas opened #9518 "@google-cloud/datastore is broken with grpc 1.1.0"
Downgrading to grpc 1.0.1 in my project seems to fix the issue.

With the latest 1.1.0 version datastore save returns an 503 error "connect failed"

[2017-01-31 11:23] jtattermusch commented on #9497
Seen again: https://github.com/grpc/grpc/pull/9390

[2017-01-31 12:00] jtattermusch commented on #9484
I assume you are using desktop .NET (as opposed to coreCLR). What you are describing seems like things behaving as expected. The native DLLs are added to your project by Grpc.Core nuget so that they can be copied to the output directory after building your project. gRPC C# depends on the grpc_csharp_ext library (gRPC C# is a wrapper around a gRPC C core library).

[2017-01-31 12:00] jtattermusch commented on #9484
Unless something is broken for you, I'll close this issue now (feel free to reopen if needed).

[2017-01-31 12:00] #9484 closed

[2017-01-31 13:19] tuxagon commented on #9484
I know the binaries are needed, but it's the location at which it places them that is the problem. See http://stackoverflow.com/questions/41941588/binaries-are-added-to-project-when-nuget-package-has-grpc-core-as-a-dependency

[2017-01-31 13:32] AngryLemonn commented on #9365
I think you want to use -std=c++11

[2017-01-31 14:40] AngryLemonn opened #9520 "Error compiling the cpp helloworld (master)"
Hello there,

I am working in a project where I need one rpc server in C++ and one rpc client in php. I tried to use the grpc v1.0.0 and v1.0.1, but compiling the php extension I got some errors that couldn't solve by myself.

Triying the last grpc version ( master ), the compilation of the grpc core and grpc php extension was good, but trying the examples I got this error during the compilation o

[2017-01-31 16:03] gazialankus opened #9521 "C# Nugets: Can't step into Grpc code when debugging"
I would like to step into C# grpc code but I can't.

I'm using grpc via NuGet in Visual Studio and it can't find Grpc.Core.pdb for 1.00.1.0. I configured to use symbolsource.org but it seems [the latest pdb it has is for 0.7.1](https://www.symbolsource.org/Public/Metadata/NuGet/Project/Grpc.Core). I'm not a NuGet expert, maybe I'm missing something. How can I step into grpc code?

![screenshot](ht

[2017-01-31 16:23] ncteisen commented on #9520
Looks like the file is still there to me: https://github.com/grpc/grpc/tree/master/include/grpc%2B%2B/impl/codegen

Please ensure that you have installed the most current version, then run:
[code]

[2017-01-31 17:12] AngryLemonn commented on #9520
I did the **_make_** and the **_sudo make install_** before create the issue. Even so, I repeat the installation of the latest version of grpc (and protobuf) and these are the files that the make install in **_/usr/local/include/grpc_**:

[code]

There are no file named metadata_map.h :(

[2017-01-31 17:47] yang-g commented on #9520
I think there is a small bug. I will send a PR to fix it soon. Thanks for reporting.

[2017-01-31 18:19] makdharma commented on #9474
I removed the "-t" option in #9515 .
Docker seems to be running after this change.
Some interop tests are failing, however. Console output is [here](https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/11031/console). Failing tests are:
tests.cloud_to_cloud:python:http2_server:rst_during_data
tests.cloud_to_cloud:python:http2_server:rst_after_header
tests.cloud_to_cloud:python:http2_ser

[2017-01-31 18:42] adelez commented on #9474
The new tests broke the HTML report: https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/11031/HTML_Report/.

It should look like https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/HTML_Report/. I'll put in a fix.

[2017-01-31 18:43] yang-g opened #9524 "distrib tests have been failing"
From issue #9520, it seems we are not catching installation failures in out tests. I then looked at our distrib tests and it seems it has been failing for a while:
https://grpc-testing.appspot.com/view/Artifacts/job/gRPC_distribtest/

[2017-01-31 19:20] murgatroid99 commented on #9283
That's very surprising, because grpc@1.1.0 should never call any epoll functions.

[2017-01-31 19:43] pepperkick commented on #9283
I just updated gprc through npm I guess I have to rebuild. I will start fresh and confirm.

[2017-01-31 19:47] murgatroid99 commented on #9283
You should be able to do `npm update grpc --update-binary`, or possibly `npm install grpc@1.1`. Unfortunately, due to GoogleCloudPlatform/google-cloud-node#1946, you may actually just experience different failures until the next patch release.

[2017-01-31 20:03] pepperkick commented on #9283
Updated to grpc@1.1.0 again and rebuild google cloud speech.

GRPC_VERBOSITY=DEBUG still gives ` Using polling engine: epoll` when app has started.

[code]

Is there any way to confirm that the app is using v1.1.0 and not the old one (I did remove the old one from modules, but still want to confirm)

[2017-01-31 20:11] ncteisen commented on #9474
Those tests are now failing due to this commit: [Revert "Revert "Metadata handling rewrite""](https://github.com/grpc/grpc/commit/7c70b6c144a20782b6be4751da68c6aa7b35648d), which takes away more specific debugging prints right [here](https://github.com/grpc/grpc/commit/7c70b6c144a20782b6be4751da68c6aa7b35648d#diff-434e605a287683b6db888d5786b51cb2L115).

My tests asserted that the status details we

[2017-01-31 20:50] emmenlau opened #9526 "issues with Testing handshake_client"
When I compile grpc-1.1.0-pre1 against protobuf-3.1.0 then the test handshake_client segfaults:
[code]

When I update protobuf to 3.2.0, then the same test hangs infinitely (killed after 90min running constantly at 200% CPU).

[2017-01-31 21:17] #9235 closed

[2017-01-31 21:39] gazialankus commented on #8277
I have been getting the "Operation is not valid due to the current state of the object" exception or experiencing hangs and I figured out the correct client ritual for ending a rpc call with a bidirectional stream.

This is how your client code needs to be:

1. Use `call.RequestStream` and `call.ResponseStream` to your heart's content. After your last write to `call.RequestStream`, go to the step

[2017-01-31 21:41] gazialankus commented on #6990
This may be helpful: https://github.com/grpc/grpc/issues/8277#issuecomment-276501032

[2017-01-31 22:25] yang-g commented on #9520
I just merged the fix. Please let me know if you still have issues building the example. Thanks.

[2017-01-31 22:25] #9520 closed

[2017-01-31 22:25] ericgribkoff commented on #9474
The java:http2_server tests are flaky. Can reproduce when using docker locally, but not when running the server and client directly. Still looking into root cause.

[2017-01-31 22:44] #9469 closed

[2017-01-31 23:33] ctiller opened #9528 "TSAN detected data race in h2_proxy_test cancel_after_invoke GRPC_POLL_STRATEGY=poll-cv"
Seen here: https://grpc-testing.appspot.com/job/gRPC_pull_requests_tsan_c/1618/consoleFull

[code]

[2017-02-01 00:04] dgquintas commented on #9497
@ejona86 any ideas?

[2017-02-01 00:31] murgatroid99 commented on #9497
I didn't realize that this issue existed so I also filed it at grpc/grpc-java#2680

[2017-02-01 00:34] dgquintas commented on #9497
@ejona86 has actually found the issue. fix coming up

[2017-02-01 00:56] swingfield commented on #8212
Hi @malexzx,

I was wondering how your HP port was coming along. I am considering looking into the effort for AIX  and Solaris in addition to HP, and was curious if you were finding success.

[2017-02-01 02:09] apolcyn commented on #9402
I think the problem is above perf actually.

It's looking like there are workers ran under perf which time out and get kill signal sent, which kills ssh on the driver but leaves the remote qps_worker and perf alive indefinitely.

[2017-02-01 03:13] apolcyn commented on #9402
It looks like reports were partially created https://grpc-testing.appspot.com/job/gRPC_performance_sweep/140/.

Looks like perf reports aren't being created for scenarios with channels >= 1000, but seems these sweep scenarios were also failing without perf.

From the logs, the first failures are normal timeouts, perf mmap errors happen a couple of failures later - not certain appears to happen mul

[2017-02-01 09:14] mwitkow commented on #8682
@wenbozhu We did something similar to what you're proposing in, and the proof of concept is in:
https://github.com/mwitkow/grpc-browser-compat

Basically it's a Go proxy + browser polyfill for the NodeJS gRPC transport.

Can you please add me to the grpc-web repo? :) Thanks!

[2017-02-01 09:39] malexzx commented on #8212
Hi @swingfield,

My port completely done, working and most tests are passed (but outdated in integration queue).
Maybe it required additional work with grpc requirements.
You can base your work on my (https://github.com/grpc/grpc/pull/8572). But I dont known, when it integrated into grpc source.

[2017-02-01 10:01] muxi opened #9538 "Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER."
Failed in this test:https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2401/console
[code]

[2017-02-01 14:55] tuxagon commented on #9484
I did figure this out. Solution will be posted to the previous stackoverflow link

[2017-02-01 16:38] #9497 closed

[2017-02-01 17:39] dgquintas commented on #9008
No recent activity, closing.

[2017-02-01 17:39] #9008 closed

[2017-02-01 17:39] dgquintas commented on #9011
No recent activity, closing.

[2017-02-01 17:41] dgquintas commented on #9153
@nicolasnoble could you disable this and similar tests on Windows while the issue is addressed?

[2017-02-01 17:44] dgquintas opened #9542 "h2_http_proxy_nosec_test and h2_http_proxy_test fail consistently on Windows"
See #9186, #9153, #9088, #9037

If no immediate fix is available, please disable them for the time being.

[2017-02-01 17:44] dgquintas commented on #9040
Not seen for a while, closing.

[2017-02-01 17:44] #9040 closed

[2017-02-01 17:45] dgquintas commented on #9046
Not seen for a while, closing.

[2017-02-01 17:45] #9046 closed

[2017-02-01 17:45] dgquintas commented on #9047
No activity, closing.

[2017-02-01 17:45] #9047 closed

[2017-02-01 17:46] dgquintas commented on #9087
No activity. Closing.

[2017-02-01 17:46] #9087 closed

[2017-02-01 17:47] dgquintas commented on #9124
This test has been marked as flaky as of #9530. Keeping this issue open in hopes it can be unmarked.

[2017-02-01 17:47] #9134 closed

[2017-02-01 17:48] dgquintas commented on #9150
#9485 disables this test while @sreecha investigates.

[2017-02-01 17:53] murgatroid99 opened #9543 "Ruby cloud to prod test failure: empty_unary"
https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/11060/testReport/junit/(root)/tests/cloud_to_prod_default_ruby_empty_unary/

It's a connectivity failure, so it may not be ruby-specific

[2017-02-01 17:56] markdroth commented on #9542
FYI, these tests on Windows have been useful in the past for detecting real bugs, even despite their flakiness.  Disabling them would take away that signal.  It might be better to live with the flakiness until someone has time to fix them.

[2017-02-01 17:58] dgquintas commented on #9542
Fair enough. @nicolasnoble would you be able to give a timeline for a fix?

[2017-02-01 17:59] dgquintas commented on #9152
No activity. Closing.

[2017-02-01 17:59] #9152 closed

[2017-02-01 17:59] dgquintas commented on #9154
No activity. Closing.

[2017-02-01 17:59] #9154 closed

[2017-02-01 18:00] dgquintas commented on #9182
No activity. Closing.

[2017-02-01 18:00] #9182 closed

[2017-02-01 18:00] dgquintas commented on #9225
@jtattermusch ping

[2017-02-01 18:01] dgquintas commented on #9226
@kpayson64 ping

[2017-02-01 20:55] python-lamer opened #9547 "python grpc tls mutual authentication"
Hello,
after some google research and digging into  source code I still cant figure out how to do tls mutual authentication on client side. Is there some example online or is it not yet supported?
Thanks!

[2017-02-01 21:32] daemonslayer opened #9549 "Unable to install grpc on Ubuntu 16.04"
After installing protobuf, I used these commands to build grpc:
[code]
I am getting this error:
[code]
I had previously installed protobuf 3.2(latest) from release package but that wasn't supported. So I `make uninstall`ed it and installed protobuf 3.0.0. On doing `protoc --version`, I get `libprotoc 3.0.0`.

[2017-02-01 21:36] dgquintas commented on #9398
I haven't been able to reproduce this after a long time of running the offending test manually on the mac jenkins workers. Closing for now.

[2017-02-01 22:29] dgquintas opened #9550 "objc_macos_dbg.objc-tests failure"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2376/console

[code]

[2017-02-01 22:30] dgquintas opened #9551 "objc_macos_opt.objc-examples-build failure"
https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2376/testReport/junit/(root)/objc_macos_opt/objc_examples_build/

[2017-02-01 23:22] #9528 closed

[2017-02-02 02:13] jtattermusch commented on #9474
Update: Rootcause was explained in https://github.com/grpc/grpc/pull/9458. @adelez  is working on a better integration of badserver interop tests into run_interop_tests.py.

IMHO the `-t` tty "issue" is a red herring (at least is seems unrelated to the actual cause).

[2017-02-02 03:45] stanley-cheung opened #9554 "Couple of node issues"
Something we discovered during our joint debug session:

https://github.com/grpc/grpc/blob/master/src/node/src/server.js#L135
https://github.com/grpc/grpc/blob/master/src/node/src/server.js#L125

[2017-02-02 05:00] rikuayanokozy opened #9555 "ObjC: Make timeout and hostnameOverride configurable?"
I'm working on gRPC binding for react-native. gRPC for java provided a convenient way to config hostnameOverride and timeout, but in gRPC ObjC, the timeout is hardcoded to infinity and hostnameOverride is exported in private class GRPCHost.

[2017-02-02 10:36] ajardan commented on #9365
I tried it, here's what make says:
[code]

[2017-02-02 12:50] komuW commented on #7075
@a-veitch @zinuga
what say you, RE: the comment by @hsaliak  `Redirecting this to @a-veitch and @zinuga to prioritize and come back with some input on whether we are tackling this in the near term.`?

[2017-02-02 14:41] jtattermusch commented on #9147
[code]

https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2429/testReport/junit/(root)/csharp_linux_opt/csharp_Grpc_Core_Tests_ResponseHeadersTest/

[2017-02-02 16:19] Binarytales commented on #8104
I'm seeing this message in my logs even with `GRPC_VERBOSITY="ERROR"`

Let me know if there is anything I can do to help debug this issues for you. This is being set in a Dockerfile for a image that is run on:
- Docker 1.13.
- Node 6.9.5
- Alpine with libc6-compat

[2017-02-02 16:21] Binarytales commented on #9509
I'm seeing this same issue with the Node library.

[2017-02-02 16:51] dysosmus opened #9559 "PHP grpc client leaking memory"
When running the example `route_guide_client.php` a bit of memory are leaking.
It becomes really problematic when a client is running in a worker (or any long running process).
You can see how obvious is the memory leak with that script
[code]

[code]

The environment:
[code]

[code]

It may be related to that issue #8074

[2017-02-02 17:05] jab commented on #8495
Tried with Node 7.5.0 and hit this issue with that version too.

[2017-02-02 17:16] jtattermusch commented on #9504
I am seeing a similar flake with error `Connect Failed" UserInfo={NSLocalizedDescription=Connect Failed, io.grpc.TrailersKey={
}}`

https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2398/testReport/junit/(root)/objc_macos_opt/objc_tests/

[code]

[2017-02-02 17:25] jtattermusch opened #9560 "ALL Ruby tests on Mac are broken with error "bundle: command not found""
Seen here: https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2398/testReport/junit/(root)/aggregate_tests/run_tests_ruby_macos_opt/

[code]

It seems that this has been happening on master builds and it's failing consistently.

Some of previous master build report this issue when running `pre_build_ruby.sh`:

[code]

[2017-02-02 17:29] jtattermusch commented on #9560
https://grpc-testing.appspot.com/job/gRPC_master_macos/1424

[2017-02-02 17:34] apolcyn commented on #9560
I forgot to reinstall bundler on all but one of the mac workers when updating yesterday - just reinstalled I think this should work now.

[2017-02-02 17:48] ejona86 opened #9561 "CONNECT: use `HTTPS_PROXY` instead of `http_proxy`"
Today it [seems the code is using `http_proxy`](https://github.com/grpc/grpc/blob/d58a985/src/core/ext/client_channel/http_proxy.c). That is a commonly used environment variable for enabling a forward proxy, but it is generally for _http_ (no s) connections. The distinction is because http forward proxying does not use CONNECT whereas https does.

Note that we would get to choose which case of the

[2017-02-02 18:31] markdroth commented on #9561
It's not clear to me that it necessarily makes more sense to unconditionally use `https_proxy` instead of `http_proxy`, since gRPC can be used both with and without SSL.  I suppose that we could choose between the two based on whether the channel is a secure or insecure channel.  However, even that would not necessarily be accurate, since you can use a secure channel with mechanisms other than SSL

[2017-02-02 18:43] dgquintas opened #9562 "py27.test.protoc_plugin._python_plugin_test.PythonPluginTest TIMEOUT"
On mac: https://grpc-testing.appspot.com/job/gRPC_master_macos/1427/console

[code]

[2017-02-02 18:51] murgatroid99 commented on #8495
grpc 1.1 should work on Node 7 now

[2017-02-02 18:53] murgatroid99 commented on #9283
It might be best to do a clean reinstall, just to make sure it's up to date.

[2017-02-02 18:55] jab commented on #8495
@murgatroid99 Thanks! Will try that shortly, but in the meantime, looks like a tag for 1.1 still needs to be cut (and any release notes added) so it appears under https://github.com/grpc/grpc/releases - currently shows v1.1.0-pre1 as latest.

[2017-02-02 18:56] dgquintas commented on #9204
Seen again. Reopening. https://grpc-testing.appspot.com/job/gRPC_master_tsanitizer_c/780/testReport/junit/(root)/c_linux_tsan/bins_tsan_goaway_server_test_GRPC_POLL_STRATEGY_poll/

easy to reproduce locally: `./tools/run_tests/run_tests.py -l c -c tsan -r goaway_server_test -n inf -S -a 10`

[2017-02-02 19:09] stanley-cheung commented on #9559
Which protobuf implementation / version are you using?

[2017-02-02 19:24] apolcyn opened #9564 "timeout-related failure c_macos_dbg.bins/dbg/h2_compress_nosec_test resource_quota_server"
[code]

https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2377/testReport/junit/(root)/c_macos_dbg/bins_dbg_h2_compress_nosec_test_resource_quota_server/

PR: https://github.com/grpc/grpc/pull/9548

[2017-02-02 19:42] dgquintas commented on #9204
This also happens for regular builds such as `opt`

[2017-02-02 20:11] marcelcorso commented on #9559
I work with @dysosmus and we are using proto3

[2017-02-02 20:20] pepperkick commented on #9283
Installed fresh, no more "polling engine" log and does not crash anymore.

[2017-02-02 20:54] dgquintas commented on #9564
Previous instance: #9398

[2017-02-02 20:59] dgquintas commented on #9564
The unexpected status corresponds to `GRPC_STATUS_DEADLINE_EXCEEDED`.

I tried to reproduce this bug yesterday, unsuccessfully. I wonder if this just need some timeout tweaking. The slowdown factor is 1 in this case, and seems to always happen on the debug build. Perhaps 1.5 or 2 would be more appropriate.

[2017-02-02 21:01] stanley-cheung commented on #9559
Which version? Is it 3.1.0? or 3.2.0?

[2017-02-02 21:07] jrun commented on #8798
Is there anything I can do to help move this issue forward? This issue prevents me from being able to use grpc dependent google-cloud-ruby libraries in my internal services.

[2017-02-02 21:42] apolcyn commented on #8798
@jrun this is under discussion but there are some difficulties around it.

But getting some more specific use cases and problems would be helpful. For example, do you need "pre-fork" and "port-fork" hooks to reset an active gRPC library? Possibly deferred library startup is sufficient?

[2017-02-02 21:43] marcelcorso commented on #9559
Oh oh. I think I only tried with 3.0.2 which is pretty old. Will try with 3.2.0 tomorrow.

[2017-02-02 21:45] stanley-cheung commented on #9559
So google/protobuf only starts supporting PHP proto3 since 3.1.0. With 3.2.0 being the latest

[2017-02-02 22:08] duhruh commented on #8682
@wenbozhu can i please get added to grpc-web 😄

[2017-02-02 22:17] jrun commented on #8798
Thanks for following up. In our specific use case a  "post-fork" callback is needed to reset active gRPC connections. Unfortunately a deferred library startup isn’t sufficient.

Our backend Ruby services use a prefork model. A post-fork callback is used to re-establish network connections (e.g. database, messaging, caching services) in the forked process. A deferred library startup isn’t sufficien

[2017-02-02 22:41] jrun commented on #8798
I want to clarify one point in an effort to avoid any miscommunication. We don't need the gRPC library to be provided a "post-fork" callback. We need a method to call that re-establishes the underlying gRPC connections which will be called from our own "post-fork" callback.

[2017-02-02 22:53] gabriel commented on #8682
@wenbozhu can I also get added to grpc-web?

[2017-02-02 23:01] tkohlman opened #9569 "cmake: Support Offline Builds (w/o submodules)"
Consider an application that already has dependencies on zlib and protobuf, which now wants to add gRPC interfaces. It would be nice if the gRPC CMake build would take paths to prebuilt libraries for each of its dependencies (zlib, protobuf, boringssl, etc).

gRPC would be added to the application's build using CMake's ExternalProject_Add, given only an archive containing the source of a gRPC rele

[2017-02-02 23:15] vjpai commented on #7052
@nathanielmanistaatgoogle and I discussed this. The AI is to add an optional argument to the server to specify maximum concurrent RPCs. If someone actually has a service with the requisite circular dependence, then they should specify correctly (no more than the thread limit) to make things not deadlock.

[2017-02-02 23:33] nathanielmanistaatgoogle commented on #7052
Yep - this is the right action for 1.x. I'm _slightly_ inclined to think about a better API for exposing the same capability in 2.0-and-beyond, but that's far enough away that I'm not yet thinking too hard about it. I do disfavor optional arguments though, so maybe I'll get worked up enough about it to plan something.

[2017-02-02 23:56] nathanielmanistaatgoogle commented on #9538
@dgquintas: any idea what would need to happen within the core for a test to fail this way? What _might_ gRPC Python be doing wrong to get `ssl_transport_security.c:947] Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER.`?

[2017-02-02 23:59] makdharma opened #9570 "can't run objc tests when protoc is preinstalled"
On a Macbook with protoc 3.1.0 preinstalled, the tests fail to run.

[code]

[2017-02-03 00:06] dgquintas commented on #9538
No idea. @jboeuf , @nicolasnoble , any clues?

[2017-02-03 01:25] jboeuf commented on #9538
what is the client and what is the server here? Any idea about which
openssl/boringssl stack is used on both?
In core, we are forcing TLS 1.2 (as per http2 spec, section 9.2
https://tools.ietf.org/html/rfc7540). If the other party does not support
that, then we will get this error.

On Thu, Feb 2, 2017 at 4:06 PM, David G. Quintas <notifications@github.com>
wrote:

[2017-02-03 01:32] kpayson64 commented on #9355
Fixed in v1.1.x branch.  Will be fixed in master on next upmerge.

[2017-02-03 01:32] #9355 closed

[2017-02-03 01:33] muxi commented on #9550
Looked into this. Looks like some internal problem with interop server; it failed to resolve the metadata to be sent for some unknown reason. Got a debug that caught where it happened:
[code]
The code location:
[code]
Stack backtrace:
[code]

[2017-02-03 01:33] muxi commented on #9551
same nature as #9550

[2017-02-03 01:45] nikhilkalige commented on #8639
@murgatroid99 If there has been any work done in this regard, can you please share the branch. I was looking to do some work with regards to moving to a different low level transport system for our embedded systems.

[2017-02-03 01:49] murgatroid99 commented on #8639
I haven't started implementation work on this yet. But I have created a more formal proposal at grpc/proposal#8 to solidify the design.

[2017-02-03 01:56] dgquintas commented on #9550
The C++ interop server seems to be trying to send an invalid (and
nonsensical) metadata entry "Foo grpc-objc/1.0.2 grpc-c/3.0.0-dev (ios;
chttp2; green)10008b3@.." which not only does not correspond to a C++
server, but also contains invalid bytes at the end (reason why the
validation call failed). It smells like memory corruption in the interop
server. Running it under asan will probably help.

O

[2017-02-03 02:04] nathanielmanistaatgoogle commented on #9538
@jboeuf: this was a failure in a mostly-not-flaky, definitely-not-deterministically-failing unit test, at commit bb2e8af0b003cc0e583fc7978dba3a55c125cc13 in [pull request 9532](https://github.com/grpc/grpc/pull/9532). Whatever the openssl/boringssl stack used we were in full control of both sides the whole time. [The call was coming from inside the house!](http://tvtropes.org/pmwiki/pmwiki.php/Mai

[2017-02-03 02:05] muxi commented on #9550
Asan logs:
[code]

[2017-02-03 02:35] nathanielmanistaatgoogle commented on #8229
@croachrose: is this still reproducible for you? Perfectly, or intermittently, or nondeterministically? (I also attempted to reproduce the problem by running your code and was not able to do so.)

[2017-02-03 03:34] apolcyn commented on #9150
seen again with insecure version of this scenario in https://grpc-testing.appspot.com/job/gRPC_pull_requests_linux/2466/testReport/junit/(root)/c++_linux_opt/bins_opt_json_run_localhost___scenarios_json____scenarios______name____cpp_protobuf_async_client_sync_server_streaming_qps_unconstrained_insecure____warmup_seconds___0___benchmark_seconds___1___num_servers___1___server_config_____async_server

[2017-02-03 03:41] dgquintas commented on #9150
@sreecha can you replicate #9485 against 1.1.x?

[2017-02-03 04:04] apolcyn opened #9573 "objc "ProtoRPC/ProtoService.h not found" build failure on mac"
[code]

this caused failures on:
- objc_macos_dbg.objc-examples-build
- objc_macos_opt.objc-examples-build

log in https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2422/testReport/junit/(root)/objc_macos_dbg/objc_examples_build/

seen in PR: https://github.com/grpc/grpc/pull/9553 against v1.1.x

[2017-02-03 05:03] jboeuf commented on #9538
That is very strange. The thing that could have happened is a byte
corruption on the wire. If the handshake fails at this stage (very early
in), it will not verify go through the authenticator phase that
cryptographically verify the bytes of the handshake.

On Thu, Feb 2, 2017 at 6:04 PM, Nathaniel Manista <notifications@github.com>
wrote:

[2017-02-03 07:26] muxi commented on #9573
Processed. Should be solved.

[2017-02-03 08:32] dysosmus commented on #9559
I  check and we are using `3.1.0` I'm going to try if `3.2.0` change something.

[2017-02-03 08:44] GrapeBaBa opened #9575 "How to generate correct import using grpcio-tools"
We have several proto files and some import others. When we use grpcio-tools to generate python file, the import statement in python file not correct.
For example, generated below
[code]
What I expect
[code]

[code]
[code]

[2017-02-03 08:53] Hujun opened #9576 "Before & after RPC request handler hook"
I wonder if there is a way to add before and after request handler functions in grpc python? For instance, automatically log request info of each RPC instead of repeatedly logging in callbacks.

[2017-02-03 10:36] pavamana1123 commented on #8992
Found answer for this? Me to having similar problem with protoBuffers.

[2017-02-03 13:25] croachrose commented on #8229
I can still reproduce perfectly. main1 completes with DEADLINE_EXCEEDED instead of detecting the server disconnect.

[2017-02-03 13:25] croachrose commented on #8229
[code]

[2017-02-03 13:46] eljefedelrodeodeljefe commented on #8899
is there an intention to move forward on this?

[2017-02-03 13:51] ctiller commented on #9576
Which language are you asking for?

On Fri, Feb 3, 2017, 12:53 AM HJ <notifications@github.com> wrote:

[2017-02-03 14:18] arhuaco opened #9577 "node: grpc call undefined"
Hi there.

I'm running grpc with node 6.9.0 in a Raspberry. Same setup in a Linux 64-bit box.

The following code prints a function (with RPC data inside like makeUnaryRequest), but ```undefined``` in the Raspberry. Same grpc and node for the Raspberry and Linux 64 bits.

I get the same behavior with 1.0.1 and with the most recent version.

[code]
What can I do here?

[2017-02-03 14:38] cyberflohr commented on #9561
@markdroth can I use proxy mapper #9557 to solve issue #9198 ?

[2017-02-03 15:06] colonelmo commented on #8682
Can I also get early access to the project?

[2017-02-03 15:20] markdroth commented on #9198
We can probably change the code that looks at the http_proxy environment variable skip what it's doing if the target is a UDS.

[2017-02-03 15:21] markdroth commented on #9561
@cyberflohr, it shouldn't be necessary to write a new proxy mapper for that.  I'll just fix the implementation of the existing one.

[2017-02-03 16:03] dgquintas opened #9579 "performance failure: qps_json_driver.ruby_protobuf_sync_streaming_ping_pong"
https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/9007/consoleText

[code]

[2017-02-03 16:04] #9550 closed

[2017-02-03 16:13] arhuaco commented on #9577
So, I found an issue in the raspberry installation. I wasn't tracking the right branch for the protos and then, as the error says, myRpcCall is not defined because it's not a rpc call in the master branch.

But this is not obvious... Once you figure it out it makes sense. I guess there is no way to signal an error here.

Thanks!

[2017-02-03 16:13] #9577 closed

[2017-02-03 17:29] cyberflohr commented on #9561
cool, thx! @markdroth

[2017-02-03 17:44] bentucker opened #9581 "Response-streaming RPCs don't force activity on the wire until the application pulls responses from the response iterator"
Calling a UnaryStreamMultiCallable returns a _Rendezvous object, but the underlying http request is not made until the calling code tries to iterate over the _Rendezvous object. Asynchronous calls appear to only be available for UnaryUnary and StreamUnary endpoints, by using the .future call. Please add some way to run the underlying http request asynchronously.

[2017-02-03 18:30] meekapps commented on #8682
Considering a move to gRPC in production (from a custom serialization scheme/RPC) but not having a web client is a limiting factor. How far off is a grpc-web general release? Is it a web sockets adapter or something else? Is it possible to get read access to grpc-web project?

[2017-02-03 18:56] wenbozhu commented on #8682
DONE

@meekapps  It's production ready but we may change the protocol/apis etc.

Read the doc/demo and let us know your feedback.

===

@mwitkow

what's the actual transport the polyfill speaks.. . it can't be the actual grpc transport, can it?

[2017-02-03 19:11] jtattermusch commented on #9560
Seems it is still broken:
https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2420/

[2017-02-03 19:14] #8729 closed

[2017-02-03 19:19] apolcyn commented on #9560
the latest `bundle` errors on mac is now due to a known issue in `bundler` - command is there but it's crashing on ruby 2.4

https://github.com/grpc/grpc/pull/9553 fixes this error

[2017-02-03 19:33] adelez commented on #7888
Fixed when moved to "interopnew" machines. Was running on "interop" machines.

[2017-02-03 19:33] #7888 closed

[2017-02-03 20:11] jcanizales commented on #8057
@iamqizhao are you still Go-gRPC-guy?

[2017-02-03 20:16] Chumper commented on #8682
I will patentially wait for you to make the repo public. Would love to try it before I write a separate service just for the conversion from grpc to websocket.

[2017-02-03 21:04] markdroth commented on #9385
I'm seeing the same problem in a python 2.7 test:

https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2438/testReport/junit/(root)/python_macos_dbg/py27_test_unit__cython__channel_test_ChannelTest/

[2017-02-03 21:07] markdroth commented on #9398
Just saw this again:

https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2438/testReport/junit/(root)/c_macos_dbg/bins_dbg_h2_compress_test_resource_quota_server/

[2017-02-03 21:31] apolcyn commented on #9564
seen again in https://github.com/grpc/grpc/pull/9563 against master

https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2409/testReport/junit/(root)/c_macos_dbg/bins_dbg_h2_compress_nosec_test_resource_quota_server/

[2017-02-03 21:34] apolcyn opened #9583 "multiple interop docker image build failures - problems with ports"
[code]

log in https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/11129/console

pr: https://github.com/grpc/grpc/pull/9563

[2017-02-03 21:34] murgatroid99 commented on #9283
OK. I'm going to close this for now.

[2017-02-03 21:34] #9283 closed

[2017-02-03 21:40] #8997 closed

[2017-02-03 23:04] ericgribkoff commented on #9474
The Java test flakes were due to two factors:

- the goaway issue noted here: https://github.com/grpc/grpc/issues/9300
- a race condition between starting the docker http2 python servers and the test clients

These will be fixed by https://github.com/grpc/grpc-java/issues/2694

[2017-02-03 23:20] apolcyn commented on #9398
seen again in https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2446/#showFailuresLink (also `sec` version failing)

pr https://github.com/grpc/grpc/pull/9580 against master

[2017-02-03 23:21] apolcyn commented on #9241
seen again in https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2446/testReport/junit/(root)/objc_macos_opt/objc_tests/

pr #9580 against master

[2017-02-03 23:25] apolcyn opened #9586 "bm_fullstack timeout on mac"
seen in https://grpc-testing.appspot.com/job/gRPC_pull_requests_macos/2446/testReport/junit/(root)/c++_macos_dbg/bins_dbg_bm_fullstack/

pr #9580 against master.

Seems it's failing on most runs

[2017-02-03 23:29] ctiller commented on #9586
Fixed in #9230

[2017-02-03 23:42] apolcyn opened #9587 "csharp benchmark failures"
https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/9029/

[code]

all have the same error:
[code]

<s>Possibly fixed by https://github.com/grpc/grpc/pull/9580</s>

[2017-02-03 23:42] #9579 closed

[2017-02-04 00:19] nathanielmanistaatgoogle commented on #8229
This is still a headscratcher for us. What are the chances that you could share a VM image with us that we could simply run?

[2017-02-04 03:05] apolcyn commented on #9099
A possible different error but in https://grpc-testing.appspot.com/job/gRPC_interop_pull_requests/11181/console the python interop image just timed out while building.
[code]
pr #9548 against master

[2017-02-04 07:19] konsumer opened #9591 "nodejs: import path resolution"
I am making a Docker image for spinning up a dynamic nodejs-server based on a proto file, and it's not finding things like `google/api/annotations.proto`. If I comment out the import, it works fine. If I download [googleapis](https://github.com/googleapis/googleapis) it resolves it fine, but the include paths get weird after the first import. I have this issue if it's not in Docker, but I thought

[2017-02-04 09:48] zj8487 commented on #6619
***env***
1, grpcio version:1.1.0 from pip install grpcio

2, All the following test is based on the [demo](https://github.com/zj8487/helloworld)
 and changes: ```'you' to 'you'*100000```

3, test on mac. i do not have the env of ubuntu now

***case 1: The server's method raise a error***
**not saw memory leak**

[code]

***case 2: The server's method return normally***
**not saw memory leak**

[c

[2017-02-04 15:20] chrisrcoles commented on #8682
@wenbozhu can I also get added to grpc-web please?

[2017-02-04 17:16] gazickil commented on #8117
Any progress on this one?

[2017-02-04 17:39] apolcyn commented on #9587
also seen in https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/9045/#showFailuresLink

or #9548

[2017-02-04 23:50] sztomi commented on #9510
This issue is still reproducible with the finalized release (https://github.com/grpc/grpc/releases/tag/v1.1.0). I have updated my conan package and repro branch to refer to this version (see above).

[2017-02-05 03:46] #9398 closed

[2017-02-05 19:50] mackross commented on #8682
Me too please

[2017-02-06 10:11] joseAndresGomezTovar commented on #8932
I have the same requirement, because:

- I want to run a DLL remotely

Scenary:

- I have a main process and tow dlls
    one of these dll will be run using the gRPC server
- By making a new dll "gRPC client" that is loaded in the main process, I remotely connect the original "dll" with the main process

The gRPC server loads the "original dll" when the connection is established, and downloads it

[2017-02-06 10:37] AngryLemonn opened #9593 "GRPC Secure [ C++ ]"
Hi,

I am trying to implement my services under SSL but I am getting this error following the grpc examples:

[code]

I know that my certs are OK because these certs are working with ZeroC Ice. Using Node.js code as client, the error still appear.

In https://github.com/grpc/grpc/issues/8057 happends the same...

Any idea?

EDIT:

After search a little, this error comes from the mismatch of SSL ve

[2017-02-06 10:43] cbornet commented on #9494
So it seems HTTP2 flow control on which gRPC is built works that way. Thus you're right, it's only about language implementation.
For Java there seem to be some effort done in that way although it's missing docs and examples.
For python, I don't know if there is something like that. Can you tell ?

[2017-02-06 12:28] palkan opened #9594 "Version 1.1.0 is not on RubyGems.org"
Version 1.1.0 has been released a few days ago, but it hasn't been push to [rubygems.org](https://rubygems.org/gems/grpc) yet. Could you, please, do that?
Thanx

[2017-02-06 12:57] croachrose commented on #8229
Let me see if I can reproduce in a docker container. Would that work?

[2017-02-06 14:18] tuxagon commented on #9593
I actually encountered this exact same error using C# and the documentation is pitiful regarding how gRPC handles authentication with SSL/TLS. It is due to this error, the lack of care from the community/creators and the poor documentation that I am completely abandoning the use of gRPC for the foreseeable future.

[2017-02-06 16:53] dylanbutler commented on #8682
@wenbozhu me too please? :)

[2017-02-06 17:12] mwitkow commented on #8682
@wenbozhu It is*almost* the gRPC transport.
It uses Fetch API (with fallback using [chunked-request](https://github.com/jonnyreeves/chunked-request)), the same binary framing of the gRPC transport. The only difference is that trailers (grpc status and desc) are not sent as a HEADER frame but as a DATA frame encoded in a [terminator.proto](https://github.com/mwitkow/grpc-browser-compat/blob/master/

[2017-02-06 17:58] jonparrott commented on #9445
Bump - both google-auth and google-cloud-python would love to have this wheel so we can run 3.6 on Travis.

[2017-02-06 18:17] apolcyn commented on #9587
seen again https://grpc-testing.appspot.com/job/gRPC_performance_pull_requests/9046/

[2017-02-06 18:26] ppietrasa opened #9597 "CMake build system: PDBs are not being installed for libraries"
On Windows, when using MSVC compiler and configuring CMAKE_BUILD_TYPE to "Debug" or "RelWithDebInfo" the build system does not produce consistently named debug symbols across generators (vc140.pdb with Ninja vs libname.pdb with Visual Studio). More, the debug symbols (*.PDB) are not being installed.

The missing PDBs generate ugly flood of warnings when one tries to link to the gRPC libraries from