[2019-02-08 06:01] vijaykramesh commented on #15923
is there any option for using, e.g., google-cloud-spanner in a django app running with eventlet + gunicorn? I don't really want to have to change my entire app server just to support calling an API... but setting `GOOGLE_CLOUD_DISABLE_GRPC` doesn't seem to work for me

[2019-02-08 06:31] maettu-this commented on #17962
Is there no bare metal support yet, or will there never be? In the latter case, please adjust the "viable on CPU & memory limited devices" at https://grpc.io/blog/principles accordingly.

In any case, I think minimal system requirements should be clearly stated somewhere. Even if it is just something like "full POSIX or Win32 API required".

[2019-02-08 06:34] maettu-this commented on #17961
Is this a not yet supported platform, or will it never be? In the latter case, please adjust the "viable on CPU & memory limited devices" at https://grpc.io/blog/principles accordingly.

In any case, I think the C++ cross compilation instructions should be more clearly stated somewhere. And just referring to [issue 9719](https://github.com/grpc/grpc/issues/9719) cannot be a solution.

[2019-02-08 14:35] tobiaslocker commented on #17094
This was due to ssl issues on a specific system

[2019-02-08 14:35] #17094 closed

[2019-02-08 15:30] nicolasnoble commented on #17961
Very likely to never be, at least not by this codebase. The underlying architecture is highly tuned around a multithreaded network polling system in C++, which makes supporting bare metal MCUs close to impossible. The blog post refers to devices like the raspberry pi. Please note that the post and documentation only talks about CPU. What you're referring to are MCUs.

[2019-02-08 15:32] jtattermusch commented on #17976
We've considered that (see https://github.com/grpc/grpc/pull/16745), but there seems to be some problem that breaks the unity build, I'll have to see if that got fixed since.

[2019-02-08 17:15] vjpai commented on #17911
Bumping this to P1 since I've now seen it on OPT tests , not just *san . This hasn't been reported in the wild afaik but this is something that certainly could arise out there.

[2019-02-08 17:38] GuillaumeCisco commented on #17203
I've just succeeded making my network works without `CERTIFICATE_VERIFY_FAILED`
All was about config in hyperledger `fabric` and `fabric-ca`

Along this journey I understdood a lot of things about grpc. Especially grpc 1.9 can break a lot of things regarding the `pure Go resolver` and the `cGo resolver`.

Maybe my experience will raise information about `subprocess.Popen` python calls hanging with

[2019-02-08 17:44] srini100 commented on #17203
@GuillaumeCisco, can you please open an issue in [grpc-go](https://github.com/grpc/grpc-go/issues) repo regarding the pure Go and cGo resolver issues you are facing. gRPC 1.9 is really old. Please try with latest release and see if you are still facing the same issue.

[2019-02-08 18:38] #17911 closed

[2019-02-08 21:41] gnossen opened #17986 "subprocess.Popen Hangs"
### What version of gRPC and what language are you using?
 master

### What operating system (Linux, Windows, …) and version?
 Linux, Debian 4.18.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.5.4

### What did you do?
At the suggestion of @GuillaumeCisco in #17203, I ran the following client -- a simple modification of the `greeter_client.py` exampl

[2019-02-08 21:44] gnossen commented on #17203
@GuillaumeCisco Thank you for the tip on the hanging calls to `subprocess.Popen`. I was able to verify this behavior on master and I was able to verify that it was *not* present in `1.18`. I've [filed an issue](https://github.com/grpc/grpc/issues/17986) if you care to follow it.

[2019-02-08 21:47] ericgribkoff commented on #17986
https://github.com/grpc/grpc/pull/17973 is the fix for this

[2019-02-08 21:49] srini100 commented on #17986
Marking this as release blocker.

[2019-02-08 21:51] srini100 commented on #17986
This is good test to add for future breakages as pre-fork handlers are non-trivial.

[2019-02-08 21:52] ericgribkoff commented on #17203
@GuillaumeCisco As a temporary workaround while the fix for the root cause of the hang is under review, running with the environment variable `GRPC_ENABLE_FORK_SUPPORT=0` will disable the core prefork handler that seems to be causing the problem.

[2019-02-09 02:12] ericgribkoff commented on #17986
Fixed by #17973. Regression testing for this will mostly be covered by https://github.com/grpc/grpc/pull/16513, but there is some value in a test like this for ensuring that fork+exec does not hang when core's fork handlers are enabled (which is the default for python builds).

[2019-02-09 02:14] #17986 closed

[2019-02-09 05:36] vertextao opened #17992 "run_tests.py FAILED while PASSED running the tests one by one from command line"
### What version of gRPC and what language are you using?

From a pull request [#17939](https://github.com/grpc/grpc/pull/17939)

### What operating system (Linux, Windows, …) and version?

MacOS 10.14.3

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Ran tests:

`python tools/run_tests/run_tests.py -l c++ -c asan`

### What did you

[2019-02-09 08:02] wuyuanyi135 commented on #17910
The question is whether x-compile is meant to build the compiler plugins for the target platform or just the runtime libraries. Instead, the proto files should be compiled on the host machine.
In my case, I use my laptop to cross build docker images for my aarch64 and arm32 computers. They have the capabilities to build grpc but very slow. So in this case I actually need the protoc plugins.

[2019-02-09 13:50] nicolasnoble commented on #17910
This really is on purpose. The plugin are compilation tools, so they are meant to be run on the host machine, in order to produce target code.

There are pieces of the library that requires the plug-ins to be run on the host machine, during the compilation of the target code that is.

[2019-02-09 14:28] ludydoo opened #17995 "Grpc.Tools: Accented characters in nuget path breaks c# grpc tool compiler"
@kkm000

 1.18.0. C#

Windows 10 Pro x64

### Reproduce :
1. Create a .proto file in a project (Follow "Greeter" example)
2. Add a nuget.config file and specify the globalPackagesFolder to a path containaing either a space or an accented character (éèàé...)
3. Restore packages
4. Build.

### What did you expect to see?
 Successful build

### What did you see instead?
 --grpc_out could not find the

[2019-02-09 18:13] wuyuanyi135 commented on #17910
I see. Closing.

[2019-02-09 18:13] #17910 closed

[2019-02-10 11:40] jtattermusch commented on #17886
Done in #17972.
Daily packages with this change are already available:
https://packages.grpc.io/archive/2019/02/f7ef20b5104bb62aa438aacfe7d8e46058f517b1-13da6a86-a39e-4edf-ae92-9ac26f04a995/index.xml

[2019-02-10 11:40] #17886 closed

[2019-02-10 20:26] maettu-this commented on #17961
I see. Two comments:

- There is no reason why multithreading and TCP/IP networking should not be possible on truly embedded MCUs. Yes, it may be limited in terms of performance and memory availability, but no, this alone cannot explain why it shouldn't be possible.
- MCUs actually **are** "CPU & memory limited", since an MCU contains a relatively simple CPU as well as a limited amout of memory. I

[2019-02-10 22:02] apolcyn commented on #17799
This should be fixed by https://github.com/grpc/grpc/pull/17997

I have a package built off of that fix that works on ruby 2.5  in https://github.com/apolcyn/grpc/tree/39e4081628f5dad999996e11df686ee3cea1d9cc/pkg, if interested.

Otherwise, once that PR is merged we'll have nightly packages available; I'll work to get it backported to 1.18

[2019-02-11 07:47] guantaol commented on #17164
@vjpai created ApplicationCallbackExecCtx in #17686, which is believed to fix this issue.

The next step is to create a true TLS ExecCtx.

[2019-02-11 07:54] rmstar opened #17999 "time_change_test tsan flake"
[code]
https://source.cloud.google.com/results/invocations/6f8ec544-42d1-4c5c-803f-9980d08a7d47/targets/%2F%2Ftest%2Fcpp%2Fend2end:time_change_test@poller%3Dpoll-cv/log

[2019-02-11 09:07] kkm000 commented on #17995
Thanks, the repro seems clear. In the command line message that you copy, there is no final quote at the very end of the command. Is this what you are actually seeing, or did it just not make it when copying?

I'll have a look at this, indeed, but, in all fairness, when working with tools originally designed for Linux and ported to Windows later, is it really important to push them to the limit an

[2019-02-11 09:50] #17900 closed

[2019-02-11 10:03] yiakwy opened #18001 "[Fea] implement grpc++ pubsub pattern"
### What version of gRPC and what language are you using?
 grpc-c++

### What operating system (Linux, Windows, …) and version?
 MacOS, Linux (CentOS, Ubuntu)

### What did you do?

Without using ROS2, there is no easy way to use grpc in PubSub pattern. I am currently trying to implement a grpc based pubsub server for grpc nodes to inherit. The key point is how to implement a broker service. Googl

[2019-02-11 10:05] yiakwy commented on #18001
@hassox @timburks @blowmage @haberman

[2019-02-11 13:01] lucascharlesz commented on #17453
That would be awesome!

[2019-02-11 13:01] 54markov commented on #17713
Hi. The Glibc-2.29 implementation told us that `pthread_t` is an arithmetic type.

- can't find official link: [link to glibc 2.29](https://github.com/lattera/glibc/blob/master/sysdeps/nptl/bits/pthreadtypes.h#L27)
- `typedef unsigned long int pthread_t`

So casting from `pthread_t` to `intptr_t` is okay.

But from my view this output is not correct (for just logging function).

[code]

Instead of

[2019-02-11 16:19] markdroth commented on #17026
I suspect this was fixed by #17513.  Please re-open if it's still occurring.

[2019-02-11 16:19] #17026 closed

[2019-02-11 16:24] markdroth commented on #14207
I suspect this is not really an issue.  It's true that we can't differentiate between a GOAWAY and (e.g.) the TCP connection unexpectedly failing, but I'm not sure we really need to, because we can treat those cases the same way.  We *can* differentiate between those two cases and the case where a connection attempt fails, and that's what's really important.

[2019-02-11 16:24] #14207 closed

[2019-02-11 16:53] jtattermusch commented on #17976
Fixed by #16745.

[2019-02-11 16:53] #17976 closed

[2019-02-11 16:54] jtattermusch commented on #16244
Should be fixed by #16745.  The fix will be in the upcoming v1.19.0 release (coming soon).

[2019-02-11 16:54] #16244 closed

[2019-02-11 17:05] NathanBockrath commented on #17799
I have run with the provided gem; it is no longer hanging the prompt.

It does generate an unexpected output printout near the start:

D0211 10:59:55.448000000 15932 ../../../../src/ruby/ext/grpc/rb_grpc.c:323] GRPC_RUBY: grpc_ruby_init - prev g_grpc_ruby_init_count:0

I don't know what other kinds of testing you may need to do for coverage. but it seems like it is fine from my standpoint.

Thank

[2019-02-11 18:21] apolcyn opened #18004 "cloud_to_prod gateway_v4 tests failing - StatusCode=Unavailable, Detail="502:Bad Gateway""
https://source.cloud.google.com/results/invocations/7db13668-29fa-4f10-89be-38fae73fe974/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

snippet from the log:

[code]

Seems to be affecting all clients

@billfeng327 do you know if this can be due any recent changes on the server side?

[2019-02-11 18:23] #17799 closed

[2019-02-11 18:32] devjgm commented on #17645
The latest release, v1.18.0, still shows this problem with protobuf's use of REPOSITORY_NAME. When will there be a grpc release that has the fix?

[2019-02-11 21:31] apolcyn opened #18005 "FLAKE (c_linux_dbg_native): bins/dbg/h2_full+trace_nosec_test resource_quota_server GRPC_POLL_STRATEGY=epollex"
https://source.cloud.google.com/results/invocations/87d40d5e-1fc0-4694-a10a-9c682fdda02b/targets/github%2Fgrpc%2Fc_linux_dbg_native/tests

[code]

noticed on PR: https://github.com/grpc/grpc/pull/17998

[2019-02-11 21:44] apolcyn opened #18006 "grpc_android failing"
From the fusion dashboard, both the "master" and "pull_request" jobs have been consistently failing since about 10am this morning, so there seems to be some environmental issue.

[code]

https://source.cloud.google.com/results/invocations/c9618224-bcc0-41aa-9a89-8010f4396c99/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_android/log

Noticed on PR: https://github.com/grpc/grpc/pull/17998

[2019-02-11 22:04] AspirinSJL commented on #17946
I think this one is fixed by https://github.com/grpc/grpc/pull/17974.

Please reopen if it occurs again.

[2019-02-11 22:04] #17946 closed

[2019-02-11 22:07] ericgribkoff commented on #18006
Dup of https://github.com/grpc/grpc/issues/18004. grpc-test.sandbox.googleapis.com seems to be down, so the tests fail (admittedly not that easy to identify based solely on the log output at https://console.firebase.google.com/project/grpc-testing/testlab/histories/bh.81c66b2d50e9b941/matrices/8960325977612896918)

[2019-02-11 22:07] #18006 closed

[2019-02-11 22:14] apolcyn commented on #17799
Thanks for confirming that it worked for you (the spurious log message was fixed in the submitted PR)

[2019-02-11 22:45] markdroth opened #18008 "concurrent_connectivity_test use-after-free bug"
https://source.cloud.google.com/results/invocations/1067ccad-33f1-4f7e-8c8b-c9cf2f574b03/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

[code]

[2019-02-11 22:46] markdroth commented on #18008
Another example:

https://source.cloud.google.com/results/invocations/1067ccad-33f1-4f7e-8c8b-c9cf2f574b03/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

[code]

[2019-02-11 23:02] vjpai commented on #18008
https://source.cloud.google.com/results/invocations/d894bbe3-552d-48f5-98e9-407326381e21/targets/github%2Fgrpc%2Fc_linux_asan_native_x64_clang7.0/tests

[2019-02-11 23:42] djeube opened #18009 "C++ reflection service returns wrong response"
### What version of gRPC and what language are you using?
 v1.1.18, C++

### What operating system (Linux, Windows, …) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 2017

### What did you do?

I have a C++ server that implements two services and the reflection service (linked against grpc++reflection.lib).
I use the [gRPC

[2019-02-12 04:08] yiakwy opened #18011 "[Improve documentation] improve documentation of protobuffer grpc++ plugin"
### What operating system (Linux, Windows, …) and version?
Linux distributions and macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
various version python from virtualenv, currently in python3.6
clang++-6.0, llvm (reference to macos toolchain)

### What did you do?
Because many new features are implemented in grpc-go, I need documentation to help me learn di

[2019-02-12 04:09] yiakwy commented on #18011
@vjpai @markdroth

[2019-02-12 04:09] yiakwy commented on #18001
@@vjpai @markdroth

[2019-02-12 08:25] adithyabsk opened #18013 "grpcio + poetry (incorrect dependency of enum34 + futures)"
### What version of gRPC and what language are you using?
Python gRPC:
* grpcio == 1.18.0

### Issue Summary
While installing tensorflow through poetry, I ran into an issue with grpcio as it seems that due to the way this project was packaged, enum34 and futures shows up as a dependency (through sdist) for python 3+ even though it is not.

* See https://github.com/sdispater/poetry/issues/881#issue

[2019-02-12 08:51] jtattermusch commented on #17814
It seems that https://github.com/grpc/grpc/pull/17948 has improved the runtime of the suite,
but unfortunately the testsuite is still failing (possibly with a different error now):

https://source.cloud.google.com/results/invocations/6b32db56-a7da-4778-8726-4639e4b962e6/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests
https://source.cloud.google.com/results/invocations/0b63de0b-0a87-4fad-a895-9

[2019-02-12 09:34] maettu-this commented on #17961
PS: Maybe the initial title _missing good enough C++ cross compilation instructions_ wasn't accurate enough, so I have just refined it to _missing good enough C++ platform portability and cross compilation instructions_. Maybe this should rather be two separate tickets, though topics are highly coupled to each other. In the end, the following questions should be answered:

- How can I port gRPC to

[2019-02-12 10:21] dsazonoff commented on #937
Hello, any progress on this?

[2019-02-12 10:51] jtattermusch commented on #17645
https://github.com/grpc/grpc/blob/master/doc/grpc_release_schedule.md

[2019-02-12 12:30] muxi commented on #17814
I think that is exactly the reason. Local tests seem to be ok; interop tests with `grpc-test.sandbox.googleapis.com` are failing.

[2019-02-12 12:33] muxi commented on #17814
Oh and just checked the test status again. The most recent two master builds passed, probably because the interop test backends have been fixed.

[2019-02-12 15:52] #17814 closed

[2019-02-12 17:22] mhaidrygoog commented on #14899
I ran one of the scenarios on a single GCE instance and found CPP perform better than Java in a local environment by 100,000 QPS. Also the CPU utilization for both server and client were equivalent for CPP and Java. Something I didn't observe in the dashboards. Continuing my investigation by setting 1 server - 1 client GCE instances and seeing if there is a regression on network communication

[2019-02-12 17:27] vjpai commented on #12975
It's been a while, but I think the best reasonable option is to disable the explicit use of set_buffer_hint in the sync API. The reason is that the sync API is based on the idea that a Write is committed (and the next Write can be sent) when this Write finishes. This is not actually true for buffered writes: we could either wait for it to truly be committed (defeating the point of buffering) or fo

[2019-02-12 17:39] billfeng327 commented on #17399
The issue seems to only occur in RBE. Failed about 5 times over 40,000 runs

[2019-02-12 17:45] vjpai commented on #17545
Fixed by #17686

[2019-02-12 17:45] #17545 closed

[2019-02-12 17:46] vjpai commented on #17164
Fixed by #17686

[2019-02-12 17:46] #17164 closed

[2019-02-12 17:47] vjpai commented on #17473
This issue will become obsolete since we're changing the client-side callback streaming API

[2019-02-12 20:23] vjpai opened #18023 "Enforce policy that PRs from non-members need 2 reviews before merging"
### What version of gRPC and what language are you using?

master, HEAD

### What operating system (Linux, Windows, …) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Looked at an external PR

### What did you expect to see?

2 reviewers, according to security policy, along with a mechanism that actually enforces it

[2019-02-12 21:35] AspirinSJL opened #18026 "Maybe remove kokoro:force-run or kokoro:run?"
What's the difference of these two labels?

If they are the same, please move one of them.

[2019-02-12 21:39] jtattermusch commented on #18026
kokoro:run  runs the tests if they haven't run yet for given commit - this is useful for external pull requests as a signal that the PR code is safe run on our test infrastructure.

kokoro:force-run  forcibly re-runs the tests even if they have already run for given commit.

[2019-02-12 21:39] #18026 closed

[2019-02-12 21:50] AspirinSJL commented on #18026
What bad can happen if we kokoro:force-run on an external PR to trigger the initial testing?

[2019-02-12 22:38] rmstar opened #18028 "check_on_pr.py fails with KeyError: 'token'"
[code]
https://source.cloud.google.com/results/invocations/04352595-7beb-4d90-9393-719ccfc95f33/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[2019-02-12 22:38] rmstar commented on #18028
CC @lidizheng

[2019-02-12 22:45] gnossen commented on #18028
I'm betting this was a transient error on Github's side. We should probably add a call to [`raise_for_status`](http://docs.python-requests.org/en/master/api/#requests.Response.raise_for_status) for a more descriptive error message.

[2019-02-12 22:53] ebenoist opened #18029 "Ruby does not clean up connections before exiting"
### What version of gRPC and what language are you using?
1.18.0 - Ruby

### What operating system (Linux, Windows, …) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Ruby 2.5

### What did you do?
I attempted this with both grpc-1.16 with the previously suggested shut down handler and now with the [recently merged support](https://github.com/

[2019-02-12 23:00] lidizheng commented on #18028
@rmstar  Thank you for pointing out. I checked latest failures of `grpc/core/pull_request/macos/grpc_ios_binary_size`, and `check_on_pr` does introduce flakiness into the test.

https://source.cloud.google.com/results/invocations/04352595-7beb-4d90-9393-719ccfc95f33/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log
https://source.cloud.google.com/results/invocations/89e0c5d4-fb

[2019-02-12 23:14] ebenoist commented on #18029
Please let me know if you need anything else with regards to this failure. I can easily reproduce this behavior with code locally.

[2019-02-12 23:17] #17999 closed

[2019-02-12 23:37] ebenoist commented on #18029
Here's some more debug output from the server itself

[code]

[2019-02-13 01:31] #18028 closed

[2019-02-13 11:23] raulpereztangelo opened #18038 "Name resolution failure error in Unity Android with grpc 1.19.0"
### What version of gRPC and what language are you using?
 grpc_unity_package.1.19.0-dev.zip and C# in Unity.

### What operating system (Linux, Windows, …) and version?
 MacOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Issue happens in Android and I build the solution with IL2CPP.

### What did you do?
Update from grpc_unity_package.1.18.0-dev.zip to 1.19.

[2019-02-13 13:30] jtattermusch commented on #18026
It would work but I consider using the kokoro:force-run to be a bad practice that's only needed because our tests are not as stable as they should be.  In the ideal world one should never need to use kokoro:force-run - but currently we're relatively far from that state. Deflaking the tests and the test infrastructure should be our focus.

[2019-02-13 14:55] jtattermusch commented on #14653
@bitlkoskela  would you be able to provide code that reproduces it on GKE?
Instructions for extra logging and tracing: https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

[2019-02-13 15:29] wesm commented on #15764
We recently had the requirement of doing parsing-by-hand of a protocol buffer to avoid unnecessary copying of a binary payload, while still allowing clients to read the protobuf without any memory optimizations.

It's a bit of a gross hack since the serde path needs to be specialized before even the generated gRPC service is compiled:

https://github.com/apache/arrow/pull/3633

[2019-02-13 16:21] zbroz opened #18040 "Cross compiling works, but Installing GRPC Fails (Linux)"
### What version of gRPC and what language are you using?
 Latest commit. C.

### What operating system (Linux, Windows, …) and version?
Linux 4.15.0-45-generic #48-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 GCC 7.3.0 + arm-linux-gnueabi- toolchain

### What did you do?
I did what @AngryLemon described here: https:/

[2019-02-13 17:32] gnossen commented on #18038
@apolcyn Perhaps related to the `c-ares` change?

[2019-02-13 18:20] apolcyn commented on #18038
It seems likely. @raulpereztangelo any chance your able to run the android code under environment variable settings:
* `GRPC_VERBOSITY=DEBUG`
* `GRPC_TRACE=http,client_channel,cares_resolver,cares_address_sorting`
?

and share the output?

[2019-02-13 18:34] AspirinSJL commented on #18026
I see. Thanks for the explanation!

[2019-02-13 20:03] apolcyn commented on #18038
@raulpereztangelo if you can share a bit more info on the Android environment, e.g. Android version or device, that would be helpful.

[2019-02-13 20:21] ericgribkoff commented on #18038
@apolcyn I'm able to reproduce the failure on master using our [C++ Android interop client](https://github.com/grpc/grpc/tree/master/src/android/test/interop) on a physical Pixel 3 device running Android 9.  ("Resolver transient failure", I believe the message may have changed earlier today in https://github.com/grpc/grpc/commit/bab812376331ac90b714d342667eb941c9e8a4ab). Resolution succeeds when b

[2019-02-13 20:35] ebenoist commented on #18029
This happens when my `poll_period` is not set. Setting it to something higher than the default solves my issue.

[2019-02-13 20:35] ebenoist commented on #18029
Happy to close this issue.

[2019-02-13 20:35] #18029 closed

[2019-02-13 20:42] ericgribkoff commented on #18038
Actually, the "Resolver transient failure" error was with our helloworld app, the interop client actually crashes: I believe this is related to https://github.com/c-ares/c-ares/pull/148

[2019-02-13 21:49] srini100 opened #18047 "Backport #18046 to v1.19.x"
Disabling cares on android should be backported to v1.19.x.

[2019-02-14 06:25] yiakwy opened #18055 "Multiple services in a client"
# Background

I am implementing pubsub on top of grpc c++ wrapper. Compared to go, where a server can register multiple services, and provide both generated server and client codes for end point users to use, gprc++ client uses

to accept a channel and serve.

Now have two services

[code]

## Question

now I want to make a "PubSubClient" which and can both emit `publish` and `subscribe`. How can

[2019-02-14 06:29] yiakwy commented on #18011
@ZhouyihaiDing lang should be c++.

[2019-02-14 06:29] yiakwy commented on #18055
@ZhouyihaiDing Could you help on this topic?

[2019-02-14 08:45] prankkelkar commented on #17334
Any solutions?

[2019-02-14 09:49] Oihso commented on #17812
No, this command did not work with earlier versions either.

[2019-02-14 10:50] vertextao commented on #17992
I've figured out when I run one of the tests with `ASAN_OPTIONS` defined, it failed.

So, the issue is caused by my environment mentioned [here](https://github.com/google/sanitizers/issues/1026).

[code]

I'll going to close this issue.

[2019-02-14 10:50] #17992 closed

[2019-02-14 15:16] gsferreira opened #18057 "BSOD when using a client instantiated with "localhost" hostname"
I have a use case where an application starts another process that is a gRPC server to which the first application is a client.
Recently I saw that sometimes, in the first request from the Client to the Server, the test machine has a blue screen (BSOD).

I've been trying to figure out what I was doing wrong and after a few tests I finally figure out that this is only happening if the client tries

[2019-02-14 15:20] chazmead opened #18058 "Python SSL Channel Creds with bundle Cert/Intermediate Fails verification: CERTIFICATE_VERIFY_FAILED"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows, …) and version?
[code]

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
Possibly related to #16305 and #17203 but these issues describe a slightly different process I believe.

I have an organisation root CA, an intermediate CA

[2019-02-14 17:15] #18008 closed

[2019-02-14 20:28] mattbailey opened #18064 "make fails on gcc 8.2.0-r2/Alpine Linux 3.9 no-invalid-source-encoding"
### What version of gRPC and what language are you using?
`v1.18.x` branch

### What operating system (Linux, Windows, …) and version?
Alpine Linux 3.9

### What runtime / compiler are you using (e.g. python version or version of gcc)

- gcc 8.2.0-r2
- make 4.2.1-r2

### What did you do?
This Dockerfile fails:

[code]

### What did you expect to see?

- gcc 6.4.0-r9

This works:

[code]

### What

[2019-02-14 20:30] yang-g opened #18065 "Peer string does not look correct for uds"
User reported empty string such as "unix:" from servercontext::Peer.

[2019-02-14 20:53] vjpai opened #18066 "Log a warning if CQ-Server Shutdown's are misordered"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows, …) and version?

 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Server and server CQ shutdown is confusing and hard to find. The comment in https://github.com/grpc/grpc/blob/1b8969b97375dc322432f931a37b6a012448b461/i

[2019-02-15 00:16] gnossen commented on #18058
@chazmead Can you give [`1.19.0rc1`](https://pypi.org/project/grpcio/1.19.0rc1/) a try and see if it results in the same failure?

[2019-02-15 07:00] apolcyn commented on #18047
Disabed in #18050

[2019-02-15 07:00] #18047 closed

[2019-02-15 07:01] apolcyn commented on #17799
FYI the `1.19.0.pre1` release was just uploaded, which has the fix for Windows.

[2019-02-15 09:27] chazmead commented on #18058
@gnossen - Same result unfortunately:

[code]
[code]

[2019-02-15 09:30] jtattermusch commented on #14786
After some changes to the internal infrastructure, I've been able to put package signing in place.
Starting from v1.19.0-pre1 the nuget packages are signed and all the .dlls inside them are also authenticode signed.

https://www.nuget.org/packages/Grpc.Core/1.19.0-pre1

[2019-02-15 09:30] #14786 closed

[2019-02-15 16:11] Falco20019 opened #18074 "AccessViolationException when logger and ares is active"
### What version of gRPC and what language are you using?
gRPC 1.18.0 for C#

### What operating system (Linux, Windows, …) and version?
Windows 18.03 in a company network with domain

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2017 / MSBuild

### What did you do?
[code]

### What did you expect to see?
The example should run fine and log messag

[2019-02-15 16:38] jtattermusch commented on #17587
@ryangreen  @PawelWitak   feel free to open a pull request with the necessary patches. The potential problem is we don't want to resort to dirty hacks that would lower the quality of the C# code just because Unity happens to be very special runtime from many respects. But if we can find a clean way to work around the problem, we will be happy to accept the patch.

[2019-02-15 17:03] #16012 closed

[2019-02-15 17:24] hsaliak commented on #18029
based on your previous comment -- what do you think we can do to fix the issue? Should we change the default for `poll_period` to something higher?
What did you address the poll period to?

[2019-02-15 17:46] ericgribkoff opened #18075 "Client-side Python fork tests are flaky on Python 3.7"
https://github.com/grpc/grpc/pull/16513 adds fork-without-exec tests for Python clients using `GRPC_ENABLE_FORK_SUPPORT=1` and the `multiprocessing` library. The tests are flaky on Kokoro using Python 3.7, leading to what appear to be hanging child processes.

I have been unable to reproduce the problem locally to attach a debugger and determine the exact problem, but based on a series of trials o

[2019-02-15 18:12] apolcyn commented on #18074
Thanks for filing. Are you able to paste the logs here, including the exception?

[2019-02-15 18:59] ebenoist commented on #18029
@hsaliak Thanks for reaching out on twitter. I ended up setting it to the same number as the `pool_keep_alive`, and while that helped, we're still seeing some load balancing issues, that we're hoping a slower deployment speed will help with.

 We also saw some segfaults in 1.18.0 during shutdown, which I will file and issue for once if I can reproduce it. Moving back down to 1.16.0 did solve that.

[2019-02-15 19:24] Falco20019 commented on #18074
It‘s sadly not flushing the full log and since it’s in a pooled thread, I was not able to catch it and close the application gracefully.

[2019-02-15 20:05] apolcyn commented on #18074
I haven't repro'd the access violation.

However, I can repro a name resolution - in any case one thing that this bug makes apparent is that c-ares can't resolve `Environment.MachineName`.

[2019-02-15 20:30] apolcyn commented on #18074
Ok, I can repro an access violation, specifically when I'm:
a) running under `GRPC_TRACE=all'
b) Configuring the grpc logger to log to a file, e.g.:

[code]

[2019-02-15 20:48] Falco20019 commented on #18074
Logging to another endpoint worked in one try. Haven’t tested it repeatedly. Even with this constellation, it’s not occurring everytime. But pretty regularly. It seems to be a combination of TextWriterLogger and the ares resolver. Even when using GRPC_TRACE=all, this only happens with GRPC_DNS_RESOLVER=ares.

[2019-02-15 21:53] gnossen commented on #17339
@yashykt Since #17311 has been closed, is this issue still valid?

[2019-02-15 21:57] gnossen commented on #17670
We actually *do* have [a Slack](https://grpc-oss.slack.com) that I believe predates this issue. However, I don't know how actively members of the team are currently engaging with it.

[2019-02-15 22:03] hsaliak commented on #17670
We have a mailing list - https://grpc.io/community/
An IRC channel - freenode #grpc
A Gitter channel - https://gitter.im/grpc/grpc

How would adding Slack to this official set of channels help? Perhaps the question is to popularize the gitter presence more?
What about doubling down on IRC?

[2019-02-15 22:09] gnossen commented on #17352
Bump. Do the involved parties feel that this conversation has led to anything actionable?
@MOZGIII @ericgribkoff @carl-mastrangelo @ejona86 @nicolasnoble

[2019-02-15 22:26] gnossen commented on #17203
@FabioDominio @GuillaumeCisco Can you give it another go with [1.19.0rc1](https://pypi.org/project/grpcio/1.19.0rc1/)?

[2019-02-15 22:31] rmstar opened #18080 "cfstream_test fails after c-ares was enabled"
cfstream_test fails after c-ares resolver was enabled. The test passes if we set GRPC_DNS_RESOLVER=native.

[code]
https://source.cloud.google.com/results/invocations/f5897734-9b6a-4ef9-9466-a7ab1f101749/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-02-15 22:31] rmstar commented on #18080
CC @apolcyn

[2019-02-15 22:44] gnossen commented on #17568
@ericgribkoff Is this issue still valid?

[2019-02-15 22:55] gnossen commented on #17927
This error hasn't shown up in Fusion for the past ten days. Closing.

[2019-02-15 22:56] gnossen commented on #18013
Resolved by #18032

[2019-02-15 22:56] #18013 closed

[2019-02-15 23:05] ericgribkoff commented on #17568
No, this seems to have been resolved by #17579

[2019-02-15 23:05] #17568 closed

[2019-02-15 23:06] ericgribkoff commented on #15308
Haven't seen this failure post #17579, marking closed.

[2019-02-15 23:06] #15308 closed

[2019-02-16 01:37] stanley-cheung commented on #17812
@toc007 is looking into reproducing this.

[2019-02-16 02:31] equinox1993 opened #18083 "thd_windows.cc failed to build on Windows clang when build target is 32bit"
### What version of gRPC and what language are you using?
 Commit at 872ca1f8a51ff41e2f3972d0d64b0e34461d639e

### What operating system (Linux, Windows, …) and version?
 Windows 10 Version 1709 (OS Build 16299.904)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 clang version 9.0.0 (trunk 353250)
 Target: x86_64-pc-windows-msvc
 Thread model: posix

### What di

[2019-02-16 03:12] MOZGIII commented on #17352
I think we need to compose and add a small new section to the readme, stating that:
- gRPC wire format is compatible across all releases
- gRPC wire format will not change until explicit notice
- The statements above enforce by automatic tests which can be found at https://github.com/grpc/grpc/blob/master/tools/interop_matrix/client_matrix.py

That alone would render this issue solved for me.

[2019-02-16 04:02] apolcyn commented on #18074
Yeah, that "DNS resolution failure" that I thought I was encountering was actually just a subtle bug, described in https://github.com/grpc/grpc/pull/18084 - WIP fixing this.

[2019-02-16 04:15] stanley-cheung commented on #17927
FYI I have just seen this in another PR #17862: https://source.cloud.google.com/results/invocations/fde1759a-6f78-4f43-9e02-c59d86505a1c/targets/github%2Fgrpc%2Fpython_linux_opt_native/tests

[2019-02-16 05:41] ericgribkoff commented on #18075
I was able to reproduce the issue in a locally running docker container matching our kokoro test runs. It took repeated runs of the new fork tests for a couple hours to produce the first hang, but artificially increasing CPU load on my desktop seemed to make it much easier to reproduce, which would help explain why it happens so frequently on our CI builds but was hard to reproduce locally.

The b

[2019-02-16 21:13] PawelWitak commented on #17587
I am not sure this is dirty hack or workaround as I have checked that this patch works great even on real device (not only on simulator). So @ryangreen as it is your patch, maybe you will open a pull request?

[2019-02-16 23:09] chwarr commented on #17759
I have started [PR #18086](https://github.com/grpc/grpc/pull/18086) that implements the `IDictionary<object, object>` option that was discussed here. It looks pretty clean to me. Cleaner than the `.Get<T>()` proposal.

[2019-02-17 15:04] chazmead commented on #18058
@gnossen - Close this ticket... My own fault, a simple error in the client certificate configuration where it was not set as clientAuth usage.  :(   my appologies for wasting time.

[2019-02-17 15:04] #18058 closed

[2019-02-18 09:36] apolcyn commented on #18074
FTR, regarding the "access violation": this too appears to be caused by same the fact that we make incorrectly error out of a DNS query because we a stale WSA socket error code comparison. When we do this, we initiate a WSA operation on a socket but [don't call grpc_socket_notify_on_read](https://github.com/grpc/grpc/blob/master/src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_

[2019-02-18 11:18] AjitParanjpeDev opened #18087 "The helloworld sample in C# example fails to run in Raspberri Pi (Linux rpigta 4.9.35-v7+ #1014 SMParmv7l GNU/Linux)"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows, …) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead?

[2019-02-18 11:44] Falco20019 commented on #14963
Just to add some more context on why it's not working:
[`SetEnvironmentVariable(string variable, string value)`](https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentvariable?view=netcore-2.2#System_Environment_SetEnvironmentVariable_System_String_System_String_System_EnvironmentVariableTarget_) is the overload for [`SetEnvironmentVariable (string variable, string value, En

[2019-02-18 13:35] GuillaumeCisco commented on #17203
@gnossen I can confirm python `subprocess.Popen` works correctly with `1.19.0rc1`

[2019-02-18 14:19] jtattermusch commented on #15913
We now have these:
https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core.Api/ServiceBinderBase.cs
and
https://github.com/grpc/grpc/pull/17778
which together seems to address the issue you're having.

also,  https://github.com/grpc/grpc-dotnet is something you might be interested in.

[2019-02-18 14:19] #15913 closed

[2019-02-18 14:25] jtattermusch commented on #13959
I think this was addressed by merging https://github.com/grpc/grpc/pull/14577 (available starting from v1.13.0, but you should upgrade to the newest version anyway).

[2019-02-18 14:25] #13959 closed

[2019-02-18 14:28] jtattermusch commented on #11335
Not seen for long time. Closing.

[2019-02-18 14:28] #11335 closed

[2019-02-18 14:37] jtattermusch commented on #11879
GRPC_DNS_RESOLVER=ares will be the default resolver for v1.19.0.

Also, this issue now seems obsolete:
- we are not planning to implement grpclb client in C#.
- for opensource use, the plan is to implement a load balancing client that is compatible with xDS Envoy Universal Data API.

[2019-02-18 14:37] #11879 closed

[2019-02-18 14:40] jtattermusch commented on #18087
You didn't fill in any of the required information. Closing.

[2019-02-18 14:40] #18087 closed

[2019-02-18 14:50] jtattermusch commented on #17080
not sure what "grpc.zip" you are talking about, the official distribution channel for gRPC C# in nuget.org. The packages there definitely do contain the `runtimes` folder as always.

I'm going to close this as "cannot reproduce".

[2019-02-18 14:50] #17080 closed

[2019-02-18 14:53] jtattermusch commented on #14109
Is this still a problem?

[2019-02-18 16:06] prankkelkar commented on #15996
@rohitsakala Yes few months back i had built the same on ubuntu 18.04 s390x

[2019-02-18 16:20] jtattermusch commented on #17587
I looked at @ryangreen's snippet more closely:
The idea of using [MonoPInvokeCallback(typeof(NativeMetadataInterceptor))] and a static method is the correct approach, but the solution is incomplete. Using `static NativeMetadataCredentialsPlugin instance` clearly doesn't allow more than one instance of NativeMetadataCredentialsPlugin to be used at a time and that's broken. So the snippet is useful

[2019-02-18 16:24] prankkelkar commented on #15996
One workaround is to try building grpc gem by mske command from source .

[2019-02-18 16:28] prankkelkar commented on #15996
another solution : comment out google protobuf as dependancy in Gemfile of grpc and run bundle install to install remaining required gems. now build google-protobuf gem separately and keep it in local repository along with other gems installed. then edit the gemfile to install gems from this local source.

[2019-02-18 17:01] nothrow opened #18089 "gRPC for C# does not properly support C# 8.0 NullableReferences"
### What version of gRPC and what language are you using?
 gRPC 1.18.0

### What operating system (Linux, Windows, …) and version?
 Windows 10. Probably unrelated.

### What runtime / compiler are you using (e.g. python version or version of gcc)
 C# 8.0 (VS2019 preview 2.0)

### What did you do?
grpc_80.csproj:

[code]

Proto.proto: (anything)

[code]

### What did you expect to see?
No warnings.

[2019-02-18 17:27] AjitParanjpeDev opened #18090 "GRPC C# Hellow world sample fails to run on Rpi"
### What version of gRPC and what language are you using?
 gRPC- tried with  1.18.0,1.17.0 1.16.0
Language : C# dotnet core

### What operating system (Linux, Windows, …) and version?
 Linux on rapspberri pi
OS: debian version 8

### What runtime / compiler are you using (e.g. python version or version of gcc)
Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs instal

[2019-02-18 20:44] srini100 commented on #18058
@chazmead, would you be able to compare this with grpc-go or grpc-java client behavior?  or Curl maybe?

@jiangtaoli2016, this is a bit different than the other cases where the cert presented by server matches the cert client trusts even though client cannot verify the chain back to root cert. In this case, client cert and server cert are different but the intermediate cert and the chain from ther

[2019-02-18 20:47] srini100 commented on #18058
@jiangtaoli2016, never mind. Didn't see the issue got resolved before assigning to you.

[2019-02-19 04:12] cw-pratik commented on #14109
Give me a day..will check again and let you know

[2019-02-19 07:46] Pablotagu commented on #18090
@AjitParanjpeDev  I faced the same problem when I was deploying (with 1.17) and I solved it by adding the grpc.native.csharp nuget package. Anyway it might not be the proper solution

[2019-02-19 10:16] AjitParanjpeDev commented on #18090
@Pablotagu
I added grpc.native.csharp package to Greeter solution. (GRPC 1.17.0)
I added it to all 3 projects (Greeter, GreeterServer, GreeterClient ).
after adding it created nativeLibs folder into Server and Client Project.

I published it for all 3 (win7,linux, Rpi)
Win7 [dotnet publish -r win7-x64]
linux  [dotnet publish -r linux-x64]
Rpi    [dotnet publish -r linux-arm ]

Win7 it is running f

[2019-02-19 17:15] AspirinSJL commented on #16178
@antoninbas https://github.com/grpc/grpc/pull/17574 is based on your patch, but it breaks the Bazel build. Could you please open a pull request to share your fix? Thanks!

[2019-02-19 17:16] AspirinSJL commented on #16178
Since there hasn't been any other user complaining about this issue or response from the issue reporter for over 6 months, I'm closing it for now.

[2019-02-19 17:16] #16178 closed

[2019-02-19 17:30] #17203 closed

[2019-02-19 17:51] AspirinSJL commented on #18001
We are at RPC layer, so implementing pubsub may not be in our scope. Sorry, closing.

But you may find this example helpful: https://gist.github.com/yang-g/257d758cdb990eec42f8.

[2019-02-19 17:51] #18001 closed

[2019-02-19 18:01] yashykt commented on #17339
ok!

[2019-02-19 18:01] #17339 closed

[2019-02-19 18:41] markdroth commented on #15927
I'm going to solve this by passing down the client stats object in user data attached to the LB token metadata element.

There will still be future work needed here when we later to go to implement hedging support, but we can deal with that when the time comes.

[2019-02-19 18:55] AspirinSJL commented on #18023
Looks like the easiest way to do this is to extend https://github.com/raulriera/probot-minimum-reviews to check whether the author and reviewers are from Google organization.

False negative is possible, but people should then register themselves.
False positive is possible, some TVC's are in Google organization.

[2019-02-19 19:29] lidizheng commented on #16366
This feature has been published at `v1.18.0`.
For DEMO snippet of how to use it, please check https://github.com/grpc/grpc/issues/17601#issuecomment-450312923.

[2019-02-19 19:29] #16366 closed

[2019-02-19 19:30] lidizheng commented on #15768
Resolved with https://github.com/grpc/grpc/pull/17280.

[2019-02-19 19:30] #15768 closed

[2019-02-19 20:40] vjpai commented on #18083
Cc @nicolasnoble @jtattermusch : I discussed this offline with @equinox1993 and the reporter is planning to send in a PR to fix this problem . This issue is interesting since this is a user case wanting to use clang with Windows. Is this something that we need to support in our CI?

[2019-02-19 21:02] adibrastegarnia commented on #17506
@th0br0
How did you fix this problem? I have the same problem that I explained here:
[issue 52](https://github.com/stackb/rules_proto/issues/52)

[2019-02-19 21:54] apolcyn commented on #17851
I'm seeing the file not found error on a recent master PR: https://source.cloud.google.com/results/invocations/f2395a97-9a9a-4f50-8c8a-424635326806/targets/github%2Fgrpc%2Fobjc_macos_opt_native/log

https://github.com/grpc/grpc/pull/18084

log excerpt:

[code]

[2019-02-19 21:55] #18074 closed

[2019-02-19 22:37] prestonvanloon commented on #17706
I am still stuck here. How can I proceed?

[2019-02-19 23:08] yang-g commented on #17706
The previous reply root-caused your issue.
You can try to make with `HAS_SYSTEM_PROTOBUF=false` to force using the third_party version of protobuf, maybe that will resolve your problem.

[2019-02-19 23:08] #17706 closed

[2019-02-20 00:09] ericgribkoff commented on #18038
@apolcyn This can be closed as fixed now, right?

[2019-02-20 00:11] apolcyn commented on #18038
Yeah, this can be fixed. I've just left a TODO to re-evaluate Android support after upgrading c-ares

[2019-02-20 00:11] #18038 closed

[2019-02-20 00:13] equinox1993 commented on #18083
FYI I seem to be able to run `run_tests.py` with clang-cl. Here are what I did:

1. [Install LLVM](http://releases.llvm.org/download.html)
1. Install the [LLVM compiler toolchain](https://marketplace.visualstudio.com/items?itemName=LLVMExtensions.llvm-toolchain) on visual studio
1. Modify `pre_build_cmake.bat` to add `-T LLVM` to the cmake flag.
1. Run `python tools/run_tests/run_tests.py -l c++ -

[2019-02-20 01:04] yashykt commented on #17667
@angoenka can the experiment be tried again at head?

[2019-02-20 01:06] nicolasnoble commented on #18083
I'm not really eager to add yet another blocking edge case scenario in our PRs, no. I would personally deem that only Visual Studio is our main supported compiler, and that other cases is supported on best effort, as we do with many of our edge case scenarios.

It is true that Visual Studio now has added clang/llvm support so that people can now easily build their code using clang/llvm using Visua

[2019-02-20 01:17] lidizheng commented on #18055
@yiakwy Can you post this question to our Google Group [grpc-io](https://groups.google.com/forum/#!forum/grpc-io)? You may get more attention there, and the GitHub issues are not meant for questions.

[2019-02-20 01:18] yashykt commented on #17338
Fixed by #17923

[2019-02-20 01:18] #17338 closed

[2019-02-20 01:29] equinox1993 commented on #18083
We don't plan to roll dependency on gRPC very often unless there is blocking bug or security concern, so I think it's fine not to run CI for clang+Windows. I'm happy to fix bug on gRPC if it blocks development on Chromium.

Also I think it would be great if `run_tests.py` has an option to build on clang+Windows. This can be done by simply adding a `-T LLVM` flag to the cmake parameter in addition

[2019-02-20 01:37] nicolasnoble commented on #18083
Yeah, that last part is fine and good to have. I'd like to point out that we'd rather move towards bazel as a test framework however. If this can be achieved using bazel instead, I'd be even more supportive.

[2019-02-20 01:37] apolcyn commented on #18074
The fix for this was backported to 1.19.x in https://github.com/grpc/grpc/pull/18092, so it should be released in the 1.19.0 release soonish

[2019-02-20 01:46] equinox1993 commented on #18083
Looks like this PR makes it possible to use clang-cl on Bazel by setting a `USE_CLANG_CL` environment variable: https://github.com/bazelbuild/bazel/pull/6553

So we probably don't need to do anything on gRPC to support that :)

[2019-02-20 03:21] chwarr opened #18100 "Failure to start a Server leaves some ports in zombie state"
### What version of gRPC and what language are you using?

Tested with

* C# 1.19.0-pre1
* C# 2.27.0
* C# 2.28.1

### What operating system (Linux, Windows, …) and version?

Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

Tested with

* netcoreapp2.1 (1.19.0-pre1)
* netcoreapp3.1 (2.27.0)
* netcoreapp3.1 (2.28.1)

### What did you do?

Attempted to st

[2019-02-20 05:40] yiakwy commented on #18001
@AspirinSJL I already implemented almost every function a pubsub service need by following gcloud pubsub proto .

I stucked in grpc async server multiple threads model. I am currently reading https://github.com/grpc/grpc/blob/master/test/cpp/qps/server_async.cc to learn how host multiple services methods. But I have no idea how to implement threading model with 1 or more completion queue.

In this

[2019-02-20 05:51] yiakwy commented on #18055
@lidizheng Got it. I think have already solved the problem and now I am stuck in async grpc cpp server threading models. I am confused about how to write threads and manage them with our completion queue.

From https://github.com/grpc/grpc/blob/master/test/cpp/qps/server_async.cc, I found that each thread handles a different CallData instance (a ServerRpcContext instance, similar to a CallData ins

[2019-02-20 10:38] jtattermusch commented on #18089
Looks like that this needs some adjustments to the codegen on both gRPC C# side (lives in this repository) and on protobuf C# side (lives in https://github.com/protocolbuffers/protobuf).
Pull requests are welcome.

[2019-02-20 11:00] jtattermusch commented on #18090
Normally, just building (and publishing in your case) the helloworld project would work just fine - no other steps should be needed. The problem here is that it seems you're trying to run on a linux with arm processor and gRPC C# doesn't support that (you'd need the internal native library built for arm, and we don't ship one with the Grpc.Core nuget.

Related issues: https://github.com/grpc/grpc/

[2019-02-20 11:00] #18090 closed

[2019-02-20 11:05] jtattermusch commented on #17052
It looks like https://github.com/grpc/grpc/pull/11795 should fix this?

[2019-02-20 11:09] jtattermusch commented on #17966
@AspirinSJL  it's mostly C/C++ stuff dependencies, so this should be addressed by C-core team.

[2019-02-20 11:12] jtattermusch commented on #17966
CC @nicolasnoble

[2019-02-20 11:13] jtattermusch commented on #17963
CC @nicolasnoble  who handled the original issue and knows the context

[2019-02-20 11:21] jtattermusch commented on #18083
AFAIK our only supported compiler on Windows is MSVC. Other compilers are supported on best effort basis (and we don't have the capacity to test them continuously and monitor the test results).
We're fine with accepting a one-time fix for your problem, but I don't want to add more stuff to run_tests.py.

[2019-02-20 11:21] #18083 closed

[2019-02-20 12:11] jtattermusch commented on #17318
https://github.com/grpc/grpc/pull/18039 should be at least partially fixing this.

According to the stackoverflow post https://stackoverflow.com/questions/53488605/unity-cannot-build-grpc-project-for-uwp-with-il2cpp-backend/53600402#53600402, there might be a few other places that need fixing.

[2019-02-20 15:23] indriApollo opened #18106 "Exclude libgrpc_csharp_ext.x86.so from publish when targetting linux-64"
### What version of gRPC and what language are you using?

C# , gRPC 1.17.0

### What operating system (Linux, Windows, …) and version?

Linux 64 bit

### What runtime / compiler are you using (e.g. python version or version of gcc)

dotnet core 2.2

### What did you do?

Build a dotnet core project for linux-64 only.
`dotnet publish -c Release -o build -r linux-x64 --self-contained false .`

###

[2019-02-20 16:44] AspirinSJL commented on #18001
Regarding async service implementation, I wrote the load reporter service before, which may be helpful in your case. It uses one completion queue.
 https://github.com/grpc/grpc/blob/master/src/cpp/server/load_reporter/load_reporter_async_service_impl.cc

Vijay is available on github. You are @ing the right account.

[2019-02-20 18:09] yang-g commented on #18064
Looks like the error happens in cares library, not sure whether we can do something about it.

[2019-02-20 18:15] apolcyn commented on #18064
I think this was fixed upstream by https://github.com/c-ares/c-ares/pull/201, we just need to update our submodule in order to submodule-builds to pick up that fix - I'd aim to do that for the upcoming 1.20.x branch could be an option.

[2019-02-20 18:16] yang-g commented on #18055
@yiakwy
The c++ async server is not trivial to write and all the 3 threading models are possible and may suit different traffic patterns and work loads. But unless you are very performance-sensitive, you can use a single completion queue with a bunch of threads all calling Next on it.

[2019-02-20 18:22] yang-g commented on #17781
Thanks for the work-around. @apolcyn should we update cares to resolve this?

[2019-02-20 18:23] yang-g commented on #17781
This is a duplicate of #18064

[2019-02-20 18:23] #17781 closed

[2019-02-20 18:26] apolcyn commented on #18064
A workaround <i>might</i> be to install c-ares library separately (our Makefile will avoid compiling c-ares from submodule and just use the presently-installed one if `pkg-config --atleast-version=1.11.0 libcares`).

[2019-02-20 18:32] AspirinSJL commented on #17913
Duplicate of https://github.com/grpc/grpc/issues/17911.

[2019-02-20 18:32] #17913 closed

[2019-02-20 19:24] ericgribkoff commented on #12665
Closing as presumably obsolete. We know build C++ for Android as part of our CI

[2019-02-20 19:24] #12665 closed

[2019-02-20 19:25] #17553 closed

[2019-02-20 20:31] srini100 commented on #18080
@rmstar, this is probably not related to CFStream itself but something to do with Bazel and cares symbols. Please confirm if this works without CFStream enabled.

[2019-02-20 20:35] ciaranmul commented on #18064
I was able to workaround this error by checking out master in the cares submodule or by using `make CC=gcc-7`

[2019-02-20 22:07] #17681 closed

[2019-02-20 22:12] rmstar commented on #18080
@srini100 yes, this issue seems to be unrelated to CFStream itself. The test fails even when CFStream is disabled.

[2019-02-20 22:42] yang-g commented on #17561
Seen again in https://github.com/grpc/grpc/pull/18110: Aborting VM command due to timeout of 5400 seconds

[2019-02-20 22:45] yang-g opened #18111 "[Flake] Interop ALTS java->go server time out"
https://source.cloud.google.com/results/invocations/45c5d7af-84de-4ac3-8f27-ed0acb9b4c6d/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_alts/log
This looks very similar to #15434

[code]

[2019-02-21 01:52] #15988 closed

[2019-02-21 03:12] #17473 closed

[2019-02-21 05:20] yiakwy commented on #18001
@AspirinSJL Thank you! I read it immediately. grpc code base itself is the treasure I am pursuing to understand. It feels like that you are trying to decouple the completion queue with service logics.

[2019-02-21 06:02] AspirinSJL commented on #18001
Actually the service logic should be independent on the completion queue?

The completion queue is to do polling related work, and the loop to use it is very similar among different services' implementation.

[2019-02-21 06:32] yiakwy commented on #18055
Thanks for your comment. Suppose we have following method

[code]

In the server side, I want to handle it in such a way, which threading model do you suggest?

[code]

In this case the thread which executes Pull handler in async server, will take a long time return to the thread pool.

[code]

What thread model do you suggest? Thanks in advance!

[2019-02-21 07:51] yiakwy commented on #18055
@yang-g I am not sure whether I am sensitive to the performance. I developed it as a baseline system to integrated my services developed in c++ and Python respectively. Hence I want it to be robust so that I do not need to keep an eye on it frequently.

[2019-02-21 08:13] yiakwy commented on #18001
It is really cool! That was what I was trying to figure out in the past few days after reading demo codes. We could improve documentation by employing the pattern you give. I also invite you to participate in the discussion https://github.com/grpc/grpc/issues/18055 to help me figure out threading model problems.  I post them on https://groups.google.com/forum/#!topic/grpc-io/CC73-Dr4Ilc

[2019-02-21 10:29] jklenner opened #18123 "Crosscompiling C++ on Linux no longer possible"
### What version of gRPC and what language are you using?
 Master Branch on Commit f16340db0b4d72da07b8da8371802d9721cec100

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04.2 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 arm-linux-gnueabihf-g++

### What did you do?
I am using gRPC via "add_subdirectory" in in my cmake project. Aft

[2019-02-21 12:28] #18123 closed

[2019-02-21 16:25] jtattermusch commented on #17995
@kkm000  are you planning to come up with a fix?

[2019-02-21 16:47] nycdotnet commented on #18057
We've been dealing with this BSOD issue at Namely for almost a year and never expected it might be this.  I'm excited to hear that there may be a workaround by using 127.0.0.1 instead of localhost.

[2019-02-21 17:55] allevato commented on #17649
Sorry for the very late delay on this; I got pulled onto other work.

I've found the problem—the `cares` BUILD file only recognizes the `darwin` CPU value, but Bazel also allows `darwin_x86_64` (and that is what the Apple build rules recommend). Until that gets cleaned up, I'm sending a PR to add the alternate CPU value. After doing that, the repository builds properly.

[2019-02-21 18:56] rmstar opened #18126 "csharp.Grpc.IntegrationTesting.ExternalDnsWithTracingClientServerTest flake"
https://source.cloud.google.com/results/invocations/cf8d6c4f-1f50-463e-88fd-a25d5fbc79d1/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_dbg/log
[code]

[2019-02-21 19:01] rmstar opened #18127 "Test flake: py27_native.test.health_check._health_servicer_test.HealthServicerTest"
https://source.cloud.google.com/results/invocations/b9013af2-c6e4-4197-b96a-6865e3656cbc/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_basictests_multilang/log
[code]

[2019-02-21 20:15] ericgribkoff commented on #18127
Also seen at https://source.cloud.google.com/results/invocations/a5f88a91-bfa7-43b1-8c50-934c352031b8/targets. Sending a PR to temporarily disable the test, as it looks like the assumption that cancellation will always propagate to the server callback is false.

[2019-02-21 20:22] jtattermusch commented on #14899
Internal issue b/125367392

[2019-02-21 22:28] whitlockjc commented on #14627
I've run into the same thing, and since there hasn't been any traction I figured I'd give a gentle _"bump"_.

[2019-02-21 22:33] #17649 closed

[2019-02-22 00:11] dankegel opened #18131 "rpath not sufficient to allow installing in non-default location on Linux"
### What version of gRPC and what language are you using?
1.17.1, C++

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
default gcc (7.3.0)

### What did you do?
Configured, built, and installed grpc with --prefix=/opt/foobar

### What did you expect to see?
Expected "ldd /opt/foobar/l

[2019-02-22 00:35] equinox1993 opened #18132 "Out-of-bound memory read in hpack_parser.cc"
### What version of gRPC and what language are you using?
 gRPC++, commit 318c67782a752a8324233ff95e594a19f85578a7

### What operating system (Linux, Windows,...) and version?
 gLinux

### What runtime / compiler are you using (e.g. python version or version of gcc)

clang version 9.0.0 (trunk 353250)
Target: x86_64-unknown-linux-gnu
Thread model: posix

GN args to repro (for building on Chromium)

[2019-02-22 00:59] equinox1993 commented on #18132
There is another crash in hpack_parser.cc. I'm investigating it.

Chromium bug if you're interested: http://crbug.com/934087

[2019-02-22 01:24] equinox1993 commented on #18132
Seems to be similar issue. This one happens in `parse_value4`:
https://github.com/grpc/grpc/blob/15c947a080e20b4d5627d26eb8b5b10fe62a82b8/src/core/ext/transport/chttp2/transport/hpack_parser.cc#L1167

I think `parse_next` should do something like this as in the `parse_begin` function?
[code]

[2019-02-22 02:25] AspirinSJL opened #18135 "Auto ping open P0/P1 issues periodically"
There are some existing github bots to auto comment issues, but no one is doing it periodically.

We may have to write it from scratch and make it a cron job on GCE.

[2019-02-22 02:32] AspirinSJL commented on #18023
Since the internal OSS team treats this as P3 and there is no easy way for us to add this feature, I'm changing this to P2.

Before we automate this, we have to do manual checking.

[2019-02-22 02:35] nicolasnoble commented on #18135
https://github.com/firebase/oss-bot could be a good base.

[2019-02-22 07:28] ronnylt opened #18137 "Latest versions not available as composer packages"
### What version of gRPC and what language are you using?
v 1.18
PHP

### What did you do?
I am using the latest grpc version (1.18), but it is  not available as a composer package in https://packagist.org/packages/grpc/grpc

### What did you expect to see?
The latest releases available as a composer packages (the last version currently  available is 1.15)

### What did you see instead?
 Last vers

[2019-02-22 07:33] AspirinSJL commented on #18001
So I'm wondering why the qps service is listed as demo code in our repo. It's test code.

Any link to where you see it as demo code?

[2019-02-22 07:59] ricardoschroeder commented on #18057
We've also been facing this issue for about a month or so now. I've been running some tests and it seems to be working. I still need to run more performance + multi-thread tests.
Thanks @gsferreira

[2019-02-22 08:01] yiakwy commented on #18001
It is not demo code. Instead it gives me more feeling about how to use Cq
with thread for multiple services. This was first seen in grpc.io when
people discuss about grpc "threading model" and one of the developers wrote
that "there are more complex codes in test/qps" using a threading model
compared to the codes in test/cpp/hybrid_async.cc and other codes related
to async server threading models.

[2019-02-22 09:05] jtattermusch commented on #18135
Setting up such bot would be useful, but implementing on our own is problematic - such things always need maintenance and we already have too much.

[2019-02-22 09:27] Valentin-Miroshnichenko opened #18139 "Python Protobuf deserialize creates a new type and because of this does not work isinstance"
I use Protobuf in my project. When I send data through the network and deserialize it. I got a new type **'google.protobuf.reflection.ActorPidRequest'** instead of **'protoactor.remote.protos_remote_pb2.ActorPidRequest'** and **isinstance** don’t work for me. How Can I Fix It?.

![2019-02-22_11-40-46](https://user-images.githubusercontent.com/10279529/53232877-1f099d80-369d-11e9-9610-c71182c8f8db.

[2019-02-22 15:22] yiakwy commented on #7352
I support for the future based solution. I used to implement async and await based on future for python.  It makes it possible for people to write async codes in a synchronous manner and easy to debug if your engine is robust enough.

[2019-02-22 16:32] hcaseyal commented on #7352
@vjpai can you provide an update on the official status of the callback-based API?

[2019-02-22 16:51] jtattermusch commented on #18057
To be honest, I have trouble understanding how gRPC can be the cause of a server getting BSOD - there really seems like a problem of the operating system or the VM, not gRPC. If this is a grpc problem, shouldn't the process just crash (ideally with a coredump that can be used to diagnose the problem)?
Also, can you reproduce this on a physical Windows machine or is it just Azure VM?

[2019-02-22 17:54] ericgribkoff commented on #18127
@gnossen I was unable to determine anything in the health service itself that should be the cause of this flake. I did check and we do not actually have a separate test that guarantees that a client cancellation always triggers the server's `{on_done_}callback`, which is the portion of this test that appears to be failing. It may also be that there is no such guarantee in our API, although AFAICT

[2019-02-22 18:00] AspirinSJL commented on #18135
I agree.. Maybe I will do it as a fun project when I have time.

[2019-02-22 18:44] lidizheng commented on #18139
Normally, if you use `grpcio-tools` to generate `*_pb2_grpc.py` file, the servicer method will be bound with the serialization and deserialization method of `*_pb2.py` file. It will work fine if you try to compare proto message that sent to the method or instantiated from the imported `*_pb2.py` file.

Your `type(msg2)` seems instantiated by the imported `*_pb2.py` , but `type(msg)` is constructed

[2019-02-22 18:58] nicolasnoble commented on #18135
My advice would be to contribute to oss-bot for instance, and then use it.

[2019-02-22 20:46] stanley-cheung commented on #15899
Fixed by #17862

[2019-02-22 20:46] #15899 closed

[2019-02-22 21:56] ericgribkoff commented on #15662
@gnossen This may have been complete by https://github.com/grpc/grpc/pull/17600

[2019-02-22 22:00] ericgribkoff commented on #11804
@lidizheng @gnossen https://github.com/grpc/grpc/pull/17621 was my ill-fated attempt to fix this. Basically daemon threads that have released the GIL (in our code, polling the completion queue) are prone to segfault when the interpreter is shutting down. There's a much longer discussion on the PR itself, but in short the segfault occurs in CPython, not in our code, so the only reasonable fix seems

[2019-02-22 22:15] bduclaux commented on #17122
Another related issue is that a GRPC server will reset the permissions of the unix socket file when starting.

For instance, when a unix socket has different uid and gid, such as prod.www-data (username prod, group www-data), these permissions are reset to prod.prod when the GRPC server starts. The GRPC code should not attempt to reset these permissions. It might be a consequence of the grpc_unlin

[2019-02-22 23:14] markdroth opened #18142 "json_run_localhost infrastructure failures"
https://source.cloud.google.com/results/invocations/8cc2e1a0-9bb8-4e99-b709-c23030ab45ab/targets/github%2Fgrpc%2Fcpp_linux_tsan_native_x64_clang7.0/tests

The logs are full of messages like the following:

[code]

[2019-02-22 23:34] equinox1993 opened #18144 "grpc_call.status_error leaked when call_start_batch is called twice with it"
### What version of gRPC and what language are you using?
 commit 318c67782a752a8324233ff95e594a19f85578a7, C++

### What operating system (Linux, Windows,...) and version?
 gLinux

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang version 9.0.0 (trunk 353250)
Target: x86_64-unknown-linux-gnu
Thread model: posix

### What happened?
Our project's clusterfuzz ru

[2019-02-23 00:07] toc007 commented on #17812
Dockerfile to reproduce issue

[code]

[2019-02-23 00:57] toc007 commented on #17812
Attempt to build from source yields similar error while building grpc php plugin:
[code]

[2019-02-23 02:15] kkm000 commented on #17995
@jtattermusch, is this worth it? What is your feeling?

[2019-02-23 02:25] nycdotnet commented on #18057
We get this on our Windows 10 x64 workstations. I’m sure it’s not “gRPC” but clearly something about what it’s doing is causing a problem in the networking stack and possibly more narrowly the DNS client.  Since it’s clearly not just us, I’ll see if I can get it to happen with the suggested repro and if so see if we can get a dump over to MS to get this solved.

[2019-02-23 02:54] vjpai commented on #18144
It's funny that you bring this up, as we were just having a discussion about api_fuzzer this morning in our team meeting. api_fuzzer isn't a "real" fuzzing failure in the way that uri_fuzzer or hpack_fuzzer are. These are just cases of api misues (IMO) and nothing can protect against all cases of API misuse. For example, if you pass the same pointer to free twice, the program will crash. So althou

[2019-02-23 05:36] gaeshi commented on #17898
I have the same problem.

The solution proposed by @calebatwd works with `Grpc.Tools Version=1.17.0`, but doesn't seem to be working with `Grpc.Tools Version=1.18.0`.

I'm using Rider 2018.3.3 on Linux (Ubuntu 18.04 if it's important).

[2019-02-23 08:02] equinox1993 commented on #18144
Thanks for clarifying this! I've commented this on the Chromium bug and deprioritized it.

[2019-02-24 02:51] gaeshi commented on #17898
The workaround doesn't work `Grpc.Tools v1.19.0-pre1` either.

[2019-02-24 11:53] vfrz commented on #17898
I can confirm the workaround is only working with version 17 using Rider 2018.3.3 on Win 10.

[2019-02-24 21:15] sam-qordoba opened #18150 "No precompiled python package for alpine Linux"
### What version of gRPC and what language are you using?

1.18.0

### What operating system (Linux, Windows,...) and version?

Arch

### What runtime / compiler are you using (e.g. python version or version of gcc)

Trying to use pip...

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

minimal example: see [thi

[2019-02-24 22:23] JonasVautherin commented on #16856
I still need `gRPC_BUILD_CODEGEN=OFF` at least for Android (I can confirm that for iOS if you want).

But anyway I believe this is a bug: `gRPC_BUILD_CODEGEN=OFF` disable some builds, but not the corresponding installs.

Yes, and Android as well, as far as I remember (it was around a year ago). I believe the idea was that Android/iOS don't really need to generate the code (i.e. the code is cross-c

[2019-02-25 01:36] nicolasnoble commented on #18150
There is a conscious decision on our side to have a list of things that we are supporting. We can't produce precompiled binaries for every single combination of platforms out there. The compilation from source fallback is the best way to solve this, but this means that it can take a while.

[2019-02-25 02:48] zty18494 commented on #15572
hi, lucifercr07
I have the same problem as you. Do you have resolved it? And HOW?
thanks~

[2019-02-25 08:02] sam-qordoba commented on #18150
Sorry, I did not realize it was intentional. Let's say I wanted to produce a precompiled binary for the platform(s) of my choice... Do I have to read and understand all of `setup.py` in root of this repo, or is there a fairly straightforward way to maintain an up-to-date binary for Alpine Linux? Thanks for the help.

[2019-02-25 08:14] mehrdada commented on #18150
Unless it's a recent change, I don't believe PyPI repo even allows for uploading packages that aren't `manylinux1` and distro-specific.

[2019-02-25 08:21] mehrdada commented on #18150
@sam-qordoba `pip install grpcio` should automatically work on alpine if you have the C toolchain installed (there are tests to ensure it works in [an Alpine docker image](https://github.com/grpc/grpc/blob/master/tools/dockerfile/test/python_alpine_x64/Dockerfile)). Doesn't it? Shouldn't require any understanding of `setup.py`.  Building a precompiled package should also be [straightforward](https

[2019-02-25 09:22] #17759 closed

[2019-02-25 16:09] jtattermusch commented on #18057
Having a repro that works on Win 10 workstation would be great.

[2019-02-25 16:13] nicolasnoble commented on #18057
Alternatively, do you have any information FROM the bsod? It usually has some details about what crashed where.

[2019-02-25 16:15] nicolasnoble commented on #18057
Also, yes, a BSOD clearly is on Microsoft's, even if this is somehow linked to some usage pattern that grpc does on their network stack.

[2019-02-25 16:21] jtattermusch commented on #17995
I'd say not supporting spaces in file names is bad. About not supporting accented characters I feel less strongly, but also something that should really work. How much work is it to fix this?

[2019-02-25 16:28] sam-qordoba commented on #18150
@mehrdada Correct, it does work. It just always builds from source. I thought that was a bug, but @nicolasnoble let me know that it is a conscious decision. Thank you for the additional feedback.

[2019-02-25 16:36] nicolasnoble commented on #18150
As @mehrdada points out, this may also be a limitation in what we can do with PyPI.

[2019-02-25 18:58] markdroth commented on #14029
This was done in #17740.

[2019-02-25 18:58] #14029 closed

[2019-02-25 19:21] snikopoulos opened #18158 "Feature Request: Thread Initialization and Termination hooks"
### What version of gRPC and what language are you using?

gRPC v1.7.3 and now v1.17.2
C++

### What operating system (Linux, Windows,...) and version?

Linux - Centos7x
Windows Server 2012R2 +

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)
Visual Studio 2017

### Problem statement

We are using gRPC to provide service

[2019-02-25 21:55] markdroth opened #18160 "C-core API: grpc_metadata::flags is unused"
CC @murgatroid99

The `grpc_metadata` struct has a `flags` field that does not appear to be used.  In addition, the `GRPC_INITIAL_METADATA_*` macros don't have a comment clarifying that they are actually passed in via the `grpc_op::flags` field instead of via the individual metadata elements, which leads to confusion about how the API is supposed to work.

We should eliminate `grpc_metadata::flags

[2019-02-25 23:49] yang-g commented on #18132
I think what happened is an overflow under 32bit system.

Note when we are trying to parse a string from HPACK, we first decode the string's length. In the above case of `0x41 0x7f 0xff 0xf6 0xff 0xff 0x8e 0x00`, the length is `4026530687`, which is then converted to `intptr_t` in https://github.com/grpc/grpc/blob/15c947a080e20b4d5627d26eb8b5b10fe62a82b8/src/core/ext/transport/chttp2/transport/hpa

[2019-02-25 23:50] yang-g commented on #18132
The `p->strlen` is defined as `uint32_t`, if it is not clear from the context.

[2019-02-26 00:25] kkm000 commented on #17995
@jtattermusch, ok, let me have a look. I agree, paths should be quoted everywhere, so spaces must work. The non-ASCII, if an issue, then it's likely in the tools, as .NET is all wchar_t throughout.

I have quite a batch of issues already, should be able to get to them this week.

[2019-02-26 00:32] equinox1993 commented on #18132
FYI the second test input is `00 7F FF FF FF FF 08`. Anyhow your PR fixes both of the test cases :)

[2019-02-26 00:37] yang-g commented on #18132
@equinox1993 Thanks for checking it out.

[2019-02-26 00:45] adelez opened #18167 "Significant latency regression in both unary and streaming benchmarks on 2/19"
https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5685265389584384

On 2/19, there was a ~50% increase in unary benchmark and ~100% in streaming. Same regression didn't seem to occur to internal benchmarks.

@jtattermusch @nicolasnoble

[2019-02-26 03:00] flyingjeslee commented on #16058
@boyaziqi  I get the same mistake，Do you fix this bug？

[2019-02-26 07:30] jtattermusch commented on #18167
@mhaidrygoog

[2019-02-26 07:31] jtattermusch commented on #18167
![download](https://user-images.githubusercontent.com/9939684/53394935-efaaa780-39a0-11e9-9953-062080902d06.png)

[2019-02-26 07:33] jtattermusch commented on #18167
![frz8ed4gvsc](https://user-images.githubusercontent.com/9939684/53395005-179a0b00-39a1-11e9-8bea-bd45d137b0aa.png)

[2019-02-26 09:02] springlight commented on #17080
ok ，Have already solved it,Thanks a lot

[2019-02-26 09:46] lawliet89 commented on #6722
This also happens on the Python library.

In any case, P384 curves are not supported. You have to use P256. Probably a BoringSSL issue.

[2019-02-26 11:16] vjpai commented on #17455
Fixed by #18136

[2019-02-26 11:16] #17455 closed

[2019-02-26 11:17] vjpai commented on #16508
Done

[2019-02-26 11:17] #16508 closed

[2019-02-26 13:57] MaartenBrandemann opened #18178 "Xamarin: Unable to use NativeMetadataCredentialsPlugin in AOT-only project"
### What version of gRPC and what language are you using?
 I am using the Grpc.Core (1.18.0), in combination with the Google.Cloud.Speech.V1(1.1.0) nuGet package. These I am using in Xamarin.Forms (C#).

### What operating system (Linux, Windows,...) and version?
 This crash happens when running the application on the iOS platform.

### What did you do?
When creating a Grpc.Core.Channel in the Xam

[2019-02-26 14:12] jtattermusch commented on #18178
The link https://docs.microsoft.com/xamarin/ios/internals/limitations

[2019-02-26 14:14] jtattermusch commented on #18178
This is a similar problem as https://github.com/grpc/grpc/issues/17587.

[2019-02-26 14:15] rolfik opened #18179 "C# code generated with Grpc.Tools nuget package misses Google.Protobuf dependency"
Using gRPC.Tools 1.18 to generate C# code from .proto file in .NET Framework 4.6.2 project ends with compilation error with missing namespace global::Google.Protobuf.
This is due to missing nuget dependency Google.Protobuf - when added manually to the project, compilation succeeds.
Google.Protobuf should be added as dependency into Grpc.Tools nuget.

Developing on Windows 10 1809

[2019-02-26 17:34] hcaseyal commented on #18167
Re internal regressions: on 2/19, we had a couple of regressions in internal benchmarks as well. It's unclear to me if they are related at all.

[2019-02-26 17:36] AspirinSJL commented on #18135
CC @adelez

[2019-02-26 18:10] #18132 closed

[2019-02-26 18:51] nycdotnet commented on #18057
I was able to get my Windows 10 x64 workstation to BSOD once last night this using the grpc greeter example project modified to use the example code from @gsferreira (with a few async/path fixes).  If you're interested, the code is implemented in the latest two commits to the `repro-bsod` branch of my fork of grpc.

https://github.com/nycdotnet/grpc/tree/repro-bsod

The bluescreen referenced tcpip

[2019-02-26 19:15] mhaidrygoog commented on #18167
I can't run custom queries to access the older data on the dashboard. The data from the current snapshot has been overwritten. @jtattermusch  Please provide access.

[2019-02-26 19:18] toc007 commented on #17812
The following Dockerfile yields a successful install.
[code]
I believe that this problem is closely related to issue #16686, which is a gcc versioning issue.
Please try the following steps to install the latest version of gcc
[code]

[2019-02-26 19:21] mhaidrygoog commented on #18167
@jtattermusch Thanks for the pointers with the dashboard, proceeding ahead

[2019-02-26 20:07] dankegel commented on #18131
Also reproduced with tip of master.

[code]

[2019-02-26 20:17] mhaidrygoog commented on #18167
I was able to edit the dashboard data to see the range of starting commit  ids where we start seeing the performance regression. I am going to setup a script to run the last few commits before that and see which commit exactly may have caused the issue
![dashboard-commits](https://user-images.githubusercontent.com/42048362/53443352-5d1a0080-39c0-11e9-9ee9-f79795d3cac6.png)
![dashboard-latencies](h

[2019-02-26 23:43] dankegel commented on #18131
How relocatable are grpc shared libraries supposed to be?  Are there situations where an absolute rpath is bad?  If so, maybe I should try a relative rpath of some sort.

[2019-02-27 00:35] nicolasnoble commented on #18131
So, we've been really relying on people's ld.conf system to solve this for us. I am not THAT much an expert, and I don't necessarily have strong opinions, but my solution to issues similar to the ones you're describing always has been for me to drop a line in /etc/ld.so.conf.d/ somewhere and rerun `ldconfig`.

I'm actually fine with #18183, provided it doesn't break existing usage.

[2019-02-27 00:44] yang-g commented on #17516
Looking at this again. I suspect what happened in the original issue is an out of order destruction of global variables. @maxw did you happen to put the destructions of grpc objects into some atexit handler?
Because we have a global `g_gli_initializer`, it may have been destroyed when the atexit handler is running.
@jeffd Do you have a working repro?

[2019-02-27 01:17] apolcyn commented on #17799
`1.19.0` was just released with the fix

[2019-02-27 04:43] stanley-cheung commented on #18137
Working on it: https://github.com/grpc/grpc-php/pull/11

[2019-02-27 04:49] #17620 closed

[2019-02-27 04:50] stanley-cheung commented on #18137
Done. v1.19.0 has been released for the composer package. But really, there's effectively no change since v1.15.0.

[2019-02-27 04:50] #18137 closed

[2019-02-27 07:23] nicolasnoble commented on #18057
This bsod is a driver error. Since this touches localhost, this might be a bug in the actual tcp stack of windows. This might be linked to the way we're querying inconditionally the kernel for the driver of the interface we're told to use.

https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/tcp_client_windows.cc#L162

[2019-02-27 10:19] noyki opened #18186 "grpcio 1.19.0 not exist"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead

[2019-02-27 10:21] noyki commented on #18186
### What version of gRPC and what language are you using? protobuf 3.6.0 looking for latest grpcio - so it look for grpcio: 1.19.0
### What operating system (Linux, Windows,...) and version? Windows
### What runtime / compiler are you using (e.g. python version or version of gcc) python version
### What did you do? My project try assemble protobuf and all its dependencies packages. but grpcio 1.19

[2019-02-27 11:15] puzhiguang opened #18187 "Init methods must return a type related to the receiver type"
Convenience initializer missing a 'self' call to another initializer.

- (GRPCUnaryProtoCall *)initPasswordWithMessage:(InitPasswordRequest *)message responseHandler:(id<GRPCProtoResponseHandler>)handler callOptions:(GRPCCallOptions *_Nullable)callOptions {
  return [self RPCToMethod:@"initPassword"
                   message:message
           responseHandler:handler
               callOptions:ca

[2019-02-27 12:49] tylersouthard opened #18188 "Unable to compile with .NET Native tool chain"
### What version of gRPC and what language are you using?
 gRPC 1.19.0, C#

### What operating system (Linux, Windows,...) and version?
 Windows 10 1803 (17134.590)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio Professional 2017 (15.9.6)

### What did you do?
1. Created a new UWP project that references a new .NET Standard 2.0 library.
2. Add the

[2019-02-27 13:58] jtattermusch opened #18189 "pylint sanity test is broken on master"
https://source.cloud.google.com/results/invocations/34141ccf-0fe9-4eba-9412-135e237cdc91/targets/github%2Fgrpc%2Fsanity_linux_dbg_native/tests

It started failing after https://github.com/grpc/grpc/pull/18177 - but according to my tests this seems to be a concidence. Perhaps some pylint components were update at the same time and the check is now failing because of that.

[code]

[2019-02-27 14:38] NathanBockrath commented on #17799
**Thank you!**

[2019-02-27 16:34] jtattermusch commented on #18057
Seems like I'm able to reproduce by just running grpc tests (e.g csharp or python) on a kokoro win2016 VM. It doesn't happen 100%, but often enough.

[2019-02-27 16:40] jtattermusch commented on #18057
Actually, the problem I'm seeing might be something else - it looks like I'm getting a BSOD when building :-( I'll update one I figure out what's going on.

[2019-02-27 17:19] dankegel commented on #18131
Reviewing #18183 I see it's already relative.  I had forgotten that I did it right already :-)
I feel fairly confident it won't break existing usage, and we've been using the patch here for some time.

[2019-02-27 18:26] markdroth commented on #18189
Upgrading to P0, since this is causing a required test to fail, thus preventing people from merging pretty much any PRs.

What is the ETA for fixing this?

[2019-02-27 18:30] gnossen commented on #18189
@lidizheng just reviewed. We're just waiting on a green test.

[2019-02-27 18:52] stanley-cheung commented on #18186
Is this about the Python package? Or something else?

[2019-02-27 18:57] yang-g commented on #17807
@GauthamBanasandra I would suspect it is some issue related to the building on mac os.
Is it possible that you use something like lldb to track down the issue a bit? It seems to crash in the poll call from kernel. Thanks.

[2019-02-27 19:35] #18189 closed

[2019-02-27 19:41] lidizheng opened #18191 "Request for a Complete gRPC Python Server Interceptor"
As described in [L13-python-interceptors](https://github.com/grpc/proposal/blob/master/L13-python-interceptors.md), the Python server-side interceptor is not complete as other gRPC implementations. With out it, gRPC Python users have to hack their way to achieve common functionality like:

* Server-level exception handler [StackOverflow](https://stackoverflow.com/questions/52608502/how-to-define-a

[2019-02-27 19:51] devjgm commented on #18080
This also breaks for the https://github.com/googleapis/google-cloud-cpp project. I changed our project to use gRPC v1.19.0, then our tests on Mac OS X started failing with the same error as above. Our full error log is here:  https://source.cloud.google.com/results/invocations/9e470476-78aa-4bd2-9de9-8306722ccc82/targets/cloud-cpp%2Fgithub%2Fmacos%2Fpresubmit/log

Here's a snippet of the error:

[

[2019-02-27 20:09] tylersouthard commented on #18188
Looking at this further, it appears that the .NET Native compiler is choking on generating the code for the delegates that use types descending from SafeHandle. I emailed the .NET Native team.

[2019-02-27 21:19] nicolasnoble commented on #18186
I think so, the python package is named grpcio. I'm going to close this one because this person is complaining that they are trying to get a package that didn't exist yet. It has been released today, so...

[2019-02-27 21:19] #18186 closed

[2019-02-27 23:07] mehrdada commented on #18191
Some historical context: while the server-side interceptor that we shipped may have been hard to use by some users, the original hook provided to substitute service handler on lookup is theoretically sufficient for an external gRPC user to write interceptors by relying only on the public API. The reason we decided to at least temporarily delay a interceptor API at the service handler invocation ca

[2019-02-27 23:07] #18131 closed

[2019-02-27 23:25] lidizheng commented on #18191
@mehrdada Thank you for the context, I agree that implement this feature won't be a trivial effort. I found the OpenTracing team have a valid implementation of interceptor depends solely on our public API at [grpcext](https://github.com/opentracing-contrib/python-grpc/blob/master/grpc_opentracing/grpcext/_interceptor.py), though the implementation doesn't solve all the problem you mentioned.

The

[2019-02-27 23:29] mhaidrygoog commented on #18167
I've run a couple of experiments that suggest that reason for this regression may be the environment the benchmarks are running on and not necessarily any PR within gRPC

The first observation was after modifying the dashboard query to display git the commit id in addition to the latency and display this as a table vs a graph. I saw that the benchmarks ran on the same commit for 3 consecutive days

[2019-02-27 23:53] carl-mastrangelo opened #18195 "testResponsesOver4MBAreAcceptedIfOptedIn flake for run_tests_objc_macos_dbg_native"
Seen here:

https://source.cloud.google.com/results/invocations/4dbaad57-33f2-4429-aac2-8adc7f1e8162/targets/github%2Fgrpc%2Faggregate_tests/tests;group=aggregate_tests;test=run_tests_objc_macos_dbg_native;row=1

[code]

[2019-02-28 00:17] carl-mastrangelo opened #18197 "Publish Team practices on Issue and PR labelling"
There are some internal docs outlining how to label Issues, which would be nice to have organized in some public way.   I believe there should be a `src/doc/practices/` directory to keep track of such documents.

Nothing super formal, but it would be nice to have for new team members, and for people like me who haven't stayed up to date.

[2019-02-28 04:23] GauthamBanasandra commented on #17807
Sure @yang-g I'll try to dig into this and get back. As to building gRPC on macOS, I've followed the instructions outlined in https://github.com/grpc/grpc/blob/master/BUILDING.md and haven't done anything else.

[2019-02-28 07:36] maxwelltsai1536 opened #18203 "grpc project cannot reference other local project with C#"
### What version of gRPC and what language are you using?
 v1.19.0 & csharp

### What operating system (Linux, Windows,...) and version?
 windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 C# 7.1 & vs2017

### What did you do?
when i reference other project

### What did you expect to see?
grpc server start

### What did you see instead?
 then have a typ

[2019-02-28 08:18] yiakwy opened #18204 "[Proposal] Async Grpc Croutine based solution using glib ucontext"
## Background

Currently, the techniques async version gRPC uses is far behind network model implemented in several languages including cpp.

gRPC uses completion queue to notify users when an event is ready, as a result of which we are not real multiplexing even though we have done this in our c core. Actually, in c++ we use `ucontext` to control how, when and where to stop and resume a thread. B

[2019-02-28 11:28] tylersouthard commented on #8636
I'm curious if anyone using gRPC for UWP is actually creating a store app (compiling with the .NET Native tool chain)? See #18188.

[2019-02-28 11:58] noyki commented on #18186
thanks!

‫בתאריך יום ד׳, 27 בפבר׳ 2019 ב-23:20 מאת ‪Nicolas Noble‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-28 15:56] jceresini commented on #18191
Just a note, the access log link in the original post actually links to a gmail search. I believe the link was meant to be to [this google groups thread](https://groups.google.com/forum/#!searchin/grpc-io/ross%7Csort:date/grpc-io/RUFgL6VK0jo/KoZMpnQ2AAAJ)

[2019-02-28 16:14] jasondavis11 opened #18205 "Flow control / backpressure does not seem to work in C#"
### What version of gRPC and what language are you using?
1.18.0, C# (nuget package)
### What operating system (Linux, Windows,...) and version?
Windows 10
### Issue description
We have been using bidirectional grpc streams in our architecture extensively, but have been experiencing issues when the CPU load on one end does not allow it to read data as fast as the other end is sending it. I have be

[2019-02-28 18:16] ssiloti commented on #6722
For the sake of documentation, the offending code is:

https://github.com/grpc/grpc/blob/7b63731b87ccdcc24b03e25f13a2bb91d0531b0f/src/core/tsi/ssl_transport_security.cc#L695

It appears this code was added to configure ECDH to use P-256, but it has the side effect of also restricting ECC certificate keys to that curve.

[2019-02-28 18:36] jtattermusch commented on #18057
I also reached out to my Microsoft contacts, I'll update if there's any news.

[2019-02-28 18:38] somerska commented on #18191
gRPC is touted as officially supporting many languages, Python is on that list.  The reality is that not all languages are equality supported and we're trying to use gRPC with python.

[2019-02-28 18:44] lidizheng commented on #18191
@somerska May I ask to what extend are you using gRPC Python? gRPC Python client only? gRPC Python server only? Both?

Please feel free to post feature request issue, or bugs.

[2019-02-28 18:49] apolcyn opened #18207 "TIMEOUT: unit._cython._channel_test.ChannelTest.test_single_channel_lonely_connectivity"
From the log:

[code]

https://source.cloud.google.com/results/invocations/d3913732-4a72-476b-ac7c-7ac67e32d25b/targets/github%2Fgrpc%2Fpython_windows_opt_gevent/log

Noticed on PR: https://github.com/grpc/grpc/pull/18201

[2019-02-28 18:50] somerska commented on #18191
@lidizheng we use CPython 3.7 for both client and server, I'm agreeing that I'd like a complete implementation of the server interceptor in gRPC Python

[2019-02-28 18:55] srini100 commented on #18080
@devjgm, sorry we missed this issue in 1.19.0. Are you ok with pinning to 1.17.2 for now? I would like to avoid a patch release just for this issue.

[2019-02-28 19:03] apolcyn commented on #18080
Is there a way to test on master branch? The fix (https://github.com/grpc/grpc/pull/18201) is now on master branch

[2019-02-28 20:31] lidizheng commented on #18207
Related Issue: #15411

[2019-02-28 21:01] nicolasnoble commented on #18057
This is an out of bound memset in the function `IppGetNextAddress` of tcpip.sys, right after constructing a new IRQ.

![image](https://user-images.githubusercontent.com/7281574/53598173-e6643b00-3b58-11e9-84b1-2f7e52607e72.png)

[2019-02-28 21:35] nicolasnoble commented on #18057
This might be quite an old bug from Microsoft:

https://www.bleepingcomputer.com/forums/t/543317/bsod-driver-irql-not-less-or-equal-dump-file-attached/

[2019-02-28 21:48] jshlbrd commented on #16001
@ericgribkoff any chance you can flesh out a more concrete example for multiprocessing.Pool? I'm not seeing how one could offload incoming calls to the pool (i.e. in your example, how would `rpcMethod` be referenced by the gRPC server?)

[2019-02-28 22:10] lidizheng commented on #16001
@jshlbrd I think Eric's option 1 answers your question better. You start gRPC server in the process worker function, and the incoming traffic will be automatically distributed due to
SO_REUSEPORT.

[2019-02-28 22:49] jshlbrd commented on #16001
@lidizheng -- thanks, yeah that's what I thought, and I was able to get something like that working for my application. However, that spins up a gRPC server in each child process, I was curious if it's possible to run one gRPC server from the main process and distribute the calls to a group of child processes. My main use for this is to support use of signals -- you can't use signals from within t

[2019-03-01 00:02] lidizheng commented on #16001
@jshlbrd Unfortunately, the fork type you are talking about is currently not supported for gRPC Python server. The fork support currently only available for gRPC Python client, and it is actually harder than people expected. We are using C extension and perform a lot of IO without GIL with multiple threads with different responsibilities, and it is challenging to prevent CPython from dead locking

[2019-03-01 01:16] mehrdada commented on #18191
@lidizheng I agree, but please feel free to take the opportunity to think carefully about the exception types. Maybe there's some path forward to stabilize without breaking API? Once you fix the handler-invocation-time interceptor design, it'll be harder to change.

[2019-03-01 01:36] lidizheng commented on #18191
@mehrdada The incremental design and the feature itself, hopefully, will be scheduled as one of the goals in Q2. I personally like the way OpenTracing team does it, though it added another set of APIs.

[2019-03-01 03:00] gnossen opened #18210 "Linux SO_REUSEPORT Support"
Currently, `manylinux1` is our only supported linux wheel. Since this platform does not support [`SO_REUSEPORT`](https://lwn.net/Articles/542629/), installing from source is currently the only way to leverage this feature on Linux.

[`manylinux2010`](https://www.python.org/dev/peps/pep-0571/) is a revision to the `manylinux` standard that supports `SO_REUSEPORT`. Its PEP was accepted in April, 201

[2019-03-01 03:02] gnossen commented on #16001
It's worth noting that our [`manylinux` wheels do not support `SO_REUSEPORT`](https://github.com/grpc/grpc/issues/18210), so for the moment, if you want to take advantage of this feature on Linux, you'll need to compile from source.

[2019-03-01 04:38] mehrdada commented on #18191
@lidizheng I had never been against it, although I don't like too many types to distinguish different things just for better error messages getting printed if they don't make sense from a programmer to take different code paths, but `Abortion` can use its own type maybe, or somehow using the return value of `continuation` can signal success/failure (which would be better). Another question is whet

[2019-03-01 05:18] madeleineth opened #18211 "possible data race in ~grpc_chttp2_transport"
### What version of gRPC and what language are you using?

C++, gRPC 1.19.0

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.10

### What runtime / compiler are you using (e.g. python version or version of gcc)

Clang 7.0.0-3

### What did you do?

1. Checked out gRPC v1.19.0 and built it with the Clang 7 that comes with Ubuntu 18.10 on amd64.
2. Built the source over here w

[2019-03-01 07:26] jtattermusch commented on #17672
I can confirm I'm seeing this problem too.

[2019-03-01 07:35] jtattermusch commented on #17672
Maybe the right solution would be to implement `base_namespace` option for `grpc_csharp_plugin` too and make Grpc.Tools use that option by default (for both protoc and the plugin) - that would prevent the name clash.

[2019-03-01 10:38] enricmacias commented on #14173
This thread saved my day!
There are any chances on having this released anytime soon?

Thanks!

[2019-03-01 13:38] Falco20019 commented on #17672
Seems like #13724 might get some attention then.

[2019-03-01 14:37] rikojilani opened #18213 "this is my code compare to yours please [redacted]"
this is my code compare to yours please
[redacted]

[2019-03-01 14:44] devjgm commented on #18080
The problem is that I can't currently build grpc with the current bazel due to an old protobuf dependency. Specifically, I need a version of grpc with https://github.com/grpc/grpc/commit/7a814e2597fbda08e06034717324d8e5b423b93a#diff-5952172e3b803ed640371cda4cddf13d I believe 1.19.0 has this, which is why I need to upgrade.

Regarding avoiding a patch release: isn't the 1.19.0 build broken on some

[2019-03-01 14:49] mrt181 opened #18214 "Code generation via msbuild does not handle `import "google/api/annotations.proto";`"
### What version of gRPC and what language are you using?
gRPC: v1.19.0
lang: C#

### What operating system (Linux, Windows,...) and version?
 Windows 7 64

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .net Standard 2.0

### What did you do?
I have gRPC service definitions which use this

`import "google/api/annotations.proto";`

I try to autogenerate the code

[2019-03-01 15:48] nicolasnoble commented on #18213
That's a fairly good attempt, and github prevents me from fully removing your malware from the history of this issue.

[2019-03-01 15:48] #18213 closed

[2019-03-01 15:53] nicolasnoble commented on #18213
I have contacted github abuse to get this user and their fraudulent links removed from everywhere they posted.

[2019-03-01 15:59] nicolasnoble commented on #18213
I also have contact Google Security over this.

To anyone reading this: do NOT download the linked zip file. It contains a malicious Visual Basic payload, very likely to exploit Microsoft Windows' Zip Folder system.

[2019-03-01 16:06] abdumu commented on #18213
@nicolasnoble I also reported his issue from our repo as an abuse. thanks for warning us.

[2019-03-01 16:08] nicolasnoble commented on #18213
Also, to people being curious, here's the most interesting string I've found in the middle of the VB payload:

[code]

[2019-03-01 16:22] NathanBockrath commented on #17799
Thank you

From: EXTERN apolcyn <notifications@github.com>
Sent: Tuesday, February 26, 2019 7:18 PM
To: grpc/grpc <grpc@noreply.github.com>
Cc: Nathan Bockrath <Nathan.Bockrath@fresenius-kabi.com>; Manual <manual@noreply.github.com>
Subject: Re: [grpc/grpc] Ruby client hangs on Windows (#17799)

1.19.0 was just released with the fix

—
You are receiving this because you are subscribed to this thre

[2019-03-01 16:59] srini100 commented on #14173
This should be available in 1.19.0 released a few days back.

[2019-03-01 18:00] devhandle opened #18217 "GRPC for Android won't build using cmake"
### What version of gRPC and what language are you using?

v1.19.0

### What operating system (Linux, Windows,...) and version?

Building on Ubuntu 18.10 for Android

### What runtime / compiler are you using (e.g. python version or version of gcc)

 clang++ cross compiler:

Version: Android (4751641 based on r328903) clang version 7.0.2 (https://android.googlesource.com/toolchain/clang 0031003706

[2019-03-01 18:06] srini100 commented on #18080
@devjgm, is there a way for you to confirm the fix in #18201. We'll target to release a patch next week. This affects bazel but not make builds on MacOS.

[2019-03-01 18:16] mhaidrygoog commented on #18167
The regression is also noticeable for other languages in the multi-language dashboard
![multilamg-dashboard](https://user-images.githubusercontent.com/42048362/53657459-0e13db80-3c0b-11e9-9686-62f32a019601.png)

[link](https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5652536396611584&widget=1274284569&container=695104531)

[2019-03-01 18:33] devjgm commented on #18080
Sure. I tried building against grpc @ commit 046e3e4ab5cdb867bda7a5c40fd9b0ac84ad0ff8. The tarball bazel fetched was https://github.com/grpc/grpc/archive/046e3e4ab5cdb867bda7a5c40fd9b0ac84ad0ff8.tar.gz

When I use this grpc snapshot, I get the following error:

[code]

So it looks like I'm picking up so other commits between the 1.19.0 release and the commit from #18201 that is changing something

[2019-03-01 19:07] mhaidrygoog commented on #18167
Based on the analysis up till now I'm ruling out gRPC C++ as the root cause and downgrading this bug to P1

[2019-03-01 20:36] rmstar commented on #18080
@devjgm the error you pointed out seems to be related to a package dependency on abseil. I don't think it's caused by the c-ares linking issue.

I noticed that commit 046e3e4 and v1.19.0 pull in different abseil-cpp tarballs. Not sure if that's causing the breakage.

[v.19.0
](https://github.com/grpc/grpc/blob/v1.19.0/bazel/grpc_deps.bzl#L170-L175)
[code]
[commit 046e3e4
](https://github.com/grpc/

[2019-03-02 04:20] srini100 commented on #18080
Reopening since there is active discussion going on.

[2019-03-02 15:03] fy2462 opened #18227 "How to proactive close writer-reader stream on server side (C++)"
Hi，everyone：

Who knows how to proactive close writer-reader stream from server side using C++ code？

I want to only keep one writer-reader stream in server side, so I need to close the old stream when found a new stream send message to server. But I found that I can not release the old stream->Read(message) because of hang when the old client is connecting to server.

anyone help me ?
thanks all

[2019-03-03 01:39] remyabel commented on #18080
abseil moved the location of `configure_copts.bzl` to `copts.bzl`. The version of io_opencensus_cpp that google-cloud-cpp loads is probably trying to find the old location. I will open a PR for google-cloud-cpp updating the dependency and see if it fixes the issue.

[2019-03-04 03:27] stepancheg opened #18230 "GET method is mentioned in interop test, but not in the spec"
[cacheable_unary test](https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md#cacheable_unary) says: "test verifies that gRPC requests marked as cacheable use GET verb instead of POST".

However [gRPC over HTTP2](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) document does not mention GET method.

[2019-03-04 08:47] qtcdxxyuc opened #18232 "I need to share CompletionQueue across multiple connections instead of exclusive it?"
### What version of gRPC and what language are you using?

`grpc 1.16.1` `c++`

### What operating system (Linux, Windows,...) and version?

`Ubuntu 18.04LTS`

### What runtime / compiler are you using ?

`gcc version 7.3.0`

### What did you do?
In async-grpc server,I tried to create an exclusive `context` and `CompletionQueue` for each connection.I create exclusive context and cq when a connecti

[2019-03-04 09:40] jasons-codes commented on #18214
I got same error at 1.19.0

[2019-03-04 10:01] fho commented on #16688
The fix is part of the 1.15.0 c-ares release (https://github.com/c-ares/c-ares/releases/tag/cares-1_15_0). It was released on the 23.10.18.

[2019-03-04 12:04] jtattermusch commented on #18179
The problem with your suggesting is that Grpc.Tools is meant to be a build-only dependency (it is only needed for code generation locally in your project, projects depending on project using Grpc.Tools should know nothing about Grpc.Tools being used).

So adding a Google.Protobuf dependency (which should propagate transitively) to Grpc.Tools actually leads to wrong usage pattern.
Also see "Private

[2019-03-04 12:04] #18179 closed

[2019-03-04 13:49] rolfik opened #18233 "C#: Add ServerCallContext.StatusChanged event to allow Status monitoring"
It would be usefull to add StatusChanged event to ServerCallContext to allow Status monitoring.
It will complement single case only available now: ServerCallContext.CancellationToken.Register.

During server streaming to clients, this would allow to better clear unusable server call contexts of disconnected clients.

Thank you

Marek

[2019-03-04 15:15] JHDReis commented on #18217
I am facing the same problem! Please let me know when you have a solution/workaround.

[2019-03-04 16:05] jtattermusch commented on #15757
Looks like the use case has been sufficiently covered by https://github.com/grpc/grpc/pull/18086?

[2019-03-04 16:08] jtattermusch commented on #15633
@smflorentino  @Danprot  are you still experiencing this problem? As mentioned before, a reproduction of the problem would be very helpful.

[2019-03-04 16:15] jtattermusch commented on #18214
`google/api/annotations.proto` is not a well-known .proto file (as opposed to e.g. google.protobuf.Any and other types that are distributed along with protobuf runtime and the Grpc.Tools pacakge) and therefore you actually need to add a copy google/api/annotations.proto to your project in order to be able to build. The file needs to be under "google/api" directory (so that the import path matches)

[2019-03-04 16:15] #18214 closed

[2019-03-04 16:26] jtattermusch commented on #18203
From the trace it looks like this might be happening:
PlatformApis try to detect on which platform you're on. The test if you're running on Unity
is basically checking if class `UnityEngine.Application` from UnityEngine assembly exists. If so, it is assumed that you're running on unity and other unity specific code runs (and fails because you don't seem to be running on Unity).
https://github.com/

[2019-03-04 16:33] jtattermusch commented on #18233
not sure what you mean by "status monitoring", but it looks like you should just use ServerCallContext.CancellationToken to get the signal you need. On the server side, this signals that the call was interrupted with an error (client cancelled, connections lost, ..) and that's all the information you can get. The status is only sent from the server to the client, so there's no way of providing mor

[2019-03-04 16:33] #18233 closed

[2019-03-04 16:38] jtattermusch commented on #18232
You can definitely use a single completion queue for multiple connections (both on client side and the server side). Completions queues used with async C++ API are supposed to be long-lived - lost of applications you should just create completions queues (in a thread pool) when they start and destroy them when they shut down.

[2019-03-04 16:38] #18232 closed

[2019-03-04 16:46] jtattermusch commented on #18205
You're right that if the peer is reading too slowly, the WriteAsync should start blocking at some point.
I skimmed your code and it looks correct - I'll try to investigate what's wrong.
Have you been able to reproduce on Linux too (apart from Windows)?

[2019-03-04 17:22] jtattermusch opened #18234 "Inconsistent behavior of RECV_STATUS_ON_CLIENT and RECV_MESSAGE operation when a call gets cancelled"
This is the root cause of https://github.com/grpc/grpc/issues/17761 (which can happen in other languages than C# as well).

The scenario:
1 .client starts server streaming call and the server responds to the call "quickly" by sending a small response and the call status. Both get immediately sent on the wire and they are also received on the client side.
2. client requests a "late" call cancellati

[2019-03-04 17:25] jtattermusch commented on #18234
@AspirinSJL  can you take a look?

[2019-03-04 17:26] jtattermusch commented on #18234
My repro and unsuccessful attempts to fix in the C# layer are here https://github.com/grpc/grpc/pull/18124

[2019-03-04 17:54] markdroth opened #18236 "python tests failing with "Exception serializing request!" errors"
https://source.cloud.google.com/results/invocations/556299f7-4169-494c-9120-6a462eaa4aaf/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_python_bazel_test/log

[2019-03-04 17:54] markdroth commented on #18236
Seen in #18236.  The problem went away when I re-ran the test.

[2019-03-04 17:55] markdroth opened #18237 "node7 tests fail with "Method not found" errors"
See in #18215:

https://source.cloud.google.com/results/invocations/b3a9334f-ec9d-4c8c-8d1d-58e4b42586d2/targets

[2019-03-04 17:57] markdroth opened #18238 "end2end:server_crash_test@poller=epoll1 failure"
https://source.cloud.google.com/results/invocations/658c95e9-77e5-4182-a44d-f287bc10ecc3/targets/%2F%2Ftest%2Fcpp%2Fend2end:server_crash_test@poller%3Depoll1/log

[code]

[2019-03-04 19:39] rolfik commented on #18233
Actually I am testing gRPC server streaming to clients.

Clients connect to server via rpc call getting server stream of notifications.
Server notifies connected clients.
I have found that some response streams used by the server may become unusable during client restarts etc. even though I discard response streams when the ServerCallContext.CancellationToken signals its cancellation...

How to de

[2019-03-04 19:50] jtattermusch commented on #18205
It looks like I'm not not able to reproduce. I'm running your server and client code and the client keeps getting blocked in regular intervals. The memory used by the client is steady at 18MB.

[2019-03-04 19:54] jtattermusch commented on #18205
I'm not able to reproduce using neither gRPC 1.18.0 nor 1.19.0

[2019-03-04 20:07] jtattermusch commented on #18233
when a TCP/IP connection breaks, it necessarily makes the RPC fail (and you might want to setup RPC keepalive intervals or just send heartbeat messages yourself).
- on the serverside, the serverCallContext.CancellationToken will be triggered.
- on client side, you'll see the call end with an error status. If that's what you see, just start a new RPC on the client.

[2019-03-04 20:08] jtattermusch commented on #18205
It seems that things behave as expected, so closing this issue. I can reopen if the problem get confirmed (but the repro doesn't seem to work).

[2019-03-04 22:14] mehrdada opened #18244 "Crash "assertion failed: b.tv_nsec >= 0" in gRPC 1.19"
We are seeing a new crash that manifests itself in 1.19.0. Seems like this PR is the only thing that touched it in a year and the assertion seems failing: https://github.com/grpc/grpc/pull/17842

(We are using Python but seems like the problem is probably not Python specific.) This is blocking us from upgrading from 1.18.

This is the tail of the log `GRPC_VERBOSITY=debug GRPC_TRACE=all`:
[code]

[2019-03-04 22:19] mehrdada commented on #18244
cc @muxi @rmstar

[2019-03-04 22:29] srini100 commented on #18244
cc @yang-g

[2019-03-04 22:30] mehrdada commented on #18244
Upon further investigation, it seems out test (big test) uses `freezegun.freeze_time` module and that is probably interacting weirdly with the Python/Cython layer.

[2019-03-04 22:46] mehrdada commented on #18244
@vjpai @srini100 I consider `freeze_time` a shady library so this might not warrant a "p1" label, as long as the assertions make sense.

[2019-03-04 23:01] rmstar commented on #18244
I believe the assert is correct: tv_nsec should always be >= 0. The assert seems to be exposing an issue in C-Core where we somehow end up with negative tv_nsec

[2019-03-04 23:12] yang-g commented on #18244
Yes. It should be a number between `[0, 1e9-1]`. I believe c core tries to keep it in range. If we see this assert is failing, we should look into the details. I believe there are issues in ios where the number is out of range and caused production failure. But I am not sure whether we figured that out or not.

[2019-03-04 23:13] AspirinSJL commented on #18234
The received message is thrown away because the client has cancelled the call, right?

Looks like the problem is due to the different sources to determine the results of RECV_STATUS_ON_CLIENT and RECV_MESSAGE.

I think option 1 is more reasonable. We should overwrite the status to "cancelled" in this case because that reflects the user's intent.

I will try to fix this early this week.

[2019-03-04 23:16] rmstar commented on #18244
@yang-g the issues seen on ios have not been root caused yet. See internal bug b/113140355 for an example.

[2019-03-04 23:16] mehrdada commented on #18244
I think this is the root cause: https://github.com/grpc/grpc/blob/c339ba32298a00436ba98800d513dcf4d0944d11/src/python/grpcio/grpc/_cython/_cygrpc/time.pyx.pxi#L22

[2019-03-04 23:20] yang-g commented on #18244
@rmstar understood. I think it is most likely caused by some issue related to tv_nsec being negative and thus we added additional debug logging..

[2019-03-04 23:49] #15927 closed

[2019-03-05 01:05] soheilhy opened #18245 "node tests are failing all interop tests"
https://source.cloud.google.com/results/invocations/774e00b3-a1cf-44ef-a849-eab5f32ca51e/targets

There seems to be compilation error:

[code]

Michael can you please take a look?

[2019-03-05 02:18] soheilhy commented on #18245
Basic Tests MacOS are also failing :(

[2019-03-05 06:52] mrt181 commented on #18214
Yes I figured out that I could manually add that file but hoped that `Google.Api.CommonProtos` might be supported directly as those annotations are used in the gRPC service rpc definitions

[2019-03-05 07:29] jtattermusch commented on #18214
Sure, but unlike the well-known protos provided by the protobuf team, the google.api protos aren't really general purpose so it makes no sense to have built-in support in Grpc.Tools package - there are many other use cases of protobuf than for Google APIs.

[2019-03-05 07:39] jtattermusch commented on #18234
The problem with option 1 is that the RECV_STATUS_ON_CLIENT operation is always pending since the start of a server streaming call, so it could happen that the OK status being returned by the surface API wil race with client trying to request cancellation.

Option 2 would be some something along "we know that we already reported the call's status as OK, so we should not throw away the received mes

[2019-03-05 10:42] cearny commented on #15757
That woks handsomely for me!

[2019-03-05 10:59] #15757 closed

[2019-03-05 11:19] RoCry commented on #18187
We have met this problem just right now.

[2019-03-05 11:19] jandyx commented on #18187
Same problem.

[2019-03-05 11:20] pinlin168 commented on #18187
Any luck with this issue?

[2019-03-05 13:02] soheilhy commented on #18245
Apparently we need to upgrade Typescript version.

[2019-03-05 14:31] markdroth opened #18249 "grpc-node_macos_opt_native failure"
https://source.cloud.google.com/results/invocations/13d57852-6aa5-45ad-a696-a34ef10bbb6c/targets/github%2Fgrpc%2Fgrpc-node_macos_opt_native/tests

[code]

[2019-03-05 15:01] rolfik commented on #18233
@jtattermusch Thank you for the comments.

I have isolated my gRPC testing into separate solution:
https://github.com/rolfik/gRPC.Test

The problem I had was caused in my Monitor method server implementation returning just after registering a calling client internally and later notifications were written by server to the provided response streams - at that time, those streams were not usable anymo

[2019-03-05 15:09] jmeinke opened #18250 "Proxy authentication via digest does not work"
### What version of gRPC and what language are you using?
In our electron app, we're using firebase/firestore@1.0.1 from firebase-js which uses grpc-node 1.17 which uses grpc 1.17.

### What operating system (Linux, Windows,...) and version?
Windows 10, Electron 3.0.15 (32 bit)

### What runtime / compiler are you using (e.g. python version or version of gcc)
We're using the prebuilt binaries whic

[2019-03-05 15:54] Danprot commented on #15633
Not since latest versions of GRPC for .net, currently we use 1.18 and seems to be fine

[2019-03-05 16:07] #15633 closed

[2019-03-05 17:21] jtattermusch commented on #17855
Over the last 10 days, this has been failing more than 7% of MSAN runs on foundry and it's one of our top flakes on Foundry.

@vjpai  can you take a look or find another owner?

[2019-03-05 17:23] jtattermusch commented on #17855
There's also another flake for _10mps_ scenario with about the same flakiness rate.

[2019-03-05 17:29] jtattermusch commented on #17856
This is also failing for  //test/core/end2end:h2_http_proxy_test@bad_ping with similar error message:
e.g.
https://source.cloud.google.com/results/invocations/8a96b3f0-0f4d-42fd-b1c4-b3807b293fa4/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@bad_ping@poller%3Dpoll-cv/log

Overall this particular flake seems to be failing ~10% of dbg builds on Foundry - which makes it our top flake on foun

[2019-03-05 17:49] vjpai commented on #17855
@jtattermusch : Jan, I was working on a fix in #17921 but didn't quite get it right. I'll prioritize getting it right this week.

[2019-03-05 17:53] yashykt commented on #17856
I'll try spending on time this today

[2019-03-05 18:46] #14970 closed

[2019-03-05 19:54] jasondavis11 commented on #18205
Thanks for looking at this. I have ran this on various machines in our lab with the same results (incorrect behavior / no blocking), so I'm a bit puzzled. I am working on running this on Linux and will post when I get results. Was your test run on Windows?

[2019-03-05 19:59] srini100 commented on #18080
@devjgm, @remyabel, are you able to verify the original fix in your local build? We want to do an RC for 1.19.1 patch this week.

[2019-03-05 20:12] yashykt commented on #17856
Some initial findings - The proxy thread seems to be up and running. I also see the client trying to connect to the proxy, but I don't see the proxy thread seeing a polling event for the incoming connect.

[2019-03-05 20:19] srini100 commented on #18244
@mehrdada, can you please confirm if your PR fixes your internal test so we can roll it into a patch?

[2019-03-05 20:45] yashykt commented on #17856
also, this did not fail with local bazel runs

[2019-03-05 21:20] AspirinSJL opened #18256 "bazel build :all fails due to https://github.com/pubref/rules_protobuf"
[code]

Update from @jtattermusch: it seems that this is happening for bazel 0.23+ (build works fine for bazel 0.20, 0.21, 0.22 based on my testing)

[2019-03-05 21:31] remyabel commented on #18080
Yes the original fix works. Thanks @srini100.

[2019-03-05 21:34] smaye81 opened #18257 "Issues reconnecting with expired SSL certs"
### What version of gRPC and what language are you using?
 v1.15.0, C++

### What operating system (Linux, Windows,...) and version?
 Linux Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 clang 3.8

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
I am connecting t

[2019-03-05 21:34] mhaidrygoog commented on #18256
The issue here is that the WORKSPACE file under /usr/local which is specified in this error message is expecting only a grpc_archive rule while bazel is supplying a http_archive rule as well as a grpc_archive rule. The workaround here is to remove the else condition that fails the build if it doesn't receive a grpc_archive rule.
This way WORKSPACE file would ignore the http_archive rule and procee

[2019-03-05 21:42] KylePreuss commented on #18205
@jasondavis11 - I can confirm that the sender does **not** block when running on windows (using grpc C# 1.18.0 nuget package in a netcore2.1 app). When I run both applications on the same machine, memory usage goes through the roof on the client side.

@jtattermusch - I've worked this program into a Docker image and spawned a server/client pair on their own network (Linux containers on a Windows h

[2019-03-05 22:02] peter-edge opened #18260 "Provide binaries as part of releases"
### What version of gRPC and what language are you using?

v1.19.0

All supported languages

### What operating system (Linux, Windows,...) and version?

All

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you expect to see?

I would love if there were binaries included with each release for `grpc_.*_plugin` similar to how `protoc` is released

[2019-03-05 22:07] jasondavis11 commented on #18205
I was able to get some results from running combinations of Linux (docker containers) and Windows for the client and server. Here are the results:
1) Windows Client (machine 1) -> Windows Server (machine 1): No blocking memory increase on Client
2) Windows Client (machine 1) -> Windows Server (machine 2): No blocking memory increase on Server
3) Linux Client (docker 1) -> Linux Server (docker 2):

[2019-03-05 22:22] adelez commented on #17856
Could you please do --runs_per_test=100?

[2019-03-05 22:43] srini100 opened #18262 "Ruby interop matrix docker image build fails"
Since 1.18.0 release we get this error while building interop docker image locally:

Fetching gem metadata from https://rubygems.org/.........
Fetching gem metadata from https://rubygems.org/.
Resolving dependencies...
Bundler could not find compatible versions for gem "bundler":
  In Gemfile:
    bundler (~> 1.9)

  Current Bundler version:
    bundler (2.0.1)
This Gemfile requires a different ve

[2019-03-05 22:52] srini100 opened #18264 "PHP interop matrix test failure in 1.19.0"
To repro the failure, add 1.19.0 to tools/interop_matrix/client_matrix.py and run "tools/interop_matrix/run_interop_matrix_tests.py -l php --release v1.19.0". Seeing this error:
$ tools/interop_matrix/run_interop_matrix_tests.py -l php --release v1.19.0
START: Downloading images for language "php"
PASSED: pull_image_gcr.io/grpc-testing/grpc_interop_php:v1.19.0 [time=37.8sec, retries=0:0]
SUCCESS:

[2019-03-05 23:03] nicolasnoble commented on #18260
These are the `grpc-tools` packages provided for each language.

https://pypi.org/project/grpcio-tools/
https://rubygems.org/gems/grpc-tools/
https://www.npmjs.com/package/grpc-tools

[2019-03-05 23:37] lidizheng opened #18267 "Python Bazel build failed after #18082"
I found the `bazel test src/python/...` will fail with:

[code]

After bisecting the problem, I found the https://github.com/grpc/grpc/commit/6177befe94cd98906daea492f04ed9248be6b4bb is the first bad commit.

[2019-03-06 00:15] AspirinSJL commented on #18249
Also seen in Basic Tests Multi-language Linux

[2019-03-06 00:18] AspirinSJL commented on #18249
Raising to P1 because this is happening on 5 test builds.

[2019-03-06 00:21] AspirinSJL commented on #18249
Duplicate of https://github.com/grpc/grpc/issues/18245

[2019-03-06 00:21] #18249 closed

[2019-03-06 00:35] yashykt commented on #17856
bazel local runs with --runs_per_test=1000 do not fail

[2019-03-06 00:36] yashykt commented on #17856
with more digging in on runs with foundry, turns out that we are seeing a hangup on the listening socket at the proxy, which means that the proxy is no longer listening for new connections

[2019-03-06 01:31] mehrdada commented on #18244
@srini100 Thanks for the help. That PR is still in progress and @lidizheng is helping with the Windows test failures. We changed our test timestamp to not run into this issue, so we are no longer blocked by this. If there are no other symptoms outside Python that you have seen, this should be python-specific and a low priority one at that and I don't think warrants a point release. We've upgraded

[2019-03-06 01:32] #18245 closed

[2019-03-06 01:44] soheilhy commented on #18245
Thank you for the fix!

[2019-03-06 02:25] peter-edge commented on #18260
That's just for Python, Ruby, and Node, and uses language-specific install mechanisms. There's a bunch more from this repo as well:

[code]

[2019-03-06 02:29] Azure7sky opened #18271 "Cmake installation doesn't generate .so files (dynamic libraries)"
### What version of gRPC and what language are you using?
git Version: v1.12.1,  C++

### What operating system (Linux, Windows,...) and version?
 ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 5.4.0

### What did you do?
git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc
cd grpc
git submodule update --init --r

[2019-03-06 03:10] yashykt commented on #17856
This is indeed a kind of a race specific to the poll-cv engine. This is happening because we are reusing an fd, specifically 3, for the proxy server.
The case that I am seeing is - we get a hangup on an fd and close the fd. We then open a new fd which gets the same fd number. poll-cv internally uses polling threads to poll over fds, and the result from the previous fd is being reused for the new f

[2019-03-06 06:26] yashykt commented on #17680
The issue is described and fixed in the pending PR #18272

[2019-03-06 06:50] dpsenner commented on #15757
Great news that this issue was fixed, thanks!

[2019-03-06 07:47] jtattermusch commented on #18256
I am experiencing the same issue.

[2019-03-06 07:53] jtattermusch commented on #18256
FYI @billfeng327

[2019-03-06 08:05] jtattermusch commented on #18205
Is that accurate? I was running on windows, both apps on the same machine and the memory usage was ok. I guess I'll try again.

[2019-03-06 08:08] jtattermusch commented on #18256
A quick and dirty workaround to get C++ build working locally is to comment out this line https://github.com/grpc/grpc/blob/4982d915ccebd17492402b09e91435412ff9df29/WORKSPACE#L62

[2019-03-06 09:02] jtattermusch commented on #17761
After not being able to sufficiently fix in the C# layer, I filed #18234 to investigate how this should be fixed in C core.

[2019-03-06 10:09] jtattermusch opened #18274 "php7 build broken in performance benchmarks"
100% builds on master are failing:
https://source.cloud.google.com/results/invocations/f4f0d5c9-b983-44a1-bbda-89d5394a65ed/log

First failure is from Feb 28: https://source.cloud.google.com/results/invocations/8a5446f5-2703-48a5-bf41-e4d39d20fa8e/log

[code]

[2019-03-06 10:31] zejji commented on #18260
A definite +1 from me. For the life of me I can't get the grpc_php_plugin to build and it's not realistic to expect users to debug the mammoth makefile when encountering environment-specific errors.

[2019-03-06 10:32] jtattermusch commented on #18233
https://github.com/grpc/grpc/blob/56006f0c532fd98a2b327852c763778279616e01/doc/keepalive.md

all these options can be used from C# via ChannelOptions.

[2019-03-06 11:17] jtattermusch commented on #17855
Btw this is easily reproduced with `bazel --bazelrc=tools/remote_build/manual.bazelrc test --config=msan //test/cpp/qps:qps_json_driver_test_cpp_protobuf_sync_streaming_qps_unconstrained_1mps_insecure --runs_per_test=500`

[2019-03-06 15:12] johanbrandhorst commented on #18260
Definitely would make it easier to get started working with polyglot gRPC environments if you could get all the generators + protoc from the release page.

[2019-03-06 16:04] nicolasnoble commented on #18260
I was giving you a few examples. All of them except for the C++ one should be available in their individual package corresponding to each language.

[2019-03-06 16:09] peter-edge commented on #18260
The above doesn't cover:

- objective_c (which is special-cased and already being released partially with GitHub Releases)
- php
- csharp
- cpp

The above also requires usage of individual installation methods. Our goal here is to have this available, similar to `protoc`, from GitHub Releases. Is there a reason not to do this?

Some examples of what people are doing now to get around this:

- http

[2019-03-06 16:26] nicolasnoble commented on #18260
The reason is it's difficult to set up build pipelines. Doing a grpc release involves a lot of moving pieces due to the amount of languages and platforms. Adding a new vector of things to do isn't something that I am keen of burdening our team with, especially if this is a duplicate of what already exists in another form.

I am fairly certain there is a c# nugget package for grpc-tools, as well as

[2019-03-06 16:47] peter-edge commented on #18260
I can understand not wanting to burden the team, for sure. I might be missing something, but this doesn't seem like a huge task though.

You're already distributing one binary with GitHub Releases, the objective_c binary for Darwin https://github.com/grpc/grpc/releases/tag/v1.19.0 so this means there is already a pipeline to add binaries to GitHub Releases in some form. This just needs to be expan

[2019-03-06 16:53] jshlbrd commented on #16001
I'd like to share this as a proposed workaround for this problem and seek feedback on this technique. Here's a proof-of-concept for how I've got this working (warning, some pseudo-code is present here):

[code]

Here's how _I _think__ this is working: when you set both the ProcessPool and ThreadPoolExecutor to the same count, it locks the gRPC servicer into only feeding requests to the number chil

[2019-03-06 17:03] nicolasnoble commented on #18260
As I said, there should be one for php. C++ is the only exception because working with grpc in C++ requires compiling from source anyway. If there are missing packages beside C++, this should be the bug to report.

Yes, there is existing pipeline for each package system, each in their own individual paradigm. Some may use docker. Some will require a certain version of the building tools incompatib

[2019-03-06 17:17] peter-edge commented on #18260
This means I have to install pip, gem, npm, and any other language tools just to get the binaries for gRPC. This is way more complicated than the typical `curl` that I can do for other binaries, including `protoc`.

Lots of people are generating stubs in locations other than where the stubs are actually being used. This is a pretty common use case, including for integration testing. I think there'

[2019-03-06 18:01] nicolasnoble commented on #18260
So you're saying you DO understand the complexity of the task you're asking us to accomplish.

[2019-03-06 18:03] peter-edge commented on #18260
I mentioned I can understand not wanting to burden a team with unnecessary and difficult work, I am not sure this is unnecessary and I guess I don't understand the complexity here.

If this won't be fixed, we can close this issue, it was just a suggestion. I do think many in the community want this, however, and it's not the best that we have to work around this not being done.

[2019-03-06 18:20] nicolasnoble commented on #18260
The request is still a valid one, despite its difficulty, which is why I didn't close it with a "won't fix".

[2019-03-06 18:40] gnossen commented on #16001
@jshlbrd That's exactly right. To be precise, your maximum concurrency is `min(thread_count, process_count)`. If the bottleneck is your thread count, then requests will queue [here](https://github.com/grpc/grpc/blob/2bd7ad0112f56d2bdbc37d01a431c1e375039f2e/src/python/grpcio/grpc/_server.py#L581). If the bottleneck is your process count, then the queueing will happen at your call to `self.pool.sche

[2019-03-06 18:47] jshlbrd commented on #16001
Woohoo, thanks for the feedback!

You're correct with regard to possibly not needing subprocesses. In my case, the tasks being performed by the gRPC server are CPU-intensive and can range in time from sub-second to several minutes -- that's why I need to use subprocesses that can be timed out.

[2019-03-06 20:15] yashykt commented on #18227
it looks like you want to close the RPC from the server side. TryCancel() on the ServerContext might be what you are looking for.

[2019-03-06 20:15] #18227 closed

[2019-03-06 20:19] adelez commented on #17856
Awesome! Thank you for digging into this!

[2019-03-06 20:43] jiangtaoli2016 commented on #18257
gRPC code does **not** manage certificates. It is up to caller to monitor the life-cycle of certificate (and restart gRPC binary if needed when certificate expires).
gRPC security API does provide credential reloading capability
https://github.com/grpc/grpc/blob/master/include/grpc/grpc_security.h#L406
With credential reloading, it is possible to reload a new certificate without re-starting your b

[2019-03-06 20:50] markdroth opened #18281 "health_service_end2end_test flake"
https://source.cloud.google.com/results/invocations/fe49238e-f031-4792-b754-c22c3738650c/targets/github%2Fgrpc%2Fcpp_macos_dbg_native/tests

[code]

[2019-03-06 21:04] dapengzhang0 commented on #18217
Re-assign to rmstar@ as this is a C/CMake specific issue.

[2019-03-06 21:08] stanley-cheung commented on #18264
Collecting a bunch of data first:

1. From `master`, `./tools/interop_matrix/run_interop_matrix_tests.py -l php --release v1.19.0` FAILED

2. From `master`, `./tools/interop_matrix/run_interop_matrix_tests.py -l php --release v1.18.0` PASSED

3. From `v1.19.x`, `./tools/run_tests/run_interop_tests.py -l php -s c++ --use_docker -t -j 8` PASSED

4. From `v1.19.x`, `./tools/run_tests/run_interop_test

[2019-03-06 21:13] markdroth opened #18282 "grpc_ios_binary_size flake"
https://source.cloud.google.com/results/invocations/0075e296-23ab-4b8c-a490-d0e5a647a2da/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[code]

[2019-03-06 21:47] rmstar commented on #18217
This looks similar to #13841 and #12384. I believe the workaround suggested by @jtattermusch  is to set gRPC_*_PROVIDER to "package". See https://github.com/grpc/grpc/issues/13841#issuecomment-355510534 for more details.

[2019-03-06 22:21] rmstar commented on #18282
Looks like the retries added in #18031 don't help in this case as the error is not transient. CC @lidizheng

[2019-03-07 01:06] clehene commented on #16480
Dealing with gRPC errors in C# is extremely confusing. This is a well documented example.

[2019-03-07 01:52] smaye81 commented on #18257
What is the difference between that file and `https://github.com/grpc/grpc/blob/master/include/grpcpp/security/credentials.h`?  We are using the `CreateCustomChannel` from the latter to establish our channel.  How would I create a custom channel using your typedef above?  Is it documented anywhere?

[2019-03-07 04:27] JamesNK opened #18287 "Stepping into code for Grpc.* packages when debugging doesn't work"
### What version of gRPC and what language are you using?
C#

Grpc.* is using `SourceLink.Create.CommandLine` for Source Link. That is an old package that has been replaced with `Microsoft.SourceLink.*` packages.

More info: https://github.com/ctaggart/SourceLink

This is the modern package: https://www.nuget.org/packages/Microsoft.SourceLink.GitHub

[2019-03-07 04:34] clehene opened #18288 "C# with TLS exceptions broken `Status(StatusCode=Unknown, Detail="")`"
### What version of gRPC and what language are you using?
1.19 and 1.18  C#

### What operating system (Linux, Windows,...) and version?

OSX / Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

.net core 2.2

### What did you do?

When making the request from a java client to the TLS endpoint I get the full exception detail
When making the request from C# to

[2019-03-07 06:53] jtattermusch commented on #18287
We're using https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/SourceLink.csproj.include which looks like stepping into the code when debugging should work. Is that not the case for you?
If stepping into the code is broken, we should fix asap. If it works, this item is not a high priority.

[2019-03-07 07:27] JamesNK commented on #18287
I tested and Source Link does work with the Grpc.* packages.

I tested Grpc.Core.Api and Newtonsoft.Json in the same application. They both have PDBs in the primary NuGet package.

Stepping into Grpc.Core.Api results in this:

![image](https://user-images.githubusercontent.com/303201/53939204-45a4eb00-4117-11e9-91e7-9531fe5235c3.png)

Stepping into Newtonsoft.Json fetches the file and loads it fro

[2019-03-07 08:53] jtattermusch commented on #18238
@lidizheng  Why is this P1 and why is it assigned to me?

[2019-03-07 09:56] ShirinNajdi opened #18290 "gRPC Name Resolution Failure/Failed to create subchannel"
### What version of gRPC and what language are you using?
 1.19
 ### What operating system (Linux, Windows,...) and version?
 macOS High Siera 10.13.6
### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python3.6
Anaconda3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
While tryi

[2019-03-07 10:09] axot opened #18291 "[PHP]heavily access to roots.pem"
I found there are heavily io access to `etc/roots.pem`, this will cause high sys usage especially when using overlay file system.

[code]

[2019-03-07 10:16] axot commented on #18291
And also /project/vendor/grpc/grpc/composer.json. Is it nessary?

[2019-03-07 10:38] jtattermusch opened #18292 "Python gevent tests are flaky on Windows (with high flakiness rate)"
This is responsible for vast majority of the failures of windows_opt job.
https://fusion.corp.google.com/projectanalysis/current/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_basictests_opt

The flakiness rate is pretty high (> 20%)

A rew recent occurrences:
https://source.cloud.google.com/results/invocations/3f22e6c6-c5d9-4420-b414-9a7bd9cfc1d6/targets/github%2Fgrpc%2Fpython_windows_opt_ge

[2019-03-07 12:23] akshayku opened #18293 "gRPC and openssl ENGINE support"
### What version of gRPC and what language are you using?
 Latest. 1.19.0.
Languages: C++, C#, Java, Go

### What operating system (Linux, Windows,...) and version?
 Linux, Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
gRPC don't support ENGINES as exposed by openssl. Specifically, `ssl_ctx_use_private_key` in gRPC function do

[2019-03-07 13:25] fenos commented on #17670
I Believe that using a slack channel as the default real-time chat and communications makes a big difference.

- 1. 90% of companies/developers use slack and they have it already installed in their PC / MAC
- 2. Cross Platform
- 3. Organising topics with channels really makes a difference
- 4. Search history it's amazing

I could go further and list all the great functionalities of slack, but we a

[2019-03-07 14:37] jtattermusch commented on #18293
CC @ejona86  @markdroth  @jiangtaoli2016  @dfawley @hsaliak  @a11r

[2019-03-07 16:32] markdroth commented on #17864
It looks like `std::map<>` does incur a link-time dependency on the C++ standard library, so this won't work.  See #18052 for details.

[2019-03-07 16:32] #17864 closed

[2019-03-07 18:32] sanjaypujare commented on #18290
@ShirinNajdi why is your `--server`  like this `172.17.0.2/16:9000` ? It needs to be a valid single IP address (and port), no?

[2019-03-07 18:48] tylersouthard opened #18294 "Add armv7 support for Xamarin.iOS to libgrpc_csharp_ext.a"
### What version of gRPC and what language are you using?
 1.19.0, C# (Xamarin.iOS)

### What operating system (Linux, Windows,...) and version?
 macOS 10.14.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Xamarin.iOS toolchain (msbuild)

### What did you do?
Attempt to build a Xamarin.iOS project referencing the Grpc.Core nuget for armv7 + arm64.

### What di

[2019-03-07 21:05] srini100 commented on #18080
There is some delay in rolling this patch out. Python bazel on macos seems to have similar issue. See https://github.com/grpc/grpc/issues/18267. Would like to get that resolved too.

[2019-03-07 21:07] srini100 commented on #18267
Marked this as blocker for 1.19.1 patch.
@lidizheng, does the fix in https://github.com/grpc/grpc/pull/18201 apply here?

[2019-03-07 21:34] lidizheng commented on #18267
@srini100 The latest fix didn't fix the Python Bazel build. But I'm trying to apply similar change, and see  if I can put the symbol back.

[2019-03-07 21:41] apolcyn commented on #18080
Note the error in #18267 is `Symbol not found: __Z31grpc_set_default_iomgr_platformv`

That might be a similar issue to the one fixed by #18201, but it's definitely unrelated to c-ares

[2019-03-07 23:06] lidizheng commented on #18267
Thanks to @gnossen for pointing out the way of validating included code trunks, which makes the debugging much more easier.

[2019-03-07 23:07] #18282 closed

[2019-03-07 23:10] shanshanzhu commented on #10782
Our Go service send the header in trailer as well, I found that the header is emitted from the status event.

[code]

[2019-03-07 23:10] callalilychen opened #18299 "Compiler error with g++ 8.2.1: bitwise comparison always evaluates to false [-Werror=tautological-compare] and more"
### What version of gRPC and what language are you using?
 v1.19.0

### What operating system (Linux, Windows,...) and version?
 Arch linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 c++ (GCC) 8.2.1 20181127

### What did you do?
build mit `make`

### What did you expect to see?
 it compiles

### What did you see instead?
the following compiling error:
[cod

[2019-03-08 00:21] #18267 closed

[2019-03-08 01:14] axot commented on #18291
One idea is load these resource into opcache, any idea?

[2019-03-08 02:38] jiangtaoli2016 commented on #18257
@smaye81 We only plumb through this API for python [dynamic_ssl_server_credentials](https://grpc.io/grpc/python/grpc.html).
By the way, this certificate reloading feature is only available on server side.

[2019-03-08 02:40] jiangtaoli2016 commented on #18257
assign back to @srini100 for possible plumb this credential reloading API to c++.

By the way, we have gRPC [SPIFFE credential](https://github.com/grpc/grpc/pull/16614) @yihuazhang  is implementation. It has full credential reloading capability on both client and server side. Again, the work is still at c core level. It will take time to plumb into wrapped languages (C++, python, etc.)

[2019-03-08 04:10] jdwestbro commented on #18256
I have a patch in the works that migrates the Bazel build to use https://github.com/stackb/rules_proto

[2019-03-08 06:09] jtattermusch commented on #14332
Fixed by #18298.

[2019-03-08 06:09] jtattermusch commented on #17856
poll-cv was removed in #18298.

[2019-03-08 06:09] #17856 closed

[2019-03-08 06:09] jtattermusch commented on #17801
poll-cv was removed in #18298.

[2019-03-08 06:09] #17801 closed

[2019-03-08 06:10] jtattermusch commented on #17336
poll-cv was removed in #18298.

[2019-03-08 06:10] #17336 closed

[2019-03-08 06:11] jtattermusch commented on #17208
poll-cv was removed in #18298 and this looks like the problem recently identified by @yashykt as poll-cv specific.

[2019-03-08 06:11] #17208 closed

[2019-03-08 06:12] Azure7sky commented on #18271
when I change the cmake command to be "cmake -DCMAKE_BUILD_TYPE=Release .", it will generate .so  files, however this time the find_package( gRPC REQUIRED ) failed because gRPCConfig.cmake is not generated. So how to succeed find_package( gRPC REQUIRED ) and generate .so files at the same time?

[2019-03-08 06:25] jtattermusch commented on #16947
This was originally filed for poll-cv (which was removed in ), but there seem to be failures regardless of the poller being used . The flake is relatively rare though.

[code]

https://source.cloud.google.com/results/invocations/c663ee89-56a6-444d-a8c8-dffe9598588e
https://source.cloud.google.com/results/invocations/9e18c656-ef27-49af-8914-775153c98468
https://source.cloud.google.com/results/invoc

[2019-03-08 06:28] jtattermusch commented on #17027
I searched the history of failures and this seems to have been only occurring on poll-cv (removed in poll-cv was removed in #18298). Closing.

[2019-03-08 06:28] #17027 closed

[2019-03-08 06:32] jtattermusch commented on #16431
I didn't find any occurrence of this in the historical data, so our only occurrence is under poll-cv, which was removed in #18298. I think it's safe to close.

[2019-03-08 06:32] #16431 closed

[2019-03-08 06:35] jtattermusch commented on #15489
Looks like this hasn't been seen for a while and I found no traces of it in historical data.

[2019-03-08 06:35] #15489 closed

[2019-03-08 06:38] jtattermusch commented on #17501
I didn't find any occurrences of this in >1month in the historical data. Besides that, poll-cv was removed in #18298.

[2019-03-08 06:38] #17501 closed

[2019-03-08 06:45] jtattermusch commented on #16369
@markdroth  it seems like your commit has introduced this.

A few relatively recent occurrences (under TSAN):
https://source.cloud.google.com/results/invocations/a223ca01-0259-4dc3-9a4a-4e907327a04b
https://source.cloud.google.com/results/invocations/299ed09e-fa8d-4c30-b941-a89f7b997726

[2019-03-08 06:49] jtattermusch commented on #15637
Last occurrence of this I found in from 3 months ago.
https://source.cloud.google.com/results/invocations/10a170d7-7fa0-4217-8f86-f8f11fa2f0ce

Seems safe to close

[2019-03-08 06:49] #15637 closed

[2019-03-08 06:56] jtattermusch commented on #17680
poll-cv was removed in #18298

[2019-03-08 06:56] #17680 closed

[2019-03-08 06:57] jtattermusch commented on #17399
poll-cv was removed in #18298 (the problem itself was diagnosed as poll-cv specific by @yashykt  in #18272)

[2019-03-08 06:57] #17399 closed

[2019-03-08 06:58] jtattermusch commented on #17371
poll-cv was removed in #18298 (the problem itself seems to be what was diagnosed as poll-cv specific by @yashykt in #18272)

[2019-03-08 06:58] #17371 closed

[2019-03-08 07:01] jtattermusch commented on #17347
poll-cv was removed in #18298 (the problem itself seems to be what was diagnosed as poll-cv specific by @yashykt in #18272)

[2019-03-08 07:01] jtattermusch commented on #16231
poll-cv was removed in #18298 (the problem itself seems to be what was diagnosed as poll-cv specific by @yashykt in #18272)

[2019-03-08 07:01] #16231 closed

[2019-03-08 07:02] #14332 closed

[2019-03-08 07:03] jtattermusch commented on #17920
poll-cv was removed in #18298 (the problem itself seems to be what was diagnosed as poll-cv specific by @yashykt in #18272)

[2019-03-08 07:03] #17920 closed

[2019-03-08 07:07] jtattermusch commented on #17584
Based on historical data, this seems to have been happening mostly on poll-cv and the problem seems like could be what was discovered by @yashykt in #18272.
poll-cv was removed in #18298.

[2019-03-08 07:07] #17584 closed

[2019-03-08 07:55] mehrdada commented on #18260
Binaries are built on master and put on https://packages.grpc.io every day, but not for specific builds. That should be good enough for many use-cases.

[2019-03-08 08:02] jtattermusch commented on #13650
According to historical data, we seen this in the past 3 months.

[2019-03-08 08:02] #13650 closed

[2019-03-08 08:10] peter-edge commented on #18260
People want the binary that matches the version of the library they are using. Master does not cover this.

That link also just provides the packages described above that we have explained why they are not adequate.

What we want is binaries for every release on GitHub Releases.

If this issue won’t be addressed, let’s close this.

[2019-03-08 08:43] ShirinNajdi commented on #18290
@sanjaypujare I got this address running the following code:

`docker network inspect bridge | grep IPv4Address`

and got the following result:

`"IPv4Address": "172.17.0.2/16"`

[2019-03-08 08:46] mehrdada commented on #18260
@peter-edge Fair point about `master`, but that can be addressed by adding releases to the pipeline. Should not be that much work.

I think you are mistaken about the latter point though: there are also a `protoc`+plugins zip/tar file that specifically contain the plugins (click on a Build ID and look at the first section). For example:
https://packages.grpc.io/archive/2019/03/b52bac7888731e14a470

[2019-03-08 08:57] peter-edge commented on #18260
Ah yes I am - sorry about that. I’m on my phone, do those tarballs contain
all the grpc_.*_plugin binaries produced by make plugins? If so, then yep,
adding releases to the pipeline solves the problem! It would be a big help.

On Fri, Mar 8, 2019 at 3:46 AM Mehrdad Afshari <notifications@github.com>
wrote:

[2019-03-08 09:02] mehrdada commented on #18260
@peter-edge Yes they contain `protoc` from the protobuf submodule in the repo at the commit point, plus all seven plugins that you can build with `make` for macOS, Linux, and Windows. The code underlying these rarely change so for quick testing where you don't have the tools this should be enough but I agree that the release pipeline should be changed to put releases on `packages.grpc.io` and then

[2019-03-08 09:41] axot commented on #18291
hello @stanley-cheung, could you give some advice please?

[2019-03-08 12:53] hesmar opened #18304 "Multiple custom root certificates not used"
### What version of gRPC and what language are you using?
C++, master

### What operating system (Linux, Windows,...) and version?
Linux (Ubuntu 16.04 and 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 5.4.0

### What did you do?
I want to connect to multiple servers using TLS. The certificates on these servers are self-signed by different keys. I cop

[2019-03-08 14:37] tylersouthard commented on #18294
Looks like the build_native_ext_for_ios.sh script would need to be updated to modify the min os version as well.

[2019-03-08 14:43] danp commented on #14043
Can this be closed with https://github.com/grpc/grpc/pull/17348 merged and released some time ago?

[2019-03-08 15:53] peter-edge commented on #18260
As described above, there are many use cases, one of which would be docker image building. I would never use master for plugin binaries and a stable release point for the library.

[2019-03-08 15:54] jtattermusch commented on #18294
What hardware are you targeting that you need armv7?   arm64 should be good enough for most iOS devices.

[2019-03-08 15:59] tylersouthard commented on #18294
A non-negligible segment of our user-base still uses 4th generation iPads (capped at iOS 10).

Unfortunately developing applications for use in schools or other environments where funding for devices is allocated inconsistently or rarely results in the need to support devices sometimes 6-8 years into their lifetime.

[2019-03-08 16:34] jtattermusch commented on #18274
Still failing:
https://source.cloud.google.com/results/invocations/a25c00f4-f5c8-4b72-96e9-fd773b70bbe0/log

[code]

[2019-03-08 17:02] sanjaypujare commented on #18290
"172.17.0.2/16" is not a valid IPv4 address. https://en.wikipedia.org/wiki/IPv4#Address_representations

[2019-03-08 17:16] markdroth opened #18305 "py27_native.test.fork._fork_interop_test.ForkInteropTest timeout"
https://source.cloud.google.com/results/invocations/edf61722-78a5-4c53-a14e-7b26e731b227/targets/github%2Fgrpc%2Fpython_linux_opt_native/log

[code]

[2019-03-08 18:31] JonasVautherin commented on #16856
After investigation, what I can see is that in CMakeLists.txt.template, [`<%def name="cc_library(lib)">`](https://github.com/grpc/grpc/blob/master/templates/CMakeLists.txt.template#L373) conditionally sets [`if (gRPC_BUILD_CODEGEN)`](https://github.com/grpc/grpc/blob/master/templates/CMakeLists.txt.template#L375) and [`endif (gRPC_BUILD_CODEGEN)`](https://github.com/grpc/grpc/blob/master/templates

[2019-03-08 18:47] adelez commented on #17347
Why do we keep this open?

[2019-03-08 19:17] vjpai commented on #18204
Hi there, I responded to this on https://groups.google.com/forum/#!topic/grpc-io/52PC2DJtCjM . It may be an interesting alternative approach but we're moving forward with a callback API as our official plan of record. We'll keep the community up to date when it's ready to land.

[2019-03-08 19:17] #18204 closed

[2019-03-08 19:22] yashykt commented on #17347
This might have been solved along with the other bugs. Since no one has referenced this again, it might be fine to close this

[2019-03-08 19:22] #17347 closed

[2019-03-08 19:54] mehrdada opened #18307 "Release pipeline should upload to packages.grpc.io"
Currently, only daily builds are published to packages.grpc.io. It'd be great to unify the release process such that we also archive official release points on that website, which will automatically resolve issues like https://github.com/grpc/grpc/issues/18260. In fact, it would simplify the life of the release manager if they could click a button and the release showed up there and then language

[2019-03-08 19:55] mehrdada commented on #18260
@peter-edge I created https://github.com/grpc/grpc/issues/18307 to serve as a direct action item that would resolve this issue as well. @nicolasnoble I think we can close this issue in favor of that one. (cc: @jtattermusch fyi)

[2019-03-08 19:57] peter-edge commented on #18260
Sgtm!

[2019-03-08 19:58] peter-edge commented on #18307
Just a note: once this is done, it would probably be helpful to update the installation instructions in the markdown file in this repository to point out that the binaries can be downloaded from here (along with an example using curl and tar). Right now the instructions just say to build from source. Thanks!

[2019-03-08 20:37] smaye81 commented on #18257
That would be good.  I need it on the client side.  Looking forward to this.  Let me know if I can help in any way to expedite the process.

[2019-03-08 20:52] smaye81 opened #18309 "Blocking writes during connectivity loss prevent resumption of stream"
### What version of gRPC and what language are you using?
 1.15.0 - C++

### What operating system (Linux, Windows,...) and version?
 Linux Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 clang 3.8

### What did you do?
We are using the grpc C++ client in an environment with spotty network connectivity.  What we have noticed is that stream writes th

[2019-03-08 20:53] vjpai opened #18310 "grpc_call_cancel should be processed at a different thread if callback API"
### What version of gRPC and what language are you using?

master, C++ callback API

### What operating system (Linux, Windows,...) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Call TryCancel while holding a lock that is also the same lock used by the callback for this call

### What did you expect to see?

TryCanc

[2019-03-08 23:09] srini100 commented on #18080
@devjgm, @remyabel, I have tagged the release [v1.19.1]( https://github.com/grpc/grpc/releases/tag/v1.19.1). Do you need any pkgs to be released or source is sufficient?

[2019-03-08 23:09] #18080 closed

[2019-03-08 23:20] markdroth commented on #16103
Duplicate of #16369.

[2019-03-08 23:20] #16103 closed

[2019-03-09 16:45] xolott opened #18316 "Server send INVALID_ARGUMENT, client receive CANCELLED"
### What version of gRPC and what language are you using?
 1.17.0

### What operating system (Linux, Windows,...) and version?
 Ubuntu 18.04.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .net core 2.2

### What did you do?
I'm trying to add custom data to the RpcException generated by my server. Like this:
[code]

### What did you expect to see?
 RcpExceptio

[2019-03-09 16:59] jdwestbro commented on #18256
The fix for this is here:

https://github.com/jdwestbro/grpc/commit/f1ab0cdd8161266511dce0965c2bcb701e178167

and on Debian Rodete:

$ env CC=/usr/bin/gcc bazel build ...
INFO: Analysed 6673 targets (0 packages loaded, 0 targets configured).
INFO: Found 6673 targets...
INFO: Elapsed time: 11.366s, Critical Path: 0.00s
INFO: 0 processes.
INFO: Build completed successfully, 1 total action

PR pendin

[2019-03-10 07:16] sandeepsipl opened #18320 "Attempting to JIT compile method '(wrapper native-to-managed) Grpc.Core.Internal.NativeMetadataCredentialsPlugin:NativeMetadataInterceptorHandler (intptr,intptr,intptr,intptr,intptr,int)' while running in aot-only mode"
### What version of gRPC and what language are you using?

I'm using Grpc Version 1.19.0

### What operating system (Linux, Windows,...) and version?

I'm building it on Mac OS 10.14.3 with Visual Studio 7.8.2 (Build 1)

### What runtime / compiler are you using (e.g. python version or version of gcc)

I'm using Xcode 10.1

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr -

[2019-03-10 09:06] TennyZhuang opened #18321 "Failed to run grpc python on multiprocessing"
### What version of gRPC and what language are you using?

[code]

### What operating system (Linux, Windows,...) and version?

macOS 10.14

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7.2

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

I run route_guide example

[2019-03-10 13:52] chenbaggio opened #18322 "please give a one client to two servers example with loadbalance"
### What version of gRPC and what language are you using?

 version : 1.18
### What operating system (Linux, Windows,...) and version?

 linux centos 7.2
### What runtime / compiler are you using (e.g. python version or version of gcc)

 gcc 4.8
### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you e

[2019-03-10 17:00] zoujiaqing opened #18323 "Add lable for DLang, thanks."
We push gRPC for DLang, but no lable for DLang.

#18231

[2019-03-10 18:34] Dimon4eg commented on #17714
@madhusameena take a look at https://github.com/heroiclabs/nakama-cpp/tree/master/cmake
`grpc` builds fine with those ios toolchains

[2019-03-10 19:27] nicolasnoble commented on #18323
This isn't code that belongs on this repository. Having a disjointed codebase like this would only be increasingly difficult to maintain over time.

[2019-03-10 19:27] #18323 closed

[2019-03-10 20:03] tylersouthard commented on #18320
See #18178, #17587, and #17051

[2019-03-11 06:35] jtattermusch commented on #18320
This is a duplicate of #18178.

[2019-03-11 06:35] #18320 closed

[2019-03-11 12:35] jtattermusch commented on #17704
@yulia-d  we might a a work-in-progress fix for this problem in #18060, but we still don't have a confirmation that those changes actually fix the problem you reported.

Would you be able to test those changes?

[2019-03-11 13:15] yulia-d commented on #17704
@jtattermusch I hope I would. How do I do that?

[2019-03-11 14:02] oodessit opened #18325 "C++ server delivers data only after disconnect"
### What version of gRPC and what language are you using?
C++ lang, gRPC version: 1.10.0

### What operating system (Linux, Windows,...) and version?
 Linux techbase 4.4.45-v7+ #19 SMP armv7l GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
arm-rpi-4.9.3-linux-gnueabihf

### What did you do?
I had sync based C++ server which was working fine but it had t

[2019-03-11 15:28] jtattermusch commented on #18316
I tried to reproduce based on your instructions (throw an RpcException from the server-side handler and check that I get StatusCode.InvalidArgument on the client side) and everything worked as expected.

I'm going to close this issue as "not reproducible". If you can provide more data on how to reproduce, I can reopen.

[2019-03-11 15:28] #18316 closed

[2019-03-11 16:28] yang-g opened #18326 "Enable -Wdefaulted-function-deleted for some builds"
Chromium fuzzing found a build issue with opencensus through building our code by that warning. We might want to enable it too, once opencensus is fixed.
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=13488&q=&sort=-id&colspec=ID%20Type%20Component%20Status%20Proj%20Reported%20Owner%20Summary

https://github.com/census-instrumentation/opencensus-cpp/issues/295

[2019-03-11 16:34] dfawley commented on #18293
@akshayku for Go, there is no "official" OpenSSL library, so we most likely will not provide first-party support for it.  However, I did find a wrapper [here](https://github.com/spacemonkeygo/openssl) that could be used.

In gRPC-Go, support in our library for OpenSSL (or any other transport security) is not required for you to be able to use it. Transport security is very flexible - you would nee

[2019-03-11 18:01] AspirinSJL commented on #18234
After looking at the the existing `End2endTest.ClientCancelsResponseStream` and modifying it to show the expected behavior, I feel that a successful read in this case doesn't necessarily mean that we should always return an OK status. It just happens in the example of this issue that the server returns OK quickly. But it's reasonable to return a CANCELLED after a read generally.

If the read fails

[2019-03-11 18:59] yang-g commented on #18326
It looks like a new flag in clang-9 and defaults to be on.
https://clang.llvm.org/docs/DiagnosticsReference.html#wdefaulted-function-deleted
https://bcain-llvm.readthedocs.io/projects/clang/en/latest/DiagnosticsReference/

[2019-03-11 21:19] xolott commented on #18316
I managed to find where the issue is originated. I'm trying to return the internal Stack Trace of my custom exception via Metadata.

I implemented the Greeter Example using Grpc.Core, and modified the `SayHello` method

[code]
This exception generate the following stack trace (722 chars length):

[code]

And receive a `Cancelled` status on the client side. If I set to 0 the parameter passed to `Re

[2019-03-11 22:19] vjpai opened #18331 "External dependence for py_proto_dependencies will never be upstreamed"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows,...) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

bazel

### What did you do?

Tried to upgrade googletest build dependence

### What did you expect to see?

Should have been able to upgrade without problem

### What did you see

[2019-03-12 02:26] mehrdada commented on #18331
I was looking at similar rules to generate protos for Python the other day, https://github.com/stackb/rules_proto seems like a robust source.

[2019-03-12 05:59] nicolasnoble commented on #18331
Instead, could we reduce external dependencies and build our own? Or have them in protobuf?

[2019-03-12 06:32] jtattermusch commented on #18316
Can you run with GRPC_VERBBOSITY=debug as described in https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md? Perhaps that will tell us more.

[2019-03-12 08:09] vjpai opened #18332 "Add support for a cancellation callback for server-side unary RPCs"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows,...) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

 N/A

### What did you do?

Wrote a unary method handler with a lot of work initiated from the callback but then got a cancellation

### What did you expect to see?

The option to

[2019-03-12 12:33] sab24 commented on #15833
Yes, increasing the limit of open files solves that issue :)

[2019-03-12 12:33] #15833 closed

[2019-03-12 13:30] vankofalcon commented on #9316
I'll definitely love to see Rust in the supported languages!

[2019-03-12 14:28] sab24 opened #18334 "MacOS make test: segmentation fault at resolve_address_using_ares_resolver_posix_test"
### What version of gRPC and what language are you using?
 1.19.1

### What operating system (Linux, Windows,...) and version?
 MacOs 10.14.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
 clang version is
Apple LLVM version 10.0.0 (clang-1000.11.45.5)
Target: x86_64-apple-darwin18.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer

[2019-03-12 14:44] xolott commented on #18316
This is the server running as requested

[code]

An the client:
[code]

[2019-03-12 15:06] jtattermusch commented on #18316
The message is pretty clear. You're trying to use illegal characters as metadata values.
The spec https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md   only allows `ASCII-Value → 1*( %x20-%x7E ) ; space and printable ASCII` (you probably have newline characters in your msg.

To overcome this limitation, you can use binary-valued metadata.
A common best practice is to send exception deta

[2019-03-12 15:47] muxi opened #18335 "Invoking grpc_ssl_credential_create with nonnull pem_root_certs causes large memory consumption"
When using `grpc_ssl_credential_create` function, if `pem_root_certs` parameter is provided, huge memory consumption was reported during a call (~10MB extra memory space was consumed for a ~272KB string provided).

[2019-03-12 15:59] muxi commented on #18335
According to offline discussions related to #18336, when `pem_root_certs` is provided, the certificates are not cached in core. Likely certificate cache related.

[2019-03-12 16:44] nicolasnoble commented on #18057
Downgrading the priority on this one since there's quite nothing we can do on our side but waiting on Microsoft for a fix in their kernel.

[2019-03-12 16:54] nicolasnoble commented on #18250
We don't support anything but Basic authentication scheme at the moment.

[2019-03-12 16:57] nicolasnoble commented on #18325
Please provide a complete reproduction case that exhibits the issue.

[2019-03-12 16:59] nicolasnoble commented on #18325
Also, how did you obtain your code? That should help you figure out the version number. You can also use the `grpc::Version()` call to get a string with the compiled version.

[2019-03-12 16:59] murgatroid99 commented on #10646
The newest version of the `grpc-tools` package now has this change.

[2019-03-12 16:59] #10646 closed

[2019-03-12 17:04] Garu94 opened #18337 "Build grpc++ successfull but unable to include port_def.inc"
Hi,
I was able to compile, after some troubles, the grpc whole project (includeing the grpc++ one), and to generate the files from the .proto file. The only part that I am missing is to build the example code, because of some external symbols that can't be found, in particular "port_def.inc". I already included the additional directories third_party\protobuf\src and grpc\include

[2019-03-12 17:06] jmeinke commented on #18250
Okay, I hope it can be implemented in the future. Also see this related post: https://stackoverflow.com/questions/52441316/firestore-grpc-behind-a-corporate-firewall-proxy

[2019-03-12 17:06] jiangtaoli2016 commented on #18335
This issue is somewhat misleading. Let me explain how root certificate works in gRPC.

If `grpc_ssl_credential_create` has `pem_root_certs = nullptr` as input, the default root certificates will be used. gRPC not only cache the root certificate string, but also cached the root certificate in `X509_STORE` if using BoringSSL or OpenSSL 1.1+.

If user decides to pass his or her own `pem_root_certs`,

[2019-03-12 17:10] jiangtaoli2016 commented on #18335
I would says it is intended behavior for now. One possible way to improve is if user provides his/her own pem_root_certs, gRPC tries to create one copy of X509_STORE and share between all sub-channels. It is quite hard to do based on the current security API in gRPC.

[2019-03-12 17:13] muxi commented on #18335
Ah that makes much more sense! Thanks for explaining it. In that case I agree it's intended behavior.

[2019-03-12 17:36] gnossen commented on #18321
It maybe isn't documented quite well enough in [this doc](https://github.com/grpc/grpc/blob/master/doc/fork_support.md#111), but [the PR that implemented client-side fork support](https://github.com/grpc/grpc/pull/16264) is quite clear on the matter:

The code you've linked never closes the channel it opens in the parent process, so the child processes are susceptible to deadlocks and hangs. I was

[2019-03-12 18:03] slolife opened #18338 "Grpc.Tools: Cannot run protoc in alpine based dotnet SDK"
### What version of gRPC and what language are you using?
Nuget package Grpc.Tools 1.19.0 (https://www.nuget.org/packages/Grpc.Tools/)

### What operating system (Linux, Windows,...) and version?
Alpine Linux docker image with dotnet 2.2 sdk

https://hub.docker.com/_/microsoft-dotnet-core-sdk/
 microsoft/dotnet:2.2-sdk-alpine

### What runtime / compiler are you using (e.g. python version or versi

[2019-03-12 18:52] mehrdada commented on #18331
@nicolasnoble I agree. There should be official grpc bazel rules (perhaps in the main repo, why not?)

Also, scratch my previous comment. That set of rules have issues too :(

[2019-03-12 19:12] slolife commented on #18338
I tried running `apk add libc6-compat` and re-running the build. This time I got the following error:

`/root/.nuget/packages/grpc.tools/1.19.0/build/_protobuf/Google.Protobuf.Tools.targets(263,5): error MSB6006
: "/root/.nuget/packages/grpc.tools/1.19.0/tools/linux_x64/protoc" exited with code 139. [/src/alpine-proto
c.csproj]`

[2019-03-12 19:17] jshlbrd opened #18342 "Segmentation fault in main thread using gRPC client from inside Pebble forked gRPC server"
### What version of gRPC and what language are you using?
version: 1.19.0
language: Python (3.6)

### What operating system (Linux, Windows,...) and version?
Linux, Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6.7

### What did you do?
Attempted to launch a gRPC client request from inside a forked gRPC server. Here is the exact setup:

1.

[2019-03-12 19:48] nicolasnoble commented on #18338
There's quite no way we can support Alpine linux for this package.

[2019-03-12 19:52] jshlbrd commented on #18342
I just discovered that this may not happen with the built-in multiprocessing.Pool (which Pebble is a wrapper for) -- Pebble's pool does some polling of the processes inside the pool, perhaps this is clashing with polling that happens with gRPC.

[2019-03-12 20:09] nicolasnoble commented on #18337
This may mean you have protobuf installed on your system at an older version, and your compiler is preferring to use it instead of the one in third_party\protobuf.

[2019-03-12 22:14] vjpai opened #18347 "C++ generic API fails to write ByteBuffer with no slices"
### What version of gRPC and what language are you using?

master, C++

### What operating system (Linux, Windows,...) and version?

N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)

N/A

### What did you do?

Got this report from a user

https://github.com/grpc/grpc/blob/c062f7a98685650eb386373beba33e27597b89b0/test/cpp/end2end/generic_end2end_test.cc#L260-L3

[2019-03-12 22:26] Garu94 commented on #18337
How could I discover if I have indeed an older version installed?

[2019-03-12 22:53] nicolasnoble commented on #18337
Well, try to locate the file `descriptor.pb.h` anywhere on your computer.

[2019-03-12 23:55] gnossen commented on #18342
After a bit of digging, it looks like a `pebble.ProcessPool` creates its workers lazily. That is, your worker processes are being `fork`ed on `pool.schedule(test)`, *not* when the pool is instantiated.

[code]

[2019-03-13 00:04] gnossen commented on #18342
This [multiprocessing example](https://github.com/grpc/grpc/tree/master/examples/python/multiprocessing) hot off the presses might be relevant to your interests.

[2019-03-13 00:06] gnossen commented on #16001
Hopefully, [this example](https://github.com/grpc/grpc/tree/b8241addc380e63b28be850c3da2fb04dc75212b/examples/python/multiprocessing) will server as a good reference for anyone who runs across this in the future.

[2019-03-13 00:21] jshlbrd commented on #18342
Thanks for looking into this, I’ll take a look at that example — at one point I had tried reuseport but it was causing erratic behavior in my application (unfortunately nothing more to share on that topic, I didn’t take notes on the behavior and quickly moved on from it).

For now, it seems like a Pebble Pool will not work but a multiprocessing Pool will.

[2019-03-13 00:33] siddhuthota opened #18348 "C++: : Unable to create new client stream if server restarted"
### What version of gRPC and what language are you using?
 v1.18

### What operating system (Linux, Windows,...) and version?
 Linux (Ubuntu)

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc v5.5.0

### What did you do?
I am using streaming RPC where client will stream the messages it has and server listens to the messages. When streaming is in progress from c

[2019-03-13 01:24] jshlbrd commented on #16001
That’s a good example of utilizing multiple cores when your server isn’t running CPU-intensive tasks, but I think it still may not address the need to natively support process pools and thread pools.

For example, when using that example as a template for CPU-intensive tasks, you could reduce the number of threads inside each gRPC servicer to one, but because each sub process is running a differen

[2019-03-13 03:20] jshlbrd commented on #18342
@gnossen on second thought, any chance you have any insight into what happens in a multiprocessing Pool when processes die/start? I'm assuming that falls into the same category as Pebble (fork would happen after the gRPC server starts).

[2019-03-13 04:58] b00f opened #18349 "No warnings as errors (-Werror flag)"
### What version of gRPC and what language are you using?
 I tried grpc 1.18 and 1.19.1 inside Travis deployment

### What operating system (Linux, Windows,...) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if help

[2019-03-13 05:23] vjpai commented on #17454
Fixed by #18239

[2019-03-13 05:23] #17454 closed

[2019-03-13 05:28] vjpai commented on #7352
Status update: we'll start the process of making the callback API non-experimental once #16504 and #16505 are resolved

[2019-03-13 08:18] Garu94 commented on #18337
Ok, thanks to you I was able to avoid the previous error, but I got a new one. This time, the missing inclusion is about all the < grpcc/impl/codegen/...> stuff.

[2019-03-13 08:26] bclermont commented on #18349
this is not really helpful, you should give more context such as output of errors

[2019-03-13 08:28] mxl123 opened #18350 "1.19.0 iOS version support"
### What version of gRPC and what language are you using?
1.19.0

### What operating system (Linux, Windows,...) and version?
 Xcode10, MacOS 10.14.2, iOS 9.x or iOS 10.x

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode

### What did you do?
Run with gRPC 1.19.0

### What did you expect to see?
No crash

### What did you see instead?
Crash every time

### An

[2019-03-13 08:33] mxl123 commented on #18350
I can’t find anywhere in the readme or in any of the introductory blog posts any mention of what iOS version are supported. Is there any information about what version supported for gRPC version?

[2019-03-13 08:36] b00f commented on #18349
My point is not fixing these kind of errors which are result of warnings in different OSs in different machines (or maybe dockers). I mean give this option to the user to build grpc without `-Werror` flag. After searching a lot I fixed this issue by running this command, before make:
`sed -i 's/-Werror/ /g' Makefile`

[2019-03-13 09:25] oodessit commented on #18325
Hi Nicolas! Thank you for response!

So gRPC version is 1.10.0.

Here is very simplified version of my code :

[code]

From client request I get correct data and based on this data I start to send 1 message into the stream every 2 seconds. Next() always returns `got_tag == write` and `ok == true`. I can't see any of this data on client's side untill I press `ctrl + c` on server side. Right after t

[2019-03-13 11:16] jtattermusch commented on #18203
I haven't heard back from the reported so I'm going to close as "not reproducible"

[2019-03-13 11:16] #18203 closed

[2019-03-13 12:10] maxwelltsai1536 commented on #18203
Sorry~ reply too late ,my project is web project,so i am surprised, too. any else information do i need provide?

[2019-03-13 12:14] jtattermusch commented on #18203
see my comment https://github.com/grpc/grpc/issues/18203#issuecomment-469317023 .  Any reason why UnityEngine.Application is available in your project?

[2019-03-13 15:47] jshlbrd commented on #18342
To possibly close the thread on this, all Python subprocess pools that I've tested (multiprocessing.Pool, pebble.ProcessPool, billiard.Pool) exhibit the segmentation fault behavior when `maxtasksperchild` (or a similar setting) is enabled. I suspect that the same thing would apply to any crashed subprocesses that are recreated. IMO this rules out any support of process pools for Python gRPC.

[2019-03-13 15:51] nicolasnoble commented on #18349
We are slowly moving towards recommending using the cmake solution to build grpc. At the moment, the Makefile is designed for our test infrastructure mainly, and for lesser capable build systems, such as Ruby or PHP.

[2019-03-13 15:51] nicolasnoble commented on #18349
Our using Bazel, in fact.

[2019-03-13 16:00] Garu94 commented on #18337
No, unfortunately I was unable to use the CMake to generate it due to this error, and I was unable to figure out what to do to solve this:

`CMake Error at CMakeLists.txt:73 (find_package):
  find_package Error reading CMake code from
  "C:/extlibs/grpc/cmake/gRPCConfig.cmake".`

When I make the CMake. after setting gRPC_DIR to the directory containing gRPCConfig.cmake

[2019-03-13 16:08] jshlbrd commented on #16001
Based on more testing, I'm now convinced that pre-forking via subprocess pools isn't a viable method for handling this (too many failure scenarios to deal with). Here's a summary of techniques that _can work_ with their pitfalls:

**Pools (including multiprocessing.Pool, billiard.Pool)**:
Setup pool before gRPC server is started (pre-fork)
Must ensure that no subprocesses crash or stop, otherwise

[2019-03-13 16:09] nicolasnoble commented on #18337
Right, okay. So the long story short here is you're missing dependencies in your project file. I can see you're missing the cares library at least.

[2019-03-13 16:19] Garu94 commented on #18337
I tried following every procedure I found online, but unfortunately I am not really an expert of CMake. Could you please explain me how to build one of the example projects using CMake? Or at least point me to a list of needed dependencies for using gRPC?

[2019-03-13 17:33] gnossen commented on #18290
@ShirinNajdi Closing for now. If you have further problems, feel free to reopen.

[2019-03-13 17:47] gnossen commented on #18309
@smaye81 Can you reproduce with 1.19?

[2019-03-13 17:47] gnossen commented on #18309
CC @vjpai @yashykt

[2019-03-13 17:50] gnossen commented on #18322
@chenbaggio Can you please clarify which language you are requesting an example for? Tentatively assuming C++.

[2019-03-13 17:51] gnossen commented on #18322
CC @AspirinSJL @markdroth

[2019-03-13 17:57] gnossen commented on #18335
@muxi Sounds like this issue is resolved. Closing for now. Please feel free to reopen if anything else comes up.

[2019-03-13 18:02] nicolasnoble commented on #18307
You're welcome to come back help us with this, @mehrdada :D

[2019-03-13 18:04] gnossen commented on #18348
CC @vjpai @yashykt

[2019-03-13 18:07] gnossen commented on #18350
@mxl123 Can you provide any more details surrounding the circumstances of your crash?

[2019-03-13 18:08] gnossen commented on #18350
CC @muxi

[2019-03-13 18:15] muxi commented on #18335
@gnossen thanks but there's still some enhancement that could be done. Let's keep it open to keep track of it.

[2019-03-13 18:21] smaye81 commented on #18309
I can try.  Was there any change in reconnection logic between 1.15 and 1.19?

[2019-03-13 18:53] AspirinSJL commented on #18322
@chenbaggio The "target" passed to the channel is usually a single server name. The server addresses are returned by the resolver given the server name. For more details, please refer to https://github.com/grpc/grpc/blob/master/doc/load-balancing.md#workflow.

The example under example/cpp/load_balancing currently only shows how to set the load balancing policy name. We need to add the resolution

[2019-03-13 20:20] vctrferreira commented on #17661
Any workaround for that? I have the same problem using 1.19.1

[2019-03-13 20:51] gnossen opened #18358 "Support Timeout Propagation"
There should be some mechanism by which the [`timeout` argument to the `XXXMultiCallable` family of functions](https://github.com/grpc/grpc/blob/85f8e0f4b04d5ef20b7b2f575ab7bdaad20f34ee/src/python/grpcio/grpc/__init__.py#L669) can be propagated to upstream RPCs. Some of this functionality may already be accomplished by the `opencensus` gRPC Python interceptors.

[2019-03-13 22:14] srini100 commented on #18260
Closing this in favor of  #18307.

[2019-03-13 22:14] #18260 closed

[2019-03-13 23:18] slolife commented on #18338
I would love to see this fixed in the package so it works without having to add to the docker file, but I have posted a workaround dockerfile to the repo: https://github.com/slolife/alpine-protoc

[2019-03-13 23:40] mehrdada commented on #18307
@nicolasnoble it's really hard to test things without proper access :)

[2019-03-14 01:08] maxwelltsai1536 commented on #18203
i found it in qrcode extension,the project url is https://github.com/codebude/QRCoder/

[2019-03-14 01:14] chenbaggio commented on #18322
thank you

[2019-03-14 01:22] chenbaggio commented on #18322
the case I have read ,but still two questions want to ask:

1. whether create channel must fill target is "fake:///" ?

2. actual server list how can I pass to resolver,   json conf or others? if it is json conf, please give me
a format example, and whether is set channel argument about json conf?

[2019-03-14 01:49] AspirinSJL commented on #18322
1. No. This is the doc for naming: https://github.com/grpc/grpc/blob/master/doc/naming.md. The test cases are using "fake:///" scheme to mock away the real name resolving. For most of the cases, DNS is used.

2. If it's for production use, the resolution should be done by the name resolving component itself. If you want to set up a fake lookup table, @apolcyn may know better.

[2019-03-14 03:41] apolcyn commented on #18322
You can use DNS for load balancing with "grpclb" by publishing DNS records as described in https://github.com/grpc/proposal/blob/master/A5-grpclb-in-dns.md. However, I'd note that "grpclb" is considered deprecated, since we're moving towards some envoy protocols for load balancing (@AspirinSJL if there are more details on that).

Regardless of that, as for how DNS records would be set up to do gRP

[2019-03-14 03:48] apolcyn commented on #18322
^ note that service configs are published DNS according to the design in https://github.com/grpc/proposal/blob/master/A2-service-configs-in-dns.md. So similarly to the above comment, if the client is targeting `foo.bar.com`, a TXT DNS record of the name `_grpc_config.foo.bar.com` could be published, containing `grpc_config=<service config as JSON>`

[2019-03-14 04:54] apolcyn commented on #18334
Seeing that you invoked this test using `make test`, it looks like the problem is just that (the Makefile invokes that test with a simple `$(BINDIR)/$(CONFIG)/resolve_address_using_ares_resolver_test`, which is incorrect).

That test requires a flag to be passed to it: `--resolver=<ares|native>`, and it will definitely crash if that flag is not provided.

Note that our CI test system doesn't actua

[2019-03-14 04:54] #18334 closed

[2019-03-14 08:26] chenbaggio commented on #18322
thank you all

the following is my pseudo code, please give me your advoices:

1. use CreateCustomChannel create a channel and stub (load balance policy set in here)

2. parse URLs from resolve (here if we do not use resolve,  can use final address format t make address list)

3. use  address list generated by step 2  to get channel arguments and add to

4.  in your test case , it use to initializ

[2019-03-14 10:02] Tehada commented on #6046
bump

[2019-03-14 12:20] arcolight opened #18362 "grpc C++ client and server abort, if library built with GPR_MANYLINUX1 flag"
### What version of gRPC and what language are you using?
 1.19.1, C++

### What operating system (Linux, Windows,...) and version?
Arch Linux and some old linux (glibc-2.12)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc-8.2.1

### What did you do?
I've updated grpc from version 1.12.0 to 1.19.1 and try to run my tests.
Test consists from test server(synch

[2019-03-14 14:53] clausjoergensen opened #18364 "A precondition for calling grpc_call_start_batch wasn't met. Error 8"
### What version of gRPC and what language are you using?
1.18

### What operating system (Linux, Windows,...) and version?
iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
Objective-C

### Bug

We're seeing the following error `A precondition for calling grpc_call_start_batch wasn't met. Error 8`  as part of the `GRPCProtoCall.start()` call. Error 8 apparentl

[2019-03-14 15:06] Tehada commented on #6046
3 years later. Still no changes! May be people can somehow help in implemetning it? I am ready to take part in it.

[2019-03-14 15:06] jtattermusch commented on #17704
I will later post link to grab patched nuget packages to test with.

[2019-03-14 15:09] IzakMarais opened #18365 "GRPC c++ file descriptor leak"
### What version of gRPC and what language are you using?
 1.18.0, C++

### What operating system (Linux, Windows,...) and version?
Linux (Debian Stretch)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 g++ (Debian 6.3.0-18+deb9u1) 6.3.0 20170516

### File descriptor leak bug

I have uploaded a minimal example that reproduces the bug to this repo: https://github

[2019-03-14 15:14] jtattermusch commented on #18203
Yes, you're right https://github.com/codebude/QRCoder/blob/1be41a1403883687b14eac4fe617ff07043fa192/QRCoder/QRCoder.NETCore20.csproj#L30,

I'm wondering why QRCoder is referencing UnityEngine assembly (which makes gRPC's platformdetector think it's running on unity) but at the same time your project is not a Unity project.

What is the target platform of your project?

[2019-03-14 15:25] jtattermusch commented on #18288
please enable extra tracing using https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md and report back any findings.

I can't know for sure but it seems like it could be the TLS connection failing (bad certificates?) so the connection never gets established (which leads to a different error).

[2019-03-14 15:29] jtattermusch commented on #18288
Also, you should consider using https://github.com/grpc/grpc/blob/7095e051f2183b632aac241c27cf6b53b69d50e9/src/csharp/Grpc.Core/CallCredentials.cs#L49 instead of the auth interceptor because then the gRPC stack will stop the auth metadata from being sent over an insecure connection (which is dangerous).

[2019-03-14 15:54] arcolight commented on #18362
I suppose, that in file `grpc/src/core/lib/iomgr/internal_errqueue.cc` additional check needed in function `grpc_errqueue_init()`.

There is only check for define `LINUX_VERSION_CODE`, but in case, when library builded on modern linux for use on old linux with define `GPR_MANYLINUX1`, `LINUX_VERSION_CODE`will be defined and KERNEL_VERSION can be greater, than 4.0.0. So `kernel_supports_errqueue()`

[2019-03-14 16:23] FlorianLudwig commented on #6046
@Tehada best way to help is to test and improve https://github.com/vmagamedov/grpclib

[2019-03-14 16:25] #16856 closed

[2019-03-14 16:39] gjcarneiro commented on #6046
A pure Python grpclib is an interesting idea, but there are also advantages to just wrapping the standard grpc core C++ library for Python:
1. it is highly optimised;
2. it deals with things like multiple endpoints, health checks and round robin;
3. well tested.

It's just a pity grpclib core library is based on threads instead of asynchronous event loop (e.g. libuv).

Ideally, both efforts should

[2019-03-14 16:51] heri16 commented on #6046
Any technical roadblocks as for a libuv-version of Grpclib?

[2019-03-14 17:00] gjcarneiro commented on #6046
But @hubo1016 said

So maybe I was wrong, maybe grpc core is already asynchronous internally, I don't know, I'm not a grpc developer :man_shrugging:

[2019-03-14 17:05] arcolight commented on #18362
Tests works with additional check `#if GRPC_LINUX_ERRQUEUE` in internal_errqueue.cc

I don't know if this is correct solution, but test application works with it.

[2019-03-14 19:12] yashykt commented on #18362
@arcolight Please verify that #18367 fixes the problem

[2019-03-14 20:27] #18287 closed

[2019-03-14 21:37] sab24 commented on #18334
Running tests is done by

./tools/run_tests/run_tests.py -l c -c dbg

Couldn't find this being documented, so adding this for future viewers.

Does it make sense to let make test run this command?

[2019-03-14 22:28] stephan-tolksdorf opened #18376 "Support for async bidirectional streaming client in Python"
### What version of gRPC and what language are you using?

v1.19.0 Python

### What operating system (Linux, Windows,...) and version?
 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)
 N/A

### What did you do?

I tried to implement an async Python client for a bidirectional streaming gRPC call, including support for cancellation.

### What did you expect to

[2019-03-15 00:47] apolcyn commented on #18334
There's some documentation on the `run_tests.py` script, but you do have to know where to find it - https://github.com/grpc/grpc/blob/master/tools/run_tests/README.md

I'm not sure it makes sense to adapt the `make test` target, since there's other ways of running the tests that we naturally spend effort maintaining for our pull request tests, etc.

[2019-03-15 07:10] MaybeShewill-CV commented on #18290
@ShirinNajdi Have you found the solution for this?

[2019-03-15 07:19] jtattermusch commented on #17661
@vctrferreira  It seems that the simplest workaround would be to rename you .proto file to not contain a dot

[2019-03-15 07:52] TennyZhuang commented on #18321
Thanks for your response, and it works if I always close the channel.
But I create a library using gRPC and pack it to Python SDK use gRPC-python. And it is overhead if I always create a new channel on every connection.
I do a workaround that patch the `os.fork` function and always close the channel before the really `fork` called and recreate the connection after fork. This is my code:

[code]

A

[2019-03-15 07:54] TennyZhuang commented on #18321
It seems that there is no reopen button
@gnossen

[2019-03-15 08:17] TennyZhuang commented on #18321
And here is another error if I use python 3.5 and use that `get_controller` before and after fork().

[code]

grpcio Version: 1.18.0

[2019-03-15 08:35] maxwelltsai1536 commented on #18203
that is windows.

[2019-03-15 08:38] maxwelltsai1536 commented on #18203
and i think my project references qrcoder third part is normal,how did you think?and do you have any suggestion for this qustion?

[2019-03-15 08:45] ShirinNajdi commented on #18290
No, still trying to find a solution!

[2019-03-15 08:49] MaybeShewill-CV opened #18386 "Grpc ERROR: create subchannel failed"
I have not built the docker from source tensorflow. I have pulled a image from docker hub supplied by tensorflow.
Here is some information of my local env:
**Docker version**: 18.09.3
**Nvidia Docker version**: 2.0.3
**Os**: linux ubuntu 16/04 LTS
**Image**: tensorflow/serving:1.12.0-devel-gpu
**local tensorflow version** 1.12.0 gpu
**cudnn version**: cudnn 9.0
**python version**: 3.5.2
**python g

[2019-03-15 08:51] arcolight commented on #18362
@yashykt My test works with your fix, thank you.

[2019-03-15 09:09] panjxgithub opened #18387 "Illegal packet attack, parsing http2 packet coredump"
### What version of gRPC and what language are you using?
 1.0.1   C

### What operating system (Linux, Windows,...) and version?
 linux

### What did you do?
Used  Peach Fuzz test packet attack

### result
Program received signal SIGSEGV, Segmentation fault.
0xf6e5e092 in __interceptor_memcpy (to=0xe4bf6be8, from=0xe79f04b3, size=1) at ../../../asan/asan_interceptors.cc:457
457     ../../../asan/

[2019-03-15 09:21] kalman5 opened #18388 "Stream efficiency under memory "pressure""
### What version of gRPC and what language are you using?
 Server c++, Client C++, GRPC Version: 1.15.1

### What operating system (Linux, Windows,...) and version?
 Windows Server 2012 R2

### What runtime / compiler are you using (e.g. python version or version of gcc)
 VS 2015

### What did you do?
I'm observing a strange behavior with grpc flow controll. Basically I have clients connecting to

[2019-03-15 13:23] chenbaggio commented on #18322
hello, the complete example when would you provide?  thank you

[2019-03-15 13:34] yihuazhang commented on #16392
https://source.cloud.google.com/results/invocations/e12f8c74-386b-41de-877c-5cfb8505ecf1/targets/github%2Fgrpc%2Fphp_macos_dbg_native/log

`Starting test 'PersistentListTest::testInitHelper'.
.
Starting test 'PersistentListTest::testChannelNotPersist'.
.
Starting test 'PersistentListTest::testPersistentChannelCreateOneChannel'.
.
Starting test 'PersistentListTest::testPersistentChannelCreateMultip

[2019-03-15 16:11] nicolov commented on #17506
You can work around the issue by removing all the references to `ruby` in the `BUILD` file at the root of this repo.

[2019-03-15 16:33] jtattermusch commented on #17661
I think I found the rootcause:

There is a mismatch between the file name generated by `protoc` and the one expected by CSharpGeneratorServices:
https://github.com/grpc/grpc/blob/c28d35dc1c0483830b55f87775a4eaca00595a7f/src/csharp/Grpc.Tools/GeneratorServices.cs#L68

Protobuf uses `google::protobuf::compiler:csharp::GetOutputFile`:
https://github.com/protocolbuffers/protobuf/blob/b68a347f56137b4b1

[2019-03-15 17:19] nicolasnoble commented on #18387
Wait. You specified grpc version "1.0.1 C", what does this mean exactly? Did you manage to find an exploit in version 1.0.1 of gRPC? That's... completely irrelevant at this point. I'm certain we've fixed this one already a long time ago.

[2019-03-15 17:20] nicolasnoble commented on #18387
The stacktrace indeed shows code that's several years old. Downgrading severity.

[2019-03-15 17:22] nicolasnoble commented on #18387
Could you try to reproduce on more recent versions of gRPC, such as 1.19.1? Thanks.

[2019-03-15 17:39] jtattermusch commented on #17995
I think the rootcause for not handling spaces in filenames correctly is the same as in https://github.com/grpc/grpc/issues/17661 (the CsharpGeneratorService doesn't mimic `protoc` output file name mangling accurately).

[2019-03-15 18:39] markdroth commented on #18142
Vijay, any idea what's going on with this?  These tests have been timing out a lot lately.

[2019-03-15 19:51] #18362 closed

[2019-03-15 20:45] Ark-kun opened #18403 "Error: ares.h: No such file or directory during bazel compilations"
When I try to compile some projects using bazel, the compilation fails during the grppc calculation:

[code]

Same thing happened with people compiling other projects: https://github.com/tensorflow/tensorflow/issues/19464
https://github.com/tensorflow/tensorflow/issues/23673
https://github.com/bazelbuild/bazel/issues/6898
https://github.com/kubeflow/pipelines/issues/970
https://github.com/tensorfl

[2019-03-15 20:50] schmohlio commented on #12295
bumping this - couldn't MaxConnectionAge approach also lead to a "stampeding herd"?  Also curious if anyone has experienced issues with the connection-based approach.

We would like to make use of out-of-the-box autoscaling features, whereby DNS records are added when new boxes come online. It's preferable that we don't need to bounce a service or set MaxConnectionAge (as this reduces the responsi