[2020-07-11 15:23] xxpniu commented on #23449
And I try to disable bitcode. then i got error like this:
Showing Recent Messages
: Arm64 function not 4-byte aligned: _unwind_tester from /Users/xiexiongping/Documents/github/publish_ios/publish_ios/Libraries/libiPhone-lib.a(unwind_test_arm64.o)

: "_deflateInit2_", referenced from:

: Zlib_compress(grpc_slice_buffer*, grpc_slice_buffer*, int) in libgrpc.a(message_compress.o)

: Grpc_stream_compr

[2020-07-11 16:50] xxpniu commented on #23449
OK I final fix this compile error:

I use bitcode disable swicth to NO in xcode buildsetting. and add libz.a into linked lib. new i can run my game on ios.

[2020-07-11 16:50] #23449 closed

[2020-07-11 19:57] aajain-com opened #23450 "SSL_CTX_set_tlsext_ticket_keys error when using Makefile for helloworld example on MacOS"
### What version of gRPC and what language are you using?
v1.30.0

### What operating system (Linux, Windows,...) and version?
MacOS 10.15

### What runtime / compiler are you using (e.g. python version or version of gcc)
clang

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informa

[2020-07-11 20:23] aajain-com commented on #23450
Never mind, seems like the issue was that on my machine I also had `libssl.dylib` which gets picked up instead of `libssl.a` when using `-L/usr/local/lib `pkg-config --libs protobuf grpc++` while the cmake file directly calls the `/usr/local/libssl.a`

[2020-07-11 20:23] #23450 closed

[2020-07-12 11:40] David1866 opened #23451 "Status(StatusCode=Cancelled, Detail="No grpc-status found on response.")"
Grpc.Core.RpcException: Status(StatusCode=Cancelled, Detail="No grpc-status found on response.") .
Always report this error and throw it when it happens at the server side,when i return result, here :static readonly grpc::Marshaller<global::GrpcServer.Web.Protos.GetGoodsByGdsCodeResponse> __Marshaller_GetGoodsByGdsCodeResponse = grpc::Marshallers.Create((arg) => global::Google.Protobuf.MessageExte

[2020-07-12 15:29] sertoa812 opened #23452 "undefined reference to grpc_core::JoinHostPort"
When I try to build opensse-schemes project on
It came out an error in linking procedure:

[code]

I suspect in their linking file, there is missing a crucial .so or .a library

Besides, there is the link command, can you help me recognize which library it missed?

`/usr/bin/c++  -O3 -DNDEBUG  -rdynamic CMakeFiles/sophos_client.dir/sophos_client.cpp.o  -o sophos_client  -Wl,-rpath,/root/opensse-sc

[2020-07-13 09:35] Sklodow opened #23454 "[C++] route_guide example doesn't compile"
### What version of gRPC and what language are you using?

grpc v1.30.0 (installed following https://grpc.io/docs/languages/cpp/quickstart/), C++

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

cmake 3.17.0
gcc 7.5.0

### What did you do?

Followed https://grpc.io/docs/languages/cpp/quick

[2020-07-13 11:11] chrisse74 commented on #21373
Okay, thanks for your answer. I close the issue now as the backlog was omitted by design.
(I still think, that the reconnect-backoff is not working as it should, but I will have to retest it (eventually) and file a new ticket.)

[2020-07-13 11:11] #21373 closed

[2020-07-13 12:01] chrisse74 commented on #20418
Hi @boanerges317
I limited the number of files the process may open.
And as soon as the limit is reached, no more files can be opened, that is what you showed.
But as soon as one of the threads frees a file handle, new files can be opened - you did not store the pointers to your filehandles, so this is not part of your test.

My tries to come up with a solution to this in gRPC were not successfull

[2020-07-13 12:39] thomasfrisko commented on #21327
No we never figured out what the issue is so we removed the settings

[2020-07-13 13:55] bensimian commented on #21327
Thanks @thomasfrisko for getting back. We actually tested the scenario by blocking the Node event loop for longer than the Ping and Timeout. So something, at least our Hypothesis is pointing in something blocking the process.

[2020-07-13 14:47] posypanka opened #23459 "Installing grpcio-1.30.0 from Google Function for Google Dataflow reference"
### What version of gRPC and what language are you using?

grpcio-1.30.0 Python

### What operating system (Linux, Windows,...) and version?

Linux, Ubuntu 18.04 (Google Cloud Functions)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 3.7.6

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to fo

[2020-07-13 15:15] jtattermusch commented on #23232
@sreejit-a  can you provide a reproduction in form of a ready-to-run solution (e.g. in a github repository) - that would make it easier to reproduce.

Also, what windows version are you using?

[2020-07-13 15:19] jtattermusch commented on #23001
Ok, looks like your are actually using grpc-dotnet (not Grpc.Core) - I haven't noticed that before.

@JamesNK  can you please take a look?

[2020-07-13 15:28] jtattermusch commented on #23334
I think this is basically a duplicate of https://github.com/grpc/grpc/issues/18801? We need a better check for detecting if we are running on unity or not.

[2020-07-13 15:32] #23359 closed

[2020-07-13 15:55] jtattermusch opened #23461 "Linux and macos distribtests are broken"
Internal issue:
b/160166189

https://source.cloud.google.com/results/invocations/b74b6d46-f043-4f64-8c6e-a8623386d655/targets/github%2Fgrpc/tests;group=tasks;test=distribtest.python_dev_linux_x64_ubuntu1404;row=1

https://source.cloud.google.com/results/invocations/fa1f61f6-cebd-4f41-a8fb-5bdffc0f3449/targets/github%2Fgrpc/tests

Broken since https://github.com/grpc/grpc/pull/21941.

[2020-07-13 15:57] jtattermusch commented on #23461
@markdroth  @nicolasnoble what's the plan here? We have a branch cut scheduled for tomorrow and this issue is blocking it.

[2020-07-13 15:59] jtattermusch commented on #23461
Another thing that's broken is the grpc_cfstream job on master: b/160165400

[2020-07-13 16:15] #23334 closed

[2020-07-13 16:50] anirudha16101 opened #23465 "Prioritize Multiple Clients for GRPC Server"
Hi, I am new at GRPC C++ .Is there is any way to Prioritize the clients request. currently I have made a Client- Server Asynchronous code with Grpc C++ Api.
Is there is any way that I can Priority to specific client if more than one client is communicating with server. Because GRPC internally uses Queue Mechanism. But I am not sure to How to Implement it. Any Help would be appreciated.Thanks!!

[2020-07-13 17:02] markdroth opened #23466 "node interop tests failing due to npm build error"
https://source.cloud.google.com/results/invocations/3d42dd8d-1c1e-4475-a067-a252bf7eead3/targets/github%2Fgrpc%2Finterop_docker_build/tests;group=tests;test=build_docker_nodepurejs;row=1

I think this is the relevant error:

[code]

[2020-07-13 17:40] yashykt commented on #23442
Hi @HaoLiuHust , we already have cases of gRPC use with many threads. You would need to provide something like a unit test case maybe as a github gist that we can run and verify. Also, gRPC support is limited to the previous two releases and gRPC v.1.19.0 is slightly old now.

[2020-07-13 19:00] srini100 commented on #23461
We'll have to rollback #21941 if this and #23307 can't be fixed this week.

[2020-07-13 23:12] JamesNK commented on #23001
There shouldn't be any issue with a Grpc.Core client calling Grpc.AspNetCore server. There are cases where you'd want to mix the two. For example, if you're in Kubernetes then you might want Grpc.Core's client side load balancing to talk to Grpc.AspNetCore servers.

[2020-07-14 01:21] HaoLiuHust commented on #23442
I will try the newest version. I wonder in which case "completion_op_" will be null so I can check if I have make some mistake?

[2020-07-14 03:15] emkornfield commented on #22382
@lidizheng any updates on this.  If you can give more details on:

"The tricky part is to make distribution test work.", I can potentially help out.

[2020-07-14 08:55] jtattermusch commented on #23336
Yes, we're not planning to ship prebuilt arm native libraries in our nuget because:
1. we don't have the proper infrastructure to build and test this
2. the Grpc.Core nuget is already pretty large in size (due to different builds of grpc_csharp_ext that need to be included) and we don't have a good way of splitting the package per-platform.

[2020-07-14 08:55] #23336 closed

[2020-07-14 13:17] dboshardy commented on #23317
@lidizheng Since `gthread` seemed to work fine, we dropped this and continued dev. I'll have to check with the project lead to see if we have time to go back and test `gevent`.

[2020-07-14 13:31] arjunyel commented on #9316
@stanley-cheung the owner of Tonic has said they're willing to upstream their gRPC implementation but they need some guidance https://github.com/hyperium/tonic/issues/149

Could this be reopened and is it possible to assist @LucioFranco with getting this merged into the main repo?

Thanks for everyone's help and time!

[2020-07-14 16:48] veblush commented on #23459
This error message meant that your system doesn't have C/C++ compilers so you might need to install gcc and g++. From the version of pip, 20.0.2, your pip should be aware of manylinux artifacts but your system might not be compatible to it by observing it tried to build it from source. Can you please let us know the detail of your system? hardware, linux version, so on.

[2020-07-14 16:55] veblush commented on #23452
This is because it doesn't link to [absl](https://github.com/abseil/abseil-cpp/tree/master/absl). I don't know the build system of `opensse-schemes` but it looks that it need to extend its build configuration to add absl.

[2020-07-14 16:55] #23452 closed

[2020-07-14 16:56] veblush commented on #23451
The provided information is insufficient for debugging/action. Please re-open the issue with additional information/instructions on reproducing the issue.

[2020-07-14 16:56] #23451 closed

[2020-07-14 17:56] veblush commented on #23432
I tried to reproduce this by using a docker but I couldn't manage to install gRPC srpm. Can you help me? It'd be helpful if you provide a list of docker commands like below.

[code]

[2020-07-14 18:00] colinmai123 opened #23474 "Crash in ciena::tmet::grpc::ServerContextImpl::run"
Crash found in grpcio-1.14.1
I am getting a coredump in the grpc library. Please let me know if there is a fix available for this. Thank you.

_#0 0x0000000000000035 in ?? ()
 #1 0x00007f214a9643d2 in ciena::tmet::grpc::ServerContextImpl::run (
 this=0x7f2134000f70)
 at /usr/src/debug/telemetry/1.0.0+gitAUTOINC+9d0ba07e1f-r0/git/src/transport/grpc/server.cpp:375
 #2 0x00007f214a962a69 in ciena::tm

[2020-07-14 18:14] lidizheng commented on #22382
Enabling the ASM is a simple code change, but we aren't sure how will the portability of gRPC being impacted. Our distribution tests already exist and they are testing if the artifacts installs across various platforms.

Python distribtest: https://github.com/grpc/grpc/tree/master/test/distrib/python
Distribtest targets: https://github.com/grpc/grpc/blob/master/tools/run_tests/artifacts/distribtes

[2020-07-14 18:24] limburgher commented on #23432
Try replacing "dnf install" with "sudo rpm -ivh" for the koji line.

[2020-07-14 20:16] tony2001 opened #23477 "PHP gRPC extension: assert() on exec()"
**Problem**
PHP with gRPC enabled is unable to execute other binaries using simple exec() or popen() calls.
In error log I can see the following errors:
[code]

The first exec() call succeeds, but after that all exec() calls return empty result and I get an error message in the error log for each request to the script.
_That happens even though both grpc.enable_fork_support and grpc.poll_strategy

[2020-07-14 21:08] stanley-cheung commented on #23477
@tony2001 Just to clarify - without the `exec()`, there are no errors?

[2020-07-14 21:32] veblush opened #23479 "Ruby end-to-end tests are failing on Ruby 2.7"
### What version of gRPC and what language are you using?

gRPC Ruby 1.30.1

### What operating system (Linux, Windows,...) and version?

Linux with Ruby 2.7 (docker: ruby:2.7)

### What runtime / compiler are you using (e.g. python version or version of gcc)

Ruby 2.7

### What did you do?

[code]

### What did you expect to see?

It ends successfully.

### What did you see instead?

A few tests

[2020-07-14 21:44] emkornfield commented on #22382
Thanks @lidizheng.

I was able to [hack](https://github.com/emkornfield/grpc/commit/c16dfd598e5c76b9746b7f0680de038cb8ad70b8) changes to build with assembly for x86-64.  However, looking at the templating system I'm not sure how to conditional include the ".S" files,  is there a preferred approach/prior art for this?

[2020-07-14 21:50] lidizheng commented on #22382
Just a thought, maybe you can update the template itself in [grpc_core_dependencies.py.template](https://github.com/grpc/grpc/blob/master/templates/src/python/grpcio/grpc_core_dependencies.py.template).

[2020-07-14 23:00] yulin-liang commented on #23448
@hsivakum Does this only happen on v1.28.2? Have you tried any other version?

[2020-07-15 01:04] amrmahdi commented on #21474
@georghinkel were you able to create a channel with `GRPC_TLS_SKIP_ALL_SERVER_VERIFICATION`  in C#?

[2020-07-15 01:05] amarsgithub opened #23481 "Getting grpc health probe to work in C#"
### The Problem
I currently have a health service running in a KinD cluster behind an nginx-ingress with localhost as the host. My ingress uses a self-signed TLS cert that is generated by the kubernetes cert manager. It currently works with the grpc_health_probe client which is written in Go.
The way I'm able to run the grpc_health_probe is:
./grpc_health_probe -tls -tls-no-verify --connect-timeou

[2020-07-15 02:12] sertoa812 commented on #23452
It works! Really appreciate your help!

[2020-07-15 04:31] emkornfield commented on #22382
Yeah this was a little bit more debugging work then I expected :(  anyways a proof of concept PR is up.

[2020-07-15 05:14] georghinkel commented on #21474
@amrmahdi No, encryption got deprioritized at our end because we use a separate network.

[2020-07-15 05:32] stanley-cheung commented on #23466
@murgatroid99 I attempted to fix this in https://github.com/grpc/grpc-node/pull/1500, PTAL, thanks!

[2020-07-15 06:11] posypanka commented on #23459
Hi, thanks for the reply. It's Google Cloud Function (server-less service) https://cloud.google.com/functions/docs/concepts/exec

All I found is that it's Linux, Ubuntu 18.04 with Python 3.7.6.

[2020-07-15 08:54] tony2001 commented on #23477
Right, it works fine without exec().
TBH, gRPC seems to be working fine with exec(), it's exec() that is broken with gRPC.

[2020-07-15 10:12] jtattermusch commented on #23466
Still broken on master. Bumping to P1

[2020-07-15 10:53] Nimrodda opened #23486 "Add Bazel setup to Android example"
### Is your feature request related to a problem? Please describe.
I'm using the Android example in my own project. Currently the example uses CMake/Gradle, which is slow and requires to clone all the gRPC's submodules to build.

### Describe the solution you'd like
As gRPC's main build tool is Bazel, it would be great if you could add Bazel's setup to the example in addition to CMake/Gradle so th

[2020-07-15 13:04] tom-r-o opened #23488 "gRPC support for HoloLens2 with Unity"
### Is your feature request related to a problem? Please describe.
I'd like to use gRPC in Unity in HoloLens2. HoloLens2 runs windows on an ARM64 CPU, and requires a dedicated grpc_csharp_ext.dll.

### Describe the solution you'd like
I'd like:
1. grpc_csharp_ext.dll for windows ARM64 to be delivered as part of the gRPC package.

2. A working build for Unity and HoloLens2 (as part of [Official gRP

[2020-07-15 13:16] tony2001 commented on #23477
I was finally able to reproduce it outside of Docker container:
[code]
Unfortunately, most of the debug info is stripped from grpc.so because options "-g -O2" are hardcoded into config.m4.
I'll have to patch the build in order to get some meaningful data.

[2020-07-15 14:56] tony2001 commented on #23477
Well, it looks like channels are being destroyed twice:
first in destroy_grpc_channels(), then again while cleaning grpc_persistent_list hash, since it was initialized with a destructor function.
Both destroy_grpc_channels() and zend_hash_clean() are called from postfork_child(), so only the child process fails.

Btw, while we're here discussing it, what was the reason to break fork() by default a

[2020-07-15 15:26] tony2001 commented on #23477
Removing the call to destroy_grpc_channels() is most likely wrong, since you want to guarantee that the channels are killed and not lurking somewhere in the background, but it fixes the error, so the theory is confirmed.

[2020-07-15 17:18] lidizheng commented on #22382
@emkornfield Thanks for the hard work :)

[2020-07-15 17:25] lidizheng commented on #23459
Ubuntu should automatically pick up our precompiled wheels. Can you try to manually install the [1.30.0 x86 wheel](https://files.pythonhosted.org/packages/cf/10/ed3caaa9e4c1b8c275b866438e2047d34d5e64dacc75dd0b1daf28ae07af/grpcio-1.30.0-cp37-cp37m-manylinux2010_x86_64.whl)?

[2020-07-15 17:45] stanley-cheung commented on #23477
@tony2001 Thanks for the messages and investigation. I will provide a bit of background over this. Just want to have you try one more thing first: if you replace the `exec()` call with `system()`, will the problem go away?

[2020-07-15 18:07] dazuma opened #23490 "[Ruby] grpc_tools_ruby_protoc generates wrong namespace for fully-qualified rpc response type"
### What version of gRPC and what language are you using?

grpc_tools_ruby_protoc 1.30.1 (see https://rubygems.org/gems/grpc-tools/versions/1.30.1) on Ubuntu bionic

### What did you do?

Running the grpc protoc plugin on the google.cloud.oslogin.v1 proto (as part of client library codegen). The GetSshPublicKey and UpdateSshPublicKey RPCs generate an incorrect Ruby type for their response type.

P

[2020-07-15 18:15] tony2001 commented on #23477
system() and exec() are actually the same C function with just a bit different behavior - system() returns all output lines, exec() returns only the last one (why? for some historic reasons, I guess).
But I did try system() and yes, it still crashes.

[2020-07-15 18:24] murgatroid99 commented on #23466
I think I have fixed this by merging grpc/grpc-node#1504.

[2020-07-15 18:51] stanley-cheung commented on #23477
Thanks for the info. Just to give a little background on this: so `fork()` support is not standard across all grpc languages. Most of the languages do not support `fork()`. However, in PHP, since functions like `system()` and `exec()` implicitly called `fork()`, so we thought, well, perhaps we will fix this for PHP. So we join Python to add support for `fork()` - that's why we leave the feature an

[2020-07-15 18:54] stanley-cheung commented on #23466
Having a green build now: https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod%3Agrpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud

[2020-07-15 19:17] tony2001 commented on #23477
Well, it's still not clear why the default state is half-broken and you need to use an INI option in order to fix it.
You can remove the option and add atfork handlers wherever pthread_atfork() is available, it won't break anything and people won't have to deal with hanging processes.
Do I miss something?

[2020-07-15 19:28] posypanka commented on #23459
I think the problem is in --no-binary', ':all: which is set automatically and is not configurable.

[2020-07-15 20:17] yashykt commented on #23438
@rambattu Sorry, I haven't been able to push the tests yet. I took a quick look and the changes look incomplete. Specifically, I couldn't find the changes which resumed reading.

[2020-07-15 20:41] lidizheng commented on #23459
Sorry, this issue cannot be resolved on our end. Can you copy the details here and file a bug to Cloud Functions?

You can find their public issue tracker here:
* https://cloud.google.com/support/docs/issue-trackers
* https://issuetracker.google.com/issues/new?component=187195&template=0

Feel free to CC me on the created bug, so I can help if needed.

[2020-07-15 22:22] noahdav opened #23498 "Certificate validation occurs on every request"
### What version of gRPC and what language are you using?
1.29.1

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC

### What did you do?
I have implemented an AuthMetadataProcessor to authenticate the caller.  I am setting it by calling ServerCredentials::SetAuthMetadataProcessor.  This works

[2020-07-15 23:41] rambattu commented on #23438
Hi @yashykt thank you for taking a look, I will double check. You are specifically talking about this change right?
https://github.com/grpc/grpc/pull/19924/files#diff-4ef3a8619db94d8f66a6b6f18ab27c81R1049
Please let me know if you see any other discrepancies, thank you.

[2020-07-16 00:15] stanley-cheung commented on #23490
Here's a simpler reproducible test case:

`myapi/foo/foo1.proto`:
[code]
`myapi/bar/bar1.proto`:
[code]

Run:
[code]

Output `myapi/foo/foo1_services_pb.rb`:
[code]

Notice the `Myapi::Bar::Myapi::Bar::MyResponse`.

This only reproduces in `1.30.x` but not `1.29.x` or before.

Looking into `ruby_generator.cc` to see what the problem is.

[2020-07-16 09:38] ljch2018 commented on #22260
@CoinCheung I met the same problem. Have you found any clues ? Thanks.

[2020-07-16 09:40] jtattermusch opened #23503 "grpc_load_file() is flaky on MacOS when two threads attempt to read the same file"
If two threads invoke `grpc_load_file` for the same filename concurrently, loading of the file might fail with this error:
[code]

Oddly, it reports "errno 21: Is a directory" but the real cause seems to be that even though each thread has called their own fopen (for reading) and they both have a different `FILE*` object, their invocations of `fread` and `fseek` still interfere.
(and it makes one

[2020-07-16 09:43] jtattermusch commented on #23503
CC @jboeuf  as you've added this function in https://github.com/grpc/grpc/commit/026a417defcd13d0ae5e8a8ddb67c18ff02fa142#diff-e71d6ee1c67f937cfd448359b95ab99dR44 (and later refactored it to its current form).

[2020-07-16 09:44] jtattermusch commented on #23503
A rough reproduction of this problem is available in https://github.com/grpc/grpc/pull/23502.

[2020-07-16 09:45] jtattermusch commented on #23503
CC @yihuazhang  as the `grpc_load_file` function is mostly used in the security-related stack.

[2020-07-16 18:03] apolcyn opened #23507 "Flake: crash in ruby src/ruby/end2end/call_credentials_timeout_driver.rb"
https://source.cloud.google.com/results/invocations/b082fd42-975e-4ca0-a219-e74d3ef425dd/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_opt_native%2Ftools%2Frun_tests%2Fhelper_scripts%2Frun_ruby_end2end_tests.sh/tests

[2020-07-16 18:19] fboranek commented on #22510
It looks like I hit the same problem. If connect to 1-2 servers it works when connectiooon more then 3 it start to break.

I made [minimal example](https://github.com/fboranek/grpc-client-cpp) and tested it on Debian Buster withe grpc frpm 1.26.x branch. I didn't test any other version yet.

Workaround for me was
[code]
where override default  `epollex` polling engine.

[code]

[2020-07-16 18:38] karthikravis opened #23508 "Bazel C/C++ Opt MacOS: //test/cpp/end2end:client_callback_end2end_test failed due to SIGSEGV"
https://source.cloud.google.com/results/invocations/6804105c-50dc-418f-bb90-873eb8d7d48b/log

*******************************
Caught signal SIGSEGV
  no backtrace
external/bazel_tools/tools/test/test-setup.sh: line 310: 98643 Segmentation fault: 11  "${TEST_PATH}" "$@" 2>&1
================================================================================
[10,546 / 10,554] 1656 / 2536 tests, 1 faile

[2020-07-16 18:39] pwais opened #23509 "Installation of grpc with pip in docker image very slow for x86_64"
### What version of gRPC and what language are you using?

GRPC version 1.30.1 (latest)
Python 3.6

### What operating system (Linux, Windows,...) and version?

Linux ubuntu bionic in docker on a linux x86_64 intel xeon host

### What runtime / compiler are you using (e.g. python version or version of gcc)

python

### What did you do?

I am trying to create a docker image that includes grpc for p

[2020-07-16 18:41] karthikravis opened #23510 "Bazel RBE Debug C/C++ failure due to assertion failure"
https://source.cloud.google.com/results/invocations/7e2de56d-40ad-47e9-aa1d-fdeebc02a1aa/log

I0713 23:00:17.334909480      20 driver.cc:284]              Shutdown clients
I0713 23:00:17.334993122      20 driver.cc:303]              Finishing servers
I0713 23:00:17.335459687      20 driver.cc:319]              Receiving final status from servers
E0713 23:00:17.335501428      20 driver.cc:331]

[2020-07-16 18:44] karthikravis opened #23511 "build_docker_node failure"
https://source.cloud.google.com/results/invocations/53e45fa1-0fdd-47dc-8a93-01136b4a204a/log

Found 2 errors.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @grpc/proto-loader@0.5.5 compile: `tsc -p .`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @grpc/proto-loader@0.5.5 compile script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above

[2020-07-16 19:01] gnossen commented on #23509
Try upgrading your version of pip. We do have precompiled x86-64 wheels, but they're manylinux2010. If your pip is too old, it won't recognize those artifacts and will instead default to installing from source. As for the slow from-source build, that is indeed a case of single-threaded compilation. That has now been parallelized by default on the master branch, but this has not made its way into a

[2020-07-16 20:33] karthikravis opened #23513 "Artifact Build Windows (internal CI) failed due to build_artifact.python_windows_x86_Python38_32bit"
https://source.cloud.google.com/results/invocations/7aca2539-d104-49d0-bdb9-51b41de997c2/log
[code]

[2020-07-16 21:08] lidizheng commented on #23513
The root cause seems due to `.\src/core/lib/iomgr/error.h(24) : fatal error C1083: Cannot open include file: 'inttypes.h': No such file or directory`

`inttypes.h` was in error.h 3 years ago.

[2020-07-16 21:29] robbrit opened #23514 "Typed Exceptions for context.abort"
### Is your feature request related to a problem? Please describe.

The problem is that in Python's `ServiceContext` when calling `abort()`, the exception raised is of type `Exception` with no arguments, so there's no clean way to catch these exceptions and take action.

This is important because we want to log most exceptions that are raised within the endpoint to Stackdriver, so that everything

[2020-07-16 21:57] stanley-cheung opened #23515 "Interop Cloud-to-Cloud Tests failure: Cannot find package "google.golang.org/grpc/xds/experimental""
https://source.cloud.google.com/results/invocations/d2e949e6-7033-43cb-8045-8e0e8aa3eb7e/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[code]

Seems to be affecting "Interop ALTS Tests" and "Interop Cloud-to-Prod Tests" with similar errors too.

[2020-07-16 22:43] menghanl commented on #23515
Should be fixed by https://github.com/grpc/grpc-go/pull/3745

[2020-07-16 22:56] stanley-cheung commented on #23466
This should be fixed now.

[2020-07-16 22:56] #23466 closed

[2020-07-16 23:16] stanley-cheung commented on #23515
@menghanl Verified. Thanks for the quick fix!

[2020-07-16 23:16] #23515 closed

[2020-07-16 23:58] #23490 closed

[2020-07-17 00:02] stanley-cheung commented on #23055
Getting some more verbose debug after #23496.

Here's one new `build_docker_dart` failure: https://source.cloud.google.com/results/invocations/7453503d-dbb3-4ff7-a214-778b6afea212/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

[code]

... although it's unclear to me what that means.

[2020-07-17 00:08] karthikravis opened #23518 "build_docker_go failure"
https://source.cloud.google.com/results/invocations/2cc4f644-55af-4bf6-9ab3-54312e60c4d9/log

Parsing meta tags from https://golang.org/x/oauth2?go-get=1 (status code 200)
get "golang.org/x/oauth2": found meta tag get.metaImport{Prefix:"golang.org/x/oauth2", VCS:"git", RepoRoot:"https://go.googlesource.com/oauth2"} at https://golang.org/x/oauth2?go-get=1
golang.org/x/oauth2 (download)
Fetching htt

[2020-07-17 01:06] stanley-cheung commented on #23518
This seems to be already fixed in #23515

[2020-07-17 03:05] CoinCheung commented on #22260
@ljch2018 Not exactly, the developer of this repo indicates that maybe I should update my operation system kernel, but I have not tried it yet.

[2020-07-17 03:13] ljch2018 commented on #22260
@CoinCheung I have tried to deploy my codes on multiple versions of kernel OS, but nothing changed.

[2020-07-17 06:18] arowser commented on #21989
Any update, seems get the same issue in Ubuntu bionic :
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
I0717 13:49:22.326063111   28188 ev_epoll_linux.c:95]        epoll engine will be using signal: 40
D0717 13:49:22.326331654   28188 ev_posix.c:107]             Using polling engine: epoll
D0717 13:49:22.326341656   28188 dns_resolver.c:316]         Using native dns res

[2020-07-17 06:30] jtattermusch commented on #23055
I also don't understand it, but I think pretty likely it's a download error. Ideally our interop test build wouldn't require any downloads but for some languages that's basically an impossible standard.
I think just `pub get || pub get` would help (I don't think the sleep is necessary).

[2020-07-17 06:33] jtattermusch commented on #23055
btw, based on our historical data, we should be able query which interop builds fail the most often (java, dart or something else..) and tackle them first (fixing only the most important ones improves experience but saves time - we likely won't be able to make all our builds really 100.0% flake proof).

[2020-07-17 07:41] veronicagarciavazquez commented on #23488
I have the same goal: to run grpc on HoloLens 2.

I have compiled grpc for ARM64 with vcpkg as you said. In my Unity project (Unity 2019.3.15f1) I use the package MSBuildForUnity to install the packages Google.Protobuf and Grpc.Core. I have created a Plugins folder in Assets where I copy the grpc_csharp_ext.dll for x64 and ARM64. I set up for each dll (Inspector) its corresponding platform. The dl

[2020-07-17 08:43] tzehetner opened #23522 "Deadlock during server shutdown"
### What version of gRPC and what language are you using?
Language: C#

[code]

### What operating system (Linux, Windows,...) and version?
Windows 10 (64-Bit)

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.1 / Visual Studio 2019

### What did you do?
`await server.ShutdownAsync().ConfigureAwait(false);`

### What did you expect to see?
Server shutti

[2020-07-17 17:40] gnossen commented on #22260
@ljch2018 If you'd like to file a new issue with a reproduction case, we'll be happy to take a look. The problem in this case was that I could not reproduce the latency issues on any of my machines.

[2020-07-17 22:44] rambattu commented on #23438
Hi @yashykt  I've updated the 1.0.0 version patch, attached to this post.
[grpc-1-0-0-git-v2-diff.txt](https://github.com/grpc/grpc/files/4940629/grpc-1-0-0-git-v2-diff.txt)

This part seems not that straightforward for version 0.11.0, should I call
[code]
after
[code]
 at line 509 https://github.com/grpc/grpc/blob/release-0_11/src/core/transport/chttp2_transport.c#L509  in `unlock()` function.

[2020-07-17 22:52] apolcyn opened #23536 "Epollex's MAX_EPOLL_EVENTS_HANDLED_EACH_POLL_CALL can leave stranded notifications"
This issue was noticed in an integration test (b/158778652), but `//test/core/iomgr:stranded_event_test` in PR https://github.com/grpc/grpc/pull/23535 is a minimal repro of it.

To reproduce, pull down https://github.com/grpc/grpc/pull/23535, remove the changes to `src/core/lib/iomgr/ev_epollex_linux.cc`, then:

[code]

(this assumes that the epollex poller will be used)

A failure should pop up p

[2020-07-18 05:11] stanley-cheung commented on #23307
This is fixed by the revert #23524

[2020-07-18 05:14] stanley-cheung commented on #23307
And the PHP xDS test is back to green!!! https://source.cloud.google.com/results/invocations/260e09d2-63f7-4111-80d7-9fdff695f333/targets

[2020-07-18 06:51] ThomsonTan commented on #14565
Is there any update about any kind of event loop integration?

[2020-07-19 07:44] tom-r-o commented on #23488
To get the project to compile I've followed the steps here:
https://github.com/grpc/grpc/issues/20344#issuecomment-561559557

I used the exact same version as in the post, which is 1.25.
So I also have some version mismatch, having the grpc_csharp_ext.dll at 1.29.1 and the rest of the dlls in version 1.25. Since the issue is that the dll is not found I don't think that the version mismatch is the

[2020-07-19 09:05] Murphy-OrangeMud opened #23542 "Why there are no makefile in examples/cpp/keyvaluestore directory?"
Hi, I'm new to grpc and cmake.
I tried to do what the tutorial says to the key-value store project but I found there were no makefile in it. Why ? So how should I compile the project? Or is it a bug?
Thanks for replying.

[2020-07-19 12:15] veronicagarciavazquez commented on #23488
Thanks! I will try it. Please see my comment on, I think, your other thread:

https://forum.unity.com/threads/hololens2-with-grpc-on-unity.932688/

I hope that your error is solved with /MT

[2020-07-19 13:20] #23542 closed

[2020-07-19 14:07] tom-r-o commented on #23488
Yes, that was another thread I opened :)
And yes, the "/MT" flag made the single function C++ DLL work on HoloLens2.
So your conclusion is correct - it must be an issue with the compiled grpc_csharp_ext.dll that I'm using.

Please let me know if you manage to get it working.

[2020-07-20 00:58] lcldragon opened #23544 "release crash ，debug is OK"
release
file: proto_utils.h
function:
template <class ProtoBufferWriter, class T>
Status GenericSerialize(const grpc::protobuf::MessageLite& msg, ByteBuffer* bb,
                        bool* own_buffer);
problem：here donot Recognition  custom proto class

[2020-07-20 01:45] lcldragon commented on #23544
libprotoc 3.12.2

[2020-07-20 05:49] #23544 closed

[2020-07-20 05:50] lcldragon commented on #23544
gcc Optimization  problem
close   gcc Optimization  ，everything is ok

[2020-07-20 06:45] Wkkkkk opened #23546 "compatibility with async_grpc"
### What version of gRPC and what language are you using?
gRPC1.29.1, C++

### What operating system (Linux, Windows,...) and version?
Linux Mint 19.3(Ubuntu 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
g++8.4

### What did you do?
I've been using cartographer-project/async_grpc in my project for a long time. Recently when I recompiled the aysnc_grpc li

[2020-07-20 08:22] ljch2018 opened #23547 "Time cost for each step of a request in GRPC c++?"
I implemented client and server on  GRPC c++，and met a wired problem.
It costs 122ms for each request in the client side, but it only costs 60ms in server side.（Time cost for calling my Business function.）
The server and client are deploy in the same machine, so time cost of  network is limited.

I want to  checkout why grpc framework cost 62ms for each request ?
First, I used the following variab

[2020-07-20 08:43] jtattermusch commented on #23461
https://github.com/grpc/grpc/pull/21941 has been rolled back but the linux distribtests are still failing (perhaps the rollback from https://github.com/grpc/grpc/pull/23524 hasn't been 100% successful?)

[2020-07-20 14:33] markdroth commented on #23307
This still needs to be fixed.  We reverted the PR temporarily because this PHP build problem was blocking the release, but we're still trying to get the change in, and this problem needs to be fixed before we can do that.

I have a PR out to roll forward this change in #23533.  Please make sure the PHP build passes with that PR.

[2020-07-20 14:41] #22182 closed

[2020-07-20 16:09] markdroth opened #23549 "FLAKE: //test/core/end2end:h2_uds_nosec_test@bad_ping[darwin-dbg]"
https://source.cloud.google.com/results/invocations/25f356af-a3e0-4369-8e01-b29396b627d4/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_uds_nosec_test@bad_ping/log

[code]

[2020-07-20 16:27] jiapeish opened #23551 "signal 6 in grpc_chttp2_settings_create"
### What version of gRPC and what language are you using?
1.26.0
C++

### What operating system (Linux, Windows,...) and version?
LInux 3.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.8.5

### What did you do?
We use grpc to connect to ETCD V3.4.6, in our production environment, the process with etcd client(which uses grpc) restart after about 6 days.

[2020-07-20 16:47] Sklodow commented on #23454
@veblush @jtattermusch Can you reproduce the issue?

[2020-07-20 17:13] lidizheng commented on #23461
Triggered one more build: http://sponge/7295e3ed-9d91-4e8b-90bf-d78ddc284d45

[2020-07-20 17:28] jtattermusch commented on #23307
I removed the "RELEASE BLOCKER" label since this is no longer blocking the release.

[2020-07-20 17:47] yang-g commented on #22479
I suspect this is caused by our async shutdown. But it is also possible that it is related to Windows somehow as we do not seem to observe this under Linux.

A while back, when we observed in some corner cases, grpc_shutdown is initiated from a grpc internal thread such as Executor thread. We moved the final grpc_shutdown to a detached thread. It seems like here the detached thread is touching som

[2020-07-20 18:42] veblush commented on #22479
One thing we can consider is to make `GrpcLibraryCodegen` to call `grpc_shutdown_blocking` instead of `grpc_shutdown` so that it can eventually clean it up in a blocking fashion. Because the user application may have a reference to one of resources derived from `GrpcLibraryCodegen`, the main thread is expected to handle `grpc_shutdown_blocking` which is free from the deadlock we tried to address b

[2020-07-20 18:44] coryan commented on #22479
See #20538 that is for Linux, I even included a program and instructions to reproduce the problem.

Yes.  On MSVC, when compiling in debug mode, and linking statically, the MSVC STL has global objects that are destroyed before they are used by your detached thread.  See the notes in #22508 and my analysis in https://github.com/googleapis/google-cloud-cpp/issues/3933

Note that linking dynamically

[2020-07-20 19:02] veblush commented on #22479
Thanks Carlos for the investigation.

Beyond the potential fix to address this problem, this sounds like that MSVC needs some way to handle this problem properly. Having sub-threads outlive shouldn't be a problem. And C Both CRT heap and C++ STD library doesn't mandate this either. So this is a result from how MSVCRT implemented the debug heap and STD containers which are susceptible to this case.

[2020-07-20 22:08] lidizheng opened #23554 "GAPIC test breakage from HEAD"
Today I ran the integration tests for GAPIC microgenerator (for Python client) and our HEAD (master branch). I found it generates several errors. We may not want to pre-release a version that breaks them. I will work on the fix ASAP. This is a release blocker, CC @jtattermusch .

Here are the failures:

[code]

[2020-07-21 02:14] yashykt opened #23559 "call reports empty response payload even if the call ended with an OK status"
Internal bug tracking - b/160009494 (found by @sheenaqotj)

The issue is that if the call deadline fires, it is possible for the transport to drop the incoming messages even if it has received an OK status. This happens in the case that the transport has received the status, closed reads and writes, but it hasn't yet invoked the callback for receiving trailing metadata.

A more detailed explanatio

[2020-07-21 03:03] yashykt commented on #23559
Correction -
I tried 1) but based on the test failures, there seem to be some test assumptions. I didn't dig too deep into the errors. Thinking about it, if some tests depend on behavior 2, then very likely there are also users that assume that cancelling a call should lead to messages being dropped and the call ending quickly. That seems like a reasonable expectation, and actually provides a dece

[2020-07-21 03:37] zyboy2000 opened #23560 "can grpc support the specified source ip(loopbackip)?"
can grpc support the specified source ip(loopbackip)? Thanks!

[2020-07-21 06:08] stanley-cheung commented on #23477
Quick update: we are actively working on this.

[2020-07-21 09:12] jtattermusch commented on #23503
I suggest this two step approach:

1. as POSIX file API is generally not threadsafe (opinions on this matter differ, but it clearly says it's "implementation specific", but as we found it's not guaranteed to work, which is also supported by the experience of other team members such as @nicolasnoble), I suggest marking the grpc_load_file function as "not threadsafe, requires proper synchronization

[2020-07-21 09:28] tony2001 commented on #23477
Very much appreciated! 👍

[2020-07-21 15:51] abravo73 opened #23566 "Unable to run Hello World C# client on Linux"
### What version of gRPC and what language are you using?
2.23, C#

### What operating system (Linux, Windows,...) and version?
Embedded Linux with ARM Cortex A8 processor

### What runtime / compiler are you using (e.g. python version or version of gcc)
Microsoft Visual Studio 2019

### What did you do?
I compiled the Greeter solution in Visual Studio and copied the GreeterClient and GreeterServe

[2020-07-21 17:12] jtattermusch commented on #23461
Both #23552 and #23565 have been merged so this should be fixed.

[2020-07-21 17:12] #23461 closed

[2020-07-21 17:13] jtattermusch commented on #23554
Is there an ETA for this?

[2020-07-21 17:16] donnadionne commented on #23560
Please direct general question like this one to https://stackoverflow.com/search?tab=newest&q=grpc%20is%3aquestion

Your answer may already be there or you can post a new question if it's not.

[2020-07-21 17:16] #23560 closed

[2020-07-21 17:18] lidizheng commented on #23554
A fix PR in our repo should be able to merge today. One error seems like a breakage on their end, but I still haven't found the root cause for the last error. Hopefully, we could resolve it today.

[2020-07-21 17:59] stanley-cheung commented on #23477
@tony2001 Would you by any chance be able to patch in #23567 and try to verify if that fixes the issue? Would really appreciate the help.

[2020-07-21 18:21] tony2001 commented on #23477
Gladly! Gimme a moment to build it & run some tests..

[2020-07-21 19:38] veronicagarciavazquez commented on #23488
Trying https://github.com/grpc/grpc/issues/20344#issuecomment-561559557 but I got stuck in

python tools/run_tests/run_tests.py -l csharp -c opt --build_only

Did you have the following error when doing    tools\run_tests\helper_scripts\build_csharp.bat?

C:\\Users\\XX\\.nuget\\packages\\microsoft.build.tasks.git\\1.0.0-beta2-18618-05\\build\\Microsoft.Build.Tasks.Git.targets(20,5): error MSB4018:

[2020-07-21 19:57] tony2001 commented on #23477
Yep, it does seem to work fine with this fix.
I haven't tried pcntl_fork() yet (will do tomorrow), but all my reproduce cases involving popen/system/exec are now working fine.
Thanks a lot, that was really quick!

[2020-07-21 20:48] #23554 closed

[2020-07-21 20:55] #23536 closed

[2020-07-21 21:08] stanley-cheung commented on #23477
@tony2001 Great to know! Then we will continue onto our test / review / release stuff and will keep you posted. Thanks for checking!

[2020-07-21 23:06] #23559 closed

[2020-07-22 01:07] sustephen commented on #23232
Ran into the similar issue with c++ async bi-directional streaming as well. In our case the delay can be as high as 2 mins. The problem only happens on system that is relatively busy with other socket IOs in the same process. ss is reporting the packet in the RecvQ, however it seems grpc just not reading the packet from socket.
I workaround the issue by calling AsyncNext() with deadline of 1 msec

[2020-07-22 04:09] mohanli-ml opened #23574 "[Feature request] Channelz Sampler"
### Introduction

The gRPC [Channelz](https://github.com/grpc/proposal/blob/master/A14-channelz.md) auxiliary service exposes a lot of useful debug information about the channels and servers in a process. The way it works is by implementing a Channelz client, which use [Channelz RPC services](https://github.com/grpc/grpc/blob/master/src/proto/grpc/channelz/channelz.proto) to query the Channelz ser

[2020-07-22 08:38] tom-r-o commented on #23488
Not sure if it'll solve your issue, but in one of the builds based on https://github.com/grpc/grpc/issues/20344#issuecomment-561559557 I noticed an error that was related to an older VS version, so I installed VS2015 and used its "developer command prompt" to run the build (which worked).

The side effect was that it had mixed up global VS variables, and I had to re-install windows to get vcpkg wo

[2020-07-22 14:16] jtattermusch commented on #23566
The Grpc.Core package uses a pre-compiled native c-core library internally and the nuget package doesn't contain a pre-compiled version of that binary (libgrpc_csharp_ext) for ARM processors.
for .NET desktop / .NET core we currently only support Intel processors.

In theory you can pre-compile the right libgrpc_csharp_ext binary for your platform and use it, but it requires some nontrivial expert

[2020-07-22 14:17] #23566 closed

[2020-07-22 14:18] jtattermusch commented on #23566
Alternatively, you can also try using https://github.com/grpc/grpc-dotnet (which is fully managed and doesn't have the native library limitation)

[2020-07-22 14:29] jtattermusch commented on #23454
We actually do have a distribtest that tests that route_guide example works and that test is passing.
Can you see any obvious differences between what you've done and the steps being done here https://github.com/grpc/grpc/blob/v1.30.x/test/distrib/cpp/run_distrib_test_routeguide.sh?

The script is being continously tested by running in a docker container on our CI.

On master the routeguide test h

[2020-07-22 14:29] jtattermusch commented on #23454
CC @chalin

[2020-07-22 14:33] jtattermusch commented on #23454
@Sklodow  what are the exact commands you ran that resulted in an error?  Also, looks like you used cmake to build grpc and then used route_guide's Makefile to build route_guide? This is exactly what's being tested by our distribtest on master currently:
https://github.com/grpc/grpc/blob/b775f62afbb4e05e20196bd43afb1d4a984a22a8/test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh#L88

[2020-07-22 14:57] tony2001 commented on #23477
@stanley-cheung Stanley, do you have any idea if that's ok that I see two grpc_global_timer threads in an FPM process?
The second one seems to apper after I do an exec() call:
[code]

[2020-07-22 16:31] tony2001 commented on #23477
After some tests with pcntl_fork(), it seems that GRPC still crashes after calling php_grpc_clean_persistent_list().
I do understand that nobody in his/her right mind actually calls fork() in FPM, but still you might want to take a look at it.

Add this little piece of code to the client.php of Echo client in examples:
[code]
It creates a child process that starts listening on the same port instea

[2020-07-22 17:03] markdroth commented on #22883
Another example: When a wait_for_ready RPC hits its deadline, the status message should include the error from the last LB pick.

[2020-07-22 17:25] markdroth commented on #22883
In most LB policies, when we set state to TRANSIENT_FAILURE, we probably want to return just the leaf status (i.e., the status from the last child policy or subchannel that reported a connection failure).  May (or may not) want to do something different for the xds_routing policy, since it may be useful to report which route we attempted to take in addition to the leaf error.

[2020-07-22 17:38] veblush commented on #19675
#23344 replaced `grpc_*.ruby` with the empty files. So it will be expected to be downsized from 1.31.

[2020-07-22 17:38] #19675 closed

[2020-07-22 17:40] veblush commented on #22419
Thanks @chalin. I think it's good enough!

[2020-07-22 17:40] #22419 closed

[2020-07-22 17:47] stanley-cheung commented on #23477
I believe this is expected, and that's how the grpc core handles `fork()`.

[2020-07-22 17:48] stanley-cheung commented on #23477
Thanks for looking into this. But unfortunately, when we first decided to add `fork()` handling for PHP, we only limit our effort to CLI. We don't plan to support handling `fork()` in FPM, both for the unrealistic use case and lack of resources to support this any further.

[2020-07-22 18:08] veblush commented on #23204
@maierlars Sorry for the late response. It seems that the comment and implementation are out of sync. Since the implementation uses `shared_ptr` which takes an ownership, the callback instance shouldn't be local variable or static variable. Let us take a look at this more.

[2020-07-22 18:08] veblush commented on #23204
@vjpai Vijay, can you take a look at this? From the log, you seem to change its implementation.

[2020-07-22 18:12] veblush commented on #23120
I don't think that I have context on this issue. Vijay, can you help me this issue? and @oakad, can you elaborate this a little bit more?

[2020-07-22 18:13] #22741 closed

[2020-07-22 19:34] yashykt commented on #23438
https://github.com/grpc/grpc/pull/19924/files#diff-4ef3a8619db94d8f66a6b6f18ab27c81R1049
Please let me know if you see any other discrepancies, thank you.

Yes

[2020-07-22 20:13] tterrace commented on #22491
Adding `-lc++` to the test invocation in `check_linker_need_libatomic` seems to solve the problem on Catalina 10.15.5.

original error:
[code]

with additional flag:
[code]

[2020-07-22 20:41] yashykt commented on #23438
To make sure that these changes work, would you be able to manually test them?

[2020-07-22 20:42] yashykt commented on #23438
It can be tested by hitting a server with a flood of RST_STREAM or SETTINGS frames

[2020-07-22 20:49] veblush commented on #20194
@RobertBColton @andrewrk Can you elaborate the requirement and use-case more? We're revisiting this issue again and it doesn't seem 100% clear to me why this is necessary for your cases and what gRPC API should look like if it's present. Since   the IO manager does a lot of things, customizing entire of it would be overkill if you just want to wake your event-loop if there is an event. If you have

[2020-07-22 20:56] veblush commented on #14565
We've been working on this for a while and revisiting this to get better understanding of requirements. Since EvenetManager does two things; Polling and Executing callback handlers. I want to know which part you're interested more? Presumably building platform-independent (or dependent if you want to extend the platform gRPC supports) network layer isn't a focus here. So is this about getting even

[2020-07-22 21:01] veblush commented on #13856
Oh I didn't realize that I was assigned to this problem. I don't know the problem much so can you help me understand the problem? Is this something happening now? and is bazel build on the mac completely broken now because of this?

[2020-07-22 21:02] andrewrk commented on #20194
plz no ping

[2020-07-22 21:17] awbraunstein opened #23580 "Bazel python rules don't work correctly when using protobufs that are autogenerated (and in _virtual_imports)"
### What version of gRPC and what language are you using?
master, python/bazel

### What operating system (Linux, Windows,...) and version?
Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)
bazel python 3.7

### What did you do?
I created this PR https://github.com/grpc/grpc/pull/23579 which has a failing test case.

Specifically, using the bazel python rules o

[2020-07-22 21:21] dankegel commented on #14565
The use case is:
an existing library or app with an event loop that uses libuv or libevent
decides to add grpc support without throwing away all the old code.

A minimal solution would include two samples: one showing how to add grpc support to a simple http server for both libuv and libevent.

[2020-07-23 02:29] yashykt commented on #22521
https://source.cloud.google.com/results/invocations/1494e9c0-e279-4db7-8800-a00f5fd932fb/targets/github%2Fgrpc%2Ftoplevel_run_tests_invocations%2Frun_tests_objc_macos_opt_native/tests

[code]
saw this test fail

[2020-07-23 03:24] yadavvineet opened #23583 "Grpc.Tools: Code Generation fails with VS2019 when proto files are added outside of project path"
### What version of gRPC and what language are you using?
.net core 3.1 VS 2019.

### What operating system (Linux, Windows,...) and version?
Windows 10 x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
VS2019 grpc using .net core

### What did you do?

- Created a grpc project using the default template.
- Created another proto file and moved messages in the n

[2020-07-23 07:23] andreafresa opened #23584 "Error in deserializing message from a stream"
### What version of gRPC and what language are you using?
grpcio=1.30.0 (Python)

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.2

### What did you do?
I am receiving a message from a Client with the following protobuf
`syntax ="proto3";

package nbsb;

message SDF {
    Thing thi

[2020-07-23 07:50] karthikravis commented on #23551
@jiapeish : thanks for the issue. can you please provide a simple repro test so it will be helpful to root cause the issue? Thanks!

[2020-07-23 09:30] oakad commented on #23120
I want to use GRPC with flatbuffers. The project I'm working on has flatbuffers pretty ingrained in it, so not feasible to switch to something else. To this end, I need to implement a custom `SerializationTraits<flatbuffers::grpc::Message<T>>` class, which happens to have a `Deserialize` method, like outlined below (a big chunk of lame-ish code with a `thread_local` vector to top it up).

This is

[2020-07-23 09:32] oakad commented on #23120
Just to give credit where it's due: flatbuffers do have an existing implementation of the above in their repo, but it's based on "plain C" grpc_* calls and thus not compatible with newer versions of GRPC library.

[2020-07-23 11:41] pyssling commented on #14565
@veblush this is to avoid having to write our own event dispatching logic. Essentially most of our applications are not just serving gRPC requests, they are either UI applications (with a Qt event loop) or backend applications using for example a boost event loop (boost io_context). Today we solve gRPC integration through threads, gRPC runs on it's own thread - this is workable - but really ugly.

[2020-07-23 11:59] jtattermusch commented on #13856
The problem in short:
1. the exec_ctx.h header is currenly using thread-local variable  (I've been told it's for performance reasons)
2. for some reason bazel build on MacOS won't work when GCC thread locals are using in a header (which is what this issue is about)
3.  because of that, we switched our bazel build on MacOS to pthread thread locals instead (see https://github.com/grpc/grpc/pull/1392

[2020-07-23 12:28] jtattermusch opened #23586 "Repeated cmake development builds are broken"
Reproduction:

Run (with a clean checkout or at least after cleaning cmake/build directory).
[code]
which succeeds.

Right after that, run the same command again
[code]

This time if fails with an error
[code]

E. g. "tests/run_tests.py -l csharp --build_only" behaves the same

[2020-07-23 12:32] jtattermusch commented on #23586
I found that this behavior can be worked around by running `cmake -DgRPC_BUILD_TESTS=OFF -DCMAKE_BUILD_TYPE=Release  -DBUILD_TESTING=OFF ../..`, which could probably help with debugging this issue.

https://github.com/abseil/abseil-cpp/blob/41a6263fd0bcc93a90ff739785f17260f8ea061e/CMakeLists.txt#L111

[2020-07-23 12:35] jtattermusch commented on #23586
Our last update of third_party/abseil-cpp was 5 months ago (https://github.com/grpc/grpc/pull/22279) and this issue seems relatively new, so I don't think that's the culprit.

[2020-07-23 12:50] jtattermusch commented on #23586
Looks like this is caused by https://github.com/grpc/grpc/pull/22987

I tried on https://github.com/grpc/grpc/commit/e1b4a5507c13e32dd12d28de85efb4af49285d97 (just before the re2 PR got merged) and wasn't able to reproduced.

I was able to reproduce on https://github.com/grpc/grpc/commit/be92b122b633d1986f4ad5498d8e781937895576 (right after the PR got merged).

[2020-07-23 12:54] jtattermusch commented on #23586
Looks like the re2's CMakeLists.txt sets the BUILD_TESTING somewhere, which then breaks absl on a subsequent configure?

[2020-07-23 12:58] jtattermusch commented on #23586
re2 does unprotected `include(CTest)` here https://github.com/google/re2/blob/aecba11114cf1fac5497aeb844b6966106de3eb6/CMakeLists.txt#L13

according to absl's comment the behavior is "enable CTest.  This will set BUILD_TESTING to ON unless otherwise specified on the command line"
https://github.com/abseil/abseil-cpp/blob/41a6263fd0bcc93a90ff739785f17260f8ea061e/CMakeLists.txt#L109

[2020-07-23 14:33] JohnGalt1717 commented on #22975
It appears that this should be set with GrpcOutputOptions but it doesn't work.

This fails: <Protobuf Include="../../Account/Account.Proto/**/*.proto" GrpcServices="Both" ProtoRoot="./../.." GrpcOutputOptions="--experimental_allow_proto3_optional" />

[2020-07-23 15:41] eldruin opened #23589 "Support building without c-ares in CMake"
### What version of gRPC and what language are you using?
1.30.2 - C++

### What operating system (Linux, Windows,...) and version?
Ubuntu 16.04, 18.04, Windows 10, macOS (Mojave, Catalina)

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC5, GCC7, VS2017, VS2019, Apple LLVM version 10.0.1 (clang-1001.0.46.4), Apple clang version 11.0.3 (clang-1103.0.32.62)

###

[2020-07-23 16:07] arsoni20 opened #23590 "OverflowError: date value out of range"
self = seconds: 1575237813000

[code]

We are passing a 13 digit nano second digit and when I use MessageToJson(response), I get above error. Could anyone help how to just convert the response to JSON ?

[2020-07-23 18:16] apolcyn opened #23593 "Ruby 1.31.0.pre1 compilation failure with source-only package"
[code]

[code]

Currently the following fails, which is new:

[code]

[2020-07-23 18:49] lidizheng commented on #23584
Is it possible to provide an end to end reproduction case? This is a normal gRPC code path we tests extensively. There could be other factors that makes the request iterator malfunction.

[2020-07-23 18:53] lidizheng commented on #23580
Bazel changes Python's import path setup. Without other settings, the import path has to be relative path from the root of the project. Don't worry about missing `__init__.py` file, Bazel generates them. Or you can specify the [imports](https://docs.bazel.build/versions/master/be/python.html#py_library) field in your `py_library` or `py_test` to notify Python to check additional places for modules

[2020-07-23 19:31] awbraunstein commented on #23580
Did you take a look at my failing test case in https://github.com/grpc/grpc/pull/23579? The issue is that the `py_proto_library` rule here attempts to set the imports value in the `PyImports` provider to a path that isn't correct.

The `PYTHONPATH` when running my example test is:
[code]

As you can see `'/private/var/tmp/_bazel_awb/208fc75c39ef54ec67dd0e032e03ced5/sandbox/darwin-sandbox/1/execroo

[2020-07-23 20:05] yulin-liang opened #23595 "gRPC-C++.podspec 1.31.0.pre1 build failed."
When releasing gRPC-C++.podspec 1.31.0.pre1, I got the following build error.

[code]

[2020-07-23 20:45] veblush commented on #23593
How to reproduce:

[code]

It seems that it's caused by a new re2 dependency.

[2020-07-23 20:47] stanley-cheung commented on #23595
Just a guess:

In the `gRPC-C++.podspec` file, there's section like this: https://github.com/grpc/grpc/blob/master/gRPC-C%2B%2B.podspec#L1177-L1180. Looks like the logic there is looking for some strings matching `upb/(.*)` and is trying to replace it with something else so that `upb/upb.h` can be properly found. But those commands seem to be only operating on .cc / .c / .h file. In this particula

[2020-07-23 20:49] veblush commented on #23593
@donnadionne I think `re2` needs to be added to a dependency list of `ruby_gem` in `build_handwritten.yaml` like php and python targets.

[2020-07-23 20:50] apolcyn commented on #23593
Yep -- there are no re2 files in https://github.com/grpc/grpc/blob/7e7a48f863218f39a1767e1c2b957ca8e4789272/grpc.gemspec#L52, which is generated from https://github.com/grpc/grpc/blob/7e7a48f863218f39a1767e1c2b957ca8e4789272/templates/grpc.gemspec.template#L53

[2020-07-23 20:56] mtahmed commented on #23383
@jiangtaoli2016  Bumping this thread in case it got buried.

[2020-07-23 21:10] markdroth opened #23597 "flake: //test/core/end2end:h2_ssl_proxy_nosec_test@disappearing_server@poller=epoll1[k8-opt]"
https://source.cloud.google.com/results/invocations/28087ae7-7892-441c-8c71-27a3f2354e3e/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_ssl_proxy_nosec_test@disappearing_server@poller%3Depoll1/log

[code]

[2020-07-23 21:30] ZhenLian commented on #23383
Hi @mtahmed,

Yes, you would use `GRPC_TLS_SKIP_ALL_SERVER_VERIFICATION` and provide a custom verification through `TlsServerAuthorizationCheckInterface`, which will do the certificate verification without expiry date check.
gRPC stack currently doesn't have a way to "let the verification continue if the failure is acceptable" as you described, so you would need to do full certificate verification

[2020-07-24 00:12] veblush opened #23604 "Conditional blocking shutdown"
### Is your feature request related to a problem? Please describe.

Currently `grpc_shutdown` always spawns a dedicated detached thread ([code](https://github.com/grpc/grpc/blob/79c129472060b4142be97aba62c37d19cc79d5a8/src/core/lib/surface/init.cc#L221)) for executing the actual clean-up process. This is deliberately designed to prevent a self-join problem which can happen when `grpc_shutdown` is

[2020-07-24 00:23] veblush commented on #22479
gRPC team decided to make shutdown work in a blocking manner if it's not called from an executor thread (meaning it won't have a self-join problem), which is the case mostly for unit-tests (#23604). Since we don't have bandwidth to implement this right now, you can use workaround in the meantime not to get bothered by flaky tests due to this problem. Using `grpc_init` and `grpc_shutdown_blocking`

[2020-07-24 03:04] karthikravis opened #23605 "Basic Tests Python Windows error"
https://source.cloud.google.com/results/invocations/d8888b27-4a47-43cc-8de6-33e68a84462f/log

seen in https://github.com/grpc/grpc/pull/23308

[code]

[2020-07-24 06:25] arsoni20 commented on #23590
@karthikravis could you please advise on this, please? It has become a show blocker for our most important customer.

[2020-07-24 07:47] JACKCHEN96 commented on #23273
Hi, how did you fix this bug then?

[2020-07-24 07:49] SonnyAD commented on #21908
Hey @discodonut would you mind sharing your script?

[2020-07-24 09:32] sramosubi opened #23606 "Unity C#: Xcode reports libgrpc_csharp_ext.a does not contain bitcode"
Hi,

I'm having [this same issue](https://github.com/grpc/grpc/issues/16839) on version 2.30. I saw on the repo that bitcode was enabled to solve the issue, but then the change was reverted. Would it be possible to keep bitcode enabled?

Thank you.

[2020-07-24 16:31] donnadionne commented on #23593
fix: https://github.com/grpc/grpc/pull/23599
backport to 1.31.0: https://github.com/grpc/grpc/pull/23602

[2020-07-24 20:38] sophieyfang commented on #23423
We see similar issue with ruby 2.6.5 and gRPC 1.30.1

[2020-07-24 20:40] apolcyn commented on #23423
@sophieyfang can you try grpc 1.30.2? This includes https://github.com/grpc/grpc/pull/23343

[2020-07-25 01:50] lidizheng commented on #23590
Not an gRPC problem. Closing.

[2020-07-25 01:50] #23590 closed

[2020-07-25 02:20] jiapeish commented on #23551
It's a bit hard to provide a repro test since this coredump has a low probability.

We're continue testing it, if it's reproduced, I'll update the status.

[2020-07-25 08:45] ComptonAlvaro opened #23615 "“Peer name localhost is not in peer certificate” error"
I am trying to connect from the client to the service, but I get this error:

[code]

To create the certificates, I use this script to create them with OpenSSL:

[code]

pause

This is the service:

[code]

And this is the client:

[code]

I don't understand the error. Does it mean that I have to set the IP of the server in the fields of the certificates, perhaps in the common name?

Thanks.

[2020-07-25 18:34] ComptonAlvaro opened #23616 "When I use localhost connect, if I use the IP it doesn't connect"
I run the server and the client in the same computer, for testing. If in the client I use the address localhost it works, but if I use the IP of the computer "192.16.1.33" it fails. The error message is this:

[code]

It seems that the channel is created, because it is the subchannel 0000016821801D70, but for some reason can't get the response from the server.

The code of the server is this:

[co

[2020-07-25 19:14] twadrianlis opened #23617 "[Aio] grpcio 1.3.0 Simplest test fails on Windows with __dealloc__ called on running server"
### What version of gRPC and what language are you using?
grpcio=1.30.0 (Python)

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.1

### What did I do
I was trying to use python grpc on the server with asyncio implementation. Even the simplest examples from unit tests fail just afte

[2020-07-25 20:06] twadrianlis commented on #23617
If I use the latest pre-relased version the error sheds some more light:
[code]

In fact if I just run `init_grpc_aio` manually I do get exception thrown that this is not implemented.

[2020-07-25 21:48] wczyz commented on #21974
Hi, I'm having a similar problem on mac, are there any plans to support openssl built with no-engine?

[2020-07-26 05:58] drchilds commented on #19172
Has any progress been made on this issue? I'm unable to use the latest stable builds in a Xamarin.Forms iOS app, even with the RuntimeIdentifiers and NuGetRuntimeIdentifiers workarounds. 1.22.1 seems to be the latest version that will build.

[2020-07-26 09:52] kalman5 commented on #20418
I'm on 1.28.1 and what I'm observing is:

[code]

and from this moment on, despite the fact the server is in LISTENING it doesn't accept connections anymore, the only way to recover from this is restarting the server

[2020-07-26 11:42] yabli opened #23618 "Client crashes in Retry test. Unhandled exception at 0xXXXX (grpc_csharp_ext.x64.dll)"
### What version of gRPC and what language are you using?
2.31.0-pre1,  C#

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
.net framework v4.7.2

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there

[2020-07-26 13:38] dmitry-saprykin commented on #22980
Ok, thank you

[2020-07-26 13:38] #22980 closed

[2020-07-26 21:40] d5h commented on #23306
You can do this with an interceptor. If you're not sure how, you can check out the [`ExceptionToStatusInterceptor`](https://github.com/d5h-foss/grpc-interceptor/blob/ad5857d584cfa012f3b4c5b17b5f1cd3a5ade8bd/src/grpc_interceptor/exception_to_status.py#L11) interceptor in the [`grpc-interceptor`](https://pypi.org/project/grpc-interceptor/) package, which does almost exactly what you want. (Disclosur

[2020-07-26 23:41] lidizheng commented on #23617
It seems like the `add_reader` asyncio function is not implemented for your platform. This is kind of weird because we do test asyncio on Windows in our CI. Can you take a look at the line of code raising `NotImplementedError`? The `C:\Program Files\Python38\lib\asyncio\events.py` file. I wonder what is it complaining.

[2020-07-27 00:03] twadrianlis commented on #23617
Well from the looks of it, almost every function definition in this file is just pure not implemented stubs:

[code]

The same goes for classes in there and their methods.

I can confirm that my code and the samples run OK on Alpine docker image.

[2020-07-27 00:05] twadrianlis commented on #23617
From the docs at https://docs.python.org/3/library/asyncio-platforms.html

[code]

Might be this the culprit :D ?

[2020-07-27 00:33] lidizheng commented on #23617
Ahh... You are right. The `add_reader` isn't supported by the default Windows event loop policy. This issue wasn't appeared because only 3.8+ Python uses Proactor by default on Windows, and we only testing 3.6 /3.7 on Windows. Thanks for reporting :)

Feel free to suggest any solutions. I would probably dig into alternatives later next week.

CC @pfreixes The polling mechanism needs to have specia

[2020-07-27 03:00] techieshark opened #23621 "what does lameduck as a verb is this repo mean?"
RE: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

As a small improvement, could the docs be updated to clarify what is meant here?

HTTP2 Code | GRPC Code
-- | --
NO_ERROR(0) | INTERNAL - An explicit GRPC status of OK should have been sent but this might be used to aggressively lameduck in some scenarios.

Questions that arise:

1) What does "lameduck" mean? This seems a creative

[2020-07-27 04:40] #23340 closed

[2020-07-27 05:23] rdconnelly opened #23622 "Referencing gRPC causes csproj to always rebuild"
### What version of gRPC and what language are you using?
Grpc and Grpc.Core version 2.30.0

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSBuild

### What did you do?

Added a reference to a Grpc and Grpc.Core reference to my csproj

### What did you expect to see?

The project is not rebuilt

[2020-07-27 10:06] jtattermusch commented on #23593
It good that we have a fix now, but I'm surprised this wasn't caught by the ruby distribtests.
Looks like we are missing a distribtest for ruby source-only packages? Can we add one so this doesn't happen the next time?
(I know for python we do have source package distribtests and they've caught problems before).

[2020-07-27 10:23] acoulton opened #23626 "pecl install is slow and produces massive (55Mb) binary"
### What version of gRPC and what language are you using?

* grpc 1.30.0
* php 7.2.24
* pecl 1.10.12

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.08

### What runtime / compiler are you using (e.g. python version or version of gcc)

pecl

### What did you do?

`time sudo pecl install grpc`

### What did you expect to see?

The extension install in a reasonable timeframe

[2020-07-27 15:40] gitpushdashf commented on #23306
That is fantastic, thank you! For now it turns out there's really just the one call to worry about but if there's multiple I will definitely look into using that.

[2020-07-27 16:49] donnadionne commented on #23621
Please direct general question like this one to https://stackoverflow.com/search?tab=newest&q=grpc%20is%3aquestion

Your answer may already be there or you can post a new question if it's not.

[2020-07-27 16:49] #23621 closed

[2020-07-27 17:41] markdroth commented on #23465
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-07-27 17:41] #23465 closed

[2020-07-27 17:42] markdroth commented on #23474
gRPC 1.14 is quite old.  Please try a more recent version.

[2020-07-27 17:42] #23474 closed

[2020-07-27 17:46] markdroth commented on #23498
The metadata being authenticated by this plugin is sent on a per-RPC basis, and each individual RPC can have different metadata, so the authentication needs to be done on each request.  This cannot be done on a per-connection basis.

Depending on how your AuthMetadataProcessor implementation works, you might consider doing some sort of caching in the implementation to improve performance.

[2020-07-27 17:52] #23518 closed

[2020-07-27 17:54] gnossen commented on #23509
Going ahead and closing due to lack of response from the original poster. Feel free to reopen if you have any further trouble.

[2020-07-27 17:54] #23509 closed

[2020-07-27 17:55] markdroth commented on #23547
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-07-27 17:55] #23547 closed

[2020-07-27 17:57] noahdav commented on #23498
@markdroth There typically is a difference between authentication and authorization.  I understand why authorization needs to occur on every request but why does authentication need to be done like this?  Is there a different way that I can perform the authentication on a per connection basis?

[2020-07-27 18:00] markdroth commented on #23615
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-07-27 18:00] #23615 closed

[2020-07-27 18:06] markdroth commented on #23498
If you're using metadata for either authentication or authorization, the metadata is sent on a per-request basis, so it has to be checked on a per-request basis.  If you want to do authentication on a per-connection basis, consider using something like mTLS.

[2020-07-27 18:21] lidizheng commented on #23315
Thanks for reporting. This indeed has been an issue for years. I filed https://github.com/grpc/grpc/pull/23632 to attempt fixing it.

[2020-07-27 18:26] noahdav commented on #23498
@markdroth I am using the TlsServerAuthorizationCheckConfig on the client when I create the channel.  In my TlsServerAuthorizationCheckInterface I check the server cert.  After digging into this It looks like on the server I am not setting the TlsServerAuthorizationCheckConfig.  I assume this why I am not able to validate the client.

I will set the TlsServerAuthorizationCheckConfig on the server

[2020-07-27 18:55] veronicagarciavazquez commented on #23488
By the way, I attended the gRPC Conf 2020.

I asked the following question in the session "Ask Us Anything: gRPC Maintainers":

Trying to use gRPC on HoloLens 2 (ARM64). I use Unity 2019.3 to build the Visual studio project. Unity uses .NET 4.x or .NET standard 2.0, with IL2CPP backend. Do you think that grpc-dotnet will work on HoloLens 2? If not, do you have any suggestion with grpc.core? With g

[2020-07-27 19:59] falconindy opened #23640 "ASAN failures in both greeter_server and greeter_client."
### What version of gRPC and what language are you using?
grpc 1.30.2
libprotoc 3.11.4

Using C++.

### What operating system (Linux, Windows,...) and version?
Arch Linux, with kernel 5.7.7-arch1-1.

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 10.1.0

### What did you do?
Build the synchronous greeter_server and greeter_client under examples/cpp/helloworld

[2020-07-27 21:56] techieshark commented on #23621
hi @donnadionne thanks for the quick actioning on this! :)

I've updated the title to reflect the fact that I was actually suggesting a change in this repo rather than asking a question. Apologies that wasn't clear earlier.

Given that the change is being proposed in a *documentation file*, it does not seem acceptable to send people off to another _documentation_ site (stackoverflow). Rather, I wo

[2020-07-27 23:40] yabli commented on #23618
Any ideas regarding this please? is this something known? is Retry a feature that has been completed and being widely used with C#? Our first goal of moving to using gRpc is to leverage the Retry feature, if Retry is not ready yet we possibly may need to reconsider the project plan. Much appreciated if any suggestions/details. Thanks a lot!

[2020-07-28 07:02] stanley-cheung commented on #23626
@acoulton  Thanks for the report. Just to clarify - this is not a recent regression right? As in, the PECL extension has always been shipped this way. There's no one particular release where the binary size or build time significantly increased right?

[2020-07-28 07:19] kotori2 opened #23644 "API for setting User-Agent in Python port"
### Is your feature request related to a problem? Please describe.
It seems API for setting customized User-Agent was already added years before. #2661
But there seems not having any Python API for that. I also tried setting metadata like
[code]
but it doesn't work.

### Describe the solution you'd like
add an API for Python to set User-Agent header, or make user-agent header in metadata working.

[2020-07-28 08:50] acoulton commented on #23626
@stanley-cheung thanks - I can't say for sure as we've only started using it quite recently (and only really now are we starting to use it properly). But certainly it's been very consistent across all the (infrequent) builds in that time, both into Docker containers on GCB and now natively onto VMs.

Just looked and the first experimental build we did was on 19th May, we got 1.28.0 and it compiled

[2020-07-28 09:11] connect2satz commented on #22885
Hi Mark,
when can we expect the fix for this issue ?

[2020-07-28 10:48] stanley-cheung opened #23645 "Drop PHP 5 support"
Corresponding RFC: https://github.com/grpc/proposal/pull/165

- PHP 5 has reached end-of-life in Jan 2019.
- PHP 5 accounts for about 6.7% of traffic according to the latest stats: https://blog.packagist.com/php-versions-stats-2020-1-edition/.
- Protobuf has dropped PHP 5 support in the PECL extension in the upcoming 4.0 release.

Two major near-term sub-projects:
 1. Stop testing against PHP 5 in

[2020-07-28 10:51] stanley-cheung commented on #23645
I am going to start making a series of PRs to remove testing against PHP 5 (probably mostly stuff from the `tools` directory and their corresponding Dockerfiles and Python scripts), hopefully soon.

The goal is that, by the time the PR removing PHP 5 code from our PECL extension is created, tests should be mostly passing (because hopefully by then all of the tests will only run against PHP 7).

[2020-07-28 12:44] CodeNinjaUG opened #23646 "google/cloud-firestore v1.11.0 requires ext-grpc * -> the requested PHP extension grpc is missing from your system."
- google/cloud-firestore v1.11.0 requires ext-grpc * -> the requested PHP extension grpc is missing from your system.
We have an issue with grpc extension i have installed it and followed the guide but its not being seen by compilers nor being seen any anywhere i keep getting errors of that sort no changes i have changed the php.ini file and downloaded the extnesion from pecl site and placed it in

[2020-07-28 12:44] handymandorel opened #23647 "Cross-compiling for QNX-700 failing with unsupported XOPEN_SOURCE version"
### What version of gRPC and what language are you using?
Using gRPC: v1.30.2
Language: C++

### What operating system (Linux, Windows,...) and version?
Target platform: QNX-700 64Bit(aarch64)
Host platform: Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
Cross-compiler QCC 5.4.0 (gcc_ntoaarch64le)

### What did you do?
* Cloned gRPC @ v1.30.2 (with

[2020-07-28 13:41] jtattermusch commented on #23645
Feel free to send the reviews to me. I like the simplifications this will result in.

[2020-07-28 13:44] jtattermusch commented on #23645
The tests I know of:
- artifact / package / distribtests
- interop tests
- backward compatibility tests (need to avoid adding new versions of php5)
- run_tests.py tests

Out of curiosity, is there a chance that dropping PHP5 and only using PHP7 would solve the PHP build bug that is causing https://github.com/grpc/grpc/issues/23307?

[2020-07-28 13:52] jtattermusch commented on #23307
Is there any chance that the PHP build system issue that's causing this would be fixed by  removing the PHP5 support? https://github.com/grpc/grpc/issues/23645

[2020-07-28 14:38] markdroth commented on #22885
This was actually fixed recently in #23480.

That having been said, note that this is an internal-only change at this point, since our LB policy API is not yet public.  There's some more work to do in the context of #22883 to actually plumb this information into RPC failure status messages.  The fix to that issue is what will make the error statuses more useful.

[2020-07-28 14:38] #22885 closed

[2020-07-28 14:43] markdroth commented on #23646
This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

[2020-07-28 14:43] #23646 closed

[2020-07-28 17:52] stanley-cheung commented on #23307
Unfortunately no, this PHP build issue persists to PHP 7. The current Artifact Build test (the one that will fail if #23533 is not resolved) is already built on top of a PHP 7.3 docker image. Remember [this discussion](https://github.com/grpc/grpc/pull/23540#discussion_r456752185)?

[2020-07-28 20:27] dipeshjoshi opened #23654 "Missing gRPCTargets.cmake file for hello world grpc with C++."
@jtattermusch

CMake Error at /root/.local/lib/cmake/grpc/gRPCConfig.cmake:14 (include):
  include could not find load file:

    /root/.local/lib/cmake/grpc/gRPCTargets.cmake
Call Stack (most recent call first):
  CMakeLists.txt:116 (find_package)

Though I have refered #13841 and https://stackoverflow.com/questions/57413975/cmake-with-grpc-cannot-find-grpctargets-cmake, Still facing ame issue.

[2020-07-28 20:56] markdroth commented on #14467
@vjpai Does this problem still exist in the C++ callback API?  I'm guessing yes but wanted to verify.

[2020-07-28 23:22] #23315 closed

[2020-07-29 06:43] stanley-cheung opened #23661 "Something is wrong with "Basic Tests C/C++ MacOS" test since Jul 28"
I am not sure what exactly is wrong, but vast majority of the "Basic Tests C/C++ MacOS" PR tests failed today.

Kokoro job: grpc/core/pull_request/macos/grpc_basictests_c_cpp

Dashboard: https://fusion.corp.google.com/projectanalysis/history/KOKORO/prod%3Agrpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_c_cpp

Vast majority of builds start failing since about 10am PDT Jul 28, 2020.

---

A few

[2020-07-29 09:31] dipeshjoshi commented on #23654
It is running now. Actually I was using lower version of cmake. I misinterpreted 3.13 t 3.1.3 and I was using cmake 3.5.1 version.

[2020-07-29 09:31] #23654 closed

[2020-07-29 10:10] jtattermusch commented on #23661
The `client_callback_end2end_test` should have been fixed by the revert here: https://github.com/grpc/grpc/pull/23651
The corresponding internal bug is here: b/161724973

The `async_end2end_test` failures seem new and we only started seeing them very recently:

The first failure I see is from 2020-07-28 14:57:12 UTC
![image](https://user-images.githubusercontent.com/9939684/88787580-5d5d9300-d194-

[2020-07-29 10:24] ComptonAlvaro commented on #23273
The problem to DNS failed it is not to use HTPPS//, just I have to use the IP, "x.x.x.x".

[2020-07-29 10:29] jtattermusch commented on #23589
We don't want to make our build more complex by adding more build options than necessary (=more build options also means combinatorial explosion of scenarios to test / maintain and we don't what to do that).

If you want to use the "native" DNS resolver, you can achieve that at runtime (no rebuild needed at all) by setting env variable `GRPC_DNS_RESOLVER=native` (see more documentation in https://

[2020-07-29 10:29] #23589 closed

[2020-07-29 10:31] jtattermusch commented on #23589
(Closed because what you needed to do is already supported and no changes to build are required).

[2020-07-29 11:42] eldruin commented on #23589
The problem I have is that the c-ares library is always necessary at build time, although we do not want to use it or install it in all our supported (build) platforms.
Anyway for anybody interested, the workaround I listed above works just fine.

[2020-07-29 12:03] connect2satz commented on #22883
Hi Mark,
when can we expect the fix for this issue ?

[2020-07-29 13:03] hkrutzer opened #23663 "Ruby gRPC segfaults when creating ChannelCredentials with nil certificate"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?
MacOS 10.15.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]

### What did you do?
[code]

### What did you expect to see?
Some kind of error message.

### What did you see instead?
A segfault:

[code]

### Anything else we should

[2020-07-29 14:36] markdroth commented on #22883
We have no specific ETA.  It's something we're working on slowly over time.

[2020-07-29 16:47] apolcyn commented on #23273
@ComptonAlvaro re the CERTIFICATE_VERIFY errors when you used localhost, I think https://github.com/grpc/grpc/blob/70f001565b7116638749c30072484bba30b3c244/include/grpc/impl/codegen/grpc_types.h#L271 is likely relevant. When using localhost, you probably need to override the server name used for secure name checking, using that option.

Closing since the DNS issue seems resolved.

[2020-07-29 16:47] #23273 closed

[2020-07-29 19:26] jgornowich opened #23667 "Errors compiling with external protobuf and abseil"
### What version of gRPC and what language are you using?
grpc v1.30.2

### What operating system (Linux, Windows,...) and version?
Linux Mint 19

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

### What did you do? What did you expect to see? What did you see instead?

I am trying to build protobuf against external install

[2020-07-29 20:32] apolcyn opened #23669 "SIGILL in cpp_macos_opt_native.bins/opt/async_end2end_test --gtest_filter=AsyncEnd2end/AsyncEnd2endTest.SimpleServerStreamingWithCoalescingApiWL/13 GRPC_POLL_STRATEGY=poll"
log snippet:

[code]

https://source.cloud.google.com/results/invocations/30c232c7-4c93-4c46-95a8-105075335f91/targets/github%2Fgrpc%2Frun_tests%2Fcpp_macos_opt_native/tests

seen in PR: https://github.com/grpc/grpc/pull/23639

[2020-07-29 20:34] apolcyn commented on #23593
Looks like we are missing a distribtest for ruby source-only packages? Can we add one so this doesn't happen the next time?
(I know for python we do have source package distribtests and they've caught problems before).

Just added a distribtest on master for this in #23639

[2020-07-29 20:36] stanley-cheung commented on #23669
Tracking in #23661 I believe

[2020-07-29 21:50] psigen commented on #20675
I'm still being blocked by this issue as well.

I'd be happy to look into it further, but I can't find much documentation around what `_virtual_imports` and `_virtual_includes` are intended for, and why files would end up in one or the other.  I suspect that the issue might lie in an inconsistency in the behavior of the `cc_proto_library` vs `cc_grpc_library` rules.

Someone who understands more a

[2020-07-29 21:54] psigen commented on #20675
Also, if I want to continue work on this issue: should I petition a grpc maintainer to reopen this issue, or would it be preferable to open a new issue and reference this one from there?

[2020-07-29 22:45] markdroth commented on #23661
Esun, could this be related to the absl synchronization change?

[2020-07-29 22:45] markdroth commented on #23669
Duplicate of #23661.

[2020-07-29 22:45] #23669 closed

[2020-07-29 23:39] rahul342 opened #23672 "[ruby] module path names seems to be broken in >= v1.30.2"
### What version of gRPC and what language are you using?
grpc_tools_ruby_protoc 1.30.2

### What operating system (Linux, Windows,...) and version?
macOS 10.15.5
(Saw a similar issue in docker circleci/golang:1.13 image)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby 2.7.1 (also tried in 2.6.6)

### What did you do?
For v1.30.2 and newer, with the followin

[2020-07-29 23:40] rahul342 commented on #23672
@stanley-cheung Could be from your recent change in https://github.com/grpc/grpc/pull/23501
Thank you!

[2020-07-30 01:28] apolcyn opened #23674 "Failure: XdsTest/ClientLoadReportingWithDropTest.Vanilla/XdsResolverV3WithLoadReporting"
Test expectation failure seen in this test running on MSAN:

[code]

https://source.cloud.google.com/results/invocations/0e01a31e-0c2d-487c-bd38-ccd12254cbe0/targets/%2F%2Ftest%2Fcpp%2Fend2end:xds_end2end_test@poller%3Dpoll/tests

Seen in https://github.com/grpc/grpc/pull/23670

[2020-07-30 01:30] apolcyn opened #23675 "MSAN failure in //test/cpp/codegen:codegen_test_full"
[code]

https://source.cloud.google.com/results/invocations/0e01a31e-0c2d-487c-bd38-ccd12254cbe0/targets/%2F%2Ftest%2Fcpp%2Fcodegen:codegen_test_full/log

Seen in PR: https://github.com/grpc/grpc/pull/23670

[2020-07-30 01:31] #23663 closed

[2020-07-30 08:08] Kryptos-FR commented on #22005
@DanFTRX how did you solve it? I have the exact same issue [HelloWorld tutorial](https://github.com/grpc/grpc/tree/master/examples/csharp/Helloworld) with the only change is that I created the projects with the old format. I'm not sure what assembly bindings I have to use to fix it.

[2020-07-30 08:23] jtattermusch commented on #23661
Actually both, `client_callback_end2end_test` and `async_end2end_test` breakages seem new.
The old client_callback_end2end_test flake has been fixed by #23651 but there is a new flake that only started very recenty:

![image](https://user-images.githubusercontent.com/9939684/88899530-76c31580-d24e-11ea-8b92-247ece2ebc54.png)

[2020-07-30 09:05] erikrenberg commented on #22576
I see the same issue with v1.30.2 and MSVC 19.26.28806.0. (VS 2019 16.6.5).

[2020-07-30 09:18] jtattermusch commented on #23661
This is very likely caused by https://github.com/grpc/grpc/pull/23372 (see my analysis in b/162484508) and I've also found that the PR has caused other breakages.

[2020-07-30 14:06] DanFTRX commented on #22005
@Kryptos-FR I made sure every project is explicitly using the same version of System.Memory.  and also make sure the .exe.config is present next to the .exe

[2020-07-30 15:00] markdroth commented on #23674
@donnadionne just fixed this in #23662.

[2020-07-30 15:00] #23674 closed

[2020-07-30 15:46] maganaluis opened #23681 "Client DNS Resolution with Internal Kubernetes Service"
### What version of gRPC and what language are you using?

Python==3.8
grpcio==1.30.0
grpcio-tools==1.30.0
protobuf==3.12.4

### What operating system (Linux, Windows,...) and version?

Docker Image:
[code]

Kubernetes Version:
1.16

Vendor:
Azure

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’

[2020-07-30 15:58] markdroth commented on #23681
This looks like a problem with your local DNS configuration.  The relevant part of the error is shown in the debug error string:

[code]

If you need more help, please try one of these forums:

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered

[2020-07-30 15:58] #23681 closed

[2020-07-30 16:33] Flamefire opened #23682 "Bazel build using generate_cc fails in custom environment"
### What version of gRPC and what language are you using?

v1.31.0-pre2 (b54a5b338637f92bfcf4b0bc05e0f57a5fd8fadd)

### What operating system (Linux, Windows,...) and version?

Linux, RHEL 7.4

### What runtime / compiler are you using (e.g. python version or version of gcc)

GCC 8

### What did you do?

Build TensorFlow which uses this project in a custom environment (PATH and LD_LIBRARY_PATH set

[2020-07-30 16:55] CoopeyB commented on #20675
We've created a patch for `1.24.2` that works for us (perhaps it could help you as well?):

**grpc_generate_cc.patch**
[code]

This patch is applied in our WORKSPACE file:

[code]

However, this patch doesn't apply to newer versions of GRPC beyond `1.24.2` - the bzl file was refactored, but the virtual includes bug still wasn't fixed (iirc). This patch could be a good start to figure out a fix for

[2020-07-30 17:06] lidizheng commented on #22753
We still want this.

[2020-07-30 18:52] #18995 closed

[2020-07-30 18:57] maganaluis commented on #23681
@markdroth Thank you, I also tried switching the GRPC service to a ClusterIP instead of a NodePort and worked as expected. Posting here in case someone runs into this issue.

[code]

[2020-07-30 19:58] JohnGalt1717 opened #23686 "Grpc.Tools: Allow passing --experimental_allow_proto3_optional (protoc flag) in <protobuf/> definition"
### Is your feature request related to a problem? Please describe.
Right now it's impossible to use items under feature flags like optional with C# as far as I can tell from the docs, multiple stackoverflow posts and looking in the source code.

### Describe the solution you'd like
The <Protobuf/> definition in the csproj files should allow passing options to protoc and this should be documented o

[2020-07-30 20:38] veblush commented on #23675
Fixed by https://github.com/grpc/grpc/pull/23673

[2020-07-30 20:38] #23675 closed

[2020-07-30 21:05] stanley-cheung commented on #23672
We are looking into this.

[2020-07-31 00:00] #23661 closed

[2020-07-31 02:24] veblush opened #23695 "Problem when runnign MSAN tests with GPR_ABSEIL_SYNC enabled"
Currently, gRPC shutdown is done by spawning the dedicated thread which will execute actual shutdown job. This was devised to address the edge case where shutdown needs to run under gRPC thread, which leads a deadlock. But this made another problem; shutdown thread outlives main thread. This is generally benign but MSAN doesn't like this case because subthread might be able to access the global va

[2020-07-31 03:59] act28 opened #23698 "PHP7 pecl install error make: *** [Makefile:1774: third_party/upb/upb/upb.lo] Error 1"
### What version of gRPC and what language are you using?
gRPC 1.30.0 stable, PHP 7.4.8, PEAR Version: 1.10.12

### What operating system (Linux, Windows,...) and version?
Linux manjaro 5.4.52-1-MANJARO #1 SMP PREEMPT Thu Jul 16 16:07:11 UTC 2020 x86_64 GNU/Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc version 10.1.0 (GCC)

### What did you do?
Please

[2020-07-31 06:10] Kryptos-FR commented on #22005
@DanFTRX Seems like my issues were a combination of some bad DLLs in the GAC and a rogue proxy preventing some connections.
Thanks for the reply anyway.

[2020-07-31 06:27] #23586 closed

[2020-07-31 07:42] apolcyn opened #23701 "Timeout failure: c_macos_dbg_native.bins/dbg/sync_test"
[code]

https://source.cloud.google.com/results/invocations/bb696080-a92a-4cc6-8624-21ad28641daa/targets/github%2Fgrpc%2Frun_tests%2Fc_macos_dbg_native/tests

Seen in PR: https://github.com/grpc/grpc/pull/23694

[2020-07-31 07:45] apolcyn opened #23702 "build_docker_go failure due to compilation failure in credentials/tls.go"
[code]

Seen in interop ALTS: https://source.cloud.google.com/results/invocations/986ef0bd-d037-4aa7-b2f0-f2b4ca4e1573/log, on PR: https://github.com/grpc/grpc/pull/23694

[2020-07-31 10:20] zhungxd opened #23704 "cronet_transport crash when grpc-status not zero and with large payload response"
### What version of gRPC and what language are you using?
grpc-core

### What operating system (Linux, Windows,...) and version?
iOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
all version

### What did you do?
cronet_transport crash when grpc-status not zero and with large payload response

### What did you expect to see?
not crash

### What did you see inst

[2020-07-31 13:12] jtattermusch commented on #23616
When using secure connection, the name the client uses for the target need to match what's in the certificate.

Example:
- I want to connect to a server and I use a certificate to verify that I'm connected to the right server (this is how TLS works) to avoid man in the middle attack. The only way to enforce that is that the URL of the server I'm using (e.g I'm connecting to URL server on URL "foo.

[2020-07-31 13:12] #23616 closed

[2020-07-31 13:19] msemik commented on #23702
Have similar issue since today when running grpc gateway

[2020-07-31 14:20] limburgher commented on #23432
Any updates? I'm still seeing this on pre2.

[2020-07-31 14:59] accu4x commented on #23702
Experiencing the same issue as well.

[2020-07-31 17:43] karthikravis opened #23707 "MetadataFlagsTest failed"
https://source.cloud.google.com/results/invocations/b6a2dd77-49ad-4540-911d-dce4546bdb6d/log

Errors/Failures:
unit._metadata_flags_test.MetadataFlagsTest.test_call_wait_for_ready_enabled
traceback:
Traceback (most recent call last):
  File "/usr/lib/python3.7/unittest/case.py", line 59, in testPartExecutor
    yield
  File "/usr/lib/python3.7/unittest/case.py", line 615, in run
    testMethod()

[2020-07-31 17:48] karthikravis opened #23708 "//test/cpp/util:byte_buffer_test failed"
https://source.cloud.google.com/results/invocations/e96c8f93-0ac8-455f-b2ff-814c3e9b1532/log

test/cpp/qps/server_async.cc(595): warning C4503: 'std::_Func_class<_Ret,ServiceType *,ServerContextType *,RequestType *,grpc_impl::ServerAsyncWriter<grpc::testing::SimpleResponse> *,grpc::CompletionQueue *,grpc::ServerCompletionQueue *,void *>::_Reset_impl': decorated name length exceeded, name was trunc

[2020-07-31 18:00] dfawley commented on #23702
Fixed by https://github.com/grpc/grpc-go/pull/3776

[2020-07-31 18:00] #23702 closed

[2020-07-31 18:47] markdroth commented on #23701
Esun, is this related to the absl synchronization change?

[2020-07-31 19:01] discodonut commented on #21908
My apologies for the delay:
https://gist.github.com/discodonut/d88279f956c1f353b96aab465f4eecf5

This has many caveats:
- It will only run on Windows due to ILMerge
- I have not tested the generated .dlls on any platform other than Windows
- The version numbers are all hardcoded just to avoid breaking the script if something changes

This script was really meant to be a band-aid until this bug cou

[2020-07-31 19:03] #23595 closed

[2020-08-01 00:53] stanley-cheung commented on #23661
Verified that "Basic Tests C/C++ MacOS" is green for both pull_request and master now.

[2020-08-02 05:40] #9110 closed

[2020-08-02 08:08] yabli commented on #23618
tried many debugging, while didn't find much since I haven't understood the arch of gRpc.Core yet. While here is what I found.
when client hit CallData::RecvTrailingMetadataReady() once the server response with "UNAVAILABLE" status came to client, both retry_state->recv_initial_metadata_ready_deferred_batch and retry_state->recv_message_ready_deferred_batch were not null, therefore Unref() were ca

[2020-08-02 18:55] FlorianLudwig opened #23711 "grpc-python: calling init_grpc_aio twice results in all grpc calls to hang"
### What version of gRPC and what language are you using?
[code]

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informati

[2020-08-03 03:45] joshua-hester commented on #21773
Compiling with/without your VPN does not make sense for that solution. Most likely just Pods using cache previously installed with later versions. BoringSSL is a heavily used packaged throughout different packages.

Also, the comment about "Pandemic Traffic" is hilarious.. :P

[2020-08-03 06:45] obiwanjacobi opened #23713 "Grpc.Tools 2.30 does not generate correct client code."
Doing my first grpc greeter sample (template) and following the tutorial to create a C# client.
https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio

The following code does not compile with Grpc.Tools v2.30 (`Greeter.GreeterClient` does not exist)
[code]
Grpc.Tools v2.29 works fine.

HIH/2c

[2020-08-03 07:48] darsh-b88 opened #23714 "Do we need this local object grpc_core::ExecCtx exec_ctx; in src/core/ext/transport/chttp2/server/insecure/server_chttp2.cc"
I am working on QNX ARM platform. I am able to compile and generate the binaries successfully.
When I try to use these binaries to run the gRPC server, I am getting a coredump as below:
[code]

After investigation I root caused the issue.
In file **src/core/ext/transport/chttp2/server/insecure/server_chttp2.cc** one local unused object is created **grpc_core::ExecCtx exec_ctx**.
When destructor of

[2020-08-03 17:37] lidizheng commented on #23711
@FlorianLudwig Can you share more details about the hang or share a complete reproduction case? I tested locally multiple init works fine. In your snippet, the hang occurs after you trying to await on a channel instead of after the second init.

[2020-08-03 19:08] lidizheng commented on #23707
This flake is caused by the race condition between obtaining an unused port and assigning it to a server. There isn't a better way to fix this issue. This race wasn't revealed before because Python doesn't check port binding result until recently. Technically, this flake rate should be low.

Please reopen if there is an evidence of high flake rate.

[2020-08-03 19:08] #23707 closed

[2020-08-03 19:44] FlorianLudwig commented on #23711
@lidizheng

FIle: test_23711.py
[code]

With `pytest` and `pytest-asyncio` installed run:
`pytest test_23711.py`

[2020-08-03 19:53] markdroth commented on #19834
Seeing a similar failure in tests.cloud_to_cloud:python:dart_server:timeout_on_sleeping_server:tls.

https://source.cloud.google.com/results/invocations/3a2d3535-2c16-44e7-98a7-0c9e77ef526c/targets/github%2Fgrpc%2Finterop_test/tests

[2020-08-03 20:14] yashykt commented on #23714
Hi, exec_ctx sets up a thread local context that is used by gRPC Core internals, and so even though it is unused in this function, it is still "used". Please continue your investigation. It's much appreciated!

[2020-08-03 20:14] #23714 closed

[2020-08-03 20:23] XinLin opened #23722 "[Objc] Install gRPC plugins and libraries failed with "error: use of undeclared identifier 'GRPC_ARG_HTTP_PROXY' ""
I followed steps [here](https://grpc.io/docs/languages/objective-c/quickstart/)
v1.30.0

Failed on step:

Install gRPC plugins and libraries

$ cd grpc
$ make

Here are the logs:
xinlinp@xinlinp-C02XG1R5JGH6 grpc % make
[MAKE]    Generating /Users/xinlinp/grpc/libs/opt/pkgconfig/grpc.pc
[MAKE]    Generating /Users/xinlinp/grpc/libs/opt/pkgconfig/gpr.pc
[MAKE]    Generating /Users/xinlinp/grpc/libs

[2020-08-03 21:01] yulin-liang commented on #23722
Hi Xinlin, can you try the following commands?
[code]
If it doesn't work, please let me know.

[2020-08-03 21:14] karthikravis opened #23724 "build_artifact.python_manylinux2010_x64_cp37-cp37m failed"
https://source.cloud.google.com/results/invocations/b4044dad-7f94-4099-833c-437a63ee4ad0/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_build_artifacts/log

grpcio_tools-1.32.0.dev0-cp37-cp37m-linux_x86_64.whl is consistent
with the following platform tag: "manylinux2010_x86_64".

The wheel references external versioned symbols in these system-
provided shared libraries: libgcc_s.so.1 with vers

[2020-08-03 21:16] karthikravis opened #23725 "csharp_macos_dbg_native_csharp_Grpc_Reflection_Tests_ReflectionClientServerTest.csharp.Grpc.Reflection.Tests.ReflectionClientServerTest failed"
https://source.cloud.google.com/results/invocations/8149aab6-0b5a-4b14-ba4a-3e9cecdc2bbf/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_macos_dbg_native%2Fcsharp.Grpc.Reflection.Tests.ReflectionClientServerTest/tests

Test Files
    /Volumes/BuildData/tmpfs/src/github/grpc/workspace_csharp_macos_dbg_native/src/csharp/Grpc.Reflection.Tests/bin/Debug/net45/Grpc.Reflection.Tests.exe

Test Filters
    Tes

[2020-08-03 21:19] XinLin commented on #23722
Same error here after

[CXX]     Compiling src/core/ext/filters/client_channel/http_proxy.cc
src/core/ext/filters/client_channel/http_proxy.cc:63:54: error: use of undeclared identifier
      'GRPC_ARG_HTTP_PROXY'
      gpr_strdup(grpc_channel_args_find_string(args, GRPC_ARG_HTTP_PROXY));
                                                     ^
1 error generated.
make: *** [/Users/xinlinp/grpc/objs/

[2020-08-03 21:23] XinLin commented on #23722
I can see `GRPC_ARG_HTTP_PROXY` was defined in `~/grpc/include/grpc/impl/codegen/gpr_types.h `

[2020-08-03 21:44] XinLin commented on #23722
my OS is MacOS 10.15.6

[2020-08-03 22:03] lidizheng commented on #22378
We still want this.

[2020-08-03 22:17] lidizheng commented on #23711
There is a known issue with latest `pytest-asyncio` with v1.30.0. `pytest-asncio` creates new event loop for each tests.

Link to the fix https://github.com/grpc/grpc/pull/23377 and the cause https://github.com/googleapis/gapic-generator-python/issues/491#issuecomment-651419733.

To resolve this issue, the first option is using only one designated event_loop.

[code]

Option 2 is try out our [dail

[2020-08-03 22:18] yulin-liang commented on #23722
Xinlin, have you tried other versions? Does this issue also happen?

[2020-08-03 22:31] yulin-liang commented on #23722
It's really weird, I tried it on three mac machines, but I couldn't reproduce it. Can you follow the [C++ instruction](https://grpc.io/docs/languages/cpp/quickstart/) and use `cmake` to install gRPC plugins. Let's see if it provides more details.

[2020-08-03 22:36] XinLin commented on #23722
Thanks for your quick response!

Yeah, I saw that `make` was deprecated so I will try bazel now...

I tried v1.29.1 and it had a different issue there:

Undefined symbols for architecture x86_64:
  "grpc_core::SplitHostPort(absl::lts_2020_02_25::string_view, std::__1::unique_ptr<char, grpc_core::DefaultDeleteChar>*, std::__1::unique_ptr<char, grpc_core::DefaultDeleteChar>*)", referenced from:

[2020-08-03 23:31] XinLin commented on #23722
what should I do after I did:
[code]
? @yulin-liang

[2020-08-03 23:36] yulin-liang commented on #23722
You can take a look at this instruction(https://github.com/grpc/grpc/tree/master/examples/objective-c/helloworld). The last section is running the example with `Bazel`.

[2020-08-04 03:15] darsh-b88 commented on #23714
Thanks @yashykt for your response. Please let me know if I remove the line, what will affect(with some good example).
Because I am not sure the functionality of the thread local context, which is used by gRPC core internals. If you know any use case which can prove that this is required then please help me to test it and let me know.

Also I am facing the issue "DNS server could not find", when tr

[2020-08-04 04:04] yashykt commented on #23714
We've got a bunch of tests in the test directory. I'm pretty sure something or the other would break. I think what you need to check is what is causing the coredump.

ExecCtx is mostly used as a way of scheduling closures in gRPC Core. If you search for ExecCtx::Run you would see it being used quite frequently.

[2020-08-04 04:21] XinLin commented on #23722
thanks, I followed the cmake steps and this is only way we can run the gRPC HelloWorld!

[2020-08-04 05:32] mehrdadn commented on #21269
I don't believe this is resolved.

[2020-08-04 05:43] yulin-liang commented on #23722
So glad that `cmake` works. It's really weird that `make` failed on your machine. We have tests using makefile on macos, and I couldn't reproduce it on three different mac machines. Looks like it's probably related to your environment.

[2020-08-04 05:43] #23722 closed

[2020-08-04 08:29] hrw commented on #21283
According to pyca/cryptography#5292 (comment) you may try new aarch64 nodes on travis ci (if you are on .com not .org). Those are AWS Graviton2 based so should be faster.

[2020-08-04 12:32] handymandorel commented on #23647
Anything I can add / post here to help with this issue?

[2020-08-04 13:26] jtattermusch commented on #23713
The code you provided definitely should continue working just fine. Can you provide a full reproduction of your problem (an actual .csproj and other needed files, e.g. as a github repo) and also include more additional info (platform, VS version, .NET SDK version, ...) ? Otherwise it seems this seems as some mistake on your side, because problem likely this definitely wouldn't go unnoticed.

[2020-08-04 13:45] jtattermusch commented on #23618
@yabli  can you provide minimal reproduction as a ready-to-use project (e.g. as a github repository)?

[2020-08-04 14:15] jtattermusch commented on #23622
Interesting. https://github.com/grpc/grpc/pull/20859 might really be causing this.
Can you confirm that with Grpc.Core v1.25.0 (before the PR got introduced) doesn't suffer from this problem?

If we confirm that https://github.com/grpc/grpc/pull/20859 has caused this, we can revert it, but that would also break https://github.com/grpc/grpc/issues/20782 again. We'd have to see which one is worse.

[2020-08-04 17:15] obiwanjacobi commented on #23713
Here you go:
https://github.com/obiwanjacobi/Grpc23713

[2020-08-04 17:19] markdroth opened #23730 "FLAKE: //test/core/iomgr:stranded_event_test[darwin-opt]"
https://source.cloud.google.com/results/invocations/a1d7bf59-33c1-48af-9951-790e062a192f/targets/%2F%2Ftest%2Fcore%2Fiomgr:stranded_event_test/log

[code]

[2020-08-04 17:28] apolcyn commented on #23593
this has been fixed

[2020-08-04 17:28] jtattermusch commented on #23593
Fixed on the release branch by #23602.

[2020-08-04 17:28] #23593 closed

[2020-08-04 19:29] SonicGD opened #23736 "Wrong return types in php code"
Hello.

### What version of gRPC and what language are you using?
gRPC 1.30.2.
PHP 7.3

### What operating system (Linux, Windows,...) and version?
Debian 10.5

### What did you do?
Today i've updated gprc-php-plugin and regenerated php code from my protofiles.After that PhpStorm and phpstan started to report type errors. After some research i've found this pr - #22671. It adds `return` phpdoc att

[2020-08-05 04:10] DonnieKim411 commented on #22123
@lidizheng
Do I need to explicitly call `del channel` or `channel.close()` is good enough?

[2020-08-05 06:39] jtattermusch commented on #16118
Let's keep this open.

[2020-08-05 06:53] jtattermusch commented on #22975
`GrpcOutputOptions` won't work because it sets the '--grpc_opt=` command line argument:
https://github.com/grpc/grpc/blob/686e038ba93429116610a49c7a416384c55dabb9/src/csharp/Grpc.Tools/ProtoCompile.cs#L297
https://github.com/grpc/grpc/blob/686e038ba93429116610a49c7a416384c55dabb9/src/csharp/Grpc.Tools/ProtoCompile.cs#L416

Looks like we currently don't have a good way of adding a custom cmdline ar

[2020-08-05 06:57] jtattermusch commented on #20212
We now do have a dependency on absl, so that part shoudn't be a problem anymore, but integrating opencensus in our build probably still pretty complex and needs to be done with a lot of care. I certainly don't have the bandwidth to look into that.

[2020-08-05 08:38] yabli commented on #23618
@jtattermusch, thanks for looking into this. Please find my repro [here ](https://github.com/yabli/grpcTest1). Thanks a lot!

[2020-08-05 08:53] kskalski commented on #22975
It seems we would need to wait for transition of this feature to non-experimental in protobuf library, right? I think having a way to pass custom options to protoc compiler is desirable, because in future similar use-cases might pop up. But you are probably in a more informed position to decide:
- timeline on presence field feature becoming enabled by default
- usefulness of the flag passing featu

[2020-08-05 11:49] JohnGalt1717 commented on #22975
@kskalski I would assume that in the future there would be similar to this, and this is a major blocker for us right now because this feature determines structure and obviously optional results in better nullable types in C# and other languages versus the alternatives.

[2020-08-05 11:53] kskalski commented on #22975
Any idea if this is possible to work around by using Google.Protobuf MSBuild task directly? Or does it have the same limitation and the one from Grpc.Tools is just a consequence of that?

[2020-08-05 14:11] jtattermusch commented on #23713
With you example " dotnet build Grpc23713.sln" has passed on a mac. I'll try on other platforms.

[2020-08-05 14:15] jtattermusch commented on #23713
"dotnet build Grpc23713.sln" has also passed on a Windows machine for me.

 dotnet --version
3.1.301

[2020-08-05 14:19] jtattermusch commented on #23713
I was also able to build without problems with Version 16.6.2 (by opening the solution in the UI and clicking "build solution).
Looks like the problem isn't reproducible?

[2020-08-05 17:08] lidizheng commented on #22123
@DonnieKim411 After the fix since `v1.30.0`, there should be no need for explicit closing to prevent memory leak. But it also requires the application to mind the life span of the channel object. For simplicity and clarity, `with grpc.secure_channel as ...:` and `channel.close()` are still good options.

[2020-08-05 17:22] darsh-b88 commented on #23714
The core dump is occurred in function grpc_combiner_continue_exec_ctx () at   line:
grpc_core::Combiner* lock = grpc_core::ExecCtx::Get()->combiner_data()->active_combiner;

I checked what is NULL, and found that grpc_core::ExecCtx::Get()->combiner_data() = NULL.

I tried to put the logs, where this variable are set, but its not hitting any of the code.
Help me to debug this, if you can.

[2020-08-05 17:28] darsh-b88 commented on #23714
My code is simple as below, (After following the helloworld and async code)
[code]

[2020-08-05 17:59] gnossen commented on #23644
As the PR you referenced points out, this was implemented in Core years ago. While it's not well documented and not especially pretty, you should be able to access [that functionality](https://github.com/grpc/grpc/blob/6c3ec4460f51f6b8a509381dbd3eedef43f75c90/include/grpc/impl/codegen/grpc_types.h#L247) today like this:

[code]

[2020-08-05 18:21] vpatodia opened #23741 "(SIGBUS) Bus Error on armv8-a while creating channel in grpc_chttp2_transport::grpc_chttp2_transport"
### What version of gRPC and what language are you using?
GRPC Rev:(CPP)
Commit 8517f67ff6081d6024aaf6dfd3e4de1d5f1f0d7c
Merge: bbb1783 da9b036
Author: Mark D. Roth <roth@google.com>
Date:   Fri Jul 24 17:07:06 2020 -0700

    Merge pull request #23612 from markdroth/xds_v3_build_fix

    Fix BUILD file for import.

### What operating system (Linux, Windows,...) and version?
Ubuntu SMP Fri May 2 2

[2020-08-05 18:27] mmlb opened #23742 "Python grpcio 1.31.0 doesn't build on alpine-3.12"
### What version of gRPC and what language are you using?
Python 3.8.5
grpcio 1.31.0

### What operating system (Linux, Windows,...) and version?
Alpine Linux 3.12 docker container in Linux host

### What runtime / compiler are you using (e.g. python version or version of gcc)
python-3.8.5
gcc-9.3

### What did you do?
`pip install grpcio` in an alpine-3.12 container

### What did you expect to se

[2020-08-05 18:41] gnossen commented on #23742
[code]

Have you tried installing Linux headers? `apk add linux-headers`?

[2020-08-05 18:43] #23644 closed

[2020-08-05 18:59] mmlb commented on #23742
This was a simple dep upgrade, 1.30.0 builds fine as-is. Let me try that now.

[2020-08-05 19:04] mmlb commented on #23742
Yep that was it!

[2020-08-05 19:06] mmlb commented on #23742
Thanks for the quick help @gnossen, should pypi docs mention the need for this?

[2020-08-05 19:19] gnossen opened #23745 "Document Native Python Dependencies on PyPi-visible Documentation"
https://github.com/grpc/grpc/issues/23742 is one example of many instances where users compiling their own wheels have been surprised by native dependencies. We should do a thorough survey of all of these packages and then document them so that they are visible on the PyPI page.

[2020-08-05 19:19] gnossen commented on #23742
Probably a good idea. I've filed a bug for it: https://github.com/grpc/grpc/issues/23745

[2020-08-05 19:19] #23742 closed

[2020-08-05 19:30] HunterLarco commented on #20828
bump~

[2020-08-05 19:30] nonbob commented on #13447
There is a lightly used implementation at https://github.com/cyanfish/grpc-dotnet-namedpipes

The readme has a nice list of reasons why you might want this vs grpc or grpc-dotnet (which I will reproduce here) - plus a caveat that the implementation uses an incompatible wire protocol.

Better access controls (e.g. current user only)
Lightweight pure .NET library (instead of 3MB+ native DLL or ASP.N

[2020-08-05 20:07] dazuma opened #23746 "[ruby] grpc protoc plugin could generate broken request/response namespaces"
### What version of gRPC and what language are you using?

gRPC 1.30.2 on Ruby on Ubuntu bionic. Specifically the protoc plugin distributed as part of https://rubygems.org/gems/grpc-tools/versions/1.30.2

### What did you do?

Running the grpc protoc plugin on the [grafeas.v1 proto](https://github.com/googleapis/googleapis/tree/master/grafeas/v1) (as part of client library codegen).

The result lo

[2020-08-05 20:09] stanley-cheung commented on #23746
Probably dupe of #23672?

[2020-08-05 20:11] dazuma commented on #23746
@stanley-cheung Ah yes, that does look like the same issue. Consider this a remedy suggestion.

[2020-08-05 20:13] stanley-cheung commented on #23746
Thanks for confirming. We are working on this.

[2020-08-05 21:09] lidizheng opened #23747 "[Flake] grpc_ios_binary_size"
[code]

https://source.cloud.google.com/results/invocations/c16be152-6a94-49b5-aaac-7930691d567a/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_ios_binary_size/log

[2020-08-05 23:18] noseratio commented on #13447
There is also StreamJsonRpc, worth mentioning: https://github.com/microsoft/vs-streamjsonrpc

[2020-08-06 00:37] jayv commented on #22783
We're seeing similar errors when linking in a library that's compiled with asan/ubsan  (no sanitizers are enabled on the grpc application that consumes the library)
[code]

[2020-08-06 00:45] mchiang-goo commented on #22251
Using 2.26-0-dev causes another error when I import generated csharp files:

`error CS1729: 'GeneratedClrTypeInfo' does not contain a constructor that takes 7 arguments`

Environment and tools used:
Unity 2019.2.13f1
protoc 3.12.4
grpc_csharp_plugin (from grpc.tools 2.31.0)

What is the consensus on a solve for these related issues?

[2020-08-06 03:20] darsh-b88 commented on #23714
@yashykt any hints for me?

[2020-08-06 05:17] obiwanjacobi commented on #23713
I hate it when that happens :-)
It may not be a problem with v2.30 specifically because I also had this issue when adding a new .proto to my existing (then working) project... After some fiddling it generated the client class correctly - of course I am not sure what I did exactly.

Would it help if I turn on detailed logging?

This is the code that is generated on my machine - it's missing the cli

[2020-08-06 05:39] stanley-cheung opened #23750 "Go client timeout on Interop Cloud to Cloud tests"
All the interop cloud-to-cloud tests involving Go clients seem to start failing since 11am Aug 5 PDT.

Dashboard (master): https://fusion.corp.google.com/projectanalysis/summary/KOKORO/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_tocloud

Log example: https://source.cloud.google.com/results/invocations/b429d843-9d0d-4fb5-a90c-0bcf43414373/targets/grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_toc

[2020-08-06 06:47] jijiwawa opened #23751 "The current Makefile is not applicable to non-Intel platforms(like arm)."
### What version of gRPC and what language are you using?
branch master
c++

### What operating system (Linux, Windows,...) and version?
Linux centos7.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.3

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s no

[2020-08-06 12:11] ps142020 opened #23753 "14 socket closed"
Hi, I am running C++ helloworld with client and server on different terminal on ubuntu 18.04 and see "14: Socket closed" I see previously many folks faced this but did not see a root cause or solution, can someone help?  This happens continuously for me. This is the first time am running grpc. Attaching the logs of client server collected with GRPC_VERBOSITY=debug GRPC_TRACE=tcp,http,api

cmake ve

[2020-08-06 16:56] anujbiyani commented on #8798
Copying @blowmage 's bump [from earlier](https://github.com/grpc/grpc/issues/8798#issuecomment-528396349):

[2020-08-06 20:43] mchiang-goo commented on #22251
I ended up getting things working by using an older version of protoc and grpc_csharp_plugin:

Mac OSX Mojave
- Protoc (v3.8) and grpc_csharp_plugin ([grpc-protoc_macos_x64-1.26.0-dev.tar.gz](https://packages.grpc.io/archive/2019/12/a02d6b9be81cbadb60eed88b3b44498ba27bcba9-edd81ac6-e3d1-461a-a263-2b06ae913c3f/index.xml)) was used to compile and generate code files from proto.
- [grpc_unity_package

[2020-08-06 21:24] yxue opened #23754 "grpc::ServiceAccountJWTAccessCredentials generates JWT token with = padding"
### What version of gRPC and what language are you using?
c++

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc

### What did you do?
Client side:
I am using `grpc::ServiceAccountJWTAccessCredentials` to add JWT token in the grpc request.

[code]

Server side:
I am using Envoy as the ingress gat

[2020-08-07 01:21] fahhem opened #23760 "Python support for channels from file descriptors"
### Is your feature request related to a problem? Please describe.

We need a way for a client to connect to a server that is potentially behind a firewall. Our solution is to have the server initiate the TCP connection, but would then like to pass that establish connection into a grpc Channel to then use grpc as expected. We use Python for the client and server, otherwise this would be possible i

[2020-08-07 01:24] maged commented on #23760
It would also be nice to get this into `secure_channel` if possible.

[2020-08-07 01:44] Nithisha-BR opened #23761 "GRPC Setup for CPP client server using Visual Studio 2017"
Hi,

Myself Nithish. I want to use GRPC for one of my application. I am using Visual Studio 2017 with CPP.  I am not getting proper channel to setup the environment for windows system using visual studio to use GRPC. Kindly guide me to the proper channel. Any help will be appreciated.

[2020-08-07 06:21] ps142020 commented on #23753
@nicolasnoble any thoughts on this issue? i am unable to make any progress with gRPC

[2020-08-07 08:01] ernestas-poskus commented on #22980
@dmitry-saprykin did you find the cause of issue?

[2020-08-07 09:19] ps142020 commented on #23753
@lukasgit pls see above

[2020-08-07 12:39] Alxspb opened #23764 "Completion queue never shutdown"
### What version of gRPC and what language are you using?
v1.31.0 (C++)

### What operating system (Linux, Windows,...) and version?
Linux Centos 6

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 4.8.5 (std=c++11)

### What did you do?
Bidirection Async Streaming request is being handled by interface wrapped around gPRC structs to avoid concurrent tags in que

[2020-08-07 12:54] Alxspb commented on #23764
Will give piece of higher-level logs:
[code]
- `>>` - tag is sent to cq
- `<<` - tag is returned from cq (OK = ok flag from AsyncNext)
- `pending` - means we are waiting for some concurrent tag to return
- when recognizer is not responding it's forced to close by calling cq->Shutdown() (and waiting for event to completely delete it's cq)
- AsyncNext(...) is performed with current_time + 1ms deadli

[2020-08-07 13:25] Alxspb commented on #23764
Full grpc log (after call is initialized till queue is hanged)
[stderr.log](https://github.com/grpc/grpc/files/5041603/stderr.log)

[2020-08-07 14:17] yashykt commented on #20828
Hey @nicolasnoble are you working on this? If not, we should mark this as disposition/help wanted

[2020-08-07 14:24] vjpai commented on #23764
Finish waits for status (or deadline exceeded). Is the server actually sending status or do you have a deadline expiring for the RPC in any way?

[2020-08-07 14:33] yashykt commented on #23714
combiner_data() simply returns the address of combiner_data_ which is a part of ExecCtx object. Given that the stack trace shows that we are in the destructor of ExecCtx, the object definitely exists but it looks like for some reason it wasn't set in tls properly.

This can happen due to a few reasons -
1) TLS is using the wrong configuration. We have a few implementations of tls depending on the

[2020-08-07 15:36] darsh-b88 commented on #23714
Thanks @yashykt for you response. Previously I was using GPR_GCC_TLS after debugging this I found the same issue as you mention in point 1, so I changed to GPR_PTHREAD_TLS. Now it seems no crash, but now it is hang at BuildAndStart() function.

[2020-08-07 15:37] Alxspb commented on #23764
We know nothing about server. As I see from gRPC logs, server sending trailing metadata after client's WritesDone call. Client's interface just getting Read tag with status ok then. So to end call we're calling Finish method. If session is hanging in that state we want to forcibly close it and clear resources.
But unfortunately, calling Shutdown method doing nothing.

[2020-08-07 16:41] vjpai commented on #23764
Thanks for the info, do you have the grpc log showing the server sending trailing metadata? That would have the status so that should trigger the CQ event for Finish.

[2020-08-07 16:47] Alxspb commented on #23764
Yep, I've attached full gRPC log for that rpc call in comments before.

[2020-08-07 18:12] stanley-cheung commented on #23746
@dazuma A question: does it make more sense to go back to the 1.30.1 behavior to generate
[code]
if the classes are all in the same package? Instead of
[code]

[2020-08-07 18:53] mkaroshi opened #23767 "grpc library keeps retrying openssl connection, even though client received certificate expired message from server."
### What version of gRPC and what language are you using?
v1.24, go

### What operating system (Linux, Windows,...) and version?
yocto

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39.0.3)

### What did you do?
I used go gnmi client, which uses grpc library. The gnmi client tries to establish TLS connection with grpc serv

[2020-08-07 19:59] xa4a opened #23769 "[bazel][python] py_grpc_library() doesn't transitively provide its dependencies"
### What version of gRPC and what language are you using?

Bazel rules_proto_grpc-1.0.2 , rules_python-0.0.2

### What operating system (Linux, Windows,...) and version?

Bazel on a Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel Build: 3.4.1-

### What did you do?
I have a bazel workspace with a **proto message** definition under `//proto`, a **grpc se

[2020-08-07 20:08] dmitry-saprykin commented on #22980
@ernestas-poskus No, I use REST API as workaround and this issue is in technical debt to revisit later.

[2020-08-07 20:14] stanley-cheung commented on #23686
There is another way to test proto3 optional when the feature is under experimental. See https://github.com/protocolbuffers/protobuf/blob/master/docs/implementing_proto3_presence.md#satisfying-the-experimental-check

There is an example there:

[code]

So you can try that with `--csharp_out` and the corresponding `--grpc_out` I suppose.

[2020-08-07 20:15] stanley-cheung commented on #22975
There is another way to test proto3 optional when the feature is under experimental. See https://github.com/protocolbuffers/protobuf/blob/master/docs/implementing_proto3_presence.md#satisfying-the-experimental-check

There is an example there:

[code]

So you can try that with `--csharp_out` and the corresponding `--grpc_out` I suppose.

[2020-08-07 22:13] pm-energid commented on #22576
I hope we can get a working windows dll build some day!

[2020-08-07 22:29] almogh52 commented on #13447
Any news?

[2020-08-09 02:39] Mauratay commented on #21773
@joshua-hester can you elaborate about that please?

[2020-08-09 03:05] Mauratay commented on #21773
Refer to: https://github.com/firebase/firebase-ios-sdk/issues/4994#issuecomment-592763815

[2020-08-09 06:28] vuggg opened #23772 "Running .NET Core with Grpc on Docker (alpine linux) fails with "Error loading shared library ld-linux-x86-64.so.2""
I'm build a web API app using .NET core and gRPC for Csharp.

In Local, It work verry well, but when I build container and run it on Docker Desktop, receive:

[code]
[code]

[code]

[2020-08-09 06:38] kaushalyap commented on #9316
@stanley-cheung Please reopen this issue as @arjunyel mentioned

[2020-08-09 13:44] vuggg commented on #23772
solved

[2020-08-09 14:11] vuggg commented on #23772
Same error when call method:
[code]

[2020-08-09 19:00] #20939 closed

[2020-08-10 01:00] #22403 closed

[2020-08-10 01:00] #22266 closed

[2020-08-10 07:04] rajmondx opened #23773 "grpc_cli: Multiple `--proto_path`"
protoc supports multiple `--proto_path` arguments to specify extra paths to search for .proto files in.

It would be nice if `grpc_cli` would support this.

[2020-08-10 07:14] togis123 opened #23774 "gRPC client disconnection from server"
togis123 @togis123 12:38
I bringing up gRPC client-server C ++ application. I have following queries will designing the thread modelling and connection management

-> How do gRPC server knows that if a client got disconnected from the server. Is there any context maintained in the server for each client.?

-> By using the gRPC keep alive server can ping the client as well or its other way alone.?

[2020-08-10 08:13] xylix commented on #19430
I'm also having similar problems running grpc in docker

[2020-08-10 12:26] connect2satz commented on #22883
Hi Mark,
is there any update on the fix ?

[2020-08-10 14:13] ErrReporter opened #23775 "Dropped status codes from `gsec_aead_crypter_decrypt_iovec()`"
### What version of gRPC and what language are you using?
ec216362a1247c378e9cbab4eecaa19f31837b3b
Latest

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the

[2020-08-10 14:39] ErrReporter opened #23776 "Inconsistent conversion of status codes from `gsec_aead_crypter_nonce_length()`"
### What version of gRPC and what language are you using?
ec216362a1247c378e9cbab4eecaa19f31837b3b
Latest

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the

[2020-08-10 15:24] ErrReporter opened #23777 "Inconsistent GRPC status code comversion to TSI status"
### What version of gRPC and what language are you using?
ec216362a1247c378e9cbab4eecaa19f31837b3b
Latest

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the

[2020-08-10 15:36] ErrReporter opened #23778 "Dropped TSI status from `create_alts_grpc_record_protocol()`"
### What version of gRPC and what language are you using?
ec216362a1247c378e9cbab4eecaa19f31837b3b
Latest

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the

[2020-08-10 16:04] ErrReporter opened #23779 "Dropped status codes from `tsi_handshaker_extract_peer()`"
### What version of gRPC and what language are you using?
ec216362a1247c378e9cbab4eecaa19f31837b3b
Latest

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 10

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the

[2020-08-10 16:55] vpatodia commented on #23741
@nicolasnoble could you please look at this issue ?

[2020-08-10 17:24] splittingred commented on #23746
@stanley-cheung In my opinion, it would be preferable to always use the absolute name pathing, so that we always ensure resolution is correct. In the former, this can cause issues with cross-package names.

[2020-08-10 17:33] #23210 closed

[2020-08-10 19:10] dazuma commented on #23746
@stanley-cheung If we can guarantee that the classes are in the same namespace, then it _is safe_ to use the relative names because the constant lookup algorithm looks there first. However, for generated code, I say it's still _preferred_ to use the full path, if for nothing else then to stave off future bugs if a class ever gets moved to a different namespace.

[2020-08-10 20:53] lidizheng opened #23784 "gRPC Python gevent integration doesn't work on Windows with Python 3.8+"
https://source.cloud.google.com/results/invocations/e77b31f7-3e96-47e2-988e-770c02fcb2c4/targets;collapsed=failed

Related: #23617 #23692 https://github.com/grpc/grpc/pull/23783

It looks like the tests went straight to deadlock without any log.

[2020-08-10 22:08] markdroth opened #23785 "go cloud-to-cloud interop test timeouts and failures"
Looks like most of the go cloud-to-cloud interop tests are failing, some with timeouts and some with outright failures:

https://source.cloud.google.com/results/invocations/40c3c099-447a-4134-8e99-7047f145c08f/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[2020-08-10 22:18] menghanl commented on #23785
This is a dup of #23750.
Potentially caused by https://github.com/grpc/grpc-go/pull/3786
@easwars is taking a look

[2020-08-10 22:18] #23785 closed

[2020-08-10 22:18] menghanl commented on #23750
Potentially caused by grpc/grpc-go#3786
@easwars is taking a look

[2020-08-10 23:26] easwars commented on #23750
This should take care: https://github.com/grpc/grpc-go/pull/3804

[2020-08-11 00:00] stanley-cheung commented on #23750
Looks like we are getting back some green builds! Will monitor a little more. Thanks!

[2020-08-11 01:45] #21164 closed

[2020-08-11 01:45] #21220 closed

[2020-08-11 01:45] #13501 closed

[2020-08-11 01:45] #13379 closed

[2020-08-11 01:45] #15154 closed

[2020-08-11 02:40] cloutiertyler commented on #22251
@mchiang-goo Having the exact same issue. Is that the latest version of protobuf that this will work with?

[2020-08-11 03:02] mchiang-goo commented on #22251
@cloutiertyler Yup, just reference protobuf/src with -I. My very messy script to generate files looks like this:

[code]

[2020-08-11 10:24] #22496 closed

[2020-08-11 14:17] RicCu commented on #8079
Any updates?

[2020-08-11 14:37] ashf opened #23789 "(c++) gRPC client in Windows Service fails due to an absl::strcat call (for release build only)"
### What version of gRPC and what language are you using?
VCPKG: grpc:x86-windows 1.29.1 (c++)

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC v142

### What did you do?
I have been implementing a simple Windows Service (https://www.codeproject.com/Articles/499465/Simple-Windows-Service-

[2020-08-11 14:59] yabli commented on #23618
@jtattermusch, have you get chance take a look? can you repro using the project I prepared? any information you can share will be appreciated. thanks

[2020-08-11 15:32] agaoglu commented on #23618
we are also experiencing this in mono on linux, any info would be great

[2020-08-11 16:03] PierrickVoulet opened #23790 "PHP: AbstractCall fails with 32bit timeout value in options"
Initially [reported](https://github.com/googleads/google-ads-php/issues/393) by @adrianlaraperez88

### What version of gRPC and what language are you using?
PHP
1.31.0

### What operating system (Linux, Windows,...) and version?
32bit
Windows local W10, server W server 2012

### What runtime / compiler are you using (e.g. python version or version of gcc)
PHP extension installed and configured

#

[2020-08-11 16:09] John-Oula commented on #23190
Has anybody solved this yet?
def __init__(self, n: int, e: int) -> None: Syntax error

Im on python3.7

[2020-08-11 17:54] #23750 closed

[2020-08-11 20:23] #19728 closed

[2020-08-11 20:24] lidizheng commented on #19431
Fixed by https://github.com/grpc/grpc/pull/23632. After all, we picked the first solution.

[2020-08-11 20:24] #19431 closed

[2020-08-12 00:12] huguesalary opened #23796 "segfault in `1.31.0`"
### What version of gRPC and what language are you using?

Python `1.31.0`.

### What operating system (Linux, Windows,...) and version?

`Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 x86_64 x86_64 GNU/Linux`

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python `3.5.9`

### What did you do?

Upgraded to `1.31.0`

### What did you exp

[2020-08-12 00:34] jvesely opened #23797 "grpcio Python module fails to build on IBM/z (s390x) machine"
### What version of gRPC and what language are you using?
Python grpcio-1.31

### What operating system (Linux, Windows,...) and version?
Ubuntu Linux 18.04.03

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.6/3.7/3.8 the package is built using gcc 7.4.0

### What did you do?

pip install grpcio

### What did you expect to see?

package installs

### Wha

[2020-08-12 01:09] huguesalary commented on #23796
Hopefully this will help; this is the backtrace generated by GDB when analyzing the core dump:

[code]

[2020-08-12 04:41] togis123 commented on #23774
Any updates?

[2020-08-12 12:20] ctr06 opened #23802 "grpcio Python on Windows 10"
### What version of gRPC and what language are you using?
Python38-32
grpcio 1.31.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8

### What did you do?
py -m pip install --upgrade -r requirements.txt

### What did you expect to see?
package installs from my requirements.txt file

[2020-08-12 14:38] ravichiripurapu opened #23803 "I'm trying to connect to grpc server with negotiation type TLS"
I'm looking for a similar kind of functionality in grpc python but I could not find it. Is it available in Python grpc.

Here is similar code in Java
NettyChannelBuilder.forAddress(endpoint.getHost(), endpoint.getPort())
        .negotiationType(NegotiationType.TLS)
        .sslContext(GrpcSslContexts.forClient().trustManager(InsecureTrustManagerFactory.INSTANCE)
                .keyManager(new Fi

[2020-08-12 15:27] DrHardReset commented on #23713
Today I was setting up my first grpc greeter sample, too.
I faced the exactly same problem like you when using the tutorial  https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio.

In step "Add greet.proto" I added the following to my project file:

[code]

As it just added a folder with a dead link to my project, I deleted the link and added

[2020-08-12 17:32] lidizheng commented on #23802
You are trying to install `grpcio==1.12.0` in the `requirements.txt`. Can you bump up the version and try again?

[2020-08-12 18:28] mkaroshi commented on #23767
Any update?

[2020-08-12 19:09] apolcyn commented on #23803
For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

That said, I believe this is covered in these docs: https://grpc.io/d

[2020-08-12 19:09] #23803 closed

[2020-08-12 19:17] gnossen commented on #23797
@nicolasnoble can provide more detail, but we do not support the IBM Z platform. We're happy to accept patches that expand support, but since we don't have access to the hardware, we can't run continuous integration on it and therefore can't claim any level of support for it.

[2020-08-12 19:17] #23797 closed

[2020-08-12 19:20] apolcyn commented on #23779
This issue doesn't appear refer to any actual problem, so I'm going to close. If this causes a real issue, then please explain what the problem is that this causes. Ideally in the form of a reproducibly failing test.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specific

[2020-08-12 19:20] #23779 closed

[2020-08-12 19:21] apolcyn commented on #23778
This issue doesn't appear refer to any actual problem, so I'm going to close. If this causes a real issue, then please explain what the problem is that this causes. Ideally in the form of a reproducibly failing test.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specific

[2020-08-12 19:21] #23778 closed

[2020-08-12 19:21] apolcyn commented on #23777
This issue doesn't appear refer to any actual problem, so I'm going to close. If this causes a real issue, then please explain what the problem is that this causes. Ideally in the form of a reproducibly failing test.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specific

[2020-08-12 19:21] #23777 closed

[2020-08-12 19:21] apolcyn commented on #23776
This issue doesn't appear refer to any actual problem, so I'm going to close. If this causes a real issue, then please explain what the problem is that this causes. Ideally in the form of a reproducibly failing test.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specific

[2020-08-12 19:21] #23776 closed

[2020-08-12 19:22] apolcyn commented on #23775
This issue doesn't appear refer to any actual problem, so I'm going to close. If this causes a real issue, then please explain what the problem is that this causes. Ideally in the form of a reproducibly failing test.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specific

[2020-08-12 19:22] #23775 closed

[2020-08-12 19:25] gnossen commented on #23796
CC @veblush

[2020-08-12 19:30] apolcyn commented on #23774
Closing since this is a question.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answers at grpc.io mailing list: https://groups.google.com/forum/#!forum/grpc-io

That said:

Outside of application

[2020-08-12 19:30] #23774 closed

[2020-08-12 19:36] apolcyn commented on #23767
This issue does not point out any actual problems. If there is a real problem, please explain, ideally in the form of a reproducibly failing test case. Otherwise, this would appear to be working as intended.

So closing because this seems like a question rather than a bug.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverfl

[2020-08-12 19:36] #23767 closed

[2020-08-12 19:41] apolcyn commented on #23761
Please see the examples under the examples directory on this repo as a starting point.

This form is for bug reports and feature requests only.

For general questions and troubleshooting, please ask/look for answers at StackOverflow, with "grpc" tag: https://stackoverflow.com/questions/tagged/grpc

For questions that specifically need to be answered by gRPC team members, please ask/look for answer

[2020-08-12 19:41] #23761 closed

[2020-08-12 19:47] apolcyn commented on #23753
Please paste the client and server log file contents directly into this github issue, rather than linked to as docx files.

[2020-08-12 19:50] stanley-cheung commented on #23790
Seems similar to #18916, which we don't really have a solution for now.

[2020-08-12 19:51] jiangtaoli2016 commented on #23754
I suspect the problem is on the Envoy side. Please check with Envoy folks first.

[2020-08-12 19:52] huguesalary commented on #23796
After re-running tests, this seems to also affect version `1.30.0`, which makes me think it something else is wrong.

A coworker of mine noted the presence of this error too:
[code]

I've seen a few conversations around discussing similar issues and that seemed related to fork.

<details><summary>Also, here's some more stack traces</summary>

[code]

</details>

[2020-08-12 19:52] gnossen commented on #23760
This sounds totally reasonable. Thank you for offering to do the legwork here. One thing that will have to happen to get this into the public API is to do a quick write-up (gRFC) for the changes since they're an addition to the public API. ([details on that](https://github.com/grpc/proposal)).

I'd be happy to be your point of contact and help you with any question / troubles with CI you might hav

[2020-08-12 19:56] lukasgit commented on #23753
#2427

[2020-08-12 19:57] lukasgit commented on #23753
This issue is being tracked in https://github.com/googleapis/google-cloud-php/issues/2427

[2020-08-12 19:58] gnossen commented on #23796
@huguesalary The stack trace looks slightly different in your most recent comment. Which thread segfaulted in that case? Thread 6?

[2020-08-12 20:01] mkaroshi commented on #23767
When you receive SSL error message from the server such as certificate expired, the gnmi client which uses grpc library, should not send client hello again. Since the error messages are final. Whats the use of retrying(sending client hello again)?

    On Wednesday, August 12, 2020, 12:37:12 PM PDT, apolcyn <notifications@github.com> wrote:

This issue does not point out any actual problems. If th

[2020-08-12 20:11] huguesalary commented on #23796
I somehow managed to loose the trace and can't generate another one right now, but, I believe `thread 6` was the one that segfaulted in the trace I posted in https://github.com/grpc/grpc/issues/23796#issuecomment-673076915

Now, I also had instances where the segfault that occured looked exactly like `thread 1`.

[2020-08-12 21:21] jvesely commented on #23797
This doesn't make sense. Travis CI is free and includes IBM/Z platform, so you can run CI (it's in the name -- Travis *CI*)
Reading more than just the headline would reveal that.

I'd understand if there are other reasons to not support a niche platform, but "can't do CI" is both cheap and not true.

[2020-08-12 21:43] ejona86 opened #23808 "`gcloud docker` is deprecated and will stop working"
Creating GCR interop_matrix images uses `gcloud docker`. It uses it [in the readme](https://github.com/grpc/grpc/blob/1b025b60e45972d8cb844839c03c314fbe9036a1/tools/interop_matrix/README.md#step-by-step-instructions-for-adding-a-gcr-image-for-a-new-release-for-compatibility-test) and also [create_matrix_images.py](https://github.com/grpc/grpc/blob/c4dd07aa7527f0904532d459321ea5b6c301d103/tools/int

[2020-08-12 21:51] nicolasnoble commented on #23797
The major issue with Travis is that its free tier is absolutely not scalable for the truly enormous amount of testing we are doing for gRPC (I can't share numbers, but the amount of CPU we're burning on Google Compute Engine for gRPC testing is absolutely mind boggling), and their paid-for tier requires write access to the repository, which our security team won't let us have.

[2020-08-12 22:19] apolcyn commented on #23767
For one, it's not clear that the error is final -- what guarantees that the second connect attempt will go to the same exact server and so result in the exact same error, for example?

[2020-08-12 22:24] mkaroshi commented on #23767
Thank you so much for your reply. Your answer makes sense.
    On Wednesday, August 12, 2020, 03:20:04 PM PDT, apolcyn <notifications@github.com> wrote:

For one, it's not clear that the error is final -- what guarantees that the second connect attempt will go to the same exact server and so result in the exact same error, for example?

—
You are receiving this because you authored the thread.
Rep

[2020-08-12 23:43] ras0219 commented on #23488
You could try using a custom triplet[1] to build with /MT

[code]

[1] https://github.com/microsoft/vcpkg/tree/master/docs/users/triplets.md

[2020-08-13 03:53] #22890 closed

[2020-08-13 04:12] noahdav commented on #23498
@markdroth can you point me to mTLS examples?  On my server I am trying to validate the client.  After digging into this more
I am trying to figure out how to validate the client cert on the channel.  Looking at the grpc_impl::experimental::TlsCredentialsOptions the server_authorization_auth_config is only valid on client credentials not server credentials.

grpc_impl::experimental::TlsCredentials

[2020-08-13 05:05] noahdav opened #23811 "Authenticate TLS client channel"
### What version of gRPC and what language are you using?
1.29.1

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
MSVC

### What did you do?
I am trying to validate the client TLS certificate during the channel connection not on every request.  This can be done in the rpc itself using the auth_co

[2020-08-13 05:13] ErrReporter commented on #23775
I don't understand why you closed the issues so quickly. To our understanding of your [document](https://grpc.github.io/grpc/core/md_doc_statuscodes.html), the `GRPC_STATUS_INVALID_ARGUMENT` is caused by invalid inputs from the client. I believe if this error occurs, there shall be illegal input from the clients. That is why I mentioned the error should be kept rather than converting to a `GRPC_ST

[2020-08-13 07:07] ctr06 commented on #23802
@lidizheng thank you, that worked perfectly. 👍

[2020-08-13 11:13] Seabizkit commented on #21867
how is this close when its still an issue am i missing something

[2020-08-13 11:26] vivainio commented on #21867
@Seabizkit it's closed because workaround for builds encountering this problem has been provided, and the underlying issue seems unfixable in grpc package side.

[2020-08-13 11:41] Seabizkit commented on #21867
@vivainio could a "better"* version of the fix be explained, in term of how to implement,

where  does "<SkipGrpcNativeLibsCopy>" go and what setting (true/false), and then what needs to happen after.

could a simpler version be explained.... which files and settings... its hard to follow as it is.
I have even downloaded the sample project, and trying to see how that applies.

where does "<SkipGrp

[2020-08-13 12:03] vivainio commented on #21867
@Seabizkit I added Usage section to https://github.com/vivainio/GrpcNativeLibsCopier README. We should probably continue discussion there if you can't it working so I can improve it, as this ticket is closed

[2020-08-13 13:14] wongdu opened #23814 "got “error LNK2019 public: void __cdecl grpc_impl::CompletionQueue::Shutdown(void)”"
got a link error "public: void __cdecl grpc_impl::CompletionQueue::Shutdown(void)" when call CompletionQueue::Shutdown on windows10 platform,but when build in the debug mode, it's ok. how to fix it

[2020-08-13 14:09] Nexus-GT-One opened #23816 "Objective-C in framework user gRPC for pod"
I want to Quote gRPC from pod，but xcode show the error
/Pods/Protobuf/objectivec/GPBUtilities_PackagePrivate.h:85:3: Include the header <string.h> or explicitly provide a declaration for 'memcpy'

but I set #include <string.h>

it dosn't work

[2020-08-13 14:56] markdroth commented on #23498
@jiangtaoli2016, can you please advise this user as to the right way to set up mTLS today?

[2020-08-13 15:25] jiangtaoli2016 commented on #23498
Server authorization is designed for validating server's identity on the client side. In web PKI semantics, client verifies server's hostname against server's x509 cert. In SPIFFE, server's hostname does not necessarily match the SPIFFE identity in the server's x509 cert, thus we provide a server authz callback.

@noahdav Why standard certificate validation does not work in your use case?

[2020-08-13 15:32] jvesely commented on #23797
Since the FOSS offerring was migrated to travis-ci.com, there shouldn't be a difference between the level of access for the free and paid offering.
The github app permissions are:
 Read access to code, metadata, and pull requests
 Read and write access to checks, commit statuses, deployments, and repository hooks

Unless there's a major difference in the app used for trial/academic plan vs. paid p

[2020-08-13 17:00] huguesalary commented on #23796
After deploying `1.30.0` on our production systems, the number of segfaults went down to 0.

So, although I was able to create a segfault with `1.30.0` on my own machines, it does seem `1.30.0` is more stable than `1.31.0`

[2020-08-13 17:21] noahdav commented on #23498
@jiangtaoli2016 I am trying to setup mutual auth.  We are a foundation service in Azure.  In this environment there is a custom PKI infrastructure certificate which in addition to TLS also has an ACL which needs to be verified.  On the client we use the TlsServerAuthorizationCheckConfig to validate the server cert matches the server ACL we expect.  However on the server we also need a way to valid

[2020-08-13 17:30] yulin-liang commented on #23816
Could you share your podspec file?

[2020-08-13 17:34] abb3r opened #23819 "Build broken when switched to grpc 1.31.0"
Although source code includes grpc++/grpc++.h and it worked correctly on previous versions.
But on 1.31 build broke with an error:
[code]
and could only be fixed by further including
[code]
in the source code. Is this the intended behaviour or a bug indeed?

[2020-08-13 18:25] jiangtaoli2016 commented on #23498
I see you use case now.

@yihuazhang @ZhenLian FYI. Given grpc core does not support revocation check now. It may make sense to expose ServerAuthorizationCheckConfig to server side as well.  So that application can use this callback to do whatever per-connection check needed.

We may also want to rename it, rather than `ServerAuthorizationCheckConfig`, rename to `AuthorizationCheckConfig`

[2020-08-13 18:31] noahdav commented on #23498
Is this something you can provide in the near future?  If not can we provide a PR for this?  If so can you point me at anything to get me started?

[2020-08-13 18:48] #23802 closed

[2020-08-13 21:04] markdroth opened #23822 "FAILURE: github/grpc/run_tests/ruby_linux_opt_native/tools/run_tests/helper_scripts/run_ruby.sh[default]"
https://source.cloud.google.com/results/invocations/64b714e6-b0a7-4bae-a0bd-06caefaf2e57/targets/github%2Fgrpc%2Frun_tests%2Fruby_linux_opt_native%2Ftools%2Frun_tests%2Fhelper_scripts%2Frun_ruby.sh/tests

[code]

[2020-08-13 21:27] ZhenLian commented on #23498
For changing `ServerAuthorizationCheckConfig` to `AuthorizationCheckConfig`, I can do the changes in Core as I am changing the tls_security_connector for new credential reloading logic, but I think this also involves updating the Core API and C++ wrapper, which might take some time. @jiangtaoli2016 are we sure we want to make such changes?
 TlsCredentialReloadConfig should work for both sides, but

[2020-08-13 22:30] jiangtaoli2016 commented on #23498
@ZhenLian Let's discuss offline.

[2020-08-14 01:22] yxue commented on #23754
Thanks! @jiangtaoli2016 I check the authorization header in Envoy log in the server side and found the "=" in the jwt token. Is there any way to dump the request in the client side to help diagnose?

[2020-08-14 02:56] #21660 closed

[2020-08-14 02:56] #22605 closed

[2020-08-14 04:37] noahdav commented on #23498
@ZhenLian this new distributor-provider based reloading sounds very intriguing to our scenario.  Since our certs regularly rotate and the old ones get deleted this seems like a perfect use case for this new provider.  We could just tell it that we have new certs when the cert is rotated before it is deleted.  Can you please give us more information on this and let us know when this is ready and we

[2020-08-14 06:49] lsylusiyao opened #23829 "grpc csharp dealing with multi connections"
### What version of gRPC and what language are you using?
grpc 2.13.0, C#

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
dotnet core 3.1 desktop

### What did you do?
I used grpc to create a wrapper for a class ( Let's call it `MyEnv' ), which basically looks like this.

[code]

The client I

[2020-08-14 07:10] tzehetner commented on #23522
I was able to resolve the problem. It wasn't the fault of gRPC. Sorry for stealing your time.

[2020-08-14 07:10] #23522 closed

[2020-08-14 09:03] tony2001 opened #23833 "mysterious deadlock in stop_threads() from timer_manager.cc (explained)"
We're using the latest available version of PHP GRPC extension - 1.31.0 on Linux servers, GCC is quite new, 8 probably, it doesn't really matter in this case.

We have quite a lot of servers running PHP scripts and some of these scripts are ran from crontab, i.e. a regular cronjob starts a launcher script that forks (yes, FORKS) to process some jobs.

We don't really use GRPC extension (yet), but

[2020-08-14 09:19] stanley-cheung commented on #23833
Thanks for the detail report! We will look into this.

[2020-08-14 09:36] #16210 closed

[2020-08-14 10:24] jtattermusch commented on #23713
Looks like the problem was due to incorrectly setting `"GrpcServices="Server"` in `<Protobuf ... />`?

[2020-08-14 11:14] xurei commented on #20500
I noticed that running the archive command in the CLI twice sometimes works.
This makes me think that its some kind of race condition...

[code]

[2020-08-14 12:36] obiwanjacobi commented on #23713
@jtattermusch that is the server/service! That should say `Server`!
The problem is in the client -the console app in my example- which has the correct setting:
https://github.com/obiwanjacobi/Grpc23713/blob/afa629e6b36ac65532a844b3e8c40b31de75c942/ConsoleApp1/ConsoleApp1.csproj#L22
Please reopen the issue.

[2020-08-14 14:17] jtattermusch commented on #23713
@obiwanjacobi  are you saying that you can reproduce with "dotnet build Grpc23713.sln" on windows with dotnet SDK 3.1.302?

Also, in https://github.com/grpc/grpc/issues/23713#issuecomment-669702130 you mentioned that things started working for you "after some fiddling" - so it's unclear whether you can still reproduce or if the problem went away.
Without a proper reproduction there's little we can

[2020-08-14 16:21] obiwanjacobi commented on #23713
I tried the following:
1. Added a copy of greet.proto to the server. Named it greet2 and changed the package, namespace and service name with a 2-postfix.
2. Dragged and dropped the new .proto file into my client (console) project. That generated an entry in the .csproj file with `GrpcServices="Server"` - changed that to Client and saved the .csproj.
3. Tagged on the 2-postfix to the code in Progr

[2020-08-14 16:48] nicolasnoble commented on #23797
![image](https://user-images.githubusercontent.com/7281574/90273049-300b1900-de13-11ea-9a94-b0e00be8b720.png)
¯\_(ツ)_/¯

[2020-08-14 18:26] #23672 closed

[2020-08-14 18:41] rahul342 commented on #23672
@stanley-cheung Thank you!

[2020-08-14 23:23] gnossen opened #23847 "Pull subprocess test mechanism out to a common place"
#21458 introduces a testing mechanism that runs a test in a fresh subprocess in order to isolate per-process state, but includes that code nearly verbatim twice -- once under `tools/distrib/python/grpcio_tools` and once under `src/python/grpcio_tests`. There isn't currently a good mechanism to share code between these two locations.

Such a mechanism should be added and the duplication should be e

[2020-08-15 01:26] Nexus-GT-One commented on #23816
Pod::Spec.new do |s|
  s.name     = "gRPCDemo"#名称
  s.version  = "0.0.1"#版本号
  s.license  = "Apache License, Version 2.0"#开源协议
  s.authors  = { 'gRPC contributors' => 'grpc-io@googlegroups.com' }#作者信息
  s.homepage = "https://grpc.io/"#主页,这里要填写可以访问到的地址，不然验证不通过
  s.summary = "gRPCDemo Project"#简短介绍，下面是详细介绍
  s.source = { :git => 'https://github.com/grpc/grpc.git' } #项目地址，这里不支持ssh的地址，验证不通过，只支持HTTP和HT

[2020-08-15 01:27] Nexus-GT-One commented on #23816
Pod::Spec.new do |s|
  s.name     = "gRPCDemo"#名称
  s.version  = "0.0.1"#版本号
  s.license  = "Apache License, Version 2.0"#开源协议
  s.authors  = { 'gRPC contributors' => 'grpc-io@googlegroups.com' }#作者信息
  s.homepage = "https://grpc.io/"#主页,这里要填写可以访问到的地址，不然验证不通过
  s.summary = "gRPCDemo Project"#简短介绍，下面是详细介绍
  s.source = { :git => 'https://github.com/grpc/grpc.git' } #项目地址，这里不支持ssh的地址，验证不通过，只支持HTTP和HT

[2020-08-15 03:26] YSZhuoyang opened #23852 "Incorrect warnings when multiple paths are specified in `ProtoRoot` attribute"
### What version of gRPC and what language are you using?

gRPC-dotnet v2.31.0
C#

### What operating system (Linux, Windows,...) and version?

macOS 10.15

### What runtime / compiler are you using (e.g. python version or version of gcc)

dotnet core v3.1

### What did you do?

Compile gRPC contracts with multiple paths specified in `ProtoRoot` attribute, in order to import specific proto files f

[2020-08-15 16:56] tathastu871 opened #23853 "Port it to termux. Please"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Error log
[code]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've

[2020-08-16 15:38] mmontes11 commented on #7945
Any updates os this ?

[2020-08-16 15:49] #22912 closed

[2020-08-17 03:49] #22033 closed

[2020-08-17 06:17] yulin-liang commented on #23816
Can you try to follow this [instruction](https://chromium.googlesource.com/external/github.com/grpc/grpc/+/HEAD/src/objective-c/README.md) to generate your podspec file?

[2020-08-17 08:15] #22474 closed

[2020-08-17 09:40] randrewy opened #23854 "Using proto_lite to compile gRPC with package protobuf provider lead to linker errors"
### What version of gRPC and what language are you using?
C++
gRPC v1.28.x
protobuf v3.7.0-rc.2-756-gfe1790ca0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2017 (v141)

### What did you do?
#### Build protobuf with CMake
[code]
#### Build gRPC using protobuf package provider

[2020-08-17 13:23] jtattermusch commented on #19176
Not seen for a while.

[2020-08-17 13:23] #19176 closed

[2020-08-17 13:31] AntonQubecinema commented on #20802
@yashykt is there any hope that this will be resolved?

[2020-08-17 13:44] jtattermusch commented on #23772
Looks like this might be some issue when trying to run on alpine linux.
You might want to try with a docker image that's based on a different distro (ubuntu debian).

[2020-08-17 13:47] jtattermusch commented on #23772
.NET core also offers docker images based on Ubuntu and Debian
https://hub.docker.com/_/microsoft-dotnet-core-sdk  - likely that will solve your issue.

[2020-08-17 13:54] coryan commented on #23604
@veblush I just sent #23857 to fix this problem. I removed the test environment cleanup code to demonstrate that it works, happy to restore that code if you think it is still useful.

[2020-08-17 14:01] limburgher commented on #23432
Do we have an ETA for a fix? Still seeing this on 1.31.0 final.

[2020-08-17 17:54] #23711 closed

[2020-08-17 17:58] lidizheng commented on #23617
Should be fixed by #23783. The fix will release with `v1.32.0` soon.

[2020-08-17 17:58] #23617 closed

[2020-08-17 19:31] stanley-cheung commented on #23746
@dazuma The fix should be in `1.31.1` now. Can you please check it out? Thanks!

[2020-08-17 19:31] #23746 closed

[2020-08-17 19:31] stanley-cheung commented on #23672
@rahul342 The fix should be in `1.31.1` now. Can you please check it out? Thanks!

[2020-08-17 20:45] YanlongLi opened #23861 "Default value for channel option 'grpc.max_concurrent_streams'"
I tried to search information about the default value for **grpc.max_concurrent_streams** and when we should set the value explicitly in server side and client side, but I don't see too much documents about it.

Also, I also want to check the default value for  **grpc.min_reconnect_backoff_ms**, **max_reconnect_backoff_ms** and **grpc.max_reconnect_backoff_ms**.

[2020-08-17 21:11] AGSaidi commented on #23373
What infrastructure do you need @nicolasnoble? TravisCI does support Arm builds now and the Graviton2 ones are quite fast.

[2020-08-17 21:35] stanley-cheung commented on #8859
This has been updated.

grpc.io (main website) -> Docs -> Languages -> PHP -> API Reference, which will land you to https://grpc.github.io/grpc/php/namespace_grpc.

We have updated the generated documentation to include both the .c|.h classes from the PECL extension, as well as the .php classes from our composer package.

[2020-08-17 21:35] #8859 closed

[2020-08-18 00:50] veblush commented on #23796
Two things that might be relevant to this come to my mind:
- New artifacts for `manylinux2014` is added from 1.31. You can try `manylinux2010` artifacts by running `pip --platform manylinux2010`.
-  Added TCP_USER_TIMEOUT auto-detection (https://github.com/grpc/grpc/pull/23401). This shouldn't be invasive but this never been used in Python so chances are something isn't properly done.

Another int

[2020-08-18 07:11] yashykt commented on #20802
This should not have been closed, sorry for that!
 @veblush ping

[2020-08-18 08:28] yashykt commented on #20802
I decided to take a look myself since it seemed interesting.

I was unable to replicate the build instructions exactly, so I had to copy over the content to my existing setup.

Looking at the example, I was first suspicious of the name 'option' being used. I would expect protobuf to treat that as a keyword and give an error on compilation, but surprisingly it did not.

On running the example with

[2020-08-18 08:36] AntonQubecinema commented on #20802
@yashykt thanks for your response!
Please let me know if you have any questions.

[2020-08-18 08:57] yashykt commented on #20802
My above response does use grpc_cli so it does not seem to be reproducible with a C++ client (grpc_cli).

I tried creating a Python client too and this time TestFailed did fail with the following log -
[code]

I did suspect that the field name 'option' might be causing an issue but that turned out to not be the case, since TestFailed still failed even after changing the field name to 'optiona'.

B

[2020-08-18 09:04] yashykt commented on #20802
(Lidi, Richard: I've got an internal setup ready for reproducing the bug if the steps provided by @AntonQubecinema do not work for you either)

[2020-08-18 09:11] SaschaHeyer commented on #6046
Is this still in progress?

[2020-08-18 09:11] jtattermusch commented on #14653
To summarize:
The issues mentioned in this issue seem to have a common factor of service being run in a managed environment (e.g. Google Appengine Flex, AKS etc.). What seems to happen is the managed environment kills existing connections after a while (e.g. after max connection lifetime determined by the environment is reached or after a period of inactivity on that connection when a loadbalancer

[2020-08-18 09:11] #14653 closed

[2020-08-18 11:42] santigl opened #23881 "ClientWriter::Write() does not return false when stream is closed by the server"
### What version of gRPC and what language are you using?
gRPC v1.16 with C++

### What operating system (Linux, Windows,...) and version?
Debian testing

### What runtime / compiler are you using (e.g. python version or version of gcc)
GCC 8.3.0

### What did you do?
Taking the `RecordRoute()` call defined in [examples/protos](https://github.com/grpc/grpc/blob/master/examples/protos/route_guide.p

[2020-08-18 16:05] msschl commented on #23686
Needed feature 👍

@stanley-cheung I tried your suggestion but unfortunately it's not working.

[2020-08-18 17:19] veblush commented on #23861
Not sure about the which library but in general, default values for those would be (those are found in .cc source files)

- `MAX_CONCURRENT_STREAMS`: 4294967295u
- `GRPC_SUBCHANNEL_RECONNECT_MIN_TIMEOUT_SECONDS`: 20
- `GRPC_SUBCHANNEL_RECONNECT_MAX_BACKOFF_SECONDS`: 120

[2020-08-18 17:30] #18100 closed

[2020-08-18 17:37] #19905 closed

[2020-08-18 17:45] lidizheng commented on #6046
This project is close to graduate from experimental stage https://github.com/grpc/grpc/pull/23240. We have been shipping parts by parts since `v1.25.0`. The API reference can be found at https://grpc.github.io/grpc/python/grpc_asyncio.html.

[2020-08-18 17:49] veblush commented on #23881
I believe this was fixed. Can you please test this with the latest version of gRPC?

[2020-08-18 17:56] veblush commented on #14565
Thanks you @dankegel and @pyssling for the detail. I like to understand more about this.

- @dankegel, Why do you need to throw away the old code if you need to use gRPC? gRPC should be able to work independently.

- @pyssling Can you show me what your custom dispatch code look like? and why do you want to combine two dispatch logics (gRPC and your existing one like boost io_context) into one? Is

[2020-08-18 18:45] dankegel commented on #14565
libwebsockets does support multiple event libraries; see https://libwebsockets.org/git/libwebsockets/tree/lib/event-libs
so there is precedent.

One would have to throw away the old code if grpc forced you to change event libraries.

[2020-08-18 22:46] pyssling commented on #14565
@veblush I'm afraid I can't share that code with you at the moment - it would require a bit too much work to separate it. But the method used is quite simple:

We have a thread that calls m_completionQueue->Next( &tag, &ok ) . Once it receives the tag it will simply pass this tag to another thread that does the processing. I.e. we have a thread here that does quite little other than passing tags t

[2020-08-18 23:16] lidizheng commented on #20802
After running the example, I can reproduce the error. However, I find Python client serializes the `TestFailedRequest` successfully and the `StatusCode.INTERNAL` was returned by Core as an event.

[2020-08-19 00:08] lidizheng commented on #20802
Unfortunately, this doesn't seem like a gRPC Python issue but an issue between ProtoBuf and Core. gRPC Python client's behavior looks legit but peer returned internal error.

@AntonQubecinema Can you help to provide the tracing log for both the Python client and the C++ server? To turn on tracing, set environment variable `GRPC_TRACE=all` and `GRPC_VERBOSITY=debug`. See https://github.com/grpc/grp

[2020-08-19 00:48] yashykt commented on #20802
@lidizheng did the internal repro not work for you?

[2020-08-19 03:20] leon0204 commented on #22581
pip3 install --upgrade pip && pip3 install grpcio==1.28.1
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simp

[2020-08-19 07:13] joaobrittoneto opened #23889 "Grpc 1.31.1 ruby gem fails on ARM"
### What version of gRPC and what language are you using?
grpc 1.31.1
ruby 2.3

### What operating system (Linux, Windows,...) and version?
Linux (Ubuntu 16.04)
arch **aarch64**

### What runtime / compiler are you using (e.g. python version or version of gcc)
Ruby gem 2.5.2.1
g++ (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609

### What did you do?
sudo gem install grpc -v '1.31.1' --sourc

[2020-08-19 12:14] chaoyebugao commented on #19172
Same problem...

[2020-08-19 12:27] santigl commented on #23881
@veblush: I tried it with v1.31.0 and I could still see the stream not getting closed immediately.

However, in the executions I made (this time inside a Docker container), `writer->Write()` started to return `false` after around 5-8 calls to it (running the client different times yielded different numbers).

[2020-08-19 12:30] rustyx commented on #19954
Note that this error occurs also when incorrectly invoking `new Channel("https://host:port", ...)` instead of `new Channel("host:port", ...)`

[2020-08-19 16:17] syurchenko commented on #23796
I have the same problem.
After upgrading python dependencies in project we started to get kubernetes pods restart with celery workers.
There were no logs, no tracebacks, no exceptions. We enabled python faulthandler [https://blog.richard.do/2018/03/18/how-to-debug-segmentation-fault-in-python/](https://blog.richard.do/2018/03/18/how-to-debug-segmentation-fault-in-python/) and got different traceba

[2020-08-19 16:20] syurchenko commented on #23796
Some examples
`Fatal Python error: Segmentation fault                                                   ││
│ my_process Thread 0x00007fb7bfb21740 (most recent call first):                                             ││
│ my_process  File "/usr/local/lib/python3.8/site-packages/kombu/utils/eventio.py", line 84 in poll                           ││
│ my_process  File "/usr/local/lib/python3.8/site-pa

[2020-08-19 19:50] lidizheng commented on #20802
@yashykt It works (is reproducible). But I still can't get the tracing log with debug build.

[2020-08-19 22:29] #23704 closed

[2020-08-19 23:29] veblush commented on #23881
@santigl Thank you for the test. If you eventually got the `false`, it might be because it takes the client sometime to receive the status change from the server.

@yashykt WDTY?

[2020-08-19 23:45] veblush commented on #23889
This seems to be affected by https://github.com/grpc/grpc/pull/23357.

[2020-08-20 00:41] yashykt commented on #23881
That seems to be working as expected.

[2020-08-20 00:43] yashykt commented on #23881
ClientWriter::Write() should only start failing once the client see the end of stream.

[2020-08-20 03:43] yashykt commented on #23542
Hi, gRPC is trying to move away from Makefiles and is preferring bazel instead.

[2020-08-20 10:42] AntonQubecinema commented on #20802
Please see the attached files, @yashykt , @lidizheng
[client.log](https://github.com/grpc/grpc/files/5102404/client.log)
[server.log](https://github.com/grpc/grpc/files/5102405/server.log)

[2020-08-20 11:01] ProcedureMonkeyB opened #23900 "Why is there no "with_call" method for stream to stream communication in Python grpc 1.31.1"
'_StreamStreamMultiCallable' object has no attribute 'with_call'

[2020-08-20 16:44] santigl commented on #23881
That's great to know!

Thanks a lot for your help and for fixing the issue, @veblush and @yashykt.

[2020-08-20 16:45] #23881 closed

[2020-08-20 17:10] lidizheng commented on #20802
From the tracing log, the binary message was sent out of client, but it is still unclear why the server directly set status code to 13 (INTERNAL).

[2020-08-20 17:25] gnossen opened #23905 "build_artifact.ruby_native_gem_macos_x64 Timeout"
[code]

https://source.cloud.google.com/results/invocations/090de9bd-60b4-49b8-a831-c2bff3bb88ac/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[2020-08-20 19:25] stanley-cheung commented on #23698
Looks like this has been fixed upstream in https://github.com/protocolbuffers/upb/pull/268 (https://github.com/protocolbuffers/upb/issues/262).

For grpc php version `1.30.0`, looks like the `upb` dependency was older than the fix: https://github.com/grpc/grpc/tree/v1.30.x/third_party/upb (last updated in Jan 2020, before the fix above).

But for grpc php version `1.31.0`, looks like the `upb` dep

[2020-08-20 20:45] nikitamikhaylov opened #23914 "Remove Asserts somewhere in Debug builds"
### Is your feature request related to a problem? Please describe.
I use `grpc` as a submodule in my project. When I compile it with debug options, it fails due to asserts. I looked through the stacktrace and noticed, that you have 'todos' to remove asserts. For example, here: https://github.com/grpc/grpc/blob/b3808b73dad065bb6d4cd20496077d2462bcc1c5/include/grpcpp/impl/codegen/async_stream_impl.h

[2020-08-20 21:08] #23736 closed

[2020-08-20 21:10] stanley-cheung commented on #23736
Fixed via #23907.

[2020-08-20 21:19] SonicGD commented on #23736
Thanks!

[2020-08-20 21:58] gnossen commented on #23900
Are you building from source? 1.31.1 has not been released.

Regardless, neither `UnaryStreamMultiCallable` nor `StreamStreamMultiCallable` has ever had a `with_call` method. The purpose of `with_call` is to get back a `grpc.Call` object instead of an (e.g.) protobuf object, so that you can access things like response metadata and status code. Server streaming `MultiCallable` objects return an ite

[2020-08-20 23:14] markdroth opened #23919 "FLAKE: csharp_windows_opt_native_csharp_Grpc_IntegrationTesting_MetadataCredentialsTest.csharp.Grpc.IntegrationTesting.MetadataCredentialsTest"
https://source.cloud.google.com/results/invocations/8a0a6b1c-9730-4915-8fa4-c612f0fdd6e4/targets/github%2Fgrpc%2Frun_tests%2Fcsharp_windows_opt_native%2Fcsharp.Grpc.IntegrationTesting.MetadataCredentialsTest/tests

[code]

[2020-08-20 23:16] markdroth commented on #23028
Also seen with python_linux_opt_native_py38_native_test_unit__exit_test_ExitTest.py38_native.test.unit._exit_test.ExitTest.

https://source.cloud.google.com/results/invocations/7d4e3863-1b02-42e4-b210-0d2e5685c34c/targets/github%2Fgrpc%2Frun_tests%2Fpython_linux_opt_native%2Fpy38_native.test.unit._exit_test.ExitTest/tests

[2020-08-20 23:28] WANGKE-InCodeWeTrust opened #23920 "build failed with cmake using -DgRPC_CARES_PROVIDER=package"
### What version of gRPC and what language are you using?
gRPC version: v1.31.0
language: c++

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.5.0

### What did you do?

1. Run cmake
[code]
and the result is :
[code]

2. make, then encountered the error:

### What did you expect to see

[2020-08-21 01:45] act28 commented on #23698
@stanley-cheung thanks, that fixed it

[2020-08-21 01:45] #23698 closed

[2020-08-21 01:53] yabli commented on #23618
Please, is there any update can be shared regarding this? @jtattermusch does the repro code works for you? any question regarding the repro code needed from me?

[2020-08-21 02:03] ProcedureMonkeyB commented on #23900
I see. Thank you

[2020-08-21 02:40] windNight commented on #23481
in net45 ,I handler similar error ，scene is send grpc in a thriftsever.
Grpc.Core.RpcException:Status(StatusCode="Unavailable", Detail="GOAWAY received", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1597976405.826000000","description":"Error received from peer ipv4:121.40.202.78:80","file":"T:\src\github\grpc\workspace_csharp_ext_windows_x86\src\core\lib\surface\call.c

[2020-08-21 04:40] gmd20 commented on #23833
I saw a similar dead-lock  when grpc-1.31.0 and swoole-4.5.2(https://github.com/swoole/swoole-src ) extension is enabled.

[code]

[code]

[2020-08-21 05:09] kellengreen commented on #19126
Chrome is currently at origin trial status with `QuicTransport`. Assuming this lands in other browsers, it could perhaps be a way to facilitate gRPC communication over QUIC.

[2020-08-21 09:29] bugproof opened #23929 "Using gRPC in C++ is horrendous prove me wrong"
Prove me wrong but gRPC dependency in C++ application is the worst thing that you could possibly do. It has insane amounts of transitive dependencies and it takes forever to build. We tried to integrate it into a game. `vcpkg install grpc` took about 17 minutes on my friend's PC. While the entire game client builds in <1 minute.

gRPC in C++ is a bloated monster and you should think twice before u

[2020-08-21 12:21] kotori2 opened #23931 "How to build gRPC++ with OpenSSL instead of BoringSSL"
My project uses MySQL connector, which use OpenSSL as its dependency.
I've integrate gRPC with my project using `FetchContent` described [here](https://github.com/grpc/grpc/tree/master/src/cpp), and I also have OpenSSL installed in my system. What I tried was:

- Installing OpenSSL with Homebrew, then link manually to system path on macOS.
- Installing OpenSSL with vcpkg on Windows.

They both doe

[2020-08-21 12:42] #23931 closed, assigned to veblush

[2020-08-21 15:04] markdroth opened #23933 "FLAKE: iOS tests failing due to missing header files"
https://source.cloud.google.com/results/invocations/f6133101-5a04-499c-93e0-63841e3a4fb5/targets/github%2Fgrpc%2Frun_tests%2Fobjc_macos_opt_native%2Fios-cpp-test-cronet/tests

[code]

[2020-08-21 15:06] markdroth opened #23934 "FLAKE: python_linux_opt_native_py38_native_test_interop__insecure_intraop_test_InsecureIntraopTest.py38_native.test.interop._insecure_intraop_test.InsecureIntraopTest"
https://source.cloud.google.com/results/invocations/a9eb9a38-4f67-4a8a-8301-41b7b3e9df27/targets/github%2Fgrpc%2Frun_tests%2Fpython_linux_opt_native%2Fpy38_native.test.interop._insecure_intraop_test.InsecureIntraopTest/tests

[code]

[2020-08-21 17:43] #23929 closed, assigned to veblush

[2020-08-21 22:37] lidizheng opened #23946 "Python tests by Bazel failure due to missing "_protos""
After the dynamic stubs is merged, the following error appears on my local Bazel builds. It might be related to my local version of `grpcio-tools`, but it still fails after `bazel clean --expunge`. CC @gnossen for any advices?

[code]

Also, recently, when Core folks trying to build Python with Bazel, they always end up with an error saying: the binary is built for python 3.7 but runtime has 3.8.

[2020-08-23 20:21] DustinJSilk commented on #21773
Brand new laptop, fresh environment, still struggling with this problem.

[2020-08-24 06:48] oronge opened #23954 "Is grcp support C language，but I can't find any Quick Start or Tutorial for C language in https://grpc.io/"

[2020-08-24 07:01] JACKCHEN96 opened #23955 "Grpc.Core.RpcException:“Status(StatusCode="Cancelled", Detail="Cancelled"……"
Hi, I'm getting this error from client side in
[code]

#### Description

I'm just testing the connection of client and server on MS unit test and get the RpcException. The simple Greeter service works well on my demo (which is a console program), but get error in unit test. So the problem description can be simplified as following:

Unit test Client & Unit test server CANCELLED;
Demo Client & Demo

[2020-08-24 07:23] #23348 closed

[2020-08-24 07:27] jtattermusch commented on #23931
@kotori2 yes that is the correct approach - use cmake and `set(gRPC_SSL_PROVIDER package)` or `-DgRPC_SSL_PROVIDER=package` on the commandline.
https://github.com/grpc/grpc/blob/f57a0619bc5697ea98c2d5b2c983c7024f43a5db/cmake/ssl.cmake#L66

[2020-08-24 10:34] jtattermusch commented on #23954
We don't have an official pure C library. You'll need to use gRPC C++.

Please don't post questions here (see instructions in the issue template).

[2020-08-24 10:34] #23954 closed

[2020-08-24 10:40] jtattermusch commented on #23297
Hopefully we will be able to revive the dashboard in Q4 2020. We don't plan to performance data snapshot as:
1. we'd like to focus on a long-term fix (= improve the underlying benchmarking framework) rather than manually generating performance data.
2. if you need to you can generate the data yourself by using run_performance_tests.py script (https://github.com/grpc/grpc/tree/master/tools/run_test

[2020-08-24 10:41] AtosNicoS commented on #22750
Well, this is no question, it is a bug report. At least I think so, if I am wrong, please explain me why.

[2020-08-24 10:49] jtattermusch commented on #23955
A few notes:
- just FYI, we don't officially support "protobuf-net" in gRPC C# (this might or might not be related to your issue).
- from your description it's impossible to tell what's wrong (because you provide very little details about your setup and no reproduction), but my hunch is that something is just setup incorrectly in your unit tests.

Feel free to use https://github.com/grpc/grpc/blob

[2020-08-24 10:49] #23955 closed

[2020-08-24 12:29] wongdu commented on #23814
cause of the wrong version headers

[2020-08-24 12:29] #23814 closed

[2020-08-24 13:02] tterrace commented on #22491
That command works on my system:

[code]

[2020-08-24 13:20] krotovic commented on #23259
I have installed php onto Catalina using Macports and I have faced the same issue.
I have noticed this on the start of the log output:
[code]
And since PECL uses phpize (which is just bash script) to set the correct paths I thought that it might be problem to run `sudo pecl install ...` so I tried to run `sudo su` first and then `pecl install grpc` and it worked.

[2020-08-24 13:48] connect2satz commented on #22883
Hi Mark,
     any update on this ?

[2020-08-24 14:15] markdroth commented on #22883
As I mentioned earlier, we have no specific ETA for this.  It's going to require some internal plumbing changes, and I'm not sure when we'll have a chance to do it.  I'll update this issue as we make progress.

[2020-08-24 14:52] jtattermusch commented on #13856
A few more observations:
- this problem only exhibits when the library that contains exec_ctx (in case of our bazel build it's `//:grpc_base_c`) is linked by another binary/library dynamically. If it's linked statically (linkstatic=True), it works around the problem. Unfortunately this cannot be used as a general solution as we cannot dictate whether users should link against grpc statically or dy

[2020-08-24 17:08] markdroth commented on #22521
Just saw this failure again:

[code]

[2020-08-24 17:34] jtattermusch commented on #23618
@yabli  I'm looking at the repro and it's quite a lot of code. What exactly should I run?

[2020-08-24 17:43] jtattermusch commented on #23618
Also, running `dotnet build` gives me this error
[code]

[2020-08-24 17:45] #19196 closed

[2020-08-24 17:54] jtattermusch commented on #23389
We could consider adding a ValueTask-based API in the future, but for now, the API seems adequate (= allocating Task<> instances doesn't not seem to be a significant ovehead in relation to the load a Grpc C# or grpc-dotnet server can achieve).

Note that changing the current API to return ValueTask instead of Task would be a breaking change, so there is not plan to the existing API in the foreseea

[2020-08-24 17:54] #23389 closed

[2020-08-24 20:24] rahul342 commented on #23672
Seems to be working well.

[2020-08-24 21:45] yabli commented on #23618
did you restore?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Jan Tattermusch <notifications@github.com>
Sent: Tuesday, August 25, 2020 1:43:36 AM
To: grpc/grpc <grpc@noreply.github.com>
Cc: yabli <yabli@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [grpc/grpc] Client crashes in Retry test. Unhandled exception at 0xXXXX (grpc_csharp_ext.x

[2020-08-25 00:07] veblush commented on #23920
When I retried this by changing `cmake ..` to `cmake .. -DCMAKE_INSTALL_PREFIX=$HOME/tools/runtime` for c-ares, it still worked. Maybe this could be cmake issue. Can you reproduce this with docker so that I can take a look at?

Also from cmake, I confirmed it actually used the installed one.

[code]

[2020-08-25 06:02] l30006821 opened #23970 "build with cmake error"
### What version of gRPC and what language are you using?
1.31.0

### What operating system (Linux, Windows,...) and version?
Linux
### What runtime / compiler are you using (e.g. python version or version of gcc)
Cmake 3.18

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enough informatio

[2020-08-25 09:48] lemaxw commented on #22555
interested in progress, have similar issue on 1.26.0

[2020-08-25 09:58] ggavrilov commented on #22555
We have the same issue to in 1.26.0.
[code]

[2020-08-25 10:06] apolcyn commented on #22555
If someone has a run under environment variables: `GRPC_TRACE=api,client_channel_routing,cares_resolver,cares_address_sorting`, that could help to get some insight on this.

For even better debug info if it's possible, an accompanying packet trace (e.g. pcap file for DNS traffic) captured during the failure, would also give insight.

[2020-08-25 15:26] okravets commented on #22555
Here is a change we did to fix this issue. Haven't seen it after.
[0001-Attempt-to-fix-crash-reported-as-sporadic-crashes-in.txt](https://github.com/grpc/grpc/files/5124660/0001-Attempt-to-fix-crash-reported-as-sporadic-crashes-in.txt)

[2020-08-25 15:33] Tabrizian commented on #22479
I'm facing similar issue on Linux using CMake.

[2020-08-25 16:34] kostyay opened #23978 "Python GRPC compiler uses different directory structure than Proto compiler for directories with dots in name"
It looks like proto compiler and grpc handle directories with dot in their name differently.

### What version of gRPC and what language are you using?
grpcio-tools 1.31.0

### What operating system (Linux, Windows,...) and version?
Mac

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.8.4
libprotoc 3.12.2

### What did you do?
The directory structure for

[2020-08-25 16:50] Talador12 opened #23979 "grpc-gateway equivalent in the grpc python package"
## Is your feature request related to a problem? Please describe.
No

### Describe the solution you'd like
Add support for [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway) as an option available in the [grpc python package](https://pypi.org/project/grpc/)

I have found a [python example](https://gist.github.com/doubleyou/41f0828e4b9b50a38f7db815feed0a6c) that claims to integrate this

[2020-08-25 20:55] lidizheng opened #23982 "Flake: test_in_flight_stream_stream_call"
Test case "test_in_flight_stream_stream_call" in "_exit_test" fails on Python 2 with following error:

[code]

There isn't any obviously wrong logic: https://github.com/grpc/grpc/blob/4365bdfdcc3c9cde3a77d5a024d5aaea28bcf911/src/python/grpcio/grpc/_channel.py#L676-L706.

The lock might be deallocated by Python interpretor. There could be a bug in CPython.

[2020-08-25 22:15] Jiboxiake opened #23983 "gRPC C++ creating error with opening to many files on"
### What version of gRPC and what language are you using?
 1.30.0,C++

### What operating system (Linux, Windows,...) and version?
Linux Ubuntu

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 7.5.0

### What did you do?
Please provide either 1) A unit test for reproducing the bug or 2) Specific steps for us to follow to reproduce the bug. If there’s not enoug

[2020-08-26 00:46] Jiboxiake commented on #23983
Sorry I figured out it was me creating too many completion queues

[2020-08-26 00:46] #23983 closed

[2020-08-26 01:27] zxpan opened #23985 "xdsResolver run() in a loop, consume a lot of CPU"
### What version of gRPC and what language are you using?
go language, v1.31.0

### What operating system (Linux, Windows,...) and version?
MacOS version 10.14.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
N/A

### What did you do?
I am running a simple XDS client.  GetMyAddress in the below is part of HTTP handler, the code snippet as in the following

[code

[2020-08-26 02:15] zxpan commented on #23985
Should break. out the loop in case the connection is close, or **r.ctx** is cancelled.
[code]

[2020-08-26 03:20] Jhovanni commented on #22251
I ran into same issue. grpc_unity_package.2.26.0-dev.zip resolve the error messages as mentioned.
I have a couple of questions, repo documentation does not say how to actually generate proto files. C# main repo does mention it but it mentions to use dotnot package manager, something not fully available in unity.
If you are able to provide support for this:
How do you compile proto files? How did y

[2020-08-26 09:47] FancyXun opened #23986 "Memory leak in server when using string tensor?"
Ubutun 18, python 3.6, gRPC 1.24.3
Server:
[code]

client:
[code]
proto:
[code]

Memory usage increases over time in server side. If I remove string tensor in server or replace it with int64, The server's memory usage is  stable over time.

[2020-08-26 11:53] veronicagarciavazquez commented on #23488
I cloned vcpkg repository on 15.07.2020. With that version, I can generate grpc_csharp_ext.dll with the triplet arm64-windows as tom-r-o suggested. After creating a custom triplet for arm64-windows with the setting that ras0219 suggested for building with /MT (thanks!), I can also generate grpc_csharp_ext.dll. In that case, the gRPC version is 1.29.1. However, if I try to generate grpc_csharp_ext.

[2020-08-26 16:42] markdroth opened #23988 "FLAKE: //test/core/end2end:h2_census_nosec_test@client_streaming[darwin-dbg]"
https://source.cloud.google.com/results/invocations/96c5a129-c5b7-488e-903d-2b26472b1404/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_census_nosec_test@client_streaming/log

[code]

[2020-08-26 17:34] lidizheng commented on #23028
Unable to reproduce locally. But I managed to change the final status from timeout to failure in #23981, so we can have some logs when the test fail again on Kokoro. Let's see if we can discover the cause.

[2020-08-27 01:44] yabli commented on #23618
@jtattermusch, does this info help? does msbuild works for you? any help needed from me to run the unittest? Thanks

[2020-08-27 04:55] yashykt commented on #20802
@lidizheng is there a difference when compared to a C++ client?

[2020-08-27 04:59] yashykt commented on #23946
I believe I was trying to run interop tests for python. I think if it is simply a version mismatch, there isn't much to be done here other than simply setting the path and using the right version.

[2020-08-27 05:03] yashykt commented on #13856
That's a good suggestion @jtattermusch. I think using C++11 thread_local would be a good idea.

[2020-08-27 06:36] jtattermusch commented on #13856
@yashykt  can you please comment more on the performance implications of using thread_local? (sounds like it could be slow when used in a shared library, see my comment above).

Would we only use `thread_local` for the specific configuration that's broken (bazel build on macos), or whenever on mac?
Depending on the performance characteristics of `thread_local`, using `__thread` when building on ma

[2020-08-27 12:05] tpppppub commented on #23312
I came across the same issue in my case where I was testing my grpc server with many short-lived connections. I used a client repeatedly to launch threads to create new channels. And each time the client would hang at the grpc::SslCredentials() method after launching a number of rpc requests. And very interestingly, it would be stuck for about 10 seconds every time.

[2020-08-27 13:19] l30006821 commented on #23970
finally, i modify `gflags::gflags` to `gflags` and build success

[2020-08-27 16:22] veblush commented on #22491
@tterrace Thanks!

[2020-08-27 16:33] gilrodar opened #23997 "Documentation Issue: Parameter 'selected_port[out]' not found in the function declaration"
"Parameter 'selected_port[out]' not found in the function declaration"
"Did you mean 'selected_port'?"

<img width="486" alt="Captura de Pantalla 2020-08-26 a la(s) 15 17 05" src="https://user-images.githubusercontent.com/13817108/91352497-8e3ee100-e7af-11ea-926f-ce946f8b7aea.png">

<img width="273" alt="Captura de Pantalla 2020-08-26 a la(s) 15 19 51" src="https://user-images.githubusercontent.co

[2020-08-27 17:28] lidizheng commented on #20802
I haven't got time to produce the tracing log and compare the actual bytes yet.

[2020-08-27 18:46] lidizheng commented on #23982
@gnossen The two burdensome workarounds are 1. register a signal handler; 2. catch interrupt key exception within gRPC library. Both ways allow us to enforce the deallocation order, so the spawned thread (request consumption thread, spin thread, etc.) can be collected before main thread. WDYT?

[2020-08-28 05:56] vielmetti commented on #23336
@nicolasnoble @jtattermusch

What infrastructure would you need to build and test this?

I ask because @worksonarm has been providing infrastructure to Google-sponsored projects, including Go and Bazel, and would be happy to entertain any reasonable request for modern arm64 server hardware to support the build and test cycle.

[2020-08-28 06:26] aidapsibr commented on #22263
@nicolasnoble Now that Apple is moving to arm64 and 2 fairly large projects are blocked on this. Is it possible to re-open this issue and re-evaluate this stance?

[2020-08-28 10:44] yashykt commented on #22523
It seems to be timing out now - https://source.cloud.google.com/results/invocations/385c7cc6-d9ee-483b-9b21-0f390a7888d7/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_android/log

[code]