[2019-07-23 01:14] Tony1023 opened #19717 "clang_format_code test splits path with spaces"
### What version of gRPC and what language are you using?
 Developing on https://github.com/grpc/grpc/pull/19787, mostly in sync with master branch.

### What operating system (Linux, Windows,...) and version?
 Linux/macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 N/A

### What did you do?
 In https://github.com/grpc/grpc/pull/19787, added support for tvOS

[2019-07-23 07:29] jtattermusch commented on #19592
Have you tried using gradle to build?
https://github.com/grpc/grpc/tree/master/src/android/test/interop#install

[2019-07-23 07:40] jtattermusch commented on #19706
I think we'd rather not duplicate ways of setting these options (=more complexity, not much of benefit).

Btw, to be able to do this, we would first need to solve the issue mentioned in https://github.com/Falco20019 (Environment.SetEnvironmentVariable changes aren't visible to the native layer on all platforms).

[2019-07-23 07:41] #19706 closed

[2019-07-23 12:56] monocleus commented on #16675
This is not fixed and unfortunately the crypto module ( boringssl/crypto ) doesn't have any flag which controls building the test. It will have to be fixed by boringssl

[2019-07-23 16:35] kellegous opened #19721 "PHP: Missing addref on ChannelCredentials in Channel constructor causes segfault."
This needs label:lang/php

### What version of gRPC and what language are you using?
1.22.0 (issue is still in master)

### What operating system (Linux, Windows,...) and version?
 LInux

### What runtime / compiler are you using (e.g. python version or version of gcc)
PHP
[code]

### What did you do?
The code to reproduce:
[code]

### What did you expect to see?
The php file above should execute

[2019-07-23 16:36] hcaseyal opened #19722 "Flake: lb_load-"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead

[2019-07-23 16:43] kellegous commented on #19721
cc @stanley-cheung

[2019-07-23 17:18] lobster2012-user commented on #19706
Hi @jtattermusch
Where exactly to look at the description of the problem?

[2019-07-23 17:23] jtattermusch commented on #19706
@lobster2012-user  sorry, I updated the link

[2019-07-23 17:39] stanley-cheung commented on #19721
@kellegous Thanks for the detail report!

[2019-07-23 17:51] apolcyn opened #19723 "502 errors in cloud to prod interop tests for aspnetcore, php, and dart clients"
Saw a bunch of 502 errors from aspentcore, php, and dart clients when targetting the `default` cloud to prod interop server.

E.g.:

[code]

Full log in https://source.cloud.google.com/results/invocations/149b68de-e762-457b-9be3-1babe2915130/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

Seen in PR: https://github.com/grpc/grpc/pull/19693

[2019-07-23 18:09] lobster2012-user commented on #14963
As I understand it, only the native call 'setenv' will help us (at your own risk and fear, given the lack of security, the call in different streams)

[2019-07-23 18:32] jtattermusch commented on #7107
It is possible to use grpc C++ without needing to install to `/`, e.g.:
-  cmake offers several ways how to use gRPC, one of them is installing to a local subdirectory https://github.com/grpc/grpc/tree/master/src/cpp#cmake
- you could use bazel.

[2019-07-23 18:32] #7107 closed

[2019-07-23 19:12] james-crowley opened #19724 "Trouble Installing on s390x as Ruby Gem"
### What version of gRPC and what language are you using?
 Looks like I am trying to install `grpc-1.14.2` and I am using `Ruby`.

### What operating system (Linux, Windows,...) and version?
 Linux on Z(`s390x`)

### What runtime / compiler are you using (e.g. python version or version of gcc)
N/A

### What did you do?
I am trying to install kube fluentd operator(https://github.com/vmware/kube-flu

[2019-07-23 19:18] james-crowley commented on #19724
Might also have to relate to this issue #13518. @vjpai were you able to build gRPC for `s390x`? I saw your issue but were confused since you mentioned both `PPC64` and `s390x`.

[2019-07-23 23:32] bigfacebear opened #19726 "Flake in grpclb_end2end_test"
Test `UpdatesWithClientLoadReportingTest.ReresolveDeadBalancer` fails. Looks like due to
[code]

[code]
Log link: https://source.cloud.google.com/results/invocations/d28dec7b-d6da-493b-adef-dd4a84bdfc27/targets

[2019-07-24 05:35] pfreixes opened #19728 "[Aio] Aio module usability depending of the Python version"
We would need to find out how `aio` module becomes available only for certain Python versions, initial commitment is making it available for any Python versions equal or greater than Python 3.6, and unavailable otherwise.

For that we would need to give a holistic solution which takes into account the following areas:

- Cython code.
- Python code.
- Wheel distribution.

## Acceptance criteria

-

[2019-07-24 08:11] mehrdad-dev opened #19730 "ImportError: cannot import name 'proto_pb2' from 'grpc' in python"
Hi everyone  : D

**I create a proto.proto file and then create proto_pb2.py and proto_pb2_grpc,py with protoc :**
`>> python3 -m grpc_tools.protoc -I. grpc/proto.proto  --python_out . --grpc_python_out . `

but when run the server.py it's **bug** is shown :
[code]

**the server.py include :**
[code]

Can you help me ?!

[2019-07-24 09:05] dmthinker opened #19731 "multi thread and multi channel problems"
Hi
   I'm appreciated if anyone can help me with follow two questions.
  1, When High-concurrent-request from the grpc client,  if creating multi-channels is more efficient than only one channel?
  2, When High-concurrent-request from the grpc client,  should I use multithread to handle the requests in grpc-server?  And I'm not sure if the grpc server has integrated multithread already, or I have

[2019-07-24 11:00] DavidLiuXh commented on #19731
I have observed that channel and TCP connection are not one-to-one correspondences

[2019-07-24 13:52] jtattermusch commented on #19565
Note that the received metadata is not always empty:
- most of the times the headers would contain the user-agent entry: `[Entry: key=user-agent, value=grpc-csharp/1.17.0 grpc-c/7.0.0 (osx; chttp2; gizmo)]` that's injected by C-core (and all other gRPC implementations).

Response headers and response trailers might actually be often empty as indicated. I agree that caching and empty frozen Metadat

[2019-07-24 14:00] jtattermusch commented on #19527
Makes sense but I'd prefer to have a stack where you can get good performance with the default setup: without needing to make a conscious choice to sacrifice features for performance or vice versa.

[2019-07-24 14:10] jtattermusch commented on #19527
I think it's fair to recycle and reuse `Metadata` and `Metadata.Entry` values if the user haven't
seen the entire metadata instance at all (e.g. `ServerCallContext.RequestHeaders` property is never read)

That's assuming we can come up with a change that implement this behavior without adding too much complexity.

[2019-07-24 14:47] rishabh14augshukla opened #19732 "Does GRPC.Core and GRPC.Core.API give support to Xamarin tvOS"
### What version of gRPC and what language are you using?
 GRPC version 1.22.0

### What operating system (Linux, Windows,...) and version?
 mac OS (10.14.6)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Xamarin tvOS and XCode (10.3)

### What did you do?
I am going to perform Multicast ABR functionality in Xamarin tvOS.

### What did you expect to see?
 When

[2019-07-24 14:47] satheesh-subramanian commented on #14812
I have been impacted by this issue and would like to see if there is any progress made here

[2019-07-24 17:08] gnossen commented on #19730
What you're seeing here is that the generated code expects that the path to the proto file mirrors the module structure of your python project. So the file path `grpc/proto.proto` generates the modules `grpc.proto_pb2` and `grpc.proto_pb2_grpc`. It appears that `grpc` is not actually a module in your project, and so the import is failing.

[2019-07-24 17:18] srini100 commented on #19640
gRPC doesn't enable TCP keepalive but provides API to enable HTTP level keepalive (by default it is off). A TCP connection may get disconnected for any number of reasons like NAT routers in the middle, firewalls, LBs etc. If the connection is idle for a long time there is a higher chance that the connection is broken. When client sends RPC on a broken TCP connection that the client is not aware of

[2019-07-24 17:39] srini100 commented on #19731
What language are you using? Assuming your target resolves into a single IP (no LB involved), for high concurrency it is better to create more channels so more TCP connections are created to the target. This will help avoid saturating a single TCP connection and better utilize multiple cores on the client machine. In C++ (but not in Java and Go), different channels may end up sharing the same sub-

[2019-07-24 18:01] muxi commented on #19697
Cronet is currently only for testing purpose in our library; we do not have a plan to publish it at this time (though Cronet framework is public as part of Chromium project). Technically you can make it work on a simulator (and not on a device) by playing with Chromium build and Cocoapods but we do not recommend it.

If you use the pod `gRPC`, it should not pull in the `Cronet-Implementation` sinc

[2019-07-24 18:01] #19697 closed

[2019-07-24 18:26] lidizheng opened #19734 "[Aio] Channel argument usability improvement proposal"
The `grpc.aio` module underlying is using `asyncio` custom IO manager for both client and server. So, the socket is no longer managed by C-Core. One option that might cause trouble came to my mind is `SO_REUSEPORT`.

We needs to go through available channel arguments in `grpc_types.h`, and figure out which option needs special treatment.

Stretch: since we are implementing channel arguments, proba

[2019-07-24 18:28] drcapulet commented on #19697
@muxi That doesn't solve the problem of getting `gRPC-Core.podspec` to pass the CocoaPods linter. What if I moved the cronet pieces into their own podspec so that the primary podspec passes?

[2019-07-24 18:33] gnossen commented on #19734
@lidizheng Can you please clarify what you mean by "it is a good chance to promote some common arguments to channel method"?

[2019-07-24 18:39] lidizheng commented on #19734
It means that users can set advanced options in easier way, like `channel.enable_deadline_checking()` or `channel.enable_so_reuseport()` or `channel.initial_reconnect_backoff_ms(1000)`.

Here is the full list of channel arguments:
[code]

[2019-07-24 18:41] muxi commented on #19697
Ah yes! The linter! It does look like we should have a dependency to `CronetFramework`. I am not sure why our linter did not complain about it. I can publish the v0.0.4 version.

[2019-07-24 18:42] lidizheng commented on #19734
Just a thought, or we can have a designed configuration class that can be parsed from JSON.

Also, by promote them into Channel/Server method, we also propagated the comments in C-Core header files, so users can get to know more about the capability of gRPC.

[2019-07-24 18:44] muxi commented on #19697
It's pushed to Cocoapods

[2019-07-24 18:55] gnossen commented on #19734
I would propose that we not add more mutating methods. I would prefer that a channel's configuration be set when it's created. Preferably keyword arguments, or possibly a configuration object could serve the same purpose.

[2019-07-24 18:59] bigfacebear commented on #19726
Also seen some other tests in `grpclb_end2end_test` flake.

`SingleBalancerTest.SecureNamingDeathTest`: https://source.cloud.google.com/results/invocations/20f78ca3-ea7c-42c2-99f4-4c419b69bbf0/targets

`SingleBalancerTest.BackendsRestart` flakes on the local machine. Log message:
[code]

[2019-07-24 19:02] lidizheng commented on #19734
How about a `grpc.Config` class that exposes above methods, and only passed into the channel once via initialization. So it is clean, and easy-to-use.

[2019-07-24 19:14] drcapulet commented on #19697
Thanks a ton @muxi !

[2019-07-24 19:25] gnossen commented on #19734
This might get into bike shedding, but I would ask what advantage a config object has over keyword arguments? Yes, our constructor's function signature might be long, but that's complexity that *we* have to deal with, not our users.

[2019-07-24 20:34] hcaseyal opened #19738 "Flake: xds_end2end_test SecureNamingDeathTest"
[code]

[2019-07-25 00:29] bigfacebear commented on #19738
This flake also happens in `xds_end2end_test`-`SingleBalancerTest.SecureNamingDeathTest`.
https://source.cloud.google.com/results/invocations/8139302d-c330-4c47-b752-f48211f2a06e/targets

I tested locally and found that this flake happens in TSAN test but does not exist in the opt build. In local tests, there is no `[ DEATH ]` log but the program is stuck.

The commit number of the tested version

[2019-07-25 02:21] Alipipe opened #19745 "AttributeError: module 'grpc._cython.cygrpc' has no attribute 'CompressionAlgorithm'"
Proto:
[code]

Error:
[code]

Env:
[code]

install python3 from official Python-3.7.4.tgz

[code]

[2019-07-25 03:00] Alipipe commented on #19745
it seems pytest causes this problem. it works by runing directly in python3 app.

[2019-07-25 03:27] dmthinker commented on #19731
@srini100 Thank you very much for answering me. "In C++ (but not in Java and Go), different channels may end up sharing the same sub-channel (TCP connection) if the target and channels args are the same.", I'm a little confused of this. Do you mean different channels with same args won't work when the client is c++? What should I do if I want to use multi channels in C++.

[2019-07-25 04:23] whuyinpeng opened #19746 "Time cost of RPC is more than timeout setting"
Hello:
I'm using gRPC (v1.11.0) in a service written by C++.  Here is the sketch of the implement.

[code]

Thread1 do RPC asynchronously.
[code]

Thread2 listens the completion queue.
[code]
The code is compiled on CentOS 6.5 (Linux kernel version is 2.6.32)with gcc 4.9.2.

The variable gap thread2 print will either be less than 60 if no exception occurred during RPC or be 60 if RPC timeout, but

[2019-07-25 06:52] Alipipe commented on #19745
finally，i found the culprit；
i use pytest，and add pytest.ini like：

[pytest]
filterwarnings =
    error
    ignore::UserWarning

remove that，it works.

[2019-07-25 13:08] hbgongen opened #19750 "i want know the data frame of grpc."
according to grpc over http2.i also has some questions about it.
grpc data fram: compress flag(1 bytes) | message length(4 bytes) | message(binary bytes)|EOS(bytes?)
can i understand in this way.
data frame
00000000                    |00000000 00000000 00000000 00000000|           .......            |EOS
1 byte (compress flag)|                        4 bytes length                   |message cont

[2019-07-25 14:06] pfreixes opened #19751 "[Aio] Support for Load Balancing via DNS and Service Config via DNS"
With the usage of the native Asyncio resolver [1], `aio` gRPC is not able to provide functionality for the following two features:

- Load Balancing and DNS [1]
- Service configuration and DNS [2]

Discussion during the PR reviewing with the adoption of the Asyncio native resolver [3].

[1] https://github.com/grpc/proposal/blob/master/A5-grpclb-in-dns.md
[2] https://github.com/grpc/proposal/blob/m

[2019-07-25 16:33] gnossen commented on #19745
@Alipipe Can you provide any more details on what the problem was and how changing the filtered warnings fixed things? This sort of error looks pretty unexpected. It's almost like you have the wrong shared object library paired with the library.

[2019-07-25 19:01] lobster2012-user commented on #14963
Slightly edited the current code, made the changes described above. In windows, everything works, it did not launch in linux.

[2019-07-25 20:03] markdroth opened #19755 "TIMEOUT: python_linux_opt_native > py37_native.test.unit._compression_test.CompressionTest"
https://source.cloud.google.com/results/invocations/01b3c879-0cdd-4e11-aecd-1a5b3b768612/targets/github%2Fgrpc%2Fpython_linux_opt_native/tests

[2019-07-25 21:13] lidizheng commented on #19755
@gnossen It seems weird that this test didn't finish within 300 seconds...

[2019-07-25 22:15] AspirinSJL commented on #19726
I don't see obvious reason of this flake. I will come back to this bug if it becomes more flaky.

[2019-07-25 22:34] AspirinSJL commented on #19738
The log in https://github.com/grpc/grpc/issues/19738#issue-472508428 is confusing. I see both "Result: failed to die." and "[ DEATH ] Caught signal SIGABRT". The test is expected to die. And the `abort()` is invoked. But the test doesn't pass due to "failed to die"..

Still looking.

[2019-07-26 02:08] apolcyn commented on #19195
Verified that a use-after-free can occur, thanks for filing. See https://github.com/grpc/grpc/pull/19756

[2019-07-26 03:47] Alipipe commented on #19745
@gnossen
you can get more information from https://stackoverflow.com/questions/57187092/why-would-i-get-attributeerror-when-run-grpc-demo-in-python3-7-4/57195963#57195963

[2019-07-26 03:57] Alipipe commented on #19745
actually, i just did it on the normal way. A pytest demo contain grpc client.
i add warn/error filter in pytest.ini to avoid pytest warnings.
in python2.7, it works normally.
recently, i have to use python3, then the accident happened.
project tree is below:
├── grpclib
│   ├── grpcapi.py
│   ├── __init__.py
│   ├── mrpc_pb2_grpc.py
│   ├── mrpc_pb2.py
│   └── mrpc.proto
├── pytest.ini
└── test_ca

[2019-07-26 05:38] pfreixes opened #19760 "[Aio] unary unary client call barebones implementation"
We will be implementing the foundations of the Aio client by implementing the minimal stuff needed for sending a request and waiting for a response for a unary unary call.

After this is implemented we will be extending the barebones for having a full parity implementation compared to the synchronous client.

This issue can be scope within the Asyncio Client Implementation https://github.com/grpc/

[2019-07-26 05:39] pfreixes commented on #19760
@gnossen could you add this into the gRPC easy project, please? Also, could you put it in-progress? I'm currently working on this.

[2019-07-26 07:02] #19721 closed

[2019-07-26 10:22] pfreixes opened #19761 "[Aio] Support for context"
TBD

@gnossen could you add this issue into the gRPC Easy project and extend the content of it with the desired acceptance criteria?

[2019-07-26 10:42] pfreixes opened #19762 "[Aio] Replace the test client end2end server fixture for an asynchronous one"
Right now the end2end test that is being used for testing that the asynchronous client works perfectly is using a synchronous server implementation. This has the following caveats:

- The fixture needs to be executed as a separated process since the gRPC library does not support having the synchronous and asynchronous versions running at the same time within the same process.
- Port needs to be ha

[2019-07-26 10:43] pfreixes commented on #19762
/cc @gnossen could you please add this into the gRPC Easy board?

[2019-07-26 15:49] markdroth opened #19763 "TIMEOUT: csharp_macos_opt_native > csharp.Grpc.IntegrationTesting.InteropClientServerTest"
https://source.cloud.google.com/results/invocations/c174a7f6-9e41-419b-b2e2-783c7d74e755/targets/github%2Fgrpc%2Fcsharp_macos_opt_native/tests

[2019-07-26 17:10] IanElsinga commented on #18461
I am also getting this error a few times a week during development.  I cannot reproduce it at will.

[2019-07-26 17:57] bigfacebear commented on #19688
This issue should have been solved since #19634 is merged.

[2019-07-26 17:57] #19688 closed

[2019-07-26 18:24] AspirinSJL commented on #19738
I can't reproduce this issue on my machine. I ran `GRPC_VERBOSITY=DEBUG tools/run_tests/run_tests.py -l c++ -r "SecureNamingDeathTest" -c tsan -n inf -S` locally, and 25293 tests passed.

[2019-07-26 20:09] ajitmodi05 opened #19767 "SIGABRT in pollset_set_del_pollset (linux arm64)"
### What version of gRPC and what language are you using?
grpc version: v1.17.1

### What operating system (Linux, Windows,...) and version?
 linux arm64

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 7.4.0

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### Wha

[2019-07-26 21:19] AspirinSJL commented on #19738
Opened an issue on gtest (https://github.com/google/googletest/issues/2349) to ask why the test result and the other log are conflicting.

[2019-07-26 23:04] AspirinSJL commented on #19573
Regarding https://github.com/grpc/grpc/issues/19573#issuecomment-510168980, I think in the case you described, the response actually timed out due to lack of client resource. I feel timeout can describe any case as long as the result is not properly handled within a period, not just the network part.

[2019-07-26 23:41] ppLorins commented on #19573
alright, it makes sense in that way.

[2019-07-27 00:33] #19710 closed

[2019-07-27 09:12] spiderpoison opened #19773 "when multi grpc server using same port, no throw error"
### What version of gRPC and what language are you using?
 grpc v1.22.0
C# dotnet core 2.2

### What operating system (Linux, Windows,...) and version?
Linux version 3.10.0-693.2.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) ) #1 SMP Tue Sep 12 22:26:13 UTC 2017

### What did you do?
When I run mutli server (https://github.com/grpc/grpc/tree/ma

[2019-07-27 09:38] XuanYang-cn commented on #19730
It went wrong because your own module `grpc`'s name  is identical to thridparty `grpc` , and your own grpc directory seems not having `__init__.py`, so python try to import this module from `grpc` package(in **site-packages** you downloaded via pip)

       from grpc import proto_pb2 as grpc_dot_proto__pb2
    ImportError: cannot import name 'proto_pb2' from 'grpc'
    (/home/mehrdad/anaconda3/lib

[2019-07-27 15:13] andygikling commented on #18188
Same issue here... @tommcdon ?

[2019-07-28 11:43] vincentdchan opened #19774 "No eval for grpc_tools_node_protoc_plugin"
### What version of gRPC and what language are you using?
- grpc v1.22
- grpc tools 1.8.0
- grpc_tools_node_protoc_ts 2.5.4

### What operating system (Linux, Windows,...) and version?
 macOS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Node.js 12

### Problem

grpc_tools_node_protoc_plugin will generate such code:

[code]
But some environment doesn't allow t

[2019-07-28 12:51] JeNeSuisPasDave opened #19775 "MetadataCredentialsPlugin missing from csharp libraries"
### What version of gRPC and what language are you using?

1.22, csharp, C\#

### What operating system (Linux, Windows,...) and version?

Windows 10, Windows Server 2016

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET 4.7.1

### What did you do?

The [gRPC Auth documentation](https://grpc.io/docs/guides/auth/), under "Extending gRPC to support other authen

[2019-07-29 07:28] rmstar commented on #18943
https://source.cloud.google.com/results/invocations/81bb049b-c5be-4041-bac3-d868aba48c19/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-07-29 08:29] #19746 closed

[2019-07-29 09:02] hcoona commented on #19645
Another week passed, anybody looking it?

[2019-07-29 11:31] rvcarlig opened #19776 "Objc 1.21.0 Memory leak ARC"
Hello, I noticed that there are leaks in the Objective C examples. Is this normal?

### What version of gRPC and what language are you using?
 ObjC 1.21.0

### What did you do?
I launched the HelloWorld example and used Instruments to check the number of allocations/leaks.

### What did you expect to see?
No leaks & memory goes down.

### What did you see instead?
 Memory is not deallocated and th

[2019-07-29 16:39] tommcdon commented on #18188
@andygikling @Noemata we are working with the store team to finalize our release date.

[2019-07-29 18:12] lidizheng commented on #18191
@the-code-robot gRPC has interop tests that testing all combinations of client and server in different languages for every pull request. We ensure that every client and server always interoperable for stable features.

However, interceptors are experimental API that originally contributed by community. It is challenging for contributors to implement this feature in every languages. The support for

[2019-07-29 18:29] ChankiWu opened #19779 "ERROR about 'ares_android.h' file not found"
### What version of gRPC and what language are you using?
 @com_github_grpc_grpc

### What operating system (Linux, Windows,...) and version?
 Linux Ubuntu 18

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Bazel 0.24.1

### What did you do?
Call grpc in Bazel with config=android.

### What did you expect to see?
 No errors

### What did you see instead?

ERROR:

[2019-07-29 18:46] ChankiWu commented on #19779
I am wondering why not include "ares_android.h" in grpc/cares.BUILD file(I mean in 73 line the cc_library)?

[2019-07-29 19:11] AspirinSJL commented on #19722
Hmm, I think we should actually delete the load reporter files if we are not using them.

[2019-07-29 20:54] nparikh-avinetworks opened #19780 "Assertion Fail in sync_posix.cc: 85 GPR_ASSERT(pthread_mutex_lock(mu) == 0);"
### What version of gRPC and what language are you using?
version 1.18.0, Python binding

### What operating system (Linux, Windows,...) and version?
 Ubuntu Linux 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python version 2.7

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if

[2019-07-30 09:29] mykonica opened #19790 "message_allocator_end2end_test NullAllocatorTest blocked"
I changed some code to use TCP channel，NullAllocatorTest is blocked, `stub_->experimental_async()->Echo` has no callback result.
![image](https://user-images.githubusercontent.com/7487435/62117842-4a00b900-b2ef-11e9-8cc7-0399b29bfb7b.png)

![image](https://user-images.githubusercontent.com/7487435/62118042-8f24eb00-b2ef-11e9-958c-57a1d91f243e.png)

[2019-07-30 10:09] magnanta commented on #19399
[grpc_error.log](https://github.com/grpc/grpc/files/3446273/grpc_error.log)
I am also getting similar kind of issue do u know the solution.I know that i had multiple protobuff versions.

[2019-07-30 14:01] pfreixes opened #19793 "[Aio] When using a process executor a segmentation fault is received"
Once the gRPC aio has been initialized by using the `init_grpc_aio` [1] function the usage of a process executor breaks the application receiving a segmentation fault.

For the following snippet

[code]

Once it is executed the application finishes abruptly receiving a segmentation fault

[code]

We should find out why is the application receiving a segmentation fault and fix it, otherwise, users

[2019-07-30 14:02] pfreixes commented on #19793
@gnossen / @lidizheng this is the issue that I was commenting about receiving an abrupt segmentation fault when the process runs a fork after having the gRPC aio initialized. Could you add this as part of the gRPC Easy project? Thanks!

[2019-07-30 14:35] JHDDReis commented on #18976
I also have this issue, I think this might be related to the library initialization?

A clean closing the channel from the client should be a must-have.

[2019-07-30 15:03] james-crowley commented on #19724
@nicolasnoble @apolcyn Any input on this issue?

[2019-07-30 15:56] theopencompany opened #19794 "undefined references with QT and GRPC build with android NDK"
### What version of gRPC and what language are you using?
 v1.22.x

### What operating system (Linux, Windows,...) and version?

LINUX/MAC

### What runtime / compiler are you using (e.g. python version or version of gcc)
android NDK arm7a toolchain

### EXPLANATION

Im doing a QT cross platform app that use grpc client to connect to grpc server backend in c++. for desktop QT builds and work perfe

[2019-07-30 15:58] yang-g commented on #18976
Not sure whether this is caused by the subchannel pool not being released.
In general the cleanup may happen in an async manner and what is observed here could be working as intended.
@JHDDReis If you have some form of repro, it could be helpful because the original one is overly simplified that it does not make sense. Thanks.

[2019-07-30 20:45] theopencompany commented on #19794
SOLVED BUILDING IN THIS WAY:

[code]

[2019-07-30 20:45] #19794 closed

[2019-07-31 02:27] conqerAtapple opened #19801 "Crash in CompletionQueue.next()"
### What version of gRPC and what language are you using?
 1.14.0

### What operating system (Linux, Windows,...) and version?
 Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Gcc

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

We use the libuv based iomgr.

 Waiting o

[2019-07-31 02:30] yang-g opened #19802 "MacOS bins/opt/bm_chttp2_transport --benchmark_filter=BM_TransportStreamSend/2097152$ GRPC_POLL_STRATEGY=poll"
https://source.cloud.google.com/results/invocations/3fe74214-d54c-46ff-ad92-9af0b607a282/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_c_cpp/log

2019-07-30 19:17:15,331 D0730 19:17:15.161927000 140735990309760 ev_posix.cc:174]              Using polling engine: poll
D0730 19:17:15.163124000 140735990309760 dns_resolver_ares.cc:485]     Using ares dns resolver
2019-07-30 19:17:15
Ru

[2019-07-31 02:40] vnagineni opened #19803 "How to pass rpath for grpc_cpp_plugin build"
I would like to have customized rpath while compiling grpc_cpp_plugin from the current code repository for RHEL platform.

I tried to pass the settings through following option.

$ make all PROTOBUF_CONFIG_OPTS=LDFLAGS=-Lmy/dir -Wl,-rpath,/my/path

In am getting the following error:

[AUTOGEN] Preparing protobuf
aclocal: couldn't open directory `m4': No such file or directory
autoreconf: aclocal f

[2019-07-31 03:06] DengkeDu opened #19804 "python: Can stream server send a list of reply but not return, client parse one by one like go[stream.Recv()]?"
### What version of gRPC and what language are you using?
[code]
### What operating system (Linux, Windows,...) and version?
[code]
### What runtime / compiler are you using (e.g. python version or version of gcc)
[code]
### What did you do?
[code]

[code]

[code]
### What did you expect to see?

Like [go client](https://github.com/grpc/grpc-go/blob/master/examples/route_guide/client/client.go#L68

[2019-07-31 04:19] keith commented on #19171
I obviously haven't had the time to look at this, if someone wants to do the initial setup here that would be great

[2019-07-31 07:22] JHDDReis commented on #18976
Hi @yang-g ,

I am looking at gRPC from client-side, and one of the features I need and implemented is a stream from where the client is waiting for events from a device (server):

[code]
Then requesting the event stream and implement an

[code]

Now if I want to close the gRPC connection, on the client-side, the program will be hanging in the Read call until it receives a new event from the serve

[2019-07-31 08:05] ChenQianCQ opened #19805 "HELP!! Is this memeory leak?"
### What version of gRPC and what language are you using?
 grpc 1.17.1

### What operating system (Linux, Windows,...) and version?
 Direct leak of 89 byte(s) in 1 object(s) allocated from:
    #0 0x7f70152a0e58 in __interceptor_malloc ../../asan/asan_malloc_linux.cc:38
    #1 0x440ae6 in malloc syslib/frame_malloc.c:280
    #2 0x7f700a9dd52e in gpr_malloc (/opt/libgrpc.so+0x11552e)
    #3 0x7f700

[2019-07-31 14:10] jtattermusch opened #19806 "cloud_to_cloud:csharpcoreclr:aspnetcore_server:ping_pong:tls flake"
[code]

https://source.cloud.google.com/results/invocations/16caaae7-3944-43e6-888f-90931fa81c4f/targets/github%2Fgrpc%2Finterop_test/tests

[2019-07-31 17:22] gnossen commented on #19804
The API looks a little different from Go's, but the functionality should be equivalent. In [the example you linked](https://github.com/grpc/grpc/blob/master/examples/python/route_guide/route_guide_client.py#L59), `features` is not a `list` object, [it is a generator over which you may iterate](https://grpc.github.io/grpc/python/grpc.html#grpc.UnaryStreamMultiCallable) to receive the results increm

[2019-07-31 17:22] #19804 closed

[2019-07-31 17:38] yang-g commented on #19750
EOS is indicated in the http2 frame header. For example, a http2 data frame has flag 0x1 as END_STREAM bit. See https://http2.github.io/http2-spec/#DATA

gRPC message just has its 5-byte header. So if you have X bytes in your serialized message, X+5 bytes will be sent as HTTP2 payload.

[2019-07-31 18:28] yang-g commented on #19805
It is memory leak and it is not clear how you get it because of lack of context. It is likely caused by some application error. If you have some sort of reproduction, I can try to look for the problem in your code.

[2019-07-31 18:50] narendasan opened #19807 "Cross compiling gRPC as an external in Bazel"
### What version of gRPC and what language are you using?
 v1.22
C++ and Python
### What operating system (Linux, Windows,...) and version?
 Linux - Aarch64 (Ubuntu 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 aarch64-linux-gnu-gcc 5.4

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code sni

[2019-07-31 20:32] stanley-cheung commented on #19248
@ruschoni02 Sorry for the delay for looking into this. We couldn't reproduce this. Here's what we tried:

- ubuntu:18.04, php 7.2, grpc 1.21.3 (we tried grpc 1.22.0 too)
- We used your simplified `composer.json` in the [comment above](https://github.com/grpc/grpc/issues/19248#issuecomment-499500672)
- We enabled the Firestore Native mode in our gcp project.

Here's the simplified `test.php` that w

[2019-07-31 20:36] #19607 closed

[2019-08-01 01:27] ChenQianCQ commented on #19805
I try to reproduction and find the 100% contidition of this leak, but is low probability.

[2019-08-01 03:49] penglai1994 opened #19813 "windows cmake error"
Hi, Im having issues when cmake project on my machine. This error occurred both on x64 and x86, both on VS2013 and VS2017. It seems like it cant find some files. Did that mean i didn't install some submodules incorrectly or something about the cmake version?
Any help will be appreciated!

-- 3.8.0.0
CMake Warning (dev) at third_party/protobuf/cmake/install.cmake:60 (message):
  The file
  "C:/User

[2019-08-01 04:09] ChenQianCQ commented on #19805
in grpc_mdelem_create()
`  if (!grpc_slice_is_interned(key) || !grpc_slice_is_interned(value)) {
    if (compatible_external_backing_store != nullptr) {
      return GRPC_MAKE_MDELEM(compatible_external_backing_store,
                              GRPC_MDELEM_STORAGE_EXTERNAL);
    }

    allocated_metadata* allocated =
        static_cast<allocated_metadata*>(gpr_malloc(sizeof(*allocated)));

[2019-08-01 12:41] libichong opened #19816 "C# Grpc.Tools generates warning "Some expected protoc outputs were not generated""
### What version of gRPC and what language are you using?
 I tried 1.21 and 1.22 version within C# project

### What operating system (Linux, Windows,...) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Microsoft (R) Build Engine version 15.7.177.53362 for .NET Framework
Visual Studio 2017

### What did you expect to see?

 Surpress the

[2019-08-01 13:46] jtattermusch commented on #19773
by default, gRPC is configured to use so_reuseport socket option for the server sockets.
That means you can start multiple servers that will bind the same port.

You can disable using
`new ChannelOption(ChannelOptions.SoReuseport, 0)`
https://github.com/grpc/grpc/blob/618a3f561d4a93f263cca23abad086ed8f4d5e86/src/csharp/Grpc.HealthCheck.Tests/HealthClientServerTest.cs#L46

[2019-08-01 13:47] #19773 closed

[2019-08-01 17:23] parisak916 commented on #19646
Hi,
Thanks for your response. When I tried to run the two command lines I got this error:
tensorflow-federated 0.7.0 has requirement grpcio~=1.8.0, but you'll have grpcio 1.22.0 which is incompatible.
How do I switch to grpcio 1.8?

[2019-08-01 17:26] lidizheng commented on #19646
Can you paste your execution log? Through the error shown up, the package should be installed.

[2019-08-01 17:32] parisak916 commented on #19646
Parisas-MacBook-Pro:~ parisakhan$ python3.7 -m pip install --no-deps tensorflow-federated
python3.7 -m pip install -U grpcio tf-nightly absl-py numpy portpicker tensorflow-model-optimization

Requirement already satisfied: tensorflow-federated in /usr/local/lib/python3.7/site-packages (0.7.0)
Parisas-MacBook-Pro:~ parisakhan$ python3.7 -m pip install -U grpcio tf-nightly absl-py numpy portpicker t

[2019-08-01 17:58] lidizheng commented on #19646
The installation is successful, can you try to use `tensorflow-federated` in your application?

[2019-08-01 18:00] parisak916 commented on #19646
I use jupyter notebook and this is what I get.

AttributeError                            Traceback (most recent call last)
<ipython-input-1-d5cf8778319a> in <module>
      1 from six.moves import range
      2 import tensorflow as tf
----> 3 import tensorflow_federated as tff
      4 #from tensorflow_federated.python.examples import mnist
      5 #tf.compat.v1.enable_v2_behavior()

/usr/local/lib

[2019-08-01 18:01] parisak916 commented on #19646
I also get this:

/Users/parisakhan/Library/Python/3.7/lib/python/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/parisakhan/Library/Python/3.7/lib/python/site-packages/tenso

[2019-08-01 18:28] conqerAtapple commented on #19801
@guantaol any update on this?

[2019-08-01 19:56] bigfacebear opened #19819 "C/C++ writes_per_rpc_test failed on MacOS"
[code]
https://source.cloud.google.com/results/invocations/1023363c-3af7-405e-8181-4cb27292040a/targets

[2019-08-01 20:02] bigfacebear commented on #19614
Fixed memory_usage_test failure under Linux by #19811. Not sure if it fixed the situation under Mac since there is another test failed #19819 .

[2019-08-02 02:02] srini100 commented on #19731
In C++ there is an optimization where two channels with same arguments will share an underlying sub-channel (TCP connection). One would expect the channels to create their own sub-channels and hence provide more throughput but that's not the default behavior. If you want channels to not share sub-channels then just provide different channel args like a unique key value pair. https://grpc.github.io

[2019-08-02 02:18] JamesNK opened #19829 "Consider moving ChannelExtensions to Grpc.Core.Api"
`ChannelExtensions` currently lives in `Grpc.Core` and uses `Channel` - https://github.com/grpc/grpc/blob/3695eb09e45f2ea1d178bcfa759c081f76b0f1dd/src/csharp/Grpc.Core/Interceptors/ChannelExtensions.cs

`ChannelExtensions` extension methods could be changed to use `ChannelBase` and live in `Grpc.Core.Api`.

This is a breaking change, but it could be done as part of 2.23.

I don't think this is vit

[2019-08-02 02:18] JamesNK commented on #19829
// @jtattermusch

[2019-08-02 06:21] rmstar commented on #18884
Here's another crash in `grpc_error_unref`, but a different stack trace
[code]
https://source.cloud.google.com/results/invocations/99a424ca-fe81-42ec-a1a7-888ca480922a/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-02 09:58] zzppzzp opened #19830 "Linking libgrpc++ falied, libgrpc++.a(server_builder.o) in ‘grpc_impl::ServerBuilder::BuildAndStart() undefined reference"
### What version of gRPC and what language are you using?
 v1.23

### What operating system (Linux, Windows,...) and version?
 Centos7

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 8.3.0

### What did you do?
git clone clone https://github.com/grpc/grpc.git
cd grpc
git submodule update --init
make

${LINUX_LINK_DIR}/libaddress_sorting.a
${LINUX_LINK_DIR}/l

[2019-08-02 13:14] spiderpoison commented on #19773
thanks very much!

[2019-08-02 14:08] Falco20019 commented on #17672
@kkm000 If you need assistance, let me know. I'm not so deep into MSBuild but if it helps speeding this up, I'm willing to spend some time

[2019-08-02 17:34] jhump opened #19832 "service reflection: downloading transitive closure for a given symbol may not work"
In a dynamic client that uses service reflection to introspect on the server's schema, the existing operations are insufficient.

In order to reconstruct the schema in the client, like for creating descriptors in the client that can be used to create a dynamic stub and dynamic messages, we have to download the entire transitive closure for a particular service (all of the files it imports and the

[2019-08-02 17:52] jhump commented on #19832
Another solution, that does not require adding any import mapping fields to the current messages, is to strengthen the spec for `FileDescriptorResponse`. Instead of saying it *may* include the transitive closure, it could _require_ the transitive closure and also state the precise order so that a client could correctly link the files by just finding a given dependency at a computed index in the li

[2019-08-02 19:07] yashykt opened #19834 "cloud_to_prod:python:default:timeout_on_sleeping_server:tls"
This is another of the timeout_on_sleeping_server bugs. I didn't spot one from cloud_to_prod on python, so creating a new issue. These can be merged into one if the root cause is the same.

[code]

https://source.cloud.google.com/results/invocations/5b6c5b07-dba8-4d23-9805-14702d2c3fa5/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_toprod/log

seen on #19316

[2019-08-02 20:33] gnossen opened #19835 "Transitive Dependencies Explicitly Imported in WORKSPACE"
We are currently manually calling `go_rules_dependencies()` and `go_register_toolchains()` in our `WORKSPACE` file, but do not directly use any of the build targets offered by these repository rules. These were introduced in https://github.com/grpc/grpc/commit/49e7f4b2e46606d5950816edde95010c9555e468 in order to add a dependency on https://github.com/envoyproxy/data-plane-api. However, one of *its

[2019-08-02 20:33] gnossen commented on #19835
CC @nicolasnoble @mhaidrygoog

[2019-08-02 20:39] gnossen commented on #19835
[`apple_support_dependencies()`](https://github.com/grpc/grpc/blob/e6756a58ede2c9dd483ea9f10b286006df83a8b7/WORKSPACE#L84) is the same story.

[2019-08-03 00:05] stanley-cheung commented on #19366
Fixed in `1.23.0RC1`. `1.23.0` will be released in 2 weeks.

[2019-08-03 00:05] #19366 closed

[2019-08-03 00:06] #17922 closed

[2019-08-03 06:21] theopencompany opened #19842 "segfault, fast simultaneous calls from the same client terminates the program with a segfaultg"
### What version of gRPC and what language are you using?
V1.22.X
proto 3.8.0

### What operating system (Linux, Windows,...) and version?
 LINUX UBUNTU 19.04

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc

### What did you do?
I have a grpc server in c ++ that has a service (NOT asynchronous synchronization service) to authenticate my users, the process is

[2019-08-03 07:57] dmthinker commented on #19731
You means one-to-many or many-to-one

发自我的 iPhone

[2019-08-03 07:57] dmthinker commented on #19731
Thx,this helps a lot

发自我的 iPhone

[2019-08-04 12:17] PavelPZ commented on #15623
I created 20-lines-of-code-repository on https://github.com/PavelPZ/GrcpError, using **Microsoft.NETCore.App 3.0.0-preview7-27912-14**

Can you reproduce it?

Running on:
[code]

[2019-08-04 16:46] sreddybr3 opened #19843 "Huge latency issue ONLY for remotely located gRPC clients"
### What version of gRPC and what language are you using?
Python gRPC server using grpcio>=1.0<2

### What operating system (Linux, Windows,...) and version?
 Linux Ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python 3.6

### Describe the problem
We are facing major latency issues for remotely located gRPC clients sending predict requests to Pyth

[2019-08-04 16:49] PavelPZ commented on #15623
gRpc server in example above sends similar error when using DART client:
[code]
with error: **gRPC Error (2, HTTP/2 error: Connection error: Connection is being forcefully terminated. (errorCode: 10))**

[2019-08-05 02:24] andygikling commented on #18789
Bump, I'm seeing this issue too...

@Noemata can you try to remember what you did to fix this?

[2019-08-05 02:34] liang0213 opened #19844 "How to add generics(c#)"

[2019-08-05 03:44] kkm000 commented on #13236
@jtattermusch, .NET Core has added a lot of classes to reuse memory allocations, `Span<T>`, `Memory<T>` and friends (it's notable that C++17's stdc++ `std::string_view` is an advance in the same direction).  I believe netstandard2.0 has most of these, and 2.1 adds mostly buffer-reuse-by-pooling classes. Nothing of sorts in in the Framework, however; this would mean we'd need a lot of split code pa

[2019-08-05 04:06] andygikling commented on #18789
I figured out my error ILT005 - I was trying to pull in illegal unmanaged dlls into my UWP project.  So that's not actually related to this architecture issue.

[2019-08-05 04:40] andygikling commented on #18188
@tommcdon thanks for the response.

Per @Noemata 's comments, it's literally unbelievable to me that Microsoft is now using Github as a main source of quality control for many of their flagship products.

Microsoft, your software quality has been on a downhill slide for the past 5 years!  It has become brutally obvious.  Stop trying to make more money with a million idiot products nobody wants or

[2019-08-05 04:57] kkm000 commented on #17672
@Falco20019, so sorry, I managed to slack on this issue again. Being the jack-of-all-trades in a small company is an amazingly messy business! (Please take this not as my attempt at excuse, rather as a statement of fact). I'm hard-planning now a dedicated time to work on gRPC build on the week of 08/19.

[2019-08-05 13:52] georghinkel opened #19845 "verify_peer_callback ignored in SSL handshake"
## What version of gRPC and what language are you using?
 1.22-2.25 / C#

### What operating system (Linux, Windows,...) and version?
 Windows 10 64bit

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET 4.7.2

### What did you do?
Extended the greeter example with a peer verify callback.

**Server**

[code]

**Client**
[code]
The method `VerifyPeer` looks like

[2019-08-05 15:13] theopencompany commented on #19842
I was doing some research about this, and i found the issue:

my database connection pool is singleton thread safe, but mysql connector is not. so... if i start to making a crazy clicks on my login button with only 1 connection in the pool when the new request and thread from grpc try to access to the connection that is used by the old thread make the segfault in the new request grpc thread... tha

[2019-08-05 20:24] theopencompany commented on #19842
i close this because with my thread safe mysql client implementations all segfault are gone.

[2019-08-05 20:24] #19842 closed

[2019-08-05 21:25] #18411 closed

[2019-08-05 21:28] #18592 closed

[2019-08-05 21:35] AspirinSJL commented on #19819
Assigning to @vjpai since he is the last person who edited that test, although that's been a while.

[2019-08-05 22:07] jtattermusch commented on #19215
Is this only reproducible when the client is on Android  and the Server is on windows, or have you also seen it in other situations (e.g. linux client to linux server  or windows client to windows server)?
How often is "sometimes" in ` This line doesn't return (sometimes)`?

[2019-08-05 22:21] jtattermusch commented on #18461
@IanElsinga  would you be able to provide native stack trace once you run into this problem again?

[2019-08-05 22:30] jtattermusch commented on #19732
tvOS is not supported as we don't provide a pre-compiled version of the grpc_csharp_ext native library for tvOS (besides desktop platforms, we currently only support iOS and Android, see https://github.com/grpc/grpc/blob/master/src/csharp/experimental/README.md).
In principle, nothing should be preventing gRPC C# from working on tvOS (as far as I know) and you could probably make things work if yo

[2019-08-05 22:30] #19732 closed

[2019-08-05 22:38] jtattermusch commented on #19816
I understand that the warning `Google.Protobuf.Tools.targets(313,5): warning : Some expected protoc outputs were not generated.` is the problem that you're seeing.
Could you provide a reproduction (a simple csproj project) that will trigger this warning?
Without knowing the structure of your .csproj, it is unlikely that we will be able to reproduce this issue and help.

[2019-08-05 22:55] #17452 closed

[2019-08-05 23:06] jtattermusch commented on #13236
@kkm000 we now support deserializationContext.PayloadAsReadOnlySequence() for all the target platforms.  Now I also have some WIP for supporting IBufferWriter for serialization (which would allow serializing directly into native memory) here: https://github.com/grpc/grpc/pull/19792

[2019-08-05 23:08] jtattermusch commented on #19844
Not actionable. closing.

[2019-08-05 23:08] #19844 closed

[2019-08-05 23:42] gnossen opened #19854 "Create New Kokoro Job for Python Bazel Workspace Test"
Reference: https://github.com/grpc/grpc/pull/19822#discussion_r310788371

[2019-08-05 23:42] gnossen commented on #19854
CC @lidizheng

[2019-08-06 01:57] AspirinSJL opened #19857 "objc_macos_opt_native: Test Suite 'MacTests.xctest' and 'Selected tests' failed"
https://source.cloud.google.com/results/invocations/3766bb98-eeca-4e6b-bdce-2e20b497d687/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_objc_mac/log

[code]

I don't see other info.

[2019-08-06 04:14] rmstar commented on #19857
This was the failed test:
[code]

[2019-08-06 15:19] UltraCoderRU opened #19861 "Server closes connection (C++)"
### What version of gRPC and what language are you using?
gRPC 1.22.0 C++

### What operating system (Linux, Windows,...) and version?
Linux Mint 19.1 (Ubuntu 18.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Clang 6.0.0, GCC 7.4.0

### What did you do?
Trying to run my [test application](https://github.com/UltraCoderRU/my-assistant) to work with Google Assi

[2019-08-06 16:34] #19829 closed

[2019-08-06 20:05] AspirinSJL commented on #18976
I believe each RPC holds a ref to the underlying channel. If you want to perform graceful shutdown, you may need to finish the RPC properly. At some point, we are done with the RPC, and we let either the server or the client to trigger the completion (e.g.m `WritesDone ()`).

[2019-08-06 20:05] #18976 closed

[2019-08-06 21:00] yang-g commented on #18976
@JHDDReis So the proper way to cancel a pending RPC is to try TryCancel on your ClientContext. The channel will not be cleaned up until all the rpcs are done as said above.

[2019-08-06 21:28] gnossen opened #19863 "Add the ability to strip Module Prefixes in py_grpc_library"
Reference: https://github.com/grpc/grpc/pull/19822#discussion_r311219247

In https://github.com/grpc/grpc/pull/19822, it was noticed that importing `src.python.grpcio_channelz.grpc_channelz.v1.channelz_pb2` and `grpc_channelz.v1.channelz_pb2`, despite loading from the same source file, instantiated two distinct module objects. Thus, instances of `ChannelzServicer` created from the second module co

[2019-08-06 22:31] murgatroid99 opened #19864 "Ruby MacOS build failing"
https://source.cloud.google.com/results/invocations/37c7e921-96a4-41d4-9aa8-544f3d2d4522/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[code]

[2019-08-06 22:41] murgatroid99 opened #19866 "grpc_basictests_objc_ios: testInterceptorAndGlobalInterceptor failed"
https://source.cloud.google.com/results/invocations/1a5725b2-6fd8-480c-af9c-b74539599b08/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_objc_ios/log

[code]

[2019-08-06 22:44] murgatroid99 commented on #18939
This looks like the same failure as #18840

Also seen in UBSAN: https://source.cloud.google.com/results/invocations/a821af9a-2b1d-4bae-ad2b-905e2d9f24c4/targets

[2019-08-06 23:37] yashykt commented on #14812
We recently found a way to reproduce this relatively consistently. https://github.com/grpc/grpc/issues/14812 should fix this issue.
Cheers!

[2019-08-06 23:37] yashykt commented on #14812
The PR describes the issue and fix in detail

[2019-08-07 06:43] kghost opened #19870 "cc_grpc_library can't build proto file with `proto_source_root`"
### What version of gRPC and what language are you using?
v1.22.0

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
Doesn't matter

### What did you do?
clone this repo:

build with:

[code]

### What did you expect to see?
Build success

### What did you see instead?
protoc can't find its dependenc

[2019-08-07 07:11] JHDDReis commented on #18976
@yang-g thank you for the input.
I am using the following workflow to perform a clean shutdown from client-side:

1. Send from the client a disconnect request, warning the server-side that the client will initiate the shutdown process;
2. Closing streams from the client using TryCancel the streams from the client-side at the moment;
3. Deleting the object channel.

[2019-08-07 07:24] rmariano opened #19871 "[aio] Implement timeout in the __call__ for the asynchronous UnaryUnary callable"
As part of achieving full parity with the synchronous implementation of the unary unary call (https://github.com/grpc/grpc/issues/19760).
The new caller must comply with the original signature form the [synchronous channel](https://github.com/Skyscanner/grpc/blob/7b0576787898ee670c7a56b3fac34acfb1a62df0/src/python/grpcio/grpc/_channel.py#L556-L562)

[2019-08-07 07:25] rmariano commented on #19871
@gnossen / @lidizheng Could you please add this to the https://github.com/grpc/grpc/projects/16 project, and triage accordingly? Thanks
cc/ @pfreixes

[2019-08-07 07:34] qpb opened #19872 "Failed to recurse into submodule path 'third_party/bloaty'"
hi ，
     I'm git clone failed.

[code]

macos  10.14.3

[2019-08-07 07:52] ArturoGarciaRegueiro opened #19875 "Grpc ssl self signed certclient verification is failing"
Hi,

I've done a self signed ssl cert for my grpc client/server connection but the same error keeps popping.

Here it is the  log from client side:

[code]

And the log in server side:

[code]

[2019-08-07 11:07] hdoradu opened #19873 "Missing `gRPCTargets.cmake`"
There's been a set of cmake fixes recently, but starting with https://github.com/grpc/grpc/pull/12469, we added a test that once can install gRPC with cmake and then use it from another cmake project, so things should be working well right now. Closing.

_Originally posted by @jtattermusch in https://github.com/grpc/grpc/issues/11378#issuecomment-330250204_

The issue is still there.
I just built

[2019-08-07 14:57] Falco20019 opened #19874 "Name resolver support for C#/Android missing"
### What version of gRPC and what language are you using?
GRPC 1.19.0 C# from NuGet package

### What operating system (Linux, Windows,...) and version?
Android 7.0

### What runtime / compiler are you using (e.g. python version or version of gcc)
* C# compiler from within VS2019
* Xamarin.Android 9.5

### What did you do?
Access dns://localhost:8001/my-service

### What did you expect to see?
Res

[2019-08-07 17:11] gnossen commented on #19807
CC @nicolasnoble

[2019-08-07 17:23] gnossen commented on #19832
I don't believe that reflection currently has an owner, but in order to get some eyes on this...
CC @markdroth @ejona86 @dfawley

[2019-08-07 17:28] gnossen commented on #19835
It looks like this is blocked on https://github.com/bazelbuild/bazel/issues/1550 / https://github.com/bazelbuild/bazel/issues/1943

[2019-08-07 17:28] nicolasnoble commented on #19807
I mean, the very obvious issue here is that the toolchain is invalid.

Very first line:
```ERROR: /home/narens/.cache/bazel/_bazel_narens/external/boringssl/BUILD:130:1: C++ compilation of rule '@boringssl//:crypto' failed (Exit 1) process-wrapper failed: error executing command```

Emphasis on "C++". And then:

[code]

How can a valid C++ toolchain not have `nullptr` ? This is an issue for the NV

[2019-08-07 17:28] #19807 closed

[2019-08-07 17:31] nicolasnoble commented on #19807
Actually, let me take this back a bit: this is weird. BoringSSL's plain-C file "a_bitstr.c" is trying to do C++, and I'm guessing the NVIDIA toolchain is trying to compiline in plain-C mode. In all cases, something's up.

cc @agl.

[2019-08-07 17:38] gnossen commented on #19872
@qpb I'm unable to reproduce this. Can you please turn up logging on git to produce more information about the problem?

[2019-08-07 17:41] gnossen commented on #19873
CC @nicolasnoble

[2019-08-07 17:44] gnossen commented on #19874
CC @lidizheng

[2019-08-07 20:11] ejona86 commented on #19832
@dklempner

I don't know what you mean by relative imports. Relative imports aren't a thing in protoc from what I can tell. Are you adding passing protoc a `-I` argument for each subfolder?

I don't really understand that, because the descriptors are basically exactly what was passed from protoc to the protoc plugin. There's only one step involved: "parse the .proto into a descriptor."

[2019-08-07 21:33] agl commented on #19807
I don't know exactly what version of BoringSSL you have so I'm not sure what's on crypto/internal.h line 500. However, that file only contains a single `nullptr` in master and it's in `MutexLockBase::MutexLockBase`. That is, indeed, C++. But the C++ bit is within `#if defined(__cplusplus)`. We assume that, if `__cplusplus` is defined then the compiler is a C++ compiler. If we have code using `null

[2019-08-07 22:12] hcaseyal opened #19877 "bm_chttp2_transport consistently failing with segfault"
Test log:
bins/dbg/bm_chttp2_transport --benchmark_filter=BM_TransportStreamSend/134217728$ GRPC_POLL_STRATEGY=poll

D0805 16:26:48.958285370   25878 ev_posix.cc:174]            Using polling engine: poll
D0805 16:26:48.958459186   25878 dns_resolver_ares.cc:485]   Using ares dns resolver
2019-08-05 16:26:48
Running bins/dbg/bm_chttp2_transport
Run on (32 X 2300 MHz CPU s)
CPU Caches:
  L1 Data 32

[2019-08-07 22:22] rmstar opened #19878 "Assertion failed: out != nullptr in grpc_chttp2_stream_map_delete"
[code]
https://source.cloud.google.com/results/invocations/4b6b4be5-711d-4733-9ea5-09fc6f3ce50f/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-07 22:25] rmstar commented on #19878
CC @muxi @srini100

[2019-08-07 23:12] yashykt opened #19880 "cancel_ares_query_test Failure"
CancelDuringAresQuery
TestHitDeadlineAndDestroyChannelDuringAresResolutionWithQueryTimeoutIsGraceful

[code]
https://source.cloud.google.com/results/invocations/4a8493fd-7a1f-444c-9ea4-c41fb6b8af56/targets/%2F%2Ftest%2Fcpp%2Fnaming:cancel_ares_query_test@poller%3Dpoll/tests
Seen on #19865

[2019-08-07 23:14] lidizheng opened #19881 "[Aio] Support asyncio run_in_executor mode"
The new API intended to solve all concurrency issue with asynchronous I/O. However, it also introduces a migration challenge for our users. For users who want to gradually migrate from current stack to async stack, their potentially non-asyncio native logic may block the entire thread. If the thread is blocked, then the event loop will be blocked, then the whole process will end up deadlocking.

S

[2019-08-07 23:53] gnossen commented on #19255
This should be good to go now. You can see an example usage in the test for these macros. https://github.com/grpc/grpc/blob/835786a476c250a30e7d95bf4c335cdbcf3a47c2/bazel/test/python_test_repo/BUILD#L30

[2019-08-07 23:53] #19255 closed

[2019-08-08 00:52] jhump commented on #19832
@ejona86, this did not mean "relative to the current proto file". I think, in fact, that _all_ import statements are relative: `protoc` will complain if it sees an absolute path. Anyhow, the description above goes into a little more detail. But the gist is: if you invoke `protoc` more than once -- once to compile file A and a different time to compile B, which imports A -- and you use _different_

[2019-08-08 01:00] hcaseyal commented on #19877
Doesn't look like that PR is actually the issue (although our test UI says otherwise)...

[2019-08-08 05:59] apolcyn commented on #19874
cc @markdroth about the name resolver core API

FWIW the use of c-ares on Android was paused due to the issue brought up and fixed in https://github.com/c-ares/c-ares/pull/148, which hasn't made it into a c-ares release tag yet (last I checked). c-ares on Android is currently prevented at compile time, though for experimental purposes, I could imagine that disabling happen at runtime, with switch

[2019-08-08 07:59] dklempner commented on #19832
Regarding strengthening the spec: the spec (at least server-reflection.md) **does** require returning transitive imports. This protocol is almost unusably chatty (at least for internal-Google programs which often have sprawling proto dependencies) if it does not.

The server reflection proto is somewhat silent on the topic but retains language about how servers are allowed to omit protos which hav

[2019-08-08 08:07] jaaant commented on #14109
We're also getting these errors every now and then.

**gRPC version and language:** 1.18.0, C++

**Operating system:** Windows 10

**Compiler:** Visual Studio 2017

We're running two gRPC servers side by side in the same program. At the end of the program, the servers are shut down one after another, and occasionally a client connected to the server that is shut down first receives error code 13 (

[2019-08-08 08:49] hyperjiang commented on #19468
`CFLAGS="-Wno-cast-function-type" make -j$(nproc) && make install && make clean && ldconfig`
This works for me.

[2019-08-08 09:05] RSoodAMAT opened #19887 "Need to know how NettyServerBuilder allocates memory to the buffer"
If i increase the inbound max message size at server side  to be  1GB by NettyServerBuilder, how will the memory be allocated to buffer?

Will complete 1GB be allocated to the messaging buffer or will it be lazy allocation meaning only that only that much memory will be allocated , that is needed by object.

For example : If i set NettyServerBuilder.maxMessageSize(MAX_MESSAGE_SIZE), where MAX_MESS

[2019-08-08 12:59] efeozyer opened #19888 "ClientFactory .Net Core 3.0 Support"
*grpc-aspnetcore*

 Example.Order.ServiceHost.csproj: [NU1202] Package Grpc.Net.ClientFactory 0.1.22-pre2 is not compatible with netcoreapp3.0 (.NETCoreApp,Version=v3.0). Package Grpc.Net.ClientFactory 0.1.22-pre2 supports: netstandard2.1 (.NETStandard,Version=v2.1)

Could you push Grpc.Net.ClientFactory package with .Net Core 3.0 support?

[2019-08-08 13:12] jhump commented on #19832
@dklempner, does that mean this other issue I filed is really a bug, not an enhancement request?
https://github.com/grpc/grpc-go/issues/2949

So if the spec were strengthened to strictly describe the order of files, then imports could be correctly linked even if there is a conflict between the names used to import the file and to compile it, which would totally solve this problem.

However, such a

[2019-08-08 14:43] georghinkel commented on #19845
BTW: I based the changes to SSL on the following commit that also includes scripts to generate the openSSL certificates: https://github.com/zut/grpc/commit/3d0e76ef544fc69311e98f20d8ecae5334578d95

Unlike this example, I used different self-signed CAs for server and client, noted as ca.crt and ca2.crt.

[2019-08-08 16:18] hcaseyal commented on #19877
Resultstore link: https://source.cloud.google.com/results/invocations/e67e2209-c883-45d1-9762-34ea29664faa/targets

[2019-08-08 16:57] hcaseyal commented on #19877
Here seems to be the first instance where it fails: https://source.cloud.google.com/results/invocations/e2b334c4-0107-43ca-9e9b-5f182479b3a7/targets/github%2Fgrpc%2Fcpp_linux_dbg_native/tests

Culprit PRs:
https://github.com/grpc/grpc/pull/19696/files
https://github.com/grpc/grpc/pull/19695/files

@yunjiaw26 Can you take a look?

[2019-08-08 17:17] ejona86 commented on #19832
You're saying the same proto file has two different names? Yeah, that seems unsupported. You can't go around willy-nilly changing the proto file name, in the same way you can't go around changing the proto package name. Bringing in @acozzette from protobuf team for more authoritative response.

It seems like there should be some judicial use of `-I` to make the import paths the same.

[2019-08-08 17:26] hcaseyal opened #19889 "Nanopb sanitizer tests 80% flake rate"
Resultstore link: https://source.cloud.google.com/results/invocations/fab0f2a9-c9d2-44b7-82a9-af35aeb853cf/targets

Culprit PR: #19740

D0807 22:03:04.203950602   27471 ev_posix.cc:174]            Using polling engine: none
D0807 22:03:04.205229538   27471 dns_resolver_ares.cc:485]   Using ares dns resolver
MemorySanitizer:DEADLYSIGNAL
==27471==ERROR: MemorySanitizer: SEGV on unknown address 0x000

[2019-08-08 17:29] #19889 closed

[2019-08-08 17:30] acozzette commented on #19832
Yes, for better or worse there's a fundamental assumption that each .proto file has just one path. If different protoc invocations consider a file to be at different logical paths then that will cause problems.

[2019-08-08 18:13] jhump commented on #19832
@acozzette, @ejona86, that's easy enough in a monorepo or even within a single organization. But if gRPC is going to increase as a thing for _external_ APIs, like Google is doing with its cloud services, there needs to support for cross-repo and cross-organization usages, which is where it's trivial for this kind of problem to pop up.

I think it's a real issue is that it's not _specified_ anywher

[2019-08-08 19:59] hdoradu commented on #19873
I think the issue is with the `grpc` install step. I ran cmake again on it and I see this:
[code]

[2019-08-08 20:36] ejona86 commented on #19832
@jhump, I think it is pretty easy to make it work with the restriction in general, but I agree that unless people know about the restriction they won't necessarily set things up to work correctly. This probably isn't too much of an issue with Java, due to our involvement with the Maven/Gradle plugins and consuming .protos from with .jars. But other languages would be trivially impacted.

I've crea

[2019-08-08 20:36] #19832 closed

[2019-08-08 22:19] lidizheng commented on #19881
Blocker https://github.com/grpc/grpc/issues/19793

[2019-08-09 06:25] hcoona commented on #19645
Found this: https://github.com/grpc/grpc/pull/13929/

Add build option `--copt -DGRPC_BAZEL_BUILD` would work.

[2019-08-09 08:32] hdoradu commented on #19873
I got my answer from [this](https://github.com/grpc/grpc/issues/13841#issuecomment-355510534) post.
What I don't understand is why isn't the `package` set as default if the `cmake` install does not work with `module`.
Can't it look for installed `package`s and in case thy are not there fallback to `module`?

[2019-08-09 11:12] inewlife opened #19895 "python client often report errors StatusCode.UNAVAILABLE deadline exceeded"
### What version of gRPC and what language are you using?
 vesion: grpcio==1.22.0
 language: python
### What operating system (Linux, Windows,...) and version?
 Linux in docker container

### What runtime / compiler are you using (e.g. python version or version of gcc)
 python3.6

### What did you do?
client and server also use grpc with python, I use a thread to get grpc server's ip and port from

[2019-08-09 12:12] #19873 closed

[2019-08-09 16:52] lidizheng commented on #19895
It seems like a networking environment issue for Docker. I would recommend checking your container network mode, and whether the ports are exposed or not.

If you are certain the network setup is fine, you can add environment variable (see [doc](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md)) `GRPC_TRACE=all GRPC_VERBOSITY=DEBUG` to print out all tracing information.

[2019-08-09 21:39] AspirinSJL opened #19898 "macos/grpc_build_artifacts timeout"
https://source.cloud.google.com/results/invocations/47b2cf5d-896a-4e35-82f4-f48f7d272b25/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_build_artifacts/log

[code]

[2019-08-09 21:50] AspirinSJL opened #19899 "grpc_interop_tocloud: Failed to connect to github.com"
https://source.cloud.google.com/results/invocations/2f379a8c-108b-4f2e-a571-220306a82474/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[code]

[2019-08-09 22:22] AspirinSJL commented on #17182
Now that I'm thinking about it again, we should fix this by setting LB token like https://github.com/grpc/grpc/blob/ab9c2c190505c9e0cc4d439a54c221f413f6b8f3/test/cpp/end2end/grpclb_end2end_test.cc#L313

[2019-08-09 22:32] AspirinSJL commented on #14549
Not seen for 10 months. Closing.

[2019-08-09 22:32] #14549 closed

[2019-08-09 23:06] rmstar opened #19901 "ASAN failure: CFStreamTest/CFStreamTest.NetworkFlapRpcsInFlight/7"
[code]
https://source.cloud.google.com/results/invocations/5d2cd88e-2ddf-42c6-9a8c-f7db7e1d3a53/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream_asan/log

[2019-08-09 23:06] rmstar commented on #19901
CC @srini100 @muxi

[2019-08-10 00:01] noypi commented on #18188
What do I need to update once you guys are done? should I upgrade IDE? is community edition supported?

[2019-08-10 00:09] #14812 closed

[2019-08-10 07:55] #19731 closed

[2019-08-10 10:10] darshitg commented on #17318
Having the same LNK Errors when building gRpc from Unity for uwp target. i've followed the steps from [stackoverflow](https://stackoverflow.com/questions/53488605/unity-cannot-build-grpc-project-for-uwp-with-il2cpp-backend/53600402#53600402) to solve these errors but still facing please help to solve this problem.

[2019-08-10 15:40] MohsenneChaverdie commented on #17318
Are you using gRPC 1.16. version?

[2019-08-10 17:58] cimpok opened #19905 "Windows update blocks previously valid ports used in examples"
The example here
[https://github.com/grpc/grpc/blob/master/examples/csharp/RouteGuide/RouteGuideServer/Program.cs](url)
uses port 50052
Running this example results System.IO.IOException: 'Failed to bind port "localhost:50052"'
It took me several hours to find out the cause:
February 13 cumulative update 4074588 in Windows 10 Version 1709 has silently blocked some ports.
https://support.microsoft.

[2019-08-11 03:47] muxi commented on #19901
Nice~~

[2019-08-11 12:25] inewlife commented on #19895
Thanks for your reply,the ports expose,you means the server listen ports?

[2019-08-11 20:27] richfelker commented on #17877
Can you determine what CFLAGS and LDFLAGS were used to build the affected libraries? Is it possible that they depend on some libraries which were only built in static form, and not as PIC, so that non-PIC code got linked into the shared library?

[2019-08-11 22:00] richfelker commented on #17877
OK, I've been informed that this is a known issue: https://www.openwall.com/lists/musl/2019/06/30/4

It will be fixed upstream in musl.

FYI, this happening is a result of having misaligned pointers in the data segment of the program/library affected, which is a really bad idea. It comes from someone using packed/align(1).

[2019-08-12 06:16] JamesNK commented on #19534
aspnetcore now supports ChannelCredentials. We should get this test passing to verify we can get full compatibility with the current v2 changes.

[2019-08-12 11:03] inewlife commented on #19895
Is there some option to make the connection disconnected for a while, and then connect again when called again?

[2019-08-12 12:55] metellius commented on #14565
@guantaol Has anything gone public yet? I'm trying to look for traces of iomgr work in git but can't see anything. Will there be a blog post about this when it goes out?

[2019-08-12 14:23] pfreixes commented on #19793
Seems that the root cause would be caused when a custom `iomgr` is used and the `grpc_prefork` function is called since `grpc_get_poll_strategy_name` is an undefined symbol accessing to its raises a segfault [1].

Running the snippet attached to this bug with the environment variable `GRPC_ENABLE_FORK_SUPPORT` configured to 0 it works like a charm.

We should fix this bug in the core source for no

[2019-08-12 16:24] jtattermusch commented on #19873
@hdoradu  this is a tradeoff between making build as easy as possible for contributors (they'd usually build using submodules) vs installation experience (there's always room to improve, but the process is relatively well documented and installing c++ libraries is a hard problem in general). We hope to improve the c++ installation experience in the following months, let's see how that goes.

[2019-08-12 16:37] d2vydov opened #19908 "Xcode build error BoringSSL-GRPC "use of undeclared identifier 'SSL_get_secure_renegotiation_support'; did you mean 'GRPC_SHADOW_SSL_get_secure_renegotiation_support'?""
### What version of gRPC and what language are you using?
Objective-C/Swift, gRPC is 1.19.0

### What operating system (Linux, Windows,...) and version?
 macOS 10.14.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
Xcode 10.3, command line tools 10.3, toolchain - 10.3

### What did you do?

- Create an empty iOS project
- Add Podfile with `pod 'gRPC-Core', '1.19

[2019-08-12 16:55] d2vydov commented on #19908
so, I tried to compile with other versions, there are results:

- 1.22.0 - **fails**
- 1.16.0 - **fails**
- 1.13.0 - **works fine**

do somebody have ideas why this happening?

[2019-08-12 17:21] Kadajski opened #19909 "channelz api not accessible in c# server"
### What version of gRPC and what language are you using?
 grpc.core 1.22.0 - C#

### What operating system (Linux, Windows,...) and version?
 Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 dotnet core 2.2

### What did you do?
Ran a grpc server which should have channelz api enabled by default in c-core #15986 and created a client that calls the server

[2019-08-12 17:55] jpeel opened #19910 "Python channel close can deadlock when keepalive timeout happens"
### What version of gRPC and what language are you using?
 1.17.1

### What operating system (Linux, Windows,...) and version?
 Linux 3.19.2.28437

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 3.5.3

### What did you do?
I connect to a device and send frequent (one or two per second) async requests with a deadline/timeout of 5 seconds. The keepalive tim

[2019-08-12 17:58] lidizheng commented on #19895
I'm not sure about what you are asking for. If you are asking about if a connection will be disconnected for sitting idle too long, then the answer is depends on your network setting. gRPC has keepalive mechanism that should keep the connection alive, even if the connection break, gRPC will try to reconnect automatically. But we have seen proxies that will force close connection after certain time

[2019-08-12 18:51] guantaol commented on #19877
I do not think this failure is related to https://github.com/grpc/grpc/pull/19696 or https://github.com/grpc/grpc/pull/19695. The fixed-size threadpool has not been integrated to the grpc runtime yet, so it won't affect any test except its own unit tests.

@hcaseyal can you take another look?

[2019-08-12 20:21] lidizheng commented on #19793
Thank you for the investigation. It is a known issue, and has been fixed by https://github.com/grpc/grpc/pull/19556. If you sync this branch with master, this segfault problem should go away.

[2019-08-12 20:49] yashykt commented on #19901
Looks like a heap buffer overflow issue in slices. Staring at the code does not suggest anything obvious. One interesting point is that we see this issue on Mac and not on Linux. Maybe it's possibly a difference in how gpr_realloc and memmove work for Mac?

Reassigning to component owner @vjpai

[2019-08-12 20:57] lidizheng opened #19913 "Expose local credentials in Python wrapper"
The local credentials API is added internally, but not in OSS. This API disparity turns out becoming a blocker for users who want to use secure channel for both in and out of Google. We need to expose the same API in OSS.

[2019-08-12 21:11] jtattermusch commented on #19877
@guantaol   from the historical data we can see that the breakage started in close proximity of those PRs being merged (very rare failures before that PR got merged and close to 100% failure rate after the PR got merged).  Have you actually tried reproducing the issue before and after the commit? If so, it would be good if you could help investigating - the rootcause is something that got merged +

[2019-08-12 22:31] jtattermusch opened #19915 "grpclb_fallback_test failing 100% on master (with run_tests.py suite)"
First failing build (on Jul 12!)
https://source.cloud.google.com/results/invocations/0755df61-30a0-499e-9e81-7e1abdef3714/targets/github%2Fgrpc%2Fcpp_linux_dbg_native/tests

this is right after https://github.com/grpc/grpc/pull/19623 got merged and it has been failing ever since

[code]

Repro case:
[code]

[2019-08-12 22:31] jtattermusch commented on #19915
CC @hcaseyal  FYI

[2019-08-12 23:27] #15735 closed

[2019-08-13 00:50] inewlife commented on #19895
E0813 08:47:14.154801376      63 chttp2_transport.cc:2801]   ipv4:10.22.15.10:80: Keepalive watchdog fired. Closing transport.

[2019-08-13 00:54] lidizheng commented on #19895
@yashykt Do you know under what circumstance will the keepalive watchdog being fired?

[2019-08-13 04:26] gewter opened #19921 "deadline do not work in async client when Send-Q is full"
### What version of gRPC and what language are you using?
 1.17.0  or  1.24.0-dev

### What operating system (Linux, Windows,...) and version?
 linux centos 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 4.8.5

### What did you do?
1. I write a async grpc client in c++ and set up timeout of 1ms to call. When client send the call in  an infinite wh

[2019-08-13 05:53] rmstar commented on #19878
repro: https://source.cloud.google.com/results/invocations/aa1c600c-4e90-46ee-860d-46db461e7d4a/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-13 09:00] BusyJay opened #19923 "Segment fault at gpr_mpscq_pop_and_check_end"
### What version of gRPC and what language are you using?

v1.17.2, rust wrapper of grpc c core.

### What operating system (Linux, Windows,...) and version?

Linux 3.10

### What runtime / compiler are you using (e.g. python version or version of gcc)

grpcio, which wraps grpc c core in rust.

### What did you do?

Nothing special, just a long running service.

### What did you see instead?

stac

[2019-08-13 11:59] darshitg commented on #17318
i've grabbed from the main branch latest so it is version 1.22 or 1.23

[2019-08-13 17:27] MohsenneChaverdie commented on #17318
Aha, I see. So, the StackOverflow answer cannot help you, since they are changing gRPC rapidly.

- try it with the newest Unity Version, 2019.2,~ or something.
- be sure, you are using the newest Windows SDK.

Personal experience -> try to find a workaround instead of implementing gRPC in Unity: e.g. route it over UDP, it makes Unity app perform better using less code and calculation.

[2019-08-13 17:34] tommcdon commented on #18188
@andygikling @Noemata Just a quick update - the release mechanics are in motion and we are working with the store team to finialize our release date.

@noypi I suggest using the latest version of Visual Studio 2017 or 2019.  The Community edition of Visual Studio is supported with UWP.  Please see https://docs.microsoft.com/en-us/nuget/quickstart/install-and-use-a-package-in-visual-studio for inst

[2019-08-13 17:47] yashykt commented on #19878
cc @arjunroy

[2019-08-13 18:02] #19501 closed

[2019-08-13 18:05] apolcyn opened #19925 "objc build failure: ..... Build/Products/Release-appletvos/nanopb/pb.h: No such file or directory"
log snippet:

[code]

https://source.cloud.google.com/results/invocations/1d8691a3-b889-42fd-ab91-ad3740cf953c/targets/github%2Fgrpc%2Fobjc_macos_opt_native/tests

Seen in `
objc_macos_opt_native
.
ios-buildtest-example-tvOS-sample`

seen in PR: https://github.com/grpc/grpc/pull/19893

[2019-08-13 18:43] rmstar commented on #19878
https://source.cloud.google.com/results/invocations/73e9563b-e817-4e6f-9fa8-93c48daab0a2/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-13 18:45] HunterLarco opened #19927 "DefaultHealthCheckService not correctly serving"
### What version of gRPC and what language are you using?
 version: 1.20.1
lang: C++

### What operating system (Linux, Windows,...) and version?
 operating system: Ubuntu (linux-gnu)
version: 18.04.3 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 bazel 0.28.1

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific

[2019-08-13 20:13] AspirinSJL opened #19929 "Portability Tests Windows timeout"
https://source.cloud.google.com/results/invocations/c47caae4-2ed9-41c7-91cb-cf2a79d3dfe2/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_portability_build_only/log

[code]

[2019-08-14 08:48] BusyJay commented on #19923
Probably related to grpc/grpc#14310

[2019-08-14 13:35] alirezastack opened #19941 "gRPC python server handles one RPS while concurrency is set to 1000"
### What version of gRPC and what language are you using?
Python 3.6.7
grpcio 1.22.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 18.04.2 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python 3.6.7

### What did you do?
https://gist.github.com/alirezastack/ec8e4d97dfdfbb8ae1c8724e742bc343

### What did you expect to see?
 If I set `ma

[2019-08-14 14:47] Jeskz0rd commented on #18428
Same happens with the official Microsoft image that uses `libgrpc_csharp_ext.x64.so `.
ie: mcr.microsoft.com/dotnet/core/aspnet:2.1.11-alpine3.9

I checked with `.NetCore 2.2 and 2.1`

[2019-08-14 15:26] igormcoelho commented on #19873
I'm having the same issue here... any way to properly install gRPC C++ on linux and run helloworld?

[2019-08-14 16:35] hbgongen commented on #19750
@yang-g
Thanks.i got it.Does grpc have another different areas in header from http2 header?

[2019-08-14 16:52] gnossen commented on #19941
@alirezastack gRPC Python servers are currently all synchronous. That is, each servicer thread you provide in your thread pool handles a single RPC to completion before handling the next. So `max_workers` effectively dictates your concurrency.

As per [the documentation](https://grpc.github.io/grpc/python/grpc.html?highlight=concurrent#create-server),

So `maximum_concurrent_rpcs` gives you a way

[2019-08-14 16:52] #19941 closed

[2019-08-14 17:34] yashykt commented on #19923
Since this is from rust, it is probably going to be hard to track it here especially without a way to reproduce this.

[2019-08-14 17:54] yashykt commented on #19921
If it is the same as #15889, then the fix should also be the same.

Please enable keepalives by setting KEEPALIVE_TIME. That would also enable TCP_USER_TIMEOUT. (It is disabled by default.)

[2019-08-14 17:55] yashykt commented on #19921
Please let me know if that does not work.

[2019-08-14 18:19] yashykt commented on #19887
Issues for grpc-java are tracked at https://github.com/grpc/grpc-java/issues

[2019-08-14 18:20] #19887 closed

[2019-08-14 18:34] rmstar opened #19947 "Unnecessary timer wakeups"
### What version of gRPC and what language are you using?

Master branch

### What operating system (Linux, Windows,...) and version?

Linux, Mac OS

### What runtime / compiler are you using (e.g. python version or version of gcc)

bazel 0.26.0

### What did you do?

Create  a timer that fires in 1.5 seconds, then sleeps for 5 seconds. I would expect 6 grpc timer wakeups: 1 wakeup/second when the

[2019-08-14 19:26] yang-g commented on #19927
This is sort of expected at the moment. We do not export the health check service in the same way as user-provided services because we do not want to add protobuf dependency. Thus the cli tool may not get the details of the health check service.

For a potential workaround for `grpc_cli call`, which I guess is a bit important, you may want to try setting the proto file directly using `--proto_path

[2019-08-14 19:29] karthikravis opened #19949 "Basic C++ ios test fails"
### What version of gRPC and what language are you using?
v1.23.x

### What operating system (Linux, Windows,...) and version?
build for ios

### What runtime / compiler are you using (e.g. python version or version of gcc)
kokoro run

### What did you do?
run kokoro test

### What did you expect to see?
 build pass

### What did you see instead?
sponge link - https://sponge.corp.google.com/target

[2019-08-14 22:14] Andrew-Lev opened #19953 "Running gRPC python with BUILD_WITH_SYSTEM_OPENSSL=1 flag. How can I verify version of openSSL being used?"
I am building grpc from source and attempting to use openssl instead of boringssl.
I run the build using

as per the [documentation](https://github.com/grpc/grpc/blob/master/setup.py).

[code]

Everything builds successfully:

I am looking for some way to verify that openssl is indeed being used, and also what version of open ssl.  I have tried looking through the logs for any indication of this,

[2019-08-14 22:22] yashykt commented on #19861
At first look, this issue might be better tracked at https://github.com/googlesamples/assistant-sdk-cpp/issues

[2019-08-14 22:25] lidizheng commented on #19953
AFAIK, the script you are pointing is not used during the build process. The build is handled purely by Python's `setuptools`. If you are using `GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1`, then it is already link to your system openssl.

[2019-08-14 22:54] yashykt commented on #19161
Sorry for the super late reply. I got pulled into some higher priority work.
I think the reason why epoll_wait did not happen is because the DEFAULT_POLL_INTERVAL for the backup poller is 5 seconds. I believe if you increase the wait time, we won't run into this. I'll try running the tests myself to verify.

[2019-08-14 23:03] gnossen commented on #19953
Luckily, [OpenSSL provides a function specifying their version as an integer](https://www.openssl.org/docs/man1.1.0/man3/OPENSSL_VERSION_NUMBER.html) that you can inspect inside of the wheel. So, for example, if you wanted to check out the version statically linked into the `1.22.0` grpcio release, you could do
[code]
As you can see, the function just returns `0x1010007f`, which, according to the

[2019-08-14 23:03] #19953 closed

[2019-08-14 23:07] ghost opened #19954 "C-Ares cannot find DNS Servers"
### What version of gRPC and what language are you using?
 C# .Net Standard 2.0
 gRPC 1.21.0

### What operating system (Linux, Windows,...) and version?
 Windows 10 Version 1809

### What runtime / compiler are you using (e.g. python version or version of gcc)

vbcs.exe via  MSBUILD

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code

[2019-08-14 23:24] apolcyn commented on #19954
As a first thing to check, are you able to try with the 2.23.0-pre1 release. In particular, this release includes this patch: https://github.com/grpc/grpc/pull/19397 (which would fix this if you might be hitting a related error to https://github.com/grpc/grpc/issues/18411#issuecomment-502216322).

[2019-08-14 23:26] lidizheng opened #19955 "[Aio] Async IO manager deadlock with current API"
Current gRPC Python API will deadlock using Async IO manager. This problem needs to be solved before merging the first PR.

Reproduction script:
[code]

Log:
[code]

[2019-08-14 23:49] rmstar commented on #19949
`grpc_basictests_cpp_ios` is a new test that was was added recently in #19850. That commit didn't make it into 1.23, but the corresponding kokoro config exists in [google3](http://cl/261947910). There's only [one version](http://go/oneversion) of kokoro config in google3, so I don't think we can fix this issue.

[2019-08-14 23:49] #19949 closed

[2019-08-14 23:58] lidizheng commented on #19955
Turned out if the main thread is blocking wait on `cq_next`, the asyncio manager will deadlock due to unable to execute another coroutine.

[2019-08-14 23:58] gnossen opened #19956 "@local_config_python://python_include fails to build under Bazel RBE"
https://github.com/grpc/grpc/pull/19926 was (unwittingly) the first time any Python target was run under Bazel RBE. It brought several `py_proto_library` targets under the `test/` directory, which caused `@local_config_python://python_include` to be built under Bazel RBE. This repository rule ([originally copied from Tensorflow](https://github.com/tensorflow/tensorflow/blob/master/third_party/py/p

[2019-08-15 00:00] gnossen commented on #19956
CC @brandjon @AspirinSJL

[2019-08-15 00:02] gnossen commented on #19956
One possible solution would be to include a source distribution of `cpython` and use *its* headers, so we no longer have to depend on system libraries.

[2019-08-15 00:08] AspirinSJL commented on #19956
Thanks for investigating this issue!

@nicolasnoble Has similar problem happened before? Could we disable building these Python targets?

[2019-08-15 02:52] X-Crack opened #19958 "Is there an example of a multi-threaded asynchronous server?"
My English is not very good, I hope to understand a lot.

I want to be able to get a multi-threaded, purely asynchronous server-side example.

The official C++ example is too small. I hope to give more examples.
thank you very much!!!!

[2019-08-15 03:03] wanglzh opened #19959 "Is there a way to use shared memory instead of socket on a local machine for rpc?"

[2019-08-15 03:16] muxi commented on #19908
Do you have any instruction for us to reproduce this issue? We do not see this problem for now.

Also, one good thing to try is to build the hello world example in `/example/objective-c/helloworld`. That could help decide if the issue is in gRPC or your project.

[2019-08-15 03:31] BusyJay commented on #19923
I think it's related to https://github.com/grpc/grpc/issues/17786, which also provides a method to reproduce the core dump (and using c++).

[2019-08-15 05:35] pfreixes opened #19961 "When a custom IOMGR is used, fork handles must be skipped"
The current version of master does not skip the fork handles if the `iomgr` does not match with the one provided by default by the gRPC library [1]

Since current code is actually warning that any `iomgr` that is not `poll` and nor `epoll1` is not currently supported, what I would expect is having the fork handles skipped.

This is creating some friction with the addition of the new  experimental

[2019-08-15 07:14] gewter commented on #19921
It works. Thank you!

By the way, Could you please tell me why it works? Why it does not work before? And why is the deadline mechanism relevant to keepalives?

[2019-08-15 08:43] d2vydov commented on #19908
I've just created new admin in my PC and all works fine now.

I think the problem is a lot of redefines `SSL_get_secure_renegotiation_support` without `#ifdef` checks.

[2019-08-15 08:45] d2vydov commented on #19908
The issue should be closed, I think, but perhaps you can create issue for fix redefines with `#ifdef` checks?

[2019-08-15 11:02] sujiths opened #19962 "C++:Custom verification of server certificate from client side"
### What version of gRPC and what language are you using?
 1.20.0, C++

### What operating system (Linux, Windows,...) and version?
 MacOS Mojave (10.14.5)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Apple LLVM version 10.0.1 (clang-1001.0.46.4)

Is there a way currently to let the certificate verification be done by OS apis rather than grpc doing it interna

[2019-08-15 12:33] ObiBobCanobi commented on #19954
@apolcyn  Thank you for the quick response. Unfortunately, upgrading to 2.23.0-pre1 did not resolve the DNS issue. The log is below.  Is there other information I can collect to help pin point the root cause?

I0815 08:13:58.277055 0 T:\src\github\grpc\workspace_csharp_ext_windows_x64\src\core\ext\filters\client_channel\resolving_lb_policy.cc:260: resolving_lb=0000023E3B42B380: resolver transient

[2019-08-15 13:12] hdoradu commented on #19873
@igormcoelho, check [this](https://stackoverflow.com/questions/57413975/cmake-with-grpc-cannot-find-grpctargets-cmake)

[2019-08-15 13:58] phlippieb opened #19963 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Error starting a batch of operations: 8'"
### What version of gRPC and what language are you using?

Objective-C, gRPC 1.22.0

### What operating system (Linux, Windows,...) and version?

Building on MacOS 10.14.6 (18G87)
Running on various iOS >= 12.0

### What runtime / compiler are you using (e.g. python version or version of gcc)

gRPC as installed by CocoaPods

gcc:
[code]

### What did you do?

This crash sometimes occurs when a str

[2019-08-15 14:17] phlippieb commented on #19963
Update: I removed all polling of the state of the protocall and of the writer. It had no effect -- the crash still occurs.

[2019-08-15 16:31] philsc commented on #19161
Ah, that's fair. You're right. It does work if I increase the wait time.

Still seems odd to me that a connect() is invoked without adding it to the list of epoll FDs to watch.
But yeah, this is perfect for what we need.

Thanks a ton!

[2019-08-15 17:26] apolcyn commented on #19954
Ok, next thing to check is can you run under the following environment variable settings:

* `GRPC_VERBOSITY=DEBUG`
* `GRPC_TRACE=api,cares_resolver,cares_address_sorting,client_channel`

and share the output?

[2019-08-15 18:01] apolcyn commented on #19954
^ if it's doable, sharing those verbose logs from the 2.23.0-pre1 release would be most interesting

[2019-08-15 18:35] yashykt commented on #19923
@BusyJay If it's the same bug, can you report your findings on that bug? Let's track this there.

[2019-08-15 19:12] nanonyme opened #19964 "src/core/lib/gpr/log_linux.cc gettid signature not standard-compliant"
### What version of gRPC and what language are you using?
 Python, grpcio 1.21.1

### What operating system (Linux, Windows,...) and version?
Linux 5.2.1

### What runtime / compiler are you using (e.g. python version or version of gcc)
 glibc 2.30, GCC 9.2

### What did you do?
Tried to pip install grpcio through source code compilation.

### What did you expect to see?
Build success

### What di

[2019-08-15 19:13] ObiBobCanobi commented on #19954
@apolcyn  you got it. Here are the logs with 2.23.0-pre1. Thank you for the help!

[dnsFailureLogs.txt](https://github.com/grpc/grpc/files/3506867/dnsFailureLogs.txt)

[2019-08-15 19:17] lidizheng commented on #19955
As discussed with @gnossen , potentially there are 4 solutions:
1. Change C-Core to support binding IO manager to each channel;
2. Switch current API to use callback stack (so both of them is using `asyncio`);
3. Introducing an open source event manager (like libuv based);
4. Wrap async API to simulate current API.

It seems the first solution is the least effort and the most clean one.

[2019-08-15 20:43] apolcyn opened #19966 "FLAKE: Interop tests large_unary - run_grpc-node.sh in Basic tests node linux"
Log snippet:

[code]

https://source.cloud.google.com/results/invocations/314e48fd-09ac-4898-9ec6-647fc3b280f7/targets/github%2Fgrpc%2Fgrpc-node_linux_dbg_native/tests

Seen in PR: https://github.com/grpc/grpc/pull/19940, basic tests node linux

[2019-08-15 20:53] #19438 closed

[2019-08-15 23:22] lidizheng opened #19967 "Remove the beta generation from Python plugin"
After the beta API completely removed, we should also remove the beta API generation from our gRPC Python plugin (for `protoc`). https://github.com/grpc/grpc/blob/master/src/compiler/python_generator.cc#L111

[2019-08-15 23:37] yashykt opened #19969 "gRPC Client creates new streams even after receiving GOAWAY frames"
There is a race within gRPC where the following events can happen -
1) Client starts a new RPC on a connected channel.
2) Client channel routes the RPC to the connected channel during the pick.
3) Client transport receives a GOAWAY frame from the server, and marks the channel to be in TRANSIENT_FAILURE.
4) Since we have already picked the connected channel, the client transport tries to create a n

[2019-08-16 02:51] #19793 closed

[2019-08-16 03:46] axot opened #19970 "SEGV when build php with --enable-debug"
grpc version: 1.20.0
php version: 7.2.21
releated bug: https://bugs.php.net/bug.php?id=77122

Assertion failed: ((ht)->gc.refcount == 1) || ((ht)->u.flags & (1<<6)) (/usr/src/php/Zend/zend_hash.c: zend_hash_str_del: 1164)
[code]

[2019-08-16 05:36] pfreixes commented on #19955
Regarding the options,

1 - Having the feeling - maybe I'm wrong - that solving this issue by adding the ability to run channels with different `iomgr` instances is not gonna be trivial, or at least the changes in the core won't be negligible. But True, that it would simulate perfectly the mixture of an async API with the sync one, where the sync one uses a different network stack which blocks the

[2019-08-16 08:16] gewter commented on #19921
When I do the test, I found that the client still try to send requests to the broken server.

Here is code snippet
`
grpc::ChannelArguments args;
args.SetLoadBalancingPolicyName("round_robin");
args.SetInt(GRPC_ARG_KEEPALIVE_TIME_MS, 10000);
args.SetInt(GRPC_ARG_KEEPALIVE_TIMEOUT_MS, 2000);
channel_ = grpc::CreateCustomChannel("ipv4:10.0.0.1,10.0.0.2", grpc::InsecureChannelCredentials(), args);
`

[2019-08-16 08:29] HikaruZChen commented on #15154
@jiangtaoli2016 is there any update? Has grpc support reload SSL certificate in C++?

[2019-08-16 08:44] roy-xu709 commented on #10528
would anyone please share grpc reload certificate example in c++?

[2019-08-16 09:06] roy-xu709 opened #19972 "would anyone share an example of grpc reload certificate in C++?"
### What version of gRPC and what language are you using?
 1.16.0 (if not support reloading certificate, the newest version is also ok)

### What operating system (Linux, Windows,...) and version?
 linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include cod

[2019-08-16 12:46] knuesel opened #19973 "Exceptions raised by signal handlers on the main thread while unary RPCs are in flight cause deadlock in Channel.close()"
### What version of gRPC and what language are you using?

 1.23.0

### What operating system (Linux, Windows,...) and version?

Ubuntu 18.04 with Linux 5.0.0

### What runtime / compiler are you using (e.g. python version or version of gcc)

 Python 3.6.8

### What did you do?

Run the following client code and press `Ctrl-C` while stuck in the `SayHello()` call:

[code]

The .proto file being:

[2019-08-16 16:45] gnossen commented on #19973
@knuesel Thank you for the report and comprehensive reproduction case! Since you're reporting this issue the day after `1.23.0` was released, I was worried we had introduced a regression. However, I'm able to reproduce with every version since `wait_for_ready` was introduced.

[2019-08-16 16:52] mehrdada opened #19974 "Client-side Finish() docs for C++ API are misleading"
The documentation for [`ClientAsyncStreamingInterface::Finish`](https://github.com/grpc/grpc/blob/5ae9afdc55b81a9046ef896cea0327faba56cf36/include/grpcpp/impl/codegen/async_stream_impl.h#L49) has a few issues:

- Implies that `WritesDone` is automatically implied by `Finish`. This is not the case and you have to signal `WritesDone` explicitly.
- States that `Finish` should be only called after rea

[2019-08-16 17:23] mehrdada commented on #19967
Shouldn't you remove the beta stubs *first* and then remove the library dependencies?

[2019-08-16 17:49] lidizheng opened #19975 "[Aio] Switch to concrete classes"
As discussed in gRFC (https://github.com/grpc/proposal/pull/155), we want to migration from using interfaces everywhere to limited interfaces with majority of concrete classes. This issue tracks the execution of that goal.

[2019-08-16 18:00] lidizheng commented on #19955
For option 1, this is on the road map of C-Core team. It is possible that they will provide SWE to do it. I agree it is non-trivial, but it will benefits all wrapper languages. Particularly, the migration cases.

The `RuntimeError` solution should serve as a fallback plan. For now, I agree it is better to throw an exception, after all, exception with a reason is much nicer than deadlock.

[2019-08-16 18:02] yashykt commented on #19921
https://github.com/grpc/proposal/blob/master/A18-tcp-user-timeout.md explains the reason in detail. In brief, it is because once our tcp write buffers have the data that needs to be written out, we can not call the RPC cancelled and free up the space. TCP_USER_TIMEOUT helps by adding a time bound on the time the tcp layer waits for bytes to be written out.

[2019-08-16 18:19] lidizheng commented on #19967
This issue is a reminder. It is still blocked.

[2019-08-16 18:29] AspirinSJL opened #19976 "Windows C#: The current .NET SDK does not support targeting .NET Core 2.1."
https://source.cloud.google.com/results/invocations/b7f3a44a-bcb5-4676-9b16-9a3a0b0ebfa0/targets/grpc%2Fcore%2Fpull_request%2Fwindows%2Fgrpc_basictests_csharp/log

[code]

[2019-08-16 18:33] #19969 closed

[2019-08-16 18:34] AspirinSJL opened #19977 "node: Auth error:Error: Authentication failure"
https://source.cloud.google.com/results/invocations/ed16a32d-343c-434c-8586-07202598e5f0/targets/github%2Fgrpc%2Fgrpc-node_linux_opt_native/tests

[code]

[2019-08-16 19:20] apolcyn commented on #19954
thanks for the logs, have some ideas but I'll have more time to dig in next week.

[2019-08-16 20:13] stanley-cheung commented on #19970
Will look into this.

[2019-08-16 20:15] stanley-cheung commented on #19970
@axot, how is this error triggered? When you run a PHP script with code to create a gRPC Channel object? Or earlier?

[2019-08-16 20:18] stanley-cheung commented on #18833
The warning issue above should be fixed with `1.23.0`.

[2019-08-16 21:47] yashykt commented on #19921
@gewter, unless the TCP_USER_TIMEOUT is hit and the connection is closed, gRPC would still try to perform RPCs on the transport whose packets are being dropped.

[2019-08-16 21:47] #19921 closed

[2019-08-17 01:07] Andrew-Lev commented on #19953
I tried what you suggested and see the same result in 1.18.  Looks like its also using version 1.1.0.7

[code]

Is there a way to dynamically link this to use openssl from the system? I tried to build on a system that only has OpenSSL 1.0.2k-fips installed, but it still shows 1.1.0.7 so I'm assuming its statically linked.

[2019-08-17 02:15] axot commented on #19970
@stanley-cheung I create a project to reproduce this issue which using Cloud Spanner, you could check out from https://github.com/axot/php-fpm-spanner/tree/php_enable_debug with branch `php_enable_debug`. Follow the steps from README will get a coredump.

[2019-08-17 05:07] pfreixes commented on #19955
@lidizheng could you create an issue for the fallback plan?

[2019-08-17 12:37] X-Crack commented on #19974
Yes, you are right, the function names of GRPC are very bad.

[2019-08-17 12:38] X-Crack commented on #19974
Especially asynchronous streaming,
Since it is asynchronous, why wait for the last completion to perform the next write?

[2019-08-17 18:31] rmstar commented on #18941
https://source.cloud.google.com/results/invocations/2b689b55-0d47-4968-b6a5-a32e42e6f7fb/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-18 09:25] shaochieh commented on #14101
we're looking for node to node communication which would enable something like reverse ssh tunneling. so we could have ad hoc or on demand communication with client node, doing remote upgrade, troubleshooting or proactive deployments of sorts. client nodes could be behind NAT.

[2019-08-18 10:27] Inspekt2 commented on #16839
Have the same issue. Has somebody found a solution?

[2019-08-18 12:23] Timmmm commented on #7931
I'm writing a program that works over SSH (like VSCode's recent remote editing support). It would be nice to be able to use gRPC over SSH but it's not really possible with the hard dependency on HTTP2. I would use Thrift, which has really not support for different transports, including user-defined ones, but unfortunately it doesn't support server-sent events / streams, which is a pretty critical

[2019-08-18 21:19] stephan-tolksdorf opened #19982 "Wrong/pointless use of std::move in grpcpp/impl/codegen/server_callback_impl.h"
`include/grpcpp/impl/codegen/server_callback_impl.h` includes several `std::move(param.call_requester)` expressions like [this one](https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/server_callback_impl.h#L507), which create a **const** rvalue reference to a `std::function` (because `param` is a const reference) and thus don't have the expected effect of moving the function.

[2019-08-19 08:24] Inspekt2 opened #19983 ""grpcsharp_native_callback_dispatcher_init" exception when create new Channel()"
### What version of gRPC and what language are you using?
 Unity package 2.24.0-dev
 C#
 Error exists for all packages after 1.18.0 version.

### What operating system (Linux, Windows,...) and version?
 MacOS 10.14.6

### What runtime / compiler are you using (e.g. python version or version of gcc)
 osx runtime inside the unity package.

### What did you do?
`Channel channel = new Channel(_channel

[2019-08-19 09:11] roy-xu709 commented on #16118
How about with c++? Is it supported now or not ?  Hope your reply.

[2019-08-19 09:12] roy-xu709 commented on #16118
How about with c++? Is it supported now or not ? Hope your reply.

[2019-08-19 10:53] joeblew99 commented on #7931
My understanding is:
http 3 Web Transports will allow network transports using modern P2P style topologies.

https://tools.ietf.org/html/draft-vvv-webtransport-http3-00#page-6

This means that websockets is redundant.
Also Webrtc data channels are redundant I am pretty sure.

It will be here soon in many 6 months to a year.

[2019-08-19 17:10] #19243 closed

[2019-08-19 17:12] gnossen commented on #19953
As of right now, our build system only supports statically linking OpenSSL because incurring a runtime dependency on `openssl` is against [the manylinux specification](https://www.python.org/dev/peps/pep-0513/#the-manylinux1-policy). But pull requests are always welcome. `BUILD_WITH_SYSTEM_OPENSSL` was [added by an external contributor](https://github.com/grpc/grpc/pull/15548).

[2019-08-19 17:51] lidizheng opened #19985 "[Aio] Raise exception if current API is using async IO manager"
As described in https://github.com/grpc/grpc/issues/19955, the async IO manager currently doesn't work with existing API. It's important for us to prevent users from falling into it. This issue serves as a reminder to raise exception if we detects the application is trying to use async IO manager for current API.

If https://github.com/grpc/grpc/issues/19955 can be resolved, this issue should no l

[2019-08-19 17:51] lidizheng commented on #19955
@pfreixes Filed #19985

[2019-08-19 20:48] gnossen commented on #19973
It looks like what was happening was our call to [`PyErr_CheckSignals` in the completion queue poll loop](https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi#L46) was allowing arbitrary Python code to run, with the possibility of raising an exception. But the surrounding code wasn't written to expect Python exceptions. I have a test and fix for

[2019-08-19 23:59] mimoo commented on #9316
any updates from Google? Or what are the main Rust libraries at the moment?

[2019-08-20 00:09] ChrisCates commented on #9316
@mimoo, no updates. Not sure how any one can start the project if no one is willing to do code review.

If you're looking for an alternative, check out: https://github.com/stepancheg/grpc-rust, but, it's missing a lot of features.

[2019-08-20 01:07] luchunminglu opened #19995 "the newest nuget package should be 1.23.0"
https://www.nuget.org/packages/Grpc/2.23.0

[2019-08-20 01:38] apolcyn commented on #19995
We deliberately had a major version bump for the gRPC C# wrapper due to a breaking change. See https://github.com/grpc/proposal/pull/154 for background and details.

[2019-08-20 01:38] #19995 closed

[2019-08-20 09:27] Jeff-Tian opened #19996 "npm rebuild fatal error: address_sorting/address_sorting.h: No such file or directory"
### What version of gRPC and what language are you using?

### What operating system (Linux, Windows,...) and version?

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

### What did you expect to see?

### What did you see instead

[2019-08-20 09:28] #19996 closed

[2019-08-20 09:29] Jeff-Tian commented on #19996
Sorry I just try to search relative issues but accidentally hit the `enter` key and the empty issue was just created.

[2019-08-20 10:28] qiuxin opened #19997 "Error in C++ Version Installation"
I follow the instruction from the installation link:   https://github.com/grpc/grpc/blob/master/BUILDING.md

Encounter the following errors, some help! Many thanks in advance!

root@parallels-Parallels-Virtual-Platform:/usr/local/grpc# bazel build :all
ERROR: /root/.cache/bazel/_bazel_root/416e294999b2f0ca85243bb61458d7d2/external/io_bazel_rules_python/python/pip.bzl:39:25: Traceback (most recent

[2019-08-20 10:56] abczhaoling opened #19998 "protobuf link error: undefined reference to google::protobuf::io::StringOutputStream::StringOutputStream"
### What version of gRPC and what language are you using?
gRPC on branch v1.23.x, c++ used.

### What operating system (Linux, Windows,...) and version?
Ubuntu 16.04.5 LTS

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc (Ubuntu 4.9.3-13ubuntu2) 4.9.3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include

[2019-08-20 11:55] johnwog opened #19999 "Build grpcio wheel from source on Windows"
### What version of gRPC and what language are you using?
v1.23.xx

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.6 virtual env, MSVC 2017

### What did you do?
I tried to build a python wheel for grpcio with the following flags
set GRPC_PYTHON_BUILD_WITH_CYTHON=1
set GRPC_PYTHON_US

[2019-08-20 15:47] lidizheng opened #20001 "[Aio] Unified Stub Call"
This issue tracks the implementation of the unified stub call for gRPC Python. The new API should merge the previous 3 options into 1. For detailed design and rational, see:
https://github.com/lidizheng/proposal/blob/grpc-python-async-api/L58-python-async-api.md#unified-stub-call

[2019-08-20 17:03] gnossen opened #20003 "cloud_to_cloud node_server interop test failure"
https://source.cloud.google.com/results/invocations/c2f85fe6-9c5a-493a-a06b-b8ad15a3e278/log
[code]

CC @murgatroid99

[2019-08-20 17:03] #19973 closed

[2019-08-20 18:08] JonathanMcDevitt opened #20005 "gRPC Testing Failure - AppVerifier Heaps test"
### What version of gRPC and what language are you using?

C++ 1.20.1

### What operating system (Linux, Windows,...) and version?

Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

VS 140

### What did you do?

1. Set up AppVerifier to run on tests for creating a read session. In AppVerifier:
   1. Go to File->Add Application; select the executable for ru

[2019-08-20 19:15] jpeel commented on #19910
I've been doing more research into this. The issue is that any unhandled exception in the callback of a grpc future in Python will kill the channel_spin thread. With the channel spin thread gone, the remaining requests will sit in the completion queue forever and the channel will not be able to close. The exception we were running into was a callback trying to do another async request (using the f

[2019-08-20 19:22] gnossen commented on #19910
This sounds pretty similar to https://github.com/grpc/grpc/issues/19973. And I think the fix should be pretty similar to https://github.com/grpc/grpc/pull/19988. Thanks for the research!

[2019-08-20 20:51] rmstar opened #20012 "grpc crash after grpc_shutdown_blocking()"
The following testcase results in a crash on Mac OS.
[code]

Stack trace:
[code]
See https://github.com/grpc/grpc/pull/20011 for detailed repro instructions

ubsan + traces
[code]

[2019-08-20 22:02] lidizheng opened #20016 "RBE TEST Failure: //test/cpp/qps:json_run_localhost_cpp_protobuf_async_streaming_from_client_ping_pong_insecure"
These targets are not specified.
https://source.cloud.google.com/results/invocations/408029cb-cac3-4733-b795-f52ec0a0f96b/targets

[2019-08-20 22:05] lidizheng opened #20017 "TEST FAILURE: grpc_interop_tocloud failed with CERTIFICATE_VERIFY_FAILED"
[code]

https://source.cloud.google.com/results/invocations/ec9c437f-73c4-47fa-a5f1-a1f9587000e7/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[2019-08-20 22:18] #19268 closed

[2019-08-20 22:38] AspirinSJL commented on #15860
Not seen for  > 10 months.

[2019-08-20 22:38] #15860 closed

[2019-08-20 22:50] rmstar commented on #18941
Similar failure, but stack trace is a bit different here: https://source.cloud.google.com/results/invocations/52f7139d-2fa8-4ff4-a559-1499d13374c5/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-20 22:52] apolcyn commented on #20017
cc @mit-mit @kevmoo - looks like all interop tests between dart clients and any server are failing with tls cert verification errors.

e.g.

[code]

 Any recent dart changes?

[2019-08-20 23:01] #19910 closed

[2019-08-20 23:09] karthikravis opened #20020 "grpc ios unit test fails with timeout"
grpc ios unit test fails with timeout errors -

Test Suite 'All tests' started at 2019-08-20 13:51:39.823
Test Suite 'UnitTests.xctest' started at 2019-08-20 13:51:39.825
Test Suite 'CallAPIv2Tests' started at 2019-08-20 13:51:39.825
Test Case '-[CallAPIv2Tests testCompression]' started.
Test Case '-[CallAPIv2Tests testCompression]' passed (0.026 seconds).
Test Case '-[CallAPIv2Tests testFlowContr

[2019-08-20 23:18] kevmoo commented on #20017
CC @sigurdm

[2019-08-21 01:55] hcaseyal commented on #19877
@guantaol can you try reproing with 'tools/run_tests/run_tests.py -l c++ -c dbg -r bm_chttp2_transport'?
I found that the test fails only under load (aka, when multiple jobs are running). If I just run bins/dbg/bm_chttp2_transport, it will pass.

[2019-08-21 09:14] eouia commented on #19996
Is it solved?

[2019-08-21 10:57] Jeff-Tian commented on #19996
By fixing the version to 1.21.1

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Seongnoh Sean Yi <notifications@github.com>
Sent: Wednesday, August 21, 2019 5:15:27 PM
To: grpc/grpc <grpc@noreply.github.com>
Cc: Jeff <jeff.tian@outlook.com>; State change <state_change@noreply.github.com>
Subject: Re: [grpc/grpc] npm rebuild fatal error: address_sorting/addres

[2019-08-21 19:38] hcaseyal commented on #19877
Assigning to arjunroy@ since he has been making hpack changes recently. Also upgrading the priority to P1 since it's causing near 100% breakages on master.

[2019-08-21 20:34] jpeel opened #20026 "Deadlock during close in Python client"
### What version of gRPC and what language are you using?
1.17.1 Python

### What operating system (Linux, Windows,...) and version?
Linux 3.19.3.28478

### What runtime / compiler are you using (e.g. python version or version of gcc)
Python 3.5.3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

I haven't been

[2019-08-21 20:55] apolcyn commented on #18126
Seen again in https://source.cloud.google.com/results/invocations/70f3c738-cafe-433d-b350-919e9e61c859/targets/github%2Fgrpc%2Fcsharp_linux_opt_native/tests

[2019-08-21 20:55] jpeel commented on #20026
By the way, we can't get this to happen every time. We've struggled to reproduce it consistently, but it is happening fairly often with how many systems we have running this code.

[2019-08-21 21:01] #19915 closed

[2019-08-21 21:08] jpeel commented on #20026
Also, we have messages in our logs for when requests time out or error out in any way as well as when they are sent. It appears that there was one request open when the watchdog timeout happened and its callback was called. I see the caught exception indicating that it failed due to the watchdog timeout. This is making me lean more towards the connectivity code being the issue.

[2019-08-21 21:33] ajitmodi05 commented on #19767
Hi @guantaol,
I am making this below change locally and test it. Let me know what are your thoughts?

  // GPR_ASSERT(i != pss->pollset_count);
  if (i != pss->pollset_count) {
    gpr_log(GPR_ERROR, "grpc_pollset to delete not found");
    gpr_mu_unlock(&pss->mu);
    return;
  }

[2019-08-21 22:09] rmstar opened #20029 "grpc_basictests_node flake"
[code]

https://source.cloud.google.com/results/invocations/7d76db8c-e7cf-434a-a151-edecdacff82c/targets/grpc%2Fcore%2Fpull_request%2Fmacos%2Fgrpc_basictests_node/log

[2019-08-21 22:50] gnossen commented on #20026
Any chance you can give us the stack trace(s) verbatim with any sensitive portions censored?

[2019-08-22 00:48] arjunroy commented on #19877
Running "tools/run_tests/run_tests.py -l c++ -c dbg -r bm_chttp2_transport" does not appear to successfully build on a clean checkout:

/usr/bin/ld: /usr/local/google/home/arjunroy/github/repro/grpc/libs/dbg/libgrpc_plugin_support.a(objective_c_generator.o): undefined reference to symbol '_ZNK6google8protobuf16MethodDescriptor11output_typeEv'

[2019-08-22 07:30] jengelh opened #20033 "build: terminate called after throwing an instance of 'std::system_error'"
[code]
Using protobuf-3.9.1 on openSUSE Tumbleweed. Sorry I can't provide more info at this time, the error message `Unknown error -1` is just useless, it does not even say what syscall it attempted to do that led to error -1 (`open`, `mkdir`, `stat`, anything). Compare that to e.g. `ls` (assuming unknown errno):

[code]

[2019-08-22 07:31] jengelh commented on #20033
[code]

I am using the `https://github.com/grpc/grpc/archive/v1.23.0.tar.gz` tarball.

[2019-08-22 09:37] kanagunbr opened #20034 "Error assertion failed: g_state != nullptr"
I am creating two channels. one to connect to spanner and another for pubsub. Both will be running in a single threaded process.  However, The Second CreateChannel command always fails with the error message ""E0822 14:58:29.720362062   82737 resolver_registry.cc:215]   assertion failed: g_state != nullptr".  When I comment one, the other will be successful. the g_state variable get initialized wh

[2019-08-22 09:37] kanagunbr commented on #20034
This is based on the GRPC release v1.23.0

[2019-08-22 09:57] Timmmm commented on #7931
@joeblew99 That's not what this bug is about. People want to be able to specify the transport layer themselves, like you can with Thrift.

[2019-08-22 11:09] sigurdm commented on #20017
I think I broke this with https://github.com/grpc/grpc-dart/pull/231

[2019-08-22 12:33] sigurdm commented on #20017
Hopefully it should be good again...

[2019-08-22 13:24] qingtiandalaoye commented on #18685
same issue too. I think every version of grpc do have this type of issue
in  **v1.21.3** of grpc, the boringsslhas compile error:
   struct Test {
          ^~~~

in **v1.22.1** of grpc, the boringsslhas compile error:
cc1: error: unrecognized command line option "-Wno-implicit-fallthrough"

so, are there really have someone use the c++ version of grpc?
or, only use it  in other languages?

[2019-08-22 15:17] luzpaz commented on #20033
This issue is blocking downstream packaging efforts. Please raise priority, thank you.

[2019-08-22 16:10] jpeel commented on #20026
# Thread: 1587803232  File "/usr/lib/python3.5/threading.py", line 882, in _bootstrap
    self._bootstrap_inner()

  File "/usr/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()

  File "/usr/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)

  File "device.py", line 574, in _receive_events

  File "/usr/lib/python3.5/site-packages/

[2019-08-22 17:14] AspirinSJL commented on #20033
Does this happen with v1.22?

[2019-08-22 17:23] AspirinSJL commented on #20034
This seems like a easy-to-debug bug. Could you please provide a minimal reproduction code?

[2019-08-22 18:07] jengelh commented on #20033
Apparently, it is caused by g++ `-flto`. gcc version 9.1.1 20190805 [gcc-9-branch revision 274114] is used.

[code]

So nothing to see here.

[2019-08-22 18:07] #20033 closed

[2019-08-22 19:27] jpeel commented on #20026
Another thing to note is that the way we use the unary_stream (which is started on its own thread), does not use a timeout on the unary part of the call:
`for event in self._client.Events(cc.EventsRequest()):
    self._process_event(event)`

I'm confident that this is the source of the open request which is why there is a channel spin thread. I don't know why it isn't being closed out via the canc

[2019-08-22 20:59] davidben opened #20037 "third_party/boringssl is out of date"
third_party/boringssl in gRPC points to https://github.com/google/boringssl/tree/b29b21a81b32ec273f118f589f46d56ad3332420 which is more than a year old now.

(This is the cause of https://bugs.chromium.org/p/boringssl/issues/detail?id=285, but it's also not a good idea to keep security-critical dependencies out of date like this in general.)

[2019-08-22 21:00] kaimast commented on #20037
Thanks for creating this issue!

[2019-08-22 21:02] samhithaaaa opened #20038 "LinkError: command 'aarch64-linux-gnu-g++' failed with exit status 1 and failed building wheel for grpcio"
unable to execute 'aarch64-linux-gnu-g++': No such file or directory
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-WT9TE4/grpcio/setup.py", line 368, in <module>
        cmdclass=COMMAND_CLASS,
      File "/home/tf/venv/venc-tf-1.14/local/lib/python2.7/site-packages/setuptools/__init__.py", line 145, in setup
        return distutils

[2019-08-22 22:14] lidizheng commented on #20038
I'm confused by your description. In the first line, you said `arch64-linux-gnu-g++` not found. Did you installed it? Which command failed?

In general, you don't need to compile gRPC Python. If you do, that means something is wrong. Can you provide information about your platform and what you are trying to do?

[2019-08-22 22:25] samhithaaaa commented on #20038
my platform is armv8 ,64bit I am trying to build tensorflow 1.14 with bazel 0.24.1.I have the wheel package but while installing the wheel package i face this issue.

[2019-08-22 22:26] samhithaaaa commented on #20038
error:failed building wheel for grpcio

[2019-08-22 22:30] samhithaaaa commented on #20038
![Screen Shot 2019-08-22 at 3 28 59 PM](https://user-images.githubusercontent.com/36496141/63554217-b8e9c000-c4f1-11e9-942e-d2303ac260a4.png)

[2019-08-22 22:30] samhithaaaa commented on #20038
This the scrrenshot

[2019-08-22 22:37] samhithaaaa commented on #20038
![image](https://user-images.githubusercontent.com/36496141/63554567-c2bff300-c4f2-11e9-96a1-65823d825aa8.png)

[2019-08-22 22:45] lidizheng commented on #20038
Can you include the full log? Better post it in https://gist.github.com/

[2019-08-22 22:47] samhithaaaa commented on #20038
unable to execute 'aarch64-linux-gnu-g++': No such file or directory
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-jc4IvK/grpcio/setup.py", line 368, in <module>
        cmdclass=COMMAND_CLASS,
      File "/home/tf/venv/venc-tf-1.14/local/lib/python2.7/site-packages/setuptools/__init__.py", line 145, in setup
        return distutils

[2019-08-22 22:47] samhithaaaa commented on #20038
Here you go

[2019-08-22 22:55] lidizheng commented on #20038
Can you please lint your comments... It is really hard to read. There is a preview tab in the UI.

Seems pip didn't print all necessary information. Can you download the source code wheel for [grpcio v1.23.0](https://files.pythonhosted.org/packages/b0/12/31d6d1faa6685465632458eecfc57b49b32ed65023abb75bc27113d6e449/grpcio-1.23.0.tar.gz), and pip install it?

[code]

[2019-08-23 01:40] LoveJuzi opened #20041 "'@build_bazel_rules_swift' could not be resolved"
I meet a problem when I want to use bazel build the project that is reference the grpc library. The WORSPACE content is as follow:

[code]

My building error is as follow:

[code]

My OS system is **Manjaro 18.04**. My bazel version is **bazel 1.20.0**.

Is this a bug?

[2019-08-23 01:41] #20041 closed

[2019-08-23 01:42] LoveJuzi opened #20042 "'@build_bazel_rules_swift' could not be resolved"
I meet a problem when I want to use bazel build the project that is reference the grpc library. The WORSPACE content is as follow:

[code]
My building error is as follow:

[code]

My OS system is Manjaro 18.04. My bazel version is bazel 0.20.0.

Is this a bug?

[2019-08-23 04:00] kanagunbr commented on #20034
I actually call these functions from Node Modules (NAPI). There are two separate modules (pubsub & Spanner) and thus two separate DLLs (pubsub.node & spanner.node). It seems the dependency of GRPC static/global variables between two dlls causing this issue. Not sure how to solve but I didn't have this issue in the earlier version of GRPCs. I need to debug further. I will update the findings here.

[2019-08-23 04:38] kanagunbr commented on #20034
When I combined all the calls into single module, everything started working. As I have the workaround, I am find in closing the defect. However, if you want to pursue this defect further, I can help.

[2019-08-23 08:17] remicollet opened #20043 "Failed build with new GCC"
Using GCC 9.0 (Fedora 30) build is OK
Using GCC 9.1 (Fedora 31) build is broken

[code]

[2019-08-23 08:40] axot commented on #19331
Hello, sorry for the delayed reply, I can not reproduce this in my local, for now, it happened again in our heavy load test.

Is it useful because I has a coredump here?

[2019-08-23 15:39] tg73 opened #20046 "NuGet package Grpc.Reflection is missing a dependency on System.Interactive.Async."
### What version of gRPC and what language are you using?
Grpc.AspNetCore 0.1.22-pre3
Grpc.Reflection 2.23.0
C#

### What operating system (Linux, Windows,...) and version?
Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
.NET Core 3.0 Preview 8
Visual Studio 2019 16.3.0 Preview 2.0

### What did you do?

I added a reference to nuget pacakge `Grpc.Reflecti

[2019-08-23 16:40] jpeel commented on #20026
I'm going to experiment with not trying to restart the Events stream after a keepalive timeout. Instead, the Events stream thread will shutdown until the connectivity goes back to READY, which makes more sense anyway. This will narrow down the situation so that we know if sending a request after the keepalive timeout is necessary to cause the deadlock. We have a few test systems that are experienc

[2019-08-23 16:43] MrSaints commented on #18924
Is this related https://github.com/grpc/grpc/commit/e30dcefeab460ccec0f5583da329a0e9cb2428f5#diff-e87a8cfa4c9a2b7758e5ab8b8cbbf5d7 ?

[2019-08-23 17:23] AspirinSJL commented on #20034
I see. I don't have any good idea about improving the singleton pattern here to avoid this issue. But let's try to revamp it if more people are faced with this issue.

[2019-08-23 18:10] Andrew-Lev commented on #19953
I looked into this a bit more.  When I build with the OPENSSL flag I can see the openssl library in the .so and it appears to be linked to whatever is installed on my system at the time.
[code]

[code]

It seems like the objdump -dS grpc/_cython/cygrpc.cpython-36m-x86_64-linux-gnu.so | grep -A 5 OpenSSL_version_num command is giving incorrect information ($0x1010007f,%eax), or am I confusing somet

[2019-08-23 19:19] samhithaaaa commented on #20038
![image](https://user-images.githubusercontent.com/36496141/63618143-2f44fb80-c5a0-11e9-8480-4be84690a292.png)

[2019-08-23 19:20] samhithaaaa commented on #20038
i face new issue like .
ImportError: No module named cv2

[2019-08-23 20:22] stanley-cheung commented on #19970
Just a quick update: we are digging into this. We are able to reproduce the error using your test case, thank you. We are looking into it.

[2019-08-23 20:47] rmstar opened #20049 "Crash on shutdown when timer is not canceled"
### What version of gRPC and what language are you using?

Master

### What operating system (Linux, Windows,...) and version?

Mac OS

### What runtime / compiler are you using (e.g. python version or version of gcc)

bazel 0.26.0

### What did you do?

I added the following test case:
[code]

### What did you expect to see?

Test passes

### What did you see instead?

grpc crashes on shutdown

[

[2019-08-23 20:49] rmstar commented on #20049
Ran the test with DEBUG logging and all tracers enabled.

[code]

[2019-08-23 21:33] rmstar commented on #18513
Duplicate of #19501

[2019-08-23 21:34] #18513 closed

[2019-08-23 21:53] arjunroy commented on #19819
https://github.com/grpc/grpc/pull/20052

[2019-08-23 21:54] AspirinSJL opened #20054 "automate rotation handoff"
Maybe create a new github app.

[2019-08-23 22:10] MattWhilden commented on #18188
6.2.9 is now available on Nuget. Certainly let us know how it goes.

Release notes: https://github.com/microsoft/dotnet/tree/master/releases/UWP/net-native2.2

[2019-08-23 23:23] arjunroy commented on #19877
I have build it with ASAN, and there are indeed issues - it appears that the a grpc_transport_stream_op_batch is being accessed in a manner that crashes the microbenchmark:

BM_TransportStreamSend/262144                                                       14482 ns      14483 ns      48539
=================================================================
==133183==ERROR: AddressSanitizer: unknown

[2019-08-24 00:10] rmstar opened #20064 "Crash in pop_timers when expiry races with cancelation"
### What version of gRPC and what language are you using?

Master

### What operating system (Linux, Windows,...) and version?

Mac OS

### What runtime / compiler are you using (e.g. python version or version of gcc)

Bazel 0.26.0

### What did you do?

Added the following test case in `test/cpp/common/timer_test.cc`
[code]

### What did you expect to see?

Test case passes

### What did you see

[2019-08-24 00:11] rmstar commented on #20064
DEBUG level logging + all tracers enabled.
[code]

[2019-08-24 01:24] wangzq commented on #18461
I have same issue for version 1.22.0 on Windows Server 2016, no consistent repro, after loading dump in VS with symbol:

[code]

[2019-08-24 04:01] rmstar opened #20066 "Segfault in remove_from_ht when timer is canceled"
## What version of gRPC and what language are you using?

Master

### What operating system (Linux, Windows,...) and version?

Mac OS
### What runtime / compiler are you using (e.g. python version or version of gcc)

bazel 0.26.0. Debug build.

### What did you do?

Added the following test case in `test/cpp/common/timer_test.cc`:
[code]

### What did you expect to see?

Test passes.

### What did

[2019-08-24 04:03] rmstar commented on #20066
DEBUG logs + all tracers enabled.
[code]

[2019-08-24 05:55] remicollet commented on #20043
Also
[code]

So same fix needed on this other file.
Then build is ok.

[2019-08-24 17:06] freddiefish opened #20068 "php56-grpc not on homebrew"
Mac OS >
brew install homebrew/php/php56-grpc
Error: No available formula with the name "homebrew/php/php56-grpc"

[2019-08-24 18:04] AspirinSJL commented on #19899
Not seen for 15 days. Transient connection issue.

[2019-08-24 18:04] #19899 closed

[2019-08-24 18:12] #18528 closed

[2019-08-24 18:15] AspirinSJL commented on #18135
We decided to update progress on P0/P1 in person at each standup meeting.

[2019-08-24 18:15] #18135 closed

[2019-08-24 18:16] AspirinSJL commented on #17174
Stale.

[2019-08-24 18:16] #17174 closed

[2019-08-24 18:17] AspirinSJL commented on #17173
Stale.

[2019-08-24 18:17] #17173 closed

[2019-08-24 18:17] AspirinSJL commented on #16692
Stale.

[2019-08-24 18:17] #16692 closed

[2019-08-24 18:18] AspirinSJL commented on #16587
Stale.

[2019-08-24 18:18] #16587 closed

[2019-08-24 18:18] AspirinSJL commented on #16532
Stale.

[2019-08-24 18:18] #16532 closed

[2019-08-24 18:19] #16476 closed

[2019-08-24 18:19] #16429 closed

[2019-08-24 18:25] AspirinSJL commented on #14382
Won't fix.

https://github.com/grpc/grpc/pull/19922 proves that xds is doesn't have this issue.

[2019-08-24 18:25] #14382 closed

[2019-08-24 18:48] #15247 closed

[2019-08-24 18:49] #15829 closed

[2019-08-24 18:50] AspirinSJL commented on #15831
Stale.

[2019-08-24 18:50] #15831 closed

[2019-08-25 20:38] bduclaux commented on #16680
Ping also. The only workaround is to use a macro to avoid rewriting the same code in each RPC client function.

[2019-08-26 04:15] jtattermusch commented on #18461
@apolcyn  the crash seems to be in `ares__destroy_servers_state`, any ideas?

[2019-08-26 04:21] jtattermusch commented on #20046
We removed the `System.Interactive.Async` dependency in 2.23.0 (see c-core release https://github.com/grpc/grpc/releases/tag/v1.23.0 and https://github.com/grpc/grpc/pull/19059), so your problem might be due to not upgrading all the gRPC packages to the newest version (or not rebuilding your project fully). One way or another, I think this is a transient issue that should go away once you upgrade/

[2019-08-26 04:23] jtattermusch commented on #20046
Looks like https://www.nuget.org/packages/Grpc.AspNetCore.Server/0.1.22-pre3 still depends on `Grpc.Core.Api (>= 1.22.0-pre1)`, so this problem will go away once a new version of `Grpc.AspNetCore.Server` is pushed (which should be soon).

[2019-08-26 04:23] #20046 closed

[2019-08-26 04:47] apolcyn commented on #18461
I don't believe that crash has been seen before.

Off the bat though, without understanding the root cause here, one thing to check is if the 2.23.0 release fixes things though (which includes a large bug fix: https://github.com/grpc/grpc/pull/19397).

[2019-08-26 05:30] brightest-dazes opened #20072 "time for a Barney clean up"

[2019-08-26 05:37] jtattermusch opened #20073 "grpc/core/master/linux/grpc_portability kokoro job is consistently failing on master"
The problem seems to be that one of the configurations being tested is broken, a large number of the tests are failing which in turn generates a huge number logs (>several GB) which then kills the kokoro job.

[2019-08-26 05:38] jtattermusch commented on #20073
Example failed job: sponge/83119c76-4878-4801-b33b-70b9fde84c4b

[2019-08-26 05:49] AspirinSJL commented on #20072
Won't fix due to lacking details. Please reopen the issue with more details, thanks!

[2019-08-26 05:49] #20072 closed

[2019-08-26 07:02] jtattermusch commented on #20073
Based on the logs, the problematic suite which large number of failing tests (which kills the kokoro job through gigabytes of logs) is the libuv tests, there's already an issue filed for that https://github.com/grpc/grpc/issues/17556

[2019-08-26 07:14] jtattermusch commented on #19775
What you're looking for in C# is  `CallCredentials.FromInterceptor` factory method
https://github.com/grpc/grpc/blob/ff8354ed5e463da1925afe3f2688167428356257/src/csharp/Grpc.Core.Api/CallCredentials.cs#L48

Usage example can be found e.g. here
https://github.com/grpc/grpc/blob/19ed319a941cfdaf98a02353ee92d66626e1954a/src/csharp/Grpc.IntegrationTesting/MetadataCredentialsTest.cs#L74

[2019-08-26 07:14] #19775 closed

[2019-08-26 07:54] jtattermusch commented on #19909
@karthikravis  am I right saying that since the channelz service is implemented in C++, there is no way of using it from any other language than C++?

[2019-08-26 08:04] akselilukkarila commented on #16839
I have tried adding `-fembed-bitcode` flag to the _build_native_ext_for_ios.sh_ script and then build the runtime but bitcode is still not generated. Anybody have an idea how to get it to be generated?

[2019-08-26 08:11] Inspekt2 commented on #16839
@akselilukkarila This solution works great for me. You have to add BuildHelper.cs to you project. Hope this can help.
https://qiita.com/shiena/items/6c3b34a8d8f1bb938470

[2019-08-26 08:17] akselilukkarila commented on #16839
That just disables bitcode for iOS builds, which is the opposite of what we want to do.

[2019-08-26 09:38] koolkhel commented on #17708
I seem to have the same problem. I have a custom Yocto recipe that I need to depend on gRPC. And it fails with:
[code]
Which is quite reasonable, I don't have /usr/lib/libgpr.so.4.0.0, yet I have oe-workdir/recipe-sysroot/usr/lib/libgpr.so.4.0.0. No idea what to do, CMake files are a bit complex to me.

[2019-08-26 13:21] jtattermusch opened #20075 "dart server occasionally crashes in interop_to_cloud tests: NoSuchMethodError: The method 'remove' was called on null."
https://source.cloud.google.com/results/invocations/11887490-ef6b-4c70-a316-8f3156cd476b/targets/github%2Fgrpc%2Finterop_test/tests

[code]

[2019-08-26 13:21] jtattermusch commented on #20075
@mit-mit @sigurdm

[2019-08-26 14:02] nanonyme commented on #20043
Essentially duplicate of https://github.com/grpc/grpc/issues/19964

[2019-08-26 14:57] jtattermusch commented on #18428
PRs with suggested fix are welcome

[2019-08-26 18:33] lidizheng opened #20078 "Windows Test Failure: unit._local_credentials_test.LocalCredentialsTest"
Python unit test for local credential is failing on Windows. The observed behavior is hanging until timed out. It requires much more digging into Windows.

https://fusion.corp.google.com/runanalysis/info/prod:grpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_basictests_python/prod:grpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_basictests_python/KOKORO/f41c15a8-189d-4c8c-a17c-20dc203bc4d4/1566580323353/build%20%231772/

[2019-08-26 21:40] markdroth opened #20081 "node test failures"
https://source.cloud.google.com/results/invocations/0231cf31-76b9-40fe-91f7-5c474356d328/targets

Looks like there are a few failures here, but I don't understand the output well enough to know how to split them up.

[2019-08-26 22:04] lidizheng opened #20082 "[Aio] Windows resolver segfault after fork"
As reported in https://github.com/grpc/grpc/pull/19960, the Windows syscall to resolve a DNS name will cause segfault after forking. This is a blocker for our users to use gRPC async version in their production with fork. This issue tracks the investigation progress.

Stack trace: https://github.com/grpc/grpc/commit/8a80f8792a72b13ea60ded0a8385ec08fb91c863

[2019-08-27 01:30] rmstar opened #20086 "assertion failed: pthread_mutex_lock(mu) == 0"
[code]
https://source.cloud.google.com/results/invocations/247a7639-2d46-4d8b-accf-1c718f6e42d6/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream/log

[2019-08-27 10:00] jtattermusch commented on #19819
@vjpai  any updates on this? It's been failing for a while.

[2019-08-27 10:05] #20073 closed

[2019-08-27 10:09] jtattermusch commented on #19888
netstandard2.1 targets should be compatible with netcoreapp3.0. Do you have the right version of .NET SDK installed?

[2019-08-27 17:52] mkaroshi opened #20088 "grpc server adding extra padding characters on server side(grpc subscription request)"
### What version of gRPC and what language are you using?
1.14.1, C++ on the server-side,  tried C++, java, go, grpc client.

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime/compiler are you using (e.g. python version or the version of GCC)

### What did you do?
upgraded the OpenSSL version on the server-side(from 1.0.2 to 1.1.1b), After the upgrade started rece

[2019-08-27 17:58] rmstar opened #20089 "ASAN use-after-free failure in CFStreamTest/CFStreamTest.NetworkFlapRpcsInFlight/7"
[code]
https://source.cloud.google.com/results/invocations/b817b2fc-ef02-4fb9-8631-a5cbd15d7f32/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream_asan/log

[2019-08-27 23:57] gnossen opened #20094 "iOS Cronet Tests Fail"
[code]
https://source.cloud.google.com/results/invocations/ae0b4c9c-7068-4bac-ab2a-fa3bd1ee2a6e/log

[2019-08-28 00:01] gnossen opened #20095 "Node Build Fails on macos (with unknown warning option '-Wno-maybe-uninitialized')"
[code]

https://source.cloud.google.com/results/invocations/af7d199b-6f29-4dbf-b452-2200156984d0/log

[2019-08-28 00:03] gnossen opened #20096 "WritesPerRpcTest.UnaryPingPong Fails on Mac"
[code]

https://source.cloud.google.com/results/invocations/75c63dae-0f8f-4b47-b9a0-f4e75a2e3a6c/log

[2019-08-28 03:07] bailf-nlp opened #20098 "v1.23 c++ can't build grpc server"
grpc version v1.23
g++ (GCC) 8.2.0
build grpc server failed and report:

how to fix it.
btw, i was able to build my server successfully in grpc version 1.17

[2019-08-28 07:45] jtattermusch commented on #20096
I'm seeing this on almost every PR now

[2019-08-28 07:48] jtattermusch commented on #20096
Is this a dupe of https://github.com/grpc/grpc/issues/19819?

[2019-08-28 09:49] AbhishekPantUK commented on #14101
I have a use case where a host pc can request the Android device for validating some test cases. Android device is always on. Can we run the server on Android? What would be the ip address?

[2019-08-28 11:21] koshelevpavel commented on #16839
It works for me. You have to delete folder 'objs' from root and run _build_native_ext_for_ios.sh_
I added `-fembed-bitcode` like this:
`CPPFLAGS="-O2 -Wframe-larger-than=16384 -arch $ARCH -fembed-bitcode -isysroot $(xcrun --sdk $SDK --show-sdk-path) -mios-version-min=6.0 -DPB_NO_PACKED_STRUCTS=1"`

[2019-08-28 12:45] jtattermusch commented on #19534
Enabling `google_default_credentials` is out of scope for now and the tests being enabled in https://github.com/grpc/grpc/pull/20099 should be sufficient for now.
(the requirement is to be able to use the "application default credentials" implemented in pure C# in Grpc.Auth/Google.Apis.Auth)

[2019-08-28 12:45] #19534 closed

[2019-08-28 15:55] markdroth opened #20101 "FLAKE: cpp_macos_opt_native . bins/opt/writes_per_rpc_test --gtest_filter=WritesPerRpcTest.UnaryPingPong"
https://source.cloud.google.com/results/invocations/99711a29-5881-46f2-a301-8c089f34eb07/targets/github%2Fgrpc%2Fcpp_macos_opt_native/tests;group=cpp_macos_opt_native;test=bins%2Fopt%2Fwrites_per_rpc_test%20--gtest_filter%3DWritesPerRpcTest.UnaryPingPong%20%20GRPC_POLL_STRATEGY%3Dpoll;row=2

[code]

[2019-08-28 16:50] #20096 closed, assigned to mhaidrygoog

[2019-08-28 18:47] mkaroshi commented on #20088
Hi Moiz,     I have attached the pcap. The packet number 16 contains the grpc subscription message(http2). You can see the password ciena345. This stream is fed to grpc server. When we call client_metadata() method in server and print the password, it is showing ciena345%. Extra% character is causing the issue in authenticating.
ThanksMahesh Karoshi

    On Wednesday, August 28, 2019, 11:22:24 AM

[2019-08-28 18:50] mkaroshi commented on #20088
We tested against grpc version 1.22.
    On Wednesday, August 28, 2019, 11:22:24 AM PDT, Moiz Haidry <notifications@github.com> wrote:

Hi mkaroshi,
Would it be possible for you to share a minimal PR that you may be using to repro this issue that way we could debug what exactly is injecting that extra byte, in addition some logs would be helpful.

—
You are receiving this because you authored the

[2019-08-28 20:19] AspirinSJL opened #20106 "add a step in the balancer update test"
https://github.com/grpc/grpc/blob/f29aee7fa90cc853f34d7ef93000e2f6249e92d2/test/cpp/end2end/xds_end2end_test.cc#L1728

When the old balancer is down, we should change to the new balancer.
Add more comment: we can't restart the call because we don't know when the update is done from API.

[2019-08-28 21:14] stanley-cheung commented on #19331
@axot We received the core dump file. Will look at it shortly. Just to clarify - the issue is still not reproducible at will, but only under certain load testing scenarios right?

[2019-08-28 21:31] yashykt commented on #20101
looks like the same as #19819

[2019-08-28 21:31] #20101 closed

[2019-08-28 21:37] yashykt commented on #20089
@rmstar, can we make sure that this is not an issue of gRPC being shutdown earlier than expected?

[2019-08-28 21:43] jtattermusch commented on #19976
I think the download of the right version of dotnet SDK at the beginning of the jobs has failed (happens pretty rarely) and so the build is now complaining about the SDK version being too old.

[code]

[2019-08-28 21:44] jtattermusch commented on #19976
@AspirinSJL  why is this marked as P1? have you seen a lot of breakages recently (I think it's a one-off?)

[2019-08-28 21:45] jtattermusch commented on #19976
As far as I can tell the job has been pretty stable, so I will decrease priority and close.
History link:
https://fusion.corp.google.com/projectanalysis/history/KOKORO/prod%3Agrpc%2Fcore%2Fmaster%2Fwindows%2Fgrpc_basictests_csharp

[2019-08-28 21:45] #19976 closed

[2019-08-28 22:00] jtattermusch commented on #20005
does this issue have a similar rootcause as  https://github.com/grpc/grpc/issues/18461?(unconfirmed).

@apolcyn  based on the stacktrace this is ares-related.

[2019-08-28 22:02] jtattermusch commented on #18461
@apolcyn  can you try to repro with the provided test project? (additional hints might be in #20005 which could have the same rootcause).

[2019-08-28 22:23] jtattermusch commented on #19976
Makes sense, with 5 continuous builds failing, putting P1 was the right thing to do. I guess something went wrong the the microsoft download server for that period of time.

[2019-08-28 23:10] rodoufu commented on #19192
Same here.
Also same OS, gRPC, gcc and make versions.

[2019-08-28 23:10] rodoufu commented on #19192
Do you know any work around?

[2019-08-28 23:12] axot commented on #19331
@stanley-cheung Yes, I can not reproduce this locally, may need more hint. It happens in large scale load tests in my experience.

[2019-08-28 23:13] #19877 closed

[2019-08-28 23:14] gnossen opened #20108 "TIMEOUT: cloud_to_cloud:python:go_server:timeout_on_sleeping_server:tls"
[code]

https://source.cloud.google.com/results/invocations/06dc63cf-057a-445b-ad98-388899bcadc5/log

[2019-08-28 23:53] KeithMoyer commented on #19192
My project uses Bazel, not make, so i cannot give a definitive answer (nor would be able to help you debug), but it should be a matter of passing the needed warning flags to the compiler when building.

Something like the following?
[code]

There were a number of warnings present for a while in gRPC when building with GCC 8, so you may find you need to add more similar flags to silence other thing

[2019-08-29 00:08] rmstar commented on #20089
@yashykt how do we verify if it's an issue of gRPC being shutdown earlier that expected? If that is indeed the case, is a segfault expected?

[2019-08-29 04:47] raulchen commented on #20034
Hi @AspirinSJL and @kanagunbr. I‘m seeing the exactly same problem. My python program loads two SO libraries, both of which contains grpc. When I use grpc in the second lib, I'll get `assertion failed: g_state != nullptr`.

Do you know how to work around this issue? Or do you know which older version doesn't have this bug? I'm using 1.21.4. Thanks.

[2019-08-29 06:24] PFSHI opened #20112 "Exception while handling RPC. Operation is not valid due to the current state of the object."
### What version of gRPC and what language are you using?
gRPC 2.23.0    c#

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
.net core 2.2

### What did you do?
run gRPC Server

### What did you see instead?

[code]

[2019-08-29 06:54] itshemant09 commented on #18625
Any update on this ?? I am getting the same error error CS0246: The type or namespace name 'Greeter' could not be found (are you missing a using directive or an assembly reference?)

[2019-08-29 07:34] akselilukkarila commented on #16839
That worked! Thanks a lot :)

[2019-08-29 13:28] jtattermusch commented on #19905
@cimpok  thanks for the report. I wasn't able to find the list of blocked ports anywhere. Can you provide a link?

[2019-08-29 14:13] markdroth opened #20116 "FLAKE: cpp_macos_opt_native . bins/opt/cancel_ares_query_test --gtest_filter=CancelDuringAresQuery.TestCancelActiveDNSQuery"
https://source.cloud.google.com/results/invocations/f8e2c0b6-c494-4160-8e1e-6afd54c4485c/targets/github%2Fgrpc%2Fcpp_macos_opt_native/tests

[code]

[2019-08-29 15:17] pfreixes opened #20117 "[Aio] Add Python Aio tests to the current checks executed by Kokoro"
We must add the Python `Aio` tests as part of the current checks executed by Kokoro, the test would need to be executed using the following command

[code]

Note: `GRPC_ENABLE_FORK_SUPPORT=0` needs to be provided until #19961 is not solved

The Python `Aio` module should be usable by POSIX operating systems, the behavior in Windows systems has not been tested yet.

We might consider not adding the

[2019-08-29 15:19] pfreixes commented on #20117
@lidizheng  | @gnossen could you add this as part of the gRPC Easy board please? And more important, this would help a lot for the following PR for having a place for telling us if new changes added into the `Aio` module are breaking or not the `aio` package, so having the feeling that is quite important.

Also, IMO this is something that would need to be done by some of you since you have the kno

[2019-08-29 15:59] AspirinSJL opened #20118 "c_macos_opt_native . bins/opt/close_fd_test GRPC_POLL_STRATEGY=poll"
https://source.cloud.google.com/results/invocations/34c35609-4cd7-491d-8b0b-cb16a2eae1eb/targets/github%2Fgrpc%2Fc_macos_opt_native/tests

[code]

[2019-08-29 17:37] gnossen commented on #20026
To give you a quick update on this, I've tried a couple of different setups in a unit testbench based on the description of your configuration, but I've so far been unable to reproduce.

[2019-08-29 17:57] vjpai commented on #18310
Fixed by #19178

[2019-08-29 17:57] #18310 closed

[2019-08-29 18:02] #18548 closed

[2019-08-29 18:04] AspirinSJL commented on #19468
Since this is an issue in third_party/boringssl and there is a verified workaround, I'm closing it.

[2019-08-29 18:04] #19468 closed

[2019-08-29 18:10] AspirinSJL commented on #19645
Sorry for the late response! But glad you found the workaround!

[2019-08-29 18:10] #19645 closed

[2019-08-29 18:12] AspirinSJL commented on #8025
This one is really an old one. Do we still want it?

[2019-08-29 18:16] vjpai commented on #14059
Reassigning to @arjunroy and I think that he has mostly or completely completed all of this anyway.

[2019-08-29 18:18] vjpai commented on #2705
Possibly not relevant but reassigning to Nana if this might be useful.

[2019-08-29 18:19] AspirinSJL commented on #18819
@nicolasnoble I've seen several such boringssl related build issues, such as https://github.com/grpc/grpc/issues/19468. Is adding compiler flags the right way to solve it? Do we have any long term fix?

[2019-08-29 18:23] vjpai commented on #13706
@mmatrosov Hi there, we had originally reported the `what` in Status, but this is a potential security hole if the `what` from some deeply-nested library includes some piece of PII. You're always welcome to define your own exception handlers and use the `what` there, but we shouldn't do it in grpc.

[2019-08-29 18:25] nanahpang commented on #2705
Does this require a new test to reveal the bug of read/write concurrently using two threads on client/server side?

[2019-08-29 18:26] hsaliak commented on #8025
The readme is still missing, and the package is regularly updated, so I would say that it's still valuable to do.

[2019-08-29 18:29] rmstar commented on #19901
#18885 might be the same issue.

[2019-08-29 18:36] AspirinSJL commented on #19092
I'm not sure what issue you're facing with from the description. Maybe @g-easy has more context.

[2019-08-29 18:38] AspirinSJL commented on #6722
Raising priority because it's been a long time since creation.

[2019-08-29 18:40] AspirinSJL commented on #19126
@a11r Please share some thoughts on this.

[2019-08-29 18:44] AspirinSJL commented on #8025
@murgatroid99 Please try to fix this, thanks!

[2019-08-29 18:56] StevenEWright opened #20122 "GRPCChannel trips the shorten-64-to-32 warning"
### What version of gRPC and what language are you using?

`master`, Objective-C

### What operating system (Linux, Windows,...) and version?

macOS / iOS 13

### What runtime / compiler are you using (e.g. python version or version of gcc)

Xcode 11 / Apple clang version 11.0.0 (clang-1100.0.33.5)

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific an

[2019-08-29 18:58] jpeel commented on #20026
We've found a way to reproduce it when integrated with our complete application, but I can't seem to reproduce it with a paired down test script yet. We have confirmed that not sending a request to reopen the Events stream right after the keepalive watchdog timeout stop this from happening so that is our current workaround. Also, a request on a unary_unary stream has to be errored out with the kee

[2019-08-29 19:02] muxi commented on #18888
So first, I don't see the symbol that  got missing for arm64. The symbols you listed are missing for x86_64, and they look like from generated stubs, so one thing good to check is whether the implementations of the stubs are included in the project. I think more information would definitely be helpful for troubleshooting.

Second, note that building gRPC C++ for iOS using gcc is not an officially

[2019-08-29 19:24] rmstar commented on #19901
Repro: https://source.cloud.google.com/results/invocations/476a6663-103d-4da6-9770-4802bd5900bb/targets/grpc%2Fcore%2Fmaster%2Fmacos%2Fgrpc_cfstream_asan/log

[2019-08-29 20:34] dapengzhang0 commented on #18217
Closing due to inactivity. Please reopen if the workaround does not work or you have new update.

[2019-08-29 20:34] #18217 closed

[2019-08-29 20:39] hcaseyal commented on #19094
@ejona86 Have the inconsistencies been resolved with your latest PR?

[2019-08-29 20:49] dapengzhang0 commented on #19094
The doc is fixed. But the C core implementation https://github.com/grpc/grpc/blob/v1.23.0/src/core/lib/transport/status_conversion.cc#L82 is still wrong, there shouldn't be such conversion.

[2019-08-29 21:28] ejona86 commented on #19094
Yeah, the doc inconsistencies are fixed. But I've not touched status_conversion.cc

[2019-08-29 23:25] rmstar commented on #18941
I was able to reproduce this locally.

[code]

[code]

[2019-08-29 23:34] rmstar commented on #18941
[code]

[2019-08-30 00:08] g-easy commented on #19092
I agree with @jinmel that the grpc plugin (which predates opencensus context) should install the span it creates into the context so that user code (e.g. RPC handler) can use context.

[2019-08-30 01:06] yashykt commented on #18941
can we get stack traces of when it was first scheduled?

[2019-08-30 01:13] lidizheng opened #20132 "Make grpc inside generated code private"
I have observed users directly using the `grpc` module from the generated code in their application. I think this is unintended behavior, and should be stopped.

[code]

[2019-08-30 01:27] rmstar commented on #18941
What's the best way to do this? I have a core file, but that just tells us the current state. Would it help if I tried to reproduce this with some tracing enabled?

[2019-08-30 01:40] noypi commented on #18188
I can now build a release for UWP. But there are exceptions that are very difficult to understand.
My overall comment, compiling to native is making it hard for development. What is working in debug mode is no longer the same on release mode. Yes it is frustrating, from the 3rd world country - the registration fee is quite high - and then I ended up not publishing my app to store.

[2019-08-30 04:31] CGQAQ opened #20134 "Failed to deserialize response message."
### What version of gRPC and what language are you using?
C#

### What operating system (Linux, Windows,...) and version?
Windows 7 x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
.net 4.6

### What did you do?
[source code](https://github.com/2dust/v2rayN/blob/d0ca8b2996754eab826da6c1ce50ce157c6a42f3/v2rayN/v2rayN/Handler/StatisticsHandler.cs#L108)

### What

[2019-08-30 08:41] cimpok commented on #19905
@jtattermusch Hi, I could also not find an explicit list of newly blocked ports (maybe they differ somewhat from machine to machine, is the reason?)
[https://support.microsoft.com/en-us/help/4074588](url)  I found only this Microsoft's workaround to the problem they suggest to check the ports with **netsh** before using them.

There might be a programmatic solution to avoid the blocked ports but i

[2019-08-30 12:55] pfreixes opened #20135 "[Aio] Rename gevent_util.h to something more meaningful"
Since Gevent is not only the unique player using an external IO manager, we should consider on renaming the filename `gevent_util.h` and its CPP file to something more meaningful considering that these utilities are used also for the Python `Aio` module.

[2019-08-30 12:56] pfreixes commented on #20135
@lidizheng | @gnossen please could you move this to the gRPC Easy project? having the `gevent_util.h` does not make sense any longer since also Python `Aio` package is using that implementation.

[2019-08-30 13:54] metellius commented on #19577
I have the same problem. Did you figure this out?

[2019-08-30 15:38] Kabutak commented on #16118
I believe it should be supported in c++, as per https://github.com/grpc/grpc/pull/12644

I haven't personally tested it, but that was the base upon which the support in python was added, so it should work.

[2019-08-30 15:45] runceel opened #20137 "Compile errors when use WPF on .NET Core projects"
### What version of gRPC and what language are you using?

- C#

I use following packages.
- Google.Protobuf 3.9.1
- Grpc.Net.Client 0.1.22-pre3
- Grpc.Tools 2.23.0

### What operating system (Linux, Windows,...) and version?

- Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)

- WPF on .NET Core 3.0 (.NET Core 3.0.100-preview8-013656)

### What did you

[2019-08-30 16:25] hcaseyal commented on #19396
I think you're right in that the code doesn't conform to the documentation. The documentation says:
  /// selected_port[out] If not `nullptr`, gets populated with the port
  /// number bound to the \a grpc::Server for the corresponding endpoint after
  /// it is successfully bound by BuildAndStart(), 0 otherwise. AddListeningPort
  /// does not modify this pointer.

It looks like what the code doe

[2019-08-30 16:39] gnossen commented on #20132
Do you have any examples of this?

I don't think we can prevent this. I think the best we can do is discourage it with something like `import grpc as _grpc` in the generated code.

[2019-08-30 16:54] hcaseyal commented on #19192
@rodoufu As stated, this should have been fixed. Please update your gRPC version if you haven't already. @KeithMoyer's suggestions should work as well

[2019-08-30 16:54] #19192 closed

[2019-08-30 17:01] hcaseyal commented on #18386
@MaybeShewill-CV Closing due to inactivity

[2019-08-30 17:01] #18386 closed

[2019-08-30 17:09] jpeel commented on #20026
I do think that it is something extra in our code, but I can't figure out what it is. The grpc client is being run from a daemonized process (double-forked). Also, there is another forking before that daemonization in a process manager that starts up various services. In the process manager, SIGPIPE is set to ignore and SIGCHLD sets a callback that calls `os.waitpid(-1, os.WNOHANG)`. My guess afte

[2019-08-30 17:19] rodoufu commented on #19192
@hcaseyal What branch or version from https://github.com/grpc/grpc should I use? I've tried `v1.22.1`, `v1.22.0` and `master`.

[2019-08-30 17:29] gnossen commented on #20026
We *have* recently fixed a few problems related to signal handling. It's possible that, e.g. https://github.com/grpc/grpc/pull/19481 could be related. If you get a chance, can you test with [a nightly build](https://packages.grpc.io/archive/2019/08/7564664f077cdaa720451633107352cb39e233e4-5fdee2ea-32d1-4eca-b924-729908490eb5/index.xml) and without your workaround in place?

[2019-08-30 17:34] hcaseyal commented on #19192
@rodoufu You tried those versions of gRPC and you're getting the exact same error message in the original post?

[2019-08-30 17:39] rodoufu commented on #19192
All failed, let me check if it is the same and I came back

[2019-08-30 17:40] hcaseyal commented on #19192
@rodoufu If it ends up being a different error message, please open up a new issue

[2019-08-30 18:22] #19861 closed

[2019-08-30 18:23] AspirinSJL commented on #19861
I agree that this might be better tracked at assistant repo.

[2019-08-30 18:25] AspirinSJL commented on #19958
https://github.com/grpc/grpc/tree/master/src/cpp/server/load_reporter is a complete example in production.

[2019-08-30 18:25] #19958 closed

[2019-08-30 18:26] AspirinSJL commented on #19959
Could you explain your question in more details?

[2019-08-30 18:57] kkm000 commented on #18625
@itshemant09, I'm sorry about sitting on this issue for months. I do have a couple of gRPC tickets on me that do indeed hold some fine mates back, and am trying hard to carve out a couple days to get them fixed.

This one can be worked around for now by copying the generated files once they are built, but if you need to change the proto files often as you develop, this can certainly be frustrating

[2019-08-30 19:00] rmstar commented on #18885
Reproduced locally
[code]

[2019-08-30 20:29] MattWhilden commented on #18188
@noypi Sorry to hear it's still causing you trouble. If you can describe your issues in a bit more detail it's possible I can help you get unblocked. A way for me to reproduce the error locally is ideal but even exception messages and stacks go a long way.

I presume the maintainers of this repo don't mind us chatting here but I'm also reachable at dotnetnative@microsoft.com.

[2019-08-30 20:34] rmstar commented on #18885
So it looks like both thread 11 and 12 are calling `gpr_realloc` on same slice concurrently.

Thread 11
[code]
Thread 12
[code]

CC @vjpai  as this seems to the same issue as #19901.

[2019-08-30 20:51] rmstar commented on #18885
Thread 11 is closing the transport when read fails
[code]

Thread 12 is closing the transport when write fails
[code]

[2019-08-30 21:22] yashykt commented on #18885
Cool stuff @rmstar ! Thanks for digging in! I didn't notice that

[2019-08-30 21:51] #19161 closed

[2019-08-31 00:04] #18942 closed

[2019-08-31 00:04] #19901 closed

[2019-08-31 00:05] #18885 closed

[2019-08-31 00:05] #18944 closed

[2019-08-31 00:05] #18941 closed

[2019-08-31 00:05] #18884 closed

[2019-08-31 01:20] mangorui opened #20143 "How to compile c++ grpc for android platform ?"
I am not familiar with cmake, have a lot of information, but have not figured out how to compile the android version of the c++ library, can you provide a compilation guide?

    Thank you！

[2019-08-31 08:48] ZHmao opened #20144 "[Aio] Implement metadata in the __call__ for asynchronous UnaryUnary callable"
As part of achieving full parity with the synchronous implementation of the unary unary call (#19760).
The new caller must comply with the original signature form the [synchronous channel](https://github.com/Skyscanner/grpc/blob/7b0576787898ee670c7a56b3fac34acfb1a62df0/src/python/grpcio/grpc/_channel.py#L556-L562).

@lidizheng @gnossen Could you please add this into [gRPC Easy](https://github.com/

[2019-08-31 14:03] dingzeng commented on #15623
**What version of gRPC and what language are you using?**
DotnetCore Client
[code]
DotnetCore Server
[code]

**What operating system (Linux, Windows, …) and version?**
Windows 10

**What runtime / compiler are you using (e.g. python version or version of gcc)**
C# dotnetcore

**What did you expect to see?**
Not crashing with Grpc.Core.RpcException

**What did you see instead?**
Status(StatusCode=U

[2019-08-31 23:55] JamesNK opened #20145 "Add new constructor AsyncUnaryCall et al with Func<Task<Metadata>> for headers"
AsyncUnaryCall (and the other call objects) have constructors that look similar to this:

[code]

The problem here is `Task<Metadata> responseHeadersAsync` is not lazy. Even if `ResponseHeadersAsync` is never awaited, a task that returns a metadata collection is always run. This is fine for `Grpc.Core` because a Metadata collection is always created, but `Grpc.Net.Client` is doing extra work for n

[2019-09-01 07:03] avnerbarr opened #20146 "python driver doesn't connect to all available IPs for a given DNS address"
### What version of gRPC and what language are you using?

python
grpcio==1.18.0
grpcio-tools==1.18.0

### What operating system (Linux, Windows,...) and version?
centos 6

### What runtime / compiler are you using (e.g. python version or version of gcc)
don't know

### What did you do?
I have a grpc service running on ECS
the service has an autoscale policy based on CPU usage and will from time t

[2019-09-01 17:35] gengliqi commented on #19923
**I have figured this bug out.**

#19531
This commit above can fix this bug.

In short, it is caused by calling the recv_message_ready completion function in advance in some rare cases. So scheduling closure rather than running it can solve this problem.

Let me try to explain in detail.

At first, in thread T1 grpc_call_start_batch is called  after receiving msg. And then a lot of things to do su

[2019-09-01 19:49] JamesNK commented on #20145
Would be fixed by https://github.com/grpc/grpc/pull/19609

[2019-09-02 00:40] BusyJay commented on #19923
Cool, thanks @gengliqi !

[2019-09-02 01:51] wudiX opened #20147 "An error in the official benchmark code "tools/run_tests/run_performance_tests.py""
### What version of gRPC and what language are you using?
version: v1.22.0
language: c++

### What operating system (Linux, Windows,...) and version?
CentOS Linux release 7.6.1810

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 4.8.5
python3.5

### What did you do?

I follow the official performance test benchmark in "grpc/tools/run_tests" and run the followi

[2019-09-02 02:01] roy-xu709 commented on #16118
I search some functions mentioned with that ticket, but got nothing.
Hope you give relative function interface for grpc_server if possible.

[2019-09-02 08:38] koolkhel commented on #17708
As a workaround I was able to omit gRPC's CMake files from both toolchain and target (blacklisting them) and borrowing some CMake code from https://github.com/googleapis/google-cloud-cpp/blob/master/cmake/FindgRPC.cmake so that it "autodetects" gRPC libraries. Works for me now, but yes, official gRPC files are broken for cross-compilation still.

[2019-09-02 11:24] jtattermusch commented on #18801
I tried and the suggested fix `Type.GetType("UnityEngine.Application")` actually fails on Unity. We need a better solution for detecting we're actually running on unity.

This is only a problem if you have "UnityEngine.dll" in your GAC (which seems to be non-standard, why do you have it there?).

[2019-09-02 15:08] pfreixes commented on #19961
@guantaol WDYT?

[2019-09-02 19:32] martysupple commented on #18801
I am not using Unity at all in my solution. But it seemed your implementation for 'detecting' if this application was a Unity application seemed less than ideal. Just because the Unity dll can be loaded by .net does not necessarily mean its a unity application. I worked around this problem by running my GRPC code out of process from SSIS for now. Thanks..

[2019-09-03 01:58] #19927 closed

[2019-09-03 05:47] jtattermusch commented on #18801
@martysupple I agree that the way we detect unity could use an improvement, but I don't know a better solution myself, so I'm open to new suggestions. Until then, the current way seems acceptable.

[2019-09-03 07:52] ankit0706 opened #20153 "grpc client how to use server's hostname alias"
Hi all, I am using gRPC for my client/server. This is about using the server's hsotname at client side code. At server side I used the following code connecting to the service

public static NettyChannelBuilder.forAddress(String host, int port)

Earlier we used the actual hostname and it worked but now we are aked to use alias.
 the alias name when put in the same code does not work and I get the

[2019-09-03 08:15] eaglo commented on #19151
any news on this?

[2019-09-03 08:19] philippfo9 commented on #19151
it's also not working for me. have you got any news?

[2019-09-03 08:31] jtattermusch commented on #20095
https://source.cloud.google.com/results/invocations/985fb4b2-2fd9-4ef4-aaa1-95866ebfdb54/targets/github%2Fgrpc%2Fgrpc-node_macos_dbg_native/tests

Looks like this is failing on all PRs, raising to P1.

[2019-09-03 08:33] jtattermusch commented on #20095
CC @murgatroid99

[2019-09-03 08:36] jtattermusch commented on #19170
https://source.cloud.google.com/results/invocations/cf9cec38-ff40-4348-9b2a-9afc7b1d6b8f/targets/github%2Fgrpc%2Fpython_windows_opt_gevent/tests

[2019-09-03 08:37] jtattermusch commented on #20075
@mit-mit @sigurdm, any ideas?

[2019-09-03 08:55] baicaixmj opened #20154 "GCC 8 issues for v1.22.0"
### What version of gRPC and what language are you using?
v1.22.0

### What operating system (Linux, Windows,...) and version?
Linux centos6u3

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 8.2.0

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
I change the branch of proto

[2019-09-03 09:58] pszemus opened #20155 "Using AsyncNotifyWhenDone causes gRPC async server to quit"
### What version of gRPC and what language are you using?
1.22.0

### What operating system (Linux, Windows,...) and version?
Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)
gcc 9.2.1

### What did you do?
To check if the call was cancelled by client I turned on the `AsyncNotifyWhenDone` in
[greeter_async_server.cc](https://github.com/grpc/grpc/blob/master/

[2019-09-03 11:55] Falco20019 opened #20157 "Add C# wrapper for SPIFFE credentials"
We intend to use short-lived dynamic certificates in our application. Since the SPIFFE security stack was already added since version 1.20.0, we would love to rely on it.

This is related to #19778 which will add the wrappers to C++.

[2019-09-03 16:54] #16839 closed

[2019-09-03 17:04] gnossen commented on #20146
Can you provide more information about the lifetime of your channel? Do you reuse the same channel to send multiple RPCs? Or do you only send a single RPC on each channel before tearing it down?

[2019-09-03 17:10] jpeel commented on #20026
We have created an internal ticket to try this out, but it might be a few weeks before it happens due to priorities.

[2019-09-03 17:39] lidizheng commented on #19633
Closing since reporter didn't reply, if this issue still exist, please reopen it.

[2019-09-03 17:39] #19633 closed

[2019-09-03 17:42] lidizheng commented on #19221
Closing for now, feel free to reopen for updates.

[2019-09-03 17:42] #19221 closed

[2019-09-03 17:42] #19122 closed

[2019-09-03 17:47] gnossen commented on #17453
@alexykot Are you still hoping to contribute unit tests to the `helloworld` example?

[2019-09-03 18:14] nanahpang commented on #17694
Solution provided above.
Close this issue for no response in 7 months

[2019-09-03 18:14] #17694 closed

[2019-09-03 18:26] nanahpang commented on #19505
Tests are passed now.
Close this issue for problem solved and no further conversation in 7 months

[2019-09-03 18:26] #19505 closed

[2019-09-03 18:47] mehrdada opened #20161 "grpc_tls_key_materials_config_set_key_materials should not free the input array"
[This line](https://github.com/grpc/grpc/blob/master/src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc#L156) calls `gpr_free` on the input array supposedly constructed by the user (often makes sense as a stack allocated). The ownership of the array should remain in hands of the user.

(To be clear, should the ownership transfer is the intent, there should be a helper `create` f

[2019-09-03 19:28] alexykot commented on #17453
Sorry, this is unlikely now as we've switched over to Go entirely in our stack and phased out Python services, so I'm not using Python gRPC anymore.

[2019-09-03 22:33] yashykt commented on #19644
Yes, C++ clients do send BDP pings to estimate what the flow control window should be. But, we can disable it

[2019-09-03 22:35] yashykt commented on #19644
args->SetInt(GRPC_ARG_HTTP2_BDP_PROBE, 0);

By settings this channel argument, we would be disabling it.

[2019-09-03 22:35] #19644 closed

[2019-09-03 23:41] gnossen opened #20163 "//test/cpp/end2end:xds_end2end_test@poller=poll times out"
[code]

https://source.cloud.google.com/results/invocations/e645c3b3-c4e2-4ed5-8ff2-f3aedc647deb/log

[2019-09-04 07:38] avnerbarr commented on #20146
the channel is long living through out the lifetime of the application. the channel is never explicitly closed/torn down

[2019-09-04 10:54] raulpereztangelo commented on #20134
Happens to me in the Unity package too. Using osx.

1.21 was fine but from there on it fails with that message.

[2019-09-04 10:57] viet0511 opened #20166 "Java gRPC bi-streaming delay on receiving message at client"
gRPC: 1.23.0 Java server and Java client
OS: Windows 10
JDK 8 Update 111

I'm trying implement RouteGuide Java example. [https://github.com/grpc/grpc-java/tree/master/examples/src/main/java/io/grpc/examples/routeguide](url)

I modify Server to response a message immediately after receive a message from client.
But client seem to be can't receive message from Server before `requestObserver.onComple

[2019-09-04 13:16] jtattermusch commented on #16480
You can enable extra logging (which will likely give you some indication of what went wrong) by following https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

[2019-09-04 13:18] jtattermusch commented on #18205
Is this still a problem?

[2019-09-04 14:01] redsun82 opened #20167 "not able to use mutual SSL/TLS authentication in C++"
My goal is to use mutual authentication between server and client with self-signed certificates. I have tried several days with no success, and I don't know if my server, client or key generation code is to blame. I've also tried having a common root CA in, but had the same result: server authentication works, but the client does not seem to send its certificate.

Here's how I generate the keys:

[2019-09-04 14:08] jtattermusch commented on #19905
We could change the ports, but I'd like to change it to something that will work for everyone. How do we know the list you provided is not just something that's specific to your machine?

@JamesNK  @JunTaoLuo  this might be impacting examples at https://github.com/grpc/grpc-dotnet/tree/master/examples/ as well.

[2019-09-04 14:11] #16687 closed

[2019-09-04 14:11] redsun82 commented on #20167
by the way, it would really help having some authentication examples in https://github.com/grpc/grpc/tree/master/examples/cpp covering all the different types of authentication.

[2019-09-04 14:11] markdroth commented on #18160
This is still something we should take care of at some point.

[2019-09-04 14:13] jtattermusch commented on #14899
this is still a problem - let's leave open.

[2019-09-04 14:13] markdroth commented on #9475
We do now have the grpc/grpc-proto repo, but the grpc/grpc repo still has its own copies of most of these proto files.  We should replace those copies with use of the canonical files via a submodule.

[2019-09-04 14:15] jtattermusch commented on #17966
I believe this has been already fixed.

[2019-09-04 14:15] #17966 closed

[2019-09-04 14:19] jtattermusch commented on #16294
Hopefully fixed by https://github.com/grpc/grpc/pull/16308.

[2019-09-04 14:19] #16294 closed

[2019-09-04 14:25] shahidhs-ibm commented on #17334
This was solved by workaround to switch to gRPC's C++ build. Closing the issue.

[2019-09-04 14:25] #17334 closed

[2019-09-04 14:55] sagva123 commented on #20157
ling c#

[2019-09-04 14:56] smahapatra1 opened #20168 "Better support for flatbuffers in grpc"
We would like to use flatbuffers, but it appears that integration with grpc is still lacking. More languages (apart from C++ and GO) such as Java, NodeJS and Python will really help. Second, if the maintainers can also make sure that flatbuffers doesn't stop working after a release, it will give confidence to build with flatbuffers.

[2019-09-04 15:19] RoCry commented on #18187
@lidizheng Do we have any progress on this?

[2019-09-04 15:47] jtattermusch commented on #18338
Do we understand why after installing `apk add libc6-compat` protoc fails with a segfault?

[2019-09-04 15:51] jtattermusch commented on #18338
According to @nicolasnoble  the segfault is because of musl libc incompatibilities and it would be a lot of work to make protoc work properly on alpine.

[2019-09-04 15:54] coryan commented on #16989
Ping.

[2019-09-04 15:57] jtattermusch commented on #18338
If someone once to try to make protoc work on alpine, the pointer is that something like this would probably need to be done in protobuf:

[2019-09-04 16:24] markdroth commented on #13328
I just saw this again the other day.  I think it still needs to be fixed.

[2019-09-04 16:24] markdroth commented on #9884
This is still needed.

[2019-09-04 16:25] markdroth commented on #14467
We still need to figure this out.

[2019-09-04 16:43] gnossen commented on #15741
Closed by https://github.com/grpc/grpc/pull/18564

[2019-09-04 16:43] #15741 closed

[2019-09-04 16:44] coryan commented on #16872
Ping, this is still a problem. Also the priority seems low.  A crash on a major platform seems like something you would want to fix.

[2019-09-04 16:48] markdroth commented on #15141
Esun's work on using the C++ standard library should address this.

[2019-09-04 16:49] markdroth commented on #17857
This is still something we should do eventually.

[2019-09-04 17:18] lidizheng commented on #18187
@rmstar @muxi Can you take a look?

[2019-09-04 17:43] muxi commented on #18187
I'll take a look into this issue later this week.

[2019-09-04 17:51] JimHume commented on #16570
I'm still seeing this issue in version 1.19.0 and I will be testing it against 1.23.0 within the next couple of weeks.

[2019-09-04 17:54] ObiBobCanobi commented on #19954
@apolcyn  any luck?

[2019-09-04 18:00] rohansingh commented on #9403
The workaround that I provided above actually broke a few releases ago. I had to also add:

[code]

[2019-09-04 18:30] #15106 closed

[2019-09-04 18:39] KOLANICH commented on #15843
0

[2019-09-04 18:43] ice1000 commented on #17043
Bugs should not be closed without a fix

[2019-09-04 18:45] CharlotteDunois commented on #12017
@kimmykuang Are there any updates to this?

[2019-09-04 19:01] yashykt commented on #16876
This should be fixed after https://github.com/grpc/grpc/pull/18491

[2019-09-04 19:01] #16876 closed

[2019-09-04 19:22] CharlotteDunois commented on #12017
@ZhouyihaiDing Any updates on this?

[2019-09-04 19:42] yashykt commented on #19154
I am not sure what you mean when you say - the client needs to make a copy of the buffer. If the requirement of creating a copy is just arising from using protobuf and the consequent serialization, you can use ByteBuffer instead.

[2019-09-04 19:44] yashykt commented on #18614
This sounds like a transient failure. Closing since we haven't seen this in a long time

[2019-09-04 19:44] #18614 closed

[2019-09-04 19:45] yashykt commented on #18954
This stack trace does not seem to be useful

[2019-09-04 19:46] yashykt commented on #18954
Let's close this if there is no actionable item over here

[2019-09-04 19:46] #18954 closed

[2019-09-04 19:51] yashykt commented on #18721
Has this been fixed?

[2019-09-04 19:53] markdroth commented on #16968
We should still do this.

[2019-09-04 20:16] pfreixes commented on #18721
Yes this has been fixed.

On Wed, Sep 4, 2019, 21:52 Yash Tibrewal <notifications@github.com> wrote:

[2019-09-04 20:20] AspirinSJL commented on #17207
Duplicate of #17207.

[2019-09-04 20:20] #17207 closed

[2019-09-04 20:31] gnossen commented on #20146
CC @apolcyn

[2019-09-04 21:13] sanjaypujare commented on #13859
I think grpc_cli should support enum values unless there is a technical reason not too.

[2019-09-04 21:23] haizaar commented on #4221
Still hope to see it fixed one day.

On Thu, 5 Sep. 2019, 03:44 stale[bot], <notifications@github.com> wrote:

[2019-09-04 22:51] jlaws commented on #16338
Ping

[2019-09-04 22:51] sheenaqotj commented on #18975
What is the status of this, @nicolasnoble ?

[2019-09-04 23:01] gnossen commented on #20146
You mentioned `SRV` records, but your `dig` output shows `A` records. `SRV` records are [only intended for use with gRPCLB](https://github.com/grpc/proposal/blob/master/A5-grpclb-in-dns.md).  Are you actually trying to use gRPCLB?

[2019-09-04 23:50] muxi commented on #16338
This issue was addressed in #19787. Please open bug specific issues if there's bug found. Closing this issue.

[2019-09-04 23:50] #16338 closed

[2019-09-05 00:04] apolcyn commented on #20146
From:

[code]

and

[code]

One guess is, was there only a single IP available when you first started the "driver" ?

Note that if you have a grpc client channel that has connections which are "healthy", it won't retry DNS resolution unless provoked to do so (basically the client will only try to refresh DNS resolution  one of your connections goes bad). So in steady state your client won't "learn

[2019-09-05 00:05] BusyJay commented on #12975
Take it easy bot, the issue is not resolved yet.

[2019-09-05 00:06] madeleineth commented on #18211
Poking this to keep it from getting closed. I'm trying to replicate it against HEAD, but I ran into some entirely different threading issues. I will update the thread once I have more information.

[2019-09-05 01:50] benhansenslc commented on #16705
This appears to still be an issue based on the diff between https://raw.githubusercontent.com/grpc/grpc/8bf52535d1008a3f38e70d1387846f0e942761b5/include/grpcpp/impl/codegen/completion_queue.h and https://raw.githubusercontent.com/grpc/grpc/master/include/grpcpp/impl/codegen/completion_queue_impl.h

[2019-09-05 02:18] benjaminp commented on #17969
seems like it remains a valid feature request

[2019-09-05 02:29] hanabi1224 commented on #17773
any updates？

[2019-09-05 02:50] dadude999 commented on #11279
This is still an issue as far as I'm aware?

[2019-09-05 03:01] sanjaypujare commented on #11498
I think this should be fixed

[2019-09-05 03:12] sanjaypujare commented on #11451
@jiangtaoli2016 do you have resources to fix this issue now? Your suggested code should work

[2019-09-05 03:24] sanjaypujare commented on #15591
Looks like @dontsovcmc has a suggestion (use -DgRPC_SSL_PROVIDER:STRING ) to address this issue. Can @iniside verify?

[2019-09-05 03:25] Croydon commented on #15949
Still valid

[2019-09-05 03:25] Croydon commented on #11068
Still valid AFAIK

[2019-09-05 04:07] apolcyn commented on #19954
Sorry to let this hang. I've been too busy with other things over the last week, and am out of the office next week. So it may actually be ~2 weeks until I'd have time to dig in.

[2019-09-05 04:10] ahmetb commented on #10273
I think it's still relevant.

[2019-09-05 04:14] apolcyn commented on #17471
c-ares dependency was updated in https://github.com/grpc/grpc/pull/18519, has this been fixed?

[2019-09-05 04:14] #17471 closed

[2019-09-05 04:25] apolcyn commented on #17938
[code]

Do you by chance have an old version of protobuf installed on your system?

[2019-09-05 04:26] michaelsafyan commented on #11946
Commenting to keep this open.

[2019-09-05 05:44] sheenaqotj commented on #18758
Is this related to https://github.com/grpc/grpc/issues/18900?

[2019-09-05 05:54] #18741 closed

[2019-09-05 05:55] #18533 closed

[2019-09-05 06:01] sheenaqotj commented on #19594
What are the exact steps to recreate this? Is your server set up correctly? Stack overflow may be a better forum for this until you determine there is a bug.

[2019-09-05 06:01] #19594 closed

[2019-09-05 06:10] jtattermusch commented on #10699
Currently there's no ETA for this, we can reopen once we get to it.

[2019-09-05 06:10] #10699 closed

[2019-09-05 06:29] jtattermusch commented on #17556
This is still an issue.

[2019-09-05 06:34] jtattermusch commented on #12035
I think this is still an issue.

[2019-09-05 06:39] jtattermusch commented on #11279
@dadude999  can you test that?

[2019-09-05 06:40] jtattermusch commented on #11290
I think this is something we should fix.

[2019-09-05 06:47] jtattermusch commented on #8451
I think this might be still an issue.

[2019-09-05 06:48] jtattermusch commented on #13674
this would still be useful.

[2019-09-05 06:50] jtattermusch commented on #12424
This might still be an issue?

[2019-09-05 06:52] jtattermusch commented on #14840
Let's leave this open.

[2019-09-05 07:05] jtattermusch commented on #14273
is this still an issue?

[2019-09-05 07:10] jtattermusch commented on #10560
I think this works now, feel free to reopen if more work needs to be done.

[2019-09-05 07:10] #10560 closed

[2019-09-05 07:15] jtattermusch commented on #16310
It works. The workaround is described here: https://github.com/grpc/grpc/issues/16250

[2019-09-05 07:15] #16310 closed

[2019-09-05 08:12] jtattermusch commented on #15657
Despite some recent improvements, I think this is still an issue.

[2019-09-05 08:23] jtattermusch commented on #19905
FTR, The command to get the excluded port range is `netsh interface ipv4 show excludedportrange protocol=tcp` as documented here: https://support.microsoft.com/en-us/help/4074588

[2019-09-05 08:25] jtattermusch commented on #19905
Btw on my machine I have an up-to-date system (win10) and this is what I get:
[code]

[2019-09-05 08:29] metellius commented on #19577
A comment from @vjpai in https://github.com/grpc/grpc/issues/7352 suggests that they need a new iomgr for this mechanism to work properly and made non-experimental.

[2019-09-05 08:30] avnerbarr commented on #20146
@gnossen
I didn't mention using srv records explicitly. I assume it was implied from the the connection configuration. But in general "dns_enable_srv_queries" shouldn't deduce "dns_USE_ONLY_srv_queries" or some semantic like that. In general all acts normally until a scale event occurs.

(I think the documentation is completely lacking in this regards along with best practice and I arrived at that

[2019-09-05 08:33] metellius commented on #19577
Here's an overview of the work remaining for this feature: https://github.com/grpc/grpc/projects/12#card-12554506

[2019-09-05 08:42] andrew2311 commented on #15604
Close it please, it successfully compiles

[2019-09-05 08:46] JamesNK commented on #19905
Mine:

[code]

[2019-09-05 08:49] nathanielmanistaatgoogle commented on #11946
This was always ambitious and always long-term; I agree that it should stay open.

[2019-09-05 08:50] nathanielmanistaatgoogle commented on #6903
To the best of my knowledge this is still an open concern...

[2019-09-05 08:52] nathanielmanistaatgoogle commented on #8622
Huh. It's still there in the code. How about that.

[2019-09-05 08:57] nathanielmanistaatgoogle commented on #7927
To the best of my knowledge this should stay open...

[2019-09-05 09:07] nathanielmanistaatgoogle commented on #6894
To the best of my knowledge this should remain open.

[2019-09-05 09:25] nathanielmanistaatgoogle commented on #11601
To the best of my knowledge this is still an open concern - there's still a lot of `.sh` content in the repository, isn't there?

[2019-09-05 09:30] nathanielmanistaatgoogle commented on #15769
To the best of my knowledge this is still actionable.

[2019-09-05 09:31] nathanielmanistaatgoogle commented on #15243
To the best of my knowledge this is still a thing to be done.

[2019-09-05 09:34] nathanielmanistaatgoogle commented on #15736
To the best of my knowledge this is still on the long-term road map.

[2019-09-05 09:36] nathanielmanistaatgoogle commented on #13505
@lidizheng, @gnossen: is 3.4 still being used anywhere in the project infrastructure?

[2019-09-05 11:04] dontsovcmc commented on #15591
Full CMake arguments for Windows 10 static build:
[code]

And Debian 9.9, Ubuntu 16.04
[code]

[2019-09-05 11:33] rvlietstra opened #20174 "Python -m grpc_tools.protoc fails on Raspberry Pi Zero W"
### What version of gRPC and what language are you using?
sudo pip3 install grpcio-tools
grpcio-tools (1.23.0)
grpcio>=1.23.0 (1.23.0)
protobuf>=3.5.0.post1 (3.9.1)
six>=1.5.2 (1.12.0)
setuptools (41.2.0)

### What operating system (Linux, Windows,...) and version?
Linux, stretch

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.7

### What did you do?

$

[2019-09-05 12:02] Science-and-Motion-Sports commented on #19813
I get the same "Could NOT find Perl (missing: PERL_EXECUTABLE)" error after using the CMake-Integration of Visual Studio 2019 (v16.2.3) through "Open Folder..." .

[2019-09-05 12:28] mkvonarx commented on #16480
While extra logging is certainly interesting during development and when getting logs from production environments, logs do not help my code to tell the user (via UI, SNMP, ...) about what went wrong.

[2019-09-05 12:45] Science-and-Motion-Sports commented on #19813
Turns out I just had to install Perl through the Cygwin64 Installer: https://cygwin.com/install.html
The Perl dependency is already documented in https://github.com/grpc/grpc/blob/master/BUILDING.md except that they recommend the Perl distribution by Active State, installed through the Choco package manager.

[2019-09-05 13:12] #16400 closed

[2019-09-05 13:36] ebf42 commented on #12554
Prompted by the stale bot, I took another look; I see the code in question has changed from C to C++, but the bug still appears to exist:
https://github.com/grpc/grpc/blob/a5d4bc14834b8f10fbe65a818ea7eb6c7a8d6da2/src/core/lib/security/credentials/composite/composite_credentials.h#L41-L44

That is, if 'inner_creds_' is itself composite, it seems to me this won't work as intended.

The fix would see

[2019-09-05 13:42] #14627 closed

[2019-09-05 13:42] #14385 closed

[2019-09-05 13:42] #18139 closed

[2019-09-05 13:42] #15662 closed

[2019-09-05 13:42] #14176 closed

[2019-09-05 13:42] #17156 closed

[2019-09-05 13:42] #13566 closed

[2019-09-05 13:42] #6597 closed

[2019-09-05 13:42] #17569 closed

[2019-09-05 13:42] #17122 closed

[2019-09-05 13:42] #16143 closed

[2019-09-05 13:42] #18040 closed

[2019-09-05 13:42] #18144 closed

[2019-09-05 13:42] #18195 closed

[2019-09-05 13:42] #18055 closed

[2019-09-05 13:42] #17670 closed

[2019-09-05 13:42] #10782 closed

[2019-09-05 14:01] jtattermusch commented on #15591
As described here (https://github.com/protocolbuffers/protobuf/issues/6244#issuecomment-528376962) and above in this thread, to use custom OpenSSL version instead of boringssl,
you need to specify: `-DOPENSSL_ROOT_DIR=[where your custom openssl is installed]` and `-DgRPC_SSL_PROVIDER=package` and that should be enough.

I'm going to close this issue now, feel free to reopen if you're still experie

[2019-09-05 14:01] #15591 closed

[2019-09-05 14:09] Dmitry-Me opened #20175 "Possible dereference of null pointer"
This was found with CppCheck
lb_policy_registry.cc contains ParseLoadBalancingConfigHelper() function which goes like this:

      if (lb_config_array == nullptr || lb_config_array->type != GRPC_JSON_ARRAY) {
    gpr_asprintf(&error_msg, "field:%s error:type should be array",
                 lb_config_array->key);

In case `lb_config_array` is null control enters the `if` and then attempt to comp

[2019-09-05 14:17] dadude999 commented on #11279
I'm currently doing the workaround described by @jskeet above:

Without it, the reference to Grpc.Core is missing. My use case is a NuGet that includes Grpc, and for that to be properly consumed, I have to separately include Grpc.Core with the `<PrivateAssets>None</PrivateAssets>` set.

[2019-09-05 14:18] markdroth commented on #14693
I think this is something we still want to do.

[2019-09-05 14:22] markdroth commented on #6446
We still want to do this at some point.

[2019-09-05 14:23] markdroth commented on #9110
Keeping this open, since we still haven't enabled service config functionality by default in OSS.

[2019-09-05 14:24] markdroth commented on #15575
I would still like to see this done.  Muxi, can you please take a look?  Thanks!

[2019-09-05 14:25] markdroth commented on #11783
We still need to take care of this at some point.

[2019-09-05 14:25] jtattermusch commented on #20168
We would like to support flatbuffers, but our resources are limited. IMHO, flatbuffer support (as well as support for other serialization formats) will always be driven and maintained by the community (which doesn't mean it won't have a great level of support at some point - it just means that grpc team should not be its maintainer).

[2019-09-05 14:27] bmulder-innoseis commented on #17458
I am also having this issue.
My guess is that in my case if some code inside the loop `while (await call.ResponseStream.MoveNext())` throws an exception, the stream is not exhausted and this Unobserved Task Exception occurs because of that.
Could you please continue to look into this?

[2019-09-05 14:27] markdroth commented on #10504
We have discussed this use-case in the past as part of various load balancing designs, but we don't currently have any concrete plans to provide an OSS slicer implementation.  However, that could happen at some point in the future, so let's keep this open to track the request.

[2019-09-05 14:29] markdroth commented on #7843
We are planning to do this at some point, but there's no ETA at present.

[2019-09-05 14:29] markdroth commented on #14061
This is something that we still need to do.

[2019-09-05 14:30] markdroth commented on #13994
This is something we still need to do.

[2019-09-05 14:30] #19813 closed

[2019-09-05 14:32] jtattermusch commented on #16376
let's keep this open as a reminder to change the behavior in the future, once we're fully migrated to VS2017

[2019-09-05 14:33] markdroth commented on #13384
I think this still needs to be done.

[2019-09-05 14:33] markdroth commented on #14030
This still needs to be done.

[2019-09-05 14:37] jtattermusch commented on #10727
I believe this is still an issue.

[2019-09-05 14:40] blowmage commented on #8798
This issue is still outstanding, AFAIK. We still want to be able to reset the Ruby GRPC client's low-level resource after a fork.

[2019-09-05 14:41] gfxcc commented on #8131
Still needed?

[2019-09-05 14:42] #17126 closed

[2019-09-05 14:42] #17168 closed

[2019-09-05 14:42] #17914 closed

[2019-09-05 14:42] #18005 closed

[2019-09-05 14:42] #15764 closed

[2019-09-05 14:42] #16808 closed

[2019-09-05 14:42] #16895 closed

[2019-09-05 14:42] #18011 closed

[2019-09-05 14:42] #16981 closed

[2019-09-05 14:42] #17177 closed

[2019-09-05 14:42] #17844 closed

[2019-09-05 14:42] #18009 closed

[2019-09-05 14:42] #18089 closed

[2019-09-05 14:42] #17786 closed

[2019-09-05 14:42] #18106 closed

[2019-09-05 14:46] kwasimensah commented on #17963
Reopening as the usage of bind should be fixed

[2019-09-05 14:47] dadude999 commented on #11279
Whoops, let me correct that - it's not Grpc.Core that's the issue, it's the native binaries packaged in there that don't get referenced without the workaround (as described earlier in this ticket).

[2019-09-05 14:47] kwasimensah commented on #17963
i.e. this should be reopened. I don't have the priviliges to do that here

[2019-09-05 15:00] kskalski commented on #14101
I'm looking for a solution to allow local gRPC "backend" (behind local network) to register at cloud server and let gRPC clients connecting to that cloud server reach the registered backend (by its registered id, so a certain level of inspection into forwarded traffic would be desirable for routing to different registered backends).
A requirement here is to let encryption / TLS pass through the cl

[2019-09-05 15:06] vjpai commented on #18758
I'm taking a crack at #18900 and will post a followup here also

[2019-09-05 15:09] jtattermusch commented on #12379
I believe this is still an issue.

[2019-09-05 15:20] vjpai commented on #18758
Does #20176 solve this problem? Can anyone check?

[2019-09-05 15:23] Symetrix-qk9 opened #20177 "Grpc probs"
Can any 1 solve this?

[!] There was an error parsing `Gemfile`:
[!] There was an error while loading `grpc.gemspec`: cannot load such file -- grpc/version
Does it try to require a relative path? That's been removed in Ruby 1.9. Bundler cannot continue.

 #  from /data/data/com.termux/files/home/metasploit-framework/grpc.gemspec:4
 #  -------------------------------------------
 #  $LOAD_PATH.push

[2019-09-05 15:27] zimbatm commented on #8935
I don't believe that this is issue was fixed

[2019-09-05 15:51] ejona86 commented on #7872
I'm going to say this was done in https://github.com/grpc/grpc/pull/18003

[2019-09-05 15:51] #7872 closed

[2019-09-05 15:52] ejona86 commented on #7530
This should remain open.

[2019-09-05 15:55] ejona86 commented on #16149
This should remain open until it is implemented.

[2019-09-05 16:04] #9779 closed

[2019-09-05 16:04] #16125 closed

[2019-09-05 16:04] #14932 closed

[2019-09-05 16:04] #14252 closed

[2019-09-05 16:04] #13590 closed

[2019-09-05 16:04] #13062 closed

[2019-09-05 16:04] #12539 closed

[2019-09-05 16:05] #12082 closed

[2019-09-05 16:05] #17284 closed

[2019-09-05 16:05] #17827 closed

[2019-09-05 16:05] #16776 closed

[2019-09-05 16:05] #16875 closed

[2019-09-05 16:05] #8624 closed

[2019-09-05 16:05] #16999 closed