[2018-05-21 16:10] murgatroid99 commented on #15464
It looks like the first error is "Connection reset by peer", and the second is "Internal server error", both while downloading node modules. I'll leave this open as a known failure, but there's only so much we can do about intermittent network errors on the package repository servers.

[2018-05-21 17:09] sreecha commented on #8610
@yyh-graphsql - There is no race between the two - you can call them in parallel.
However, make sure that you drain the queue after calling shutdown (i.e continue calling Next or AsyncNext until they actually return that the queue has been shutdown)

[2018-05-21 17:17] mehrdada commented on #14829
/cc @carl-mastrangelo

[2018-05-21 18:18] mehrdada opened #15487 "Publish gRPC Release Schedule"
Release schedule (feature window closing and anticipated release dates) roadmap should be publicly posted on the grpc.io website

[2018-05-21 18:28] jtattermusch commented on #15470
"Fixed" by merging #15471 to make things green again.

[2018-05-21 18:28] #15470 closed

[2018-05-21 18:34] adelez commented on #15409
Another instance: https://source.cloud.google.com/results/invocations/e24d17c2-0d25-4ea4-88a4-fd04a9509a37/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_http_proxy_test@retry_disabled@poller%3Dpoll-cv/log

[2018-05-21 18:44] adelez opened #15489 "Bazel test flake: //test/cpp/end2end:grpclb_end2end_test sometimes times out 3600s under ubsan"
https://sponge.corp.google.com/target?id=53abe722-4b61-462c-9eff-c0786e55699b&target=grpc%2Fcore%2Fmaster%2Flinux%2Fremote_bazel_tests_ubsan&searchFor=

and
================================================================================
[28,975 / 29,232] 5844 / 6806 tests, 3 failed; Testing //test/core/end2end:h2_http_proxy_test@hpack_size@poller=poll-cv; 58s remote ... (200 actions running)
[29,

[2018-05-21 19:41] dazuma commented on #15467
SGTM from ruby-cloud.

[2018-05-21 22:56] jtattermusch opened #15500 "cpp_macos_opt_native: ClientLbEnd2endTest.RoundRobinSingleReconnect is flaky"
Look like this is failing >10% of runs.

Recent failures on master:
https://source.cloud.google.com/results/invocations/55dd633b-a709-4c18-8213-455711f3f7d0/targets/github%2Fgrpc%2Fcpp_macos_opt_native/tests
https://source.cloud.google.com/results/invocations/c69a23ac-e4a4-4fca-b9cd-ed085797e92d/targets/github%2Fgrpc%2Fcpp_macos_opt_native/tests

[code]

[2018-05-21 23:02] jtattermusch commented on #15119
I haven't seen any instances of this problem at all in historical data from upstream/master.  Closing for now.

[2018-05-21 23:02] #15119 closed

[2018-05-21 23:04] jtattermusch commented on #14673
Seen again on 2018-05-19.

[2018-05-21 23:20] AspirinSJL commented on #14549
I am trying to get a refcount sample. But this test has another more frequent failure (#14703).

[2018-05-21 23:27] jtattermusch commented on #14614
Saw an occurrence on 2018-04-21 with epollsig (not seen since than).
https://source.cloud.google.com/results/invocations/76d2617f-0e1c-4e23-b976-e3529791b392

[2018-05-21 23:30] jtattermusch commented on #14614
This is quite rare compared to other flakes, so setting priority to P2.

[2018-05-21 23:33] jtattermusch commented on #13692
We keep seeing this every few days:
https://source.cloud.google.com/results/invocations/0d5f1182-dee5-4316-853a-fb89c526b884
https://source.cloud.google.com/results/invocations/422d35f2-1648-4c1e-8f1b-6caea03cc63d
https://source.cloud.google.com/results/invocations/97b4e73a-f19a-45bf-9ce2-4ad150cfb1c0

[2018-05-21 23:43] jtattermusch opened #15501 "test latency: Building python takes about ~10mins (=very slow)"
Compared to other wrapped languages, python is definitely an outlier:
- it takes about 10mins just to build.
- if we can reduce this, we could reduce the overall runtime of basictests_multilang suite drastically.

Comparison to other languages:
https://sponge.corp.google.com/target?id=5520b2b7-9614-4b10-93bd-1970a86f1062&target=github/grpc/aggregate_tests&searchFor&show=ALL&sortBy=STATUS&sortMetho

[2018-05-21 23:44] jtattermusch commented on #15501
@mehrdada  @nathanielmanistaatgoogle   any thoughts why python takes so long to build?

[2018-05-21 23:49] AspirinSJL commented on #14549
Got a sample. I will compare that to a normal run.

[2018-05-22 00:47] yashykt commented on #15458
Do we have a way to reproduce this?

[2018-05-22 00:48] jtattermusch commented on #15458
@yashykt  yes, just run the test under msan locally.

[2018-05-22 01:03] AspirinSJL commented on #14549
The [log](https://gist.github.com/AspirinSJL/412f5b700248b69388c73dc34689145c) shows that FD 13 is added to 2 pollsets. but one of these never calls [`finish_shutdown(grpc_pollset* pollset)`](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/ev_poll_posix.cc#L854). There are four callers of this functions. @sreecha Any suggestions about how to dig deeper?

[2018-05-22 01:28] AspirinSJL commented on #14673
Because the flakiness is low and it's hard to repro locally, I'm changing this to P2.

[2018-05-22 02:06] AspirinSJL commented on #15207
I am unable to reproduce it in C++.

I added 20 same test channels in the end2end_test like the following:
[code]

The log after running `GRPC_VERBOSITY=DEBUG bins/opt/end2end_test --gtest_filter=End2endServerTryCancel/End2endServerTryCancelTest.RequestEchoServerCancel/1
` shows
[code]

There is only one `New connected subchannel at 0x7f87f80065f0 for subchannel 0x7f87f80055f0` log.

Maybe a bug i

[2018-05-22 03:37] AspirinSJL commented on #15029
Those instances are all related to update. Trying to reproduce locally.

[2018-05-22 04:47] jtattermusch commented on #15500
I tried to reproduce locally and wasn't successful.

[2018-05-22 04:53] maxw commented on #15472
After running into the error in my cmake file, I tried building it by hand using the instructions from INSTALL. I'm using the exact instructions I put into the bug report above in vanilla gRPC checkd out at the v1.11.0 tag with all submodules.

Also, I assume the warning is "no 'object' file generated" meaning that there are a bunch of cc files that don't have corresponding .o files which I assume

[2018-05-22 04:56] yashykt commented on #15458
Here's what happens on a normal run -
1) The server requests a call with a tag of 1.
2) The data provided by the fuzzer is written to the server.
3) The server performs a cq_next to perform the READ_INITIAL_METADATA op. The op completes and the cq returns GRPC_OP_COMPLETE with the tag of 1.
4) The server performs another cq_next which ends in a GRPC_QUEUE_TIMEOUT.
5) The server then begins shutdow

[2018-05-22 05:40] nicolasnoble commented on #15472
That's not what this means at all. This is the general message from Visual Studio that says something went wrong compiling this one file.

[2018-05-22 07:28] amitwaisel opened #15506 "SSL/TSI data corruption in native C++ client on Windows"
### What version of gRPC and what language are you using?
Client - v1.12.0, C++, on Windows
Server - v1.12.0, C#, on WIndows

### What operating system (Linux, Windows, …) and version?
Client - Windows 7 x86, 1-core CPU, 2GB RAM
Server -  Windows 10, version 10.0.17134.48

### What runtime / compiler are you using (e.g. python version or version of gcc)
Client - built on Windows 10, using `CMAKE_G

[2018-05-22 07:53] AtosNicoS commented on #8636
@jtattermusch Any updates on this?

[2018-05-22 09:15] unoegohh opened #15507 "Firrebase install problem"
### What version of gRPC and what language are you using?
 1.11.0 Javascript

### What operating system (Linux, Windows, …) and version?
  System Windows_NT 10.0.17134 64x

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 2.7

### What did you do?
created new project
`npm init `
 tried to install firebase, via
`npm install firebase --save`

### What did you

[2018-05-22 09:33] #15469 closed

[2018-05-22 11:55] akosk commented on #15507
I've the same issue:

[code]

[code]

[2018-05-22 14:40] kpayson64 commented on #14966
Should have been fixed by #15412

[2018-05-22 14:40] #14966 closed

[2018-05-22 16:41] AspirinSJL commented on #15029
I ran the test overnight; can't reproduce. Re-running with `-a 10`.

[2018-05-22 16:58] NVD-R commented on #15474
g++ (GCC) 8.1.1 20180502 (Red Hat 8.1.1-1)
4.16.7-300.fc28.x86_64 (fedora)
PHP 7.2.5 (cli) (built: Apr 24 2018 15:09:50) ( NTS )

[2018-05-22 17:03] jtattermusch commented on #13692
I am able to reproduce with `tools/run_tests/run_tests.py -l c -c dbg -r 'h2_full_test invoke_large_request' -j 10 -n 500` (sometimes requires multiple runs)

[2018-05-22 17:13] kpayson64 commented on #15500
I ran this 10000 internally, and got about a dozen flakes, but they were all on PickFirstBackOffInitialReconnect.

[2018-05-22 17:30] dgquintas commented on #15410
The issue is happening [here](https://github.com/grpc/grpc/blob/463e4d56193bbaec3977ce38fb8f0103d006794e/src/core/ext/filters/client_channel/lb_policy/subchannel_list.h#L505), part of https://github.com/grpc/grpc/pull/14886 . Assigning this issue individually to @markdroth as the original author.

[2018-05-22 17:33] atecce commented on #1620
hi @zaneclaes, do i understand you correctly [here](https://github.com/grpc/grpc/issues/1620#issuecomment-368921798) when you say you've successfully cross-compiled `libgrpc_csharp_ext.so` for iOS? when i look at the experimental path [here](https://github.com/grpc/grpc/tree/master/src/csharp/experimental) it only provides instructions for Android

[2018-05-22 17:36] aureus5 opened #15509 "problem with reading meta data from clientcontext"
### What version of gRPC and what language are you using?
 The version from github(2018.May), protobuf 3.5.1, cpp

### What operating system (Linux, Windows, …) and version?
 ubuntu 16.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc 5.4.1

### What did you do?
I tried to set clientcontext meta data and read it from server.

Client side:
[code]

Server sid

[2018-05-22 17:49] murgatroid99 commented on #15507
This is a known bug in node-pre-gyp: mapbox/node-pre-gyp#367.

[2018-05-22 19:31] laxderek commented on #7075
Yes, that is sufficient. Thank you!

[2018-05-22 19:44] ssarangi opened #15510 "Symbol not found: _deflate from grpc 1.12.0"
### What version of gRPC and what language are you using?
gRPC Version: 1.12.0              Python: 3.6.4 (From Anaconda)

### What operating system (Linux, Windows, …) and version?
OSX (High Sierra)

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Python: 3.6.4 (From Anaconda)

### What did you do?
If possible, provide a recipe for reproducing the error. Try bei

[2018-05-22 20:05] ssarangi commented on #15510
I tried this with virtualenv as well and the same issue exists as well. So its not Anaconda specific.

[2018-05-22 20:18] snambakam opened #15511 "Seeking to get peer credentials {uid,gid} when using grpc over a unix domain socket"
### What version of gRPC and what language are you using?
 gRPC-1.10.0 with C++

### What operating system (Linux, Windows, …) and version?

 Linux Kernel 4.9.8
### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc=6.3.0

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

I have cr

[2018-05-22 22:01] AspirinSJL commented on #15351
Duplicate of #14673.

[2018-05-22 22:01] #15351 closed

[2018-05-22 22:53] yashykt commented on #15458
@jtattermusch (message stuck in drafts)
Thanks! It failed quite early with an antagonist setting of 20 :D

[2018-05-23 00:19] iredelmeier opened #15514 "Unexpected GOAWAY in Ruby client"
### What version of gRPC and what language are you using?

* Server: go with grpc-go 1.7.0
* Client: ruby with grpc 1.10.0

I've seen the same behaviour with a newer server (grpc-go 1.12.0) and any Ruby version >= 1.8.0 up to the latest release (1.12.0).

### What operating system (Linux, Windows, …) and version?

* macOS 10.13.4
* Ubuntu 14.04 w/ 4.4.0-124-generic kernel

### What runtime / compi

[2018-05-23 00:46] nathanielmanistaatgoogle commented on #15510
@mehrdada: would you be able to take a look at this in the next day or two?

[2018-05-23 01:13] mehrdada commented on #15510
Cannot reproduce on Python3 installed via `brew`:

[code]

[2018-05-23 02:57] nicolasnoble commented on #15510
@ssarangi how did you get python3 installed on your OSX ?

[2018-05-23 03:01] nicolasnoble commented on #15510
@mehrdada the reporter was talking about anaconda as a distribution method. https://anaconda.org/anaconda/python - I don't think it's fair to use this label if you don't try to reproduce exactly :-)

[2018-05-23 03:33] ssarangi commented on #15510
Hi, as I mentioned I was able to reproduce this with both Anaconda as well as virtualenv... I haven't tried python via brew but I use Anaconda as the primary distribution. However, I see the same issue whether i use conda or pip to install grpc.

[2018-05-23 03:56] mehrdada commented on #15510
@nicolasnoble @ssarangi I assume the `virtualenv` was using plain Python; that's why I asked for reporter help with the reproduction? Is the `virtualenv` using Anaconda as well?
I don't believe we actively test for Anaconda or other variants of Python. If you can only reproduce with Anaconda, I suggest filing the bug with the Python distribution.

[2018-05-23 04:08] ssarangi commented on #15510
`virtualenv` was indeed `plain python`. Also this doesn't look like a distribution bug since dlopen for cgrpc shared library can't find the _deflate method so this seems more like an issue with grpc rather.

[2018-05-23 04:08] mehrdada commented on #15510
@ssarangi  As a potential workaround, can you ask pip to force install `grpcio` from source and see if it works?

[2018-05-23 04:09] mehrdada commented on #15510
Where do I get the Python you used for virtualenv to try repro?

[2018-05-23 04:50] remicollet commented on #10843
fixed for some time now

[2018-05-23 04:50] #10843 closed

[2018-05-23 04:52] ssarangi commented on #15510
@mehrdada I just used regular pip once I activated the virtualenv. Let me try to build grpcio from source.

[2018-05-23 04:56] ssarangi commented on #15510
@mehrdada I just tried building and installing from source and still see the same issue. I had uninstalled the pip version and verified that and then built from source.

[2018-05-23 05:16] nicolasnoble commented on #15510
So I guess it means it's all from anaconda. Meaning that the virtualenv is provided by it too.

[2018-05-23 05:40] mehrdada commented on #15510
We had a similar internal bug about Anaconda specifically (b/76345760) and supporting Anaconda was deemed Infeasible by @nathanielmanistaatgoogle and closed. But if a Python binary fetched from brew or https://www.python.org/ reproduces this behavior, we should certainly look at it.

[2018-05-23 06:03] ssarangi commented on #15510
I did look at that bug. I was surprised that virtualenv did work though. I will try it out on a non-anaconda distro on osx and report back.

[2018-05-23 07:16] unoegohh commented on #15507
just tried that and now this is the output
[code]

firebase folder created but i cannot use firebase lib( package not found

[2018-05-23 11:54] Raj-JainHC commented on #14573
@mehrdada It worked for me. I was trying to install dialogflow. I used this
`pip install --no-cache-dir --only-binary :all: grpcio>=1.8.2`

[2018-05-23 13:51] mrohnstock opened #15520 "[ruby] can't build grpc 1.1x with gcc 8.x"
### What version of gRPC and what language are you using?

gRPC 1.11.x with ruby

### What operating system (Linux, Windows, …) and version?

archlinux on armv7l

### What runtime / compiler are you using (e.g. python version or version of gcc)

gcc version 8.1.0 (GCC)
ruby 2.3.7p456 (2018-03-28 revision 63024) [armv7l-linux-eabihf]

### What did you do?

gem install grpc -v 1.11.1

and

gem insta

[2018-05-23 14:30] jtattermusch commented on #15500
I got one local failure that contained an actual assertion failure:
[code]

[2018-05-23 15:08] dontsovcmc opened #15521 "GRPC Visual Studio projects aren't Multi-threaded"
### What version of gRPC and what language are you using?
1.12.0

### What operating system (Linux, Windows, …) and version?
 Windows 10 x64

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 14 2015

### What did you do?
[code]
### What did you expect to see?
Build successful

### What did you see instead?
[code]

Make sure you include information th

[2018-05-23 15:33] gertcuykens opened #15522 "grpc php client "Connect Failed" code 14"
php cli
[code]
composer.json
[code]
I don't think master is currently working for php?
Please try to use the docker container above that compiles master and try to make a php client work with any go grpc service.

Example repo https://github.com/fho/grpc_issue_13474 that you can slightly modify to test the docker container above.

No matter what I try only my go clients work. When I try a php clie

[2018-05-23 16:16] hxp4147 commented on #15507
@unoegohh can't help you there I was able to access firebase after the force install so I don't know...Best of luck.

[2018-05-23 16:48] jtattermusch commented on #15457
Currently failing 6% of builds.

https://source.cloud.google.com/results/invocations/4fcce9a2-34c1-4ff1-b7b8-949037829f04
https://source.cloud.google.com/results/invocations/c97c73d8-4c8a-40f7-be6c-414e58a17106
https://source.cloud.google.com/results/invocations/675f1e60-2b29-4580-bfc5-c9d3cb13f347
https://source.cloud.google.com/results/invocations/c8f33561-b7c8-4df3-850a-baecb3b72c03

First occu

[2018-05-23 16:54] NVD-R commented on #15474
any body can help me?

[2018-05-23 17:08] nicolasnoble commented on #15474
Duplicate of #15520.

[2018-05-23 17:09] jtattermusch commented on #15457
This is trivial to reproduce
`tools/run_tests/run_tests.py -l c -c tsan -r 'compress_nosec_test.*retry_streaming_succeeds_before_replay_finished' -n 200`

[2018-05-23 17:09] jtattermusch commented on #15457
Bumping to P1.

[2018-05-23 17:28] jtattermusch commented on #15457
Git bisect shows this was introduced by https://github.com/grpc/grpc/pull/15402.

[code]

@AspirinSJL  this is easy to reproduce (see command above), please fix ASAP or revert.

[2018-05-23 17:28] nicolasnoble commented on #15507
As @murgatroid99 said, this isn't a problem with gRPC itself, with a link to the actual problem, so this is kind of the wrong location to discuss it.

[2018-05-23 17:37] AspirinSJL commented on #15457
No idea how #15402 can introduce this data race.. Reverting.

[2018-05-23 17:38] ZhouyihaiDing commented on #15522
Hi.
I see you install grpc by pecl. That is the release version, which is `1.12.0`
[code]

I also [build grpc php from source](https://github.com/grpc/grpc/tree/master/src/php#build-from-source), and it runs well.
[code]

Is it possible you run go server and client outside of the docker container, and run php client inside the docker container, but forget to export the port?

I didn't see the fail

[2018-05-23 17:40] AspirinSJL commented on #15457
Can't revert automatically because of change in between. I will create a new PR after standup.

[2018-05-23 18:17] thevamad commented on #8754
@enjoydiy: Is it possible to build only the CPP flavor of GRPC ? I'm also trying to cross compile for OpenWRT. Do you have a makefile you can share with me ? Thanks!

[2018-05-23 21:59] AspirinSJL commented on #15457
So we need to synchronize the [call release](https://github.com/grpc/grpc/blob/master/src/core/lib/surface/call.cc#L520) and [call combiner access](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/call_combiner.cc#L109). The reason that this data race doesn't happen before might be that before my PR the initial zone of the arena is never used and call data is stored from the second zone

[2018-05-23 22:08] #15458 closed

[2018-05-23 22:40] yashykt commented on #13650
UPDATE - I spent some some more time on this. Reading the code doesn't make the reason for the error obvious. I'll add additional statements to log the error too.

[2018-05-23 22:43] matt-kwong opened #15526 "C++ ASAN failure: bins/asan/bm_closure --benchmark_filter=BM_ClosureReschedOnExecCtx"
https://source.cloud.google.com/results/invocations/1e61cc18-3b93-40c2-a41b-f57fb03f23f6/targets/github%2Fgrpc%2Fcpp_linux_asan_native_x64_clang7.0/tests

[code]

[2018-05-23 23:03] gertcuykens commented on #15522
Thank you for your reply because I was stuck :) My make file looks something like this, so i assume my ports are ok and published, I also test my grpc service with grpcurl to make sure it's available. Can you try outside the docker container please?

Doh! I was compiling the whole thing for nothing XD now i realise I am using pecl instead of using the compiled grpc.so version...

[code]

[2018-05-23 23:16] matt-kwong commented on #15526
I'm able to reproduce this by:
[code]

[2018-05-23 23:20] matt-kwong opened #15528 "C++ TSAN failure: bins/tsan/end2end_test --gtest_filter=ProxyEnd2end/ProxyEnd2endTest.ClientCancelsRpc/1"
https://source.cloud.google.com/results/invocations/3aff0c79-8da8-4313-82bd-5418a44b06ef/targets/github%2Fgrpc%2Fcpp_linux_tsan_native/tests

[code]
This was introduced when upgrading Clang from 3.8 to 7.0, so it likely wasn't introduced by any recent code changes.

@yashykt, are you the right person to assign this to?

[2018-05-23 23:35] ncteisen commented on #14257
Ok, I just stared digging. Will shoot for regular updates.

The root problem is a race when multiple threads call https://github.com/grpc/grpc/blob/515908ba3196d057a8465a146f667b9e6c2ad9f2/include/grpcpp/impl/codegen/proto_utils.h#L52

That functions actually updates an internal member of the protobuf message under the hood, so it makes sense this would race.

The thing is we have been doing this

[2018-05-23 23:41] jtattermusch commented on #14257
@ncteisen  we do run with TSAN on kokoro, but until very recently (see https://github.com/grpc/grpc/pull/15499) we have been using an older clang version (3.8 I think), while remote bazel execution uses clang 7. Another reason is that the timings of different execution environments may be different.

[2018-05-23 23:46] ncteisen commented on #14257
For remote bazel do we run the sweep of QPS driver scenarios? Or have those not yet been migrated, because I would assume that they would fail in the same way

[2018-05-23 23:50] jtattermusch commented on #14257
@ncteisen  AFAIK  json_run_localhost scenarios are not running on remote bazel.

[2018-05-23 23:51] AspirinSJL commented on #15457
It's strange that I can't see the "before checking call combiner size .." log for the data access that causes the race. All the "before" and "after" logs match in pairs.

[code]

[2018-05-23 23:57] yashykt commented on #15528
This seems very strange. It doesn't seem like a proxy related bug. It seems like it is treating the allocation logic as racy because both of those writes occur after allocating space from the heap.

I think there were talks on memory alignment for alloc calls. It'll be better to assign this to someone who worked on that.

As a side note - Why is it a P1 bug? Does it report this often?

[2018-05-23 23:59] ZhouyihaiDing commented on #15522
By outside of the container, which part do you mean need to be outside? Server or the client?

[2018-05-24 00:01] ZhouyihaiDing commented on #15522
Oh I get you. I will try to see if I can reproduce it.

[2018-05-24 00:02] matt-kwong commented on #15528
It's P1 because it _should_ be failing consistently since it's a sanitizer test, but it may not fail in all pull request tests because we sample tests in pull requests.

Feel free to reassign it to someone else if you think you aren't the right person.

[2018-05-24 00:10] gertcuykens commented on #15522
Once the server and the client each run in their own container and can communicate which each other by publishing their port you can be certain that does containers can be used in let say kubernetes. But right now for me on the php client container publishing a port is not enough?

[2018-05-24 00:34] jtattermusch commented on #15526
A more straighforward way to reproduce (still under docker)

[code]

[2018-05-24 00:37] jtattermusch commented on #15528
Local repro (under docker):
`tools/run_tests/run_tests.py -l c++ -c tsan -r YOUR_REGEX --compiler clang7.0 --use_docker`

[2018-05-24 00:43] ZhouyihaiDing commented on #15522
It sounds like the port issue to me. I am not familiar with docker. For the container with tag `PHP`, should you also publish the port `8080`? Can request from this container send out through `8080`?

I haven't try 2 containers yet. But within the same container, PHP client and golang server works fine, as well as the php with server mode:
`php -d extension=grpc.so -S 0.0.0.0:8081`
`
[code]

[2018-05-24 00:52] dontsovcmc commented on #15521
I solve the problem: -DgRPC_MSVC_STATIC_RUNTIME=ON

[2018-05-24 00:52] gertcuykens commented on #15522
Normally not, else you wouldn't be able to do for example get request from inside your app or container for example curl https://google.com

[2018-05-24 00:52] jtattermusch commented on #15063
for C#, boringssl is always embedded in grpc_csharp_ext library distributed with the NuGet packages.

[2018-05-24 01:04] #15368 closed

[2018-05-24 01:30] gertcuykens commented on #15522
Getting closer :)
[code]

[2018-05-24 01:36] gertcuykens commented on #15522
Alleluia its working! In the php file i needed to connect to host.docker.internal:8080 and start the php server as php -S 0.0.0.0:8081

[2018-05-24 01:50] yashykt commented on #12490
Seen again at #15527

[2018-05-24 01:54] yashykt commented on #15528
It doesn't fail locally atleast (using the docker image). Or, even if it did, it possibly fails very rarely. Also, it does not seem like a memory alignment issue.

[2018-05-24 02:59] linkagehzy commented on #6113
@YioMidd  you can set GRPC_ARG_MAX_CONNECTION_IDLE_MS at GRPCHost

[2018-05-24 06:12] AtosNicoS opened #15534 "1.12.0 compile error"
### System Information
* Grpc 1.12.0 (For C#)
* OS: ArchLinux x64
* python 3.6.5
* gcc 8.1.0

I compiled with the command line parameter:
[code]

The errors I get are the following:
[code]

I could "solve"/ignore the memset error by commenting out the line. I am extremely unsure if that does not cause errors. I was unable to solve the boringssl error yet.

[2018-05-24 06:20] apolcyn commented on #15534
This is a dupe of #15520, but I'll leave this open just since it's hitting a different compiler error.

Overall looks like it's running into <i>one</i> of the different errors compiler errors you get when trying use gcc-8, but it falls under the general category of grpc not compiling under gcc-8, which is addressed by https://github.com/grpc/grpc/pull/15532.

[2018-05-24 07:57] #15522 closed

[2018-05-24 08:44] im-sure commented on #15510
Have you resolved this problem?

[2018-05-24 09:38] xvzf commented on #12992
@mehrdada

It seems like it is not fixed completely - when using `tox` and installing `grpcio` with a `requirements.txt` looking like this:
[code]
it starts compiling it again!

[2018-05-24 11:40] BusyJay opened #15535 "Any reason to prefer the same completion queue for all requests from the same connection?"
From the sources here:
https://github.com/grpc/grpc/blob/f9035befc6c9b24f7111914d620102e58e80e94f/src/core/lib/surface/server.cc#L492-L505
grpc prefer take the same completion queue for all requests from the same connection until it's run out of slots, and then switch to other channel. Wouldn't it cause high load for just one completion queue when there are several busy streaming calls from the sa

[2018-05-24 16:15] ZhouyihaiDing commented on #12490
The error is thrown with
`Google\Auth\ApplicationDefaultCredentials::getCredentials('https://www.goo...')`, which is the library provided by [`Google\Auth`](https://github.com/google/google-auth-library-php/blob/master/src/ApplicationDefaultCredentials.php#L148). I don't think we can do something in the Grpc part.

[2018-05-24 16:52] nathanielmanistaatgoogle commented on #14425
@jiangtaoli2016: it looks like this is happening in [pull request 14879](https://github.com/grpc/grpc/pull/14879), which is currently blocked on a pretty big deal, and about which I hope to respond in the next day or two.

[2018-05-24 17:18] stanley-cheung commented on #12490
Let's figure out why though - is it because some machines don't have the credentials file stored correctly?

[2018-05-24 17:28] AspirinSJL commented on #15457
Fixed by #15536.

[2018-05-24 17:28] #15457 closed

[2018-05-24 17:40] matt-kwong commented on #15528
I don't see this failing on the master build either. Going to downgrade to P3 until we get more data to confirm this is a real issue.

[2018-05-24 17:44] nathanielmanistaatgoogle opened #15537 "Update documentation and tests to use grpc.Channel.close"
The sooner we update our own examples and tests to use `grpc.Channel.close`, the sooner we can non-hypocritically require that applications make use of it.

P1, since we'd like that to be sooner rather than later.

[2018-05-24 18:11] jackcbrown89 commented on #4027
Any updates on this? I get the exact same errors as @arnolddrita when I run in debug scheme. Release scheme builds fine.

[2018-05-24 19:03] muxi commented on #4027
Could you provide some info on how to reproduce? I looked into this issue but wasn't able to see it. Our tests seem to be running well too.

[2018-05-24 21:32] adelez commented on #15329
I accidentally let PR builds use the master build config. That was fixed a while back.

[2018-05-24 21:55] jtattermusch commented on #15526
Any progress here? This is kind of urgent as it is failing in 100% cases on master:
https://source.cloud.google.com/results/invocations/ac654960-4ecf-4c9f-a4d3-947ebacb3ef8/targets/github%2Fgrpc%2Fcpp_linux_asan_native_x64_clang7.0/tests

[2018-05-24 22:37] jtattermusch opened #15540 "TIMEOUT: build_docker_python in interop tests"
https://source.cloud.google.com/results/invocations/298b09ce-1d89-42af-8a7c-0b4fbf977604/log

This has been behind many of the failed interop test that failed recently. We can increase the timeout, but 30mins already seems to be pretty high.

[code]

[2018-05-24 22:38] jtattermusch commented on #15540
CC @mehrdada  @nathanielmanistaatgoogle

[2018-05-24 22:59] yashykt commented on #15528
From what I understand, this seems to be a false positive.

[2018-05-24 22:59] #15376 closed

[2018-05-24 23:03] jtattermusch opened #15542 "performance benchmark: some python scenarios keep failing: Exception iterating responses: 'module' object has no attribute 'add_BenchmarkServiceServicer_to_server'"
There's about 6 python scenarios that seem to be failing consistently:
The error message seems always the same
[code]

e.g.
https://source.cloud.google.com/results/invocations/72bbc4b1-2adc-4498-a4a4-1f3f1507e9f4/targets/github%2Fgrpc%2Freports%2F8core/tests;query=python

[2018-05-24 23:09] jtattermusch commented on #7000
I don't think anyone's going to work on this anytime soon. closing

[2018-05-24 23:09] #7000 closed

[2018-05-24 23:34] ZhouyihaiDing commented on #12490
Credentials file is supposed to be installed correctly because according the logs,
`cloud_to_prod_auth:php7:default:per_rpc_creds` and `cloud_to_prod_auth:php7:default:oauth2_auth_token` are passed, which means they all passed the line `Google\Auth\ApplicationDefaultCredentials::getCredentials('https://www.googleapis.com/auth/xapi.zoo');`.

I loop run `ApplicationDefaultCredentials::getCredentials

[2018-05-25 00:50] zhaohuang2016 commented on #15326
中国的朋友有解决了的吗?

[2018-05-25 00:51] zhaohuang2016 commented on #15326
中国的朋友有解决了的吗?能否帮忙说下解决法案

[2018-05-25 01:05] muxi commented on #15326
Fetch Cocoapods trunk and try again.

[2018-05-25 01:30] orishavit opened #15545 "Segfault when starting client without server"
### What version of gRPC and what language are you using?
 grpc-node 1.12.2 on NodeJS 6.14.2

### What operating system (Linux, Windows, …) and version?
Debian Linux 8.10 (I used the `node:6` docker image)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Node 6.14.2

### What did you do?
I used `node:6` docker image

1. Follow the tutorial at https://grpc.io/docs/

[2018-05-25 02:20] zhaohuang2016 commented on #15326
Cloning into '/var/folders/hp/3gx151ys17v8473j92dgsv_w0000gn/T/d20180525-1681-10v6gz9'...
fatal: unable to access 'https://boringssl.googlesource.com/boringssl/': Could not resolve host: boringssl.googlesource.com

[2018-05-25 02:31] zhaohuang2016 opened #15546 "When using the demo pod install error"
[!] Error installing BoringSSL
[!] /usr/bin/git clone https://boringssl.googlesource.com/boringssl /var/folders/hp/3gx151ys17v8473j92dgsv_w0000gn/T/d20180525-1681-10v6gz9 --template= --single-branch --depth 1 --branch version_for_cocoapods_9.0

Cloning into '/var/folders/hp/3gx151ys17v8473j92dgsv_w0000gn/T/d20180525-1681-10v6gz9'...
fatal: unable to access 'https://boringssl.googlesource.com/borin

[2018-05-25 03:19] ncteisen commented on #14257
I just did a revert of #3480 and #13315, but then the data race just occurred on this line: https://github.com/grpc/grpc/blob/515908ba3196d057a8465a146f667b9e6c2ad9f2/include/grpcpp/impl/codegen/proto_utils.h#L64

Might need to loop the protobuf team in about this, to see if it is ok to call these functions on the same proto object from multiple threads... It is a strange use case, but it makes se

[2018-05-25 03:32] ncteisen commented on #14257
Looks like we have also already seen this in #8174, and fixed it in #8188

[2018-05-25 03:40] ncteisen commented on #14257
Do the suppressions work differently in bazel? Because we have this suppressed here https://github.com/grpc/grpc/blob/515908ba3196d057a8465a146f667b9e6c2ad9f2/tools/tsan_suppressions.txt#L11

And it did not help to add it here https://github.com/grpc/grpc/blob/515908ba3196d057a8465a146f667b9e6c2ad9f2/build.yaml#L5482

[2018-05-25 10:32] im-sure commented on #15510
I solved it by using this command：
$ conda install grpcio
because I found that my anaconda hasn’t installed grpc ;)

[2018-05-25 17:12] adelez commented on #14257
Suppression is not applied to bazel builds. If it needs to be suppressed, I'll try it with bazel.

[2018-05-25 17:38] stevenyix commented on #7406
i was able to successfully create an archive after commenting out "#import "transformations/GRXMappingWriter.h" in gRPC-RxLibrary-umbrella.h

[2018-05-25 17:41] AspirinSJL commented on #15526
Seen again https://source.cloud.google.com/results/invocations/c1cef453-b40f-4aca-afaf-2e2aeaf2e7ac/targets/github%2Fgrpc%2Fcpp_linux_asan_native_x64_clang7.0/tests

[2018-05-25 17:46] AspirinSJL opened #15550 "Failed macos bins/opt/h2_compress_nosec_test retry_streaming"
c_macos_opt_native bins/opt/h2_compress_nosec_test retry_streaming GRPC_POLL_STRATEGY=poll

https://source.cloud.google.com/results/invocations/9f5db172-a441-4c1e-b4d6-8373c91f813c/targets/github%2Fgrpc%2Fc_macos_opt_native/tests

and an earlier instance:
https://source.cloud.google.com/results/invocations/6e6e5cb5-dd4c-4c0f-92d5-cb088e51fdf3/targets/github%2Fgrpc%2Fc_macos_dbg_native/tests

[code

[2018-05-25 17:57] kpayson64 commented on #15500
@jtattermusch
It looks like we've had 20 builds at master after #15523 without this failure.

Can we close this or lower the priority?

[2018-05-25 18:08] jackcbrown89 commented on #4027
Thanks for the speedy reply! After trying to reproduce the issue, I've found that it's probably just something with my configuration for my pods that are used in the debug scheme because I couldn't create the error in a new project. If I switch the debug scheme to use the release pods, the simulator runs fine, but I can't push it to a real device without the error occuring. Any ideas?

I'll delete

[2018-05-25 18:11] ncteisen commented on #15526
Your PR was not synced past the fixing commit in #15544

[2018-05-25 18:11] #15526 closed

[2018-05-25 18:15] adelez opened #15551 "Python 1.10.1 fails in backwards compatibility tests since 5/24 due to missing "py27_native/bin/python""
https://fusion.corp.google.com/runanalysis/test/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_matrix/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_matrix/KOKORO/83b04a28-6bbf-4600-a49a-b0101254ed99/1527162781716/prod%3Agrpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_matrix%20Build%20%2349/Target%20Transitions?target=github/grpc

Error says bash: py27_native/bin/python: No such file or direct

[2018-05-25 19:45] atecce commented on #1620
any updates on the cross-compilation for iOS?

[2018-05-25 19:55] nathanielmanistaatgoogle commented on #10745
Closing; I believe this is resolved as of 1.12.

[2018-05-25 19:55] #10745 closed

[2018-05-25 20:37] var-const opened #15555 "Out-of-bounds access in GPRCHost.m due to non-null-terminated strings"
### What version of gRPC and what language are you using?
Objective-C.

### What operating system (Linux, Windows, …) and version?
MacOS High Sierra 10.13.3

### What runtime / compiler are you using (e.g. python version or version of gcc)
XCode 9.2

### What did you do?
In [GRPCHost.m](https://github.com/grpc/grpc/blob/3001499c0f68efd1dc0d3ed02bbb1845a1eb7fba/src/objective-c/GRPCClient/private/GR

[2018-05-25 20:43] kpayson64 commented on #15545
I wasn't able to reproduce this bug, but from the stack trace I think I have a good idea what the issue is.

[2018-05-25 20:56] #15400 closed

[2018-05-25 20:59] muxi commented on #7406
Fix (#15531) merged and will be in next release.

[2018-05-25 20:59] #7406 closed

[2018-05-25 22:06] capone212 commented on #13181
No client does not have server root public key in advance.
TOFU works like like ssh-ing to random server in network. At first connect ssh client asks whether you trust this server with this key fingerprint, you have option to add that server to trusted and after that ssh client immune to man in the middle attacks.

Off course TOFU is not fully secure, security issue at first connect is obvious but

[2018-05-25 22:20] #15551 closed

[2018-05-25 22:32] mehrdada opened #15557 "Server assertion failed: pthread_mutex_lock(mu) == 0 (observed in various interop tests)"
C# Interop failure seen merging https://github.com/grpc/grpc/pull/15552

https://source.cloud.google.com/results/invocations/26f6b0ab-3228-4148-b0c8-037a63d115b4/targets/github%2Fgrpc/tests

Looks like happens on C# server side and many languages on the client side.

[2018-05-25 23:40] faizalkassamalisc commented on #6408
Follow instructions here to curl and unzip protobuf: https://gist.github.com/rvegas/e312cb81bbb0b22285bc6238216b709b

Then run pkg-config to check for protobuf and it doesn't work. Need a better way to check for protobuf such as using which or 'protobuf --version'

[2018-05-27 01:41] hubo1016 commented on #12531
@nathanielmanistaatgoogle
There may be an issue that after upgrading to grpc1.12.0, code that do not explicitly close the channel causes connection leak, makes this a break change. Maybe the new implementation creates reference loops and breaks the reference counting, so the connections may still be alive until GC collects them? I'm still tracing down this issue, but I would like to report.

[2018-05-27 03:26] jtattermusch commented on #15500
Not seen since 2018-05-23 10:11:35.000 UTC, that doesn't mean it's fixed, but we can change to P2.

[2018-05-27 16:47] jtattermusch commented on #14862
b/79399627

[2018-05-27 17:10] jtattermusch commented on #15433
not happening anymore.

[2018-05-27 17:10] #15433 closed

[2018-05-27 17:16] jtattermusch commented on #15557
Based on the logs, it looks like the server has died with an assertion which explains all the clients failing afterwards:
[code]

[2018-05-27 17:18] jtattermusch commented on #15557
The problem is most likely in C-core as in a different run, I saw the C++ interop server failing with the same assertion:
[code]
E0527 02:59:29.016894159      16 sync_posix.cc:47]           assertion failed: pthread_mutex_lock(mu) == 0
2018-05-26 20:08:44,670 FAILED: interop_server_c++ [ret=139, pid=5962, time=665.0sec]
[code]

[2018-05-27 21:09] jtattermusch commented on #15456
For the issue to be useful, it is important to know which docker images failed to build. Pasting the relevant part of the log:

[code]

[2018-05-27 21:12] jtattermusch commented on #15456
basically a dupe of https://github.com/grpc/grpc/issues/13379.

[2018-05-27 21:12] #15456 closed

[2018-05-27 23:46] AspirinSJL commented on #15456
I see. Thanks!

[2018-05-28 10:02] zhaohuang2016 commented on #15326
All used tools, the system, is the latest version.

[2018-05-28 10:08] zhaohuang2016 commented on #15326
Besides the cocopods scheme, do you have a manual configuration scheme? Could you please send me a copy by email? My email is zh_qqtech@163.com. Thank you.

[2018-05-28 16:10] vadimi commented on #14856
@jtattermusch yes, I have a simple repo with instructions in readme.md that reproduces the problem: https://github.com/vadimi/test-grpc

Basically the snippet is similar to this:
[code]
The repo also has some code to setup `SIGTERM` handling

[2018-05-28 17:38] nathanielmanistaatgoogle commented on #13117
@slide333333, @SVilgelm, @davidt99: any of you want to review [pull request 14557](https://github.com/grpc/grpc/pull/14557) which is intended to fulfill this issue?

[2018-05-28 18:37] davidt99 commented on #13117
@nathanielmanistaatgoogle, reviewed.

[2018-05-29 07:31] cetanu opened #15560 "Unable to generate code from protobuf files using python grpc tools"
### What version of gRPC and what language are you using?
none, I'm just trying to generate python code from protobuf files.

### What operating system (Linux, Windows, …) and version?
 osx

### What runtime / compiler are you using (e.g. python version or version of gcc)
 any version of python

### What did you do?
Tried to generate code from the following repository of protocol buffers:
https://

[2018-05-29 13:14] eraldinho commented on #15507
Hello, I had the same problem, I disabled my antivirus (kaspersky) and it ran like a charm. Hope it can help.

[2018-05-29 14:36] SVilgelm commented on #15560
Try with `--proto_path=.`. I cannot reproduce this error, but I can generate the code:
[code]

[2018-05-29 15:09] binbowang1987 opened #15561 "grpc accidentally triggered assert"
### What version of gRPC and what language are you using?
 language: c++
 version: 1.10.1

### What operating system (Linux, Windows, …) and version?
 Linux, CentOS 7

### What runtime / compiler are you using (e.g. python version or version of gcc)
compiler:  g++ 7.2.0

### What did you do?
I just do the grpc call once by once. accidentally, this issue arise.

### What did you see instead?
[code]

[2018-05-29 15:40] SVilgelm commented on #15560
I found. Please take a look carefully at this code: https://github.com/grpc/grpc/blob/master/tools/distrib/python/grpcio_tools/grpc_tools/protoc.py#L35

Looks like `protoc` uses a path from `sys.argv[0]`, so we need to provide `__file__`, also it includes a path to `grpc_tools` package.

Here is working code:
[code]

[2018-05-29 16:17] muxi commented on #15326
We do not have a manual configuration scheme unfortunately. It would be helpful if you can help me test a few things (since I am out of gfw):

* Change the [home page](https://github.com/grpc/grpc/blob/5d83bedb77d14a5d0240bc9f11c86c45704f30f6/src/objective-c/BoringSSL.podspec#L64) of this spec to `https://github.com/google/boringssl`
* Remove the line of [documentation_url](https://github.com/grpc

[2018-05-29 16:17] muxi commented on #15326
@lesterpang do you still have the same issue?

[2018-05-29 18:35] jtattermusch commented on #14614
@dgquintas  I have some initial git bisect signal (have yet to confirm to know for sure) that this flake was introduced by your PR https://github.com/grpc/grpc/pull/13494/.

[2018-05-29 19:36] iniside opened #15565 "support clang builds on Linux"
## What version of gRPC and what language are you using?

gRPC 1.12 C++

## What operating system (Linux, Windows, …) and version?

Ubuntu 18.04 (WSL)

## What runtime / compiler are you using (e.g. python version or version of gcc)

 Clang 5.0

## What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

[code]

### What di

[2018-05-29 19:57] jtattermusch commented on #15542
@mehrdada   can you take a look at https://github.com/grpc/grpc/blob/aba91966c0608268c757bc3fcedce039cc8f1a52/src/python/grpcio_tests/tests/qps/worker_server.py#L75?

[2018-05-29 20:01] jtattermusch commented on #15542
Reassigning to @kpayson64 who is the author of the PR that likely broke this.

[2018-05-29 20:33] jtattermusch commented on #14614
When running locally,
the commit https://github.com/grpc/grpc/commit/590099c46f4edea1c9673b94f735b5326f2dd617 seems to be introducing these races:
[code]

I also get an occasional failure on the previous commit, but it's much less common it seems.
[code]

[2018-05-29 21:00] mehrdada commented on #15191
@theacodes I'm actively working on this.

[2018-05-29 21:04] jtattermusch commented on #14614
I'm using `./tools/run_tests/run_tests.py -l c++ -c tsan -r PickFirstBackOffInitialReconnect -n 1000 -a 10 --use_docker`  and `./tools/run_tests/run_tests.py -l c++ -c tsan -r PickFirstBackOffInitialReconnect -n 1000 -a 10 --use_docker --compiler clang7.0` (on master) to repro

[2018-05-29 21:09] theacodes commented on #15191
Awesome, thanks! :)

On Tue, May 29, 2018 at 2:00 PM Mehrdad Afshari <notifications@github.com>
wrote:

[2018-05-29 21:36] nicolasnoble commented on #15565
This says this is missing `limits.h`, which is a fairly common header. We definitely do support compiling using clang, especially for our *san builds. This seems to be rather a libc++ issue, where the compiler is failing to find the path for it.

[2018-05-30 00:28] dgquintas commented on #14614
I've spent the day looking into this, together with @yashykt and @kpayson64 . There seems to be an issue with the say the tcp server is shutdown (see traces with extra logging [here](https://gist.github.com/dgquintas/f9d305854433065b5e7633f89fc962ad)). In particular, new readable events may arrive on the server's FD after the server is in the process of being destroyed, causing an invalid ref() ca

[2018-05-30 05:41] hicqu opened #15571 "grpc eats too much memory when receiving large objects with client streaming"
[xyz.zip](https://github.com/grpc/grpc/files/2052821/xyz.zip)

### What version of gRPC and what language are you using?
 gRPC 1.7.2. Langurage is Rust and the binding is [grpcio](https://github.com/pingcap/grpc-rs).
And rust version: nightly-2018-04-06-x86_64-unknown-linux-gnu.

### What operating system (Linux, Windows, …) and version?
 Linux, CentOS 7 with kernel 3.10.0-514.el7.x86_64.

### Wha

[2018-05-30 08:28] jtattermusch commented on #15029
I also cannot reproduce, seems that this has only happened on master once:
2018-04-06 18:34:20.000 UTC  https://source.cloud.google.com/results/invocations/d6569d95-9ea5-4836-b985-ea2e99b22fb1

[2018-05-30 08:28] jtattermusch commented on #15029
Let's reopen if we see this again.

[2018-05-30 08:28] #15029 closed

[2018-05-30 08:34] jtattermusch commented on #14257
to update on what was discussed offline: looks like we are setting  tsan_suppressions.txt   here: https://github.com/grpc/grpc/blob/3fd27cea762fef9d860dd9b0dd4b183ffb1dd245/tools/bazel.rc#L35

we need to investigate if/why that setting are not honored by remote bazel runs.

[2018-05-30 08:39] jtattermusch commented on #14509
No useful info here, closing.

[2018-05-30 08:39] #14509 closed

[2018-05-30 10:56] teo commented on #14844
I can reproduce this issue on CentOS 7 when passing a prefix path to `make install`.
[code]
[code]

[2018-05-30 11:02] victoryang opened #15572 "grpc/cross-compile/arm/static link: libares.a and libgrpc++.a generated as a x86_64 package"
### What version of gRPC and what language are you using?
 latest version

### What operating system (Linux, Windows, …) and version?
 Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include cod

[2018-05-30 11:06] victoryang commented on #15572
To compile grpc, I followed  AngryLemonn suggested on page https://github.com/grpc/grpc/issues/9719#issuecomment-352842244

make HAS_PKG_CONFIG=false \
CC=arm-linux-gnueabihf-gcc \
CXX=arm-linux-gnueabihf-g++ \
RANLIB=arm-linux-gnueabihf-ranlib \
LD=arm-linux-gnueabihf-ld \
LDXX=arm-linux-gnueabihf-g++ \
AR=arm-linux-gnueabihf-ar \
PROTOBUF_CONFIG_OPTS="--host=arm-linux-gnueabihf --with-protoc=/us

[2018-05-30 12:08] arajeeva opened #15573 "GRPC 1.12.0 arm compiler issues"
### What version of gRPC and what language are you using?
 1.12.0

### What operating system (Linux, Windows, …) and version?
 Linux (Ubuntu 14.04)

### What runtime / compiler are you using (e.g. python version or version of gcc)
LD=/tandberg/system/toolchain/arm-a9neon_linux_4.1x-linux-gnueabihf/bin/arm-a9neon_linux_4.1x-linux-gnueabihf-g++ LDXX=/tandberg/system/toolchain/arm-a9neon_linux_4.1x-l

[2018-05-30 12:36] frxstrem opened #15574 "Empty service generates invalid C# code"
### What version of gRPC and what language are you using?
gRPC 1.12.0, C#

### What operating system (Linux, Windows, …) and version?
MacOS High Sierra 10.13.4

### What runtime / compiler are you using (e.g. python version or version of gcc)

### What did you do?
Tried to generate grpc C# code for an empty service:

[code]

### What did you expect to see?
Generated that compiled cleanly.

### Wha

[2018-05-30 14:13] markdroth opened #15575 "show objc test failures individually"
Currently, when one or more objc tests fail, we get a single output file that one has to manually look through to figure out what failed.  For example:

https://source.cloud.google.com/results/invocations/795edf14-cbcd-4de6-84a7-d070f207a721/targets/github%2Fgrpc%2Fobjc_macos_dbg_native/tests

@muxi tells me that the actual failures in this case are these:

[code]

[code]

[code]

For the C tests,

[2018-05-30 16:19] AspirinSJL commented on #14549
We will talk about this offline today.

[2018-05-30 17:02] eugeny-stoyka opened #15576 "Build error on make project"
### **What version of gRPC and what language are you using?**
latest version

### **What operating system (Linux, Windows, …) and version?**
Archlinux last version

### **What runtime / compiler are you using (e.g. python version or version of gcc)**
gcc 8.1.0

### **What did you do?**
I run **make** command from root of the project directory

### **What did you see instead?**
[code]

I think it's

[2018-05-30 17:22] apolcyn commented on #15576
I believe `-Werror=class-memaccess` was included in gcc-8 as a part of `-Wall`.... https://github.com/grpc/grpc/pull/15532 is a WIP PR that should fix this error

[2018-05-30 18:00] ncteisen commented on #15571
Can you give more information about where the mem is being held? If it is in core, then we will look into  it.

if it is the Rust layer, then that is outside our area of support

[2018-05-30 18:05] ncteisen commented on #15561
Do you have a simple reproduction case?

[2018-05-30 18:08] ncteisen commented on #15546
does the usual installation mechanism work for you?

https://github.com/grpc/grpc/blob/master/INSTALL.md

[2018-05-30 18:26] ncteisen commented on #15535
This was introduced as an optimization in #6612

Do you have a C++ or core repro that demonstrated this load imbalance?

[2018-05-30 18:43] ncteisen commented on #15474
Closing as duplicate

[2018-05-30 18:43] #15474 closed

[2018-05-30 18:47] ncteisen commented on #15430
Can you create a simple repro case?

[2018-05-30 19:27] JackOfMostTrades opened #15579 "gRPC core logs superfluous, unsuppressible "Could not get common name of subject from certificate." messages"
When connecting to a server presenting an x509 certificate with SANs but without a subject, or with a subject containing no common name, gRPC writes [log](https://github.com/grpc/grpc/blob/master/src/core/tsi/ssl_transport_security.cc#L263) [lines](https://github.com/grpc/grpc/blob/master/src/core/tsi/ssl_transport_security.cc#L269) complaining about this. However, the code calling `ssl_get_x509_c

[2018-05-30 19:46] davidmarin commented on #4221
grpcio 1.10.0 at least compiled with PyPy. grpcio 1.11.0 and 1.12.0 don't do that even. See https://travis-ci.org/davidmarin/mrjob/jobs/385849525

[2018-05-30 21:22] kpayson64 commented on #15545
This will be fixed in the next release by #15556

[2018-05-30 21:22] #15545 closed

[2018-05-30 21:55] kpayson64 commented on #15071
@yaalaa
Using ```arch_002.zip``` I was able to run your example (substituting my own datastore project) without issue.

I'm closing this issue as I think it has been resolved.

[2018-05-30 22:35] #14055 closed

[2018-05-31 00:08] yaalaa commented on #15071
I guess it doesn't.
At least it doesn't work to me. Even v1.12.0.
Anyway `gunicorn` worker gets frozen.

Aren't you too fast in closing issue which has been stalled for 1.5m?
I've seen no help yet.
You _hello world_ work, mine doesn't.
It's good opportunity to close most of the issues.
Pity musings.

[2018-05-31 00:45] zhaohuang2016 commented on #15546
I've tried it many times from the documentation, and it's when 'pod install' goes wrong.
I'm using objective-c.The following is the terminal integrity error.

zhaohuangdeMac-mini:~ zhaohuang$ cd /Users/zhaohuang/grpc/examples/objective-c/helloworld
zhaohuangdeMac-mini:helloworld zhaohuang$ pod install
Analyzing dependencies
Fetching podspec for `HelloWorld` from `.`
Downloading dependencies
Instal

[2018-05-31 02:15] zhaohuang2016 commented on #15326
I tried it according to what you said, the terminal display is normal.Thank you for the plan.

Downloading dependencies
Installing !ProtoCompiler (3.5.0)
Installing !ProtoCompiler-gRPCPlugin (1.13.0-dev)
Installing BoringSSL (10.0.4)
Installing Protobuf (3.5.2)
Installing RemoteTest (0.0.1)

So how does the demo modify this configuration?(examples/objective-c/helloworld).
'pod install' does not re

[2018-05-31 02:19] zhaohuang2016 commented on #15546
How can I change 'https://boringssl.googlesource.com/boringssl/' to 'https://github.com/google/boringssl/'. 'https://github.com/google/boringssl/' this address can normal 'pod install.' Thanks!

[2018-05-31 02:19] dontsovcmc commented on #11768
It's better to describe what libraries GRPC needs under windows and Linux! I also see, that under linux it wants cares library. It's not the same as windows.

[2018-05-31 02:59] nicolasnoble commented on #15546
Duplicate of #15326 - answers and discussions are there.

[2018-05-31 02:59] #15546 closed

[2018-05-31 03:02] okaymaged commented on #15031
This is not ideal as it requires the proxy server to connect with all grpc servers for it to know which methods it can expose. Is there a solution that relies only on the compiled service protobufs?

[2018-05-31 03:38] victoryang commented on #15572
I can successfully build correct *.o in directory third-party/cares/cares/ from source code

It needs to be configured with --host=arm-linux && CC=arm-linux-gnueabihf-gcc first xxxxxx , which should be done as same as protobuf

Is that because of lacking of "configure" and "make" procedures for cares in Makefile from grpc, that we fail to build a arm static library?

Thanks

[2018-05-31 03:40] NoAnyLove commented on #14876
Would like to have real async support in gRPC Python, instead of just a wrapper around ThreadPoolExecutor. Any plan on this?

[2018-05-31 03:40] nicolasnoble commented on #15031
Unfortunately, you'd need to write your own protoc plugin for this.

[2018-05-31 03:58] NivedhaSenthil opened #15581 "Segmentation fault (core dumped) in grpc_core::ExecCtx::Get ()"
### What version of gRPC and what language are you using?
grpcio - 1.12.0
protobuf - 3.5.2.post1
python - 2.7.15

### What operating system (Linux, Windows, …) and version?
Ubuntu - 18.04

### What did you do?
Tried running an instance of application  that uses grpc when there was another process running the same app.

### What did you expect to see?
 Both the processes to run seamlessly.

### Wha

[2018-05-31 06:13] jtattermusch opened #15582 "macos/grpc_basictests_opt: src/php/bin/run_tests.sh flaky"
Saw 2 timeouts and 1 failure recently on master:

https://source.cloud.google.com/results/invocations/896e4788-1052-4f2e-9e17-a9839aad33ed/targets/github%2Fgrpc%2Fphp_macos_opt_native/tests
https://source.cloud.google.com/results/invocations/6e8ce23f-2cb0-4442-93b6-12a1c5ac8f04/targets/github%2Fgrpc%2Fphp_macos_opt_native/tests
https://source.cloud.google.com/results/invocations/e5561538-9967-4144

[2018-05-31 06:47] jtattermusch commented on #15574
Thanks for reporting! fix is here #15583

[2018-05-31 08:14] bidekani commented on #4517
`pecl install grpc-beta`  is not working for me.

`downloading grpc-1.12.0.tgz ...
Starting to download grpc-1.12.0.tgz (2,459,288 bytes)
.............done: 2,459,288 bytes
1155 source files, building
WARNING: php_bin c:\php\php-cgi.exe appears to have a suffix -cgi.exe, but confi
g variable php_suffix does not match
ERROR: The DSP grpc.dsp does not exist.`

I am using windows 7 and PHP 5.6.

[2018-05-31 09:58] ttencate commented on #15259
Confirmed from my end; the warning is gone starting from `80f9c2a00b`.

[2018-05-31 10:30] jtattermusch commented on #11768
@varshanbp  looks like the initial bug is for crosscompilation with make. I'd suggest using `cmake` instead, because it has much better support for crosscompilation.

[2018-05-31 10:31] #15259 closed

[2018-05-31 10:36] dontsovcmc commented on #11768
I build with cmake. GRPC build successfully, but my project got same error when linking... I add zlib.a, libcares.a it doesn't help)

[2018-05-31 10:37] thedrow commented on #4221
I am able to install grpcio 1.1.12 both on PyPy2.7 6.0.0 GA and on PyPy3.5 6.0.0 GA.
This test case I provided in https://bitbucket.org/pypy/pypy/issues/2637/cannot-create-a-grpc-server-with-pypy:
[code]
runs without errors.
I do not use gRPC so I can't testify if it will work for all cases but it's a good start.

@nathanielmanistaatgoogle @murgatroid99 We can install PyPy 6.0.0 and run the tests

[2018-05-31 10:45] jtattermusch commented on #14862
After fixing the php_generator build issue (fixed by https://github.com/google/protobuf/pull/4697/files),
only a few more items are now failing - I think the reason it that we're not enabling C++11 extensions.

[2018-05-31 10:57] jtattermusch opened #15584 "If .proto file doesn't contain specify "package", csharp_generator generates invalid code."
e.g. here (the namespace name is missing)
[code]

[2018-05-31 11:12] dontsovcmc commented on #15054
First of all, check OpenSSL library.
, '-DgRPC_SSL_PROVIDER:STRING=package' - if you have your own OpenSSL
+ , '-DOPENSSL_ROOT_DIR:PATH=' + env
if not GRPC built with BoringSSL in third_party folder.

you should add include path to your project & link to SSL library using in compiling (own or third_party)

[2018-05-31 11:31] binbowang1987 commented on #15561
I've tried to reproduce this issue, but it not arise.

[2018-05-31 12:14] BusyJay commented on #15535
In following bench scenario, you can see only two threads are 99%, but other threads keep calm. Change the queue selection method to random can wake up all threads but qps drops a little bit though.
[code]

[2018-05-31 12:15] #15521 closed

[2018-05-31 13:40] dontsovcmc opened #15587 "GRPC needs both static & shared ZLIB (Linux)?!"
gRPC 1.12.0
Ubuntu 14.04
GCC 4.9.4

### My own environment:
zlib-1.2.11  (cmake, GCC 4.9.4)
result: zlib.a

protobuf 3.5.1 (cmake, GCC 4.9.4)
result: libprotobufd.a, libprotocd.a, protoc

openssl-1.0.2k (build script, system GCC 4.**8**.4)
result: some files

Build GRPC also successfully (cmake, GCC 4.9.4):
[code]

### Build my project failed
[code]
I link with this libraries:
[code]

[code]

###

[2018-05-31 14:31] anubhab07 commented on #15507
Disabling Kaspersky worked for me,
Thanks eraldinho

[2018-05-31 14:49] dontsovcmc commented on #15587
using libz.so and -DCARES_SHARED=ON (+linking with .so file) solve the problem.
Can you describe what I do wrong?

[2018-05-31 16:35] muxi commented on #15326
OK I'll update the podspec accordingly. Thanks for confirming that. This will be published with next gRPC release (1.13.0).

[2018-05-31 16:36] ZhouyihaiDing commented on #15582
They are all macos tests. Can you please tell me where I can see if this flaky happens in linux tests recently?

[2018-05-31 16:38] jtattermusch opened #15588 "grpc_ssl_client_certificate_request_type doc comments are not very understandable"
I'm  trying to add C# support for `grpc_ssl_client_certificate_request_type` options, but I'm struggling to understand the actual meaning of the `grpc_ssl_client_certificate_request_type` enum values. Can we improve them? Having a good understanding of these enums is critical as we cannot afford misunderstandings when it comes to security.

https://github.com/grpc/grpc/blob/614331a50682c74fa8c02dc

[2018-05-31 16:39] jtattermusch commented on #15588
@deepaklukose @jboeuf @jiangtaoli2016  can you help?

[2018-05-31 16:40] jtattermusch commented on #15588
FTR the options have been added in https://github.com/grpc/grpc/pull/5958

[2018-05-31 16:45] jtattermusch commented on #15557
So far I have trouble reproducing this locally.

[2018-05-31 16:57] ZhouyihaiDing commented on #15582
Thanks! It happens on both linux and macos tests.

[2018-05-31 17:04] eugeny-stoyka commented on #15576
Do you know when it will be fixed? in a week or more?

[2018-05-31 17:33] ZhouyihaiDing opened #15589 "performance tests: build_performance.sh failed"
https://source.cloud.google.com/results/invocations/8391d24e-85a2-4526-b609-235ad53bf485/targets
[code]

[2018-05-31 19:10] stanley-cheung commented on #4517
The grpc extension was not supported on Windows and PHP 5.6 unfortunately. Only PHP 7.0+ on Windows

[2018-05-31 20:50] wjywbs commented on #12295
grpc go client re-resolves DNS every 30 minutes. Could c++ client do the same, so we can configure the interval?

https://github.com/grpc/grpc-go/blob/master/resolver/dns/dns_resolver.go#L46

[2018-05-31 21:05] iniside commented on #15565
Somehow using older version of Ubuntu, solved issues.

Thanks :)..

[2018-05-31 21:05] #15565 closed

[2018-05-31 21:10] bidekani commented on #4517
tried Php 7.0.18 with windows 7 the same error .

[2018-05-31 21:12] iniside opened #15591 "support custom Open SSL library for builds"
### What version of gRPC and what language are you using?

1.12

### What operating system (Linux, Windows, …) and version?

 Ubuntu 16.04 (WSL)

### What runtime / compiler are you using (e.g. python version or version of gcc)

 clang 5.0

### What did you do?

`ccmake -DOPENSSL_CRYPTO_LIBRARY=/mnt/d/OpenSSL/1_0_2h/lib/Linux/x86_64-unknown-linux-gnu -DOPENSSL_INCLUDE_DIR=/mnt/d/OpenSSL/1_0_2h/inc

[2018-05-31 22:07] dontsovcmc commented on #15591
I build with CMAKE and my own OpenSSL:
-DgRPC_SSL_PROVIDER:STRING=package   - this tells don't use BoringSSL
-DOPENSSL_ROOT_DIR:PATH=${path with /bin /include /lib folders} - this tells CMake where find OpenSSL (find_library(...))

[2018-05-31 23:54] ZhouyihaiDing commented on #15582
I can only reproduce the TIMEOUT, which I think is the same cause for the issue #14165, and supposed to be solved by #15594.
The cause is all php tests are run in one process, and some tests uses `localhost:0` to create connections with random port. The problem is:
- Some tests forget to destroy the server by `grpc_server_destroy` after the test, which leaves the connection remain `ESTABLISHED`.
-

[2018-06-01 00:15] kpayson64 commented on #15071
I apologize for closing this out prematurely, it wasn't clear to me that this was still an issue.

I'm now convinced that this is a real issue, and have created a PR to fix it.

[2018-06-01 01:11] stanley-cheung commented on #4517
For Windows, you can download a precompiled .dll of the gRPC extension from here: https://pecl.php.net/package/gRPC/1.12.0/windows This should work for 7.0.18

[2018-06-01 01:13] #14614 closed

[2018-06-01 01:45] zhaohuang2016 commented on #15326
Thank you for your help. Thank you very much.

[2018-06-01 04:01] zhaohuang2016 commented on #15546
Thanks

[2018-06-01 07:27] #15574 closed

[2018-06-01 08:37] MoXi2017 opened #15598 "node-static_codegen --grpc_out"
like examples:https://github.com/grpc/grpc/tree/master/examples/node/static_codegen
I running `npm install -g grpc-tools` in WebStorm Terminal  in Windows7

then running

[code]

I find it print error if add `--grpc_out`, remove it can generate `Student_pb.js`
I Modify the `protoc.js` in `C:/Users/user/AppData/Roaming/npm/node_modules/grpc-tools/bin` for print some infomation

infomation:

[code]

[2018-06-01 09:19] jtattermusch opened #15599 "Various test flakes on MacOS"
These have been going on for for a while across a bunch of test cases (10-20?) and they seem to have a similar root cause. They are relatively rare, but because they happen on multiple test cases, they end up failing a fairly large percentage of builds on macos master.

Some key facts:
- we don't know if this is about the infrastructure (overloaded mac workers?) or an actual problem in our code
-

[2018-06-01 09:19] victoryang commented on #15572
I've figured out why those are generated as x86_64 packages,

Before I run `make`, running `make plugins` with gcc compiler, which will prevent the following `make` command to generate correct packages for me.

Thanks

[2018-06-01 09:19] jtattermusch commented on #15599
CC @matt-kwong  @dgquintas @nicolasnoble

[2018-06-01 09:36] shotahino commented on #10062
@aakarshit-batchu  @jimthematrix
What about a certificate does not have `CN` but it has `SAN` set?
Can I use `SAN` and pass it to `grpc.ssl_target_name_override` ?

[2018-06-01 09:45] hicqu commented on #15571
I do the test again with grpc-1.10 The server side eats 100M momory now. So it could be closed.

[2018-06-01 09:45] #15571 closed

[2018-06-01 10:01] jtattermusch commented on #15599
Looking at the failure history, I've found the approximate time when these sort of failures started (it's only approximate because tests are flaky)

for dbg C builds:
https://source.cloud.google.com/results/invocations/f91b9e5a-c9ad-460f-a231-0b50498162c8 at   2018-04-13 01:21:23.000 UTC  (git commit 6d3e7f7cd4ea286ab6b22c9f3da44839fa4357e3)

for opt C builds:
https://source.cloud.google.com/resul

[2018-06-01 10:37] jtattermusch opened #15600 "All MacOS builds broken "Previous version of google-api-python-client detected""
https://source.cloud.google.com/results/invocations/caae4b6b-6625-4492-b1e7-6092d0fb9a53/log

[code]

[2018-06-01 10:37] jtattermusch commented on #15600
CC @dgquintas  @adelez

[2018-06-01 10:50] jtattermusch commented on #15600
looks like google-api-python-client 1.7.0  was released 11 hours ago, which seems to coincide with the breakage
https://pypi.org/project/google-api-python-client/#history

[2018-06-01 11:01] jtattermusch commented on #15600
filed https://github.com/google/google-api-python-client/issues/516

[2018-06-01 11:09] mojinxun opened #15603 "CPU High grpc-csharp"
### What version of gRPC and what language are you using?

CSharp

### What operating system (Linux, Windows, …) and version?

Linux / Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

dotnetcore2.0 / Framework 4.7

### What did you do?

Just request, Server / Client may make cpu higher

### What did you expect to see?

I want get a solution

### What did

[2018-06-01 11:11] jtattermusch commented on #15599
I will try to see if there are any changes that could have caused this in (breakage introduced - 14days):
 https://github.com/grpc/grpc/compare/3fd682961a24c9b92c68a058f1949592cc5aacb9...6d3e7f7cd4ea286ab6b22c9f3da44839fa4357e3.

Also, we can try to see if there were are any kokoro-related macos changes in that period of time.

[2018-06-01 11:22] arajeeva opened #15604 "C++ GRPC with protobuf-lite enabled compiles with codegen errors"
### What version of gRPC and what language are you using?
 GRPC 1.10.1, C++

### What operating system (Linux, Windows, …) and version?
 Ubuntu 14.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc (GCC) 6.4.1 20170727

### What did you do?
Used libprotobuf-lite after cross-compiling GRPC with protobuf-lite enabled (using GRPC_USE_PROTO_LITE = yes)

### What

[2018-06-01 14:08] cypressious opened #15605 "C#: Running in Alpine Linux docker container fails with System.IO.IOException: Error loading native library "/app/runtimes/linux/native/libgrpc_csharp_ext.x64.so""
### What version of gRPC and what language are you using?

C#, 1.12.0

### What operating system (Linux, Windows, …) and version?

Docker, Alpine Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

.NET Core 2.1

### What did you do?

Created a ASP.NET Core 2.1 project and Dockerfile using an Alpine Linux base image.

[code]

See https://github.com/cypressious

[2018-06-01 14:27] jtattermusch commented on #13727
@yashykt   thanks for the insights. What's the best way to investigate further or verify the theories you've presented?

[2018-06-01 14:30] jtattermusch commented on #15600
Temporarily fixed by #15602.

[2018-06-01 14:30] #15600 closed

[2018-06-01 15:13] mehrdada commented on #15191
@theacodes I have been struggling to build and install Python3.7 via `py-env` (error about SSL library). Do you happen to know about this issue or whether a resolution is imminent or do we have to change our build script to rely on some other means to install Python?

[2018-06-01 17:27] theacodes commented on #15191
@mehrdada can you send over which error you're seeing?

[2018-06-01 17:59] nicolasnoble commented on #15598
Here's an example of how this can work under Windows:

![image](https://user-images.githubusercontent.com/7281574/40855929-d85a6bbe-658a-11e8-93b9-b74b03ac5258.png)

[2018-06-01 18:16] mehrdada commented on #15191
@theacodes upgrading the docker image to Debian 9 made it work. I'll have to wait and see if there are any unintended side effects to our infrastructure.

[2018-06-01 18:21] dmccaffery commented on #15605
Just hit the same issue, same error, same stack trace... :feelsgood:

[2018-06-01 18:36] llchan opened #15609 "Bazel warnings when using gRPC v1.12.0"
### What version of gRPC and what language are you using?
v1.12.0 (language is C++, but I think that's irrelevant here)

### What operating system (Linux, Windows, …) and version?
Linux (RHEL7)

### What runtime / compiler are you using (e.g. python version or version of gcc)
Bazel v0.13.0 (compiler is gcc, but I think that's irrelevant here)

### What did you do?
Use gRPC v1.12.0 via bazel

### W

[2018-06-01 18:39] adelez commented on #13613
@jtattermusch , I'm afraid not since there are more instances of this bug.

[2018-06-01 18:41] adelez commented on #13613
It seems the error has changed to
https://source.cloud.google.com/results/invocations/fb344df5-4b54-4a05-ace3-6e78351198ab/targets/%2F%2Ftest%2Fcore%2Fiomgr:tcp_server_posix_test@poller%3Depoll1/log

D0601 15:44:39.537852159      18 test_config.cc:391]         test slowdown factor: sanitizer=1, fixture=1, poller=1, total=1
E0601 15:44:39.542083829      18 tcp_server_posix_test.cc:373] Failed to co

[2018-06-01 18:42] adelez commented on #13613
Actually I'll file a new bug and close this one.

[2018-06-01 18:42] #13613 closed

[2018-06-01 18:43] adelez opened #15610 "Re-enable bazel test: //test/core/iomgr:tcp_server_posix_test: (disabled because of "unable to configure socket")"
https://source.cloud.google.com/results/invocations/fb344df5-4b54-4a05-ace3-6e78351198ab/targets/%2F%2Ftest%2Fcore%2Fiomgr:tcp_server_posix_test@poller%3Depoll1/log

[code]

[2018-06-01 18:44] vadimi commented on #15605
It worked for me when I installed `libc6-compat`:

`RUN apk update && apk add libc6-compat`

[2018-06-01 18:47] matt-kwong commented on #15589
I don't see this happening anymore, and I see PHP data is being generated on the dashboard. Can you verify if this is fixed?

[2018-06-01 19:33] adelez commented on #14730
https://source.cloud.google.com/results/invocations/2709f51a-2eac-4563-94a7-a7cfebebd11c/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_census_test@server_finishes_request@poller%3Depollsig/log

[2018-06-01 19:38] adelez commented on #15201
It happened again to grpclb_end2end_test with opt build: https://source.cloud.google.com/results/invocations/2709f51a-2eac-4563-94a7-a7cfebebd11c/targets/%2F%2Ftest%2Fcpp%2Fend2end:grpclb_end2end_test@poller%3Dpoll-cv/tests

[2018-06-01 19:40] adelez commented on #15610
Seems to happen quite often.

[2018-06-01 19:45] adelez opened #15611 "Bazel test failure: Lots of h2_oauth2_tests fail under msan"
One example: https://source.cloud.google.com/results/invocations/b4505ae7-d0d0-4a97-8f1a-f43c8cefb193/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_oauth2_test@bad_ping@poller%3Depoll1/log

Here you can see a list of failing h2_oauth2_tests: https://source.cloud.google.com/results/invocations/b4505ae7-d0d0-4a97-8f1a-f43c8cefb193/targets

[2018-06-01 19:50] adelez commented on #15611
Same with h2_ssl_proxy_test, h2_ssl_session_reuse_test, h2_ssl_test.

[2018-06-01 19:58] nicolasnoble commented on #15609
CC @dgquintas

[2018-06-01 20:16] ZhouyihaiDing commented on #15589
Thanks!
The data is generated.

[2018-06-01 20:16] #15589 closed

[2018-06-01 20:33] jiangtaoli2016 commented on #15611
@adelez when do you start noticing such failure?

[2018-06-01 20:47] jiangtaoli2016 commented on #15611
According to @davidben, we need to turn **off** assembly when building msan.

[2018-06-01 20:56] davidben commented on #15611
MSan works by instrumenting all memory accesses, notably writes, so it knows when memory is initialized. If you call into uninstrumented code to initialize something, MSan doesn't know it ever was initialized. That's why MSan requires that *all* dependencies be built with MSan.

BoringSSL includes a lot of assembly functions. Those are, of course, not compiled and thus MSan cannot instrument them.

[2018-06-01 21:12] fardog opened #15615 "Segmentation Fault when running gevent-patched GRPC"
### What version of gRPC and what language are you using?
GRPC 1.12.0

### What operating system (Linux, Windows, …) and version?

Linux (Arch Linux x86_64)
output of `uname -a`
[code]
However this issue was reproduced on a debian-based container running on a Google Compute instance also, so is not specific to this OS (but may be to 64-bit linux).

### What runtime / compiler are you using (e.g. p

[2018-06-01 21:26] mehrdada opened #15616 "`concurrent_connectivity_test` failure in Basic Tests C Linux"
`concurrent_connectivity_test` failure in Basic Tests C https://source.cloud.google.com/results/invocations/22cb4059-6f1a-4de1-9b97-279083f28201/log

Seen on https://github.com/grpc/grpc/pull/15608

[2018-06-01 23:08] matt-kwong commented on #15610
The last time this passed on master was in https://source.cloud.google.com/results/invocations/27319652-2a5e-490d-bc76-fa9ddadcdbba/targets. The subsequent master build that failed was https://source.cloud.google.com/results/invocations/a1a2d544-a38c-4b8e-bb63-d261685ab674/targets, but there wasn't anything merged between these two runs.

[2018-06-01 23:13] adelez commented on #15610
I'm checking with the Foundry team to see if this has to do with the rollout of port isolation.

[2018-06-01 23:37] adelez commented on #15611
Hi Jiangtao, I just got MSAN to work with bazel/Foundry today and found these failures. So it may have always been there. With bazel and Foundry, we use the latest Clang, which can catch new failures that older version didn't.

[2018-06-02 00:01] maxw commented on #15472
I'm on a different computer this week. I did this in a fresh grpc repo and it worked fine... Going to debug more when I get back on my other computer.

[2018-06-02 00:14] adelez commented on #15610
I don't think this is related to Foundry. I can reproduce with running a local bazel test.

[2018-06-02 00:16] adelez commented on #15610
@dgquintas , assigning to you for triaging.

[2018-06-02 00:55] #15472 closed

[2018-06-02 01:23] hexinw opened #15620 "grpc.server() immediately after gevent.subprocess.Popen not working"
Hi,

I am using python gevent with grpc, with grpc release v1.11.0. This is the release that fixed grpc/gevent compatibility issue, #4629. I am seeing a problem that if I call grpc.Server() immediately after I create a gevent thread to do subprocess.Popen, grpc server doesn't seem to function correctly. Meaning "python greeter_client.py" would stuck without seeing response from grpc server. "netst

[2018-06-02 01:40] jiangtaoli2016 commented on #15611
@nicolasnoble Can you help to set the correct msan bazel build rule?

[2018-06-02 02:58] AspirinSJL opened #15621 "bazel test failure: //test/core/iomgr:tcp_server_posix_test"
I believe this is not a new failure, because I see some merged PRs have this failure. But I can't find any record of this failure either in our GitHub issues or the BigQuery result. I also can't reproduce it on my workstation...

Assigning to @jtattermusch for verification.

https://source.cloud.google.com/results/invocations/78057180-8d09-4e0d-9103-9b41c8195e84/targets/%2F%2Ftest%2Fcore%2Fiomgr:t

[2018-06-02 09:05] 893949088 opened #15622 "why the 'repeated' type is readonly ? C#"

[2018-06-02 11:56] wanton7 opened #15623 "C# client throws StatusCode=Unknown Detail="Stream removed""
### What version of gRPC and what language are you using?
 1.12 C# both client and server

### What operating system (Linux, Windows, …) and version?
 Windows Server 2014

### What runtime / compiler are you using (e.g. python version or version of gcc)
 C# .Net Framework 4.7.2

### What did you expect to see?

Not crashing with Grpc.Core.RpcException

### What did you see instead?

[code]

### An

[2018-06-03 01:00] ganmacs commented on #15467
It's done. Thank you for comments. https://github.com/grpc/grpc/pull/15356

[2018-06-03 01:00] #15467 closed

[2018-06-03 01:58] dmccaffery commented on #15605
Hmm. I thought I tried that. I will double check.

[2018-06-03 09:55] thedrow commented on #4221
I'm not sure how to run the tests under PyPy. Help?

[2018-06-03 10:02] amitwaisel commented on #15623
Maybe related to #15506 ?

[2018-06-03 22:55] danielin917 commented on #14104
Does Grpc allow you to send an asynchronous rpc without having to call the the blocking function cq.Next()?

[2018-06-03 23:01] danielin917 commented on #14104
AsyncNext() is available if you do not want to have to do the blocking call to Next().

[2018-06-04 03:18] lipixun commented on #7352
Just a friendly ping on this issue, does anyone still working on it? :)

[2018-06-04 04:07] #15264 closed

[2018-06-04 04:08] cuadue commented on #15264
Thanks for referring to that issue. Will close this one and defer to that one.

[2018-06-04 07:37] cypressious commented on #15605
@vadimi this seems to have done the trick. thanks

[2018-06-04 11:10] jtattermusch commented on #15622
This is a actually a protobuf  related question, not grpc.
Generally speaking, when exposing a list-like property in C#, sometimes the right API choice is to make the list-like object itself not settable (which is what you mean by "read only" I think) and providing 'Add' and 'AddRange` and other methods (implementing IList), because with that approach there are fewer moving pieces in the system an

[2018-06-04 11:10] #15622 closed

[2018-06-04 11:25] jtattermusch opened #15627 ""jenkins_test_results.rbe_test_results" dataset contains resultstore links without structured test results."
There's distinction between the "ResultStore" and "Bazel" links:

https://source.cloud.google.com/results/invocations/f90fe70c-f09e-436a-8fd7-b267bf7de9a7
vs
https://source.cloud.google.com/results/invocations/912eaf41-0f8d-4363-b5db-ef58cf2debfb

For rbe_test_results, the BQ data should contain the latter link which has more details and clickable structured test results.

[2018-06-04 11:33] jtattermusch commented on #15603
We need more info to be able to reproduce this:
- what grpc version?
- more details about when it happens & how do we know that this is not just you system being under load.
- how do I reproduce?

[2018-06-04 11:37] jtattermusch commented on #15603
If this only happens after a the client/server has been running for a long time, this is probably an instance of https://github.com/grpc/grpc/issues/15336 (which has been already fixed and will be in the next release).
Anyway, without more inputs I can't really help you.

[2018-06-04 11:54] arajeeva commented on #15604
Are there any special options for building protobuf and/or grpc to be able to use protobuf-lite in c++?

[2018-06-04 13:03] jtattermusch opened #15628 "high-throughput ruby benchmarking scenarios are failing "assertion failed: i != pss->pollset_count""
Some qps benchmarking scenarios for ruby are failing in almost every run of benchmarks (which makes the entire benchmark suite red).

These are usually the "unconstrained" scenarios - e.g. ones with high troughput. Looks like qps driver might have issues talking to ruby workers when they are overloaded - or the workers might be crashing.
Other scenarios seem to be working well.

[code]

From the l

[2018-06-04 13:10] jtattermusch commented on #15628
Also found this in the logs:

[code]

[2018-06-04 13:20] jtattermusch commented on #15506
As this happen only on a specific VM machine, I'm not sure how to reproduce on my side.

[2018-06-04 13:32] jtattermusch commented on #15623
We are working on adding a built-in retry support for the grpc stack (if configured properly, your calls will get automatically retried by grpc library if they fail with a retriable status).  @markdroth   what is the status of the retry support?

Alternatively, you can implement the retry support yourself in your client code.

[2018-06-04 13:36] jtattermusch commented on #15605
We don't have a distrib test currently for testing our nugets on alpine linux, we should consider adding it in the future. Otherwise, there's not much we can do about this.

[2018-06-04 13:38] jtattermusch commented on #15605
Closing this issue as things seem to be working fine if the right prerequisites are installed.

[2018-06-04 13:38] #15605 closed

[2018-06-04 17:07] hsaliak commented on #11672
This should be fixed -  #15625 Should also make it unnecessary to use the use_extenal= True flag, could you give the latest a try?

[2018-06-04 17:21] adelez commented on #15621
Dup of #15611

[2018-06-04 17:21] #15621 closed

[2018-06-04 17:27] nicolasnoble commented on #15611
@davidben right - but what's the Bazel target for this ? Or in other words, when I look at https://github.com/google/boringssl/blob/chromium-stable-with-bazel/BUILD I don't see any good way to do this from our side of the build.

[2018-06-04 17:50] jtattermusch commented on #14549
The most recent occurences on master:
https://source.cloud.google.com/results/invocations/d8218862-4a17-4c76-a8b4-cf9dbd881679
https://source.cloud.google.com/results/invocations/e76993c7-5bf4-42a6-8d67-1786038a76c1
https://source.cloud.google.com/results/invocations/8e2091fb-21dc-47bc-bd1c-ac4d7e8a03fa

[2018-06-04 18:14] davidben commented on #15611
I think you all might be the first to try to use that file with MSan. :-)

I'm not familiar with bazel, so I don't know how its configurations and build toggles work. I assume it should either condition on a standard is_msan toggle, if it exists, or otherwise export some no_asm toggle for the user to flip based on their own is_msan toggle. Or something like that? Feel free to send over some approp

[2018-06-04 18:22] fardog commented on #15615
@kpayson64 that's excellent; thank you. i'll give that release a try once it's out, and update/close here.

[2018-06-04 19:39] dgquintas commented on #15609
WIP at https://github.com/grpc/grpc/pull/15595

[2018-06-04 21:15] #14602 closed

[2018-06-04 21:18] sreecha commented on #14565
Assigning this to @kpayson64 who did some work to integrate gevent with grpc core.

[2018-06-04 21:31] nicolasnoble commented on #15611
Right, so what I'm hearing is that the BoringSSL's Bazel files haven't been tuned around testing with msan, which really is the rootcause here.

I'm not a Bazel expert either, despite people thinking that I am :P We'll have to discuss with the Bazel team to figure out how we can solve this exactly.

[2018-06-04 21:42] smflorentino opened #15633 "C# gRPC server gets into a bad state and doesn't recover"
### What version of gRPC and what language are you using?
 1.10.0

### What operating system (Linux, Windows, …) and version?
Windows Server 2016

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .NET 4.6

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.
C# clients making RPC cal

[2018-06-04 21:51] AspirinSJL commented on #15621
@jtattermusch Got it, thanks!

[2018-06-04 21:59] mehrdada commented on #15191
@theacodes Do you happen to know if there is a canonical way to build manylinux1 wheels for Python3.7? We use "quay.io/pypa/manylinux1_x86_64" docker image for other versions but that does not include Python3.7.

[2018-06-04 22:08] theacodes commented on #15191
Nope, seems like maybe a good time to contribute back to the manylinux
repo. :)

On Mon, Jun 4, 2018 at 3:00 PM Mehrdad Afshari <notifications@github.com>
wrote:

[2018-06-04 22:14] mehrdada commented on #15191
@theacodes Looks like already done: https://github.com/pypa/manylinux/pull/196

[2018-06-04 22:35] AspirinSJL commented on #14549
@sreecha also has taken a look. But it still needs more investigation.

At this moment, my only idea is to log the stacktrace of each `finish_shutdown(grpc_pollset* pollset)` invocation to see which invocation we are missing for the leaked FD. Trying.

[2018-06-04 23:08] #14261 closed

[2018-06-04 23:09] lucperkins commented on #9873
@junghoahnsc @Vizerai @dionescu @cgrushko There is now a `cc_grpc_library` rule: https://github.com/grpc/grpc/blob/master/bazel/cc_grpc_library.bzl. I've used it myself and it works fine 👍

[2018-06-04 23:45] ncteisen commented on #14257
I have looked into this a bit further.

running:
[code]

Will fail with the TSAN error.

But if I run:
[code]

So this is a problem with the way we feed the binary the suppression file.

Something here:
https://github.com/grpc/grpc/blob/70ce9e21df4f6a18fbcfbb2103d1e89987125f4a/build.yaml#L5580

[2018-06-04 23:49] dgquintas commented on #14257
I believe we rely on `run_tests.py` to setup the environment from the values in the build.yaml file.

[2018-06-04 23:56] ncteisen commented on #14257
Ahh yeah, I see that environ var gets passed to the generated tests.json. And this does work when I use run_tests.py to invoke. So this is an issue in how bazel picks up the suppresion file

[2018-06-05 00:27] ncteisen commented on #14257
[code]

Also passes for me. I am running clang 4.0

I can't even figure out how to get clang 7... I don't see it listed on the [download page](http://releases.llvm.org/download.html)

[2018-06-05 01:14] kpayson64 commented on #15071
1.12.1 has been pushed, and should fix this issue.

Please re-open if it is still a problem.

[2018-06-05 01:14] #15071 closed

[2018-06-05 01:16] kpayson64 commented on #15615
I've pushed 1.12.1.

[2018-06-05 02:10] sreecha commented on #11259
`tcp_continue_thread` is not thread safe.  The general read workflow is like this:

- Transport calls `grpc_endpoint_read` - and for TCP endpoint, that translates to the `tcp_read()` function.
- The very first time `tcp_read()` registers a callback (`notify_on_read()` is the function that registers with polling engine - and the callback is `tcp_handle_read()`) with the polling engine whenever the

[2018-06-05 02:16] sreecha commented on #11920
@llchan - I apologize for dropping the ball on this issue.
Are you still seeing this or is it no longer happening ?

[2018-06-05 02:47] llchan commented on #11920
I can reproduce the bad behavior with grpc-1.4.2, but it is no longer an issue in grpc-1.11.0 :tada:. No need to bisect unless you want to, feel free to close.

[2018-06-05 02:51] sreecha commented on #11920
Thank you @llchan for responding very quickly! . I will close the issue (there has been enough code churn since 1.4 that its probably not worth digging deeper)

[2018-06-05 02:51] #11920 closed

[2018-06-05 05:57] MHDante commented on #14101
The use case is a remote operations management platform (kiosks/iot). We'd like the ability to register a client kiosk to a server, and, on certain events, have the server invert into a client that issues requests to the kiosk. This can currently be done by multiplexing over a bidirectional stream, but would be much better with language support.

[2018-06-05 06:21] wanton7 commented on #15623
@jtattermusch if I would do retry myself can I do it in single place or do I have to wrap every call I make with try/catch?

[2018-06-05 07:17] NivedhaSenthil commented on #15581
Happens with Ubuntu versions 17 and 18, not replicable in 16. And also the issue can be reproduced by just starting two processes simultaneously in two shells, not just one in shell and other in VS-code

[2018-06-05 07:41] jtattermusch commented on #13650
We have two more occurrences since the extra logging was added:
https://source.cloud.google.com/results/invocations/661de751-a603-49bf-907a-685e0a0fce86/targets/github%2Fgrpc%2Fc_linux_dbg_native_x64_clang3.6/tests
https://source.cloud.google.com/results/invocations/bb781006-62ba-4bfa-b043-d8fa69c19843/targets/github%2Fgrpc%2Fc_linux_dbg_native/tests

[code]

[code]

[2018-06-05 07:53] jtattermusch commented on #13727
This is still going on Linux (failing about 2% of builds):
https://source.cloud.google.com/results/invocations/4019cade-d9b8-4421-b44e-3591b5ca78d8/targets/github%2Fgrpc%2Fc_linux_opt_native/tests
https://source.cloud.google.com/results/invocations/a1c5efd4-d246-4c56-9cf8-85d41a02d2c7/targets/github%2Fgrpc%2Fc_linux_dbg_native/tests

[2018-06-05 08:00] jtattermusch opened #15636 "test flake: bins/tsan/h2_compress_test retry_server_pushback_delay"
https://source.cloud.google.com/results/invocations/c3551a30-46e8-436f-864e-0bd0e5ac7380/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

[code]

also seen on May 13
https://source.cloud.google.com/results/invocations/02a05c2d-541a-49e2-9602-c06ce08a9988/targets/github%2Fgrpc%2Fc_linux_tsan_native/tests
[code]

[2018-06-05 08:16] jtattermusch commented on #15636
https://github.com/grpc/grpc/blob/70ce9e21df4f6a18fbcfbb2103d1e89987125f4a/test/core/end2end/tests/retry_server_pushback_delay.cc#L252

[2018-06-05 08:20] jtattermusch commented on #15636
@markdroth  your testing code says
[code]
we currently accept delay >1.9secs, but in tsan we are occasionally seeing 1.8xx sec.   Fine to decrease the acceptance limit?

[2018-06-05 08:40] jtattermusch opened #15637 "test flake: bins/tsan/h2_full+workarounds_nosec_test retry_too_many_attempts"
seen on master (for the first time)
https://source.cloud.google.com/results/invocations/db74ebf3-4118-4ea3-be39-a277734abbb9/targets/github%2Fgrpc%2Fc_linux_tsan_native_x64_clang7.0/tests

[code]

[2018-06-05 08:41] jtattermusch commented on #15637
https://github.com/grpc/grpc/blob/70ce9e21df4f6a18fbcfbb2103d1e89987125f4a/src/core/lib/iomgr/ev_poll_posix.cc#L1687

[2018-06-05 08:44] jtattermusch commented on #14862
Fixed now.

[2018-06-05 08:44] #14862 closed

[2018-06-05 09:12] jtattermusch commented on #12490
To give some insight:
- this is "compute_engine_creds"  interop tests. It is supposed to use "GCE" flavor of application default credentials. That flavor can only be used on a GCE VM where a "default service account" is available, so trying to reproduce locally is probably pointless (because you are testing a different codepath).

- ApplicationDefaultCredentials are "automagic" in a sense that it

[2018-06-05 09:21] jtattermusch commented on #12490
The timeout for checking that we are on GCE in PHP auth library seems to be 0.3s https://github.com/google/google-auth-library-php/blob/42e26564c0bc4333d7219780d8a6c4cb16879695/src/Credentials/GCECredentials.php#L140

Perhaps other languages use longer timeout?
Java seems to be using 0.5sec (and does retry).
https://github.com/google/google-auth-library-java/blob/cbc6c1062d5fe1920c6a641a4d63769b56

[2018-06-05 09:27] overmike commented on #14101
I am interested in this feature for a use case which service A submit a job through a scheduler and we have no idea the job ends up running at, and we need to send events to the job from service A.

But I am concern about how we can scale up service A after having a tunnel established to one instance of service A. May result in a lookaside table or sticky session

[2018-06-05 09:35] jtattermusch opened #15638 "src/php/bin/run_tests.sh on Linux is flaky (testPersistentChannel* tests?)"
Recent failures:
https://source.cloud.google.com/results/invocations/433a408e-a740-41d7-a0cc-6448b4dcc9fa/targets/github%2Fgrpc%2Fphp_linux_opt_native/tests
https://source.cloud.google.com/results/invocations/ca7ef053-2ea4-4e1d-888e-d6cd7539d173/targets/github%2Fgrpc%2Fphp_linux_opt_native/tests
https://source.cloud.google.com/results/invocations/1d717d08-0ab4-4b2a-b403-b55f351d35c5/targets/github

[2018-06-05 10:35] yaalaa commented on #15071
The flight seems ok for now.
Thank you very much.

BTW, I've finally decided to use custom Gunicorn worker class to patch GRPC.
[code]

[2018-06-05 11:04] Ezra5 commented on #15623
I am also having this issue, although I get it 100% of the time. I'm redoing the project from scratch to see if it's easily reproduced.
This is on Windows 10, also with ChannelCredentials.Insecure,

[2018-06-05 11:06] jtattermusch commented on #15336
I think this was fixed by https://github.com/grpc/grpc/pull/14894. Fix will be in the next release (v1.13.0).

[2018-06-05 11:06] #15336 closed

[2018-06-05 11:13] jtattermusch commented on #15557
Also seen for ruby server in build:  https://source.cloud.google.com/results/invocations/54b34501-6eea-405b-ba76-f7c6410891d1/log

[code]

[2018-06-05 11:48] jtattermusch commented on #15432
C# documentation have been added: https://github.com/grpc/grpc/pull/15468

[2018-06-05 12:15] jtattermusch commented on #15054
*We are aware that building with grpc with cmake can be troublesome and  we're working on improving the situation, but partially it's also because building c++ projects with dependencies is hard in general.*

Building with cmake and using grpc static libraries does work, we have continuous tests for that and they are passing.

With cmake, there are multiple ways you can depend on grpc library, ple

[2018-06-05 12:15] #15054 closed

[2018-06-05 12:29] jtattermusch commented on #14839
I can see that this could be useful but currently this is not a priority.
- current build works well, you only need to fetch the c-ares submodule (which I'd consider only a minor pain).
- supporting an extra source for c-ares library means more scenarios to test and it is non-trivial to add and maintain those tests
- our submodule is currently at c-ares 1.13, while e.g. in debian stretch is at 1.1

[2018-06-05 12:32] jtattermusch commented on #15540
This still seems to be happening.  30mins just to build python seems like a lot.

[2018-06-05 12:44] jtattermusch commented on #15540
Idea:

It seems that python interop tests are only running under python27,

https://github.com/grpc/grpc/blob/70ce9e21df4f6a18fbcfbb2103d1e89987125f4a/tools/run_tests/run_interop_tests.py#L548

but the build script seems to be building python for both 2.x and 3.x  (that's what the build script does by default).
https://github.com/grpc/grpc/blob/70ce9e21df4f6a18fbcfbb2103d1e89987125f4a/tools/docker

[2018-06-05 13:08] jtattermusch commented on #14975
This might have to do with https://github.com/NuGet/NuGet.Client/pull/1346.

[2018-06-05 14:06] carlpartridge opened #15641 "Ruby 2.4.4 Alpine 3.7 missing file error"
### What version of gRPC and what language are you using?
grpc (1.12.0)
ruby 2.4.4

### What operating system (Linux, Windows, …) and version?
 alpine 3.7

### What runtime / compiler are you using (e.g. python version or version of gcc)
 In dockerfile we RUN apk --update ... add ... gcc ...
(full dockerfile below)

### What did you do?
Spinning up a kubernetes cluster and the rails app within a p

[2018-06-05 14:07] drcrallen opened #15642 "Python build on OSX yields run-time linking issues from cpython"
### What version of gRPC and what language are you using?

v1.12.x

### What operating system (Linux, Windows, …) and version?

 OSX

### What runtime / compiler are you using (e.g. python version or version of gcc)

[code]

### What did you do?

Followed directions at https://github.com/grpc/grpc/tree/master/src/python/grpcio

* `git checkout v1.12.x`
* `git submodule update --init`
*  virtualenv

[2018-06-05 14:14] drcrallen commented on #15642
It looks like there might be some enhanced "don't link to places unless the user really really really really wants it" protection in recent releases of OSX: https://github.com/oracle/node-oracledb/issues/231

[2018-06-05 15:00] markdroth commented on #15636
Yeah, it's probably fine to increase the fudge factor a bit.

[2018-06-05 15:08] markdroth commented on #15623
The core of the retry functionality is implemented, but there are still some problems with it, and we've had to put the remainder of that work on the back burner temporarily due to other priorities.  I would suggest not relying on it until we have time to finish the work.

[2018-06-05 15:36] wanton7 commented on #15623
Btw why does disconnected connection give StatusCode.Unknown and not something like StatusCode.Unavailable?

If I only want to retry "Stream removed" (try/catch) is it safe to rely on that "Stream removed" text?

[2018-06-05 15:36] nicolasnoble commented on #15641
This one seems to be on protobuf, not grpc.

@haberman ?

[2018-06-05 15:51] mehrdada commented on #15642
I just built from source on High Sierra with SIP enabled with no issues with Python installed via `brew`. What's your OS version and where do you get your Python distribution from:

[code]

[2018-06-05 16:09] drcrallen commented on #15642
high sierra 10.13.4 as well

Python 3.6.4

`Darwin ${REDACTED_MACHINE_NAME} 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64`

Installing it worked just fine. It is only when I tried to run something in that venv that it failed to link some symbols in the cpython library.

[2018-06-05 16:11] drcrallen commented on #15642
Please Try running a grpc service in that venv and let me know if it still works. If it still works in the venv then this can probably be closed as not reproducible.

[2018-06-05 16:34] mehrdada commented on #15642
Just tried it manually and also ran the examples: the greeter example works.

[2018-06-05 16:42] TeBoring commented on #15641
Same as #4460

[2018-06-05 16:49] #10818 closed

[2018-06-05 16:51] ncteisen commented on #12082
Do we still want to pursue this?

[2018-06-05 17:28] adelez commented on #14257
Thank you for the investigation. I think I have a fix.

[2018-06-05 17:44] stanley-cheung commented on #12490
Just to confirm, running `compute_engine_creds` locally will actually fail right? That was my understanding

[2018-06-05 17:57] jason-velo3d opened #15647 "New warning in Visual Studio when building boringSSL: C5045"
### What version of gRPC and what language are you using?
 v1.12.0 and C++

### What operating system (Linux, Windows, …) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 2017 Version 15.7.3

### What did you do?
`git clone -b v1.12.0 https://github.com/grpc/grpc`
`cd grpc`
`git submodule update --init`
`md .build`
`cd .buil

[2018-06-05 18:09] ZhouyihaiDing commented on #12490
Thank you, @jtattermusch ! This really helps me a lot! That explains my confusion. I was wrong because I thought since we do `export export GOOGLE_APPLICATION_CREDENTIALS`, it was the same we run it locally or on GCE because it will use `ServiceAccountCredentials` instead of `GCECredentials`. The thing is `compute_engine_creds` shouldn't export that.

Then it is most likely caused by the timeout f

[2018-06-05 18:10] srini100 commented on #15581
@NivedhaSenthil, is there any fork() involved in your application?
@sreecha, have seen a similar crash before? Please see the stacktrace above.

[2018-06-05 18:14] stanley-cheung commented on #12490
Sure.

[2018-06-05 18:18] evildour commented on #15207
Any update on this @jtattermusch?

[2018-06-05 18:22] mehrdada commented on #15453
@toabctl Should this be closed now that #15548 is merged?

[2018-06-05 18:34] markdroth commented on #12082
I still think it would be useful to do this if we can find a way to make it happen.

[2018-06-05 18:41] fardog commented on #15615
@kpayson64 this does appear to fix the issue, thank you! i'll re-open or create a new ticket if any other problems arise.

[2018-06-05 18:41] #15615 closed

[2018-06-05 18:45] yashykt commented on #13650
Based on the extra logging, we are not able to connect to the server. We are either getting an EINPROGRESS or an EWOULDBLOCK on the syscall. It is most likely an issue like all the ephemeral ports on the server being used up which means too many connections.

The reason why I think EINPROGRESS is unlikely because 15 seconds should be a sufficient amount of time for connect to finish.

[2018-06-05 18:51] kpayson64 commented on #15615
Sounds good, thanks for the bug report!

[2018-06-05 21:24] ZhouyihaiDing commented on #14165
It's duplicated with #15582. And the `TIMEOUT` part should be solved by #15594.

[2018-06-05 21:24] #14165 closed

[2018-06-05 21:27] ZhouyihaiDing commented on #15416
Close it because it hasn't been seen for a while.

[2018-06-05 21:27] #15416 closed

[2018-06-05 21:37] matt-kwong commented on #4581
@nicolasnoble, can you clarify this request?

[2018-06-05 22:08] nicolasnoble commented on #4581
Basically, making sure that the files here: https://github.com/grpc/grpc/tree/master/src/boringssl that are automatically generated by generate_projects.sh are properly up to date with whichever version of the submodule we have.

[2018-06-05 22:20] sreecha commented on #13275
This does not look like an issue anymore.

I looked at the implementation of `grpc_channel_watch_connectivity_state` and all the other functions (see below) in `grpc.h` that take `gpr_timespec`. All these functionsconvert `gpr_timespec` to `grpc_millis` using ` grpc_timespec_to_millis_round_up/down` which does the right thing! (i.e handles timespec of type `GPR_TIMESPAN` )

  - `grpc_completion_qu

[2018-06-05 22:29] sreecha commented on #13275
The original issue might be that 1 millisec was too less (when we changed the internal representation of deadline to `grpc_millis` from `gpr_timespec`, we increased the granularity to milliseconds - this was intentional.  Also timer threads are not super accurate (and may be off by a few milliseconds).. This is what might have caused the previous test to fail.

I don't think the issue is related t

[2018-06-05 23:37] srini100 commented on #10939
If any further questions please post on [grpc.io](https://groups.google.com/forum/#!forum/grpc-io) or [protobuf](https://github.com/google/protobuf)

[2018-06-05 23:37] #10939 closed

[2018-06-05 23:38] sreecha commented on #15581
I have not seen this callstack before.  This is very strange since the segfault is happening in a thread when accessing a thread-local-value that was just set in one of the earlier functions in the callstack..

i.e From the callstack, I see the following:
- [`cq_next`](https://github.com/grpc/grpc/blob/v1.12.0/src/core/lib/surface/completion_queue.cc#L838) called [`pollset_work`](https://github.co

[2018-06-05 23:41] srini100 commented on #14523
Closing this issue as I have not found any other reason to get this error other than hitting the system limit. The number of threads seem to exceed twice the number of cores. Track the progress of this issue https://github.com/grpc/grpc/issues/14578. I have bumped its priority to get some attention.

[2018-06-05 23:41] #14523 closed

[2018-06-06 01:56] stanley-cheung commented on #13888
Is there specific reason you have to use protobuf 3.0.0 but not a more recent version?

[2018-06-06 02:00] stanley-cheung commented on #13888
The newer version of grpc requires protobuf 3.5.0+. Back at version 1.8.x (and in fact, much earlier than 1.8.x), we should have updated the Makefile to require at least protobuf 3.1.0+ above (that's when protobuf added PHP support).

[2018-06-06 02:00] #13888 closed

[2018-06-06 02:55] #15627 closed

[2018-06-06 03:34] liukaifei opened #15653 "Can not use grpc in an export class (my grpc service)"
**# Should this be an issue in the gRPC issue tracker?**
Yes

**# What version of gRPC and what language are you using?**
1.12.x C++

**# What operating system (Linux, Windows, …) and version?**
Windows 10

**# What runtime / compiler are you using (e.g. python version or version of gcc)**
MSVC2017

**# What did you do?**
I am trying to build  my grpc service in dll

**# What did you expect to see

[2018-06-06 05:13] GoKu-gaga opened #15655 "How to add metadata to streaming client call [Nodejs]"
How to add metadata to streaming client call [Nodejs]

[code]

[2018-06-06 05:16] NivedhaSenthil commented on #15581
No there is no fork in the application. And one more observation is the segfault is happening because of a stackoverflow.
<img width="710" alt="screen shot 2018-06-06 at 9 58 13 am" src="https://user-images.githubusercontent.com/6358540/41018319-c2eb69c8-6976-11e8-964a-884b36740cb6.png">

[2018-06-06 05:40] AspirinSJL commented on #11116
Not seen since 2018-03-14; closing for now.

BTW, this is one of the LB tests that are unreproducible locally.

[2018-06-06 05:40] #11116 closed

[2018-06-06 05:44] jtattermusch opened #15656 "sync_posix.cc:50 assertion failed res==0 in interop_server_ruby"
Got this failure when investigating a different flake.

[code]

https://source.cloud.google.com/results/invocations/cc28ec17-b51d-4fbb-8793-94a41ffd63a5/log

[2018-06-06 05:50] #15636 closed

[2018-06-06 06:55] AtosNicoS commented on #8636
I even tested GRPC with the Hololens and it is working fine. In standard and in streaming mode. Any chance to see this fix merged soon?

[2018-06-06 07:38] jtattermusch commented on #15656
Nevermind, this was a result of my changes in https://github.com/grpc/grpc/pull/15644/files

[2018-06-06 07:38] #15656 closed

[2018-06-06 07:55] jtattermusch opened #15657 "ObjC tests on mac take very long to run"
The objc test suite takes almost 40mins, which is several times more than other wrapped languages and more than twice as long as C++ (which has a really large test suite).

We are trying to deduce the test latency. MacOS test jobs are usually the last ones to finish on PRs, so speeding up ObjC is clearly an opportunity. What it is that takes so long about them? (I don't think it's the number of te

[2018-06-06 07:58] jtattermusch commented on #15657
A more detailed breakdown of ObjC tests - the interesting thing is that the total test runtime doesn't add up to the total runtime of the suite - perhaps there's a pretty long build that precedes these steps.

https://sponge.corp.google.com/target?id=62eec144-8d4c-4baa-95a2-12b93df40552&target=github/grpc/objc_macos_dbg_native&searchFor&show=ALL&sortBy=STATUS&sortMethodsBy=DURATION

[2018-06-06 08:05] jtattermusch commented on #15657
The build (~20min)
https://github.com/grpc/grpc/blob/583f39ad94c0a14a50916e86a5ccd8c3c77ae2c6/src/objective-c/tests/build_tests.sh

The longest running test suite (~15min)
https://github.com/grpc/grpc/blob/583f39ad94c0a14a50916e86a5ccd8c3c77ae2c6/src/objective-c/tests/run_tests.sh

[2018-06-06 08:44] jtattermusch commented on #14975
@mehrdada   I spent some time looking into this and it seems that the problem with protoc and grpc_csharp_ext packaged in  Grpc.Tools for C#  having non-executable flags is a problem of the nuget tool, rather than something coming from  kokoro artifact copying.

AFAIK, nuget packages are just zip files and they don't have any notion of executable flag (and the Grpc.Tools package is being packaged

[2018-06-06 09:29] jtattermusch commented on #13586
@ndandanov   thanks for sharing the guide on how to use wireshark with gRPC, it's very useful material.
Nevertheless, as an "issue" it is slightly misplaced - an ideal form for this would be to write a blogpost (e.g. we'd be happy to accept an article for https://grpc.io/blog/)

I'll close this item because it's not really about an issue with grpc codebase.

[2018-06-06 09:29] #13586 closed

[2018-06-06 09:46] jtattermusch commented on #15557
From this test run, it seems that pthread_mutex_lock returned 22, which corresponds to `EINVAL /* Invalid argument */`

Possible meaning from manpage:
[code]

[code]
https://source.cloud.google.com/results/invocations/ed545dc2-6fd8-49d7-adbc-6d2fba64a51f/log

[2018-06-06 11:44] jtattermusch commented on #15500
Seen again on master. Similarly to https://github.com/grpc/grpc/issues/15599, first occurrence of this flake is on Apr 14.

[2018-06-06 12:11] Shielsy opened #15659 "Trying to access float value on client causes 'bus error' on Raspberry Pi"
Raspberry Pi 3b+
Raspian 9.4
gcc++6.3.0 (Raspian 6.3.0-18+rpi1+deb91)

### What did you do?
I originally created this issue on the flatbuffers github - more details can be found there: https://github.com/google/flatbuffers/issues/4716

I've created a client/server test app in C++ which uses GRPC and flatbuffers. The app works fine on my Linux Ubuntu machine but the client application crashes with

[2018-06-06 13:52] dariogriffo opened #15660 "grpc_csharp_plugin fails to generate empty service"
While trying to generate c# classes of an empty service with the nuget package grpc.tools v 1.12.0 on windows 10, with the following command:

`protoc.exe --plugin=protoc-gen-grpc="protos\grpc_csharp_plugin.exe" -I=protos " -I="$(SolutionDir)protos\protobuf\src" -I="$(SolutionDir)protos\googleapis" --grpc_out="$(ProjectDir)Api" "$(SolutionDir)protos\myprotocol\api\api.proto"
`

and the following d

[2018-06-06 14:12] jtattermusch commented on #15660
Dupe of #15574.    Fixed in  https://github.com/grpc/grpc/pull/15583. Fix will be in the next release (v1.13, coming soon)

[2018-06-06 14:12] #15660 closed

[2018-06-06 14:31] #14513 closed

[2018-06-06 14:32] ncteisen commented on #14513
I think this should be resolved. However, who is to say if my desk environ is like the remote bazel one, so please reopen if this pops up again

[2018-06-06 14:58] dalebrubaker opened #15661 "Manual load Grpc.Core.dll then GetTypes() throws, wrong version of System.Interactive.Async"
### What version of gRPC and what language are you using?
1.12.0 C#

### What operating system (Linux, Windows, …) and version?
 Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
 Visual Studio 2017 Community

### What did you do?
var assy = Assembly.UnsafeLoadFrom("Grpc.Core.dll");
var types = assy.GetTypes(); // this line throws ReflectionTypeLoadExcep

[2018-06-06 15:16] dalebrubaker commented on #15661
This failure doesn't occur in the project directory where associated files are available. Closing this issue until I do some more research.

[2018-06-06 15:16] #15661 closed

[2018-06-06 16:01] markdroth commented on #15410
As far as I can tell, the code is correct.  Note that `PickFirstSubchannelList` is actually a subclass of `SubchannelList<PickFirstSubchannelList, PickFirstSubchannelData>`, so this down-cast should be fine.

This happens consistently when running the test under bazel, but it does not happen when running via make.  Is there something different about the build environment under bazel that is trigge

[2018-06-06 16:17] timbozo commented on #15579
Is there any chance we can get an look at this issue (and the suggested fix), and potentially a merge?  As noted, the impact the unnecessary "GRPC_ERROR" is having on our logs is substantial.

[2018-06-06 16:18] markdroth commented on #15550
Duplicate of #15599.

[2018-06-06 16:18] #15550 closed

[2018-06-06 16:30] ZhouyihaiDing commented on #12481
Solved by #13709.

[2018-06-06 16:30] #12481 closed

[2018-06-06 17:09] nathanielmanistaatgoogle opened #15662 "Drop maintenance of references to channel args from channels and servers"
It should be possible to have channel arguments get garbage collected when gRPC Core is done with them rather than having to have them be held for the entire lifetime of the channel or server.

... but so far I haven't been successful in coding it up.

[2018-06-06 17:26] ncteisen commented on #10516
Closing for now. Please reopen if you have a reproduction in which **valid** gRPC code triggers this abort

[2018-06-06 17:26] #10516 closed

[2018-06-06 17:28] sreecha commented on #13723
I would also like to add that qps changes (increases or decreases) for individual benchmarks will vary for different polling engines. When rolling out a new polling engine, we look at the overall performance wins across all the benchmarks..

[2018-06-06 17:29] sreecha commented on #13723
I am closing this issue. Please reopen the issue if you see significant regression with the latest polling engine enabled by default (i.e `epollex`).

[2018-06-06 17:29] #13723 closed

[2018-06-06 17:49] ZhouyihaiDing commented on #14865
The support for unix naming is documented [here](https://github.com/grpc/grpc/blob/ca38800d6236835d3907b8c29e6faeebe31ffeb7/src/core/ext/filters/client_channel/README.md) and recently [updated with details](https://github.com/grpc/grpc/pull/15618/files#diff-997a78687eb00e88a55e0832f134277fR35).

 With php extension, you can use unix naming when creating the `\Grpc\Channel` or the self defined clie

[2018-06-06 17:52] adelez commented on #14513
Hi Noah, it's easy to trying remote execution from your desktop. Please check the doc I shared about Foundry integration.

[2018-06-06 17:54] adelez commented on #14513
Verified that this is indeed fixed: https://source.cloud.google.com/results/invocations/934abc65-f5cc-46e1-8903-8f712ff9e719/targets

[2018-06-06 17:55] markdroth commented on #15000
Sorry for the delay on this.

The trace output doesn't contain the info I was looking for.  You may need to set `GRPC_VERBOSITY=DEBUG` in addition to `GRPC_TRACE=client_channel,pick_first`.

After you update /etc/hosts, there may be one more RPC failure, because the channel is already in CONNECTING state at that point and will not re-resolve the name until it transitions back into TRANSIENT_FAILUR

[2018-06-06 17:59] kpayson64 commented on #15581
Is there any way you can increase the maximum stack size in gauge?

I'm unaware of any infinite-recursion issues in gRPC so the most likely culprit is just running in an environment with a stack size that is too small.

[2018-06-06 19:27] srini100 commented on #15397
Could be dup of https://github.com/grpc/grpc/issues/14730. @vjpai , please check and reassign.

[2018-06-06 21:21] cuadue commented on #10168
This is just a documentation problem. The port is indeed populated, just after the call to e.g. BuildAndStart().

My suggestion is that the documentation could change from:

    selected_port[out]	If not nullptr, gets populated with the port number bound to the grpc::Server for the corresponding endpoint after it is successfully bound, 0 otherwise.

to

    selected_port[out]	If not nullptr, gets

[2018-06-06 23:16] ZhouyihaiDing commented on #10424
The upper case is converted by the [grpc plugin](https://github.com/grpc/grpc/blob/d8feec29f54afb52a48b5a3025826570af85b0cb/src/compiler/php_generator.cc#L63).
I think this is because the [protobuf style guide](https://developers.google.com/protocol-buffers/docs/style) recommends use **CamelCase** for the message name.

[2018-06-06 23:40] adelez commented on #15201
Assigning to David for triaging.

[2018-06-07 00:27] ZhouyihaiDing commented on #15426
Hi @jdpedrie. Thanks for the help!

I am working on solving this issue.

This issue looks like provide a way to manage channels. Adding this support in the PHP layer instead of c extension layer may offer more benefits. For example, if we can insert the channel management like plugin, this plugin can be implemented with many solutions, like create a new channel when the number of streams arrives 1

[2018-06-07 00:32] kpayson64 commented on #15620
#15411 Is the only other open issue for gevent, but I think it is unrelated.

The 1.12.1 release contained a bug fix for gevent, but it doesn't look similar to what you are describing.

Based on the details you have provided, I would guess what is happening is the server listening file descriptor is getting shared between the two child processes, and that is causing issues.

I'm hoping to look int

[2018-06-07 00:41] hexinw commented on #15620
Yeah I went through commit logs on master and didn't find things related before raising this bug. Thanks for the quick response.

[2018-06-07 00:52] ZhouyihaiDing commented on #15441
I checked php-src, and zend doesn't provide an API for me to make a copy of `zend_fcall_info_cache` and `zend_fcall_info` easily, as well as expend the life cycle of the object to cross the script.

I am working on adding documents for c extension recently. I will add notes for `createFromPlugin` method until we find a way to manage the `function` object.

[2018-06-07 01:06] #15441 closed

[2018-06-07 02:42] AspirinSJL commented on #14549
I'm OOO this week, and will come back to work next Monday.

If we are planning to fix all the P1 build issues during fixit, I don't feel confident that I can achieve it on time. So I'm re-assigning it to @sreecha since this seems to be a pollset issue. Please maybe pass it back to @ncteisen if you have too many P1 build issues on your plate...

Regarding the issue itself, I was thinking about prin

[2018-06-07 02:56] #14865 closed

[2018-06-07 03:45] NivedhaSenthil commented on #15581
I can see the maximum stack size is 8194KB will try increasing the stack size and get back. And the issue is happening only and as soon as another process is started. Grpc server is started binding to port 0, thus it should be binding to any free port. That's surprising and not able to find any corelation between the two processes.

The issue does not happen when a debugger is attached to the runn

[2018-06-07 04:49] apolcyn commented on #8689
Realize this issue was never clearly resolved, but do we know if this has been seen since? Just by the type in the stack trace, I suspect it might have been fixed by one of the protobuf bug fixes since the OP (e.g. https://github.com/google/protobuf/pull/3560)

[2018-06-07 05:09] sreecha commented on #12147
Have a proposal here: https://github.com/grpc/proposal/blob/4c8ae7b9a112a34d34958254c2f0f1820f4c72a7/L26-Ability-to-restrict-max-threads-in-C%2B%2BSyncServer.md

[2018-06-07 06:58] mehrdada commented on #14975
@jtattermusch I noticed that the executable flag gets removed by Nuget when archiving. I think if there are any issues it is in Nuget domain to fix. I'm closing this.

[2018-06-07 06:58] #14975 closed

[2018-06-07 13:20] Antezedens opened #15671 "grpc-cpp hangs with 100% CPU Usage after 25 days"
### What version of gRPC and what language are you using?
1.12.0 cpp

### What operating system (Linux, Windows, …) and version?
Ubuntu Linux 17.10

### What runtime / compiler are you using (e.g. python version or version of gcc)
32-bit compiler for arm platform.
gcc version 5.2.0 (crosstool-NG crosstool-ng-1.22.0)

### What did you do?
start any grpc server application.
use libfaketime to advanc

[2018-06-07 13:51] jtattermusch commented on #15671
This was already reported and was fixed by https://github.com/grpc/grpc/pull/14894. The will be available in the upcoming 1.13 release.

Great analysis btw, your are correct with the millisec overflow. Thanks for providing all the details!

[2018-06-07 13:51] #15671 closed

[2018-06-07 14:15] markdroth opened #15672 "csharp server interop test timeout"
https://source.cloud.google.com/results/invocations/52a16c0e-2234-4b40-9c89-2f4e8171fbcc/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

Several of the csharp_server interop tests timed out.

[2018-06-07 14:15] #14724 closed

[2018-06-07 14:31] jtattermusch commented on #13275
@sreecha  I think you might be right, but AFAIK we don't have any tests that would verify that passing GPR_TIMESPAN to C core APIs works well. Without test coverage we can't really say much.

Perhaps it would be a good noogler project to add some basic test coverage for this.

[2018-06-07 14:32] ncteisen opened #15673 "FAILED: interop_server_python"
https://source.cloud.google.com/results/invocations/44db236a-9dee-42f1-962c-f6fbab888801/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_tocloud/log

[code]

[2018-06-07 14:40] Antezedens commented on #15671
ok. cool! thanks for the quick response!

[2018-06-07 14:45] jtattermusch commented on #15633
Can you provide a minimal repro?

[2018-06-07 14:51] jtattermusch commented on #15633
Can you try running with Grpc.Auth.1.13.0-dev.nupkg  and taking the debug symbols from Grpc.Core.NativeDebug.1.13.0-dev.nupkg you can download both from here (see https://github.com/grpc/grpc/pull/14908):
https://pantheon.corp.google.com/storage/browser/grpc-testing-kokoro-prod/test_result_public/prod/grpc/core/master/windows/grpc_build_packages/760/20180607-025835/github/grpc/artifacts

[2018-06-07 15:16] ncteisen commented on #2458
Just poked through the code history, looks like this was fixed by #6798

[2018-06-07 15:16] #2458 closed

[2018-06-07 15:21] ncteisen commented on #8187
This goal has been accomplished

[2018-06-07 15:21] #8187 closed

[2018-06-07 15:32] jtattermusch commented on #15603
@mojinxun can you provide more details?

[2018-06-07 16:06] sreecha commented on #13275
What would really help is the exact repro of the case that stopped working after the `grpc_millis` change ..so that we can see if there is a bug somewhere.

I know that writing unit tests is a good idea but at this point we are not really sure if there is a bug here (and as such, I wonder if our time is better spent on other higher priority failures)..

[2018-06-07 16:17] mehrdada commented on #4221
@thedrow Have you tried `tools/run_tests/run_tests.py -l python --compiler pypy`?

[2018-06-07 17:32] muxi commented on #15540
This is still happening [in one of CI run yesterday](https://source.cloud.google.com/results/invocations/9c8b374f-5b04-4e0a-9e34-0e7c300c8207)

[2018-06-07 17:33] muxi commented on #15540
Oh 11 hours ago... sorry I think the CI was run before that.

[2018-06-07 17:33] #15540 closed

[2018-06-07 17:33] murgatroid99 commented on #15655
Pass it as an argument to the method: `client.StreamCall(meta)`.

[2018-06-07 17:33] #15655 closed

[2018-06-07 17:48] #15333 closed

[2018-06-07 18:03] srini100 commented on #15581
How many threads are there when the crash happens?

[2018-06-07 18:58] gyang274 opened #15675 "grpc_python_plugin not installed with pip install grpcio-tools?"
I am experimenting the python grpc hello world example.

gPRC tools is installed with python3.6 pip.

[code]

And compile using grpc tools as a python module works fine.

[code]

I would like to also try to using the system `protoc` to compile, however, **this fails due to grpc_python_plugin is not found.**

[code]

I then built grpc_python_plugin from gits, and it works fine.

[code]

In summary,

[2018-06-07 21:06] yashykt commented on #15528
If this has not been seen again, can this be closed?

[2018-06-07 21:08] yashykt commented on #14643
There doesn't seem to be much to do here, other than not trying to not send the ping at all.

[2018-06-07 21:08] #14643 closed

[2018-06-07 21:25] #159 closed, assigned to y-zeng

[2018-06-07 21:28] ncteisen commented on #232
Stale issue, closing

[2018-06-07 21:29] #232 closed

[2018-06-07 21:30] ncteisen commented on #260
This is accomplished via resource quota

[2018-06-07 21:30] #260 closed

[2018-06-07 21:32] ncteisen commented on #320
My vote would be to close this theoretical issue, and then re investigate if it actually rears its head one day

[2018-06-07 21:32] #320 closed

[2018-06-07 21:36] ncteisen commented on #1842
There is no plan to investigate or support this in the coming quarters. It may be worthwhile, but without data pointing to call destruction as a culprit for per-RPC overhead, we should not pursue.

I would also be scared of this causing strange, non deterministic, super tail latency when the GC tasks do schedule

[2018-06-07 21:36] #1842 closed

[2018-06-07 21:37] ncteisen commented on #1968
We now ACK writes as soon as the byte "pass" flow control. This can be closed

[2018-06-07 21:37] #1968 closed

[2018-06-07 21:39] ncteisen commented on #2832
@jboeuf, @jiangtaoli2016, can you add more details to this issue?

What is the motivation? What is the scope? Are we still interested in pursuing this?

We are cleaning our stale bugs during this fixit week. Please update or close this issue

[2018-06-07 21:40] ncteisen commented on #2833
@jboeuf, @jiangtaoli2016, is there a plan to work on this in the next quarter or two?

If not, let's close, then reopen it to track progress once progress is being made

[2018-06-07 21:42] ncteisen commented on #2834
Very similar to #2833, let's track both there, and potentially close them if there is no active work

[2018-06-07 21:42] #2834 closed

[2018-06-07 21:49] ncteisen commented on #3342
Should this still be tracked? Is there a plan to start work in the next few quarters?

[2018-06-07 21:49] #3527 closed

[2018-06-07 21:52] ncteisen commented on #3559
Let's either try this or close this

[2018-06-07 21:52] ncteisen commented on #3699
We will pursue this if we are approached with an OSS or internal use case

[2018-06-07 21:52] #3699 closed

[2018-06-07 21:54] ncteisen commented on #2833
Actually, is this a dup of #3825?

[2018-06-07 21:54] ncteisen commented on #3825
Is this still a blocker for GA? What is the plan for implementation

[2018-06-07 22:05] hexinw commented on #10755
Hi,

@kpayson64
Is SO_REUSEPORT disabled by default in grpc? I am seeing an issue when trying to bringup multiple grpc servers.

[root@tuns-deployment-2602672641-089j6 tuns]# python /var/tmp/test_grpc.py &
[1] 3484
[root@tuns-deployment-2602672641-089j6 tuns]#
[root@tuns-deployment-2602672641-089j6 tuns]#
[root@tuns-deployment-2602672641-089j6 tuns]# netstat -an |grep 3333
tcp6       0      0 :::3

[2018-06-07 22:14] yashykt commented on #11751
Given that we have existing ways to disable proxying, I don't see the need for this.

(I don't see any restriction which says IP addresses cannot be added in no_proxy.)

Feel free to reopen if I'm wrong.

[2018-06-07 22:20] ncteisen commented on #4233
Do you have a repro? I just tried to get one on our end2end tests by hacking the client to send bad setting, and the server does indeed respond with a goaway.

It comes from here: https://github.com/grpc/grpc/blob/701a4b1c32a6da0c246bfe573ef3c96a9c652cc2/src/core/ext/transport/chttp2/transport/frame_settings.cc#L203-L212

[2018-06-07 22:28] ncteisen commented on #5946
Let's close until someone brings up the need for non `GRPC_HAVE_UNIX_SOCKET` environment

[2018-06-07 22:28] #5946 closed

[2018-06-07 22:28] kpayson64 commented on #10755
@hexinw
In the manylinux binary distribution, yes it is disabled.  ```SO_REUSEPORT``` isn't part of the manylinux standard, so we can't distribute binaries with it enabled.

If you want to use ```SO_REUSEPORT``` with Python, you will need to install from source.

[2018-06-07 22:30] #6411 closed

[2018-06-07 23:07] ncteisen commented on #7687
This one is not a bad idea.... I am going to stop my issue closing rampage and do this one

[2018-06-07 23:19] hexinw commented on #10755
Great. Works now after re-install from source. Thanks @kpayson64.

[root@tuns-deployment-2602672641-s06qd grpc]# python /var/tmp/test_grpc.py&
[1] 2772
[root@tuns-deployment-2602672641-s06qd grpc]# netstat -an |grep 3333
tcp6       0      0 :::3333                 :::*                    LISTEN
[root@tuns-deployment-2602672641-s06qd grpc]# python /var/tmp/test_grpc.py&
[2] 2779
[root@tuns-deployme

[2018-06-07 23:28] ncteisen commented on #8694
Mostly addressed in https://github.com/grpc/grpc/commit/08caf82e8d9ca71dfc5739cf1d893a4daf0b6777#diff-05fa3d86a62a849dc8efa0f0984548e0

There might be straggles who don't use the API that checks. Will take a loot

[2018-06-07 23:35] ara-ayvazyan commented on #8554
I think the quotas are only constructed and not used for windows (`tcp->resource_user` is never used for allocating memory in `tcp_windows.cc` and `GRPC_SLICE_MALLOC` is used directly), unlike for posix. The issue seems valid.

[2018-06-07 23:35] murgatroid99 commented on #14234
The linked PR will hopefully decrease the frequency of this failure. Until we know what the impact of that PR is I am going to downgrade this to a P2.

[2018-06-07 23:40] #14644 closed

[2018-06-08 00:05] ncteisen commented on #8554
I am not that comfortable with Windows, would you (or @sreecha or @yashykt) like to take a stab?

Should be similar to what happens in tcp_posix

Initialize a resource_user_slice_allocator https://github.com/grpc/grpc/blob/d7728cda51ee1249e88f7d20dec92435f8d33d53/src/core/lib/iomgr/tcp_posix.cc#L796-L797

And then use it instead of MALLOC https://github.com/grpc/grpc/blob/d7728cda51ee1249e88f7d20d

[2018-06-08 00:06] ncteisen commented on #15201
Is there a good repro for this one?

[2018-06-08 00:47] hcaseyal commented on #13305
Closing because user has not responded in over a month.

[2018-06-08 00:47] #13305 closed

[2018-06-08 00:51] hcaseyal commented on #11678
Closing because user has not responded in over a month.

[2018-06-08 00:51] #11678 closed

[2018-06-08 01:06] muxi opened #15679 "Flaky test InteropTestsLocalCleartextCFStream/GRPCClientTests/testErrorCode/"
Sample output
[code]

Sample CI run: https://source.cloud.google.com/results/invocations/9d3d7bb1-2648-4881-bd9b-81526842fb36/targets

[2018-06-08 01:07] hcaseyal commented on #6395
Closing because this issue doesn't seem to have appeared for at least several months.

[2018-06-08 01:07] #6395 closed

[2018-06-08 01:10] hcaseyal commented on #11673
Closing because user has not responded in over a month.

[2018-06-08 01:10] #11673 closed

[2018-06-08 02:05] yashykt commented on #13715
I guess this can be closed now

[2018-06-08 02:05] #13715 closed

[2018-06-08 02:16] yashykt commented on #13553
Should be fixed as of #15394

[2018-06-08 02:16] #13553 closed

[2018-06-08 02:20] yashykt commented on #15528
Closing since it's not being seen since that one run

[2018-06-08 02:20] #15528 closed

[2018-06-08 02:29] yashykt commented on #9125
Things have changed about exec_ctx since then. This no longer is relevant.

[2018-06-08 02:29] #9125 closed

[2018-06-08 05:06] dzbarsky commented on #11751
@yashykt yes, no_proxy can be used with an IP address, but it cannot be used with IP ranges as far as I know. (See also https://unix.stackexchange.com/questions/23452/set-a-network-range-in-the-no-proxy-environment-variable). If I am wrong about this point, please show me, I'd love a solution.

Since we have a deployment of 50K+ machines, it is not feasible to specify no_proxy env variable that wi

[2018-06-08 05:13] mehrdada commented on #11751
Reopened per reporter's request

[2018-06-08 07:43] IDIHTD opened #15683 "c# change MaxReceiveMessageSize"
### What version of gRPC and what language are you using?
 1.4.1

### What operating system (Linux, Windows, …) and version?
 windows

### What runtime / compiler are you using (e.g. python version or version of gcc)
 .net core 2.0

### What did you do?

 I am trying to use node.js transmission big file to .net with grcp
### What did you expect to see?
 how to change MaxReceiveMessageSize

### Wha

[2018-06-08 07:54] jtattermusch commented on #15683
These params are set as channel arguments/options

https://github.com/grpc/grpc/blob/04c85137e8e2d10f054f1dae2e751e3e06719ef5/include/grpc/impl/codegen/grpc_types.h#L159 and
https://github.com/grpc/grpc/blob/04c85137e8e2d10f054f1dae2e751e3e06719ef5/include/grpc/impl/codegen/grpc_types.h#L153

In c# the api set these is `ChannelOptions`:
e.g. https://github.com/grpc/grpc/blob/bb85af66bdaca69048fb49

[2018-06-08 07:54] #15683 closed

[2018-06-08 07:59] jtattermusch commented on #15647
Filed internal b/109909527

[2018-06-08 08:08] #15437 closed

[2018-06-08 08:40] IDIHTD commented on #15683
@jtattermusch ,thanks

[2018-06-08 09:37] jtattermusch commented on #8042
Fixed by  #12120.

[2018-06-08 09:37] #8042 closed

[2018-06-08 09:39] jtattermusch commented on #8167
Last update on this issue from Mar 2017, closing.

[2018-06-08 09:39] #8167 closed

[2018-06-08 09:42] jtattermusch commented on #7693
We currently have #13207 which might or might not land, but besides it we don't have any plans to look into this. Closing.

[2018-06-08 09:42] #7693 closed

[2018-06-08 09:43] #7075 closed

[2018-06-08 09:48] jtattermusch commented on #13726
We don't have any plans to work on this in near future.

[2018-06-08 09:48] #13726 closed

[2018-06-08 10:01] #13622 closed

[2018-06-08 10:02] #13619 closed

[2018-06-08 10:03] #13617 closed

[2018-06-08 10:04] #13614 closed

[2018-06-08 10:07] jtattermusch commented on #10575
It doesn't look like there are any plans to do anything about this.

[2018-06-08 10:07] #10575 closed

[2018-06-08 10:11] jtattermusch commented on #13378
This issue looks stale and it is not clear what the intent was. Also 1.4.1 is pretty old, feel free to try with 1.12.0 and if you are still seeing a problem, file this as a new issue.

[2018-06-08 10:11] #13378 closed

[2018-06-08 10:12] jtattermusch commented on #12926
@FrankGrossmann  is this still a problem?

[2018-06-08 14:03] thedrow commented on #4221
This is the output of the test run:
[code]

I don't know what `invalid command name ''` means but it seems like the tests don't run correctly.

[2018-06-08 14:32] hcaseyal commented on #15116
@yang-g Can we merge this?

[2018-06-08 15:31] jtattermusch commented on #13810
@masterX244  is this still an issue?

[2018-06-08 15:44] jtattermusch commented on #13810
I tried running protoc & grpc_csharp_plugin with the .proto file provided and the generated code has been build successfully. I guess is some of the improvements in the codegen we've done in the past that fixed it.

[2018-06-08 15:44] #13810 closed

[2018-06-08 15:47] jiangtaoli2016 commented on #3825
@ncteisen It is not a blocker. It is just potential future performance improvement. So far we do not get any complains on current performance.

[2018-06-08 15:50] jiangtaoli2016 commented on #2833
Is not a duplication. #3825 is client side caching. this PR is server caching.

We do not have plan to work on in next two quarters. You can close them for now. We can re-open if needed.

[2018-06-08 16:01] ncteisen commented on #2833
Ok, sounds good, closing for now

[2018-06-08 16:01] #2833 closed

[2018-06-08 17:41] ZhouyihaiDing commented on #12017
Thanks!
For async client issue, I think what you suggest is async call with non-blocking response, which is also similar to the issue #11323. Currently it's not on our road map, but we are discussing about it now.
I go through your PR and it's great work! The comments I put there are only suggest/discuss, not review. After we put this support into the road map, we will find out what is best way to

[2018-06-08 17:58] ZhouyihaiDing commented on #6654
I think the request for this issue is "async call with non-blocking response", which is similar to the issue #12017 and #11323.
The user in #12017 provides a solution which use callback to process whichever the RPC finish first.

[2018-06-08 18:15] adelez commented on #15201
Not that I know of. :(

[2018-06-08 18:33] ZhouyihaiDing commented on #8859
I didn't find a good tool to generate API document automatically from C extension. However, I noticed that someone has already make the document as [`grpc.php`](https://github.com/iMega/grpc-phpdoc/blob/master/grpc.php). With the same idea, we can do the same thing -- upload such file into packagist named as `grpc-ext-for-api-doc`, and then there are tools generating the document like `apigen`.

[2018-06-08 18:41] #10578 closed

[2018-06-08 20:56] yang-g commented on #12971
http2 does not allow capital letters in header keys. Try using "authorization" instead.

[2018-06-08 20:56] #12971 closed

[2018-06-08 20:59] yang-g commented on #13295
Likely we need an interop test for reflection service between go and grpc_cli.

[2018-06-08 21:06] #5673 closed

[2018-06-08 21:08] #488 closed

[2018-06-08 21:18] #15026 closed

[2018-06-08 21:29] yang-g commented on #4908
This is a dated thread and I think we do no have  leak in the shutdown at the moment.

[2018-06-08 21:29] #4908 closed

[2018-06-08 21:34] #15031 closed

[2018-06-08 21:51] yang-g opened #15693 "[flake] unit._session_cache_test.SSLSessionCacheTest.testSSLSessionCacheLRU timeout with gevent"
on both linux and windows

[2018-06-08 21:52] yang-g commented on #15116
Merged. Thanks for the headsup. It fell through the cracks...

[2018-06-08 21:52] #15116 closed

[2018-06-08 22:21] #1149 closed

[2018-06-08 22:21] #15151 closed

[2018-06-08 23:37] srini100 commented on #15359
@nicolasnoble @vjpai  Does this block 1.13? Previous two releases went out with this blocker so I am included to remove that label.

[2018-06-09 00:21] dgquintas commented on #11704
This issue seems resolved. Closing.

[2018-06-09 00:21] #11704 closed

[2018-06-09 00:27] dgquintas commented on #9700
Closing as stale. Please reopen if still relevant.

[2018-06-09 00:27] #9700 closed

[2018-06-09 01:59] yashykt commented on #11751
Another approach might have been to use separate processes, but it might be a good idea to have explicit channel arguments for http proxy.

[2018-06-09 02:15] jiehu567 commented on #5468
Hi, I'm new user of gRPC, and I'm using python. can anyone tell me how to detect if the connection is shutdown from gRPC client side? and how to reconnect with a different channel? Better with example, I couldn't find in docs. And I've tried set futuer / describe etc. I'm using gRPC for a real-time service and any delay might lose users.  Tnx

[2018-06-09 19:03] jtattermusch commented on #15647
Is this already fixed by https://boringssl.googlesource.com/boringssl/+/189270cd190267f5bd60cfe8f8ce7a61d07ba6f4 ?
If so, we'd need to update the third_party/boringssl module.

[2018-06-10 00:29] ZhouyihaiDing commented on #10424
And also, the [psr coding style](https://www.php-fig.org/psr/psr-1/#1-overview) also suggests using CamelCase to define the class name.

[2018-06-10 00:29] #10424 closed

[2018-06-10 12:59] gogo40 commented on #13888
@stanley-cheung We changed our architecture and the problem is solved. Now we can use a more recent grpc.

[2018-06-10 16:43] hexinw commented on #15620
Looks like socket_accept_async() in src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx is never called after the greenlet is spawned for some reason. Hence s.socket.accept() is not executed and the socket server fd is not added to the loop anfds.

[2018-06-10 16:47] hexinw commented on #15620
Looks like `socket_accept_async` in `src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx` is never called after the greenlet is spawned. Hence `s.socket.accept` is not executed and the socket server fd is not added to the loop anfds.

[2018-06-10 16:57] ian-p-cooke opened #15700 "add support in core ssl_transport_security for rfc822Name SANs"
### What version of gRPC and what language are you using?
SHA fe6bf3ffe64e3a0e086659abec02897a463cede2, C
### What operating system (Linux, Windows, …) and version?
MacOS 10.13.4
### What runtime / compiler are you using (e.g. python version or version of gcc)
clang: Apple LLVM version 9.1.0 (clang-902.0.39.2)
### What did you do?

called grpc_auth_context_peer_identity on the server after a clien

[2018-06-10 22:56] #15642 closed

[2018-06-11 04:15] NivedhaSenthil commented on #15581
There were 6 thread running.

[2018-06-11 06:50] shlomiw commented on #15623
Hi, we also started to get these errors in the last few days.
We're using Spanner and sometimes queries gets these RpcException "Stream removed" errors.
Please advise, thanks.

[2018-06-11 10:03] jtattermusch commented on #15228
@Ozaq   thanks for the feedback, I think you have a point - we are working on improving the cmake  (and/or build instructions in gereral) instructions so that there's no confusion.

[2018-06-11 10:03] #15228 closed

[2018-06-11 10:09] jtattermusch commented on #8636
@AtosNicoS if by "fix" you mean commenting out grpc/src/csharp/Grpc.Core/GrpcEnvironment.cs - that's not a proper fix IMHO - it's just an experiment that the grpc stack can work for UWA. We only want to disable that line for universal windows apps, not for other platforms, because the that line is there for a good reason.
So the "fix" won't get merged, but feel free to contribute a PR that has an

[2018-06-11 11:18] AtosNicoS commented on #8636
@jtattermusch Correct, it is not a proper fix to just comment that line for non-uwp apps.

Sure, but what about UWP Apps? Isnt that line required for UWP or will we possibly run into other issues when its left out?

In the case we can just comment it for UWP apps, a small ifdef-like surrounding (as @lhecker suggested) could be enough. However that fix did not work. I found [this](https://docs.micr

[2018-06-11 11:44] AtosNicoS commented on #15534
As a temporary workaround I installed `gcc7` for ArchLinux and used the following line to compile grpc 1.12.1:
[code]

[2018-06-11 12:40] fancl20 opened #15702 "Deadline not work properly"
### What version of gRPC and what language are you using?
 v1.10.0

### What operating system (Linux, Windows, …) and version?
 Debian 8

### What runtime/compiler are you using (e.g. python version or version of gcc)
 clang 4.0

### What did you do?

Set a deadline and process sync call.

### What did you expect to see?

When the server is broken, call return after deadline exceeded.

### What di

[2018-06-11 13:39] pgn-vole commented on #12707
I +1 this feature request.

[2018-06-11 14:31] jtattermusch commented on #10926
@AhmadChaker  can you provide a snippet to reproduce?
Is this happening on windows or linux?
What gRPC version?

[2018-06-11 14:37] jtattermusch commented on #15197
@josiahdecker  can you provide a snippet that reproduces the problem?

[2018-06-11 14:39] #13819 closed

[2018-06-11 14:40] #12926 closed

[2018-06-11 14:52] #7687 closed

[2018-06-11 15:08] cepages opened #15704 "pod `gRPC-C++ 0.0.2` misses proto_utils.h and config_protobuf.h"
### What version of gRPC and what language are you using?
Version 1.10.0
Language: C++

### What operating system (Linux, Windows, …) and version?
 MacOS version: 10.13.4

### What runtime / compiler are you using (e.g. python version or version of gcc)
 XCode with CocoaPods

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets

[2018-06-11 16:04] ZhouyihaiDing commented on #5983
My idea to solve this issue is shipping the `protoc` and `grpc_php_plugin` when the user downloads grpc via composer.

For every release, we manually download `protoc` and `grpc_php_plugin` from `artifact` build, and put them under

- tools/bin/x86-linux
- tools/bin/x86_64-linux
- tools/bin/x86-macos
- tools/bin/x86_64-macos
- tools/bin/x86-windows
- tools/bin/x86_64-windows

After users download

[2018-06-11 16:58] jtattermusch commented on #15557
CC @nicolasnoble

[2018-06-11 17:12] hsaliak commented on #5983
@ZhouyihaiDing are there any approaches we can take to make the invocation of these binaries same across platforms? That way we can provide platform independent instructions in readme etc?

One simplification is to have a shell script that detects and forwards args for all the linux and OSX use cases and a similar bat file for Windows. @nicolasnoble any other ideas here?

[2018-06-11 17:23] mehrdada commented on #15623
For the record, we have seen this reports of this on the Python side as well which I originally attributed to retries but I have some doubts that this might be an additional bug. It'd be great for someone from core who knows the expected semantics as implemented today should weigh in (I had expected UNAVAILABLE, as opposed to other status codes, UNKNOWN in the following case, for the expected fail

[2018-06-11 17:31] ZhouyihaiDing commented on #5983
I didn't find tools in PHP which can do the similar thing like python or ruby.

Provide shell script(or a PHP script) to check platform sounds good to me. For example, `grpc-tools` in [ruby](https://github.com/grpc/grpc/blob/master/src/ruby/tools/platform_check.rb) check the platform before running the `protoc` and `plugin`. We are imitating what it does into the shell script so it looks like a `g

[2018-06-11 17:49] drigz commented on #14143
@g-easy Yep, can confirm. Thanks!

[2018-06-11 17:49] #14143 closed

[2018-06-11 18:07] nicolasnoble commented on #15557
CC @sreecha - this may be the same bug you are currently looking at.

[2018-06-11 18:48] srini100 opened #15710 "Broken Bazel test: //test/core/end2end:h2_load_reporting_test@filter_latency@poller=poll"
Failure seen in https://github.com/grpc/grpc/pull/15697 on v1.13.x branch.
https://source.cloud.google.com/results/invocations/5058e2ef-59aa-41fa-a697-a0cde19edc6d/targets/%2F%2Ftest%2Fcore%2Fend2end:h2_load_reporting_test@filter_latency@poller%3Dpoll/log

[code]

[2018-06-11 18:59] ncteisen commented on #15702
Can you provide a reproduction for this bug? Perhaps by adding to our C++ end2end suite?

[2018-06-11 19:02] ncteisen commented on #9526
Is this still occurring? grpc-1.1.0, is quite old at this point. Have you update to a higher version?

[2018-06-11 19:09] ncteisen commented on #13075
Is this still relevant?

[2018-06-11 19:14] ncteisen commented on #15579
Just put in #15712. Is that sufficient to stop these overly verbose logs?

[2018-06-11 19:17] JackOfMostTrades commented on #15579
Yep, that should do it. Thanks!

[2018-06-11 20:28] jtattermusch commented on #15599
I looked at the historical data again and it really seems like the problem started when we switched to kokoro distributed master (which involved switching to workers to macos sierra). There's very few macos failures before the switch and failures similar to the ones we are seeing right now start after the switch.

[2018-06-11 21:13] yashykt commented on #9561
@ejona86 does #15698 seem reasonable to you?

[2018-06-11 21:29] andrewpmartinez commented on #7834
I'm in a situation where I am using grpc and mutual TLS. Seems odd that I can't access the peer certificate to make additional authentication checks. The client certs already aserts the client's identity, I don't really want to assert identity again.

[2018-06-11 22:22] ncteisen commented on #11709
Closed by #15711

[2018-06-11 22:22] #11709 closed

[2018-06-11 22:28] ejona86 commented on #9561
Java and Go behavior is to use the equivalent of https_proxy unconditionally. I suggest doing the same (although the fallback to http_proxy may be fine; it'd be good not to do that long-term, though).

The reasoning is a bit complicated. http_proxy should never use CONNECT; it should send the actual HTTP request to the proxy. https_proxy should always use CONNECT. Grpc should use https_proxy for e

[2018-06-11 22:49] dgquintas commented on #15599
Out of curiosity, on which macos version are you guys trying to repro this locally?

[2018-06-11 23:00] ncteisen commented on #3825
Ok, I will close this for now then. We can re open if there is a drive for it

[2018-06-11 23:00] #3825 closed

[2018-06-11 23:02] chetmurthy commented on #7834
Oh, so it still hasn't been fixed, has it?  Sigh.  When I read both the relevant threads, back in October, it seemed clear that the Google guys felt that "our way or the highway" was appropriate.  And given that the *purpose* of GRPC is so you can access Google's servers, and NOT so you can write your own servers, that makes perfect sense.

If you actually want a decent RPC stack, can I suggest Th

[2018-06-11 23:09] yashykt commented on #9561
From what I've read, we _can_ use CONNECT for insecure connections. Whether we can use http_proxy for CONNECT or not is unclear. Since there is no explicit standard, it won't be wrong either way, but if we do use it for insecure connections atleast, we might be making atleast some people happy.

I agree that the fallback should not be kept for the long-term. I'm even tempted to just remove the fal

[2018-06-11 23:17] ejona86 commented on #9561
It's possible, but some proxies will prevent doing so. It's a "I configured my proxy in a specific way" sort of thing, but it is normal and necessary for CONNECT to be limited to only certain destination ports. In RFC 7231:

   servers, particularly when the destination is a well-known or
   reserved TCP port that is not intended for Web traffic.  For example,
   a CONNECT to a request-target of "

[2018-06-11 23:24] yashykt commented on #9561
looks like a security measure that's offloaded to the proxy :)

[2018-06-11 23:44] dgquintas commented on #11277
We have polished, and hopefully clarified, the backoff behaviour since this question was posed (in https://github.com/grpc/grpc/pull/13121 back in Nov 2017). The [documentation](https://github.com/grpc/grpc/blob/000ec4533d906ae7b9f8163871fcad72e8a4e1ac/doc/connection-backoff.md) was also updated.

It should be easy, but admittedly a bit confusing, to explain the behaviour in light of the pseudocod

[2018-06-11 23:44] #11277 closed

[2018-06-11 23:54] nathanielmanistaatgoogle commented on #12531
@hubo1016: yes, it would be a problem if gRPC Python 1.12 leaked connections in a way that gRPC Python 1.11 did not leak connections. Have you progressed any further in your tracing down this question?

[2018-06-12 00:18] adelez commented on #15610
With #15716, this bug is no longer blocking Bazel tests. However, we can't close until Foundry solves the underlying issue and the test gets added back.

[2018-06-12 01:09] hcaseyal commented on #13618
@adelez ping for if this issue can be closed

[2018-06-12 01:14] zhaohuang2016 commented on #15326
I just saw a new Release, Release v1.13.0, but when I installed pod install, I still reported an error.
My steps are:
$ git clone -b $(curl -L https://grpc.io/release) https://github.com/grpc/grpc
$ cd grpc
$ git submodule update --init
$ cd examples/objective-c/helloworld
$ pod install
Terminal display results:
[!] Error installing BoringSSL
[!] /usr/bin/git clone https://boringssl.googlesource.c

[2018-06-12 01:33] tkssharma opened #15720 "grpc_status":14,"os_error":"unknown node or service""
### What version of gRPC and what language are you using?
 "grpc": "^1.12.2",  *grpc-node*

### What operating system (Linux, Windows, …) and version?
 Amazon AMI Node JS

### What runtime / compiler are you using (e.g. python version or version of gcc)
 GCC

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if helpful.

###

[2018-06-12 01:35] tkssharma commented on #15720
[code]

[2018-06-12 01:38] #15679 closed

[2018-06-12 02:10] nathanielmanistaatgoogle commented on #15444
It's unfortunate that our documentation doesn't make clear that the `3` in `syntax = "proto3";` has nothing to do with the `2` in `sample_pb2.py`. I think what's going on with those numbers is actually kind of cool. Let me bore you with the story:

There are two degrees of freedom in the system. One is the Protocol Buffers Language version, which is the one indicated by `syntax = "proto3";`. What

[2018-06-12 02:10] #15444 closed

[2018-06-12 03:03] miluoalbert opened #15721 "error while loading shared libraries: libgrpc++.so.1 in grpc 1.12.1"
### What version of gRPC and what language are you using?
gRPC 1.12.1  /   C++

### What operating system (Linux, Windows, …) and version?
 CentOS Linux release 7.3.1611

### What runtime / compiler are you using (e.g. python version or version of gcc)
 gcc version 4.8.5

### What did you do?
When I run the program after compiling the example project code given in gRPC repo, it shows error while l

[2018-06-12 04:53] nathanielmanistaatgoogle commented on #12400
@ced5: is this still a thing that should happen eventually?

[2018-06-12 05:55] Falco20019 commented on #12707
https://github.com/opentracing-contrib?tab=repositories is the main account for OpenTracing implementations. So better to look there for packages. Java and Python also made references on grpc-ecosystem but new once won’t appeare there.

The C++ Version is still not possible until #9035 is implemented :) so maybe also track that issue.

[2018-06-12 07:40] #14522 closed

[2018-06-12 07:41] jtattermusch commented on #14522
I added examples how to create test doubles using public gRPC C# API in #15687.

[2018-06-12 08:05] jtattermusch commented on #15599
@dgquintas  my machine is macos high sierra 10.13.2 , what's more interesting is that this is not possible to reproduce even on kokoro worker if we only run a single specific test and `-n` is set to a large number (at least I haven't been able to reproduce sucessfully that way).

[2018-06-12 08:11] jtattermusch commented on #15437
We just push a pre-release package of Grpc.Core that uses grpc_csharp_ext.dll built with RelWithDebInfo configuration. The corresponding PDB can be found in this nuget package: https://www.nuget.org/packages/Grpc.Core.NativeDebug/1.13.0-pre1

[2018-06-12 08:12] jtattermusch commented on #14350
FYI, starting from 1.13.0-pre1, we are making the debug symbols available (at least for windows now).
See https://github.com/grpc/grpc/issues/15437.

[2018-06-12 09:07] jtattermusch commented on #15599
Update: with our older image experiment (workers using macos elcapitan), we now got 17 dbg C runs and 14 opt runs without any of the failures mentioned above - we'd still need more data to be sure, but 31 fully green runs seem unusual enough to think there really is a significant difference between sierra and elcap images.

[2018-06-12 09:09] toanju commented on #15520
https://github.com/grpc/grpc/pull/14452 is open for quite some time and fix at least the core parts

[2018-06-12 10:09] hehe717 opened #15722 "[Server side] is there a way for limit maximum stream in grpc-java?"
now, I want to configure of maximum stream in grpc-java in server side.
is there a way for limit maximum stream in grpc-java?
I saw 2016 year's open issue for this one, but cannot find any answer.

[2018-06-12 12:07] NivedhaSenthil commented on #15581
Doing a pip upgrade solved this issue. It seems to be happening because of an issue(https://github.com/pypa/setuptools/issues/951) in setuptools which is required by protobuf. The default pip installed when we do `apt install python-pip` is `9.0.1` which dint have the fix, thus after upgrading to `10.0.1` things  started working fine.

[2018-06-12 12:07] #15581 closed

[2018-06-12 14:18] meawoppl commented on #12531
The tests in our codebase that exercised we're skipped for the last few months and have rotted.  I will be spending some cycles today trying to get them running again.

[2018-06-12 15:00] jtattermusch opened #15724 "Test result upload to biqquery is too verbose"
The upload script uploads test results one row at a time, which generates a ton of logs that are not useful.

Will be fixed by https://github.com/grpc/grpc/pull/15723 (and #15705).

[2018-06-12 15:19] #10324 closed

[2018-06-12 15:28] ZhouyihaiDing commented on #15040
We can't change the returned value `$status` from code to string directly because it will block uses who are using it. Thus we provide some helper method map those enum value to the string as in #15652.

[2018-06-12 16:01] murgatroid99 commented on #15720
You're binding the server to the string `'GRPC_SERVER'` instead of the value of that variable.

[2018-06-12 16:23] nathanielmanistaatgoogle commented on #13602
[Today we make it official: 2020-01-01](https://groups.google.com/forum/#!topic/grpc-io/psLfi-li4u8). If you're not already working on upgrading off of Python 2.7, get started yesterday!

[2018-06-12 16:23] #13602 closed

[2018-06-12 17:14] nathanielmanistaatgoogle commented on #14425
The upcoming 1.13 release will include [pull request 14879](https://github.com/grpc/grpc/pull/14879). @euroelessar, @jiangtaoli2016: is there anything to be done for this issue other than wait for the 1.13 release?

[2018-06-12 17:16] nathanielmanistaatgoogle commented on #14338
@meawoppl: poke poke? Does the problem continue to manifest? Should this issue remain open?

[2018-06-12 18:16] mehrdada commented on #15673
Closing as duplicate of https://github.com/grpc/grpc/issues/15557.

The `NotImplementedError: Method not implemented!` messages in the log are red herring. It's a mock object that is supposed to be unimplemented raising an error for test purposes, which is expected. The actual issue seems to be

[code]

[2018-06-12 18:16] #15673 closed

[2018-06-12 18:18] shubhamranjan commented on #10784
Happened for me as well. Any resolutions / workarounds yet.Can't migrate to ASP .NET core.

[2018-06-12 18:18] #15453 closed

[2018-06-12 18:48] nathanielmanistaatgoogle commented on #13117
This has been fixed by @ghostwriternr and the fix will be released in a few weeks in gRPC Python 1.13.

[2018-06-12 18:48] #13117 closed

[2018-06-12 20:32] carl-mastrangelo opened #15728 "Sync gRPC LB load_balancer.proto with Go and Java"
In https://github.com/grpc/grpc-proto/pull/25 I added a canonical version of the load balancer proto that can be shared between all languages.  grpc code should sync with it so that all three grpc implementations can be aligned.

cc: @ejona86

[2018-06-12 21:01] yashykt commented on #11751
channel arg GRPC_ARG_ENABLE_HTTP_PROXY added for this purpose in #15699. Set it to zero to disable http proxy usage.

[2018-06-12 21:01] #11751 closed

[2018-06-12 21:19] hcaseyal opened #15729 "Re-architect call combiner or code that uses call combiner"
### What version of gRPC and what language are you using?
 N/A

### What operating system (Linux, Windows, …) and version?
 N/A

### What runtime / compiler are you using (e.g. python version or version of gcc)
 N/A

### What did you do?
In reading the client_channel code, I saw we had several comments like this:

  // This will release the call combiner.
  GRPC_CLOSURE_SCHED(closures_[0].closure,

[2018-06-12 22:27] #12804 closed

[2018-06-12 22:27] yashykt commented on #15397
This is the same as #14240 address already in use error

[2018-06-12 22:27] #15397 closed

[2018-06-12 22:27] muxi commented on #12810
This should be resolved by CFStream integration in #15069

[2018-06-12 22:27] #12810 closed

[2018-06-12 22:30] muxi commented on #15555
Fixed by #15554

[2018-06-12 22:30] #15555 closed

[2018-06-12 22:31] thisisnotapril commented on #7834
@chetmurthy I'm really sorry you've had a bad experience with this issue. I've asked project leads for more info on this so we can get you an update and resolution. Please feel free to reach out to me direct at anassi@google.com - I'd really appreciate the opportunity to hear more from you on how we can do better.

[2018-06-12 22:42] kpayson64 commented on #15500
In the latest failure it looks like deadline exceeded:
[code]

[2018-06-12 23:10] #13618 closed

[2018-06-12 23:16] muxi commented on #15326
Your BoringSSL seems to be reeeeally old... can you get a newer one? Like 10.0.4 or 10.0.5?

[2018-06-12 23:40] hsaliak commented on #13686
/cc @zpencer who has expressed interest. I am still investigating this topic and will add to this thread as I learn more.

[2018-06-13 00:47] hcaseyal commented on #13680
@adelez Can this be closed? It doesn't look like it's been referenced in a while

[2018-06-13 01:05] hcaseyal commented on #13799
@Zomaka Are you still seeing this issue with the latest version of gRPC?

[2018-06-13 01:20] chetmurthy commented on #7834
@thisisnotapril  I think if you look at this comment: https://github.com/grpc/grpc/issues/7834#issuecomment-288785780 wherein @jboeuf says "let's agree to disagree then .... I will not approve of any APIs that opens the raw validation path to application code", it seems clear that the goal of GRPC is a vertically-integrated stack, wherein developers are prevented from "shooting themselves in the f

[2018-06-13 01:20] hcaseyal commented on #15722
@hehe717 Could you provide a link to the 2016 issue?

[2018-06-13 02:13] fancl20 commented on #15702
Trigger this seems similar to unplug the network cable.

[2018-06-13 02:47] zhaohuang2016 commented on #15326
I used demo pod install and then reported an error.
How does the file helloworld.podspec set the address to download BoringSSL?

[2018-06-13 05:58] meawoppl commented on #14338
I gave this a shot today and traded flaky thread cleanup for segfaults.  The test suite appears to have rotted a bit, so more soon.

[2018-06-13 06:00] thangchung commented on #9441
.NET Core 2.1 is stable at the moment. Do you guys have any plan to work on it?

[2018-06-13 06:06] jskeet commented on #9441
@thangchung: There should be no change required - have you seen problems using gRPC from .NET Core 2.1?

[2018-06-13 06:31] mirzazadeh opened #15731 "failfast for python client?"
It seems disabling failfast for python clients is not implemented. Would be nice to have it.
As a workaround, I tried calling `channel._channel.check_connectivity_state(True)` but it is not as effective (and also it is not async).

[2018-06-13 07:15] mcgradycchen opened #15732 "windows build boringssl error "cannot open input file 'boringssl_gtest.lib'""
### What version of gRPC and what language are you using?
 v1.12.0 and C++

### What operating system (Linux, Windows, …) and version?
Windows 10

### What runtime / compiler are you using (e.g. python version or version of gcc)
Visual Studio 2015 and ninja
CMake 3.11.3

### What did you do?
If possible, provide a recipe for reproducing the error. Try being specific and include code snippets if he

[2018-06-13 07:16] #15732 closed

[2018-06-13 08:59] aparoha commented on #14461
@jskeet ..any update on this issue. I am using grpc.core 1.7.1 and facing same issue while accessing google pub sub.

Status(StatusCode=Unauthenticated, Detail="Getting metadata from plugin failed with error: Exception occured in metadata credentials plugin.")
Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Getting metadata from plugin failed with error: Exception occured in met

[2018-06-13 10:27] #15724 closed

[2018-06-13 10:42] jskeet commented on #14461
@aparoha: If you're using Grpc.Core 1.7.1 that would suggest you're using an old version of the PubSub library too. I would *at least* recommend updating to a new version of Google.Cloud.PubSub.V1, which will pull in a newer version of Grpc.Core - and a newer version of Google.Apis.Auth. We've made some changes that *may* help avoid the problem happening, but this issue is more about how useful th

[2018-06-13 11:45] zyearn opened #15734 "What are the five extra bytes before the serialization result of protobuf in H2 body"
Hi,

I am writing a server(not using grpc) that can work with grpc C++client. The HTTP/2 part is working perfectly: header and data can be received correctly. But when I deserialize h2 body from grpc client, I found that the body is in the following format: (it is a simple struct with a string 'world' and a integer 1234)

00 00 00 00 0d 0a 05 77 6f 72 6c 64 12 04 31 32 33 34

which can not be dese

[2018-06-13 14:42] ericgribkoff commented on #15734
Yes, gRPC sends length-prefixed messages: see https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md, specifically the definition for `Length-Prefixed-Message`. The prefix contains a flag indicating if the message is compressed as well as the message length; keep in mind that a gRPC stream can contain multiple messages.

I'm closing this issue, as there's nothing actionable on the gRPC sid

[2018-06-13 14:42] #15734 closed

[2018-06-13 15:30] crazed opened #15735 "Support for dynamic SSL on the client side"
### What version of gRPC and what language are you using?

1.12.0 on Python

### What operating system (Linux, Windows, …) and version?

Linux

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python 2.7.14

### What did you do?

Try to use dynamic client side TLS certificates, in this case we are utilizing Hashicorp's Vault PKI backend to roll client certificates

[2018-06-13 16:43] muxi commented on #15326
I can think of checking two things:
* Check if your pods are up to date - with `pod update` for example
* Check what version of gRPC you are using. The v1.13.x branch is still RC so Cocoapods might not get you the newest version automatically. If you want to force it, try annotate [this line](https://github.com/grpc/grpc/blob/master/examples/objective-c/helloworld/HelloWorld.podspec#L56) with vers

[2018-06-13 16:54] ghostwriternr opened #15736 "Bazel can't compile Cython code that uses files not used by any existing build rule"
### What version of gRPC and what language are you using?

gRPC version: 1.13.0-dev (Built from source)
Language: Python

### What operating system (Linux, Windows, …) and version?

Operating System: Ubuntu
Version: 16.04 Xenial
Kernel: Kernel: x86_64 Linux 4.13.0-1013-gcp

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python version: 2.7.12 (Probably not relev

[2018-06-13 17:00] hcaseyal commented on #5645
Talked to @ncteisen and he said this was a bug

[2018-06-13 17:08] ncteisen commented on #5645
It is a well known issue with core that the first request made after restarting a server will fail. This is because when the client isn't sending requests it isn't polling, and thus will not be able notice that the connection is broken.

This can be mitigated with `GRPC_CLIENT_CHANNEL_BACKUP_POLL_INTERVAL_MS`. See https://github.com/grpc/grpc/blob/master/doc/environment_variables.md for more detai

[2018-06-13 17:17] ghostwriternr opened #15737 "Bazel can't compile Cython code that use files from core not within public header files"
### What version of gRPC and what language are you using?

gRPC version: 1.13.0-dev (Built from source)
Language: Python

### What operating system (Linux, Windows, …) and version?

Operating System: Ubuntu
Version: 16.04 Xenial
Kernel: Kernel: x86_64 Linux 4.13.0-1013-gcp

### What runtime / compiler are you using (e.g. python version or version of gcc)

Python version: 2.7.12 (Probably not relev

[2018-06-13 17:22] nicolasnoble commented on #15737
There needs to be a visibility allowance being added between the two targets - I think that's the whole point :-)

[2018-06-13 17:28] mehrdada commented on #15731
Dupe of https://github.com/grpc/grpc/issues/6770

[2018-06-13 17:28] #15731 closed

[2018-06-13 17:28] nathanielmanistaatgoogle commented on #15731
@mirzazadeh: this smells like a duplicate of [issue 6770](https://github.com/grpc/grpc/issues/6770); do you agree?

[2018-06-13 17:32] frankpinto opened #15738 "Python max receive message length not respected"
### What version of gRPC and what language are you using?
Python pip module grpcio v1.12.1
Python pip module grpcio-tools v1.12.1
Python pip module protobuf v3.5.1

### What operating system (Linux, Windows, …) and version?
 `lsb_release -a`
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

`uname -a`
Linux lendbuzz 4.4.0-87-generic #110-Ubuntu

[2018-06-13 17:33] #15720 closed

[2018-06-13 17:35] #5645 closed

[2018-06-13 17:36] ghostwriternr commented on #15737
Are you suggesting this would then be a Bazel 'visibility' specific issue and not core itself? I have indeed set the default visibility for all my BUILD files (and WORKSPACE) to `public`. So would this then be a matter of listing these files under `srcs` or `deps` in the relevant target's build rules in the core BUILD file (currently at the project root)? If so, I can try and find out which target

[2018-06-13 17:42] muxi commented on #15704
The `gRPC-C++` podspec is experimental at current state and is only supposed to work without protobuf support. To make it work with protobuf I think it would make sense to add these files as a non-default subspec of `gRPC-C++`.

[2018-06-13 17:44] adelez commented on #15710
I looks like the same as #14730

[2018-06-13 17:44] #15710 closed

[2018-06-13 17:48] ncteisen commented on #15702
Can you try running and setting GRPC_CLIENT_CHANNEL_BACKUP_POLL_INTERVAL_MS? See https://github.com/grpc/grpc/blob/master/doc/environment_variables.md for more details on that

[2018-06-13 17:48] anirbanroy33 commented on #15430
As mentioned earlier, it occurs randomly without any known triggers.

[2018-06-13 17:49] #15641 closed

[2018-06-13 17:57] ncteisen commented on #15430
Without a good repro (even if it is not deterministic), there is very little we can do.

Please reopen if you are able to produce one

[2018-06-13 17:57] #15430 closed

[2018-06-13 18:03] muxi commented on #15704
Actually that still dooes not work since we would need to depend on protobuf C++ podspec, which is not there.

[2018-06-13 18:22] nicolasnoble commented on #15737
Right - these files inside of the iomgr are set as `srcs`, while they'd need to be put as `hdrs`. The difference between the two is that a file that's in the `hdrs` section can be referenced by another target, while a file in the `srcs` section can only be referenced by the library itself.

It was the case before that nobody was supposed to use these files outside of the iomgr itself, but that's n

[2018-06-13 18:39] ejona86 commented on #15722
For completeness, grpc/grpc-java#1886 is the referenced issue on grpc-java. There's not yet anything for this and it would need a cross-language effort.

[2018-06-13 18:45] hcaseyal commented on #10168
@cuadue Thanks for the documentation suggestion. #15740 will fix the documentation.

@mrapavy @juanjoDiaz @luomavaltteri As demonstrated in cuadue's code snippet, you can check for the port-binding error after calling BuildAndStart(). I'm closing the issue for now, please re-open if anything is still unclear.

[2018-06-13 18:45] #10168 closed

[2018-06-13 18:48] mirzazadeh commented on #15731
Yes, I agree, but IMO this is not P2. It makes grpc python client quite unreliable. Unless there is a good workaround.

[2018-06-13 18:55] mehrdada commented on #15731
@mirzazadeh  Let's take the discussion to the original issue #6770. It's better to have it unified there.

I'd be interested in hearing more about your scenario in which you see gRPC Python as unreliable in comments on #6770.

While I feel your pain, as you can see in the issue tracker, we have not had *that many* requests to add this urgently in the past two years. We, being an open source projec

[2018-06-13 18:58] evanj commented on #15334
Re: server support: I need gRPCs servers to be able to fork() and exec() to do work that then gets captured by the original parent process, without gRPC interfering. We've [run into cases where gRPC logging messages get written to the new stdout/stderr in this subprocess](https://github.com/grpc/grpc/issues/13873#issuecomment-372409083), which causes problems when we then try to use that output.

[2018-06-13 19:36] srini100 opened #15741 "Stabilize and document compression support API in gRPC-Python on client and server side"
There is test code to show how compression on client and server side can be done in gRPC-Python. This should be documented in user manual with example code.

Compression in Python is supported via metadata arguments. https://github.com/grpc/grpc/blob/master/src/python/grpcio_tests/tests/unit/_compression_test.py

[2018-06-13 19:37] srini100 commented on #4078
Compression in Python is supported via metadata arguments. You can find an example here: https://github.com/grpc/grpc/blob/master/src/python/grpcio_tests/tests/unit/_compression_test.py

This issue can be closed. Documentation issue is tracked in https://github.com/grpc/grpc/issues/15741

[2018-06-13 19:37] #4078 closed

[2018-06-13 19:44] juanjoDiaz commented on #10168
Thanks for the follow-up!

@hcaseyal I actually switch to C# recently and it has the same problem. How could I do the check on C#?

[2018-06-13 19:50] hcaseyal commented on #15722
Closing because question is answered and future updates on this topic should be posted to grpc/grpc-java#1886

[2018-06-13 19:50] #15722 closed

[2018-06-13 19:56] #10330 closed

[2018-06-13 19:59] hcaseyal commented on #10168
@juanjoDiaz Adding in someone who is more familiar with C# into the conversation, @jtattermusch

[2018-06-13 20:01] kpayson64 commented on #14258
I think this issue should also be mitigated by #14647.

Even without disabling fork support, 14647 will skip the handlers if there are outstanding c-core calls.

[2018-06-13 20:01] #14258 closed

[2018-06-13 20:34] mehrdada commented on #15741
I'm a bit reluctant to document the feature as is. We should probably consider exposing some of the common channel args via a nicer API and document *that* instead.

[2018-06-13 20:46] apolcyn opened #15742 "bazel test failure: //test/core/end2end:h2_ssl_proxy_test@cancel_in_a_vacuum@poller=poll "permission denied" bind failure"
[code]

https://source.cloud.google.com/results/invocations/b24dc172-cb1d-4293-a364-0f4db5dd4fa8/targets

noticed in https://github.com/grpc/grpc/pull/15490

[2018-06-13 20:48] meawoppl commented on #12531
I am now encountering *segfaults*, this particular use case is monitored in a python thread to add to the tracing confusion. I am seeing if I can Smith a reproduction outside of that scope

[2018-06-13 20:57] kpayson64 opened #15743 "Enable unit._session_cache_test.SSLSessionCacheTest.testSSLSessionCacheLRU for gevent"
#15693
This test started flaking on gevent since the feature was added, need to figure out why.

[2018-06-13 21:10] #15579 closed

[2018-06-13 21:26] apolcyn opened #15745 "Interop flake: cloud_to_cloud:go:java_server:timeout_on_sleeping_server"
Noticed this on PR: https://github.com/grpc/grpc/pull/15490

[code]

https://source.cloud.google.com/results/invocations/b24dc172-cb1d-4293-a364-0f4db5dd4fa8/targets

[2018-06-13 22:18] #15693 closed

[2018-06-13 22:51] ejona86 commented on #15745
It seems the server noticed the deadline before the client. @dfawley, does the client double-check the deadline when the response is CANCELLED?

[2018-06-13 23:21] dfawley commented on #15745
tl;dr: There is a race here, we do have a place where we could catch it, but it is not 100% reliable.  Also, note that this race is impossible to fully avoid in the real world due to clock skew (i.e. frequency, not absolute time).

Details:

When the RST_STREAM comes, the stream is immediately closed and CANCELLED is latched into its status:

https://github.com/grpc/grpc-go/blob/107f19369e55f2361c

[2018-06-13 23:43] ejona86 commented on #15745
I agree, but the skew has to be bad enough to overcome 1 RTT + 2x server processing + 2x client processing. That's more likely if you have a really big deadline, but still seems pretty rare.

For reference, this is where Java does the double-check:
https://github.com/grpc/grpc-java/blob/v1.12.0/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L569

C does something similar. This seems a "Go

[2018-06-14 00:03] kpayson64 opened #15751 "tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh Flake"
https://source.cloud.google.com/results/invocations/1a4d7a16-5f03-4870-ab4e-dbfe2060df9a/targets/github%2Fgrpc%2Fruby_macos_dbg_native/tests

[code]

[2018-06-14 00:06] kpayson64 opened #15752 "//test/cpp/end2end:grpclb_end2end_test@poller=poll-cv Flake"
https://source.cloud.google.com/results/invocations/d21567c9-a9f2-4fd1-b480-2c8fb50c84ad/targets/%2F%2Ftest%2Fcpp%2Fend2end:grpclb_end2end_test@poller%3Dpoll-cv/tests

[2018-06-14 00:10] ncteisen opened #15753 "Flake: py27_gevent.test.unit._metadata_test.MetadataTest Run"
https://source.cloud.google.com/results/invocations/305ba304-efa0-4c8f-ae66-5a7c570117ed/targets/github%2Fgrpc%2Fpython_linux_opt_gevent/tests

[2018-06-14 00:11] ncteisen commented on #8694
Closed by #15678

[2018-06-14 00:11] #8694 closed

[2018-06-14 00:14] #14257 closed

[2018-06-14 01:13] nicolasnoble commented on #13602
Do we want to make this part of some documentation inside of the gRPC repository itself ?

[2018-06-14 01:14] nicolasnoble commented on #13602
Or even better: should we have a warning or something inside of the gRPC python code that would be displayed once per process that the python2.7 support will fully end at that date and that no further releases will happen past it ?

[2018-06-14 01:47] nathanielmanistaatgoogle commented on #13602
@nicolasnoble: yes, I think, to both. The documentation can go up any time but my first instinct about a warning in the code itself is for it to go live on 2019-07-01.

[2018-06-14 03:56] nicolasnoble commented on #13602
Should we make it an awkward `if currentdate > 2019-07-01... ` ? That's a bit timebomby, but harmless.

[2018-06-14 04:00] nathanielmanistaatgoogle commented on #13602
I'm open to that, sure.

[2018-06-14 07:30] zhaohuang2016 commented on #15326
I upgraded the pods. It's OK to try again. Thanks for your help.

[2018-06-14 08:07] fancl20 commented on #15702
GRPC_CLIENT_CHANNEL_BACKUP_POLL_INTERVAL_MS seems to work. The bug still can't stable reproduced so I can't confirm it works.

[2018-06-14 09:18] pascalwhoop opened #15756 "Failed Accept4 in Python on 1.12 when using Keras in same program"
v.1.12.1 with python on 18.04 ubuntu
gcc 7.3.0

### What did you do?
I am running GRPC (server) and Keras in a program. The program receives messages via GRPC and then passes them to a Keras model. the Keras Model is using sequence generators and multiprocessing. The server has 1 cllient connected with 3 open response streams that are waiting for a blocking queue to yield more items.

### What did

[2018-06-14 13:21] emmenlau commented on #9526
I did not test this in a long time, maybe @bc-lee can comment?

[2018-06-14 13:22] nathan-prat commented on #14899
Hello,

If I am not mystaken, only the cpp benchmark is unexpectedly slow right? Not the cpp async server itself?

I have tested locally using a basic bench with
- greeter_async_server.cc: raw from github
- greeter_async_client2.cc: modified to send 1M requests; configurable nb of req in flight; and wait for all the responses at the end

With this I get around 73k-51k qps, depending on the latency

[2018-06-14 13:35] ghostwriternr commented on #15737
@nicolasnoble thanks for the clarification! Like I had described in the issue, I'm currently using gRPC as a third-party Bazel project when I run into this problem. I'll experiment with these changes on my fork and send a patch upstream if I find that it's absolutely necessary to expose these files.

[2018-06-14 14:16] dpsenner opened #15757 "Add functionality to allow dependency injection via ServerCallContext"
### What version of gRPC and what language are you using?

1.12.0 csharp

### What operating system (Linux, Windows, …) and version?

Linux, Windows

### What runtime / compiler are you using (e.g. python version or version of gcc)

msbuild

### What did you do?

We wanted to implement a server application that makes some nifty use of dependency injection. To do so we make use of the Inceptor api

[2018-06-14 14:21] ncteisen commented on #15702
Sounds good, I will close for now.

This solution obviously has a race condition (if a server restarts, and then client makes another RPC before the backup poll occurs). This is something that will eventually be fixed by [transparent retries](https://github.com/grpc/proposal/blob/master/A6-client-retries.md#transparent-retries)

[2018-06-14 14:21] #15702 closed

[2018-06-14 14:28] ncteisen commented on #9526
I actually am able to reproduce the double free on my mac. Not exactly sure what this test is doing but I looked back in time and saw that it was introduced in #8377

@htuch, can you chime in on what this test is accomplishing? Is it still relevant?

[2018-06-14 16:43] muxi commented on #15326
Cool. Glad it worked out.

[2018-06-14 17:08] sreecha opened #15759 "Prevent epollex from creating an fd per call in case of sync client API"
(1) When using the sync-client API, every Call creates a new completion queue (thereby a new `pollset`)
   - In case of `epollex` polling engine, the completion-queue's `pollset` will be of type `PO_EMTPY`

(2) When the Call is made on a channel, the client channel filter code *may* "attach" the channel's `interested_parties` (i.e `pollset_set` that contains all the sub-channel fds) to the Call's

[2018-06-14 17:13] sreecha opened #15760 "epollex: Errors due to `pollable` accessing a potentially orphaned `owner_fd`"
in epollex implementation, the `pollable` struct (see below) does not maintain a ref to `owner_fd`

[code]
Since a `pollable` can outlive its `owner_fd`, the `owner_fd` could be orphaned/destroyed without the `pollable` knowing about it - and this causes a problem if the `pollable` tries to access `owner_fd` later (for example, see the function `pollset_add_fd_locked()` that tries to access the `o

[2018-06-14 17:37] nathanielmanistaatgoogle commented on #261
Fun fact: we have recently upgraded our use of Pylint. :-)

[2018-06-14 17:41] nathanielmanistaatgoogle commented on #3042
The more I think about this... the less urgent it seems like a thing to need to do. There's also a relationship between this and [issue 13782](https://github.com/grpc/grpc/issues/13782).

But I wouldn't yet say "no" to this or close the issue...

[2018-06-14 17:46] nathanielmanistaatgoogle commented on #4473
I strongly suspect that this is going to be one of those needs that we address by waving our hands and saying "Bazel will solve this along with all other build issues".

... but for the moment let's keep it open.

[2018-06-14 17:47] nathanielmanistaatgoogle commented on #4545
This issue probably deserves a fresh assessment and a more detailed description.

[2018-06-14 17:53] hsaliak commented on #4545
Example repo is linked into from https://grpc.io/docs/guides/error.html So closing this issue.

[2018-06-14 17:53] #4545 closed

[2018-06-14 17:54] nathanielmanistaatgoogle commented on #5300
This would be a great thing to include in a sans I/O gRPC Python...

[2018-06-14 17:56] nathanielmanistaatgoogle commented on #14876
Yes this is something we want to do but... closing this issue as a duplicate of [issue 6046](https://github.com/grpc/grpc/issues/6046).

[2018-06-14 17:56] #14876 closed

[2018-06-14 18:00] nathanielmanistaatgoogle commented on #14172
Closing this; I've thought about it for a long time and I just don't think it's a good idea. There's no harm to having an empty file be generated; applications can simply not use it. [Also the file might not be empty forever.](https://github.com/grpc/grpc/issues/3898)

It's somewhat analogous to the API design decision of "if you write a function that returns a list of results, and a particular ca

[2018-06-14 18:00] #14172 closed

[2018-06-14 19:05] smflorentino commented on #15633
@jtattermusch I'm re-deploying with that version, and will give it a try.

[2018-06-14 19:43] ncteisen opened #15764 "[gRPC C++] Support True Custom Serialization and Generic"
This change intends to add support for several critical use cases:
- Only one method needs customs serialization, the rest use proto
- Generic users still benefit from our codegen
- Custom serialization is supported between arbitrary C++ class and ByteBuffer
- Imbalanced generic support (request is proto, response is custom ByteBuffer)

This project will occur in several steps:
- [x] Server suppor

[2018-06-14 19:49] mehrdada commented on #261
Downgrading to p3 as the dry-run shows `tools/` scripts need a non-trivial amount of work and not as high priority to pylint as the the core python runtime.

[2018-06-14 19:52] nathanielmanistaatgoogle commented on #8734
Making servers restartable might be complicated by the current server lifecycle and the fact that servers get created, then ports get added to them, then they get started, and then they get stopped.

Should a server hang onto its ports after being stopped just in case it gets started again? I suspect not. Should a server remember on which ports it was serving before and attempt to serve on those p

[2018-06-14 19:55] kpayson64 commented on #8734
I don't think this feature is needed.  Feel free to close.

[2018-06-14 19:57] nathanielmanistaatgoogle commented on #8079
Followers and fans of this issue who may not have heard through any other channel: [@ghostwriternr is actively working on building gRPC Python with Bazel](https://summerofcode.withgoogle.com/projects/#6482576244473856).

[2018-06-14 20:04] nathanielmanistaatgoogle commented on #9450
I don't have a timeline for it, but I suspect the resolution of this issue will be something along the lines of "gRPC Python Protoc Plug-In delegates all decision-making about module imports and uses in generated Python code to a part of Protoc exposed as a library". @acozzette and I started on that implementing just that more than a year ago and while I haven't finished what I drafted, I also hav

[2018-06-14 20:05] nathanielmanistaatgoogle commented on #10790
I don't have a timeline for it, but I suspect the resolution of this issue will be something along the lines of "gRPC Python Protoc Plug-In delegates all decision-making about module imports and uses in generated Python code to a part of Protoc exposed as a library". @acozzette and I started on that implementing just that more than a year ago and while I haven't finished what I drafted, I also hav

[2018-06-14 20:36] mehrdada commented on #15338
There are two separate things here:

- Being able to register a **gRPC handler** to get invoked as a fall back: you can already accomplish this via a server-side interceptor or a `generic_rpc_handler` in gRPC Python.
- Being able to multiple

[2018-06-14 20:52] mehrdada commented on #261
Decided to close this bug as Fixed by #15682 among other things.

Will file separate issues to pylint `examples/python` and `tools` as they should be separately prioritized and/or owned.

[2018-06-14 20:52] #261 closed

[2018-06-14 20:58] yashykt commented on #15742
This might be due to the same reason as #15610
@adelez can the same thing be done here?

[2018-06-14 21:17] #14621 closed

[2018-06-14 21:22] adelez commented on #15742
#15610 is not fixed. We are waiting for Foundry's fix. The test was simply skipped b/c it fails 100%. I don't think we should skip this test too.

[2018-06-14 21:36] yashykt opened #15766 "Basic Tests MacOS [opt] bins/opt/h2_full_test invoke_large_request GRPC_POLL_STRATEGY=poll"
Failed at #15698

[code]

[2018-06-14 21:39] yashykt commented on #15766
This is a possible flaky test

[2018-06-14 21:39] #9561 closed

[2018-06-14 21:40] yashykt commented on #9561
Now grpc would always look at 'https_proxy' and fallback on 'http_proxy' irrespective of whether the channel is  secure or insecure

[2018-06-14 21:41] mehrdada opened #15768 "Run pylint on examples/python"
Pylint has been hugely beneficial to the gRPC Python codebase (https://github.com/grpc/grpc/issues/261). It should be expanded to cover examples as well.

[2018-06-14 21:45] mehrdada opened #15769 "pylint all the *.py things! (in tools/, ...)"
Static analysis has brought us nice things. `pylint` now runs on the gRPC Python codebase and tests (#261).  In addition to [running `shellcheck` on *.sh](https://github.com/grpc/grpc/issues/11601), we should aim to run `pylint` on all `*.py` in the project to catch bugs.

[2018-06-14 21:53] mehrdada opened #15770 "Return to official manylinux1 docker image when Python 3.7 ships"
We had to roll our own docker image base to build Python3.7 binary wheels for `manylinux1` platform. This is supposed to be temporary and this work item tracks going back to the official docker image after it distributes python3.7.

[grpc_artifact_python_manylinux_x64/Dockerfile](https://github.com/grpc/grpc/blob/master/tools/dockerfile/grpc_artifact_python_manylinux_x64/Dockerfile#L17)

[grpc_art

[2018-06-14 22:06] mehrdada opened #15772 "Run examples in Python distribtests"
It'd be great if distribtests verified that the examples we ship under `src/python` run properly by testing them alongside prebuilt gRPC packages.

[2018-06-14 22:29] adelez commented on #15742
This os_error is different from #15610, which is "Cannot assign requested address".

[2018-06-15 05:30] eschgi commented on #15757
+1

[2018-06-15 06:17] mehrdada commented on #15191
@theacodes Python3.7 packages for Linux are uploaded for v1.13.0rc1! We've decided to wait before deploying Python3.7 on the Windows and macOS workers after the final release of Python 3.7 later this month.

[2018-06-15 06:36] hzdx200 commented on #4100
pip install grpcio

[2018-06-15 08:20] cepages commented on #15704
Hi @muxi

Thanks for your answer. Yeah it won't work if you don't have the protobuff static libraries in your project.

Would it be wrong if we include this headers in the podspec anyway. Both libraries work so close together that it makes sense to add these files in the grpc pod spec.

I know that doing this would need to add the protobuff libraries, but as I understand those headers are from the

[2018-06-15 17:55] dgquintas commented on #15752
Looks like an infrastructure problem:
[code]
The server is failing to bind to the request address:port due to it being already in use.

[2018-06-15 20:32] muxi commented on #15704
I think it makes sense as long as the cocoapods linter is good with that,
and I think these headers should not be in the same pod spec but in a
non-default subspec. I'll give that a try next week (or contribution is
welcome as always :)

On Fri, Jun 15, 2018 at 1:21 AM Carlos Pages <notifications@github.com>
wrote:

[2018-06-15 21:11] dgquintas commented on #15728
We have some special needs in our version of the proto due to the use of nanopb. In particular, see https://github.com/grpc/grpc/blob/master/src/proto/grpc/lb/v1/load_balancer.proto#L19-L31 as well as not not having access to type names such as `google.protobuf.Timestamp` (which is why we define the types ourselves).

I presume Java and Go could use the [core version's](https://github.com/grpc/grp

[2018-06-15 21:13] carl-mastrangelo commented on #15728
@dgquintas I had seen this for some of the other protos.  I think a possible way forward is to make copies of the google/protobuf/timestamp.proto file, rather than the message.

[2018-06-15 21:17] dgquintas commented on #15728
Given how small the types are, why not include them as we do in core instead of having another moving piece?

[2018-06-15 21:19] ejona86 commented on #15728
Because you changed the schema. The packages are now different and the JSON handling is different. Multiple built-in types have special handling by protobuf.

[2018-06-15 21:21] dgquintas commented on #15728
I see. I'll experiment (read, fight with nanopb) using a copy of the file.

[2018-06-15 21:30] ZhouyihaiDing commented on #15582
Timeout still exists. `macos` tests:
https://source.cloud.google.com/results/invocations/8f3529cd-0b55-4eca-88a9-c44154bcb2a4
https://source.cloud.google.com/results/invocations/bed085e7-91d0-4548-9750-9a81e7519f10

[2018-06-15 21:33] carl-mastrangelo commented on #15728
@dgquintas also, if you have rapport with nanopb you could file an issue to treat well known types the same as protoc.  (in the future, of course)

[2018-06-15 22:10] hcaseyal commented on #10281
Just ran BM_IsolatedCall_NoOp, and it's showing a CPU time of **349ns**

[2018-06-15 22:16] dgquintas commented on #15728
I can, and will, certainly file a feature request with them.

[2018-06-15 22:29] yashykt commented on #15766
This might be related to #15599 .
It might be still worth to keep it open because that is a bit too general

[2018-06-15 23:17] frankpinto commented on #15738
I see the tags @hcaseyal, any idea whether this will be looked into soon or if we should seek some alternative solution? Major hinderance to business right now as they're documents for loan applications

[2018-06-16 09:20] andre2007 opened #15786 "Rewrite of core with Better C"
Did you already considered rewriting the core of gRPC with Better C?

Some benefits of Better C:
- memory safety
- compile time function execution
- functional programming support
- no make file necessary anymore as building is much more easy
- a lot of more ...

Better C is binary compatible to C. Nothing changes for the other language which relies on of the core package. Rewriting is very easy,

[2018-06-17 05:09] #10754 closed

[2018-06-17 06:18] nicolasnoble commented on #15786
That is definitely not going to happen. gRPC needs to build from sources out of the box for Ruby, Python, etc. The only required dependency on native extension packages for these languages is only a C compiler.

Doing this kind of change would make it impossible for these source packages to build properly out of the box on anyone's machine.

[2018-06-17 06:18] #15786 closed

[2018-06-17 21:10] #8734 closed

[2018-06-18 15:35] frankpinto commented on #15738
@kpayson64 same question, what's your best guess?

[2018-06-18 16:31] hcaseyal commented on #10281
Closing because BM_IsolatedCall_NoOp currently shows CPU time is ~349ns (plus or minus some noise) and that seems close enough to 300ns. Moreover, the target of 300ns seems to have been chosen arbitrarily.

[2018-06-18 16:31] #10281 closed

[2018-06-18 17:29] hcaseyal commented on #14620
Changing priority label because of incorrect triaging.

[2018-06-18 17:29] hcaseyal commented on #11678
Changing priority label because of incorrect triaging

[2018-06-18 17:30] hcaseyal commented on #6395
Changing priority because of incorrect triaging.

[2018-06-18 17:55] ncteisen commented on #15753
This was fixed in #15758

[2018-06-18 17:55] #15753 closed

[2018-06-18 22:21] apolcyn commented on #15434
Seen again, but this time tests failed rather than timed out:

[code]

https://source.cloud.google.com/results/invocations/bc75bb99-9484-48fb-b494-f8dab5c38b88/targets/grpc%2Fcore%2Fpull_request%2Flinux%2Fgrpc_interop_alts/log

PR which was unrelated: https://github.com/grpc/grpc/pull/15377

[2018-06-18 22:28] jiangtaoli2016 commented on #15434
running on master is all green
https://fusion.corp.google.com/projectanalysis/current/KOKORO/prod:grpc%2Fcore%2Fmaster%2Flinux%2Fgrpc_interop_alts
test flakiness?

[2018-06-19 00:11] Wisgary commented on #15623
Side question, will this retry layer handle "GOAWAY received" errors?

[2018-06-19 02:46] bunnyc1986 commented on #11685
Is there a walk around solution for python to do load balancing based on name resolving currently?

[2018-06-19 14:57] jtattermusch opened #15803 "PHP distribtest broken: distribtest.php_linux_x64_jessie"
The distribtest php_linux_x64_jessie is broken consistently
[code]

https://source.cloud.google.com/results/invocations/787f7c10-1a5e-4b2d-b5ba-8493fa545ea6/targets/github%2Fgrpc/tests

[2018-06-19 15:00] jtattermusch commented on #15803
@dgquintas   it looks the the problem might have to do with your PR https://github.com/grpc/grpc/pull/15595. Please help with fixing.

[2018-06-19 15:01] jtattermusch commented on #15803
Also failing on MacOS
https://source.cloud.google.com/results/invocations/6ed9981e-f2b3-4f47-a4b0-396fbe330d53/targets/github%2Fgrpc/tests

[2018-06-19 15:08] jtattermusch commented on #15628
@apolcyn  any ideas?

[2018-06-19 15:13] jtattermusch commented on #15657
@muxi  any thoughts?

[2018-06-19 15:59] frankpinto commented on #15738
This fixed it @kpayson64 thanks, closing.

[2018-06-19 15:59] #15738 closed

[2018-06-19 17:28] muxi commented on #15657
The tests methods does take time to build and run; the numbers inside objc suite makes sense to me. The difference might be from the [build steps](https://github.com/grpc/grpc/blob/master/tools/run_tests/run_tests.py#L1134) but 15 minutes just for that is a bit ridiculous. Is there any way we can look into the logs of the build steps?

A few thoughts about the test methods:
* Build tests in `examp

[2018-06-19 17:40] crocodilered commented on #15507
`npm install firebase --force` worked for me ^^. Thanks guys!

[2018-06-19 17:42] Wisgary commented on #15623
@jtattermusch

Hi Jan!
You mentioned building a retry interceptor. I was trying to make one but hit a snag. Trying to mark the AsyncUnaryCall interceptor override as async (so I can await the call and catch resulting errors) seems like it should work because AsyncUnaryCall implements GetAwaiter - but I get this error when building instead:

      Error	CS1983	The return type of an async method mus

[2018-06-19 17:51] vadimi commented on #15623
@Wisgary this is how I'm using interceptors to retry `AsyncUnaryCall` (but also waiting on retries in grpc core):

[code]
Hope this helps.

[2018-06-19 18:28] srini100 commented on #15756
@dgquintas, can you please check if anything obvious here?

[2018-06-19 18:35] pascalwhoop commented on #15756
Before trying to build a minimal prototype that reproduces the issue which I can put on pastebin etc, I want to hear if this is generally a possibility as both tools use protobufs and it could be a dependency issue that one can run into without intending to. Or it's something on the network stack, although I wouldn't know why keras/tensorflow uses the network stack.

It's [this project] (https://g

[2018-06-19 19:06] dgquintas commented on #15803
@ZhouyihaiDing can you show me where are the `CFLAGS` or similar (in particular, the `-I` argument(s) to the compiler) are setup for PHP? We just need to add `-Ithird_party/nanopb` to the compiler args.

[2018-06-19 19:09] dgquintas commented on #15756
I remember [a similar issue](https://github.com/grpc/grpc/issues/10002) from about a year ago @yang-g debugged. @yang-g , was it fixed somehow or did we just stop seeing the error?

[2018-06-19 20:15] mehrdada commented on #15735
We are definitely happy to review PRs that implement this, as we have on the server side.  I don't foresee we'll have resources in immediate term to tackle this problem ourselves though.

[2018-06-19 21:09] ZhouyihaiDing commented on #15803
Hi @dgquintas , here are the config file for [linux/mac](https://github.com/grpc/grpc/blob/master/config.m4#L10:3) and [windows](https://github.com/grpc/grpc/blob/master/config.w32#L647:75). Should we also add `-D PB_FIELD_32BIT=1`?

[2018-06-19 21:47] dgquintas commented on #15803
yeah, that PR #15806 looks good. I thought PHP got its build params from cmake, sorry about this.

[2018-06-19 21:50] vaurelios commented on #15288
@murgatroid99

Please note that both commands below result in same error:

[code]
[code]

Yeah, it still tries do download the 1.10 version.